[2022-04-20 19:04] awanlin commented on #10962
Hi @KariemSoudy, your config looks good. The part that is a bit odd is the reference to `getOctokitOptions`, Octokit is GitHub stuff. Could you post the template YAML you are using? Is it this one? https://github.com/backstage/software-templates/blob/main/scaffolder-templates/docs-template/template.yaml If it is this is geared to GitHub and won't work with Azure DevOps

[2022-04-20 20:05] dweber019 commented on #10955
Do you have a use case where release-manifests is used in a browser? URL, action in Backstage...

[2022-04-20 21:20] KariemSoudy commented on #10962
Hi @awanlin , yes this is the template I'm using, i just tweaked it a bit and added dev.azure.com to allowedHosts
If this is only for GitHub, can you guide me on how to configure it to azure ?

Thank you

[2022-04-20 22:09] dweber019 commented on #10955
As far as I could see `release-manifests` is only used in `@backstage/cli`.

[2022-04-20 22:41] #10911 closed

[2022-04-21 02:43] kuangp commented on #7041
Took a stab at this in the linked PR using a different approach. Let me know what everyone thinks!

[2022-04-21 05:00] NishkarshRaj opened #10983 "Unable to Sign-In post upgrade to v1.1.1"
## Expected Behavior

A user is able to sign in with supported auth mechanisms.

For our Portal, we support auth with GitLab (Only Dev Environments) & Ping for All environments.

## Actual Behavior

Post upgrading Backstage to v1.1.1, we get an error and are unable to sign in.

Most probably we missed something on our end during the upgrade process but would love to understand the root cause.

It

[2022-04-21 07:05] NishkarshRaj commented on #10983
Got the answer to our problem in Discord

https://github.com/backstage/backstage/blob/master/plugins/auth-backend/CHANGELOG.md#0130
https://backstage.io/docs/auth/identity-resolver

Closing the ticket!

[2022-04-21 07:05] #10983 closed

[2022-04-21 07:36] pjungermann opened #10989 "[TechDocs] Infinite Loading if no index.md is available (since 1.1.0)"
## Expected Behavior

Docs tab attempts to load and then fails visibly and maybe recommends actions (e.g., no index page found. This is where you can find more details on what you need to do)

## Actual Behavior

Attempts to load index.html and request fails with 404, but for the user it continues to "load" infinitely.

[code]

[code]

## Steps to Reproduce

1. Registered component with annotation

[2022-04-21 07:42] martinohmann commented on #10989
Hi there!

I was about to report the same issue but just found this one right before submitting so I'll add the information I gathered here instead of opening a separate issue.

Given the following repository layout:

[code]

Note that there is no `index.md` or `README.md` in the docs directory. The repo was relying on the pre-1.1.0 behaviour where the `README.md` in the repository root would be a

[2022-04-21 08:14] #10772 closed

[2022-04-21 08:19] jhaals commented on #10907
Sounds like a good idea, feel free to send a PR/MR 😄 👍

[2022-04-21 08:24] jhaals commented on #10854
That's very far back unfortunately. The best way forward is probably to create a new app and forklift whatever configuration or custom settings that you might have.

[2022-04-21 08:37] jhaals commented on #10776
Ping @awanlin and @marleypowell, do you have any input to this problem 🤞

[2022-04-21 08:39] jhaals commented on #10661
You need to first fork the repository and then create a PR towards our repository

[2022-04-21 09:31] shimmieblum commented on #9086
Thanks!

[2022-04-21 09:56] Rugvip commented on #10807
The access token is not stored in a cookie and is thrown away on logout. I will say that invalidation is something we should be adding to the passport integration in the auth backend, but that's not there yet.

What access token are you talking about in this case? Have you set up any custom access control of the Backstage APIs? The backstage APIs aren't protected by default. Might be that this is

[2022-04-21 11:34] Xantier commented on #10603
This is a feature that was noticed missing by one of our clients as well. We can grab this item and put it into our pipeline to start working on it if @ProticM is ok with that?

[2022-04-21 11:38] awanlin commented on #10962
OK, at least we know where the issue is. Sadly I don't have any experience with the Software Templates, we just haven't used them much yet where I work.

@benjdlambert could you help us out here, please? I feel like there must be a way to get this working with Azure DevOps I'm just not sure the places that need to be changed

[2022-04-21 11:47] awanlin commented on #10776
Hi @shailahir, just trying to understand your end goal: as a Software Template user when I run the template it will perform the actions as the current user. Is that a correct statement?

One option that would be worth validating, is to use just a Azure DevOps PAT (Personal Access Token) with the needed scopes. That does work, at least for us using Azure DevOps Server (on-premise), it just won't be

[2022-04-21 12:50] shailahir commented on #10776
Yes @awanlin , you are right.
The requirement is - as a user, I should be able to create a new project in Azure DevOps using software template. It should ask for my credentials and use the access token returned to do the actions [ 1. show the orgs and projects mapping in the form dropdowns ( get this information from rest api using the access token) 2. after selecting the org and project from the

[2022-04-21 12:55] shailahir commented on #10776
And yes If I use the personal access token from Azure Devops it works perfectly. But I am not allowed to use a service account for creating and publishing repo to azure. I must ask the user for credentials using popup and then use the same. And I am using microsoft auth provider (tenantId, clientId, clientSecret)

[2022-04-21 14:05] iammnils opened #11003 "[TechDocs] clicking on an item in the table of contents results in not scrolling to the respective anchor"
## Expected Behavior

When clicking on `Prerequisites` item in the table of contents, the page should scroll to the respective anchor

## Actual Behavior

When clicking on `Prerequisites` item in the table of contents, the page is not scrolling to the respective anchor

## Steps to Reproduce

1. Go to https://demo.backstage.io/docs/default/component/backstage/getting-started/running-backstage-loca

[2022-04-21 14:39] shailahir commented on #10962
If you are using publish:github action step in template.yml, try after changing it to publish:azure

[2022-04-21 14:43] awanlin commented on #10776
Ok, thanks for confirming things for me, sadly this does mean I'm not able to help further as we use the on-premise Azure DevOps Server and we aren't using the Software Templates much so I don't have enough knowledge to help with this, sorry :(

[2022-04-21 15:45] shailahir commented on #10776
np :)

[2022-04-21 18:20] jrusso1020 commented on #10404
@Rugvip
We haven't switched it out for anything custom already, but there are a few things that come to mind that we could do with the `EntityLinksCard` once we have this field. None of which are necessities

1) we could default icons to certain ones when not specified already
2) we could do something similar to what the scaffolder template page does where we filter and group links together based

[2022-04-21 20:31] pjungermann commented on #10866
I have the same issue with Bitbucket Cloud and worked on some improvements.

ETag is used by now, but unfortunately, requests which get returned with Not Modified are still counted towards the rate limit.

Bitbucket Cloud has no proper rate limit headers. One idea I tried out in a local branch was to use a token bucket based client-side rate limiting. In general, it works but there are a few chall

[2022-04-21 23:19] jahredhope commented on #9227
Looking for an issue to pick up and I was checking if this issue should be closed or still needed work.
I noticed that openid-client now has two versions being used:

@kubernetes/client-node@^0.16.0 -> openid-client@^4.1.1
openid-client@^5.1.3

Is this issue being kept open until that dependency is updated or should it be closed?

[2022-04-22 03:50] kuangp opened #11013 "`HomePageSearchBar` requires `SearchContext`"
## Expected Behavior

Previously the `HomePageSearchBar` did not require you to wrap it in a `SearchContextProvider` and renders correctly

## Actual Behavior

Using `HomePageSearchBar` without `SearchContextProvider` breaks with `Error: useSearch must be used within a SearchContextProvider`

## Steps to Reproduce

https://backstage.io/storybook/?path=/story/plugins-home-components-searchbar--defa

[2022-04-22 05:43] kim5566 opened #11015 "[TechDocs] svg failed loading throws error"
## Expected Behavior

Render svg correctly with:

[code]

and test.svg starts with

[code]

## Actual Behavior

[code]

## Steps to Reproduce

1. Have a markdown file with line `![test](../img/test.svg)`
2. Use Techdocs external publisher (in my case, it's GCS)
3. View documentation with above svg image

## Context

It works locally but failed rendering on live site

I've tried to log error in htt

[2022-04-22 07:38] shvmbisht commented on #8850
@shailahir please provide some sample examples or documentation for this amazing contribution

[2022-04-22 07:39] shvmbisht commented on #10569
@shailahir please provide some sample examples or documentation for this amazing contribution

[2022-04-22 07:46] jhaals commented on #10961
Hi!
Backstage uses [jsonschema-form](https://react-jsonschema-form.readthedocs.io/en/latest/) as the underlying library to render the forms, the difference is that we use yaml instead of json in our template.  This sound like something that might be possible with `OneOf`. I suggest you try it out in their playground at https://rjsf-team.github.io/react-jsonschema-form/

[2022-04-22 07:59] LvffY commented on #10569
@shvmbisht Did not try it for now. Will try to test what @shailahir pointed and get back with some documentation on this point if we succeed.

[2022-04-22 11:01] LvffY commented on #10569
@shailahir TBH, I understand that your functions may solve my problem but I don't really get where to write and put such a function.

A sample example (or at least a written explanation) could be really useful here.

[2022-04-22 11:01] KariemSoudy commented on #10962
@shailahir , thank you, it worked,
this is my publish step in template.yaml
![image](https://user-images.githubusercontent.com/15885984/164702051-e0f90bcc-8b19-4ed9-9667-967cf3007c93.png)

so can i allow two integrations in the same time?
i have github and azure integrations in config,
and in template.yaml i could add github.com here:
![image](https://user-images.githubusercontent.com/15885984/164

[2022-04-22 11:14] benjdlambert commented on #10962
Yep as noted, you need to use `publish:azure` instead of `publish:github`. You can optionally do steps by using the `if:` option on the `step` itself.

Something like:

[code]

[2022-04-22 11:14] benjdlambert commented on #10962
Going to close this as the original issue seems fixed, please let us know to re-open if there's something still not working 👍

[2022-04-22 11:14] #10962 closed

[2022-04-22 11:43] awanlin commented on #10962
Thanks @benjdlambert for the help!

[2022-04-22 11:47] shailahir commented on #10569
@LvffY Sure. Let me put together an example. I will share in a few hours after closing my day at work.

[2022-04-22 11:54] leon-vg opened #11026 "TechDocs: git feedback buttons not appearing automatically"
## Expected Behavior

A while ago, we automatically saw the feedback buttons appear for all TechDocs sites. However, now they don't show automatically.

![image](https://user-images.githubusercontent.com/14820561/164709429-4666e5b7-9a57-4ffa-9af3-cfe19526c459.png)

## Actual Behavior

The feedback buttons are gone. However, when you add a `repo_url` entry in mkdocs.yml, they are back.

Stepping th

[2022-04-22 11:57] #10955 closed

[2022-04-22 12:08] KariemSoudy commented on #10962
@benjdlambert  thank you so much

[2022-04-22 12:08] kissmikijr opened #11027 "Versioned API support"
I'd like this to be more of a conversation starter about this topic, is it a needed feature? Does anybody else have this issue? The proposed solutions are just really quick ideas around the topic.

## Feature Suggestion
Usually, APIs are evolving during their lifetimes with different versions. In the current form, every version of an API spec will (and should) have its own API entity in backstage.

[2022-04-22 12:10] jhaals commented on #10652
First of all great work with this RFC, it's a very exciting feature!

As a start I agree with Patrik that it's a good idea implement the API with a notifications backend in mind from the start and rather "cheat" with the frontend implementation to reduce the risk of missing details early on.

Have you given any thought to time sensitive notifications? I'm thinking of the example with [Semla](https

[2022-04-22 12:47] #11013 closed

[2022-04-22 12:57] shailahir commented on #10865
Related to https://github.com/backstage/backstage/issues/7684 But for microsoft auth provider.

[2022-04-22 13:44] acierto opened #11035 "[RFC] Make existing components configurable"
**Status:** Open for comments

## Need

As a platform developer by using backstage as a foundation I would like to have an instrument to modify existing components with ease:

replacing a nested component
modifying the parts of components through configuration, like for example:

- adding additional labels/texts
- providing custom icons
- making buttons/icons/labels/links enabled/disabled based on

[2022-04-22 14:07] ngoclammevn commented on #3444
It help me, thank you 🙏 😊

[2022-04-22 14:19] garyniemen commented on #9956
@snehaljos As @zhammer said, make sure you can reproduce. Then, if so, feel free to have a go at fixing (check out the Expected Behaviours above).

[2022-04-22 14:33] joel-vasiliev opened #11040 "Metatemplating"
## Feature Suggestion

My suggestion is to implement the possibility of creating pieces of a template at a separated repo (example: one repo that contains a terraform.yaml file with one "page" of actual template (example: https://github.com/joel-vasiliev/metatemplating/blob/main/terraform.yaml) and point to this url in template.yaml (example below). I call this metatemplating.

## Context

Current

[2022-04-22 14:49] iamEAP commented on #10362
Hmm...  I too am unable to reproduce, even with the detailed/scripted steps from Nik (thanks, BTW!).

What's more odd is that other than a few dependency bumps, `v0.8.17` and `v1.0.0` of the CLI are [basically identical](https://github.com/backstage/backstage/blob/master/packages/techdocs-cli/CHANGELOG.md#100)

Wondering if there are any other clues to why it might be working for Anders and I but

[2022-04-22 14:58] garyniemen commented on #8642
Hi @ksdaftari - there are no plans at present to support other source formats such as RST. One of the founding principles of TechDocs was to fiercely optimise for engineers so we opted to keep the source format as easy to use as possible - hence markdown. We have had discussions in the team here around supporting MDX and alternative static site generators - but these items are not on our roadmap a

[2022-04-22 15:07] #10903 closed

[2022-04-22 15:08] leschaller1 opened #11042 "[Feature Request] Storybook controls"
## Feature Suggestion

It would be valuable to add Storybook controls to components within the component library so developers/designers can explore the different variations available for use.

https://storybook.js.org/docs/react/essentials/controls

[2022-04-22 15:20] Rugvip commented on #11042
@leschaller1 Agreed! 👍

Perhaps also aggregate some of the very similar stories as well, using a control to select the styles, like all the [header stories](https://backstage.io/storybook/?path=/story/layout-header--apis). Either way we should ofc start with enabling the controls addon as the first step.

Is this something you would like to contribe? Otherwise I think we could open this up as a go

[2022-04-22 15:20] heyLu commented on #10362
I am getting this on Linux with Docker 20.10.14.  A colleague is also encountering the same issue on macOS (not sure which versions).  I tested this with @Niksko's comment above and am also getting `ERROR 404: Error: Page not found`.

One odd thing I have is that the error message talks about `techdocs.builder` not being set to `local`, maybe that could be the cause?  Here's the full error message

[2022-04-22 15:24] leschaller1 commented on #11042
Awesome! Yeah I think that's a great idea re: aggregating similar stories. I could definitely help out and start by enabling the controls addon

[2022-04-22 16:42] ksdaftari commented on #8642
@garyniemen understood,I can understand that principle and definitely agree more enforcement to markdown is likely best. Would have been nice to have MyST which is extension of markdown but can understand perhaps even if wanted to not something this early on would want to implement.

Curious I think one of the main features of MyST that is nice is its ability it to easily create cross reference be

[2022-04-22 17:00] zhammer opened #11044 "Documentation for adding icons to a backstage app"
## Feature Suggestion

I'd like some documentation on adding icons to a Backstage app! Happy to help with this :).

The current [links documentation](https://backstage.io/docs/features/software-catalog/descriptor-format#links-optional) reads:

As far as I can tell, however, how to set this up is not documented:

<img width="605" alt="screenshot of a search for icon on backstage.io with no relevant

[2022-04-22 17:04] warsaw commented on #8642
@garyniemen thanks for the update.  Sphinx and RST are still important to us.  Of course, I understand the Backstage project needs to set its own priorities, so this is something we are looking at building and possible/hopefully open sourcing if we come up with something reasonable.  We're looking at a number of approaches, including a generic plugin to surface GitHub Pages content in Backstage.

[2022-04-22 17:56] timbonicus commented on #10652
To @jhaals point, we had a discussion to think through what this would look like ideally in the end. There will likely be a general backend event stream, similar to the more narrowly-scoped #8219, and frontend plugins may subscribe handlers to one or more channels of that event stream. These handlers can do any number of things, including triggering notifications based on the events. Therefore the

[2022-04-22 17:59] lalit774 commented on #10837
I tested new app using name backstage-app. I did not see any issue. Please see the followings screenshots.

![image](https://user-images.githubusercontent.com/225961/164769265-ddd18d24-109d-43fc-9426-957b63121560.png)

![image](https://user-images.githubusercontent.com/225961/164769304-d4738bde-8310-41eb-a999-affed84764c2.png)

[2022-04-22 18:10] lalit774 commented on #10534
We should make a documentation for community. so they understand, why we use SQLite for local development, and PostgreSQL for production.

[2022-04-22 20:07] jurschel commented on #4945
I have to agree with @dominik-bln.  I am amazed that these helm chart issues are still not worked out.  For instance right now the chart doesn't install the front-end anymore if you follow the instructions on the helm page...  I'm not talking about a production instance either.. I mean, just a chart that will let you get something up inside of 10m to look at it.  One of the great things about havi

[2022-04-22 21:40] shmaram commented on #10661
@jhaals Thanks!
PR submitted (https://github.com/backstage/backstage/pull/11047)

Can you tell me how is the process now?

[2022-04-22 22:50] iamEAP commented on #10534
Lunr as default has proven problematic for adopters, I think. It's not quite fully featured enough, so the default behavior seems "broken" by most standards (specifically with respect to how filters behave).

The local=lunr / production = PG (or Elastic) paradigm is less good for search, compared to other uses of PG too, given how differently they (can) behave. It might be okay when devs are worki

[2022-04-22 23:29] shanthisagar-dhanya-kumar-db commented on #10961
Thanks for the suggestion. I was able to use the OneOf and was able to solve it.

[2022-04-22 23:29] #10961 closed

[2022-04-22 23:31] shanthisagar-dhanya-kumar-db opened #11048 "Scaffolder : Passing login identity information from frontend to backend"
It appears that we cannot pass the loggedin user identity information from scaffolder frontend to scaffolder backend plugins?
Or am I missing something here, tried various different options with vain.
Any pointers would be helpful

[2022-04-22 23:53] padupe opened #11049 "Authentication Error | User not found [Google Provider]"
## Expected Behavior
Authentication Plugin allow the user to access the platform.

## Actual Behavior
Error message.
![image](https://user-images.githubusercontent.com/72894267/164817859-b2e38730-23a6-4cd7-8cfd-1271511fd031.png)

## Steps to Reproduce

`packages/backend/src/plugins/auth.ts`
[code]

## Context
After releasing https://github.com/backstage/backstage/blob/master/plugins/auth-backend/C

[2022-04-23 00:38] dweber019 opened #11050 "Backstage-cli option --backend missing"
## Expected Behavior
When I run `yarn create-plugin --backend`, I expect the setup wizard, as documented at https://backstage.io/docs/plugins/backend-plugin#creating-a-backend-plugin.

## Actual Behavior
Error thrown
[code]

## Your Environment
[code]

[2022-04-23 00:41] dweber019 commented on #11050
As far as I checked, https://github.com/backstage/backstage/blob/master/packages/cli/src/commands/index.ts#L234 used as shown above instead of https://github.com/backstage/backstage/blob/master/packages/cli/src/commands/index.ts#L258 as the yarn script is `"create-plugin": "yarn backstage-create --select plugin",`.

[2022-04-23 04:01] marcus-crane commented on #10652
Unrelated to this RFC but I always enjoy the detailed discussions and considerations that come from both the Backstage maintainers and community contributors 🙂 I feel like I learn a lot just following along

[2022-04-23 04:36] Niksko commented on #10362
Nope, running on Mac. We're able to reproduce across a few devs at my org.

[code]

[2022-04-23 07:37] Niksko commented on #10362
I've submitted a fix above. I'm really puzzled as to why this isn't reproducible for people, the fix is fairly straightforward.

For those who can't reproduce: when you load the http://localhost:3000/docs/default/component/local/ after running `serve`, what URL does your browser request when it requests the techdocs index.html?

For me:

* Version 1.0.0: The browser requests http://localhost:3000/

[2022-04-23 20:48] #9518 closed

[2022-04-23 23:19] webark commented on #6039
Asking partially to try to prevent this from closing, but would be nice if this one stayed open at least so people can discover the workaround with the pinned resolution.

[2022-04-24 10:03] Fs00 commented on #9571
Can this be reopened? The feature request is still valid.

[2022-04-24 11:48] marcus-crane commented on #11049
Is there a User entity in Backstage with that email address? To be clear, Backstage has no concept of accounts but rather just matches the identifying user to a User entity registered within Backstage.

[2022-04-24 17:37] LvffY commented on #10569
@shailahir Did you have time to look at some example ?

[2022-04-24 17:42] iamEAP commented on #10803
For what it's worth: I'm no longer able to reproduce this on the latest master branch (the demo site may be a couple of versions behind, at this point)

[2022-04-25 04:45] Niksko opened #11055 "[TechDocs] Support all mkdocs CLI options in techdocs-cli"
## Feature Suggestion

`mkdocs` supports a number of additional command line options, only some of which are supported by the techdocs-cli.
Instead of adding these one-by-one to the techdocs-cli, @iamEAP [suggested](https://github.com/backstage/backstage/pull/11052#pullrequestreview-951234069) that we just support all mkdocs CLI options in the techdocs-cli.

## Possible Implementation

Commander (

[2022-04-25 08:23] jhaals commented on #10837
Thanks for checking! Closing as we're not able to reproduce, please reopen if the issue persists.

[2022-04-25 08:23] #10837 closed

[2022-04-25 08:56] jhaals commented on #11049
As Marcus points out the resolver used tries to match with an existing user in the catalog. It's recommended to ingest your users into the catalog if possible.

There's currently no out of the box resolvers for scenarios without users in the catalog but documentation explains how to craft your own resolver function if need be https://backstage.io/docs/auth/identity-resolver#sign-in-resolvers

[2022-04-25 09:29] Xantier opened #11060 "Linking TechDocs images not working as expected"
## Expected Behavior
It should be possible to have the possibility to link to an image within tech docs.

There is a need, especially for technical documentation, to zoom into a diagram with a lot of boxes and lines. The easiest way to achieve this on MD sites is to link to the image itself which opens it up on a new tab and browser native functionality can be used. Using a link like `[![](assets/

[2022-04-25 09:30] #7513 closed

[2022-04-25 09:37] #10695 closed

[2022-04-25 09:42] benjdlambert opened #11061 "Low Hanging Fruit for better development experience with Backstage"
### Switch to PostgreSQL
- [x] Include `pg` dependency in `create-app` template
- [x] Add postgres config section to app-config.yaml
### Github backend with PAT
- [x] Document how to generate a token and link to docs from app-config.yaml
- [x] Remove inline of token in https://backstage.io/docs/getting-started/configuration#setting-up-a-github-integration
- [x] #11069
### Set up GitHub OAuth App f

[2022-04-25 10:11] Rugvip opened #11062 "[RFC] Add sample catalog entities and template to create-app template"
**Status:** Open for comments

Bit of a lightweight RFC to see what everyone think of this change. Especially looking for feedback from people that recently created new Backstage apps, and whether this approach might've helped the path towards getting started with and understanding the software catalog.

## Need

When creating a new app using `npx @backstage/create-app` you are greeted with a coup

[2022-04-25 10:13] Rugvip opened #11063 "Show user identity and ownership information in the frontend"
## Feature Suggestion

Add a display of the user identity and ownership information somewhere in the frontend, to make it easier to debug ownership issues and to determine your logged in identity.

## Possible Implementation

Add it somewhere in the profile card of the user settings plugin:

![image](https://user-images.githubusercontent.com/4984472/165069307-c55ddef5-16ab-45f2-b0a2-ce20077ad962.p

[2022-04-25 10:23] Rymania commented on #8398
Looking at outcomes we'd be really interested in looking at "reuse" and "experience" (as well as the standard user stats - let's put them in "reach").

**Reuse**
- Catalogue Additions
- Catalogue item usage (overall and for each item --> 'most popular' at item level)
- GitHub Enterprise click-through (this is where a component is not a template, but an Internal Action or similar)

These all seem p

[2022-04-25 10:26] sp0tt13 commented on #10837
I have this issue still - tried both backstage-app and my-backstage-app names
Using wsl2 under win10:
Linux xxx 5.4.72-microsoft-standard-WSL2 #1 SMP Wed Oct 28 23:40:43 UTC 2020 x86_64 x86_64 x86_64 GNU/Linux
NAME="Ubuntu", VERSION="20.04.4 LTS (Focal Fossa)"
Node: v16.14.2

$ npx @backstage/create-app
? Enter a name for the app [required] backstage-app
? Select database for the backend [required

[2022-04-25 10:50] Rugvip opened #11064 "backend-common: discovery implementation that supports split backends"
## Feature Suggestion

The `PluginEndpointDiscovery` interface in the backend currently has a single implementation, `SingleHostDiscovery`. This implementation results in all communication happening internally with each deployed backend instead. It does support horizontal scaling of the catalog in that you can have multiple instances without issues, but the load may not be as well distributed as i

[2022-04-25 11:06] padupe commented on #11049
Hello @marcus-crane  and @jhaals , as I informed you, before the release of this new version, the Google authenticator worked perfectly.
With this new release, will it be necessary to register the employee's e-mail database?

[2022-04-25 11:43] jhaals commented on #10661
Thanks for the contribution! PR has been merged 🎉 . Closing this issue since the feature will be in the next release.

[2022-04-25 11:43] #10661 closed

[2022-04-25 11:43] jhaals commented on #9896
Great job implementing this @anicke! Can this meta issue be closed?

[2022-04-25 11:45] jhaals commented on #9227
Thanks for asking and hunting things to fix @jahredhope! 👍  Looks like our internal dependency on this library is updated so this issue can indeed be closed

[2022-04-25 11:45] #9227 closed

[2022-04-25 11:47] benjdlambert commented on #11048
Duplicate of #5441

[2022-04-25 11:58] Rugvip commented on #10837
Hmm, I'm unable to reproduce this under Win 10 / WSL 2. Running Ubuntu 18.04 though, but Node.js v16.14.2

[2022-04-25 12:07] anicke commented on #9896
Thanks! Yes, let's close this!

[2022-04-25 12:07] #9896 closed

[2022-04-25 12:08] jhaals commented on #11040
Hi!

Scaffolder already has built-in support for composing actions together. You should be able to achive this with the [fetch:plain](https://github.com/backstage/backstage/blob/master/plugins/scaffolder-backend/src/scaffolder/actions/builtin/fetch/plain.ts) action or perhaps [fetch:template](https://github.com/backstage/backstage/blob/master/plugins/scaffolder-backend/src/scaffolder/actions/built

[2022-04-25 12:17] tiagoceluppi commented on #10866
I'm not using autodiscover

[2022-04-25 12:33] garyniemen commented on #11060
Any concerns about this @ottosichert or @emmaindal before I put the good first issue label on it.

[2022-04-25 12:36] garyniemen commented on #11055
Any concerns with this @iamEAP (I am guessing not) before I put the help wanted label on this.

[2022-04-25 12:43] iamEAP commented on #11055
Yeah, all good @garyniemen!  I think Nik was going to take a first stab at implementing this though, so maybe hold off on the label for now.

[2022-04-25 12:53] garyniemen commented on #8642
Thank you @ksdaftari and @warsaw - it was really interesting to read the experiences from your companies. We will keep these in mind as we discuss how we can more support more companies' documentation environments.
Just curious - for your current doc solutions - can you describe (just briefly) the documentation flow and where everything ends up. For example, do you integrate your Sphinx output wit

[2022-04-25 13:04] garyniemen commented on #11003
This works as expected on our internal instance. Any thoughts @ottosichert ?

[2022-04-25 13:14] garyniemen commented on #11026
This works on our instance internally. Any thoughts what is happening here @ottosichert ?

[2022-04-25 13:46] #10951 closed

[2022-04-25 13:50] shanthisagar-dhanya-kumar-db commented on #5441
@kuangp : How did you manage to integrate this piece, currently if I use the below code

export const LoggedInUser = ({ onChange }: FieldProps<string>) => {
  const identityApi = useApi(identityApiRef);

  useAsync(async () => {
    const state = useAsync(() => identityApi.getProfileInfo(), [identityApi]);
    const email = state.value?.email;
    onChange(email);
  });

  return (<></>);
};

expo

[2022-04-25 13:53] shanthisagar-dhanya-kumar-db commented on #11048
Thanks I will follow this up in another thread.

[2022-04-25 13:53] #11048 closed

[2022-04-25 13:57] angeliski opened #11072 "[Scaffolder] Task worker with queue processing"
## Feature Suggestion
We today process the scaffolder actions in the same instance we are running the backend.

The ideia is enable a simple way to process the actions in another place, like a lamba, or maybe a [k8s Job](https://kubernetes.io/docs/concepts/workloads/controllers/job/). So the backend can schedule a task in a queue (something like a sqs) and the worker retrieve that for execution(us

[2022-04-25 14:38] garyniemen commented on #10989
Any comments @ottosichert before I add the label help wanted or good first issue?

[2022-04-25 14:54] garyniemen commented on #10270
The way I see it is like this.
1) The Zoom function is just for text - and I think that's right.
2) It is always possible to use browser functionality to increase the size of everything - and that's quite useful.
3) Clicking on an image causes it to pop out and expand. This is what is potentially missing and could be good and useful.
Thoughts?

[2022-04-25 15:06] ankitnmalhotra commented on #10854
Thanks @jhaals (Johan Haals) and @Rugvip (Patrick).

Have you done such upgrades in past? We wanted to make sure that out path for upgrade is correct and we don't run into issue for face limitation (on additional features) by choosing incorrect path.

If you can share your experience on such upgrades?

[2022-04-25 15:06] garyniemen commented on #10670
Thanks for your question @shanthisagar-dhanya-kumar-db - we will discuss and get back to you.

[2022-04-25 15:14] garyniemen commented on #10477
Has anybody come across this? Any answers for @shanthisagar-dhanya-kumar-db

[2022-04-25 15:44] shanthisagar-dhanya-kumar-db commented on #10477
Sorry, I have to say it was our openshift pod config which was causing the issue. We were using 1.6 GB and when I changed to around 10 GB, it started working as expected. I will close this ticket now.

[2022-04-25 15:44] #10477 closed

[2022-04-25 17:33] mspedalettiHM opened #11077 "[Kafka Plugin] - Provide ability to see messages for selected topic"
## Feature Suggestion

It would be beneficial if users could select/click from the topic list that plugin already has and actually go into the specific topic to see the messages.

![Screen Shot 2022-04-25 at 14 29 53](https://user-images.githubusercontent.com/72824304/165142400-de763f02-e478-42a3-800a-d1792977db45.png)

## Context

 Easier kafka debugging. Probably Kafka-console-consumer could be

[2022-04-25 17:39] afscrome commented on #11062
We used this local file approach very successfully in our initial prototyping of backstage - being able to experiment with models before without having to push anything remote made it very easy to get started.

The main gotcha we faced is we expected local file changes to be reflected in backstage instantly, but they didn't.  Initially we were restarting the backstage app every time to get changes

[2022-04-25 17:43] afscrome commented on #11062
Another consideration is whether the backstage upgrade helper should have knowledge o these "example" files and exclude them from it's diff.  If these are added in v.next , they'll produce a lot of noise for people when they try to upgrade from 1.1 -> v.next.

[2022-04-25 17:59] radicaled42 commented on #11049
Sorry, to step-in in this issue, but I'm having the same issue with the microsft provider.
I need to do this to "ingest" the user for the microsoft provider?

https://github.com/backstage/backstage/blob/master/plugins/catalog-backend-module-msgraph/README.md

Thanks

[2022-04-25 18:24] MelnikovAG opened #11078 "[RFC] <name>"
**Status:** Open for comments

## Need

## Proposal

## Alternatives

## Risks

[2022-04-25 18:56] dmckernanacv commented on #11049
Same issue with Okta, we use the github-org discovery to read in users / groups for code ownership, but Okta for logging into backstage.
Since updating authentication is totally broken and **there is no way to link Okta emails to Github users**, and **Github does not provider user emails** when syncing users to Backstage, so I cannot even write a custom resolver if I wanted to.

This was a bogus m

[2022-04-25 19:43] narwold commented on #8054
Yarn 1 is now 2 versions behind, and I'm not comfortable continuing to have a product in use in my organization that uses it. We long ago determined that `pnpm` was much faster for us... or we fall back on `npm` if we have to. Yarn 2/3 have a much more complicated architecture, but even that as an isolated use case would be better for us than Yarn 1 since in my opinion it's increasingly legacy and

[2022-04-25 19:45] narwold commented on #8054
Additional note: oftentimes a project can be easily converted, but it appears Backstage will have some challenges due to Yarn being deeply embedded in the CLI (parsing the lockfile, etc.)

[2022-04-25 20:18] pjungermann commented on #10866
@tiagoceluppi How many (repos with) catalog-info.yaml files do you have in your org? How many register Location entities with bitbucket.org target?

You might want to try `builder.setProcessingInterval(..)` or `builder.setProcessingIntervalSeconds(..)` at your `catalog.ts` to reduce the number of updates per time unit.
Of course, that also means that changes might get visible a little bit later co

[2022-04-25 20:54] #11078 closed

[2022-04-25 21:40] sp0tt13 commented on #10837
It seems yarn is the problem somehow.  I had followed the instructions on the backstage.io website, which sent me to https://classic.yarnpkg.com/en/docs/install.  After installing yarn, it gave me what seemed to be the latest version;
$ npm info yarn version
1.22.18
$ yarn --version
0.32+git
The error in my previous message seemed to be a yarn error, so I looked for an alternative and found
https:

[2022-04-26 01:08] jpeach opened #11079 "esbuild dependecy breaks "yarn --ignore-optional""
## Expected Behavior

A backstage app should build after doing `yarn install --frozen-lockfile --ignore-optional`

## Actual Behavior

[code]

## Steps to Reproduce

1. yarn install --frozen-lockfile --ignore-optional
2. yarn tsc
3. yarn build

## Context

I'm using `--ignore-optional` because of a `cpu_features` module build failure that gets (optionally) pulled in through tht ssh modules.

## Yo

[2022-04-26 06:14] MartinWallgren commented on #11049
We (Axis Communications) just got bitten by this using the Microsoft provider.

Are there any arguments against creating a user entity as part of the auth resolver?

[2022-04-26 06:36] leon-vg commented on #11026
Not sure whether this helps, but in the demo the feedback buttons are also missing. Not sure whether this is by purpose, though: https://demo.backstage.io/docs/default/component/backstage.

[2022-04-26 07:39] jhaals commented on #10776
Thanks for checking @awanlin!
I'm equally confused about these additional Microsoft offerings, I thought https://visualstudio.microsoft.com/ was just for the editors and had nothing to do with the repository hosting. As Patrik mentioned we really need community help to tinker with some of these provider specific implementations. We can always help out with guidance into Backstage's code base and h

[2022-04-26 08:27] Rugvip commented on #11049
Sorry we didn't document the pattern of bypassing the catalog during login more clearly. It's apparent it's something a lot of you do. Here's an example of a sign-in resolver that uses the local part of the email directly as the user entity name, without looking up the user in the catalog:

[code]

The example here is with the Okta provider, but the general pattern applies to all providers. `strin

[2022-04-26 08:33] jhaals commented on #11044
Thanks for bringing this up Zach and you're correct that this is not documented 😓
There's definitely rooms for a docs section on system icons and contributions in that area would be highly appreciated!

@timbonicus also created a recent PR example styling the demo app. We probably should do something similar for our the demo site in terms of icons but I think a docs section would go a long way.

[2022-04-26 09:30] ProticM commented on #10603
@Xantier Sure, I have no problem with that 👍

[2022-04-26 09:54] jhaals commented on #10534
This issue will be fixed by #10948

[2022-04-26 10:18] kissmikijr opened #11082 "[RFC] Handling webhooks in Backstage (Github)"
**Status:** Open for comments
My intention was to design a general system that is extensible by the individual webhook handler implementations and distributes the incoming webhooks to the listeners. In this RFC I created a possible Github implementation.

## Need
A system that would enable the contributors to be able to create modules/extension to receive webhooks in backstage in an extensible way

[2022-04-26 10:46] #9520 closed

[2022-04-26 12:29] MartinWallgren commented on #11049
Is there any downside to actually create a catalog item in the resolver as opposed to just bypass the catalog?
That way the catalog would be populated as needed.

[2022-04-26 12:31] garyniemen commented on #10574
@idmonkey are you still having this problem?

[2022-04-26 12:34] garyniemen commented on #10277
Just following up again @pjungermann and @martinohmann  - is the issue solved? Do you think you can update the relevant docs (as you mention above).

[2022-04-26 12:36] garyniemen commented on #10475
@bigmirc are you unstuck now?

[2022-04-26 12:41] bigmirc commented on #10475
yeeep, thanks a lot
    On Tuesday, April 26, 2022, 03:37:03 PM GMT+3, Gary Niemen ***@***.***> wrote:

@bigmirc are you unstuck now?

—
Reply to this email directly, view it on GitHub, or unsubscribe.
You are receiving this because you were mentioned.Message ID: ***@***.***>

[2022-04-26 12:43] Rugvip commented on #11049
There is no way to do that atm, since the catalog does not have a write API. A generic write API opens up for some pretty tricky questions wrt security, so we'd be very cautious going down that route.

A possible way forward could be an optional entity provider for the catalog that is able to dynamically create catalog users if they are missing, and have that tightly coupled with the auth backend

[2022-04-26 12:46] garyniemen commented on #10543
@shanthisagar-dhanya-kumar-db At Spotify, each team does its own CI/CD so each team builds its own doc site and it all ends up in Backstage. Are you saying  that in your company, everything is built centrally? Can you say more.

[2022-04-26 12:48] garyniemen commented on #9983
@cmoulliard did you manage to get unstuck with this?

[2022-04-26 13:37] grantila commented on #11082
Awesome!

1. GitHub nowadays has support for polling payloads that you missed, by its [Webhook Delivery API](https://github.blog/changelog/2021-06-30-webhook-deliveries-api/). If the events-backend would regularly poll that, it could repair its state, and it'd be safe.

Also, regarding GitHub webhooks:

2. So the events-backend should probably poll the repo HEAD~n (up until a known n) to check if

[2022-04-26 17:05] shimmieblum commented on #9086
Hi, 1) apologies for the delay

[2022-04-26 18:17] mclarke47 commented on #6109
@dweber019 a workaround would be to use the `kubernetes. objectTypes` config option to specify the types explicitly.

However, I think long term we should consult the api-versions

[2022-04-26 20:04] github-actions[bot] opened #11093 "Snyk vulnerability [SNYK-JS-EJS-2803307]"
## Affecting Packages/Plugins

* [@backstage/plugin-scaffolder-backend-module-yeoman](plugins/scaffolder-backend-module-yeoman/package.json)

## Overview
[ejs](https://www.npmjs.com/package/ejs) is a popular JavaScript templating engine.

Affected versions of this package are vulnerable to Remote Code Execution (RCE) by passing an unrestricted render option via the `view options` parameter of `ren

[2022-04-27 06:41] jpeach opened #11094 "Catalog avatar background color doesn't work well with transparency"
## Expected Behavior

Adding a catalog entity avatar using the `spec.profile.picture` should work well if the image has a transparent background.

## Actual Behavior

The `Avatar` component uses `stringToColor(displayName)` to generate the background color, which shows through the transparency. I happened to end up with <code style="background-color:#d98667;">#d98667</code>, which makes the avatar

[2022-04-27 08:03] #11049 closed

[2022-04-27 08:18] shvmbisht commented on #10569
@shailahir no pressure but any news on those examples?

[2022-04-27 08:40] claudiahub opened #11102 "Screen reader is not announcing a new tab opens on APIs overview links"
## Expected Behavior

Screen reader notifies the user the needed information when page opens in new tab for 'View Source' link, 'Edit' button and 'Slack Channel' link.

## Actual Behavior

1. Navigate to APIs from the side menu bar.
2. Navigate to the main section of the page (table component).
3. Select any link from the name column. A new page opens up.
4. Launch a screen reader and navigate to

[2022-04-27 08:46] jhaals commented on #11079
Hi @jpeach sorry to hear that you're having issues, I took a freshly scaffolded app and ran `yarn install --frozen-lockfile --ignore-optional && yarn tsc && yarn build` without getting any error(using my arm mac).

Is this after an update or on a newly created app?

[2022-04-27 11:24] iamEAP opened #11109 "Implement a "Component" virtual TechDocs Addon Location"
## Feature Suggestion

A common pattern for [TechDocs Addons](https://backstage.io/docs/features/techdocs/addons) within Spotify is to allow documentation authors to place static content conforming to a specific format in markdown files, instances of which are then queried for and replaced in the TechDocs frontend with dynamic content at render-time.

To illustrate, imagine an "Embed TechDocs" Add

[2022-04-27 11:46] iamEAP opened #11110 "Better Support for Compute/Network-bound TechDocs Addons"
## Feature Suggestion

The [TechDocs Addons](https://backstage.io/docs/features/techdocs/addons) framework is currently only concerned with the frontend.  It provides a mechanism to customize TechDocs using react and all of the usual hooks/APIs/components therein.

Having iterated on Addons at Spotify for several years, we've found that some are quite simple in concept, but unexpectedly complex in

[2022-04-27 11:49] emmaindal commented on #10803
@garyniemen @iamEAP I can't seem to reproduce on latest master now either. This was reported internally which could have been the case that were a version behind or so. But I can't reproduce there now either, so I think we can close this issue and re-open if needed!

[2022-04-27 11:49] #10803 closed

[2022-04-27 11:59] iamEAP commented on #9636
Thanks for following along, everyone!  We've made significant progress on the Addon framework initially proposed here.  ...Documentation for which is about to be merged and deployed.  Although things are still under `alpha` exports and the `next` release line, it's now possible to experiment with Addons in your Backstage instance!

Our plan is to properly introduce the Addon framework to the commu

[2022-04-27 12:17] Vegim opened #11113 "View techdocs button is always disabled"
## Expected Behavior

Showing the techdocs button as enabled.

## Actual Behavior

Techdocs button is always disabled even if I'm adding the techdocs ref inside catalog-info.yaml file. What I noticed is that inside catalog frontend plugin the variable viewTechdocLink is not being initialized its always undefined for every type of component.
The version of catalog plugin that I'm using is 1.1.0 and

[2022-04-27 12:57] awanlin opened #11115 "Add Pre-release Changelogs to Releases section on Backstage.io"
## Feature Suggestion

Now that things are getting more stable and the release changelogs are now in `/docs/releases` which then show up here: https://backstage.io/docs/releases/v1.1.0 - it would be awesome if this included Pre-releases as well for those on the `next` release channel

## Possible Implementation

I'm honestly not sure what would be needed here, adding the frontmatter and then decid

[2022-04-27 13:01] martinohmann commented on #10989
Seems like this issue is already fixed in v1.2.0-next.0: https://github.com/backstage/backstage/pull/10945

[2022-04-27 13:01] #10989 closed

[2022-04-27 13:17] cvrlnolan opened #11118 "KnexTimeoutError: Knex: Timeout acquiring a connection"
## Expected Behavior

The Backstage app should normally connect to the PostgresSQL DB hosted on an external service in this case hosted on ScaleGrid.

## Actual Behavior

Upon starting the Backstage app (`yarn dev`), I get this error: `KnexTimeoutError: Knex: Timeout acquiring a connection. The pool is probably full. Are you missing a .transacting(trx) call?`

## Steps to Reproduce

1. Configure a

[2022-04-27 13:49] ankitnmalhotra opened #11119 "GitHub login not working, no auth provider registered"
We have 2 auth provider configured Guest and Github.

We are getting the below exception with Github auth provider

{"error":{"name":"NotFoundError","message":"Auth provider registered for 'github' is misconfigured. This could mean the configs under auth.providers.github are missing or the environment variables used are not defined. Check the auth backend plugin logs when the backend starts to see

[2022-04-27 14:24] claudiahub commented on #11102
This is happening for any external link in Backstage.

WCAG reference [https://www.w3.org/TR/2016/NOTE-WCAG20-TECHS-20161007/G201](https://www.w3.org/TR/2016/NOTE-WCAG20-TECHS-20161007/G201)

[2022-04-27 15:20] kissmikijr commented on #11063
We already created an identity card internally to help with debugging. It is a pretty plain card with some identity/ownership information. We are happy to contribute it to backstage if you think it fulfills the needs of this ticket!

![image](https://user-images.githubusercontent.com/24729496/165552121-643b94a7-3df1-4316-b400-6c55f3dd01c1.png)

[2022-04-27 16:06] #10699 closed

[2022-04-27 16:06] #10406 closed

[2022-04-27 22:09] johanneswuerbach commented on #4123
@iamEAP this is amazing. I took a stab at implementing a mermaid addon and it looks fairly promising.

You can find the code here: https://github.com/johanneswuerbach/backstage-plugin-techdocs-addon-mermaid

![image](https://user-images.githubusercontent.com/864578/165639102-761f61b8-0062-4243-b707-6f2b0a9b41e3.png)

The main issue I found seems to be that the language property of a markdown code

[2022-04-27 23:40] andrewthauer commented on #9616
I still think this is relevant.

[2022-04-28 01:08] #11118 closed

[2022-04-28 01:14] shailahir commented on #10569
Hi @shvmbisht @LvffY , Sorry for delay

I have created one example, please have a look

https://gist.github.com/shailahir/f6b0cb591e29a66001bf830329470849

[2022-04-28 06:44] iamEAP commented on #4123
This is amazing, @johanneswuerbach!

Perhaps the simplest way to make this work is to encourage folks to apply a little bit of extra configuration to their `mkdocs.yml` to prevent the fancy code block stuff from applying to mermaid blocks, and add a class you can hook into, e.g.

https://squidfunk.github.io/mkdocs-material/setup/extensions/python-markdown-extensions/#superfences

[2022-04-28 07:10] VKZycus opened #11142 "backstage/plugins/gocd/ plugin with multiple gocd instance"
https://github.com/backstage/backstage/tree/master/plugins/gocd

Currently gocd plugly of backstage we can connect to only one instance :

proxy:
  '/gocd':
    target: '<go cd server host>/go/api'
    allowedMethods: ['GET']
    allowedHeaders: ['Authorization']
    headers:
      Authorization: Basic ${GOCD_AUTH_CREDENTIALS}

We need multiple instance of gocd in backstage like

*proxy:
  '/gocd'

[2022-04-28 07:48] johanneswuerbach commented on #4123
Looks like there is an option to expose the language as class name, which could be enabled by default https://github.com/backstage/mkdocs-techdocs-core/pull/59 to make this work out of the box 🎉 .

[2022-04-28 07:59] VKZycus opened #11143 "backstage/plugins/gocd/ creating custom view for gocd pipelines"
By using below plugin

https://github.com/backstage/backstage/tree/master/plugins/gocd

We are able to get default view

<img width="960" alt="gocd-plugin-screenshot" src="https://user-images.githubusercontent.com/104554101/165705426-6a9349fb-c812-4362-b699-d36f0d7e0dc0.png">

can we get a custom view of pipeline using react.

[2022-04-28 08:06] benjdlambert commented on #11143
Is this something you want to contribute? :pray:

[2022-04-28 08:18] benjdlambert commented on #11094
What do you think the possible solutions are here? Can you attach some screenshots please also so we can see the problem a little more visually? :pray:

[2022-04-28 08:20] benjdlambert commented on #11077
Thanks, sounds pretty interesting! Is this something you want to contribute? :pray:

[2022-04-28 08:39] benjdlambert commented on #9796
@pjungermann is this something you still want? :pray:

[2022-04-28 08:43] benjdlambert commented on #8398
@fcorti what do you think about the above metrics?

[2022-04-28 08:55] jpeach commented on #11094
Maybe, if there is a picture, just don't set the backgroundColor style on the Avatar component?

<img width="98" alt="Screen Shot 2022-04-28 at 6 52 17 pm" src="https://user-images.githubusercontent.com/9917/165715450-f98b8ab6-f8a1-4c28-9908-6bc0fc031d10.png">

[2022-04-28 09:03] jpeach commented on #11079
Unfortunately, it doesn't seem to be deterministic. I haven't seen it happen at all in our CI, but my colleague had it consistently and I had it once. Not sure what I did to resolve it, which is worrying.

This was an existing app, but I don't think it was related to any kind of Backstage upgrade.

[2022-04-28 09:05] benjdlambert commented on #11142
When supporting multiple instances we would like to move this logic to a backend plugin. If you take a look at how the `jenkins` plugin works with `annotations` on the `entity` and then using the backend plugin will call out to the right `gocd` instance instead. We should basically copy the implementation from then `jenkins` plugin to `gocd` also.

[2022-04-28 09:10] benjdlambert commented on #11115
Hmm the main releases are manually curated, so they're nice to show. Be interested in how we can make these a little more visible easier. Maybe a link to the changelog after the `versions:bump` or does that not help?

[2022-04-28 09:11] benjdlambert commented on #11050
@dweber019 did this work for you? Can we close this now?

[2022-04-28 09:14] benjdlambert commented on #10854
@ankitnmalhotra I think that creating a new app and moving stuff across is possibly the best option here. Because we've been moving very quickly over the last year a lot of things have changed, and if the instance hasn't been updated it's probably going to be much more effort to convert it across rather than starting again and copying things across or re-implementing again. I'm not aware of anyone

[2022-04-28 09:33] fcorti commented on #8398
This is a relevant topic for most adopters and I frequently receive questions about it.
The topic of "telemetry" is important and it is definitely on our radar.

I can see two challenges at this stage:
1) Having clarity on the "right" metrics to be developed (and this thread is an example where we talk about "metrics for operators" and "metrics for product owners").
2) Ensure the bandwidth to star

[2022-04-28 09:34] shahidv3 opened #11147 "Integration failing between backstage and auth0"
## Expected Behavior

Integration should work between auth0 and backstage

## Actual Behavior
When tried to login via auth0 - it shows this message "auth0 - Origin "https://<teleport.url>" not allowed"

## Steps to Reproduce

Auth0 side steps
1. Log in to the Auth0 dashboard
2. Navigate to Applications
3. Create an Application
4. Name: Backstage (or your custom app name)
5. Application type: Singl

[2022-04-28 09:51] Irma12 commented on #11003
Noticed same behaviour when navigating to

https://demo.backstage.io/docs/default/component/backstage/features/software-catalog/#manually-register-components.

Trying to navigate to any item under (https://demo.backstage.io/docs/default/component/backstage/features/software-catalog/#adding-components-to-the-catalog) will lead to the bottom of the page.

[2022-04-28 10:17] Rymania commented on #8398
Thanks @fcorti - I personally am interested in the Product Owner type metrics, because they will show the value proposition for scaling and also help us understand what our users want.

In terms of contributing - we are still working on the core installation right now, but I will keep this in mind once we've done that because I see being able to measure outcomes as as part of our MVP - and we are

[2022-04-28 10:24] pjungermann commented on #9796
I think it would be nice to support to make msgraph more feature complete. I can provide a PR, too. Just busy with a few other changes at the moment

[2022-04-28 10:36] autoamator opened #11149 "NotAllowedError when trying to fetch OpenApi definition from external URL"
## Expected Behavior

I'm trying to import the OpenApi json file to backstage. Here's my definition:
[code]
 I expect the above description of API appears in backstage same as it does for petstore example:

[code]

## Actual Behavior

Instead I get the following error:

```backstage_1  | 2022-04-28T09:57:47.286Z catalog warn Processor PlaceholderProcessor threw an error while preprocessing; caused

[2022-04-28 12:00] autoamator commented on #11149
Can it be related to [a different issue](https://github.com/backstage/backstage/issues/9668) ?
I found following section in the [docs](https://backstage.io/docs/plugins/url-reader):
![image](https://user-images.githubusercontent.com/9354531/165746491-c7d2c97f-5922-4d78-9121-426dabf7cd4a.png)
https://backstage.io/docs/plugins/url-reader
My link to api definition looks raw, but on the other hand the

[2022-04-28 12:06] #11093 closed

[2022-04-28 12:16] awanlin commented on #11149
I think you are missing the file. You have:

`$text: http://backend.company.com:8080/service/v2/api-docs`

Should it not be:

`$text: http://backend.company.com:8080/service/v2/api-docs/swagger.json`? Or `$text: http://backend.company.com:8080/service/v2/api-docs/swagger.yaml` (the file really can be called anything just needs to be a valid OpenAPI spec)

If you look at the petstore example you po

[2022-04-28 12:17] awanlin commented on #11149
I could be wrong and your URL returns a file but maybe that's not something Backstage handles properly then 🤔

[2022-04-28 12:54] ProticM opened #11153 "Cannot override BackstageSidebar styles after packages update"
## Expected Behavior

BackstageSidebar should have merged styles with the ones defined within backstage.

## Actual Behavior

BackstageSidebar does not have any styling applied and the layout is malformed.

## Steps to Reproduce

Create a style override for BackstageSidebar. Here is an example override:

[code]

After updating packages, the override above is causing the sidebar not to have any sty

[2022-04-28 13:50] autoamator commented on #11149
Thanks for a quick reply.

My URL actually opens a json file.
Also I'm getting the same error for kinds of URLs you're mentioning (http://backend.company.com:8080/service2/swagger/v1/swagger.json) so probably the problem is elsewhere.

[2022-04-28 14:03] benjdlambert commented on #11094
Seems like an easy fix, do you want to contribute this? :pray:

[2022-04-28 16:32] evankanderson commented on #10652
Sorry to swing by, but someone on the VMware side brought this to my attention, and the `Notification` object looks similar to, but not compatible with the [CloudEvents](https://cloudevents.io) spec:

[code]

| `Notification` field | [CloudEvents field](https://github.com/cloudevents/spec/blob/v1.0.2/cloudevents/spec.md#required-attributes) |
|---|---|
| `kind` | `type` |
| `metadata.title` | [cus

[2022-04-28 17:59] jrusso1020 opened #11158 "Ability to generate API Tokens for non backstage backend programmatic access"
## Feature Suggestion
There has been some great work to ensure API requests are [authenticating for backend-to-backend plugin ](https://github.com/backstage/backstage/blob/master/docs/tutorials/backend-to-backend-auth.md) communication and in general we can ensure all requests to the [backend are authenticated via a middleware](https://github.com/backstage/backstage/blob/master/contrib/docs/tutori

[2022-04-28 19:16] timbonicus commented on #10652
Thanks @evankanderson, this is great to point out. CloudEvents were mentioned in the original issue, I'll take a closer look at this spec.

We're re-evaluating the `Notification` type based on some experimentation and conversations. Specifically, splitting into `Event` which captures the original event and `Notification` which might be generated based on an event, and has more UI and display-focus

[2022-04-28 19:51] awanlin commented on #11158
This is something we'd like as well. We use the Catalog API from PowerShell scripts for various bits of automation.

[2022-04-28 22:32] nateaxcell commented on #11118
Did you find a solution for this error?

[2022-04-29 01:28] knksmith57 commented on #11158
Subscribed and bigggg +1

We've very recently implemented quite a few workarounds for exactly this. First to lock down backend access to authenticated users/sessions, then to facilitate issuing long-lived tokens for programmatic catalog API access from external systems.

It's all pretty sketch and we would _love_ to better understand the intricacies (and roadmap/plan) for all things authentication

[2022-04-29 05:30] shvmbisht opened #11160 "[RFC] Move towards Persistent Server side session storage"
RFC to move towards Persistent Server-side session storage

**Status:** Open for comments
The intention behind this RFC was to enable the server-side session storage, as the default MemoryStore is not designed for production and the current system may ask you to login again if you open multiple tabs, refer https://github.com/backstage/backstage/issues/8462

## Need
In the current System when a log

[2022-04-29 08:52] claudiahub opened #11163 "Parent role is not defined for menu items"
## Expected Behavior

Users on screen readers are aware of the context on menu(s).
In particular, the parent role as menu, menubar or group should be defined for the element tags above where role = 'menu-items' is defined.

## Actual Behavior

1. Navigate to Docs menu item from the sidebar.
2. Navigate to the left menu component and press F12 to open developer tool.
3. Verify whether the menu-item

[2022-04-29 13:02] dtuite opened #11169 "Tech Radar plugin should include the description"
## Feature Suggestion

The Tech Radar plugin should include the description found at the bottom of [the Zalando version](https://opensource.zalando.com/tech-radar/).

This helps people understand how to use the Tech Radar.

The Backstage plugin version only has the radar itself.

[2022-04-29 14:00] shanthisagar-dhanya-kumar-db commented on #10543
We don't have that culture built yet but I think we need to be where you guys are.
At the moment, we build everything for the while organization which could potentially change.

[2022-04-29 14:00] #10543 closed

[2022-04-29 14:05] claudiahub opened #11172 "Menu items on filters are not accessible through keyboard"
## Expected Behavior

Filters `owned` and `starred` should be accessible through keyboard.

## Actual Behavior

1. Navigate to `Home` from the side menu bar.
2. Navigate to the main section of the page.
3. Verify whether the filters `owned`, `starred` and `all` are accessible through keyboard or not.

## Context

When any UI component are not accessible by using keyboard then user who rely on keyb

[2022-04-29 16:28] ericis opened #11177 "techdocs-cli serve 404"
See: https://github.com/ericis/test-techdocs-cli-serve *a documentation-only (TechDocs) site

## Expected Behavior

Serves "./docs/index.md" without error.

## Actual Behavior

![image](https://user-images.githubusercontent.com/974919/165984706-f8ccdc27-9745-49b8-9dd7-96bcad2332b1.png)

## Steps to Reproduce

Using the latest stable "@techdocs/cli" or attempting to use the nightly release "@techdo

[2022-04-29 16:30] stephane-mori commented on #8420
Validation is not called because object typed are used to make kind of nested values.
I have just provided this PR to allow validation when records are typed object, when 'ui:field' is filled and validator exists for it.

https://github.com/backstage/backstage/pull/11176

[2022-04-29 16:45] ericis commented on #11177
I also tried installing `pip install mkdocs` and `pip install mkdocs-techdocs-core` and then `yarn start -v --no-docker` and still got a 404 error:

[code]

[2022-04-29 16:57] jcarres-mdsol opened #11178 "Failed to read configuration value at 'integrations.github[0].token' as it is not visible."
I'm trying to make the ADR plugin work but getting `Failed to read configuration value at 'integrations.github[0].token' as it is not visible.`.
I've read the documentation about visibility, the code for the configReader that outputs this message, I've experimented with a couple of things and still I have no idea how to make it work.

I think the very least there is a need to improve the documenta

[2022-04-29 17:55] #9668 closed

[2022-04-29 18:25] zhammer opened #11179 "plugin-catalog: entity validation endpoint"
## Feature Suggestion

provide an endpoint from backstage that receives entity defintions and returns at the least validation errors, at most a diff of the catalog were those entities to be ingested (a la `https://<backstage-host>/api/catalog/locations?dryRun=true`

## Possible Implementation

## Context

one of the biggest inhibitors to backstage adoption / experimentation in our organization has

[2022-04-29 19:41] ericis commented on #11177
Possibly related to #10989 and the PR https://github.com/backstage/backstage/pull/10945

[2022-04-29 20:33] dweber019 commented on #11050
Found the issue. I have forked the backstage repository to make a poc of an idea. So I was issuing the command at https://github.com/backstage/backstage/blob/master/package.json#L27.
For an app created with create-app everything is fine https://github.com/backstage/backstage/blob/master/packages/create-app/templates/default-app/package.json.hbs#L23.

My bad, sorry for the noise.

[2022-04-29 20:39] dweber019 commented on #11077
Nice idea. Just as an input, we have a permissions in place. Everyone is allowed to see which topics exist and what's the lag of a consumer group but not everyone is allowed to read the messages.

[2022-04-29 21:02] dtuite opened #11182 "EntityOwnershipCard card should show owned systems"
## Feature Suggestion

The `EntityOwnershipCard` should show owned systems.

Given the following YAML in the catalog (plus some other stuff which I won't reproduce here).

[code]

When I visit the Group entity page, I see this:

![Screenshot 2022-04-29 at 22 01 24](https://user-images.githubusercontent.com/562403/166068642-7485d41f-4caf-4f28-a967-17ae3cd2c6bc.png)

I expect to see the owned system

[2022-04-29 21:19] dweber019 commented on #11169
I thought exactly the same, when I implemented this at my company.
Additionally I think `use` should be renamed to `adopt`, according to the Zalando link.

I have created https://github.com/backstage/backstage/pull/11183.
Let's discuss how it should look like there 😉

[2022-04-29 22:58] awanlin commented on #11050
Worth noting the `yarn backstage-cli create` experience is pretty awesome and worth trying out, gives you options for frontend, backend and common plugin types. Super handy!

[2022-04-29 23:01] awanlin commented on #11182
You can actually provide a list of Kinds, for example:

[code]

That could work as an interim solution?

[2022-04-30 05:00] freben commented on #11178
https://backstage.io/docs/conf/defining#visibility

https://github.com/backstage/backstage/blob/master/packages/integration/config.d.ts#L138

All tokens are actually marked as secret, and are therefore explicitly not available in the frontend at all, for security reasons.

[2022-04-30 05:03] freben commented on #11178
What you commonly want to do, is to make a small backend plugin "bridge" that exposes the specific functionality to want and handles the injection of the secret token. That plugin can then also for example have protection that only lets authenticated Backstage users access it (requiring a valid Backstage token to be presented in the auth header).

[2022-04-30 07:08] marcus-crane commented on #11179
This actually exists already and was added in v1.1.0: `https://backstage.service.us-west-2.aws.vendhq.com/api/catalog/validate-entity`

You can POST a JSON object with the following shape:

[code]

It returns a 200 if the entity is valid or a 400 if there are issues

![CleanShot 2022-04-30 at 18 59 01](https://user-images.githubusercontent.com/14816406/166095553-70363b83-1783-43e8-b273-4c60abc3b04

[2022-04-30 08:45] #9574 closed

[2022-04-30 13:55] #8591 closed

[2022-04-30 13:57] jcarres-mdsol commented on #11178
Currently we have oath(okta) integration so I guess only authenticated users can see anything in the system anyways.

I guess the root problem here is that the ADR plugin requires the github token in the frontend, or that's what it seems that the error message is saying. This is very scary to me as that token would need to have permissions to read any repository, if would leak out it can be very d

[2022-04-30 14:25] zhammer commented on #11179
Ahhh interesting. I’ll take a look at both. Also going to take a look at the code behind the location register dry run endpoint. Very curious if that could be exposed.

[2022-04-30 14:41] benjdlambert commented on #11050
Nice! Glad it got sorted @dweber019! And yep, @awanlin is correct. The `create` stuff is the nice new way! 👍

[2022-04-30 14:41] #11050 closed

[2022-04-30 14:49] dtuite commented on #11182
That works!

[2022-04-30 14:52] dtuite commented on #11182
Core team: Might make sense to change the default behavior too. If not, feel free to close this.

[2022-04-30 15:08] dtuite opened #11185 "Unregistered entities are not removed from "Your Starred Entities" Home card"
## Steps to reproduce

## Expected Behavior

Unregistered entities should be removed from the list on the "Your Starred Entities" card.

## Actual Behavior

It stays in the list.

In my localStorage, I can see the following:

[code]

concierge-1 is the component which was unregistered.

## Steps to Reproduce

1. Star a component in the catalog.
2. View the Home plugin Starred Entities card. It sho

[2022-04-30 15:56] freben commented on #11178
No the secrets that are in config are actually completely cut out and never reach the frontend in the first place.

Alright so if this is happening in the new plugin, let's see if Phil can give some feedback on what could be happening.

[2022-04-30 16:06] jcarres-mdsol commented on #11178
I am not sure if it happens, I only have that error to go by, anyways, probably he has more context. It is an amazing idea, so looking forward!

[2022-04-30 20:35] dtuite opened #11187 "EntityHasComponentsCard should be able to show aggregated components"
## Feature Suggestion

On the EntityPage of a Domain, I would like to use the `EntityHasComponentsCard` (or some other similar card) to list the Components which are part of the Systems in this Domain.

![Screenshot 2022-04-30 at 21 31 23](https://user-images.githubusercontent.com/562403/166121779-06ada615-23bf-48cd-862f-96ca606f54c5.png)

## Possible Implementation

Perhaps the `EntityHasComponen

[2022-04-30 20:40] dtuite opened #11188 "Search for Google Docs"
## Feature Suggestion

Similar to the [Confluence search capability](https://github.com/backstage/backstage/pull/9742), there should be an ability to search Google Docs in Backstage.

## Possible Implementation

There appears to be a search API: https://developers.google.com/drive/api/guides/search-files

## Context

Migrating legacy technical documentation to Backstage can take some time when the

[2022-05-01 14:19] jcarres-mdsol commented on #11178
I've checked other branch (no ADR plugin) and I still see this warning so maybe it is not related to the plugin at all. It happened that I upgraded and added the plugin at the same time so maybe some of the sofware/configuration changes I made created the warning and as I was not able to see the content by the plugin I was assuming it was that warning that stopped it from working

[2022-05-01 14:37] #9762 closed

[2022-05-01 14:44] kuangp commented on #11178
I thought the ADR plugin hasn't been released yet 😅  are you working off a fork of the project? Like you mentioned, I'm pretty sure this is unrelated to the (frontend) ADR plugin since it uses the `ScmAuthApi` and from what I understand, it reads from your `auth` providers to request credentials from the user via Oauth instead of reading your PAT from `integrations`.
Reference: https://github.com/

[2022-05-01 14:51] jcarres-mdsol commented on #11178
I'll dig deeper on this in a couple of days, I did have the annotation and nothing showed, probably I've done something wrong.
The plugin was released as a nightly package. It is just such a great idea, I could not help but try it out ASAP 😄

[2022-05-02 05:17] ankitnmalhotra commented on #11119
C:\Users\amalhotra048\backstage>yarn backstage-cli info
yarn run v1.22.1
$ C:\Users\amalhotra048\backstage\node_modules\.bin\backstage-cli info
OS:   Windows_NT 10.0.19042 - win32/x64
node: v16.14.2
yarn: 1.22.1
cli:  0.17.1-next.0 (local)

Dependencies:
  @backstage/integration-react     1.0.1
  @backstage/integration           1.1.0
  @backstage/plugin-catalog-react  1.0.1
  @backstage/plugin-ho

[2022-05-02 07:42] Rugvip commented on #11063
@kissmikijr Yep, would love it! 😁

[2022-05-02 07:50] ottosichert commented on #11060
`[![](assets/my_image.jpg)](assets/my_image.jpg)` is valid Markdown and should be rendered correctly, so yes indeed thanks for reporting this issue!

[2022-05-02 07:55] ottosichert commented on #11026
Hey @leon-vg! Thanks for reporting the issue. As @garyniemen mentioned, we have already implemented this in our internal Backstage instance.

However we are using it as a newly introduced TechDocs Addon (see https://github.com/backstage/backstage/issues/9636) to provide additional information when creating a new issue.

This means we will release this functionality back in form of an addon instead

[2022-05-02 07:58] ottosichert commented on #11003
Hey @iammnils, thanks for reporting!

I can not reproduce the issue, neither on our internal Backstage instance nor on the demo site linked above.

Which OS, browser and OS are you using? Do you possibly have any extensions that interfere with scrolling behaviour (such as smooth scrolling, or restoring page state)?

[2022-05-02 08:32] #11102 closed

[2022-05-02 09:09] benjdlambert commented on #11187
Think we probably want to mock this up a little bit with some examples. Does it make sense to group them in the table by System?

[2022-05-02 09:11] benjdlambert commented on #11185
Yeah, this is kind of tricky to do, as it's not just when you unregister something. It could be when someone else un-registers that component, or things get deleted. I wonder if it makes sense to add some revalidation logic here to validate that they exist. We also want to use the `displayName` of the entity too, so I wonder if makes sense to wrap that logic up in there when we grab the `displayNa

[2022-05-02 09:14] benjdlambert commented on #11182
@dtuite think it makes sense, do you want to raise a PR for this?

[2022-05-02 09:14] benjdlambert commented on #11179
@zhammer can we close this now?

[2022-05-02 09:22] benjdlambert commented on #11153
Do you know what version did you bump from? I think that this commit could be the things that's changed.

https://github.com/backstage/backstage/commit/35b78976e9269b3cb966aca2ccd5d6373aa9648c

Maybe you'll need to provide functions instead now? Not 100% sure.

[2022-05-02 09:26] benjdlambert commented on #11147
Is `app.baseUrl` set the the address that you see in the address bar when browsing backstage? And that `baseUrl` is what is in the Allowed Callback URLs?

[2022-05-02 09:28] benjdlambert commented on #11119
Think this is because now the user is not in the Catalog? Maybe these docs can help you get setup with the users from github into the catalog https://backstage.io/docs/integrations/github/org.

[2022-05-02 09:48] Rugvip commented on #5196
Will close this as #4532 is shipped, more information about customizing sign-in can be found at https://backstage.io/docs/auth/identity-resolver

[2022-05-02 09:48] #5196 closed

[2022-05-02 10:26] claudiahub opened #11196 "Alternative text not provided for profile picture"
## Expected Behavior

Screen readers have enough information to provide context on profile image.

## Actual Behavior

1. Navigate to `Settings` in side nav, navigate to main section of the page.
2. Press F12 to open developer tool.
3. Verify in the HTML whether `alt` attribute is given to profile pic or not.

## Context

Alternative text is not provided for profile picture, thus not allowing scre

[2022-05-02 10:50] zeeraw commented on #10399
Made a PR @jhaals, sorry it took so long. Better late than never I guess. :)

[2022-05-02 11:23] #11163 closed

[2022-05-02 11:38] benjdlambert commented on #11149
Hmm, so what's the error you're getting locally now?

I see that if I use a URL in the definition like `$text: http://test:1234` then I need to have `- test:1234` including the port in the `backend.reading.allow` array. But it seems to work for me locally if I add the port and reads as expected.

[2022-05-02 12:43] Fs00 commented on #9943
The bug is still present as of today.

[2022-05-02 13:14] zhammer commented on #11179
sure - i may make another issue once we give the current validation endpoint a look!

[2022-05-02 13:14] benjdlambert commented on #11179
Perfect! thanks!

[2022-05-02 13:14] #11179 closed

[2022-05-02 13:14] benjdlambert commented on #11196
Closing as #11202 fixed this

[2022-05-02 13:14] #11196 closed

[2022-05-02 13:17] claudiahub opened #11207 "Number of PRs label should be mapped to the respective combobox"
## Expected Behavior

Label "Number of PRs" should be mapped to the respective combo box.
Screen reader should announce the label i.e., `Number of PRs clickable 20 menu button submenu`.

## Actual Behavior

1. Navigate to `Home` in side nav.
2. Go to main section of the page and select a link from the name column.
3. In the next page, select link under parent component text. A new page opens up.
4

[2022-05-02 13:42] ProticM commented on #11153
It was from `1.0.3` to `1.1.1`

I've seen this commit, and I tried with providing functions (for the `drawer` override listed above) before opening this issue. The same problem persists with functions as well 🤔

[2022-05-02 14:50] mateusmarquezini commented on #10557
Hey! I was giving a look around the opened issues here and I'd like to add some info about this enhancement request, a couple of months ago we were discussing improving the microsite menu on mobile, however, this would be possible only on docusaurus v2, which is still in beta. Then yes @benjdlambert, bumping to v2 would be possible by using a [navbar](https://docusaurus.io/docs/api/themes/configur

[2022-05-02 15:16] dtuite commented on #11182
@benjdlambert I won't be able to contribute a PR for it myself but I'll check with the team.

[2022-05-02 15:28] garyniemen commented on #10475
Closing then.

[2022-05-02 15:28] #10475 closed

[2022-05-02 16:37] ankitnmalhotra commented on #11119
I have the following setup done . Still getting the same User not found exception.

Not sure what is incorrect here.

Members your inputs are appreciated.

Now I am also observing the following
2022-05-02T16:35:31.669Z catalog warn **No processor was able to handle reading of github-org:https://github.com/backstage-anks** type=plugin entity=location:default/generated-<key>

Task completed as per d

[2022-05-02 17:07] arhill05 opened #11218 "Backend failed to start up, Error: The migration directory is corrupt, the following files are missing"
## Expected Behavior

The backend should start up successfully

## Actual Behavior

An error occurs.

```[1] Backend failed to start up, Error: The migration directory is corrupt, the following files are missing: 20200511113813_init.js, 20200520140700_location_update_log_table.js, 20200527114117_location_update_log_latest_view.js, 20200702153613_entities.js, 20200721115244_location_update_log_late

[2022-05-02 18:17] lalit774 commented on #11149
It is working for me. I figured out following two issues.

1) Behind a corporate-proxy
   https://github.com/backstage/backstage/blob/master/contrib/docs/tutorials/help-im-behind-a-corporate-proxy.md

2) backend.reading.allow

Please close this, as it is not a bug.

[2022-05-02 18:38] devth commented on #7094
Hi @freben, what's next? Need any help from the community on this?

[2022-05-02 21:20] joeporpeglia commented on #4616
Hey @Andrei-Predoiu, documentation for the Backstage permission framework is now available here: https://backstage.io/docs/permission/overview

This should support your need through the use of conditions defined in a [`PermissionPolicy`](https://backstage.io/docs/permission/writing-a-policy). Currently supported conditions for catalog entities are defined in the `catalogConditions` export of `@bac

[2022-05-02 22:30] #9734 closed

[2022-05-03 04:22] sharadpattanshetti commented on #10824
Which version did you use, because we see that latest version here is 9.0.13 - https://www.npmjs.com/package/@types/fs-extra?activeTab=versions ??

[2022-05-03 05:06] jpeach opened #11233 "Send arbitrary headers with requests to backend integrations"
## Feature Suggestion

I have an internal bitbucket server and I need the backend to add extra headers to all the HTTP requests that it makes.

## Possible Implementation

AFAICT there's no good way to do this at the `node-fetch` level and I don't see a way to hook into the headers that `getBitbucketServerRequestOptions` returns. I could register a customized `BitbucketServerUrlReader` with the `U

[2022-05-03 05:08] jpeach commented on #11079
@renlord are you still able to reproduce this?

[2022-05-03 07:22] #10534 closed

[2022-05-03 07:50] ldmonkey commented on #10574
Yes, this is still a problem for us. We are currently in an Backstage evaluation phase and we've put it on hold until we can fix it.

[2022-05-03 08:12] iammnils commented on #11003
Hey @ottosichert!

Thanks for having a closer look.

I am using MacOS Big Sur `v.11.4` and Brave `v.1.38.109` without any additional extensions that could have an impact on with the scrolling behaviour.

Below, you can find a video of the bug in action.

https://user-images.githubusercontent.com/69042156/166422129-c6249367-2553-472f-881e-e4afc08a03c1.mov

[2022-05-03 08:47] #9755 closed

[2022-05-03 09:31] benjdlambert commented on #11149
Perfect! Glad it all worked out!

[2022-05-03 09:31] #11149 closed

[2022-05-03 10:26] awanlin commented on #11149
Awesome, glad this is working for you

[2022-05-03 10:45] kissmikijr commented on #11082
Really nice suggestion, thank you!
It seems we wouldn't need the refresh loop for github and it means we could configure the catalog backend to only use the GtihubWebhookEntityProvider and wouldn't need to configure the discovery processors for it.

I think the polling and state handling should be better inside the `webhooks-backend-module-github` instead of the general events-backend.

I still ne

[2022-05-03 10:55] julioz opened #11247 "ADR plugin does not support location references"
## Expected Behavior

Similar to how the TechDocs annotation supports location references via prefixes like `dir:` and `url:`, I would expect the ADR plugin annotation to do the same.

## Actual Behavior

The plugin hardcodes file paths or URLs with the location reference prefix.

## Steps to Reproduce

1. Set up the ADR frontend and backend plugins
2. Set an entity with annotation (replace `my-or

[2022-05-03 10:58] kissmikijr commented on #11207
Hey! Thank you for opening this issue! This is actually one of our plugins (Roadie) which we keep in a different repository. Could you please open an issue for us in our plugins repo? Thanks!

https://github.com/RoadieHQ/roadie-backstage-plugins/tree/main/plugins/frontend/backstage-plugin-github-pull-requests

[2022-05-03 11:04] claudiahub commented on #11207
Hey @kissmikijr thanks for clarifying on this!
I'll create an issue for the Roadie plugin.

[2022-05-03 11:04] #11207 closed

[2022-05-03 11:41] benjdlambert commented on #11119
What does your `packages/backend/src/plugins/catalog.ts` look like? And have you followed this guide for setting up Github Org data? https://backstage.io/docs/integrations/github/org#docsNav

[2022-05-03 11:56] zeeraw commented on #10835
We have this issue as well.

[2022-05-03 12:01] awanlin commented on #11082
This is a solid idea and you've clearly put a lot of thought into it! Might make sense to walk this through another SCM provider than GitHub to see if all our assumptions work? Azure DevOps Service and Server both support Web Hooks via what is called Service Hooks, here's the list of events and their payloads: https://docs.microsoft.com/en-us/azure/devops/service-hooks/events?view=azure-devops

[2022-05-03 12:23] kuangp commented on #11247
I [initially considered](https://github.com/backstage/backstage/pull/10817#discussion_r855392246) supporting `dir:` and `url:` prefixes in a similar manner to the TechDocs plugin (as a future enhancement). However, I was advised that I can achieve similar support using `ScmIntegrations` without the need to explicitly parse prefixes. As a result, you're able to reference relative/absolute locations

[2022-05-03 13:37] claudiahub opened #11251 "Combo box on AVL plugin is not operable through keyboard"
## Expected Behavior

Combo box on AVL plugin should be operable through keyboard.

## Actual Behavior

1. Navigate to `Home` on the left navigation. Make sure `Components` is selected on menu below the main heading.
2. Select `all` filter and in the table navigate to any application under name column with application live view plugin available (see screenshot below).
3. In the next page that open

[2022-05-03 13:44] ericis opened #11252 "The "url:" prefix in "edit-url" is included in the catalog's "Edit Metadata" link and breaks the link"
## Expected Behavior

"Edit Metadata" strips the "url:" prefix from the configuration value.

## Actual Behavior

"Edit Metadata" includes the "url:" prefix from the configuration value and doesn't work.

## Steps to Reproduce

1. Register a "Component" with a "backstage.io/edit-url" that contains the "url:" prefix in the value before the actual URL
2. View the component in the catalog and click "

[2022-05-03 13:54] claudiahub opened #11253 "Combo box has no associated label"
## Expected Behavior

Combo box should have a defined associated label so screen readers can detect it and announce to the users.

## Actual Behavior

1. Navigate to `Home` on the left navigation. Make sure `Components` is selected on menu below the main heading.
2. Select `all` filter and in the table navigate to any application under name column with application live view plugin available (see s

[2022-05-03 13:58] #9817 closed

[2022-05-03 14:26] claudiahub opened #11257 "Green tick button doesn't activate through keyboard"
## Expected Behavior

Green tick button should activate through keyboard

## Actual Behavior

1. Navigate to `Home` on the left navigation. Make sure `Components` is selected on menu below the main heading.
2. Select `all` filter and in the table navigate to any application under name column with Runtime resources tab available (see screenshot below).
3. In the next page that opens up for selected

[2022-05-03 14:54] antoniomuso opened #11259 "Gitlab nested repositories don't work during component registration"
## Expected Behavior

A nested GitLab URL should work during component registration, for example: `https://my.gitlab.com/path/to/project/blob/master/template.yaml`

## Actual Behavior
Currently does not work and it gives this error:
[code]
The error is thrown by this function: https://github.com/backstage/backstage/blob/4a2a9ec36b171085427faebf420b087263875abe/packages/integration/src/gitlab/core.

[2022-05-03 14:59] simonstamm commented on #11049
Hey @Rugvip, I'm also interested in creating user entities when they sign in. The benefit of it is the possibility to add users to defined groups like `members: ["@John.Doe", "@Foo.Bar"]` without defining them manually as user entity in a yaml file. Unfortunately I can't use an entity provider which syncs the organization to the catalog because our Active Directory has more than 300k groups (it's.

[2022-05-03 16:05] github-actions[bot] opened #11263 "Snyk vulnerability [SNYK-JS-EVENTSOURCEPOLYFILL-2429580]"
## Affecting Packages/Plugins

* [@backstage/plugin-techdocs](plugins/techdocs/package.json)

## Overview
[event-source-polyfill](https://www.npmjs.org/package/event-source-polyfill) is an A polyfill for http://www.w3.org/TR/eventsource/

Affected versions of this package are vulnerable to Undesired Behavior. This package geo-locates users based on their IP address and if the user is Russia-based

[2022-05-03 16:53] claudiahub opened #11264 "Labels are not associated to combo boxes"
## Expected Behavior

Labels should be associated to combo boxes

## Actual Behavior

1. Navigate to `Home` on the left navigation. Make sure `Components` is selected on menu below the main heading.
2. Select `all` filter and in the table navigate to any application under name column with application live view plugin available (see screenshot below).
3. In the next page that opens up for selected

[2022-05-03 17:15] benlangfeld commented on #11026
@ottosichert This used to work. Was the functionality intentionally removed or does this count as a bug? If it was intentionally removed, why was that done before the substitute was available?

[2022-05-03 17:33] Rugvip commented on #11247
@backstage/techdocs-core curious what your thoughts are on the dir/url prefix, is it needed still or mostly there because of history? I imagine removing it would likely be a somewhat straightforward backwards compatible change?

[2022-05-03 18:31] chuliang014 opened #11268 "Overlap in My Squads"
## Expected Behavior

no overlapping in My Squads

## Actual Behavior

<img width="115" alt="image" src="https://user-images.githubusercontent.com/56138162/166518822-81072c18-5b0e-4449-85ef-0cd32732c79f.png">
<img width="139" alt="image" src="https://user-images.githubusercontent.com/56138162/166518909-44cb7765-943a-48a4-af73-cebcfbe8bce0.png">

## Steps to Reproduce

## Context

## Your Environme

[2022-05-03 18:41] ToriBrillaud opened #11269 "Adding a survey banner to Backstage.io"
## Feature Suggestion

 Adding a survey banner to [Backstage.io ](https://backstage.io)

## Possible Implementation

## Context

``

 Add a Typeform survey banner to [Backstage.io ](https://backstage.io)
 code example: https://github.com/backstage/backstage/blob/1bddc77f3143395fa4e8139a16cb6de72c1d77bb/microsite/pages/en/index.js#L23-L33

Typeform Survey: https://spotify-backstage.typeform.com/to/

[2022-05-03 19:08] iamEAP commented on #11247
The distinction is quite intentional these days. `dir:` is shorthand for "the given directory, relative to the entity's location."

And it's there to make it so that one does not need to know the semantics/details of ScmIntegration/UrlReader to be able to enable TechDocs for an entity (which App Integrators might know but which End Users would almost certainly not know)

[2022-05-03 19:14] chuliang014 opened #11271 "Ownership card in user page error"
## Expected Behavior

clicking the ownership card in user page will show all the related service.

## Actual Behavior

Got an error: Objects are not valid as a React child
<img width="1358" alt="image" src="https://user-images.githubusercontent.com/56138162/166525416-df2f6e10-8b21-4b4a-aeef-7972133bc8ff.png">

## Steps to Reproduce

1. make sure you've owned service
2. located to your user page li

[2022-05-03 19:46] dyu-bot opened #11273 "Issues Upgrading Backstage (0.68.1 -> 1.1.1)"
Hi there! I tried upgrading backstage to latest in order to resolve an issue with bootstrapping the Datadog plugin as described [here](https://github.com/RoadieHQ/roadie-backstage-plugins/issues/441)

## Expected Behavior

Upgrade succeeds

## Actual Behavior

Ran `yarn backstage-cli versions:bump` which upgraded Backstage to latest (0.68.1 -> 1.1.1)

And getting errors during `yarn tsc`:

[code]

[2022-05-03 20:03] brentg-telus commented on #10183
I'm interested in taking on the GithubDiscoveryProcessor and converting it to an Entity Provider.

[2022-05-03 21:07] chuliang014 commented on #10824
@sharadpattanshetti `"fs-extra": "^10.0.1"`

[2022-05-03 22:17] chuliang014 commented on #11271
`yarn backstage-cli versions:bump --release next` fixed the issue, close the ticket

[2022-05-03 22:18] #11271 closed

[2022-05-03 22:46] Rugvip commented on #11247
@iamEAP `dir:` does use the resolve logic from the integrations though right? Afaik it kind of just acts like an explicit relative URL specifier

[2022-05-03 23:21] regicsolutions commented on #3269
@shailahir just checking in to see if you made any progress. The requirements list is a bit on the heavy side for the first iteration, are you okay releasing what's been done so far as a first iteration so we can get some feedback from the community?

[2022-05-04 03:07] jcarres-mdsol commented on #11273
This is pretty much expected. Review the breaking changes in the changelog from the components you use and the versions you are jumping. There was a lot of API breakage prior 1.0 and there is still in areas

[2022-05-04 04:50] shailendra-ahir-cbre commented on #3269
Yes @regicsolutions , let me clean it up and push by this Sunday afternoon IST time.

[2022-05-04 04:52] shailahir commented on #3269
Yes @regicsolutions , let me clean it up and push by the sunday afternoon IST time.

[2022-05-04 07:11] shmaram commented on #11218
Same here, this is blocking us from using backstage....

[2022-05-04 07:20] goober commented on #10183
@pjungermann Have you started with converting the BitbucketServerEntityProvider yet? Otherwise I can grab that one.

[2022-05-04 08:59] claudiahub opened #11289 "Combobox is not getting activated through keyboard"
## Expected Behavior

Combobox UI component should activate through keyboard

## Actual Behavior

1. Navigate to `Home` on the left navigation.
2. Navigate to the `Type` combobox.
3. Verify whether the Type combobox is getting activated on pressing enter / space / alt+ enter key or not.

## Context

Ensure all interactive elements can receive focus and are actionable via keyboard. For example, lin

[2022-05-04 09:11] jvilimek commented on #7860
so ... shall we try implement a process / job inside backstage that will clean up entities without references locations (that were deleted from source code)?

[2022-05-04 09:39] autoamator commented on #11149
Thanks for suggestions!
I already had the proper entry in backend.reading.allow and it did not work. I still need to check the coorporate-proxy solution.

[2022-05-04 09:49] claudiahub opened #11292 "Clear buttons inside fields are not accessible via keyboard"
## Expected Behavior

Clear button should be accessible through keyboard for 'Owner', 'Lifecycle', 'Tags'.

## Actual Behavior

1. Navigate to `Home` on the left navigation.
2. Navigate to the main section of the page and launch NVDA.
3. Verify after inputing some data in `Owner` or `Lifecycle` or `Tags` that the clear button in those fields are accessible through keyboard.

<img width="1329" alt=

[2022-05-04 10:05] jvilimek commented on #7860
this is in fact a simple PowerShell script that can cleanup the orphaned entities:

[code]

[2022-05-04 10:33] claudiahub opened #11295 "UI controls not accessible through keyboard under metrics in application live view plugin"
## Expected Behavior

UI controls should be accessible through keyboard under metrics in application live view plugin.

## Actual Behavior

1. Navigate to `Home` on the left navigation. Make sure `Components` is selected on menu below the main heading.
2. Select `all` filter and in the table navigate to any application under name column with application live view plugin available (see screenshot b

[2022-05-04 10:43] shivampathak opened #11296 "NotFoundError: Unable to read url"
I have been trying to register an existing repository to my local backstage.
I created a github app and linked the client id and secret. I created a dummmy catalog-info.yaml in my repo but when I try registering it, it gives the following error:

[code]

[2022-05-04 11:03] thunder7s opened #11297 "SSL Connectivity to Postgres"
I am getting an error when starting up the backend whilst attempting to connect to postgres database in Azure.
I have tried setting ssl to both "require" and "true" in app-config.yaml file:

[code]

Logs for the pod state:

Backend failed to start up, error: no pg_hba.conf entry for host "nn.nnn.n.nnn", user "jarvis", database "postgres", SSL off.

When connecting directly to postgres db from loca

[2022-05-04 12:16] ottosichert opened #11301 "Update microsite search backend documentation regarding scheduler"
In https://github.com/backstage/backstage/pull/9770 we replaced `defaultRefreshIntervalSeconds` in favour of using a `TaskRunner`. The documentation on the microsite however is missing the updated change.

The content from the changeset could be used:

https://github.com/backstage/backstage/pull/9770/files#diff-7dfa4a1df97d6d9ea81ed8dd3007306abf954e9b68c2d9fea127e7b3e1e32d64R14-R47

[code]

Refere

[2022-05-04 14:26] pjungermann commented on #10183
@goober No, I'm working on Bitbucket Cloud at the moment. I'm nearly done, need to polish a few things. I plan to create a PR soon. I decided to put this into a new module `plugins/catalog-backend-module-bitbucket-cloud`(may change still) instead of `plugins/catalog-backend-module-bitbucket` (I want to have both separated so you can pull in the one(s) you actually need/use).

[2022-05-04 14:35] #11172 closed

[2022-05-04 14:37] mclarke47 opened #11309 "[RFC] Kubernetes backend API update"
**Status:** Open for comments

## Need

There are currently 2 endpoints in the Kubernetes backend plugin

[**GET `/clusters` endpoint**][clusters]

This endpoint returns the configured Kubernetes clusters and the authorization necessary to access this cluster on subsequent calls.

[**POST `/services/:serviceId` endpoint**][service]

This endpoint takes user authorization details and an Entity and

[2022-05-04 14:48] mclarke47 commented on #11309
Still not 100% sure on the paths for the new endpoints, alternatives welcome!

[2022-05-04 15:21] Rugvip commented on #11309
Throwing in an option that we've tried out a little bit with some success, which is to have a general resource list endpoint that accepts an `entity` parameter. This leaves the implementation open for listing things by other dimensions than a single entity. You can limit the scope of the initial implementation by making the `entity` parameter required. You can find an implementation of that patter

[2022-05-04 17:12] goober commented on #10183
Thanks. Then I will wait until you have contributed your changes and will then finalize the BitbucketServerEntityProvider

[2022-05-04 19:02] leschaller1 commented on #11042
I've made the changes locally - how do I go about getting write access to create a PR?

[2022-05-04 19:20] lalit774 commented on #11296
@shivampathak  Check Github integration or it is duplicate to  #11149

[2022-05-04 19:36] goenning commented on #10278
I'm looking for something similar, but using Azure KeyVault instead of HC Vault.

After some digging I found that @backstage/config-loader support some transformations functions. Would it make sense to extend this to allow additional transformations from plugins?

Something like this:

[code]

The actual string

The transformations could be on backstage itself or community plugins: @backstage/plug

[2022-05-04 19:47] goenning commented on #10278
I also considered using `experimentalEnvFunc`, something like:

[code]

but that seems to have been remove from `loadBackendConfig`.

[2022-05-05 04:05] JordiPolo commented on #11178
You are right, that's how that works and I've make it work. The warning in the title comes from somewhere else I am still not sure why.

Plugins do use the auth providers and thus an oauth application in github. I wonder @freben  is it even technically possible to have a github provider that works with the token similar to how the github integration works instead of needing to install a backstage

[2022-05-05 07:58] garyniemen commented on #4123
Can you take a look at this one @realandersn

[2022-05-05 08:14] garyniemen commented on #11003
@Irma12 @iammnils We can reproduce and will get back with an update

[2022-05-05 08:17] emmaindal commented on #11301
closed by https://github.com/backstage/backstage/pull/11305

[2022-05-05 08:17] #11301 closed

[2022-05-05 08:18] blaryjp commented on #10278
This looks a good idea @goenning . I planned to work on  @Rugvip proposal in the next weeks, but I'll wait the feedback from Backstage's team about your idea so :).

[2022-05-05 08:23] garyniemen commented on #11026
@camilaibs Can you take a look at this. The edit icon works internally. But in the open not sure. Also, there is a feedback button in the screenshot provided above. Do you know anything about that?

[2022-05-05 08:27] freben commented on #11062
Closed by #11068

[2022-05-05 08:27] #11062 closed

[2022-05-05 09:24] iammnils commented on #11003
Thanks a lot @garyniemen!

[2022-05-05 09:34] Rugvip commented on #11035
Sorry to leave this hanging! It slipped through the cracks :<

Before diving deeper I wanna clarify whether you're looking to primarily configure the components provided by Backstage itself, or also configure components that are internal to plugins as well?

[2022-05-05 10:51] Rugvip commented on #10278
Transformations were added with that kind of custom transform use-case in mind. At this point I'm not sure it's a good idea though tbh, it does open up a lot of questions about how it's supposed to work with the frontend builds, and perhaps local development. It does have the pretty big benefit of being able to rely on the existing config system to define the secrets that are loaded in, with the r

[2022-05-05 10:55] Rugvip commented on #11061
All items are dealt with! :shipit:

[2022-05-05 10:55] #11061 closed

[2022-05-05 11:28] acierto commented on #11035
I'd say primarily configure the components provided by Backstage itself.
But maybe it's better to design an architecture/solution which will cover both cases, do you have any concerns already about it in mind?

[2022-05-05 12:39] brja opened #11340 "Overflow of name and email on EntitiyMembersListCard can occur on specific 'screen width' + ’character length' combinations"
## Expected Behavior

The EntitiyMembersListCard should render without overflow on all screen sizes

## Actual Behavior

The email + name can overflow under special circumstances (when longer names/emails) and the Grid item gets too limited width for some screen sizes.

## Steps to Reproduce
Go e.g. to
[https://demo.backstage.io/catalog/default/group/team-a](https://demo.backstage.io/catalog/defau

[2022-05-05 12:44] freben commented on #11297
Was "jarvis" the right username? Just checking.

Do you get the pg_hba warning saying exactly "SSL off" no matter what your `ssl` setting is set to in Backstage?

[2022-05-05 12:52] freben commented on #1329
Just to gauge things:

How far - how many percent on the way to perfection - does it go, if you were to place contact info in the metadata.description field on human readable form, and not having it in the model as such? It's tempting to put anything and everything in the model, but that also puts even more burden on teams that adopt this, and sometimes less is more. Especially when it then comes

[2022-05-05 12:54] freben commented on #11295
Thanks for making all of these, by the way! 🥳

[2022-05-05 13:39] freben commented on #9942
@asaini11 I am going through old issues and just wanted to check in, what's your status for this one?

[2022-05-05 13:39] thunder7s commented on #11297
Correct - Jarvis is the username

Yes - I receive the exact same error if I set ssl setting in app-config.yaml file to either "true" or "require"

[2022-05-05 13:44] freben commented on #7094
@devth Hi! Thanks for offering - from our point of view, this is as important as it is hard. It is also not something that can be easily done in smaller pieces. It'll probably not be easy to delegate to the community at this point, but we are happy to hear of ideas or others' stories that could help us scope and plan for it a bit better. As it stands, we're considering that the maintainers would m

[2022-05-05 13:59] devth commented on #7094
Makes sense. FWIW, I recently migrated a medium sized app from MUI 4 to 5 and it wasn't too painful. Their provided codemods worked quite well and handled most of the heavy lifting.

[2022-05-05 14:31] Rugvip commented on #11035
@acierto ah alright! We actually have something in place for that already, so it may just be a matter of expanding capability/usage of that. It's the [app components](https://github.com/backstage/backstage/blob/8386a32644fe253ec0890a3cf0c6bf29c6faec41/packages/core-app-api/src/app/types.ts#L68-L86) configuration provided to `createApp`, where we could add support for customizing more components, a

[2022-05-05 15:44] lalit774 commented on #9139
Currently, I focus on one problem for API Catalog. Table is super slow. Is there any way to reduce the download content.

In API Catalog, It download all(1637) api.json files and we don't search inside the json file as per my understanding.

can we do If user click on API Name( or option to choose related content download: by true/false by column) , Then only it will download the api.json file. I

[2022-05-05 16:38] goenning commented on #10278
Thanks for your inputs, I might hack something along these lines to see how it'd look.

[code]

I don't think it impacts frontend build at all (as far as I know), because current transforms are already backend-only anyway.

As for local dev, it's really up to integrators to decide how they want to setup. They might want the app-config.local.yaml to use env vars and hard codes strings, while on app

[2022-05-05 16:52] kuangp commented on #11185
@benjdlambert I put up a PR that implements the logic you mentioned

[2022-05-05 17:50] jcarres-mdsol commented on #10854
@ankitnmalhotra  I've been keeping backstage up to date in our installation and definitely 0.4 to 1.0 is crazy amount of changes. The advise to create a clean app and removing/configuring as you had your current app is best approach

[2022-05-05 20:48] leschaller1 commented on #11042
PR here :) https://github.com/backstage/backstage/pull/11344

[2022-05-05 21:50] magnusp commented on #11309
I would welcome the possibility to limit the amount of request hitting the kubernetes apiserver(s). We have a setup with 3 datacenters serving multiple clusters over rancher. So a query for an entity would hit 3*clusters per DC while the entity could possibly only match 1 DC in 1 cluster. In some cases we do have matching entities in 3x3 clusters (development, acceptance and production) but are on

[2022-05-05 22:26] timbonicus commented on #10652
Recapping some thinking here as an update.

We believe Backstage will eventually have an event/message bus available to backends, where things like catalog updates, build failures, audit logs of activity, etc. will be broadcast. These events will carry some of the fields in the original proposal above, such as `originatingEntityRef`. The type sensibly has similarities with CloudEvents, as @evankan

[2022-05-05 23:25] jpeach commented on #11233
Hey @freben 👋

Our specific case is to use applications protected by Cloudflare zero trust (see https://developers.cloudflare.com/cloudflare-one/identity/service-auth/service-tokens/), which needs an extra ID and secret header. Although bitbucket server is the first integration we are looking at, it is likely we would have others in the future, which is why I suggested adding the `headers` key as

[2022-05-06 03:27] jpeach opened #11347 "OwnershipCard component links don't filter on fully qualified entity refs"
## Expected Behavior

Clicking on a component type box in the OwnershipCard should take you to a list of all the components of the given type with a matching owner.

## Actual Behavior

If the owner is in a namespace (e.g. a ref like `group:teams/foo`), the namespace is not included in the filter, so no results are returned. Manually adding the namespace to the filter makes it work.

## Steps to R

[2022-05-06 03:27] jpeach commented on #11347
cc @renlord

[2022-05-06 04:58] sergeyshevch commented on #10303
I can attach my use case to it. We are using dexidp for SSO in our org. For the clients, it's just a generic oidc provider. So in many cases, we can just use integration for okta or something similar. But here okta integrations are not working for us and setting up a generic oidc provider is quite hard. It will be nice to have this documented

[2022-05-06 07:36] acierto commented on #11035
Hi @Rugvip, good morning!

Thank you for the detailed answer, let me comment out on these points:

As you mentioned evolving AppComponents can be tough, as this context passed everywhere, and providing more options there will make it harder to work with. What I also see, that this approach completely replaces the component, for some cases it could be a bit too much, if the intention only to hide t

[2022-05-06 08:55] #8655 closed

[2022-05-06 09:08] anicke commented on #11347
I belive this was fixed in #11139.

[2022-05-06 09:52] sagacity commented on #11035
@Rugvip

(FYI: I am a coworker of @acierto, so this is not a distinct POV from a different company, but I have some thoughts on the subject as well, maybe it helps spark some more conversation or clarifies things)

So, our goal is to be able to change various aspects of existing components, whether it's changing the title on a button or sometimes adding or removing an additional UI element somewhe

[2022-05-06 12:30] acierto commented on #11035
As a user of backstage, the access to `createPlugin` or to `createPlugin.provide` is not accessible. In both cases I would need to copy paste `plugins.ts` and provide modifications there.

Of course this is a viable option.
But would be nice to minimise it.
As especially with Backstage migration from one version to another, these `plugins.ts` files would be tend to be modified what will lead to up

[2022-05-06 13:59] laceyallyn commented on #10652
Hey there!
I'm the product manager responsible for rolling out Backstage in Zalando. We have 2 use cases that might be related to this depending on how you end up defining notifications.

The first, a request from strictly users:
To enable **_desktop notifications_** for time-sensitive topics which require their attention (the original request was about failed deployments), so that they get the no

[2022-05-06 14:12] freben commented on #11153
Hm now I'm wondering if this is actually hitting a MUI bug. Some time back, I remember us struggling like crazy with getting props into styles. Whenever we used prop functions in the styles, sometimes it just plain messed up and stopped doing what it should, at all. Unfortunately I seem to be unable to find the JSS issue or wherever it was, that explained the problem. And it seems to be unfixed si

[2022-05-06 14:17] freben commented on #11153
Yeah check this out.

https://github.com/backstage/backstage/pull/10775/files#diff-228bdd0b6adf4855d9d3da007abd163ea5257be38fd779f9b9f884638fd887e1R87

We had to wrap the whole style builder into a memoized thing that got called with the props as input, to circumvent the problem mentioned above. Really annoying. Maybe you could apply the same thing in more places, in that same folder?

[2022-05-06 14:29] Rugvip commented on #11035
@acierto I don't really see why we would want to add the complexity of loading in arbitrary external resources tbh? We should be able to organize things so that they are all available at build-time. Loading in a single JS file might be fine, but if we also want that file to be able to access components, React, etc. we immediately end up with some pretty big changes needed.

[2022-05-06 14:37] freben commented on #11147
I think I'm still a bit unclear on what the use case looks like. Why would the app base url be different from the other base urls? Is the browser for sure not on the teleport url?

Are you doing "local" development remotely here? Or is this a production setting? I'm confused.

The origin given in your auth provider's settings must match your browser location.

Side note: remember that these URLs s

[2022-05-06 14:57] nadworny opened #11368 "Azure auth provider doesn't work with latest version"
## Expected Behavior

I'm able to sign in using the Azure provider.

## Actual Behavior

I'm getting the following error: `The Microsoft Active Directory provider is not configured to support sign-in`

![image](https://user-images.githubusercontent.com/1425919/167157112-c85e1a6e-e487-45f4-b399-b943f7e9e4f2.png)

## Steps to Reproduce

1. `npm i @backstage/create-app@0.4.26`
2. `npx backstage-creat

[2022-05-06 14:59] freben commented on #7860
@jvilimek Just `filter=metadata.annotations.backstage.io/orphan` could work too I think. It allows any value - and the only value we ever use is `true`. But either way, as far as I can see, that looks right and should work. And remember, anything that you can do in a PowerShell script, you can do in node as well. So in your own backend, in the catalog init code, you can create a catalog client and

[2022-05-06 15:08] freben commented on #11218
Hm. I wonder if the problem here is actually that you shouldn't specify a logical database name at all. Every single plugin has their own logical database, isolated from each other.

This is what a dummy local config looks like for me

[code]

and then i can start up a local dockerized database just to test against

[code]

Now on that instance, new logical databases will start popping up automagi

[2022-05-06 16:01] DiegoWong commented on #11158
I would love this,  I'm trying to create a VScode extension that can explore the template catalog and execute a template within VScode, I think this would allow me to implement this feature

[2022-05-06 16:05] jeremyguarini opened #11369 "Code coverage file view does not show code"
When viewing files in the code coverage view, the file contents should be displayed along with line numbers and highlighting. Currently just a blank page with highlighted row numbers is displayed. No code is rendered. Now if I refresh the page and try to view the file contents, everything works as expected.

## Expected Behavior

When viewing a file in code coverage I expect to see the lines of co

[2022-05-06 18:17] jvilimek commented on #7860
Thanks for reply!
Unfortunately `https://backstage-host/api/catalog/entities?filter=metadata.annotations.backstage.io/orphan` yields no result (as `.` is used for properties ... and this property contains these as well... that's why in PowerShell I access this property via `.metadata.annotations.'backstage.io/orphan'`.
And yes! In the end it would be awesome to have this job in the backstage but I

[2022-05-06 18:17] mclarke47 commented on #11309
Hey @magnusp this is the intended use case for the [serviceLocatorMethod](https://backstage.io/docs/features/kubernetes/configuration#servicelocatormethod), it is used to filter the Kubernetes clusters so that only the clusters where a service is located gets called, however there are currently no implementations. I was thinking of adding a basic implementation that would scan the clusters on star

[2022-05-06 18:37] freben commented on #7860
The filters actually don't work like that. We build a search index table with that exact dot separated string for every single "leaf" key in an entity. There's no splitting by dots, only joining.

[2022-05-06 19:35] awanlin commented on #7860
What version of PowerShell are you using? This `'http://localhost:7007/api/catalog/entities?filter=metadata.annotations.backstage.io/orphan=true'` totally works and I know others have had success with it as it's in the script I contributed for this exact purpose: https://github.com/backstage/backstage/blob/master/contrib/scripts/orphan-clean-up/OrphanCleanUp.ps1

[2022-05-06 22:36] timbonicus commented on #10652
@laceyallyn Very helpful, thank you! I haven't considered desktop notifications, but that could certainly add on top of this work once the frontend is receiving notifications.

The second is perhaps similar to what we have in mind for `Home page banners` mentioned above; we use this at Spotify to advertise new features, for example:

![home-banner](https://user-images.githubusercontent.com/556258/

[2022-05-06 23:54] blabaschin commented on #10837
I had the same issues. It was a headache. I had to uninstall all of my yarn as above but in addition I had to brew install python, cmake, and gcc. I suggest someone looks into adding these to the instructions.

[2022-05-07 15:13] renlord commented on #9923
To chime into this discussion, in Cloudflare we also use bitbucket server with cloudflare access gateway sitting infront as authentication proxy infront of bitbucket. This requires injecting custom authentication headers to be used by our access gateway.

See https://github.com/backstage/backstage/pull/11335 and https://github.com/backstage/backstage/issues/11233

[2022-05-07 15:24] renlord commented on #11079
No, not at the moment. :/

[2022-05-07 20:43] webark commented on #7094
Is there a "import patch" (not sure the right term) that maps the old imports to the new and ployfils some of the api changes? It the opposite that does the new to the old? Almost like a branching by abstraction mechanism?

I think the migration of the core packages and plugins seems doable, but it's the immediate breaking of existing applications and community plugins, and the inability to front

[2022-05-07 20:51] webark commented on #7094
Also, introducing a code mod step in the upgrade script could help facilitate this, as well as just general upgrade changes that would be useful as things change outside of this upgrade.

[2022-05-07 23:10] webark commented on #8054
so using `@yarnpkg/parsers` vs `@yarnpkg/lockfile` allows for the proper parsing of the lockfile across all versions. (and all version check tests pass with this switch). However, its `stringifySyml` seems to only output the latest lockfile format, so I'm not sure of all the use cases where we parse the file, but then want to output it in a valid format.

[2022-05-07 23:11] webark commented on #8054
There is also the `yarn-lock-check` command which relies on `@yarnpkg/lockfile` but this might be able to be switched out with a package that supports all 3 versions.

[2022-05-08 06:38] shahidv3 commented on #11147
hi @freben @benjdlambert

this is how the high level block diagram of backstage ,teleport and auth0 looks like

1. User log on to teleport url
2. Launches backstage application
3. Backstage application launched successfully
4. SSO using auth0 (followed steps as mentioned here https://backstage.io/docs/auth/auth0/provider)
5. When tried to login via auth0 - it shows this message "auth0 - Origin "ht

[2022-05-08 07:11] freben commented on #7860
Oh, yeah could it be a case of needing to quote the url since it has reserved she'll characters in it?

[2022-05-09 00:05] jpeach commented on #11347
Yep, I agree. Thanks @kuangp and @anicke!

[2022-05-09 00:05] #11347 closed

[2022-05-09 06:53] anicke opened #11379 "Gerrit integration: Implement scaffolder publish action"
## Feature Suggestion

A missing piece of the Gerrit Integration is support for publishing to new Gerrit projects with the "Scaffolder". This is issue is created to track our contribution of this feature.

## Possible Implementation

* A new RepoUrlPicker for Gerrit will be added.
* A new action in "scaffolder-backend" that will create and push to a new Gerrit project ("gerrit-publish").

[2022-05-09 07:55] freben commented on #11297
That's really odd. Could it be that you have an `app-config.local.yaml` that contains overrides on top of your `app-config.yaml`?

You can try to do `yarn backstage-cli config:print` in your project root to double check what your actual config turns out to be, in its parsed state.

[2022-05-09 08:03] freben commented on #11379
Sounds good!

[2022-05-09 08:16] freben commented on #11295
@claudiahub We are not sure that we recognise this view at all - could it be an internal plugin that you have?

[2022-05-09 08:19] freben commented on #11253
@claudiahub Same here - is this really an open source plugin?

[2022-05-09 08:22] freben commented on #11158
@DiegoWong Giving end users access to the service is different though - that would likely not be through the same mechanisms as service-to-service auth.

[2022-05-09 08:25] claudiahub commented on #11295
@freben this is, as you mentioned, an internal plugin but the components in this view are located on @backstage/core-components so I guess we should address there this accessibility issue. What do you think ?

[2022-05-09 08:27] claudiahub commented on #11253
@freben same here, this is an internal plugin but the components in this view are located on @backstage/core-components so I guess we should address there this accessibility issue.

[2022-05-09 08:27] freben commented on #11079
Alright, closing then. Let us know if the problem reoccurs.

[2022-05-09 08:27] #11079 closed

[2022-05-09 08:31] claudiahub commented on #11295
@freben a Pr I did recently ➡️https://github.com/backstage/backstage/pull/11339, I guess this should close also this issue.

[2022-05-09 08:44] freben commented on #692
@ivangonzalezacuna If you start on it, let us know and we can assign you to the issue.

[2022-05-09 08:48] freben commented on #1329
@jcarres-mdsol Hm let me see if I get this right. You have a signed in user whose auth info has `user:default/jcarres`, and you have an entity that has `spec:owner: somebodyElse` but also a `people` entry saying basically `techOwner: jcarres`? And you want to see that component as owned when you sign in?

If that's the correct understanding, then a custom processor could indeed translate the `tech

[2022-05-09 08:54] ivangonzalezacuna commented on #692
I'm already working on it. I'm starting with a basic listing functionality, so Backstage will only need a LIST permission token in vault, making it more secure for now.

I need to add some documentation and probably a token-refresh functionality as well, or a way to implement it by the user if it's needed (in our company we will need that, as the token will expire after 24h)

[2022-05-09 09:48] thunder7s commented on #11297
Yes I have an app-config.local.yaml file also, and attach it to the pods via:

app-config.local.yaml file contains:
`POSTGRES_USER: jarvis
  POSTGRES_HOST: <<xyz>>.postgres.database.azure.com
  POSTGRES_PORT: "5432"
  SSL: "true"`

I can update the POSTGRES_USER parameter for example and can see change referenced in the log file, but still get the same error.

[2022-05-09 09:55] Rugvip commented on #11158
I think admin panel or that kind of thing is probably a sane long-term goal, perhaps with support for Client Credentials flow, certificates, or some other form of long lived token management. It's not something we have the bandwidth to take on right now though, so we'd need someone else to drive that work to move it forward. Happy to assist with that though.

The current service-to-service auth me

[2022-05-09 11:32] arhill05 commented on #11218
I can't omit specifying a database due to security policies at my workplace - I can't use the default `postgres` database for the maintenance database.

Besides, I can see the plugin databases being created and populated, so I know that part is working. I've also tried both the `backend.database.pluginDivisionMode` and `backend.database.ensureExists` configuration options to no avail.

[2022-05-09 11:36] arhill05 commented on #11218
I wonder if it has something to do with the hard-coded `database` when connecting to an "admin" database in the Postgres connector? [https://github.com/backstage/backstage/blob/618d78495cf6cdf8928365a20b97435c5a65074d/packages/backend-common/src/database/connectors/postgres.ts#:~:text=const%20admin%20%3D%20createPgDatabaseClient(dbConfig%2C,%7D)%3B](See here)

[2022-05-09 11:43] anicke commented on #11379
Yes, you can assign me.

[2022-05-09 12:09] jvilimek commented on #7860
Thanks all, it has to be something with the path ingress or WAF protection then... I will check.

[2022-05-09 12:12] awanlin commented on #7860
Also worth mentioning is #9606 and specifically the comment by @freben of adding this add a filter instead of a whole separate screen: https://github.com/backstage/backstage/issues/9606#issuecomment-1042904165. I've started work on this a while ago but have gotten much busier with work and haven't been able to come back to it, feel free to pick it up

[2022-05-09 12:47] marcus-crane commented on #11158
Love a god admin panel :')

[2022-05-09 12:47] Anonyfox opened #11394 "Refresh token is not supported for provider auth0"
## Expected Behavior

I configured both github and auth0 as auth providers and both work as expected. When logging in via github, I can open links in new tabs and refresh the page: works as expected.

## Actual Behavior

When logged in via auth0, I can't open links in new tabs or reload the current page without being logged out.

## Steps to Reproduce

1. this is a new setup of backstage, includin

[2022-05-09 13:05] Anonyfox commented on #11394
@Rugvip

[x] doublechecked auth0 dashboard - configuration has refresh stuff allowed and includes sensible token lifetimes, also the grant for refresh is enabled and the OAuth popup window asks for the "offline access" grant during login.

[x] the (shortened) response from the backend resolver via `console.log(info)` includes a `refreshToken`
[code]

[ ] the backend response to `http://localhost:7

[2022-05-09 14:06] claudiahub commented on #11257
@freben Hi Fredrick,
this can be fixed by simply adding property `tabIndex=0` on the material UI icon as below code
`<CheckCircle aria-label='status-ok' tabIndex=0 />` where CheckCircle is imported on backstage from `@material-ui/icons/CheckCircle` package. I guess this shouldn't be addressed on Backstage repo, thanks.

[2022-05-09 15:02] #11340 closed

[2022-05-09 15:10] freben commented on #11297
That is not supposed to be "true" as a string, but rather the boolean value true. I wonder if that's what is biting you. Can you hard code the value in your config instead of passing it in as env?

[2022-05-09 15:22] jcarres-mdsol commented on #11178
Thanks for the response. Anyways this is really not an issue. Thanks for the responses!

[2022-05-09 16:02] shimmieblum commented on #9086
Hi, i've submitted a pr for this on my work account: https://github.com/backstage/backstage/pull/11399

[2022-05-09 16:27] #7041 closed

[2022-05-09 16:44] arhill05 commented on #11218
Gotcha. Is there any easy way to find what plugins need databases/what databases they will create automatically so I can create them by hand?

I managed to get it working by setting the combination of the `backend.database.ensureExists: false` and the `backend.database.pluginDivisonMode: 'schema'` configuration settings. It'd still be nice to have the maintenance database that is used when connect

[2022-05-09 17:01] awanlin opened #11401 "[Tech Insights] Cron upgrade breaks backend-tasks: Error: Failed to persist task, TypeError: (intermediate value).sendAt(...).add is not a function"
## Expected Behavior

Tasks should be scheduled as configured

## Actual Behavior

We are seeing the following error from Tech Insights when it starts up: "Error: Failed to persist task, TypeError: (intermediate value).sendAt(...).add is not a function".

## Temporary Workaround

After some investigation we were able to determine the issue was due to Cron changing from `moment-timezone` to `luxon`

[2022-05-09 17:07] shanthisagar-dhanya-kumar-db opened #11402 "Techdocs mermaid plugin support not working"
I have followed all the steps mentioned here https://github.com/backstage/backstage/pull/8804/files and https://backstage.io/docs/features/techdocs/how-to-guides#how-to-add-mermaid-support-in-techdocs

![image](https://user-images.githubusercontent.com/86959288/167460976-11520e8b-ad71-4a23-9a33-5292ee90cb34.png)

But during the generation of docs, it fails
ERROR    -  Config value: 'plugins'. Erro

[2022-05-09 17:11] morganmspencer opened #11403 "Supporting permissions integration in scaffolder templates"
## Feature Suggestion

When developing templates with the permissions integration enabled it would be great to allow parts of the template form to show/hide based upon the user's permissions. This would be nice to have on both the individual field and section level.

## Possible Implementation

Could be implemented similarly to how the feature flags were in [this issue](https://github.com/backstag

[2022-05-09 20:44] rmanny opened #11406 "Merge Entities from multiple Org providers"
The existing OrgProviders are perfect if all of the desired User and Group info exists in only one provider. But I think there are use cases where being able to use two in conjunction could fill some important holes

## Feature Suggestion

Add a strategy which would allow users to leverage information from two (or maybe more) OrgProviders when generating their hierarchy

## Possible Implementation

[2022-05-09 20:45] rmanny commented on #11406
I have been pouring over the code for a while trying to figure out another way to do this, so I would be willing to take this task on if it seems like a good idea

[2022-05-10 03:38] jcarres-mdsol opened #11407 "[Search] Make entity annotations searchable by default"
Currently  `DefaultCatalogCollator` does not include the information of the annotations or tags or other useful data in the document created for search
https://github.com/backstage/backstage/blob/c46a99b0457ece1b3b4342d3cd9e50b25e3b6083/plugins/catalog-backend/src/search/DefaultCatalogCollator.ts#L123-L137

Wouldn't it be useful to include that information in searches also?

[2022-05-10 04:31] jpeach opened #11408 "EntityRefLink ignores defaultKind when parsing the entityRef"
## Expected Behavior

This code ought to be OK and generate a link to `user:guest`.
[code]

## Actual Behavior

The `parseEntityRef` fails and an error is displayed.
[code]

## Steps to Reproduce

Use `EntityRefLink` with an unqualified ref and default kind.

## Your Environment

[code]

[2022-05-10 07:18] martinohmann commented on #10277
@garyniemen https://github.com/backstage/mkdocs-techdocs-core/pull/58 solves the issue, but since it was merged there hasn't been a new release of the techdocs mkdocs plugin to pypi yet.

I would consider this issue solved when the fix is released to pypi so that users can switch to the latest `mkdocs-techdocs-core` version.

[2022-05-10 07:43] martinohmann opened #11410 "TechDocs: `EntityTechdocsContent` not rendering sub-pages"
## Expected Behavior

When visiting an existing sub-page via the docs tab, it should render the techdocs content.

For example, the following urls should both render the techdocs for `docs/subpage.md`:

- TechDocs plugin: `https://backstage-host.tld/docs/default/Component/my-component/subpage/`
- Catalog Entity docs tab: `https://backstage-host.tld/catalog/default/component/my-component/docs/subpa

[2022-05-10 07:57] Rugvip commented on #11147
Have you tried setting `app.baseUrl` to `https://<teleport.url>`?

[2022-05-10 08:19] johanhammar opened #11411 "Using the My Groups sidebar menu item highlights both Home and My Team menu items"
## Expected Behavior

When viewing My Groups page using the My Groups plugin, only the My Group menu item should be selected

## Actual Behavior

Both Home and My Team(s) are selected when viewing the team (group) page

![image](https://user-images.githubusercontent.com/69011/167580681-ffca5dc0-acf8-4f0e-b5b7-f5dda8e4e3e9.png)

## Steps to Reproduce

1. Add the MyGroups sidebar item here: https://

[2022-05-10 08:42] Hanyman8 commented on #11118
We are having the same issue.

[2022-05-10 09:03] freben commented on #1329
Yeah all relations are without restraints; you can have any number of `ownedBy` edges to users and groups. So I think that should make your situation supported perfectly (but with some custom extra fields in the model, which is fine).

[2022-05-10 09:07] soapraj commented on #10574
Hi! @idmonkey - do you see any more warn/debug/error logs after this line `Error: Encountered error object without a message, got 'NoSuchKey: null'`? Would you be able to post some more log lines before and after?

[2022-05-10 09:09] #11185 closed

[2022-05-10 09:12] #10284 closed

[2022-05-10 09:22] alexweide opened #11414 "Helm: Missing default value for postgresql.service.port"
I am trying to deploy the Helm Chart with the default configuration exactly like described in https://backstage.io/docs/deployment/helm. But it fails, because Helm is unable to template the [`postgres-test.yaml`](https://github.com/backstage/backstage/blob/master/contrib/chart/backstage/templates/tests/test-postgresql.yaml), because `postgresql.service.port` is not set.

## Expected Behavior

I ex

[2022-05-10 09:26] ldmonkey commented on #10574
hi @soapraj,
After this message the container crashes and there are no more logs. Here are some log messages before this happens.
[code]

[2022-05-10 09:53] freben commented on #11296
Yeah indeed check the integration, `shivampathak/trial` seems to be a private repo or not exist (it's a 404 either way) and you have to make sure that the configured token in your github integration has access to it.

[2022-05-10 10:05] grantila commented on #11035
An alternative would be to think of customizing as api-refs. So a component has a default "api" which contains its titles, enable/disable and other properties. Then you can _override_ the api. It might not naturally fit api-refs as is today, but I'll leave that as a mental model for this idea:

To achieve the same customizability, perhaps have a default Provider (i.e. react context) for each custo

[2022-05-10 10:09] shanthisagar-dhanya-kumar-db commented on #11402
I added the plugin, but forgot to build the image. It is working as expected now. I will close this

[2022-05-10 10:09] #11402 closed

[2022-05-10 10:49] #11268 closed

[2022-05-10 10:54] #9960 closed

[2022-05-10 11:14] freben commented on #11252
These shouldn't have a `url:` prefix, that's just not the format it expects at all. Not sure that we should add code here and there that compensates for what's ultimately a wrongly entered value 🤔 Did you encounter this in the main repo or was it in some custom entities/code?

[2022-05-10 11:25] freben commented on #11369
Thanks for your report. I don't use this plugin myself and don't have test data readily available - hopefully the plugin owners/contributors could pitch in. @alde any ideas?

[2022-05-10 11:26] freben commented on #11369
And of course - if you can get even more insights by inspecting the page and checking the HTML/react contents etc, it would of course help

[2022-05-10 11:26] sergeyshevch opened #11415 "[Allure Plugin] add isAllureAvailable helper for Allure plugin"
## Feature Suggestion

Add `isAllureAvailable` helper

Currently Allure plugin doesn't provide such helper

## Possible Implementation

## Context

It will be useful to add the isAllureAvailable helper to the allure plugin. I prefer not to display the page if the annotation is not configured for this entity. Instead of this, I display a help page with instructions about annotations setup.

[2022-05-10 11:27] sergeyshevch commented on #11415
I guess I will add PR for this issue in a few days. Currently I just implemented it by myself

[2022-05-10 11:58] #11147 closed

[2022-05-10 12:24] johanhammar commented on #11411
Yeah, I figured it probably had something to do with the routing. I'll update and see how it behaves when your change is released 👍

[2022-05-10 13:18] freben commented on #11368
Hi,

See this article, https://backstage.io/docs/auth/identity-resolver

and this changelog entry https://github.com/backstage/backstage/blob/master/plugins/auth-backend/CHANGELOG.md#0130

[2022-05-10 13:57] afscrome opened #11424 "Task Scheduler doesn't report exceptions"
## Expected Behavior

If an unhandled exception is thrown in a scheduled task, I'd expect some kind of error to be logged / reported to the console.

## Actual Behavior

Nothing gets logged to the console

## Steps to Reproduce

Consider the following added in to packages\backend\src\plugins\catalog.ts

[code]
I'd expect some kind of logs around the `oops` error thrown by the function, but nothing

[2022-05-10 14:26] claudiahub commented on #11292
It seems clear buttons, placed within `Autocomplete` comboboxes, display on mouse hover only.
For this reason, this component shouldn't be triggered by keyboard actions.
The autocomplete follows the https://www.w3.org/TR/wai-aria-practices/#combobox spec.

Reference to Material UI https://github.com/mui/material-ui/issues/30815

[2022-05-10 15:55] mhaley37 opened #11427 "Allow tableOptions to be passed to RelatedEntitiesCard based components"
The entity view page can be made up of different cards, many of which are based on `RelatedEntitiesCard`:
* `HasSubcomponentsCard`
* `HasSystemsCard`
* `DependsOnResources`
*  etc.

It would allow greater customization of the entity page if these individual tables could be augmented, using `material-table` [options](https://material-table.com/#/docs/all-props).  However, even though these are all

[2022-05-10 16:04] #11263 closed

[2022-05-10 16:25] dtuite opened #11428 "Groups hierarchy arrows go behind other boxes"
First off, I totally understand if someone wants to change this from being a bug to an enhancement.

## Expected Behavior

Arrows should attach to the right side of their parent boxes.

## Actual Behavior

Arrows go behind boxes to the top and bottom of their parent boxes.

## Steps to Reproduce

Here's a screenshot...

At a glance, it looks like "Platform" is pointing at the bottom "roadie-backst

[2022-05-10 16:32] dtuite opened #11429 "Groups page diagram zooms instead of scrolling"
## Expected Behavior

On the groups page, when I scroll up with the mouse hovered over the diagram, the page should scroll up.

## Actual Behavior

The diagram zooms in.

## Steps to Reproduce

Here's a recording of me demonstrating the bug.

https://www.loom.com/share/aa4744982fa04611bbbaa26736c3b584

There is some demo data here which might be useful when reproducing this issue: https://github.c

[2022-05-10 19:09] chriscarpenter12 commented on #9942
I was getting this same error until I adjusted the ClusterRole attached to the ServiceAccount used for Backstage. It's not exactly clear what the require permission are...

[2022-05-10 19:48] zhammer commented on #10362
+1 on fixing this (haven't gotten to try @Niksko's fix but hope it works).

folks at my org have found techdocs-cli _super_ unstable. pretty much every update brings some issue that breaks local workflows. would love to see more focus on stability in future techdocs cli releases. (don't mean to be nagging. i realize it's a hard thing to get right and that i'm not proposing any solutions :) )

[2022-05-10 20:28] lalit774 opened #11430 "Deploying with NX"
Nx builds a project graph by analyzing your workspace, which it then uses to only rebuild what is necessary and to never run the same computation twice. Nx also helps establish structured code sharing and ownership management to keep the workspace maintainable.

Similar to the [Docker](https://backstage.io/docs/deployment/docker), [Kubernetes](https://backstage.io/docs/deployment/k8s) etc, there s

[2022-05-11 01:57] janquijano commented on #5507
Any traction on this feature request? +1 for Launchdarkly plugin

[2022-05-11 03:58] jcarres-mdsol commented on #1329
In the yaml definition of the entity itself we can't have multiple owners. We import these yaml via the github entityprovider.
So I imagine that the implementation here would be to write our own processor and add it to `backstage/packages/backend/src/plugins/catalog.ts` which would read from Backstage's DB each component, read the people, find these users entities in Backstage then add a OWNED_BY

[2022-05-11 07:33] Rugvip commented on #11430
Could you provide a bit more infromation about what this would mean in practice? As in what is it that you want to incrementally build, when, and how do other tasks like running tests work?

Our development model is to work straight with source code without intermediate builds, so for local developmemt there is no need to build individual packages at all.

[2022-05-11 07:34] NishkarshRaj opened #11445 "[RFC] Enhancing experience for Multi-Catalog Import capability with the `kind: Location` Entities"
**Status:** Open for comments

## Need

Our Engineers in different teams/channels define a single source of truth - a `kind: Location` file and reference every other catalog via this file. Thus, they have to register only a single catalog manually via UI or with the API.

The existing import process seems to have a few issues that need to be overcome for a smooth onboarding and good customer exper

[2022-05-11 08:26] nadworny commented on #11368
hi @freben
thanks... so if I get it right, I'll need to add an azure provider to the backend as well?

[2022-05-11 08:33] martinohmann commented on #10277
A new version of the `mkdocs-techdocs-core` plugin was released yesterday: https://pypi.org/project/mkdocs-techdocs-core/1.0.2/. It includes the fix even though it's not explicitly mentioned in the changelog.

@pjungermann which docs update are you referring to? I don't think that this bug fix requires special documentation as it's a non-breaking change.

As far as I'm concerned this issue can be

[2022-05-11 11:43] omerfarukdogan opened #11460 "Software Templates: Rollback previous steps in case of an error"
Steps should have a way to rollback their changes if a subsequent step fails during the task.

## Feature Suggestion

Currently, steps are not informed about errors in subsequent steps. Therefore, there is no way to rollback the changes applied in a step if it is completed successfully but a subsequent step fails.

## Possible Implementation

Introduce a new field (such as `errorHandler`) in `Temp

[2022-05-11 12:01] dhpizza commented on #11273
Can you please elaborate a little on your solution @jcarres-mdsol ? How do fix these breaking changes, e.g. this one ?

`error TS2305: Module '"@backstage/plugin-catalog-common"' has no exported member 'catalogEntityCreatePermission'.
`
thx

[2022-05-11 13:14] Xantier commented on #11401
I believe this is likely the time to modify that cron scheduler of tech-insights to use the now released task scheduler package. The initial built-in cron functionality is standalone for tech insights and really just supports a single instance deployments natively. With those mods, we should be able to get rid of that cron dependency in favour of the tasks module

[2022-05-11 15:44] angeliski commented on #11118
Hey @cvrlnolan How did you fix this?

[2022-05-11 15:51] iain-b opened #11465 "[GitHub Actions Plugin] Support mono repos with multiple components with distinct workflows"
We've had users come to us asking for better support for monorepos where different components have their own workflows. As is (AFAICS) the plugin fetchs all workflow runs for the repo.

## Feature Suggestion

Support specifying which workflows relate to a given component.

## Possible Implementation

Could use [listWorkflowRuns](https://octokit.github.io/rest.js/v18#actions-list-workflow-runs) wit

[2022-05-11 17:03] ctrombley opened #11466 "[Techdocs] Techdocs CLI local development flow is broken"
## Expected Behavior

`npx @techdocs/cli serve` should serve a functional local docs site.

## Actual Behavior

`npx @techdocs/cli serve` is serving 404s when launched.

## Steps to Reproduce

1. Create a minimal docs site:

`mkdocs.yml`:
[code]

`docs/index.md`:
[code]

2. Run `techdocs-cli serve`:
[code]

### Result:

![Screen Shot 2022-05-11 at 9 53 43 AM](https://user-images.githubusercontent.

[2022-05-11 17:11] ctrombley commented on #11177
Possibly related to #11466

[2022-05-11 18:08] goenning commented on #11309
Should we also have an option to get k8s resources for multiple entities?

What I've seen on backstage so far is that most plugins API support a single-component in the request, which makes sense as they are often used on the EntityPage.

But when you own dozens of components, it's very time consuming having to open each component page to see k8s resources status.

We'd like to build a single page

[2022-05-11 19:26] rsmarathe opened #11468 "[TechDocs] Page header formatting"
## Feature Suggestion

Currently, the tab title in TechDocs plugin is of the format `Site Description | Site Name | App Title`.  Reorder this title to be in the format `Site Name | Site Description | App Title`.

## Possible Implementation

Change order in here to `[title, subtitle, appTitle]`
https://github.com/backstage/backstage/blob/52ce9d94e9ed858242d753feadc80be3a4dfa74c/plugins/techdocs/src

[2022-05-11 23:22] jcarres-mdsol commented on #11273
grep the changelog for `catalogEntityCreatePermission` and there will be an entry that will explain what happen with that. It may be in another package or maybe was renamed or removed and replaced.

[2022-05-12 07:53] Anonyfox opened #11471 "[TechDocs] How to use typedoc instead of markdown"
## Feature Suggestion

For library-type components, I'd like to use the generated output from [TypeDoc](https://typedoc.org/) in the `/docs` tab and automatically index the contents in backstage search. Currently, the techdocs-cli seems to expect a strict structure before uploading (I am using Github Actions to generate the docs and have an AWS S3 bucket as destination)

## Possible Implementation

[2022-05-12 08:58] nadworny commented on #11368
I managed to get it running by adding the resolver to the `auth.ts` according to the documentation.

One thing that's really annoying, but maybe I set it up wrongly, is that once you enable the auth provider in `app-config.yaml` and setup your local environment, the authentication pop-up window calls the backend on port `80`, instead of the configured `7007` port. This makes local testing almost i

[2022-05-12 09:11] Rugvip commented on #11465
Sounds like a good area for improvement, and I think we could go either in a more generic direction with a solution that might apply to all CI/CD plugins, or something that only works for GitHub actions, or a bit of both.

One thing to consider here could be to use the workflow files to derive the information, basically by matching the path patterns against the source locations of the entities. Ma

[2022-05-12 09:43] freben commented on #1329
Sure, apart from that the processor doesn't control what entities it processes - the processing loop is in control, and occasionally calls your processor methods with an entity, one by one. So your processor would probably hold some internal state, and then for each entity make a lookup in that state to see what decorations it should make / what things it should emit (depending on whether the proc

[2022-05-12 09:53] freben commented on #11406
Hm, I do not think that a wrapper provider is the right way to go about it.

At a conceptual level, we commonly use providers to get "raw" data into the system and then use processors to enrich that data. Just looking at the context section of this ticket, it sounds like you'd just import whatever you have out of GitHub, and then you'd have a separate custom `EnrichUsersWithLdapDataProcessor` that

[2022-05-12 10:31] Rugvip commented on #11445
Thank you for highlighting this, makes sense to fix!

Specifically regarding the first case, what version of the catalog packages are you on? I know we did somewhat recently change the frontend code so that it relies on the catalog's own ability to delete unreferenced entities rather than eagerly deleting things. It could be that this is actually already fixed.

Regarding the second case, is this

[2022-05-12 10:49] Anonyfox commented on #11471
For anyone reading this: I got something working with outputting markdown from typedoc and using this as-is, like:

[code]

this works roughly out of the box, but the folder/file-hierarchy is autogenerated, so it seems that I can't produce a nice navigation sidebar with deep links (like, to every `class` that is exported).

[2022-05-12 11:09] Rugvip commented on #11427
Yep I think that should be alright, doesn't seem to be too controversial to add it to `EntityTable` as well. Perhaps the issue you highlight is something we should fix as well though? referring to the draggable components

Is this something you want to work on or should we open it up for contributions?

[2022-05-12 11:19] Rugvip commented on #11428
Yep let's fix this 👍

Wondering if this is a problem with the underlying component or specific to the groups one, but will leave that for exploration :grin:

I'll also just highlight that this could have a couple of different solutions, for example modified arrow routing, target layout, or rendering.

Is this something you want to work on or should we open it up for contributions?

[2022-05-12 11:22] Rugvip commented on #11429
Thank you for the video, that does help! :grin:

Really torn on whether this is fine and expected behavior for a fullscreen diagram, or something to fix. To be more precise, we should probably either fix the zooming, or the scrolling. I'm leaning towards making sure that the page doesn't scroll being the best solution here?

[2022-05-12 11:24] Rugvip commented on #11424
Agreed! Is this something you'd like to contribute?

[2022-05-12 11:25] lars1974 opened #11478 "Bug in oauth2 authentication from Swagger API definitions - invalid redirect uri"
## Expected Behavior

I would expect to be able to login to spotify API via oauth and play with it

## Actual Behavior

When I log in Iget a page with "invalid redirect uri"

## Steps to Reproduce

1. Create a new backstage app (my is version 1.1.0)
2. Start it and go to API and choose spotify API
3. Click authenticate and type in you clientID and secret and login
4. you'll get 404 "INVALID_CLIENT

[2022-05-12 11:56] Rugvip commented on #11478
Can verify that this happens at https://demo.backstage.io/ as well as locally. It seems like this was broken by swagger-api/swagger-ui#7476. It can be reconfigured via `oauth2RedirectUrl`, but it seems like that's [not currently forwarded](https://github.com/swagger-api/swagger-ui/blob/master/flavors/swagger-ui-react/index.jsx#L13-L39) by `swagger-ui-react`.

Is this something you want to help get

[2022-05-12 11:58] Rugvip commented on #11414
Seems sensible, is it something you would like to contribute?

[2022-05-12 12:00] Rugvip commented on #11411
Yeah sidebar highlighting is tricky 😅. Tbh I think the sidebar itself needs to decide a single item to highlight, rather than trying to have the items decide themselves. A bit of extra context/warning here is that #10450 is happening and react-router v6 stable is surely gonna affect this more

[2022-05-12 12:04] alexweide commented on #11414
Hello @Rugvip ,

suddenly the issue was gone. I am closing the issue.

[2022-05-12 12:11] benjdlambert commented on #11460
Hmm not sure that we're looking to introduce this sort of complexity as yet to the scaffolder. What are the things that you are seeing that is failing? Are they meant to fail? Could you not retry them in the action rather than breaking the flow of the scaffolder and exiting when maybe retrying the thing in the action if it might fail could work around this?

[2022-05-12 12:20] dtuite commented on #11429
@Rugvip Yeah that might be a good solution. If it worked like Google maps it might be ok.

[2022-05-12 12:21] dtuite commented on #11428
Let's open it up to other contributors.

[2022-05-12 12:32] Rugvip commented on #11401
Thank you for reporting! I believe this is now fixed, as `1.8.3` seems to have been removed from NPM. Gonna close, but chime in if that doesn't make sense 😁

[2022-05-12 12:48] mscam opened #11483 "Conflicting entityRefs while using s3-discovery and changing component ownership"
## Expected Behavior

I am using s3-discovery on s3 bucket with services catalog entity files named "groups/{group_name}.yaml".

Some entities has been moved from one group file to another, and ownership annotations are changed as well.

I would expect then catalog refresh to update entities with correct group ownership, for example `component:default/test-service` should move from `services/group

[2022-05-12 12:53] Rugvip commented on #11394
Thank you for investigating @Anonyfox! I believe to have found the root cause: it was explicitly disabled #11484 🤦

[2022-05-12 12:55] nadworny commented on #11368
Callback URL in Azure is defined with 7007 port so it must be something else 😕

[2022-05-12 13:09] ltdonner commented on #11403
(Though I think it would be cool to have the option for either template level or actions)

[2022-05-12 13:21] Rugvip commented on #11292
Got a bit confused here, but your second comment is highlighting the same thing as I conclude as well right, that this is actually the intended behavior? Is it fine to close this issue?

[2022-05-12 13:26] morganmspencer commented on #11403
Yes I was going to say both would be great as well

[2022-05-12 13:27] claudiahub commented on #11292
@Rugvip sure, it is fine to close this issue since the component it's located on the materialUI side. thanks!

[2022-05-12 13:29] #11292 closed

[2022-05-12 13:39] #11253 closed

[2022-05-12 13:47] claudiahub commented on #11253
@Rugvip sure, I forgot to add the ''closes #issue''. thanks for pointing it out and closing the issue!

[2022-05-12 13:55] Rugvip commented on #11252
`url:` prefix should indeed not be there. The confusion seems to be caused by particular logic for rendering links in the entity inspector, so fixing that over here: #11490.

[2022-05-12 13:58] Rugvip commented on #11218
Great that it got resolved! Gonna close this issue as the reported problem is out of the way. Please open up a separate feature suggestion ticket if you have some improvement in mind :grin:

[2022-05-12 13:58] #11218 closed

[2022-05-12 14:00] lars1974 commented on #11478
I'm a rookie javascript developer but I'll give it a shot next week after Danish holliday

[2022-05-12 14:32] awanlin commented on #11401
@Rugvip Cron `2.0.0` also has this issue 😞  but I think @Xantier's plan makes the most sense to me

[2022-05-12 14:33] Rugvip commented on #11401
But we're not in `2.0.0` right? :p

[2022-05-12 15:15] Rugvip commented on #11035
@grantila I think that's a pattern that can make sense as an internal implementation of this, but perhaps not what you'd expose as the top-level API? Even with your example it's totally up to each plugin whether to implement the configuration like that though.

One thing that I feel is really important to strive for is to keep the external API surface input only, so that for example moving a field

[2022-05-12 15:16] isand3r commented on #10851
Just an update: I've got a first iteration close to completion. Should be ready to submit a PR soon!

[2022-05-12 18:18] freben commented on #11401
And besides, the central task scheduler had the same issue (uses the same cron library). So we'll have to take appropriate action whenever we bump to 2.0 there too.

[2022-05-12 19:26] awanlin commented on #11401
Yes, you are both right, I think I was more saying we'll need to keep this in mind whenever we go to 2.0, this is totally fine to stay closed 👍

[2022-05-12 21:26] zhammer commented on #8219
Going to follow work on this! We're curious about pushing change events from the backstage catalog through our notification system the same way we do from other internal/platform tools.

For us, this doesn't _have_ to be a Kafka-like endpoint. We're open to alternatives, like a lightweight hook system in our backstage application along the lines of:
[code]

Could be a nice first step towards a per

[2022-05-12 22:21] james-wilson-kidsloop commented on #9983
I have Backstage installed on K3D and hitting the exact same thing. I tried a couple of the docker in docker solutions here:
https://medium.com/hootsuite-engineering/building-docker-images-inside-kubernetes-42c6af855f25

It got me further but the next error was:

Which is my reward for blindly hacking. It would be great if someone that knew what they were doing could point me in the right directio

[2022-05-12 22:21] jamesw201 commented on #9983
I have Backstage installed on K3D and hitting the exact same thing. I tried a couple of the docker in docker solutions here:
https://medium.com/hootsuite-engineering/building-docker-images-inside-kubernetes-42c6af855f25

It got me further but the next error was:

Which is my reward for blindly hacking. It would be great if someone that knew what they were doing could point me in the right directio

[2022-05-13 00:53] regicsolutions commented on #3269
Sounds good thanks

[2022-05-13 06:53] emmaindal commented on #10277
Thanks for confirming @martinohmann I'll close this issue!

[2022-05-13 06:53] #10277 closed

[2022-05-13 07:24] acierto commented on #11035
I agree with you @Rugvip, `reconfigure` shouldn't allow to add extra fields, but only override default.

I incorporated feedback given @grantila to keep the configuration in registry with an ability to look it up with help of React context.

I kept the naming of it as `metadata`, not `provider`, as `provider` in backstage codebase is appended to Api, Routing, Themes, etc.

PR: https://github.com/b

[2022-05-13 08:21] Irma12 opened #11501 "Importing component discovered via gh-discovery results in new location with type url created."
When github-discovery is enabled, registering an entity (which is already discovered) results in proper import after analyze is complete and register location of type url regardless of the fact entity is already discovered during discovery process.

## Expected Behavior

User should be notified component already exists.

## Actual Behavior

Component is imported with location type `url` regardless

[2022-05-13 08:54] SpyQuel opened #11503 "Extensible IdentityClient"
Could it be possible to extend the default IdentityClient?
In our use case, I would like to use the TokenIssuer to sign a JWT token containing other claims other than the ones required by Backstage, and I would like to specify also different signing algorithms.
I did it with version 0.5 but with version 1.1.0 I cannot anymore since IdentityClient is a class with a private constructor and there is

[2022-05-13 11:31] punkle opened #11507 "code completion for scaffolder templates in ide"
## Feature Suggestion
I believe I could be more productive about creating or updating backstage templates if there was an ide plugin that allowed code completion.

## Possible Implementation

I have not explored how this could be done, I am assuming most devs are using webstorm or visual studio, however if would be nice if this could be done in a more generic way to apply to any ide.

## Context
I

[2022-05-13 12:49] mhaley37 commented on #11427
Sure, I can take this one.  I don't think the `a11y` violation can be addressed directly in backstage, likely needs to be changed in `@material-table/core`.  I will look in further to confirm that.

[2022-05-13 13:21] Rugvip commented on #7971
Transitive dep in RJSF keeps us at 5.0 as well :<, seems like we need to wait for a bump to 6.0 there

[2022-05-13 13:59] Joonpark13 commented on #11403
I think this is absolutely worth pursuing and is likely worth a PRFC in the near future. One thing we need to be mindful of is how this would interact with location permissions, which are conceptually related (if someone has write access to some catalog component through a scaffolder template, but doesn't have location write access, does that even make sense?). [Currently location permissions live

[2022-05-13 14:14] JordiPolo commented on #11483
I do not know but I suspect that if you update to 1.1.0 , it will be fixed.
In 1.1.0 they changed the type of S3 integration so now it removes entities that are not in source anymore. I think that will solve your problem.
We had similar experience with left-over entities but after moving to 1.1.0 the behavior is fixed

[2022-05-13 14:40] #11259 closed

[2022-05-13 15:23] danielsamet opened #11511 "Missing Index - Improve Error Handling In Search"
## Expected Behavior

I would like to suggest that when searching inside of an index that does not exist, it should error out with an HTTP 400 response. (I can confirm that this occurs within ElasticSearch, I do not know about other search engines).

## Actual Behavior

Currently, searching inside of an index that does not exist returns a 500 error.

## Steps to Reproduce

Build a search request t

[2022-05-13 15:41] nadworny opened #11512 "Techdocs plugin fails with "unexpected end of file""
## Expected Behavior
Techdocs are generated.

## Actual Behavior
Techdocs generation fails
[code]

## Steps to Reproduce

1. Run `npx @backstage/create-app`
2. Add an azure repo with techdocs to the app-config.yaml
3. Start backstage with `yarn dev`

## Context
We have upgrade backstage to the latest version and this problem seems to be happening only with this new version. Strange is, I have one

[2022-05-13 18:25] anarafaelagomes commented on #10514
@farhan-triplelift could you help me with an example that worked to deleting the folder. I'm trying but it's not working.

[2022-05-13 20:53] #9248 closed

[2022-05-13 21:41] farhan-triplelift commented on #10514
Sure, here is my example:

`    - id: deleteFilesSdkPublishing
      if: ${{ 'sdk_publishing' not in parameters.dependencies }}
      name: Delete SDK Publising files
      action: fs:delete
      input:
        files:
          - ${{parameters.name}}/${{parameters.name}}-sdk
          - .github/workflows/publish-sdk.yml
          - ${{parameters.name}}/package.json`

[2022-05-14 01:35] #9579 closed

[2022-05-14 13:50] iamEAP commented on #11247
Hmmm....  Yeah, I suppose so.  @ottosichert, I remember you had a hand in reviewing the PR that introduced location-relative TechDocs ref annotation values; I don't remember why we landed on explicitly specifying `dir` and `url`.  Do you recall?

[2022-05-14 14:49] awanlin opened #11515 "[create-app] Module not found: Error: Can't resolve 'graphql-ws'"
## Expected Behavior

Backstage from `npx @backstage/create-app` should start up using `yarn dev` without any errors

## Actual Behavior

After starting a brand new instance of Backstage from `npx @backstage/create-app` we get this error in the UI:

![image](https://user-images.githubusercontent.com/67169551/168430588-efd7a925-bdda-4352-8fc3-bed676adff54.png)

The same error happens when you run `

[2022-05-14 15:00] Rugvip commented on #11515
Thank you for reporting! This is caused by #2405. It's fixed in master through #11506, which will be released on Tuesday. A workaround for now is to add `graphql-ws` as a dependency of the app.

[2022-05-14 18:11] solimant opened #11516 "[RFC] A "headless" Backstage"
**Status:** Open for comments

## Need
At Adobe, we use [React Spectrum](https://react-spectrum.adobe.com/react-spectrum/index.html) for our UI/UX, which is a React implementation of [Spectrum](https://spectrum.adobe.com/), Adobe's design system. We would like to take on Backstage for what it has to offer as an extensible and open platform for developer portals. However, one of the most significan

[2022-05-14 18:26] cmoulliard commented on #11515
Where should we add this dep ?

[2022-05-15 11:37] Rugvip commented on #11515
@cmoulliard putting it in `packages/app/package.json` should hopefully do the trick

[2022-05-15 13:01] cmoulliard commented on #11515
Which version ?

[2022-05-15 14:17] #9603 closed

[2022-05-15 14:33] Rugvip commented on #11516
This is actually more or less already the case in the sense that `@backstage/core-app-api` and `@backstage/core-plugin-api` are completely decoupled from MUI. It's not until you start relying on packages like `@backstage/app-defaults`, `@backstage/theme`, and `@backstage/core-components` that you bring in the MUI dependency. That ofc leaves a lot to be implemented yourself, and you're not going to

[2022-05-15 14:46] #7941 closed

[2022-05-16 03:02] kiranpatel11 opened #11518 "Now showing the Owned entities in catalog"
## Expected Behavior
Given the user successfully sign-in and
When the same user is a member of a group, which owns some of the entities in the catalog
Then the owned entities should not be zero and shows the entities owned by the user.

## Actual Behavior
Showing the zero owned entities

## Steps to Reproduce

1. User exists the in the catalog with the `metadata.name` matching the local-part of th

[2022-05-16 06:57] cmoulliard commented on #11414
Issue is not fixed at all

[code]

[2022-05-16 07:45] #11466 closed

[2022-05-16 07:56] asaini11 commented on #9942
@freben we have updated our backstage version to 1.1.0 and we are still getting the same issue so would like to keep this open till we have a fix.
@chriscarpenter12 Our permissions on the service account are the below:
`container.configMaps.list
container.cronJobs.list
container.deployments.list
container.horizontalPodAutoscalers.list
container.ingresses.list
container.jobs.list
container.pods.lis

[2022-05-16 09:09] Rugvip commented on #11368
The popup is opened towards the host that `backend.baseUrl` is configured to in the frontend, at least with the default app APIs. Could you double check that it's set correctly?

[2022-05-16 09:18] Rugvip commented on #11515
The latest one should be fine

[2022-05-16 09:21] ProticM opened #11519 "Tech Insights API endpoint not returning proper data"
Tech Insights backend plugin is not providing proper data from the following endpoint:

- `/facts/latest?entity=component:default/mycomponent&ids[]=factRetrieverId1`

To my understanding, this endpoint should return the latest facts stored for the given component by the fact retriever. If this assumption is true, then the result is incorrect.

I think the this problem is caused by this method here

[2022-05-16 09:37] ProticM commented on #11153
@freben I totally missed your reply, sorry. I will try to see if this is fixed after I update my instance version.

You are suggesting doing this for every component within the layout folder (where the styles are used)?

[2022-05-16 09:42] Rugvip commented on #11501
Hmm, makes sense to do something about this, but not entirely certain what. Do you think it would make sense to highlight that the entity already exists in the catalog and prompt the user whether they want to continue with the registration? I could see a way to implement that being to include the catalog presence in the dry-run result for each entity.

[2022-05-16 09:43] nadworny commented on #11368
Not sure what it was but now it's working ;) thanks!

What shall we do regarding this one:
`Also, the documentation doesn't seem to be up to date as there is a dead link under https://backstage.io/docs/auth/microsoft/provider. The Adding the provider to the sign-in page at the very end doesn't exist.`

[2022-05-16 09:44] Rugvip commented on #11503
Yep this is something that we want to do but haven't focused our efforts on yet. Would you like to make a concrete implementation proposal to drive this forward?

[2022-05-16 09:56] Rugvip commented on #11483
@JordiPolo thank you! 👍

@mscam, did upgrading solve the issue? Please close the issue if it's resolved

[2022-05-16 10:09] chethan-devopsnow opened #11520 "[Plugin] Zenduty"
## Summary
Quick overview on the company Zenduty:

Zenduty is an incident management platform that gives you greater control and automation over the incident management lifecycle. It centralizes alerts, notifies the right people reliably, and enables them to collaborate and take rapid action. Throughout the entire incident lifecycle, Zenduty tracks all activity and provides actionable insights to

[2022-05-16 10:10] Hanyman8 opened #11521 "Error with backstage with single postgres database and schemas"
Hello, we are having an issue.

We have a database named "backstage_db" without access to "postgres" database in GCP.

And we also need to use `pluginDivisionMode: schema` and not create new databases.

Our app-config.yaml is following:
[code]
Backstage seems to connect to the database but is probably not creating schemas in our database and we are getting the error:

Backend failed to start up, E

[2022-05-16 10:59] cmoulliard opened #11522 "Helm deployment fails due to password authentication failed for user "backend-user""
## Issue

Helm deployment fails as the backend cannot access the DB
Log of the backstage backend pod
[code]

and backstage-lighthouse `error: password authentication failed for user "backend-user" `

Log of the backstage-lighthouse pod
[code]

Log of the postgresql DB reports also
[code]

I get the same error if I try to log on using the password of the secret
[code]
## Database and tables created

[2022-05-16 11:27] julioz commented on #8065
@iamEAP would you say this proposal makes sense? I'm afraid the stalebot will close the issue soon

[2022-05-16 11:53] garyniemen commented on #11512
@nadworny We in [@backstage/techdocs-core](https://github.com/orgs/backstage/teams/techdocs-core) do not use Azure internally - but we will discuss and get back here.

[2022-05-16 11:56] nadworny commented on #11512
@garyniemen I noticed it last year when I committed a bugfix for Azure 😄

Nevertheless, some guidance on how to debug it would be great...

[2022-05-16 11:59] garyniemen commented on #8108
This is from quite a while ago now @taras - any further thoughts?

[2022-05-16 12:00] garyniemen commented on #8835
@emmaindal any thoughts on this?

[2022-05-16 12:03] garyniemen commented on #10207
@arathunku are you still stuck with this?

[2022-05-16 12:07] garyniemen commented on #9983
@camilaibs can you shed any light here?

[2022-05-16 12:11] garyniemen commented on #11471
@Anonyfox thanks for sharing how you got this working.

[2022-05-16 12:12] arathunku commented on #10207
Yes, nothing changed in this regard. I'll schedule some time to look into fixing this and submitting PR, I was just hoping for a discussion first.

[2022-05-16 12:14] garyniemen commented on #11177
@camilaibs can you take a look at this

[2022-05-16 12:19] garyniemen commented on #10574
@camilaibs are you able to follow on here

[2022-05-16 12:20] garyniemen commented on #11410
@camilaibs can you look into this one

[2022-05-16 12:22] garyniemen commented on #9971
@adrianke77 do you still see this as a problem?

[2022-05-16 12:23] garyniemen commented on #11407
@emmaindal any thoughts?

[2022-05-16 12:45] ProticM commented on #11519
I can compose a quick PR for the fix if this issue proves to be valid

[2022-05-16 13:27] chriscarpenter12 commented on #9942
After updating to the latest version is was failing because `jobs` and `cronjobs` weren't batch readable. I manually patched out ClusterRole to include specifically, but it was again still failing this time with a generic error not indicating why. I then used the ClusterRole `aggregationRule` to bind the default cluster role `view` to our `backstage-view` role. After that all worked. I haven't had

[2022-05-16 13:36] blakeromano opened #11526 "Task Manager Failing and Not Restarting"
## Expected Behavior

When a task fails allow it to fail once and then retry on future times it is supposed to run

## Actual Behavior

Task failed and then stops running the task until the server was terminated and restarted

## Context

We have a task that runs every 10 minutes that will call an endpoint grab a list of entities and process them. This failed and then stopped running the task. Pot

[2022-05-16 14:17] #9198 closed

[2022-05-16 15:14] mmulligan03 opened #11531 "Stackoverflow plugin encoding the API key"
## Expected Behavior

To configure the API key for a private instance of Stackoverflow requires an API passed in the request parameters. It should be passed to StackOverflow unencoded.

## Actual Behavior

The implementation of `qs.stringify` have encoding set to true by default. Which changes special characters present in the API.

## Steps to Reproduce

1. Configure the StackOverflowQuestionsCol

[2022-05-16 15:37] freben commented on #11526
Hm that's not intended for sure. Maybe some part of the code isn't handling that database error gracefully, breaking the refresh loop instead of just trying again later. If so, needs a fix!

[2022-05-16 15:43] blakeromano commented on #11526
I would believe that is the case. I haven't dug into the backstage code to see how to allow it to fail gracefully and then just continue the task on the cycle as needed but I feel like that would be something that should definitely be worked on (I think even if it was opt out that would be better so you aren't calling a task that is consistently failing)

[2022-05-16 16:59] jcarres-mdsol commented on #11407
I wanted to answer quickly what services were or not using travisCI and as we have that annotation, I instinctively searched for "travis-ci" as that's the annotation there and got nothing and thought was a waste having that information there to not unlock it.

In general I think people will want to answer all kind of weird questions. I have not experimented with the graphql plugins but I guess if

[2022-05-16 18:18] jwnmulder commented on #11407
That would be useful for us as well. Would love to be able to search within a selection of label values

[2022-05-16 18:35] ericis commented on #11252
Great discussion @freben and @Rugvip . I know I've seen the `url:` prefix for other configurations like `backstage.io/source-location`. Is there an opportunity to clarify that perhaps the `url:` prefix should not be required for any configuration entries, since the project could rely on the scheme (e.g. http, https, git, etc.)?

[2022-05-16 18:39] ericis commented on #11177
Closed in favor of #10362

[2022-05-16 18:39] #11177 closed

[2022-05-16 18:40] ericis commented on #10362
I have closed #11177 in favor of this issue. I will also re-test using the notes outlined in #11466.

[2022-05-16 18:41] ericis commented on #9278
Closed for lack of community interest. We can always address this in the future and implementations or forks of this project can add a ".nvmrc" file if they wish.

[2022-05-16 18:41] #9278 closed

[2022-05-16 18:58] ericis commented on #10362
Yes, I've replicated the behavior that @Niksko outlines and has provided a fix for. Waiting for his PR #11051 to be finalized and released in the "nightly" build in order to retest the fix.

[2022-05-16 19:02] ericis commented on #10362
@zhammer agreed. We're developing our own tooling to further abstract the TechDocs details away from developers, especially for documentation-only repositories by using containerized tooling with commands that "just work" out-of-the-box across hosting platforms. As a result, we are "pinning" tooling versions to known, working versions, but bugs like this even make that difficult. I just ran into a

[2022-05-16 21:20] kmatyukhin opened #11536 "[TechDocs] In the Backstage 1.2.0-next.2 Docs tab content disappear when navigation item is selected on the left sidebar"
When open Component Docs tab it's content disappear when navigation item is selected on the left sidebar.
The same documentation is working as expected if is opened from the TechDocs index page.

## Expected Behavior

Selected item documentation content must be visible on the Component Docs tab.

## Actual Behavior

Component Docs tab content disappear when navigation item is selected on the left

[2022-05-16 21:47] sxs737 commented on #11368
@nadworny Can you please share changes you made in backend auth.ts . I made changes as described in changelog entry above and it still does not work

[2022-05-17 03:43] muhamadto commented on #10735
@Rugvip how can refreshing the configuration impact user experience? please bear in mind that I'm not talking about auto refreshing browser. I'm just request when the config changes and the user refreshes the page manually they get new version of the frontend without the need to rebuild/restart backstage.

[2022-05-17 04:04] shailendra-ahir-cbre commented on #6366
It would be a naive question, but how does it run the migrations/some_migration.js
I am trying to create a new migration in one of the custom plugin (placed in packages/backend/plugins/custom/migrations/migration_file.js  . But I do not know how to trigger the migration.

[2022-05-17 04:35] jpeach commented on #11408
Closing per discussion in #11409.

[2022-05-17 04:35] #11408 closed

[2022-05-17 05:42] Niksko commented on #10362
Hey folks, this was resolved by #11467. I can confirm that it's fixed on master. Happy to close this.

[2022-05-17 05:42] #10362 closed

[2022-05-17 06:09] omerfarukdogan opened #11537 "[TechDocs] Unable to embed videos that are located in the repository"
## Expected Behavior

When I add a video to a document repository and add an iframe pointing to that video in the documentation, I expect the iframe to be rendered with the video I provided.

## Actual Behavior

The iframe element is not present in the documentation.

## Steps to Reproduce

1. Add a video into the document repository
2. Add an iframe into the documentation pointing to that video:

[2022-05-17 06:39] omerfarukdogan commented on #11460
Hello @benjdlambert,

In our case, we have to notify an external system whenever a repository is created. The external system could be unavailable, or have an error which requires manual intervention. Retrying until it is successful may not be a good idea in such situations.

Is Software Templates planned to be limited to repository creation only? Because there could be more steps which are requir

[2022-05-17 07:43] cowboyd opened #11539 "`ensureDatabaseExists()` is not re-entrant and can cause race conditions"
## Expected Behavior

When you use the scheduler to schedule tasks in parallel it should not matter how many times or in what order `ensureDatabaseExists()` is called, backstage should attempt to create the database once.

## Actual Behavior

Not always, but very often, two call stacks are allowed to enter past the guard condition of `ensureDatabaseExists()`. In effect, call stack A executes https

[2022-05-17 07:51] manuelscurti commented on #11503
Hi! :) I would like to help making a concrete implementation. But before that, was there any reason to remove the IdentityApi interface that I'm missing?

[2022-05-17 08:42] asaini11 commented on #9942
Thank you @chriscarpenter12 I'll give this a go as we're currently using a GCP IAM policy which has the permissions role defined there so will try this way and let you know how I get on.

[2022-05-17 08:50] #11536 closed

[2022-05-17 09:30] agardnerIT commented on #11515
Tried this but still erroring. I'll try again after the new release

[2022-05-17 10:19] chrisjl154 commented on #11515
Tried adding this dependency everywhere it seems to be needed, still gives an error. Will this definitely be released today?

[2022-05-17 10:47] ericis commented on #10362
Thanks @Niksko . I've confirmed this is working with the nightly build in this repo:
https://github.com/ericis/test-techdocs-cli-serve

Both commands now work properly:

- `techdocs-cli serve`
- `techdocs-cli serve -v --no-docker`

[2022-05-17 10:48] ericis commented on #11177
[This was resolved.](https://github.com/backstage/backstage/issues/10362#issuecomment-1128717028)

[2022-05-17 10:59] claudiahub commented on #11295
@freben Hi, I guess this can be closed.
It's on an internal plugin that #11339 fixed.
Thanks!

[2022-05-17 11:09] #11295 closed

[2022-05-17 11:24] cmoulliard commented on #11522
It appears that the init script which is executed to create the databases, user, etc is failing as the syntax is not complete.
Here is what I'm doing for the moment. There is still a problem to resolve as the `password` is still hard coded within the file `create-backend-dbs.sql`

This is why I execute the following commands within the postgresql pod

[code]

[2022-05-17 11:49] carlosdiazs commented on #11368
Hello @nadworny,

Please could you share your azure ad resolver? Thank you

[2022-05-17 12:29] Irma12 commented on #11501
I think it would be quite helpful tbh. Am I right in assuming we would also want to stop it being registered as 'url' location type ( through checkGitHubForExistingCatalogInfo)?

[2022-05-17 13:02] nadworny commented on #11368
@carlosdiazs you mean changes that I made in UI or backend?

[2022-05-17 13:20] victormorfin97 opened #11547 "[Catalog]: Bring back batchAddOrUpdate functionality"
## Feature Suggestion

I want to know the feasibility to bring back the batchAddOrUpdate functionality that was already on entityCatalog but it got deprecated.
## Possible Implementation

## Context

Currently at Expedia we have some edge cases where we need to update the entity right away instead of waiting to the next ingestion, we used to cover this functionality with the batchAddOrUpdate funct

[2022-05-17 13:38] carlosdiazs commented on #11368
Great!
Thank you for share with us, it works for me.
One question, where did you find support (documentation, forums...) to know how to setup the auth.js for Microsoft Azure AD? I didn't find any support searching in backstage site or outside backstage.

Regards

[2022-05-17 15:04] cmoulliard commented on #11522
@martina-if @dtuite Can you have a look please as maintainer of the helm chart ?

[2022-05-17 15:16] nadworny commented on #11368
thanks @awanlin , I'm aware of it. We have postponed azure ad sync for a later date.

[2022-05-17 16:32] BodrickLight opened #11553 "techdocs-cli generate fails with No such image: spotify/techdocs:v1.0.3 on v1.1.1"
## Expected Behavior

`techdocs-cli generate` runs on a machine that does not have the `spotify/techdocs` docker container downloaded.

## Actual Behavior

The command fails to run, and gives the following error:
`No such image: spotify/techdocs:v1.0.3`

## Steps to Reproduce

[code]
Output:
[code]

Workaround:
[code]

## Context

We run techdocs-cli on an ephemeral environment, which was working

[2022-05-17 18:18] acierto commented on #11035
![Screenshot 2022-05-17 at 20 17 44](https://user-images.githubusercontent.com/2265094/168883004-addeb957-5b5a-43c9-8704-c2d222ea1b29.png)

[2022-05-17 22:35] ericis opened #11557 "techdocs-cli serve results in 404 when mkdocs "site_url" is set"
## Expected Behavior

TechDocs supports [MkDocs "site_url"](https://www.mkdocs.org/user-guide/configuration/#site_url) and utilizes the same URL path logic that MkDocs uses.

## Actual Behavior

MkDocs site works, but TechDocs site results in a 404 error.

## Steps to Reproduce

1. `git clone https://github.com/ericis/test-techdocs-cli-serve`
2. `yarn`
3. `yarn start -v --no-docker` (calls `techdo

[2022-05-17 22:37] ericis commented on #10362
@Niksko I found a fun related bug that produces a 404 when MkDocs "site_url" is configured outlined in #11557. I'm not certain that your code may have caused this regression, since you used a RegEx for pattern matching, but possibly.

[2022-05-18 05:05] CitsGit opened #11563 "Techdocs: Docs are not loading when saving a jar file inside the azure repository"
## Expected Behavior

Techdocs should work properly with respect to the md files in docs folder and mkdocs.yml file. Techdocs do not depend on file contents in another folders.

## Actual Behavior

![image](https://user-images.githubusercontent.com/98138120/168960743-e0010a02-98ab-446a-9f31-070b9934f2e3.png)

## Steps to Reproduce

Azure repo contents

- catalog-info.yaml
- docs folder that contai

[2022-05-18 06:17] sqdk opened #11565 "Mismatch between Entity schema and TS type in `@backstage/catalog-model`"
## Expected Behavior
The Entity type defined in `@backstage/catalog-model` does not match the schema that is used when validating entities. It is expecting the deprecated field `target` to be used instead of `targetRef`.

The Entity type is defined here:
https://github.com/backstage/backstage/blob/165cabfeb61a04108b7ee5160e67adfe23e5dd1c/packages/catalog-model/src/entity/Entity.ts#L182-L199

The s

[2022-05-18 06:20] sqdk commented on #11565
I hope I got all of this right. I will happily fix the issue, but am currently stuck trying to figure out how these schema json's are generated.

[2022-05-18 07:05] kim5566 opened #11569 "[TechDocs AddOns] Different behaviour when view doc from doc page and from doc tab in component page"
## Expected Behavior

If i have enabled TechDoc addons, expect same behaviour when viewing doc from doc page and from doc tab in catalog page

## Actual Behavior

1. view doc from doc page
<img width="212" alt="Screen Shot 2022-05-18 at 4 59 54 pm" src="https://user-images.githubusercontent.com/28945404/168977675-f87d4b6f-b47d-4445-ab73-953eed619a6d.png">
show up techdoc addons
<img width="220" al

[2022-05-18 07:11] minkimcello opened #11570 "[RFC] Enhance DX with Turborepo for both Contributors and Adopters"
**Status:** Open for comments

## Need

The backstage monorepo currently has ~150 packages/plugins and each time you run `yarn build`, it takes anywhere from 40-70 seconds to complete (on an Apple M1 Max). The benefits of a large monorepo unfortunately come at the price of longer build/test times in not only local development but in CI as well. [`Turbo`](https://turborepo.org/) emerged to alleviat

[2022-05-18 09:33] #11415 closed

[2022-05-18 10:34] no1melman opened #11577 "Tech Radar - Timeline - In Use?"
We've been setting the timeline property - but it doesn't look like it has any effect - do we have to do the filtering ourselves to show the latest position? Doesn't seem to be worked out based on the `date` property of a timeline entry

https://github.com/backstage/backstage/blob/b73cfc4d4fadfd537ebb0c16ed274fa5a07ae3d1/plugins/tech-radar/src/api.ts#L114

==== Update ====

I've found that it isn'

[2022-05-18 10:54] no1melman commented on #11577
Probably just needs

[code]

happy to create a PR if we want this?

[2022-05-18 10:59] no1melman commented on #11577
So here

https://github.com/backstage/backstage/blob/b73cfc4d4fadfd537ebb0c16ed274fa5a07ae3d1/plugins/tech-radar/src/components/RadarComponent.tsx#L102-L126

I'm guessing we could do:

[code]

[2022-05-18 12:14] nadworny opened #11580 "New templating engine not fully compatible with cookiecutter"
## Expected Behavior
After migrating to the new `scaffolder.backstage.io/v1beta3`, the templating behaves the same as before migration.

## Actual Behavior
Templating fails.

I have the following catalog-info.yaml:
[code]

### First problem
`title()` seems to break the template generation with the following error:
[code]

### Second problem
Replace doesn't behave the same as with cookiecutter. It

[2022-05-18 12:47] wolverian opened #11583 "npx @backstage/create-app -> yarn install fails on macOS with `env: python: No such file or directory`"
## Expected Behavior

After `npx @backstage/create-app` I have a working backstage installation.

## Actual Behavior

[code]

## Steps to Reproduce

1. Get an M1 Mac with macOS Monterey 12.4
2. Install Homebrew
3. Install Node with `brew install node@16` and link it with `brew link node@16`
4. Run `npx @backstage/create-app`

## Context

I can install various versions of Python with Homebrew. I ha

[2022-05-18 12:56] mclarke47 commented on #9942
I wonder does using the configuration option `objectTypes` to override the [default objects to fetch help](https://github.com/backstage/backstage/blob/master/plugins/kubernetes-backend/src/service/KubernetesFanOutHandler.ts#L45). Also what version of K8S are you using?

[2022-05-18 13:22] shanthisagar-dhanya-kumar-db opened #11584 "Search collators failing for both software-catalog and techdocs after 1.2.0 upgrade"
] 2022-05-18T13:15:55.187Z search error Collating documents for software-catalog failed: TypeError: luxon.DateTime.now(...).plus(...).toUnixInteger is not a function type=plugin
[1] 2022-05-18T13:15:55.189Z search info Collating documents for techdocs via DefaultTechDocsCollatorFactory type=plugin
[1] 2022-05-18T13:15:55.190Z search error Collating documents for techdocs failed: TypeError: luxon.D

[2022-05-18 14:11] camilaibs commented on #11410
Hi @martinohmann, thanks for reporting, we appreciate it!
This issue appears to be the same one reported [here](https://github.com/backstage/backstage/issues/11536) and a  [fix](https://github.com/backstage/backstage/pull/11542) was merged yesterday so it should be available in [Backstage v1.2.0](https://github.com/backstage/backstage/releases/tag/v1.2.0).
Could you update and see if it's resolved

[2022-05-18 14:40] benjdlambert commented on #11515
This should be fixed now as we explicitly depend on the package now. Make sure you're on the latest versions of `@backstage/plugin-api-docs` and `@backstage/plugin-graphiql`

[2022-05-18 15:16] goenning opened #11588 "[Kubernetes Plugin] Show more details on Requests/Limits"
## Feature Suggestion

We're using the kubernetes plugin and everyone is loving it in general, but the details around CPU/Memory usage is a bit confusing.

It currently show this:

![image](https://user-images.githubusercontent.com/94755/169075566-2f7e70a5-a69c-4a94-9cc6-b49f4f9cfe67.png)

And the common question is: ok, 53% of what? To see the Requests/Limit, we have to go into the YAML and searc

[2022-05-18 15:35] goenning commented on #9942
I think this is a bug, we see this sometimes as well and we're on Azure, not Google. As we have 6 clusters, sometimes we get throttled by Azure and one of the many requests fail, which causes this banner to show and never disappear.

We're doing a couple of things to mitigate these errors:
- reduced the number of objects we fetch as @mclarke47 mentioned, using `objectTypes`
- This PR to cache the

[2022-05-18 15:42] asaini11 commented on #9942
Hi @goenning that's good to know that others are having the same issue using different config! I think I will try these things to see if it reduces it. However, it sounds like you have tried a few things but it's still not fixed. I'm thinking, as we do get a 200 after the 500 error it would be good if the message in the UI disappears so hopefully the users don't see it as a workaround for a smooth

[2022-05-18 15:43] cmoulliard commented on #11522
Indeed ;-)

[2022-05-18 15:44] CodeFreezr opened #11592 "yunohost-apps"
## Summary

I wanna ask for a Plugin which integrates Yunohost, or convert Yunohost-Apps to backstage apps.

Is there anyone who has ever thought in this direction, has possibly already developed something, or would like to be involved in something like this

## Context

Yunhost is a great idea for making hosting easy.
Yunhost Apps is a great list of FOSS-Application with some Focus on Federation,

[2022-05-18 15:51] cmoulliard commented on #11522
I did a new test using as chart version for posgresql `9.8.12` and DB is well created, backend pod is able to access the DB

[code]
I cannot access nevertheless the service using the ingress URL

![Screenshot 2022-05-18 at 17 49 55](https://user-images.githubusercontent.com/463790/169086513-adc4c296-d1ef-47e3-901d-9e2be27c0bfd.png)

I suspect that the following secret is not populated or name is n

[2022-05-18 16:14] dayadev opened #11595 "[TECH INSIGHTS] Time To Live Configuration not working as intended."
## Expected Behavior

Should clear the facts data in the database based on the configuration set using `lifecycle`

## Actual Behavior

Not clearing the facts

## Steps to Reproduce

I am trying to set lifecycle maxItems  to be kept in the database for each fact retriever/entity pair like below
createFactRetrieverRegistration({
        cadence: * * * * *,
        factRetriever: entityOwnershipFact

[2022-05-18 16:31] cmoulliard commented on #11522
Do you plan to revert the version of the postgresql chart top of the main branch for next backstage release

[2022-05-18 16:38] heresandyboy commented on #11522
@[cmoulliard](https://github.com/cmoulliard) Just for clarity, as I was copying your repro steps earlier to try and figure this out for myself, what did you change in your cfg.yml or commands to 'also deploy the frontend'?

[2022-05-18 16:45] cmoulliard opened #11598 "Improve the documentation to explain how to create the container image of the frontend"
## Feature Suggestion

The existing backstage Helm chart to deploy the frontend uses an old image (2years old) build by @martina-if
[code]

As the following section of the documentation explains how to build a backstage image but do not explain how to build the frontend, I think that it would be good to improve the documentation to explain:
- How to build the frontend image
- How to build both fro

[2022-05-18 18:09] regicsolutions commented on #3269
Hi @shailahir just checking in to see if you had a chance to clean up the plugin?

[2022-05-18 19:44] johanneswuerbach commented on #4123
Thanks to some helpful folks testing the plugin, we have discovered that TechDocs Addons are currently not rendered inside `EntityPage.tsx` tabs.

Is this supposed to work already?

![image](https://user-images.githubusercontent.com/864578/169142248-bcd9d1d3-4d67-45ec-8a2c-3549473d5f3a.png)

cc @dmckernanacv

[2022-05-18 19:52] CodeFreezr commented on #11592
Homepage: https://yunohost.org
Application Catalog: https://yunohost.org/en/apps

[2022-05-18 21:34] goenning commented on #10183
The PR above is for the Azure DevOps implementation

[2022-05-18 22:26] iamEAP commented on #4123
Hmm... The should be. Are you on the latest release?

Ping @camilaibs, do you remember seeing any issues with Addons when working on this? https://github.com/backstage/backstage/pull/11542

[2022-05-19 00:33] shailahir commented on #3269
Hi @regicsolutions , unfortunately, I have lost the code.

[2022-05-19 00:34] #10809 closed

[2022-05-19 05:53] MateuszAndrzej commented on #3721
Nice! This is something I was looking for some time. Can't wait

[2022-05-19 08:06] jhaals commented on #11595
@Xantier perhaps something you could help out investigating? 🙏

[2022-05-19 08:11] jhaals commented on #11588
Sounds like a good idea!
FYI @mclarke47

[2022-05-19 08:21] fcorti commented on #11592
Hello there,
This is not on the plan of the maintainers so we are going to leave this opportunity to a possible contribution of the community, if someone is interested.

[2022-05-19 08:25] jhaals commented on #11531
@emmaindal could you perhaps take a look at this? 🙏

[2022-05-19 08:33] jhaals commented on #11519
Perhaps @Xantier know if this is valid or not 🤞

[2022-05-19 08:44] #8054 closed

[2022-05-19 08:46] #11269 closed

[2022-05-19 09:02] Xantier commented on #11519
Thanks @ProticM,
Yeah, I think your assumptions are correct there judging from the code. If you could spin up a quick PR to fix this, that would be great.

[2022-05-19 09:03] martina-if commented on #11522
Ideally, we would fix the issue and make the charts work with postgres 11 but I won't be able to do this. So I can create a PR to revert these changes. I'm just wondering if that bot will open the PR again 🤔

[2022-05-19 09:05] emmaindal commented on #11531
@mmulligan03 Thanks for opening this issue, I've one question - do you know if its possible to set encoding to false to a specific param? so that we can continue to encode other things than the key. Otherwise I'm thinking it might make sense to just add the key param with its value of `env.config.getOptionalString('stackoverflow.apiKey')` directly to the request url if defined?

[2022-05-19 09:19] Rugvip commented on #11503
@manuelscurti The `IdentityApi` is [alive an well](https://github.com/backstage/backstage/blob/013e54d0cbb1e31cdee91ae57439a381b1938a06/packages/core-plugin-api/src/apis/definitions/IdentityApi.ts#L24), for example with this implementation over [here](https://github.com/backstage/backstage/blob/013e54d0cbb1e31cdee91ae57439a381b1938a06/packages/core-components/src/layout/SignInPage/UserIdentity.ts#

[2022-05-19 09:20] mscam commented on #11483
hello @Rugvip 👋 I'll be able to do the upgrade during next week 🙏

[2022-05-19 09:37] Xantier commented on #11595
This will need some more thorough investigation to figure out what seems to be issue. The likely problem comes from the query selecting facts, which is defined in `plugins/tech-insights-backend/src/service/persistence/TechInsightsDatabase.ts:213`.

The query produced by that ends up being like below, and should return the rows that should be deleted:
[code]

I might have some time to look at this

[2022-05-19 09:43] Rugvip commented on #11570
Thank you for the suggestions! 👍

It's not the first time `turbo` and `nx` have come up :grin: The first thing I absolutely want to be there is the freedom to pick any monorepo tooling for any Backstage project. I.e. you should be able to switch your own Backstage project to use `turbo` without issues. If there are any issues with that I think this is the best place to focus efforts first.

Lookin

[2022-05-19 09:45] Rugvip commented on #11583
I believe this is a bug in older versions of `node-gyp`, you can see that it finds the python installation:

But it just then seems to ignore that:

Installing the latest version of `node-gyp` in the project seems to fix the issue, but not exactly sure if that makes sense to ship. It might though, perhaps adding `node-gyp` as a root `devDependency` in `create-app` is the sensible solution here?

[2022-05-19 09:54] #10335 closed

[2022-05-19 10:58] #11252 closed

[2022-05-19 11:09] camilaibs commented on #4123
@johanneswuerbach you have to register addons in [EntityPage](https://github.com/backstage/backstage/blob/master/packages/app/src/components/catalog/EntityPage.tsx#L400-L402) otherwise they won't render.

For example:

_packages/app/src/components/catalog/EntityPage.tsx_

[code]

I tested it on the master branch and the `TextSize` and `ReportIssue` addons are rendering on the `EntityDocs` page:

|

[2022-05-19 11:39] johanneswuerbach commented on #4123
I've tried this https://github.com/backstage/backstage/compare/master...johanneswuerbach:techdocs-mermaid, but I don't see my component being called 🤔

[2022-05-19 11:43] jhaals commented on #11547
Hi Victor.

It really sounds like Entity Providers would be the logical replacement for that functionality used in the old catalog. They support adding and removing entities at your own interval. Is that something you've looked at? There's some information available in our docs [here](https://backstage.io/docs/features/software-catalog/external-integrations#custom-entity-providers)

[2022-05-19 11:57] #11503 closed

[2022-05-19 12:09] camilaibs commented on #11584
Hi @shanthisagar-dhanya-kumar-db did you remove the `luxon` dependency after upgrading?
It seems to be related to [this](https://github.com/backstage/backstage/pull/11245/files#diff-90d32a5086c2dac9105bea81288832cc4a894903c0fed97b570dfa9f1e72d2ae) change, could you verify that you followed the instructions added to the [changelog](https://github.com/backstage/backstage/blob/master/docs/releases/v1