[2021-08-31 02:26] timbonicus commented on #7004
@chuliang014 Yep, that's right! `createSlackChannelColumn()` in this example would define how to get the information to display off the entity passed in for each row.

[2021-08-31 02:47] timbonicus commented on #6995
@freben Hmm, if I ask "what does team-a own" in this context (or in Spotify context -- what does Tribe X, as an entire organization, own), I would expect the things owned by descendent groups to show up. That follows the principle of least surprise to me, not getting a truncated list and rationale of "oh, Tribe X doesn't own that _specifically_ 🙄 , it's Squad Y (who is directly under Tribe X)". Th

[2021-08-31 03:41] prasaria commented on #6995
@timbonicus Hmm what is catalog stitching anyway ? can u explain it to me.

[2021-08-31 04:59] #6181 closed

[2021-08-31 06:24] coding-to-music commented on #6485
I use a droplet on Digitalocean for my development environment.

My usual droplet, plenty for my usual work, is 2 CPU each 2GB memory so 4 GB total
Ran out of memory doing `build tsc` with the same messages shown above in this issue

Tried a larger droplet 4 CPU each 2GB memory so 8 GB total
Ran out of memory doing `build tsc` with the same messages shown above in this issue

Tried a larger drople

[2021-08-31 06:48] freben commented on #6995
@prasaria Docs are being written: https://github.com/backstage/backstage/pull/6992 :) It's an internal process when different pieces of information are assembled together to form the final entity shape.

[2021-08-31 07:00] freben commented on #6973
This is actually not orphaning. It's a failure to even begin to process the Location entity, which is not the same as functioning correctly and not emitting the child entity.

Apart from that, yeah you have the right idea. You would essentially take what [`EntityProcessingErrorsPanel`](https://github.com/backstage/backstage/blob/master/plugins/catalog/src/components/EntityProcessingErrorsPanel/Ent

[2021-08-31 08:09] freben commented on #6933
For starters, this is totally awesome and I'm really impressed and happy about the initiative and design!

That being said, agreed on the topic of search. I think the word "search" should be strictly reserved for the global search experience, and not used for other functions. Three different paths I could envision:

- Keep the proposed function but name it "Filter" or similar, just like one does i

[2021-08-31 08:44] mclarke47 commented on #6967
We have a similar system at Spotify we have a gRPC service which acts as the datastore for the clusters, I was going to add a Cluster locator for this but it seemed like it might only be useful for us, good to know we aren't the only one!

Perhaps we could create some HTTP interface which backstage could invoke to get the clusters? Refreshing the clusters on an interval, then all we have to do it

[2021-08-31 09:43] prasaria commented on #6995
Ok, so is this feature / concept already available in backstage or does it still in development process ? I see some code about `Sticther` btw, but not sure if it is already work like @timbonicus said.

[2021-08-31 09:58] freben opened #7011 "Better support for ESM-only dependencies"
## Feature Suggestion

More and more libraries in the JS ecosystem are going ESM-only. Backstage should have great support for such libraries, including running jest tests.

See for example [this pull request](https://github.com/backstage/backstage/pull/6898), which currently cannot run the test suite.

## Possible Implementation

We have done some early experimentation on this.

- The Backstage t

[2021-08-31 10:12] manusant commented on #6967
Actually i don't like the HTTP service for 2 reasons:

1. We need to make sure that all service account tokens are encrypted and the HTTP service needs to ensure that.
2. The service will need a database and other data store that also needs to ensure encryption.
Node: We should have in mind that the service account token allows access to clusters APIs (according applied RBAC roles) and should be t

[2021-08-31 11:06] lukasgomez commented on #6789
This problem has been solved in https://github.com/backstage/backstage/pull/6880

[2021-08-31 11:06] #6789 closed

[2021-08-31 11:20] benjdlambert commented on #6485
@coding-to-music what version of `node` are you using? And are you building a fork of the repository or an `npx @backstage/create-app` verison of the source code?

[2021-08-31 11:23] benjdlambert commented on #6485
We're also moving towards dropping support for node 12 here #6889

[2021-08-31 11:26] #6220 closed

[2021-08-31 12:21] 4integration commented on #6945
Thanks @Rugvip , correct. We don't have the `userinfo_endpoint`, I will add that and test again

[2021-08-31 14:12] benjdlambert commented on #6568
So I'm seeing two things in this discussion here, It looks like theres a request to have the same functionality that we had with `cookiecutter`, a standalone CLI that you can run on top of a template directory with some values (this bit is what I think is important short term), and another way to be able to run a `kind: Template` thing for integration tests.

Would that be a fair assumption?

I'm

[2021-08-31 14:22] eperdeme commented on #6568
So from my perspective my main use case is the CLI one you wrote above.

We found https://github.com/Tradeshift/nunjucks-cli/tree/nunjucks a few days ago which goes most of the way to make it work by feeding in a data.json file and outputting the rendered template. This allowed us to render the output of templates to do lint/integration tests on via CI pipelines. However there's no guarantees it'l

[2021-08-31 14:33] benjdlambert commented on #6568
Yep indeed, we want to make a CLI which can wrap up the `values` part and any additional options that are passed to it.

Maybe we could look at building a CLI wrapper around `actions` that can just run one action in a workspace, so we could have a little bit of both.

Thinking for the `fetch:template` usage you have something like the following:

[code]
And and then you could do

[code]

Also feel

[2021-08-31 14:37] rubenLindstrom opened #7016 "Collapsed Sidebar uncollapses without being hovered"
The sidebar opens when it shouldn't.

## Expected Behavior
When the user has selected the preference to "pin sidebar", it should only open when hovered.

## Current Behavior
Sometimes the sidebar randomly opens.

## Steps to Reproduce
One way of (unreliably) reproducing is:
- open one tab of backstage
- unpin the side bar, and leave it on closed state
- change tab
- go back to the backstage tab
-

[2021-08-31 14:40] rubenLindstrom commented on #7016
When not on VPN and interacting with the modal with the Sad Penguin and the "Spotify services unreachable" header, this seems to happen frequently.

[2021-08-31 14:42] #7016 closed

[2021-08-31 14:52] freben commented on #6995
The stitcher is in place and being used, yeah.

@timbonicus I think the `ownedBy` relation is really intended to be used for immediate ownership. I do not think we can readily assume that this kind of transitive _actual ownership_ (which might be said to cover concepts such as perceived or real responsibility, chains of command, on-call etc) is what applies everywhere. This is one reason why the o

[2021-08-31 15:24] awanlin commented on #4357
@OrkoHunter I've been given the green light to contribute a few fixes this will be the first one as it's pretty straightforward and should have a low impact on other things. Can you assign this to me please?

Also, I could use some help. I've create a fork, got it cloned to my local. From there I created a topic branch and have my change ready to commit. Is this the right track?

Thanks in advance

[2021-08-31 16:12] alzafacon opened #7018 "code mods not working on windows"
## Expected Behavior

I should be able to run npx @backstage/codemods apply core-imports in my project successfully.

## Current Behavior

npx: installed 466 in 59.658s
Running jscodeshift with these arguments: --parser=tsx --extensions=tsx,js,ts,tsx --transform ..\..\..\..\AppData\Roaming\npm-cache\_npx\24996\node_modules\@backstage\codemods\transforms\core-imports.js --ignore-pattern=**/node_mod

[2021-08-31 17:02] freben commented on #7004
@chuliang014 Closing this as answered - I hope that's OK. Let us know if not!

[2021-08-31 17:02] #7004 closed

[2021-08-31 17:30] freben commented on #4357
Good to hear - assigned! I see you made the PR successfully.

[2021-08-31 18:43] #6979 closed

[2021-08-31 18:55] chuliang014 commented on #7004
@freben one more questions, could we customized our owned AboutCard, like add a Slack field on AboutCard.

![image](https://user-images.githubusercontent.com/56138162/131559980-abe4013b-79ea-41f1-b438-2ca3cac28f28.png)

[2021-08-31 20:33] chuliang014 commented on #6175
Any update on this?

[2021-08-31 21:00] Seneli commented on #6175
Hi @chuliang014, I've been working on it the last few weeks but got stuck on one area.

Currently what I'm trying to do is assume the custom fields get passed in as an array of objects to the `AboutCard` component via an optional children prop, similar to what freben suggested, but I'm struggling to test it out using the `AboutCard.test.tsx` file, since I'm new to Jest. I think once this is done I

[2021-08-31 21:18] chuliang014 commented on #6175
Great! At the moment,  I just copied the entire the component of AboutCard for our use.

[2021-08-31 21:36] Seneli commented on #6175
What do you mean by "copied the entire component of AboutCard"? Is there something I should watch out for?

[2021-08-31 21:39] timbonicus commented on #7004
This is proposed in #6175 but not yet available. In the meantime, you _can_ use [metadata.links](https://backstage.io/docs/features/software-catalog/descriptor-format#links-optional) for this purpose perhaps.

[2021-08-31 21:58] timbonicus commented on #7018
This seems like a PATH issue, `npx` installs the dependencies and then can't find them. Does setting [this npm config](https://stackoverflow.com/a/58354623/99021) help?

[2021-08-31 22:08] alzafacon commented on #7018
Well I don't have any spaces in my user path....
so first I tried running `PS C:\Users\work\git\backstage> npx @backstage/codemods apply core-imports` in backstage itself, and it worked 🤷
[code]

then I tried the config you shared for my generated project... but it did not work
[code]

[2021-08-31 22:59] twonds opened #7021 "scaffolder action fetch:template does not preserve file permissions"
When creating a template using this action file permissions in github are not kept. Particularly, executable files are just read write when the new repository is created.

## Expected Behavior

Permissions in the template's git repository match the output repository

## Current Behavior

Permissions are not preserved when creating a project from a template

## Possible Solution
I was gonna create

[2021-09-01 00:51] regicsolutions commented on #5215
@kuangp wondering if your using the repoPickerExtension? We are looking to do something similar in the short term for Bitbucket Server and have the user provide a Bitbucket username, anything you can share would be helpful, Thanks!

[2021-09-01 05:05] sjamidar opened #7024 "Not able to see component logs while creating new catalog service"
i am using plugin scaffolder backend plugin and gitlab ,
Creating new catalog service using template. But not able to get any logs in UI once click on create button.
getting only Loading and Waiting for Logs update
Eventstream API is returning proper data.

![image](https://user-images.githubusercontent.com/85929731/131614923-adfa2d22-f988-4f61-8392-29b21966f15e.png)

[2021-09-01 05:57] johanhammar opened #7026 "Search using the search box in the menu panel does not work in Firefox"
Search from the left menu panel does not work as expected in Firefox but does work in Chrome and Edge

## Expected Behavior

Entering a search term in the search box in the left panel the search should return only entities matching the search term

## Current Behavior

All entities are returned, the search term is missing in the search query parameter

## Possible Solution

## Steps to Reproduce

[2021-09-01 08:02] nadworny commented on #6979
@camilaibs is there a way to be notified when this is going to be included in the https://www.npmjs.com/package/@backstage/create-app?activeTab=readme?

[2021-09-01 09:08] camilaibs commented on #6979
We always release on Thursdays, it should happen tomorrow and you can subscribe to the [next version PR](https://github.com/backstage/backstage/pull/6968) 🙂

[2021-09-01 09:11] benjdlambert commented on #6935
Like @freben says, it feels a little unfortunate to have these invisible dependencies between fields, I wonder if it's possible to have a Custom Field Extension that can render multiple input fields and track the state between them in that component instead? Does that work for you use case @pike?

[2021-09-01 09:53] freben commented on #7021
Yep, as mentioned on discord, this sounds like it makes a lot of sense. I don't know if there might be any ill effects on windows or other non-posix systems; it may be the case that the stat+chmod should be run in a best-effort try-catch that just silently ignores issues? I am not 100% sure honestly, just thinking out loud

[2021-09-01 10:15] prasaria commented on #6995
Hello @freben , if I want to contribute which one should I choose here ? From my understanding here, that we are lean towards your first suggestion, am I correct ?

[2021-09-01 10:23] kcheriyath opened #7027 "Owner field in catalog table converted to lower case"
## Expected Behavior

Entity names can follow the pattern below.

- Must consist of sequences of [a-z0-9A-Z] possibly separated by one of [-_.]
- Example: visits-tracking-service, CircleciBuildsDumpV2_avro_gcs

Assumption is that this allows team names to be Uppercase and the case will be preserved in the UI.

## Current Behavior

Team names are switched to lower case in catalog table.

Whilst lar

[2021-09-01 10:29] 4integration commented on #6945
@Rugvip adding the endpoint made it work :)

Another related question.
We have LDAP integration for organization data, which creates users/groups and we use `cn` (userid) which is like `dfc123`
[code]
Now with OIDC authentication I get UserID like `forename.lastname` and therefore it is not linked to `dfc123` and it looks like it uses email adress but strip of `@company.com`. The `dfc123` is set o

[2021-09-01 10:52] mtlewis commented on #7021
Thanks for flagging this and offering to contribute the fix! The tests for fetch:template are written using [mock-fs](https://github.com/tschaub/mock-fs), which provides a mock file system that the action reads from during the tests. It looks like it's possible to include files with custom flags using [mock.file](https://github.com/tschaub/mock-fs#mockfileproperties).

It also looks like it should

[2021-09-01 11:00] freben commented on #6995
I'd vote for that short term yeah.

[2021-09-01 11:08] freben commented on #6945
Sad to say that IODC is one of the sign-in methods that has not yet gained the signInResolver ability - https://github.com/backstage/backstage/issues/6245

If it had had that, you'd be able to tell at sign-in time that the user had additional identities, so to speak.

I'll let @Rugvip fill in, but I believe that it might be hard to stitch this together at this point, without either

- changing the

[2021-09-01 11:53] freben commented on #6976
I wonder - maybe this actually works anyway, if you enter the GH app information in your config? 🤔  In any case, you may want to raise this with Roadie as well on their repo for that plugin.

[2021-09-01 14:26] punkle commented on #6976
As I understand it, all of our (RoadieHQ) plugins work with GH Apps. At least we do not use PATs anymore.

[2021-09-01 14:32] kuangp commented on #5215
I am currently using the `repoPickerExtension` and a custom hidden extension that grabs the current user
s username but don't currently have a workaround for performing the publish on behalf of the user since the backend still relies on the GitHub app's permissions

[2021-09-01 14:33] ashirley commented on #6847
FWIW, I had a similar issue and fixed it with a `yarn upgrade` (not sure what package upgrade specifically helped though)

[2021-09-01 14:51] FilipPyrek opened #7031 "TechDocs: GitHub fetching broken for branches including slash "/""
I'm trying to implement TechDocs for our organization.. but I've stumbled upon a problem that we use feature branches like `f/some-branch` or `feature/some-branch` etc. but Backstage detects as a branch only `f` or `feature`.

[code]

## Expected Behavior

Backstage TechDocs should fetch docs from correct branch `feature/some-branch`.

## Current Behavior

Backstage TechDocs throws error because i

[2021-09-01 14:54] dhenneke commented on #7031
Related to https://github.com/backstage/backstage/issues/2815.

[2021-09-01 15:34] FilipPyrek commented on #2815
Hi guys, what's a status on this one? Unfortunately it's a TechDocs show stopper for us.. 😢

[2021-09-01 16:47] Pike commented on #6935
TBH, I've tabled this as "not part of the demo". In the end, if we write a frontend for a scaffolder, it'll be the same kinda work independent of scaffolder-backend or not. If a mostly-full-page field is engineering-wise and ux-wise a good option would be for another day. Surely an option to look at, though.

[2021-09-01 17:11] #6696 closed

[2021-09-01 17:26] freben commented on #7031
Yep, closing as duplicate to keep the discussion focused there. Thanks for reporting though, and the additional context added. Feel free to chime in additionally on that issue.

[2021-09-01 17:26] #7031 closed

[2021-09-01 17:30] freben commented on #2815
Sorry but this is still a current issue. There's some discussion in the comments above. Having unencoded slashes in the URL makes it super problematic to parse and understand GitHub URLs - there's no surefire way to actually know where the branch ends and the path begins, without resorting to hammering the GitHub API with queries to resolve the situation - and this needs to be done in a lot of pla

[2021-09-01 19:52] kalinon commented on #5633
@suraj-zemoso what do you mean? Im encountering the same issue... which i cannot figure out.

[2021-09-01 21:50] twonds commented on #7021
Thank you @freben and @mtlewis for your help. I have written tests and manually tested for verification. I will start preparing the pull request with a changelog update. Hopefully get that in soon!

[2021-09-01 23:26] webark commented on #3898
@O5ten did you ever get this working? For some reason, it seems like redoc wants to be rendering on the server cause I'm getting these "path.join" errors when trying to use the `RedocStandalone` component.

[2021-09-02 02:32] Expalex commented on #6933
Wonderful feedbacks and suggestions. I love them all. They have been discussed with our team and the following might be good to do.
   1. Search Menu:   skip in the initial implementation.
   2. Submenu Open Method:   mouseover slide open design as shown on the video and Figma mockup would allow for a consistent and single click experience. This would be especially helpful on menu scenarios like C

[2021-09-02 06:30] FilipPyrek commented on #2815
@freben I like the idea of "alternative form" which would solve the problem but didn't require any groundbreaking changes. I like format where `ref` is supplied as a query string. That solution would make it extensible also for other information in future - if needed.
Do you guys at @backstage prefer to implement this yourself? Or is this okay to be done by a community? Do you have any requirement

[2021-09-02 06:30] freben commented on #6175
@Seneli I presume they meant taking the [source code](https://github.com/backstage/backstage/tree/master/plugins/catalog/src/components/AboutCard) for the About card and lifting that over to their local project.

[2021-09-02 06:44] freben commented on #2815
@FilipPyrek Yeah that's probably the most viable way forward that we have seen so far, at least. We could make sure to implement support for the alternative form _as well as_ the original native form - we do want to keep the convenience of copy+paste from the browser.

There's TONS of direct usages of `git-url-parse` across the code base. If we went for this strategy, we would have to rewrite them

[2021-09-02 06:44] freben commented on #2815
And to answer your question, we'd appreciate help with it.

[2021-09-02 07:29] freben commented on #6933
Oh on the topic of hover: Do consider touch-only devices. They will want to use touch events (like clicks) since hover isn't really a thing there. You'd probably want to make both work (open on hover OR touch)

[2021-09-02 07:44] xShteff opened #7040 "Incorrect Azure passport library used"
## Expected Behavior

We should be able to generate a jwt bearer token to be used in other applications.

## Current Behavior

The token we currently generate labeled and documented as [Azure](https://backstage.io/docs/auth/microsoft/provider) is only usable for Microsoft Graph API.

## Possible Solution

This should be do-able by making use of [passport-azure-ad](https://github.com/AzureAD/micros

[2021-09-02 07:52] freben commented on #7040
Nice, thanks for the thorough report. Was this something that you might want to contribute?

[2021-09-02 08:23] tragiclifestories opened #7041 "Highlight terms in search results"
## Feature Suggestion

In the search result page, highlight the user's search keywords in the result text.

## Possible Implementation

**Backend**: The interface for search results for the various backends should be changed to return optionally an array of highlight positions:

[code]

These would be forwarded to the client in `GET /search/query` responses.

Obviously support for this is variable

[2021-09-02 08:37] Fox32 commented on #7041
Yeah, you are right it's more complicated for postgres. While there is a [`ts_headline` functio](https://www.postgresql.org/docs/9.5/textsearch-controls.html#TEXTSEARCH-HEADLINE)n, this doesn't really help here because it's formatting it as HTML (not outputing some kind of `Position` object) and it's also operating on the source text, which in our case in a JSON document. Not sure how to implement

[2021-09-02 08:44] iamEAP commented on #7041
The method I'm most familiar with for ES is also not ideal (one adds a `highlight` option to the query with options like number of fragments, fragment size, fields, etc).  But it too returns HTML (although you can specify the tag).

Given the diverse set of engines, we may have to go with the client-side approach.

[2021-09-02 08:56] tragiclifestories commented on #7041
Obviously if we get back a highlighted string that makes the client code 'easier' (good old `dangerouslySetInnerHTML` to the rescue 🙈 ). But of course it'll break CSS encapsulation and so on.

You could use the `StartSel/StopSel` options in PG (and ES equivalents) to parse out your own position array as per above of course. But that might be a lot of work for large result sets.

[2021-09-02 09:24] #6062 closed

[2021-09-02 09:30] Fox32 commented on #7041
Had the same idea 😆  Then one still has the problem that `ts_headline` expects a `text` as an input, but we have `jsonb` 😞

[code]

We could call it for every field (as your suggested `Position` object contains the field name, nice!), just wondering how to handle arrays, we could either skip or concat them 🤔. Or make `pos` optional for array fields.

[2021-09-02 10:36] tragiclifestories commented on #7041
Yeah, my PG text-search understanding is ... suboptimal 🙈 From looking at the migrations in the plugin it looks like you're generating a single tsvector from concatenating the fields in the body JSON - is that right? Not sure if that can be reverse-engineered at query time 🤔

[2021-09-02 10:41] FilipPyrek commented on #2815
Understood and totally agree @freben.

I will see what available capacity we will have and if somebody from us will start working on that, I will let you guys know. 👍

[2021-09-02 11:08] Fox32 commented on #7041
`ts_headline` doesn't operate on `tsvector`, it uses a simple `text`. Good news is, that we still have the full json document. So we can:

* For every result
  * For every field in `document`
    * Call ts_headline
    * Process result and convert separators and add to position array.

We could also just ignore array fields (for now), highlighting terms is probably most important for text and titl

[2021-09-02 11:12] Fox32 commented on #7041
Just one thing that comes into my mind that would vote for a client side implementation: You can use the positions to highlight the results in the search page, but if you want to highlight it in the techdocs view (like in the lunr example) you will run into issues. The index provided by mkdocs might be hard to map on the actual DOM elements of the techdocs view.

Maybe there is even an mkdocs plug

[2021-09-02 11:13] xShteff commented on #7040
I would love to but sadly it's not something I can prioritise right away, I'm also not that familiar with the set up to be confident enough to change it :/.

[2021-09-02 14:49] hiba-aldalaty opened #7045 "Grey out Create button in template after initial click"
## Feature Suggestion

Disable/Grey out the 'Create' button in templates after initial click

## Possible Implementation

Before click:
![image](https://user-images.githubusercontent.com/72443252/131863239-17b21b04-57ed-4557-8be9-7fc5ddefc3f7.png)

After click:
![image](https://user-images.githubusercontent.com/72443252/131860689-3210bb20-2c2e-42d5-95fc-9131a6e8502d.png)

## Context
Sometimes, slo

[2021-09-02 15:04] hirenoble opened #7048 "BYO docs engine for TechDocs"
Currently, the only way to integrate your docs into TechDocs is to using the TechDocs CLI and underlying MKDocs engine to generate and consume the documentation.

Trying to integrate other static site with TechDocs resulted in a broken site due to blocked JS for security. Moreover, TechDocs has some hard dependencies on techdocs_metadata.json to be able to render the site.

Our team at Adobe alrea

[2021-09-02 15:18] Expalex commented on #6933
@freben Good point. I am still relatively new to Backstage, and have been designing around common desktop usage. I’ll discuss further with our engineering team for design that provides optimal experience across devices.

[2021-09-02 15:24] julioz commented on #6281
I am not sure I understand the motivation of the issue, does _multi-database_ mean running different engines side-by-side? Is that the intended goal?

For our use-case, what we would like is to be able to run MySQL as RDBMS **instead** of the current options (SQLite/Postgres). Internally we have set up infrastructure to support scaling MySQL database clusters, and have tooling and experience opera

[2021-09-02 16:37] freben commented on #6281
Yeah, only one db at a time! MySQL is indeed the one I'd prioritize highest to add. The issue is about making sure that the existing backstage code can run successfully on a larger number of database engines than today.

[2021-09-02 17:30] freben commented on #7026
Confirmed. But for me, the search term WAS transferred to the box in the result page, but the location bar was not updated. So a bit of a mix.

<img width="691" alt="Screenshot 2021-09-02 at 19 29 48" src="https://user-images.githubusercontent.com/3097461/131890026-5e16ee98-8476-4836-97d0-a57cf21a917b.png">

[2021-09-02 17:34] freben commented on #7026
Also you can see in the location bar that it flickers between at least two different states before settling.

<img width="646" alt="Screenshot 2021-09-02 at 19 32 48" src="https://user-images.githubusercontent.com/3097461/131890328-2d1f5513-2a10-45ab-8d50-d65554b75d87.png">

It's like it first loads the location with no term, then with term and filters, then reverts back the location bar to no ter

[2021-09-02 18:15] freben commented on #6975
What strikes me as really odd in here, is `yarn add git+https://github.com/seizadi/plugin-cost-insights-backend.git`. I'm honestly not sure what effect that will have on your package.json and yarn.lock. What it should contain, is only a line like `"plugin-cost-insights-backend": "^0.1.0"`.

I also notice that your checked-in backend has a package-lock.json file, indicating that you'd been using np

[2021-09-02 18:31] awanlin commented on #5708
@nadworny @OrkoHunter with #4359 closed by my fix should we also close this?

[2021-09-02 18:46] johanhammar commented on #7026
It seems like it works if I click on the magnifying glass

![image](https://user-images.githubusercontent.com/69011/131899363-33603ab9-cd8d-409b-9d2c-c3d02bd971f8.png)

But not when hitting enter to search.

[2021-09-02 19:00] codingdiaz commented on #5207
We are hitting this issue as well. We were looking to implement some new search capabilities with Elastic Search.

[2021-09-03 02:13] adamdmharvey opened #7054 "UI consistency for progress bar in TechDocs to Storybook components for waiting feedback"
## Feature Suggestion

It occurred to me that when visiting a docs page, the TechDocs frontend plugin shows the user a circular spinner.

<img width="851" alt="image" src="https://user-images.githubusercontent.com/33203301/131939826-05f0d836-24f8-452b-a040-a017917a62e2.png">

However, everywhere else throughout the site uses the progress bar spinner to suggest when something is loading as identifi

[2021-09-03 10:21] satrox28 opened #7058 "Sentry Plugin - Missing Annotation Bug v0.3.20"
Sentry plugin v0.3.20 have a bug, where its complaining about missing annotation after having the annotation on the catalog-info.yaml
## Expected Behavior
To display the Sentry Issues on the service catalog.

## Current Behavior
Displaying missing annotation content. Attached screenshot for the reference.

## Possible Solution

## Steps to Reproduce

1. When a user download v0.3.20 will be able to

[2021-09-03 10:31] lihongbj commented on #6245
@Rugvip , @freben ,
How are you.
We are evaluating backstage for our team dev work,  I am not sure if this is the right place to ask help for my question:
 --  **Does backstage support multiple github user/account auth?**

To auth single github user, below `auth` config can be applied in `app-config.yaml`, and env variable `AUTH_GITHUB_CLIENT_ID` can be set for one github user:
[code]

How to conf

[2021-09-03 11:08] nicorikken commented on #1329
I came here via a question I put on Discord. We're looking into using Backstage, and having a Product Owner listed per product is important to us, to have a main point of contacts. A lot of project/repositories are ownership of larger groups of people, but it can be unclear who to contact. Of course we could hack it by adding `metadata` properties like labels or annotations, but making it part of

[2021-09-03 11:35] nicorikken opened #7059 "LastChecked field to catalog-info.yaml"
## Feature Suggestion

_**This is mostly a suggestion** I just wanted to test the waters to hear what others think of this and get a discussion going._

Adding a field to the metadata about when the information was last checked **by a human**.
This can be a starting point for checking how current the information is, and if it should be reviewed.

[code]

## Possible alternatives

### Custom annota

[2021-09-03 12:22] iamEAP commented on #7048
Thanks for opening this up for discussion!

We've landed where we are (fairly tightly coupled to `mkdocs`) because doing so allowed us to get to a robust set of features very quickly (not just generation and display, but also features related to docs authoring, maintenance, feedback, discoverability, etc).

There may be a couple of tweaks here and there that we could make to TechDocs that enables

[2021-09-03 12:50] #6907 closed

[2021-09-03 13:37] #4357 closed

[2021-09-03 14:21] victormorfin97 opened #7063 "Custom filters on ScaffolderPage"
## Feature Suggestion

Enable the customization of the ScaffolderPage to add custom filters as we have it on the other catalogs.

## Context
At Expedia we don't limit the user to a set of categories, so the current categories filter is a long list of checkbox and we would like to change it to a dropdown. In other use case probably in future we would like to add more filters to improve the user exp

[2021-09-03 15:53] satrox28 commented on #5997
@Rugvip still we are facing issue with URL formatting as mentioned my @snakecharmer on v0.1.11 on plugin-todo-backend

[2021-09-03 16:05] #6223 closed

[2021-09-03 17:05] #6183 closed

[2021-09-03 18:29] getachew opened #7066 "backstage-create-app fails when running from a local clone of backstage"
Hello Backstage folks, I keep getting this error when trying to run `backstage-create-app` from my local backstage clone.
I am absolutely new to both TS and backstage so not sure how to debug this in order to write a better description. So I apologies but I am dumping the whole error output below-

[code]

[2021-09-03 21:22] iamEAP commented on #7048
One more for inspiration:

- #2174

[2021-09-03 22:49] srd90 opened #7067 "SAML authentication bypass possibility due lack of SAML authn response audience verification"
## Expected Behavior

SAML authentication response must be discarded if its `audience` is not Backstage instance.

## Current Behavior

Backstage does not validate `audience` so it is/would be possible to get authenticated session to Backsage by replaying auth response which was targeted to some other SP as long as SPs involved use same IdP because message's signature is valid from Backstage point

[2021-09-04 05:27] freben commented on #7067
Related ongoing work:

https://github.com/backstage/backstage/pull/7014

https://github.com/backstage/backstage/pull/7015

[2021-09-04 12:05] Rajat-patel19 commented on #6996
can i work on this

[2021-09-04 12:43] #6207 closed

[2021-09-04 20:01] awanlin commented on #598
@freben I'd like to take this on. I'll be starting small, just a table with the latest builds. We use nearly the full suite of tooling provided by Azure DevOps - Repos, Boards, Pipelines (Builds and Releases), and Artifacts - where I work. I know we'd eventually like to see those covered in this plugin

With that in mind, I could use some help with some design things:

**One or more plugins**: Wou

[2021-09-04 20:40] timbonicus commented on #7066
The underlying cause is that #6955 did not include a changeset for `catalog-backend`, so the addition of the static `fromConfig` function didn't get released as planned.

To work around this for now, you can change the generated `search.ts` file:

[code]

To fix running `node_modules/.bin/backstage-create-app` entirely, the same would need to be done in `packages/create-app/templates/default-app/p

[2021-09-04 21:34] timbonicus commented on #7063
This should be possible already as of #6150, which changed the ScaffolderPage to use the same `EntityListProvider` mechanism as the CatalogPage and ApiExplorerPage. Potentially could replace this with `EntityTypePicker` which uses Autocomplete.

[2021-09-05 13:47] satrox28 commented on #5807
Hi @jvilimek
I am trying to load Techradar data from an API, May I know the format you used, can you provide me the sample format of the input.

[2021-09-05 17:09] iamEAP commented on #6979
Thanks for the patience, all!  The latest version of `@backstage/create-app` should have this fix.  If you have an existing deployment of Backstage, you should be able to bump versions and get the fix.  Manually updating to the following versions will also work:

- `@backstage/plugin-techdocs` - `v0.11.1`
- `@backstage/plugin-techdocs-backend` - `v0.10.1`

[2021-09-05 17:10] iamEAP commented on #6980
Thanks for the patience, all!  In your existing Backstage deployment, you should be able to bump versions and get the fix for this.  Manually updating to the following versions should also work:

- `@backstage/plugin-techdocs` - `v0.11.1`
- `@backstage/plugin-techdocs-backend` - `v0.10.1`

(If you used the workaround, you will naturally want to revert that configuration)

[2021-09-05 17:10] #6980 closed

[2021-09-06 00:13] benjdlambert commented on #5807
I think you might want to follow the guide here: https://github.com/backstage/backstage/blob/master/plugins/tech-radar/README.md#how-do-i-load-in-my-own-data @satrox28

[2021-09-06 01:08] estahn commented on #6289
Still relevant

[2021-09-06 14:37] Rugvip commented on #6353
Done!

[2021-09-06 14:37] #6353 closed

[2021-09-06 15:17] vinzscam commented on #6996
Hi @Rajat-patel19!
Sorry, last week I forgot to mention here that I had already picked up the issue: #7079

[2021-09-06 15:36] julioz opened #7081 "Allow user-defined path finding heuristic in GitHub discovery"
## Feature Suggestion

Currently the GitHub discovery processor has a few hardcoded values that make it inflexible when indexing a software component catalog, especially for organizations that already have a format (slightly different than what Backstage expects) in place.

Namely, it assumes `catalog-info.yaml` files as the catalog entry, but also a [fixed `catalogPath` slug](https://github.com/b

[2021-09-06 16:30] victormorfin97 commented on #7063
Hi @timbonicus ,
Well I think the EntityTypePicker could work to change it as a dropdown, but it don't have the autocomplete functionality, so I think, we have two options:

- Update the EntityTypePicker component to have the autocomplete functionality.
- Change the current type filter component to a dropdown and autocomplete functionally.

I think the first option would be the ideal so we can avo

[2021-09-06 19:30] #6311 closed

[2021-09-06 21:52] regicsolutions commented on #5215
Thanks for the reply @kuangp any way you can share a sample of the hidden extension you are using that grabs the current user?

[2021-09-07 01:49] wdbetts commented on #6841
A good reference implementation can be found in Gitlab log view introduced in [this MR](https://gitlab.com/gitlab-org/gitlab/-/merge_requests/47532). Note that the regex to recognize links was refactored to this:

[code]

[Gitlab JS license is MIT exapt btw](https://gitlab.com/gitlab-org/gitlab/-/blob/master/LICENSE#L8)

[2021-09-07 05:18] freben commented on #6841
@wdbetts oh thanks for digging that up, really helpful!

[2021-09-07 07:18] PavelPolyakov commented on #6980
Thank you @iamEAP , it works

[2021-09-07 07:24] #5712 closed

[2021-09-07 09:56] braghettos opened #7087 "Support of 'kubecost' as a datasource for Cost Insight plugin"
## Feature Suggestion

From the official webpage (kubecost.com): _Kubecost allows you to see allocated spend across all native Kubernetes concepts, so you can provide your teams with transparent, accurate cost data reconciled with your actual cloud bill._.

From the Backstage blog: _Cost Insights will show you trends at a glance and also let you compare costs quarter over quarter. More importantly

[2021-09-07 11:10] shanthisagar-dhanya-kumar-db opened #7088 "Backstage OAuth2.0 Implementation changes"
Hi,

We have cloned the backstage repository and have integrated with our SSO provider which internally implements OAuth2.0.
Now once we hit our main url it basically goes back to SSO provider which asks for username/password and upon validation with the LDAP server, it returns the Backstage Sign In page, which gives us multiple options to sign in again which is not the desired user experience. Bu

[2021-09-07 15:25] asummers opened #7090 "Software Template Array Inputs Not Working As Expected"
## Expected Behavior

## Current Behavior

Consider the following software template:

[code]

The resulting summary appears as expected with two separate elements and not a combined value
![Screen Shot 2021-09-07 at 10 08 01 AM](https://user-images.githubusercontent.com/831648/132370054-e0c910e7-53d8-43df-ad46-080c1000e6b2.png)

But if we consider the template file
[code]

we get
[code]

This mean

[2021-09-07 15:43] aaronkorver opened #7091 "Fresh build after deleting yarn.lock file fails"
## Expected Behavior

Because of a proxy at my work we cannot reach the npm registry and instead have a pass-through proxy.  This causes a need to re-write the yarn.lock file.  When I deleted the yarn.lock file the `yarn tsc` fails due to some mis-matched packages.  When I keep the yarn.lock file, but find/replace the registry with our own pass-through things work as expected.

I would expect a fr

[2021-09-07 17:21] #2525 closed

[2021-09-07 17:46] mtlewis commented on #7090
Hi @asummers! Thanks so much for the detailed description of the situation you're facing. The awkwardness of dealing with non-string values in template parameters is something we're aware of - https://github.com/backstage/backstage/issues/6437 includes a proposal to improve this.

The good news is that it's _possible_ today to deal with non-string values, as long as they're convertible to JSON - i

[2021-09-07 18:51] ellisio commented on #6910
We have added the following to our root `package.json` `resolutions` block:

[code]

@Rugvip suggested [this in Discord](https://discord.com/channels/687207715902193673/687235481154617364/884843913670692874). Since our user base is small right now, we're willing to be the sacrificial lamb to testing React 17. Our setup is not complex, but it should help give some insight on anything that might bre

[2021-09-07 19:13] asummers commented on #7090
`json` works for my use case currently. Thanks for that.

Would you like me to leave this open and create the other issue for the UI, or close this and open another issue for UI, or repurpose this for the UI components?

[2021-09-07 19:36] mtlewis commented on #7090
Probably the first one if that’s alright with you!

[2021-09-07 19:46] asummers opened #7093 "Software Template Array Form Missing Styling"
Originally part of #7090

## Expected Behavior

The UI should be styled like the other form elements.

## Current Behavior

Consider the following software template:

[code]

Styling wise, we have a few issues with the form that gets created.
![Screen Shot 2021-09-07 at 10 07 10 AM](https://user-images.githubusercontent.com/831648/132370048-040b7185-d5fe-4cc6-b0e9-9d51dff92954.png)
![Screen Shot 2

[2021-09-07 19:47] asummers commented on #7090
Done in #7093.

[2021-09-07 20:17] ellisio commented on #6910
@Rugvip Quick update: `@material-ui/*` is going to the major battle here. React installs fine, but issues start popping up like crazy once you attempt to load the app. It all comes back to using v4 of those packages.

[v5 was supposed to ship on September 1, 2021](https://material-ui.com/versions/#release-schedule), but it does not appear that they are there, yet. It looks like it got bumped to Se

[2021-09-07 21:08] Rugvip commented on #6910
@ellisio no pressure, any help is appreciated, and thank you for checking it out this far! 👍

So MUI v5 migration is another thing on the menu and we'll definitely want to be a bit late and careful with that one. Rolling that out in a smooth way will be a challenge. I'd say the best case there being that we can let people do it at their own pace as much as possible. Gonna create another issue for

[2021-09-07 21:09] kuangp commented on #5215
Here's our very simple implementation:
[code]

[2021-09-07 21:16] Rugvip opened #7094 "Migrate to Material-UI v5"
Material-UI v5 is [on the way](https://material-ui.com/versions/#release-schedule) and will likely be a sizable [migration](https://next.material-ui.com/guides/migration-v4/). We want to make sure we make the migration as smooth as possible for everyone and avoid forcing migration at a particular point in time to whatever extent we can.

Let's use this issue as a point to collect and discuss ideas

[2021-09-07 22:02] ellisio commented on #7094
@Rugvip I know this kind of question is probably asked _a lot_, but when do you guys plan on going stable `@1.0.0`? Something like this screams post-1.0.0 since it is a very breaking type change. Especially for the metric ton of plugins people have developed.

[2021-09-08 09:23] jhaals opened #7097 "Help wanted: Catalog performance testing"
Hi,

We are looking for help measuring the performance of the software catalog to potentially find room for improvements. There have been improvements for large catalogs in recent months but we hope to improve the situation even further but we would like to back it up with data. We therefore added _experimental_ prometheus metrics to help out measuring. If run a large software catalog, we're inter

[2021-09-08 11:49] Fox32 commented on #7097
Would like to hand in data, but we are still on the old backend 😞 We are still hanging on not being able to force a reimport #6775

[2021-09-08 11:54] jhaals commented on #7097
@Fox32 I expected you guys to be running the latest and greatest! 😅
It hurts to hear that you are still on the old catalog because of lack of ability to trigger a refresh. It does not sound like a hard thing to implement so let's continue the discussion on that in the other thread.

[2021-09-08 12:57] taras opened #7102 "Provide an API to extend Webpack config"
## Context

On the HP DevEx project, we're using Backstage backend to build a system model. The project setup is similar to the default created by @backstage/create-app. On the frontend, we're using GraphQL with Relay which uses [relay-compiler](https://relay.dev/docs/guides/compiler/#internaldocs-banner) to compile GraphQL queries into TypeScript types. This mechanism requires [babel-plugin-relay

[2021-09-08 13:17] taras opened #7103 "Provide an API to exclude or overload AppThemeProvider"
## Context

On the HP DevEx project, we're using the default Backstage frontend app for the admin interface. The frontend that users see is a different React app in the same monorepo. Each major section of the UI is a separate package that uses the Backstage plugin template. We use `@backstage/cli plugin:serve` to run each section separately while doing development. We use the `dev.tsx` file to co

[2021-09-08 13:57] freben commented on #6775
Cross referencing: #6441

We are starting to look at this internally and hope to have something to share in the near future.

[2021-09-08 14:10] johanhammar opened #7104 "[TechDocs] "Click to copy documentation link to clipboard" action renders broken links"
"Click to copy documentation link to clipboard" action renders broken links in the clipboard

## Expected Behavior

A valid link should be copied to clipboard

## Current Behavior

The link copied to the clipboard is invalid.

## Possible Solution

## Steps to Reproduce

1. Go to https://demo.backstage.io/docs
2. Click the "copy link" action
3. Check the contents in the clipboard

![image](https:/

[2021-09-08 15:57] ConnorDY opened #7105 "Can't pass number from template to custom action step"
## Expected Behavior

Using the `number` type for a custom action's input should work.

## Current Behavior

It appears there is no way to pass a number type from a custom template to a custom action step.

The following error occurs:
[code]

## Possible Solution

¯\\\_(ツ)\_/¯

## Steps to Reproduce

1. In the template, define a property like so:

[code]

2. Pass that property to an action

[code]

[2021-09-08 17:01] awanlin opened #7107 "Plugins folder not found when creating Multi-stage Docker Image using documentation"
## Expected Behavior

The Docker image should be created

## Current Behavior

If you follow the documentation found here: https://backstage.io/docs/deployment/docker#multi-stage-build on creating a multi-stage docker image and you have a plugins folder you'll run into the following error: "failed to compute cache key: "/plugins" not found: not found"

![image](https://user-images.githubuserconten

[2021-09-08 17:02] awanlin commented on #7107
I think my issue was that I assumed that I should append the `.dockerignore` file and not overwrite the contents with that was provided in the instructions.

[2021-09-08 17:31] brethubbard opened #7109 "catalog model: support additional System relations"
## Feature Suggestion

I would like support for additional relations on the System entity.

## Possible Implementation

On the System entity there could be a `spec.consumesApis` or `spec.dependsOn` relation defined explicitly.

Alternatively, a visibility could be declared on an API entity and then we wouldn't have to declare the system then we could derive the public APIs from the sub-components

[2021-09-08 17:57] SuganJoe commented on #6933
Is everyone is good with @Expalex design along with improvements in his recent comment?

If yes, from the Expedia group we would like to get the issue assigned to us and start implementing the feature.

[2021-09-08 21:19] Fox32 commented on #7109
That's a discussion we already had before. But I'm having trouble finding it... Maybe I find it again 😁

There were different discussion, either having it as relations, or having a flag or level on the API that marks their level of being "public".

[2021-09-08 21:56] KatherineZhou commented on #6933
Hi!! Thanks for getting back! Agreed with skipping the search menu in the initial implementation.

Also agreed with @freben regarding hover/touch.

Regarding this:

If I'm understanding you correctly, I'm wondering if that might present some confusion to users who might not know what to expect. They might learn to not click anything or they might get frustrated if they expect something to be click

[2021-09-08 23:21] Rugvip commented on #7059
Thank you for the suggestion! Something like this interesting to have but I fear it's a bit too labor intense if this is driven by any kind of manual action. If it's automated there's also a risk that it's wrong 😅.

Would be interested to hear any ideas of how to execute this in practice. As in how would this be managed and what strategies could we use for automating it? One idea would be to leave

[2021-09-08 23:26] Rugvip commented on #7058
Would assume that this is a versioning issue. Could you run a `yarn why @backstage/plugin-catalog-react` and check what versions of it that you have? Perhaps also a `yarn backstage-cli versions:check` and see if it has any warnings

[2021-09-08 23:31] Rugvip commented on #7054
Yep, definitely use our core `Progress` component! It was a big battle to get rid of all of the various progress components people were using internally in order to unify the design. Should not let that slip! x)

[2021-09-08 23:32] chuliang014 opened #7111 "template for creating an catalog descriptor file"
Hi,

Since we have unified place for storing all the catalog yaml file, could we use template for creating a catalog descriptor file(do not need to include any code) and then push to the our repo?  If have, this would be the most convenient way for users to onboard their service via frontend.

For example, after the user submit the form,  the scaffolder can create the path based on the form conten

[2021-09-08 23:34] Rugvip commented on #6356
Closed by #6486

[2021-09-08 23:34] #6356 closed

[2021-09-08 23:38] Rugvip commented on #6245
@lihongbj the `clientId` and `clientSecret` are for either [GitHub Apps](https://docs.github.com/en/developers/apps/building-github-apps/identifying-and-authorizing-users-for-github-apps) or [GitHub OAuth Apps](https://docs.github.com/en/developers/apps/building-oauth-apps/creating-an-oauth-app), both of which support authentication of multiple users. There's a bit more info on that in [the auth s

[2021-09-09 02:37] kim5566 opened #7112 "Paginate for list repositories accessible to the app installation"
## Feature Suggestion
When a GITHUB app installation has a repository restriction, current GithubCredentialsProvider attempts to check if the repo was not accessable to the github app installation. There is an additional api call to list the repositories available to installation but according to [doc](https://github.com/octokit/plugin-rest-endpoint-methods.js/blob/master/docs/apps/listReposAccess

[2021-09-09 02:59] freben commented on #6933
From the maintainers point of view we're happy you're taking this on and look forward to reviewing eventually. Assigned! Hook us up on discord or continue the discussion here, if you have any questions in the mean time.

[2021-09-09 05:10] msamad commented on #6568
My two cents:
Being a fan of out of the process component tests I am thinking of two approaches for our app.

1, Run the whole backstage app (frontend + backend)  and use mocked systems instead of real ones. There are a bit of hardcoded endpoints in there e.g. bitbucket.org endpoint which we are using but it can be solved by using containers and creating host aliases to point to local mock contain

[2021-09-09 07:44] dhenneke commented on #7112
Octokit also provides a `paginate` function that could help here. It is also already used in another part of this file: https://github.com/backstage/backstage/blob/36e26fb9591cd62a87876bec39329d3f24cbd952/packages/integration/src/github/GithubCredentialsProvider.ts#L134

[2021-09-09 08:59] Pike commented on #6568
I realize I didn't say what I actually wanted to test, and which hat I'm wearing doing so. The hat I'm wearing is that of a template author and maintainer, and I'd like to know if the template(s) I did work.

I'd like to be able to manually inspect the output, and also run linters or included tests. I want to do so for a number of different combinations of answers. I might be stacking different te

[2021-09-09 10:41] OrkoHunter opened #7115 "Docs: Page of well known Scaffolder actions"
## Feature Suggestion

Add a page on backstage.io/docs Software Templates space or update the `builtin actions` page to list all the actions in Scaffolder, to help new contributors discover actions.

## Context

Discovery of Scaffolder actions available to use it difficult. There is a `/create/actions` page on the instance of Backstage which lists all the installed actions in the Backstage app. Bu

[2021-09-09 11:27] msamad commented on #6568
Sorry, I may have dumped my comments above without much context. It was after reading this comment

If it is possible to call the api that backend-scaffolder provides, it should produce the output from a template, including performing the required fetch and publish tasks. e.g. let's say it fetches the template from github, creates an output and then publishes to github. Now instead of actual githu

[2021-09-09 12:56] Pike commented on #6568
Side note, https://github.com/backstage/backstage/discussions/7116 is related.

[2021-09-09 14:50] Rugvip commented on #7045
👍 🎉

[2021-09-09 14:50] #7045 closed

[2021-09-09 14:56] kuangp commented on #6289
should this be reopened?

[2021-09-09 15:01] maurosala opened #7120 "Sonarqube Plugin missing annotation"
In catalog-info.yaml I have this

[code]

but in dashboard sonarqube plugin still saying "Missing Annotation"

## Expected Behavior

I expect the plugin says code quality information
![image](https://user-images.githubusercontent.com/10496197/132710742-5ea50dec-1967-4a2a-a652-635d7aa3b379.png)

## Current Behavior

You can view repository here [https://github.com/maurosala/ship-01/blob/main/catalo

[2021-09-09 15:04] maurosala commented on #7120
This is the error

![image](https://user-images.githubusercontent.com/10496197/132711496-e16072c8-5c95-43bd-adc2-361f81fce23a.png)

[2021-09-09 15:23] FlxPeters commented on #6843
Implemented in https://github.com/backstage/backstage/releases/tag/release-2021-08-26

[2021-09-09 16:57] brethubbard commented on #7109
Oh that's interesting, I spent some time trying to determine if there was guidance on this. Anything that I could find that was related was different enough that I thought a new issue made the most sense. If you can find that conversation I would love to take a look at it!

[2021-09-09 17:10] Fox32 commented on #7109
[This](https://github.com/backstage/backstage/pull/3957) could be an entrypoint into researching the discussion.

[2021-09-09 17:18] linzhaoken opened #7124 "Accessibility errors cross default backstage pages"
My team start using backstage to build an internal application, because the application will be widely used by all developers in my company, I would like it to be accesisble and follow AA standard.

Current I did a accessibility scan with axe tool on backstage default pages, I foud some error appears those errors are critical and serious. Below are a list of errors that I found. I can also provide

[2021-09-09 21:41] aravindparappil46 commented on #6216
Just adding my thumbs up here! This would be a great value-add and would save a lot of time for organizations on BB Cloud!

[2021-09-09 23:55] satrox28 commented on #7107
@awanlin you have to comment that copy lines for plugin, it will be automatically from package.json

[2021-09-10 00:07] satrox28 commented on #6788
We have recently published Gitlab Plugin for Backstage. We didn't enable to retry actions on it as there is no RBAC at this time so anyone will be able to rerun the pipeline. But if your team interested on it, sure we can work it.

[2021-09-10 07:18] kim5566 commented on #7112
Thanks! I wasnt aware there's a `paginate` function.

[2021-09-10 11:19] Rugvip commented on #5708
There was some handling of the zip archive shape left that should be fixed by #7134. I haven't verified TechDocs directly but I've verified that all kind of different combinations of `readTree` with subfolders works for Azure with all kinds of different repo URLs, so hopefully that should fix this.

[2021-09-10 12:28] #6415 closed

[2021-09-10 12:35] Rugvip commented on #7081
Is this not supported already?

The idea is that you'd be able to provide something like `https://github.com/my-org/*/blob/master/manifest?(-*).json`

[2021-09-10 12:40] Rugvip commented on #7088
So as I understand it you're deploying Backstage behind an authenticating reverse-proxy, which is good! If you want to and are able to re-use the identity from the proxy you can use something like [this](https://github.com/backstage/backstage/blob/master/contrib/docs/tutorials/aws-alb-aad-oidc-auth.md), which allows you to skip the sign-in page altogether.

Regarding the sign-in error I suspect th

[2021-09-10 12:45] Rugvip commented on #7091
Thank you for reporting!

In the end this is actually intended. We don't enforce that we're always up to date with all of our dependencies, as there's just too much movement and fixes going around for that to be sane. What we do enforce is that a `@backstage/create-app` works, as we don't ship a `yarn.lock` with that.

For the main repo we rely on dependabot updates to keep us close to up-to-date,

[2021-09-10 12:53] Rugvip commented on #7102
Quick update on where we are with this: We'll likely go with recommending that you set up your own webpack build of the project instead of providing an API to tap into the config. With the build system we've always had the goal for the to be possible and therefore avoid any too deeply integrated compiler customization. The missing piece is ofc a more thorough documentation of our build pipeline, w

[2021-09-10 12:58] Rugvip commented on #7105
While waiting for the new templating syntax work I'd prolly recommend handing this in the custom action for now, by parsing the input string as a number and throw an error if it's malformed. If you wanna be forwards compatible you could make it a `number | string`

[2021-09-10 13:04] Rugvip commented on #7103
The way to customize the app theme is via [`createApp`](https://backstage.io/docs/getting-started/app-custom-theme#using-your-custom-theme), similar to how the config works.

When it comes to getting rid of `CssBaseline` I'm really not sure if that's a good idea 😅. We could however enable it by making the `AppThemeProvider` a customizable app component, I don't think that would be completely insan

[2021-09-10 13:17] Rugvip commented on #7111
For this I think you want on piecing together existing actions. There's `catalog:write` that can create the `catalog-info.yaml` for you, and then `publish:github:pull-request` for publishing a PR. Right now it's only GitHub that has support for publishing via a PR.

[2021-09-10 13:21] Rugvip commented on #7115
Yep! 👍

We could possibly rely on some markdown generation as the actions are all pretty well documented in code already. Just a node script that loads in the scaffolder actions and goes on from there :therestofthefuckingowl:

[2021-09-10 13:35] Rugvip commented on #7024
Hi! Need a bit more info for this one, are you seeing any errors anywhere?

Could it be that you're facing the same issue as in #6546?

Another possibility could be that the scaffolder backend is having trouble connecting to GitLab?

[2021-09-10 13:35] Rugvip commented on #7021
Fix from #7051 is now released, thank you @twonds!

[2021-09-10 13:35] #7021 closed

[2021-09-10 13:37] shanthisagar-dhanya-kumar-db commented on #7088
Ok thanks or this option.
But, lets suppose we use @backstage:create-app version, which automatically does the sign in as guest user. And with this create-app version if we were to have create a dummy sign in page, which displays few authentication providers and then when users clicks on one of the sign options, it connects the authentication provider and logs the user back in. How should we do th

[2021-09-10 13:37] #7107 closed

[2021-09-10 13:38] julioz commented on #7081
@Rugvip I don't quite understand that expression, what kind of RegEx spec it uses? Trying it on my local instance of backstage, I see error output like
[code]

Which makes me assume the expression is not exactly what I am looking for (it tried to find a file named `manifest` instead of `manifest.json` or `manifest(-.*)?.json`.

What I also described in the PR description is that I got confused by

[2021-09-10 13:38] Rugvip commented on #7018
Been leaving this as low prio as there's a workaround, but in case anyone wants to investigate this it's good to know that the invocation of `jscodeshift` is set up a bit strangely. It's because the published executable file in `jscodeshift` has a `\r\n` line ending after the `#!/usr/bin/env node` shebang, which breaks execution in unix.

[2021-09-10 13:42] Rugvip commented on #6976
This should be fixed by #6912 as we now support both GitHub Apps and OAuth Apps for client-side auth. Roadie docs need some updating though (@punkle @dtuite)

[2021-09-10 13:43] sagacity commented on #6485
We are running into similar crashes at runtime using node 14. We can certainly try to up the amount of memory in the pod, but we have noticed that whereas the backend normally only uses something like ~100-200mb when doing LDAP processing it spikes to 2gb+ and crashes. Perhaps the processor can be improved somewhat to be a bit less memory-intensive :)

[2021-09-10 13:56] dtuite commented on #6976
@Rugvip Which docs exactly? Off the top of my head I can't think where we referenced that.

[2021-09-10 13:58] awanlin commented on #7107
Thanks @Rugvip I was going to submit a PR for this but wasn't sure if I was just a one off or not. you update makes things more clear 👍

[2021-09-10 14:11] Rugvip commented on #7081
The `catalogPath` isn't fully handled inside the discovery processor, it's emitted as another location that then ends up being handled by the `UrlReaderProcessor`, which [supports search](https://github.com/backstage/backstage/blob/c9ce2ba317b6860b06a241dc9ece6ad2e5f73dca/plugins/catalog-backend/src/ingestion/processors/UrlReaderProcessor.ts#L80). It seems as though it's broken somewhere along the

[2021-09-10 14:20] Rugvip commented on #6847
I've been told that this is fixed later versions of `yaml`, and that it can be solved by bumping it :grin:

[2021-09-10 14:21] taras commented on #7103
@Rugvip would you accept a PR that introduces the ability to customize the theme as I described above? If not, what API would you accept? We can put together a PR based on your response.

[2021-09-10 14:22] Rugvip commented on #6209
Groundwork for auth for this is done in #7002, but it still needs more logic for each provider

[2021-09-10 14:26] taras commented on #7102
@Rugvip that makes sense. We're already finding that our project layout is sufficiently different that trying to fit it into `@backstage/cli` might be counterproductive. Your response gives us more confidence to move in that direction. Thank you. I'll close this issue.

[2021-09-10 14:26] #7102 closed

[2021-09-10 14:26] HHogg commented on #4278
Hey,

I created a PR (#7140)  for the cloud build plugin. Please let me know if I missed anything or did anything incorrectly.

[2021-09-10 14:26] Rugvip commented on #5215
How do you feel about closing this as a duplicate of #5214? Seems to be pretty much the same issue to me tbh. Groundwork for these are being done in #7141 btw, but we also need to figure out how to communicate the need for a token.

[2021-09-10 15:11] kuangp commented on #5215
sure, closing as duplicate

[2021-09-10 15:11] #5215 closed

[2021-09-10 15:11] freben opened #7142 "LDAP: Reduce memory use when ingesting LDAP org data"
## Feature Suggestion

In its current implementation, the LDAP ingestion takes unnecessarily large amounts of memory for huge orgs. One expected reason is that we hold on to the entire result set from the LDAP client itself, before transforming it to entities.

## Possible Implementation

The [current implementation](https://github.com/backstage/backstage/blob/c9ce2ba317b6860b06a241dc9ece6ad2e5f73

[2021-09-10 15:12] Rugvip commented on #6976
@dtuite In the docs referenced in the issue ^ 😅, https://roadie.io/backstage/plugins/github-actions/, and that one links on to the main piece: https://roadie.io/blog/github-auth-backstage/

[2021-09-10 15:17] Rugvip commented on #7103
@taras thank you!

I'd want to go with the app component route, both because that's where we collect these kind of overrides, and also because I hope to get rid of the `getProvider` API eventually.

So an addition here: https://github.com/backstage/backstage/blob/c9ce2ba317b6860b06a241dc9ece6ad2e5f73dca/packages/core-app-api/src/app/types.ts#L69

Ends up looking something like this:

[code]

Needs

[2021-09-10 15:18] #6945 closed

[2021-09-10 15:20] taras commented on #7103
@Rugvip perfect! We'll work with this.

@minkimcello let's work on this together when you get a chance.

[2021-09-10 15:42] Erog38 commented on #7142
As an added idea, could `searchStreaming` take in a batch of entries so it can still batch entity storage calls to persistent storage? At least that way we aren't just transferring the efficiency issue from memory to database transactions.

[2021-09-10 15:48] dtuite commented on #6976
@Rugvip oh right yes. Sorry 😂 Will get that fixed.

[2021-09-10 16:35] #5472 closed

[2021-09-10 17:20] asummers opened #7144 "File Modes Getting Lost In Software Templates"
## Expected Behavior

Consider the following repo state:

[code]

and the following template

[code]

As I am pulling and pushing to same repo, this should result in no changes to the `asummers/backstage` repo whatsoever.

## Current Behavior

What seems to be happening is `+x` (and possibly other) are being dropped along the way.

![Screen Shot 2021-09-10 at 12 16 05 PM](https://user-images.githu

[2021-09-10 17:36] Pike commented on #7144
I suspect that this is a dupe of #7021

[2021-09-10 17:50] freben commented on #7144
Possibly, but this template seems to use `fetch:plain` rather than `fetch:template` so there might be another bug.

[2021-09-10 18:02] chuliang014 commented on #7111
Hi @Rugvip, could we customized our owned repoUrl?  Cause now seems accept the format `github.com?repo=reponame&owner=owner`.  For example, I hope it can push to `github.com/<Org>/<Repo>/<team-name>/<service-name>/catalog.yaml` , and `team-name` and `service-name` are from the user entered.

[2021-09-10 18:15] Rugvip commented on #7111
@chuliang014 Yep, you should be able to template that using the [templating syntax](https://backstage.io/docs/features/software-templates/writing-templates#the-templating-syntax)

[2021-09-10 18:40] #6996 closed

[2021-09-10 20:35] MayconDionisio opened #7145 "Tech-docs: clicking on navigation link don't reset scroll position"
## Expected Behavior

When navigating through techdocs links, the screen should reset its scroll position to the top.

## Current Behavior

When navigating through techdocs links, the screen keeps its scroll position

## Possible Solution

Changing the `height:100vh` to `min-height:100vh` on the Page component will fix the problem, but the sidebar scroll won't work as intended anymore, scrolling t

[2021-09-10 21:05] satrox28 commented on #7058
it's working now after yarn backstage-cli versions:bump

[2021-09-10 21:05] #7058 closed

[2021-09-10 21:06] satrox28 commented on #7120
Could be related to this, can you try to do version bump.
https://github.com/backstage/backstage/issues/7058

[2021-09-10 22:16] chuliang014 commented on #7111
@Rugvip Perfect!  I was trying to use `catalog:write` and `publish:github:pull-request`, but how to get the `catalog-info.yaml` after executed? I saw the PR, and the catalog-info file is empty.
![image](https://user-images.githubusercontent.com/56138162/132923233-3dafddb7-f182-459e-a5f1-7655692ad14b.png)
![image](https://user-images.githubusercontent.com/56138162/132923286-726e8b7c-6b1f-49ce-ad94-

[2021-09-10 22:21] #7112 closed

[2021-09-11 08:49] blaryjp opened #7147 "Issues when app.baseURL uses sub-paths"
## Expected Behavior

All the links in any pages must correctly route to the right one, so using the sub-path.

## Current Behavior

When you use a baseUrl with a sub-path (for example: `baseUrl: http://localhost:3000/example`), I spotted 2 major bugs:

- the catalog page with the table of entities (so `/example/catalog`) is correctly displayed, but links inside of this table are wrong. They don't

[2021-09-11 18:34] Rugvip commented on #7111
@chuliang014 You'll want to lowercase the `entity` under the input in that yaml

[2021-09-12 05:51] coding-to-music commented on #6485
My notes from when I did the hello world if that helps
https://github.com/coding-to-music/coding-to-music.github.io/issues/237

[2021-09-12 09:53] #6358 closed

[2021-09-12 12:47] OrkoHunter commented on #6417
Potentially closed by https://github.com/backstage/backstage/pull/7150 ?

[2021-09-12 23:51] estahn opened #7151 "Render markdown for description in software templates"
## Feature Suggestion

The `description` field in Software Template should be rendered via Markdown.

## Context

We would like to provide as much guidance to users as possible and a formatted description provide good visualisation on the important points. Additionally, we can provide links to more info.

[code]

[2021-09-13 04:15] #6368 closed

[2021-09-13 05:26] akibabu opened #7155 "Sort Jenkins builds by timestamp"
## Feature Suggestion

Make timestamp default sorting order in the builds table (CITable.tsx)

## Possible Implementation

The timestamp seem to already be available in the interface returned from the API

## Context

We are not finding the table useful for us because it is cluttered with old builds of old branches.
Data quality aside, is timestamp a better default sorting order?
If not, can it be

[2021-09-13 07:02] shanthisagar-dhanya-kumar-db commented on #7088
Regarding https://github.com/backstage/backstage/blob/master/contrib/docs/tutorials/help-im-behind-a-corporate-proxy.md, we use OAuth provider ( which internally uses OIDC ). If I just implement what is mentioned in the document, which means only use the refresh tokens, then the system will complain regarding env and headers. Is there any example implementation where it says about authentication w

[2021-09-13 07:57] Rugvip commented on #7088
Why do you want to do this though? 😅 If you're behind a proxy that you trust and is able to prove the user's identity you can register a sign-in page that is completely automatic, with no user interaction required. Or am I misunderstanding something with your setup?

[2021-09-13 08:19] shanthisagar-dhanya-kumar-db commented on #7088
Yes, our first option is to use the auth provider which is behind the proxy, but when we try to use fetch(`${window.location.origin}/api/auth/oauth2/refresh`)  as suggested under https://github.com/backstage/backstage/blob/master/contrib/docs/tutorials/help-im-behind-a-corporate-proxy.md , we get error which says "env" query param not found and when we add the "env" parameter, it says "invalid x-r

[2021-09-13 08:24] lihongbj commented on #6245
@Rugvip , thank you very much for your kind help. It works now.

[2021-09-13 08:40] ainhoaL commented on #6618
Sounds like a good first issue, grabbing it :)

[2021-09-13 08:55] benjdlambert commented on #6476
This looks like the default behaviour now and we can close this ticket right? https://github.com/backstage/backstage/blob/4045eaab952fec349e443990330bd1ac5b2c9c18/packages/core-app-api/config.d.ts#L21-L26

[2021-09-13 08:56] benjdlambert commented on #6476
Going to close and then re-open if anyone is running into this.

[2021-09-13 08:56] #6476 closed

[2021-09-13 10:27] #6379 closed

[2021-09-13 11:07] benjdlambert commented on #6416
I'm gonna go ahead and close this for now as I've not seen this come up since we rolled back the `fs-extra` changes. Although we should look moving to `berry` once there's an upgrade path that doesn't see us lose functionality.

[2021-09-13 11:07] #6416 closed

[2021-09-13 14:46] #6417 closed

[2021-09-13 14:50] #5919 closed

[2021-09-13 15:03] benjdlambert commented on #7124
Hey :wave: we'd happily accept some of these as contributions, is this something you'd like to take on?

[2021-09-13 15:05] benjdlambert commented on #7111
Can we close this?

[2021-09-13 15:09] benjdlambert commented on #6976
can we close this?

[2021-09-13 15:09] benjdlambert commented on #6847
@KennyLindahl did you get this working? can we close this issue?

[2021-09-13 15:10] benjdlambert commented on #6469
Have a `-` instead of a branch name #6930 should help with this I think.

[2021-09-13 15:10] benjdlambert commented on #6428
Can we close one now as we should be able to see the templates in the entity page now there's a filter for the type of `kind` you want to see?

[2021-09-13 15:12] KennyLindahl commented on #6847
@benjdlambert I'm temporarily working in a different team and our development with Backstage is halted for now. But i will return in a few months. I think this can be closed for now. Thanks for all the answers 😄

[2021-09-13 15:19] chuliang014 commented on #7111
Sure. Please close it.

On Mon, Sep 13, 2021 at 08:05 Ben Lambert ***@***.***> wrote:

[2021-09-13 15:44] julioz commented on #7097
[code]

Really appreciate the instrumentation. We have been able to set some alerts based on the catalog numbers, looking forward to other parts (techdocs, scaffolder, etc) being monitored too. Potentially providing a hook for plugin-authors to also include their own metrics, certainly that would be useful for our closed source plugins.

[2021-09-13 15:56] #6428 closed

[2021-09-13 16:03] ainhoaL commented on #6618
After some investigation on where we are now and discussion with @OrkoHunter these are the steps we could take to complete the task:
- [FOSSA plugin](https://github.com/backstage/backstage/blob/master/plugins/fossa/src/components/FossaPage/FossaPage.tsx#L164) doesn't seem to be using the checkbox filter when using the Table filters (nor any other place), so the CheckboxTree component could just be

[2021-09-13 16:10] #6312 closed

[2021-09-13 16:46] Rugvip opened #7162 "Help wanted: Improving API Reference"
We just merged #7150, which finally gives us a working, albeit MVP, [API reference](https://backstage.io/docs/reference/). As you might [notice](https://backstage.io/docs/reference/plugin-catalog-react) [rather](https://backstage.io/docs/reference/core-plugin-api) [quickly](https://backstage.io/docs/reference/integration) [while](https://backstage.io/docs/reference/backend-common) [browsing](https

[2021-09-13 17:06] awanlin opened #7164 "Move HomepageTimer Clock Config into Props"
## Feature Suggestion

While working on getting the `HomepageTimer` into the new composable Home Page it was [suggested](https://github.com/backstage/backstage/pull/7029#pullrequestreview-744807795) by @iamEAP that we move the clock config into props and out of the `app-config.yaml`

## Possible Implementation

This part I'm not totally sure about but would like to hammer something out in this iss

[2021-09-13 17:07] awanlin commented on #7164
@iamEAP do you have some ideas as to how we would do this? I'm happy to run with that!

[2021-09-13 17:57] #6847 closed

[2021-09-13 17:58] #7111 closed

[2021-09-13 18:58] regicsolutions opened #7166 "Unable to make an API call from Front End"
When trying to make an API call from the front end i am getting the following CSP error:

_Refused to connect because it violates the following Content Security Policy directive: "default-src 'self'". Note that 'connect-src' was not explicitly set, so 'default-src' is used as a fallback_

![image (6)](https://user-images.githubusercontent.com/6157895/133137400-b8d83a94-417d-4b20-b884-b8030a64905e.

[2021-09-13 19:46] timbonicus commented on #6618
Yep, sounds good to me. If you want extra credit you could also convert `EntityListProvider` and the hook to use `createVersionedContext` similar to #7149 😄

[2021-09-13 20:20] aaronkorver commented on #7091
@Rugvip Thanks for the explanation.  Yes, you are correct that replacing the host with our proxy in the `yarn.lock` works for us.  Generating an app and doing a fresh build  (after deleting the generated `yarn.lock`) this also works as you stated.

Closing as it seems this is working as you intended.

[2021-09-13 20:20] #7091 closed

[2021-09-13 21:34] askreet opened #7168 "useEntity hook indefinitely loading some time after @backstage/plugin-catalog-react v0.4.2"
## Expected Behavior

Having multiple components on an entity page that use the `useEntity` hook should each receive valid `entity` members.

## Current Behavior

The `entity` variable is undefined and `loading` is true for any elements using >0.4.2 of `@backstage/plugin-catalog-react`.

## Possible Solution

Unknown.

## Steps to Reproduce

Create a second React component function that calls `use

[2021-09-13 21:39] askreet commented on #7168
According to @timbonicus on Discord, this may not be a regression, but the result of me having multiple versions of `@backstage/plugin-catalog-react` loaded at the same time. Feel free to close this out or let me know if there's anything specific I can provide to help.

[2021-09-13 22:13] Rugvip commented on #7168
@askreet Indeed! This is being fixed by #7149, so this problem should disappear in future versions.

Will close since there's nothing left to do here but wait and try to deduplicate existing version x)

[2021-09-13 22:13] #7168 closed

[2021-09-13 22:27] Rugvip commented on #6618
@timbonicus possibly, although `createVersionedContext` should only be used when there's a possibility that the provider and consumer of a context are in different installations of a package, since it does add some unnecessary complexity otherwise.

[2021-09-14 03:12] #6411 closed

[2021-09-14 04:19] estahn opened #7169 "Software templates not showing "examples" below input field"
react-json-form provides a keyword `examples` which does not appear to work in software templates.

## Expected Behavior

Show examples below the input box:
![image](https://user-images.githubusercontent.com/362174/133194323-48a8e3bd-9c31-4864-a0f4-354d62df2988.png)

## Current Behavior

Nothing.

## Possible Solution

N/A

## Steps to Reproduce

Create a software template with the following field

[2021-09-14 05:08] shoukoo commented on #6281
We would also like to have MYSQL to be supported in Backstage. For the same reason as @julioz, our internal teams have more experience scaling/operating MYSQL.

[2021-09-14 06:34] estahn opened #7170 "Software Templates should provide entire entity to templates"
## Feature Suggestion

The `EntityPicker` allows the selection of various entities. The templates only receive the entity name at the moment. It would be useful to provide the entire entity object to the templates.

## Possible Implementation

`resolveEntity` will populate the entire entity object into `parameters.provides-apis`.

[code]

## Context

We are trying to reduce the number of inputs us

[2021-09-14 07:05] regicsolutions commented on #5286
@freben is this now possible using ScaffolderFieldExtensions?

[2021-09-14 08:23] eperdeme commented on #4070
There's also a 2nd use case which would be resolved by this.

There is a scenario where we run several backstages in development areas and it would be beneficial to be able to have a level of directory structure to allow multiple backstages in to a single S3, similar to how we can prefix the database to consume a single DB instance by multiple backstages.

I.e;
[code]

[2021-09-14 10:01] san-coding commented on #7162
Hey , can I work on this issue?

[2021-09-14 10:02] san-coding commented on #7155
Hey , I am new to open source, Can I work on this

[2021-09-14 11:13] chendelin1982 opened #7173 "Could you provide Backstage image on DockerHub?"
## Expected Behavior

`docker run -it -p 7000:7000 backstage` for testing Backstage

## Current Behavior

user need npm build and docker build, it very difficult

[2021-09-14 11:13] Rugvip commented on #7162
@san-coding Absolutely, thank you! 👍

The scope is a bit too wide to assign to a single person, so I think the best way is to make small quick PRs to reduce the possibility of stepping on each other's toes.

[2021-09-14 11:19] Rugvip commented on #7097
@julioz Thank you for sharing!

A realization I had when looking at the numbers is that our queue poll interval is 1s, so a healthy p999 queue delay is gonna be right around 1s, and p5 at 0.5s

[2021-09-14 12:43] benjdlambert commented on #6973
So I just was playing around to try and get this working, but I think it returns the wrong thing. It returns your siblings rather than reliably the thing that emitted or created you.

Speaking with @ruvip I'm thinking that we should start to add `relations` for things that are part of the emitted chain. So you can look at an entity and find the thing that emitted it, and then we might have to do a

[2021-09-14 14:22] HHogg opened #7178 "[RFC] Use Luxon preset formats and locale formatting for dates."
**Status:** Open for comments

## Need

**Locales**: User's locales will have their own style of reading dates. It's counter intuitive to not have dates formatted in their familiar formats, it can cause users to have to think harder about what the date is and could even lead to wrongly interpreting dates incorrectly (e.g. 05/03/2021, this could be March 5th or May 3rd, depending on where the user

[2021-09-14 14:26] nicorikken commented on #7059
Thanks for sharing your thoughts! Indeed I think of it as a manual action. From my OpenStreetMap experience it is just on additional tag you update, just something to get used to. One reason not to rely on modification dates of files is because it might have been updated by automation. I can see it being an optional field, that might be enforced if desired. Detecting stale data would then be impli

[2021-09-14 15:11] freben commented on #7178
I've always wanted to let the user choose the time zone too. Like, when frequently managing things in many time zones, having a display setting forcing all timestamps to be shown in UTC. But that's out of scope for this RFC, right?

[2021-09-14 15:20] HHogg commented on #7178
I think that's a separate task, this is focussing mainly on the formatting of dates rather than the timezone.

[2021-09-14 16:19] Erog38 commented on #7142
Open PR with these changes #7180, but it needs some extra help from a maintainer to run the workflows since this is my first contribution.

[2021-09-14 22:25] aemann2 commented on #7162
I'm brand new to this project and this issue seems like a good way to get acquainted. @Rugvip, will follow your advice on small PRs.

[2021-09-15 02:57] timbonicus commented on #7173
I understand this wish, and indeed I'd love to see the same! It might be possible long-term, but at the moment this would essentially just be the [demo site](https://demo.backstage.io).

The thing preventing this is customization - adding integrations and access tokens specific to your company, installing plugins, setting up backend services to have in your installation. This simply isn't possible

[2021-09-15 03:29] mapleeit commented on #6039
Because of @freben 's excellent work, I think right now the easiest solution could be add this to your `package.json`:

[code]

[2021-09-15 06:54] freben commented on #6039
@mapleeit Yep, good that you mention that - as an adopter of backstage that's certainly a good option.

Also cross linking https://github.com/backstage/backstage/issues/7011

[2021-09-15 08:30] sagacity commented on #5214
@freben My team would like to spend some time on this. Would we need to wait until https://github.com/backstage/backstage/pull/7002 is merged? Or are there already some ways we could move forward with this?

[2021-09-15 08:59] benjdlambert commented on #5214
@sagacity I'd suggest that you hold off on this a little bit, as we were probably going to do it to prove that #7002 is valid for use. It's a really interesting use case for that library, and probably going to be a lot of thought around how best to do it.

[2021-09-15 10:02] HHogg commented on #4278
I'm going to pick up the remaining CircleCI plugin now.

[2021-09-15 10:06] iamEAP commented on #7164
Hey @awanlin!  Thanks for opening this follow-up.

I imagine the meat of this would just be refactoring the `<HomepageTimer />` in `@backstage/core-components` to optionally take in a `clocks` prop that looks a lot like the `homepage.clocks` config that currently exists (e.g. an array of objects with keys `label` and `timezone`).  ...For backward compatibility, you could continue supporting the co

[2021-09-15 10:33] ainhoaL commented on #6618
Seems like I spoke too soon! After playing around with this I don't think the FOSSA page can move to use EntityListProvider, because it wants to get the entities and then use some of that information to query their own [fossa API](https://github.com/backstage/backstage/blob/master/plugins/fossa/src/components/FossaPage/FossaPage.tsx#L196) and feed all of that info into the [table](https://github.c

[2021-09-15 10:43] HHogg commented on #4278
PR created for the last plugin ☝️

[2021-09-15 10:59] manusant opened #7191 "[Software Catalog] Catalog rules defined at catalog.locations configuration does not cover sub-locations"
Catalog rules defined at catalog.locations configuration does not apply defined rules to sub-locations (Locations referenced by **_spec.targets_**) pointing to other resources.

## Current Behavior

Considering a location defined as:
[code]

sub/target locations defined as:
[code]
and Backstage configured for catalog ingestion in app-config.yaml as:
[code]

From this configuration, the specified l

[2021-09-15 12:55] awanlin commented on #598
I've just submitted a PR for the Azure DevOps backend plugin. This is an MVP that will pull out the top n builds given a repo name. Once that's approved and merged in I'll get working on the frontend plugin to display this.

https://github.com/backstage/backstage/pull/7192

[2021-09-15 18:58] awanlin opened #7198 "Unable to run yarn build:api-reports on Windows"
## Expected Behavior

Running `yarn build:api-reports` should work and generate the reports as needed on all environments including Windows

## Current Behavior

When we run `yarn  build:api-reports` on Windows we are getting the following error even though storybook has been excluded

[code]

## Possible Solution

We found that changing the `/` to `\\` for `SKIPPED_PACKAGES` paths here: https://g

[2021-09-15 19:47] linzhaoken commented on #7124
@benjdlambert yes, I would like to contribute this as I am doing accessibility scan.

[2021-09-15 20:04] awanlin commented on #7198
I've also tried `if (!SKIPPED_PACKAGES.includes(win32.normalize(packageDir))) {` but that results in the same error as well

[2021-09-15 20:42] ryanaross opened #7199 "Updated Entities not being Stitched Due to Hashing"
In this change #6827 (@freben), hashing was introduced to reduce the number of times entities are stitched.

We are seeing an issue where an entity is updated, with the removal of the `catalog-info.yaml`, but the hash is not updated and therefore it is not stitched again. Without stitching, the entity is never marked as orphaned.

## Expected Behavior

The hash should be getting updated with the e

[2021-09-15 21:06] chuliang014 opened #7200 "how to delete the additional templates"
Hi,

Why did my templates include other template? Actually I just defined one template in `app-config`, but there are 6 templates included in the website. `Onboarding new service` is our own.

I am wondering how to delete other five templates.
![image](https://user-images.githubusercontent.com/56138162/133509368-0c4882c9-5e02-423e-be0e-6ae58ad3c92c.png)
![image](https://user-images.githubuserconte

[2021-09-15 21:44] Rugvip commented on #7198
Thank you for reporting!

Shipping a fix in #7202. The final tricky bit is that Node does some weird sh*t on Windows when resolving a relative path between a relative and an absolute one. You end up with a somewhat unexpected relative path that broke the comparison. Making sure the relative path resolution was between two absolute paths fixes it.

[2021-09-15 21:57] Rugvip commented on #7199
Thank you for reporting, good catch! 👍

I think this might be as simple as `errors` (and `ok`?) being part of the hashing.
Maybe it's something you'd like to look at contributing? Otherwise we'll be able to prioritize it too

[2021-09-15 22:03] #7198 closed

[2021-09-15 22:08] benjdlambert commented on #7124
Assigned! @linzhaoken!

[2021-09-15 22:26] ryanaross commented on #7199
Ah I would like to, but lack some required knowledge. I just tried to stringify the results.ok and put it in the hash but it did not work, and I am not sure why, that seemed like it would.

The hash is including [errorStrings in the hash](https://github.com/backstage/backstage/blob/7ab55167d047efb60114cca32af39feacbea89ee/plugins/catalog-backend/src/next/DefaultCatalogProcessingEngine.ts#L164) cur

[2021-09-15 23:42] Rugvip commented on #7199
Ah yeah sorry that's just me being confused. This is the actually intended behavior, where we don't want to delete or mark the entity as orphaned if reading the parent location fails with an error. It's however not intended for those entities to be difficult to discover, so I think we can consider this to be a duplicate of #6973

[2021-09-16 05:10] timbonicus commented on #7200
These are the default templates that serve as examples when creating a new Backstage app. They can be removed by [unregistering the templates from the catalog](https://github.com/backstage/backstage/discussions/5315#discussioncomment-605929).

[2021-09-16 07:51] dtuite commented on #6200
@Irma12 is going to work on this plugin.

[2021-09-16 07:55] Irma12 commented on #6200
Hey guys, yes, I would like to proceed with this one :)

[2021-09-16 08:11] #6795 closed

[2021-09-16 08:42] iamEAP commented on #7164
Better yet!  This may be an opportunity to remove this from the `core-components` package, and let it sit in the `home` plugin.  So instead of refactoring, you could probably just slap a `@deprecated` on the original component, and then re-implement in the home plugin, only accepting props (no config support).

[2021-09-16 10:51] sonali-mishra-94 commented on #7097
Sharing metrics from our org:
`catalog_entities_count{kind="component"} 623
catalog_entities_count{kind="resource"} 1.95k
catalog_entities_count{kind="location"} 2.79k
catalog_entities_count{kind="api"} 1.45k
catalog_relations_count 546.88k
catalog_processing_queue_delay_seconds{quantile="0.5"} 256288.8805
catalog_processing_queue_delay_seconds{quantile="0.999"} 512576.773
catalog_processors_durat

[2021-09-16 11:06] Rugvip commented on #7097
@sonali-mishra-94 Thank you for sharing!

This looks like something every interesting to look into further, because the queue delay is definitely not where we would want it! 3 days? O_O

I'm wondering if you're seen issue with entities being updated very slowly or other things misbehaving? It could also be a bug in our metrics but we should definitely figure out what's up either way!

I'm also cur

[2021-09-16 11:54] awanlin commented on #7164
Yes, that makes a lot of sense, thanks for the tips. I'll take a crack at this as I have time. I also would like to add the fun multi-language Welcome message back as something optional as we loved that feature!

[2021-09-16 12:35] sonali-mishra-94 commented on #7097
@Rugvip I just edited the comment with correct data. Sorry about earlier, I copied the wrong data

[2021-09-16 12:38] Rugvip commented on #7097
@sonali-mishra-94 aha, that looks much more reasonable x)

[2021-09-16 12:54] sagacity opened #7211 "[RFC] Scaffolding anywhere"
**Status:** Open for comments

## Need

Currently scaffolding happens in a separate `create` page. Templates are listed there, users pick a template, they get an input form and scaffolding starts. This covers the use case of 'starting from scratch', for instance to create a new Java project.

I want to propose another use case: 'Adding resources to an existing entity'.

## Proposal

Imagine you al

[2021-09-16 13:17] HHogg opened #7212 "Using Yarn to manage workspace dependencies"
On a recent pull request (#7190) I ran into an issue after removing and adding some dependencies using `yarn workspace` for example...

[code]

This should update both the package.json and the yarn.lock file.

However after doing this, the `yarn.lock` file contained a lot of changes that were not relevant to the commands I just ran, and then subsequently building the project, resulted in a lot of

[2021-09-16 13:47] hpcsc opened #7213 "Reload configuration when included files are changed"
## Feature Suggestion

I'm looking into deploying backstage to Kubernetes environment and use Hashicorp Vault dynamic database credentials feature (https://www.vaultproject.io/docs/secrets/databases/postgresql) to generate database credentials. These credentials will be generated and injected into backstage container filesystem using a sidecar. Backstage container will use `$include` to read those

[2021-09-16 14:58] freben commented on #7155
Thanks, assigned!

[2021-09-16 15:02] adamdmharvey commented on #7155
@san-coding If it helps as you come up to speed, you'll find some tips in the project [CONTRIBUTING.md](CONTRIBUTING.md) for things like how to add a change set, signing off your commits, etc, and the community is engaging to help as well with any questions. (e.g., Discord is a good avenue for that)  Appreciate it!!

[2021-09-16 15:03] freben commented on #6469
closing because of suggested fix being merged

[2021-09-16 15:03] #6469 closed

[2021-09-16 15:31] awanlin commented on #7198
Thanks @Rugvip! And also @timbonicus for the help in Discord on this. From looking at your fix this was clearly not something I was going to figure out on my own.

[2021-09-16 15:42] ryanaross commented on #7199
Thanks for that Issue link @Rugvip, I hadn't seen it. Oddly, if I remove the hashing mechanism, these entities whose repositories have been deleted do get marked as orphaned the next time they are processed.

[2021-09-16 16:00] san-coding commented on #7155
Thanks I will look into it

[2021-09-16 16:04] Rugvip commented on #7199
Ah I think I know what's going on here. There's likely a bug or mismatch of expectations in the catalog processing that was causing the processing of locations to be considered successful even if it had errors.

We assume that if the processing does not throw any errors then it's ok, but we might have errors being emitted along the way, which is what our reader for GitHub URLs is doing when it fai

[2021-09-16 16:19] freben commented on #7199
Hm interesting. Well the semantics of `ok` is currently to differentiate between whether it threw or not and we can probably keep that, I think it's the caller that needs to have that errors checker right? And it kind of does.

Is it the case that we should throw NotFound instead of emitting it? Have to look closer at it tomorrow

[2021-09-16 16:37] Rugvip commented on #7199
Yeah could keep the way `ok` works, but is it perhaps a bit surprising? Should make sure it's documented well in the processing API in that case as it's a pretty big difference. ​I agree we should probably fix this by changing the URL reader but it might be that we'll just run into more issues like this in the future then.

Perhaps a fix is to remove errors as a thing you can emit and replace them

[2021-09-16 17:30] jbadeau opened #7218 "Failing backend when docker container is built with GitHub Actions or Act"
## Expected Behavior

Building backstage backend docker image with GitHub action or [Act](https://github.com/nektos/act) should result in a working image

Building the image locally with docker on windows results in a working image.

## Current Behavior

An error occurs when starting the container:

[code]

## Possible Solution

Looks like a platform win vs linux issue but before i do a major inve

[2021-09-16 17:36] Rugvip commented on #7218
Thanks for reporting!

Setup looks good to me, are there perhaps any clues inside the resulting image, such as what files are present in the `/app/` directory? Or anything else that you could see if you run the image with a bash entrypoint and dig around a bit

[2021-09-16 17:45] jbadeau commented on #7218
I will have a look tomorrow. Just posted to see if I got lucky and someone might know.

[2021-09-16 18:01] taras commented on #7103
Closed in #7201

[2021-09-16 18:01] #7103 closed

[2021-09-16 18:29] freben commented on #5286
Yeah, you can definitely make a separate picker implementation for this.

[2021-09-16 18:40] freben commented on #7059
I suggest that we leave this out of the core model. It would seem to me that it is a fairly niche use case, so it would be best left as a custom extension. There are drawbacks and benefits to [the various parts of the model that can be extended](https://backstage.io/docs/features/software-catalog/extending-the-model), but my gut tells me that `metadata.lastChecked` is a pretty good candidate. You

[2021-09-16 18:40] #7059 closed

[2021-09-16 18:56] freben commented on #7199
It'd probably break third party processors. I'd envisioned emitting actual warnings as a different thing than errors, in the future. But I get the feeling that we need some slightly richer signalling here overall... The difference between "I exploded violently, abort everything", vs "I am working correctly but the data was bad, keep processing my children and assume they didn't change", vs "One of

[2021-09-16 19:59] freben commented on #7109
Hi!

Yes, interesting and complex subject! :) As you may have seen, it was always intended that systems should serve as this boundary and that it should clarify which of its constituent APIs were intended for outside consumption. It would also give system owners a clearer overview of the collected dependencies of its constituent parts.

Now it sounds like you are suggesting movement in that direct

[2021-09-16 20:03] freben commented on #7166
The bit about `'connect-src' was not explicitly set` does sound interesting. Can you somehow double check that the right config was actually supplied? Play around with the csp values and see if you can coax it into changing the error.

[2021-09-16 20:10] freben commented on #7170
This is the intended behaviour. It's a pattern we are using in other places throughout: the entity ref is passed to the interested party, and then they turn around and use a catalog client to fetch the actual data they need. Your action can do the same. This turns out to be a pretty good simplicity / flexibility balance, we find.

I'll close as answered for now, but do speak up if this was not the

[2021-09-16 20:10] #7170 closed

[2021-09-16 20:14] freben commented on #7178
So, making an ADR for this sounds excellent. We're happy to provide feedback on the pull request for that. I suppose that will also involve suggestions for using an external library for formatting time deltas ('3 days ago' etc)?

[2021-09-16 21:20] adamdmharvey commented on #4278
WOW!  An effort across a large number of team members, both core and the community, and we seem to have met the ADR 🎉 🎉 👍🏻

I triple checked, and the only references left in the raw code are a few package-lock elements, which infers they are being imported by being deps of ANOTHER 3rd party package. But the Backstage code itself involves no imports for these packages any longer.

Given this, I'm c

[2021-09-16 21:20] #4278 closed

[2021-09-16 23:04] brethubbard commented on #627
I know this is an old issue but these were identitfied as open topics.

Were these tracked anywhere else? Specifically I am interested in "How to model versions of APIs/components?" I've tried my best to sift through other issues but I can't find anything else besides this thread.

[2021-09-17 00:00] Rugvip commented on #627
@brethubbard we actually just added some docs with thoughts on that topic! :grin:

https://backstage.io/docs/features/software-catalog/extending-the-model#referencing-different-environments-with-the-model

TL;DR: Different major versions of an API are different APIs, other than that we only supply tools for modelling a single (latest) version right now.

[2021-09-17 01:28] brethubbard commented on #627
Oh perfect, that answers my questions nicely! Thank you!

[2021-09-17 05:02] estahn commented on #7170
@freben Thinking about it again, I suppose the better solution for this would be to provide a function which can be used in assigning parameters to return the entity object, e.g.

[code]

Do you think this could be provided natively by backstage?

[2021-09-17 07:32] Fox32 opened #7225 "Bring back the multi-lingual greeting to the home page"
## Feature Suggestion

![image](https://user-images.githubusercontent.com/648527/133742557-19669c9e-62e0-48c0-8a2a-5f6ef87e915b.png)

In the past, the home (back than the catalog page) had a multi lingual welcome message to greet the user with different languages and greetings depending on the time of the day. That gave Backstage a nice playful touch! But it also confused some users, causing it to

[2021-09-17 07:42] freben commented on #7170
It could, but I'm not sure there's value. The code that reads `my_entity` might just as well do the lookup in typescript land.

[2021-09-17 08:14] HHogg commented on #7178
@freben Now that #4278 is closed off, I'll pick this up and propose an ADR :) Re formatting the durations - I'm planning to add a bit about this and using the `humanize-duration` library that was added in #7190 to fill in the gap of [Luxon not having this baked in](https://github.com/moment/luxon/issues/688).

[2021-09-17 08:17] freben commented on #7178
Excellent, that's the one I was thinking about.

[2021-09-17 08:48] freben commented on #7225
Yep for sure it should be available for voluntary inclusion at least right? :)

[2021-09-17 09:22] estahn commented on #7170
@freben I'm not sure we're talking about the same thing. I should not have started with the solution ([XY problem](https://en.wikipedia.org/wiki/XY_problem)) but rather explained what we want to achieve.

We started with various templates, e.g. engineer onboarding which for example creates terraform code to create access to databases and other infrastructure. The user is usually already generated

[2021-09-17 09:59] #7142 closed

[2021-09-17 10:11] freben commented on #7191
This is a duplicate of https://github.com/backstage/backstage/issues/5482. The problem still persists. I'll leave this one open for a bit longer to see if there's any additional feedback around the problem. See that other issue for some brief explanation of where we stand.

[2021-09-17 10:12] freben commented on #7191
Oh, sorry - I mistakenly thought that the other issue was closed, but it (rightly) isn't. So let's close this one and focus the discussion over there. Apologies!

[2021-09-17 10:12] #7191 closed

[2021-09-17 13:27] freben commented on #6531
Still relevant!

[2021-09-17 15:56] regicsolutions commented on #7166
@freben The issue ended up being my app-config.yaml was incorrect. I had csp under backend.database once I moved it to backend I was able to get passed this csp error by using the default csp configuration but am now facing a CORS issue (confirmed cors is under backend in my app-config)

`XMLHttpRequest at 'http://localhost:7000/rest/api/1.0/projects/FIR/repos/demo/commits'
from origin 'https://lo

[2021-09-17 18:47] manusant commented on #7191
Yes agreed and sorry for the mess!
Thanks @freben

[2021-09-17 18:56] cbwilliamsnh opened #7234 "Type 'Dictionary<string | undefined>' is not assignable to type 'string'."
Build error on line 39 of plugins/auth-backend/src/lib/oauth/helpers.ts

## Expected Behavior

Code should build

## Current Behavior

Code doesn't build

## Possible Solution

haven't started exploring one

## Steps to Reproduce

Try to build using:

❯ node --version
v14.17.5

on MacOS Catalina

[2021-09-17 18:58] chuliang014 commented on #7200
Hi @timbonicus,  seems my catalog page doesn't have a dropdown.
![image](https://user-images.githubusercontent.com/56138162/133840101-a29bd38a-83c0-4fc6-b1df-e6bffb58974c.png)

[2021-09-17 19:00] manusant commented on #5482
Hi guys any idea if this is going to be tackled and when? I can see that this issue was reported in April and i'm a bit concerned because in our scenario (big organization with several independent projects) it has some relevance in the way we are tracking permissions at entities level.
I've provided more details on issue #7191

[2021-09-17 22:10] jamieklassen commented on #5212
@ericis I have spent some time over the past few days encountering problems running these tests inside a Docker container myself. I discovered that they fail any time they are run as root.

The 'entire archive' test exercises the extraction of [this fixture](https://github.com/backstage/backstage/blob/f38ac1a4e0eca7dc0e390a3a223fc9685e8ae875/packages/backend-common/src/reading/__fixtures__/mock-ma

[2021-09-17 23:46] ericis commented on #5212
Thanks @jamieklassen . This is fantastic detail! I will look into converting the developer docker walk through to use rootless docker images or at least mention in the documentation that they should run rootless.

[2021-09-18 01:43] adamdmharvey opened #7236 "Deprecated Golang template linked from newly scaffolded Backstage app"
When scaffolding a brand new Backstage app off `npx @backstage/create-app` there's a warning upon startup about an entry that can't be read.

Specifically, it relates to this linked Golang template:

https://github.com/backstage/backstage/blob/f38ac1a4e0eca7dc0e390a3a223fc9685e8ae875/packages/create-app/templates/default-app/app-config.yaml.hbs#L110-L112

And that template is still a legacy apiVer

[2021-09-18 10:33] Rugvip commented on #7213
We're pretty close to supporting this! Most of it was implemented in #6754. The missing pieces are watching of `$include` and `$file` references, as well as the implementation in the DB connection end. We could either re-read the secrets when failing to connect to the DB, or use `config.subscribe()` to listen for updates.

Is this something you want to work on @hpcsc? Otherwise we'll call it up fo

[2021-09-18 12:02] #6269 closed

[2021-09-19 01:22] hpcsc commented on #7213
thanks @Rugvip. I'm afraid I can't work on this at the moment so it would be great if someone else can help

[2021-09-19 04:29] #6414 closed

[2021-09-19 21:47] shanthisagar-dhanya-kumar-db opened #7240 "Environment specific "Create Component""
## Expected Behavior

If we use the below code
process.env.NODE_ENV under

[code]

This should work

## Current Behavior

The expected behaviour is that irrespective of the different environments, the create component is visible

## Possible Solution

## Steps to Reproduce

1. Step 1
2. Step 2
3. ...

## Context

## Your Environment

- NodeJS Version (v14):
- Operating System and Version (e.g. Ubu

[2021-09-20 07:08] shanthisagar-dhanya-kumar-db opened #7243 "configSchema in package.json for new environment variable not working"
I need to add a new property lets say "environment" under app-config.yaml but before that  I have added the below in the main package.json

[code]

But when I use the below code

[code]

It doesn't print the value stored under environment variable

## Expected Behavior

## Current Behavior

## Possible Solution

## Steps to Reproduce

1. Step 1
2. Step 2
3. ...

## Context

## Your Environment

-

[2021-09-20 07:46] freben commented on #7240
`process.env` is a backend thing only, it doesn't apply in frontend scenarios. I am not sure what you want to achieve here, you say that it SHOULD be visible no matter what env you are in?

If you want to have different frontend behaviours in different envs, you can use different overlaying config files such as app-config.yaml plus app-config.production.yaml and supply those with --config argument

[2021-09-20 08:22] shanthisagar-dhanya-kumar-db commented on #7240
Yes, then I thought we can create environment variables under app-config and app-config-production yaml files and pass them accordingly, but that doesn't seem to work as well . Please see #7243

[2021-09-20 09:08] #6478 closed

[2021-09-20 09:22] shanthisagar-dhanya-kumar-db commented on #7240
My main aim is based on whether the environment is either production, dev or uat, toggle the "Create Component", "Register the Component" in the front end.

[2021-09-20 09:36] nicorikken commented on #7059
@freben Thanks for linking the page on extending the model, I had not found that page yet and it is very relevant. Knowing Kubernetes I had considered such options of extending the current model.

This would be the **Custom annotation** method I mentioned in the opening post, so I can see the work for us:

As hinted in the opening post, I was trying to see what others think. If others think this i

[2021-09-20 09:56] Pike opened #7246 "[scaffolder] Allow for mono-repo templates with template inheritance"
I'd like to be able to use template inheritance when creating scaffolder templates. That way, more organizational parts of a project could be centrally maintained, and adapted to concrete templates.

This would be an alternative to having one big template with a lot of options.

One benefit I see to multiple templates is that you can document them individually, which should make it easier to decid

[2021-09-20 10:03] yousifalraheem opened #7247 "cmd+click in techdocs won't open links in a new tab"
`cmd+click` on internal links in the techdocs won't open it in a new tab.

## Expected Behavior
cmd+click (or ctrl+click in Windows) should open links in a new page.

## Current Behavior
it will not open in a new tab, instead, it will redirect the current tab.

## Possible Solution
No idea

## Steps to Reproduce
1. Go to https://demo.backstage.io/docs/default/component/backstage/integrations/githu

[2021-09-20 14:43] timbonicus commented on #7200
@chuliang014 Ah, the dropdown for `kind` was added in `plugin-catalog: 0.6.14` so perhaps you're on an earlier version.

To work around this, if you don't want to upgrade at this time, you can either go straight to the template URL (e.g. `/catalog/entities/by-name/template/default/<name>`), or go to `/search` which had a kind filter before this.

[2021-09-20 14:51] KatherineZhou opened #7249 "Backstage Homepage Template"
## 🗒 General

Hi! We'd love to bring the Backstage homepage to life as a template for adopters to use and modify. This is quite similar to the Backstage homepage that we utilise at Spotify.

Building on top of the awesome work done for #6486, we'd love to provide a structured template using composable cards for folks customise for their teams.

From user research done at Spotify with our own Backs

[2021-09-20 14:55] dtuite commented on #6976
Our docs are fixed now. This can probably be closed if you like?

[2021-09-20 16:26] #6976 closed

[2021-09-20 16:43] cbwilliamsnh commented on #7234
Proposed fix that is working:

`export const encodeState = (state: OAuthState): string => {
  const _undefined = undefined
  const stateString = new URLSearchParams(
    pickBy(state, value => value !== _undefined),
  ).toString();

  return Buffer.from(stateString, 'utf-8').toString('hex');
};`

[2021-09-20 16:43] freben commented on #7166
`http://localhost:7000/rest/api/1.0` doesn't sound right at all, so the problem is that the request happens to entirely the wrong URL. I would have expected to see either roughly `http://localhost:7000/api/proxy/bitbucket/rest/api/1.0/...` if you configured it go go via the proxy, or `https://api.bitbucket.mycompany.net/rest/api/1.0/...` if talking to the remote directly.

What does your `integrat

[2021-09-20 16:54] freben commented on #7169
Just noting: We use `rjsf`, and their own playground doesn't render them either. https://rjsf-team.github.io/react-jsonschema-form/ (select the "Examples" button at the top).

[2021-09-20 16:58] freben commented on #7169
https://github.com/rjsf-team/react-jsonschema-form/issues/2368

uh this has been pending since forever https://github.com/rjsf-team/react-jsonschema-form/pull/2369

[2021-09-20 16:58] Rugvip commented on #7234
Thank you for reporting!

You likely have some difference in your setup since we're not seeing this error on the latest master, any idea of what that might be?

[2021-09-20 17:02] #7169 closed

[2021-09-20 17:07] cbwilliamsnh commented on #7234
No idea. I'm working on a MacBook with node.js 14.xxx and everything else up to date. If no one else is having the issue, I'll just patch the file as I build.

[2021-09-20 17:45] nissayeva opened #7253 "[Authentication] [Meta issue] Support backend to backend authentication"
Tracking work needed to not break authentication for backend to backend requests outside of the context of a user.

- [x] #7352
- [x] #7351
- [x] #7353
- [x] #7354

## Context

Currently for authentication purposes, it's possible to pass a Backstage user identity token along with a request from a client to a backend. Passing a token from the client, however, can break calls initiated by backends t

[2021-09-20 18:01] Rugvip commented on #7234
Hmm, strange, but alright. Are you fine with closing this issue for now and then revisit if anyone else has the same issue?

[2021-09-20 18:06] cbwilliamsnh commented on #7234
Closing issue and will revisit if others have the same issue.

[2021-09-20 18:06] #7234 closed

[2021-09-20 18:39] vierno opened #7254 "Ownership links on user pages linking to a catalog page without the expected items"
Recently was introduced a new navigation from the `OwnershipCard` to the catalog table with filters, but when it's used from an user profile, it will result unexpected results (I see that the user owns X services, but when I click the box, the table shows zero results).

## Expected Behavior

When clicking on the "Ownership" boxes on an user page, the catalog page should list the entities owned by

[2021-09-20 21:40] regicsolutions commented on #7166
@freben thanks for the reply! So i haven't actually configured it to go through the proxy yet, was wondering if this is required in order for me to make API calls from the front-end to APIs that don't support CORS?

Also wasn't 100% sure if a plugin is actually required to make use of the built in backstage proxy or not?

Was wondering instead of trying to add a new proxy entry under `proxy `in my

[2021-09-21 07:10] BenDu89 commented on #7249
Hi @KatherineZhou - when i try to access the Figma link, i get the following error message: File not found

Either this file doesn’t exist or you don’t have permission to view it. Ask the file owner to verify the link and/or update permissions.

[2021-09-21 07:20] freben commented on #7243
Hm I wonder if maybe this isn't possible in the project root package.json. All of the schema declarations I've seen so far have been in `plugins/x` or `packages/x`. They have also [had the schema declaration and a title](https://github.com/backstage/backstage/blob/9375de0d6ca10da17a4b1ae13978bdfbeefb33da/packages/cli/package.json?plain=1#L164), but I don't think that's enforced. Maybe try adding i

[2021-09-21 07:25] freben commented on #7240
Alright, let's see where #7243 leads us then, and close this if it solves the problem.

[2021-09-21 07:44] freben commented on #7236
Indeed! This one just needs to be migrated. I'll see if I can get that done (or remove it, even).

[2021-09-21 09:02] freben commented on #5482
Hey! No distinct plans - but I'll take a quick look now to try to gauge what the effort / complexity is

[2021-09-21 09:10] KatherineZhou commented on #7249
hmm thanks for raising that! you can access it [here](https://www.figma.com/community/file/850673348101741100) --> you can duplicate this file and find the 'Homepage' page on the left hand side (the 'pages' column)

<img width="1419" alt="Screenshot 2021-09-21 at 11 08 15 AM" src="https://user-images.githubusercontent.com/16808998/134144106-ecb4504a-1499-4198-888c-cfca0c285f0b.png">

<img width="1

[2021-09-21 09:44] johanhammar opened #7264 "Filters not cleared when switching between kinds in the Software Catalog"
As the title says filters are not cleared when switching between kinds in the Software Catalog. I.e filter for tags for components then switch to another kind, i.e domains, and the tags filter is still active

## Expected Behavior

Filters should be cleared, atleast when switching to a kind that does not have the filter.

## Current Behavior

Filters are not cleared. See screenshots below

## Poss

[2021-09-21 11:12] BenDu89 commented on #7249
That works - I guess the link in the initial post is broken - Thanks for helping out :-)

[2021-09-21 11:41] #7236 closed

[2021-09-21 13:09] sming opened #7267 "Make the https://backstage/services/a-nice-service/deployment Active Versions table's COMMIT column searchable"
#### Use Case: Search Active Versions by COMMIT

- I am a I'm a service engineer
- Who wants to see how his new version is progressing during a deployment
- So that I can get greater insight into how the deployment is progressing and feel more confident/relaxed about it

#### Proposed Solution

- Make the `COMMIT` column of the `Active Versions` table searchable.

[2021-09-21 14:21] gmambro commented on #3750
I currently have a plugin which scrapes some resources using a third-party API and what I'd like to have is right something like the janitor inside the plugin itself. However I could not find any reference in the docs about how plugins can perform “housekeeping” operations.

This would be great too.

[2021-09-21 14:43] freben commented on #3750
I think what you will actually want, may be an EntityProvider instead of a CatalogProcessor. https://backstage.io/docs/features/software-catalog/life-of-an-entity#ingestion

This interface is still pretty young though. But I think it does exactly what you want - it lets you mirror an external system perfectly, with eager cleanup of things that no longer exist remotely

[2021-09-21 14:47] #6775 closed

[2021-09-21 15:19] benjdlambert opened #7268 "Remove Handlebars templating from `kind: Template` templates"
## Feature Suggestion
Following the migration from `cookiecutter` to `nunjucks` with `fetch:template`, we want to deprecate and remove any older templating languages and just have one templater which can share helpers making `kind: Template` definitions easier to write, and also Templates skeletons themselves easier to write and easier to understand.

This ticket is a followup from the RFC which w

[2021-09-21 15:50] #6473 closed

[2021-09-21 18:52] #7200 closed

[2021-09-21 19:30] freben commented on #5482
Alright, made a pull request that hopefully addresses this. #7270

[2021-09-21 20:45] kuangp opened #7273 "Support scaffolder retries & updating previous inputs"
## Feature Suggestion

(Re-)support functionality from https://github.com/backstage/backstage/pull/3859 that was lost when the scaffolder was updated to `v1beta2`

## Possible Implementation

There is a proposal here: https://github.com/backstage/backstage/issues/7211 that includes support for the `TemplatePage` to take in query params to prefill form inputs. This feature can probably make use of

[2021-09-21 20:50] lcarlosjr commented on #3327
Guys, any news about this Apigee plugin? I saw something about an apigee integration on a youtube video from the American Airlines team...

[2021-09-21 21:13] asummers opened #7274 "Conditional Value Checking In Software Templates"
## Feature Suggestion

Currently, the parameters set via software templates can be checked for truthiness, and that logic can be present both within an `if:` directive within a step, as well as in e.g. string contents for conditionally creating parts of the string as in a PR description. Yay! However, there does not seem to be a way to check this value against another string as Nunjucks allows you

[2021-09-22 00:48] regicsolutions commented on #7249
Great work! Looks awesome, I don’t know why but this landscape is still my favorite 😀

<img width="776" alt="B47715CB-7ECD-4785-9BDE-DDEDE6AEB084" src="https://user-images.githubusercontent.com/6157895/134266193-af96b3a5-ddeb-4530-9863-9ec9386beb0e.png">

[2021-09-22 03:20] anishdhar commented on #2723
hey everyone - we actually built this as a plugin based on our [Scorecards](https://www.cortex.io/products/scorecard) product!

you can learn more [here](https://github.com/cortexapps/backstage-plugin) (https://github.com/cortexapps/backstage-plugin). Our plugin lets you grade the quality of your backstage services, and we can even message engineers about the quality of their services + give you t

[2021-09-22 07:25] Fox32 commented on #7274
Did you try the [`eq` helper](https://github.com/backstage/backstage/blob/master/plugins/scaffolder-backend/src/scaffolder/tasks/TaskWorker.ts#L62)?

I don't have an example ready, but I think you use it like: `id: eq variable "constant"`

[2021-09-22 14:41] asummers commented on #7274
That seems to work!

Interestingly it does not seem to work in the `{{#if eq paramaters.foo "foo" }}` syntax, but seems to with the `if: '{{ eq parameters.foo "foo" }}` syntax.

I think this could definitely use a callout in the docs.

[2021-09-22 15:15] muhamadto opened #7282 "Read app-config.yaml from external url"
We are storing the configuration in an external server and would like to make backstage load/reload configuration from a url rather than relative paths. The reason for this is, we would like to be able to update the config without redeploying.

## Possible Implementation

In the `packages/config-loader/loader.ts` a check can be done to determine if the `configPath` is a url, absolute or relative p

[2021-09-22 16:57] Pike commented on #7246
@benjdlambert I have a local patch, would it help if I pushed that into a PR?

[2021-09-22 17:39] cbwilliamsnh opened #7284 "microsoftAuthApi integration"
I am trying to integrate the microsoftAuthApi into backstage following the instructions here:

https://backstage.io/docs/auth/microsoft/provider

using the following git patch file:

[code]

## Expected Behavior

The patch is applied as expected but the resulting code fails to compile with the following error:

[code]

## Steps to Reproduce

1. Apply the patch to master
2. Build backstage

## Cont

[2021-09-22 17:55] TheAschr opened #7285 "Ability to serve static files from a suburl"
## Feature Suggestion

Is it possible to serve the static files for the app under a suburl?

For example

https://DOMAIN/documentations/static/module-react-virtualized.041e2be8.js

instead of

https://DOMAIN/static/module-react-virtualized.041e2be8.js

setting the app.baseUrl and backend.baseUrl only seem to configure the url the client can be accessed at but not the url static files.

Normally yo

[2021-09-22 18:51] cbwilliamsnh commented on #7284
Found the error of my ways. Seems the documentation needs to be updated to use `microsoftAuthApiRef` from `@backstage/core-plugin-api` and now I get a clean compile.

[2021-09-22 18:55] cbwilliamsnh opened #7286 "Compile errors after applying patches"
I'm using `waf` to apply a collection of patches to `backstage` prior to compiling it. The patches are all successfully applied but the build process has two compile errors.

## Expected Behavior

`backstage` should compile (and run) after the patches are applied.

## Current Behavior

I get the following two errors during the build process:

[code]

Note that neither of these files are patched!

[2021-09-22 20:30] andrewthauer opened #7288 "[RFC] Merge the techdocs-cli back into main repo"
**Status:** Open for comments

## Need

The [techdocs-cli](https://github.com/backstage/techdocs-cli) was originally part of the main Backstage repo but was separated out quite a while ago. It still uses the [@backstage/techdocs-common](https://github.com/backstage/backstage/tree/master/packages/techdocs-common) package as a core dependency, which provides some of the common features of building &

[2021-09-23 07:43] iamEAP commented on #7288
Another alternative (though most likely not worth pursuing) is creating a TechDocs monorepo that houses the CLI + common + backend + frontend.  ...We'd get techdocs-specific benefits, but at the expense of shared tooling, and the ability to benefit from core features in one go.

[2021-09-23 07:59] Rugvip commented on #7288
@iamEAP some day x)

[2021-09-23 08:19] #6216 closed

[2021-09-23 08:27] julioz opened #7294 "LDAP: Add support for LDAPTLS_IDENTITY and certificate chain"
## Feature Suggestion

We would like to use the LDAP plugin for processing our org data. In my company, we rely on Google's LDAP server. My org's security team provided me with a user/password combination, plus a set of certificate (.crt) files. They also pointed me to [this page](https://support.google.com/a/answer/9089736) in order to set up access.

Backstage's code delegates calls to `ldapjs`

[2021-09-23 09:03] OrkoHunter commented on #7294
@TejasQ Do you have any suggestions for this one, since I remember you recently worked on the LDAP plugin? :)

[2021-09-23 09:06] OrkoHunter commented on #7286
Few questions:
1. What is `waf`?
2. What patches are you trying to apply? Is it coming from the CHANGELOGS of Backstage packages?
3. What version of [auth-backend](https://github.com/backstage/backstage/blob/master/plugins/auth-backend/CHANGELOG.md) are you on? Try bumping it and see if the errors disappear?

[2021-09-23 09:13] benjdlambert commented on #5708
Think this has been fixed with last weeks release. Closing and feel free to reopen if the problem persists after updating.

[2021-09-23 09:13] #5708 closed

[2021-09-23 09:21] OrkoHunter commented on #7285
To me it looks like the `static` folder is hard coded in the webpack config.
https://github.com/backstage/backstage/blob/e1c141a2d5e426fd6fda8d0a2f0b2eaab7b2852c/packages/cli/src/lib/bundler/config.ts#L214-L217

[2021-09-23 09:29] vinzscam commented on #7285
It looks it is hardcoded also in other places:

https://github.com/backstage/backstage/blob/9a180af86e0e694a7ed4f122d2c27a928fbc306e/plugins/app-backend/src/service/router.ts#L94

Feel free to open a PR if this is something you really need.

[2021-09-23 09:31] freben commented on #7285
Hm. That's only the local path on disk that it serves from - it's supposed to have the frontend files in `dist/static`. That should not be connected with what external HTTP route that it serves from

[2021-09-23 09:33] freben commented on #7285
If I understand the ask correctly, this would be a matter of choosing a different root route for this line in your backend: https://github.com/backstage/backstage/blob/master/packages/backend/src/index.ts#L131

[2021-09-23 09:37] freben commented on #7284
@cbwilliamsnh Alright, glad it got sorted. Where did you find the doc that needs updating?

[2021-09-23 09:51] #5482 closed

[2021-09-23 10:55] skgandikota opened #7295 "Feature to use multiple Proxies of same product say sonar, Jenkins etc"
Most of projects use self hosted sonar, jenkins and maintain as part of BAU activity, Now after introducing backstage we got alot of  request with different sonarqube url's and jenkin's urls-  it would be great if we allow multiple proxy of same kind

[2021-09-23 11:29] cbwilliamsnh commented on #7286
@OrkoHunter  I hope this helps a bit:

1. [waf](https://waf.io/) is a meta-build system
2. I created the patch files by creating a private branch from `master`, applying a series of edits/commits to that branch and running `git format-patch master`. The waf build then clones a specific commit on `master` and automatically applies the patch files before `backstage` is compiled. The patches do thing

[2021-09-23 11:31] cbwilliamsnh commented on #7284
@freben see the top of my original post.

[2021-09-23 11:33] cbwilliamsnh commented on #7286
This is the rather lengthy build command `waf` issues:

[code]

`bsdev` is the cloned `backstage/master` repo.

[2021-09-23 11:56] Rugvip commented on #7295
I'd actually say that https://github.com/backstage/backstage/issues/5518 is the way forward here, meaning dedicated backend plugins that can handle the routing of requests.

Another option is to explore if we should power up the proxy plugin a bit more and start adding support for more dynamic routing based on entities or whatnot. That'll definitely make it a more complex plugin with configuration

[2021-09-23 12:08] freben commented on #7284
Ah! Thanks. Fixed all mentions I could find

https://github.com/backstage/backstage/pull/7296
https://github.com/backstage/backstage/pull/7298

[2021-09-23 12:08] #7284 closed

[2021-09-23 12:22] Rugvip commented on #7286
What version of `@types/lodash` do you end up with (`yarn why @types/lodash`)? Could be that newer or older versions have changed how `pickBy` works. Could also be worth checking your version of `typescript` as well.

I tried creating #7299 in case it would fix it, although even if it does it would be interesting to know why :grin:

[2021-09-23 12:30] Rugvip commented on #7294
I believe the missing piece here is to forward `tlsOptions` to the `ldap.createClient` from `ldapjs`. Through that you'd pass a custom `secureContext` that contains the client certificate. Just to clarify as well, it is a client certificate you're looking to add right? As in the the certificate files that you received contain a key as well?

[2021-09-23 12:38] Rugvip commented on #6182
Closing this to continue the discussion in #7285

[2021-09-23 12:38] #6182 closed

[2021-09-23 12:49] Rugvip commented on #7285
I think what we're really looking for is the ability to configure the URL that the frontend expects to find the static files at right? We'd keep the `static/` folder in the build output, but you'd then want to copy those files somewhere else for the deployment.

Just for understanding, why do you need this? Given your example you should be able to serve the entire app at `https://DOMAIN/documentat

[2021-09-23 12:51] Rugvip commented on #7285
Will add that in out setup we host the contents of the `static/` folder separately from the other things. The frontend is deployed with nginx with the `static/` foulder being routed out to a GCP bucket sometimes

[2021-09-23 13:01] #7286 closed

[2021-09-23 13:07] cbwilliamsnh commented on #7286
❯ yarn why @types/lodash
yarn why v1.22.1
[1/4] 🤔  Why do we have the module "@types/lodash"...?
[2/4] 🚚  Initialising dependency graph...
[3/4] 🔍  Finding dependency...
[4/4] 🚡  Calculating file sizes...
=> Found "@types/lodash@4.14.168"
info Reasons this module exists
   - "_project_#@backstage#catalog-model" depends on it
   - Hoisted from "_project_#@backstage#catalog-model#@types#lodash"
   -

[2021-09-23 13:21] cbwilliamsnh commented on #7286
What about this error:

[code]

???

[2021-09-23 14:10] cbwilliamsnh commented on #7286
Here's the fix - make it explicit!

[code]

[2021-09-23 14:27] #3749 closed

[2021-09-23 14:42] Rugvip commented on #2876
Related to #6973

[2021-09-23 15:00] freben commented on #7166
Sure you could like `useApi(scmIntegrationsApiRef).bitbucket.byHost('bitbucket-server.com').config.apiBaseUrl` if you wanted to grab it out of the config, by URL.

You can for sure make direct calls to backends from the frontend if you like; we have some plugins that do so. However, since the client is a browser, you are subject to all of the security rules and similar that always apply to browser

[2021-09-23 15:45] julioz commented on #7294
@Rugvip Correct, I've received both `crt` and `key` files (note the certificates might be self-signed), and I'm also able to generate a `pem` out of these two.

[2021-09-23 16:16] Rugvip commented on #6636
This issue happens when the installed CLI version no longer matches the range query used in the project, since the Backstage CLI will use whatever version it's currently running and doesn't know about the original range. For example if you have `@backstage/cli: ^0.6.2` in your root `package.json` but you've since bumped it in `yarn.lock` to be at something like `^0.6.5`, the query in the new plugi

[2021-09-23 16:25] sming commented on #7267
It's a spotify internal issue, not this repo

[2021-09-23 16:25] #7267 closed

[2021-09-23 17:52] FilipSwiatczak commented on #4002
Hello @Rugvip I've just written Bitbucket OAuth provider  #7308 in case it helps above. Cheers

[2021-09-23 19:28] dtuite commented on #2723
@joechrisellis and the team at Monzo have built parts of this into their internal Backstage deployment. Joe wrote about their system in detail here: https://monzo.com/blog/2021/09/15/how-we-measure-software-excellence

[2021-09-24 07:10] Fox32 commented on #4007
As we running into more issues that our catalog is growing to big because entities contain a lot of additional data, we are back to this topic. Some input that came up recently:

* The current draft implementation isn't full thought through yet, putting stuff with attachment keys outside of the spec feels hidden and the usage it the client doesn't feel right
* The current draft implementation is b

[2021-09-24 07:42] ProticM opened #7310 "Improve helpers support in the template kind (include handlebars lowercase filter)"
## Feature Suggestion

Improve helpers support in the template `handlebars` engine.

## Possible Implementation

In your `TaskWorker` file, add another `handlebars` helper:

`this.handlebars.registerHelper('lcase', value => value.toLowerCase());`

and/or

`this.handlebars.registerHelper('lcasetrim', value => value.trim().toLowerCase());`

This might be only during a transition period until you ful

[2021-09-24 12:10] julioz commented on #7081
Manually including `manifest-*.json` and `manifest.*.json` helped, although I saw a big bump in `Location`s being ingested too (I assume the processors look for the three variants in every single repo of my org). Indeed would be nice to express with a single pattern but for now this works for us.

Thanks @Rugvip

[2021-09-24 12:10] #7081 closed

[2021-09-24 12:27] Irma12 commented on #6200
Hey guys this is out now https://www.npmjs.com/package/@roadiehq/backstage-plugin-bugsnag, there is a PR for adding it to marketplace :)

[2021-09-24 12:29] Irma12 commented on #6236
Can I take this one? :)

[2021-09-24 13:25] Rugvip commented on #7264
Thank you for reporting! 👍

Definitely agree that any field that disappears when you switch kind should be reset or at least not applied. If it's easy to implement I think not applying those filters could be slightly nicer, but could skip that if it's a big hassle imo.

[2021-09-24 14:32] TheAschr commented on #7285
@Rugvip

We have multiple react applications behind an nginx reverse proxy on a single domain.

`https://DOMAIN/app1`
`https://DOMAIN/app2`

When I try to apply this same technique to serve backstage under `https://DOMAIN/documentation` the index.html is able to load but not any of the JavaScript files. When I look at the network requests react is looking for the JavaScript files at `https://DOMAI

[2021-09-24 14:49] K-Phoen commented on #6236
I started playing around with Backstage and Grafana here: https://github.com/K-Phoen/backstage-plugin-grafana/
PRs more than welcome if you are interested :)

[2021-09-24 15:20] #6636 closed

[2021-09-24 15:32] Rugvip commented on #7282
I'm assuming you'd in the end want to have this both in the frontend and the backend? Or at the very least in the backend.

The frontend is simple if you don't consider reloads, simply pass your own implementation of the `configLoader` to `createApp` that loads it from the remote endpoint. If you rely on the `app-backend` plugin for frontend config it doesn't handle reloads just yet, so that would

[2021-09-24 15:49] akoenig opened #7317 "Techdocs generation failing when using Docker"
## Expected Behavior

Techdocs generation should work when using the `docker` generator.

## Current Behavior

When bootstrapping a new backstage app and using the "Documentation Template" (`backstage/techdocs-core`) for creating a new documentation component, the initial build (when using the `docker` generator) fails due to volume permissions. The `mkdocs` in the container fails with:

[code]

A

[2021-09-24 15:53] #5658 closed

[2021-09-24 15:53] #5639 closed

[2021-09-24 15:53] #5732 closed

[2021-09-24 17:53] #6527 closed

[2021-09-24 17:53] #6540 closed

[2021-09-24 19:23] rodmachen opened #7318 "[Search] Add Search Modal"
## Feature Suggestion

As per the most recent Community Meetup, Expedia would like to contribute a Modal to the cadre of Search components.

This will be an iterative process with this first contribution being a basic model with only search bar, results, error page, and pagination.

## Possible Implementation

This first iteration will use all open source components.

<img width="1437" alt="Screen

[2021-09-24 19:24] rodmachen commented on #7318
WIP PR for feedback. Changeset, tests, and docs still needed.

https://github.com/backstage/backstage/pull/7316

[2021-09-24 21:38] regicsolutions opened #7319 "Jenkins Plugin - Cannot read Property 'timestamp' of null Error"
## Expected Behavior

For jobs that don't have a latest build, i am getting the following error:

## Current Behavior

I am now getting the following error:

![image](https://user-images.githubusercontent.com/6157895/134741730-1ea066d8-bc66-493f-9b29-7c9a0c524a18.png)

![image](https://user-images.githubusercontent.com/6157895/134741953-5de20856-b82d-4275-abca-9d8d4bd0b5fa.png)

When going to my C

[2021-09-24 21:45] #7319 closed

[2021-09-24 21:46] regicsolutions commented on #7319
There seems to an env issue on my end, closing this for now.

[2021-09-24 22:21] shanthisagar-dhanya-kumar-db commented on #7243
Hi. Thanks this worked. I have added this in packages/app folder and it worked

[2021-09-24 22:22] shanthisagar-dhanya-kumar-db commented on #7240
I was able to achieve it using the things mentioned under #7243 . Thanks

[2021-09-24 22:28] shanthisagar-dhanya-kumar-db opened #7320 "Ownership card gives no routeRef error after upgrading"
I have used the latest org plugin, and with the OwnershipCard there is additional implementation showing the url's for the catalog
For example in OwnershipCard.tsx we see const catalogLink = useRouteRef(catalogRouteRef); which gives the below error
Uncaught Error: No path for routeRef{type=absolute,id=Catalog}
    at useRouteRef (index.esm.js:347)
    at OwnershipCard (OwnershipCard.tsx:134)

mean

[2021-09-24 22:54] timbonicus commented on #7320
I expect you'll need to use `yarn backstage-cli versions:bump` to update catalog-related packages that produce this routeRef. The `org` plugins lists the appropriate dependency, but with a monorepo you can sometimes get referential issues from having different versions of the same package. You can check which versions are present with `yarn why @backstage/catalog-react`.

[2021-09-25 02:06] muhamadto commented on #7282
Thanks,

I think building new config loader to read from an api is something I can play with.
I believe I will need to change or implement a new config transformer for it to simulate this
[code]

However, the reloads for front end is advanced for me. Is reloading config in the front end on the roadmap?

[2021-09-25 04:18] regicsolutions commented on #7310
Couldn't you just enforce the value to be lowercase from the front-end using the built-in TextValuePicker that has this validation in place?

https://github.com/backstage/backstage/blob/8796e812e6c90583be07ee859f87721f2259d93d/packages/app/src/components/scaffolder/customScaffolderExtensions.tsx#L29

[2021-09-25 06:28] ProticM commented on #7310
Hi @regicsolutions

That is a custom extension that we do not have out of the box. By default, `TextValuePicker` has no extensions and validations if I'm not mistaken.

Another thing, the value I'm sending from the UI is the `entity name` that is being used in the YAML files metadata, therefore it must pass the entity name validation as well, meaning that I must use the built-in `EntityNamePicker`

[2021-09-25 14:11] Rugvip commented on #7243
👍, I felt it was a bit too confusing that the initial attempt didn't work, so fixing that in #7326

[2021-09-25 14:12] Rugvip commented on #7240
Glad to hear! Is it alright to close this issue?

[2021-09-25 14:14] Rugvip commented on #7254
Yeah that doesn't look right! I think the proposed solution of including all the groups in the filter would be the way to go. It's the less exciting fix since changing the behaviours of the filters could have some broader effects 😅

[2021-09-25 20:23] awanlin opened #7330 "Azure DevOps Discovery Processor for Discovering Catalog Entities"
## Feature Suggestion

Currently there is no discovery processor for Azure DevOps to find catalog entities automatically. It would be great if this feature was available

## Possible Implementation

At this point I'm not sure exactly how discovery processors work from an implementation perspective. I'd assume that we could use the Azure DevOps Code Search REST API for find the `catalog-info.yaml`

[2021-09-26 11:41] Rugvip commented on #7330
It looks like we actually already have search implemented for the [AzureUrlReader](https://github.com/backstage/backstage/blob/1fd9e6f601cabe42af8eb20b5d200ad1988ba309/packages/backend-common/src/reading/AzureUrlReader.ts#L147). It'll take care of discovering files within each repo. That means that the missing pieces is the repo discovery, which we probably want to implement similar to the [Github

[2021-09-26 21:35] madelson commented on #6592
I still think that building in a more robust approach to component naming would be valuable. Requiring name mangling to work with npm packages out of the box is pretty frustrating both in terms of setup and in terms of leading to a worse UX.

[2021-09-27 08:29] #6826 closed

[2021-09-27 09:34] Xantier commented on #714
4th time is the charm hopefully. I'll grab this and create a plugin for prom.

[2021-09-27 09:38] djamaile commented on #714
@Xantier haha I tried to do something, but in the end I couldn’t find a reason why people would use this instead of using Prometheus directly. So, I stopped working on it. Excited to see what you will cook up.

[2021-09-27 11:21] dtuite commented on #714
I have updated the assignment of this issue to reflect the recent reality.

[2021-09-27 11:27] benjdlambert opened #7337 "Create `ancestry` endpoint for an Entity"
Part of a bigger piece of work, but this has the smallest scope to get us underway with the solution for #7208.

## Feature Suggestion
- Create `/entity/by-name/kind/namespace/name/ancestry` endpoint to show the ancestry.

## Possible Implementation
Still up for debate, but something like this might work nicely.

[code]

[2021-09-27 11:28] benjdlambert commented on #7337
This would be able to power this #6973 as the `Entity` interface has the `status` on there.

[2021-09-27 12:39] Pike opened #7339 "[scaffolder-backend] Allow for multi-step temporary directories"
I'd like to keep a temporary directory around across multiple steps in a scaffolding execution.

## Feature Suggestion

For custom action sets, it'd be nice to keep disk data around from action to action. Given there's already a temp dir that's cleaned up after the step, I'd like to see a temp dir cleaned up after the template generation.

## Possible Implementation

There's a few ways to implemen

[2021-09-27 12:46] benjdlambert commented on #7246
Hey - sorry for not getting back soon on this, it's been on my list but had a lot of other stuff to do. I'd really like to try and keep the templating super simple, and not rely on the more `view` templating features that `nunjucks` supports. Feels like we would couple ourselves and templates to close to them. Maybe you could use a `custom` action instead and wrap up that in a more `nunjucks` spec

[2021-09-27 13:12] benjdlambert commented on #7310
@ProticM so we're currently working on deprecating the handlebars templating syntax from the `Template` kind, and aligning them with the nunjucks templating engine in the Actions. There's more info in this ticket here: #7268. Does it work for you to wait for the `backstage.io/v1beta3` templates to be rolled out as you'll be allowed to use `${{ parameters.blah | lower }}` there?

[2021-09-27 13:13] benjdlambert commented on #7310
Rather than us adding more features to something that's going to become the legacy way pretty soon? 👍

[2021-09-27 13:30] Rugvip commented on #7294
Alright, well then the fix is to start forwarding the client certificate via the `tlsOptions` as discussed above. Keeping this marked as helped wanted as we're not able to prioritize it right now. I'll label it as a good first issue too, so if anyone want to take this on please reach out here and we'll help fill in the gaps.

[2021-09-27 13:46] Rugvip commented on #7285
@TheAschr You should be able to use the following in your app config to support that:

[code]

[2021-09-27 14:05] ConnorDY opened #7343 "Custom fields in scaffolder templates don't work in nested dependencies (dependency of a dependency)"
## Expected Behavior

Custom scaffolder fields should work in nested dependencies (for example, a dependency of a dependency).

## Current Behavior

Custom scaffolder fields don't display as expected when used for nested dependencies.

## Possible Solution

Use recursion to check all levels of dependencies instead of just the first level.

## Steps to Reproduce

Example `template.yaml`:

[code]

I

[2021-09-27 14:37] #5802 closed

[2021-09-27 14:37] #6577 closed

[2021-09-27 15:00] alzafacon opened #7345 "backstage-cli plugin:serve not working on windows"
cli version 0.7.13
this used to work on windows. we will work on rolling back one version at a time to see when it works again

## Expected Behavior

backstage-cli plugin:serve should start up the frontend plugin.

## Current Behavior
[code]
## Possible Solution

🤷  not sure

## Steps to Reproduce

1. clone backstage on windows
2. cd plugins/welcome
3. yarn start

## Context

starting up the app c

[2021-09-27 15:32] alzafacon commented on #7345
I found that at release 2021-08-05 the cli version is 0.7.7 and yarn start still works ✔️
at the next release 2021-08-11 the cli version is 0.7.7 but yarn start fails ❌

https://github.com/backstage/backstage/compare/release-2021-08-05...release-2021-08-11
shows webpack changes were made in packages/cli that might be responsible

[2021-09-27 15:34] alzafacon commented on #7345
looks like a migration to webpack 5 might be responsible
https://github.com/backstage/backstage/pull/5292

[2021-09-27 15:34] Rugvip commented on #7345
@alzafacon well shit, that's the webpack 5 bump 😅. Thank you for reporting tho, gonna try to reproduce. Gotta say it's weird if this only is a problem for the plugin serve

[2021-09-27 15:38] alzafacon commented on #7345
yeah, even weirder is my team mates with macOS don't have this problem 🤷

[2021-09-27 15:38] ConnorDY commented on #7343
It seems this is relating to this piece of code:
https://github.com/backstage/backstage/blob/master/plugins/scaffolder/src/components/MultistepJsonForm/schema.ts#L91

If this could be updated to use recursion to check all levels of dependencies, this should solve the problem, right?

[2021-09-27 15:59] jrusso1020 commented on #6057
@andrewthauer just wanted to check but doesn't look like anyone has started on your suggestion. Would this just be something along the lines of adding this code to https://github.com/backstage/mkdocs-techdocs-core/blob/main/src/core.py#L107

[code]

And the necessary dependency? here https://github.com/backstage/mkdocs-techdocs-core/blob/main/requirements.txt

[2021-09-27 16:43] andrewthauer commented on #6057
I'm not aware of anyone else having looked at including this plugin. We are currently not using techdocs core directly, but adding  the sane lists plugin would put us one step closer to being able to.

[2021-09-27 17:57] #7345 closed

[2021-09-27 18:09] alzafacon commented on #7345
🥳
it works thanks

[2021-09-27 18:36] ProticM commented on #7310
Hi @benjdlambert I'm aware of the transition process, and I think it is good that you aim to unify templating engine and provide the same workflow in template kinds and skeletons :thumbsup:

I guess I can wait and implement a workaround :clock1: How long do you think it would take to update the templates?

In my opinion how to handle this, if it is going to be one month, and you aim to release a n

[2021-09-27 19:16] lorsatti commented on #6832
Hi @NishkarshRaj! Let me know if you need any help/feedback regarding the resolution of this issue. I'm interested in it too... 😸

[2021-09-27 20:44] Rugvip commented on #7166
@regicsolutions are there any open questions left as part of this issue or is it fine to close?

[2021-09-27 20:50] #7243 closed

[2021-09-27 21:29] jrusso1020 commented on #6057
Opened up a PR in https://github.com/backstage/mkdocs-techdocs-core/pull/41 @andrewthauer

[2021-09-27 21:31] benjdlambert commented on #7310
@ProticM so I'm expecting that we should have `nunjucks` support and will be dropping the `backstage.io/v1beta3` templates either this week or next if all goes to plan. Ideally I think we'd really like to avoid backporting features to the legacy part, and have it be more of an encouragement to upgrade rather than stay on the older version 👍

We're hoping also that the migration between the two tem

[2021-09-27 22:33] nissayeva opened #7351 "Create TokenManager interface for issuing + validating tokens"
Create a TokenManager interface in `packages/backend-common/src/tokens/types.ts`.

The interface should have two methods, `getServerToken` and `validateToken`.
The `getServerToken` method would for now take no arguments and just return a Promise with a token for backends to use for requests that need authorization. In the future we may want to pass information about the backend itself to this meth

[2021-09-27 22:39] nissayeva opened #7352 "Choose format for server token"
As a first pass for backend to backend authorization, perhaps we can create a shared HMAC key for all backends that would be accessible from `app-config.yaml`. Where to store the key itself is still an open question.

[2021-09-27 22:51] nissayeva opened #7353 "Implement TokenManager in backend-common"
Create a TokenManager implementation (name TBD..`KeyStoreTokenManager`?) using the interface defined in #7351 in `packages/backend-common/src/tokens`.

- [x] Implement getServerToken method
- [x] Implement validateToken method to support both identity and server tokens
  - [ ] Move identity-client to backend-common to use for frontend token validation
  - [ ] Decide on return type for validation (

[2021-09-27 22:57] nissayeva opened #7354 "Pass TokenManager to plugins and use where needed"
Pass the TokenManager implemented in #7353 to all plugins via the `makeCreateEnv` method. Where needed (catalog, search, etc?) attach server tokens to backend to backend requests, and validate both frontend and backend tokens on the receiving end.

Document how to migrate to using the TokenManager as well.

[2021-09-28 07:06] ProticM commented on #7310
@benjdlambert I agree with the idea of promoting the package update rather than staying behind, and it should be like that 👍

Yes, the migration from one template to another should be pretty easy and this was my point in the previous comment. I would prefer template migration instead of clearing out the custom fields that are needed to handle this scenario at the moment.

Thank you for the update

[2021-09-28 07:13] iamEAP commented on #5210
Hey folks!  Looks like the plan to tackle this is starting to coalesce in #7253 -- if you're interested in helping out, recommend joining forces in that meta issue!

[2021-09-28 11:21] #7104 closed

[2021-09-28 12:27] dtuite opened #7361 "Entities should have an optional display name"
## Feature Suggestion

I would like service metadata to include an optional display name which could be used to record a more human friendly name.

The limitations around use of whitespace, and the compactness of the table in the main service catalog, can render service names difficult to read. They're also not very human friendly due to the use of hyphens.

![Screenshot 2021-09-28 at 13 24 46](ht

[2021-09-28 12:33] freben commented on #7361
Support for this was added through `metadata.title`: https://github.com/backstage/backstage/pull/6888

What remains is to actually make use of that feature throughout the interface.

[2021-09-28 12:50] shanthisagar-dhanya-kumar-db opened #7362 "Login failed : Incorrect app origin"
This issue is related to #3223.

Basically our app is deployed on a server and the landing page shows multiple login options. We use oauth2.0 sign.
The app's url's is frontend with the webserver which just acts as a proxy.
Now, user uses webserver url to which proxies the request to the service (frontdn+backend) running on a server, clicks on the sign in page, which takes the user to the oauth2.0

[2021-09-28 14:13] emmaindal opened #7364 "[TechDocs] Custom TechDocsPageHeader"
All TechDocs pages are rendered with a header. This header includes some metadata such as siteName, siteDescription and a [set of labels](https://github.com/backstage/backstage/blob/master/plugins/techdocs/src/reader/components/TechDocsPageHeader.tsx#L55). There is a need identified to be able to customize what labels are used in the Header and therefore it would be valuable to have a way to use a

[2021-09-28 15:20] dtuite opened #7365 "Collapse overview widget cards when entity not configured"
## Feature Suggestion

The entity page should not look so messy when various annotations do not exist. I have screenshotted an example at the bottom of this issue. We are using the Snyk, Links and SonarQube plugins but they are not configured for this particular entity. I would like the page to look less messy.

There is some value in having the cards appear, even though the annotation is not set

[2021-09-28 21:58] WarlenRodrigues commented on #7155
Hi, I was looking into a good open source project to contribute to and found out Backstage (wich is used by a company I used to work) is an open source tool. Is this issue still available so I can start working on it?

[2021-09-28 22:01] WarlenRodrigues commented on #6841
Hi, is this issue still open? May I start working on it?

[2021-09-28 22:31] OscarDHdz opened #7370 "Timeout Scaffolder Log Stream"
When running Scaffolder tasks, if `backend` stops for any reason (i.e. a deploy),  the log stream never gets a "end signal" which causes the UI (tasks/:taskId) page to render the task execution as it was still executing.

![image](https://user-images.githubusercontent.com/18434722/135173939-bf66db8f-9174-455c-87e5-bd0fc4a2d128.png)

## Feature Suggestion

It would be nice if we could set a limit t

[2021-09-29 00:17] regicsolutions commented on #7166
Closing for now, need to dig into it a bit more on my end. Thanks @freben for all the help on this!

[2021-09-29 00:17] #7166 closed

[2021-09-29 02:54] kiranpatel11 commented on #7337
@benjdlambert, as commented in #7208.

Would we be able to use this relationship for "components **_generated/scaffolded-from_** the template".

We are adding a "Components" tab for the template entity, to list the components scaffolded from that particular template. It would help us know the usage/popularity and impact analysis to a template change.

[2021-09-29 03:29] san-coding commented on #7155
Sure, feel free to work on this, I have been a lot busy lately

[2021-09-29 08:39] kim5566 opened #7374 "Loading images slow down TechDocs site"
## Expected Behavior

Plain text content show up first while loading images

## Current Behavior

a blank page

## Possible Solution

could we remove Promise.all
https://github.com/backstage/backstage/blob/d39cadd9a1dbd8fa2c51deafcf2430df7fb42e3e/plugins/techdocs/src/reader/transformers/addBaseUrl.ts#L84

or at least add a progress indicator?

## Steps to Reproduce

- Assume using Recommend TechDo

[2021-09-29 09:05] dhenneke commented on #7365
Remotely related to https://github.com/backstage/backstage/issues/3781.

What I could imagine is some kind of central warning panel per entity that tells you that you are missing some recommended annotations or features. Or use a system like https://github.com/backstage/backstage/issues/2662 / https://github.com/backstage/backstage/pull/7193 to display it. Something similar to the screenshot that

[2021-09-29 09:16] dhenneke commented on #6603
One thing that came to my mind when we added Backstage to a monorepo that hosts a `System` and multiple `Component`s and `API`s is that I sometimes wish I could just say "this API should have the same documentation as its providing component" or "... as its system". I wouldn't go that far to want to have it done automatically, but we could add a `backstage.io/techdocs-ref: catalog:system:my-entity

[2021-09-29 09:42] #6519 closed

[2021-09-29 09:55] Rugvip commented on #3327
@lcarlosjr Nothing that I've heard of, @karlhaworth are you seeing any opportunity here? :grin:

[2021-09-29 11:54] #6695 closed

[2021-09-29 13:58] benjdlambert commented on #6973
Going to build this on top of our mob work #7377

[2021-09-29 14:00] haagenson commented on #3327
@lcarlosjr @Rugvip We haven't started the work of making our Apigee Plugin Shareable yet.  We definitely want to contribute it back to the open source community.  We don't have it on our roadmap just yet.  In the worst case I'll be putting it on our roadmap for review in Q1 2022.

[2021-09-29 14:41] aravindparappil46 opened #7383 "Bitbucket Cloud Discovery Getting Rate Limited"
## Expected Behavior

For integrations with Bitbucket Cloud, API rate limits should not be hit when discovery is configured.

## Current Behavior

Bitbucket Cloud REST API rate limits are hit, which prevents further scanning/onboarding of repos

## Possible Solution

Some ideas, although not sure how feasible they are:
- Configurable polling frequency through the `app-config.yaml`
- Once rate limi

[2021-09-29 16:33] kuangp commented on #6661
I'm interested in this functionality

[2021-09-29 19:55] FilipSwiatczak commented on #7383
hi @aravindparappil46 I am currently successfully working around rate limits by specifying:
[code]
in
`packages/backend/src/plugins/catalog.ts`
600 sec/10 min makes for 6 queries per hour and BB Cloud rate limit for repositories is 1000/h so 1000/6=166 would be your max number of separately called entities. Let me know if that works :)

[2021-09-30 09:12] jhaals commented on #7097
@Fox32 are running the latest catalog now? 😉

[2021-09-30 09:33] Fox32 commented on #7097
Have to handover to @dhenneke for that

[2021-09-30 10:41] ainhoaL opened #7391 "create-plugin backend should warn if backend is in the plugin id already"
## Expected Behavior

When creating a plugin with the `--backend` flag, if the id given also has a `-backend` suffix it should create the plugin with the name `plugin-backend`.

## Current Behavior

When creating a plugin with the `--backend` flag, if the id given also has a `-backend` suffix it created the plugin with the name `plugin-backend-backend`.

## Possible Solution
Either ignore the back

[2021-09-30 11:37] #7364 closed

[2021-09-30 11:37] awanlin commented on #598
Just a quick update the backend plugin was approved and merged in a few days ago. I'll be starting the frontend plugin tomorrow

[2021-09-30 12:02] freben commented on #7337
Closed by #7377

[2021-09-30 12:02] #7337 closed

[2021-09-30 12:05] freben commented on #7337
@kiranpatel11 I believe I saw that that question got answered elsewhere right, in Discord or so? Well for any other interested reader: no, this is not the same thing. This essentially exposes the chain of ancestry in the catalog database, where one entity, while being processed, emits a "child" entity that gets put into the processing queue. This relationship used to be hard to track from the outs

[2021-09-30 13:13] brondum opened #7393 "[TechDocs] Adding Video in TechDocs"
More a request for help than a bug ( i think ).
I am trying to add a video file to the techdocs section by using the `<video>` html tags.
It uploads and the videofile to the GCS bucket just fine and the link to the file seems fine in backstage, but i cant load the file. ( gives me a status code 206).

Anything i am missing?

doing something like:
[code]

## Your Environment

- NodeJS Version (v14)

[2021-09-30 14:00] dhenneke commented on #7097
But I can share some first values from our test instance:

* Catalog version: https://github.com/backstage/backstage/commit/ab2e915c6ce4d7cf35e67e277a9fdc0be78bedca (should be `^0.14.0`)

Metrics:

[code]

[2021-09-30 14:42] timbonicus commented on #7343
Another possibility I pointed out in Discord, if `definitions` were also [looked at here](https://github.com/backstage/backstage/blob/master/plugins/scaffolder/src/components/MultistepJsonForm/schema.ts#L29), then you might be able to do:

[code]

[2021-09-30 14:53] benjdlambert commented on #7155
@WarlenRodrigues assigned!

[2021-09-30 14:57] benjdlambert commented on #7370
Hmm yep, I think we did toy around with the idea of having a `heartbeat` for each of the workers, but I'm not sure that we actually implemented it yet. The idea would be that if a worker dies half way through the job, it would set the job to failed, and possibly requeue it to be picked up by another worker if possible.

[2021-09-30 15:07] benjdlambert commented on #7362
You probably want to make sure that `app.baseUrl` is set as the exact same address in the address bar when you're navigating to backstage./

[2021-09-30 15:26] freben commented on #7370
Hmmm yeah the liveness thing doesn't really cover the case of service shutdown / death.

https://github.com/backstage/backstage/blob/master/plugins/scaffolder-backend/src/scaffolder/tasks/StorageTaskBroker.ts#L90

[2021-09-30 16:14] shanthisagar-dhanya-kumar-db commented on #7362
Yes, i tried that and it worked. Thanks. And bascially had to set the backend.cors.origin to the same thing as well.
Is there any way we can configure lets say multiple cors origin url's (but not wildcard *)?

[2021-09-30 16:28] adamdmharvey commented on #7362
oops; saw you snuck in another question, apols, re-opening!

[2021-09-30 17:30] cbwilliamsnh opened #7395 "Trouble running new plugin...."
I'm trying to start backstage and am getting the following error:

$ yarn workspace example-app start
$ yarn workspace example-backend start
$ backstage-cli app:serve
$ backstage-cli backend:dev
[0]
[0] Error: No existing version was accepted for range ^0.9.3, searching through 0.9.2,0.8.4, for package @backstage/catalog-model
[0]
error Command failed with exit code 1.
info Visit https://yarnpkg.c

[2021-09-30 19:38] rv-ddeloff opened #7400 "Add Auth Provider for Atlassian Products"
## Feature Suggestion

Add a new auth provider for Atlassian products (Jira, Confluence, etc) to integrate with OAuth 2.0 apps. This would provide an avenue for developers to create plugins that are capable of interacting with Atlassian data, on the users behalf.

## Possible Implementation

Add a new auth provider in the auth-backend plugin that uses the OAuth2 passport strategy as a base.

## Co

[2021-09-30 19:53] kuangp commented on #7400
This would help enable the existing [Jira plugin](https://roadie.io/backstage/plugins/jira/?utm_source=backstage.io&utm_medium=marketplace&utm_campaign=jira) to [support OAuth auth](https://github.com/RoadieHQ/roadie-backstage-plugins/issues/184)

[2021-09-30 20:00] adamdmharvey commented on #7395
Sounds like you might have an older scaffolded version of Backstage?

Not sure if this helps, but you could give these a shot:
https://backstage.io/docs/cli/commands#versionsbump

The bump command will help get you to the new versions, along with warning you if there are any breaking changes for your app. While the check command should help fix anything if there are duplicates.  That may, or may n

[2021-09-30 20:23] fredericbonnet commented on #7391
Hey, happy Hacktoberfest! I've been following your project for some time now, and will be glad to help you on this issue.

[2021-10-01 01:42] adamdmharvey commented on #7391
Fantastic, welcome @fredericbonnet !  You'll find some good tips & tricks in the [CONTRIBUTING guide](https://github.com/backstage/backstage/blob/master/CONTRIBUTING.md), and the Discord channel is a great way to get fast answers to questions/feedback. You could also of course post back to this issue.

[2021-10-01 04:02] tszngai opened #7403 "Location should allow folder path"
## Feature Suggestion
Hi team, currently a `location` type of catalog might look like this:
[code]
From what I understand, the items under `spec.targets` must be a file path. In this case, if I want to add more targets, I will need to edit this file and commit to github. If we could allow folder path here, then we could register new targets without the need to commit to this file.

So ideally the

[2021-10-01 04:45] erikxiv commented on #7352
Some thoughts:
* We could reuse the JWT format used by the identity token, possibly with different properties. Less logic and more easy to reason about. What data to put in it can be deferred until later.
* We could reuse JWK signatures. One of the current blockers is sharing the secret among backends (auth-plugin creates and store these locally, and with a short expiration date), but a manual pro

[2021-10-01 05:08] erikxiv commented on #7351
Probably outside of scope for this time, but should it be possible to plugin different auth mechanisms? It is much simpler to build a single mechanism that all adopters use so that is likely a good option now, but there has been a few threads pondering the need for flexibility and how to manage that, such as [this comment](https://github.com/backstage/backstage/issues/5210#issuecomment-812851729).

[2021-10-01 07:22] shanthisagar-dhanya-kumar-db opened #7405 "Failed to refresh access token while using load balancer"
We have a load balancer frontend with 2 instances of our application (frontend+backend). And we use Oauth2.0 for authentication
Now when we hit the load balanced url, the first very first time it will ask us for login because the refresh token doesn't exist and we login. Let's say in this case the instance 1 is used for authentication in the backend.

After login, lets say if we manually refresh t

[2021-10-01 07:40] freben commented on #7352
Yeah the initial gut feeling is that we can start with a pre-shared static symmetric key, and then see where we need to evolve from there.

Sounds sensible to encode that as a JWK nested with a type so that we can expand on it. Something like this in `app-config`?

[code]

or of course using a `$include` from a file on disk.

The question is, should we start thinking about whether different client

[2021-10-01 07:45] freben commented on #7403
Hi! Most sources have support for locations on the form `https://github.com/backstage/my-app/catalog-folder/**/catalog-info.yaml` wherein it supports glob matching. Maybe that's something that helps out with your use case.

[2021-10-01 07:55] brondum commented on #7393
Short update, i think some of my responses was cached but now i am able to get a MIME type error. So i guess it relates to: #6015 ?

![image](https://user-images.githubusercontent.com/34370407/135585163-32593183-8b1c-419a-88e2-61bd34b563d1.png)

[2021-10-01 08:11] tszngai opened #7406 "[New Relic Plugin] Support for multi accounts"
## Feature Suggestion
Hi team, our company has about 15 new relic accounts and we would like to see if there's a way for the plugin to connect to all of the accounts.

## Possible Implementation
My thought is we could define proxy in the `app-config.yaml` this way:
[code]
And then when using the `<NewRelicPage />` element, there should be a way to provide the `options.proxyPathBase` accordingly.

[2021-10-01 08:19] tszngai commented on #7403
@freben Thanks for the tips! Did not know about this at all. It's very helpful. Thanks!

[2021-10-01 08:19] #7403 closed

[2021-10-01 08:24] shanthisagar-dhanya-kumar-db commented on #7320
Ok you can close this as I have resolved this by bumping the version

[2021-10-01 08:25] erikxiv commented on #7352
Sounds like an easy and valuable addition: config allows multiple keys, top one used to sign but the rest are accepted for validation. Also plays well with identity token validation that uses `kid` to find the appropriate key.

[2021-10-01 08:25] #7240 closed

[2021-10-01 08:26] shanthisagar-dhanya-kumar-db commented on #7088
I have resolved this by not using the authentication directly but go through the sign in page as the landing page

[2021-10-01 08:26] #7088 closed

[2021-10-01 09:06] benjdlambert commented on #7362
@shanthisagar-dhanya-kumar-db don't think so, what is your use case here? Why do you need multiple origins?

[2021-10-01 09:39] sjamidar opened #7408 "Getting Error After Catalog Service Creation"
![image](https://user-images.githubusercontent.com/85929731/135599142-aa0ad128-fbe3-44dc-8acb-b5bf501c03ca.png)

After success of Catalog Service creation's register step, We should get Repo link. but getting attached error in that.
Checked the configs, and those are proper.
Looks like react dom issue , but not sure what is the exact sure.
Can anyone please help on this.

[2021-10-01 09:44] shanthisagar-dhanya-kumar-db commented on #7362
Sorry, I just realised that having multiple cors for us requires multiple app.baseurl ( we use oauth2.0 so the origin;s will fail ) which is not possible with just one instance of application. May be a very stupid question . I will close this

[2021-10-01 09:44] #7362 closed

[2021-10-01 16:18] fredericbonnet commented on #7391
Hello again, PR #7407 should fix the issue. Working on this I've noticed that not all CLI commands had unit tests (notably `createPlugin`), let me know if that's an area where you're looking for improvements.

[2021-10-01 17:50] EugeneGohh commented on #7162
I am getting into this, will follow @Rugvip's advice.

[2021-10-01 19:06] #7320 closed

[2021-10-02 03:28] EugeneGohh commented on #7162
I followed every step in getting started section but after running `yarn build:api-docs`, I got an error saying:

[code]

[2021-10-02 07:41] Guzzler commented on #7264
I'd like to pick this up if possible @Rugvip. What approach would you recommend? Do you think clearing the filters is more consistent a behaviour or not applying them?

[2021-10-02 10:26] Rugvip commented on #7162
@EugeneGohh ah shiet, haven't seen that error during the docs build, but can happen sometimes.

Are you running at least Node.js v14 or v16? There's been some changes to the default heap size that should help you out.

[2021-10-02 12:25] Rugvip commented on #7264
I would suspect that keeping the filters intact but not applying them would provide a nicer UX when switching around, but not an expert in that area :grin:

I think it could be a good initial approach and then we see if it's simple enough to implement or if we gotta jump through a bunch of hoops

[2021-10-02 14:24] deepak-bhardwaj-ps commented on #7249
It would be nice to have the home page be more like a dashboard with dynamic widgets that user can configure. React Grid Layout could be a possible solution - https://www.npmjs.com/package/react-grid-layout.

Here is a nice demo: https://react-dashboard-demo.cube.dev/

[2021-10-02 15:24] deepak-bhardwaj-ps commented on #6528
Can we close this now as the Allure plugin is published.

[2021-10-02 19:25] #6625 closed

[2021-10-02 23:54] #6604 closed

[2021-10-03 03:38] EugeneGohh commented on #7162
I am running on Node.js v14.17.5.

[2021-10-03 03:50] EugeneGohh commented on #7162
I bumped Node.js to v14.18.0. It's the latest version of LTS. Updated to latest version, still same.

[2021-10-03 16:52] khoaHyh commented on #7162
My case was `yarn tsc` which gave me the same error. I was able to fix this on my local machine using `NODE_OPTIONS="--max-old-space-size=4096" yarn ...`.

[2021-10-03 19:07] PhakornKiong commented on #4074
I was tinkering with this for a while and noticed that there is no `Error thrown`

but the console does have a `Catalog warn`
[code]

UI wise, it does not trigger any error as well, but allows to continue to import.

I think the right behavior might be to show `refresh` instead.

[2021-10-03 19:23] PhakornKiong commented on #2566
I would love to help out on this as I'm trying to familiarize with the codebase. However, would like to know more on the direction on how to document OpenAPI spec.

[2021-10-03 20:52] OrkoHunter opened #7422 "Meta issue to track `backstage-cli install <plugin>` work"
## Context

https://github.com/backstage/backstage/pull/7233 added an experimental `install` command to `backstage-cli` which can install plugins "automagically" in a Backstage app.

As of now, installing a plugin involves one or many of the following manual steps, which can be automated -

1. Install one or more frontend packages in a Backstage frontend app
2. Install one or many backend packages

[2021-10-03 21:46] OrkoHunter commented on #6662
@sadavarterohit I wonder if you're still working on this? Give a shoutout if you need any help!

[2021-10-04 07:00] BernhardRode commented on #6841
I already tracked the issue down. The feature needs to be implement in https://github.com/mozilla-frontend-infra/react-lazylog

I've also found a possible solution but still had no time to put it up on github (and open an issue over there).

[2021-10-04 12:18] taras commented on #2566
@PhakornKiong I, unfortunately, haven't been able to work on this. If you'd like, we can talk in Discord and I can tell you what I know.

[2021-10-04 12:38] pedro-cze commented on #4932
Hi, I've never contributed to backstage, but I'd like to and this issue seems as a good starting point to me. Can I have a look at it?
Thanks

[2021-10-04 12:56] OrkoHunter commented on #4932
@pedro-cze  Sure! Assigned it to you :)

[2021-10-04 13:21] dtuite commented on #714
I have just linked [a PR which makes a prometheus plugin available for Backstage](https://github.com/RoadieHQ/roadie-backstage-plugins/pull/230). Reviews and comments welcome!

[2021-10-04 13:23] KnechtionsCoding opened #7429 "GKE K8s Plugin Requires Auth Provider, not GKE Credentials"
The k8s plugin configuration section implies a different workflow for a user when installing the k8s plugin

## Expected Behavior

The documentation on the K8s plugin setup for GKE seems to imply that setting `GOOGLE_APPLICATION_CREDENTIALS` would be enough for the kubernetes section of backstage to show up, and resources to get populated.

I shouldn't need to configure an auth provider for google

[2021-10-04 14:39] #6528 closed

[2021-10-04 14:58] benjdlambert commented on #7429
Dont think this is a bug, more a fact that we need to add support for authenticating with `GOOGLE_APPLICATION_CREDENTIALS` instead. Is this something you want to contribute?

[2021-10-04 15:10] alexcurtin commented on #2566
https://github.com/backstage/backstage/issues/7162 might be of interest.

[2021-10-04 15:15] KnechtionsCoding commented on #7429
If someone can point me in the right direction for where to contribute it as a method of auth, yes. I reported it as a bug though because the `GOOGLE_APPLICATION_CREDENTIALS` is specifically called out as the method of auth for the k8s-plugin https://backstage.io/docs/features/kubernetes/configuration#gke

[2021-10-04 15:23] benjdlambert commented on #6841
Does someone want to create at ticket on the upstream repo then?

[2021-10-04 15:27] benjdlambert commented on #6670
Can we close this as fixed with the new `scmAuth` stuff @ruvip?

[2021-10-04 15:28] benjdlambert commented on #7408
Hmm this could be because of duplications with the `catalog-react` package. Can you run `yarn why @backstage/catalog-react` and paste the output :)

[2021-10-04 15:31] benjdlambert commented on #7405
Think we need some more info here, could you do some debugging to find out what the `[object Object]` is?

[2021-10-04 15:33] shanthisagar-dhanya-kumar-db commented on #7405
The object object is as below
{
  statusCode: 400,
  data: '{"error":"invalid_grant","error_description":"Stale token"}'
}

[2021-10-04 15:47] shanthisagar-dhanya-kumar-db commented on #7405
Yes, the authentication using the two proxies work as expected and if I try to hit both the application url's manually , they work independently.
The clocks are in sync too.

[2021-10-04 17:06] heatheralee commented on #6914
Hi @freben! Yes, this is. I'll take a look at creating an MR. Thanks! 😸

[2021-10-04 17:14] freben commented on #6914
Nice, assigned!

[2021-10-04 17:25] iamEAP opened #7436 "[Analytics] Manage <AnalyticsContext> via version-bridge"
## Feature Suggestion

In order to support use of `<AnalyticsContext />` across different versions of `@backstage/core-plugin-api`, we should manage `<AnalyticsContext />` via version-bridge

## Context

Follow-up to #6677.

[2021-10-04 17:50] cmpadden commented on #6662
I'd be happy to help out with this one. Let me know if you'd like to collaborate @sadavarterohit!

In the meantime, I'll take a look at the code and attempt to come up with an implementation.

[2021-10-04 20:00] jeremyguarini opened #7440 "file path with path parts containing same value causes FileExplorer.tsx to exhaust call stack in browser"
When viewing a code coverage report which contains a file whose path contains path parts that contain the same word will result in the browser having a stack trace indicating the maximum call stack size was exceeded.

## Expected Behavior

Viewing the code coverage report in the browser should not result in stack trace.

## Current Behavior

Viewing a code coverage report may result in call stack

[2021-10-04 20:00] cmpadden commented on #6662
Hey all! I have an initial solution to this in pull request #7439.

This is actually my first time working with the `commander` library, and I have some questions. At first, I tried to use `program.arguments('[path]')`, but struggled to get that to work and ended up accessing the argument directly from `cmd.args[0]`. Because of this, the argument is not described when running `--help`. This doesn'

[2021-10-04 20:10] codingdiaz opened #7441 "AboutCard in plugin-catlog not showing Tech Docs Link when Annotation is Set"
## Expected Behavior

When I set this annotation `backstage.io/techdocs-ref`, I should get a link to the tech docs on the AboutCard component.

## Current Behavior

The link is disabled when this annotation is set.
![Screen Shot 2021-10-04 at 4 06 12 PM](https://user-images.githubusercontent.com/20445982/135917539-27d11f49-4296-40c7-ae5c-e5fa10abbde1.png)
![Screen Shot 2021-10-04 at 4 06 27 PM](ht

[2021-10-04 20:46] adamdmharvey commented on #7441
* Can you include the entire catalog log info yaml, even if partially redacted, so we can help see if it's in the correct place?
* Do the docs show up in the Docs left navigation menu as an existing documentation and only not in the AboutCard? (or does it not show up anywhere, in which case it's more likely just something wrong with the core annotation definition itself)

[2021-10-04 20:47] adamdmharvey commented on #7441
The relevant info is here, but as you've noted, the value is similar to that which is in this doc:
https://backstage.io/docs/features/software-catalog/well-known-annotations#backstageiotechdocs-ref

[2021-10-04 22:02] iamEAP commented on #7441
Hey @codingdiaz, there was a change recently that now requires that you bind this route in your App.tsx. Can you make sure you've made the following change?

https://github.com/backstage/backstage/blob/master/packages/create-app/CHANGELOG.md#0338

[2021-10-04 22:02] dtuite commented on #4123
@OrkoHunter What is the concern with "TechDocs loading an external Javascript from its storage and executing it"? Isn't that what most Backstage plugins do? I'm not an engineer so I'm probably not understanding something sensible 😊

[2021-10-05 00:20] chuliang014 opened #7442 "Error: The migration directory is corrupt"
Hi, I'm currently using the AWS RDS postgre, but I'm stuck with the problem below.

![image](https://user-images.githubusercontent.com/56138162/135941393-ab2a2344-1640-40c5-a367-d8eba3d5500c.png)

[2021-10-05 03:27] sadavarterohit commented on #6662
Hey, I'm sorry.
I couldn't figure out how to test my solution, so I entered a slump.

Next time, i shall ask for help.

[2021-10-05 04:24] dehamzah opened #7443 "Override Icons used in Backstage App"
There are always use cases to make the backstage app theming fit to the company design guidelines, one of which is the icon set that is used. At the moment backstage use heavily on material ui icons. Some of the components had the option to override the icons, some are not.

Some examples of the icon that can be changed:
- [sidebar item](https://github.com/backstage/backstage/blob/b738adebe3a1e970

[2021-10-05 04:31] dehamzah commented on #7443
I am creating this issue first before making the PR, checking if you guys are aligned with this or not? The PR that I am planning to create is for the sidebar items first, and maybe other core components, that are possible to override.

Or the backstage team already had the plan to make the theming (especially on icons), to be more customizable?

[2021-10-05 05:37] N-Shar-ma commented on #7440
I'd like to fix this bug!

[2021-10-05 07:51] Rugvip commented on #7199
This was fixed by #7413

[2021-10-05 07:51] #7199 closed

[2021-10-05 07:54] OrkoHunter commented on #6662
No worries @sadavarterohit !

[2021-10-05 09:11] brondum commented on #7393
Okay ignore this one, it was just me who was a complete moron. the builder gave me the following error:
[code]

Which could be solved by adding a proper path to the file index file in the nav.

Now i am back to the original error, with videos not loading. Anyone experienced this? and could be something i have to add to mkdocs ?

[2021-10-05 10:00] #7361 closed

[2021-10-05 10:44] ProticM opened #7449 "[RFC] User kind location"
**Status:** Open for comments

## Need

Currently, all provided examples regarding the `Group` kinds (and users related to it) location is such that each group is in the single file together with the users that are members of that particular group. This is perfectly fine in some scenarios, but the problem comes with the situation when a single user belongs to multiple groups/teams.

I'm aware that

[2021-10-05 12:31] #6301 closed

[2021-10-05 14:22] #7436 closed

[2021-10-05 14:31] Madebymaurice opened #7452 "add actions props to the ApiExplorerPage like in the CatalogIndexPage"
In the `CatalogIndexPage`, you've had the `columns` and `actions` props, which help to customize the columns and the actions in the `CatalogTable`. In the `ApiExplorerPage` there is also the `columns` props available but not the actions one.

## Feature Suggestion

Just like in the `CatalogIndexPage` add the `actions` props in the `ApiExplorerPage`

## Possible Implementation

[code]

## Context

[2021-10-05 14:59] sjamidar commented on #7408
Output of above command :
yarn why v1.19.0
[1/4] Why do we have the module "@backstage/catalog-react"...?
[2/4] Initialising dependency graph...
[3/4] Finding dependency...
error We couldn't find a match!
Done in 8.47s.

[2021-10-05 15:03] benjdlambert commented on #7408
Sorry mybad. `yarn why @backage/plugin-catalog-react`

[2021-10-05 15:59] hassenius opened #7454 "GITLAB_BASE_URL not honoured by gitlab auth"
After following the instructions at
https://backstage.io/docs/auth/gitlab/provider
and https://backstage.io/docs/auth/#adding-the-provider-to-the-sign-in-page (but adjusted for gitlab)

I've performed the following steps:
$ export GITLAB_BASE_URL="https://gitlab.<ourcompany>.com" for our enterprise installation
$ yarn dev

## Expected Behavior
Opening localhost:3000 brings me to `https://gitlab.co

[2021-10-05 16:20] sjamidar commented on #7408
Same here as well
yarn why v1.19.0
[1/4] Why do we have the module "@backage/plugin-catalog-react"...?
[2/4] Initialising dependency graph...
[3/4] Finding dependency...
error We couldn't find a match!
Done in 7.56s.

[2021-10-05 16:22] hassenius commented on #7454
In the end figured that actually need to set
[code]
to our baseUrl in `app-config.yaml`

Wasn't super intuitive, but at least it brings me to the right place now.
Closing this

[2021-10-05 16:22] #7454 closed

[2021-10-05 16:44] dcacenabes commented on #6258
Hi there! Not sure if this is the right place to report this. We were giving a shot to the XCMetrics plugin for backstage, followed the installation instructions, but we get an error when accessing the plugin page from our web browser.
The error is the following:
Cannot read properties of null (reading 'scrollWidth')

I have been testing with different versions, and the last one to work was 0.2.2.

[2021-10-05 19:07] awanlin commented on #6258
@dcacenabes I don't know much about this specific plugin but I do know I've seen this same error with our custom plugins when using an older version of @backstage/plugin-catalog-react

[2021-10-05 19:09] awanlin commented on #6258
But it doesn't look like that's being used in this plugin. Could still be a package version issue though, might make sense to log a separate issue for this

[2021-10-05 22:47] fengypants opened #7464 "[microsite] Move news banner to top of homepage"
## Feature Suggestion

Move the news banner higher up on the homepage, just below the navigation bar.

Also, update it with recent product announcements about Backstage Software Templates and TechDocs.

## Possible Implementation

Suggested messaging for the banner:

🚀**Feature updates! [Software Templates](https://backstage.io/blog/2021/07/26/software-templates-are-now-in-beta) and [TechDocs](htt

[2021-10-06 06:34] benjdlambert commented on #7408
Can you ping me on discord and we can go through. It should be backstage not backage I updated the spelling?

[2021-10-06 07:53] punkle opened #7466 "Support RDS login via AWS IAM role"
The AWS RDS database service provides the ability to request a temporary (15 min) password that can be used to login to a mysql or ps database. https://aws.amazon.com/premiumsupport/knowledge-center/users-connect-rds-iam/

Knex also provides the ability to configure the password dynamically and expire a configuration after a period of time.

As I understand it, now it is only possible to configure

[2021-10-06 08:20] freben commented on #7449
I'll start by saying that the examples are just that - examples just to have some data in the example deployment. They are very small scale and won't work nicely in the same arrangement for most real life scenarios.

Most adopters ingest their users and groups from an external source, for example LDAP, rather than using YAML files. See the LDAP org data [documentation](https://backstage.io/docs/in

[2021-10-06 08:24] dcacenabes commented on #6258
Yeah, I checked the package.lock and I'm using latest @backstage/plugin-catalog-react (0.5.1)
Thanks for your suggestion, I'll report this via issue in the repo!

[2021-10-06 08:26] rodiongork-genestack opened #7467 "Please document how to access Config in frontend on createApp"
Sorry if I'm just missing something obvious. In the `createApp` call in `App.tsx` I would like to check configuration for configured authentication methods, so that I can pass proper array here https://github.com/backstage/backstage/blob/master/packages/app/src/App.tsx#L98

I see `configApiRef` is in `apis` but can't seemingly access this properly.

It would be great to have some example/clarifica

[2021-10-06 08:42] Rugvip commented on #7467
The config isn't loaded yet at the point of calling `createApp`, that happens a bit later. What you can do though is to access the config inside the `SignInPage` component using `useApi`. So something like this:

[code]

[2021-10-06 10:13] freben commented on #7449
Are you not in the position that you have a stable and settled org hierarchy yet? That's actually pretty common.

Yes, I do not foresee any problems with referring to a larger number of individual targets. Just that the Location file gets pretty large and unwieldy to edit. But sounds like you may have tooling in place that helps with that.

It could be that you end up importing the things you _do_

[2021-10-06 10:34] rodiongork-genestack commented on #7467
@Rugvip thanks for such a quick reply!

Truly, at this place config seems to be accessible, but lacking `auth` part. May here be some secret about it or it is more likely my configs are misconfigured?

[code]

prints for me ` app,organization,backend,integrations,opsgenie,sentry,techdocs` while I'm sure I have `auth` in config too

[2021-10-06 10:53] Rugvip commented on #7467
@rodiongork-genestack ah, that's because the auth config is not [visible](https://backstage.io/docs/conf/defining#visibility) by default. I would actually recommend basing the chosen sign-in provider on something else than whether they're present in `auth.providers`, as there are other reasons than sign-in that you might want a given provider. Could be simplest to just define your own local config

[2021-10-06 11:22] ntgussoni opened #7470 "Entity error visual indicator on catalog list page"
As per https://github.com/backstage/backstage/pull/6586 we now have errors being displayed on the entity page.
That's nice, but you have to go to the entity to realize it.

## Feature Suggestion

I'd be great if we could have a small visual indicator in the catalog list as well, so that you can see at first glance that something is wrong.

![unknown (1)](https://user-images.githubusercontent.com/1

[2021-10-06 12:15] freben commented on #7449
Right, start out like this and then see where it takes you. It just feels like it risks becoming a case of "reinventing active directory or similar product, but more bespoke and fewer features and guarantees" :) I see where you are going with it, and sometimes it can be enough. Just that, you know, there's compliance and legal and practical matters of all kinds that may come into play when it come

[2021-10-06 12:15] #714 closed

[2021-10-06 12:55] freben commented on #7449
Yeah we all live in a reality and things aren't always yet in their dream state! No worries.

Feel free to close the issue or continue discussion as you see fit.

[2021-10-06 13:07] freben commented on #7449
No, there is no merging. Having a duplicate entity will just lead to a conflict such that the catalog refuses to even consider accepting the second one. This is a security feature to prevent takeovers.

Luckly, groups can have members, and users can be memberOf. So you can express things from either end with the same outcome.

[2021-10-06 13:12] ProticM commented on #7449
I understand, but in that case, I do not see a way how to link the user and a group if both the entities are already registered in the catalog (from the external source) without having `members` or `memberOf` filled in 🤔

[2021-10-06 14:23] #7467 closed

[2021-10-06 15:01] goober commented on #6033
Another issue that blocks this: https://github.com/IonicaBizau/git-url-parse/issues/133

[2021-10-06 19:40] awanlin commented on #598
Another update: I've just submitted the PR for the frontend portion of the Azure DevOps plugin - #7484. This will show the top n builds for a given repo. Once that's approved and merged the next item on my list will be showing Pull Requests

[2021-10-07 08:31] matchaxnb opened #8102 "[TechDocs CLI] awsS3 publisher does not support AWS_CONFIG role_arn, preventing sts:AssumeRole and publishing to bucket"
Hey there,

The awsS3 publisher does not support loading a profile from the AWS config.

Our setup uses gitlab-ci runner pods in an EKS cluster. Each k8s pod is assigned an IAM role through kube2iam. That role can then use AWS STS to assume another role in workload accounts.

I want to push docs for ongoing development projects to a s3 bucket that resides in the dev workload AWS account, and docs

[2021-10-07 09:22] seizadi opened #7490 "Trying to create a Docker Container to Run Front-End with app-config configurable"
## Feature Suggestion
When I build the Front-End using the instructions here:
https://github.com/backstage/backstage/tree/master/contrib/docker/frontend-with-nginx

It pulls the app-config.yaml content and it has some items that should be configurable.
e.g.
[code]

## Possible Implementation

Option 1 - We could have a unique resource for front-end configuration that can be read when front end loa

[2021-10-07 12:02] #7408 closed

[2021-10-07 12:30] shvmbisht opened #7494 "The footer navigation in tech docs is not responsive on the pinned state of the sidebar"
## Expected Behavior
The footer navigation in tech docs should be responsive irrespective of the pinned/unpinned state of the sidebar.

## Current Behavior
The footer navigation in tech docs is not responsive on the pinned state of the sidebar. It is responsive for the unpinned state of the sidebar.

### Unpinned sidebar view
![unpinned-sidebar](https://user-images.githubusercontent.com/19923220/1

[2021-10-07 13:36] #6973 closed, assigned to nobody

[2021-10-07 15:13] shanthisagar-dhanya-kumar-db opened #7498 "Error: Auth refresh request failed, Unauthorized after Oauth2.0 token expired while user browses catalog page"
We use OAuth2.0 for authentication and the refresh token expiry period is set as per the provider.
When the user is idle for more then set expiry time, and when they try to fetch any page ( without doing any browser refresh ), instead of redirecting them back to the Sign In page, it displays the error message on the screen "Error: Auth refresh request failed, Unauthorized".
In the developer consol

[2021-10-07 18:43] iamEAP opened #7502 "[Analytics] Add support for user-level info"
## Feature Suggestion

We introduced the Analytics API, hoping to provide visibility into plugin usage metrics.  The initial version of the API has no default mechanism for capturing user info. Consequently, it's not currently possible to aggregate usage _by user_ (e.g. to be able to derive metrics like "monthly active users" for Backstage as a whole, or on a plugin-by-plugin basis).

...We should

[2021-10-07 19:24] tszngai opened #7503 "[New Relic Plugin] Need to handle pagination"
## Expected Behavior

The API call should return all APM data.

## Current Behavior

The API call currently only fetches for page 1 (when there are many applications in the account). In the case our our company, we have 109 pages in total. Only being able to show a portion of it is not very useful.

## Possible Solution

Since the number of pages might be huge, we might need some sort of caching m

[2021-10-07 19:30] freben commented on #7490
If you use the nginx base image that we have in the repo, it has a launch script that makes it possible to use `APP_CONFIG_*` [environment overrides](https://backstage.io/docs/conf/writing#environment-variable-overrides). They get injected at startup. Maybe that could be a strategy for your needs.

Apart from that, you might also look into either serving the frontend through the app-backend plugin

[2021-10-07 20:35] hostsamurai commented on #7211
We have a similar idea that is centered around being able to leverage actions
anywhere. Much like this proposal, we were thinking of having either a modal or
a page be a means for kicking off the associated scaffolding tasks.

In terms of the UI involved, I'm wondering if it would be preferable to
redirect users to the `/create` page rather than have a modal to interact. An
advantage of the modal

[2021-10-07 20:36] punkle commented on #7466
I haven't looked into more than reading about how it might be done. I wasn't totally sure it wasn't already possible. I have some time tomorrow so I might take a look then and see if I can put together a patch.

[2021-10-07 21:35] WarlenRodrigues commented on #7155
Thanks! I'm working in this issue with some friend to a college class based on open source communities and development. They're @manucirne and @gabrielnoal . We're facing some problems to set the jenkins plugin working and see the builds list. We've searched a lot and did not found any backstage/plugin developer's doc that shows how to connect it effectivelly. Can we get some support/direction on

[2021-10-07 22:51] Rugvip commented on #7199
@kim5566 that is intended. The intent of the design is that entities should only be marked as orphaned if we know that they are truly missing, not if there are processing errors.

[2021-10-08 06:52] ProticM commented on #7449
This part is clear, but it is not my case unfortunately.

Kinda 😄 For groups and users (mostly for users), I have some options, but the source data for other kinds is an excel sheet

Yes, this is the final solution I'm going for after gathering information and discussing various approaches. The user data that we have in the active directory and in our HR system will be ingested, the missing gaps w

[2021-10-08 07:47] ntgussoni commented on #7470
Hey, thanks for your reply.
If I go to the catalog, the errors are present in the payload for each item on the list,  perhaps we are talking about two different things?
![image](https://user-images.githubusercontent.com/10161067/136518172-c072d205-65ed-404d-b883-cf7a5ce7aef3.png)

My idea is just to display this marker if there are errors present in the payload, maybe a separate filter as well, no

[2021-10-08 08:22] julioz opened #7513 "Add 'prefix' flag to backstage-cli versions:bump"
## Feature Suggestion

Besides `@backstage` dependencies, I believe it would be very useful for the community to be able to reuse the logic in `backstage-cli versions:bump` (and potentially `versions:check` too) in order to bump other dependencies. Namely, I am interested in the `@roadiehq` plugin bumps.

## Possible Implementation

I see the CLI command filters out dependencies to bump by [filter