[2020-02-09 15:18] stefanalund opened #101 "Failed to install deps"
<img width="1552" alt="Screenshot 2020-02-09 at 16 17 55" src="https://user-images.githubusercontent.com/190856/74104722-cce4b500-4b57-11ea-9782-ed8a75b3c942.png">

[2020-02-14 15:50] alde opened #104 "Makefile only supports MacOS"
For a properly nice open source project I think the makefile should support other platforms, or at the very least it should be documented what tools are needed to install.

[2020-02-17 09:08] jdwelch opened #105 "Design in the open"
We should set permissions on our Figma files to world-viewable and allow public comments

[2020-02-28 11:14] stefanalund opened #119 "Error when running `yarn start`"
[code]

[2020-02-28 11:23] stefanalund opened #120 "Simplify step after plugin scaffolding"
I don't really understand what this means `Run yarn start in the plugin directory to start it`:

<img width="570" alt="Screenshot 2020-02-28 at 12 21 44" src="https://user-images.githubusercontent.com/190856/75544809-0147e480-5a25-11ea-83ec-7e235685c827.png">

Maybe `cd` into that newly created repo?

[2020-02-28 11:30] stefanalund opened #121 "Yarn start not working in my newly created plugin"
<img width="752" alt="Screenshot 2020-02-28 at 12 29 45" src="https://user-images.githubusercontent.com/190856/75545243-13765280-5a26-11ea-87c7-e8fa30dcf28f.png">

[2020-02-28 11:35] stefanalund opened #122 "Automate adding of new plugin"
Any reason why these steps could not be automated? I don't see any situations where you create a new plugin and don't want to try it out.

<img width="910" alt="Screenshot 2020-02-28 at 12 33 44" src="https://user-images.githubusercontent.com/190856/75545467-a7481e80-5a26-11ea-9ca0-f050fe4d8021.png">

[2020-02-28 12:00] stefanalund opened #123 "Strange files in packages"
Should these really be here? @Rugvip

<img width="638" alt="Screenshot 2020-02-28 at 12 57 29" src="https://user-images.githubusercontent.com/190856/75546899-f6438300-5a29-11ea-9785-b45d01b94280.png">

[2020-02-28 12:04] stefanalund opened #124 "Inconsistent packages names"
<img width="386" alt="Screenshot 2020-02-28 at 13 03 26" src="https://user-images.githubusercontent.com/190856/75547248-c5b01900-5a2a-11ea-858c-0df127ac4d46.png">

Also, do we need to preface all plugin names with `plugin-`?

[2020-02-28 12:48] #119 closed, assigned to nikek, soapraj, freben, Rugvip

[2020-02-28 16:49] stefanalund opened #126 "Theme: H3 is bigger than H2"

[2020-02-28 16:53] stefanalund opened #127 "Plugin layout requires extra styling"
Custom styling is required for a plugin to render correctly with a header and content:

[code]

You should not need divs with custom styling. This should all be taken care of by the core components such as `Page` and `Header`.

[2020-02-28 20:13] stefanalund opened #129 "Settle on proper font and implement"

[2020-02-28 20:14] #101 closed, assigned to nobody

[2020-02-29 13:07] stefanalund opened #132 "Figure out story for icons"
Can we use free versions of icons8 and reuse our internal wrappers for those?

[2020-02-29 13:16] stefanalund opened #133 "DataGrid has commercial license"
Replace internal implementation of DataGrid with some other open alternative. Having a simple-to-use grid component is essential for easy development.

[2020-02-29 17:14] stefanalund opened #134 "Broken plugin layout"
The following code does not render correctly:

[code]
<img width="1552" alt="Screenshot 2020-02-29 at 18 12 11" src="https://user-images.githubusercontent.com/190856/75611933-36386200-5b1f-11ea-99ab-4490b8a13652.png">

[2020-02-29 18:08] stefanalund opened #135 "Fix Homepage time zones"
Use world wide time zones instead of Spotify focused.

[2020-03-01 10:09] stefanalund opened #137 "Re-introduce Bursts in headers"
Add new bursts that are not Spotify official ones, but still give the same rich feeling.

[2020-03-02 09:07] stefanalund opened #138 "Site configuration"
Introduce a site config file ([example](https://github.com/spotify/backstage-microsite/blob/master/website/siteConfig.js)) so that people deploying Backstage can customize things like:

* Site name (everyone may not want to use "Backstage")
* Site logo
* Proxy URLs etc
* Timezones for Homepage headers
* GitHub URL
* ...

[2020-03-02 09:56] stefanalund opened #139 "Setup CODEOWNERS for new plugins"
Configure CODEOWNERS and define how external (non-Spotify team) can add parts of the repo.

[2020-03-02 09:58] jdwelch opened #140 "Create a social media image for this repo"
From repo Settings:

[2020-03-02 14:14] #104 closed, assigned to nobody

[2020-03-02 17:59] stefanalund opened #141 "Add metadata to plugin scaffolding"
Generate `plugin-info.yaml` or similar.

**Include following metadata:**
* Company name
* Author
* Description
* ...

[2020-03-03 13:07] #124 closed, assigned to nobody

[2020-03-03 19:24] stefanalund opened #147 "Simplify plugin creation script"
Currently `yarn && yarn create-plugin`. Couldn't `yarn create-plugin` run the same thing as `yarn` so that it can be removed?

[2020-03-04 11:53] #135 closed, assigned to nobody

[2020-03-04 14:30] #122 closed, assigned to nobody

[2020-03-04 14:31] #121 closed, assigned to nobody

[2020-03-04 14:32] #120 closed, assigned to nobody

[2020-03-04 19:01] stefanalund opened #158 "Change theme for a newly created plugin"
Don't use the Home theme.

[2020-03-05 09:52] stefanalund opened #161 "Pick a default table component"
Possible choice: https://github.com/mbrn/material-table

[2020-03-05 10:07] #134 closed, assigned to nobody

[2020-03-05 10:12] stefanalund opened #164 "Cleaning up a plugin doesn't work"
<img width="719" alt="Screenshot 2020-03-05 at 11 12 17" src="https://user-images.githubusercontent.com/190856/75971567-3dba8b00-5ed2-11ea-8827-298f088bb1fd.png">

[2020-03-05 11:08] stefanalund opened #167 "Detail workflow for plugins that are not open source"
So I create a plugin and it gets added to the main app. What if this plugin should not be open sourced? How do we I move it to an internal repo and stil use it in the main Backstage app?

This needs to be documented, and ideally supported in the CLI.

[2020-03-05 11:14] bih opened #169 "Broken flow for plugin"
See console output

[code]

[2020-03-05 11:56] stefanalund opened #170 "Design a nicer 404 screen"
![Screenshot 2020-03-05 at 12 55 28](https://user-images.githubusercontent.com/190856/75979373-a90b5980-5ee0-11ea-9fee-d4d43d509708.png)

[2020-03-05 12:29] #129 closed, assigned to jdwelch, katz95

[2020-03-05 12:48] #158 closed, assigned to nobody

[2020-03-06 08:55] #133 closed, assigned to nobody

[2020-03-06 09:07] #126 closed, assigned to nobody

[2020-03-06 09:07] #123 closed, assigned to nobody

[2020-03-06 09:45] #147 closed, assigned to nobody

[2020-03-06 13:05] stefanalund opened #180 "Incorrect styling of tables"
Today:
<img width="688" alt="Screenshot 2020-03-06 at 14 00 16" src="https://user-images.githubusercontent.com/190856/76085745-f0621a80-5fb2-11ea-8d6d-b075308debd9.png">

Should be (without the table header -- which is broken right now):
<img width="521" alt="Screenshot 2020-03-06 at 14 04 11" src="https://user-images.githubusercontent.com/190856/76085987-754d3400-5fb3-11ea-824a-9c9884bc8c53.png">

[2020-03-07 13:17] #169 closed, assigned to nobody

[2020-03-07 13:17] #164 closed, assigned to nobody

[2020-03-07 13:25] stefanalund opened #190 "No progress indicator during plugin creation"
I do not seem to get the same visuals as others when creating a plugin. There is no progress indicator and some emojis seems to be missing:

<img width="1180" alt="Screenshot 2020-03-07 at 14 21 05" src="https://user-images.githubusercontent.com/190856/76144331-5fa54080-607f-11ea-9317-4e7cd36fdde6.png">

[2020-03-07 20:45] #127 closed, assigned to nobody

[2020-03-07 21:33] stefanalund opened #193 "Configure dependabot?"
https://github.com/marketplace/dependabot-preview

[2020-03-08 18:53] stefanalund opened #197 "De-emphasize backend in README"
Backend parts are not done yet. No need to have them in the beginning of the README.

[2020-03-09 08:26] #197 closed, assigned to nobody

[2020-03-09 12:08] #137 closed, assigned to jdwelch, katz95

[2020-03-09 13:08] leemills83 opened #203 "No Validation on the plugin creation script"
At present, there is no validation on the plugin ID when creating a plugin on the command line.
I was able to create plugins with names:

- $ &&!@#%!#%SD_-?><~+
- ~

[2020-03-09 13:38] Rugvip opened #204 "Support asset bundling for plugins built with cli"
There's no way to include static assets in plugins right now

[2020-03-09 13:40] Rugvip opened #205 "Add tests to ensure that plugin scaffolding and build scripts don't break"

[2020-03-09 13:41] Rugvip opened #206 "Replace home-page plugin with a welcome page plugin the helps developers get started"

[2020-03-09 13:45] Rugvip opened #207 "Documentation for helping developers get started"

[2020-03-09 13:55] Rugvip opened #208 "Add ApiProvider to core"

[2020-03-09 13:56] Rugvip opened #209 "Port page theming to typescript and define theme schema"

[2020-03-09 13:58] Rugvip opened #210 "Make src-relative imports work, e.g. components/Button"
Right now imports always need to be relative. Setting path/rootDir params in tsconfig works for the compiler, but produces broken build output.

[2020-03-09 13:59] Rugvip opened #211 "Add e2e test for app that verifies that the welcome page can load"

[2020-03-09 14:00] Rugvip opened #212 "Add test coverage tooling"
It is useful for packages to be able to see their own test coverage, and to enforce limits on it.

[2020-03-09 14:02] Rugvip opened #213 "Add a minimal guide for writing plugins"
Should be as forwards-compatible as possible. Few references to files etc.

- [ ] Update architecture image

[2020-03-09 15:43] Rugvip opened #215 "Reset package versions back to 0.x"
Better signal the alpha stage by staying below 1.0.

We need to reset versions back to 0.1.0 or similar, TBD, and unpublish all npm packages with higher versions.

[2020-03-09 19:03] #193 closed, assigned to nobody

[2020-03-10 14:11] stefanalund opened #224 "Add a CONTRIBUTING file"
Example: https://github.com/spotify/scio/blob/master/CONTRIBUTING.md

[2020-03-10 14:37] #205 closed, assigned to Rugvip

[2020-03-11 08:49] marcuseide opened #230 "Publish a hello world content to the microsite to verify that ssl is working"

[2020-03-11 08:54] #230 closed, assigned to Rugvip

[2020-03-11 10:00] #213 closed, assigned to marcuseide

[2020-03-11 11:05] #215 closed, assigned to freben

[2020-03-11 11:13] #211 closed, assigned to nobody

[2020-03-11 14:28] #180 closed, assigned to nobody

[2020-03-11 14:30] stefanalund opened #232 "Update architecture image in README"
- [ ] Visualise project roadmap and which parts are available now
- [ ] Don't use REST API -- only REST

[2020-03-12 07:57] freben opened #234 "Add and enforce copyright/license headers"
We need to have Apache license headers at the top of all relevant files, and we should have lint rules enforcing their use.

https://backstage.spotify.net/docs/foss/guides/releasing/
http://www.apache.org/licenses/LICENSE-2.0#apply

one possible solution:
https://github.com/nickdeis/eslint-plugin-notice

which was successfully used here and recommended by the repo owner:
https://github.com/spotify

[2020-03-12 08:28] stefanalund opened #235 "Update overview picture and roadmap in README"

[2020-03-12 08:38] freben opened #236 "Unbreak e2e test: can't import cli"
The e2e tests currently fail
https://github.com/spotify/backstage/runs/500338208

because of #215

`error Couldn't find package "@spotify-backstage/cli@^1.2.0" required by "@spotify-backstage/plugin-test-plugin@0.0.0" on the "npm" registry.`

lerna won't update this for us. Let's update the scaffolder to inject its own current package version instead.

https://stackoverflow.com/questions/9153571/i

[2020-03-12 10:17] #235 closed, assigned to stefanalund

[2020-03-12 11:49] stefanalund opened #240 "[Plugin] PagerDuty"
Create (port) a plugin for PagerDuty. It should primarily serve as an example of a Backstage integration.

[2020-03-12 12:37] #234 closed, assigned to freben

[2020-03-12 13:22] #232 closed, assigned to stefanalund

[2020-03-12 22:29] freben opened #249 "Switch to react-router 6"
RR6 is currently in alpha but its design is relevant to how we would like to structure the app.

[2020-03-13 07:18] stefanalund opened #250 "Example plugins"
Create more example plugins showing typical infrastructure use-cases. Possible examples include:

- [ ] Open API / Swagger view for services
- [ ] PagerDuty (see #240)
- [ ] Google Cloud Project creation
- [ ] Show open pull requests for Backstage on GitHub
- [ ] GitHub Actions
- [ ] Stack Overflow - unanswered / new questions about backstage
- [ ] Kube Web View - https://github.com/hjacobs/kube-w

[2020-03-13 08:46] #209 closed, assigned to soapraj, Rugvip

[2020-03-13 10:41] #204 closed, assigned to soapraj

[2020-03-13 14:18] nikek opened #255 "Showcase Backstage react components with Storybook"
This would act as reference documentation for reusable react components built for Backstage.

Tasks:
- [x] Integrate Storybook in the project (done: #350)
- [x] Setup publishing to storybook.backstage.io during CI (https://github.com/spotify/backstage/issues/365)
- [ ] Add documentation about Storybook and how to contribute

Once these are done we can start tracking the individual components that

[2020-03-14 08:15] JimHaughwout opened #258 "Share some roadmap info"
In our **README** *Overview*, we talk about things that are "not release yet". This will generate questions and interest from others.

I know we want to work with others to create these. It might be useful to have a section or issue area that shows a *Strategic Backlog* and lightweight *Roadmap*, including requests to partner with us on these, so that people can see what is coming

#question #road

[2020-03-14 14:51] #207 closed, assigned to nikek

[2020-03-15 18:30] stefanalund opened #260 "Gallery of existing Plugins"
Create a gallery of existing Plugins that someone deploying Backstage can use in their installation. The gallery should probably live on [backstage.io](https://backstage.io).

Good example from Grafana:  https://grafana.com/grafana/plugins

![Screenshot 2020-03-15 at 19 30 36](https://user-images.githubusercontent.com/190856/76707943-7c7eeb00-66f3-11ea-8e16-a632256802eb.png)

[2020-03-15 18:56] #206 closed, assigned to nikek

[2020-03-15 19:54] stefanalund opened #261 "Improve contrast in default plugin header"
The pattern in the main plugin header gradient is hardly visible:

![Screenshot 2020-03-15 at 20 53 38](https://user-images.githubusercontent.com/190856/76709455-2e6fe480-66ff-11ea-99af-d71b8388fdcc.png)

[2020-03-16 08:25] stefanalund opened #264 "Fix security vulnerability warning"
https://github.com/spotify/backstage/network/alerts

[2020-03-16 08:50] nikek opened #265 "Hamburger menu for microsite"

[2020-03-16 09:01] #236 closed, assigned to Rugvip

[2020-03-16 10:05] nikek opened #266 "Style header according to mock, while keeping the default styling for the blog header."

[2020-03-16 15:34] katz95 opened #270 "Fix opacity on illustration in "Developers are People, Too" section"
The opacities for the illustration in the "devs are people too' section is fainter than it should be on the website version, and in the mobile version, there's some interesting transparency funkiness haha! The illustrations should be 100% opacity.

[2020-03-16 15:35] katz95 commented on #270
![IMG_1028](https://user-images.githubusercontent.com/61153904/76774360-1900c600-67a4-11ea-8936-9554056b7a7d.PNG)
![Screenshot 2020-03-16 at 4 35 21 PM](https://user-images.githubusercontent.com/61153904/76774390-261db500-67a4-11ea-9e6c-5f3c0b85fb81.png)

[2020-03-16 15:36] katz95 commented on #270
ideally 🥳:

<img width="787" alt="Screenshot 2020-03-16 at 4 36 26 PM" src="https://user-images.githubusercontent.com/61153904/76774516-4b122800-67a4-11ea-959f-8fc6c8905eb5.png">

[2020-03-16 15:53] katz95 opened #271 "Adding meta tags to the site for social media images"
Currently there aren't images that pop up in our social media links.

<img width="604" alt="screenshot_2020-03-16_at_16 34 37" src="https://user-images.githubusercontent.com/61153904/76776057-8ca3d280-67a6-11ea-997e-39165e436c53.png">

[2020-03-16 15:58] stuart897 opened #272 "Website font-family uses default serif on Firefox/Windows"
In `main.css` the font-family specified is `Helvetica Neue,"sans-serif","system-ui";`

`Helvetica Neue` is missing quotes, and `sans-serif` doesn't require quotes and should probably be the last font in the list since it's the fallback.

![image](https://user-images.githubusercontent.com/17980212/76776314-7e51b880-679e-11ea-8d20-335512d72749.png)

[2020-03-16 16:22] #266 closed

[2020-03-16 16:23] nikek commented on #266
I fixed styling of the header, but it's still the same for both start page and blog, which is fine.

[2020-03-16 19:07] katz95 opened #273 "Remove little bar under "The Spotify Story" header"
In the temp design without the photos, we don't need the bottom little bar under "The Spotify Story"
<img width="762" alt="Screenshot 2020-03-16 at 8 04 53 PM" src="https://user-images.githubusercontent.com/61153904/76791605-8c650080-67c1-11ea-9ee3-5d187759ea2c.png">

[2020-03-16 22:34] Rugvip commented on #270
Fixed! Root cause was svgo removing mask-type attributes on svg elements during production build.

[2020-03-16 22:34] #270 closed

[2020-03-16 23:20] Rugvip commented on #264
Waiting for https://github.com/eslint/eslint/issues/13050 / https://github.com/eslint/eslint/pull/13051

[2020-03-17 02:48] tarcinil opened #278 "Plugin Configuration"
Much like #138, it would also be nice to be able to spinkle plugin configuration.

I am thinking of creating a new plugin and it would be nice to have the ability to configure things specific to the plugin, rather than entirely in the component.

[code]

Possibly under the `createPlugin`

EDIT:
Expanded idea: it would also be nice if I can added to SidebarItem from the config as well.

[2020-03-17 06:12] #273 closed

[2020-03-17 07:51] stefanalund commented on #271
Fixed now by @kaimallea:

![Screenshot 2020-03-17 at 08 50 21](https://user-images.githubusercontent.com/190856/76833866-66287a80-682c-11ea-92c6-a38d80462ef9.png)

[2020-03-17 07:51] #271 closed

[2020-03-17 08:21] stefanalund commented on #265
@nikek can you move this to the microsite repo?

[2020-03-17 08:21] #265 closed

[2020-03-17 08:25] freben commented on #272
@stuart897 Thanks for reporting! I checked the delivered CSS and it looks like the font declaration was quoted correctly in the wrapping element. However, some redudant declarations had leaked into subelements, hopefully fixed in https://github.com/spotify/backstage-microsite/pull/96

[2020-03-17 08:26] #272 closed

[2020-03-17 08:27] freben commented on #272
Let me know if this didn't address the issue. I unfortunately don't have a windows installation nearby at the moment.

[2020-03-17 08:30] stefanalund opened #280 "Add Discord shield to README"
![Screenshot 2020-03-17 at 09 29 09](https://user-images.githubusercontent.com/190856/76836842-c7068180-6831-11ea-888f-148d25fd44f2.png)

Server ID: 687207715902193673

[2020-03-17 08:54] Rugvip opened #281 "Add FAQ"

[2020-03-17 09:00] #208 closed

[2020-03-17 09:01] Rugvip opened #282 "Add deployment documentation with examples"
May depend on #283 .

Primarily we want to have a DEPLOYMENT.md file that outlines some basic deployment options.

Pick a primary very simple example means of deployment, for example GitHub pages. This will make it easy for integrators to get up and running.

[2020-03-17 09:02] Rugvip opened #283 "Packaging app into Docker container"
There's #279, but it targets running the site locally. We may work off of that in one way or another, but with the focus on serving the static site in production (most likely based on nginx).

[2020-03-17 09:02] Rugvip opened #284 "Icon management tooling"
Do what the internal tooling does, but through backstage-cli.

[2020-03-17 09:02] Rugvip opened #285 "Build and test only changed packages"
Make it so that `yarn build`/`test` at the project root only runs it for packages that are changed/affected.

Preferably, `yarn start` should be smart enough to only rebuild what's necessary on startup, and also when the repo changes (e.g. checking out an entirely separate branch).

Probably make use of the lerna `since` flag as used in CI/CD.

[2020-03-17 09:03] Rugvip opened #286 "add app:build, app:serve to cli"
There should be `app:build/serve/test/lint` commands that are used by `packages/app` and any other instance of backstage.

App package.json:

[code]

Not sure if we want to base this on `react-scripts` or a custom webpack. Leaning towards custom webpack, especially since we have the custom optimization.

[2020-03-17 09:03] Rugvip opened #287 "add create-app to cli"
Initially replicates the repo layout that we have in the public repo, with lerna, `packages/`, `plugins/`.

[2020-03-17 09:04] Rugvip opened #288 "finalize plugin:serve in cli"
This is for serving plugins individually. A simple mock app that uses the plugin is placed in `dev/index.tsx` in the plugin package, and can then be served using `yarn start`

The command exists but tsconfig is an issue, as the current config only includes `src`, and including both `src` and `dev` will change the build output. We likely want a `tsconfig.json` that includes `src` and `dev`, and the

[2020-03-17 09:07] Rugvip opened #289 "Add Google Auth"

[2020-03-17 09:07] Rugvip opened #290 "Add AWS Auth"
Waiting for #366

[2020-03-17 09:10] Rugvip opened #291 "Provide API for error handling"
Add an API that plugins can use to forward errors to the app. Initially only to display the error to the user though e.g. a [snackbar](https://material-ui.com/components/snackbars/).

This also includes wiring up the ApiProvider in the app and how to forward it to plugins.

[2020-03-17 09:11] Rugvip opened #292 "Add GitHub auth"
Waiting for #366

[2020-03-17 09:11] Rugvip opened #293 "Add Storybooks"

[2020-03-17 09:22] #140 closed

[2020-03-17 09:28] #293 closed

[2020-03-17 09:28] stefanalund opened #294 "Add Spotify examples to docs"
Show examples of Spotify integrations/plugins to demonstrate how Backstage can be used.

Example from CI/CD view of a Website:

<img width="1552" alt="Screenshot 2020-03-02 at 16 21 38" src="https://user-images.githubusercontent.com/190856/76859417-95091580-6859-11ea-8eb2-5e109cf42e48.png">

[2020-03-17 09:29] Rugvip commented on #293
Duplicate of #255

[2020-03-17 09:55] stuart897 commented on #272
Has your alteration been deployed to the live website? I've cleared browser cache & refreshed but the serif font & CSS is unchanged.

[2020-03-17 10:45] Rugvip commented on #280
Enabled widgets for the Discord server, so should be enough to just add the shield now.

[2020-03-17 12:19] Rugvip opened #296 "Make asset bundling work with watch mode"
We likely want to move to using webpack to bundle plugins to solve this.

We don't want any optimizations to be run on the build output though, leave that to the app build instead. The webpack config would be something inbetween a production config and a dev config. Similar to the `build:quick` command that Spotify has internally.

[2020-03-17 12:23] Rugvip commented on #288
Need to keep #296 in mind

[2020-03-17 12:42] Rugvip commented on #138
We probably want to expose most of these through APIs in `core`, but also want to identify if there are any parameters that can't be configured there.

Example of a possible solution for how to configure the site name would be

[code]

[2020-03-17 12:44] katz95 opened #297 "Small visual fixes for "Not just adopted, embraced" section in "The Spotify Story""
1. Replace the background SVG of all the dots with a complete one - right now it seems like there's two half 'hella dots' SVGs fused together, which results in a lil glitch on the screen.
<img width="1026" alt="Screenshot 2020-03-17 at 1 41 54 PM" src="https://user-images.githubusercontent.com/61153904/76857121-14481a80-6855-11ea-9727-1eec4223ed2a.png">

2. The top of this section should be the sa

[2020-03-17 12:48] Rugvip commented on #139
Should probably add a question about ownership in the create-plugin command. Default to not having any owner, but if one is specified we find the CODEOWNER file and add an entry. Probably expect the CODEOWNER file to exist

[2020-03-17 12:52] Rugvip commented on #167
Should document this as a part of #287. The scaffolded app should be able to create it's own plugins.

[2020-03-17 13:05] Rugvip commented on #286
- [x] A
- [ ] B

[2020-03-17 13:13] Rugvip opened #298 "[cli] app:test, app:lint"
Use spotify web-scripts instead of react-scripts. Should be similar to `plugin:test/lint`

[2020-03-17 13:31] stefanalund commented on #193
@econchick could you please also do this for spotify/backstage-microsite ?

[2020-03-17 13:39] econchick commented on #193
@stefanalund done! 🎉  lmk if something doesn't look correct

[2020-03-17 13:58] freben commented on #272
Yeah. Hm, it seems there's some overly-aggressive CSS optimisation step happening only for prod. Let me check it out more.

[2020-03-17 14:41] katz95 opened #300 "Update Backstage logo to correct temporary logo"
The current Backstage logo in the microsite isn't correct. <img width="164" alt="Screenshot 2020-03-17 at 3 39 45 PM" src="https://user-images.githubusercontent.com/61153904/76867273-9b04f380-6865-11ea-9869-aa6679418b72.png">

The Figma file that we've been working in will contain the proper SVG

[2020-03-17 15:38] Rugvip commented on #272
Second fix is live now, looks better for me in FF + Win10

[2020-03-17 15:41] stuart897 commented on #272
Looks good

[2020-03-17 15:53] #300 closed

[2020-03-18 07:37] #280 closed

[2020-03-18 09:19] #283 closed

[2020-03-18 13:19] kaimallea commented on #271
Would look even better if Docusaurus framework used Twitter's large summary rather than the small one. I'm going update the image to be the B logo per @katz95 's request

[2020-03-18 13:24] Escalion commented on #170
I whipped up a 404 page at my fork:
https://github.com/escalion/backstage

![Screenshot from 2020-03-18 13-18-20](https://user-images.githubusercontent.com/756601/76965116-af0b2c80-691b-11ea-8870-69c91869ec63.png)

Any thoughts?
I haven't added tests yet or I would submit a PR.

[2020-03-18 13:40] stefanalund commented on #170
@katz95 @jdwelch can you have a look?

[2020-03-18 14:25] katz95 opened #306 "Change the header text color from white to black (#000000) for accessibility"
Ran a color contrast test and the white text doesn't pass - changing it to #000000 will help with accessibility.

<img width="799" alt="Screenshot 2020-03-18 at 3 21 47 PM" src="https://user-images.githubusercontent.com/61153904/76970474-395b8c80-692c-11ea-977e-d2d15a3b8640.png">

[2020-03-18 14:51] #203 closed

[2020-03-18 15:43] katz95 commented on #170
@Escalion thank you!! love the rad copy, and will integrate it into a design that we're currently working on! appreciate your help 🙏

[2020-03-18 15:53] freben commented on #170
@katz95 would you like us to get a pull request from @Escalion to start us off, and then tweak that when we get the updated designs? Would that be OK with you @Escalion (potentially having your beautiful work changed after the fact)? :)

[2020-03-18 16:27] Rugvip commented on #306
What about darkening the background? :grin:

[2020-03-18 16:34] stefanalund commented on #306
Yeah...I'm not loving the black text either :)

[2020-03-18 18:29] Rugvip opened #311 "[cli] a newly scaffolded app should include type definitions for react testing library"
Trying to use expect methods from react testing library will generate a typescript error, for example

[code]

will result in `Property 'toBeInTheDocument' does not exist on type 'JestMatchersShape<Matchers<void, HTMLElement>, Matchers<Promise<void>, HTMLElement>>'.`

[2020-03-18 18:31] Rugvip opened #312 "plugin test and lint should be part of cli e2e test"
e2e test script: https://github.com/spotify/backstage/blob/master/scripts/cli-e2e-test.js

we want to make sure that lint and test commands run successfully in the newly scaffolded plugin

[2020-03-18 19:20] Escalion commented on #170
That's all good with me :) Let me know if you want to do the PR, I'll get the tests written too.

[2020-03-18 19:38] stefanalund commented on #170
@Escalion yep, please send a PR! 💯

[2020-03-18 19:48] djamaile commented on #250
For the swagger view, would you base the endpoints on a json file?

[2020-03-18 21:28] #311 closed

[2020-03-18 21:51] braulio-balanza commented on #261
Would this work?

![purpleBlue](https://user-images.githubusercontent.com/62359443/77010840-98bf9980-6938-11ea-8bfb-91c66490d480.png)

Changed the purpleBlue gradient in PageThemeProvider

[2020-03-18 23:48] tarcinil commented on #250
At the present time, are you planning on having plugins cooked into the repo or should they be developed in separate repos?

[2020-03-19 00:44] tarcinil opened #315 "Add FilterableTable component"
There is already a `SortableTable` inside of core components.

I can also see a need for a `FilterableTable` based on the data that has been loaded.  I also looked at Material Table for this.

This is completely dependent on #161 as the project would need to adopt a Datatable standardization.  This could also require porting `SortableTable` so that they don't have multiple APIs.

[2020-03-19 00:53] tarcinil opened #316 "Create GitHub Templates regarding bugs/features"
As the project is adopted and matures, there will be a need to standardize on the inputs for features and bugs.

This will allow maintainers to have data that they deem necessary to determining the scope of a feature, or the difficulty of resolving a bug.

https://help.github.com/en/github/building-a-strong-community/about-issue-and-pull-request-templates

[2020-03-19 05:30] sladyn98 commented on #292
@Rugvip I could take a shot at this, any pointers to get started ?

[2020-03-19 05:40] djamaile commented on #250
Was planning todo it in it the repo, the stackoverflow and swagger plugins would be nice. Also plugin with Jira would be cool?

[2020-03-19 07:22] #281 closed

[2020-03-19 08:10] stefanalund commented on #261
@braulio-balanza that looks like a significant improvement! Would you mind sending a PR? 🙏

[2020-03-19 08:42] #298 closed

[2020-03-19 10:00] Rugvip commented on #292
@sladyn98 Awesome! Our long-term idea is to use http://www.passportjs.org/ for an auth backend, and lift out a popup-based auth strategy that we're using internally. It's similar to https://github.com/jaredhanson/passport-facebook/issues/188, but the page loaded at the redirect url inside the popup is just a script that posts the auth response to the parent page and then closes itself. Something l

[2020-03-19 10:17] Rugvip commented on #316
Yep, think this will help everyone involved :grin:

Do you know of any good examples? I kinda like https://github.com/kubernetes/kubernetes/tree/master/.github/ISSUE_TEMPLATE

[2020-03-19 10:22] Rugvip opened #318 "Separate GitHub workflow for cli e2e test"
Thinking we can save some time by only running the CLI e2e test when `packages/cli` is changed. If we want e2e test for the app/plugins, that should be a separate thing.

[2020-03-19 10:25] katz95 commented on #306
Accessible versions - let me know which one you prefer! Also explored it in the blade pattern

<img width="970" alt="Screenshot 2020-03-19 at 11 24 11 AM" src="https://user-images.githubusercontent.com/61153904/77057415-34521800-69d4-11ea-8402-95ae49244588.png">

[2020-03-19 10:30] #297 closed

[2020-03-19 10:32] Rugvip commented on #297
Moved to https://github.com/spotify/backstage-microsite/issues/107

[2020-03-19 11:13] Rugvip commented on #278
Completely agree that we need something here.

From a related discussion on discord:

[2020-03-19 11:47] freben commented on #261
agreed, that is way more crisp!

[2020-03-19 11:50] andrei-pavel commented on #138
That's written correctly. Maybe fix it in the pretty image in the README too? Sorry, I'll go now, bye!

![image](https://user-images.githubusercontent.com/6838492/77064590-6c635600-69e8-11ea-83bd-825926cf2f23.png)

[2020-03-19 12:04] freben commented on #318
and that e2e can be run in parallel with the otherss

[2020-03-19 12:14] freben commented on #315
I can foresee this being a single `DataTable` shared component that supports both filtering and sorting by default, but each can be enabled or disabled separately.

[2020-03-19 12:17] freben commented on #306
Overlaps with #261

[2020-03-19 12:19] mateusmarquezini commented on #255
Hi @nikek ! Maybe I can help with this! Any pointers to get started?

[2020-03-19 12:19] mateusmarquezini commented on #312
Hi @Rugvip ! Maybe I can help with this! Any pointers to get started?

[2020-03-19 12:24] Rugvip commented on #312
@mateusmarquezini Thanks, sure! I'm thinking we could make sure the `yarn test` and `yarn lint` commands run successfully inside the plugin folder, probably after we've stopped serving the app around here: https://github.com/spotify/backstage/blob/f60c5e417a6a67f081e187ef3d74486521f50abe/scripts/cli-e2e-test.js#L56

[2020-03-19 12:36] katz95 commented on #170
some explorations for the 404 screen using @Escalion's rad copy 😊let me know if yall have any preferences/feedback!
![404 Error 1](https://user-images.githubusercontent.com/61153904/77068229-84d27100-69e6-11ea-822e-7346fd758c30.png)
![404 Error 2](https://user-images.githubusercontent.com/61153904/77068233-8734cb00-69e6-11ea-9af4-546bfea2b59d.png)

[2020-03-19 12:37] katz95 commented on #170
mics bounce right? 🎤😂

[2020-03-19 12:42] Rugvip opened #321 "Zombie serve process"
Running into port 3000 conflicts occasionally, only to discover a background serve process that wasn't killed properly. Need to track down and kill all zombies.

[2020-03-19 12:43] freben commented on #170
I still would like Page not Found, and possibly also 404 (this is a techie friendly site). It's not clear what it is trying to tell me, without that at the very top.

[2020-03-19 12:45] katz95 commented on #170
Good point! will add that in

[2020-03-19 12:48] katz95 commented on #170
![404 Error 1](https://user-images.githubusercontent.com/61153904/77069216-48077980-69e8-11ea-94c9-76f4fc4387b3.png)
![404 Error 2](https://user-images.githubusercontent.com/61153904/77069220-4a69d380-69e8-11ea-8022-82f28efafa7a.png)

[2020-03-19 12:52] mateusmarquezini commented on #312
Ok @Rugvip ! Thank you! ^^

Well, first of all I'm trying to understand how this script works and when it's called. I've ran the `yarn test` command, it executes pretty well inside these packages, except `yarn lint` that's giving me some errors. The point here is that this script executes in some time, right? When we stopped serving it, the commands `yarn test` and `yarn lint` should be executed,

[2020-03-19 12:53] freben commented on #250
For now, these would be added to the `plugins` directory in this repo.

[2020-03-19 12:56] freben commented on #250
The swagger view might be most useful when we have added service inventory functionality in a slightly later iteration of Backstage. Then a service view might have the option to show the openapi schema for a particular service, either by introspecting the live service or by the entity somehow referencing the schema it follows.

[2020-03-19 12:57] Rugvip commented on #312
@mateusmarquezini The script is executed here: https://github.com/spotify/backstage/blob/f60c5e417a6a67f081e187ef3d74486521f50abe/.github/workflows/frontend.yml#L42

You can also run it locally though, although it create a new plugin that you will have to clean up.

And yeah it takes a while to run :p

[2020-03-19 12:59] Rugvip opened #323 "cli e2e test should clean up after itself"
Would be nice if the cli e2e test script (https://github.com/spotify/backstage/blob/master/scripts/cli-e2e-test.js) removes the created plugin when done. Makes it easier to work with locally

[2020-03-19 13:04] #286 closed

[2020-03-19 13:07] tarcinil commented on #315
I can see that as a viable option, but I would worry about how many configurations that single component could have and how a possible configuration could be missed.

Is it possible to create a `DataTable` component and extend from it to enable `SortableTable` and `FilterableTable`?  This would also make the UX much cleaner rather than configuring _N_ flags under `DataTable`.

[2020-03-19 13:12] tarcinil commented on #316
I've liked these but I also work in these repos (bias).

https://github.com/sensu/sensu-go/tree/master/.github/ISSUE_TEMPLATE
https://github.com/sensu/web/tree/master/.github/ISSUE_TEMPLATE

[2020-03-19 13:12] freben commented on #315
Sure, that would work. I was hoping it would just be two props `{ sortable?: bool, filterable?: bool }` though. And making a wrapper component that hardcodes that could be made too, but it's probably not super helpful (the cognitive load of remembering several components over several files is arguably higher than looking through options, with autocomplete, for a single component). And what about `

[2020-03-19 13:13] paladium commented on #321
Hello, @Rugvip how can I recreate this issue?

[2020-03-19 13:13] freben commented on #315
we've also discussed maybe adding this wholesale https://github.com/tannerlinsley/react-table

[2020-03-19 13:17] mateusmarquezini commented on #312
Ok let me try this one, feel free to assign this issue to me :smiley:

[2020-03-19 13:17] freben commented on #321
I don't think we're 100% sure yet - it has happened on a couple occasions for several of us but I think it will be part of this ticket to figure out where and why.

[2020-03-19 13:17] Rugvip commented on #321
I don't know xP I would imagine it's to do with the watch-deps command and how it handles the child process.

Created this issue so that we can start gathering information, but no concrete task other than trying to reproduce it : /

[2020-03-19 13:19] paladium commented on #321
I had a similar problem a few times but with other projects, not sure why that happens. I am using Hyper terminal, sometimes when the tab is closed the process might not be properly killed

[2020-03-19 13:19] freben commented on #316
Would you like to make a PR and add at least bug and feature e.g. from sensu? Then we can have the team check them out and suggest tweaks.

[2020-03-19 13:21] Rugvip commented on #321
Yeah that sounds plausible, I'm seeing it in iTerm2/zsh

[2020-03-19 13:21] tarcinil commented on #315
I like that library and it would allow for a spec that is completely managed inside the project.

I can see your point about the cognitive load.  I am just concerned with adoptability vs maintainability.  I think my concern can be handled well with enough documentation though.

[2020-03-19 13:22] tarcinil commented on #316
I will work on them tonight.

[2020-03-19 13:57] katz95 commented on #170
[404 Error SVGs.zip](https://github.com/spotify/backstage/files/4354932/404.Error.SVGs.zip)

[2020-03-19 14:14] stefanalund commented on #170
Thanks @katz95 I think this looks nice. I personally like the one with the woman.

@Escalion wanna take a stab at implementing this design? 💚

[2020-03-19 14:19] stefanalund commented on #250
@freben perhaps this question is worth adding to the FAQ?

[2020-03-19 14:20] stefanalund commented on #321
I've experience this in Hyper as well.

[2020-03-19 14:31] freben commented on #250
@stefanalund https://github.com/spotify/backstage/pull/324

[2020-03-19 15:54] Rugvip opened #325 "App serve should only warn and then continue for most lint issues"
Currently you have to fix all lint issues before the app serve will show the page, which is pretty annoying.

The cause is a clash between `react-scripts` and spotify `web-scripts` where the former uses warning to signal lint issues that won't cause issues during development, but `web-scripts` lists all rules as errors.

I'm thinking we might be able to do more merging of the lint rules, or ask `w

[2020-03-19 16:03] Escalion commented on #170
@stefanalund @katz95 Can do!
Will update my fork and then submit a PR.

[2020-03-19 16:04] Escalion commented on #170
@stefanalund What URLs should I use for the links?

[2020-03-19 17:26] Rugvip commented on #292
#326 relates to this and how plugins would make use of a GHE auth API.

[2020-03-19 20:02] #261 closed

[2020-03-19 21:10] mateusmarquezini commented on #312
Hi @Rugvip !

One question, is there any pattern in the project when we create some component and its tests files? For example, if I create a component in my own plugin **ExampleComponent.tsx** its test should be written in a **.tsx** file (**ExampleComponent.test.tsx**) as well? Or this is just a good practice?

I have this question because I'm getting some type errors to fix the test execution w

[2020-03-20 00:47] tarcinil opened #330 "[docker] 404 does not get past nginx"
When using the docker image via a docker-compose, when I attempted to use a route that doesn't exist.  I get the nginx 404 landing page and not the backstage 404.

<img width="274" alt="Screen Shot 2020-03-19 at 7 43 31 PM" src="https://user-images.githubusercontent.com/1433666/77127337-0f809380-6a1a-11ea-9f81-7d732449826a.png">

[2020-03-20 06:15] braulio-balanza commented on #323
Wouldn't it be good to have a "remove-plugin" cli command that is invoked at the end of cli-e2e-test.js?

[2020-03-20 07:19] stefanalund commented on #170
Not sure anymore that all of those links will make sense after someone deploys Backstage in their environment. My suggestion is to have:

[2020-03-20 07:30] stefanalund commented on #315
Ideally we would have a recommended grid component. A first step (until we have a [Storybook](https://github.com/spotify/backstage/issues/255) set up) could be to replace the default Material-UI Table in the ExampleComponent that the CLI creates.

@tarcinil would you be up for taking a stab at that?

[2020-03-20 09:25] Rugvip opened #332 "Add .editorconfig"
It's a common config understood by most editors and ensures that some basic editor configuration is aligned between all contributors.

[2020-03-20 09:39] Rugvip opened #334 "CRLF line endings can mess up the notify/notify eslint plugin"
Cloning the project on windows with the git config `core.autocrlf=true` breaks the eslint notify plugin. It makes it require more newlines after the copyright notice than necessary.

A workaround for now is to set `core.autocrlf=input`, but it would be good to either have a clearer error message, possibly by adding https://eslint.org/docs/rules/linebreak-style, or to fix the issue altogether.

[2020-03-20 09:41] Rugvip commented on #161
Some discussion around this has been going on in #315, but let's bring it here

[2020-03-20 09:42] Rugvip commented on #315
I think this discussion has gone into a duplicate of #161, let's close this and continue there.

[2020-03-20 09:42] #315 closed

[2020-03-20 09:52] Rugvip commented on #161
Outlining some features that we know are useful, especially infrastructure-related tooling:

- [ ] Sortable columns, with custom sorting functions
- [ ] Column filter/search - input box in the column header to filter which rows are shown
- [ ] Global search - i.e. filter all columns
- [ ] Windowing / infinite scroll
- [ ] Material UI theming
- [ ] Expandable rows - click an item to expand the row

[2020-03-20 09:57] Rugvip commented on #323
@braulio-balanza yup, that's a good idea! Been missing that during development as well. Do you wanna take a stab at it? :grin:

[2020-03-20 10:16] Rugvip commented on #306
@katz95 <span>#</span>2! what are the color codes? :>

[2020-03-20 10:38] Rugvip commented on #312
@mateusmarquezini We want to keep tests in typescript too. Initially we'll probably want it repo-wide, but we won't require it in plugins, only in core code. The benefit of writing tests in typescript is that you end up testing the exposed types while you're writing the tests, which is something we definitely want for core packages.

Regarding the issue with `toBeInTheDocument`, that should be fix

[2020-03-20 10:41] Rugvip commented on #312
@mateusmarquezini Maybe you could open a PR with the current changes and we can iterate on the solution?

[2020-03-20 12:05] Rugvip opened #339 "RFC: Feedback on API concept"
Creating this issue to gather feedback on the API concept introduced in https://github.com/spotify/backstage/pull/251 and https://github.com/spotify/backstage/pull/326.

Anything goes, questions about purpose, ideas, clarifying things, naming, alternatives, etc.

Starting out with providing a few answers:

### Why was this created in the first place?

In the Spotify internal Backstage we added the

[2020-03-20 12:57] stefanalund commented on #161
@zatine perhaps you want to chime in?

[2020-03-20 12:59] mateusmarquezini commented on #312
@Rugvip it sounds good! First I'll make sure my branch master is up to date rebasing with the top master, after that, I open a PR.

[2020-03-20 13:07] freben commented on #161
In light of how much the internal data grid has had issues around virtual scroll and the implications with height etc - I'd like to suggest that a virtual scrollable table MAY benefit from being a separate class. Highly depends on the chosen implementation, I guess. But being able to easily throw in an auto-sizing no-overflow/scroll table is important and shouldn't be too muddled by the advanced v

[2020-03-20 13:09] freben commented on #161
Essentially the clash between "expands to fit the contents, extending the container block" vs "requires to set the size of the container block beforehand"

[2020-03-20 13:41] fire opened #341 "Integration with gitlab?"
I noticed that backstage seems heavily integrated with Github, but Gitlab self-hosted is very similar to Github Enterprise. Both are options to self-host.

Thoughts?

[2020-03-20 13:47] tarcinil opened #342 "Add deployment secret management"
While I see that there is a way to maintain secrets inside of the `secrets.env` file, I know some enterprises do not like having plain-text passwords on the filesystem, this integration could prevent a security finding.

Possible Library: https://www.npmjs.com/package/node-vault

[2020-03-20 13:54] Rugvip opened #343 "Add GitLab Auth"
Waiting for #366

[2020-03-20 13:57] Rugvip commented on #342
`secrets.env` was a hacky short-term solution and not something we plan to use in the future :grin:

Would you be alright with renaming this issue to cover all options for secret handling and discussing the general topic?

[2020-03-20 14:08] tarcinil commented on #342
👍 Sounds good to me

[2020-03-20 14:14] mateusmarquezini commented on #312
@Rugvip rebasing on top of the latest master fixed that problem I've mentioned. Thanks! :green_heart:

[2020-03-20 15:30] stefanalund opened #345 "[Phase 2] Scaffold a new micro service"
Implement our internal use-case of allowing creation of new backend services from a template:

![1](https://user-images.githubusercontent.com/190856/77178005-c33f5d00-6ac6-11ea-8774-016f3d600a2d.png)

Demo video: https://www.youtube.com/embed/U1iwe3L5pzc

**Basic flow:**

- Select from a list of "templates", e.g. "Spring Boot Service".
- Provide basic metadata about the service.
- Select in which

[2020-03-20 17:57] fire commented on #345
Can you draft the list of the required and optional metadata fields?

There's also a list of operations that are automated in Jenkins? I use gocd, but that's obscure.

[2020-03-20 18:24] nwmandel commented on #323
@Rugvip mind if I take a crack at it? 😀

[2020-03-20 18:32] Rugvip commented on #323
@nwmandel Sure, thanks! :grin:

[2020-03-20 18:32] braulio-balanza commented on #323
I was actually going to say the same thing. I had already started working on the command, but if you want to take it @nwmandel go ahead!

[2020-03-20 18:33] Rugvip commented on #323
@braulio-balanza, ah, got far? Would make sense for you to take it then

[2020-03-20 18:34] braulio-balanza commented on #323
I am about half way done through it.

[2020-03-20 18:38] Rugvip commented on #323
Ok sorry for the confusion @nwmandel , but I'm sure you're ok with me assigning it to @braulio-balanza?

Best let us know if you started looking into an issue though

[2020-03-20 18:56] braulio-balanza commented on #323
Awesome! I have a question though, would it be worth it to ask whether the user wants to permanently delete the plugin or send it to the trash folder?

[2020-03-20 19:15] nwmandel commented on #323
@Rugvip Sure, it's no problem!

[2020-03-20 19:22] Rugvip commented on #323
@braulio-balanza I'd say just delete it and rely on git to roll back mistakes.

[2020-03-20 19:51] #312 closed

[2020-03-21 01:03] toonsevrin commented on #292
OAuth app is definitely superior to copy pasting a token:

The UX for the developers is better (+ better security) as you won't have to copy-paste your token over and over (except if you are storing the token in some permanent storage like the localstorage but that may not be the best idea).

[2020-03-21 01:05] toonsevrin opened #347 "Add auth0 auth"
All though closed source, auth0 is a really easy and clean oauth provider, consolidating all other providers.

[2020-03-21 01:06] toonsevrin opened #348 "Add Azure (AAD) auth"

[2020-03-21 07:48] sladyn98 commented on #292
@Rugvip I guess having an OAuth app seems to be more preferable, and plus it is relatively easier to setup. https://developer.github.com/apps/building-oauth-apps/authorizing-oauth-apps/

[2020-03-21 14:38] mateusmarquezini commented on #321
I've also experienced this issue using the native OS terminal. I'm using Ubuntu 18.04.4 LTS.

[2020-03-21 21:55] #316 closed

[2020-03-22 00:48] alaiacano commented on #282
👋 I was able to deploy to Heroku with these small changes: https://github.com/alaiacano/backstage/commit/abe9aab7f95b779dacfeba6ee96ef69c7afca177

[2020-03-22 07:37] O5ten commented on #321
Seen this happen a couple times on WSL (Ubuntu & bash) too.

[2020-03-22 14:18] mateusmarquezini commented on #285
Hi @Rugvip !

After making this change, `yarn build/ test ` should look for the plugin folder changed or newer yet?

Currently, the `yarn test` is running the entire folder, considering plugins folders.

[2020-03-22 14:27] Rugvip commented on #285
@mateusmarquezini Yeah something like that, thinking it makes sense to do some hash-based caching but not sure. Ideally the caching should work with CI as well.

[2020-03-22 14:41] mateusmarquezini commented on #285
@Rugvip lerna flag `--since master` does the trick, but I'm trying to understand why it's ignoring plugin folders 😅.

Can you assign this issue to me, please? Thx!

[2020-03-22 14:49] Rugvip commented on #285
Sure, thanks!

[2020-03-22 16:12] mbruggmann commented on #345
@stefanalund This might be a detail, but have you considered not creating new repositories but a PR instead? That'd have a few advantages:
* Team members can peer review the changes before they get deployed to production
* Backstage doesn't need commit permissions to the master branch
* It's more natural for system- or mono-repositories that contain several components
* You get the same build, dep

[2020-03-22 18:37] AndreasAugustin commented on #347
To be able to access restricted ressources It would be nice to have OAUTH2 client credentials flow together with OpenID connect enabled within the UI in a general way. That would also include the request within this ticket for the AUTH0 provider.

[2020-03-22 20:31] stefanalund commented on #292
Addressed in #354

[2020-03-22 20:33] Rugvip commented on #292
@sladyn98 Yeah OAuth is miles better, pasting a token is just a stop-gap solution.

[2020-03-22 20:47] stefanalund commented on #345
@mbruggmann that sounds like an excellent suggestion to reduce the complexity/scope.

Wouldn't this mean Backstage anyway needs credentials?

[2020-03-22 20:49] stefanalund commented on #345
@jeffersongirao I know you had some ideas on how a new service creation could/should trigger events that other sub-systems could listen to, e.g. CI system.

Would you mind summarising your thoughts?

[2020-03-22 21:00] #334 closed

[2020-03-22 21:38] stefanalund opened #358 "Feature flags"
## Feature Suggestion

Make it possible to hide functionality behind a **feature flag**. Example from Spotify internal:

<img width="818" alt="Screenshot 2020-03-22 at 22 32 23" src="https://user-images.githubusercontent.com/190856/77261197-182cd000-6c8d-11ea-9514-c7089585f8a1.png">

## Possible Implementation

Example code:
[code]

## Context

[2020-03-22 21:56] bih commented on #358
I'd like to take this one in my spare time :D

[2020-03-22 22:09] stefanalund commented on #358
@bih given that you are the biggest feature flagger in the biz, this makes sense 😆

Would you like me to Assign you?

[2020-03-22 23:19] #318 closed

[2020-03-22 23:22] stefanalund commented on #332
Closed via #353

[2020-03-22 23:22] #332 closed

[2020-03-23 02:26] tarcinil commented on #330
I have a first pass for this.  I haven't built the Dockerfile yet, but I created a docker-compose that represents the idea.  The full idea would to fully munge the `conf.d/default.conf` to serve the generated static content.

[2020-03-23 07:08] stefanalund commented on #255
The foundation was done in #350. Adding the remaining tasks that we have before closing this issues.

[2020-03-23 07:52] #139 closed

[2020-03-23 09:00] #291 closed

[2020-03-23 09:40] Rugvip opened #363 "Set up GitHub action workflow for publishing packages to NPM"

[2020-03-23 09:42] Rugvip opened #364 "Prepare NPM org and repo for publishing"
Make sure the following is in shape:

- [ ] Readme in packages
- [ ] License text

[2020-03-23 11:21] mikqi commented on #255
You're welcome @stefanalund. In this issue point no 2 is just like this  https://github.com/spotify/backstage/pull/350#issuecomment-602188657 right?
I'll try add it to CI in this repo.

[2020-03-23 11:23] stefanalund opened #365 "Setup publishing of Storybook"
Setup publishing to storybook.backstage.io during CI.

## Feature Suggestion

## Possible Implementation

## Context

[2020-03-23 11:24] stefanalund commented on #255
@mikqi yes! created a separate issue: https://github.com/spotify/backstage/issues/365 and will assign you if you're up for it.

[2020-03-23 11:27] stefanalund commented on #365
@mikqi can't seem to Assign you, can you add yourself?

[2020-03-23 12:08] mikqi commented on #365
no, i can't assign myself too.

[2020-03-23 13:15] Rugvip opened #366 "Investigate auth backend alternatives"
We want to look into using different auth backends to implement auth.

Alternatives so far:
- [passport.js](http://www.passportjs.org/)
- Custom [auth proxy](https://auth0.com/docs/connections/calling-an-external-idp-api?_ga=2.196088745.421680458.1585145744-1766963120.1584905237#from-the-frontend) for [auth0](https://auth0.com/)
- [dex](https://github.com/dexidp/dex)

Couple of questions to clear

[2020-03-23 13:43] alde opened #368 "Unable to build plugins"
On a fresh clone of master, building a plugin fails.
## Expected Behavior

`yarn build` in a newly generated plugin should succeeded.
## Current Behavior

`yarn build` fails with

[code]

## Possible Solution
Seems like there's some botstrapping missing in backstage-cli

## Steps to Reproduce (for bugs)

1. `yarn create-plugin`
2. cd plugins/my-plugin
3. `yarn build`

## Your Environment

* NodeJS

[2020-03-23 14:20] freben commented on #368
Hey! I just tried this on an updated master (there have been a few changes since), and it worked. Would you mind trying again?

[2020-03-23 14:34] alde commented on #368
just tried again on latest master, getting the same problem (when creating a new plugin)

[2020-03-23 14:58] Rugvip commented on #347
Discussing the backend capabilities part of this in #366

[2020-03-23 15:00] Rugvip commented on #282
@alaiacano Nice, do you wanna submit a PR with those changes? 😄

Would be awesome if you want to write up a tiny guide to how you set it up on Heroku as well :grin:

[2020-03-23 15:09] Rugvip commented on #368
You need to build the root project first, or run yarn start in the root. In general `yarn start` is the thing to use rather than yarn build for local development, and when we add `yarn start` for plugins it should cover building the dependencies.

Would be cool to provide some better error message though.

[2020-03-23 15:23] Rugvip commented on #342
We will try to keep deployment configuration out of scope for now. The artifact produced by this repo would be docker images with secrets communicated though env/files.

Let's revisit this if we see a need to keep deployment configurations in this repo that doesn't just serve as examples.

[2020-03-23 15:23] #342 closed

[2020-03-23 15:25] alde commented on #368
`yarn start` in the root fails as well for me

[code]

[2020-03-23 15:27] Rugvip commented on #368
Wonder if something was up with the deps? core is supposed to be built before any plugin

[2020-03-23 15:30] #368 closed

[2020-03-23 15:30] Rugvip commented on #368
We're looking into adding `yarn start` for plugins as well btw, should let you run `yarn install` -> `yarn create-plugin` -> `yarn start` inside that plugin. I think build gonna stay as a thing that mostly only makes sense to run in the top-level of the repo.

[2020-03-23 15:36] Rugvip opened #370 "List examples of other OSS apps with pluggable client-side auth architectures"
For gathering ideas and inspiration for how we want to design the auth API.

Some things that we want to look for:
- OpenID vs OAuth handling
- OAuth providers in npm packages
- Projects that use a common API for all OAuth providers
- Client-side implementations, server-side is discussed in #366

[2020-03-23 15:39] toonsevrin commented on #366
Fyi: Passport.js has allows for auth0 authentication, there is no point in implementing auth0 natively afaik :)

[2020-03-23 16:37] Rugvip commented on #366
@toonsevrin yeah we would need to have something like that for auth0 anyway. I think we can rule out using auth0 directly as there's no way to get access tokens for the IdPs without a backend, which is something we will want https://auth0.com/docs/connections/calling-an-external-idp-api

[2020-03-23 22:09] tomByrer opened #373 "deployment distribution"
## Feature Suggestion

Perhaps separate out the backend mechanics from frontend, but allow frontend suggest what should be SSR, SSG, client-rendered, or parts mix & match.

## Possible Implementation

Separate folder & config files for back & front end.
Some markup for SSR, SSG, client-rendered, Service Worker, etc.  NextJS has [separate data fetching methods](https://nextjs.org/blog/next-9-3#next

[2020-03-24 00:30] toonsevrin opened #374 "Proposal: Everything not related to UI/plugin management should be a plugin"
I believe that separating all behavior (eg. settings, authentication...) not related to the core of backstage (plugin management) should be separated in their own plugins.

These plugins would of course still ship by default, so the UX is identical. The development overhead is minimal as well.

Pro's:
- **No patching required** when companies want to disable a feature: They can simply use the plug

[2020-03-24 00:46] toonsevrin opened #375 "Hook for plugins to execute cli commands locally"
Note: This issue serves as a tracker for a project I am working on for my company.

My company is developing [backstage-hook](https://github.com/tcorp-bv/backstage-hook) to allow plugins to execute commands locally on the developer their machine.

This will help us in prototyping plugins at high speed. We don't have to worry about security (you explicitly approve commands), authentication or API m

[2020-03-24 07:54] marcuseide commented on #341
Added an entry about this in our FAQ, https://github.com/spotify/backstage/pull/376.  I'll close this for now and we'll most likely open new issues for Gitlab specifically when the time comes.

[2020-03-24 07:54] #341 closed

[2020-03-24 08:30] freben commented on #374
Thank you for this discussion piece!

It is indeed our goal to have a sufficient and practical level of separation/modularity. We are currently drafting several of the API surfaces, including auth (as linked to), and you'll see these arrive in the coming weeks. While we may not go for an ultra-micro-package approach, we probably do not want a kitchen sink core either.

As this is being fleshed out

[2020-03-24 12:38] #285 closed

[2020-03-24 12:56] toonsevrin commented on #374
Thanks for the response, @freben. I can totally see how micro-packaging can cause friction in many cases. The most important aspect is that features which certain clients may not need can be disabled.

[2020-03-24 15:33] Rugvip commented on #374
Would say this issue is related to #339, as it covers inter-plugin dependencies as well

[2020-03-24 15:49] Escalion commented on #170
Sorry for the delays - this whole coronavirus thing has the worlds mad right now. Almost finished with this. Making it responsive too, because I'm nice like that. :)

[2020-03-24 16:52] stefanalund commented on #170
😍

[2020-03-24 17:15] Escalion commented on #170
![Untitled](https://user-images.githubusercontent.com/756601/77456402-17ae4980-6df3-11ea-8d3b-2dc3fbf05aae.png)

[2020-03-24 17:16] Escalion commented on #170
Still fiddling with the spacing and sizing :)

[2020-03-24 20:47] braulio-balanza opened #377 "Jest tests exist, but suite not set up properly"
I see that Jest dependencies are included, and that there are several jest unit tests included for app, core, and cli, but for the love of me I can't seem to configure them to work properly in the monorepo. After some research I tried setting up a babel.config file [like this](https://github.com/facebook/jest/issues/6933#issuecomment-419904621) but to no avail. Any pointers on how this could be fi

[2020-03-25 04:21] SalmanAwan opened #381 "nginx 404 on login page when running container image"
When running inside docker container, cannot navigate to login page due to nginx 404 page error.

## Expected Behavior
Should be able to navigate through internal pages when running inside docker

## Current Behavior
Click on login, shows nginx 404 error page and cannot navigate further

## Possible Solution
Insert nginx site config with redirect rule

## Steps to Reproduce (for bugs)
Step 1: run

[2020-03-25 08:41] Rugvip commented on #264
Old one was fixed, but this was introduced by storybook again. Waiting for bump in storybook and closing this.

[2020-03-25 08:41] #264 closed

[2020-03-25 08:56] Rugvip commented on #381
Closing this as it's a duplicate of #330

Currently being fixed in #360

[2020-03-25 08:56] #381 closed

[2020-03-25 09:24] stefanalund commented on #282
Fixed in https://github.com/spotify/backstage/pull/379

[2020-03-25 09:32] Rugvip opened #382 "No HTTPS for storybook deployment"
We can't serve both `backstage.io` and `storybook.backstage.io` with GitHub Pages over HTTPS, since GitHub doesn't support mixing apex and subdomains. The issue is being discussed [here](https://github.community/t5/GitHub-Pages/Does-GitHub-Pages-Support-HTTPS-for-www-and-subdomains/td-p/7116) .

For now we will probably just stick to only HTTP, and keep track of the issue. Other alternatives would

[2020-03-25 09:59] Rugvip commented on #377
Assuming `yarn jest` is a typo? Actual command is `yarn test`.

I can't reproduce this though, and the tests are run just fine in [CI](https://github.com/spotify/backstage/runs/529796814?check_suite_focus=true), which should be similar to your environment.

Are the error messages you posted the ones you're getting on a clean checkout of master, or after adding a babel config?

[2020-03-25 10:52] stefanalund commented on #282
Closed in https://github.com/spotify/backstage/pull/379

[2020-03-25 10:52] #282 closed

[2020-03-25 12:54] katz95 opened #385 "Create "Designing for Backstage" Document"
We're super excited to be designing in the open. In the coming weeks, we'll be refining our process of how we (Backstage designers at Spotify) collaboratively work with internal and external contributors to design a better DX for teams all over the world.

The 'Designing for Backstage' doc will ideally cover some of these bases:
1. Design principles - what does Backstage uphold when it comes to bu

[2020-03-25 13:01] toonsevrin commented on #339
I've said this before but if you want to go take your security to the next level (this could fe be done in a v2 rewrite of Backstage), you should make each API and plugin live within it's own javascript namespace. This is typically done by leveraging the _same-origin policy_ of browsers (eg. through iframes).

**More practically speaking:**

Your dns server forwards all traffic from `*.backstage.c

[2020-03-25 13:38] katz95 commented on #306
@Rugvip just saw this!! 😅
![Wave Deconstruction](https://user-images.githubusercontent.com/61153904/77542299-42a5a580-6ea6-11ea-89ff-3fc63df94bfb.png)

[2020-03-25 14:09] katz95 commented on #170
@Escalion thank you so so much! you rock! 👏🏼whenever you get a chance, go ahead and submit a PR!

[2020-03-25 14:42] #364 closed

[2020-03-25 14:45] Rugvip commented on #366
Adding back auth0 as an option, but making it clear that it would require us to build a proxy for getting access token. More on that [here](https://auth0.com/docs/connections/calling-an-external-idp-api?_ga=2.196088745.421680458.1585145744-1766963120.1584905237#from-the-frontend).

It does give us some more flexibility wrt backend language/frameworks, and should end up being a slimmer implementati

[2020-03-25 14:48] #363 closed

[2020-03-25 15:15] Rugvip opened #386 "Migrate NPM namespace from @spotify-backstage to @backstage"
Packages and docs need updating

[2020-03-25 17:43] braulio-balanza commented on #377
Nevermind :grin:, just realized that ```web-scripts test``` takes care of the Jest tests as well. Silly me :grimacing:

[2020-03-25 17:43] #377 closed

[2020-03-25 18:41] lepasq commented on #289
Hi! I'd like to work on this issue. Do you have any suggestions on how I could start working?

[2020-03-25 20:11] mateusmarquezini commented on #306
Guys, assign this issue to me, please? Thx! :tada:

[2020-03-26 08:47] #386 closed

[2020-03-26 09:49] mbruggmann opened #390 "RFC: Backstage System Model"
We believe that a strong shared understanding and terminology around systems, software and resources leads to a better Backstage experience. This is a proposal for the basic entities we would model in Backstage, without going into how to implement this (yet).

We model our technology using these five concepts (further explained below):
* **Domains** are a high-level grouping of systems
* **Systems

[2020-03-26 12:41] freben commented on #390
This RFC does not yet mention entity ID spaces, and/or entities being sourced from several different ecosystems.

For example, if the data insights part of an organisation owns the concept and inventory of data pipelines, then would we require that their IDs do not clash with backend service component IDs? Or will they be namespaced to "kinds" or such, similar to k8s?

[2020-03-26 14:02] mbruggmann commented on #390
@freben Good question, I don't have a strong opinion on that. How to manage the inventory and id spaces in a good way probably warrants a whole separate writeup. Do you want to propose something, given you have insights from how this works at Spotify today?

[2020-03-26 14:07] freben commented on #390
Not quite yet, but when we start drafting the inventory part of Backstage, we'll have to tackle it. For now, this was more of a food-for-thought question.

[2020-03-26 14:18] Rugvip commented on #306
@katz95 would it be possible to get the color codes of the gradient without any opacity? Ideally the input should just be two colors, one light and one dark.

[2020-03-26 15:05] soapraj opened #393 "Get rid of opacity in the wave svgs"
Recalculate the gradient colors to account for opacity.

[2020-03-26 15:34] Rugvip commented on #339
@toonsevrin Yeah I think the declaration of dependencies in a manifest is something to explore as a part of the API concept. it will be needed in some capacity so that whoever creates a backstage app knows what APIs have to be implemented based on what plugins are being used.

Regarding separated origins I'm not so sure tbh, I think leaning towards read-only interface with destructive actions in a

[2020-03-26 15:35] stefanalund commented on #393
@soapraj can you provide a screenshot or some more details? It's a bit vague :)

[2020-03-26 15:44] freben commented on #393
is it a matter of just taking the image from the design, and using the color picker to pick out the colors at the top and bottom of each wave? :)

[2020-03-26 15:44] Rugvip commented on #339
I have have a naming-help request related to this API concept! We've tried some different terminology, like "services", "factories", "libraries", but APIs is short and matches the concept, so it's what we've gone with for now.

The request is to find a word to describe these APIs though, as saying simply "Backstage API" is a bit confusing, as in what kind of API are we talking about? So looking fo

[2020-03-26 16:02] Rugvip commented on #393
I don't think so, because the gradients extend beyond the edges of the box.

I think what we wanna do is take the background color and mix it with opacity% of the gradient color on each end, and then make the gradients opaque.

[2020-03-26 16:03] drsounds opened #394 "Usable for other purposes than developer portals"
I just discovered this and this is looking awesome. But I can see that this project could be a starting point for building admins and portals for other purposes than just developer portals.

Or have I missed something?

[2020-03-26 16:04] drsounds opened #395 "Dark mode support"
## Feature Suggestion
Support Dark Mode on browsers

## Possible Implementation
Using CSS3 directives

[2020-03-26 17:10] Rugvip commented on #395
Without having dug in to this at all I would assume that material-ui themes can help out here

[2020-03-26 18:25] freben commented on #395
https://material-ui.com/customization/palette/#dark-mode

[2020-03-26 19:17] stefanalund commented on #395
I know this is something at least Spotify developers would be really happy about :)

[2020-03-26 19:29] stefanalund commented on #394
Good question! I've added the answer to the FAQ: https://github.com/spotify/backstage/pull/396

[2020-03-26 19:30] stefanalund commented on #390
I know this issue does not go into implementation details, but I'm adding this link here since people may be interested: https://medium.com/the-guild/graphql-mesh-query-anything-run-anywhere-433c173863b5

[2020-03-26 20:06] #394 closed

[2020-03-27 08:06] stefanalund commented on #366
ArgoCD uses this https://github.com/dexidp/dex -- maybe worth looking into as well.

[2020-03-27 09:10] Rugvip commented on #366
@stefanalund agreed, added to the list

[2020-03-27 13:29] katz95 opened #400 "Adding "Information Card" component to Storybook"
Would love if someone could help create this "Information Card" component to add to our Storybook (storybook.backstage.io)! 🙏

**Usage**
The information card is one of the most basic UX components that will exist in Backstage. Its purpose is to provide informational content to users. There's the option of adding a footer that includes a link to another page/site/etc. There's also the option of add

[2020-03-27 13:38] katz95 opened #401 "Adding "Pivot Card" component to Storybook"
Would love if someone could help create this "Pivot Card" component to add to our Storybook (storybook.backstage.io)! 🙏

**Usage**
The pivot card is one of the most basic UX components that will exist in Backstage. Its purpose is to provide informational content to users, while also giving them the option to interact with the dropdown under the header and switch contexts. There's the option of add

[2020-03-27 13:59] drsounds commented on #395
I made a PR #398 with a solution for this

[2020-03-27 14:25] stefanalund commented on #400
@mateusmarquezini you seem to enjoy these kinds of challenges 😜

[2020-03-27 15:10] mateusmarquezini commented on #400
haha yeah, in fact! Feel free to assign this issue to me! :smile:

[2020-03-27 15:34] katz95 commented on #306
hmm @Rugvip  there's some layering that happens with opacity, but let me try! Also, if just sent an SVG of the complete header itself (not separate elements), would that work?

[2020-03-27 19:13] fastfrwrd opened #405 "Make Error API work for any kind of Snackbar variant"
I'm thinking it may make more sense, rather than having a `ErrorApi`, just to have a general `AlertApi` or `SnackBarApi`, and have `.post()` take an optional second argument for the variant to use.

## Feature Suggestion
- Use the API pattern you have established to support other variants besides error for the Snackbar

## Possible Implementation

- Rename the ErrorApi to SnackbarApi
- Support an

[2020-03-27 19:16] Rugvip commented on #405
What do you think about adding the SnackbarApi in addition to the ErrorApi? The rationale for having a separate error API is showing a snackbar is just one of many things you might want to do with errors that are reported by plugins. The current error api implementation would then be replaced with a thing wrapper that forwards the error to the snackbar api.

[2020-03-27 20:06] freben commented on #405
Maybe not name it "snackbar" - that's an implementation detail.

[2020-03-27 20:45] Rugvip commented on #401
What's the difference between this and #400?

[2020-03-28 10:55] mateusmarquezini commented on #401
it seems the dropdown under the header, no?

[2020-03-28 11:02] Rugvip commented on #401
Not clear to me if that is the only difference though, since that could probably just be put as a feature in the InfoCard.

@katz95 is this new or is there some example of this internally?

[2020-03-28 11:56] freben commented on #401
Agreed. I would make sense for the InfoCard to support subtitles anyway, whether a dropdown or plain text.

[2020-03-29 07:28] #330 closed

[2020-03-29 16:12] Rugvip opened #407 "Core components should we written in typescript"
The following components need porting to typescript with hooks:

- [x] `layout/ContentHeader`, #425
- [x] `layout/ErrorBoundary` (class component), #426
- [x] `layout/Header`, #408
- [x] `layout/Header/Waves`, #419
- [x] `layout/HeaderActionMenu`, #425
- [x] `layout/HeaderLabel`, #425
- [ ] ~~`layout/HeaderLabel/OwnerHeaderLabel`~~ (removed)
- [x] `layout/InfoCard`
- [x] `layout/InfoCard/BottomLin

[2020-03-30 05:41] #306 closed

[2020-03-30 05:51] stefanalund opened #409 "Mockup for "Create and manage micro service" workflow"
Create and link to mockup/design for Phase 2 workflow: "Create and manage micro service". Ideally this should be a clickable Figma prototype.

[2020-03-30 06:17] stefanalund commented on #258
This is done now.

[2020-03-30 06:17] #258 closed

[2020-03-30 07:45] katz95 commented on #401
hi!! i like that idea of putting it as a feature! there's a couple of variations of this info card as well (aside from the pivot version). they were designed by Ed + Seth I believe and are included in our Backstage internal design system! included screenshots of them below.

would it be more helpful for you all if i created separate issues for these different 'features' of the card? or if i just l

[2020-03-30 08:03] stefanalund commented on #401
@katz95 I would create separate issues for those. Also, I think we can skip the Pagination Card for now since it makes most sense when combined with a data [grid component](https://github.com/spotify/backstage/issues/161). Pretty sure this card is not in used internally either.

[2020-03-30 08:14] katz95 opened #410 "Adding "Tabbed Card" component to Storybook"
Would love if someone could help create this "Tabbed Card" component to add to our Storybook (storybook.backstage.io)! 🙏

**Usage**
The tabbed card is one of the most basic UX components that will exist in Backstage. Its purpose is to provide informational content to users, while also giving them the option to switch contexts within that card. The distinction between the functionality of the "Tabb

[2020-03-30 11:43] bih commented on #382
Have you thought about setting up [Cloudflare](https://www.cloudflare.com/) as I know they do HTTPS support with GitHub Pages through proxying?

[2020-03-30 11:44] bih commented on #382
But probably for obvious reasons of reducing the number of points of failure, the simpler the "stack" the better. Maybe a vanilla GH pages URL might suffice.

[2020-03-30 11:53] soapraj opened #413 "Investigate auth0 setup"
Investigate how authentication for a backstage app be handled using Auth0 https://auth0.com/docs/

[2020-03-30 12:07] mikerhyssmith commented on #278
Just came across this when looking for a way of passing environment variables for different URLS to a plugin.

Would be happy to help out with this if there are any implementation ideas 🙂

[2020-03-30 12:10] Rugvip commented on #382
Yeah thinking it's not a catastrophe to serve storybook over http, and that we can wait for a fix from GitHub. There's even a workaround where you can rotate the cname of the apex domain to let GitHub generate cert that will then stay in place, but you need to do it every 3 months.

[2020-03-30 12:31] Rugvip commented on #413
Need to clear up the questions from #366:

- [x] Does it allow us to get authenticate a user? Yes
- [x] Does it let the user authorize actions on their behalf (OAuth)? Yes, with a custom proxy that

TBD:
- [ ] What reusable client-side packages are there?
- [ ] How do different auth providers differ from each other, and how does it impact the client-side API?
- [ ] Can we used the popup-based auth

[2020-03-30 12:39] Rugvip opened #415 "Run prettier check in CI"
## Feature Suggestion

We should run prettier checks as a part of CI, and possibly supply a yarn script for running it locally too.

## Possible Implementation

Prettier checks can take a while so would like to separate it out as a command inside each package, so that we can run it with `lerna --since` in CI.

## Context

Getting some PRs without proper code formatting, which will happen as long a

[2020-03-30 14:34] ericis opened #416 "feat(yarn): install as a local dependency"
## Feature Suggestion

Install `yarn` as a local dependency, instead of assuming to install it globally. This will also guarantee that engineers are using the same version.

## Possible Implementation

`npm i yarn -D`

## Context

Why is yarn actually required? Setup instructions require the installation of yarn globally via the yarn installer while also requiring the user to install NodeJS. Would

[2020-03-30 14:51] Rugvip commented on #416
I'll 1-up this! We're shipping the entire yarn implementation in the repo, see [.yarnrc](https://github.com/spotify/backstage/blob/0692663f9f96842c997cf00852da15b400aa0451/.yarnrc) and [.yarn/releases](https://github.com/spotify/backstage/blob/0692663f9f96842c997cf00852da15b400aa0451/.yarn/releases).

See https://classic.yarnpkg.com/en/docs/cli/policies/

[2020-03-30 17:43] Rugvip opened #418 "RFC: Navigation Targets"
# RFC: Navigation Targets

This is a proposal for new way of handling navigation and registration of plugin routes.

## Current Solution

Routing is handled through regular plain-text paths, plugins register routes themselves, for example:

[code]

To link to the plugin page, you simply link to the page by it's pathname `'/my-plugin'`, and adding a link in the app sidebar is done with

[code]

If

[2020-03-30 18:07] #358 closed

[2020-03-30 18:18] ericis commented on #415
#417 demonstrates an example of this.

*Suggest:*
- [`Prettier`](https://prettier.io/docs/en/) for consistent code styles
- [`husky`](https://github.com/typicode/husky) for Git hooks
- [`pretty-quick`](https://github.com/azz/pretty-quick) for pre-commit code style linting on staged changes

[2020-03-30 18:18] ericis commented on #415
Once you have [Husky], you can consider things like [`commitlint`](https://commitlint.js.org/) for enforcing [Conventional Commits](https://www.conventionalcommits.org/). But, that's a separate issue.

[2020-03-30 18:39] ericis commented on #375
I did a similar experiment with a NodeJS bridge between a website and local commands.

1. *The Website*

This would be the `backstage` plug-in as you've suggested. Backstage could connect to a localhost API with configuration settings provided by the engineer.

2. *Cross-Platform CLI*

Built on NodeJS and the open-source [![oclif CLI](https://camo.githubusercontent.com/fd9484ad8bb70e8f1c0f1d9d47be

[2020-03-30 19:02] toonsevrin commented on #375
Feel free to also code a nodejs implementation: If done correctly, this should all be interchangeable from the users perspective :)

With that I mean that there could be a single "action executor" plugin, and both of our implementations could deal with the ''local_command" action.

[2020-03-30 19:05] toonsevrin commented on #375
I'm moving forward with the go implementation nontheless. Within tcorp we are likely going to use our ERP (business central) as a frontend instead of Backstage for now (company policy is to integrate internal tools in the ERP, which I was about to violate), and the hook will be used for that as well (Swapping out backstage for the ERP is trivial in my design).

[2020-03-30 19:11] toonsevrin commented on #375
Recommendations for your implementation:
* make the frontend modular (take a look at my UI code if you need a place to get started), this will make upgrading from a cli to an actual frontend trivial
* Abstract away from only dealing with 'command' actions and allow different types of actions to be dealt with in the future as well.
* Authorization is a must of course (each command could be authoriz

[2020-03-30 19:27] ericis commented on #418
I like the abstraction, especially since plug-ins are an external extension to the host application. So, the app-specific abstraction (on top of React Routing) directly mirrors the design choice to support plug-ins.

If plug-ins were required to register a unique name (like npm packages), then routing could simply default to the convention of using the plug-ins package ID as the base route. If you

[2020-03-30 19:48] #365 closed

[2020-03-30 19:48] stefanalund commented on #400
Closer in #400

[2020-03-30 19:48] #400 closed

[2020-03-30 20:22] Rugvip commented on #323
@braulio-balanza are you still looking at this? Would like to reassign it otherwise

[2020-03-30 20:43] SrdjanCosicPrica commented on #415
I think you could also add [prettier-eslint](https://github.com/prettier/prettier-eslint) which, in theory, should allow a call to the lerna lint command

`yarn run lint -- -- --fix`

Instead of calling prettier explicitly

[2020-03-30 21:36] braulio-balanza commented on #323
Yeah, still working on the removePlugin command, I was just doing some
testing to make sure everything works!

On Mon, Mar 30, 2020, 2:22 PM Patrik Oldsberg <notifications@github.com>
wrote:

[2020-03-30 21:45] soapraj commented on #418
+1

I like the proposed solution for the way we abstract away string-based routing, handle metadata and being able to rename route without resorting to redirects. Other than linting for non-usage of Nav Targets, another possible use could be in e2e tests where you can have an e2e test suite run against all or few Nav Targets.

I am not sure how we would handle route uniqueness if we let the app ov

[2020-03-30 22:28] Rugvip commented on #323
@braulio-balanza awesome :grin: no stress, just checking in.

Btw, if you have something that's close to ready I think it's best to submit a PR, and we can iron out the details there!

[2020-03-31 01:00] braulio-balanza commented on #323
Ok! Sounds good!

On Mon, Mar 30, 2020, 4:28 PM Patrik Oldsberg <notifications@github.com>
wrote:

[2020-03-31 07:16] stefanalund opened #423 "yarn start fails"
[code]

## Expected Behavior

Running Backstage locally.

## Current Behavior

Does not start.

## Possible Solution

## Steps to Reproduce (for bugs)

1.
2.
3.
4.

## Context

## Your Environment

* NodeJS Version (v12):
* Operating System and Version (e.g. Ubuntu 14.04):
* Browser Information:

[2020-03-31 07:28] freben commented on #418
How does this relate to things that are subviews? E.g. `/services/my-service-id/circleci` where the last part of the URL is what the plugin contributes - and the view does need to get the previous (dynamic) part of the URL as a prop or get it out of the route, whichever applies.

I am not sure I understand how this solves redirects. Redirects are there for external links to your app to not break;

[2020-03-31 07:29] freben commented on #418
I just want to also reiterate that what we will base routing on, is extremely likely to be react-router 6, with its changed way of how hierarchical routing works.

[2020-03-31 10:30] Rugvip commented on #418
Thank you for the comments!

@ericis Yeah I like the idea of providing some guarantee of uniqueness without having to manage it manually. We need to keep in mind that there is a benefit to the paths being human readable and easy to dictate to someone though. Maybe getting the plugin id in there could make sense.

@ericis Regarding StencilJS routing, we're currently using [react-router](https://rea

[2020-03-31 10:46] drsounds commented on #395
Hi, I have made a commit today and yesterday on my PR #398 but it seems it haven't got any review yet.

[2020-03-31 11:07] stefanalund commented on #395
@drsounds thanks a lot for those. We are discussing how to introduce dark mode across the system. It has implications on all plugin developers and we want to make sure we have thought this through properly before we merge your PR. I hope you are ok with this taking a bit longer than normal. 🙏

[2020-03-31 11:09] drsounds commented on #395
Great,

Does that mean I will have to make further changes to comply with the decisions you take on dark mode implementations?

[2020-03-31 11:28] stefanalund commented on #423
I tried removing `node_modules` and did a fresh restart of `yarn install && yarn start`. No dice.

[2020-03-31 12:00] Rugvip opened #427 "Add `yarn clean` clean, which cleans up all build output"
## Feature Suggestion

Add a `yarn clean` command to the root package and any package with build output

## Possible Implementation

Clean command that deletes the build output. I think we could rely on a single dependency in the root package for the remove command, such as rimraf.

## Context

Should be useful for troubleshooting build issues and when working on the CLI build tooling.

[2020-03-31 12:28] stefanalund commented on #423
nuking the whole project folder and pulling it down again solved the problem

[2020-03-31 12:28] #423 closed

[2020-03-31 12:33] Rugvip commented on #423
💣 💥

[2020-03-31 13:49] Rugvip commented on #416
@ericis Do you agree what I mentioned solves the problem you highlighted?

[2020-03-31 18:29] bih opened #431 "RFC: Keyboard Shortcuts API"
_This is mostly based on empirical knowledge (and some inspiration from Visual Studio Code) rather than any scientific or user experience evidence, so please do chime in. I would love to hear from you. This will definitely iterate over many rounds of comments and will likely change significantly._

Being able to navigate across Backstage with keyboard shortcuts is more productive for regular users

[2020-03-31 20:00] paulpach opened #432 "Fail to compile if I rebuild yarn.lock"
Cypress is pulling up mocha and jest which are conflicting with each other.

to reproduce:
[code]

It fails to build with this error:
[code]

We have to remove yarn.lock because it is pointing to https://registry.npmjs.org/ which we can't access from our CI/CD environment.

[2020-03-31 22:01] Rugvip commented on #407
Only InfoCard that isn't WIP, so can assign this issue if anyone wants to look at that.

[2020-04-01 00:56] mateusmarquezini commented on #432
Hmm.. This issue looks similar with #423 .

[2020-04-01 03:23] jacace opened #436 "docker build of latest source not working"
PLease find the error log below.
What am I doing wrong? I am running Linux containers on Windows 10, not sure if this makes a differenve since I can correctly build and run other Linux containers.

Sending build context to Docker daemon  8.319MB
Step 1/16 : FROM node:12 as builder
12: Pulling from library/node
56da78ce36e9: Pull complete

[2020-04-01 06:10] stefanalund commented on #432
@marcuseide seems related to the e2e tests that was recently added.

[2020-04-01 07:21] marcuseide commented on #432
Ok, going to take a closer look at https://github.com/cypress-io/cypress-and-jest-typescript-example.

[2020-04-01 08:56] hooloovooo commented on #407
I can take on InfoCard. :)

[2020-04-01 08:57] Rugvip commented on #407
@hooloovooo thanks!

[2020-04-01 10:10] drsounds commented on #395
I created a new PR #430 for dark mode because the old was messed up. But it doesn't build on CLI Test due some kind of weird node error, but everything works on my computer, look in the comments of the PR

[2020-04-01 10:40] Rugvip commented on #395
@drsounds hoping to solve the build issues with #438

[2020-04-01 10:41] drsounds commented on #395
Ok so when this is fixed, I will have to make a new PR or can you merge the current one when reviewed pass?

[2020-04-01 11:20] Rugvip commented on #395
@drsounds Best would be to update the existing PR. Afaik you should have a sync button on the PR, otherwise there's https://stackoverflow.com/questions/53199291/github-how-to-keep-your-forked-repo-in-sync-with-the-original-while-updating-t

[2020-04-01 11:54] drsounds commented on #395
There is no syc button and I tried out the instructions on StavkOverflow but it fails anyway

[2020-04-01 14:01] Rugvip commented on #436
The root cause is the line endings in the `packages/cli/bin/backstage-cli` file. With CRLF line endings (from the host) executed in linux (in the build container), the shebang gets interpreted as `node\r`.

Tbh I don't know if we can provide a solution for you in the repo. One thing you can do is to modify the `autocrlf` setting in git to stop it from converting LF to CRLF when checking out code:

[2020-04-01 15:52] Rugvip commented on #416
#441 is an example of how we would bump the current yarn version

Closing this for now, please let so know if we missed something.

[2020-04-01 15:52] #416 closed

[2020-04-01 16:16] jacace commented on #436
thanks for the reply @Rugvip
I replaced CTRLF with LF and now I am getting a different message:
**fatal: Not a git repository (or any of the parent directories): .git**
Note: I am assuming all warnings are not critical.

The folder in the host is in fact a git repo after I do git clone. Am I doing anything wrong?

Complete build log below.

Thanks,

docker build . -t spotify/backstage
Sending buil

[2020-04-01 16:33] Rugvip opened #443 "Remove build step from Dockerfile"
## Feature Suggestion

Remove the initial build step in the Dockerfile and depend on that being run on the host.

## Possible Implementation

Remove the first step in the multistage build, copy contents from app build output instead.

## Context

Running the build inside the docker is pretty finicky. There are a lot of individual files to copy in and it makes the build pretty fragile. It is also r

[2020-04-01 16:34] Rugvip commented on #436
Created #443 to suggest that we remove the initial stage, as I think it's causing more trouble than it's worth.

The issue you're facing is that the CLI expects a git repo to be present, but we don't have that in the container during the build. It could be solved, but meh, don't think it's gonna be the last issue with the build container.

[2020-04-01 17:48] jacace commented on #436
thanks @Rugvip
I really appreciate your help.

I am thinking of a quick workaround until this multistage Dockerfile gets split officially,

I will try out building the build image first and then interactively use it to build the backstage docker image. I will update my findings here.

If you have any quick workaround please let me know ;)

Thanks

[2020-04-01 19:07] #287 closed

[2020-04-01 20:45] paulpach opened #444 "Tests are disable and failing in master"
when your github action runs:
https://github.com/spotify/backstage/runs/552952974?check_suite_focus=true

The tests don't run in master because you have --since origin/master
[code]

If I remove --since origin/master to run all tests,  the tests are failing with:
[code]

[2020-04-01 21:23] Rugvip commented on #444
#445 should fix the master build not running tests and lint properly.

The tests are actually fine though, but you need to build first. Made that part of the root test script in the PR as well, but would like to merge that into tests or remove the need.

[2020-04-01 22:33] Rugvip commented on #289
@lepasq Thanks! This is a tricky one though, and blocked by #366 (updated this issue). Please chime in to the discussion there if possible! Other than that I think it's best to look at [other](https://github.com/spotify/backstage/issues?q=is%3Aopen+is%3Aissue+label%3A%22help+wanted%22) issues for now.

[2020-04-01 22:34] Rugvip commented on #348
Waiting for #366 to be determined before we move on with this issue

[2020-04-02 05:46] #432 closed

[2020-04-02 10:09] #444 closed

[2020-04-02 10:42] #296 closed

[2020-04-02 11:02] stefanalund commented on #401
I'm in favour of closing this issue @katz95 until we know the Pivot Card is useful. WDYT?

[2020-04-02 11:25] stefanalund opened #448 "Document how to contribute to Storybook"
## Feature Suggestion

Document how to contribute to Storybook as well as how to run it locally.

## Possible Implementation

A new Markdown file in `/docs` linked to from the main Documentation section in the README.

## Context

Having good documentation will increase the likelihood of someone helping to create and maintain components.

[2020-04-02 11:26] stefanalund commented on #448
@katz95 @mateusmarquezini FYI

[2020-04-02 11:26] stefanalund commented on #448
@mikqi

[2020-04-02 11:27] katz95 commented on #401
Sure, I'm okay with that!

[2020-04-02 11:27] #401 closed

[2020-04-02 12:02] katz95 opened #450 "Change Storybook background color (behind the components)"
Would love if someone could modify the background color behind the Information Card component in Storybook (and future components as well) to the current background color in Backstage, which is #F9F9F9. Currently my eyes are strugging a bit to see the component, haha! Let me know if that's even possible. 🙏

<img width="481" alt="Screenshot 2020-04-02 at 1 59 30 PM" src="https://user-images.githubu

[2020-04-02 12:05] jacace commented on #436
Hello @Rugvip

I setup the local environment and was able to build the stage 1 successfully.
For the stage 2, the following line fails becaus ethe folder build does not exist
COPY app/packages/app/build /usr/share/nginx/html

Under /app there is only:
app
cli
core
storybook

And under /app/app there is only:
README.md
cypress
cypress.json
node_modules
package.json
public
src
tsconfig.json

I tried

[2020-04-02 12:13] marcuseide opened #451 "Tests fail for App if imported plugins are exported on the same line"
## Expected Behavior

Plugins are being exported to the App In `app/src/plugins.ts`.
A plugin should be able to be exported with an import on the same line using ES6 syntax without test failing.
[code]

## Current Behavior

Currently, plugins are first imported, then exported:
[code]

Otherwise, `App.test.js` will fail with:

[code]

The reason for the above error is that the exports in `plugins.t

[2020-04-02 12:17] marcuseide opened #452 "Add documentation for create-app"

[2020-04-02 13:30] aexvir opened #454 "RFC: Service discovery backend"
## Context
In our company we developed a really similar platform as `backstage`, and in our case we started by taking the services as the root of all connections. If we want to start considering `backstage` as an option, having a backend able to discover all our services it's a must.

## Feature Suggestion
We have two ways of adding a service, by manual input, using some forms, or by detecting a `

[2020-04-02 13:33] aexvir commented on #454
In this case, we would like to develop such backend, and make it available also as open source software. We would do it most probably in Go, probably not important, but I just want to know if there is some concern about this choice.

[2020-04-02 13:50] jonasgroendahl opened #456 "Add dependency to plugin"
I'm trying add a npm package to a newly created plugin but seems like unable to. I think I'm doing it wrong.

## Expected Behavior
I should be able to add a package and use it

## Current Behavior
I get a giant stack trace

## Possible Solution
Create some docs on how to add third party libraries

## Steps to Reproduce (for bugs)
1. add new plugin
2. cd into new plugin's folder
3. yarn add react-m

[2020-04-02 15:00] paulpach commented on #443
I'll take it, PR coming soon.

[2020-04-02 15:42] Rugvip commented on #443
@paulpach Thanks, but hold up! This is already in review: #446

Dunno why GitHub didn't pick up the link, guess it has to be in the original PR body?

[2020-04-02 16:53] hmartinez69 commented on #450
@katz95 @stefanalund  : PR #458 for this issue

[2020-04-02 17:31] Rugvip commented on #436
@jacace, should be fixed by #446 which is now merged.

Try updating master and running `yarn docker-build` in the repo root.

[2020-04-02 17:32] Rugvip commented on #443
Fixed by #446

[2020-04-02 17:32] #443 closed

[2020-04-02 18:20] jacace commented on #436
Hello @Rugvip

I just removed my dir and created a new one for a fresh git clone but got the error below.
Maybe is it related with permissions or a missing file?

git clone https://github.com/spotify/backstage.git
Cloning into 'backstage'...
remote: Enumerating objects: 23, done.
remote: Counting objects: 100% (23/23), done.
remote: Compressing objects: 100% (23/23), done.
remote: Total 8673 (delt

[2020-04-02 18:25] stefanalund commented on #450
Closed in #458

[2020-04-02 18:25] #450 closed

[2020-04-02 18:26] Rugvip commented on #436
@jacace, right, gotta run "yarn install" first too 😁

[2020-04-02 21:08] jacace commented on #436
thanks @Rugvip
I can build it and run it now.
I was not familiar with yarn but I'm glad I got to learn something new ;)

Now I will go t through the instructions to create a plug-in
https://github.com/spotify/backstage/blob/master/docs/getting-started/create-a-plugin.md

[2020-04-03 00:06] mateusmarquezini commented on #448
Feel free to assign it to me if you want! 🥳

[2020-04-03 06:31] bih commented on #431
@backstage/core any comments/feedback?

[2020-04-03 08:18] bih commented on #431
@spotify/backstage-core any comments?

[2020-04-03 09:07] chris-nolan commented on #410
Hey, really like the project and keen to get involved. This looked like as good a place as any to get started! Had a couple of questions though:

1. Should a new Card be based off the existing InfoCard? It seems like things like the bottom link and card actions should be available and consistent across all Card types.
2. If we go with InfoCard then what is the state of that component? It isn't in

[2020-04-03 09:22] katz95 commented on #410
Awesome questions, and I appreciate your enthusiasm!! @chris-nolan 🥳

1. Yes, these two components should be consistent in the footer actions
2. Hmm I'm not sure how to best answer that rn, lemme see if i can find someone who can address that better than I can
3. Yes, following the material-ui pattern would be great 🙏

[2020-04-03 09:31] drsounds commented on #395
Ive now made some fixes and now the CLI passed so could you have a look?

[2020-04-03 09:36] hooloovooo commented on #410
I'm already working on this one. It's based off of the #440 branch.
I'm trying to figure out a lot of these things as well. Going with your suggestion would give us a veeery thin layer on top of material-ui that mostly contains styling. It might be the way to go though.

[2020-04-03 09:38] katz95 commented on #410
ahhh okay let me assign you @hooloovooo 👍 do you know how to address question no. 2? if i'm interpreting it correctly it seems more from the dev perspective haha

[2020-04-03 09:48] hooloovooo commented on #410
@katz95 Yup it's dev stuff. I think i've got some ideas on how to do that, and hopefully people will have opinions when i send in a PR as well. :)

[2020-04-03 11:11] stefanalund commented on #410
@katz95 maybe you have another similar task for @chris-nolan to pick up?

[2020-04-03 11:13] riginoommen commented on #382
I am looking for this currently i am trying to deploy this on heroku

Fork is here - https://github.com/riginoommen/backstage

[2020-04-03 11:17] stefanalund commented on #382
@riginoommen nice! I assigned you for now.

[2020-04-03 11:53] riginoommen commented on #382
This will be the herouku URL i am trying with deployment - https://backstagerigin.herokuapp.com/

[2020-04-03 12:00] #456 closed

[2020-04-03 13:53] drsounds commented on #395
I now see you have merged my commits! Yeah!

My question, is there some kind of CONTRIBUTORS list I can add my name (Buddhalow) to?

[2020-04-03 13:55] Rugvip commented on #431
Thanks for the RFC!

Gonna preface this with that this is going to be pretty low prio as we don't really see a need to get this shipped early on and there are many other APIs that we'd prioritise. That said it's still good to get the discussion going :grin:

I'm interested in how `onKeyboardShortcutPress` would work, is it a react-hook? Should be something similar to the feature flags API.

### Co

[2020-04-03 15:00] Rugvip commented on #278
[This](https://github.com/spotify/backstage/blob/691616efe1d71596506d971a5bf96ec59b4fdcf0/packages/app/src/apis.ts#L39) is the recommended solution for this atm.

Use `process.env.NODE_ENV` checks inside `apis.ts` if you want different config for dev/prod. We'll likely bring in an `env` API soon that makes that a bit simpler.

Then we'll likely continue exploring ways of supplying plugin config as

[2020-04-03 15:03] bih commented on #431
Makes sense! Is there any particular tag this should be to indicate its priority? If so, feel free to tag. The reason I decided to create an RFC is because @stefanalund asked me directly about it. I don't plan on working on this anytime soon but would leave it here if anyone else wanted to pick up / discuss 😄

Technically yes, although under the hood it can be non-React code. I see the hook as a w

[2020-04-03 15:27] Rugvip commented on #431
If it's a custom hook, it should be prefixed with `use`, or everyone's gonna have a bad time ⛷

I'd expect a simple hook implementation to look something like this:

[code]

I meant the feature from the previous point, orgs enabling shortcuts by default in the app.

[2020-04-03 15:38] ericis commented on #416
No @Rugvip it really doesn't quite solve it. The project is using an extension of yarn to lock the version of yarn, which still requires a global installation of yarn, which shouldn't be required.

Since engineers have to have NodeJS, I was suggesting that this project install yarn as a development dependency using `npm i yarn -D` (adding it to the `./package.json`).

**Goals:**
- eliminate yarn a

[2020-04-03 15:49] Rugvip commented on #416
@ericis ok, happy to review the PR, some things are easier to explain with code :grin:

[2020-04-03 16:28] bih commented on #431
Ah yes, my bad - totally slipped that I used `on` instead of `use` :P good catch. In terms of the org enabling shortcuts, that makes sense for common/app shortcuts. I think the sharing configurations was more for the plugin shortcuts, but that might be adding premature complexity so probably not worth adding in the first iteration of this.

[2020-04-03 17:38] ericis commented on #416
The suggested fixes are provided in PR #468

[2020-04-03 17:57] ericis opened #469 "Avoid PR rebuild after text edit"
Simply editing the text of a PR causes Actions to kick-off CI and tests.

## Expected Behavior

Editing text of a PR would not initiate Actions. *Unless the actions are verifying something about the comment, but then they don't need to run the entire pipeline.

## Current Behavior

[see above]

## Possible Solution

Is this possible? Is it possible to ignore something like "pull_request edited"?

[2020-04-03 18:13] ericis commented on #431
@bih if there are future plug-ins for embedded [VS Code](http://code.visualstudio.com/), [Theia](https://theia-ide.org/) or other editor, these shortcuts might then cause conflicts.

Perhaps it would be better to leave shortcuts out of Backstage and instead wait for plug-ins to evolve further to better understand the options? Of course, waiting could also mean never being able to implement shortcu

[2020-04-03 19:46] bih commented on #431
That’s awesome! Yeah definitely can be a part of this

[2020-04-04 07:17] Rugvip commented on #469
Yeah that makes little sense, good catch!

Fixed in #470

[2020-04-04 07:31] braulio-balanza commented on #451
@marcuseide it might have something to do with the order of imports and exports. I printed the value of the variable plugins in App.tsx and gave me this:
[code]
it is being imported from plugins.ts before they have any value. I don't know if that was what you were referring to.

[2020-04-04 07:45] freben commented on #451
@braulio-balanza Right, that's the symptom we were seeing - question is why, and why only in tests, and what to do about it.

[2020-04-04 07:46] #469 closed

[2020-04-04 10:17] drsounds opened #471 "Dynamic load apps without recompiling"
It should be possible to dynamic load apps without recompiling and also be able to support apps in other frameworks than just React.js. There is a suggestion for that on your discord from a company who are interested in Backstage but uses Vue.js
## Feature Suggestion

## Possible Implementation

New JS Import API that works in modern browser
## Context

[2020-04-04 11:30] freben commented on #471
This sounds like two separate issues.

Embedding vue in react is possible using e.g. [vuera](https://github.com/akxcv/vuera), but it's of course not optimal. The core of Backstage is and will remain react + mui based.

[2020-04-04 17:43] katz95 opened #472 "Adding "Side Navigation" component to Storybook"
Would love if someone could help create this "Side Navigation" component to add to our Storybook (storybook.backstage.io)! 🙏

![emptystate](https://user-images.githubusercontent.com/61153904/78457453-8e2c3080-76aa-11ea-9be0-2e377eb3fd8e.gif)

**Usage**
This side navigation is a crucial part of the user experience for Backstage users. It is pinned to the left side of the app UI and expands upon hov

[2020-04-04 17:49] katz95 commented on #472
In accordance with [NN/g's guidance on timing for exposing hidden content](https://www.nngroup.com/articles/timing-exposing-content/), please delay the expansion of the side nav by **300 milliseconds** after the user first hovers on the side nav. _When the user moves their mouse off of the expanded side nav, immediately close the side nav._

[2020-04-04 21:26] stefanalund commented on #472
Love this! But I don’t think it’s a component that should go in the Storybook since it will be part of the core Backstage app and not a reusable component.

[2020-04-04 21:45] Rugvip commented on #472
@stefanalund I think we'll likely end up with a couple of sidebar-related components to build up the app Sidebar: items, submenus, dividers, maybe different popups. Will probably be useful to have storybook documentation for those

[2020-04-05 08:31] yagnik commented on #390
This is AMAZING! Thanks for doing this. We have built something similar at Farfetch and would love to contribute here. Some questions:
- Would the "API" here only list networked services or would it include libraries ?
- At what level would we assign ownership (human or group or other machines maybe )?
- Some prior art comes from cmdb which try to capture only physical resources, are we limiting b

[2020-04-05 12:20] freben commented on #390
Internally at Spotify, we track a growing number of kinds of thing. The focus has been on software components of various types - services, websites, libraries, data pipelines, machine learning models etc. But it is also extending onto other types of software-or-system-like things, not necessarily created by us. For example, our internal Jira installation is owned and operated by a team, and that f

[2020-04-05 12:39] mbruggmann commented on #390
Likely both. As per @freben's answer, we track many different types of software components, but think it's particularly useful to identify APIs that form boundaries between systems. The need for code interfaces as APIs has also come up in internal discussion (eg in application frameworks or large applications such as our mobile clients), I'll update the issue with a formulation that is more inclus

[2020-04-05 12:59] mbruggmann commented on #454
@aexvir Agree that we should do something in this space. We started discussing the model we want to use in this issue: #390.

One thing I'm curious about: How do you see this interacting with source repositories, eg Github/GHE or Gitlab? Because I think these as very related. We'd have some type of service with a REST or gRPC API that stores what entities exist, and some integration with version c

[2020-04-05 14:29] soapraj commented on #451
I tried repro-ing this issue with a similar setup with react-script, jest and ts [here](https://github.com/soapraj/jest-exp)

The exports seem to work and I can see that the plugins object is a valid one

[code]

If I change the lines in plugins.ts  to
[code]

then the plugins object in App.tsx looks like this
[code]

[2020-04-05 15:03] stefanalund commented on #472
@Rugvip that is a good point. I wonder if this Issue should be broken up into smaller issues to make it easier to pick up and work on in parallel.

[2020-04-05 19:22] stefanalund commented on #395
We really appreciate your contribution @drsounds -- but we have not (yet) set up a page like that. Will of course include you if we do!

[2020-04-05 19:22] #395 closed

[2020-04-05 19:58] dpinol opened #479 "COPY failed: stat /var/lib/docker/...packages/app/build: no such file or directory"
Hi,
```docker build``` fails on my machine (docker 19.03.8, ubuntu Ubuntu 19.10)
[code]
## Expected Behavior
No error

## Current Behavior
COPY failed: stat /var/lib/docker/tmp/docker-builder052570233/packages/app/build: no such file or directory

## Steps to Reproduce (for bugs)
[code]

## Your Environment
* NodeJS Version (v12): v12.16.1
* Operating System and Version (e.g. Ubuntu 14.04): Ubuntu

[2020-04-05 20:06] freben commented on #479
Sounds like you didn't build the project first. The canonical way of building it is `yarn docker-build`, would you mind trying that?

[2020-04-05 20:48] stefanalund commented on #407
Done. Thanks all that helped!

[2020-04-05 20:48] #407 closed

[2020-04-05 20:51] stefanalund commented on #170
Any update on this issue?

[2020-04-06 05:01] #471 closed

[2020-04-06 06:58] #452 closed

[2020-04-06 08:37] stefanalund commented on #345
Link to video showing this use-case: https://www.youtube.com/embed/U1iwe3L5pzc

[2020-04-06 10:14] dpinol commented on #479
it worked thanks!

[2020-04-06 10:14] #479 closed

[2020-04-06 10:39] aexvir commented on #454
Hi there @mbruggmann

Yes, the relation between repository and service is essential, and it's also core of our implementation. What we have is a django app, with a periodic task that scans all the repositories of our internal GitLab and updates the info in its own PosgtreSQL database.

That can be enhanced by using [system-level hooks](https://docs.gitlab.com/ee/system_hooks/system_hooks.html), th

[2020-04-06 12:05] #448 closed

[2020-04-07 00:05] fastfrwrd opened #488 "[cli] pass `backstage-cli test` command line arguments to `web-scripts test`"
## Feature Suggestion
When I run `yarn test Intro` on the lighthouse plugin, I hope to have the behavior to web-scripts, which passes all of the arguments that web-scripts doesn't interact with directly onto Jest, meaning that I filter to just run the test I meant to run. Today, it seems to swallow that stuff.

[2020-04-07 06:30] zhyu opened #489 "Failed to create a buildable app with backstage-cli create-app"
I tried to use `backstage-cli create-app` to create a new application, but the created application is not able to build.

## Expected Behavior

* `backstage-cli create-app` command should execute successfully
* the created application should be able to build and start

## Current Behavior

* `backstage-cli create-app` command failed since `yarn build` failed
*  the generated application is not abl

[2020-04-07 10:11] Rugvip opened #495 "CLI E2E test should include create-app"
# Feature Suggestion

The [cli e2e test](https://github.com/spotify/backstage/blob/1b49cd1f501d22fe056bd06ed47638d80b548004/scripts/cli-e2e-test.js#L40) should use the create-app to scaffold a completely new app, and create the plugin inside it instead.

## Possible Implementation

Extend the existing script

## Context

We want to make sure the create-app command doesn't break

[2020-04-07 11:36] Escalion commented on #170
Apologies its been a crazy couple of weeks - still trying to catch up on jobs. I will get to it as soon as I can.

[2020-04-07 12:09] stefanalund commented on #170
Thanks for the update @Escalion -- no worries at all, we are just happy that you're willing to put time on it :)

[2020-04-07 20:21] NetPenguins commented on #427
Hey there, wanting to get started on contributing to your project here. So I know we can call rimraf inside of root/package.json and direct that to node_modules which should cover all bases. Am I understanding this correctly?

[2020-04-07 21:26] fastfrwrd opened #514 "[plugin-lighthouse] create empty states to help guide new users"
users of the plugin-lighthouse will either be faced with:

- the Lighthouse plugin which isn't yet correctly hooked up to lighthouse-audit-service
- a brand new instance of lighthouse-audit-service with nothing in it

both of those scenarios aren't really handled yet in the plugin, though the Intro component is a good start.

## Feature Suggestion

- Create a view that populates AuditList when the

[2020-04-07 21:34] fastfrwrd opened #515 "[core] extract a PluginIntro"
The Lighthouse Plugin has an Intro component which shows off portions of the README and a link to the blog. We should consider making this part completely free for plugin authors with a super-smart core component.

## Possible Implementation
- use react-markdown, a markdown AST solution, and some kind of rollup setup to allow imports of the markdown README to avoid docs drifting out of date
- impl

[2020-04-08 07:11] Rugvip commented on #489
Thanks for reporting! These issues should be addressed in https://github.com/spotify/backstage/pull/511, so the `alpha.3` release should contain the fixes once it's out.

We're currently working on https://github.com/spotify/backstage/issues/495 to avoid breaking the `create-app` command.

[2020-04-08 07:25] Rugvip commented on #488
👍 , we haven't quite figured out the model for the cli commands args/help, but I imagine we can already settle on only jest for tests and forward all args.

[2020-04-08 08:38] stefanalund commented on #514
@katz95

[2020-04-08 12:53] #210 closed

[2020-04-08 16:21] fastfrwrd commented on #514
another notable empty state: what should we see in the columns with sparklines for a website that's having its first audit run right now? For now I'm just leaving them empty and adding some padding to keep the table row heights consistent.

<img width="1695" alt="Screen Shot 2020-04-08 at 12 19 27 PM" src="https://user-images.githubusercontent.com/231133/78808525-86fb7000-7993-11ea-93f2-60f064f277

[2020-04-08 16:25] fastfrwrd opened #522 "[plugin-lighthouse] automatically poll for updates on RUNNING audits"
## Feature Suggestion

When an audit is running in the application, I want to see updates without having to manually refresh. This would mean that we could have the Create Audit redirect go to the AuditView without it feeling too weird.

## Possible Implementation

- when an audit is found to be running, create an effect which keeps requesting it
- maybe restructure the data in the plugin to use a

[2020-04-08 16:39] Rugvip opened #523 "Use `plugin` as export from plugin packages instead of `default`"
Right now we're using the default export to export the plugin instance form plugin packages, i.e. something like

[code]

This makes rollup unhappy when exporting more things for the plugin, and is not very future-compatible.

I think it would be better to switch to `export const plugin = createPlugin(...)`.
That way we can have more exports without rollup complaining, and we're in a better state

[2020-04-08 22:25] Rugvip commented on #427
Discussion ongoing in #524, should I assign this to you @NetPenguins?

[2020-04-08 23:43] codypenta opened #525 "npx @backstage/cli create-app fails: describe is not defined"
Following the getting started blog here: https://github.com/spotify/backstage/blob/master/docs/getting-started/create-an-app.md

`npx @backstage/cli create-app`

The command fails to create a new app and throws a 'describe is not defined error`

## Expected Behavior

npx @backstage/cli create-app should bootstrap new app

## Current Behavior

npx @backstage/cli create-app fails to create new app m

[2020-04-09 08:01] braulio-balanza commented on #489
Any suggestions on how to get rid of the circular dependencies?

[2020-04-09 09:29] braulio-balanza commented on #525
The error seems to be in the /node_modules/@backstage//cli/dist/index.js. It is using a "describe" function when it is not a test file, and eslint is not ignoring /dist. Delete it and that error wont come up. However, the build command still doesn't run because eslint is looking for the legal notice on top of every file.

[2020-04-09 10:41] jeffersongirao commented on #345
@stefanalund sorry for the long delay in answering this. Yes, I think it would be nice if we could model things here in an event driven way. That would allow people to hook on certain events to provide "backend" plugins in the most decoupled way as possible.

I was thinking about Kubernetes plugin model: there you have resources, a discrete set of events are emitted for CRUD operations on them, ot

[2020-04-09 12:34] Rugvip commented on #525
Some fixes in #527 and #528, and I believe we need #526 merged too.

Really need #495 in place 😅. `create-app` is still very new and things are moving fast, no things will keep breaking until the test is in place.

[2020-04-09 12:41] mbruggmann commented on #345
@jeffersongirao What do you think about my proposal of making component creation PRs instead of deploying directly to production? Because in that case, you can rely on existing events (eg from Github) and CD pipeline tooling on merge rather than introducing a Backstage-specific event system for this.

[2020-04-09 13:10] stefanalund opened #530 "Storybook doesn't import theme properly"
The Backstage theme is not reflected in the Storybook, making the components look off. Components that try to import the theme even fails:

<img width="1108" alt="Screenshot 2020-04-09 at 15 02 18" src="https://user-images.githubusercontent.com/190856/78898210-b97c9a00-7a73-11ea-92bc-272ff2f93d21.png">

## Expected Behavior

Components should render identically in Storybook as in normal Backstage

[2020-04-09 13:30] jeffersongirao commented on #345
Hey @mbruggmann! I think it makes sense to support both strategies when adding a new component. I think it depends a lot on what the organization using backstage will favor, creating an entire new repo or adding a PR to an existing one.

I think that is an argument about detaching the concept of adding a component to backstage from actually creating a repository. In the event of a component being

[2020-04-09 13:47] freben commented on #345
Making autoregistration work could be a separate optional thing either way, all else being equal. But I like that idea too.

In my mind, the scaffolder would essentially have many small single-purpose workers (pluggable, not knowing of each other) that collaborate to fulfill the parts of a "recipe". So the creation of a repo is one step that can be left out, and the generation of handlebars popula

[2020-04-09 13:51] #525 closed

[2020-04-09 13:56] Rugvip commented on #489
@braulio-balanza what circular dependencies?

[2020-04-09 14:21] mbruggmann commented on #345
I'm still wondering if the scaffolder should basically only be able to open PRs. Everything else would be SCM-driven (including keeping the inventory system in sync). That keeps the Backstage part much more contained. The flow would be something like this:

1. User goes through the new component flow in Backstage
2. If the user wants to create a new repo, an empty one can be created by Backstage (

[2020-04-09 14:29] freben commented on #345
How do you see this interacting with the creation of related resources such as a cloud project, database etc? In the cases where that could be relevant. Other processes that pick up on files created by this initial PR?

[2020-04-09 14:30] freben commented on #345
Internally, as we dogfood this, we will want it to for example map a role to a project, and signals to evict caches etc.

[2020-04-09 14:34] mbruggmann commented on #345
Yes, I think resources should be allocated in whatever process the company is using. Preferrably through the CD pipeline (like deploying manifests to Kubernetes, or applying Terraform).

[2020-04-09 18:30] braulio-balanza commented on #525
I am still getting the same errors. ```yarn install``` installs a version of @backstage/cli that does not reflect the merges. The problem also seems to be in the npm package registry. [You can check it here.](https://npm.runkit.com/%40backstage%2Fcli)
![Screenshot from 2020-04-09 13-25-50](https://user-images.githubusercontent.com/62359443/78928239-e3c75b00-7a65-11ea-821a-b392ed4007ab.png)
 Probab

[2020-04-09 18:31] Rugvip commented on #525
@braulio-balanza yeah it needs a new release. The version is master isn't fully working though so I think we could hold off a bit.

[2020-04-09 20:08] freben commented on #345
Hm. While I approve of the idea as such, I'm a bit hesitant, given how diverse the adopting organisations will be. Many likely won't already be webhook driven and ready to implement side effects (besides the basic putting of files in a repo) themselves elsewhere.

Would we still as a platform provide a good default place to put such reactive code? Imagine that we as Spotify were outsiders and adop

[2020-04-09 20:18] freben commented on #345
Of course it could be argued that it could live inside the build step, executed by the CI/CD system - we could extend the Tingle base images or similar with bespoke code.

But what I'm reaching for, is that if we provide an inventory system, it could come with the plugin code that deals with registration into itself, and you would jack it onto your scaffolder as a oneliner. And you could write a m

[2020-04-09 21:33] felipebragazup commented on #525
same problem here

[2020-04-09 23:34] braulio-balanza commented on #489
Hmmm, like ```../../node_modules/@backstage/core/dist/cjs/api/index.js``` referencing itself after a chain of exports in that last error? After some research it seems that node is fine with this, but they sometimes cause problems, like here maybe?

[2020-04-10 04:27] zhyu commented on #489
It seems `alpha.3` is released, so I gave it a try:
[code]

Didn't get enough information to debug, so I tried to run `backstage-cli` from the latest master:
[code]

[2020-04-10 08:03] mbruggmann commented on #345
Good points. I think we should have an answer to those, but maybe don't tie it strictly to the scaffolder?

It'd be nice to have an event stream where we can hook an external service into inventory updates. If the inventory listens to updates in SCM, this would get triggered if new components get created by the scaffolder. This is in line with what @jeffersongirao described as far as I understand.

[2020-04-10 09:49] Rugvip commented on #345
@mbruggmann I think one thing to consider with scaffolding vs declarative approach is that the declarative approach is supposed to stay in sync, while scaffolding is a one-shot thing. That makes adding new templates to scaffolding waaaaaay easier, as there's no need to write logic for how to reconcile your desired state with the your actual state of the system. By creating resources through PRs, I

[2020-04-10 14:31] braulio-balanza commented on #489
@zhyu it seems to be a problem with the npm @backstage/cli package. Check #525

[2020-04-10 14:39] mbruggmann commented on #345
@Rugvip Not sure I follow. As I see it, we are talking about three use-cases here:
1. Create components from cookie-cutters (or similar), through a UX flow in Backstage. The result should end up in the SCM of choice.
2. Keep the inventory service in sync with all components in SCM, including new ones created from 1.
3. Trigger other, possibly company-specific actions for "new" or "updated" compone

[2020-04-10 15:19] #523 closed

[2020-04-11 13:42] stefanalund opened #531 "Localhost fails on Safari"
Safari:
<img width="1552" alt="Screenshot 2020-04-11 at 15 39 18" src="https://user-images.githubusercontent.com/190856/79045312-b7990f00-7c0a-11ea-80b7-c03c52d47c34.png">

Chrome:
<img width="1552" alt="Screenshot 2020-04-11 at 15 39 10" src="https://user-images.githubusercontent.com/190856/79045317-bbc52c80-7c0a-11ea-886c-2c8a7a03b7c9.png">

## Expected Behavior

## Current Behavior

<img width=

[2020-04-11 20:04] freben commented on #531
@drsounds

[2020-04-11 20:11] freben commented on #531
https://developer.mozilla.org/en-US/docs/Web/API/MediaQueryList

Does not inherit from EventTarget on safari, may have to use addListener there instead of addEventListener

[2020-04-12 06:34] OrkoHunter commented on #531
Hi @freben @stefanalund @drsounds, I've created https://github.com/spotify/backstage/pull/534 for this issue. 🙏

[2020-04-12 06:44] OrkoHunter opened #535 "Deploy app for a new Pull Requests for quality assurance"
## Feature Suggestion

When Pull Requests make breaking changes (UI, build, etc.), screenshots are a good way to help reviewers merge PR with confidence. (We already have this.)

However, for build fixes like https://github.com/spotify/backstage/pull/534, it will be nice to have the branch deployed somewhere on web and the reviewers can visit the link and test the changes!

## Possible Implementat

[2020-04-12 06:46] OrkoHunter commented on #535
If this feature makes sense, I volunteer to help! 🙋‍♂️

[2020-04-12 06:54] #531 closed

[2020-04-12 09:17] stefanalund commented on #535
@OrkoHunter that would be great. We have a similar thing internally at Spotify and it is indexed very useful. I’m assigning you. Thanks 🙏

[2020-04-12 09:21] OrkoHunter commented on #535
Awesome! Great to know. Let me get started on a personal heroku pipeline and I'll configure it for my fork.

Later, we can create the "official" heroku pipeline for this repository. 🙏

[2020-04-12 13:37] stefanalund opened #536 "Show code in Storybook"
Other Storybooks show the example code next to the demo. It would be nice if ours did that as well. Example: https://react.carbondesignsystem.com/?path=/story/codesnippet--multi-line

<img width="1552" alt="Screenshot 2020-04-12 at 15 34 50" src="https://user-images.githubusercontent.com/190856/79070064-643ec380-7cd3-11ea-9b64-5960f704f9cd.png">

[2020-04-12 16:19] OrkoHunter commented on #535
Hi @Rugvip ! Huge thanks to you for helping me on discord with this. To summarize the current situation -

As long as we use `yarn start` or `backstage-cli app:serve` to start the app on Heroku, we are going to get a boot time out on Heroku because of `backstage-cli`'s [cache management](https://github.com/spotify/backstage/blob/a6167ce02a59520734b83e3fc0bad4297938b9c0/packages/cli/src/commands/bu

[2020-04-12 16:22] OrkoHunter commented on #535
https://tugboat.qa looks like a good alternative! Especially made for this problem.

<img width="2048" alt="Screen Shot 2020-04-13 at 1 21 17" src="https://user-images.githubusercontent.com/8065913/79074052-2074aa00-7d25-11ea-8ebb-12bc1d6a8983.png">

[2020-04-12 16:26] OrkoHunter commented on #535
Azure pipelines might also be an alternative.

https://docs.microsoft.com/en-us/azure/devops/pipelines/release/deploy-pull-request-builds?view=azure-devops

[2020-04-12 18:21] Rugvip commented on #535
@OrkoHunter np! Just to be clear tho, the cache management doesn't add any time to the build, it just speeds up subsequent builds. Building without the cache would take just as long time.

[2020-04-12 18:46] freben commented on #535
Right, if we could take actual app build output produced by the review build, and  serve that statically, we'd be golden - correct?

[2020-04-12 22:02] stefanalund commented on #385
Isn’t this one done?

[2020-04-12 22:04] #132 closed

[2020-04-13 07:50] stefanalund commented on #530
Fixed in #539

[2020-04-13 12:02] OrkoHunter commented on #535
@freben Yes, agreed!
@Rugvip Thanks!

[2020-04-13 12:06] OrkoHunter commented on #535
If we were to serve static content, let me give Netlify a try, which builds static pages from PRs. It's very similar to GitHub pages.
https://www.netlify.com/blog/2016/07/20/introducing-deploy-previews-in-netlify/

[2020-04-13 13:41] stefanalund opened #543 "Support dark/light mode in Storybook"
## Feature Suggestion

Make it possible to toggle dark/light mode inside Storybook. This will allow for easier verification that components behave correctly in both themes.

## Possible Implementation

https://medium.com/encode/setting-up-storybook-with-material-ui-and-styled-components-5bdacb6db866

## Context

[2020-04-13 14:24] OrkoHunter commented on #535
Wohoo! Netlify worked great!

Here is the build for the master branch on my fork - https://backstage-spotify-orkohunter.netlify.com/
And here is [the deployment](https://5e9474dd557c5b0008ad2a57--backstage-spotify-orkohunter.netlify.com/) for new Pull Request https://github.com/OrkoHunter/backstage/pull/5

[2020-04-13 14:26] OrkoHunter commented on #535
It might be better to use GitHub actions to trigger Netlify deployment.

@stefanalund @Rugvip @freben Let me know your thoughts. 🙇

[2020-04-13 14:31] OrkoHunter commented on #535
This is the configuration file https://github.com/OrkoHunter/backstage/blob/master/netlify.toml
[code]

[2020-04-13 14:38] OrkoHunter commented on #536
Hi @stefanalund ! Looks like a good feature.

Let me get an understanding on how Storybook implemented and I'll get started. ✨

[2020-04-13 15:44] freben commented on #535
I haven't read up on what features these things  offer. But I was hoping that it would be possible to just add a step at the end of the review build workflow that zips up the already finished dist folder and calls it a deployment :) If that doesn't make any sense, feel free to ignore :)

[2020-04-14 00:23] OrkoHunter commented on #543
Thanks for creating the issue @stefanalund and the medium article. Let me start the implementation.

This storybook documentation is helpful too https://storybook.js.org/docs/configurations/theming/

[2020-04-14 05:45] stefanalund commented on #543
Thanks for looking into this @OrkoHunter -- I assigned you to the Issue.

[2020-04-14 05:50] OrkoHunter commented on #543
Thanks @stefanalund !

[2020-04-14 07:26] #385 closed

[2020-04-14 08:42] soapraj commented on #370
https://marmelab.com/react-admin/

[2020-04-14 09:03] stefanalund commented on #530
Another indicator that this is still a problem: The typeface is still not correct in http://storybook.backstage.io/?path=/story/progress-card--default

[2020-04-14 09:03] stefanalund commented on #530
cc @mikqi @OrkoHunter

[2020-04-14 13:03] mikqi commented on #530
I try to add decorator globally to fix this issue, but the custom themes is not exist only default value. And then i try to add decorator in `stories`. The custom theme exist.
![image](https://user-images.githubusercontent.com/4416419/79227827-b4ac5180-7e8a-11ea-9b41-3e107ec727ab.png)

so the code will look like this, or we can make decorator as a utility. any better idea?
[code]

[2020-04-14 13:16] stefanalund commented on #530
NICE! The optimal setup would be if you wouldn't have to add this to every single story. But if that's not viable this looks like a great (stop-gap) solution.

[2020-04-14 14:08] OrkoHunter commented on #535
Oh. In my understanding, this will then allow the reviewers to download the zip and run the website locally. Hmm, I'm not so sure how helpful it will be. We can also checkout anyone's git branch and build it locally.

So, I believe having Netlify to deploy preview apps for our PRs would be a good thing. (Bonus: We also get a master branch deployment for people to see a quick demo).

Today, I notic

[2020-04-14 16:52] desktophero opened #551 "Dev Environment getting started doc update"
## Expected Behavior
Optional Docker steps from Dev Environment "Getting Started" cover the necessary steps to build a local Docker image

## Current Behavior

The `docker build` step doesn't include the package bundling required.

## Possible Solution

Small update to docs page to reference the existing `yarn docker-build` script defined in `package.json`. I'll submit a PR as I didn't see an exis

[2020-04-15 08:04] stefanalund opened #554 "Convert WarningPanel to TypeScript"
## Feature Suggestion

Convert this one https://github.com/spotify/backstage/tree/master/packages/core/src/components/WarningPanel

## Context

We want all components to be TypeScript.

[2020-04-15 10:53] Rugvip commented on #370
What I gathered from react-admin so far:

An interface like this one is used to define authentication providers:

[code]

^ from https://marmelab.com/react-admin/Authentication.html

The interface is similar to the one we have internally, although it's split into more methods. Biggest difference is that ours is centered around getting an OAuth access token with the correct scopes, while that is ha

[2020-04-15 13:39] #255 closed

[2020-04-15 14:05] hooloovooo commented on #530
@mikqi Is this something like what you were suggesting?
https://github.com/spotify/backstage/pull/556
This should solve it globally and remove the need to wrap the stories individually, but it might also cause issues(?).

[2020-04-15 14:15] mikqi commented on #530
@hooloovooo have you try to add this [story](https://github.com/spotify/backstage/pull/540/files#diff-da269469440e098ca43f01168859f968R33)? i have try to add it globaly, but the custom theme also not exists. after that i try to add decorator in stories file and the custom theme variable exists.

[2020-04-15 14:38] mikqi commented on #530
Weird. I did the same thing in my laptop. but it didn't work. 😮

[2020-04-15 15:16] hooloovooo commented on #530
That's weird. Maybe it was just the build that didn't pick up the new config file or something.

[2020-04-15 15:18] stefanalund commented on #530
This is fixed in #556 - thanks everyone for helping out.

[2020-04-15 15:18] #530 closed

[2020-04-15 15:36] OrkoHunter opened #557 "Investigate: Remove @storybook/addon-storysource as a core dev dependency"
## Feature Suggestion

In https://github.com/spotify/backstage/pull/548, we added a storybook addon which shows the code of components in the storybook. However, Storybook does not compile unless the addon is installed in the `packages/core` package. Since, we removed storybook package out of `packages/core` into `packages/storybook`, it would be nice to avoid this dependency.

Investigate if it i

[2020-04-15 15:39] OrkoHunter commented on #557
@stefanalund @Rugvip Please assign appropriate labels 🙏

[2020-04-15 16:14] #536 closed

[2020-04-15 16:16] Rugvip commented on #557
The line in question: https://github.com/spotify/backstage/blob/dd1ef4eda03d0203338bd632c728d2033434ca67/packages/core/package.json#L47

[2020-04-15 16:25] #551 closed

[2020-04-15 17:51] OrkoHunter commented on #382
@Rugvip Odd that GitHub has marked the discussion as "Solved" long time ago https://github.community/t5/GitHub-Pages/Does-GitHub-Pages-Support-HTTPS-for-www-and-subdomains/m-p/7202#M495

@riginoommen I see that you were trying to use Heroku for deployment. I gave it a try myself for #535. Apparently Heroku has some complications with the time it takes to build backstage. [Here is my comment](https

[2020-04-15 20:29] stefanalund commented on #410
Fixed #464

[2020-04-15 20:29] #410 closed

[2020-04-16 00:37] braulio-balanza commented on #557
Wouldn't the import be needed because .storybook/main.js loads all files from /core/src?
https://github.com/spotify/backstage/blob/cf30e4615d4c6c2ffde5b969684e634cb73549a8/packages/storybook/.storybook/main.js#L4-L7 https://github.com/spotify/backstage/blob/cf30e4615d4c6c2ffde5b969684e634cb73549a8/packages/storybook/.storybook/main.js#L18
Would moving all the .stories.tsx files to storybook/src an

[2020-04-16 01:03] OrkoHunter commented on #557
Thanks!

I believe it is preferred to keep components and their stories in the same directory. This helps in making sure the stories and the components are in sync.

[2020-04-16 01:43] braulio-balanza commented on #557
Could copying the .stories.tsx files from core/src to storybook/src whenever running the ```yarn storybook``` command work?

[2020-04-16 01:56] OrkoHunter commented on #557
Oh, interesting.

[2020-04-16 07:40] katz95 opened #564 "Matching the width of the Tabbed Card Component to the Information Card Component in Storybook"
Currently the [Tabbed Card ](http://storybook.backstage.io/?path=/story/tabbed-card--default) spans the whole width of the stage. It would be rad if it could match the width of the Information Card (seen below).

<img width="892" alt="Screenshot 2020-04-16 at 9 38 22 AM" src="https://user-images.githubusercontent.com/61153904/79428234-2806ae00-7fc6-11ea-83f7-87ecf85d0b51.png">

[2020-04-16 07:50] OrkoHunter commented on #224
(Some of the) Things which could be helpful for someone new in the community, in my opinion -

1. How to understand the project well. (Blog posts, videos, are good to begin with)
2. How to set up development environment (It's already documented well)
3. Issues to begin with (`good first issue` labeling is done well on the issues) 👏
4. Coding standards and recommendations
5. Joining the community a

[2020-04-16 07:57] OrkoHunter commented on #212
@Rugvip Is this test coverage tooling supposed to be a part of `backstage-cli`? This would mean the packages could run `backstage-cli test --coverage` and get the results.

I am exactly sure how can these coverage change limits be enforced on package level. In my understanding, CI/CD pipelines can be failed for PRs if the coverage change is less than the limit.

[2020-04-16 08:15] stefanalund commented on #554
Fixed in https://github.com/spotify/backstage/pull/561

[2020-04-16 08:15] #554 closed

[2020-04-16 08:34] OrkoHunter commented on #427
We can close this issue, since https://github.com/spotify/backstage/pull/524 is merged! 🚀

[2020-04-16 08:52] stefanalund commented on #161
@hooloovooo mind looking into this?

[2020-04-16 09:24] stefanalund commented on #427
Closed in #524

[2020-04-16 09:24] #427 closed

[2020-04-16 09:38] Rugvip commented on #212
@OrkoHunter yeah I think it makes sense to build this into the cli, since we're using jest and there's a bunch of tooling there. There's already a `--coverage` flag for the `test` command, so this issue is more about determining a pattern to configure the limits and how to surface it to the user in a nice way, likely through some GitHub checks/workflows. And ofc make CI fail if the limit/deltas ar

[2020-04-16 09:45] stefanalund commented on #161
The example plugin that you get after scaffolding should use whatever grid/table component we choose here.

[2020-04-16 10:07] Rugvip commented on #489
0.1.1-alpha.4 is out with fixes for the above issues and more, please give it a spin :grin:

[2020-04-16 11:16] soapraj commented on #451
This issue is no longer valid after https://github.com/spotify/backstage/pull/526

[2020-04-16 11:24] Rugvip commented on #451
@soapraj oh yeah good point :grin:

We should update the logic in `create-plugin` and close this. We still have the issue of forwarding of default exports not working in tests though I guess, so probably open an issue detailing that instead.

[2020-04-16 11:38] #557 closed

[2020-04-16 12:25] hooloovooo commented on #161
Currently looking into https://react-table.js.org/. Not a simple solution, but extremely flexible. Could be very nice if it had a wrapper for the most common usecases. Does anyone have experience from using it?

[2020-04-16 12:50] Rugvip commented on #161
@hooloovooo looks interesting. We'd have to wrap it quite a bit though I think, so leaves a lot of API design up to us. Still interesting to see what it would look like with mui.

[2020-04-16 13:19] OrkoHunter commented on #564
I was looking at the Storybook to find the discrepancy between the components, but later realized it was fixed in https://github.com/spotify/backstage/pull/565 😅

[2020-04-16 13:22] Rugvip commented on #564
@OrkoHunter ah right, slight issue with the reference syntax in the PR xP

[2020-04-16 13:22] #564 closed

[2020-04-16 13:23] OrkoHunter commented on #564
Honestly, GitHub could do a lot more than just looking for `Closes` in the description 😂

[2020-04-16 14:40] katz95 opened #569 "Edit Style of Table Component"
## 🗒 General

It would be amazing if someone could update the [sortable table component ](http://storybook.backstage.io/?path=/story/sortable-table--default) styles!

## 💻 Usage

The sortable table is a robust way to view a lot of categorized information at once. By giving users the power to modify their views of the inputs, they can comprehend the data in a much easier way.

### Default state
![D

[2020-04-16 14:42] #495 closed

[2020-04-16 20:23] stefanalund commented on #569
I wonder if we should hold off on these changes in the existing SortableTable since we want to replace that one with a more feature-rich default table/grid component https://github.com/spotify/backstage/issues/161 -- @hooloovooo is looking into that issue.

[2020-04-16 20:23] braulio-balanza commented on #451
Actually, after alpha.4 I can't replicate the error anymore.

[2020-04-17 06:30] stefanalund opened #573 "Create better Storybook example for TrendLine"
Our Storybook should show a more typical Story example of a TrendLine. A good example is how it is used in the [Lighthouse plugin](https://github.com/spotify/backstage/tree/master/plugins/lighthouse):

<img width="1125" alt="lead" src="https://user-images.githubusercontent.com/190856/79538713-29e37680-8085-11ea-80c7-d547b6a7d9ed.png">

## Feature Suggestion

Add additional story in `TrendLine.stor

[2020-04-17 07:46] stefanalund opened #574 "Setup a process for Architecture Decision Records (ADR)"
Context https://labs.spotify.com/2020/04/14/when-should-i-write-an-architecture-decision-record/

Ping @jomaxx -- author of ^

## Feature Suggestion

Store architectural decisions somewhere in the repo.

[2020-04-17 08:53] #224 closed

[2020-04-17 09:18] ruairitobrien opened #576 "yarn create-plugin fails due to missing peer dependencies"
## Expected Behavior

Following the guide:

`npx @backstage/cli create-app`

Followed by:

`yarn create-plugin`

Would ideally work without extra steps or maybe have extra steps being documented.

## Current Behavior

[code]

## Possible Solution
Perhaps make the peer dependencies dev dependencies for the sake of a smooth experience for the Getting Started Guide or perhaps provide a step to instal

[2020-04-17 09:19] ruairitobrien commented on #576
I'm happy to contribute a fix here if it's determined one is needed.

[2020-04-17 09:24] Rugvip commented on #576
@ruairitobrien, thanks for reporting the issue!

The fix we'd aim for right now is actually to get rid of all peer dependencies, as they don't work particularly well together yarn workspaces. That is, move all peerDependencies to just dependencies, and remove any duplicate devDependencies. Wanna take a shot at that? :grin:

[2020-04-17 09:25] ruairitobrien commented on #576
Will do. Thanks!

[2020-04-17 09:37] ruairitobrien commented on #576
Just to let you know, will likely be later today/tonight before I can get to it but will do it today! :)

[2020-04-17 10:12] eywoon commented on #574
I'd like to take this one up 😀

[2020-04-17 10:15] stefanalund commented on #574
Thanks @eywoon -- I assigned you!

[2020-04-17 13:21] freben commented on #489
Closing for now assuming it is fixed - please reopen if it wasn't solved for you!

[2020-04-17 13:21] #489 closed

[2020-04-17 13:25] #451 closed

[2020-04-17 16:21] ruairitobrien opened #582 "Broken link in Readme"
Very small one but opening this issue with a PR. Just noticed a broken link in the Readme that should link to the docs for creating a new backstage app.

## Expected Behavior
The link should go to https://github.com/spotify/backstage/blob/master/docs/create-an-app.md

## Current Behavior
The link is broken

## Possible Solution

## Steps to Reproduce (for bugs)

1.
2.
3.
4.

## Context

## Your En

[2020-04-17 16:42] #582 closed

[2020-04-17 17:19] wesleyyee commented on #405
i can pick this up

[2020-04-17 17:45] sladyn98 commented on #292
IS this issue completed or still up for grabs ?

[2020-04-17 22:58] Rugvip opened #584 "Packages should use dependencies instead of peerDependencies"
## Expected Behavior

We were hoping that peerDependencies could be used as a way to signal which dependencies should be shared with other packages. Even to the point where we inline the regular dependencies during the rollup build.

## Current Behavior

Peer dependencies don't work well with yarn workspaces, transitive dependencies in the workspace don't propagate properly. For example, if a plug

[2020-04-17 23:32] ruairitobrien commented on #584
I can take this one on 👍

[2020-04-18 08:43] braulio-balanza commented on #522
I could try and hack this one, any pointers to get started?

[2020-04-18 09:40] freben commented on #522
I'm not the maker of the ticket, but something like a useInterval that refetches every so often if anything is in progress, would probably be a good start

 https://github.com/streamich/react-use/blob/master/docs/useInterval.md

[2020-04-18 11:30] RoyJacobs commented on #390
This is a really simple but powerful model, very interesting.

At bol.com we've been [prototyping a service called Katalog](https://github.com/bolcom/katalog) specifically to host API specifications (i.e. Swagger or OpenAPI specs, but potentially any kind of spec, like gRPC). The idea is that teams can associate different version of specs to a service, notify users of deprecations, etc. Consumers

[2020-04-18 13:37] Koroeskohr commented on #472
I'll give it a try! :muscle:

[2020-04-18 13:38] stefanalund commented on #472
Excellent @Koroeskohr, I've assigned you now. I'm sure @katz95 can help out if you have any additional questions about the design or functionality.

[2020-04-18 14:14] Koroeskohr commented on #472
@katz95 should the currently existing Toggle Dark/Light mode button be banished to the shadow realm then?

[2020-04-18 14:24] braulio-balanza commented on #522
Ok, I'll give it a shot

[2020-04-18 15:36] stefanalund opened #593 "Clarify the Checks gibberish in builds"
These checks makes no sense to me and should be clarified to become useful:

<img width="732" alt="Screenshot 2020-04-18 at 17 33 27" src="https://user-images.githubusercontent.com/190856/79641929-cba8b780-819a-11ea-8129-632788fb7064.png">

[2020-04-18 15:56] OrkoHunter commented on #593
I think only the "deploy-preview" check is useful. Here is how to remove the rest
https://github.com/netlify/cli/issues/155

Go to Settings -> Build & Deploy -> and scroll down to "Outgoing Notifications". There, find the ones that say "Add rich deploy details to git commits when deploy starts/succeeds/fails", click on the 3 dots next to them, and you'll be able to remove them.

[2020-04-19 03:21] OrkoHunter commented on #593
IMO the Netlify project name `goofy-bose` can be changed to `spotify-backstage-storybook` or similar, for their URLs to have more meaning.

[2020-04-19 07:47] stefanalund commented on #292
@sladyn98 I believe we still need to make a decision on the backend part before we can make meaningful progress on this issue https://github.com/spotify/backstage/issues/366

[2020-04-19 07:48] stefanalund commented on #522
Great @braulio-balanza I assigned you!

[2020-04-19 07:48] sladyn98 commented on #292
No worries, take your time.

[2020-04-19 11:39] OrkoHunter commented on #535
I'll close this ticket since Netlify has been integrated with the repository and can be used to see PR deploys. Related #593.

[2020-04-19 11:39] #535 closed

[2020-04-19 12:00] Rugvip commented on #576
Fixed by #581

[2020-04-19 12:00] #576 closed

[2020-04-19 12:04] Rugvip commented on #584
Fixed by #586

[2020-04-19 12:04] #584 closed

[2020-04-19 13:00] OrkoHunter opened #595 "TypeScript issue: BackstageTheme refers to a value, but is being used as a type here."
## Expected Behavior

In the following components, we use the type of `BackstageTheme` for `makeStyles`.

## Current Behavior

https://github.com/spotify/backstage/blob/e842489333af3653032edeff382a63addf936b0c/packages/core/src/components/CircleProgress.tsx#L22
https://github.com/spotify/backstage/blob/e842489333af3653032edeff382a63addf936b0c/packages/core/src/components/Status/Status.tsx#L22
http

[2020-04-19 13:35] #595 closed

[2020-04-19 14:00] Rugvip commented on #190
Fixed by #437

[2020-04-19 14:00] #190 closed

[2020-04-19 15:05] #488 closed

[2020-04-19 18:53] paulpach opened #597 "Upgradeable template"
If I generate an app with the cli,  I should be able to upgrade it with the latest template.  That way I can keep up with development of backstage.

## Feature Suggestion

Suppose I generate an app:
[code]
I would then proceed to add a few plugins to it and customize it.

I would like to be able to upgrade my app with the latest development from backstage.  For example:
[code]

## Possible Impleme

[2020-04-19 21:52] Grovespaz opened #598 "[Plugin] Azure Devops (aka TFS)"
## Summary

Azure Devops is Microsoft's enterprise source control, issue tracker, ci/cd, etc. all-in-one solution. There is both a cloud-hosted as well as an on-premise version, which don't differ much.

## Project website (if applicable)

https://azure.microsoft.com/nl-nl/services/devops/
https://docs.microsoft.com/en-us/rest/api/azure/devops/?view=azure-devops-rest-5.1

## Context

Once there is

[2020-04-20 05:37] freben commented on #598
Thanks for making an issue about this!

This is the kind of tool that already has a mature and substantial web interface, so it becomes an interesting discussion about how much of the functionality to expose or even replicate in Backstage. I haven't used it myself so I'll defer mostly to others to decide where the convenience / effort balance lies.

For example in terms of the CI/CD functionality,

[2020-04-20 05:50] freben commented on #597
(Made a minor edit only to add backquotes to the `<Backstage>` tag.)

Thanks! This is definitely on our minds too. We need to find a balance and nice structure to the app to make it easy to stay up to date with the latest developments.

About the sidebar specifically, I think that's one piece that one wants to have customisable. Even so, that could be done with JSX as well:

[code]

and still thos

[2020-04-20 06:32] sladyn98 commented on #415
@ercis We could definitely use an inhouse github action that automatically applies prettier and pushes the changes after a commit on a PR so that users dont have to deal with it
cc @rugvip

[2020-04-20 09:19] OrkoHunter opened #602 "Change the background color in Storybook to comply with dark/light mode"
## Feature Suggestion

Change the background of Storybook to comply with dark/light mode.

![image for github](https://user-images.githubusercontent.com/8065913/79735415-3856ba00-8333-11ea-8246-72b090ac0afc.png)

## Possible Implementation

From @Rugvip, we can probably add a decorator that wraps every page with a themed background.
The current dark/light mode wraps only the components with the th

[2020-04-20 09:53] #543 closed

[2020-04-20 11:04] BalestraPatrick opened #603 "[Plugin] Apple Developer Portal"
## Summary

This is a proposal for a new plugin that we would like to open-source called "apple-dev-portal". The goal of this plugin is to make it easier to onboard new iOS engineers in a team and manage common operations that they have to do.

## Project website (if applicable)

Apple Developer Portal: http://developer.apple.com
App Store Connect API: https://developer.apple.com/app-store-connect

[2020-04-20 11:53] freben commented on #603
Cool, happy to see this!

Plugins may be written in either TS or JS; we support both, although we prefer TS. It is usually fairly easy to adopt TS gradually, and it offers long term benefits. If you like, we can offer some assistance to that end, otherwise, don't let it block you from open sourcing the plugin.

We are settling the backend strategy as we speak, so it should be clear (and documented

[2020-04-20 11:56] freben commented on #603
Feedback on the plugin structure:

Would it make sense to have the landing page of the plugin be an "Overview" style page like other plugin roots usually are? For example, could it show your membership status if known, along with a button "Apply" that takes you to an application flow? And could it show the list of known devices, and a button "Register Device" that takes you to the flow for that? T

[2020-04-20 12:19] freben commented on #603
@BalestraPatrick Am I right in understanding that you intend to open source that python backend along with some frontend parts?

For backends that are standalone, your strategy regarding secrets and deployment etc will not depend on Backstage as such. You would open source the backend as one repo, and the frontend plugin as one repo. From the integrating company's point of view, they would have to

[2020-04-20 12:39] stefanalund commented on #603
@freben if the backend is only intended to be used for the Backstage plugin, why couldn't it also be included together with the plugin frontend code? One convention could be to have a `plugins/my-plugin/backend` folder with a corresponding `README` that outlines how to configure and deploy the service?

[2020-04-20 13:01] BalestraPatrick commented on #603
@freben Yes, the plugin is pretty small so porting it to TypeScript shouldn't take too long. Your suggestion on the plugin structure totally make sense, I've tried to keep the plugin features rather small and separate for this initial version (it was literally released internally last week).
In the future, we may add more and more actions, so having a single "Overview" tab with everything in it se

[2020-04-20 13:09] mbruggmann commented on #603
Wouldn't it be nice if we could define and run both the frontend and the backend directly from this repo, eg by defining the endpoints in `plugins/apple-dev-portal/backend` as @stefanalund suggested and running that inline in the proxy/backend? The API could be something like the [Zeit Now](https://zeit.co/docs/v2/serverless-functions/introduction) serverless functions?

Looking at the internal im

[2020-04-20 13:48] freben commented on #603
Agreed, if it's viable to port it to TS, then by all means I think that that would make it easier to adopt, since it aligns with our backend plans.

@BalestraPatrick do develop (at _least_ the frontend part of, or both if ported to TS) the plugin in the open, as `packages/plugin-apple-dev` or so. We try to encourage keeping as much as possible inside this repo for now.

When it comes to having the

[2020-04-20 13:55] freben commented on #603
Right, but even if there is still not a very clear Overview page structure to be had (maybe not enough data yet etc), I still want to say that I want to avoid "Tab == action". A tab should be a view with information, possibly with an Add button for example, _not_ a form.

So you could have the route `apple-dev/devices/list` that lists devices, and that's what the tab takes you to.  If you click a

[2020-04-21 05:49] stefanalund commented on #603
Let's say that this wasn't a simple service, would we still recommend it to be ported to Node.js (or whatever becomes the recommended language for our backend)? I don't think that is a viable strategy.

[2020-04-21 06:17] stefanalund opened #606 "Convert CopyTextButton to TypeScript"
## Feature Suggestion

This component should be converted from JS -> TS:

https://github.com/spotify/backstage/blob/master/packages/core/src/components/CopyTextButton/CopyTextButton.js

## Context

We want all components and APIs to be in TypeScript.

[2020-04-21 06:19] stefanalund opened #607 "Convert StructuredMetadataTable to TypeScript"
## Feature Suggestion

This component should be converted from JS -> TS:

https://github.com/spotify/backstage/tree/master/packages/core/src/components/StructuredMetadataTable

## Context

We want all components and APIs to be in TypeScript.

[2020-04-21 07:05] freben commented on #603
No, absolutely not. My suggestion was just based on the fact that it matches what we have in our RFC: a small bridge service that basically only adds secret handling. When you are in that situation, if the plugin maker wants to make it easy for integrators to pick up their thing, then they may opt to make it easily integratable into the Backstage backend, but it's still optional.

Making standalon

[2020-04-21 07:26] loftwah commented on #170
![Backstage  (1)](https://user-images.githubusercontent.com/19922556/79837681-6fd16f00-83e4-11ea-93b6-0ee92e7da939.png)

I had a bit of a play around with some design stuff. I think it would be cool to use a play on the whole 'backstage' access thing for the 404. Maybe like a bouncer blocking someone from accessing an area.

[2020-04-21 07:38] loftwah commented on #170
![Page not found](https://user-images.githubusercontent.com/19922556/79838819-2bdf6980-83e6-11ea-9aa7-3e930d2aa8fa.png)

[2020-04-21 07:39] zhyu commented on #489
Confirmed `npx @backstage/cli create-app` works well now. Thanks!

[2020-04-21 09:40] stefanalund commented on #390
@RoyJacobs there are a few things to unpack here :)

From an API use-case perspective we envision two different ways for people to use Backstage to explore APIs:

1) **Inspecting the API of a backend service.** The current way we do this at Spotify is described in [this short video](https://www.youtube.com/watch?v=vcDL9tOv7Eo). Currently we only support REST/OpenAPI but I think at least gRPC shoul

[2020-04-21 10:01] RoyJacobs commented on #390
I think Katalog could be quite suitable for this, but I'd prefer to make it somewhat more lightweight than it currently is. The two main things it currently is managing itself, but I'd rather keep out of scope, is user/group management and the hierarchy of the APIs (i.e. to which system does this particular API belong).

Would it make sense to create a tracking issue to discuss a "Backstage system

[2020-04-21 12:56] stefanalund commented on #294
More demos are being published on https://backstage.io/demos

[2020-04-21 12:56] #294 closed

[2020-04-21 18:50] OrkoHunter commented on #573
@stefanalund Please see https://github.com/spotify/backstage/pull/611 🙏

[2020-04-21 23:20] moisei opened #612 "build is failing on 'Parsing error: The keyword 'export' is reserved'"
I am trying to build the application but it fails on yarn bundle with following error.
I't tried the master and the v0.1.1-alpha.4 tag - same result.
Please advise.

this is my environment:

[code]

and here is the failure

[code]
with --verbose

[code]

[2020-04-22 00:34] moisei commented on #612
I've just deleted entire folder, cloned the repo and run everything from scratch, and it is not reproduced anymore. probably some glitch on my environment.

[2020-04-22 00:34] #612 closed

[2020-04-22 05:14] #606 closed

[2020-04-22 05:15] #573 closed

[2020-04-22 11:42] carlsim0n opened #613 "Linting on license headers on windows machines throws errors and prevents backstage to run."
## Expected Behavior

```yarn start``` should open the backstage application in my browser window without any errors.

## Current Behavior

Run ```yarn start```
Output in the terminal:
[code]

Output in the browser window:
[code]

❗ The error does not exist in this version [v0.1.1-alpha.0](https://github.com/spotify/backstage/releases/tag/v0.1.1-alpha.0) ❗

## Possible Solution

I've tried running

[2020-04-22 12:04] OrkoHunter commented on #613
I see that [`spotify/eslint-config-oss`](https://github.com/spotify/eslint-config-oss) is a very lightweight wrapper on [`nickdeis/eslint-plugin-notice`](https://github.com/nickdeis/eslint-plugin-notice). The wrapper is needed to store the [template license notice](https://github.com/spotify/eslint-config-oss/blob/master/notice-template.txt).

So, for some reason, [`nickdeis/eslint-plugin-notice`]

[2020-04-22 12:19] freben opened #615 "Use @internal namespace for private packages"
As part of clarifying what is part of the open source offering and what is examples or private code, we should signal these differences using package names/namespaces.

Suggested solution:

* Let all public, published packages retain their `@backstage` namespace.
* ~~Change all private packages in the open source project (`plugins/home-page`, `plugins/welcome`) to be under an `@internal` namespace

[2020-04-22 12:25] o0Djeen0o opened #616 "Plugin Route"
Hi,

If I understand correctly, a Plugin registers its own route with the React Component to be used, something like :
` router.registerRoute('/myRoute', MyComponent);`

However, it is in the final application that plugins are imported and routes mapped:

[code]

So why the route is not defined by app instead of the Plugin ? If my application is working in a given path, let's say `http://localhost

[2020-04-22 13:04] OrkoHunter commented on #613
@carlsim0n I am trying to reproduce this error on a Windows VM. Meanwhile, you can try running backstage using docker. https://github.com/spotify/backstage/blob/master/docs/getting-started/development-environment.md#optionaltry-on-docker

[2020-04-22 13:32] OrkoHunter commented on #613
I got this error too on a Windows Server 2019, with yarn 1.22.1 and node v14. :(

<img width="2048" alt="Screen Shot 2020-04-22 at 22 30 06" src="https://user-images.githubusercontent.com/8065913/79987811-d475f200-84e8-11ea-861c-95fae266a48f.png">

[2020-04-22 13:51] OrkoHunter opened #618 "packages/cli: Rollup caching is not used on Windows for yarn start/build"
## Expected Behavior

The issue is only for Windows.

After running `yarn build` and `yarn start` for the first time, the successive `yarn start` should use the rollup build cache.

## Current Behavior

The rollup caches are not being used. The error says `[build-cache] input directory is dirty, skipping cache`.

Thus, it takes ~4 minutes to run `yarn start` each time after making any change. This

[2020-04-22 13:52] OrkoHunter commented on #618
cc @Rugvip, I noticed this while debugging for #613.

[2020-04-22 14:13] Rugvip commented on #613
This is a regression of https://github.com/spotify/backstage/issues/334, which has a workaround for the issue by setting git config. We shouldn't require git config though, and afaik this fixed the issue last time: https://github.com/spotify/backstage/pull/357

My best guess is that when we switched to the https://github.com/spotify/eslint-config-oss/blob/master/notice-template.txt template, it br

[2020-04-22 14:17] Rugvip commented on #618
@OrkoHunter Thanks! I'd guess that this check is failing: https://github.com/spotify/backstage/blob/5b34072863fcaa23153b05560a25e10e83e66247/packages/cli/src/lib/buildCache/cache.ts#L88. Could be that that command doesn't fly on windows.

[2020-04-22 14:20] OrkoHunter commented on #613
True, we can fix this by testing in a Windows environment and by making changes to the notice template. I gave up after few attempts as it was taking a lot of time to re-run because of #618 :D

I am having issues with running a windows docker container on macOS. The tutorials asked me to walk on the pathway of vagrant/Virtualbox. I will eventually find courage for this, some other time. 😂

[2020-04-22 14:30] OrkoHunter commented on #618
Yes, I agree. In the command `git diff --quiet HEAD -- ${quotedInputPaths.join(' ')}`, my guess is that the path after `--` is not properly formatted for Windows.

[2020-04-22 14:34] Rugvip commented on #616
@o0Djeen0o Thanks for reporting! What do you think about https://github.com/spotify/backstage/issues/418 as a solution?

[2020-04-22 16:05] o0Djeen0o commented on #616
Hello @Rugvip,

Sorry, I missed this RFC. I've checked the proposal and I think that it would resolve elegantly my issue ! Thanks!

[2020-04-23 08:58] katz95 commented on #170
@loftwah oooh thank you for the rad explorations! we've currently set the 404 design in place but we're definitely looking forward to collaborating with you moving forward!

@Escalion hi! hope you're doing well! it's def a busy/hectic time these days - was wondering if you wanted to just send in a PR with the current state and then our team can take it on from there! we appreciate all your help so

[2020-04-23 09:35] stefanalund opened #626 "[Plugin] Create new Google Cloud Platform Project"
## Summary

Depends on https://github.com/spotify/backstage/issues/289

This plugin would expose a simple form that lets users create a new GCP Project. Example from inside Spotify:

![Screenshot 2020-04-23 at 11 30 08](https://user-images.githubusercontent.com/190856/80083449-eb9ef900-8555-11ea-9ccd-9636d3f2f299.png)

Additional settings could/should be available as well.

## Project website (if

[2020-04-23 09:56] stefanalund opened #627 "[Plugin] Service API documentation"
## Summary

The following illustration shows how a future potential solution for API discoverability and API documentation could look in Backstage. The initial focus is Service APIs.

![Screenshot 2020-04-23 at 11 46 26](https://user-images.githubusercontent.com/190856/80085145-2144e180-8558-11ea-8e0e-1e6fb6a51348.png)

* In the left-hand column, API development, engineers build their API (gRPC AP

[2020-04-23 10:03] aexvir commented on #627
Hi @stefanalund , we already have this feature implemented for OpenAPI, although I'm a bit confused how this could be implemented into Backstage.

Right now we are repurposing our backend to be feeding a Backstage frontend, and we'll have this feature straight away, but it would require our service discovery, and basically our backend to be running. We could definitely separate it into its own bac

[2020-04-23 10:07] stefanalund commented on #390
@RoyJacobs put together an issue outlining how we envision API documentation from a user perspective, i.e. as exposed in a plugin: https://github.com/spotify/backstage/issues/627

I still think there is a need to clarify how this would technically fit together with the contents of this RFC. Probably best handled as a separate issue.

[2020-04-23 10:23] aexvir commented on #390
I really like the idea to have a unified layer where all the plugins could read from. I'm thinking about something like what [Gatsby.js does](https://www.gatsbyjs.org/docs/recipes/querying-data/), where it consumes inputs and it exposes a single GraphQL API where any page can consume potentially any data it wants, by making GraphQL calls.

The [suggestion](https://github.com/spotify/backstage/issu

[2020-04-23 11:28] Rugvip opened #629 "[Plugin] GraphiQL"
## Summary

A general purpose GraphiQL page used to explore GraphQL APIs. Intended mainly to be used during development of plugins.

## Context

Internally we've ended up consuming a bunch of different GraphQL APIs, each with their own endpoints and authentication methods. By providing a GraphiQL plugin we can re-use the configuration used inside backstage. I'm also using this as a way to try out

[2020-04-23 11:34] Rugvip opened #630 "Dynamic imports don't work"
## Expected Behavior

It should be possible to use dynamic imports, i.e. `import('my-module').then(module => ...)`

## Current Behavior

Rollup doesn't seem to generate correct output for import statements. It ends up removing the import function with this:

[code]

## Possible Solution

Changing the rollup output format to 'module' seems to produce correct code. We might want to switch to that an

[2020-04-23 11:41] stefanalund commented on #240
@freben are you really doing this one? If not please remove yourself so that someone else can pick it up.

[2020-04-23 11:48] stefanalund opened #631 "[Plugin] Spinnaker"
## Summary

Visualise and manage deployments in Spinnaker.

## Project website (if applicable)

https://www.spinnaker.io/reference/api/

## Context

The existing Deck project can potentially be used: https://github.com/spinnaker/deck

[2020-04-23 12:01] benjdlambert opened #632 "[Plugin] Kubernetes"
## Summary

- A plugin to see the current state of your Kubernetes clusters that you have
- Be able to inspect the clusters, active instances on a cluster level
- Be able to see active deployments and map those to components in Backstage

## Project website (if applicable)
https://k8s.io

[2020-04-23 12:04] benjdlambert opened #633 "[Plugin] linkerd"
## Summary

- Be able to see the linkerd cluster that is currently running
- Get real time reports of traffic running through the system
- Be able to map those to components in Backstage
- Build a network topology of your entire stack and how components talk to other components.

## Project website (if applicable)
https://linkerd.io/

## Context
Ultralight, security-first service mesh for Kubernet

[2020-04-23 12:21] stefanalund commented on #602
Fixed in #634

[2020-04-23 12:21] #602 closed

[2020-04-23 12:38] stefanalund commented on #632
Related project: https://github.com/hjacobs/kube-web-view

[2020-04-23 12:46] stefanalund commented on #627
@aexvir it is fussy to me as well :) When we get further on the Backstage backend architecture, I think it will be easier to see the path forward. Ping @freben @mbruggmann

[2020-04-23 13:44] OrkoHunter commented on #593
Hi @nikek, did you get a chance to check with Netlify on this? 🙇 🙏

[2020-04-23 19:16] sagacity opened #639 "Notification and alerting API"
## Feature Suggestion

Backstage can be considered the "front door" for developers using our company's infrastructure. So, high-level information can be shown in Backstage before drilling down into downstream services. I believe the same concept should apply for notifications and alert triggered in downstream services. If I am the owner of a service I would like to receive these notifications and

[2020-04-23 20:28] freben commented on #639
This is a great idea!

In the internal Backstage, we have a very rudimentary and slightly underused notification function, with a typical bell in the corner. There have also been snackbar pop-ups for simple event messages. We've had plans in the back of our minds to make better use of these, and to build a nice general messaging/notifications API from the frontend side of things.

What you propose

[2020-04-23 20:36] freben commented on #627
This is super interesting! All of what you say sounds familiar and are problems that fit well under the Backstage umbrella. I won't be able to write up a response right now, but I'll get back to it as soon as possible!

[2020-04-23 20:37] Rugvip commented on #639
Yep! Def wouldn't want to build the backend part of that from scratch though, so would be interesting to see what's out there.

[2020-04-24 02:52] meledin commented on #431
Keyboard accessibility in web applications. So fun. A few items that may be of interest.

Keyboard shortcuts in webapps, typically, are few and far between mainly due to conflicts with the browser's short keys. There is actually an [accesskey](https://html.spec.whatwg.org/#the-accesskey-attribute) attribute specifically for shortcuts, but the general consensus is that it _should not be used_ (beca

[2020-04-24 03:14] meledin commented on #390
One of the things I've encountered a lot with microservice work is data model. Namely, the number of data models scales at a rate of Ω(#services), barring an external force. Thus, within certain solution areas, I've leveraged shared data models, where a master specification is used to hydrate the data model across all users (thus, multiple APIs expose/reuse the same data model). I assume that's so

[2020-04-24 04:38] loftwah commented on #170
Thanks! I'll keep an eye out and contribute wherever I think I can, not phased if any of it actually makes it to master.

[2020-04-24 07:42] stefanalund commented on #627
I really like this. Could see it as something that you would run in the background and show any warnings/errors in the Backstage plugin. This is a common pattern for Backstage at Spotify; we use visualisations in Backstage as a way to inform and nudge engineers towards following best practices.

[2020-04-24 07:51] RoyJacobs commented on #627
It's one of the things I implemented in our API Registry, but it led to all sorts of unwanted complexity (embedding a Node application like Spectral in a Kotlin app, etc). A Backstage plugin would be much better suited for this. Frontend editing components like CodeMirror even have a very straightforward way of [visualizing the linting results](https://codemirror.net/demo/lint.html).

[2020-04-24 08:51] mbruggmann commented on #639
Not sure if this is the same thing, but I'm interested in having a unified event stream of what changes that are going on in the infrastructure (PR merges, service deploys, alerts, config changes, etc). We could, as you say, have some type of REST API that can be used as a webhook for infra services or external systems, possibly with a separate type of plugin to translate from upstream-specific in

[2020-04-24 09:06] mbruggmann commented on #627
Interesting, I think there are a few aspects to unpack here:
* Some type of registry or inventory of which APIs exist, their type (OpenAPI, GraphQL, gRPC), the component/system/repo they belong to, and where to query their schema. This could possibly live with Backstage?
* Indexing the actual API schemas, either from source code, through reflection at runtime, or through a manual process. Could be

[2020-04-24 09:18] RoyJacobs commented on #627
Yes, that seems about right. Katalog could then be reduced in scope quite a bit to 'just' host the API specs and providing a flexible query API tor retrieve them.

One thing that would have to be carefully considered is how the link is made with the metadata that is stored in Backstage: Is the service name in Backstage a unique key under which Katalog can then store API specification files? How do

[2020-04-24 11:44] dev0zz opened #640 "Yarn start: Missing notice header error in plugin.ts"
I can't start the application

![backstage error](https://user-images.githubusercontent.com/44142517/80209078-ab14ad80-8631-11ea-8a0c-1ea7ddc49003.png)

[2020-04-24 12:39] nikek commented on #593
@OrkoHunter I cleaned up all the Netlify stuff as we ran out of quota. Haven't looked into setting up a payed deployment or using the open source pricing plan. It was just a hack trial on my part and we might want to look at a different solution like ZEIT.. I mean Vercel(?), or some other continuous QA hosting solution. Unless someone wants to look into it, I can pick it up next week.

[2020-04-24 12:39] nikek commented on #593
I'll close this issue as the gibberish is gone.

[2020-04-24 12:39] #593 closed

[2020-04-24 12:56] stefanalund commented on #640
@dev0zz what environment are you on? It works on Mac for me.

[2020-04-24 14:35] Rugvip commented on #640
Thanks for reporting! Fix is being worked on, but I'm closing this as it's a duplicate of #613

[2020-04-24 14:35] #640 closed

[2020-04-24 16:08] Escalion commented on #170
@katz95 No problem - was intending to take a crack at it today but everything happens. I'll submit a PR now and if I get chance to finish it over the weekend, or before your guys do, I'll make sure to push to the branch so it is reflected on the PR :)

@loftwah your design certainly rocked too! I'll keep an eye open for more of your work!

[2020-04-24 19:07] riginoommen opened #643 "Package missing on doing yarn install"
## Expected Behavior

``` Yarn install ``` process should be successfully executed for the dependency installs
## Current Behavior

[code]

Currently dependency installation fails and terminates the process cycle

## Possible Solution
May need to update the `package.json`

## Steps to Reproduce

1. Clone the repo
2. execute ```yarn install```

## Context

## Your Environment

- NodeJS Version (v12

[2020-04-24 19:46] freben commented on #643
Hm! That's odd, that package seems to be published 4 months ago:

https://www.npmjs.com/package/@types/react-helmet

If you make a new empty directory somewhere, and then do `yarn init` followed by `yarn add --dev @types/react-helmet`, what does it do?

[2020-04-24 20:10] riginoommen commented on #643
Hi @freben that worked sending PR in a moment

[2020-04-25 01:30] OrkoHunter commented on #593
Thank you @nikek ! 🙏

[2020-04-25 02:37] braulio-balanza commented on #515
I think I could take a shot at this one. Any pointers on how to start the rollup config?

[2020-04-25 20:00] stefanalund opened #650 "Sequence component does not work in dark mode"
## Expected Behavior

All components should work in dark mode.

## Current Behavior

![9F09BA34-5AD5-4293-B910-58F8C7DCDFC1](https://user-images.githubusercontent.com/190856/80289623-08972000-8740-11ea-9a15-cd587e1bc3cc.jpeg)

## Possible Solution

## Steps to Reproduce

1. Step 1
2. Step 2
3. ...

## Context

## Your Environment

- NodeJS Version (v12):
- Operating System and Version (e.g. Ubuntu

[2020-04-26 11:45] OrkoHunter commented on #630
This also requires an update to `tsconfig.json`.
[code]
Build error without updating tsconfig, for a new plugin which has dynamic import:
[code]

[2020-04-26 12:18] #629 closed

[2020-04-26 15:06] #650 closed

[2020-04-26 23:39] Rugvip commented on #613
As far as I can tell the issue is that when the template file is downloaded with a package and put in node_modules, the line endings end up always being just LF. That'll trigger the error on windows if the project isn't checked out with LF line endings. Before when we had the template in the repo, it would get checked out with the same line endings as the code, so it would work.

Possible solution

[2020-04-27 04:49] fastfrwrd commented on #613
Argh! I have no issue with unblocking by moving it back into the repo to
unblock, but let's try to work up something for the eslint plugin, since we
want to use this plugin for all the other Spotify open source projects

On Sun, Apr 26, 2020, 7:40 PM Patrik Oldsberg <notifications@github.com>
wrote:

[2020-04-27 05:10] OrkoHunter commented on #613
I agree. The plugin can be improved to ignore line endings. (Sounds reasonable too)

[2020-04-27 05:42] OrkoHunter commented on #613
I raised an issue with the plugin and would love to hear from @nickdeis on this. :)
https://github.com/nickdeis/eslint-plugin-notice/issues/11

[2020-04-27 08:44] Rugvip commented on #643
Expecting this to have been fixed by #645

[2020-04-27 08:44] #643 closed

[2020-04-27 09:02] Rugvip commented on #288
Fixed by #621

[2020-04-27 09:02] #288 closed

[2020-04-27 09:10] Rugvip opened #658 "Switch app:serve and app:build to webpack build instead of react-scripts"
We're currently using `react-scripts` for the app build, but it doesn't have quite the config we want.

We should switch to a custom webpack config, shipped as a part of the CLI. It should be shared with https://github.com/spotify/backstage/blob/master/packages/cli/src/commands/plugin/serve/config.ts so that plugin serve and app serve supports the same leaders etc.

The difference to the existing

[2020-04-27 13:22] miixell opened #659 "[Plugin] Release Manager"
## Summary
This is a proposal for a new plugin called “Release Manager”. The purpose of the plugin is to get an overview of the ongoing mobile releases.

## Context

We have worked on a plugin, written in TS, called “Release Manager”. This view gives the users an overview of the current release and the status of it. The aim of this plugin is to gather all the sources of information in a release in

[2020-04-27 14:44] fastfrwrd opened #660 "design request: CodeSnippet component in shared"
## 🗒 General

Since we have a bit of inconsistency on how this goes internally, we ought to use this as an opportunity to expose a standard CodeSnippet component which honors dark mode, handles very large code snippets well, and supports syntax highlighting.

## 💻 Usage

Sometimes, code snippets will need to appear in a plugin, for example when the component author needs to communicate a code snip

[2020-04-27 14:59] bih opened #661 "Migrate TechRadar components to React Hooks + TypeScript"
<img width="1637" alt="Screenshot 2020-04-24 at 14 44 51" src="https://user-images.githubusercontent.com/918552/80214826-c5538900-863b-11ea-9727-2a59775b2112.png">

Related to the https://github.com/spotify/backstage/pull/628/files PR.

## Feature Suggestion

For the `plugins/tech-radar` plugin for the [Tech Radar](https://github.com/spotify/backstage/pull/628/files) we migrated the components whi

[2020-04-27 15:00] stefanalund commented on #522
Fixed in https://github.com/spotify/backstage/pull/623

[2020-04-27 15:00] #522 closed

[2020-04-27 15:29] vedantrathore commented on #661
@bih I would like to work on this. Just found out about backstage, although I've currently not laid my hands on Typescript but I do have some experience with React so contributing to a production ready project would help me learn it. If you don't mind.

[2020-04-27 15:32] bih commented on #661
@vedantrathore Assigned! Let us know if you get stuck, more than happy to review :)

[2020-04-27 15:32] braulio-balanza commented on #607
So I submitted a pull request that addresses this issue #656. I didn't see this issue was already assigned, which is completely my mistake and I apologize for it. Would it be fine if we use the pull request I made as a draft for this issue? @stefanalund @soapraj

[2020-04-27 15:35] stefanalund commented on #607
No worries @braulio-balanza -- I know for a fact that @soapraj has other stuff to do as well, I'm sure he won't mind 💯 Thanks for the awesome work!

[2020-04-27 19:28] Rugvip commented on #618
nvm, seems to be working just fine on Windows in latest master!

[2020-04-27 19:28] #618 closed

[2020-04-28 00:43] OrkoHunter commented on #613
@nickdeis has pushed a new minor version of `eslint-plugin-notice` with a fix. 🎉
@Rugvip Can you please check if this issue has been resolved? (I know you can test on windows because of #618) 😁

[2020-04-28 05:31] stefanalund opened #666 "HorizontalScrollGrid broken in dark mode"
## Expected Behavior

A natural "dark" shadow be used.

## Current Behavior

<img width="1094" alt="Screenshot 2020-04-28 at 07 28 56" src="https://user-images.githubusercontent.com/190856/80450583-1ad0b400-8922-11ea-83cb-0d7657a3d6bb.png">

## Possible Solution

Switch to darker pattern.

[2020-04-28 05:57] tharun208 commented on #569
@stefanalund ,I like to work on this issue !

[2020-04-28 07:10] shmidt-i commented on #666
Can take this one for starters!

[2020-04-28 07:29] stefanalund opened #667 "[Plugin] CircleCI"
## Summary

Show a list of builds in CircleCI and allow users to drill down to get more information. Some inspiration may be found from our internal CI view:

![Screenshot 2020-04-28 at 09 34 00](https://user-images.githubusercontent.com/190856/80459970-735c7d00-8933-11ea-8951-5a4adc3d51a2.png)

![image3](https://user-images.githubusercontent.com/190856/80459458-b23e0300-8932-11ea-88ed-c7d5d021b27

[2020-04-28 07:59] stefanalund commented on #666
Thank @shmidt-i I assigned you!

[2020-04-28 08:30] stefanalund commented on #569
@tharun208 thanks a lot for offering, but the plan is that this stylistic change will be included in this work https://github.com/spotify/backstage/pull/600

I think there will be additional issues created for improving that one as it lands. @hooloovooo can you please makes sure to ping @tharun208 on any such issue? Thanks

[2020-04-28 10:18] Rugvip commented on #613
Yeah looks like it's fixed, but needs https://github.com/spotify/eslint-config-oss/pull/4 to get it into this repo

[2020-04-28 11:54] stefanalund commented on #666
Fixed in https://github.com/spotify/backstage/pull/668

[2020-04-28 11:54] #666 closed

[2020-04-28 12:17] Rugvip opened #669 "[CLI] Keep JSDoc comments in type definition files"
## Feature Suggestion

We should keep JSDoc comments intact in `.d.ts` files in `dist/`. Right now they're being stripped out because ”removeComments" is set to true in the tsconfig inherited from `@spotify/web-scripts`

## Possible Implementation

We likely have to switch off "removeComments" in the cli/config, or override it in the rollup plugin. Although since we don'y want the JS files to have

[2020-04-28 12:53] BalestraPatrick commented on #659
This looks good! I think the backend could definitely be shared with the plugin I proposed in #603 since they both hit the official App Store Connect API.

[2020-04-28 15:04] miixell commented on #659
@BalestraPatrick Definitely! 👏 💪

[2020-04-28 15:24] braulio-balanza commented on #632
I think I could take a shot at this one!

[2020-04-28 15:37] stefanalund commented on #632
Great, I’ve assigned you!

[2020-04-28 16:24] javigomez opened #672 "Discord link to Design in the docs has expired"
Hi,

the documentation file `design.md` has a link to a Discord chat, for example to the design one at https://github.com/spotify/backstage/blob/master/docs/design.md

However if you click that link it takes me to:

<img width="470" alt="invalid" src="https://user-images.githubusercontent.com/1375475/80511881-ffdf5d80-897c-11ea-9b8d-c94ac1ab5d7b.png">

I haven't used much discord, so it might be a

[2020-04-28 17:05] #613 closed

[2020-04-29 04:58] leomindez commented on #667
Should I create a plugin into [https://github.com/spotify/backstage/tree/master/plugins](plugins) section?

[2020-04-29 06:47] stefanalund opened #673 "[Plugin] Jenkins"
## Summary

Show a list of builds in [Jenkins](https://www.jenkins.io/) and allow users to drill down to get more information.

Some inspiration may be found from our internal CI view:

![Screenshot 2020-04-28 at 09 34 00](https://user-images.githubusercontent.com/190856/80459970-735c7d00-8933-11ea-8951-5a4adc3d51a2.png)

![image3](https://user-images.githubusercontent.com/190856/80459458-b23e0300

[2020-04-29 06:50] stefanalund opened #674 "[Plugin] Travis CI"
## Summary

Show a list of builds in [Travis CI](https://travis-ci.org/) and allow users to drill down to get more information.

Some inspiration may be found from our internal CI view:

![Screenshot 2020-04-28 at 09 34 00](https://user-images.githubusercontent.com/190856/80459970-735c7d00-8933-11ea-8951-5a4adc3d51a2.png)

![image3](https://user-images.githubusercontent.com/190856/80459458-b23e030

[2020-04-29 06:52] stefanalund commented on #667
@leomindez yes - that's the preferred approach for plugins that should be open sourced.

I know for a fact that @shmidt-i has started looking into building this plugin. Would you be interested in working on a different CI plugin:

https://github.com/spotify/backstage/issues/673
https://github.com/spotify/backstage/issues/674

[2020-04-29 07:59] shmidt-i commented on #667
@Nek and me are working on this

[2020-04-29 09:10] bih commented on #661
@vedantrathore How is it going?

[2020-04-29 09:20] Solisol opened #675 "[Plugin] Drone.io plugin"
## Summary
We are using Drone.io as a build pipeline and for applying yaml configuration on Kubernetes.
It would be nice to have something similar to [#667](https://github.com/spotify/backstage/issues/667) but for drone.io

## Project website (if applicable)
https://docs.drone.io/api/overview/

## Context
Bringing the CI into backstage will allow users to gather all they need in one place.

[2020-04-29 09:56] carlsim0n commented on #613
Thank you all for the help! 🍾

[2020-04-29 10:24] JoeStead opened #677 "The Getting Started page links to a private/non-existent docker image"
The instructions linked here: https://github.com/spotify/backstage/blob/master/docs/getting-started/development-environment.md#L30 point to a docker image that isn't publicly available, and cannot be pulled/run.

## Expected Behavior
The docker image should be accessible and run as described.

## Current Behavior
When not logged in, docker will have an error:
`docker: Error response from daemon: p

[2020-04-29 10:50] OrkoHunter commented on #677
Hi @JoeStead ! I believe the `spotify/backstage` image is supposed to be created locally using `yarn docker-build` command and then we can run it using `docker run`.

[`yarn docker-build`](https://github.com/spotify/backstage/blob/a92f662d88347a912391b6a6d13dc7d64e3230b5/package.json#L16) bundles the package and creates an image using `docker-build` and creates the `spotify/backstage` tag. The `do

[2020-04-29 11:02] JoeStead commented on #677
Ahh sorry, completely missed the first step trying to rush trying it out. You're right

[2020-04-29 11:02] #677 closed

[2020-04-29 11:41] vedantrathore commented on #661
Hey @bih, I've setup the backstage local development environment and I'm currently going through the source code and tweaking things here and there to understand how everything works and how Typescript is used in the project. I'm also reading more about Typescript because I don't have any experience with it.

I'll draft out a PR for the `Radar` component converted into Typescript till this weekend

[2020-04-29 13:16] Nek commented on #667
work started!

[2020-04-29 14:00] katz95 commented on #472
@Koroeskohr Hi! Thanks for being patient!!
1. The toggle dark/light mode button will be placed in the settings, which is still being designed, so yes, you can banish it to the shadow realm for now haha.

2. For the 'not logged in' state, currently you can replace the avatar and name on the bottom of the side bar with the 'people' icon (from Material) and text that says 'Log In'.
<img width="560" a

[2020-04-29 14:09] Rugvip opened #678 "[CLI] Speed up plugin:build"
## Feature Suggestion

We're currently using [rollup-plugin-typescript2](https://github.com/spotify/backstage/blob/a92f662d88347a912391b6a6d13dc7d64e3230b5/packages/cli/src/commands/plugin/rollup.config.ts#L47), is really slow. Benchmarking shows that by far the majority of time is spent in this plugin using build, and using `tsc` directly is about 3 times faster.

## Possible Implementation

Try

[2020-04-29 16:45] o0Djeen0o opened #679 "Missing TabbedCard component in the exported layouts"
`TabbedCard` is missing in the exported layouts :
https://github.com/spotify/backstage/blob/2c251e94e0c0484084ed3c01bbf7b349f701fd51/packages/core/src/index.ts

but present in storybook:
http://storybook.backstage.io/?path=/story/tabbed-card--default

## Expected Behavior

Should be able to import TabbedCard with:
[code]

## Current Behavior

Not available

## Possible Solution

reference the layo

[2020-04-29 17:49] bih commented on #661
No worries! Was just curious to see if there’s anything I can do to help. Can review over the weekend too. I’ll look into the Discord invite URL!

[2020-04-29 20:24] soapraj commented on #632
Hey! @braulio-balanza - awesome! that you are picking this up 👍

Can you share some details on the design and interactions before you start with the implementation? It would help us iterate on ideas and design

cc @katz95 for design inputs

[2020-04-29 22:09] #679 closed

[2020-04-29 23:57] braulio-balanza commented on #632
That actually sounds great! Some guidance would be really good!

So basically the way I was thinking to implement the plugin was using the new inventory plugin as an example and have two plugins

[code]
I haven't given much thought about kubernetes-frontend, but for kubernetes-backend it would basically be an express router using the [kubernetes javascript client api](https://github.com/kubernetes

[2020-04-30 07:03] stefanalund opened #683 "[Plugin] Argo CD"
## Summary

From the Argo CD [website](https://argoproj.github.io/argo-cd/):

This plugin should implement the same functionality as the default UI component provided by the project, shown in the architecture image taken from Argo's website:

![](https://argoproj.github.io/argo-cd/assets/argocd_architecture.png)

## Project website (if applicable)

https://argoproj.github.io/argo-cd/

## Context

[2020-04-30 12:46] Rugvip opened #685 "Storybook build failing in plugin PRs"
## Expected Behavior

The storybook builds should not fail when there are no changes to storybook or it's dependencies.

## Current Behavior

Storybook verification build is failing with `Error: Can't resolve 'babel-loader' in '/home/runner/work/backstage/backstage/packages/storybook'`, see e.g. https://github.com/spotify/backstage/pull/651/checks?check_run_id=627548535

## Possible Solution

Migh

[2020-04-30 15:10] leemills83 opened #687 "[Plugin] TechDocs / Docs-like-code"
## Summary

Add easy to use technical documentation plugin to Backstage. Some inspiration can be found from our internal technical documentation:

![Screenshot 2020-04-30 at 17 02 45](https://user-images.githubusercontent.com/1236238/80726945-60010b80-8b05-11ea-8c27-d07d6719842b.png)

## Context

TechDocs makes it easy for you to make your team’s technical documentation available in a central plac

[2020-04-30 15:41] tkrop commented on #627
In Zalando, we implemented this feature in a standalone API Portal supported by the API Repository providing a historic perspective on all deployed APIs. The API repository is supporting an easy search language that directly provides results from an ElasticSearch engine.

Content is pushed to the API Repository via a job running every 5 minutes to collect all current deployments and resolve their

[2020-04-30 19:12] #170 closed

[2020-04-30 19:18] timbonicus opened #688 "[Plugin] Cloud Cost Insights"
## Summary

Add visualization and insights of cloud provider costs. This allows teams to see costs for the deployed software they own, as well as cost breakdowns for various cloud products. This also provides a place for company-specific cost recommendations that might exist, such as adopting internal infrastructure tools or libraries.

Spotify's internal cost insights plugin provides some inspira

[2020-04-30 19:39] Escalion commented on #632
My feeling is that it is actually better to have a backend and a frontend for this, as opposed to rolling it into one frontend plugin.
At least by separating the concerns, you can protect the resource, in this case, a K8s cluster 🤕.
It also allows for user permissions (if this is planned? @stefanalund) and the ability to show/hide resources on a per-user basis without exposing 'everything else' (t

[2020-04-30 19:52] Escalion commented on #418
+1
I like the proposed solution.

As a suggestion, uniqueness could be enforced by a plugin cache which is checked when the plugin registers itself, and in the event of a conflict do something simple with the override such as append its version, and failing that, version + some form of a hash of the registering file.

[2020-04-30 21:32] freben commented on #632
Agreed, a backend probably makes sense here.

Yes we are planning to lift over a user identity concept to Backstage, adapted from the internal project. The details of that design aren't set yet.

As to how that design affects what a kubernetes plugin shows - that's an interesting question. Any ideas here?

One way could be to go from user identity -> list user's owned components in the inventory -

[2020-05-01 00:53] OrkoHunter commented on #685
Also for #681, but the error message seems to be different in this https://github.com/spotify/backstage/runs/634375942

[code]

[2020-05-01 06:31] juliosueiras opened #690 "[Plugin] Terraform Runner"
## Summary

A Plugin that would allow running arbitrary terraform code/modules, possible use case is for service catalog or direct run on a service page

## Project website (if applicable)

https://terraform.io

## Context

[2020-05-01 06:33] juliosueiras opened #691 "[Plugin] Nomad"
## Summary

A Nomad Plugin for managing(full lifecycle) its tasks

## Project website (if applicable)

https://nomadproject.io

## Context

[2020-05-01 06:34] juliosueiras opened #692 "[Plugin] Vault"
## Summary

A Plugin to allow display and management of Vault secrets and its roles

## Project website (if applicable)

https://vaultproject.io/

## Context

[2020-05-01 06:35] juliosueiras opened #693 "[Plugin] Consul"
## Summary

A Plugin to allow management of consul services and kv store

## Project website (if applicable)

https://www.consul.io/

## Context

[2020-05-01 07:25] freben opened #694 "Document the different backend use cases"
Write documentation about how to consume backing services from Backstage.

Outline the difference between (1) just frontend plugin talking directly to a service, (2) frontend talking via the Backstage proxy to a service, (3) frontend with accompanying Backstage backend part. Give guidance on when to choose which one.

[2020-05-01 11:32] stefanalund commented on #687
Since TechDocs is an internal name I think it would be better to name this issue something like “Docs-like-code” or just “Technical documentation”.

I also look forward to seeing what different pieces are required behind the frontend for this plugin to work 😀

[2020-05-01 13:35] Rugvip commented on #685
@OrkoHunter yeah that's to do with @backstage/core not being built in storybook CI builds, but we actually don't want to do that as we'd end up depending on 2 different instances of core. Fixed it in #695 by resolving @backstage/core to it's src dir.

Regarding this issue It seems to have been caused by babel-loader being installed inside react-scripts in node_modules. When clearing yarn.lock it s

[2020-05-01 13:52] #685 closed

[2020-05-01 14:24] Koroeskohr commented on #472
@katz95 What I meant by selected indicators is what you described yourself in your mockup (https://user-images.githubusercontent.com/61153904/78458483-f8949f00-76b1-11ea-90c1-17263a9a840b.png) , the red dot and the blue bar

[2020-05-01 14:54] #630 closed

[2020-05-02 08:45] OrkoHunter commented on #685
Thank you @Rugvip ! Amazing work :)

[2020-05-02 09:37] Rugvip opened #697 "Public Backstage Backstage Deployment"
## Feature Suggestion

We should have a public Backstage app deployed for managing this project. Use cases would be exploring available plugins, overseeing PR deployments and GitHub workflows, providing an auth backend for development, and simply trying out some plugins, and more.

## Possible Implementation

We may want to deploy this outside of Spotify infra so that we can have more direct dogfo

[2020-05-02 11:38] stefanalund commented on #697
demo.backstage.io

[2020-05-02 12:00] Rugvip commented on #697
backstage.backstage.io 🤯

[2020-05-02 13:23] stefanalund opened #700 "Fix Storybook compilation warnings"
## Expected Behavior

Don't show errors or warnings.

## Current Behavior

When you run `yarn start` inside `packages/storybook` you get this:

<img width="1105" alt="Screenshot 2020-05-02 at 15 22 07" src="https://user-images.githubusercontent.com/190856/80865319-d24e2900-8c88-11ea-98e2-8ffbc5dff86f.png">

## Possible Solution

## Steps to Reproduce

1. Step 1
2. Step 2
3. ...

## Context

## You