[2022-05-19 12:32] mmulligan03 commented on #11531
From my understanding it's an all or nothing change to disable/enable encoding. Passing in the API key separately sounds better than the ability to disable the encoding.

[2022-05-19 12:49] gosharplite commented on #11583
Same issue has been observed.

Can't complete the getting started guide.

[2022-05-19 12:54] emmaindal commented on #11531
So then I would say this is the way to go.

I'll add a help-wanted label on this issue and feel free to pick it up if you want @mmulligan03, otherwise I'll see if I find time next week to fix it.

[2022-05-19 12:57] jhaals opened #11611 "[RFC] Backend System Evolution"
**Status:** Open for comments
**Authors:** @backstage/maintainers

## Need

The new Backend system stems from a couple of needs identified prior to writing this RFC.

Some of the areas covered in this RFC need much more work, but we would like to open up for comments and feedback for this proposal before moving forward.
### Simplified Installations

The perhaps most important of these is to make i

[2022-05-19 13:03] #11515 closed

[2022-05-19 13:26] jhaals commented on #11521
Hi!

Sorry to hear that you're having trouble! I wonder if the per plugin `connection` settings cause additional connections. Have you tried running `pluginDivisionMode: schema` and not overriding the connection settings for the plugins?

[2022-05-19 13:38] camilaibs commented on #4123
We have an open pull request fixing the addons in the catalog subpages, thanks for reporting: https://github.com/backstage/backstage/pull/11609

[2022-05-19 14:40] iamEAP commented on #4123
Would _love_ to hear proposals on how to make this work; a separate issue for this would be a great place to start.

[2022-05-19 15:01] tkrop opened #11614 "Enable access to DefaultEntitiesCatalog"
## Feature Suggestion
Please expose the `(Default)EntitiesCatalog` so that `EntityProviders` and `EntityProcessor` can make use of them to access information in previously stored entities.

## Possible Implementation
Just export the `DefaultEntitiesCatalog` (and possibly the `AuthorizedEntitiesCatalog`) so that we can create an instance using the database client.

## Context
We are trying to incre

[2022-05-19 15:14] Rugvip commented on #11614
Hi! Wondering whether you've considered using https://backstage.io/docs/features/software-catalog/external-integrations#caching-processing-results for this use-case? One of the ideas with the caching is to be able to provide a fallback to cached information in case of an error fetching up-to-date information.

[2022-05-19 15:27] ksputo commented on #11583
@gosharplite @wolverian
I had similar issues on Macbook Pro with macOS Monterey v 12.3.1 with M1 Pro chip. For me using x86 arch Node@16 under Rosetta fixed the issue and I was able to run `yarn install` without those issues. See step-by-step tutorial here:

https://gist.github.com/adrienjoly/e29a6e73fb7e701eefd80ff9bde9abeb

[2022-05-19 17:26] diegoribeiro-hotmart commented on #11584
Hi @camilaibs! I have the same problem after upgrading to the latest version. I followed the instructions in the changelog but the problem persists.

[code]

I see the same message in UI when I try to log in with a Google account after Google redirects back to Backstage:

[code]

[2022-05-19 17:32] Rugvip commented on #11584
Looks like this issue is broader than search, it's just likely to manifest there. As a fix for now it should help to bump the `luxon` dependency (remove it from `yarn.lock` and run `yarn install`), but I'll see if we can ship a fix.

[2022-05-19 17:41] kuangp commented on #11611
Amazing proposal! I really like how it encapsulates much of the same pattern from the frontend system which provides integrators the same familiar interface and a consistent configuration experience throughout the entire system.

Can you elaborate on the plugin extensions point design a bit more ie. what would an example look like for a catalog extended with a custom processor/provider?

I also re

[2022-05-19 18:20] #11526 closed

[2022-05-19 18:41] Rugvip commented on #11611
Thank you! Yep that is indeed part of what we were going for, making sure existing knowledge of the Backstage frontend can be reused.

They're a completely open interface, a blank canvas, but we do have some plans. As part of the backend system design we've explored a couple of different concepts for bridging together plugins and modules. One of them is "hooks", another is "feature collections". B

[2022-05-19 18:47] mmulligan03 commented on #11531
https://github.com/backstage/backstage/pull/11619

[2022-05-19 19:37] #11584 closed

[2022-05-19 19:52] JordiPolo commented on #11407
We have set of properties within metadata, I notice the value in one of those outdated in one service and wanted to know if any other services had that outdated value. So again, having that in search would have been very convenient.

[2022-05-19 20:26] Matth-Ng opened #11620 "Header Hierarchy Jump on Catalog Import Page"
## Expected Behavior
The header tags should go in order of H1 to H6. In the catalog-import page, the infocard title should be encapsulated in an `<h3>`, and the text headers under it should use `<h4>`

## Actual Behavior
The infocard text uses `h6` and breaks header hierarchy.

## Steps to Reproduce

go to the

1. In a vanilla Backstage instance, go to the /catalog-import page
2. You can inspect t

[2022-05-19 20:36] samueljon commented on #11583
I used the workaround described in https://github.com/backstage/backstage/issues/11583#issuecomment-1131479551 by doing `yarn add --dev -W  node-gyp` which adds the following devDependency to `package.json`.  After that, I was able to do `yarn install` and run native `node-gyp` builds without errors on M1 MacBookPro.

[code]

[2022-05-19 23:02] pjungermann commented on #11401
@Rugvip seems like 1.8.3 was marked as "deprecated" but not removed. I was just running into the same issue.

[2022-05-19 23:35] tonyhsuclrous commented on #11583
@samueljon
Thanks! After doing `yarn add --dev -W node-gyp` in the directory `my-backstage-app`, I can do `yarn install`.

I didn't get the chance to select database for the backend after doing `npx @backstage/create-app`.

Hopefully the default is `SQLite`.

[2022-05-19 23:38] gosharplite commented on #11583
@samueljon
Thanks! After doing `yarn add --dev -W node-gyp` in the directory `my-backstage-app`, I can do `yarn install`.

I didn't get the chance to select database for the backend after doing `npx @backstage/create-app`.

Hopefully the default is `SQLite`.

[2022-05-20 00:33] jeremyguarini commented on #11369
yeh the page contents is empty on that initial load

<img width="1617" alt="Screen Shot 2022-05-19 at 5 28 12 PM" src="https://user-images.githubusercontent.com/23618053/169425217-0a469b9c-1596-43ba-8498-20ae136f5dfb.png">

Looking at the network request
.../api/code-coverage/file-content?entity=component%3Adefault%2Fbackstage&path=plugins/permission-common/src/PermissionClient.ts

the response pa

[2022-05-20 01:19] younky-yang commented on #11515
actually it works well for Mac, but on Linux, we ned to explicitly add graphql-ws. So seemed some package has this issue on different platforms.

[2022-05-20 03:43] dehamzah commented on #8835
Sorry about this, back then we are working at 2 things at the same time:
1. Moving to postgres search engine, and
2. Splitting the backend pod that serve the rest API and the pod that run the search indexing

We do these because we are faced with the problem indexing a lot of data in the search, see https://github.com/backstage/backstage/issues/9178

The actual behavior on the above is that someti

[2022-05-20 03:43] #8835 closed

[2022-05-20 06:43] vl-shopback commented on #11522
postgres in helm chart should be optional, we prefer to use database outside the k8s

[2022-05-20 07:36] jhaals commented on #11598
Hi Charles!

Yeah the helm chart is merely a basic starting template.
It does like a good idea to improve the documentation on how to build the frontend container. I'm not sure how far you are with your adoption of Backstage but if you managed to answer some of these questions you're more then welcome to contribute improvements to our docs 🙏

[2022-05-20 08:07] martina-if commented on #11522
Hi @vl-shopback , deploying postgres in this chart is completely optional. Just make sure to set `postgresql.enabled` to `false` :) See docs [here](https://github.com/backstage/backstage/tree/master/contrib/chart/backstage#custom-postgresql-instance)

[2022-05-20 08:10] ProticM commented on #11519
Np @Xantier

Here is the PR https://github.com/backstage/backstage/pull/11623

[2022-05-20 08:14] jhaals commented on #11501
Stop registering the location as url is perhaps not something we should enforce.  There's situations where you start out with discovery enabled but want to transition over to manually registered entities for better control so just denying is probably not a good experience for everyone. I like the idea of promoting the user for a manual registration based on the dry-run result.

[2022-05-20 08:22] tkrop commented on #11614
Nice, but unfortunately not available in most of our services especially not in the Data Lake we are mainly trying to address here.

[2022-05-20 08:37] jhaals commented on #11460
I agree with Ben that rollbacks introduce a fair bit of complexity and that it require careful consideration before implementation, probably something that require an RFC with more details on how such a system could work.

Software templates can definitely be used to create other things then just repositories as you and others already do.
There's definitely pitfalls with rollbacks which can lead t

[2022-05-20 09:03] jhaals commented on #11580
Hi there!

You're right that the the templates is not fully compatible with cookiecutter, that's because the default template engine now uses [nunjucks](https://mozilla.github.io/nunjucks/) for templating which has the benefit of not requiring installation of cookiecutter. You can still use cookiecutter if you are unable to work around the differences in the two templating engines by using [scaffo

[2022-05-20 09:07] nadworny commented on #11580
Hi @jhaals
Thanks for your input. I didn't find anything specific to the cookiecutter scaffolder except of setting `cookiecutterCompat: true`. Did I miss something? Would you be so kind and tell me how can I enable the [scaffolder-backend-module-cookiecutter](https://github.com/backstage/backstage/tree/master/plugins/scaffolder-backend-module-cookiecutter)?

[2022-05-20 09:28] #8251 closed

[2022-05-20 09:42] #11410 closed

[2022-05-20 09:45] Rugvip commented on #11401
Yep, can confirm that I got 1.8.3 installed in a new app. That's some less than desirable behavior ._.

[2022-05-20 10:40] Rugvip commented on #11614
Could you elaborate a bit more on why it's not available?

Let's also pinpoint the pieces from the `EntitiesCatalog` that you need, is it only the `entities` method? In that case it may be that what you want to do here is to simply provide a `CatalogClient` instance to your processor so that it can call back to the catalog read API? I'm feeling that at a high level that is the correct abstraction,

[2022-05-20 11:17] #11379 closed

[2022-05-20 11:40] jhaals commented on #11577
I believe this was introduced by @o-farooq in https://github.com/backstage/backstage/pull/3191, I hope that he can help out and clarify this as I'm not that familiar with this feature 🙏

[2022-05-20 12:59] ewassef opened #11628 "Backend API does not verify JWT tokens"
## Expected Behavior

For any calls to the `/api` endpoints that are part of an installation configured for authentication, the passed bearer token should verify the expiration and signature of that token before serving up data

## Actual Behavior

any base64 valid token will be able to retrieve all data

## Steps to Reproduce

1. hand craft a JWT token
2. base64 encode it
3. call `curl -H 'Author

[2022-05-20 13:22] thunder7s commented on #11297
I have set it to the boolean value of true in the config file and still get the same result/error as above.

[2022-05-20 13:23] #11522 closed

[2022-05-20 13:41] jhaals opened #11631 "cli: Update package.json version during `versions:bump`"
The `backstage-cli versions:bump` command used to bump backstage dependencies only updates package.json files when the semver range inside package.json no longer satisfies. This means that in most cases during versions:bump only `yarn.lock` is updated. This makes it hard to see which version of a plugin is installed and this has generated a fair bit of confusion for adopters.

For example the pack

[2022-05-20 14:01] anicke opened #11632 "[GitHubOrgEntityProvider] - Make it configurable to only import groups or users."
This is related to #11406. We have a similar use case.

## Feature Suggestion

We have a different "user provider" and have no use for the github users but we do need the github groups in backstage.

## Possible Implementation

Add two boolean arguments to the provider.

[code]
Only emit the entities of the wanted kind.

[code]
I can prepare a PR is this is the way forward.

[2022-05-20 19:45] chuliang014 opened #11636 "Cost Insights table can not be showed fully"
## Expected Behavior
Hi, the table in Breakdown by Project in Cost Insights can be showed fully, and scroll down or scroll up when click the expand button in order to see more project.

## Actual Behavior
The table can not be showed fully, also not scroll down to see the extra project.
![image](https://user-images.githubusercontent.com/56138162/169600334-3d3dbebb-025f-462f-8ed2-43d155fc802a.png)

[2022-05-20 20:04] chuliang014 opened #11637 "Can we customized the tab in Cost insights"
## Feature Suggestion

Hi, can we customized the tab in cost insights? like `Breakdown by Team` not `Breakdown by Product`. I'm currently fetch the data by team instead of product. In addition, is there any possibility for us to add more tabs except for the default three `Total Cost`, `Breakdown by Product` and `Breakdown by Project`? like `Breakdown by xxx`
![image](https://user-images.githubuser

[2022-05-20 20:47] e0d commented on #9250
Just to make sure I'm parsing this thread correctly, the current status is that Backstage will not work on Heroku with PostgreSQL?  @kwent is referring to documentation changes rather than code changes, so I wasn't sure whether he'd got this working or not.

I'm facing the same issue with plugin DBs

`Error: Failed to connect to the database to make sure that 'backstage_plugin_catalog' exists, err

[2022-05-20 21:39] peimanja commented on #9461
still valid

[2022-05-21 02:19] regicsolutions opened #11639 "Jenkins job.get: not found type=errorHandler"
Jenkins Plugin is no longer working, this did work in past releases but now the plugin is unable to identify the job

Error:
[code]

annotations:
    jenkins.io/job-full-name: FOLDER/MY-ORG-FOLDER/repo

## Steps to Reproduce

1. Step 1
2. Step 2
3. ...

## Context

## Your Environment

- Browser Information:

- Output of `yarn backstage-cli info`:

[code]

[2022-05-21 07:53] #7678 closed

[2022-05-21 09:18] #10142 closed

[2022-05-21 10:35] sonytricoire opened #11642 "Backstage Upgrade Helper should provide a Git patch"
## Feature Suggestion

Backstage Upgrade Helper could provide a **git patch** file for a one step migration using [git apply](https://git-scm.com/docs/git-apply)

[2022-05-22 00:03] dweber019 commented on #11077
@mspedalettiHM, @benjdlambert  created a PR for the dashboard urls, see https://github.com/backstage/backstage/pull/11644

[2022-05-22 00:20] dweber019 commented on #7571
@Rugvip can be closed as it's solved.

[2022-05-22 00:34] b3ondaDam27 commented on #3074
Hi. I don't know if anyone is still working on this idea but I was thinking about doing something similar. I don't know anything really about code or programming, but do want to learn and plan to once I get my money situated. Regardless of that though, I was hoping maybe I could bounce my idea off of individuals who do have coding and programming knowledge.

[2022-05-22 00:42] dweber019 commented on #9983
We are running Backstage on OpenShift successfully with a base image like
[code]

And then the multi-stage build from https://backstage.io/docs/deployment/docker#multi-stage-build using the above base image.

Additionally this maybe helps https://discord.com/channels/687207715902193673/924606903122792469/929057374369628161.

[2022-05-22 08:20] #10865 closed

[2022-05-22 09:17] #10223 closed

[2022-05-22 11:55] #7571 closed

[2022-05-22 17:37] #10210 closed

[2022-05-22 19:00] #10321 closed

[2022-05-22 23:57] mclarke47 commented on #10142
Was this completed?

[2022-05-23 05:32] minkimcello commented on #11570
I'll try to get started on removing lerna this week. 👍 But could you elaborate on what you mean by running all tests straight from the root without monorepo orchestration? I see `backstage-cli test` is being deprecated in favor of `backstage-cli package test` and therefore the new test script should run `yarn workspaces run test` from the root. Were you saying `yarn test` should be doing what `yar

[2022-05-23 07:32] james-wilson-kidsloop commented on #9983
Amazing, thank you. I'll try this out and report back!

[2022-05-23 07:41] jamesw201 commented on #9983
Amazing, thank you. I'll try it out and report back

[2022-05-23 12:33] Rugvip commented on #11642
Yep makes sense to have that easily available! I think with this in place it would be even better if we could avoid having the `@backstage/*` dependency bumps be part of the diff too.

Is this something you would like to contribute?

[2022-05-23 13:48] Rugvip commented on #11632
Sure! Seems like a sensible configuration, please do prep a PR! 👍

I'm curious how you want to end up linking together the groups and users, will the GitHub teams actually end up referencing users as members? That raises a separate question, which is whether we child/member relations should be optional as well. That is, if you only emit groups, should those groups still include membership informat

[2022-05-23 13:55] Rugvip commented on #11628
This is intended, you don't actually need to include an access token at all. See https://backstage.io/docs/auth/#sign-in-configuration for more information, which mentions what you're calling out in the context. Adding authentication to the backend is something I think we want to do eventually, but not something we can squeeze into the roadmap at the moment.

There's https://github.com/backstage/b

[2022-05-23 14:04] Rugvip commented on #11598
There's a section further down on that page that explains how to set up a separate NGINX image, https://backstage.io/docs/deployment/docker#separate-frontend. It also includes a link to the contrib folder, which has a couple of different Docker build setups for building the image.

Will close this as I do think it's covered by the docs, but let us know if there's something we can do to make it cle

[2022-05-23 14:11] e0d commented on #9250
To answer my own question, code changes are required.  A separate issue was opened above related to the required changes.

https://github.com/backstage/demo/issues/50

[2022-05-23 14:41] Matth-Ng commented on #11620
Created a PR to fix the header hierarchy while keeping the same existing style https://github.com/backstage/backstage/pull/11622

[2022-05-23 17:54] awanlin opened #11650 "[TechDocs] ERR_SSL_PROTOCOL_ERROR when viewing from Component Docs Tab"
## Expected Behavior

TechDocs should display

## Actual Behavior

When trying to view TechDocs from the Components Docs tab we get a Error 404: TypeError and looking at the console we see there is an ERR_SSL_PROTOCOL_ERROR error:

![image](https://user-images.githubusercontent.com/67169551/169877583-cd0ab69e-9527-408d-b7a7-e7df5a8767d2.png)

If I change the URL to use HTTP it works. Not sure why

[2022-05-23 18:15] awanlin opened #11651 "Cannot find module 'better-sqlite3' when running in Docker Container"
## Expected Behavior

Backstage should start up

## Actual Behavior

When trying to start up Backstage in a Docker container we get: Cannot find module 'better-sqlite3'

The fix is to move `better-sqlite3": "^7.5.0` from the `devDependencies` section to the `dependencies` section in the `\packages\backend\packages.json` file.

## Steps to Reproduce

1. Ran npx @backstage/create-app to create a ins

[2022-05-23 20:07] github-actions[bot] opened #11652 "Snyk vulnerability [SNYK-JS-PROTOBUFJS-2441248]"
## Affecting Packages/Plugins

* [@backstage/plugin-auth-backend](plugins/auth-backend/package.json)
* [@backstage/plugin-kubernetes-backend](plugins/kubernetes-backend/package.json)

## Overview
[protobufjs](https://github.com/dcodeIO/protobuf.js) is a protocol buffer for JavaScript (& TypeScript).

Affected versions of this package are vulnerable to Prototype Pollution which can allow an attacke

[2022-05-23 22:23] pjungermann opened #11653 "Warnings in api-report.md files"
## Expected Behavior

no warning in all api-report.md files

## Actual Behavior

**ae-forgotten-export**
./plugins/github-deployments/api-report.md:3
./plugins/home/api-report.md:3
./plugins/user-settings/api-report.md:6
./plugins/config-schema/api-report.md:1
./plugins/splunk-on-call/api-report.md:10
./plugins/pagerduty/api-report.md:8
./plugins/circleci/api-report.md:1
./plugins/catalog/api-repo

[2022-05-24 07:47] mscam commented on #11483
After upgrading to `1.1.0`  stale entities are now showing `This entity is not referenced by any location and is therefore not receiving updates. Click here to delete.` 💯

[2022-05-24 07:47] #11483 closed

[2022-05-24 09:10] camilaibs commented on #11569
Hi @kim5566, thanks for reporting.
It seems to have been fixed here, could you check?
https://github.com/backstage/backstage/pull/11609

[2022-05-24 09:18] Rugvip commented on #11651
This is intended as of the v1.2 release. We removed SQLite from the Docker image as we now consider that to be the production deployment, which uses PostgreSQL. Having the SQLite dependency present in production means we both need to install additional dependencies from APT, as well as SQLite itself, both of which bloat the image and build process.

It's something you can ofc change in your own ap

[2022-05-24 09:30] Rugvip commented on #11652
#11654

[2022-05-24 10:13] shailendra-ahir-cbre commented on #9659
HI @freben @Rugvip , Unrelated to the above issue but, Can we use the parseRepoUrl like this ?

${{ (parameters.repoUrl | parseRepoUrl).host === 'dev.azure.com' ? steps.azure.output.remoteUrl : steps.github.output.remoteUrl }}

[2022-05-24 10:32] pjungermann commented on #11653
@Rugvip maybe the list should be inverted to an "allow warnings list" instead :) So new packages will not start with them.

[2022-05-24 12:05] #11652 closed

[2022-05-24 12:36] jkNC commented on #11049
Since changing to this endpoints under /catalog/api seems to get an unauthorised? I am not sure if it related

[2022-05-24 15:26] mmulligan03 commented on #11531
I have the changes to address the concerns done, but I am away for 2 weeks and didn't bring my personal laptop... I'll get them in once I get back.

[2022-05-24 16:02] tkrop commented on #11614
Often we have just not implemented `ETags` in our RESTful APIs since, e.g. since we utilize event streams via [Nakadi](https://nakadi.io/) we rarely poll on RESTful APIs to check for updates. So the pressure is low to implement this feature.

Yes, it is only the `entities` method we are currently going for, but it is not necessarily the previous version of the entity we are going to load.

Not a _

[2022-05-24 16:10] Rugvip commented on #11614
Alright, is using a remote `CatalogClient` good enough for you do you think? It'll resolve to local loopback so you're mainly paying for a bit of serialization, but I'm assuming you're not shipping any big amounts of data anyway?

[2022-05-24 16:13] Rugvip commented on #11580
@nadworny The `scaffolder-backend-module-cookiecutter` is a separate module that you install if you want full cookiecutter support. You'll need to either have `cookiecutter` installed inside the scaffolder instance, or it needs to have access to a docker daemon. The setup instructions are documented in the [README](https://github.com/backstage/backstage/blob/master/plugins/scaffolder-backend-modul

[2022-05-24 16:14] #11580 closed

[2022-05-24 16:16] Rugvip commented on #11636
Oooh, looks like it needs a bit of overflow or something like that x)

@timbonicus is this something you want to look at?

[2022-05-24 16:21] Rugvip commented on #11639
What version did you upgrade from? Not seeing any immediately suspicious changes in the most recent release.

Any other clues as to what might cause the lookup to fail?

[2022-05-24 16:33] tkrop commented on #11614
Using a _remote_ `CatalogClient` would create a lot of unnecessary overhead. Why should we create this overhead for a simple database query?

However, since you already exposed a _remote_ `CatalogClient` this has technically creating a similar _local_  `CatalogClient` abstraction. Why don't you expose this abstraction, if you are reluctant to export the `DefaultEntitiesCatalog`?

[2022-05-24 16:47] voodooGQ opened #11657 "Scaffolder - GithubResponseError: Pull request creation failed; caused by HttpError: Not Found"
## Expected Behavior

I'm able to scaffold without error

## Actual Behavior

Receiving `GithubResponseError: Pull request creation failed; caused by HttpError: Not Found` consistently with my build. Have tried upgrading. Have tried giving more permissions to the token. Unfortunately, the error message doesn't give a whole lot of info on what's actually going wrong.

https://github.com/backstage/b

[2022-05-24 22:35] dyu-bot opened #11660 "github-discovery not discovering"
## Expected Behavior

After following the instructions for setting up github discovery (https://backstage.io/docs/integrations/github/discovery) Backstage should be able to auto discover repositories with a catalog-info.yaml in the github org specified here

[code]

## Actual Behavior

Backstage does not auto discover repositories. There's also no indication in the Backstage logs that either `Gith

[2022-05-24 22:37] #11273 closed

[2022-05-24 23:12] #11660 closed

[2022-05-24 23:46] dackroyd commented on #5507
https://openfeature.dev/ might be of interest, however to be clear this is in early stages, and no implementation exists to date

[2022-05-25 06:30] Revanthchowdary9 opened #11662 "failed to fetch"
Can anyone help me with this error,

in Ui i am getting the failed to fetch error

pod logs:-
Failed item in location github:https://github.com/backstage/backstage/blob/master/plugins/github-actions/examples/sample.yaml, Error: Unable to read github, Error: https://github.com/backstage/backstage/blob/master/plugins/github-actions/examples/sample.yaml could not be read as https://api.github.com/rep

[2022-05-25 08:30] tkrop commented on #11614
Using a _remote_ `CatalogClient` would create a lot of unnecessary overhead. Why should we create this overhead for a simple database query?

In addition, since you already exposed a _remote_ `CatalogClient` this technically creates a similar binding to a _local_  `CatalogClient` abstraction. Why not exposing this abstraction of a `LocalCatalogClient`, if you are reluctant to export the `DefaultEn

[2022-05-25 09:07] Brend-Smits commented on #8842
Hey there,
I would like to pick this up. Working on it in my fork and will rebase and inform you here when it's ready for feedback/review.

[2022-05-25 09:45] Crevil opened #11663 "Custom columns by entity type in catalog table"
## Feature Suggestion

Currently the `CatalogTable` component renders custom columns based on the entity type if no custom columns are injected in the `columns` property. It would be great to somehow be able to do the same entity type casing for custom columns.
As the API specifices `columns?: TableColumn<CatalogTableRow>[]` there is no way to make this dynamic based on the entity filter.

https:/

[2022-05-25 10:35] kim5566 commented on #11569
Hey @camilaibs ! looks fixed to me! thanks!

is there any dependency in `"@backstage/plugin-techdocs": "^1.1.2-next.0",`?

could i only upgrade this package? as I still want to go for main release version 😀

[2022-05-25 12:04] jdotw commented on #11651
As a relatively new user to Backstage, this added a sizeable "uhhh maybe this isn't ready for prime time" sentiment. If I follow the documentation about how to deploy Backstage, I expect it to work as documented. In this case, it does not.

[2022-05-25 14:00] leon-vg opened #11666 "[Scaffolder] Templates are broken when using a proxy that injects an authorization header"
## Expected Behavior

Software Templates should work when Backstage is hosted behind a proxy.

## Actual Behavior

When the user submits the form, the `post /v2/tasks` endpoints throws because the parsed result of `req.headers.authorization` is not a valid entity.

See the lines here: https://github.com/backstage/backstage/blob/master/plugins/scaffolder-backend/src/service/router.ts#L181

In our s

[2022-05-25 14:43] djamaile commented on #11666
Thanks for the work around! Was also running into this and the error message wasn't really descriptive.

[2022-05-25 16:31] alecjacobs5401 opened #11667 "[PagerDuty][Plugin] Support of `pagerduty.com/service-id` annotation in addition to integration-key"
I would love to start using the PagerDuty plugin in my instance of Backstage but have concerns about storing integration keys in plaintext as part of the annotation ([PagerDuty mentions these should be treated as secret](https://community.pagerduty.com/forum/t/event-api-integration-key-does-it-need-to-be-a-secret/429)).

As far as I can tell, the integration key is really only necessary for the fe

[2022-05-25 20:35] johnkk84 commented on #11662
Hi,
In my eyes you missed github token in app-config.yaml

[code]

Could you give details about your run? Is standalone process, docker compose , kubernetes?

[2022-05-25 21:25] voodooGQ commented on #11657
Ok sorry about that, now that I have the access I need I can verify that we're not using OAuth but are just using the basic token integrations:

[code]

I'll try elevating the permissions of the token to see if that alleviates the issues we're having and report back.

[2022-05-25 21:30] voodooGQ commented on #11657
Alright, I added the following perms and it fixed the issue. I'm assuming the org_hooks are what's important here. Is there documentation that goes over any of this that I may have missed?

![image](https://user-images.githubusercontent.com/1512028/170370695-1cae747e-bd3a-44cc-9e91-8bb8369167be.png)

[2022-05-26 01:32] amirtal-cp commented on #11662
hi,
had the same issue.

Default helm deployment, using the example from docs (https://backstage.io/docs/deployment/helm).

setting GITHUB_TOKEN resolved the error in the pod logs.

but the error in the UI remains, and it is not possible to perform any actions on the UI.

there are no errors in backend/frontend logs:
[code]

[2022-05-26 03:51] kiranpatel11 opened #11671 "System Model: Inter-System (and inter-domain) relationships for the System Landscape View."
The system model in Backstage catalog does have `part-of` relationship for `Component`s with the `System`. but the `System`s themselves do not have any peer/inter relationships as defined by the [C4 Model](https://c4model.com/).

## Feature Suggestion

Define the inter-system (and probably inter-domain) relationship for Backstage System Model to cover the recommended modeling by [System Landscape

[2022-05-26 03:53] kiranpatel11 commented on #11671
https://github.com/backstage/backstage/issues/4394

[2022-05-26 03:57] autoamator commented on #11149
Final update- it turned out that my backstage version was simply too old. After upgrading to the newest it all works fine. Thank you all for your help.

[2022-05-26 08:40] camilaibs commented on #11569
@kim5566 here you can see the updated dependencies 🙂 :
https://github.com/backstage/backstage/blob/master/plugins/techdocs/CHANGELOG.md#112-next0

And thanks again for being active in the community 🎉

[2022-05-26 08:40] #11569 closed

[2022-05-26 08:59] simonsandersje commented on #8270
Importing the catalog-react overrides and adding to the theme works for me:

`import { BackstageOverrides as UserListOverrides } from '@backstage/plugin-catalog-react'

export const createUserPickerOverrides = (_: BackstageTheme): UserListOverrides => {
  return {
      CatalogReactUserListPicker: {
        root: {
          backgroundColor: '#fafafa'
        }
      }
  }
}

export const lightThe

[2022-05-26 10:08] Xantier commented on #11401
Just revisiting the tech-insights loop after a long while and noticed that the work to migrate that specific cron job has already been contributed and tech-insights is using the central task mgmt. That doesn't help in this specific case apart from the fact that modifications need to be made in a single place only now.

[2022-05-26 10:46] ProticM commented on #8270
Hi @simonsandersje 👋

It seems that the overridable components were added in the mean time. See here https://github.com/backstage/backstage/blob/2997bbe3c4a859447933790c7419010189ac8632/plugins/catalog-react/src/overridableComponents.ts

We can now see that the `CatalogReactUserListPicker` can be found in the file above. 🚀

This configuration was missing for the `catalog-react` plugin, as mentione

[2022-05-26 12:57] shippo-lueders opened #11672 "Getting started docs 'Setting up authentication' section incomplete"
## Expected Behavior

Backstage should start up after completing the [Setting up authentication](https://backstage.io/docs/getting-started/configuration#setting-up-authentication) and [Setting up a GitHub Integration](https://backstage.io/docs/getting-started/configuration#setting-up-a-github-integration) sections of the getting started page.

## Actual Behavior

The login modal displays an error

[2022-05-26 13:15] emmaindal opened #11674 "[Stack Overflow] external link icon not positioned at the end of the container"
## Expected Behavior

<img width="1728" alt="Screenshot 2022-05-26 at 15 13 45" src="https://user-images.githubusercontent.com/25153114/170494691-1c5761b9-7542-4deb-88d7-02ff540a3615.png">

## Actual Behavior

<img width="1728" alt="Screenshot 2022-05-26 at 15 12 01" src="https://user-images.githubusercontent.com/25153114/170494440-5e03a922-8387-4eda-a835-f60e8311e24e.png">

## Steps to Reproduce

[2022-05-26 14:21] asaini11 commented on #9942
Hello @chriscarpenter12 I tried the K8 service account but this didn't work for us as we have 7 clusters so the Google Service Account works better for us (despite the error).
@goenning I'm going to keep an eye out for your pull request https://github.com/backstage/backstage/pull/11603 to be merged so I can try this.

[2022-05-26 15:37] asaini11 commented on #9942
Update: To limit the refresh rate temporarily I have removed 4/7 clusters to only capture the important ones.

[2022-05-26 15:59] iamEAP opened #11676 "[Search] Move reusable components from search to search-react"
## What / Why

We recently moved `SearchContextProvider` and `useSearch` (among other things) out from `@backstage/plugin-search` and into `@backstage/plugin-search-react` (https://github.com/backstage/backstage/pull/10752) in order to remove direct plugin-to-plugin dependencies.

In order to encourage re-use of generic search-related components _within plugins_ (and not just for composing in the

[2022-05-26 16:28] mcwarman opened #11677 "Following Catalog Customization breaks routing to catalog-graph"
## Expected Behavior

Following the [Catalog Customization](https://backstage.io/docs/features/software-catalog/catalog-customization) would allow me to have a custom catalog.

## Actual Behavior

Following the Catalog Customization breaks routing to `catalog-graph` page, which now goes to `catalog`, also clicking on `Register Existing Component` also takes you back to `catalog`.

## Steps to Repr

[2022-05-26 16:35] awanlin commented on #11677
This is similar to #10533 which might have some potential workarounds for this: https://github.com/backstage/backstage/issues/10533#issuecomment-1083432880

The issue is caused by a change in `react-router` and there is ongoing work to upgrade to the stable version: https://github.com/backstage/backstage/issues/10533#issuecomment-1084248420

[2022-05-26 16:57] arsentos commented on #11674
Looks like problem in autogenerated classes in @material-ui/core. I'll try to fix a little bit later.

[2022-05-26 16:59] mcwarman commented on #11677
The workaround works by updating the routing to `/import` and `/graph`.

[2022-05-26 17:52] nateaxcell commented on #11118
Hey @Hanyman8, @angeliski

We're not fully confident that we've solved it yet, but it's been 24 hours without seeing the issue so we're hoping it's resolved. We simply increased the min number of available pools with the code that @cvrlnolan posted above.

here's what we used.

`database:
    client: pg
    connection:
      host: ${POSTGRES_HOST}
      port: ${POSTGRES_PORT}
      user: ${POSTGRE

[2022-05-26 18:55] emmaindal commented on #11674
Awesome, thank you for looking into it. I'll assign you to the issue!

[2022-05-26 18:59] Zoney commented on #11650
Get the same. Suspect the `**//index.html` (double slash) is a hint, as without one of the slashes I suspect it would work ?

[2022-05-26 20:41] jpitapeva opened #11679 "Software Catalog won't work with Azure DevOps Server 2020"
@awanlin

The Software Catalog feature should work with Azure DevOps Server 2020 using the url for exemplo (http://vsm.homolog.jm:1111/tfs/projects/)

## Expected Behavior
Software catalog is created

## Actual Behavior
When you attempt to configure the Software Catalog, the error is show in console 'Azure URL must point to a git repository'

## Steps to Reproduce
1. Install the backstage by @npx

[2022-05-26 23:12] amirtal-cp commented on #11662
issue was related to CORS errors due to using port forward with different port.
debugging with browser dev tools showed the error (which is on the client side and so does not appear on server logs).

Request URL: https://demo-example-com-127-0-0-1.nip.io/api/catalog/entities?kind=API
Referrer Policy: strict-origin-when-cross-origin
Referer: https://demo-example-com-127-0-0-1.nip.io:8443/

[2022-05-26 23:48] jpitapeva commented on #11679
For the test i used links (http://vsm.homolog.jm:1111/tfs/projects/) e (https://dev.azure.com/xxxx/xxx)

[2022-05-27 01:56] jpeach commented on #6175
See also https://github.com/backstage/backstage/issues/5813

[2022-05-27 06:03] Revanthchowdary9 commented on #11662
Helm

[2022-05-27 06:26] wasadigi commented on #11636
HI @Rugvip, I have a fix, do you want to assign me the issue?

[2022-05-27 06:47] adrianke77 opened #11684 "Individual URLs for custom tabs in Documentation landing page"
## Feature Suggestion

Currently Documentation landing page does not have URL routing to individual custom tabs, unlike the tabs in Explore or other main pages. Would be good to allow the custom config for the landing page also cause this to be set up.

## Context

This is useful for bookmarking or passing links to individual tabs around.

[2022-05-27 06:51] smalhot9464 commented on #8330
How can I add checkboxes, enum gives dropdown. Please suggest,

                        environment:
                          type: "string"
                          enum:
                            - dev
                            - prod
                            - corp

[2022-05-27 06:58] peterleonardlie opened #11686 "[Feature Request] Extend RoutedTabs component to allow dropdown menu"
## Executive Summary
Currently, the `RoutedTabs` component in backstage only uses `HeaderTabs` component (backstage wrapper of material UI `Tabs` component) to render its Tab components on the Entity page.
**Propose to extend** `RoutedTabs` component to accept new `HeaderTabsMenu` component which would inherit properties from Material UI `Menu` component (either by config file key value or RoutedT

[2022-05-27 07:07] JordiPolo commented on #1329
I've tried this but can't make it work.
If I add relations were each is something like this:
[code]
 Then entity page complains that a property is missing.
 If I do something like:
[code]

 Then I get` Error: Malformed envelope, /relations/0 must NOT have additional properties`.

[2022-05-27 08:13] johanhammar commented on #11411
@kuangp Unfortunately the problem still exist using plugin org 0.5.5 which I think includes your changes.

[2022-05-27 08:15] ivd-git opened #11687 "Scaffolder plugin review mask does not work as documented"
## Expected Behavior

To hide or mask this data, you can set the `review` properties of `ui:backstage`. From the documentation:

[code]

## Actual Behavior

But in reality the `masked` field is hidden

## Steps to Reproduce

1. In the `MultistepJsonForm.test.tsx` file [on line 44] for `stepsMock.schema.properties.masked.'ui:backstage'.review` remove the line `show: true`
2. Run the tests from `Mul

[2022-05-27 08:17] johnkk84 commented on #11662
What is your app config then?
Are you use same url in browser?
Do you have ingress controller behind frontend?
What is your setup are you using separate frontend or just single container for serve backend/frontend?

[2022-05-27 08:23] Rugvip commented on #11636
@wasadigi sure, thank you! 👍

[2022-05-27 08:45] antoniomuso opened #11688 "[Sentry] Allow to overwrite organization for components"
The Sentry plugin allows passing only an organization inside the backstage configuration file. But this is not too good if I want to use backstage for different Sentry organizations.

## Feature Suggestion

I suggest adding the possibility to overwrite the organization in a component using a new annotation:
[code]

WDYT?

[2022-05-27 11:05] pedroparraortega opened #11690 "Bitbucket catalog plugin generates tons of locations"
When using Bitbucket Discovery as catalog provider it generates tons of locations for the same catalog entity.

We are using bitbucket server integration to get definitions for our components and each time the entity processor check bitbucket it generate a new location for the same entity.

## Expected Behavior
I would expect that the catalogProcessor check if the entity exists already and then up

[2022-05-27 11:17] kuangp commented on #11411
My change will only remove highlighting if you have multiple groups. Unfortunately the problem will still exist if you have one group since the sidebar item has to link to your group and will be base route matched with the catalog sidebar item.

[2022-05-27 11:56] awanlin commented on #11677
@mcwarman good to hear the workaround works and thanks for reporting this!

[2022-05-27 11:58] awanlin commented on #11650
Sadly removing the double slash did nothing, the URL still would not load. BUT changing the HTTPS to HTTP did resolve the issue which lines up with the fact that the error was ERR_SSL_PROTOCOL_ERROR which indicates a SSL error.

[2022-05-27 12:01] awanlin commented on #11679
To be clear the Catalog does work with Azure DevOps Sever 2020, we are using it without any issues. BUT if you come from an older TFS instances that has been upgraded over time then you may have it setup under the `/tfs` subpath in the URL which is what is the issue here. I'm not sure how common this is anymore but I know for sure it is a setup that is out there and I'm surprised we have not ran i

[2022-05-27 12:45] jpitapeva commented on #11679
Thanks @awanlin

[2022-05-27 13:10] bourbonfgiles opened #11691 "Issue with techdocs metadata.name"
## Expected Behavior

Our backstage implementation should see our Azure container, and our test infra-demo-api has a catalog-info.yaml contains two items which match the required conventions (https://github.com/backstage/backstage/blob/master/docs/architecture-decisions/adr002-default-catalog-file-format.md)

metadata:
  name: infra-demo-api

## Actual Behavior

The below error is generated in kub

[2022-05-27 13:29] Rugvip commented on #11614
@tkrop A local one could be alright, I think we could even leave most of the methods as throwing `NotImplementedError`s? We'd need to be a bit careful with it to make sure that we don't end up bypassing access control checks, and probably discourage use from other plugins too.

Is it's something you'd like to contribute?

[2022-05-27 14:23] #11636 closed

[2022-05-27 14:40] UsainBloot opened #11694 "Entity page tab overflow visual bug"
## Expected Behavior

Entity page tab scrollbar can handle scrolling when there are too many tabs to be displayed on the screen while using Firefox.

## Actual Behavior

Entity page tab scrollbar overflows and the whole page scrolls.

## Steps to Reproduce

1. Add multiple tabs to the scrollbar on an Entity Page
2. Navigate to Entity page on firefox
3. Scroll horizontally to look at the last tab

[2022-05-27 18:57] #10304 closed

[2022-05-27 22:05] msperrin opened #11700 "Issue with /catalog-import and the newly refactored Bitbucket Cloud Integration"
In 1.2.0 the Bitbucket integration was refactored into separate integrations between Bitbucket Cloud and Bitbucket Server. During testing after upgrading and changing the values in app-config.yaml an error is encountered on the /catalog-import page.

We believe this is because on the page the integrations are usually loaded by the host value of the integration. As the Bitbucket Cloud integration d

[2022-05-28 03:12] regicsolutions commented on #11639
Issue was the user I was using didn't have the correct access.

[2022-05-28 03:12] #11639 closed

[2022-05-29 01:03] praveensanap opened #11703 "[Plugin] markdoc for Backstage"
Stripe announced release of their documentation authoring tool.
https://markdoc.io/
https://github.com/markdoc/markdoc

https://increment.com/documentation/why-investing-in-internal-docs-is-worth-it/
This article advocates investing in authoring tool for engineers.

Current TechDocs plugin displays the documents beautifully, but to edit it redirects to Github Edit page.
MD files can be edited in I

[2022-05-29 12:49] esquireofoz commented on #7155
@WarlenRodrigues since https://github.com/backstage/backstage/pull/7594 produces the requested functionality and has been merged, it looks like this issue can be closed unless there is anything else outstanding.

[2022-05-29 15:06] voodooGQ opened #11705 "Bazaar plugin backend giving 404"
## Expected Behavior

Can see the main Bazaar page without error

## Actual Behavior

Home and About tabs are showing, but when going to the Home tab receive the error `JSON.parse: unexpected end of data at line 1 column 1 of the JSON data`. This appears to be due to a 404 to a backend endpoint: `http://localhost:7000/api/bazaar/projects`

![image](https://user-images.githubusercontent.com/1512028

[2022-05-30 04:48] #11705 closed

[2022-05-30 04:49] voodooGQ commented on #11705
Found my backend plugin was misconfigured, error on my part.

[2022-05-30 08:10] benjdlambert commented on #11703
@garyniemen do you want to have some input here and take a look?

[2022-05-30 08:11] benjdlambert commented on #11700
@pjungermann do you have any idea here?

[2022-05-30 08:15] benjdlambert commented on #11690
@pjungermann would you be able to help us reproduce and fix this too? :pray:

[2022-05-30 08:17] benjdlambert commented on #11688
Probably make sense, how will this work with authentication. Do all organizations live under one account, or do we also need a `sentry-backend` plugin that can manage difference auth configs?

[2022-05-30 08:20] pjungermann commented on #11700
@benjdlambert feel free to assign the issue to me

[2022-05-30 08:20] benjdlambert commented on #11684
Is this techdocs or backstage.io/docs? Not sure I understand this ticket?

[2022-05-30 08:24] benjdlambert commented on #11677
Something to do with ordering or path matching. Like @awanlin mentioned, hopefully `react-router` bump should fix this :pray:

[2022-05-30 08:26] benjdlambert commented on #11671
Is this something you would like to contribute? :pray:

[2022-05-30 08:34] pjungermann commented on #11690
@benjdlambert I use Bitbucket Cloud and not Bitbucket Server, but I think I can help still clarifying this.

[2022-05-30 08:35] benjdlambert commented on #11657
Can we see the `template.yaml` that you're trying to use? Have you tried using any of the example ones. What do you fill in for the `RepoUrlPicker` field where it says `owner` and `name`?

[2022-05-30 08:36] pjungermann commented on #11690
@pedroparraortega Can you help me understand this better? I suspect that it works as designed, but there might be a confusion about it.

which catalog entity do you talk about?

At the screenshot I can see the Location entity of type "bitbucket-discovery". Related to this entity, you see a lot of Location entities.

Is this the "same catalog entity" you are referring to?

[2022-05-30 08:37] benjdlambert commented on #11651
@jdotw what documentation are you referring to? We probably just missed something when rewriting these docs recently. :pray:

[2022-05-30 08:40] pedroparraortega commented on #11690
It could be i'm not understanding how this should work. I have configured the bitbucket-discovery to populate my catalog so it is fetching one entity from bitbucket into backstage. The thing is that bitbucket-discovery is creating multiple locations for the same entity as shown in the screenshot. I would expect that, if no changes in the entity, i would have a location per entity and not 2000.

[2022-05-30 08:42] pjungermann commented on #11690
Let me try to explain how the Bitbucket Server discovery works:

You configure the "bitbucket-discovery" Location entity as static config in your app-config.yaml file.
The Bitbucket discovery processor will read the configuration for the discovery expressed within the URL.

In your case: backstage-catalog-info.yaml in any repo in any project.

The discovery processor will use the Bitbucket Server

[2022-05-30 08:44] pjungermann commented on #11690
For Bitbucket Cloud, you have the option to let it only create Location entities for actually existing catalog files. (This uses the code search feature under the hood.) For Bitbucket Server, such an option is not available.

[2022-05-30 08:49] benjdlambert commented on #10508
Closing as this should fixed with the above PR.

[2022-05-30 08:49] #10508 closed

[2022-05-30 08:50] pedroparraortega commented on #11690
ahhh, check. I would expect the behavior to be like bitbucket cloud, only import locations if an entity really exists in it. Is this different from bitbucket cloud for any reason? or just not implemented?

[2022-05-30 08:52] benjdlambert commented on #7155
Closing! :pray:

[2022-05-30 08:52] #7155 closed

[2022-05-30 08:54] pjungermann commented on #11690
I added the enhancement for Bitbucket Cloud myself. I used the code search API.

APIs for both are different. In case there is a suitable API to do something similar, it can be implemented for Bitbucket Server, too.

Best if any Bitbucket Server is contributing it though :)

[2022-05-30 08:54] benjdlambert commented on #1329
Are you emitting the relationship from the processor or directly mutating the entity with the relation? They should be emitted using the `emit` method.

[2022-05-30 08:58] pjungermann commented on #11690
PS: If you check the locations, they should have all different target URLs.

[2022-05-30 09:03] #11690 closed

[2022-05-30 09:07] #11424 closed

[2022-05-30 09:18] antoniomuso commented on #11688
I think it is better to use the first approach because you can filter the organizations you want to use through the account.

[2022-05-30 09:31] benjdlambert commented on #11687
@ivd-git would you like to make the required documentation change for now? maybe we can revisit this API at a later date too to make it behave slightly different.

[2022-05-30 10:33] arsentos commented on #11674
Okay, the problem in _packages/core-components/src/components/Link/Link.tsx_ it has _externalLink_ class with _position: relative_ I don't know how to fix better: one way is creating new file with classes or we can pass the styles object. What's your opinion on this?

[2022-05-30 12:00] arsentos commented on #11674
Okay i've tried :D
#11717

[2022-05-30 12:05] amfchef opened #11718 "Adding environment variables to docker"
I have created a CICD with Gihub action, to deploy it to ECR. But Docker is unable to access the app-config.yaml, which I have saved in the GHA secrets. Is it possible to access the secrets like AUTH_GITHUB_CLIENT_ID, AUTH_GITHUB_CLIENT_SECRET?

## Expected Behavior

Backstage should access my secret variables when I deploy it with Docker

## Actual Behavior

Unable to find the credentials, when I

[2022-05-30 12:18] Rugvip commented on #11718
Bit confused, are you building the image in GHA and want the env vars injected into the image at build time?

With your current setup you should be able to set the env vars when running the container.

[2022-05-30 12:27] samiramkr commented on #11686
Hi Peter, it could be good to have this but there are a few questions here and I'm wondering if you've thought of them! The first thing that comes to my mind is that dropdowns are not mobile-friendly and then how would the implementation be? Is it going to be open by hover (not mobile-friendly) or click (will be two clicks overall to open a menu that the user is not used to)?
The other one, have y

[2022-05-30 12:58] cmoulliard commented on #11598
The instructions of the documentation still require to do many local changes which should not be needed by the way. A proper `Dockerfile` should be proposed by the project (like for the [backend](https://github.com/backstage/backstage/blob/master/packages/backend/Dockerfile)) to produce the frontend image, a frontend config file like [this](https://github.com/backstage/backstage/blob/master/packag

[2022-05-30 13:57] webark commented on #10533
Should we leave this open till #10450 ?

[2022-05-30 15:35] jcarres-mdsol commented on #1329
So you want to look at some bad code eh

[code]

I do not know what I'm doing, simply copied the approach [here](https://github.com/backstage/backstage/blob/abc66904b14fff22f4b69bf77e97f52087b605f2/plugins/catalog-backend/src/modules/core/AnnotateLocationEntityProcessor.ts
) thinking that if it works there, it would work for me.

[2022-05-30 16:05] #8162 closed

[2022-05-30 16:11] Rugvip commented on #1329
@jcarres-mdsol copy the approach [here](https://github.com/backstage/backstage/blob/abc66904b14fff22f4b69bf77e97f52087b605f2/plugins/catalog-backend/src/modules/core/BuiltinKindsEntityProcessor.ts#L157) instead 😁

[2022-05-30 16:52] bourbonfgiles commented on #11691
To update, I realise that the names in there were from the original commit to that repo and are now the correct ones. How can I force backstage to update catalog?

[2022-05-30 16:53] #10430 closed

[2022-05-30 17:11] LvffY commented on #10402
@freben @benjdlambert is there any update on this point ?

[2022-05-30 17:14] LvffY commented on #10431
@awanlin Is there any update on the multiple azure organization support ?

This could be related to this  #10402

[2022-05-30 17:21] awanlin commented on #10431
@LvffY, I have no plans to work on this at all, sorry if I gave you the impression that I did. Feel free to contribute it yourself, I would make time to help test if needed

[2022-05-30 21:06] voodooGQ commented on #11657
@benjdlambert as mentioned the problem was fixed with the permissions change. If you have docs that go over what permissions to set in GitHub I wasnt able to find them. I did follow other examples out there, but none of them go over the perms needed for the token.

[2022-05-30 21:07] mustafa89 commented on #6379
Did you figure this out by any chance? I'm getting the same thing

[2022-05-31 04:24] kiranpatel11 commented on #11671
sure @benjdlambert, you can assign to me.

[2022-05-31 04:34] nitinPaypay opened #11738 "Backstage Proxy Standalone server is returning"
I need to make an external API call from my Plugin so i have setup proxy for that and running this backstage proxy as standalone server. Now while running my plugin the standalone proxy is returning 404.

## Expected Behavior

Backstage standalone proxy server should return the external api call.

## Actual Behavior

Getting 404 from backstage proxy standalone server.
Backstage proxy server log -

[2022-05-31 05:04] jcarres-mdsol commented on #1329
It worked!
In fact we have also multiple teams in some projects and decided to do this first, anyways, my I'm-not-typescript-developer code as reference if someone happens to bump into this ticket

[code]

I still wish to be able to give a role to ownershp relationships but this right now covers my most pressing use-cases.
Maybe we should close this issue?

[2022-05-31 08:00] Hanyman8 commented on #11700
We had the same issue with `bitbucketCloud` integration and adding empty github integration helped for now, thanks

[2022-05-31 08:04] pjungermann commented on #11700
@msperrin @Hanyman8 Do you use any entity processor or entity provider for ingesting entities from Bitbucket Cloud? Or only manual via catalog import?

[2022-05-31 08:18] msperrin commented on #11700
@Hanyman8 Same here, still manual import at this point.

[2022-05-31 09:30] #10346 closed

[2022-05-31 11:01] benjdlambert commented on #11672
So I added some documentation here #11711 to point to the relevant documentation. There's some more changes coming soon too, #11715.

[2022-05-31 11:04] benjdlambert commented on #11663
Basically following these docs but render your own wrapped `CatalogTable` instead?

[2022-05-31 11:12] benjdlambert commented on #11620
Closing as merged

[2022-05-31 11:12] #11620 closed

[2022-05-31 11:46] #6568 closed

[2022-05-31 13:20] Hanyman8 commented on #11521
I figured out, how to partially reproduce some problems locally.

1. Create database and user and delete default postgres db
[code]
2. Set up database config in `app-config.yaml`
[code]
First problem with this approach end with error: `Backend failed to start up, Error: Failed to connect to the database to make sure that 'backstage_plugin_catalog' exists, error: database "postgres" does not exist`

[2022-05-31 17:46] dayadev opened #11753 "InputError: Policy check failed; caused by Error: Malformed envelope, /relations/0 must have required property 'target'"
## Expected Behavior

Using version 1.0.2 of backstage/catalog-model, should not require 'target' property in the `relations` object of the entity.

## Actual Behavior

Throws the error saying target field in required but in fact the `EntityRelation` no longer has a 'target' property to set as in below in version 1.0.2 of `backstage/catalog-model`

[code]

### Error Message
[code]

- Output of `ya

[2022-05-31 17:50] dayadev commented on #11753
This issue was mentioned in [11565](https://github.com/backstage/backstage/issues/11565) saying it was fixed in [11568](https://github.com/backstage/backstage/pull/11568) but I am using version 1.0.2 and still having the issue.
Does it require any data clean up?

[2022-05-31 21:10] mikekantzer-drizly opened #11756 "Regression: Unable to build when using env vars in app config"
## Expected Behavior

`yarn --cwd packages/backend build` succeeds

## Actual Behavior

[code]

## Steps to Reproduce

Set app-config to something like:
[code]

And then run `yarn build`.

## Context

We're trying to supply values to `app-config.yaml` at runtime instead of build time, using [Environment Variable Substitution](https://backstage.io/docs/conf/writing#environment-variable-substitution

[2022-06-01 07:01] amfchef commented on #11718
Hi
Yes, So Im building the image with GHA, and deploying it to ERC. I would like to use the GHA secrets to access the AUTH_GITHUB_CLIENT_ID, AUTH_GITHUB_CLIENT_SECRET.
But the app.config .yaml is not able to find the GHA secrets. Should I name the envs in the Dockerfile?

[2022-06-01 10:35] wasadigi opened #11767 "Introduce a theme property for the color of the Entity Context Menu (in the header)"
In the header of the Entity Page, the "three dots" icons gives access to a contextual menu. Currently, the color of the icon is hard-coded in the component and is always white.

A [TODO](https://github.com/backstage/backstage/blob/dccb85171af63a620ba370ddd80c11c34bb679c4/plugins/catalog/src/components/EntityContextMenu/EntityContextMenu.tsx#L35) comment in the code suggests that this should be con

[2022-06-01 12:10] ivd-git commented on #11687
This can be closed because PR #11732 was merged.

[2022-06-01 12:11] #11687 closed

[2022-06-01 12:15] PavelPolyakov commented on #11478
hi @lars1974 I see you've enabled `swagger-ui-react` to support needed functionality. Thank you for that.

Is that enough to have it fixed in `backstage`? I have the latest version `1.2.2` and the issue is still present.

Please, share, if you have an idea for the solution.

[2022-06-01 12:46] paristote opened #11770 "Entities REST API ignores 2nd and subsequent query parameters"
## Expected Behavior

All query parameters of the entities endpoint should be used when processing requests.
For example, a request like `GET /entities?filter=kind=user&fields=metadata.name` should process both `filter` and `fields` parameters.

## Actual Behavior

Only the first query parameter is used.
For example,
* `GET /entities?filter=kind=user&fields=metadata.name` and
* `GET /entities?fiel

[2022-06-01 12:58] PavelPolyakov commented on #11478
@lars1974 indeed, it wasn't released yet :'( ok, let's see. I also need to have this working :) have to rollback now.

[2022-06-01 14:14] ryanmrodriguez opened #11774 "TechDocs - Doc 'Nav' and 'Table of Contents' Clip Sticky Header When Viewing Through Entity Page /docs"
## Expected Behavior

When scrolling documentation, the header should scroll with you and the `nav` and `table of contents` should stop when they hit the top of the viewable screen. The expected behavior works fine when using the actual TechDocs route to view documentation.

## Actual Behavior

When viewing documentation through an entity page, and clicking the 'Docs' tab, the header is fixed and

[2022-06-01 16:10] liverday commented on #10557
#11780

[2022-06-01 19:54] mustafa89 commented on #6766
struggling with this. Did you figure out what was happening? Our set up is ALB > EKS

[2022-06-01 22:06] gabrielpasv opened #11788 "after install kubernetes plugin I get net::ERR_CONNECTION_REFUSED"
## Expected Behavior
run backstage in development after install kubernetes plugin

## Actual Behavior
I cloned the repository and ran yarn install, yarn tsc and yarn dev. All commads worked as expected. Then I installed the kubernetes plugin using the backstage documentation tutorial. ( Frontend and backend )
After that I ran `yarn dev` once again with no errors in the terminal. However when I ope

[2022-06-02 05:30] anicke commented on #11738
Have you tried removing the trailing slash in your "apiUrl"?

[2022-06-02 05:57] stichiboi opened #11790 "[Plugin] Export Airflow DAG Component"
Export a component that can be added to any page in Backstage to show the DAG's Runs and Controls.

[Original Airflow plugin](https://github.com/backstage/backstage/tree/master/plugins/apache-airflow)

## Feature Suggestion

I would like to have a card in the main page to show the DAG's status, view logs and have some basic controls (`run`, `run with conf`, `stop`).

I obviously don't want to re-i

[2022-06-02 06:46] tylerd-canva opened #11791 "Table header doesn't show filtering option when passing a custom Table component"
## Expected Behavior

Creating a [Table](https://github.com/backstage/backstage/tree/master/packages/core-components/src/components/Table) component with both filters and a custom components doesn't show the filtering button in the table header.

For example:

[code]

In fact, you don't need to provide a custom component at all, as passing an empty dict will overwrite the `components` property [he

[2022-06-02 07:33] peterleonardlie commented on #11686
hi @samiramkr , thank you for the response. apologies for the late reply. That is a really valid point!
We didn't really focused much on mobile view for our application of backstage, thus we have never really thought of them. That's interesting. However, having an infinite horizontal scrolling doesn't seem to be desktop or mobile friendly either... I'm sure there's a great approach we can reach :)

[2022-06-02 07:54] garyniemen commented on #11684
@adrianke77 Can you include a screenshot so we can more fully understand what you mean with this enhancement.

[2022-06-02 08:56] jhaals commented on #1329
Happy it works! Closing issue 👏

[2022-06-02 08:56] #1329 closed

[2022-06-02 09:38] jhaals commented on #11790
That sounds like a good idea, perhaps @cmpadden has some additional thoughts on how to integrate this nicely :)

[2022-06-02 09:41] jhaals commented on #11788
It sounds like the backend is not running or that it's not reachable by the frontend. Perhaps you have some logs or can try to reach the backend directly from your browser. Also note that cloning the repository is only intended for local development as it should otherwise be created with `npx @backstage/create-app`

[2022-06-02 10:36] iain-b commented on #11465
Hi!

Sorry about the delay replying here I went on PTO for a couple of weeks shortly after creating this.

Using the workflow files does seem like it'd be robust though you'd really wish that data was available through the API (though it doesn't look like it is).

I'm curious about this are we talking about simply a common approach or a shared interface for the API that CI plugins could implement?

[2022-06-02 11:35] jhaals commented on #11753
Hi!

Sorry to hear that you're having issues! Just to confirm, are you setting relations in directly in the entity spec? Setting them directly in the spec is not supported, relations must be specified in a slightly different format like depends on https://backstage.io/docs/features/software-catalog/descriptor-format#specdependson-optional or emitted as relations inside a processor using `emit`

[2022-06-02 13:17] jhaals commented on #11756
Hi!

Sorry to hear that you're having issues, it does not look like the configuration file is available at build from the error.
You are changing directory which might be the cause of this. Try building with `--config` passing the full path app-config.yaml

[2022-06-02 13:21] gabrielpasv commented on #11788
Just now I saw it

[code]

[2022-06-02 13:38] Rugvip commented on #11756
And be sure to have `BASE_URL` set during the build!

[2022-06-02 14:06] mikekantzer-drizly commented on #11756
So my intention is to not specify `baseUrl` until runtime, at which point I will specify it via the `BASE_URL` env var. I _do not_ plan on having a value for it at build-time, as we'd like to re-use the container between environments.

Is this not supported? Am I misunderstanding the purpose of `baseURL`?

[2022-06-02 14:13] jhaals commented on #11688
To clarify @benjdlambert's question;
Can you access the all the organisations with the same API key or do you need a separate key for each organisation?

In case it's the same key for all orgs then doing it like this probably make sense. If we need a separate api key for each org then it's probably best too look into creating a sentry backend.

[2022-06-02 14:14] Smorenoz opened #11815 "LimitRange as part of Kubernetes core resources"
## Feature Suggestions

Going through the `KubernetesFanOutHandler` service, I noticed that the `DEFAULT_OBJECTS` array (which pretty much are all the v1 core resources) is missing an entry for `limitranges` which makes no possible for the actual fetching of these resources. I also noticed that even though you're exporting the `KubernetesFanOutHandler` class on the file level, you're not including

[2022-06-02 14:48] jhaals commented on #11614
Hi, I realise that I'm slightly late in this discussion but it really sounds like the cache abilities in the processing API would allow for having a fallback returning cached/stale data in the case of a service failure. Etag is just an optimisation that you do not have to support for this use case. I'm afraid that just exposing a local client which also has a security implications is a slightly ha

[2022-06-02 15:09] kissmikijr commented on #11082
I think the individual entity provider implementations are not really dependant on the how it is going to be wired into the backend, connected together and receiving them. I think potentially for every supported provider we should create a separate RFC for the particular EntityProvider, that will be able to consume the events from that 3rd party.

[2022-06-02 17:16] warsaw commented on #8642
Hi @garyniemen here's some background.

We currently have in production a somewhat bespoke doc publishing system, but it essentially boils down to using Sphinx to process docs for each commit to a product repo.  We don't use monorepo so every library, app, etc. lives in its own repo.  Once a merge to main/master occurs, the post-merge CI process runs a standard Sphinx build against the docs, uploa

[2022-06-02 20:20] cmpadden commented on #11790
Thanks for showing interest in the Airflow plugin, @stichiboi , and thanks for tagging me @jhaals ! I think that's an awesome idea.

Currently, the DAG presentation is closely tied to the `Table` element from `core-components`. If you're okay with keeping this table format, then the simplest approach may be to tweak the `DagTableComponent` to take in the optional list of `dagIds` and `information`

[2022-06-03 01:06] #11657 closed

[2022-06-03 03:36] Kuan-Ying opened #11836 "Scaffolder API uses incorrect baseUrl to request parameter-schema in production build"
## Expected Behavior

When I click on the "CHOOSE" button of a template, it should fetch the template parameter schema and render the result in the UI.

## Actual Behavior
I visit `https://<our_staging_domain>/create?filters%5Bkind%5D=template&filters%5Buser%5D=all` and can see templates.
When I click on the "CHOOSE" button of any of the templates, it shows a 500 Fetch error.
![Screen Shot 2022-06

[2022-06-03 05:43] stichiboi commented on #11790
I think the `DagTableComponent` is perfect!

Regarding fetching the data, I see 2 options:
- Either we `listDags()`, then filter and keep fetching with offset until we find all of the requested IDs or there are no more DAGs
- Or we `Promise.all` getting one [DAG at a time](https://airflow.apache.org/docs/apache-airflow/stable/stable-rest-api-ref.html#operation/get_dag)

The second option is less c

[2022-06-03 05:47] stichiboi commented on #11790
As a side note:
another cool feature would be to have a [Collapsible Table](https://mui.com/material-ui/react-table/#collapsible-table) to show the DAG's runs!

The runs could be loaded `onToggle` with a [simple request](https://airflow.apache.org/docs/apache-airflow/stable/stable-rest-api-ref.html#operation/get_dag_runs)

[2022-06-03 06:41] namco1992 opened #11838 "[TechDocs] The legacyCopyReadmeMdToIndexMd flag has no effect in techdocs-cli generate"
## Expected Behavior

`techdocs-cli generate` should falling back to docs/README.md or README.md in case a default docs/index.md is not provided when `legacyCopyReadmeMdToIndexMd` flag is present.

## Actual Behavior

The `README.md` is not picked up even when the `legacyCopyReadmeMdToIndexMd` flag is present.

## Steps to Reproduce

1. Have a directory layout like below, the index.md is absent un

[2022-06-03 06:52] proffalken commented on #10498
Still trying to find the time for this...

[2022-06-03 07:19] jhaals commented on #11657
Hi
There is mentions of permissions for the token at https://backstage.io/docs/getting-started/configuration#setting-up-a-github-integration and some in this section which the getting started guide links to https://backstage.io/docs/integrations/github/github-apps

@voodooGQ I'm sure we can do better and if you have some suggestions please suggest them in a PR 🙏

I'm going to close this issue as t

[2022-06-03 10:38] wrighbr opened #11844 "scaffolder version 1.3.0-next.1 dry-run fails because of non ascii characters in template"
## Expected Behavior
when using the dry run results you should be able to handle non ascii characters in a template

## Actual Behavior
When using the Dry Run Results you receive the below error message.
`Failed to execute 'btoa' on 'Window': The string to be encoded contains characters outside of the Latin1 range.`

## Steps to Reproduce

Use the new dry run feature in the in template editor with

[2022-06-03 11:44] #7027 closed

[2022-06-03 11:47] #11844 closed

[2022-06-03 12:16] Rugvip commented on #11401
Properly fixed in #11462

[2022-06-03 12:16] #11401 closed

[2022-06-03 12:44] cmpadden commented on #11790
Those are some very good points -- also, I really like the collapsible table functionality!

In terms of having an intuitive interface to the `DagTableComponent`, I think _Option 3_ of having a `dagIds` prop to filter the DAGs is very clean. But I can see the appeal of _Option 1_ too; this would give us the flexibility of implementing different ways of rendering the DAGs down-the-line.

As for cal

[2022-06-03 14:53] #7577 closed

[2022-06-03 15:03] jrusso1020 commented on #1519
@jbadeau is there any update on your teams work regarding observability and Backstage? Specifically interested in the open telemetry aspects, we have been migrating all workloads at our company to open telemetry and would be great for Backstage to utilize it as well

[2022-06-03 15:05] #10485 closed

[2022-06-03 15:27] gabriel-dantas98 opened #11851 "scaffolder: create component SignedInUserEmail"
Create a new component to have access to the user's email

## Feature Suggestion

One of the things I needed to develop the templates was to have information on who is running the template.
In my scenario, the idea is to be able to pass this email as a description of the Pull Request.

The idea is to make the field read-only.

## Possible Implementation

[code]

[2022-06-03 15:28] cmoulliard commented on #9983
What you propose as CI/CD build to generate the documentation is different from the error I reported as this concerns the `online doc` generation which is failing on k8s

[2022-06-03 15:31] cmoulliard commented on #9983
FYI: Here is a nice trick https://www.vrabbi.cloud/post/tap-gui-techdocs-auto-rendering. Be aware that you can still get the docker error limit too :-( `│ time="2022-06-03T15:16:12.503806228Z" level=error msg="Handler for POST /images/create returned error: toomanyrequests: You have reached your pull rate limit. You m │
│ ay increase the limit by authenticating and upgrading: https://www.docker.co

[2022-06-03 15:49] cmoulliard commented on #9983
I did another test using the TAP Gui baskstage project and I got now
[code]

[2022-06-03 17:48] masonhuemmer opened #11852 "helm chart: nil pointer evaluating interface {}.port"
https://github.com/backstage/backstage/blob/b5e056f3124a2c0fd23fc94a5d42f1d54d158c0a/contrib/chart/backstage/values.yaml#L79

**Helm version**
[code]

**Receiving the following error**
[code]

**To resolve this issue, I had to populate the tree with an empty value for .Values.postgresql.service.port.**

[code]

[2022-06-03 18:56] andresmonc opened #11853 "Improve Local Template Development Experience"
## Feature Suggestion
Improve Local Template Development Experience

Currently developing on a template is cumbersome for our team. It requires us to do the following
- create a repository from the template wizard
- develop our changes on the new dummy repository
- manually move our changes to the template repo in a templatized format
- delete dummy repository

I believe there's a few ways this pr

[2022-06-03 19:25] farhan-triplelift commented on #11853
This has been a huge issue for our company as well. Our main paint point is there is no ability un-nunjuctify the templated code for code we've been developing on. Back porting the changes has been such a pain.

[2022-06-03 20:01] jeillya-ford opened #11854 "[Plugin] Concourse, AppCenter, Checkmarx, Mac Stadium"

[2022-06-03 20:01] #11854 closed

[2022-06-03 22:30] Kuan-Ying commented on #11836
After some investigation I found `discoveryApi` returns incorrect baseUrl for all of my backend clients somehow.

I believe the cause is the same as https://github.com/backstage/backstage/issues/4665. However I don't know the root cause because I'm not sure whether it should look for localhost.

Inspired by https://github.com/backstage/backstage/issues/4665#issuecomment-885688479 I created the fol

[2022-06-03 23:07] Rugvip commented on #11853
#11173 was released in the most recent `next` release, give it a spin! 😁

[2022-06-03 23:19] andresmonc commented on #11853
@Rugvip Hello Patrick! Not sure if i fully understand how the dry rub feature works. Would I be able to run the template locally with interplayed values?

[2022-06-04 01:26] nodify-at opened #11856 "backstage-cli repo build --all overrides package.json files"
The command `yarn build` changes the content of the package.json.

## Expected Behavior
Build command must not change package.json

## Actual Behavior

Build command (using `backstage-cli repo build --all`) applies the publish config but can not revert these changes. Our package.json files are broken, we need to rollback them manually.

## Steps to Reproduce

After running `yarn build` some of our

[2022-06-04 02:07] ki504178 commented on #11429
Hi!!
May I work on this issue?

[2022-06-04 07:00] Rugvip commented on #11853
@andresmonc how so, it's exactly what it does? You load in a local template into the editor, make changes, execute it, and view the results.

[2022-06-04 07:08] Rugvip commented on #11856
One thing to check is whether the yarn version affects this. Yarn is a bit all over the place when it comes to execution the prepack and postpack scripts.

Also check that you don't have any strange internal dependencies, such as some package depending on a backend app package. It's the backend build that will be triggering this behavior so it's very likely involved somehow. This isn't something t

[2022-06-04 08:45] #10463 closed

[2022-06-04 14:03] tomharrisonjr opened #11859 "[Plugin] Notion"
## Summary

Notion is wiki/blog software we use as a home for technical documentation.  It can be organized using their concept of a "database", mainly a container for documents.  Backstage should have links to Notion databases, either ad-hoc, or database having same key fields as [Backstage catalog YAML](https://backstage.io/docs/features/software-catalog/descriptor-format)

## Project website (i

[2022-06-04 14:16] #10312 closed

[2022-06-04 14:26] #10491 closed

[2022-06-04 22:42] nodify-at commented on #11856
@Rugvip thanks for your feedback. I forced to use the yarn v1.22.1. I've tried with the version v1.22.18 but I'm getting same error.

This error happens only on 4 packages (always same packages).
Roles are:
node-library -> we have only one library with this role
common-library -> we have 4 common libraries this but error occurs only in 2 plugins and always the same plugins.
backend-plugin -> we ha

[2022-06-04 23:29] nodify-at commented on #11856
If I run yarn build for each backend and frontend apps, this error does not appear. (going directly to backend or frontend folder then executing yarn build)

[2022-06-04 23:41] nodify-at commented on #11856
@Rugvip It looks fine If I set parallelismSetting: 1 in CLI for backend builds, it seems like that we have here some issues with parallel workers? I changed it in build.ts runParallelWorkers for backend builds.

[2022-06-05 06:46] #10524 closed

[2022-06-05 16:07] timja commented on #7870
Go away

[2022-06-06 02:59] andresmonc commented on #11853
@Rugvip  What we're talking about is the ability to compile and run the code in your template.
We are using template syntax in our Java template and so we can't compile our Java project for local development on the template.

[2022-06-06 04:08] whatvn commented on #1686
guys! We've opensourced grpc playground and docs for backstage here https://github.com/zalopay-oss/backstage-grpc-playground , please give a try and contribute to improve. Thank!

[2022-06-06 06:10] kim5566 opened #11872 "[Scaffolder] White Button Text on White Button Background."
## Expected Behavior

![Screen Shot 2022-06-06 at 3 58 47 pm](https://user-images.githubusercontent.com/28945404/172103843-62ecc19f-4d80-4880-a693-e3557f7ffa19.png)

Same button style as above.

## Actual Behavior

![Screen Shot 2022-06-06 at 3 58 11 pm](https://user-images.githubusercontent.com/28945404/172103788-6f41bd76-f382-4447-ac44-57b5a133cb40.png)

## Steps to Reproduce

1. theme color:
[c

[2022-06-06 07:14] antoniomuso commented on #11688
I can access all the organizations with the same API key, so we don't need a sentry backend.

[2022-06-06 08:38] Rugvip commented on #11853
@andresmonc ah alright, do you think an option to either download or save the dry-run result to a different folder would do it?

[2022-06-06 09:50] mustafa89 opened #11874 "Getting Error: Could not get GitLab project ID ECONNRESET after catalog/entity import."
I have imported catalogs, systems, groups and users and they all show up just fine in Backstage. Got tech docs working as well. But every time I open a entity homepage I see this big error pop up on the top.

The imports work just fine and everything shows up as intended but after a short time we see this error.

Opening the issue is kind of last resort as I've exhausted all troubleshooting option

[2022-06-06 10:24] shailendra-ahir-cbre commented on #10121
While implementing, will it have its own database (plugin_bookmarks) or we can use any other existing database.

[2022-06-06 11:52] awanlin commented on #9090
This would still be great to have, just haven't had the cycles to work on this

[2022-06-06 12:22] stichiboi commented on #11790
**Update**: I'm waiting confirmation from my manager to contribute to the plugin.

In the meantime, what's the best way to start extending the plugin? Do I have to clone the whole backstage repo?

Or can I just get the `apache-airflow` plugin and develop like I would any other plugin I create with `yarn create-plugin`?

[2022-06-06 13:48] DavidZemon opened #11875 "Software template frontend URL is not namespaced"
## Expected Behavior

Software templates should include the namespace in the browser URL. For instance, a template with namespace `default` and name `my-template` with hostname `myco.com` should be found at `https://myco.com/create/templates/default/my-template`

## Actual Behavior

The example above is hosted at `https://myco.com/create/templates/my-template`.

## Steps to Reproduce

Add a softwa

[2022-06-06 14:21] mstelz opened #11876 "Lerna Support has moved to Nrwl"
## Feature Suggestion

[Lerna maintenance may be in question](https://github.com/lerna/lerna/issues/2703). As a result, we may want to switch to an alternative solution (such as [Nx](https://nx.dev/migration/adding-to-monorepo)).

## Possible Implementation

Swap over to NX or another alternative

## Context

Move to a more frequently maintained toolchain to prevent technical debt

[2022-06-06 16:48] Rugvip commented on #11876
Thank you for the suggestion! Closing this as a duplicate of #11570

[2022-06-06 16:48] #11876 closed

[2022-06-06 17:36] ChrisJBurns opened #11878 "Mention the need to install `concurrently` when following the Getting started page"
Following the [Getting started page](https://backstage.io/docs/getting-started/), and when I get to `yarn dev` I'm faced with `concurrently` command not found. Is probably worth adding it on the page somewhere that it is a prereq to have before running `yarn dev`

[2022-06-06 17:39] ChrisJBurns commented on #11878
I'm also finding that I need other pacakges before I can run `yarn dev`

[code]

[2022-06-06 17:40] ChrisJBurns commented on #11878
Ignore me. When I scroll up, it says that I didn't have `yarn` installed and failed when running `yarn install`. Forgive me.

[2022-06-06 17:40] #11878 closed

[2022-06-06 18:21] Expalex opened #11880 "Enhanced Collapsible Table Design"
## 🗒 General

Expedia Group would like to propose an [Enhanced Collapsible Table](https://www.figma.com/proto/qhmbRRXcLXB4QP494nq8LI/New-Table?page-id=0%3A1&node-id=0%3A1&viewport=361%2C298%2C0.27&scaling=scale-down&starting-point-node-id=2%3A2432&show-proto-sidebar=1) (Figma) design .

## 💻 Usage
This new version will replace https://mui.com/material-ui/react-table/#collapsible-table.
This versio

[2022-06-06 19:04] cmpadden commented on #11790
Sounds good!

I would recommend working within the backstage repository, and using the Backstage proxy for communicating with an Airflow instance running in a Docker container. I've briefly outlined this process in the README of the Airflow plugin as seen here:

https://github.com/backstage/backstage/tree/master/plugins/apache-airflow#development

If you have any issue in getting setup, please let

[2022-06-06 19:07] ChrisJBurns commented on #4945
I can attest, the first thing I do when installing anything on a Cluster now is look for the official Helm Chart for it. I haven't tried the Backstage Helm Chart yet because I noticed that it needs `nginx` to be installed, which I won't work for us as we use Istio Gateway because of the seamless integration with its Service Mesh.

Is the recommendation to instead use a bunch of Kubernetes Manifest

[2022-06-06 19:54] ChrisJBurns commented on #11854
@jeillya-ford  Did you close this because the above all have Backstage Plugins? I cannot seem to find them.

[2022-06-06 20:33] Crevil commented on #4945
I actually think this is one of the main reasons for not providing a helm chart for this. As everyone has their own way of doing ingress and all other sorts of things, it is hard to abstract that part away.

Taking that out what you git is a`Deployment` manifest, which, to me at least, is simple enough to just create.

As Backstage doesn't require anything Kubernetes, it could just as well be depl

[2022-06-06 21:18] ChrisJBurns commented on #4945
I will have to look at how to deploy it via Kubernetes manifests first. Once I become familiar with it, I'll try and see if I can put it into a Helm Chart. I've recently done the `pact-foundation/pact-broker` Helm Chart that I'm awaiting merging because I noticed they didn't have one. So I don't mind doing it. However, I need to look at how much of it can be configurable first and also what the pr

[2022-06-06 22:06] ChrisJBurns opened #11884 "Gitlab Webhook Action Support?"
Would there be a possibility of adding Webhook support for the Gitlab Actions? Similar to how we do it in the GitHub Actions code: https://github.com/backstage/backstage/blob/master/plugins/scaffolder-backend/src/scaffolder/actions/builtin/github/githubWebhook.ts

[2022-06-07 05:20] NishkarshRaj opened #11885 "Inconsistent Sidebar State whilst pinning and Unpinning"
## Expected Behavior

The sidebar and the Main View are responsive to the **pin** and **unpin** functionality present on the Settings page.

This works perfectly in the Vanilla Backstage we have spun on our workstation.

https://user-images.githubusercontent.com/35298207/172301032-2586f0cc-5d90-4ef3-8aea-69cab5cedf86.mov

## Actual Behavior

After the upgrade to `v1.1.1` - we have faced the follow

[2022-06-07 07:52] julioz opened #11888 "GitHub Pull Request board hardcodes assumption on entity shape"
## Expected Behavior

Setting up the GitHub Pull Request Board plugin renders the pull requests for all components under a team's ownership.

## Actual Behavior

In our setup, the catalog groups are populated from the github-org provider, and we do see owned Components, but the board showed up with no data in the entity page. Our component `type` values are specific to our organization (e.g we don

[2022-06-07 08:04] SerenaIce opened #11889 "Search feature is not working as expected after upgrade from v1.1.1 to v1.2.2"
Issue:

After backstage upgrade from v1.1.1 to v1.2.2, the search feature is not stable, sometimes it works, but most time it doesn't.
And sometimes the query returns data back, sometimes the same query returns nothing without error, but sometimes the same got 502 errors.

<img width="854" alt="image" src="https://user-images.githubusercontent.com/43363062/172508165-5603496f-e53e-4299-beab-02db5bf

[2022-06-07 09:01] benjdlambert commented on #11875
Hey :wave: You've got good eyes! We noticed this, and it's been fixed in the `next` routes https://github.com/backstage/backstage/pull/10575 part of the rewrite #10430 :) So it's coming, just not sure on any timelines as of yet.

[2022-06-07 09:12] Rugvip commented on #11756
@mikekantzer-drizly The build needs a base URL set as it's part of the Webpack configuration. Only the path actually matters right now in practice though. You could set it to something like `http://example.com` if you really don't want any real data as part of the build

[2022-06-07 09:51] #9736 closed

[2022-06-07 09:55] freben commented on #11884
That would probably make sense! We don't have it on our own roadmap right now, but we'd definitely appreciate a contribution to that end.

[2022-06-07 10:19] shanthisagar-dhanya-kumar-db opened #11891 "Upgrade to 1.2.1 from 1.0.0 causes sidebar issues while clicking on techdoc entries"
Upgrade to 1.2.1 from 1.0.0 causes sidebar issues while clicking on techdoc entries.
When we click on any of the techdoc entires, the sidebar goes wild.
Sometimes some of the sidebar items disappear

![image](https://user-images.githubusercontent.com/86959288/172356485-d5d35264-e28c-40e8-a599-9c72036e79b8.png)
![image](https://user-images.githubusercontent.com/86959288/172356702-f6b9cbac-9a92-42da

[2022-06-07 10:46] ChrisJBurns commented on #11884
Not a JS guru but I can give it a shot.

[2022-06-07 10:53] shanthisagar-dhanya-kumar-db commented on #11891
![image](https://user-images.githubusercontent.com/86959288/172362670-151d6f08-3532-41a2-aaa6-b2c233c4a658.png)

[2022-06-07 11:10] ivd-git commented on #9461
For us this is also of interest. Our use case is providing the name of the GitHub org in which to create a new repository to our scaffolding template.

When we could configure the GitHub org in `app-config.yaml` and use its value in the scaffolder template, then that template can be re-used without modification between dev / test and prod.

I believe in our case the **Open Config** approach might

[2022-06-07 11:24] peterleonardlie commented on #11686
Hi @samiramkr , thanks for the response. I agree with it being a challenge in the design, especially with multi platform support.
Do you have a screenshot example of how you imagined the select dropdown would be on a desktop view? My imagination kinda suggests that it would leave lots of empty space horizontally.
Agree for bringing Backstage designer into the loop. thanks for looping her in! inter

[2022-06-07 11:46] #11872 closed

[2022-06-07 11:48] freben commented on #11874
Hm ECONNRESET does still sound like it's the ingress that's blocking you. When you tried the curl, did you do it from inside the backend container, or at least from a perfectly equal situation?

Another thought - could it be something like rate limiting or similar that cuts off the connection? Just guessing here, not sure I've seen behavior like that but thought it might be worth mentioning.

[2022-06-07 11:50] freben commented on #11859
Interesting. Is this something you'd like to work on? Sounds like there might be some architecture discussion to be had if that whole idea should come to fruition. I wonder what support Notion has for integrations and embedded rendering and whatnot, for example.

[2022-06-07 11:52] freben commented on #11852
This is in contrib and hence not familiar to us maintainers (we don't even use helm ourselves). Is this perhaps a value that a user is expected to contribute from the outside when rendering this? Sounds like it might make sense to my amateur ears at least.

[2022-06-07 11:52] freben commented on #11852
Ping @martina-if too

[2022-06-07 11:54] freben commented on #11851
Am I understanding it correctly that you technically don't need this value in the frontend as such, but rather want it available in the template itself? In later versions of the scaffolder, this is actually already available as e.g. `${{ user.entity.spec.profile.email }}` automatically. Does that achieve what you wanted to do?

[2022-06-07 11:56] masonhuemmer commented on #11852
You can read about the issue here.

https://github.com/helm/helm/issues/8026#issuecomment-677851638

[2022-06-07 12:06] #10570 closed

[2022-06-07 12:40] #11851 closed, assigned to nobody

[2022-06-07 12:47] #10571 closed

[2022-06-07 12:51] freben commented on #11880
Alright, this is a useful feature. But I'm not sure what you mean by "replace" - will we try to leverage existing functionality as much as possible, e.g. making these extra row contents more of an optional extension to the current model?

[2022-06-07 12:58] ottosichert commented on #11512
Hey @nadworny, we've looked into the issue and we're able to reproduce it locally.

The issue is that the `AzureUrlReader` works by zipping and unzipping the response, which breaks in the case of a nested zip situation. Starting below:

https://github.com/backstage/backstage/blob/d76cabf329e33fa463a00f96c44d02e203f7c4c8/packages/backend-common/src/reading/AzureUrlReader.ts#L133

Fix coming up soon

[2022-06-07 12:59] ScottGuymer commented on #10673
I mean thats fine but it doesnt solve the issue that it breaks with no error when you add another URL.

Im not sure if this is a backstage issue or something in GitHub.

[2022-06-07 13:13] freben commented on #11885
Oh I think was an actual bug, that was [addressed recently](https://github.com/backstage/backstage/pull/11629). What you might try, short of upgrading to `-next` versions, is to make sure that you don't have any duplicates of `@backstage/core-components` in your `yarn.lock` file. This can take a little bit of sleuthing to get right, let me know how it goes.

[2022-06-07 13:25] Rugvip commented on #11465
@iain-b Yep could be a common approach across CI plugins. That's ofc very tricky though which is why it could make sense to at least start with something GH specific

[2022-06-07 13:28] anicke commented on #11632
So... We have done some experiments with this.

Our goal is to have the GitHub group members reference the "external samlIdentity" id (azure) instead of the GitHub id. What works for us is to fetch the mapping between GitHub id -> azure id from githubs graphql api. Use the query in the GitHubOrgEntityProvider to get group memberships per GitHub id. Then using a simple catalog processor we can add

[2022-06-07 13:30] Rugvip commented on #11836
Yep local HTTPS is an interesting edge-case for `PluginEndpointDiscovery`. I think what you have there makes sense but could be nice to have a solution built-in. One possibility would be to simply default to using the external base URL if the backend is served over https. I think another possibility could be to allow a hostname to be configured for local access. In the end I think we might defer t

[2022-06-07 13:37] Rugvip commented on #11064
#11836 should be considered as part of this

[2022-06-07 13:57] awanlin commented on #11512
@ottosichert whatever you do with this can you let me know? As @nadworny can confirm, Azure DevOps Services (Cloud) and Azure DevOps Server (Self hosted on premise) seem to behave a little differently around this functionality. I'm happy to test any fix on our Azure DevOps Server instance

[2022-06-07 14:04] freben commented on #11888
Hi! Sounds like an enhancement request on that plugin to make it more flexible. Pinging @gregorytalita who made the plugin. Is this something you might be interested in working on?

[2022-06-07 14:26] Crevil commented on #4945
The chart is currently located in a `contrib/chart` directory but there are no mention of it in the README I can see 👍

Maybe @freben or @Rugvip has opinions on this?

[2022-06-07 15:35] DavidZemon commented on #11875
Any chance of getting a fix or workaround backported? I see that ticket was opened back on April 1, so I'm figuring this won't get released any time soon, but this has been a bug for even longer. I first reported this in Discord on March 4 but apparently dropped the ball and never created the ticket for it as @freben suggested I do.

[2022-06-07 15:49] Expalex commented on #11880
@freben
https://mui.com/material-ui/react-table/#collapsible-table is what our team contributed last year. Since this is an improved version the old one can be replaced with the new. But if you choose to keep the old that’s fine too. Either way our dev team will start working on this and share with you. :)

[2022-06-07 15:54] DavidZemon commented on #11875
Yes, precisely. Right now, our template starter (we have a template for creating templates) that has this in it:

[code]

It's pretty painful... and the longer it goes on, the more painful it's going to be to reach out to all the disparate teams that have created their own templates and get them to uncomment that line.

[2022-06-07 15:57] bourbonfgiles opened #11900 "Azure AD organizational data doesn't appear after following the readme guide and no logs in pod to show errors"
I have followed this README guide to configure backstage to integrate Azure AD organizational data.
https://github.com/backstage/backstage/tree/master/plugins/catalog-backend-module-msgraph

My catalog.ts is as follows

[code]

My catalog-info.yaml is as follows

[code]
The app-config is as follows

[code]

Where the secrets are filled in by Octopus deploy with a well known group.

So after follow

[2022-06-08 02:16] derjust commented on #11651
I can't talk for @jdotw nor @awanlin - but i think we all fell into the same trap:

While https://backstage.io/docs/deployment/docker mentions

(Which makes sense as a statement but I think - in the spirit of *-as-code  -there are valid production use cases that will not need/have a PostgreSQL - thus sticking with SQlite)

Further down in the document the multi-stage build installs SQlite dependen

[2022-06-08 03:58] NishkarshRaj commented on #11885
@freben 👋

I will play around with the pre-release and test this. Thanks 👍

[2022-06-08 04:11] NishkarshRaj commented on #11885
I deleted my `yarn.lock` and did a clean installation of the dependencies and the issue is fixed. 😄

Thanks @freben ❤️

[2022-06-08 04:11] #11885 closed

[2022-06-08 04:22] jcarres-mdsol opened #11913 "S3 discovery with default region does not work in 1.2.2"
## Expected Behavior

We are using S3 catalog provider to get some of our entities.
We deploy backstage to us-east-1 so we leave the region out in the configuration as that's the default.
[code]

The url then becomes `https://s3.amazonaws.com/<bucket>...`

This works well in 1.1 but in 1.2 that URL without a region is not allowed.

[code]

We have worked around this by adding a region that is not

[2022-06-08 08:23] freben commented on #11815
@mclarke47 may know best but yeah it sounds to me like both adding this per default and making sure that the requisite types are exported, both make sense to contribute if you're up for it!

[2022-06-08 08:50] freben commented on #11790
Yep, cloning the main repo is typically the way to go, for contributing into repo-internal plugins.

[2022-06-08 09:35] Hanyman8 commented on #11521
Hello, we changed our connection pool (switched from session to transaction and updated connection pool) and it is working now, thanks

[2022-06-08 09:59] freben commented on #11788
Yep so you will have to add the kubernetes config.

https://backstage.io/docs/features/kubernetes/configuration

[2022-06-08 13:09] shailendra-ahir-cbre commented on #11880
Hi guys, I have a question.
Does backstage use, [material-table](https://www.npmjs.com/package/material-table) or mui react-table (https://mui.com/material-ui/react-table).

[2022-06-08 13:22] Expalex commented on #11880
@freben would have best answers.

[2022-06-08 13:47] benjdlambert commented on #11651
@derjust some times us as maintainers get a little lost amongst the weeds to be honest, and it's hard for us to pretend to be people that are potentially first time readers, so we would really appreciate some contributions on where you think we could improve the docs or whatever to make it easier to get setup and stop leading you down rabbit holes. 🤗

Like I said previously, we shuffled some docs

[2022-06-08 13:57] freben commented on #10121
Their DIY approach probably involves supplying a custom implementation of the `starredEntitiesApiRef` that handles storage in some way that made sense to them specifically.

If we want to make a persisted storage for this as part of the open source offering, we probably would want to make a general user-settings-backend plugin or something like that, which has its own database, and which different

[2022-06-08 14:18] VladMasarik commented on #11642
@sonytricoire @Rugvip What do you think of the above linked PR? It is not covering the "second requirement" from Rugvip yet though, and I still have to add docs to the backstage. I will do it once we merge in the previous PR.

[2022-06-08 14:30] freben commented on #11027
The catalog, in general, as you and @dkichler note above, _explicitly_ does not deal with versions. This includes APIs. The catalog is not meant to contain a perfect index of all versions of all artifacts of all variations of all software components in all slightly different environments - its entities are rather meant to be the higher level "ideas" of things; essentially at a granularity that hum

[2022-06-08 14:31] freben commented on #11027
So to clarify, I want to push back against the formulation

and encourage people to NOT do that :)

[2022-06-08 14:37] dkichler-improving commented on #11027
I agree @freben - I think versioning should be a part of the entity model itself, whereby an entity can have a traceable lineage of versions all associated with the top-level entity.

[2022-06-08 14:55] dkichler-improving commented on #11027
Apologies, replied before I read your initial reply explaining the reasoning on why versioning is _not_ part of the entity model.  It makes sense - bringing versioning into the model would come with a massive amount of complexity.  Certainly there is still plenty of value in a "lightly informative, probably of a recent version of the API" (or service).

[2022-06-08 15:09] morganmspencer commented on #5930
Has there been any movement or updates on this? I think it would be a great feature to have!

[2022-06-08 15:18] jn-github commented on #9055
@sieuvb, @jbadeau, @freben, I am looking help with oauth2 plugin implementation in my backstage app. any help would be appreciated.

[2022-06-08 16:47] markdavidmc0 commented on #11651
I just ran into the same issue and came across this thread.
Thanks for the comments.

[2022-06-08 18:30] sharadpattanshetti commented on #8330
Something like this:

          type: object
          properties:
            option:
              type: boolean
              default: false

[2022-06-08 19:18] Smorenoz commented on #11815
Hey! I just created this PR that I hope will address this issue. https://github.com/backstage/backstage/pull/11938

[2022-06-08 20:14] cmars commented on #11027
At Snyk we're using a rolling [date- and stability-based API versioning scheme](https://github.com/snyk/sweater-comb/blob/main/docs/principles/version.md#api-versioning). It's not so much `myAPIv1` and `myAPIv2` but `myAPI?version=2022-06-08~experimental` and `myAPI?version=2022-05-05~ga`. API consumers can choose the version they want to interact with.

Not representing this in Backstage would be

[2022-06-09 02:49] kiranpatel11 commented on #11671
Does it make sense to make use of the existing `dependsOn` and `dependencyOf` relations

Refering to the [C4 System Landscape Diagram](https://c4model.com/#SystemLandscapeDiagram), these relations can be defined as below.
[code]

If this sounds OK, I can raise a PR to make changes [here](https://github.com/backstage/backstage/blob/211b7203f0ad407545eebb48ca6ad706fd4df5e5/plugins/catalog-backend/sr

[2022-06-09 05:54] jvyang commented on #10529
Hi @iamEAP, is the said documentation already in place?

[2022-06-09 06:35] iamEAP commented on #10529
As far as I can see, this is documented most directly here (https://backstage.io/docs/permissions/getting-started#optionally-add-cookie-based-authentication), which provides some better context.

You'll see it still links out to the tutorial I linked to above though.

[2022-06-09 06:59] #10399 closed

[2022-06-09 08:23] benjdlambert commented on #11875
Yep I appreciate that, just actually looking through that PR, I actually don't think that there's anything that's blocking us doing that routing change right now, maybe we just need to be a little careful about routing and not breaking peoples bookmarks? So maybe changing the route to what the new one is in the `/next` PR, and then if that param is not provided then it 302's to auto fill in to `de

[2022-06-09 09:39] samiramkr commented on #11686
Hi @peterleonardlie, sorry I was not clear. I was thinking of a dropdown menu which opens by clicking in all plafforms. But let's see what @katz95 says?

[2022-06-09 10:09] freben commented on #11027
Thanks for your detailed reply!

I do appreciate that there are underlying needs to find more detailed information along a lot of axes in relation to entities. and indeed we do expose a very rich set of information in our views, and link out to extended details in different subsystems or cloud provider pages etc. So the _end user_ experience should definitely be to have all of the information they

[2022-06-09 12:05] DavidZemon commented on #11875
I won't have a chance to tackle this before Monday's release, so if you could get it done by then, I'll owe you a beer for sure!

[2022-06-09 12:07] benjdlambert commented on #11875
Challenge accepted. 👍

[2022-06-09 13:15] mustafazeya commented on #11368
@nadworny @awanlin So if we are not using Azure discovery along with using Azure auth provider, users will not be able to login to Backstage using Azure AD credential?

[2022-06-09 14:15] PavelPolyakov opened #11949 "techdocs addon is applied differently, depending on the generator.runIn"
## Expected Behavior
Techdocs addons applied are working the same way, despite of the `techdocs.generator.runIn`.

## Actual Behavior

When `techdocs.generator.runIn` equals `docker` — the page renders as expected. When it's set to `local` — addon is not applied/working.

## Steps to Reproduce
Reproduction repository: https://github.com/PP-etc/backstage-vs-mermaid .
How to reproduce:
1. `yarn inst

[2022-06-09 14:41] Rugvip opened #11954 "Tweaks to make it easier to get up and running with Backstage"
This is a second round of tweaks that we've identified as part of evaluating the steps to get Backstage up and running in production over in https://github.com/Rugvip/backstage-prod-diff. Glad to say that we've so far been able to reduce the number of steps required to set up our imagined target Backstage project by 35%. Apart from these smaller tweaks we also hope that the structure proposed in #

[2022-06-09 14:44] #11900 closed

[2022-06-09 15:03] asotog commented on #11949
Hi, @PavelPolyakov was looking at your code, to try to set up docs on my local, but don't see where are you pulling the docs/md files?

[2022-06-09 15:05] PavelPolyakov commented on #11949
hi @asotog ,

I put them here https://github.com/PP-etc/backstage-vs-mermaid/tree/main/examples/documented-component and referred from this config file: https://github.com/PP-etc/backstage-vs-mermaid/blob/main/app-config.yaml#L94

[2022-06-09 15:08] asotog commented on #11949
thanks @PavelPolyakov been running in circles about how to setup the docs on local for a learning project we are doing

[2022-06-09 15:27] #11875 closed

[2022-06-09 15:27] mustafazeya commented on #11368
@awanlin Thanks but does that mean we will have to create a catalog file for each user who is supposed to authenticate using Azure AD? How does the mapping happen between catalog user and Azure AD(probably using email?).

[2022-06-09 16:03] dhhuynh2 commented on #11026
I ran into the same problem as @leon-vg and dug into it a bit. Internally, changing this line from:

https://github.com/backstage/backstage/blob/c938e0d61dbe74f126e5e347413addba8bcd3698/plugins/techdocs-node/src/stages/generate/helpers.ts#L117

To:

`return { repo_url: target, edit_uri: integration.resolveEditUrl(sourceFolder) };`

Seems to work fine for our purposes, setting both `repo_url` and `

[2022-06-09 17:29] PavelPolyakov commented on #11949
@iamEAP got you, thanks a lot. Indeed `pip install mkdocs-techdocs-core==1.0.2` did the trick. My `Dockerfile` was outdated and I copied the version from there.

Thanks again for your time and thanks for your work on backstage!

[2022-06-09 17:29] #11949 closed

[2022-06-09 20:50] ctoestreich commented on #10431
This is something that would be imperative in any large organization.  We are facing this now and wanted to use backstage for consolidation of our orgs.   Could this be accomplished by using proxy config per azure instance similar to this https://roadie.io/backstage/plugins/argo-cd/#support-for-multiple-argocd-instances---option-1

[2022-06-09 21:12] shaunaa126 commented on #8890
Could we keep this issue open? I am now facing similar issues and would like to know what alternatives we have... is creating a custom action the only alternative?

[2022-06-09 22:53] asummers commented on #8890
I've been experimenting with this on this on the side, in a non public repo currently. Here's my findings so far:

It's a little awkward, and doesn't allow infinite recursion, but the actions are given in a list in the scaffolder, with a pointer to the action handler, so that list can be used as a param to a new custom action, which can generically take in the list of the steps, and verify their i

[2022-06-10 07:06] #10604 closed

[2022-06-10 07:09] Xantier commented on #11595
This issue ended up being more on the database level. When spinning up a new pg instance I noticed that the default precision for the timestamp column we are using to store fact rows is 6 digits. One of Knex/Luxon/JS in general doesn't support such a precise time correctly and therefore the eventual query fails to use that passed in value in the where clause properly. This can be mitigated on the

[2022-06-10 08:32] adrianke77 commented on #11684
Currently, if `base-url/docs` redirects to the Documentation page, selecting individual tabs does not add additional pathing to the URL. This makes it not possible for individual tabs to be bookmarked etc

![image](https://user-images.githubusercontent.com/14866712/173024526-183022a3-e420-4c9b-ac89-ddeec58fe53b.png)

For the Explore page, `base-url/explore` redirects to the page, but there is also

[2022-06-10 10:04] #11676 closed

[2022-06-10 11:23] vinzscam commented on #4945
Hi all 👋,

We heard your feedback and we are in the process of rethinking/rewriting the current chart.

We have a prototype here https://github.com/vinzscam/backstage-chart looking for your feedback, to understand whether this is the right direction for building a good Backstage Helm chart.

A couple of highlights:
- There is no pre-defined docker image ready to be used, so you have to come with y

[2022-06-10 11:45] stevehipwell commented on #4945
@vinzscam once this is released would you like a PR to support running a _DEV_ database in Kubernetes so the chart can be used for quick POCs?

[2022-06-10 11:47] stichiboi commented on #11790
Got the local environment working :)

I can work on this if you want to assign to me, I'll ping @cmpadden to review once I'm done.

I'll do 2 pushes:
1. Exporting a `get only these dags` table using `Option 3` (optional `dagIds` prop)
2. Add the sub-table for the DAG's runs

[2022-06-10 11:55] ChrisJBurns commented on #4945
Great news! Am currently on holiday but can contribute to this when I'm back. I've done some stuff around feature flagging Postgres databases so even if we did offer it as part of the chart, it would be entirely config driven.

[2022-06-10 12:22] awanlin commented on #10431
@ctoestreich, unfortunately not, the way the integration is setup doesn't use the proxy and same with the Azure DevOps plugin. Maybe you and @LvffY could work together to contribute this? As I mentioned I'm happy to help test or review PRs, etc.

[2022-06-10 13:04] stichiboi commented on #11790
First issue:
What happens if one of the `dagIds` does not exist? Does the whole thing crash? Does it fail silently?

_My suggestion:_ The table should still render properly all the DAGs it found.
The DAGs that were not found (with `message: "NOT FOUND"`) would trigger an alert.

If there is a different type of error, the whole thing should crash.

**The question**: how will this error be triggered

[2022-06-10 13:41] cmpadden commented on #11790
Your proposed solution works for me. Then, an inline error message can be constructed and rendered using `dagsNotFound`.

You may also want to look into reporting the error message via the `ErrorApi`.  Which states:

https://backstage.io/docs/reference/core-plugin-api.errorapi

[2022-06-10 13:51] vinzscam commented on #4945
Isn't already possible to do this using the postgres chart and including the database url in the app-config.xml?

[2022-06-10 13:57] stichiboi commented on #11790
`inline error message`

Something like this?
![image](https://user-images.githubusercontent.com/38842504/173081125-cf984c42-688a-4563-8209-4b9ceb1cef8a.png)

I would prefer adding it to the `Table` component, in the same card. But it does not seem to take in children :(

[2022-06-10 13:59] tkrop commented on #11614
@jhaals After considering your comment some time, I think the envisioned fallback is assuming a different entity provider and processing model.

Our entity providers integrate multiple data sources into a complex base entity. We use processors only to enrich entities with derive relations and calculated facts. This approach keeps the responsibilities of providers and processors as clear and separa

[2022-06-10 14:07] cmpadden commented on #11790
I think that looks nice! Though I agree that it may be more preferable to have it embedded in the Table component like you said. I say we more forward with what you have and continue with the rest of the implementation. Maybe another maintainer will have some thoughts on the error message further down the road. Awesome work so far!

[2022-06-10 14:10] mustafazeya commented on #5441
We are using Azure as an authentication provider but neither creating catalog users nor using discovery. I am wondering,is there any way we can fetch user's email from the authentication provider and use that to see who has created the template?

[2022-06-10 14:18] stevehipwell commented on #4945
@vinzscam I was thinking of adding the postgres chart as a sub chart and make it optional. I do this for my charts which need postgres so I can run chart testing on them and people can kick the tyres quickly.

[2022-06-10 14:25] #11595 closed

[2022-06-10 14:47] Rugvip commented on #10121
Noting that since the `starredEntitiesApiRef` was added we have now updated the `StorageApi` to make it possible to implement the async update that was previously a bit tricky to do. That is, if we add a `StorageApi` implementation with remote storage, we'd cover this use-case too.

[2022-06-10 17:22] mikekantzer-drizly commented on #11756
Sounds good, thanks!

[2022-06-10 17:22] #11756 closed

[2022-06-11 08:18] sonytricoire commented on #11642
Hi !
Sorry but I won't have time to contribute myself.
Hopefully @VladMasarik can 👍

@VladMasarik your proposal seems ok to me (from a user perspective, I did not check technically), but I would add a short comment to explain "how to apply".

[2022-06-12 02:30] #10434 closed

[2022-06-13 04:10] dschwank commented on #10121
Yeah, it's exactly what @Rugvip & @freben mentioned. We added a new backend API and wrote a custom `BackendStarredEntitiesApi` which we use as `starredEntitiesApiRef`.

@shailahir & @shailendra-ahir-cbre - will push the topic in the next days, thus we hopefully contribute it in the near future.

[2022-06-13 04:21] siddharth159 opened #11987 "Error: Could not Fetch catalog entities"
Hi,

I have setup Backstage on Amazon EC2 instance  Linux/UNIX , Ubuntu 20.04, t2 large.

start with yarn dev command (ss below) seems every catalog is loaded but still in component item it is showing error:

![image](https://user-images.githubusercontent.com/27622350/173278937-186c1994-480a-4fe6-b825-81b67505f71c.png)

![image](https://user-images.githubusercontent.com/27622350/173279028-929b4076

[2022-06-13 07:13] dschwank opened #11988 "Scaffolder encodes relative bitbucket URL twice"
## Expected Behavior

The scaffolder should be able to fetch cookiecutter templates from URLs containing special characters.

Example: `https://github.com/backstage/foo/{{ nested }}`

## Actual Behavior

The scaffolder is able to fetch cookiecutter templates from absolute URLs containing special characters, but has problems when using Bitbucket + relative URLs.

The reason for that are the followi

[2022-06-13 09:28] dominik-bln commented on #4945
@vinzscam To me the general direction you describe sounds very reasonable and keeps options open. The only thing for my personal usage I'm missing is an `ingress` manifest. I think it would be possible to add this in a generic enough way and toggle it with `ingress.enabled` as seems to be a pattern in other charts. This is mainly a matter of convenience, I can write an ingress manifest on my own,

[2022-06-13 09:51] twanbeeren opened #11992 "CatalogBuilder.create(env) in backend catalog.ts expects CatalogEnvironment but gets PluginEnvironment"
## Expected Behavior
The CatalogBuilder expects a CatalogEnvironment instead but from the [official docs](https://github.com/backstage/backstage/blob/master/packages/backend/src/plugins/catalog.ts) a PluginEnvironment object is used as the parameter.

## Actual Behavior
As said previously the given parameter is wrong.
![image](https://user-images.githubusercontent.com/36261352/173325268-39f4a4ee-1

[2022-06-13 10:06] Rugvip commented on #11992
This is intended, the `PluginEnvironment` type is currently defined within the backend package and needs to be kept in sync with the backend template, probably using the [upgrade helper](https://backstage.github.io/upgrade-helper/). This is something we'll address as part of #11611.

In this case you are likely missing some field in your `PluginEnvironment` that you need to add.

[2022-06-13 10:22] twanbeeren commented on #11992
Argument of type 'PluginEnvironment' is not assignable to parameter of type 'CatalogEnvironment'.
    Types of property 'permissions' are incompatible.
        Type 'PermissionAuthorizer' is not assignable to type 'PermissionEvaluator | PermissionAuthorizer'.

I'm gonna check if its the PermissionAuthorizer issue

[2022-06-13 10:25] Rugvip commented on #11992
Ah alright, I think you need the change to `packages/backend/src/types.ts` from https://backstage.github.io/upgrade-helper/?from=1.0.3&to=1.1.1

[2022-06-13 10:35] Rugvip commented on #11642
@VladMasarik yep I think that should solve it, thank you! 👍

The second requirement seems decoupled enough and can be treated as a completely separate improvement

[2022-06-13 11:14] garyniemen commented on #8642
@hexeberlin Sorry about slow response time. @warsaw Thank you for your detailed sharing of your context - totally understand. Here is our thinking...
The overall sentiment from the TechDocs maintainers is that we want to help all Backstage adopters use and be able to use TechDocs. To put it another way, we don't want not-being-able-to-use-TechDocs to be a blocker for adopting Backstage. Having sai

[2022-06-13 11:25] #8124 closed

[2022-06-13 11:51] jhaals opened #11993 "[RFC] Relative paths for catalog file locations"
**Status:** Open for comments

## Need

We are looking for the most intuitive way to handle relative paths for catalog file locations referenced in app-config.
The current setup is perhaps not the most intuitive as the base path resolves to the backend itself(`packages/backend`).

With the following directory structure:

[code]

Loading files from the `examples` directory will result in the follow

[2022-06-13 12:03] freben commented on #11671
Also possibly related: #7109 . In that ticket we discuss the value of automatically generating these relations, whenever one of the deeper components/apis reference others across systems.

[2022-06-13 12:11] benjdlambert commented on #5441
I mentioned actually here: https://github.com/backstage/backstage/pull/11308#issuecomment-1149932486 that might be best off creating a `Custom Field Extension` that could use the `scmAuthApi` to get a token, and then make a request to the Azure API's to grab the profile or something instead. These docs should get you up and running: https://backstage.io/docs/features/software-templates/writing-cus

[2022-06-13 12:11] benjdlambert commented on #5441
Going to close this issue for now, as with #11994

[2022-06-13 12:11] #5441 closed

[2022-06-13 12:17] freben commented on #11671
We can't make a metadata field for relations at this point; there's no support for that and internally we do deduplication of relations and stuff like that. So there's some architectural/design challenges to solve before we could get to that point. Also in basically all places where a relation is actually declared, such as in the `spec` of entities, there's just no nice room to put in a descriptio

[2022-06-13 12:23] imanhua opened #11996 "More actions needed when unregister entity"
## Current Situation
Currently, when click `Unregister Entity`, we only see the following
<img width="453" alt="image" src="https://user-images.githubusercontent.com/42205607/173347575-5e317960-26c6-4995-b024-de23f1a3c25c.png">

## Feature Suggestion
I'm not sure if this should be a feature or a plugin. But we would like to be able to configure more customised actions (eg. running bash/python scri

[2022-06-13 12:26] freben commented on #11614
Here comes an angle that's even later to the game.

When there's merging and processing of data going on, some have opted to do that collation in a separate, stateful service. This of course sounds like extra work, and it is, but it also means that you are free to use any technology and setup that your company are already familiar with and can maintain the easiest. If you have an event based setup

[2022-06-13 12:38] kuangp commented on #11993
Perhaps provide a special key eg. `$PROJ_ROOT` => `target: $PROJ_ROOT/examples/entities.yaml` so integrators can be explicit about when they want to use the project root as the base path?

[2022-06-13 12:42] Rugvip commented on #11993
Tbh, could even just make that an environment variable that is available when running a backend or frontend builds, something like `BACKSTAGE_ROOT`. Then just use it in config with the usual syntax: `${BACKSTAGE_ROOT}/examples/entities.yaml`. Might be a little bit tricky to get it set early on in the backend entrypoint right now though.

[2022-06-13 12:45] tkrop commented on #11614
@freben may totally make sense to allow providers to inject their entities via an external interface, however, I would still expect the injected entities to be processed by the processing pipeline and stitched together. I remember we have started a similar model in the beginning. Do you plan to introduce a RESTful API for this?

[2022-06-13 13:06] Rugvip commented on #11836
Closing this as I think this is now captured in #11064, and the current workaround is captured above

[2022-06-13 13:06] #11836 closed

[2022-06-13 13:07] ivangonzalezacuna opened #12000 "[TechDocs] Images not rendered consistently from docs and entity page"
## Expected Behavior

When adding some docs, you might need to insert images on it and be rendered by the techdocs package used by backstage.

## Actual Behavior

After an strange behavior we noticed in our company, I did a couple tests, and I found a misleading behavior depending if the docs are loaded from the docs page (`/docs`), or from the entity page (`/{entity}/docs)`.

## Steps to Reproduc

[2022-06-13 15:04] leon-vg commented on #11888
I suggest an addition - add the option to set your own filter.

I'm thinking of repositories that contain many entities owned by different teams in one big yaml file. In the current setup of this plugin I think all the teams mentioned in this yaml would see Pull Requests for such a repository, right?

Two approaches - either add the option to add some filter object to the React component(s) or exp

[2022-06-13 16:21] dayadev commented on #11753
@jhaals I am building an entity based on values from an external api and using below
`emit(processingResult.entity(location, entity));`

[2022-06-13 16:23] dayadev commented on #11595
@Xantier Thanks for this and does it require rebuilding the db?

[2022-06-13 16:24] #10851 closed

[2022-06-13 17:14] luananegreiros opened #12004 "Description doesn't work on boolean fields"
## Expected Behavior

In the templates for creating new components, we select a template and then the steps appear, each of which may or may not have a description (including boolean fields).

## Actual Behavior

The description doesn't work when the field is boolean type.

![texto](https://s3.us-west-2.amazonaws.com/secure.notion-static.com/e24bb342-996c-4d8c-965e-f154877ac785/Screenshot_from_202

[2022-06-13 20:31] batidodecoco opened #12006 "[dev environment] Okta Provider not working as intended"
## Expected Behavior

I should be able to log in using Okta

## Actual Behavior

I get this error:

[code]

## Steps to Reproduce

1. I have followed [Okta Authentication Provider](https://backstage.io/docs/auth/okta/provider) documentation

## Context

These are the settings I'm using for creating the okta token:

Sign-in redirect URI: http://localhost:7007/api/auth/okta/handler/frame
Sign-out re

[2022-06-13 20:41] iamEAP commented on #9405
@benjdlambert would you recommend either way re: putting all the deps in this one package and conditionally switching out the client?

There's just going to be _so_ much logical overlap and I don't really want to have to deal with an "elasticsearch module common" package or something.

[2022-06-13 20:50] shanthisagar-dhanya-kumar-db commented on #11891
Looks like this has been fixed here https://github.com/backstage/backstage/pull/11629

[2022-06-13 20:50] #11891 closed

[2022-06-13 22:35] brahimk commented on #8074
Hello,

I have the same problem but i do not found a solution.
@SandhyaBV @tarkil @tritri251214 do you have a solution please ?

Thanks.

[2022-06-13 22:53] brahimk commented on #6015
Hello,

I have the same problem on my backstage:
With the message :

**/docs/default/component/sampleeeabcd:1 Refused to apply style from 'https://........../api/techdocs/static/docs/default/component/sampleeeabcd/assets/stylesheets/main.50e68009.min.css' because its MIME type ('application/json') is not a supported stylesheet MIME type, and strict MIME checking is enabled.**

Do you have a soluti

[2022-06-14 05:23] #10579 closed

[2022-06-14 07:34] benjdlambert commented on #9405
Yeah I mean that probably sounds reasonable until it doesn't right? How are you thinking of switching out the client? How does it work from a user perspective?

[2022-06-14 07:52] Rugvip commented on #11063
Closed by #11974

[2022-06-14 08:28] tkrop commented on #11614
Anyhow, we are loosing track here.

Contributing a `LocalCatalogClient` would be our first choice, to enable local resolution of entities from providers and other backend plugins. Please vote :+1:  or :-1:  whether this contribution would be acceptable.

If you plan to release an API to enable remote entity providers, we may reconsider our contribution to speed up the API development - you may sig

[2022-06-14 09:37] twanbeeren opened #12011 "Module fs-extra doesn't get imported (Dependency issue)"
## Expected Behavior

I'm configuring a new .ts file for creating a custom action according to [this page](https://backstage.io/docs/features/software-templates/writing-custom-actions).

`import fs from 'fs-extra';` should import the module defined in the following path: {rootDir}/node_modules/fs-extra

I followed the [package.json](https://github.com/backstage/backstage/blob/master/package.json)

[2022-06-14 09:43] Rugvip commented on #11880
@shailendra-ahir-cbre we use https://www.npmjs.com/package/material-table, but that in turn uses https://mui.com/material-ui/react-table afaik.

I'm wondering what the addition that you're proposing would look like? From what I gathered so far it sound like something to contribute to MUI rather than Backstage?

[2022-06-14 11:04] twanbeeren commented on #12011
Creating a new app through npx @backstage/create-app and trying to add custom actions again still doesn't work with the same error for fs-extra. This should mean that all the dependencies are installed correctly.

Trying npm i --save-dev @types/fs-extra doesn't work however

[2022-06-14 11:11] aurorasean opened #12014 "scaffolder: Gitlab Ci/Cd project vars publisher for scaffolding"
## Summary

When publishing GitLab template, some pipelines might/will require a Ci/Cd setting to be applied before the pipeline will work

## Context

For a given project/template output the pipeline might require extra vars to be set before it will build

Example:
ENV vars for Security scan (password for dev/prod env version)

(yes the password should not be stored there, but it is an example)

[2022-06-14 11:55] freben commented on #12011
This is a yarn project, you cannot use npm. So `yarn add` or just adding it to the package.json and then running `yarn install` works. Maybe you missed that last install command?

[2022-06-14 12:11] Rugvip opened #12016 "auth: Fix sign out for proxy auth providers"
## Expected Behavior

For any of the [proxied auth providers](https://backstage.io/docs/auth/#sign-in-with-proxy-providers) the logout should either just work, link to the logout page, or be disabled.

## Actual Behavior

The sign out button does nothing.

## Steps to Reproduce

1. Set up any of the proxied auth providers and sign in.
2. Head to the user settings page and select "Sign Out" in the

[2022-06-14 12:17] Rugvip opened #12017 "backend: add signal handlers for controlled shutdown and to fix shutdown in Docker"
## Feature Suggestion

Add a signal handled that handles shutdown of the Backend. Both for the purposes of a controlled shutdown, but also to make the backend exit properly when running in docker.

## Possible Implementation

This may be something that makes sense to make part of #11611 rather than to be implemented immediately, as we currently don't have any API surface in the backend where this

[2022-06-14 12:22] #10640 closed

[2022-06-14 12:41] jhaals opened #12019 "Microsite: Docusaurus 2 upgrade meta issue"
Backstage.io currently runs on an old version of Docusaurus 1.0 which is no longer supported. We therefore want to upgrade to Docusaurus 2.2.

**The new microsite is available in the [microsite-next](https://github.com/backstage/backstage/tree/master/microsite-next) folder and can be started with `yarn start`**

The new microsite resides in the `microsite2` folder with symlinks to assets and other

[2022-06-14 12:44] benjdlambert commented on #12011
You also probably don't want to add it to `devDependencies` if you want to use the package at runtime. `fs-extra` should be listed in the `dependencies` section instead.

[2022-06-14 12:47] twanbeeren commented on #12011
I did put the fs-extra dependency in the devDependencies section because it was used [here](https://github.com/backstage/backstage/blob/master/package.json) as well.

Running a yarn install didn't change anything. I'll try the dependecies section now

[2022-06-14 12:50] twanbeeren commented on #12011
Even from dependencies I still get the same error. It looks like the way the module is exported is going wrong

[2022-06-14 12:51] benjdlambert commented on #12011
I think you'll want to add to `packages/backend/package.json`. Although adding it in the root should work, you might get some errors somwehere.

[2022-06-14 12:53] benjdlambert commented on #12011
You'll want to add `@types/fs-extra` to the `devDependencies` though. Try adding

[code]

to `devDependencies` in `packages/backend/package.json`

[2022-06-14 13:20] Rugvip commented on #11954
Closing as the remaining low prio items are captured in separate issues

[2022-06-14 13:20] #11954 closed

[2022-06-14 13:23] twanbeeren commented on #12011
This above worked. Still wonder why it uses node_modules/@types/fs-extra/lib/index.js instead of node_modules/fs-extra/lib/index.js since a yarn install of a new app adds it both to the node_modules.

I can call the fs-extra module now from adding the following to the root package.json

"dependencies": {
    "fs-extra": "^10.1.0"
  }

 And with adding @types/fs-extra to the devDependencies (as sta

[2022-06-14 13:25] benjdlambert commented on #12011
One package is just for the type definitions seen as `fs-extra` doesn't have types shipped with the module I believe. It's common practice that if packages aren't written in typescript then there would be an additional module which you could install which would provide the types to typescript on behalf of the pure js implementation.

[2022-06-14 13:33] siddharth159 commented on #11987
Can someone please help me on this.

[2022-06-14 13:41] pavanjn commented on #11518
I'm facing the issue of a empty owned entities for a resolver as a "Sign-In without Users in the Catalog" (https://backstage.io/docs/auth/identity-resolver#sign-in-without-users-in-the-catalog)

[2022-06-14 14:05] dschwank commented on #10121
@shailahir & @shailendra-ahir-cbre thanks for the patience.

Short update - we just moved it to the upper part of our backlog. Can't promise a precise date, but chances are high that there is a contribution in the next 2 weeks from @backstage/sda-se-reviewers 🤞

[2022-06-14 14:13] Rugvip commented on #11913
Gonna be related to #10918

@pjungermann do you know if this is a bug and if it has a simple fix?

[2022-06-14 16:02] Rugvip commented on #11368
@mustafazeya populating the catalog with users if the recommended approach, but you can also check out https://backstage.io/docs/auth/identity-resolver#sign-in-without-users-in-the-catalog. That example lets you create a user identity without interacting with the catalog.

[2022-06-14 17:06] ljiljanaholden opened #12026 "Update publish:gitlab:merge-request action to allow commit updates and deletes"
At the moment, publish:gitlab:merge-request Scaffolder action provides the ability to create merge requests that add new files to a Git repository. We have a scenario where we would like to be able to do both updates and deletes of the existing files.

## Feature Suggestion

Provide an additional input parameter for the publish:gitlab:merge-request that defaults to 'create' but could also be 'upda

[2022-06-14 17:27] lvenugopal opened #12027 "Github teams filter in git release manager plugin"
Hello Team,
We recently integrated git release manager plugin. We would like to request a new feature addition to filter the repositories based on GitHub team names. Currently we have owners and repositories filter.

## Feature Suggestion

To add one more filter which can short list the repos based on the github team names.

## Possible Implementation

Add new filter on git release manager page to

[2022-06-14 17:28] ericis opened #12028 "Ability to swap docker with podman"
## Feature Suggestion

Support [`podman`](https://podman.io/) as an alternative to `docker` and perhaps the default tool.

Docker Desktop requires paid licensing in large organizations while Podman is a free and still open-source alternative for companies that is almost entirely compatible with the `docker` and `docker-compose` CLI commands. Podman has [recently released official support for macOS

[2022-06-14 17:31] Kuan-Ying opened #12029 "Add CA option to CertificateReferenceOptions in HttpsSettings"
Backstage currently allows https configuration when starting the node server in app-config.yaml as below:
[code]
but there is no option to provide additional CA. The only work around is to add `NODE_EXTRA_CA_CERTS` when start the node server, which works but developers will need to set up it in a different place.

## Feature Suggestion

Add a config ca in `backend.https.certificate` options:
[code

[2022-06-14 18:36] austin5456 commented on #11674
Hey, I took a slightly different approach to fixing this bug
[PR-12030](https://github.com/backstage/backstage/pull/12030)

[2022-06-14 20:27] asselin opened #12031 "[TechDocs] Can't view techdocs from About card when installed with a URL prefix"
## Expected Behavior

Prereq: Backstage is installed behind a proxy that rewrites the URLs removing a path prefix (e.g. `https://foo.com/backstage/*` -> `http://something/*`   <-- removing the initial /backstage portion of the path)

On a component page, when you click "View Techdocs" in the About card, it should bring you to the techdocs page.

## Actual Behavior

On a component page, when you cl

[2022-06-14 21:07] ctoestreich opened #12032 "Allow customization for default catalog-info.yaml file in PR if not exists"
## Feature Suggestion

When a catalog-info.yaml does not exists it would be nice if a template could be provided in the app config to use as the default.  The default appears hard-coded with the exception of the slug injection

[code]

I do not currently see a way to customize this template if we want to add additional default annotations or properties to the PR'd file.

## Possible Implementation

[2022-06-14 21:23] ChrisJBurns commented on #11651
I'm curious around how the local and production config is loaded. I used the `create-app` method of generating my backbase project and it gave me a backend Dockerfile that had a `--config app-config.production.yaml` flag at the end. I noticed when it got to Kubernetes, it weren't actually loading the config file and I noticed that I was getting the same error in this issue.

I've since copied the

[2022-06-14 21:27] markdavidmc0 commented on #11651
Interesting.

Let me try replicate.
I still haven't figured this out yet myself and was hoping to start using Backstage for my company.
The project has stalled a bit until I can conjure up the courage to give it another go 😅.

[2022-06-14 22:03] ChrisJBurns commented on #11651
I've played around with the Helm chart I'm using and it seemed to be that, that was causing the issue. It was overriding the `command` when the container started and it wasn't passing it the correct `app-config.yaml`.

[2022-06-14 22:44] shvmbisht commented on #10569
@shailahir @LvffY checkout this https://github.com/backstage/backstage/pull/12034

[2022-06-15 04:25] siddharth159 commented on #11987
No @Rugvip this is not an issue because if my run "yarn dev" via root access so everything fine (logs attached below)
![image](https://user-images.githubusercontent.com/27622350/173736333-fa352099-11da-42c4-a6a9-9551ce18c352.png)
![image](https://user-images.githubusercontent.com/27622350/173736368-4b2dd469-4128-4bac-9a90-08e3aebff7cc.png)
but still issue is persist in backstage portal and when I

[2022-06-15 04:34] jrusso1020 commented on #10404
Took me a while to get to this but just opened up a small PR with the change https://github.com/backstage/backstage/pull/12035

[2022-06-15 06:14] antoniordz96 commented on #12016
We are using the [oauth2-proxy](https://oauth2-proxy.github.io/oauth2-proxy/) container for authentication. Seems like the container exposes an endpoint `/oauth2/sign_out - this URL is used to clear the session cookie`. Is it possible in the current implementation of backstage to set this button to hit this URL?

[2022-06-15 06:27] emmaindal commented on #11674
Hi @austin5456 this issue will be closed by https://github.com/backstage/backstage/pull/12024 thanks a lot for taking the time looking into this though!

[2022-06-15 07:06] omerfarukdogan opened #12037 "[Scaffolder] OwnerPicker accepts empty values even when required"
## Expected Behavior

OwnerPicker should reject empty values if the parameter is required.

## Actual Behavior

Empty values are accepted for required parameters.

## Steps to Reproduce

1. Create a template which uses OwnerPicker

[code]

2. Go to component creation page
3. Enter a value to the field
4. Remove the value entered in step 3
5. Click NEXT or CREATE
6. Progression is not blocked due t

[2022-06-15 07:50] vinzscam commented on #4945
sure, it would be amazing!

[2022-06-15 08:07] Rugvip commented on #12029
Yep, makes sense! 👍

Is it something you'd like to contribute?

[2022-06-15 09:46] ljiljanaholden commented on #12026
OK, great - I'll create a PR soon

[2022-06-15 10:41] pjungermann commented on #11700
I found an easy way to solve this. I will create a PR later today.

[2022-06-15 10:43] pjungermann commented on #11700
or even two improvements which both would fix it. I will link both to this issue.

[2022-06-15 11:49] pjungermann commented on #11913
I can have a look

[2022-06-15 11:50] pjungermann commented on #11913
@jcarres-mdsol is the bucket you use located in `us-east-1`?

Did you expect to apply the default region (from your backstage deployment)?

[2022-06-15 12:03] pjungermann commented on #11913
sorry, you already answered that at your original description.

Is your backstage deployment in the same region?

[2022-06-15 12:05] pjungermann commented on #11913
the host/endpoint is take directly from the `S3` client from the aws-sdk to which the region config gets passed. If there is no region config, the defaults of the client will apply for it.

The client itself returns the proper endpoint depending on the region provided.

[2022-06-15 12:07] pjungermann commented on #11913
..but probably, the issue lies at AwsS3UrlReader 🤔

[2022-06-15 12:16] pjungermann commented on #11913
btw: this was like that since v1.0.0 as far as I can tell

[2022-06-15 12:48] #11700 closed

[2022-06-15 13:26] ChrisJBurns opened #12049 "Error: Could not fetch catalog entities."
## Expected Behavior
- Go to backstage app and see no errors

## Actual Behavior
![image](https://user-images.githubusercontent.com/29541485/173836985-1a856e1a-a2bf-457f-9750-860db1d9c29b.png)

## Steps to Reproduce
- Run `npx @backstage/create-app` and follow the wizard
[code]
- Run `cd backstage2 && yarn dev` and go to `localhost:3000`

## Context
Currently I've got a backstage applications with

[2022-06-15 13:36] ChrisJBurns commented on #12049
Logs:

[code]

[2022-06-15 15:10] tkrop commented on #11614
@freben Okay, I get your point. I can see the caveats of providing a `POST /entities`-endpoint too and would not use it in this simple barely authorized form.

I must admit that an`authoritative gateway` for a presentation specialized, single use case entity provider is not a service I would design - since I don't see that the value justifies the development and maintenance overhead it creates. In

[2022-06-15 15:32] ChrisJBurns commented on #12049
Well. This is slightly embarrassing. It seems that my Backstage app was sending requests to the backend on port 7007 - which is expected. *BUT* not so much when there is a port forwarding route open on my machine to my Cluster on `localhost:7007` 😅 . The second I closed the port forward my catalogue was fine and my original `nodejs-template` worked.

Apologies. Cognitive overload happened and forg

[2022-06-15 15:32] #12049 closed

[2022-06-15 20:06] github-actions[bot] opened #12061 "Snyk vulnerability [SNYK-JS-NWSAPI-2841516]"
## Affecting Packages/Plugins

* [@backstage/cli](packages/cli/package.json)
* [@backstage/plugin-api-docs](plugins/api-docs/package.json)

## Overview

Affected versions of this package are vulnerable to Denial of Service (DoS) when it is provided the invalid selector `_:-ms-fullscreen`. This triggers an infinite loop.

## Details

Denial of Service (DoS) describes a family of attacks, all aimed

[2022-06-15 21:10] pjungermann opened #12063 "click on tags, add to current filter"
## Feature Suggestion

## Possible Implementation

## Context

[2022-06-15 21:11] ivan-santos-eq commented on #4626
Hi, was that ever fixed?

[2022-06-15 21:23] pjungermann opened #12065 "Align msgraph entity provider config with these of other entity providers"
## Feature Suggestion

Use the same configuration scheme as for other entity providers using `catalog.providers.{providerName}[.{providerId}]` as prefix (see e.g. AwsS3EntityProvider, BitbucketCloudEntityProvider, GerritEntityProvider, etc.).

Currently, it uses `catalog.processors.microsoftGraphOrg.providers` as prefix.

## Possible Implementation

## Context

[2022-06-15 21:33] pjungermann opened #12066 "Upgrade aws-sdk from v2 to v3"
## Feature Suggestion

Currently, Backstage uses the outdated aws-sdk v2 instead of v3. Moving from v2 to v3 might require some more substantial changes.

## Possible Implementation

## Context

Known affected modules or classes

- `@backstage/backend-common` (`AwsS3UrlReader`)
- `@backstage/plugin-catalog-backend-module-aws` (entity provider, processor)
- `@backstage/plugin-kubernetes-backend` (`

[2022-06-16 02:58] dehamzah opened #12072 "Response code for validation error should not be using 500 error code"
## Feature Suggestion

Change the validation error code from 500 to 422.

## Possible Implementation

Change the status code for validation error to 422.

## Context

We are tracking the SLO and SLA for our backstage catalog API by comparing the total API response with the API response that are having 500 error code, as it's means an error. We just realized that the API `/api/catalog/locations?dry

[2022-06-16 03:26] Kuan-Ying commented on #12029
Sure. I'm happy to help contribute to this. Will work on this when I get time :)

[2022-06-16 04:09] 18521542 opened #12075 "[Scaffolder] Cannot open file when using Template Editor"
## Expected Behavior
When choosing `Load Template Directory` or `Edit Template Form` of Scaffolder's Template Editor, it can work like this PR mentioned: https://github.com/backstage/backstage/pull/11173

## Actual Behavior
- I have bumped backstage up from v1.0.0 to v1.3.0 but getting error when choosing `Load Template Directory` or `Edit Template Form`.
-  The new functionalities of Scaffolder g

[2022-06-16 07:52] #10404 closed

[2022-06-16 08:05] jhaals commented on #12065
Sounds good! Could you help out? 🙏
We should make sure that it's backwards compatible :)

[2022-06-16 08:14] #10723 closed

[2022-06-16 09:04] jkNC opened #12081 "Catalog table filters are not cleared when changing entity kind"
## Expected Behavior

Filter to be cleared when changing type

## Actual Behavior

Filter is still applied when it make no sense

## Steps to Reproduce

View Catalog Components
Filter Catalog by a tag
Change to View Catalog Users (that cannot have tags)
No results shown however tag option disappears so unclear results are filtered

[2022-06-16 09:46] #11583 closed

[2022-06-16 09:51] freben commented on #11614
So we talked about it this morning, and would prefer if we didn't add extra code for this unless absolutely strictly necessary, and instead first evaluate the path that everybody else uses - namely using the plain catalog client. The serialization / deserialization is generally not a big concern, even though of course it may depend on the circumstances. Calling out to another host can sometimes ev

[2022-06-16 10:42] Fs00 commented on #9943
Fixed by #11656

[2022-06-16 10:42] #9943 closed

[2022-06-16 11:52] #11553 closed

[2022-06-16 11:54] iamEAP commented on #11553
Hey folks following along!  Thanks for the patience on this.  A fix for this is now merged in and will be available in the next release on Tuesday.  ...You may still need to use the workaround above until fully packaged and released.

[2022-06-16 13:21] martina-if commented on #11852
Hi @masonhuemmer , thank you for raising this. I am not sure what is happening. Seems like the upgrade had a breaking change?. Seems you found a workaround could you please contribute that in a pull request?

[2022-06-16 13:25] ottosichert commented on #11512
We've had a deeper look into this issue and it turns out there are multiple problems involved in this.

1. Some ZIP archives provided by Azure DevOps Services (Cloud or self hosted) seem to be incompatible with NodeJS `zlib` inflater. This behaviour occurs once there is a nested ZIP file present
2. When trying to unzip this archive, TechDocs throws (which is to be expected)
3. Other corrupt archiv

[2022-06-16 14:11] nadworny commented on #11512
@ottosichert you can try with this https://github.com/nadworny/backstage-zip-test. Or do you actually need a zip that you'd get from Azure for such a repo?

[2022-06-16 14:19] pjungermann commented on #12065
@jhaals Yes, this was my plan. I just thought I shared issues instead of post-it at my screen. Also, in case someone else wants to pick it up earlier.

[2022-06-16 14:19] pjungermann commented on #12066
Thanks for the context @jhaals. 👍  Will look into the details later.

[2022-06-16 14:24] pjungermann commented on #12063
At the catalog page, if you click on/change any filter at the sidebar, other filters will be kept.

Other elements in table like owner will not modify the filter but lead to their entity page. But this is fine.

[2022-06-16 15:55] punkle opened #12092 "github:publish allows enabling "Require signed commits""
So far as I can see, there is no option to require signed commits do this using the github:publish scaffolder task.

## Feature Suggestion

When configuring a github repo you have the ability to "require signed commits" for pull requests.

## Possible Implementation

Not sure how it would be implemented.

## Context
Some companies require commits to be signed for verification purposes, by adding t

[2022-06-16 16:54] nmarinel opened #12093 "[azure-devops] Improve CI/CD features for multi-stage pipelines"
## Feature Suggestion

The Azure Devops release pipeline UI (e.g. https://dev.azure.com/org/proj/_release?_a=releases&view=mine&definitionId=1) leaves something to be desired. For a given release definition, you can bring up a list of every release created for that definition and the deployment status of every stage in the release. It would be nice to have a view with a single row per release defi

[2022-06-16 17:22] Balfa commented on #12093
My understanding is that you're wishing that ADO itself had a view like the following:
| Release          | Dev    | QA     | Staging | Production |
|------------------|--------|--------|---------|------------|
| MyAwesomeProduct | v2.9.0 | v2.8.1 | v2.8.0  | v2.8.0     |
| MyOtherProduct   | v2.0.1 | v2.0.0 | v2.0.0  | v1.3.0     |
| SomeInternalTool | v1.1   | v1.1   | v1.1    | v1.1       |

Bu

[2022-06-16 19:05] mclarke47 opened #12095 "Kubernetes plugin: Service locator implementation based on the cluster "archetype""
## Feature Suggestion

A typical pattern in Kubernetes clusters is to have some clusters where workloads run (deployments/cronjobs etc...) and other clusters where Custom Resources (CRs) are defined (with their supporting controllers). Currently, this separation is not well managed by the Kubernetes plugin as there is only one `serviceLocator` implementation `multiTenant`, which looks for all reso

[2022-06-16 19:06] mclarke47 commented on #6109
Have a look at the solution in https://github.com/backstage/backstage/issues/12095 and let me know what you think

[2022-06-16 19:07] mclarke47 commented on #10513
Some discussion happening on https://github.com/backstage/backstage/issues/12095

[2022-06-16 21:24] shanthisagar-dhanya-kumar-db commented on #10670
We have managed to extend the capability of the mkdocs-techdocs-core and add some of those plugins internally.
So, closing it based on this

[2022-06-16 21:24] #10670 closed

[2022-06-16 21:25] shanthisagar-dhanya-kumar-db commented on #10270
Do we have any updates on this?
I believe the images should be made clickable by default and open in a different window?

[2022-06-16 22:16] satrox28 commented on #12026
Great, we were looking for it.

[2022-06-16 22:23] mikeestrada opened #12101 "Error when running on minikube"
## Expected Behavior

- Should be able to run backstage on minikube following [the guide](https://backstage.io/docs/deployment/k8s).

## Actual Behavior

When applying the final manifest for backstage - the image: backstage:1.0.0 returns a ErrImagePull.

I tried other images such as spotify/backstage-cookiecutter:latest but that yielded a whole 'nother slew of errors which I have wrestled with qui

[2022-06-16 23:00] kwent commented on #9250
@e0d i never got it working but i'm still VERY interested to make it work :) Unsure where to begin tbh

[2022-06-16 23:23] nmarinel commented on #12093
@Balfa Yup, exactly. I think the first table you have is probably not going to work out for most people, so the second is more what I had in mind. Thanks for writing that up, I'll update the top post if it lets me...

[2022-06-16 23:59] awanlin commented on #12093
Ok, this is great, thanks for getting this started. I'd like to clear up some terminology as it will help make sure we are on the same page and clarify our needs

1 - Multi-stage pipelines are created in YAML and are tied to Environments, here is some documentation:
- https://docs.microsoft.com/en-us/azure/devops/pipelines/process/deployment-jobs?view=azure-devops
- https://docs.microsoft.com/en-u

[2022-06-17 02:05] marcus-crane commented on #12075
I've been having the same issue with multiple instances of `@codemirror/state`.

I know that Codemirror is used as the editor in the GraphQL plugin so I removed that thinking it might be the culprit but no luck.

Perhaps other plugins make use of Codemirror too? I haven't tracked any down just yet

[2022-06-17 02:29] marcus-crane commented on #12075
Ah ok, I think I've figured out what has gone wrong and why it suddenly started breaking despite what I'm sure was extensive testing before v1.3.0 released.

I'll do a write up in a sec but for now, you should be able to temporarily fix this issue by adding the following [resolution](https://classic.yarnpkg.com/lang/en/docs/selective-version-resolutions/) to your `package.json`:

[code]

[2022-06-17 02:58] marcus-crane commented on #12075
**tl;dr**: `@uiw/react-codemirror` [recently introduced a direct dependency on `codemirror`](https://github.com/uiwjs/react-codemirror/commit/5cef465493407bf980e126956c47a0c9e4774573#diff-7ae45ad102eab3b6d7e7896acd08c427a9b25b346470d7bc6507b6481575d519R66), resulting in a second instance of `@codemirror/state` that breaks the scaffolder editor.

---

The first instance of `@codemirror/state` is us

[2022-06-17 03:10] 18521542 commented on #12075
Yeah, so I added `"resolutions": {
"@uiw/react-codemirror": "4.7.0"
}` to my `package.json`
=> It works fine with the `Edit Template Form` but I must wait for a VERY long time to see the directory loaded when choosing `Load Template Directory`. Did you have the same issue? @marcus-crane
I'm using window 10

[2022-06-17 03:35] marcus-crane commented on #12075
Ah, I haven't tried the "Edit Template Form" feature just yet but I'll give it a spin later on

[2022-06-17 03:49] 18521542 commented on #12075
And also cannot use `try it` button of the Template Editor
![image](https://user-images.githubusercontent.com/56584175/174221108-980c57a5-7c9a-4207-a4ab-6e2b0dc987d8.png)

[2022-06-17 04:29] taro-cmd commented on #12026
we are interested in this update

[2022-06-17 04:55] siddharth159 commented on #11987
@Rugvip could you please check on this.

[2022-06-17 05:25] cinlysobin opened #12105 "Permission: All the catalogs owned by the group in which the user is a member should be visible"
## Expected Behavior

All the catalogs owned by the group in which the user is a member should be visible

## Actual Behavior

While login I am able to see only the catalog owned by the specific user. not the catalogs owned by the group in which he is a member of.

## Steps to Reproduce

used the following code n permissions.ts

[code]

## Context
I am trying to implement a rule in my organization

[2022-06-17 05:45] NishkarshRaj opened #12107 "Empty Owned Section in the Catalog Entity Page"
## Expected Behavior

The Catalog Entity page defaults `/catalog/?filters%5Bkind%5D=component&filters%5Buser%5D=owned` and showcases the catalogs owned by the signed-in user (assuming the Resolver is set correctly for Identity Resolution and Ownership mapping).

For Example: https://demo.backstage.io/catalog?filters%5Bkind%5D=component&filters%5Buser%5D=owned

<img width="1440" alt="Screenshot 202

[2022-06-17 07:04] jhaals commented on #12032
Hi!

Just to clarify, by creating PRs do you mean the PR that's created using the catalog-import plugin under `/catalog-import`?

[2022-06-17 07:09] jhaals commented on #12027
Hi!

This plugin was contributed by @erikengervall but I'm not sure he's actively involved in this plugin any longer. In any case this sound like a useful feature. Is this something you would be willing to contribute? 🙏

[2022-06-17 07:16] jhaals commented on #12004
Hi!
Sorry to hear that you're having trouble, it sounds like this could potentially be a bug in react-jsonschema-form which is the underlying library used by the scaffolder to display forms. Are you able to reproduce the problem in the https://rjsf-team.github.io/react-jsonschema-form/ ? The schema need to be converted to json instead of yaml for the playground.

[2022-06-17 07:21] martina-if commented on #4945
Hi, I am not sure what the opinion of the maintainers is but I'd be more than happy to replace the existing charts with something better like what @vinzscam is doing.

I'm happy to deprecate the existing charts and remove them in a couple of weeks. Opinions?

[2022-06-17 07:21] jhaals commented on #11987
Looks like your backend is listening on port 172(logged as `Listening on :172`) which explains why the frontend are not able to reach it on port 7007. Make sure your backend port is configured to 7007 in app-config.yaml

[2022-06-17 07:28] ipedrazas commented on #12101
The guide says:

The instructions to create that docker image are a bit below in that guide:

[code]
You don't need to push the image to a registry because you're doing the docker build inside of minikube 🙌

[2022-06-17 07:41] siddharth159 commented on #11987
@jhaals sorry but I didn't get your point below is my app.config.yaml file and i have referred localhost with my "PRIVATE IP" in hosts file.

![image](https://user-images.githubusercontent.com/27622350/174250389-59a95ea6-27e3-4f9a-8ac2-c7ea2c1aeacd.png)

[2022-06-17 07:54] marcus-crane commented on #12032
I understood the request to be the ability to customise more elements of the catalog entry created by the import plugin so eg; setting an owner, component type, lifecycle and so on rather than having to create a PR then edit the PR to set extra values

[2022-06-17 08:56] stichiboi commented on #11790
Ok, I have the feature ready

How can I push it?

[2022-06-17 08:58] jhaals commented on #11518
Would you be able to provide an entity that should be visible and also the resolver for us to try to reproduce this issue?

[2022-06-17 09:10] Rugvip commented on #12105
In release 1.3 we now display the identity information of the user on the settings page, does that look as expected, i.e. is the group information there?

Looks like this:

![image](https://user-images.githubusercontent.com/4984472/174266937-00e3fbd6-fb76-46d0-b33d-98139b131a93.png)

[2022-06-17 09:49] CitsGit commented on #12105
The package versions that are updated to make permissions working.
@backstage/plugin-permission-common": "^0.6.2
@backstage/plugin-permission-node": "^0.6.2
@backstage/plugin-permission-backend": "^0.5.7

[2022-06-17 10:26] ChrisJBurns commented on #4945
Hi @martina-if if the chart that @vinzscam has becomes something people are happy with as a base, then I'm happy to deprecate the old ones. It actually works for me (with a few tweaks - although I shall contribute these tweaks) as opposed to the existing ones.

[2022-06-17 10:28] cmoulliard opened #12110 "helm chart: postgresql-password-lighthouse-secret.yaml" at <b64enc>: invalid value; expected string"
## Expected Behavior

The helm chart should be installed without error

## Actual Behavior

helm reports the following error
[code]

## Steps to Reproduce

[code]

[2022-06-17 11:41] daydy16 commented on #8358
@Rugvip Can you help me to find out where the baseurl is set?

[2022-06-17 11:54] stichiboi commented on #11790
Regarding the second feature:

Taking a look at the [official MUI example](https://mui.com/material-ui/react-table/#collapsible-table),
the `Collapsible Table` is achieved by drawing the rows _by hand_ (draw 2 rows per each table element)

This is quite different from the current approach, which instead puts the `render` field in the column.

The issue with the `MUI` method is that:
1. I cannot wr

[2022-06-17 12:21] cmpadden commented on #11790
Feel free to open a Pull Request from your fork of Backstage to this repository, and I will check things out! Also, make sure you've reviewed the [CONTRIBUTING.md](https://github.com/backstage/backstage/blob/master/CONTRIBUTING.md) guidelines to be sure you're aligned with Backstage's best practices.

[2022-06-17 12:30] cmpadden commented on #11790
You raise some good points.

I think that this change can be a part of a separate feature / pull request, so that we can get this one finished. But I still think that it's a feature worth exploring.

Another thought is we could have a button within a table cell that either opens a modal, or navigates to a sub-page within the table's frame. Then, on that page we could have DAG details. I think this

[2022-06-17 12:57] awanlin commented on #12107
@NishkarshRaj, I've replied on Discord but posting here as well, thanks for such a detailed issue, made it easy to find what needs to be adjusted.

Alright so this return:
[code]

Will need to be changed out to something like this:
[code]

Basically ctx.signInWithCatalogUser will tie you auth to the matching user in Backstage which is then used by the Owned part in the catalog sidebar

[2022-06-17 13:05] jhaals commented on #11753
Perhaps it helps if you share your entity spec, the two lines at the bottom is examples which will end up as relations after processing.

[code]

[2022-06-17 13:09] jhaals commented on #11996
Hi @imanhua, thanks for the suggestion.
I believe this is something you could build on top of catalog events #8219. The feature itself is not implemented yet but is high on the wish-list and something that would accommodate use cases like this.

[2022-06-17 13:29] stichiboi commented on #11790
That is a very good idea!
I'm just not sure how to design the sub-page UX if the user **does not** click on the DAG entry. Does he have a filter to select the DAG? How will he toggle between the different views?

I still thinks it would be very nice to have some super quick information on the DAG table, with all the other DAGs
This could be achieved by just showing something like `the last 5 runs`

[2022-06-17 13:39] regicsolutions commented on #12075
Thanks @marcus-crane this also fixed my issue as well! i am also facing the same issue as @18521542 with the 413 error:
![2022-06-17_8-58-44](https://user-images.githubusercontent.com/6157895/174309718-8c23f152-cf35-4a9d-ab09-03e5612a25df.png)
r

[2022-06-17 13:49] Vrtak-CZ opened #12114 "1.3.0 not working in Safari"
## Expected Behavior

Working in Safari

## Actual Behavior

Blank page with `SyntaxError: Invalid regular expression: invalid group specifier name`

## Steps to Reproduce

[code]

and open it in Safari

## Context

## Your Environment

- Browser Information: Safari Version 15.5 (17613.2.7.1.8) - macOS 12.4 (21F79)

- Output of `yarn backstage-cli info`:

[code]

[2022-06-17 13:56] defaultbr commented on #8330
Update on my example above:

I said that it's impossible to include/import parts of yamls, using `include` keyword is but you can import using another keywords: https://backstage.io/docs/features/software-catalog/descriptor-format#substitutions-in-the-descriptor-format

[2022-06-17 13:57] pavanjn commented on #11518
@jhaals I see an issue been created for this - https://github.com/backstage/backstage/issues/12107.

The issue is with oidc provider when used with the resolver from here - https://backstage.io/docs/auth/identity-resolver#sign-in-without-users-in-the-catalog.

[2022-06-17 14:10] awanlin commented on #11518
@pavanjn I posted a solution for this in #12107 : https://github.com/backstage/backstage/issues/12107#issuecomment-1158845189

The issue isn't with the OIDC provider but that the return needs to use `ctx.signInWithCatalogUser` and you need to have Users for Backstage to map with.

[2022-06-17 14:11] awanlin commented on #11518
@pavanjn, sorry, just saw your edit. To handle both cases you'll need to implement some custom logic, the elements you need to do that are all available to you. Let me see if I can find more details

[2022-06-17 14:19] pavanjn commented on #11518
@awanlin  Sorry for the multiple edits, i would try and update here.

[2022-06-17 14:30] pavanjn commented on #12114
The below solution did fixed the safari issue for me. Add this to your root package.json.

[code]

[2022-06-17 14:31] awanlin commented on #11518
@pavanjn, no worries. So what you need to do to make this work is something like this:

Use `ctx.findCatalogUser` to find the user, if they exists then return `ctx.signInWithCatalogUser` else return `ctx.issueToken`.

That should get you what you'd like to see happen

[2022-06-17 15:16] NishkarshRaj commented on #12107
@awanlin - it works! ❤️

Thanks a lot for the response! 🙏

Btw, I couldn't find this detail anywhere on the documentation. If I hadn't missed it, maybe something that needs to be added to the catalog page.

Anyways, closing this Issue! Open Source FTW 👍

cc/ @Rugvip

[2022-06-17 15:16] #12107 closed

[2022-06-18 10:39] #9709 closed

[2022-06-18 13:01] #10605 closed

[2022-06-18 15:29] #10642 closed

[2022-06-19 00:54] awanlin commented on #9606
I've managed to make some really good headway on this, just sorting out some UI niggles and adding tests

[2022-06-19 11:44] #10778 closed

[2022-06-19 17:43] awanlin commented on #9606
Alright, UI is working as expected now, will tackle tests next. Here's a quick demo:

https://user-images.githubusercontent.com/67169551/174493584-ff06b4d9-290f-485f-97d8-a3f48580d273.mov

I manually added the 'backstage.io/orphan' annotation to fake out an actual orphan for the `artist-lookup` component (this will also show up as an error because I don't think these are allowed to be added by han

[2022-06-19 18:22] marcus-crane commented on #10810
Ah, this seems really nice (go away stalebot 😛)

[2022-06-19 18:24] marcus-crane commented on #10862
This is an issue I've run into recently where we currently have a bunch of entities centralised in a single repo but we fake the location through the use of the `source-location` annotation.

The idea is that as we verify who owns what (these things are not always clear!), we migrate those catalog entries to their true home in the repo but Backstage gets a bit confused if you don't unregister thin

[2022-06-19 20:05] github-actions[bot] opened #12132 "Snyk vulnerability [SNYK-JS-GOT-2932019]"
## Affecting Packages/Plugins

* [example-backend](packages/backend/package.json)
* [@backstage/plugin-kubernetes](plugins/kubernetes/package.json)
* [@backstage/plugin-kubernetes-backend](plugins/kubernetes-backend/package.json)
* [@backstage/plugin-kubernetes-common](plugins/kubernetes-common/package.json)
* [@backstage/plugin-scaffolder-backend](plugins/scaffolder-backend/package.json)

## Over

[2022-06-20 00:11] djamaile commented on #10784
Still wanting to do `FavoriteEntity.Icon` or is system icons the way forward? @Rugvip

[2022-06-20 05:29] sharadpattanshetti commented on #770
Really interested for these APIs.

[2022-06-20 08:12] jhaals commented on #12114
Closing as it's a duplicate of #6039. Thanks everyone, let's continue the conversation there if needed.

[2022-06-20 08:12] #12114 closed

[2022-06-20 09:08] imanhua commented on #11996
Hi @jhaals , thank you for your information. I've looked into https://github.com/backstage/backstage/issues/8219 as well. Indeed it should do the trick after implemented.

[2022-06-20 09:13] ivangonzalezacuna commented on #12000
Just updated to backstage 1.3.0, now this issue seems to be solved, so I'm closing it.

[2022-06-20 09:13] #12000 closed

[2022-06-20 09:33] jhaals commented on #12032
Yeah that sounds like a good idea :) Would you be willing to propose a solution for this? 🙏

[2022-06-20 09:38] jhaals commented on #11987
The indentation of your configuration file is incorrect and `listen` should not be given a hostname. listen and port are at the same level in your config file.

Here's an example of a correctly formatted config file

[code]

[2022-06-20 09:44] jhaals commented on #12110
Hi @cmoulliard! The helm chart is not in a good state at this point, we have removed it from our docs as we currently do not recommend that people use it. However there is work ongoing to make it better, most of the discussion happening in #4945. Make sure to follow that issue for updates, I'll go ahead and close this issue to keep the ongoing conversation in one place

[2022-06-20 09:44] #12110 closed

[2022-06-20 09:48] kissmikijr commented on #11993
I love this!

I think the cleanest would be without the env variable though, like in the RFC.
[code]

But using an env variable would be a huge improvement also!

Now that I am typing this, could we make it resolve to the `app-config.yaml` file instead of the root? I think it would be more intuitive in that case wouldn't require a hidden knowledge that these paths are resolved to the root. So if I

[2022-06-20 09:51] mustafazeya opened #12135 "Users and groups from MSgraph org discovery not visible in backstage catalog"
## Expected Behavior

Users and Groups should be visible in the backstage catalog
![image](https://user-images.githubusercontent.com/31076711/174573130-98fac607-f5b6-4f41-bdec-c4ce3767e0cf.png)

Following the [link](https://github.com/backstage/backstage/blob/master/plugins/catalog-backend-module-msgraph/README.md), we should be able to use either `entity provider or a processor` to ingest the org

[2022-06-20 10:08] mustafazeya commented on #9044
@ngeegoh were you able to fix this issue??

[2022-06-20 10:22] CitsGit commented on #12105
Hi @Rugvip ,
I tired by upgrading backstage to 1.3
but now instead of username it is showing as guest
![image](https://user-images.githubusercontent.com/98138120/174581532-64ddcf16-2fc5-4b55-8162-46371e3d0775.png)

[2022-06-20 10:28] garyniemen commented on #10270
@shanthisagar-dhanya-kumar-db Feel free to have a go (use case 3 above) and submit a PR.

[2022-06-20 10:54] marcus-crane commented on #12032
Personally I'd be fine with a static template but just having an extra step to ask you which of the three common Component types a thing is (ie; library, service or website) and same with lifecycle.

I suppose the most straight forward way (that may be messy) is to just add another optional step asking for extra inputs around here-ish: https://github.com/backstage/backstage/blob/709bc85ca11427b93e

[2022-06-20 10:58] garyniemen commented on #11684
Aha I see. It looks to me like those tabs on the Docs page are specific to your Backstage instance. We don't have them internally and they are not on our demo installation. Not to say that it's not a good idea though of course - the tabs and the URL suffix. Feel free to have a go to implement this yourself.

[2022-06-20 11:11] CitsGit commented on #12105
Hi @Rugvip,
I have upgraded backstage to 1.3.
Still have the same issue
![image](https://user-images.githubusercontent.com/98138120/174589255-66b021a9-0c7f-45c0-a24c-2d410f16eda2.png)

[2022-06-20 11:35] Rugvip commented on #12105
@CitsGit Looks like your sign-in resolver doesn't end up assigning groups ownership, could be either the resolver or catalog information that needs a tweak. See https://backstage.io/docs/auth/identity-resolver#backstage-user-identity for a much more in-depth explanation

[2022-06-20 11:44] Rugvip commented on #12006
@batidodecoco looks like that error happens when the redirect URI isn't properly configured in okta https://support.okta.com/help/s/article/The-redirect-uri-parameter-must-be-an-absolute-URI?language=en_US. I think in this case you need to configure `http://backstage.local.io:7007/api/auth/okta/handler/frame` in okta rather than the localhost one.

[2022-06-20 11:46] Rugvip commented on #12016
I don't think the logout URL is oauth2 proxy is something that's possible to configure, so no need to make it configurable on our end either tbh. All we really want to do is to make sure the page navigates there when the logout button is clicked.

[2022-06-20 11:54] siddharth159 commented on #11987
Hi @jhaals could you let me know about my configuration I'm trying to setup my BackStage on EC2 instance so instead of localhost I'm using my "Private IP" of EC2 machine and accessing the portal from External IP with port 3000 and for backend port I'm using 7007 but still facing issues to fetch catlog entites

[2022-06-20 12:09] #11667 closed

[2022-06-20 12:37] jhaals commented on #12081
Hi @jkNC, thanks for noticing this. I can confirm that this is the case and we should make sure that the filters are reset when the entity kind changes.

[2022-06-20 12:45] cmoulliard commented on #4945
The new chart looks promising but documentation should be improved to explain how to build backstage to expose the frontend and backend as currently only the backend is running - https://github.com/halkyonio/backstage/blob/2ce2bd3c5e1d1a5057fc4dbe2405ee7f0af9dd8b/README.md#instructions
and you will got an error 503 if you try to access the ingress route

[2022-06-20 13:32] emmaindal commented on #11511
Hello @danielsamet I'm picking up this issue. Just to clarify one thing

As a user, do you still expect to see an error message in the UI when there was an unsuccessful search across a missing index?

[2022-06-20 14:14] jhaals commented on #12132
Medium severity and not sure if this is very applicable to us.
Blocked by https://github.com/jdalrymple/gitbeaker/pull/2506 and a few other dependencies that don't specify version ranges

[2022-06-20 15:14] smalhot9464 commented on #8330
Hey @sharadpattanshetti , thank you very much, I also need to add the title before object and I see that when title is displayed its font is too big. do you know if the font can be reduced?

                  title: Choose Environments
                  type: object

[2022-06-20 15:21] mustafazeya commented on #11900
@bourbonfgiles was this issue fixed?

[2022-06-20 15:49] goenning commented on #12075
@regicsolutions I had the same issue and I fixed it by adding this to backend/index.ts
[code]

Apparently express has a default limit of 100kb for the payload, and our template was 1.5Mb, not sure why yet, will have to investigate

[2022-06-20 16:49] ctoestreich commented on #12032
I think you are both correct on my ask.  The catalog import creates a very small and sparse catalog-info.yaml file that is not currently configurable in app config OR on the screen that tells you the file is being created.   I think either allowing editing at the import screen OR just allowing a more populated default would suffice for what I was asking above.

[2022-06-20 16:54] pschilli opened #12146 "Catalog readonly mode allows delete of entity"
## Expected Behavior

When the catalog is in readonly mode, a `DELETE` on ` /api/catalog/entities/by-uid/{uuid}` should not be allowed.

## Actual Behavior

`DELETE` on ` /api/catalog/entities/by-uid/{uuid}` is allowed.

` disallowReadonlyMode` is not currently applied to the route https://github.com/backstage/backstage/blob/d14c1059f7e734ae9feaaad90f04420fa8643ae2/plugins/catalog-backend/src/serv

[2022-06-20 17:28] Rugvip commented on #12146
The read only mode is specifically for locations and whether users are allowed to register and unregister locations.

The delete endpoint is for a slightly different use-case, removing [orphaned](https://backstage.io/docs/features/software-catalog/life-of-an-entity#orphaning) entities. Entities can be orphaned regardless of whether the catalog is in read only mode or not. To be honest I think - to

[2022-06-20 17:38] iamEAP commented on #10270
If you (or anyone else) is considering a contribution in this regard: I will also just chime in and say that this is a _perfect_ use case for the recently released [TechDocs Addon Framework](https://backstage.io/docs/features/techdocs/addons#addons-in-the-content-location)

[2022-06-20 17:52] ozialien commented on #12146
Isn't this an RBAC issue also.  Entities with enough privilege should be able to delete entities via some RBAC scheme.  May be complicating the immediate issue though.

[2022-06-20 18:48] Rugvip commented on #12075
Will try to get codemirror fix in for the prerelease tomorrow.

The size limit is a bit trickier. There is a cutoff at which point the file contents gets replaced with placeholder text, but it's configured to still allow somewhat large files. Could probably reduce the limit a fair bit though, but it does mean some large text files might not be visible.

[2022-06-20 19:58] kissmikijr opened #12155 "[RFC][catalog-backend] Refresh entities based on some pre stored key."
**Status:** Open for comments

## Need

Need a way to be able to trigger refreshes on individual entities. This need came up during a potential implementation of github webhook support. The github webhook API provides the file pathes in the push payload.
So to be able to trigger a refresh for an entity that got provided by a catalog-info file we need to store some data to trigger the refresh.

##

[2022-06-20 20:01] pschilli commented on #12146
Thanks for the context, the orphan delete was the piece I was missing.  I think it would be helpful to be able to disable delete of non-orphaned entities while still allowing delete of orphaned ones.  Is there a third option where it's configurable?  😅

[2022-06-20 20:06] github-actions[bot] opened #12157 "Snyk vulnerability [SNYK-JS-APOLLOSERVERCORE-2928764]"
## Affecting Packages/Plugins

* [@backstage/plugin-catalog-graphql](plugins/catalog-graphql/package.json)
* [@backstage/plugin-graphql-backend](plugins/graphql-backend/package.json)

## Overview
[apollo-server-core](https://www.npmjs.com/package/apollo-server-core) is a core module of the Apollo community GraphQL Server.

Affected versions of this package are vulnerable to Denial of Service (DoS)

[2022-06-20 20:09] kissmikijr commented on #11082
I opened this https://github.com/backstage/backstage/issues/12155 to be able to handle refreshes on individual entities based on some values.
In the case of this RFC it would look like that we'd store the filenames, or the whole github URL for every entity. So when a push payload comes in we should be able to trigger a refresh for all of the entities that coming from that file.

[2022-06-20 22:21] ericis commented on #12146
Suggest an action-based ReST URI for "orphan cleanup" on the "entities" resource collection. Currently, the URI "/api/catalog/entities/by-uid/{uuid}" includes:
- the "catalog" resource (technically a shortcut to a resource "by name" in the "plugins" resource collection)
- the "entities" resource collection
- A path implementation of what could be a query filter for "by uid" along with the paramete

[2022-06-21 02:19] jpeach opened #12166 "node-fetch version is incompatible with ResponseError"
## Expected Behavior

`ResponseError.fromResponse(response)` should work with the version of node-fetch that Backstage uses.

## Actual Behavior

[code]

## Steps to Reproduce

[code]

## Context

IIUC, ResponseError.fromResponse gets its `Response` type from the builtin WHATWG fetch definition ([here](https://developer.mozilla.org/en-US/docs/Web/API/Response)). This type has a `formData()` member

[2022-06-21 07:44] emmaindal commented on #11511
@danielsamet I've opened a draft PR for this. Please have a look and see if that meets your expectations!

[2022-06-21 07:56] VladMasarik opened #12175 "Allow SOAP APIs to be viewed in the backstage"
## Feature Suggestion
Allow SOAP WSDL files to be read, parsed and displayed in backstage the same way other API definitions are.

## Possible Implementation
I have been told that there should be some SOAP parser / reader library that processes the WSDL file, and then we can just display the data by passing it into the correct backstage places. I have no idea how true this is yet, as I have to do

[2022-06-21 08:53] soapraj commented on #6015
@brahimk - sometimes these errors in the console are misleading. Can you check the steps mentioned in one of the [comments](https://github.com/backstage/backstage/issues/6015#issuecomment-861447168) above if that solves the issue?

[2022-06-21 08:57] #12075 closed

[2022-06-21 08:58] marcus-crane commented on #12075
🏃💨

[2022-06-21 09:01] CitsGit commented on #12105
@Rugvip ,
It got resolved by using the following code.
https://raw.githubusercontent.com/backstage/upgrade-helper-diff/release/0.4.28-next.0/packages/backend/src/plugins/auth.ts
Thanks a lot for the support and for pinpointing the location where I have to troubleshoot...

[2022-06-21 09:18] garyniemen commented on #11026
@camilaibs Can you follow up on this.

[2022-06-21 09:55] Rugvip commented on #12028
We currently have the [`ContainerRunner`](https://github.com/backstage/backstage/blob/6d8bf5b9cf494815c0916e18daa226fb8186ba5f/packages/backend-common/src/util/ContainerRunner.ts#L40-L45) interface that we use for executing containers. The [`DockerContainerRunner`](https://github.com/backstage/backstage/blob/6d8bf5b9cf494815c0916e18daa226fb8186ba5f/packages/backend-common/src/util/DockerContainerR

[2022-06-21 10:41] ericis commented on #12028
@Rugvip It seems there are at least a couple of different implementations of `docker` then in the code base.

I believe I could make the change to the TechDocs CLI easily enough, but I am guessing that testing the `DockerContainerRunner` requires a much deeper and more thorough understanding of how Backstage is using the Docker API. Would it be appropriate to submit a PR that refactors the CLI sep

[2022-06-21 11:57] jhaals commented on #12135
Hi! It does indeed look like the processor is not installed.
https://github.com/backstage/backstage/blob/master/plugins/catalog-backend-module-msgraph/README.md#using-the-processor

[code]

[2022-06-21 12:07] mustafazeya commented on #12135
@jhaals Do I need to add `processor `even if I am using `Entity Provider`? The documentation says we need to use one of them. Am I missing something here?

[2022-06-21 12:21] jhaals commented on #12135
I would think that the entity provider would be enough here. I'm guessing that there are already entities in the catalog database table created by the processor. Do you experience the same log lines if you start up with a clean database?

[2022-06-21 14:27] Rugvip commented on #12032
The location analyzer can be customized using the following method of the catalog builder in the backend: https://backstage.io/docs/reference/plugin-catalog-backend.catalogbuilder.setlocationanalyzer. You need to implement your own `LocationAnalyzer`, this is the default one: https://github.com/backstage/backstage/blob/239059b7fd8636f18f6a4e0e6b97cc98f96de109/plugins/catalog-backend/src/ingestion/

[2022-06-21 15:08] bourbonfgiles commented on #11900
@mustafazeya Yes it was! Thanks for checking in.

[2022-06-21 16:09] clareliguori commented on #9741
Proton plugins for Backstage are now available!
Repo: https://github.com/awslabs/aws-proton-plugins-for-backstage
Blog post: https://aws.amazon.com/blogs/containers/provisioning-infrastructure-using-the-aws-proton-open-source-backstage-plugin/

[2022-06-21 16:09] #9741 closed

[2022-06-21 22:14] pjungermann commented on #12135
@mustafazeya I would suggest to keep the provider instead of adding the processor and remove the static location instead
[code]
This will resolve the error message above, too.

Providers have full ownership of created entities and clean up automatically.
https://backstage.io/docs/features/software-catalog/life-of-an-entity

[2022-06-21 22:18] pjungermann commented on #12135
btw: you can use the transformers as hooks to get more insights on what data you got back from AzureAD / the MS Graph API. Might help with debugging your issue

[2022-06-21 22:22] kissmikijr commented on #12155
Exactly this! One usecase will be API entities. The UrlReader/FileReaderProcerros will add the file name to the "refresh keys" and the PlaceHolderProcessor will add the value of the placeholder in the definition:
// github.com/org/repo/api.yaml
[code]
In this case the refresh keys array would contain two entries:
[code]
This would make it possible to be able to trigger a refresh on this API entity

[2022-06-21 22:29] pjungermann commented on #12135
[2m2022-06-21T10:29:45.979Z[22m [34mcatalog[39m [33mwarn[39m Unable to load photo for 4a65d53f-cf43-48c3-95cc-d87d08e259df [36mtype[39m=plugin

This is just a warning happening within `readMicrosoftGraphUsers` and not failing the ingestion.

The `defaultUserTransformer` treats the photo as optional, too. `spec.profile.picture` will not be set for these.

At least for those logs with `Unable to loa

[2022-06-21 22:29] pjungermann commented on #12135
Users returned are required to have the properties `id`, `displayName`, and `mail`. Otherwise, they will be skipped and no User entity will be ingested. (see `defaultUserTransformer`)

[2022-06-21 23:02] pjungermann commented on #12155
I think API entities / placeholders can be tricky. E.g., the referenced OAS file doesn't need to be within the or any repository. You can also reference a file hosted somewhere else which is accessible to Backstage.
But sure, if any reference ends up as a "refresh key" and these systems allow to react on changes, too.. If not, it will stay stale until something else triggers the refresh.

[2022-06-22 07:39] BodrickLight commented on #11553
Thanks, but I'm still getting this error in 1.1.2 as well.
[code]

[2022-06-22 07:44] punkle opened #12208 "Failed to load template, ResponseError: Request failed with 500 TypeError"
## Expected Behavior

Clicking choose on the template screen should bring you to a parameter entry screen.

## Actual Behavior

An error is shown at the top of the screen "Failed to load template, ResponseError: Request failed with 500 TypeError"

<img width="925" alt="image" src="https://user-images.githubusercontent.com/553697/174968995-24ffaf7c-51e1-4ec0-9146-835418444421.png">

The body of the

[2022-06-22 09:28] ottosichert commented on #11512
@nadworny thanks for setting up this test case in a repository!

We've worked in a similar way in this PR https://github.com/backstage/backstage/pull/12090 so that we already create an archive that contains a corrupted ZIP file itself (`mock-corrupted.zip`).

(Some additional info: turns out that Node 14 and 16 behave differently, as the file from https://github.com/ZJONSSON/node-unzipper/issues/2

[2022-06-22 09:51] punkle commented on #12208
I have provided two different options that would fix this issue for us. Both rely on injecting a function to parse the token from the request. One change is more sophisticated. The other is more minimal.

[2022-06-22 09:51] kissmikijr commented on #12155
Yes, I agree. With the webhooks probably you'll have some kind of mechanism to trigger a regular refresh on your entities in a set intervals to make sure everything is synced and you didn't miss any events, this should make sure your API definition will be synced. Otherwise you should manually refresh.

[2022-06-22 10:04] fabiancook opened #12216 "Cannot use with node 18"
## Expected Behavior

Running `npx @backstage/create-app` with `node --version` of 18 or above

## Actual Behavior

[code]

## Steps to Reproduce

1. [Install node current, 18.4.0](https://nodejs.org/en/)
2. Run `npx @backstage/create-app`

## Your Environment

[code]

## Relevant

I see the engine was last modified as per https://github.com/backstage/backstage/pull/6889, version 12 was in mainten

[2022-06-22 11:36] Rugvip opened #12218 "backend: full support for ESM packages"
## Feature Suggestion

Full ESM support, including the package `"exports"` field with the module format specifiers, across all aspects of development.

## Possible Implementation

We currently support ESM in the frontend and tests. Backend support is more tricky as we're executing code in Node.js, which is a lot more picky about module formats. We likely want a combination of build tooling additio

[2022-06-22 11:51] jhaals commented on #12216
Hi! You're right that it's not supported, yet! :) We plan to switch over to node 18 in a month or two.
Some clarification have just been added in https://github.com/backstage/backstage/pull/12217
We have node 18 on our radar so I'm going to close this issue for now. Feel free to reopen if anything is unclear!

[2022-06-22 11:51] #12216 closed

[2022-06-22 13:32] mehulgohil commented on #11297
Make sure that azure services has access to the Postgres DB from connection security settings in postgres resource.

![image](https://user-images.githubusercontent.com/28588619/175041490-b6671b4a-9896-44eb-8118-49c0162982b0.png)

[2022-06-22 13:36] julioz opened #12219 "Build incompatibility: commonjs 22.0.0 and node-resolve 13.0.0"
## Expected Behavior

For a backstage build with the `@backstage/cli` package, `yarn build` works successfully.

## Actual Behavior

We get the following error message:
[code]

## Context

Due to this issue, we cannot upgrade to Backstage 1.3.0.

## Issue

In [this commit](https://github.com/backstage/backstage/commit/9002ebd76bcab292924024777827fedb899f1447), `commonjs` was bumped to version 22.0

[2022-06-22 13:51] lalit774 opened #12221 "Backstage installation on mac cpu-features node-gyp"
Try to install backstage on Mac with npx @backstage/create-app.

Bug:

Error: Could not execute command yarn install

It seems that something went wrong when creating the app 🤔

🔥 Failed to create app!

![image](https://user-images.githubusercontent.com/225961/175045282-1368fdf7-6248-40dd-92eb-15a223592639.png)
![image](https://user-images.githubusercontent.com/225961/175045374-e3f936e0-7fc2-493a-

[2022-06-22 14:06] jhaals commented on #12221
Hi, sorry to hear that you experiencing problems, I was not able to reproduce this locally.
Which version do you get by running ` npx @backstage/create-app --version`?
Looks like it fails building the sqlite dependency, is `python` in your patch is you run `which python`?

[2022-06-22 14:12] lalit774 commented on #12221
lalitkumar@Lalits-MacBook-Pro code % npx @backstage/create-app --version
1.3.0
lalitkumar@Lalits-MacBook-Pro code % which python
python: aliased to python3
lalitkumar@Lalits-MacBook-Pro code % which python3
/opt/homebrew/bin/python3
lalitkumar@Lalits-MacBook-Pro code % python3 --version
Python 3.9.8
lalitkumar@Lalits-MacBook-Pro code %

[2022-06-22 17:07] mustafazeya commented on #12135
Thanks @pjungermann . It works now !!
Just one question, these catalog users from MS graph disappear every now and then and sometimes when I click on some user it gives `entities not found` error . It would be really nice if you may suggest some way to stabilize the content(users) of the catalog

[2022-06-22 18:31] nadworny commented on #11512
@ottosichert what do you mean by that?
`I think to further continue this investigation an actual file from Azure would be needed to fully recreate this scenario.`

Shall I create the same repo in Azure and provide a zip which I download from there?

[2022-06-22 21:21] jamieklassen opened #12231 "[RFC] proxy endpoint for kubernetes backend API"
**Status:** Open for comments

## Need

VMware is building [Tanzu Application Platform](https://tanzu.vmware.com/application-platform), a platform for building applications on Kubernetes. Most of the platform consists of CRDs and controllers for exposing high-level abstractions which make developers more productive. The Tanzu Application Platform GUI is a Backstage app, and most of the UI experien

[2022-06-23 00:16] jpeach commented on #12166
Workaround:
[code]

IIUC the cast is safe because `ResponseError` never tries to call `formData()` on the response body.

[2022-06-23 07:06] freben commented on #12146
Not configurable at the moment, no. Maybe this is the point where the permissions framework should be leveraged instead, to disable deletes perhaps with the exception of for admins. Disabling it entirely would probably be a mistake, because the functionality it provides is usually relevant to have at some times. The readonly flag, in my mind, is a remnant from the past - way before the permissions

[2022-06-23 07:16] freben commented on #12146
@ericis I don't think there's any particular value in duplicating all of the `by-uid` endpoints. And the only reason they exist at all, in addition to the ability to do `/entities?filter=`, is only for convenience of easily getting either a single item or a 404. They aren't strictly necessary at all, of course.

Searching for orphans is already possible (just filtering for that annotation being pr

[2022-06-23 08:08] #12219 closed

[2022-06-23 08:10] Rugvip commented on #12221
See #12056 for the fix that will be part of the next release, but you can apply that manually already. Or you could `npx @backstage/create-app@0.4.29-next.0`

[2022-06-23 08:21] quentinms commented on #6039
This is still an issue, please leave this open Github-bot :)

[2022-06-23 08:49] benjdlambert commented on #9512
Gonna direct some of this conversation to here too: https://github.com/backstage/backstage/issues/4945

[2022-06-23 11:14] cpgonz2 opened #12242 "Preparing backstage for production deployment"
Hi, I am not really an expert on deploying apps into an ecs fargate and all the stuff but I managed to get the backstage standalone app running and exposed into an ALB. To get this I needed to configure the baseurl of the app-config.production.yaml as my url domain defined by route53.

The main question is how to configure properly the backstage app in a "production" way so plugins can live in bac

[2022-06-23 11:49] freben commented on #12175
We'd be very happy for a contribution towards this!

Without seeing the actual discussion, it sounds to me like this refers to using the API kind as you say, but adding no special treatment code in the frontend for it, which will result in it being shown using the fallback display: plain text. So today, out of the box, you should be able to make `kind: API` entities, maybe with `spec.type: wsdl` o

[2022-06-23 12:10] benjdlambert commented on #12135
@mustafazeya they should be stable, are you using Postgres or SQLite?

[2022-06-23 12:10] #12105 closed

[2022-06-23 12:13] benjdlambert commented on #12081
Do you want to contribute this @jkNC? Maybe if the filter is not available for the new kind it should be cleared but others should be persisted? Think that this is the most broken behaviour right now at least I feel.

[2022-06-23 12:18] benjdlambert commented on #12006
@batidodecoco it seems like it, I don't believe that is something that we throw in our code at least.

[2022-06-23 12:18] benjdlambert commented on #12006
https://github.com/okta/samples-js-vue/issues/118 maybe could help?

[2022-06-23 12:20] benjdlambert commented on #11987
The `backend.baseUrl` and `app.baseUrl` should be URL's that you use to access the backstage application and what is in the address bar from your browser. So if you expect to be browsing backstage at `http://49.32.29.39` or whatever, then it would be that in the `baseUrl` part, and the `listen` should be `0.0.0.0` or something to listen on all addresses rather than just `localhost`

[2022-06-23 12:22] #9889 closed, assigned to nobody

[2022-06-23 12:24] benjdlambert commented on #6039
Maybe there's a solution with `patch-package` or something here for `safari` users? It's not great I know, but this is just unfortunate position that we're in with these libraries. https://www.npmjs.com/package/patch-package

[2022-06-23 12:31] mustafazeya commented on #12135
We haven't still moved to postgres but have plans to migrate DB to Postgres. Could that be an issue?? Our organization AD has around 20K users and 1K Groups.

[2022-06-23 13:05] ivangonzalezacuna opened #12243 "Swagger UI styling in dark mode"
## Expected Behavior

The SwaggerUI component should display the description text of the different endpoints with an easy-to-read text color.

## Actual Behavior

When the description contains and HTML element the text has the default color and not the white one (as it should happen in the dark mode), so it's really hard to read what it's in the description.

In this image you can see how it looks

[2022-06-23 13:18] awanlin commented on #12243
For who every might take this on the styles for this are here: https://github.com/backstage/backstage/blob/8320cb6ad99e90f75d0ca1310aa9c953c36e3d73/plugins/api-docs/src/components/OpenApiDefinitionWidget/OpenApiDefinition.tsx#L22

[2022-06-23 13:39] #11427 closed

[2022-06-23 13:41] mhaley37 commented on #7124
https://github.com/backstage/backstage/pull/11591 fixes a number of accessibility issues in the catalog and component pages by disabling draggability on table columns.

[2022-06-23 13:57] punkle commented on #12208
Can I ask, where is the JWT token generated and is it correct to assume it is JWT? I am wondering if we are doing something wrong?

[2022-06-23 14:03] awanlin commented on #12242
@cpgonz2 we have a similar setup only we don't use Route53 as the domain we wanted to use lives somewhere else. To get us going we used Roadie's guide here: https://roadie.io/blog/backstage-fargate-up-and-running/

For our deployments to Dev, Stage, and Production our `app.baseUrl` and our `backend.baseUrl` are both `https://backstage.exmample.com`. This all goes through a Terraformed ABL in AWS.

[2022-06-23 14:30] #12166 closed

[2022-06-23 17:25] vinzscam opened #12247 "Catalog(Page) pagination"
Today adopters with 5k+ might encounter issues when viewing the `/catalog` page.
The issues are related to how the entities are fetched by the frontend. By default (almost) all the entities present in the database are fetched and returned in one shot.
This means that in some cases the loading time of the CatalogPage is high. This issue has been pointed out by dozens of adopters. In some cases the

[2022-06-23 17:51] DavidZemon opened #12248 "Unable to use custom "authentication server" with Okta authentication"
## Expected Behavior

I should be able define a custom authentication server via a property such as `auth.providers.okta.<ENV>.authServer` property in `app-config.yaml`. This authentication server should then be used when communicating with Okta.

## Actual Behavior

There is no way to provide a custom auth server.

## Steps to Reproduce

1. Create an application in Okta that uses a non-default au