[2022-06-23 17:52] DavidZemon commented on #12248
Btw, I changed my local copy of `oauth2.js` in `node_modules/` to contain these three lines as part of testing. I don't have passport-okta-oauth cloned locally, so can't provide a patch file for it in the same way I did for backstage

[code]

[2022-06-23 22:37] jpeach commented on #12166
Thanks @Rugvip ❤️ 🎉

[2022-06-23 23:45] Mercanuis opened #12250 "[RFC] Provide a Custom Resource Definition API"
**Status:** Open for comments

## Need

There doesn't appear to be, for a documentation tool, any documentation that pertains to the API that is being used by Backstage for its CRD(s). This would be helpful for helping to new users for adopting as several IDEs are able to read CRD definitions and use them to validate YAML files

I was unable to find anything pertaining to the definition of the CRD

[2022-06-24 05:52] jpeach opened #12251 "$yaml and $text placeholders behave differently for YAML OpenAPI spec"
## Expected Behavior

This API entity should work:
[code]
## Actual Behavior

[code]

If I change the `$yaml` to $text`, then it works correctly. But the file type is YAML, so it ought to work identically in this case/

## Your Environment

[code]

[2022-06-24 08:00] ccodreanu commented on #10142
I think this one and https://github.com/backstage/backstage/issues/10035 are related

[2022-06-24 08:15] manuelstein commented on #10835
We have the same issue. Where seems to be the root cause?
When the gitlab discovery processor comes the second time around, it uses the "last-activity" ISO date to fetch only projects that have changed since its last run. Then it doesn't emit the same set of project locations. Is that the reason that these generated locations become orphans?

[2022-06-24 08:34] manuelstein commented on #10835
I quickly scanned the code. @freben @Rugvip, is my understanding correct, that the processing result of the orchestrator is passed by the CatalogProcessingEngine to the ProcessingDatabase's `updateProcessedEntity`, in which all previous relations from the origin location get removed and then relations to the newly deferred entities are batch inserted, so that any locations that the processor has p

[2022-06-24 08:37] manuelstein commented on #10835
The updateProcessedEntity step that I suspect to replace all outgoing relations from the origin discovery location to the inferred project url locations would be here: https://github.com/backstage/backstage/blob/f9e2ec25513ec8b746338b30ef3518b04e08d96c/plugins/catalog-backend/src/database/DefaultProcessingDatabase.ts#L110-L139

[2022-06-24 10:18] #11614 closed

[2022-06-24 11:26] taras opened #12252 "Upgrade to React 18"
There are a few places in code where React 17 is explicitly required, like this.

[code]

## Feature Suggestion

Be able to upgrade to React 18.

## Possible Implementation

TBD, but we could start by capturing what is breaking in React 18.

## Context

I don't actually have a reason to do this other than "being up-to-date for being up-to-date sake", but I couldn't find an issue that explains the

[2022-06-24 11:39] taras opened #12253 "Replace deprecated react-hot-reloader in favour of react-refresh"
<img width="386" alt="image" src="https://user-images.githubusercontent.com/74687/175526223-d413dce3-a747-4286-97d1-7cb9fa0979e6.png">

`react-hot-reloader` is being replaced with `react-refresh` @gaearon explains why in https://github.com/facebook/react/issues/16604#issuecomment-528663101

## Feature Suggestion

Replace `react-hot-reloader` with `react-refresh`.

## Possible Implementation

* Web

[2022-06-24 11:54] taras opened #12254 "Catalog REST API for fetching multiple entities with one request"
## Context

When using Catalog REST Api with the a Dataloader, we need to be able to make a single request for all of the entities that need to be fetched.

## Feature Suggestion

Currently, we have to make a separate calls using `getEntityByRef` which requires a lot of calls to the catalog. Ideally, we'd be able to make a single request with a list of refs to retrieve all of the entities in one s

[2022-06-24 12:33] mclarke47 commented on #12231
I really like this idea,

Do we foresee the need to add the entity ref to the query string when running a command against multiple clusters and then allowing the service locator to decide which clusters to route it to based on the entity.

Then the endpoint could make requests against 1 cluster or multiple clusters, however this might not be necessary.

[2022-06-24 13:03] taras commented on #12253
It looks like this was actually done in https://github.com/backstage/backstage/pull/10394

[2022-06-24 13:07] taras commented on #12252
It looks like some of the blockers might have been removed in https://github.com/backstage/backstage/pull/10394

[2022-06-24 14:08] freben commented on #12254
There's effectively an OR between entries in the filter array. So while a bit awkward, you can filter by `[{ kind:... }, { kind:... }]` and split the result array after.

If we put the ref in the search table, which might be a good idea anyway, we could also do `[{ _ref: [a, b, c] }]`.

A custom endpoint for refs would probably be a bit faster and more convenient.

[2022-06-24 15:42] andrewthauer commented on #11055
I would still like to see this happen. We have currently a wrapper CLI around techdocs-cli that does some additional features that are not supported now. Supporting add `mkdocs` flags would be a step towards us being able to deprecate our custom CLI. I might take a stab at this at some point, but not sure when I'll be able to get to it.

[2022-06-24 17:14] batidodecoco commented on #12006
Thanks for pointing me in the right direction! @benjdlambert. I'll be closing this issue as it's resolved!

[2022-06-24 18:05] goshlanguage opened #12257 "The helm chart ignores supplied appConfig for postgres"
## Expected Behavior

When supplying appConfig through the helm chart, one of the attributes is "database".

When a host is supplied here, it is not properly plumbed through to the application, resulting in:

[code]

even though the given values are:

[code]

## Actual Behavior

The app uses some default value of `postgresql` as shared in the error above

## Steps to Reproduce

1. Create a `values

[2022-06-24 18:34] awanlin commented on #12257
@goshlanguage from what I've seen there is a lot of chatter around the helm chart. Seem there is a new one being worked on, could you maybe try that one? Here's the thread: https://github.com/backstage/backstage/issues/4945#issuecomment-1152257720

[2022-06-24 20:24] ericis commented on #12146
Yes, I was indeed suggesting "catalog" is implicitly a "plugin" resource in the "plugins" resource collection and that this question about "cleanup" is an action on the "entities" resource collection when performed in bulk. And,  there still should be a "DELETE" verb for a single "entity" in "entities" and that, usually, the "purist" ReST approach to filtering is through the querystring and not in

[2022-06-24 21:53] vinzscam commented on #12254
you can do this in one shot using `getEntities` and filtering by name:

[code]

[2022-06-24 22:52] taras commented on #12254
@vinzscam that will load all of the records into memory which is undesirable.

[2022-06-24 22:57] vinzscam commented on #12254
then wait for #12246

[2022-06-24 23:06] taras commented on #12254
Yeah, I don't really need what #12246 brings. It'd be much simpler to do what @freben suggested, just have an endpoint that takes a list of refs and returns those entities.

[2022-06-25 04:50] praveensanap commented on #11703
Thanks @garyniemen. We are in the midst of adopting backstage at github.com/carousell.
We will work on a prototype to integrate markdoc.io using TechDocs Addon Framework.
Will report the findings. Thanks~

[2022-06-25 10:51] LvffY opened #12259 "Be able to manage multiple versions of the same techdocs"
## Feature Suggestion

We'd like to add to the **techdocs** feature the possibility to manage multiple versions of the documentation. This would allow companies to deal with mutliple versions of their components without worrying about « loosing » the documentation of the version they use.

## Possible Implementation

I think there is (at least) two features to think of :
- On the documentation hol

[2022-06-25 11:01] LvffY opened #12260 "Be able to render code docs into backstage (e.g. JavaDoc, PythonDocs, etc.)"
## Feature Suggestion

We'd like to add the possibility the code docs  (e.g. JavaDoc, PythonDocs, etc.). This would allow developers to easily find the technical documentation about the components they are using and avoid companies to deal with multiple host managers (e.g. **javadocs.io**, **readthedocs.io**, etc.) in case of internal documentation.

## Possible Implementation

I don't if we need

[2022-06-25 15:10] goshlanguage commented on #12257
Thank you very much!

[2022-06-25 15:32] ahhhndre commented on #12260
@LvffY, could you maybe revise this issue? The Possible Solution and Context are identical to #12259. It might also be worth linking to the other similar issues asking for support for other generators or tooling like: #8642, #1147, or #4548

[2022-06-25 15:46] LvffY commented on #12260
@ahhhndre I reword my issue.

The context is the very similar as #12259 but here it's pointing developers use case, on #12259 it's pointing backstage users more generally.

In any case, thanks for pointing other issues :)

[2022-06-25 16:31] steinwelberg opened #12261 "Missing installation instructions for badges-backend"
## Expected Behavior

The Badges plugin works after following the installation instructions.

## Actual Behavior

The plugin & API endpoints are not registered in the `index.ts` in the `packages/backend`, causing the badges plugin to not work properly.

<img width="587" alt="image" src="https://user-images.githubusercontent.com/2027469/175781914-d6772eb8-2683-402a-9461-a93fc2c8b8c3.png">

## Steps

[2022-06-26 00:44] lnavarette opened #12262 "Hard coded projectUrl in Fossa plugin"
## Expected Behavior

configurable projectUrl, akin to `sonarqube.baseUrl`

## Actual Behavior

`projectUrl` is hard coded

https://github.com/backstage/backstage/blob/f9e2ec25513ec8b746338b30ef3518b04e08d96c/plugins/fossa/src/api/FossaClient.ts#L107

## Steps to Reproduce

1. add fossa configuration for target other than `https://app.fossa.io/api`, eg
[code]
2. add a component with fossa annotati

[2022-06-26 14:32] OrkoHunter commented on #12261
@steinwelberg Thanks for reporting! Were you able to get it working? We're currently looking for help on docs, so if you'd like to contribute back, that'd be really amazing for the project. 🙏

[2022-06-26 14:41] steinwelberg commented on #12261
Yeah, I got it working by looking at the demo site ;-). Sure, I'll throw in a PR next week!

[2022-06-26 18:55] vinzscam commented on #12254
This looks like you already have a 48 pcs screwdriver set but you want to buy an extra specific screwdriver because you don’t need the other 47 pieces. 😅
I don’t think adding more endpoints with overlapping features between them is a smart move, since this would mean more code and more work for the core maintainers.
A smarter approach would be to add a new method for fetching entities by refs to t

[2022-06-26 19:57] taras commented on #12254
Using entities endpoint for this use case is undesirable for several reasons,

1. dataloader requires passing many refs. The number of refs many exceed URL length limit, for this reason it's preferable to pass the list of refs via body rather than URL. Since `entities` endpoint is a GET request which doesn't allow using body for params.
2. all of the filtering/sorting functionality is not only unn

[2022-06-26 20:05] vinzscam commented on #12254
Yeah I can agree with the first point,  but if we have the string url problem in the new hypothetical endpoint, it means we should revisit this solution also for the other endpoints, since there the problem is going to be bigger (I don’t know if anyone found similar issues).

Point 2: you don’t have to deal with any filter if you don’t need it. The order of the response can be handled in CatalogCl

[2022-06-26 20:22] taras commented on #12254
The existing endpoints might not suffer from url length limitation problem. It could but it hasn't been reported yet. It might never happen. For the data loader use case, this problem can be expected because resolving relationships can produce many references. For example, if you have a system with many components and you want to fetch all of the relationships, you will have many refs to retrieve.

[2022-06-26 20:46] dweber019 opened #12263 "Catalog table filter ignores title field"
## Expected Behavior
If the title and the name of an entity is different (e.g. name=`abc` and title=`bubu`), the title is displayed in the table as name.
I can filter the table (the filter to the right of the table title) with `bu` or `bubu` and the entity named `abc` is showing up.

## Actual Behavior
If I search for `bu` oder even `bubu` the entity named `abc` is not showing as result.

## Steps

[2022-06-26 20:48] dweber019 commented on #12263
I think this code is responsible for showing the title as name if existing but doesn't consider the filter functionality.
https://github.com/backstage/backstage/blob/master/plugins/catalog/src/components/CatalogTable/columns.tsx#L36-L39

[2022-06-27 08:12] benjdlambert commented on #12257
Going to close this issue for now seen as it's linked to the other ticket. Please bring up requests for the helm chart in that one place so we can keep it all together :pray:

[2022-06-27 08:12] #12257 closed

[2022-06-27 08:43] Xantier commented on #10603
@benjdlambert, Unfortunately we haven't gotten to this item on our backlog yet.

[2022-06-27 09:54] asaini11 commented on #9942
I'd like to close this bug as we haven't seen this since applying [this](https://github.com/backstage/backstage/pull/11603) change thanks to @goenning. We set it to 30 seconds (using 3 clusters) and not seen the error since.

[2022-06-27 09:54] #9942 closed

[2022-06-27 10:51] cpgonz2 commented on #12242
Okey! Nice thank you so much.

@awanlin Just another question related to the auth backend plugins, the handler for example for github when login in must be in the backstage/plugins/auth-backend as the backstage github project, right? Because as I could see on the backstage webpage there is a TO-DO on that section [https://backstage.io/docs/auth/auth-backend](url), and there isn't much documentatio

[2022-06-27 11:42] benjdlambert commented on #12262
Seems like we should make this configurable, would you like to contribute this? :pray:

[2022-06-27 11:43] benjdlambert commented on #12251
Hmm, the `$yaml` placeholder is not supposed to be used here, should always be `$text` instead. Maybe we could update the docs to make this a little clearer, even though it's a little counterintuative? :pray:

[2022-06-27 11:44] benjdlambert commented on #12252
Yep, most of this hopefully will go away with the sucrase stuff :pray:

[2022-06-27 11:45] benjdlambert commented on #12253
Yep, it's dependant on the `sucrase` stuff, because we don't use `babel` at all, and I think that the `react-refresh` plugin needs it without using other transforms in the transpilers.

[2022-06-27 11:45] benjdlambert commented on #12250
Need some more information here, not sure I understand the request here? Do you mean CRD's for the `k8s-plugin` or something else?

[2022-06-27 11:54] benjdlambert commented on #12135
Do you run multiple replicas of backstage? could be that one of them is not populated because of rate limits or whatever and then the loadbalancer will round robin to the bad one? Using a persistent store like postgres should hopefully remedy some of these concerns or issues if it's what you're seeing.

[2022-06-27 12:07] awanlin commented on #12242
Hi @cpgonz2, all your auth setup would go into `/packages/backend/src/plugins/auth.ts`. If you read through the documentation from here it will explain how to get that setup: https://backstage.io/docs/auth/

@benjdlambert, sorry to tag you directly but I'm just wondering what the intention of this page is/was? Maybe it's not needed? https://github.com/backstage/backstage/issues/url

[2022-06-27 12:12] awanlin commented on #11115
I'm going to close this as this hasn't been as much of an issue as I originally thought now that we've done a few more

[2022-06-27 12:22] freben commented on #12208
We use the `Authorization` header to pass the Backstage token from frontend to backend. This is a general mechanism and happens in a lot of places - in the future hopefully all the places. :) Some do it manually by getting the token from the identityApi, some use the fetchApi which does this automatically behind the scenes. What you see here is the scaffolder expecting to receive that token and to

[2022-06-27 12:24] awanlin commented on #9090
Took a look at this again over the weekend and things have changes a lot since I made the suggestion.

There are now two ways this gets created: by hand from my understanding for `main` releases and then by automation for `next` releases.

I'm wondering if I should be adding the link at this point: https://github.com/backstage/backstage/blob/358aed614926b2af83e70a953a8e6818a9da143d/scripts/create-

[2022-06-27 12:27] awanlin commented on #12242
Ugh, sorry, I meant this one: https://backstage.io/docs/auth/auth-backend. Trying to do too many things at once!

[2022-06-27 12:34] punkle commented on #12208
I think that we are not doing much different here. The token is negotiated by the frontend with the IDP and set in a cookie and that token is passed to the backend via the Authorization header. I think the differences is that our token is not a JWT encoded token.

I think I might not be understanding your question correctly because my answer seems a bit simplistic. Let me know if I am getting the

[2022-06-27 12:34] dweber019 commented on #12263
Nice thanks.
I would suggest this solution has to be moved into Backstage. Filtering by title should be possible out-of-box. The current behavior is really bad from a user experience standpoint and should be fixt, right?

[2022-06-27 12:58] benjdlambert commented on #12242
Hmm yep, to be honest I'm not really sure what we would put in that doc section apart from installation notes or something to setup a backstage instace that doesn't already have that plugin installed? @rugvip thoughts?

[2022-06-27 13:50] #9405 closed

[2022-06-27 14:02] freben commented on #12263
It would probably be a good thing to add to the default catalog table, sure! Would you like to contribute that?

[2022-06-27 14:20] freben commented on #12254
Not really, his example was basically like mine but only used `name` instead of specifying the entire kind+namespace+name triplet so it only needed to post-filter out the (probably minuscule number of) spurious extra potential matches. You could make the matcher exact upfront by doing

[code]

[2022-06-27 14:45] freben commented on #12247
Maybe not enforced, but at least better supported. _Enforcing_ is more a matter of protecting the backend than enabling the proposed frontend speedups.

Not quite accurate.

- It does support two different pagination methods: offset/limit, and cursor based.
- The cursor based one happens to at this point be implemented _in terms of_ offset/limit under the hood as a shortcut, but that's opaque to t

[2022-06-27 15:14] mustafazeya commented on #12135
The key was to use postgres DB. After using a dedicated Postgresql, everything works fine.

[2022-06-27 15:14] #12135 closed

[2022-06-27 16:22] #12208 closed

[2022-06-27 16:22] punkle commented on #12208
I spoke with @freben and we have a way forward on this. Closing for the moment.

[2022-06-27 17:01] taras commented on #12254
@freben @vinzscam I was reading that code example on my phone. I misread it. I thought it was querying all of the records and then filtering them in memory. I've give that a try to see if it'll work with the dataloader.

[2022-06-27 20:05] github-actions[bot] opened #12273 "Snyk vulnerability [SNYK-JS-PARSEURL-2935944]"
## Affecting Packages/Plugins

* [example-app](packages/app/package.json)
* [@backstage/backend-common](packages/backend-common/package.json)
* [@backstage/integration](packages/integration/package.json)
* [@backstage/plugin-adr](plugins/adr/package.json)
* [@backstage/plugin-catalog-backend](plugins/catalog-backend/package.json)
* [@backstage/plugin-catalog-import](plugins/catalog-import/package.

[2022-06-27 20:05] github-actions[bot] opened #12274 "Snyk vulnerability [SNYK-JS-PARSEURL-2935947]"
## Affecting Packages/Plugins

* [example-app](packages/app/package.json)
* [@backstage/backend-common](packages/backend-common/package.json)
* [@backstage/integration](packages/integration/package.json)
* [@backstage/plugin-adr](plugins/adr/package.json)
* [@backstage/plugin-catalog-backend](plugins/catalog-backend/package.json)
* [@backstage/plugin-catalog-import](plugins/catalog-import/package.

[2022-06-28 00:57] gabriel-dantas98 commented on #9250
Hi folks :D I went to do some tests and managed to progress.

<img width="613" alt="image" src="https://user-images.githubusercontent.com/20074620/176063331-109faf32-8f29-46d0-9c95-17833616f8e7.png">

![image](https://user-images.githubusercontent.com/20074620/176063840-a1691de6-a5e1-4539-8d35-d1b8aa094fc1.png)

[code]
<img width="288" alt="image" src="https://user-images.githubusercontent.com/200

[2022-06-28 01:27] e0d commented on #9250
@gabriel-dantas98 I tried something similar a month ago with no luck.  I ended up spinning up a separate AWS RDS PostgreSQL database and connecting to it.

I'm curious about this setting

`ensureExists: false`

I wonder if the breakage in only when checking if the database exists and the migrations will happen if that check isn't executed.

Without the benefit of stepping through the code it looke

[2022-06-28 07:42] cinlysobin opened #12278 "Permission: Admin users should have access to all catalogs to view and to unregister"
## Expected Behavior

The users added in the admin group should be able to view all the catalogs in backstage

## Actual Behavior

Users in the admin group don't own any catalog hence wont be able to do any task if I add the catalog permission

## Steps to Reproduce

I have an organization, say A.

There is a child group named the admin group.

All other groups are children in this admin group.

I

[2022-06-28 08:07] Vegim opened #12279 "Issue rendering techdocs inside backstage"
## Expected Behavior

Show the techdocs rendering properly

## Actual Behavior

404 page is showing when going to some random techdocs page. After refreshing it multiple times the page comes up.
This is not happing when running in localhost the page comes up after a loading page is shown. But running it inside a docker container shows 404 page not found first and after multiple page refreshes it s

[2022-06-28 11:00] iamEAP commented on #11026
Hey @dhhuynh2, I don't see any issue with what you've proposed.  Would love a PR, if you're able to contribute that back!

[2022-06-28 12:47] knulpi opened #12286 "Multiple `allowedOwners` will not by default select the first one"
## Expected Behavior

When having `allowedOwners` set in the configuration file of a template with more than one entry, the first owner should be selected, so that when I enter a repository name and click "Next", the form should advance to the next step.

## Actual Behavior

Although the select field shows the first configured org as selected, it seems not to be internally. When entering a repo na

[2022-06-28 12:58] bchalk101 opened #12287 "Expose Helmet config"
Currently, in the app-config .yaml, the only available Helmet config is Content-Security-Policy options. As mentioned here https://github.com/backstage/backstage/blob/master/packages/backend-common/src/service/lib/ServiceBuilderImpl.ts#L224, it would be useful to have more access to the Helmet options.

In our specific situation, the header Strict-Transport-Security is causing us issues, as we hav

[2022-06-28 13:25] bchalk101 commented on #10207
I'm happy to jump on this if no one else is..... causing issues on our deployment as well

[2022-06-28 13:58] pschilli commented on #12146
The docs are a bit confusing to a newcomer.  Would it make sense to add some additional detail to https://backstage.io/docs/features/software-catalog/configuration#readonly-mode?  The `disables the mutating backend catalog APIs` is the part that doesn't quite agree with the current behavior. I would consider a delete to be mutating, even if it's rediscovered.

The permissions framework seems like

[2022-06-28 14:34] freben commented on #12146
Yeah a doc update there would totally make sense, want to take a stab at a better formulation in a PR?

And agreed, I think there are already some permissions related to adding/removing entities to there may be some redundancy here now after that framework was introduced

[2022-06-28 15:27] #9606 closed

[2022-06-28 15:28] Hanyman8 commented on #7285
Hello, we are not able to change to change the static file.

After configuring APP_CONFIG_app_baseUrl= http://DOMAIN/our-catalog/
it is still https://DOMAIN/static/ and not http://DOMAIN/our-catalog/static/

[2022-06-28 19:39] iamEAP commented on #9941
Some history:
- `@backstage/techdocs-common` prior to `v0.9.0` was case-sensitive.  Docs would be generated and stored and read using case-sensitive entity refs.
- In `v0.9.0` of `@backstage/techdocs-common`, a change was made such that _all_ docs would be generated and published with lowercase entity triplets, regardless of what case they came in as.  This was to support the ability for documenta

[2022-06-28 20:04] github-actions[bot] opened #12299 "Snyk vulnerability [SNYK-JS-PARSEPATH-2936439]"
## Affecting Packages/Plugins

* [example-app](packages/app/package.json)

## Overview
[parse-path](https://www.npmjs.org/package/parse-path) is a Parse paths (local paths, urls: ssh/git/etc)

Affected versions of this package are vulnerable to Authorization Bypass Through User-Controlled Key which is unable to detect the right resource.
## Remediation
Upgrade `parse-path` to version 5.0.0 or high

[2022-06-28 20:05] github-actions[bot] opened #12300 "Snyk vulnerability [SNYK-JS-PARSEURL-2936249]"
## Affecting Packages/Plugins

* [example-app](packages/app/package.json)
* [@backstage/backend-common](packages/backend-common/package.json)
* [@backstage/integration](packages/integration/package.json)
* [@backstage/plugin-adr](plugins/adr/package.json)
* [@backstage/plugin-catalog-backend](plugins/catalog-backend/package.json)
* [@backstage/plugin-catalog-import](plugins/catalog-import/package.

[2022-06-28 21:12] pschilli commented on #12146
I made an attempt at a doc update with #12301

[2022-06-28 21:13] ericis opened #12302 "techdocs-cli does not seem to register "extra_css" from "mkdocs.yml" in Backstage TechDocs preview"
## Expected Behavior

The CSS file path configured in "mkdocs.yml" in the "extra_css" value should be registered on the page.

## Actual Behavior

The CSS file is ignored.

## Steps to Reproduce

1. Create a new TechDocs site with the `techdocs-cli` NPM package (`yarn` or `npm`)
2. Configure "mkdocs.yml" with a custom CSS file (e.g. "extra_css: [./assets/styles/example.css]"
3. Start `techdocs-cli

[2022-06-28 21:43] ericis commented on #12302
Locally, I was able to forcefully inject the extra CSS into the browser by editing the HTML using the browser's Developer Tools console and the script:

_\*Note: the CSS must be registered inside of the element's ShadowRoot element_

[code]

[2022-06-28 22:29] mikepea commented on #10362
FWIW, I saw this same 404 error. Adding a link from our custom-named homepage to  `docs/index.md` fixed it for me.

[2022-06-29 00:37] Mercanuis commented on #12250
To try and help clarify , what I'm referring to is per an example YAML for an API  Component Definition
[code]

[2022-06-29 05:43] namco1992 opened #12304 "[Scaffolder] Have a way to display the rendered file contents on the task result page"
## Feature Suggestion

Have a way to display the rendered file contents on the task result page.

## Possible Implementation
We brainstormed a few approaches, and then got inspired by the dry-run feature https://github.com/backstage/backstage/pull/11173.

It could be implemented in two parts:
1. Have a preview action for software template authors to add it in their template. This action will just

[2022-06-29 08:15] benjdlambert commented on #11507
Duplicate of #12250

[2022-06-29 08:15] #11507 closed

[2022-06-29 08:15] benjdlambert commented on #11507
Closing this for now as I think that it's captured in the other ticket.

[2022-06-29 08:49] cinlysobin opened #12308 "TechDocs: Throwing error with base image as node:16-bullseye-slim"
## Expected Behavior

TechDoc should load correctly when building with base image as "node:16-bullseye-slim" in docker file
## Actual Behavior

The error message is throwing as someone has dropped the MIC
## Steps to Reproduce

build the docker image with base image as node:16-bullseye-slim
Deploy and verify the techdocs.

Error message is throwing as someone have dropped the MIC
## Context

But w

[2022-06-29 11:50] Vegim commented on #12279
This issue is decreasing user experience a lot because you need to do multiple refreshes to render the technical documentation. The full json error then we are getting from that endpoint that I mentioned inside backstage techdocs backend is shown below:
[code]

[2022-06-29 13:07] #11774 closed, assigned to nobody

[2022-06-29 13:45] freben opened #12318 "Test techdocs"
I love techdocs, and want more techdocs

[2022-06-29 13:46] kumarnil opened #12319 "Software Template: 'Publish' action do not create new repo in the any user input location in Github"
Current behavior : Publish action in the s/w template always create new repo in the owner root location.

Expect behavior: Using publish action, can we create new Github repo in any user input Github location.

[2022-06-29 14:32] jrusso1020 commented on #10652
@timbonicus curious if there is any update on the status of this RFC?

[2022-06-29 14:39] benjdlambert commented on #12319
If you enter an organisation in the owner field it should create it in the organisation you provide.

[2022-06-29 14:41] Rugvip commented on #12319
asd

[2022-06-29 14:41] Rugvip commented on #12319
asd

[2022-06-29 16:14] jrusso1020 commented on #6967
@manusant @mclarke47 curious if there is any update on this issue?

Our cloud infrastructure team is moving in the direction of multiple clusters per environment and dynamically adding new clusters periodically. We would like a similar mechanism as described in this issue that can basically invoke an internal API/service to retrieve cluster information it uses to register clusters for the kubernet

[2022-06-29 19:30] Shayon opened #12333 "Invalid Catalog Entries get stuck in refresh loop"
## Situation

Backstage is configured with a Github Org catalog discovery that will scan all repositories for a `catalog-info.yaml` in the root of the default branch. An invalid `catalog-info.yaml` is checked into the repo `myOrg/FooService` - say an item in `metadata.tags` includes whitespace. Backstage attempts to load this invalid `catalog-info.yaml`, but will fail and emit a log. An engineer s

[2022-06-29 20:12] mclarke47 commented on #6967
There are interesting ideas happening over on this PR 👉 https://github.com/backstage/backstage/pull/11789 how appropriate would it be for your watcher to be a catalog processor?

[2022-06-29 21:16] sangeethdba opened #12335 "gihub discovery"
## Expected Behavior

should be able to use gihub discovery

## Actual Behavior

after adding  the packages and trying to start he app ,we are getting module not found
[1] /opt/isv/backstage/store-systems/packages/backend/dist/main.js:356
[1] /******/ 			throw e;
[1]          			^
[1]
[1] Error: Cannot find module '@backstage/plugin-catalog-backend-module-github'
[1]     at webpackMissingModule (w

[2022-06-30 00:28] mmonroe-vmware commented on #6039
This definitely is still an existing issue and should not be closed.

[2022-06-30 07:42] namco1992 commented on #6175
@freben @Seneli Hi 👋 are we still keen on implementing this? Will this be parked until https://github.com/backstage/backstage/issues/11035 or https://github.com/backstage/backstage/pull/11819 is settled? I would like to take on what's left if possible, thanks!

[2022-06-30 08:15] garyniemen commented on #12279
@iamEAP Do you have time to look at this?

[2022-06-30 08:18] garyniemen commented on #12308
@iamEAP do you have time to look at this one?

[2022-06-30 08:21] garyniemen commented on #10207
@bchalk101 Yes please go ahead

[2022-06-30 08:24] soapraj commented on #11113
Hi! @Vegim - do you still see this issue? Are you on the latest version of Backstage?

[2022-06-30 08:30] freben commented on #12146
Closing since the doc update is merged!

[2022-06-30 08:33] soapraj commented on #8816
Closing this issue for now. Please feel free to reopen if you have more inputs on this.

[2022-06-30 08:33] #8816 closed

[2022-06-30 08:34] #10265 closed

[2022-06-30 08:52] freben commented on #11169
Closing since the PR was merged!

[2022-06-30 08:52] #11169 closed

[2022-06-30 09:19] freben commented on #12335
Did you add `@backstage/plugin-catalog-backend-module-github` to your backend package.json, and ran `yarn install`?

[2022-06-30 09:27] Rugvip commented on #9090
@awanlin yeah it's a bit hidden 😅, GitHub Actions use the format `<org>/<repo>[/<path>]`, so it's over in the `changesets-action` repo. Actual code for generating the release notes is here: https://github.com/backstage/changesets-action/blob/254e41bb3aa2e9a00e32313596986533aca30175/src/run.ts#L243-L251

[2022-06-30 10:57] simonecorsi opened #12346 "createAuthProviderIntegration is not publicly exported"
## Expected Behavior

Hey 👋

I was following the docs to integrate a back-to-back non-oauth auth provider and stumbled upon [this line](https://backstage.io/docs/auth/add-auth-provider#integration-wrapper) saying I should use `createAuthProviderIntegration` to connect my custom provider to the backend, but it seems that it is not exported in [auth-backend/src/providers/index.ts](https://github.com

[2022-06-30 11:50] freben commented on #12287
Yeah it makes sense to open up this for a bit more configuration. I'll assign you to this then.

I think as we progress with the so called "backend system" work, we should probably make this easier to drive through code rather than just config. As in, making it easy to hook into the setup phase and wholesale replace or remove helmet, if you prefer something else or different behaviors. But that's

[2022-06-30 11:54] freben commented on #12287
Oh and are you sure that it's HSTS biting you? If it could be CSP `Upgrade-Insecure-Request`, which is reported commonly by others, you can disable that in config:

[code]

[2022-06-30 12:44] freben commented on #12251
Yep the naming of these isn't great. `$text` means "read whatever and output as a string here in the result", `$yaml` means "read whatever and parse it as yaml, and output as structured data here in the result". This gets doubly confusing when the file you're writing the placeholder in, happens to be yaml as well - but internally, it's all just json-like data structures, the concept of the entity

[2022-06-30 12:44] #12251 closed

[2022-06-30 12:50] freben commented on #12248
Sorry for a possibly unrelated and silly question - was `userInfoUrl` an unintentional typo only in the examples above? It should be `userInfoURL` I think.

[2022-06-30 12:56] iamEAP commented on #12279
@Vegim can you share the `techdocs` configuration you have in `app-config.yaml` (as well as any differences you might have in, say, `app-config.local.yaml`)?

[2022-06-30 12:58] iamEAP commented on #12308
Hey @cinlysobin, we might need a little more detail to get to the bottom of what's going on.  Could you share the rest of your `Dockerfile`?

[2022-06-30 13:17] sangeethdba commented on #12335
i did these steps.

# From your Backstage root directory
yarn add --cwd packages/backend @backstage/integration
yarn add --cwd packages/backend @backstage/plugin-catalog-backend-module-github
And then add the processors to your catalog builder:

// In packages/backend/src/plugins/catalog.ts
+import {
+  GithubDiscoveryProcessor,
+  GithubOrgReaderProcessor,
+} from '@backstage/plugin-catalog-backe

[2022-06-30 13:45] ericvoshall opened #12356 "Add entity links to the UserSettingsIdentityCard"
## Feature Suggestion

Make the entity references in the [`UserSettingsIdentityCard`](https://github.com/backstage/backstage/blob/master/plugins/user-settings/src/components/General/UserSettingsIdentityCard.tsx) on the Settings page link to each entity page.

## Context

It would be a nice "shortcut" for users to be able to quickly navigate to the entities that they own. I'd be happy to submit a P

[2022-06-30 14:00] danopia commented on #11406
Hi, thread :)

I tried going this route of preprocessing the User entities from the Github Org provider. Unfortunately, my org's github users are very unpredictably named, as they are personal usernames that everyone selected arbitrarily. I tried having my preprocessor rename the entities to be consistent and based on IT data and this failed because `The entity kind, namespace, or name changed dur

[2022-06-30 14:15] DavidZemon commented on #12248
Oddly enough, no, not a typo: https://github.com/fischerdan/passport-okta-oauth/blob/master/lib/passport-okta-oauth/oauth2.js#L14

[2022-06-30 14:58] freben commented on #6175
I don't think is a case for https://github.com/backstage/backstage/issues/11035 or https://github.com/backstage/backstage/pull/11819 . This issue is basically up for grabs, I think, for someone who wants to contribute.

[2022-06-30 14:58] freben commented on #6175
Unassigned @Seneli for now. Let me know if you (or someone else!) wants to pick up the baton.

[2022-06-30 17:34] FilipSwiatczak commented on #12278
hey @cinlysobin we have a very small and permanent group of admins so we do the following in the permission.ts:
[code]
it's potato code and a placeholder but works for the time being!

[2022-06-30 20:11] rmanny commented on #11406
@danopia I have been dealing with the same mapping question. If the provider would pull the email, that would solve most of the immediate problems (catalog user resolution, AD Groups, etc). I haven't looked into why this doesn't happen yet, I assume it's a limitation of the API, email is relatively sensitive

[2022-06-30 23:46] namco1992 commented on #6175
Thanks @freben! Yes pls assign it to me and I will work on it.

[2022-06-30 23:56] pvandervelde opened #12377 "Fetch:template throws exception when trying to copy a symlink"
## Expected Behavior

When a template contains symlinks I expect it to copy the symlink

## Actual Behavior

When the fetch:template action tries to copy a symlink an exception is thrown and Backstage stops processing the template.

## Steps to Reproduce

1. In backstage load a new template using this template: https://github.com/pvandervelde/backstage-fetch-template-symlink-issue/blob/master/syml

[2022-07-01 01:21] tritri251214 opened #12378 "[Scaffoder] Validation of customExtensionField not working when using customExtensionField in dependencies - oneOf"
I use **RepoUrlPicker** of default customExtensionField supported.

https://user-images.githubusercontent.com/32475934/176807042-ff8a3032-db45-494a-a0eb-3c7a7eb96c0b.mov

[code]

## Expected Behavior

Validation of customExtensionField **RepoUrlPicker** working

## Actual Behavior

Validation of customExtensionField **RepoUrlPicker** not working

## Steps to Reproduce

1. Choose option "Public to

[2022-07-01 03:49] adrianke77 commented on #11684
Yes the tabs are custom to our Backstage instance. It was set up using the custom documentation page tab capability now available in Backstage.
The intent was to highlight that the way of setting up easily setting up custom tabs at the moment doesn't also map URLs to them and it would be nice if it did.

[2022-07-01 06:52] #12263 closed

[2022-07-01 07:41] #6771 closed

[2022-07-01 07:53] mufaddal7 commented on #10605
Please Reopen, am working on this

[2022-07-01 08:06] github-actions[bot] opened #12380 "Snyk vulnerability [snyk:lic:npm:promise-any-polyfill:GPL-3.0]"
## Affecting Packages/Plugins

* [@backstage/plugin-jenkins-backend](plugins/jenkins-backend/package.json)

GPL-3.0 license

[2022-07-01 08:06] Vegim commented on #12279
This is the configuration that I have in app-config.yaml. I have no other configuration defined inside app-config.local.yaml
techdocs:
  builder: 'local'
  publisher:
    type: 'local'
  generator:
    runIn: local

[2022-07-01 10:37] #9907 closed

[2022-07-01 11:23] Hanyman8 opened #12387 "Serving static files from suburl not working using app_baseUrl as environment variable"
Hello, we are having an issue with serving static files from suburl using environment variables

We need to have served static files from https://OUR-DOMAIN/our-catalog/static/ because on https://OUR-DOMAIN/ there is other microservice with documentation.

I tested using hardcoded values to app-config.yaml and it works explained here https://github.com/backstage/backstage/issues/7285
[code]
and
[c

[2022-07-01 12:13] gabriel-dantas98 commented on #9250
@e0d I don't know if I understand your question well and if it can happen that you don't run some migration in case you enable this flag?

@kwent Does this configuration help your case?

[2022-07-01 12:16] gabriel-dantas98 commented on #9250
**update:** I noticed that we can use the connection string directly, so we don't need to create the environment variables for each attribute.

So the app-config.yaml would look like:

[code]

[2022-07-01 12:17] gabriel-dantas98 commented on #9250
@jhaals
Are there any tradeoffs in using this approach?

If it's ok, I can update the documentation with these details :)

[2022-07-01 12:42] Remyapraveen commented on #3810
Hi I am running backstage without the docker compose file is it possible. I am trying to deploy it from Heroku.

[2022-07-01 13:24] FilipSwiatczak opened #12390 "Permissions: Template/Scaffolder: READ missing User object in handle call, CREATE and DELETE have it"
## Expected Behavior
Template Access control:
- permission.ts has hardcoded "admin" usernames that return ALLOW for all requests instantly when identity.userEntityRef matches
- non-Template entities return ALLOW for READ but check for Ownership for DELETE (identity.ownershipEntityRefs)
- Template entities check Ownership OR "unrestricted" label (catalogConditions.hasLabel)
- Under the hood: Read p

[2022-07-01 13:50] martina-if opened #12391 "[github-actions plugin] Filter should search across all pages"
## Expected Behavior

When using the Github Actions plugin and wanting to use the `filter` search bar I would expect it to filter across all the pages of the list and not just the page that's selected.

## Actual Behavior

![Screenshot 2022-07-01 at 15 32 31](https://user-images.githubusercontent.com/736631/176904747-31077cd5-0af7-4e74-8aec-4a7a63f974d7.png)

In the example above, filtering for th

[2022-07-01 14:35] taras opened #12392 "Allow GraphQL service components to query via GraphiQL in Definitions screen of API Docs"
## Context

<img width="1321" alt="image" src="https://user-images.githubusercontent.com/74687/176909602-a4d29b4a-c7df-401c-8fba-228f9ccfa2c6.png">

I did some digging into this problem and I found a way to reproduce it

1. Go to https://demo.backstage.io/catalog/default/api/starwars-graphql/definition
2. Add the following query and hit play button
[code]
3. You'll get the following error.

[code]

[2022-07-01 14:55] Hanyman8 commented on #12387
It also works, when I have both set up
Hardcoded in `app-config.yaml` and environment variables

[2022-07-01 16:36] kwent commented on #9250
@gabriel-dantas98 still seeing

with

[code]

[code]

with

[code]

[code]

No luck.

[2022-07-01 16:47] e0d commented on #9250
@gabriel-dantas98 which Heroku PostgresSQL add on are you using I wonder?  There are some third-party add ons so I'm curious if that's the difference here.

[2022-07-01 16:57] kwent commented on #9250
Default one. `heroku-postgresql` -> `hobby-dev`

[2022-07-01 19:06] mclarke47 opened #12394 "Allow guests to generate tokens for development"
## Feature Suggestion

@freben and I discussed this offline.

When using the sign in as guest feature it would be great if tokens were generated by the fetchApi and token manager. This would reduce the friction to getting a local development Backstage up and running.

## Possible Implementation

Possibly a `allowGuestMode` flag in `app-config.local.yaml` that generates tokens from a random seed.

[2022-07-03 07:36] Crevil commented on #11663
This actually works all right. Thanks 👍

I am facing a limitation that I believe is solveable. The [Create Component](https://github.com/backstage/backstage/blob/31499b9c2963ef2090c771b370b6f84e37e7c101/plugins/catalog/src/components/CatalogPage/DefaultCatalogPage.tsx#L75-L78) button uses the [`createComponentRouteRef`](https://github.com/backstage/backstage/blob/31499b9c2963ef2090c771b370b6f84e37

[2022-07-03 07:49] Crevil commented on #11663
I just realized I can access the routes through the plugin it self by paying a bit attention to the customization guide.

[code]

So the routing stuff works like a charm.

This is awesome. Thanks for pointing me in the right direction @benjdlambert . 🎉

[2022-07-03 07:49] #11663 closed

[2022-07-03 12:09] #11996 closed

[2022-07-04 02:34] dehamzah commented on #12072
Yes, if it's confirmed a bug. I can help creating a PR to fix this.

[2022-07-04 04:20] VladMasarik commented on #12175
@freben Thank you a lot for the initial guide! I started working on the implementation. The initial idea was to reuse some kind of a SOAP / WSDL viewer library to create JS/Typescript components, but so far I have not found any relevant project. Therefore, my current steps would be to parse the XML myself, and build the components as well. Do you know by any chance of a better solution that I am m

[2022-07-04 07:11] jpeach commented on #12251
Sorry for the late reply, I was out on vacation :)

I was expecting all the placeholders to be valid in all contexts, but since this context wants a string not an object `$text` makes sense. Thanks!

[2022-07-04 07:29] freben commented on #12333
Hm, let's see. We are talking about the `GithubDiscoveryProcessor` right?

What it emits and places in the catalog input pipe (the `refresh_state` table) are actually [Location entities](https://github.com/backstage/backstage/blob/31499b9c2963ef2090c771b370b6f84e37e7c101/plugins/catalog-backend-module-github/src/GithubDiscoveryProcessor.ts#L148) that are just pointers to the actual YAMl file URLs.

[2022-07-04 07:56] pjungermann commented on #9796
I think it makes sense to wait for the config alignment PR #12196

[2022-07-04 08:27] bchalk101 commented on #12287
TBH not sure - we have since deployed behind tls so we are no longer having the issue.

Happy to put this on the back burner, as no longer an issue for us.
Unless you believe this would benefit others?

[2022-07-04 09:14] muhamadto commented on #10735
Hey @Rugvip, is this something you guys can put on your roadmap?

[2022-07-04 09:38] Rugvip commented on #10735
@muhamadto sorry, it's not something we have space to prioritize, but happy to guide and/or review contributions!

[2022-07-04 10:07] benjdlambert commented on #12346
Closing as merged! Thanks!

[2022-07-04 10:07] #12346 closed

[2022-07-04 10:17] benjdlambert commented on #12378
Duplicate of #7343

[2022-07-04 10:44] jvilimek commented on #3399
Will this <https://stackoverflow.com/questions/29283040/how-to-add-custom-certificate-authority-ca-to-nodejs> help?

[2022-07-04 12:15] #12273 closed

[2022-07-04 12:15] #12274 closed

[2022-07-04 12:15] #12300 closed

[2022-07-04 12:34] freben commented on #12390
@Joonpark13 @vinzscam This one might be for you! Could this be a case of a permission that should have been a resource permission but isn't?

[2022-07-04 12:47] emmaindal commented on #11691
@bourbonfgiles

So sounds like you got it fixed? @freben can you give some guidance on how to force update the catalog? if possible?

[2022-07-04 13:02] freben commented on #12387
One "quirk" of the config system is that all config has to be present at build time as well because parts of it gets baked into the frontend build artifact. What has happened here, I think, is that the frontend was built without the config flags so that field was left empty.

[2022-07-04 13:18] #12356 closed

[2022-07-04 13:21] garyniemen commented on #12260
@LvffY Can you clarify why you think this issue is similar to the TechDocs version issue. Also, are you imagining this in-code documentation being part of another doc site, in other words - being injected into it. Or are you imagining it as a separate doc site?

[2022-07-04 13:22] garyniemen commented on #12260
@iamEAP Can you comment on this. TechDocs Addon vs separate Plugin? Anything to say about the relationship between this issue and other issues (including #12259 )

[2022-07-04 13:24] garyniemen commented on #12259
@iamEAP @freben Can you comment on this one - it has wider Backstage implications right?

[2022-07-04 13:29] vinzscam commented on #12390
Hi @FilipSwiatczak,
when are you experiencing the issue? Is it when you are actually viewing the `/create` page?

[2022-07-04 13:32] freben commented on #12287
Alright, thanks for reporting back!

Honestly you are now on a good path anyway, and we'd like to hold off on the design of these extra exposed fields until there's a strong need for them. So all good from our end as well. I'll close this for now, but thank you for offering!

[2022-07-04 13:33] SainDave opened #12411 "external TechDocs - owner in the TechDocs path"
Currently if the TechDocs are stored externally then the path to the TechDocs takes the form:
[code]
If you have multiple GitHub owners publishing to the same instance of Backstage then get clashes and prevents migration from one owner to another.

## Feature Suggestion
Include the owner in the TechDocs path:
[code]

## Possible Implementation
For example TechDocs in repository https://github.com/

[2022-07-04 13:51] gabriel-dantas98 commented on #9250
Did you set the PGSSLMODE environment variable?
[code]

[2022-07-04 13:53] freben commented on #12175
Sorry I don't know of any helpers offhand! A quick googling supports your thesis. Maybe we'll be writing our own React based renderer then. Maybe you can copy some of the basic structure out of the rendered output of the Tomi Vanek solution to get bootstrapped, and put some styling on it.

[2022-07-04 14:03] emmaindal commented on #11471
Hello @Anonyfox thanks for opening this issue. Can I just ask some clarifying questions about the request:

1. Would you like to see support for [TypeDoc](https://typedoc.org/) when using techdocs-cli?
or
2. Do you want us to document the transformation of typedoc to markdown?

Thanks!

[2022-07-04 14:17] mclarke47 commented on #11588
I think this is done?

[2022-07-04 14:23] emmaindal commented on #11003
Hello @iammnils I can't reproduce this issue on the latest versions of techdocs

[code]

can I ask you to upgrade your versions and see if the issue still appears? If so please re-open the issue!

[2022-07-04 14:23] #11003 closed

[2022-07-04 14:31] emmaindal commented on #9342
Hello @therynamo thanks for opening the issue. Just some clarifying questions

1. Is this mostly when using the dark theme setting or is the color contrast poor when using light theme too?
2. Do you want to have the possibility to adjust the background color, to increase the color contrast or the actual colors of the code snippet?

[2022-07-04 14:40] freben commented on #11691
@bourbonfgiles It depends what the issue is. The catalog _should_ update itself periodically (like, every couple of minutes, but depends on the catalog size). Are you seeing an old irrelevant entity lingering around still, or what's the symptoms you are seeing at this point?

[2022-07-04 14:43] freben commented on #11406
Yeah this is an unavoidable limitation at this point, since it's part of the actual primary ID / key of the entity. Everything hangs off of that kind/namespace/name triplet so it can't change in-flight once it's set (the very database schema is based on it) because the end result would be an entirely other entity.

Oh that's unfortunate that they don't go the other way from the group end :/ Not su

[2022-07-04 14:49] FilipSwiatczak commented on #12390
hello @vinzscam, thanks for looking into this. Yes it's when viewing the `/create` page. In local I can see the Read permission requests having the _user passed in while in production the _user is undefined.

[2022-07-04 15:23] iamEAP commented on #12259
Hey @LvffY,

Are you looking for something more deeply integrated with your VCS provider (e.g. one version corresponds with one branch)?  I'm wondering if there's anything in particular you find limiting about how this can be achieved today using just navigation/hierarchy, e.g.

[code]

[2022-07-04 15:29] iamEAP commented on #12260
Hmm...  Whaddya think of this thought, @garyniemen: maybe the use-case of displaying code docs is closer to API docs than it is to TechDocs?

e.g. This is [an example of an API definition of type "grpc"](https://demo.backstage.io/catalog/default/api/hello-world/definition)...  But what if there were also an API definition type `JavaDoc`?

[2022-07-04 16:11] github-actions opened #12418 "Snyk vulnerability [SNYK-JS-PARSEURL-2935944]"
## Affecting Packages/Plugins

* [example-app](packages/app/package.json)

## Overview
[parse-url](https://www.npmjs.org/package/parse-url) is an An advanced url parser supporting git urls too.

Affected versions of this package are vulnerable to Cross-site Scripting (XSS) due to improper sanitization of special characters for ASCII that start with `\x` and also for all Unicodes start with `\u`.

[2022-07-04 16:11] github-actions opened #12419 "Snyk vulnerability [SNYK-JS-PARSEURL-2935947]"
## Affecting Packages/Plugins

* [example-app](packages/app/package.json)

## Overview
[parse-url](https://www.npmjs.org/package/parse-url) is an An advanced url parser supporting git urls too.

Affected versions of this package are vulnerable to Information Exposure due to improper validation.
## Remediation
Upgrade `parse-url` to version 6.0.1 or higher.
## References
- [GitHub Commit](https://g

[2022-07-04 16:11] github-actions[bot] opened #12420 "Snyk vulnerability [SNYK-JS-PARSEURL-2936249]"
## Affecting Packages/Plugins

* [example-app](packages/app/package.json)

## Overview
[parse-url](https://www.npmjs.org/package/parse-url) is an An advanced url parser supporting git urls too.

Affected versions of this package are vulnerable to Server-side Request Forgery (SSRF) in the `parseUrl ` function, due to mishandling hostnames when processing usernames and passwords.

## PoC:

[code]
##

[2022-07-04 17:55] #11588 closed

[2022-07-04 19:39] awanlin commented on #12259
If we did go the VCS route `mike` could be an option to look into: https://github.com/jimporter/mike. It works with MkDocs and your git repo to publish versioned documentation. Feel like there would a lot of heavy lifting to integrate though

[2022-07-04 20:08] skfarhat commented on #6841
Should @BernhardRode be assigned this issue then? Could help people browsing `good first issue` labels  🙂

[2022-07-04 21:09] emmaindal commented on #11650
Hi @awanlin thanks for opening this issue and providing so much details in the steps to reproduce. I tried to reproduce and this seems to be a Chrome only issue. I gave it a try in Firefox without seeing the error, then switched over to Chrome and can reproduce the error. I'll do some more investigation!

[2022-07-05 02:07] tritri251214 commented on #12378
hi @benjdlambert . I think this issue and [#7343](https://github.com/backstage/backstage/issues/7343) dissimilarity.
This issue talk about validation of custom field not working, also UI still working.
You can see video demo at the first comment :

https://user-images.githubusercontent.com/32475934/176807042-ff8a3032-db45-494a-a0eb-3c7a7eb96c0b.mov

Could you help me check it.
Thanks benjdlambert.

[2022-07-05 06:23] Shayon commented on #12333
Hey! Thank you for taking the time to answer. Yes, I should have been clear we're definitely talking about the `GithubDiscoveryProcessor`.  At this moment I can't recall if the entities stuck in the processing loop were location entities or the other entities represented in the YAML file at that location, I'll have to take a closer look - however, right now I'm taking some away from keyboard time

[2022-07-05 06:43] BernhardRode commented on #6841
The task is basically done... I did not get any responses from the people over at react-lazylog.

[2022-07-05 06:50] Remyapraveen commented on #2835
Hi, My Backstage App has trouble connecting to the Backend, PostgreSQL DB and building a Docker Image.. Receiving this error message or the other every time..  "Backend failed to start up, Error: Failed to connect to the database to make sure that 'backstage_plugin_catalog' exists, Error: connect ECONNREFUSED 127.0.0.1:5432"
Have tried many different connection Parameters. But no luck..
Also the d

[2022-07-05 07:16] knulpi commented on #12286
Yes, will do!

[2022-07-05 07:27] skfarhat commented on #6841
My point is: first time contributors might look at this issue and think they could take it because no Github `Assignee` is set. They would have to read all comments, then read the ones on the PR in `react-lazylog` to conclude that all is already done.

Could save them some time.

Thanks for taking the time to implement this of course 🙂

[2022-07-05 07:41] #12065 closed

[2022-07-05 07:45] pjungermann commented on #10183
PR #12334 will contribute the provider for GitHub

[2022-07-05 08:02] namco1992 commented on #12304
@freben Thanks for the insights! Initially, we just wanted to see the rendered files on the page, and I didn't think that far regarding the "stop and approve to continue" part, IMO it seems to be a larger scope that might be in a separate issue/needs an RFC.

I think what we proposed here is more about providing an out-of-box "Inspecting work dir contents" solution. It's true that you can come up

[2022-07-05 09:29] LvffY commented on #12259
@iamEAP @awanlin TBH, I didn't think about some kind of VCS integration but it would be great.

What I thought about is to only use the filesystem where the techdocs are stored (e.g. an Azure Blob storage) and look at the directory tree.

[2022-07-05 09:34] emmaindal commented on #11650
I've now at least been able to identify the difference in the two request urls (and the reason to why this error just show up in one of the two experiences):

request url navigating to `/docs/default/component/backstage`
Request URL: http://localhost:7007/api/techdocs/static/docs/default/component/backstage/index.html
navigating to `/catalog/default/component/backstage/docs`
Request URL: https://l

[2022-07-05 09:34] bourbonfgiles commented on #11691
Hi @freben

Essentially, I have to go into the DB and delete an entity previously registered in catalog-info.yaml. Simply removing from the catalog-info.yaml doesn't remove the item from the DB. Unsure if this is expected behaviour or not.

[2022-07-05 09:35] iamEAP commented on #12259
@LvffY Ah, cool.  So in that case, I'd recommend doing something like the above example `mkdocs.yml`.  Or, if your versioned code is stored in VCS like a monorepo, e.g.

[code]

...Then you could consider using the [mkdocs-monorepo](https://github.com/backstage/mkdocs-monorepo-plugin#usage) plugin to stitch it all together into one TechDocs site.

[2022-07-05 09:38] freben commented on #11691
That it doesn't get removed is expected, yeah. This is the "orphaning" mechanism, where users are expected to get some fair warning that entities seem to no longer be connected to an authoritative input source. That way you can choose to either rectify the situation or delete the entity by hand if that was the intent. Otherwise you might suddenly see vast swathes of entities disappear instantly, u

[2022-07-05 09:43] LvffY commented on #12259
I won't have time to look into this, but if you think this could fit my needs, I think you can close the case :)

Thanks for your answers :)

[2022-07-05 09:58] kaos commented on #3399
Looks promising. I'll pass it on internally here, thank you.

[2022-07-05 10:04] #8002 closed

[2022-07-05 10:18] LvffY commented on #12260
@iamEAP This seems to be more something like that I had in mind :)

@garyniemen WIth the last answer of @iamEAP I don't think the two problems are related anymore and I was more thinking about another doc site TBH.

[2022-07-05 11:15] #11511 closed

[2022-07-05 11:24] freben commented on #12335
What does the dependencies section look like in your `packages/backend/package.json`?

Are you running "yarn dev" in the package root or somewhere else?

[2022-07-05 12:11] taras commented on #2835
@Remyapraveen it sounds like you have a db connection problem which needs to be troubleshooted. You can try #support channel in Discord or message me directly in Discord.

[2022-07-05 12:27] shailendra-ahir-cbre opened #12439 "Github Auth Popup not closing after User cancels at the Oauth screen in it"
## Expected Behavior
Enabled Login with github. If the user logs rejects the auth request, The popup should also closed.

## Actual Behavior
When the user "cancel" the oauth request the popup redirects to the /api/auth/github with errors description in URL and does not close itself.

![image](https://user-images.githubusercontent.com/91642195/177325931-0c992942-0c43-428d-b320-874b2623afaa.png)

![

[2022-07-05 12:32] martina-if commented on #12391
I would rather not disable this filter because we have heard form our users that this feature is very important when dealing with monorepos. And for this reason as well, the behaviour of the catalog table is better in my opinion. Not sure if we will get time to contribute this but if so, do you agree that this would be a good change?

[2022-07-05 13:06] Remyapraveen commented on #2835
Hi Taras, Sure shall connect with you in Discord. Did try to uninstall everything and start over again. A couple of things seems working. Shall keep you posted.

[2022-07-05 13:09] freben commented on #12335
Are you no longer seeing the problem that this issue originally reported? Feel free to close the issue if so, and if needed ask for assistance on discord or in an issue for any followup things that appear

[2022-07-05 14:16] ericis commented on #11035
This would also be interesting from a corporate design system perspective. We have our own design system and it would be AMAZING (and complicated) to be able to swap out entire components to implement an even deeper corporate "theme" for Backstage that goes beyond styles.

[2022-07-05 15:26] andrewthauer commented on #12392
There may be some confusion here and I completely understand why. The definition in `apis.ts` for `graphQlBrowseApiRef` is meant for the `@backstage/plugin-graphiql` plugin. Although the `@backstage/plugin-api-docs` plugin uses the same component (https://github.com/graphql/graphiql), they are not connected in any way.

Introspection and querying would be nice in the `api-docs` version. However, d

[2022-07-05 15:47] carlitose opened #12449 "Techdocs, bitbucket reader doesn't update the last version in case of a different branch of default one"
## Expected Behavior

You have your techdocs posted on bitbucket and you would show a version of a particular branch, in case of new commits you would like to see the new update on techdocs.

## Actual Behavior

After the first build of techdocs, you don't see any update

## Steps to Reproduce

1. Have a repository of techdocs in bitbucket
2. Create a new branch from the default
3. Added the new

[2022-07-05 17:18] #12262 closed

[2022-07-05 17:58] spencerrichardhenry opened #12453 "Add default scaffolding metrics"
(This issue is really a subset of what https://github.com/backstage/backstage/issues/8398 tackles. Let me know if this issue should be closed in favor of that one.)

We want to add (prometheus) metrics around scaffolding. How many projects have been scaffolded, who is using the scaffolder, time to scaffold a project, etc. Instead of forking each action and adding custom metrics, we thought to go a

[2022-07-05 18:53] cpgonz2 opened #12454 "Confused on how the creation of a component works (Related with Token, etc)"
Hi, I am a bit confused on how a user from other organization can create a component in his own repo, or anywhere he wants, if the token established in the integration with Backstage (f.e the GitHub token and/or the BB app-password in the app-config.yaml) is used to handle that stuff within a number of workspaces where that user doesn't have access.

That may be the handicap here, what do you thin

[2022-07-05 19:35] mclarke47 opened #12455 "[RFC] Kubernetes CRD UI plugins"
## Need

Many modern infrastructure tools use Kubernetes as a control plane, examples include:
[argo]([argoproj](https://argoproj.github.io/))
[istio](https://istio.io/)
[crossplane](https://crossplane.io/)

Creating plugins for these tools would be beneficial to the users of Backstage. However, to use these tools, each one would need to create a separate plugin backend, increasing duplicated code

[2022-07-05 19:40] jamieklassen opened #12456 "static catalog locations don't support gitlab unscoped route targets"
## Expected Behavior

If I add a static catalog location to my app-config targeting an [unscoped route](https://docs.gitlab.com/ee/development/routing.html#project-routes) (i.e. a route without the `/-/` separator after the project name) to a file on a GitLab server, Backstage should parse the route and figure out how to access that file via the GItLab API using the token configured in the `integr

[2022-07-05 21:17] therynamo commented on #9342
@emmaindal - thanks for the questions!

1. I haven't tested with the light theme - only the dark one.
2. It'd be great to be able to adjust the colors themselves - but I don't want to impede progress on accessibility so I'd take either 👍

As a feature - custom theming would be pretty great and we could leverage brand colors and such. Theming down to the syntax highlighting level, or more ubiquitou

[2022-07-05 23:54] djamaile commented on #12333
Too piggy back on this thread. I also noticed something like this recently, new entities were just not showing up. Then I saw we changed the id of our `LDAPEntityProvider` and we had a lot of duplicate entity reference errors, which would not go away. After deleting rows from refresh_state table that still referenced the old id, new entities started showing up again.

[2022-07-06 01:55] ale-conekta opened #12464 "Multiple Scaffolder templates"
I am not able to create multiple repositories using one temple, and then from it invoking another template to create the secondary repository.
My intention is to create multiple repositories.

## Expected Behavior

Create multiple repositories based on 2 templates.

## Actual Behavior

Sometimes I get:
`instance is not exactly one from [subschema 0],[subschema 1]`

 Other times ,if only leave one

[2022-07-06 05:59] cinlysobin commented on #12278
Thanks a lot @FilipSwiatczak . That worked..

[2022-07-06 05:59] #12278 closed

[2022-07-06 07:33] iamEAP commented on #12260
Nice.  Maybe @freben, how does that sit with you from a Catalog / API perspective?  To represent APIs that aren't necessarily "over the wire" but instead, something more akin to classes/functions/methods/etc for a package/module.

[2022-07-06 07:46] freben commented on #11691
If you

- register a file with an entity with a name that contains spaces
- observe it fail to ingest properly
- change the file contents such that the name no longer has spaces
- wait for another ingestion round to happen

then yes, I expect the outcome to be

- the old improper entity might linger around the database (this actually depends on circumstances)
- the updated proper entity should app

[2022-07-06 10:32] bourbonfgiles commented on #11691
Understood, thanks Freben!

[2022-07-06 10:32] #11691 closed

[2022-07-06 11:33] freben commented on #12333
Ah yeah, IDs of providers are very strictly meant to be stable. They behave roughly like S3 bucket names in which entities are placed, so to speak. So when the ID changes, the old bucket stays around, and the provider tries to put things into a new bucket - which will collide with the old remnants of course.

[2022-07-06 12:02] freben commented on #10835
@manuelstein Yeah you are right, the way that that processor is written it sure looks like it will lead to orphans basically all the time. 🤔 That's unfortunate. To be able to leverage the lastActivity mechanism, it might have fit better to write it in the form of an entity provider rather than a processor. Or, to store all of the previously emitted results in the cache as well, so we can re-emit k

[2022-07-06 13:55] #11688 closed

[2022-07-06 15:18] carlitose commented on #12449
The problem exists also on`BitbucketSeverReader.getLastCommitShortHash` https://github.com/backstage/backstage/blob/master/packages/backend-common/src/reading/BitbucketServerUrlReader.ts#L192

[2022-07-06 16:12] shanthisagar-dhanya-kumar-db opened #12487 "techdocs doesn't refresh the content for mkdocs-multirepo-plugin"
We use https://github.com/jdoiro3/mkdocs-multirepo-plugin

Our main repo contains root mkdocs.yaml
site_name: 'main'
site_description: 'main'
plugins:
  - techdocs-core
  - multirepo
nav:
  - Foundational-ADR: '!import $repo_1_url'
  - Service-ADR: '!import $repo_2_url'

$repo_1 contains mkdocs.yml and index.md and few .md files under docs
$repo_1 contains mkdocs.yml and index.md and few .md files

[2022-07-06 17:33] liamrathke commented on #12231
Hi everyone, I'm an intern at VMware working on an implementation of this RFC under @jamieklassen - my goal for the summer is to submit a PR with this functionality.

I have a mostly functional proxy that can make a request against a single cluster, and would like to add multi-cluster requests next, so I'd like to start a discussion about what we'd want those to look like from an end-user's perspe

[2022-07-06 18:25] awanlin commented on #12453
Just wanted to mention that there was talk of using OpenTelemetry when the catalog metrics were added: https://github.com/backstage/backstage/pull/6848#issuecomment-900234530. I'm wondering if that worth taking another look at, it's been nearly a year

More details on OpenTelemetry here: https://github.com/open-telemetry/opentelemetry-js

[2022-07-06 20:05] github-actions[bot] opened #12489 "Snyk vulnerability [SNYK-JS-PARSEURL-2942134]"
## Affecting Packages/Plugins

* [example-app](packages/app/package.json)

## Overview
[parse-url](https://www.npmjs.org/package/parse-url) is an An advanced url parser supporting git urls too.

Affected versions of this package are vulnerable to Cross-site Scripting (XSS) due to improper sanitization of special ASCII characters that start with `\r\r` or `\r`.
This vulnerability exists due to an i

[2022-07-06 23:09] mclarke47 commented on #12231
Hi @liamrathke, it seems like this is for client side auth like oidc and google auth which are sent in the body of the other backend requests.

I'm not a huge fan of very complicated headers putting necessary parameters in headers can make the API harder to use and understand, however I'm not sure the alternatives are much better.

### auth in the query string
One alternative is to include the aut

[2022-07-07 04:10] cinlysobin commented on #11563
@garyniemen , Seems to be the same issue. But still, the fix for it is not done. Right

[2022-07-07 07:35] mrooding opened #12493 "ldapOrg will not map user-group relationships when using FreeIPA"
## Expected Behavior

When I am using the ldapOrg processor to fetch users and groups from [FreeIPA](https://www.freeipa.org/page/Main_Page) it fails to map the relationship between a group and its members.

## Actual Behavior

No users are mapped to their corresponding groups

## Steps to Reproduce

Set up the LDAP organization data integration with a FreeIPA instance.

## Context

We're running

[2022-07-07 07:46] #12248 closed

[2022-07-07 08:37] Rugvip commented on #11042
Done!

[2022-07-07 08:37] #11042 closed

[2022-07-07 08:39] #10854 closed

[2022-07-07 08:39] #11233 closed

[2022-07-07 08:41] Rugvip commented on #9948
Close in favor of #10784

[2022-07-07 08:41] #9948 closed

[2022-07-07 09:40] benjdlambert commented on #12464
So, if I understand correctly, and you want to create two repositories from one template you can do something like the following.

You'll need to collect two `repoUrl`'s for the two repositories that you want to create, and then you'll create two directories in your workspace with the templated skeletons, and then run `publish:github` with the two different source paths.

[code]

Something like th

[2022-07-07 09:52] benjdlambert commented on #12304
So, just want to make sure that I understand the use case correctly.

1. You can't easily raise PR's to existing components
2. You want to make a script to kick off a scaffolder job for each repository that you will give the team the link to the job run so that they can see the output of the catalog-info.yaml
3. They can then raise the PR themselves with the contents of the `catalog-info.yaml` tha

[2022-07-07 11:17] kjuulh opened #12503 "Possibly require valid owner when using OwnerPicker"
When using owner picker it is not required that the selected value is a valid Owner. This is kind of unintuitive and requires extra handling on the backend to not receive invalid values.

## Feature Suggestion

As such we would like to have the same experience as using EntityPicker using `allowArbitraryValues: false`. This requires the user to select one of the options and not just anything arbitr

[2022-07-07 11:59] freben commented on #12260
One might say that the API kind is there as a helper for modelling communications patterns. You want to be able to express that a service Component exposes two APIs A and B, and then other Components can say that they consume A or B, rather than consuming the Component that hosts them.

For API docs for _a component itself_ that is more library-like, I'm not sure that this view of the abstraction

[2022-07-07 12:55] benjdlambert commented on #12377
@pvandervelde, so I did some digging I think it should work for files that do exist in the template. But are you saying that it's not for you right now? The `isBinaryFile` will try to resolve the `realpath` so I guess is what happening is that if the file that the symlink is referring to doesn't exist then it's gonna throw out.

https://github.com/benjdlambert/backstage-fetch-template-symlink-issu

[2022-07-07 13:05] namco1992 commented on #12304
Hi @benjdlambert 👋 ,
1. Correct, and we actually can't do that even if we want to since we use Bitbucket and there is no Bitbucket PR publish action 😢
2. Haven't reached the script level yet, but yes I think we can achieve that since the tasks (and the output) are persisted
3. Correct.

[2022-07-07 13:29] iamEAP commented on #12260
Mmmm.  Thanks for the clarity @freben, that makes a lot of sense.

To be honest @LvffY, we regularly have folks request this kind of library documentation internally (for a variety types of libraries in a variety of languages), but haven't _quite_ found the best way to solve this generally and at scale.

Because we use the [recommended](https://backstage.io/docs/features/techdocs/how-to-guides#how

[2022-07-07 13:57] namco1992 commented on #12304
Hi @benjdlambert, yes I do agree that it might be quite a specific use case, but I still decided to try my luck and shared my thoughts here to see if there are others who face the same issue 😳.

Currently we've built this "preview" feature by forking and modifying the scaffolder plugin, but we actually prefer not to do this as it might be hard for us to maintain it and keep up with the upstream re

[2022-07-07 14:03] knulpi commented on #12286
fixed in #12471

[2022-07-07 14:03] #12286 closed

[2022-07-07 15:04] Rugvip commented on #6841
Ah, bit of a development here is that we no longer use `react-lazylog`, had to switch away from it due to license incompatibility. We now have our own implementation instead, over at https://github.com/backstage/backstage/tree/b1190bf6761294d31af074d21eef514591f2df38/packages/core-components/src/components/LogViewer.

[2022-07-07 15:36] Rugvip commented on #12231
Gonna chime in and strongly discourage placing credentials in the query string. It's very common that they will be exposed through logs or proxies that way. Keep credentials in the body or headers

[2022-07-07 15:41] Rugvip commented on #12391
Yep I think it makes sense to implement this by supplying filters to the GitHub API, which ofc means that we're limited by whatever filtering the GitHub API supports. It should be possible to hook up the data loading of the table so that it uses a callback that receives the filters, see for example [TodoList](https://github.com/backstage/backstage/blob/b80210274a0de24aba819edf807821fe6598ee8d/plug

[2022-07-07 15:46] Rugvip commented on #12439
Does login work? It looks like your redirect URL is incorrect as it's taking the user back to the frontend rather than the backend auth endpoint. The path should be something like `/api/auth/github/handler/frame`

[2022-07-07 15:50] Rugvip commented on #12456
Applying the suggested fix to `getGitLabFileFetchUrl` sounds sensible! 👍 Is it something you'd like to contribute?

[2022-07-07 16:32] mclarke47 commented on #12231
@Rugvip sounds good. @liamrathke let's do either an encoded header or POST. I'll leave it up to you to decide

[2022-07-07 17:55] liamrathke commented on #12231
@Rugvip @mclarke47 thanks for the feedback, I'm inclined to go with an encoded header so that we can have parity with the Kubernetes HTTP API as far as request methods are concerned - we won't need to decide whether an incoming POST request should be sent to Kubernetes as a GET or a POST

[2022-07-07 18:07] taras commented on #2835
@Remyapraveen I just helped someone troubleshoot a similar problem. If you're getting ECONNREFUSED, that means that your Backstage is not able to connect to the host. I'm guessing that your Postgres is not actually running on 127.0.0.1:5432. Instead, it's running on some host. Where are you trying to run your Backstage?

[2022-07-07 22:49] marcus-crane commented on #12377
@benjdlambert Thanks for having a look 🙂

I think the issue we were facing is that `isBinaryFile` would fail (which is fine) but then the [fs.stat check](https://github.com/backstage/backstage/blob/89396a2032caa1ff3b8a7c8b6e3ae416d4c056c7/plugins/scaffolder-backend/src/scaffolder/actions/builtin/fetch/template.ts#L229) would try to resolve the link, which points at something that doesn't exist (ye

[2022-07-08 01:46] Remyapraveen commented on #2835
![Screenshot (277)](https://user-images.githubusercontent.com/93478132/177899892-0d53d701-5f21-416f-8c1b-c84771717079.png)
While I was reinstalling postgres, I had received this message, but then once after I restarted, this one was fine, and was allowed to make the basic installation setup. Now when I am trying on Ubuntu, it shows my postgres 12.11 is running. But still facing some other issues t

[2022-07-08 06:52] mrooding commented on #12493
Hey @Rugvip, I've just created #12521.

[2022-07-08 08:23] vinzscam opened #12524 "wrapInTestApp unmounts children on rerendering"
`wrapInTestApp` works great when testing components using testing library.
However, when testing a rerender of a component, it causes all the subcomponents to be recreated from scratch, losing any state.

## Expected Behavior

It shouldn't unmount and mount any child component.

## Actual Behavior

## Steps to Reproduce

[code]

## Context

This issue is producing false results and side effects in

[2022-07-08 08:59] iamEAP commented on #12259
Don't think we're _quite_ ready to close this yet, as I think it's worth discussing a bit more (this came up in discord today, for instance).

Also, linking to https://github.com/backstage/backstage/issues/11027, which is similar-ish.

[2022-07-08 09:12] regicsolutions commented on #659
@miixell was wondering if there are any plans on open-sourcing the release-manager plugin shown?

[2022-07-08 11:07] #12377 closed

[2022-07-08 12:29] benjdlambert commented on #12464
Ah, so yeah unfortunately the `repoUrl` is a string for now, but we've been thinking about making it an object to make this sort of use case easier.  What you could do however is something like this:

You could have two inputs instead of one for `repoUrlPicker` which are both `strings`. One called `owner` and one called `repo` and then use something like:

[code]

and then for the other one:

[cod

[2022-07-08 12:45] freben commented on #6039
@mmonroe-vmware Would you have the ability to check if latest master still exhibits this problem on safari, after this change? https://github.com/backstage/backstage/pull/12397

[2022-07-08 14:29] benjdlambert commented on #12377
This actually got released today in v1.3.1 so you should be able to bump the `scaffolder-backend` dependency in your backend to `1.3.1` and it should just work ™️ for you.

[2022-07-08 16:40] cvperinchery commented on #12453
Some other metrics that would be nice are:
- individual action invocations
- individual action latency
- latency for custom field extension

[2022-07-08 16:48] iamEAP opened #12543 "[TechDocs] Editable content within the Backstage UI"
## Feature Suggestion

What if it were possible to edit the contents of a TechDocs page right from the TechDocs UI in Backstage?

## Possible Implementation

- Community member @krivoruchkoN began implementing this as an Addon using `react-md-editor`: https://gist.github.com/krivoruchkoN/9de26d7971d4724ebd9d38824b315228.  Perhaps this could be taken across the finish line and generalized?

## Cont

[2022-07-08 19:06] williamscs commented on #11874
I'm seeing the same issue. According to [GitLab's documentation](https://docs.gitlab.com/ee/user/gitlab_com/index.html#gitlabcom-specific-rate-limits), it sounds like we should expect to receive responses, even if being rate limited or requesting from a suspicious IP (responds with HTTP 429 and 403, respectively).

I think it's also important to note, this seems to happen to arbitrary entities. Yo

[2022-07-08 19:25] Crevil commented on #12243
I'd like to give this a go @benjdlambert 🙏

[2022-07-08 19:58] pjungermann opened #12549 "infinite preprocessing errors"
## Expected Behavior

If there is a mistake e.g. at the catalog-info.yaml which causes a processor to fail, fixing the underlying issue will not cause any further error logs anymore.

Example error

[code]

or

[code]

when using

[code]

## Actual Behavior

After fixing the issue, the error should not happen anymore (also means, the preprocessing step gets re-executed for the previously failed no

[2022-07-08 20:05] Crevil commented on #6489
As PR #6494 got closed due to incomplete implementation I'd like to take this one on me to do another run 😄

[2022-07-08 22:48] gabrielucido opened #12552 "Tech Docs broken header for small to medium devices"
## Expected Behavior

The header should fill all available width.

## Actual Behavior
There is a strange block on top of the header. More easily to see the image than me try to explain:
![image](https://user-images.githubusercontent.com/36337762/178078459-58697bfd-2ddc-40b9-80fa-164e03cc784d.png)

## Steps to Reproduce
1. Access any tech docs e.g. [https://demo.backstage.io/docs/default/component/

[2022-07-09 00:36] asaf-erlich commented on #11158
This is still a feature we would like to see

[2022-07-09 06:35] dnguyenzd opened #12553 "file include and newline"
I'm configuring okta authentication in config file like below:

[code]

The files are retrieved from vault by a sidecar. In pre-1.0 version of backstage, this worked fine, but this no longer works when upgrading backstage to latest version (1.3)

## Expected Behavior

Files are read without newline at the end

## Actual Behavior

Backstage reads the files with newline at the end, causing issue wit

[2022-07-09 06:37] #12243 closed

[2022-07-09 16:00] matteosilv commented on #3746
I would like to help on this.

We are struggling to run some workflows after template compilation and we don't like too much the idea of having to embed all required tools in the backstage container, nor to run dind to do so.

As a temporary solution I created a generic action to run a container, that so far is using dind, but since the interface is generic enough, I was thinking about implementin

[2022-07-10 02:25] HieuMinh67 commented on #11119
I'm facing the issue, have you found the way to fix it? Please help me

[2022-07-10 14:48] dweber019 commented on #12175
@VladMasarik we have the same challenge. Currently we use the Kind: API to show the WSDL definition but in plain text only and use a link to the legacy documentation, which in a CMS and hand written 😉

I'm working on a solution as well but have the same trouble. The prove of concept I'm doing now is to convert the WSDL into a OpenApi spec and display it with the Swagger UI but not there jet.

[2022-07-10 15:15] ale-conekta commented on #12464
@benjdlambert Thank you for your feedback, I am using **fetch:template** to create a repository from a template repository.
In general works find, the main problem happens when I want to clone a repository with git submodules, the **fetch:template** does not clone the dependency, perhaps because Backstage clones it without recursive git option.

[2022-07-10 18:26] cinlysobin commented on #12308
@iamEAP ,
Please find the Docker file

[code]

[2022-07-11 02:43] zhyu opened #12559 "catalog-backend: querying facets is slow when there are lots of entites"
## Expected Behavior

Querying facets should be optimized.

## Actual Behavior

It takes around 1 second for our Backstage instance to query facets.
<img width="2106" alt="image" src="https://user-images.githubusercontent.com/1728523/178178063-5b52f300-bd51-44ea-8da4-66a2dacfc5cc.png">

## Steps to Reproduce

1. Prepare lots of entities (we have more than 30K)
2. Open the catalog page
3. Wait the

[2022-07-11 07:48] pjungermann commented on #9923
FYI: https://bitbucket.org/blog/bitbucket-cloud-migration-qa

[2022-07-11 08:04] benjdlambert commented on #11119
@HieuMinh67 can you provide more details, and maybe look through the conversation above to see if there's anything else that can help you in here first? What's the error message you're seeing?

[2022-07-11 08:18] Rugvip commented on #12493
Thanks!

[2022-07-11 08:18] #12493 closed

[2022-07-11 08:19] HieuMinh67 commented on #11119
<img width="1275" alt="Screen Shot 2022-07-11 at 15 09 21" src="https://user-images.githubusercontent.com/43398131/178220003-d07fd9e6-9fed-492e-b31e-3591b5f2f006.png">

This is the message I got and below is my app info

Dependencies:
  @backstage/app-defaults                          1.0.4-next.2
  @backstage/backend-common                        0.14.0, 0.14.1-next.2
  @backstage/backend-tasks

[2022-07-11 08:46] benjdlambert commented on #11119
Can you take a look at the previous comment from @Rugvip and answer this?

[2022-07-11 09:03] HieuMinh67 commented on #11119
![Screen Shot 2022-07-11 at 15 59 56](https://user-images.githubusercontent.com/43398131/178228224-7cbb0c67-a2aa-4322-a96e-83f4470c3ef4.png)

Yes, I did put the plaintext configuration directly in app-config.yaml

[2022-07-11 09:06] Pike opened #12561 "Exclude .git directory when uploading template for scaffolder dry-runs"
## Expected Behavior

When uploading content for a scaffolder dry-run, I get `payload too large` errors. The easiest way to fix them is to remove the `.git` folder from my local check-out, but that's also complicating things when you work on the templates.

## Actual Behavior

Exclude the `.git` folder from the content uploaded.

## Steps to Reproduce

1. Use the dry-run templating action, uploadi

[2022-07-11 09:08] benjdlambert commented on #12503
Hey :wave: think this makes sense! Would you like to contribute this? I can assign you to the ticket if you want? :pray:

[2022-07-11 09:11] HieuMinh67 commented on #11119
Yes, above file `app-config.yaml` and I didn't change `packages/backend/src/plugins/auth.ts`

[2022-07-11 09:18] Rugvip commented on #12524
Use `renderInTestApp(<MyComponent />)` + `rerender(<MyComponent />)` instead! `wrapInTestApp` creates a new app along with components every time, so it'd be tricky to keep those component references stable across calls.

[2022-07-11 09:25] IanTurtle opened #12562 "Templating - Default value of field dependent of drop down not updating as expected"
## Expected Behavior

In a template with two fields, where one is a dropdown of different options and a second is dependent on the other. The second field changes values depending on the option second. If you then select a different option from the dropdown menu, the value of the second field would change to the different value.

## Actual Behavior

When selecting an initial option from the dropdo

[2022-07-11 09:30] fr0stf0x commented on #11119
ref https://github.com/backstage/backstage/issues/11119#issuecomment-1180155022

You can provide a auth provider like this

[code]

[2022-07-11 09:52] pjungermann commented on #12250
at e.g. IntelliJ IDEA it works as it supports schemas and DTOs. E.g., you can use https://json.schemastore.org/catalog-info.json Schema Store is supported out of the box. The IDE attempts to do an automatic detection, but you may need to add your own mapping (e.g., to use https://json.schemastore.org/catalog-info.json for all catalog-info.yaml files).

[2022-07-11 09:53] mustafazeya opened #12563 "Pull request board for all PR within a GitHub organization"
Pull request board for all PR within a GitHub organization

## Feature Suggestion

Pull request board should show PR from all repos within a GitHub organization whether these repos have backstage entities or not.

## Possible Implementation

## Context

Current PR board is an awesome plugin but it shows PR related to backstage entities only. If we don't have any entity file in a repository, PR cre

[2022-07-11 09:58] pjungermann commented on #12250
@benjdlambert
https://github.com/SchemaStore/schemastore/blob/master/src/api/json/catalog.json#L572
seems like you can use the file hosted at another repo, too. E.g., backstage/backstage could make sense.

Currently, the schema file is hosted at their repo
https://github.com/SchemaStore/schemastore/blob/master/src/schemas/json/catalog-info.json

[2022-07-11 10:03] pjungermann commented on #12333
maybe related to #12549

[2022-07-11 12:09] noisyscanner opened #12565 "Show namespace in Kubernetes Error Reporting table"
## Feature Suggestion
The error reporting table is very useful, but it could do with an extra column for the namespace, as we have the same pods/services/deployments replicated in several namespaces.
![image](https://user-images.githubusercontent.com/627654/178260479-a5318c70-ca1c-45d4-b4fb-6ce6b72d7e64.png)

## Possible Implementation
- Add another column to the table. Bonus points if clicking on

[2022-07-11 12:42] Rugvip commented on #12549
Thank you for reporting! 👍

We tried reproducing this by pointing at a missing file in GitHub using `$text`, and then after processing has failed at least once, adding an actual file at the location. It keeps failing for a bit, which we think is down to caching in the GitHub side, but eventually it succeeds, after a few minutes.

For how long does the error persist in your testing? Is it definitel

[2022-07-11 12:46] #12524 closed

[2022-07-11 13:31] HorcruxAshu opened #12567 "Not able to publish from a self-hosted Gitlab"
**Status:** Open for comments

## Need

Not able to publish a repo in the self-hosted Gitlab on Backstage.io's Node.js template.
Getting 400 (Bad request error);

## Proposal

## Risks

[2022-07-11 13:33] benjdlambert commented on #12567
Hey, going to close this issue and can you fill out this issue template instead? https://github.com/backstage/backstage/issues/new?assignees=&labels=bug&template=bug_template.md

[2022-07-11 13:33] #12567 closed

[2022-07-11 16:46] ale-conekta commented on #12464
@benjdlambert
Thank you for your feedback.
We can create another and close it.

[2022-07-11 17:10] cctechwiz commented on #12453
Similar to what was mentioned above I'd like to see:

- the user (and what group they belong to) that triggered the scaffolding job
- the specific template/version that was used
- the duration of the scaffolding run (ideally of each action so we can track improvements over time if there are big actions)
- the success / error rates (of the whole pipeline and each action so we can zero in on problem

[2022-07-11 17:42] joshua-reddish opened #12576 "Set authnRequestBinding parameter when creating new SamlAuthProvider | SAML Auth"
Set `authnRequestBinding` parameter when creating new `SamlAuthProvider`

## Possible Implementation

add the following line to [provider.ts](https://github.com/backstage/backstage/blob/master/plugins/auth-backend/src/providers/saml/provider.ts#L168-L188)

[code]

## Context

this will allow users to choose between HTTP-POST and HTTP Redirect (default value). This is neccessary to use SAML auth wi

[2022-07-11 22:39] kjuulh commented on #12503
Sure that would be great. I'd be happy to

[2022-07-12 00:25] anuhyav08 opened #12585 "Customizing <ErrorPage /> behavior"
Hello Team! We are trying to customize ErrorPage behavior to display not only the errorCode and error Message( as they currently support via props), also to customize the image and text "Looks like someone dropped the mic!" in the TechDocs plugin. Looking at the discussions and the issues reported previously, I am not able to find a possibility to completely customize the image and all of it's con

[2022-07-12 02:13] namco1992 opened #12586 "[Scaffolder] Bitbucket/BitbucketServer publish actions fail to authenticate with Git"
## Expected Behavior

When using the action `publish:bitbucketServer` or `publish:bitbucket`, it should be able to authenticate with the credentials provided and commit the code successfully.

## Actual Behavior

When using the action `publish:bitbucketServer` or `publish:bitbucket`, it will create the repo successfully via HTTP API but fail to commit the code via git.

## Steps to Reproduce

1. C

[2022-07-12 06:38] martinohmann opened #12587 "Add button to clear all currently set filters"
## Feature Suggestion

It would be nice to have a button which clears all currently set filters.

## Possible Implementation

Clicking the button should clear the filters back to the defaults for the given view. For example, if filters are cleared on the catalog index, it should display `all` components or only the `owned` ones, depending on the configured `initialFilter`.

The implementation shou

[2022-07-12 06:57] pjungermann commented on #12549
For me, it didn't vanish eventually. It seems like the new version got picked up and succeeded, but the old is still attempted to be (pre)processed.

I didn't dig too deep yet.

Also, it happened with Bitbucket Cloud related files. Not sure if that makes a difference, though.

I try to find out more details.

[2022-07-12 07:15] benjdlambert commented on #12503
Done! It's all yours 👏

[2022-07-12 07:20] #12072 closed

[2022-07-12 07:25] benjdlambert commented on #12586
Hmm - so the block of code you linked is only executed when passing in a token to the action, is that something that you're doing?

I wonder if you try and set `username` and `token` in the `app-config.yaml` does that work?

[2022-07-12 07:25] benjdlambert commented on #12586
@pjungermann here for visibility too.

[2022-07-12 07:35] benjdlambert commented on #12304
Hmm not really I suppose, it's just only used for testing. And I'm also unsure how you would indicate how it's a dry run of a template compared to a normal run.

Thinking that we can keep this ticket open to see if there's any interest, but I'd recommend building your own solution for this to be honest, rather than adding this to the scaffolder right now.

[2022-07-12 08:35] Rugvip commented on #9923
@pjungermann thank you for pointing that out! I'm assuming that applies to both way to use Bitbucket Server right? as in Bitbucket Data Center as well? Couldn't find that explicitly stated.

So what this means for us I would assume is a long-term plan to remove the Bitbucket Server integration and make Bitbucket Cloud the only one. So one point being very little push to implement new features or i

[2022-07-12 08:43] pjungermann commented on #10183
@goober are you still up for taking on Bitbucket Server?

[2022-07-12 08:47] pjungermann commented on #9923
@Rugvip yes, agree to all of that. Also thought about reclaiming "bitbucket" then for Bitbucket Cloud eventually.

Even though Atlassian stops support for Bitbucket Server in Feb 2024, some orgs might still use it longer.

Re Bitbucket Data Center, I didn't find any specific info either. At the end, it is the hosted version of Bitbucket Server. Therefore, I assume it is included.

Overall, Atlassi

[2022-07-12 08:55] pjungermann commented on #12586
At some point I was splitting the action `publish:bitbucket` into `publish:bitbucketCloud` and `publish:bitbucketServer` as the integration was split. Theoretically it was usable for Bitbucket Server, but maybe it was never really support 🤔

The authentication is done using OAuth. This is powered by the auth module/plugin for "bitbucket" which is Bitbucket Cloud only.

So.. maybe it is rather a fe

[2022-07-12 09:47] namco1992 commented on #12586
Hi @benjdlambert @pjungermann,

That's not a good example because it actually works if you config `integrationConfig.config.username`, I think it's clearer here:

https://github.com/backstage/backstage/blob/7b33fa1a2ab8f2cf6d0eb3c34626f36d2cef66b9/plugins/scaffolder-backend/src/scaffolder/actions/builtin/publish/bitbucketServer.ts#L240-L243

It only takes a token and set the username to `x-token-a

[2022-07-12 11:17] goober commented on #10183
I moved on to another employer so unfortunately not. However, we got it working internally before I left, so maybe @ONordander wants to take a look at a contribution?

[2022-07-12 11:42] dhruvaldarji commented on #9923
Atlassian may be planning to drop support for Bitbucket Server, but my company legally can't use their cloud products to store source code of any kind due to specifics defined in our contracts. This may change in the future but it is unlikely to change quickly. In fact, we used to be on GitHub (the good ol' days) until contracts forced us to migrate to a self-hosted Bitbucket Server.

Explaining j

[2022-07-12 11:45] dhruvaldarji commented on #12586
Unfortunately we haven't been able to implement the Scaffolder yet so I haven't been able to test any of these features.

[2022-07-12 12:39] Rugvip commented on #12553
Yep I think it makes sense to trim newlines at the end of the files read with `$file` 👍 , is it something you'd like to contribute? it'd go into `packages/config-loader`

[2022-07-12 14:01] kumarnil commented on #12319
The above suggest work for me. Please close this issue.

[2022-07-12 15:08] #12319 closed

[2022-07-12 15:08] benjdlambert commented on #12319
Thanks! Glad it worked out!

[2022-07-12 17:23] freben commented on #12559
Yeah - for context, we did use the catalog's entity search table initially for this purpose (it sure looks like a perfect, low hanging fruit for it), however that one has an intentionally force-lowercased value column so we wouldn't be able to get back correctly cased data. Hence the (known to be very wasteful) current first implementation.

Maybe it could be possible to amend the search table wit

[2022-07-12 18:08] joshua-reddish commented on #12576
Jk this isnt needed

[2022-07-12 18:08] #12576 closed

[2022-07-12 20:47] lpcruz commented on #11471
+1 On this issue! Would be really slick to have native support for typedoc.

[2022-07-12 21:49] andrmaz commented on #11428
@dtuite Could I work on this ? I would love to start contributing

[2022-07-12 22:18] dtuite commented on #11428
Of course @andrmaz. All yours!

[2022-07-13 05:57] unredundant commented on #6692
<img width="1728" alt="Screen Shot 2022-07-12 at 10 56 07 PM" src="https://user-images.githubusercontent.com/5607577/178661031-1ae6673b-2018-4ca5-b57c-67624a3643cc.png">

I have a PoC of this working using Apollos recently improved embedded explorer :)

[2022-07-13 09:08] #6489 closed

[2022-07-13 09:45] benjdlambert opened #12609 "Bump to Recharts V2"
Renovate tried to bump Recharts from v1 to v2 but it looks like there's some breaking changes in the library that need fixing up in #12476

Let's bump to the latest library and fix up some of the Typescript errors that have started occurring part of the breaking changes.

It looks like there's absolutely 0 documentation on migration, https://github.com/recharts/recharts/issues/2333 so could be a l

[2022-07-13 11:35] setchy commented on #6692
Awesome @unredundant 👏

[2022-07-13 14:59] Rafa3001 opened #12613 "não consigo registrar um componente"
ERRO 501 : Falha no carregamento do bloco carregado com preguiça, tente recarregar a página: Não é possível encontrar o módulo '@codemirror/autocomplete'

Parece que alguém deixou cair o microfone!
[Volte](http://localhost:3000/create) ... ou entre em [contato com o suporte](https://github.com/backstage/backstage/issues) [, Abre em uma nova janela](https://github.com/backstage/backstage/issues)se

[2022-07-13 15:07] MrLotU commented on #6039
@freben I'm just getting started with backstage and ran in to the Safari issue too. I just checked the latest master (f537c232b2469d846466daa666feb7065de207f3) and still get the error. Let me know if there's any helpful information I can provide.

[2022-07-13 15:35] anilazaidi commented on #11471
Ditto to what @lpcruz said!!

[2022-07-13 20:59] gifteconomist commented on #6039
The resolutions put forward by [agates4](https://github.com/agates4) work for us - but `parse-url@v^5.0.0` contains a [critical security vulnerability](https://snyk.io/test/npm/parse-url/5.0.8).

When bumping the package version to either the latest (7.0.2) or to ^6.0.1, where the vulnerability was patched, the Safari bug reoccurs.

Posting for visibility - the package resolution that fixed this i

[2022-07-13 21:16] niya-ma-1 commented on #8890
I'm also facing the same problem, would love to see a solution.

[2022-07-13 22:06] andrmaz commented on #11428
Thanks @dtuite! Any suggestions where I should start ?

[2022-07-14 00:20] andrewduckett opened #12626 "Extend ensureExists to database configuration when pluginDivisionMode=schema"
## Feature Suggestion

I would like to disable (or skip) the process that ensures a plugin schema already exists using database configuration options.

## Possible Implementation

This option already exists when ensuring a database exists here: https://github.com/backstage/backstage/blob/b1e2d92a9a28d3e568178da34675729a3596b101/packages/backend-common/src/database/DatabaseManager.ts#L312

Could ex

[2022-07-14 02:20] Niksko opened #12628 "[Search] Stop words in resource name cause Lunr to return zero results"
## Expected Behavior

Searching inside of a techdocs site works as expected

## Actual Behavior

No search results are returned from in-docs search for some techdocs pages, while others work as expected

## Steps to Reproduce

The following will create a sample techdocs directory that exhibits this problem.

[code]

Including this `catalog-info.yaml` into your Backstage instance and using built-in

[2022-07-14 03:31] tonyhsuclrous opened #12629 "Can't import cookieParser from 'cookie-parser'"
## Expected Behavior

I'm following the tutorial [Authenticate API requests](https://github.com/backstage/backstage/blob/master/contrib/docs/tutorials/authenticate-api-requests.md).
[code]

Package 'cookie-parser' should be found after applying below command.
[code]
## Actual Behavior

Below error message shows up.
[code]

## Steps to Reproduce

As shown above.

## Context

This tutorial stop me f

[2022-07-14 04:02] tonyhsuclrous commented on #12629
I suspect the version difference between `plugins/auth-backend` and `packages/backend` might be the problem.
[code]

[code]

[2022-07-14 08:11] benjdlambert commented on #12626
Do you want to contribute this? We're thinking that the first option sounds the best, would be a shame to add a configuration option for this. :pray:

[2022-07-14 08:15] benjdlambert commented on #12587
Makes sense, do you have any ideas on what it should look like? Maybe a draft PR would be great? :pray:

[2022-07-14 08:15] benjdlambert commented on #12565
@mclarke47 does this sound like something of value? :pray:

[2022-07-14 08:25] benjdlambert commented on #11394
Closing seen as this seems to be fixed now!

[2022-07-14 08:29] benjdlambert commented on #11119
Going to close this then as fixed, please comment to re-open if something changes! :pray:

[2022-07-14 08:29] #11119 closed

[2022-07-14 08:49] benjdlambert commented on #12629
This looks like it's not a backstage problem, but you probably will have to install `@types/cookie-parser` as a `devDependency` in the packages that you have installed `cookie-parser` into. So that would be `packages/backend/package.json`. Going to close this issue, feel free to re-open if this doesn't work.

[2022-07-14 08:49] #12629 closed

[2022-07-14 08:51] benjdlambert commented on #12250
Nice @pjungermann, think we should do that. Have the definitions alongside the code in the repo, and then we can manage them from there pretty easily and update the `schemastore` references to point at our repo instead.

[2022-07-14 08:52] benjdlambert commented on #11403
Probably going to solve #12617 for a lot of use cases around the backstage product.

[2022-07-14 08:54] benjdlambert commented on #8890
OK - so I think that we should head down implementation at this point.  Thinking that @Rugvip's suggestion is probably the cleanest: https://github.com/backstage/backstage/issues/8890#issuecomment-1012377281

I'd also like to suggest that we still include the ability to call other actions from actions part of this. Something like `ctx.invokeAction({...})` or something.

[2022-07-14 12:12] gifteconomist commented on #6039
@benjdlambert The vulnerability has been fixed in later major versions of `parse-url`, but only the `^5.0.0` version, which contains the vulnerability, fixes the Safari issue.

[2022-07-14 12:22] benjdlambert commented on #6039
Yes, and that concern is what I mean you should bring up with the upstream library, that this is still broken in the later versions. It's not something that we control, so we should track this issue upstream to get if fixed, and then we can push out the version bump here.

[2022-07-14 12:25] kjuulh commented on #12503
As the PR has been merged, this enchancement should now be fixed.

[2022-07-14 12:25] #12503 closed

[2022-07-14 12:32] gifteconomist commented on #6039
@benjdlambert Gotcha. Looks like they're working on it - https://github.com/IonicaBizau/parse-url/issues/32

[2022-07-14 12:52] benjdlambert commented on #12609
Yeah they are I believe, any package that has a hard dependency of `recharts` will need updating at the same time to work with the new API that they've released without much instruction on how to upgrade 🤷

[2022-07-14 12:53] benjdlambert commented on #6039
Interesting that if they're not going to backport the fix to packages without esm support we might need to wait for this: #12218 also

[2022-07-14 12:54] asheerrizvi commented on #12609
Alright, I guess I can give this a go over the weekend and see how it goes. Can you assign this to me? 🤞

[2022-07-14 13:03] Crevil opened #12634 "[RFC] Add horizontal scalability support with leader election"
**Status:** Open for comments

## Need

As backstage instances becomes more critical to organizations the need for horizontally scaling it becomes more important.
As backstage in it self is not a high load application this is not for handling request load but instead recilience to infrastructure disturbance, eg. node crashes, pod rescheduling etc.

If we can scale out the backstage instances to at

[2022-07-14 13:36] benjdlambert commented on #12609
Of course! 👍

[2022-07-14 13:36] benjdlambert commented on #12609
Thanks! 👍

[2022-07-14 13:38] #10029 closed

[2022-07-14 13:44] Rugvip commented on #12634
This is totally already a thing? 😁 Both the catalog processing loop and entity providers will collaborate and distribute works across all instances that share the same database.

Specifically for leader election, if you want to run your own jobs, look at https://github.com/backstage/backstage/tree/master/packages/backend-tasks and the scheduling that it provides.

[2022-07-14 14:15] andrewduckett commented on #12626
Sure thing, give me a bit to test that it all works e2e for me and I'll report back with a quick PR

[2022-07-14 14:32] jrusso1020 commented on #8047
We created a custom scaffolder extension for this, but it's a little customized to how we represent our groups. The gist is the same though we have a selector/dropdown that grabs all groups, then we grab the current user's identity and use their group as the default option when selecting an owner

[code]

[2022-07-14 14:44] martinohmann commented on #12587
@benjdlambert I'm not that familiar with React to quickly assemble a draft PR. This would take me a bit. But I did a small mockup to show how this could look like by messing around with the browser console 😉.

I also think the wording should be `Reset filters` instead of `Clear filters`, since the behaviour would be to reset them to the `initialFilters` instead of clearing them entirely.

![Screen

[2022-07-14 14:46] Crevil commented on #12634
Well well well. How about that! 🎉🎉

I was not able to find any documentation in this regard so I figured it wasn't implemented.

This is awesome news. I guess we should document this in the deployment docs somewhere that multiple replicas work ?

[2022-07-14 16:04] github-actions[bot] opened #12637 "Snyk vulnerability [SNYK-JS-TERSER-2806366]"
## Affecting Packages/Plugins

* [@backstage/cli](packages/cli/package.json)

## Overview

Affected versions of this package are vulnerable to Regular Expression Denial of Service (ReDoS) due to insecure usage of regular expressions.

## PoC:
[code]

## Details

Denial of Service (DoS) describes a family of attacks, all aimed at making a system inaccessible to its original and legitimate users. Th

[2022-07-14 17:41] #8581 closed

[2022-07-14 17:47] awanlin commented on #7860
I still think this is worth implementing eventually. We do have a few ways of finding orphans - API or the newer `EntityProcessingStatusPicker` - and deleting them with the PowerShell script but it would be nice to say if something is orphaned for `x` time then just delete it or just deleted orphans immediately.

[2022-07-14 18:15] awanlin commented on #7671
Still something that will be needed eventually

[2022-07-14 20:18] tonyhsuclrous commented on #12629
Thanks for your response.

I found a solution with below steps.

1. git clone a clean repo of my-portal
2. yarn install --frozen-lockfile
3. yarn tsc
4. yarn build
5. Add `import cookieParser from 'cookie-parser';`
6. yarn add --cwd packages/backend cookie-parser -D
7. Manually change `cookie-parser` in packages/backend/package.json to `@type/cookie-parser`
8. yarn add --cwd packages/backend cooki

[2022-07-14 20:44] daydy16 commented on #12567
Hey @HorcruxAshu,
we're experiencing the same issues.
Have a look at this issue and this PR here:
https://github.com/backstage/backstage/issues/8358
https://github.com/backstage/backstage/pull/12403

[2022-07-14 21:04] tonyhsuclrous opened #12644 "Module '"jose"' has no exported member 'JWT'"
## Expected Behavior

I'm following the tutorial [Authenticate API requests](https://github.com/backstage/backstage/blob/master/contrib/docs/tutorials/authenticate-api-requests.md).
[code]

## Actual Behavior

Below error message shows up.
[code]

## Steps to Reproduce

As shown above.

## Context

This tutorial stop me from setting up backstage permission.

## Your Environment

- Browser Informat

[2022-07-14 21:23] Pike commented on #12561
I'm afraid I'm pretty booked these days, sorry.

[2022-07-15 04:00] yanyuxuanz opened #12648 "Why does my demo have one template?"
## Feature Suggestion

## Possible Implementation

## Context

[2022-07-15 04:03] yanyuxuanz commented on #12648
There is only one nodejs template  on my demo program,and how should I add or get others template?

[2022-07-15 08:48] Vegim commented on #12279
Is there any possible solution for this issue? This issue still stands even with the new backstage version 1.3.0.

[2022-07-15 09:14] ClementAS opened #12654 "Pages with tabs"
## Expected Behavior

When you click on a tab button you switchs to the correct tab. If you click on the navigator return button, you come back to the previous tab.

## Actual Behavior

You need to click twice on the return button to come back to the previous tab

## Steps to Reproduce

[example 1](https://demo.backstage.io/explore/domains)
[example 2](https://demo.backstage.io/catalog/default/api

[2022-07-15 09:48] tonyhsuclrous commented on #12644
Thanks! It works now.

[2022-07-15 10:02] tonyhsuclrous commented on #12644
Unfortunately  `JWT.decode` does not exist.
[code]

[2022-07-15 10:12] pjungermann commented on #10183
@namco1992 sounds good. Feel free to reach out if you run into challenges. You can drop your questions at the support channel in Discord, too.

@ONordander in case you have something which you could share and therefore, @namco1992 would not need to invest time, please let us know.

[2022-07-15 10:13] pjungermann commented on #10183
PS: we only have Bitbucket Server and GitHub (PR under review) left still.

[2022-07-15 10:37] Apaachai commented on #7664
Oh really, hm that’s weird. Because when I add hundreds of entries in the radar and try to render/view it in Firefox, there is still an overflow between the quadrants/sidebars. Hence, the scrolling does not work as well in Firefox. I have forked the backstage repo last week, maybe it has been fixed since then? I will try it out again later.
<img width="459" alt="Screenshot 2022-07-15 at 12 31 12"

[2022-07-15 12:12] Rugvip commented on #12634
@Crevil yep, #12656 :grin:

[2022-07-15 12:39] iamEAP commented on #12279
Oh, this is an interesting detail, @Vegim.  Do you have multiple instances of the TechDocs and/or Backstage backend running in the cluster?  e.g. across pods or something?  If so, the `local` publisher could behave in undefined and unpredictable ways.

On a cold restart (no generated files stored), the first request (which checks if the docs exist) might be routed to `pod-a`, where it sees no file

[2022-07-15 13:00] chalin opened #12658 "[microsite] Setup Google Analytics 4"
I'm opening this as part of a CNCF-wide effort to upgrade project websites to GA4. For context, see:

- https://github.com/cncf/techdocs/issues/108

---

Tasks:

- [x] Create a GA4 tag (measurement ID) under the CNCF account
  - The new measurement ID is **`G-KSEVGGNCJW`**. Note that the UA and GA4 ids are now [connected].
- [x] Upgrade the microsite to use `gtag.js` for configuring the new GA4 si

[2022-07-15 13:01] chalin commented on #12658
/assign @chalin

[2022-07-15 13:58] chalin commented on #12019
Hi @jhaals. In support of the microsite's migration to Google Analytics 4 (via #12658), a small config change is needed when migrating to Docusaurus v2:

[code]

[@docusaurus/plugin-google-gtag]: https://docusaurus.io/docs/api/plugins/@docusaurus/plugin-google-gtag

Actually, if possible, can you try setting up both the UA _and_ the GA4 tag? The GA4 tag is `G-KSEVGGNCJW`. If not, once the upgrade

[2022-07-15 14:06] iamEAP commented on #7502
Oh! This is now handled by convention.

Check out this PR for details: https://github.com/backstage/backstage/pull/9166

[2022-07-15 14:06] #7502 closed

[2022-07-15 14:47] taras commented on #8108
I think we can probably close this. I don't really need it and if no one else does then we're good.

[2022-07-15 14:47] #8108 closed

[2022-07-15 15:12] manuelstein commented on #10574
I'm seeing the same problem with these versions.
[code]

It seems that the S3 library is the origin of the [NoSuchKey error](https://aws.amazon.com/premiumsupport/knowledge-center/404-error-nosuchkey-s3/) and maybe it's just not being caught properly.

Here's the try clause from which the 'malformed error' comes:
https://github.com/backstage/backstage/blob/b473f8f8feeda229ec2491d31b3b2176b9e78dd9/

[2022-07-15 15:40] Crevil commented on #12634
You'r a machine 🙌 Thank you 🎉

[2022-07-15 15:40] #12634 closed

[2022-07-15 15:43] manuelstein commented on #10574
Unfortunately I don't know how to test a fix. I've copied `techdocs-node` into my `plugins/` folder, applied what I think fixes it, but when I run `yarn workspace backend start --config ../../dev/app-config.yaml`, the build succeeds and then it complains `
[code]

[2022-07-15 16:43] angeliski commented on #12634
Hey @Rugvip Is there some pattern to use the same approach for plugins?
For example, the [tech-insights-backend](https://github.com/backstage/backstage/tree/master/plugins/tech-insights-backend#running-fact-retrievers-in-a-multi-instance-installation) need a env to limit how is running the checks. I believe the plugin should be update to match multiple instances too, so, how we can do that?

[2022-07-15 16:58] aswathysen commented on #12644
you can use `const payload = JWT.decodeJwt(options.token) as object & {` this works since you are using new version of jose
@tonyhsuclrous

[2022-07-15 18:21] mclarke47 commented on #12231
@liamrathke I think the existing endpoints use option 2 because of the possibility that some clusters can return an error and some don't. It might be good to standardise our multi-cluster responses with a similar format, which would make me favour 2

[2022-07-15 18:52] #11153 closed

[2022-07-15 19:02] benjdlambert commented on #12648
There's only one template shipped with the demo data. There are some other example templates in this repository here: https://github.com/backstage/software-templates

[2022-07-15 19:03] benjdlambert commented on #12648
You can also read through this documentation on how to add additional templates to the catalog: https://backstage.io/docs/features/software-templates/adding-templates

Closing this as this is expected behaviour.

[2022-07-15 19:03] #12648 closed

[2022-07-15 22:50] tonyhsuclrous commented on #12644
Thanks! I can insert codes from the tutorial without errors.
@aswathysen

[2022-07-15 22:50] #12644 closed

[2022-07-15 23:45] tonyhsuclrous opened #12673 "Can't sign-in after using 'Authenticate API requests'"
## Expected Behavior

I'm following the tutorial [Authenticate API requests](https://github.com/backstage/backstage/blob/master/contrib/docs/tutorials/authenticate-api-requests.md).

After inserting codes into my app and backend, I can't sign-in with google auth provider. It works fine before.

The sign-in page shows `Request failed with 401 Error`
[code]

`packages/backend/src/index.ts`
[code]

`

[2022-07-16 02:03] lnavarette opened #12676 "allow swagger ui plugin configuration on the api entity page"
## Feature Suggestion

Allow [swagger UI configuration](https://swagger.io/docs/open-source-tools/swagger-ui/usage/configuration/) to include plugins.

## Possible Implementation

A hook seems like the smallest footprint way of achieving this. From a user perspective, I would just wrap my entity definition card in a provider, defining swagger UI configuration. Specifically, I'm looking for plugins

[2022-07-16 02:57] namco1992 commented on #10183
@ONordander Cool! I will leave it for you then, look forward to your PR 😃

[2022-07-16 05:31] tonyhsuclrous commented on #12673
This issue is caused by below sign-in resolver code.

[code]

The resolver needs to query EntityProfileEmail before signing in, which is blocked by the `authMiddleware`.

Any suggestion on how to make a query before sign-in success?

[2022-07-16 07:35] tonyhsuclrous commented on #12673
Closing due to this is an edge case.

[2022-07-16 07:35] #12673 closed

[2022-07-16 10:30] snehaljos commented on #12587
hi @benjdlambert can I give it a try?

[2022-07-16 14:24] chalin commented on #12658
We're done! The GA4 tag is processing website events:

[2022-07-16 14:24] #12658 closed

[2022-07-16 14:25] chalin opened #12677 "[microsite] Use GA4 as main site tag"
This is a followup to #12658.

[2022-07-16 14:25] chalin commented on #12677
/assign @chalin

[2022-07-17 12:31] andrmaz commented on #11428
@Rugvip I’m intrigued to know if I can consider changing the curve factory and consequentially remove the arrow marker as a possible practical solution, even though the design would be noticeably different.

![backstage_curve-step-before](https://user-images.githubusercontent.com/60042277/179397770-0d57109c-667d-489e-8625-c771fc8ae322.png)

[2022-07-17 21:55] kissmikijr commented on #9874
I have somehting for this, somewhere, just got stuck on some styling i believe, I'll dig it out and finish it!

[2022-07-18 05:10] parnita-saha opened #12687 "[ API docs plugin] The plugin is unable to resolve the $ref field when the models(schemas) are defined in a separate file."
## Expected Behavior

The plugin should be able to resolve the schemas defined in a separate yaml file (e.g: models.yml) using the $ref field.

## Actual Behavior

The plugin fails with error "Resolver error at paths". (PFA)

## Steps to Reproduce

1. Create two swagger files in your project one containing path details and another containing model(schemas) details.
[code]
[code]
3. Register the AP

[2022-07-18 05:56] omerfarukdogan commented on #11537
The issue is still relevant.

[2022-07-18 06:59] Apaachai commented on #7664
@benjdlambert Yes please, I would like to provide a solution (create a pull request) for this issue.

[2022-07-18 08:09] benjdlambert commented on #12677
Assigned to you! :tada:

[2022-07-18 08:11] benjdlambert commented on #12587
Yep go ahead @snehaljos! Assigned!

[2022-07-18 08:13] benjdlambert commented on #12565
Contribution are welcome, do you want to contribute this @noisyscanner? :pray:

[2022-07-18 08:20] benjdlambert commented on #9706
Closing as duplicate of #12609

[2022-07-18 08:20] #9706 closed

[2022-07-18 08:23] #8171 closed

[2022-07-18 08:28] benjdlambert commented on #6618
Probably can remove these now as they've been deprecated a long time! :pray:

[2022-07-18 08:31] benjdlambert commented on #5753
@soapraj this is stale, but not sure if it's of value to you?

[2022-07-18 10:51] manuelstein commented on #12259
I've also put this on my roadmap and was also eyeing `mike` (@awanlin). I was thinking a custom TechDocsReaderPageContent could do the job and offer a dropdown version selector similar to how mike renders multiple versions.

Some of our projects may be using sphinx, too, so our target would be to decouple the multi-version solution from rendering (as in the [recommended deployment setup](https://b

[2022-07-18 11:00] manuelstein commented on #12308
If the Backstage container should build the docs, then you need to uncomment the lines that would install Python:
[code]
And, AFAICT, it could be that some nodejs package can not use python correctly, because its scripts resolve the binary from the npm config. With the installation, you'd have the binary `python3` in your path, but not as `python`. It requires `RUN yarn config set python /usr/bin/

[2022-07-18 11:08] bcamishrapr opened #12691 "Backstage.io Backend not connecting on deploying on EKS(kubernetes) cluster"
## Expected Behavior

On Deployment of Backstage on kubernetes , Frontend should connect to backend to fetch the entities.

## Actual Behavior

Frontend is not able to connect to backend for fetching the entities getting **"could not fetch catalog entities"**

![image](https://user-images.githubusercontent.com/43287406/179499153-8c9d4afd-aa6c-47bd-9f3e-2f89e891e01c.png)

## Steps to Reproduce

--

[2022-07-18 11:17] kissmikijr commented on #12687
Is this issue present when you have the OpenApiRefProcessor configured?

https://github.com/backstage/backstage/tree/master/plugins/catalog-backend-module-openapi

[2022-07-18 11:19] #12553 closed

[2022-07-18 12:11] benjdlambert commented on #8047
Related https://github.com/backstage/backstage/pull/11551

[2022-07-18 12:28] szajcz opened #12694 "Additional UI elements to Software Templates"
## Feature Suggestion

Initially Backstage gives quite limited freedom when it comes to changes to the UI elements of its Software Templates. When a Software Template is successfully executed, the related links (listed in the output of the Software Template) are displayed. An additional primary button after the execution of the Template (besides the 'Start over' button) could emphasize the action

[2022-07-18 12:54] #9208 closed

[2022-07-18 12:58] benjdlambert commented on #12562
@IanTurtle so I just tried playing with this in the upstream library playground and it looks like it exhibits the same behaviour there. Using the following at https://rjsf-team.github.io/react-jsonschema-form/ does the same thing.

[code]

Do you perhaps want to raise this issue with the upstream library and/or have a look see if this is an open issue there already? https://github.com/rjsf-team/re

[2022-07-18 13:59] kuangp commented on #6618
hm was there a deprecation notice? I'm actually using the Filtered Table component in a new plugin I'm developing and didn't see any warning that it's going away besides this issue.

[2022-07-18 14:13] benjdlambert commented on #6618
@kuangp where are you importing the `FilteredTable` from?

[2022-07-18 14:34] kuangp commented on #6618
I'm doing `import { Table } from '@backstage/core-components';` and then setting the `filters` prop as described in the story: https://backstage.io/storybook/?path=/story/data-display-table--filter-table

Are we talking about a different `FilteredTable` component here? 😅

[2022-07-18 15:03] wanisfahmyDE opened #12698 "Deployment on EKS fails with `Error: Cannot find module '/app/packages/backend'`"
## Expected Behavior

Hi there, I am trying to deploy backstage to EKS, I am building the docker image as per the docs [here](https://backstage.io/docs/deployment/docker#host-build).

The Dockerfile is the one provided when creating a backstage-app `v1.3.1`

As we're running an RDS DB as postgres backend in AWS already in place, this is part of the Dockerfile that was commented out:
`
   RUN apt-g

[2022-07-18 15:21] SoccerBoyMalloy opened #12701 "Add support for disabling app-config validation at build time"
We're deploying Backstage to several k8s environments and we're using kustomize to define per-environment entrypoints that each include their own `app-config.<environment>.yaml` config files. In an effort to reduce duplicate configuration, we're consolidating all common configuration into `app-config.yaml` - this common config includes references to environment variables. Now when we `yarn build`,

[2022-07-18 15:47] benjdlambert commented on #6618
I think we are, I'm pretty sure that it's already gone. Think it was something completely different :pray:

[2022-07-18 15:52] #12677 closed

[2022-07-18 15:57] benjdlambert commented on #12691
You want to set that value to the value that is publicly accessible from the browser. So if I deploy it under `bob.backstage.com` it's probably going to need to be set to `bob.backstage.com:7007` if that's where I'm running the backend at build time to get in to the docker container.

[2022-07-18 15:59] benjdlambert commented on #12694
I wonder if it make sense to provide an override prop for the component that renders the `outputs`, and you can provide your own, and you will get given finished template output and you can render them how you like. That way you can come up with your own contract and render some things all the time, and some things optionally depending on what you get back as an output?

[2022-07-18 16:48] unredundant commented on #6692
First version going out in the next release 🚀

[2022-07-18 17:44] prasoon-pxc commented on #12691
@benjdlambert  -- Thanks for replying, I had already done this after some  R&D,  after creating this issue but this small things should be mentioned in doc (https://backstage.io/docs/deployment/docker) .

[2022-07-18 17:46] #12691 closed

[2022-07-18 17:48] bcamishrapr commented on #12691
This is resolved now after mentioning frontend url from k8s ingress and commenting out port section from listen

[2022-07-18 17:52] N426ER opened #12704 "Make backend-tasks retry logic configurable"
## Feature Suggestion

- If a scheduled backend task cannot complete, Backstage enters a high-frequency retry loop with a random retry interval that does not stop until the task is successful.
- I want to open a discussion to understand if the retry interval can be configurable and what that would look like.

## Possible Implementation
- Have a bool flag on TaskScheduleDefinition that would enable

[2022-07-18 21:55] rankin-tr commented on #12673
I am running into this as well. Is there any guidance for authenticating API requests in conjunction with sign-in resolvers?

[2022-07-18 22:13] pjungermann commented on #12586
@namco1992 as of the docs at `BitbucketIntegrationConfig.username` it was meant to be used by Bitbucket Cloud only. For Bitbucket Server, https://confluence.atlassian.com/bitbucketserver/personal-access-tokens-939515499.html was referenced for auth at `BitbucketIntegrationConfig.token`.

This was the reason for `BitbucketServerIntegrationConfig` to only contain `token`.

Based on what you describe

[2022-07-19 08:24] Xantier commented on #11519
Closed with PR https://github.com/backstage/backstage/pull/11623

[2022-07-19 08:24] #11519 closed

[2022-07-19 08:51] szajcz commented on #12694
Yes, it makes perfect sense. We discussed having more complex designs on our Templates and this would allow us to personalize the outputs the way we want.

[2022-07-19 08:53] prasoon-pxc opened #12720 "Restrict backstage access to only specified memebers from a Github"
### Discussed in https://github.com/backstage/backstage/discussions/12719

<div type='discussions-op-text'>

<sup>Originally posted by **prasoon-pxc** July 19, 2022</sup>
I have setup Github App auth providers in backstage for authentication purpose but now I want to restrict only users to access backstage which is members of my github organizations? How it can be done</div>

[2022-07-19 09:47] cmoulliard commented on #12698
Did you build the image at the root of the generated/created project ?
[code]

[2022-07-19 11:57] wanisfahmyDE commented on #12698
@cmoulliard changing the permissions on the working directory /app in the Dockerfile worked for me, I am not sure if this is the best approach though.

The Dockerfile for reference:

`FROM node:16-bullseye-slim

WORKDIR /app

COPY yarn.lock package.json packages/backend/dist/skeleton.tar.gz ./
RUN tar xzf skeleton.tar.gz && rm skeleton.tar.gz

RUN yarn install --frozen-lockfile --production --netw

[2022-07-19 12:05] #12489 closed

[2022-07-19 12:05] #12419 closed, assigned to nobody

[2022-07-19 12:05] #12418 closed, assigned to nobody

[2022-07-19 12:05] #12299 closed

[2022-07-19 12:41] #12698 closed

[2022-07-19 12:47] cmoulliard commented on #12698
As I do not have any issues running my container image using [kind kubernetes](https://kind.sigs.k8s.io/) locally and this helm chart - https://github.com/vinzscam/backstage-chart, I'm then interested to know which flavor of k8s your are using like the pod security - https://kubernetes.io/docs/concepts/security/pod-security-policy/#users-and-groups ?

[2022-07-19 13:35] JosefBocan opened #12730 "Error in catalog"
## Expected Behavior

I am expecting to be able to see the catalog without any issues.

## Actual Behavior

I am seeing the error in catalog. for example if I open <host>/catalog/default/resource/live-db-slave I am seeing this error.

## Steps to Reproduce

Here I would like to share my settings where you can see what I am configuring and how. I am honestly wondered that its able to scrape but sti

[2022-07-19 14:03] n3rd253 opened #12732 "Aqua Security Scan Results in multiple CVEs. Began this weekend of 7/16"
Hello!

We use aqua security scanning to test backstage before deploying to our intranet.  This weekend new CVEs have been added that leave backstage exposed, and us blocked.

Would love to know when this plans to be resolved, and if this is something you were already aware of! :)

/usr/local/lib/python3.9/dist-packages/mkdocs/themes/mkdocs/js/jquery-1.10.2.min.js
[CVE-2015-9251](https://web.nvd.n

[2022-07-19 14:20] timbonicus commented on #10652
@jrusso1020 No update at the moment as attention has been elsewhere, but I am striving to get back to this soon with some more experimentation.

[2022-07-19 14:37] Vegim opened #12734 "Scaffolder editor in the new backstage 1.3.0 is not working"
## Expected Behavior

The template should be triggered by the new scaffolder editor.

## Actual Behavior
The create button on the end of the input-providing step is always disabled

## Steps to Reproduce
Fill in the required inputs in the scaffolder part of the app and the create button is always disabled.
This is happening with the example template that is provided by backstage and also with all

[2022-07-19 16:01] wanisfahmyDE commented on #12698
we are running on AWS EKS and following the standard pod security recommendations from k8s here:
https://kubernetes.io/docs/concepts/security/pod-security-standards/
one of the policies applied are "Running as Non-root" which causes the container to run with a user that does not have write permissions to /app/backend/* folders

[2022-07-19 19:25] timharris777 commented on #7868
This is still a desired feature. Please don't close.

[2022-07-19 20:49] awanlin opened #12740 "Failed to read response error using UrlReader with Bitbucket Server"
## Expected Behavior

Reading URLs with the `UrlReader` and Bitbucket Server should continue to work without errors as it previously was

## Actual Behavior

Using the `UrlReader` with Bitbucket Server we are getting the following error: "Failed to read response from <Url that was passed to the `UrlReader`>

## Possible Solution

From debugging this the issue seems to come from the assumption that

[2022-07-19 20:51] awanlin commented on #12740
@carlitose @pjungermann @dhruvaldarji could use your thoughts on this, please

[2022-07-19 21:01] awanlin commented on #12740
As I debug `branch` for me at the end of this URL is an empty string, I'm wondering if that's why I'm getting different results then when this was implemented/changed in #12485

https://github.com/backstage/backstage/blob/b67946b7f03cc0a33b36f3e48ec8d4382080ba39/packages/backend-common/src/reading/BitbucketServerUrlReader.ts#L192

The URL I'm using is formatted like this: `https://bitbucket.compan

[2022-07-19 21:15] awanlin commented on #12740
OK, looking more closely at #12485 it seems this was removed so I think this would be a slightly better solution then mine above

[code]

[2022-07-19 21:19] dhruvaldarji commented on #12740
@awanlin, the above pageable response you are seeing occurs when the Backstage Backend cannot determine what the `branch` ref is and sends the Bitbucket requests with an improper or missing branch reference. In this situation, Bitbucket returns its pageable API response instead of its commit HEAD response. This typically means that the branch you are looking for either could not be parsed from the

[2022-07-19 21:53] rodmachen opened #12743 "Sharable TechDocs: Export Backstage Docs in Plugin Form"
How can official Backstage documentation be made available in deployed Backstage instances.

## Feature Suggestion

Our users would benefit from being able to read not only our custom Backstage documentation but also the official Backstage docs. Having a way to read both inside of a deployed Backstage instance would be ideal.

## Possible Implementation

There is currently Architecture Decision Re

[2022-07-19 23:57] awanlin commented on #12740
@dhruvaldarji, thanks for the details, glad to know my understanding matches other Bitbucket Server users.

I'm pretty close to having a PR in place to fix this just need to sort out the tests

[2022-07-20 00:14] chuliang014 opened #12745 "Techdocs publish failed on github actions"
## Expected Behavior

docs can be released as normal

## Actual Behavior

I've pass `--entity` argument, but still got an error that argument is missing.
<img width="863" alt="image" src="https://user-images.githubusercontent.com/56138162/179868892-e3e15a7f-c3e7-4c6e-9ce2-3cdb39a3687f.png">
<img width="642" alt="image" src="https://user-images.githubusercontent.com/56138162/179868913-f2edee6a-e29f

[2022-07-20 02:40] lnavarette commented on #12676
@benjdlambert sure. Does the implementation I described make sense to you?

[2022-07-20 06:12] pieterv-icloud-com opened #12750 "Entity reference must not be empty"
## Expected Behavior

I should be able to run a template

## Actual Behavior

Create process fails with:

```Backend request failed, 500 Internal Server Error {"error":{"name":"Error","message":"Entity reference must not be empty","level":"error","service":"backstage"},"request":{"method":"POST","url":"/api/scaffolder/v2/tasks"},"response":{"statusCode":500}} (1 older message)```

## Steps to Repr

[2022-07-20 07:11] parnita-saha commented on #12687
Hi @kissmikijr Thank you for the suggestion. Unfortunately, the issue still exist after configuring the  " OpenApiRefProcessor".

![ApiProcessor](https://user-images.githubusercontent.com/48051452/179919292-bb77c2d1-0dcc-4da1-ba7b-8b6d2753338c.PNG)
![packageJson](https://user-images.githubusercontent.com/48051452/179919314-7dde2004-2e78-4015-a2b7-ec203b2fa595.PNG)
"

[2022-07-20 07:27] vijayakumarbathini opened #12751 "Large Text not properly getting aligned in Tools Section in Home Page Plugin"
## Expected Behavior

If tool name length is big, text should be wrapped instead of using the same line. So spacing between tools looks good.

## Actual Behavior

The size of the tool is matching the name of the tool and loosing uniqueness in the section

## Steps to Reproduce

Add tool with name > 30 chars, so it can show the mismatched CSS

## Context

## Your Environment

- Browser Information:

[2022-07-20 08:06] #12380 closed

[2022-07-20 09:33] lon-io opened #12756 "Newrelic Plugin returns 404 Not Found for applications.json proxy url"
## Expected Behavior

I have followed the docs [here](https://github.com/backstage/backstage/tree/master/plugins/newrelic) to the letter, and everything should work fine based on that

## Actual Behavior

However, I always get the following response: `Error communicating with New Relic: Not Found`

And in the Network tab - `404 Not Found`

In the console:
<img width="641" alt="image" src="https://

[2022-07-20 10:21] benjdlambert commented on #12676
Yeah, I mean there is also the option to pass the options in as a prop to the widget itself right? Maybe that's simpler? Depends what you feel is best. Happy for you to open a draft PR and we can talk more over the code?

[2022-07-20 12:01] tonyhsuclrous commented on #12673
Bypassing sign-in resolver in the authMiddleware is better than nothing.
[code]

[2022-07-20 12:04] #12637 closed

[2022-07-20 12:13] drankou commented on #12687
Having the same issue here
`Could not resolve reference: Tried to resolve a relative URL, without having a basePath.`

[2022-07-20 12:16] kissmikijr commented on #12687
Ah, bummer, I didn't try out the new processor, but I will soonish and I can try to dig into it what's going on!

[2022-07-20 12:29] manuelstein commented on #10574
Ok, I've put both techdocs-node and techdocs-backend in my plugin path and was able to at least cover the "Encountered error with no message", but the container is still dying.

[2022-07-20 12:30] manuelstein commented on #10574
@benjdlambert has this become stale because the fix is already in?

[2022-07-20 12:35] benjdlambert commented on #10574
No apologies, I marked this as `stale` accidentally by the looks of things. Too many tabs open 😱

[2022-07-20 16:14] cloudy-dayzz opened #12757 "[RFC] Persistent Session Store"
**Status:** Open for comments
The intention behind this RFC is to attempt to solve issues when running backstage within kubernetes when authentication is provided by an OIDC provider or similar.

## Need
I am proposing this change as when pods are scaled above 1 inside of kubernetes, then a user would need to re-login to each pod as it has a session store stored in memory.
This also stops the abil

[2022-07-20 16:34] dallasgutauckis commented on #2815
De-stale-inating. This is still a bug. We had someone else run into it again today.

[2022-07-20 17:51] mufaddal7 opened #12760 "[RFC] Better way of showing errors when using Scaffolder (exception handling)"
**Status:** Open for comments

## Need

When the scaffolder is running a happy scenario everything works fine, but whenever the scaffolder is failing it throws general errors and logs, which is very confusing for end users.

We need a clear display of errors when the scaffolder is performing the stack of actions. We can show it in a similar way to how it's shown in other backstage components. Eg P

[2022-07-20 18:03] ericvoshall opened #12761 "Error reading GitHub URLs"
## Expected Behavior

GitHub Discovery and URL reading should work without issue when using GitHub Apps.

## Actual Behavior

Receiving errors when trying to create Location entities.

[code]

## Steps to Reproduce

1. Have Backstage configured to use GitHub Apps for GitHub integration
2. Configure a `github-discovery` Location or add a `url` location that is a GitHub URL.
3. Run Backstage
4. Erro

[2022-07-20 21:57] chuliang014 commented on #11113
I'm also running into this issue, `viewTechdocLink` always `undefined`.
[code]

[2022-07-20 23:11] lucasteligioridis commented on #10035
So coming back to this, I tweaked my permissions to look like below and it works correctly now, no more errors or 500s and the metrics are loading great:

[code]

I added a wildcard in the `apiGroups` for the main resources, so obviously there is something there that was causing an issue previously, but this at least indicates that it was a permission issue?

Would be good if the backstage documen

[2022-07-21 05:40] dublx commented on #12757
+1

[2022-07-21 06:09] NishkarshRaj commented on #12757
Linking another open discussion by @cloudy-dayzz here:

https://github.com/backstage/backstage/discussions/12564

@freben @Rugvip @benjdlambert - Would love to hear your thoughts around HA and Scaling Backstage in a microservice architecture.

[2022-07-21 06:13] NishkarshRaj commented on #12760
This is awesome and will add lots of value 💯

[2022-07-21 06:43] stichiboi opened #12767 "[Scaffolder] Action to set custom variables to reuse in the template"
## Feature Suggestion

Dummy action `dummy:variables` that takes anything as input and provides it as output

## Context

I'm using `fs:rename` to modify the path and name of my skeleton files. This requires a bit of concatenation and replacing

Since I need to provide links to the files in several places, it's a hassle and I will make mistakes sooner or later

I tried using [Nunjucks variables](h

[2022-07-21 07:09] prasoon-pxc commented on #12720
I would suggest that right now backstage is not mature enough to handle authentication but for the workaround , if you have setup Github Auth providers then use sign in identities and resolvers:

# Here is the Detailed Steps:
 ## Import Your Github Organizations user data in Backstage
-- First import your Github organizational Data from GitHub on your Backstage identity  , link for the ref [GitHub

[2022-07-21 07:09] #12720 closed

[2022-07-21 08:19] lon-io commented on #12756
@Rugvip could you please help there?

[2022-07-21 11:28] ONordander commented on #10183
@pjungermann looking into what we are running locally and realized that I need to make changes to https://github.com/backstage/backstage/tree/master/packages/integration/src/bitbucketServer, to add possibility for username/password authentication.
What's the easiest way of doing that, a separate PR for the integration?

[2022-07-21 12:02] benjdlambert commented on #10035
Would you like to raise a PR to the documentation for the k8s plugin to show your `ClusterRole`?

[2022-07-21 12:33] pjungermann commented on #10183
@ONordander I got you covered with that via PR #12711 related to another issue. It is waiting for confirmation by a Bitbucket Server user. Currently, we were hoping that @namco1992 can test it. But maybe you can give it a shot, too :)

[2022-07-21 13:57] NishkarshRaj commented on #10862
Not stale

[2022-07-21 13:57] NishkarshRaj commented on #10862
@Rugvip

[2022-07-21 14:19] sharadpattanshetti commented on #9874
Interested...

[2022-07-21 15:15] #12740 closed

[2022-07-21 19:54] lucasteligioridis commented on #10035
@benjdlambert more than happy to, I'm not familiar enough with the codebase, where is the documentation for this plugin exactly?

[2022-07-21 20:13] mustafazeya commented on #12503
@kjuulh @benjdlambert How can we include this in our existing templates? what should be the version of the scaffolder-backend plugin for using this feature?

[2022-07-21 21:22] oliveirafilipe commented on #12613
Oi @Rafa3001, tudo certo?

Acho que por estar em pt-br o título e descrição da Issue, talvez a comunidade não tenha tanta facilidade para te ajudar.

Tenho pouco conhecimento da ferramenta ainda mas me chamou atenção o título e descrição e pt-br então parei para ver e conseguiria ajudar em algo.

Tem mais informações sobre tua instalação? Por exemplo, estás rodando em Windows ou Linux (qual distro

[2022-07-22 05:39] mfrinnstrom commented on #12687
I have always referenced using relative paths like in the example below so maybe adding a `./` before `models.yml` might work. This might not be a viable option for everybody though. I'm on vacation right now but I will see if I can get your example working.

[code]
I have a full example here: https://github.com/mfrinnstrom/backstage-openapi-ref-example
Behind the scenes it is using the following

[2022-07-22 06:55] ONordander commented on #10183
Nice, I'll try to get it running today for testing.

[2022-07-22 07:19] jotka opened #12784 "npx @backstage/create-app and then empty screen and javascript error"
## Expected Behavior

I would like to have an empty instance to play with.

## Actual Behavior

an empty screen and javascript error

![image](https://user-images.githubusercontent.com/2701356/180385127-0cc68935-52eb-43e8-8616-f3ee16c8c9d9.png)

## Steps to Reproduce

1. npx @backstage/create-app
2. cd myapp && yarn dev
3. open [localhost:3000](http://localhost:3000)

## Context

## Your Environme

[2022-07-22 07:20] tanguyantoine commented on #3366
This extension has been released in June: https://marketplace.visualstudio.com/items?itemName=Intility.vscode-backstage

https://github.com/schemastore/schemastore/ contains a json schema definition which is being used by https://marketplace.visualstudio.com/items?itemName=redhat.vscode-yaml

[2022-07-22 10:36] cinlysobin opened #12786 "Custom explore page: AcmeInnserSourceExplorerContent not defined"
## Expected Behavior

The toolset currently used by the organization needs to be displayed in the Tools session of explore page

## Actual Behavior

The default page is giving a common set of tools that are not currently used by the organization. On customization ExplorePage.tsx error like "AcmeInnserSourceExplorerContent" not defined.

## Context

Need to get a customized Tools page with currentl

[2022-07-22 12:04] github-actions[bot] opened #12788 "Snyk vulnerability [SNYK-JS-FILETYPE-2958042]"
## Affecting Packages/Plugins

* [@backstage/plugin-techdocs-node](plugins/techdocs-node/package.json)

## Overview

Affected versions of this package are vulnerable to Denial of Service (DoS). A malformed MKV file could cause the file type detector to get caught in an infinite loop. This would make the application become unresponsive and could be used to cause a DoS attack.

## Details

Denial of

[2022-07-22 12:26] awanlin commented on #12786
Hi @cinlysobin, `<AcmeInnserSourceExplorerContent />` is just example code and not a real component. This is just trying to show you that you need to create your own content for this. You could put `<div>My Company Inner Source</div>` instead of <AcmeInnserSourceExplorerContent />` for example. Once you go down the path of customizing this you need to build up how you want this to look for your ne

[2022-07-22 12:49] benjdlambert commented on #12784
Closing this as duplicate of #6039

[2022-07-22 12:49] #12784 closed

[2022-07-22 12:57] benjdlambert commented on #12767
So to give some reasoning why the `nunjucks` variables don't work, it's only the values in the steps that are templated. Not the entire `yaml` document, so it's why you were getting that error as the `yaml` is not longer valid.

I'm wondering if it makes sense to have another option for this instead and treat this as first class. But it needs some more thought.

Something like:

[code]

It's kind

[2022-07-22 14:55] #11753 closed

[2022-07-22 15:06] dayadev opened #12792 "CatalogKindHeader dropdown takes time to open"
## Expected Behavior

When clicked on `Kinds` dropdown, the dropdown should open without any delays

## Actual Behavior

I am having issues with CatalogKindHeader which is basically a dropdown of all kinds. the dropdown takes a few seconds to load when I started adding more entities like I have injected around 20k entities of kind user. I don't see any logs in the browser console but looks like it

[2022-07-22 19:30] chinigo commented on #12231
I'd like to make an argument for the first response format as well.

Sticking to the format that the K8s API provides will allow any standard Kubernetes client to use this API. I agree with @jamieklassen when he says "this might be a bit ambitious," but I think it's within the realm of possibility and worth the attempt.

## Library & client compatibility

From the perspective of a plugin author ta

[2022-07-22 22:55] tonyhsuclrous opened #12804 "TechDocs search does not work with 'Authenticate API requests'"
## Expected Behavior

My App has implemented [Authenticate API requests](https://github.com/backstage/backstage/blob/master/contrib/docs/tutorials/authenticate-api-requests.md).

TechDocs search should use IdentityApi for API requests authentication.

My App has to bypass below API request patterns in the authMiddleware for TechDocs search to work.
[code]

## Actual Behavior

TechDocs search API r

[2022-07-23 00:03] tonyhsuclrous opened #12805 "TechDocs Addons 'ReportIssue' does not work with GitLab"
## Expected Behavior

ReportIssue should work with GitLab.

## Actual Behavior

Below URL path does not work.
[code]

Change the path as shown below will work.
[code]

## Steps to Reproduce

See above.

## Context

ReportIssue does not work with GitLab.

## Your Environment

- Browser Information:
Google Chrome 103.0.5060.114
- Output of `yarn backstage-cli info`:

[code]

[2022-07-23 02:58] tonyhsuclrous opened #12806 "Catalog 'Policy check failed' repeats without end"
## Expected Behavior

My App should not keep sending warning logs about Policy check failed on entities which do not exist anymore.
[code]

## Actual Behavior

My App keeps sending warning logs without end.

## Steps to Reproduce

1. Set the namespace of an entity with bad format.
2. Delete the location entity of the entity in step 1.
3. Warning logs on Policy check failed never ends.

## Context

[2022-07-23 06:18] mfrinnstrom commented on #12687
@parnita-saha I took some time to look into this. It seems this error shows up when the referenced file can't be found. This leaves the reference in place and then the UI will fail to load that referenced file. I'm thinking you have verified the filename so a more likely scenario would be that the `catalog-info.yaml` and `openapi.yaml` files are not in the same folder.

I have added another exampl

[2022-07-23 08:09] #11539 closed

[2022-07-23 12:57] asheerrizvi commented on #12609
@benjdlambert wasn't able to work on this the previous weekend. Will try to take this up this time around.

[2022-07-23 19:09] benjdlambert commented on #12609
@asheerrizvi no worries - It's all good! 👊

[2022-07-24 04:45] tonyhsuclrous opened #12808 "techdocs.publisher.type=googleGcs service account with role 'Storage Object Admin' does not work"
## Expected Behavior

techdocs.publisher.type=googleGcs should work with a service account role `Storage Object Admin` as stated in the [doc](https://backstage.io/docs/features/techdocs/using-cloud-storage).

## Actual Behavior

techdocs.publisher.type=googleGcs needs permission `storage.buckets.get`, which is not in role `Storage Object Admin`.

Using role `Storage Admin` does work, but there mig

[2022-07-24 08:32] marcus-crane commented on #5355
I got a bit carried away this weekend and started hacking up the Kubernetes plugin to build something similar for ECS

I got a fair amount of a plugin working and while the concepts mostly translate across, there is still a bunch of fiddling needed for the UI to make sense.

Once I get it fleshed out to where it actually uses the AWS APIs (I'm currently using fixtures as I haven't written the back

[2022-07-24 12:07] tonyhsuclrous opened #12809 "TechDocs search does not work when url contains a capital letter - /docs/default/System/sdp"
## Expected Behavior

Accessing Docs from the left menu panel shows url with all lower case letters `/docs/default/system/sdp`, and the search function works fine.

Accessing Docs from the icon in the overview page of an entity shows url with a capital letter `/docs/default/System/sdp`, in this case the search function does not work.

## Context

Search function should work in both cases.

## Your

[2022-07-25 06:41] stichiboi commented on #12767
The `context` idea is definitely more intuitive for this purpose. I'm just not sure how to implement it, whereas the `action` is pretty straightforward to do.
Who can we ping to have some thoughts on this, so we can move forward?

[2022-07-25 07:06] stichiboi opened #12812 "[Plugin] Apache Airflow view DAGRun's logs"
## Summary

Referencing https://github.com/backstage/backstage/issues/11790, there should be a way to view a DAG's logs.

I see 3 options:
1. Create a [collapsible table](https://mui.com/material-ui/react-table/#collapsible-table) under the already existing DAGs table. But this means we cannot use the backstage `Table` component. Plus, where would you look at the logs?
2. Make a new table, where y

[2022-07-25 07:48] mfrinnstrom commented on #12687
I opened https://github.com/backstage/backstage/pull/12814 that adds support for defining a base path from which all `$ref` instances will be resolved. This allows you to have the specification in a separate folder from the `catalog-info.yaml` file. My [example](https://github.com/mfrinnstrom/backstage-openapi-ref-example/tree/main/basepath) has been updated and works with this PR.

[2022-07-25 07:53] asheerrizvi commented on #12609
@benjdlambert this one's a bit frustrating with the lack of any guide whatsoever lol. So I have got the project running on my local. Have upgraded recharts. For the typescript fixes I wanted to manually check if the graphs are working fine or not. Is there a way to do this on the UI for the plugins which need these upgrades?

[2022-07-25 07:58] benjdlambert commented on #12609
Hmm, some of them might have storybook stories, and as a workaround if there isn't any you could always just create a sample story for it and mock out the data that gets passed to the component?

[2022-07-25 08:12] benjdlambert commented on #12767
There's a few people out on vacation right now unfortunately, so I'm kind of the only maintainer working at the min.

I want to try and spend some time this week fleshing out the idea of merging this and #9461 together I think, as I think it solves both tickets and use cases pretty nicely.

Will update later this week.

[2022-07-25 08:23] benjdlambert commented on #8842
@Brend-Smits and anyone else that might be interested in contributing this. We now have the `github:repo:create` action, which we could add a `createFromTemplateRepo` or something option to?

[2022-07-25 08:26] peterleonardlie commented on #11686
hi @samiramkr , I'd like to follow up on this feature requests, have you heard anything from the designer? thanks!

[2022-07-25 08:28] parnita-saha commented on #12687
Hi @mfrinnstrom Thanks a lot for all the details and information. It is really helpful. I tried your suggestions and few more scenarios with the API folder structure that we use in our organization.
I renamed the `models.yaml` and` openapi.yaml` to `models-ps.yaml.yaml` and `openapi-ps.yaml`  as most of our yaml files are named in this format. Unfortunately, I got the same error stating "**Resolve

[2022-07-25 08:32] #12761 closed

[2022-07-25 08:36] asheerrizvi commented on #12609
Alright, thanks. Will try that.

[2022-07-25 08:39] benjdlambert commented on #10035
@ccodreanu can you try with the ammended `ClusterRole` and see if it works?

[2022-07-25 08:42] benjdlambert commented on #11653
@pjungermann your wish came true.
https://github.com/backstage/backstage/blob/master/scripts/api-extractor.ts#L200

[2022-07-25 08:46] benjdlambert commented on #12792
Hey :wave: We've got a focus on making the catalog a little more user friendly when you have large amounts of data. It's going to be taken care of all under this ticket I believe #12247

[2022-07-25 08:47] benjdlambert commented on #12806
Can you still see the entity the catalog?

[2022-07-25 09:09] #11264 closed

[2022-07-25 09:09] #11257 closed

[2022-07-25 09:09] #11247 closed

[2022-07-25 09:09] #11110 closed

[2022-07-25 09:09] #11109 closed

[2022-07-25 09:09] #11060 closed

[2022-07-25 09:09] #11015 closed

[2022-07-25 09:09] #10890 closed

[2022-07-25 09:09] #10822 closed

[2022-07-25 09:09] #10278 closed

[2022-07-25 09:21] mfrinnstrom commented on #12687
@parnita-saha thanks for the added information. Have you tried it with the PR code?

Adding `-ps` should be possible I believe. I'm mostly stitching together code from Backstage itself and the [@apidevtools/swagger-parser](https://www.npmjs.com/package/@apidevtools/swagger-parser) library to make this work.

I will try and add that as a case as well and see what happens.

[2022-07-25 09:28] parnita-saha commented on #12687
@mfrinnstrom I have not got a chance to check the code yet. I will take a look ASAP.

[2022-07-25 09:33] Pike opened #12815 "Documentation for genPageTheme needs update for props argument"
## Expected Behavior

The docs in https://backstage.io/docs/getting-started/app-custom-theme#example-of-a-custom-theme should use an object argument

## Actual Behavior

The docs use two options for colors and shape.

## Steps to Reproduce

1. Step 1
2. Step 2
3. ...

## Context

I think this goes back to https://github.com/backstage/backstage/pull/10145, CC @awanlin

## Your Environment

- Browse

[2022-07-25 10:04] tonyhsuclrous commented on #12806
No, the entity is under another namespace.

I will delete deleting the entity and observe the outcome.

[2022-07-25 10:21] pjungermann commented on #11653
Perfect! That will make it easier to reduce the list step by step. I couldn't get back to help on this one yet, but I didn't forget about it :)

[2022-07-25 10:50] tonyhsuclrous commented on #12806
Deleting the entity does not stop error logs show up every 2 minutes.

At the end of the log message we have `entity=component:sdp.today/ingress`, this entity should not exist at all.

[2022-07-25 11:04] benjdlambert commented on #12806
You'll most likely ned to delete the Location that it's emitting this entity. How did you add the location to Backstage in the first place? Did you add it under `Import`? or do you have `github-discovery` or something setup?

[2022-07-25 11:07] tonyhsuclrous commented on #12806
Yes, I have also remove the Location which spawn the entity.

I use the `Register an existing component` to add the location.

[2022-07-25 11:30] benjdlambert commented on #12806
Hmm, if you've removed the location entity from backstage using the UI then it should not longer be processed. Is it possible that this is another entity?

[2022-07-25 11:46] #11547 closed

[2022-07-25 11:48] tonyhsuclrous commented on #12806
I have an alpha env which has the same issue.

I can remove everything and observe the outcome.

I need to make a plan. Will be back.

[2022-07-25 12:09] awanlin commented on #12815
@Pike, good catch, totally missed this with the other changes I made. Would you like to submit a PR to correct this? If not I can.

[2022-07-25 12:43] garyniemen commented on #5696
@vcapretz @saptaswapal Can this issue be closed?

[2022-07-25 12:49] garyniemen commented on #6360
@dtuite Do you know if this issue progressed? Can the issue be closed or...?

[2022-07-25 12:51] garyniemen commented on #5596
@camilaibs For your review list this week perhaps.

[2022-07-25 12:55] garyniemen commented on #9178
@dehamzah Are you still held up by this?

[2022-07-25 13:19] stephanschielke commented on #12250
I can confirm this is working with JetBrains Webstorm and DTDs configured as well.
I'm using the `schemastore` `catalog-info.json`:

![Selection_2741](https://user-images.githubusercontent.com/401815/180786501-becc9322-ff9e-4d0d-b346-4ca16f553881.png)
![Selection_2740](https://user-images.githubusercontent.com/401815/180786508-9bc4a8e3-436e-44a7-a764-e4604488f050.png)

[2022-07-25 13:21] garyniemen commented on #10574
@camilaibs Another one for your PR review list - if you have time

[2022-07-25 13:27] garyniemen commented on #12279
@Vegim Can this issue be closed?

[2022-07-25 13:28] thi2pra1 commented on #12586
This PR will save us here in our company
thank you so much

[2022-07-25 14:58] ottosichert commented on #11512
Closing this issue as @benjaminr has changed the underlying library in https://github.com/backstage/backstage/pull/12090 which eliminates this problem! 🎉

@nadworny if you still encounter this issue, please feel free to re-open this issue so we can troubleshoot 🙏

[2022-07-25 14:58] #11512 closed

[2022-07-25 15:00] ottosichert commented on #11563
The related issue has been fixed now with https://github.com/backstage/backstage/pull/12090!

@CitsGit could you verify it also fixes this issue with JAR files?

[2022-07-25 15:06] #12586 closed

[2022-07-25 16:32] tan31989 commented on #11429
Hi folks, I was trying to check if I could work on this. But, when I look at this, I thought the behaviour of zoom on a diagram could be a valid use case (personal thought). Any ideal workflow tools/graph, ideally allows us to scroll using mouse scroll. Not sure if I am missing something specific with this use case.

[2022-07-25 17:51] Vegim commented on #12279
@garyniemen Yeah sure you can close it. The soultion for this issue was mentioned by @iamEAP

[2022-07-25 18:00] #12279 closed

[2022-07-25 18:03] Vegim commented on #11113
Yeah I updated to version 1.3.0 and the issue still persists. I fixed it by doing a patch inside node modules but thats a really dirty solution and is goving headaches when that node packages have updates.

[2022-07-25 20:07] #12626 closed

[2022-07-25 20:07] github-actions[bot] opened #12824 "Snyk vulnerability [SNYK-JS-AUTOLINKER-2438289]"
## Affecting Packages/Plugins

* [@backstage/plugin-api-docs](plugins/api-docs/package.json)

## Overview
[autolinker](https://www.npmjs.com/package/autolinker) is an Utility to Automatically Link URLs, Email Addresses, Phone Numbers, Twitter handles, and Hashtags in a given block of text/HTML.

Affected versions of this package are vulnerable to Authentication Bypass by Spoofing when a `URL` stri

[2022-07-25 23:14] lucasteligioridis opened #12826 "Google GCS Discovery"
## Feature Suggestion

Would be great if the Google GCS configuration location had a "discovery" option like the AWS or Azure buckets.
I want to be able to just place configuration items in a bucket so that Backstage can just periodically look for all the matching yaml configuration and load it as necessary.

## Possible Implementation

Potentially just copying the way the AWS bucket discovery plu

[2022-07-25 23:27] tonyhsuclrous commented on #12806
I have deleted all entities and checked `/api/catalog/entities`.
[code]

The error logs keep showing up every 2 minutes.
[code]
Restart the server and the error logs still show up.

Something probably stuck in the pg database.

Is there a way to remove these errors from the database by hand?

[2022-07-26 00:46] regicsolutions opened #12827 "fetch:template Scaffolder Action Error: BitbucketServerUrlReader.getLastCommitShortHash"
## Expected Behavior

When using the `fetch:template` scaffolder action it should fetch the template as expected.

## Actual Behavior

Instead, the `fetch:template` action fails with the following error:

`(http://localhost:7000/create/tasks/6072df28-487e-48fb-adf4-4cba0eb02b1e#line-3)2022-07-26T00:24:19.566Z Error: Failed to read response from https://bitbucket-server.com/rest/api/1.0/projects/pr

[2022-07-26 01:15] awanlin commented on #12827
@regicsolutions this looks to be the same error as #12740 and should be fixed by #12748

[2022-07-26 01:17] regicsolutions commented on #12827
Hi @awanlin, I bumped my @backstage/backend-common package version to the latest, and still facing the issue.

[2022-07-26 01:18] awanlin commented on #12827
@regicsolutions, sorry realized I mentioned this in my PR comment to you but not here the fix isn't out till tomorrow

[2022-07-26 01:37] #11369 closed

[2022-07-26 03:32] iriswang233 opened #12829 "Slowness Using Entity Catalog with Large Number of Entities"
## Expected Behavior

Good user experience when using entity catalog with large number of entities, including

1.  fast response for catalog APIs
	- /catalog/entity-facets
        -  avoid fetching entire final_entities table
        -  avoid triggering requests after page resize
	-  /catalog/entities
        -  optimise db query
        -  improve search indexing
2.  same guide about how to confi

[2022-07-26 06:37] darrenyung opened #12830 "[TechDocs] Multiline pipe in mkdocs.yaml causes Backstage to crash"
## Expected Behavior

Handle error response in a graceful manner and display the Mic Drop page or perhaps the multiline could be made compatible and allow the use since its a valid yaml syntax.

## Actual Behavior

Entire backstage app crashes

## Steps to Reproduce

1. Have a multiline pipe in mkdocs.yaml metadata

[code]

3. Publish documentation after compilation to GCS Bucket.
4. View the docu

[2022-07-26 07:46] #10574 closed

[2022-07-26 08:04] benjdlambert commented on #12806
You can probably clean out the `refresh_state` table. I think that should drop any processing. As always, would recommend doing a backup though just in case, but if it's a test instance then go ahead.

[2022-07-26 08:19] #11501 closed

[2022-07-26 08:54] #11460 closed

[2022-07-26 09:23] stephanschielke commented on #7860
Here is a mini python cleanup script for orphans:
[code]
_I hope it's useful to others until an automated feature is implemented._

[2022-07-26 09:26] #12552 closed

[2022-07-26 09:47] garyniemen commented on #12487
This is not supported by default so I changed from bug to enhancement. Perhaps you can go to Discord docs like code channel to see if you can get any answers to your questions.

[2022-07-26 09:49] garyniemen commented on #12449
Does the merged PR close this issue?

[2022-07-26 09:55] soapraj commented on #12411
Hi! @SainDave

The triplet  default/Component/<entityName> is :namespace/:kind/:entityName maybe each owner could use a different namespace?

[2022-07-26 10:36] benjdlambert commented on #12827
@regicsolutions this has been released now, can you do `yarn backstage-cli versions:bump --release next` and give it a try?>

[2022-07-26 11:02] theparthshukla commented on #12751
Happy to take this up :)

[2022-07-26 11:18] benjdlambert commented on #12751
Go ahead @theparthshukla! Assigned to you!

[2022-07-26 11:25] tonyhsuclrous commented on #12806
After performing below commands on database `backstage_plugin_catalog`, the repeating error logs disappear.
[code]

Thank you for your help.

Closing this issue due to edge case.

[2022-07-26 11:25] #12806 closed

[2022-07-26 11:53] #11577 closed

[2022-07-26 12:01] benjdlambert commented on #12806
Perfect - glad this worked out for you, gonna tag in @freben in here anyways, as this could be a sign of something else not working as expected.

[2022-07-26 12:55] awanlin commented on #11429
https://user-images.githubusercontent.com/67169551/181010478-8a15f874-c9b7-4e01-834d-1d7926b5e8b8.mov

Thoughts I'd add a quick example of this. I know the zoom seems unreasonable it was just the easiest way to demo the issue. But as you can see you can only scroll if you know about the magic space on the left or right side. Where you run into this is when you have a more detailed Org structure we

[2022-07-26 13:43] regicsolutions commented on #12827
Fixed! Thanks @awanlin & @benjdlambert

[2022-07-26 13:43] #12827 closed

[2022-07-26 13:47] benjdlambert commented on #12827
It's all @pjungermann, I just pressed the merge button :joy:

[2022-07-26 13:48] #11631 closed

[2022-07-26 14:07] camilaibs commented on #9874
Amazing, we are looking forward to your contribution 🙌🏻

[2022-07-26 14:29] timbonicus commented on #5310
I started on #11699 in the vein that freben mentions, but this may be overcome by #12247.

[2022-07-26 16:51] pjungermann commented on #12827
Not this time 😄  I just did a review for @awanlin 😉

[2022-07-26 16:58] benjdlambert commented on #12827
HAHAH I am so sorry @awanlin. My mind is a mess. There's just so much going on. :joy:

[2022-07-26 18:54] awanlin commented on #12827
No worries @benjdlambert, you are doing a great job running a ship that needs a crew of more then 1 person!

[2022-07-26 19:41] tan31989 commented on #11429
Hmm, @Rugvip, would we expect the zoom to not take place OR have a clear border that says this entire place can be zoomed?

[2022-07-26 21:31] liamrathke commented on #12231
Hi everyone - just wanted to give a quick update on where it looks like things are headed, based on some internal VMware discussions about the RFC. I'm a big fan of @chinigo's suggestion, but aggregating the Kubernetes API responses into a single Kubernetes response object is only really possible if the response is structured as a list already. In other words, if the response from Kubernetes is de

[2022-07-26 22:05] lucasteligioridis opened #12842 "Kubernetes 403 on fetching "limitranges""
## Expected Behavior

The Kubernetes tab should not show any errors

## Actual Behavior

I recently updated to the latest version of the Kubernetes plugin and noticed a 403 error:

![image](https://user-images.githubusercontent.com/20388321/181120865-2f2d4601-1285-4e6e-9c37-1de973cce916.png)

## Solution

Require more permissions on the ClusterRole with "limitranges" added. This removed the error

[2022-07-26 22:30] clareliguori opened #12844 "[RFC] Standardize AWS authentication in Backstage"
**Status:** Open for comments

# RFC: Standardizing AWS authentication in Backstage

I'm considering building a common library for Backstage backend plugins to source AWS credentials used for calling AWS APIs.  I've noticed that different plugins related to AWS are sourcing credentials in different ways (see last section below for examples), and with varying support for features like cross-account

[2022-07-27 00:58] marcus-crane commented on #12844
Ah yes!

This is something that has bugged me for a bit. It's true across Backstage plugins in general that a third party plugin may implement credential configuration differently than the monorepo does for the same service and even then, plugins within the monorepo differ too as you've demonstrated so there's a bit of duplication that can be tidied up.

This RFC looks like a really nice step towa

[2022-07-27 01:13] tonyhsuclrous opened #12845 "Catalog ConfigLocationProvider keeps complaining about GitlabDiscoveryEntityProvider conflict"
## Expected Behavior

 I have removed `GitlabDiscoveryEntityProvider` from `app-config.yaml` and `catalog.ts`.

Every time I restart the server, below warning log shows up.

This log should disappear after removal of `GitlabDiscoveryEntityProvider`.

[code]

## Your Environment

- Browser Information:
Google Chrome 103.0.5060.114
- Output of `yarn backstage-cli info`:

[code]

[2022-07-27 01:41] tonyhsuclrous commented on #12845
I have to explicitly unregister entity `location:default/generated-d3b6d6535cdae4eedcf65a4c485d63812b8fc3b9` in order to remove the warning log.

The warning does not re-check if it is still valid.

Closing this issue due to log has been removed.

[2022-07-27 01:41] #12845 closed

[2022-07-27 02:50] joelleibow commented on #11297
@thunder7s by any chance have you found a resolution for this issue? I'm currently experiencing the same problem and not sure how to work around it.

[2022-07-27 05:18] jonstacks opened #12847 "Unable to view Kubernetes resources with CronJob alias syntax"
## Expected Behavior

When using the kubernetes plugin and navigating to the "Kubernetes" tab, I see the cluster with the pods information. When I click the accordian to expand a cluster, I expected to see a list of pods and other Kubernetes Resources.

## Actual Behavior

I get the following

Browser Window:
![Screen Shot 2022-07-27 at 12 14 56 AM](https://user-images.githubusercontent.com/690088

[2022-07-27 05:44] Mercanuis commented on #12250
Thanks to everyone for the help in finding a workaround or a potential solution here

[2022-07-27 05:55] Mercanuis commented on #12250
Thanks for everyone for potential workarounds. I tried to use @stephanschielke 's suggestion but trying to use a JSON schema didn't seem to resolve the issue of Jetbrains not understanding the Backstage Resource (Component, API, etc)

[2022-07-27 10:27] #12842 closed

[2022-07-27 11:39] anitsh commented on #11611
Great proposal! Understood why and what's expected with examples.

To be honest I haven't used Backstage and haven't gone through the code nor the system design docs. But with some experience in using other frameworks with similar problems (i guess), the proposed way would help the community, strengthen contributors a lot.

Thanks.

[2022-07-27 12:59] wanisfahmyDE commented on #8074
I had the same issue, now it's working but without the search.

 `app-config.yml `configs are:

[code]

in the Dockerfile, using node:16-buster-slim:
[code]

[2022-07-27 13:11] viraptor opened #12852 "It doesn't seem possible to not use an index.md file in docs"
## Expected Behavior

I'd like to import documents from a repo which doesn't contain a `docs/index.md` file, but defines the whole structure in `mkdocs.yml`.

For example using:
[code]

I would expect the docs page to load the rendered `bar` page.

## Actual Behavior

The page renders correctly through mkdocs, but the link still goes to `.../docs/default/Component/foo` which fails to load, because

[2022-07-27 14:27] SEETechWolf opened #12853 "Running Backstage with only one Database"
Hello,

we are evaluating Backstage for our Company. As we are in a very regulated Environment it is not possible for our technical Database Useres to create Databases.
So we get a Database from our DBAs and have to use this specific one.

Is there a way to setup Backstage to run with only one Database for all Plugins and Data?
And how can we configure this?

If this is not jet possible:
- Is ther

[2022-07-27 14:53] #5596 closed

[2022-07-27 16:04] #7971 closed

[2022-07-27 17:50] damolaobaleke opened #12862 "Custom theme error"
## Expected Behavior

The header of my home and documentation page should follow a black pattern with a round sequence after setting the page theme object with the required arguments

## Actual Behavior

After updating backstage to v1.4.0 . The method `genPageTheme()` being used in the `pageTheme{}` object states it expect one argument but received two which shouldn't be the case and even after re

[2022-07-27 17:58] awanlin commented on #12862
Hi @damolaobaleke, I'm the one who made this change as part of a PR to clean up some of the Theme object. We are on the latest version and haven't had any issues with this once we updated the syntax. I totally understand that the syntax change wasn't clearly communicated

The syntax would be like this based on the example you posted:

`genPageTheme({ colors: ['#000000', '#000000'], shape: shapes.r

[2022-07-27 18:01] damolaobaleke commented on #12862
Hi @awanlin Yeah it wasn't but thanks i appreciate. Yes it does work now!

[2022-07-28 00:25] #11077 closed

[2022-07-28 04:03] kuangp commented on #6063
For those who are still interested I was able to hack together a plugin for this in my spare time, check it out in the linked PR!

[2022-07-28 06:11] sharadpattanshetti commented on #8721
Hi, has there been any optimization provided for this in the latest releases?

[2022-07-28 06:49] rhoml commented on #5564
Hi Lovely community. Since #12234 was merged I think this issue can be closed.

[2022-07-28 09:19] #12847 closed

[2022-07-28 09:30] benjdlambert commented on #5564
Woop! thanks!

[2022-07-28 09:30] #5564 closed

[2022-07-28 09:55] benjdlambert commented on #12862
Closing this as the #12863 has been merged :tada:

[2022-07-28 09:55] #12862 closed

[2022-07-28 09:59] benjdlambert commented on #12853
Hmm, table names are not configurable unfortunately. However you can configure each plugin to use a different connection string here? https://backstage.io/docs/tutorials/configuring-plugin-databases so maybe they could also use the same db.

You can also use schemas instead of database by providing config in the `app-config.yaml` if that would help you instead?

[2022-07-28 10:04] benjdlambert commented on #12829
Hey :wave:

First off, thanks so much for digging into this and providing some useful numbers. This is going to be great for reference.

Secondly, we're on it. We know it's pretty slow right now, and not only the queries server side, it's also the frontend experience.

We're working on #12246 which is part of a larger piece of work to make the frontend behave better with many items in the catalog

[2022-07-28 10:05] benjdlambert commented on #12815
I think I just merged #12863 which should fix this I believe?

[2022-07-28 10:36] Pike commented on #12815
Yes, thanks.

[2022-07-28 10:36] #12815 closed

[2022-07-28 11:11] Xantier commented on #8721
Hi @sharadpattanshetti,

The fact retriever engine provides two different approaches to purge stale/old data. You can provide either  a duration like object or a number of max items to the registration when initializing fact retrievers.

Example configs looks like:
time based (keep all data younger than 2 weeks):
[code]

item based (keep 5 last records):
[code]

[2022-07-28 11:38] Vegim commented on #12734
Do you have any idea why this is not working? I couldn't find any additional configuration that I needed to do to make this feature work.

[2022-07-28 12:01] viraptor opened #12876 "Icons for entry types in search"
## Feature Suggestion

Currently the quick search provides all search results in the same way. A document heading, a component, a system, etc. will all appear the same way (with possible extra text for documentation)

It would be great if I could tell at a glance what entry is what type.

This is mainly for the initial/quick search, however the full view uses pill buttons with very contrasting col

[2022-07-28 12:10] viraptor opened #12877 "Split categories in search results"
## Feature Suggestion

Introduce headings / groupings in the search results.

## Possible Implementation

Make it possible to either click a name of a category to skip to it or (un)fold specific categories.
Possibly just having a Docs/Catalog split may be enough.

For inspiration, here's how AWS console search does it:

<img width="904" alt="Screen Shot 2022-07-28 at 10 09 21 pm" src="https://user

[2022-07-28 12:35] PersianIronwood commented on #11651
I've just encountered this issue trying to get Backstage up and running just to give it a try. Just wanted to say the documentation is still lacking this information

[2022-07-28 12:39] viraptor commented on #12877
TIL what the "View full results" that I've been ignoring does and that it solves my problem :D
So I guess my question turns into - any reason most of those small improvements couldn't move into the quick results as well?

[2022-07-28 14:40] pjungermann opened #12880 "support entity kind filter / allow list at entity providers ingesting Location entities"
## Feature Suggestion

We replaced many processor with entity providers which ingest Location entities for discovered catalog files.

At processors, you would configure a static location within the app config which then gets picked up by it.
Additionally, you could make use of the feature to add the "allow" rule with a set of allowed entity kinds to be ingested.

This is not possible anymore with

[2022-07-28 15:37] GoFightNguyen opened #12883 "Provider-ingested entities not being eager deleted"
## Expected Behavior

We expect provider-ingested Entities to be eager deleted.

According to the docs

## Actual Behavior

We are seeing a mix of behavior.
1. Entities are marked as orphaned but not eager deleted
1. Entities are not being marked as orphaned despite the provider no longer ingesting them (they are removed from the external source)

### DB Behavior

For both behaviors above, we noti

[2022-07-28 15:43] benjdlambert commented on #12883
Gonna tag this as `after-vacations` and @freben in here too, something for the Catalog SIG perhaps?

[2022-07-28 21:10] hanysf opened #12887 "401 - A JSON web token could not be decoded when following App example"
## Expected Behavior

I am following the [example](https://docs.github.com/en/developers/apps/guides/using-the-github-api-in-your-app) of using GitHub API's in a GitHub app. This page links to [another page](https://docs.github.com/en/developers/apps/getting-started-with-apps/setting-up-your-development-environment-to-create-a-github-app) showing how to setup the development environment to do this

[2022-07-28 21:11] #12887 closed

[2022-07-29 03:18] iriswang233 commented on #12829
Hi,
Thanks for your reply! It's great to know that the pagination will come out soon. It will definitely help improve the performance of browsing with pagination. We will assess the performance about browsing, searching and filtering again with this change once it releases.

And how about the /catalog/entity-facets API, it's used to show available filters. Is there a plan to get rid of fetching al

[2022-07-29 05:03] iriswang233 opened #12890 ""Filter" text field is confusing in Entity Catalog Table"
## Feature Suggestion
Changing the "Filter" field to "Search" with search placeholder and icon in entity catalog because this field is doing search not filtering.  Filtering is more related to those selectable dropdown in the left.
Or allowing customising this UI.
<img width="307" alt="Screenshot 2022-07-29 at 12 38 30 PM" src="https://user-images.githubusercontent.com/49713904/181683914-706f3baa-

[2022-07-29 06:09] feberl opened #12891 "Techdocs: Headings are displayed too large"
## Expected Behavior

Headings in techdocs are not that large.

## Actual Behavior

With version 1.4.0 the headings in the techdocs are comically large (worked with 1.3.0)

## Steps to Reproduce

Open any Techdocs page and have a look at the headings

## Context

At this size the headlines distract from the content

## Your Environment

- Browser Information: Any Browser, tested on Firefox, Chrome

[2022-07-29 06:49] pjungermann opened #12892 "support TechDocs edit button for Bitbucket Cloud"
## Feature Suggestion

Add support for the edit button at TechDocs pages.

## Possible Implementation

See PR #12857 which was adding it for Bitbucket Server.

## Context

[2022-07-29 06:50] pjungermann commented on #12892
@awanlin maybe something interesting for Azure DevOps, too?

[2022-07-29 06:58] benjdlambert commented on #12829
Maybe @vinzscam can elaborate a little more, I know we spoke about the facets API, but not sure what the plan was for it for the new entities API and pagination.

[2022-07-29 07:12] vinzscam commented on #12829
Hi! Thanks for this @iriswang233!
Yes, some filters uses the facets endpoint for fetching data. The plan is to revisit the facets endpoint as well in the future, but I can ensure it isn't the main issue at this point.
Maybe I could share my WIP branch. The work you've done is fantastic and it would be interesting to reassess the performance of the new catalog implementation with your catalog.

[2022-07-29 07:33] SathishKumar140 opened #12893 "Support custom configuration for Webpack"
## Custom configuration for webpack

## Possible Implementation
Provide an option or refer a file in the root level of the project to read Webpack configuration and override existing configuration which default comes from backstage.

## Context
Currently, backstage create a Webpack configuration to build the app. If there is a use case or library in which use the extension **.json** and it failed

[2022-07-29 07:46] theparthshukla commented on #12751
The issue can now be closed!

[2022-07-29 08:11] benjdlambert commented on #12751
Thanks again!

[2022-07-29 08:11] #12751 closed

[2022-07-29 08:34] prasoon-pxc opened #12895 "create github-app through backstage-cli is not possible in minimal VM installation"
## Scenario

I am trying to create github-app using ```yarn backstage-cli create-github-app  github-org  ``` cmd
[github-cli reference](https://backstage.io/docs/integrations/github/github-apps#using-the-cli-public-github-only)
---

## Issue Facing
**Issue-->** I have backstage configured in minimal centos VM where browser is not supported, now according to docs when we run
             ```yarn ba

[2022-07-29 09:31] punkle opened #12897 "New document on backstage.io website explaining entity naming strategies."
There seems to be a conflict between global uniqueness of entity names and human readableness. Im sure I am not the first to come across this.

Given that the name (along with namespace and kind) is the unique key of the entity we must choose a name that is unique. By way of example if I have a user entity, lets say the email address is brian@example.com and the users id is bb246164ff3b0941cc95bda

[2022-07-29 10:46] blueboxes opened #12899 "No Errors in logs when PAT expires using AzureDevOpsEntityProvider"
## Expected Behavior

When it cannot get data from Azure DevOps I would expect errors in logs. This happens with the AzureDevOpsDiscoveryProcessor.

## Actual Behavior

It silently fails and the catalog is not updated. Even setting the logging level to debug shows no errors.

## Steps to Reproduce

1. Use an expired PAT or one that doe snot have the correct access to read.
1. Run Backstage
1. Look

[2022-07-29 10:47] blueboxes commented on #12899
@goenning you may have an idea on this

[2022-07-29 11:12] benjdlambert commented on #12895
Unfortunately running this command inside a VM is not possible, as the command actually does a little bit more than that. You will need to run this command on a machine that has a browser. Alternatively you can follow the guide here: https://backstage.io/docs/integrations/github/github-apps#github-enterprise but do it for public github instead of enterprise to create the app manually.

[2022-07-29 12:00] benjdlambert commented on #12893
Hey, this issue might be worth a read with some more context as to why we're probably not likely to do this: https://github.com/backstage/backstage/issues/7102

[2022-07-29 12:29] augustomeireles05 commented on #5394
Hy there, Rugvip.
If it's possible, I would like to take some doubt with you: I need to know how to disable this option from the screen.
I saw on core-plugin-api folder into node modules that exist a FeatureFlagState type where we can declare an attribute none  0. How to put in a component SidebarSettings to disable this element?

[2022-07-29 13:13] kuangp commented on #12890
Ironically the base material-table displays "Search" and the associated icon as the default behavior and a past [change](https://github.com/backstage/backstage/pull/7567) actually modified it to show "Filter" instead 😅 (reasoning described in the linked PR).

The solution here probably is to allow this to be fully configurable. You can already modify the placeholder text by configuring the [`local

[2022-07-29 14:25] prasoon-pxc commented on #12895
@benjdlambert -- okay, i will try this.

[2022-07-29 15:00] goenning commented on #12899
I'm not sure tbh, but if there's an exception happening inside the call to Search API, I'd expect the outer functions to catch that and log It so at least it doesn't go completely silent.

[2022-07-29 16:19] #5530 closed

[2022-07-29 17:45] jakecrews74 commented on #12809
This has been fixed in the following PR: https://github.com/backstage/backstage/pull/12632

It doesn't look like there has been official releases of the plugins that include this fix though, however you can still use the nightly build releases. Just bump the following plugins to these versions:

- "@backstage/plugin-techdocs": "0.0.0-nightly-20220727025454"
- "@backstage/plugin-techdocs-react": "0

[2022-07-29 18:48] awanlin commented on #12892
Yeah, would be nice to have, unfortunately the way we build TechDocs has be come a little bespoke so I'm not sure if this is something I could contribute

[2022-07-29 18:59] taras opened #12909 "[Scaffolder] Ability to modify the layout of the step form"
## Context

One of our clients would like to be able to modify the layout of the form in a step. They would like to be able to show fields in two columns instead of one column. This can be accomplished by modifying props passed to the Grid component in [ObjectFieldTemplate](https://github.com/rjsf-team/react-jsonschema-form/blob/master/packages/material-ui/src/ObjectFieldTemplate/ObjectFieldTempla

[2022-07-29 22:53] tonyhsuclrous commented on #12809
Thanks!

I have changed `packages/app/package.json` as you suggested.
[code]

This fix works as intended.

[2022-07-30 09:14] benjdlambert commented on #12895
Going to close this as not supported, but feel free to comment on this issue if you can't get it working.

[2022-07-30 09:14] #12895 closed

[2022-07-30 16:53] Fs00 commented on #9571
The feature request is still relevant.

[2022-07-30 17:26] regicsolutions commented on #12853
@benjdlambert are there any docs or examples your aware of on the usage of schemas?

[2022-07-31 14:52] webark commented on #8336
We have been going through the process of passing in a custom set of columns into all the individual places they are used, and overwriting the ones that we can't get to.

I don't think "as it stands now" it's the best pattern, but the api specs uses a api to render the component, so that enables you to extend the api and add your own renderings (we use redoc). It would be nice if you could do some

[2022-07-31 18:37] Ahampa07 opened #12917 "[RFC] Redirecting to the login page on refresh or open links in the new tab"
**Status:** Open for comments

The current system may ask you to log in again if you refresh the page(trigger refresh real quick multiple times) or open a few links in new tabs.
The intention behind this RFC is to identify the exact cause of losing user authentication on refresh or opening a few links in new tabs.

## Need

This might be because of a race that happens when the backing authenticati

[2022-07-31 20:04] github-actions[bot] opened #12919 "Snyk vulnerability [SNYK-JS-NODEFETCH-2964180]"
## Affecting Packages/Plugins

* [example-app](packages/app/package.json)
* [example-backend](packages/backend/package.json)
* [@backstage/backend-common](packages/backend-common/package.json)
* [@backstage/backend-test-utils](packages/backend-test-utils/package.json)
* [@backstage/catalog-client](packages/catalog-client/package.json)
* [@backstage/cli](packages/cli/package.json)
* [@backstage/con

[2022-07-31 21:11] webark commented on #12917
🤔Which auth provider are you using? I haven't run into this issue before.

[2022-08-01 01:36] tonyhsuclrous opened #12920 "TechDocs title does not sync up with content after search and jump to another doc"
## Expected Behavior

TechDocs title should be correct after search and jump to another doc.

## Actual Behavior

User has to refresh the web pager in order to have the correct title.

## Steps to Reproduce

1. Display a TechDocs web page.
2. Use the top-left search to find another doc link.
3. Click the link.
4. The doc content change, but the doc title stays the same.

## Your Environment

- Bro

[2022-08-01 01:51] SathishKumar140 commented on #12893
@benjdlambert I have gone through it but if there is an internal library/package that we are trying to use in my custom plugin and it compiles as part of the backstage app and it throws an error how to solve this case?

As I mentioned above **.json** file should be resolved as an extension and the backstage Webpack config should accept it. Is there any solution available to it?

<img width="1407"

[2022-08-01 04:22] sharadpattanshetti commented on #8721
Thank you @Xantier, will try that.

[2022-08-01 05:24] Ahampa07 commented on #12917
@webark we are using GitLab as auth provider.

[2022-08-01 06:37] NishkarshRaj commented on #12917
👍 - also, the in-memory session store is not ideal anyways given it blocks our ability to scale out in the EKS eco-system unless we force a user to the dedicated pods with sticky sessions, etc. as highlighted in #12757

[2022-08-01 07:00] tylerd-canva commented on #11791
This was fixed in https://github.com/backstage/backstage/pull/11792

[2022-08-01 07:00] #11791 closed

[2022-08-01 07:56] freben commented on #11770
I'm not at the computer to check, but I suspect that this may be your shell that's confusing you. The ampersand character probably has to be escaped, or the entire url quoted. Try

`curl 'https://demo.backstage.io/api/catalog/entities?filter=kind=user&fields=metadata.name'`

(note the quotes, you can also try double quotes instead of single)

[2022-08-01 08:16] paristote commented on #11770
Hi @freben , you're right it was the `&` character, it works well with the URL between quotes.

[2022-08-01 08:16] #11770 closed

[2022-08-01 09:05] benjdlambert commented on #12893
It looks like the path for the import is wrong is all. I'm guessing the prefix doesn't work. Or maybe you have to include the `.json` extension but not sure. How is the import included?

[2022-08-01 09:08] benjdlambert commented on #11672
Closing this as I believe that the PR's for updating the documentation has been merged!

[2022-08-01 09:08] #11672 closed

[2022-08-01 09:13] benjdlambert commented on #12917
@Ahampa07 it's normally due to refresh not being configured correctly, is that setup for your provider?

[2022-08-01 09:20] anshulgargamway commented on #2256
@niallthomson : Any information on this prototype ?

[2022-08-01 09:25] benjdlambert commented on #8036
Re-opening as it looks like this is still happening.

Could be this line being thrown? https://github.com/backstage/backstage/blob/1379080c92b0d22c7df15cf71095b35fe0f89865/packages/backend-common/src/reading/GitlabUrlReader.ts#L191

Ideally I need someone who is facing this issue to do some more debugging, by logging what `await commitsGitlabResponse.json()` is. Could be something to do with `@git

[2022-08-01 09:30] benjdlambert commented on #9571
Do you want to contribute this @Fs00?

[2022-08-01 09:34] benjdlambert commented on #12853
Hmm - I don't think that there is explicit docs on this unfortunately. But it's just config you can set in your `app-config.yaml` when using the `pg` client.

https://github.com/backstage/backstage/blob/master/packages/backend-common/config.d.ts#L86-L98

[2022-08-01 09:37] benjdlambert commented on #12853
So your `app-config.production.yaml` or wherever you setup `client: pg` under the `database` key would look something like this:

[code]

[2022-08-01 09:37] bcamishrapr commented on #12895
@benjdlambert --> Can you provide me example credentials file to create for github.com not for enterprise github and also , webhook secret field is not an optional field. I tried but my **"Github organizational data import "** setup giving error by this integration
[code]
**--> My integrations is setup like below**
[code]

- I have defined the **appid, clientId,clientsecret and private key**  in a

[2022-08-01 09:50] benjdlambert commented on #12895
They should look something like the following:

[code]

None of these values are the right length or whatever as i've just masked them out, but you should get the format of them at least. Does yours look like this?

[2022-08-01 09:53] noisyscanner commented on #12565
Ello, been away for a few weeks but happy to have a bash at this when I get a chance. Hopefully some time this week

[2022-08-01 09:54] benjdlambert commented on #12565
No worries :pray: I'll assign you to the ticket!

[2022-08-01 09:58] benjdlambert commented on #12844
This is a great suggestion. It's only going to get more and more complex as we add more support for more AWS products in the future, so I think this is a good initiative.  Thinking that adding it to the integrations feels like a reasonable place to put it, although I think it might go against the current pattern of using host resolution for these things, but I think that's fine.

The rest of the m

[2022-08-01 10:15] PavelPolyakov commented on #11478
hi @lars1974,

it seems that your change was released by `swagger-ui`.

Current fresh `backstage` requires that property to be provided.
<img width="572" alt="image" src="https://user-images.githubusercontent.com/839290/182123829-ca1f2cea-1e3c-4484-b735-beb648f9175a.png">

I assume it drills down to this [SwaggerUI](https://github.com/backstage/backstage/blob/master/plugins/api-docs/src/components

[2022-08-01 10:22] prasoon-pxc commented on #12895
@benjdlambert --> My file is like that but I have not mentioned the w```ebhookUrl``` field  and also I defined webhookUrl to ```https://smee.io``` only in github app , does it necessary to mentioned webhookURL ?
and second things , is this necessary to define whole private key in  one line only?

[2022-08-01 11:08] lars1974 commented on #11478
Thats long time ago :-) But it must be around here I think: https://github.com/backstage/backstage/blob/master/plugins/api-docs/src/components/OpenApiDefinitionWidget/OpenApiDefinition.tsx#L152 and the oauth2RedirectUrl param should be like: "/oauth2_redirect.html"  (not sure if it can be relative)