[2020-12-09 12:12] omerlh commented on #3587
This one:

To load the config file, use --config <path>, listing every config file that you want to load

It took me a while to figure I can just ignore it and it has nothing to do with my actual build issue

[2020-12-09 14:19] Rugvip commented on #3587
Yep I think we can remove that warning at this point tbh, it's been gone for quite a while at this point and is a potential source of confusion.

[2020-12-09 14:19] Rugvip commented on #3587
@andrewthauer In the CLI docs 😅  (they don't exist, I wanna write some proper ones but still a bit swamped)

[2020-12-09 14:42] adamdmharvey commented on #3642
@andrewthauer I really like your point. What's interesting is there are likely two user populations. The fact that the plugin hasn't been configured to even work, period, is a key point that the Backstage managing team is responsible for.  To your point, it's sort of like an issue for stock setup or just first time a team is setting up a new plugin.

The other users are just all the component user

[2020-12-09 14:57] andrewthauer commented on #3642
@adamdmharvey - I completely agree. I would say that the first is a bit more nuanced though Possibly split into 2 sub categories. First there are the cases where the backstage managing team needs to configure something globally across the org. The other is when the team needs to do some background work on each entity to configure it. Some examples of the latter for us are `sonarqube` setup require

[2020-12-09 15:20] IliaGe opened #3650 "A simple getting-started that just .... works?"
A simple helm package that can just install & start using

## Feature Suggestion
It's been a whole day now that I'm trying to get the app to work outside of my local laptop...
I never had such a bad experience with a CNCF project :\

## Possible Implementation
Why aren't there any public available ready images for the backend + frontend?

## Context

[2020-12-09 16:06] Rugvip commented on #3650
Seen this question a couple of times now, enough to add it to the FAQ :grin: #3653

The docker build is still WIP though, even though there's a something in place right now we still have https://github.com/backstage/backstage/issues/3347 to deal with. Hoping to get a flow in place in the app and this repo that makes a bit more sense once that's solved.

If you have any specific questions about the

[2020-12-09 16:06] #3650 closed

[2020-12-09 17:43] tudi2d commented on #3618
I would like to add search to the default set of plugins 👍

[2020-12-09 17:56] dhenneke opened #3655 "Introduce easy interfaces and hooks to get entities based on relationships"
Since the relationships are in place, the need to query or filter entities based on relations emerges (see #3479, #3625). There are already some hooks that are siloed inside of individual plugins and can't be reused by others:
* [`isOwnerOf` @ catalog](https://github.com/backstage/backstage/blob/9a2a925716bbe38c2cea753ec2ef0ee17e7a0263/plugins/catalog/src/components/isOwnerOf.ts)
* [`getEntityRela

[2020-12-09 19:39] n2ygk opened #3656 "feat: ability to subscribe to an API"
A mechanism to subscribe to an API via the API catalog would be really useful.

## Feature Suggestion

On the API page tile for a given API, add a button to subscribe to the API. For instance, request a new OAuth2 client_id/secret or an API key.

## Possible Implementation

Would need to minimally add some metadata to the API doc along with a plugin(?) to implement the request/approval workflow.

[2020-12-10 00:12] tradcliffe-expediagroup commented on #3560
Thank you @JacobValdemar and @Rugvip. I will take a look at both of these PRs and let you know if I have any questions. Thank you!

[2020-12-10 02:29] regicsolutions commented on #3526
@goober Wondering if a pull request been created for this feature?

[2020-12-10 07:31] O5ten opened #3660 "Better error handling for tech-docs when folder or mkdocs.yml is missing"
The better error-handling or messages there are the less confused users of backstage we'll have.
Right now when the folder `docs` or the file `mkdocs.yml` is missing or named `mkdocs.yaml` ot gets cryptic error messages like this one.

`Failed to generate docs from /tmp/backstage-YEeOfY into /tmp/techdocs-tmp-t8WrEp with error undefined`

Right now users seem to believe that this is due to backsta

[2020-12-10 08:44] Fox32 commented on #3656
This would be a nice case for a plugin! We made the API entity customizable recently, so it's easy to show additional widgets.

[2020-12-10 08:53] Fox32 commented on #3655
I would extend that requirement by allowing multiple or all relations that are on the entity.

I think in the long term we would get rid of this, as we should rewrite the catalog table to use server side filtering. Otherwise it won't scale well it bigger organizations.

I also played around with a [`useRecursiveRelatedEntities`](https://github.com/SDA-SE/backstage/blob/ca8f2bd710f86d0039c5cab72284

[2020-12-10 09:49] stefanalund commented on #3618
All yours @tudi2d -- thanks!

[2020-12-10 10:10] stefanalund opened #3663 "Add PagerDuty plugin to Marketplace"
## Feature Suggestion

Add PagerDuty plugin to the Backstage plugin marketplace: https://backstage.io/plugins

## Possible Implementation

https://github.com/backstage/backstage/tree/master/plugins/pagerduty

https://backstage.io/docs/plugins/add-to-marketplace

## Context

By adding plugins to the Marketplace we improve discovery and reuse.

[2020-12-10 10:16] stefanalund commented on #3663
Possible icon to use: https://avatars2.githubusercontent.com/u/766800?s=200&v=4

![icon](https://avatars2.githubusercontent.com/u/766800?s=200&v=4)

[2020-12-10 11:50] Fox32 commented on #1329
I thought a little bit about this. Having a ownerOf relationship with an additional metadata "responsibility" (technical, product, ...) has the advantage that all code that is working with the ownerOf relationship will continue to work. One example would be the ownership filter of the catalog. If every adopter implements their own relationship it would be hard to still filter by ownership of the u

[2020-12-10 12:13] Fox32 commented on #3607
I wonder how this differ to the already enabled [codeql analysis](https://github.com/backstage/backstage/blob/10052e0d7f8914fd56b08a1ce5e5ab9e49d45aca/.github/workflows/codeql-analysis.yml#L46). At least the things you found using LGTM.com were not displayed there. But maybe it only displays security related stuff.

[2020-12-10 12:38] goober commented on #3526
@regicsolutions I have just created a draft PR that you can try out. However, it is not ready to be merged yet but can be used for testing Bitbucket Server scaffolding

[2020-12-10 13:29] stefanalund commented on #3656
+1 to what @Fox32 said -- I think this could be an excellent addition in the form of a plugin that is "connected" to the API entity page. More information about how a plugin can be connected up can be found here:

https://backstage.io/docs/plugins/integrating-plugin-into-service-catalog

[2020-12-10 14:07] benjdlambert commented on #3648
Is this now fixed with your recent change @O5ten

[2020-12-10 14:14] benjdlambert commented on #3602
This seems to be fixed now, reopen if not :+1:

[2020-12-10 14:14] #3602 closed

[2020-12-10 14:34] Rugvip commented on #3557
Added an entry to the FAQ about why there aren't any public container images: https://backstage.io/docs/FAQ#why-are-there-no-published-docker-images-or-helm-charts-for-backstage. It also contains some basic instructions for how to build your own images, with more docs on that to come.

Alright to close this issue?

[2020-12-10 14:34] O5ten commented on #3648
No, it is not. My static locations are not being processed properly. But that's fine with me, because the ones i add through existing components are. That's why i only created an issue and didn't look to resolve it myself. :)

[2020-12-10 14:36] O5ten commented on #3541
#3613 closes this issue.

[2020-12-10 15:18] adamdmharvey commented on #3607
Great question. So Semmle is basically the _front-end_ to those same CodeQL, since both come from GitHub (a la Microsoft).

The nice thing about Semmle is it has the app which interacts/feeds back into the PRs and such (more like the changeset bot this repo has?) to tell users there are issues?  i think there's a nice value add there, and i'll  amid to not being fully up on the CodeQL action but t

[2020-12-10 15:20] adamdmharvey commented on #3607
Also Semmle has the nice reports which the raw GitHub Action will lack:

![image](https://user-images.githubusercontent.com/33203301/101791205-44190b80-3ad1-11eb-92cb-38f4a992e4de.png)
![image](https://user-images.githubusercontent.com/33203301/101791265-54c98180-3ad1-11eb-90fe-d9f51b107493.png)

[2020-12-10 15:30] JordiPolo commented on #1329
If it is of any use, as we wait for the format here to stabilize we are adding a few sections to metadata and we find it extensible and useful to have `role`. For instance:
[code]
or in a different section:
[code]

This has been working pretty well, we have 120 services now described by this and no issues. So I'd encourage here also to go for something like that
[code]

Scope or role or responsibi

[2020-12-10 15:39] mclarke47 commented on #3436
I should have chimed in that we aren't going to add this until we re-vamp the UI and announce it, I will revert (https://github.com/backstage/backstage/issues/3436) and then we can add it in again.

[2020-12-10 16:04] freben commented on #1329
@JordiPolo If we formalise this, I think we'd probably want to make the owner to be a [ref](https://backstage.io/docs/features/software-catalog/references) to a User rather than an email. But yea, to be determined.

[2020-12-10 17:09] iain-b opened #3678 "The catalog info file created by the catalog importer fails validation"
When a repo is supplied to the catalog importer and the resulting PR merged nothing happens. This is because the component in the catalog info file is missing the owner field and it's now required.

[code]

## Expected Behavior

The component the importer generates should have an owner field.

## Possible Solution

Could we use the userId of the logged in user? or their github username? Failing th

[2020-12-10 17:12] JordiPolo commented on #1329
Totally makes sense, our format out there predates the definition of User.
Just wanted to make a case for a format that allows to use values to extend it for future usage.

We have not adopted User because we have tons of people working on multiple projects and we do not know where to put their User, in one project, in all, in a different repo just forthis? etc

[2020-12-10 17:43] n2ygk opened #3679 "npx @backstage/create-app "node" is incompatible with this module"
## Expected Behavior

`npx @backstage/create-app` should create a backstage app.

## Current Behavior

Yarn install fails:
[code]
I suspect this is just some incorrect PATH thing and it's finding an old version of node from Xcode but I just can't find where it is happening.

## Context

[code]

## Possible Solution

Workaround:

1. cd to the final location
2. manual run `yarn install`

[code]

In

[2020-12-10 17:57] adamdmharvey commented on #3679
These may be very basic, but...

* What do you get if you run: `npx node -v` ?
* Might you have nvm package manager installed? if so, what do you get if you cay `nvm list`?
* And hate to ask, but you've tried like `which node` have you to identify which one is in your path?

Maybe that Node 9.x is in your local user ID?

e.g., for me,

[code]

[2020-12-10 18:04] n2ygk commented on #3679
[code]

[2020-12-10 18:19] adamdmharvey commented on #3679
Wonder if this line,

https://github.com/backstage/backstage/blob/3e981aa51deac1274ab6926501c71937cfca3794/packages/create-app/bin/backstage-create-app#L1

Causes your env to pick up a different one?  Maybe what do you get if you run `/usr/bin/env/node -v` ? (on my env, i pick up the same version FYI so not sure this will help or not)

[2020-12-10 18:37] n2ygk commented on #3679
Yeah not that either...
[code]

[2020-12-11 00:06] OrkoHunter commented on #3660
Sweet! Thanks for listing multiple cases of improved error messages ☺️

[2020-12-11 00:18] kiranpatel11 opened #3687 "create-app : Register component gives white screen"
For app created using `create-app` cli, when clicked on "register component", white screen is shown:

chrome console error : 404 - Not found for http://localhost:7000/api/catalog/entities/by-name/User/default/guest

## Expected Behavior

Register component page should appear without any error.

## Current Behavior

White screen appears

## Possible Solution

## Steps to Reproduce

1. create a fres

[2020-12-11 00:30] kiranpatel11 commented on #3687
above 404 is resolved by added below entry in app-config.yaml

[code]

However, it still gives white screen when clicking "Register Existing Component"

[2020-12-11 01:23] regicsolutions commented on #3526
@goober excellent! I’ll start testing this and let you know my findings

[2020-12-11 01:39] adamdmharvey commented on #3645
Any fixes for #3660 may also fix this, as I believe the point in the other issue (which is very nicely laid out!) is that the various errors display poorly to the end user.

[2020-12-11 03:07] andrewthauer commented on #3558
cc @emmaindal

[2020-12-11 09:28] amitkhurana92 commented on #2735
Hi Goober,

It is not working

This is my app-cofig.yaml
`  bitbucket:
    - host: https://bitbucket.mycompany.com/bitbucket
      apiBaseUrl: https://bitbucket.mycompany.com/bitbucket/rest/api/1.0
      token: abcd`

Below is the exception I am getting
`Error: Expected object at root, got string at Module.generalError (webpack-internal:///../../node_modules/@backstage/plugin-catalog-backend/src/i

[2020-12-11 10:33] emmaindal commented on #3618
Awesome, thank you @tudi2d 🎉

[2020-12-11 17:06] Rugvip commented on #2735
For reference the issue ^ was `https://bitbucket.mycompany.com/bitbucket` not being a proper host. Added a check for that in https://github.com/backstage/backstage/pull/3692

[2020-12-11 17:18] tragiclifestories commented on #1682
Having just had an 'interesting' afternoon with this problem, I think it would be a good idea.

Doing it robustly would introduce ongoing maintenance burden for releases (automating the bump I just did would require changing a bunch of dependency versions and codemods for several scaffolded TS files, for example), so it may be too early in the project's lifestyle to implement right now. But automa

[2020-12-11 17:21] freben commented on #1682
@tragiclifestories there's now a `yarn backstage-cli versions:bump` - did you try that one out?

[2020-12-11 17:22] freben commented on #1682
@Rugvip is this one covered by #3391 and ready to close?

[2020-12-11 17:30] Rugvip commented on #1682
It's not possible to bump to a specific version, but at this point that's just more of a missing feature to be implemented than something that's super tricky :p. It also doesn't attempt any form of codemods, although I have a pending change that'll link to the changelogs of any `@backstage` packages that could have breaking changes.

The command is now at least also documented in the FAQ too, so t

[2020-12-12 15:22] #3096 closed

[2020-12-12 15:22] #3400 closed

[2020-12-14 09:07] JacobValdemar commented on #3304
@rlangfordBV I think the solution was to delete the yarn.lock file. Upgrade the version of backstage-cli to the latest, and then run yarn install.

[2020-12-14 09:09] Rugvip commented on #3304
Hopefully just installing the latest version of `@backstage/cli` would be enough, without deleting `yarn.lock`

[2020-12-14 12:24] freben opened #3707 "microsite: make the anchor link icon show up"
## Expected Behavior

When hovering over headings on the microsite (https://backstage.io), there should appear a little anchor link to the left. This is how it looks in GitHub when rendering the same page:

![Screenshot 2020-12-14 at 13 19 52](https://user-images.githubusercontent.com/3097461/102080864-81520600-3e0f-11eb-8d5a-057861f6e38d.png)

## Current Behavior

![Screenshot 2020-12-14 at 13 18

[2020-12-14 14:00] taras opened #3708 "[RFC] Allow GitHub Actions or Jenkins as backend for jobs"
**Status:** Open for comments

*I'm not advocating for a change (yet). I'd love to find out what people think about the idea and discussions happened on the subject*

## Need

Backstage uses long-running jobs to scaffold projects & generate documentation. The actual jobs themselves run with Docker or executables installed on the Backstage container. The presence of Docker is not guaranteed in all

[2020-12-14 14:35] benjdlambert commented on #3708
I'm wondering if the basis for some of this work could be captured in #2771.

We basically want to make it easier to be able to compose custom logic in steps, and maybe one of those steps could be to start a workflow in jenkins with parameters and poll until completion and grab the log output and dump in the job in the scaffolder?

[2020-12-14 14:38] benjdlambert commented on #3687
I think this is because there is no guest user entity in the system.

Looks like this shouldn't fail though on that request.

[2020-12-14 14:39] taras commented on #3708
Yeah, that sounds good.

[2020-12-14 14:39] benjdlambert commented on #3687
@kiranpatel11 is there any more logs that you can see in the console when you get the white screen?

[2020-12-14 14:45] benjdlambert commented on #3648
Hmm, ok. Think we need to investigate this a little further to see what's happening.

[2020-12-14 14:45] benjdlambert commented on #3541
@adamdmharvey can you try with the merged work and then close this issue if it's all solved?

[2020-12-14 14:52] AdnCodez commented on #3707
This is a pretty large project, so this easy fix wouldn't deserve a PR,
`h2:hover .hash-link{
  opacity: 1
}
.hash-link {
  fill:white;
}`

[2020-12-14 14:56] freben commented on #3707
PRs are how the fixes get in :) Do you want somebody else to make the fix?

[2020-12-14 15:00] AdnCodez commented on #3707
Okay assign it to me I will get to it ;)

[2020-12-14 15:24] taras commented on #3708
@benjaminr another use case for scaffolder is being able to trigger a webhook to register the newly created project with Jenkins (for example)

[2020-12-14 15:59] tragiclifestories opened #3710 "Support spawning containers through Kubernetes API"
## Feature Suggestion

Hello all. At my place we've been looking into using backstage and have just bumped into something (sorry if this has been discussed before).

Several plugins (eg techdocs and the scaffolder) work by spawning external processes, with the choice of running either locally or with Docker. Running locally is fine in development but it's not ideal if your API server gets OOM-kill

[2020-12-14 16:02] tragiclifestories commented on #3710
Just saw @taras raise a similar suggestion here for running in other backends https://github.com/backstage/backstage/issues/3710

[2020-12-14 16:09] magneticz commented on #3440
I guess this can be closed now

[2020-12-14 17:30] adamdmharvey commented on #3541
Roger that, opening the PR works now! Note, I snuck in two reports I guess - one that the PR doesn't open (now fixed), but also that the annotation is incorrect.  I think the intent of this issue, that it does it support GHE, isn't resolved yet, as the opened annotation won't work to tie a GHE repo into the catalog?

Specifically, it seems to grab the domain part of the defined GHE host and uses i

[2020-12-14 19:03] OrkoHunter opened #3714 "TechDocs: Support AWS S3 as TechDocs external storage (to store and read generated documentation sites)"
## Feature Suggestion

In the [TechDocs Architecture](https://backstage.io/docs/features/techdocs/architecture), users should be able to use any kind of storage system to store their generated documentation site.

Currently, Google Cloud Storage and Local filesystem are supported. Add support for Amazon S3 buckets as well.

## Possible Implementation

TechDocs has a main [Publisher](https://github

[2020-12-14 19:11] O5ten commented on #3541
Yup, can totally reproduce that annotation thing. Was about to report it as another issue, but now i wont :). But sounds very close to the error i had in another place last week.

[2020-12-14 19:26] OrkoHunter opened #3715 "TechDocs: Make requestUrl and storageUrl optional configs by using discovery APIs"
As of now, TechDocs has two URLs in its config, [`techdocs.requestUrl` and `techdocs.storageUrl`](https://github.com/backstage/backstage/blob/767b679f4388b9296d2f18af12f4f7ccc994b38b/app-config.yaml#L73-L74). The `requestUrl` is used by TechDocs frontend plugin to discover `techdocs-backend` endpoints, and the `storageUrl` is another endpoint in `techdocs-backend` which acts as a middleware betwee

[2020-12-14 19:30] adamdmharvey commented on #3541
Here's a hint I think.  Looks like the TODO is already listed:

https://github.com/backstage/backstage/blob/257619c1ee9c49454fc32b6d7d2b07283ea8d738/plugins/catalog-backend/src/ingestion/LocationAnalyzer.ts#L40-L41

[2020-12-14 19:32] adamdmharvey commented on #3541
This may be just an easy one, since the annotation is ALWAYS static?  Just replacing `${source} with `github.com`???

[2020-12-14 19:42] freben commented on #3541
Yep, that code took a shortcut to easily support a couple of the most common public providers. It will need to be updated to instead read from the `integrations` config (with the help of the `packages/integration` package) to find what provider that the URL actually pointed to.

However, even if this annotation got the right key, as in for example `github.com/project-slug`, one problem remains - w

[2020-12-14 19:48] OrkoHunter opened #3716 "TechDocs: Create type for TechDocs Metadata"
Every TechDocs site has a TechDocs Metadata (A JSON with information like site name and description). This is stored in a `techdocs_metadata.json` file along at the root of TechDocs storage with other generated documentation site files.

A Techdocs Publisher implements a method called [`fetchTechDocsMetadata`](https://github.com/backstage/backstage/blob/767b679f4388b9296d2f18af12f4f7ccc994b38b/pac

[2020-12-14 19:50] adamdmharvey commented on #3541
My team might actually have that use case.  e.g., we have our fair share of assets over in https://github.com/dxc-technology (like our https://github.com/dxc-technology/online-devops-dojo which you may have seen at DOES or AllDayDevOps this year 😁 ), with the bulk in our internal GHE.

In those cases, maintaining a slug for `github.com/project-slug: org/repo` in parallel say to `github-enterprise:

[2020-12-14 19:57] freben commented on #3541
If you can easily hold off without ill effects then maybe that's safer. I gotta say that it's tempting to define this just as either the shorthand slug (assuming you have one provider, or it picks the "top" one), or the full URL to the repo (e.g. `https://github.com/dxc-technology/online-devops-dojo`) if one needs to discern between several. But again ... not defined quite yet and consumers will t

[2020-12-14 20:20] benjdlambert commented on #3440
Perfect! Thanks for you work @magneticz 🎉

[2020-12-14 20:20] #3440 closed

[2020-12-14 20:28] adamdmharvey commented on #3541
For now, I'm good with keeping just the raw `github.com/project-slug`, as we're only tracking one GitHub instance (not really dotcom yet), and have the multiple instances for a later enhancement.

Given that, this feature would need to know when to statically define the slug per provider so that the annotation is correct when opening the PR still.  Does that make sense to others?

[2020-12-14 20:40] OrkoHunter opened #3717 "TechDocs: Do async build if docs are outdated, serve existing documentation if available"
## Current situation

When a user visits a TechDocs page, it checks if the site has been generated or if the site has become outdated. In either case, if Backstage is configured to (re-)generate docs, it blocks the user from reading anything and asks them to wait ~20-60 seconds while the docs are being built.

## Proposed

In case when the site has become outdated but pre-generated docs exist, Tec

[2020-12-14 21:15] freben commented on #3717
I would add that the user should ideally be notified from the very start that what they are looking at is stale and being rebuilt, hold on, we'll notify you when it's done.

[2020-12-14 21:53] OrkoHunter commented on #3098
There have been some efforts to improve the user experience -

- We now have a new preparer (URL Reader a.k.a. readTree) which does not use `git clone` but uses Source Code Hosting Provider's APIs to fetch files. This has improved the build time significantly because we are running some operations in memory and avoiding filesystem.
- Ability to use external storage (GCS) so that docs are not built

[2020-12-14 22:05] OrkoHunter opened #3719 "[TechDocs] [Scaffolder] A TechDocs toggle when creating new entities"
## Feature Suggestion

When users create a new Software using the Software Templates, as of now either some template has TechDocs enabled or some do not.

Enabling TechDocs is equivalent to
1. Adding `backstage.io/techdocs-ref` annotation in the entity's `catalog-info.yaml` file with the location of documentation source files.
2. Having at least `docs/index.md` file in that location.

Adding TechD

[2020-12-15 04:03] kiranpatel11 opened #3721 "[Plugin] Bamboo Server"
## Summary
Provide summarized version of Bamboo Build and Deployment status under a selected Component in Backstage.

## Project website
https://www.atlassian.com/software/bamboo
Bamboo Server (on-prem, self-hosted)

## Context
Provide summarized view of Bamboo Build and Deployment Status with references back to bamboo project.

- Bamboo BuildPlan name
- Build status and timestamp
- User who trigg

[2020-12-15 06:29] freben commented on #3721
Nice! Is this something that you intend to work on?

[2020-12-15 07:13] kaparwan opened #3724 "[SSL config ] Postgres SSL handling"
## Expected Behavior
In order to have stateless backstage implementation , Postgres DB is used as a persistence layer to backend.
the backend should be able to connect to Postgres . ( the backstage code is created using `npx @backstage/create-app` )

[code]

backend connected to postgres db using SSL .

## Current Behavior

backend docker is failing

[code]

## Possible Solution

fixing  app-confi

[2020-12-15 07:36] kiranpatel11 commented on #3721
yes, you can assign it to me.

[2020-12-15 07:45] freben commented on #3721
Awesome, done!

[2020-12-15 08:06] benjdlambert commented on #3724
Do you want to pick this up @kaparwan?

[2020-12-15 08:18] freben commented on #3724
Just to clarify, this data is not parsed or checked by our code directly. We basically give it verbatim to Knex. So I would assume that fixing this involves just tweaking the `create-app` template.

The Knex types for these fields is

[code]

So yes indeed the `ca` (which is part of `SecureContextOptions`) should be inside `ssl`. I think though that the `require` may be a problem too - I have had

[2020-12-15 08:43] kaparwan commented on #3724
yes please @benjdlambert thanks

[2020-12-15 08:47] kaparwan commented on #3724
Thank you @freben.

so tweaking `create-app`  is through config or   code change will be done  ?

Regarding `require ` , I  tried it with `true `too , but let me re produce the results with `true `again...

[2020-12-15 08:50] freben commented on #3710
My current thinking is that the scaffolder is a good fit for a broker + workers architecture. In such a solution, the "central" scaffolder backend would mostly deal with receiving task descriptions and persisting them, and coordinating the work of distributing and tracking them as they get picked up and worked off by the worker nodes. Then, the workers will be "just another service", nothing speci

[2020-12-15 08:52] freben commented on #3708
Repeating from the other ticket:

My current thinking is that the scaffolder is a good fit for a broker + workers architecture. In such a solution, the "central" scaffolder backend would mostly deal with receiving task descriptions and persisting them, and coordinating the work of distributing and tracking them as they get picked up and worked off by the worker nodes. Then, the workers will be "ju

[2020-12-15 08:56] freben commented on #3724
Just the config inside the template should be fine.

And yeah as you can see in that code it explicitly does check for `true` ONLY, and if it isn't true then it starts treating it like an object. Which aligns with what I wrote.

[2020-12-15 09:03] freben commented on #3708
That being said, I do understand that this jenkins-driven way of doing things could be beneficial as well, particularly in the situation you describe.

[2020-12-15 09:31] kaparwan commented on #3724
I just tried it with `ssl: true ` and now getting below

[code]

and now getting below error :

[code]

I have AWS rds ca rds-combined-ca-bundle.pem in `/etc/ssl/certs/rds-combined-ca-bundle.pem ` and in the same location inside the backend docker I am adding cert .

`ADD  https://s3.amazonaws.com/rds-downloads/rds-combined-ca-bundle.pem   /etc/ssl/certs
`
( above is just a workaround , as I tried

[2020-12-15 09:45] tragiclifestories commented on #3710
So then, I guess, the techdocs plugin could be implemented as a sort of subfeature of the scaffolder?

[2020-12-15 10:01] keshann93 commented on #3441
I hope we can close this issue

[2020-12-15 10:05] keshann93 commented on #3663
Hi @stefanalund, I would like to take up this task

[2020-12-15 10:28] freben commented on #3724
You have to choose between EITHER using `true` or a nested object. So this should have been

[code]

note the space.

as for the config, yeah you can inject that in various ways and I'll have to get back to you on that (am in meetings). But check out the docs

[2020-12-15 10:30] freben commented on #3441
For sure!

[2020-12-15 10:30] #3441 closed

[2020-12-15 10:31] #3616 closed

[2020-12-15 10:35] freben commented on #3663
assigned.

[2020-12-15 11:28] tragiclifestories opened #3726 "Add parent/child relations to Component kind"
## Feature Suggestion

Add new parent/child relations to components. This will be used for modelling more complex ownership problems, for example for layers of monolithic applications.

## Possible Implementation

As per https://github.com/backstage/backstage/issues/1964, this would mean adding new fields to the Component spec. Presumably this could be implemented in a very similar/identical way t

[2020-12-15 11:41] kaparwan commented on #3724
Thank you .

On Tue, 15 Dec 2020 at 9:28 pm, Fredrik Adelöw <notifications@github.com>
wrote:

--
Sent from iPhone

[2020-12-15 12:17] #3546 closed

[2020-12-15 12:29] hooloovooo commented on #3525
bitbucket should now be supported for techdocs when using the `url` type and should be available in the next release. I'm closing this and you're welcome to open up a new issue if you run into any problems. #3609

[2020-12-15 12:29] #3525 closed

[2020-12-15 15:39] freben commented on #3724
This section isn't merged yet, but talks a bit about the secrets / config injection, maybe it helps https://github.com/backstage/backstage/pull/3705/files#diff-6b443a2671c94f55928f4848577ebafd2666c3acfe5dd852a3363d2e3e2416caR59

[2020-12-15 18:47] backjo commented on #3535
Oops - thought I had replied to this. Namespacing does seem to be the most logical way to avoid conflicts across domains.

[2020-12-15 20:34] freben commented on #3648
Attempting to reproduce with public github for starters.

[code]

Loads the org fine. Now trying as a Location entity:

[code]

This also works fine.

[2020-12-15 20:37] freben commented on #3648
Now tried the same but substituting the github targets for our GHE instance. Also works fine.

I'm on latest master.

Hmmm, can't reproduce it, it seems. If you check the configurations in the comment above, do you see anything that differs from yours?

[2020-12-16 02:27] adamdmharvey opened #3734 "Large github-org location causes GHE API Rate Limit errors"
## Expected Behavior

Browsing the base Backstage catalog does not trigger GHE API Rate Limits, and my browser doesn't show repetitive failures to load GHE Avatar images.

## Current Behavior

Today I just added a `location` to load up my `github-org` off our GHE instance, which is a great feature. Earlier in the day I played around it a bit, viewing groups, seeing the users load up, works really

[2020-12-16 02:45] adamdmharvey commented on #3648
I'll add in, at commit d7bb7bf39bbe1f14f6a822ae98d24f90db25da33 I too have loading a GHE org via a location value working well 👍 in my `app-config.local.yaml` against my local GHE :octocat: instance:

[code]

[2020-12-16 03:51] O5ten commented on #3648
Out of curiosity. What is the composition of the FQDN of these GHE instances?

Mine is: `https://a.b.c.com`

[2020-12-16 04:39] adamdmharvey commented on #3648
Mine is just `github.domain.com`.

[2020-12-16 07:48] benjdlambert commented on #3734
Funnily enough we mentioned this yesterday when doing planning for Q1 next year. Unfortunately, personal access tokens are not a great way to put this stuff into production and load production amounts of data into the catalog.

We're looking at implementing Github Apps that you can install at Org level which would give us much higher limit.

As another workaround you could maybe try changing the p

[2020-12-16 08:49] tragiclifestories commented on #3734
Another workaround/mitigation - at least in 'vanilla' Github, a 304 Not Modified does not count towards your rate limit, so you can implement a caching client that keeps track of etags (we've done this on an unrelated project).

[2020-12-16 09:11] benjdlambert commented on #3734
Hmm this is interesting, and definitely something that I think we would want to implement anyway @freben thoughts?

[2020-12-16 09:23] benjdlambert opened #3741 "Some Categories are wrong in the marketplace"
There's some wrong category lables in the Plugin Marketplace.

AWS Lambda  and Firebase Functions could be Infrastructure instead or something better than monitoring at least.

[2020-12-16 10:22] freben commented on #3734
Thanks for reporting. Like Ben said, this use of personal access tokens has been on our radar for a while now for this and other reasons.

So we have several things going on, right?

- The ingestion itself can run out of quota. I love the idea of an etag caching client, thanks for chiming in, @tragiclifestories. This may need the user to make use of the raw endpoint right? The right fix is still p

[2020-12-16 12:29] Priyabrata-dev opened #3743 "[Plugin] APIGEE"
I do not see any plugin for integrating with APIGEE for Backstage ,Will it work?

## Summary

## Project website (if applicable)

## Context

[2020-12-16 12:44] OrkoHunter commented on #3743
Hey @Priyabrata-dev, awesome that you created the issue! Could you also give brief insights about APIGEE and what are some key usecases of it? That would help contributor(s) implementing this plugin.

Assuming, we are referring to https://cloud.google.com/apigee

[2020-12-16 12:51] OrkoHunter commented on #3743
Just noticed that #3327 exists, so we can discuss more over there. Should we close this issue?

[2020-12-16 13:03] Fox32 commented on #3726
An alternativ to parent-child relationships could be [systems and domains](https://backstage.io/docs/features/software-catalog/system-model#ecosystem-modeling).

[2020-12-16 13:09] Priyabrata-dev commented on #3743
Yes @OrkoHunter  its the same . APIGEE is nothing but the API Management Platform provided by Google where we are exposing all our API Proxies to internal and external  consumer .
And for API discovery we have a Integrated Portal but with limitations so thought if we can leverage Backstage for API Discoveries for internal and external COnsumer?

[2020-12-16 14:31] benjdlambert commented on #1503
Will close this in favor of the new approach in #2771

[2020-12-16 14:31] #1503 closed

[2020-12-16 14:32] benjdlambert opened #3744 "[Story] Github Apps Integration"
Allow backend plugins to authenticate with Github with a GithubApp.

Be able to grab a token from other plugins which is authenticated on behalf of this plugin.

- [x] #4006
- [x] #4010
- [x] #4126

[2020-12-16 14:35] Rugvip commented on #1964
Closing since this is now implemented, and any additional discussions around relations should happen in separate issues/RFCs.

[2020-12-16 14:35] #1964 closed

[2020-12-16 14:36] benjdlambert opened #3745 "Implement the new Template Schema"
Implement the new schema for Templates in the scaffolder.

Allowing for step definitions inside the template schema rather than in code in the scaffolder.

TBD.

#2771

[2020-12-16 14:37] benjdlambert commented on #1693
Closing in favor of the other work here #2771

[2020-12-16 14:37] #1693 closed

[2020-12-16 14:39] benjdlambert opened #3746 "Scaffolder: Decouple Scaffolder Workers"
Add the ability to produce your own worker so that it can run wherever you like.

TBD.

[2020-12-16 14:41] benjdlambert opened #3747 "Catalog model extension patterns, schema evolvability"
Ensure that the way that the catalog entity data is ingested and consumed in the frontend allows for long term evolution

[2020-12-16 14:42] benjdlambert opened #3748 "Catalog: Horizontal Scalability"
Allow multiple instances of the Catalog backend to cooperate and not do duplicate work.

TBD

[2020-12-16 14:45] benjdlambert opened #3749 "Catalog: Avoid unnecessary work in the Processors"
Avoid refetching data that already exists in the catalog.

TBD

[2020-12-16 14:46] benjdlambert opened #3750 "Catalog: Deletions"
Implement deletions of entities when they disappear from the source location yaml etc.

TBD

[2020-12-16 14:51] freben commented on #3586
See [this comment](https://github.com/backstage/backstage/issues/3734#issuecomment-745933782) about leveraging etag match 304s not counting towards quotas.

[2020-12-16 14:55] adamdmharvey commented on #3734
Thanks all!  And ha ha, yeah the primary "possible solution" should indeed have been _use a GitHub App_.  😁

My favorite picture is this one from the GitHub doco:

https://docs.github.com/en/free-pro-team@latest/developers/apps/about-apps#determining-which-integration-to-build

[2020-12-16 15:48] gampeixoto opened #3752 "Catalago registration using repo on azure, does not fill in the filepathtype variable"
When trying to pass the link of the repo pointing to the file catalog-info.yaml or template.yaml, the code link does not fill in the variable filepathtype of the parseGitUri library, thus requesting a pull request to add a catalog file.
the link used in the test was [https://dev.azure.com/DEVOPS-RCHLO/cell-cac/_git/cac.backstage.custom?path=%2Fcatalog-info.yaml&version=GBmaster&_a=contents](url)

[2020-12-16 16:11] tragiclifestories commented on #3726
Interesting. I think I would still want at least a `parent` relation hanging off Component in that case to point to the system/domain.

[2020-12-16 16:22] #3743 closed

[2020-12-16 16:23] benjdlambert commented on #3743
Closing in favor of the duplicate. Let's take the discussion there 👍

[2020-12-16 16:23] tragiclifestories commented on #2898
Just quietly bumping this: `system` or `domain` may be a better match for modelling a monolith than components (I suggested a component-based approach in https://github.com/backstage/backstage/issues/3726), which is something that matters to my lot ;-).

Just wondering if discussions on this have moved on since October?

[2020-12-16 16:59] dtuite commented on #3741
@mcalus3 could you ensure Roadie plugins have the correct labels please? I will work with you on determining what they should be if needed.

[2020-12-16 19:09] tsjnsn opened #3755 "Gitlab scaffolding not working"
## Expected Behavior

When I configure the Gitlab settings in the scaffolding plugin, I expect to be able to target Gitlab for destination of scaffolding templates.

## Current Behavior

Scaffolding a project using a template that targets Gitlab fails at several points.
1. Utilizing the 'url' resource type results in the error:
2. If specifying 'gitlab' resource type (no longer supported, but hack

[2020-12-16 19:13] adamdmharvey commented on #3755
That error SHOULD mean in your app-config.yaml you still have:

[code]

And if you do, you should be able to comment it out/remove the `gitlabApi` section there - not sure if that helps remove some noise in your troubleshooting or not.

[2020-12-16 19:37] freben commented on #3755
I think he'll need the token still, but the code does not seem to fetch it from the new location.

[2020-12-16 21:23] adamdmharvey commented on #3755
Ah, you mean this maybe?

https://github.com/backstage/backstage/blob/eec95ab02befb34a711d7321e68bc7c9920eff7f/plugins/scaffolder-backend/src/scaffolder/stages/prepare/gitlab.ts#L27-L34

Based on the pattern from GitHub, this looks to have been implemented in scafollder.ts, so maybe this gitlab.ts file just needs replaced code with:

[code]

??

[2020-12-17 00:04] AdnCodez commented on #3707
The prettier check did pass locally after the `yarn prettier --write filename` command hover the PR code check did not, I am not sure how to solve this.

[2020-12-17 01:52] adamdmharvey commented on #3707
@AdnCodez You're super close.  So the code you checked in is "not pretty".  So when you ran the `yarn prettier --write filename` command locally, it would have rewritten the file. Once rewritten, you then need to commit and then push that change back up into your pull request. I believe it's very simple - you're just lacking a space between the `.hash-link` and the opening curly brace `{` in your

[2020-12-17 05:35] kaparwan commented on #3724
Hi @freben

We have moved ahead here. http://knexjs.org/ we have option to give direct connection_string...

So using below... in `app-config YAML`

[code]
But it is failing with

`2020-12-17T15:03:06.852+11:00 [APP/PROC/WEB/0] [ERR] Backend failed to start up, error: permission denied for database "postgres"`

and then https://github.com/backstage/backstage/blob/8ab8b40c03ec969644c8b49e4c902d91ad

[2020-12-17 07:11] freben commented on #3724
I'll preface this by saying that I am no database admin person at all! Hopefully somebody with more knowledge than I can help out with details.

For starters, let me say that I recommend NOT using the string form of the connection. If you do, we have to resort to parsing the URL in order to insert per-plugin database names and stuff, and you probably want to avoid that while debugging this situati

[2020-12-17 07:21] Adamseyer opened #3758 "Developer Utilities Plugin Request"
Was pointed to a useful local application that provided a number of frequently used developer tools that engineers may not feel comfortable using a third party site for, so a local version was made.  This would actually make a great use case inside of Backstage, as it will be hosted on a know safe internal developer portal.

https://devutils.app/

[2020-12-17 07:50] kaparwan commented on #3724
Thank you so much @freben . much appreciated your response as always !

I will work out the Database Admin side of thing. ( I  happen to be DBA once upon a time :-) )

Followed  the  connection string way because of  the SSL blocker. Basic config you mentioned works well without SSL. but we are enforced by SSL in the database . so every connection has to go secure. So would you anticipate further

[2020-12-17 08:09] mfrinnstrom commented on #3746
We are interested in this. We currently have our own plugin for running tasks in AWS ECS using Fargate but it would be nice to have  this included out of the box.

[2020-12-17 08:20] freben commented on #3724
No it does not try to create a `postgres` logical database; that parameter in the code example is just the name of the logical database that shall be the active one when the connection is completed (so that for example a `SELECT` will select from a table in that logical database). I think it has to be connected to that one to be able to list databases, but again, I could be wrong about that.

[2020-12-17 09:12] freben commented on #3726
The relation (as in, the `relations` part of the entity API response) will for sure be modeled; that's the primary way we intend that these things should be consumed even though they may start their life in the `spec`.

We haven't gotten around to putting in the System and Domain kinds yet, but we will. The relation type used between them probably won't be a parent/child one, but rather something

[2020-12-17 09:35] tragiclifestories commented on #3726
@freben Thanks for that, it will probably satisfy our use case. Is there a specific issue or something I can follow to keep an eye on systems/domains?

[2020-12-17 09:38] keshann93 commented on #3663
I hope we can close this issue

[2020-12-17 09:38] freben commented on #3663
Yes!

[2020-12-17 09:38] #3663 closed

[2020-12-17 10:41] freben opened #3765 "catalog model: introduce the System, Domain, and Resource kinds"
## Feature Suggestion

Before removing the alpha label on the catalog, I think it would be sensible to have at least the `System` and `Domain` kinds in place, and preferably also an outline of `Resource`, as defined in [the system model RFC](https://github.com/backstage/backstage/issues/390).

## Possible Implementation

I would argue that there is value in adding these in a very barebones manner,

[2020-12-17 10:43] freben commented on #2898
@tragiclifestories @tkrop See the [newly added issue](https://github.com/backstage/backstage/issues/3765) about introducing `System`, `Domain`, `Resource`

[2020-12-17 10:43] #3707 closed

[2020-12-17 10:57] tragiclifestories commented on #3765
FWIW I agree with this strongly. A `System` spec that simply served as a container for related components would be a significant value add for us.

[2020-12-17 10:59] tragiclifestories commented on #3726
Closing in favour of https://github.com/backstage/backstage/issues/3765

[2020-12-17 10:59] #3726 closed

[2020-12-17 11:18] Sinjo commented on #3765
Bringing the discussion over from #3726, I'm curious if modelling a monolithic service (specifically: a single codebase, built into a single deployable unit, with distinct owners of different parts of that codebase) came up at Spotify, or if you'd long since left anything that monolithic behind by the time you built Backstage.

My understanding is that `System` is typically used to model a group o

[2020-12-17 11:25] OrkoHunter commented on #2462
I feel this is hard or messy to accomplish since we remove the header in Reader transformations. And the hamburger menu is part of that header. If we separate the menu out from the header, we need to additionally style it well.

Marking this blocked, and should be fixed by having our own theme.

[2020-12-17 11:37] andrewthauer commented on #3758
This is interesting. Before we adopted backstage, we built a developer portal that contained various tools like this (although most are org specific). We haven't gotten around to porting them to backstage yet though.

I had imagined each tool might be it's own plugin. So maybe this plugin would be a landing page that can link out to other registered tool plugins?

[2020-12-17 11:57] andrewthauer commented on #3724
I believe the connection string approach can work here by auto creating the plugin databases as it will parse the string. However as @freben pointed out it is more limited in the options you can provide. However, in order for the auto db creation to work it needs to connect to a database that already exists with a user that has permissions to create databases. RDS does some customizations from sto

[2020-12-17 12:01] Fox32 commented on #3765
We from SDA SE are looking froward to the initial implementation of `System` and `Domains`. If you are interested, we can offer to contribute them (both not before 04.01.2020).

[2020-12-17 12:07] kaparwan commented on #3724
Thank you both of you.

The database is in connect string   yes and it is for initial connection.

But here the user doesn’t have permissions to connect to ‘Postgres’
database.   I will get that fixed.

Further , could you please help me in  understanding the “ auto creating
the plugin database “ please

On Thu, 17 Dec 2020 at 10:57 pm, Andrew Thauer <notifications@github.com>
wrote:

--
Sent from

[2020-12-17 17:23] alzafacon opened #3768 "Settings Page: Available Providers Tab: GitHubAuth not showing Sign Out"
## Expected Behavior

After I log in to Backstage using GitHub Provider
I should be able to log out using Available Providers tab under Settings Page.
I should also be able to log out if I reopen the tab.

## Current Behavior

I can't sign out on Available Providers Tab.

![](https://cdn.discordapp.com/attachments/687235481154617364/789128077304922112/unknown.png)

## Steps to Reproduce

I sign in

[2020-12-17 18:54] tudi2d commented on #3618
Hey - I have a little question concerning the local debugging of `default-app`.

**Problem:** I can´t figure out how to serve & debug the "default-app"
**Approach:** I tried a few things: Running `yarn run backstage-cli app:serve` in `./packages/create-app/templates/default-app` was the script I expected to work. My OS is Windows - I also tried the command using WSL Ubuntu. As far as I could under

[2020-12-17 19:15] freben commented on #3618
@tudi2d Well this is a completely different issue that kinda gets hijacked :) You can't run inside the template, please follow https://backstage.io/docs/getting-started/ and then you are more than welcome to pop by Discord with follow-up questions (or to post new separate issues as appropriate). No need to ping individuals - we are on a shared goalie schedule and somebody typically gets back to yo

[2020-12-17 20:03] freben commented on #3618
@tudi2d I think when you make changes to the create-app template, you will want to run the actual create-app script to get everything generated and filled in properly.

In the repo root:

[code]

I realise that the feedback loop won't be super fast since creating an app takes a little time (2 minutes on my machine).

[2020-12-17 20:21] tudi2d commented on #3618
Alright! Thanks for the quick response & have great evening @freben 👍

[2020-12-17 20:32] adamdmharvey opened #3769 "Templatize the pull request content used during catalog registration"
As a developer supporting a Backstage instance, I would like to be able to modify a template used for filling in a pull request when registering components in the catalog, so that I can customize it for my use case and potentially provide wording or links that reference my team or company's specific information.

This would be applied to the `@backstage/catalog-import` plugin.

---

Spun out of:

[2020-12-17 21:16] freben commented on #3758
This actually pretty cool. And then bind it to a hotkey so you can always get to it fast for some quick-and-dirty utilitizin', possibly as a popover even so you don't lose your context. :)

[2020-12-18 00:35] awanlin opened #3771 "Software Catalog won't work with Azure DevOps Server 2020"
## Expected Behavior

The Software Catalog feature should work with Azure DevOps Server 2020. To keep things short I'll use ADOS going forward. ADOS is the on-premise version of Azure DevOps Services (cloud).

## Current Behavior

When you attempt to configure the Software Catalog to use ADOS you'll see this error: `Azure integration currently only supports 'dev.azure.com', tried to use host xyz`

[2020-12-18 02:33] adamdmharvey commented on #3758
Really neat idea!!

Seems could use the concepts introduced here with this QuickJump prototype re: your idea there @freben?  https://github.com/backstage/backstage/pull/2916

A quick jump to a dynamic list of 20 tools - CIDR lookup, Base64 encoder, JWT encoder, blah blah.

[2020-12-18 07:20] freben commented on #3771
Thanks for describing the issue so thoroughly! The azure reader was contributed by the community and the core team do not personally have an ADOS installation to test against, so I'm happy that you are helping out with this.

I am not sure why the guard clauses were added initially, @o-faroo-do you remember? But I suspect that it was just the fact that that's what the contributor used and want sur

[2020-12-18 08:57] O5ten commented on #3327
@Priyabrata-dev If you have any use-cases for this or ideas on how it should look and work for you then feel free to jot that down here. Or i'll just build it for our own usecases. :)

[2020-12-18 09:13] freben commented on #3758
Yep, something like that.

Or make it its own page with routes so you can link to it? Not sure :) Could also have both (the same component, but rendered either in a popup by hotkey or as a route if you want to visit it).

[2020-12-18 09:27] mateiidavid commented on #3716
Hi 👋  @OrkoHunter thanks for such a detailed description! I'd like to work on this if that's cool :)

[2020-12-18 09:33] OrkoHunter commented on #3716
@mateiidavid That is awesome! Assigned it to you.

[2020-12-18 09:38] mateiidavid commented on #3716
Awesome, I'll try to get it done in the upcoming week. Will reach out here or on Discord if I need to clear any assumptions. Thank you!

[2020-12-18 09:42] OrkoHunter commented on #3716
Happy to help. 😁

[2020-12-18 11:20] ayshiff commented on #3714
@OrkoHunter Can I work on this ?

[2020-12-18 11:21] OrkoHunter commented on #3714
Hello @ayshiff ! Awesome, yes. Let us know if you need any kind of help.

[2020-12-18 12:28] #3422 closed

[2020-12-18 12:28] #3530 closed

[2020-12-18 13:00] #3618 closed

[2020-12-18 13:01] awanlin commented on #3771
@freben you're welcome, happy to help! Pretty sure what you've stated is correct and they were put in place to be safe. I've been using ADOS under its various names since 2008 so I have a pretty solid background. The API between the two are very close which is why after removing them it still works.

I talked with my co-workers and they pointed me in the direction of the internal process for appro

[2020-12-18 13:22] freben commented on #3771
Awesome. I took the liberty of assigning you to this ticket then.

[2020-12-18 15:08] freben commented on #3755
Hoping that this fixes it for you https://github.com/backstage/backstage/pull/3778

It tries to fall back to the token in `integrations` if there is one. The publisher does not yet do that though, so it's best to stay with the particular token passed in `scaffolder.gitlab.api.token` instead.

[2020-12-18 15:09] freben commented on #3755
@adamdmharvey We'll have a larger stab at rewriting all of this in the beginning of next year. The way that it deduces credentials should be overhauled (and tied to GitHub apps and similar where possible), and AT LEAST be unified to look the same across the various classes.

[2020-12-18 15:54] adamdmharvey opened #3781 "[RFC] Error messaging guidance and design language"
**Status:** Open for comments

## Need

A consistent design language for error messaging and when to use/not to use, and an ability for Backstage core or plugin developers to refer to it to better understand when and how they should alert to the end user. The goal would be to drive a more consistent error interface to the user, whether allowing graceful or more informational, etc.

What sparks the

[2020-12-18 17:31] adamdmharvey commented on #3781
Related https://github.com/backstage/backstage/issues/2865

[2020-12-18 18:03] andrewthauer commented on #3724
@kaparwan - The backstage backend example app by default uses the `SingleConnectionDatabaseManager` which will attempt to create a database for each plugin that requires a database. These by default are named with the convention `backstage_plugin_${pluginName}`. There are 2 main ways to configure the database in the `app-config.yaml` as you've discovered. The default way is using breaking out each

[2020-12-18 20:54] adamdmharvey opened #3783 "Lighthouse plugin treats URLs with or without a trailing slash as different"
## Expected Behavior

When running a Lighthouse audit against a URL that contains a trailing slash, I would expect that would be identified as the same web site as one that does not contain the trailing slash. At least when that trailing slash is off the root FQDN. (see Context below for more)

## Current Behavior

If you register two identical URLs, one with and one without a trailing slash, you

[2020-12-18 21:01] adamdmharvey commented on #3783
And open to other opinions on it, it just seems a bit weird.

Google will treat them as different, so presumably Lighthouse (from Google) would :)
https://developers.google.com/search/blog/2010/04/to-slash-or-not-to-slash

Would we lookup the value first, see if it's bit audited before with or without a slash, and offer a "do you mean https://foo.bar ?"

[2020-12-18 21:30] adamdmharvey opened #3784 "lighthouse: Add breadcrumbs to navigate back to the main audit table"
## Feature Suggestion

The Lighthouse plugin lacks breadcrumbs. When you view the homepage of the plugin, you get a list of audits. Then if you click one audit, you get the audit page. But there's no way to navigate back to the list of audits, without clicking back in your browser.

![image](https://user-images.githubusercontent.com/33203301/102663168-45d87400-414e-11eb-815a-7cd0fcb2c799.png)

##

[2020-12-18 23:00] fidelcoria-aa opened #3785 "GitHub Auth Login Popup Race Condition"
## Expected Behavior
Log into Backstage using GitHub auth provider.

## Current Behavior

Sometimes when logging in with GitHub auth provider I get a toast that says `Incorrect app origin, expected`.
But only sometimes.

## Possible Solution

I found the race. it's in packages/core-api/src/lib/loginPopup.ts messageListener and intervalId are racing. basically. when the window closes message listen

[2020-12-19 00:53] #3755 closed

[2020-12-19 03:07] karinanguyen commented on #3497
working on it!

[2020-12-19 13:37] XBeg9 commented on #2527
Same issue here, any ideas how to fix?

[2020-12-19 13:46] OrkoHunter commented on #2527
The TechDocs error of long file/repository name in Windows was fixed in this PR by @hooloovooo
 https://github.com/backstage/backstage/pull/2538

It may be helpful for Scaffolder's preparer too.

[2020-12-19 13:47] XBeg9 commented on #2527
@OrkoHunter I just cloned the latest `main` branch, and it shows the same error as above. :(

[2020-12-19 13:55] freben commented on #2527
@XBeg9 Right but, he is referring to another part of the system - the techdocs part - while this error is in the scaffolding (software templates) system.

If you are using a cloned repo, would you be able to add that same code

[code]

In this location in your repo?

https://github.com/backstage/backstage/blob/master/plugins/scaffolder-backend/src/service/router.ts#L33

And report back if it fixes

[2020-12-19 14:31] andrewthauer opened #3787 "[RFC] Entity Links"
**Status:** Open for comments

This is a formal proposal for a [discussion on discord](https://discord.com/channels/687207715902193673/687207715902193679/789554424300830720)

## Need

It is common to have existing external information or references related to entities in the catalog. These could often be represented as hyperlinks to some external reference when no related well known annotation or

[2020-12-19 15:04] n2ygk opened #3788 "tutorials/quickstart-app-auth is out of date"
The [Monorepo App Setup With Authentication](https://backstage.io/docs/tutorials/quickstart-app-auth) tutorial is out of date. See detailed bug report at https://github.com/johnson-jesse/simple-backstage-app/issues/1

## Expected Behavior

I should be able to use the demo repo to build a new app.

## Current Behavior

A number of compilation errors due to changes in the code base since the tutoria

[2020-12-19 15:30] freben commented on #3787
Great summary!

As we said in the chat, I think the url + rel form that you mentioned above is a good balance between easy enough to type and still extensible.

[2020-12-19 18:42] XBeg9 commented on #2527
This does fix the problem, I am creating the PR. Btw, I am on Mac :) and was getting this issue.

[2020-12-19 21:03] regicsolutions commented on #3587
@omerlh do you have a sample Dockerfile i can reference? i have the app-backend plugin enabled and was looking to build one image with the frontend and backend if possible.

[2020-12-19 21:25] andrewthauer commented on #3587
If it helps, this is more or less what we have for running the app-backend:

[code]

and then build with:

[code]

[2020-12-19 22:35] erikxiv commented on #3528
Another use-case: heroku-plugin-like database providers may give connection details in a single environment variable, e.g. a postgres connection string. If configuration is managed via code, that is not an issue as it is simple to parse, but supporting text parsing in a configuration language is a bit messy. (In this particular case, the connection string might be used directly without parsing, bu

[2020-12-19 22:41] tragiclifestories commented on #3765
A question that occurs to me - is there an idea of what values might 'emerge' as well-known `type`s for these new kinds? I'm interested mainly in `System` since we want to use it to model a monolith that does not neatly decompose into vertical slice features as described in the existing documentation. So i see (possibly) `feature` and `monolith` or variants of that sort.

Obviously for `Resource`

[2020-12-20 01:36] regicsolutions commented on #3587
Thanks @andrewthauer have you tried running the container as non-root user?

[2020-12-20 12:36] nirga opened #3790 "[Plugin] Splunk On-Call (formerly VictorOps)"
## Summary

Create a plugin for VictorOps, similar to current [PagerDuty implementation](https://github.com/backstage/backstage/tree/master/plugins/pagerduty)

## Project website (if applicable)

https://www.splunk.com/en_us/investor-relations/acquisitions/splunk-on-call.html

## Context

We are using VictorOps as our on-duty rotation manager so it will be useful to integrate it into Backstage.

[2020-12-20 12:45] andrewthauer commented on #3528
@erikxiv - Is this an issue your seeing? Backstage supports using a single connection string and will parse that string and change the database name as required. If your seeing an issue around this maybe you could open an issue as this should work.

[2020-12-20 12:47] andrewthauer commented on #3587
@regicsolutions - Not with this image. But if you used the official node base images you could easily try it out with the `node` user.

[2020-12-20 13:10] nirga opened #3791 "[Plugin] Kafka"
## Summary

Provide visibility into a Kafka cluster. Connect to it, sample messages from all topics and expose them in relation to entities in Backstage.

The plugin should support new metadata properties for components, that specify consumed and produced topics. The plugin can then expose a list of sampled messages from produced and consumed topics in an entity page.

We began working on a UI (un

[2020-12-20 13:18] erikxiv commented on #3122
Backstage newbie input: My personal preference is having clear boundaries and ownership on everything, which aligns well with tying documentation to entities. This also seems to aling with how to discover doc references and backstage in general. As the comments above show this preference is not universal, but we might easily cater to both worlds by utilizing documentation entities, or tying docume

[2020-12-20 13:19] erikxiv commented on #3097
Travis-CI? Specific support might not be needed if tooling is easy to use from any CI tool, though

[2020-12-20 13:22] erikxiv commented on #3528
@andrewthauer yes, I spent a few hours troubleshooting it (knex migration error as knex got surprised when all migration records were in the same database). I am new to backstage though, so it might be an error on my part. I will add a todo to reproduce from a fresh installation and add a bug if it still does not work.

[2020-12-20 13:32] freben commented on #3528
No this is as expected - knex is one of the reasons that plugins have their own database. It does not support (as far as I know) mixing several migration sources in one db.

[2020-12-20 13:42] freben commented on #3791
Oh yes, this is an excellent use case! It would be great if you wanted to contribute a plugin for that.

This can be useful in two distinct ways. For one, as part of an entity view, to be able to see what topics it relates to and to be able to inspect those topics (metrics, data, permissions...). And for the second, to be able to (not from an entity POV) to discover and learn about and inspect top

[2020-12-20 13:48] nirga commented on #3791
Yes, I want to start working on it.

You're definitely right about the security issues around inspection. Since people are serializing data in Kafka differently (for example we use Protobuf but many use Avro), it might make more sense to leave the actual serialization to the app that's using the plugin and then it can also decide if it needs to sanitize the data / hide it altogether.

[2020-12-20 13:55] freben commented on #3791
Nice - assigned you.

You are very welcome on Discord or in issues if you hit any blockers or have questions.

[2020-12-20 13:58] OrkoHunter commented on #3097
@erikxiv Exactly! There will be CLI commands that could build on any kind of environment.

However, there can be additional features specific to CI provider like a GitHub actions template which one can use with few configs in the GitHub workflows.

[2020-12-20 14:22] andrewthauer commented on #3791
I agree this would be very useful 🎉.

I'm not necessarily sure that trying to model a single topic to an API Entity makes sense though. It is very common to have to use multiple topics for related things cantering around a bounded context. The API docs plugin already supports AsyncAPI so I'd like to see how that could tie into this. I've thought about this a little bit already and it seems to me l

[2020-12-20 14:40] andrewthauer commented on #3097
For CircleCI this could be provided as an [Orb](https://circleci.com/developer/orbs).

[2020-12-20 14:45] andrewthauer commented on #3528
To clarify the default database code should be changing the database connection for each plugin when using a connection string. It will parse the string down to its parts. This is how we are currently using it. So I'd be curious why this is trying to target the same database.

[2020-12-20 15:05] erikxiv commented on #3097
Fyi: I did a naive implementation of a github action here: https://github.com/erikxiv/techdocs-action. A more serious one would probably want to align better with techdocs backend supporting different storage vendors though. (Let me know if I should unpublish from marketplaces as being confusing, thought it might be helpful for likeminded adventurers)

[2020-12-20 15:25] freben commented on #3791
Hm! So, would it make more sense for an API entity to be able to reference (by annotation or otherwise) the topic(s) that it represents? Could that even be extracted from the asyncapi spec? Sorry I haven't personally worked much with this.

[2020-12-20 15:27] freben commented on #3791
This strikes me as overlapping with the concept of regular API endpoints and the webpage link concept. They boil down to "where can I consume this thing"

[2020-12-20 16:02] OrkoHunter commented on #3097
@erikxiv Appreciate you sharing your GitHub Action. :) Yes, the official one will align with `techdocs-backend` and the external storage support. That being said, you don't have to unpublish it. Community building tools around Backstage is good news for all of us.

[2020-12-20 16:21] andrewthauer commented on #3791
AsyncAPI has core concepts such as channels and messages which map to topics and schemas in Kafka respectively. It also has the concept of servers which could map to environments or clusters.

Knowing which topics are produced and consumed by an entity would be very useful. However, there is an opportunity here to describe the relationships of the underlying message schemas and how they are produc

[2020-12-20 18:31] ParthS007 commented on #3715
@OrkoHunter I want to work on this one. Can you please assign it to me. Thanks :)

[2020-12-20 18:51] nirga commented on #3791
I wasn't familiar with AsyncAPI and I actually think it might be a great model to use. Now thinking about it a bit more I actually see 2 different components here:

1. A `KafkaCatalogProcessor` that can connect to a Kafka cluster and generate AsyncAPI specification by observing the different topics (possibly allowing further customization using a callback to the app).
2. A `KafkaPlugin` that can p

[2020-12-20 19:04] erikxiv opened #3793 "Route order in App.tsx may cause catalog-import to fail"
In `App.tsx`, if you put the `/catalog/*` route before the `/catalog-import/*` route, attempting to visit `/catalog-import` will yield a blank page.

## Expected Behavior

The page should show the catalog-import page.

## Current Behavior

A blank page is displayed. Seems the `/catalog/*` route is matched, but that component does not show anything since the URL is not as expected.

## Possible Sol

[2020-12-20 21:36] regicsolutions commented on #3587
@andrewthauer I am getting the following error with this Dockerfile in my /backend folder what am i missing?:

[code]

[2020-12-20 23:50] andrewthauer commented on #3587
Oh,sorry that was a custom npm script. You can probably just use `build` in your case.

[2020-12-20 23:50] erikxiv opened #3796 "Lighthouse audit frame blocked by Content Security Policy"
The lighthouse plugin displays details for a specific audit in a frame. This frame is blocked by the default Content Security Policy.

## Expected Behavior

A fresh installation of Backstage should display the Lighthouse audit view without errors.

## Current Behavior

The lighthouse audit view displays a sad/blocked rectangle (in Chrome).

The Javascript console diplays `Refused to frame 'http://

[2020-12-21 00:26] regicsolutions commented on #3587
@andrewthauer That worked, Thanks! Assuming your npm script allows you to build a specific environment? Would love to check it out!

[2020-12-21 04:25] regicsolutions commented on #2771
I am trying to find a way to enable engineers to trigger there own Blue-Green deployments for there owned components and was thinking of creating a Rehydration Template to solve this. The ability to call a Jenkins “rehydration” job that is mapped to a component or even a webhook would be ideal!  Is the plan to be able to leverage existing plugin functionality in the custom steps? Just my $0.02 ...

[2020-12-21 09:18] O5ten opened #3801 "[Plugin] RabbitMQ"
## Use Case

As a developer i want to see what exchanges, queues, bindings and consumers i have for a service in my RabbitMQ clusters.

## Summary

I leave this issue here for myself as a reminder that we should shave away the internal assumptions from our internal RabbitMQ plugin and publish it as it can always make someone happy. These are all entities that do not require more than monitoring AC

[2020-12-21 09:19] O5ten commented on #3801
Forgot to assign myself. 😩

[2020-12-21 09:40] nirga opened #3802 "Bootstrap locations by adding an option for a "scraper-like" job that finds backstage yamls"
## Feature Suggestion

This is somewhat related to #2001 but I didn't want to overwhelm the discussion there so creating a new one here.
My suggestion is to add a new layer on top of the current location mechanism that allows to generate a set of locations. This can be done using a background "scraper-like" job (that for example scans every day the org's repos, finding the Backstage yamls URLs). T

[2020-12-21 11:25] andrewthauer commented on #3801
@O5ten - Out of curiosity have you looked at

[2020-12-21 12:36] elad-barack commented on #1482
@Rugvip did you solve it? I'm experiencing the same when trying to add an external module to my plugin

[2020-12-21 13:26] O5ten commented on #3801
Neat! I have never heard of AsynAPI before but that would be really cool to implement as a part of this.

[2020-12-21 13:56] makkeess opened #3804 "[Kubernetes plugin] - Include listing CronJobs & Jobs in default objects"
## Feature Suggestion
As a developer I'm interested in seeing CronJobs and Jobs in the Kubernetes plugin page.

## Possible Implementation
---

## Context
Services, deployments, ingresses and more k8s objects are automatically picked up by the kubernetes plugin if they have the `backstage.io/kubernetes-id` label set on them. However CronJobs and Jobs is not part of the default objects that get pic

[2020-12-21 14:04] #2181 closed

[2020-12-21 14:25] fidelcoria-aa commented on #3785
Root cause seems to be combining polling and messaging. How about deleting intervalId, and instead have the OAuthAdapter sends an error message only when the popup unloads but has not yet sent and authorization_response?

[2020-12-21 15:18] adamdmharvey commented on #3122
@erikxiv Love your point in "random thought" re: tagging documentation against multiple entities.  We frequently have that, where two or more teams collaborate to a sort of "integration" guide, and while there might be a product manager who coordinates the need with the business/customer, it's _still_ multiple engineering squads with multiple entities (products) who all need to contribute to the i

[2020-12-21 16:05] awanlin opened #3806 "Expected object at root, got string Error If YAML Encoding UTF-16"
While generating some YAML files to setup Backstage for a POC at work I ran into this error - "Expected object at root, got string" - once I went to add them as static configuration. In the end the issue was somehow my PowerShell Out-File encoding was UTF-16 using UTF-8 solve the issue and the files imported fine. I'm not sure how other encoding formats get handled so that might be worth taking a

[2020-12-21 16:45] freben commented on #3806
Thanks for reporting!

[2020-12-21 17:39] Rugvip opened #3809 "[Composability] Document new composability system and APIs"
## Feature Suggestion

Document all new building blocks that have been added and what it means for plugins, apps, and how to migrate.

- [ ] Extensions and Component Data
- [ ] Extensions from a plugin developer's point of view
- [ ] Using Extensions in an app
- [ ] `RouteRef`s, `useRouteRef`, and plugin `routes` and `externalRoutes`
- [ ] Binding external routes in the app
- [ ] New catalog compo

[2020-12-21 17:59] andrewthauer commented on #3587
The `build:prod` just adds a custom config file since we don't use `production` as our environment name. It's unlikely needed for most people. To be honest, I'm not sure this is actually needed with the `app-backend` now that I think about it. It might be a hold over from when we we had the frontend split out into another container.

[code]

[2020-12-21 18:33] andrewthauer commented on #3809
Does this mean I could potentially revisit  #2791 soon'ish? 😄

[2020-12-21 18:36] andrewthauer commented on #3787
@freben - I'd be happy to take this one on. Assuming there are no high level objections to the idea. Any details can be ironed out as part of a PR.

[2020-12-21 18:46] andrewthauer commented on #3765
@tragiclifestories - I think `feature` and `monolith` could be well known types for a `System` entity. I'm wondering using the term `bounded-context` might also be worthwhile to consider. There could be some other identifier or classification, like what type of feature. Although maybe the `name` or `description` fits that.

As for domains, I could see `type` being useful to provide a higher level

[2020-12-21 19:44] andrewthauer commented on #3791
@nirga - I think there could be 2 different approaches for the first point. A `KafkaCatalogProcessor` could be used for a code first approach where things are discovered after the fact. Another might be `schema first` which may involve creating an `AsyncAPI` spec as being the source of truth. Each approach would be more specific to how the org operates.

There are probably 2 core categories to mod

[2020-12-21 20:06] freben commented on #3765
@mbruggmann I think this interests you!

In the legacy internal catalog, systems aren't typed. And there were Components typed for example `feature` that were a part of a larger whole, such as a client `app` Component. So they were both components, and their relations were only ad-hoc and not necessarily clearly hierarchical.

I had actually not considered yet whether to add types to Systems here.

[2020-12-21 20:08] freben commented on #3765
I forgot to add:

We still want to see relations between monorepos and their constituent parts. Maybe there's a place for `spec.partOf` and `relations.isPartOf` + `relations.hasPart` or similar that gets generated from our

[2020-12-21 20:37] freben commented on #3787
@Rugvip @benjdlambert Opinions? Is the concept of links wise enough, and is the concept scoped correctly? I want them to primarily be informational and drive a links collection in the frontend. My main worry is whether there's an unclear overlap with annotations, or if this for some reason isn't the right place for the data or the right time to introduce it.

[2020-12-21 21:08] erikxiv opened #3810 "Bug: Backend fails to start when using a PostgreSQL connection string"
Certain providers inject database connection details into an app as a single connection string environment variable. Backstage configuration supports this via the `backend.database.connection.connectionString` configuration parameter. When testing this with a PostgreSQL database I however get a startup error.

## Expected Behavior

Backend starts.

## Current Behavior

On startup, the backend thro

[2020-12-21 21:11] erikxiv commented on #3810
FYI @andrewthauer ☝️

[2020-12-21 21:15] andrewthauer commented on #3810
Oh, I see it right away @erikxiv. It should actually be:

[code]

I suspect this isn't documented, so this ticket can track documentation.

[2020-12-21 21:34] freben commented on #3810
Maybe for starters add examples and clarifying text to the config schema file!

[2020-12-21 21:37] wyattwalter commented on #3810
😆  I see this was already indexed by Google and I found it after all of about 25 minutes. I'm struggling right now with the same error trying to get a SQLite file setup just for demo purposes.

The default is:

[code]

Any chance you could clue me in on the syntax for a file? I thought that:

[code]

would've done the trick after checking out the Knex documentation, but nothing I've tried so far s

[2020-12-21 21:45] freben commented on #3810
@wyattwalter Frankly the sqlite binding was mostly added for quick and easy local testing and development, and the file driver for it hasn't been scoped to test against. Would a quickly spun up docker postgres help?

[2020-12-21 21:47] wyattwalter commented on #3810
Ahh that makes sense. That'll work just fine for me. Appreciate the quick response!

[2020-12-21 21:54] tragiclifestories commented on #3765
Thanks @freben - interesting to see what Spotify had done with this. You may be right and the monolith question is better modelled after all. To put it crudely, I want there to exist a page where I can see all the 'bits' of my monolith in one place, above all else.

But there are also runtime concerns proper to the monolith itself as a whole - eg, error reports which are impractical to decompose r

[2020-12-21 21:57] erikxiv opened #3811 "Bug: Register an existing component using analyze-location fails if a catalog-info.yaml exists"
If one registers an existing component and points to a github repository with an existing `catalog-info.yaml` file, the wizard fails as it tries to add a new file on top of the old one.

## Expected Behavior

If one is lazy, forgetful or doesn't know better and input a repo location with an existing `catalog-info.yaml`, the analyze-location feature detects the file and registers that one as-is to

[2020-12-21 22:06] erikxiv opened #3812 "Bug: Register an existing component using analyze-location on GHE does not provide required spec.owner property"
If one registers an existing component and points to a github enterprise repository, the added `catalog-info.yaml` file does not contain the `spec.owner` property, which in turn will cause the location refresh cycle to throw an error instead of inserting the repo into the catalog.

## Expected Behavior

When using the wizard and merging the pull request, the new entity should show up in the catalo

[2020-12-21 22:23] freben commented on #3765
Oh absolutely, the ability to gather and display data like that is imperative. Sometimes it's tempting to take the shape of such core/important  data and use as inspiration for how to model the catalog, but it may sometimes lead to a worse overall design.

I think it can't be overstated how helpful it is to be able to show in a small widget on a component page,

[code]

Just that bird's eye view a

[2020-12-21 23:57] iamrajiv commented on #3741
@benjaminr I want to work on this.

[2020-12-22 03:42] regicsolutions commented on #3587
@andrewthauer Thanks for sharing! With the app-backend plugin this script should technically live in the backend package.json no? definitely see it coming in handy when building multiple environments, each having there own command 😃

[2020-12-22 08:40] mbruggmann commented on #3765
Agree that there is a need to cover an entity that acts like a bag of components, for example for a mobile app that contains independently owned features. The proposal we ended up with internally at Spotify is to add an additional concept we call **Application**.  It's defined as follows:

An application is a bundle of components that is packaged, released and operated as one unit. Compared to a s

[2020-12-22 09:00] OrkoHunter commented on #3741
@iamrajiv Go ahead!

[2020-12-22 09:41] freben commented on #3765
@mbruggmann Right.

does that risk weakening the Component concept? See the discussion above of a website starting its life as a component and ending up as an application when it grows. This changes its kind/namespace/name identifier, and hence urls and references everywhere.

Or do we dive head first into applications and choose to always model websites, services and client apps as applications f

[2020-12-22 09:41] tragiclifestories opened #3815 "[RFC] Represent monolithic applications as components"
**Status:** Open for comments

## Need

The existing catalog model is well suited to microservice architectures, particularly when the as-yet-unimplemented `System`, `Domain` and `Resource` kinds are added in. However, not all architectures fit this neatly. For example:

* Monolithic backend applications are common in the industry
* Mobile applications are typically shipped as single, feature-rich

[2020-12-22 09:43] tragiclifestories commented on #3765
I think we've moved beyond the point that this discussion is directly related to this issue so I've raised https://github.com/backstage/backstage/issues/3815 as a strawman proposal specifically focused on modelling monolithic apps.

[2020-12-22 09:43] freben commented on #3815
See for sure the continuing discussion in #3765 that may tip the scales in favor of an Application kind after all, if we make sure to understand the implications.

[2020-12-22 09:46] tragiclifestories commented on #3815
I'm easy either way, delta my specific point above. Just thought it would be good to have something concrete to talk about.

[2020-12-22 10:09] mbruggmann commented on #3815
Thanks for writing this up @tragiclifestories. I haven't really thought about it too much at this point, but I'm not entirely convinced that a separate Kind for applications is a bad idea. Maybe I'd rather do it this way:
* Have certain plugins that are attached to application kinds, like mobile releases
* If you need those plugins, you need to add an entity of that kind to the catalog. If you als

[2020-12-22 10:33] gharsallahmoez opened #3817 "Deploy on server with docker error"
I'm trying to eploy backstage on my server using docker (i'm following this https://backstage.io/docs/getting-started/deployment-other) . it works in my local machine but not in my server. any help?

[2020-12-22 10:43] freben commented on #3815
@mbruggmann For a small single purpose app / webpage, would you represent it as only an Application, or as both and Application and a Component?

Enabling features/plugins has been done a lot with annotations so far. It won't make an overly large difference to enable them for more than one kind.

[2020-12-22 10:50] OrkoHunter commented on #3817
@gharsallahmoez Could you share some logs of the error from server?

[2020-12-22 11:00] mbruggmann commented on #3815
@freben Not sure. But I think it'd be convenient if in most cases, it's only a Component until we want to share a plugin across components in different systems (say, mobile releases). In which case we'd add an additional Application entity, and associate the existing component with the new application? That would allow you to move certain annotations from the Component to the Application, and with

[2020-12-22 11:18] andrewthauer commented on #3815
It sounds to me like both components and applications could be the same thing. Most of the scenarios described, just shift responsibility of plugin features from a more specific part to a grouping of parts. Could both of these not just be Component kinds? An Application in this case is just a Component that is made up of other components and has had some plugin features transferred to it (eg CI/CD

[2020-12-22 11:25] freben commented on #3815
The alternative then, would be to make it an Application from the start - that will suddenly become one of the most common kinds. And it stays that way; Components mostly come into play when you feel the need to add the detail of multiple `feature`s inside it.

But then, is an SDK an Application? :) Etc. But that classifying problem applies for types too.

[2020-12-22 11:43] gharsallahmoez commented on #3817
@OrkoHunter I tried to installed locally on my ubuntu server using following this https://backstage.io/docs/getting-started/running-backstage-locally
I  get `404s will fallback to /index.html` in the frontend part (running on port 3000)
and `net::ERR_SSL_PROTOCOL_ERROR` in the console log for the backend (running on port 7000)
I installed an ssl certificate for the server, not I didn't get any con

[2020-12-22 11:45] freben commented on #3815
@andrewthauer Yep that rhymes well with my initial take and @mbruggmann's latest edit. Just want to taste the other approach for a bit before we reject it :)

So let's say we are a user that wants to start making a trading website.

We use the scaffolder. It leads to a `website` Component right? We name it `stonks`. People link to it in docs, make browser favorites, there are refs to it in the cat

[2020-12-22 11:52] freben commented on #3815
@andrewthauer Read your comment again - maybe that's exactly aligned with what you said? (I edited my comment a bit if you missed that last paragraph)

[2020-12-22 11:53] freben commented on #3815
@mbruggmann obviously i would love to hear your take on that thought, and whether that aligns poorly with what you had in mind for the internal model

[2020-12-22 11:55] andrewthauer commented on #3815
An SDK seems more like a library, which could be associated to other entities. It could very well encompass multiple services and APIs.

I'm not sure I'm too keen on the term Application for this. For me it implies something that is for end users. But what we are talking about to here is how to enable/disable certain features within backstage based on the composition of arbitrary things. The probl

[2020-12-22 12:04] freben commented on #3815
@andrewthauer Do you feel that the simple `partOf` relation is enough for those listed examples? I think for a human they may be. If it were meant to like drive a CI/CD system it wouldn't be detailed enough, but that's not the goal.

[2020-12-22 12:18] andrewthauer commented on #3815
I think `partOf` could work with all of them actually. All the examples except the micro frontends are single repos now so most existing plugins work fine modelling them as a single component. If `partOf` were introduced we could further break down some of these if we chose to. This would also help with associating the micro frontends to their parent web app. However things like releases or deploy

[2020-12-22 12:19] mbruggmann commented on #3815
@freben Another approach to robustness would be to rely more on systems, and making those the primary entry point for techdocs, urls, search, APIs etc. Because components will likely evolve quicker over time.

@andrewthauer Agree that some flexibility in the model is crucial. Maybe we can be stricter about the core entities (Components, APIs and Resources), while leaving the classifications/groupi

[2020-12-22 12:45] freben commented on #3815
That's a valid point. There's a bit of a mind shift for me to think of Systems as a more central thing.

Hm but the concern of making the unit of deployment and monitoring etc stable (especially if others key into it) still stands I think.

Maybe. However we encode a lot of best practices in how we do things I think, such as how we create our default templates and how plugins by default look at de

[2020-12-22 12:59] Fox32 commented on #3787
I wonder if it's a good idea to allow "any" icon. That would cause a lot of icons to be included and tree shaking not to work. I think it would be better if the backstage instance (configurable) provides a list of support relations and sets the icon there. That would also make the annotation alternative easier to implement. Sure that would limit how free teams can choose their relations.

Bessie t

[2020-12-22 13:02] freben commented on #3787
I'm a bit wary of icons too. Same with labels probably. People will want their own symbology and i18n or whatnot and I agree that it's probably something that, in practice, needs to be stitched up in the app using some facility for that.

[2020-12-22 13:08] andrewthauer commented on #3787
I've viewed both label and icon as optional. For icons I figured it would be up to the app integrator to both define the mappings and setup the frontend to do so. There could be a separate plugin or utility API to help with this. I think labels should be less controversial. Some URLS could be very long and or non descriptive, so I see it mowing needed in many cases.

[2020-12-22 13:10] freben commented on #3787
Aha, so icon in the form of enum-to-be-mapped rather than actual identifier into an icon lib. Sounds good.

[2020-12-22 13:17] andrewthauer commented on #3787
Although, I suppose `rel` could likely accomplish this for any standardized links. Anything custom per entity might require at minimum a label in some cases.

[2020-12-22 13:55] tragiclifestories commented on #3815
I think the point about persistent linking between entities is a good one - it hadn't occurred to me. But it's a problem with this sort of ontology that they tend to capture particular moments and getting from one state to another is sort of undefined behaviour. We should definitely bear it in mind when defining these core types.

For my purposes, not having an _explicitly supported_ application t

[2020-12-22 13:59] awanlin opened #3820 "TechDocs won't work with Azure DevOps Server 2020"
## Expected Behavior

The TechDocs feature should work with Azure DevOps Server 2020. To keep things short I'll use ADOS going forward. ADOS is the on-premise version of Azure DevOps Services (cloud).

## Current Behavior

there are various errors as you attempt to configure TechDocs to work with ADOS. The first one was a 404 as the URL being used was not in the format that ADOS uses, then there w

[2020-12-22 14:01] awanlin commented on #3771
Though I'd love to submit a PR for this it looks like it may take into mid-January for the process at my work to complete. If someone else wants to make these changes feel free. If they haven't been made once I have work approval I will make them. Thanks!

[2020-12-22 14:06] freben commented on #3771
OK, no problem. I'm at home with a cold right now, but I'll put a help wanted label on it in the mean time and have made a note about it personally too.

[2020-12-22 14:09] awanlin commented on #3771
@freben sounds good, get well soon!

[2020-12-22 14:22] nirga commented on #3791
Yeah, definitely it make sense! I guess I'll support first reading an AsyncAPI from a component and then querying the Kafka cluster to show relevant information (topics, consumer, volume, etc).

[2020-12-22 15:28] #3094 closed

[2020-12-22 15:32] awanlin commented on #3820
Somehow I lost my changes that fixed this so I can provide the error message now:

Error: Failed to get repository type at getDefaultBranch (webpack-internal:///../techdocs-common/src/default-branch.ts:265:15) at async getGitRepositoryTempFolder (webpack-internal:///../techdocs-common/src/helpers.ts:124:29) at async checkoutGitRepository (webpack-internal:///../techdocs-common/src/helpers.ts:145:2

[2020-12-22 15:39] wyattwalter commented on #2842
Adding this for anyone who finds this later:

I worked around this in my docker-compose setup by mounting `/tmp` into the backend container. What seems to be happening is that the backstage backend app creates a couple of temp directories and then tries to bind mount them in a temporary container based on the cookiecutter image. Since I'm running the backend in a Docker container, that temp direct

[2020-12-22 15:57] andrewthauer commented on #3791
Technically AsyncAPI would be attached to an `API` entity which in turn could be associated with a `Component` which has support in the [API Doc Plugin](https://github.com/backstage/backstage/tree/master/plugins/api-docs).

I personally haven't spent a huge amount of time looking into this, but AsyncAPI is poised to be the canonical way to model these scenarios. From a practical standpoint, I'm wo

[2020-12-22 17:36] adamdmharvey commented on #3812
This may be a duplicate of https://github.com/backstage/backstage/issues/3678, introduced after `spec.owner` was marked required.

[2020-12-22 17:50] adamdmharvey commented on #3678
Hint: Following the breadcrumbs, Is it perhaps this, line 43 here?  The Analyze Location call doesn't define a `spec.owner`:

https://github.com/backstage/backstage/blob/257619c1ee9c49454fc32b6d7d2b07283ea8d738/plugins/catalog-backend/src/ingestion/LocationAnalyzer.ts#L31-L44

Maybe it should just default to be the repo owner, a la the org or user who already owns the repo?  (although that doesn't

[2020-12-22 18:23] erikxiv commented on #3812
Agreed, closing as duplicate.

[2020-12-22 18:23] #3812 closed

[2020-12-22 21:15] SudoBrendan commented on #3687
We were able to reproduce this.

I'm a complete React n00b, but checking out [the docs](https://backstage.io/docs/getting-started/configure-app-with-plugins), there's no reference to the [plugin](https://github.com/backstage/backstage/tree/master/plugins/catalog-import) in the [template used by create-app](https://github.com/backstage/backstage/blob/891628b3b501a72de71459bfde59a54a62a4bc70/package

[2020-12-22 21:20] adamdmharvey opened #3833 "feat: Notify on new releases to Discord #announcements channel"
## Feature Suggestion

It would be nice when a release is made, that an announcement is posted to the Discord `#announcements` channel. This might be useful for users who don't want to subscribe to releases through GitHub itself, and for new users to Discord to sort of see the frequency with which it happens (potentially driving valuable discourse on the topic).

![image](https://user-images.githu

[2020-12-23 11:25] Rugvip commented on #3809
@andrewthauer yes :grin:

[2020-12-23 12:06] #3531 closed

[2020-12-23 13:43] #3793 closed

[2020-12-23 13:43] #3425 closed

[2020-12-23 17:00] #3741 closed

[2020-12-23 17:02] gampeixoto commented on #3752
@freben, you can help me?

[2020-12-23 17:30] SudoBrendan commented on #3746
I really like this idea, glad to see it here!

My 2 cents - it'd be awesome if all the backend server did was push a structured message to a queue/database and left the rest of the task to something else. This would mean that unique preparers, templaters, and publishers could be their own independent microservices and make it easy to independently implement/update/scale them - all they do is watch

[2020-12-23 18:05] freben commented on #3746
My take is that it's a better complexity / flexibility balance to bundle them. It's an extremely low volume service, and management overhead will probably quickly overtake any value of separating them. But yes, this is the exact design I had in mind personally with a lightweight broker and workers that are basically regular little services that are offered and work off these tasks, sending feesmdb

[2020-12-24 08:15] gharsallahmoez commented on #3817
@OrkoHunter  any update ?

[2020-12-24 08:45] OrkoHunter commented on #3817
@gharsallahmoez Were you able to run Backstage locally after doing a git clone? Try without SSL, just on http (which should be the default).

The `404s will fallback to /index.html` is not an error. After doing `yarn start` for frontend, webpack takes time to create the frontend bundle (takes few seconds while there is a white screen in browser). The `net::ERR_SSL_PROTOCOL_ERROR` should not be the

[2020-12-26 17:40] tudi2d commented on #3784
I would like to work on this :)

[2020-12-27 08:02] erikxiv commented on #1435
👋 I am taking a stab at protecting the api backend with backstage id tokens - for selfish reasons but hopefully contributable. It works, but I am not so sure about a good way to get all plugin clients, both core and community, to supply the id token on all backend requests. Do you have any thoughts around this? I currently need to fork all plugins and manually add an authorization header - not a l

[2020-12-27 15:44] GoWind commented on #1435
@erikxiv  : Sounds great ! We would love to have authentication headers sent via the core plugins as well, as currently that is a insecurity that we have been meaning to plug for a long time.

One further suggestion. Rather than assuming an `idToken` , can you make the solution somehow configurable ( such as providing a method that can take A token and not just the `idToken` ? ) . The limitation b

[2020-12-27 15:59] GoWind commented on #3787
My feedback on this links:

I feel that there is a lot of overlap with `annotations` to justify this. While a `link` is more clear as to that this is a link (URL mostly), this can still be managed by an annotation.

If a complex type is needed to be stored as a value of for an annotation it can be serialized into a string during storage and de-serialized later (in fact, i believe this approach is

[2020-12-27 17:16] freben commented on #1435
This could warrant its own apiRef, like a `backendAuthorizationApiRef` or similar, whose default implementation indeed makes use of the identity API but can be replaced with anything.

Completely off the top of my head, maybe it could have something like

[code]

@Rugvip ping

[2020-12-27 17:56] GoWind commented on #3815
Too many high level "Kinds" would be IMHO, confusing. The way I would approach is to provide the minimum set of building blocks as Kinds and allow organizations/users to put them together to build the model as they see fit.

The way I see it, a monolithic runtime is still a component, that falls possibly under a system. Each runtime feature / library can be components that are children of that sys

[2020-12-27 18:35] freben commented on #3787
Hey, thanks for pitching in!

Yes, there is a potential overlap as mentioned above. However, the way we tend to think about the purpose of annotations is possibly not well aligned with these links. I think the discussions in [this issue](https://github.com/backstage/backstage/issues/2834#issuecomment-708042214) (especially the linked comment) may be informative. We should make a separate docs page

[2020-12-27 19:37] GoWind commented on #3787
Thanks, read through the issue. I think some of my comments about `links` are still valid

This is in some ways, unavoidable. Abstractions such as `Entity`, `Component` etc do not fit universally and some amount of `hacks` in implementation is to be expected, especially when migrating existing systems to Backstage. Users will try to use some "catch-all" mechanism to shoehorn existing information.

[2020-12-27 20:50] freben commented on #3815
This is a nice way of putting it!

With the caveat that we as makers of Backstage want to hit the just right level of opinionated, where we supply enough clarity and functionality out of the box to be immediately useful - even powerful - while also permitting extensions to that model. The main reason for that baseline need, is that we want plugins made by entirely different third parties to be abl

[2020-12-27 21:10] freben commented on #3787
The links are in my mind primarily scoped to human, informative (not normative), display. To me, their current intended model is so weak, that they could almost be intentionally left inside `description` or as part of the `README.md` of components if we made it possible to ingest and display that. I expect the main consumer of this information is a person that wants to know more about a component

[2020-12-28 01:46] lowjoel commented on #3748
Would this need to be generalised to other plugins, like a database API?

Most other applications I've built/used generally relied on a redis/some other in-memory store for keeping track of task lists/distributed locks etc.

[2020-12-28 03:20] adamdmharvey commented on #3784
@tudi2d fantastic, thanks for chipping in!  Assigned you.

[2020-12-28 09:20] freben commented on #3748
There will have to be some level of distributed coordination written as part of this, yeah, and possibly (but not necessarily) in a form that is reusable by other plugins. We may not want to force people to run redis as well so we may build it on top of the existing database instead, but TBD.

[2020-12-28 09:20] GoWind commented on #3787
This sums up my feelings as well. I do not think that they are strong enough yet to warrant being added to the core model of entities.

How much interest is in the rest of the community for a feature such as this ? If there isn't much, then perhaps this can be avoided for now ? Or , as an alternate maybe `links` can be added to the model and documented as an experimental entry in the alpha version

[2020-12-28 09:36] GoWind commented on #3815
Yes, that is what I had in mind.

This is where I am not sure of whether `dependsOn` or `partsOf` is a better approach. For a shopping system, what is the level to which it is coupled to the fraud detection data pipeline ? Is it a hard dependency (aka , pipeline down => system down ) OR a severe issue but not a down time ? Maybe I might model the first one as `dependsOn` and the latter as a `parts

[2020-12-28 09:41] Rugvip commented on #1435
This is what the `getIdToken()` of the `IdentityApi` is already intended for, there's really no other use-case for that token atm.

I think it should be enough if we tweak the `IdentityApi` contract to not expect the token to specifically be an OpenID Connect ID Token, or even a JWT at all. With that you can simply use your own token in the sign in result. If you end up needing a mix of tokens or

[2020-12-28 09:43] lowjoel commented on #3748
Yeah, OK. It's possible to provide a Redis-like API (incrementBy, compareAndSwap) with TTL constraints by writing an SQL emulation layer. It won't be pretty, though, but it should at least be (somewhat) correct (if all the nodes have time within a minute of each other... for TTL)

[2020-12-28 09:44] freben commented on #1435
Nice, that does simplify things a lot.

In the future as well? Not intending for this one to expose the actual ID token as presented by an underlying iodc endpoint (where applicable), as opposed to the Backstage issued one?

[2020-12-28 09:46] freben commented on #3748
It'd probably be talking to the database master and not getting absolute timestamps from the clients.

[2020-12-28 09:52] lowjoel commented on #3748
Don't think we can get SQL databases to impose TTLs on individual records. It'll have to be implemented on the adapter. We can discuss this design once the work actually gets under way, or if it's needed. I suspect we (Grab) may be running into some parallelisation problems, not sure if it's because of imports running in parallel.

[2020-12-28 09:58] freben commented on #3748
Yeah that's correct, the TTL handling has to be in client code. We have the same kind of locking functionality in place in our legacy internal catalog, so there's some prior art.

[2020-12-28 09:59] freben commented on #3748
If you see any kind of problem like that, do make an issue! Let's track it.

[2020-12-28 10:02] Rugvip commented on #1435
It'd be up to the integrator to make sure that whatever token is provided in the frontend is also understood in the backend. By default we'd use the `auth-backend` issues Backstage Identity ID Token + accompanying middleware, but I think we should allow those to be switched out if needed, such as for @GoWind's case. Some orgs might also prefer using access tokens and/or tokens that they have issue

[2020-12-28 10:40] erikxiv commented on #1435
I ran into an additional complexity, realizing that the catalog api is consumed from the backend as well. As far as I interpret the design, you want apis to be consistent client/server, negating the option to pass along the request context (containg the idtoken to forward) as well as allowing flexible deployment options for plugins, negating the option to bypass the router that now demands authori

[2020-12-28 10:43] GoWind commented on #1435
I am looking at the crumb trail of how to customize the behaviour. It looks like there is a custom SignInProvider with a

https://github.com/backstage/backstage/blob/ad364bdf575a891ee43a0b49ff8cc1046f0f0bee/packages/core/src/layout/SignInPage/customProvider.tsx#L63

that implements the [Identity](https://github.com/backstage/backstage/blob/ad364bdf575a891ee43a0b49ff8cc1046f0f0bee/packages/core-api

[2020-12-28 11:13] Rugvip commented on #1435
Initial thought would be to separate the backend and frontend clients in a way that allows the backend one to forward auth tokens, and the frontend one to provide them automatically. We'd adapt the existing client to accept a token, and that would be the backend one, and the frontend one would then be a wrapper around that which makes the token optional by using a token provider instead. Thoughts

[2020-12-28 11:41] Rugvip commented on #1435
See https://github.com/backstage/backstage/issues/1435#issuecomment-730219831 above for how to customize the entire `SignInPage`. You then pass the entire custom component to the components option of `createApp`.

[2020-12-28 11:43] #3423 closed

[2020-12-28 12:12] freben commented on #3785
Trying to reproduce this, on latest master (b2195fc06c68cc0e6aa84fae00ae5e5e31045ef4).

- macOS Firefox 84.0.1 (64-bit)
- macOS Chrome 87.0.4280.88 (Official Build) (x86_64)
- macOS Safari 14.0 (15610.1.28.1.9, 15610)

Unable to make this happen. I've logged out and back in repeatedly many times on each browser and still haven't seen the issue. Odd.

[2020-12-28 12:56] tragiclifestories commented on #3815
For me, using dependsOn would introduce potentially confusing overloading there. Real-ish life example: we have an intwernal Ruby gem that does structured logging according to our favoured samples. Our monolith _also_ some related layers for logging request data, job data, etc. I'm not sure I want to see both types of 'dependency' listed in one place. Also, maybe it's just I need to finish this co

[2020-12-28 13:06] freben commented on #3815
I second the confusion.

Still leaning towards the "not forbidding" part at least being strengthened to "encouraging", and probably even settling entirely. This may be one place where being opinionated may help long term, is my thinking.

Consider this from the maintainer point of view:

We will have to update the [well-known relations](https://backstage.io/docs/features/software-catalog/well-know

[2020-12-28 14:55] #3785 closed

[2020-12-28 16:32] Rugvip commented on #3793
Thanks for reporting! Took care of this as part of #3826 which will be rolling out soon

[2020-12-28 16:39] Rugvip commented on #3768
Fixed half of this in #3770. Sign in/out should work, but it's not initialized properly yet

[2020-12-28 17:56] Rugvip commented on #3804
@makkeess Agreed! Would you like to work on this or is it up for grabs? :grin:

[2020-12-28 18:13] Rugvip commented on #3811
Assuming best solution here is to simply treat an existing `https://github.example.com/user/repo/catalog-info.yaml` as a registration instead of an import?

[2020-12-28 18:17] Rugvip commented on #3810
Alright to close this?

It's documented in the config schema, although just that there's not yet a good way to read the schema, pending #3367 😅

[2020-12-28 18:35] freben commented on #3811
Yep but this should be detected I think. @mcalus3 ping

[2020-12-28 18:47] keshann93 commented on #3367
@Rugvip I would like to work on this, hope some experience from #3364  will help to speedup the implementation

[2020-12-28 19:05] erikxiv commented on #3810
Feel free to close. This issue is also partly documentation, and seo-friendly as it turns out.

[2020-12-28 19:05] #3810 closed

[2020-12-28 21:33] adamdmharvey opened #3858 "Catalog-import should be more generic to support multiple Git providers"
Regarding `@backstage/catalog-import`:

![2020-12-28_9-50-12](https://user-images.githubusercontent.com/6157895/103223348-06e7b280-48f4-11eb-9cc3-ee45c58f8895.png)

_Originally posted by @regicsolutions in https://github.com/backstage/backstage/pull/3782#issuecomment-751716202_

[2020-12-29 10:22] makkeess commented on #3804
Anyone willing can feel free to grab it! :)

[2020-12-29 11:32] GoWind opened #3867 "CatalogApi entry in AuthProviderFactoryOptions adds unnecessary coupling"
I am not sure how I missed this change, but I  would have provided feedback when this was done.

The AuthProviderFactory options now has a `CatalogApi` [field](https://github.com/backstage/backstage/blob/master/plugins/auth-backend/src/providers/types.ts#L122), whose value is any instance implementing the `CatalogApi` interface.

The [CatalogApi](https://github.com/backstage/backstage/blob/master/

[2020-12-29 12:20] freben opened #3870 "[RFC] From Identity to Ownership"
**Status:** Open for comments

This RFC takes a higher level view on how we should go from the identity of the logged in user, to showing the correct list of entities that they own in the Backstage interface. This involves a number of actors and interactions.

## Need

The concept of ownership plays a key role in the Backstage system.

Backstage users expect to be able to clearly see what entities

[2020-12-29 12:22] freben commented on #3867
I JUST now made this one: https://github.com/backstage/backstage/issues/3870

TL;DR: The reasoning is that there needs to be a connection from the auth identity world to the backstage user/groups world. Somebody needs to make the connection. Currently the auth system is responsible for making the connection, even though it's - as is outlined in the RFC - not well fleshed out yet at all.

Give it a

[2020-12-29 12:28] Rugvip commented on #3870
Before reading it all, I'm liking the alternative of `identity.backstage.io/<authProviderId>` since each auth provider has a known mapping. It provides some proper namespacing of the different providers, something that e.g. a `github.com/login` label couldn't do.

[2020-12-29 12:32] freben commented on #3867
(and, you may enjoy the Alternatives section - which we talked a bit about and may actually lean towards - that renders the catalog connection unnecessary)

[2020-12-29 13:34] GoWind commented on #3870
My initial opinions with modeling Identity and Ownership is that Backstage need not step on this area of responsibility,
atleast at this stage.
Modeling users, accounts and most importantly, the connection between accounts is very messy. A lot of organizations use perhaps multiple different account sources (Google, LDAP, GHE) to name a few and there is no simple, UNIFORM way to reason about them.

[2020-12-29 13:43] GoWind commented on #3867
Provided feedback on the RFC :).

I want to pushback a little (actually quite a bit) and say that this is better left to implementations rather than attempt to reason about this in the Core Backstage code/concepts.

My motivation is even for our specific organization, we are still not sure how to model the relationship between GHE - Google and LDAP. We cannot decide on any connectiong mechanism wi

[2020-12-29 13:45] GoWind commented on #3867
I would be happy to continue discussing this in the RFC, but as a solution for this specific issue, given that this coupling is still in the RFC stage and not decided yet, can we make the CatalogAPI an optional parameter in the interface ? That way, atleast until it is decided how to connect identity to Catalog, applications can decide for themselves how they want to do so.

[2020-12-29 14:57] Rugvip commented on #3367
@keshann93 Awesome, thank you! :grin:

Best sync ideas early either here on in draft PRs btw, since the issue is pretty open ended

[2020-12-29 15:11] Rugvip commented on #3783
Could imagine stripping trailing `/`'s from FQDNs as suggested is pretty safe an simple fix :grin:

[2020-12-29 16:05] Rugvip commented on #3833
Good idea!

Gonna grab this as I'm working on some overall improvements to the release process :>

[2020-12-29 16:27] andrewthauer commented on #3787
Some good points here for sure.

One strong reason for proposing some sort of links structure is to enable entities to become the central knowledge base for all related things to that entity. A backstage instance will likely gain higher adoption if it can centralize as much information as possible in a single place. There are many things that could be related to an entity / component that are exte

[2020-12-29 22:09] backjo opened #3875 "Techdocs page should not need to re-render when navigating to hash links."
When clicking on a hash link on a techdocs page, the TechdocsPage re-renders before scrolling to the relevant section of the document.
## Expected Behavior
Clicking on a hash link should scroll to the relevant section, without re-rendering the entire page.

## Current Behavior
The page re-renders before navigating to the right portion of the page. This is possibly due to React Router seeing the pa

[2020-12-30 00:34] o-farooq commented on #3771
@freben yes thats correct , the check was there as I was not sure if it will work with on-prem Azure devops. Since it works, this check can be removed . have created a PR for removing it #3877

[2020-12-30 01:50] backjo commented on #3870
I'm also a fan of the label-based approach for resolving identities from multiple IdPs to a single identity in backstage, rather than having multiple users in discrete namespaces. As you point out, It introduces more complexity on the catalog processors - but IMO it encapsulates that complexity fairly well, so that consumers of the catalog API don't need to understand how the same user relates acr

[2020-12-30 05:35] adamdmharvey opened #3879 "lighthouse: Suggest rename annotation due to use of inaccurate domain name"
## Feature Suggestion

The current annotation for the Lighthouse plugin is `lighthouse.com/website-url`.  In fact, that domain name is a parked one owned by a hosting provider and has no relationship at all with Google or Chrome Dev Tools.   I suggest using it infers inaccurate accountability, and down the line could be used maliciously by whomever is the owner is to confuse the industry or any us

[2020-12-30 09:14] erikxiv commented on #3870
From a newbies perspective (w/o understanding how processors work): I believe users would expect to be "the same user" regardless of which login provider is used. E.g. regardless if I log in via Github or Google, I would still expect the system to show me "my" services. It might also be that my company does not allow me to login to our top-secret Backstage via github.com credentials, but we still

[2020-12-30 09:45] Rugvip commented on #3867
One of the missing pieces is some sane way to enable or disable the identity part for each auth provider. We definitely don't want to force an identity mapping to the catalog for every single auth provider. The use-case for using multiple different auth providers as identity providers is for organizations that don't have all their users in the same SSO system or for other reasons want to use multi

[2020-12-30 09:50] GoWind commented on #3870
Login and authorization, I believe are one and the same. Each authorization  provides a Login. A single user, theoretically might be able login via multiple authorizations simultaneously (LDAP, Github, SSO) at the same time, but they will still be mapped to One specific Backstage User.

Let us consider the usecases for the Catalog.

I am making points from the perspective of my organization, but I

[2020-12-30 09:58] GoWind commented on #3787
IMHO, this would simply be replicating the `relationship` in a new `High` level entity  that duplications the `relations` field. I think having one place to model relationships would be preferable.

I am not a frontend dev, but I assume that to display a certain icon for a link, Backstage UI devs would be writing specific components for a `url` + `rel` combo,  or a generalinzed `Link` component th

[2020-12-30 10:15] O5ten commented on #3804
@makkeess & @Rugvip i think we should be able to squeeze in StatefulSet and DaemonSet as controllers aswell with this issue seeing as they are closely related to Deployments. :)

[2020-12-30 10:49] GoWind commented on #3867
This is a non-problem, IMHO. If any organization does not have a unified identity system, then there is no way for me to recognize which user it is.

For example, if my company uses Google SSO and LDAP , with half of my company using SSO and the rest using LDAP, then unless I have a mapping, that uniquely maps each ldap session or SSO session to a user, I cannot provide users uniform access to all

[2020-12-30 10:52] GoWind commented on #3870
Cross-linking a comment because I think it is relevant here

https://github.com/backstage/backstage/issues/3867#issuecomment-752413888

[2020-12-30 11:09] #3771 closed

[2020-12-30 12:23] Rugvip commented on #3867
Does your "Organization user" have its own login provider and even organization data that you can ingest into the catalog?

[2020-12-30 12:59] freben commented on #3867
Yeah the ID is "just a string" and can be sourced in any way, but the way that it is used after that, is lacking, and ties poorly to the ownership concepts.

I was a bit unsure about these two - were they a hypothetical tied to the line above them, or a statement of the current state of things?

What the "labels" solution talked about, was similar to the existing one in the sense that yes, you ret

[2020-12-30 14:25] GoWind commented on #3867
Yes, we have our own login provider.
We are currently discussing how to ingest organization data, because the setup is not straight forward and there is no way to synchronize cleanly with it. Which is why, we as of now, simply add `owner` info to the Entities, but do not store groups or users in the Catalog.

@Rugvip

[2020-12-30 14:26] freben commented on #3870
Glad you brought this up, because I think it's worth clarifying, that this is _not_ meant to be in scope for this RFC!

The normal, overwhelmingly most common situation will be that you have _one_ sign-in provider; the company picks one or more likely already has one picked because it's what a lot of their other web based products use (maybe the intranet, the onsite jira, your teamcity, or whatnot

[2020-12-30 14:42] freben commented on #3870
just coding out loud

[code]

[2020-12-30 14:50] lucasmelin opened #3888 "Bug: Backend fails to start due to db migration failure"
After creating a new backstage application with `npx @backstage/create-app` and selecting the SQLite database option, the backend fails to start up due to a failed database migration.

## Expected Behavior

The migrations should complete successfully and the backend should startup.

## Current Behavior

The migration `20200702153613_entities.js` fails when trying to drop the index `entities_unique

[2020-12-30 14:56] freben commented on #3888
Fixed! :) https://github.com/backstage/backstage/pull/3881

[2020-12-30 14:58] freben commented on #3888
If you want to get unblocked quickly, before a new release is cut, you can actually change that file inside `node_modules/@backstage/plugin-catalog-backend/migrations`. If you change the try/catch to instead be an if statement like in that pull request (the other ones in the other files aren't strictly necessary), it'll go through.

[2020-12-30 15:00] freben commented on #3888
Put a will-fix label in the sense that we will make a release of the fixed code next week.

[2020-12-30 15:02] GoWind commented on #3867
Yes, this is not a contract yet. The Backstage Identity and Authorization info is tied via `AuthResponse`, but there is no good contract between them.

I believe  this is the current state of things. `BackstageIdentity` is populated by the `populateIdentity` method, which is very specific to each of the Authentication providers. If you change  the  authorization provider, then this Identity change

[2020-12-30 15:09] lucasmelin commented on #3888
Thanks, can confirm that your suggested fix works.

[2020-12-30 15:12] freben commented on #3867
@GoWind I think we're actually converging in our thinking here. I agree with the part of just signing in using one method. Then the problem space is reduced to

- How may we tie the various strings in the little structs of data that comes out of our auth providers, to the `owner` fields of entities in the other end?
- How may we tie the signed-in persona to perhaps more than one such "space" of ow

[2020-12-30 15:17] Rugvip commented on #3867
@GoWind wanna make sure it's clear that in your case we'd only then intend for that identity and org data to be ingested into the catalog. Other data such as GitHub would not be part of the org data model at all, unless you specifically want users to also be able to **sign in** to Backstage using GitHub, which would be a niche use-case.

In a typical setup you'd have that one source of org data wi

[2020-12-30 15:23] freben commented on #3870
Updated the above to fit both label matching and direct matching

[2020-12-30 15:29] freben commented on #3867
Forgot to address this one.

We are looking at using namespaces as both scopes and possibly security boundaries. The way namespaces could play into what we suggest, is in terms of having different org trees in different namespaces to both avoid collisions and to scope them.

As for selecting namespaces in the frontend - that's not something we've been looking at so far. The plan has instead been t

[2020-12-30 16:09] GoWind commented on #3867
@freben

`idTokens` are intended for this use-case. They contain the information that needed to authorize operations on behalf of the user. The backends task will be to obtain the `idToken`, verify it , unpack the information and use it to perform operations.It will by now have access to a user's group and other info that it can use for say, filter the catalog for entities, or for checking permiss

[2020-12-30 16:20] GoWind commented on #3867
It is possible that `idTokens` are not sufficient. In which case, we possibly might have to provide a shim on the frontend to obtain a bag of additional info to enrich the frontend's session object.

Note that this won't work well without the idToken, as a malicious request could "fake" this bag and we need to verify this. This is where access/idTokens can be used to request additional info on the

[2020-12-30 16:22] GoWind commented on #3870
Cross linking my comment about `idTokens`, as they should be able to provide the same groups info, without having to query the catalog
https://github.com/backstage/backstage/issues/3867#issuecomment-752675092

[2020-12-30 16:40] Rugvip commented on #3867
@GoWind I could imagine making it possible to choose between either referencing an entity in the token, or embedding an entire entity. Obviously embedding an entire entity has some performance and synchronization issues, but would allow you to generate ad-hoc user data during login that doesn't necessarily exist in the catalog

[2020-12-30 16:41] GoWind commented on #3870
So the actually problem, that you want to address is NOT having or ingesting multiple org hierarchies or catalogs, BUT how does one Signed-In Identity have access to multiple personas IN DIFFERENT namespaces, simultaneously?

This is tricky and might not be feasible. The Sign In provider **MIGHT** provide me a mapping of my Org persona to my Git persona, but that **DOESN'T** necessarily mean that

[2020-12-30 16:47] GoWind commented on #3867
Yes, it is a trade-off. For context, this was a big multi-month discussion between multiple teams in a company I used to work for and I forsee the same problem occuring again :) (I had no idea what they concluded as i left before they did :)) .
I think long-term having only Tokens might be the better solution. Backends might have to perhaps make additional requests, but
 embedding entities in the

[2020-12-30 16:51] Rugvip commented on #3867
Yep, it's a discussion that'll have to continue into 2021 :grin:

[2020-12-30 17:22] andrewthauer commented on #3787
Agreed. I only brought this up for completeness in exploring options.

I think my point may have been unclear here. I was implying the opposite of standardizing icons and text, but making it possible to customize them per backstage instance. This is somewhat related to #3560, but in this case would apply to various labels and icons used throughout the app & plugins. To your point, doing so would r

[2020-12-30 17:30] Rugvip commented on #3787
Throwing in that I'd vote for going with, and adding support for, some version of

[code]

I do think having a simple way to add a couple of links is important, it's very widely used in the internal version

[2020-12-30 17:36] tudi2d commented on #3784
@adamdmharvey I have question concerning proxy/CORS of plugins. I tried serving the Lighthouse Plugin, but the request gave back a CORS error (because it is served over Port 3003 & the FE runs on 3000). Do I have to do some other configurations? :/
![image](https://user-images.githubusercontent.com/8904624/103370599-7f559b80-4acd-11eb-9c9e-22c98aeeecf0.png)

[2020-12-30 17:46] #3557 closed

[2020-12-30 20:19] andrewthauer commented on #3787
@Rugvip - So you are suggesting that annotations be extended to support native objects rather then just JSON encoded strings?

I think this could be useful for other means as well. There is already a case that we ended up encoding a JSON string value for a custom annotation. However, the annotation in that case is populated via a catalog processor so its never manually edited.

I think it would be

[2020-12-30 20:28] Rugvip commented on #3787
@andrewthauer yep, had a couple of cases where it would be useful to allow any JSON value as annotation value. Wanna do that change along with removing any way to query annotations by value from the catalog :>

String format would be fine too, but modelling it as multiple annotations is still gonna get pretty meh. You'll have to both figure out enumeration, which is prolly easy enough, but also or

[2020-12-30 20:51] freben commented on #3787
Still not sure what "makes" this an annotation. It's a pretty special concept. What makes it not go directly in metadata, and how is it different from e.g. `description` and `tags`?

[2020-12-30 21:53] bbourqu opened #3894 "`id_token` is not returned from the OAuth2 Strategy when the `openid` scope is used"
## Expected Behavior

When using the OAuth2 strategy and using the scope `openid` the provider will provide back a `id_token` that can be jwt decoded and get certain aspects of the user including the email which is used for the backstage id

## Current Behavior
With the oauth2 auth strategy I'm getting an empty profile.  I took a look and I don't seem to be getting back the id_token from the provi

[2020-12-30 22:49] andrewthauer commented on #3787
I'll rule out 2 of these based on the following:

- Tags are typically used for categorization, which is not the intent here
- Description is a summary or explanation of the entity so it's unusable or practical for modelling links

Annotations, as described in the backstage docs seem to fit the closest of the these. The fact they are non identifying and can be references to external systems seems

[2020-12-31 03:17] adamdmharvey commented on #3784
@tudi2d I don't have it fully working myself, but in the plugin README, it notes you do need to define CORS config but in the `lighthouse-audit-service`, not in Backstage.  Not sure if you had done that?  Note I also tried to improve some of that doco with #3895 .

[2020-12-31 07:48] freben commented on #3787
Oh yeah I didn't mean to use tags or description to model links; I meant that to me, links feel like the exact same class of information as those.

The root of the metadata blob is open for extension and I expect people to throw in more metadata-like things there for their own purposes. But labels and annotations are very specific fields with specific purposes, limitations and semantics. So to me

[2020-12-31 08:01] freben commented on #3787
Essentially,

A well defined application ID/slug that's used to enable plugins/features in the frontend, and which is used to form queries into third party systems -- sounds like an excellent candidate for an annotation, or actually even a label since you may want to query on a bag of entities related to an application

A random bag of links to various stuff, only used in an informative sense for

[2020-12-31 09:39] O5ten opened #3898 "Make it possible to use redoc instead of swagger-ui to render openapi-specifications"
## Feature Suggestion

Some of our developers are asking to display their swagger/openapi specifications with redoc instead of swagger-ui to render their openapi specs. I had a short look through it and it seems very usable, albeit strictly developer oriented. Seems to have a React component and everything. Perhaps we can make the api-docs-plugin renderer pluggable?

### project:
https://github.co

[2020-12-31 12:01] tudi2d commented on #3784
Thanks for the quick response & the improvements of the docs! I did not read it carefully enough & will give it another try :)

[2020-12-31 15:38] dhenneke commented on #3898
You should already be able to do that by overriding the `apiDocsConfigRef` ([see here for the default value](https://github.com/backstage/backstage/blob/091561031a702d928f8c7fb2723b6d5a08e3d1c0/plugins/api-docs/src/plugin.ts#L31)). Use the [`defaultDefinitionWidget()`](https://github.com/backstage/backstage/blob/091561031a702d928f8c7fb2723b6d5a08e3d1c0/plugins/api-docs/src/components/ApiDefinition

[2020-12-31 17:10] andrewthauer commented on #3787
The thinking that these are not slugs or identifiers which sets them apart from annotations resonates with me. Therefore, to avoid confusion with typical annotations then perhaps modeling them as a new optional metadata field makes most sense. Especially if metadata is mean to be open for extension. We could simply start out with:

[code]

Maybe the term `relatedLinks` (or something else) instead

[2021-01-02 08:23] esrefeska opened #3899 "importing duplicate templates causes backend to crash"
if you add two templates with the same "name"
sqllite crashes
'template:default/docs-template' as `full_name`, 1 as `generation`, 'ae4dca91-4ec2-47a6-b971-eb33937d6851' as `id`, '20afeebe-f030-488e-ac5b-424f7c429861' as `location_id` - SQLITE_CONSTRAINT: UNIQUE constraint failed: entities.full_name
    at CommonDatabase.transaction (webpack-internal:///../../plugins/catalog-backend/src/database/Co

[2021-01-02 10:07] freben commented on #3899
That's not a crash though! It's just the database informing you that it works as intended - the catalog uses database constraints to strongly enforce that you don't end up in a weird state with duplicate identity keys. Entities are identified by the kind + namespace + name triplet; you can never have two with the same (case insensitive) triplet.

How did you add them? The catalog tries to stop you

[2021-01-02 15:22] benjdlambert commented on #3888
@lucasmelin going to close this ticket now as the fix has been merged. Feel free to re-open if there's something that is still not right.

[2021-01-02 15:22] #3888 closed

[2021-01-02 20:20] benjdlambert commented on #2771
Apologies for the delay for an update on this, but we've split out the work into a milestone here https://github.com/backstage/backstage/issues?q=is%3Aopen+is%3Aissue+milestone%3A%22Scaffolder+out+of+Alpha%22.

It's very high level implementation wise, and they've been broken out into some form of epic or focus area.

Evaluating this RFC and the ideas that come with it is one of our higher priorit

[2021-01-02 20:20] #2771 closed

[2021-01-02 21:19] EsrefDurna commented on #3899
I updated the api configuration yaml manually.
At least the frontend should have shown some kind of error message.

[2021-01-02 22:42] regicsolutions commented on #3888
@benjaminr when is the next release of the catalog-backend plugin scheduled?

[2021-01-03 01:40] benjdlambert commented on #3888
@regicsolutions @benjaminr get's a lot of tags here that aren't meant for him.. Sorry @benjaminr.  haha.

It's planned for Thursday 7th, however if you need it right now, you can use `nightly` as the version in your `package.json` for some of the packages as they are built, well, nightly. 👍

[2021-01-03 03:53] regicsolutions commented on #3888
Thanks the nightly release worked

[2021-01-03 06:55] regicsolutions commented on #3714
@ayshiff just checking in to see if you made any progress?

[2021-01-03 08:55] OrkoHunter commented on #3714
Hey @regicsolutions, the PR is open at #3794.

[2021-01-03 11:19] tudi2d commented on #3784
I tried setting up `lighthouse-audit-service` a few times now, and I'm unfortunately not able to get it working. It’s my fault, as I’m not proficient enough using WSL 2, Docker & Postgres. I'm a bit annoyed of myself that I failed here, but think some one else with a working setup should be able to implement this enhancement quickly & painless. Thanks for your help @adamdmharvey, you can assign so

[2021-01-03 12:01] emmaindal commented on #3383
Yes agree, a backstage/software-templates repo would be awesome! I can see it hasn't been created yet, want me to create it? @OrkoHunter @stefanalund

[2021-01-04 11:16] punkle commented on #3870
Just wanted to chime in to say that we, Roadie, are using this same approach. To be more specific. We have implemented a fronted plugin that replaces the default SignInPage with what we have called an AutomaticSignIn page. Futher, we implemented a backend that reads a http only cookie that has been set by an API gateway processing all incoming requests. The AutomaticSignIn page retrieves the auth

[2021-01-04 14:35] tragiclifestories commented on #3815
I wonder if there's a little crosstalk going on here - I didn't take @GoWind to mean that we wouldn't process the specs into relation records in the core plugin, merely that building actual user-facing functionality around it could be left out (maybe I misread it myself). I think the latter could be at least deferred until later on and we can experiment a bit in the wider ecosystem.

I think I agr

[2021-01-04 14:39] bbourqu commented on #3894
https://github.com/jaredhanson/passport-oauth2/blob/master/lib/strategy.js#L53 Looking at step 9 of https://www.pveller.com/oauth2-with-passport-10-steps-recipe/ (I know its a little old but I think it's still relevant) it looks like this would be needed.

[2021-01-04 15:01] braghettos commented on #2857
I would like to know your opinion regarding the ability to also deploy a helm chart via this plugin.

[2021-01-04 15:11] braghettos opened #3905 "Ability to deploy a helm chart via scaffolder or other plugin"
## Summary

I think that Backstage is missing a key value that could be deploying a helm chart with the templated values to a Kubernetes cluster.
Right now there is a Kubernetes plugin that fetches resources on a cluster, but it doesn't allow to deploy them.

## Project website (if applicable)

## Context

[2021-01-04 18:20] GoWind commented on #3870
@punkle

This would be the ideal usecase for an access Token. There is already an existing API to obtain the Acess Token in the frontend. The missing functionality as of now, is that Plugins have to specifically fetch this token from the frontend and send  it in the request, and there is no  automatic way to do this.

[2021-01-04 18:29] GoWind commented on #3815
Getting this right (or keeping this flexible) would be very important. Currently, I run into a lot of limitations with generating relations when I try to emit them myself as the HigherOrderOperations prevents Location Processors from emitting any relations in the Entity.

@tragiclifestories
My question was more along the lines of what EXACTLY is the distinction. between partOf and dependsOf/depend

[2021-01-04 18:32] brendasukh commented on #3401
Following up on this - I spent some time trying out both `date-fns` and `luxon` as replacements to `moment` within the cost insights plugin.

For `date-fns`, I had issues with UTC support, and found myself having to write a utility function (similar to this[ one](https://github.com/date-fns/date-fns/issues/376#issuecomment-353871093)) to first get the UTC date before doing any formatting/adding/su

[2021-01-05 04:29] adamdmharvey opened #3911 "GraphiQL route doesn't work in example app"
## Expected Behavior

Clicking on the GraphiQL nav in the example app brings up the GraphiQL browser.

![image](https://user-images.githubusercontent.com/33203301/103606520-95f05e00-4ee4-11eb-8567-3475c3f6d308.png)

## Current Behavior

When I click the link, I get a blank screen, and this in the React Dev Tools:

![image](https://user-images.githubusercontent.com/33203301/103606454-70fbeb00-4ee4-

[2021-01-05 04:56] regicsolutions opened #3912 "Blue-Green Deployment Orchestration"
Wondering if anyone is using backstage to orchestrate blue-green deployments?

The workflows plugin shown in this video:  https://m.youtube.com/watch?v=rH46MLNZIPM definitely looks like a great start, does anyone know if there are any plans to open-source this plugin?

[2021-01-05 08:58] OrkoHunter commented on #3383
@emmaindal IMO we'll need to figure _some_ structure to the new repository. It may also make sense to do it when @bodilb has the new documentation templates ready, so that the new repo looks "rich". :) Let's talk more in an architecture weekly sync w/ everyone.

[2021-01-05 09:05] #3326 closed

[2021-01-05 09:45] benjdlambert commented on #3401
+1 for luxon

[2021-01-05 11:00] erikxiv commented on #1435
After some struggle attempting to fit into existing design with as little refactoring as possible, here is a suggestion: https://github.com/backstage/backstage/pull/3916 + https://github.com/backstage/backstage/pull/3914

WDYT? @GoWind I went with @Rugvip suggestion that adopters should be able to inject a custom token and optional use of custom passport strategies on the backend. Do you think tha

[2021-01-05 11:23] erikxiv commented on #3870
What about a simple strategy of adopters providing a mapping from `namespace/id` to `backstage/id` on ingestion and then doing a simple merge into the catalog (same `backstage/id` = same entity)? I seem to believe it might be easier to do the merge on ingestion and have plugins be able to consume a single/simple catalog structure (albeit using namespaces for non-standard-properties) instead of doi

[2021-01-05 13:28] #3911 closed

[2021-01-05 13:38] OrkoHunter opened #3920 "bug/feat(backend): Secrets should be redacted from logs"
## Expected Behavior

Backend logs should not contain any tokens or secrets. Even if it is being logged accidentally, the logger should mask it before sending them to the console/file/etc.

## Current Behavior

`GITHUB_TOKEN` is currently being logged in backend from [the Git implementation in backend-common](https://github.com/backstage/backstage/blob/e3ac2884596fd86cff6cfc998583b2c11a650092/pack

[2021-01-05 14:00] andrewthauer commented on #3401
Seems like `luxon` might be the best fit then. Although I do like functional approach to `date-fns` it seems that some important features are missing and not a lot of movement is being made to address them natively.

[2021-01-05 14:12] #3833 closed

[2021-01-05 14:34] goober commented on #3858
I am taking a look at this. However, my react skills are limited to bear with me. So it can be assigned to me for the time being.

[2021-01-05 14:57] benjdlambert commented on #2857
Hey @braghettos, thinking that maybe helm should be it's own plugin and not really tied to the k8s underlying API.

Helm is an abstraction on the top of k8s, so I think it deserves it's own space to manage this. But it might depend on the k8s api to talk to `tiller` or what have you.

https://github.com/backstage/backstage/issues/3905 for reference

[2021-01-05 14:58] benjdlambert commented on #3383
Yep, we did have this work planned as part of the move to `demo.backstage.io` as we were going to pull out the example templates into their own repository. Not sure how long it will take for us to get around to that though right now.

[2021-01-05 14:59] benjdlambert commented on #3401
Maybe we should settle on`luxon` and collect some of the feedback here to create an ADR for it?

[2021-01-05 15:03] benjdlambert commented on #3879
@adamdmharvey maybe `lighthouse.google.com`? They don't have to be proper domains as such and valid, but maybe `lighthouse.com` isn't the greatest.

[2021-01-05 15:07] #3347 closed

[2021-01-05 15:08] benjdlambert commented on #3905
Realised I commented on this the wrong way round, so copying the quote from the other PR.

[2021-01-05 15:19] awanlin commented on #3771
@o-farooq thanks for making these changes, much appreciated!

I did notice another reference to this here but it's not blocking anything so can be changed whenever someone has time: https://github.com/backstage/backstage/blob/64b1a2a1f8ae23d030295b3202536c984132a0c5/packages/integration/src/azure/config.ts#L20

[2021-01-05 16:05] dhenneke opened #3922 "Config file validation should consider dynamic data for required fields"
Given the following config schema:

[code]

If one uses the following `app-config.yaml`'s, it works as expected:
[code]
[code]

But if one uses the [Secrets and Dynamic data](https://backstage.io/docs/conf/writing#secrets-and-dynamic-data) functionality, it breaks:
[code]

## Expected Behavior

The value of `$env` / `$data` / `$include` might only be available at deployment time, so the config val

[2021-01-05 16:43] andrewthauer commented on #3870
Completely agree about getting some terminology flushed out. Some of these terms are subjective and not entirely clear in the contexts in which they are being discussed.

I think providing a unified `persona` within backstage would be ideal. I think it's fine and expected there would be multiple org hierarchies from different sources. These could include different user logins/identities and struct

[2021-01-05 16:48] #3714 closed

[2021-01-05 16:59] braghettos commented on #3905
Thank you @benjaminr ! Are there any insights regarding a development of a plugin for helm chart deployment from the Backstage core team?

[2021-01-05 17:02] tkrajcar opened #3923 "demo: Viewing an API throws Error: No implementation available for apiRef{plugin.api-docs.config}"
When going to https://demo.backstage.io/catalog/default/component/wayback-search/api I get the following in the console log:

[code]

Tested with my usual Chrome and a fresh (no extensions/config) Firefox, same behavior.

[2021-01-05 17:27] freben commented on #3771
That one's legit though. It's there to make sure that there's always an automatically present integration to read from public azure devops.

[2021-01-05 17:29] OrkoHunter commented on #3820
Related: https://github.com/backstage/backstage/issues/3771

[2021-01-05 17:33] awanlin commented on #3771
@freben I should have taken more time to look at that code, you are correct and this should stay, thanks

[2021-01-05 17:49] deepakbitragunta opened #3926 "[Plugin] Gitlab CI"
## Summary

Gitlab offers SCM and a declarative CI(Continuous Integration) pipeline. Backstage can offer a 1-click new project creation and a corresponding CI pipeline creation as well.

## Project website (if applicable)

- https://github.com/screwdriver-cd/scm-gitlab
- https://gitlab.com/gitlab-org/gitlab-foss/-/issues

## Context

Application development teams need a simpler process to create s

[2021-01-05 17:54] OrkoHunter commented on #3926
This is currently achievable even for GitLab using the Scaffolder plugin. https://backstage.io/docs/features/software-templates/software-templates-index

[2021-01-06 04:57] adamdmharvey opened #3933 "cost-insights: Allow the term "Project" to be customized"
## Feature Suggestion

For the most benefit, the cost insight plugin presentation of grouped costs would need to be specific _per cloud provider_ to drive the most understanding to the users.

It would be nice to be able to define by configuration the name of the cost grouping.  GCP uses Project, but AWS uses Account, and Azure uses Subscription, etc.

| Current | Proposed |
| --- | --- |
|  ![ima

[2021-01-06 05:21] adamdmharvey commented on #3933
As a note, there's a 3rd party vendor who does similar style reporting and they have some doco here:

https://success.cloudcheckr.com/article/00s3x310xa-cost-reporting

I don't know if they support only AWS or not, but they seem to have an ability to "define" your grouping.  Conceptually, my point above about doing that in YAML may be similar, and perhaps then even just the terminology used in the

[2021-01-06 07:06] Crevil opened #3935 "Limit authorized email domains when using OAuth2"
When using the Google oauth2 provider any email hosted by google can be used, e.g. `@mycompany.com`, `@gmail.com`. This can be unexpected when setting up the provider and further more there is no way to limit what domains to authorize.

## Feature Suggestion

Add a configuration option for valid email domains that are verified in the ID tokens to limit the usable domains.

### Similar features in

[2021-01-06 13:02] OrkoHunter opened #3938 "TechDocs: Support Azure Storage as TechDocs external storage"
## Feature Suggestion

In the [TechDocs Architecture](https://backstage.io/docs/features/techdocs/architecture), users should be able to use any kind of storage system to store their generated documentation site.

Google Cloud Storage, Amazon S3 and Local filesystem are supported currently. Add support for Azure Storage as well.

## Possible Implementation

TechDocs has a main [Publisher](https://

[2021-01-06 13:59] tragiclifestories commented on #3935
Possibly related https://github.com/backstage/backstage/issues/3870

[2021-01-06 14:37] emmaindal commented on #3383
Cool @OrkoHunter @benjdlambert sounds like you have a plan! 🎉

[2021-01-06 14:55] Fox32 commented on #3923
The api-docs plugin is not initialized correctly. I created a small PR in the relevant repository https://github.com/backstage/demo/pull/14

[2021-01-06 15:46] ayshiff opened #3944 "TechDocs: AWS S3 SDK version bump"
## Feature Suggestion

Currently the `aws-sdk` used in TechDocs is in version 2.
As v3 was just released it could be good to bump the sdk version.
[Link](https://aws.amazon.com/about-aws/whats-new/2020/12/aws-sdk-javascript-version-3-generally-available/)

Here are the benefits of v3:
- Add a better TypeScript support
- A modular architecture with a separate package for each service.
It will allow

[2021-01-06 16:03] ayshiff opened #3946 "TechDocs: Improve S3 credentials handling"
## Feature Suggestion

The user should be able to load AWS credentials from the shared credentials file.
- Linux, Unix, macOS: `~/.aws/credentials`
- Windows: `C:\Users\USER_NAME\.aws\credentials`

## Possible Implementation

Handle S3 configuration apart from explicitly defining configs.

**Expected behaviour:**

If the user specifies an `accessKeyId` and a `secretAccessKey` ([Link](https://githu

[2021-01-06 16:39] OrkoHunter commented on #3944
Took the liberty to assign the issue to you since you already have something on this. Hope that's okay!

[2021-01-06 18:37] freben commented on #3528
@Rugvip Regarding the worry that colon + space can lead to accidentally being interpreted as a key-value in an object in yaml: would it make sense to just settle on e.g. `${}` or similar, and let the config loader have a hard coded behavior to explode if any key anywhere contains the string `${`?

[2021-01-06 22:28] ayshiff opened #3947 "TechDocs: Improve GCS credentials handling"
## Feature Suggestion

Same logic as for S3 #3946

We should be able to load GCS credentials from the environment in the [GCS publisher](https://github.com/backstage/backstage/blob/master/packages/techdocs-common/src/stages/publish/googleStorage.ts).

## Possible Implementation

Handle GCS configuration apart from explicitly defining configs.

By default, when the SDK loads, it automatically searc

[2021-01-06 23:03] ayshiff opened #3948 "TechDocs: Cloud Storage bucket nested directories"
## Feature Suggestion

Enable publishers support using nested directories in a bucket.

## Possible Implementation

Publishers should be able to handle the documentation sites in a nested directory, let's say `/root-path/docs` as the root.

We can define a `rootPath` variable  inside `techdocs.publisher.awsS3` and `techdocs.publisher.googleGcs`and access it inside our publishers.

For example:

[c

[2021-01-07 06:37] mcalus3 opened #3950 "Possibility to mock backstage apis for plugin dev environment"
I am exploring the possibility to do cypress testing for backstage plugins. One requirement for it is to be able to mock backstage apis used by the plugin to prevent communication with external servives like OAuth providers. I was trying to run plugin development environment (createDevApp from @backstage/dev-utils) with mocked backstage api's, but from what I see in the code, although there is a p

[2021-01-07 09:34] jvilimek commented on #2391
Hi @freben ,

we are about to create ~50 backstage definitions soon. Is this issue to be closed soon too ? :)

Thanks

[2021-01-07 09:56] #3169 closed

[2021-01-07 18:29] regicsolutions opened #3961 "create-app build error - graphql-language-service-utils"
Unable to compile with latest Scaffolded Backstage App template, also getting this same error on an existing app i just upgraded to the latest release

[code]

build should be successful

## Possible Solution

## Steps to Reproduce

`yarn build`

## Context

- Node 12
- Win 10
- Chrome/Edge

[2021-01-07 18:31] Rugvip commented on #1985
Closing since we're now shipping `@backstage/plugin-app-backend` by default, which handles serving of the frontend

[2021-01-07 18:31] #1985 closed

[2021-01-07 18:33] #3923 closed

[2021-01-07 18:39] Rugvip commented on #1378
Closing this as not actionable. Let's reopen if there's something more specific to look into

[2021-01-07 18:39] #1378 closed

[2021-01-07 18:43] adamdmharvey commented on #3961
Also caught in `master` with the end-to-end test as well:
https://github.com/backstage/backstage/pull/3958/checks?check_run_id=1663428006

[2021-01-07 18:46] Rugvip commented on #3899
Think we've arrived at this being a duplicate of #2876, so gonna close this and let's continue any discussion there.

[2021-01-07 18:46] #3899 closed

[2021-01-07 18:49] Rugvip commented on #3687
Fixed by #3850, see changes in that PR for how to update an existing app

[2021-01-07 18:49] #3687 closed

[2021-01-07 19:25] andrewthauer commented on #3961
Same issue for me on mac with node 14

[2021-01-07 22:29] Rugvip commented on #3961
Fixed by https://github.com/graphql/graphiql/pull/1753, released in `graphql-language-service-utils` `v2.5.1`

If you're in a new app and see this issue, you'll want to bump `graphql-language-service-utils` in the lockfile. Builds in this repo should be fine now.

[2021-01-07 22:29] #3961 closed

[2021-01-08 01:28] lowjoel commented on #3950
I think this would also help #2178.

[2021-01-08 02:45] adamdmharvey commented on #3401
For completeness, I also noticed the Sentry plugin uses `timeago.js` to standardize the whole "12 minutes ago" style of output. Display vs. just raw date processing is of course different, but wanted to note it here, if recommending a common way to manage/process dates, possibly used by plugin authors as well.

https://github.com/backstage/backstage/blob/23190a8a76fd7d94b5813c1d5101e7355651d6be/pl

[2021-01-08 03:28] adamdmharvey opened #3962 "Ability to customize the "report an issue" link"
## Feature Suggestion

If a user hits a file not found, they're presented with an error page that lets them either a) go back or b) submit an issue. But the issue is submitted to the Backstage opensource GitHub project.

It would be nice for a Backstage integrator team to be able to define an issue reporting link, e.g. their own GitHub repository or Jira system or other ticketing system in use by

[2021-01-08 07:37] Xantier commented on #3788
I think I could take a stab at this to revamp the documentation and create an example repository for this.

[2021-01-08 08:00] freben commented on #3788
Ok, assigned!

[2021-01-08 11:36] katz95 opened #3965 "Breadcrumbs"
## 🗒 General
![ezgif com-gif-maker](https://user-images.githubusercontent.com/61153904/104009999-27452600-51ac-11eb-8ef2-3de9b892a0d3.gif)

We'd love help building out a breadcrumb component for Backstage! Breadcrumbs take place in the header, above the Title. Our breadcrumbs are expandable and can also show (via dropdown) pages that are on the same hierarchical level.

## 💻 Usage

![Breadcrumbs i

[2021-01-08 13:51] andrewthauer commented on #3401
Absolutely. I believe all the popular date libraries we are talking about support this out of the box. I believe `luxon` calls this `humanizing`. I think an ADR should suggest that plugin authors (and core) use the same library, but I'm unsure if we need to provide some utility wrappers yet. Those could be added as needed if we start seeing patterns emerge.

[2021-01-08 14:00] benjdlambert commented on #3401
Yep :100: @andrewthauer  - Do you want to volunteer writing the ADR or I can do it if I have some spare time over the weekend.

[2021-01-08 14:02] emmaindal commented on #3965
Awesome @katz95 Thank you!!

[2021-01-08 14:13] benjdlambert commented on #3965
These look awesome! @katz95

[2021-01-08 14:54] andrewthauer commented on #3401
I can take a stab at starting one, but might not be until sometime next week if that works. Assuming there's not rush :)

[2021-01-08 16:30] adamdmharvey commented on #3784
Directly relates to #3965 . If that evolves globally, this one may not even be necessary anymore!

[2021-01-08 18:51] jvilimek opened #3971 "Catalog-import adds component without confirmation"
in Catalog Import wizard the component is added before user confirms (it is added while review)

## Expected Behavior

1. Go to https://xxx/catalog-import to add a new component
2. enter the url
3. hit next (you should now see the review of the component)
4. cancel the wizard (navigate elsewhere)
5. component is not added

## Current Behavior

1. Go to https://xxx/catalog-import to add a new compo

[2021-01-08 19:13] jvilimek opened #3973 "Catalog import from Azure DevOps broken (returns HTTP 404)"
Import from Azure DevOps that was working before works no longer

## Expected Behavior

I was importing Azure DevOps git repo like https://dev.azure.com/org/project/_git/repository?path=%2Fsomefolder%2Fsomefile.yaml via register-component and it works so I expects the same when using catalog-import or at least return a proper error message what's wrong

## Current Behavior

When using /catalog-imp

[2021-01-08 20:12] freben commented on #3973
@dtuite Do y'all have a moment to try to reproduce this?

[2021-01-08 20:40] regicsolutions opened #3975 "Jenkins Plugin - a.jobs is not iterable"
Jenkins plugin is unable to fetch job details from Jenkins and returns back an error: `a.jobs is not iterable`
![2021-01-08_15-30-10](https://user-images.githubusercontent.com/6157895/104062213-0d194100-51c8-11eb-97c9-e52c870ef4b2.png)

app-config.yaml:

[code]

Job resides in a folder and is using SCM > GIT pointing to a Bitbucket Repo, final Jenkins URL to job is:

https://myjenkinsserver.com/jo

[2021-01-08 20:47] adamdmharvey commented on #3975
May be related to these noted limitations:
https://github.com/backstage/backstage/tree/master/plugins/jenkins#limitations

[2021-01-08 20:50] vitorgrenzel commented on #3938
@OrkoHunter Can I work on this ?

[2021-01-08 21:33] dtuite commented on #3973
@freben we're can take a look. I'll raise it with the team on Monday.

[2021-01-08 21:49] andrewthauer commented on #240
I think this can be closed?

[2021-01-08 23:07] regicsolutions commented on #3975
Thanks for the reply! The job is in a folder, using git for SCM and only has 3 builds. Is there a way I can get more detailed logs that your aware of?

[2021-01-09 09:07] Fox32 commented on #3971
Yeah that's feature is not available in the new import plugin. The API already allows to dry run the operation.

I would second the expectation to have a step to review the data. There is a step called review that somehow implies that you can do that, but the import happens directly after the first click on next. In general I think the button descriptions aren't good. Instead of "next" they should

[2021-01-09 09:18] OrkoHunter commented on #3938
@vitorgrenzel ! Absolutely 💯

[2021-01-09 16:19] OrkoHunter commented on #3946
Notes:
1. `region` is required in the aws-sdk v3 client. However, `AWS_REGION` and `AWS_DEFAULT_REGION` is used by the client as fallback. So, in `app-config.yaml` we can keep it as optional.
2. `AWS.config.getCredentials()` sounds like a good idea. However, we also need to ensure that the credentials provided has access to the S3 bucket. Hence bucket metadata retrieval makes more sense to me.

[2021-01-09 22:15] Fox32 commented on #3975
Yeah already thought about it... I guess that is something you have to debug. You could post the response to that call. But it might contain data you don't want to share. I could compare it to the response on our side and what is expected by the plugin.

[2021-01-09 22:59] regicsolutions commented on #3975
@Fox32 Here is the response for a folder called Backstage and Freestyle project called Backstage

http://localhost:7000/api/proxy/jenkins/api/job/Backstage/job/Backstage/api/json?tree=jobs%5Bactions%5B*%5D%2Cbuilds%5Bnumber%2Curl%2CfullDisplayName%2Cbuilding%2Cresult%2Cactions%5B*%5B*%5B*%5B*%5D%5D%5D%5D%5D%7B0%2C1%7D%2Cjobs%7B0%2C1%7D%2Cname%5D%7B0%2C50%7D

I get this repose when hitting that URL

[2021-01-09 23:44] Rugvip commented on #240
Yep! Fixed by https://github.com/backstage/backstage/pull/3317

[2021-01-09 23:44] #240 closed

[2021-01-09 23:47] Fox32 commented on #3975
That is not much 😁 I wonder how that looks like if you remove the `tree` query parameter.

[2021-01-10 03:14] regicsolutions commented on #3975
How would I remove that?

[2021-01-10 03:23] adamdmharvey commented on #3975
I believe he means if you just hit that same API endpoint more simply like this:

http://localhost:7000/api/proxy/jenkins/api/job/Backstage/job/Backstage/api/json

What do you get back?  Essentially, the plugin passes directly to the Jenkins API a Jenkins-defined filtering mechanism called "tree" which lets you do all sorts of filtering and tweaking (sort of similar to XML XPATH).  So it's possibl

[2021-01-10 05:43] jizg opened #3990 "TechDocs: Binary file is not showed up with awsS3 publisher"
I am trying to using awsS3 as publishser, and found that binary file such png image cannot be showed up at frontend. I've done some debug and found out that if remove the `toString()` function in the following code, png image file is displayed normally.

https://github.com/backstage/backstage/blob/54faa6fa8d32da6568ff8cf073328352e7881b2a/packages/techdocs-common/src/stages/publish/awsS3.ts#L189

[2021-01-10 09:14] OrkoHunter commented on #3990
I tried your suggestion and it worked. :) PR is up at https://github.com/backstage/backstage/pull/3991

Thank you for reporting @jizg, this is a great contribution!

[2021-01-10 10:08] TimmyGilissen commented on #598
Is there an update on this issue?

[2021-01-10 11:41] Fox32 commented on #3975
I guess this is the issue. As @adamdmharvey already mentioned, the plugin only supports SCM projects, maybe not free style projects. I guess [this code](https://github.com/backstage/backstage/blob/master/plugins/jenkins/src/api/JenkinsApi.ts#L67-L80) is failing/not finding a result, causing a later null reference.

[2021-01-10 14:38] andrewthauer commented on #3962
@adamdmharvey. I like the idea of this. I think it's possible this could be a fallback for the common `support` button in many plugins if that was customizable too. I thought there was a pre-existing issue related to this, but am unable to find it.

[2021-01-10 14:44] andrewthauer commented on #3802
Related to #3941 ?

[2021-01-10 15:50] regicsolutions commented on #3975
@Fox32 Here's what the JSON looks like when i take out the read tree, i ofcourse stripped out the domain name and replaced it with 'myjenkinsserver' what

**Freestyle Job using GIT SCM JSON Response:**

![image](https://user-images.githubusercontent.com/6157895/104127665-77012a00-5331-11eb-894b-5eb8184568ef.png)

[code]

**Pipeline Job using SCM/GIT JSON Reponse -**

![image](https://user-images.g

[2021-01-10 16:15] regicsolutions opened #3994 "SonarQube Plugin - Refused to execute inline script"
Unable to retrieve a SonarQube card after registering an API with the following annotation:

[code]

Card should be retrieved

![2021-01-10_11-03-21](https://user-images.githubusercontent.com/6157895/104128370-31466080-5335-11eb-9d60-fc060c73e752.png)

## Steps to Reproduce

## Context

## Your Environment

- NodeJS Version (v12):
- Windows 10
- Chrome/Edge

[2021-01-10 18:18] erikxiv opened #3996 "CI/CD switcher defaults to Github Actions for github repositories"
In `EntityPage.tsx`, for both the CI/CD tab as well as the overview page widget, there is a CI/CD switch statement with the intent to choose the CI/CD tool in use for the specific entity. The switch uses the exported function `isPluginApplicableToEntity` from respective plugin to check if the CI/CD tool is in use. The `isPluginApplicableToEntity` function for the github actions plugin responds wit

[2021-01-10 18:26] erikxiv opened #3997 "Github Actions plugin does not support GHE"
It seems as if the Github Actions plugin does not support GHE. Despite configuring a GHE instance/api url, the plugin asks api.github.com for data.

## Expected Behavior

The plugin queries GHE for data

## Current Behavior

The plugin queries api.github.com for data, and responds with `Bad credentials` as the GHE credentials does not work with github.com

## Possible Solution

* According to http

[2021-01-10 20:59] adamdmharvey commented on #3994
I don't have this plugin working myself, but check your `backend.csp` configuration sections - do they exist? If so, what are they  You're getting blocked by your browser with a security error and so it'll relate to one of those somehow.

If you search issues in this repo you'll see other people who had varying challenges, and what their results were (e.g., this one https://github.com/backstage/ba

[2021-01-10 20:59] adamdmharvey commented on #3994
I'd also say whatever you find, may be good to add to the plugin README in case you find something that helped!

[2021-01-10 21:44] regicsolutions commented on #3994
@adamdmharvey i have the default backend.csp in place:

[code]

[2021-01-10 21:50] OrkoHunter opened #3998 "[RFC] Simplifying TechDocs (Frontend) Architecture"
**Status:** Open for comments

This proposal addresses several limitations in the current implementation of TechDocs, its relationship with MkDocs and describes solutions for them. Most of the problems arise due to the fact that we use the [MkDocs Material](https://squidfunk.github.io/mkdocs-material/) theme to generate a TechDocs site.

# Abstract

TechDocs uses MkDocs and the MkDocs Material the

[2021-01-10 22:05] freben commented on #3994
Hm. Yeah as it says it wants you to add `'unsafe-inline'` to the script sources. You can add a line like that to your config. Remember to add the other ones too, that the error message mentions.

So under the `connect-src` line, add something like

[code]

[2021-01-10 22:34] regicsolutions commented on #3994
@freben i added this:

[code]
and now getting this:

[code]

[2021-01-11 02:49] regicsolutions commented on #1519
@andrewthauer how has node-connect-datadog been working out for you? Looking to see if i can ship logs over to datadog and get some metrics, what type of metrics are you capturing?

[2021-01-11 05:04] kiranpatel11 commented on #3526
@goober thank you so much for implenting bitbucket server support for scaffolder.

Any thoughts on using IdentityApi to use logged in user's identity while making bitbucket api calls ?
The general problem with using token configured in app-config.yaml for write api calls (e.g. scaffolder) won't work in most cases with security concerns. The user with access to backstage can bypass the security def

[2021-01-11 07:08] freben commented on #3526
@goober closing the ticket now that this is merged and released, feel free to reopen if that is in error

[2021-01-11 07:08] #3526 closed

[2021-01-11 07:14] freben commented on #3526
@kiranpatel11 We are doing a major refresh of the scaffolder, work on that is expected to start this quarter. As part of that, we will likely look at the auth interactions as well.

[2021-01-11 07:35] #3095 closed

[2021-01-11 07:37] regicsolutions opened #4002 "Implement IdentityApi in Bitbucket Server Scaffolder"
@goober thank you so much for implenting bitbucket server support for scaffolder.

Any thoughts on using IdentityApi to use logged in user's identity while making bitbucket api calls ?
The general problem with using token configured in app-config.yaml for write api calls (e.g. scaffolder) won't work in most cases with security concerns. The user with access to backstage can bypass the security def

[2021-01-11 08:55] Fox32 commented on #3975
Yeah, that response is missing `jenkins.scm.api.metadata.ObjectMetadataAction`. This isn't supported right now. I'm not an expert in the Jenkins API, not sure what that means. But I created #4004 to handle that case. Please try if that is working for you.

[2021-01-11 09:39] Xantier commented on #3811
I could take a look at this and modify it to treat those as a reg of existing instead of trying to add a new file.

[2021-01-11 09:41] dhenneke commented on #3994
Your first screenshot is strange, since it seems that you access the SonarQube User Interface through the backstage proxy which shouldn't (and wouldn't) work. Can you recheck your config against the [Getting Started guide](https://github.com/backstage/backstage/tree/master/plugins/sonarqube#getting-started)?

I suspect that you are missing the trailing `/api` in the proxy-configuration:
[code]

[2021-01-11 10:02] benjdlambert commented on #4002
So one idea we've had is that the user's token would be used in the client to provide a dropdown of where you're allowed to create repositories, but the actual creation could be done by a separate token entirely.

This is for many reasons, a good one being that user owned repo's are not always great for security, seen as people leave companies, and can be a pain to get them moved ownership. Also p

[2021-01-11 10:24] Rugvip opened #4006 "Add GitHub App authentication manager"
Part of #3744

Build an abstraction around retrieving GitHub App access tokens given a hostname, org, and optionally a repo

[2021-01-11 11:10] Fox32 opened #4007 "Provide a blob store in the catalog"
Some data, like profile images or API definitions can grow rather large. They should be included in the entity spec directly, especially as they might be binary data that can only be included in the entity if it's decode with something like base64.

For example:

* The Microsoft Graph Processor imports users and groups and includes the profile picture as a base64 encoded data URL in the entity spe

[2021-01-11 11:15] andrewthauer commented on #3996
I agree this annotation is to general and I believe is used for at least couple of different  uses that can be enabled independently.

The way around this is to ensure another CI/CD provider is higher in the case statement. However this only works for the entity tab and not the workflow widget. On top of that it is possible to use multiple CI/CD solutions for a single entity which means the case s

[2021-01-11 11:17] andrewthauer commented on #1519
@regicsolutions - We haven't added anything beyond what the middleware is currently providing atm.

[2021-01-11 11:29] emmaindal opened #4008 "[Search] Roadmap"

[2021-01-11 11:29] emmaindal opened #4009 "[Search] Architecture"

[2021-01-11 11:50] freben commented on #4007
For things that are already a URL, this is a good fit. A bit trickier with the API spec which is expected to contain the data itself - but this may be a sign that that choice of format wasn't a great idea in the first place. I think in the end, having this be a URL instead (possibly pointing to a dedicated API versions store etc) might be a refactoring we could want to do.

[2021-01-11 12:01] Fox32 commented on #4007
There is one big issue why we have to copy contents inside the catalog, instead of just hot linking the URL: Authorization.

One alternative is to use the proxy-backend. For the profile photo, the authorization that our proxy-backend currently has is not sufficient because the token exchange is more complex. But we could write a separate backend for that too or make the proxy-backend more complex.

[2021-01-11 12:13] freben commented on #4007
Ah I was probably unclear. I still want the blob store. But if we made the API spec a URL, then we could ingest the data into the blob store and then point the URL to the blob store. :)

[2021-01-11 12:22] andrewthauer commented on #4007
Isn't half of this in place for API specs already in the form of `$data`?

[2021-01-11 12:33] andrewthauer commented on #3998
I really like the thinking behind this 😀.

I can however see it being difficult to maintain a rich set of rendering features while keeping the spec generic. A risk being the solution could end up having to cater to the lowest common denominator being supported. However, given the potential of the proposed solution it might be a worthwhile trade off and figure out ways to mitigate that being an iss

[2021-01-11 12:42] #3574 closed

[2021-01-11 12:42] OrkoHunter commented on #3998
Thanks! The first step to consume a basic HTML with custom MkDocs theme ("Plan") seems feasible. However, the generic spec ("Future of TechDocs") is indeed, a challenging moon-shot problem as of now. 😄

[2021-01-11 12:46] freben commented on #4007
Kind of, but the issue is that when data gets huge, it becomes a problem. Imagine tens of thousands of megabyte-sized API definitions or whatever. :) The service response size becomes problematic.

[2021-01-11 12:50] #3783 closed

[2021-01-11 12:53] andrewthauer commented on #3998
Makes a lot of sense. The first phase will likely need to deal with some of the problem in the form of supporting mkdocs plugins that rely on non standard or uncommon markdown conventions.

[2021-01-11 13:10] Fox32 commented on #4007
Ah, got it 😆

Yeah, if we support an URL instead, we could later use the UrlReader and still have the ability to read from GitHub or other SCMs. Relative URLs are nicer for the consumer, but that is something we could support too!

But let's settle that how it is specified in the spec is not part of this ticket, but the ability to

[2021-01-11 13:16] Rugvip opened #4010 "Refactor integrations interface to allow for fetching of short-lived access tokens"
Part of #3744

We want to build on top of #4006 to expose the GitHub App access token generation through the integrations package.

Things to support:

- UrlReader, read + readTree. Covers catalog, scaffolder template reading, and TechDocs.
- Catalog org processor
- Pushing scaffolded repos

[2021-01-11 13:17] freben commented on #4007
Sooooo will you want to take on the implementation of this? :) It could totally just store the data in the regular database, imo, and not worry too much about making it portable to other storage solutions. The amount of data is fairly small after all, in the grand scheme of things.

[2021-01-11 13:45] #3990 closed

[2021-01-11 13:47] andrewthauer commented on #4007
Was, just saying that part of the solution seems to be in place already. The blob storage URL could be treated like a hypermedia link to the actual endpoint. Is that the intention?

[2021-01-11 13:58] Fox32 commented on #4007
Looks like we contributed two consumers, so why not? But I would first think about the implementation and share a concept here.

[2021-01-11 14:03] freben commented on #4007
Hm, you mean basically as in doing proxying, or redirects?

I was only considering something along the lines of a new table `[id, entity_id, data_blob]` and a new API endpoint `<backend>/api/catalog/blob/<id>` that the frontend (and others) can read from.

[2021-01-11 14:18] andrewthauer commented on #4007
I was just meaning the catalog entity response would have a field that represents a hyperlink that is a fully qualified GET REST route to the catalog blob endpoint. That way code can just request that URL directly to get the full contents of the blob rather then construct a URL from variable fragments. GitHubs's REST API uses this pattern heavily for example.

[2021-01-11 14:21] freben commented on #3996
Agreed that this is problematic.

The annotation mechanism is a blessing and a curse :) We could extend with specific annotations for each feature easily, and the concept is pretty powerful. But since they are fairly commonly written by humans, it quickly gets old to have a ton of annotations to type out / copy-paste, many with overlapping values as well, just to enable every single feature you wa

[2021-01-11 14:26] freben commented on #3811
assigned!

[2021-01-11 14:31] andrewthauer commented on #3996
Very good points here. Some features could also probably be detected as part of a catalog processor pass as well. For instance, pretty sure an API call to GH could determine if the repo has actions configured or not. This detail could then be append to the entity which is then available for the UI to use as needed. Thus avoiding the need for humans to maintain this information.

[2021-01-11 14:38] freben commented on #4007
Ah, yepyep agreed, that's what I am suggesting too. The blob store API response would probably help you get fully qualified URLs to get the data back, after posting something to it. It would probably also be based on the sha hash of the data so it's stable.

[2021-01-11 14:42] freben commented on #3996
Yeah. With the caveat then, that one starts to wonder how much such "cache" data to put in the catalog - and in particular, how much of it should really be directly ON the entity, inside itself? As opposed to being in a separate cache bag somewhere. Then my mind starts to drift and thinking ... IS the annotations basically that cache bag and should rightfully be regarded as such and used as such w

[2021-01-11 14:50] freben commented on #598
Nobody has picked it up yet as far as I am aware. Let us know if you are in a position to contribute!

[2021-01-11 15:01] freben commented on #3962
Yep, this makes a lot of sense. So, a URL you say? I guess that will cover several possible use cases. A mailto:, a slack link, an issue creation link ...

As @andrewthauer says, one way to frame this is in terms of the React tree. We want to supply a plugin context wrapper around every plugin route, such that any code inside (such as the support button, and others) have the ability to see a plugi

[2021-01-11 15:03] freben commented on #3962
@adamdmharvey Would you like to contribute this one? Along with rewording that view in your screenshot to say e.g. "let us know" or something equally generic that fits different types of URL.

[2021-01-11 15:31] benjdlambert commented on #3997
Do you wanna take a stab at this @erikxiv? Think it's just a case of using the `integrations` config to find the `apiBaseUrl` for the repository and using that to create the client in the frontend.

[2021-01-11 16:22] amarruedo opened #4011 "Techdocs memory consumption issues"
Hi!

I'm experiencing some memory consumption issues with techdocs. Any time I click and navigate on a documentation component, response is slow (like 5-10 secs to load the page) and memory consumption increases dramatically till the point backstage crashes.

## Expected Behavior

I should be able to navigate the documentation with no memory consumption issues.

## Current Behavior

When navigatin

[2021-01-11 16:44] regicsolutions commented on #4002
I like that approach. Is there a tentative date on when this will be available and is the plan for it to be available for all currently supported integrations?

Can you label this one with as 'help wanted' please.

[2021-01-11 17:51] LeKeve opened #4012 "Lighthouse plugin: visually differentiate between mobile/desktop audits"
## Feature Suggestion

When creating a new audit the user is expected to provide a form factor to emulate. From the individual audit view there isn't a way for users to easily tell which form factor was emulated. I believe the only way to find that information is to scroll down to the bottom of the lighthouse audit and view the Runtime Settings for `Device`.

## Possible Implementation

Add an ico

[2021-01-11 17:53] LeKeve opened #4013 "Lighthouse plugin: New workflow for running an audit on an existing url"
## Feature Suggestion

I found the workflow for running new audits for existing urls in the Lighthouse plugin to be somewhat unintuitive. When a user is on the individual audit view page they are presented with a `Create New Audit` button. This button directs them to the create new audit page with the URL pre-filled. As a user I thought this button was for creating a new audit for a different url.

[2021-01-11 17:59] Rugvip commented on #4007
Thinking this would be implemented similar to relations? Where during processing you can emit a blob, prolly along with some metadata like content type, and then get a reference to it back to use in the written entity. With that we can also clean up old blobs more easily.

Not sure about whether we'd model the reference as an absolute URL, relative URL, or just ID. Using just an ID is in many ways

[2021-01-11 18:05] erikxiv commented on #3996
Playing devils advocate to my own issue: might be this specific issue is a non-issue in most deployments, where the adopter knows a priori which ci/cd systems are in use and can select those, order them if wanted and perhaps even skip the switcher and show two widgets/tabs for two different ci/cd systems? Rethinking annotations and the conceptual basis for them sounds really interesting and valuab

[2021-01-11 18:11] dhenneke commented on #3655
The calculation logic behind helpers will probably be defined by #3870. And regarding the package that houses the helpers, maybe we want different functions in different packages that may depend on one another (like a function/filter in the `catalog-client` that is used in some custom react-hook).

[2021-01-11 18:22] erikxiv commented on #3996
Auto-detection of features (and errors) sounds really helpful though to keep the catalog fresh and complete. Maybe a dependabot strategy where a daily pass of entities automatically adds pull requests to modify catalog-info.yaml with added and removed features, removes hanging references and whatnot? A helpful assistant that tries to keep catalog metadata up to date with reality, with optional hum

[2021-01-11 18:27] Fox32 commented on #4007
I wonder why you would add it as an annotation? I would expect this to be a build-in feature that is directly supported by the catalog. So be part of the entity:

[code]

[2021-01-11 18:27] regicsolutions commented on #3994
Bingo! That was the issue! Thanks!

[2021-01-11 18:32] #3994 closed

[2021-01-11 18:36] adamdmharvey commented on #3994
Now I suppose the interesting point may be, the examples show the FQDN for SonarQube Cloud or onprem both with trailing `/api`.

So is that configurable in the products (I don't know), and/or should the plugin suggest you only need to define the FQDN of your cloud or onprem instance, and the SonarQubeApi code in the plugin itself should assume the trailing API to eliminate others having the issue?

[2021-01-11 18:37] dhenneke commented on #4007
Are the parts that are being „blob‘ed“ known upfront per entity? Like the definition of an API or the picture of a User/Group. Or does the entity spec tell which field might be embedded or linked depending on whatever preference?

[2021-01-11 18:38] freben commented on #3752
@gampeixoto Made #4014 as an attempt at improving things.

[2021-01-11 18:44] Fox32 commented on #4007
I would expect this to be an upfront design decision. Consumer would need to be able to handle blob content, as access is quite different. So it would be an explicit decision to support it for the `definition` in the API entity. One can not choose to use the blob for the `type` of a component (for example).

[2021-01-11 18:45] dhenneke commented on #3994
I would argue that I don't want to proxy the complete sonarqube origin but just the api endpoint. But we could also have done:
[code]
so one could also be adding a proxy route like `/sonarqube -> https://your.sonarqube.instance.com` and it would still work.

But I see that we might need to monitor such issues. Maybe also check that at least all plugins follow a similar pattern in expecting proxy c

[2021-01-11 19:13] freben commented on #4007
Can we avoid making this a feature "of the format/model"? I was hoping to make this basically an auxiliary system whose only output were a URL. Or maybe an ID, sure, that has a straightforward transformation to a URL, but the point is that it would be nice if the only thing the entity format itself knows of is to store a URL, and it doesn't know if that URL points to the blob store or anything els

[2021-01-11 19:19] freben commented on #3655
Yep. We'll have to settle on some form of package structure for things like this. Say, if x = `plugin-catalog` for example, should we have the packages

- `x` (frontend plugin main code)
- `x-backend` (backend plugin main code)
- `x-common-react` (shared widgets and hooks and similar that both `x` and third party plugins can depend on)
- `x-common-node` (backend utilities and client etc)

... or s

[2021-01-11 20:12] #3947 closed

[2021-01-11 20:19] Fox32 commented on #4007
If we just work with relative URLs, one could still decide whether it's stored in the blob store or if the proxy backend is used 🤔

So the API entity would just state that it expects the `definition` to be an URL containing the content.

There might be a separate REST API in the backend that allows to retrieve the details like media type, hash, ... belonging to an entity. Beside that there is an i

[2021-01-11 20:44] Rugvip commented on #4007
I typed out pretty much exactly this as my initial suggestion :grin:, but after considering the addition of tooling in the processors to enable this, I realized that there's aren't many good reasons left for why to model it like this.

I do like a list of objects with metadata, it's very explicit and creates a clear separation, but on the other hand I don't like that we have to add yet another pie

[2021-01-11 20:54] freben commented on #4007
Hm, but relative to what? To the URL of the component as fetched from the backend? Not sure this will work well. And if it's just a URL anyway, then it might as well be set to the absolute URL in the first place I think.

Exactly. Plus a regular "just get me the thing" GET endpoint that's browser friendly, and sets the media type as the Content-Type header, the hash as the ETag header, etc.

I thi

[2021-01-12 00:40] erikxiv commented on #3997
Submitted a PR here https://github.com/backstage/backstage/pull/4019 with some caveats.

[2021-01-12 07:47] gharsallahmoez opened #4023 "docker compose deployment"
## Feature Suggestion

I'm looking for docker compose deplyment that contains frontend and backend.

[2021-01-12 08:55] Rugvip commented on #4007
@freben With a sufficiently random ID we can just generate it upfront before storing the blob, and if things go wrong in uploading the blob we report that as any other async catalog error. Tbh I think we'll prolly be able to do it in-line with the processing though, basically uploading and receiving an ID back to use in the entity.

[2021-01-12 09:04] jvilimek commented on #3973
Thanks @dtuite. Any progress, comments please?

[2021-01-12 09:21] #3944 closed

[2021-01-12 09:29] dtuite commented on #3973
@jvilimek No progress yet. You can can see what we are working on on our [Open Source Development Board](https://github.com/orgs/RoadieHQ/projects/2). It is the next thing we will work on.

Just to set expectations on timing. It will probably be the end of the week before we get to look at this. I don't know how long it will take to complete the work. I will update here when we have progress to re

[2021-01-12 09:50] jvilimek commented on #3973
Sure, thanks for info!

[2021-01-12 09:51] freben commented on #4007
I was kinda hoping to not re-write the blobs over and over again though. Or, even better, not even re-READING them from the remote (support for etags etc). Hence the thought that maybe if they are deterministically processed, we could kinda have a merge/diff thing going on like react does.

[2021-01-12 09:57] dtuite commented on #4023
@gharsallahmoez At the moment, there is nothing which will work out of the box for this. There used to be a sample `docker-compose.yaml` file in the `contrib` directory but it seems to be gone.

I have written a blog post tutorial which shows [how to build a Backstage instance and run it with Docker Compose](https://roadie.io/blog/backstage-docker-service-catalog/). Hopefully it is useful.

[2021-01-12 11:19] gharsallahmoez commented on #4023
@dtuite it works in my local machine, but when I tried to build it on my public server I got a white screen in the browser and this error `net::ERR_SSL_PROTOCOL_ERROR` in the console. did u tried to build backstage on a server? and do u have an idea what goes wrong?

[2021-01-12 11:23] gharsallahmoez commented on #4023
here is the full console log
[code]

[2021-01-12 11:32] andrewthauer commented on #3787
Any additional feedback on this? Based on the last couple of comments, there could be a clear distinction of what a link is and why it may not make sense to model as an annotation. cc @freben, @Rugvip, @GoWind?

[2021-01-12 11:33] dtuite commented on #4023
@gharsallahmoez the scope of the tutorial is local development only. I wouldn't be surprised if it doesn't work on a server. Unfortunately I have no insight into what is causing the specific errors you are seeing.

[2021-01-12 11:42] andrewthauer commented on #3996
I think it probably makes sense to lower the priory of GitHub, in the sample app. The odds are if someone has another provider enabled it is most likely the primary. There are also workarounds as you mention to support multiple so it is possible as well.

The idea around posting PR updates is interesting. However, I think any data that can be automatically added to the entity should probably just

[2021-01-12 11:53] benjdlambert commented on #4023
@gharsallahmoez do you have SSL certificates setup for your server deployment? It looks like you're trying to load `https` when it only listens with http.

[2021-01-12 12:41] freben commented on #3787
Not from me. My mind is pretty set on `metadata.links.[].{rel,url}` at this point :) I'd vote to go ahead and implement, and then extend in the future if we find that we want to decide icons and labels and stuff.

[2021-01-12 12:51] tragiclifestories commented on #3815
@GoWind sorry for delay, thought I'd already replied but obviously not!

For me, something is part of something else if its whole existence is enclosed by the larger aggregate, whereas a dependency implies some kind of 'independent' existence. Examples:

1. Service A **depends on** Library B, since if that link was broken, Library B could equally well be included in any number of other Services. (

[2021-01-12 14:08] freben commented on #3815
I'm good, and in the camp of using `partOf`, and `hasPart` as the inverse. I'd be happy to review a contribution for it.

We are now more and more, as was noted above, essentially making relations significant as a `[type, target.kind]` tuple. The target kind affects what the relation "means" in a technical sense, even though it commonly doesn't affect what it means from a high level human interpre

[2021-01-12 14:10] tragiclifestories commented on #3815
Awesome - my branch I think is more or less ready to go so I'll tidy up and make sure it fits around #3957.

[2021-01-12 14:33] #3946 closed

[2021-01-12 14:35] GoWind commented on #3815
@tragiclifestories

This makes a lot of things clearer. Yes, partOf signifies a sort of non-independent existence/.
Now that I see it from this perspective, I am inclined to add this type of relationship to Backstage as well :)

As for consumesAPI, i think it is ok to have it as a defined relationship type as APIs are first class .

[2021-01-12 14:43] tragiclifestories commented on #3815
For sure - was just drawing the analogy there really.

[2021-01-12 14:47] freben commented on #3815
And now #3957 is merged!

[2021-01-12 15:37] freben commented on #3787
By the way, to be clear, @andrewthauer are you looking to do the actual work to add this?

[2021-01-12 15:38] freben commented on #3787
Or shall we make a help-wanted issue with the details

[2021-01-12 16:28] robinschaaf opened #4032 "Fresh install (scaffolded app) with plugin-graphiql is not creating graphiql route"
## Expected Behavior
I expect, based on the readme, that after yarn add of the plugin, and adding to plugins.ts, a /graphiql route should be created

## Current Behavior
I am getting a 404 when navigating to http://localhost:3000/graphiql

## Possible Solution
I'm not sure if there's something simple I'm missing that needs to be added to the readme(?) Or if there's an error, a helpful error messag

[2021-01-12 16:28] Rugvip commented on #4007
@freben But that's where some of the ideas for later Q1 come in :grin:
With processing split up to process entities individually and providing the existing entity as input to the processing it should be simple enough to just re-use existing blobs instead of creating new ones.

[2021-01-12 16:58] Rugvip commented on #3787
Feeling pretty strongly that we should have some proper real-world use-cases to that uses `rel` if we want to add it. If we want to use it so select where the links go, then let's have some idea of how. If we want to use it for icons we should get that system in place first imo, an app-wide catalog of icons tied to identifiers that people can use, probably accompanied by an `icon-browser-plugin` f

[2021-01-12 17:36] ayshiff opened #4036 "TechDocs: Publishers do not work on Windows"
Inside `packages/techdocs-common/src/stages/publish/awsS3.ts` in the `publish` method.

The `getFileTreeRecursively` method can return `\\` paths (on Windows) that looks like this : `\\directory\\relativeFilePath`.

The problem is that when we iterate on the file tree, we construct the filePath based on the fact that our path is in the Unix form `/directory/relativeFilePath` but that's not always

[2021-01-12 17:57] freben commented on #4032
Hi! It seems that the README isn't updated fully. One thing that is lacking, is that you will want to add the actual route in the app as well, as seen [in the example app](https://github.com/backstage/backstage/blob/master/packages/app/src/App.tsx#L84). You may also want to update the [apis](https://github.com/backstage/backstage/blob/master/packages/app/src/apis.ts#L33) to add a tweaked copy of [

[2021-01-12 18:21] Fox32 commented on #4007
For now we could also provide an API to read the existing attachments for an entity in the processor to check whether we can reuse them.

[2021-01-12 19:05] AlleyWei opened #4037 "Docs: Update K8 docs location"
## Expected Behavior

Move the K8 doc to https://backstage.io/docs/features/kubernetes and change title in menu to Kubernetes
## Current Behavior

Currently appears in https://backstage.io/docs/features/software-catalog/kubernetes-in-backstage and is labeled "Kubernetes in Backstage"

## Possible Solution

## Steps to Reproduce

1. Step 1
2. Step 2
3. ...

## Context

## Your Environment

- NodeJS

[2021-01-12 19:07] AlleyWei commented on #4037
Can this be updated ASAP? Will need it for the K8 marketing launch

[2021-01-12 19:07] OrkoHunter commented on #4037
Sure! I can do this

[2021-01-12 19:13] AlleyWei commented on #4037
Thank you!!!

On Tue, Jan 12, 2021 at 2:08 PM Himanshu Mishra <notifications@github.com>
wrote:

[2021-01-12 19:23] freben commented on #4032
Pull request with fix is up!

[2021-01-12 19:24] #3752 closed

[2021-01-12 19:25] AlleyWei commented on #4037
@OrkoHunter can this be moved to above Software catalog? In your screenshot, it shows as the bottom-most section in Core Features, and we'd like to see it as the 1st core feature.

[2021-01-12 19:27] OrkoHunter commented on #4037
Oh okay 😄

[2021-01-12 19:29] robinschaaf commented on #4032
Great - thanks for the quick turnaround - you're right, it was just the missing app route.

[2021-01-12 20:51] #3858 closed

[2021-01-12 21:38] freben commented on #4007
Yeah... and in this case I guess it wouldn't be wasteful either since (at the moment...) only one processor would be interested in the data so no excessive re-reading

[2021-01-12 21:46] #4037 closed

[2021-01-12 21:59] LeKeve opened #4043 "TechDocs: improve scrolling for long documentation"
## Feature Suggestion

As a user I would like to easily navigate between documentation pages or sections inside of longer documentation. Currently, if I scroll down to the middle of a page or reach the end of a long page I have to scroll all the way back to the top of the page to navigate elsewhere.

## Possible Implementations

- Documentation search
- Fix position of documentation navigation and

[2021-01-12 22:19] OrkoHunter commented on #4043
Yes. 💯 I like both 2 and 3 as a fix. Documentation search would search within all the pages of the TechDocs site - it's helpful but maybe not so much as the default browser "Find in page".

[2021-01-12 23:27] AlleyWei opened #4046 "Microsite: Add announcement banner"
## Feature Suggestion

The K8 details on the home page are located pretty far down on the page. To inform visitors of the launch, PMM would like to add a dismiss-able banner to the home page that flags this launch (and other announcements in the future).

## Possible Implementation

Here's the idea for the dismiss-able banner: https://backstage.io/storybook/?path=/story/feedback-dismissablebanner-

[2021-01-13 01:24] andrewthauer commented on #3787
@freben - Yes, I was thinking of tackling this yes. Would probably be split into at least 2 or 3 PR's starting with extending the entity model and then providing a component that can be used as a widget in the entity overview page.

@Rugvip  - I'm viewing `rel` as more of a `slug` or `type`. They would be used to semantically identify what the link represents (e.g. `admin-dashboard`, `logs`, `stor

[2021-01-13 04:03] gampeixoto opened #4049 "String com diferente case in plugin org"
## Expected Behavior
![image](https://user-images.githubusercontent.com/13747069/104404609-cc0f8c80-5539-11eb-80b7-95eba2e08815.png)

## Current Behavior
![image](https://user-images.githubusercontent.com/13747069/104404757-2d376000-553a-11eb-99b0-fc14695206b2.png)

## Possible Solution
https://github.com/backstage/backstage/blob/5032aa4bba5b3d3366066b1471f1b27ba3045b65/plugins/org/src/components/

[2021-01-13 04:04] gampeixoto commented on #4049
#4048

[2021-01-13 08:26] jizg opened #4051 "TechDocs: degrade on #3990 Binary file is not showed up with awsS3 publisher"
I updated to the latest master branch and found the bug fixed by #3991 happened again.
The latest codes went back to stream object to string and response the string to the frontend which resulted the binary file such as png image not displayed.

https://github.com/backstage/backstage/blob/5032aa4bba5b3d3366066b1471f1b27ba3045b65/packages/techdocs-common/src/stages/publish/awsS3.ts#L27-L38

[2021-01-13 09:34] OrkoHunter commented on #4051
Ooops. I believe we missed to highlight this when reviewing https://github.com/backstage/backstage/pull/3953. cc @ayshiff just for your information.

Apologies, will fix this now.

[2021-01-13 09:38] freben commented on #4051
@OrkoHunter oh sorry, i eagerly got started on that https://github.com/backstage/backstage/pull/4053

[2021-01-13 09:39] OrkoHunter commented on #4051
Aah, no worries! 😄

[2021-01-13 09:46] freben commented on #3787
After talking a bit yesterday I also was swayed in favour of actually having a `title` in there after all. My initial idea of `rel` being able to express essentially both title and icon won't work out in practice; it'll just dilute the rel/type into needing a ton of different possible values.

If we leave the title optional too, I'm not sure how we would draw the actual link in the frontend :)

[2021-01-13 11:02] andrewthauer commented on #3787
My thinking was title would resolve using `link.title | customTitle(link) | link.url`. So the fallback would be the URL if it's optional. I see no problems supporting title as per the original proposal but don't see a strong need to make it required (although it would be recommended to have it). That a as said, I can go either way.

Are we suggesting supporting title along with rel/type or just UR

[2021-01-13 11:19] freben commented on #3787
required `url`, optional `type`, optional `title` sounds good to me - @Rugvip?

[2021-01-13 12:00] Rugvip commented on #3787
@andrewthauer @freben yeah was also thing just show the URL itself if the title isn't set.

Regarding type I again think it should be driven be a clear and conrete need. If it's only for icons I think an icon field would be better, but if it's also for deciding how and where to display the link then we should have some ideas for how that would actually be reflected in the UI.

[2021-01-13 13:51] #4049 closed

[2021-01-13 13:52] andrewthauer commented on #3787
Perhaps `icon` might be more appropriate since it really is the main use case. I never had the intention for these links to be filtered or selectively used as a subset based on the `type`. One could still resolve the title based on the `icon` key if desired, but this would potentially be a misuse of `icon`. So ...

[code]

Are we ok having the `icon` value as a key like string? The intention being