[2021-01-13 16:02] OrkoHunter commented on #3998
Suggestion needed: Would you suggest a good profiler which can record the time it takes to load a TechDocs page and switch pages using the benefits of client side rendering? It should do the action for >100 iterations and on different internet connection speeds to generate a good benchmarking results.

[Lighthouse](https://developers.google.com/web/tools/lighthouse) seems to give a score of the si

[2021-01-13 18:33] regicsolutions commented on #3975
@Fox32 I just tested with the **0.0.0-nightly-20210133124** build and am now being brought to a blank page and getting a TypeError - Cannot read property 'metadata' of undefined?

![image](https://user-images.githubusercontent.com/6157895/104493834-9e5f2d80-55a3-11eb-81c2-6d5a9a5e312b.png)

Sample YAML being imported -

[code]

[2021-01-13 18:33] djsly commented on #2723
any skeleton plugin we can based ourselves on to build a plugin similar to Tech Insights ?

We would like to get a report of SonarQ or XRays reports across the Org/LOB instead of only at the component level.

[2021-01-13 21:24] K-Phoen opened #4064 "[Kubernetes plugin] – List Services & Ingresses"
## Feature Suggestion

Since https://github.com/backstage/backstage/pull/3918 got merged (nice work in there by the way), I was thinking about replacing my homemade k8s plugin with the built-in one. The only show-stopper at the moment is the fact that Services and Ingresses aren't displayed yet.

Would you be interested in a PR that adds support for these two types of objects?

## Possible Impleme

[2021-01-13 22:40] #3875 closed

[2021-01-14 01:29] regicsolutions commented on #3894
Thanks for sharing! i have been pulling my hair out with this same issue using the Okta provider. Guess our only option at this point is to manually update the auth-backend plugin and set the flag to true?

[2021-01-14 04:12] regicsolutions opened #4065 "Invalid X-Requested-With header using the Okta Provider"
Using the Okta provider within the auth-backend plugin and getting the following error: Invalid X-Requested-With header

Okta is setup as follows:

Login redirect: https://myapp.com/api/auth/okta/handler/frame
Logout: https://myapp.com/api/auth/okta/logout
Initiate Login: https://myapp.com/api/auth/okta/start

App logs:
GET https://myapp.com/api/auth/okta/refresh?optional&env=development
GET https

[2021-01-14 06:24] adamdmharvey opened #4068 "kubernetes: Enhance identification of detail drawer availability"
## Feature Suggestion

The deployment and pod headings are clickable to bring up the sidebar drawer with more details about the given element, which is awesome.

It would be nice if the UI indicated that in some way to the end user.

| Finding hotspots | Drawer |
| --- | --- |
| ![image](https://user-images.githubusercontent.com/33203301/104552353-aac8a200-5606-11eb-93ba-ecc2963017b8.png) | ![imag

[2021-01-14 07:21] OrkoHunter opened #4070 "TechDocs: Add option to configure a sub-directory of the external Storage to be used"
## Feature Suggestion

Currently, TechDocs uploads the generated documentation files to AWS S3 or Google Cloud Storage assuming that the bucket/storage is solely created for the use of TechDocs. Hence, it uses the root of the bucket to store the files. However, some users may want to share their bucket with other services, and may have the following file structure in their bucket

[code]

So, it s

[2021-01-14 07:44] emmaindal commented on #2028
Hey @katz95, thanks so much for these designs. Its great! As search isn't ready yet I suggest we create some separate issues out of this, based on the following user stories:

1.
- As a user, I should be able to favorite any docs page.
- As a user, I should be able to see my list of favorited docs pages on the docs landing page (see design above).

2.
- As a user, I should be able to create a new

[2021-01-14 07:49] OrkoHunter opened #4071 "TechDocs: Add a "Sync" button on the frontend to trigger a rebuild and update of docs site"
## Feature Suggestion

Backstage users should have an option to "Trigger a rebuild" on a documentation site as a way to invalidate the cache. This will give the user more control and confidence when they are working on a site and want to see the latest changes as quickly as possible.

Another use case of this button is when the TechDocs frontend plugin version changes and some styling bugs are int

[2021-01-14 07:51] OrkoHunter commented on #2028
Agree to splitting up into several issues. I like how you broke this down into several pieces, it's awesome!

[2021-01-14 08:39] freben commented on #3894
@Rugvip this is something we actually talked about briefly, right? Maybe you can share what the reasoning was

[2021-01-14 10:14] emmaindal commented on #3122
Also love your point in "random thought" @erikxiv, the use case I can think of is having one piece of "system documentation" that you can tie to all relevant entities that plays a role into the documentation.

@OrkoHunter One thing I had in mind, we discussed a little bit on additional metadata in the Header we display that will not be displayed here as it will not render the documentation Header.

[2021-01-14 10:22] OrkoHunter commented on #3122
@emmaindal I also thought about Reader displaying the metadata of last updated, contributors, etc. But I feel this will reducing the height of the documentation page. So, I feel let's keep the metadata in the header itself. I think it should be feasible to update the Entity header based on what tab is selected (e.g. Docs, CI/CD, API, etc.).

[2021-01-14 10:24] mcalus3 commented on #3973
It's already resolved by https://github.com/backstage/backstage/pull/4014. Try on latest backstage build.

[2021-01-14 10:47] mcalus3 opened #4074 "AzureUrlReader fails to read url for repos that have the same name as project"
Azure DevOps urls are inconsistent - for repos that have the same name as project two url formats are valid:

- `https://dev.azure.com/<userOrOrg>/_git/<repoName>`
- `https://dev.azure.com/<userOrOrg>/<projectName>/_git/<repoName>`

## Expected Behavior

Url format should be parsed and recognized. Based on it app could:

1. Infer project name from the repository name if the url is in the shorter f

[2021-01-14 11:29] iamEAP commented on #3998
To zoom out a little bit...  Given the current overall architecture (static site gen -> aggregated storage -> render full pages within Backstage), there are (to my mind) three possible ways to achieve the last step:

1. Embed the statically generated content within Backstage via iframe
2. Inject the statically generated content within Backstage via shadow DOM
3. Inject the statically generated con

[2021-01-14 11:56] OrkoHunter commented on #3998
Complete agree. And it is going to be quite a bit of work to support a list of mkdocs extensions that comes out of the box with mkdocs-material theme.

(By the way, we can see the list here in references https://squidfunk.github.io/mkdocs-material/reference/abbreviations, so we know exactly what these features are that we must support before transitioning to the new theme.)

My thinking of TechDoc

[2021-01-14 11:58] #4051 closed

[2021-01-14 12:07] idvoretskyi opened #4075 "DCO check is missing for the project"
Greetings, project maintainers.

CNCF's IP policy (https://github.com/cncf/foundation/blob/master/charter.md#11-ip-policy) requires all projects to use either CLA (Contributor License Agreements) or DCO (Developer Certificate of Origin). Unless there's a strong necessity to use CLA, we encourage projects to use DCO as it's easier to setup and use. Ref.: https://github.com/cncf/foundation/issues/13

[2021-01-14 12:31] benjdlambert commented on #3383
@leemills83 here's the ticket I mentioned this morning in planning wrt the other ticket on the board.

[2021-01-14 12:44] #3765 closed

[2021-01-14 13:55] emmaindal opened #4078 "Search: Collect Feedback"
The proposed [Search Architecture](https://backstage.io/docs/features/search/architecture) is now published.

This issue is here for us to collect feedback from you all on how to improve the architecture to fit more use-cases. Take the opportunity to look through the Architecture diagram on the page linked above. Also take some time to read through the [roadmap](https://backstage.io/docs/features/

[2021-01-14 16:44] Rugvip commented on #3894
I don't think setting `passReqToCallback ` affects the id token passing, looking at for example the Google provider, it's picking up the ID token from params: https://github.com/backstage/backstage/blob/5b8eef2e5a829e63f6bc4939a8b6cd64f6529cd8/plugins/auth-backend/src/providers/google/provider.ts#L76

In fact, the `oauth2` strategy already does this as well, https://github.com/backstage/backstage/

[2021-01-14 17:35] Rugvip commented on #4068
Yeah this was debated quite a bit already 😅

Icon would prolly look something like this:

![image](https://user-images.githubusercontent.com/4984472/104626742-887e6500-5696-11eb-887f-49b03080b675.png)

Not a huge fan tbh.

Internally we have a color indication on hover, but tbh I don't know if that helps in this case? Perhaps static color, but keeping the hover area dimming to distinguish it from

[2021-01-14 18:23] freben commented on #4068
I'm definitely also a fan of making them link-like but ideally with a distinguishing factor.

An alternative is to enforce a rule that if it's a sidebar or popup, it must always be triggered by a visual button - not a link. That kind of restriction does put some constraint on the design of the rest of the page though.

[2021-01-14 19:41] adamdmharvey commented on #4068
I hadn't considered a tool tip, but it might be nice even as an incremental improvement.  Something like, "View more details"?

![image](https://user-images.githubusercontent.com/33203301/104640423-78ef2400-5676-11eb-858b-1f81d1fa32c5.png)

Something a little more visual so a user knows to hover/click for sure, but what do you think?

[2021-01-14 20:10] paudepr opened #4085 "Create Catalog not working on demo.backstage.io"
After landing on https://demo.backstage.io/catalog and on submitting "Create Component" button, getting Http 404.
## Expected Behavior

## Current Behavior

Getting this response, instead of the working page :

ERROR 404: PAGE NOT FOUND

Looks like someone dropped the mic!
Go back... or if you think this is a bug, please file an issue.

## Possible Solution

## Steps to Reproduce

1. Go to https:/

[2021-01-14 20:38] OrkoHunter commented on #4085
Hey! Yes, this is expected from the demo.backstage.io site since it is mostly a ready-only website, and no "Create" functionality is enabled since it can cause exploitation. :)

Leaving this issue open since the error can be user friendly.

[2021-01-14 20:58] paudepr commented on #4085
Got it. It's a bad user experience to have the button there that is not working :-) You could have a job scheduled to prune/clean these demo data or just create in session without persisting ...

[2021-01-14 21:34] adamdmharvey commented on #3364
Note for the checkmark for cost-insights, I think this was done as implemented here: https://github.com/backstage/backstage/pull/3264

[2021-01-14 21:52] Rugvip commented on #3364
@adamdmharvey alright, thanks!

Closing this as we've covered the list. There are perhaps some missing pieces here and there and much of it doesn't have documentation, but I think it's best to save documentation updates for when we actually have some place to display it! :grin:

Thank you @keshann93 for helping out with so many of these, and everyone else that helped out too! 🎉

[2021-01-14 21:52] #3364 closed

[2021-01-15 00:18] rneumaier commented on #3558
@andrewthauer , @emmaindal , and @OrkoHunter ,
My team was recently dealing with what appears to have been a similar issue.
Ultimately I learned that we were creating documents in the latest version of mkdocs-material (6.2.4) and then trying to both process and display them in an older version (5.3.2).

To fully understand the issue I needed to take a look at the following:
1. Where the document i

[2021-01-15 02:27] joscha commented on #1519
I came here after looking for answer on how to debug a catalog loading issue in production. After looking at the source code I can't see an easy way to log
* resource loader activity (e.g. UrlReader)
* (attempted) http requests (via backstage's fetch impl)

It would be great if we could use the already injected winston logger in more places, especially wen it comes to reading (github) URLs - thoug

[2021-01-15 05:36] joscha commented on #3398
This just cost us half a day to find. For any poor soul that suddenly sees:
[code]
this issue is the reason. You can either regenerate a bootstrap entry via:
[code]
into the `backstage_plugin_catalog.locations` table to recreate the bootstrap, or you can go to https://your.backstage/catalog-import and pass your catalog reference there.

[2021-01-15 05:43] joscha commented on #3348
references https://github.com/backstage/backstage/issues/3398

[2021-01-15 06:30] OrkoHunter commented on #3558
Hey @rneumaier ! Current implementation of TechDocs is very specific to a version of `mkdocs-material` theme. TechDocs depends on the CSS selectors of that particular version to make it work in Backstage. And it does not seem possible to support multiple versions of the theme at a time. Read more in #3998.

Moving ahead, we want to get rid of mkdocs-material and create our own minimalistic mkdocs

[2021-01-15 09:57] OrkoHunter opened #8111 "[TechDocs CLI] serve: Backstage app should contain the name of local TechDocs site being served"
When running `techdocs-cli serve` on a docs source repository, the "Live Editing Environment" in the screenshot should be replaced by the name of the site, or just "Live preview".

![Screenshot 2021-01-15 at 10 56 08](https://user-images.githubusercontent.com/8065913/104710386-4f8ad280-5720-11eb-931f-226ebd19714a.png)

[2021-01-15 10:12] freben opened #4089 "[RFC] From Identity to Ownership, v2"
**Status:** Open for comments

## Need

This proposal is a replacement for #3870, which will be closed. There is a lot of context and discussion in that issue, which serves as background to this. Rather than polluting and extending all the discussion in there, let's start with a clean slate - but we suggest reading it.

The short summary is:

- There is an authentication system that is responsible

[2021-01-15 10:14] freben commented on #3870
We have discussed this back and forth a couple of times internally, and chose to write a new, cleaner RFC with the proposed approach that we believe that these discussions has led up to. A HUGE thank you to the community for sticking with us and providing all of this critically important feedback thus far.

Closed - and see you in the other issue :)

https://github.com/backstage/backstage/issues/4

[2021-01-15 10:14] #3870 closed

[2021-01-15 10:37] iamEAP commented on #3998
A couple more thoughts:

**On Performance**: If I'm reading the waterfall above correctly, the vast majority of those bars are spent in the green `waiting` state while the blue `download` itself is _extremely_ short, which implies to me optimization on size will help with storage, but not necessarily performance.  I'd be curious to understand where most of that `wait` time is spent in the backend.

[2021-01-15 11:06] freben commented on #3398
Addressed the core of the issue here https://github.com/backstage/backstage/pull/4092

But we may still want to make more helpful frontend changes as well.

[2021-01-15 11:41] tragiclifestories commented on #4089
Should that be "appears directly in **O**"? Otherwise it seems tautological ...

[2021-01-15 12:02] #418 closed

[2021-01-15 12:02] #1536 closed

[2021-01-15 12:02] #3809 closed

[2021-01-15 12:11] freben commented on #4089
Indeed, my typo, thanks for being thorough!

[2021-01-15 12:23] OrkoHunter opened #4097 "backend-common: URL Reader should return metadata about HEAD commit"
## Feature Suggestion

URL Reader's `readTree` method response should contain metadata about the HEAD commit e.g. timestamp and sha. https://github.com/backstage/backstage/blob/6e382fc4c70e8b9703f15dd554959e0cfa4dcb8d/packages/backend-common/src/reading/types.ts#L42

cc @Rugvip

## Context

URL Reader is used to download a repository/tree when a location is defined as `url:target` (commonly used i

[2021-01-15 12:53] freben commented on #4097
So if we make it part of this particular API method instead of a separate one, we should ideally take care to only lazily load the actual data blob, until the user calls `files`, `archive`, or `dir`. Right? Since you may want to check the metadata only, and then not read the data at all, if it hasn't changed.

[2021-01-15 13:11] freben commented on #3998
I believe one could say that GCS is a known-slow storage mechanism, at least in terms of startup time per item - its potential throughput when taking parallelism into account is astronomical :P

Nearline CDN-like caching may indeed improve things a lot. And I don't expect node to be a bottleneck as such, if we choose to put caching at that level.

[2021-01-15 13:25] tragiclifestories opened #4099 "Allow customisation of default catalog filter"
## Feature Suggestion

Currently, when the user logs in to backstage, they get the page of their owned components. This is hardcoded into the `CatalogPage` component code. The feature request is to make this configurable/customisable.

## Possible Implementation

Concretely that would depend on the work in https://github.com/backstage/backstage/issues/3274 to update the filtering system as a whole

[2021-01-15 14:08] Rugvip commented on #4097
@freben That'd cause trouble if we want other parts of the response of the actual tree fetch to be available in the response object, but it would be one way to do it.

Another option would be to be able to supply a hash/etag and get a NotModifiedError thrown. That has the downside of actually executing the fetch if there is a modification, which is some cases might be unnecessary, for example if a

[2021-01-15 14:15] jmfrancois opened #4101 "Backstage dev experience on simple plugin addition"
The dev experience is really important to build a strong community.
I just have started to play with backstage and take this ticket as a discussion around backstage dev experience.

Just installing a plugin can become a nightmare even for developpers.

## Expected Behavior

Having clear message / doc / tooling to help installing existing plugins on the repository

## Current Behavior

While instal

[2021-01-15 14:33] emmaindal opened #4102 "[TechDocs HomePage] Support Button"
This is a sub-issue out of #2028.

On the TechDocs HomePage, a Support Button should exist with the possibility for a Backstage integrator to insert information to the team responsible for TechDocs within the organization.

<img width="542" alt="Screen Shot 2021-01-15 at 3 20 56 PM" src="https://user-images.githubusercontent.com/25153114/104738055-524bee80-5745-11eb-9306-3dd9f52925e1.png">

[2021-01-15 14:33] emmaindal opened #4103 "[TechDocs HomePage] Owned Documents"
This is a sub-issue out of #2028.

On the TechDocs HomePage, a new Tab should exist with the text "Owned Documents". When a user clicks on this tab the following should get displayed.

* Empty state if users don't have any documents, see picture 1.
* Once users have their own docs, they can see a table similar to the table in picture 2.

<img width="909" alt="Screen Shot 2021-01-15 at 3 29 20 PM"

[2021-01-15 14:34] emmaindal opened #4104 "[TechDocs HomePage] Create Docs Component Button"
This is a sub-issue out of #2028.

On the TechDocs HomePage, a "Create Docs Component" Button should exist that takes a user to the default docs-template (/create/docs-template) or let a Backstage integrator decide where the button should take the user.

<img width="493" alt="Screen Shot 2021-01-15 at 3 21 38 PM" src="https://user-images.githubusercontent.com/25153114/104738311-a656d300-5745-11eb-

[2021-01-15 14:53] Rugvip commented on #4101
Agreed! I think adding a check to `yarn start` that at least prints a warning would be good, since this is a common issue.

There's already a `backstage-cli versions:check` command that will tell you that this issue exists, and you can also add a `--fix` flag to it to attempt to automatically fix the issue. That's not the first place you check when you hit this problem though.

In general there's

[2021-01-15 15:33] n2ygk opened #4106 "integrations url processor doesn't implement support for private gitlab repos"
Integrations for gitlab private repos do not work; only public repos can be pulled from, e.g. for catalog items.

## Expected Behavior

The gitlab API (or different auth headers) need to be used with the `token` in order to get files from a private repo.

## Current Behavior

Fails to load the referenced file.

## Possible Solution

Use gitlab API endpoint to retrieve file content?

## Steps to Re

[2021-01-15 15:35] n2ygk commented on #4106
@freben per our discord messages.

@Rugvip looks like you might want to look at this... Some notes I made:
[code]

[2021-01-15 15:38] freben commented on #4106
Thanks! Also post the relevant piece of your `integrations` section in config. Double check that it's the one that actually gets used - i.e., if it's overridden in `app-config.local.yaml`, then post that one, of course with the token censored.

[2021-01-15 15:51] Rugvip commented on #3815
Thanks you @tragiclifestories and everyone else that contributed to the discussion! I feel that with #3957 and #4031 merged we're ready to close this, with any followup e.g. UI changes being handled in new issues.

Happy to close it?

[2021-01-15 15:51] emmaindal opened #4108 "[TechDocs HomePage] Docs Favorites"
This is a sub-issue out of #2028.

* As a software engineer, I should be able to favorite any documentation page.
* As a software engineer, I should be able to see my list of favorited documentation pages on the TechDocs HomePage.

On the TechDocs HomePage, a "Your Favorites" box should be displayed showing the signed in users documentation favorites.

<img width="858" alt="Screen Shot 2021-01-15

[2021-01-15 15:53] Rugvip commented on #3787
@andrewthauer Yep! As long as we also include at least a rudimentary icon system in the initial PR, perhaps with just a couple of hardcoded icons, but with some clear IDs of how to expand and making them configurable.

[2021-01-15 15:56] emmaindal commented on #2028
@garyniemen @OrkoHunter @soapraj I've created all the sub issues above as discussed, feel free to add any missing information if you feel its needed.

[2021-01-15 16:00] forrestwaters commented on #4106
@n2ygk if you try `type: gitlab` I believe this will work. The code for figuring out project ID/talking to the gitlab API is [here](https://github.com/backstage/backstage/blob/9d7b50f2f36f599df4c9ceacb18676fc0fdf72bc/packages/integration/src/gitlab/core.ts#L101). The gitlab integration works for our private repos for catalog files as well as techdocs, etc.

[2021-01-15 16:02] n2ygk commented on #4106
[code]

[2021-01-15 16:07] n2ygk commented on #4106
My understanding is these types are being deprecated and replaced by integrations `type: url`. I guess I will also have to add a gitlab `processor` to make this error go away:

[code]

[2021-01-15 16:12] erikxiv commented on #4089
Impressive work, reconciling a lot of different comments and options, kudos!

Minor thought - would it be valuable to augment the AuthClaimBuilder to include claim type to be able to support other types of claims than user identity and group membership, for example authorization claims or similar? No need from my side, just a thought.

Have you considered the use-case when a user is looking at oth

[2021-01-15 16:14] n2ygk commented on #4106
BTW, there's no need to get the project ID as it can also be a [url-encoded org/repo](https://docs.gitlab.com/ee/api/README.html#namespaced-path-encoding)

[2021-01-15 16:16] tragiclifestories commented on #3815
Sure thing - thanks everyone for sharpening this up!

[2021-01-15 16:16] #3815 closed

[2021-01-15 16:20] n2ygk commented on #4106
I explicitly added the processor but still seeing the same error:
[code]

[2021-01-15 16:22] OrkoHunter commented on #2028
Thank you for creating them @emmaindal ! ⭐

[2021-01-15 17:07] freben commented on #4106
That last config diff does not show a host field. Just double checking

[2021-01-15 17:17] adamdmharvey commented on #4102
A UX query to the experts if I may.

"Support" could be for an integrator, but might be interpreted from the reader as to the content/quality of the docs themselves.

So either...

1. **Support with Two Methods**:  support button could have two pieces of info in it, a) where to submit fixes for the docs, i.e. edit in the repo, and b) where to get integrator support for TechDocs.

2. **Edit + Suppo

[2021-01-15 17:53] adamdmharvey opened #4110 "Lighthouse Card not hidden when annotation removed from catalog entity"
## Expected Behavior

When removing a Lighthouse annotation from a catalog entity, that entity is no longer registered with lighthouse.

## Current Behavior

My component had a test annotation of:
[code]

Note I did not actually run spotify.com through my Lighthouse instance, so it's NOT in the Lighthouse database. I ended up removing that annotation from `catalog-info.yaml`.  I waited for the ref

[2021-01-15 18:00] Rugvip commented on #4089
Awesome! Think we're getting ready to :shipit:  :grin:

@freben regarding namespace as org layers, we arrived at wanting to use namespaces as the main mechanism for access control. The namespace that a user is a member of would then have an impact of what parts of the catalog that user has access to and we wouldn't want to also use that for providing support for multiple org layers.

Wanna be a bi

[2021-01-15 18:04] jvaleriano commented on #3065
Hi in the model documentation https://backstage.io/docs/features/software-catalog/descriptor-format#kind-system Backstage has many entities but none of them is Software or Service. As it is today is a Component Catalog.
Regards,

[2021-01-15 18:06] tragiclifestories commented on #4089
I didn't spot this when reading through but I think it's a very good point - especially as this is an important factor of how namespaces are used in Kubernetes land, and the deliberate similarity of the two manifest schemas will inevitably create expectations around what a namespace means in Backstage based on K8s.

[2021-01-15 18:06] emmaindal commented on #4102
Thanks for your comment. Just to clarify. This should not be displayed on a TechDocs site but the TechDocs Homepage. So /docs. And it should include a support channel to the "team" who are responsible for the TechDocs plugin within an organization.

For support/edit individual TechDocs sites/pages, we will use other components. As you mention an edit button etc! :)

[2021-01-15 18:09] adamdmharvey commented on #4110
* Whenever I remove the lighthouse annotation from my component, whether or not I let the all locations catalog refresh trigger, or create new (to forcibly reload the catalog-info.yaml), the card won't disappear.
* After ensuring the annotation was removed....
  * If I restart the backend only, and refresh the browser, it's still there.
  * If I restart the front end, it's still there.
  * Through

[2021-01-15 18:18] adamdmharvey commented on #4103
My team just had a big internal discussion about this very topic this morning, so it's very top of mind for me!! 🤩

My understanding of some of the nuances of tech-docs is still building, so pardon the question.  But today I understand I can have:

* Kind: `component`, owner: `group:myTeam`, annotation `backstage.io/techdocs-ref: dir:./docs`
* Kind: `documentation`, owner: `group:myTeam`, no annot

[2021-01-15 18:31] n2ygk commented on #4106
Isn't the host inferred from the target? Anyway, I've added it and also did some experiments with gitlab vs url type.

Here's my config.app diffs from 9420aef1ae9409923e4dfa7bba9deb619e4bfe73:

[code]

(I commented out the `all-templates` to make things more clear and configured the `react-ssr-template` and the gitlab-hosted TechDocs template)

Here's the log, showing the error to load the gitlab

[2021-01-15 18:36] adamdmharvey commented on #4089
This RFC is great; really gets to the heart of accountability and driving alignment.  Excited to see this progress!

Given the recent changes to the system model with [`system` and `domain` kinds](https://backstage.io/docs/features/software-catalog/system-model#ecosystem-modeling), I would almost think (or assume?) some sort of hierarchy built into this:

In a sense, it might be:

![image](https:/

[2021-01-15 18:56] adamdmharvey opened #4111 "techdocs: Expose mkdocs build errors upstream to the frontend"
## Feature Suggestion

When TechDocs attempts to build a target documentation site, resulting MkDocs build errors should be pushed up into the frontend to ease in troubleshooting.

Currently, when TechDocs can't build the site because of an MkDocs build issue, the frontend displays:

![image](https://user-images.githubusercontent.com/33203301/106325466-decbd600-6248-11eb-8978-12f2edd25b19.png)

[c

[2021-01-15 20:42] freben commented on #4089
Makes sense! I originally experimented a bit with a more precise field name to at least scope it better, and with other more structured shapes, but had trouble coming up with something that felt right so I kept it lean. Good alternative suggestions for the output of this function are already cropping up, which is great.

Let's see.

If there IS org (user/group entity) data in the catalog, then you

[2021-01-15 21:08] freben commented on #4089
I see what you mean, but consider that the actual logged-in identity is still meant to be in `default`, and the normal situation is that there is one central VCS that also ingests into `default`, so in that regard nothing changes. Any non-`default` data would fall under the "Future Work" section.

My initial (not very qualified - asking for feedback) hunch is that:

- The number of such extra name

[2021-01-15 21:21] freben commented on #4089
While that does sound logical, does it usually hold? I'm not sure yet if owning a system is really connected to owning the pieces. I concede that it most certainly will be very common! But maybe some will like to put an overarching org entity such as a product area as owners of a system, while subteams own the individual pieces?

But besides that, in fact every entity kind in question here already

[2021-01-16 01:59] adamdmharvey commented on #4089
@freben Makes a lot of sense. I think the key point you have there is the mandatory `spec.owner`, which thus infers you don't need to inherit.  And it could be the ingestion which if CODEOWNER wasn't defined say for a CODEOWNER, an entity like an API could be assumed to be owned by the same team who owns the system the API is attached to, but it would thus COPY the value into the `spec.owner` of t

[2021-01-16 04:10] ZLTECTEMAWEB20 opened #4114 "Linking in local Backstage packages"
I have created my backstage app. So, I need to work on @backstage/core package located in another folder.
When I follow this instructions (https://backstage.io/docs/getting-started/create-an-app#linking-in-local-backstage-packages), it is installed successfully.

## Expected Behavior

With this in place you I now modify the @backstage/core package within the main repo, and have those changes be re

[2021-01-16 04:10] #4114 closed

[2021-01-16 04:11] LARGH opened #4115 "Linking in local Backstage packages"
I have created my backstage app. So, I need to work on @backstage/core package located in another folder.
by following this instructions (https://backstage.io/docs/getting-started/create-an-app#linking-in-local-backstage-packages), it is installed successfully.

## Expected Behavior

With this in place you I now modify the @backstage/core package within the main repo, and have those changes be ref

[2021-01-16 05:42] OrkoHunter commented on #4115
Hey! This issue does not seem to be related to the [TechDocs feature](https://backstage.io/docs/features/techdocs/techdocs-overview), hence I'd update the title. :)

[2021-01-16 13:06] OrkoHunter commented on #4097
Adding a sha in the response of `readTree` is surely useful for something like TechDocs since it can store the state of the generated docs for future cache invalidation.

However, since TechDocs frequently tries to check if the docs site has been outdated, it needs some interface to call and get the latest sha of the url's target. If `readTree` is the only way to get the sha, then we are unnecessa

[2021-01-16 13:30] Rugvip commented on #4097
@OrkoHunter Sure it's not possible to fit in the `NotModifiedError` approach in TechDocs? What's the piece that prohibits that? I'm thinking that approach is preferable as it's the smallest modification that is unlikely to cause issues in the future. Making the `dir()` etc. lazy I think is troublesome for the reason I mentioned above.

[2021-01-16 13:39] OrkoHunter commented on #4097
Aah, let me try to be verbose here and tell me if this is correct. The `ReadTreeOptions` will have an optional `sha` parameter. The very first time TechDocs calls `reader.readTree(url)`, TechDocs will have no sha to provide to `readTree` for the particular `url`. So, `readTree` will do a full fetch and respond with the blob and the sha, that TechDocs stores. The next time TechDocs calls `reader.re

[2021-01-16 14:08] Rugvip commented on #4097
@OrkoHunter Yep, that's it. I'm thinking that in practice there's actually no case where you want to check if there's an update and then not download the tree if there is.

[2021-01-16 14:18] OrkoHunter commented on #4097
Yep, agreed.

[2021-01-16 14:18] freben commented on #4097
Where will the sha history be stored? Just in memory (best effort, per host), or in the db, or in the target as a metadata file or whatever?

[2021-01-16 14:27] Rugvip commented on #4115
@LARGH Does `yarn start` work as expected?

Tbh I don't think we can guarantee that types work smoothly since the linked packages will use the types from that repo, which means any dependency versions between the two projects have to match. A workaround that did work for me was to copy the `yarn.lock` from the linked in project to the app and running `yarn install`, in this case copying `backstage

[2021-01-16 14:37] OrkoHunter commented on #4097
URL Reader's readTree will always fetch the latest SHA from the source code provider - GitHub/GitLab/etc. So, it won't store SHA anywhere.

TechDocs currently stores the build timestamp in memory. So, the first step will be for TechDocs to store the SHA in memory as well and use it for calls to readTree. But I guess an improvement will be to support multiple Backstage instances? But if local files

[2021-01-16 14:57] freben commented on #4097
Sure, which is why it sounds like it might be part of the storage handler to keep track of the last hash. Some may just have it in memory, some may have it centrally stored.

[2021-01-16 15:02] n2ygk opened #4118 "scaffolder url integration ignores the specified branch"
Scaffolder ignores the **non-default** branch specified in the URL

## Expected Behavior

url integration should get the URL ref's branch, not the default.

## Current Behavior

the default branch is cloned

## Possible Solution

Make this call to git clone include the `parsedGitLocation.ref`:
https://github.com/backstage/backstage/blob/57460cda021bddaf04e7c3351c3881a3f24859b0/plugins/scaffolder-b

[2021-01-16 15:07] andrewthauer commented on #4089
Well done! This RFC. The proposed solution makes a lot of sense, seems quite flexible and relatively simple to grok 😄.

I'd like to drill into codeowners handling a bit. I like the idea of segregating GitHub teams into a namespace to avoid conflicts with other org data that might be ingested. I also realize the convention for handling the naming of groups/teams is not settled. However, the way it'

[2021-01-16 15:44] digitole commented on #4106
I have the same (?) or similar problem. Getting the catalog-info.yaml is possible in a public repo on our self-hosted gitlab, but not in a private repo (I've tested the token).

The error I get: "YAML error, YAMLSemanticError: Implicit map keys need to be on a single line"

I added this to the backstage config:
[code]

[2021-01-16 15:55] freben commented on #4106
That specific error almost always means that the response was HTML, not yaml. So, most likely a login page or similar.

[2021-01-16 16:30] andrewthauer commented on #2723
I agree this would be super useful.

We've been thinking about building a metrics/scorecard system that allows arbitrary measures to be associated with entities. It would likely be based on a star schema data model which would allow aggregations across relations.

I can see the presentation and data model being something that could be generalized. However, the process of populating the model for s

[2021-01-16 18:31] freben commented on #4089
Ah indeed, of course. Per integration is not granular enough. As long as we key on host only :P (it's been an ongoing discussion)

Hm i don't have a better idea for that thing right now. Let me ponder.

Side track warning: I've been wondering if a Backstage specific codeowners-like mechanism could be useful. What if you, like eslint and similar systems, could place `backstage.yaml` files in your h

[2021-01-16 18:47] ZLTECTEMAWEB20 commented on #4115
Curiously, when I execute `yarn start`, the project builds successfully but the core components are from registry.

So that you said, I should test to change `"incremental": false` or I should wait to the #4116 pull request?

[2021-01-16 19:37] mateiidavid opened #4119 "TechDocs: Change metadata fields to camel case"
## Context

#3716 suggested to add an explicit type to handle TechDocs metadata. These changes have been introduced in #3968.

Based on the PR feedback ([1](https://github.com/backstage/backstage/pull/3968#pullrequestreview-564403983)), ([2](https://github.com/backstage/backstage/pull/3968#issuecomment-757202924)) a further improvement could be made to the field names; more specifically to change

[2021-01-16 19:49] LARGH commented on #4115
Curiously, when I execute `yarn start`, the project builds successfully but the core components are from registry.

So that you said, Should I should test to change `"incremental": false`? or Should I wait to the #4116 pull request?
Or, Is there another way to modify core components?

Do you think if it is better to create my own components library based on the core components package?

[2021-01-17 08:33] kaparwan opened #4121 "[Techdocs] : URL Reader is not able to download the files in Preparer phase from bitbucket ( own hosted )"
## Expected Behavior

preparer should  download the files when set to url:https://<mybitbuckethost.com>/projects/PRJ/repos/my-repo-1/browse

## Current Behavior

## Possible Solution

requires check/test here for mybitbuckethost.com implementation

https://github.com/backstage/backstage/blob/master/packages/backend-common/src/reading/BitbucketUrlReader.ts#L10

## Steps to Reproduce

1. Step 1

set

[2021-01-17 13:01] emmaindal commented on #4103
Hey @adamdmharvey, thank you so much for this comment! My answer to it would be - yes, you should be able to see both:
1. entities you own of the type documentation (standalone docs entities)
2. entities you own, of another type, that has documentation.  (docs with code)

later on eventually also (but left out for):
3. if you are a CODEOWNER of let's say one documentation page of the entire TechDo

[2021-01-17 13:06] emmaindal commented on #4103
and just to clarify: techdocs annotation always need to exist as it is designed now.
So even if you have a standalone docs entity, it needs to have the techdocs ref in its yaml file.

[2021-01-17 14:11] OrkoHunter commented on #4103
Yep! Either a `url:/to/some/external/place` or a `dir:./` to indicate that docs and code are living together.

[2021-01-17 14:44] andrewthauer commented on #4089
To clarify, I think it would need to key off GitHub org and not only host to avoid conflicts. The example of a company that has both a company org and 1 or more open source orgs they manage within github.com could pose an issue. This case seems quite possible imo.

Sorry, not sure I'm following this idea 😕.

[2021-01-17 15:11] freben commented on #4089
I'll post in private because it was too big a sidetrack and I shouldn't have gone there :)

[2021-01-17 18:43] regicsolutions commented on #3975
@timja any thoughts on this `a.jobs. is not iterable` error? I am running Jenkins version **2.2.04.4** with the latest version of the SCM API Plugin (2.64) are there any other Jenkins plugins required that your aware of to be able to use this plugin?

[2021-01-17 18:52] timja commented on #3975
Have you tried after the last fix was merged?

it sounds like it didn’t find the job

[2021-01-17 20:52] nmatare opened #4123 "[TechDocs] - Support Mermaid Diagrams Using the Addon Framework"
## Expected Behavior

Expecting techdocs/backstage to render custom JS / mermaid plugin.

![image](https://user-images.githubusercontent.com/16658157/104855647-e51e9180-58db-11eb-85e2-0aae33d5cc55.png)

## Current Behavior

mkdocs/techdocs is not rendering custom JS / mermaid plugin; instead only the raw instructions are presented

![image](https://user-images.githubusercontent.com/16658157/104855

[2021-01-17 21:03] OrkoHunter commented on #4123
We'll look more into the MkDocs mermaid2 plugin more to see how we can make it work with TechDocs.

But TechDocs loading an external Javascript from its storage and executing it, will be a security threat for a Backstage app. Hence, TechDocs is only allowed to import HTML and CSS.

One possible approach would be to make the files under `extra_javascript` available in Backstage/TechDocs frontend; a

[2021-01-18 01:09] #2082 closed

[2021-01-18 07:10] #4006 closed

[2021-01-18 07:52] OrkoHunter opened #4125 "backstage-cli: lint command should lint a package/plugin's dependencies with custom rules"
## Feature Suggestion

When `backstage-cli lint` is run in a package or plugin, it should take a look at the dependencies and throw warnings/errors based on some rules.

1. If you are importing packages which should not be imported, the backstage instance should log a warning. (e.g. @backstage/core should also not be imported [docs](https://backstage.io/docs/tutorials/migrating-away-from-core)).
2

[2021-01-18 08:18] dhenneke commented on #3398
I could imagine different options for this:
1. Remove the delete button for the bootstrap location.
2. Disable the button and show a tooltip on hover that tells why it is disabled.
3. As-is but show a reasonable error message (I'm not sure what happens atm; need to check).

[2021-01-18 08:51] Rugvip commented on #4010
Closed by #4058

[2021-01-18 08:51] #4010 closed

[2021-01-18 09:03] Fox32 commented on #3922
I would expect the cli to skip variables that are filled from the environment. The cli is a development tool and won't have access to the real environment and won't run in that environment? We could also add this as an optional flag if we don't want to make it the default behavior, like `yarn backstage-cli config:check --ignore-env-substitutions`?

[2021-01-18 09:04] #4115 closed

[2021-01-18 09:12] uri-canva commented on #3398
The bootstrap location can't be deleted from the frontend, it's that if you unregister any of the components that are loaded from it, it gets deleted, I guess to prevent the component from being re-registered automatically?

[2021-01-18 09:39] Fox32 commented on #3655
Something I would like to see in `catalog-common-react`: [`EntityRefLink`](https://github.com/backstage/backstage/blob/d5b92637bcc854b786d3237d50ba2544ddad728f/plugins/catalog/src/components/EntityRefLink/EntityRefLink.tsx).

[2021-01-18 09:40] Rugvip commented on #4115
@LARGH Updated https://backstage.io/docs/getting-started/create-an-app#linking-in-local-backstage-packages with my comments from above. The main thing you'd need to do if you want type checking to work is to sync up dependency versions.

Regarding modifying core components, the best way is to do it in the main repo and then sending a PR, perhaps opening an issue with ideas before that. We may even

[2021-01-18 09:47] OrkoHunter commented on #4121
Hi @kaparwan ! I need some information from you that can help debugging.

Could you try downloading an archive zip of a branch on your hosted bitbucket server? And tell me what the filename of the zip looks like?

You can download the zip by visiting
[code]

Please try with the default and non-default branch. Thank you!

[2021-01-18 09:48] Rugvip opened #4126 "Enable GitHub Apps authentication for Scaffolder"
Use the `GithubCredentialsProvider` added in https://github.com/backstage/backstage/pull/4058 to authenticate the publishing step, preparer should use `UrlReader`.

[2021-01-18 09:49] Rugvip commented on #3744
Last two parts of this is to get the scaffolder ported, #4126, and to migrate techdocs over to only use `UrlReader.readTree`

[2021-01-18 10:16] Xantier opened #4127 "Modify GithubIntegrationConfig injection to be set up on client instantiation"
_Originally posted by @Rugvip in https://github.com/backstage/backstage/pull/4059#discussion_r558343168_

Move configuration of GithubIntegrationConfig to be set up properly for Octokit during instantiation of clients that are using it so we don't pass it around unnecessarily. See wrong usage in `plugins/catalog-import/src/util/useGithubRepos.ts` and replace with pattern mentioned in: https://gith

[2021-01-18 10:46] Rugvip commented on #4127
Not quite sure what you mean by "during instantiation", what do you have in mind? :grin:

[2021-01-18 10:59] Xantier commented on #4127
Oh, that's mostly just fancy wordplay from your comment on the linked PR: `Better pass in the config when constructing the instance of this client and keep it as internal state`.

Reading it back now it looks to be missing some words which could make it clearer. Ideally we would want
1. Get rid of the dependency `@backstage/integration`
2. Remove the need to pass around config items since they sho

[2021-01-18 11:01] #4008 closed

[2021-01-18 11:01] #4009 closed

[2021-01-18 11:03] freben commented on #3398
Yeah indeed when unregistering an entity what it actually does is to remove the location. It shows a dialog to that effect, informing you that if you unregister this entity, then these other entities will also go away (if more than one were coming from the same location).

THAT dialog should probably be changed, to show something like "You cannot unregister this entity, since it originates from st

[2021-01-18 12:54] Rugvip commented on #3996
👍  to lowering the priority as a short-term fix, but then also continue work on how we handle this long-term.

One idea for a long-term fix would be to have a processor that simply checks if `.github/workflows` exists for github repos, and in that case add a more specific annotation that enables GitHub Actions tooling

[2021-01-18 12:59] koolwithk opened #4129 "Cannot register new components - No catalogInfoUrl returned from the scaffolder - Stage failed with error: Not Found Publish template"
Cannot register new components from any available templates(Golang Microservice, Documentation Template, etc) in backstage

## Expected Behavior

- Should able to create Service, Website, Other component directly from Backstage
- Should create Github repository

## Current Behavior

It's gives below error message "error: Stage failed with error: Not Found {"id":"7d458984-2b15-4d66-adca-efdbbf65f4d

[2021-01-18 13:05] dhenneke commented on #3398
I'll prepare a PR to propose a change.

[2021-01-18 13:25] Rugvip commented on #4127
We're not looking to get rid of the `@backstage/integration` dep though, at least not at this point. You'll want to use that to construct the configs we're using to do the lookups

[2021-01-18 13:28] Rugvip commented on #4127
A good example of how to structure it is here: https://github.com/backstage/backstage/blob/8250ffb443443250762d7127ed9c32804245ab27/plugins/pagerduty/src/api/client.ts#L37, along with instantiation here: https://github.com/backstage/backstage/blob/8250ffb443443250762d7127ed9c32804245ab27/plugins/pagerduty/src/plugin.ts#L37

[2021-01-18 13:40] Xantier commented on #4127
I might have misunderstood the comment you made in the MR here: https://github.com/backstage/backstage/pull/3613/files#r538709302. I'll modify the issue to match that and address only instantiation of the client then.

[2021-01-18 14:54] Rugvip commented on #3922
👍  to assuming that env vars are filled in. I think the simplest fix would be to extend the config loader and config check command so that every env var is fulled in with just `"x"` or w/e. After we've loaded the config we lose any information about any substitutions that were or weren't done, so can't really do it then unless we do a bigger refactor.

[2021-01-18 15:34] Rugvip commented on #4085
Yep, doesn't look great. I suggest we fix this by making a nicer error page that tells you that component creation is not enabled in the demo deployment. That's until we can properly switch whether the create button should be displayed at all.

[2021-01-18 15:36] freben commented on #4110
I think I know what is going on here. There's a mechanism for merging annotations, stolen from a k8s behavior, and I think we need to disable it. It probably makes it effectively impossible to remove annotations.

Here's the line that does the updating. https://github.com/backstage/backstage/blob/master/plugins/catalog-backend/src/catalog/DatabaseEntitiesCatalog.ts#L371

It ultimately calls this c

[2021-01-18 15:36] freben commented on #4110
I'll try to address that asap

[2021-01-18 15:41] OrkoHunter commented on #4129
Hey ! Could you pull the latest changes from the master branch if you are running a `git clone` version of Backstage? If you have a `@backstage/create-app` app, then please update the Software Template URL in your app config from

[code]

to

[code]

That should fix it!

[2021-01-18 15:42] dhenneke commented on #3398
@freben Seems like there is something off. You tell that:

which is also what I remember to have seen in the past. But it doesn't do that. Question is whether "same location" means in our example `bootstrap` or the file that the entity was actually read from.

For example, the [`artist-lookup` Entity](https://github.com/backstage/backstage/blob/ba59fb6e1de58e4bf6133f198f3eec4697a3a624/packages/cat

[2021-01-18 15:47] Rugvip commented on #4089
Huh, not really? With access control you'd want to be able to split that central VCS into different namespaces with access control applied to each of those.

Yeah was just inventing some other examples of working with external identities. Tbh if we actually put them in the catalog they're not really external in that sense anymore. Either way I think we can skip this entire discussion for now and n

[2021-01-18 15:54] freben commented on #4110
PR is up

[2021-01-18 16:10] ruloweb commented on #4106
@n2ygk all you have to do is to add a `-/` in the URL xD, like this:

`https://gitlab.cc.columbia.edu/cuit-ent-arch/backstage/-/blob/master/templates/docs-template/template.yaml`

This is because of the logic in the `getGitLabFileFetchUrl` function, if the URL contains `-/` it will use the API, otherwise, it will do a simple fetch.

https://github.com/backstage/backstage/blob/master/packages/integ

[2021-01-18 16:18] Rugvip commented on #4099
Yep, think it would be best to add this as a prop! Should add it to the new CatalogIndexPage as well.

[2021-01-18 17:50] #4110 closed

[2021-01-18 19:00] n2ygk commented on #4106
Huh. scoped URLs. Go figure... Didn't even know that was a thing. Aha! I see that our gitlab instance is on an old version (11.11.0) while [newer versions](https://gitlab.com/gitlab-org/gitlab/-/issues/28848) will remove the legacy (no-dash) URLs so that will be a non-issue going forward.

Thanks @ruloweb!

[2021-01-18 19:00] #4106 closed

[2021-01-18 19:31] koolwithk commented on #4129
I have done git clone of master branch(head 4211198c3) and update the URL mention above in `app-config.yaml`  but still the same error **No catalogInfoUrl returned from the scaffolder AND Stage failed with error: Not Found Publish template**

Below are the command that i have run to configure backstage
[code]

I'm running backstage frontend and backend in 2 different terminal

[code]

but now i do

[2021-01-18 20:08] freben commented on #3398
@Rugvip fyi ^

Good call. I must admit this had gone forgotten for a while at the back of my mind. It's also related to some of the thoughts in https://github.com/backstage/backstage/issues/2001.

It works for the common case where the location a user registered is the one with the actual entities in it. For that case you want to both remove the location, and the entities that it spawned. The prob

[2021-01-18 20:40] ruloweb opened #4133 "GitLab integration does not work for the prepare and publish stages."
When you want to publish a component to GitLab from a template hosted in GitLab, it fails on both stages.

In the prepare stage, the template cloning returns 404 Not Found.

If you fix the prepare stage, the publish stage fails at the end because it does not return the `catalogInfoUrl`.

## Expected Behavior

The component should be published in a GitLab repository when the template is hosted in G

[2021-01-18 21:37] Rugvip commented on #3398
@dhenneke @freben I'm thinking we just nuke the entire entity removal endpoint, and if you want to know what the impact of removing a location will be you just query the catalog first. Then we add origin location, in addition to parent location. That way it would be really simple to grab the list of impacted entities, but you can still traverse the tree.

So this would handle the deletion:

[code]

[2021-01-18 22:11] dhenneke commented on #3398
Relations for this sound interesting, but the quick fix with adding an additional relation would be a reasonable workaround for now.

Since the `await deleteLocation(loc)` part is already done in the existing code when removing an entity, it would just be a matter of adding this missing information and getting a quick fix for the dialog running that gets the related entities from the catalog. I'll

[2021-01-18 22:24] dhenneke commented on #3922
Yeah that should work for the simple cases (if they request a string). But I'd imagine this would break for things like [the suggested GitHub App config](https://github.com/backstage/backstage/blob/4211198c3076d337de1789230469d195f9c81345/docs/plugins/github-apps.md#including-in-integrations-config) where I also assume that not everyone has these info already in the build process. Also a (future)

[2021-01-18 22:52] rmanny opened #4135 "Running backstage-backend with readOnlyRootFilesystem=true in kube"
## Expected Behavior

There should be a elegant solution to running backstage backend in an environment with readOnlyRootFilesystem.

## Current Behavior

When deploying the backend docker image in Kubernetes, I keep getting the following error when the startup script first tries to inject the config into `module-backstage.hash.js`:

[code]

My organization has a global PodSecurityPolicy set with

[2021-01-18 22:54] Rugvip commented on #4065
What are you using client-side to initiate the login? All of the included auth clients in `@backstage/core` should be setting the `x-requested-with` header, and this error is an indication of it not being set

[2021-01-19 00:51] kaparwan commented on #4121
Hi @OrkoHunter

Thanks . Kindly find the details as below please.

default branch download file_name: `my-repo-1-master@d373ed91095.zip
`
default branch download file_name:  ` my-repo-1-feature-sandpit@240ea9ab849.zip`

Where,

repo name : `my-repo-1`
default branch: `master`
non-default branch: `feature-sandpit`

[2021-01-19 02:55] adamdmharvey commented on #4110
Fix works like a charm, @freben thanks! Adding annotation, refresh picked it up. Removing annotation, refresh hid the card. Thanks for quick fix!! 🎉

[2021-01-19 03:03] timbonicus commented on #3933
Great suggestion! We're aware of "project" being GCP-specific and filed a similar ticket #2644 with less detail and consideration than you've put in here. 😄  The same terminology complaint is true for GCP's "label" vs "tag" in AWS and Azure, though this is less prevalent in the UI.

I think your point of potential Hybrid Cloud is an important consideration; many companies operate in more than one

[2021-01-19 03:56] adamdmharvey commented on #3933
Ah sorry for the duplication; agree, we're on the same path there then.  I like your approach.  Could keep a `getGroupProjects()` perhaps with a deprecation WARN logger that then just calls the newer `getGroupBillingAccounts()` method.

So we might then be looking at something like the following you think?

[code]

[2021-01-19 04:39] kiranpatel11 opened #4137 "Scaffolder frontend : ability to customize the steps in JsonForm"
As of now scaffolder UI has hardcoded 2 steps. First steps allows to capture all template properties from user.
We can certainly use `object` property type to organize capturing the information in different sections, but wizard using multiple steps to organize the info would be much better UX, instead of scrolling thru long form.

## Feature Suggestion
Allow using customization of scaffolder form

[2021-01-19 05:03] regicsolutions commented on #1519
Thanks! Found this one today, looks interesting: https://github.com/DataDog/build-plugin

[2021-01-19 09:07] petergrau commented on #659
@miixell is it already available for usage / beta testing?

[2021-01-19 09:26] iamEAP opened #4141 "[TechDocs] AWS Publisher Docs Router should stream assets through to client"
## Suggestion

Rather than reading/buffering asset contents into memory and sending them once fully read, we should stream file contents through from AWS S3 to the client.

## Possible Implementation

In the [AWS S3 Publisher](https://github.com/backstage/backstage/blob/371f67e/packages/techdocs-common/src/stages/publish/awsS3.ts#L201), Pipe the readable stream from AWS onto `res`, which is a writ

[2021-01-19 09:38] benjdlambert commented on #4118
OK so I think we have to pass in the `ref` to the clone command. Sounds like a sensible solution.

Do you want to have a stab at contributing this fix @n2ygk?

[2021-01-19 09:41] benjdlambert commented on #4129
Can you try changing the store path to `koowithk/backstage-test` instead of having the `https://github.com` that support is introduced in #3900 which is not yet merged. :)

[2021-01-19 10:10] OrkoHunter opened #4143 "TechDocs: Use p-limit to limit number of concurrent file upload processes"
## Feature Suggestion

In [Google Cloud Storage](https://github.com/backstage/backstage/blob/e1e4d4a88e2d128de0113fc554ac47404ae30c74/packages/techdocs-common/src/stages/publish/googleStorage.ts#L112-L120) publisher and [AWS](https://github.com/backstage/backstage/blob/e1e4d4a88e2d128de0113fc554ac47404ae30c74/packages/techdocs-common/src/stages/publish/awsS3.ts#L151-L153) publisher of TechDocs, we

[2021-01-19 11:07] koolwithk commented on #4129
It's working with `koowithk/backstage-test` now :) Thank you!
I also tried this yesterday but it was not working I think that would be related to my browser cache.

[2021-01-19 11:07] #4129 closed

[2021-01-19 11:43] padraigobrien commented on #3591
I would like to take on this issue if that cool with yall?

[2021-01-19 12:27] andrewthauer commented on #1519
Yeah we ran across that recently as well. Not sure it's applicable directly to observability within backstage, but I think it would be neat if backstage could surface the built profiles for components in the catalog 😀.

[2021-01-19 12:30] Anoyomouse opened #4144 "Spelling mistake: Fullcreen instead of Fullscreen"
I'm trying to set up an instance of Backstage, and when invoking the Job Stage, the button says "OPEN IN FULLCREEN"

## Expected Behavior

The button should rather say FULLSCREEN

## Current Behavior

currently says FULLCREEN

## Possible Solution

https://github.com/backstage/backstage/blob/060fd0a44a3d14fd1f783755dd6753c36d79f74f/plugins/scaffolder/src/components/JobStage/JobStage.tsx#L164

Quic

[2021-01-19 12:35] OrkoHunter commented on #4144
Thanks for reporting!

[2021-01-19 12:48] Fox32 commented on #4078
As there is no feedback yet I guess I should post some 😆 Short summary: It's great, I really looking forward to it.

Some points that are important for me, but that are all covered by the roadmap/architecture:
* Have an out-of-the-box experience with an in memory index. There are a lot of implementations that allow at least a basic search. I already have some positive experience with lunr.
* Simil

[2021-01-19 13:45] #4144 closed

[2021-01-19 14:43] n2ygk commented on #4118
@benjdlambert I've started working on this and will submit a draft PR shortly. I'm "underskilled" in typescript/javascript so bear with me ;-)

[2021-01-19 15:15] #3097 closed

[2021-01-19 15:21] bruno197 commented on #598
Hey guys! Where could I see the plugin's source code to check if I can help?

[2021-01-19 16:09] Rugvip opened #4149 "cli: bump style-loader and mini-css-extract-plugin to latest major versions"
## Expected Behavior

Should be able to bump these two without issues

## Current Behavior

Bumping them results in the following error when building:

[code]

And when including a content hash in the filename to ensure uniqueness, you get this:

[code]

## Possible Solution

Seems like duplicate assets are emitted, possibly one CSS and one JS one, but not sure exactly what's going on.

## Steps t

[2021-01-19 16:37] adamdmharvey opened #4151 "UX Guidelines for an accordion-style error and warning panels"
## 🗒 General

In support of #3781, suggest the use of an accordion-style extension to errors/warning panels where summary info can be shared but an expandable panel can be optionally opened where more details (such as a stack trace) are provided.

There have been discussions before that Backstage has an approach of elevating information under the assumption that more info, and the transparency, he

[2021-01-19 17:17] Fox32 commented on #4149
Looks like the asyncapi-react package is a special snowflake, we already have the workaround for jest in place 🤔

[code]

[2021-01-19 17:37] freben commented on #4151
@katz95 ^!

[2021-01-19 17:42] #3401 closed

[2021-01-19 17:50] Fox32 commented on #4149
Looks like they suggest to use the web component version instead if the module format is a problem. Not sure if that works for us: https://github.com/asyncapi/asyncapi-react/issues/177

[2021-01-19 17:52] Rugvip commented on #4149
@Fox32 it also uses a bunch of node builtins ('http', 'util', etc.) as well, so all up for finding alternatives 😅

[2021-01-19 18:03] Fox32 commented on #4149
We could just use

[code]

But it runs into missing typing and the question is how we can style that component (right now it expects that the `asyncapi.css` is present somewhere and we also have our custom overrides for the styling 🤔 ).

[2021-01-19 18:06] benjdlambert commented on #4118
@n2ygk perfect! No probs at all! Love the contributions!

[2021-01-19 18:16] Rugvip commented on #4149
Btw, I'm not sure this issue happens to be triggered by the `@kyma-project/asyncapi-react/lib/styles/fiori.css` first and removing it would just lead to some other `.css` import to fail, or if it's actually the only one. Will verify that

[2021-01-19 18:34] Rugvip commented on #4149
Yep confirmed that this is a general css issue:

[code]

[2021-01-19 18:57] regicsolutions opened #4153 "Update Repository URL within the catalog-import plugin is incorrect and should be driven by which integration is enabled"
## Expected Behavior

Repository URL should match what is defined in integrations.scm.host

## Current Behavior

Repository URL is defaulted to https://github.com/backstage/backstage for all integrations

## Possible Solution

Suggesting verbiage to be changed as follows (Example of Bitbucket Integration):

![image](https://user-images.githubusercontent.com/6157895/105089089-aff47980-5a6a-11eb-8b7

[2021-01-19 19:00] adamdmharvey commented on #4153
Good call out re: # 1, @regicsolutions.

Considering right around the entry box is wrapped the wording "Repository URL", I wonder if the step should be more descriptive and general to align to step 2 and 3.  Something more like "Identify entity location" or something?

![image](https://user-images.githubusercontent.com/33203301/105080294-9fd69d00-5a5e-11eb-93bf-7d0ebf6d99e4.png)

[2021-01-19 20:27] regicsolutions commented on #4153
I think that makes sense, can you label this one as help wanted please? i updated the image.

[2021-01-19 22:11] #3997 closed

[2021-01-20 00:13] kaparwan commented on #4121
Hi @OrkoHunter

Thank you for your support on this issue .

I have couple of queries , if I may ask please...

q1) do you frame the download `file_name` or rely on the `file_name` generated by bitbucket ?

q2) Do you see unique ID ( commit hash)   prefix an issue and that was primarily the root cause 'preparer' was unable to fetch zipped contents for the 'generator' stage ? and if so are you tryin

[2021-01-20 00:48] rneumaier opened #4156 "DEVEX-858: "Next Page" links in the footer of TechDocs document page doesn't work"
DEVEX-858: "Next Page" links in the footer of TechDocs document page doesn't work

## Expected Behavior

Document navigation links in the footer of each document should redirect the user to the next document defined in the managing mkdocs.yml file.

## Current Behavior

Document footer links fail to navigate with in the current browser window.

## Possible Solution

Depends on the actual root caus

[2021-01-20 07:34] Fox32 commented on #4149
So you mean it's not directly related to the asyncapi-react module? 👍 Then I would refrain from working with the web component for now.

[2021-01-20 07:44] OrkoHunter commented on #3533
URL Reader's docs are here https://backstage.io/docs/features/techdocs/how-to-guides

[2021-01-20 08:21] Fox32 commented on #4149
Just as a reference, maybe for later: https://github.com/backstage/backstage/compare/master...SDA-SE:feat/async-api-web-component

[2021-01-20 09:50] #3398 closed

[2021-01-20 11:01] iamEAP commented on #4078
Thanks @Fox32!  We were thinking of it living on its own refresh loop that could perhaps be configured per plugin or perhaps per document type (e.g. you could configure a tight loop, maybe every 5-10 minutes for entities, but more like hours for docs).  We hadn't considered event-driven index management at all, nor incremental document management.

But I'd love to hear any expectations you have in

[2021-01-20 11:16] Rugvip commented on #4149
Yep!

[2021-01-20 11:33] OrkoHunter commented on #4156
Hey @rneumaier ! What is the version of `@backstage/plugin-techdocs` and `@backstage/plugin-techdocs-backend` you are using?

`0.1.1-alpha.18` looks like a really old version to be honest. :) Please take a look at the `@backstage/create-app` [CHANGELOG](https://github.com/backstage/backstage/blob/master/packages/create-app/CHANGELOG.md) to upgrade your Backstage app and other plugins.

By clicking

[2021-01-20 11:43] koolwithk commented on #3975
Having the same issue while integrating Jenkins CI (I build the backstage yesterday only with head 4211198 )

**Error1 on Overview** : `jenkins: job.get: backstage/golang1/master not found`

![image](https://user-images.githubusercontent.com/22337918/105162718-fdd7b300-5b38-11eb-80ea-e39f1b231274.png)

**Error2 on CICD**: `folder.jobs is not iterable`

![image](https://user-images.githubuserconten

[2021-01-20 11:55] irenefva commented on #631
Hello, is the plugin in progress or is there an intention to create it?

[2021-01-20 12:18] Fox32 commented on #4078
I think there are some reasons not to directly interact with catalog refresh loop as there might be content that is not part of the catalog. Event-driven would be neat: The catalog refresh loop could emit events and techdocs could also emit events once document generation is completed. On the other side, a loop based approach would be useful for techdocs that are published via CI/CD and other cont

[2021-01-20 12:51] timja commented on #3975
The latest run card defaults to master but you can override it.

The plugin has only been tested by me with organisation folder jobs backed by GitHub, it probably needs some tweaks to make it more generic for other use cases

[2021-01-20 13:02] OrkoHunter commented on #4121
q2) q4) Yes, I see that as an issue. Let me get back to you later today. And we will appreciate your help since we don't have a hosted bitbucket instance to verify our bug/fix theories. 😄

[2021-01-20 13:17] Fox32 commented on #3975
Yeah, that is the limitation we should mention in the readme. We are also using organization folders.

[2021-01-20 13:21] Rugvip commented on #4078
Wanna start throwing some ideas around for the data structures and interfaces involved here, or is that a bit early? :grin:

[code]

[2021-01-20 13:49] #4097 closed

[2021-01-20 15:17] Rugvip commented on #3528
I'm actually gonna propose that we go with this:

[code]

It's pretty standard and intuitive behaviour, and env vars is tbh the only secret loader that always makes sense to interpolate.

If we want to add support for stuff like `{file: secret.txt}`, `{env.MY_ENV}` or `{file(secret)}`, this syntax is still compatible with that. Something tells me that won't be needed though :grin:

Another piece o

[2021-01-20 15:20] freben commented on #3528
Sounds like we agree. Yupyup

[2021-01-20 15:26] padraigobrien commented on #3256
I would like to take this ticket on if that is cool with yall?

[2021-01-20 17:11] adamdmharvey opened #4170 "Add Kubernetes plugin install instructions"
## Feature Suggestion

As found out by [`@newbee` on Discord](https://discord.com/channels/687207715902193673/761562031521792020/801467635928924170), the Kubernetes plugin isn't installed into the result of a created sample app (`npx @backstage/create-app`).  In answering, however, I also noticed the Kubernetes README instructions lack install instructions, showing only annotation type settings ne

[2021-01-20 17:25] OrkoHunter commented on #4121
Hey @kaparwan, I need your help in testing #4169 since you seem to have a hosted bitbucket server. Thank you in advance! :)

Switch to the PR branch -
[code]

Now, let us do an adhoc test if the new URL reader is able to read from your bitbucket host. Edit the [packages/src/plugins/techdocs.ts](https://github.com/backstage/backstage/blob/master/packages/backend/src/plugins/techdocs.ts) file like t

[2021-01-20 17:31] OrkoHunter commented on #4170
Examples of (getting started) -

https://backstage.io/docs/features/software-catalog/installation
https://backstage.io/docs/features/software-templates/installation
https://backstage.io/docs/features/techdocs/getting-started

[2021-01-20 17:33] adamdmharvey commented on #4170
An interesting point behind your links there, @OrkoHunter.  TechDocs is a core feature, and now Kubernetes is. So maybe rather than modifying the README.md, what we should have is a new file added in the Kubernetes section, and the README can link back out to that?

![image](https://user-images.githubusercontent.com/33203301/105212629-b8f15380-5b1b-11eb-82ca-65c9d838848a.png)

[2021-01-20 17:36] OrkoHunter commented on #4170
Yes, agreed! The instructions should be added to `backstage.io/docs` (using the `docs/` directory).

READMEs aren't that visible in mono-repos IMO. 😬

[2021-01-20 17:36] kaparwan commented on #4121
Hi @orkoHunter

Thank you for your support.

Sure , I will do the test in next couple of hours.  :-)

Just one point - we have used  npx @backstave/create-app to create monorepo
and we are building /adding plugins and other integrations on top of it.

So  essentially we don’t use git clone route to get backstage. Kindly
advise on it.

Thank you.

On Thu, 21 Jan 2021 at 4:25 am, Himanshu Mishra <no

[2021-01-20 17:40] OrkoHunter commented on #4121
Thank you for responding! :) It's fine. To test the PR with my instructions, I guess you will have to clone the repository. The repository comes with an example app with frontend in `packages/app` and a backend in `packages/backend`. The example app is what we use to develop the plugins and packages used by a newly created Backstage app, which you are using. Hope this is helpful.

[2021-01-20 17:42] kaparwan commented on #4121
Sure :-)
I will test it and update.

On Thu, 21 Jan 2021 at 4:40 am, Himanshu Mishra <notifications@github.com>
wrote:

--
Sent from iPhone

[2021-01-20 18:08] adamdmharvey commented on #2662
@palmerj3 you noted before a possibility of open sourcing this plugin from Spotify.  any further thoughts on this?  even if they are just some of the concepts/high-level implementation/lessons learned from your internal implementation might give the community some ideas to proceed with it.

I think requirements off the top of my head:

* A widget that can be displayed near the about card on a **Gr

[2021-01-20 18:15] zygof commented on #3556
Hello,
I can propose a solution on this ?

[2021-01-20 18:15] Rugvip commented on #4135
@rmanny This is caused by the config injection of the `@backstage/app-backend` plugin. You'd really need to remove that and choose a different way of serving the frontend, such as https://github.com/backstage/backstage/tree/master/contrib/docker/frontend-with-nginx.

That's unless we think it is useful to add an option that disables the config injection, would be happy to review a PR :grin:

[2021-01-20 18:25] adamdmharvey commented on #3556
@zygof yes, absolutely!  Propose away!  Are you willing to work on it, maybe contribute a PR? If so we could assign you as well. Happy to have any contribution. 👏

[2021-01-20 18:46] zygof commented on #3556
@adamdmharvey Thank you for the welcoming 😀! Yes, i will do a PR soon !

[2021-01-20 18:48] #4121 closed

[2021-01-20 19:25] rmanny commented on #4135
Thank you! That was my hunch after looking through the source code, glad to know an nginx container should fix the issue. Might take you up on that PR 😉

[2021-01-20 19:25] #4135 closed

[2021-01-20 19:47] rneumaier commented on #4156
Hello @OrkoHunter ,
Since pulling out the code, we have upgraded to `0.1.1-alpha.23`.  The point of clarifying `0.1.1-alpha.18` was to determine when the code was essentially split (and further developed).
My team has been instructed to contribute back to the open source code base.  However, we are not yet architectually at a point where that would make sense.

We also have not fully introduced th

[2021-01-20 20:21] rneumaier commented on #4156
Currently my focus is to identify the differences in the 2 codebases.
What would be helpful is to understand how the `prev` and `next` links at the bottom of the mkdocs `*.md` files are generated.
Are you able to help with that or point me to some relevant documentation for it?

[2021-01-20 20:23] #3716 closed

[2021-01-20 20:46] OrkoHunter commented on #4156
Hey @rneumaier ! Thank you for the explanation. :)

We have improved TechDocs a lot since the fork you made and are continuing to accelerate with new features and addressing stability concerns. Take a look at all the docs in this space https://backstage.io/docs/features/techdocs

You are always welcome to request features and even develop some of them with us!

Try running `mkdocs build` separatel

[2021-01-21 05:09] adamdmharvey commented on #3310
Going to guess, starring an entity causes a reload of the entire table, and I believe it's this code which defaults it to show only owned entities:

https://github.com/backstage/backstage/blob/e9bcb7b446425276b6545616cff726be12afd0dd/plugins/catalog/src/components/CatalogTable/CatalogTable.tsx#L184-L188

So is there some way that after favoriting, the entire table is not refreshed?

[2021-01-21 07:39] nikhilesh-parupalli opened #4179 "Using custom domain name for gitlab repo"
When using a GitLab instance that does not contain "Gitlab" in its URL, the techdocs fails to fetch the repository.

[Link to the code](https://github.com/backstage/backstage/blob/8226e06cb36b67abde877383cb4b4e30cdf93a30/packages/techdocs-common/src/git-auth.ts#L25)

[2021-01-21 07:50] #4133 closed

[2021-01-21 07:55] OrkoHunter commented on #4179
Hey @nikhilesh-parupalli ! Please update your `backstage.io/techdocs-ref` from `gitlab:<URL>` to `url:<URL>`. That should work with the host if you have defined it under `integrations` config. Some docs on this: https://backstage.io/docs/features/techdocs/how-to-guides#how-to-use-url-reader-in-techdocs-prepare-step

Please re-open the issue if you think the problem still exists!

[2021-01-21 07:55] #4179 closed

[2021-01-21 08:43] petergrau opened #4180 "[Plugin] Bitrise"
## Summary

The plugin should display `builds` from `[bitrise](https://www.bitrise.io)` for the selected component. The idea is to provide easy access to all relevant builds and related information.

## Project website

- [bitrise website](https://www.bitrise.io)
- [bitrise APIs](https://api-docs.bitrise.io)

## Context

The plugin follows kind of the idea of other CI plugins: [CircleCI](https://g

[2021-01-21 10:04] OrkoHunter opened #4181 "Unable to start backend when AZURE_TOKEN is set"
If there is
[code]
in my [app-config.yaml](https://github.com/backstage/backstage/blob/29ced71adc003ae9c37e841ddce6b31f3edd7f9c/app-config.yaml#L127-L130) and if I try to start the backend from `packages/backend` in this mono-repo, the backend seems to be stuck, and the port 7000 is never engaged.

<details>
<summary>Stuck backend logs</summary>

[code]

</details>

But by either not setting `AZUR

[2021-01-21 10:12] mateiidavid commented on #4143
👋 I'll take this on

[2021-01-21 10:16] OrkoHunter commented on #4181
Added some console.log's and found out that it is stuck at this step

https://github.com/backstage/backstage/blob/29ced71adc003ae9c37e841ddce6b31f3edd7f9c/plugins/scaffolder-backend/src/scaffolder/stages/publish/azure.ts#L32

Added in https://github.com/backstage/backstage/pull/3900

[2021-01-21 10:18] OrkoHunter commented on #4143
🚀

[2021-01-21 10:18] OrkoHunter commented on #4181
cc'ing @jhaals @benjdlambert for extra eyes 🙇

[2021-01-21 10:25] OrkoHunter commented on #4181
A relevant issue https://github.com/microsoft/azure-devops-node-api/issues/377

[2021-01-21 10:27] freben commented on #4181
Yeah we're looking into it and are able to reproduce.

[2021-01-21 10:29] OrkoHunter commented on #4181
I found a fix to use the org url with protocol

https://github.com/backstage/backstage/blob/29ced71adc003ae9c37e841ddce6b31f3edd7f9c/plugins/scaffolder-backend/src/scaffolder/stages/publish/azure.ts#L31

[code]

The docs mention to use the org url as well https://github.com/microsoft/azure-devops-node-api#create-a-connection

Damn, a new config then?

[2021-01-21 10:32] freben commented on #4181
Good find, thanks for looking into it so well. We're working on a fix asap to get into the release

[2021-01-21 10:33] OrkoHunter commented on #4181
Thanks! We can reuse this `baseUrl` config again

https://github.com/backstage/backstage/blob/29ced71adc003ae9c37e841ddce6b31f3edd7f9c/app-config.yaml#L239-L243

[2021-01-21 11:03] benjdlambert commented on #4181
Because it's per publish function we need to create the client when publishing as we don't know where you want to publish to. So it's fine, we've just moved some things around in the fixing PR in #4183. :)

[2021-01-21 11:04] OrkoHunter commented on #4181
Sounds good, thanks! :)

[2021-01-21 11:17] #4181 closed

[2021-01-21 12:36] dhenneke opened #4188 "GitHub Actions crashes due to missing config parameters"
Since #4019, the GitHub Actions plugin uses the integrations package to read the GitHub host from the config, but in combination with a configured GitHub App, the plugin breaks and leads to the following error:

![image](https://user-images.githubusercontent.com/720821/105350635-c118c400-5beb-11eb-8cb1-55aba46900c0.png)

This is not surprising since the config reader requires [values](https://gith

[2021-01-21 12:45] freben commented on #4188
Thanks, this list should not be shipped to the frontend at all at this point. Fix PR incoming in a few minutes

[2021-01-21 13:07] #4188 closed

[2021-01-21 13:51] arhill05 opened #4191 "/welcome and /settings return 404"
When I navigate to either the welcome or settings pages when running locally, the 404 page is displayed.

Interestingly enough, I also receive a 404 for /welcome on https://demo.backstage.io/welcome, but not for https://demo.backstage.io/settings.

## Expected Behavior

I should be able to access the welcome and settings pages

## Current Behavior

The welcome and settings pages return a 404

## S

[2021-01-21 13:58] benjdlambert commented on #4191
Hey!

So the `welcome` plugin is not registered in either the demo app or `create-app` versions right now, as we just simply haven't really gotten around to plan for it yet. It used to be registered, but then we defaulted to using the `/catalog` page as the root route for now.

The `/settings` route I think was not added to the `create-app` but should have been added in this most recent release wh

[2021-01-21 14:02] arhill05 commented on #4191
Thank you for the quick reply! If I clone the app instead of using `create-app`, would the /welcome and /settings pages be available?

[2021-01-21 14:10] benjdlambert commented on #659
There's a PR that @adamdmharvey just mentioned https://github.com/backstage/backstage/pull/3729 with some progress.

[2021-01-21 14:29] benjdlambert commented on #4180
Is this something that you want to work on @petergrau? The designs look like a good start, you could also take inspiration from the other CI/CD plugins we have like Circle CI and Github.

[2021-01-21 14:32] benjdlambert commented on #4191
So there's a new `create-app` which has just been released which will have the `/settings` route. But the `/welcome` route is not going to be available as we don't know what that's going to look like right now. I guess you've spotted the `/welcome` route somewhere in docs, can I ask where? We should remove that for now as it's not going to be something we're focusing on yet and is a bit misleading

[2021-01-21 14:37] arhill05 commented on #4191
I found it in the demo as well as my local instance - the banner at the top that shows when you first visit provides a link to `/welcome`, but it navigates to a 404. I didn't see it in the docs anywhere, though.

![image](https://user-images.githubusercontent.com/13209244/105365430-3c6a7d80-5bcc-11eb-95ca-4266615eb2ae.png)

[2021-01-21 14:37] benjdlambert commented on #4137
Hey - yep this is a limitation right now and I understand what you mean about the long forms. We have a similar problem with the one that we provide right now with the https://github.com/spotify/cookiecutter-golang template that we ship as demo data.

We're looking at updating the schema for the scaffolder part of the v2 work in this ticket #3745, and whilst I can't commit to doing this work part

[2021-01-21 14:38] benjdlambert commented on #4099
Hey @tragiclifestories! Is this something you would like to work on?

[2021-01-21 14:38] benjdlambert commented on #3975
Now this PR is merged is this something we can close or do we need something more?

[2021-01-21 14:39] benjdlambert commented on #4065
@regicsolutions can we close this ticket as this is expected behaviour with the header/

[2021-01-21 14:42] benjdlambert commented on #631
Hey! Sorry for the radio silence from our side. It's not something that the core team will be working on, and we don't utilize enough of spinnaker internally at spotify to open source our internal code. Is there someone that would like to work on this ticket?

[2021-01-21 14:45] benjdlambert commented on #598
Hey @bruno197!

So there isn't a plugin for the Azure CI/CD yet, this is what this ticket is about.

However, we do have some examples of CI/CD plugins and examples of how to talk to AzureDevOps in the following locations if you want to have a crack at building a plugin:

Here's some prior art of talking to Azure:
https://github.com/backstage/backstage/blob/master/plugins/scaffolder-backend/src/sc

[2021-01-21 15:00] benjdlambert commented on #4191
Ah ok 🤦  this should be removed. This page basically just listed some basic information about how to get started with backstage, which has all moved really to https://backstage.io/docs. I've just created a PR to remove this welcome banner for now until we get round to making this welcome plugin more specific to end user needs. https://github.com/backstage/backstage/pull/4193

[2021-01-21 15:01] pasquotto commented on #4121
Hi @OrkoHunter,
I wasn't able to checkout your branch, but I added reader.readTree to the techdocs.ts file and run the server to collect output, I hope you find this useful:

- Using: https://<mybitbuckethost.com>/users/<myusername>/repos/rm-backstage
- Output:
Backend failed to start up Error: Failed to retrieve default branch from https://<mybitbuckethost.com>/rest/api/1.0/projects/users/<myuser

[2021-01-21 15:15] arhill05 commented on #4191
Awesome. Thanks again for the quick response and fixing it so quickly!

[2021-01-21 15:59] regicsolutions opened #4197 "SonarQube Plugin Update Issue - Failed to load resource | 400 Bad Request"
The latest update broke integration with SonarQube:

http://localhost:7000/api/proxy/sonarqube/measures/search?projectKeys=backstage&metricKeys=alert_status,bugs,reliability_rating,vulnerabilities,security_rating,security_hotspots_reviewed,security_review_rating,code_smells,sqale_rating,coverage,duplicated_lines_density:1

{"errors":[{"msg":"The following metrics are not found: security_hotspots_r

[2021-01-21 16:07] pasquotto commented on #4121
Hi @OrkoHunter ,
it shouldn't be // maybe a problem when I copied pasted my findings, it should be https://<mybitbuckethost.com>/users/MY_USERNAME/repos/rm-backstage

[2021-01-21 16:15] adamdmharvey commented on #4197
@regicsolutions The referenced PR above notes:

Know the version you're using?  Onprem or cloud?

[2021-01-21 16:18] Fox32 commented on #3975
I think we should take this as a feature request to add broader support for Jenkins integration cases - Jenkins freestyle projects seems to be common.

[2021-01-21 16:21] dhenneke commented on #4197
Yes that was kind of expected... Sadly the SonarQube API wasn't designed with complete up/downward compatibility in mind. Would be best to make this new feature an opt-in or opt-out.

[2021-01-21 16:23] facos86 opened #4198 "CheckboxTree doesn't seem exported, therefore is not usable in plugins"
CheckboxTree doesn't seem exported, therefore is not usable in plugins
https://github.com/backstage/backstage/blob/master/packages/core/src/components/index.ts

[2021-01-21 16:24] tylermarien opened #4199 "Allow custom error messages from LocationAnalyzer"
If you are attempting to Register an existing component and the `/api/catalog/analyze-location` endpoint fails, then it returns the status code and text as the error message (https://github.com/backstage/backstage/blob/master/plugins/catalog-import/src/api/CatalogImportClient.ts#L57). This error message is very generic and doesn't provide the user with actionable feedback. It would be nice to be a

[2021-01-21 16:27] dhenneke commented on #4197
Or even better. There is an endpoint where one can search which metrics are available, so we could exclude the ones that are not supported: https://sonarcloud.io/web_api/api/metrics/search

[2021-01-21 16:55] OrkoHunter opened #4201 "npx @backstage/create-app not working after recent release"
## Expected Behavior

`npx @backstage/create-app` should work and scaffold a new Backstage app.

## Current Behavior

It throws an error

[code]

## Possible Solution

Is it because of the first release of `@backstage/create-app` with 1.x.x version?

For users: You can try out an older version of create-app script `npx @backstage/create-app@0.3.5`.

## Steps to Reproduce

Run `npx @backstage/creat

[2021-01-21 16:56] dhenneke commented on #4197
Should be fixed with https://github.com/backstage/backstage/pull/4200

[2021-01-21 17:07] OrkoHunter commented on #4201
Looking at the latest release of the package, only `@backstage/cli-common` was bundled. Hence the package missing error. 🤔

![Screenshot 2021-01-21 at 18 07 02](https://user-images.githubusercontent.com/8065913/105385307-8034a580-5c13-11eb-9a61-081c146b7395.png)

[2021-01-21 17:46] willashford commented on #4201
Thought I was going insane

[2021-01-21 18:30] n2ygk commented on #3679
Ugh I found this (in a related place, with a git pre-commit hook using lint-staged):   `lint-staged` calls `listr2` which calls `execa` and includes the project parent directory's node_modules/.bin in the search path!

[code]

This directory was created in 2018 and has an old version of node.  Removing it resolves this.

Why would execa include parent directories in the search path? I guess this i

[2021-01-21 18:30] #3679 closed

[2021-01-21 19:04] thomvaill opened #4204 "[Plugin] Log4brains / ADRs (Architecture Decision Records)"
[DISCUSSION]

## Summary

Provide a TechDocs-like plugin to manage and browse ADRs (Architecture Decision Records) for a component.

## Project website

Log4brains: https://github.com/thomvaill/log4brains

## Context

Working with ADRs is a great and quick way to:

- Understand past technical decisions and their context
- Take new decisions with confidence
- Always have an up-to-date technical doc

[2021-01-21 19:05] #4201 closed

[2021-01-21 19:41] OrkoHunter commented on #4119
Hey @mateiidavid, I like option 2 over 1. All the publishers can use a single helper function which maps the snake_cake `techdocs_metadata.json` values to camelCase TechDocsMetadata instance.

[2021-01-21 20:09] #4191 closed

[2021-01-21 21:25] AlleyWei opened #4205 "Microsite: Screen width issue"
## Expected Behavior
Left hand margins should appear as follows:

![width 1920](https://user-images.githubusercontent.com/64219471/105414139-16ad9a80-5c05-11eb-913e-033643ced5c9.png)

## Current Behavior
Currently, the width of the site appears too far to the left (according to @OrkoHunter, the margin in the left almost disappears on a 1440px width screen). This is how it currently appears:

![wid

[2021-01-21 21:47] ppejovic commented on #598
Just a suggestion but the issue title is a bit misleading. It seems what is being focused on here is the CI/CD so this would be better "branded" as an Azure Pipelines plugin. There could conceivably be separate plugins for other Azure DevOps features areas; Azure Boards, etc.

[2021-01-21 23:38] regicsolutions opened #4207 "Update Scaffolder front-end content to be integration specific"
Front-end Software Template content is specific to Github and should be specific to whatever integration is in place. This is a proposal to make it specific to the origin of the template location and stripping out anything after two slashes and adding `new-repo`

### Example

**When location is set to:** `https://github.com/backstage/backstage/blob/9d2e270631462ad01adc931d981ef5dffcced5b9/plugins/

[2021-01-21 23:45] regicsolutions opened #4208 "Bitbucket Server Integration requires appPassword and Token"
After the last scaffolder update, Bitbucket Server requires both a token and an appPassword to work properly.

[code]

Only the token should be required and the appPassword should be removed.

## Possible Solution

## Steps to Reproduce

1. Step 1
2. Step 2
3. ...

## Context

## Your Environment

- NodeJS Version (v12):
- Operating System and Version (e.g. Ubuntu 14.04):
- Browser Information:

[2021-01-22 00:17] regicsolutions opened #4209 "Add Same Filtering pane in Software Catalog to Software Templates"
It would be nice to add the same filter pane that is currently present in the software catalog to the Software Templates page along with the following changes:

1. Update 'Available Templates' header to 'Catalog'
2.  Add Search near catalog
3. Change TAGS header to Category

## Possible Implementation

![image](https://user-images.githubusercontent.com/6157895/105428368-449ed900-5c1d-11eb-9289-7ff

[2021-01-22 00:22] regicsolutions commented on #4197
SonarQube on-prem

[2021-01-22 01:12] regicsolutions commented on #3975
Agreed, I would say Freestyle and Pipeline are the two most common.

[2021-01-22 02:55] adamdmharvey commented on #4078
Search extension: integrations.

It would be nice if, depending on the registered integrations, perhaps search collected from them as well.  For example, if I have a GitHub Enterprise integration, if in the search box I type "python Time", it would be great if maybe:
* Low hanging fruit: There was a link on the resulting page to fire that same search into my relevant SCM provider. (Github, GitLab,

[2021-01-22 03:05] adamdmharvey commented on #4078
PS: regarding the roadmap. Notice on the main Backstage roadmap, there's an empty search element without a linkage. This is different than the actual full search roadmap in the search section. So may want to line the two up somehow is all?
https://backstage.io/docs/overview/roadmap#ongoing-work-

![image](https://user-images.githubusercontent.com/33203301/105440591-d534e380-5c34-11eb-9963-c83a4398

[2021-01-22 04:12] adamdmharvey commented on #4198
There are four (4) from that package that aren't exported. I won't claim to know why they were individually specified, and not `*`, but just throwing this in for awareness.  One of the core maintainers may have better context or know!

![image](https://user-images.githubusercontent.com/33203301/105445502-1da4cf00-5c3e-11eb-99a4-37818af394ee.png)

[2021-01-22 05:31] adamdmharvey opened #4211 "org: Visual alignment of data on User Profile Card"
Trivial visual bug of aligning text on the User Profile Card in the `org` plugin.

## Expected Behavior

The displayed data for a user lines up in a table-like fashion.

## Current Behavior

The user's e-mail address and the list of their group memberships aren't fully aligned, likely because the e-mail and group icons are slightly different widths.

![image](https://user-images.githubusercontent.

[2021-01-22 07:44] petergrau commented on #4180
@benjaminr we are currently investigating the effort needed and if feasible we are planning to work on it.

[2021-01-22 08:24] freben commented on #4198
We had a little library of things from the internal legacy Backstage that we ported over early on, to bootstrap the plugin developer experience. To be transparent, we still have on our to-do list to fully and carefully go through the offering here, and possibly extend or even prune it. As such, they are in a slightly varied state of well-being.

While it would be easy to just export the checkbox t

[2021-01-22 08:25] freben commented on #4198
Maybe what we need is a `@backstage/core-components-lab` that has always-alpha no-promises-made components in it that gradually can be graduated into core as they mature, à la material-ui lab.

[2021-01-22 08:25] Fox32 commented on #4198
I'm not sure about the CheckboxTree in particular: That code could need a rework. I startet that (together with Select) some time ago, but never finished it.

[2021-01-22 08:33] benjdlambert commented on #4207
It could be good to parse the URL that you have typed in a maybe suggest hints.

For the record, the end result for this page is to have a dropdown select for your project in whatever provider and then you type in the repo name. The dropdown will show you the different places where you're able as a signed in user to Backstage create repositories too.

[2021-01-22 08:33] freben commented on #4198
Oh sorry, I thought that was from internal. Yeah this isn't meant as a judgment on quality either way, but rather stating that I am concerned that we haven't yet had the time to go over the component library.

[2021-01-22 08:57] benjdlambert commented on #4209
@katz95 there's also this for you to have a look at :)

[2021-01-22 09:32] freben commented on #4211
Or refactor as a single [List](https://material-ui.com/components/lists/) perhaps.

[2021-01-22 09:54] tragiclifestories commented on #4099
I'll give it a go if I get a couple of hours.

[2021-01-22 10:18] benjdlambert opened #4215 "Parse GitURL as assumed provider"
Right now, we are unable to parse URL's consistently as they are parsed based on the hostname which for on prem services wont follow the same standard in hostname.

We know what provider the URL comes from, so we should be able to force a particular type, and fallback to the current `gitUrlParse` implementation.

## Feature Suggestion
- Either raise a PR to gitUrlParse to say, parse this as this t

[2021-01-22 10:36] OrkoHunter commented on #4215
There are so many inconsistencies in `git-url-parse`, but it explodes with Bitbucket URLs (especially when `?ref=branchname` is added to the URL suffixes.)

[2021-01-22 11:32] willashford opened #4216 "Lack of warning for spaces in component names"
When creating a new component, (e.g. "sample docs"), there are no warnings relating to the presence of a space in the name. When trying to register this in the catalog, there was a unclear "something went wrong" style message.

When trying to manually register the component afterwards, the following error was raised:
<img width="713" alt="image" src="https://user-images.githubusercontent.com/42339

[2021-01-22 11:39] benjdlambert commented on #4216
Thanks for the report - yep you're right , we should have some better validation around this!

[2021-01-22 11:43] benjdlambert commented on #3975
Agreed - should there be other tickets out the back of this and close this existing issue or how would you prefer?

[2021-01-22 11:44] benjdlambert commented on #598
@ppejovic yep - that sounds about right. I'm not too familiar with the Azure offering, but what you're saying about mutliple plugins for different feature sets sounds correct.

[2021-01-22 14:12] benjdlambert opened #4219 "Enable @typescript-eslint/no-shadow and @typescript-eslint/no-redeclare for the project"
## Feature Suggestion
Now after #4210 is merged, we should enabled the two following rules in our `cli/config/eslint*.js` files.

[code]

And then update the project to work with these new rules :)

[2021-01-22 15:29] #4046 closed

[2021-01-22 15:45] ayshiff commented on #4215
I'll be happy to help on this 👍

[2021-01-22 17:00] GoWind commented on #4089
[code]

Some questions here:

Unless it is `Backstage` that generates the ID tokens, Wouldn't this be impossible ?  IIRC, it is up to the auth provider wrapper/implementation to either use `id` tokens generated by auth provider, or use `backstage` to generate the `id` token itself.

The moment we add in our own claims to an `id` token not generated by us, it no longer becomes an token generated by

[2021-01-22 17:04] adamdmharvey commented on #683
This plugin is live and has been for some time:

https://roadie.io/backstage/plugins/argo-cd/

I don't know if it aligns or matches the ask in this initial issue, but thinking this can be closed now? Any iterations could be additional stories/contribs to Roadie's plugin?

Thoughts?

![image](https://user-images.githubusercontent.com/33203301/105521438-e3711700-5ca9-11eb-8806-5a5cb0264511.png)

[2021-01-22 18:17] nirga opened #4221 "Usage statistics of the platform"
## Feature Suggestion

This might be somehow related to #1519 but not exactly. I want to suggest adding a layer of the allow admins to see usage statistics of the platform. This can be super basic like showing what features teams are using, how often do people go into the platform, slice it by team or project, etc.

## Possible Implementation

## Context

I think this can be really useful when tea

[2021-01-22 18:30] freben commented on #4089
Hey, thanks for your input! Not at my computer now so I'll be brief, but let me clarify that yeah indeed, I am referring specifically to the Backstage self issued tokens - this is a facility that already exists and happens on sign-in. Their intended use is only within the instance that issued them, and for this kind of express purpose. So I believe it makes sense to establish these claims up front

[2021-01-22 19:52] ShadOoW opened #4222 "Absolute Import with baseUrl and path in tsconfig"
Hello,

Does backstage support Absolute Imports?

I've tried setting it up in the root dir tsconfig file without success.

In my plugin I want to change this
[code]

To this
[code]

[2021-01-22 20:31] rneumaier commented on #4156
Is there a reason why the mkdocs and mkdocs-material versions are pinned in the following?
https://github.com/backstage/backstage/blob/master/plugins/techdocs/src/test-utils/fixtures/mkdocs-index.ts#L29

[2021-01-22 21:00] Rugvip commented on #4222
We do not. Too much hassle supporting it throughout all build systems and not enough benefit. Gotta support it in webpack, rollup, type declarations, storybook, jest, eslint, and prolly more ._.

See #729

[2021-01-22 21:32] ShadOoW commented on #4222
@Rugvip Thanks for the quick clarification, and explanation.

I will close this issue, hopefully one day we will have this feature.

[2021-01-22 21:32] #4222 closed

[2021-01-23 00:14] K-Phoen commented on #4064
Solved in #4080

[2021-01-23 00:14] #4064 closed

[2021-01-23 08:04] regicsolutions commented on #4209
@katz95 i got the idea from the [kubeapps](https://kubeapps.com/) project incase you wanted to take a quick peek. The app is categorized by "Applications" and "Catalog" where backstage is "Catalog" and "Templates"  at the end of the day, in my opinion, it's really one Software Catalog for new and existing software components.

[2021-01-23 08:20] regicsolutions commented on #3975
I'm cool with closing this one, I'll open a new enhancement request to see if this plugin can be re-worked to fully support the Jenkins SCM API for any GIT based SCM

[2021-01-23 08:47] freben commented on #3975
Nice. Sounds good, keep 'em coming!

[2021-01-23 08:47] #3975 closed

[2021-01-23 17:24] adamdmharvey opened #4226 "kubernetes: Wrapping of pod name in pod table"
## Expected Behavior

The pod table should dynamically resize to allow for larger pod names.

![image](https://user-images.githubusercontent.com/33203301/105609163-69a65f80-5d75-11eb-9f80-ceacb2b01e31.png)

## Current Behavior

A moderately long pod name wraps, even when the other table columns (should) have plenty of room to move around.

In this screen shot, I'm at full width:

![image](https://

[2021-01-23 20:43] emmaindal commented on #4078
Fantastic idea @adamdmharvey, could even be used for any Q&A tool you have been setting up within your organization and potentially later even integrated to backstage. For example Stack Overflow. To get from stuck to unstuck faster!

[2021-01-23 23:03] regicsolutions commented on #4207
Understand, any timeframe on when the dropdown functionality will be available?

[2021-01-24 08:47] erikxiv opened #4229 "Support relative techdocs paths in config"
## Feature Suggestion

Allow the following configuration option in `app-config.yaml`, and make it default as it is unlikely to need change by adopters:

[code]

## Possible Implementation

Not sure how it is used today, but my guess would be to go with either of:
* Use relative paths through the documentation site
* Detect absolute paths using another mechanism

## Context

I aim to deploy backsta

[2021-01-24 08:48] erikxiv commented on #4229
Hmm, I guess this is a duplicate of #3715, closing it.

[2021-01-24 08:48] #4229 closed

[2021-01-24 13:50] OrkoHunter opened #4230 "bug: URL Reader's readTree is not working with github.com targets (affects TechDocs)"
In #4169, URL Reader's readTree started using the archive API's response header to get the name of the file being downloaded.

https://github.com/backstage/backstage/blob/c3ea694e8400a35e2dfe4cf577c0fa66c66a8570/packages/backend-common/src/reading/GithubUrlReader.ts#L169-L193

This approach works fine for GHE, GitLab, etc. but for github.com the name of the tarball can be different from the name o

[2021-01-24 16:46] OrkoHunter commented on #4215
Just mentioning it here that @n2ygk has already raised a PR to improve the library for Azure DevOps. https://github.com/IonicaBizau/git-url-parse/pull/124

If we can aggregate all the issues we are facing, I'm hopeful we can improve the upstream. 💯

[2021-01-24 17:31] katz95 commented on #4151
Awesome idea - let me consult with my team and we'll get back to you early this week!

[2021-01-24 18:50] kaparwan opened #4233 "[Techdocs] Bitbucket own hosted - commitsApiUrl , fileNameRegEx and other issues"
## Expected Behavior

Techdocs  should get prepared, generated and published in local mode.  Preparer stage should fetch the techdocs into ${inputDir}

## Current Behavior

Failed to generate docs from ${inputDir} into ${outputDir} with error ${error.message} - **with error undefined at TechdocsGenerator.run**

## Possible Solution

1)

change  https://github.com/backstage/backstage/blob/master/pa

[2021-01-24 19:02] OrkoHunter commented on #4233
The filenameRegex issue should be resolved by https://github.com/backstage/backstage/pull/4231 which removes the dependency on the predictability of the file name for all the providers.

The default branch API URL for Bitbucket server is being updated here https://github.com/backstage/backstage/pull/4206

Thanks for opening the issue @kaparwan ! There could be more issues with TechDocs/URL Reader

[2021-01-24 19:28] kaparwan commented on #4233
thank you @OrkoHunter for your support on this.

I have a quick query please , where do I set custom DEBUG  to know the exact ( error) on   `....with error undefined at TechdocsGenerator.run ` ?
Ideally below should catch the exact error ?
https://github.com/backstage/backstage/blob/master/packages/techdocs-common/src/stages/generate/techdocs.ts#L112

Could you please throw few pointers here ?

[2021-01-24 19:33] OrkoHunter commented on #4233
My recommendation on debugging is to test if the `prepare` step works. Generate step is bound to fail if there are no files available to generate upon. What I do is described [here](https://github.com/backstage/backstage/issues/4121#issuecomment-763807679), Try to do a `console.log(response.dir())` where `response = await reader.readTree(URL)` and I look into the content of the path printed, to se

[2021-01-24 19:35] benjdlambert commented on #4215
I wonder if it make sense to contribute a feature then to the upstream that we can pass in a parse method too for on prem hostnames too then? There's a hacky workaround that we could force the URL hostname to the one that we know it could be, but i'd rather us try to standardize passing in the type instead.

[2021-01-24 19:37] benjdlambert commented on #4207
I think it will be on our list probably end of Q1 maybe, most probably will come with the change to the schema as that is when the frontend will be worked on I think.

[2021-01-24 19:53] kaparwan commented on #4233
So with -
+ const bitbucket = await reader.readTree(
+    'https://<mybitbuckethost.com>/projects/PRJ/repos/my-repo-1/',

I got

[code]

But when I changed to  ( and using below - I am able to  fetch commitHash  , contenDispo .. as baove )
[code]

[code]

So here no files . yes

[2021-01-24 20:12] OrkoHunter commented on #4233
For the default branch error, can you switch to the branch in https://github.com/backstage/backstage/pull/4206 and see if that fixes it? 🤞

[2021-01-24 23:37] GoWind commented on #4089
[this](https://github.com/backstage/backstage/blob/master/plugins/auth-backend/src/providers/onelogin/provider.ts) seems to be the  only provider at the moment generating and issuing an `id` token from Backtage itself.

My primary concern is over the word `claim` and needing a new interface for it.

A. Auth provider issues an `idToken`. This idtoken will contain a set of verifiable claims.
B. We u

[2021-01-25 01:43] adamdmharvey opened #4234 "microsite feat: Add category/tag filter to plugin marketplace"
## Feature Suggestion

The plugin marketplace is growing, with 28 plugins available now and more on their way.

It would be great to have a quick filter of some type along the top of the marketplace page to be able to say, pick monitoring plugins, or security plugins, even as a way to slightly reduce the number as the list continues to grow.

![image](https://user-images.githubusercontent.com/3320

[2021-01-25 04:05] kaparwan commented on #4233
Fixed other issues all the way ... till

https://github.com/backstage/backstage/blob/master/packages/backend-common/src/reading/BitbucketUrlReader.ts#L146

 this.treeResponseFactory.fromZipArchive is not making to the logs .

[code]

????????? Need to  DEBUG >>>   this.treeResponseFactory.fromZipArchive  HERE ??????

### Below logs are generator onwards... so that is an effect as we know... cause

[2021-01-25 06:47] OrkoHunter opened #4237 "Docs: Improve TechDocs example documentation component"
## Feature Suggestion

Backstage mono-repo comes with an example component for TechDocs. It is located here
https://github.com/backstage/backstage/tree/master/plugins/techdocs-backend/examples/documented-component
and is loaded into the app from here https://github.com/backstage/backstage/blob/c3ea694e8400a35e2dfe4cf577c0fa66c66a8570/app-config.yaml#L207-L209

This component should be an exhaustiv

[2021-01-25 07:27] OrkoHunter opened #8110 "[TechDocs CLI] Known limitation: No mkdocs.yml or missing nav will fail the serve command"
`mkdocs serve` command's live reload does not work if `mkdocs.yml` does not have a [`Nav`](https://www.mkdocs.org/user-guide/configuration/#nav). Hence, techdocs-cli will also fail.

Document this somewhere here and maybe even lint `mkdocs.yml` as part of the serve command in the CLI and throw warning/error if `Nav` is missing.

[2021-01-25 07:34] kaparwan commented on #4233
Now

https://github.com/backstage/backstage/blob/master/packages/backend-common/src/reading/tree/ZipArchiveResponse.ts#L141

        if (entry.type === 'File' && `this.shouldBeIncluded(entry)`) {

I think here on the 1st part we are writing only 'File' stream  type and skipping directory .

on 2nd part `this.shouldBeIncluded(entry)`  - this Boolean check is coming as FALSE.

So if I omit 2nd check

[2021-01-25 08:58] freben commented on #4089
It's the other way around - unless you explicitly issue a token from elsewhere, [this](https://github.com/backstage/backstage/blob/master/plugins/auth-backend/src/lib/oauth/OAuthAdapter.ts#L217) is where we make sure to always issue one of our own for any provider.

As for the wording, as I mentioned, I agree - that should be something else in the code in the end.

I think you have this a bit reve

[2021-01-25 09:59] michelv opened #4238 "wrong link to CatalogProcessor on the External Integrations page"
In the section that explains [how to create a custom catalog data reader processor](https://backstage.io/docs/features/software-catalog/external-integrations#creating-a-catalog-data-reader-processor), the link to the class CatalogProcessor on GitHub leads to the wrong types.ts file.

## Expected Behavior

The link goes to a types.ts file that defines the class CatalogProcessor.
That file is availa

[2021-01-25 10:13] OrkoHunter opened #4240 "FOSSA workflow in Pull Requests is flaky"
Looking at the [history of FOSSA workflow runs](https://github.com/backstage/backstage/actions?query=workflow%3AFOSSA), they sometimes fail due to server error.

[Example](https://github.com/backstage/backstage/runs/1760655356?check_suite_focus=true)
[code]

# Possible Solution

1. Few delayed retries when upload fails due to errors.

Previous discussion
https://github.com/backstage/backstage/pull

[2021-01-25 11:03] #4238 closed

[2021-01-25 11:11] #3528 closed

[2021-01-25 11:11] #3922 closed

[2021-01-25 11:32] freben opened #4241 "[catalog] Make the catalog descriptor parser replaceable"
## Feature Suggestion

The [UrlReaderProcessor] currently has a hard coded call to `parseEntityYaml` in order to parse the raw data that came out of the `UrlReader`. If you are in a position that you want to make use of a custom descriptor format, you are left with two choices: Either replace the `UrlReaderProcessor`, or invent your own location `type`. Both are fairly inconvenient for different r

[2021-01-25 12:02] #4143 closed

[2021-01-25 12:09] GoWind commented on #4089
Yes, this should be optional.

My suggestion to implement this would be as follows (I can take a shot at this if you are interested):

There is already a function that does [this](https://github.com/backstage/backstage/blob/master/plugins/auth-backend/src/lib/passport/PassportStrategyHelper.ts#L29) (`makeProfileInfo`). This `makeProfileInfo` is currently implicitly used by the providers such as [h

[2021-01-25 12:33] benjdlambert opened #4242 "Windows unit tests failing on include transformer"
[code]

## Expected Behavior

- Tests should pass

## Current Behavior

- Tests do not pass

## Possible Solution
 - Fix tests

[2021-01-25 13:00] OrkoHunter commented on #4233
Yes, that is correct.
[code]

Hey! Are you on this branch https://github.com/backstage/backstage/pull/4231 ? Because the link you shared is from the master branch, which has a wrong `fileNameRegex` issue.

---

Note that you don't have to use your Backstage instance for generating the docs. Switch `techdocs.builder` to `external` in your app-config.yaml, use an external storage and generate docs o

[2021-01-25 14:05] benjdlambert commented on #4234
@katz95 @AlleyWei thoughts?

[2021-01-25 14:11] AlleyWei commented on #4234
@benjdlambert @adamdmharvey I think this is a great idea, particularly since we have labels for each plugin anyway. Will loop back with design/copy and share suggestions. Thank you!

[2021-01-25 14:24] #683 closed

[2021-01-25 14:57] benjdlambert commented on #4221
Hey, so we have Google Analytics support built in which will give you page views. You can enable that by adding the tracking data to this config, https://github.com/backstage/backstage/blob/e9bcb7b446425276b6545616cff726be12afd0dd/app-config.yaml#L4

We don't have an event's API wrapped around it to do something a little more granular. It's not something the core team will be focusing on soonish,

[2021-01-25 17:35] ruloweb opened #4248 "Schema and Kind validation do not work for POST /api/catalog/entities"
When you create an entity with `POST /api/catalog/entities` schema and kind validations do not run.

## Expected Behavior

All entity validations should occur when the entity is created/updated.

## Current Behavior

Entity validations occur only when an entity is created from a Location.

## Possible Solution

Move entity validations from Location ingestion into the entity creation/update process

[2021-01-25 18:43] DeaconDesperado commented on #4078
Big 👍 to the proposed architecture and roadmap 😄

A few observations it might help for us to have recorded ideas on.  For context, my perspective from this comes mostly from integrating datasets in cold-storage into search in the internal Spotify backstage deployment.

My understanding is that there is [an emerging opinion that the catalog contains non-ephemeral artifacts](https://github.com/backs

[2021-01-25 18:48] freben commented on #4248
The location based flows are actually the only ones we have primary support for. You've hit a bit of a dark corner. But if I may ask, I'd like to understand what your needs are, and why you want to do things specifically this way. Maybe we can help.

[2021-01-25 19:16] freben commented on #4078
Oh hey @DeaconDesperado, good to see you!

Well in the open source catalog, [they](https://backstage.io/docs/features/software-catalog/descriptor-format#kind-group) actually [do](https://backstage.io/docs/features/software-catalog/descriptor-format#kind-user). :) Optionally.

This has been on my mind as well. I think it would be hard to co-arrange results for both catalog entities, free text in do

[2021-01-25 19:18] Aiwwa commented on #4237
Hi, i can help with this improvement :)

[2021-01-25 19:25] ruloweb commented on #4248
I've created a new entity kind and I would like the user to create entities using the UI, which will call the entity REST API.

[2021-01-25 19:29] OrkoHunter commented on #4237
Assigned it to you! Ask here or drop by on Discord's #docs-like-code channel if you need any help.

[2021-01-25 19:33] OrkoHunter commented on #4156
Hello, I will close this issue since it happened due to using a custom version of techdocs/mkdocs/mkdocs-material.

[2021-01-25 19:33] #4156 closed

[2021-01-25 19:46] #4242 closed

[2021-01-25 19:59] DeaconDesperado commented on #4078
Nice!  I expect I'll have a lot of these moments where my understanding is based on the internal deployment in places we have yet to catch up 😄. Nice to see that's a catalog member now.  It does change some of my understanding as to what we'd rely on the catalog for and what we'd gather into backstage via alternate means (as alluded to in the linked comment from @mbruggmann) though.

Yeah, I think

[2021-01-25 20:22] kaparwan commented on #4233
Thank you @OrkoHunter .

I will pickup the changes from #4231.  I see most of the issue I was facing are related here :-)

Yes .

This is interesting. thanks for sharing it.

[2021-01-25 20:27] OrkoHunter commented on #4233
I am 99% sure that by merging https://github.com/backstage/backstage/pull/4231 and https://github.com/backstage/backstage/pull/4206, the problem with Bitbucket server will be solved; since I tested it today by running a Bitbucket server using [Docker locally](https://hub.docker.com/r/atlassian/bitbucket-server/).

That 1% I'll leave as respect for the Internet overlords.

[2021-01-25 20:35] kaparwan commented on #4233
That's cool. Thank you.

I think that should fix , yes. The  issues  faced here should have been exhibited  by bitbucket docker local  as by server installation.

[2021-01-25 21:41] adamdmharvey commented on #4240
There's something wrong with the FOSSA generation.  It creates the `.fossa.yml` file dyamically in the action. And you can see the output, but it generates 59 entries to scan. I looked at a few other open source repos, and they don't have nearly that many.

You can see in the action, but also try a fossa-cli init locally, our YAML ends up with lots of dupes like this:

[code]

So I wonder if the g

[2021-01-25 21:47] freben commented on #4240
Yeah I saw those duplicates in the build log too. 502 is usually that the underlying service is overloaded or down though 🤔

[2021-01-26 01:08] adamdmharvey commented on #4240
Yah.  I just wondered whether or not maybe FOSSA does rate limiting by source IP or something, and maybe occasionally we hit it, say if we have 3 open PRs in 10 minutes and that generates 60 x 3 = 180 calls, or something?  Who knows, just a random hypothesis. throwing darts 😉 🎯

threw in the referenced PR $#253 as a possible approach and welcome counter opinions on it!

[2021-01-26 04:18] adamdmharvey commented on #290
Just to line up, @dtuite I think Roadie is working at least somewhat towards this with https://github.com/RoadieHQ/backstage-plugin-aws-auth ?

[2021-01-26 04:20] adamdmharvey commented on #278
I believe the root of this issue has been resolved, and is described here:
https://backstage.io/docs/conf/defining

Plugins can define a config schema, validate against it, and allow users to configure settings via the app-config.yaml.

Would others agree?  Possibly good to close.

[2021-01-26 04:23] adamdmharvey commented on #167
Some of this now exists in the https://backstage.io/docs/plugins/ .

But I think specifically closure of this issue involves authoring the page here:

https://backstage.io/docs/plugins/publish-private

![image](https://user-images.githubusercontent.com/33203301/105800214-3675f300-5f64-11eb-968c-8bd475d9a727.png)

Still open for contributors, esp those who may be doing this already.

[2021-01-26 04:27] adamdmharvey commented on #597
Additional work in terms of Backstage CLI commands `versions:check` and `versions:bump` were implemented as well, and are documented here:

https://backstage.io/docs/FAQ#how-do-i-keep-my-backstage-app-up-to-date
https://backstage.io/docs/cli/commands#versionsbump

In addition, the CHANGELOGs published for apps using `yarn changeset`, any upgrade needs are documented and consolidated.

I have a fee

[2021-01-26 04:28] adamdmharvey commented on #697
Think this might be able to be closed, @OrkoHunter ?

https://demo.backstage.io now exists, and is and can continue to be upgraded.

[2021-01-26 04:32] adamdmharvey commented on #1063
Thinking this one was completed and included into the Plugin Marketplace with https://github.com/backstage/backstage/pull/2515 ?

![image](https://user-images.githubusercontent.com/33203301/105800753-77bad280-5f65-11eb-992c-d783a3073640.png)

Suggest this could be closed?

[2021-01-26 04:47] adamdmharvey commented on #3065
Note to add on to @jvaleriano 's feedback, while there is no service `Kind` service, note for the `Kind:component` one of the meta data attributes is `service`:
https://backstage.io/docs/features/software-catalog/descriptor-format#spectype-required
(where it's service, library, website, etc.)

[2021-01-26 04:49] adamdmharvey commented on #3065
Some industry reference to help align:

https://www.gartner.com/en/information-technology/glossary/service-catalog

https://tylerjewell.substack.com/p/2021-developer-trends

Note Backstage is specifically called out in "Group 3" in Tyler's blog post.  FYI @stefanalund if you hadn't seen that yet.

But given your previous feedback, Stefan, would you agree there should be some minor refactoring to t

[2021-01-26 05:34] adamdmharvey commented on #1988
@dtuite The Roadie AWS Lambda plugin was published up to the Backstage marketplace already:

https://backstage.io/plugins
https://github.com/RoadieHQ/backstage-plugin-aws-lambda

Thinking the root of the ask here is satisfied and thus issue could be closed, would you agree?

[2021-01-26 05:55] OrkoHunter commented on #697
Yes I think it can be closed. Thanks looking into old issues!

[2021-01-26 05:55] #697 closed

[2021-01-26 06:27] #1063 closed

[2021-01-26 06:29] OrkoHunter commented on #597
`versions:bump` is a really good one I think. One day I was thinking that "how to upgrade backstage app" should result in a Stackoverflow question, where this CLI command is the accepted answer.

[2021-01-26 06:30] #597 closed

[2021-01-26 06:32] OrkoHunter commented on #278
🧹 🧹 🧹 🧹

[2021-01-26 06:32] #278 closed

[2021-01-26 07:02] ron-debajyoti commented on #4219
Since this seems easy for a beginner, I would like to give it a try.

[2021-01-26 07:30] dtuite commented on #1988
@adamdmharvey agreed. Still lots to do but there is a foundation in place.

[2021-01-26 07:54] freben commented on #4219
Nice, thanks!

[2021-01-26 08:04] freben commented on #1988
Done!

[2021-01-26 08:04] #1988 closed

[2021-01-26 08:24] mbruggmann commented on #4078
Adding some more thoughts/considerations here:
* Would it make sense to split the querying from the indexing in the backend? Such that we'd have `@backstage/plugin-search-backend` and `@backstage/plugin-search-indexer`? That would make it so other backend plugins can use the indexer without including the querying parts.
* For integrating different search engines, those two packages could define an

[2021-01-26 09:37] #4170 closed

[2021-01-26 09:42] ron-debajyoti commented on #4219
Does updating the project also includes fixing the eslint errors based on the new rules, for all the packages and plugins of backstage ?

[2021-01-26 09:44] freben commented on #4219
Yeah. We postponed enabling these rules specifically because there are some places where things need to be fixed accordingly.

[2021-01-26 09:50] emmaindal commented on #4078
Thanks for comments, its all so valuable! Following up on a few things

@Rugvip yes please, the more we can collect and share here the better we will be able to serve different needs.

@mbruggmann Yes really good point, I think it make sense to split them up. As in the proposed architecture, the only thing other backend plugins need to use is the indexer and then the search engine integration laye

[2021-01-26 09:52] braghettos commented on #2857
Is it possible to dinamically add a kubernetes cluster in the app-config.yaml file? Otherwise I would need to restart the application every time a new k8s cluster is provisioned.

[2021-01-26 09:53] braghettos commented on #2857
Would it be possible to add also secrets to the K8S resources UIs?

[2021-01-26 09:58] mcalus3 commented on #290
@adamdmharvey
We created a solution to access AWS services without cognito, just by the regular IAM users for our [aws-lambda](https://github.com/RoadieHQ/backstage-plugin-aws-lambda/) plugin. To prevent leaking the access token in the frontend source code and the need for the user to authorize theyself each time they want to acces AWS, we created a separate backend plugin ([aws-auth](https://gith

[2021-01-26 10:07] benjdlambert commented on #2857
That's the case right now yes, if you have dynamic clusters, then maybe we need to think about some way to do cluster discovery, maybe refreshing kubeconfig or something. Haven't really thought of this.

I'd assume this is pretty easily, however we would probably not display the secret in the frontend yet. Until we have someway to validate that the user has the correct identity to see this secret

[2021-01-26 10:33] mclarke47 commented on #2857
@braghettos I actually had thought about integrations with cloud providers to pull down cluster information dynamically, perhaps even filtering by some tags.

This is why I added the configuration value [clusterLocatorMethods](https://backstage.io/docs/features/kubernetes/configuration#clusterlocatormethods) I was hoping to expand this with perhaps `GKE` `EKS` `AKS` etc...

[2021-01-26 10:34] mclarke47 commented on #2857
As @benjdlambert says we actually were going to include secrets but it probably needs some thought in how it is done.

[2021-01-26 10:38] braghettos commented on #2857
I guess that especially for companies that rely on a public cloud provider Kubernetes clusters can be provisioned and wasted quickly so Backstage could expose an API where POSTING a new kubernetes cluster and saving it on the database could help having a dynamic list of clusters and kubeconfigs to check.

I agree with you because the Kubernetes plugin uses the kubeconfig file for Backstage and use

[2021-01-26 10:40] benjdlambert commented on #2857
@mclarke47 yep - totally forgot about the `clusterLocator` stuff, @braghettos see @mclarke47's response! 👍

[2021-01-26 10:46] #4197 closed

[2021-01-26 10:58] braghettos commented on #2857
So for GKE invoking this API: https://cloud.google.com/kubernetes-engine/docs/reference/rest/v1/projects.locations.clusters/list - using this client library: https://github.com/googleapis/nodejs-cloud-container

[2021-01-26 12:17] benjdlambert commented on #2857
I guess you'd probably need to add some config specific to the provider also in the config schema then, that's where you could have this project ID or something

[2021-01-26 12:43] mclarke47 commented on #2857
@benjdlambert yes, I was considering turning clusterLocatorMethods into an array of objects rather than an array of strings so that you could include, projects and any necessary secrets (if using a different account to list the clusters than retrieve K8S objects)

[2021-01-26 14:55] #4241 closed

[2021-01-26 16:56] OrkoHunter opened #4262 "TechDocs: Write a migration guide from Basic to the Recommended deployment approach"
Context - https://backstage.io/docs/features/techdocs/architecture

Basic approach is really there just to get a look and feel of TechDocs but it should not be run in production with hundreds of users. There are a lot of reasons to move the build and publish part away to CI/CD and turn Backstage/TechDocs in read-only mode.

TODO:
  - Write/Expand on the reasons in the FAQ on the architecture page.

[2021-01-26 17:19] n2ygk opened #4263 "Incorrect homepage.clocks.timezone results in app blank page"
If you configure homepage.clocks to include a non-existent timezone name then the UI presents a blank screen

## Expected Behavior

Throw an error somewhere. Anything but present a blank UI.

## Current Behavior

Silently displays a blank screen.

## Possible Solution

## Steps to Reproduce

1. edit `app-config.local.yaml` and add a misspelled timezone name e.g. `timezone: 'America/Los_Angelex'`
2

[2021-01-26 17:32] OrkoHunter commented on #4263
Agreed. Thanks for reporting! Backend should throw an error. Frontend should default to a time zone so that something shows up and spit console warnings instead of a blank screen.

[2021-01-26 17:48] khanh-cg opened #4264 "Local installment bugs"
Installing issue: https://backstage.io/docs/getting-started/running-backstage-locally#clone-and-build

## Expected Behavior

"yarn install" runs without issue

## Current Behavior

[1/5] Validating package.json...
[2/5] Resolving packages...
[3/5] Fetching packages...
info fsevents@2.1.2: The platform "win32" is incompatible with this module.
info "fsevents@2.1.2" is an optional dependency and fai

[2021-01-26 17:52] OrkoHunter commented on #4264
Looks like it worked. All these warnings are expected. 😁

[2021-01-26 20:18] adamdmharvey commented on #1169
Reviewing the PR @dtuite added about a month after this ticket was opened via https://github.com/backstage/backstage/pull/1685, I have a feeling this story is completed. Could be further clarified, but the listing of the different types of plugin styles I think gets to the root of the ask in this ticket:
https://backstage.io/docs/overview/architecture-overview#plugins-and-plugin-backends

Suggest

[2021-01-26 20:19] adamdmharvey commented on #675
@kowsheek Is this still something you're looking into?  Wanted to just check in.  Thanks!!

[2021-01-26 23:07] GoWind opened #4267 "Incorrect response when validating Entities fails in the LocationReaders"
## Expected Behavior
When a Processor attempts to validate a corresponding `Entity` and returns false, it should be known that the Entity
was not processed completely because of a validation failure

## Current Behavior
After all processors attempt to validate an `Entity` and one of them actually does and the result is `false`, the reported
Error is that of `No processor recognized the entity ${ki

[2021-01-26 23:07] GoWind commented on #4267
Would be interested in offering a solution to this as a PR.

[2021-01-27 00:42] kowsheek commented on #675
Hey! We moved away from Drone to GitHub Actions so haven't been able to allocate time for this.

Maybe better for someone else to take over.

[2021-01-27 00:51] adamdmharvey commented on #2259
Just following up - does the fact that #2326 was merged mean this ticket can be closed now?

[2021-01-27 00:54] adamdmharvey commented on #2269
I believe this has now been fixed. On my instance all URLs are lower, and if I try uppercase for the kind, it rewrites it lower, so I'm thinking work spun out of the linked RFC was done.  Thinking this good to close - @freben / @Rugvip ?

[2021-01-27 00:59] regicsolutions commented on #2857
Kiali has been a fantastic tool for service mesh observability, may want to consider adding that to the list of future contributions.

https://github.com/kiali/kiali-ui

![FF86517C-2336-4EB4-AFD2-F1A13491D478](https://user-images.githubusercontent.com/6157895/105926800-b22d7980-6010-11eb-8cf2-e0713f5ece80.png)

[2021-01-27 06:14] OrkoHunter commented on #2269
The URLs in TechDocs are still case-sensitive with kind :/
https://demo.backstage.io/docs/default/Component/backstage

[2021-01-27 11:14] katz95 commented on #4151
Hi! We suggest using this type of interaction pattern for the expandable error/warning panels. If we could also change the text color from white to black, that would be great (for A11Y purposes). [image](https://user-images.githubusercontent.com/61153904/105983445-109e3a80-6099-11eb-88aa-a96db23c6d3d.png)

[2021-01-27 11:35] andrewthauer commented on #167
Curious if this publish private page is intended to document just plugins that are published to a private repo and/or for custom plugins within an orgs backstage instances monorepo?

[2021-01-27 18:00] iamEAP commented on #4078
@mbruggmann this is great to think about. My interest in keeping it fairly open-ended is that it may provide a plausible, gentle onramp to migrating non-Backstage tooling into Backstage (e.g. make your tool centrally searchable first, and in the process create a plugin; migrate your tool's functionality / experience into the plugin afterward).

That being said, we may want to encourage some standa

[2021-01-27 19:20] ruloweb opened #4275 "Create a new entity Kind with no core modifications"
If I add a new entity kind, I have to add it into the `BuiltinKindsEntityProcessor`.

## Expected Behavior

Add new entity kinds with no core modifications.

## Current Behavior

If you don't add your new entity kinds into the `BuiltinKindsEntityProcessor` class, validations will fail.

## Possible Solution

## Steps to Reproduce

1. Create a new entity kind class
2. Import an entity of the new ki

[2021-01-27 19:46] tylermarien opened #4276 "catalog-import plugin does not support Unicode characters in catalog-info.yaml file"
## Expected Behavior
Importing a GitHub repo should allow Unicode characters in the submitted catalog-info.yaml file. For example, a file like this should work:
[code]

## Current Behavior
Right now if you try to import the file above, you will get the following error: `Failed to submit PR to repo, Failed to execute 'btoa' on 'Window': The string to be encoded contains characters outside of the La

[2021-01-27 20:39] adamdmharvey commented on #3781
In support of my #4151, got good feedback from @katz95 about the design of an accordion WarningPanel.

Here's her screen cap:
![image](https://user-images.githubusercontent.com/33203301/106050909-bd86b080-60b5-11eb-9c42-907b788473ca.png)

In tweaking a possible PR, I noticed the current `<WarningPanel>` element says this,

However, in Backstage open source there is no such thing as an `<ErrorPanel

[2021-01-27 20:55] adamdmharvey commented on #4151
Awesome; thanks @katz95 !  Question if I may on color.

* Current WarningPanel background in open source Backstage is: #F59B23
* Your screen shot example is actually more like: #FBC863 (lighter)

With changes to the panel, should we align it with the lighter color and per your screen shot too?

![image](https://user-images.githubusercontent.com/33203301/106052726-ead45e00-60b7-11eb-9abf-7c4d07e573

[2021-01-27 21:21] adamdmharvey commented on #4151
I ended up with this for now before fixing the tests and submitting a PR:

![image](https://user-images.githubusercontent.com/33203301/106055628-9f23b380-60bb-11eb-8a08-73637a01473a.png)

![image](https://user-images.githubusercontent.com/33203301/106055591-916e2e00-60bb-11eb-9dc4-89056c6d0ff0.png)

![image](https://user-images.githubusercontent.com/33203301/106055493-756a8c80-60bb-11eb-9b4c-4f9a7

[2021-01-27 21:47] freben commented on #4275
Hi!

The correct course of action is to create a new custom corresponding plugin of your own, and to add it to the catalog. The `BuiltinKindsEntityProcessor` continues to take care of the builtin kinds and yours takes care of the custom kinds.

You will have a file similar to [this](https://github.com/backstage/backstage/blob/master/packages/backend/src/plugins/catalog.ts#L26) in your backend. The

[2021-01-27 21:53] freben commented on #4276
Interesting, this would actually be in the import plugin. @dtuite maybe this is something your team might want to have a look at?

[2021-01-27 21:55] freben commented on #4151
It'd say stay with the colors provided through the Backstage mui theme object's palette. To make sure they stay the same across the entire site

[2021-01-27 21:56] freben commented on #4151
(That also lets us automatically have different colors in dark and light mode, should we wish to)

[2021-01-27 21:58] dtuite commented on #4276
@padraigobrien Have you got capacity to take this up?

[2021-01-27 22:00] padraigobrien commented on #4276
Yes, feel free to assign to me

[2021-01-27 22:05] freben commented on #4276
Thank you! 👍

[2021-01-27 22:14] andrewthauer opened #4278 "Port date library usage over to use luxon"
As per [adr010-luxon-date-library](https://github.com/backstage/backstage/blob/master/docs/architecture-decisions/adr010-luxon-date-library.md) (discussed in #3401) we should convert existing usages of date libraries (e.g. `momentjs`, `dayjs`, etc.) over to use [luxon](https://moment.github.io/luxon/).

Usages of `moment.js`

  - [x] ~~`plugins/auth-backend` (#4386)~~
  - [x] ~~`plugins/catalog` (

[2021-01-28 07:31] nwright-nz commented on #4263
I'd love to take a look at this!

[2021-01-28 07:33] OrkoHunter commented on #4263
Awesome @nwright-nz ! Assigned it to you.

[2021-01-28 07:48] ron-debajyoti commented on #4219
I have been fixing the `no-shadow` and `no-redeclare` errors caused by changing the appropriate variable names. Many files have such errors although the changes in each file are 1-2 lines. So far, I have changes in 32 files, and currently fixing the errors in  `plugin/cost-insight`.

Is it advisable to make all the changes and make the commit or do I commit in batches for easy review ?

[2021-01-28 07:49] freben commented on #4219
Sounds like it's fine to continue doing them all as one batch.

[2021-01-28 09:32] #4118 closed

[2021-01-28 10:16] #3442 closed

[2021-01-28 10:41] #4230 closed

[2021-01-28 11:30] geototti21 opened #4283 "[Catalog Import] Github integration: Support only imports from Entity Files (optionally turn off PR functionality)"
## Feature Suggestion

Hey, we have a use case where we want to implement the [catalog-import](https://github.com/backstage/backstage/tree/master/plugins/catalog-import) plugin with GitHub integration but support only the option to register be providing the full URL to that Entity File and not provide the option to make a PR.

I can't find a way to turn this off, all the other integrations options

[2021-01-28 12:47] nirga commented on #4221
Definitely @benjdlambert, you can assign it to me and I'll try to come up with a proposal.

[2021-01-28 12:58] OrkoHunter commented on #2780
Based on our experience with Vale in Backstage mono-repo, adding Vale automatically to a new project can cause friction. Not being able to commit without the vocabulary list in `.github/styles/vocab.txt`, setting up pre-commit hook correctly, etc. can be cumbersome and hence not worth investigating more. Closing this issue as we don't want to do this on component creation.

However, we can have Te

[2021-01-28 12:58] #2780 closed

[2021-01-28 14:11] #4264 closed

[2021-01-28 14:18] freben commented on #4221
done!

[2021-01-28 14:24] freben commented on #2259
Indeed!

[2021-01-28 14:24] #2259 closed

[2021-01-28 14:42] freben commented on #4283
I think this may be better suited as a prop to the plugin, than as a config option. To be added [here](https://github.com/backstage/backstage/blob/master/packages/app/src/App.tsx#L74), then.

I haven't heard of this requirement before now. Is it something you might be interested in contributing?

[2021-01-28 14:56] dtuite commented on #849
@freben @Rugvip We are going to start this tomorrow. I have assigned myself.

/cc @padraigobrien

[2021-01-28 15:05] freben commented on #4275
I'll close this one since I believe the use case is covered. Feel free to reopen the issue if you feel that this was in error!

[2021-01-28 15:05] #4275 closed

[2021-01-28 15:15] dhenneke commented on #4283
I'm actively working on the plugin in #4271 and also plan to add configurability for these features. I'm not sure if it will be part of the PR, but I anticipate to at least make it easy to add it in follow-ups.

[2021-01-28 15:17] Fox32 commented on #4276
Maybe we should wait #4271 till is completed, because that might result in conflicts

[2021-01-28 15:27] freben commented on #4240
It would be rude to return 502 for rate limiting! But stranger thing have happened :)

[2021-01-28 15:39] freben commented on #4248
The location based ingestion flows are really being invested in, and I don't foresee us putting a direct-push version to the forefront within reasonable time. This may seem odd, but there are several reasons - one of them is that we are looking into overhauling the foundations of how processing happens in the catalog, to enable scaling and features. Those will be harder to do when supporting sever

[2021-01-28 15:54] padraigobrien commented on #4276
I am happy to wait, I can be working on the issue quietly in the background and implement once #4271 is merged

[2021-01-28 16:01] adamdmharvey commented on #4221
BTW to @benjdlambert 's point, that Google tracking thing isn't called out in doco anywhere, so it wouldn't be easy or possible for most new Backstage users to know it exists? Is it a part of a 3rd library we have as I don't really see it used anywhere besides being passed into an HTML WebPack library?  Anyway, if it's "robust" enough to use, wonder if should spin up a story for someone to add tha

[2021-01-28 17:19] freben commented on #4221
Sure. I wonder where that doc would fit in the hierarchy 🤔

[2021-01-28 18:20] adamdmharvey opened #4292 "jenkins: Improve error display on Jenkins latest build overview card"
Improve error handling for the Jenkins overview card.

## Expected Behavior

If there is a misconfiguration of a Jenkins pipeline, I believe the expected behavior should be:

* the Jenkins card should still display, but inline to the card the card should display the error
* there should not be an errorApi alert popup for the user

## Current Behavior

In this case, the initial GitHub org path had

[2021-01-28 18:37] n2ygk commented on #3656
@fox32 @stefanalund I'm thinking along these lines:
Name it plugin-oauth2-client-registration?

The plugin backend uses the [OAuth 2.0 Dynamic Client Registration Protocol, RFC 7591](https://tools.ietf.org/html/rfc7591) which is derived from the [OpenID Connect Dynamic Client Registration 1.0](https://openid.net/specs/openid-connect-registration-1_0.html) This should make it supported by a variety

[2021-01-28 21:21] freben commented on #3781
That makes sense to me. And then we try to replace all of the usages of `Alert` all over the place, I guess.

Still looking to do the accordion right? I could have also imagined having details like that in a drawer.

About the `ErrorPanel`: It was just never lifted over. It was more complex, and had an interaction with a core API that does not exist yet in the open source version of Backstage - a

[2021-01-28 21:24] #843 closed

[2021-01-28 22:40] ParthS007 commented on #4141
Hi @OrkoHunter I want to work on this issue. Can you please assign it to me. Thanks :)

[2021-01-28 22:50] LeKeve commented on #4101
@Rugvip For what it's worth, I ran into this exact issue as well and running `yarn backstage-cli versions:check --fix` did not automatically fix the issue. It did however point to a missing range of versions for the duplicate module which did help.

Opened a PR to add a check in the `yarn start` command.

[2021-01-28 23:07] kiranpatel11 opened #4297 "[catalog-frontent] : truncate description and provide hover-over in entity list in home screen"
Entity descriptions are usually a brief paragraph/few lines. Current entity list shows full description text, which ends up being multiple lines for a single component, makes it visually inconsistence/asymetric. As an alternative, I suggest to trunate the text after 1/2 lines and provide a (...), which can be hover-over to show tooltip with full description.

## Feature Suggestion
Use fix length f

[2021-01-29 00:54] adamdmharvey commented on #4297
@kiranpatel11 If possible, could you provide some screen shots pointing to what you're seeing on your side and the rough length?

I'll admit to not having tested really long ones before. I like the display on the About Card, but I can see what you mean on the main catalog table, and in fact the length is distracting also on the Search results page as well. Given that, it might make sense to have a

[2021-01-29 01:28] kiranpatel11 commented on #4297
@adamdmharvey yes I am refering to same issues as in your screenshots...

I fixed it in local, but not yet as reusable component.
![Home _ Services _ Backstage - Google Chrome 1_29_2021 12_22_01 PM](https://user-images.githubusercontent.com/8432431/106219410-63106000-622d-11eb-8667-8e2bd1baaad1.png)

[2021-01-29 02:15] adamdmharvey commented on #4297
That looks awesome, @kiranpatel11 !  If you're willing, I'd file a PR to get that in just to the catalog - it's incrementally better than what we all have today. Then once it's in, we can all then refactor it to continue improving, maybe making it that reusable component, put it into Search plugin also, etc.  🎉

[2021-01-29 02:55] kiranpatel11 commented on #4297
Sure @adamdmharvey

[2021-01-29 04:44] adamdmharvey opened #4298 "user-settings: Pin sidebar disappears on smaller screens"
## Expected Behavior

In user settings, the _Pin sidebar_ configuration in the **Appearance** card should always be visible even if the screen width gets smaller.

## Current Behavior

On the user settings page, if you reduce the screen size so the two current cards - Profile and Appearance - stack one on top of the other, the "Pin sidebar" configuration element disappears.

**Full screen**
![imag

[2021-01-29 05:03] adamdmharvey commented on #4298
Hmm... done on purpose?

https://github.com/backstage/backstage/blob/a22fc866eb80d60b4cb35162a0375f58799d15f5/plugins/user-settings/src/components/General/General.tsx#L32-L37

And yep, from the blame view, trace back to the really clearly documented PR (thank you! 👏 ) :
https://github.com/backstage/backstage/pull/3084

What I don't know is... why?  @abhishekjakhar do you recall any context on the

[2021-01-29 06:59] braghettos commented on #2857
@mclarke47 regarding the contribution for https://github.com/backstage/backstage/issues/2857#issuecomment-767453431 , should we open an issue only on that and wait for feedbacks from the community? I'm evaluating as well if I can help on this.

[2021-01-29 07:27] OrkoHunter commented on #4141
Sure!

[2021-01-29 07:40] OrkoHunter commented on #4233
Hey @kaparwan ! Could you try out the latest master branch in this repository and try a TechDocs workflow with one of your repositories on your Bitbucket Server? Do mention the version of Bitbucket server. We fixed several smaller issues here and there and now want to see if there exists more. Thanks!

I'll close this issue and please open a new one if you spot errors. 🙏

[2021-01-29 07:40] #4233 closed

[2021-01-29 08:56] #3598 closed

[2021-01-29 09:07] geototti21 commented on #4283
Thanks,

@freben is there any example of how this can be achieved via prop? Should we provide an integration object, eg:

_forgive my pseudocode_

[code]

And if something is not in this prop object it will default to `true` with a combination of the `integration` config.

@dhenneke your PR looks great, can somehow make the change for my suggestion compatible with your work in advance or we should

[2021-01-29 09:08] kaparwan commented on #4233
Hi @Okohunter.
Sure.  I have this in my task list now , will try with the latest.
Thank you for your support.

--
Sent from iPhone

[2021-01-29 10:47] asanami01 opened #4302 "gitlab (repo) support for Entity File URL"
Is it possible to specify gitlab repository for an existing entity file URL when registering an existing component to the catalog.

At the moment, it looks like only github repositories can be specified? I've tried a URL to a gitlab repo, but it throws an error:

[code]

[2021-01-29 11:10] freben commented on #1169
Agreed. I think this is covered well enough. Thanks for checking in on these old tickets!

[2021-01-29 11:10] #1169 closed

[2021-01-29 11:17] ron-debajyoti commented on #4219
I made the pull request but I am confused about what should be the correct changes in two files, which are causing tests to fail. I mentioned it in the pull request and would appreciate the feedback.

[2021-01-29 12:22] OrkoHunter opened #4303 "TechDocs not working with Self Hosted GitLab community edition server"
Reported by @michelv

https://discord.com/channels/687207715902193673/687235481154617364/804646824232878151

Something might be wrong with `readTree` for self hosted GitLab CE version 13.7.1

[2021-01-29 12:48] michelv commented on #4303
It looks like the URL that is constructed to download the zip file is not compatible with GitLab's Community Edition.

On a GitLab EE instance, the URL to download a project seems to be `https://HOST/projects/PROJECT_NAME_WITH_NAMESPACE/repository/archive.zip?sha=DEFAULT_BRANCH`.

Whereas on a GitLab CE instance, that URL is `https://HOST/PROJECT_NAME_WITH_NAMESPACE/-/archive/DEFAULT_BRANCH/PROJEC

[2021-01-29 15:37] OrkoHunter commented on #4303
Closing the issue since the problem was missing `apiBaseUrl` for the gitlab host in app-config.yaml.

But will follow up with more meaningful error when `apiBaseUrl` is undefined.

[2021-01-29 15:37] #4303 closed

[2021-01-29 17:01] Rugvip opened #4310 "docs: add integrations section"
Would suggest that we add a new top-level section to the docs called "Integrations", where we document how to get set up with GitHub, GitLab, Azure, Bitbucket, and any other that might come 😅

Could be something like an overview section that explains the basics, where config goes, which parts of Backstage interacts with integrations, etc. Then perhaps one page per integration with more in-depth do

[2021-01-29 17:11] padraigobrien commented on #4276
Hi @tylermarien would it be possible to get more details on how you created the customer Location Analyser, I ask as i have not been able to recreate the problem. I have been able to import the yaml you included.

![image](https://user-images.githubusercontent.com/1910868/106305482-a7632680-6254-11eb-8d19-f199c6d8dbaa.png)

The emoji is displayed, I am assuming that this was the issue?

[2021-01-29 19:39] n2ygk opened #4313 "scaffolder needs to set GitLab repo visibility"
When the scaffolder publishes a new GitLab repo, it uses the default visibility. For gitlab it is "private".

## Expected Behavior

I should have an additional option to select the repo visibility, perhaps in the scaffolder template.

## Current Behavior

Any GitLab repos created with the scaffolder are private

## Possible Solution

Add the  Project`visibility` setting from the GitLab [API](https

[2021-01-29 21:00] kaparwan commented on #4233
Hi @Himanshu
We use mono-repo. Which we have bumped up to the latest. So the master
branches changes with respect to Bitbucket should come seamlessly/
<https://git02.ae.sda.corp.telstra.com/projects/BS/repos/telstra-backstage/commits/6a30af084bda7231ed5d585e7696f4565765a24b>
Regarding mentioning - version of Bitbucket server . I will try figuring it
out . But if you can let me know where I need to

[2021-01-29 21:07] OrkoHunter commented on #4233
For the version - https://community.atlassian.com/t5/Bitbucket-questions/bitbucket-version/qaq-p/172330

You may need to contact an admin and ask what version is deployed. :)

[2021-01-29 21:09] n2ygk commented on #4313
looks like this already happens for GitHub but was not implemented for GitLab, BitBucket or Azure:
https://github.com/backstage/backstage/blob/85e3cd61a4f21ff44e213f952ca000474b6f92bd/plugins/scaffolder-backend/src/scaffolder/stages/publish/publishers.ts#L74-L77

[2021-01-29 21:27] kaparwan commented on #4233
Thank you

I was asking it on  the backstage side - "where" to specify ...?

:-)

Anyways , I will check it.

On Sat, Jan 30, 2021 at 8:07 AM Himanshu Mishra <notifications@github.com>
wrote:

[2021-01-29 21:38] OrkoHunter commented on #4233
Aah! You don't have to specific the version of your bitbucket server in Backstage.

[2021-01-29 21:42] kaparwan commented on #4233
Thank you.
I get it.
I thought you are adding config / code based on versio when you asked to
specify it. Sorry about that misunderstanding.
I will update the version here sure :-)

On Sat, 30 Jan 2021 at 8:38 am, Himanshu Mishra <notifications@github.com>
wrote:

--
Sent from iPhone

[2021-01-29 22:59] n2ygk opened #4316 "scaffolder needs feature parity across all remote git repo types"
Scaffolder only appears to have first-class support for GitHub repos. GitLab, BitBucket and Azure support is limited and does not include things like:
- repo visibility (being addressed in #4315)
- support for orgs
- specific users given access for private repos
- etc.

## Expected Behavior

If the remote repo service supports the equivalent functionality (most do), then that functionality should

[2021-01-30 08:53] #4263 closed

[2021-01-30 11:17] ayshiff commented on #3790
I would love to work on this 👍

[2021-01-30 11:22] freben commented on #3790
Assigned, thanks!

[2021-01-30 15:13] freben commented on #167
Both, right? I think the dev experience should be fairly similar.

[2021-01-30 15:43] andrewthauer commented on #167
Partially the same I would think. However, separate repos requires more setup and are more work to test from my experience. I don't think there is much of a difference between publishing open ba private in the latter. So probably makes sense to cover all scenarios and rename the docs page accordingly.

[2021-01-30 18:13] regicsolutions opened #4319 "Onboarding Software Template: Introduce a Golden Path template pattern for new teams and engineers"
## Feature Suggestion

To introduce a new common template spec type for onboarding use cases. Today, by default Backstage supports 3 common values for spec.type: service, website and library and i am suggesting we introduce a new type which is already an optional label:  `namespace`

When the `namespace` is used as a spec.type for the Template kind, there would be a default rule to auto-populate t

[2021-01-30 18:47] benjdlambert commented on #4319
This is actually a super interesting use case for the scaffolder and it relates I think, very closely with our Golden Path templates. A new developer joins the company, and we want to give them a template which can scaffolder them a repo, and create them k8s namespaces, and gcp projects or whatever to get them setup and introduced to the dev stack and ecosystem. I know that this use case is not th

[2021-01-31 01:18] regicsolutions commented on #4319
Thanks for the detailed reply! The drop down approach is 100% the way we should be going but with this use case where I need to be able to drive the destination for onboarding... there should be flexibility where I can lockdown the storePath to a specific
destination given I may have a staging project or org that has unique post-hooks in play that drive the approval of a PR. Just wanted to bring t

[2021-01-31 01:21] kaparwan opened #4322 "[Techdocs] Own Hosted Bitbucket follow-up #4233 (Issues during test)"
## Expected Behavior

Reading branch from bitbucket server

## Current Behavior

`Failed to retrieve default branch from https://<mybitbucket-host.com>/rest/api/1.0/projects/PRJ/repos/me-repo-1/default-branch, 404 Not Found`

## Possible Solution

https://github.com/backstage/backstage/blob/master/packages/integration/src/bitbucket/core.ts#L37

fixing
[code]
to

[code]

## Steps to Reproduce

Same

[2021-01-31 01:43] kaparwan commented on #4322
also could you please share the value of    `  backstage.io/techdocs-ref:` when it was tested with Bitbucket Docker Locally by you.

[2021-01-31 02:02] kaparwan commented on #4322
So once above is fixed ( I switched to backstage master  from my monorepo) and fixed the core.ts as above.

Now
backstage\packages\integration\src\bitbucket\core.ts : 37

    : `${config.apiBaseUrl}/projects/${project}/repos/${repoName}/branches/default`;

and then

UI Error

`Error: Failed to generate docs from C:\Users\My_username\AppData\Local\Temp\backstage-qDeRCD into C:\Users\My_username\App

[2021-01-31 02:22] kaparwan commented on #4322
I have

[code]
It is breaking here

backstage\packages\techdocs-common\src\stages\generate\techdocs.ts

[code]

[2021-01-31 02:30] kaparwan commented on #4322
Added DEBUG logs and it is going to      ` case 'local':` block successfully.  Could be issue with `mkdocs build  -d outputDir  -v
`
I think it has verbose ( -v) but unable to see if mkdocs has issues. debugging it further.

[2021-01-31 02:35] kaparwan commented on #4322
I ran mkdocs directly on local.

[code]

$ cat mkdocs.yml
[code]
So mkdocs is installed.

[2021-01-31 06:06] kaparwan commented on #4322
It looks OS level error ( as a result of running mkdocs ) are not getting captured here . hence  **undefined** error.

 `Failed to generate docs from C:\Users\my_username\AppData\Local\Temp\backstage-qfb4U8 into C:\Users\my_Username\AppData\Local\Temp\techdocs-tmp-TcmvnY with error **undefined**
`

Changing mkdocs to nomkdocs for debugging purposes - in  backstage\packages\techdocs-common\src\stag

[2021-01-31 06:51] Anshultilondiya commented on #4104
@emkidwell Could you assign me this issue, right now I have college exams but I will contribute to this in a few days after the end of my exams

[2021-01-31 06:59] kaparwan commented on #4322
Adding DEBUG inside`  process.stderr.on `

in

backstage\packages\techdocs-common\src\stages\generate\helpers.ts

as

[code]
printing below  hex/binary bytes.

[code]

So needs to write pipe/wrapper to pass on this onto calling program.  Most likely it should be saying `outputDir  `not set/found or something else?

[2021-01-31 07:40] kaparwan commented on #4322
Added DEBUG  in backstage\packages\techdocs-common\src\stages\generate\helpers.ts

[code]

and  here is the config error :-)  same as I was getting in  direct mkdocs run above

[code]

[2021-01-31 08:06] kaparwan commented on #4322
fixed. and done. :-)

Now able to generate techdocs with bitbucket ownHosted

Hi @OrkoHunter  here the the complete logs please.

[code]
So  in order to use the fix in  mono-repo .. you can kindly fix the https://github.com/backstage/backstage/blob/master/packages/integration/src/bitbucket/core.ts#L37 as mentioned above .

[2021-01-31 09:36] OrkoHunter commented on #4322
@kaparwan Thanks so much! Could you please raise the Pull Request? 🙏

[2021-01-31 09:42] OrkoHunter commented on #4322
Aah, the version `Atlassian Bitbucket v5.11.1` is the reason for the inconsistency - the latest one of Bitbucket server is `7.9.*` which has the updated API endpoint `/default-branch` currently being used in Backstage and the old one `/branches/default` has been deprecated.
https://docs.atlassian.com/bitbucket-server/rest/7.9.0/bitbucket-rest.html#idp184
https://docs.atlassian.com/bitbucket-server

[2021-01-31 09:43] freben commented on #4322
Should we try the new one and fallback to the old one on 404 or something like that?

[2021-01-31 09:45] OrkoHunter commented on #4322
+1 @freben

[2021-01-31 09:51] OrkoHunter commented on #4104
Sure, done! :D

[2021-01-31 12:27] kaparwan commented on #4322
Hi @Himanshu.

Sure , I will open PR.

I think we can default to current version and fallback to old, yes.  ( And
we can see how many such changes exist  across these versions. There
shouldn’t be many.   )

--
Sent from iPhone

[2021-01-31 12:52] OrkoHunter commented on #4322
Thank you so much!

[2021-01-31 15:59] regicsolutions opened #4325 "Org Data in Software Templates: Ability to inject org specific data as contextual "extra values" in a template request"
Introduce a way to capture org data up front for new teams initially requesting Software Templates such as team name, division etc...

It would be ideal to be able to reference a shared common file for teams, divisions etc... where an engineer could click on a Select your team drop down menu to select his team name, oh wait it doesn't exist because i never used backstage before, let me add my team

[2021-01-31 17:12] regicsolutions opened #4326 "Scaffolder Workflow Automation Engine"
Just wanted to throw out a crazy idea! Thinking years down the road when you have hundreds of Software Templates with a wide range of hooks and triggers... it could start to get messy to manage as use cases become more complex.

I started playing around with a node based open-source workflow automation tool, built in TypeScript called [n8n](https://github.com/n8n-io/n8n) that has over [200 integra

[2021-01-31 17:45] regicsolutions opened #4328 "Jenkins Plugin - Add Broader Support outside of just Github"
As mentioned in issue [#3975 ](https://github.com/backstage/backstage/issues/3975) The current Jenkins Plugin has only been tested and known to work with GitHub, this request is to add broader support for all Git-based version control solutions and support the generic usage of Jenkins freestyle and pipeline type projects.

[2021-01-31 18:11] andrewthauer commented on #4325
Out of curiosity, would this team selection be to set the ownership of the generated code component?

[2021-01-31 18:27] regicsolutions commented on #4325
Yep!

[2021-01-31 19:01] freben commented on #4325
Aha! But these are two slightly different things then, if I read the issue correctly. An owner selector frontend component similar to how you describe it should definitely be built, and it should come with a field type in the schema that anybody can use easily. It would then be one of the regular inputs.

The extra fields that I talked about, was more along the lines of if you wanted to pass along

[2021-01-31 19:52] biancoda opened #4330 "Scaffolder issues while creating document template"
I cloned the project on the 01/31.
While testing testing the templates, I got error on different stages of the creation process.

Using the default document-template, I got an error on the "Run the templater" stage.

`error: Stage failed with error: ENOENT: no such file or directory, realpath '/tmp/b26c4b6a-b0f9-4391-91ee-dd93cc4add96/intermediate' {"id":"b26c4b6a-b0f9-4391-91ee-dd93cc4add96","sta

[2021-01-31 20:16] OrkoHunter commented on #4330
cc'ing @jhaals @benjdlambert since it looks related to the new updates on using specified directories for checkout, intermediate, etc.

I tried on my local computer and things are working fine. We should also try on a new Linux instance.

[2021-01-31 20:25] regicsolutions commented on #4325
Ah ok, what are your thoughts on adding Group/Team and Domain to the user's profile? Thinking it may make sense to enforce a new user to create a profile on first login (for the exception of name and email which should already be populated by the auth provider) that way we can pull it from the profile?

From an ownership perspective, there should technically be two levels of ownership right?

1. T

[2021-01-31 21:49] geototti21 commented on #4283
👋 hey @freben , I made a quick Draft PR to have more data to discuss https://github.com/backstage/backstage/pull/4331

let me know what you think 😃

[2021-01-31 22:20] marcosnils commented on #4023
:wave: https://play-with-docker.com author here.  I was looking for a way to test backstage and found that https://demo.backstage.io/ seems to be broken. We've developed a "Try in PWD" button (see example repo here https://github.com/tillias/microservice-catalog) that allows deploying a compose file to demo products.

@dtuite if you think it's worth I can bring back the `docker-compose.yml` file a

[2021-01-31 22:29] regicsolutions commented on #4319
@benjdlambert Are there plans to provide the ability to pull in different Kinds?

### Example:
_Following Template is used to create a namespace_

[code]
When this template is used by an engineer, a **Resource** Kind is registered to register the namespace:

[code]
Now i have another template to _create a react app_ that i want to map to that _new-team-namespace_ i just created by providing a drop

[2021-01-31 22:34] freben commented on #4325
https://github.com/backstage/backstage/issues/4089

There's a bit of a conflict here - we expect backstage to get its profile/user/groups source data from external sources, not to supply that outwards.

A user will have any number of group memberships. These should be fetched from an external source such as LDAP, or an in-house solution, or what you happen to have.

By domain, do you mean the enti

[2021-01-31 22:37] dtuite commented on #4023
@marcosnils Could you be more specific about what is broken with the Backstage demo please? At a glance, it seems to work for me right now. I'm sure it would help the team to know what is broken.

If you show me how to add that button I'm happy to try it out and maybe add it to the blog post mentioned above. I have been maintaining up to date Backstage Docker images: [backend](https://hub.docker.c

[2021-01-31 22:42] marcosnils commented on #4023
Sorry for that, the `create component` action returns 404. It'd be awesome if you could create a component from a public github repo and make backstage pick that to play in the demo.

Sure, adding the button is pretty straightforward, you just need to have a public `docker-compose` file that is configured with all the required services and add a link like this one (https://github.com/tillias/micro

[2021-02-01 00:31] kaparwan commented on #4322
Hi @OrkoHunter
I tried pushing changes to a feature Branch , but I am getting

[code]

Regards

[2021-02-01 01:58] adamdmharvey commented on #4325
@andrewthauer did you mean to assign us?  🤔 😊

![image](https://user-images.githubusercontent.com/33203301/106406361-0a94ba80-6407-11eb-8e05-cb0d318b8c76.png)

[2021-02-01 01:59] andrewthauer commented on #4325
No 😥. Not sure how that happened. Sorry.

[2021-02-01 02:01] adamdmharvey commented on #4023
Also relates to the existing bug report of the create catalog button looking broken on demo (though it's actually not been installed by design, and the referenced issue being kept open to better explain/error that to the end-users):
https://github.com/backstage/backstage/issues/4085

[2021-02-01 02:04] marcosnils commented on #4023
And it makes total sense to avoid polluting the demo environment. Having said that, I believe that a straightforward approach by using a single docker-compose file locally to spin up all the services would be really neat since the docs are recommended docker anyways to start the postgres database.

If we provide this, then adding something like the "Try in PWD" button so anyone can easily spin-up

[2021-02-01 02:18] andrewthauer commented on #4221
We ended up adding `page_view` events by adding a `useGoogleAnalytics` hook that in turn uses `useLocation` changes from `react-router`. Had to rework this recently due to the `FlatRoute` changes. It's a bit specific to our auth provider, but it could be possible to extract part of it and push upstream. Or could be added to contrib.

[2021-02-01 02:28] andrewthauer commented on #4204
@thomvaill - This is a neat idea and interesting project. I've been mostly using [adr-tools](https://github.com/npryce/adr-tools) and then publishing the ADR's as part of an `mkdocs` docs site build. However there's nothing ADR specific about this beyond the fact they are just markdown files. Definitely seems like there is some additional functionality here specific to ADR's that could be of use.

[2021-02-01 06:03] OrkoHunter commented on #4322
Hey @kaparwan! This is expected. You should fork the repository on your personal GitHub profile and then push a feature branch to your fork. Then create a Pull Request from that fork.

[2021-02-01 07:08] kaparwan commented on #4322
Thanks , I will follow the same.  --
Sent from iPhone

[2021-02-01 08:14] OrkoHunter commented on #3820
Hey! Closing this issue since https://github.com/backstage/backstage/pull/3877 closes it. Feel free to re-open.

[2021-02-01 08:14] #3820 closed

[2021-02-01 08:19] freben commented on #4267
Do you have an exact entity where this happens? I think you might see this only if the `apiVersion` + `kind` combination is entirely unknown. And in that case, the error message seems to be the appropriate one.

If I try to register a location with a component that does not conform to schema, this is what I get:

[code]

[2021-02-01 08:23] freben commented on #4267
To provide some more detail, the act of returning `false` is "I did not understand what this thing even is, so let somebody else go at it". If you DO know what it is, you are not supposed to return false for validation errors; you should throw an exception.

https://github.com/backstage/backstage/blob/master/plugins/catalog-backend/src/ingestion/processors/types.ts#L69

[2021-02-01 09:39] freben commented on #3950
So APIs are registered with a certain `priority`, and you are allowed to override things that aren't of the `"static"` priority. There are three such APIs in the default app builder: `appThemeApiRef`, `configApiRef`, and `identityApiRef`. Was it one of these that caught you?

[2021-02-01 09:53] GoWind commented on #4267
@freben  : Yes, I believe this was the case` I think you might see this only if the apiVersion + kind `.

I had accidentally made a typo in the `apiVersion` and was assumed that the builtin kinds processor would catch as it depends on  (GroupEntityV1alpha) [https://github.com/backstage/backstage/blob/master/packages/catalog-model/src/kinds/GroupEntityV1alpha1.ts].

Since backstage has a default/st

[2021-02-01 10:13] freben commented on #4267
I'm not at all worried about the performance aspect of it, it'll be vastly overshadowed by just it being js or doing I/O :)

For now I think we won't be able to change the processor interface short term. One may argue that it's overly flexible and that that choice has drawbacks, but it has also proven pretty flexible and powerful. We'll have one final look at the interface as we productionise the

[2021-02-01 10:14] freben commented on #4267
I think one effective way to give some direction to the design there, could be to make a concrete RFC issue for The Next Iteration Of The Processor Interface or something :) Then we can discuss in there.

[2021-02-01 10:38] mcalus3 commented on #3950
No, I wanted to mock `GoogleAuthApi` and `GithubAuthApi`. Thanks for the info that it's possible to override it :) When I get back to this I'll try it.

[2021-02-01 10:41] freben commented on #3950
Ok! Let us know how it goes

[2021-02-01 10:43] GoWind commented on #4267
@freben : Sounds good :)  I will then create an RFC issue then. We are starting to massively use the catalog and ramping up to support our internal infra and I have other improvements/suggestions as well that might , if not now, then in the near future, might be bottlenecks as we increase our adoption. Will layout the proposals that we'd like to help with under the  RFC !

[2021-02-01 11:03] Fox32 commented on #3424
@rugvip Maybe we should extend the "TBD" section in the issue entry above 😉

Suggested content (edit my comment to copy the markdown):

- [ ] `plugin-api-docs`
- [ ] `plugin-catalog`
- [ ] `plugin-catalog-import`
- [ ] `plugin-circleci`
- [ ] `plugin-cloudbuild`
- [ ] `plugin-cost-insights`
- [ ] `plugin-explore` #4165
- [ ] `plugin-fossa`
- [ ] `plugin-gcp-projects`
- [ ] `plugin-github-actions`

[2021-02-01 11:25] vinayvinay opened #4336 "Make catalog-model validators easily accessible"
## Feature Suggestion

A CLI to validate entities in a `catalog-info.yaml` file, using validators from `catalog-model`.

## Context

Our Backstage instance imports a single `catalog-info.yaml` describing all our entities. It is generated by fetching and transforming information from multiple sources.

We'd like early feedback on whether the generated catalog is valid, way before importing it in ou

[2021-02-01 11:36] tragiclifestories commented on #4336
Worth calling out one problem we've had with said script - the validators as they are currently implemented are run after preprocessing populates things like `$file`, so incorrectly flag those values as invalid.

[2021-02-01 11:48] Fox32 commented on #4336
There is a `dryRun` option at the location endpoint that you can use in CI to verify your `catalog-info.yaml` files. That ensures that you use exact the rules of the Backstage instance, but would require a location that is readable by the Backstage instance and some kind of login. So it might not be a replacement for a CLI tool.

[2021-02-01 12:21] #3556 closed

[2021-02-01 12:59] #4101 closed

[2021-02-01 13:07] freben commented on #4336
Yeah if this were to be supported properly by the catalog backend (as a new endpoint, which I think could be useful), we would want to run through the relevant parts of the processing chain.

Doing a dry run sounds like a viable option, but I think it comes with some caveats. For example, if it went all the way to the "try to write" step it might refuse because there would be collisions with the e

[2021-02-01 13:33] awanlin commented on #3820
@OrkoHunter I can't seem to re-open this? #3877 only fixes part of it. All of the changes in the solution I suggested are in the techdocs-common and techdocs-backend. The biggest culprit is this case statement here as ADOS URL can be pretty much anything, same with BitBucket on premise from my quick research:  https://github.com/backstage/backstage/blob/ee4a96e761979f84090900b71b2c97781909ca10/pac

[2021-02-01 13:47] OrkoHunter commented on #3820
@awanlin TechDocs already supports Azure DevOps using something called "URL Reader". Here is how you can use it. This is now default when new components are created, there `backstage.io/techdocs-ref` annotations should start with `url:`.

https://backstage.io/docs/features/techdocs/how-to-guides#how-to-use-url-reader-in-techdocs-prepare-step

Give it a try!

[2021-02-01 13:55] awanlin commented on #3820
@OrkoHunter, thanks this is awesome! This means we can possibly stop using our fork of Backstage. I had seen this in the docs but I've been so heads down getting my work's Backstage instance up and running I have not been able to come up for air to check it out. I started to pull in the latest changes Friday so I must have missed this. I'll give this a try with a clean clone and will follow up on

[2021-02-01 14:02] OrkoHunter commented on #3820
Awesome! Jump over on Discord if you need more help. And perhaps you should create a new standalone Backstage app if you are trying to deploy it for production use. https://backstage.io/docs/getting-started/

And use the fork of this repository for contributions/PRs only. :)

[2021-02-01 14:10] jmfrancois commented on #4101
Here is what I did to keep my setup in good shape against a release of backstage

https://gist.github.com/jmfrancois/6d0de8152fb0274858b1d36684c4ec21

[2021-02-01 14:10] Rugvip commented on #4326
Could be interesting. What kind of integration do you have in mind? Something like being able to trigger a n8n workflow from a scaffolder templating run?

[2021-02-01 14:16] #4262 closed

[2021-02-01 14:20] freben commented on #4298
Agreed, this should always be visible!

[2021-02-01 14:26] awanlin commented on #3820
Sure, I'm actually "Ahhhndre" on Discord. So this isn't working for me but I'll try and do some troubleshooting with you on Discord to see if we can get it working

[2021-02-01 14:31] OrkoHunter commented on #3820
Yeah, no worries.

[2021-02-01 14:44] benjdlambert commented on #4319
So as mentioned before, the type field will be going away, and won't be respected. Templates will start to look like yaml which defines different steps. If you want to create these namespaces, you'd have to write the function to handle these creations. I think to solve your namespace enum, you could create your own component which is rendered in the form and can be invoked by the schema. And this

[2021-02-01 14:51] freben commented on #4267
Cool! Given that the current error reporting seems to work as intended, I am closing this issue. If this is a mistake or we need to take further action, feel free to reopen it!

[2021-02-01 14:51] #4267 closed

[2021-02-01 14:59] dhenneke commented on #3678
#4271 forces the user to define an owner during the import flow. That should fix this issue.

However, it might be nice to pre-fill the owner field based on e.g. codeowners. But that's another issue.

[2021-02-01 15:02] freben commented on #4330
I'll try to reproduce when I get some time.

[2021-02-01 15:19] freben commented on #4316
It may be a bit premature to add the help wanted label. We are rewriting things to be a lot more flexible, and in the new system it'll be clearer how to build this out. But if contributions land before then in the old code, we'll probably be able to lift it out into the new framework. So there's still value in contributing, even though it'll soon shift around.

[2021-02-01 15:22] freben commented on #4302
Hi!

You have to add an entry under `integrations` in your app-config that tells the backend how to interact with your gitlab source.

See the [in-repo app-config](https://github.com/backstage/backstage/blob/master/app-config.yaml#L109) file for some examples. There's also a [config schema](https://github.com/backstage/backstage/blob/master/packages/integration/config.d.ts#L118) to look at.

Closi

[2021-02-01 15:22] #4302 closed

[2021-02-01 15:31] freben commented on #4248
Hey, would it be OK to close this ticket at this point? Given our our current state and plans, and the sketch of an alternative solution for the shorter term.

[2021-02-01 15:37] freben commented on #3678
The idea of codeowners is actually to not fill it in in the source yaml at all - it'll be dynamically populated on each refresh instead.

[2021-02-01 16:10] freben commented on #4221
Added a small PR to get going with SOME observability docs at least.

https://github.com/backstage/backstage/pull/4339

[2021-02-01 16:47] Rugvip commented on #3424
@Fox32 Thanks!

[2021-02-01 17:00] Rugvip commented on #3424
Looking at `gcp-projects`, `api-docs`, and `user-settings`

[2021-02-01 17:04] petergrau commented on #4180
@benjaminr we have started working on it. will open a PR once it has reached a state where it can be published.

[2021-02-01 17:39] padraigobrien commented on #3256
I submitted a PR, https://github.com/backstage/backstage/pull/4340

[2021-02-01 17:59] mateiidavid commented on #4209
@benjdlambert @regicsolutions we were actually discussing this last week in our team. We have quite a high number of templates at Expedia and we'd like to have some sort of search functionality without having to maintain a fork. We'd be interested to do the work involved here :)

@exp-dev-dj maybe you want to have a look at this?

[2021-02-01 19:34] Fox32 commented on #3424
Having Sonarcloud and api-docs on my list, but maybe you can show how some stuff is done at api-docs. Sonarcloud is very similar to fossa

[2021-02-01 19:45] biancoda commented on #4330
I have create a new server and clone again the project with the same results.

- NodeJS Version (v12): v14.15.3
- Operating System and Version (e.g. Ubuntu 14.04): Linux backstage-dev 5.4.0-1034-azure #35~18.04.1-Ubuntu SMP Thu Dec 10 09:13:52 UTC 2020 x86_64 x86_64 x86_64 GNU/Linux
- Browser Information: Firefox 85.0 (64-bit)
- yarn version: 1.22.10

While running the yarn install I got this erro

[2021-02-01 20:00] n2ygk opened #4345 "catalog component readme doesn't include embedded images"
This is a pretty minor nit, but the catalog/default/component/_component-name_ pulls in the README.md but not
any referenced images that are pulled in, e.g. via `![alt-text](docs/media/CCbyncsa4.0.png "CC BY-NC-SA 4.0")`

## Expected Behavior

The "mini" README should render completely

## Current Behavior

Image references are rendered as broken images:
![image](https://user-images.githubusercont

[2021-02-01 20:38] adamdmharvey commented on #4345
@n2ygk Is this a report against RoadieHQ GitHub Insights plugin (https://github.com/RoadieHQ/backstage-plugin-github-insights)  by chance? if so, may need to pivot an issue into that repo, as Jira isn't a part of the Backstage core (this repo).  I may be wrong, but though I'd note it!

[2021-02-01 20:56] n2ygk commented on #4345
Yes, it could be. Not using Jira anywhere though. It's just pulling in a README from github.

[2021-02-01 20:57] adamdmharvey commented on #4345
Sorry, I wrote JIRA, I meant "github insights" 😁.

[2021-02-01 20:58] n2ygk commented on #4345
Yes, the readme shows up on the Code Insights and and Overview tabs. I'll move this over there.

[2021-02-01 20:58] #4345 closed

[2021-02-01 23:52] kaparwan commented on #4322
Hi @OrkoHunter
I have raised  https://github.com/backstage/backstage/pull/4347

Thanks

[2021-02-02 00:32] regicsolutions commented on #4326
Yep! one use case that we have right now is having the ability to trigger a [lambda function](https://n8n.io/integrations/n8n-nodes-base.awsLambda) once a repo is generated successfully to create a Jenkins job that maps to that generated repo and register that app in our central [PostgreSQL](https://n8n.io/integrations/n8n-nodes-base.postgres) CI/CD database, if a database was selected in the temp

[2021-02-02 01:49] adamdmharvey commented on #4322
If you don't mind my asking.... BitBucket Server 5.x is fully end-of-life, with no further support from the vendor. The v5.11 was originally released in May 2018.  @kaparwan is this version still actively used by you and your teams? Or is this just a demo or test instance you have access to?

If it's a super quick and easy fix that makes sense in that linked PR, that's great, but I'd suggest it ma

[2021-02-02 02:19] nwright-nz commented on #4278
I'll take a stab at this one!

[2021-02-02 02:29] adamdmharvey commented on #4278
Fantastic, thanks for the help @nwright-nz ! When you open a PR, if you can link back to this issue for tracking that would be great. Thanks so much!

[2021-02-02 03:37] kaparwan commented on #4322
Hi @adamdmharvey

yes, we are using the version v5.11 actively and it is prod bitbucket please.

also the fix is super quick  i suppose to cater for 5.11

[2021-02-02 06:26] #4298 closed

[2021-02-02 07:44] mfrinnstrom opened #4351 "Location Entity in Azure DevOps"
When trying to store a location entity in a repo in Azure DevOps to evaluate an organization structure I came across an issue with the handling of `targets`. The specification looks like the following:

[code]

Lets say the file is stored in the following location:
`https://dev.azure.com/organization/project/_git/repository?path=%2Fcatalog-info.yaml`

## Expected Behavior

I expect the referenced

[2021-02-02 07:49] emmaindal commented on #4078
Hey all, thank you so much for all valuable feedback. We have now looked through all of it and will make some changes to the architecture as well as start the work towards the next version of the search experience in Backstage. You can keep track of any updates or the next steps in the [Roadmap](https://backstage.io/docs/features/search/search-overview) as well as keep your eyes open for milestone

[2021-02-02 07:49] #4078 closed

[2021-02-02 08:10] freben commented on #4351
Aha! Yeah quite right, that's an oversight. Damn you Azure, for having to be so different in every way! :)

So indeed, we need to make a `resolveUrl` method of sorts, and we need to decide where to place it. We could make it a standalone util function and have it try to be smart about figuring out when to use the azure logic and when to just change the regular path. But I think the safest way is i

[2021-02-02 10:11] #4313 closed

[2021-02-02 10:54] mclarke47 commented on #3436
Kubernetes will actually be classified as a core feature and not a plugin, so I will close this.

[2021-02-02 10:54] #3436 closed

[2021-02-02 12:15] #4151 closed

[2021-02-02 13:40] lironrisk opened #4355 "using the default frontend image in backstage/contrib/chart/backstage/values.yaml does not work"
when using the default image for the frontend in backstage/contrib/chart/backstage/values.yaml , I get the following errors:

![image](https://user-images.githubusercontent.com/55748498/106608142-b6a3e600-656c-11eb-8084-c7dc86326b68.png)

seems like for some reason it cannot find the static files, so the page does not load.

any advice will be appreciated.

[2021-02-02 13:42] freben commented on #3781
What steps might remain to implement here, now that the WarningPanel is in place?

[2021-02-02 14:24] awanlin opened #4357 "TechDocs URL Reader method won't work with Azure DevOps Server 2020"
## Expected Behavior

TechDocs should still generate using the URL Reader method with Azure DevOps Server 2020

## Current Behavior

When opening a Docs site that is configured to use the URL Reader format using Azure DevOps Server 2020 you get a 404 error page suggesting that perhaps you are missing an `index.md` but if you look at the browser console there is a 404 error loading an `index.html`

[2021-02-02 14:25] awanlin commented on #4357
@OrkoHunter here is the first issue for the problems we ran into yesterday getting the URL Reader working with Azure DevOps Server 2020. I'm going to log a sperate issue around the how the archive.zip is extracted.

[2021-02-02 14:28] OrkoHunter commented on #4357
Hey thanks for the detailed issue @awanlin ! Happy to review any PR which solves this for you.

[2021-02-02 15:11] awanlin opened #4359 "TechDocs URL Reader Zip Archive Not In Expected State using Azure DevOps Server 2020"
## Expected Behavior

TechDocs should still generate using the URL Reader method with Azure DevOps Server 2020

## Current Behavior

Once Issue #4357 has been fixed you'll now get the following error(s) when opening a Docs site using the URL Reader method:

In the UI:

Error: Failed to generate docs from C:\Users\UserName\AppData\Local\Temp\backstage-OCDxtp into C:\Users\UserName\AppData\Local\Tem

[2021-02-02 15:12] awanlin commented on #4359
@OrkoHunter here is the 2nd issue and I've included a sample archive from ADOS 2020 so that you can see what gets generated

[2021-02-02 18:56] #4248 closed

[2021-02-02 19:00] nhidtran commented on #3310
hello! 🦄 would I be able to take on this bug/issue? Just want to make sure no one else is working on it before I give it a go

I delved into this a bit, and the weird thing happens when you click one of the SideBar item cards.
1. You initially start on owned
2. You click the "All" menu card Item => sets the currentFilter to "all' correctly
3. If you click the "All' menu card Item again => the focu

[2021-02-02 19:21] OrkoHunter commented on #3310
@nhidtran Assigned it to you - don't worry, take your time and submit a PR!

[2021-02-02 21:45] adamdmharvey opened #4362 "user-settings: Link to settings in side bar does not work"
## Expected Behavior

When clicking "Settings" at the bottom left of Backstage, the user should be taken to the user settings page.

## Current Behavior

From latest code on master on 2 Feb 2021, I've found a few weird situations where the routing to the settings doesn't quite work.  However, if I manually change my URL to force the route `/settings`, the settings page loads up fine. There seems t

[2021-02-02 21:50] adamdmharvey commented on #4362
Have Chrome DevTools with react aligned, and nothing is being spit out.  I thought I was confused, because I reset everything and settings panel DID work. But then I managed to clobber it again by doing something, and best I can tell is it gets clobbered when hitting an entity page.

[2021-02-02 21:52] Rugvip commented on #4362
Fixed in #4363. The settings plugin was using a bit of an unusual sidebar item setup compared to other plugins, so missed that interaction

[2021-02-02 21:54] adamdmharvey commented on #4362
Tested `rugvip/fixxings` locally and it fixed the issue I see; what turnaround time!!! 👏 👏 👏 😁 cheers sir!

[2021-02-02 22:19] tsjnsn opened #4364 "Support configurable committer Name and Email"
## Feature Suggestion

Support configurable committer name and email for the scaffolder plugin.

## Possible Implementation

default to current settings, add option in config yaml to override

## Context

The Scaffolder currently commits and pushes its changes with a static name and email. This is not compatible with Gitlab setups which require commit authors to be valid Gitlab users:

Restrict co

[2021-02-02 22:30] awanlin opened #4366 "Unable to build docker image based on current documentation"
## Expected Behavior

The docker image should get built without any errors

## Current Behavior

When we run `docker build -t example-deployment .` using the documentation from here: https://backstage.io/docs/getting-started/deployment-other using a clone of this repo we are running into the following errors, sorry there is a lot:

[5/5] Building fresh packages...
info This module is OPTIONAL, you

[2021-02-02 22:44] #4362 closed

[2021-02-02 22:45] OrkoHunter opened #4367 "TechDocs: Use lowercase entity kind, namespace and name in URLs"
## Feature Suggestion

When you open a TechDocs page like https://demo.backstage.io/docs/default/Component/backstage

The entity namespace (e.g. `default`) and kind (e.g. `Component`) and name should be in lowercase.

## Possible Implementation

Look at `/catalog` plugin for inspiration.

https://github.com/backstage/backstage/blob/8e1c7be11c916d95e9281914b98c59a79d0a1ada/plugins/catalog-react/src

[2021-02-02 23:26] #3715 closed

[2021-02-03 00:36] david-2814 commented on #4209
@mateiidavid Thanks for starting the conversation!

@benjdlambert @regicsolutions Like @mateiidavid mentioned, at Expedia, we have a good amount of managed templates that will require some sort of template search and filter functionalities.  To make Scaffolder more usable is as a matter of fact one of our top priorities in Q1.  We would like to have dedicated engineers from our team to help build

[2021-02-03 01:52] marcosnils commented on #4367
:wave:  I was trying to give this a try but given my little understanding on backstage looks like the implementation is not trivial.

Looks like the arguments that the tech docs plugin parses come from the URL here:

https://github.com/backstage/backstage/blob/master/plugins/techdocs/src/reader/components/TechDocsPage.tsx#L27-L33

If afterwards calls the tech-docs backend plugin here using that sa

[2021-02-03 02:00] adamdmharvey commented on #4367
Closure of this potentially also closes https://github.com/backstage/backstage/issues/2269

[2021-02-03 02:40] marcosnils commented on #4367
Now that I think about it this won't be a breaking change right? Since documentation will get re-generated. The only downside is that garbage will be left since the old docs with capitalized URL's wont be purged.

[2021-02-03 02:42] adamdmharvey commented on #4367
@marcosnils could add a line for the cleanup to cleanup both the original URL and and old one, and mark it to be deprecated/TODO, such that it gets cleaned up at a later date maybe?

[2021-02-03 02:51] marcosnils commented on #4367
Hmm just noticed this is only valid for the `local` builder generator. In that case yes, this will be a breaking change that we can't address within backstage since users will have to change their external generators to publish the docs somewhere else.

[2021-02-03 03:58] regicsolutions commented on #4209
Excellent! @katz95 did you have a chance to review my proposed design?

[2021-02-03 05:41] regicsolutions commented on #4322
@kaparwan I am facing a similar issue with Bitbucket Server 7.4.1 where it does not have the /default-branch endpoint. Are we able to support both endpoints with this PR?

**request /default-branch first, if it returns 404, try /branches/default**

More details here: https://github.com/backstage/backstage/pull/4206

[2021-02-03 07:37] jvilimek commented on #3973
@mcalus3 thanks for info. Just few days ago we have upgraded to v2021-01-21. Version of @backstage/plugin-catalog-import is [^0.3.5](https://registry.yarnpkg.com/@backstage/plugin-catalog-import/-/plugin-catalog-import-0.3.5.tgz). And we still get the http 404 error.

This is what I see in logs:
[code]

No other error details.

Not sure, if this is related, but this is what I see in logs from scaf

[2021-02-03 07:37] OrkoHunter commented on #4322
@regicsolutions Hey! @kaparwan has a PR up to support both https://github.com/backstage/backstage/pull/4347 !

[2021-02-03 13:50] regicsolutions commented on #4197
Confirmed latest fix #4200 resolved my issue running on SonarQube version 8.1

[2021-02-03 15:12] jvilimek commented on #3973
I have just upgraded to 2021-02-01 version () and it seems, that the Azure DevOps YAML files are read. I have succeeded adding few (nearly empty) components, so I will close this issue as now it seems as a different error:
[code]
throws an error: `Placeholder $text could not read location https://cc.oriflame.com/swagger/docs/v1, NotAllowedError: Reading from 'https://xxxx.url.com/swagger-url-retur

[2021-02-03 15:13] #3973 closed

[2021-02-03 16:00] jvilimek commented on #3973
Just for future reference, adding this
[code]
fixed the error. Some documentation can be found here: [packages/backend-common/config.d.ts](https://github.com/backstage/backstage/blob/master/packages/backend-common/config.d.ts) and [here](https://github.com/backstage/backstage/blob/master/app-config.yaml) is also a example, yet the new-ly generated app (via `npx @backstage/create-app`) does not con

[2021-02-03 16:04] n2ygk commented on #4089
@freben I'm not sure this is the right place to comment, but I'm concerned about the current implementation of integrations and the scaffolder publish stage using a "global" API token as this makes the backend a super user of sorts:
[code]

When I am creating a new templated repo, I would prefer that my github/gitlab/etc. personal API token be used. It seems these could perhaps be part of the user

[2021-02-03 16:06] asanami01 opened #4376 "Helm chart installation with additional plugins"
This guide describes a helm chart installation on kubernetes:

https://github.com/backstage/backstage/blob/master/contrib/chart/backstage/README.md

Are there any instructions on adding plugins from https://backstage.io/plugins to the deployment?

[2021-02-03 17:00] regicsolutions opened #4377 "Welcome Plugin: enable-welcome-box Feature Flag not working"
## Expected Behavior

When enabling the welcome-box the welcome plugin box should be shown on home page

![image](https://user-images.githubusercontent.com/6157895/106781720-5b7afd80-6617-11eb-9b38-d38163afa36f.png)

No Welcome Box -

![image](https://user-images.githubusercontent.com/6157895/106781900-93824080-6617-11eb-96e8-6740cbe83fb9.png)

## Current Behavior

Welcome box is not showing

## P

[2021-02-03 17:10] Fox32 commented on #4377
Not sure if this is a bug. I don't think that the welcome banner was ever related to that feature flag.

The welcome banner was removed recently as there isn't really a use in the default app https://github.com/backstage/backstage/pull/4193 .

Personally, if you need some kind of banner to welcome new user, I would recommend to copy that code into your local app. We did that, it works well and we

[2021-02-03 17:13] Fox32 commented on #4377
We could remove the feature flag registration there, or might even delete the whole plugin? Right now it doesn't seem to have a purpose except being a placeholder?

[2021-02-03 18:08] regicsolutions commented on #4377
hmm the feature flag worked before the last release.  I think it is nice to have, especially when you are about to go live. Thanks for the suggestion, i will try copying the code into the front-end.

[2021-02-03 18:31] adamdmharvey commented on #4377
Yeah, there's a panel on the /welcome plugin itself which when you hide sets a COOKIE. But it's not a feature flag.

I agree I too thought this was confusing at first, but since the welcome plugin is sort of unused now (it USED to be the homepage, now the homepage is the catalog) I forgot about it.

I agree with @Fox32 , some of this likely just needs to be better refactored for sure!

[2021-02-03 20:08] adamdmharvey commented on #4377
And sorry, I should have been more clear - the screen shot you show where the original "intro to backstage" panel was shown right above the entity list is shown is on the **catalog plugin** and is cookie based (not feature flag), NOT the welcome plugin, which is the one I meant is cookie based.  So the feature flag WORKS, but it shows/hides a panel on `/welcome` which is different than the one you

[2021-02-03 20:22] #4351 closed

[2021-02-03 21:18] #4322 closed

[2021-02-03 21:41] jvilimek commented on #3971
Works now, thanks!

[2021-02-03 21:42] #3971 closed

[2021-02-03 23:09] dtuite commented on #4376
@asanami01 Plugins are added before the build step. The basic idea is that you:

1. Scaffold a Backstage application for your organisation using the provided `create-app` command line client.
2. Edit the code of this application to add the plugins you want to use.
3. Build that into a Docker image.
4. Deploy it with helm.

I will assume that answers the question and close this issue. Please reopen

[2021-02-03 23:09] #4376 closed

[2021-02-04 07:42] padraigobrien commented on #4276
unfortunately i have not been able to reproduce this , I intend to close this issue

[2021-02-04 08:15] #4219 closed

[2021-02-04 09:10] ayshiff commented on #3790
I started working on the plugin and I'm almost done. I will do a PR in the coming days.

I just have one question to ask about the context in which the plugin is used. I don't think you can associate the plugin to an entity like Splunk-On-Call doesn't have a "services" system like the one of PagerDuty. We only get an api-key and an api-id that allow us to do operations at the organizational level.

[2021-02-04 11:44] dtuite commented on #4355
@lironrisk Those default images are quite a bit out of date. Backstage development has progressed quickly and unfortunately the Helm charts haven't kept up.

For example, the charts refer to two images (frontend and backend) but the frontend can now be served from the backend so it's unnecessary (although it should still work).

You have a few options:

1. Build your own images. There is a [comman

[2021-02-04 11:44] #4355 closed

[2021-02-04 12:57] nilsstre commented on #4278
Sorry, I missed @nwright-nz message, but I have created a PR for migrating the auth-backend plugin. #4386

[2021-02-04 14:52] Rugvip commented on #4089
@n2ygk Don't wanna be embedding tokens in the entities, but we should be able to achieve this by grabbing a user token via the frontend during the scaffolding. Expecting that we'll make that configurable at some point

[2021-02-04 15:02] n2ygk commented on #4089
Are there any use cases where the frontend user may no longer be present? (The usual OAuth2 delegated authority use case.)  I can't think of one for the scaffolder... What about stuff like techdocs doing a git fetch (from a private repo) to make sure the most recent content is rendered? I supposed that could use the current model of integrations.github.token but with a token that only has read acc