[2021-06-19 05:33] regicsolutions commented on #4002
@Rugvip just checking back in on this one to see if there is a clearer direction on how this should or could be accomplished?

Would the creation of a Bitbucket Server auth provider solve this issue? Bitbucket Server does support OAuth 1.0 with the usage of Application Links and seems like there is a [https://bitbucket.org/atlassianlabs/passport-atlassian-oauth/src/master/](passport-atlassian-oaut

[2021-06-19 13:54] yonimoses opened #6125 "create-app generates an error and does not complete"
using node 14 and yarn 2 (rc4)
create-app generates the following

`Building the app:
  executing     yarn install ◠ ➤ YN0000: ┌ Resolution step
➤ YN0032: │ node-addon-api@npm:3.2.1: Implicit dependencies on node-gyp are discouraged
➤ YN0032: │ fsevents@npm:2.3.2: Implicit dependencies on node-gyp are discouraged
➤ YN0032: │ fsevents@npm:2.3.2: Implicit dependencies on node-gyp are discouraged
➤ Y

[2021-06-19 14:04] yonimoses commented on #6125
downgraded to yarn 1.* and the problem went away.

[2021-06-19 14:04] #6125 closed

[2021-06-19 14:05] yonimoses commented on #6125
downgraded yarn to 1.* ..

[2021-06-19 15:45] Rugvip commented on #4002
@regicsolutions getting a Bitbucket OAuth provider in place certainly is a dependency and would help us on the way. The main thing to be solved is still the authenticated scaffolding, which is on our radar but not priorotized just yet.

[2021-06-20 20:20] mclarke47 commented on #4810
Still relevant

[2021-06-21 04:54] kiranpatel11 commented on #4817
We are also getting this for Bitbucket Server (on-prem) while registering resource from non-default branch.

URL:  https://mybitbucket-server.company.com/projects/BS/repos/backstage/browse/catalog-info.yaml?at=docs/readme

[code]

[2021-06-21 06:56] #6108 closed

[2021-06-21 07:00] benjdlambert commented on #4817
@kiranpatel11 I don't think that yours is the same issue. I think it's down to the support in the `catalog-import` route for anything that is not Github, or Github Enterprise.

It doesn't seem to really support much other than that at the moment - but contributions are welcome :pray:

[2021-06-21 08:12] OrkoHunter opened #6132 "TechDocs: Deleted pages continue to show up when using an external storage"
## Feature Suggestion

When a page is deleted in the markdown source, the corresponding TechDocs site should reflect that the page is not available.

As of now, when using any of the [cloud storage publishers (GCP, AWS, etc.)](https://github.com/backstage/backstage/tree/master/packages/techdocs-common/src/stages/publish), their `publish` method only uploads generated files into the bucket. This is

[2021-06-21 09:14] delanni commented on #6108
Hey!
I checked the PR, I think this is a good resolution. Looking at the code now, I see that this bit was the missing piece:
[code]

Without the path parameter, the single development page for the plugin would go to a default sequential page like `page-1` was. Now it is okay, at least devs can now understand that their plugin `xyz` would be hosted under `/xyz` - since this is explicit in the plug

[2021-06-21 10:12] Fox32 commented on #6132
One problem of cleaning the folder first is that TechDocs might not work during the upload. Maybe we could have some kind of versioning where the versions are uploaded to separate folders and we just change the reference to the latest one. This would also allow to travel back to older versions of a site.

[2021-06-21 10:14] tudi2d commented on #3256
Talked to @TejasQ - will work on this 👍

[2021-06-21 12:17] benjdlambert commented on #3256
Assigned!

[2021-06-21 13:14] benjdlambert commented on #6110
@kunagp for visibility, also @timbonicus is this something that we have a solution for in the catalog page that we can help move across to here?

[2021-06-21 13:17] benjdlambert commented on #6109
@mclarke47 for visibility 👍

[2021-06-21 13:49] grumpyoldman-io commented on #639
@benjdlambert ideally there would be something like an internal pub/sub system which plugins can hook in to, so for instance I roll my own Slack plugin, and choose to send Slack messages based on the events coming by.

so plugin X fires event Y.
Backstage catches event Y and publishes this to all plugins
Plugin Z will listen to event Y and handle it.

[2021-06-21 14:47] desktophero commented on #2876
Hey @freben -

👋

Is there a recommended way to track the active work on this particular item? I see `help wanted` label is still on ... how can we help? 😄

[2021-06-21 14:57] KatherineZhou commented on #5848
Sharing a potential design for the scaffolder! Let me know your thoughts. Changed the right hand view to just a normal confirmation view. Also using the [simple stepper component](https://backstage.io/storybook/?path=/story/navigation-simplestepper--default) for the wizard.

 ![Overview](https://user-images.githubusercontent.com/16808998/122783112-8f4a7d00-d2b1-11eb-9931-a13c9dd2b0e6.png)

[2021-06-21 15:47] biki0109 commented on #5997
I also have the same situation as you, the todo plugin cannot read some certain files, for example the `go.mod` and `go.sum` files in my golang project.
To workaround this, I did make a copy of https://github.com/backstage/backstage/blob/master/plugins/todo-backend/src/lib/TodoReader/TodoScmReader.ts file here and add in some filter.
[code]
Then in my todo packages/backend/src/plugins/todo.ts file

[2021-06-21 15:54] mclarke47 commented on #6109
Makes a lot of sense, after we load in the clusters we should compare what resources we intend to fetch with what is configured and not fetch resources we can't get.

[2021-06-21 16:37] Fox32 commented on #5848
Does anyone know whether the background image is already available in Backstage? And where? I could give this a try.

[2021-06-21 17:31] timbonicus commented on #6110
Nothing in place on the catalog page at the moment, I made a draft PR #6140 to show how it might be fixed. 🤔 In case anyone wants to pick this up.

[2021-06-21 18:33] ananthulasrikar opened #6142 "PAGERDUTY_TOKEN does not work"
https://github.com/backstage/backstage/blob/f2b2cf98846cac673d06bd736ccf1edff82a9644/app-config.yaml#L75

Above line is not same as

https://github.com/backstage/backstage/blob/master/plugins/pagerduty/README.md#providing-the-api-token

 Authorization: Token token=${PAGERDUTY_TOKEN} - works
 Authorization: ${PAGERDUTY_TOKEN} - does not work

[2021-06-21 18:38] OrkoHunter commented on #6142
Aah, thanks for reporting! Would you like to create a PR with the fix? :)

[2021-06-21 18:38] djamaile commented on #5997
Thanks @biki0109 , I was running it on random repo’s but didn’t try it out an golang repo.

[2021-06-21 18:39] ananthulasrikar commented on #6142
Would love too.

[2021-06-21 19:53] yonimoses opened #6144 "getOptionalString doesn't return custom keys"
Using the provided api, i can seem to get the custom key:value from app-config.yaml

my code is
`
  const configApi = useApi(configApiRef);
  const key = configApi.getOptional('mykey.instances')
`
my app-config.yaml

`
.
.
.

organization:
  name: My Orgy

mykey:
    instances:
      - baseUrl: http://localhost:8080/plugins/some_external_api
 .
.
.

`

The code is latest (updated the app yesterday

[2021-06-21 20:04] OrkoHunter commented on #6144
Make sure the config has visibility set to "frontend". By default any new configs are only visible in the backend, to prevent accidental leakage of secrets. :)

https://backstage.io/docs/conf/defining#visibility

[2021-06-21 20:24] OrkoHunter commented on #5231
Woah, stalebot is super aggresive here. 😄

@iamEAP I believe we need to remove the label along with re-opening the issue.

[2021-06-21 20:25] OrkoHunter commented on #5231
Re-opening on behalf of @iamEAP

[2021-06-21 22:38] andrewthauer commented on #6132
S3 has the ability to also delete files on the target which might address this issue there. Not sure if the other storage options also have this option.

[2021-06-22 00:09] ananthulasrikar commented on #6142
Closes #6149

[2021-06-22 02:49] #6142 closed

[2021-06-22 05:36] falconbin opened #6155 "catalog - links missing for component"
In the latest backstage, catalog component links missing in the UI even though I configed it in component yaml file(metadata.links).
![image](https://user-images.githubusercontent.com/20329141/122869392-cb87e700-d35e-11eb-8085-9486ab19a41c.png)

## Expected Behavior
The links should be shown in the right panel, refer to below screenshot:
![image](https://user-images.githubusercontent.com/20329141/

[2021-06-22 05:46] freben commented on #6155
These pages are fully under the adopters' control. You'll have to add the various cards that you want, in some arrangement that fits your needs. Here is how the example app adds it on the overview page

https://github.com/backstage/backstage/blob/master/packages/app/src/components/catalog/EntityPage.tsx#L240

[2021-06-22 06:43] falconbin commented on #6155
Thank you, @freben . 👍 The links are now shown. But the appearance doesn't looks well when the title is a bit long:
![image](https://user-images.githubusercontent.com/20329141/122876426-178b5980-d368-11eb-9f39-a935fa6ec5bc.png)

[2021-06-22 07:06] freben commented on #6155
Agreed! That's not nice. Would possibly be in a position to experiment and submit a fix? 🙌

[2021-06-22 07:33] freben commented on #6155
Eh, I got inspired :) https://github.com/backstage/backstage/pull/6156

[2021-06-22 08:00] #6155 closed

[2021-06-22 08:34] TejasQ opened #6157 "Bundling does not behave as expected"
## Expected Behavior
`const { thing } = require('../file');` is expanded into final distribution bundle.

## Current Behavior
Modules imported with `import { thing } from '../file';` syntax are expanded into a single file in `dist` when a project is built, but modules imported with `require` are not. This leads to `require` statements that reference non-existent paths at runtime, because the outpu

[2021-06-22 09:03] vannarath-poeu commented on #4278
Hi @andrewthauer,

I created a PR for the cost-insights plugin. Please let me know if I missed out anything.

[2021-06-22 09:08] wrighbr opened #6160 "Template filter on resource type / system"
## Feature Suggestion
The ability to filter on a resource type / system within template

## Possible Implementation
resource type
[code]

template
[code]
## Context

[2021-06-22 09:51] andrewthauer commented on #639
It almost sounds like a message bus/queue abstraction would be needed for this. It almost definitely will need to be backend driven.

I suspect from an event publisher perspective this would be as simple as having an interface like `eventApi.publish(message)`. Some new backend plug-in could then store a log/queue of the messages and/or forward them to a proper message broker for subscribers to use

[2021-06-22 10:07] freben commented on #639
Yep. This is the reason that it's been lingering for so long - it hasn't been prioritized yet and we feel that the complexity level and design required is pretty significant so we'd have to set aside a fair chunk of time for it. If it should also support plugging in different backends/brokers, we get in the position of needing to design some lowest-common-denominator but also sufficient-and-evolva

[2021-06-22 10:57] rubenLindstrom opened #6161 "Incorrect error message for auth provider"
When attempting to use an auth provider that does not have sufficient registered credentials, such as the AUTH_GITHUB_CLIENT_ID, the error message says that no auth provider has been registered for the attempted method, which is incorrect.

## Expected Behavior

The error message should complain that no credentials where found.

## Current Behavior

The error message says that no auth provider is

[2021-06-22 12:00] Fox32 commented on #5848
We could export them from core, together with the existing empty state images.

[2021-06-22 12:42] benjdlambert commented on #5848
@Fox32 maybe `@backstage/core-components` 👍  as `@backstage/core` is going :wave:

[2021-06-22 13:24] falconbin opened #6164 "[Plugin] catalog - show extra fields in component\overview page"
Is there a way to show extra fields in component\overview page ? currently the overview page only show description, owner,system,type, lifecyle and tags. What if we have more elements ?

## Feature Suggestion
if not, maybe we can show the extra fields behind the last element(TAGS) or in a separate section?
![image](https://user-images.githubusercontent.com/20329141/122931254-4b35a600-d39f-11eb-80c

[2021-06-22 13:30] freben commented on #6164
Sure! If you look in `packages/app/src/components/catalog/EntityPage.tsx`, you'll see that you are in full control of the entire web page structure and experience here. You can try to use the builtin cards and functionality exported from `core-components` and `plugin-catalog`, but you can also make entirely your own.

[2021-06-22 13:31] falconbin commented on #6164
I'll try it tomorrow.

[2021-06-22 13:51] iamEAP commented on #4448
Thanks @OrkoHunter!  I think we got to the amount of configuration we wanted (per-index), so maybe we can keep this closed.

But I definitely anticipate others will have ideas/suggestions/improvements which can come in new issues.

[2021-06-22 13:56] #4782 closed

[2021-06-22 14:41] Fox32 commented on #3579
Seems to be somewhat related: #4111

[2021-06-22 15:51] Fox32 commented on #6031
Having a look at the source code I noticed that this is already implemented, there is just a trivial bug that prevents this from working. I created a PR for it #6165

[2021-06-22 16:40] #6031 closed

[2021-06-22 20:28] yonimoses commented on #6144
looks like I missed these docs!
thanks a lot ;)
Working perfectly.

[2021-06-22 20:28] #6144 closed

[2021-06-23 05:52] falconbin commented on #6164
We can define our own card to show extra information, so closed.
![image](https://user-images.githubusercontent.com/20329141/123043034-479b3100-d42a-11eb-8fed-82c727a6a40e.png)

[2021-06-23 05:52] #6164 closed

[2021-06-23 06:05] falconbin commented on #6164
@freben , can you export AboutField under AboutCard? I have to copy the entire component for our use.

[2021-06-23 06:25] emmaindal commented on #6031
Thank you @Fox32 for fixing this, @rubenLindstrom as you were working on this and just about to open a PR I wanted you to know its solved, but thanks for looking into it anyways!

[2021-06-23 07:35] freben commented on #6164
The field component is already exported as such, but you are right that the card does not accept a custom list of fields yet.

Is that something you would like to contribute? Essentially, the card could accept an optional children prop, `children?: React.ReactNode`. If it is undefined, it renders the current list of fields. If it's defined, it renders only those fields.

This `children` prop will

[2021-06-23 07:40] freben opened #6175 "Make the EntityAboutCard fields customisable"
## Feature Suggestion

The `EntityAboutCard` from `@backstage/plugin-catalog` shows a fixed set of fields. It could be useful to be able to easily replace or amend that set of fields with custom ones, reusing the rest of the card as-is.

## Possible Implementation

The field component is already exported as such, but the card does not accept a custom list of fields yet. The card could be made to a

[2021-06-23 07:41] freben commented on #6164
I made [an issue](https://github.com/backstage/backstage/issues/6175) with that information, so you or somebody else could pick it up at will.

[2021-06-23 08:26] satrox28 opened #6176 "Kakfa plugin error"
Hi,

We are trying to integrate Kafka plugin with Backstage and am getting below error when accessing Kafka tab.

[code]

app-config.yaml
[code]
I have installed the frontend and backend plugin and made the required changes as per the github docs.

https://github.com/backstage/backstage/tree/master/plugins/kafka-backend
https://github.com/backstage/backstage/tree/master/plugins/kafka

Created the

[2021-06-23 09:54] jibone opened #6177 "Backstage search plugin to support partial search with out wildcard"
## Feature Suggestion

Congrats on the alpha milestone. We love where this is going. So we tested out the alpha search plugin with
plugin-search-backend on 0.2.1
plugin-search-backend-node on 0.2.1
plugin-search on 0.4.0

We notice that the search acts a bit different from the previous. For example in our Backstage setup, we have an service entity called "Abacus"
Typing `abac` returns no result.
T

[2021-06-23 10:25] benjdlambert opened #6178 "Scaffolder Timeout using `fetch:cookiecutter` action"
Seen this reported a lot over the past few days but been unable to reproduce, seems ok on current master for which now I believe is probably down to the `yarn.lock`.

Created a new `npx @backstage/create-app` and after everything is running looks like Docker interface is throwing`null` as the error, which gets caught in our handler when we do `} catch (error) { log(error.stack) {` so that handler

[2021-06-23 10:30] benjdlambert commented on #6178
Wonder if this is caused by https://github.com/backstage/backstage/pull/6115

[2021-06-23 10:36] benjdlambert commented on #6178
Confirmed, the cause has been fixed in #6115. The new library used to throw errors which caused `fetch:cookiecutter` to fail when cookiecutter was not installed locally. Will be released tomorrow.

[2021-06-23 10:36] KennyLindahl opened #6179 "New catalog engine produces duplicate groups"
When doing the suggested changes of `catalog.ts` according to [0.3.26](https://github.com/backstage/backstage/blob/master/packages/create-app/CHANGELOG.md#0326) then it produces a multiplication of groups listed in the group and user page.

## Data used

[code]

## Expected Behavior (using old catalog engine)

<img width="657" alt="Screenshot 2021-06-23 at 12 27 21" src="https://user-images.github

[2021-06-23 11:35] ashirley opened #6180 "plugin-tech-radar 0.4.0 lost support for multiple radars"
As part of #5891 and release 0.4.0 of the tech radar plugin, it is no longer possible to have multiple radars in backstage. It used to be possible to define multiple routes in App.tsx and re-use TechRadarRouter with a different getData function for each.

e.g.
[code]

## Possible Solution

The API exposed takes some sort of identifier (title? or a new id prop) in the `load` function so it can diff

[2021-06-23 13:15] benjdlambert commented on #6178
As a workaround for this, ensure that you use `pip` to install `cookiecutter` locally to stop this library from throwing when `cookiecutter` is not installed.

[2021-06-23 13:31] iamEAP commented on #6177
Hey @jibone!  Thanks for trying it out, and opening up the discussion.

We encounter...  Well not quite this discussion exactly, but very similar discussions internally, as we support/maintain different search ranking criteria and biasing for different domains of search.

If you dig through the code, you'll see the `LunrSearchEngine` comes with a default `Translator`, which is responsible for taki

[2021-06-23 13:38] biki0109 opened #6181 "Register step of Scaffolder for Gitlab repository error"
Hi, I'm currently using Backstage for my Gitlab (and in the future for Gitlab Enterprise as well). I often experience the following error at the register step using some of the Backstage sample templates. For this example, I'm using the React SSR template for Gitlab.

## Expected Behavior

The register step should show no error and work just like the normal flow of Scaffolder

## Current Behavior

[2021-06-23 14:02] jsdorababu opened #6182 "can we overrite the static assets/files path during yarn build?"
can we overrite the baseurl only for the static files during runtime or while doing yarn build?

We have a requirement where our base URL is something like https://demo.backstage.io
and want our static files to be stored in location https://demo.backstage.io/myassets

Currently static(or)asset files are stored in bundle in the https://demo.backstage.io/static
but in the server we wanted our static

[2021-06-23 14:02] emmaindal commented on #6064
closing this one as its fixed in #6098

[2021-06-23 14:34] ottosichert commented on #4548
Reopening this RFC to gather some similar work streams around this topic:
- https://github.com/backstage/backstage/pull/3842 (Rocdocs)
- https://github.com/backstage/backstage/issues/3998 (Minimal MkDocs theme)
- https://github.com/backstage/backstage/tree/techdocsx/milestone-0-poc
- (Let me know if you have more relevant items!)

---

### High level goals

- Improve documentation creation experie

[2021-06-23 18:09] erikxiv commented on #6179
I can reproduce the same issue with backstage master and the example data, so seemingly unrelated to GithubOrgReaderProcessor. Checking the data in the database (`final_entities` table) and the api response it seems that the group entities look like they should (parent, children have no duplicates) but there is duplicate `parentOf`/`childOf` relations. Other relations seems unaffected.

[2021-06-23 18:11] freben commented on #6179
I'd guess there's a regression in the dedupe logic in the Stitcher. We'll look into it!

[2021-06-23 19:57] loujaybee opened #6183 "Custom error messages/handling (for plugins and other components)"
Hello, Backstage friends! 🚀

## Feature Suggestion

As a Backstage implementer, I would like greater (or possibly full) control over error states from plugins.

## Context

The example below is from tech docs, but there are other similar scenarios with this plugin and others in our implementation. Currently, the tech docs plugin shows an error message (example below) when the catalog annotation is

[2021-06-24 09:52] #6161 closed

[2021-06-24 11:37] benjdlambert commented on #6178
Fixed with the latest release. Running `yarn backstage-cli versions:bump` should get you up and running! Closing!

[2021-06-24 11:37] #6178 closed

[2021-06-24 13:33] jamesrenaud commented on #2256
@Amir-Abushanab I've added cross-account support (via roleArns) in https://github.com/RoadieHQ/backstage-plugin-aws-auth#using-an-iam-role-for-cross-account which would be extremely useful to include in your implementation (who doesn't use Organizations these days? 😄 )

[2021-06-24 14:05] andrewthauer opened #6200 "[Plugin] Bugsnag"
## Summary

[Bugsnag](https://www.bugsnag.com/) has a similar functionality to `rollbar` & `sentry` but optimized for mobile applications.

## Project website

https://www.bugsnag.com/

## Context

This plugin could follow a similar UI design to the existing rollbar and/or sentry plugins to start.

[2021-06-24 14:45] Rugvip commented on #6157
This is because of our unified build tooling for web and node through rollup. You can do dynamic imports just fine, but you'll need to use the `import()` syntax instead, so in your case `const { thing } = await import('../file/);`

[2021-06-24 15:42] jeannieism opened #6205 "Initially logging in through Okta with a user that does not have permission to Backstage blocks subsequent attempts to log in with the same auth provider as the initial user is stored in cookies"
Currently, I have two Okta user accounts. Account1 does not have permission to access Backstage, Account2 has permission. When I log in with Account1 first, I am unable to enter Backstage because permission has not been granted from an Okta admin. This is expected. However, once I attempt to log in with the correct Okta user (Account2), Account1 is stored in cookies so I am no longer given the cha

[2021-06-24 16:22] GoWind opened #6207 "errorHandler middleware in backend-common throws Exception when serializing errors as JSON"
errorHandler middleware in backend-common throws an Exception when serializing errors as JSON when the error object contains circular references.  As a consequence, instead of the errorHandler logging the error cleanly, further errors are thrown causing issues with the response.

Also the entire stacktrace is returned in the response, leaking unnecessary details to the end user.

Another side-effe

[2021-06-24 19:42] biki0109 opened #6209 "Allow the catalog import client for other Git providers"
Hi, it would be great if Backstage add another plugin for other Git providers, such as Gitlab or Gitlab Enterprise in the search and analyze url step of the catalog import client. This idea maybe has been raised before.

## Feature Suggestion

On this page there are currently 4 steps. Add an additional step at first to select the Git provider using a dropdown or use the Git provider based on the l

[2021-06-24 19:45] freben commented on #6181
As mentioned elsewhere, this is super unexpected - looking at the code it indeed looks impossible that this would happen, but still it did :) We'll have to look into it. If you find any more details or information to share in the mean time, let us know.

[2021-06-24 19:47] freben commented on #6176
@ebarriosjr Do you happen to be around and might know what's up here?

[2021-06-24 19:48] freben commented on #6180
Hi! Yeah an ID prop sounds like a viable solution here. Honestly I don't think we really thought that it'd be a use case with multiple radars, but looking back, it makes sense. Maybe it would be best to make it an optional property, making it a non-breaking change.

Is this something you might be interested in contributing?

[2021-06-24 19:56] freben commented on #4548
@ottosichert Hey! Cool that you are looking into this. However, if I understand the proposal correctly, it sounds like it differs from what this issue discussed. I'm totally open to being wrong about that of course :) But, I wanted to ask, might it make sense to perhaps open a new issue instead, which is more targeted and thoroughly explaining the precise details and client-only aspects of what yo

[2021-06-25 00:00] Joseph-Melberg opened #6210 "Default Docker Build Straight Up Doesn't Work"
Fresh git pull provides a Dockerfile, documentation provides instructions to change .dockerignore to include other things.  Following the given instructions results in a docker image build process that doesn't halt.

## Expected Behavior

The image builds

## Current Behavior

The image fails to build

## Possible Solution

No idea.

## Steps to Reproduce

1. Clone repo
2. replace contents of .doc

[2021-06-25 00:21] #6210 closed

[2021-06-25 01:49] Joseph-Melberg opened #6211 "Default Docker Implementation requires more info than documentation states"
Following the minimal setup as described here (Host Build) https://backstage.io/docs/deployment/docker should result in a function website, but results in errors instead.

## Expected Behavior

Functioning website

## Current Behavior
request for google auth settings

## Possible Solution
No idea.

## Steps to Reproduce

1. Follow steps for host build
2. Run docker image
3. See that it didnt work

[2021-06-25 04:07] biki0109 commented on #6181
Thanks for your reply, if I find anything new I'll post them here.

[2021-06-25 07:14] axdotl opened #6215 ""Failed to load entity types" after upgrade to release-2021-06-24"
After upgrading from [release-2021-06-17.1](https://github.com/backstage/backstage/releases/tag/release-2021-06-17.1) to [release-2021-06-24](https://github.com/backstage/backstage/releases/tag/release-2021-06-24) an error occurs on catalog page (`/catalog`) and the entity type picker is not shown.

## Expected Behavior

Loading catalog page should work w/o errors.

## Current Behavior

An error o

[2021-06-25 08:04] azhurbilo opened #6216 "Bitbucket cloud auto Discovery"
## Feature Suggestion

Now only on-premise bitbucket server supported https://backstage.io/docs/integrations/bitbucket/discovery

It will be great to support Cloud version too https://bitbucket.org

[2021-06-25 08:24] biki0109 opened #6217 "Allow to change the commit's name and email of scaffolder-backend commit function"
Hi, as the title has stated, I would like to have a new feature that allow the user to pass in the commit function new username and email, or use something like the user's login email anything apart from the scaffolder default value when creating a new component.
## Feature Suggestion
![image](https://user-images.githubusercontent.com/48164880/123394157-0725e980-d5c9-11eb-83ac-75f2e98fbd3d.png)

T

[2021-06-25 08:41] axdotl commented on #6215
Closed, because I missed the necessary changes for @backstage/plugin-catalog-backend@0.10.3 from release (release-2021-06-17)https://github.com/backstage/backstage/releases/tag/release-2021-06-17.

After made changes to `catalog.ts` everything works as expected.

[2021-06-25 08:43] freben commented on #6216
Agreed! Would you like to take a stab at making that work?

[2021-06-25 09:48] jvilimek commented on #5807
Thank you very much, @benjdlambert !
Just few days back I have implemented loader via your API and it works like a charm!

[2021-06-25 09:49] #5807 closed

[2021-06-25 09:50] TejasQ opened #6220 "Improve type-soundness by extending the Window interface"
We assert that `window` is `any` in multiple places in this project like so:

https://github.com/backstage/backstage/blob/4f5ef39cb91f61821315db5867fc5803c79a2e1b/packages/core-app-api/src/app/createApp.tsx#L82

This is dangerous because it makes the code unreliable and unpredictable. To remedy this, we can use interface merging to add optional properties to the global `Window` interface that will

[2021-06-25 10:22] freben commented on #6220
Sure! But I'd argue that those types should be local to only the part that uses them and not leak to the outside. So no "central" extension or type.ts file. For your example, I believe the scope of that type would be only inside that exact file (I may be wrong about that! But I think it's only webpack that's the other party that interacts with it) so we could add that type at the top but its value

[2021-06-25 12:30] GoWind opened #6222 "Rendering logic change for SVGs on Techdocs breaks our Backstage instance."
[Commit](https://github.com/backstage/backstage/commit/1b24ae1c7fc7611213bb9d7a0fbbd66726835752) changed the behaviour of the Techdocs plugin for rendering SVGs from browser initiated requests to `Fetch` based requests.
This broke our Techdocs plugin, as all images are considered sensitive and thus not authorized without a valid Authentication Header/Cookie.

Previously, to solve the problem, we h

[2021-06-25 13:20] Jerry4013 commented on #5997
@biki0109 Thanks for your solution! I tried it and it works in most cases. However, one of my python file includes some json-format code, then the detector was stuck there. And also I need to skip all the html and json files.

I'm gonna research more on the reader library and find out the reason.

Thank you again for your information. It helped us a lot!

[2021-06-25 14:32] kuangp opened #6223 "[Cost Insights Plugin] Provide components to display cost info on Entity pages"
## Feature Suggestion

Export components similar to other plugins such as `EntityCostsContent`, `EntityCostsCard`, etc. so that cost data can be embedded on entity pages.

## Possible Implementation

The existing charts/components in the Cost Insights page looks like they could be exported as standalone plugin extensions and possibly powered via entity annotations that define a specific project (a

[2021-06-25 16:17] Spedge commented on #675
Probably no longer relevant as Drone.io has been since purchased by Harness.io.

https://siliconangle.com/2020/08/05/harness-buys-drone-io-automate-software-delivery/

Haven't seen anyone wanting a plugin for Harness, so I think you can probably close this and allow someone with a requirement for Harness.io to raise/lobby for it's addition.

[2021-06-25 16:32] kowsheek commented on #675
Yeah, we've also since migrated to GitHub actions.

[2021-06-25 16:45] freben commented on #675
Alright, thanks for calling that out!

[2021-06-25 16:45] #675 closed

[2021-06-25 18:12] Spedge commented on #675
Haha, woot - first contribution to Backstage :smiley_cat:

[2021-06-25 18:40] ananthulasrikar commented on #6109
@goober I fixed it using apiGroups: ["networking.k8s.io"] in ClusterRole. Hope it helps.

[2021-06-25 18:53] Jerry4013 commented on #5997
Getting file archive with **tar.gz** is the default of Gitlab.  [https://docs.gitlab.com/ee/api/repositories.html#get-file-archive](https://docs.gitlab.com/ee/api/repositories.html#get-file-archive)

On my side, if I modify the packages/backend-common/src/reading/GitlabUrlReader.ts file so that using tar.gz instead of zip, this issue is resolved.

@Rugvip Could you change the @backstage/backend-co

[2021-06-25 21:55] Spedge commented on #675
Hey @kowsheek - did you have any migration scripts or anything? Considering making the same move (Drone 0.8 to Actions)

[2021-06-25 23:19] kowsheek commented on #675
We didn't have any scripts, The migration was pretty straightforward & painless after we did the first one, we did it manually for 6 packages I think.

[2021-06-26 03:03] timbonicus commented on #6223
This definitely makes sense, and is our ideal state internally at Spotify!

The first hurdle is making sure that all costs incurred by an entity are _associated_ with that entity. A backend service, for example, has obvious runtime cost -- such as a VM or kubernetes pods -- but it may also have storage buckets, a database, pub/sub topics, etc. Engineers will naively assume **all** costs for the en

[2021-06-26 11:10] satrox28 commented on #5416
@OrkoHunter Thanks for sharing, Any ETA on when the new home page will be available on Opensource?.

[2021-06-26 14:58] #5388 closed

[2021-06-26 16:29] Crevil opened #6232 "PlantUML as svg_object not rendered in techdocs"
## Expected Behavior

When using the PlantUML plugin in techdocs with the `svg_object` option it should render the drawings.
Available formats are documented in the [`plantuml-markdown` plugin](https://pypi.org/project/plantuml-markdown/).

## Current Behavior

Nothing is rendered as `sanitzeHtml` strips the `object` tag.
This change was introduced in https://github.com/backstage/backstage/commit/

[2021-06-26 16:34] andrewthauer commented on #6176
@satrox28 - Can you provide more context around this error? Is this the response the kafka frontend plugin receives from the Backstage backend? It's a very obscure error and hard to say what is actually the problem. Your setup itself looks fine, so I'm thinking it might be something unrelated specifically the the Kafka setup here. Out of curiosity have you done any customizations to the `discovery

[2021-06-26 16:38] manusant commented on #5956
Hi and thanks for your feedback.
Now that you stated it i've probably copied the content... but sounds a good idea to assign the permissions from the docker file itself.

[2021-06-26 22:16] satrox28 commented on #6176
Hi @andrewthauer

Yes, when I am trying to view the Kafka section can see it make an API call to the backend.

/api/kafka/consumers/kafka-test/backstage-group/offsets

I have created a consumer group as backstage-group on Kafka server already. Do I am missing any on Kafka server side?.

[2021-06-26 22:20] andrewthauer commented on #6176
Do you see any additional info in the server logs? Also have you tried running the server with `LOG_LEVEL=debug`?

[2021-06-26 23:10] benjdlambert commented on #6109
@ananthulasrikar, yeah I think that's a fix for when the groups are hidden because of auth and RBAC, but I think this ticket is more scoped towards those resources / `apiGroups` not existing on everyone's cluster.

[2021-06-26 23:29] satrox28 commented on #6176
@andrewthauer

I have already enabled debug, below are the logs from backstage backend.

[code]

Do you want me to check on Kafka server side?.

[2021-06-27 08:43] goober commented on #6109
Yes. Without correct RBAC you get 403 in response from the cluster. But as @benjdlambert says the ticket is about when the resource is not available at all, hence the 404

[2021-06-27 13:04] satrox28 commented on #6176
As checked in local, am able to get it working.

![Screen Shot 2021-06-27 at 9 00 22 AM](https://user-images.githubusercontent.com/24196271/123545552-95fc4880-d726-11eb-945c-ce11a427836e.png)

Looks like there is some conflict with other plugins which are installed.

[2021-06-27 16:02] matthisholleville opened #6233 "useEntity not working after killing first nodejs process"
Hello,

I'm trying to develop a backstage plugin. When I use the useEntity function directly in my component I get the following error:

[code]

What is strange is that I had no problem when I developed my plugin. I started to get the error when I killed my process node and then restarted.

Would you know from where to tell me if this is a bug or just a bad understanding/use of the method?

## Ste

[2021-06-27 16:16] matthisholleville commented on #6233
Now only by restarting the nodejs process I don't have the same error but the attribute is suddenly undefined

[2021-06-27 16:41] freben commented on #6233
Haven't seen this one before! :)

So this is while developing, which means it's using hot reloading and stuff. And if I understood correctly, you killed the service and restarted it, so I guess it would get a severed connection to the dev server for a while.

Does this happen consistently? Are you doing something exotic at all? How do you kill the process? Doing anything else while his all is goin

[2021-06-27 16:50] freben commented on #6233
Googling for the issue shows people encountering this in weird circumstances where their node_modules folder has gotten in a weird state. Might be worth wiping the working dir entirely, re-cloning and seeing if it persists

[2021-06-27 18:47] matthisholleville commented on #6233
Indeed, by deleting all the node_modules everything works again... Sorry for the lost time and thanks for your answer

[2021-06-27 18:47] #6233 closed

[2021-06-27 18:51] freben commented on #6233
No worries, we learned something! Haha what a bug

[2021-06-27 21:50] #4622 closed

[2021-06-28 04:58] vikramaroskar opened #6235 "Backstage - Oracle DB support - has anyone done it?"
I have seen Sqlite3 as default and Postgresql as a possible.

Has anyone done with Oracle as backend DB?

[2021-06-28 05:54] freben commented on #6235
Just correcting slightly - we are heavily dedicated to postgres, certainly in production - and sqlite is there as a little convenience for local development.

[2021-06-28 06:28] vikramaroskar commented on #6235
Thanks @freben

We're looking to deploy backstage internally into my current workplace' customer's work company. And only Oracle is officially allowed to be used for compliance.

Not sure about how much we'll be allowed to explore/spend t & m on that.

Can you point me to the link for(We've set the stage...)
Will update if exploring that opportunity.
Thanks again.
-Vikram.

[2021-06-28 07:19] iamEAP commented on #6222
Thanks for the report @GoWind!  I like option 2 as well.  If you're willing to contribute as a PR, even better!

[2021-06-28 07:22] freben commented on #6235
On the technical side, the stage is set in a number of ways.

- All database access happens through the [knex library](http://knexjs.org/), which has official support for Postgres, MSSQL, MySQL, MariaDB, SQLite3, Oracle, and Amazon Redshift.
- Database migrations also happen through knex
- We have set up a set of [testing utilities](https://github.com/backstage/backstage/tree/master/packages/backe

[2021-06-28 08:35] fcorti commented on #6235
Hi @vikramaroskar,

if your organization will allow your team to work on this topic let us know because it would be an interesting feature for the product.

Would be great to know if other organizations would be interested. Please drop a message here if interested or contact me in private.

Thanks.

[2021-06-28 08:54] dongyan8912 opened #6236 "[Plugin] grafana"
## Summary

## Project website (if applicable)

## Context

[2021-06-28 09:32] freben commented on #6183
Hey, thanks for writing this up.

The app itself, on a higher level, has the [ability to supply](https://github.com/backstage/backstage/blob/master/packages/core-app-api/src/app/types.ts#L170) "app components" that are used throughout the app. I wonder if it might actually make sense to think in the same way for this problem - essentially your option 2, but with a convention for an optional prop t

[2021-06-28 09:41] sherlockshao opened #6237 "Catalog Overview Page - owner column should use 'display name'"
In the overview table of Catalog Page, the default owner column display the related user/group metadata name.
In our case, the metadata name filed should be an id to ensure the uniqueness(username would duplicate), but we want to view the user's display name in the overview table.

So is it possible to use the 'display name' or another filed as a replacement?

[2021-06-28 10:07] dhenneke commented on #6215
I'm getting the same issue using the old catalog backend and I don't think it is actually fixed yet.

The problem is that the code that was added in https://github.com/backstage/backstage/pull/6093 (sort the entities in the catalog client) can break if field filters are involved, as done in the `EntityTypeFilter`:
https://github.com/backstage/backstage/blob/1d1b197a65660d7a4e7a9ffed9dfaac3152b62ff

[2021-06-28 10:23] #6179 closed

[2021-06-28 11:13] andrewthauer commented on #6183
There is related discussion in #3217 as well but it's purely focused on the empty state. So we could consider this issue partly a duplicate of that one.

I'm not really a fan of using an apiRef for this. There is too much ceremony involved for simply modifying the UI presentation / behaviour. I thin some sort of composition makes sense. A common prop that components expose to override the default

[2021-06-28 11:17] dhenneke commented on #6183
In this particular case, the missing annotation is not really a proper error but more a configuration hint. The code is also not in the linked Reader component but in the [wrapper component `EmbeddedDocsRouter`](https://github.com/backstage/backstage/blob/9258c54f874b8ba1e5a916caa14bfbe47204322d/plugins/techdocs/src/Router.tsx#L47-L63).

Would it be possible to extend the "app-wide component overr

[2021-06-28 11:20] andrewthauer commented on #6176
@satrox28 - I'm a little stumped myself tbh. I think this will required walking the code paths to see what's actually happening. You have the backend stack trace so this should help. Can you see from `at /app/node_modules/@backstage/plugin-kafka-backend/dist/index.cjs.js:79:41` what might be actually going on?

[2021-06-28 11:21] ottosichert commented on #4548
Hey @freben, thanks for your thoughts!

The originally proposed RFC and my follow-up should align on the general technical ideas. What I added on top was the possibility to have a purely client-side rendered flow for e.g. local development.

In production we would have a similar data flow as today, just that the number of layers is reduced. So we still process MD files at build time, just that eve

[2021-06-28 11:29] freben commented on #4760
We believe that this is fixed in the rewritten catalog engine. There may be some corner cases, one of which we are addressing as we speak, but this more general ticket can be closed now.

The intended solution:

- The first location to "claim" an entity with a given reference, wins
- This fact is persisted in the database; there's a connection between the entity in the database, and the location t

[2021-06-28 11:29] #4760 closed

[2021-06-28 11:31] freben commented on #4760
@desktophero This is kind of a separate discussion, but an interesting one. Typically, the V1 and V2 of an API are effectively completely different "things" - even if they may or may not be serviced by the same underlying deployable thing. So you would often choose to have a `MyApiV1` and a `MyApiV2` entity, possibly exposed by the same `MyService` (or two different).

[2021-06-28 11:37] benjdlambert commented on #5098
Closing as duplicate tracked here: https://github.com/backstage/backstage/issues/6217

[2021-06-28 11:37] #5098 closed

[2021-06-28 11:37] freben commented on #639
Adding:

I suppose there are some small tentative steps that could be made instead of worrying about the full scale enterprise grade solution. As mentioned earlier, maybe it is fairly reasonable to design a fairly open ended frontend API, possibly based on Observable or callbacks, that can be subscribed to. And possibly having a basic subscriber that you can use if you want to, that gets all alert

[2021-06-28 11:37] benjdlambert commented on #4364
Closing as duplicate tracked here: https://github.com/backstage/backstage/issues/6217

[2021-06-28 11:37] #4364 closed

[2021-06-28 11:42] benjdlambert commented on #6217
So as mentioned in the other duplicated tickets, I think theres probably step one which we can do pretty simply by supplying config in the `app-config.yaml` as overrides.

But there's also the option to consider later down the line where we could take the email and name from the `IdentityApi` and use those details. This hasn't really made any progress yet, but it's something that we've spoken abou

[2021-06-28 11:43] tudi2d opened #6239 "Mobile & responsive improvements for sidebar"
I would like to work on this :)

With this ticket I want to improve the UX of the Sidebar in Backstage for devices, which are not desktop clients. This ticket is not meant to change the UI of the Sidebar - it should just be better useable across devices.

## Feature Suggestion

- Don't expand Sidebar on click, as it hides most content after already redirecting to the clicked page
- Add a wrapper c

[2021-06-28 11:47] #3065 closed

[2021-06-28 11:55] freben commented on #2876
Hm I see we don't have an active ticket for it - we are in a bit of a "tying up the loose ends" state with the catalog to mark it as beta and then GA. I think what's missing now is to make sure that the frontend has a nice, useful way to see errors that happen "up the chain" - for example, if you register a location that is so broken that we can't even parse the YAML, there's even no output entity

[2021-06-28 12:08] freben commented on #5997
@Jerry4013 We could but, if you have this working, would you want to perhaps make the pull request for it?

[2021-06-28 12:24] freben commented on #6176
Hey, this is the line that throws I guess

https://github.com/backstage/backstage/blob/3cc3d6c41d0377c0f7e5d5ae3083be39e4c66108/plugins/kafka-backend/src/service/router.ts#L54

So it can't find the cluster you try to address with your URL. This should obviously be improved to throw a 404 instead of bombing!

And looking at the config you provided, there seems to be a typo, you call it `kakfa-test`

[2021-06-28 12:25] 4integration opened #6240 "Issues using LDAPS (ActiveDirectory) UNABLE_TO_GET_ISSUER_CERT_LOCALLY"
Trying to connect Backstage to LDAPS (Active Directory) but I get `UNABLE_TO_GET_ISSUER_CERT_LOCALLY`.

Tried the following
[code]
No change

Tried to add `cafile` to both yarn and npm containing bort server certificate and Issuing CA in a bundle
[code]
No change

Tried to add the certificate to OS (Using devcontainer and `mcr.microsoft.com/vscode/devcontainers/typescript-node:0-14` (Debian) )
[co

[2021-06-28 13:06] vikramaroskar commented on #6235
@freben Thanks for the doc and details. Helps me a lot.

@freben @fcorti Like I said, I'm not sure, whether I would find t & m for that in my current work engagement model. Would be sharing this issue/page as a reference for higher ups to make an informed decision.
But am sure, more people would definitely find it useful otherwise as well.

Thanks.
Vikram.

[2021-06-28 13:23] emmaindal commented on #5416
Hey, our team will be working on parts of this during the summer so will assign it us for now and you will be able to track issues in a milestone sometime next week!

[2021-06-28 13:25] andrewthauer commented on #4548
In general, I think this could streamline the experience, but is likely a very big undertaking. It sounds like this would be an entire docs editing & rendering platform (parts of it being from the ground up). I can't say I would miss the python specific markdown oddities that come with MkDocs though.

I would not want to rely on `mdx` for any standard/common markdown features that are handled in C

[2021-06-28 13:26] kuangp commented on #6223
Thanks for your inputs Tim! We definitely understand and agree that proper cloud cost attribution is a difficult problem to solve and something we're also struggling to get right but the Cost Insights plugin has definitely been valuable in surfacing this data for teams.

[2021-06-28 13:39] freben commented on #6235
Yeah for sure, and our intent and desire to support multiple databases has been there from the start. I personally also think that it is important. We'd love to find someone to help make the final pieces fall into place.

[2021-06-28 13:41] freben commented on #6235
Hey would you mind if I converted this into a question instead under Discussions? Then we can make an issue specifically asking for the Oracle support, and other database vendors can follow later. It's perhaps easier for others to find this question there, and it's probably easier to field for help / input in the form of a feature request ticket. I can help write the latter one with some details o

[2021-06-28 13:44] #6235 closed

[2021-06-28 13:46] ottosichert commented on #4548
There are existing React components capable of rendering Graphviz Dot diagrams, e.g. [`graphviz-react`](https://www.npmjs.com/package/graphviz-react). Also directly available as `remark` plugin which fits into MDX: https://www.npmjs.com/package/@shedali/remark-graphviz

Similarly for PlantUML: https://www.npmjs.com/package/@akebifiky/remark-simple-plantuml

I would aim towards an integrated soluti

[2021-06-28 13:50] onematchfox commented on #6069
Also ran into this/a similar issue... In my case all my navigation links are broken as the techdocs reader is appending `index.html`  to all menu links. Tracked this down to the following line of code: https://github.com/backstage/backstage/blob/d1030eb8bb578aee2ad09925f81cf7d8c06224bc/plugins/techdocs/src/client.ts#L162-L167

Not 100% sure my understanding of this code is correct... But, I could

[2021-06-28 13:57] freben commented on #6176
Made a pull request to clarify ^

[2021-06-28 14:05] Jerry4013 commented on #5997
@freben Yes, sure. I would like to submit a pull request for it today. Thanks!

[2021-06-28 14:11] iamEAP commented on #6069
Hmm...  Yeah, something doesn't quite feel right.  Is this happening on all of your Docs sites or only some?  Can you share a snippet of an `mkdocs.yaml` `nav` key?  Wondering if there's something unexpected about the way pages are set up there.

[2021-06-28 14:13] mclarke47 commented on #5511
Still relevant

[2021-06-28 14:21] andrewthauer commented on #4548
Yep, there is `d3-graphviz` which is what it's using. However, it wouldn't be feature complete afaik (supporting `dot` format only I believe). However, maybe that's not an issue in most cases.

This also uses the PlantUML server proxy (see [plugin options](https://github.com/akebifiky/remark-simple-plantuml#plugin-options)). PlantUML is quite complex so I can't see it being possible to replicate 1

[2021-06-28 14:25] freben commented on #6157
@TejasQ Could you verify if this works for you and close the issue if it does?

[2021-06-28 14:29] benjdlambert commented on #5441
Related #6217

[2021-06-28 14:30] andrewthauer commented on #6176
Oh wow. it was literally a character switcheroo 😢. I think I looked at that at least a few times and it didn't stick out to me. My eyes are not as they used to be :(

[2021-06-28 14:34] Rugvip commented on #5956
Haven't seen `chmod +x` used in docker images much, and looking at a couple of different official images they don't use it either, e.g. [couchbase](https://github.com/couchbase/docker/blob/5929be778eb5306f116f71cc9a0a23fea6d9a7aa/enterprise/couchbase-server/7.0.0-beta/Dockerfile#L66) and [redis](https://github.com/docker-library/redis/blob/4422738bea4a9d38971a87fc820525864bb5ff62/6.2/Dockerfile#L1

[2021-06-28 14:58] onematchfox commented on #6069
On all of them. Even happens when rendering Backstage's own `mkdocs.yml` - https://github.com/backstage/backstage/blob/master/mkdocs.yml

[code]

[2021-06-28 15:26] iamEAP commented on #6069
@onematchfox, are you on at least `v0.9.6` of the TechDocs plugin?  There was a related [fix](https://github.com/backstage/backstage/blob/master/plugins/techdocs/CHANGELOG.md#096) in that version...  Just want to make sure.

[2021-06-28 15:35] loujaybee commented on #6183
The most promising option on paper seems like the idea of having a centrally configured component, which could maybe take some props like an error code (and possibly a plugin namespace), and allows you to provide some case-like switch statement to check for the plugin + error code. But I guess that convention needs to be adopted throughout all components.

That's true, we could make a helper for t

[2021-06-28 15:43] iamEAP commented on #6232
Hey @Crevil!  Unfortunate that the details are not really well-linked in that commit.  For a little bit more detail, check [this out](https://github.com/advisories/GHSA-gg96-f8wr-p89f).

You should be able to swap out `svg_object` for `svg_inline` to get the same set of features as you had previously.

[2021-06-28 16:01] Rugvip opened #6245 "auth-backend: implement auth handler and sign-in resolvers for more auth providers"
## Background

The Google auth provider has adopted a new pattern for making the authentication more configurable in #4532. The PR added a way to configure both an auth handler and a sign-in resolver, with both of them being callbacks that are called at different points of authentication.

The auth handler is responsible for validating each login and generating a lightweight profile for the user w

[2021-06-28 16:50] GoWind commented on #6222
Awesome. I will send a PR soon :)

[2021-06-28 17:01] Crevil commented on #6232
That makes sense, thanks for linking that up.

Should we add a notice to the tech-docs plugin documentation that the `svg_object` is not allowed? Maybe with a link to the advisory?

[2021-06-28 17:19] ottosichert commented on #4548
I indeed missed that! Then I see your point, it might be possible to use something like https://github.com/markushedvall/node-plantuml to generate the images at build time (with a local server), but client-side runtime only won't work easily.

I would argue this is a very popular and justified standpoint. To connect some dots and give an example, issue https://github.com/backstage/backstage/issues

[2021-06-28 17:46] joeporpeglia opened #6249 "Microsite: Search input alignment"
The following scenarios result in a broken looking UI for the search input in the microsite nav:
- Viewing the microsite in a 1030px wide viewport
- Focusing the input on a 1440px wide viewport

## Expected Behavior

Nav should switch to stacked UI if there is no space for the search input.

![image](https://user-images.githubusercontent.com/1399969/123680594-e2bf4c80-d816-11eb-89fd-c35e22ef6470.p

[2021-06-28 17:57] #6215 closed

[2021-06-28 18:05] onematchfox commented on #6069
Yes, I am running `v0.9.7`. Not sure that fix is my issues as the link looks correct in the rendered site - e.g. in the nav above the link to `Contributing` is http://localhost:3000/docs/default/Domain/xyz/contributing.html`. It is only when clicking on the link that the extra `/index.html` gets added to the request that is made. I debugged in the browser and the additional suffix seems to be comi

[2021-06-28 19:15] kjost-splunk opened #6250 "Add AWS s3 integration for reading data from s3 buckets"
## Feature Suggestion

I want to add AWS S3 integration to read data from a s3 bucket. This can be like the data reading integration that already exists for Google GCS ([GoogleGcsUrlReader.ts](https://github.com/backstage/backstage/blob/4045eaab952fec349e443990330bd1ac5b2c9c18/packages/backend-common/src/reading/GoogleGcsUrlReader.ts)).

I would like to work on this.

## Context

For the purpose o

[2021-06-28 19:23] freben commented on #6250
Sure, cool! Assigned.

[2021-06-28 19:56] seant-splunk commented on #6250
Hello, I am working alongside kjost-splunk on this issue. Would you mind assigning me to this issue as well?

[2021-06-28 20:28] andrewthauer commented on #4548
I wouldn't see any issues if both syntaxes are supported for this (MDX & old school code fenses). I've used `remark` in the past, and it's quite powerful with a very extensive eco-eystem. So being able tapping into that would be ideal.

It does feel a little like this proposal is overlapping with what `gatsby` and `next.js` provide though. Prior to adopting `Mkdocs`, I looked at using [Docz](https

[2021-06-28 21:19] OrkoHunter opened #6251 "docs: Document how URL Readers work and how to write a new one"
This documentation will be useful for Backstage developers. Things the document should explain

- Concept of URL Readers (authenticated way of reading and searching source files and trees from external locations)
- How they work (injected in backend environment, ETag based caching in readTree, search, integrations config)
- How a plugin can make use of it (take TechDocs for example)
- How to write

[2021-06-28 22:59] satrox28 commented on #6176
@freben

Thanks for pointing it out. I had typo in my original config too, fixed and able to get it working on our Prod too now.

[2021-06-29 02:19] adrianke77 commented on #5712
@OrkoHunter I've been looking at this off and on the last week or so and have had no headway, partially also from not being sure how to debug python modules in this situation. Could you take a look at this again? My best effort at the docker container we use for development is below:
[code]

[2021-06-29 04:03] freben commented on #6176
Nice! Closing the issue for now.

[2021-06-29 04:03] #6176 closed

[2021-06-29 05:27] #4982 closed

[2021-06-29 06:52] iamEAP commented on #6232
That's a great idea. Was looking for a good spot... Maybe under troubleshooting?

[2021-06-29 07:10] Fox32 commented on #6237
You should already be able to replace the owner column with a custom one, that has this behavior. You can pass [`columns` to the `CatalogTable` ](https://github.com/backstage/backstage/blob/master/plugins/catalog/src/components/CatalogTable/CatalogTable.tsx#L54) which can be different from the [`defaultColumns`](https://github.com/backstage/backstage/blob/master/plugins/catalog/src/components/Cata

[2021-06-29 07:43] sherlockshao commented on #6237
Thank you, It's a kind of solution, but currently I only need to customize the owner column.
So is it possible to export the [columnFactories](https://github.com/backstage/backstage/blob/master/plugins/catalog/src/components/CatalogTable/columns.tsx), so that I can use the other default columns.

[2021-06-29 08:09] Fox32 commented on #6237
Oh, if they aren't, that is probably a mistake. Or they are exported by `catalog-react`, not sure though

[2021-06-29 08:20] #5833 closed

[2021-06-29 09:01] iamEAP commented on #6069
Looking at the URL you pasted, I have a feeling this is a mismatch between how TechDocs _expects_ nav links to have been generated by mkdocs vs. how they are being generated in your setup.  I think TechDocs is expecting `static/docs/default/Domain/xyz/contributing/` (or similar), and then adds the `index.html`.  So I'm thinking there's something unique about plugins you're using to generate the do

[2021-06-29 09:19] sherlockshao commented on #6237
Find it, let me try.

[2021-06-29 09:23] freben commented on #6237
Just a small hint. I think it can easily get a bit expensive to fetch the names of these users. You will probably want to use some heuristic so that you can choose to either batch-fetch users by their refs if it's a small number of them, or get all users and groups with carefully sliced out `fields` (so the response doesn't get huge) once upfront, and pick among those.

When we get around to front

[2021-06-29 09:26] freben commented on #6236
Thanks! Could you flesh out the description a little perhaps, possibly with some ideas on how it might work and what parts of the interface might be affected, etc? Would be great for inspiration and discussion.

[2021-06-29 09:34] freben commented on #6239
Nice. When you mention the scrollable / size limited stuff, do you mean you'd apply something akin to a min-height to those or something?

[2021-06-29 09:35] freben commented on #6239
Swipe open the sidebar with touch gestures would be nice too, if we don't already have that. I believe the MUI sidebar stuff has support for that now?

[2021-06-29 09:42] freben commented on #6209
The intent here is that you should be able to paste any URL, for any provider that your org has configured, and it should "do the right thing". So I think there should not need to be a picker as such upfront.

Extending the capabilities of this plugin is highly desirable though! Both in the flow of importing existing yaml files, and in the "suggest creation of a new yaml file" flow.

[2021-06-29 09:46] freben commented on #6211
Hey!

The docker flow doesn't "add" or fix anything as such - what you see is just the result of it needing more env variables passed, to be able to start. Your local dev experience would be similar; it won't have a functional google auth either, but it chooses to be less noisy (not blocking startup) to make the dev experience a bit less jarring and let you resolve that particular issue at your ow

[2021-06-29 09:47] freben commented on #6207
Oof! I'll look at fixing that

[2021-06-29 09:56] ngranander opened #6258 "[Plugin] XCMetrics"
## Summary

A front end for viewing XCMetrics data.

## Project website

https://xcmetrics.io

## Context

Some users need to keep track of the well being of their build systems in order to maintain and improve them.
The goal of this plugin is to make it easier for those users to access and analyse metrics gathered by XCMetrics.

An explanation of XCMetrics and a sample front end can be seen in th

[2021-06-29 09:57] tudi2d commented on #6239
Yes. I replaced the min-height with height for the page & added a wrapper component used for the plugins & shortcuts in the sidebar.

Good point - that would be nice indeed! I went through the MUI docs, found the [Drawer](https://material-ui.com/components/drawers/#drawer) & will give it a go. Thanks! :)

[2021-06-29 09:58] freben commented on #6207
OK I have been trying this out. In a route:

[code]

this is handled correctly:

[code]

So I am curious why your occurrence of circularity wouldn't been handled. We do have an explicit serialization in place which is [supposed to handle](https://www.npmjs.com/package/serialize-error) these

[2021-06-29 10:01] freben commented on #6207
Is this error object somehow under your control? Is it expected that it contains an `EventEmitter` really?

[2021-06-29 10:06] freben commented on #6207
If you check the serialization library's [documentation](https://www.npmjs.com/package/serialize-error), it says "Non-error values are passed through. Custom properties are preserved.", and "If the input object has a .toJSON() method, then it's called instead of serializing the object's properties. It's up to .toJSON() implementation to handle circular references and enumerability of the propertie

[2021-06-29 10:12] grumpyoldman-io commented on #639
I'm wondering if the database is not a step too far, I think having a back-end message broker that just emits (also to the client) and handles event catching is enough. You could leverage the `visibility` property as with config schemas and output ephemeral events. If you wish to store events, or port them over to a third party solution, you can always create a simple plugin to do that.

Plugin A

[2021-06-29 10:20] GoWind commented on #6207
I will investigate a little bit more deeply. The entire structure of the object is not clear to me at the moment. (perhaps) the object that extends the `EventEmitter` has a custom `.toJSON()` method. Will investigate further and update this ticket, if it is still a bug in the middleware.

[2021-06-29 10:41] akibabu commented on #6245
Don't have the bandwidth to try this out, but casting my vote on Okta and GitHub :grinning:

[2021-06-29 11:05] freben commented on #6207
It could be, that it might make sense to switch out the serialisation library to one that handles this better (and which does descend into even "unknown" values and treat them as well). But yeah before diving into that it would be neat to see if there are more learnings or alternative paths to take to avoid the situation.

Could also be really thorough and do custom JSON.stringify as you mention,

[2021-06-29 11:16] freben commented on #639
@grumpyoldman-io The thing is, if there is no backing system behind it, message fanout and distributed message delivery come into play. What if you have a distributed deployment with multiple hosts, possibly on different continents? :) And what do "proper" channels mean - what's the distribution / subscription mechanism? Who is targeted by a given event? Etc.

It's just overall tricky.

But anyway

[2021-06-29 11:40] freben commented on #6205
Hi!

Hm, ok. So, not entirely sure while observing this at a distance, but it seems that there may be two things of note going on here.

- The multi-provider sign-in page is used, which has a behaviour of remembering what the last picked provider was (in the browser's local storage). So the second time around, the user seems to get fast-tracked onto the okta flow.
- Okta itself, when challenged fo

[2021-06-29 11:53] Joseph-Melberg commented on #6211
Ah, so I need to get it running without docker first, and then dockerize
it.  That makes sense, thank you!

On Tue, Jun 29, 2021 at 4:47 AM Fredrik Adelöw ***@***.***>
wrote:

[2021-06-29 12:45] freben commented on #6240
Can you make it work when running locally? Probably best to start there, to be sure that the environment isn't putting road blocks in our way.

And this may sound crazy - but are you sure that it's ldaps: rather than just ldap:? Very out-there idea, but let's double check anyway :)

[Here's some info](https://stackoverflow.com/questions/31673587/error-unable-to-verify-the-first-certificate-in-node

[2021-06-29 13:16] jeannieism commented on #6205
The multi-provider sign-in page seems to remember the last successfully logged in user for each provider. So if I'm logged out, but have previously successfully logged through Provider1 and Provider2, upon the login page, selecting either Provider1 or Provider2 will automatically log me in—giving me no choice in selecting a different account for Provider1 or Provider2 if desired.

This issue may b

[2021-06-29 13:26] jamesrenaud commented on #5510
Just in case anyone is watching this issue, I've created PR #6262 with some screenshots.

[2021-06-29 15:07] freben commented on #6205
Yep got it! But, I think there are two layers to the okta rejection. One is that you provide valid credentials (or get fast-tracked somehow), which actually we never will see. Then, and again I can't know entirely for sure, it seems to me that it actually rejects access in such a way that WE see a rejection after all, even though the credentials were right.

Let me back up a bit and turn this prob

[2021-06-29 19:34] jeannieism commented on #6205
This is all great information for us to have in our back pockets—thank you! I'm sure we'll figure it out if/when we want to improve the login experience on our end.

Enjoy your day off!

[2021-06-29 19:34] #6205 closed

[2021-06-29 21:46] codingdiaz commented on #5041
We are experiencing this same issue currently. Software templates are a core feature we are ready to implement but, this unfortunately is blocking us.

[2021-06-29 21:58] erikxiv commented on #5041
Fixed by #5202

[2021-06-29 22:53] chrisccoy commented on #6236
I vote for something that is akin to the roadie plugin for Datadog. e.g., the ability to link to and visualize dashboards and graphs in one place. I think they'd be fairly similar in terms of implementation.

[2021-06-29 23:42] jcarres-mdsol opened #6269 "Allow system in systems or domains in domains"
## Background

In our company we have services that are deployed as multiple containers.
Let's say the User service is an API container , a worker container in charge of notificaitons, another container dealing with audits, etc.
This service is part of what we call the platform which itself is part of our SaaS offering
In backstage terms I think the proper way would be:
- component = Each containe

[2021-06-30 01:48] #6211 closed

[2021-06-30 03:55] roylisto opened #6270 "Edit Button to open yaml file on Group Profile card"
## Feature Suggestion

![image](https://user-images.githubusercontent.com/33563774/123899461-74eb6000-d991-11eb-9be0-1efe34e54fee.png)

I want to add an Edit Button to Group Profile card, for example when we see this page https://demo.backstage.io/catalog/default/group/acme-corp it doesn't have any edit button like other entities

## Context

For making it easy to open and edit the YAML file and t

[2021-06-30 06:14] 4integration commented on #6240
Thanks @freben for your input
I got it working locally (still with devcontainers) by setting this:
`export NODE_TLS_REJECT_UNAUTHORIZED=0` and yes we are only using ldaps.

I guess it has something to do with how NodeJS handles this and we are currently in a PoC of Backstage so no big deal since I now could try out the LDAP integration.
If/when we decide to implement Backstage we will throw some m

[2021-06-30 07:17] #6270 closed

[2021-06-30 09:15] nadworny commented on #5712
@OrkoHunter @adrianke77 you won't believe but it's a one-liner 😮
Before:
`RUN echo $'#!/bin/sh\n\njava -jar '/opt/plantuml.jar' ${@}' >> /usr/local/bin/plantuml`
After:
`RUN echo '#!/bin/sh\n\njava -jar '/opt/plantuml.jar' ${@}' >> /usr/local/bin/plantuml`

Just remove the first `$`. It seems that these different base images are interpreting this line differently.

[2021-06-30 11:12] nadworny commented on #4359
hey @OrkoHunter, are you working on it or should I support you somehow?

[2021-06-30 11:16] andrewthauer commented on #6269
Curious, are your different role containers deployed at be the same time? Is the related code in a single repo or multiple?

Have you thought about using `subcomponentOf` to model some of your containers instead of parts of a system directly?

As for domain of domain it sounds like you asking for sub domain support. This probably makes sense  and could be useful. However, I think the relation type

[2021-06-30 11:24] sherlockshao commented on #6237
Sorry for late update, because I'm still working on how to retrieve users' display name if they are already in database by default behavior.
I just found the front end call `/entities?filter=kind=component`, and with seldom users info(metadata name, namespace, kind) include in respond.
I wonder if I can pass some filter to get users' display name, and if It's the best practice for the time being.

[2021-06-30 11:44] dongyan8912 commented on #6236
Thanks, Grafana is similar to Datadog, I used  it to visualize dashboards  and graphs. Sometimes  maybe authorize it use personal account. Now I have  use Datadog to visualize Grafana's dashboards. But I hope we can develop the grafana plugin for us.

[2021-06-30 13:37] freben commented on #6237
No, that's not possible.

Those three (kind + namespace + name) are [the triplet that uniquely identifies](https://backstage.io/docs/features/software-catalog/references) a given entity, so it's the "ID" of the target of the relation. The API has no graph edge traversal capabilities. As mentioned in the comments above, you will have to take those "IDs" and make additional calls to the catalog to g

[2021-06-30 13:48] sherlockshao commented on #6237
OK, got it. Thank you very much.

[2021-06-30 14:01] freben opened #6281 "Implement additional database support"
## Feature Suggestion

Implement official support for more databases!

Backstage has been prepared from the start to support multiple databases, and a lot of the ground work is in place - we use the [knex](http://knexjs.org/) library for both database queries and migrations, and we are mindful of different database engines when constructing the different plugins. We also have [some support in plac

[2021-06-30 14:16] benjdlambert commented on #6281
One would assume that we **should** have support for Redshift already as it's Postgres compliant. Worth a try though to confirm first maybe.

[2021-06-30 14:34] jamesrenaud opened #6282 "[Plugin] Lighthouse Basic Authentication Support"
## Summary

The lighthouse CI server supports setting a basic username and password combo to protect data viewing https://github.com/GoogleChrome/lighthouse-ci/blob/main/docs/server.md#security. The current plugin does not support specifying tokens for viewing the data.

## Context

It would be advantageous if in the `app-config` setup for the Lighthouse plugin if we could set some sort of authent

[2021-06-30 15:03] freben commented on #6160
Hi! Yeah this is an interesting discussion to have.

Not to get overly meta, but there's a balance to be had, for what Backstage offers as (1) fixed functionality, (2) config-driven-tweakable functionality, or (3) user-replaceable pluggable functionality. Regarding this particular case, the question is what is best and most useful - should we

- Add a number of fixed options to the field, for just

[2021-06-30 15:12] freben commented on #6281
Yep and since it has a dedicated entry in the knex docs, it led me to believe it at least had some different behaviours somewhere - perhaps in the database creation stuff at least, or regarding auth.

[2021-06-30 15:15] freben commented on #6281
I think this in general goes for some of the hosted solutions, right? It may be the case that they have some layer of service account auth or other things that get in the way of the full end-to-end picture - even if the SQL queries that run inside the finally established connections happen to be exactly compliant

[2021-06-30 15:16] ravargs opened #6284 "OKTA auth provider not found error"
I tried configuring OKTA authentication as per the documentation. But when try to login through OKTA getting the message	"Unknown auth provider 'okta'"

## Expected Behavior

Application should present with the OKTA credentials pop-up page and login workflow should happen

## Current Behavior

On clicking the Okta login getting the below error.
[code]

## Steps to Reproduce

1. Step 1
Clone the re

[2021-06-30 15:50] mtlewis opened #6285 "[scaffolder] add a node-based templating action"
## Feature Suggestion

Create a new scaffolder action which only uses node.js dependencies that templates can use instead of `fetch:cookiecutter`. This new action would be an addition alongside `fetch:cookiecutter` and not a replacement. This proposal doesn't imply removing or changing `fetch:cookiecutter` in any way.

## Possible Implementation

We no longer support running any additional scripts

[2021-06-30 16:36] jcarres-mdsol commented on #6269
Good questions.
Yes, one system/service lives in one repo and multiple containers may be deployed out of this codebase. Obviously the starting point of each container is differnt but they may share a bunch of things, like the models to access the DB.

If I understand your `subcomponentOf` suggestion, you are saying that the service should be a component and the containers be subcomponents of that?

[2021-06-30 16:41] chaseajen opened #6286 "[scaffolder] Update default templates to use new templating action"
## Feature Suggestion

Update the scaffolder templates which currently use the `fetch:cookicutter` action to use the new nodejs-based templating action created in #6285.

## Migration plan

The plan below is one potential option; however, other migration plans should be explored based on desired template distribution plans. @backstage/maintainers please let us know your thoughts.

### Possible pla

[2021-06-30 16:49] benjdlambert commented on #6285
https://mozilla.github.io/nunjucks for reference too. Thinking that `jinja-js` is a little unmaintained and a little inactive for consideration maybe.

[2021-06-30 19:27] kuangp commented on #5310
Apologies here as it seems I removed the performance improvement from https://github.com/backstage/backstage/pull/5435 with my #5984 change

It looks like `EntityListProvider` will need to support some sort of entity field selection configurability (maybe similar to how the custom filters are applied?)

@timbonicus it looks like you left a TODO here that considered this https://github.com/backstag

[2021-06-30 19:28] chuliang014 opened #6287 "How do we identify github enterprise projects with github.com/project-slug"
Hi,

How do we identify github enterprise projects with `github.com/project-slug`?

![image](https://user-images.githubusercontent.com/56138162/124019248-ae29cd00-d99d-11eb-8b9c-46d476a6558b.png)

Is `github.com/project-slug` in effect with `View source` button?

I tried to configure it, but it could not point to the source code.

My project is in Github Enterprise, and I configured in this way `g

[2021-06-30 19:34] kuangp commented on #6287
`github.com/project-slug` is the correct annotation, for GHE, I believe you would have to configure `integrations.github` in your `app-config.yaml`: https://backstage.io/docs/integrations/github/locations

[2021-06-30 19:48] chuliang014 commented on #6287
Yes, I've configured it like below, but the `View source` still not point to my GHE project.

![Xnip2021-06-30_12-46-51](https://user-images.githubusercontent.com/56138162/124022203-59885100-d9a1-11eb-8e24-d38ff3d5d966.jpg)

[2021-06-30 20:03] kuangp commented on #6287
hm, are you specifying `<github-org>/<repo-name>` for the value (eg. `backstage/backstage` for this repo)? You post says you tried `github.com/project-slug: <repo-name>/<project-name>` which looks like its different from the expected value according to https://backstage.io/docs/features/software-catalog/well-known-annotations#githubcomproject-slug

[2021-06-30 20:15] chuliang014 commented on #6287
I just changed `github.com/project-slug: <repo-name>/<project-name>`  to `<github-org>/<repo-name>`, but also did not work...

[2021-06-30 20:24] kuangp commented on #6287
Is the "View Source" button currently linking to public github.com right now? ie. `https://github.com/<github-org>/<repo-name>/<path-to-catalog-file>` ?

[2021-06-30 20:30] chuliang014 commented on #6287
It is linking to GHE now. like `https://ghe.<my-company>.io/<github-org>/<repo-name>/<path-to-catalog-file>`.
One thing I want to mention is that the repo of my Backstage and the repo of catalog file is from different.
Will this have an effect?

[2021-06-30 20:39] kuangp commented on #6287
Having different repos shouldn't have any effect, that's the intended setup where your entities in Backstage are usually backed by a catalog file living in their respective repos.

It looks like it's working now for you? I'm assuming the entity page was updated after you made the `<github-org>/<repo-name>` change but there was a delay because of the catalog refresh interval where changes are picke

[2021-06-30 20:51] chuliang014 commented on #6287
emm.  It is just linking to the path to catalog file, but i'd like to redirect to the repo of my Backstage, just like this demo https://demo.backstage.io/catalog/default/component/backstage.  I click the `View Source`, it will redirect to Backstage repo, not catalog file.

[2021-06-30 20:57] Rugvip commented on #3367
Fixed by #5328

[2021-06-30 20:57] #3367 closed

[2021-06-30 21:23] kuangp commented on #6287
Ah, I may of misunderstood here and I think I may have been mistaken about the use of the `github.com/project-slug` annotation. If you want to customize where the "View Source" button links to you can use the [`backstage.io/view-url`](https://backstage.io/docs/features/software-catalog/well-known-annotations#backstageioview-url-backstageioedit-url) annotation.

By default, it does link to where ev

[2021-06-30 21:34] GoWind commented on #6245
I can take a shot at this for the Generic `OAuth2` authentication provider. Also I noticed that I can improve the documentation around Identity and Authorization a bit more as a part of the task.

[2021-06-30 22:50] rmanny opened #6288 "CLI: Rollup does not build some packages correctly"
I have been having issues with using AWS SDK v3 from the backend, since it depends on uuidjs. uuidjs targets browser by default, and must explicitly use a `exportConditions: ['node']` flag to build the correct version. If I am understanding the Backstage code correctly, this is missing from the rollup args used in the bundler.

[This Rollup issue](https://github.com/rollup/plugins/issues/695) is p

[2021-06-30 23:43] estahn opened #6289 "[Techdocs] Tiny headers"
I've moved our first docs into Backstage, which was using Material for mkdocs. Unfortunately, the headers look all fairly tiny. Is this an issue with the config or is that just how the theme looks.

![image](https://user-images.githubusercontent.com/362174/124044301-792a8280-da50-11eb-9266-4a6cff3f9a91.png)

## Expected Behavior

The ratio between header and text should be "better", e.g. similar t

[2021-06-30 23:58] chuliang014 commented on #6287
Yep. We have been integrating

yep, do you have template for `backstage.io/view-url`? I configured it with `backstage.io/view-url: https://ghe.mycompany.io/<org-name>/<repo-name>`, but still not work

[2021-07-01 00:07] adamdmharvey commented on #6287
@chuliang014 Check out the documentation here if it helps:

https://backstage.io/docs/features/software-catalog/well-known-annotations#backstageioview-url-backstageioedit-url

[2021-07-01 00:56] chuliang014 commented on #6287
For `View Source` button, should use `backstage.io/source-location:`. now it works.

[2021-07-01 01:05] kuangp commented on #6287
ah, sorry for the confusion, the `backstage.io/view-url` annotation corresponds to the view button under the Actions column in the catalog grid
<img width="108" alt="Screen Shot 2021-06-30 at 8 59 16 PM" src="https://user-images.githubusercontent.com/6998196/124049365-477cd180-d9e6-11eb-8c14-2d47084bee86.png">

hm, its a bit strange that this button is not consistent with the "View Source" button

[2021-07-01 01:08] chuliang014 commented on #6287
Yes, I think this might be added to docs for clarify. BTW, it is really thanks for your help.

[2021-07-01 07:52] loujaybee commented on #6250
@seant-splunk / @kjost-splunk we also need this feature, let us know how you get on and if you need any support, we potentially can implement, also.

[2021-07-01 07:55] #6180 closed

[2021-07-01 08:53] grumpyoldman-io opened #6296 "Use OAuthProxy as authentication method"
Hey there, in our company we use a [Oauth2 Proxy based authentication method](https://github.com/oauth2-proxy/oauth2-proxy), which when authenticated exposed a header to the underlying application with the identity of the user. I was wondering if someone could point me in the right direction to use this as an auth method.

I've tried creating a custom plugin with custom ID provider, but the client

[2021-07-01 11:45] camilaibs opened #6298 "Download tar.gz archive getting 403 Forbidden for Bitbucket"
According to this [message on Discord](https://discord.com/channels/687207715902193673/714754240933003266/859610554338770975), we are getting an error with the Bitbucket URL reader on techdocs generation:
[code]

Thanks **@matt** for reporting and @iamEAP , @OrkoHunter for debugging help 🙌🏻 !

## Expected Behavior

Be able to generate documentation for an entity fetching the source markdown files

[2021-07-01 11:46] camilaibs commented on #6298
Hi @goober do you have any idea?

[2021-07-01 11:47] andrewthauer commented on #5479
Although you can add an entity link to accomplish this, I think. having a proper plugin would be beneficial.

Having a well known annotation along with a component that can list all entities across the catalog that have storybooks would be nice. The plugin could also provide a simple storybook card that with a link to the deployed storybook site.

[2021-07-01 12:36] kuangp opened #6301 ""View in Catalog" button in scaffolder no longer appears with new catalog processing engine"
## Expected Behavior

A the end of the scaffolder execution, a "View in Catalog" button should appear linking to the newly registered entity (if configured in the template)

## Current Behavior

"View in Catalog" button no longer appears and entity takes a minute before appearing in the catalog.

## Possible Solution

Process newly registered entities instantly?

## Steps to Reproduce

1) Run a sc

[2021-07-01 12:53] nadworny commented on #4359
I'm experimenting with what you suggested and unfortunately by removing the `scopePath`, nothing changes - still the same error

[2021-07-01 12:58] andrewthauer commented on #6269
If so would this make sense?

I think it could make sense, but it's probably up for debate and open to interpretation. There are 2 main considerations for modelling imo. One is the logical view of how an organization might want it described and the other is how it's presented in Backstage.

For example, the common pattern to customize how the EntityPage presents data is to use a components `spec.t

[2021-07-01 13:19] JP-Dhabolt opened #6302 "Unable to Deregister Existing Locations in New Catalog Backend"
After updating to the new Catalog Backend, any existing locations (registered in the legacy Catalog Backend) cannot be unregistered.  If registering a new component via the new Catalog Backend, the new location can be unregistered without any issues.

## Expected Behavior

Should be able to unregister existing locations after upgrading to the new Catalog Backend.

## Current Behavior

The below po

[2021-07-01 13:24] TejasQ opened #6303 "Backstage.io search provides no feedback if no autocompletion results are available"
## Expected Behavior
When I search for something on Backstage.io, I'd expect the UI to tell me there are no results for my query.

## Current Behavior
When pasting in something like `providerSettings` to the search field on Backstage.io, nothing happens, the UI does not respond, and it feels a bit broken.

It also looks broken:

![image](https://user-images.githubusercontent.com/9947422/124132900-

[2021-07-01 13:32] freben commented on #6302
Hi! Thanks for reporting.

What we did was to try to leave the old data around (the legacy `entities` table) so that there's a downgrade path in the first couple of weeks who may want some time to verify things. What you are seeing is old "ghost" data that references the thing you want to unregister.

We will be looking at adding some interim code to delete related entities in the old table as wel

[2021-07-01 14:54] goober commented on #6298
@camilaibs Thanks for reporting this. I have opened a pull request that fixes the issue.

[2021-07-01 14:59] JP-Dhabolt commented on #6302
Thanks for the explanation and the workaround!

I will start off by deleting the rows from the `entities` table, since our intention is to continue with the latest and greatest changes.  I will update this issue with the results.

[2021-07-01 15:43] kjost-splunk commented on #6250
@loujaybee we are working on implementing it now, should be done in the near future!

[2021-07-01 15:59] #6240 closed

[2021-07-01 16:00] #6298 closed

[2021-07-01 16:21] tmalinakis-vng opened #6308 "Techdocs: Can no longer specify docs_dir with local builder"
## Expected Behavior

Hello, we are still using the out of the box local building for Techdocs. Some of our projects need to define a custom `docs_dir` which is within the project directory (at the root of the project or subdirectory). This used to work and does not pose a security concern.

## Current Behavior

This is no longer allowed with the message `docs_dir configuration value in mkdocs can

[2021-07-01 16:56] kjjuno opened #6310 "Allow initial git branch to be named `main`"
In accordance with github and others switching from `master` to `main` I would like to be able to init new repositories from a template and have that show up in the main branch, rather than master.

## Possible Implementation

Allow a config parameter to specify the default branch name when initializing a repository

## Context

https://github.com/github/renaming

[2021-07-01 17:32] JordanSussman commented on #6296
We abused the [awsalb provider](https://github.com/backstage/backstage/blob/8b71ba6a90f71874e27e30204f28e7725b8dfa99/contrib/docs/tutorials/aws-alb-aad-oidc-auth.md) to get our internal Backstage deployment working with OAuth2 Proxy. This isn't the ideal solution since it relies on connecting to the `/oauth2/userinfo` endpoint instead of utilizing the exposed headers.

Note: you will need to updat

[2021-07-01 17:35] #6287 closed

[2021-07-01 17:38] jcarres-mdsol opened #6311 "Diagram for domains"
As far as I can figure it out, I can display the diagram for a system but not for a domain.
There is no diagram link in the domain entity page and hacking the url gets me nowhere.

It would be beautiful to see the whole domain with system connecting to each other.

[2021-07-01 18:11] OrkoHunter commented on #6310
Yep! This is being worked upon for GitHub https://github.com/backstage/backstage/pull/6195

[2021-07-01 18:20] jcarres-mdsol opened #6312 "Dependencies between systems"
As per the Backstage documentation, a System is an entity that gathers several components to achieve a particular task.

For instance We have a set of lambdas an pipelines for a specific data processing, they together can be modeled as one system.

Then we have another system, a set of containers that will access the final data and do other things.

So it seems that the most natural way to model t

[2021-07-01 19:45] timbonicus commented on #6285
Yeah to reinforce that, the [jinja-js repo](https://github.com/sstur/jinja-js) has a deprecation notice 😅

[2021-07-01 19:50] JP-Dhabolt commented on #6302
I was able to resolve the issue by deleting the rows in the `entities` table.  I solved this by adding a custom DB migration script, which was a bit hacky.  If it is not already on the backlog, supporting custom DB migrations may be something that is useful in the long run.

If anybody else wants to duplicate, here is how I solved this:

[code]

[code]

Finally, don't forget to add `migrations` to

[2021-07-01 20:15] OrkoHunter commented on #6250
Since you all are writing a URL Reader, I'll appreciate your feedback on https://github.com/backstage/backstage/pull/6313

Give a shoutout if there's anything you find confusing or want to be documented.

[2021-07-02 00:02] andrewthauer commented on #6269
@jcarres-mdsol - I agree, Platform doesn't seem like a system. However, I'm not sure Platform needs to be a system in this example. Why not just create a User Service system that contains the User Service component? The component will drive the backstage source code based functionality while the system is a higher level logical representation of functionality.

[2021-07-02 00:13] jcarres-mdsol commented on #6269
That was our initial thought but then there is only one entity over the services (domain) and we are going to have a deeper structure than that. Thus the original idea in this issue which is to allow domains to be contain in bigger domains or system in systems or both

[2021-07-02 02:51] #5064 closed

[2021-07-02 03:28] #6237 closed

[2021-07-02 07:17] OrkoHunter commented on #4359
Hey @nadworny ! Sorry yeah, all my debugging attempts led me no where with this. Removing my assignment since I'm not working on this.

[2021-07-02 07:18] nadworny commented on #4359
it's strange as when using exactly the same HTTP request, I'm getting the correct zip structure. It must be in this case unzipping that somehow messes it up?

[2021-07-02 07:43] OrkoHunter commented on #6284
That request URL does not look good.

[code]

There is no route to handle this request. In fact, this request should directly go the OKTA audience URL. Since it contains a `redirect_url`, when the user logs in, the response will be resolved by auth-backend in Backstage.

Is this problem solved if you add a `https://` as prefix in `okta.development.audience`?

[2021-07-02 08:27] efahlstrom opened #6315 "Visual cues on settings/feature-flag page"
## Feature Suggestion

When I have the settings/feature-flag page open in full screen it is hard to know which toggle will enable/disable which feature due to many feature-flags and lack of visual cues.

One possible solution would be to display which feature will be enabled/disabled when hovering above each toggle. Other options would be to group the flags, put the toggles closer to the feature f

[2021-07-02 08:33] #6310 closed

[2021-07-02 09:27] prasaria opened #6316 "Disable menu UnregisterEntity"
Hello, I want to make `Unregister Entity` menu can be disabled by adding optional props to the Menu Item component
<img width="1677" alt="Screen Shot 2021-07-02 at 16 10 56" src="https://user-images.githubusercontent.com/7909323/124251570-449df000-db50-11eb-9bea-3858f82efb6b.png">

Currently my solution is to add optional props into `EntityContextMenu` component and this props will be passed down

[2021-07-02 09:34] nadworny commented on #4359
@freben @OrkoHunter - it is indeed the stripping as suggested by @awanlin. Why exactly are we stripping the first directory while unzipping the files?
https://github.com/backstage/backstage/blob/f8a93ec1ae8dc211729968b294dec29245217653/packages/backend-common/src/reading/tree/ZipArchiveResponse.ts#L98

[2021-07-02 10:01] freben commented on #4359
@nadworny Good find! Yeah the thing is, we had been trying this out with various providers and they all had an inner zip file structure where there was a single root dir that had ... I forget, but like the git hash or branch name or something, and the actual contents inside. Maybe it's the case here, that we need to make this behavior optional, and somehow know when to apply it or not. Just outrig

[2021-07-02 10:04] freben commented on #4359
Although honestly ... at this point it seems the AzureUrlReader is the only one actually using it. So if we could somehow conclude that this dir-stripping is NEVER used by ANY version of Azure, we could just remove it, or make it configurable with a boolean and then leaving it as default false

[2021-07-02 10:29] Rugvip commented on #6301
Thank you for reporting, this does indeed need a fix 👍

[2021-07-02 10:43] tudi2d opened #6318 "[RFC] Improve responsiveness"
## Need

Backstage is mainly designed for & used on desktop devices. Nevertheless there are use cases, where the screen dimensions differ from a classic desktop environment. Examples are split screens for working with several applications at the same time, smaller laptop/tablet screens & sometimes even mobile devices.

The goal should be to improve the UI & UX across different screen sizes & suppo

[2021-07-02 10:48] #5331 closed

[2021-07-02 11:45] freben commented on #6315
Yep I've been feeling that maybe the toggles could go to the left of the text actually. Highlight-on-hover for each row works too, maybe not very touchscreen friendly but that's not a big use case for us

[2021-07-02 11:53] nadworny commented on #4359
I get it. Yeah, i.e. for GitHub techdocs it isn't invoked.

At the moment only version 6.0 of Azure git API is being supported by the AzureUrlReader so I don't think we should worry about other versions of Azure as if I understand it correctly, this is the only way to download something from Azure... I guess it's your choice if we remove it or make it configurable. The latter will probably take me

[2021-07-02 11:56] freben commented on #6316
Hi!

There are two candidate mechanisms we could latch on to for this, so it could be implemented without needing any custom props.

- There's the [readonly config param](https://github.com/backstage/backstage/blob/375f5c3f01c2ced5e91e80141dd88c61f5699eb5/plugins/catalog-backend/config.d.ts#L57), which governs whether the catalog backend accepts modifying user actions or not. Currently it's only a

[2021-07-02 12:19] #6239 closed

[2021-07-02 12:21] #6249 closed

[2021-07-02 12:21] #6303 closed

[2021-07-02 13:32] TejasQ commented on #6318
This is a lovely issue and I'm glad we're putting care into this! I'd suggest adding a piece on end-to-end/visual regression testing as well to ensure the UI and the responsiveness we work so hard to create _stays_ using something like Applitools or similar

[2021-07-02 13:58] freben commented on #6318
Strong vote here for `<meta name="viewport" content="width=device-width,initial-scale=0.4" />`!

For the edge case of some rare mobile device visit (and that device supports `initial-scale`), this in and of itself makes that experience almost perfectly usable.

[2021-07-02 14:24] tudi2d commented on #6318
@freben Thanks for your feedback! For me the focus would not be on mobile device support, but rather to make it useable, accessible & good looking across all screen sizes. Example: Opening Backstage on a 13' Laptop - when changing to split view all components should respond & wrap properly not forcing the user to zoom or anything and still be able to perform any action. Would agree that changing t

[2021-07-02 14:38] tudi2d commented on #6318
Good point - added E2E testing to the 2nd goal & would suggest for now to use Cypress, as it is the currently used E2E test tool & has support for testing different viewports. Happy to discuss this with you though! :)

[2021-07-02 14:47] Rugvip commented on #6245
@GoWind awesome, thank you!

[2021-07-02 15:22] tudi2d opened #6326 "Fix microsite "Docs" mobile navigation theming"
## Expected Behavior

The navigation should fully adjust to the current theme.

## Current Behavior

When using the microsite in dark mode some of the text in the navigation actually adjusts to the dark theme, some not - and the background is white. This causes some of the text to be hard to read:

<img width="497" alt="Screenshot 2021-07-02 at 17 10 47" src="https://user-images.githubusercontent.

[2021-07-02 15:37] codingdiaz commented on #5041
We are still having authentication issues in this scenario. For example, loading the `/create/actions` page gives us a 500 error.

I think auth needs to be passed to that page as well?https://github.com/backstage/backstage/blob/47dac4081978cfa66ab6f5035b1191c67b6ebb9c/plugins/scaffolder/src/api.ts#L246-L256

We also get a 401 to an eventstream endpoint.

![Screen Shot 2021-07-02 at 8 46 50 AM](htt

[2021-07-02 16:37] seant-splunk commented on #6250
Hello! I just have a minor suggestion, for the section "Using inside a plugin" it may be helpful to add 'URL Reader' to the title, I.e. the title would be "Using a URL Reader inside a Plugin".

[2021-07-02 19:03] j021006 opened #6329 "Catalog Import Showing Wrong Entity Type"
After the latest release, When I import any entity type it always says a location entity was imported. For example i will import a template type using the catalog-import plugin and i get this:

![image](https://user-images.githubusercontent.com/86613021/124318321-7a3ddb80-db46-11eb-84d0-d8b841eca8b5.png)

I cant find the template type, only the location when searching or going to the /create page.

[2021-07-02 19:13] jh-sh opened #6330 "[scaffolder] Created Entities are failing to be registered (but repo is created), because of failed protection for the default branch"
When a user creates an Entity with the scaffolder, there's a bug that prevents a new entity to be registered.
Due to the async nature of GitHub automation that may be applied to the org, this one has floating nature.

## Expected Behavior

When the repository is successfully created & the code is pushed to the GitHub, I want my new entity to be registered in Software/Service catalog.

## Current B

[2021-07-03 08:10] Crevil commented on #6316
I agree woth @freben on using the same mechanism. The readonly config param was scoped for the backend as the frontend could be configured in a more granular way.

Does the new catalog processor handle deletes when eg. bootstrap locations are removed?

[2021-07-03 08:44] freben commented on #6316
@Crevil Yeah the intent is that when unregistering, the entity itself and its descendants (other entities that spawned as a side effect of it, eg when registering a Location enyity) are eagerly deleted from the catalog.

[2021-07-03 09:03] grumpyoldman-io commented on #6296
Yeah, my next step would also be to abuse an existing one, but that just feel so wrong. There is quite some documentation on how to add auth to the backend, it is just missing the parts on how to add that custom provider to the front.

[2021-07-03 09:51] Crevil commented on #6316
What I was wondering is: If we disable this menu item, will unmanaged entities still be removed?

I seem to remember that the old catalog engine would not "garbage collect" entities, so we had to use this menu item to clean up if entites were removed in an upstream bootstrap location. I just wanted to make sure that this is no longer relevant and thus removing the item is safe.

[2021-07-03 10:16] Crevil commented on #6232
I have added a PR to both techdocs troubleshooting and the mkdocs plugin. Hopefully that can help others in the future.

[2021-07-03 12:10] freben commented on #6316
Right. The proposed solution fits really static use cases.

Regard the set of entities as a graph where the roots are registered or config-declared things, while inner nodes are locations and entities that spawn from that.

`registered location A -> location entity yaml B -> component entity yaml C`

If you make changes to the yaml file B such that C is no longer referenced, C will NOT be removed

[2021-07-03 12:34] Crevil commented on #6316
Makes sense, I do however see the value of having the option available and letting it be up to the operator to decide whether they want users to be able to remove such orphaned entities. 🧐

[2021-07-03 12:43] keattang commented on #2857
Hi,

I'm interested in contributing to this project and am interested in enabling the ability to load cluster information from a user’s kubeconfig. I've created this PR: https://github.com/backstage/backstage/pull/6333 with a proof of concept. I would like to know whether this is the correct approach and if not, what is, before continuing to work on it. Thanks for your time.

[2021-07-03 15:34] dtuite opened #6334 "dependencyOf relationship is one-sided in the UI"
## Expected Behavior

1. Specify a `dependencyOf` relationship indicating that component A is a dependency of component B.
2. Visit component B in the UI.
3. I expect the `EntityDepdendsOnComponentsCard` to list component A.

This behavior is what happens when I instead specify that component B `dependsOn` component A.

## Current Behavior

Component A is not listed.

## Possible solution

1. Fix

[2021-07-04 11:38] andrewthauer commented on #6316
I'm not sure I agree about disabling the button when the `create-component` route is not registered. This route hosts the scaffolder home page which isn't the only way to register components. You can also go directly to the `catalog-import` route. For instance, we've currently removed links to the create page since we haven't focused on the scaffolder yet. Instead we have an `Import` sidebar butto

[2021-07-04 23:54] kiranpatel11 commented on #6301
In our case, it takes significant times - about 10 mins - for a template to appear after the registration.

[2021-07-05 01:20] prasaria commented on #6316
Hello,sorry for late reply here.

I see there are some discussion about what is the correct way to disable.

For a little bit of context here, my company want to restrict user for doing deletion, and just want to limit this to specific teams only. In the future we want to apply some kind of role based authorization but I guess for now it is nice if we can have an option whether we want to disable

[2021-07-05 06:52] iamEAP commented on #6232
Closing this out now that the docs changes above are in!  Thanks again.

[2021-07-05 06:52] #6232 closed

[2021-07-05 07:53] OrkoHunter commented on #3383
We'll call this done with #6286

[2021-07-05 07:58] benjdlambert commented on #5041
Hmmm, so for the two use cases I can see, it looks like they are not using the Authorization Header forwarding, which is going to be a little troublesome for the `EventSource` use case as there is no support for headers in the default `EventSource` implementation in the browser.

We could use another implementation which does support headers like: https://github.com/EventSource/eventsource or I wo

[2021-07-05 08:07] benjdlambert commented on #5041
Looking at this: https://github.com/whatwg/html/issues/2177 looks like support for Headers in EventSource might not be coming any time soon, there is the option to use ReadableStreams and `fetch` to apply the headers which seems like a pretty insane solution and something we don't really want to maintain just because of the header https://developer.mozilla.org/en-US/docs/Web/API/Streams_API/Using_

[2021-07-05 09:28] #5510 closed

[2021-07-05 12:29] awanlin commented on #4359
@nadworny I'd vote for this being configurable as the zip file output is different between Azure DevOps Services (Cloud version) and Azure DevOps Server 2020 (On-premise version). We use Azure DevOps Server 2020 and the support for the REST API is always lagging behind some what randomly depending on the feature.

If any testing is needed I'm more than happy to help with that :)

[2021-07-05 13:02] freben commented on #4359
Oof, but that means that we'd have to use some form of feature detection logic essentially, right?

Or could we in some other way just look at a single zip file's contents and deduce that "ok this is the non-nested format"? Just having a single root folder isn't in and of itself perfectly secure right - could it be that the format for the folder is for example `orgname-reponame-hash` or something?

[2021-07-05 13:14] awanlin commented on #4359
@freben yeah, that sounds right, give me some time to look through this code again to get it fresh in my mind and I might be able to come up with a better idea. The easy way to determine if it's the Cloud version of Azure DevOps is the URL would have `dev.azure.com` in it where as the on-premise version of Azure DevOps could be anything

[2021-07-05 13:15] nadworny commented on #4359
@awanlin are you saying that Azure DevOps Server 2020 and Azure DevOps Cloud provide different ZIP formats despite having the same API version (6.0)?

[2021-07-05 13:18] awanlin commented on #4359
@nadworny yes, that was my experience when I logged this issue. I'll try to find some time to test this again to confirm, I have a personal account using Azure DevOps Clouds for side projects so I can test this there

[2021-07-05 13:20] nadworny commented on #4359
I'm testing with the Azure DevOps Clouds (dev.azure.com) and the ZIP format is exactly as the one you included in this issue.

[2021-07-05 13:22] awanlin commented on #4359
@nadworny that's awesome then! Either I was wrong when I initially did my testing, which is very possible I remember being under a time crunch, or something changed with the Cloud version

[2021-07-05 13:29] nadworny commented on #4359
@awanlin I assume the latter 😄

[2021-07-05 13:32] Xantier commented on #4568
I could grab this and start chipping away to bring the search to docs as well. I'll start crafting types and shapes, open up a PR on those and we can then iterate from there with the implementation and tests to surround rest of the logic.

[2021-07-05 13:48] freben commented on #4359
Yeah I'm sure we added this for good reason because it was needed at that point in time. I'm also gonna assume that the cloud version actually changed the format some time recently. So unless there is reason to believe that there can be variation across different customers or something for some strange reason ... maybe it's safe enough to consider changing our behaviour correspondingly and listen

[2021-07-05 14:04] awanlin commented on #4359
I for sure can test it using Azure DevOps Server 2020. As for the Cloud version I don't have a personal Backstage instance running so that may take longer. @nadworny perhaps you can handle that side?

[2021-07-05 14:13] codingdiaz commented on #5041
@benjdlambert thanks for taking a look! I have a colleague who forked the scaffolder frontend to get this working for us to propose a change. We are on holiday today but, I wanted to see if something like this would be acceptable? We were unsure how the backstage team would feel about polyfill. Currently we have a working fork of the scaffolder plugin doing something like...

[code]

There is also

[2021-07-05 14:22] #6330 closed

[2021-07-05 14:23] benjdlambert commented on #6329
@j021006 can we see the `template.yaml` that you're trying to register? It could be invalid.

[2021-07-05 14:30] nadworny commented on #4359
I did multiple tests on Azure Cloud last week (6.0, 6.1-preview) and I can confirm that the ZIP format was always as the one included in this issue.

[2021-07-05 14:32] OrkoHunter commented on #6308
Related https://github.com/backstage/backstage/security/advisories/GHSA-pgf8-28gg-vpr6

[2021-07-05 15:01] Fox32 commented on #4568
From our experience from implementing this internally, I recommend running `unescape` from `lodash` on both `text` and `title`. Otherwise, the steps from "possible implementation" above are straight forward.

[2021-07-05 15:39] j021006 commented on #6329
Template file encoding was UTF-8 once changed to UTF-16 worked fine.

[2021-07-05 15:39] #6329 closed

[2021-07-05 16:05] benjdlambert commented on #6301
Hmm - yep so I think there's two parts here @kiranpatel11. Looks like theres the actual feedback with the button when you add to catalog which is due to the async nature of the new catalog, and then there's the actual import and refresh loop which looks like it might have been taking a while for you. Do you have a lot of entities locally? Thinking that the import of the location might be behind th

[2021-07-05 16:10] #6251 closed

[2021-07-05 16:11] benjdlambert commented on #6302
@JP-Dhabolt is it ok to close this?

We will be adding migrations to remove the entities table hopefully in the short term future once the new catalog has settled

[2021-07-05 16:15] iamEAP commented on #4568
Thanks @Xantier!  Going to assign this to you, just to reflect what you're up to.  Reach out here or on discord if you run into any snags.

[2021-07-05 16:21] benjdlambert commented on #5041
@codingdiaz yep - so I was looking through the code a little bit, and it looks like the Cookie middleware should decorate the request to the backend plugin with the header from the Cookie and that seems broken right now. I think it's to do with the path from my testing.

You're right that the `listActions` will definitely need to include the credentials as it currently doesn't, we can do this both

[2021-07-05 16:25] JP-Dhabolt commented on #6302
Yes, I am good with this. Thank you for the assistance!

[2021-07-05 16:25] #6302 closed

[2021-07-05 17:22] erikxiv commented on #5041
Sorry for my slow response - I've been meaning to find some time to reproduce the issue with latest from master but have not gotten there yet. My quick gut response is:

* The proposed change to `listActons` looks right to me, adding the token to the `Authorization` header. I am a bit confused by the 500 status though - if the initial request is blocked due to authorization, it should receive a 40

[2021-07-05 20:35] rodmachen commented on #4568
Looking forward to this work. At Expedia, we're about to start work on implementing the new V1 Global Search, and will use this functionality as soon as it's ready. Please let us know if we can help in any way.

[2021-07-05 21:36] erikxiv commented on #5041
PR on the list actions auth: https://github.com/backstage/backstage/pull/6346 (The UI displays `ERROR 500: Failed to load installed actions` although the network request responds with a `401`)

When trying locally with latest from master and cookie added as per https://github.com/backstage/backstage/blob/master/contrib/docs/tutorials/authenticate-api-requests.md eventstream works for me. E.g. I us

[2021-07-05 21:49] andrewthauer commented on #6316
I personally don't feel it's appropriate to assume that entities shouldn't be unregistered based on this existence of the route ref alone. However, I'm not completely opposed to it either.

If this approach was used we would end up adding the route ref back and probably building a custom catalog index page to hide the create button from there (which is now possible). However, I'd rather not have t

[2021-07-05 23:59] Erog38 opened #6348 "OIDC Configuration is somehow expecting `metadataUrl` to be an object"
## Expected Behavior

When creating an oidc provider for backstage, the following configuration fails:
[code]

The Url is confirmed to return the configuration as expected.

## Current Behavior

metadataUrl should be treated as a string if I'm reading this PR appropriately #33

## Possible Solution

## Steps to Reproduce

1. Pull a new backstage environment with npx
2. set the configuration with t

[2021-07-06 02:09] dehamzah opened #6349 "Upgrading backstage app to release-2021-06-28 or latest causing 'Settings' label is missing"
## Expected Behavior

Upgrading from the previous version of the backstage app to release-2021-06-28 should be working normally. I have a backstage app that bootstrapped before release-2021-06-28 and upgrades it using this command: `yarn backstage-cli versions:bump`

## Current Behavior

The 'Settings' label on the sidebar is missing, and I can't click the toggle sidebar switch on the settings pag

[2021-07-06 03:08] timbonicus commented on #6349
Yep, reproduced by scaffolding an app with `npx @backstage/create-app` and then converting `@backstage/core-*` imports in `packages/app` back to `@backstage/core`. The same happens with the search box:

![missing-search-text](https://user-images.githubusercontent.com/556258/124534925-7b833880-ddd2-11eb-92aa-2f79f63022ea.png)

The only update strictly needed to fix it seems to be moving `packages/a

[2021-07-06 04:54] dehamzah commented on #6349
That would be great if the version bump cli can inform the users about this.

In my company we had several custom plugins that depend on `@backstage/core` and it seems still backward compatible for now. I am looking for a codemod that can automate the migration too for custom plugins, I have been tried the codemod and it only works for the backstage app only. Migrating this manually to `@backstage

[2021-07-06 06:39] freben commented on #6348
I think you linked to the wrong pull request, back in the mists of time when we were experimenting with a golang service instead of node :)

[Here's the code](https://github.com/backstage/backstage/blob/9b743a33b89e7a1b60877a9f1a05de75f700fe13/plugins/auth-backend/src/providers/oidc/provider.ts#L192) that fetches that parameter and it's indeed a string.

You don't explain what goes wrong, what the

[2021-07-06 07:43] freben commented on #6316
Yeah totally agree that this is all a bit awkward.

The RIGHT solution is probably composability, where you can replace and redesign this part of the page at will using JSX. But assuming, then, that this is the layer where we want customisability to be, would it make sense to instead have an options prop that drills through the layers, while waiting for something better? Maybe it's both more visib

[2021-07-06 08:03] freben commented on #6349
I don't think there's a list as such. The API surface of the old package was very large - one of the reasons it was past due to split it apart. It's still relatively early days for Backstage and this was a migration that became necessary as we settle and solidify these interfaces. It'll be way more stable after it's landed in its more final form.

[2021-07-06 08:04] freben commented on #6349
What you mentioned about the codemod - what were the errors? Was this for plugins that were standalone in their own repos instead of in a monorepo with the rest of Backstage (app and backend)?

[2021-07-06 08:04] rubenLindstrom opened #6353 "[Home] Create composable homepage plugin"
Create plugin for composable homepage and include it at root, "/".

- [x] Create routable plugin
- [x] Add navigation link in sidebar to plugin root.
- [x] Update link to Catalog in sidebar navigation.
- [x] Create new homepage component in [App](https://github.com/backstage/backstage/tree/master/packages/app/src/components).
- [x] Replace "/" route with home plugin in [App.tsx](https://github.com

[2021-07-06 08:05] benjdlambert commented on #5041
@erikxiv thanks for addition on the `listActions` stuff, that will definately be needed, I will also confirm that the cookie is sent to the eventstream without any changes to the contrib stuff, admittedly I was trying to get the `listActions` to work by just using `credentials: 'include'` rather than the explicit auth header yesterday.

[2021-07-06 08:34] rubenLindstrom opened #6354 "[Home] Create system for rendering widgets"

[2021-07-06 08:35] benjdlambert commented on #5041
So - just confirmed. The `/eventstream` does get the cookie when using https://github.com/backstage/backstage/blob/master/contrib/docs/tutorials/authenticate-api-requests.md.

Think that PR for the `listActions` should be enough for now.

[2021-07-06 08:58] rubenLindstrom opened #6356 "[Home] Create structure for homepage component extension"
Create structure for how to export and register homepage components.

- [ ] Define homepage component interface (type).
- [ ] Implement new extension creator for homepage components in [extensions.tsx in core-api](https://github.com/backstage/backstage/blob/master/packages/core-plugin-api/src/extensions/extensions.tsx).

[2021-07-06 09:00] benjdlambert commented on #6258
#6339

[2021-07-06 09:13] benjdlambert commented on #5564
@FabianHippmann how far did you manage to get with the IAP Auth Provider? Looks pretty good so far! :)

[2021-07-06 09:40] erikxiv commented on #5041
@codingdiaz Could you confirm that it works for you too? Do you have a different use-case with different needs?

[2021-07-06 09:46] rubenLindstrom opened #6358 "[Home] Documentation"
Create new "Home" folder in [docs/features](https://github.com/backstage/backstage/tree/master/docs/features)

Getting Started guide:
- [ ] How to set up homepage in App

Concepts:
- [ ] What is a homepage components?

How-to-guides:
- [ ] How to customize the homepage with components
- [ ] How to create a new homepage component

[2021-07-06 10:24] FabianHippmann commented on #5564
Currently working on creating a PR for GCP IAP - i'll let you know as soon as the PR is created!

[2021-07-06 10:29] dehamzah commented on #5869
I tested to rename the entity name from uppercase to lowercase and it works.

but what is the expected behavior if I rename the entity name to a different name?
I tried this and the old entity name is still listed in the catalog. Is the old entity name is considered an orphan? If yes, should the expected behavior is showing the banner orphan in the catalog detail page?

[2021-07-06 11:04] OrkoHunter commented on #6358
Definitely a need for a top level "Extending and customizing Backstage" section in docs. ref. https://github.com/backstage/backstage/pull/6313#issuecomment-872535965

[2021-07-06 11:16] freben commented on #5869
You mean if you rename the entity in the yaml file and wait for the catalog to refresh from it?

Yes, that will lead to the old one staying around and being marked (and shown in the GUI) as orphaned, and the new one appearing separately. This is intentional, since there is no safe way for us to know what you actually intended.

[2021-07-06 11:19] freben commented on #5564
@FabianHippmann That's great to hear, looking forward to it! Did you see the new work [here](https://github.com/backstage/backstage/issues/6245)? It is of interest to add that `signInResolver` etc.

[2021-07-06 11:37] dtuite opened #6360 "TechDocs annotation should have a sensible default"
## Feature Suggestion

Assuming a company is not using mono-repos, the docs are likely in the `docs` directory at the root of the repo that contains the component. Can we make this the default in order to make the `techdocs-ref` annotation optional?

## Possible Implementation

No idea 😄

## Context

Adoption of TechDocs is more likely if the user has to do less work to configure it. Every little

[2021-07-06 12:12] Fox32 commented on #6360
Probably something that should be easy to accomplish using a custom catalog processor. We are using them a lot to query external tools and add annotations automatically. Here you could check whether the repo contains an `mkdocs.yaml` at root and add the annotation automatically (right now the `techdocs-ref` requires an absolute path!). Backstage already has all APIs for that 🙂

Make the annotation

[2021-07-06 12:39] dtuite commented on #6360
There are likely some custom processors that will be repeatedly created by different companies who use Backstage and might make more sense to be either included by default or picked from a marketplace. I guess I'm trying to understand if this is one of those cases.

Assuming the repo has a `mkdocs.yaml` file and a `docs` directory in the root, and Backstage knows where the repo is (via the `github

[2021-07-06 12:47] codingdiaz commented on #5041
Thanks for looking into this! @erikxiv we don't have cookie based auth on currently. I would imagine once we tweak our auth middleware this should start to work.

[2021-07-06 12:55] freben commented on #6334
Alright, I got around to looking at this.

The answer, in the end, turned out to be that there [is no such thing](https://backstage.io/docs/features/software-catalog/descriptor-format#kind-component) as `spec.dependencyOf` in the model at all :) These `spec` fields are added selectively, in places where they make the most sense, and may sometimes even have names that do not correspond to the relat

[2021-07-06 12:59] freben commented on #6334
Let me add that it's super nice how you added video context and even test data, it made it so much easier to zoom in on what to actually look at and what the actual missing piece was. Really appreciated, I know it also takes a lot of effort to make thorough bug reports.

[2021-07-06 13:08] Fox32 commented on #6360
With that I only meant that the follow up processes in the techdocs backend and frontend need that annotation, so we can't get rid of it completely, but can add it automatically. So that the user doesn't need to know about it.

[2021-07-06 13:09] dtuite commented on #6360
Ahh.. I understand you now. I was thinking in the business logic layer. Yep, I agree.

[2021-07-06 13:22] codingdiaz commented on #5041
@erikxiv I just confirmed it works once I follow [this](https://github.com/backstage/backstage/blob/master/contrib/docs/tutorials/authenticate-api-requests.md more closely. Sorry about the confusion there!

[2021-07-06 13:45] TejasQ opened #6365 "Feedback when app-config.yaml is filtered at runtime"
## Feature Suggestion
Working on the frontend, I added a key to `app-config.yaml` that was being filtered out when using a `ConfigReader` to read it in my browser for apparently no reason. Having missing keys without any feedback, I asked for help and was told I needed to:

1. Add a type definition for this key to `packages/app/config.d.ts`.
2. Add `@visibility frontend` in a comment directly abov

[2021-07-06 13:56] OrkoHunter commented on #6365
Since a looot of config keys will not be available on frontend, it might be too many console warnings for an average user of Backstage.

I was thinking that a console error or warning should be printed only when you run `config.get*` API in the frontend _and_ if the key is missing visibility frontend.

---

Quoting @freben

[2021-07-06 13:58] freben commented on #6365
Yep that was my thought as well. Basically only make noise if there's an explicitly known misconfiguration / misbehaviour

[2021-07-06 14:01] freben commented on #6365
Pseudo-design-idea:

Maybe the config blob that's given to the frontend could contain an additional field:

[code]

or similar. Enough info for the `get` functions on the reader end to deduce that what's being read used to exist AND was specified, but was intentionally exluded.

[2021-07-06 14:05] freben commented on #6312
I wish this would be possible to make as a transitive property instead. For example

[code]

translated automatically to

[code]

Without having to make that claim explicitly as an end user. Unfortunately, currently processors don't have a global view of their surroundings at processing time, at the moment.

So in the mean time, I wonder if this is something that could be done in the caller end in

[2021-07-06 14:34] Erog38 commented on #6348
Ah my apologies @freben! I updated the backstage libraries, and unfortunately now get the error when configuring the client ID:
[code]

I am able to trace the calls into that section of the library, but unfortunately it doesn't drop into the configuration function for me, but [fails out here](https://github.com/backstage/backstage/blob/9b743a33b89e7a1b60877a9f1a05de75f700fe13/plugins/auth-backend/

[2021-07-06 14:43] freben commented on #6348
Haha! OK I think I see something! The format of these sections is supposed to be

[code]

this is because each provider may have multiple environments that they work within. I think the error you're seeing may be a misleading effect of how the traversal code reacted to not finding that single key there. It probably thought that `clientId` was the environment ID, and then to have a properties objec

[2021-07-06 14:54] freben commented on #6269
The [format docs](https://backstage.io/docs/features/software-catalog/descriptor-format) are always the authoritative source for what you can do with the files, and indeed there is no such field currently for the `Domain` kind.

You could fairly easily [add that field](https://backstage.io/docs/features/software-catalog/extending-the-model#adding-new-fields-to-the-spec-object-of-an-existing-kind)

[2021-07-06 14:55] Erog38 commented on #6348
🤦 Thank you! Now on to other problems!

[2021-07-06 14:55] #6348 closed

[2021-07-06 14:59] freben commented on #6348
There are no problems, only happy little learning opportunities!

[2021-07-06 16:10] benjdlambert opened #6366 "Support knex actions in the backstage-cli"
When the plugins start, they run their own migrations. Which can cause errors when rolling back the code as the migrations files don't always stay the same across versions leading to knex throwing when running an old version thinking that the migrations directory is corrupted.

## Feature Suggestion

Maybe we could have some `backstage-cli` commands that you can run on running hosts to mimic the `

[2021-07-06 16:13] benjdlambert commented on #5041
Perfect! Glad it's working as expected, will go ahead and close this then given the `listActions` changes that are merged and will be shipped this week.

[2021-07-06 16:13] #5041 closed

[2021-07-06 16:29] andrewthauer commented on #6269
@freben - I'm curious on a standard convention to model a service that has a few components/containers (e.g. `api`, `queue`, `worker`, etc.) but is contained with a single repo. These could be modelled as a single component service, or as separate services with a system that they are part of. In the latter case, each of these component containers would end up being separate catalog entities, but t

[2021-07-06 17:02] kuangp commented on #6110
@timbonicus took the opportunity to pick up where you left off in your draft, thanks for getting it started!

[2021-07-06 18:00] freben commented on #6366
Hm. These migrations are on a per plugin basis. So you'd want to target a certain plugin on the command line - by ID perhaps? Those are chosen by the integrator. And would the command read app-config to compute what the actual db name and connection parameters are?

[2021-07-06 18:01] freben commented on #6366
Ah I missed that you said it would be run in a plugin folder. But in any case the plugin ID is not known from there

[2021-07-06 20:48] dtuite commented on #6334
When I was opening the issue, I actually added "remove dependencyOf" as one of then the potential solutions but then I deleted it because I thought it would be too difficult a breaking change.

Just updating the docs to remove any mention of dependencyOf is a reasonable solution now imo.

[2021-07-06 20:50] dtuite commented on #6334
If you agree, I can finish this out myself btw.

[2021-07-06 21:04] freben commented on #6334
Oh remove from where? Not sure I follow. Is this wrong in the docs somewhere?

The relation type does exist and should keep existing.

[2021-07-06 23:46] thiago4int opened #6368 "Scaffolder error for fetch:cookiecutter action - Docker does not appear to be available"
Being able to deploy Template from catalog utilizing skaffolder

Not able to fecth Docker

## Steps to Reproduce

1.  Create template
2. Fetch Skeleton + Template
3. Fail

## Context

[code]

## Your Environment

- NodeJS Version (v14):
- Operating System and Version (e.g. Debian 10):
- Browser Information: Chrome

[2021-07-07 02:54] dehamzah commented on #6349
I see, thank you for the clarification.

Yes, what I mean by plugins, is standalone in their own repo. There is no error, it's just not changing anything. Here is the output of the scripts:

[code]

[2021-07-07 03:50] dehamzah commented on #5869
Yes, I am changing the entity name in the YAML file and wait for the catalog to refresh it.

Thank you for the answer, I now realized from this PR https://github.com/backstage/backstage/pull/5707, I need to implement the banner component manually in my backstage app. The response API returning extra annotation `'backstage.io/orphan': 'true'` as expected. Thank you 👍🏼

[2021-07-07 09:21] OrkoHunter commented on #6217
Done in https://github.com/backstage/backstage/pull/6275

[2021-07-07 09:21] #6217 closed

[2021-07-07 09:33] dtuite commented on #4568
@iamEAP Just FYI, Roadie (primarily Xantier) are planning on driving through the whole TechDocs/ElasticSearch implementation to completion. This is step 1 but we are hoping to get them all done.

[2021-07-07 10:20] iamEAP commented on #4568
That's great news @dtuite!  I've added a couple of notes to #4447 with a few ideas/tips based on experiences we've had running Backstage on Elastic internally.

[2021-07-07 11:34] andrewthauer commented on #6312
The idea of a system to system relation being transitive makes a lot of sense. Systems are typically a logical construct we use to group a series of smaller parts in order to reason about things at a higher level. In this vain a component most likely depends on another component of another system rather then the other system itself. Unless perhaps you have a system gateway, but you could argue thi

[2021-07-07 11:48] andrewthauer commented on #6360
Adding to this discussion, we are currently in the process of taking the "remove the friction" a step further. We've build code the will auto create an mkdocs.yml file dynamically in CI which means a repo really only needs a `docs` directory and an index/readme file. At that point we can auto build/publish the docs to storage. Then we have a custom processor that checks the existence of the docs d

[2021-07-07 12:10] sjamidar opened #6379 "Publish step of scaffolder step in gitlab is returning 400 bad request"
Hi Team,

I am getting 400 bad request while running publish step in backstage for gitlab.
I have updated all the configs as according to Ticket id : https://github.com/backstage/backstage/issues/6181
Please help me out for integration with gitlab.

![image](https://user-images.githubusercontent.com/85929731/124756623-48fc4b80-df4a-11eb-8ff5-9aaa0d02266e.png)

[2021-07-07 14:37] benjdlambert opened #6383 "CPU Spikes with the Catalog because of Location -> Entity Relations"
## Feature Suggestion
- When a Catalog has just 1 seed location, and multiple entities being emitted they all get queued for refresh at the SAME time.
- This causes spikes when the catalog refreshes and refreshes all the entities and re-writes them to the database.

## Possible Implementation
- Internal `etag`, so that we don't write unless things have changed?

- When processing a location emits

[2021-07-08 01:27] benjdlambert commented on #6349
@dehamzah what's your working directory when running this codemod? It should be in the root of your Backstage repo what `create-app` made for you. Looks like it can't find `packages` or `plugins` which is a little concerning as one of those should exist at least. :sweat_smile:

[2021-07-08 01:58] timbonicus commented on #6349
@dehamzah The arguments after `core-imports` are folders to process. So to run it in a standalone plugin repo, you'd want to change these to the folder(s) that are present. So instead of:
[code]

You can run this (for example, if there's just a `src` directory):

[code]

[2021-07-08 02:03] timbonicus commented on #6379
Do you have a GitLab integration set up in your `app-config.yaml`? It should look something like:

[code]

Does the GitLab token used here have the `write_repository` scope? Are there any errors in the `yarn dev` output from the backend? Is this gitlab.com or self-hosted GitLab?

[2021-07-08 02:26] timbonicus commented on #6368
The `fetch:cookiecutter` action requires the [cookiecutter](https://cookiecutter.readthedocs.io/en/1.7.2/) command-line utility to be present. If the cookiecutter command isn't found, the scaffolder attempts to launch a docker container to run cookiecutter. It seems the error here is reporting that neither cookiecutter nor Docker was available in your environment to run this action.

There's a few

[2021-07-08 03:08] chaseajen opened #6390 "[PagerDuty Plugin] align documentation with PagerDuty template"
## Feature Suggestion

In order to submit the PagerDuty plugin to the [integration directory](https://www.pagerduty.com/integrations/?type=nav), the documentation for the plugin must align with the [integration guide template](https://github.com/PagerDuty/app-documentation-templates/blob/master/integration-guide-template.md) provided by PagerDuty. Additionally, public support information must be a

[2021-07-08 03:19] ravargs commented on #6284
That fixed he issue.

[2021-07-08 04:08] chicoribas opened #6393 "Hide or mask password (or other sensitive content) fields on "Review" step in Scaffolder plugin"
## Feature Suggestion

Hide or mask password (or other sensitive content) fields on "Review" step in Scaffolder plugin

## Possible Implementation

Change the file `plugins/scaffolder/src/components/MultistepJsonForm/MultistepJsonForm.tsx` to hide or transform data passed to `StructuredMetadataTable` trough metadata argument. All data in password field would be masked or hidden.

## Context

I wor

[2021-07-08 07:04] sjamidar commented on #6379
Hi @timbonicus ,

app-config.yml is have same setup for gitlab in integrations.
Also not getting any error in yarn dev .
It is self hosted gitlab.
Also gitlab token have write repository access.

[2021-07-08 07:23] ravargs opened #6394 "Not able to publish component - Error: Failed to add branch protection to 'Repo-Name'"
The workflow to publish the application from the create catalogue templates fails with the error _Error: Failed to add branch protection to 'Repo-Name', HttpError: Not Found_

## Expected Behavior
Backstage application should publish the template to github repo. (https://github.com/xyzco/backstage-test-app.git)

## Current Behavior
Publish step fails with the error _Error: Failed to add branch pro

[2021-07-08 07:28] OrkoHunter commented on #6393
Awesome! Assigned it to you.

[2021-07-08 07:30] OrkoHunter commented on #6284
Sorry! I want to re-open this issue since it seems like we can handle this bug in the backend. Some kind of check to see if the OKTA audience starts with `https` or even append automatically if it doesn't.

[2021-07-08 07:57] kiranpatel11 commented on #6301
@benjdlambert we are having about 90 odd entities only in our catalog atm, and it takes about 2mins for the entity to appear in catalog after the registration.
is there a way we can see refresh queue in logs or db ? any tuning to optimize the refresh....particularly for new registration ?
Due to this delay....the user experience is bit confusing....most of the time they end-up retrying and that re

[2021-07-08 08:41] dtuite commented on #6334
@freben Maybe I'm misunderstanding your message but you seem to be saying that, while the [Well-known Relations docs](https://backstage.io/docs/features/software-catalog/well-known-relations#dependson-and-dependencyof) mention a `spec.dependencyOf` relation, none of the Kinds actually support it.

If that's true, my proposal is just to remove all mentions of `spec.dependencyOf` from the docs to pr

[2021-07-08 08:49] camilaibs commented on #2462
Hi guys, I tried to simulate locally in the latest version of Backstage and this behavior no longer exists, as you can see below.
![backstage_docs_mobile_navigation_test](https://user-images.githubusercontent.com/6290749/124892337-11d57b00-dfda-11eb-9d15-a524e17c049c.gif)

So I'll close this issue. Please let us know if you still have the problem after upgrading your backstage instance.

[2021-07-08 08:49] #2462 closed

[2021-07-08 09:00] freben commented on #6334
No, let me clarify again.

Relations are arrows. They can pop into existence in many ways. Maybe by ingesting some third party graph database. Maybe as computed by some `spec` thing. Maybe as a side effect of some other file that lies next to the yaml file. The point is, relations are _an entire thing of their own_ no matter what the entities as such are up to. There may be relations that are gene

[2021-07-08 09:04] freben commented on #6334
I think there's an underlying assumption that because `spec.x` exists, the relation `x` exists. But the two just aren't tied to each other. As a matter of fact I was a bit hesitant to introduce `spec` fields that happened to have the exact name as a relation, because this sort of confusion would inevitably arise :) I had hoped that the `spec` fields would typically be more ... you know, "semantic"

[2021-07-08 09:10] freben commented on #6334
Oh wait. I see that I am being dense here. I misread what you said but I'll leave in the wall of text just to be sure. What you explicitly said was to address `spec.depencencyOf` occurrences, which indeed would be a good thing to do! But I searched locally real quick here and I don't think I see any occurrences of that?

[2021-07-08 09:16] iamEAP commented on #4665
Hey @egnwd!  @camilaibs @soapraj and I were looking into this today and don't appear to be able to reproduce using the latest TechDocs plugin.  Is this still an issue for you without the `techdocs.requestUrl` / `techdocs.storageUrl` configs?

[2021-07-08 09:20] iamEAP commented on #5859
Hey @dufcrule!  We were looking at this and don't seem to be able to reproduce anymore (check out [this page](https://demo.backstage.io/docs/default/Component/backstage/getting-started/) on the demo and click on `Contributing to Backstage`, for instance).

Are you still seeing this on the latest versions of the TechDocs plugin?

[2021-07-08 09:56] OrkoHunter commented on #2462
That's definitely a progress @camilaibs ! I noticed that the sidebar disappears if your sidebar is "pinned".

![Screenshot 2021-07-08 at 11 53 25 AM](https://user-images.githubusercontent.com/8065913/124902744-8660e780-dfe3-11eb-960d-4b16298c98d3.png)

[2021-07-08 10:23] #4757 closed

[2021-07-08 11:12] dtuite commented on #6334
😂

Totally take your point about specs and relations being different and so on and, like you think I realised late in the conversation, I'm not recommending that the relation be removed. The clarification does help though, because as a lay-person reading the docs and trying to map an architecture to Backstage terms, I didn't really grok that the `spec.x` properties are generators of relations rath

[2021-07-08 11:12] #6334 closed

[2021-07-08 11:16] #5467 closed

[2021-07-08 11:45] freben commented on #6334
I'm totally understanding that the docs are not yet ascended to their fullest :P

[2021-07-08 12:01] iamEAP commented on #3660
Let's come back to this after #6341 and (to a lesser extent) mkdocs/mkdocs#2478 are in.

[2021-07-08 12:23] dufcrule commented on #5859
Hi @iamEAP! Yes, I see that on the demo the tocs are working fine.

Interestingly, on our own Backstage instance the tocs do work, but only upon each refresh of the page. I'm not sure why this is happening. I thought it might have something to do with the spacing of the [Markdown heading syntax](https://www.markdownguide.org/basic-syntax/#heading-best-practices) that we're using. Currently we're u

[2021-07-08 12:40] freben commented on #6301
We really should make the registration "eager" (to complete it immediately upfront) instead of "lazy" for this operation. That would likely be the most proper fix.

We do not have an exposed refresh queue interface, but certainly when checking the backend logs (in particular in debug mode) it outputs a lot of refresh loop info. It's curious that your delay time was so long - sounds like the proces

[2021-07-08 12:46] timbonicus commented on #6394
This should be addressed by #6331 set to be released today!

[2021-07-08 12:48] freben commented on #6394
It actually went out just now!

[2021-07-08 12:49] kuangp commented on #6301
I have a situation which may result in this scenario. We have a large Group entity that contains members representing all our engineers (~4K) and it seems like refreshing all the affected relations on the User entities would clog up the queue

[2021-07-08 12:56] hichristo commented on #6090
Upvoting, not really possible to deploy to heroku with postgres

[2021-07-08 13:44] freben commented on #6090
Oh I'd missed this ticket! Good thing you upvoted visibly :)

This sounds like it makes total sense. [This](https://github.com/backstage/backstage/blob/29862be2bc6847c28f7c47cfff46ec3fcf6f3699/packages/backend-common/config.d.ts#L57) is where that configuration section is declared.

Maybe a simple `ensureExists?: boolean` that's default true? For bonus points, perhaps have it both on the root and

[2021-07-08 13:49] kuangp commented on #6090
@freben I can look into implementing it, thanks for the feedback!

[2021-07-08 13:55] iamEAP commented on #4367
We took a look at this and here's our proposed path forward...

1. Create a migration utility (most likely a command in `techdocs-cli`) that will copy any objects in storage from case-sensitive triplet paths to lower-case triplet paths.
2. This migration utility will rely on a new method added to the `PublisherBase` signature (perhaps called `migrateDocsCase` or similar) which handles the logic on

[2021-07-08 14:00] freben commented on #6301
Alright! Do you happen to know how long a single refresh of that actually takes end-to-end, and what your refresh interval is set to in your `CatalogBuilder` in the backend? I'm starting to wonder if there are overlaps. I.e., that a refresh starts, which moves a lock timestamp forward by X units, and then the refresh takes so long that another worker deems the process as "stuck" and starts doing t

[2021-07-08 14:10] kuangp commented on #6301
hm I'm not sure how long the refresh takes, do you have any recommendations on how to measure that? It's the same behavior we [discussed briefly in discord](https://discord.com/channels/687207715902193673/687235481154617364/859455680305037353) where I'm observing the constant "stitching" process in my DB logs

Our refresh interval is set at 10mins

[2021-07-08 14:46] benjdlambert commented on #6394
Can we close this now @ravargs?

[2021-07-08 14:48] benjdlambert commented on #6316
Does anyone want to pick this up? 🙏

[2021-07-08 14:51] #6285 closed

[2021-07-08 14:55] freben commented on #6269
@andrewthauer Hm. I think that them being in one repo isn't necessarily an indicator either way. It could even be the case that if you have several things that are strictly co-deployed for example as one main container and several sidecar containers ... then those could hypothetically be modelled as a single unit Component. I think ultimately, often these decisions come down to how people think of

[2021-07-08 15:01] freben commented on #6312
Yes, but, in the ideal scenario I think the idea then, is that the other system's API entity would be exposed by the system too, as part of its external surface. Either way you'd perhaps depend on the API, not the component. But I get what you're saying; the same issue might crop up in regards to Resource kinds too. However ... doing too much such cross linking might be indicative either of opport

[2021-07-08 15:21] andrewthauer commented on #6269
@freben - Thanks that is useful to think about in this way. We have many cases where a repo maps to what we call a service. The service consists of an API container, queue container, poller/consumer container, etc. Often these are the same code base and are just setup to run as different roles. In some cases there are completely different packages within the repo and may have different Dockerfiles

[2021-07-08 15:44] freben commented on #6269
Hm! Interesting way of arranging things... Yeah I'm not sure my initial answer is perfect either. Not gonna have time to fill in more right now sadly.

Yes docs by example is something I think we need in general. Especially for the most flexible aspects - the system model, deployment methods, auth scenarios...

[2021-07-08 18:21] joeporpeglia commented on #6286
Template migration done in https://github.com/backstage/software-templates/pull/2

[2021-07-08 18:51] rodmachen commented on #6039
@OrkoHunter I wonder this was fixed with the following PR? https://github.com/IonicaBizau/parse-url/pull/28

[2021-07-08 18:59] OrkoHunter commented on #6039
I think so too. parse-url@5.0.* is using the correct version of normalize-url v4 which is not broken on Safari.

[2021-07-08 19:31] #6110 closed

[2021-07-08 20:56] timbonicus commented on #2815
@mtlewis and I spent a hot second looking at the [code in question](https://github.com/backstage/backstage/blob/9eccc589b7ebe3c2675a29f650bf2417d89d2573/packages/backend-common/src/reading/GithubUrlReader.ts#L267). As mentioned, there's not enough information in the URL to tell branch name versus path when the branch has a slash. I didn't find any alternative URL formats that work with GitHub wher

[2021-07-08 21:19] freben commented on #2815
One issue iirc is that there's a lot of code that just uses git-url-parse or things like [resolveUrl](https://github.com/backstage/backstage/blob/master/packages/integration/src/types.ts#L50) that aren't even async in the first place so there's very little room for doing smart or retrying or remote-querying things. Feels to me like it unfortunately would take a big refactoring to make it good.

[2021-07-08 21:20] eperdeme commented on #2815
Evening,
I'm not a developer but doing loops to attempt to work out if its a branch or a path seems inelegant.

In other projects I've seen the URL is normally constructed for git repos with parameters that get extracted to let the client libs know what the branch is;

For example;

Terraform
``
git::https://example.com/vpc.git?ref=v1.2.0
``
Helmfile
``
- name: polaris
  url: git+https://github.co

[2021-07-08 21:26] freben commented on #2815
@eperper thanks for those pointers - interesting. One thing to take into account here is convenience of copy+paste as mentioned by @Rugvip above. Having to form a custom url might be error prone. That being said, I think that approach can be worth considering nonetheless, especially if it's an "alternative form" that you can use only when necessary or if it's easily available somehow in the web in

[2021-07-08 23:06] tiagogba opened #6411 "Plugin bitbucket Cloud not has a key project in your payload"
In the class const createBitbucketCloudRepository does not pass a proprietie key: project, in other words, it's not possible create a repository in another project default.

## Expected Behavior

Add the properties key:project in the payload and receive this from the template

plugins/scaffolder-backend/src/scaffolder/actions/builtin/publish/bitbucket.ts

## Possible Solution

const createBitbucke

[2021-07-08 23:24] andrewthauer commented on #6334
I fell into tree same trap actually. We have a shared db resource that I thought it would be quicker and easier to use dependencyOf instead of going to each component using it. I then realized it didn't work the opposite way.

[2021-07-09 00:59] jcarres-mdsol commented on #6269
@andrewthauer  we have exactly the same setup here.
And similar conundrum.
In our case for instance we need to audit changes to our data, so basically all services send information to the audit system but for performance reasons that's not done by the container exposing an API but it happens in a background container/lambda.

And when it comes to use `dependsOn` it feels it is different to depend

[2021-07-09 05:27] #6090 closed

[2021-07-09 08:08] kiranpatel11 opened #6414 "Catalog : Extra attributes/context for entity relationships"
Allow extra context to be captured in catalog-info.yaml for dependency relationships.

## Feature Suggestion

Want to run through the idea with the community if it is a common need to enhance the consumes/provides relationship with extra attributes. few usecases :

1. Capacity modeling: one of our team is considering to build capacity modeling plugin based on catalog entity relationships. They pro

[2021-07-09 08:50] OrkoHunter opened #6415 "Scaffolder: Remove sample templates from mono-repo in favor of backstage/software-templates repository"
## Feature Suggestion

Remove existing sample templates from this mono-repo
https://github.com/backstage/backstage/tree/master/plugins/scaffolder-backend/sample-templates

## Possible Implementation

NOW: We announce the community (using changesets, Discord and community session)

2 WEEKS: Update the description of sample templates in the mono-repo to show a warning to users ingesting them, so tha

[2021-07-09 08:53] TejasQ opened #6416 "Unable to add packages or plugins | expected workspace package to exist for X"
## Current Behavior
![image](https://user-images.githubusercontent.com/9947422/125051746-904a1f80-e0a3-11eb-81c6-c857c6156edc.png)

I try to `yarn add @backstage/plugin-catalog-backend-module-ldap` and it errors because apparently I need `css-loader` installed in my workspace. 🤔

## Expected Behavior
The plugin _just installs_ without error.

## Steps to Reproduce
Create a new backstage app and tr

[2021-07-09 08:59] benjdlambert commented on #6416
This is actually something that effects all installs of things in the workspace. Been unable to work out what the issue is though. @OrkoHunter I think had a workaround, but you can add the package explicitly in the `package.json` manually and run `yarn install` for now

[2021-07-09 09:12] OrkoHunter opened #6417 "docs: Package API Reports should show up on backstage.io/docs"
All of our plugins and packages export APIs, and the API reports are generated for each package e.g. https://github.com/backstage/backstage/blob/master/packages/backend-common/api-report.md

It will be nice to see a version of these reports with documentation under https://backstage.io/docs/api/backend

[2021-07-09 09:24] sagacity commented on #6414
Just my two cents, but in our organisation we would probably not want to model this in the service catalog, but rather look at actual metrics to see how the load on a certain producer is distributed among consumers. The reasoning behind is that these patterns may change over time, but they can also be highly dependent on the time-of-day, the day-of-week, etc. Capturing all of this with a `weight`

[2021-07-09 09:27] OrkoHunter commented on #6417
So, it looks like the `yarn build:api-docs` command is supposed to generate these API references inside `docs/references` and docusaurus is able to display them locally!

For some reason, it seems to be disabled. Would love if someone can share the history behind it. cc @backstage/reviewers

[2021-07-09 10:02] OrkoHunter commented on #6416
Yeah, this is so annoying! Affecting both the mono-repo and generated Backstage apps as well.

[2021-07-09 10:17] OrkoHunter commented on #5495
I think this issue will be closed by @andrewthauer's PR https://github.com/backstage/backstage/pull/6071

[2021-07-09 10:30] Xantier commented on #4447
I could grab this and create the initial implementations of needed classes to get this work started,

[2021-07-09 10:31] #5557 closed

[2021-07-09 11:13] goober opened #6422 "[RFC] Minimize missing type exports by enabling `ae-forgotten-export` in api-exporter"
I have several times missed to validate that all necessary types are exported outside of my module, which leads to that an implementer cannot use the functionality as expected.

By enabling the `ae-forgotten-export` check in the API Extractor you get warnings at build time that you have forgotten to export the required types from your module.

I would like to discuss this improvement before I crea

[2021-07-09 11:19] andrewthauer commented on #6414
Another possible usage of this is just giving more context to the purpose of the relation and/or if the relation was auto created using some sort of automated enrichment process.

#1 and #3 sound a little bit in the real of SLO, service level objectives. I can see this being useful to define for a given component as a target value and then possibly comparing it to some sort of APM runtime data. Ho

[2021-07-09 12:03] freben commented on #2566
Sorry, no news. It's just about having the time to soldier through making it - and our priorities have been elsewhere while moving everything toward GA release.

We're more than happy to help out with specifics on discord or elsewhere, and in a pinch you sometimes can glean details by looking at the source for the exposed routers of the plugins.

[2021-07-09 12:23] emmaindal commented on #4447
@Xantier Amazing, just let us know if you have any questions. I'll assign it to you!

[2021-07-09 14:49] TejasQ commented on #2566
So we can probably use something like https://dev.to/kabartolo/how-to-document-an-express-api-with-swagger-ui-and-jsdoc-50do to autogenerate a nice documentation site. Just a suggestion.

[2021-07-09 16:14] benjdlambert commented on #2566
I wonder if we could get super meta, and use the `API` Entity and automatically add Backstage components to the `backstage` namespace so you can see these swagger docs in Backstage.

[2021-07-09 17:19] egnwd opened #6426 "Backstage doesn't load in Safari (when using @backstage/integration-react)"
## Expected Behavior

I should be able to load a page in Safari.

## Current Behavior

I get a white screen and a console log saying:

[code]

## Possible Solution

Possibly parsing git urls some other way? or somehow pin the normalize-url version, and live with the security vulnerability (see context below). neither option seem great.

## Steps to Reproduce

1. Use `@backstage/integration-react`

[2021-07-09 17:31] timbonicus commented on #6426
Thanks for reporting! This may be the same as #6039?

[2021-07-09 19:44] timbonicus opened #6427 "Master Windows builds failing due to railsNewRunner"
The [Master Windows Builds](https://github.com/backstage/backstage/actions/workflows/master-win.yml) are failing due to path separator issues on Windows. For example:

[code]

I took a quick look at this, but wasn't able to reason about some of the non-trivial codepaths. There are some places that should use `path.join`, `path.normalize` or `path.sep`. Reproducible in Windows via:

[code]

@angeli

[2021-07-09 19:58] OrkoHunter commented on #6427
Adding to Tim's excellent suggestions, also replace `/tmp` with a variable which is equal to `os.tmpdir()`. Usually the problem lies at the use of `/tmp` since this is resolved to `C:\\tmp` on Windows CI runner, and ofcourse expecting `/` as the path separator.

We can also do (as done in a lot of places already)
[code]

[2021-07-09 20:21] niallmccullagh opened #6428 "Make it easier to find out how to delete a template"
## Feature Suggestion

Make it easier to find out how to delete a template.

## Possible Implementation

Create a link on the template `title` to the catalog entry to each of the available templates in `/create`. This would allow  a user to easily follow the normal unregister a component.

## Context

It is diffifult for a user to understand how to delete a template:
1. Lack of documentation
2. Di

[2021-07-09 20:29] timbonicus commented on #5310
@kuangp The challenge is the custom table columns that `ApiExplorerPage` accepts, added _after_ #5435; these make the fields required harder to reason about. The columns are typed with [EntityRow](https://github.com/backstage/backstage/blob/master/plugins/catalog/src/components/CatalogTable/types.ts#L18) which has a complete `Entity` type available. If you return a partial (field-filtered) entity,

[2021-07-09 20:42] timbonicus commented on #6428
Another possible implementation is showing kinds other than `Component` on the catalog page. So one could select `Template` and see all registered templates through the catalog interface (or `User`, `Group`, `Resource` etc). The capability is there already in [EntityKindPicker](https://github.com/backstage/backstage/blob/master/plugins/catalog-react/src/components/EntityKindPicker/EntityKindPicker

[2021-07-09 21:00] chicoribas commented on #6245
I'm working on Microsoft refactor... I'll PR it soon...

[2021-07-09 22:56] egnwd commented on #6426
@timbonicus yes, I missed it, sorry about that, I'll close as a duplicate

[2021-07-09 22:56] #6426 closed

[2021-07-09 23:56] egnwd commented on #6039
Based off of the possible solution given, I used:

[code]

in my top level package.json and that has worked around the issue for me until something better comes along, doing it at the parse-url package level gave a warning so I went with git-up. In case it's useful for other passers-by.

[2021-07-09 23:59] egnwd commented on #4665
Hi @iamEAP, sorry just seen this, I'll test on Monday when I can get a deploy out to our remote env.

[2021-07-10 03:24] bob-bins opened #6429 "Sentry plugin does not work. The annotation is not picked up"
I followed [these steps](https://www.npmjs.com/package/@backstage/plugin-sentry) exactly, even adding the "demo mode". Then I added the `sentry.io/project-slug` annotation to my component config. I also made another unrelated change to the config to make sure I knew the changes are being picked up. But somehow I am still seeing `The sentry.io/project-slug annotation is missing. You need to add the

[2021-07-10 06:50] chicoribas commented on #6245
PR for Microsoft provider opened: #6430!

[2021-07-10 09:24] hichristo commented on #6090
Great stuff guys 🙌

[2021-07-10 15:55] yonimoses opened #6431 "CookieCutter is not a constructor"
Updated to latest version ( versions:bump)
and got a
` _backstage_plugin_scaffolder_backend__WEBPACK_IMPORTED_MODULE_2__.CookieCutter is not a constructor
`

tried deleting node_modules from the root and reimport everything, still getting it.

any ideas?

[2021-07-10 16:04] yonimoses commented on #6431
downgraded to

`  "devDependencies": {
    "@backstage/cli": "^0.7.1",
    "@spotify/prettier-config": "^7.0.0",
    "concurrently": "^6.0.0",
    "lerna": "^4.0.0",
    "prettier": "^1.19.1"
  },`

and

`  "dependencies": {
    "app": "0.0.0",
    "@backstage/backend-common": "^0.8.3",
    "@backstage/catalog-model": "^0.8.3",
    "@backstage/catalog-client": "^0.3.13",
    "@backstage/config": "

[2021-07-10 17:49] freben commented on #6431
I think that's part of the old fixed pipeline stuff that has been migrated to the newer flexible templates. Check the changeset and the linked migration guide to see if it applies to you.

https://github.com/backstage/backstage/blob/master/plugins/scaffolder-backend/CHANGELOG.md

[2021-07-11 03:20] o-farooq commented on #5693
@jvilimek  Not a proper solution , just a workaround until fixed properly is to change the TechRadarPage size in App.tsx . 1800x1150 worked for me

![image](https://user-images.githubusercontent.com/17722640/125181693-8539ef80-e25b-11eb-8561-1f952f890921.png)

[2021-07-11 23:55] kiranpatel11 commented on #6414
Thanks for the comments, yes, I have the similar dilemma on the catacity modeling usecase.

However, another usecase that came to my mind that can benefit from this is referning consumer-driven contracts (like [Pact file](https://docs.pact.io/getting_started/terminology/#pact-file)) on a  `consumes` relationship.

[2021-07-12 01:25] cruikshj commented on #6288
I am experiencing the same issue, but with the Microsoft Graph packages.

[2021-07-12 03:53] prasaria commented on #6316
Hello, sorry I've been away last week, yes I want to pick this issue. Thank you

[2021-07-12 06:25] dehamzah commented on #6349
ah yes. thank you. didn't realize the arguments after `core-imports` is the target folder. now the codemod works  seamlessly refactoring my plugins 😸

[2021-07-12 08:28] yousifalraheem commented on #4781
Hi, is there any progress being made for this issue? We at Zalando are really interested in this feature. In fact, it's in the top 3 of the highest requested features. We are happy to contribute if necessary.

I found this video on YouTube were the search is implemented in the internal version of Backstage.
[![How to make great documentation](https://img.youtube.com/vi/mOLCgdPw1iA/0.jpg)](https://

[2021-07-12 08:35] benjdlambert commented on #6349
@dehamzah so we can close this ticket now?

[2021-07-12 09:09] Xantier commented on #4781
Hi @yousifalraheem,

The implementation of this has started on the backend side which introduces a collator to gather the actual data to be indexed for the techdocs search (https://github.com/backstage/backstage/pull/6375). That is advancing nicely and I like to think fairly close to being merged in (I'll probably add one more test case for it) and would then unblock this ticket to being started.

[2021-07-12 09:29] OrkoHunter opened #6437 "[RFC] Scaffolder: Unify templating syntax used in template.yaml and the template skeleton"
**Status:** Open for comments

## Need

In a standard Backstage Software Template ([Example](https://github.com/backstage/software-templates/tree/main/scaffolder-templates/react-ssr-template)), there is a [`template.yaml`](https://github.com/backstage/software-templates/blob/main/scaffolder-templates/react-ssr-template/template.yaml) file which is an Entity descriptor file of the [Template kind](h

[2021-07-12 09:50] prasaria commented on #6316
I already made a PR : https://github.com/backstage/backstage/pull/6438.. Thank You

[2021-07-12 09:58] iamEAP commented on #3660
^ MkDocs PR was merged, but it's not released yet.  This PR is related to the update we'll need to do though: backstage/mkdocs-techdocs-core#27

[2021-07-12 10:20] dehamzah commented on #6349
It depends. I thought the action items should be adding a warning message
when doing a version bump on backstage upgrade?

On Mon, Jul 12, 2021, 3:35 PM Ben Lambert ***@***.***> wrote:

[2021-07-12 10:30] andreafalzetti commented on #6393
hey @chicoribas, I'd be interested in your approach and I was wondering if you could show me your changes? I am actually doing something similar at work. Also I made some contributions on the scaffolder and looking for something else to work on.

[2021-07-12 11:20] benjdlambert commented on #6349
It will link you to a changelog which should tell you what to do, in which there is links for the codemod, but the specific things that you need to do are not rendered in the terminal at the moment.

[2021-07-12 11:39] benjdlambert commented on #6437
Probably would be good to maybe reference an example here of what it would look like compared to the current implementation, and how we can solve the `registerHelper` calls that have already been setup with the new templating nunjucks for instance (it's pretty simple I know but good to show what it would be converted to, like the new `eq` helper).

Also the migration path should be pretty simple,

[2021-07-12 12:11] nadworny commented on #4359
hi @awanlin, any update from your side?

@freben assuming that @awanlin's test is positive, we can proceed with removing of the stripping functionality?

[2021-07-12 12:15] awanlin commented on #4359
Sorry for the slow follow up @nadworny I got pulled into a rabbit hold due to the fact we set a different `docs_dir` and that is considered a security issues for the Basic TechDocs setup.

Anyway, testing clearly worked or I would not have hit this issue. I also tried the API URL directly just now and the results were exactly as we expected them matching the attached sample in this issue

[2021-07-12 12:42] freben commented on #6437
Maybe mention why `${{` would be picked over simply `${`.

[2021-07-12 13:10] dehamzah commented on #6349
That would suffice then. Yes we can close this issue. Thank you everyone
for the help.

On Mon, 12 Jul 2021 at 18.20 Ben Lambert ***@***.***> wrote:

--
Regards,
Dede Hamzah

[2021-07-12 13:13] OrkoHunter commented on #6437
Thanks for raising @freben. I'm not sure why. I'll also add that [`${ }`](https://backstage.io/docs/conf/writing#environment-variable-substitution) is being used in `app-config.yaml`.

[2021-07-12 13:48] #6349 closed

[2021-07-12 13:53] benjdlambert commented on #6437
I'd say that the substitution in `app-config.yaml` is only for Environment Variables so and I think it aligns nicely with bash syntax of `${ENV}`.

This I think is still open for discussion if to be honest, but I like `${{ }}` as it's pretty clear when glancing through a document what is a template var coming from using `cookiecutter` and `handlebars` before. It's also pretty widely used in other

[2021-07-12 14:21] benjdlambert commented on #6422
@Rugvip thoughts on this? Sounds pretty reasonable?

[2021-07-12 14:27] chicoribas commented on #6393
Hi @andreafalzetti ...

Thank's for your review...

I have an custom action at my project, but maybe it could be a great idea change que builtin action to receive que token and use that to work with GH Api... I think this is an other issue to work on.

What do you think?

[2021-07-12 14:33] andreafalzetti commented on #6393
@chicoribas I think it's not a bad idea to create flexibility and having both approaches built-in. I know there is a wider discussion around the GitHub auth for scaffolder which Spotify will look at this summer cc @benjdlambert

[2021-07-12 15:15] benjdlambert commented on #6394
Going to close, feel free to re-open if there's something we've missed!

[2021-07-12 15:15] #6394 closed

[2021-07-12 15:16] alexcurtin commented on #6039
This is still not working in Safari with the latest backstage component versions updated, just a heads up

[2021-07-12 15:56] benjdlambert commented on #6428
As discussed on discord, I'm wondering if it makes sense to add a little `View in Catalog` icon on the Template Cards in the `/create` screen list. Right now it's a little abstracted away as they're not in the main `/catalog` view as that default to `Components`.

Maybe the actual solution is to be able to browse everything in the Catalog, but that opens up more questions really in terms of is tha

[2021-07-12 16:05] #5103 closed

[2021-07-12 16:27] benjdlambert commented on #6416
OK - So I did some `git bisect` magic between a working revision and `master` using a `git bisect run` to run a simple `yarn add` in `catalog`. Turns out it's this commit: 613e46d23488c19b9b822cf3724aee2b880c7d24 or #6290 which makes sense as we've shipped this to users too.

Need to write a resolution override to test but first 🥘

[2021-07-12 16:28] freben commented on #6437
No strong opinions here, just nice to have the rationale, so all good. I was thinking from the angle of ease/convenience of typing out these templates, but it's not a big deal either way

[2021-07-12 17:33] benjdlambert commented on #6416
So I'm not sure where the `css-loader` comes into this, so there could be an extra dependency that got upgraded and broke this too, but I remember it being related to `jsonfile` too which this dependency seems to change. So let's see if this PR can help.

[2021-07-12 17:46] GoWind commented on #6281
I would really like  to  **STRONGLY** push back against this : What problem does supporting multiple databases
solve ?

b) Is this being done because Knex can support multiple databases ?

Multi-database is tricky. there are simply far too many differences between the behavior of various RDBMS and it might be easier to support multi-cloud deployments correctly than dealing with multi-DB solutions.

[2021-07-12 18:12] benjdlambert commented on #6416
Gonna keep this open until we do a release and confirm it fixed the issue. Think it's fixed on master now at least.

[2021-07-12 18:21] benjdlambert commented on #6431
Cookiecutter is no longer exported from the `scaffolder-backend`, only in action format.

https://github.com/backstage/backstage/blob/master/plugins/scaffolder-backend/CHANGELOG.md#minor-changes is probably the exact migration you're looking for.

[2021-07-12 18:28] benjdlambert commented on #6416
Could be related breaking change for `create-app` installs also #6253

[2021-07-12 18:29] benjdlambert commented on #6416
Maybe we should consider updating `yarn` too if this is going to happen for any new major version change of a library too. Can't keep rolling back stuff, especially when there might be security fixes in dependencies.

[2021-07-12 18:34] bob-bins commented on #6429
I've downgraded to `0.3.13` and it's working now

[2021-07-13 07:15] ravargs commented on #6394
@benjaminr - I would like to reopen the issue.
Even though the branch protection is resolved the backstage is trying to publish the repo to incorrect location.

If I provide '**backstage-test-app3**' as the repo name to publish, backstage is trying to publish to https://github.com/user1/backstage-test-app3. **user1** is the user for the personal access token.

If I provide https://github.com/myorg

[2021-07-13 08:20] ottosichert commented on #6132
I think we should choose an approach that is platform-agnostic. This keeps the possibility of integration other external storage providers with a minimal set of operations:
- upload
- delete
- link
- rename

I'm not sure if we should keep the whole history though, so I would propose following approach:

1. Build assets for `my-site`
2. Abort if building was unsuccessful
3. Upload assets to externa

[2021-07-13 08:21] benjdlambert commented on #6394
@ravargs so just to confirm, you have something that looks like this:
![Screenshot 2021-07-13 at 10 19 53](https://user-images.githubusercontent.com/3645856/125417394-56a0dd14-2ea4-4c5b-8714-ddd3bad0e04c.png)

In the owner field of the `choose your location` you have only placed in the name? not a full URL?

[2021-07-13 08:27] benjdlambert commented on #6429
Hmm - that's very strange as it's only dependencies that got bumped.

Did you use `yarn backstage-cli versions:bump` to bump the sentry package or did you just do it manually?

[2021-07-13 08:29] neilbeukes opened #6448 "Change log breaking change suggestion for scaffolder wrong"
## Expected Behavior

There is a correct guide on how to migrate/change your `scaffolder.ts` file here : https://github.com/backstage/backstage/blob/master/packages/catalog-model/CHANGELOG.md#minor-changes

## Current Behavior

Currently this change log here is suggesting changes that produce errors: https://github.com/backstage/backstage/blob/master/plugins/catalog-backend/CHANGELOG.md#minor-chan

[2021-07-13 08:30] neilbeukes commented on #6448
I can create a PR if this Issue is not wrongfully opened.

[2021-07-13 08:46] ravargs commented on #6394
In the owner field I was providing username instead of organization name.  If I provide organization name it works.
Thanks.

[2021-07-13 08:46] benjdlambert commented on #6394
yeah the owner field is either the name of the organisation or name of the user.

[2021-07-13 08:48] sagacity commented on #639
Is there a 'knex'-style abstraction library for messaging for NodeJS? A wrapper for such a library could make it in-process for simple deployments, but make it robust for larger scale deployments.

[2021-07-13 09:11] rbideau commented on #5638
We have found another solution for our use case by having a naming convention for our templates.
I'm closing this.

[2021-07-13 09:11] #5638 closed

[2021-07-13 09:22] OrkoHunter commented on #6132
@ottosichert Interesting! When you say `create a link from 'my-site' folder to 'my-site-<new>'`, do you mean a symlink?

I am just curious if this is supported for cloud storage providers. This says [GCS](https://stackoverflow.com/questions/12564669/an-object-in-google-cloud-storage-which-acts-as-a-redirect-or-symlink) doesn't support it.

[2021-07-13 09:45] iamEAP commented on #6132
Yeah, echo @OrkoHunter.  This is conceptually solid, but I think the problem is going to be that we'll still ultimately be limited to working on individual objects by the various cloud providers' APIs (meaning, spotty support for folder-level operations).

[2021-07-13 09:59] iain-b opened #6449 "Support additional keys in oauth state parameter?"
We've found that we need to pass information in the state parameter in our github oauth flow. Ideally there'd be a way of adding an additional value(s) into the encoded state e.g. nonce=adsf&env=development&additionalState=ourstate.

We recognise this probably means we need to implement a custom provider but we'd like to be able to leverage the good work the core team & community has done in provi

[2021-07-13 09:59] andrewthauer commented on #6132
I think you would likely need to deleted them recreate the entire structure to get the most breadth.  A rename could work as well (if supported), but would end up being a swap with possibly 3 operations. Both cases could lead to an inconsistent state if there are failures between. However that could be just as likely for any copy/sync, except maybe though additional logic errors introduced by adde

[2021-07-13 10:13] andrewthauer commented on #639
I haven't come across anything that stands out in particular. However something like https://cloudevents.io/ has similar motivations, except it's not JS/Node specific.

[2021-07-13 10:25] andrewthauer commented on #6414
Pact / consumer driven contracts is indeed another interesting use case here. If there was say a Pact plugin, it would likely need to operate on the API relations. Without thinking this through completely, I think it might be possible to just do an annotation lookup on the components on each end to resolve the actual contract. Is there context that needs to be in the catalog for this or can this j

[2021-07-13 10:32] andrewthauer commented on #6269
Yep, I'm not sure the best answer here. There are a few variables at play. The orgs setup, how they view their systems/services, and how the org wants to see the data presented in Backstage.

It can be tricky in some cases to come up with the right blend. One reason, we've been kicking the can the road as far as ecosystem modelling goes.

[2021-07-13 10:40] ottosichert commented on #6132
Thanks for the input! I would argue though that it is favourable we use only one approach almost everywhere to reduce complexity.

So replacing `link` with a swap-`rename` operation we could opt for these steps:

1. Build assets for `my-site`
2. Abort if building was unsuccessful
3. Upload assets to external storage with custom suffix, e.g. `my-site-pending-deployment`
4. Rename folder `my-site` t

[2021-07-13 11:03] benjdlambert commented on #6416
Just following up with this, looks like upgrading to latest 1.x release of yarn doesn't help, but updating to `berry (2.x)` seems to fix the issue too and I can install as expected. Maybe we can fix this short term for now, but look at moving to 2.x otherwise I think this is going to keep cropping up and causing issues blocking us from upgrading versions.

@Rugvip I know you had some thoughts on b

[2021-07-13 11:56] Rugvip commented on #6437
I think double curlys, both `${{ }}` and `{{ }}` makes a lot of sense in the template contents, as it avoids collisions with for example usage of `${ }` in shell scripts etc. I'd say it's less important for us to use that in the template definition though, as we're not mixing it with shell scripts. GitHub Actions do mix with shell scripts, which is why they need the full `${{ }}` syntax.

Can dist

[2021-07-13 13:21] ltdonner commented on #6394
I also ran into this issue when trying to use the name of a user instead of an org in the owner field. I was told this was to prevent another user (the owner of the PAT) from accessing your personal repos. So even if you use some kind of bot account you can't create personal repos for anything other than the bot account if I'm understanding correctly. (For orgs as the owner it works fine)

Can you

[2021-07-13 13:34] TejasQ opened #6450 "[RFC] Explicit status check handlers"
**Status:** Open for comments

## Need
https://github.com/backstage/backstage/blob/7a6a3586ac4be347724071cd1a94c91b4504504c/packages/backend-common/src/service/createStatusCheckRouter.ts#L25

Currently, the `statusCheck` property is _optional_: users can call `createStatusCheckRouter` and _not provide_ an actual status check. If a status check is not provided, it simply returns a `200` and `''` in

[2021-07-13 13:54] Rugvip commented on #6449
With the work going on in #6245 we're moving to making the auth providers way more configurable, and this could potentially be something that we work in in a similar way. Also open to cleaning up and exporting some of the internal helpers to make it easier to implement custom providers as well.

If I understand correctly the end result you want here is to be able to set the app origin of the `post

[2021-07-13 14:01] benjdlambert commented on #6394
We recommend that you use Github Apps for authentication in production not PAT, but you should be able to enter a user or an organisation, not the full url, only the name in the `RepoUrlPicker` as shown above and it create repositories there. Don't think theres any special logic being it, it just needs to be the owner of the PAT IIRC.

[2021-07-13 14:13] ltdonner commented on #6394
This might be a separate discussion to have elsewhere but should a user be able to create a personal repo when using Github Apps? We've been unsuccessful there too.
InputError: No token available for host: github.company.com, with owner user1, and repo test-personal-repo-1

[2021-07-13 14:17] ConnorDY commented on #5214
Any updates on this? We'd love to have this ability for our use case. :)

[2021-07-13 14:17] ltdonner commented on #6394
Oh sorry nevermind - looks like this is in the works https://github.com/backstage/backstage/issues/5214

[2021-07-13 14:19] kuangp commented on #6308
Hi I am also running into this issue now and its a huge blocker for us since newly registered docs can no longer be built. Is there any known workaround or should we downgrade our version of `@backstage/plugin-techdocs-backend` ?

[2021-07-13 14:24] OrkoHunter commented on #6450
We should definitely document the default behavior as close to the code as possible. PR here https://github.com/backstage/backstage/pull/6451

Now to the question of whether we should make `statusCheck` mandatory, let's think about "Does this change increase the difficulty of creating new plugins?".

So my vote goes to either (1) leave everything as-is or (2) mark `statusCheck` mandatory and updat

[2021-07-13 14:31] victorhahn opened #6452 "Backstage core Table pagination not working"
We have discovered a recent regression in the pagination functionality of the `@backstage/core-components` Table component in our Backstage installation.

## Expected Behavior
When a user presses the "next page" or "previous page" arrow buttons to toggle pages within a Table it should display the next set of data.

## Current Behavior
When a user presses the "next page" or "previous page" arrow bu

[2021-07-13 15:04] andrewthauer commented on #6450
I would call this the default behaviour rather then a fallback. The simplest health check is typically checking if the server is responding, so that's essentially what it's doing. I personally have no issues making it mandatory either, assuming there's a simple default status check that is exported and usable for the default/simple status/health check behaviour.

[2021-07-13 15:36] jrusso1020 opened #6456 "Issue with Symbolic Links and fs-extra"
## Expected Behavior
Broken Symbolic links should be handled by fs-extra similarly to how it's handled by cp -r. The scaffolder should be able to handle these broken symbolic links

For context we have a monorepo, so we keep a local copy of the monorepo stored on our backstage backend server which we periodically fetch changes for. We take our templates and copy them into a specific working direct

[2021-07-13 16:14] Rugvip commented on #6245
Thank you @chicoribas!

We now also have #6430 to serve as a reference for the refactor 👌

[2021-07-13 16:33] bob-bins commented on #6429
I did it manually. Deleted the lockfile and changed the package.json version to be exactly `0.3.13`.

[2021-07-13 16:49] benjdlambert commented on #6429
Yeah I think the issue is that you would need to bump other dependencies too. Editing the lockfile could cause duplicate packages to be brought in, which could cause unexpected things to happen. If you use the `yarn backstage-cli version:bump` command it will do this de-dupe for you.

[2021-07-13 16:49] benjdlambert commented on #6429
Try with that command and see if it helps

[2021-07-13 16:56] #6427 closed

[2021-07-13 17:08] bob-bins commented on #6429
You might have missed this comment I left below the main message: https://github.com/backstage/backstage/issues/6429#issuecomment-878502128

Everything worked after I downgraded one patch version from the latest by editing the package.json file and regenerating a new lockfile (I didn't hand-edit the lockfile).

[2021-07-13 17:24] #6456 closed

[2021-07-13 18:35] jrusso1020 commented on #6416
one thing to note on berry @benjdlambert is that it doesn't work with dependabot yet sadly, so you will lost dependabot if you upgrade yarn to 2.X. https://github.com/dependabot/dependabot-core/issues/1297

Dependabot will still open PR's for version updates though it just doesn't update dependencies correctly, so my workaround in another project was to let it open up PR's and then I would manuall

[2021-07-13 21:46] kuangp commented on #4108
I put together a [PR](https://github.com/backstage/backstage/pull/6458) to demonstrate my proposed implementation, let me know if this is a viable solution here

[2021-07-13 23:48] kiranpatel11 commented on #6414
You are right - Pact plugin can lookup PactBroker based on consumer-provider name pair and identify the contract if defined without having any extra info in the catalog (even  no extra annotation). However, for the sack of efficiency, the lookup can be optional and only done if the link to contract/some indication provided by the consumer, as Pact is not used that commonly across services. (though

[2021-07-14 00:51] #6390 closed

[2021-07-14 01:25] kiranpatel11 commented on #6301
@freben, is this fix being tracked via this issue ? Does it have defined timelined yet ?

[2021-07-14 08:43] kiranpatel11 commented on #5919
any CRUFT equivalent for node-based template engine ?

see context #5955

[2021-07-14 08:46] benjdlambert commented on #5919
@kiranpatel11 we probably wouldn't support that out of the box, but it's maybe something that we could consider further down the line.

[2021-07-14 09:33] ottosichert commented on #6132
Manually retrieving all objects within a folder would seem error prone, so I had a look at current APIs that would indeed support moving:

- https://docs.aws.amazon.com/cli/latest/reference/s3/mv.html
- https://cloud.google.com/storage/docs/copying-renaming-moving-objects#storage-rename-object-nodejs
- https://docs.microsoft.com/en-us/cli/azure/storage/fs/directory?view=azure-cli-latest#az_storage

[2021-07-14 09:33] Rugvip commented on #6417
The API reports are optimized for diffing and are therefore not great as docs, most importantly they don't contain any doc comments.

There's indeed the `build:api-docs` command, you can try it out and look around in `docs/reference` if you want. When @grantila and I were looking at this we stopped at shipping the API reports, since the docs required quite a bit more work. The main pain points of

[2021-07-14 09:35] OrkoHunter commented on #6417
Thanks for the context @Rugvip !

[2021-07-14 09:45] acuteaura opened #6469 "catalog-backend: discovery on multiple branches causes duplicates, resulting in SQL error"
When using multiple github-discovery locations in the catalog config that point to different branches on the same organisation, duplicates can occur when the default branch was changed via GitHub UI due to redirect.

## Expected Behavior

Conflicts are resolved by detecting the redirect and either deduplicating objects or not following redirects.

## Current Behavior

An attempt to ingest the same

[2021-07-14 10:13] #6258 closed

[2021-07-14 12:18] benjdlambert commented on #6469
@acuteaura so I haven't looked into this yet, but this just caught my eye: https://github.com/backstage/backstage/discussions/6395

Does this help you?

[2021-07-14 12:20] Rugvip commented on #6422
Yep, totally, only reason warnings weren't enabled already was because absolute file paths where being included, which breaks CI. It required yet another ugly workaround to get around that, but should be fixed by #6472

[2021-07-14 13:10] reinoudk commented on #6469
We actually used that workaround but then got warnings about conflicts with existing entities from a different location (as we already ingested the locations using the `main` branch. (We could wipe the DB to fix this, but it doesn't feel like a good long term solution.) The redirect from `master` to `main` does not seem to be a 100% reliable, but we'd have to test that some more to be conclusive.

[2021-07-14 13:11] acuteaura commented on #6469
We've gotten very inconsistent results, our working theory is that this redirect only exists on repos which were switched over. Though running our config locally with a fresh SQLite only gives me catalog entries from `master`, even on one repo which was switched over.

[2021-07-14 13:20] chicoribas commented on #6393
I email you my code samples @andreafalzetti.

Did you receive it?

[2021-07-14 15:02] iain-b commented on #6449
Yes, ultimately. What we've done is create a simple lambda application which accepts the github callback and redirects to the `handler/frame` endpoint of the instance which initiated the request. It knows this by inspecting the state. The state we pass through contains a short lived, signed JWT token which contains the public url of the handler frame endpoint. This is generated via a backend plugi

[2021-07-14 15:17] nirga opened #6473 "Todo plugin hits Github rate limit quickly"
Todo plugin hits rate limiting of Github too fast which renders it useless most of the time - it shows a 500 error instead of the TODO list.

## Expected Behavior

TODOs should be cached or rather synced in the background and saved to avoid this.

## Current Behavior

HTTP 500 error (which is a 403 from GitHub) is shown on most renders.

<img width="1440" alt="Screen Shot 2021-07-14 at 18 13 42" s

[2021-07-14 16:25] #6393 closed

[2021-07-14 20:11] jh-sh commented on #6452
We did update today and don't face any issue with the tables. Yet
our `yarn.lock` looks this way:
[code]
The latest available version is 1.69.3 (released in April)
So another workaround may be resolving `material-table` to 1.69.2 like this:
[code]

[2021-07-14 20:23] OrkoHunter commented on #6473
Having very little knowledge of the plugin, but it does seem to be caching the results.

https://github.com/backstage/backstage/blob/12a62ea5f6c4c52284612622cecc35a6e825e920/plugins/todo-backend/src/lib/TodoReader/TodoScmReader.ts#L65-L77

[2021-07-14 20:31] dimkk opened #6476 "Error: Missing required config value at 'app.baseUrl' after fresh npx @backstage/create-app and plugin-create"
Hello!

Followed docs to create fresh instance of backstage and to create fresh plugin.
[According to docs](https://backstage.io/docs/plugins/create-a-plugin), I can start plugin in isolation.

## Expected Behavior

Plugin start in Isolation and I can enjoy hot reload and fast iteration time

## Current Behavior

Error: Missing required config value at 'app.baseUrl' after yarn start

## Possible S

[2021-07-14 21:23] gasandov opened #6478 "Custom Error Message on TechDocsNotFound / ErrorPage"
1. I want to be able to customize the error message that is being displayed on the `TechDocsNotFound` component e.g instead of having this [hardcoded message](https://github.com/backstage/backstage/blob/master/plugins/techdocs/src/reader/components/TechDocsNotFound.tsx#L33) by providing a custom message.
2. `ErrorPage` is grabbing content/configurations from the `app-config.yaml` we can leverage a

[2021-07-14 21:30] #4111 closed

[2021-07-14 21:30] OrkoHunter commented on #6476
Thanks for reporting @dimkk - I was able to reproduce the error. I believe one should be able to start a standalone plugin even on a newly created Backstage app.

## TL;DR of problem

I did some debugging and found out why this is happening. TL;DR `app-config.yaml` file is loaded correctly, but the Backstage app needs a `config.d.ts` to set the visibility of `app.baseUrl` to frontend. Read more ab

[2021-07-14 22:10] OrkoHunter opened #6479 "feat(cli): Add a command to ensure all necessary tools are installed to run Backstage locally"
## Feature Suggestion

Running a Backstage app locally needs a few things installed in your local computer, `yarn` and `node` being just a few of them. Since Backstage apps are platforms on which developers contribute, we need to ensure that it's easy for them to run Backstage locally.

There should be a command in `backstage-cli`, which they can run as part of "getting started" to ensure that the

[2021-07-14 22:21] OrkoHunter commented on #6478
I think it should be possible to customize the ErrorPage component in TechDocs. But instead of going the 'app-config.yaml' way of adding a new techdocs.errorMessage config, it should be neat to override the ErrorPage with a custom one in your Backstage app.

[2021-07-14 22:30] dimkk commented on #6476
Actually worked! Thanks!

[2021-07-15 00:30] #6422 closed

[2021-07-15 05:59] benjdlambert commented on #6479
`backstage-cli` check.

[2021-07-15 06:38] benjdlambert opened #6485 "FATAL ERROR: Ineffective mark-compacts near heap limit Allocation failed - JavaScript heap out of memory"
### Discussed in https://github.com/backstage/backstage/discussions/6483

<div type='discussions-op-text'>

<sup>Originally posted by **younky-yang** July 15, 2021</sup>
With enabled the LdapOrgReaderProcessor to my company's ldap server, I can successfully load the user and group information to the final_entity table, but I also received the error of "FATAL ERROR: Ineffective mark-compacts near h

[2021-07-15 06:45] younky-yang commented on #6485
More information:
Now I can provide the information as below as I can't always query our ldap server for this testing.
With the test I have got more than 20k users returned and they are all in the final_entity tables already. But we just query one group which just 10+ members in. We didn't query other groups.

I didn't notice the size of the ldap response yet, but I do use the new plugin with and

[2021-07-15 08:01] dhenneke commented on #6478
Related to the discussions in https://github.com/backstage/backstage/issues/6183.

[2021-07-15 08:16] younky-yang commented on #6485
Went through the code in catalog-backend-module-ldap/src/ldap/read.ts, and function resolveRelations() has many embeded loop, like below, not sure if this will cause problem if the userMap is bigger.

  for (const [userN, groupsN] of userMemberOf.entries()) {
    const user = userMap.get(userN);
    if (user) {
      for (const groupN of groupsN) {
        const group = groupMap.get(groupN);

[2021-07-15 08:39] #5495 closed

[2021-07-15 09:59] ottosichert commented on #6132
cc @camilaibs @iamEAP

While having a closer look at the rename/move operations, it seems they are still performed on file-by-file basis, and hence would incur a downtime on the target TechDocs site while publishing.

Hence we decided to go for a different approach:

- Retrieve a list of files of the previous build (currently existing in the bucket)
- Upload and overwrite all new files (effectivel

[2021-07-15 10:11] OrkoHunter commented on #6448
Can you highlight the difference? In any case, you are welcome to open a PR!

[2021-07-15 10:41] benjdlambert opened #6489 "bump @octokit/rest from 18.5.6 to 18.6.7"
Dependabot opened a PR where some types now are `string | undefined` so we just need to update the code to support the new types.

Should be a pretty simple job. PR exists here: #6374

Happy hacking!

[2021-07-15 11:35] iamrajiv commented on #6479
@OrkoHunter I want to work on this.

[2021-07-15 11:36] OrkoHunter commented on #6479
Great @iamrajiv ! Assigned it to you

[2021-07-15 11:48] OrkoHunter commented on #5712
Wow @nadworny ! I think the $ came from here https://github.com/backstage/techdocs-container/blob/7b7308f35b7e798928e83a00f27d651c4268737d/Dockerfile#L26

Perhaps update that dockerfile to say that in some cases $ is not required?

[2021-07-15 11:51] roylisto opened #6490 "TimeLimitExceededError for LDAP"
## Expected Behavior
The ingestion works successfully

## Current Behavior
I get this error
`Processor LdapOrgReaderProcessor threw an error while reading ldap-org:ldap://ldap.jumpcloud.com:389; caused by Error: LDAP search at DN "ou=Users,o=xxxx,dc=jumpcloud,dc=com" failed, 3 TimeLimitExceededError: Time Limit Exceeded type=plugin
`
when ingesting data from LDAP to backstage.
This is only happeni

[2021-07-15 11:57] iamrajiv commented on #6489
@benjdlambert I guess we have to do `yarn add string`.

[2021-07-15 12:32] iamrajiv commented on #6489
@benjdlambert But the branch of #6374 is deleted how I can cherry-pick the commit. It saying `fatal: bad revision '4349a88'`.

[2021-07-15 16:19] nirga commented on #6473
Interesting. I wonder though if the read request from Github hits the rate-limit anyway (even if the etag hasn't changed). My 2nd guess is that this might have to do with the background refresh job that runs across all our repos and fetches configs - it might be running too often thus pushing us closer to Github's rate limit.

[2021-07-15 16:55] biancoda opened #6496 "Backstage kubernetes app stop refreshing the catalog and components from the DB"
I have created the Backstage App using the create-app, added a few plugins and github authentication.
Then created the docker image and the kuberntes deployments.
The kubernetes deployment starts successfully, I'm able to browse the Backstage App, the template catalog and the components created.

After a few hours the Backstage App stops trying to refresh the catalog and the components.
I'm able t

[2021-07-15 22:24] ChristianAvila commented on #6431
I got the same issue, I use this [code](https://github.com/backstage/backstage/blob/b9cba53a05c85d442e6a6961b7ca1a857e8577d3/packages/create-app/templates/default-app/packages/backend/src/plugins/scaffolder.ts) as a base to update my app.

[2021-07-16 02:54] ajohanssonwalder commented on #6308
Similar but (perhaps) temporary workaround is to no longer specify the `docs_dir` attribute - obviously this may not work for all (depending on your specific setup).

For custom locations, we've been using the `backstage.io/techdocs-ref` annotation on components to declare where `mkdocs.yml` lives and then placing markdown in the default `docs` folder in the same space:

eg. the following setup re

[2021-07-16 04:22] #6490 closed

[2021-07-16 06:12] freben commented on #6490
For posterity and others searching for the same problem, did you enable the `paged` option to get this sorted?

[2021-07-16 08:14] benjdlambert commented on #6431
@ChristianAvila have you used `yarn backstage-cli versions:bump`?

[2021-07-16 08:17] benjdlambert commented on #6489
@iamrajiv the branch is restored, you should be able to fetch the branch now and either carry on working on that branch, or cherry pick the commit onto your own fork.

[2021-07-16 10:46] benjdlambert commented on #6496
@biancoda if you have multiple replicas do they all fail at the same time? Do you have any metrics on memory usage of the containers that you can share? Also some stats on how many entities you have? Would give us a good baseline to replicate this I think.

@backstage/maintainers I can't remember if we built a timeout thing so that if a connection to Postgres or whatever is hanging, do we clear up

[2021-07-16 10:50] freben commented on #6496
I think that's up to knex's connection pool implementation. It'll keep a small bunch of connections open intentionally. Yes this could possibly be a connection starvation but hard to tell, we'll have to try to replicate indeed

[2021-07-16 11:37] rubenLindstrom opened #6508 "Include @types/react as a dependency when running backstage CLI create-plugin command"
## Feature Suggestion
@types/react is not included as a dependency by the `create-plugin` backstage CLI command, but I believe it is needed.
However, if it is not really needed, please close this issue.

## Possible Implementation
Include @types/react v. 16.9 as a dependency in the package.json generated by the `create-plugin` command in the backstage CLI.

[2021-07-16 12:09] biancoda commented on #6496
Hi @benjdlambert, regarding your question.

- I'm testing it using only one replica at the moment. The idea, in the future, is to add more.
- I don't have metrics set up, but I'm the only one using it. So there is no load on the container.
- There are 8 entities/templates, all of them are documentation.
- There are only 1 or 2 components created, usually I delete them after testing.

[2021-07-16 12:24] benjdlambert commented on #6496
@biancoda and just to confirm this is using PostgreSQL right? could you do us an awesome favour and run it with sqlite in memory and see if the same happens on another container somewhere with your code? it will help is massively isolate if this is a DB thing or not

[2021-07-16 12:37] #6286 closed

[2021-07-16 12:38] biancoda commented on #6496
Yup, I'm using PostgresSQL.
As part of the testings, I added the livenessProbe/readinessProbe to the postgres deployment. They are not checking against Backstage, but checking if postgres is available.

[code]

I will create the docker image with sqlite and try it again.
I will keep you posted. :)

[2021-07-16 12:42] benjdlambert commented on #6496
Sweet - I think by using the inmemory sqlite it's going to help us understand if there's something going on with the database in terms of it holding a non-finishing transaction or something. WIth SQLite I'd expect it to be pretty fast an no network problems. If it still hangs now I'd say that it points towards memory usage or something and it locking up there.

But at this point, of course it's al