[2020-05-02 14:11] OrkoHunter commented on #700
All these warnings are strange, and the cause is same. It is happening when we are exporting a `type` i.e. `export type Props` from a module and then exporting it further from the layout/component's `index.ts`.

Very curious issue. :)

[2020-05-02 19:39] stefanalund commented on #700
Closed in #701

[2020-05-02 19:39] #700 closed

[2020-05-02 23:04] vedantrathore commented on #661
Hey @bih, I read up about typescript and really love the philosophy behind using a strongly typed language. I do have a couple of noob doubts while I was working on refactoring the Radar component into Typescript though. It uses these proptypes which can be converted into the following types in typescript and can be passed into the props.

[code]

So in the first static function `adjustQuadrants`

[2020-05-03 06:09] freben commented on #661
Idiomatically one writes `radialMin?: number` in objects, signifying that they are optional.

[2020-05-03 09:42] vedantrathore commented on #661
Apologies, I'll update the comment.

On Sun, 3 May 2020 at 11:39, Fredrik Adelöw <notifications@github.com>
wrote:

[2020-05-03 11:50] freben commented on #661
Let's see what @bih says, but my two cents:

What's happening here is we're seeing an unfortunate effect of reusing DTOs for runtime dynamic purposes. Idealistically i would have wanted the RadarQuadrant split apart in one type for its rendering, and one for its metadata - what comes back from a service should strictly be immutable. But what you are doing sounds like it makes sense  given the circ

[2020-05-03 12:38] stefanalund opened #704 "Status Running should blink"
## Expected Behavior

Status Running should blink. CSS seems to be there but is not working:

[code]

## Current Behavior

<img width="847" alt="Screenshot 2020-05-02 at 15 17 39" src="https://user-images.githubusercontent.com/190856/80865263-6ff52880-8c88-11ea-9e38-a21c1020e6b0.png">

[2020-05-03 13:12] OrkoHunter opened #705 "Issue with Storybook dark/light mode on the first launch"
## Expected Behavior

When Storybook is started with `yarn storybook`, its dark mode should be rendered properly. ~(Assuming dark mode is set to default instead of light mode)~. It uses the user's default OS theme, which is dark mode in this case. (Like this screenshot).

<img width="2048" alt="Screen Shot 2020-05-03 at 22 02 36" src="https://user-images.githubusercontent.com/8065913/80914961-fe05

[2020-05-03 13:13] OrkoHunter commented on #705
This can be a good first issue. Also, I am not sure if it just happens with me. 😅

[2020-05-03 13:58] wesleyyee commented on #678
@Rugvip Sucrase looks nice! Had some clarifying questions.

When is it absolutely important to run type checking?
Is it important to run tsc on every sucrase run in dev mode? Would it be used for generating typings to be used by editors?

One thought is could we add a `plugin:dev` for running the plugins in dev mode that would use sucrase and reserve `plugin:build` for proper builds with type chec

[2020-05-03 14:03] Rugvip commented on #678
@wesleyyee I'd say the type checking part of it isn't important at all, we can definitely just run tsc separately, probably as part of the lint step. With the current build setup the type definition generation is important though, as you won't get proper autocompletion in editors without it, even during dev.

[2020-05-03 22:52] NWCalvank commented on #660
I'd like to pick this up if no one else has claimed it.

Since this would be my first contribution here, I spent a little time this afternoon getting a very basic POC working in storybook -- largely just to make sure I wouldn't run into environment issues after putting my name on this task.

In doing so, I came up with two questions:
- Should the toggleable line numbers be toggleable for the end u

[2020-05-04 04:34] #704 closed

[2020-05-04 08:41] Rugvip opened #708 "[CLI] Flaky E2E Test"
## Expected Behavior

CLI E2E tests should not sometimes fail and have to be retriggered.

## Current Behavior

CLI E2E test sometimes fail to find the expected text on the page being loaded, even though there's nothing wrong with the PR. The test then has to be retriggered to pass.

## Possible Solution

Allow for 3 attempts to [`visit()`](https://github.com/spotify/backstage/blob/3b2aeae05a508f6

[2020-05-04 09:08] bih commented on #661
Hello @vedantrathore! Yep using the PropTypes is a great way to figure out the types you'll want to use. +1 on @freben's comment too.

Most of this logic is quite old and created several years ago, with some unusual React patterns, so the logic itself does need to be rethought. For your peace of mind, I do think it's out of scope for this issue though. Of course, if you'd like to, that's fine too

[2020-05-04 09:10] #569 closed

[2020-05-04 09:12] hooloovooo commented on #161
Maybe we should close this issue now?

[2020-05-04 09:13] Rugvip commented on #161
Yes, #600, material-table selected

[2020-05-04 09:13] #161 closed

[2020-05-04 10:13] stefanalund commented on #627
@tkrop thanks for the write-up!

Is the API Portal (and perhaps API Scanner) open source or something you would consider releasing as part of Backstage? Sounds like it could be a good match.

I imagine that API scanning and ingestion step may be very dependent on a company's underlying infrastructure, thus making it hard to provide an end-2-end solution. Backstage could provide a standardised UI (

[2020-05-04 10:15] #672 closed

[2020-05-04 11:18] stefanalund commented on #660
Thanks @NWCalvank I assigned you!

I think we can start simple and not make it configurable for the user.

We don't have strong opinions on this. Try that one out and design the reusable component in a way that the underlying library could be replaced (if possible).

[2020-05-04 14:45] q0rban commented on #535
Hi friends!

Glad to hear Netlify got you going!

If you're interested in giving Tugboat a spin, I'd love to help out. Among other things, Tugboat has visual diffs built-in, shell access to all services right from your browser, and preview snapshots called Base Previews that speed up your builds tremendously. If you're interested, you can hop into our [Slack](https://launchpass.com/tugboatqa) or s

[2020-05-04 16:29] OrkoHunter commented on #705
Can we set a default theme for the storybook (something which will be rendered on the first attempt)? Dark or Light. That will fix this inconsistency.
cc @stefanalund @katz95

[2020-05-04 16:47] OrkoHunter commented on #705
To clarify the issue, it happens when the user's OS theme is set to dark mode. The Storybook addon tries to toggle dark mode but it's not executed properly.

[2020-05-04 17:14] OrkoHunter commented on #700
There is a new warning from #600, which is similar to these, but not exactly the same. `TableCoulmn` is an `interface` instead of a `type`.

[code]

[2020-05-04 17:20] jackskj commented on #631
I can take a stab at this feature.
PS: a lot of k8s related features (#632) can be implemented with spinnaker integration by leveraging cloud driver (https://www.spinnaker.io/setup/install/providers/kubernetes-v2/)

[2020-05-04 17:32] #705 closed

[2020-05-04 17:34] stefanalund commented on #631
Great @jackskj -- assigned you!

[2020-05-04 17:40] jackskj opened #714 "[Plugin] Prometheus"
## Summary
Allow developers to view the health and performance of their application by viewing Prometheus queries.

## Motivation
I am using Istio service mesh (on top of k8s) and receive a wealth of telemetry data through Prometheus metrics for each service.
Metrics like client request volume or % of 5XX responses are very useful in determining the health and performance of the application.
I bel

[2020-05-04 17:44] stefanalund commented on #714
Excellent! Do you want to work on this yourself or should I add a `help wanted` label on it?

[2020-05-04 17:47] jackskj commented on #714
I got Spinnaker feature assigned already. I can take a stab at prometheus after spinnaker

[2020-05-04 18:16] OrkoHunter commented on #708
Hi @Rugvip ! I am trying to understand this issue. I checked the [build error log](https://github.com/spotify/backstage/runs/619867498?check_suite_focus=true) that you have referenced. It is not very clear to me why the assertion failed.

<img width="1114" alt="Screen Shot 2020-05-05 at 3 01 59" src="https://user-images.githubusercontent.com/8065913/80997775-caef7100-8e7c-11ea-83f2-a40d5ec81cd1.pn

[2020-05-04 18:37] jackskj opened #716 "[Plugin] Jeager/Zipkin"
## Summary
Once developers find out that their application has an issue, it is very beneficial to see the application's traces. This can help identify the source of the issue.

## Motivation
I am using Istio service mesh (on top of k8s) along with Jeager tracing.
I often depend on the tracing information to find the source of a particular issue or latency.
I believe that ability for developers to

[2020-05-04 19:06] Rugvip opened #718 "[CI] Storybook build should fail if warnings are emitted"
## Feature Suggestion

Storybook warnings should fail on [this step](https://github.com/spotify/backstage/blob/1063279b4a2411f8fbda175793d4c30047fb231f/.github/workflows/frontend.yml#L66) in CI if there are warnings during the storybook build.  See #713 for an example of an error.

## Possible Implementation

Either there's support in the storybook CLI, or we might need to add something in the [we

[2020-05-04 19:18] Rugvip commented on #708
@OrkoHunter The current retry loop with 240 tries is for waiting for the page to be ready. Basically a `yarn start` process is started, and then this loop waits for it to be ready to serve the page. Once the `visit()` call succeeds, the expected text has to be in the page, and that is where I think we should add some more retries.

So instead of `1: wait for page to be ready` -> `2: check if text

[2020-05-05 06:34] OrkoHunter commented on #708
Thank you for the detailed explanation @Rugvip ! ✨ I created #720.

[2020-05-05 07:36] katz95 commented on #472
@Koroeskohr ahh, the red dot indicates notifications! i should have made that a bit clearer 😄 so neither are a hover behavior - the blue bar appears if the user is on that particular page. let me know if that clears things up!

[2020-05-05 07:56] OrkoHunter commented on #718
I created #721 for this. I do have a questio. Do we want to fail the CI on _all_ Storybook webpack build warnings?

Along with the TypeScript `type` export issue like #713, there are 3 other warnings we have to address.

1.
[code]

2.
[code]

3.
[code]

Should we ignore these three warnings?

[2020-05-05 08:30] OrkoHunter commented on #718
Let me go ahead and ignore `AssetsOverSizeLimitWarning`, `EntrypointsOverSizeLimitWarning` and `NoAsyncChunksWarning` for now in #721.

[2020-05-05 10:01] dev0zz commented on #640
i am working on Windows

[2020-05-05 11:55] soapraj commented on #339
I like 'Backstage Plugin APIs' for plugin concerns and 'Backstage App APIs' for app concerns.

Ex: Would error API be only used by plugins or the app can also use it to push error messages to the user? What I am getting here is can APIs be distinguished by usage or there will be overlaps?

[2020-05-05 12:25] #708 closed

[2020-05-05 12:26] wesleyyee commented on #339
+1 to `Backstage Plugin APIs`

[2020-05-05 12:31] Rugvip commented on #339
@soapraj @wesleyyee I think usage of APIs would really extend everywhere, including apps, plugins, and shared components, so yeah there would be overlap. [this](https://github.com/spotify/backstage/blob/2327cd121a903c6fa96b456abec142a95f5e8de0/packages/core/src/components/CopyTextButton/CopyTextButton.tsx#L65) being an example of that

Thing that worries me about prefixing with "plugin" or "app" i

[2020-05-05 12:49] wesleyyee commented on #339
I also like `Provider` or `Utility`

[2020-05-05 13:02] Rugvip commented on #339
Yeah "Utility API" isn't bad. It gets a bit weird when you talk about something like the "Lighthouse Utility API", but I don't think we'll find a name that fits perfectly with every use-case.

"Provide(r/d) API" gets tricky because of the clashes with React context imo.

[2020-05-05 15:06] katz95 opened #724 "Update status types"
## 🗒 General
Hi!! Would love some help updating our status types. To make them more accessible and uniform, we've decided that statuses will be indicated by a colored dot *and* text.

<img width="695" alt="Screenshot 2020-05-05 at 4 58 24 PM" src="https://user-images.githubusercontent.com/61153904/81080946-a681ac00-8ef1-11ea-90d5-1a2e10e35792.png">

## 💻 Usage
Statuses ought to be indicated by a d

[2020-05-05 15:07] katz95 commented on #724
Please update the storybook as well! 🙏

[](http://storybook.backstage.io/?path=/story/status--default)

[](http://storybook.backstage.io/?path=/story/sortable-table--default)

[2020-05-05 16:36] #718 closed

[2020-05-05 16:53] freben commented on #724
8px diameter right? And are these dots not to be specified in em terms (relative to the font size)?

[2020-05-06 05:36] stefanalund commented on #607
Closed in #656

[2020-05-06 05:36] #607 closed

[2020-05-06 06:06] stefanalund opened #725 "Load Scaffolder Templates from the Catalog API"
In the /create workflow (see below) available templates should be loaded from the server. Today they are statically assigned, and do not work.

![Screenshot 2020-05-06 at 08 03 32](https://user-images.githubusercontent.com/190856/81142490-1898d600-8f70-11ea-8a54-314d7c8fe590.png)

## Feature Suggestion

This should work in a similar way as demonstrated in this video: https://www.youtube.com/watch?

[2020-05-06 06:12] stefanalund opened #726 "[Templates] Add template for Spring Boot service"
## Feature Suggestion

It should be possible to scaffold a new **Spring Boot** backend service through Backstage.

![Screenshot 2020-05-06 at 08 09 17](https://user-images.githubusercontent.com/190856/81142839-f2276a80-8f70-11ea-8d13-f4e6c7a666f8.png)

## Possible Implementation

Add a new "template" and load it from the server.

## Context

Demo of this is available at https://www.youtube.com/wat

[2020-05-06 08:17] Rugvip commented on #339
Another option that I think covers a couple more use-cases is "Service APIs". Might help people coming from Angular as well, as they're similar and used in the same way as angular services.

[2020-05-06 09:22] Rugvip commented on #597
Work towards this: https://github.com/spotify/backstage/pull/702

[2020-05-07 08:25] Rugvip commented on #405
Fixed in #605

[2020-05-07 08:25] #405 closed

[2020-05-07 10:12] easylo opened #734 "[Plugin] Tech Stacks"
## Summary
share links and documentation on the tools we use.

like [stackshare](https://stackshare.io/stacks)

## Context
provide a default configuration and configuration file to enable the tools used in your organization

preview :

![Screenshot 2020-05-07 at 12 08 19](https://user-images.githubusercontent.com/1778568/81282909-1c098b80-905c-11ea-948c-fc4817373021.png)

[2020-05-07 12:47] stefanalund commented on #734
Very nice! Do you want me to assign you (since it looks like you're working on it)?

[2020-05-07 12:55] stefanalund opened #735 "[Plugin] Airflow"
## Summary

Implement the Airflow UI as a Backstage plugin.

## Project website (if applicable)

https://airflow.apache.org/

## Context

Why build a Backstage plugin when there is already a UI for Airflow? The benefit of having a plugin is that Airflow functionality can live together with other infrastructure tools, making it better integrated into the overall developer tooling.

[2020-05-07 12:58] easylo commented on #734
Yes, you can.
Thanks

[2020-05-07 13:20] stefanalund commented on #734
Done. There is also an interesting overlap here with the native [Explore plugin](https://github.com/spotify/backstage/tree/master/plugins/explore) in Backstage:

<img width="1060" alt="Screenshot 2020-05-02 at 10 28 55" src="https://user-images.githubusercontent.com/190856/81299057-f2f5f480-9075-11ea-8b33-3e692cb123c5.png">

However the use-cases are slightly different, so I think these plugins ar

[2020-05-07 17:03] katz95 opened #742 "Edit colors for table in dark mode"
Would love if someone could help us adjust some colors for the table in dark mode!

The header that says "Column One" should be white (#FFFFFF). The rest of the headers should be #EEEEEE.

The darker rows are too dark at this moment. They should be #333333.

Thank you!!

<img width="874" alt="Screenshot 2020-05-07 at 6 59 26 PM" src="https://user-images.githubusercontent.com/61153904/81323089-272c

[2020-05-08 07:58] nikek opened #749 "Declare Inventory Use-cases"
What are MVP use-cases for the inventory service and user interface (e2e)?

[2020-05-08 08:01] nikek opened #750 "Wireframes for main catalogue use-cases"
Core user journey wire frames.

[2020-05-08 08:08] nikek opened #751 "Secrets - how to, declare solution in document for MVP"

[2020-05-08 08:09] nikek opened #752 "Database - how to, declare solution in document for MVP"

[2020-05-08 08:10] nikek opened #753 "Configuration - how to, declare solution in document for MVP"

[2020-05-08 08:10] nikek opened #754 "Deploy / Package - how to, declare solution in document for MVP"

[2020-05-08 08:15] nikek opened #755 "What is a component - decide and put in MLP document"
What is in the yaml?
Do we handle permissions?
How are components stored in a db?

[2020-05-08 12:26] soapraj opened #765 "[test coverage] Add / Improve test coverage for src/components/Lifecycle"
This component has no tests or has tests that do not cover all use cases and can be improved.

We’re aiming for 100% (statement, branch, function) coverage, with a minimum of 80%

You can run `yarn test --coverage` in package/core dir to see the coverage numbers this component.

If you happen to change the implementation of the component to better fit for tests please test the component in the App

[2020-05-08 12:33] shmidt-i opened #766 "Import assets in the plugins/app"
If you want to import any assets, e.g. svg/png images, videos, etc, typescript will raise an error, such as:
[code]

Can be fixed by introducing ambient module declaration:

[code]
in some `.d.ts` file and then add it through `tsconfig.json`.
But maybe there is a more general way of dealing with this.

Just to clarify, not a runtime issue, webpack that is bundling the app/plugin does its job just

[2020-05-08 12:35] Rugvip commented on #766
There's a declaration file already, but it doesn't seem to get picked up: https://github.com/spotify/backstage/blob/master/packages/cli/src/commands/plugin/assets.d.ts

[2020-05-08 13:00] freben opened #767 "catalog backend: decide on descriptor file format"
The catalog service will index files stored in a version control system. Decide on the format for these files, and therefore, also on the information model of what constitutes a component.

Initial Minimum Lovable Product requirements:

- Text based, easily writable and readable by humans
- Easily machine readable and verifiable
- Versioned, such that the format can change while newer inventory se

[2020-05-08 13:03] freben commented on #767
Possible YAML for discussion:

[code]

[2020-05-08 13:10] freben opened #769 "inventory backend: create the database abstraction"
Put the basics in place for enabling the inventory database.

- Pick a database - SQLite in MVP and then PostgreSQL?
- Create a basic database schema and enable migrations
- Implement a storage abstraction layer - current suggestion: http://knexjs.org/

[2020-05-08 13:10] freben opened #770 "inventory backend: register / unregister components"
Add the API endpoints to register and unregister references to component files in a version control system. This will be a completely separate set of endpoints, not related to the components etc.

Suggestion:
- `POST /locations` to add a new location
- `GET /locations` to list all locations
- `GET /locations/:id` to get a specific location by uuid
- `PUT /locations/:id` to change a specific locati

[2020-05-08 13:11] freben opened #771 "catalog backend: implement refresh loops"
Implement the logic of the backend service that keeps components refreshed from descriptor files in a version control system.

## Background

The corresponding service at Spotify stores the latest known good version of component files in a data store, and continuously attempts to refresh them with new data from our GitHub Enterprise, via polling. It also keeps track of the current status of this r

[2020-05-08 13:12] freben opened #772 "catalog backend: implement list and item endpoints"
Implement the API endpoints for fetching all entities, and an individual entity, from the catalog.

[2020-05-08 13:16] freben opened #773 "catalog frontend: component list page"
Implement a simple page that lists all components in the catalog.

[2020-05-08 13:18] freben opened #774 "catalog frontend: component item page"
Implement the skeleton of a page that shows the basic data pertaining to a component with a given ID

[2020-05-08 13:19] freben opened #775 "catalog frontend: register component"
Implement the user interface for registering a new component, by referencing a file in a version control system.

[2020-05-08 13:19] freben opened #776 "catalog frontend: unregister component"
Implement the user interface for unregistering a component (removing it from the catalog).

[2020-05-08 13:21] freben commented on #767
More food for thought: https://www.kislayverma.com/post/platform-nuts-bolts-extendable-data-models

[2020-05-08 15:45] katz95 opened #778 "Update logo"
Hello! Would appreciate if someone could update the logo in the side nav to our new logo! I've attached a ZIP of the SVG. Thank you!

[04 Icon_Teal.svg.zip](https://github.com/spotify/backstage/files/4600015/04.Icon_Teal.svg.zip)

[2020-05-09 15:20] dtuite opened #782 "RFC: Onboarding should be easy"
Simple, fast onboarding will help companies to uptake Backstage and get value from it quickly.

# The problem

Imagine an engineer or product manager in a company who really believes in Backstage and understands the value it could bring to their organization. They want to get their company using it but Backstage requires metadata to be embedded in the Git repos of the various services and data mod

[2020-05-09 15:23] dtuite commented on #454
@aexvir when you first implemented your Backstage-like internal system, how did you get all teams to agree on the metadata schema and ensure that all the teams implemented it across the company?

How do you ensure that the metadata is correct and fresh? Are there validation steps or systems which ensure people are periodically updating it.

[2020-05-09 15:29] Rugvip commented on #454
@dtuite we just started up a discussion about the metadata format in a separate issue as well if you wanna have a look: https://github.com/spotify/backstage/issues/767

[2020-05-09 15:42] cheepo2109 commented on #778
Hey @katz95!
Current UX expands whole word on hover.
So I should update only B part and then on expansion Logo stays same + "backstage"?
Should I update favicon too?
<img width="742" alt="CleanShot 2020-05-09 at 21 40 05@2x" src="https://user-images.githubusercontent.com/5988617/81478228-cb518880-923d-11ea-983c-28f876b152d4.png">

<img width="723" alt="CleanShot 2020-05-09 at 21 40 15@2x" src="htt

[2020-05-09 15:48] dtuite commented on #767
[Helm charts](https://helm.sh/docs/topics/charts/) may be somewhat instructive as a case study.

Some thoughts regarding them:

1. `keywords` could provide searchability for humans (see this GitHub repo for example!)
2. `maintainers` - is there value in supporting multiple owners? Providing an LDAP or Active Directory group obviously supports this because you can add and remove people from the LDA

[2020-05-09 15:49] dtuite commented on #767
I like the idea of sticking close to what k8s does for robustness and familiarity.

[2020-05-09 15:55] dtuite commented on #782
_Complete_ onboarding will likely never be a 5 minute job of course. Backstage just touches too many parts of the infra for that to be possible.

That is ok. The point is to reduce the "time to wow" as much as possible for the person who is installing Backstage for the first time. You want them to be able to run a few commands then turn to the person beside them (assuming we are all COVID free and

[2020-05-09 19:03] soapraj opened #783 "Identity Backend: Design/Document the API endpoint for fetching user groups"
API endpoints for users, groups, org hierarchy, etc entities.

[2020-05-09 19:03] freben commented on #767
Had a look at helm - definitely close to what I had in mind, and interesting possible additions.

## keywords

Can be interesting for mainly human consumption, in general search for example. We've been considering something like [k8s labels](https://kubernetes.io/docs/concepts/overview/working-with-objects/labels/) as well, but those would be a bit more formal and could power filters in the fronte

[2020-05-09 19:04] soapraj opened #784 "Identity Backend: Add a backend with mocked APIs"
Add a backend that handles the API endpoints with data from a mocked JSON file

[2020-05-09 19:07] soapraj opened #785 "Identity Backend: Pluggable adapters"
Eg: Static JSON adapter, LDAP adapter, Google groups adapter, bridging to another API (for use cases where you already have an identity service)

- where does the implementation of these adapters live. Outside of the identity backend?
- how will the backstage backend include the identity backend with the adapter that it wants to use.

[2020-05-09 19:18] soapraj opened #786 "Identity Frontend: Identity API Implementation"
Implement synchronous Identity API with getUserId() and getIdToken() methods.

getIdToken() should call out to the auth provider marked as identity provider in app config

[2020-05-09 19:18] soapraj opened #787 "Identity Frontend: User Profile page"
Profile page for a user

[2020-05-09 19:20] soapraj opened #788 "Auth Backend: Add a backend placeholder"
Add a backend that handles /auth/provider with mocked response

[2020-05-09 19:20] soapraj opened #789 "Auth Backend: Add auth service subroutes"
Add mock handlers for subroutes login/logout/getAccessToken/getIdToken/refreshToken

[2020-05-09 19:21] soapraj opened #790 "Auth Backend: Pluggable auth providers"
Integrate Passport js and make it pluggable to configure a new provider

[2020-05-09 19:21] soapraj opened #791 "Auth Backend: Handle secrets for providers"
Managing secrets for provider info -  client id/secret

[2020-05-09 19:22] soapraj opened #792 "Auth Backend: Add google as auth provider"
Implement handlers for google as provider using passportJS

[2020-05-09 19:22] freben commented on #454
@dtuite I can speak for us at Spotify at least. Here, the format was essentially dictated by the infra team that owns the internal inventory service. It has _very_ few required fields that are very understandable by humans, so running stale isn't often a thing. And then there's a random bag "put whatever you want in here" `fact` key as well, for auxiliary data.

The inventory system automatically

[2020-05-09 19:23] soapraj opened #793 "Auth Backend: Add github as auth provider"
Implement handlers for github as provider using passportJS

[2020-05-09 19:25] soapraj opened #794 "Auth Backend: Add an example of a custom auth provider"
Add an example of how you can integrate a custom auth solution - mocked responses okay

Here the auth backend will act as a bridge for use cases when you already have an auth service that you can reuse.

[2020-05-09 19:26] soapraj opened #795 "Auth Backend: Add docs for generic auth/provider REST API"
Add OpenAPI spec for the auth/provider API, so it is easy for the community to add a new provider. If that proves insufficient, complement with markdown docs.

[2020-05-09 19:26] soapraj opened #796 "Auth Frontend: OAuth API"
Move the OAuth API from BIN

[2020-05-09 19:27] soapraj commented on #787
cc @katz95

[2020-05-09 19:27] soapraj opened #797 "Auth Frontend: Auth Popup Dialog"
Move the Auth Popup Dialog from BIN

cc @katz95

[2020-05-09 19:28] soapraj opened #798 "Auth Backend: Auth flow in the frontend with mocked responses"
Mock all auth endpoints until Auth backend is ready

[2020-05-09 19:28] soapraj opened #799 "Auth Frontend: Handle Auth flow in the app"
Add the AuthBarrier and AuthProvider example in the App

[2020-05-09 19:29] soapraj opened #800 "Auth Frontend: Handling accesstokens and refreshes in the app"
Add an example to get an accessToken from provider for given scope.
Handles token refresh.

[2020-05-09 19:31] soapraj opened #801 "Auth Frontend: Document flows in the frontend"
- How will a plugin as part of the app request for access tokens with specific scopes
- How will independent Plugin development (using plugin:serve to only do development on your plugin) would look like with this auth solution

[2020-05-09 19:34] dtuite commented on #767
@freben

I will keep this brief in the interests of not derailing the issue!

We built a Backstage-like thing in Workday and we did the same as you did at Spotify. Used LDAP group as the concept of ownership. It solves a lot of the headaches in a simple way.

That said, as humans, we do have concepts of roles within a team. PMs, engineers, tech leads etc. If Backstage is attempting to map the infr

[2020-05-09 19:45] dtuite commented on #454
@freben Appreciate the insight.

Yeah we did something similar in Workday. Basically if you don't have your metadata in the catalog you can't get your stuff into production.

Backstage didn't exist at the very start of Spotify though (correct me if I'm wrong please!). So there must have been some moment where there were N teams building stuff but 0 had metadata in their service repos. The infra te

[2020-05-09 20:15] freben commented on #767
You're always welcome in [our discord](https://discord.gg/MUpMjP2) if you're into that! The core team (and many others) hang out there.

[2020-05-10 14:18] easylo commented on #734
I have a question:
I need to store the logos of the applications and they must be publicly accessible.
Do you have any recommendations?

[2020-05-10 16:00] stefanalund commented on #734
My suggestion would be to use existing public URLs if possible.

[2020-05-11 01:46] braulio-balanza commented on #631
@jackskj maybe the Kubernetes plugin backend could register the routes used in spinnaker backend. How are you planning on developing it?

[2020-05-11 06:20] stefanalund commented on #782
Great topic. Adding on to it:

While meeting various companies interested in Backstage it is clear that many already have _some kind of_ inventory of their software (`yaml` files that are scraped and exposed through an API, databases, spreadsheets, etc).

For this category of customers it should be possible to keep their existing solution, and write a small "shim" that integrates their solution wi

[2020-05-11 07:02] mbruggmann commented on #771
Have you considered using a push model instead of refreshing in a loop? Like having a CRUD API that takes the full values of the "yaml files", then having a Github Action or similar to push updates from repositories? It has a few advantages I think:

* It gives us a natural place to read and transform existing metadata files. So if I already have some metadata in my repositories, I can do a script

[2020-05-11 07:31] freben commented on #771
Yeah. We've discussed back and forth with a lot of ideas, and the immediate take is, since the internal inventory model has served us so well, we would do best to implement that quickly first, to unblock further iteration and invention (by both us and others) on top of that.

This does put some pressure on getting the design right now, so it's extensible.

[2020-05-11 07:37] mbruggmann commented on #771
Fair enough, I don't think this is irreversible in any way so we can start with whatever makes most sense short-term.

[2020-05-11 07:54] aexvir commented on #454
@dtuite It wasn't really consulted with anyone, our team is the one centralizing this efforts and we just decided what was the minimum to cover. With time we have expanded it a couple times based on general interest, like when we added environments.

Usually this additions are optional, so it's not a big deal if the teams don't have them set up, but for cases like in the environments additions, we

[2020-05-11 07:55] katz95 commented on #778
Hi @cheepo2109! Thanks for responding, and great question! 🙏

When the side bar is minimized, it should just show the B part of the logo. When it's expanded, it should show the full logo, which I've attached to this comment. 😄

And if you could update the favicon, that would be rad too! You can use the teal 'B' icon for the favicon when it's on dark tabs, and you can use the black 'B' icon (attach

[2020-05-11 07:56] katz95 commented on #778
A reference example of what we were able to do with the favicon for the microsite! 🥳

https://github.com/spotify/backstage-microsite/pull/163

[2020-05-11 08:33] freben commented on #769
Current status: use http://knexjs.org/

[2020-05-11 11:39] Rugvip opened #809 "[Plugin] Backstage Config Explorer"
## Summary

A plugin for exploring the configuration of a Backstage instance. Listing all installed plugins and their versions, and any other config that is available. For example URLs and registered entity types, etc.

Could also be a place to show which plugins have new versions or recommended replacements.

## Context

Should be a useful tool for maintainers to get an overview of an installatio

[2020-05-11 12:02] stefanalund commented on #809
This open up a whole category of potential tools and dashboards under an `/admin` umbrella 😄

[2020-05-11 12:05] #769 closed

[2020-05-11 12:44] dtuite commented on #454
@aexvir Thanks Alex. Sounds like what we did, used a highly motivated team to centralize the effort to get it done.

[2020-05-11 12:51] dtuite commented on #809
Might want to move to a config based plugin install for this effort. Adding or removing plugins currently requires code changes in `plugins.ts` and potentially (?) `app/src/apis.ts` which I presume means a commit, build and redeployment.

[2020-05-11 12:54] Rugvip commented on #809
@dtuite we'd have access to that at runtime though. But we do want to move things to static config for that any many other reasons :grin:

[2020-05-11 12:55] stefanalund commented on #809
Related discussion https://github.com/spotify/backstage/issues/138.

[2020-05-11 13:49] katz95 commented on #724
@freben Ahh, that's a good point! Yes they should be relative to the font size

[2020-05-11 13:57] adaszyn commented on #775
@nikek @freben Hi! I'll try to tackle that :)

[2020-05-11 14:13] adaszyn commented on #724
@katz95 Here's a PR with the changes :) https://github.com/spotify/backstage/pull/811

[2020-05-11 14:28] stefanalund commented on #660
Closed in https://github.com/spotify/backstage/pull/803

[2020-05-11 14:28] #660 closed

[2020-05-11 16:36] jackskj commented on #631
what do you refer to by "routes"

[2020-05-11 18:09] jackskj commented on #631
With spinnaker, a user may or may not have access to a particular k8s account, regardless whether access the user may have with backstage k8s plugin. This is because access control for spinnaker resources is managed separately.

I am not sure how you will name each k8s account in backstage plugin (perhaps by context name). But if you were to route from k8s plugin to spinnaker plugin, the k8s accou

[2020-05-12 08:16] freben opened #820 "Rename inventory -> catalog"
This applies to package names, UX, routes - everything.

[2020-05-12 08:32] #770 closed

[2020-05-12 11:41] stefanalund opened #823 "[Plugin] Sentry"
## Summary

A plugin that shows the most important alerts from [Sentry](https://sentry.io/).

## Project website (if applicable)

https://docs.sentry.io/

## Context

UX patterns can probably be reused from this CircleCI plugin: https://github.com/spotify/backstage/pull/748.

[2020-05-12 11:53] palmerj3 opened #824 "[Plugin] New Relic"
## Summary

A plugin that shows the most important data from [New Relic](https://newrelic.com/).

## Project website (if applicable)

https://newrelic.com/

## Context

Perhaps different views that embed different graphs based on use-case. A backend service will likely look at different graphs than a web app, for instance.

[2020-05-12 12:10] #820 closed

[2020-05-12 13:11] stefanalund commented on #724
Closed in #811

[2020-05-12 13:11] #724 closed

[2020-05-12 13:34] katz95 opened #827 "Change 'Running' status to static (not animated)"
Hi! If we could change the running status to a static blue dot (rather than a blinking one), that would be amazing. Thank you!

http://storybook.backstage.io/?path=/story/status--default

[2020-05-12 13:44] timurista opened #828 "Want more customizability with themes"
## Feature Suggestion

We want to be able to load custom material UI themes including custom fonts (Gotham etc.), and custom colors and title for backstage.

Also, It'd be ideal if the header could be configured (using material App should be able to allow for the header to be swappable. We want to show custom colors and Roku name in the header.

## Possible Implementation

backstage/packages/theme

[2020-05-12 13:46] tkrop commented on #627
@stefanalund I think we are willing to contribute, if the community is interest enough.

Interestingly, the API scanner is the part to open source easiest while, we think, already having a very high value for the community. It has nearly no company specific hooks, and the existing ones can be removed or disabled easily. It has only very small technical debts and provides a good potential for exten

[2020-05-12 13:49] bih commented on #661
@vedantrathore Any updates on this from your side?

[2020-05-12 13:49] Nishikoh commented on #827
Hi! I'll try to tackle that :)

[2020-05-12 13:50] stefanalund commented on #827
Thanks @Nishikoh -- assigned you 👋

[2020-05-12 14:22] katz95 opened #830 "Remove nested card in Status component"
There's a nested card within the status component - if we could remove that so it's just one card, that would be rad! 🙏

http://storybook.backstage.io/?path=/story/status--default

### Currently
<img width="633" alt="Screenshot 2020-05-12 at 4 13 52 PM" src="https://user-images.githubusercontent.com/61153904/81703290-abec7280-946c-11ea-96b5-f81a336f611b.png">

### Ideally
<img width="479" alt="Scr

[2020-05-12 14:44] nikek commented on #767
I find `name` to be having the same issue as the one you describe for `owner`. In this case where there is no `id` field, I assume that `name` is both supposed to solve the identifier string problem like what you find in urls, but also the human readable title of a component presented in UIs. I'd like to separate those two by having clear fields like
- `displayName`, a title that can be used in UI

[2020-05-12 14:47] Rugvip commented on #767
@nikek tbh the id is what we use as the human-readable version internally :grin:

[2020-05-12 17:14] freben commented on #767
Yeah, there's no human readable name considered so far - do you think there should be one?

The choice of `name` is because it aligns with the very well known kubernetes formats.

[2020-05-12 17:17] freben commented on #767
And I think the kubernetes designers chose it for fairly good reason - IDs are expected to be truly machine-only opaque identifiers, like the uuids generated for added locations. And name is the "human readable id"

[2020-05-12 21:36] Rugvip commented on #828
We've already designed for this with the theme package and type. It's possible to provide your own theme in the app, and you can use [createTheme](https://github.com/spotify/backstage/blob/e399a3f8d0e38973e98b7182c584839dbd13a81f/packages/theme/src/baseTheme.ts#L208) from the `@backstage/theme` package to create your own theme using a palette, or creating your completely custom theme by using the

[2020-05-12 21:55] timurista commented on #828
createTheme doesn't seem to let me use custom fonts... unless I am missing somehting.

[2020-05-12 21:58] Rugvip commented on #828
Yep, but `createThemeOptions` and `createThemeOverrides` are exported, so you can use those to create your own theme with the same overrides.

[2020-05-12 22:08] nhall97 opened #833 "[Plugin] Teamcity"
## Summary
Show general build status against PRs, deployments from a Teamcity server.

## Project website (if applicable)

https://www.jetbrains.com/teamcity/

## Context
Similarly to the issues raised around Jenkins and other CI solutions - Teamcity is a common enterprise CI/CD solution.

While not open source, there is a free tier available classed as 'professional'.

[2020-05-12 23:07] Rugvip opened #834 "[RFC] New Build Setup"
## Context

The current build setup ranges from pretty slow, for example bundling, to extremely slow, looking at ~1min core package builds. There's plenty of space for improvement, but it's been unclear exactly what build setups would be best, especially given that we want a setup that scales to much larger projects than this is right now.

To figure out the options for different parts of the buil

[2020-05-12 23:17] Rugvip commented on #828
Agreed! Going far back in the history of this project we experimented with some ideas of how common parts of a plugin page like the header could be replaced at the app level.

Some stuff here: https://github.com/spotify/backstage/blob/00f1d9d8e89dbe2f98f9756971ff0086946ed4d0/frontend/packages/core/src/components/DefaultEntityPage/DefaultEntityPage.tsx#L15
And here: https://github.com/spotify/backs

[2020-05-12 23:18] Rugvip commented on #828
Alright if I close this issue as I think the original question is resolved?

[2020-05-12 23:19] timurista commented on #828
Yes, thanks. However, being able to use the switcher for multiple themes is something we would like.

[2020-05-13 00:33] braulio-balanza commented on #631
Do you think it would be better just to handle all authentication via contexts in the kubeconfig file? I still haven't decided how to set up k8s accounts in the plugin :thinking:. I am using this as an example https://github.com/hjacobs/kube-web-view

[2020-05-13 01:26] jackskj commented on #631
yes, auth is handled with kubeconfig, where each context is a k8s "account" . However, not every user should have access to those accounts. Spinnaker admins usually configure which user groups have read/write/execute permissions for a particular k8s account

[2020-05-13 04:35] freben commented on #834
Will a single tsconfig and a top-level driven approach affect the setup where we mix frontend and backend packages in the same repo?

Will we need to make special cases for those that prefer to make plugins entirely in js instead of ts?

[2020-05-13 05:37] chanwit opened #835 "[RFC] PoC of Backstage application packaging system"
## Context
As a Backstage end-user, I'd like to deploy my organization Backstage-based image by composing a set of plugins (both in-tree and `npm`s), and specifying target platforms. So that I can easily prepare a ready-to-deploy package for my organization.

## Proposal

I'd like to propose a YAML-based configuration tentatively called, Application, to help describe what we'd like to package and

[2020-05-13 05:38] chanwit commented on #835
Thank you @leemills83 @soapraj for inputs and discussion.

[2020-05-13 06:01] stefanalund commented on #828
@Rugvip I would suggest making this more clear in our docs before closing the issue.

[2020-05-13 07:31] Rugvip commented on #834
@freben overall the benchmarks are made to help guide decision, making it more clear what kind of performance tradeoffs we'd be making. So if a top-level config approach doesn't work, that's too bad and we have to go with something else :grin:

I think it should work though, as long as the config is kept the same. The impact is really that `compilerOptions` in package tsconfigs will be ignored for

[2020-05-13 07:37] Rugvip commented on #678
Supersede by #834

[2020-05-13 07:37] #678 closed

[2020-05-13 07:40] #775 closed

[2020-05-13 07:40] Rugvip commented on #775
Closed by #826

[2020-05-13 07:44] stefanalund commented on #833
@nhall97 nice! Will you be working on this or do you want me to add a [help wanted] label?

FYI you can probably look at this PR for inspiration: https://github.com/spotify/backstage/pull/748

[2020-05-13 08:02] RoyJacobs commented on #627
@tkrop It would be great if the scanner could be optional. At bol.com we are aiming for build-time linting and registration of APIs (i.e. before the service goes live, to prevent any accidents). For JVM services we could then provide a Maven plugin that performs the scan in the local project before uploading to your API repository.

Second, perhaps it would be nice if the Elasticsearch dependency

[2020-05-13 08:13] nikek commented on #767
I'd love for the separation of responsibilities between two fields. I'm also taking inspiration from  how the blog world handles urls with "slugs" generated from the title of the blog post. In that case the title comes first and the url friendly identifier comes second with added dashes and lowercased and stripped characters.

I envision `displayName` to become a bit more human friendly and creati

[2020-05-13 08:30] nikek commented on #767
Also, I must say that I find the kubernetes format to be a bit odd. I'm reading the file as `apiVersion` and `kind` is the main data and additionally, there is metadata, which from my perspective is the data I'm most often really after. How come `name` is not in the top level of the file, isn't that what this file is really about?

[2020-05-13 09:15] mbruggmann commented on #782
To add one more thing to this: We can also rely on known APIs in combination with a little configuration to provide functionality out of the box. For example, I think it should eventually be possible to:

* Discover and index all services running in Kubernetes/Heroku/Lambda/...
* Get all builds from Tekton/CircleCI/Travis/Jenkins/...
* Query all databases, pub/sub topics, and other interesting res

[2020-05-13 09:19] Rugvip opened #843 "[Catalog Backend] Validate components using external schema"
## Feature Suggestion

We should use an external schema format to describe the required fields in catalog descriptor files. That way we can share the schema easier, and generate documentation for it, for example something like https://github.com/adobe/jsonschema2md.

## Possible Implementation

Use JSONSchema to describe the format, and https://www.npmjs.com/package/ajv for validation. The descrip

[2020-05-13 09:29] Rugvip commented on #835
Looks interesting! I think something like this can be significantly easier to implement once we have config in place.

[2020-05-13 09:37] chanwit commented on #835
Yes it is.
Some area for example Apis is still difficult to generate by this PoC.

[2020-05-13 10:13] mbruggmann commented on #767
Playing a bit more on the example yamls.

Code component:
[code]

API:
[code]

Resource:
[code]

Basing this on the Kubernetes resource format: https://kubernetes.io/docs/concepts/overview/working-with-objects/kubernetes-objects/. Primarily to put things that we select by into `metadata.labels`, plugin-specific identifiers into annotations, and kind-specific data into `spec`.

[2020-05-13 10:21] Rugvip commented on #767
Just had a discussion around k8s-style multi-document approach vs docker-compose-style top-levels keys with multiple entries. For example

[code]

vs

[code]

And somewhat concluded that the k8s-style approach fits us better, as almost all files will just contain a single component anyway. k8s-style also gives much nicer separation of api versioning and isn't as messy to extend.

[2020-05-13 10:29] bih commented on #835
I'm curious by having JSX / React into the YAML, I haven't seen this done before. How would imports be done? Do you have an example of another FOSS project that has successfully implemented such a model?

From a purely developer experience, this file looks like a dream. A single config has extremely low cognitive load and allows the smallest of orgs to deploy Backstage. Big fan of the idea!

[2020-05-13 10:32] mbruggmann commented on #767
+1 for multi-document or multi-file approach (vs top-level keys).

[2020-05-13 11:07] chanwit commented on #835
Hmm I'm not sure about that. I'm not a very frontend guy. But in Kubernetes' world, we normally use this pattern by embedding JSON, YAML into a parent YAML file, especially in something called a [ConfigMap](https://github.com/chanwit/minifk/blob/master/docker-config.yaml#L7). The idea came from this pattern.

I'm so glad you like it.

[2020-05-13 12:41] freben commented on #767
@nikek This is intentional, and matches the sentiment at the bottom of the initial text: "It is desirable that there is a clear separation (either through documentation, or in the format itself) between metadata, non-normative and normative information."

If you look at the modelling of things like this, it can be argued that primary keys and relations are NOT part of the model itself. You can cha

[2020-05-13 12:41] chanwit commented on #835
Now we can try out the program by:
`npm install @chanwit/backstage-package`
then
`npx backstage-package --help` will show briefly how to proceed.

[2020-05-13 12:48] freben commented on #767
@mbruggmann There have been discussions about what to put in `metadata.labels` and what to put in `spec`. In your example you put `system: auth` among the labels, and I instinctively did the same first, but there were some sentiments fed back to us that the system ref is part of the actual component model and therefore should live in `spec` -- and that labels are nothing but loosely coupled filter

[2020-05-13 13:22] #827 closed

[2020-05-13 14:08] Rugvip commented on #835
Thinking a bit more about this I think one long-term implementation could be something like a `--build` flag to `@backstage/cli create-app`.

For example

[code]

Could consume a yaml to build a production version of the app directly to an output directory.

You could then just call that in a dockerfile and use mutli-stage builds to move the output into an nginx container.

Then if you want to cre

[2020-05-13 14:56] Rugvip commented on #767
Building on @mbruggmann example, applying the mult-document approach to facts/annotations, and bringing in ideas from the linked article:

[code]

The metadata object being the core platform model, and the facts the data for different domains. Using an array of fact bundles instead of encoding that into object keys.

You could go more verbose and wrap facts in the spec object, and put the fact dat

[2020-05-13 16:27] javigomez opened #849 "[Plugin] Datadog Integration"
## Summary
datadoghq.com allows you to create:
- Metrics for services status, health,... and custom metrics
- Generate Dashboards out of these metrics to understand the status of your software
- Create Monitors that warns you in case a metric has an anomaly.

For example, we could track the Accessibility Score metric provided by the Google Lighthouse measurements, see its trend over time and warn

[2020-05-13 16:32] freben commented on #767
@Rugvip owner should probably not be metadata - right?

How many of these do you picture the user actually writing in the file? Or generated by the ingester at the point of ingestion? Or pushed separately?

[2020-05-13 16:40] Rugvip commented on #767
@freben yeah stuff can be moved in and out of metadata depending on what makes sense to have in the core model.

I think we should keep this discussion centred around what a user has to type and what is stored in git, but consider the stored data model too. It could for example be that we store things in a structure similar to my above example, but we have a nicer way to enter that in yaml, althou

[2020-05-13 16:42] Rugvip commented on #767
The git entry in the above mock would not be populated by the user for example, but it's just some mock data to show the format really.

[2020-05-13 17:18] mbruggmann commented on #767
@freben No strong feelings on where the `system` field should go, I put it there because of the k8s convention of being able to filter/select on it. In internal discussions, there has also been some pushback on requiring it for all component types, it might not apply to data science notebooks or mobile features for example (or not in all companies at least).

The way I thought about `metadata.anno

[2020-05-13 17:48] freben commented on #767
@Rugvip ok, just be careful mixing the concerns of file format (as entered by humans), semantical structure (as thought of by humans), and REST format (the json communicated with the api) :)

[2020-05-13 20:03] nhall97 commented on #833
thanks @stefanalund. I don't think I'd be able to build the whole thing but certainly interested around getting involved

Potentially help wanted would be useful :+1:

[2020-05-14 06:38] adaszyn commented on #773
PR: https://github.com/spotify/backstage/pull/848

[2020-05-14 06:47] stefanalund commented on #773
Fixed in #848

[2020-05-14 06:47] #773 closed

[2020-05-14 06:55] stefanalund commented on #849
Thanks for adding this @javigomez! I know for a fact that many companies are interested in this plugin. Are you planning on working on it yourself or should I add a [help wanted] label? 🙏

[2020-05-14 07:20] adaszyn commented on #774
I'll tackle that! 🚀

[2020-05-14 07:21] stefanalund commented on #774
This page should include an "Unregister" button: https://github.com/spotify/backstage/issues/776

[2020-05-14 08:50] stefanalund commented on #627
@tkrop I'm know for a fact that there are several companies that would be interested in this. Also, speaking on behalf Spotify, we don't have a good story for API documentation and would gladly adopt something like what you are proposing 👍

[2020-05-14 09:44] #796 closed

[2020-05-14 09:44] #797 closed

[2020-05-14 14:24] vedantrathore commented on #661
@bih Apologies for the delay. While commenting on this issue in the beginning, I felt that I would be able to manage my time and work on this as well but the past few weeks have been super busy and unfortunately I couldn't. I'll unassign myself from this issue and hope to contribute in backstage in the future. Apologies for the inconvenience caused.

[2020-05-14 15:40] adaszyn commented on #823
Hey @stefanalund, I'll try to tackle this 🙂

[2020-05-14 18:48] bih commented on #661
@vedantrathore No worries at all, thanks for showing interest in volunteering and hopefully we'll see you get involved in the near future ;)

[2020-05-15 07:10] javigomez commented on #849
My feeling is that we can't do the plugin as standalone, is not until the software catalog feature is finished that we will be able to work in it @stefanalund

Please add [help wanted] label, maybe someone has an idea to start it without the catalog

[2020-05-15 08:02] Rugvip commented on #828
Fix the the configurability issues in the app in https://github.com/spotify/backstage/pull/876

[2020-05-15 11:05] freben opened #878 "catalog backend: add more database tests"
There are [some tests](https://github.com/spotify/backstage/blob/master/plugins/catalog-backend/src/database/Database.test.ts) for the Database class, but they should be more exhaustive. Include adding components, and test removal of locations that are in use by a component etc.

[2020-05-15 11:13] freben opened #880 "catalog backend: add annotation support"
Extend the descriptor model to support annotations inside the metadata, similar to [what kubernetes does](https://kubernetes.io/docs/concepts/overview/working-with-objects/annotations/).

They will be of type `Record<string, any>` essentially, where the values are any valid json. We will likely want to store these on a per-entry basis, linking them back to the component that holds them.

This will

[2020-05-15 11:18] freben opened #881 "catalog backend: deduplicate locations"
Currently, you [are permitted](https://github.com/spotify/backstage/blob/master/plugins/catalog-backend/src/database/Database.ts#L62) to add duplicate locations. Make it so that if you add a duplicate, you just get back the preexisting one in your response.

[2020-05-15 11:22] freben opened #882 "catalog backend: validate locations upon creation"
Currently when you [add a location](https://github.com/spotify/backstage/blob/master/plugins/catalog-backend/src/catalog/DatabaseLocationsCatalog.ts#L23), it never gets validated.

In Spotify's internal catalog implementation, the add operation initiates a read attempt on the specified location, and immediately stores the results that come out of the read. If it fails, the request is rejected.

Im

[2020-05-15 11:30] freben opened #883 "catalog backend: store location update results"
When the [location refresh loop](https://github.com/spotify/backstage/blob/master/plugins/catalog-backend/src/database/DatabaseManager.ts#L33) runs, it just logs and throws away the results.

Make it so that

- Outcomes of the refresh is stored in the [database](https://github.com/spotify/backstage/blob/master/plugins/catalog-backend/src/database/Database.ts), for every location, probably at least

[2020-05-15 11:49] freben opened #884 "catalog backend: retrieve location update results"
Depends on #883 .

Callers of the [item catalog](https://github.com/spotify/backstage/blob/master/plugins/catalog-backend/src/catalog/DatabaseItemsCatalog.ts) are not able to see the outcomes of recent [location refresh loop](https://github.com/spotify/backstage/blob/master/plugins/catalog-backend/src/database/DatabaseManager.ts#L33) runs.

Make it so that

- Outcomes become part of the response,

[2020-05-15 11:56] shmidt-i commented on #881
taking this one

[2020-05-15 13:16] #788 closed

[2020-05-15 14:35] freben opened #889 "catalog backend: add basic github location reader"
The initial catalog could only [read from local files](https://github.com/spotify/backstage/blob/master/plugins/catalog-backend/src/ingestion/LocationReaders.ts#L22).

Add a new `GitHubLocationReader`, that has the type `"github"`, and register it per default.

Initially, make this reader support the `"target"` format `"https://github.com/someorg/somerepo/somepath/somefile.yaml"`. This can later b

[2020-05-15 19:07] andrewthauer commented on #687
I've been thinking and experimenting a lot with a `docs-like-code` approach recently. I'm curious on the scope of what this plugin might provide though.

I know Spotify uses `mkdocs` internally. I looked at a lot of different static site generators and also settled on `mkdocs` because it seemed to provide the least configuration setup required for teams to use in their projects. In fact I've been

[2020-05-15 19:26] nhall97 opened #891 "[Plugin] Lightning Out PoC"
## Summary

Salesforce has the ability to expose

## Project website (if applicable)

https://developer.salesforce.com/docs/atlas.en-us.lightning.meta/lightning/lightning_out.htm

## Context

As Auth using Salesforce is currently blocked due to open OAuth questions, the quickest way to expose Salesforce data to backstage would be using lightning out.

This is a PoC to prove out the ability to show

[2020-05-15 20:10] SpamapS commented on #687
I don't know if this is directly related, or something that would be a separate feature or part of this, but a really neat thing that the Rust community does is that they run the example code snippets in their technical docs as tests. This prevents the problem of "the example doesn't work anymore" and is especially good for avoiding API breakage.

https://doc.rust-lang.org/rustdoc/documentation-te

[2020-05-16 00:09] Rugvip commented on #687
@SpamapS, yep! same thing in Go, https://golang.org/pkg/testing/#hdr-Examples

Never seen it implemented in JS/TS though, probably trickier since it's a dynamic language. It's a neat idea though.

Did just find this: https://github.com/yamadapc/jsdoctest :grin:

[2020-05-18 07:35] stefanalund commented on #774
Fixed in https://github.com/spotify/backstage/pull/866

[2020-05-18 07:35] #774 closed

[2020-05-18 07:35] stefanalund commented on #776
Fixed in https://github.com/spotify/backstage/pull/866

[2020-05-18 07:35] #776 closed

[2020-05-18 08:59] #321 closed

[2020-05-18 08:59] #325 closed

[2020-05-18 08:59] #658 closed

[2020-05-18 08:59] #669 closed

[2020-05-18 08:59] #834 closed

[2020-05-18 09:11] #828 closed

[2020-05-18 09:33] stefanalund commented on #687
@andrewthauer I think we should follow the same model we use inside Spotify; i.e. treat documentation as yet another piece of software that is stored in the [Software Catalog](https://github.com/spotify/backstage/milestone/4).

In such as setup there are two categories of documentation:
1. **Docs only** - stand-alone documentation site
2. **Docs with code** - documentation living together with an

[2020-05-18 09:44] stefanalund commented on #849
@javigomez OK! It's good that we are starting to make excellent progress on the Service Catalog then :)

https://github.com/spotify/backstage/milestone/4

[2020-05-18 10:01] stefanalund commented on #472
Mostly fixed in #589.

@katz95 can you create issues for the remaining work?

[2020-05-18 10:03] adaszyn commented on #883
I'll take that 🙂

[2020-05-18 11:35] andrewthauer commented on #687
@stefanalund - These make perfect sense to me and is how I've also been looking at it.

I wonder if there might be room for a 3rd more abstract option such as `external` docs? I suspect many organizations will still leverage other documentation systems/processes along with backstage (either transitioning or permanently). I have no idea how this would work, but being able to somehow integrate exist

[2020-05-18 13:49] marcuseide commented on #891
Hey @nhall97, thanks for adding this issue. Can I just ask you to clarify a bit on what the plugin's purpose would be? And what Lightning Out is and how it would be used?

[2020-05-18 14:29] stefanalund opened #907 "Pin sidebar"
## Feature Suggestion

Users should be able to "pin" the sidebar to into a statically expanded state:

<img width="560" alt="Screenshot 2020-04-29 at 3 53 26 PM" src="https://user-images.githubusercontent.com/61153904/80604142-a1c08200-8a31-11ea-9f1f-0a6a9dc0646d.png">

Pressing it again should leave the sidebar in the default state; i.e. expanding on mouse hover and collapsing when the mouse leav

[2020-05-19 07:07] adaszyn commented on #907
I'll take that! :)

[2020-05-19 07:08] stefanalund commented on #907
Thanks @adaszyn -- ping @katz95 if you have any questions about the design aspects.

[2020-05-19 09:03] soapraj commented on #791
We are working with the assumption that all secrets will be available as environment variables.

[2020-05-19 11:17] #881 closed

[2020-05-19 12:38] #667 closed

[2020-05-19 12:46] katz95 opened #922 "Tabs (primary level navigation)"
## 🗒 General

Hi! Would love if someone could help us build our primary level navigation, which comes in the form of tabs! ✨Please add this to our [Storybook](http://storybook.backstage.io/) as well.

![tabs](https://user-images.githubusercontent.com/61153904/82327275-6f75c500-99de-11ea-99e0-330d66a83981.gif)

## 💻 Usage

![Tabs](https://user-images.githubusercontent.com/61153904/82327390-9e8c3680

[2020-05-19 13:09] #767 closed

[2020-05-19 20:42] stefanalund commented on #454
Time to close this issue now that we have decided on the format?

https://github.com/spotify/backstage/blob/master/docs/architecture-decisions/adr002-default-catalog-file-format.md

@freben

[2020-05-20 06:37] freben commented on #454
Agreed. @aexvir please have a look at the ADR if you have the time. It leaves a few degrees of freedom open:

- The spec for Component is not set in stone yet. It just has a type field now. If we feel that there are more fields that we can place there, that are NOT a good fit for labels or annotations, we can discuss putting them as part of the core spec.
- The labels are a possible place to put i

[2020-05-20 06:37] #454 closed

[2020-05-20 07:49] cheepo2109 commented on #830
Done and Merged ✅

[2020-05-20 07:50] stefanalund commented on #830
Closed via #832

[2020-05-20 07:50] #830 closed

[2020-05-20 09:41] Nek commented on #878
Parking it until new **big** changes to Database code from @freben

[2020-05-20 13:15] Rugvip commented on #922
There's an existing component for horizontal scrolling that we should reuse: https://github.com/spotify/backstage/tree/master/packages/core/src/components/HorizontalScrollGrid

[2020-05-20 13:59] shmidt-i commented on #922
I think actually this is exactly what is needed +- styling:
https://material-ui.com/components/tabs/#scrollable-tabs

[2020-05-20 14:18] Rugvip commented on #339
Discussed the naming a bit further today and settled for trying out "Utility APIs". Service APIs is too easy to confuse with the "service" component entity type, and we want to keep these Utility APIs limited to only things that you access using the `useApi` hook. With that separation in mind, "Plugin APIs" or "App APIs" would be too easy to mix up with `createPlugin`, `createApp` and friends.

[2020-05-20 14:45] #823 closed

[2020-05-20 15:43] #789 closed

[2020-05-20 15:43] #790 closed

[2020-05-20 15:44] soapraj commented on #789
https://github.com/spotify/backstage/pull/921

[2020-05-20 15:44] #792 closed

[2020-05-20 16:01] adaszyn opened #941 "catalog backend: discuss/implement a pattern for handling transactions"
With a growing catalog backend, we might consider providing a pattern for passing database transaction context to all methods interacting with a db. Ideally, each method could be executed inside or outside of a transaction.
An example where we might benefit from such pattern:

https://github.com/spotify/backstage/blob/master/plugins/catalog-backend/src/database/DatabaseManager.ts#L88

[code]

[2020-05-20 18:30] freben commented on #941
Yes!

It could perhaps be as simple as

[code]

[2020-05-21 07:50] Nek opened #949 "[Plugin] CircleCI: tests"
Several groups of tests should be implemented:
- [ ] custom hooks
- [ ] API integration
- [ ] UI components

[2020-05-21 07:52] Nek opened #950 "[Plugin] CircleCI: move to API v2"
There is a new more feature rich API for CircleCI. Consider moving to it.
https://circleci.com/docs/api/v2/#circleci-api

[2020-05-21 14:58] NWCalvank commented on #661
Hi, I should have time to pick up this refactor if it's still looking for an owner 🙂

[2020-05-21 15:55] bih commented on #661
@NWCalvank Absolutely! It's assigned to you :) Let us know if you need any guidance!

[2020-05-22 08:35] Rugvip opened #963 "create-plugin --backend"
## Feature Suggestion

We should have a backend plugin version of `backstage-cli create-plugin`.

## Possible Implementation

We'd need a template for backend plugins in `packages/cli/templates`, an a way to specify that you want to create a backend plugin. It could for example be done via a `--backend` or `--template=backend` flag. Could also be a separate command or an interactive choice during

[2020-05-23 01:00] andrewthauer opened #970 "[Plugin] Rollbar"
## Summary

A plugin that shows the most important alerts from [Rollbar](https://rollbar.com/).

## Project website (if applicable)

https://explorer.docs.rollbar.com/

## Context

UX patterns can probably be reused from this CircleCI plugin: #823.

[2020-05-23 21:33] #765 closed

[2020-05-24 13:02] Rugvip opened #972 "[RFC] SecureContextApi"
# Context

Even though Backstage uses modern frameworks and methods that mitigate Cross-site scripting (XSS) attacks, a plugin may want to take additional security measures for some sensitive actions. For example, a cluster management plugin may want to protect an action to completely remove a cluster, or a user management plugin may have an action to grant another user administrative privileges t

[2020-05-24 15:35] dtuite opened #973 "dockerignore prevents docker-build from working"
## Expected Behavior

`yarn run docker-build` should build a Docker container.

## Current Behavior

[code]

## Possible Solution

Remove `packages/*/dist` from `.dockerignore` and the docker build works fine.

## Steps to Reproduce

[code]

## Your Environment

Docker Desktop for Mac

[code]

[2020-05-25 06:43] stefanalund commented on #970
Thanks for suggesting @andrewthauer. Are you planning on working on this plugin yourself or should I add a [help wanted] label?

[2020-05-25 07:38] stefanalund commented on #907
Closed in https://github.com/spotify/backstage/pull/928

[2020-05-25 07:38] #907 closed

[2020-05-25 08:07] freben commented on #941
A pattern for this will emerge as part of #880

[2020-05-25 08:10] freben commented on #771
This already has a basic solution, and more sources and metadata are being added step by step. I consider this ticket solved, with the scope it was given.

[2020-05-25 08:11] #771 closed

[2020-05-25 08:22] freben commented on #878
This is too broad and the API is still in flux - closing, and then adding a new one if necessary once the API has stabilised

[2020-05-25 08:22] #878 closed

[2020-05-25 08:27] freben opened #983 "Settle the MVP metadata model"
Before considering the catalog to be in a Minimum Lovable Product (MLP) state, we should settle on a sensible, well scoped, and useful set of metadata that users can start making use of immediately.

Regarding actual pieces of information, we can borrow some inspiration from the internal Backstage, and signals from users here on GitHub. Some candidates:

- [x] type - what possible values? - how do

[2020-05-25 09:05] #798 closed

[2020-05-25 09:06] #883 closed

[2020-05-25 09:07] stefanalund commented on #750
Outlined in https://backstage.io/blog/2020/05/22/phase-2-service-catalog

[2020-05-25 09:07] #750 closed

[2020-05-25 09:13] freben commented on #390
Remaining work: create documentation about what the metadata structures look like, after setting #983

[2020-05-25 09:15] freben commented on #772
Remaining work: add filtering support to the list endpoint, based on the existing entities_search table

[2020-05-25 09:17] #749 closed

[2020-05-25 09:21] #889 closed

[2020-05-25 09:23] freben opened #984 "Implement backend fetching for component item overview page"
Keep the design as is, but do the fetching from an actual backend instance.

[2020-05-25 09:24] dtuite commented on #973
Does anyone know why `packages/*/dist` was added to the `.dockerignore` in the first place? I'm not sure what I might break by removing it.

[2020-05-25 09:26] freben opened #985 "Add sub navigation component to service page"
Implement the top bar, top nav, and information ticket.

The other cards are left out of scope for this ticket.

Depends on #922
Depends on #983

![image](https://user-images.githubusercontent.com/3097461/82799519-74bd8e80-9e7a-11ea-9f52-4c33d925fce9.png)

[2020-05-25 09:33] shmidt-i opened #986 "Register component integration with backend"
Inside the entity list view there is a button allowing you to register entity, but for now it's not connected to the backend. Also, unregister functionality isn't there. This ticket is to add both and connect it with the backend.

[2020-05-25 09:34] stefanalund opened #987 "Render correct data from backend"
![image](https://user-images.githubusercontent.com/190856/82800194-8f443780-9e7b-11ea-857f-7703be1db72d.png)

[2020-05-25 09:34] #799 closed

[2020-05-25 09:34] #800 closed

[2020-05-25 09:36] stefanalund opened #988 "catalog switcher"
This should probably be a reusable component (it exists in Backstage internal):

![image](https://user-images.githubusercontent.com/190856/82800308-c6b2e400-9e7b-11ea-81c3-3ea6d8c56cc4.png)

[2020-05-25 09:37] freben commented on #366
Decided on passport for initial main auth library.

[2020-05-25 09:37] #366 closed

[2020-05-25 09:37] stefanalund opened #989 "Catalog: Link to GitHub source code location"
![image](https://user-images.githubusercontent.com/190856/82800460-0c6fac80-9e7c-11ea-9ee8-0d4a2dae4e91.png)

[2020-05-25 09:39] freben commented on #370
Initial API has been settled and implemented.

[2020-05-25 09:39] #370 closed

[2020-05-25 09:39] stefanalund opened #990 "Catalog: Allow "Starring" of items"
Should be stored permanently:

![image](https://user-images.githubusercontent.com/190856/82800615-46d94980-9e7c-11ea-88e9-361820f147be.png)

[2020-05-25 09:40] freben commented on #413
Settled for passport for now.

[2020-05-25 09:40] #413 closed

[2020-05-25 09:42] freben commented on #791
Initial idea is that the backend services reads secrets out of env, and injects the values into the backend plugin implementations. This requires us to consider the configuration interface for backend plugins.

[2020-05-25 09:45] stefanalund opened #991 "Add subtitle support to Table"
Current Table component only supports a `title`. Add support for subtitle:

![image](https://user-images.githubusercontent.com/190856/82801083-05956980-9e7d-11ea-8e26-134fab76af79.png)

This should include a Storybook entry.

[2020-05-25 09:58] soapraj opened #992 "Auth backend: env based config for providers"

[2020-05-25 09:59] soapraj opened #993 "Auth backend: Handle refresh token flow"

[2020-05-25 11:15] ayshiff commented on #991
I would like to work on it 👍

[2020-05-25 11:37] stefanalund commented on #991
@ayshiff thanks! I have Assigned you.

[2020-05-25 11:40] stefanalund commented on #986
I think it makes sense to add a Register button on the Create page:

![Screenshot 2020-05-25 at 13 39 17](https://user-images.githubusercontent.com/190856/82809802-3b424e80-9e8d-11ea-8a17-e6875b5731e4.png)

[2020-05-25 12:18] stefanalund opened #996 "Page title not correct in /create"
## Expected Behavior

Should reflect current title.

## Current Behavior

Includes [object Object] stringification.

![Screenshot 2020-05-25 at 14 15 35](https://user-images.githubusercontent.com/190856/82811960-3e8c0900-9e92-11ea-8528-8faab3b343d3.png)

## Possible Solution

## Steps to Reproduce

Go to /create

## Context

This most likely have to do with Helmet not being configured correctly.

[2020-05-25 12:51] govindgoel commented on #996
@stefanalund  I would like to work on this.

[2020-05-25 12:55] stefanalund commented on #996
Thanks @govindgoel -- you are Assigned now!

[2020-05-25 13:49] Mutugiii commented on #973
@dtuite I would love to work on this!

[2020-05-25 13:50] dtuite commented on #973
All yours @Mutugiii !

[2020-05-25 13:53] stefanalund commented on #973
Thanks @Mutugiii -- I have assigned you now! 💯

[2020-05-25 14:16] freben commented on #973
@Mutugiii It's safe to change it as per @dtuite:s suggestion as far as I know. We changed the build system, and this should adapt the Dockerfile accordingly.

[2020-05-25 14:17] #880 closed

[2020-05-25 14:25] #973 closed

[2020-05-25 14:53] govindgoel commented on #996
@stefanalund  This issue is happening due to the use of <Lifecycle alpha shorthand /> to display the alpha image after the title text.

[2020-05-25 15:09] shmidt-i commented on #884
### Status of the entity
What is it as a concept? Should it be tied to the status of parsing/ingesting of the descriptor file, or should it be like a "Running" server/ "Deployed" docs etc?

### Stitching
Right now we discussing putting information about `location` (update result) into a `entity` response, which are technically two different types of resources, linked, but still different.
If we ha

[2020-05-25 15:32] govindgoel commented on #996
@stefanalund This issue is due to the Lifecycle component ```<Lifecycle alpha shorthand />```  as the Page Title is unable to parse it.

[2020-05-25 15:41] #339 closed

[2020-05-25 16:35] stefanalund commented on #884
Let’s skip this for now and remove it.

[2020-05-25 16:43] BA1RY commented on #987
@stefanalund I'd like to work on this.

[2020-05-25 17:20] govindgoel opened #1002 "Display required field while logging in"
## Feature Suggestion
Display the required error message for the Github username and Token field whenever these are empty.
![Screenshot from 2020-05-25 22-26-21](https://user-images.githubusercontent.com/52847415/82831733-dd3a5900-9ed6-11ea-8541-46d3cfa5a464.png)

## Possible Implementation

Display error message whenever the field is empty
## Context
No error message defined to make the field as

[2020-05-25 17:44] stefanalund commented on #987
@BA1RY awesome, assigning you. Please note that the backend is still in development so there might be a bit of a bumpy ride (ping @freben)

[2020-05-25 17:51] BA1RY commented on #987
Thank you @stefanalund. I see that we are consuming data for catalog from `mock-factory-data.json`. Do I need to add temporary data to the json file for developing the frontend as the backend is still in development?

[2020-05-25 18:01] shmidt-i commented on #990
Ideally, this means we want to add a userSettings backend service, which is cool, but maybe not within Phase 2?
As a middle ground we can for now store this information in the local storage, which will result into "starred" items being starred only for current browser for user

[2020-05-25 18:04] shmidt-i commented on #884
I mean, `status` field was only one possible implementation and we still need to figure out a way forward with location update results

[2020-05-25 18:10] freben commented on #987
Hey!

The backend just gained a `/catalog/entities` endpoint. If you can make the frontend view start out fetching from `http://localhost:7000/catalog/entities` and displaying their `metadata.name` property in the list, then that's a good start.

After starting the backend, it has no entities in it. What you do, is that you can add so called locations to it. They are then periodically refreshed. T

[2020-05-25 18:10] stefanalund commented on #990
@shmidt-i I think we should lift over our internal settings API which can use localStorage as a persistent store.

[2020-05-25 18:14] freben commented on #987
Oh to make `yarn start` work in `packages/backend`, you currently have to give it three env variables on the command line. I don't have them at hand right now, sorry about that. If you figure them out (just give them dummy values), great. Otherwise I'll make sure to help make this easier tomorrow.

[2020-05-25 18:54] shmidt-i commented on #884
Also, it can be a separate endpoints `/entity/:id/updates` & `/location/:id/updates` or even `/updates/location/:id` & `/updates/entity/:id`

[2020-05-25 19:06] freben commented on #884
Or `/locations/:id` contains the current status (together with the location info itself), and `/locations/:id/history` goes back a bit.

I'm considering that the location refresh loop might perhaps insert a `backstage.io/managed-by-location: <location id>` annotation on entities it creates. Then the view could grab that and query the above endpoint to get statuses.

And that might also be how a fu

[2020-05-25 19:21] shmidt-i commented on #884
I like it, going to try it out tomorrow 👍

[2020-05-26 01:45] andrewthauer commented on #970
@stefanalund - I can take a stab at it. Although I might not get to it for a little while.

[2020-05-26 04:39] BA1RY commented on #987
Thank you @freben . I really appreciate it. Could you please provide more details on how to make `yarn start` work? I wasn't able to figure out the environment variables.

[2020-05-26 06:18] BA1RY commented on #987
@freben Just to clarify, backend data is being served over GraphQL and queries need to be made accordingly. Please correct me if I'm wrong.

[2020-05-26 06:26] freben commented on #987
Not yet. The GraphQL aggregator will not be made until a bit later, when the underlying features are stabilized.

I made a [pull request](https://github.com/spotify/backstage/pull/1007) for updating the backend README to reflect the current reality.

[2020-05-26 09:03] soapraj opened #1010 "Auth Backend: Handle nonce cookie and verify headers from frontend"

[2020-05-26 09:48] #991 closed

[2020-05-26 11:02] stefanalund commented on #996
@govindgoel thanks, that's interesting. Do you know if this can be fixed without removing the Alpha label?

[2020-05-26 11:06] Rugvip opened #1012 "[RFC] Configuration Management"
This is a rough suggestion of how we could handle configuration in Backstage. There's plenty more stuff to figure out, but this is just a request for comments :grin:

## Scope

The configuration solution would be used by all frontend code that's a part of a Backstage deployment, and should be a standardized API that plugins can rely on. In the backend, it's used to configure the main backend with

[2020-05-26 11:57] ayshiff commented on #922
Can I work on it ? 🚀

[2020-05-26 11:59] stefanalund commented on #922
@ayshiff for sure! I've assigned you.

[2020-05-26 12:02] Rugvip commented on #697
An alternative/addition to this would be to have an internal deployment too, then we could try out managing a larger number of services.

[2020-05-26 12:07] Rugvip commented on #1012
Not mentioned above, but thinking that we would also add optional config schemas via JSONSchema.

[2020-05-26 12:58] andrewthauer opened #1013 "Catalog: Convention based / dynamic catalog source location metadata"
I've been following the progress of the catalog backend in regards to the `CatalogLocation` concept. I'm wondering if there are plans to have a location source type that can dynamically generate the metadata instead of fetching it directly?

## Context

For instance, my organization currently has a custom built catalog. It has a location map configuration file that points to github repos we want t

[2020-05-26 14:40] freben commented on #1013
Hi! Good points - this is indeed on our radar. Let me look at it from a few different angles (some of which you mention yourself):

## New Backing Catalog

When the catalog plugin is started up, you give it a catalog implementation as a parameter. Currently there's only the `DatabaseEntitiesCatalog`. But you could make your own, that reads directly from your own catalog and just transforms the res

[2020-05-26 15:22] benjdlambert commented on #988
I will make #1000 close this issue, and then we can maybe create another ticket similar to #984 which is to implement the backend fetching of all these items and what the relative queries should be to the entities search service in #772.

Does that make sense @alund?

[2020-05-26 15:24] #993 closed

[2020-05-26 16:58] drsounds commented on #395
Hi, I see you you announced the completion of the first milestone and there was a link to Contributors at github, but my profile is missing. I see there are other non Spotify employees listed there

[2020-05-26 17:20] Rugvip commented on #395
@drsounds Looks like you used an email address that isn't registered on your GitHub account when you made the commits. https://github.com/spotify/backstage/pull/430/commits

If you add that email to your account I think you'll show up!

[2020-05-26 17:30] drsounds commented on #395
I added email but it didnt work...

[2020-05-26 18:06] #988 closed

[2020-05-26 18:07] Rugvip commented on #395
@drsounds it did, you're in the list

[2020-05-26 18:18] BA1RY commented on #987
@stefanalund I have a question. Do you want me to get data from backend for `catalog` like how it's been implemented in `sentry` or should I make changes to existing `mock-factory.ts` file to make fetch requests to backend?

[2020-05-26 19:28] stefanalund commented on #987
@BA1RY I think @freben is better positioned to answer whether it is worth mocking the data for now or actually call out to the catalog-backend.

[2020-05-26 20:06] BA1RY commented on #987
@stefanalund Understood.
@freben I have a few queries.
1. Like you instructed, I was able to get the backend running. Each api response item is in this format.
`{
    "apiVersion": "backstage.io/v1beta1",
    "kind": "Component",
    "metadata": {
      "uid": "aafab2c1-b35a-4150-8104-245dd711d9ef",
      "etag": "ZjlhMzQ2OWUtM2ZjNy00ZDUyLTg2YzctODFjOGYyNjE1YTBj",
      "generation": 1,
      "nam

[2020-05-26 20:34] #772 closed

[2020-05-26 20:35] freben commented on #987
Yeah feel free to mirror sentry for now with the API_HOST env as a basis. We are about to settle how we want to handle config being passed to plugins later in this milestone, but that's not done yet.

For some basics about the entity format, see the type declarations [here](https://github.com/spotify/backstage/blob/master/plugins/catalog-backend/src/ingestion/types.ts), and some context [here](htt

[2020-05-27 07:52] #882 closed

[2020-05-27 07:59] nikek commented on #985
I'll split this one up into separate smaller issues.

[2020-05-27 08:13] #778 closed

[2020-05-27 08:40] stefanalund opened #1028 "Extra , rendered on all pages"
## Current Behavior

Something introduced an extra , in one of the core components:

<img width="447" alt="Screenshot 2020-05-27 at 10 38 42" src="https://user-images.githubusercontent.com/190856/82997164-508eb880-a006-11ea-9343-3f855706d738.png">

[2020-05-27 08:51] benjdlambert commented on #987
Hey @BA1RY,

After a chat internally this morning, @spotify/backstage-core will take ownership of this feature.
It's part of the release we're working on right now, but please feel free to pick up something else!

Thanks for your help!

[2020-05-27 09:01] Mutugiii commented on #1028
@stefanalund I would like to quickly patch this up

[2020-05-27 09:03] stefanalund commented on #1028
Thanks @Mutugiii -- assigned you!

[2020-05-27 09:15] BA1RY commented on #1002
@stefanalund I'd like to work on this.
Also a question, should the error be displayed on clicking _Authenticate_ button or whenever the field is empty?

[2020-05-27 09:16] Mutugiii commented on #1028
All done @stefanalund

[2020-05-27 09:16] BA1RY commented on #987
Sure @benjdlambert :smiley:

[2020-05-27 09:23] #1028 closed

[2020-05-27 09:25] stefanalund commented on #1002
@soapraj @Rugvip can you help answer this?

[2020-05-27 09:34] stefanalund commented on #1013
As many companies already have some mechanism of tracking software ownership, it should ideally be simple to hook it up to Backstage. Related discussion in https://github.com/spotify/backstage/issues/782

[2020-05-27 09:44] dtuite commented on #1012
Only thing I would home, and I'm sure you were thinking this way already, is that it's mostly run time config.

For example, imagine a config where you set the name of your company so it shows up in the header in the application or something. It might be tempting to make this build time config where you would pass it in like this

[code]

but IMO there is no reason not to make this run time config

[2020-05-27 09:50] Rugvip commented on #1012
@dtuite Yeah runtime config is the main use-case. I think it should for example be possible to set an `CONFIG_ORGANIZATION_NAME` env var in the container used to server the frontend, and have that show up when a plugin in the frontend does `configApi.getString('organization.name')`.

Regarding create-app I think we can expand the capabilities of that quite a bit once we have something like this in

[2020-05-27 09:54] dtuite commented on #1013
Leaving a custom parser in place for any length of time would mean you have to update your parser to match any schema changes in the official Backstage schema.

Probably better to write a migrator which ingests the legacy descriptor files and replaces them wholesale with the Backstage format. That way you can migrate once and be done with it. Of course, there is a potential issue there if you have

[2020-05-27 10:01] dtuite commented on #1002
@BA1RY which method do you tend to prefer when you use the web and why?

If you're fixing this, and if it's not too much scope creep, I would suggest helping users understand what "Token" means. Is it a GitHub user password? Is it a personal access token? How do I get a personal access token? What scopes does it need?

[2020-05-27 10:06] dtuite commented on #697
If you're open to having an outsider do this, I would like to fund and manage this.

I can deploy a public Backstage on an EC2 instance to get started but I agree a k8s deployment would be better long term. I [already have a docker-compose script](https://upstage.dev/blog/backstage-docker-compose/) which stands the whole thing up so that people can use the lighthouse plugin.

I can also set a refr

[2020-05-27 10:14] Rugvip commented on #697
@dtuite I don't think we're opposed to it, but I do feel that it would be good for us to manage a deployment of Backstage ourselves. Just so that we get to feel all the pain points of the deployment process and iron those out.

That said I don't see much trouble with having more deployments :grin:. What do you think @stefanalund?

[2020-05-27 10:18] Rugvip commented on #697
It's also tied to authentication btw, we'll likely use the public deployment as the default auth backend for local development.

[2020-05-27 10:39] BA1RY commented on #1002
@dtuite That's a valid point.
I would prefer to check when `onChange` is triggered.
For "Token", it would be better we could provide a hint below(if short) or have a link with "What is Token?" which triggers a popup with description. WDYT?

[2020-05-27 10:45] dtuite commented on #697
@Rugvip  We might be thinking of two different things.

In my head, a useful Backstage demo can be used by anyone. I'm imagining a flow where I come to the Backstage website knowing nothing about Backstage, I click a link to the Demo, I can sign up (or even better - I don't have to sign up) and  I can view/edit dummy data freely so I can get a sense of the product before I go and install it myself

[2020-05-27 10:55] dtuite commented on #1002
@BA1RY That sounds good to me. I'd be interested to hear what others think too.

[2020-05-27 12:16] brunopereiraelven commented on #782
Hi there, coming from a managed services/consulting background I can affirm that most companies have messy Cloud accounts and a high enough employee turnover to make things hard in the beginning.

I believe that Cloud scanners + other background discovery tools that can help import things in a Service/Resource Catalog is very helpful. Without proper tagging and metadata, it can be difficult to kno

[2020-05-27 13:25] shmidt-i commented on #996
Something like this should do:
https://github.com/spotify/backstage/blob/88561490d41fce5fabaa596359bfb443c4a82f4d/plugins/circleci/src/components/Layout/Layout.tsx#L24

[2020-05-27 14:00] #1010 closed

[2020-05-27 15:13] o0Djeen0o opened #1033 "PUBLIC_URL no more resolved with homepage when using bundle command"
Hi,
I've migrated to release 0.1.1-alpha6 (with some troubles, as the build has completely changed from previous version ^^), and I'm no more able to start a bundled site. `%PUBLIC_URL%` reference (contained in `index.html` public folder of the package app) was previously using the `homepage` property in `package.json` file (probably coming from create react app, or is it a webpack option ?)

It s

[2020-05-27 15:24] Rugvip commented on #1033
It was something that create-react-app was providing. I'd say that the new solution for this will be based on the output of https://github.com/spotify/backstage/issues/1012

Do you need a stopgap solution for now or do you have a workaround?

[2020-05-27 15:41] ljupchokotev opened #1034 "Be able to reuse the database setup in multiple backends"
## Feature Suggestion

## Possible Implementation

## Context

Currently, the catalog backend has the functionality to work with a database. This functionality should be refactored so that it can be reused in any backend that requires a database. It should be possible to have a very simple way of getting a connection to the database and possibly run migrations as needed per backend.

[2020-05-27 16:21] freben commented on #1034
Hi! That could be useful. The feature surface is pretty small at this point; it would probably mainly be about a convention of where to put migration files, that are found and run automatically relative to the package root. Would you agree? The rest of it is in making the actual database connection, which happens in the backend package itself, and that's purely config.

[2020-05-27 16:33] o0Djeen0o commented on #1033
Thanks for the update @Rugvip.

Right now I can modify the `index.html` by hand/script, it is not a huge work, but it also depends of the estimated time when a new solution will be proposed for this issue.

[2020-05-27 16:38] Rugvip commented on #1033
@o0Djeen0o We'll want a solution in place in at most one or two weeks, there's plenty of ongoing work that needs the feature.

[2020-05-27 16:50] freben opened #1036 "Make metadata.name mandatory"
The metadata.name field is optional in the current entity schema. That has also led to the metadata blob being non-mandatory too. This is an unnecessary complication.

Make the metadata blob mandatory, and make the name mandatory. Adjust both the TS types and the validation accordingly.

[2020-05-27 18:01] ljupchokotev commented on #1034
Yes, that should be fine for the migrations as a start.

As for the database connection, should each backend specify its own connection using Knex or is it better to refactor that out to Backstage core and allow backends to request a database connection from Backstage core when needed? It will be easier if a backend doesn't need to specify anything regarding the database and can just request a con

[2020-05-27 18:25] Nek commented on #1036
API consumption implementation depends on this one. Let me do it all together. I'm talking about this https://github.com/spotify/backstage/issues/984

[2020-05-27 18:33] freben commented on #1034
Maybe! Would that work well with how database administrators want to manage things in a stricter org? Each plugin will want to act within their own isolated logical database, and I believe the creation of those will then happen by hand out of band. Is that a reasonable assumption? In that case there needs to be a way for the user to set their backend to somehow map plugin connection requests to th

[2020-05-27 19:31] govindgoel commented on #996
Thanks for the suggestion @shmidt-i

[2020-05-27 21:23] freben commented on #1013
The schema permits you to put extra data both directly in the `metadata` object, or in `metadata.labels` and `metadata.annotations`. Theoretically you could put things in the `spec` too, but that comes with a bit greater risk of colliding with official features and should probably be avoided if possible.

[2020-05-27 22:18] Rugvip commented on #1013
@dtuite That's assuming you don't have infrastructure that depend on the existing files though. Being able to ingest the legacy format could allow for a transition period where existing infra is moved to consume from the Backstage catalog service instead of the legacy descriptor files.

[2020-05-27 22:20] dtuite commented on #1013
Both good points!

[2020-05-28 02:10] andrewthauer commented on #1013
I think any of those options could work. As I mentioned in the context, we currently use a convention based approach to extract metadata via the GitHub API. So we do not have descriptor files aside from a single map to where all the service repos live.

On one side this is nice because it doesn't require maintaining additional files in repos. However, it has it's limits for the types of metadata t

[2020-05-28 06:47] #996 closed

[2020-05-28 07:13] nikek opened #1040 "Add sub navigation component to ComponentPage"
Make use of the sub navigation component (#922) and add it to the ComponentPage with links that go nowhere. We'll solve routing in a separate issue.

Depends on #922

![image](https://user-images.githubusercontent.com/3097461/82799519-74bd8e80-9e7a-11ea-9f52-4c33d925fce9.png)

[2020-05-28 07:13] #985 closed

[2020-05-28 07:22] nikek opened #1041 "Update metadata info card with metadata from BE on ComponentPage"
Use metadata from backstage backend and populate the metadata card with that information.

Depends on #984
Depends on #983

![image](https://user-images.githubusercontent.com/3097461/82799519-74bd8e80-9e7a-11ea-9f52-4c33d925fce9.png)

[2020-05-28 07:27] nikek opened #1042 "Solve sub routing for ComponentPage"
We need a mechanism for sub routing on the ComponentPage. Plugins like Builds, Deployments, Monitoring etc. will need a way to register their page components onto the ComponentPage sub router.

Suggest solution below before implementing.

[2020-05-28 07:38] Nek commented on #984
The frontend makes assumption that some data is available but only "name" and "description" are specced. Only "name" is required by spec.
No front-end oriented "Component" spec/types.
No "remove entity" logic.

Todo:
- unregister component (remove entity?)
- get and visualize all the extra data
- subscription to update?

[2020-05-28 07:51] Nek commented on #984
Semantics between front-end <--> backend.

[2020-05-28 08:18] soapraj opened #1044 "Auth Frontend: Sidebar to have auth state"
Sidebar should have a place where users can see the different auth options, auth state( if they are logged in or not ) and a link to logout.

[2020-05-28 15:17] soapraj opened #1054 "Auth Backend: Refactor Google provider to reduce dependency on passport"
PassportJS is a black box when it comes to using it as a middleware and handling errors so refactor to get more control over error flow and reduce dependency on passportJS.

- use passport only for the provider strategy
- remove the need for middlewares in auth-backend/service/router.ts

[2020-05-28 15:18] Rugvip commented on #1054
I can pick this up!

[2020-05-28 15:19] Rugvip commented on #1054
:trollface:

[2020-05-28 17:48] Rugvip commented on #1012
As mentioned by @freben in #1046, we might want to provide a `defaultValue` parameter to each accessor.

The RFC mentions `??` as the solution to defaults, as I liked the idea of relying on language features instead of API. Kinda like if you'd build a config lib in Java you'd likely use Optional now, instead of a default param.

The thing speaking against that for me is if you want to throw an err

[2020-05-28 19:11] freben commented on #782
@brunopereiraelven Agreed. Internally at Spotify, we leverage Backstage to gently automatically poke at people about various kinds of misconfiguration, through information boxes and color choices etc. One such example is if the owner you have set for your component does not abide by certain business rules. We have found that this can be rather effective actually, in terms of engagement/outcome, wi

[2020-05-28 20:30] benjdlambert commented on #987
This issue overlaps a lot with implementation from #978

Will postpone a some of this work like hooking up the filters until PR's #1043 and #1047 get merged.

[2020-05-28 20:41] benjdlambert opened #1060 "Persist User Settings"
Users should be able to add things to a persistent storage that can be used around backstage for other things. Like starring items for use in the catalog view.

## Feature Suggestion
- Be able to save things in local storage a la backstage internal

## Possible Implementation
- Eventually these things should be stored with the `userId` in a backend service, but right now as we don't have a way to

[2020-05-28 20:52] benjdlambert commented on #1060
@stefanalund should address https://github.com/spotify/backstage/issues/990#issuecomment-633672981

[2020-05-28 21:24] Rugvip commented on #1060
Would love to find a good interface for this API that also support async storage. Internally we have this split into sync and async APIs. They're not too different though, and they sync one still supports async updates from other sources. The problem with the async one is page load flickering, so I'm thinking a hybrid approach where you can have async storage with localStorage cache, but making th

[2020-05-28 21:55] ljupchokotev opened #1063 "[Plugin] Cloud Build"
## Summary

A plugin for integration with [Google Cloud Build](https://cloud.google.com/cloud-build)

Features that I could think of:
* Choose which GCP project to show
* Show logs for a specific build
* Show details for a specific build, like substitutions, options, env vars, duration, etc.

## Project website (if applicable)

https://cloud.google.com/cloud-build

## Context
Similar to the Circle

[2020-05-28 22:15] benjdlambert commented on #1060
@Rugvip agreed. Hooks give us a lot of flexibility in this sense, as that the API can stay synchronous, but we can re-render components that subscribe to different keys in the store when async data comes in. I've taken a stab at moving across the simple local storage version from internal for now, and we can build upon it

[2020-05-29 07:16] soapraj opened #1070 "Auth Frontend: Remove Github login page"
Remove the temporary GitHub login page

https://github.com/spotify/backstage/issues/1002

[2020-05-29 07:18] soapraj commented on #1002
Hi @BA1RY @govindgoel

Thanks for raising the issue and discussing this.

This UI was a temporary solution to use Github Auth to build demo functionality. We don't plan to use this UI going forward and we have a popup based login flow being built at the moment.

You can follow the progress of our Auth work here https://github.com/spotify/backstage/milestone/8 and very soon we will have end-to-end

[2020-05-29 07:42] BA1RY commented on #1002
Hi @soapraj . Yes, please go ahead.

[2020-05-29 07:43] #1002 closed

[2020-05-29 07:55] #1054 closed

[2020-05-29 08:09] stefanalund commented on #1063
@ljupchokotev thanks for submitting a ticket! Are you planning on working on this yourself or do you want me to add a [help wanted] label?

[2020-05-29 08:27] stefanalund opened #1071 "Update Favicon to new logo"
Move over this work to the main repo: https://github.com/spotify/backstage-microsite/pull/163

[2020-05-29 13:15] #1036 closed

[2020-05-29 13:19] shmidt-i commented on #922
Hey @ayshiff, just checking in to see if you need any help on this one?

[2020-05-29 13:20] stefanalund commented on #250
Please use the [plugin] issue type to suggest plugins: https://github.com/spotify/backstage/issues/new/choose

[2020-05-29 13:20] #250 closed

[2020-05-29 13:21] #984 closed

[2020-05-29 13:29] soapraj commented on #987
Closing this as remaining work is in #990

[2020-05-29 13:29] #987 closed

[2020-05-29 14:22] ayshiff commented on #922
Hey @shmidt-i ! Thank you, I'm almost done !

[2020-05-29 14:38] Rugvip commented on #1042
I think we're confident enough and still API-unstable enough that we can bring in the react-router v6 alpha, as that seems to solve a lot of these problems for us.

[2020-05-29 17:41] imadtouil opened #1075 "Failed to create app - Building the app: yarn build failed"
Hi Community,

First, many thanks for this amazing product.

I have been trying to create the an app and faced this error. Note that i have already installed and running backstage.

▓▒░···············································································░▒▓ ✔
╰─ npx @backstage/cli create-app
load: 2.85  cmd: node 2999 waiting 4.39u 1.21solveWithNewModule @types/estree@0.0.39 checking ins

[2020-05-29 18:09] Rugvip commented on #1075
Thanks for reporting the issue!

I believe this should be fixed by #1045, but it needs a new release. Waiting for a few other PRs to be merged before we do that.

[2020-05-29 20:28] ljupchokotev commented on #1063
Hi @stefanalund, you can add the [help wanted] label, I can't work on this right now.

[2020-05-31 17:59] stefanalund commented on #755
Described in https://github.com/spotify/backstage/blob/master/docs/architecture-decisions/adr002-default-catalog-file-format.md

[2020-05-31 17:59] #755 closed

[2020-05-31 20:32] #574 closed

[2020-06-01 05:34] JordiPolo opened #1083 "Support Arrays and Objects in the Service Descriptor Format"
As per the discussion [here](https://github.com/spotify/backstage/issues/767) and the implementation [here](https://github.com/spotify/backstage/pull/894) inside `labels` and `annotations` we have a series of key-values where values must be strings.

This is very limiting.

For instance, in the original issue @freben talks of the dangers of not being specific with the roles of the people mentioned

[2020-06-01 07:31] freben commented on #1083
Hi!

## Context

The background for making these strings in the first place, is that that perfectly matches the kubernetes object model. So we follow both the format and, perhaps more importantly, the semantics set in place by that standard, and have been hesitant to stray away from that without good reason.

## Alternatives

These format policies only apply to labels and annotations. The reason i

[2020-06-01 07:37] marcuseide commented on #1044
Let's try mimic the way it looks internally for now and work on final design later on.

[2020-06-01 08:55] stefanalund opened #1089 "Move Edit metadata button"
Add Edit button to ACTIONS section:

![Screenshot 2020-06-01 at 10 44 48](https://user-images.githubusercontent.com/190856/83392609-acd24d80-a3f5-11ea-8784-c6a06072795c.png)

Clicking the edit button should send you to GitHub in "edit" mode for the underlying component `yaml` definition. Example (note `/edit/` in URL):

https://github.com/spotify/backstage/edit/master/plugins/catalog-backend/fixtu

[2020-06-01 09:05] stefanalund opened #1090 "Add sub navigation to catalog"
Add a nav element for every supported component type. For MVP scope, this is:

* Services
* Websites
* Libraries
* Documentation

![Screenshot 2020-06-01 at 11 03 27](https://user-images.githubusercontent.com/190856/83393766-a218b800-a3f7-11ea-8ff7-43adffa459cc.png)

Depends on https://github.com/spotify/backstage/pull/1076

[2020-06-01 11:19] #884 closed

[2020-06-01 11:24] shmidt-i opened #1091 "Unregister component integration with backend"
## Feature Suggestion

Provide user the possibility to unregister an entity from the entity details page.

## Possible Implementation

The trick is that entity can be defined by a file with several other entities, so there should be  intermediate screen-warning with confirmation about affected entities.

Second part of the #986

[2020-06-01 11:28] shmidt-i commented on #989
Fetch from the descriptor's managed-by location if type is `github`

[2020-06-01 11:36] shmidt-i commented on #986
Show the result of registration: error/success. If success - list of registered components with links to their detailed views, if error - keep the error message informative but simple. Need adjustment in the backend, since we don't do addEntity synchronously hence not returning any info about registered entities.

[2020-06-01 12:18] stefanalund commented on #986
@nikek @katz95 I think there is an opportunity to create a list of "successful steps" that have been executed. We could reuse that for this plugin: https://github.com/spotify/backstage/pull/1068#issuecomment-635793614

[2020-06-01 16:03] gilles opened #1098 "[Plugin] Marquez"
## Summary

[Marquez](https://marquezproject.github.io/marquez/) provides an API for data lineage or other data ecosystem's metadata. Would be nice to use backstage as a UI for that

## Context

[Marquez](https://marquezproject.github.io/marquez/) has been marked in ASSESS in ThoughtWorks [tech radar](https://www.thoughtworks.com/radar/platforms?blipid=202005075)

[2020-06-01 22:25] splisson-altair commented on #673
I'm interested working on this.

[2020-06-01 22:48] JordiPolo commented on #1083
Thanks so much for the throughout response.
I was not aware that `metadata` is open to adding more keys. I need to re-read the ADR with more care it may seem.

It is great news as this would open it up for any experimentation different groups may need.
I like your approach of letting people play with the format and only consolidating when there is proven real-world usage.
That said, I am pretty ce

[2020-06-01 22:48] #1083 closed

[2020-06-01 22:51] Rugvip commented on #1083
@JordiPolo If I understand you correctly we have an open issue for the json schema bit! https://github.com/spotify/backstage/issues/843, you up? :grin:

[2020-06-01 23:07] JordiPolo commented on #1083
I do not know enough of Typescript to not do a disaster but a json schema, I can do that. I'll try to get something this week.

[2020-06-02 06:36] freben commented on #1083
Cool! I think we'll have to have a common minimum base structure though, because otherwise entities won't be usable by any other plugin. So maybe you could express one json schema that's similar to the DEFAULT_ENTITY_SCHEMA except `labels` and `annotations` are effectively `Record<string, any>` instead? Then a second level validator (or a subschema that gets passed into the larger schema, if that'

[2020-06-02 08:16] benjdlambert opened #1105 "Implement the CookieCutter Templater"
## Feature Suggestion
- In the Scaffolder, we currrently have the ability to prepare a copy of a local template using the `DiskRepository`

https://github.com/spotify/backstage/blob/master/plugins/scaffolder-backend/src/scaffolder/storage/disk.ts#L57-L69

- We want to be able to add the next step of the Scaffolding flow, running the templater to the workflow.

## Possible Implementation
- We decid

[2020-06-02 08:19] Pajn opened #1106 "Can no longer override public path"
In an older version we did set the `PUBLIC_URL` environment variable when building but after upgrading to alpha.6 it seems like that no longer works. I might have missed another option for it somewhere but from https://github.com/spotify/backstage/blob/9db24c79b80625626df5d09c93f12b083462b451/packages/cli/src/lib/bundler/config.ts#L82 it looks hardcoded.

## Expected Behavior

There should be a wa

[2020-06-02 08:21] benjdlambert opened #1107 "Create a VCS Step for the Scaffolder"
## Feature Suggestion
- Once the Templating step of the scaffolder has been created, we should add a VCS step which is in control of creating the remote Repository and pushing the newly created folder.

## Possible Implementation
- We need a `VCS` Step after the `Templater` has been ran.
- This `VCS` step could have the following interface:
   - `init`: equivalent to `git init && git add . && git

[2020-06-02 08:22] Rugvip commented on #1106
Thanks for reporting! Closing this as a duplicate of #1033, please continue the discussion there.

[2020-06-02 08:22] #1106 closed

[2020-06-02 08:23] Rugvip commented on #1033
Some more details brought up by in #1106

[2020-06-02 08:28] benjdlambert opened #1108 "Implement the Scaffolder Flow"
## Feature Suggestion
- The scaffolder flow is currently implemented in a Mock example here https://github.com/spotify/backstage/blob/master/plugins/scaffolder-backend/src/service/router.ts#L40-L47

- This needs implementing properly.

## Possible Implementation
- A `scaffolder` is created which has 3 steps.
    - `Repository` - where to get the templates from.
    - `Templater` - the chosen templ

[2020-06-02 08:45] #793 closed

[2020-06-02 10:05] Pajn commented on #1033
Sorry for not searching for duplicates first.

It seems like I'm able to workaround this with these two in our pipeline:
[code]

Though I would love a nicer solution :) I'm holding my thumbs that will pass the review as a temporary measure.

As you can see from the replacements, our needs is to set both the `output.publicPath` property in the webpack config and to define an environment variable to

[2020-06-02 18:49] JordiPolo commented on #1083
Questions:
- In the ADR the values of labels and annotations are explicitly said to the strings. Why the change to `any` in the schema? And what are the possible types for `any`?

- Why you think we would need a second more strict schema?

I think ReservedFieldsEntityPolicy is pointing to a problem in the design of the format. It is not only about these particular reserved fields, at any moment a

[2020-06-02 19:44] freben commented on #1083
Oh I was probably being unclear.

I understood there was a need to have a flexible typing for annotation values. That some orgs might choose to put other types of value there, not just strings.

At the same time, I want there to be as much structure as possible, that everybody globally can rely on, so that they can easily parse and semantically understand entities. And the default should still be

[2020-06-03 00:58] JordiPolo commented on #1083
Just to be cristal clear, from the first response my assumption is that the following would be legal:
[code]

Where values for `labels` and `annotations` are strings.
Inside `metadata` I can add whatever else I need, in this case a list of teams involved in this project.

This is Good Enough™ for a beta1 to me, with the caveat of adding keys may conflict with custom keys in the future.
This would

[2020-06-03 06:42] freben commented on #1083
You understood that right! If you are fine with leaving the label/annotation semantics as-is, then by all means go ahead and skip making them flexible. If that ever becomes a strict demand, we can always add that flexibility later.

[2020-06-03 07:48] o0Djeen0o commented on #1033
@Rugvip Just a short question: I'm working for a dev tool which can start on any port number, meaning that I don't know final origin url (`http://localhost:3000`), only the base url where ui will be exposed (`/myApp/...`). Will it be OK to only pass the homepage path, like previously with webpack property ?

[2020-06-03 09:55] stefanalund commented on #673
@splisson-altair excellent! I've assigned it to you. Let us know on [Discord](https://discord.com/invite/EBHEGzX) if you need any help.

[2020-06-03 09:58] littlethoughts commented on #673
I started looking into this, but was held up by CORS policies. Do you want to look at this together @splisson-altair ?

[2020-06-03 10:03] stefanalund commented on #673
I suggest looking at the [CircleCI plugin](https://github.com/spotify/backstage/tree/master/plugins/circleci) as well. @shmidt-i or @Nek can help answer questions about it.

[2020-06-03 10:59] freben commented on #673
Maybe proxying through the backend (`packages/backend` is the example implementation) is applicable here? By making a `plugins/jenkins-backend` that exposes a frontend friendly API.

[2020-06-03 19:58] #1060 closed

[2020-06-03 21:16] german-j-rodriguez commented on #661
Not sure if this is really a good place for the comment, but have you looked into https://github.com/AOEpeople/aoe_technology_radar seems like good piece to integrate

[2020-06-03 22:46] splisson commented on #673
@stefanalund please assign to my personal account instead, thanks

@freben yes that s what I'm wondering. looking into circle-ci plugin it seems the proxying is integrated in the plugin via api. Is that a backend also ? (just not separate?) @shmidt-i @Nek ? I'm thinking of using the same pattern and use jenkins npm package on the server side.

[2020-06-03 22:51] splisson commented on #673
yes. I'm exploring circle-ci plugin to see gif the same pattern can be used for Jenkins. Ping me on discord when available to discuss.

[2020-06-04 07:53] marcuseide opened #1136 "Auth: Fix logout"
`logout()` does not seem to work at the moment.

[2020-06-04 09:10] Rugvip commented on #1033
@o0Djeen0o The origin will likely be needed for auth to work, but I think either just specifying the path or using a dummy origin should make the rest work.

[2020-06-04 09:21] stefanalund commented on #782
What @aexvir and friends are doing might be interesting to look at https://github.com/kiwicom/the-zoo/pull/306

[2020-06-04 11:04] #1136 closed

[2020-06-04 11:54] marcuseide opened #1141 "Auth Backend: Document how to add a passport.js based provider"
Following the newly created `github` provider, document the steps required and how the code is organized and what to think about.

[2020-06-04 13:06] #989 closed

[2020-06-05 06:56] stefanalund opened #1153 "Make DismissibleBanner persistently dismissed"
## Feature Suggestion

Use the new storage API to save the dismissed state permanently, so that the same dialog is not shown more than once.

`import { useApi, storageApiRef } from '@backstage/core';`

## Possible Implementation

Example of usage in https://github.com/spotify/backstage/pull/1143/files#diff-6dba8b9dac99065b066d81e6e8e22a98R17

## Context

Clicking this button currently does not per

[2020-06-05 08:33] benjdlambert commented on #990
Pausing work on this until next sprint.

[2020-06-05 09:07] #986 closed

[2020-06-05 09:24] benjdlambert commented on #1041
Closing as there is currently enough information in the component page until later.

[2020-06-05 09:24] #1041 closed

[2020-06-05 09:50] stefanalund commented on #1044
Fixed in #1140

[2020-06-05 09:50] Rugvip commented on #1044
@stefanalund, not quite, we decided to merge the PR and do the rest in a followup :p

[2020-06-06 11:49] benjaminr commented on #1153
@stefanalund happy to have a go at this one.

[2020-06-06 11:51] stefanalund commented on #1153
@benjaminr great! I’ve assigned you.

[2020-06-06 14:50] #1040 closed

[2020-06-06 14:50] #1090 closed

[2020-06-06 16:23] freben opened #1166 "Remove the old component abstraction in the catalog frontend"
The catalog frontend code converts entities from the catalog api to a legacy "component" form.

Remove that abstraction, and make the frontend code process and render entities raw directly from the API.

[2020-06-06 16:32] freben opened #1167 "Better catalog example entities"
The catalog-backend has two example yaml files that can be imported. They are very minimal and mock-like.

Replace them with one single file that has a believable set of entities, preferably around ten of them. Their names could for example be similar to some system of things inside Spotify, or at least be nicely chosen.

The end result should be that after import, the UI in Backstage is nice to v

[2020-06-06 19:55] stefanalund commented on #1167
Thanks! This is very important. Maybe we even have an empty state with a button that registers these example components. Let’s treat that as a separate issue in any case.

[2020-06-07 09:11] freben opened #1169 "Document the backend architecture"
It's currently not clearly documented how the frontend-backend integrations are meant to look, and what choices there are to make when building plugin backends.

Now that things are solidifying, we should add this documentation, probably copying parts of the internal backend RFC. Make sure that it contains overview diagrams detailing the various possible architectures:

- Frontend calls services d

[2020-06-07 11:55] dtuite commented on #1169
A section on when to use a database would also be great.

In addition to explanations of each of the possible plugin architectures it would be great to understand the pros and cons of each architecture and the reasons a plugin author would choose one of the others.

For example, it seems like the lighthouse plugin has a backend because lighthouse has no internal concept of storing results and view

[2020-06-07 15:09] stefanalund opened #1174 "[RFC] Documentation structure"
## Need

Backstage is currently poorly documented. The existing documentation lacks a clear structure making it hard to get an overview. This RFC outlines a suggested structure for the docs we want to have. It does not propose the actual contents.

## Proposed solution

Suggested TOC:

- What is Backstage?
  - Introduction
  - Main concepts
  - Architecture
- Getting started
  - Installation
  - R

[2020-06-07 15:29] Rugvip commented on #1174
I think the identity, catalog, scaffolding etc. bits could use dedicated docs from the point of view of a plugin author, probably under the plugin section. Things like "Associating Plugin Data with Entities in the Catalog" and "Forwarding the User's Identity to a Backend Plugin". Then we can keep the rest of the docs of those things completely focused on the implementation and extension of those s

[2020-06-07 15:30] stefanalund opened #1175 "Logo click reloads page"
Clicking the logo should not reload page, but instead work as the other navigation elements:

<img width="316" alt="Screenshot 2020-06-07 at 17 27 22" src="https://user-images.githubusercontent.com/190856/83973104-6a70ab00-a8e4-11ea-8d88-a8ee87677dac.png">

[2020-06-07 15:31] dtuite commented on #1174
Also, massive +1 to this idea in general. It honestly took me a few hours of struggling around trying to run the service catalog before I realized there were docs in the `packages/backend/README.md`. The docs are too distributed at the moment (from a user perspective).

[2020-06-07 18:18] stefanalund commented on #1174
@Rugvip @soapraj think it makes sense to have a specific section for Auth?

[2020-06-07 18:29] stefanalund commented on #1174
@dtuite I choose to put these further down in the "Production deployments" section. My thinking is that this step is quite a lot later in the process. The assumption being that one would do that after understanding what Backstage is, and how to build a plugin.

As I'm writing this, however, I'm kind of changing my mind 😄 Even if building plugins is important, I wonder if it's not more important to

[2020-06-07 18:33] dtuite commented on #1174
This is my thinking. Reducing the time to value is key. There's no way I'm going to invest hours into building custom plugins if I haven't yet seen how Backstage can provide value for my organization. I want to start with built-in plugins as quickly as possible, see some early value, then start customizing.

[2020-06-07 18:56] stefanalund opened #1177 "Can't start backend"
I get the following error message when following the instructions in `packages/backend/README`:

[code]

[2020-06-07 19:12] freben commented on #1177
Did you run `yarn tsc` at the root first?

[2020-06-07 19:59] stefanalund commented on #1177
Nope. How would I know? Can’t see any mention of it in the docs https://github.com/spotify/backstage/blob/master/packages/backend/README.md

[2020-06-07 22:26] daviddyball commented on #1169
Will this include swagger docs or similar for call/responses to backends? Currently it's hard to decipher exactly what format the front-end requires from a backend service without understanding the front-end code.

[2020-06-08 07:01] stefanalund commented on #1175
Fixed in https://github.com/spotify/backstage/pull/1178

[2020-06-08 07:01] #1175 closed

[2020-06-08 07:10] #1177 closed

[2020-06-08 08:51] benjdlambert opened #1189 "Scaffolder Create Component Frontend Wizard"
We need a way to be able to create components using the Scaffolder in the frontend.
Parameters needed for the scaffolder should live with the template, and then displayed in the frontend wizard as inputs.

It would be a good to use JSON Forms schema to be able to declare the input variables for each template, and then submit these variables to the backend when creating a new component for scaffold

[2020-06-08 08:53] #791 closed

[2020-06-08 08:53] #292 closed

[2020-06-08 11:14] soapraj opened #1191 "Identity Backend: Static JSON Adaptor"
Have a static json file with users/groups information and serve identity API endpoints

[2020-06-08 11:17] soapraj opened #1192 "Identity Backend: Github Adapter (Stretch)"
Add a GitHub adapter that can read user, teams and org information from GitHub

[2020-06-08 11:36] soapraj commented on #783
- /users/<user>/groups API

[code]

[2020-06-08 11:45] soapraj opened #1193 "Identity Frontend: Integrate with Catalog list page filters"
Catalog list page has filters to see entities that are owned by the current user. Use the new identity API to fetch info about the user and the groups and filter based on that.

[2020-06-08 11:46] #784 closed

[2020-06-08 11:58] soapraj commented on #786
Hardcode google in the userInfo API. Don't enforce login and fallback to a guest user when google login isn't done.

[2020-06-08 12:22] stefanalund opened #1195 "Add missing metadata fields to header"
The catalog entities page should have the following 2 `HeaderLabels`:

* Owner
* Lifecycle

(Not Tier -- that is not yet supported)

![Screenshot 2020-06-08 at 14 19 24](https://user-images.githubusercontent.com/190856/84029710-1e307400-a993-11ea-9852-306013884591.png)

[2020-06-08 13:24] #1033 closed

[2020-06-08 14:27] #105 closed

[2020-06-08 15:22] o0Djeen0o commented on #1033
@Rugvip Thanks for the hard work! When do you think you may test the modifications with a new alpha release? It will be great to test the feature + some other nice additions from previous release.

[2020-06-08 15:30] leemills83 opened #1200 "Add ability to use analytics platforms, like Google analytics within Backstage"
## Context

I want the ability to add and  configure an analytics platform for Backstage, to integrate it with providers such as GA or my own internal setup.

[2020-06-08 15:39] o0Djeen0o opened #1202 "How to handle svg files ?"
Hi,

I'm trying to use a third party library which needs its own css file to be loaded. The css is requiring some svg files. However, svg is right now not supported with current cli webpack configuration:

[code]

This is probably due to transform configuration:
https://github.com/spotify/backstage/blob/master/packages/cli/src/lib/bundler/transforms.ts

which would need the https://webpack.js.org/

[2020-06-08 16:21] benjdlambert commented on #1195
This data can be mocked for now, as the real data is currently blocked on work with the identity and catalog stuff.

Something like the following would be good for now I think..

[code]

[2020-06-08 16:27] stefanalund commented on #1200
Google Analytics is currently not available either.

[2020-06-08 18:17] stefanalund commented on #1153
Closed in https://github.com/spotify/backstage/pull/1168

[2020-06-08 18:17] #1153 closed

[2020-06-08 18:43] stefanalund commented on #1174
@dtuite thank you -- this was really valuable input 🙏

I've update the TOC now. The main change is de-emphasising plugin development docs in favour of promoting what I tentatively call "Features". These would be the out-of-the-box features you get once you successfully installed and deployed Backstage. Let me know what you think! 💯

[2020-06-08 21:12] hpbonfim opened #1204 "Dependency tree graphs of entities relationship (packages/tools/plugins/...)"
I've been working with a lot of tools with amount of dependencies and it's really sucks read all that list when we forget something..

## Feature Suggestion

My suggestion is to do a small graph showing us all entities relationship with a simple fast first look

## Possible Implementation

[Simple relationship image](https://ticpe.files.wordpress.com/2014/12/sistemas-nacionais.jpg)

## Context

An

[2020-06-08 21:50] benjdlambert opened #1205 "RFC: Network Request Mocking with MSW"
# Context
Network request mocking can be a total pain sometimes, in all different types of tests, unit tests to e2e tests always have their own implementation of mocking these requests.
There's been traction in the outer community towards using this library to mock network requests by using an `express` style declaration for routes. `react-testing-library` suggests using this library instead of mo

[2020-06-08 22:25] Rugvip commented on #1205
👍  , looks pretty awesome compared to mocking fetch mocks. [Full example](https://testing-library.com/docs/react-testing-library/example-intro#full-example) looks pretty clean, and ofc it's Dodds approved.

Pilot with some tests for the catalog perhaps?

[2020-06-08 22:36] benjdlambert commented on #1205
@Rugvip interestingly enough I was going to do a comparison with the catalog but there wasn't any tests for the API part so maybe I can give it a go with this and we can see how it looks and behaves!

[2020-06-09 04:32] freben commented on #1205
Please do, this looks great.

[2020-06-09 07:39] #1141 closed

[2020-06-09 08:36] stefanalund commented on #983
@freben we decided to skip the `tags` and `keywords` for now. As such, should we close this ticket track the remaining work somewhere else?

[2020-06-09 08:40] stefanalund opened #1206 "Add missing catalog data to table"
Add real data from backend for:

* System
* Owner
* Lifecycle

Remove:
* Kind

<img width="430" alt="Screenshot 2020-06-09 at 10 38 24" src="https://user-images.githubusercontent.com/190856/84125866-7623b500-aa3d-11ea-9dd7-9e88bca375b9.png">

[2020-06-09 08:48] freben opened #1207 "Update catalog list table columns"
The catalog list table view needs updating.

See [this blog post](https://backstage.io/blog/2020/05/22/phase-2-service-catalog) for inspiration.

- [ ] Remove the "kind" column
- [ ] Add an "owner" column
- [ ] Add a "lifecycle" column

Use mocked data or empty if #983 is not complete, otherwise read from the entity.

I think we will leave the rest for now. I am unsure about the amount of physical

[2020-06-09 08:52] freben opened #1208 "Add catalog empty state with "add example data" button"
Make a nicer empty state of the catalog list view. Add a button in it, that lets the user add some example data (i.e., registering a set of entities from github, in the [catalog backend fixtures](https://github.com/spotify/backstage/tree/master/plugins/catalog-backend/fixtures) directory and refreshing the view). This helps users evaluate the product easily without having to resort to curl command

[2020-06-09 09:26] stefanalund commented on #1207
Duplicate of https://github.com/spotify/backstage/issues/1206

[2020-06-09 09:26] #1207 closed

[2020-06-09 09:30] stefanalund commented on #661
@NWCalvank thanks again for your contributions! If you don't mind, please open issues for the remaining tasks as you see them 🙏

[2020-06-09 13:14] Rugvip commented on #1202
We can most likely just add SVGs to the `url-loader` for now. Internally we have some tooling around icons that allows you to import SVG icons directly as MUI `SvgIcon` components, which is pretty handy, and something we want to bring that into this project. I don't think we'll ever not want to support plain SVGs though, so most likely we'll find some separate convention around icons.

[2020-06-09 14:09] #1089 closed

[2020-06-09 14:58] o0Djeen0o commented on #1033
@Rugvip I've successfully migrated to latest release and everything is working as expected. Thanks !

[2020-06-09 16:22] Rugvip commented on #1204
Adding some tooling for inline plantuml in docs as a part of #1217

[2020-06-09 23:52] benjdlambert opened #1219 "Create a GraphQL service for Backstage"
Let's stand up a simple GraphQL service for GraphQL with something like https://github.com/apollographql/apollo-server and make it the new `packages/backend` for Backstage.

[2020-06-10 00:01] benjdlambert opened #1220 "Add the Catalog API to GraphQL"
We want to be able to add the basic entities to the GraphQL schema. To be able to query, and mutate the things that are stored in the Catalog Service.

We should be able to get all entities from the Catalog, but also create queries to pass in typed filters too.

For this we need to model the entities (which could be considered the root elements) into GraphQL.

Could be something that looks like th

[2020-06-10 01:00] benjdlambert commented on #1205
Put something together in #1221

[2020-06-10 03:11] NWCalvank opened #1222 "Refine Tech Radar Plugin Code Quality & Style"
In [Issue 661](https://github.com/spotify/backstage/issues/661) the Tech Radar component files were updated to use TypeScript & React Hooks.

This transition was done while keeping the code changes to a minimum. As a result, there are a number of code style concerns and somewhat strange typings that have resulted.

The goal of this issue would be to clean those up.

## Feature Suggestion

Review t

[2020-06-10 08:10] #922 closed

[2020-06-10 08:31] Rugvip commented on #801
Fixed by #1217

[2020-06-10 08:31] #801 closed

[2020-06-10 12:47] stefanalund opened #1229 "Auth: bad chars in username"
## Expected Behavior

International characters are not shown correctly immediately after loggin in:

<img width="224" alt="Screenshot 2020-06-10 at 12 41 38" src="https://user-images.githubusercontent.com/190856/84269151-19052d80-ab29-11ea-9b18-a1657de4835d.png">

After reloading the page it works as intended though:

<img width="310" alt="Screenshot 2020-06-10 at 14 44 42" src="https://user-image

[2020-06-10 14:21] benjdlambert opened #1230 "Remove Node Cache in favour of Stale While Revalidate Hooks"
Caching on the frontend is hard, so let's leave some of that to GraphQL further down the line. Let's move in favour to a `stale-while-revalidate` hooks approach that wraps the `catalogApi`

## Feature Suggestion
- Remove `node-cache`
- Implement something that won't cause flicking when clicking around the sidebar filters for the Catalog Table page.

## Possible Implementation
Something like this:

[2020-06-10 17:16] katz95 opened #1232 "Updating new headers"
## 🗒 General
Hi! Would love some help updating the colors of our headers. We've made some adjustments to ensure accessibility. We've also added some additional headers for different components. If you all could update our [header section in Storybook](http://storybook.backstage.io/?path=/story/header--website) too, that would be rad!

![Colors](https://user-images.githubusercontent.com/61153904/84

[2020-06-10 18:04] Rugvip opened #1233 "[RFC] Plugin Developer Journey"
# Purpose

This RFC describes a possible journey of a future Backstage plugin developer as they build a plugin that touches many different aspects of a Backstage. The story invents many new things that are not part of Backstage today, but are things that I'm suggesting we should add as long term or north star goals. The idea is to discuss what parts of the story makes sense to aim for, and what we

[2020-06-10 23:11] murtadha opened #1235 "Add Search bar to easily find components by name"
## Feature Suggestion

We want to be able to search for components by name (and maybe other fields: tags, descriptions, etc).

## Possible Implementation

This can be a simple front end search that does basic string matching on the available components and only shows ones matching the result

It's possible to implement something more complex, with a typeahead and server-side computations, but that

[2020-06-10 23:16] daviddyball opened #1236 "[catalog-backend] Fan-Out/Nested Location Fetching"
## Feature Suggestion

Add support for referencing a `location` which is a list of more `locations` to fetch (with a max-deplth limit for sanity).

e.g. I submit a location like so:
[code]
Inside the `services.yaml` file I'd like to list more locations to fetch from, like so:
[code]

I saw https://github.com/spotify/backstage/issues/1013, but that didn't seem like the same idea, so I wanted to pos

[2020-06-10 23:28] murtadha opened #1237 "Add support for Okta SSO"
## Feature Suggestion

We want to be able to use Okta with Backstage since that's the identity provider backing our SSO.

## Possible Implementation

Looks like there are possible modules available that might facilitate this integration:
https://github.com/techstars/passport-okta-oauth
https://github.com/jaredhanson/passport-openid

[2020-06-11 07:36] #1166 closed

[2020-06-11 08:26] stefanalund commented on #1235
The service catalog table view already have basic Search integrated:

![Screenshot 2020-06-11 at 09 29 42](https://user-images.githubusercontent.com/190856/84357547-202e4900-abc6-11ea-8c8b-b40225d5dd91.png)

We have prepared a placeholder for site wide search in the sidebar:

![Screenshot 2020-06-11 at 09 25 13](https://user-images.githubusercontent.com/190856/84357678-5e2b6d00-abc6-11ea-81b2-ae3c

[2020-06-11 09:07] Rugvip commented on #1233
@nikek Yeah a core schema would be a tricky thing to manage. I'm hinting at some possible rules we could use, for example usage by multiple plugins, and that org-specific fields would preferably be approved by the org.

Regarding the widgets, I was trying to imply that the configuration given by the plugin developer just limits the options for how a widget can be used. Kinda like the Android widge

[2020-06-11 12:47] leemills83 opened #1249 "[docs-like-code] Create Plugin skeleton for docs like code plugin"
# Requirements
* Run create plugin skeleton command from Backstage
* Investigate package name (TechDocs/Backstage)
*

[2020-06-11 12:58] leemills83 opened #1250 "[docs-like-code] Migrate basic version of docs reader"
# Requirements
Move over following items from internal TechDocs
* renderer
* docs layout
* SDK
* sanitiser

[2020-06-11 13:01] leemills83 opened #1251 "[docs-like-code] Create skeleton CLI"
# Requirements

* Create new folder containing a node CLI

[2020-06-11 13:06] leemills83 opened #1252 "[docs-like-code] Review project documentation"
* Review existing docs
         [x] Getting started & Configuration #1601
         [-] Writing docs #1602 (deleted)
         [ ] Build & Publish docs  #1604
         [-] Reading docs #1605 (deleted)
         [-] Contributing  #1606 (deleted)
         [-] Debugging #1607 (deleted)
         [ ] Concepts #1603
         [ ] FAQ #1608
         [ ] creating-and-publishing.md

[2020-06-11 13:09] leemills83 opened #1253 "[docs-like-code] Migrate over mkdocs docker container"
# Requirements

* Migrate and publish basic dockerfile to dockerhub or GitHub registry

[2020-06-11 13:12] leemills83 opened #1254 "[docs-like-code] Create set of example docs"
# Requirements

User of Backstage can see example documentation using the docs-like-code implementation.

**Outstanding Question**

Should the example docs be connected to the service catalogue

[2020-06-11 13:37] #1206 closed

[2020-06-11 13:39] hooloovooo opened #1256 "Working type filters on catalog page"

[2020-06-11 19:03] stefanalund opened #1259 "Bug: GitOps Cluster plugin does not start"
<img width="1440" alt="Screenshot 2020-06-11 at 21 00 48" src="https://user-images.githubusercontent.com/190856/84428412-b1350c80-ac26-11ea-99c8-f2f7912e9553.png">

@chanwit this happens when I click the plugin from the /explore page (on localhost).

[2020-06-11 23:22] #1230 closed

[2020-06-11 23:22] benjdlambert commented on #1230
Fixed in #1260

[2020-06-12 00:58] #249 closed

[2020-06-12 02:07] chanwit commented on #1259
acked.

I'll take a look.
Did you run the gitops-api backend on port 3008?

[2020-06-12 06:16] stefanalund commented on #1259
@chanwit no I did not -- which is most definitely the issue here. But nonetheless the plugin should fail a bit more gracefully 😏

[2020-06-12 06:21] chanwit commented on #1259
@stefanalund yep sure. it should say that it expects the backend to run and probably provides some info how to run it.

I'll work on this fix :-)

[2020-06-12 06:51] #1044 closed

[2020-06-12 07:11] stefanalund commented on #1167
Fixed in #1245

[2020-06-12 07:11] #1167 closed

[2020-06-12 07:22] #1091 closed

[2020-06-12 07:24] stefanalund commented on #1042
@Rugvip @benjdlambert now that https://github.com/spotify/backstage/pull/1171 has landed, how do you think we should proceed with this issue?

[2020-06-12 11:10] benjdlambert commented on #1042
I'm not sure of the next steps, I think it would be to create tickets to implement the new tabs and routing for the tab.

[2020-06-12 14:45] freben commented on #1236
Hi!

We've had on our radar for a while how to most conveniently let people manage a large number of entities. There are a few things we can do.

Firstly, we already support having multiple entities in one file. That can help a bit, but not for the kind of situation you mention.

Then you mention the possibility to have a `kind` of `Location`. I have actually considered that as well and I think th

[2020-06-12 18:04] Rugvip opened #1274 "Publish plugins that should be published"
## Expected Behavior

Plugins that are ready to be used should be available from NPM

## Current Behavior

Some plugins are still marked as private, even though they are ready to use, such as https://github.com/spotify/backstage/blob/master/plugins/sentry/package.json

## Possible Solution

Go through the plugins that are marked as private and check whether they're in shape to be published. No nee

[2020-06-12 19:30] daviddyball commented on #1236
Hi @freben ,

I think I'd personally prefer the ability to load from multiple repositories, mainly because our component definitions will live in the same repositories as the code, so it's easier on the Devs to maintain.

Perhaps, rather than extending the current GitHub location reader, an additional `GithubMultiRepositoryReader` could be created, that way the simpler reader doesn't become overly

[2020-06-12 19:53] freben commented on #1236
Ah right, because you are actually pointing to different repos in your example - sorry.

The good news is that our loaders already have the ability to do recursion. If we add the Location kind, it would work just like your example. Interesting.

[2020-06-12 21:09] freben commented on #1236
@daviddyball This got me fired up so I had to implement it :) See #1276 and check if you think it would work for this use case.

[2020-06-13 10:28] daviddyball commented on #1236
@freben amazing. Just pullsed the branch and tested my use case and it's all working perfectly 👍

[2020-06-13 12:10] benjaminr commented on #1232
Happy to help out on this one. Will look at putting together a PR.

[2020-06-13 13:40] Rugvip commented on #393
@otakarhyps Thanks for having a look! The colors are defined in [packages/core/src/layout/Page/PageThemeProvider.ts](https://github.com/spotify/backstage/blob/master/packages/core/src/layout/Page/PageThemeProvider.ts), and the SVGs themselves are inlined in [packages/core/src/layout/Header/Waves.tsx](https://github.com/spotify/backstage/blob/master/packages/core/src/layout/Header/Waves.tsx).

It's

[2020-06-13 13:42] Rugvip commented on #963
Right now this isn't super easy to pick up or even something we want to do at this point, since we're about to change the backend dev setup a bit. Once that's done it'll be easier to pick this up if anyone wants to though.

[2020-06-13 13:54] benjaminr commented on #393
Sure, @Rugvip, happy to include this work in the same PR.

So you want the inline stopOpacity out of waves.tsx SVG definitions and mixing into the PageThemeProvider gradient specs for the various page header themes?

[2020-06-13 13:59] Rugvip commented on #393
@benjaminr The original goal here was actually to get rid of opacity all together, as it makes re-using the page theme colors a bit weird, and trickier to define your own page themes. I'm not sure if that makes sense with the new design or not. Gonna ask in that issue.

[2020-06-13 14:08] Rugvip commented on #1232
@katz95 it seems like this design increases the number of different colors involved in each page theme, is that correct? Currently we have 2 colors defined, and this seems to increase it to 4.

I think the best case would be if we can stick to 2 colors, and then define the gradients in terms of mixes of those 2 colors, would that be possible? If that's not enough we could also bring in a black or

[2020-06-13 14:25] Rugvip opened #1279 "Support Go remote module import syntax for catalog locations"
## Feature Suggestion

Standardize on supporting the [Golang way of importing remote modules](https://golang.org/doc/code.html#ImportingRemote) for catalog locations.

The syntax is more or less: `<host>/<repo-path>/<file-path>`. For example `github.com/spotify/backstage/app-config.yaml`, where `github.com` is the repo hosting provider, `spotify/backstage` is the repo path, and `app-config.yaml` i

[2020-06-13 20:23] freben commented on #1279
With "standardize", do you mean that this would be the normalized form that we always convert to and store, no matter what form the user used originally?

And maybe I'm reading too much into it, but did you mean to stop with the `type` field entirely and instead deduce it based on the target? Because if so, I'm wondering if it'll really work out when a large number of (even close source custom) ty

[2020-06-13 23:34] Rugvip commented on #1279
Main use-case for this would be to allow it to be entered in manually created Location/LocationRef entities, as the full URLs are a bit tedious to handle. I do think we probably need some normalized form to store too, it's possible that this might be a good candidate. And nah I still think we should have type, but I guess this could be put under a repo/remote/url type or something generic like tha

[2020-06-14 05:04] freben commented on #1279
I think the main way of entering the target value - both in the gui and in files - will be to copy the url from a browser.

[2020-06-14 12:15] Rugvip commented on #1279
Would be about making reading existing files nicer, as well as mixing different types of hosts.

Closing this for now anyway, don't think it's worth adding atm.

[2020-06-14 12:15] #1279 closed

[2020-06-14 20:28] alexef opened #1283 "Support dense table property in Table component"
## Feature Suggestion

The backstage/core Table already supports `padding="dense"`, but when set, it is ignored, the table looks exactly the same.

## Possible Implementation

This might be related to the hardcoded cell styles here: https://github.com/spotify/backstage/blob/master/packages/core/src/components/Table/Table.tsx#L104

## Context

The Table that comes with Backstage is great, but being

[2020-06-15 06:12] stefanalund commented on #1283
Thanks for reporting @alexef

[2020-06-15 07:29] shmidt-i opened #1289 "Backend HMR"
We as developers want backend to have hot-module-replacement enabled for a faster development. More info - https://webpack.js.org/concepts/hot-module-replacement/

[2020-06-15 07:30] stefanalund commented on #409
We are going with the same look and feel as internal:

![1](https://user-images.githubusercontent.com/190856/77178005-c33f5d00-6ac6-11ea-8774-016f3d600a2d.png)

[2020-06-15 07:36] #1236 closed

[2020-06-15 07:36] #992 closed

[2020-06-15 07:36] freben commented on #1236
Hey this is merged now, but note that i simplified the name to just Location instead of LocationRef if you start using it!

[2020-06-15 08:25] benjdlambert commented on #725
Consider how we can add these templates into the Service Catalog as `kind: 'Template'`?

Maybe calling the service catalog here could be a better solution rather than listing from the `scaffolder-backed`

[2020-06-15 08:33] benjdlambert commented on #1108
Store create jobs in memory with an ID that is returned 201 which the endpoint can poll for now, and server side events maybe later on down the line.

Move this job processing outside of the scaffolder-backend somewhere.

[2020-06-15 08:38] benjdlambert commented on #1189
Create a new ticket to copy some of the complex internal field components like `reposelecetion` and. other async data loading.

[2020-06-15 08:43] benjdlambert commented on #1107
pass through the `GITHUB_ACCESS_TOKEN` from the frontend to the last step of the scaffolder for creating the repository in github + adding the `https` remote.

[2020-06-15 08:45] benjdlambert commented on #1105
Use `dockerode` to run `docker` containers over the top of the earlier prepared folder.

[2020-06-15 08:49] benjdlambert opened #1293 "[Template] - Backstage App Template"
## Feature Suggestion
- Be able to scaffold a Backstage App from Backstage

[2020-06-15 08:52] #345 closed

[2020-06-15 08:52] benjdlambert commented on #345
Work is captured in the Scaffolder mileston

[2020-06-15 08:52] #409 closed

[2020-06-15 08:55] benjdlambert opened #1294 "Frontend Flow for Creating a Component from Scaffolder"
## Feature Suggestion
- Make sure Github auth is logged
- The flow for when a component is created
- Sample input for component name
- Poll for creation
- Open in Service Catalog once registered

## Possible Implementation

## Context

[2020-06-15 09:27] stefanalund commented on #1042
Since this seems to be a bigger topic I'm moving it to post Alpha.

[2020-06-15 09:33] stefanalund commented on #374
With very few exceptions, this is what we are doing. Consider this ticket "done".

[2020-06-15 09:33] #374 closed

[2020-06-15 11:41] benjdlambert opened #1298 "Scaffold Component Template List"
## Feature Suggestion

![Screenshot 2020-06-15 at 13 40 49](https://user-images.githubusercontent.com/3645856/84653551-ea62ca80-af0d-11ea-9674-84b9c099be7b.png)

Should be update to look something more like the designs.

- Update the card listings with the new waves/headers defined by component type (Service, Website, etc)
- Render the real life data from the backend rather than stubbed data.

##

[2020-06-15 12:00] benjdlambert opened #1299 "Simple Create Component Wizard for Creating Component"
We want a simple way to enter user variables in a form and be able to start creation of the scaffolder with the entered user variables.

For an MVP, we agreed that we don't need to implement form validation right now, maybe we just have one step in the wizard right now which would be the `componentName` which would then be passed to the

`/v1/jobs` POST request to the `scaffolder` backend.

## Fea

[2020-06-15 12:02] benjdlambert commented on #1294
Closing in favour of #1298 and #1299

[2020-06-15 12:02] #1294 closed

[2020-06-15 12:06] benjdlambert commented on #1108
Part of this work will need to have a new `/v1/job/:jobId` route that will return the events for the created job.

For now this job store can be something as simple as this:

[code]

[2020-06-15 12:30] benjdlambert opened #1301 "Move Template Definitions into the Service Catalog"
We'd like to add a more flexible model to the `template-info.json`, but it's going to be much easier in the long run to create these as definitions in the Service Catalog, as things like `ownerId` and `tags` we could get for free.

## Feature Suggestion
- Move `template-info.json` definitions to the Service Catalog
- Be able to search the the Service Catalog instead for the listing of templates
-

[2020-06-15 12:34] benjdlambert commented on #726
Should this template be in the milestone @stefanalund?

[2020-06-15 12:46] benjdlambert opened #1302 "Test Custom JSON form Components for Scaffolder Wizard"
## Feature Suggestion
- We want to be able to test to see if the open standard of `json-forms` is sufficient for using in the wizard when creating components https://jsonforms.io/.
- Internally, we have many different types of custom elements in the form, mainly the `repo-selection` drop down.
- Would be good if we could try to replicate one of the harder custom elements and components that we hav

[2020-06-15 12:52] lawrencejones commented on #390
Hey all! Thanks for putting so much work into making these concepts clear, it's so key for anyone trying to adopt backstage in their own company.

One thing I'm missing from the concept diagram presented here is the idea of an application environment. We tend to model our applications as services, each of which runs several environments.

I'm not clear how this type of concept works in the backsta

[2020-06-15 13:07] stefanalund commented on #726
@benjdlambert nah, not really needed I think. But since we are targeting micro service management as the first end-2-end use-case, it does still makes sense add a "service" template.

[2020-06-15 14:48] #1259 closed

[2020-06-16 06:07] tkrop commented on #627
@RoyJacobs yes, build time linting is supported by [zally](https://github.com/zalando/zally).

[2020-06-16 07:18] soapraj opened #1310 "GitOps Plugin: Switch to new Github auth impl"
GitOps plugin uses the old Github auth flow where the user provided the github access token in a login popup. The login has been removed and replaced with a new auth flow which is triggered programmatically.

Switch GitOps plugin to use the new auth.

There is one other issue in the cluster detail page where the URL params are not available in the page. This might be due to the recent react-router

[2020-06-16 08:48] RoyJacobs commented on #627
@tkrop Ah, great! We'll finally start a pilot project with Backstage soon and that will definitely be on my list, then :)

[2020-06-16 09:40] #1289 closed

[2020-06-16 11:34] #983 closed

[2020-06-16 11:35] Rugvip commented on #1301
I think `kind: Template` is likely to be a good way to model it. Afaik the main reason it's a component internally is that we didn't have quite as powerful catalog model.

[2020-06-16 11:36] freben commented on #390
The initial limited scope of the catalog (with a focus on Component) has now been merged and settled in documentation, so closing this issue.

[2020-06-16 11:36] #390 closed

[2020-06-16 11:40] benjdlambert commented on #1301
Would `type` be good to hold things like `cookiecutter` then?

[2020-06-16 11:44] freben commented on #390
@lawrencejones Hi! Thanks, keep us updated if there's more we could do to address or document things that you run into.

Regarding your question:

If I understand your situation correctly, that sounds like still just one Component in our parlance. As in, it is one set of source code, consistently owned and maintained by a group of people. The build and deployment strategies are a completely separa

[2020-06-16 11:45] benjdlambert opened #1314 "Update Scaffolder Backend Boilerplate to be latest Boilerplate"
## Feature Suggestion
- Update the Boilerplate for the `scaffolder-backend` to be up to date with the Catalog API

## Possible Implementation
- Look at the Catalog API backend

[2020-06-16 11:45] stefanalund commented on #673
Lot's of companies are interested in a Jenkins plugin. Is there any update on this? Thanks

[2020-06-16 11:53] freben commented on #1301
Agreed for `kind: Template`.

`label` is probably unfortunate since it is so close to `metadata.labels`. Either we make a common (optional) `metadata.title` field next to `description` that we feel that all kinds can make use of, or keep it in the spec as `spec.title`. @Rugvip @nikek maybe it is time for the `metadata.title` field to be instated?

I'm not sure about the value of `type: cookiecutte

[2020-06-16 12:48] shmidt-i opened #1315 "GitHubReaderProcessor cannot process branch names with "/" in them"
https://github.com/spotify/backstage/blob/0ba4cca3c8dbffe95b8877a2bf14c3704afce02c/plugins/catalog-backend/src/ingestion/processors/GithubReaderProcessor.ts#L63-L95

Currently we are just splitting the URL by "/", need more sophisticated way of getting the raw GitHub URL.

[2020-06-16 13:05] #795 closed

[2020-06-16 13:14] benjdlambert opened #1318 "Update the Scaffolder Backend to fetch the Repo from the Service Catalog"
Because of the work completed in #1301, the template definitions live in the Service catalog.

We now need to include support for the `scaffolder` repositories to be able to fetch the location from these service definintions when calling `prepare` so that it will duplicate the local files if they are local definitions.

## Feature Suggestion
- Update the Repository to be able to fetch from the Ser

[2020-06-16 14:15] wesleyyee commented on #1299
@benjdlambert hey were you looking for someone to pick this up? i have some time today if so

[2020-06-16 14:18] splisson commented on #673
Unfortunately I did not get enough time to work much on this. I have some initial code following the circle example. I'll try to push a branch so people can collaborate on this, sounds good?

[2020-06-16 14:35] stefanalund commented on #673
@splisson thanks for the update! Creating a Draft pull request would be awesome 💯

[2020-06-16 14:35] benjdlambert commented on #1299
Hey - yes go ahead!

@katz95 might have some designs for you - haven't pinged her about this yet.

The backend is still up in the air, so maybe just ignore that part for now and just build the step wizard and simple form for now. Hopefully we will either have a mock backend for you to hook it up with or the real thing in the next few days!

But would be good to get this work started on

[2020-06-16 14:40] benjdlambert commented on #1189
Superceeded by #1299. Cloising

[2020-06-16 14:40] #1189 closed

[2020-06-16 14:57] benjdlambert commented on #1301
As discussed in the mob, let's go with `type: cookiecutter` but not require an enum in the template for now so we can always change it in the future if it doesn't meet our requirements.

[2020-06-16 14:58] #1301 closed

[2020-06-16 16:27] benjdlambert commented on #725
Now #1301 is merged, there will be mock templates that are poplulated into the Catalog.

Now we should be able to list these in a nice view.

[2020-06-16 16:30] #1314 closed

[2020-06-16 16:32] benjdlambert opened #1321 "Remove the Template List API from Scaffolder"
Now #1301 is merged, we should be able to query the Catalog for `kind: Template  which would replace the `/v1/templates` endpoint in the Scaffolder.

## Feature Suggestion
- Remove the `/v1/templates` API from the scaffolder as it is now no longer neccessary

The frontend ticket of #725 should be implemented using the `Catalog API` to fetch the data from there instead.

Not sure if there might be

[2020-06-16 17:23] wesleyyee commented on #1298
@benjdlambert should this ticket include the work of adding in a `scaffolderClient`? Otherwise not much to do here esp since we still need the svg assets

[2020-06-16 17:31] benjdlambert commented on #1298
Not part of this ticket, but it comes under #725

Do we not have the SVG assets in Figma for this view. @stefanalund @katz95?

[2020-06-16 17:54] ayshiff commented on #1222
Can I take this one ? 👍

[2020-06-16 18:20] stefanalund commented on #1222
@ayshiff absolutely, assigning you!

[2020-06-16 23:23] ldemailly commented on #343
does it mean this is solved through http://www.passportjs.org/packages/passport-gitlab/ ?

[2020-06-17 06:18] JordiPolo opened #1328 "More flexibility for labels and annotations"
I'm testing the json schema and right away found issues trying to describe my service.

I want to add the customer-facing name because that's what everyone outside engineering will call it:
[code]

But labels do not allow spaces. which makes this whatever way I try to fix it, pretty weird.

Related problem is using `annotations` to link to other stuff in other systems `:` and `/` are not allowed i

[2020-06-17 07:13] JordiPolo opened #1329 "Allow multiple owners for components"
Currently a `kind: Component` needs to specify an `owner` inside `spec`. But this information may depend of who you ask!
Is the owner the lead engineer, the team, the guy paying , the manager.... Depends!

So I propose that:
[code]

Becomes:
[code]

Which now allows:
[code]

The change would not limit the owner keys to the above, it is just an example.

[2020-06-17 07:24] Rugvip commented on #1328
I think any value that needs spaces would really be a non-identifying information, so following the rule in the first section of https://kubernetes.io/docs/concepts/overview/working-with-objects/labels/, it should be an annotation instead.

Afaik annotation values are supposed to be opaque strings that we don't enforce and rules on at all, so if we don't allow `:` or `/` I'd call that a bug.

[2020-06-17 07:30] Rugvip commented on #1329
Good feedback! 👍

For now we've just gone with a simple dumb string as the owner, as we haven't really tied it to any kind of identities yet, and we still need to figure out exactly how we want to do that. I do think we're going to have to extend the schema to allow for different types of owners later on.

In the internal version we do have a rule that some team should be **the** owner of a servic

[2020-06-17 07:33] JordiPolo opened #1330 "Better support for multicomponent"
As per @freben  (if I understood correctly) I'm trying to divide a service which provides both an API and renders an UI.

It is ackward to describe
[code]

Two big issues:
- Note that there are 2 changes and lots of copy paste. This is ever worse because we have in our format links to documetation, information about slack, story board, etc. All that needs to be copy/pasted as belongs to both.

- W

[2020-06-17 07:35] JordiPolo commented on #1328
My bad, I've reread the document, the annotation values has no restrictions, will fix the json schema!

[2020-06-17 07:36] JordiPolo commented on #1328
I think I'm closing this as I can use annotations for all the things

[2020-06-17 07:36] #1328 closed

[2020-06-17 07:57] #1298 closed

[2020-06-17 08:13] stefanalund commented on #343
@ldemailly GitLab is not solved yet, but we have indeed built our auth around Passport. Hopefully it should be easy enough to add new auth providers by following the existing Google and GitHub auth examples that we have implemented.

Some documentation can be found here: https://github.com/spotify/backstage/tree/master/docs/auth

Let us know if you would be interested in giving GitLab auth a go 😄

[2020-06-17 08:24] stefanalund opened #1332 "CircleCI plugin broken"
The plugin does not render correctly:

![Screenshot 2020-06-17 at 10 23 12](https://user-images.githubusercontent.com/190856/84874248-a0502500-b084-11ea-9a2b-9f857584ddcb.png)

https://github.com/spotify/backstage/tree/master/plugins/circleci

[2020-06-17 09:00] soapraj commented on #783
- given a username, get all the groups that the user belongs to in the org hierarchy.

`/identity/users/:user/groups`

e.g: `/identity/users/kent/groups`

[code]
- the endpoint can take a `type` param that can filter the results

`/identity/users/:user/groups?type=[type]`

e.g: `/identity/users/kent/groups?type=team`

[code]

[2020-06-17 09:19] littlethoughts commented on #673
It seems that a lot of plugins will need to have a proxy backend and different kinds of authorization. Jenkins uses basic auth for example.
Are there any plans to have a generic proxy backend that can be used by all "frontend" plugins?
Otherwise it would be necessary to duplicate something like @freben wrote in the sentry-backend plugin.
Same question for authorization, is there a generic way to s

[2020-06-17 09:43] #786 closed

[2020-06-17 10:04] stefanalund commented on #1256
This was only partially done.

[2020-06-17 10:23] Rugvip commented on #673
@littlethoughts we haven't properly started exploring proxying in the backend yet, but it's something that's been discussed quite a bit and we have a couple of ideas. We most likely want to allow for a couple of different models depending on how much logic there needs to be around managing identities and access in the proxy layer. Most likely we'd also provide some utilities for the most common pr

[2020-06-17 10:35] abhimanyunagrath opened #1335 "Not able to add Plugin"
Hi ,
I am trying to add a plugin sentry to my app.
Command : yarn add @backstage/plugin-sentry
and getting the below-mentioned error :
[code]

Please help me to fix this.
Node version: 12.14.0

[2020-06-17 10:36] Rugvip commented on #1335
Related to #1274, the sentry plugin isn't published right now, but it most likely should be

[2020-06-17 11:29] benjdlambert commented on #1332
This is to do with the `react-router-v6` upgrade.

[code]

[2020-06-17 14:03] #1274 closed

[2020-06-17 19:25] shmidt-i commented on #1318
Should we make this ticket only for `file` type and create another one for the `github`?

[2020-06-17 19:38] stefanalund opened #1356 "Show signed in user's name"
## Feature Suggestion

Replace the "friend" with the signed in user's (first) name or "guest" if the user is not signed in.

![Screenshot 2020-06-17 at 21 35 54](https://user-images.githubusercontent.com/190856/84942079-9c52f000-b0e2-11ea-95cd-f05df8ea8881.png)

## Possible Implementation

Use the new Auth API. Perhaps @Rugvip or @soapraj can point to docs/reference?

## Context

Backstage should

[2020-06-17 20:54] Nek commented on #1193
Covered by https://github.com/spotify/backstage/pull/1349

[2020-06-17 20:57] Nek commented on #1256
@hooloovooo we have to sync. My PR partially covers this one and also has some design choices that can conflict with your ones. https://github.com/spotify/backstage/pull/1349

[2020-06-18 08:14] freben commented on #1335
Hey, would you like to try this again? We published the packages yesterday and you should be able to add them now.

[2020-06-18 08:23] lawrencejones commented on #390
That all makes a lot of sense @freben. Still trying to understand how to model our systems in this language- thank you for your clear explanation!

[2020-06-18 09:55] #1191 closed

[2020-06-18 09:55] #783 closed

[2020-06-18 11:43] benjdlambert commented on #1318
Yeah maybe that makes sense. Will put up the PR for the file stuff now then.

[2020-06-18 11:53] benjdlambert opened #1370 "Implement the Github Preparer for the Scaffolder"
Because of the work completed in #1318, the scaffolder can now understand entities which are loaded with a file.

We now want the ability to do the same thing for Github remote repositories, and be able to clone the repository with an `ACCESS_TOKEN` and create the temporary directory with the contents of that repository and path filter.

### Feature Suggestion
- Implement a `preparer` for the Gith

[2020-06-18 12:59] Rugvip opened #1372 "Refactor Auth popup window messaging to conform to Draft RFC"
There's a draft RFC that describes various flows for auth via a popup window, similar to what we're doing. https://tools.ietf.org/html/draft-sakimura-oauth-wmrm-00

Even though it's only a draft, I think it makes sense to implement what it suggests. The main and possibly only things we want to do is to use the same format for the `postMessage` response, using `{type: 'authorization_response', resp

[2020-06-18 19:42] Rugvip opened #1374 "Docker build for backend"
We have a yarn script for bundling the frontend into a docker container, and we should have one for the example backend as well.

We need to figure out how to depend on the local backend packages, and ideally only install runtime node dependencies for the backend, avoiding CLI deps etc.

[2020-06-18 21:24] timurista commented on #1374
@Rugvip thanks for tracking this.

[2020-06-19 13:07] ayshiff opened #1376 "Remove React.FC from codebase"
## Feature Suggestion

We should remove `React.FC` from the codebase.
It was removed from the TypeScript template of **create-react-app** to avoid inciting to use it.
More details in the GitHub issue: https://github.com/facebook/create-react-app/pull/8177/

In particular:

- `children` props implicitly added, even when we don't want it
- No support for Generic Type

## Possible Implementation

![c

[2020-06-19 13:11] Rugvip commented on #1376
Thank you for highlighting this! I think it would make a good ADR too

[2020-06-19 18:51] daniel-j-davis commented on #1356
I'd like to take this on, @stefanalund. Any documentation or somewhere I can reference the auth API? I'll dig through the source in the meantime.

[2020-06-19 19:24] daniel-j-davis commented on #1315
@shmidt-i I'm interested in this issue. I'm wondering whether or not it's just as simple as using two calls to `.replace` on the string, something like this...

``const githubUrl = 'https://github.com/a/b/blob/master/c.yaml';``
``const rawUrl = githubUrl.replace('/blob/', '/').replace('//github.com/', '//raw.githubusercontent.com/');``

seems to output the correct URL (`https://raw.githubuserconte

[2020-06-19 20:44] freben commented on #1315
What if the branch name is `blob/blob`? ;) I think some form of a robust regex may work here.

[2020-06-19 20:47] Rugvip commented on #1315
It also becomes a bit of a non-issue once we start using the API for fetching yamls instead. It's the method that GitHub recommends, but requires authentication.

[2020-06-19 20:49] daniel-j-davis commented on #1315
From memory, `.replace` only replaces the first instance of the string, and the branch will always come after the `/blob/` that we intend to remove, right? You're right, though, @freben - regex is probably a better approach.

[2020-06-19 20:55] Rugvip commented on #1315
Should be fine to replace first `/blob/` though I think, unless you're an org called `blob`

[2020-06-19 21:19] daniel-j-davis commented on #1315
Yeah, I guess the `.replace` solution would fall over if the organisation or repository name was `blob`, probably an edge case but good to account for those things. I'll play around with regex and see if there's a more robust solution.

[2020-06-19 22:30] daniel-j-davis commented on #1315
Interestingly, it seems like the `blob` that we want to delete will always be between the 5th and the 6th instance of `/` from what I understand. I don't think organisations or repositories can have a `/` in them,  and the branch name will come after that, so maybe it's actually fine to split by `/` (like it currently does), delete the 5th item in the array and then join everything back together b

[2020-06-20 11:31] shmidt-i opened #1378 "Typescript is super slow"
After recent changes in build processes/also maybe due to new libs and type definitions being pulled in, typescript performance during development became really bad, it takes like 5-10 seconds for typescript to catch on changes.

This needs more investigation ;)

[2020-06-20 11:45] Rugvip commented on #1378
How are you measuring? `yarn tsc` is still ~20s for clean and ~6s for incremental, which is fine. Changes in VSCode are also within a few seconds. Do you have a long running VSCode typescript server that might still have old setups loaded by any chance?

[2020-06-20 11:56] daniel-j-davis commented on #1315
I've been toying with a solution this morning, and this seems to be pretty reliable...

[code]

I tried it with a regular URL, `blob` as the organisation and/or repository name, and `blob/blob` as the branch name and it still seems to output the intended URL. I can put in a PR, but want to make sure I'm not missing anything with this fix.

[2020-06-21 18:10] stefanalund commented on #1356
@daniel-j-davis awesome, I'm assigning you then. The existing auth docs can be found here: https://github.com/spotify/backstage/tree/master/docs/auth

[2020-06-21 18:27] Rugvip commented on #1356
We don't have a display name or anything like that quite yet btw, so probably best to use the userId from the [IdentityApi](https://github.com/spotify/backstage/blob/master/packages/core-api/src/apis/definitions/IdentityApi.ts) for now.

[2020-06-21 18:42] daniel-j-davis commented on #1356
OK, cool. I spent some time looking through the source and familiarizing myself with everything, but ran into an issue logging in locally and haven't had the time to look into it yet. I'm guessing it's probably because I need to set a client id and secret for local auth, but going to look into that soon and start on this issue. Should be fairly straight forward once I get my local environment set

[2020-06-21 18:47] Rugvip commented on #1356
Yep, if you wanna try out Google auth already, you'll have to set up an OAuth app in GCP. Although tbh using the guest or custom login options for development is gonna work just fine too. Once you're in the app they're functionally identical.

[2020-06-21 18:50] daniel-j-davis commented on #1356
Yeah, I just figured out that it's fine to use `Custom User` and plug my own user id in to test, thanks! Is it by design that `hasIdentity` is true, even if the user is logged in as a guest? I'm wondering whether or not it's fine to just always show whatever `getUserId()` returns because that seems to return `guest` when they're a guest, which is what the string should say for those who don't actu

[2020-06-21 18:56] Rugvip commented on #1356
Yeah `hasIdentity` is just an internal flag that keeps track of whether the sign-in is complete, so even guest counts as an identity in that sense. And yeah using `getUserId()` would be what we want right now. 👍

[2020-06-21 19:36] shmidt-i commented on #1332
Fixed by #1384

[2020-06-21 19:36] #1332 closed

[2020-06-21 20:41] shmidt-i commented on #1378
Yes, I mean the VSCode changes being understood by typescript in ridiculous amount of time. It's definitely not only me, we had it several times during mob sessions, but recently I started to feel it even when I'm doing solo dev.

[2020-06-21 20:42] shmidt-i commented on #1378
Maybe, was thinking on digging more into the problem and created this ticket just to not forget ;)

[2020-06-21 22:27] daniel-j-davis commented on #1315
@Rugvip raised a good point in my PR that I didn't realise (took the issue at face value and went straight into 'fixing'), is there actually an issue with branch names that contain a `/`, @shmidt-i? I ran the existing code against a branch called `master/blob/blob/master` and it worked fine.

[2020-06-22 07:50] #1193 closed

[2020-06-22 08:53] marcuseide opened #1395 "Identity: Use identityApi in the sidebar for the profile information"
Make use of the identityApi to get profile information about the signed in user.

[2020-06-22 08:54] marcuseide opened #1396 "Identity: Add profile to the identityApi for the backend"

[2020-06-22 08:55] marcuseide opened #1397 "Auth: Standardize profile format in auth backend"

[2020-06-22 09:01] marcuseide opened #1398 "Catalog: Change the theme of the header based on component type"
Also the title.

[2020-06-22 09:03] daniel-j-davis commented on #1229
Is it possible that this is some browser-specific issue, @stefanalund? I was looking into this briefly last night but was having trouble reproducing.

I'm running:
[code]

[2020-06-22 09:05] marcuseide opened #1399 "Identity: Display a few services owned by "guest""

[2020-06-22 09:11] benjdlambert commented on #1370
#1377

[2020-06-22 09:44] shmidt-i commented on #1315
It seems like this wasn't a problem! We had something during the mob session and thought this was an issue, hence the ticket. Could be good though to maybe add tests to cover all of the cases discovered in this discussion?
Sorry for the confusion @daniel-j-davis  ;-)

[2020-06-22 11:36] daviddyball opened #1400 "[catalog] Configurable Field Filters"
## Feature Suggestion

Make it possible to configure arbitrary `CatalogFilter`s via the shared backend config. This would be particularly useful for filtering by team (not just the team you are part of)

## Possible Implementation

In `app-config.yaml` have something like:
[code]

I was going to comment on https://github.com/spotify/backstage/issues/1220, but I wasn't 100% certain that the two wer

[2020-06-22 11:36] Rugvip opened #1401 "[RFC] Catalog Organizational Data"
# Context

We currently don't have any real model for identities or organizational data within Backstage. We're allowing login via various identity providers and can access those identities in the frontend, but there's nothing tying these identities to ownership in the catalog, or additional metadata. The idea is that an organization using Backstage should be able to bring in this data from an exi

[2020-06-22 12:04] #1249 closed

[2020-06-22 12:18] freben commented on #1401
Initial thoughts:

The `identities` field sounds a lot like what selector labels are for, and they could be nicely namespaced and semantic.

[code]

Like I mentioned in a different discussion, I find it an interesting idea to autogenerate things like this FROM the spec, where possible. But that's going a bit farther.

Regarding User `spec.groups` Group `spec.members`, one may want to supply both t

[2020-06-22 12:36] Rugvip commented on #1401
@freben yeah I like the labels better for identities, let's go with that imo. Although tbh maybe it should be annotations? That we way don't hit any trouble with allowed characters in the value, and we're not really looking to group together "all users with `github.com/login: john`" anyway.

About the recursive relationships, I think that should be included indeed, and that's the idea of ancestors

[2020-06-22 13:25] #1356 closed

[2020-06-22 13:46] marcuseide commented on #1335
Closing this, please let us know or re-open if you still see the issue.

[2020-06-22 13:46] #1335 closed

[2020-06-22 13:50] marcuseide commented on #1400
@daviddyball Hey and thanks for the issue! We currently don't have any plans on implementing this right now.
We are always open for contributions if you feel that this is something you'd want to add? If not we might revisit in the future.

[2020-06-22 13:52] daviddyball commented on #1400
@marcuseide OK cool. I haven't written any TypeScript before and have zero experience with GraphQL.... but there's no time like the present to learn.

Do you have any pointers on an implementation approach? Is GraphQL something worth diving into for this, or would it just be easier to do in TypeScript with the config object?

[2020-06-22 14:18] freben commented on #1400
Hey!

So since the config is central to the Backstage deployment, is this for a use case where all/many users in an org have a recurring common need to select a certain filter? And in this case, for ownership by some other central team than their own? E.g. that it's very common to want to filter by e.g. "owned by infra-core@example.com" or so.

warning: solution-mode loosely-weaved ideas follow be

[2020-06-22 14:43] stefanalund opened #1408 "Library component missing in UI"
After registering this [example component](https://github.com/spotify/backstage/blob/master/plugins/catalog-backend/examples/playback-lib-component.yaml) with `type: library` it should appear under LIBRARIES in the catalog. It does not:

<img width="924" alt="Screenshot 2020-06-22 at 16 40 34" src="https://user-images.githubusercontent.com/190856/85300761-42b64100-b4a7-11ea-90ec-3a735a3dc2e4.png">

[2020-06-22 14:50] #1318 closed

[2020-06-22 16:22] Rugvip commented on #1376
Just clarifying that we want to go with this, and if someone wants to submit an ADR for it before we get around to it, that's fine too :grin:

[2020-06-22 16:44] Niraj-Fonseka commented on #1374
Do you guys have any update on this ? Is this something that's being prioritized right now ? We have been trying to dockerize it ourselves but running into some issues. Thanks !

[2020-06-22 17:19] timurista commented on #1374
@Niraj-Fonseka do you have a public repo to track your issues?

[2020-06-22 18:17] tudi2d commented on #1408
Hello @stefanalund - Just found out about backstage, really love the idea and I want to get started contributing by fixing this bug. Let me know if that is ok :)

[2020-06-22 18:39] #1251 closed

[2020-06-22 19:32] stefanalund commented on #1398
Fixed in https://github.com/spotify/backstage/pull/1409

[2020-06-22 19:32] #1398 closed

[2020-06-22 19:36] stefanalund commented on #1408
@tudi2d nice to hear, welcome to the Backstage community! This bug was "unfortunately" fixed in https://github.com/spotify/backstage/pull/1409 -- but maybe you can find another good first issue to get started with?

https://github.com/spotify/backstage/labels/good%20first%20issue

[2020-06-22 19:36] #1408 closed

[2020-06-22 22:07] kenrose commented on #690
Related: [Atlantis](https://www.runatlantis.io/) can do this as part of CI.  Maybe worthwhile thinking of this as an Atlantis plugin.

[2020-06-23 07:39] #1370 closed

[2020-06-23 07:48] Nek opened #1411 "Upgrade @testing-library/react to the latest version"
The existing plugins and a plugin template use the previous version of the library. It makes it hard to find the relevant documentation.

Upgrade to the latest version of the library. Make sure all the tests are working. Make sure the plugin scaffolding works fine.

[2020-06-23 09:38] #1253 closed

[2020-06-23 12:04] #766 closed

[2020-06-23 12:04] #1202 closed

[2020-06-23 13:07] nspirrello commented on #1237
I can work on this if it's still available

[2020-06-23 16:06] benjdlambert opened #1421 "Use the type property from the Template definition to pick the Templater"
## Feature Suggestion
- Similar to how the `Preparers` work, we should have a collection of `templaters` that are available and loaded into the system.
- We should then parse the `type` from the `template.yaml` and pick the `Templater` that has registered it's ability to process this sort of template.
- Throw an error if the `Templater` is not available.

## Possible Implementation
[code]

[2020-06-23 20:36] Rugvip opened #1427 "Use packaged packages for e2e tests"
## Expected Behavior

E2E tests should detect breakages in the way packages are consumed by users from NPM.

## Current Behavior

Packages can break in various ways that are not detected by E2E tests, e.g. #1424, #1426

## Possible Solution

Prepare packages using `yarn pack` instead of using local file references.

## Context

#1424
#1426

[2020-06-24 08:08] #1195 closed

[2020-06-24 08:40] #1372 closed

[2020-06-24 08:40] #1396 closed

[2020-06-24 08:40] #1397 closed

[2020-06-24 08:40] #1395 closed

[2020-06-24 08:43] stefanalund commented on #1237
Thanks @nspirrello -- assigned you! 💯

[2020-06-24 10:04] #1399 closed

[2020-06-24 10:54] Rugvip opened #1435 "Make backend-common provide middleware for verifying Backstage ID Tokens"
## Feature Suggestion

Export a BackstageIdentity middleware from `backend-common` that allows verification of Backstage ID Tokens passed from the frontend or other services.

## Possible Implementation

We need to grab the public keys published by `/auth/.well-known/jwks.json` and use those for verification. Hopefully we can rely on existing packages for the entire flow, or we can implement the k

[2020-06-24 13:05] daviddyball opened #1439 "[Scaffolder] Define Scope of the Project"
## Feature Suggestion

What is the scope of the `plugins/scaffolder` and `plugins/scaffolder-backend` projects? In it's most basic form I can assume that it will create a codebase, create a github repo and commit the code... but what about ancillary tasks? How are these implemented in the scaffolder flow?

I'm trying to guage whether or not I need to write my own scaffolder/scaffolder-backend for

[2020-06-24 15:04] marcuseide opened #1440 "Create a proxy"
## Feature Suggestion

Create a `proxy-backend` or similar that allows the frontend to make HTTP API calls to a backend without having to worry about CORS or SSL(?).

## Possible Implementation

A proxy which reads config from `app-config.yaml`. The config would probably be keyed on service and endpoint.

Something like:
[code]

Possibly use [express-http-proxy](https://www.npmjs.com/package/expre

[2020-06-24 15:11] dufcrule opened #1441 "Repeated section in the FAQ"
The answer to the questions "What is a "plugin" in Backstage?" and "Which plugin is used the most at Spotify?" is exactly the same.

- https://github.com/spotify/backstage/blob/master/docs/FAQ.md#what-is-a-plugin-in-backstage

- https://github.com/spotify/backstage/blob/master/docs/FAQ.md#which-plugin-is-used-the-most-at-spotify

It appears the error is with the first answer: "What is a "plugin" i

[2020-06-24 16:38] EXPErdelfavero commented on #1174
Connecting my work Github identity with my Discord comments earlier today. I'm "DelfCo" over there.

Reading the discussion here, I think you're going the right way by walking us through the built-in features before you walk us through building a plugin. I'm a tech writer, been doing Docs as Code for the last 5-6 years, and I'm keenly interested in seeing how `techdocs` works. Am I correct in unde

[2020-06-24 20:26] stefanalund commented on #1441
Fixed in https://github.com/spotify/backstage/pull/1443

[2020-06-24 20:26] #1441 closed

[2020-06-25 02:52] #1105 closed

[2020-06-25 08:24] katz95 commented on #1232
hmm, @Rugvip, the gradients are one color (just at different opacities), and the backgrounds are either one color or two colors combined into a gradient. if necessary, i can make the background into just one solid color!

[2020-06-25 09:18] #1250 closed

[2020-06-25 09:30] marcuseide commented on #1283
@ ellieseastream want to pick this up as a good first issue?

[2020-06-25 12:47] nspirrello commented on #1237
#1455 PR for this feature

[2020-06-25 13:13] #1315 closed

[2020-06-25 13:19] Rugvip commented on #1411
Fixed in #1445

[2020-06-25 13:19] #1411 closed

[2020-06-25 18:09] Rugvip opened #1459 "Windows CLI builds very flaky"
## Expected Behavior

The GitHub action `CLI Test Windows` fails when it should

## Current Behavior

It frequently fails with the following error, even for trivial, e.g. README changes:

[code]
## Possible Solution

???

## Steps to Reproduce

Trigger a CLI build by making a change to the CLI package

## Context

https://github.com/spotify/backstage/runs/798389403?check_suite_focus=true
https://g

[2020-06-25 18:44] shmidt-i commented on #1459
https://github.com/dhis2/notes/issues/29 - can be of help?

[2020-06-25 19:19] Rugvip commented on #1459
Let's hope so :grin: https://github.com/spotify/backstage/pull/1462

[2020-06-25 20:04] #1459 closed

[2020-06-25 20:20] bresmith-wayfair opened #1463 "yarn tsc failing on newly generated app"
## Expected Behavior

`backstage-cli create-app` should generate a new instance of the Backstage app

## Current Behavior

`yarn tsc` fails with the following error:
[code]

[2020-06-26 03:00] brucek9 commented on #1174
@stefanalund I also think that Release versions should be included in this docs, as well as known issues with Backstage?

With features, does it mean that it is out-of-the-box things which the organization can start to use, develop on top of it right away after deploying Backstage?

[2020-06-26 08:51] #725 closed

[2020-06-26 09:03] stefanalund commented on #1174
@EXPErdelfavero yes, we are consider TechDocs as being a core feature of Backstage (even if it is built as a plugin).

@brucek9 I think we will keep using https://github.com/spotify/backstage/releases for releases, but link to it from our docs.

Yes, exactly.

[2020-06-26 09:07] stefanalund commented on #1439
@benjaminr can you help answer this?

[2020-06-26 09:45] Rugvip commented on #1237
Fixed by #1455!

[2020-06-26 09:45] #1237 closed

[2020-06-26 10:34] #1374 closed

[2020-06-26 11:32] benjdlambert commented on #1439
Yep - So I think we mentioned this on Discord, but it would be good to document this down here too.

[2020-06-26 11:34] daviddyball commented on #1439
Yes, we had a good chat on Discord about what is/isn't in the MVP for scaffold... it might be helpful to have docs for others to understand how it will all be pieced together.

[2020-06-26 11:35] benjdlambert commented on #1439
We're hoping to have a very basic scaffolding flow done for the end of this week.

Which means that you can define a template in the Service Catalog, currently we've only written a `templater` which supports `cookiecutter`, but contributions are welcome for other templaters, like yeoman or velocity or something.

It will go grab the template, either from `disk` or `github` repo, run the `templater

[2020-06-26 11:38] benjdlambert commented on #1439
@daviddyball, yep +1 on docs, once we have a simple MVP together, I will write documentation about how to build templates and add them to the service catalog, and how the scaffolder works and what it supports.

Then i'd love to work with you to maybe abstract away further some of the things we've added if it's not generic enough for some of your use cases.

[2020-06-26 12:11] stefanalund commented on #627
@freben @Rugvip @mbruggmann now that the [service description file format](https://github.com/spotify/backstage/blob/master/docs/architecture-decisions/adr002-default-catalog-file-format.md#format) is defined, could you provide an example (in this issue) for how you would link up a OpenAPI spec yaml file with the component?

For everyone else in this thread: would you be willing to take on buildin

[2020-06-26 12:21] stefanalund opened #1471 "Add Starring on entity pages as well"
## Feature Suggestion

It should be possible to Star/Favourite a component from the entity page as well.

Mockup:

![Screenshot 2020-06-26 at 14 14 03](https://user-images.githubusercontent.com/190856/85856091-9f6f6f80-b7b7-11ea-9e73-2adfbc5f78ad.png)

## Possible Implementation

As suggested by @freben -- at this point it is probably a good idea to create a separate Favourite react component that

[2020-06-26 12:43] Rugvip commented on #627
@freben @mbruggmann, what do you think about starting out simple with `backstage.io/api-url` + `backstage.io/api-type` annotations or something similar? I'm thinking local API descriptions might make sense for individual services anyway, even with a separate `Api` kind that are attached to systems

[2020-06-26 13:09] tudi2d commented on #1471
Hello @stefanalund . This looks like a fun first issue. I would like to work on it! 👍

[2020-06-26 13:14] mbruggmann commented on #627
@Rugvip Yeah, starting with just having the type and url sounds good. Though I would probably have gone with a separate kind, and then link them to components through the name. Eg this:
[code]
Mostly because I consider the Component to API relationship many-to-many.

[2020-06-26 13:20] Rugvip opened #1472 "[Plugin] GitHub Actions"
## Summary

A new plugin for [GitHub Action](https://github.com/features/actions) that is similar to the Circle CI plugin. We likely start out showing the status of builds that are triggered for the master branch and PRs.

Inspiration from the existing Circle CI plugin:

![screenshot-1](https://user-images.githubusercontent.com/5012901/81381716-70207880-910d-11ea-88cb-513f0ba7940b.png)
![screensho

[2020-06-26 13:25] Rugvip commented on #627
@mbruggmann Yep, agree that we should go with the from the beginning if it doesn't snowball into a bunch of other work and problem solving.

[2020-06-26 13:35] stefanalund commented on #1471
@tudi2d perfect, I have Assigned you 🙇

[2020-06-26 13:55] daviddyball commented on #1439
Excellent 👍 I'll give the MVP branch a test with some basic use-cases and I'd love to work further on the other things we discussed on Discord.

To save anyone having to dive through Discord history:
* Perhaps implement a concept around a "runner" that allows implementing more complex workflows for scaffolding a service
* Perhaps implement runners for Kubernetes, Tekton, Jenkins, CircleCI etc. (in

[2020-06-26 14:25] freben commented on #627
The only remaining question then is, how does this Api kind entity enter the catalog? It would probably not be convenient to have to specify it in its entirety, if the ingestor can find files that are next to the entity file (or pointed to, by relative path, by the entity file).

[2020-06-27 22:00] benjdlambert commented on #1439
@daviddyball - we've made things a little more flexible when creating scaffolding flows.

The latest work defined process of each job based on the entity, so If you wanted to add some more things that suit your purpose I think this leaves the door open to do that pretty easily.

Basically each job is created with a series of stages, or labels with functions. And then the `processor` will just run

[2020-06-28 02:34] Adamseyer commented on #1401
What about the concept of multitenancy? There are use cases in which groups alone would make that problematic.

[2020-06-28 08:39] Rugvip commented on #1401
@Adamseyer do you mean a single catalog instance serving multiple orgs, or something else? Wanna give an example? 😁

[2020-06-28 13:31] Adamseyer commented on #1401
An engineering organization supports a large application that is partnered with two Joint Ventures.  Squad A would contain 15 services.  A subset of 3 of those services would be for JV "Abbot", 2 for JV "Costello".   Squad B would have 6 Services, 1 for Abbot and 3 for Costello.  When looking at a squad level view,  the list of services available what depend on what JV (if any) a user are a part.

[2020-06-28 19:45] freben commented on #1401
At this point in time, the open source Backstage works similarly to the one we have internally. It's a system that is consumed by internal people (employees and consultants) only, and by all alike - we do not hide anything, but you may not have the permission to make any changes or other destructive operations to things that you do not own. For us specifically, this openness has had immense positi

[2020-06-28 20:12] dtuite commented on #1401
*Questions*

Apologies if some of these are answered in the first comment. I did read it I promise! :-)

 1. I presume `metadata.name: john` here would need to be globally unique for the set of `User` items?
 2. I don't understand the benefit of having a bidirectional link between `User` and `Group`. If I have two users, mary and peter, and they are both in the `doe-squad` group, specified by thei

[2020-06-28 21:07] freben commented on #1401
Hey, great questions!

Before I respond to your individual points, I want to mention that the catalog, from the point of view of its consumers such as the Backstage frontend, is just an entity format contract and a set of RESTish API endpoints to interact with them. The backend is free to fulfill this contract in any way it needs to. The project currently comes with ONE possible such implementatio

[2020-06-29 07:38] Adamseyer commented on #1401
In our scenario, our DevTools organization is a separate entity, even from the main company.

[2020-06-29 07:39] Adamseyer commented on #1401
In our scenario, our DevTools organization is a separate entity, even from the main company.

Main Company: Alpha
JV 1: Bravo
JV 2: Charlie

[2020-06-29 07:53] freben commented on #1256
Closed by #1476, #1407

[2020-06-29 07:53] #1256 closed

[2020-06-29 08:17] mikerhyssmith opened #1482 "SCSS/SASS no longer working"
In previous versions (alpha.5) specifically, I was able to import SCSS files into my components as long as I installed node-sass or sass into that plugin, this doesnt seem to be working anymore in the latest (alpha.12) version.

## Expected Behavior

SCSS files should compile correctly

## Current Behavior

Adding a scss file and importing into a component gives the following error:

[code]

## Po

[2020-06-29 08:27] mikerhyssmith commented on #1482
To add to this, if I run `yarn build` in the plugin that uses scss, it builds correctly. This only happens when running from the root.

[2020-06-29 11:37] orlade-anz opened #1485 "Crazy CPU usage while idling on MacBook Pro"
## Expected Behavior

~0% CPU at idle.

## Current Behavior

~440% CPU at idle.

## Steps to Reproduce

[code]
Open activity monitor

## Context

![image](https://user-images.githubusercontent.com/25187960/85999751-f7c09e80-ba4f-11ea-887c-5fdeb0b3e13f.png)

This makes my MBP so loud that I lose the will to work on Backstage.

## Your Environment

- NodeJS Version (v12): v12.18.1. Also tried v14.4.

[2020-06-29 11:57] freben commented on #1485
Hey!

I have a pretty much identical setup as you do.

What I'm observing is that after I ctrl+c and then yarn start again, my CPU spikes high for 3-4 seconds while it makes sure to compile the bundle to serve. After that, when the browser can draw the page again, it settles down immediately.

- What page is exhibiting this symptom, are you on just `/` or on some other page when this happens?
- Do

[2020-06-29 12:33] #1108 closed

[2020-06-29 13:01] #1222 closed

[2020-06-29 13:06] tudi2d commented on #1471
Hey. I added a pull request. It looks like this now:

![aNrRkKIp17](https://user-images.githubusercontent.com/8904624/86007682-07bc8c00-ba18-11ea-9807-1f00d11ca068.gif)

I was a bit confused why the star is behind the Overview/Information label. A suggestion from my side would be to move the star behind the name of the service in the header, as the user wants to star the service and not Overview/I

[2020-06-29 13:37] Rugvip commented on #1485
Possibly related to https://github.com/webpack/webpack-dev-server/issues/2140? Is fsevents being installed correctly for you?

[2020-06-29 13:39] dtuite commented on #1401
@freben  This mindset shift was what I needed. It makes more sense from this perspective. Thanks for the response.

[2020-06-30 06:53] #1283 closed

[2020-06-30 06:59] stefanalund commented on #1471
Yeah, I agree, putting it in the header makes more sense! Would you be up for changing your PR?

[2020-06-30 07:37] #1254 closed

[2020-06-30 08:20] #1310 closed

[2020-06-30 08:25] freben commented on #1401
@Adamseyer Unfortunately, this form of limited viewer rights management and access control is something that just does not exist yet. Multitenancy in general (unless open for all), is not on our radar for the near future, but we are happy to gather input to see if it's something that can be addressed eventually.

[2020-06-30 19:46] timurista commented on #343
Thanks @freben . This is looking good. But gitlab auth seems to have a broken part for the URI
I don't think this is complete yet, I merged from master and the redirect URI seems return part seems broken:

I pulled from master in commit: b92e1533d1930511e0dba2a753db3821d873aafc
after Merge pull request #1494 from daviddyball/master

I got the GItlab id, client secret and host.
I used the localhost

[2020-06-30 20:03] freben commented on #343
@danztran  any idea about the above?

[2020-06-30 20:30] Rugvip commented on #343
@timurista What redirect URI did you configure? Usually you need to include the `?env=development` bit too

[2020-06-30 22:10] timurista commented on #343
`http://localhost:7000?env=development` <--- configured for gitlab.
Still getting redirect issue

[2020-06-30 22:10] Rugvip commented on #343
@timurista it should be `http://localhost:7000/auth/gitlab/handler/frame?env=development `

[2020-06-30 22:27] timurista commented on #343
Ok yes thanks @Rugvip that works.
However it doesn't appear to change guest status.

![image](https://user-images.githubusercontent.com/4718607/86182477-e5dd0b00-bae4-11ea-8bb6-06f9964fbcab.png)

Seems like the username information hardcoded to github =>
[code]
I was expecting the word guest to update with details from auth provider.
maybe profile info isn't mapping for gitlab. Checking now. https

[2020-06-30 22:32] timurista commented on #343
OK no that looks good on backend.
getting correct adapted info:
[code]

[2020-06-30 23:04] Timunas opened #1498 "Clicking on support button generates a warning in console"
Whenever a click is performed on a support button a warning is shown the console as shown below:

![console_warning](https://user-images.githubusercontent.com/18316742/86181340-bd293580-bb25-11ea-9fe7-c379b725a196.png)

Although I can't see a clear problem in the UI point of view.

## Expected Behavior

No console warnings expected.

## Current Behavior

Console logs are shown in the console. Alth

[2020-06-30 23:23] shashirsu opened #1499 "Search functionality in Backstage"
## Feature Suggestion

* Add federated search functionality to search tech documents, [data catalog items](https://github.com/spotify/backstage/blob/0ba4cca3c8dbffe95b8877a2bf14c3704afce02c/docs/architecture-decisions/adr002-default-catalog-file-format.md), templates served through the backstage portal.

## Possible Implementation

* User Interface i.e., Search Results UI - Should this be implemen

[2020-06-30 23:35] timurista commented on #343
Problem is the email is only id you get from gitlab.
Here's PR working on https://github.com/spotify/backstage/pull/1500

[2020-07-01 07:20] freben commented on #1463
i believe this is addressed by #1502.

[2020-07-01 07:49] benjdlambert opened #1503 "Pass in a list of Publishers to the Scaffolder"
## Feature Suggestion
- The Frontend will need some way of displaying a list of publishers that take a folder to create a repository out of.
- These publishers should be listed on the scaffolder after initialisation
- Could be displayed in the frontend in a drop down with more options if the publisher requires more input from the user.

## Possible Implementation
- `Publisher` has a `publish` func

[2020-07-01 15:00] bresmith-wayfair commented on #1463
yep!   thanks again!

[2020-07-01 15:00] #1463 closed

[2020-07-02 06:31] freben commented on #1229
@ellieseastream did you do anything special to alleviate this problem that you had in google hangouts as well?

[2020-07-02 06:31] freben commented on #1376
Closed by #1506

[2020-07-02 06:32] #1376 closed

[2020-07-02 07:14] ellieseastream commented on #1229
@freben I just did a renaming in Personal Info Settings on my Google account, that's all.