[2022-09-07 11:30] Rugvip commented on #13500
@no1melman ah alright, makes sense, thanks! 👍

[2022-09-07 12:39] ScottGuymer opened #13576 "Import organisation emails when using GitHubOrgEntityProvider to discover GitHub org users"
## Feature Suggestion

When importing users from a GitHub org it is often useful to import the email(s) the user has associated with that organisation in GitHub. This is especially useful if you want to use a different login mechanism but still match the user entity imported from GitHub.

## Possible Implementation

Extend the current graphql query used to query users to include the field `organiz

[2022-09-07 12:40] ScottGuymer commented on #13576
graphql query to use..

[code]

[2022-09-07 14:11] sohamchari commented on #13446
Hi, I would like to contribute to this issue.

[2022-09-07 14:22] leonardomaier commented on #13408
@Rugvip good to hear that, I'll open a PR soon. Could you assign me to the issue?

[2022-09-07 14:36] leonardomaier opened #13578 "createApp.test.ts is failing"
## Expected Behavior

All tests passed.

## Actual Behavior

[code]

## Steps to Reproduce

1. `cd packages/create-app`
2. `yarn test`
3. Press `a` to run all tests

## Context

I'm writing some additional test cases related to the issue https://github.com/backstage/backstage/issues/13408

When I tried to run all existing tests, it threw the error. After some research, I found [this question on SO

[2022-09-07 14:59] Rugvip commented on #13578
Hah, I actually ran into this as part of #13574 and had some fixes there. I've extracted them into #13579 so we can ship the fixes sooner.

It's indeed `mock-fs`, and seems to end up happening is that modules are required after `mock-fs` has been hooked in. How it ends up executing in that order and why it's flaky - I have no idea. Completely mocking out the `versions.ts` module fixes it though.

[2022-09-07 15:08] leonardomaier commented on #13578
Thank you for clarifying!

[2022-09-07 15:45] waldirmontoya25 commented on #12394
We are checking how to enable it. Is this the file where token setup is done for guests? cc @jamieklassen @luchillo17

packages/core-components/src/layout/SignInPage/GuestUserIdentity.ts

[2022-09-07 17:48] Rugvip commented on #12844
Thank you, great writeup! 👏 Sorry that this slipped under the radar as we came back from vacations, had a proper read of it now though.

https://github.com/backstage/backstage/issues/12844#issue-1318813890:

Happy to have this in the core repo if you want to contribute! I think it's good to keep something like this close to the core as it's a quite integral part. There are middle grounds to consid

[2022-09-07 20:11] #13578 closed

[2022-09-07 22:46] luchillo17 commented on #12394
Indeed, I would guess the `getIdToken()` function is responsible for generating a valid backstage token with the correct permissions.

[2022-09-08 06:52] goququ opened #13587 "[GitlabDiscoveryEntityProvider] - can't manage branch to pull locations from app-config.yaml"
## Expected Behavior

When I am use `GitlabDiscoveryEntityProvider`, I fill app-config.yaml with provider information like:

[code]

I expect provider will search files in branch **latest**

## Actual Behavior

[Here is some actual code from provider](https://github.com/backstage/backstage/blob/master/plugins/catalog-backend-module-gitlab/src/providers/GitlabDiscoveryEntityProvider.ts#L164)

[code

[2022-09-08 08:16] jhaals commented on #13446
Fantastic, I'll assign you to it!

[2022-09-08 08:54] unixunion opened #13590 "ADRs cannot be loaded from BitBucket, scmAuth fails"
## Expected Behaviour

ADRs should be accessable from backstage when they are in the Bitbucket repo of a cataloged component.

## Actual Behaviour

An error occurs, stating that

No auth provider available for 'https://bitbucket.mydomain.com/bitbucket/projects/AS/repos/sss/browse/docs/decisions', see https://backstage.io/link?scm-auth

the default scmAuth should contain the bitbucket access tokens

[2022-09-08 08:56] #11296 closed

[2022-09-08 09:00] jhaals commented on #13576
Hi Scott!

It's currently not possible to rely on email addresses from GitHub as the email will be undefined if the user set their email to be private. I think we should make sure that this is highlighted in the documentation for the provider.
Would be interesting to know if this query helps in any way where you have your email set to private and try to query for it.

[2022-09-08 09:01] ScottGuymer commented on #13576
This is only correct for the public profile email.

The `organizationVerifiedDomainEmails` will get emails that a user has added to their account but not made public.

The authentication would need to allow this and would only be possible with a GH app and not PAT auth.

[2022-09-08 09:02] ScottGuymer commented on #13576
I have a working POC of this up and running and I have made it optional when configuring the provider.

[2022-09-08 11:28] jhaals commented on #13564
Hi Marcus!
Let's make sure we mention this in the [migration guide](https://github.com/backstage/backstage/blob/master/docs/tutorials/yarn-migration.md) first and then update this in the create-app template once we have officially made the switch!
Feel free to create PRs 🙏

[2022-09-08 11:43] jhaals commented on #13535
Hi!
It is at this point not possible to specify relations for APIs. The reasoning for this is that apis typically originate from a component and that we until now not had the need to reference in both directions as it's typically the component that decides which APIs it provides. I'm curious to know more about your use case.

[2022-09-08 11:45] jhaals commented on #12880
@pjungermann do you have suggestions for how we could configure rules per entity provider?

[2022-09-08 12:27] unixunion commented on #13535
Thanks @jhaals there is no need to fix this then.

My use case is that I am defining lots of API which are in fact events, and I wanted each event to declare its origin as part of the protobuf schema definition. So I dont have my library component declaring 100s of APIs.

I can do it from the library that provides all these API,s but I just thought it would be cleaner to have the schemas themselve

[2022-09-08 13:17] taras opened #13593 "[plugin:github-issues] Make filtering issues query more flexible"
## Context

We have a client who's using GitHub Issues plugin. They would like to be able to only show issues with a specific label.

cc @mrwolny if you're good with making this change, Frontside can implement it.

## Feature Suggestion

Make it possible to fully customize the issues query.

## Possible Implementation

Introduce a new prop to `GitHubIssues` that will take an array of label as stri

[2022-09-08 14:02] Rafa3001 commented on #10323
estou enfrentado o mesmo problema porém na Vm, quando vou registrar um componente ou algo relacionado aparece o seguinte problema.
<img width="896" alt="backstage1" src="https://user-images.githubusercontent.com/83523558/189142370-ca70250a-ac02-453f-85db-ecbe76b1641b.png">

[2022-09-08 14:14] Rafa3001 commented on #10323
Em minha maquina virtual está da seguinte forma em meu , estou usando a fedora (Linux).
Alguém poderia me ajudar a solucionar ?
estou enfrentando ele a semanas..
<img width="941" alt="VMMM" src="https://user-images.githubusercontent.com/83523558/189145308-55b07bab-cb57-488b-b697-ee2b39013a74.png">

[2022-09-08 15:17] hillmandj commented on #13514
@arielpacciaroni can you give more of a background as to why you closed this issue? How did you resolve this?

[2022-09-08 16:00] ericbottard opened #13594 "Templates' START OVER button retains some unfortunate state"
## Expected Behavior
Once a template has rendered and I click on START OVER, I expect to re-start from a coherent state.

## Actual Behavior
I understand keeping the values that were just used is a _feature_, not a _bug_ and was done on purpose.
Yet, this has unfortunate consequences when _e.g._ using json-schema `dependencies`:

If for example, parameter `something` depends on `myBoolean` being s

[2022-09-08 17:42] ericis commented on #9582
This would make it possible to embed Backstage into other applications where a pop-up window is not only undesirable, but not possible. For example, MS Teams chat has support for custom "Tabs" that point to a URL and host an embedded browser to display the URL. However, Backstage with authentication fails, because the embedded browser does not support pop-up windows.

[2022-09-08 19:44] awanlin commented on #9737
Just a follow up on this: I have the framework for this built and two tabs - Info (a lot like an about page combined with the data from running `yarn backstage-cli info`) and Config (shows you a tree of your config) - built with a third (external dependencies so things like APIs you might consume from Backstage or Servers that you need to be able to reach) that I'm waffling on.

[2022-09-08 19:57] taras commented on #13415
We encountered a similar issue where the platform assumed that if an application requires Postgres, then it's sufficient to provide a database with credentials to access that database. We used a database deployed as a workload instead of a platform-provided DB because we could easily create databases and schemas. It would be nice to be able to create all schemas into one existing database with pre

[2022-09-08 20:27] pedronastasi opened #13597 "[Search] Be less restrictive with unknown keys on query endpoint"
## Feature Suggestion

Enable additional/custom params to Search query at GET - /query by implementing a minor change on:

[/plugins/search-backend/src/service/router.ts#L75-L82)](https://github.com/backstage/backstage/blob/master/plugins/search-backend/src/service/router.ts#L75-L82)

## Possible Implementation

It could work by adding an additional property at requestSchema  so that people can pa

[2022-09-08 21:05] angeliski commented on #11406
In my use case I would just ingest Github and Okta in my catalog, so when the user try to [autheticate](https://backstage.io/docs/auth/#configuring-authentication-providers) in backstage using Github or Okta there will be there.

 When I say `merging and deleting` I just want to get this to "different entities" and make one merged.
Like `UserAngeliskiGithub` and `UserAngeliskiOkta` transform in `U

[2022-09-09 01:39] Expalex opened #13598 "New Collapsible Table Design"
## 🗒 General

Expedia Group would like to propose an enhanced collapsible table design.
This is to be an enhanced version to the existing https://mui.com/material-ui/react-table/#collapsible-table.
This improved version would be be easier to view, save space, scalable, and more consistent with the rest of Backstage design.
A large portion the layout for this new one is different from what's existi

[2022-09-09 01:41] Expalex commented on #13598
This conversation continues where https://github.com/backstage/backstage/issues/11880 left off. Communication somehow got dropped.
@freben  Would you clarify what you mean by "optional extension"?

[2022-09-09 01:46] Expalex commented on #13598
This conversation continues where https://github.com/backstage/backstage/issues/11880 left off. Communication somehow got dropped.

[2022-09-09 02:13] Expalex commented on #13598
Multiple rows that wrap (i.e. Details column) can be set to cap at one row, two rows, three rows or more before overflow “…” appears, in which instance user can click to expand and view all rows. This conversation continues where https://github.com/backstage/backstage/issues/11880 left off. Communication somehow got dropped.

[2022-09-09 08:01] alper98 commented on #12302
I am experiencing this as well. extra_css is not being registered.

[2022-09-09 09:24] johanhammar commented on #13346
I've also seen cases where the left menu disappears.

![bild](https://user-images.githubusercontent.com/69011/189317809-416d38b3-5063-47d2-b0fb-201cb8eb465e.png)

[2022-09-09 10:08] mufaddal7 commented on #12760
Fixed #13522

[2022-09-09 10:08] #12760 closed

[2022-09-09 11:11] #13481 closed

[2022-09-09 11:46] SerenaIce opened #13610 "Enable APM trace with dd-trace which is not working in Backstage"
Import the dd-trace, and invoke the trace.init() function to initialize with the required envs.
The APM metrics should showing up in datadog.

But actually it's not. I checked the envs and datadog-agent's status which should be fine.
Except the metrics did not show up,  what is also weird that no logs showing up though I customer the logger and set debug: true when init().

So for now there's no s

[2022-09-09 11:56] blueboxes opened #13611 "Documentation on how to Use Feature Flags in Plugins"
## Feature Suggestion

There is no Documentation on how to Use Feature Flags in Plugins

## Context

After developing a plugin it was highlighted that there we no docs on feature flags and info online is out of date.

[2022-09-09 11:56] blueboxes commented on #13611
I have a document which I will create a PR for and attach.

[2022-09-09 13:10] #12387 closed

[2022-09-09 13:42] pjungermann commented on #12880
At the static locations, you have something like the following at the moment:

[code]

and now we have

[code]

which we could extend to:

[code]

But I didn't look much into the current implementation and how to make use of it there.

[2022-09-09 13:58] #9250 closed

[2022-09-09 14:10] pjungermann commented on #12880
So, the `DefaultCatalogRulesEnforcer` loads both options `catalog.rules` and `catalog.locations.[].rules` directly from the config. There is no association with the Location entity created from the config.

The check `isAllowed(entity: Entity, location: LocationSpec): boolean;` only has access to the entity to be checked (e.g., Group, User) and its data incl. annotations like `backstage.io/managed

[2022-09-09 14:12] pjungermann commented on #12880
PS: I would not support this for other types of providers like msgraph, etc. which directly ingest the target kinds. These should provide enough (filter) capabilities to exclude what you don't want to have.

[2022-09-09 14:13] kallusakar commented on #13590
Having the exactly same problem, I have configured self hosted bitbucket server integration which works when importing catalog entries from it but not for the ADRs. The required Auth provider seems to be only working with Bitbucket Cloud.

[2022-09-09 14:19] awanlin commented on #13590
@unixunion @kallusakar I have a feeling that this is a limitation of the ADR plugin in its current state - it only supports Github for some features: https://github.com/backstage/backstage/pull/10817#issuecomment-1099243106

@kuangp can you correct me if I'm wrong?

[2022-09-09 14:22] kuangp commented on #13590
That's correct. It only supports GitHub at the moment but contributions are welcome! I think I gave one suggestion for how to make the change to make this more SCM agnostic in the linked comment in the original PR.

[2022-09-09 15:24] johnan1 opened #13615 "Backstage techdocs not loading on first attempt"
## Expected Behavior

When visiting techdocs tab in Backstage, the docs should start loading based on the mkdocs definition in each of the respective repos.

## Actual Behavior

The first attempt to load the docs displays the usual error message below.
![image](https://user-images.githubusercontent.com/93215800/189381200-3490d63b-05ca-4dc3-a28c-ef44e50c73da.png)

## Steps to Reproduce

Our techdoc

[2022-09-09 18:06] prikshit-1103 commented on #13446
Hi, I would like to contribute to this issue.

[2022-09-09 21:40] GoFightNguyen commented on #12883
@freben There is a chance that the backend has multiple instances running at a time because we use a rolling deploy in k8s. Regardless, we are using `env.scheduler.scheduleTask()`

[2022-09-10 02:52] namco1992 commented on #12880
Hi @pjungermann,

Thanks for the clarification! However, I still have some concerns here.

Firstly, I understood you and @Rugvip's position that the `catalog.rules` shouldn't be applied to providers that directly ingest the target kinds. But I think we owe some explanations to the users. One can [dig into the code base and find out that it's only for `deferredEntities`](https://github.com/backstag

[2022-09-10 10:22] prikshit-1103 commented on #13446
@jhaals I have discussed with @sohamchari  regarding it and he has also agreed to let me work on this issue ,
so could u please assign this to me ?

[2022-09-10 13:21] #12335 closed

[2022-09-10 15:41] regicsolutions opened #13630 "[Plugin] Software Bill of Materials (SBOM)"
Suggesting a plugin to display a Software Bill of Materials (SBOM) Composition Report. [CycloneDX](https://cyclonedx.org/use-cases/) seems to be a commonly used standard across a number of [tools](https://cyclonedx.org/tool-center/) that supports both [JSON](https://cyclonedx.org/docs/1.4/json/#) and [XML](https://cyclonedx.org/docs/1.4/xml/) schemas.

[CycloneDX](https://cyclonedx.org/) is the SB

[2022-09-10 17:01] andrewthauer commented on #13610
We have this working, but haven't upgraded to to `dd-trace` -> `v3.2.0`. Will try next week. Was this working with `v2.*`?

[2022-09-10 21:29] #9342 closed

[2022-09-11 23:54] jpeach commented on #13472
The way I was thinking about this is that it is no more specific than the source location. If some entity has a source location, then it's highly likely that it also has an issue tracker location.

[2022-09-11 23:56] jpeach commented on #12304
@benjdlambert A second use case for this - use the scaffolder UI to generate a Jira "create issue" link. The scaffolder is an easy way to generate a UI that lets you capture title, description, component and a few other fields. But there's no obvious system to send the resulting Jira link to, people would copy it from some results page UI and paste it where they need it.

[2022-09-12 07:13] alper98 opened #13636 "styling is not being reflected in techdocs - extra.css is not being found/registered"
## Expected Behavior

the CSS path registered under "extra_css" in mkdocs.yml should be registered on the page.

## Actual Behavior

Styling is not being reflected.

## Steps to Reproduce

1. Create a new TechDocs site with the techdocs-cli NPM package (yarn or npm)
2. Configure "mkdocs.yml" with a custom CSS file (e.g. "extra_css: [./assets/styles/example.css]"
3. Start techdocs-cli serve -v

##

[2022-09-12 08:24] nhhagen opened #13638 "MicrosoftGraphOrgEntityProvider not respecting queryMode option"
## Expected Behavior

I expected to be able to use Microsoft Graph advanced queries when setting `queryMode: advanced`.

## Actual Behavior

Backstage gave an error and users and groups where not ingested.

## Steps to Reproduce

1. Install the plugin
[code]

2. Configure the `microsoftGraphOrg` in `app-config.yaml`.
[code]

3. Configure the catalog to use the provider in `packages/backend/src/plu

[2022-09-12 09:52] pjungermann commented on #12880
Instead of adding/allowing `DeferredEntity` we could add the `locationKey` as optional argument instead so potential users of this interface (e.g., for customizations) wouldn't need to bother with the difference between Entity and DeferredEntity.

[code]

[2022-09-12 10:00] pjungermann commented on #12880
@namco1992

I get where you are coming from.

I'm not one of the maintainers, so cannot really reply. I assume that catalog.rules was supposed to be extensible with different kind of rules. It receives an array of rule configs and only supports the rule "allow" which acts as an allow set for entity kinds.

Also, there is already catalog.locations which accepts an array of location configs which th

[2022-09-12 10:10] pjungermann commented on #12880
I don't think it makes sense to apply the global kind allow list to entities ingested by providers.

The goal of the allow list is to have control over entities ingested where others can define any kind of entity. This is the case at Locations / catalog-info.yaml files. If I add i.e. the msgraph provider it is clear that it will ingest User and Group kind entities from the start. The allow list wo

[2022-09-12 13:53] mstergianis opened #13645 "plugin-kubernetes-backend is missing skipMetricsLookup in its schema"
## Expected Behavior

When running
[code]
I should see something.

## Actual Behavior

[code]
Nothing

## Steps to Reproduce

1. Create a backstage app
2. Install kubernetes-backend as a plugin
3. Run the yarn cli to generate the openapi schema

## Context

Just a bug in the [schema file](https://github.com/backstage/backstage/blob/master/plugins/kubernetes-backend/schema.d.ts). I'll create a PR t

[2022-09-12 14:22] jskarpe opened #13648 "Kubernetes cluster type 'gke' not respecting backend auth"
## Expected Behavior

Visible Kubernetes details when clicking the "Kubernetes" tab of the service, or an actual error message (in log or otherwise) detailing why it's not working.

## Actual Behavior

Annotating service with kubernetes and accessing this tab in the UI results in "Please log in" dialogue box, listing Google as auth method
No GCP API requests seems to have been logged
Specifying a

[2022-09-12 14:31] #12454 closed

[2022-09-12 14:41] shailendra-ahir-cbre commented on #10121
Thanks a lot @dschwank

[2022-09-12 14:53] ScottGuymer commented on #13576
I have opened https://github.com/backstage/backstage/pull/13640 with this implementation.

[2022-09-12 15:56] #12439 closed

[2022-09-12 16:49] OscarDHdz opened #13650 "Scaffolder: Dynamic Task Workers"
## Feature Suggestion

Hi there, having in mind: https://github.com/backstage/backstage/issues/3746 (being able to create Scaffolder TaskWorkers anywhere),
We are looking for a way to Dynamically instantiate  scaffolder `TaskWorkers` when needed instead of having a fixed amount set [here](https://github.com/backstage/backstage/blob/master/plugins/scaffolder-backend/src/service/router.ts#L158).

##

[2022-09-12 18:51] awanlin commented on #7671
Un-stale 🪄

[2022-09-12 20:18] #10028 closed

[2022-09-12 22:20] airavichandra opened #13655 "Optimize entity-facets endpoint"
The `/catalog/entity-facets` endpoint for querying facets takes a long time to load. Looking at the [implementation](https://github.com/backstage/backstage/blob/master/plugins/catalog-backend/src/service/DefaultEntitiesCatalog.ts#L329), it currently fetches all the entities from the final_entities table and then filters the entities it needs. This drastically slows down the response time.

## Poss

[2022-09-13 01:52] miniengineer opened #13656 "Unable to authorize app in development environment"
## Expected Behavior

We have two config files
- `app-config.yaml` - for production
- `app-config.local.yaml` - for development

Our auth setup in `app-config.yaml`

[code]

And in `app-config.local.yaml`

[code]

We assume that when we start in dev mode, it will use the credentials from `app-config.local.yaml` and authorize with github.

## Actual Behavior

Instead we see the following log

[code

[2022-09-13 03:16] SerenaIce commented on #13610
@andrewthauer , how did you integrate it? Could you please show the sample code?

I just call the tracer.init() in packages/backend/indext.ts with the required envs. And I also set DD_TRACE_DEBUG: true and DD_TRACE_STARTUP_LOGS: true, still no logs show up.

[2022-09-13 07:51] 18521542 opened #13657 "[Scaffolder] - Bug with remoteUrl when using action publish:azure"
## Actual Behavior
After pushing the code to Azure Devops repository, the remoteUrl link are containing the name of organization.
![image](https://user-images.githubusercontent.com/56584175/189842980-b6840e4a-d133-4ae0-a4a3-418ad62a72ba.png)

## Expected Behavior
After pushing the code to Azure Devops repository, the remoteUrl link should not contain the name of organization.

## Steps to Reproduc

[2022-09-13 09:02] marcus-crane commented on #13610
Hey @SerenaIce, here's how I've set up basic Datadog tracing in our Backstage instance. I haven't gotten around to customising it or adding extra spans though which you might want to do.

This is using `"dd-trace": "2.4.2"` which is a bit old nowadays but I might try upgrading it tomorrow.

[code]

[code]

The main thing here is just that the tracer is imported before everything else at the top of

[2022-09-13 09:39] ZubairRafiq commented on #13260
As you have mentioned that when the maxDepth is set to infinite, perhaps it chooses to cut down several lines. In our case we decided to set the default value of maxDepth to 2 for better readability of graphs. Simply by passing `maxDepth : 2` prop to CatalogGraphPage.

[2022-09-13 11:09] VKZycus opened #13665 "Default values in owner ,RepoUrlPicker like workspace ,project and repository"
Below is my template.yaml file where I am using Repourlpicker

 owner:
          title: Owner
          type: string
          description: Owner of the project
          ui:field: OwnerPicker
          ui:options:
            allowedKinds:
              - Group
    - title: Choose a location
      required:
        - repoUrl
      properties:
        repoUrl:
          title: Repository Location

[2022-09-13 11:21] SerenaIce commented on #13610
@marcus-crane , thanks and I will have a try. BTW, did you try to get the logs in your app service when enable the DD_TRACE_DEBUG: true? Which drove me crazy is that I couldn't see any logs which is hard for me to diagnose the issues.

[2022-09-13 13:14] timja opened #13668 "CLI for creating templates with scaffolder"
## Feature Suggestion

Something like:
[code]

## Possible Implementation

## Context

I want to run tests against my project to make sure that it works after templating. Like how you could with the cookiecutter CLI.

Originally https://github.com/backstage/backstage/issues/6568, it was closed prematurely in my opinion.

There's two main usecases I see.

1. Iterating while developing a template, h

[2022-09-13 15:38] timja commented on #10160
go away

[2022-09-13 16:54] andrmaz commented on #11428
@dtuite @Rugvip What's your thoughts on my last comment ? I would love to hear from you.

[2022-09-13 17:42] awanlin commented on #13611
@blueboxes I think this can be closed now 😉

[2022-09-13 17:47] dtuite commented on #11428
@andrmaz personally I think that looks better. It looks a bit more like a system diagram to me now. Relationships are clearer.

[2022-09-13 17:56] #13611 closed

[2022-09-13 19:07] #11874 closed

[2022-09-13 19:59] iamEAP commented on #13597
Hey @pedronastasi! Thanks for starting discussion on this.

Definitely understand the desire to have a bit of an escape hatch to be able to work around limitations of the interface, but I think we'd prefer to expand the interface to cover your use-case. Aggregations are definitely on our mind as something we want to support!

[2022-09-13 20:51] andrmaz commented on #11428
@dtuite Thanks for your quick reply! I've just opened a pull request https://github.com/backstage/backstage/pull/13673

[2022-09-13 21:48] pjungermann commented on #9796
resolved by PR #13553

[2022-09-13 21:48] #9796 closed

[2022-09-14 00:51] jen13501 opened #13674 "Template parameters do not disappear if dependent on a boolean value"
## Expected Behavior

When a parameter is a dependency of a boolean parameter, it should not be displayed when the boolean parameter is unchecked.

## Actual Behavior

Before a boolean field has been checked, dependencies of it are not visible. After checking the field, dependencies are visible. However, after unchecking the box, dependencies of it remain visible.

## Steps to Reproduce

1. Create

[2022-09-14 02:01] andrewthauer commented on #13610
We are pretty much doing the same as @marcus-crane. More specifically:

[code]

NOTE: The above code is called more or less at the very beginning of the `plugins/backend/src/index.ts`'s `main` function. Hope this helps.

[2022-09-14 06:32] Abhay-soni-developer opened #13675 "[RFC] extend the AdrPlugin to support gitlab too."
**Status:** Open for comments

## Need

The ADR plugin as of right now does not support any other service other than GitHub.
this RFC target is to extend this plugin feature to also support GitLab.

## Proposal

the plugin is using a custom hook name useOctokitRequest to get the repo content and file content from GitHub.
by using the Octokit library which only supports GitHub.

this hook takes the

[2022-09-14 07:10] anisjonischkeit commented on #7860
We've set up removing orphans using backstage's scheduling:

[code]

[code]

[code]

[2022-09-14 08:47] mthidell opened #13677 "scaffolder-backend: Partial skeleton/template published in v1.15.*"
While using the scaffolder/"Create Templates" I experience an possible race-condition during the "fetch:template" part.

When the scaffolder-backend tries to enumerate the file using the "globby" lib/call it sometimes miss the last files in the fetched template/skeleton zip archive.
Adding a delay before the "globby" call/file listing in scaffolder-backend allows it to find all files.
https://gith

[2022-09-14 09:01] punkle opened #13678 "contact catalog item owner from dropdown"
## Feature Suggestion

A little widget that can be a drop in replacement of the owner field in the catalog table list view that instead of linking to the group/user, renders a drop down offering options such as: email, slack, discord links as well as bringing them to their profile if they prefer.

## Possible Implementation

I would imagine that the dropdown list would be driven by annotations (e.

[2022-09-14 10:39] cinlysobin commented on #12308
Hi @manuelstein ,
Please find the updated Docker file. Still i am facing the issue

FROM node:16-bullseye-slim

# Install sqlite3 dependencies. You can skip this if you don't use sqlite3 in the image,
# in which case you should also move better-sqlite3 to "devDependencies" in package.json.
RUN apt-get update && \
    apt-get install -y --no-install-recommends libsqlite3-dev python3 build-essential

[2022-09-14 10:46] cinlysobin commented on #12308
I can see following error in inspect page
![image](https://user-images.githubusercontent.com/47130315/190133445-79f98cc1-1bb3-4e4b-aff3-d79fe93175e5.png)

UI View
![image](https://user-images.githubusercontent.com/47130315/190134033-802af42c-dd87-4c72-8a47-5307ca557161.png)

![image](https://user-images.githubusercontent.com/47130315/190134193-9b6f765d-95f7-4ffe-8ccc-83011a4559eb.png)

[2022-09-14 11:09] manuelstein commented on #12308
Thx for the follow-up, @cinlysobin. I had experienced the mike drop error myself when switching to node:16, but this seems to be a different error. Your last screenshot shows the documentation has been successfully generated.
@iamEAP I don't know enough about what happens after the techdocs generation to help on this one.

What's weird to me is the second resource load error where it tries to fetc

[2022-09-14 12:28] Abhay-soni-developer commented on #13675
happy to pickup / contribute.

[2022-09-14 12:51] ivangonzalezacuna commented on #13587
Hi, sorry for the delay, I was on vacation until today. As far as I've seen from the description, the behavior is the expected one. When I wrote the gitlab provider, I used the same idea as in the old processor. This means that the branch used to inject the `catalog-info.yaml` into the catalog is the default one for each project. And yes, the variable `branch` that can be defined in the `app-confi

[2022-09-14 13:18] taras commented on #6582
@kissmikijr did you start working on this?

I've been collaborating with SourceGraph on a blog post on how to use Batch Changes to onboard projects Backstage. We've also been talking about creating an entity provider that would use SourceGraph [Code Search](https://docs.sourcegraph.com/code_search) to emit entities and [Code Monitoring](https://docs.sourcegraph.com/code_monitoring) to get notifica

[2022-09-14 13:30] kissmikijr commented on #6582
I did start working on it, but put it on a side track for quiet sometime now! I can dig this up. I'm happy to combine efforts!

[2022-09-14 13:33] pedronastasi commented on #13597
Ok. Great! So it'd be something like this:
[code]

[code]

Can I be assigned to this?

[2022-09-14 13:35] kissmikijr commented on #6582
When I was at Prezi we used Batch Changes exactly for this, to rollout a bunch of catalog files to the services. For me the monitoring of these changes are the biggest value, I think rolling out could be also a scaffolder template with custom actions, but in that case no way to monitor the state of the PRs

[2022-09-14 13:40] kuangp commented on #13675
Another possible implementation is to build out the backend service to make use of the built in `UrlReaders` and have the frontend proxy all requests through the backend instead (similar to what the TODO plugin does). The search collator is already using `UrlReaders` so indexing ADRs already support all integrations and inspiration can be taken from there. This will also allow the plugin to be com

[2022-09-14 13:59] adamdmharvey commented on #7162
As of today, the blanks on the API reference are few and far between:

https://backstage.io/docs/reference/

There's still some work to do, but I might recommend in terms of a focused effort to  "improve the API reference", it is vastly improved and as new plugins and core packages get added, they'll continue to need to get their documentation added. There will always be "low hanging fruit 🍒 " for

[2022-09-14 14:42] zachlysobey opened #13680 "Keyboard accessibility bug in global search"
## Expected Behavior

It should be possible to use the global search without use of a pointer device (mouse).

## Actual Behavior

When using the search, if a search result is focused, hitting `enter` or `space` does not navigate to the selected result. It just closes the search dialog.

## Steps to Reproduce

1. Open the global search dialog
2. Type a search term that yields results
3. Tab into o

[2022-09-14 14:48] taras opened #13681 "[Search] Incremental index updates"
## Context

One of our clients has a huge catalog - over 200k entities and growing. We use Elastic Search to search all these records using the Search Plugin. We have a single collator that populates over 100k documents in an Elastic Search index. It currently takes 7 minutes to populate the index.

We have features on our roadmap where users will be contributing entities to the catalog that will

[2022-09-14 14:48] zachlysobey commented on #13680
As an update, its been pointed out to me there is a workaround, and that if you tab a second time after a search result is focused, the same result remains focused (or probably a different HTML element) and *that one* behaves correctly with `enter` or `space`

[2022-09-14 18:53] ldevore-indigoag commented on #10498
I am running into the same thing. It would be great to have a way to import an extension into another custom extension where we could then add this extra validation, rather than having to add code from said extension that we would like to use.

[2022-09-14 20:52] spencerrichardhenry commented on #12453
PR: https://github.com/backstage/backstage/pull/13683

[2022-09-14 21:00] taras commented on #13593
Ping @mrwolny

![giphy-13](https://user-images.githubusercontent.com/74687/190261430-e38a2735-6eb6-40b5-91f2-41b55dd14adc.gif)

[2022-09-14 21:53] jamieklassen opened #13685 "[kubernetes] client-side auth solution for AAD-enabled AKS clusterss"
## Feature Suggestion

The `azure` Kubernetes auth provider introduced by @goenning in #11299 makes life a lot easier for Backstage integrators to surface status for services deployed on AKS users, but it carries the compromise of all server-side Kubernetes auth providers -- a single set of credentials (probably an Azure Managed Identity in the most realistic cases) is used on behalf of all consum

[2022-09-15 07:06] camilaibs commented on #13597
Hi @pedronastasi , I believe this issue is related to yours: https://github.com/backstage/backstage/issues/8468

We have seen the growing necessity to have an extensible search query and context and would love to hear your ideas here, feel free to assing to yourself, your contribution is more than welcome! One more thing, @iamEAP is in a different timezone than mine this week so he might answer yo

[2022-09-15 07:09] camilaibs commented on #8468
The following issue seems related to this one: https://github.com/backstage/backstage/issues/13597/.

[2022-09-15 07:27] camilaibs commented on #9874
Hey @kissmikijr, just checking if you're still excited to help us solve this issue, and would also like to say again that we're more than happy to have you as a contributor. Is there something blocking you that we can help you with?

[2022-09-15 07:57] #11430 closed

[2022-09-15 08:03] camilaibs commented on #5943
Hi 👋🏻, just sharing a thought:
For this specific case, my first thought was: when using the Elastic Search engine, could the problem be solved with a custom analyser that disregards the "dot" in the field when searching? But then another question arose, is this something supported by other engines as well? So this seems to be a workaround, not the solution...
Is there any reason the DefaultCatalog

[2022-09-15 08:52] afscrome commented on #13685
Another options is to use the on behalf of flow to take the token from the Microsoft identity provider, and exchange it for one that can be used with Kubernetes.

https://docs.microsoft.com/en-gb/azure/active-directory/develop/v2-oauth2-on-behalf-of-flow
https://github.com/AzureAD/microsoft-authentication-library-for-js/tree/dev/samples/msal-node-samples/on-behalf-of
https://azuread.github.io/micr

[2022-09-15 12:59] VladMasarik commented on #13446
@sohamchari @prikshit-1103 Feel free to continue your work, but I would like to note that there is an already existing PR https://github.com/backstage/upgrade-helper/pull/9

[2022-09-15 13:17] awanlin commented on #11428
@andrmaz any chance you can post an example from the Explore plugin's Group tab, please? Also, it's a little hard to read the test in the lower left where the `domain:playback` is. Would it be possible for this to use a prop to enable this change?

[2022-09-15 14:26] timja opened #13692 "Class constructor Jenkins cannot be invoked without 'new'"
## Expected Behavior

Jenkins plugin works

## Actual Behavior

Jenkins plugin is broken

[code]

## Steps to Reproduce

1. Configure an entity with a Jenkins annotation, e.g. something like https://github.com/hmcts/draft-store/blob/547c9ea2e43a8592a1aa711bfc1e799b8adc57f9/catalog-info.yaml#L7
2. View page in catalog, see error in console / backend logs

## Your Environment

Reproduced on tip of m

[2022-09-15 15:04] freben commented on #13692
Ouch. Is this something you might want to contribute a fix for?

https://github.com/backstage/backstage/blob/master/plugins/jenkins-backend/src/service/jenkinsApi.ts#L180

[2022-09-15 15:32] timja commented on #13692
Looking, mis-matched line numbers through me off a bit

[2022-09-15 15:37] pedronastasi commented on #13597
Oh, yeah, they're related.I hope read from @iamEAP  soon.

[2022-09-15 16:00] timja commented on #13692
This gets me further:
[code]

 I'm just checking more as I'm getting other errors, but may be things not setup in the example-backend, adding extra debug as I'm getting:

[code]

[2022-09-15 16:04] timja commented on #13692
Likely fine, error reporting is terrible though, I'll try improve that:

[code]

[2022-09-15 16:37] angeliski opened #13694 "[Catalog] AND filter don't work for same field"
## Expected Behavior

When I use the filter for tags, I should receive only entities with `react` and `javascript` tag, like the [docs](https://backstage.io/docs/features/software-catalog/software-catalog-api#filtering)

URL: `/api/catalog/entities?filter=metadata.tags=react,metadata.tags=javascript`

In my example (entities below), should receive **only** app1

## Actual Behavior

I am trying to

[2022-09-15 17:51] DavidZemon commented on #13560
@awanlin, do you need any more info from me?

[2022-09-15 18:56] rodmachen opened #13696 "TechDocs flashing on navigation"
## Expected Behavior

As you click a navigation item, the content that you were previously viewing should remain visible (and stable) until the new content is loaded. At that time, the content should change to the new content.

## Actual Behavior

For Tech Docs with a left-hand navigation, the content flashes multiple times as you click a navigation item. This is a poor user experience and is dist

[2022-09-15 19:02] awanlin commented on #13696
@rodmachen, can you try upgrading to the latest version? 1.5 is the latest stable and 1.6 should be out on around the 20th of September. The demo site is also on an old version (1.0.1) and I'm pretty sure this has been fixed just not sure in what version but for sure after 1.0

[2022-09-15 19:10] rodmachen commented on #13696
We are on 1.3, but this is happening on demo.backstage.io. What version is that on?

We do have a plan to upgrade to 1.6 in the next few weeks.

[2022-09-16 04:37] jpeach opened #13698 "Support multiple namespaces in the Kubernetes plugin"
## Feature Suggestion

Support multiple namespaces in the `backstage.io/kubernetes-namespace` annotation.

## Possible Implementation

Allow the "kubernetes-namespace" annotation to be a comma-separated list of namespaces. Fan out the object query across multiple namespaces in `fanOutRequests`.

## Context

Our organization has a common deployment pattern of using multiple namespaces to deploy pro

[2022-09-16 06:16] SerenaIce commented on #13610
We finally find the root cause about this issue. It is because we had wrong value format in our GLOBAL_AGENT_NO_PROXY setting. The format like 'x.x.x.x/xx' should not be correct for the ip segment. It should be like 'x.x.x.*'.

So this is not a bug of backstage, I will close this one.

[2022-09-16 06:16] #13610 closed

[2022-09-16 06:42] guhanath commented on #9377
@cb-narayanan-krishnamurthy , @chchrist I too facing similar problems. what is the solution and what is CSP config here?

[2022-09-16 08:45] timja commented on #13692
Raised https://github.com/backstage/backstage/pull/13699, looking at improving error handling in a separate PR

[2022-09-16 08:48] #9837 closed

[2022-09-16 10:06] #12563 closed

[2022-09-16 10:32] timja opened #13701 "jenkins warn PermissionAuthorizer is deprecated. Please use an instance of PermissionEvaluator instead of PermissionAuthorizer in PluginEnvironment#permissions"
## Expected Behavior

No deprecation warning on startup

## Actual Behavior

A deprecation warning on startup

## Steps to Reproduce

1. Include the Jenkins backend plugin in an app using the recommended installation from https://github.com/backstage/backstage/blob/master/plugins/jenkins-backend/README.md

## Context

The documented code to include the plugin doesn't pass through the permissions s

[2022-09-16 11:19] xShteff commented on #7040
@freben any updates with this? Would it make sense to close it if no activity has happened since? :)

[2022-09-16 12:43] awanlin commented on #13560
@DavidZemon I'm not sure what you mean? I dove into this as I was concerned that this was something I broke. Based on my review and your feedback that's not the case. Feel free to submit a PR with a fix, I'll happily do some testing just tag me on the PR 👍

[2022-09-16 13:43] shanthisagar-dhanya-kumar-db opened #13703 "Elasticsearch multi node cluster setup doesn't work"
## Expected Behavior

The config.d.ts under the "search-backend-module-elasticsearch" suggests that multiple elasticsearch nodes can be provided ( ideally required for multi node cluster setup )

"**
             * Node configuration.
             * URL/URLS to ElasticSearch node to connect to.
             * Either direct URL like 'https://localhost:9200' or with credentials like 'https://usernam

[2022-09-16 13:58] #12175 closed

[2022-09-16 14:25] awanlin commented on #11044
@zhammer with #12969 and #12973 merged in do you think that's enough to close this issue?

[2022-09-16 14:58] zhammer commented on #11044
yep i think so!

[2022-09-16 14:58] #11044 closed

[2022-09-16 17:03] regicsolutions commented on #12543
@iamEAP @Rugvip given this is closed was wondering if anything is planned for editing entity metadata within the UI.

Our use-case is similar and we were hoping to provide owners of entities the ability to propose or update entity metadata within the UI which would result in triggering and auto-merging a pull request.

[2022-09-16 17:08] benjdlambert commented on #13692
Looks like this was caused by the release of the `1.0.0` of the plugin. Looking back from the previous release the implementation was correct https://github.com/silas/node-jenkins/tree/f1cf921407d7c367c520dcf8b8a5d377bafd2920.

Looks like the Jenkins bump and lack of integrations tests is the reason why we missed this.  #13388 or #13404 were the causes.

[2022-09-16 20:03] timja commented on #13692
It would have been https://github.com/backstage/backstage/pull/13388, in the change diff (no changelog I can find)

it switched from functions to classes:
https://github.com/silas/node-jenkins/compare/0.28.1...1.0.1

[2022-09-16 20:04] timja opened #13707 "Integration tests for jenkins-backend plugin"
It would be good to have integration tests for the jenkins-backend plugin

https://github.com/backstage/backstage/pull/13388 completely broke it but it wasn't picked up by tests

_Originally posted by @benjdlambert in https://github.com/backstage/backstage/issues/13692#issuecomment-1249593608_

[2022-09-16 21:13] #13645 closed

[2022-09-16 21:16] jamieklassen commented on #13685
@afscrome thanks for sharing the on-behalf-of flow -- I never knew about it! I'm wondering about something, maybe you have some insight:

When using the microsoft auth provider for sign-in _and_ using, say, the azure resources plugin, is it typical to create two different app registrations in AD -- one for sign-in (with permissions for reading user profiles) and another for the azure-resources bac

[2022-09-17 07:00] #12549 closed

[2022-09-17 16:20] #12061 closed

[2022-09-17 17:33] #12559 closed

[2022-09-17 18:20] GLundh opened #13717 "TechDocs broken when used from EntityPage"
## Expected Behavior

TechDocs rendering fine from the `EntityPage`.

## Actual Behavior

When rendering TechDocs from an `Entity` (typically http://localhost:3000/catalog/default/component/backstage/docs), dual scrollbars can be seen on the right (see screenshot). The inner one (which is needed to scroll content) gets easily stuck. This pretty much makes TechDocs unusable from the `EntityPage`.

[2022-09-19 08:11] benjdlambert commented on #13707
This doesn't need to to be anything fancy too, just maybe Jest and mocking less so we catch the issue.

[2022-09-19 08:14] benjdlambert commented on #13698
@backstage/warpspeed for visibility here too

[2022-09-19 08:19] benjdlambert commented on #13677
Could you maybe create an reproduction repo so that we can try and reproduce it to dig into a little more?

[2022-09-19 08:27] benjdlambert commented on #13638
@pjungermann do you want to take a quick look at this :praY:

[2022-09-19 08:34] erdebee opened #13723 "Property 'entityRef' is missing in type 'SearchDocument' but required in type 'AdrDocument'"
## Expected Behavior

AdrSearchResultListItem should render with a SearchDocument as input for the "result" property in SearchPage.tsx.

## Actual Behavior

AdrSearchResultItem expects AdrDocument. AdrDocument is expecting a non-existing property entityRef in type SearchDocument, as provided by the search rendering in SearchPage.tsx

## Steps to Reproduce

When using the provided example from the

[2022-09-19 08:37] benjdlambert commented on #13564
Closing as this looks to be fixed now! Thanks! :pray:

[2022-09-19 08:37] #13564 closed

[2022-09-19 08:40] marcus-crane commented on #13564
Ah, did we want to update the template as well? I'm on holiday at the moment so I haven't opened anything yet but I can keep a note of it and open a PR when the project is formally switched over 🙂

As far as the "issue", yep it is closed

[2022-09-19 08:49] benjdlambert commented on #12701
Until we have some way of loading the config from the backend for the frontend, then this needs to be built into the bundle so it needs to be at build time. Think we need to revisit how we're going to do that rather than adding this option. Will come back with an update on a possible way forward! :pray:

[2022-09-19 08:50] benjdlambert commented on #12694
Is this something you're interested in contributing @szajcz? :pray:

[2022-09-19 08:55] benjdlambert commented on #10603
Assigned!

[2022-09-19 08:57] benjdlambert commented on #10160
Does someone want to pick this up and have a go at implementing something :pray:

[2022-09-19 09:01] benjdlambert commented on #9086
@shimmieblum did you get a round to looking at this? Otherwise I can re-assign to someone else if they want to pick it up? :pray:

[2022-09-19 09:05] benjdlambert commented on #8329
Closing in favour #12019

[2022-09-19 09:05] #8329 closed

[2022-09-19 09:09] benjdlambert commented on #7860
@anisjonischkeit Maybe lets add this in `contrib` so people can find this easier than finding this ticket?

[2022-09-19 09:10] benjdlambert commented on #7821
Ping @mclarke47 :pray:

[2022-09-19 09:14] Rugvip commented on #7162
@adamdmharvey, thank you, agreed! 👍

The guidelines here can always be found at https://github.com/backstage/backstage/blob/master/STYLE.md#documentation-guidelines

[2022-09-19 09:14] #7162 closed

[2022-09-19 09:46] benjdlambert commented on #13701
I think that in the `README.md`, you probably want to add an example of passing through a `PermissionsEvaluator`, comes from the environment by default.

Something like:

[code]

Should work I think?

[2022-09-19 09:47] anisjonischkeit commented on #7860
Yeah, I'm happy to create a PR for it.

Alternatively, since posting this I've actually moved this out into a plugin which can both be attached to a schedule or called as an API endpoint to run this function (with additional filters if you wish to set them). I could create a PR with the plugin, that might be easier to surface than under `contrib`.

In our project it's under a more general `managem

[2022-09-19 09:50] benjdlambert commented on #13678
Do you want to try and mock something like this up? :pray: Sounds pretty interesting!

[2022-09-19 10:09] anisjonischkeit commented on #7860
Another thing (incase it's useful to anyone). We're only using this to remove orphaned Locations at the moment. The rationale behind this is that if Bitbucket/Github Discover no longer finds locations (and they are therefore orphaned), we will get the orphan message propagated down to the entity, rather than have it go missing because the entity isn't an orphan (even though the location it was cre

[2022-09-19 10:11] freben commented on #13694
Yeah this is actually by design. The documentation doesn't explicitly point out this corner case, but the comment in the code does:

https://github.com/backstage/backstage/blob/5b2d037b941d857c7a8bc1923e073745bd273215/packages/catalog-client/src/types/api.ts#L38

Sorry but this is the way the current filter sets are designed. We've been talking about whether there could be reason to design a compl

[2022-09-19 10:13] anisjonischkeit commented on #7860
Another thing (incase it's useful to anyone). We're only using this to remove orphaned Locations at the moment. The rationale behind this is that if Bitbucket/Github Discover no longer finds locations (and they are therefore orphaned), we will get the orphan message propagated down to the entity, rather than have it go missing because the entity isn't an orphan (even though the location it was cre

[2022-09-19 10:25] anisjonischkeit commented on #10321
For anyone that comes across this issue, I tried bumping/fixing versions/mismatches. I had just created my own catalog index page and didn't follow the doc on creating a new catalog index page. This ended up being the fix:

<img width="1088" alt="Screen Shot 2022-09-19 at 8 20 30 pm" src="https://user-images.githubusercontent.com/22971353/190997313-a82ea030-6d88-4b06-9c0d-6374ce65aafd.png">

Basic

[2022-09-19 11:23] mthidell commented on #13677
As far as I can tell the file descriptor has not been fully closed, Have not found any elegant way to setup a unit-test for it.

https://github.com/thejoshwolfe/yauzl#event-close
But by using above event in above event in the new Zip Library I don't get the race condition.
Think the current implementation only ensure that all data/stream chunks as been written to the file but the file description

[2022-09-19 11:36] jhaals commented on #13535
Hi! I believe you should be able to create a custom processor that emit the relations for you. The only difference is that you emit your relations component -> api.

See https://backstage.io/docs/features/software-catalog/external-integrations#custom-processors where you should be able to emit a relationResult https://github.com/backstage/backstage/blob/master/plugins/catalog-node/src/api/processo

[2022-09-19 11:53] #13692 closed

[2022-09-19 11:55] benjdlambert commented on #13677
Oh nice! @mthidell do you want to create a PR with the suggested fix and we can get this shipped in tomorrows release? :pray:

[2022-09-19 12:01] benjdlambert commented on #13668
Hmm, so we've looked at this before, and maybe the scope was a little too big. There was the idea of being able to run the entire template.yaml including custom actions from CLI, but that's a little tricky unfortunately, as you need all of the `customActions`, and `templateFilters`. Which is hard without having the whole source checked out too. So then we're left of the idea of calling a running B

[2022-09-19 12:14] benjdlambert commented on #13674
Hmm so it looks like this is a bug in the upstream library. https://github.com/rjsf-team/react-jsonschema-form/issues/2564

Apparently you can use `oneOf` or `if/then/else` to fix this, but we don't support the `if/then/else` yet until we upgrade to #13428.

Maybe investigate using `oneOf` to workaround this issue. Some more info here: https://stackoverflow.com/questions/47649038/json-schema-condi

[2022-09-19 12:15] mclarke47 commented on #13648
The GKE cluster locator is set to use google auth, but a PR to accept other auth types would be good

code: https://github.com/backstage/backstage/blob/master/plugins/kubernetes-backend/src/cluster-locator/GkeClusterLocator.ts#L127

[2022-09-19 12:22] mclarke47 opened #13727 "[RFC] Use the Catalog to source Kubernetes clusters instead of `clusterLocator`"
**Status:** Open for comments

@backjo recently added the excellent addition to the kubernetes plugin where you could source EKS clusters through the Backstage catalog itself.

This would include moving the logic from the GKE, config, localKubeProxy cluster locators.

This way we could use the features that are built into the catalog, create relationships between components/clusters and possibly c

[2022-09-19 12:27] Rugvip commented on #13677
@mthidell was working on this as well to be sure to get it in the release tomorrow, ended up with #13728. There's still an unfixed issue where size errors are ignored, but leaving that for a later fix.

[2022-09-19 12:28] awanlin commented on #7860
@anisjonischkeit this is pretty awesome stuff, the UI above with the extra column that has the icon for errors or warnings! Would be great to see this contributed 🚀

As for the orphan part I strongly believe that this should simply be a config for the catalog and not an extra plugin that you install or a chunk of code you need to add by hand. The config would either delete the orphans immediately

[2022-09-19 12:38] benjdlambert commented on #13594
Hmm yes, so I actually think that we might have a fix for this, but it's dependent on a few things. #13428 and #13017. Basically what we want to do is enable the omission of extra data in the form state that doesn't meet the requirements for the jsonschema and then it should clean up the extra data that's in there from before.

[2022-09-19 12:42] Rugvip commented on #13472
@jpeach I'd say it's quite common to not use the SCM issue trackers, but some external tool instead. I'm thinking that this is something we could add if we make the about card more flexible and customizable, but until then I recommend that you use a custom one.

[2022-09-19 12:55] mthidell commented on #13677
@benjdlambert Can confirm that @Rugvip PR solves my issue :) Thanks!

[2022-09-19 13:02] benjdlambert commented on #13415
Thinking that it's probably worth waiting for the aforementioned knex ticket and we can probably do something with it, implementing this on it's own is probably not worth the effort I think right now.

[2022-09-19 13:09] benjdlambert commented on #12304
Hmm you could also use the `output` part to provide link to the created JIRA ticket though as part of that run, it's just a little confusing that the results page is still there. We're working on reimplementing some of this view also, so maybe it might make sense after the redesign.

[2022-09-19 13:10] benjdlambert commented on #13636
Going to close this as a duplicate of #12302

[2022-09-19 13:10] #13636 closed

[2022-09-19 13:12] benjdlambert commented on #8890
If no one picks this up, then feeling that maybe could work on this after #10430

[2022-09-19 13:12] benjdlambert commented on #8146
Think that a lint rule here makes a lot of sense too 👍

[2022-09-19 13:20] #13677 closed

[2022-09-19 14:06] Rugvip commented on #9582
@ericis not super thrilled about that idea for security reasons tbh, but it can be safe in some situations

[2022-09-19 14:23] cklewin opened #13730 "[Scaffolder] RepoUrlPicker allowedOwners selection changes automatically"
## Expected Behavior

When multiple allowedOwners are in the template, the user selects the desired owner and the selection remains while filling out the rest of the template form.

## Actual Behavior

When multiple allowedOwners exist, the user has to select the desired owner twice to get the selection to "stick", and also the selection switches back to the first option when the "Repository" fiel

[2022-09-19 14:26] freben commented on #12880
Hm, this is all getting a bit tricky. Let's see if I understood things correctly.

Would it be a (basic, but perhaps functional) solution if we had something like this that matched on the originating URL annotation?

[code]

This won't guard the immediate emission surface from the providers themselves (they can emit anything into the refresh table), but it would be a simple way of using an updated

[2022-09-19 14:27] kuangp commented on #13723
A workaround/solution for this is to cast the document to `AdrDocument`:
[code]

I also took a peak at how the other result list items components are typed and it seems they are currently marked as `any`: https://github.com/backstage/backstage/blob/8b8ccbe3eed6cd93e61d7220ac7e809c9d8a6c21/plugins/stack-overflow/src/search/StackOverflowSearchResultListItem/StackOverflowSearchResultListItem.tsx#L29-

[2022-09-19 15:58] iamEAP commented on #12543
I'm actually going to re-open this, as I think there's still quite a lot of interest in this area.

@regicsolutions: that sounds like a fantastic idea--something I bet the Catalog SIG would be interested in reviewing.  I'd recommend creating a separate issue to concentrate discussion and make sure it bubbles up to the SIG.

[2022-09-19 16:42] pjungermann commented on #13675
I would be interested in support for Bitbucket Cloud.

I wonder a bit how to make these kind of things (support for all SCM providers) easier. 🤔

[2022-09-19 16:44] pjungermann commented on #13590
related to issue #13675

[2022-09-19 16:49] taras opened #13735 "[Scaffolder] Client API for triggering scaffolder workflow from an entity page"
## Context

One of our clients has many scaffolder templates. They use templates as a starting point for activities on their platform. The list of templates is getting very long, and they would like to make the triggering scaffolder more contextual. In other words, they would like to prompt a user to start a scaffolder workflow without having to go to the Scaffolder create screen. We can imagine m

[2022-09-19 16:54] Rugvip commented on #13735
Do you think that exporting the existing `selectedTemplateRouteRef` through the scaffolder plugin might be enough for this? I'd say we need to look over the parameter names if we do that, thinking that `/templates/:namespace/:name` might be the way to go instead

[2022-09-19 16:58] pjungermann commented on #12892
I looked into this. The way how support was done for Bitbucket Server is not optimal as it drops edit support for other places like at the refs to the catalog files.

The root cause / issue lies at mkdocs as it does not support query parameters well. Unfortunately, there is no intention to change this. However, it is possible to have a plugin to handle these cases. This could be integrated (direct

[2022-09-19 17:16] pjungermann commented on #12880
@freben I guess this could cover a big chunk of use cases incl. ours.

As long as you can represent all Location targets / URLs with 1+ patterns without overlap, it will be good enough. But that is likely quite advanced.

And yes, for me it is only about Location emitting providers and what these might contain. (e.g., awsS3, bitbucketCloud, github, etc.)

[2022-09-19 18:13] pjungermann commented on #12830
sounds like issue #10277

not sure which version of mkdocs-techdocs-core you use

[2022-09-19 18:33] pedronastasi commented on #13597
Ok. To keep it simple, we can work on `aggregations`  only; however, we're really interested in that "superset as we need different parameters I mentioned and it's continuously expanding as we improve our search plugin. So, we have no option but to pass it through the generic JSON object for filters .

What we currently do is to pass aggregation in the following way as query  params:

[code]

and

[2022-09-19 18:36] pjungermann commented on #9733
@awanlin sounds like an interesting feature. Would you be up for contributing what you did?

[2022-09-19 18:37] pjungermann commented on #9923
As there is a separate replacement for both, I will close this issue. The legacy implementation will be removed at some point in the future.

[2022-09-19 18:37] #9923 closed

[2022-09-19 18:47] pjungermann commented on #10866
FYI: I'm looking into webhook support for Bitbucket Cloud. Currently, I plan to use SQS as buffer - but as part of a separate module. There could be a router-based option as alternative.
I have a rough working PoC which needs some more polishing.

[2022-09-19 19:05] pjungermann commented on #7151
@benjdlambert seems like this issue was resolved with the referenced PR and can be closed

[2022-09-19 19:30] pjungermann commented on #13190
@anicke seems like your PR resolved this issue and it can be closed, right?

[2022-09-19 19:42] pjungermann commented on #13638
The code itself looked fine but I can confirm the bug. I found a regression at the new config structure provided by `readProviderConfigs` at `config.ts`. The legacy config structure as support by `readMicrosoftGraphConfig` contains it. The `queryMode` config option was missed.

It can be fixed easily. @nhhagen do you want to give it a try? see lines 176..183 at the legacy function which need to ad

[2022-09-19 19:50] pjungermann commented on #11082
I consider using a queue (AWS SQS) as buffer and also to keep Backstage within the internal network only for a webhook integration for Bitbucket Cloud. A first PoC works fine.

[2022-09-19 20:16] nhhagen commented on #13638
@pjungermann I gave it a shot. Thanks for the guidance.

[2022-09-19 20:30] GoFightNguyen commented on #9616
Like the original post, through user interviews we have also discovered that almost no one realizes the catalog kind header is interactive until they are shown

So I'm "upvoting" this so that the default will be a better UX.

[2022-09-19 21:33] taras commented on #13735
It might be, but we need to be able to pass additional data to pre-populate the form.

With `useNativate`, we can pass a state object, but ideally that state would be stored in the URL so we can create those links without JavaScript.

How about a `state` or `formData` query parameter that's base64 encoded JSON?

[2022-09-19 22:57] bb-k8 opened #13741 "400 Error on publish:gitlab action to private gitlab instance"
Running into an error when trying to publish a template to a private gitlab server. The template is the default template provided with create-backstag-app. I've edited the publish action to publish to gitlab.

Relevant configs...

app-config.yml

[code]

template.yml
[code]
And the error message:
[code]

MY_TOKEN is a gitlab private access token with the scopes api, read_api, read_registry, write_

[2022-09-20 01:28] namco1992 commented on #12880
Maybe you want to provide a PR to improve this?

Yea I would love to if the maintainers agree too.

And what @freben proposed makes sense to me too, altho I think I will still reserve my opinion on the entity filter 😳 , I agree that it would be good if we can fix it for location emitting providers for now.

[2022-09-20 02:36] jpeach commented on #13727
I would use this if it was available. Having the clusters in the catalog as resources is a good opportunity to link to the owning team, as well as to link dashboard, pagerduty and so-on.

[2022-09-20 06:09] stichiboi opened #13745 "[Plugin] Grafana Graphs"
## Summary

I want to see a dashboard's graphs directly in Backstage

Ideally there is a component `DashboardGraphs` which takes in a single prop `dashboardId`

## Project website (if applicable)

I know a plugin for Grafana already exists: but this plugin just shows lists of dashboards. I would like to see the real graphs.
[Existing Grafana plugin](https://github.com/K-Phoen/backstage-plugin-graf

[2022-09-20 06:59] #13638 closed

[2022-09-20 07:37] Hanyman8 commented on #13402
Hello, is there a way to serve our own html in the techdocs? Thanks

[2022-09-20 08:11] freben commented on #12704
Hi! Hmm.

[Here](https://github.com/backstage/backstage/blob/8448b53dd6f5366ce27337e3a473b08b1d23b89d/packages/backend-tasks/src/tasks/TaskWorker.ts#L55) is the main worker function that stays alive for the lifetime of the service.

You'll see a tight inner loop that tries to run once, and then waits for `workCheckFrequency` (5 seconds).

But inside `runOnce`, if we ever get to the point of becomi

[2022-09-20 08:31] benjdlambert commented on #7151
Argh, I forgot to hit send on this yesterday:

Looks like the issue for rendering markdown in the description of `TemplateCard`'s is fixed, but it looks like this is the description field on the form components. So not stale and still up for grabs, worth looking at rjsf to see if there's any movement on this.

[2022-09-20 08:33] rodgomes commented on #6649
We would love something like that as well.
@Pike where in the card would you put this icon?

[2022-09-20 08:34] freben commented on #12704
Second reproduction attempt:

[code]

This triggers timeouts.

[code]

(actually you won't see those "timed out" logs, i just added those because i realized they would be really helpful to have)

Seems to still stay on a ten second cadence

[2022-09-20 08:39] freben commented on #12704
Third reproduction attempt, with a timeout that's _longer_ than the frequency:

[code]

Gives:

[code]

Interestingly, now it runs every 20 seconds (the timeout of one run affects the interval - but upwards, not making it shorter).

Hm I seem to be unable to trigger this, at least with a single worker machine.

[2022-09-20 08:44] freben commented on #12880
Yeah the thing with entity providers is, they are often (but not always!) made to emit exactly a specific thing. Like the org ingestion ones, they are utterly _unable_ to emit anything else than `Group` and `User` entities, by the way their code is written, so it'd be unnecessary extra work to have to also allowlist those kinds for that provider in your config. Same with most discovery-like things

[2022-09-20 09:03] freben commented on #11406
I'll start by recognizing this sentence, and this is a fact no matter what. They are different worlds and there's no existing edge between them.

So at that point, after performing the oauth dance with github, you will have more knowledge - by the fact that you know who the okta user is that performed the dance. And you will want to persist that fact so that you can remember it for the future.

It

[2022-09-20 09:43] #13701 closed

[2022-09-20 11:02] benjdlambert commented on #13735
`?formData=` and then some encoded json blob will work

[2022-09-20 12:02] afscrome commented on #13685
@jamieklassen Unless you have a reason for creating two, I'd try and get away with a single registration .  The purpose of an app registration is to represent an app.  The login and the azure resources backend are both hosted in the same app, so I don't see any reason to create two registrations.  If you create two registrations, the backstage app ultimately has access to both sets of credentials,

[2022-09-20 12:24] taras commented on #13735
It sounds like have a plan,

1. Export `selectedTemplateRouteRef` from [here](https://github.com/backstage/backstage/blob/2a7a21e9c5a7947bdbf34f5f56410d01750c83f6/plugins/scaffolder/src/routes.ts#L44)
2. Allow `selectedTemplateRouteRef` ref to accept a parameters that will be encoded json blob in `?=formData=` query parameter
3. Modify SelectedTemplate to load state similar to [how Template page d

[2022-09-20 12:34] benjdlambert commented on #13735
I don't think it's going to be possible to encode it into the `routeRef` to be honest, at least it's not at the minute. Use navigate with the query string might be the cleanest to be honest. Or of course you could wrap this up in a hook or something to abstract away the `useRouteRef` and have the query string be encoded in the the return of it? Up to you whichever you think is best.

[2022-09-20 12:56] taras commented on #13735
For now, we can just show an example of how to serialize formData parameter. Should I create another feature request to expand the Ref API to accept a constructor function that can be used to serialize the URL?

[2022-09-20 13:30] Pike commented on #6649
I'd probably put it in the card actions, next to https://github.com/backstage/backstage/blob/25b94e63455f1fb170506f9e84e3f430f4b79406/plugins/scaffolder/src/components/TemplateCard/TemplateCard.tsx#L210-L217.

In the meantime, I started wondering if this can be implemented w/out adding a dependency on the techdocs plugin.

[2022-09-20 14:01] #11289 closed

[2022-09-20 14:01] #11251 closed

[2022-09-20 14:01] #10224 closed

[2022-09-20 14:01] #10088 closed

[2022-09-20 14:01] #9971 closed

[2022-09-20 14:01] #9957 closed

[2022-09-20 14:20] #9827 closed

[2022-09-20 14:20] #9361 closed

[2022-09-20 14:20] #9062 closed

[2022-09-20 14:20] #8914 closed

[2022-09-20 14:20] #8559 closed

[2022-09-20 14:20] #8502 closed

[2022-09-20 14:20] #8466 closed

[2022-09-20 14:20] #8339 closed

[2022-09-20 14:37] #8081 closed

[2022-09-20 14:37] #8065 closed

[2022-09-20 14:37] #7953 closed

[2022-09-20 14:50] #7608 closed

[2022-09-20 14:50] #7503 closed

[2022-09-20 14:59] pjungermann commented on #11082
the filtering will be tricky with Bitbucket Cloud's repo:push webhook. It will not contain enough information to allow for such filtering and you would need to make API calls to do so which would harm the overall goal to reduce API calls in the light of rate limits.

Of course, this is very SCM provider specific as the events differ for them.

[2022-09-20 15:08] pjungermann commented on #11082
This information is not available at Bitbucket Cloud repo:push events
https://support.atlassian.com/bitbucket-cloud/docs/event-payloads/#Push

The logic for this would need to be put somewhere close to the provider.

[2022-09-20 15:18] #8102 closed

[2022-09-20 15:26] francescoben commented on #12075
hi @goenning, I'm facing the "payload too large" issue because my template has one image field and its value is the very long base64 string of the image. I tried to add this line in my backend/index.ts didn't work, could you tell me where to put this line exactly?

[2022-09-20 15:27] pedronastasi commented on #13597
We, then,  show them in the modal search
![image](https://user-images.githubusercontent.com/73761278/191299820-eccd8213-9819-4a4b-96ea-1d66f9e9bfdc.png)

[2022-09-20 15:32] kissmikijr commented on #9874
@camilaibs Thanks for checking in and sorry about the slowness of this, some things came up and it got de prioritized! I'd love to contribute this, though so may I ask a little bit more time ? I am planning to do this EOW.

[2022-09-20 16:00] ericis commented on #12302
@mehmetmalli I've updated this issue to include both `extra_css` and `extra_javascript`.

[2022-09-20 16:49] iamEAP commented on #13597
Hey again @pedronastasi!  Thanks for illustrating in more depth.  Wwhat a great user experience!

This conversation happened to align with an architecture ritual we have internally, and we were able to discuss this in a little more depth.  The main takeaway from the conversation is that: while we would like to support aggregations (and many other things) in the search query and result interfaces,

[2022-09-20 17:01] awanlin commented on #13675
👍 to the idea of using the `UrlReaders` for this so that way it works with Azure DevOps Repos and Bitbucket Server which is what we are using

[2022-09-20 17:48] #7393 closed

[2022-09-20 17:51] pedronastasi commented on #13597
Yes. I would like to be assigned to work on it

[2022-09-20 17:57] #7294 closed

[2022-09-20 18:40] pedronastasi commented on #13597
.passthrough
By default Zod object schemas strip out unrecognized keys during parsing.

[code]

Instead, if you want to pass through unknown keys, use .passthrough() .
[code]

[2022-09-20 19:08] #7212 closed

[2022-09-20 20:54] pedronastasi commented on #13597
Great!. Should I apply what i sent you up here?

[2022-09-20 20:58] iamEAP commented on #13597
That sounds reasonable to me! A test for the change would also be great. ...And a descriptive changeset as well.

(You can take a look at other recently merged PRs to get a sense of what that looks like.)

[2022-09-20 21:47] jamieklassen commented on #13727
@jpeach when you say "if it was available", what are you imagining? Having the catalog plugin include some custom pages for Resources of type `kubernetes-cluster`? Because the [`catalog` clusterLocator](https://backstage.io/docs/features/kubernetes/configuration#catalog) already exists:

https://github.com/backstage/backstage/blob/4e1a0ad45d031bb92e2bab3732e11eba3a4e8a1d/plugins/kubernetes-backend

[2022-09-20 23:36] jpeach opened #13762 "Kubernetes plugin CA certificates handling interacts badly with TLS verification"
## Expected Behavior

When the Kubernetes API server's TLS certificate is issued from a private CA, setting the "clusters.\*.caData" field should be enough to get TLS validation to work.

## Actual Behavior

Setting the NODE_EXTRA_CA_CERTS field results in the plugin logging "unable to verify the first certificate". I had to put the CA certificate in the NODE_EXTRA_CA_CERTS environment variable an

[2022-09-21 03:39] githoober commented on #10475
I have precisely the same issue.  I run backstage in Kubernetes with two pods - backstage (both FE and BE) and Postgres.  I also am getting the following error:

Does it mean I need to run Docker inside of a Kubernetes pod?

[2022-09-21 04:15] jpeach commented on #13762
Did some more experimenting. Looks like the problem was that I was setting the cluster `caData` field to the base64 decoded value (i.e. a PEM certificate). It seems to work as expected if I base64 encode the value into config.

Unfortunately that's pretty awkward to do because I'm getting the CA certificates out of Kubernetes secrets, so the bas64 decode is done automatically.

[2022-09-21 04:20] jpeach opened #13767 "Kubernetes plugin seems to fail the whole fetch if it does not have permission for one resource"
## Expected Behavior

When fetching resources, all the available ones should be returned.

## Actual Behavior

[code]

<img width="1044" alt="Screen Shot 2022-09-21 at 2 18 21 pm" src="https://user-images.githubusercontent.com/9917/191413373-66055f29-b6b8-4895-8a11-c52f44a3c748.png">

## Steps to Reproduce

Deploy the Kubernetes plugin with service account credentials for each cluster. Omit access

[2022-09-21 04:20] jpeach commented on #13767
/cc @mclarke47

[2022-09-21 04:55] webark commented on #4454
@freben two that I would suggest is

https://www.npmjs.com/package/typesafe-i18n
which looks super nice, but some like it is singularly maintained, and the use base is still growing

https://www.npmjs.com/package/i18next
This one is a pretty industry standard. A lot of places use it and it has pretty wide range of documented integrations with external systems.

I see pluses and minuses in both dir

[2022-09-21 05:04] webark commented on #4454
https://github.com/sibelius/ast-i18n

This also looks like an interesting project which could do a fair number of the initial heavy lifting maybe 🤷‍♂️ Might be worth a pass and a look?

[2022-09-21 05:23] jpeach opened #13768 "Support the caFile file in the Kubernetes plugin configuration"
## Feature Suggestion

As noted in https://github.com/backstage/backstage/pull/12911, the Kubernetes cluster `caData` field needs to be base64 encoded.

However, it looks like the Kubernetes client also supports a `caFile` field that reads the raw value from a file. This would work really well when Backstage is getting CA certificated from Kubernetes secrets volumes.

## Possible Implementation

I

[2022-09-21 05:23] jpeach commented on #13768
ref https://github.com/backstage/backstage/issues/13762

[2022-09-21 05:50] jpeach commented on #13727
Oh I skimmed over that line in the docs :)

What is ANNOTATION_KUBERNETES_AUTH_PROVIDER for?

[2022-09-21 08:44] freben commented on #7040
I think the main problem here is lack of time. I read up a bit on the excellent post from @kmikko now and this does sound like it might take some poking at our internals to support it. Worst case, making several providers; one per scope (e.g. something like a `msgraphAuthApi` separate from `microsoftAuthApi` so to speak, with explicit limitations in how they handle scopes).

Pinging @Rugvip

[2022-09-21 09:01] Rugvip commented on #7040
Yep thinking that a separate `msgraphAuthApi` or something like that is where we need to go with this in the end. One that doesn't have the conflicting default scopes. We'd need to duplicate the auth provider in the backend too, since session and scopes are persisted per provider. Would expect it to just be a duplicate registration of the provider factory in the backend though, not a complete sepa

[2022-09-21 09:02] gtestault opened #13771 "cost-insights: breakdown chart tearing in rendering"
## Expected Behavior

Breakdown chart renders without tearing.

## Actual Behavior

Breakdown chart sometimes has tearing issue in rendering:
![image](https://user-images.githubusercontent.com/22593117/191457228-7fcaf12a-7c7b-4bf5-9f1c-536f7ea2e389.png)

## Steps to Reproduce

Undeterministic. Does not happen everytime.

## Context

Prevents displaying of cost breakdowns for a lot of groups (more

[2022-09-21 09:14] pjungermann commented on #11082
@kissmikijr re webhook-backend

Adding a specific webhook installation to this plugin should be done like this:

Would you consider that all modules need to be registered there? Did I understand it right?

I would maybe see the webhook-backend as a dependency to the modules which then can register themselves to it. 🤔
And as a user, you decide which modules you need.

But maybe I misunderstood.

[2022-09-21 09:15] benjdlambert commented on #8047
Maybe one for after #10430

[2022-09-21 09:17] freben commented on #7040
@xShteff @kmikko As per the above, is this something you might want to contribute? If you get a PR up to get it started, we can help guide with whatever loose ends remains

[2022-09-21 09:22] tyrken opened #13774 "Stale hasMember relation left behind on Group after deleting User"
## Expected Behavior

Relations created automatically during earlier processing are trimmed if the cause for them to be created no longer exists.

## Actual Behavior

Stale `hasMember` relations continue to exist on a Group after the User it refers to (that did claim `memberOf` that group) is deleted, either via UI or API deletion.

## Steps to Reproduce

1. Add the YAML below to somewhere your Ba

[2022-09-21 09:27] tyrken commented on #7872
@benjdlambert if talking about "Relations not being deleted properly" please see my new issue https://github.com/backstage/backstage/issues/13774 for similar about `hasMember` between Group & User.  Where would the "discussion" take place?

[2022-09-21 09:47] freben commented on #13768
ping @mclarke47 here

[2022-09-21 11:34] anicke commented on #13190
@pjungermann It was automatically close due to inactivity. I will soon open that PR again.

[2022-09-21 11:42] #12805 closed

[2022-09-21 12:15] #13091 closed

[2022-09-21 12:19] angeliski commented on #13694
Make sense @freben

Maybe we could update the docs to put this info?

Do you have any suggestion to achieve this same result (a AND operation for equal fields)

[2022-09-21 12:33] dhpizza opened #13781 "Building techdocs documentation fails despite ``index.md`` being present"
## Expected Behavior

Having a ``myapp`` repo structure

[code]

Then trying to go to a docs section of `myapp` application in my backstage instance, I should see the rendered ``index.md``  documentation.

## Actual Behavior

Instead, the (actually really nice) _mic-dropped_ 🎤 👋  page suggests that there is an `index.md` file missing in the root of the docs folder:

![image](https://user-images.gi

[2022-09-21 12:35] dhpizza commented on #13781
PS: same asked in [discord support ](https://discord.com/channels/687207715902193673/1019948970778296340) without any feedback

[2022-09-21 12:41] agentbellnorm opened #13783 "Improve logging when generating techdocs locally and dependencies are not installed"
It has been reported that adopters experience friction when generating docs locally without python and mkdocs installed.

## Feature Suggestion

Check that `python` and `mkdocs` are installed before generating docs. Output helpful message if not.

## Possible Implementation

In [techdocs-node](https://github.com/backstage/backstage/tree/master/plugins/techdocs-node), when configured to generate lo

[2022-09-21 12:44] angeliski commented on #11406
This is very interesting. So you are saying I don't need **merge entities** just put the info in the Backstage token 🤔

Maybe this could create a chaotic catalog, because in some cases my service is owned by "user a-github" and others by "user a-okta"

Yes, I **really** want to merge those two entities, but I got your perspective now, totally makes sense.
When we start to solve this problem I will

[2022-09-21 12:50] freben commented on #11406
Alright!

And I'd add that if you WERE to actually want to produce merged user entities inside the catalog (maybe some profile data from place A, and the name from place B etc), then you really would have to do that merging "outside" anyway. Either in a custom entity provider that queries multiple systems, or in a completely external standalone service which you ingest from.

It may be interesting

[2022-09-21 15:01] taras commented on #13288
https://github.com/backstage/backstage/pull/13690 has a workaround using placeholders. I'm going to keep this issue open to keep track of this because I'm not sure if the placeholder solution is going to address the entire need.

[2022-09-21 15:05] vitokodev opened #13789 "`BitbucketRepoPicker` issue with custom hostname. `allowedOwners` field does not render a list when is provided"
This line is a headache for me since we have Bitbucket Server on premise (custom hostname)...
Can we just have a `host.indexOf('bitbucket') >= 0` or similar?

_Originally posted by @vitokodev in https://github.com/backstage/backstage/pull/12640#discussion_r976628237_

[2022-09-21 17:20] vitokodev commented on #13789
Understood. I will try to workaround this specific use case.
Thanks @pjungermann .

[2022-09-21 18:17] asaf-erlich opened #13792 "K8s Plugin Cluster 401 Error Still Shows Cluster With 0 Resources"
## Expected Behavior
When clusters are configured in backstage, but there are 401 errors because their permissions haven't been updated yet, I would expect those clusters to not appear on the page. Otherwise it's rather confusing to a user who's not familiar with the UI why they appear that way.

## Actual Behavior
When clusters are configured in backstage, but there are 401 errors because their p

[2022-09-21 18:19] asaf-erlich commented on #13792
It looks like one has to be a contributor to add a label, but this issue should probably have the `k8s-plugin` label. Thank you.

[2022-09-21 18:38] jamieklassen commented on #13685
Oh wow, I think my scope complaints in the "Use MicrosoftAuth as an OAuthApi" section of my first post are discussed quite explicitly in #7040

[2022-09-21 18:43] jamieklassen commented on #13685
Oh wow, I think my scope complaints in the "Use MicrosoftAuth as an OAuthApi" section of my first post are discussed quite explicitly in #7040. Comments from @freben and @Rugvip on that post actually suggest doing something similar to #13649 and introducing an `aksAuthApi` with strictly `6dae42f8-4368-4678-94ff-3960e28e3630/user.read` as a default scope.

[2022-09-21 18:53] asaf-erlich opened #13793 "Clusters With Same Name In Different Accounts Are Indistinguishable In UI"
## Expected Behavior
If a cluster has the same `name` in two different AWS accounts (let's say stage and production) I want the UI to have some way to distinguish them. Maybe that would mean it shows the aws account name or maybe the configuration includes a descriptive name or maybe there's a tag on the cluster resource. I am just reporting the problem and don't have a perfect solution yet since

[2022-09-21 18:59] jamieklassen commented on #13727
@jpeach when you add a cluster to your catalog, the value of the `kubernetes.io/auth-provider` annotation,

https://github.com/backstage/backstage/blob/51af8361dea2b8a08170ccafa51b7c7396ce9fdf/packages/catalog-model/src/entity/constants.ts#L53-L59

determines the [`authProvider` value](https://backstage.io/docs/features/kubernetes/configuration#clustersauthprovider) (e.g.  `serviceAccount`, `googl

[2022-09-21 19:15] asaf-erlich opened #13794 "Bad Cluster URL Fails To Load All Kubernetes Clusters Resulting in Almost Blank Page"
## Expected Behavior
When clusters are configured in backstage, but the URL is incorrect or for a cluster that has been destroyed so the url is pointing to an incorrect address, I would expect those clusters to not appear on the page but other clusters to appear just fine.

## Actual Behavior
If someone deletes a cluster in aws, something that the maintainers of their backstage instance have no co

[2022-09-21 20:26] imleozzito opened #13797 "not able to authenticate using auth0 authentication provider"
## Expected Behavior

When I'm logging in using an auth0 provider, the authentication popup must be displayed.

## Actual Behavior

I'm getting the following message:

[code]
<img width="651" alt="3464F758-DC87-4077-9701-02CC6A781E71" src="https://user-images.githubusercontent.com/105804599/191603319-1ae20738-e7ef-43fc-a8d7-2dc5f9ef8cc3.png">

## Steps to Reproduce

1. Start backstage app and back

[2022-09-21 21:13] pedronastasi commented on #13597
Sent a PR. https://github.com/backstage/backstage/pull/13795

[2022-09-21 21:27] howlowck opened #13799 "[RFC] Scaffolder: Enable TaskWorker to be Non-blocking"
**Status:** Open for comments

## Let's Make TaskWorker Non-blocking (in `plugins/scaffolder-backend`)

### Current State of the World:

Currently, the `router` of the `scaffolder-backend` creates the `TaskBroker` and [creates/starts the `TaskWorkers`](https://github.com/backstage/backstage/blob/51af8361dea2b8a08170ccafa51b7c7396ce9fdf/plugins/scaffolder-backend/src/service/router.ts#L225). The Ta

[2022-09-22 00:06] laxmaneppalagudem commented on #12673
hey there. i'm a bit new to node and backstage and was implementing the backend API auth following the official README and ran into the same issue mentioned at the beginning. i was able to use @tonyhsuclrous's bypass method to get it up and running. however i do see random 401s in my backend container logs for some official plugins with the stacktrace like below:

[code]

@freben is there an offic

[2022-09-22 03:28] namco1992 commented on #13727
Hi @mclarke47 @jamieklassen,

Just to chime in, I noticed that when using the catalog locator, the service account token is not set in the `clusterDetails` if we set the `authProvider` to `serviceAccount`. For other auth providers, there are the corresponding `KubernetesAuthTranslator` to [decorate the `clusterDetails`](https://github.com/backstage/backstage/blob/d1c04da5d0/plugins/kubernetes-back

[2022-09-22 08:14] freben commented on #13789
Closing as working as intended.

[2022-09-22 08:14] #13789 closed

[2022-09-22 08:16] freben commented on #13762
Can I close this, since the caFile fix likely is the right approach?

[2022-09-22 08:22] #7093 closed

[2022-09-22 08:23] benjdlambert commented on #13741
So I think that you want to drop the `token: MY_TOKEN` from `template.yaml` and it should start to work automatically as you have it defined in the `integrations.config` you shouldn't have to defined it twice. If that doesnt work then it could be something to do with the permissions for creating a repository in the right place. What are you setting in the `RepoUrlPicker` component as owner and hos

[2022-09-22 08:27] freben commented on #13535
Closing this for now since there are workarounds!

[2022-09-22 08:27] #13535 closed

[2022-09-22 08:39] Rugvip commented on #13797
Most likely related to #13586. @jrwpatterson, do you know what might be going on?

[2022-09-22 08:44] benjdlambert commented on #6649
I actually think that this has been done over here in https://github.com/backstage/backstage/pull/13662

[2022-09-22 08:46] Rugvip commented on #6111
Fixed by #9564

[2022-09-22 08:46] #6111 closed

[2022-09-22 08:54] Rugvip commented on #4454
@webark yep looks interesting! At a first glance I'm a bit worried about seemingly generated message IDs, it'll make API stability a bit troublesome

[2022-09-22 08:54] freben commented on #4234
Closing as a duplicate of the larger docusaurus 2 work

[2022-09-22 08:54] #4234 closed

[2022-09-22 08:56] freben commented on #4125
Noting that we now have backstage roles in package.json - this work should be easier now.

[2022-09-22 08:58] freben commented on #4068
I guess we're open to ideas basically :) Maybe it's one of those "anything is better than nothing" situations in just putting some clarifying icon or color or whatnot in there

[2022-09-22 09:23] freben commented on #13794
ping @backstage/warpspeed

[2022-09-22 09:24] freben commented on #13793
ping @backstage/warpspeed

[2022-09-22 09:24] freben commented on #13792
ping @backstage/warpspeed

[2022-09-22 10:02] freben commented on #13794
@asaf-erlich This sounds like a very worthwhile fix. Would you like to look into making a PR for it?

There are a few `Promise.all` that might apply, like [this one](https://github.com/backstage/backstage/blob/aa5679b64fa6e98fdfb2abba080eabb0343bc9f4/plugins/kubernetes-backend/src/service/KubernetesFanOutHandler.ts#L250), or [this one](https://github.com/backstage/backstage/blob/aa5679b64fa6e98fdf

[2022-09-22 10:05] mitchhentgesspotify opened #13806 "On commit: ".husky/_/husky.sh: No such file or directory""
## Expected Behavior

`git commit` should show editor

## Actual Behavior

[code]

## Steps to Reproduce

Unsure if this is somehow environment-specific, in which case: I'm on Fedora 36 running the `zsh` shell.
Then:
1. Modify a file
2. `git add .`
3. `git commit`

## Your Environment

- Output of `yarn backstage-cli info`:

[code]

[2022-09-22 10:08] a-gos opened #13807 "Authenticate API Request using a provider (Github)"
## Expected Behavior

Authenticate Backstage front & API request using the Github Provider.

I followed the [Authenticate API request](https://github.com/backstage/backstage/blob/master/contrib/docs/tutorials/authenticate-api-requests.md) and used the Github Provider with _usernameMatchingUserEntityName_ . The backstage should be able to authenticate with github and work.

## Actual Behavior

WIth

[2022-09-22 10:23] Rugvip commented on #13656
Does auth still work in development?

The two configs are merged together, so both the production and development provider should be installed, except of course the production vars are missing so it ends up empty.

I'd recommend using `app-config.yaml` as the base configuration file for local dev though, and a separate `app-config.production.yaml` for production. The `app-config.local.yaml` is a b

[2022-09-22 10:35] dhpizza commented on #13781
issue solved by changing node image in Dockerfile
node:16-bullseye-slim
to
node:16-buster-slim

[2022-09-22 10:35] #13781 closed

[2022-09-22 10:35] Rugvip commented on #12917
@Abhay-soni-developer yep the refresh token cookie will have updated when you refresh the page. The issue we want to fix here is that concurrent refreshes fail. Even though the session is still intact and you can do a manual refresh, it's an annoying behavior to open a tab and end up on the sign-in page.

[2022-09-22 10:58] KatharinaSick opened #13809 "Approvals for template steps"
## Feature Suggestion

When creating a new instance from a template, Backstage may need credentials to execute some steps. In our case, it needs Bitbucket credentials to create new repositories. We don't want that the user has to enter his/her Bitbucket credentials (or token) in any tool other than Bitbucket itself. Using global (mighty) credentials to create repositories may lead to privilege esc

[2022-09-22 11:26] freben commented on #13793
I believe the required information is present already in memory, right? Maybe the list could be smart and detect that there are duplicated names, and for those write e.g. the container identifier in parentheses after the name, or something like that. Might you be able to contribute a fix for that? 🙏

[2022-09-22 11:27] freben commented on #13792
Hm. I wonder if the error state is known by the frontend on a per-cluster basis or if that info got lost in the backend somehow. Let me know if you want to look into a fix.

[2022-09-22 12:06] benjdlambert commented on #13809
So for your use case especially, I would suggest looking at the pulling the users `oauth` token automatically from the `RepoUrlPicker` so that if you have the Bitbucket Auth Provider setup, it will just grab a token automatically and you don't need these God Tokens in the config.

As for the actual request, it's interesting. We've spoken before about being able to request more data from the user i

[2022-09-22 12:26] freben commented on #13730
Oh! That sounds like some sort of odd race condition or so. Are you able to have a look at fixing it? 🙏

[2022-09-22 12:37] jamieklassen commented on #13727
hey @namco1992 that's almost definitely an oversight in the implementation of the `catalog` clusterLocator that probably merits a separate issue -- there could be a separate annotation for storing the serviceaccounttoken on the entity itself, or we could have a massive bikeshedding conversation about storing secrets in the catalog!

[2022-09-22 12:39] freben commented on #13678
If I understand the idea right, the outcome basically is one less click. Well - same number of clicks, but not having to go to the user's page to find a card that has the same action items on it.

Bear in mind that at the time that the link is rendered, we usually don't have all of the user data present, so we'd have to load the entity asynchronously from the catalog based on the ref, to know what

[2022-09-22 12:49] freben commented on #13694
I don't think so, no. You could make two separate filter sets (one that matches on a, one that matches on b) with all of the other conditions duplicated. That way you'll get all entities that have one, the other, or both. And then post filtering in code.

Or keeping it simple and filtering only on one of the labels if you know that it's much less common of the two and, again, post filtering in cod

[2022-09-22 12:57] freben commented on #9616
Oh no - I see that `EntityKindPicker` does exist as an optional picker to put in your sidebars, but [its visual parts haven't been implemented yet](https://github.com/backstage/backstage/blob/cfb35984105fb37c23f5e0c425c99543f8428516/plugins/catalog-react/src/components/EntityKindPicker/EntityKindPicker.tsx#L53) :/ It's a pretty easy thing to add, [loading the available kinds like the header does](

[2022-09-22 13:08] Crevil commented on #9616
I made a rough draft in https://github.com/backstage/backstage/pull/12974 of this but turned out there were some things breaking with the kind filter. Maybe you can help answer some of the concerns in the PR?

https://github.com/backstage/backstage/pull/12974

[2022-09-22 13:12] KatharinaSick commented on #13809
Thank you for the suggestion. Unfortunately, this is not possible in our case as sometimes the users don't even have the permissions for some target projects as we have some projects where an approval is always required.

Nice! This sounds really interesting as well :)

[2022-09-22 13:40] wunderdogneo opened #13813 "Error when serving simple documentation with TechDocs CLI 1.2.1"
## Expected Behavior

I can serve TechDocs with

`npx @techdocs/cli@1.2.1 serve`

## Actual Behavior

I get the following error message in the browser (not browser-specific, happens in Firefox, Safari, Chrome):

[code]

## Steps to Reproduce

Create the following file tree:

[code]

`index.md` can contain any Markdown. `mkdocs.yml` should contain:

[code]

Running `npx @techdocs/cli@1.2.1 serve` i

[2022-09-22 14:07] webark commented on #4454
yea. I figured it would be interesting to see what it spit out and if it was helpful

[2022-09-22 14:22] asaf-erlich commented on #13792
Hello @freben , my team has a few quarterly goals we are trying to wrap up, but I plan to work on issues like this one in October, which is only a few weeks away.

[2022-09-22 14:22] asaf-erlich commented on #13794
Hello @freben , my team has a few quarterly goals we are trying to wrap up, but I plan to work on issues like this one in October, which is only a few weeks away. Thanks for sharing those two locations that will help me track down where the fix is probably located.

[2022-09-22 14:24] asaf-erlich commented on #13793
Hello @freben , my team has a few quarterly goals we are trying to wrap up, but I plan to work on issues like this one in October, which is only a few weeks away. That being said this is probably one where I don't know 100% if your suggested solution will be ideal. It depends on what information comes back from the resources and whether that information, such as the container identifier, is helpfu

[2022-09-22 14:28] kmikko commented on #7040
Unfortunately I'm not working on the same project anymore nor do I have access to Azure environment where I could easily test this kind of setup.

[2022-09-22 14:37] kamil-wojcik commented on #13656
I have similar issue, however I got failure not just warn

[code]

I put config in default app-config.yaml file, I tried using $env and env string interpolation.

[code]

[2022-09-22 14:57] freben commented on #9616
@Crevil I'd love for it to NOT be a multi select though. It'd be a MUCH smaller change. I experimented a bit on my hack time to just mimic what the heading thing does, but got frustrated with keeping the two properly in sync, so dropped it for now.

[2022-09-22 15:28] cklewin commented on #13730
I did take a look at some of the code attempting to understand, but unfortunately I couldn't determine the cause.  I agree, some race condition involving the onchange function along with the useState / useEffect usage.  After spending some time attempting to narrow it down, I wasn't able to fully understand what's being done so I opened this report hoping someone with more experience in the existi

[2022-09-22 16:01] mclarke47 commented on #13794
I think a fix here would be great, like you say these errors should be bundled in the error section of the cluster response, they shouldn't be a show stopping error

[2022-09-22 16:03] mclarke47 commented on #13792
I might also be good to highlight somehow that the accordion is showing the cluster with errors, so users know they are getting an incomplete picture

[2022-09-22 16:04] mclarke47 commented on #13727
Perhaps some guidance from the core maintainers about any other examples of secrets being stored beside catalog components would be good @backstage/catalog-core

[2022-09-22 16:19] jiawenh1 opened #13814 "/api/auth/github return timeout error in custom dns and 404 not found in local environment"
When I set up backstage in local enviroment and try to log in to github when the sign-up button shown
backstage will return `404 /api/auth/github` not found
and when I enter /api it will return 404 as well

For my production environment, I am deploying backstage into eks
the sign-in popup will be stuck in about:blank
And the whole app will be stuck in refreshing state till  this error appear`GET h

[2022-09-22 16:44] asaf-erlich commented on #13793
Yes that is similar to my original idea which is to include account name alongside the cluster name. Problem I originally saw with this is that the call to the api service doesn't currently have this information. A separate api call to the aws / cloud provider service might need to be made. But those are of course implementation details and the UX is more important, though I would hesitate to add

[2022-09-22 17:27] mclarke47 commented on #13793
A possible solution could be to add a metadata field here https://github.com/backstage/backstage/blob/master/plugins/kubernetes-backend/src/types/types.ts#L141 to populate this information, and retain this information somehow when we call `getClusters`.

Long term I think we would want to store this information on the cluster entity in the catalog ([RFC](https://github.com/backstage/backstage/issu

[2022-09-22 17:48] asaf-erlich commented on #13793
Yeah that seems like another good option.

[2022-09-22 18:18] DavidZemon commented on #13560
Okay, thank you both for the comments on this and sorry for the slow response. What if we queried for the list of branches (which responds with the commit IDs) and then find the matching branch in that response? I haven't tested this yet (I might do so later this afternoon) but it seems pretty straight forward and should completely bypass this issue with commit IDs from the ".../commits" endpoint.

[2022-09-22 23:30] #12808 closed

[2022-09-23 06:15] prasoon-pxc opened #13819 "plugin-todo not working while building docker image of backstage"
## Expected Behavior

Docker image should build successfully after doing configuring to-do plugin for backstage

## Actual Behavior

It is running fine using ``yarn dev`` but while building docker image from the same code giving below error while building

[code]

## Steps to Reproduce

-- Follow Below Link to install plugin
https://github.com/backstage/backstage/tree/master/plugins/todo

and then

[2022-09-23 07:39] cinlysobin opened #13821 "Allure Plugin: Allure report not getting populated"
## Expected Behavior

Allure report get populated in backstage once configurations in the following documentation is done.
https://github.com/backstage/backstage/blob/master/plugins/allure/README.md

## Actual Behavior

Report is not getting populated
![image](https://user-images.githubusercontent.com/47130315/191912213-d4e2703c-b5a1-4c27-a979-1f7a83494d9a.png)

## Steps to Reproduce

Followed all

[2022-09-23 08:21] #12587 closed

[2022-09-23 08:29] freben commented on #13774
Yeah, this is true. Relations "hang" off of entities, as emitted by processors when processing them. Relations are only deleted once the entity itself is _deleted_, not just orphaned. This is intentional; they do have a cause for existing, so to speak.

What you want to do here, is probably to not use processors for ingesting org data. If you use entity providers instead, entities are eagerly dele

[2022-09-23 08:39] freben commented on #13560
Is it as simple as having to URL encode the branch part of `commits/${branch}`? Sorry I don't have the product at hand to test with.

[2022-09-23 08:46] tyrken commented on #13774
Thanks @freben - but as I thought I said in step 5 of the repro, I **do** delete the User via such an automated script (it comes from an GitHub location created by the GitHub discovery provider - not sure if that therefor counts as a provider or processor itself).  The Group remains as intended, but with a relation ref'ing a User that has been deleted.

Is there an API which allows me to edit a Gr

[2022-09-23 08:50] freben commented on #13793
No strong preference on my part! I say go with y'all's guts for now on this one.

[2022-09-23 08:52] freben commented on #13727
Oh for sure no secrets _in_ the catalog, that's just opening them up to be seen by anybody anywhere. It'd have to be passed one way or the other as config to the backend plugin instead (maybe a cluster-to-token mapping or whatever makes sense in this context)

[2022-09-23 08:55] freben commented on #13814
Yeah you have to add the provider in your `packages/backend/src/plugins/auth.ts`.

https://backstage.io/docs/auth/identity-resolver

[2022-09-23 09:01] freben commented on #13819
Seems you have duplicate versions of `@backstage/catalog-client` in your project, that are mutually incompatible.

You may want to run `yarn why @backstage/catalog-client` and check who pulls in what, and perhaps doing some surgery in the relevant part of your `yarn.lock` to make it re-resolve to the same single version.

[2022-09-23 09:02] freben commented on #13819
Also, if you were on an older version of Backstage to begin with, it could be that if you added a very new version of the todo plugin that it's a better fit for a project that's been upgraded first.

[2022-09-23 09:08] prasoon-pxc commented on #13819
@freben --> Thanks for your reply, It is working fine while running as ```yarn dev```, but I will try to debug it with docker build

[2022-09-23 09:10] namco1992 commented on #13727
Yes I agree with @freben that we should avoid actually storing the secrets in the catalog. One approach could be replacing the current `NoopKubernetesAuthTranslator` for the service account with something else that can map the cluster to the service account token.
https://github.com/backstage/backstage/blob/93fcda09ced3f96b52f462291d8eafd1be72437e/plugins/kubernetes-backend/src/kubernetes-auth-tra

[2022-09-23 09:13] benjdlambert commented on #13799
Hey :wave: so first off thanks for writing such a detailed RFC! It's great to see!

We've actually been having some thoughts around this recently, and are wondering what the benefits of the event emitter interface actually is? Looking at the PR it's a breaking change, and wondering if there's really any need for it?

What we're thinking is that we actually probably need to fix the `polling` behavi

[2022-09-23 09:15] freben commented on #13774
Ah, right! Yeah, totally verified that as a problem, at least with the sqlite driver. Let me try to debug that further.

[2022-09-23 09:17] jiawenh1 commented on #13814
Hi @freben there is a default github auth in the code already:
[code]

[2022-09-23 09:34] freben commented on #13774
OK I see what's happening. Deletion happens exactly as it should and the relations are removed internally in the database tables, but the stitch step that rebuilds the final entity shape isn't run for the things that had relations around the deleted things. This is an oversight, but also one that's a bit tricky to address. I'll bring it up with the team.

[2022-09-23 10:43] rodgomes commented on #6649
that is indeed exactly what I was looking for, thanks for sharing the PR link

[2022-09-23 10:57] #8103 closed

[2022-09-23 10:59] jiawenh1 commented on #13814
I disabled the /api/auth
And when I enter repo url, it will stuck in refresh/pending mode as well. WIth  `/api/catalog/entities?filter=kind=template` will have `net::ERR_CONNECTION_TIMED_OUT` as well. Followed  by /`api/auth/github/refresh?optional&env=development net::ERR_CONNECTION_TIMED_OUT`

So` /api/auth` is connected with other `/api` ? I might be mistaken

[2022-09-23 11:12] jiawenh1 commented on #13814
More log after enter the entity file url and press `analyze button`
And if you go to the `network tab`, you will still see `/api/auth/github/refresh?optional&env=development` in request url
and causing everything in a pending state

So that just appear to me like `/api/auth` seems to be tied with other /api and somehow is blocking the other /api?
[code]
Hope this is helpful! ``

[2022-09-23 11:19] tyrken commented on #13774
Thanks @freben .  FYI I was/am using a Postgres DB.

[2022-09-23 11:28] DavidZemon commented on #13560
Unfortunately, no I don't think so. I tried using `%2F%` with the http client built into IntelliJ and got the same error. For completeness though, I will try with curl where I know no magic is happening behind the scenes.

[2022-09-23 11:45] #6914 closed

[2022-09-23 11:46] GLundh commented on #13717
We are willing to work on the issue, if you are willing to give some feedback on a possible solution. :) @camilaibs  ?

[2022-09-23 12:16] freben commented on #13774
Created a pull request to address this! https://github.com/backstage/backstage/pull/13825

[2022-09-23 12:52] #13774 closed

[2022-09-23 13:05] Pike commented on #12561
I've done some more investigation, and here's what I found:

bodyParser.json checks the limit on the uncompressed stream, and it's using the 100kb default limit from express (express.json is just body-parser.json).

Excluding `.git` is definitely helpful, but just my skeleton is 1M, so the only way I found was to actually specify a bigger limit in https://github.com/backstage/backstage/blob/93fcda

[2022-09-23 14:18] #11368 closed

[2022-09-23 14:26] freben commented on #7872
If anybody is seeing this: We meant to talk about it among the maintainers. And the great and detailed issue linked above should now be addressed!

However, we need to validate if the update path mentioned in this ticket also needs a similar fix.

[2022-09-23 14:34] DavidZemon commented on #13560
@freben, I've confirmed that escaping the `/` doesn't help:

[code]
[code]

And the working example:
[code]

[2022-09-23 14:35] freben commented on #2827
I'll reiterate here that I think that the root problem is that these empty states are just too large / noisy to begin with. I would prefer if they were very small and un-dramatic. Like a small text saying `No <thing> found. [more info]` or something like that, and you can click on the more info link to know what it's about and how to change that fact.

[2022-09-23 15:16] adamkadzban opened #13830 "Tech Radar: Entries overlap with Ring names"
## Expected Behavior

Entries in the Tech Radar should be clearly visible and not overlap with the Ring label.

## Actual Behavior

Tech Radar entries overlap and obscure the Ring label

## Steps to Reproduce

Example screenshot:
![image](https://user-images.githubusercontent.com/11964919/191994657-d8df5d2f-d942-4da9-926b-658a3090c0d6.png)

1. Create a Tech Radar
2. Add a bunch of entries to a Rin

[2022-09-23 15:28] adamkadzban opened #13831 "Tech Radar: Quadrant list of technologies scroll position resets on mouse move"
## Expected Behavior

When there are enough technologies in a quadrant to introduce a scroll bar, you should be able to hover over entries "below the fold" (that you have to scroll down to see) and not have the scroll position reset.

## Actual Behavior

Any mouse movements that cause the entry in the radar itself to change focus resets the quadrant scroll position

## Steps to Reproduce

Example

[2022-09-23 16:45] narwold commented on #7860
Is it just me @anisjonischkeit, or is your solution as posted missing a piece somewhere? Where does `scheduleOrphanRemovals` come from?

[2022-09-23 16:50] jamieklassen commented on #13727
@namco1992 this RFC does involve deprecating the config clusterlocator so you might not have to worry about compatibility.

Storing a big mapping of clusters (in the catalog) to serviceaccounttokens in the app-config does feel pretty unpleasant -- to muddy the discussion further, what if this RFC was also about deprecating the serviceaccounttoken auth provider? If you're going to have clusters in

[2022-09-23 16:50] mclarke47 opened #13832 "useCustomResources infinitely runs"
[useCustomResources](https://github.com/backstage/backstage/blob/master/plugins/kubernetes/src/hooks/useCustomResources.ts)

![Screen Shot 2022-09-23 at 12 48 43 PM](https://user-images.githubusercontent.com/6514980/192012053-9b7ff3af-5176-4881-926a-7fb0fecde93c.png)

[2022-09-23 17:02] freben commented on #13832
Oddly, I don't see that hook being called anywhere in the current code base 🤔 I must be missing something ...

![Screenshot 2022-09-23 at 19 01 56](https://user-images.githubusercontent.com/3097461/192013883-a83d0575-c9b0-41f5-90c9-dd529370cbcd.png)

[2022-09-23 17:03] freben commented on #13832
But if it indeed is that one anyway, a hunch based on just its shape: I'd guess the customResourceMatchers array comes in as a fresh new array every single time, leading the useCallback being triggered over and over etc

[2022-09-23 17:07] freben commented on #13832
Oh it probably is [useKubernetesObjects](https://github.com/backstage/backstage/blob/c02fda193d4d582ff955e007e1eebb3afe3d1206/plugins/kubernetes/src/hooks/useKubernetesObjects.ts#L33) instead then? But that one doesn't seem to have any risky inputs 🤔 Maybe the entire component that uses the hook is mounted and unmounted repeatedly instead then, for some other reason?

[2022-09-23 18:22] mclarke47 commented on #13832
I was using the `useCustomResources` hook externally and noticed it did this when I used it in the open source repo too, I'm gonna write a test to replicate then fix it so it doesn't regress.

[2022-09-23 19:05] dayadev opened #13834 "Registering components is sometimes taking too long to show up in the catalog"
## Expected Behavior

When I register a new component as per [this documentation](https://backstage.io/docs/getting-started/configuration#register-an-existing-component), it show up in the catalog as soon as its registered.

## Actual Behavior

Taking too long for the registered entity to show up in the catalog. sometimes from hours to days to never. When registering, it seems like it's successful

[2022-09-23 19:07] dayadev commented on #13834
Does it happen if there are huge number of entities like 50k entities?

[2022-09-23 19:21] howlowck commented on #13799
Hi @benjdlambert, thanks for the comment! I really had a lot of fun diving into Backstage and creating this RFC 😃

I'll summarize my interpretation of your comment, please correct me if I'm wrong on any point:
1. The PR has a breaking change: introduction of the `eventEmitter`. The Backstage Team's view is that the value of the eventEmitter doesn't warrant the impact of a breaking change.
2. We ca

[2022-09-23 23:12] theaccordance commented on #13656
Having a similar issue.  From what I'm gathering, it doesn't look like backstage is picking up on my `.env` file; if I plug the values directly into my config - it works, but that won't meet my security requirements for my organization

[2022-09-24 00:15] lucasteligioridis commented on #12826
Anything thoughts on this?

[2022-09-24 06:31] Crevil commented on #9616
So keeping it as single select like the existing one? That would make it simpler to implement I'm sure. Maybe I can find time next week to give it another go 👍

[2022-09-24 09:00] cloudoutloud commented on #13161
Sure I will raise a PR

[2022-09-24 12:28] freben commented on #13656
No, the default setup does not have dotenv installed, so that won't be leveraged unless you make it so.

[2022-09-24 12:30] freben commented on #13656
Note though that since thus is your own repo, you are also fully in control of your package commands. If you want to put env vars into the "dev" command in your package.json, you can. For example. And you could probably add dotenv as well.

[2022-09-24 12:44] freben commented on #12826
The gcs reader supports search patterns. I think you'll be able to just register a regular location (or having it in your config), that points to `https://storage.cloud.google.com/my-bucket/some-folder/*` or so, if the catalog files are under that keyspace.

I didn't verify this just now - am not at the computer :)

[2022-09-24 19:50] #12804 closed

[2022-09-24 21:53] #12743 closed

[2022-09-25 05:54] namco1992 commented on #13727
I see, but I wasn't expecting to eliminate the config cluster locator (or any other locators) in one future version, instead, I would prefer that we mark the current locators as deprecated and slowly fade out, which means that we would support both ways for a while. Similar to what we did in https://github.com/backstage/backstage/issues/10183. We run our on-prem kubernetes clusters, and we use the

[2022-09-25 10:39] #12676 closed

[2022-09-25 11:34] Parsifal-M commented on #5883
Hey, I'd like to help with this :wave:

Where would be the best place to start?

Thanks!

[2022-09-25 13:57] Rugvip commented on #13799
@howlowck Bit more context around (1) is that it was a conscious decision to go for the current async polling strategy with `claim()` rather than a callback-like pattern such as event emitter. The reason is that async polling tends to handle back pressure better. With event emitters and other callback patterns it gets pretty complicated if you want to communicate back to the source that you're not

[2022-09-25 19:52] theaccordance opened #13839 "[Plugin] BetterUptime"
## Summary

[BetterUptime](https://betteruptime.com/) is a monitoring tool that can provide public status pages and incident management workflows for teams.  BU monitors correspond to services and jobs in a production environment, so it would be beneficial to integrate this content into Service Entity Pages.

## Project website (if applicable)

Vendor Website: https://betteruptime.com/
Example Pub

[2022-09-25 20:04] theaccordance opened #13840 "[Plugin] CodeClimate Velocity"
## Summary

[CodeClimate Velocity](https://codeclimate.com/velocity) is an analysis tool used to quantity and measure metrics that are commonly viewed as strong indicators of a good engineering culture.  The content that this tool serves could benefit several sections of the Backstage portal:  From Users and Groups to Libraries, there are opportunities to aggregate content

## Project website (if

[2022-09-25 23:11] backjo commented on #13727
I wonder if the easiest solution here is to let clients plug in a custom AuthTranslator - allowing them to implement whatever custom logic they need to resolve the credentials. This may be something as simple as looking up a serviceAccountToken from the backstage config and adding it to the cluster - or a more complex setup such as generating/presenting a short-lived x509 credential.

For what it'

[2022-09-25 23:11] backjo commented on #13727
I wonder if the easiest solution here is to let clients plug in a custom AuthTranslator - allowing them to implement whatever custom logic they need to resolve the credentials. This may be something as simple as looking up a serviceAccountToken from the backstage config and adding it to the cluster - or a more complex setup such as generating/presenting a short-lived x509 credential.

For what it'

[2022-09-26 05:35] cinlysobin commented on #11563
Working fine with the latest release.
Thanks for the support

[2022-09-26 06:39] prasoon-pxc commented on #13819
It worked for me after uninstalling newer version of todos plugin and installing previous version which are as follows:

- @backstage/plugin-todo-backend@0.1.32
- @backstage/plugin-todo@0.2.11

[2022-09-26 06:39] #13819 closed

[2022-09-26 07:08] freben commented on #13814
How are you deploying this?

I note that you have base URLs in your config with `https://` and on two different ports. I wanted to check if you are terminating https _in node itself_ really, or if there's some proxy in front of it all.

What we do, is that we have a single authenticating reverse proxy in front of everything, and from the browser's point of view it's all on the same regular https p

[2022-09-26 07:20] freben commented on #13821
The error seems to be a CSP violation. Do you use the `@backstage/plugin-app-backend` plugin, i.e. serving the frontend from the backend service? If so, you can set CSP policies in your backend config, at `backend.csp`. For example,

[code]

Otherwise you'll have to make sure in whatever other applicable way in your serving infra, that the right `Content-Security-Policy` headers are set.

As for p

[2022-09-26 08:04] benjdlambert commented on #5883
Hey :wave: I'd recommend starting a new page on the microsite, take a look at the `docs/features/software-templates` folder and create another markdown file in there that can house this documentation. I'd like to see examples for the `RepoUrlPicker` and maybe the `EntityPicker` as a start. I'd like to see an example of some `yaml` with some examples of the different `ui:options` that you can pass

[2022-09-26 08:11] Parsifal-M commented on #5883
Sounds good, will take a look! You can assign to me if you like.

[2022-09-26 08:57] freben commented on #12756
Trying replicate. Starting on latest master, but I don't think the proxy code has changed in a long time.

1. Added the following to my app-config:

[code]

2. Tried to curl it:

[code]

   That does seem to be a response from newrelic at least. And logging req.url in the proxy itself, it does look like it tries to call `'/applications.json'`.

Hm.

[2022-09-26 09:10] #6666 closed

[2022-09-26 09:10] #6618 closed

[2022-09-26 09:14] Nitinvonage commented on #13730
we are also facing the same issue with the backstage version - 1.5.0.
It looks like the onChange event is re-rendering the component and its parent.

[2022-09-26 09:14] cinlysobin commented on #13821
@freben ,
adding backend.csp solved my issue.

Thanks for the solution.

[2022-09-26 09:14] #13821 closed

[2022-09-26 09:57] #6081 closed

[2022-09-26 11:26] benjdlambert commented on #5883
Perfect! Thanks! Assigned! 👍

[2022-09-26 11:29] p-kamath commented on #13194
@andrealmar - I faced the same issue, but in my case the issue was because of misconfiguration in the yaml (typo in the url). Also, I would try with app-config-production.yaml as follows where DOMAIN_URL is the URL that you need
`app:
  baseUrl: ${DOMAIN_URL}

backend:
  baseUrl: ${DOMAIN_URL}
  listen:
    port: 7007
    host: 0.0.0.0
  cors:
    origin: ${DOMAIN_URL}`

[2022-09-26 12:35] freben commented on #12792
#13655 as well

[2022-09-26 12:40] freben commented on #11563
Alright! Closing as fixed, please reopen if some issue persists.

[2022-09-26 12:40] #11563 closed

[2022-09-26 12:47] freben commented on #6649
Alright, closing as fixed for now!

[2022-09-26 12:47] #6649 closed

[2022-09-26 13:59] mclarke47 commented on #13727
I think in the short term we should move the client side auth cluster locators to the catalog method deprecate the GKE/AWS lookup cluster locators and keep the config cluster locator until we have a good secrets solution. I think there are some great suggestions here but maybe we just need to write out the requirements for the server side auth solution, i.e:

* Secrets are stored in a safe place n

[2022-09-26 14:29] mclarke47 commented on #13727
As a bit of an aside, I'm wondering if eventually we can leverage relationships between entities in the catalog to store information such as which cluster a service runs on, this could then be a `serviceLocator`. This would hugely reduce response times/number of fetches for users with a large number of clusters.

[2022-09-26 14:42] #5813 closed

[2022-09-26 14:51] tuler commented on #9250
I'm using the suggestions in this post but I'm still getting the following error:

[code]

[2022-09-26 14:59] e0d commented on #9250
Hard to guess without seeing your config.

[2022-09-26 15:05] tuler commented on #9250
This is my config:

[code]

[2022-09-26 15:40] #5753 closed

[2022-09-26 15:43] e0d commented on #9250
Does the user have permissions to that database?  If you login from psql as that user can you create a trivial table?

I had initially suspected that database property was not specified.

[2022-09-26 15:56] tuler commented on #9250
Yes, the user has permission to create a table. Just tested using the psql console.

[2022-09-26 17:07] e0d commented on #9250
Sorry should have asked this first.  Are you attempting to connect to Postgres on Heroku?  It wasn't clear to me from the thread that that was working for anyone.  I moved on to Postgres hosted elsewhere.

[2022-09-26 17:47] sabinasiddiqi commented on #12561
If backstage devs are not comfortable with increasing the size limit - would it be possible to increase the limit just for our own instances or would that cause issues with future backstage version bumps?

[2022-09-26 17:54] #12561 closed

[2022-09-26 20:16] freben commented on #9250
With the schema division mode it'll try to create a schema too first, per plugin - right?

[2022-09-26 20:36] ericis opened #13856 "TechDocs does not register `extra_javascript` from "mkdocs.yaml""
## Expected Behavior

The JavaScript file path(s) configured in "mkdocs.yaml" in the "extra_javascript" value should be registered on the page.

## Actual Behavior

The JavaScript configuration and files are ignored.

## Steps to Reproduce

1. Create a new TechDocs site with the `techdocs-cli` NPM package (`yarn` or `npm`)
2. Configure "mkdocs.yaml" with a custom JS file (e.g. "extra_javascript: [

[2022-09-26 20:38] ericis commented on #12302
@mehmetmalli I split the support for `extra_javascript` from this issue for `extra_css` to allow anyone to fix one and / or the the other independently.

[2022-09-26 20:45] e0d commented on #9250
Yes, for example, in my DB.

| Name             |   Owner   | Encoding |   Collate   |    Ctype    |    Access privileges    |
| ------------------ | ------------ | ------------ | ------------ | -------------- | ---------------------------- |
| backstage_plugin_app        | backstage | UTF8     | en_US.UTF-8 | en_US.UTF-8 |
| backstage_plugin_auth       | backstage | UTF8     | en_US.UTF-8 | en_US

[2022-09-26 21:22] #13832 closed

[2022-09-26 21:33] #12613 closed

[2022-09-26 21:34] howlowck commented on #13799
Hi @Rugvip, thanks for the context. I think I'm starting to understand more of the motivation behind the architecture. Let's see if I'm getting this right (please correct me if I'm mistaken in any way):
* The blocking polling is a way to throttle the TaskBroker from overloading the system.
* There needs to be a way for the TaskWorker to tell TaskBroker when to take tasks and when to hold off so re

[2022-09-27 00:21] jpeach commented on #13767
Just to follow up, 404 responses are handled correctly (i.e. when a cluster doesn't know about a resource, the error is displayed inline in the UI but other resources are returned). 403 responses cause the whole resource fetch to fail.

[2022-09-27 01:22] tuler commented on #9250
The following change makes me end up with the error #11218

[code]

[2022-09-27 07:45] freben commented on #13831
Alright, without digging too much into it, it sort of looks like it's due to the entire thing being redrawn when the active entry changes. Would you be willing to dig into the code and try to devise a fix? 🙏

[2022-09-27 09:07] iamEAP commented on #13681
Thanks for opening this up, @taras.  After you (and a handful of other folks in the `#search` channel in discord) had brought up incremental index updates as a possible need, we had a brief discussion on our side as well.

Some notes/questions that came up:

- **Simultaneous Incremental + Full Rebuild**: We had difficulty envisioning how the full rebuild and incremental refreshes could coexist in

[2022-09-27 09:20] casje896 commented on #13707
Hi! I'm new to this project and would like to try and contribute to this issue if that is okay?

[2022-09-27 09:20] freben commented on #13394
Why would this be keyed on entity ref? Aren't terms the same globally typically?

[2022-09-27 09:53] malin-mallan commented on #13831
Hi, my name is Malin and I am new to the open source community but I have worked with React and TypeScript before. I would like to contribute to Backstage.

I have manage to reproduce the bug and have start digging in to the code. Could i try to solve this bug?

[2022-09-27 09:55] freben commented on #11429
@tan31989 What he meant is, if this is on a fullscreen view as in the video above, it should probably be forced to adapt the view to the available viewport and not even being _possible_ to scroll it - and in those circumstances, zooming becomes natural

[2022-09-27 11:12] freben commented on #13840
Nice. Is this something you might be interested in contributing?

[2022-09-27 11:12] freben commented on #13839
Looking good! Is this something you might be interested in contributing?

[2022-09-27 11:31] suuus commented on #13015
This is about the Microsite Plugin marketplace, live view: https://backstage.io/plugins
![Screenshot 2022-09-27 at 13 30 13](https://user-images.githubusercontent.com/40822355/192514065-6324475b-9e83-48bb-9e8c-97a7f2da5554.png)

[2022-09-27 13:29] anisjonischkeit commented on #7860
That'll be the default export from `backend/src/plugins/removeOrphans.ts`.

[2022-09-27 14:04] per-oestergaard commented on #6039
Hi. Would it be possible to detect Safari and return a simple text document with 'Please switch to xxx'? This would avoid wasting time when this problem is re-discovered.

[2022-09-27 14:22] #5336 closed

[2022-09-27 14:22] #5079 closed

[2022-09-27 14:42] #8106 closed

[2022-09-27 14:42] #4717 closed

[2022-09-27 14:42] #4689 closed

[2022-09-27 14:57] #8109 closed

[2022-09-27 14:57] #4449 closed

[2022-09-27 14:57] #4336 closed

[2022-09-27 15:09] #8110 closed

[2022-09-27 15:09] #4205 closed

[2022-09-27 15:23] #8111 closed

[2022-09-27 15:41] #3366 closed

[2022-09-27 17:05] jiawenh1 commented on #13814
Hi @freben Many thanks! ❤️
You are right about the ports, I removed all the port numbers and it is working!
Also I cleaned all the cookies...

So basically if you have a domain you don't need to worry about the ports, ports are for local developments. Because if you have a domain, the proxy will send `/api` directly to backend?

Would be interesting to see more documentations on how the reverse pr

[2022-09-27 17:12] Crevil commented on #6039
Isn't it fixed in the latest release?

[2022-09-27 17:58] adamkadzban commented on #13831
I'm afraid my front end development skills are quite lacking, so if @malin-mallan wants to take a stab at it then I am fully supportive!

[2022-09-27 18:00] #2030 closed

[2022-09-27 19:24] #1204 closed

[2022-09-27 19:26] Crevil commented on #9616
New PR ready for review with single selection and also managed to make the state propagate correctly to the header. 🎉

https://github.com/backstage/backstage/pull/13869

[2022-09-27 22:05] lucasteligioridis commented on #12826
What name format do the files need to be? All must be `catalog.yaml` or something along those lines?

I assume this doesn't just scan the bucket recursively either?

[2022-09-27 23:34] sennyeya opened #13872 "Allow BaseUrl to be Relative"
## Feature Suggestion

Let users define baseUrl for both frontend and backend as a relative URL at webpack compile time.

## Possible Implementation

Pass in document.location.origin as a secondary argument to https://github.com/backstage/backstage/blob/master/packages/core-app-api/src/apis/implementations/DiscoveryApi/UrlPatternDiscovery.ts#L41 which will allow for relative resolution.

## Contex

[2022-09-28 04:26] webark commented on #12252
seems like there are a couple of places where this is getting impacted.. :(

https://github.com/backstage/backstage/issues/10701

namely (at least the ones I have come across"

[code]

[2022-09-28 05:32] MekkyMayata commented on #13194
@andrealmar were you able to get it resolved? I'm also running into a similar issue. somehow, requests for the backstage frontend (ec2) are still getting routed to localhost on the browser.
[code]

<img width="1391" alt="Screenshot 2022-09-28 at 00 19 41" src="https://user-images.githubusercontent.com/54307445/192694070-3c54608d-4d8a-4848-bf2b-bd2ffd1cc3b5.png">

[2022-09-28 06:22] webark commented on #12252
also https://github.com/backstage/backstage/blob/9896e7c2e26b0fcb102d8cd6a79939f493dd4bf5/packages/test-utils/src/testUtils/testingLibrary.ts#L43 is using `ReactDOM.render` rather than `createRoot`

[2022-09-28 06:56] p-kamath commented on #13194
The app-config.production.yaml must have valid backend URL. Did you try to replace the URL variables with fixed urls and check if that is working?
Also, if I am not wrong, the order of --config yaml in the final command has a significance. The production yaml should appear in the end

[2022-09-28 07:43] vorbrodt commented on #11429
Hello, new contributor here! :)

I would like to be assigned to this issue if it’s deemed suitable for a new contributor with experience working in frontend.

Just so I understand the issue correctly. The diagram should match the viewport and through that make it not possible to scroll up and down on the page, but instead zoom in and out on the diagram only. Or is there something more to it that I

[2022-09-28 08:06] freben opened #13873 "[Plugin] gitea"
[gitea](https://gitea.io/) is a self hosted "github clone". Making an integration with gitea would let adopters hook up the catalog and other Backstage products to it.

This would likely involve extending [the `ScmIntegrations`](https://github.com/backstage/backstage/blob/9896e7c2e26b0fcb102d8cd6a79939f493dd4bf5/packages/integration/src/ScmIntegrations.ts#L54
) interface, and making [a `UrlReader`

[2022-09-28 09:39] freben commented on #6039
It is meant to be, yeah. If it isn't, we're of course happy to have it reported separately with more additional details.

[2022-09-28 09:56] LvffY opened #13880 "Backstage 1.6.0 breaks Azure DevOps plugin"
## Expected Behavior

Be able to migrate the Azure DevOps plugin to backstage 1.6.0.

## Actual Behavior

Passing to backstage 1.6.0 breaks the Azure DevOps plugin.

When running our apps (that previously worked in backstage 1.3.0), I have the following error

![image](https://user-images.githubusercontent.com/37327656/192748499-bb94214d-a7ba-437f-bd46-844a469ddad4.png).

I see in my logs that my

[2022-09-28 11:13] zhivko-georgiev opened #13882 "MaxListenersExceededWarning present in the logs"
## Expected Behavior

No warnings of type MaxListenersExceededWarning present in the Backstage's logs.

## Actual Behavior

We have noticed that while browsing in the docs section of the Backstage's catalog, there are occurrences of the following warning message `(node:12) MaxListenersExceededWarning: Possible EventEmitter memory leak detected. 11 close listeners added to [Stream]. Use emitter.set

[2022-09-28 12:20] andrealmar commented on #13194
@MekkyMayata here is how I configured my `app-config.yaml`:

[code]

and here is my `app-config.production.yaml`:

[code]

after I did the above things started to work for me.

[2022-09-28 14:38] Joonpark13 opened #13891 "Permission authorization happening inside of the permission policy"
## Expected Behavior

We actually could see a few alternatives on expected behavior - would love consultation of intent from plugin author

## Actual Behavior

If an adopter installs the playlist plugin, features within the playlist plugin do not respect the [(presumably) intended behavior](https://github.com/kuangp/backstage/blob/3b8eb1500723dfc56ea46660b4c7a11367825011/plugins/playlist-backend/s

[2022-09-28 14:57] taras opened #13892 "[cli] versions.backstage.io is blocked by corporate proxies"
## Context

In Discord, there is a [support thread](https://discord.com/channels/687207715902193673/1024175067875266600/1024175067875266600) about challenges that folks behind corporate firewalls are having connecting to `versions.backstage.io`. This is happening in cases where the network is restricted. Usually, they'll have an internal NPM proxy to download packages, but `yarn backstage-cli vers

[2022-09-28 14:58] mclarke47 commented on #6109
first step https://github.com/backstage/backstage/pull/13871

[2022-09-28 15:02] Rugvip commented on #13799
@howlowck Yep, pretty much that!

Main thing I want to tweak there is the second alignment point. It could be useful to dynamically scale the number of available workers, although I'm thinking it's a little bit overkill.

I think the biggest improvement we could make to the system at this point is if all the scaffolder instances collaborated better to distribute the load. Right now it's only the s

[2022-09-28 15:04] freben commented on #13834
Yeah, but it's still a surprisingly long time. I wonder if your catalog is so overburdened, that its processing etc is piled up in an endless backlog and can't make progress fast enough.

Could it be that the database server is underprovisioned? Is there just a single backend instance handling all catalog load?

[2022-09-28 15:43] ankitapandey1106 opened #13893 "kid is not validated while trying to generate backstage internal token while passing the details manually from an end point"
I am trying to call the issueToken() method of TokenFactory.ts to generate the backstage token from an end point, in order to enable some validations while calling backstage's backend apis from an external service, the token generation is successful and on ecoding jwt token, all the headers and claims are exactly as we have in the originally generated backstage token but the while trying to hit th

[2022-09-28 15:46] taras commented on #13593
Based on the discussion in https://discord.com/channels/687207715902193673/1024700829854351502, we'll go ahead and create a PR.

[2022-09-28 16:39] MekkyMayata commented on #13194
Thanks, @andrealmar @p-kamath. I had to add the port to the URL, uncomment the cors settings and make a browser cache clear. It works fine now!

[2022-09-28 17:03] ara6893 commented on #13872
Current approach is to use
[code]
and then `new URL(config.getString('backend.baseUrl'), document.location.origin)` which should resolve to the right url for API discovery.

It looks like the app.baseUrl is working as expected.

[2022-09-28 18:17] kuangp commented on #13891
hmm ...

The original intent here was to follow the same convention as the catalog plugin as the example. In the same way that the default out of the box experience (from my understanding) does not inherently enforce any default policy (eg. any user can read/delete any entity) and it's up to the adopter to author their own policy as part of the permissions backend configuration to place the proper

[2022-09-28 18:20] howlowck commented on #13799
Thanks @Rugvip! I guess the point I want to reiterate is that just because a task is running (or has started) necessarily mean it's busy (or resource intensive). Most of our scaffolding tasks is simply fetching status requests from an external workflow orchestrator (Argo Workflows in our case). Since simply fetches use very little memory, blocking on the TaskWorker level seems inefficient.

I unde

[2022-09-28 18:24] Rugvip commented on #13891
I think the main thing to focus on are private/public playlists, the rest I believe is more of a grey area that is most likely fine to keep.

As a user I think it's fair to assume that private playlists are private, and that apart from perhaps some admins, I'm the only one that can see them. There also isn't any other use of the private/public distinction a part from access control. The tricky bit

[2022-09-28 18:32] Rugvip commented on #13799
@howlowck I think the best low hanging fruit to grab would be to refactor the `taskWorkers` option in `createRouter` to act more like a limit than a thing that actually instantiates that many task workers. That way you can set it to `Infinity` and call it a day.

[2022-09-28 19:47] jamieklassen opened #13897 "awkward scaling on diagram tab of system page in catalog"
## Expected Behavior

Graph is visible without scrolling vertically

## Actual Behavior

Large blank space around the diagram, which necessitate vertical scrolling to bring the graph into view

## Steps to Reproduce

1. Open https://demo.backstage.io/catalog/default/system/audio-playback/diagram in a wide browser window (`window.innerWidth` > 1400 and `window.innerHeight` ~ 150)

## Context

It se

[2022-09-28 19:53] kuangp commented on #13891
Fair point! I guess one thought I had was that an adopter may not want to support the distinction of private vs. public playlists and would like everything to always be pubic. However that would probably also require additional customization of the frontend UI to remove that option completely (which could potentially be part of future changes to expose more customization options, listed under "Fut

[2022-09-28 20:19] Rugvip commented on #13891
@kuangp I think as a general pattern it's best to make sure that a plain installation of a plugin does not lead to surprising or insecure behavior, even if it skips parts of the README. I feel that in this case it's perhaps not critical, but since you've ended up in the situation of setting a bit of a precedent here, I'd say it's needed. With that all I mean we should go for opt-out. That's unless

[2022-09-28 20:43] kuangp commented on #13891
hm fair enough! Then perhaps we can do something like
[code]
where `useDefaultPolicy` defaults to `true` is is overridable through the `createRouter()` options.

Or, alternatively if we can modify `PermissionEvaluator` with an API to accept and apply a default policy if enabled 🤔

[2022-09-28 22:25] howlowck commented on #13799
Interesting.. ok. Let's align on setting a threshold option for now (I'd be happy to work on the implementation). How would the `createRouter` know to either create a new worker or just let an idle worker pick it up?

[2022-09-29 00:39] webark commented on #13598
How does the striped table work with the subcontent? I know the current material table collapsible breaks the stripes cause it adds a row.

[2022-09-29 00:40] theaccordance commented on #13839
I do contribute to OSS so it is something I'm considering, I may also seed the idea to the vendor - I have an established line of communication with them already

[2022-09-29 00:42] theaccordance commented on #13840
Potentially, I'll start with my first suggestion but I could see myself diving into this.  I'm going to also seed the idea with the vendor next time I have a check-in.

[2022-09-29 00:52] theaccordance commented on #13656
@freben Much appreciated with the additional context!  Based on what you've shared, I'm going to alter my solution a bit and have my Secrets Tooling (1Password CLI) generate a git-ignored version of that file for developers to use locally.  That solves my control needs around things like the integration tokens.

[2022-09-29 07:54] angelbarrera92 commented on #6693
Any chance to get it public?

[2022-09-29 07:56] dschwank commented on #10121
@freben as https://github.com/backstage/backstage/pull/13570 is merged, we could close this one - right?

[2022-09-29 08:25] namco1992 opened #13901 "[Tech Insights] Support running fact retrievers in a multi-instance installation"
## Feature Suggestion

Support running fact retriever tasks across multiple instances.

## Context

In the [Tech Insights plugin README](https://github.com/backstage/backstage/tree/master/plugins/tech-insights-backend#running-fact-retrievers-in-a-multi-instance-installation), it says that:

It suggests that we can use some environment variables to indicate if the retrievers should be registered.

[2022-09-29 08:33] namco1992 commented on #13794
Seems to be related to #13794 too.

[2022-09-29 09:23] Rugvip commented on #10121
Yep, thank you! 👍

[2022-09-29 09:23] #10121 closed

[2022-09-29 09:30] Rugvip commented on #11429
@vorbrodt Thank you! I think it's a good one, there might be a bit of fiddling with styles, but hopefully no deep knowledge of the Backstage codebase required. And yep, that's my understanding too.

[2022-09-29 09:33] Rugvip commented on #12252
No specific plans for what release we might target for this so far.

Happy for any contributions that help chip away at this though! Be it type fixes, updates to use `createRoot` behind some kind of version check, or just digging into more requirements.

[2022-09-29 09:36] Rugvip commented on #13897
I'm think we want to go for the same solution as #11429, making sure that the diagram fills the screen, but not more. Just to avoid duplicate work I think it's best to let that one settle first, and apply the same fix everywhere.

[2022-09-29 09:42] Rugvip commented on #13893
Going to close this as a duplicate of #11158. The `issueToken()` method is for user authentication, so you don't want to use that one for service-to-service auth.

[2022-09-29 09:42] #13893 closed

[2022-09-29 09:45] Rugvip commented on #13891
Yep I think something like the first thing you're suggesting, can iron out details in review.

The `PermissionEvaluator` approach sounds like a more complex way to achieve the same thing I would think? So probably not that 😅

[2022-09-29 09:56] Rugvip commented on #13880
I'm not able to reproduce this in the example app. What does the installation of the extension look like? It should be something like this:

[code]

[2022-09-29 10:04] Rugvip commented on #13814
Alright, sounds like this was resolved so going to close 👍

Please let us know if there's anything else, or you can open new issues for separate topics

[2022-09-29 10:04] #13814 closed

[2022-09-29 10:07] Rugvip commented on #13767
Would imagine this is fixed as part of #13794 too, so any work on either of them should be coordinated. Might even be that we should close this one as a duplicate?

[2022-09-29 10:08] Rugvip commented on #13707
@casje896 sure, thank you! 👍 Any kind of new tests for the Jenkins plugin would help

[2022-09-29 10:15] Rugvip commented on #13656
Great! I think we can close this now right? Let us know if there was anything that we missed, or open up new issues for separate topics

[2022-09-29 10:15] #13656 closed

[2022-09-29 10:16] awanlin commented on #13880
Just wanted to comment that this is working fine for us without any issues on 1.6.0 - we only use the Builds (CI/CD) and Pull Request views though. But I would suspect that the other features should be fine too. We also have migrated to React Router 6.0 as per the docs: https://backstage.io/docs/tutorials/react-router-stable-migration

[2022-09-29 10:22] Rugvip commented on #13394
I'm curious what benefits this would have compared to a glossary page in the entity TechDocs? I could see the CRUD operations being a differentiation, but also quite a bit of work to implement fully?

[2022-09-29 10:44] mist3r3 commented on #7285
Any news on this issue? I can't see any solution for that...

[2022-09-29 10:48] Rugvip commented on #7285
@mist3r3 yep! see #13872. It can already be done by setting the `app.baseUrl` config at build time though.

[2022-09-29 11:03] mufaddal7 commented on #13394
@freben Terms will be used globally, but linking them to refs can help them map to the respective software catalogs as well (especially mapping it with catalogs from KIND: Group and Domain). We can even make components in the EntityCatalog page for displaying terms associated with that respective catalog. Mapping it with entity ref also helps in distinguishing between terms with duplicate names. O

[2022-09-29 11:04] iamEAP commented on #12877
Hey @viraptor!  Since you opened this issue, we actually introduced a new component `<SearchResultGroup />` in https://github.com/backstage/backstage/pull/13561, which implements exactly this.  You can check out what it looks like and how to use it in [the storybook](https://backstage.io/storybook/?path=/story/plugins-search-searchresultgroup--default).

We're not sure it's appropriate for _everyo

[2022-09-29 11:04] #12877 closed

[2022-09-29 11:20] Rugvip commented on #12826
@lucasteligioridis I think that generally all of the object storage readers assume that all matching objects are catalog entities, so there's no filtering on filenames, it's all assumed to be entity definitions.

Don't know whether it's recursive or not tbh, but I think we try to keep it close to the other providers and what the gcs library does by default.

Overall I'd say It'd be nice to add GCS

[2022-09-29 12:12] lceconi commented on #11003
@emmaindal @garyniemen Can we reopen this issue? I'm still experience the same behaviour @iammnils described.

[2022-09-29 12:36] Znarvl commented on #13015
Hi! I'm new to this project and would like to work on this issue. Is it still open?

[2022-09-29 12:56] kuangp commented on #13891
Ah this idea was more for abstracting this pattern into the permissions framework so other plugins can easily apply the same convention in the future but probably something to revisit down the road 🙂

[2022-09-29 12:58] Znarvl commented on #13015
Great, thanks!

[2022-09-29 14:13] jamieklassen opened #13914 "[catalog-graph] "go back" after clicking "view graph" in the catalog"
## Feature Suggestion

When you are viewing a page in the catalog plugin and you encounter a CatalogGraphCard (like in a [Component overview](https://github.com/backstage/demo/blob/5909d76046d193d606e8f79f1fbb4bef72ff15bf/packages/app/src/components/catalog/EntityPage.tsx#L150) or on the [diagram tab](https://github.com/backstage/demo/blob/5909d76046d193d606e8f79f1fbb4bef72ff15bf/packages/app/src/

[2022-09-29 14:43] awanlin commented on #13840
Looks like there might be a foundation to add this on to: https://github.com/backstage/backstage/tree/master/plugins/code-climate

[2022-09-29 14:46] kumarnil opened #13916 "Getting error after upgrading backstage version form 1.4 to 1.6"
## Expected Behavior

Backstage upgrade should work form version 1.4 to 1.6

## Actual Behavior

Getting error after upgrading backstage version form 1.4 to 1.6

## Steps to Reproduce
17:16:20 Step 31/59 : RUN yarn --cwd packages/backend backstage-cli backend:bundle --build-dependencies
17:16:20 ---> Running in b389b0c4a58b
17:16:20 yarn run v1.22.19
17:16:20 $ /app/node_modules/.bin/backstage-cli

[2022-09-29 15:12] iamEAP commented on #8468
Also linking https://github.com/backstage/backstage/issues/9162 from a page size perspective

[2022-09-29 15:31] trankchung commented on #6811
This works if I set `backend.database.connection.directory: /abs/path/to/sqlite/db/folder`.

[2022-09-29 17:05] mtlewis commented on #13891
What about handling this logic in configuration, rather than through createRouter options? Feels like it makes it a bit easier to document the behaviour, and also seems like a nicer standard to encourage people towards: you can enable and disable the permissions framework completely by toggling `permission.enabled`, and you can enable and disable integration with permissions per-plugin by toggling

[2022-09-29 17:20] Manish3323 commented on #13665
+1 to @benjdlambert we are also doing this in one of our template

[2022-09-29 17:54] Expalex commented on #13598
[**Enhanced Collapsible Table Stripe**](https://www.figma.com/proto/0Xd7SAi2rIDmahyGZtzydT/Enhanced-Table?page-id=416%3A1550&node-id=416%3A1760&viewport=229%2C381%2C0.31&scaling=scale-down&starting-point-node-id=416%3A1760) (Figma) shows how rows with stripes would behave.

[2022-09-29 18:11] jamieklassen commented on #13794
@namco1992 did you mean to post that comment somewhere else, or link to a different issue? This is #13794 right here!

[2022-09-29 19:59] asaf-erlich commented on #13794
I believe he meant https://github.com/backstage/backstage/issues/13767 which mentions this issue above.

[2022-09-29 20:01] taras commented on #13681
Hi @iamEAP, thank you for a thoughtful response.

I don't have a complete answer to this question, but it bares some resemblance to the problem of doing full ingestion and webhook-based ingestion in the Catalog. Even the APIs that Entity Providers expose to commit entities resemble those of the ingestion mechanism in Elastic Search. Creating [Incremental Backend Ingestion](https://github.com/thefr

[2022-09-29 23:06] asotog opened #13935 "Backstage 1.6.0 mkdocs started to fail suddenly"
## Expected Behavior

Mkdocs should generate properly

## Actual Behavior

<img width="1326" alt="image" src="https://user-images.githubusercontent.com/813023/193157261-46ef9351-59f2-4f78-9c3e-5350b0312f0f.png">

 Failed to build the docs page: Could not read MkDocs YAML config file mkdocs.yml or mkdocs.yaml for validation; caused by Error: ENOENT: no such file or directory, open '/var/folders/kd/

[2022-09-29 23:22] asotog commented on #13935
I think the issue started to happen after adding the second prop
[code]

[2022-09-30 02:19] jpeach commented on #13762
Closing in favor of #13768

[2022-09-30 02:19] #13762 closed

[2022-09-30 08:58] #10035 closed

[2022-09-30 08:58] #8842 closed

[2022-09-30 10:02] LvffY commented on #13880
@Rugvip @awanlin Thanks for your answers :)

After some digging, I found the error came from the **overview** content. To be explicit, I had the following **EntityPage** :

[code]
Just by commenting the part in the **overviewContent** I made my backstage work again. Is there anything I'm missing ?

cc @Neemys

[2022-09-30 10:25] SSKLCP opened #13938 "Unable to publish with publish:azure"
Hi there,

Just trying to spin up a demo version of Backstage and get it working with Azure DevOps but I can't seem to get publish working.

I feel like it's something I'm doing wrong but I've tried to follow any advice (where possible) for it.

This is the error message that I get:
![image](https://user-images.githubusercontent.com/62546866/193249387-58585998-4a61-4fd1-a3a8-735c66631dfd.png)

For

[2022-09-30 10:31] LvffY opened #13939 "Unable to see online images in my techdocs"
## Expected Behavior

The techdocs render should print my online images. In my case, they are some public images from lucidcharts.

## Actual Behavior

Any online image is loaded when I look at my techdocs inside my backstage instance.

![image](https://user-images.githubusercontent.com/37327656/193250693-6d8de4c0-f1b6-4c88-9517-cf2e961d6ff2.png)

## Steps to Reproduce

1. Generate a techdocs and

[2022-09-30 10:42] punkle opened #13940 "Enable the ability to download static files from mkdocs templates"
## Feature Suggestion

Enable the ability to download static files from mkdocs templates

## Possible Implementation

I have not looked into how it might be implemented.

## Context

If you add a link to a static json file like the following, I would expect that backstage would render the file somehow within backstage or allow the file to be downloaded:

[code]

Instead it is showing a 404 error p

[2022-09-30 10:48] #11653 closed

[2022-09-30 11:15] PavelPolyakov commented on #11478
It's not stale, since it's not fixed

[2022-09-30 11:25] Rugvip commented on #13935
Couple of Qs to try to narrow this down:

1. How do you ingest entities? Is it via manual registration or discovery?
2. Does it work if you remove the `backstage.io/source-location` again?
3. Do you have integration set up towards `bitbucket.org` with credentials to fetch content?
4. Does the `backstage.io/source-location` value point all the way to the `catalog-info.yaml` or equivalent?

[2022-09-30 12:33] #6763 closed

[2022-09-30 13:01] #5696 closed

[2022-09-30 13:06] acierto commented on #5535
Have the same issue on backstage 1.6.0 without `skipper`.

Just running a command which takes a while to execute

[2022-09-30 13:08] mitchhentgesspotify commented on #13806
I had to run `yarn prepare`

[2022-09-30 13:08] #13806 closed

[2022-09-30 13:10] benjdlambert commented on #5535
Do you have any other form of proxy in front of the Backstage backend @acierto?

[2022-09-30 13:10] benjdlambert commented on #5535
Or ingress for that matter?

[2022-09-30 13:12] acierto commented on #5535
We run backstage in k8s cluster

[2022-09-30 13:32] #12788 closed

[2022-09-30 13:32] #6360 closed

[2022-09-30 13:32] #4123 closed

[2022-09-30 13:47] mitchhentgesspotify opened #13947 "Tweak typescript config: use Project References in local development"
We can improve developer lint-iteration time by leveraging [TypeScript Project References](https://www.typescriptlang.org/docs/handbook/project-references.html)

## Feature Suggestion

The fastest way to have TypeScript lint a large repository like `backstage` is to have it pretend everything is in "one big project", and lint it all in one go.

However, when developing locally, TypeScript is run m

[2022-09-30 14:00] #12745 closed

[2022-09-30 14:01] #11537 closed

[2022-09-30 14:17] #13322 closed

[2022-09-30 14:36] diznq opened #13949 "Dependency hell when installing Cookiecutter"
## Expected Behavior

After installing plug-in, application compiles and works

## Actual Behavior

After installing plug-in using `yarn add --cwd packages/backend @backstage/plugin-scaffolder-backend-module-cookiecutter`, application doesn't compile, because `yarn` install multiple different versions of `@backstage/integration` and `@backstage/backend-commons` at the same time, in our case before

[2022-09-30 14:43] #10835 closed

[2022-09-30 15:15] Rugvip commented on #13935
Hmm, not finding anything there's that's suspicious to be honest. One more Q that might help clear things up, what's the value of the `backstage.io/managed-by-location` of one of the failing entities? Especially compared to the value of the `backstage.io/source-location`. I would expect the difference to be that there's a `catalog-info.yaml` or similar at the end of `backstage.io/managed-by-locati

[2022-09-30 15:53] haagenson commented on #7094
Are there any updates to when Backstage will be upgraded to use MUI5?  We have some teams wanting to move their react components over to our installation of Backstage, but they were already written in MUI5.

[2022-09-30 16:00] theaccordance commented on #13839
I sent a formal feature request to the vendor today, linking back to this thread.  If you happen to be a community member wanting this plugin, please indicate so in this issue to help validate a need for it.

I'm still not opposed to authoring it myself, but React is not a strong skill of mine - my App development days were Angular before I moved into a leadership role for devops.  In the mean tim

[2022-09-30 16:03] Rugvip commented on #7094
To be honest the maintainer team likely won't have time to focus on this for the rest of the year. It's at the top of our migration list but got a lot of other things going on.

Any help would be appreciated, especially investigations into what needs to be done. For example, what happens if you try to use those MUI 5 components today? In what way do things explode? 😅

[2022-09-30 16:28] afscrome commented on #13916
A number of changes to the CLI commands were made with 1.4

[2022-09-30 16:29] afscrome commented on #13916
Backstage 1.4 made a number of changes, including hte removal of the `backend:bundle` command.  See the change log for recommended replacements: https://github.com/backstage/backstage/blob/master/docs/releases/v1.4.0-changelog.md#backstagecli0180

[2022-09-30 16:35] webark commented on #7094
I'd also like to see what the reverse is. (if backstage core was upgraded, how could mui4 components still work)

I'd be curious what the effort to get "backstage core/proper" upgraded would be using a code mod.

https://github.com/mui/material-ui/blob/master/packages/mui-codemod/README.md#-preset-safe

One of the more annoying things would be any inflight PRs breaking.

I'd say bolting on mui5 co

[2022-09-30 18:08] #11113 closed

[2022-09-30 18:22] guillermomanzo commented on #13799
@rodmachen @OscarDHdz  fyi - Do we need to setup a chat to agree on the solution? We are already working on this internally to contribute back, and would be happy to align with the community as to not duplicate effort hahaha - @Rugvip do you see a need to have a SIG for scaffolder backend?

[2022-09-30 18:34] Rugvip commented on #13947
👍

I wanna highlight another option here too, which is to do something similar to this, but for local dev:  https://github.com/backstage/backstage/blob/16889b6ea7e57c35fad5b652c42eab3aab1d85ce/scripts/api-extractor.ts#L268

It's a temporary TS config that focuses in on the part of the project, rather than including all packages

[2022-09-30 19:56] rutviklhase commented on #13830
Hi, would love to contribute to this!
This will be my first time contributing to open-source.
I'm decently good with JS/TS and ReactJS. Would love to hear a response from you :)

[2022-09-30 20:39] asotog commented on #13935
looks something like
[code]

[2022-09-30 20:43] taras opened #13952 "Add native support for secret managers to Backstage config"
## Context

One of our client is a financial institution that has very rigid security requirements. They do not allow storing credentials in environment variables or anywhere in memory. They recommend that the application calls the secrets manager anytime it needs credentials or a token. Implementing this requirement in the project is difficult because most Backstage plugins assume that the config

[2022-09-30 22:49] Rugvip commented on #13916
@afscrome thanks!

Linking straight to the migration guide that replaces usage of the removed commands as well: https://backstage.io/docs/tutorials/package-role-migration

Gonna close this since it's working as intended (please migrate)

[2022-09-30 22:49] #13916 closed

[2022-10-01 01:50] webark commented on #10533
This has been fixed with the updates to react router 6 Thanks so much!!

[2022-10-01 01:50] #10533 closed

[2022-10-01 08:21] freben commented on #13799
We do want to expand on the number of SIGs for sure! That's the intent, but we've been focusing on learning from the development of one SIG to begin with, so we know how to best scale things up. It'll probably be a little bit longer until we roll out the second, third one etc.

[2022-10-01 09:30] #11471 closed

[2022-10-01 09:31] #4104 closed

[2022-10-01 09:57] #12487 closed

[2022-10-01 09:57] #12449 closed

[2022-10-01 10:08] #12411 closed

[2022-10-01 10:21] Sonofigma commented on #2827
@freben I think I design a less noisy yet really efficient empty state for the page & also make it responsive for all screen/widget size

[2022-10-01 10:23] Sonofigma commented on #2827
I would love to get the issue assigned to me @freben @backstage-service

[2022-10-01 10:31] Sonofigma commented on #13598
Yeah, @Expalex have a point with making the tables collapsible and this would help users to determine what exact table and details they would love to get uncovered by toggling the chevron icons. I can design such tables on Figma, I am proficient with it.

[2022-10-01 14:32] #5310 closed

[2022-10-01 14:54] kumarnil commented on #13916
Issue is fixed by changing the below line of code in the dockerfile.
#RUN yarn --cwd packages/backend backstage-cli backend:bundle --build-dependencies
RUN yarn --cwd packages/backend backstage-cli package build

[2022-10-01 18:34] ericis commented on #9582
@Rugvip re: security concerns
Are they at all related to requiring a popout window for authentication? I'm assuming you'd agree that Backstage can be as secure as any other site without a popout window. So, also assuming you might be referring to security concerns about using an authenticated site in an embedded browser. Are those assumptions correct?

[2022-10-02 04:02] #11297 closed

[2022-10-02 11:56] amreshh opened #13958 "vault-backend plugin starts up with Error: Cannot find module './VaultBuilder'"
## Expected Behavior
Backstage should be able to start with the vault-backend plugin installed and configured.

## Actual Behavior
vault-backend plugin installed according to the Readme (https://github.com/backstage/backstage/tree/master/plugins/vault-backend). Starting backstage comes up with the below mentioned errors.

## Steps to Reproduce

1. Installed and configured vault-backend plugin acco

[2022-10-02 13:03] kissmikijr opened #13959 "[RFC] do not allow rogue Locations"
**Status:** Open for comments

## Need
I'd like to introduce a new term, rogue Locations. A rogue Location is an optional Location which does not manage any entities and does not have any errors. In the current state of Backstage the discovery EntityProviders usually create these type of Locations and the old discovery processors worked a similar way.

As an example the GithubEntityProvider works

[2022-10-02 14:05] Parsifal-M commented on #13730
Hey, I've been toying around with this one and I think I have a solution, could you please assign to me? :smile: :rocket:

[2022-10-02 14:15] acierto commented on #5535
Long polling works well at this case.
Created a PR to have it possible to enable via configuration https://github.com/backstage/backstage/pull/13961

[2022-10-02 14:36] kumarnil opened #13962 "Techdoc failing after backstage upgrade to "version": "1.7.0-next.0""
## Expected Behavior

Techdoc is not loading after backstage upgrade to v1.7.9-next.0

## Actual Behavior

Techdoc should load all the docs

## Steps to Reproduce

Click on the any techdoc file and it throws error.

## Context

Error details:-
 error Failed to build the docs page: request to https://gitlab.XXX-dns.com/api/v4/projects/YYYY%2F APP_ZZZ failed, reason: unable to verify the first certi

[2022-10-02 17:15] Sonofigma opened #13964 "Adjust the colour scheme of the CTA buttons under Actions Items"
I will be proposing an adjustment to the CTA buttons under the "Actions Items" on the Cost Insight Page.

Colors read meanings to users even before reading the text on it, and calls incorporate emotions when viewed by users. The CTA button under the "Actions Items" on the Cost Insight Page would convey an irresistible message to the users if they followed the Colour conventions for CTA's like Acce

[2022-10-02 18:12] Sonofigma commented on #13964
To provide a clear solution,  I came up with a design that illustrates and explains the adjustments proposed. Here is the Figma link and I will be open to help any developer who would love to work on it.
**https://www.figma.com/file/SCcphLIRPFBlvkpZOIT71l/Hactoberfest?node-id=0%3A1**

[2022-10-02 19:57] Rugvip commented on #9582
@ericis yep sorry wasn't very clear. I was referring to allowing backstage to be embedded in other websites. Reading what you said again I realize that you might be talking about embedding it a native app though, which would be no problem and definitely a reason to support popup-less flows.

[2022-10-02 20:20] Rugvip commented on #13799
@howlowck I'd say we drop the individually created task workers, and instead have a single task worker with a work limit.

[2022-10-02 21:16] pjungermann opened #13965 "unstable tests"
## Expected Behavior

Tests succeed

## Actual Behavior

Tests fail on unrelated changes (sometimes).

[code]

Happened to me on two different PRs. It were always the same. Eventually, they succeeded without any code change.

## Steps to Reproduce

1. provide a PR
2. test run fails on CI / test (14.x)

example: https://github.com/backstage/backstage/actions/runs/3164107907/jobs/5152198397

## Cont

[2022-10-02 23:00] Rugvip commented on #13965
indeed! 👍

It started happening since #13574, where test are now running with a single Jest execution rather than through Lerna. The parallelization should be similar, but the test isolation may be affected as test will share the same Jest worker more often.

Been digging into it a bit and tried some workarounds, but haven't found anything that seems to help yet. I suspect that it's not actually r

[2022-10-03 04:36] jpeach commented on #13472
Closing this out, since we don't have consensus.

[2022-10-03 04:36] #13472 closed

[2022-10-03 08:11] benjdlambert commented on #7370
Closing as fixed  with #13429! :tada:

[2022-10-03 08:11] #7370 closed

[2022-10-03 08:48] Rugvip commented on #13962
Looks like you might have some certificate issues in the communication with your internal gitlab instance. I'd make sure those are ironed out first before we dig into any potential changes to techdocs. Unless you believe that the certificate checks are failing because of a change in TechDocs, that could be checked by reverting back to the previous version.

[2022-10-03 08:52] Rugvip commented on #13964
To be honest I don't think we want to mess too much with the styling that MUI provides at this level. By relying on the standards the MUI set we make it much easier to customize the look and feel. If we start overriding styling in individual components then it's going to be a lot trickier to theme them.

That said there could be a better combination of MUI properties for these buttons?

[2022-10-03 08:54] Rugvip commented on #13959
We do need to keep checking these locations in case a catalog definition is added the future right? There's no other mechanism that would be doing that otherwise.

[2022-10-03 09:31] kissmikijr commented on #13959
I think there is. When the provider runs, it would regenerate all of the location entities for your organizations and when a new catalog definition got added to one of your repos, the generated Location now would emit something so we wouldn't delete it.
Basically it would mean that discovery of the new entities would be tied to the frequency of the discovery(the schedule of your entity provider) i

[2022-10-03 10:18] #12852 closed

[2022-10-03 11:47] mitchhentgesspotify commented on #13947
That's a good alternative option, though cleanup hooks can be less dependable such as if a process ends unexpectedly, system shutdown, etc: causing these files to appear as extra changes in the `git` working area, which devs would have to be aware of.

The other downside of that approach is that, if dependent projects are used (but not modified), it has the same issue as doing a top-level lint in

[2022-10-03 12:15] GiladFeder opened #13969 "Publishing private plugins to an internal artifactory"
## Summary

Hello,
We are interested in creating internal plugins which we do not wish to share with the outside world, hence needing to privately hosting it. We use JFrog Artifactory.
Is there any way nowadays to privately publishing plugins?

Thank you
Gilad

[2022-10-03 12:28] benjdlambert opened #13970 "`getClient` causes duplicate clients `forPlugin(x)` in `DatabaseManager`"
## Expected Behavior
- The client is reused, and therefore when using `sqlite3` the tables are present.

## Actual Behavior
- After migrations are run in `createRouter` for a plugin, calling `DatabaseManger.forPlugin(x).getClient()` returns a new client to the database, and for `sqlite3` `:in-memory:` this means a new database entirely, and no shared access to the in-memory store.

## Context
Thin

[2022-10-03 12:37] taras commented on #13593
@dagda1 please create a PR for this when you get a chance. Thank you

[2022-10-03 13:00] #13958 closed

[2022-10-03 13:25] adamkadzban commented on #13830
@rutviklhase I'm sure the maintainers of this repository would love for you to contribute!

[2022-10-03 13:32] luk-rs commented on #13665
I'm also facing issues like this, additionally i'm wondering if you cant already display a combobox with the current available options for organizations and owners.

[2022-10-03 13:35] benjdlambert commented on #13665
You can provide `allowedOwners` or `allowedOrganizations` in `ui:options` too. There's some documentation here: https://backstage.io/docs/features/software-templates/writing-templates#the-repository-picker

[2022-10-03 13:58] #13970 closed

[2022-10-03 14:12] OrkoHunter commented on #13939
Hi @LvffY ! I guess this is a CORS issue which you can fix by updating the CORS config in `app-config.yaml`. May I ask you to check the browser console logs to confirm? Open the techdocs page, right click anywhere and open dev console to see error logs.

[2022-10-03 14:19] Expalex commented on #13598
[**Enhanced Collapsible Table Stripe**](https://drive.google.com/file/d/1amwL-zot1RXR2Qe87g4fHBbxEKGQsOSG/view?usp=sharing)  (Video)  shows its behavior. @freben Do you have any questions?

[2022-10-03 14:28] emma-campbell commented on #13500
Did you ever get this working using the raw token or do you mind sharing the configuration you used to get this working? I have a similar set up to what you included above, using the raw token, but I am running into the same error message.

[2022-10-03 14:45] kuangp commented on #13891
That is definitely an interesting idea! There could be a parallel with the `backend.database` config where we follow the same pattern by establishing something like the following:
[code]
@Rugvip thoughts?

[2022-10-03 14:49] nadworny commented on #13949
hi @OrkoHunter , we've been using cookiecutter for years before we started using backstage templates and we don't want to migrate all of our templates especially since we're using a lot of cookiecutter-specific methods which aren't covered by nunjucks.

[2022-10-03 15:12] freben commented on #13949
Indeed, the error seems to be because you installed a version of that plugin that was newer than the rest of your Backstage installation, so you ended up with duplicates of packages. You may be able to run `yarn backstage-cli versions:check` to see where your duplicates are, or go directly to `yarn why @backstage/integration` to see what pulls in what.

One option is to upgrade Backstage before pu

[2022-10-03 17:05] GoFightNguyen commented on #12883
Here are the DB commands we ran

### Identify and Delete entities that are not a `target_entity_ref`
[code]
[code]

### Delete duplicates in `refresh_state_references`
[code]

[2022-10-03 17:13] LvffY commented on #13939
@OrkoHunter thanks !

I'll try to check this out.

Do you have any idea how to configure this ? Because I see the cors section in my config file but I don't see a list ... Can I just put a list in it ?

[2022-10-03 17:42] OrkoHunter commented on #13939
Umm actually, this might just be an issue of CSP. Something like this can fix the image loading issue.
https://github.com/backstage/demo/blob/5909d76046d193d606e8f79f1fbb4bef72ff15bf/app-config.yaml#L14

Although, we can not be sure without those browser console logs.

[2022-10-03 19:00] taras commented on #13959
I'm worried that adding another named problem will only add to the list of things people need to know to keep ingestion going. What if we stopped emitting Locations from entity providers altogether and used the URLReader directly in the entity provider?

[2022-10-03 19:45] Sonofigma commented on #13964
Oh, I think that makes sense.
Yes, there could be, just a little refactoring would be required.
Did I get you correctly @Rugvip

[2022-10-03 20:08] sennyeya opened #13979 "Creating Permissions Using the Tutorial Fails on /api/catalog/entities endpoint"
## Expected Behavior

Using the tutorial for setting up permissions (https://backstage.io/docs/permissions/custom-rules), specifically the lines
[code]
should filter the results returned by /api/catalog/entities correctly, ie those with the correct system reference.

## Actual Behavior

Nothing is filtered.

## Location
Filter can have both `.value` and `.values` parameters but
https://github.com/

[2022-10-03 20:10] lucasteligioridis commented on #12826
Thanks @Rugvip will test this out. For my plan to work correctly, I'd at least need recursive searching to work so we can create our catalog files asynchronously in the bucket with specific namespaces/directories to prevent clobbering of files.

I DO believe I tried this and it didn't work recursively, which meant I had to pre-populate my configuration in backstage to list all the possible directo

[2022-10-03 20:58] howlowck commented on #13799
Thanks @Rugvip. I'll revise my PR to have the TaskWorker manage a limit of concurrent tasks.

[2022-10-03 21:27] sennyeya opened #13981 "Support Post-Query Per-Record Authorization Checks in Catalog Plugin"
Happy to work on this.

## Feature Suggestion

Support checking entities returned through `AuthorizedEntitiesCatalog.entities` against an authorizer endpoint to ensure fine grained access control.

Desired flow is check if user has access to read records -> pull records from database -> verify that user has access to pulled records through external system -> return only records user has access to.

[2022-10-03 21:45] #13962 closed

[2022-10-03 22:58] kissmikijr commented on #13959
I don't think this would be a new term that the general public would know about. It wouldn't be something like the orphaned entities that you need to know about it, and manually delete them.
If this does not get native support in the catalog I think it would be cool to give the opportunity to the backstage maintainers to make a scheduled job that can delete these easily. (Easiest would be to make

[2022-10-04 06:31] Nitinvonage commented on #13882
we are also facing the same warning in our backstage 1.5.0 version. Let me share the details what we customised in our code after which we are reciving this warning.
1. we wrote our custom CatalogCollator, there instead of reading the the entities from [catalogClient](https://github.com/backstage/backstage/blob/3b65fc11e4a2af8b2faded872628ed158151ac5e/plugins/catalog-backend/src/search/DefaultCata

[2022-10-04 07:03] lceconi commented on #11003
More details:
- I was able to reproduce the behaviour in Chrome v105.0.5195.125; MacOS v12.6
- The `scrollIntoView` is working correctly in Firefox
- There's a [lot of bug reports](https://bugs.chromium.org/p/chromium/issues/list?q=scrollintoview&can=2) about the use of `scrollIntoView` in Chromium browsers

[2022-10-04 07:31] freben commented on #13959
This was brought up in the SIG. It's a possible approach for those who prefer it. The primary argument against this, is that the catalog refresh loop is a pretty good load balancer that smears out work across your entire fleet with small portions of work, becomes more resilient to restarts and crashes etc. As you've seen it's tough to perform very long-running work and then making a huge data dump

[2022-10-04 07:52] LvffY commented on #13939
Hello

Thanks to @OrkoHunter in the console I found these lines :

![image](https://user-images.githubusercontent.com/37327656/193762214-314e1b3d-3158-46c7-b196-dbc0602a8fff.png)

I tried to add the following line to my **app-config.yaml** :

[code]

But still have the same result.

Am I missing something ?

[2022-10-04 08:38] Rugvip commented on #7094
@webark We would very much want to run the migration similarly to other big migrations, like React Router stable, where all apps and plugins can migrate at their own pace. If needed we still might set some form of deadline where we would drop support for MUI v4, but that'd likely be quite far in the future.

[2022-10-04 08:39] Rugvip commented on #2827
@Sonofigma, sure, thank you! 👍

[2022-10-04 08:50] 13archit opened #13982 "Module not found plugin error"
## Expected Behavior
Plugin Must Worked

## Actual Behavior
Module Not found error for github action plugin
Module not found: Can't resolve '@backstage/plugin-github-actions' in 'packages/app/src/components/catalog'
src/components/catalog/EntityPage.tsx

## Context

 Backstage App not starting and giving module not found error

## Your Environment

- Browser Information:
 Google Chrome
- Output of

[2022-10-04 09:05] Rugvip commented on #11158
Good news! We've now documented the current way to achieve this at https://backstage.io/docs/auth/service-to-service-auth#usage-in-external-callers

Will close this as we don't have any plans to build out more advanced tools around auth for external services this just yet. I think the new docs cover the initial ask, so this issue ends up not being very actionable.

For any discussions around ideas

[2022-10-04 09:05] #11158 closed

[2022-10-04 09:21] Rugvip commented on #13394
@mufaddal7 Yep a glossary is certainly very useful and we use it quite a bit internally, but it's generally just an additional TechDocs page. I'm wondering what value a separate plugin brings to the table?

Don't get me wrong btw, I don't think this is a bad idea, just pushing back a bit to make sure it's all well thought through.

[2022-10-04 09:23] Rugvip commented on #13665
Sounds like this is all covered already 👍

[2022-10-04 09:23] #13665 closed

[2022-10-04 09:30] mehmetmalli opened #13983 "[Docs] Incorrect example code for using ElasticsSearch as search backend"
## Expected Behavior

The example code for using ElasticsSearch as search backend given in Backstage documentation site should be correct.

## Actual Behavior

The example given is legacy code(?) that doesn't exist in the API.

## Steps to Reproduce

Live documentation site: https://backstage.io/docs/features/search/search-engines#elasticsearch

[2022-10-04 09:31] garyniemen commented on #11407
Re-opening for now.

[2022-10-04 09:38] Rugvip commented on #13598
Thank you for the suggestion @Expalex! It seems solid, but I'm no UX expert 😅

I do wonder if you have a sense of where this modification would be made? Would it be additions to the table from `core-components`, or more of a documented pattern for collapsible rows? Or is it even the case that this would fit best as a contribution towards https://material-table.com directly?

[2022-10-04 09:43] mehmetmalli commented on #13983
Fixed in https://github.com/backstage/backstage/pull/13988

[2022-10-04 09:44] garyniemen commented on #13597
Perhaps for you to review @iamEAP as you have been following closely.

[2022-10-04 09:45] garyniemen commented on #9874
Perhaps to review @emmaindal

[2022-10-04 09:46] garyniemen commented on #8466
Should this be closed @camilaibs

[2022-10-04 09:47] Rugvip commented on #13830
Indeed, would be awesome to get some help with this @rutviklhase 😁

Let us know if you have any questions. Some initial pointers would be to try to keep the change as minimal as possible. It's implemented with a d3 force simulation, so I would suspect that the cleanest approach would be to add a slight force acting away from the ring names, without having all the entries getting too bunched up.

[2022-10-04 09:48] garyniemen commented on #13723
@emmaindal Any thoughts on this?

[2022-10-04 09:51] Rugvip commented on #13949
Want to highlight also that you can look up previous package versions over at https://versions.backstage.io/v1/releases/1.1.0/manifest.json. Check the release version in your `backstage.json` and then replace `1.1.0` in the URL with your own version, and you'll get a list of all package versions from that release.

[2022-10-04 09:56] iamEAP commented on #13597
Ah, yeah!  We're all good here, I think, as this PR was merged in about a week ago: https://github.com/backstage/backstage/pull/13890

Should be available to try out as of `@backstage/plugin-search-backend` version `1.1.0-next.1` or higher.

[2022-10-04 09:56] #13597 closed

[2022-10-04 10:01] #13983 closed

[2022-10-04 10:09] garyniemen commented on #13703
@shanthisagar-dhanya-kumar-db is this still an issue for you?

[2022-10-04 10:10] shanthisagar-dhanya-kumar-db commented on #13703
@garyniemen : Yes. unfortunately it is not accepting multiple elastic search cluster nodes

[2022-10-04 10:10] garyniemen commented on #5943
@Fox32 where do you see this issue now after all the comments?

[2022-10-04 10:11] Rugvip commented on #13901
@Xantier is it the case that they should only run on a single instance still? Or is that old docs.

The task scheduler is able to distribute load across multiple machines either way, but there could be parts in the insights backend that have other constraints.

[2022-10-04 10:12] garyniemen commented on #13680
@emmaindal What do you think about this one?

[2022-10-04 10:14] garyniemen commented on #12391
@martina-if What do you think about this issue now?

[2022-10-04 10:15] garyniemen commented on #11188
@dtuite Any current thoughts on this?

[2022-10-04 10:28] Rugvip commented on #13880
@LvffY thank you for the thorough report! Turns our this was a bug in our routing logic, fixed over in #13989 🎉

[2022-10-04 10:39] dtuite commented on #11188
@garyniemen nothing more than I described in the issue. I'm happy to try and answer specific questions if you have them?

[2022-10-04 10:56] andrewthauer commented on #13959
I have recently started using the ‘GitHubEntityProvider` for local testing to get a large sampling of test data quickly. Therefore I've ran into this concern as well. We currently don't use discovery in production and little more then half our current non archived repos are catalogued.

For context, most of the other repos are not imported yet because they are either old (and need cleanup or archi

[2022-10-04 11:26] #13880 closed

[2022-10-04 11:27] Rugvip commented on #13952
Yep, seems tricky to do due to how widespread the config reading is. I do think that once we've migrated more integrations to use the `GithubCredentialProvider` pattern we might be in a better place to support this for the core integrations though. Regarding the proxy plugin I'd try to avoid injecting secrets in upstream requests altogether tbh, if there are strict security requirements.

Another

[2022-10-04 12:06] garyniemen commented on #12876
@viraptor did the above help you solve your problem?

[2022-10-04 12:23] taras commented on #13952
Can you say more about this? Here is what I had in mind

![](https://user-images.githubusercontent.com/74687/193617782-201ad4ae-ef92-4066-aa6a-9f6b86729116.png)

[2022-10-04 12:33] OrkoHunter commented on #13939
Yes, that sounds right. Should restart the backend as the new csp rules are not there in the logs.

[2022-10-04 12:54] taras commented on #13959
This statement is true as long as,

1. you're ingesting small data sets
2. users are ok waiting for hours for their content to update or show up in the catalog.

We wholeheartedly tried to make the processing loop. We found that it doesn't for the following reasons,

1. No control of the backoff mechanism.
2. Getting caching right is complicated - each source and each entity type needs to be consi

[2022-10-04 13:20] LvffY commented on #13939
@OrkoHunter You're right, just the time for the backend to restart !

Thanks !

[2022-10-04 13:20] #13939 closed

[2022-10-04 13:30] kissmikijr commented on #13959
I thought when we add something to the queue it is put in the front of the queue, so you shouldn't wait for all of the other entities to process before it will be visible to you. But I believe this is a bit of an offtopic on this RFC.

Why does it different in complexity to introduce a totally new kind that gets deleted anyways( and readded I believe on the next run) than just not allowing to have

[2022-10-04 13:34] kissmikijr commented on #13959
@andrewthauer Thanks for sharing this!

I believe it is something that we could do to replicate what the processing loop does. But I think it just makes sense to use the processing loop to figure it out. I think we just miss a piece where it would responsible to not finish the ingestion for the Location entity when it is a rogue one. It is certainly something that we could build into the EntityPro

[2022-10-04 14:01] andrewthauer commented on #13959
@kissmikijr - I think the missing piece in the processing loop is atm I don't believe it would gather enough contextual information about the repo to help fix and/or action the errors in many cases. Afaik, it would just say, no catalog-info.yaml file exists. However, if the processing loop were to gather additional information about the repo on an error and stored it, this could be useful and pote

[2022-10-04 14:06] kissmikijr commented on #13959
I think we are mixing different stuff in here. This what you are talking about would be a really powerful feature to help onboard repos to the catalog. But I think this is really org specific stuff, and I do not think the processing loop should handle this. I think this already can be done with your own implementation of a custom entity provider which does what you want and will understand your or

[2022-10-04 15:18] #12899 closed

[2022-10-04 15:20] Expalex commented on #13598
@Rugvip It is to be a CORE contribution and part of Storybook. I am a UX designer. Now that you, a Spotify's engineer seem positive about this, I'll ask our engineer to talk to you more on what you've mentioned.

[2022-10-04 15:41] Expalex commented on #13598
Here is an example of how the table can be used to display data aggregation and details. <img width="1203" alt="Collapsible_Table_Aggregation_example" src="https://user-images.githubusercontent.com/80132060/193863562-43564137-4aae-4675-acd2-b9e3d865679f.png">

[2022-10-04 16:03] Expalex commented on #13598
Here is an example of how the table can be used to display data aggregation and details.

<img width="1697" alt="Collapsible_Table_Aggregation_example" src="https://user-images.githubusercontent.com/80132060/193868957-bb34e956-eeb0-4ac4-9d1d-f86a5eeab788.png">

[2022-10-04 16:58] GoFightNguyen opened #13992 "dockerfile: expected implicit env DOCKER_BUILDKIT"
https://github.com/backstage/backstage/blob/037b4393c4ed02df05d113043aa54d3e80892bdd/docs/deployment/docker.md?plain=1#L194-L202

These lines have an implication that `DOCKER_BUILDKIT=1`. This is enabled by default on MacOs and Windows (systems using Docker Desktop), but does not seem to be for linux systems.
When not enabled, then these errors are encountered:
[code]

Should the documentation and

[2022-10-04 17:56] ananthulasrikar commented on #10289
@AjayTripathy We would love to have it, its pretty important for us. Please let me know if I have to do anything from our side.

[2022-10-04 18:00] taras commented on #13959
The location mechanism and its processing is already quite opaque. I've used it for a few years and designed a bunch of processors, and I still don't feel confident with how it works. Adding more rules that'll change the behavior of an already opaque system seems undesirable to me.

We could eliminate many of the problems caused by Locations by simply not using Locations. One argument for Location

[2022-10-04 18:03] howlowck commented on #13799
@Rugvip I updated the PR #13817 with what we discussed. Please review. Thanks!

[2022-10-04 18:27] nwpappas commented on #13598
Could you go into more detail around how this is "easier to view, save space, scalable, and more consistent"?

It's unclear from the description and images what updates provide to MUI's collapsible table capabilities. Are you proposing net new capabilities or a data wrapper that simply makes pushing data in easier, and a default design application for that data using the existing the structure?

H

[2022-10-04 19:50] taras opened #13994 "[cli] Make it easier to deduplicate dependencies with yarn resolutions"
I'm creating this feature request for others to learn how to do this and in case someone wants to implement this improvement.

## Context

The Backstage project releases new releases every few months. Between those releases are pre-releases with `next` tag. Sometimes consumers of the Backstage project want to use the pre-releases to experiment with the new changes or get the newly merged code soon

[2022-10-05 02:39] iriswang233 opened #13995 "Huge icon and missing styles from ReportIssue in techdocs shadow dom"
## Expected Behavior

The style from ReportIssue should be added in shadow dom.
[code]
Like this
![image](https://user-images.githubusercontent.com/49713904/193966354-1833cce1-0cb5-4854-81cd-4a018d4049a3.png)

Report issue works fine when running code from backstage repo at v1.4.0

<img width="385" alt="image" src="https://user-images.githubusercontent.com/49713904/193967535-d0f6c824-1c87-44f6-a52

[2022-10-05 06:29] jhuiting commented on #13359
@gavlyukovskiy Did you manage to work on this already? I've also a usecase that requires this. Otherwise I can also put in some work to add this.

[2022-10-05 06:35] malin-mallan commented on #13831
I have try to find where the bug happen but I got a bit stuck... I have two questions I need help with.
1.    I have trouble with understanding the lifecycle of the project. When is components rerendered?
2.    I have been looking for the problem in plugins/tech-radar/src/components/. Do you think I look at the right place or could the problem be somewhere else?

[2022-10-05 08:33] casje896 commented on #13707
Hi! I have run into some problems with testing the jenkins API with less or without mocks. I'm focused on testing the buildProject and getBuild functions in jenkinsApi.ts. However, I’m unsure on how Backstage is practically using the jenkinsApi in the first place? Is there somewhere in Backstage where the api is used (so that I have something that I can base my test upon)?

[2022-10-05 10:39] kumarnil opened #13999 "Software Template not loading in UI (issue on parameter-schema) ResponseError: Request failed with 403 NotAllowedError"
## Expected Behavior

After I click on the "CHOOSE" button of a software template, it should fetch the template parameter schema and render the result in the UI view.

## Actual Behavior

https://development_domain/create?filters%5Bkind%5D=template&filters%5Buser%5D=all can see all templates.
After click on the "CHOOSE" button of any of the templates, it shows "Failed to load template, ResponseErr

[2022-10-05 10:53] kissmikijr commented on #13959
Yea I can agree that it is a quiet an effort to go through it and understand what is going on, but I'd challenge that adding rules and changing behaviours will make it worse. I think adding my proposed rule, that we do not allow to house entities that are redundant would just make it more clear. The responsiblity would belong to the provider to add new entities, not to the processing loop.

All of

[2022-10-05 11:42] #13190 closed

[2022-10-05 12:38] realandersn commented on #13856
Hey! All features of `mkdocs` are not allowed in TechDocs. The `extra_javascript`, for instance, cannot be allowed for security reasons.

[2022-10-05 13:46] luk-rs commented on #13665
Even though the documentation states that we can set the allowed Organizations/Owners for that functionality I'm seeing a slightly different behavior.  First, the allowedOrganizations doesn't seem to work, even though I have it set up when rendering in backstage it always renders a text box without any predefined option, and secondly, the allowedOwners field seems to work even though it blocks the

[2022-10-05 13:57] benjdlambert commented on #13665
@luk-rs :wave:

`allowedOrganizations` are only available on Azure, and was only added recently, so make sure that both of these are satisfied.

Are you providing more than one and it's still disabled and not allowing you to choose another one from the list that you've provided? Can you provide an simple reproduction template example?

[2022-10-05 14:18] taras commented on #13959
@kissmikijr, instead of highjacking your RFC to talk about why we shouldn't use Locations for Discovery, I should just make my RFC :) Sorry for muddying the waters. You're trying to improve the situation for those who already use locations; I don't want to get in the way of that.

[2022-10-05 15:20] benjdlambert commented on #13665
Yeah, this is something we've spoken about and want to do. I started some work on this already, basically having an `integrations-backend` that would optionally take a `userToken` from the client and would be able to list teams and groups you had write access to for each provider. Should probably create a ticket for this to be honest as I don't think it's ticket yet, but it's on my radar! :pray:

[2022-10-05 19:19] gavlyukovskiy commented on #13359
@jhuiting I have opened a PR, let me know if you had something different in mind.

[2022-10-05 21:00] klubi opened #14009 ""invalid byte sequence for encoding \"UTF8\": 0x00" when using ldap"
## Expected Behavior

Users/Groups pulled from LDAP are persisted.

## Actual Behavior

I'm using LdapOrgEntityProvider to pull users and groups from ActiveDirectory.
Looks like data is pulled correctly, because I can see log entries like:
[code]
However, after that there is a huuge error:

[code]
My guess is that one of the fields that is to be persisted is `0x00` which is not allowed in psql for

[2022-10-05 22:35] ericis commented on #13856
@realandersn what about #12302 for `extra_css`? Authors can't style their own docs?

Also, TechDocs AddOns are great, but are also site-wide. I was hoping to empower teams with similar capabilities as they would get with GitHub Pages since many developers are familiar with pages and have similar expectations for TechDocs.

Is there any documentation on why it's a security concern if we're only loa

[2022-10-05 23:36] waldirmontoya25 opened #14011 "Pinniped k8s auth provider"
## Feature suggestion

We are researching if a [Pinniped](https://pinniped.dev/) k8s auth provider would be of interest to the Backstage community

## Context

Pinniped is a great solution to federate access to multiple k8s clusters; it brings additional security benefits like short-lived tokens associated with user identity and short-lived TLS certificates for mutual TLS.

Recently a [Dynamic OAu

[2022-10-05 23:50] divideby0 opened #14012 "@backstage/create-app fails on Node 18"
## Expected Behavior

Running `@backstage/create-app` should succeed in a Node 18 environment.

## Actual Behavior

The `yarn install` step throws an error:

[code]

## Steps to Reproduce

[![asciicast](https://asciinema.org/a/5NehpsMBcn42KHhkPspCt0MQO.svg)](https://asciinema.org/a/5NehpsMBcn42KHhkPspCt0MQO)

[code]

[2022-10-05 23:53] divideby0 commented on #14012
As a workaround, you can run `yarn install --ignore-engines` (https://classic.yarnpkg.com/lang/en/docs/cli/install/#toc-yarn-install-ignore-engines) and everything seems to run fine under Node 18.

[2022-10-06 02:33] williamscs commented on #9138
@jhaals @Rugvip , would it be possible to re-open this? I know the linked issue kind of handles a more general case, but this would be a good follow-on. Or as OP stated, could this could potentially start small before 639 is completed.

[2022-10-06 05:19] Niksko opened #14013 "Validate that a location exists before emitting a location during GitHub Discovery"
## Feature Suggestion

Ensure that when configuring a GitHub org for entity discovery using the GitHub provider, the only locations that are emitted are ones where there actually exists a matching file.

At the moment, entities are emitted for every matching repository, regardless of whether the file they reference exists or not.

## Possible Implementation

Use an instance of `UrlReader` in the `

[2022-10-06 07:56] mlukasik-branch commented on #13282
I stumbled on the same issue and it eaten couple of days of my time ot figure out the root cause.

 What may help everyone is adding it to github-integration-plugin docs (FAQ).