[2020-10-02 20:45] alxmrtn opened #2733 "Cannot sign in with GitHub locally"
## Expected Behavior

I should be able to sign in with GitHub locally

## Current Behavior

Whenever I start the application with the GitHub Client ID and Client Secret, I am able to go through the GitHub login process but then I receive a `Login failed, popup was closed.` error message.

This error is logged in the browser console:
[code]

There are no errors logged in backend.

## Possible Solut

[2020-10-03 08:10] goober opened #2735 "Add support for Bitbucket Server as a ReaderProcessor"
## Add Provider Configuration for Bitbucket Server Processor
Currently, the BitbucketReaderProcessor.ts does not support additional parameters such as target or apiBaseUrl.

## Possible Implementation
Copy the providerconfig and implementation from GithubReaderProcessor in a way that makes sense for BitbucketReaderProcessor. Make sure that api differences between bitbucket.org and a self-hosted Bi

[2020-10-03 09:48] freben commented on #2735
Related: https://github.com/spotify/backstage/issues/2735

[2020-10-03 10:08] goober commented on #2735
I can take a shot at this issue if it is accepted by the project

[2020-10-03 10:57] ron-debajyoti opened #2736 "TechDocs: Cannot view documented-component locally as Guest"
## Expected Behavior

I should be able to view the documented-component page as a Guest.

## Current Behavior

- Received an ERROR 404: Documentation not found.
- Browser console shows a CORS error at the end.
- Multiple instances of SSL errors and `repository not found` errors at _backstage_ and  _techdocs_ while running the backend server.
![backstage_earlier](https://user-images.githubuserconte

[2020-10-03 16:05] Rugvip commented on #2552
@RochesterinNYC This user: https://github.com/spotify/backstage/blob/34c6f38bf97b0421eb42bdf80f6a07f1b4ca98db/plugins/kubernetes-backend/src/service/KubernetesClientProvider.ts#L74

The way I see it atm is that that user object is the end goal of the backend cluster authentication. If we can have something that is able to map whatever we get from the frontend and other sources to those user object

[2020-10-04 08:58] Marvin9 commented on #2488
@mijailr I have implemented for pages. However as this issue addresses cards too, can you please elaborate on that one?

[2020-10-04 13:18] iain-b opened #2738 "Make GaugeProgress sizing more flexible"
## 🗒 General

Hi, I am working on #2709  and there was some discussion around how best to display lighthouse scores - a set of 6 percentages, basically. Lighthouse itself presents these with a set of small "rings" like so:
![image](https://user-images.githubusercontent.com/1415599/95016287-07044900-064a-11eb-82fe-ce02d7d6a1c8.png)

I'd like to be able to do something similar with backstage / mater

[2020-10-04 13:26] iain-b opened #2740 "Add a Card to the Lighthouse plugin which displays scores using GaugeProgress"
## Feature Suggestion

Based on the conversation in #2709 It would be nice to have a more visual display of lighthouse scores like, lighthouse itself:
![image](https://user-images.githubusercontent.com/1415599/95016788-1afd7a00-064d-11eb-8d75-750acbf81df0.png)

## Possible Implementation

We could use an array of GaugeProgress elements. Ideally these would be a medium / small size.

## Context

I'

[2020-10-04 14:20] stefanalund commented on #2735
Thanks @goober -- I've assigned you!

[2020-10-04 14:23] #2634 closed

[2020-10-04 15:14] mijailr commented on #2488
Many thanks @Marvin9 the part related with cards should have a similar approach.

As you can see here:

https://github.com/spotify/backstage/blob/1518741f67fe706edc2e4dd468fcc5da0befe66c/packages/core/src/layout/ItemCard/ItemCard.tsx#L19-L38

The styles can't be customized.

[2020-10-05 04:04] RochesterinNYC commented on #2552
Don't we need an auth token more essentially than just the user ID or user identity ?

What you have regarding the in-body flow aligns with what I mentioned above regarding the KubernetesAuthProvider and KubernetesAuthTranslator interfaces and how they work (with the main difference being having the tokens in body vs. headers, which we can pretty easily change later). For the time being, I've impl

[2020-10-05 07:24] stefanalund commented on #2706
Hey! I think this sounds like an interesting plugin indeed. Are you thinking the results of the scan would be visualised in Backstage? I think you could also consider presenting the user with the option to enable checkov scanning if this is not already enabled for the component.

I'm not sure if the plugin itself would be involved in triggering the scan though -- guessing that is done during CI?

[2020-10-05 07:28] schosterbarak commented on #2706
I'm not sure about the exact implementation yet and would love to do a zoom on it.
The mission i would like to answer is making sure a service in the service catalog is vetted by checkov. is it a good match?

[2020-10-05 07:30] stefanalund commented on #2706
It sounds like it to me, even though I'm not an expert in checkov :)

[2020-10-05 07:31] hooloovooo commented on #2707
Seems like this applies to any plugin being run as standalone.

[2020-10-05 07:34] hooloovooo commented on #2707
@spotify/backstage-core Is this something you know anything about?

[2020-10-05 07:35] OrkoHunter commented on #2707
Updated the title to reflect that this an issue with all the plugins.

[2020-10-05 07:46] schosterbarak commented on #2706
can a plugin scan other plugins or services?

[2020-10-05 07:49] stefanalund commented on #2706
Not really. A plugin is primarily a UI element, see https://backstage.io/docs/plugins/

[2020-10-05 09:21] freben opened #2749 "Streamlining and speeding up the catalog database and APIs"
## Background

As part of productionising the catalog, we are looking at settling its database and APIs to match current use and support future features, as well as speeding them up to scale to larger workloads. To do so, we will cut some basically unused features, add new ones, and reshape things slightly.

This work does NOT address the following aspects that are also important, but would need t

[2020-10-05 09:23] #1772 closed

[2020-10-05 09:23] #2604 closed

[2020-10-05 10:29] freben commented on #2749
https://github.com/spotify/backstage/pull/2750

[2020-10-05 10:38] JacobValdemar opened #2752 "[RFC] Squad/Group page"
**Status:** Open for comments

## Need

With the implementation of #1401 it should be possible to create a page for squads (technical groups). This comes from a need to make it possible for a squad to get a holistic overview in regards to what the squad owns and has responsibility for.

## Proposal

![billede](https://user-images.githubusercontent.com/16527874/95062689-9c144a00-06fd-11eb-8194-fbfb

[2020-10-05 11:02] althafh commented on #2752
+1 This would be a great addition. Some of my thoughts

I agree you would want to re-use as much as possible with the Entity Catalog homepage and keep the concepts similar.

For customization, the entity page can be differentiated based on it's type or someone element of it's spec. (just like the service catalog entity page can show a different page based on the type of the component). If a group

[2020-10-05 11:18] JacobValdemar commented on #2752
@althafh That's actually a quite good idea for making it customizable, but I imagine that it would be hard to maintain if you had 50+ squads 🙂

[2020-10-05 12:15] JacobValdemar commented on #2752
Actually, I think I will try to make something like what's described, and I think it's possible with customization with the method @althafh described. :)

[2020-10-05 12:38] stefanalund commented on #2752
FWIW this is a level of customisation I would not aim, at least not initially. Figuring out how to make this page customisable enough that it fits different companies adopting Backstage is, in my view, good enough for a first version. This is also in line with how the Overview pages are designed today. Our view has always been that the core Backstage experience is curated by a central ("platform")

[2020-10-05 12:49] #2032 closed

[2020-10-05 12:53] OrkoHunter commented on #2027
Backstage does not have a notifications feature. Creating watch feature is difficult to implement.

[2020-10-05 13:05] althafh commented on #2752
You are right, I wrote customize it's own entity, when I meant customize it's entity type page. i.e. every individual group shouldn't be able to customize it's individual page.

For the first version, I'm perfectly fine with just having Groups as another tab in between Documentation and Other as it stands currently. It muddies the line between Software Catalog and an Entity Catalog, but I think th

[2020-10-05 13:14] stefanalund opened #2754 "Add default catalog-info.yaml when creating new App"
## Feature Suggestion

When you [create a new Backstage app](https://backstage.io/docs/getting-started/create-an-app) it should come with a default `catalog-info.yaml` file that can be used to register the Backstage (website) to your own Backstage deployment.

## Possible Implementation

Use this file as a template: https://github.com/spotify/backstage/blob/master/catalog-info.yaml

## Context

Th

[2020-10-05 13:18] stefanalund commented on #2723
I've added the [plugin] label so that we can treat this as a plugin suggestion rather than a bug.

[2020-10-05 13:21] freben commented on #2752
The catalog pages are currently explicitly limited to kind Component (the client filters it that way). We have this same discussion for other types of thing as well - where do you see the list of APIs? Of templates? Etc. We need to take some kind of greater stab at what we want the routing structure to look like for all of these kinds.

Oh yes definitely! They should eventually be possible to find

[2020-10-05 13:23] JacobValdemar commented on #2752
As a tab in the Catalog, as @althafh suggested, or like API Docs plugin explorer page:
![billede](https://user-images.githubusercontent.com/16527874/95082905-0d62f580-071c-11eb-9333-9c8066982217.png)

I don't think it's necessary to restrict that.

That's completely ok! At Lunar it's a high demand feature so I think I'm going to make something to do it internally then 😉 I though about a solution w

[2020-10-05 13:47] Fox32 commented on #2752
How would you decide which group page is displayed to a user if it was the home page? The current user/group model allows to be in multiple groups right? Maybe it could be an option on a team page to promote/star it to be the users home page. So he can choose himself.

[2020-10-05 14:41] OrkoHunter commented on #2028
Hi @katz95 cc @soapraj ! We need some design inspiration on how the techdocs plugin's home page should look like and what features it should have. We can take our internal techdocs homepage as an inspiration as well. Few thoughts to consider from the team -

* Pagination: The homepage shows the list of all documentation sites but what should we do for a large number of them (~500). How should we p

[2020-10-05 14:47] freben commented on #2752
I would expect `/` to be different from `/group/one-of-my-groups`.

When visiting the first one, your mindset is "i want to have a bird's eye look of how all of the things that I am responsible for are doing" plus quick nav to favorites and recently visited and stuff like that. Bird's eye view of things that you care about.

The latter, will probably be a much more matter-of-factly "here's a prese

[2020-10-05 14:50] OrkoHunter opened #2760 "Use rel="noopener noreferrer" in anchor tags for external links"
## Feature Suggestion

When creating an anchor tag or a `Link` component from Material UI, if the link points to an external website, we should add `rel="noopener noreferrer"` to it for security reasons.

## Possible Implementation

Change https://github.com/spotify/backstage/blob/b407dbf724473d07d36c9bef46ce918c9790e5cc/plugins/techdocs/src/reader/components/TechDocsPageHeader.tsx#L69-L69
to
[cod

[2020-10-05 15:03] Marvin9 commented on #2760
I would like to work on it.

[2020-10-05 15:55] ron-debajyoti commented on #2736
Update:
I added the cors configuration to the `app-config.yaml` in the root directory. This solved the cors issue, but the frontend is unable to perform a GET request to `localhost:7000/api/techdocs/docs`, and the backend server still shows the SSL errors.
![update](https://user-images.githubusercontent.com/22571664/95102502-18844880-0751-11eb-84c6-93219ad02401.png)

[2020-10-05 16:56] dhenneke opened #2763 "Control the headers that the proxy backend forwards to the target"
The proxy backend uses https://github.com/chimurai/http-proxy-middleware to implement the proxy functionality. However, in its current state, it forwards all request headers to the proxy-target. This includes headers that are not meant for the other API, like `Cookie`, but also others that are injected by identity-proxies (`X-Auth-Request-User`, `X-Auth-Request-*`, ...).

## Feature Suggestion

Co

[2020-10-05 18:27] Rugvip commented on #2763
Looks like headers are copied unconditionally, https://github.com/http-party/node-http-proxy/blob/9b96cd725127a024dabebec6c7ea8c807272223d/lib/http-proxy/common.js#L43`

I would imagine it makes sense to explicitly have to allow headers, except for a couple of defaults like `Host`, `Accept`, etc.

[2020-10-05 18:35] Fox32 commented on #2763
So are we going into the direction of an allow list with a predefined set of safe headers? If yet, than I guess we can do an implementation.

[2020-10-05 18:40] dhenneke commented on #2763
Since the `Host` header is already rewritten to the target [by default](https://github.com/spotify/backstage/blob/a10f7ab2a2ea906adde98763576c8fc0fe73ebce/plugins/proxy-backend/src/service/router.ts#L60) so this should be safe to forward.

[2020-10-05 19:28] freben commented on #2763
I would definitely prefer an allowlist as well.

[2020-10-05 19:49] #2521 closed

[2020-10-05 19:54] Rugvip commented on #2763
I say we
![image](https://user-images.githubusercontent.com/4984472/95125288-03111d80-0755-11eb-81da-33737d7aba13.png)

I would imagine a sane set to always allow headers would be any header crucial to the proxying functionality, like `Host`, along with the headers that are allowed by default in CORS?

[2020-10-05 20:21] dhenneke commented on #2763
CORS is a great idea. I tried to find references on what headers might be safe in such scenarios, but didn't found the right google search for that. But https://fetch.spec.whatwg.org/#cors-safelisted-request-header seems like a good start.

[2020-10-05 21:04] #2548 closed

[2020-10-05 23:06] mahmoodhosseini commented on #2754
Hi, I'd like to take this.

[2020-10-06 00:03] mahmoodhosseini commented on #2029
Hi, I'd like to work on this.

[2020-10-06 01:36] taras opened #2764 "Creating from a template results in "authentication required but no callback set""
## Expected Behavior

Expect to be able to create a project from a template using Software Templates

## Current Behavior

Any template I try, I get "authentication required but no callback set" on Prepare the Skeleton stage.

![Screen Shot 2020-10-06 at 6 58 11 AM](https://user-images.githubusercontent.com/74687/95193190-67f26500-07a1-11eb-9106-6d7e56d59a6b.png)

## Possible Solution

According t

[2020-10-06 02:37] NetPenguins commented on #2267
I would like to work on this one. Should approach be adding a new edit annotation or replacing blob with edit?

[2020-10-06 09:01] hooloovooo commented on #2736
@ron-debajyoti Do you have a local git config overriding your gits https url with a ssh url?

[2020-10-06 10:12] ron-debajyoti commented on #2736
@hooloovooo my global gitconfig file has just my email & my name. The local backstage .git/config file has the https url only.
In my case, I found out that this [function](https://github.com/spotify/backstage/blob/3cfdbd10ad8aea0d621bc490bbe202814a40a185/plugins/techdocs-backend/src/helpers.ts#L100) is resulting in storing an empty repo with no `master` in the `repositoryTmpPath`.

[2020-10-06 10:13] ron-debajyoti commented on #2736
@hooloovooo my global gitconfig file has just my email & my name. The local backstage .git/config file has the https url only.
In my case, I found out that this [function](https://github.com/spotify/backstage/blob/3cfdbd10ad8aea0d621bc490bbe202814a40a185/plugins/techdocs-backend/src/helpers.ts#L100) is resulting in storing an empty repo with no `master` in the `repositoryTmpPath`.

[2020-10-06 10:21] hooloovooo commented on #2736
@ron-debajyoti The repository is empty because the checkout fails due to an ssl error. The only times i've seen this it has been because of a url rewrite rule in the git config similar to this. https://www.jvt.me/posts/2019/03/20/git-rewrite-url-https-ssh/

Could you post the output of `git config --list --show-origin` and post that here? Make sure to not include any sensitive info.

[2020-10-06 10:30] benjdlambert opened #2771 "[RFC] Next Steps for the Scaffolder"
**Status:** Open for comments

# Background

Hey :wave:

So as you might be aware, we released our MVP for the Scaffolder a few moons ago, and internally have been overwhelmed with the amount of contributions and interest it has received.

Naturally, we've seen a lot of requests for features, and have slowly been seeing an increase in use-cases, some that might not have been considered in the orig

[2020-10-06 10:32] benjdlambert commented on #2771
@spotify/backstage-core @spotify/techdocs-core  i'd be interested on your thoughts. This is what i have so far from various meetings and some thinking. API is not final, definitely going to change with some recommendations here.

[2020-10-06 10:33] benjdlambert commented on #2447
@emmaindal going to close this RFC in favour of https://github.com/spotify/backstage/issues/2771 with the new suggested API design.

[2020-10-06 10:33] ron-debajyoti commented on #2736
@hooloovooo
![op](https://user-images.githubusercontent.com/22571664/95190796-75354100-07ed-11eb-9b38-d99ec3444fc7.png)

[2020-10-06 10:33] #2447 closed

[2020-10-06 10:35] ron-debajyoti commented on #2736
@hooloovooo
![update2](https://user-images.githubusercontent.com/22571664/95190953-ab72c080-07ed-11eb-8fe0-b94471c00788.png)

[2020-10-06 10:36] benjdlambert commented on #2688
OK will close!

[2020-10-06 10:36] #2688 closed

[2020-10-06 11:14] hooloovooo commented on #2736
Hmm that looks correct. Can you ping github.com from the commandline and it works?

[2020-10-06 11:32] ron-debajyoti commented on #2736
@hooloovooo  No, I cannot! That's probably why it wasn't working. Let me try to fix it and update asap.

[2020-10-06 12:04] hooloovooo commented on #2736
@ron-debajyoti Are you ok with us closing this for now, and you can open up a new issue with the new information we have if you think we have some other issue causing this?

[2020-10-06 12:44] mfrinnstrom commented on #2771
Really interesting direction for the scaffolder and I think it would solve most of our use-cases. Some comments/questions from me:

- What about the input schema that we could specify before and then have the UI prompt the user for?
  - I still think that there is a need to have a "contract" for a template with properties that the user should input.
  - We would like to be able to reference those

[2020-10-06 12:54] ron-debajyoti commented on #2736
@hooloovooo yes sounds fine.

[2020-10-06 12:54] #2736 closed

[2020-10-06 15:16] benjdlambert commented on #2771
So off the bat, what I think we would head down the route of its being able to define the `json-schema` inline for now for each step and then collect them all into the main form. Condensing the duplicate fields, and maybe have a value map too so that you can map input values from other parts of the form to different values in the steps.

Something like this:

[code]

Or alternatively, we could def

[2020-10-06 15:16] mahmoodhosseini commented on #1566
Hi! I want to work on this, but I have two questions:
  1. What would be a better presentation in the frontend? A different type of popup, or cleaning up the error message?
  2. What is considered "enough information?" Let's say for a 401 error, the returned message includes `Bad credentials`; would "**Authentication failed - Bad credentials**" be enough?

[2020-10-06 15:32] erictnilsson commented on #2537
@saranyavignesh2123 what folder are you running the command from?

[2020-10-06 15:41] benjdlambert opened #2773 "Rename GaugeProgress to just Gauge"
## Feature Suggestion
The `GaugeProgress` component lives in a folder called `progress` already. Let's just move it to `Gauge` instead, and remove the `Progress` part.

Both the filename and the exported variable :)

[2020-10-06 15:48] jadonwolffs commented on #2773
I'd love to be assigned this if possible

[2020-10-06 15:53] stefanalund commented on #2773
All yours @jadonwolffs ⚡️

[2020-10-06 17:24] taras opened #2775 "Error: "No preparer registered to type 'url'" when using Scaffolder in alpha24"
I just created a new project using alpha24 release and found that I was not able to create a project using CRA template because of `No preparer registered to type 'url'` error.

## Expected Behavior

Should be able to create a project using built-in templates.

## Current Behavior

Scaffolder gives `No preparer registered to type 'url'` error when using any template.

## Possible Solution

@Rugvip

[2020-10-06 17:54] erictnilsson commented on #2405
Are you still working on this? @mcalus3

[2020-10-06 20:10] mbruggmann commented on #2771
While I appreciate the flexibility of the proposed model, I'm wondering if we could get away with something a bit more constrained if we split creating repositories from composable software templates? As I haven't dug into the use-cases or the current implementation too much, I might also be missing some obvious thing but was thinking something along those lines:

* A way to create an empty reposi

[2020-10-06 21:42] blueelvis commented on #2740
I would like to pick this up.

[2020-10-06 23:21] Rugvip commented on #2773
Fixed by #2774

[2020-10-06 23:21] #2773 closed

[2020-10-07 06:34] stefanalund commented on #2752
@JacobValdemar if you want to take a crack at this I think building it as a separate plugin is a good start. Once it is finalised we can figure out how to make it more integrated into the rest of the system.

[2020-10-07 06:36] stefanalund commented on #2740
All yours @blueelvis -- thanks 🙏

[2020-10-07 06:42] JacobValdemar commented on #2752
@stefanalund I can do that  :)

[2020-10-07 07:05] #2754 closed

[2020-10-07 07:16] mfrinnstrom commented on #2771
@benjdlambert thanks for the clarifications! One thing I'm not sure about though.

Would this mean you can reference one template from another one or how would this look? My thinking was that I didn't have to register all the repos that I use in a template in Backstage but I guess I'm missing something here.

Regarding the fetching of things without running a templater on them I meant something li

[2020-10-07 07:50] DanielArthurUK commented on #2738
Hi @iain-b

The material-ui component [`<CircularProgress />`](https://material-ui.com/api/circular-progress/) uses a `size` prop in order to achieve this. From the source:

[code]

It would be good if we could implement something like that, although I suspect there may be some issues with the underlying `<Circle />` component from the [rc-progress](https://github.com/Hipo/rc-progress) package. It

[2020-10-07 08:33] emmaindal opened #2780 "Investigate in how we can add vale linter quality checks to all docs components created through backstage"
With the great contribution from @Marvin9 [to add vale linter to check words quality in markdown files](https://github.com/spotify/backstage/pull/2631) in the Backstage repo we now want this to be added to all components that are created through Backstage docs-template.

Use Case:
If I create a new component through the `Documentation Template`(see screen shot) I would like to get vale linter set

[2020-10-07 09:43] soapraj commented on #2029
@mahmoodhosseini - Awesome! Assigning this to you.

[2020-10-07 10:43] benjdlambert commented on #2771
@mfrinnstrom I think it's better practice that the steps context only include the form values that are presented in the `schema` but maybe special keys like `ref`'s could be passed through.

`fetch` will go and grab the contents and extract it somewhere, the you could set the `ref` as `$SOME_SOURCE` then the context would have some way to reference this path somehow.

Maybe it would look like:

[c

[2020-10-07 11:12] benjdlambert commented on #2771
@mbruggmann I'm thinking that the current implementation that we have is very similar to what your proposed solution is. You can define template which has some skeleton and a templater, and then the publish step is statically defined right now from the frontend. It works pretty well, but there's been an increase in requests for flexibility and more customisation, so I think inverting the control b

[2020-10-07 11:15] #2534 closed

[2020-10-07 12:06] andrewthauer commented on #2771
This is one of the more compelling ideas for us in this RFC. We already have an large established set of repos so making changes across them would be very useful. Especially if it was possible to do as a bulk change across multiple repos.

As an example, if we wanted to increase the entity schema version across all of the catalog-info.yaml files with each repo.

[2020-10-07 14:33] #2552 closed

[2020-10-07 14:48] taras opened #2785 "Sourcemaps are missing from distribution packages and local builds"
I'm trying to debug #2764 but finding it difficult to navigate the codebase with the Node.js Inspector because there are no source maps. Without sourcemaps, it's very difficult to place breakpoints by looking at TypeScript source code. This problem effects both contributors to Backstage and developers consuming Backstage.

## Expected Behavior

Backstage distribution packages should include workin

[2020-10-07 14:53] #2605 closed

[2020-10-07 15:31] #2760 closed

[2020-10-07 16:09] mahmoodhosseini commented on #2462
@emmaindal, what would be your suggested design for this?

[2020-10-07 19:07] blueelvis opened #2788 "Unable to create Web App from Template & Unable to select any text"
## Expected Behavior
So, I got the backstage working locally with the UI, Backend and Auth working on my Windows machine with Docker installed. I am trying to work on the Lighthouse plugin and hence have a Spotify Lighthouse CI server running on minikube.

1. I expect that when I create a Website from the template, it should create it.
2. I should be able to select and copy-paste the logs which ar

[2020-10-07 20:30] goober commented on #2735
I have opened an issue against the git-url-parse repository https://github.com/IonicaBizau/git-url-parse/pull/113 for adding support for bitbucket server url parsing.

I will hold on further implementation of this feature until the above pull request has been sorted out

[2020-10-07 21:30] blueelvis opened #2790 "Scaffolding Logs showing a lot of blank lines"
## Expected Behavior
I expect that there should not be so many blank lines in the logs generated while scaffolding.

## Current Behavior
A lot of blank lines are there like below -
![image](https://user-images.githubusercontent.com/6985763/95389693-d0605400-0911-11eb-9650-3bc50ceb8344.png)

With some lines containing something like the following -
![image](https://user-images.githubusercontent.com

[2020-10-08 07:16] Nek opened #2794 "Improve "Create a new component" UI"
A component creation is a long process that can take more than 15 minutes to complete. Current UI uses a modal window to display a status of the process which is misleading and makes it look like leaving the page will stop the process.

![image](https://user-images.githubusercontent.com/132011/95426647-8776c280-0946-11eb-8a07-3db57d70eb2a.png)

The link to the one of the creation templates on the

[2020-10-08 08:04] shmidt-i commented on #2790
So the reason behind is that `create-react-app` is not super friendly in terms of being used inside CI environment. We mostly included it as a way to show example on how does one create a custom templater for the scaffolder.

The aforementioned empty lines indeed are coming from `cra` being very explicit and interactive and to be fair, not focused on such a use case as being ran inside docker. The

[2020-10-08 09:23] iamEAP commented on #824
I'm thinking of hacking on / improving this plugin in the coming week, if anyone else is interested.  Here's my initial thoughts:

### What/Why
In order to expose the most functionality from New Relic without integrating with each of its constituent products piecemeal (e.g. APM, Browser, Infrastructure, Synthetics, Mobile, Logs, etc), it'd be better to integrate directly with their Insights produc

[2020-10-08 09:51] Marvin9 commented on #2780
Waiting for vale author's response on this [issue](https://github.com/errata-ai/vale/issues/243) to make integration easier.

[2020-10-08 09:55] emmaindal opened #2797 "Make GitHub icon in the header customizable (GitLab etc)"
Currently, the GitHub icon will always be a GitHub icon even if you use GitLab for example. This Icon should change depending on where your repo is located.

Investigate if Material UI's icon library has other icons that can be used for this or a more neutral icon that can be used every time.

![Screen Shot 2020-10-08 at 11 55 41 AM](https://user-images.githubusercontent.com/25153114/95443771-48a0

[2020-10-08 10:48] Rugvip commented on #2771
@andrewthauer A constraint we put in place for now is to only consider user-initiated flows, i.e. no dependabot-type things.

Still very much possible that we can support what you suggest though, but bulk changes across repos will require a bit of creature feep.

@mbruggmann Splitting things out into a PR-driven flow makes it really flexible, but I do worry a bit about the DX of having to sit and

[2020-10-08 11:03] taras commented on #2764
Thanks to #2787, I was able to track the problem down to this line https://github.com/spotify/backstage/blob/ef4108dcaa1fa647167e3b976180ff7fd737d15f/plugins/scaffolder-backend/src/scaffolder/stages/prepare/github.ts#L49

I'll work on adding authentication here.

[2020-10-08 11:15] erictnilsson commented on #2797
I'd like to take a look at this! Could you assign me to the issue? :)

[2020-10-08 11:25] #2218 closed

[2020-10-08 11:31] benjdlambert commented on #2771
@Rugvip I like this.

From what I remember, the `required` part of json schema however is a little different to what you have listed here.

It might like something like the following:

[code]

[2020-10-08 11:32] benjdlambert commented on #2771
@Rugvip how would we pass variables into the different `invoke` parts?

[2020-10-08 11:35] dtuite commented on #2071
We have a working README widget [here](https://github.com/RoadieHQ/backstage-plugin-github-insights) which we will add to the sample app. It also handles top contributors, releases, languages used etc.

We're going to rename the plugin to "Code insights" so there is room to incorporate GitLab, Bitbucket and whatever else in the future.

We will reference this issue when we submit the PR.

![image]

[2020-10-08 11:50] blueelvis commented on #2790
I couldn't understand the reason behind why they decided not to add a silent option :|

If we have some other sample app which can be used for scaffolding, do you think that would make more sense to host instead of this which -
1. Gets initialized in less time (15 minutes is kind of too much)
2. Has the proper logging?

-Pranav

[2020-10-08 12:04] dtuite opened #2801 "[RFC] Add pending locations to support easier onboarding"
**Status:** Open for comments

## Need

Imagine you are implimenting Backstage at your comany. Your company has 200 GitHub repos which you want to appear in Backstage in some fashion. You need to somehow put a `catalog-info.yaml` file at the root of each repo.

You have a change cannon like [prbot](https://github.com/dsymonds/prbot) or [cannon](https://github.com/TouchBistro/cannon) at your dispos

[2020-10-08 12:28] emmaindal commented on #2797
@erictnilsson Nice! Thanks 😄 will assign to you!

[2020-10-08 13:03] mfrinnstrom commented on #2771
Some comments/questions from me.
- I like the idea of having all properties specified at the top level instead of for each component but that may only be because then it's easy for me to get an overview of the "interface" for the template. With this approach it is easier to just add another property though, I don't have to care about any mapping to the inputs. One thing with having it separated li

[2020-10-08 13:21] #2652 closed

[2020-10-08 13:29] #2764 closed

[2020-10-08 13:41] #2763 closed

[2020-10-08 13:58] #2785 closed

[2020-10-08 14:37] shmidt-i commented on #2790
Of course you can use whatever fits your use-case, that's the benefit of the architecture 😄  You can define your own cookiecutter-based template or create a totally new templater and tell the scaffolder to use it.

Just to mention, `cra` template in this regard stands out time-wise. If you try `React SSR Template` for example, it will take minute tops.

[2020-10-08 15:44] #2721 closed

[2020-10-08 18:42] erictnilsson commented on #2797
Hey!
So, apart from Github, there aren't any other source control/repo icons within the Material UI's icon library. I've sampled a few general ones below that are somewhat descriptive of the SC/repo location? Not sure. One is for `code`, one is for `cloud`, one is for `folder`, and one is for `storage`:
<img width="1215" alt="Screenshot 2020-10-08 at 20 22 03" src="https://user-images.githubuserco

[2020-10-08 19:36] erictnilsson commented on #2797
I guess if we go with putting a .svg as an asset we might as well get the logos for Azure, Gitlab, and Bitbucket from their press kits and do the same thing. However I'm not at all sure what licensing problems that might entail :P

[2020-10-08 19:37] #2775 closed

[2020-10-08 20:23] emmaindal commented on #2797
Hey @erictnilsson wow thank you so much for putting this together! I like the `code` one though! Let's see if we can get some input from @katz95 or maybe @nikek on this 😄

[2020-10-08 20:32] taras opened #2815 "Backstage doesn't recognize branches that contain forward slashes"
Backstage relies on [git-url-parse](https://github.com/IonicaBizau/git-url-parse) to parse URLs. This library has a [bug](https://github.com/IonicaBizau/git-url-parse/issues/104) that causes it to incorrectly parse URLs that point to branches with forward slashes in them.

## Expected Behavior

I expect to be able to use branches with `/` because it's a useful way to organized branches into groups

[2020-10-08 20:59] emmaindal commented on #849
Hey, I would like to hack on some ideas for this plugin during next week in case you are not planning to work on it @javigomez 😄

[2020-10-08 21:08] freben commented on #2815
Oof - thanks for reporting, of course this should work and I always do the same.

That library has been a bit less than stellar, I wonder if there are alternatives. Then again, just looking at the url in your example, it looks hard to deduce where the ref ends and the path begins...

[2020-10-08 21:26] #2029 closed

[2020-10-09 09:31] benjdlambert commented on #2788
OK - This looks like an issue that `process.getuid` is not available on windows.

I think that we can skip adding this stuff to the docker run command if you're running on windows. Do you wanna pick this up @blueelvis?

[2020-10-09 09:34] benjdlambert commented on #2790
I'm thinking that it might be better to actually capture the output of `create-react-app` and just create cookiecutter from that rather than using the `create-react-app` cli to create the template. The thing that takes the most time is the npm install, but it's not an option you can configure unfortunately.

[2020-10-09 09:57] freben commented on #2749
considering this addressed for now - going to do some cleanup of the interfaces, but the ticket as such is addressed enough to be closed

[2020-10-09 09:57] #2749 closed

[2020-10-09 10:22] taras commented on #2815
I created a [runkit](https://runkit.com/taras/5f80311544ac68001b8ebdf1) that has every GitHub URL parsing library that I could find. None of them support properly detecting the branch name. We might need a completely different strategy for doing this.

[2020-10-09 10:24] dtuite commented on #782
I'll close this now because it's really old and can be superseeded by the more specific suggestion in https://github.com/spotify/backstage/issues/2801

[2020-10-09 10:24] #782 closed

[2020-10-09 10:27] Fox32 opened #2827 "Empty state components don't scale well for small widgets"
I love the idea of the empty state panels. I switched some of our components to the new one that also displays an example for the annotation to add. That works well on fullscreen pages and maybe on bigger widgets. But on our small widgets that looks a bit odd :laughing:

![image](https://user-images.githubusercontent.com/648527/95572426-38a25900-0a2a-11eb-8ddd-167749bfd530.png)
Btw, there is a sec

[2020-10-09 10:35] Rugvip commented on #2815
https://github.com/spotify/backstage/blob/blob/blob/blob/blob/blob/blob.txt

There is actually a bit of method to this madness though. Git itself has a limitation that you can only create branches that can be represented in the filesystem. For example, you can't have both the branch `a/b` and `a/b/c`, because when you create `a/b` `b` is a text file on disk, and therefore you can't create `a/b/c`

[2020-10-09 10:49] taras commented on #2815
I was thinking the same thing.

There could be another approach that could work but I don't know how universal it wold be.

GitHub website doesn't seem to care about extra forward slashes. We could for example use `//` forward slash to represent beginning and end of a ref. It would also be annoying, but could be better than auto detecting because the user is expressing their intention by adding th

[2020-10-09 11:15] Rugvip commented on #2815
@taras tbh we want users to be able to just copy the address from the address bar. Otherwise we could just go with our own shorter format too

[2020-10-09 11:16] taras commented on #2815
true true. I'm going to email a friend at Microsoft to see if he can connect us with someone at GitHub. I want to find out from them if there is a way that they'd recommend.

[2020-10-09 11:37] IonicaBizau commented on #2815
Like I commented in https://github.com/IonicaBizau/git-url-parse/pull/114#issuecomment-706091677, I don't think there is a way to split the url itself into branch name and filename... Pinging @izuzak here just in case he has any ideas how this can be improved. :sparkle:

[2020-10-09 11:56] stefanalund commented on #2827
@katz95 wanna chime in?

[2020-10-09 12:06] katz95 commented on #2028
@OrkoHunter thanks for tagging me :) spoke to @soapraj yesterday and will be looking into this! will get something to you by next week

[2020-10-09 13:00] erictnilsson opened #2832 "Entering YAML-null values when creating a component breaks the component registration"
## Summary
When creating a new component from one of the available templates, the user can insert whitespace, `null`, and `~` for the `owner` field and the `description` field. This breaks the registration of the component from the `component-info.yaml` file since the three values are interpreted as null in YAML which throws an error in the catalog. This results in the component being published to

[2020-10-09 13:01] erictnilsson commented on #2832
If you think my proposed solution is the way to go, I can have a pull-request ready ASAP. Either way, I'd love to be assigned to the issue and resolve it :)

[2020-10-09 13:52] Fox32 opened #2834 "Simpler workflow for adding APIs to components"
Creating a separate entity in your catalog-info.yaml is often more complicated than it should be. Especially as it might duplicate a lot of data from the component itself. And @stefanalund asked me to discuss this topic 😆

## Feature Suggestion

After we removed the [`backstage.io/definition-at-location` annotation](https://backstage.io/docs/features/software-catalog/well-known-annotations#backsta

[2020-10-09 14:20] taras opened #2835 "Using PostgreSQL for development causes error"
https://github.com/spotify/backstage/commit/28793b502cdeb048b12a28c96834da3fff940c31 was failing to start backend server in development. This might have been overlooked if you're using PostgreSQL in development.

## Expected Behavior

Should be able to use Backstage in development with PostgreSQL.

## Current Behavior

![image](https://user-images.githubusercontent.com/74687/95594162-9168f600-0a18

[2020-10-09 14:39] freben commented on #2835
Trying the following:

- `docker run -p 5432:5432 -e POSTGRES_PASSWORD=postgres postgres:latest`
- connect with pssh and `create database backstage_plugin_catalog;`
- in `app-config.local.yaml`, set the config as below
- on latest master, do `yarn start-backend`

[code]

The backend starts up successfully and starts populating it with entities and can be queried for them.

Are you sure the databas

[2020-10-09 14:40] taras commented on #2835
Ok, let me try it again. I'll create better reproduction instructions.

[2020-10-09 15:00] andrewthauer commented on #2834
I was originally thinking having a generalized annotation key along with a type identifier in the value (e.g. `backstage.io/api-definition: openapi:./openapi.yaml`) might be an alternative. Although having multiple API's of the same type is unlikely, I think it might be more common to have both an `openapi` and `asyncapi` so having different annotation suffixes would allow for this. So this maybe

[2020-10-09 15:31] Rugvip commented on #2832
@erictnilsson I think adding validation as part of JSONSchema makes sense: https://json-schema.org/draft/2019-09/json-schema-validation.html

[2020-10-09 16:30] erictnilsson commented on #2832
Cool, I'll look into it :)

[2020-10-09 16:39] Rugvip commented on #2834
Tbh I don't think multiple APIs from a single service is too uncommon? Wondering if there are some other ways to help out the yaml writer rather than adding the annotation.

In an ecosystem of catalog processors I think this makes sense as something to provide, but I think it's a bit too limited to build into the default catalog processors. Although to be fair at this stage of the project we can d

[2020-10-09 16:41] freben commented on #2832
I would expect our code to generate a yaml file that is valid for any input in the text boxes. Even if the input was the string `~`, I would expect the generated file to contain `"~"` (note the quotes coercing it to a string).

The problem here is cookiecutter blindly making a file without knowing its format right? You mention `format`, doesn't cookiecutter have the ability to quote/escape the thi

[2020-10-09 16:43] freben commented on #2832
Should we insert jsonify for these fields in the template? https://cookiecutter.readthedocs.io/en/latest/advanced/template_extensions.html#jsonify-extension

[2020-10-09 16:58] Rugvip commented on #2832
@freben I was just assuming that the template yaml was generated from data, but maybe that's not the case and it cookie cuts. Should definitely do that too, as in generating the entity yamls using `YAML.stringify`-equivalent thing imo. Or just in some other way making sure the values get inserted correctly.

Two separate issues though, one is the upfront validation and the other is correctly inser

[2020-10-09 17:08] freben commented on #2832
If we escape properly, there are no invalid values :)

I would argue that having a cookiecutter yaml file with

[code]

is an actual bug that has to be fixed - you can inject absolutely anything there that breaks both parsing and structure. And the proper way to do it as a template author would be to add `| jsonify` to it imo

[2020-10-09 17:46] Rugvip commented on #2832
@freben @erictnilsson  was thinking about the more general template values case btw, for example ensuring that the GitHub slug has a `/` in it

[2020-10-09 19:03] #2244 closed

[2020-10-10 11:42] Fox32 commented on #2834
Yeah, thats probably right. I have at least one service in my team that implements even two APIs of the same type (two OpenAPI based descriptions). Having a service with different API types, like OpenAPI and AsyncAPI, is a very common pattern for us.
Sometimes I wish I could add more complicated constructs into annotation that just strings 😉, like a list. But as an alternative we could also extend

[2020-10-10 13:11] Rugvip commented on #2834
In k8s I a common way to do this is to serialize the more complex structure as JSON. That's obviously not nice to write by hand and could actually be something to investigate.

Agreed, should not add anything like that without good reason and many other options being considered. Just wanna bring in the mindset of searching for broader solutions for these problems that are likely to pop up a lot. E

[2020-10-10 13:30] freben commented on #2834
If we want some "less magic magic", I would prefer a default-values mechanism. Like having at the top of your file

[code]

or what if that top part was in a separate `backstage.yaml` file, possibly even higher in the folder structure, and it applies to everything below - kinda like codeowners but for any field

[2020-10-10 14:10] kaparwan opened #2842 "A valid repository for "/template" could not be found"
While creating a new component "Create a new component α"  using Available Templates
Create new software components using standard templates
Golang Microservice

It is not succeeding.

Component should get created.

## Steps to Reproduce

1. Step 1 :
Use Available templets for component creation

2. Step 2

Choose Golang Microservice

3.  Step 3

Fill in template parameters and below were the deta

[2020-10-10 16:32] ron-debajyoti commented on #2030
I would like to give it a try. Please assign it to me.

[2020-10-10 17:00] Adamseyer commented on #603
Is there any recent activity on this?

[2020-10-10 17:14] Fox32 commented on #2834
Yeah that's right 😁

That's more what I thought about, instead of just comping from the first entity in a file.

[2020-10-11 06:28] prakhargurunani commented on #1980
@leemills83 I am interested in contributing to this. Can you describe more about this issue..

[2020-10-11 06:35] prakhargurunani commented on #1645
Hey @stefanalund @benjdlambert I would like to contribute on this..

[2020-10-11 20:22] soapraj commented on #2030
Hey! @ron-debajyoti - Awesome! I have assigned this to you.

[2020-10-12 07:41] OrkoHunter commented on #1980
Related https://github.com/spotify/backstage/issues/1645

[2020-10-12 08:14] OrkoHunter opened #2850 "TechDocs: Remove "Made with Material for MkDocs" from documentation pages"
## Feature Suggestion

On TechDocs pages, MkDocs inserts a "Made with Material for MkDocs" on every page. This is done when the pages are being generated.

## Possible Implementation

Use a [transformer](https://backstage.io/docs/features/techdocs/concepts) in TechDocs reader to remove this once it is generated. Look for inspiration in ["Remove mkdocs header transformer"](https://github.com/spotif

[2020-10-12 08:17] themousepotato commented on #2850
Looks pretty much straightforward. Can I work on this?

[2020-10-12 08:22] OrkoHunter commented on #2850
Absolutely! ❤️

[2020-10-12 09:13] stefanalund commented on #1645
@prakhargurunani in order to provide a good architecture overview you would need pretty deep understanding of the project and its parts. Do you feel like you have that?

[2020-10-12 09:24] Rugvip opened #2854 "[RFC] Static Configuration Schema"
**Status:** Open for comments

## Need

Backstage's [static configuration](https://backstage.io/docs/conf/) is being used extensively throughout the project, by both the core packages and plugins. In many places there are examples of valid config, in some places the expected format is documented, but in most cases you need to go read the source code to understand what config you can use. That traj

[2020-10-12 09:25] prakhargurunani commented on #1645
Can just going through the docs help me @stefanalund ?

[2020-10-12 09:28] stefanalund commented on #1645
@prakhargurunani you are more than welcome to try :) But this might not be the easiest issue to pick up.

[2020-10-12 09:36] mclarke47 opened #2857 "[RFC] Future kubernetes plugin contributions"
# RFC future kubernetes plugin contributions

Now that https://github.com/spotify/backstage/issues/2461 is complete we can consider how to proceed with future Kubernetes contributions!

I have itemized a bunch of ideas below. **They are just suggestions I would encourage users to share their use cases if they don’t see it covered.**

Future contributions should try to stick to the following princi

[2020-10-12 09:37] mclarke47 commented on #2461
The work here is now done 🎊 . Suggestions for further improvements are in https://github.com/spotify/backstage/issues/2857

[2020-10-12 09:37] #2461 closed

[2020-10-12 09:44] #2558 closed

[2020-10-12 10:01] #2835 closed

[2020-10-12 10:11] freben commented on #2854
Future extension: automatic completion when writing config files in editors :)

:shipit: this will be a great addition and quality of life improvement

[2020-10-12 10:29] Rugvip commented on #2854
Yeah that's in the "continued work" bit xP. Nothing to look at now. For a simple editor integration we'd have to make things as static as possible, but tbh that should already be the case.

[2020-10-12 10:33] mclarke47 commented on #2636
We will probably add to the plugin marketplace, when the UI is in better shape

[2020-10-12 10:33] #2636 closed

[2020-10-12 11:31] Fox32 commented on #2854
I always look into code or copy & paste examples. A documentation would be great here 👍 JSON schema is a nice approach (beside the version chaos).

Knowing where each config is used is a real problem. We weren't sure last weak how secrets are handled and whether they are included in the UI code 😆 Luckily they aren't 😉

If I have multiple configs that are merged (e.g. app-config.yaml + local, produ

[2020-10-12 11:36] Rugvip commented on #2854
We'll likely provide our own JSONSchema schema, extending one of the existing drafts and adding the `scope` field.

Yes

Not following, are you concerned about how to bring all the schemas together so that we can reference it for autocompletion? I'm thinking the `backstage-cli` will provide a command to merge together all known schemas and output a single file that is checked into the app repo and

[2020-10-12 11:58] andrewthauer commented on #2854
I wonder if an alternative to hand crafting the schema files could be a declarative code first config API? Each plug-in could use this API to describe the configuration it exposes. It could potentially just generate a runtime schema behind then scenes.

[2020-10-12 11:59] Fox32 commented on #2854
For autocomplete I don't need required fields to be required, as they might be defined in another file. For validation I would expect the required fields to be required.

[2020-10-12 12:03] Rugvip commented on #2854
@Fox32 Ah yes idd. So if we generate a schema file for completion we would want to make all fields optional in the entire schema.

[2020-10-12 12:19] OrkoHunter commented on #2091
@hooloovooo I wonder if this issue can be closed now. #2812 was merged and maybe this issue got solved. Please correct if I am wrong. :)

[2020-10-12 12:28] Rugvip commented on #2854
@andrewthauer Yeah mentioned that option in the risks section, but I'm not sold on starting out there as it's a lot more complex and requires some form of tooling. Hoping that it's something we can add in as an optional advanced use-case later, or switch to completely if it's simple enough.

That said, thinking https://github.com/gristlabs/ts-interface-checker or https://github.com/YousefED/typesc

[2020-10-12 13:56] iain-b opened #2865 "Display lighthouse API error in the lighthouse card"
We encountered an issue where our lighthouse plugin was configured in correctly so we got a 404 trying to load the lighthouse card. The error is posted to the errorAPI and displayed in the snackbar at the top. Some other plugins seem to render the error message in the card but others seem to follow this pattern. Which is the preferred pattern ? Can we make a PR to render the message in the card?

[2020-10-12 13:58] prakhargurunani commented on #1645
@stefanalund Ok. For now, let me explore backstage more deeply. You can assign this issue to others.

[2020-10-12 14:11] martina-if opened #2867 "[charts] Stop using NODE_ENV=development in Helm deployments"
## Improvement Suggestion

The main reason NODE_ENV was set to development mode when running the example backend in Kubernetes with the helm charts was that the docker images contained the app-config.yaml file inside which in turn contained configuration that enabled things like the azure scaffolder.

From [app-config.yaml](https://github.com/spotify/backstage/blob/master/app-config.yaml#L156)

[c

[2020-10-12 14:17] benjdlambert commented on #2842
Hey @kaparwan, i think that this could be something to do with not being able to mount the folder inside the container. This seems to work on mac and ubuntu at least I'm wondering if it's something to with centos and permissions.

Have you experienced any of this before?

[2020-10-12 14:19] andrewthauer commented on #2854
@Rugvip - Sorry, missed your point on the additional tooling in the risks section. Agreed, this could be added later as an alternative convenience option. Although, I do feel like the config schema may be overlooked and not easy to catch if there isn't some guard rails in place.

Another thing, I've found a little frustrating is that when a config value is missing a common pattern is the plugin wi

[2020-10-12 14:49] Rugvip commented on #2854
@andrewthauer Yeah I would like to move the optional startup logic to the backend instead of within the plugins. Plugins would just throw an error if required config is missing, but the errors could be caught and logged in the backend in development. It's pretty convenient to have it set up like that in this repo for example, but internally in an org you could ensure that you always have proper te

[2020-10-12 15:17] Rugvip commented on #2801
Both implementation-wise and UX-wise, what would be the difference between a pending location, and a registered location pointing to a `catalog-info.yaml` that doesn't exist yet?

[2020-10-12 15:21] Rugvip commented on #1566
@mahmoodhosseini Thanks!

Cleaning up the error message

The more information we can convey to the correct person, the better. For example if we receive an error that means the `client_secret` is wrong, that should be conveyed in a way that makes it clear that it's a configuration issue in Backstage and the user themselves can't do much else than reporting the issue.

We also want to make the mess

[2020-10-12 15:26] dtuite commented on #2801
@mcalus3 is planning to comment on the possible implementation at some point.

**UX wise**

 1. The edit button in the About card has nowhere to link to if a location is pending. Alternatively, it can link to the branch of the open PR which adds the catalog-info.yaml file, but then it will be linking to the wrong place when the PR is subsequently merged.
 2. As a user, I will be confused if some B

[2020-10-12 15:27] dtuite commented on #2801
@Rugvip I meant to tag you in the above answer to your question.

[2020-10-12 15:36] Rugvip commented on #2801
@dtuite Oh would we be initially set the location of the `catalog-info.yaml` to the PR branch/fork, and then switch it once the PR is merged? Would imagine that could work out pretty nicely.

[2020-10-12 15:58] dtuite commented on #2801
@Rugvip Yeah I think the "automatic switching" is the main thing. You're saying... "I expect a catalog-info.yaml to show up in this location at some point in the future (ie. when the PR is merged)". This feature makes it easy to track all of the repos you are working to add to Backstage, even if they are not yet oficially added because the PR is still open.

[2020-10-12 16:35] stefanalund commented on #2865
@katz95 wanna chime in? Do we have any guidelines for error handling?

[2020-10-12 17:10] bnaganathan commented on #692
Hello,
We are planning to use backstage in our organization for setting up a developer portal. We also have an enterprise Hashicorp vault setup. I see that you are working on developing a vault plugin for backstage. I wanted to explain to you about our vault setup and the use-cases which we expect the backstage vault plugin to take care of. I also would like to understand the architecture/design o

[2020-10-12 17:32] freben commented on #2801
This is the one I'm partial to. I would like to avoid any intermediate / incomplete states. This could probably work great with a github apps integration, such that we in an event driven fashion can pick up on catalog files as they appear, across an entire org, without manual registration.

[2020-10-12 18:15] mcalus3 commented on #2801
We think about introducing intermediate / incomplete states for two reasons:
1. To keep the information in the backstage database that a pull request for given catalog file has been opened and waiting for merge. This could be presented to users to remind them and prevent accidental trying to create the same component twice.
2. To allow fast onboarding, so the user who are trying out backstage in t

[2020-10-12 18:48] BalestraPatrick commented on #603
@Adamseyer We're still working on this, hopefully we'll have something to share soon.

[2020-10-12 19:02] andrewthauer commented on #2801
I'm not suggesting this is an ideal solution, but as a general thought, but placeholder component entities could be automatically generated via a catalog processor that reads a GitHub org. For instance, something like the following could be emitted for each repo:

[code]

The `unknown` (or some other placeholder value) could be treated as a way to say the entity is incomplete. The UI could potenti

[2020-10-12 19:20] stefanalund commented on #2267
@NetPenguins thanks, assigned you!

[2020-10-12 19:31] mcalus3 commented on #2801
I was thinking about implementing this functionality in client app. I can see in `catalog-backend` code that upon a regular existing component creation, client app is sending a request with the yaml configuration from file in github repo and adds an annotation
```backstage.io/managed-by-location: <path-to-the-yaml-file>```

Would it be possible to instead send
```backstage.io/managed-by-location:

[2020-10-12 19:49] freben commented on #2801
Yes, that annotation is a readonly thing effectively; it's a marker left by the processing chains that tell where the data came from.

[2020-10-12 19:57] freben commented on #2801
I'll read up a bit on this thread tomorrow again, and gather my thoughts.

[2020-10-12 19:57] freben commented on #2832
Yep there's definitely room for proper validation as well!

[2020-10-13 07:52] stefanalund commented on #692
@timchepeleff are you still working on this?

[2020-10-13 08:48] marcuseide commented on #1598
@andrewthauer Hey, just checking in and asking if you feel that this issue can be closed now or if there are more discussions to be had?

[2020-10-13 08:52] dtuite commented on #2801
We talked over the annotation driven implementation this morning and it seems promising. We'll update later with a more thorough idea of implementaition.

[2020-10-13 08:53] marcuseide commented on #2733
Hey @alxmrtn , Just double-checking here that navigate to `http://localhost:3000` and not `7000` when you run locally. Port `7000` is running the build version and would not pick up the `env` passed in to the command line I think.

[2020-10-13 08:57] marcuseide commented on #2707
@exp-dev-dj Unfortunately running plugins in isolation was not covered in a recent refactor we did (#2076). We aim to reintroduce this behaviour, but we cannot give a specific time for that right now.

[2020-10-13 08:58] marcuseide commented on #2405
@erictnilsson Interested in picking this up as we haven't heard back from @mcalus3 ?

[2020-10-13 09:03] marcuseide commented on #2827
@stefanalund @katz95 Me and @samiramkr can take a look at this shortly.

[2020-10-13 09:05] marcuseide commented on #603
@BalestraPatrick Hey, checking in here and wondering if this is something you are planning on picking up and if you have any questions around it?

[2020-10-13 09:06] marcuseide commented on #1980
Closing this in favor #1645

[2020-10-13 09:06] #1980 closed

[2020-10-13 10:00] dtuite commented on #2733
@alxmrtn looks like your callback URl is also incorrect. It should be `http://localhost:7000/api/auth/github/handler/frame`.

Here is more information about [setting up GitHub authentication with Backstage](https://roadie.io/blog/github-auth-backstage/).

[2020-10-13 10:10] GoWind commented on #1435
@Rugvip  : I would like to take a shot at being able to provide a solution for this , if possible. Can you assign this to me ?

[2020-10-13 10:24] dtuite commented on #2865
When I see the error in the screenshot it makes me think that the whole page is broken. That's not really the case here, it's only the Lighthosue Audit card which is broken. Everything else should work fine. If the error/warning was displayed in context, within the Lighthouse card, it would be easier for me to know what the problem relates to.

[2020-10-13 11:07] dtuite commented on #2801
Here's the best plan we can see right now. Props to @andrewthauer for the idea.

1. Build a plugin UI which fetches a list of repos from GitHub and allows the user to choose which ones they want to import into Backstage.
2. When the user chooses a repo, the following happens:
   1. We directly insert metadata for the repo into Backstage via the API.

[2020-10-13 11:19] dtuite commented on #2801
Here's the best plan we have so far. Props to @andrewthauer for the idea! ❤️

1. Build a plugin UI which fetches a list of repos from GitHub and allows the user to choose which ones they want to import into Backstage. This will focus primarily on repos which the user has write access to.
2. When the user chooses a repo, the following happens:
   1. We automatically create a branch against the repo

[2020-10-13 11:25] mcalus3 commented on #2405
@marcuseide I'm not working on it, sorry for the confusion.

[2020-10-13 12:02] andrewthauer commented on #1598
@marcuseide - I'm good with closing this issue and handling any remaining items in separate issues.

[2020-10-13 12:02] #1598 closed

[2020-10-13 12:06] andrewthauer commented on #2801
One thing I think would be very useful in backstage core vs a plugin, would be the underlying utility library / helpers for querying the GH org. I can see this being very useful to expose an API, so other catalog processor authors / integrators can leverage.

[2020-10-13 12:32] freben opened #2876 "[catalog] Users should get clear information about refresh loop warnings/errors"
## Feature Suggestion

As the entity refresh loop runs, a lot of information is emitted as logs - for example, if entities fail validation or if the source location could not be read. This information is not made trivially available for the end user, which makes it very hard to fix a problem e.g. with a syntax error in your YAML file.

All refresh loop information that is relevant to end users sho

[2020-10-13 12:55] andrewthauer opened #2878 "[RFC] Seperate the techdocs-ref annotation concerns for reading & building/publishing"
**Status:** Open for comments

## Need

The TechDocs solution is intended to support both multiple integration use cases. One of these is allowing backstage to read & render pre-existing docs sites that were not built using the `techdocs-backend`. Currently the `backstage.io/techdocs-ref` annotation seems to be used for both building/publishing & indicating a component has techdocs (for the reader

[2020-10-13 13:50] Rugvip commented on #1536
Quick update that this is still something we're looking at, specifically how to solve routing between different plugins, and different components exported from a plugin. Some more info here: https://github.com/spotify/backstage/pull/2565

[2020-10-13 14:44] hooloovooo commented on #2878
@andrewthauer You could try removing techdocs-backend and run without that. The only purpose of techdocs-backend is supposed to be building and publishing, so that's how it's meant to work. That said there are some things that might cause issues at the moment so not sure exactly how it'll work.

[2020-10-13 14:53] martina-if commented on #2801
In the long term I also like more the idea of having a Github App that finds, validates and pushes entities to the backstage catalog, but I think this is also a good way to do a quick onboarding since it has the added value of not requiring org level permissions. This means anyone can run this and get started on Backstage.

[2020-10-13 15:09] erictnilsson commented on #2832
Right. Recap just so to make sure I'm understanding you correctly:

1. We should `jsonify` relevant fields in the cookiecutter yaml-files so that the values are enclosed with "".

2. We can also validate the relevant fields like we do with _Github slug_ so that the user cannot insert whitespace, `~` or `null`? For that you mentioned adding validation as part of JSONschema @Rugvip ; am I correct in

[2020-10-13 15:15] erictnilsson commented on #2405
@marcuseide Yes I'd like to take a look at it!

[2020-10-13 15:54] freben commented on #2832
For 2, I'm hoping we should NOT worry about ~ etc since if we jsonify properly, they aren't a problem. Validation should be for domain specific things, not to avoid yaml problems. So yep, schema checking that something is on the form `\w+/\w+` is fine but because it's the domain syntax, not because it saves the yaml file :) may still need escaping/quoting after domain validation

[2020-10-13 16:11] mbruggmann commented on #2801
Regarding permissions, actually I think the opposite is true: As an owner of a repository, you are allowed to add a Github App to it on your own. But the proposed method only works if Backstage has org- or installation-wide access to all repositories.

A middle ground could be to have a `Repository` type in the catalog, which we could create through the API when a repo gets imported. That would th

[2020-10-13 16:34] freben commented on #2801
Or make it a Location kind which already exists, pointing to the repo, and make a processor that can read entire repos.

[2020-10-13 17:17] freben commented on #2834
I've been thinking about this one.

There's already a field for linking to APIs that the component implements. That one was added pretty haphazardly. Now we reach for annotations to solve a lot of lacking expressivity. I think that maybe annotations aren't the way to go.

The ultimate reason for the existence of the `implementsApis` key, is as a generator for [relationships](https://github.com/spo

[2020-10-13 17:37] ayshiff commented on #2865
I think snackbars should always have the same position, which in this case is at the top of the screen.
We could perhaps add a context to the error message in order to have a more precise message.

![Capture d’écran 2020-10-13 à 19 30 59](https://user-images.githubusercontent.com/32459935/95895232-a207cc00-0d8a-11eb-9d01-af3019c758b3.png)

(I don't know what is the best solution, @katz95 will ce

[2020-10-13 17:42] renvrant opened #2884 "[RFC] Update packages to address vulnerabilities reported by yarn audit"
Running `yarn audit` on the repo at present currently reports ~100 issues, most of them duplicated.

## Current Behavior

[code]

## Possible Solution

Many could be eliminated by upgrading lerna and cli/webpack.
It might also be good to have audit reporting vulnerabilities as a part of CI builds to keep the problem visible, if that isn't already being done.

## Steps to Reproduce

Run `yarn audit

[2020-10-13 18:24] Rugvip commented on #2884
We're relying on GitHub's dependabot alerts for this atm. Would you say yarn adit provides adittional value?

[2020-10-13 18:26] dtuite commented on #2865
You're right @ayshiff, if the error is co-located with the component which is causing the error, it no longer makes sense to use a Snackbar component to display it.

[2020-10-13 18:37] renvrant commented on #2884
@Rugvip I think they serve different purposes, as audit is just reporting. It could still be useful to integrate for visibility you might be missing. For instance, dependabot seems to have opened a PR for webpack which will address the critical vulnerability, but not for lerna.

[2020-10-13 18:38] andrewthauer commented on #2801
Would it be possible to covert this special Location kind into another (e.g. github/api) after a `catalog-info.yaml` PR was merged? Would say an component entity with the name `foo` (no namespace) mapped to to a different `managed-by-location` if another location was used to process it?

[2020-10-13 18:40] Rugvip commented on #2884
@renvrant Dependabot does auditing too, but you need write access to the repo to see them. There may be other reasons it's not opening PRs though, like no available versions that fixes the vulnerability yet.

[2020-10-13 18:42] andrewthauer commented on #2884
I did noticed there is a dependabot PR for webpack 5 which may resolve some of the underlying audit issues - https://github.com/spotify/backstage/pull/2871. It's failing CI though.

[2020-10-13 18:44] erictnilsson commented on #2832
I see! That makes a lot of sense. But then I don't see a reason to add any more validation than what is already present; `required` already takes care of _something_ needing to be entered, right?

[2020-10-13 18:51] dtuite commented on #2801
@mbruggmann

How so? I'm worried I'm missing something now. Which part requires the elevated permissions?

[2020-10-13 18:55] dtuite commented on #2801
@freben

Interesting thought. Playing this out, are you suggesting that...

 1. The processor would check all branches for a valid `catalog-info.yaml`
 2. The processor could tell which is the main branch of the repo (`master` in most cases, but not guaranteed)
 3. The processor could therefore tell if the entity was in a "pending" state (ie. the PR has not yet been merged).

[2020-10-13 19:14] freben commented on #2801
As per the original post:

I think this is the part we should focus on. I don't think we should (at least at this point) think of _entities_ as being in a pending state, therefore, there would be no reason to look at non-main branches. The value proposition that I agree with is in automatically picking up the entity _after merge_ without any further user action, which a repo-targeted location will

[2020-10-13 19:21] freben commented on #2832
Not sure! I'd have to double check :) And for the user's sake it's really nice with rich feedback telling them not "doesn't match regex" but rather "this has to be an X and an Y separated by slash, and you need to be owner of Y" etc etc :)

[2020-10-13 19:25] dtuite commented on #2801
Got it. Appreciate the explanation!

[2020-10-13 19:26] mbruggmann commented on #2801
+1 to everything @freben suggested.

@dtuite I might have misunderstood how this works, but what I meant with the permissions is that Backstage needs a token in the config file (eg here https://github.com/spotify/backstage/blob/master/app-config.yaml#L66) that can read from all repositories where we have registered components, and also all new repositories that we want to register components from.

[2020-10-13 19:43] ericsmithfboston opened #2885 "[WANTED]: Lead Backstage Developer"
We are in the initial stages of creating a developer portal / console based on Backstage and are looking for someone to help lead the effort.  The role would include opportunities to contribute back to the main Backstage project while focused on delivering features for our internal portal.

If you are interested in learning more about the role, please contact me at "eric.smith at homesite.com".

[2020-10-13 19:54] alxmrtn commented on #2733
Howdy, thanks for the reply. I was mislead in thinking that the ui that presents itself on `:7000` when booting the backend was the ui to use, when I should be booting the ui on `:3000` in a separate process. Once I had both running and was accessing the frontend on `:3000` I was able to authenticate. Thank y'all for the input. I'm gonna close this.

[2020-10-13 19:54] #2733 closed

[2020-10-13 20:01] freben commented on #2733
Nice! Happy you got it sorted.

[2020-10-13 21:27] dtuite commented on #2885
@ericsmithfboston Just sent you an email. Looking forward to chatting.

[2020-10-13 22:24] Rugvip commented on #2834
Would love to find some more guidelines around the catalog model. This is really for another issue, but we've derailed here already :grin:

Couple of things I have in mind, some of which matches @freben's suggestion above:

1. Annotations encapsulate data for consumption by plugins, they can be added manually by users, or generated by processors. They should drive features and feature switches in

[2020-10-14 01:52] andrewthauer commented on #2878
@hooloovooo - Thanks, I'll try that out and see what happens.

[2020-10-14 06:30] stefanalund commented on #2885
Seems like you’ve made a connection, so closing this now. Posting a message in one our Discord channels is another option to find people. Good luck with your project!

[2020-10-14 06:30] #2885 closed

[2020-10-14 07:14] martina-if opened #2889 "[RFC] Better way to override Backstage's configuration from a Kubernetes deployment"
## Need

A way to dynamically override the configuration of Backstage backend.

Today, the configuration of Backstage is loaded from a set of files with predefined names and locations in the [resolver.ts](https://github.com/spotify/backstage/blob/master/packages/config-loader/src/lib/resolver.ts#L28). From that file:

After #2845 was merged we also have the extra flexibility of defining `APP_ENV`

[2020-10-14 07:16] emmaindal commented on #2797
Alright @erictnilsson I don't want to block you on this so let's go with the `code` icon for all now and we will see if we can put together icon designs for the different source code providers we support!

[2020-10-14 07:16] emmaindal commented on #2797
unless my friends over at @spotify/techdocs-core have any other suggestions? 🎉

[2020-10-14 07:53] Rugvip opened #2891 "Tests in core should be written in TypeScript"
We don't enforce this across all packages at all, but for core it's nice to have the tests written in TypeScript. It provides an additional layer of checking that the types are correct.

The following files are currently JS:

- [ ] packages/core/src/components/Link/Link.test.jsx
- [ ] packages/core/src/components/Button/Button.test.jsx
- [ ] packages/core/src/components/ProgressBars/Gauge.test.jsx

[2020-10-14 07:55] hooloovooo commented on #2797
Agreed. Just going with the `code` icon for now seems like a good enough solution for now.

[2020-10-14 08:02] martina-if opened #2892 "[charts] Make Backstage pods wait until postgresql is ready"
## Feature Suggestion

The Helm charts provided in `contrib/charts/backstage` take only a few minutes to start up but for a while the backend, specially, will be in a crashloopBackOff state because it keeps trying to connect to the postgresql instance when it's not ready yet.

In this loop it keeps throwing this error:

[code]

Even thought it will eventually connect to the database it would be ni

[2020-10-14 08:11] martina-if opened #2894 "Allow the user to decide the name of each database"
## Feature Suggestion

This is something that Backstage had before but has been changed recently.

The name of the database that each plugin uses is now decided by the code. I think there should be a way to completely override the name of the database from the configuration. There are mainly two use cases for this:

- Testing: one may want to run several end to end tests agains the same postgresql

[2020-10-14 08:22] mcalus3 commented on #2801
@mbruggmann @dtuite, claryfing up the permissions thing - We are having the solution in which user logs in with their own GitHub account (through OAuth). Thanks to that, _backstage app GitHub account_ doesn't need any special permissions to the repos, pull requests are opened from the user's account (which is nice because repo owners would have the real person to talk to in the comments) and if th

[2020-10-14 08:32] erictnilsson commented on #2797
Cool! I've linked a pull request now :)

[2020-10-14 09:04] emmaindal commented on #2797
closed by: #2895

[2020-10-14 09:04] #2797 closed

[2020-10-14 09:25] Rugvip commented on #2894
Agree that this would be something to support out of the box tbh. It's very much possible to implement your own `PluginDatabaseManager` using pieces from `@backstage/backend-common`, but this is likely common enough that we should provide a solution for it.

Another option is something along this:

[code]

[2020-10-14 10:33] Rugvip commented on #2889
👍 , been meaning to create an issue around the `null` behaviour in overrides. Happy for contributions or creation of a more specific issue if we don't get around to it first.

Regarding config loading, there are a couple of things I feel are really wonky with the current setup:

1. It is not obvious **when** config is loaded, and it's easy to make the mistake of for example trying to configure fro

[2020-10-14 10:47] tkrop opened #2898 "[RFC] On specific semantic of systems, components, and resources in Catalog"
**Status:** Open for comments

## Need

While mapping our Zalando "application" universe to the Backstage Catalog, we stumbled across defining the precise semantic and proposed usage patterns when mapping it to  `systems`, `components`, and `resources` (see #390). Since the terms are currently not specific enough defined and the examples do not provide no clear picture, the questions are as follow

[2020-10-14 11:21] freben commented on #2898
@mbruggmann may be interested ^

[2020-10-14 11:44] martina-if commented on #2889
Thanks for the feedback and the new ideas.

When you say passing the config to  `backstage-cli app:build` is this for the frontend? Or is this needed for the backend part too?

The fact that the frontend sample app can't load dynamic configuration is a limitation that would be nice to resolve. We can always configure it through environment variables so that's good. Ideally you could be able to dyn

[2020-10-14 12:18] Rugvip commented on #2898
Also a link to the original catalog model RFC for reference: https://github.com/spotify/backstage/issues/390

Some thoughts from myself:

1. This comes down to whether the software is different. If a piece of software is deployed to a staging and production environment, it is still one component and the difference would rather be modelled as different `deployment`s. If for example the staging envi

[2020-10-14 12:47] mbruggmann commented on #2898
Thanks for raising this @tkrop, agree that the definitions would profit from being more clear.

Trying to summarize my thoughts: I think `components` should map to "pieces of code" in source control. `resources` express the (cloud) infrastructure needed for a component or system at runtime (such as databases, caches, etc). It'll probably be quite hard to agree on how exactly `systems` should be mo

[2020-10-14 13:11] andrewthauer commented on #2894
Another use case for this would be 2 sets of databases for local development (which I've recently run into). An internal org instance and the other for the open source instance. Since migrations may be different across the 2 instances it makes sharing test databases problematic. I have some additional thoughts:

The current `createDatabaseClient` helper takes in a `database` config structure and i

[2020-10-14 13:22] Rugvip commented on #2889
Yeah config flags would need to be passed to any command that needs config, so I think it might be better to make it a required flag to avoid confusion. That's from the CLI's point of view though. Most usages will be wrapped up in yarn scripts or the like anyway.

Regarding frontend config, the `@backstage/core` package is set up so that you can provide your own config loading logic, but I think w

[2020-10-14 13:24] JoelLau commented on #2891
hi, is this available for anyone to contribute to?

[2020-10-14 13:32] Rugvip commented on #2894
@andrewthauer Yeah it's nice to not have to magically remove the `forPlugin` key. Regarding the behaviour I think a bit of copy-paste doesn't hurt too much. Yaml anchors can help out a bit, and if people end up with a hundred lines of db config yaml we can perhaps take another stab at it.

I'm not crazy about having both `database` and `pluginDatabase`, although it's just a naming thing. All datab

[2020-10-14 13:33] Rugvip commented on #2891
@JoelLau sorry, samiramkr is already working on it

[2020-10-14 13:47] JoelLau commented on #2891
@Rugvip oh yeah sure, that's what I was wondering haha. thnks for the quick response anyways!

[2020-10-14 14:27] freben commented on #2898
Agreeing with the above, making some additions:

1. Because you used the word "type", I'd just like to put in a little note that System and Component are overarching entity `kind` s, just so we don't confuse them with Components that can be of different `spec.type` s. :) With that aside, I agree with the above that the base take is that a Component represents a single "unit of code" over time - it

[2020-10-14 14:50] freben opened #2901 "Onboarding wizard for repos that do not have a catalog-info.yaml"
## Feature Suggestion

A lot of users will start their Backstage journey with an empty catalog but a lot of existing source code repos that they would like to get in there. The current workflows require them to manually create catalog-info.yaml files for each one of them and register that. This is tricky to get right from the start and requires low level fiddling with YAML files whose format you a

[2020-10-14 15:08] dtuite commented on #2901
Related discussion in https://github.com/spotify/backstage/issues/2801.

FWIW we've had conversations with at least one company who consider the YAML files to be a critical part of the value of Backstage. They want to be able to search across them with SourceGraph.

[2020-10-14 15:18] emmaindal opened #2903 "Pre-configure techdocs sites with repo_url in mkdocs.yml file"
To show the edit button on pages of documentation the repo_url config need to be set in the mkdocs.yml file. To avoid one extra step of configuration we want this to be pre-configured in the process of generating documentation.

The location of the repository can be gathered from the techdocs_ref annotation as it is now, even though this might change in the future.

The edit button is the "pen" to

[2020-10-14 15:33] timchepeleff commented on #692
@bnaganathan -

I'd love to chat. Just getting back from a short holiday so I apologize for the slow response here.

@stefanalund -

Still chugging along!

[2020-10-14 15:57] mclarke47 commented on #632
Opened an RFC over at https://github.com/spotify/backstage/issues/2857

[2020-10-14 15:57] #632 closed

[2020-10-14 17:05] mahmoodhosseini commented on #1566
Thanks, @Rugvip. I'm working on it.

[2020-10-14 18:31] dtuite commented on #692
@bnaganathan @timchepeleff Could you include me in the conversation too please? We're not using Vault yet but it's likely that we will in the near future and I'd love to hear how you're going to use it with Backstage.

[2020-10-14 18:42] bnaganathan commented on #692
@timchepeleff No Problem. Thank you for your time. I have also added few other people to the meeting.

[2020-10-14 18:44] koalado commented on #2901
@dtuite  please take other git providers in mind as well 😃  At my company we use Bitbucket for all our repositories.

[2020-10-14 18:46] bnaganathan commented on #692
@dtuite  I have forwarded the meeting invite to your email - david@roadie.io.

[2020-10-14 18:47] dtuite commented on #2901
@koalado As a workaround, perhaps you could consider migrating your company to GitHub?

😂  Just kidding! You are right. Ideally a feature like this would support all the major players.

[2020-10-14 19:50] SuganJoe opened #2906 "Scaffolder backend- provide base url for creating apps in Enterprise GitHub"
## Feature Suggestion

To support creating app repos in Enterprise Github, we may want to add  **base url** as environment variable explicitly under  scaffolder in app-config.yaml (similar to gitlab).

## Possible Implementation
1. Add an environment variable for **base url** for scaffolder Github

2. use the same while instantiating **githubClient** , can keep this as optional input param.

[2020-10-14 19:55] koalado commented on #2901
Good one! 😄 Apart from the provider, if it's GitHub, I really like the idea about the GitHub apps event driven approach.

[2020-10-14 19:56] dtuite commented on #2540
@martina-if this can probably be closed now right?

[2020-10-14 20:53] stefanalund commented on #2901
I think this is a great idea. Ideally it should be built in a way where the community can help contribute parsers for different kinds of repo -> entity mappings.

[2020-10-14 21:05] Rugvip commented on #2901
@stefanalund Hopefully we'd be able to re-use existing entity processors for that. Basically start out with a bare entity, run it through a bunch of processors, and use the output entity in the PR. We have enough API surfaces to take care of already 😅

[2020-10-14 22:41] mcalus3 commented on #2901
@freben Question about implementation - could this flag be a custom annotation like `backstage.io/pending-pull-request: true` in the entity (the thing that is being saved to the database)? Could this annotation be removed after PR merging (ideally - automatically by a GitHub App or webhook)?

[2020-10-15 00:50] andrewthauer commented on #2894
@Rugvip - That's a valid point that there isn't actually a `backend` database. Another minor variation could be something like this:

[code]

[2020-10-15 02:28] NetPenguins commented on #2267
@andrewthauer what would be required to add the `edit-location:` annotation?

[2020-10-15 02:30] andrewthauer commented on #2267
@NetPenguins - I think that might be obsolete and not required any longer. Please disregard.

[2020-10-15 05:14] Marvin9 commented on #2903
I would like to work on it.

[2020-10-15 05:46] freben commented on #2901
@mcalus3  I meant the saved location (/entity/locations); the entity itself won't appear in the catalog until after merge

[2020-10-15 05:47] freben commented on #2901
@stefanalund @Rugvip yeah I hope that this will be basically entirely backend driven with mostly existing mechanisms, maybe a new /catalog/analyze or so

[2020-10-15 09:28] #2540 closed

[2020-10-15 10:01] Rugvip opened #2910 "Move Catalog REST API filters into their own query parameter"
## Feature Suggestion

All query parameters are treated as filters when querying the catalog right now, implemented [here](https://github.com/spotify/backstage/blob/7ff2f1c0f0c63b8be5712a56569b83743b79f980/plugins/catalog-backend/src/service/router.ts#L128). We should move filters into a dedicated query parameter such as `?filter=` or `?q=` in order to make space for things like pagination and sor

[2020-10-15 12:45] dtuite commented on #2901
We at roadie.io would like to contribute this feature. I've asked @stefanalund to assign me to it.

@freben we'd love to have a quick sync at some point over the next few days to talk through the plan we have put together. I'll reach out on Discord.

[2020-10-15 13:25] stefanalund commented on #2901
@dtuite thanks for picking this up. I've assigned you!

[2020-10-15 13:53] stefanalund commented on #2876
One option is to use this UX:

![Screenshot 2020-10-15 at 15 52 01](https://user-images.githubusercontent.com/190856/96138784-6aba2c00-0efe-11eb-8141-f9553bbab7e3.png)

If the status is not green, maybe we show a "More details" button that pops up a dialog with more details. @katz95 any thoughts?

[2020-10-15 14:42] freben commented on #1807
Ingestion of LDAP groups and users into the catalog was added with #2732.

[2020-10-15 15:05] tkrop commented on #2898
@Rugvip @mbruggmann @freben thanks for sharing your insights. I can now see clearer from which perspective you are looking on this terminology. Consent of your comments seem to be the following aspect:

1. `systems` and `components` are manually maintained abstractions (types/classes) of logical software units. They do not describe distinct running systems and deployments, e.g. in Kubernetes, but

[2020-10-15 15:31] SuganJoe commented on #2906
@stefanalund I have little change which I would like to contribute back to backstage, what is the procedure to start doing it ?

[2020-10-15 15:40] mahmoodhosseini commented on #2910
I'd like to work on this issue.

[2020-10-15 15:45] Rugvip commented on #2898
@tkrop The intention is very much to extend the catalog with a `System` entity `kind`, we're just not there yet.

Clarification regarding (2): All catalog entities are things that we expect to live for a long time.

[2020-10-15 16:28] GoWind opened #2917 "Allow or document how to link backstage packages/plugins to Applications locally."
## Feature Suggestion
The simplest solution would be to provide a command within `backstage-cli` that can build or setup the packages in such a way that  they can then be linked using `yarn link` into an application.

If that is not possible, or not in scope at the moment because of constraints, it would be nice to have at least some documentation on how the project is build programmatically.

##

[2020-10-15 16:48] Rugvip commented on #2917
Error is coming from the fact that the TypeScript isn't being transpiled, most likely because it's in `node_modules` and https://github.com/spotify/backstage/blob/a19377601f989a3b8465645a44de6ce0f4b814b6/packages/cli/src/lib/bundler/transforms.ts#L37

The paths in `tsconfig.json` won't affect the build, only the type checking, and the module aliases isn't something that exposed (for good reasons 😅

[2020-10-15 16:52] #1566 closed

[2020-10-15 18:06] freben commented on #2898
I wonder if it would be helpful or just confusing if we added System and Domain today - basically with empty `spec` - and then gave it some time to figure out exactly what fields to add to them. If we decided how to express the relation between them (whether it should go in metadata, as a label, or in spec), then at least users could get going with the modeling.

[2020-10-15 18:12] freben commented on #2898
In the internal Backstage, the catalog also is instrumental in tying together components with CI/CD systems, somewhat similarly to what you describe. There, components have gained the concept of a "role", which is what binds them into a certain project, guides host naming and to some extent service resolution, defines permissions boundaries etc.

[2020-10-15 18:19] abhishekjakhar opened #2919 ""Company Radar" section on tech-radar page flowing out of HTML"
## Expected Behavior

The section with title "Company Radar" should scroll horizontally inside the container instead of flowing out of the parent element.

<img width="960" alt="tech-radar-fix" src="https://user-images.githubusercontent.com/19193724/96169812-57c84b80-0f40-11eb-9b32-5ac0d9f58eea.png">

## Current Behavior

The section with title "Company Radar" is flowing out of it's parent element

[2020-10-15 18:25] freben commented on #2919
@abhishekjakhar Yep, it's not very responsive right now. Nice well presented bug report! Would you like to get assigned to try to fix it?

[2020-10-15 18:26] abhishekjakhar commented on #2919
I would love to raise the PR

[2020-10-15 18:30] freben commented on #2919
Assigned!

[2020-10-15 23:58] Rugvip commented on #2910
@mahmoodhosseini Thanks!

I think it's best if we start with agreeing on the new format for the filters. Do you have a suggestion for what it could look like? One of the possible implementations or something different?

[2020-10-16 03:23] andrewthauer commented on #2889
I think I should share a relevant story that might inform this discussion ...

After we upgraded to `alpha.25` our deploys were failing because the `backend` couldn't talk to our `postgres db` any longer. It was trying to connect to `localhost` which smelled very much like a configuration fallback issue to the `app-config.yaml`. However, I couldn't replicate the problem locally. After trying too m

[2020-10-16 04:32] moustafab commented on #2857
@mclarke47 I'd love to contribute to some of this effort. Specifically the arbitrary label selector lookup would be really interesting for me. Let me know how to get started, if I should open a separate issue or how to go about that.

[2020-10-16 07:31] freben commented on #2910
I vote `?filter=a=b&filter=c=d`. Am not fond of the json syntax in a query string, if we want le ultra advanced filter syntax trees and stuff in the future, we can add a new `query` param exclusively for that at a later time.

[2020-10-16 07:34] althafh opened #2923 "Allowing customization of the Catalog Page"
## Feature Suggestion
Right now the Catalog Page hardcodes the types of Components visible to Services, Websites, Libraries, Documentation and Other. This mean custom component types defined appear in Other.

## Possible Implementation
A simplistic way is to pull that via a Config Array but that seems like Config Bloat.
Maybe a similar implementation to EntityPage which sits in the application its

[2020-10-16 07:39] freben commented on #2894
maybe with the addition that the default one has one more feature:

[code]

That one would obviously have to be deleted from the input structure and replaced with an actual database name.

Or maybe that doesn't help much more than just asking people to repeat their database connections in `database`.

[2020-10-16 07:46] freben commented on #2898
@tkrop The core team has given some feedback - we welcome further discussion and can provide more clarification of course. How would you like to treat this ticket as such? Should we keep it open until we sorted out how things match your needs, or would you like to branch out to separate action tickets of things that need adjustment, or would you like to wait for community input?

[2020-10-16 08:00] Rugvip commented on #2889
@andrewthauer `APP_ENV` already being used for other things is ofc a thing I should've considered when adding that. Quick google gives quite a few results. Still much fewer results than `NODE_ENV` at least 😅 . Sorry about the frustration though, and hoping we can find some good solutions to avoid more of it

+1 for logging the resolved config at build time, gonna get on that straight away :grin:

[2020-10-16 08:36] Rugvip commented on #2910
Should we go with this? https://kubernetes.io/docs/concepts/overview/working-with-objects/field-selectors/

[2020-10-16 08:44] mclarke47 opened #2924 "k8s-plugin: Allow fetching of resources with arbitrary labels"
From https://github.com/spotify/backstage/issues/2857#issuecomment-709753137

## Feature Suggestion

It should be possible to provide other labels, keys and values to look up resources by with a [label selector](https://kubernetes.io/docs/concepts/overview/working-with-objects/labels/) like so `key=value`.

## Possible Implementation

I can see 2 ways of doing this:

### Entity driven

We could ad

[2020-10-16 08:47] mclarke47 commented on #2924
@Rugvip @freben @moustafab any feedback would be great! ☝️

@moustafab has shown an interest in implementing this

[2020-10-16 08:56] freben commented on #2910
I think you need to clarify that last one with an example :)

Supporting just `=` first and then adding `!=` later sounds fine.

What did you mean that the key of the query params should be?

I do not think we should change the current semantics right? Where `a=1&a=2&b=3` means `a is either 1 or 2, and b is 3`

[2020-10-16 09:27] Rugvip commented on #2924
@moustafab Does this align with your need for label selectors? As in was it tied to catalog entities or did you want to do it more free-form straight towards k8s, without it being tied to entities?

@mclarke47 I think your proposal is good in that it just adds another tool for orgs to use, without being in the way if you don't need it. I also like that it drives the move over from using just `serv

[2020-10-16 09:36] Rugvip commented on #2910
Whether we'd want to express this as `filter=a=1,a=2&filter=b=2` or `filter=a=1,b=3&filter=a=2,b=3`

...

Or `filter={a:{$in:[1,2]},b:3}` 😏

[2020-10-16 10:02] freben commented on #2910
or as `filter=a=1,a=2,b=2`.

But I'm not sure about introducing the use of commas. Do we wanna go there? My original goal was to use pure and simple query params, and then in the future introduce a more advanced thing if it became necessary (and that one may even be a POST with a big json blob or whatever, sure it could be encoded in a GET as well, but essentially it would be another future extens

[2020-10-16 10:06] freben commented on #2924
Haha what the actual hell, I edited the comment instead of just quoting it

[2020-10-16 10:07] freben commented on #2924
That would probably mean that we should move some things that are currently annotations to not be annotations right?

[2020-10-16 10:42] andrewthauer commented on #2923
@althafh - I started #2791 which is exactly meant address this. I e since gotten side tracked with some other things so I'd be perfectly happy if you wanted take this over and/or use the code I started on.

[2020-10-16 10:47] #2488 closed

[2020-10-16 10:53] Rugvip commented on #2910
@freben I want to go with something that at the very least lets us add basic AND/OR nesting,  such as the one above. Either now or in a future non-breaking change

[2020-10-16 11:29] Rugvip opened #2926 "CLI test should be refactored to use mock-fs instead of temporary files"
## Expected Behavior

We should use `mock-fs` when testing file-system operations instead of working with actual files.

## Current Behavior

Many tests in the CLI use temporary directories and copy around existing files during testing. This ends up in more fragile and slower tests.

## Possible Solution

Refactor!

## Context

Master build failures in one of the tests: https://github.com/spotify/

[2020-10-16 11:34] freben commented on #2924
+1 for `matchLabels` and on key: value form, rather than `labelSelectors` as well

[2020-10-16 11:45] abhishekjakhar commented on #2919
@freben I have raised the PR https://github.com/spotify/backstage/pull/2928

[2020-10-16 11:48] freben commented on #2832
@erictnilsson Looping back, is the remaining validation something you would like to contribute or should we close this ticket for now and put future improvements as a separate ticket when we get to it?

[2020-10-16 11:50] freben commented on #2884
@renvrant We talked a bit about this and since we have a system in place (the dependabot checks, and keeping track of reports in GitHub), we are considering closing this ticket. Does that sound sensible?

[2020-10-16 12:00] mclarke47 commented on #2924
Sounds good I will update

[2020-10-16 12:00] freben commented on #2906
@SuganJoe If it's small and uncontroversial, just throw a PR our way. Otherwise feel free to discuss on our Discord if you have some questions first.

[2020-10-16 12:18] OrkoHunter opened #2931 "TechDocs: Ensure security of dependencies by doing a checksum after downloads"
In our [techdocs-container](https://github.com/spotify/backstage/blob/master/packages/techdocs-container/Dockerfile) docker image, we have [PlantUML](https://github.com/spotify/backstage/blob/master/packages/techdocs-container/Dockerfile#L20) as a dependency. We download the jar file and then execute it to install.

As a security measure, we should verify the checksum for its integrity after downl

[2020-10-16 12:18] freben commented on #2910
IN (as a special case of OR) + AND was pretty powerful to get started with I thought; it let me express pretty much everything I wanted from the start. And trivial to type out and do simple work with, rather than struggling to get the escaping right for a json blob in bash with curly braces that want to get expanded etc. :) Mm we can always add one more as a non-breaking either way.

[2020-10-16 12:21] #2919 closed

[2020-10-16 12:21] freben commented on #2919
Thank you!

[2020-10-16 12:22] erictnilsson commented on #2832
@freben I think we can close this one :)

[2020-10-16 12:23] Rugvip commented on #2832
Alright, let's pick up the schema validation bit as part of future scafoddler work!

[2020-10-16 12:23] #2832 closed

[2020-10-16 12:26] OrkoHunter opened #2932 "TechDocs: Make spotify/techdocs an official image on DockerHub"
We maintain the spotify/techdocs[1] container on Docker Hub[2]. Since we consume this image internally at Spotify and we expect more adoption, consider making this an official image for more support from DockerHub.

Read more here https://docs.docker.com/docker-hub/official_images/

(Advised by a security review)

[1] https://github.com/spotify/backstage/tree/master/packages/techdocs-container
[2]

[2020-10-16 12:35] #2906 closed

[2020-10-16 13:06] mplesec opened #2935 "Broken build step on macOS"
## Expected Behavior

Running the backend's build step outputs bundle without any errors.

## Current Behavior

Encountered an issue when trying to run the backend. Followed the instructions here: https://backstage.io/docs/getting-started/create-an-app

Running `npx @backstage/create-app` works fine, no errors. Same with running `yarn start`.

However when starting the backend it throws:
[code]

I

[2020-10-16 14:15] ayshiff commented on #2926
Can I work on this @Rugvip ?

[2020-10-16 14:20] GoWind commented on #2917
Okay, your comment is a lot of JS context for me to parse :sweat_smile: , but I will try to understand the solutions you propose and then add my comments to it.

1. Figure out a way to not exclude the linked packages from transforms.
The `buildBackendConfig` fn that creates the config for the backend to be built (via Webpack) uses the `transforms` fn to obtain a list of `loaders`. The `loader` for

[2020-10-16 14:59] abhishekjakhar opened #2939 "Unregister entity UI seems to be broken when there are no entities"
If we don't get any entities from the api/catalog/entities API, in that case we get an empty array. Now, in the UnregisterEntityDialog.tsx when we try to unregister entity we don't have any entity but still we show the UI which displays the list of entities, which seems to be broken. This results in `<li></li>` with a bullet but no text content inside it.

This is happening because we are making t

[2020-10-16 15:41] timchepeleff commented on #692
Syncing back up with notes on the discussion.

Current plan is to create a CRUD plugin that enables developers to manage their services secrets within Backstage, rough plan is as follows:
- Start by creating a simple UI that can display a list of secrets associated with a service (based off of a Vault Namespace/Keyspace). Read only to start.
- Create a proxy backend that attaches a vault `token` t

[2020-10-16 15:52] mplesec commented on #2935
Found the issue. Occurs if npm or yarn config has `ignore-scripts` set to `true` since the `esbuild` package runs a post-install script.

Solved with running `npm config set ignore-scripts false`.

[2020-10-16 15:52] #2935 closed

[2020-10-16 15:53] moustafab commented on #2924
I think being able to use more of the kubernetes native way of declaring selectors is a plus for flexibility and could help with adoption. Perhaps being able to the second more standardized way makes sense as a follow up to allow for standardization and ease of use. But that would require a bit of an expression or path evaluation and can get pretty complicated.

My only suggestion is that we nest

[2020-10-16 16:00] mclarke47 commented on #2924
LGTM!

[2020-10-16 16:08] mclarke47 commented on #2924
The work to do this would be:

1. [pass the whole entity through](https://github.com/spotify/backstage/blob/master/plugins/kubernetes/src/components/KubernetesContent/KubernetesContent.tsx#L134) and propagate it all the way to the backend (see 2.)
2. [change here](https://github.com/spotify/backstage/blob/master/plugins/kubernetes-backend/src/service/router.ts#L74) to accept passing the whole enti

[2020-10-16 16:47] althafh commented on #2923
Oh perfect! Let me take a look at it next week!

[2020-10-16 18:19] Rugvip commented on #2926
@ayshiff yes, thank you!

[2020-10-16 18:39] freben commented on #2939
I see it doesn't even list itself either 😬

So you wanna tackle this? 😀

[2020-10-16 18:43] freben commented on #692
👍 it'll be interesting to see what ways there are to authenticate toward vault and how we wire that up with the current backstage user.

[2020-10-16 18:44] freben commented on #2935
Aha! Great that you managed to find it yourself. Thanks for checking back in. Maybe we should add this to our docs.

[2020-10-16 18:44] abhishekjakhar commented on #2939
I would love to raise a PR for this

[2020-10-16 19:11] freben commented on #2924
Do you need to pass the entire entity? The reason I'm asking is, we are more and more thinking in terms of a separation between what the input yaml form is, and what the distilled output structured knowledge blob form is, so to speak. Things may move more and more into a direction of not reading the spec directly as much, but rather focusing on reading the computed output form of it. To which proc

[2020-10-16 19:16] freben commented on #2939
Done.

[2020-10-17 08:34] Rugvip commented on #2889
@andrewthauer Yep, definitely leaning towards `extends`, my only hesitation is that it'd be mixed in with the rest of the config at the top-level, which is unfortunate. Just realized that we've actually set a president with having `$` denote "special functions" in yaml though, both in config and the catalog. Might make sense to make it a top-level `$extends` instead.

The frontend config would be

[2020-10-17 12:39] andrewthauer commented on #2923
Thanks! Assigned to you @althafh!

[2020-10-17 17:38] #1577 closed

[2020-10-17 17:43] stefanalund commented on #2884
Feel free to reopen if you don't agree.

[2020-10-17 17:43] #2884 closed

[2020-10-17 18:54] #373 closed

[2020-10-17 18:54] #1975 closed

[2020-10-17 18:54] #2453 closed

[2020-10-17 18:56] stefanalund commented on #431
Not prioritised.

[2020-10-17 18:56] #431 closed

[2020-10-17 18:57] stefanalund commented on #212
We now have Codecov.

[2020-10-17 18:57] #212 closed

[2020-10-17 18:57] stefanalund commented on #1208
Done

[2020-10-17 18:57] #1208 closed

[2020-10-17 18:57] stefanalund commented on #1200
Fixed in #2934

[2020-10-17 18:57] #1200 closed

[2020-10-17 18:59] stefanalund commented on #824
https://github.com/spotify/backstage/tree/master/plugins/newrelic

[2020-10-17 18:59] #824 closed

[2020-10-17 18:59] #1621 closed

[2020-10-17 19:00] #1482 closed

[2020-10-17 19:01] stefanalund commented on #1330
Will not fix.

[2020-10-17 19:01] #1330 closed

[2020-10-17 19:01] stefanalund commented on #1233
Moved to docs.

[2020-10-17 19:01] #1233 closed

[2020-10-17 19:02] stefanalund commented on #1993
https://backstage.io/blog/2020/09/30/backstage-design-system

[2020-10-17 19:02] #1993 closed

[2020-10-17 19:02] stefanalund commented on #1976
Won't fix

[2020-10-17 19:02] #1976 closed

[2020-10-17 19:03] stefanalund commented on #1807
@freben can we close this?

[2020-10-17 19:04] #1790 closed

[2020-10-17 19:05] stefanalund commented on #2466
Can this be closed?

[2020-10-17 19:07] freben commented on #1807
The ask was about using ldap for logging in. Maybe @Rugvip - any final feedback to give here or shall we close for now?

[2020-10-18 01:36] NetPenguins commented on #2267
I see this is implemented already inside [CatalogTable.tsx](https://github.com/spotify/backstage/blob/4df45e0083d6c94b7a8586ee22574630e266e0ba/plugins/catalog/src/components/CatalogTable/CatalogTable.tsx#L123). Is this the same kind of implementation desired here?

Also @stefanalund could you provide an example on what Gitlab and BitBucket edit urls would look like in order to tailor to a generic

[2020-10-18 02:24] NetPenguins opened #2949 "GithubActions JobList crashes"
When navigating to `catalog/Component/backstage/ci-cd`, choosing a workflow that is "In Progress" and attempting to view the JobList the page crashes.
## Expected Behavior
Expected to either provide the list of jobs up to moment of retrieval or not allow expansion until completed.

## Current Behavior
Currently the screen goes blank and several error are thrown in the console.

## Possible Solutio

[2020-10-18 06:52] abhishekjakhar opened #2952 "warnings related to act inside test cases of packages/core"
When we run the test cases of core using JEST watch mode, all of the test pass successfully but a warning is coming up in almost all of the test cases, which says

[code]

This is happening because we are calling some function directly which itself is calling a state updater and there's nothing that react-testing-library can expose for us to make sure that this is going to be wrapped inside of act

[2020-10-18 07:16] abhishekjakhar commented on #2952
I would love to pick this up

[2020-10-18 11:44] stefanalund commented on #2952
Thanks! I’ve assigned you.

[2020-10-18 15:38] alandovskis commented on #2267
Add ?mode=edit&spa=0&at=branch to the path to the catalog-info.yaml for Bitbucket Cloud.

[2020-10-18 16:23] mplesec commented on #2935
Added this to docs: https://github.com/spotify/backstage/pull/2954

[2020-10-18 17:18] NetPenguins commented on #2267
Thanks @alandovskis. Will this be replacing any portion of the path derived from the `managed-by-location:` annotation or is this simply being appended to the end of that url? If the former could you provide a sample url?

[2020-10-18 23:08] alandovskis commented on #2267
@NetPenguins Simply append it to the end.

[2020-10-18 23:33] kiranpatel11 commented on #2917
Hi @Rugvip,

I am getting the same ```SyntaxError: Unexpected token 'export'```

Can you please provide some details on your option #2.

I am trying to integrate with Bitbucket Server (not cloud one), and have to make modifications to plugins/scaffolder-backend and packages/backend-common.

Ideally, I would have liked to avoid modifications to any of the backstage code, but as per the current desi

[2020-10-19 06:40] dtuite commented on #2876
@freben are you actively working on this? We have a new team member joining today who could pick this up.

[2020-10-19 08:47] benjdlambert commented on #2181
Related: https://github.com/azz/eslint-plugin-monorepo/pull/12

[2020-10-19 09:14] freben opened #2958 "catalog-backend: add migration and db layer for relations"
Part of #1964

Implement as described in #2617

[2020-10-19 09:16] freben opened #2959 "catalog-backend: implement entity schema for relations"
Part of #1964

Expose relations as part of the output when reading entities. This includes updating the catalog-model.

[2020-10-19 09:19] freben opened #2960 "catalog-backend: add relations to the processing pipeline"
Part of #1964

Go through the different use cases for relations in the current model, such as Component:implementsApis and Group:children etc, and get them emitted as relations.

[2020-10-19 09:21] freben opened #2961 "catalog-backend: documentation for relations"
Part of #1964

Document the usage of relations. There should probably be an index of well-known relation types and their semantics, at the very least - similar to annotations.

[2020-10-19 09:25] freben opened #2962 "catalog-backend: remove data parsing step and move into location reader"
This will involve removing the parsing step from processors.

[2020-10-19 09:43] freben opened #2963 "catalog-model: create an example mini-org with groups and users"
Add a (single) yaml example file, that holds a number of users that belong to a number of groups, in a little hierarhy. This should also be added to the static locations in a newly created Backstage app.

This will serve as an example for how one could make a batch export with actual org data in a similar fashion.

[2020-10-19 09:48] erictnilsson commented on #2405
Hey!
How much of the error message/stack trace do we want to exclude in favour of readability?
So far, I've added a more descriptive error at the root, but I'm not sure if  it the error message as a whole is readable enough.
<img width="642" alt="Screenshot 2020-10-19 at 11 36 32" src="https://user-images.githubusercontent.com/16206098/96429134-e1a63c00-1200-11eb-93b4-218fa0c0aa46.png">

What do y

[2020-10-19 10:47] amarruedo opened #2964 "TechDocs: Cannot view document from Github private repository"
## Expected Behavior

I should be able to view the documented-component page.

## Current Behavior

- Received an ERROR 404: Documentation not found.
- Browser console shows a CORS error at the end.

![imagen](https://user-images.githubusercontent.com/58252209/96431656-1f589400-1204-11eb-83d2-a07d7037dd3e.png)

## Steps to Reproduce

Navigate to `my.backstage.com/docs` on browser and click Read Do

[2020-10-19 10:58] andrewthauer commented on #2917
Another option I've used in the past to test non released packages or forks in an app created by the CLI is using the`yarn workspaces` feature. It's relatively easy to setup for local development. For build artifacts though, you need to create a custom dockerfile, copy over the linked package in n`ode_modules` and replace the `main` entry` with the dist output. This is definitely not an ideal setu

[2020-10-19 11:08] andrewthauer commented on #2917
Although, I do also think having something built into the `backstage-cli` for testing forks locally would be very handy.

[2020-10-19 12:28] dtuite commented on #2963
@stefanalund We would like to pick this up as a way to onboard @punkle please

[2020-10-19 12:33] dtuite commented on #2901
We've been prototyping a bit on this over the last few days. Consider this just directional rather than a final implementation.

https://www.loom.com/share/e735120566ed4df4922573e2c728c1e6

[2020-10-19 13:38] freben commented on #1807
We'll make this kind of functionality possible to add as a custom provider as part of #1984

[2020-10-19 13:38] #1807 closed

[2020-10-19 14:34] freben opened #2968 "Make scaffolder and techdocs support url schema locations"
The Register Component functionality currently register locations of specific `type`s into the catalog - e.g. `github` etc. This fact is relied upon by the scaffolder and techdocs, to make decisions on how to actually handle the location (for fetching file data, creating a repo, etc).

#2665 comes a bit at odds to this - it introduces the new UrlReader concept wherein one can register generic `url

[2020-10-19 14:48] freben opened #2969 "Upgrade to webpack 5.x"
The cli currently uses webpack 4.x for some of its functionality. This should be bumped to webpack 5.x, but there are a couple of changes between the major versions that need to be addressed to make it possible.

[2020-10-19 14:53] #2939 closed

[2020-10-19 15:07] freben commented on #2963
Gladly! Hm I can't set him as an assignee though

[2020-10-19 15:16] stefanalund commented on #2963
(It's not possible to assign someone that's not in the thread)

[2020-10-19 15:21] punkle commented on #2963
Hey @stefanalund @freben, does this comment help?

[2020-10-19 15:35] stefanalund commented on #2963
Hey @punkle yeah it does :D Welcome and thanks for picking this up!

[2020-10-19 16:33] GoWind commented on #2917
@andrewthauer : Thanks for the tip, I will try it out.
But I do have a question for you and @Rugvip .
https://classic.yarnpkg.com/en/docs/workspaces
documentation here mentions `workspaces` has to be an array of `glob` patterns.
Whereas in the `json` that was generated by the `backstage-cli create-app` , the package.json had the following format for workspaces, that we continue to use.

[code]
Que

[2020-10-19 16:57] Fox32 commented on #2876
I played a little bit around with

PR feedback is something we are looking for. I think this would be quite easy to implement. I did my experiments here: https://github.com/spotify/backstage/compare/master...SDA-SE:dry-run-experiment
If that goes into the right direction, I can clean it up and make it a real PR.

That is an issue right now. If it's not successful a play exception is returned (just

[2020-10-19 19:12] freben commented on #2405
The location is written twice, maybe one of those can be left out.

I guess cutting out the stack trace would help too.

Sometimes it helps to move the pertinent parts of the message nearer the start, along the lines of `Annotation X is not valid; expected a string but found Y` (where Y is a very long piece of text).

[2020-10-19 19:17] freben commented on #2405
At some point we should look into if we can break apart errors into a more useful structure somehow... This would be so much more readable as a list for example

[code]

[2020-10-19 19:35] freben commented on #2910
Let's set a decision on this one.

- Query parameter name: `filter`
- If no filter is specified, all items are returned.
- Each `filter` parameter is a comma separated list of `a=b` pairs, effectively with an AND between them. For example, `filter=a=1,b=2` means "a equals 1, and b equals 2".
- If a single `filter` contains a repeated key, it represents an IN. For example, "filter=a=1,a=2,b=3" mean

[2020-10-19 19:36] freben commented on #2910
@mahmoodhosseini would you be up for implementing the above if it gets the thumbs up?

[2020-10-19 19:39] freben commented on #2910
it would essentially amount to

- for each `filter`, add an `.orWhere(fn)`
- inside that `fn`, for each unique key, add a nested `this.andWhereIn` or `this.andWhere` depending on if there were multiple possible values for that key

[2020-10-19 20:53] dtuite opened #2975 "About card Techdocs link not working"
The "View Techdocs" link in the About Card on the Overview Tab doesn't work.

See here for a demo: https://demo.roadie.so/catalog/Component/default:sample-service-1

Using the Tab to view techdocs works as expected.

## Expected Behavior

I should be taken to the techdocs tab for the entity.

## Current Behavior

I see a blank page.

## Possible Solution

Fix the URL

[2020-10-19 21:33] Rugvip commented on #2910
@freben yep, +1 for OR-ing filters and AND-ing pairs.

Agree that this pattern overall should take us really far, and it's possible to implement something like a JSON query in a backwards compatible way easily if needed.

A fun one btw, how do you filter for an entity such as `component:default/my-weird,entity-name`? ._.

We do need something for arrays and existence too, and then that should hope

[2020-10-19 22:20] Rugvip commented on #2889
Gonna settle on multiple `--config <path>` flags, along with defaulting to the equivalent of (if they exist) `--config app-config.yaml --config app-config.local.yaml`. Which will largely behave similar to the current dev setup, but allow for explicit selection of config.

Will see if it makes sense to provide backwards compatibility for this or not. May settle for trying to identify potentially in

[2020-10-19 23:46] moustafab commented on #2924
I'll try to open a PR this week

[2020-10-20 03:15] kiranpatel11 commented on #2917
Hi @andrewthauer,

Trying out your suggestion, can you please help me with the details.

Below is my setup :

1. created an app using @backstage/create-app cli, say my-backstage.
2. copy-pasted backend-common package from `backstage` git repo to `my-backstage/packages` folder and written implementation for BitbucketServerUrlReader
4.yarn linking .... `cd backend-common` and `yarn link` ; `cd backe

[2020-10-20 04:00] andrewthauer commented on #2917
@GoWind - The yarn workspaces array takes either a path to a package or a glob pattern for each entry. It takes care of symlinking the actual package into your node_modules so the `cli` should treat it just like other packages so nothing special required.

[2020-10-20 04:13] andrewthauer commented on #2917
@kiranpatel11

Don't use `yarn link` with this workaround. The yarn workspaces should take care of this for you. When I said symlink, I meant if you want to include a package from outside the root of your backstage app. I typically have done this where the it's a relative git submodule including in the workspaces array.

If you've copied the code directly to the `packages` directory then you don't

[2020-10-20 04:20] kiranpatel11 commented on #2917
Thanks @andrewthauer

Since I am copying the `backend-common` to my local packages, I don't need any extra settings in workspaces. Get That.
But it does not work. build goes through fine, but `yarn start` fails. Any idea why wouldn't it work ?

Let me try your approach as well by having it placed parallel to `packages`

[2020-10-20 04:28] andrewthauer commented on #2917
I have to ask, but also make sure you run yarn install after setting up the new workspace 😀. If you look at your node_modules/@backstage directory you should see it symlinked to the relative directory.

[2020-10-20 04:38] kiranpatel11 commented on #2917
yes offcourse.
I can see symlinked `backstage-common`
![image](https://user-images.githubusercontent.com/8432431/96540783-47babe00-12ea-11eb-9777-58564a946242.png)

[2020-10-20 05:10] divz11 commented on #2850
Hi Sir, I've completed this (My first Open-Source Contribution).

[2020-10-20 05:20] freben commented on #2876
@Fox32 that looks sensible!

[2020-10-20 05:25] freben commented on #2910
Yes but, for the case of relations, they would probably be on the form `filter=relations.owner=user:org/user1` (with the same semantics for existence, where you leave out the equals sign and value).

Oh and to add - we should still be supporting `*` and `%` as glob markers

[2020-10-20 05:31] freben commented on #2975
related: https://github.com/spotify/backstage/commit/ae499a55ff7a1c7d2edf7f6b8ac3feeb37ee0e6d#diff-45102fe18f442f04f49982603c544c903a6d22e86289ec922cb2c93b8796a89eR51

[2020-10-20 06:51] divz11 commented on #2850
Hey @OrkoHunter, I have removed those lines from the file.
Please accept it.

[2020-10-20 06:54] divz11 commented on #2850
Hey @OrkoHunter, I have removed that component please Accept my PR #https://github.com/spotify/backstage/pull/2984/commits/211e085f8eb6553fdf43c51543b20fa8a6f06cd6

[2020-10-20 07:40] Rugvip commented on #2910
@freben yeah it's nice but unfortunate that we need special logic for that. If we go with that I think we just don't handle the general case of arrays at all?

We may want to make sure we're able to query future additional fields in relations tho, but we're a bit locked in if we say that `relations.x` always refers to the type field.

[2020-10-20 07:47] #2891 closed

[2020-10-20 07:50] freben commented on #2694
Closing for now, was added in a lot of places.

[2020-10-20 07:50] #2694 closed

[2020-10-20 07:58] freben commented on #2910
Arrays aren't handled at that level (the query engine) - it's handled in the code that generates the entities_search table entries. So the array handling is orthogonal to this issue.

[2020-10-20 07:59] freben commented on #2910
And extra fields in relations will probably be `relations.owner.type=x` for example, but again, that's up to the entities_search generation code, not the filtering query engine

[2020-10-20 08:40] abhishekjakhar opened #2986 "Migrating Microsite from Docusaurus V1 to V2"
## Feature Suggestion

The microsite has not been updated from quite a long time now, It is still using Docusaurus 1.

We could follow migrating guide provided by Docusaurus to migrate Docusaurus from V1 to V2.

## Possible Implementation

Docusaurus migration guide: https://v2.docusaurus.io/docs/migrating-from-v1-to-v2
Docusaurus docs: https://v2.docusau

## Context

I am looking to do open-sourc

[2020-10-20 08:47] roflc0pter opened #2988 "TechDocs Backend: Hardcoded Github URL"
The TechDocs backend plugin does not use the configured `apiBaseUrl` instead, it is hardcoded to `api.github.com` which makes it impossible to fetch data from private GitHub (like Github Enterprise)

## Expected Behavior
Use `apiBaseUrl` from the configuration reader. https://github.com/spotify/backstage/blob/master/app-config.yaml#L77

## Current Behavior
It is hardcoded to `api.github.com` and b

[2020-10-20 09:09] stefanalund commented on #2986
Really? I think we are on v2. Search, for example, is only enabled for v2 sites.

[2020-10-20 09:12] roflc0pter opened #2990 "TechDocs Backend: Mismatch of given example and implementation"
The given example for the GHE setup does not work and leads to a long debug session to figure out how it should be configured correctly.

There two properties that do not match with the implementation in TechDocs. I don't know which one is out of date.
TechDocs tries to read the GitHub configuration from here: `catalog.processors.github.privateToken`
https://github.com/spotify/backstage/blob/maste

[2020-10-20 09:14] ainouche commented on #1807
Hi, currently and witing LDAP feature, we implemented the following workaround:
We deployed locally an instance of Keycloak that is able to connect to an LDAP and on another hand offer an OAuth2 interface, that has been plugged into backstage. Everything works fine, except for the logout event, that is not propagated to the Keycloak Identity manager. But this solution is satisfying for the time be

[2020-10-20 09:17] roflc0pter opened #2991 "TechDocs Backend: Read GHE token from configuration instead of environment variables"
**(I was not sure if this should be considered as a bug)**

For some reason, the access token that is used to while cloning the repo is read from the environment variables instead of from the configuration reader.
https://github.com/spotify/backstage/blob/b46863b88b933b79ec74af2550a0b4d6e473a9a2/plugins/techdocs-backend/src/helpers.ts#L130

## Possible Implementation
Pass config reader as an addit

[2020-10-20 09:22] stefanalund commented on #1807
@ainouche happy to hear that! Feel free to contribute back any changes/improvements you see possible.

[2020-10-20 09:36] ainouche commented on #1807
Sure @stefanalund.

[2020-10-20 10:18] abhishekjakhar commented on #2986
The search is there in V1 also, you could see that in this link https://docusaurus.io/docs/en/search, this link is of V1 docs.

There is lot of stuff in V2, I will list some of them below.

**Folder structure of V1**

├── docs
└── website
    ├── blog
    ├── core
    │   └── Footer.js
    ├── package.json
    ├── pages
    ├── sidebars.json
    ├── siteConfig.js
    └── static

**Folder structure

[2020-10-20 10:27] abhishekjakhar commented on #2986
In package.json we have updated the version to latest V2 but all of the code which we are running is still of V1.

[2020-10-20 11:23] #2975 closed

[2020-10-20 12:14] mfrinnstrom opened #2996 "Question regarding scaffolding and Azure DevOps"
With the switch to the `integrations` part of the `app-config.yaml` I have a question.

I started to move over my init code from `plugins/scaffolder.ts` to read from the `integrations` part instead of the `scaffolder` part of the config.

I can only set the `host` to `dev.azure.com` right now. That means I can read part of the needed config from here. But I need to read the `baseUrl` from the scaf

[2020-10-20 12:45] freben commented on #2949
https://github.com/spotify/backstage/pull/2997 should fix this

[2020-10-20 12:50] erictnilsson commented on #2405
I've landed on this:
<img width="662" alt="Screenshot 2020-10-20 at 14 37 52" src="https://user-images.githubusercontent.com/16206098/96588116-839e5500-12e3-11eb-981b-df015a45f8f1.png">

Just gonna test it out to make sure nothing breaks then I'll have a pull request ready if you don't have any objections and/or suggestions :)

[2020-10-20 12:52] mfrinnstrom opened #2998 "Support configurable working directory for scaffolder"
## Feature Suggestion

We would like to be able to configure the working directory for the scaffolder. Right now it uses the OS temp-dir. By introducing an optional config for this and fall back to the OS temp-dir if not configured this could be introduced without affecting existing configurations.

[code]

## Possible Implementation

I see two options here:

1. Introduce a base class for all prep

[2020-10-20 13:38] freben commented on #2405
Looks good. LOOOONG but informative and to the point

[2020-10-20 14:14] freben commented on #2986
Is this something you would like to take on? Otherwise I could add a help-wanted label or so

[2020-10-20 14:33] #2952 closed

[2020-10-20 14:48] amarruedo commented on #2964
After modifying ingress rules, and setting techdocs urls also on backstage frontend app-config I was able to view documentation (and get rid of those requests to localhost:7000). But now, the issue I'm facing is that I am only able to see documentation from public GitHub repositories; any time I try to see documentation from private repository I get an authentication error:

![imagen](https://user

[2020-10-20 15:19] abhishekjakhar commented on #2986
@freben I would love to do this, could you please assign this to me?

[2020-10-20 16:04] freben commented on #2986
Done.

[2020-10-20 16:32] emmaindal commented on #2991
Hi @roflc0pter Thanks for opening this issue, there is an open [PR]( https://github.com/spotify/backstage/pull/2992/files) that will use the ConfigReader instead of reading the token from the environment variables. I'll review that PR closer tomorrow but might solve this issue.

[2020-10-20 20:47] raosumanth commented on #598
Hi @javaniecampbell , Is there any progress on this plugin. I was also interested in knowing more on this. Thank you

[2020-10-21 01:00] andrewthauer commented on #2894
Yeah, I'm thinking the pattern idea might be too limiting. I'd probably rather just repeat the settings in order to allow for more flexibility. Right now there are only 2 databases anyways.

[2020-10-21 04:11] abhishekjakhar commented on #2986
Thank you, I will start working on it.

[2020-10-21 05:10] Marvin9 commented on #2969
Working on it.

[2020-10-21 05:54] stefanalund opened #3010 "Add API docs link to About card"
## Feature Suggestion

Add API docs link to About card as shown in:

![Screenshot 2020-10-21 at 07 49 35](https://user-images.githubusercontent.com/190856/96678488-1980c100-1372-11eb-9cb4-3f7471c79617.png)

If the service does not implement any APIs the the icon should be greyed out.

https://backstage.io/docs/features/software-catalog/descriptor-format#specimplementsapis-optional

## Possible Imp

[2020-10-21 05:59] stefanalund opened #3011 "Remove "default" in component name"
## Feature Suggestion

If the namespace of the component is "default", it should not have to be shown. It adds complexity and forces the user, unnecessarily, to understand some of the underlying model.

![Screenshot 2020-10-21 at 07 55 00](https://user-images.githubusercontent.com/190856/96678841-cce9b580-1372-11eb-95da-0d47e1e92b4d.png)

## Context

We should strive to limit complexity as much as

[2020-10-21 06:04] stefanalund commented on #2969
Thanks @Marvin9 -- assigned you! 💯

[2020-10-21 06:12] rajreet commented on #3011
I would like to work on the issue. Can You give more details?

[2020-10-21 06:40] stefanalund commented on #3011
Thanks @rajreet. Not sure if I have more context than what I added in the ticket. I think you can conditionally check for "default" and remove it, while keeping other namespaces.

[2020-10-21 06:50] stefanalund opened #3012 "Fix microsite favicon's on Safari"
## Expected Behavior

![Screenshot 2020-10-21 at 08 45 40](https://user-images.githubusercontent.com/190856/96683102-fce88700-1379-11eb-928e-c12ffdb70dd5.png)
![Screenshot 2020-10-21 at 08 45 59](https://user-images.githubusercontent.com/190856/96683105-fd811d80-1379-11eb-828c-01a84cd21378.png)

## Current Behavior

Old or missing favicon is shown ^

## Possible Solution

The microsite should use

[2020-10-21 06:59] rudhrasekar commented on #3010
Can i work on this ?

[2020-10-21 07:01] stefanalund commented on #3010
Absolutely @rudhrasekar I've assigned you! Thanks

[2020-10-21 07:01] abhishekjakhar commented on #3012
Could I pick this up?

[2020-10-21 07:22] freben commented on #3012
Sure!

[2020-10-21 07:25] freben commented on #2910
@mahmoodhosseini Is this something that you still want to implement?

[2020-10-21 07:31] freben commented on #598
I unassigned this ticket for now. @raosumanth @enricomeneghel or others - let us know if this is something you would like to start working on. @javaniecampbell - let us or the others know if there is partial work to make a draft PR of or similar, to base further work on

[2020-10-21 07:45] Fox32 commented on #2876
@freben I made a PR for the dry run part: #3013

[2020-10-21 08:41] freben commented on #2894
Yeah agreed, the pattern may be overkill

[2020-10-21 08:56] roflc0pter commented on #2990
Turns out the `catalog` configuration is deprecated and using `integrations` now. Closing.

[2020-10-21 08:56] #2990 closed

[2020-10-21 09:03] #2988 closed

[2020-10-21 09:07] #2958 closed

[2020-10-21 09:19] emmaindal opened #3017 "Merge already existing mkdocs.yml config with techdocs-core config instead of override"
Currently, the [techdocs-core](https://github.com/spotify/backstage/tree/master/packages/techdocs-container/techdocs-core) plugin overrides the markdown extension configs and set the new configs instead of taking the already existing configuration (in mkdocs.yml) and merge the two ones together.

This means if, for example I want to add toc_depth as configuration to my table of contents, I could a

[2020-10-21 11:51] amitkhurana92 commented on #2735
Hi Team, any update on this? I need to integrate repo from bitbucket server.

[2020-10-21 13:41] goober commented on #2735
@amitkhurana92 Thanks for the reminder. IonicaBizau/git-url-parse#113 is now ready for review, and work can be continued when it has been accepted.

[2020-10-21 14:30] amitkhurana92 commented on #2735
@goober the code you have suggested is not working. I think you also need to change in the type mapping

     const typeMapping = [
        { url: /^https:\/\/gitlab\.com\/.*/, type: 'gitlab/api' },
        { url: /^https:\/\/bitbucket\.org\/.*/, type: 'bitbucket/api' },
        { url: /^https:\/\/dev\.azure\.com\/.*/, type: 'azure/api' },
        { url: /.*/, type: 'github' },
      ];

[2020-10-21 14:46] goober commented on #2735
The open pull request is to add support in the underlying library that backstage is using for fetching content from bitbucket server. No work has started yet in the backstage project

[2020-10-21 14:50] mahmoodhosseini commented on #2910
@freben, @Rugvip, sorry for the late response. I had quite a bit of stuff come up, and I really dropped the ball. Even though I'd like to work on this issue, I don't think I can commit. I've been enjoying contributing to backstage and hope to contribute more in the future. Thanks.

[2020-10-21 15:04] freben commented on #2996
Hi! Sorry but the `integrations` key isn't fully fleshed out yet. We moved over the UrlReader concept to that new key, so that one is satisfied - but as you see there are other potential use cases where it doesn't have all the info yet. We will likely move over baseUrl/apiBaseUrl and such to the `integrations` key soon too, but it takes a little bit of refactoring in the scaffolder and techdocs pa

[2020-10-21 15:46] dtuite opened #3024 "Backstage should work without a GitHub access token"
Non-GitHub users (GitLab, Bitbucket etc.) should be given the option to use backstage without a dummy `GITHUB_TOKEN` in their environment variables.

There are at least two places where I can see it is required:

 1. Backstage fails to boot in production mode without a `GITHUB_TOKEN` set.
 2. The helm charts don't allow the user to deploy backstage without a `GITHUB_TOKEN` with a dummy value.

[2020-10-21 15:54] mfrinnstrom commented on #2996
Thanks for the information. I will wait a bit for this then.

[2020-10-21 15:54] #2996 closed

[2020-10-21 16:25] Rugvip commented on #2867
Very much on the radar at the moment and really just needs some more actionable items. Some of the ongoing work to move things over to the [integrations](https://github.com/spotify/backstage/blob/229ce4d04f695386b9cb1099bbc71ebe03b7bf9a/app-config.yaml#L70) helps out here too, as you'll be able to remove the integrations you don't need.

Another thing that's brought up in https://github.com/spotif

[2020-10-21 16:26] Rugvip commented on #3024
Gonna close this as a duplicate of #2867, commented there instead. Protest if you don't agree :grin:

[2020-10-21 16:26] #3024 closed

[2020-10-21 16:30] dtuite commented on #3024
@Rugvip Feels like the null value idea would handle this case 👍

[2020-10-21 18:48] katz95 opened #3027 "Add Settings Button to Side Nav"
Would love if someone could add a 'Settings' button to the side nav, right underneath 'Create.'

![settings-nav](https://user-images.githubusercontent.com/61153904/96768971-c3963280-13de-11eb-8806-cc9389d9e338.png)

[2020-10-21 20:09] dlavrenuek commented on #3011
I would like to contribute and since one is still unassigned I created https://github.com/spotify/backstage/pull/3028

[2020-10-22 05:56] stefanalund commented on #3027
@katz95 Wouldn't it make more sense to put the Settings at the bottom part of the panel? I'm thinking above the user icon. Feels like this is a common enough pattern:

![Screenshot 2020-10-22 at 07 56 18](https://user-images.githubusercontent.com/190856/96830682-1eaa4280-143c-11eb-809c-f8fcf062e7bf.png)

[2020-10-22 06:03] harshilparmar commented on #3027
Can I do this ?

[2020-10-22 06:06] stefanalund commented on #3027
@harshilparmar sure! I've assigned you. Thanks 💯

[2020-10-22 07:31] #2991 closed

[2020-10-22 07:45] themousepotato commented on #2850
I was working on this but I couldn't reproduce the issue because my techdocs wasn't loading at all. @divz11 Were you able to reproduce it? I had talked with @hooloovooo on discord and we couldn't get it solved.

[2020-10-22 07:51] emmaindal commented on #2850
@themousepotato Hey, are you still seeing issues with techdocs not loading? What issues do you see?

[2020-10-22 07:58] emmaindal commented on #2780
Hey @Marvin9 just wanted to jump in here and see status on this issue? Are you planning to work on this? 🎉

[2020-10-22 07:59] emmaindal commented on #2030
Hey @ron-debajyoti just checking in here to see what the status of this issue is and if there is questions that we can answer? 🎉

[2020-10-22 08:21] freben commented on #2998
@benjdlambert ?

[2020-10-22 08:26] katz95 commented on #3027
@stefanalund ooh good point, that works!

[2020-10-22 08:55] themousepotato commented on #2850
Hey @emmaindal, I used to get a 404. I'd posted the logs in the discord channel a few days before. Now, I'm getting the following error:
[code]

[2020-10-22 09:05] iammuho commented on #1499
Is there any progress on this issue ? When the docs search will be released?

[2020-10-22 09:14] freben commented on #1499
@garyniemen ^

[2020-10-22 09:17] freben commented on #1499
See also discussion on Discord: https://discord.com/channels/687207715902193673/714754240933003266/768762581635563550

[2020-10-22 09:24] benjdlambert commented on #2998
@mfrinnstrom thinking that you could add it to the base class. `PreparersBase.prepare` would take the entity and some options. And then in the router you could pass in by default the working directory that defaults to `os.tmpdir` if not set so we have backwards compatibility.

Is this something that is also captured by the changes with the upcoming work in #2771? Could be worth mentioning the use

[2020-10-22 09:25] benjdlambert commented on #2998
I can assign you if you want to pick this up?

[2020-10-22 09:26] ron-debajyoti commented on #2030
Hey @emmaindal I got stuck in school work last week. Will definitely make a PR by the end of the week!

[2020-10-22 10:55] andrewthauer commented on #2917
@kiranpatel11 - Sorry, missed this message. Were you able to get this working? Without looking at the code, it's hard to say what the actual problem is unfortunately. Looking back on your previous error, it looks like it's not an error in `backend-common` but in `plugin-auth-backend`. I'm not 100% sure, but it's possible you might need to do this for other backend packages maybe. I've used this pa

[2020-10-22 11:13] Marvin9 commented on #2780
Yes. I'll work on this soon.

[2020-10-22 11:21] goober commented on #2735
@amitkhurana92 Please feel free to test the open pull request #3030 to verify that my implementation solves your issues

[2020-10-22 11:27] javigomez opened #3040 "Yaml Descriptor Format of Catalog Entities policy validator"
I was creating a policy for a repo and getting this misterious error:
<img width="965" alt="misteriouserror" src="https://user-images.githubusercontent.com/1375475/96864754-32b86900-1469-11eb-8ee1-688c15e233eb.png">

I knew something was wrong in my yaml, but what? At the end it was just that I forgot the `spec.lifecycle [required]`.

But the error didn't help me to find the root cause of the prob

[2020-10-22 12:38] #2926 closed

[2020-10-22 13:15] #2963 closed

[2020-10-22 13:23] stefanalund commented on #3010
Done! Thanks

[2020-10-22 13:23] #3010 closed

[2020-10-22 13:30] benjdlambert commented on #3040
Hey @javigomez! thanks for reporting this! Would you like to contribute this? 🥇

[2020-10-22 13:41] benjdlambert commented on #2910
@mahmoodhosseini hey!

It's no problem at all, hope to see you around in the future!

[2020-10-22 13:50] freben commented on #3040
One improvement to this is being made here #3038

It would be interesting to see how much better your particular error message would be after that one is merged.

[2020-10-22 14:44] #2964 closed

[2020-10-22 14:50] sandstroms opened #3044 "Refresh Token for GitLab"
Authentication via GitLab does not use refresh tokens even though GitLab supports using them (https://docs.gitlab.com/ee/api/oauth2.html). As a result, whenever I refresh the page, I have to login again.

## Expected Behavior

After logging in via GitLab, then refreshing the page, the user does not need to authenticate.

## Current Behavior
After logging in and refreshing, the user must authentica

[2020-10-22 15:22] Rugvip commented on #2867
Another thing I've voiced a few times is to move over the responsibility of the "optional startup" during development to the backend itself. Instead of plugins checking for `NODE_ENV === 'development'` and throwing if it's not, plugins would always throw and the backend decides whether it's fatal or not.

It's probably something we'd incorporate into the service building, letting us do some more d

[2020-10-22 16:01] #2889 closed

[2020-10-22 17:04] #2960 closed

[2020-10-22 17:21] amitkhurana92 commented on #2735
@goober good to see that. I will check this over the weekend.

[2020-10-22 17:30] lewtakm opened #3048 "feat: Yarn version update"
## Feature Suggestion

I suggest updating version of the Yarn package installed in the project to the latest version. Last update was made 7 months ago. Outdated version of Yarn cause warning in console. Fix is simple and I believe new minor versions of yarn would not break anything so it should be not that hard to implement.

## Possible Implementation

Updating yarn version inside project is qui

[2020-10-22 17:59] jcarres-mdsol opened #3049 "Remove requirements for Group model"
The current group model according to the [docs](https://backstage.io/docs/features/software-catalog/descriptor-format) requires ancestors, children and descendant.

But this means that if my org is:
root => Engineering -> Platform -> Devtools -> TeamA
I need to write any of these names in 3 places. Now I want to change "Devtools" to "Internal tools" and need to do modifications in multiple places.

[2020-10-22 18:01] jcarres-mdsol opened #3050 "Groups/Users as owners of Components"
Now that Groups and Users can be defined, why not allow/require that the owner of a Component is a Group or User known by the system instead of an email which has no way to get extended with more information?

[2020-10-22 18:03] jcarres-mdsol opened #3051 "Add role to user"
The User model provides a name, email, picture.
I think it would be very useful to add "role" , where role could be any string or we could provide the possible options like "tester", "manager", "architect", etc.

[2020-10-22 18:22] stefanalund commented on #3044
@sandstroms wanna take a stab at this yourself? If not I can add a few more labels to the ticket.

[2020-10-22 18:41] abhishekjakhar commented on #3012
Safari does not support svg favicons, and we are using svg favicon. We are also having .ico format favicon, if I use that then the favicon starts appearing on the safari but .ico favicon which we are having is little bit different than the .svg favicon.

[2020-10-22 18:45] freben commented on #3051
So the semantics would be that this is the _primary_ role they are _employed_ as, right?

In more advanced scenarios I could picture this being a property on a relation instead - "A is-a-member-of B as-a C", where you could have different roles in different groups.

[2020-10-22 18:49] jcarres-mdsol commented on #3051
Very true.
Then it becomes more complicated but probably the most flexible improvement would be to make `memberOf` an object so you can add the role you use for each of the groups you are member of.

[2020-10-22 18:59] Rugvip commented on #3048
We've avoided bumping the yarn version to not grow the repo size too much. There haven't (last time I checked) been any worthwhile updates, and the size on disk is ~6MB. A specific fix we've been waiting for is for `yarn postpack` scripts to be called, but afaik that's not released yet.

I don't think there's any compelling reason to upgrade to v1.22.5, no security fixes, and yarn pack fix in .5 s

[2020-10-22 19:06] freben commented on #3049
It's optional only because the org root can't have a parent :)

Yep this is on the roadmap. Let's use this ticket to keep track of the progress of this aspect of it.

There is ongoing work (see recent PRs) to implement [relations](https://github.com/spotify/backstage/issues/1964). The end result will be a flexible model where the input yaml can express either side of a relation, but both sides wil

[2020-10-22 19:12] freben commented on #3051
The very first version of the relations model will not have support for additional data on relations, but it is something that we intend to add.

[2020-10-22 19:14] freben commented on #3012
Would you be able to generate a better ico from the svg? Or @katz95 do you happen to be sitting on an updated ico?

[2020-10-22 19:24] freben commented on #3050
That's been the intent the whole time actually!

A couple of puzzle pieces have had to land first - the [relations model](https://github.com/spotify/backstage/issues/1964), a way of uniformly expressing [references to other entities](https://github.com/spotify/backstage/issues/1947), the model for [organizational data](https://github.com/spotify/backstage/issues/1401) etc.

Things have been in a b

[2020-10-22 20:07] erictnilsson commented on #3040
#3038 makes the error a bit more descriptive:
<img width="645" alt="Screenshot 2020-10-22 at 21 58 38" src="https://user-images.githubusercontent.com/16206098/96924440-f14cab80-14b2-11eb-87fe-829c7276886b.png">

[2020-10-22 20:49] erictnilsson commented on #3040
This is what the error looks like with #3038 :
<img width="645" alt="Screenshot 2020-10-22 at 21 58 38" src="https://user-images.githubusercontent.com/16206098/96928392-c9f8dd00-14b8-11eb-98fe-92c2f40d85b0.png">

[2020-10-22 21:10] jcarres-mdsol commented on #3050
Nice!

[2020-10-22 22:19] Rugvip commented on #3051
Could be very interesting to discover this kind of thing through analyzing contributions too. For example automatically tagging with known languages and technologies and so on.

[2020-10-23 04:43] abhishekjakhar commented on #3012
I tried converting from svg to ico but the icon is not very good after conversion.

[2020-10-23 07:23] stefanalund commented on #3012
Logo assets can be found here:

https://github.com/spotify/backstage/tree/master/microsite/static/logo_assets

[2020-10-23 07:40] althafh opened #3059 "Tech Radar Owner/Lifecycle"
## Feature Suggestion
Currently the tech-radar plugin has a hardcoded owner and lifecycle to Spotify and Beta respectively.

## Possible Implementation

We can either remove it completely unless we want to show the Group owning the contents of the radar. However it's not an entity itself.

Any other suggestions on what to do with it?

[2020-10-23 07:48] OrkoHunter commented on #2850
@themousepotato The fix for the above issue has been merged. Could you rebase and try again? Thanks!

[2020-10-23 07:58] #3011 closed

[2020-10-23 08:01] freben commented on #3051
@Rugvip Could this actually be a label? Employee role, that is

[2020-10-23 08:01] freben commented on #3051
I mean in an output sense it totally could be. But even in an input sense?

[2020-10-23 08:03] #2405 closed

[2020-10-23 08:31] themousepotato commented on #2850
Doing that right away! I'll let you know how it goes.

[2020-10-23 08:38] benjdlambert commented on #3040
Hey @javigomez, seen as #3038 has been merged, do you think we could close this issue?

[2020-10-23 08:41] stefanalund commented on #3059
@althafh I think it should be removed actually. Do you want to give it a go?

[2020-10-23 08:42] althafh commented on #3059
Definitely. Will put out a PR :)

[2020-10-23 08:47] stefanalund commented on #3059
🙏

[2020-10-23 08:48] stefanalund commented on #1499
@emmaindal perhaps you have some teasers to share from your hack project? 😏

[2020-10-23 09:15] freben commented on #1499
Or indeed @Nek !

[2020-10-23 09:59] mfrinnstrom commented on #2771
Our Backstage app will be running using ECS Fargate on AWS. I'm now looking into running the templater step of the scaffolder using ECS Fargate as well instead of a local Docker instance. To make it easy to share the prepared files (that are downloaded in the Backstage container) with the templater step that will run in a separate container we intend to use EFS and mount a shared filesystem betwee

[2020-10-23 10:02] mfrinnstrom commented on #2998
@benjdlambert I can pick this up so please assign me. Just to be clear, you mean something like this?

[code]

[2020-10-23 10:04] javigomez commented on #3040
Indeed. Thanks all, that was amazingly fast ❤️

[2020-10-23 10:04] #3040 closed

[2020-10-23 10:14] benjdlambert commented on #2998
yep something like that. @spotify/techdocs-core is this something that could be useful in the `techdocs` preparers too?

[2020-10-23 11:00] stefanalund commented on #2771
@mfrinnstrom it would be really interesting if you helped write down how to get Backstage up and running on Fargate, so that other can follow the same model. Maybe in the form of a tutorial? Example https://backstage.io/docs/tutorials/quickstart-app-auth

[2020-10-23 13:16] jlind23 commented on #849
Any update so far? :)

[2020-10-23 14:18] jlind23 opened #3063 "Sonarcloud metrics integration"
Purpose here will be to add sonarcloud as a plugin in order to retrieve metrics from sonarcloud.io such as code coverage or code maintenability.

## Possible Implementation
https://sonarcloud.io/web_api apis are available it needs only a user token or a service account token.

## Context

[2020-10-23 14:22] andrewthauer commented on #3063
I think it would be good to support the on premise (non cloud) version as well.

[2020-10-23 14:24] jlind23 commented on #3063
Wonderful, API Paths and authentication method are both the same https://docs.sonarqube.org/latest/extend/web-api/

[2020-10-23 14:50] timbonicus opened #3064 "Cloud Code support for Catalog entity types"
## Feature Suggestion

[Google Cloud Code](https://cloud.google.com/code) is a plugin for VSCode and JetBrains IDEs that features [autocomplete for k8s YAML](https://cloud.google.com/blog/products/containers-kubernetes/cloud-code-features-expanded-support-for-kubernetes-crds) files. This would be quite handy for Backstage Catalog files that use the k8s object format.

Cloud Code allows you to add

[2020-10-23 15:07] sandstroms commented on #3044
@stefanalund No, I'm not comfortable enough with the code. You can add the labels.

[2020-10-23 15:08] themousepotato commented on #2850
Hey @OrkoHunter. It's still giving 404. I think it's because the cloning is taking way too much time than usual. Is there anything can be done to replace cloning from scratch and make it use of the clone I have locally?

[2020-10-23 15:57] freben commented on #3064
Oh, interesting way of accomplishing it! Hm, we are modeled after the k8s format but are considering making at least one incompatible change, namely to allow complex (non-string) annotations. I wonder if there's a similarly easy way of getting going without being forced to be actual valid CRDs.

[2020-10-23 15:59] freben commented on #3064
Like, for example, linking to something akin to json-schema files instead

[2020-10-23 16:55] adamdmharvey opened #3065 "Core feature: is it a Software Catalog or a Service Catalog?"
## Feature Suggestion

In terms of the Backstage documentation, there's an entire section of the Core Features labeled as "Software Catalog" inferring that's a key feature.  However, opening that section, everywhere it's actually described instead as a "Service Catalog". And within the product itself, it also refers to Services of course.

The reason for this feature request is to help define:
**I

[2020-10-23 17:17] abhishekjakhar commented on #3012
In the image given below, the left tab is having current favicon which does not work on safari and the right tab is having favicon which works on all browsers. But, the difference is the favicon in left tab does not have background. I am not able to generate a favicon without a background, because we are having PNG files which are very large in size and favicon generated from it is not in proper r

[2020-10-23 18:19] adamdmharvey opened #3067 "Input validation of required fields when creating new component"
## Feature Suggestion

On the create new component screen, it indicates which fields are _required_ by the template. However, the interface does not actually require the user to enter them. The result will be a failure.

![image](https://user-images.githubusercontent.com/33203301/97039264-23edb700-153a-11eb-923d-7f35458697ab.png)

It may be preferable to validate the input and potentially not let

[2020-10-23 19:13] craicoverflow commented on #3027
The user icon is a direct link to `/settings`, which is the `SettingsPage` component. Why is there a need for an additional Settings link?

[2020-10-23 19:18] Rugvip commented on #3067
👍 , this should be tackled as part of https://github.com/spotify/backstage/issues/2771.

It's also very much related to https://github.com/spotify/backstage/issues/2832. As there I think adding validation as part of JSONSchema makes sense: https://json-schema.org/draft/2019-09/json-schema-validation.html

[2020-10-23 20:19] erictnilsson commented on #3067
I'm failing to reproduce the bug @adamdmharvey, arent the required fields already validated? This is what pops up when i skip Name*:
<img width="1160" alt="Screenshot 2020-10-23 at 22 17 00" src="https://user-images.githubusercontent.com/16206098/97050519-cc713a80-157d-11eb-81df-930e1d328149.png">

How are you circumventing this?

[2020-10-23 20:29] adamdmharvey commented on #3067
Create question!!  I'm on https://github.com/spotify/backstage/commit/e83b9753448f9b111c1048b601ae40b8de52bb23 if it helps?

[code]

[2020-10-23 21:15] stefanalund commented on #3063
Great! @jlind23 should I assign you or do you want me to add [help wanted] labels?

[2020-10-23 21:19] jlind23 commented on #3063
You can add help wanted as I am off for few days/weeks. Thanks for being here @stefanalund

[2020-10-24 02:41] abhishekjakhar opened #3073 "No value for Use Typescript in table while creating react component"
When we create a new React App Template by clicking on Create Component button and choosing Create React App Template, we get option to opt in for typescript. Now, for example we opt in for typescript and move forward, in the last step of Stepper you will see a Review and create step which contains a table telling all of the details which we have mentioned in steps before. Here you will see that n

[2020-10-24 07:01] harshilparmar commented on #3027
@katz95 @stefanalund Already showing me
![setting1](https://user-images.githubusercontent.com/45915468/97070179-f9f8cb00-15f3-11eb-9aee-abac722e7656.PNG)

My question is how can I access setting component because it already showing as a popup.
(suggestion) : This looks great. Do you still want to make extra setting icon ?

[2020-10-24 08:25] stefanalund commented on #3027
@harshilparmar that’s the old UI. Please make sure you’ve pulled the latest version.

The reason we wanted to introduce a specific Settings menu item (link) was that it is not obvious that the use icon hides a settings screen.

[2020-10-24 08:44] erictnilsson commented on #3067
Hmmm... The behaviour is still the same for me on `e83b975` 🤔

[2020-10-24 09:17] stefanalund commented on #3063
@jlind23 done! Thanks for suggesting this.

[2020-10-24 09:31] goober commented on #3063
Could be of interest to see if there are some synergy with the security insights plugin. https://github.com/spotify/backstage/pull/3046

[2020-10-24 09:37] dzolotusky opened #3074 "[Plugin] Compute Capacity Plugin"
## Summary

A plugin for managing compute resources like virtual machines. Ideally, this plugin should have an opinionated UI for managing compute and performing common operations like Power On, Power Off, Reboot, Provision, Destroy, etc. and an extensible backend model that would allow it to operate any type of machine and add additional custom operations.

## Context
The plugin only needs to hav

[2020-10-24 10:06] freben commented on #3074
Awesome, I've been looking forward to this!

One interesting challenge is how to map catalog entities to their corresponding cloud resources. For context for other readers: At Spotify, entities have a dedicated `role` property, which is a unique key that maps (one or more) components to their role in the larger ecosystem, and this maps to several different runtime aspects, one of which is capacity

[2020-10-24 11:46] Rugvip opened #3076 "[RFC] Stability Index"
**Status:** Open for comments

## Need

Backstage is heading out of alpha and on to a path to an eventual long-term stable release and version `1.0`. The community and ecosystem is growing at an increasing rate, and we want to provide a solid foundation for everyone building things in, with, and around Backstage.

At this stage of the project we also want to be able to move fast and break things.

[2020-10-24 14:43] erictnilsson opened #3077 "Some errors in Run Templater stage are not correctly represented in the JobStatusModal since logger fails to log the error"
When creating a new component using the CRA template, if the Run Templater stage throws an error, the modal is not updated accordingly. The Run Templater stage's status gets stuck at "STARTED" (blue color) when it should be "FAILED" (red color).
<img width="555" alt="Screenshot 2020-10-24 at 11 10 30" src="https://user-images.githubusercontent.com/16206098/97084372-bd8a9680-1616-11eb-9695-9582b2e9

[2020-10-24 14:47] ron-debajyoti commented on #2030
Hi!
As far as I understand, unregistering an entity automatically deletes the Techdocs from the `localhost:3000/docs`. We want to add the feature to remove just the docs right ?

[2020-10-24 14:55] dtuite commented on #3063
We have a call set up at 2pm UTC time on Tuesday 27th to talk about what a SonarQube plugin would look like and what it should do. Email me at david@roadie.io if you would like to join.

[2020-10-24 14:57] erictnilsson opened #3078 "Component Id/name is not validated in the CRA template"
The user is able to enter a component ID that breaks the templater. The field descriptions states that only lowercase, URL-safe characters are allowed but it's not validated accordingly.
The field's description:
<img width="380" alt="Screenshot 2020-10-24 at 16 48 32" src="https://user-images.githubusercontent.com/16206098/97084660-f3c91580-1618-11eb-8c45-9ab22ded6f52.png">

What I'm allowed to en

[2020-10-24 16:41] dtuite opened #3079 "Circle CI plugin requesting from wrong project"
I have a project which lives in CircleCI at `https://app.circleci.com/pipelines/github/RoadieHQ/sample-service`.

The annotation for the component that uses this build pipeline is [here](https://github.com/RoadieHQ/sample-service/blob/master/catalog-info-2.yaml).

[code]

I have an auth token configured in `CIRCLECI_AUTH_TOKEN` (this backstage instance is running on kubernetes)

[code]

When I vis

[2020-10-24 17:43] andrewthauer commented on #3079
@dtuite - I believe the circleci annotation should be prefixed with 'github/roadiehq/'. My guess is bitbucket is the fallback which is probably not desired and should error instead maybe.

[2020-10-24 19:13] dtuite commented on #3079
@andrewthauer Thanks. That solved the problem!

[2020-10-24 19:14] #3079 closed

[2020-10-24 23:02] giulianovarriale commented on #3073
Can I take that one?

[2020-10-25 00:16] benjdlambert commented on #3063
@dtuite I'd be happy to join as an interested party from the @spotify/backstage-core side - just sent you an email

[2020-10-25 00:21] benjdlambert commented on #3073
@abhishekjakhar thanks for the report! yep this should definitely not be blank! I think a solution would either be serializing this to ✅/❌ or Y/N would be great. @giulianovarriale - thanks for the interest, but I think that @abhishekjakhar said that he wanted to contribute in the original issue, so is this something that you would want to fix @abhishekjakhar?

[2020-10-25 00:28] benjdlambert commented on #3067
What browser are you using? Wondering if this is something related to the library using HTML5 validation for the form that maybe your browser doesn't respect. I get this in Chrome:
<img width="1792" alt="Screenshot 2020-10-25 at 02 26 36" src="https://user-images.githubusercontent.com/3645856/97096256-c3f62e00-1669-11eb-8c31-f9030e4e19f6.png">

[2020-10-25 00:31] benjdlambert commented on #3067
I wonder if we're hitting this: https://react-jsonschema-form.readthedocs.io/en/latest/usage/validation/.

Specifically:
[code]

[2020-10-25 01:28] abhishekjakhar commented on #3073
@benjdlambert Yes, I wanted to pick this up. But, I am happy to let @giulianovarriale tackle this.

[2020-10-25 02:12] raosumanth commented on #343
Finally what is the Callback URL. I am finding hard to get this as everything I try leads to The redirect URI included is not valid.

[2020-10-25 04:53] Marvin9 commented on #3078
Can we use this package for validation? https://www.npmjs.com/package/validate-npm-package-name

[2020-10-25 07:25] Fox32 commented on #3063
We already have this internally and could contribute it

[2020-10-25 10:34] giulianovarriale commented on #3073
I'm sorry @abhishekjakhar, I didn't notice you wanted to pick it up.
If you really want to work on it, please let me know.

[2020-10-25 15:50] themousepotato commented on #2931
@OrkoHunter I think this should be closed by #3029

[2020-10-25 15:56] themousepotato commented on #1858
@Nek I think this should be closed by #2172

[2020-10-25 16:36] OrkoHunter commented on #2931
Aah yes. Thank you so much @themousepotato. 💯

[2020-10-25 16:36] #2931 closed

[2020-10-25 18:02] abhishekjakhar commented on #3073
Hey, that's fine. I will work on something else. Feel free to work on this. 😊🙂

[2020-10-25 18:30] #1858 closed

[2020-10-25 18:39] stefanalund commented on #3012
I'm OK with having a favicon with background. Makes the situation better than right now at least :) Thanks for digging.

[2020-10-25 18:45] stefanalund commented on #3065
Hey @adamdmharvey -- thanks for raising this. This conversation has come up before, and I wrote down some of our reasoning in the following issue:

https://github.com/spotify/backstage/issues/2148

What do you think, does this make sense?

[2020-10-25 18:47] stefanalund commented on #3044
@sandstroms no worries -- thanks for reporting! Let's hope someone else steps up to the challenge 😄

[2020-10-25 19:08] YashishDua commented on #2256
Hi, **good-first-issue** label attracted me here. I am looking to pick up this issue next week till then would spend some time reading the code, and understanding the flows.

 @stefanalund I see it's been a month since this issue was opened. Just poking you here to check the status of this. :)

[2020-10-25 19:14] freben commented on #3065
So the instances of the other term, as pointed out by @adamdmharvey , should be renamed, right?

[2020-10-25 19:15] stefanalund commented on #2256
@YashishDua great! Let us know if you need any support. There are quite a few CI plugins now so hopefully you should be able to use them as inspiration: https://backstage.io/plugins

[2020-10-25 19:15] stefanalund commented on #2256
@YashishDua great! Let us know if you need any support. There are quite a few CI plugins now so hopefully you should be able to use them as inspiration: https://backstage.io/plugins

[2020-10-25 21:47] dtuite commented on #3063
That looks awesome @Fox32. If you'd open source that there would be no need for us to replicate it.

[2020-10-25 23:51] adamdmharvey commented on #3067
Apologies, I failed _Intro to Web App Issue Reporting_.  😊

* Windows 10 1909
* Microsoft Edge 86.0.622.48 (which is based on Chrome)

And @benjdlambert 's feedback was interesting, so I also tried with:

* Chrome 86.0.4240.111 (real Chrome)

And same error, no validation is performed.  So for me this may not be browser related.

**However**, I may just introducing an edge case (or a newbie failur

[2020-10-26 00:50] adamdmharvey commented on #3067
To note, my failure to have templates working likely relates to my not (yet) using a Docker image to host the preparer backend, which I assume is used to create the repo content needed to actually push up? So anyway, since my preparer backend is broken, that may be why the validation isn't working..

[2020-10-26 04:35] adamdmharvey commented on #3067
Ah - better info.  The validation works beautifully _if_ I generate an app (i.e., `npx blah blah`) and run that:

![image](https://user-images.githubusercontent.com/33203301/97134260-265f3500-1723-11eb-9b25-6d0cef56bdf0.png)

The validation does NOT kick in if I just do the raw `yarn start` out of the cloned Git repo, a la https://backstage.io/docs/getting-started/running-backstage-locally#clone-a

[2020-10-26 05:58] abhishekjakhar commented on #2986
Hey, I am working on this. I am halfway there, will take me 2-3 days more to finish this up.

[2020-10-26 08:02] SurjitCS opened #3091 "Question about adding a new plugin"
We have a Java project that we use for Automation testing using Rest Assured and Selenium which is currently hosted in Azure DevOps. We are in process of exploring Backstage. Could you please guide us to achieve incorporating our automation java code in backstage or guide us with some training/tutorial which would be useful. Thanks in advance!!

[2020-10-26 08:26] OrkoHunter commented on #3091
Hey @SurjitCS ! I assume that the project you are using can be added as a plugin in Backstage. And then when you deploy Backstage, the plugin will do the job.
Could you also share the name of this Java project? We can create another issue and track the progress there.

Plus, welcome to the community! :)

[2020-10-26 09:05] dtuite opened #3092 "Importing error does not match validation rules"
When you try to import a `catalog-info.yaml` will an uppercase tag into Backstage you get the following error:

[code]

The error says that uppercase chars are valid, even though it is rejecting them. This is what I'm trying to import:

[code]

Changing to this allows the import to succeed:

[code]

Screenshot of the error:

![Screenshot 2020-10-26 at 09 00 36](https://user-images.githubuserconten

[2020-10-26 09:10] #2910 closed

[2020-10-26 09:15] freben commented on #3073
Assigned to @giulianovarriale then :)

[2020-10-26 09:21] dtuite commented on #3092
Probably a good candidate for "Good First Issue". I can't add labels.

[2020-10-26 09:22] dtuite opened #3093 "Double border on CI/CD widget"
There is a double bottom border on the Recent Workflow Runs card when it only has a small number of runs in it.

![Screenshot 2020-10-26 at 09 20 35](https://user-images.githubusercontent.com/562403/97155136-cdb48a00-176c-11eb-9f5d-dba46e31568d.png)

[2020-10-26 09:23] dtuite commented on #3093
Probably a candidate for Good First Issue. I can't add labels.

[2020-10-26 09:27] benjdlambert commented on #3067
hmm - this is interesting. For me I only have it cloned and it works for me.

The validation is done client side and server side, but it appears that the client side validation isn't working. I will take a look at this a little more to see if I can replicate this afternoon.

[2020-10-26 09:32] Fox32 commented on #3063
I created a ticket on our board 🙂

[2020-10-26 09:34] abhishekjakhar commented on #3093
Can I pick this up?

[2020-10-26 09:37] dtuite commented on #3063
@Fox32 This makes me wonder how many proprietary Backstage plugins are out in the wild already. There could be a lot of useful stuff out there that teams just haven't gotten around to open sourcing. It's can be a high friction process to open source even the smallest piece of code in some companies.

[2020-10-26 09:38] freben commented on #3093
Sure!

[2020-10-26 09:40] Fox32 commented on #3063
We also have a plugin for Fossa (@dhenneke will create an issue for that) and DefectDojo. The later is something I would probably expect to be integrated into a security insights plugin, instead of having it separately. And I'm not sure if the way we use DefectDojo is useful for other companies.

[2020-10-26 09:47] Fox32 commented on #2071
I think we can close this, this is available in the code-insights. We (SDA SE) chose to go a different route, as we wanted to have some kind of description that is not read from GitHub. We added this as a field to the entity and display a small markdown widget.

[2020-10-26 09:47] #2071 closed

[2020-10-26 09:53] dhenneke opened #3094 "[Plugin] FOSSA"
## Summary

We use [FOSSA](https://fossa.com/) to scan our dependencies for Open Source licensing issues. Each service has a [project dashboard](https://app.fossa.io/projects/git%2Bgithub.com%2Ffossas%2Ffossa-cli) and there is an [API](https://reference.fossa.io/) to get details about the scans.

The plugin could:
1. Show the current status and the issue count.
2. Tell more about the licensing iss

[2020-10-26 09:57] Fox32 commented on #3094
Would be a good candidate to integrate with a Status API #2292

[2020-10-26 10:32] benjdlambert commented on #3078
I think we could probably just update the `json-schema` to add validation for this rule instead.

[2020-10-26 10:34] benjdlambert commented on #3078
https://react-jsonschema-form.readthedocs.io/en/latest/usage/validation/

[2020-10-26 10:44] soapraj opened #3095 "TechDocs: Collect feedback"
Please provide feedback for TechDocs here -https://docs.google.com/forms/d/e/1FAIpQLSdn5Vn3MQhCdyYRuW8cMzZkMQF0bFxXYN168gZRvESLfJWVVg/viewform

This is to gather inputs from you (the Backstage community) which will help us best serve TechDocs adopters and existing users. Your inputs will shape our roadmap and we will share it in the open.

[2020-10-26 10:48] soapraj opened #3096 "TechDocs: Add support for different storage options"
- AWS S3
- GCS

[2020-10-26 10:50] soapraj opened #3097 "TechDocs: Add support for different CI providers"
- Circle CI
- Github Actions

[2020-10-26 10:51] soapraj opened #3098 "TechDocs: Improve user experience"
- speed up the initial load time to improve the user experience of tech docs

[2020-10-26 10:57] emmaindal commented on #2850
closed by #3072

[2020-10-26 10:57] #2850 closed

[2020-10-26 11:30] erictnilsson commented on #3078
Can you assign me to the issue @benjdlambert? I'm working on a solution using json-schema 🙂

[2020-10-26 11:40] benjdlambert commented on #3078
Sure!

[2020-10-26 12:02] benjdlambert commented on #3077
Do you wanna take a stab at this too @erictnilsson?

Seems reasonable 👍

[2020-10-26 12:03] erictnilsson commented on #3077
Sure thing! 🙂

[2020-10-26 12:04] abhishekjakhar commented on #3093
@dtuite I am not able to see the **Recent Workflow Runs** section when I run the backstage application using **yarn dev**. I guess I have not setup my application properly, could you please tell me what else do I need to do to see other features like **Recent Workflow Runs**, **Auditing** etc.

[2020-10-26 12:09] abhishekjakhar commented on #3093
How could I develop something like https://demo.roadie.so/catalog locally?

[2020-10-26 12:31] #2735 closed

[2020-10-26 12:55] OrkoHunter commented on #2030
@ron-debajyoti Unregistering an entity is the correct and only way to delete a docs site since docs sites are also entities.

But unregistering an entity may not delete everything related to techdocs. For example, the process will not clean up TechDocs generated HTML files from GCS, S3 or local file system - whatever storage solution we are using.

The issue is especially targeting this particular

[2020-10-26 13:34] OrkoHunter opened #3099 "TechDocs: Fix broken page title while the docs are rendering"
![Screenshot 2020-10-26 at 14 10 28](https://user-images.githubusercontent.com/8065913/97178429-c0f95b80-1797-11eb-8e45-6a51805d0d22.png)

## Expected Behavior

TechDocs generates documentation metadata for an entity from its repository. So, it takes significant time to get information like site name which goes into the title of the page.

While we are fetching the site name and other metadata, we

[2020-10-26 13:48] OrkoHunter commented on #2998
@benjdlambert @mfrinnstrom I think TechDocs preparers will benefit from having the ability to use the specified `workingDirectory`. Looking forward to #3062 🙏
If #3062 only adds the feature for scaffolder, @spotify/techdocs-core can then use the example to implement it for TechDocs. cc @hooloovooo

[2020-10-26 14:03] benjdlambert commented on #1499
See #3086 for more details!

[2020-10-26 14:05] hooloovooo commented on #2998
Yup sounds reasonable. If the tmpdir isn't available techdocs would break as well so we should fix it too. I saw @Rugvip mention moving the property to the `backend` part of the config in the PR and that makes sense so we can use it as well.

[2020-10-26 14:13] #3012 closed

[2020-10-26 14:16] benjdlambert commented on #3050
@jcarres-mdsol can we close this issue now?

[2020-10-26 16:27] benjdlambert opened #3102 "Create template screen returns all entities"
##  Expected Behavior
- Can only see the templates that are of type `Template`

## Current Behavior
- All entities are listed
- Choosing the template returns `template schema file is corrupt`

![Screenshot 2020-10-26 at 17 21 01](https://user-images.githubusercontent.com/3645856/97199496-5a346c00-17b0-11eb-80ad-a24c93627ed6.png)

## Possible Solution
- Update the catalog client in the frontend to

[2020-10-26 16:41] emmaindal commented on #1499
Oh haven't seen this! Thanks for sharing the PR here @benjdlambert

[2020-10-26 17:14] vividh commented on #3092
Hi, may I claim this issue? Also, could you help with the steps to replicate this, since I'm completely new to this project?

[2020-10-26 17:16] vividh commented on #3099
I would like to work on this.

[2020-10-26 17:25] freben commented on #3092
Assigned!

simplest is probably to make an `app-config.local.yaml` file, and add

[code]

When you start the backend, it should ingest that file and you should be able to see the error

[2020-10-26 17:45] OrkoHunter commented on #3099
Great @vividh ! Assigned it to you

[2020-10-26 17:45] lewtakm opened #3107 "Standalone plugin repository don't pass TSC check."
## Expected Behavior
While developing standalone plugin that is placed outside Backstage repository due to recent changes command:
```yarn tsc``` should type check and pass.
It seems that Backstage-core package taken directly from NPM was not updated correctly.

## Current Behavior
``yarn tsc``` command produces following error:
![rO4JpVu](https://user-images.githubusercontent.com/36006588/9720751

[2020-10-26 17:52] vividh commented on #3099
Thanks!

[2020-10-26 18:07] Rugvip commented on #3107
That was changed in https://github.com/spotify/backstage/pull/2739, and it's not released yet. It was merged 10 days ago, last release was 14 days ago.

We'll looking at a release within 2 days, but there're some things to iron out first

[2020-10-26 19:12] stefanalund commented on #3094
Would be great if you guys wanted to release this. Thanks in advance!

[2020-10-26 19:31] OrkoHunter opened #3111 "TechDocs: Eject the independent packages into new repositories on github.com/backstage"
We will shortly be moving to the dedicated [`backstage`](https://github.com/backstage) org on GitHub. Some of TechDocs packages can make good use of living in separate repositories out of this mono-repo. Note that, our main plugins [`techdocs`](https://github.com/spotify/backstage/tree/master/plugins/techdocs) and [`techdocs-backend`](https://github.com/spotify/backstage/tree/master/plugins/techdo

[2020-10-26 19:35] OrkoHunter commented on #3111
Question: While we are at this change, can we rename `mkdocs-techdocs-core` to add the word `plugin`?
We already have `mkdocs-monorepo-plugin`. So we will maintain consistency. And IMO `mkdocs-techdocs-core` does not convey very well that it is just a MkDocs plugin and not the "core" of techdocs.

@emmaindal @hooloovooo

[2020-10-26 20:14] dtuite commented on #3094
100% would love to see this open sourced.

[2020-10-26 20:24] dtuite commented on #3092
@freben what is the correct fix here? Is the error wrong or the validation rules wrong?

[2020-10-26 20:26] dtuite commented on #3093
@abhishekjakhar I recommend creating a GitHub repo with some GitHub actions configured and only running one build just to get some sample data.  You can fork https://GitHub.com/RoadieHQ/sample-service if you like.

[2020-10-26 20:35] dtuite commented on #3076
This is my first time coming across this stability index idea. It sounds good.

Should it be be implemented with a testing plan to help ensure that commits are not accidentally sending out unexpected breaking changes to packages which are intended to be stable?

[2020-10-26 21:46] Rugvip commented on #3076
@dtuite Yep, agree that we will need some CI checks to make sure we maintain backwards compatibility. Haven't explored this in-depth yet, but https://api-extractor.com/ seem interesting for ensuring backwards compatibility, along with many other things :grin:

As we start getting closer to stable APIs I'd love to get some higher level and mostly frozen unit tests in place too, testing packages usi

[2020-10-26 21:49] freben commented on #3092
We follow the [kubernetes standard](https://kubernetes.io/docs/concepts/overview/working-with-objects/labels/) per default which permits uppercase text, so the code seems to be wrong.

[2020-10-26 21:53] #3050 closed

[2020-10-26 21:54] benjdlambert commented on #3067
@adamdmharvey so I tried with a fresh clone of `spotify/backstage`, did a `yarn install` and then ran the frontend and backend and on the templates that I could choose, if I don't put any values in the validation works as expected.

![Screenshot 2020-10-26 at 22 49 31](https://user-images.githubusercontent.com/3645856/97232704-f163e880-17dd-11eb-8542-ae86ba9339bc.png)

Is there something I'm missi

[2020-10-26 23:39] benjdlambert commented on #3102
FIxed by #3106

[2020-10-26 23:39] #3102 closed

[2020-10-27 03:34] kiranpatel11 commented on #2917
Hi @andrewthauer,

I could not get it working, hence switch to forking the entire backstage repo :-( to test my changes.
However, I have pushed my earlier changes @ https://github.com/kiranpatel11/my-backstage if you like to have a look at the code. Fundamentally, it has only packages/backstage-common added and my changes for BitbucketServer.
I did notice the error is coming from `plugin-auth-back

[2020-10-27 07:45] OrkoHunter opened #3122 "[RFC] TechDocs URL Inconsistency problem - Each docs page has two URLs"
**Status:** Open for comments

## Current situation

There are two ways of reading documentation in backstage.

**1. The `/docs` way**

User opens their Backstage. They see a "Docs" section in the sidebar. They reach `/docs` a.k.a. the TechDocs homepage. They see all the documentation sites that are available for them to read. They choose any entity or docs site and are taken to the docs with URL

[2020-10-27 08:46] dtuite commented on #3122
Internally in Spotify, what % of "docs" are pure documentation sites vs documentation which is related to a service or other entity which would live in the catalog?

The higher that percentage is, the more value there is in maintaining a separate UX for it.

[2020-10-27 08:49] dtuite commented on #3122
I find this confusing for APIs too. My brain doesn't grok why I have to go to a separate page to search for APIs. I thought the idea of Backstage was to have a single catalog to hang functionality off.

(This is a rethorical comment 😀)

[2020-10-27 08:58] iamEAP commented on #3122
Yeah, this will become a bigger issue when there is an interface for searching things...  Presumably, a documentation site/page should only have a single result, but if so, how do we know where to point them?

To that end, I like your proposal @OrkoHunter, but perhaps with a tweak or two.  Lemme know what you think:

- There should be a way to indicate when a docs site is "documentation only" or a

[2020-10-27 09:01] SurjitCS commented on #3091
Thank You! do we have any videos which can guide us and one more thing in Demo instance i was trying to create Component but  all time I used to get error at publish template time.
Thanks for the help!

[2020-10-27 09:09] lewtakm commented on #3107
Oh thanks, I was sure that those changes was included in v. 25. Let's wait then :)

[2020-10-27 09:10] #3107 closed

[2020-10-27 09:41] #2968 closed

[2020-10-27 09:45] emmaindal commented on #3122
Thanks for writing this up @OrkoHunter really good!

What about entities which are not services i.e. documentation website?

Since documentation-only sites always will be an entity (of type documentation) - I don't see this will be a problem. It will still have a /catalog page attached to it anyway with a docs tab, ci/cd as well as other things.

I like your proposal, and I +1 one the fact that we

[2020-10-27 09:57] hooloovooo commented on #3122
I really like the idea of treating pure documentation entities as one thing and documentation tied to other entities as another. I think it makes sense that the `/docs` route is for pure documentation entities and serving up the documentation as a part of another entity in the catalog makes sense when the the documentation is an explanation of the entity.

[2020-10-27 10:21] emmaindal commented on #3122
-> I'm a little bit concerned about this so just wanted to throw the question out here - a documentation entity will also have its own entity page as well as its own "Docs" tab. So by using /docs as route for pure documentation entities we will not get rid of the "problem" that the documentation will have two different locations. /catalog/<entity>/docs... and /docs/<entity>...

Would like to know

[2020-10-27 10:32] hooloovooo commented on #3122
My reasoning is the difference is the purpose of the documentation. Since backstage is built around entities it makes sense to be able to get the documentation for those entities where you go to view the entity. A pure documentation entity could be anything. Something like `Coding guidelines and best practices` that doesn't have a logical connection to another entity.

Regarding the documentation

[2020-10-27 10:33] hooloovooo commented on #3122
Edit:
I guess there's nothing stopping us from linking to the `/docs` url when clicking the 'Docs' tab on a documentation entity if we would like to avoid the confusion of having more than one url.

[2020-10-27 10:58] #2962 closed

[2020-10-27 11:10] JacobValdemar commented on #3122
In terms of user experience I think our developers would want go to the service catalog for technical documentation (and api docs as dtuite said) about a service and go to the documentation page (/docs) for documentation which isn't related to a service e.g. golden paths.

Whatever solution is agreed upon, I think it's important that it respect that this is two different use cases / scenarios.

[2020-10-27 11:46] vividh commented on #3099
@OrkoHunter Made the changes in https://github.com/spotify/backstage/pull/3126. Do check it out.

The culprit LOC was the following in `TechDocsPageHeader.tsx`:

[code]

Turns out the `Header` component uses `title` prop for the page title as well. But it also allows overriding it, so the following prop fixes it:

[code]

[2020-10-27 12:19] mfrinnstrom commented on #2998
@OrkoHunter & @hooloovooo I didn't plan on looking at the techdocs parts right now since I was hoping to get this into the next release. It seems like I will miss that now so perhaps I can have a look at the techdocs parts as well since we will need those in the future as well.

[2020-10-27 14:32] #2998 closed

[2020-10-27 14:52] OrkoHunter commented on #2998
@mfrinnstrom Hey, thanks! I will create an issue. I will mention you over there. You don't necessarily have to work on it, but it would be super amazing if you do. 🙇

[2020-10-27 15:09] #3077 closed

[2020-10-27 16:07] vividh commented on #3092
@freben Wasn't able to replicate using the above steps, but have found the relevant code path. The validator method for tags is mapped as such:

[code]
where the definition is

[code]
As far as I can see, there are two different issues to fix:
- The DNS label validation message (`'a string that is sequences of [a-zA-Z0-9] separated by [-], at most 63 characters in total'`) needs to be fixed to mat

[2020-10-27 16:21] erictnilsson commented on #3078
Closing this via #3114

[2020-10-27 16:21] #3078 closed

[2020-10-27 16:53] #3048 closed

[2020-10-27 17:41] andrewthauer opened #3130 "CatalogBuilder.addProcessor is not working"
The `CatalogBuilder.addProcessor ` does not seem to be working as expected, based on the description of the method.

## Expected Behavior

A custom `CatalogProcessor` will be added to the existing list of processors

## Current Behavior

Using `builder.addProcessor` seems to be a noop.

## Possible Solution

- Set the  `processorsReplace` flag when `addProcessor` is called and also populate the `p

[2020-10-27 17:49] rishibarad commented on #3044
Hi @sandstroms, I'd love to take a stab at this! May I claim this issue?

[2020-10-27 18:09] stefanalund commented on #3044
All yours @rishibarad 💯

[2020-10-27 18:24] freben commented on #3130
Oh, ouch. Setting `processorsReplace` during `add` would not be the right fix. I see the bug, I'll fix it right away.

[2020-10-27 18:25] andrewthauer commented on #3130
Yep, replaceProcessors works so all good for now!

[2020-10-27 22:18] #3130 closed

[2020-10-28 01:42] andrewthauer commented on #2917
@kiranpatel11 - Sorry, not sure exactly what the problem might be exactly. I experimented with this earlier with a plugin. Assuming the code for the package is physically located (which would be the case for a git submodule) within the `packages` or `plugin` directories then yarn workspaces should pick it up and be happy. However, I noticed that it won't work correctly if it's a symlink unfortunat

[2020-10-28 01:48] andrewthauer commented on #2917
Interestingly enough, this actually works, BUT "only" if you symlink the `node_modules` from the backstage app to the relative project (e.g. ../../path/to/backstage-plugin/node_modules).

[code]

[2020-10-28 02:53] abhishekjakhar opened #3134 "cost insights page not loading"
The cost insights page is not loading because we are getting currencies as undefined and we are trying to loop over the undefined using map method in CurrencySelect component.

## Expected Behavior

<img width="960" alt="cost-insights-page-fix" src="https://user-images.githubusercontent.com/19193724/97384497-cf5d8980-18f5-11eb-9d2c-2ec82f1dfad9.png">

## Current Behavior

<img width="960" alt="cos

[2020-10-28 05:01] harshilparmar commented on #3027
@stefanalund Sorry for late,but can you please assign someone else for this issue.I am quite busy in another work it might take long time.

[2020-10-28 08:39] mfrinnstrom opened #3138 "[Scaffolder] Support adding scaffolded components from Azure DevOps and GitLab to catalog"
## Feature Suggestion

Right now the scaffolder is hard-coded to construct a GitHub url for newly scaffolded components and try to add them to the catalog. This should also work for Azure DevOps and GitLab. I haven't checked checked GitLab but Azure DevOps does not work right now.

## Possible Implementation

Move logic for adding scaffolded components from the frontend to scaffolder-backend. Also

[2020-10-28 08:43] benjdlambert commented on #3138
@mfrinnstrom wanna pick this up yourself after we've got #2881 merged?

[2020-10-28 08:50] mfrinnstrom commented on #3138
@benjdlambert we need it so why not

[2020-10-28 09:41] freben commented on #3027
Would assign @mvarrieur but I can't, probably because of not being in the thread yet

[2020-10-28 12:24] mvarrieur commented on #3027
Thanks sorry I didn't see this was already assigned originally.

[2020-10-28 12:27] mvarrieur commented on #3027
Thanks sorry you should be able to assign me now!

[2020-10-28 12:52] OrkoHunter commented on #3111
@stefanalund Let us setup the `techdocs-core` team on https://github.com/backstage (i.e. invite the members), and then we can setup the repositories needed here. We are ready to do it as soon as possible, and as it fits in the plan. :)

[2020-10-28 13:08] #3027 closed

[2020-10-28 14:03] #3099 closed

[2020-10-28 14:57] vividh commented on #3092
@freben Ping!

[2020-10-28 15:13] freben commented on #3092
A DNS label is different from a domain name though - the regex is correct and the text you wrote seems to match the regexes right?

See here, this is what we should definitely follow, and I think it does unless I misunderstand things https://kubernetes.io/docs/concepts/overview/working-with-objects/labels/#syntax-and-character-set

[2020-10-28 15:14] freben commented on #3092
Oh hang on! Strike that, i was mixing up labels and tags. Let me look one more time.

[2020-10-28 15:31] freben commented on #3092
Haha OK, so, we had a little chat. The decision is:

- Keep `isValidDnsLabel` as it is, with only lowercase.
- Do NOT allow uppercase in tags. That means that their validator can use `isValidDnsLabel`. The code will therefore behave the same still
- Update the corresponding [documentation](https://backstage.io/docs/features/software-catalog/descriptor-format#tags-optional) in the same pull request

[2020-10-28 16:01] vividh commented on #3092
Fixed in https://github.com/spotify/backstage/pull/3145.

[2020-10-28 16:10] vividh commented on #2865
What is the conclusion here? I would like to help fix this based on whatever we decide.

P.S. I personally think it makes sense to show a warning like message inside the lighthouse card itself. Snackbar should be reserved for other global / page level warnings or errors.

[2020-10-28 16:27] dtuite commented on #2865
We've started using a pattern where the error shows up in place of the card. We use an error boundary on the widget to do this. It's clear that there is an error and it is co-located with the card that is causing the problem.

It would probably be slightly better if the name of the card was still shown, even when there is an error.

![error](https://user-images.githubusercontent.com/562403/9746593

[2020-10-28 16:28] Rugvip commented on #2865
Happy to extend the [ErrorApi](https://github.com/spotify/backstage/blob/5adfc005e8cff34ee54e23be1fc59e3479c604dd/packages/core-api/src/apis/definitions/ErrorApi.ts#L33) with a context description

[2020-10-28 16:34] ryanvazquez commented on #3134
Nice catch @abhishekjakhar and thank you for your contribution!

The underlying issue seems to be that the export of defaultCurrencies from Currency.ts is returning undefined in useConfig - in fact, all non-type exports from type definition files are returning undefined - so the config state which is defined outside of the component, is being initialized incorrectly. At runtime when the component

[2020-10-28 17:41] adamdmharvey commented on #2622
As feedback into this, a few ideas:

* the most simple alignment between the plugin and a component, being an annotation to align them to a single project, i.e.,
[code]
* we have some squads who use a single Jira project for all of their work, but also some who manage multiple products and use components _per product_.  Ideally, if we were to add annotations into a `catalog-info.yaml`, it would be

[2020-10-28 17:54] adamdmharvey commented on #2662
Potentially tangential to the initial of just having a scoring/gamification plugin, would be allowing _other plugins_ to add into / extend the gamification would be wonderful.

For example, there are repolinters out there that check your GitHub repo uses some best practices such as:
* Existence of `README.md`
* Existence of `CONTRIBUTING.md`
* Existence of a `LICENSE`
* Existence of a `.gitignore`

[2020-10-29 02:07] adamdmharvey commented on #3065
Indeed, I think some edits are necessary at least to reduce confusion to those users new to the system (myself, though I'm feeling more comfortable!).  Not only is there the difference in the doco, but there are the occasional potential tweaks in the UI, such as:

![image](https://user-images.githubusercontent.com/33203301/97516404-6b74a880-1969-11eb-9c4f-a0a5f2694ffd.png)

Based on your suggestio

[2020-10-29 02:17] adamdmharvey commented on #1767
For context, relatively recently GitHub published a very nice flow chart for help in selecting the authentication type:

https://docs.github.com/en/free-pro-team@latest/developers/apps/about-apps

![image](https://user-images.githubusercontent.com/33203301/97516916-8eec2300-196a-11eb-9145-39ad5e6d43af.png)

I would suggest Probot is not the way to go, but agree PAT is not the path forward either.

[2020-10-29 09:05] goober opened #3155 "Add support for Bitbucket related actions in Catalog"
## Feature Suggestion

Today the actions in the right most column in the catalog only support Github.
This feature request aims to add support for Bitbucket.

An initial implementation is shown in the screenshot. So I can be assigned to this task to complete it.

![image](https://user-images.githubusercontent.com/124244/97547295-883ec980-19c5-11eb-804b-c48c348fa259.png)

## Possible Implementation

[2020-10-29 10:59] freben commented on #3155
I'm thinking that maybe that icon should instead be something generic that conveys the notion "View this file", not tied to the provider type? It would certainly be simpler to maintain.

@stefanalund @katz95

[2020-10-29 11:31] benjdlambert commented on #1767
So I guess our thoughts internally is that in order to reduce complexity, the backend auth part of github would be powered by a github app and then that app could be installed into different organisations and different repositories in which it required authorization.

Our idea is that the App should have enough scopes to do everything, but deployments for certain components would be based around o

[2020-10-29 13:00] katz95 commented on #2028
Been going over some of these design decisions with @garyniemen and @emmaindal and we were thinking along these lines.

**Overview page**

- Has a prominent search bar that allows users to quick search (pulls up 5 results). If user clicks 'enter' or clicks 'advanced search', they will be directed to the 'All Documents' page, which is a comprehensive page with all the docs.
- Also has 'Your Favorit

[2020-10-29 13:02] katz95 commented on #2028
![All docs](https://user-images.githubusercontent.com/61153904/97577097-4296f680-19ef-11eb-8bc1-47d3615e47c5.png)

![quick search](https://user-images.githubusercontent.com/61153904/97577096-4296f680-19ef-11eb-87bd-e63b6085e537.png)

![filter](https://user-images.githubusercontent.com/61153904/97577085-3f9c0600-19ef-11eb-9746-7f9807ade009.png)

![Overview](https://user-images.githubusercontent.com

[2020-10-29 14:37] katz95 commented on #2028
complete GIF

![td](https://user-images.githubusercontent.com/61153904/97588253-99ef9380-19fc-11eb-8ca9-bbb253c7fb7c.gif)

[2020-10-29 14:41] katz95 commented on #2028
complete GIF

![td](https://user-images.githubusercontent.com/61153904/97588804-2732e800-19fd-11eb-8f87-10dacddf53fb.gif)

[2020-10-29 15:51] dtuite commented on #1854
We have started working on a Buildkite plugin. The code will be here: https://github.com/RoadieHQ/backstage-plugin-buildkite

[2020-10-29 15:58] #3092 closed

[2020-10-29 16:02] dhenneke commented on #3063
I created the PR for our SonarQube / SonarCloud plugin https://github.com/spotify/backstage/pull/3160.

We only tested it with SonarCloud since we don't use SonarQube. I hope that we added all needed configurations to configure it against a SonarQube installation. Feel free to do some tests against your instance and report whether it works or not 😄.

[2020-10-29 16:19] andrewthauer commented on #3063
🎉 😄 - I will find some time to pull this down and try it against our on prem version of `SonarQube`!

[2020-10-29 19:08] gabhangra opened #3163 "Unable to create local setup"
## Expected Behavior

A local app running

## Current Behavior

Errors in the console

![image](https://user-images.githubusercontent.com/72286673/97620842-79253f00-19f8-11eb-8bd8-0e02cd5a4cf0.png)

## Possible Solution

missing something in env varables

## Steps to Reproduce

follow https://backstage.io/docs/getting-started/create-an-app

## Context

Trying to poc

## Your Environment
developmen

[2020-10-29 19:22] ron-debajyoti commented on #2030
Hi !,
Thanks for the detailed explanation @OrkoHunter !

I found out that Unregistering an entity is done under `catalog/src/components/UnregisterEntityDialog` in the catalog plugin. Earlier the day I was trying to perform the cleanup in `techdocs` and `techdoc-backend` plugins, but then it became tough to make a call from `catalog` to `techdocs`. I also didn't find any unregister API in `backstag

[2020-10-29 19:39] adamdmharvey opened #3164 "Create plugin fails if the name of the plugin matches to an existing /tmp subfolder"
When creating a new plugin, if the name of the plugin happens to conflict with the name of an existing subfolder of `/tmp`, the plugin creation fails.

## Expected Behavior

The plugin should be able to be created without conflicting with existing files in the `/tmp` folder that may not have anything at all to do with the Backstage plugin creation.

## Current Behavior

If the name of a chosen new

[2020-10-29 19:45] adamdmharvey commented on #3164
PS: a side effect, I noticed, is if there are actual files in your existing `/tmp` directory, than not only will this fail but it removes the temp directory.  That should be OK, unless some other app is actively still using those temp files in another process. So by avoiding the failure to create an existing folder, it should also avoid removing one it shouldn't remove!