[2021-05-11 17:05] ashirley commented on #5518
I have created a draft PR with an example of how we might add a hook into a jenkins plugin (and how that hook might be implemented by the plugin itself and by an Integrator).

Options are documented in the [backend plugin readme](https://github.com/ashirley/backstage/tree/jenkinsBackend/plugins/jenkins-backend#readme)

P.S. In hindsight, I'm not sure the PR added much value over just pushing the b

[2021-05-11 22:39] GaboFrontDev commented on #5499
@freben can you assign me this issue? It would be helpful!

[2021-05-12 00:19] rmanny commented on #5109
I am also seeing this with both OIDC (Dex) and Azure AD SSO

[2021-05-12 00:43] younky-yang commented on #5109
same behavior with Azure AD SSO.

[2021-05-12 03:53] sharadpattanshetti opened #5646 "how to make a step id optional in v1beta2 schema"
Wanted to know how to make any step id optional so that user can skip it while using the template. Already checked the related issue -https://github.com/backstage/backstage/issues/3745
but did not find anything in documentation.
Any suggestions ?

 steps:
    - id: fetch-base
      name: Fetch Base
      action: fetch:cookiecutter
      input:
        url: ./template
        values:
          name

[2021-05-12 04:58] freben commented on #5499
Sure!

[2021-05-12 05:19] GaboFrontDev commented on #5499
Just made a PR 😄

[2021-05-12 07:05] jhaals commented on #5646
Hi @sharadpattanshetti,
There is currently no support for making actions optional. You can however make an action "optional" by wrapping it in a custom action that only executes the action if some condition is met.

[2021-05-12 07:41] OrkoHunter commented on #5109
I am able to reproduce this error on a newly created Backstage app with Google auth provider. After signing in, if I reload the page, or even re-open Backstage in a new tab, I am being logged out.

Looking into it...

[2021-05-12 07:58] freben commented on #5638
Hm. We had not intended for these to be categorized as such. The original thought is that Templates are a kind of global concern, and that users might use facilities such as tags and similar to arrange, filter and order them.

At the _very least_, the system would have to be an optional thing for a Template. But still not sure it should be there at all.

Do I understand your context to mean, that

[2021-05-12 09:28] benjdlambert commented on #5646
I think however this is something that would be useful. We spoke in the initial RFC about having a `if` parameter which can use template syntax to check for boolean. Either from `parameters` or from `step.{name}.output.something`

[2021-05-12 09:38] jhaals commented on #5646
I agree, it's definitely a feature worth adding. Perhaps we have some nice contributor that are interested in picking this up? 😉

[2021-05-12 10:25] OrkoHunter commented on #3218
Re-opening since I think this isn't really stale and ties into RBAC implementations.

[2021-05-12 12:30] freben commented on #2292
Initial work on adding the status field is submitted, see above

[2021-05-12 12:39] freben commented on #2876
Related: https://github.com/backstage/backstage/pull/5654

[2021-05-12 13:28] rbideau commented on #5638
Of course system would be optional.

In our company, we have two use cases for that:
- We have a set of front-end library used for cross-cutting concern (generic UI component, authentication). We want to be able to register each library as a `Component`, with a documentation etc ... but we will also have a `Template` to scaffold a new project based on those library.
- We are using a API management

[2021-05-12 14:58] timbonicus commented on #5639
To be clear, are you talking about hiding the context menu shown here, only for API kinds?

![catalog-context-menu](https://user-images.githubusercontent.com/556258/117996413-61136e00-b2ff-11eb-9907-441491fafb98.png)

And is the desire to hide the whole menu, including other things that may be in there, or only to disable the `Unregister entity` option? Perhaps something like a `readonly` flag for

[2021-05-12 15:11] adamdmharvey commented on #5633
I'll note your front end AND backend in your sample `app-config.yaml` are defined as running on the same port.  Generally, one is 3000 (frontend/UI) and one is 7000 (backend) out of the box - might this be the reason why one is failing to start? (port in use?)

[2021-05-12 15:43] MiguelRamBalt commented on #5639
Hi @timbonicus !

Yep that's the whole menu We want to hide, that's because We customize each entity using `EntityPageLayout` and We give the right access to each user in that way.  We currently  working on a contribution but I'm little blocked on that, because I'm using this pattern ` const config = useApi(configApiRef);`  `const supportConfig = config.getOptionalConfig('catalog');`  in order to

[2021-05-12 15:57] nadworny opened #5657 "Generating techdocs from the provided example doesn't work"
## Expected Behavior

When clicking on the `READ DOCS` link that is generated using this [example](https://github.com/backstage/backstage/blob/master/plugins/techdocs-backend/examples/documented-component/catalog-info.yaml) in the `Documentation`, the docs are properly displayed.

## Current Behavior

[code]

Content from both mentioned directories
` /tmp/backstage-x4IzEX `
[code]

`/tmp/techdocs-

[2021-05-12 15:59] RiyaTyagi opened #5658 "[Catalog] Customize EntityPageLayout Header"
EntityPageLayout is one of the main components in the catalog plugin which allows interaction with an entity. To provide a good user experience we are looking to be able to customize the header for the entity page.

## Feature Suggestion
Custom Entity Labels on the header with or without entity reference links.

<img width="1258" alt="Screenshot 2021-05-12 at 8 54 38 PM" src="https://user-images.g

[2021-05-12 20:33] bgutschke opened #5660 "[Badges Plugin] Generated badge markdown links are broken"
## Expected Behavior

The generated link in the badge markdown is linking to the entity.

## Current Behavior

The generated link in the badge markdown is broken, since entity kind and namespace are in the wrong order.

## Possible Solution

In `plugins/badges-backend/src/badges.ts`:27:

bug:
[code]

fix:
[code]

## Steps to Reproduce

1. Run example backstage via `yarn dev`
2. Open `http://localh

[2021-05-12 21:56] MiguelRamBalt commented on #5639
@timbonicus  I created this PR https://github.com/backstage/backstage/pull/5662  regarding this enhancement.

[2021-05-12 22:01] MiguelRamBalt commented on #5336
Hi @freben  Do you have any feedback regarding this issue???

Thank you in advance!

[2021-05-12 23:46] heatheralee opened #5663 "Support using sqlite for app-config.local.yaml and postgres with database.ssl defined in app-config.yaml"
## Feature Suggestion

Hi there! We are currently experiencing an issue when using Backstage, where if in app-config.yaml we define:
[code]

and in app-config.local.yaml we set our local instances to use sqlite3:
[code]

I would assume this would work, where we use sqlite3 for our local development and postgres for prod, but this throws an error:
[code]

Is this behavior intended?

## Possible Imp

[2021-05-13 00:53] adamdmharvey commented on #5660
I believe this duplicates #5112.  Thanks for the PR for it!

[2021-05-13 02:25] timbonicus commented on #5382
Hmm, let me clarify my thoughts and come back to your question.

I imagined extending `plugin-org` to add a group/user management _frontend_ in Backstage that's adaptable to different backend systems. The backend system may be LDAP, GitHub, Okta, or a custom API such as at Spotify.

The concept of [integrations](https://backstage.io/docs/integrations/) enable Backstage to read **or publish** data

[2021-05-13 04:29] bgutschke commented on #5660
It is. Sorry, don't know how I missed it yesterday, when searching for it. It's quite obvious.

[2021-05-13 04:29] #5660 closed

[2021-05-13 04:56] sharadpattanshetti commented on #5646
Thank you @jhaals  and @benjdlambert  will look forward for this feature. We are also trying to achieve same using custom actions.

[2021-05-13 20:07] timbonicus commented on #5639
Sorry, I'm still finding this quite unclear. Hiding the menu itself doesn't seem like the right approach. I was proposing a way to mark certain catalog entities as forbidden to unregister. Then, as a byproduct, the menu item (and perhaps the whole menu if that's the only menu item) goes away.

Would you mind describing your use case a bit? Do you mean that you want RBAC for catalog entities, where

[2021-05-13 21:05] Andrew-Wichmann opened #5670 "TechDocs repo_url config breaks page render"
## Expected Behavior

The page should render if a gitlab repo_url is provided.

## Current Behavior

The page crashes on load with the message:

[code]

## Steps to Reproduce

1. Setup Backstage without a github integration
2. Use mkdocs to create a techdocs site with a repo_url set.

## Context

We were able to use use techdocs before adding the repo_url, but we wanted to add the repo_url to get

[2021-05-14 00:45] adamdmharvey commented on #5670
I tried to take a quick peek at this, and it would seem to be something related to the ScmIntegrations in the `@backstage/integrations` package I think, since the error itself isn't from TechDocs purely, but TechDocs calling into the ScmIntegration and throwing that error you show.

@Andrew-Wichmann , can you specify what release of Backstage or what versions of your `@backstage` core packages you

[2021-05-14 10:36] stevehipwell commented on #4945
Was a RFC around this ever created?

[2021-05-14 11:23] satrox28 commented on #4816
I am having same problem too, any solution?

[2021-05-14 14:17] MiguelRamBalt commented on #5639
Hi @timbonicus

Answering  your questions, We want to remove that menu for all entities, inside of each entity We are going to determine if the user have access to delete. The approach you suggest is a little hard to implement that because we need to modify all the entities already created and pass that property for each of them., Currently We are working on create a users groups and map to them t

[2021-05-14 14:27] joshq00 commented on #4812
is this something the generator can do -- to resolve + inline references to generate a new spec file?

[2021-05-14 19:38] gasandov commented on #5310
@ougfh did you received any kind of feedback so far? If not let's chat and I can help you out into this contribution

[2021-05-14 21:01] alexcurtin commented on #2566
@taras I'm very interested in seeing how you generated the OpenAPI spec for the catalog API, do you mind sharing your implementation somewhere? Can you push up a branch showcasing what you've built so far? Our end goal is to be able to build a catalog-client from the OpenAPI spec for the `/api/catalog` endpoint. Thanks!

[2021-05-15 09:55] Fox32 commented on #5670
I wonder which version of Backstage you are using. There was a recent fix for this in #5461.

[2021-05-15 10:00] #4876 closed

[2021-05-15 10:30] Crevil commented on #5633
What are the contents of the `backstage-cm` ConfigMap?

[2021-05-15 10:40] suraj-zemoso commented on #5633
Using it to pass some extra config values of auth0 and okta.

Here are the contents
[code]

[2021-05-15 10:45] Crevil commented on #5633
Ok. Can you start the dockerimage in a container locally with eg. `docker run`?

As you haven't specificed any runtime injected configuration, I would expect it to fail there as well, and this not be related to the kubernetes part.

[2021-05-15 11:01] andrewthauer commented on #2923
Work moved to #5643. Assigning to you @timbonicus.

[2021-05-15 11:15] suraj-zemoso commented on #5633
It's actually working fine when  running in a container

[code]

[2021-05-15 13:35] #4780 closed

[2021-05-15 16:24] Crevil commented on #5633
What is in `env.list` in this run?

[2021-05-15 16:25] jrusso1020 commented on #5563
Finally got some time to work on this, all of the circular dependency fixes we have made locally are in this PR https://github.com/backstage/backstage/pull/5676 open to feedback. Also a number of them appeared to already be fixed in master (at least since our initial fork)

Next step will be implementing something to catch these going forward

[2021-05-15 16:52] suraj-zemoso commented on #5633
it contains some environment variables like the one that I've mentioned in configMap

[2021-05-16 06:46] Crevil commented on #5633
Cool. Then it sure seems related to kubernetes. Thanks for clearing that up 👍

Kubernetes will set a whole lot of environment variables in a pod for service discovery purposes. Do you have any kubernetes Services in the same namespace? I would guess at least a one for backstage it self?

I guess backstage could read one of those variables somehow?

As your `app-config.yaml` does not reference anyt

[2021-05-16 08:02] suraj-zemoso commented on #5633
Yes. I've config file for backstage service. As I'm testing this deployment on my local cluster, I've used a NodePort
[code]

[2021-05-16 09:12] Crevil commented on #5633
What happens if you set a nodePort below 65536? Just to test.

[2021-05-16 09:22] suraj-zemoso commented on #5633
Actually the issue is with the deployment. Service is getting created without any issue.

Here is the steps that I'm following,
1. Creating the ConfigMap (and secrets as well)
2. Creating the deployment (where the pod is failing and getting the error mentioned in the ticket) - (backstage-deployment.yml)
3. Creating the backstage service (backstage-service.yml)

[2021-05-16 10:06] Crevil commented on #5633
The reason I'm curious is, that services results in environment variables in deployments :)

So adding a service like `backstage` with port 12345 would set an env variable in the pod like `BACKSTAGE_PORT=12345` or something like that. I'm not completely sure on the naming scheme.

But just to be sure I understand correctly, the pod fails right upon deployment creation, ie. before the service is cr

[2021-05-16 16:13] suraj-zemoso commented on #5633
yeah. It's failing upon the deployment creation.

[2021-05-16 16:51] benjdlambert commented on #5620
Work for migration guide here: https://github.com/backstage/backstage/pull/5678

[2021-05-17 05:58] maha-z opened #5679 "Role or scope based authorization"
We want to implement scope based authorization. For users with different roles or scopes we would like to show or hide certain features in backstage. Can we have multiple authorization? For users who have logged with github when they click on a specific tab we would like to authorize using okta or auth0 and show the content based on the role or scopes of the user

[2021-05-17 07:19] reinoudk opened #5680 "Using integration for `GithubOrgReaderProcessor` fails when user email is hidden"
When using the GitHub integration as client for the `GitHubOrgReaderProcesseror` as implemented in #5602 the `github-org` catalog location fails to sync when the organization contains one or more members with their email set to hidden.

## Expected Behavior

I expected the `github-org` location sync to work with the integration client.

## Current Behavior

The sync failes with the following error

[2021-05-17 08:52] mikkeschiren opened #5682 "Publishing slow on custom software template"
## Expected Behavior

Using a software template I am adding a Drupal code base, at the publish step it should go fast to publish it to Github/Gitlab

## Current Behavior

For adding a vanilla Drupal, with no vendors or node_modules, it takes about 20 minutes to finish the publish step.

I do not know where the issue is. Slow connection or slow progress inside Backstage, or cookiecutter itself.

[2021-05-17 08:57] benjdlambert commented on #5682
Hey can we see the actual template you're trying to publish? and the `template.yaml` definition? It's quite hard to tell what's going on here with limited information

[2021-05-17 09:18] mikkeschiren commented on #5682
This is what I am using:
https://gitlab.wklive.net/wk-public/template-drupal

[2021-05-17 11:11] #5112 closed

[2021-05-17 12:03] jvilimek opened #5692 "Tech-radar search option"
We are using [tech-radar](https://github.com/backstage/backstage/tree/master/plugins/tech-radar) to provide hints for our developers what to use and where to find more info (links for wiki).

It would help the user experience to add also some sort of search. E.g. techradar from Thoughworks has built in search like this:
![image](https://user-images.githubusercontent.com/16001792/118484791-e93aae80

[2021-05-17 12:22] jvilimek opened #5693 "Tech-radar not showing all items"
We are using [tech-radar](https://github.com/backstage/backstage/tree/master/plugins/tech-radar) to provide hints for our developers what to use and where to find more info (links for wiki). The list of technologies/tools is quite comprehensive. We have about 45 tools. Some of them are not visible in the list as obvious from the screenshot below:

![image](https://user-images.githubusercontent.com

[2021-05-17 13:14] kuangp commented on #3541
I have a [PR](https://github.com/backstage/backstage/pull/5444) waiting for review to address this

[2021-05-17 13:19] ignacio83 opened #5696 "Techdocs - Uploaded file has always the same content-type in S3 - application/octet-stream"
When publish a techdocs to S3 all files has the content-type application/octet-stream. It does no break techdocs view inside backstage, but does not allow use a bucket as a static web site outside of backstage.

## Expected Behavior
Send content-type as text/html for html files, text/css for css files, text/javascript for javascript files, application/xml for xml files and application/json for jso

[2021-05-17 13:32] andrewthauer commented on #5680
I ran into the same issue. I tried adding a few additional permissions to the GH app related to the org, teams, etc. with no luck. @reinoudk - Did you try all permissions? I'm wondering if it's some specific combination or just not possible through a GH app credential?

[2021-05-17 14:23] HongliBu opened #5698 "How to override paddingBottom of InfoCard"
Hi I am using InfoCard of backstage storybook, I saw it inherits the paddingBottom of Material UI Card Content property:
[code]
I want to make it to 0,
I tried this:

[code]

and use it :

[code]

it doesn't work. so is there a simple way to override the paddingBottom??

Thanks

[2021-05-17 14:23] reinoudk commented on #5680
@andrewthauer I've tried giving the app all permissions (it's an internal one for testing purposes anyways) but to no avail.

I have also tested this with a personal organization of which I am the only user. When I set my email to be publicly available, it works. But as soon as I set it to private, I get the same error. So the permissions are fine.

A similar question was asked here: https://githu

[2021-05-17 14:29] OrkoHunter commented on #5696
+1

There is a helper function available which can be used here https://github.com/backstage/backstage/blob/dc631231b34606d01012592140516bbdd8ec7dbe/packages/techdocs-common/src/stages/publish/helpers.ts#L23-L35

Also - all the [publishers](https://github.com/backstage/backstage/tree/master/packages/techdocs-common/src/stages/publish) (S3, googleGCS, Azure, etc.) can be updated in one go. :)

[2021-05-17 14:31] MiguelRamBalt commented on #5639
this is another issue related to  https://github.com/backstage/backstage/issues/5658

[2021-05-17 14:35] gtzefrain commented on #5596
I'll pick this up!

[2021-05-17 14:45] OrkoHunter commented on #5657
Looking at the error -  `error spawn mkdocs ENOENT`, it could be that your Docker instance is missing `mkdocs`. This should help

https://github.com/backstage/techdocs-container/blob/5322712e95f654efe9194517a81347f53932681b/Dockerfile#L23

[2021-05-17 16:06] jrusso1020 commented on #5535
@benjdlambert that sounds highly plausible. I'll try to confirm this

1) It does appear to happen for all templates, generally after a prolonged period of no logs being written (i.e. during the publishing phase)
2) I can remove the publishing step and test, but I think your hunch is also what we've been thinking

I wonder if we can add a constant keep alive log that just says something like "Worki

[2021-05-17 16:43] freben commented on #5535
Yep, a keepalive comment message makes sense. It sounds good to be driven from the router as you initially tried, not the TaskWorker. However you probably need to put a `res.flush();` after each `write`.

[2021-05-17 16:59] freben commented on #4945
I don't know of one offhand.

[2021-05-17 17:01] freben commented on #5692
That makes a lot of sense! Added a help wanted label on it. Is this something you'd like to work on?

[2021-05-17 17:19] freben commented on #5693
Yeah, reproduced. Not sure how best to render that in an effective way - it's constrained to stay within the quadrant space available so it just plain runs out of room. And as you say some form of paging or scrolling will probably be necessary. It uses the CSS `columns` prop and some breaking rules; will probably require some fiddling to look good both for few and for many items.

[2021-05-17 17:53] alexcurtin commented on #5680
We're running into this issue as well, just a +1.

[2021-05-17 17:58] jot-hub commented on #5657
Hi, I thought the `techdocs.builder: local` setup does not involve Docker at all - what am I missing here?

[2021-05-17 18:51] freben commented on #5680
Oh, that's unfortunate. Thanks for going through the trouble of making a detailed report and investigation around it.

First a quick mention that the email [is optional](https://github.com/backstage/backstage/blob/master/packages/catalog-model/src/kinds/UserEntityV1alpha1.ts#L32) in the model, so if we just find a way to make the query return an empty value for these emails, we're golden.

I agree

[2021-05-17 18:59] freben commented on #5679
For entity visibility specifically, there's [this issue](https://github.com/backstage/backstage/issues/3218).

Large parts of the interface are composable in such a way that you could wrap them in an auth barrier, at the JSX level in your app package. We have no builtin functionality for this, but a part of what you mention you can probably implement as a custom thing for your org.

[2021-05-17 19:00] andrewthauer commented on #5680
I'm wondering if maybe just skipping the email entirely is easier. Since these are GitHub profiles, how often will these emails be useful? I may be going out on a limb here, but wouldn't the majority of them be personal versus work related? If so, I'm not sure how useful the email is for an organization.

[2021-05-17 19:11] OrkoHunter commented on #5657
@jot-hub Yep!

[2021-05-17 19:11] #5657 closed

[2021-05-17 19:39] benjdlambert commented on #5535
@freben's comment is correct. You need to `flush` the buffer to the client otherwise it will just build up the buffer at the server and that data will just sit there until the next `flush` call which would be in after the period of inactivity. :)

[2021-05-17 19:40] taras commented on #2566
👋 @alexcurtin we haven't integrated with the catalog so far. We only used the clients that we created to integrate services that already have OpenAPI specs into Backstage. I might have an opportunity to do it this week, but I'm trying to figure out how to validate the implementation.

[2021-05-17 19:42] freben commented on #5663
Hey! Yeah it would be reasonable to assume that this should work out - but the way that things work internally now, it won't. We've taken it to heart though and may work toward that in the future. In the mean time, I'll suggest a little switcharoo:

You may want to look at things as follows:

- `app-config.yaml`: The "default" dev setup, as cloned by devs. Should contain the sqlite config because

[2021-05-17 19:45] freben commented on #5658
Yes, sorry but these entity layouts are not broken apart into pieces in a composable way right now. So it's not easy to customize just parts of it, rather than replacing the whole shebang.

It's on our radar to some day look into the details of what the component-app interface surface looks like, such that the header is more owned by you than the plugin. But unfortunately not in the very short ter

[2021-05-17 19:50] freben commented on #5680
This is used for GitHub Enterprise as well though. And there seem to be a certain number of orgs that seem to have primarily based themselves off GitHub, such that these entities will reflect their very real work identities.

[2021-05-17 19:53] Crevil commented on #5633
I've done some digging. The error originates from Node.js's `net` module, more specifically the [`listen` method](https://github.com/nodejs/node/blob/cb2bdc632a802eed7ee8c5c9388811de73029602/lib/net.js#L1438) of the `Server` class. We call this method from backend-common's [`ServiceBuilderImpl`](https://github.com/backstage/backstage/blob/master/packages/backend-common/src/service/lib/ServiceBuild

[2021-05-17 20:04] OrkoHunter commented on #5109
Just to share my eureka moment of finding the reason for this bug -

This happens if I have added a SignInPage component with a single `provider` prop e.g.

[code]

If I replace this with multiple providers, I'm no longer able to reproduce the error. e.g.

[code]

My initial hunch is that there is a potential difference in implementation of [SingleSignInPage](https://github.com/backstage/backstage

[2021-05-17 20:05] andrewthauer commented on #5680
I see. This is very unfortunate. I'm wondering if this processor could just use the REST v3 API instead? Or would that require far to many API calls to collect all the relevant data and relationships?

[2021-05-17 20:08] Crevil commented on #5633
Actually I think I'm wrong in where the error originates. The error is `RangeError [ERR_SOCKET_BAD_PORT]: Port should be >= 0 and < 65536. Received NaN.`. The [`validatePort` function](https://github.com/nodejs/node/blob/cb2bdc632a802eed7ee8c5c9388811de73029602/lib/internal/validators.js#L202) has a `name` argument which defaults to `Port`, which is seen in the error as well. This means `validateP

[2021-05-17 20:12] #3541 closed

[2021-05-17 20:17] Crevil commented on #5633
The docker image run you provided looks like it has both github auth and some catalog bootstrap locations. Is the provided `app-config.yaml` a redacted version maybe? If such, can you provide us with the full version with any secret details omitted ofc.

[2021-05-17 20:18] freben commented on #5563
Thanks for your work! So you're saying we keep this issue open for now, until we get around to adding linting as well, right?

[2021-05-17 20:22] freben commented on #5680
That's what I am worried about - hence my suggestion to use some hybrid approach where graphql is used for the overall bulk, and then v3 comes in to fill in details only if necessary.

[2021-05-17 20:24] adamdmharvey commented on #5596
Thanks @gtzefrain ! Assigned to you.

[2021-05-17 20:26] freben commented on #5310
@gasandov If you don't hear back, maybe it would be sensible to add a basic `fields` argument to the client call and make a PR for it - I think a oneliner fix here may have a great impact

[2021-05-17 20:34] freben commented on #5310
@gasandov Oh strike that - 20 days ago a fields selector was actually added.

https://github.com/backstage/backstage/pull/5435

So what remains is to add pagination to the table itself. This should be doable fairly easily

https://github.com/backstage/backstage/blob/master/plugins/api-docs/src/components/ApiExplorerTable/ApiExplorerTable.tsx#L202

And there are other usages of that same Table comp

[2021-05-17 21:06] jrusso1020 commented on #5563
correct! @freben I might have some time to work on a PoC this week for the linting but also happy for someone else to give it a try if they get to it before me

[2021-05-17 21:12] reinoudk commented on #5680
The most straightforward method imho would be to re-query without the email field, as you suggested before @freben . I'd have to verify this tomorrow, but I don't think v3 will give the email when it is hidden either. Using the same API should make it easier to merge the results of the two requests.

The `GraphqlError` still contains the response data, so that should be usable. I have no clear-cut

[2021-05-17 22:26] Irma12 commented on #5698
Hi @HongliBu I think what you probably need to do is use **cardClassName** since that is targeting InfoCard content. So instead of having :

[code]
try

[code]
Hope it will work :)

[2021-05-18 03:11] HongliBu commented on #5698
Hi @Irma12 , it doesn't work.
By the way I changed the doCard to :
[code]
and it works,
but I still want to know if any other methods or suggestions??

[2021-05-18 04:33] suraj-zemoso commented on #5633
Sure. Here is the full version of `app-config.yml`
[code]

[2021-05-18 06:36] falconbin commented on #5109
@OrkoHunter , the sign page still show when refresh after login. I think we need to skip login page by checking if user has already login. Following code has been tested locally, could you review and try:
![image](https://user-images.githubusercontent.com/20329141/118603427-78ae9300-b7e6-11eb-8d39-3c041b6220ef.png)

[2021-05-18 06:51] freben commented on #5698
This should already [be addressed](https://github.com/backstage/backstage/pull/5583) in later versions of the `@backstage/theme` package. Could it be that you are on an older version?

The PR shows the most proper way of fixing this: by tackling the central MUI theme.

[2021-05-18 08:00] OrkoHunter commented on #5109
@falconbin Hey! I believe you mean that the sign-in page shows up for a split second on refresh, but disappears if the user is already logged in?

I think it's worth making an effort to address that as well - let me try out your proposal in the PR :)

[2021-05-18 08:33] falconbin commented on #5109
yes, exactly.

[2021-05-18 08:47] Xantier commented on #5344
We have started to do some initial work to add an external validation based on these schemas to see if the `catalog-info.yaml` files are valid and values are formatted properly. It is usable as a GitHub action in repo workflows if people want to start using it.

The flow is to simply run through providers and validators that @backstage/catalog-model exposes initially. The second step the validator

[2021-05-18 09:21] nadworny commented on #5657
thanks a lot @OrkoHunter , it helped but now it's failing during "Step 2" ;)

[code]

I'm fetching the project from Azure DevOps and it seems there is some problem with "unpacking" the `docs` dir?
This is how the repo looks like:
[code]

And the `mkdocs.yml`
[code]

Now, when the repo is fetched, this is how it looks inside the container:
[code]

Somehow all the directories are flattened but the t

[2021-05-18 09:24] nadworny commented on #5657
@OrkoHunter I just noticed you closed the issue - shall I open a new one?

[2021-05-18 09:25] OrkoHunter commented on #5109
Thanks for the suggestion @falconbin - updated the PR with it #5702 and it works well!

[2021-05-18 09:31] OrkoHunter commented on #5657
@nadworny Oh yeah - please create a new issue, thanks! Looks like a bug with the URL Reader that is downloading the tree from Azure DevOps. Please also add how the `backstage.io/techdocs-ref` metadata annotation looks like in the entity's `catalog-info.yaml`.

[2021-05-18 09:42] nadworny opened #5708 "URL reader for techdocs not working while pulling from the Azure DevOps"
## Expected Behavior

When clicking on the `READ DOCS` link that is generated using my simple example, the techdocs are properly displayed.

## Current Behavior
The following error appears in the logs after clicking on the `READ DOCS`:
[code]

I'm fetching the project from Azure DevOps and it seems there is some problem with "unpacking" the `docs` dir?
This is how the repo looks like:
[code]

And

[2021-05-18 09:52] nadworny opened #5712 "Generating techdocs from a provided example within docker container doesn't work"
## Expected Behavior

When clicking on the `READ DOCS` link that is generated using this [example](https://github.com/backstage/backstage/blob/master/plugins/techdocs-backend/examples/documented-component/catalog-info.yaml) in the `Documentation`, the techdocs are properly displayed.

## Current Behavior

[code]

Content from mentioned directorie `/tmp/backstage-rKimYx`
[code]

## Possible Solutio

[2021-05-18 12:22] TejasQ commented on #3167
Based on the last comment, I'm not entirely sure what's left to do here on this issue, but I'd still like to contribute. Could I ask for some clarification on the outstanding work to be done? Perhaps it's also just _closing the issue_ haha

[2021-05-18 12:31] TejasQ commented on #3256
So it seems that PR was closed. 😅

I'd like to take a stab at this. I believe the best way to achieve this goal is to have a _separate_ GitHub action that has a [single responsibility](https://en.wikipedia.org/wiki/Single-responsibility_principle) of formatting docs (and maybe _code_) because it would be easier to debug if/when it breaks, whereas including it in [`ci.yml`](https://github.com/backs

[2021-05-18 12:33] TejasQ commented on #3333
It seems the Azure DevOps PR (#3307) was also merged here! 🎉

What more is required to complete this issue?

[2021-05-18 12:53] TejasQ commented on #4627
Are we sure about the `good first issue` label here? As a newbie, I'm not entirely sure where to get started if I decide to pick this up. Which – I'd like to pick this up if possible. 😬

[2021-05-18 12:57] TejasQ commented on #4970
This issue is not immediately clear to me. 🤔

Seems we already have icons for core plugins?

https://github.com/backstage/backstage/blob/99dddfb61001ee823e717047fc3e9e9954a86b04/packages/core-api/src/icons/icons.tsx#L34-L47

Is the goal of this issue to confirm the choice of icons?

[2021-05-18 13:05] tragiclifestories commented on #4970
I think for a start everything listed under 'core features' in the docs should have one. Just because you get a lot of linking between them. It's not an urgent thing, I just found myself in need of an icon for catalog and found that there wasn't one; consistent look and feel is a good thing to have IMHO.

[2021-05-18 13:05] iamEAP opened #5716 "[Search] Initial Search Platform Release"
## Feature Suggestion

Once everything in the [Search v1 Milestone](https://github.com/backstage/backstage/milestone/26) is settled, we should ensure everyone who scaffolds a new Backstage app get the full benefit.

## Including
- [x] Rename/Refactor/Backwards Compatibility Stuff for `<Search*Next />` components (also `_alpha*` API methods)
- [x] Update documentation and milestones so that `v1 mil

[2021-05-18 13:13] rbideau commented on #3167
I didn't have time to update the doc and it seems someone already change the last reference in [Architecture overview](https://backstage.io/docs/overview/architecture-overview).

I think this can be closed.

[2021-05-18 13:16] freben commented on #3044
I wonder if it's covered by https://github.com/backstage/backstage/pull/5702 . The issue description claims that we don't use refresh tokens for this provider at all, but I haven't investigated whether that's the case.

[2021-05-18 13:22] freben commented on #3167
Seems alright now

[2021-05-18 13:22] #3167 closed

[2021-05-18 13:28] freben commented on #4627
It would be a kinda good learning exercise for understanding the catalog, I think! You have the two other "Org Data" sections in the docs (e.g. [here](https://backstage.io/docs/integrations/github/org)) to base it off of, and it's mostly about documenting the config options etc which requires you to learn a bit about how config propagates in backstage. Little things like that. I can help out if yo

[2021-05-18 13:30] freben commented on #3333
@OrkoHunter could you give this a look to see if we can close this or not?

[2021-05-18 14:16] timbonicus commented on #3044
The GitLab auth provider does set [disableRefresh: true](https://github.com/backstage/backstage/blob/master/plugins/auth-backend/src/providers/gitlab/provider.ts#L137) for OAuth, though I'm not sure why since the [passport-gitlab2](http://www.passportjs.org/packages/passport-gitlab2/) package says that refresh tokens are optionally supported 🤔

[2021-05-18 14:17] freben commented on #3044
@Rugvip do you remember?

[2021-05-18 14:22] nadworny opened #5718 "Software template / Cookiecutter - support for templates in context values"
I would like to be able to use the templates in context values from cookiecutter: https://cookiecutter.readthedocs.io/en/1.7.3/advanced/templates_in_context.html

Currently, if I provide something like this:
[code]
I'm getting the following error:
[code]

## Feature Suggestion
Support templates in context values

## Possible Implementation
1) I think the easiest solution would be to escape the val

[2021-05-18 14:23] OrkoHunter commented on #3333
Sure! TechDocs takes a "prepared" directory path (where the source code markdown files were cloned/downloaded) and runs `mkdocs build` on the path to generate the documentation site. This is currently being done in a new temporary directory over here

https://github.com/backstage/backstage/blob/99dddfb61001ee823e717047fc3e9e9954a86b04/plugins/techdocs-backend/src/DocsBuilder/builder.ts#L144-L157

[2021-05-18 14:28] dhenneke commented on #5718
The scaffolder uses handlebars to render the templates so you can use their [syntax to escape templates](https://handlebarsjs.com/guide/expressions.html#escaping-handlebars-expressions).

We use e.g. the following code to let cookiecutter derive the folder name from a java package:

[code]

[2021-05-18 14:33] OrkoHunter commented on #5712
[code]

Looks like your Docker container doesn't have plantuml installed. You can use the [`techdocs-container`](https://github.com/backstage/techdocs-container/blob/main/Dockerfile) to see how to install that. (I'd recommend installing everything that's in the techdocs-container)

[2021-05-18 14:37] OrkoHunter commented on #5708
Yeah, quite weird that the URL Reader flattens the tree after downloading the repository.

[2021-05-18 14:52] nadworny commented on #5718
@dhenneke you're the best! It worked.

[2021-05-18 14:52] #5718 closed

[2021-05-18 14:57] freben commented on #5336
Did you mean _removing_ that flag? 🤔  If it solves the accessibility, and doesn't introduce additional issues, then sure!

[2021-05-18 15:04] nadworny commented on #5718
@dhenneke a bit offtopic but were you able to exclude the hooks while generating the project?
I have something like this:
![image](https://user-images.githubusercontent.com/1425919/118675573-fc727a80-b7fa-11eb-92f1-ee5478f99755.png)

And unfortunately the `pre_gen_project.py` ends up in the generated project.

[2021-05-18 15:07] freben commented on #4816
Does scaffolding of _other_ templates work out for you, or is this specifically happening for that one template? The react one is in poor shape and a source of problems, that we should probably remove.

[2021-05-18 15:11] dhenneke commented on #5718
Yes. That's something I left out in the gist xD

The trick is that you point the template directly to the template folder and don't use the cookiecutter function that generates a new folder name. The scaffolder implementation does some special things to make it work and ignores the result folder either way (see [here](https://github.com/backstage/backstage/blob/a849802ab5e80a1f97ff21428b9de8fe220c

[2021-05-18 15:15] nadworny commented on #5718
haha I tried to do that before but of course without escaping it didn't work ;)

[2021-05-18 15:38] Rugvip commented on #3044
@freben The `disableRefresh: true` was part of the initial PR to add GitLab auth, so I would imagine it was copied from the GitHub implementation by mistake. Most likely isn't supposed to be there.

[2021-05-18 15:46] nadworny commented on #5718
@dhenneke hmm it doesn't seem to work with Azure DevOps. I'm getting:
[code]

As input I've tried both:
[code]
and
[code]

It might be an issue with the branch that I'm currently working in... Sometimes backstage behaves strangely while referencing not a main branch...

[2021-05-18 15:58] nadworny commented on #5718
This is the actual URL that exists:
`https://dev.azure.com/xxx/xxx/_git/template-nlp-comp?path=%2F%7B%7Bcookiecutter.project_slug%7D%7D&version=GBfeature%2Fbackstage&_a=contents`
vs non-existing one
`https://dev.azure.com/xxx/xxx/_git/template-nlp-comp?path=%2F%257B%257B%2520cookiecutter.project_slug%2520%257D%257D&version=GBfeature%2Fbackstage&_a=contents`

Some strange encoding happening...

[2021-05-18 15:58] dhenneke commented on #3746
Some updates about what we did in the past weeks. We focused on the "[...] running these jobs somewhere [...]" part of the problem and didn't touched the scaffolder task orchestration itself.

We opened up the `runContainer(…)` function in #5415 to be able to exchange it with something that is not plain Docker. We selected [Argo Workflows](https://argoproj.github.io/projects/argo/) as our executio

[2021-05-18 15:59] nadworny commented on #5718
@dhenneke could you please explain a bit `You could try to register it locally as a file location and see if the template is correct`. Do you mean something like this?
[code]

[2021-05-18 16:06] dhenneke commented on #5718
You can register the `template.yaml` from your `app-config.yaml` as e.g. done here: https://github.com/backstage/backstage/blob/a849802ab5e80a1f97ff21428b9de8fe220c85cf/app-config.yaml#L220-L222

The path is always relative to the folder of the backend. So when you have a directory structure like:
[code]

you can register it locally by adding it to the `app-config.yaml` and restarting the backend

[2021-05-18 16:10] nadworny commented on #5712
Thanks @OrkoHunter . I've tried to install plantuml in the default Dockerfile generated by `yarn backstage-cli backend:bundle `. This is how it looks:
[code]

Unfortunately, I'm getting now a different error:
[code]

Would you recommend using the techdocs-container as basis image and add node and yarn stuff to it? Maybe you have an example of such a Dockerfile?

[2021-05-18 16:14] timbonicus commented on #5584
@banshee86vr are you using a GitHub Apps configuration with `plugin-github-apps`? A similar issue was pinpointed with GitHub Apps configuration in Discord, wondering if it's the same here.

[2021-05-18 16:30] Rugvip commented on #3256
@TejasQ We could do that too, as long as we skip any formatting checks in the CI and master builds that the separate workflow is able to fix automatically, but of course skip no more than that.

[2021-05-18 17:50] tragiclifestories commented on #3746
Very nice. So are you running all the steps in one Argo workflow or generating a fresh one for each step? I guess doing the former would mean taking on the orchestration piece too ...

[2021-05-18 19:11] dhenneke commented on #3746
The latter. It really boils down to transforming the intent of wanting to run a container into creating a short-lived Argo workflow. This way we still make use of all the original scaffolder features. We haven't thought about transforming a full template into a workflow or just triggering an already defined more complex Argo workflow that only uses the input/output of the scaffolder. Which is also

[2021-05-18 19:17] jrusso1020 commented on #5535
thanks @freben @benjdlambert let me give that a try and see if it helps!

[2021-05-18 19:29] tragiclifestories commented on #3746
Yep, we've had things like that come up as well. But anyway, breaking out of the docker-in-docker problem is a massive step forward so kudos for that anuway! 🙌

[2021-05-18 19:32] freben commented on #3746
This is cool! My initial ideas on how this would work, was rather to make a little "worker SDK" that helped people make runners that could be deployed anywhere and in any manner they saw fit, that communicated with the central broker - rather than a central thing triggering work externally. This is an interesting take.

[2021-05-18 19:59] gasandov opened #5719 "Laggy on-page search on api-docs plugin"
API Explorer component is lagging while on-page search

## Expected Behavior

Interacting with the UI has a perceptibly immediate reaction indicating the action has been recognized (e.g a click should immediately trigger some form of feedback - in the case of the form field, it should show focus in 0.2 sec or less; typing should follow the natural speed of the typist)

## Current Behavior

1. Firs

[2021-05-18 21:28] jvilimek commented on #5692
Thanks. Unfortunatelly I am not much skilled in typescript. But I can ask among colleagues.

[2021-05-18 22:00] timbonicus commented on #5584
I unfortunately wasn't able to reproduce this, either in a new `@backstage/create-app` application or in the main repo. In both cases I used GitHub Apps authentication, and was running a built Docker image with `cookiecutter` installed locally as mentioned above.

The code only sends the `visibility` param when the owner is set to an organization, so I was careful to use an org as the owner. I cou

[2021-05-19 03:28] jrusso1020 commented on #5535
Update, I made the following change (also had it outside the `taskBroker.observe` which didn't seem to work)
<img width="1230" alt="Screen Shot 2021-05-18 at 11 23 09 PM" src="https://user-images.githubusercontent.com/7664106/118751841-05ca0a00-b830-11eb-9144-6ca20ae0bdc5.png">

But still got the error 😞 , the keep alive message also broke the FE but I assume that's because it wasn't in the expect

[2021-05-19 06:32] saptaswapal commented on #5696
Hi @OrkoHunter
I am new to this repository. Can I pick this issue to contribute to the project?

[2021-05-19 07:29] freben commented on #5696
@saptaswapal assigned!

[2021-05-19 08:04] benjdlambert commented on #5535
oof  - really though that would work. I still believe however it's something with skipper that is causing this. I wonder if there is some `maxConnectionLength` or something that's causing this to terminate. Are there any more logs skipper side?

[2021-05-19 08:15] ElliotMJackson opened #5725 "ESBuild fails to build in provided Dockerfile"
## Expected Behavior

The docker image should get built without any errors

## Current Behavior

When I run `docker image build -t backstage .` using the multistage dockerfile defined in the documentation from [here](https://backstage.io/docs/deployment/docker) after using `@backstage/create-app` I are running into the following errors:

[code]

this error is frustrating because it doesn't really

[2021-05-19 08:36] ElliotMJackson commented on #5725
after days of troubleshooting before raising this issue, i noticed my `.dockerignore` in the wrong directory and was not identified in dockers context. Issue resolved.

[2021-05-19 08:36] #5725 closed

[2021-05-19 08:38] OrkoHunter commented on #5712
IMO you shouldn't be using techdocs-container as a base image to deploy your Backstage app. Here is [an example Dockerfile](https://github.com/backstage/backstage/blob/master/contrib/docker/kubernetes-example-backend/Dockerfile) for the app which also installs TechDocs related stuff (but misses out plantuml).

Could you investigate the container to see if `plantuml` is available in the PATH? We co

[2021-05-19 08:57] dtuite commented on #4336
@vinayvinay we've created a validator for our own customers. You can find it here: https://github.com/RoadieHQ/backstage-entity-validator

We haven't tested it on a multi-entity YAML file yet tbh but it might work for your use case. It can do things like:

1. YAML syntax validation
2. Checking that required Backstage entity properties are in place
3. Checking that annotations are spelled correctly

[2021-05-19 09:00] dtuite commented on #4834
@jvilimek  We've created a validator library based on requests from Roadie customers. There's a plain NPM package, GitHub action and Circle CI Orb available. You can find it here: https://github.com/RoadieHQ/backstage-entity-validator

It has the following features so far:

1. YAML syntax validation
1. Checking that required Backstage entity properties are in place
2. Checking that annotations are

[2021-05-19 09:09] nadworny commented on #5712
This is what I get when executing plantuml:
[code]

[2021-05-19 09:29] Fox32 commented on #5719
The `useQueryParamState` hook is responsible for updating the history state so that you return back to the previous filter state when navigating between routes - so just removing it is not an option.

Actually I think the issue lies in the table component as modifying the state still rerenders too much of it. We could resolve this by building an own toolbar and doing the search on our own. In the

[2021-05-19 11:43] satrox28 commented on #3044
Any solution?. I tried to keep single provider only Gitlab, am experiencing the same issue after refreshing the page it asks to sign in again.

[2021-05-19 12:36] adamdmharvey commented on #5692
Tying into the proposed [Backstage search architecture](https://backstage.io/docs/features/search/architecture) is for sure a great idea, and it's already been proposed to support the concept of enhancing search items from plugins.  So seeing where the search team is where that, and building off on it for tech-radar specifically likely is the way to go!

It might be a bit far off, given Search API

[2021-05-19 16:18] banshee86vr commented on #5584
Thanks @timbonicus for your reply. So, probably I'm not doing something right during the building of the docker images. Please, could you share with me your procedure and your Dockerfiles?

[2021-05-19 16:20] ellisio commented on #5680
Just stumbled on this trying to setup a fresh `@backstage/create-app`. To replicate this issue, you can do the following:

1. Create a fresh app using `@backstage/create-app`.
2. Create a new GitHub organization for testing.
3. Run `yarn backstage-cli create-github-app`, using the organization name you just created.
4. Verify the app has `Contents -> Read-Only` and `Metadata -> Read-Only` selected

[2021-05-19 16:59] TejasQ commented on #4125
I shall create an ESLint plugin for backstage since we'll have more needs arise eventually. Already started. Here's what I have so far:

![image](https://user-images.githubusercontent.com/9947422/118853655-454a3200-b8d4-11eb-8895-1395e4d3583d.png)

[2021-05-19 17:55] ellisio commented on #5680
Following up with this. Our original issue was resolved by setting the following permissions on the GitHub App:

- `contents:read`
- `members:read`
- `metadata:read`

However, the OP's report is accurate. As soon as I made my email private again, the error came back. If your remove `email` from the `nodes` block of [this query](https://github.com/backstage/backstage/blob/c729b520bb992a292d6302d4b9

[2021-05-19 19:29] Rugvip commented on #4125
@TejasQ Tbh the core/core-api import rule isn't too necessary as they're both likely to be deprecated and replaced soon. The frontend/backend rule is interesting though, although first step is to figure out how we want to be identifying them in the first place :grin:

[2021-05-19 19:36] jmgrimes opened #5732 "Evaluate support for OpenSLO additions to Service Catalog"
Just had the OpenSLO spec fall onto my radar this afternoon, and found myself thinking that the ability to attach OpenSLO definitions to at least `Component`, `Resource`, and `System` objects would be interesting.

## Feature Suggestion

The OpenSLO spec defines two additional constructs which would be useful in these contexts.  These are "Service" and "SLO".  Service probably aligns most closely

[2021-05-19 19:36] jrusso1020 commented on #5535
After some further digging all signs point to skipper. Noticed it was printing out this error log after returning the early 200 response on the event stream `[APP]time="2021-05-19T19:24:31Z" level=error msg="error while copying the response stream: context canceled"` and googling that error led me to this issue https://github.com/zalando/skipper/issues/1041

This comment https://github.com/zalando

[2021-05-19 20:04] #4199 closed

[2021-05-19 20:21] freben commented on #5680
As a quick-fix, maybe we could (1) try the original query, and if it throws and the error message contains `Resource not accessible by integration`, (2) run the exact same query minus the email field and log a warning that hey, due to private emails, no user profiles will have an email

This lets one single private email affect everybody adversely, but at least the process finishes _at all_ and we

[2021-05-19 20:23] freben commented on #5535
Great find, thanks for letting us know!

[2021-05-19 20:49] jrusso1020 commented on #5535
@freben @benjdlambert going to close this issue now since https://github.com/backstage/backstage/pull/5562 was merged and this is a skipper issue not backstage issue!

[2021-05-19 20:49] #5535 closed

[2021-05-19 21:53] ellisio commented on #5680
@freben @reinoudk @timbonicus I have submitted a PR for discussion to resolve this. Linked above ^.

[2021-05-19 23:46] Amir-Abushanab commented on #4627
Hi folks, if @TejasQ hasn't been assigned to this and isn't already working on it, I'd appreciate if I could take a stab at it

[2021-05-19 23:53] Amir-Abushanab commented on #2256
Mind if I get assigned this one?

[2021-05-20 00:03] heatheralee commented on #5663
Hi @freben! Thanks so much for your response + clarifying that this won't be compatible with the way things work with currently. What you've outlined makes sense to me! I'll close out this ticket.

[2021-05-20 00:03] #5663 closed

[2021-05-20 03:25] adamdmharvey commented on #2256
@Amir-Abushanab Awesome! Excited to see what you come up with; assigned.

[2021-05-20 09:56] #2494 closed

[2021-05-20 10:02] tragiclifestories opened #5742 "Conditionally invoke steps in scaffolder templates"
## Feature Suggestion

Allow scaffolder templates to have steps that run or not based on whether

## Possible Implementation

Extend the template schema so that this works:

[code]

And then check in the task object when we're running the steps (don't think this code would work but you get the idea)

[code]

## Context

Something like this was proposed in the RFC: https://github.com/backstage/back

[2021-05-20 10:12] jhaals commented on #5680
Hi!

We did some testing and it appears that GitHubOrgReader works with private emails if the Github app has the required permissions. We created a PR with updated docs here https://github.com/backstage/backstage/pull/5743

Please give it a try to see if it works.

[2021-05-20 10:50] diegomarangoni opened #5744 "Diagram component using hardcoded default namespace"
[Here](https://github.com/backstage/backstage/blob/master/plugins/catalog/src/components/SystemDiagramCard/SystemDiagramCard.tsx#L160) you can see that the diagram component is using `default` namespace hardcoded.

## Expected Behavior

Go to the diagrams tab and see the system and the component linked together.

## Current Behavior

Go to the diagrams tab and see only the system itself.

## Possi

[2021-05-20 11:34] #5109 closed

[2021-05-20 13:04] reinoudk commented on #5680
@jhaals I've just checked our settings to verify this. The Organization permission for Members **is** set to read. When I toggle my email to be visible, the sync works. When I toggle it back to being private, the sync throws an error.

@ellisio nice! That would solve it for us I think, as we can do without the email address (for now). The only downside is that it is not handled automatically. It w

[2021-05-20 13:45] jamesrenaud opened #5751 "Environment Placeholders in GitHub Integration Cause Build Failures"
We're attempting to do an initial configuration of our Backstage deployment using the [Docker method](https://backstage.io/docs/deployment/docker) and including environment placeholders in the app-config.yaml for any sensitive config values.

We're running into an issue specifically around using the GitHub app created by the backstage CLI, when we replace the values of things like `clientSecret` `

[2021-05-20 13:56] HongliBu opened #5753 "Any reference for customize components in storybook?"
Hi I am using backstage storybook(https://backstage.io/storybook/). Sometimes I need to override some styles to fulfill my requirements. Often, this styles is deefined in material-ui and wrapped up in your components.

For example,
In you Table Component(https://backstage.io/storybook/?path=/story/data-display-table--default-table),  I want to use className to define some css styles, I want to use

[2021-05-20 14:14] TejasQ commented on #4125
Oh, lol I wish I knew this earlier. I will try to ask before I tackle issues in the future.

About the frontend/backend rule – is it documented somewhere which packages/plugins are frontend and which are backend?

[2021-05-20 14:35] benjdlambert commented on #5680
@reinoudk do you think you could create a test organisation where this happens?

We couldn't replicate this with the latest master, and when setting emails to private for our accounts it worked too. We just had to make sure that the permissions on the Github app were correct, and had been accepted by the owner.

We're pretty hesitant to merge this PR, as adding `options` to individual locations is

[2021-05-20 14:38] kuangp commented on #5440
Closed via #5578

[2021-05-20 14:38] #5440 closed

[2021-05-20 15:00] ellisio commented on #5680
@benjdlambert This still fails with the PR mentioning those permissions. We have the following permissions set and accepted by the organization's installed app:

- Repository -> Contents -> Read Only
- Repository -> Metadata -> Read Only
- Organization -> Members -> Read Only
- User -> Email Addresses -> Read Only

![image](https://user-images.githubusercontent.com/127468/119001794-8892b800-b949-1

[2021-05-20 15:20] TejasQ commented on #4292
@adamdmharvey would the above PR suffice to help in your use case, or would you require more by way of errors?

[2021-05-20 16:32] timbonicus commented on #5680
This got an official-ish [response from GitHub](https://github.community/t/api-v4-unable-to-retrieve-email-resource-not-accessible-by-integration/13831/4). Interestingly, someone replied that the behavior changed quite recently from returning a `null` email to throwing the error. 🙁  Unfortunate.

[2021-05-20 16:35] ellisio commented on #5680
Perhaps we go with the zero-config approach, with an information notice that links to a documentation page on Backstage that explains the behavior of why `email` is not present?

That documentation can reference that specific response from GitHub until there is a better solution?

[2021-05-20 17:11] timbonicus commented on #5584
Yep, this was my process:

1. `npx @backstage/create-app`
2. `yarn backstage-cli create-github-app <org>`
3. Set in `app-config.yaml`:

[code]

4. Updated Dockerfile to install cookiecutter as you mention. I did not separate the backend and frontend deployment, just for simplicity. In theory this shouldn't matter, since the task is backend-executed.

[code]

5. `yarn build-image`
6. `docker run -p

[2021-05-20 19:50] ezvp4 commented on #4812
For anyone who finds this thread because they're having a similar issue, what I decided to do was expose the asyncapi definition at a URI on my service (you can do this with a static file or a GET endpoint) and then point my catalog-info towards that. So here's the catalog-info:

`apiVersion: backstage.io/v1alpha1
kind: API
metadata:
  name: my-thing
  description: this is my project
spec:
  type:

[2021-05-20 22:44] grv-trip opened #5762 "Support object-array notation in APP_CONFIG environment variable overrides"
Allow APP_CONFIG notation to support object-array notation since it currently seems to support only a limited amount of things

## Feature Suggestion

As mentioned [here](https://backstage.io/docs/conf/writing), currently config overrides only support `.` based prefixes such as `app.baseUrl` however, if there are array values present, dynamic value overrides are not getting picked up.

Example of

[2021-05-21 07:57] dhruvkhanna38 commented on #4503
I would like to contribute to this issue if some help is needed.

[2021-05-21 08:18] mikkeschiren commented on #5682
Any ideas? Time for publishing goes between 20-45 minutes, and that seems really weird.

[2021-05-21 09:20] andrewthauer commented on #5680
I think the usefulness of email in the context of GH teams will be org specific and likely all or nothing. I am not a GH enterprise expert, but my guess is the cases where LDAP integration, etc is used would be the likely cases where it may be useful. If that is the case (which it may not be), then could there be a zero config way to detect a specific GH enterprise feature or setup first that indi

[2021-05-21 10:00] Rugvip commented on #3044
@satrox28 I'd expect the solution to be to remove the `disableRefresh: true` option, but there might be more to it. I believe the frontend is trying to refresh because from its point of view GitLab supports refresh

[2021-05-21 10:24] freben commented on #5680
I still think that just trying first with the email, detecting the specific error response and trying again without the email, is good enough :)

It's of course surprising and frustrating if a single user changing their privacy settings hurts everybody, but as long as we have clear messaging, it's better than never getting anything.

[2021-05-21 10:53] benjdlambert commented on #5680
After talking a little this morning and finally managing to replicate this we've restored the original functionality that if you're using a GitHub app we don't request the email as that is how the GitHub api is designed. Until we can process each user individually and make a single request for each user with a long refresh TTL (new catalog work) we're not convinced that getting flip flopping of so

[2021-05-21 11:32] freben commented on #5680
Oh but the entire query would fail, not a single page, so I don't think that behavior would be the case anyway.

[2021-05-21 12:27] jhaals commented on #5680
Here's the PR adding primitives to detect the token type and exclude email from the query if Github Apps is used https://github.com/backstage/backstage/pull/5769.

[2021-05-21 13:39] andrewthauer commented on #5751
Interesting. This is almost the exact setup we are using and it works fine. The only difference is the `privateKey` didn't work as an environment variable since it's a cert. So we use the `$file` placeholder that points to a physical secrets file.

[2021-05-21 14:44] jamesrenaud commented on #5751
This may have been a user error in where we were making the environment variables available within the `Dockerfile` so the variables were indeed `undefined` at that point in the process.

Seems we're a bit further along in getting this working, once I've got the service stood up again and I've confirmed it's working I'll post a full follow on in case anyone else runs into this issue.

[2021-05-21 17:38] suraj-zemoso commented on #5633
Any update for me ?
Did you got the root cause of the issue?

[2021-05-21 17:52] Rugvip commented on #5633
@suraj-zemoso I'd say it's tricky to continue without some more information. You probably want to troubleshoot it a bit yourself using the debugger or some logging, making sure that you see the values you expect and try to pinpoint where there error is coming from.

[2021-05-21 19:05] Crevil commented on #5448
I'd like to take a stab on this.

[2021-05-22 03:04] saptaswapal commented on #5696
Thank you @freben!

[2021-05-22 08:48] alexksbr commented on #4292
Coincidentally, I was playing around with a solution as well, which complements @TejasQ 's pull request quite well. I have not touched the existing `ErrorBoundary`, but instead switched to a `WarningPanel` within the Card instead of an error.

Maybe you can have a look at it as well, but I think it could be a good addition to PR #5755

[2021-05-22 15:34] #4809 closed

[2021-05-22 23:27] satrox28 commented on #3044
@Rugvip removing `disableRefresh:true`, didn't solve the issue. After removing it, am unable to authenticate via Gitlab, getting below error.

`Missing refresh token`

[2021-05-23 03:37] joebowbeerxealth opened #5781 "create-app fails in Node v14.17.0 and then fails to cleanup"
Using Node v14.17.0, I tried several times to run `npx @backstage/create-app` but each time resulted in a failure to install cypress, and then even though the script announced that it was cleaning up, the app folder was not removed.

Using Node v12.22.1, I was successful.

## Expected Behavior

Either app created or folder removed.

## Current Behavior

Failed to create app and failed to cleanup.

[2021-05-23 04:01] joebowbeer commented on #290
@Rugvip #366 is closed; is there something else this is waiting on?

[2021-05-23 16:32] #4901 closed

[2021-05-23 17:08] #5448 closed

[2021-05-23 18:13] erikxiv commented on #4527
#4542 together with adding a cookie from adopter code as outlined in https://github.com/backstage/backstage/blob/master/contrib/docs/tutorials/authenticate-api-requests.md works. Not sure whether this satisfies this issue, or if the issue should be kept open awaiting a solution in backstage core to address iit.

[2021-05-23 21:29] AG-Labs opened #5785 "Cant run on raspberry Pi"
I am trying to install on a Raspberry Pi following the instructions but cannot get it to work. I have tried both ubuntu and raspbian

## Expected Behavior

Should be able to run the backstage application on a Raspberry Pi
## Current Behavior

The install fails with the following error

## Possible Solution

Are there some prerequisites missing?

## Steps to Reproduce

1. Install Raspbian or Ubuntu

[2021-05-24 01:56] #2894 closed

[2021-05-24 06:08] freben commented on #5785
The message says it can't find python and suggests a remediation - could you try that and try again and see if it helps?

[2021-05-24 07:20] OrkoHunter commented on #4527
Yeah, great work there @erikxiv. 👏
@GoWind close it?

[2021-05-24 08:42] benjdlambert commented on #5682
So looking at the template @mikkeschiren looks like there a lot of files and a lot of data in the skeleton. The files that are templated are going to get pushed to version control, and I think it's around 60mb right now that's made up of thousands of files, I think that this could be down to the amount of log messages produced from the git publish step as it creates a log line for each item.

I wo

[2021-05-24 08:43] benjdlambert commented on #5682
Looks like we need to take a look at the performance of big templates either way, and see what's causing this.

[2021-05-24 08:44] freben commented on #4310
I'd say this is done, and is now just an ongoing improvement thing.

[2021-05-24 08:44] #4310 closed

[2021-05-24 11:54] iamEAP commented on #5345
I was diving into this a little bit recently...  And it looks like the simplest thing to do would be to pass in custom status check logic in `src/plugins/healthcheck.ts`, like so:

[code]

The problem is that the types of stuff we might want to check (like the TechDocs publisher instance) are instantiated elsewhere and we don't have access to them here.

So we may want some other way to more easil

[2021-05-24 15:16] iamEAP commented on #5502
Hey @adrianke77!  Thanks for opening this up.

I can confirm the implementation currently (internally) at Spotify is quite similar to this.  We side-step a lot of the complexities you highlighted by just stuffing the highlighted text into the issue template without specific reference to a line of code (just a quote with the highlighted text + reference to the markdown file):

![how-spotify-does-it

[2021-05-24 15:48] #4977 closed

[2021-05-24 15:48] #4992 closed

[2021-05-24 18:29] #5529 closed

[2021-05-24 19:10] iamEAP opened #5796 "[Search] Final V1 Milestone API Tweaks"
While building out [[Search v1.0] - Out-of-the-box Implementation](https://github.com/backstage/backstage/milestone/26), we encountered a couple of gaps in the API in the Search Indexing process that should be addressed before we consider the milestone closed.  These include...

### Collator Type
- [x] The `type` argument on `addCollator` should be deprecated or removed. Instead, it should be made

[2021-05-24 19:18] Rugvip commented on #5781
Not able to reproduce this on Big Sur with node `14.17.0`. I suspect it's due to Apple silicon support though, are you running on an M1 by any chance? Node backported support in 14.17.0, but cypress may not have released binaries yet, so it may be best to run with rosetta for a bit longer.

If you're not on an M1 we'd need some more information to troubleshoot, including the log output of the yarn

[2021-05-24 19:24] Rugvip commented on #5762
Thank you for the suggestion! We're quite hesitant to add this though. Would the following work for you instead?

[code]

Along with setting `MY_SUPPORT_TITLE` in env

[2021-05-24 19:35] Rugvip commented on #5680
Closing as this was fixed by https://github.com/backstage/backstage/pull/5769, which will be released on Thursday

[2021-05-24 19:35] #5680 closed

[2021-05-24 19:40] Rugvip commented on #290
@joebowbeer thanks, will close this as it's not specific enough. We should open tickets for individual AWS auth technologies if they are missing.

[2021-05-24 19:40] #290 closed

[2021-05-24 19:45] Rugvip commented on #4503
Are you working on this @susiecoleman or should we pass it on to @dhruvkhanna38?

[2021-05-24 19:47] iamEAP commented on #5345
Noting thoughts from @freben [in discord](https://discord.com/channels/687207715902193673/687207715902193679/846413223845822475):

...So I think we probably postpone this for now.

[2021-05-24 19:51] Rugvip commented on #4125
@TejasQ There's nothing that definitely tells you if it's a frontend or backend package. As mentioned on slack it's possible to check the extension of the `publishConfig.main` and `publishConfig.module` field in `package.json`, but that's not a completely reliable check either as it may change with custom build setups etc. It's probably best check we have for now though, and since the lint rule is

[2021-05-24 19:52] Rugvip commented on #3256
Perhaps we could give this a go but only apply it to the `ADOPTERS.md` file in the root to begin with?

[2021-05-24 19:53] Rugvip commented on #3044
Alright, needs a bit more work then. I guess you're on it @OrkoHunter? :grin:

[2021-05-24 19:55] Rugvip commented on #4834
I'd say the https://github.com/RoadieHQ/backstage-entity-validator covers an MVP. Alright to close this and create more specific issues for things we want to add?

[2021-05-24 19:56] Rugvip commented on #4627
@TejasQ, do you want this one or should we pass it on to @Amir-Abushanab?

[2021-05-24 20:02] Rugvip commented on #5742
Yep! We cut this from the scaffolder work to move on to the catalog, but it's definitely something we want. There's a bit of discussion around the syntax to be had, but perhaps we can start off with simply relying on the same handlebars templating, and then using something like `yn` to convert it to a boolean? Probably wanna call it just `if` too, similar to GitHub actions

[2021-05-24 20:04] Rugvip commented on #5753
Yep, the component library is lacking in this department. It's something we want to improve

[2021-05-24 20:29] rvandegrift opened #5800 "Edit button on documentation pages produces unacceptable PRs"
## Expected Behavior

If there's an Edit button on the docs, it should produce usable PRs that meet the repo's standards for acceptance.

## Current Behavior

I ran into some issues with the documentation page, so I clicked Edit to submit the changes.  The result was a PR missing a DCO statement - and so it couldn't be merged.  See https://github.com/backstage/backstage/pull/5798

[2021-05-24 21:10] AG-Labs commented on #5785
The python Env variable has been set in ~/.bashrc
Could my aliasing of it all to python3 have cause problems?
[code]

[2021-05-25 00:49] #5014 closed

[2021-05-25 03:57] remarcbalisi opened #5802 "Yarn Start Live Reload"
Every time I have changes, I had to re-serve the local server to be able to reflect the change.

[2021-05-25 08:45] jvilimek opened #5807 "Tech-radar support for CSV data source"
Now there is a simple way how to feed data from [tech-radar](https://github.com/backstage/backstage/tree/master/plugins/tech-radar) plugin via "getData" attribute. We did implement our own feeder that loads data from CSV. However when we tried to put the url in the configuration we hit the wall many times as there is no easy way, how to achieve this "out" of the component.

I have prepared an enha

[2021-05-25 08:55] jvilimek commented on #4834
Nice! That's basicaly what I was looking for! Will try asap.

[2021-05-25 08:57] jvilimek commented on #4834
Thanks a lot. I somehow missed this message. Will test it (in Azure DevOps) asap. Maybe I can help creating the extension but I guess simple use via npm would be just ok.

[2021-05-25 08:57] remarcbalisi commented on #5802
Yes modifying app-config.yaml and also when I change the logo in
app/src/components/Root/LogoFull.tsx and LogoIcon.tsx

I am running this under Ubuntu 20 WSL.

On Tue, May 25, 2021, 4:04 PM Patrik Oldsberg, ***@***.***>
wrote:

[2021-05-25 10:04] susiecoleman commented on #4503
@Rugvip I've not made much progress. Happy to pass it to @dhruvkhanna38

[2021-05-25 11:01] Rugvip commented on #4503
Alright, thanks, are you happy to take it on yourself @dhruvkhanna38?

[2021-05-25 14:33] OrkoHunter commented on #3044
Since I already created a branch - will find time this week 😄

[2021-05-25 14:33] yafanasiev commented on #5751
I hit the same issue. When using the multi-stage container build `yarn --cwd packages/backend backstage-cli backend:bundle --build-dependencies` gets executed, which will not tolerate missing environment variables. This was fixed in a [similar issue](https://github.com/backstage/backstage/issues/5520) for `app:build` command, I assume it should be added for `backend:bundle` as well.

[2021-05-25 17:35] andrewthauer commented on #5751
So it's the dockerfile then? We are using `backend:bundle`, but with a custom dockerfile. However, the base image is a multi stage image.

[2021-05-25 20:55] OrkoHunter commented on #5416
Sharing here for reference https://youtu.be/UZTVjv-AvZA?t=1787 - @soapraj's demo on the new Backstage homepage inside Spotify during the Backstage Community Session on May 19th!

(It was a call out during the meetup to share when the recording is up 😁 )

[2021-05-25 21:33] heatheralee opened #5812 "SearchPage - Make columns more generic + add additional fields to the query parameters"
## Feature Suggestion

Hi there! I was wondering if this would be helpful to others, as it would be helpful for our specific use case:
- We would like to be able to show the displayName for an entity within the SearchResults table. Currently, it only shows [these columns](https://github.com/backstage/backstage/blob/master/plugins/search/src/components/SearchResult/SearchResult.tsx#L61) but per the

[2021-05-25 21:40] heatheralee opened #5813 "Exporting more components related to the AboutCard"
## Feature Suggestion

Hi! We are currently looking at adding an additional icon to the `AboutCard`. Our current plan is to create a patch using [npm's patch-package](https://www.npmjs.com/package/patch-package) package that exports `AboutCardContent`, `AboutField`, `ScmIntegrationIcon`, and the utilities under `utils` from the `catalog` plugin. That way, we can make our own copy of the `AboutCard

[2021-05-25 23:38] rvandegrift opened #5815 "templates: RepoUrlPicker is magical, or docs are missing something"
I had a heck of a time getting backstage to create repos from my own template.  I'm finally up and running, though I wanted to offer some feedback on what tripped me up, and offer possible suggestions.  I'm not very confidant whether this bug report is about:
1. documentation gaps/issues
2. usability of Template v1beta1
3. terminological confusion
4. something else entirely

Hopefully this is clea

[2021-05-26 08:14] jvilimek commented on #5693
Please any update?

[2021-05-26 10:01] freben commented on #5344
Ongoing work that exposes entity validation from catalog-model https://github.com/backstage/backstage/pull/5811

[2021-05-26 10:02] Fox32 commented on #5742
I'm thinking about implementing this one and came across some things:

* Handlebars doesn't support any kind of expressions afaik, so a build in helper like `not` might be handy - or we need an `unless:` beside the `if:`.
* Handlebars has some [custom definition for `false`](https://handlebarsjs.com/guide/builtin-helpers.html#if), we could reuse this, use the JavaScript logic, or `yn` as @Rugvip s

[2021-05-26 10:11] freben commented on #4907
I believe the exported validator above will serve this purpose.

[2021-05-26 12:58] yafanasiev opened #5819 "Github Actions plugin fails to load jobs list"
## Expected Behavior

Should load the jobs list in the workflow view.

## Current Behavior

Job list is empty, request to Github API fails with 404.

## Possible Solution

Looks like request for jobs is made here: https://github.com/backstage/backstage/blob/ad3188cafd90b0627e0470c7ac437fbabe4a00c9/plugins/github-actions/src/components/WorkflowRunDetails/useWorkflowRunJobs.ts#L28
Since this is regu

[2021-05-26 15:51] #4292 closed

[2021-05-26 17:24] emmaindal commented on #5692
Hi @jvilimek and thanks for opening this issue. As mentioned above already, I think this makes a lot of sense, and I also agree with your additional idea in including tech radar results in the more "global" search results on the /search page.

So as @adamdmharvey mention, our Search V3 milestone is where this will be fully supported and prioritized based on our current roadmap. With that said, I w

[2021-05-26 21:24] Andrew-Wichmann commented on #5670
No, that's truly the path `mintel/everest/event-bus/events/` are all groups in gitlab `mintel-events-protobuf` is the repo.

[code]

Following that recent fix to this release commit, it appears we need to update to
`@backstage/plugin-scaffolder-backend@0.11.3`
and (maybe) `@backstage/plugin-shortcuts@0.1.3`
?

[2021-05-26 23:10] tradcliffe-expediagroup opened #5826 "Adding a sub menu option to the nav bar components"
## Feature Suggestion

At Expedia, we are looking to create a sub menu in the side navigation bar so we can group together similar plugins in the navigation. We wanted to see if the Backstage owners were interested in this being added to Storybook as part of the side navigation.

## Possible Implementation

Our initial thought to approach this for open source was to add a new component to Storyboo

[2021-05-27 03:59] timbonicus commented on #2923
Closed via #5643. This should no longer need customization, since that PR switches the tabs to a select list that loads all types registered in the catalog.

[2021-05-27 03:59] #2923 closed

[2021-05-27 08:24] Fox32 opened #5833 "Scaffolder: Hidden fields are not completely hidden"
## Expected Behavior

Fields hidden with `ui:widget: hidden` should be invisible.

## Current Behavior

Hidden fields are hidden, but the wrapping grid is still displayed with its padding and margin taking up space.

<img width="789" alt="Bildschirmfoto 2021-05-27 um 10 13 48" src="https://user-images.githubusercontent.com/648527/119790807-8219b880-bed4-11eb-9438-5efb47c1f1c6.png">

## Possible So

[2021-05-27 08:25] h17liner commented on #5781
Just check `npx @backstage/create-app` on M1. Looks everything ok.

macOS BigSur 11.3.1
❯ node --version
v14.17.0
❯ yarn --version
1.22.10

[code]

But i met another problem - couldnt build app:

[code]

[2021-05-27 08:30] Fox32 commented on #5833
This seems to be a known issue upstream https://github.com/rjsf-team/react-jsonschema-form/issues/1974

[2021-05-27 08:51] Rugvip commented on #5781
@h17liner thank you for checking it out, not quite sure what's up then : /

Regarding the error you saw it's triggered by the new TypeScript release, it's was fixed by https://github.com/backstage/backstage/pull/5822 which will be released in a few hours. For now it's possible to work around by pinning typescript to < 4.3

[2021-05-27 08:52] Rugvip commented on #5781
Regarding the original issue, I'd guess it was just flakiness in the cypress release download then, or perhaps something that's now fixed on their end. Alright to close this?

[2021-05-27 09:30] Fox32 commented on #5833
I created a PR upstream https://github.com/rjsf-team/react-jsonschema-form/pull/2405

[2021-05-27 10:56] regicsolutions commented on #3269
Idea on what this one could maybe look like would be to show a summary card similar to the SonarQube one like this - ![image](https://user-images.githubusercontent.com/6157895/119814634-9f408e00-beb8-11eb-8f64-1e44ab7641e1.jpeg)

[2021-05-27 11:08] GoWind opened #5834 "Make use of versioning for introducing major updates to Entity model."
PR https://github.com/backstage/backstage/pull/5787
introduced an addition to the Entity model namely the `status` field.

While this field might have  been a better fit as a value within `metadata` rather than as a top-level field,  my humble opinion is that updates to the core data model of Backstage/Catalog should be versioned.

The data model , IMHO should be platform agnostic. While code writ

[2021-05-27 11:14] shoukoo commented on #5781
@Rugvip I'm new to this project, how can I downgrade the typescript? I cannot find typescript in package.json at the root level.

[2021-05-27 11:24] freben commented on #2292
So the "read side" of this is now merged and about to be released as well. That is, entities can now contain a `status` root field that conveys the set of current statuses for the entity.

There's no "write side" in place for it, apart from the catalog's processing output landing there. So this issue is still relevant, if it should cover the ability to POST and/or processor-emit custom statuses.

[2021-05-27 11:24] andrewthauer commented on #3269
I kinda envisioned this plugin having 2 main parts. One being an overview card that can associate entity components to packages in nexus. The other being a top level explore/search page.

I'm not entirely sure the best way to associate components to packages though. An entity annotation could work for simple cases, but we have quite a few monorepo's that contain multiple smaller libraries. Automat

[2021-05-27 11:30] Rugvip commented on #5781
@shoukoo best way for doing a short-term override is often to use [Yarn resolutions](https://classic.yarnpkg.com/en/docs/selective-version-resolutions/). You'd add it to the root `package.json` and point it to the version you want. Other options are to add a normal dependency and then twiddle a bit with `yarn.lock` to make sure it's locked to the version you want, or to just modify `yarn.lock` wit

[2021-05-27 11:33] shoukoo commented on #5781
Thanks for the response, will give yarn resolutions a try.

[2021-05-27 12:00] ConnorDY opened #5836 "v2 template RepoUrlPicker dropdown not populated with options when frontend is built for production"
We're using a built and dockerized version of the Backstage frontend and noticed that one thing wasn't working with the prod version of the frontend. There is a `RepoUrlPicker` dropdown as part of a v2 template that isn't showing any options. We can see the option under the `GET` `/api/scaffolder/v2/templates/default/template/template-name/parameter-schema` request but the dropdown isn't populated

[2021-05-27 12:12] freben commented on #5834
Hi! I can definitely see the angle you're coming from. Let me offer a few counter points.

We're at a stage where we're effectively trying to settle what the `backstage.io/v1` version should be for all of the core kinds. In the pre-v1 stage we're a bit more liberal with changes; for example you'll see the pre-1 versioning of packages also using minor bumps for breaking changes that we're also bein

[2021-05-27 12:59] rchrd opened #5837 "Techdocs ignores branch on Azure DevOps"
## Expected Behavior

Specifying a branch on the `techdocs-ref` annotation builds the techdocs from that branch.

## Current Behavior

The specified branch is ignored and the main branch is used.

## Steps to Reproduce

Static configuration of the component in `app-config.yaml` (uses the correct branch):
[code]

In the `catalog-info.yaml`:
[code]

The checkout of the repo in the Docker container i

[2021-05-27 13:23] GoWind commented on #5834
I understand your points very well @freben .

**Top-level changes should be anchored to Entity versions, rather than as optional fields.**

`Entity` is possibly the most core object of Backstage and I do not expect it to change a lot. Therefore, it makes a LOT of sense to type its versions and fields as much as possible using something like the following:

Example:
[code]

### Why ?

1. The proble

[2021-05-27 13:31] GoWind commented on #5834
I am not too worried about `status` added to the root of an `Entity`, but rather my concern is that the change was done without an `apiVersion` bump.  I believe my suggestion to bump versions for significant changes have a lot of merit, even if the no. of changes are small and distributed over time.

[2021-05-27 14:19] taras opened #5840 "Improve debugging experience when stepping from app code into plugins"
There was a report from [OlindaSpider](https://discord.com/channels/687207715902193673/687207715902193679/833048139689754654) in Discord about challenges debugging the app.

## Expected Behavior

It should be easy for someone working on the Backstage frontend in their local instance of Backstage to step through their own code and into the code provided by plugins installed from NPM.

## Current Be

[2021-05-27 14:31] jhaals commented on #5781
Great, please re-open if you encounter the same issue again.

[2021-05-27 14:31] #5781 closed

[2021-05-27 14:46] jhaals commented on #4627
Seems like @TejasQ is busy with other things :) it's all yours @Amir-Abushanab

[2021-05-27 14:55] jhaals commented on #5785
Sounds from the error that node can't find python in the path, do you get the executable path to python by running `which python`?

[2021-05-27 16:27] taras commented on #2566
I'm looking at using [json-schema-to-openapi-schema](https://github.com/openapi-contrib/json-schema-to-openapi-schema) to convert at least a part of https://github.com/backstage/backstage/blob/master/packages/catalog-model/src/schema/kinds/API.v1alpha1.schema.json to YAML. From there, I'm going to try to create an OpenAPI spect that  includes the routes and references the generated files.

[2021-05-27 16:31] #5039 closed

[2021-05-27 16:42] freben commented on #2566
Nice. Yeah if we could reduce the duplication of defining the entity shape it'd be nice. But why API? I'd have expected Entity instead, since that's the actual return type. Unless you wanna get fancy and do oneOf each of the specific kinds, but the value of that is probably very limited especially since it won't account for custom kinds etc

[2021-05-27 16:46] taras commented on #2566
You're right. I referenced the wrong file. It was the last file opened in my tab instead of the proper file :) https://github.com/backstage/backstage/blob/master/packages/catalog-model/src/schema/Entity.schema.json is the right file.

[2021-05-27 19:16] OscarDHdz commented on #5620
Hi there!!
Wanted to know if you guys have an estimated date in which Alpha Templates will be completely deprecated???  In our Org we have quite a few alpha templates and we want be prepared for that (e.g. send communication to our people (template owners) about the migration).

[2021-05-27 20:24] taras commented on #2566
@freben I started creating a `@backstage/openapi` package. I'm going to put all of the generated YAML files in there. Does that sound alright?

[2021-05-27 21:24] grv-trip commented on #5762
Is this something already supported or it needs to be implemented? I have not given this a try, I can check

[2021-05-27 22:35] Rugvip commented on #5762
@grv-trip it's already supported

[2021-05-27 23:36] grv-trip commented on #5762
So I tried the following approaches (maybe I'm missing something, do let me know):

In the `app-config.yaml` file, in the root of create-react-app, I added:

[code]
and ran **yarn build** from the parent directory (After yarn install --> yarn tsc), I keep getting:

`Error: Configuration does not match schema
  Config should have required property 'title' { missingProperty=title } at /app/support/i

[2021-05-28 07:12] jhaals commented on #5807
Hi, would it be possible to supply some more context to the current problem you are having and why you've picked csv as the format for this data? CSV is not a particularly user friendly format for editing by hand compared to the configuration file.

[2021-05-28 07:29] Fox32 commented on #5807
While I don't think that CSV is a good choice, it would still be useful if there is a layer of abstraction between to configuration and the display component - Most Backstage plugins provide an API that you can override to configure your custom loading logic. That is missing here, but should be introduced. That way we don't have to add CSV support directly like suggested above. It could be done li

[2021-05-28 07:38] Fox32 commented on #5807
On the other hand, there already seems to be support for it, using a simple callback: https://github.com/backstage/backstage/discussions/5540#discussioncomment-750514

[2021-05-28 07:54] jhaals commented on #5802
`app-config.yaml` is not picked up automatically and a restart is required.

`.tsx` files should be picked up and reloaded automatically, is this happening for all .tsx files or just those two?
Changes are picked up on my Mac when I edit those tsx files but perhaps some friendly Windows user could help out verifying/testing this too.

[2021-05-28 08:11] jhaals commented on #5693
The issue is not picked up by anyone at this point. It would be fantastic if you would be willing to help the project by contributing a fix to this issue.

[2021-05-28 08:11] remarcbalisi commented on #5802
I think it is for all .tsx files. As I also change some in `/src/App.tsx` (adding microsoft provider) and I had to restart.

[2021-05-28 08:21] jhaals commented on #5800
This is unfortunately a process that don't work automatically in the GitHub UI and the best we can do is to provide documentation, the same issue occurs when accepting suggestions on a PR and is something that the user has to add manually in the UI or by amending the commit message later on.

<img width="1269" alt="Screenshot 2021-05-28 at 10 14 43" src="https://user-images.githubusercontent.com/6

[2021-05-28 08:29] jhaals commented on #5826
Hi @tradcliffe-expediagroup!

It would be great if you could expand this issue with some mockups and further context to get the discussions going as these UI changes tend to require quite a bit of discussions and iterations.

[2021-05-28 10:16] Fox32 opened #5848 "Make results of scaffolder more visible"
## Feature Suggestion

Right now, the result of the scaffolder are quite hidden and are limited to one external URL and one entity. I think, for the user the feedback that the job is completed is quite hidden.

![image](https://user-images.githubusercontent.com/648527/119967705-f162db80-bfac-11eb-8804-cb4d39b2c82f.png)

Actual, the "skipped" part is something I'm working on and not related to this

[2021-05-28 10:55] ConnorDY commented on #5836
We're using environment variables to set the configuration for the frontend via [inject-config.sh](https://github.com/backstage/backstage/blob/2b5b5b54fc9f925ba36cde0a12f3140cd57b163e/contrib/docker/frontend-with-nginx/docker/inject-config.sh).

The frontend `app-config.yaml` we use for building looks like this (but again, all of this is overriden via environment variables):
[code]

Our integratio

[2021-05-28 13:09] freben commented on #2566
Uh, I am not sure. @Rugvip @benjdlambert @jhaals any input on that?

Gut feeling says that the catalog API, for one, is a thing of its own and should go in the `@backstage/catalog-client` package with the other client functionality. And that an overall mega-api-definition for a backend, rather than individual plugins, might be of limited use.

[2021-05-28 13:11] freben commented on #2566
Regarding the linked ticket about refs, input is welcome. I have run into annoying situations where `ajv` and other consumers treat refs in (sometimes subtly) different ways. Some like paths, some like identifiers, ...

We could update the ref usage but it would have to fit at least ajv and openapi at the same time.

[2021-05-28 13:57] ryanvazquez commented on #5480
@sbrnunes Unfortunately not without modifying `EntityLayout`.

The initial approach seems to break down whenever there is a tight coupling between the parent component and child. The parent expects a direct child of a certain kind with specific props, doesn't find them/recognize the intermediary FeatureFlagged component, and fails.

This can be circumvented by modifying the parent to be feature fl

[2021-05-28 14:00] mrjerzy opened #5851 "apiBaseUrl is not considered in publish:bitbucket action in scaffolder-backend plugin"
I am referring to an issue, which is very similar to https://github.com/backstage/backstage/issues/5577. It is related to the scaffolder-backend plugin.

In our company, we are running a self-hosted Bitbucket repository. It can be accessed via https://code.mycompany.com/bitbucket/. Therefore the base path for APIs is at https://code.mycompany.com/bitbucket/rest/api/1.0/ (note the /bitbucket/ in th

[2021-05-28 14:15] jvilimek commented on #5807
Absolutely: my colleague already have already built a tech radar via a thoughworks, for details see [how-to-byor](https://www.thoughtworks.com/radar/how-to-byor). They are using **Google sheet** to define the tech radar with the sharing link to read it and then display it. So I have decided to use the very same data source (this google shared sheet) but I am a newbie in the typescript and the poss

[2021-05-28 14:25] jvilimek commented on #5807
Yes. That is exactly the callback I have tried to use initialy. And in fact in case you read from the CSV and if you have the url hardcoded in the function it works just fine. Complications started when we wanted to move the configuration of the url to the app-config.yaml so we do not have hardcoded urls...and maybe we can have different XLS for dev and live environment. then you realize you can h

[2021-05-28 14:28] jvilimek commented on #5693
Unfortunatelly my typescript/css skills are not great... I am more C# and backend oriented :-(

[2021-05-28 14:41] Fox32 commented on #5807
Yeah, you are right the `getData` callback doesn't play nicely whit other Backstage patterns at all... If I was an API, it would be easy to access the `configApi`...
I would suggest replacing `getData` with an API and provide a default implementation that reads from the config. Writing one that reads from a custom backend or directly from another source (e.g. CSV file in a bucket) would be easy th

[2021-05-28 14:53] jvilimek commented on #5807
So what do you suggest is to add API to tech-radar to load the data for frontend and in that API provide the possibility to replace the implementation to get data? I believe I can prepare something like this. It would be a bit worse in performance as I wanted to put the CSV on the CDN, on the other hand the architecture would be cleaner in a way...  another possible implementation would be to inst

[2021-05-28 15:27] jbolda commented on #5840
This was building on #5368 and #2785, and I believe we have it finally resolved in #5841.

[2021-05-28 17:14] Fox32 commented on #5807
Actually that shouldn't have a performance impact. With API I mean an interface in the frontend that an adopter can replace with an own implementation. See the example for the explore plugin linked above.

[2021-05-28 20:23] taras commented on #2566
I need to customize dereferencing to support identifiers. `json-schema-to-openapi-schema` also needs to be changed to support draft7. The rest of the conversion mechanism is quite simple so I might end up rewritinging the whole library.

Yeah, this doesn't seem great. I'm in doing this in part to see if I can use the OpenAPI spec to generate a frontend client. We also want to make sure that anytim

[2021-05-28 20:52] freben commented on #2566
Could it be useful to hand craft the api schema first, and add an integration test that builds a js client from the schema and performs calls against a running backend? :) That way we could at least reject the PR based on forgetting to update definitions - kinda like the api report stuff, one might say.

But yeah if you are far along towards solving schema generation from code, then sure that's ev

[2021-05-29 11:10] Crevil commented on #5541
We can close this as well as a fix has been released in #5778
@freben

[2021-05-29 12:02] freben commented on #5541
Ok!

[2021-05-29 12:02] #5541 closed

[2021-05-29 13:55] taras commented on #2566
That was my original plan, but I didn't know how to validate my hand crafted OpenAPI spec, that's why I went down the path of generating from schema file. I started researching how I could generate a client and I came across something that might be interesting.

Have you seen [Optic](https://useoptic.com)? It monitors test traffic to identify endpoints. It can [generate OpenAPI spec](https://useop

[2021-05-31 00:53] awanlin commented on #5708
@nadworny @OrkoHunter Pretty sure you are running into the issue I described over here: #4359

[2021-05-31 03:12] Ala0005 commented on #1774
i am trying to create an react webpage component and getting below error

![Capture](https://user-images.githubusercontent.com/83759429/120134603-1abd7a80-c1ec-11eb-82d0-ef4962988ff1.PNG)

[2021-05-31 05:56] Ala0005 commented on #1774
another error with other application.  Error: Unable to find a publisher for URL: https://github.com/XXXX/backstage.git. Please make sure to register this host under an integration in app-config

[2021-05-31 06:27] adrianke77 commented on #5712
I'm getting a similar error as that from @nadworny three messages above, `OSError: [Errno 8] Exec format error: 'plantuml'`

This is after adding the following lines from techdocs-container to my dockerfile:

[code]

[2021-05-31 09:09] dufcrule opened #5859 "tech-docs: document tocs are not clickable"
## Expected Behavior

The Table of Contents extension generates a Table of Contents from a Markdown document and adds it into the resulting HTML document. These tables of contents inside the documents should be clickable so the user can navigate the documentation.

## Current Behavior

The table of contents are generated from the Markdown, but they are not clickable. i.e. when you click on the tex

[2021-05-31 09:49] #5840 closed

[2021-05-31 14:02] acunniffe commented on #2566
👋 Optic maintainer here -- this seems really useful and I'm happy to help out @taras the community with some docs or guidelines for using Optic to document each plugin.

[2021-05-31 14:10] taras commented on #2566
@acunniffe 👋 I just got optic setup to start the backend and work as a proxy. It did exactly what I need it to - immediately.

<img width="1818" alt="image" src="https://user-images.githubusercontent.com/74687/120205800-5e1de600-c1f8-11eb-90f8-1b01a8a9b6f8.png">

[2021-05-31 14:46] benjdlambert commented on #5070
Hey @gowind, hopefully the work that @timbonicus did should help with your customization needs, you can find some docs here: https://backstage.io/docs/features/software-catalog/catalog-customization. If there's anything else thats missing maybe you can re-open this ticket? Otherwise are we good to close?

[2021-05-31 15:42] Rugvip commented on #5480
A possible approach would be to standardize the child element collection functions added in https://github.com/backstage/backstage/pull/5677. If the collection function(s) end up being provided by the core library, we can have it stop depth traversal if it encounters a `FeatureFlagged` element with a flag that isn't set. It's a pretty deep integration but could potentially be worth it

[2021-05-31 18:59] taras commented on #2566
@freben I want to make sure that I understand what would be beneficial at this stage. I'm going to describe some user stories that we want to be able to support.

1. As a developer building a portal with Backstage, I want to see the documentation for REST APIs provided by Backstage core.
2. As a contributor to a Backstage project, I want to verify that I did not change the implementation of a back

[2021-05-31 19:24] freben commented on #2566
The main use case I had in mind was

- As an engineer at our company, I want to make an integration with the Backstage catalog from other non-Backstage services written in other languages, and would like to automatically generate clients for it

This is a HUGE use case for us. The catalog powers, or at least informs, so much more than just Backstage itself.

And as a result of that, and to get a g

[2021-05-31 19:35] taras commented on #2566
I don't know either, but I want to figure out how to make it happen.

@freben how attached are you to the JSON Schema implementation that we have today? If there was another way to perform that validation, would you be open to it? I just want to understand what can be changed.

[2021-05-31 21:11] taras commented on #2566
I've been keeping my eye on https://github.com/aws/jsii/ for a while. This could be used to generate clients in different languages.

Ok, I'm thinking that the first step could be to write a few e2e tests that use the catalog-client to interact with the catalog backend. We can use these requests to verify payloads that are sent to the backend API. Then use a proxy to inject a verification mechanis

[2021-06-01 06:52] benjdlambert commented on #2180
#2243 is planned work for mammals coming up soon :)

[2021-06-01 06:54] benjdlambert commented on #4982
PR is in progress, @kuangp just hasn't had time to fix up the work yet. Removing the stale label :)

[2021-06-01 07:17] suraj-zemoso commented on #5633
We finally found the issue.

It's because of port conflicts.

We tried using the different port and the issue got resolved.

Thanks you so much for providing the valuable feedback on this issue and thanks for all suggestions which helped me to locate the bug and resolution.

I'm closing the bug now as it's no longer related to backstage configuration.

Thank you all

[2021-06-01 07:17] #5633 closed

[2021-06-01 07:38] benjdlambert commented on #5620
Hey @OscarDHdz - so the deprecation warnings were released 12 days ago, we have some docs for migrating here: https://backstage.io/docs/features/software-templates/migrating-from-v1alpha1-to-v1beta2 and will probably look to remove support for v1 in around 2 weeks I believe. Releases after that won't support the old v1alpha1 template syntax.

There's also this PR, which we will hope to ship this w

[2021-06-01 09:34] jhaals opened #5869 "TESTERS WANTED: Updated catalog processing engine"
The next iteration of the software catalog has been in development for the last few months and is reaching a state where we want to do some pre-testing before doing the switchover.

We are therefore asking daring catalog users to help us test the catalog before it becomes the new default.

## How Do I Get Started?

First of all, **do NOT run against your production database**. The bootstrap locati

[2021-06-01 11:32] #4198 closed

[2021-06-01 12:15] GoWind commented on #5070
Hi @benjdlambert  : Thanks a lot !
 I will check with my team to see if it suits us (I am mostly the backend guy :sweat_smile: ), if not re-open  the ticket . You  can close this if you'd like.

[2021-06-01 12:17] benjdlambert commented on #5070
Perfect - thanks!

[2021-06-01 12:17] #5070 closed

[2021-06-01 12:26] benjdlambert commented on #5762
@grv-trip is this something than be closed now?

[2021-06-01 12:28] benjdlambert commented on #5813
@heatheralee yep I think you can go ahead and make a PR to export these components, What other changes were yout thinking about making configurable? We'd ideally like to make them as configurable as possible and avoid having to use the `npm-patch-package` thing. :)

[2021-06-01 12:53] #5067 closed

[2021-06-01 14:05] #5140 closed

[2021-06-01 14:10] benjdlambert commented on #5819
Looks like this plugin will need to use the `githubAuthApiRef` to grab the signed in users token and use that to make a request.

Is this something you want to contribute @yafanasiev?

[2021-06-01 14:13] OscarDHdz commented on #5620
@benjdlambert Thanks!!! That's exactly what we wanted to know. 😃

[2021-06-01 14:53] benjdlambert commented on #5836
@ConnorDY yes, you'll need them in your frontend config too as some of the values are passed to the frontend. By some I mean most of it but without the `token` or anything secure.

[2021-06-01 14:54] benjdlambert commented on #5848
@katz95 do you think you could take a look at this and have any input on how we can make this flow a little nicer from a UX POV :)

[2021-06-01 14:55] ConnorDY commented on #5836
Is this something y'all could document better?

[2021-06-01 14:56] benjdlambert commented on #5851
@mrjerzy is this something you want to contribute? 👍

[2021-06-01 16:26] #4325 closed

[2021-06-01 18:27] #5836 closed

[2021-06-01 18:27] Rugvip commented on #5836
Closed by the merge of #5873, let us know if you have any other concerns!

[2021-06-01 19:23] #5099 closed

[2021-06-01 19:23] #5119 closed

[2021-06-01 20:30] tradcliffe-expediagroup commented on #5826
@jhaals
I have submitted a ticket with our UX team today and will get the UI mockups to you when they are ready. Thank you very much!

[2021-06-02 08:54] benjdlambert opened #5883 "Documentation for built in `ui:fields` for Scaffolder"
## Feature Suggestion
Document the provided built in `ui:fields` for the schema form with corresponding `parameters` yaml examples.

`OwnerPicker` `RepoUrlPicker` `EntityPicker`. And their props which can be used with `ui:options`.

Some sample usages would be good.

[2021-06-02 10:55] mrjerzy commented on #5851
Unfortunately my Typescript skills will not allow it.

[2021-06-02 11:04] madtrick opened #5886 "Catalog `metadata.name` validation contradicts documentation"
## Expected Behavior

After reading the [catalog file format documentation](https://github.com/backstage/backstage/blob/master/docs/architecture-decisions/adr002-default-catalog-file-format.md) I thought that I could set different validation rules for the `metada.name` property. As per the docs:

From https://github.com/backstage/backstage/blob/master/docs/architecture-decisions/adr002-default-cat

[2021-06-02 12:07] djamaile commented on #5819
If @yafanasiev doesn't want to do it, I can pick it up

[2021-06-02 13:02] yafanasiev commented on #5819
I could take a look later this week. I am not that good with JS, but I will do my best :grin:

[2021-06-02 13:27] benjdlambert commented on #5886
@madtrick yep you're right we should probably update the docs for this, as we need to make sure that the name fits certain criteria that is not allowed to be overridden.

It looks however that you're trying to do namespacing in the name, which you can achieve by using the `metadata.namespace` property but not sure if that helps at all?

[code]

[2021-06-02 13:52] jrusso1020 opened #5888 "[Scaffolder] Allow configurable number of workers for the scaffolder"
## Feature Suggestion
Right now there is only 1 worker for the scaffolder by default. This means if you have one backend running you can only allow one user to scaffold at a time.

If we allow for a configurable number of workers we can allow the scaffolder to scale up a bit and allow for multiple taskworkers at the same time

## Possible Implementation
Maybe a config option to the createRouter fu

[2021-06-02 13:59] madtrick commented on #5886
Thanks @benjdlambert . Guess we can close this for now :)

[2021-06-02 13:59] #5886 closed

[2021-06-02 14:35] TejasQ commented on #3256
Nice! I will take this!

[2021-06-02 15:42] benjdlambert commented on #5807
Hey :wave: So i've been hacking a little on making the `TechRadar` a little more flexible on how you load data.

It's not yet finished as I need to write some documentation, but in theory you can create your own `class` which implements `TechRadarApi` with a `load` method that should return the correct JSON object, and how you build that JSON object is entirely up to you. So you can read a CSV URL

[2021-06-02 15:56] jrusso1020 commented on #5888
#5889 fixed this

[2021-06-02 15:56] #5888 closed

[2021-06-02 16:03] emmaindal commented on #5712
Hey @adrianke77 re-opening this issue again. Just a follow-up question, are you able to run the techdocs-container and get it to successfully work? and this error happens when you add the plantuml related commans to your own dockerfile?

[2021-06-02 16:22] nadworny commented on #5712
@emmaindal you mean if I take the dockerfile for techdocs referenced by @OrkoHunter if the techdocs generation works locally? I haven't tried that...

[2021-06-02 16:41] grv-trip commented on #5762
@benjdlambert and @Rugvip  Thanks for your help guys. I redid my current setup and got it working via the `${env}` way.

This can be closed now but would be curious to know the reasoning behind supporting `.` notations but not able to support object-array notations. Is this a breaking change in the data model?

[2021-06-02 17:33] n2ygk commented on #5869
Saw this FK constraint violation. My version of backstage is essentially the demo app (do a `git pull master` and merge onto my branch containing api-config.local.yaml ).
[code]

[2021-06-02 17:36] Rugvip commented on #4872
Closing this as the split was merged in #5825. Migration docs and recommendations will be up once we've been able to play around with the new packages in the main repo.

[2021-06-02 17:36] #4872 closed

[2021-06-02 17:43] emmaindal commented on #5712
yes @nadworny, just trying to investigate in what is missing compared with the Dockerfile in our techdocs container (which is working for me)

[2021-06-02 18:20] freben commented on #5869
@n2ygk Oh this is when it already contained some data beforehand right? We'd better remove that constraint before deleting the so called `bootstrap` location. Thanks for reporting!

[2021-06-02 19:06] freben commented on #5869
Chose to empty the entities table instead; this is safer in a rollback scenario, since it would just be repopulated at next startup.

[2021-06-02 20:27] jhaals commented on #5869
Thanks for testing @n2ygk!

@freben I did some tests this afternoon and I think we should keep the bootstrap location in order to easily roll between catalogs. It seems to work well in my tests.

[2021-06-02 21:18] alzafacon commented on #2876
My team is interested in getting this feature (showing entity refresh errors) closer to done. Is there a small part of this I could work on? I'm struggling to figure out what has already been done and what is left to work on.

[2021-06-02 22:04] freben commented on #2876
Hey @alzafacon - this is actually being actively worked on right now by the maintainers!

[2021-06-03 04:01] adrianke77 commented on #5712
i take it running in backstage default uses `techdocs-container`? that seem to run the plantuml builds fine for me. I'm a little confused as i've pretty much copied the installs and setup from `techdocs-container` to our docker container and it's unclear why there's `Exec format error: 'plantuml' ` in the docker container case.

[2021-06-03 04:25] adrianke77 commented on #5712
the dockerfile for our development container, in case it's a useful reference
[code]

[2021-06-03 08:23] adrianke77 commented on #4781
Hi @rodmachen, would like to gently inquire is work is ongoing for this issue? As we're looking forward to it at our side (Grab)

[2021-06-03 13:18] rodmachen commented on #4781
@adrianke77 #4568 needs to be done first, and we're in conversations about that work.

[2021-06-03 16:23] #5762 closed

[2021-06-03 18:49] kuangp commented on #4123
I want to report a similar limitation when trying to use [MathJax](https://www.mathjax.org/) with the [python-markdown-math](https://github.com/mitya57/python-markdown-math) extension. I am able to include the necessary scripts as part of the Backstage frontend but MathJax inserts special `<script type="math/tex">` tags into the docs to render its math statements. It looks like Techdocs sanitizes

[2021-06-03 19:14] kuangp opened #5905 "[TechDocs] Support a hybrid builder setup"
## Feature Suggestion

We want to suggest support for a `builder: 'hybrid'` setup where Techdocs will do a `local` build & publish by default but treat some docs as `external` if they are built & published by an external process.

## Possible Implementation
Possibly a a Techdocs annotation in the entity file that flags whether the entity docs should be treated as local or external built
## Context

[2021-06-03 20:14] OrkoHunter commented on #5905
Very interesting, and thanks for suggesting the usecase!

Adding my 2 cents here. I can imagine this scenario by having a default setup (either `techdocs.builder` is `local` or `external`) with "exception" entities who would like techdocs-backend to do things the other way.

**Option 1:** Set `techdocs.builder` to `local`, so that techdocs-backend tries to trigger the Docs Builder process which ch

[2021-06-03 21:29] kuangp opened #5907 "[TechDocs] Docs return 404 on first render with local builder"
## Expected Behavior

When a doc is built for the first time, it should render successfully after the backend finishes building.

## Current Behavior

After the building, request for the newly built docs results in a 404. Refreshing the page afterward loads the docs correctly.

## Possible Solution

Not sure, see context below.

## Steps to Reproduce

1. Configure Techdocs with `builder: 'local'`

[2021-06-04 04:23] djamaile commented on #5851
I would like to pick this up

[2021-06-04 06:54] althafh opened #5912 "@items.visibility throws errors in config schema file"
## Expected Behavior

Previously our plugin had a config.d.ts file as below

[code]
This worked fine but updating to release-2021-05-27 seems to break the validation with following error

[code]

## Possible Solution
Based on @freben's suggestion on discord this patch might need to be extended to items.visibility as well
https://github.com/backstage/backstage/commit/438a512ebb91228b53d591cca890097

[2021-06-04 07:30] OrkoHunter commented on #5907
This could be due to Async build behavior. The default experience is first load the docs from the storage and then figure out whether it needs update or re-build. This for sure affects the user when they are loading a site for the very first time, which should be addressed. :)

[2021-06-04 07:39] benjdlambert commented on #5851
Assigned! Go for it 👍

[2021-06-04 07:41] emmaindal opened #5913 "[RFC] add Documentation kind as a core kind"
**Status:** Open for comments

## Need

It is currently not clear for adopters of Backstage, and the TechDocs plugin, how documentation fits into the software catalog model. This stems from the fact that TechDocs encourages a “docs-like-code” philosophy (whereby documentation lives in the same repository as the software it documents), but in practice, TechDocs gets used in scenarios where “docs-li

[2021-06-04 07:50] soapraj commented on #5907
If this is due to the async build behavior would a better message in the UI (than a 404) work? Like showing "docs are currently being built. please check back in a few mins"?

or do we want to fix the behavior where we make the FE wait for the docs build and publish to finish?

cc @ottosichert

[2021-06-04 09:10] Rugvip commented on #5913
Thank you for writing this up in an RFC!

Want to clarify some stuff quick for continued discussion. The first is that `catalog-info.yaml` files can actually contain multiple entity definitions, so there isn't necessarily a requirement for extra registration with the manual approach, you'd do something like this:

[code]

Another thing is that imo we do want to keep the catalog model as implementa

[2021-06-04 09:19] Rugvip commented on #5913
On the discussion side I'm not quite fully understanding the naming clash concern. I'd think that you want to keep the documentation as close to the entity as possible, and that any case where the documentation isn't tied to an individual entity it's easy to find a unique name for it, thinking golden paths etc.

When it comes to naming clashes between systems and documentation I think we should ha

[2021-06-04 09:30] mbruggmann commented on #5913
One alternative that I'm missing is to not track techdocs sites as entities in the catalog at all. Instead, techdocs could index sites by the path in source. So if your docs are in `github.com/org/repo/path/to/docs`, it could host the generated docs on `backstage.io/docs/org/repo/path/to/docs` or something like that. And then from the catalog we'd reference it by URL, like:
[code]

But it probably

[2021-06-04 11:17] goober opened #5918 "[Scaffolder] removes executable permission on unzipped files"
## Current behaviour
We have a cookiecutter template with gradle wrapper executables `gradlew` and `gradlew.bat`. They are marked as executables in our repository and if we download the repository archive as a zip and extract it manually the executable permission is there. However, when we run through Backstage and the scaffolder the resulting generated repository contains the expected files, but

[2021-06-04 11:25] freben opened #5919 "[Scaffolder] [Meta issue] Templating engine improvements"
Covers some improvements to the templating engines in scaffolder to make non-Node.js dependencies optional (e.g. Python, cookiecutter) and to standardize templating syntax across Software Templates.

- [x] #6285
- [x] #6286
- [x] https://github.com/backstage/backstage/issues/6437
- [x] https://github.com/backstage/backstage/issues/6415

## Context

[Software Templates](https://backstage.io/docs/fe

[2021-06-04 11:33] Rugvip commented on #5913
@mbruggmann it should be an alternative for some cases at least. It's a bit tricky to do that for the default TechDocs setup though, as the annotation on the entity is what causes the documentation to be built in the first place. We'd need to rework it to be more convention based in that case I guess.

[2021-06-04 11:35] emmaindal commented on #5913
Those are great insights, thank you for clarifying that. So its not additional files but could still mean additional configuration!

[2021-06-04 11:45] emmaindal commented on #5913
Happy you brought this up. This was something we left out of the RFC as we, from a TechDocs perspective are very careful with  bringing other types of documentation in too Backstage and TechDocs as we have seen the success of being opinionated about one tool to use for technical documentation. I can see what you are saying with Documentation kind not knowing too much about TechDocs and that its th

[2021-06-04 12:08] freben commented on #5912
Would you like to be assigned and give it a shot? It'd be great if you could, since you already have the error repro present

[2021-06-04 12:52] freben commented on #5918
I see you already addressed this, assigned nonetheless for completeness :)

[2021-06-04 12:52] goober commented on #5919
Have you looked at the possibilities to support [yeoman](https://yeoman.io/) as the default scaffolder engine? Since it is a node based tool it could be a good fit.

[2021-06-04 12:55] freben commented on #5919
That is indeed a fine engine. I think we'll not have a default one though, per se - the endgame is to support a wide variety of template engines without any particular preference. We just got started with cookiecutter (we use that one a lot internally), and people who use that should be able to get going with as little friction as possible.

[2021-06-04 13:08] #4445 closed

[2021-06-04 13:08] #4446 closed

[2021-06-04 13:08] #5796 closed

[2021-06-04 13:22] tkrop opened #5921 "Enforce pagination on catalog entity requests"
Pagination is an important goals to reach two goals:

1. Protect a service against overload.
2. Improve user experience on requests.

Currently, pagination on catalog entities (implemented in https://github.com/backstage/backstage/pull/4993) is optional targeting the 2nd goal. However, this strategy imposes the risk, that plugin contributors accidentally implement request that overload the backsta

[2021-06-04 13:28] freben commented on #5921
I'd be up for making the backend have a `maxPageSize?: number` config parameter.

From the caller side, the `catalog-client` could use forced pagination internally with a fixed but fairly large page size, for naked `entities()` calls, if we wanted to make it harder to make unintentional mistakes.

[2021-06-04 13:43] tkrop commented on #5921
Sounds like an alias for `defaultLimit`, so I expect it will solve the same problem - if there is a way to set it practically to unlimited for backward compatibility.

@freben by the way, may be you like to have a look on our API guideline, how we implement pagination in Zalando usually?

Regarding `catalog-client`: I would take the term protection against overload here very serious. We trust our

[2021-06-04 14:00] #3817 closed

[2021-06-04 14:03] rafaveira3 opened #5923 "FOSSA plugin metrics not being properly delivered"
## Expected Behavior

FOSSA tool is able to identify 3 types of issues in a particular repository (Licensing, Security, and Quality) as shown below:

![image](https://user-images.githubusercontent.com/8943477/120810922-da2e6b80-c521-11eb-81a5-3060c2067d29.png)

It would be great if we deliver all of them in our plugin similar to this:

![image](https://user-images.githubusercontent.com/8943477/120

[2021-06-04 18:57] heatheralee commented on #5813
Awesome, thank you @benjdlambert! I'll take a look at making these changes and think about ways to make some of these components more configurable. :)

[2021-06-04 21:00] heatheralee commented on #5813
Just created a PR for exporting some of these components! I'm still thinking about ways to export the viewInSource, viewInTechDocs, and viewApi logic so that it might eventually be possible to go and configure the `AboutCard` directly rather than creating a custom one. I can follow up in another PR for that. Thanks in advance!

[2021-06-04 22:50] heatheralee opened #5930 "[RFC] Customizable user profiles and groups"
**Status:** Open for comments

## Need

We would like to be able to offer customizations to the user profile page so that users can author content about themselves. This is an RFC to address the issue I opened here: https://github.com/backstage/backstage/issues/5382

Here is an example of what this might look like:
<img width="1393" alt="Screen Shot 2021-06-04 at 2 48 04 PM" src="https://user-imag

[2021-06-04 22:52] heatheralee commented on #5382
Hi @timbonicus! I wrote an RFC to discuss this in a bit more detail: https://github.com/backstage/backstage/issues/5930. Would love to get your thoughts when you get the chance!

[2021-06-04 23:10] heatheralee opened #5931 "[RFC] Bravos for users"
**Status:** Open for comments

## Need

**Note**: This ties very closely to an existing RFC: https://github.com/backstage/backstage/issues/5930 for user profiles.

We would like to be able to create a plugin that allows users to give each other a "Bravo." A "Bravo" is essentially a way for employees within an organization to publicly give each other compliments. We would like for this to reside wi

[2021-06-05 00:05] alzafacon opened #5932 "Proxy is not rewriting paths correctly"
## Expected Behavior

Given the following proxy config
[code]
calling http://localhost:7000/api/proxy/sample should proxy the request to http://localhost:7000/api/scaffolder

## Current Behavior

calling http://localhost:7000/api/proxy/sample proxies the request to http://localhost:7000/api/scaffolder/api/proxy/sample

[code]
## Possible Solution

## Steps to Reproduce

1. add proxy config as abov

[2021-06-05 05:24] #5932 closed

[2021-06-05 21:10] andrewthauer commented on #5919
https://plopjs.com/ is another possible option.

[2021-06-05 21:26] andrewthauer commented on #5931
Something like this seems like it could benefit from integration with a 3rd party employee recognition service/software that an organization might be using for bravos, kudus etc. There could be a custom backend for those that don't have a system, but would be nice if the backend could be customized to integrate with something pre-existing within an org.

[2021-06-06 15:44] #5166 closed

[2021-06-06 19:24] AG-Labs commented on #5785
when I run which python I get nothing
I guess I overestimated the ability of aliasing it to python3, ill sort this first.

[2021-06-06 21:48] sbrnunes commented on #3935
Hi @Rugvip , any chances of having #4532 merged soon? Came across this issue when fighting a similar concern (restricting the access to selected hosted domains from Google).

[2021-06-06 22:50] #5085 closed

[2021-06-07 07:16] OrkoHunter commented on #3044
@satrox28 Based on our Discord chat, wondering if you're still up for working on this and if I should assign this to you? Happy to support nevertheless. 🙂

[2021-06-07 08:40] ottosichert commented on #5907
I would argue having an async loader is an even better UX than displaying a message. I'll look into the [change](https://github.com/backstage/backstage/pull/4968/files#diff-121ce34220bee701278bf3be1b7bc9adfa2b9220e5870119563014014cce82fbL196) mentioned above and see if it's a straightforward fix!

[2021-06-07 08:46] dhenneke commented on #5923
There seem to be different FOSSA subscriptions with different feature sets. We, for example, only use the licensing part so it would be nice if one could enable/disable the other features. I'm not sure if the API responses contains info about which features are available for which project.

[2021-06-07 09:44] satrox28 commented on #3044
@OrkoHunter I didn't get to check on it had modified my auth to Google where I don't see the issue.

[2021-06-07 09:46] feedmypixel opened #5942 "Auth refresh request failed, Unauthorized"
**TL;DR** When a logged in user does not browse the app for a while and they then try to browse again they are greeted with the error `401 Error: Auth refresh request failed, Unauthorized`. Our `/api` calls are behind auth so this means a user needs to log in again to browse the application when they haven't browsed it for a while.

## Expected Behavior

When a user:
- Has previously logged in to

[2021-06-07 11:13] Fox32 opened #5943 "Search: `DefaultCatalogCollator` should index `spec.profile` section in group and user entities"
## Feature Suggestion

`DefaultCatalogCollator` is only designed for entities of kind Component. It would be neat to support other build in entity kinds too.

Users and groups have a `displayName` field in `spec.profile`. It is important to index this field too, otherwise it's hard to search for users by their name. For example, Backstage comes with the test user `Calum Leavy`, which you can't fin

[2021-06-07 12:06] freben commented on #5943
@backstage/techdocs-core

[2021-06-07 12:19] freben commented on #5912
@Rugvip

[2021-06-07 12:49] freben commented on #2834
Sounds good! There was a lot of valuable discussion here though, and I think it helped crystallize some plans for the future evolution of things

[2021-06-07 12:49] #2834 closed

[2021-06-07 13:22] #5819 closed

[2021-06-07 13:30] emmaindal commented on #5943
Thank you for opening this issue @Fox32!

[2021-06-07 13:36] freben commented on #5931
Adding on to what @andrewthauer said, this sounds like an absolutely wonderful feature to run on a Backstage instance, but the question is whether it should be "in" the core as such.

So what I mean with that is, if there is a good system in place where recognition is already recorded - as in, what your score is on an internal stack overflow, what your number of followers is on GitHub Enterprise o

[2021-06-07 13:38] kuangp commented on #5215
This issue is still relevant for us

[2021-06-07 15:35] Fox32 commented on #5943
I wonder what your thoughts on this is. Is this special, or something we should support out of the box? Is it a separate collator with a separate document type, and a custom `<CatalogResultListItem>`? I could imaging that the `<CatalogResultListItem>` of a user contains an avatar.

What is the general suggestion on this. If I want to index additional fields in my entity, should I replace the `Defa

[2021-06-07 16:00] iamEAP commented on #5943
Maybe the guiding light on "what goes in `DefaultCatalogCollator` vs. what should be left to app integrators" is what's required (or even optional) in the [Well-Known Kinds](https://backstage.io/docs/features/software-catalog/descriptor-format#kind-component) documentation?

Although I guess for your `User` example, that doesn't help much, since the `spec.profile` field is quite open-ended.

I thi

[2021-06-07 16:43] Fox32 opened #5946 "Scaffolder: Provide link to template source"
## Feature Suggestion

In our organization, we want to give teams the options to contribute and improve our templates. Or to use them as a blueprint to start a new template. For that it would be useful, if the teams can easily discover the source code of the available templates.

Right now, neither the template overview page, nor the template details page provides a link to the template location (

[2021-06-07 18:47] emmaindal commented on #5943
Our discussion when developing the `DefaultCatalogCollator` was to look into the required fields of all different Kinds and focusing on supporting those in the DefaultCatalogCollator. Looking at those again, it seems like we are missing a few required ones. Here is a collection of all required ones for all kinds:

- [x] kind [required] (All)
- [x] spec.type [required] (Component, API, Group, Resou

[2021-06-07 20:05] freben commented on #5930
Hey!

First of all, double checking - you intend to use this architecture internally at your company, rather than make an open source thing for general use, right? So this is mostly about fielding for feedback on that. Because that affects the response a whole lot. :)

We actually also have a similar structure, but perhaps for different reasons than you. We could read off of LDAP directly as well

[2021-06-07 20:16] freben commented on #5930
Oh one more thing. About the frontend parts of this. I do not think that your proposal would be added wholesale in the org plugin as such. What we should do as maintainers, is to make it easy for everybody to compose their own pages as lego pieces, inside their private app, out of building blocks that the org plugin or the core components expose, possibly together with things that they custom-buil

[2021-06-07 20:36] tradcliffe-expediagroup commented on #5826
Hello, my team has currently put this work on hold as we are going to be working with Spotify design team for a different Nav OSS contribution. I will update this ticket as I find out more information. Thank you.

[2021-06-07 20:43] timbonicus commented on #5946
Makes sense! We have this internally at Spotify, on both the card when choosing a template, and header of the template once chosen:

![create-card](https://user-images.githubusercontent.com/556258/121084982-8aa8a380-c79e-11eb-8a71-b9ca48f43b0d.png)

![template-header](https://user-images.githubusercontent.com/556258/121085009-92684800-c79e-11eb-80e8-fb45e6563660.png)

[2021-06-07 20:52] freben commented on #5943
I don't worry too much about open endedness I think; let's not support any random unknown extension field from the start, sure. So the candidates can be the fields that are in the core catalog-model.

But optionality is probably not tied to the suitability as a search parameter. Optionality is more about whether we want every single org everywhere to be forced to supply a field whether they want t

[2021-06-07 20:57] freben commented on #5943
To clarify the last part, I've seen sentiments similar to "Why can't we have @-signs in the name, we don't have user IDs in our HR system. We key off of full emails where the name part can have collisions across domains. Ok we'll just put the UUID in the name for now or generate something by kebab-case-converting the sanitized email" :) Or so.

[2021-06-07 20:58] freben commented on #5826
That sounds great! Thanks for reporting back.

[2021-06-08 00:18] mafrosis opened #5947 "Unable to build new app in docker"
Using the [recommended docker install guidance](https://backstage.io/docs/deployment/docker) I am unable to get a working instance of Backstage.

## Expected Behavior

Backstage should come up.

## Current Behavior

Following exception is thrown at start up:

[code]

## Steps to Reproduce

Full shell log here follows:

[code]

## Context

A new user trying the software.

Very experienced software/

[2021-06-08 03:39] chicoribas commented on #5947
A possible workaround is fixing the resolution in the package.json to the last version without this issue:

[code]

[2021-06-08 07:52] #5947 closed

[2021-06-08 09:02] kiranpatel11 opened #5955 "Scaffolder: action for cruft templater"
Have [CRUFT](https://github.com/cruft/cruft) as one of the scaffolder action, so that templates evolution can be better managed and retrofitted in already scaffolded projects.

## Feature Suggestion
Cruft action can either be added to built-in actions or can be added to contrib folder.

## Possible Implementation
We already have implemented custom action using CRUFT, need feedback on where it shou

[2021-06-08 11:48] manusant opened #5956 "[Contrib] Lack of permissions prevents inject-config.sh entrypoint to execute"
The docker files provided for the frontend app as a separated deployment using Nginx uses a **inject-config.sh** script that is ignored because of lack of permissions.

 ## Affected files:
* [frontend-with-nginx/Dockerfile.hostbuild)](https://github.com/backstage/backstage/blob/master/contrib/docker/frontend-with-nginx/Dockerfile.hostbuild)
* [frontend-with-nginx/Dockerfile.dockerbuild](https://gi

[2021-06-08 12:25] #5742 closed

[2021-06-08 13:02] #5851 closed

[2021-06-08 13:43] lykkeaxlin opened #5963 "[Plugin] Bazaar"
## Summary

As a Lund Summer of Code project at @AxisCommunications,  me and @klaraab are working on a plugin for announcing new project ideas. The main idea is to enable cross team cooperation within companies by creating a marketplace for internal projects suitable for inner sourcing.

The Bazaar overview will show up on the backstage homepage and display the latest project ideas:

![Screenshot

[2021-06-08 16:15] ougfh opened #5965 "Broken docs navigation when use_directory_urls: false"
## Expected Behavior

Left-side navigation links need to be constructed with a valid base URL when [configuration](https://github.com/mkdocs/mkdocs/blob/master/docs/user-guide/configuration.md#use_directory_urls) `use_directory_urls: false` is used.

## Current Behavior

For example, from the page `http://localhost:3000/docs/page.html` navigation links lead to `http://localhost:3000/docs/page.html

[2021-06-08 17:53] nomeelnoj opened #8104 "[TechDocs CLI] Publishing to AES256 encrypted S3 bucket"
In our org, we have a default policy that denies unencrypted uploads to buckets via headers.  This prevents uploading objects to the bucket without encryption.

Normally, when using the AWS CLI, this is resolved by passing `--sse AES256` as a command line arg.  It does not seem that this is possible with the techdocs-cli `publish` command.

Can it be added?

For reference, here is the bucket polic

[2021-06-08 19:42] emmaindal commented on #3343
Closing this issue as we now have a new custom search result together with the ability to create custom search result list items available through #5786 which is documented in #5715.

[2021-06-08 19:42] #3343 closed

[2021-06-08 19:51] emmaindal commented on #4447
@iamEAP I was thinking if we should close this issue and create a new one specially focused on adding Elastic Search Engine support? or create a separate issue for the Elastic Search Engine support and reference here? what do you think?

[2021-06-08 20:10] iamEAP commented on #4447
Yeah, or even just take this one over?  Either way.  Will want to think through some of the user stories when we do: lots to think about (index rotation, sane default query translator, etc)

[2021-06-08 21:19] althafh commented on #5912
I was attempting to replicate this yesterday on a copy of the backstage repository but was unable to do and was a bit stumped. (Still unclear why it doesn't replicate)
Today however I created a fresh app using create-app and then created a new plugin in that fresh app and added the above config and was able to replicate it.

However now I'm unclear how I would test if my change actually works. Tha

[2021-06-08 22:56] djamaile commented on #5310
@ougfh are you picking this up? Else I can give it a shot.

[2021-06-09 07:00] Fox32 commented on #5869
Haven't tested it yet, but I asking myself how big the impact of the refresh rate is. In our instance we have reduced the refresh rate to stay in the GitHub quota. Is the quota still that relevant as before? I remember that you planend to add more E-Tag based caching to calls to the GitHub API.

[2021-06-09 07:17] jhaals commented on #5869
@Fox32 the refresh rate is currently the same as today(100s), however if you run multiple catalog instances the new engine does not multiply the requests to GitHub. Cachable processing will be addressed separately as it will require some reworks of the processing API.

[2021-06-09 07:21] nadworny commented on #5712
@adrianke77 @emmaindal I'm just guessing but there have to be some differences in regards to libraries between the base images that are being used by default backstage Dockerfile and the techdocs one...

[2021-06-09 07:59] ougfh commented on #5310
@djamaile I will try to do it (probably today), if no - I will leave a message here

[2021-06-09 08:10] feedmypixel commented on #5942
I suspect this problem may be occurring due to the `.wellknown` changing because of either:
- A new monolith deploy
- A cold starts of the monolith

The user who has not browsed for a while then goes to browse and gets 401s because the `.wellknown` has changed and we are using this `.wellknown` and the `JWT` being sent to `/api/*` calls to auth.
Not wanting to waste your time and I suspect that so

[2021-06-09 09:02] freben commented on #5942
Pinging @Rugvip in here.

[2021-06-09 09:16] feedmypixel commented on #5942
I do also see the error:
`Failed to refresh access token [object Object]` and `401` coming back from the refresh url ```refresh?optional&env=development```
<img width="1262" alt="Screenshot 2021-06-09 at 10 12 15" src="https://user-images.githubusercontent.com/2305016/121327612-8057e800-c90b-11eb-9712-8d431d393286.png">

This occurs when I am running my local, and have a valid `Okta` refresh token

[2021-06-09 09:38] freben commented on #3935
@sbrnunes We have a task on our board to look at it very soon, but I can't promise it happens before the release tomorrow.

[2021-06-09 09:44] sbrnunes commented on #3935
Thanks @freben. No worries, was only afraid it could be blocked for some reason. Glad to know you're going to look at it soon enough. 🙇

[2021-06-09 10:01] feedmypixel commented on #5942
I also feel that the fundamental issue here is if a request `401`s for whatever reason. The user needs too logout of the app and log back in.

Ideally if there is `401` given it should redirect a user to the login page. I will also have a look at creating this custom work. Do shout if any of this rings any bells.

[2021-06-09 11:02] Fox32 commented on #5943
Hmm, playing around with it a bit more, im not sure if the decision to only include required fields is a good idea. And it's also not followed properly 😅 For example, `description` is indexed, even though it's optional and I think it's a very valuable field 😉 Also run into `tags` not being indexed, but that would be quite useful too. Like searching for all `tags:go` services that are related to `p

[2021-06-09 11:23] freben commented on #5943
The drawback with `description` is also that it risks increasing the signal to noise ratio a whole lot, while, in my humble opinion, very very rarely providing intent-matching useful hits :)

But I know that I'm a very opinionated, niche, technical user who almost without exception is interested solely in searching among IDs and sometimes MAYBE some id-like or enum-shaped things. But even then onl

[2021-06-09 11:56] Fox32 commented on #5943
I think that case is already supported quite well. If you know what you are looking for, you can search inside a specific field, like `title:playlist`, ignoring all other fields.

[2021-06-09 12:26] ougfh opened #5979 "Allow component overriding in Table"
## Feature Suggestion

Currently `Table` component does not support additional `components`.

## Possible Implementation

Receive additional `components` from `props` and merge with the existing overridden `components`.

## Context

I wanted to override [`TablePagination`](https://material-ui.com/api/table-pagination/) component, because it supports pagination with an unknown total count (`count={

[2021-06-09 12:46] freben commented on #5921
Right, but if catalog-client has absolutely no way for the caller to make a non-paged request (if you don't ask for paging it'll do it transparently under the hood anyway and return the union of it all when done), and the server refuses to serve requests that don't have (valid) paging, then we should be good right?

[2021-06-09 13:05] grumpyoldman-io opened #5980 "Scaffolding failing on @gitbeaker dependency"
After running the `npx @backstage/create-app`, starting the app in dev mode `yarn dev` I'm confronted with an error

## Expected Behavior

The app will start correctly

## Current Behavior

I'm confronted with a dependency error after successfully running the `npx @backstage/create-app` command and starting either the app in dev mode `yarn dev` or just the backend `yarn start-backend`

[code]

##

[2021-06-09 13:14] freben commented on #5762
Yeah it's tricky. With objects, there are clear semantics for what the effect will be. For arrays, it's notoriously harder. For example to understand if the user intent is replacement or amending (consider cases where there already existed one or more elements beforehand). Some suggest being able to target individual items by index in an existing array which feels very leaky and unstable over time

[2021-06-09 13:27] Fox32 commented on #5980
Related #5977

[2021-06-09 13:37] freben commented on #5980
Yep, closed as duplicate. The next release with the fix is tomorrow. Let us know in the linked discussion if the short term fix doesn't work out for you.

[2021-06-09 13:37] #5980 closed

[2021-06-09 14:19] emilgelman commented on #4464
@mmogylenko I'm experiencing the same, any luck with this?

[2021-06-09 14:38] freben commented on #4995
Ping again! @erdoganoksuz @oguzhaneren any possibility of moving this forward some more?

[2021-06-09 17:02] feedmypixel commented on #5942
FYI after looking at this in detail today and after the Update I made yesterday up to and including this release https://github.com/backstage/backstage/releases/tag/release-2021-06-07 I am not seeing issues with 401s anymore.

I need to speak with the team in the morning but once thats done I'm pretty sure I will close this ticket

[2021-06-09 17:21] #5716 closed

[2021-06-09 18:23] anovis commented on #5564
I am interested in this as well for IAP. Looks like passport does support a generic jwt package.
http://www.passportjs.org/packages/passport-jwt/

Curious what the status is on this.

[2021-06-09 19:47] freben commented on #5942
Nice! Yeah let us know how it goes.

[2021-06-09 22:19] dortegau opened #5986 "Ignore .DS_Store files in the Scaffolded Backstage app git working directory"
## Feature Suggestion

Would be useful to ignore `.DS_Store` files in the Scaffolded Backstage App. Under some circumstances these files when using macOS and this change could prevent these files to be present in the repository.

## Possible Implementation

It's as simple as adding `.DS_Store` pattern in the [.gitignore.hbs](https://github.com/backstage/backstage/blob/master/packages/create-app/te

[2021-06-10 06:43] emmaindal commented on #4447
@iamEAP yes, lets do a session on that end of sprint to provide more details to this issue!

[2021-06-10 06:48] grumpyoldman-io commented on #5980
@freben the linked issue is indeed a fix for now.

[code]

[2021-06-10 08:19] #5946 closed

[2021-06-10 08:49] feedmypixel commented on #5942
Closing this as the problem appears to of been fixed with the latest set of updates - thanks all

[2021-06-10 08:49] #5942 closed

[2021-06-10 09:12] freben commented on #5221
Reviving this by linking to https://github.com/backstage/backstage/pull/5854 - I think the LDAP processing stuff could be lifted over in the same way to an external package, and letting it be configurable by code and callbacks rather than just by static config.

[2021-06-10 11:05] Fox32 commented on #3579
This would also be a good place to show errors in the generation process. Till now they are only outputed to the stdout of the backend process, which normal users won't have access too.

[2021-06-10 12:15] KatherineZhou commented on #5848
Hi! Just to clarify, "for the user the feedback that the job is completed is quite hidden" --> is this feedback supposed to be shown in the "Results" page that's labeled 'skipped'? I'm trying to understand what those two links that you've circled have to do with the overall process! :)

[2021-06-10 12:35] Fox32 commented on #5848
@KatherineZhou My screenshot is a bad example. There is no result page yet, I just had a step that was called result. Also ignore the "skipped" part.

But one solution could be a "Results" page at the end of the list that opens up a page on the right with more details. The two links that I have circled is the current way to show the result, now limited to links that link to the generated repositor

[2021-06-10 13:18] sgandon opened #5991 "using github urls with branch name containing / fails"
We have in our compagny some rules for naming branches and it is as follow
`username/jira-ticket/some_description`
But backstage does not support the / in the branch name.
When I change the branch name to
`username_jira-ticket_some_description`
using _ instead of / no errror occurs.

## Expected Behavior

it should work with any branch in git.

## Current Behavior

not working with branch that inc

[2021-06-10 15:12] erdoganoksuz commented on #4995
@freben Hi, we created a repo and start tests https://github.com/Trendyol/openstack-swift-sdk. We will publish tomorrow and start to integrate with backstage.

[2021-06-10 15:30] samiurrehman92 commented on #633
Hey guys, how is it going? cc @benjdlambert

[2021-06-10 18:00] Rugvip commented on #5956
What build environment are you using?

The `inject-config.sh` file in contrib is marked as executable and ends up being executable inside the container as well. Did you perhaps copy the contents of the file rather than the file itself?

[2021-06-10 18:59] chuliang014 opened #5996 "Authentication for multiple users"
Hi, I am wondering if there is any way to do authentication for multiple users. I am currently using GHE authentication, but in the app-config.yaml, only configured one user, it means only the developer can log in. Actually, Backstage will be putting in use in our company, I need to allow all users can sign in using their GHE account.

Is there any way for users to log in on the SignIn Page using

[2021-06-10 19:18] Jerry4013 opened #5997 "The TODO plugin cannot read most of our Gitlab repos"
Hello,
We installed the TODO plugins (both front-end and back-end plugins), but it only works well on a very small Gitlab project/repo. In most of our repos, it's loading forever with a loading spinner.

I tried to debug this issue and inserted some logs in the source code. We found that the issue is from the GitlabUrlReader of the backend-common package. When calling the readTree method, the func

[2021-06-10 19:35] Rugvip commented on #5997
Thanks for reporting and digging in to the issue!

Perhaps we could extend the [`readTree` filter](https://github.com/backstage/backstage/blob/2147ab9c1bd37e93e9e332c5ee14daa08be031e6/plugins/todo-backend/src/lib/TodoReader/TodoScmReader.ts#L86) so that it skips well known non-text files like `.png`, `.jpeg`, etc. I could have a look at it at some point but I'll leave this fix up for grabs if anyo

[2021-06-10 22:46] christian-bromann opened #6000 "Scaffolding fails with `Connection terminated unexpectedly`"
If I try to scaffold Backstage and choose Postgres as DB it fails when trying to start the app.

[code]

## Expected Behavior

The app should start.

## Current Behavior

See above.

## Possible Solution

No idea, I was running the scaffold tool some weeks ago and everything was working.

## Steps to Reproduce

see above

## Context

## Your Environment

- NodeJS Version (v12):
- Operating System

[2021-06-10 23:13] mmogylenko commented on #4464
@emilgelman, in my case (if I remember right) it was due to ENV variables and config mismatch. Pay attention to:
- `NODE_ENV`, `APP_CONFIG_auth_environment` environment variables
- as well as application configuration
[code]

I had a feeling at that time, when you add default `app-config.yaml` into Docker Image and then tried to overwrite with ENV variables it didn't work.

[2021-06-11 02:29] timbonicus commented on #6000
Hey! It appears the scaffolding of the app itself worked, but running `yarn dev` to start the application fails after that.

Do you have PostgreSQL set up and running on your machine? Backstage doesn't manage this installation for you, so I suspect the `Connection terminated unexpectedly` is from failing to connect to PostgreSQL locally.

Are you able to run `psql` in a terminal and connect to the

[2021-06-11 02:33] timbonicus commented on #5996
Yes, definitely! If you have [GHE authentication](https://backstage.io/docs/auth/github/provider) already configured, then anyone with a GHE account on that host should be able to login using this authentication provider.

To make sure their user account has full details including groups they are a member of, you'll want to set up [Github org data](https://backstage.io/docs/integrations/github/org

[2021-06-11 05:13] chuliang014 commented on #5996
Yes! I've fixed it. I will close this issue

[2021-06-11 05:13] #5996 closed

[2021-06-11 05:27] chuliang014 opened #6003 "LDAP authentication"
Hi, I am wondering if there is any way for signin using LDAP provider?  If have, how could we do?

[2021-06-11 07:52] Fox32 commented on #5991
Duplicate of #4817 and you can find more details about this in the initial issue at #2815

[2021-06-11 09:05] jhaals commented on #5869
@Fox32 I added a configurable refresh to the builder in #6007

[2021-06-11 09:22] tudi2d commented on #4782
Would like to work on this 👍

[2021-06-11 10:00] garyniemen commented on #5913
When we started TechDocs, one of our key principles was to keep it as simple as possible to use but also in terms of configuration. Basically, at least within Spotify, there is hardly anything extra that you need to do to get a doc site up. So, ideally, what I would hope for is that we can solve this "category error" or "confusion" problem - without adding any extra configuration or complexity to

[2021-06-11 10:31] goober opened #6008 "[jenkins-plugin] Add annotation for Bitbucket"
## Feature Suggestion

The current jenkins-plugin is documented to only support GitHub through the [GitHub Branch Source Plugin](https://plugins.jenkins.io/github-branch-source/). With background the annotation `jenkins.io/github-folder` sounds reasonable.

However, the current implementation also supports jobs in Jenkins that have been created for Bitbucket through the [Bitbucket Branch Source pl

[2021-06-11 10:38] sachinck opened #6009 "Error: Could Not Fetch Catalog Entries"
Hi all,

getting the error above Error: Could Not Fetch Catalog Entries -> TypeError: Network request failed on my local host session. Every page has a similar issue. Looking for help.

[2021-06-11 10:46] Fox32 commented on #6008
Related #4328

[2021-06-11 13:07] goober commented on #6008
Closing this in favour of the related issue.

[2021-06-11 13:07] #6008 closed

[2021-06-11 13:08] goober commented on #4328
@sfatzinger Have you had any more progress around this issue lately?

[2021-06-11 13:20] djamaile commented on #5997
@Jerry4013 do have an example repo I can use the reproduce the problem?

[2021-06-11 13:38] Jerry4013 commented on #5997
@djamaile Sorry, it's our company's Gitlab repo, but if I put a png file in the repo, it will be stuck.

[2021-06-11 14:17] dtuite commented on #5913
We are working with a company who want to create some standalone Golden Path documentation in Backstage but they want to be able to show that their team (the platform team) owns the documentation. As far as I can tell, there is currently no sensible way to indicate that a team owns a standalone documentation site. This would be solved with a `Documentation` kind.

[2021-06-11 14:20] voodooGQ opened #6015 "[Techdocs] - MIME type errors in the browser console"
When accessing any Techdocs page I receive an error in the developer console stating that the CSS files `bootstrap.min.css`, `font-awesome.min.css`, `base.css` are not being loaded because of their MIME type being `"text/html"` instead of `"text/css"`.

![image](https://user-images.githubusercontent.com/1512028/121697252-7dd3ca80-ca92-11eb-8a57-bb9551ed673a.png)

This feels like a red herring to m

[2021-06-11 17:26] adamdmharvey commented on #5997
I'd guess some quick work here might do it:

https://github.com/backstage/backstage/blob/667656c8b5f93cb38dfb9016ccc64b60580e9f9a/plugins/todo-backend/src/lib/TodoReader/TodoScmReader.ts#L90-L95

Something like `if file ends in .png then continue` sort of thing...

[2021-06-11 17:59] Fox32 commented on #5913
We do that we `kind: Component type: Documentation` for our standalone docs. That works quite well.

[2021-06-11 18:03] djamaile commented on #5997
I can give it a shot for sure.

[2021-06-11 19:15] timbonicus commented on #6009
I would recommend checking either the browser console for more information, or the backend logs to see if there was a startup failure on the backend.

[2021-06-11 19:54] adamdmharvey commented on #633
I do not believe Ben is working on this plugin; you'll see it remains unassigned. I believe he was simply suggesting the stale bot should not have closed it, so he reopened it.

I'll offer that this is an open issue (with no progress yet) that anyone from the community is welcome to engage on and support!  If you'd like to work on it, let the group know and we'll assign it to you!  Love to see wha

[2021-06-12 00:45] FabianHippmann commented on #5564
hi @anovis - i created a quick draft branch for the GCP IAP provider -> https://github.com/moonshiner-agency/backstage/tree/feature/add-gcp-iap-auth-provider

Documentation + Tests need to be adapted - but the provider itself works !

I'll update this thread as soon as i create a PR

[2021-06-12 00:56] anovis commented on #5564
@FabianHippmann awesome! that is exactly what I was looking for! I had started on this myself, but had trouble connecting it to the frontend. now i see from your code where I went wrong!

I am curious how you generated the iap headers locally to test the ```oAuth2Client.verifySignedJwtWithCertsAsync(``` function since I couldn't get that part to work either.

[2021-06-12 01:00] FabianHippmann commented on #5564
I'd recommend disabling the provider in the app-config or app-config.local locally

We developed it using trial and error - by deploying to Google cloud run - with a load balancer & IAP

[2021-06-12 11:48] vcapretz commented on #4278
hey, @andrewthauer @adamdmharvey I just opened a PR migrating the sentry plugin! 👍

please let me know if I missed something

[2021-06-12 14:43] benjdlambert commented on #633
@adamdmharvey I know it looks that way, but I did spend a little time in building this. Unfortunately i've not had so much time to spend on this as I'd hoped as it just falls under hackdays or weekend time right now for me as it's not something we'd prioritise part of core maintainer work.

I can give a little update however from the last time I worked on this.

The code is in still a little bit o

[2021-06-13 12:05] andrewthauer opened #6028 "Catalog Customization: CatalogLayout & CreateComponentButton not exported"
Following the documented [Catalog Customization](https://backstage.io/docs/features/software-catalog/catalog-customization) walkthrough is not possible since the `CatalogLayout` & `CreateComponentButton` components are currently not exported from the `@backstage/plugin-catalog` package.

## Expected Behavior

To be able to customize the `CatalogIndexPage` in `packages/app`.

## Current Behavior

I

[2021-06-13 16:18] timbonicus commented on #6028
#5984 takes care of `CreateComponentButton`, but `CatalogLayout` still needs exported. Good catch!

[2021-06-13 18:17] #6028 closed

[2021-06-14 08:59] OrkoHunter commented on #6015
Based on [this discussion on Discord](https://discord.com/channels/687207715902193673/714754240933003266/853912438953213972), we can see that the resources error in the browser console are safe to ignore, since the files are eventually loaded so the users won't notice anything. It’s probably something to do with how TechDocs Reader transforms the URL of the assets so that they are loaded from the

[2021-06-14 10:05] Rugvip commented on #5848
Wanna throw in that if we end up (re)designing the scaffolder task page we shouldn't forget to add in retries in some nice way. Probably being able to go back to the form with all values still filled in or something like that.

[2021-06-14 10:37] stefanbuck commented on #3746
A few weeks ago I wrote a blog post about projects scaffolding using GitHub Actions and Repository templates: [Repository Templates Meets GitHub Actions](https://stefanbuck.com/blog/repository-templates-meets-github-actions.)

It's written from a GitHub user point of view. However, at work we have our own CLI which automates the manual steps using the GitHub API. We haven't explored this in terms

[2021-06-14 11:36] #5912 closed

[2021-06-14 11:36] iamEAP commented on #5210
`┬─┬ノ(ಠ_ಠノ)`

[2021-06-14 11:46] Rugvip commented on #5963
Hi, thank you for the information!

There's a bit of overlap with the [explore plugin](https://github.com/backstage/backstage/tree/master/plugins/explore), but if the intention that this is a user-curated list of projects I can see that it's different enough to need its own thing. It could potentially be useful to make the list of projects browsable via the explore plugin though. We actually also

[2021-06-14 11:52] Fox32 opened #6031 "Search: make "no results" more visible"
## Feature Suggestion

If the new search result page returns no result, the result list is only empty. There is no difference between "loading" and "no results" - which might confuse the user.

![image](https://user-images.githubusercontent.com/648527/121887205-bdaae400-cd16-11eb-8f3d-2de6542b4a0d.png)

## Possible Implementation

Just a simple text saying "no results" or even a nice picture like

[2021-06-14 12:35] #5238 closed

[2021-06-14 12:54] goober opened #6033 "[jenkins-plugin] Wrong branch is fetched when build includes multiple repositories"
We have Jenkins jobs that clone a common Jenkins Pipeline Library in the beginning of the job and also some gitops related repositories in the end of the build. This will have the effect that Jenkins API returns multiple `hudson.plugins.git.util.BuildData` objects where the target repository is not first in the list. Since the current implementation of the Jenkins plugin will just take the first B

[2021-06-14 12:59] iamEAP commented on #5231
`┬─┬ノ(ಠ_ಠノ)`

[2021-06-14 13:10] andrewthauer commented on #5963
Extending on what @Rugvip said, the explore plugin could be used as a place to host content that is either from another plugin or something internal to your org.

I created #6025 a couple days ago that allows the explore plugins tabs to be customized and extended. If this bazar/innersource explorer were component with a plugin it could be easily mounted on a `/explore/bazar` route.

[2021-06-14 14:06] Rugvip commented on #5955
Thank you for the suggestion!

Perhaps we could move forward with draft PR that adds it in whatever way is easiest for you? Just to get and understanding of how it's set up and where it would best fit in.

[2021-06-14 14:16] voodooGQ commented on #6015
@OrkoHunter I actually don't have access to that discussion on Discord so can't see how it unfolded. However, as mentioned above this isn't just a cosmetic error happening in the console, I have limited functionality of the TechDocs site, presumably due to this error. Essentially I have no way to interact with the navigation or the search form. I get no other errors when trying to interact with th

[2021-06-14 17:45] rodmachen opened #6039 "Bug prevents rendering in Safari"
A recent bump of a nested dependency caused our Backstage instance to fail in Safari. This could happen to a future deployment of the opensource Backstage app.

## Expected Behavior

Safari should be supported by Backstage but this bug prevents it from being used.

## Current Behavior

It appears that if `normalize-url` gets bumped to 6.0.1, an "irregular regex" error happens, preventing any of th

[2021-06-14 18:27] #5212 closed

[2021-06-14 18:57] kuangp commented on #2099
I'm still interested in this enhancement

[2021-06-14 19:13] kuangp commented on #4108
Hi, I'm wondering what the status of this issue is in terms in prioritization or any additional details about the "global favorite feature" encompassing this?

I noticed there might be a potential implementation by leveraging the `EntityListProvider` and `UserListPicker` used by the catalog in conjunction with the `DocsTable` component to create a custom TechDocs home page that looks similar to th

[2021-06-14 19:40] jrusso1020 commented on #5563
Hey @freben so after looking into this a bit more, it's a little complicated because bazel circular dependencies and node circular dependencies are not apples to apples

Bazel build files are placed in a subdirectory and each subdirectory is packaged together. Circular dependencies cannot exist within a package(sub directory), which isn't the same as a file having a circular dependency necessarily

[2021-06-14 19:40] #5563 closed

[2021-06-14 19:49] taras commented on #2099
@kuangp I can share with you the implementation that @Fox32 shared with me.

[2021-06-14 19:51] freben commented on #5563
Alright, thanks for looking into it!

I still think that with some custom node script, we could ensure that the rules aren't broken without needing to invoke bazel as such. Might take a bit of fiddling though of course.

[2021-06-15 01:12] althafh commented on #5912
Thanks @Rugvip

[2021-06-15 05:29] kenny-chow-my commented on #4568
Hi I see https://github.com/backstage/backstage/pull/5927 has been merged last week. Does it mean this is now going to be worked on soon?

[2021-06-15 06:04] younky-yang commented on #4089
Not sure about the latest status, but from my current needs, we need to extend the IdentityAPI to include the field of claims, and claimsType. We can first get these 2 new fields added and have all auth providers to update these 2 fields first. For example for Azure AD, we can put the claims to be the optional claims returned from Azure AD and set the claimsType to jwt.

The plugins can determine

[2021-06-15 06:53] emmaindal commented on #6031
Thanks for opening this issue @Fox32, I think we can use the [EmptyState component ](https://backstage.io/storybook/?path=/story/feedback-emptystate--data), something like `<EmptyState missing="data" title="Sorry, no results were found" />` for errors as well as [Progress component](https://backstage.io/storybook/?path=/story/feedback-progress--progress) when loading, what do you think?

[2021-06-15 07:15] Fox32 commented on #6031
Oh, good idea! I guess `<EmptyState>` is something I could already use (empty `results` from `<SearchResult>`), but I'm not sure if the progress is already exposed by `<SearchResult>`.

[2021-06-15 07:20] emmaindal commented on #6031
No its not, if we want it to be composable, the loading and error state needs to be passed through from here https://github.com/backstage/backstage/blob/master/plugins/search/src/components/SearchResult/SearchResult.tsx

[2021-06-15 08:13] Rugvip commented on #5869
Tasking period is over and the new catalog is going out in the next release, thanks!

[2021-06-15 08:13] #5869 closed

[2021-06-15 08:23] Rugvip commented on #5991
Thanks @Fox32, duplicate indeed. Gonna close this to keep the discussion focused.

[2021-06-15 08:23] #5991 closed

[2021-06-15 08:24] Rugvip commented on #5997
@djamaile thanks!

[2021-06-15 09:06] Rugvip commented on #6003
There isn't an LDAP provider right now. It's a bit sub-optimal because of the password handling, but it should be possible to implement a provider using for example [passport-ldapauth](http://www.passportjs.org/packages/passport-ldapauth/), with some more information on that in [our docs](https://backstage.io/docs/auth/add-auth-provider). It would probably be best to take inspiration from the exis

[2021-06-15 09:27] #5986 closed

[2021-06-15 09:33] mclarke47 commented on #5518
@ashirley It's correct this is what `serviceLocatorMethod` is trying to solve for the Kubernetes plugin, I initially intended to provide more implementations for this service such as a HTTP call to an authoritative service which stores this mapping, but I'm open to any other ideas too 🙂

[2021-06-15 09:35] tkrop commented on #5921
@freben Yes, exactly - will work fine! For me the second part `server refuses to serve requests` is important. I was just considering, that some backstage users may by-pass the `catalog-client` and thereby experience a breaking change, when the rejection behavior cannot be switched on and off, or more precisely isn't switched of by default.

Any enforcing solution is fine for us.

[2021-06-15 09:59] samiurrehman92 commented on #633
Thanks for sharing @benjdlambert. Our team is still just in early adoption phase for both `linkerd` and `backstage`, since they were happening both at the same time, I was curious about the effort going into this plugin. Once we've adopted both tools, we will naturally consider contributing toward this plugin and reach out then.

[2021-06-15 10:01] soapraj commented on #4409
- Once deprecated remove the docs on github: gitlab: format usage
- Can we just use URLReader for all formats and the users can migrate formats later
- Can we automate the migration of the format in CLI

[2021-06-15 10:31] Rugvip commented on #6000
The error messaging here will be clarified a bit in the next release, https://github.com/backstage/backstage/pull/6043

[2021-06-15 10:38] Rugvip commented on #5921
Typical thing to do here is to have an implicit and potentially capped `limit` query right? So if you send a request for listing all entities without any additional parameters, you'll just get the first page back along with the actual limit that you ended up getting. If you try to set the `limit` above the configured maximum, you simply won't get that many items back and the response will tell you

[2021-06-15 10:47] christian-bromann commented on #6000
Thank you @timbonicus and @Rugvip , will close this then!

[2021-06-15 10:47] #6000 closed

[2021-06-15 10:55] andrewthauer commented on #5913
We are also using the component kind & documentation type for docs only repos. However, we have one use case thats a bit awkward. A few of these docs only repos are related to specific business domains. So we end up having a domain kind entity and a related documentation component with no nice way to relate the two.

It would be nice when you are viewing a domain entity (or possibly other non comp

[2021-06-15 11:06] iamEAP commented on #6031
Yeah, maybe we default to `<EmptyState />` and some loading state, but allow them to be overridden via props on `<SearchResult />`?

[2021-06-15 11:12] soapraj commented on #3660
For Beta release we should consider

- supporting yaml and yml extensions
- better error messages when the yaml file or the folder is missing

[2021-06-15 11:24] ottosichert commented on #5907
https://github.com/backstage/backstage/pull/5975 implements a state machine that correctly handles reloading after the initial build.  Suggesting to go with that approach 👍

[2021-06-15 11:53] Fox32 commented on #6031
I think a default would be nice for both cases.

[2021-06-15 11:56] Fox32 commented on #5913
For domains we directly publish the documentation to the domain entity. But that wouldn't work if you need more than a single documentation site for a domain.

[2021-06-15 12:13] OrkoHunter commented on #6015
@voodooGQ Hmm, let us make sure that the site generated and stored in the S3 bucket looks "right" and when it gets loaded on Backstage/TechDocs frontend, it becomes "wrong". We can do this in few ways
- Try previewing the site locally by running `npx @techdocs/cli serve` using the [techdocs-cli](https://github.com/backstage/techdocs-cli) in the documentation repository.
- Try downloading the gener

[2021-06-15 12:15] andrewthauer commented on #5913
@Fox32 - Do you mean your publishing the docs for the domain to something like `https://docs-bucket/.../domain/default/some-domain`? This could work, but feels very much like a workaround.

[2021-06-15 12:34] OrkoHunter commented on #4409
👍 If by format, you meant `github:` and `gitlab:` prefixes, then yes! In fact, URL Reader supports more options, except the `dir:` for local development. But we should be using `techdocs-cli` for local preview anyway.

Worth exploring @Rugvip's newly introduced [`@backstage/codemods`](https://github.com/backstage/backstage/tree/master/packages/codemods) package for updating those YAML files.

[2021-06-15 12:37] Fox32 commented on #5913
Yeah, exactly. We have techdocs integrated for most entity kinds as our teams want to document on all of them (including APIs, Systems, Domains, ...)

[2021-06-15 12:52] voodooGQ commented on #6015
@OrkoHunter Thank you! It was the missing `techdocs-core` directive under plugins. As soon as I added that things started working as expected. Appreciate the help!

[2021-06-15 13:08] OrkoHunter commented on #6015
I'm glad! Will still leave this issue open because the errors in the console are misleading and should be avoided.

[2021-06-15 13:46] #5496 closed

[2021-06-15 13:53] andrewthauer commented on #5913
Thanks for the idea @Fox32. I'll need to try this out and see if it works for us.

[2021-06-15 14:49] Fox32 commented on #5833
Good news, my upstream PR is merged. I'm just not sure when it will arrive in a release.

[2021-06-15 14:55] TejasQ commented on #1519
At the very least, it can be quite beneficial to forward all `X-Cloud-Trace-Context` headers that we receive when fetching data. For example:

[code]

It's a really hand-wavy basic example, but I hope it clearly sheds light on what I'm suggesting.

The `X-Cloud-Trace-Context` header is part of what _was_ the OpenCensus specification and what is today called OpenTelemetry, so I can imagine it being

[2021-06-15 15:07] freben commented on #5833
![image](https://user-images.githubusercontent.com/3097461/122077644-320b8300-cdfc-11eb-8909-651b44c47be4.png)

[2021-06-15 15:07] Fox32 commented on #5848
Just as a quick update, we solved this for now with the `debug:log` action and have a step called "results" that has some ASCII art. Has some charm, but would still be interested in a built in solution 😆

![image](https://user-images.githubusercontent.com/648527/122077399-ff618a80-cdfb-11eb-841a-9181f5b92036.png)

[2021-06-15 16:23] #5965 closed

[2021-06-15 16:28] #5744 closed

[2021-06-15 16:50] missedone opened #6047 "feature request: expose template info in the custom action"
i'm writing a custom action by following https://backstage.io/docs/features/software-templates/writing-custom-actions
in the custom action handler, the `ctx` object provides the baseUrl of the template, but i want to know the template name as well

## Feature Suggestion

[code]

## Possible Implementation

## Context

we already have a scaffolding service similar to the backstage scaffolder, i'm n

[2021-06-15 19:06] douglasread opened #6048 "Adding Features to Pagerduty Plugin"
## Feature Suggestion

To include new features offered by Pagerduty natively in the plugin.

## Context

The current Pagerduty plugin offers the following:
1. A link directly to the service in Pagerduty
2. A button for creating a new incident
3. A display of recent incidents
4. A list of those currently on call for the service

This plugin, however, could easily be expanded. Some basic functionali

[2021-06-15 19:06] iamEAP commented on #4568
Hey @kenny-chow-my, we at Spotify are not actively working on this, or TechDocs search generally, however I've heard that @rodmachen may be working on this.  Perhaps you two could coordinate efforts?

[2021-06-15 19:59] iamEAP commented on #4449
Wonder if this is now duplicative of #4568?

[2021-06-15 20:05] OrkoHunter commented on #4359
My initial suspicion is at this piece of code, which hints that downloaded files will be flattened out intentionally if `scopePath` is defined.

https://github.com/backstage/backstage/blob/530f1358cdd64bf12bc7ac79face384472d395d9/packages/integration/src/azure/core.ts#L101-L106

[2021-06-15 22:10] #4637 closed

[2021-06-15 22:23] kissmikijr commented on #639
Super cool idea and I think it would be really useful, I'm happy to work on this in my free time, but not sure what is the next step or how do you wan to tackle this. Any suggestion?

[2021-06-16 00:38] falconbin opened #6050 "CatalogApi: update entity functionality"
an api that could update entity

## Feature Suggestion
update catalog entity over CatalogApi, current interface doesn't support this, refer to CatalogApi definition:
![image](https://user-images.githubusercontent.com/20329141/122140399-bf42ec00-ce7d-11eb-8409-e2d89805a557.png)
I am not sure if we could update catalog entity over api call(remove and add a new one again ?), maybe I lost something. B

[2021-06-16 01:37] missedone opened #6051 "feature request: support field validation in template.yaml"
I'm authoring the `template.yaml` for our own templates, in `parameters.properties`, i'd like to define validation rule for the field so it gives the user quick feedback for the invalid input.
regex based validation should be sufficient enough.

## Feature Suggestion

[code]

## Possible Implementation

[2021-06-16 03:16] regicsolutions commented on #4328
@goober Any interest in getting assigned to this one?

[2021-06-16 06:39] Fox32 commented on #6051
The `parameters` part of the template is based on JSON schema, this means you can use all features of JSON schema here. JSON schema [supports](https://cswr.github.io/JsonSchema/spec/basic_types/) `pattern` to define a regular expression that validates the input. It also supports other constrains like `minLength` and `maxLength` for strings or `min` and `max` for numbers..

[code]

Btw., the proper

[2021-06-16 06:40] Fox32 commented on #6051
I think this could be moved to GitHub discussions, any objections?

[2021-06-16 06:43] Fox32 commented on #4627
My PR for splitting this out into a separate package (#5854) also contains the documentation in the README. Do we just want to include a small page in the microsite that links to the README?

[2021-06-16 07:30] OrkoHunter opened #6057 "TechDocs: Support README.md or docs/README.md to be treated as docs/index.md"
## Feature Suggestion

Add support for treating `README.md` or `docs/README.md` file as the index page for TechDocs (`docs/index.md`).

## Possible Implementation

Before we run `mkdocs build` to generate a site, we already do some preprocessing [here](https://github.com/backstage/backstage/blob/d973d84e94dde44cc4c3bdf4f6a62249f2408c51/packages/techdocs-common/src/stages/generate/techdocs.ts#L80-L

[2021-06-16 07:49] #5165 closed

[2021-06-16 07:49] #3748 closed

[2021-06-16 08:19] #3750 closed

[2021-06-16 08:28] WillSewell commented on #3750
@benjdlambert could you link to the PR which resolved this please?

[2021-06-16 08:49] iamEAP commented on #3122
Coming back to this almost 7 months since originally posted...

With all of the composability work that's gone into Backstage as a whole, and TechDocs in particular...  Is this perhaps no longer really a decision for us as **Plugin Developers**, and more a decision for each individual **App Integrator**?

One organization may go all-in on the Catalog and customizing the entity page, including embe

[2021-06-16 08:50] freben commented on #3750
@WillSewell The processing engine of the catalog has changed significantly over the last couple of months. It's hard to point to any one PR, because of this large rewrite that also changed database structure and some semantics across the board. We just recently merged the PR that switches out the old engine for the new one. Documentation on how it works is coming soon.

One large change is that th

[2021-06-16 08:57] freben commented on #3750
Another even cooler thing - you can make sources of your own. This will be very useful for those that want to mirror data from an external system, because the corresponding entity deletions will happen automatically which they didn't before.

I just realized last night that we may have forgotten to add that ability to the catalog builder class, so we'll have to fix that, but yeah :)

[2021-06-16 10:52] klaraab commented on #5963
Thank you both for the input!

Integrating bazaar into the explore plugin is an interesting idea. Are the components shown in the explore plugin fetched from the catalog?

@Rugvip We want the projects shown in the bazaar preview for example to be the latest projects or projects that is in need of some extra visibility.

We would like the code to be added to the main repo. How does the procedure fo

[2021-06-16 12:39] emmaindal commented on #4449
@iamEAP could be, but I think this is more of a diagram/visual representation (could be clarified in the description though)

[2021-06-16 12:41] #3044 closed

[2021-06-16 14:59] kuangp opened #6062 "Support paginating search results"
## Feature Suggestion

Support builtin pagination in the new search page which paginates number of results shown and results coming from the backend.

## Possible Implementation

There seems to already be some plumbing already implemented to support pagination like references to a `pageCursor`:
https://github.com/backstage/backstage/blob/9bca8225f06e5855fb90dce83e7d17f5e334bf18/plugins/search/src/

[2021-06-16 15:02] kuangp commented on #6062
FYI, this is how we're currently handling pagination on the frontend side of our search page:
[code]

[2021-06-16 15:06] andrewthauer commented on #5963
I was thinking this could introduce a well known catalog file annotation that can then be queried against. Any repo/source code that wants to be considered as innersource would add something like:

[code]

[2021-06-16 15:43] kuangp opened #6063 "[TechDocs] Support creating doc playlists"
## Feature Suggestion

Allow users the ability to create "playlists" for docs. Borrowing from Spotify's music analogies, just like music playlists, I think it would be valuable to be able to create curated lists of related docs, sharing lists, and adding existing lists created by others to your "library" (ie. Favorites).

## Possible Implementation

This may require a new `kind` similar to a `syst

[2021-06-16 16:35] jessebye opened #6064 "Search filters with ":" in them do not work as expected"
## Expected Behavior

Using a search filter like this should return results where the `owner` matches `group:default/infrastructure`:

[code]

## Current Behavior

No results are returned.

## Possible Solution

This may be related to how filters are translated into Lunr queries: https://github.com/backstage/backstage/blob/master/plugins/search-backend-node/src/engines/LunrSearchEngine.ts#L56

So

[2021-06-16 16:50] freben commented on #6063
Spontaneously, my first reaction is that this sounds like it could be useful, but that the storage model shouldn't be in the form of entities. If we were to make collections like this, we might as well either

1. Make a database backed backend thing that can hold documentation lists, or perhaps better,
2. Just implement it as a [documentation entity](https://github.com/backstage/backstage/issues/5

[2021-06-16 16:54] #3333 closed

[2021-06-16 17:13] kuangp commented on #6063
@freben that's a good point, this technically should already be possible by just creating a doc that contains links to other docs.

I think a large part of making this valuable would be the UI to be easily be able to create/edit playlists similar to just having to hit the "star" to star entities. It also helps to have a visual distinction for "playlists" items that may appear in a dedicated tab/se

[2021-06-16 18:18] timbonicus commented on #6063
Slightly different concept, but the idea reminds me a bit of this mockup in [#4757](https://github.com/backstage/backstage/issues/4757#issuecomment-789713976) 😄

[2021-06-16 19:31] goober commented on #6033
@freben You could assign me to this ticket. I am on it.

Just waiting for https://github.com/IonicaBizau/git-url-parse/pull/128 to be accepted and released so we can parse the folder repository for Bitbucket correctly.

[2021-06-16 20:12] kuangp commented on #6063
The mock up from #4757 definitely has a similar "flavor" to this concept. I think the main difference is push vs pull where that type of categorization allows doc authors to "push" labels with their docs to be picked up by UI filters whereas this allows any user to "pull" any docs into their own custom categorization.

I also see a possible implementation leveraging the Techdocs page customization

[2021-06-16 20:54] freben commented on #6033
Ok!

[2021-06-16 22:07] camilaibs commented on #6031
There is an example using empty state (here)[https://github.com/backstage/backstage/issues/6062] including nice suggestion for pagination until this issue be resolved 🙂

[2021-06-17 00:28] andrewthauer commented on #6057
My suggestion for this is to include [mdx-truly-sane-lists](https://pypi.org/project/mdx-truly-sane-lists/) in `techdocs-core`. This plugin is a savour for dealing with the very annoying bullet differences in mkdocs vs commonmark / gf markdown.

[2021-06-17 01:02] andrewthauer opened #6069 "TechDocs Reader 404 when clicking link to relative image"
Click on hyperlinks to a relative image files within the techdocs reader will result in a 404. When this is done in the raw MkDocs static site, the image is displayed full screen in the browser. However, the techdocs reader appends a `/index.html` to the end of the image file (which does not exist).

## Expected Behavior

You can click a link that points to an image file and the image will be disp

[2021-06-17 07:38] iamEAP commented on #6069
Just to note, one (not always ideal, but valid) workaround for this is to write the link as an HTML anchor with a `download` attribute, e.g. `<a href="some-image.png" download>link to relative image</a>`.  ...If your backend and your frontend share the same origin, this will actually cause a download (rather than view in-browser), but it's something.

The actual fix will probably end up in some co

[2021-06-17 08:39] jvilimek opened #6075 "SonarQube/SonarCloud overview of projects"
## Summary

Now there is [SonarQube](https://github.com/backstage/backstage/tree/master/plugins/sonarqube) plugin that proxies results of last analysis for the service if there is anotation.

We are looking for a way how to see overview of results of multiple services. It may integrate to existing plugin, it may be a new plugin.

## Project website (if applicable)

https://github.com/backstage/bac

[2021-06-17 09:27] jvilimek commented on #2566
Hi guys. We are currently at the early stage of the Backstage implementation. And any such OpenAPI definitions and/or swagger help page would be really helpfull for us to see, what kind of API backstage and its plugins provide! Any news regarding this?

[2021-06-17 09:48] Fox32 commented on #6075
We already did something similar for the FOSSA plugin. While I think duplicating just the view seem to be less interesting, having a way to see you my owned stuff seems to be appealing.

[2021-06-17 10:14] jvilimek opened #6079 "Extending existing catalog entity with automatically generated definition"
This feature request is about the possibility to have a way to automatically generate enrich existing (manual) catalog entities via scripts/pipelines.

## Feature Suggestion

Let's have a manually created service entity "xxx" in the team's repository, e.g. in service-xxx-repo/backstage.yaml
Let's have automatically generated xxx.yaml in catalog-definitions repo, that would enrich the manually edit

[2021-06-17 10:39] iamEAP opened #6081 "[Documentation] Improve the TechDocs "getting started" flow for newbies"
[From discord](https://discord.com/channels/687207715902193673/714754240933003266/855028935188545536):

---

### Possible improvements
- **Different guides for different goals**: We may want separate getting started guides, one for those who have already set up and understand the Software Catalog.  ...Another for those who are coming at it from a "TechDocs is my main goal" perspective, which gentl

[2021-06-17 11:01] andrewthauer commented on #6079
We do a lot of automated enriching of catalog entities already using custom catalog processors. We use these to append annotations automatically, emit new entities dynamically as well as enrich the spec of an entity based on external data (not in the catalog). Have you explored this approach?

[2021-06-17 11:11] andrewthauer commented on #6079
Another idea specifically for SinarQube specifically is do a create a processor that does a lookup for the project key based on the project name via the SonarQube API. This would require your entity name to match the project name in SonarQube though. This would completely avoid needing to manually maintain the partial for the SonarQube annotation.

[2021-06-17 11:49] Rugvip commented on #3749
So implementation plan for this is to allow each processor to store a piece of information for each entity. A lot of the plumbing for this is in place as we've already made space for it in the processing, https://github.com/backstage/backstage/blob/d89629a85dde7dac6d3af6a8f7a2b4bc87905384/plugins/catalog-backend/migrations/20210302150147_refresh_state.js#L50-L55.

The main piece left is to figure

[2021-06-17 11:55] andrewthauer commented on #6075
Or aggregated metrics rolled up per owner group might also be interesting.

[2021-06-17 11:55] emmaindal opened #6084 "[Search] Document limitations of Lunr Engine"
There is at least one current limitation of Lunr, which is the engine currently supported in our out-of-the-box setup. See https://github.com/olivernn/lunr.js/issues/353. And it could come up more that we are not aware of yet. We should add a list of those limitations somewhere in our [Search documentation.](https://backstage.io/docs/features/search/search-overview)

[2021-06-17 11:58] Fox32 commented on #3749
Also want to add that #5323 is kind of related - there it's even more work we can avoid. Having a way to store metadata for attachment is great.

[2021-06-17 12:49] voodooGQ opened #6086 "[Plugin] Honeybadger Plugin"
## Summary

Honeybadger.io plugin to display errors on a Componentized basis.

Features:
	- Display the top 25 most recent errors on an Entity page
	- Display the 5 most frequent errors within a one-week period as an Overview card.
	- Annotation to specify the project id
	- Annotation to specify a custom query based on Honeybadger's DSL: https://docs.honeybadger.io/guides/search.html#how-to-search

[2021-06-17 13:20] #5480 closed

[2021-06-17 13:23] #5907 closed

[2021-06-17 13:33] Rugvip commented on #3935
@sbrnunes yep!

[2021-06-17 13:56] OrkoHunter commented on #5785
@AG-Labs closing this issue due to the problem being missing Python. But please feel free to re-open if you find more errors !

[2021-06-17 13:56] #5785 closed

[2021-06-17 14:13] OrkoHunter commented on #5837
The Backstage URL Reader uses a library called git-url-parse which needs a bit of work to support Azure DevOps fully. :)

[2021-06-17 14:20] #6051 closed

[2021-06-17 14:39] freben commented on #4499
After the catalog rewrite that was just merged, this has basic support in the form

`/catalog/entities?filter=relations.ownedBy=user:default/guest`

There is room for extending this of course, but the basic need is addressed for now.

[2021-06-17 14:39] #4499 closed

[2021-06-17 14:46] benjdlambert commented on #6075
Is this something you want to contribute @jvilimek? :pray:

[2021-06-17 15:00] benjdlambert commented on #6050
So the catalog is built in a way that you only really register `Locations`, and these `Entities` are produced by the `Locations`.  If we were to add the ability to be able to mutate these `Entities` in an API, I think it's get really complex, because then you have the source of truth (these yaml files), and then some state that you've set in the API and merging that state can become really tricky.

[2021-06-17 15:01] benjdlambert commented on #6048
@marcuseide @samiramkr for visibility

[2021-06-17 15:02] benjdlambert commented on #6047
Is this something you'd want to contribute @missedone? :pray:

[2021-06-17 16:09] kuangp opened #6090 "Support Postgres setup without permissions to `pg_database` or database creation"
## Feature Suggestion

Skip the call to `ensureDatabaseExists` for deployments where access is only given to the specific provisioned databases
 https://github.com/backstage/backstage/blob/ae501c04dfb57d79e0252a54b8f11e44d84e9acb/packages/backend-common/src/database/DatabaseManager.ts#L208

## Possible Implementation

Maybe drive this through a config in `backend.database` in your `app-config.yaml

[2021-06-17 16:12] kuangp commented on #6090
Just FYI, we're been able to workaround this by using an internal DB manager and was hoping to be able to deprecate our internal manager in favor of the upstream one but hit this blocker.

[2021-06-17 17:15] douglasread commented on #6048
I would definitely be interested in contributing here @benjdlambert. Also interested in feedback/suggestions on the proposal.

[2021-06-17 18:34] iamEAP commented on #6064
If anyone wants to take this up, I think escaping any `:` characters in a field value should alleviate the issue (e.g. so that the final lunr query is something like `field:group\:default/foo`.

[2021-06-17 18:43] jessebye commented on #6064
Maybe relevant: https://github.com/olivernn/lunr.js/issues/271

[2021-06-17 18:45] jessebye commented on #6064
@iamEAP great tip on the `\` escape. That does the trick for me. I'll see about putting together a PR to fix this.

[2021-06-17 18:46] iamEAP commented on #6064
Nice!  Yeah, we might consider using the query builder instead of munging together a query string at some point.  ...Or make that configurable or something.  But a little escape fix for now is perfect.

[2021-06-17 18:48] grumpyoldman-io commented on #639
Perhaps a good start can be to make the current notification implementation from @freben open source, see how it is structured, or perhaps some pointers towards the backstage internals where this might work best? If we can somehow share events with plugins (Ive just started diving in to Backstage) the community could take over or assist.

[2021-06-17 18:50] iamEAP commented on #4568
Follow-up to my last comment, Rod's comment on discord:

So if anyone wants to take a crack at it, we'd be super happy to support / review PRs / etc!  Hopefully there's sufficient detail in the `possible implementation` section to help folks get started.

[2021-06-17 20:53] jessebye commented on #6064
https://github.com/backstage/backstage/pull/6098

[2021-06-17 23:24] andrewthauer commented on #6069
A click to zoom / lightbox for all images would be useful in general I think. This could possibly be a good solution for images that are scaled down. Wondering if this could work with SVGs as well.

[2021-06-18 01:12] kiranpatel11 opened #6101 "Catalog : New Entity type and specs for defining workflow/businessprocess"
New Entity type and specs for defining workflow/businessprocess

## Feature Suggestion

Define new entity type (Workflow/Process) to define/model business processes which can reference the involved systems.
The intentions is to provide broader ecosystem view for the courser-grain business processes, most probably under Explore plugin.

## Possible Implementation

The specs for the Workflow can be

[2021-06-18 02:34] regicsolutions commented on #5955
Agreed! Cruft is an excellent Add-on to cookiecutter 🍪

[2021-06-18 02:56] falconbin commented on #6050
Now no, thank you for your explanation. My initial thought conflict with the design. This issue could be closed.

[2021-06-18 02:56] #6050 closed

[2021-06-18 08:32] benjdlambert commented on #639
Hey @kissmikijr - I'm thinking that this is probably not something that's the best fit for a community contribution just yet, as we haven't really thought about what it means and how to implement this either. The purpose of this ticket I guess was to gather some feedback and thoughts about how we could implement it.

It's something we want, but haven't really had the time to look at just yet.

[2021-06-18 08:36] kissmikijr commented on #639
@benjdlambert Ah, ok make sense, we just started to adopt backstage here at Prezi, and we are definietly intrested in this, so maybe we'll implement something on our own when we get there. Thanks! :)

[2021-06-18 09:20] #4627 closed

[2021-06-18 10:30] goober commented on #5221
@freben by giving the same love to the LDAP processor would definitely benefit our use case where we today are doing mapping and modifications of the entities found in a separate processor in the `preProcessor` function. Since the latest release with the new catalog processing functionality we cannot continue with our approach since we are changing the entities names. Are looking forward to how th

[2021-06-18 11:04] #4448 closed

[2021-06-18 11:19] delanni opened #6108 "create-plugin's example plugin is incorrectly set up"
A newly created plugin (which I assume is the starting point for first time plugin authors) is inconsistent with the documentation and expectations, probably due to some incorrect configuration.

## Expected Behavior
When you go through the suggested flow for creating a plugin, it's incorrectly set up - and I'd be able to develop in a sandbox under `localhost:3000/<plugin-name>`.
_(I assume it's s

[2021-06-18 11:57] jvilimek commented on #6075
well..I am personally quite newbie in js/typescript/react so probably not. But I can ask one of our internal team to help as this is something we are really looking for...

[2021-06-18 12:01] goober opened #6109 "[Kubernetes] Check Kubernetes version before fetching resources"
## Feature Suggestion

For old clusters that do not have the networking.k8s.io/v1beta1/ingresses resource an error will be shown for all services. See example below:
![image](https://user-images.githubusercontent.com/124244/122557093-d9223180-d02b-11eb-9273-aa517882ec8a.png)

I would like to propose a feature where the kubernetes plugin takes the available resources into account before fetching da

[2021-06-18 12:06] jvilimek commented on #6079
Thanks for the idea with processors within backstage. I will definitely look on it.

On the other hand developing a custom processor (and then maintaining it) in the backstage seems to be quite complicated... it needs to be someone who knows typescript, who will download the whole backstage repo, install tools for it (npm, yarn,...), compile, run it locally...even for a skilled developer this mean

[2021-06-18 12:25] Fox32 opened #6110 "API Explorer loses filter state on navigation"
## Expected Behavior

When configuring a filter in the API explorer, then navigating to an entity, and then back to the API explorer with the browser history, the filter state should be restored. The filter parameters are added to the URL and kept in the browser history.

## Current Behavior

Filters are not restored, they aren't added to the URL anymore.

## Possible Solution

Store filters in th

[2021-06-18 12:34] egnwd opened #6111 "[TODO] Allow custom filter for the TODO Reader"
## Feature Suggestion

In some of our repos there are third party deps in the source and at the moment the todo-backend plugin will read the files and report their todos.

It would be nice if (perhaps per entity somehow) we could add a list of globs to ignore from the reader e.g. `**/vendor/**`.

## Possible Implementation

I think it would involve adding some config in the `app-config.yaml` or th

[2021-06-18 12:37] tkrop commented on #5921
Yes, I think this would be the way to go: providing a very high default limit or even `0` for infinite.

Do you think there is a way to detect plugins, that side-step the client and need to made aware of pagination? It could be something like adding a limit to the client and warn in the log on request without limit. Breaking the request to create awareness would even be better, if the number of en

[2021-06-18 12:52] andrewthauer commented on #6079
@jvilimek - Thanks for the context. Your approach can definitely work as well. If you want to stitch/join/enrich data from an external source, I think you'll likely have to create and maintain at least one catalog processor that can fetch then join/merge the external data to entities that are processed from repos. If your pipelines create partial catalog files and your doing a simple merge then th

[2021-06-18 15:52] Jerry4013 opened #6117 "kind: API definition with api URL"
## Feature Suggestion

Currently, in the `spec.definition` of `kind: API`, we need to write a very long json or yaml definition for the API definition. It would be nice if we can simply provide a URL of this API.

Something like:

[code]

Thanks!

[2021-06-18 15:57] freben commented on #6117
Hi!

What you can do is

[code]

That makes the definition be loaded in automatically from that url.

Does that help?

[2021-06-18 19:03] Jerry4013 commented on #6117
@freben Great! Thanks for your reply!

[2021-06-18 19:36] freben commented on #6117
Cool, hope it works out. Closing for now assuming it did solve the problem, feel free to reopen if it didn't.

[2021-06-18 19:36] #6117 closed

[2021-06-18 20:50] angeliski commented on #6108
Hey @delanni , when the docs talk about the `ĺocalhost:3000/<plugin-name>` is a reference for your main app running, not the plugin develop mode. If you run `yarn start` at the root folder you will see that behavior.

You can check then your `packages/app/src/App.tsx` file is updated to include the plugin config too.

Maybe we can update the docs to give more context about that, WDYT?

We can upda

[2021-06-18 21:11] angeliski commented on #6108
@delanni Could you take a look at #6120?
I believe we can resolve there :)

[2021-06-18 21:32] angeliski commented on #631
Hey @dnilasor could you share some references about that? I want to work in this plugin, but I am looking to [deck](https://github.com/spinnaker/deck) and is all about angular