[2022-10-06 08:05] jhaals commented on #14011
ping @mclarke47 :)

[2022-10-06 08:07] jhaals commented on #14012
We don't support node 18 yet, closing as this is a duplicate of #12558 :)

[2022-10-06 08:07] #14012 closed

[2022-10-06 08:12] namco1992 opened #14014 "[K8s plugin] Improve the Kubernetes plugin documentation"
The current [Kubernetes plugin documentation](https://backstage.io/docs/features/kubernetes/overview) has some info missing:

1. Didn't mention `objectTypes` config which controls the default resource types to fetch, it only exists in source code and changelog which is not easy to find.
2. [The RBAC](https://backstage.io/docs/features/kubernetes/configuration#role-based-access-control) should be u

[2022-10-06 08:29] jhaals commented on #13282
Sounds like a great idea, would you be willing to contribute some docs? 🙏 🤞

[2022-10-06 08:31] tyrken commented on #13774
Thanks for the quick fix @freben - had a little trouble confirming this at first, maybe 1.7.0-next.0 or maybe I didn't delete the test user/groups fully to start from scratch enough, but now with 1.7.0-next.1 I can confirm this is fixed for at least new entities.

[2022-10-06 08:34] Rugvip commented on #13891
Hmm, what does this mean?

[code]

I'm feeling that the sensible way forward would be to add it to the `createRouter` options, since switching off the auth checks are tightly coupled with updating the entity policy, both of which are in code. You also wouldn't ever be varying the setup in different environments either I would think, which is the primary purpose of the configuration.

[2022-10-06 09:16] klubi commented on #14009
Thanks for quick response @freben.
I'll try your filtering suggestion!

Regarding objectSid, I'm not sure about it's type, but this was the only attribute in my AD setup that was unique, and was inline with regex that entity `name` has to comply to. In my case `cn` has spaces, which backstage does not like, nor is capable of stripping them.

[2022-10-06 09:18] jhaals commented on #13994
Hi Taras, these warnings in the cli should probably be removed entirely, we have removed a fair bit of these false warnings previously and this should likely be removed as well.
Having transient dependencies on older versions of the packages mentioned above is not be a problem. However adding resolutions that lock them to a specific version could definitely introduce bugs and problems as behaviour

[2022-10-06 09:29] jhaals commented on #13982
Hi, sorry to hear that you're having problems.
Does `yarn install` run successfully? Is this for a newly created app?
It would be great if you could provide some steps to reproduce this problem.

[2022-10-06 09:37] 13archit commented on #13982
Yes, I ran yarn add command mentioned in readme file of plugin and it ran correctly , but there were some warnings about react .
"@backstage/plugin-github-actions > @backstage/core-plugin-api@1.0.6" has unmet peer dependency "react@^16.13.1 || ^17.0.0".
@backstage/plugin-github-actions > @backstage/core-plugin-api@1.0.6" has unmet peer dependency "react-router-dom@6.0.0-beta.0 || ^6.3.0"

Yes is f

[2022-10-06 09:59] freben commented on #13774
Super! Thanks for reporting back.

[2022-10-06 10:11] freben commented on #14009
You CAN supply custom mapping functions to do what you want actually (how to form the entity based on the bag of attributes).

https://github.com/backstage/backstage/blob/master/plugins/catalog-backend-module-ldap/src/processors/LdapOrgEntityProvider.ts#L86

You can also change the validation rules of the catalog if you wish, to allow spaces in names. But either way, you want especially `metadata.

[2022-10-06 11:45] klubi commented on #14009
I found those transformers... but I have hard times wrapping my head around this... I'm not a TS guy:P
Either way, I was able to pull users, groups are still failing, most likely because of that objectSid.

And I guess I'll have to make sure that `name` on user matches `members` on group... which again will be difficult, because `members` in AD are of type CN, with spaces and so on...

LDAP is fun

[2022-10-06 12:03] skgandikota opened #14018 "[ BUG ] Unable to Parse the Catalog URL"
## Expected Behavior

To import the file and render the content in the catalog-info.yml

## Actual Behavior

Catalog did n't render and on import it end-up with an Error Message  as shown below:

Used Branch Name :  ```  MGN/create-backstage-catalog ```

[code]

## Steps to Reproduce

1.  Create a branch  as ```something\todo-something```
2. Add a simple `catalog-info.yml` file
3. Try importing to

[2022-10-06 12:36] prashant-mns commented on #14018
@freben Just to confirm, this was when creating the User entity, May be it is specific to User because same file also had Group entity which didn't have any issue?

[2022-10-06 12:40] taras commented on #13952
@Rugvip would you be open to a PR to add this to the Backstage Proxy Plugin? Alternatively, we'll need to create a separate plugin and that seems like a waste.

[2022-10-06 12:48] Rugvip commented on #13952
@taras see the [proxy section in the threat model](https://backstage.io/docs/overview/threat-model#proxy) for why proxy plugin isn't a great fit.

For this particular use-case I think a `BitbucketCloudCredentialsProvider` or something like that is the way to go. That's the way we really want to be injecting custom logic for auth towards external integrations. Especially as the new backend system i

[2022-10-06 12:48] freben commented on #14018
Pretty sure it would be the same, and that it just reported the first error it saw or something like that. You can see at the end that it says `ref=MGN`, so it completely failed to parse the URL correctly.

[2022-10-06 12:51] taras commented on #13952
@Rugvip got it, that's a good point. Thank you

[2022-10-06 13:29] taras commented on #13994
@jhaals I'm not sure they're entirely just warnings.

For example, I just ran  `yarn backstage-cli versions:bump --release next --pattern=@backstage/core-app-api` on http://github.com/thefrontside/backstage and I get this.

`yarn backstage-cli versions:check`

<img width="752" alt="image" src="https://user-images.githubusercontent.com/74687/194324685-3314ad93-4607-45e6-ba16-455ae9c6d96a.png">

`ya

[2022-10-06 13:30] jvilimek opened #14020 "Kubernetes plugin system & team overview"
Kubernetes plugin is great for having an overview about a single service. But if a team has multiple services grouped under one system or namespace and wants to see if everything is OK? Lot's of clicking. Let's support also "system" and "team" cards.

## Feature Suggestion

Now the Kubernetes card is "out of the box" supported only for service. At least in the example app, thanks to the following

[2022-10-06 13:44] jhaals commented on #13999
Hi! Sorry to hear that you're having problems.
It sounds like some of the arguments for permissions or token manager is not passed properly to the backend plugin. I would really double check that the wiring, perhaps comparing it to a new app or using the [example app](https://github.com/backstage/backstage/blob/master/packages/backend/src/index.ts#L65-L102) to see that all of the required services

[2022-10-06 13:47] jhaals commented on #12017
Hi! Could you provide some additional context to how this manifests itself for you currently. How are you stopping the service and what processes do you see?

[2022-10-06 14:18] #13359 closed

[2022-10-06 15:02] kamil-wojcik opened #14023 "Yarn build uses local config instead of production"
## Expected Behavior

When building application production config  app-config.production.yaml should be used.

## Actual Behavior

Instead of app-config.production.yaml, app-config.local.yaml is used.

## Steps to Reproduce

1. setup backstage project
2. run `yarn build`
3. when build is run its reporting that
[code]
## Context

This affects my because my prod config has customize base path for ap

[2022-10-06 15:08] SSKLCP commented on #13938
Thanks, I believe the issue in the end was to do with the token not having permissions to create a new repo. Corrected now and get past that step (with another error but I'll try and work through that one!)

Thanks again :)

[2022-10-06 15:08] #13938 closed

[2022-10-06 17:14] sennyeya commented on #14023
This is expected behavior for the base `yarn build` which by default is meant for local development.

See https://backstage.io/docs/conf/#supplying-configuration.

[2022-10-06 18:00] GoFightNguyen commented on #13992
I thought the switch to `USER node` happened in backstage v1.6.0 🤷🏽

We only encountered this error when building the image in our GitLab pipeline. The specific build-image job relies on `docker:stable` and a service of the `dind` variant of docker.

Sure, I'll add something

[2022-10-06 18:10] anilazaidi opened #14026 "Add/improve labels in banner when viewing an entity from Docs"
When viewing an entity from the **Docs** link, the banner may confuse users for the following reasons:

* The "Component" label is misleading; a `kind: Resource` entity can also have documentation
* The `<>` icon may not be intuitive to non-technical users

<img width="1419" alt="image" src="https://user-images.githubusercontent.com/52043997/194387050-0489d608-d0e1-4061-8093-6c4d8d46000c.png">

##

[2022-10-06 19:50] pjungermann commented on #13531
PR #13931 might be of interest for you @NishkarshRaj

Feedback welcome

[2022-10-06 20:05] froblesmartin commented on #4945
@ChrisJBurns is the idea to make that one official once it is a little bit more developed?

[2022-10-06 20:30] kumarnil commented on #13999
Here is **packages/backend/src/index.ts** file which looks good to me.

import Router from 'express-promise-router';
import {
  createServiceBuilder,
  loadBackendConfig,
  getRootLogger,
  useHotMemoize,
  notFoundHandler,
  CacheManager,
  DatabaseManager,
  SingleHostDiscovery,
  UrlReaders,
  ServerTokenManager,
} from '@backstage/backend-common';
import { TaskScheduler } from '@backstage/back

[2022-10-06 22:45] klubi commented on #14009
It turned out that modifying attribute does work :)

[2022-10-06 22:45] #14009 closed

[2022-10-07 02:55] Abhay-soni-developer commented on #5742
this would help a lot to create more versatile templating actions. would definitely love to have this

[2022-10-07 06:58] NishkarshRaj commented on #13531
Awesome stuff! Looking forward to using your great work 💯

[2022-10-07 07:12] kamil-wojcik commented on #14023
However docs about docker and building docker image do not mention anything about that its only for local. This not very useful. Usually docker is used to build image locally or in CI server and run it somewhere else.

See [https://backstage.io/docs/deployment/docker](https://backstage.io/docs/deployment/docker  )

Ideally docker image should be env agnostic and config should be mounted as volume.

[2022-10-07 08:27] jhaals commented on #14013
Hi @Niksko!

Thanks for sharing this in an issue! This is very similar to the problems defined in #13959 and I'm not sure if we should move this discussion over there or keep it here.

In any case I think we should investigate the possibility of doing some additional "processing" to EntityProviders, as they are essentially controlled by the integrator it allows us to potentially do a bit more work

[2022-10-07 08:40] Niksko commented on #14013
@jhaals I agree it solves the same issue, but the approach is quite different. Happy to merge this discussion into that one, but I explicitly created this separate issue because the desire in #13959 seemed to be to holistically address the issue of 'rogue' locations which could end up in the catalog for a number of reasons. This issue is more about avoiding them getting into the catalog in the fir

[2022-10-07 09:01] benjdlambert commented on #12990
Think this can be close as completed in the previous issues. Please let us know if we've missed something! :pray:

[2022-10-07 09:01] #12990 closed

[2022-10-07 09:02] #13730 closed

[2022-10-07 09:36] justinjao commented on #12016
Hi @Rugvip (and others!) - is this issue still free to work on? If so, I'd like to take a crack at it!

I'm Justin! I'm new to Backstage, and open source in general, but would love to try my hand at contributing!

[2022-10-07 10:13] chrissi517 opened #14033 "Command "RUN chown node:node /app" is missing in Dockerfile at upgrade-helper Version 0.4.31"
## Expected Behavior
Documentation of upgrade-helper  is  correct and can be followed without problems

## Actual Behavior
Actual documentation upgrade-helper is not correct.
Missing command `RUN chown node:node /app` in Dockerfile

[code]

## Steps to Reproduce
Run upgrade-helper from Version 1.5.0 to 1.6.0
see https://backstage.github.io/upgrade-helper/?from=1.5.0&to=1.6.0

Insert in  Dockerfile

[2022-10-07 10:44] hill-giant commented on #11064
I'll not i NB o  v js

On Fri., Oct. 7, 2022, 10:58 github-actions[bot], ***@***.***>
wrote:

[2022-10-07 11:14] ChrisJBurns commented on #4945
@froblesmartin  I believe so. @vinzscam  Can confirm :+1:

[2022-10-07 11:16] shailendra-ahir-cbre opened #14037 "Table Search does not work correctly (Sometimes) when we have grouped rows in the table"
## Expected Behavior
We have a table in our page where we have grouped the rows in a parent child relation by using the parentChildData prop to the table. When we are searching an entity on the table, filtering is not happening and the same results are shown which were there without search term. (Search is a No op)

It is working fine for non grouped single entity per row tables.

## Actual Behavi

[2022-10-07 11:20] shailendra-ahir-cbre commented on #14037
It could be related to the data also. If an entity has two parents (out of sync entities between backstage re-processing) this issue can occur.

[2022-10-07 11:48] marcofaggian commented on #13831
Hi, I've worked on this (first contribution! 🎉).
I had to rework the Radar component and it's utils to an "immutable" data management (to avoid side effects). Plus had to refactor RadarLegend in its single components.

Published PR: #14038

[2022-10-07 12:26] Rugvip commented on #12844
Just wanna chime in and say that this is still very much something we're interested in if it's something you want to drive. We're a bit swamped up until BackstageCon + KubeCon, but happy to hop on a call sometime after to discuss ways forward.

[2022-10-07 12:33] #12562 closed

[2022-10-07 12:36] marcofaggian commented on #13015
Hi @Znarvl @awanlin, I'm willing to help!
@Znarvl are you still on it?

[2022-10-07 12:42] Znarvl commented on #13015
@marcofaggian Yeah I'm working on it, hopefully I'll fix a pull request in the beginning of next week

[2022-10-07 13:36] OrkoHunter commented on #14026
@anilazaidi Great observations! Both of the suggestions definitely make sense 💯

[2022-10-07 13:44] marcofaggian commented on #13015
Hi, I was curious about how to get the date data and figured out:
- yaml file stats are all related to `git clone` moment
- date can be found using git history: `git log -1 --format="%ai" --reverse buildkite.yaml | cat -`

But this means that git must be a dependency at build time, is this a good-enough solution?

[2022-10-07 14:01] no1melman commented on #13500
Yeah, I believe I did, just did `:{raw_token}`

[2022-10-07 15:02] marcofaggian commented on #13015
Could not resist to the css challenge:
![Schermata 2022-10-07 alle 16 55 50](https://user-images.githubusercontent.com/19221001/194584931-fa0d191e-25ca-47bd-bb0e-8086798d13da.png)
What do you think about it?

[2022-10-07 15:35] sennyeya commented on #14023
The docker configuration supplied there works for the out of the box Backstage experience, it's expected that your Git instance will not include `app-config.local.yaml` per https://github.com/backstage/backstage/blob/master/packages/create-app/templates/default-app/.gitignore.hbs. Then `yarn build` in your CI server will only be operating on `app-config.yaml`.

There is currently no easy way to ha

[2022-10-07 15:48] Sonofigma commented on #2827
Okay, will be update the issue soon with a solution

[2022-10-07 16:18] tragiclifestories commented on #5742
@Abhay-soni-developer this was implemented! for an action you can give it an `if:` property:

[code]

[2022-10-07 16:25] taras commented on #13593
Resolved in #14022

[2022-10-07 16:25] #13593 closed

[2022-10-07 16:43] utkarsh867 commented on #14026
These seem to be quick fixes that I can work on :)

[2022-10-07 17:25] mtlewis commented on #13981
This is a really interesting question. Today, the catalog only asks for authorization _without_ a resource when filtering entities, and that happens before hitting the DB, we will always have a result of ALLOW, DENY, or CONDITIONAL by the time we go to the database. Even if we add some post-DB per-record filtering, we would need a third status to represent the fact that the policy doesn't support

[2022-10-07 17:34] mtlewis commented on #13981
Note by the way, that even once we've addressed the above, we'll need to think carefully about how we handle record-by-record authorization. This is a thorny area, since it doesn't play nicely with pagination. The user will have asked for a specific number of entities at a specific offset, and if for example the permission policy is extremely restrictive, such that only a very small subset of enti

[2022-10-07 17:39] clareliguori commented on #12844
Yep, I'm planning on putting up a draft PR soon, just finding the time to put it together :smile:

[2022-10-07 17:47] mwz opened #14042 "[FileReaderProcessor, GithubDiscoveryProcessor] Detected conflicting entityRef after renaming the entity definition file"
Hello,

I'm using the file reader processor as a source for my catalog location when running Backstage locally. It's set up with a wildcard target, so .e.g I have a single folder with multiple files, let's call it `catalog` and the target is configured as `catalog/*.yaml`. I've noticed that changing a name of any of the entity definition files causes the catalog processor to throw the following wa

[2022-10-07 18:45] snake163 commented on #4221
Is anyone using or considering using [Pendo](https://www.pendo.io/) with Backstage?

[2022-10-07 18:47] waldirmontoya25 commented on #4221
Is anyone using or considering using [Pendo](https://www.pendo.io/) with Backstage?

[2022-10-07 20:19] vinzscam commented on #13981
Yeah, I share all the concerns expressed above.
It doesn’t look like it would be possible to build something scalable using this approach, given that you are using an external system for performing authorization. More specifically, let’s say the catalog returns 10k entities, what do you do? Do you send 10k REST requests to the external system or a single big request containing everything? Neither

[2022-10-07 21:09] felippem commented on #12302
@jhaals Do you have any idea how to solve this problem?

[2022-10-07 21:31] sennyeya commented on #13981
Thanks for the input y'all and I definitely agree. It 100% ends up as a scalability problem for larger catalogs.

I guess I'm still confused by why search has it implemented in the first place, why would we want just search to do resource level authorization checks and not the overall catalog? I'd expect to be able to do resource-level authorization across the entire catalog, if it's enabled initi

[2022-10-07 23:16] nvpnathan commented on #14033
Running into the same issue in my CI build environment.

[2022-10-08 06:14] mtlewis commented on #13981
The problem with resource-level authorization is that it doesn’t mesh well with database-backed paginated queries. If an individual authorisation is needed for every entity, then you have to:
1. Load a page of data from the DB
2. Run authorization for each entity, filter out unauthorized
3. Load more entities to fulfil the initial page size on the request and authorise them too, repeating as neces

[2022-10-08 06:24] mtlewis commented on #13981
The proxy approach sounds like a great idea to me too - it means you can build a solution that works for your individual use case, which is likely a lot more manageable than trying to solve this in a general-purpose way in catalog-backend.

[2022-10-08 10:57] kumarnil commented on #13999
Could you pls suggest any solutions to fix this issue?

[2022-10-08 12:27] barmatz commented on #2521
+1

[2022-10-08 17:45] webark commented on #13959
The approach we have taken is rather than create a location for every repo, but we do a search for catalog files, and only create locations for the ones that exist. we are using custom providers though (which are pretty easy to write) instead of the provided ones.

(and I still need to write the RFC about switching prossesing to a queue as well, but have been busy with other concerns at the time :

[2022-10-08 22:18] kissmikijr commented on #13959
@webark Yea, that is a valid approach that would be this ticket: https://github.com/backstage/backstage/issues/14013
But it still wouldn't solve the core problem. It would still be possible to make your catalog in a state where the optional locations are being tried. I'd like to solve the core problem on the catalog level here and not rely on the provider implementation.

Plus going for a pre chec

[2022-10-08 22:25] webark commented on #13959
I'm not meaning validate it exists with an extra request before, but do a search that's like "all repos that have a file at `/catalog-info.yaml`".

So then the provider only makes how ever many requests it take to get through the search paginations, and only creates named locations for the results. And then those locations that do exist just run through the processor.

The next step is to only mak

[2022-10-08 22:55] kissmikijr commented on #13959
Oh this is nice! I didn't know you can do this! :) Thought we'd need to brute force it!

[2022-10-08 23:30] taras commented on #13959
Unfortunately file search is not reliable on GitHub Enterprise because it’s restricted to first 1000 results. It’s not possible to query more.

[2022-10-08 23:46] andrewthauer commented on #13959
If you rely on having the `catalog-info.yaml` file in a consistent location (e.g. root of repo) you could use the GitHub GraphQL API to do this. The following query would return an id of the `catalog-info.yaml` file, if it exists for each repo.

[code]

[2022-10-09 00:00] webark commented on #13959
Yea. We require all catalog files to be at the root. If you have a mono repo and have multiple entities in a single repo, we either have it be a location that points to the other files, or (generally in the case of system definitions) have multiple (like a location that points to all the other catalog files and a system definition).

[2022-10-09 00:28] andrewthauer commented on #14013
@Niksko - Have a look at my suggestion in issue #13959. I believe this will accomplish your goal without using the search API.

https://github.com/backstage/backstage/issues/13959#issuecomment-1272414423

[2022-10-09 00:37] Niksko commented on #14013
This is a great suggestion and does avoid the search API, but what do we do about users who want the wildcard feature that is currently available in the configuration of this provider?

Perhaps I'll just put up a PR with this simple solution to get us part of the way there, and then think further about how to use search. One suggestion I've found to get around the API limitations is that you use d

[2022-10-09 02:36] taras commented on #13959
That’s a nice one

[2022-10-09 07:58] Rugvip commented on #2521
I would still very much recommend using `app-config.local.yaml` with inline secrets for any local customizations, overriding the environment variables that might be ther by default. It's a lot more powerful and lets you do deeper customizations than you could ever do with environment variables.

We're very hesitant to introduce additional concepts and files into the config system, since it increas

[2022-10-09 14:26] taras commented on #13959
@andrewthauer I used the GraphQL query you suggested above to create a POC of an incremental [GitHub Discovery Entity Provider ](https://github.com/thefrontside/backstage/pull/88/files#diff-000c215f8e9c8d930dd4d50659c82df9ca83bb6f4401ca792d4dfe48a899d927)

A few interesting takeaways from this experiment,

1. It's not using locations, so there is no way to manually trigger a refresh request. In th

[2022-10-09 16:10] #12824 closed

[2022-10-09 18:57] #9941 closed

[2022-10-09 20:50] webark commented on #13959
That's looking good in my opinion!

[2022-10-09 21:57] #13560 closed

[2022-10-09 23:07] waveywaves opened #14055 "Investigating improving Developer Productivity using Pull Request Environments"
Uffizzi is an open-source engine which helps create Pull Request Preview Environments. This issue will help track progress on implementing and updating Uffizzi preview environments for Backstage.
Disclaimer: I work on Uffizzi
After discussions with @jhaals and @benjdlambert  to integrate Uffizzi for Backstage, I have decided to create this issue which will help track progress with Pull Request Env

[2022-10-09 23:49] atoko commented on #13873
Tracked by #14056

Currently only ScmIntegrations and UrlReader interfaces have been implemented, and I'm working on the unit tests for the latter

[2022-10-10 06:26] Znarvl commented on #13074
Hello, is this issue still worked on or could I take it? I'm new to backstage and would like to contribute :)

[2022-10-10 06:38] gibsonliketheguitar commented on #13074
Hey @Znarvl you can take over!. I've been busy with other stuff.

Where I got stuck on.
I tried tracing to where the certificate is created and tried the local dev route. But in order to test and confirm that node-froge is working, I think you need to deploy it to docker. I haven't gotten around setting up docker and stuff

Good luck!

[2022-10-10 06:44] Znarvl commented on #13074
Alright, thanks!

[2022-10-10 07:42] ehrnst commented on #633
Hi. Is there any active development on Linkerd support for backstage?

[2022-10-10 07:55] namco1992 commented on #13901
I skimmed over the code and didn't notice anything exceptional, @Xantier would you mind shedding some light on this?

[2022-10-10 08:54] #12956 closed

[2022-10-10 08:54] #12004 closed

[2022-10-10 08:54] #9415 closed

[2022-10-10 10:21] #4328 closed

[2022-10-10 10:47] afscrome opened #14059 "Inconsistent casing of entity "type" on Catalog page"
## Expected Behaviour

When viewing the catalogue page, I'd expect the casing of different types to be consistent between the filters and the table view.

## Actual Behaviour

In filters, the type is capitalised, whereas in the type is lower cased.

Repo: https://demo.backstage.io/catalog?filters%5Bkind%5D=component&filters%5Buser%5D=owned
![image](https://user-images.githubusercontent.com/289860/

[2022-10-10 12:40] benjdlambert commented on #633
@ehrnst hey :wave: so long story short is that this was something I picked up as a spare time thing, and then Backstage exploded so not really had much time to look at finishing it off. Is it something that you would like to help build?

:pray:

[2022-10-10 12:49] ehrnst commented on #633
I would really like a feature where we could identify if documented dependencies are different from what linkerd sees. However, I do not have any skills required for doing any coding here ☹️

Sent from Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Ben Lambert ***@***.***>
Sent: Monday, October 10, 2022 2:40:14 PM
To: backstage/backstage ***@***.***>
Cc: Martin Ehrns

[2022-10-10 12:58] kissmikijr commented on #13959
I am thinking maybe do not delete the rogue Locations but flag them? Something similar to how the orphan entities are being flagged?

When an entity meets a criteria that it did not provide anything to the catalog add an annotation:
`backstage.io/rogueLocation: true` (obviously the name can be anything, just wanted to refer to it somehow)
And then the individual backstage maintainers can decide on

[2022-10-10 14:01] mtlewis commented on #13979
Hi @sennyeya! Sorry for the slow reply here. It looks like you've uncovered a problem with the tutorial, which incorrectly includes a `value` property on the response from `toQuery`. In fact, the filter returned here is the same one used in the rest of the catalog, and as such only supports `key` and `values`. I'll open a PR shortly to update the docs!

[2022-10-10 14:20] anilazaidi opened #14062 "As a Backstage user, there's no visual difference between `experimental` and `production` entities"
Currently, `experimental` and `production` entities have the same banner styles; the only difference between the two is under "Lifecycle" which a user can easily miss:

_experimental entity_

<img width="1238" alt="image" src="https://user-images.githubusercontent.com/52043997/194886896-221b8cde-f182-4bf4-ae8f-142d7e1b2056.png">

_production entity_
<img width="1228" alt="image" src="https://user-

[2022-10-10 14:24] andrewthauer commented on #13959
@taras - This is an interesting approach of not using locations. I haven't dived into how EntityProviders work under the covers, but since this doesn't use the regular processing loop, would you not bypass any additional catalog processors? For instance, we have quite a few custom processors that enrich the entities with additional information. So, if we went with a similar discover approach we wo

[2022-10-10 14:41] andrewthauer commented on #2521
I'll also mention again that using a combination of the preferred `catalog-info.local.yaml` and something like [direnv](https://direnv.net/) can easily simulate native `dotenv` support. At least for local development.

[2022-10-10 14:43] sennyeya commented on #13979
Would it also make sense to update the type? Having the `value` parameter supported by Intellisense makes creating ad-hoc policies confusing to start off with.

[2022-10-10 14:45] #13981 closed

[2022-10-10 15:04] mtlewis commented on #13979
Docs PR: https://github.com/backstage/backstage/pull/14063

[2022-10-10 15:11] taras commented on #13959
@andrewthauer, all processors run on all entities committed by all entity providers. Entities are processed the same way, just faster because the processing loop is not used for reading external services.

[2022-10-10 15:13] anilazaidi opened #14064 "As a Backstage user (i.e., not entity owner), the copy for missing docs is a little confusing"
Currently, a user sees the copy/image below when an entity doesn't use the annotation for TechDocs:

<img width="1425" alt="image" src="https://user-images.githubusercontent.com/52043997/194892124-5fb98a61-b047-4133-9b2b-d57cd1dc5fb8.png">

Not all Backstage users are entity owners, so this may cause confusion (e.g., "The copy says I need to do something, but I didn't even add this entity...")

##

[2022-10-10 15:18] martinezhermes commented on #10323
Hello, maybe @LvffY had a cache problem, but I can't make it work either, I'm having the same error, with the same setup in a local machine, following the getting starter guide. None of the instructions in the getting started guide seem to work as intended, is that documentation up to date?

[2022-10-10 15:31] martinezhermes opened #14066 "Could not fetch catalog entities on a all new deployment"
## Expected Behavior

I'd like to run backstage in my local environment. To do this, I'm following the steps in the [gettings-started guide](https://backstage.io/docs/getting-started/).

## Actual Behavior

This happens:
![image](https://user-images.githubusercontent.com/37327656/159118419-c094d2e3-b75a-4506-87ac-8857d071af5f.png)

## Steps to Reproduce
[code]

## Context
I'm just trying to get st

[2022-10-10 15:33] soapraj commented on #13940
Hi! @punkle - I haven't tested this right now but I believe there is support for downloads of files within the /docs folder if you add a `download` attribute to the link tag like below

```[json](./test.json){: download }```

Can you try this and let us know if that works?

[2022-10-10 15:37] kissmikijr commented on #13959
I do not see the EntityProviders as a solution to the problem. The probelm is still there, anyone could add anytime they want any number of rogue locations to your catalog. Which would end up being silently refreshed in the background, costing you resources and potential exhaustion of your ratelimits.
It is definietly good to not put these in the first place, but this doesnt mean they cannot exist

[2022-10-10 15:40] taras commented on #13959
@andrewthauer it just occurred to me that for repositories without a `catalog-info.yaml` file, we could ingest them at the same time. I'm going to modify my POC to accept a mapper function that will be called when `catalog-info.yaml` is not present. This approach can provide a natural onboarding from unmanaged to managed repository.

[2022-10-10 16:04] sennyeya commented on #13979
It looks like the type definition for `EntitiesSearchFilter` is
[code]
but
[code]
has no Intellisense complaint. I can see that we would want this to be extensible, but if we're only currently allowing `key` and `values` as the only valid properties, not sure why the typing isn't catching this?

This (I think) means that
[code]
is matching something weird, since the type isn't coming through as ju

[2022-10-10 16:12] andrewthauer commented on #13959
@taras - You could even expose a mapping function for all repos and provide a default implementation to process only valid catalog files. Another use case I thought of based on this would be indicate if a repo is actually a monorepo and thus should be handled differently.

For example, say you don't want to maintain a locations entity kind in the root of the monorepo that points to all child locat

[2022-10-10 16:14] mtlewis commented on #13979
I think it's more fundamental than that. Typescript allows extra properties in some situations, and one of those situations is in the return values of function parameters. See [this minimal playground example](https://www.typescriptlang.org/play?#code/C4TwDgpgBAYg9nA8gIwFYQMbCgXigbygDMEAuKAZ2ACcBLAOwHMoBfAbgFgAobjOeqlAA2cRvDi4oACkYRgAYX7AI9YOSkBKXAD5YCFOixacu-NyhQ+AuEIgA6EYxlzFqlcE12ScDZy4tubkdxKU

[2022-10-10 16:17] #12909 closed

[2022-10-10 16:17] benjdlambert commented on #12909
Thanks again @dagda1!

[2022-10-10 16:20] sennyeya commented on #13979
You learn something everyday, very interesting behavior. Thanks for sharing!

Is there a case where `values` being undefined is a useful filter? It looks like the catalog query specifically filters that case out.

[2022-10-10 16:53] mtlewis commented on #13979
Hmm - where are you seeing that? Here's one place where entities are filtered using `EntitiesSearchFilter`s, and in this case, the key filter is always added, along with a value filter if values are present.

I believe one example use case for key-only filters is filtering for entities that have a specific [annotation](https://backstage.io/docs/features/software-catalog/well-known-annotations).

[2022-10-10 17:46] sennyeya commented on #13979
Ahh, that makes sense. I misread the query that you referenced, I thought https://github.com/backstage/backstage/blob/master/plugins/catalog-backend/src/service/DefaultEntitiesCatalog.ts#L100 was the only where clause.
Feel free to close this when the PR goes through.

[2022-10-10 18:16] karlbrown-va opened #14069 "Documentation for github-project should explain this is a repository"
## Feature Suggestion

Update this text: https://backstage.io/docs/features/software-catalog/well-known-annotations#githubcomproject-slug
[code]

This text suggests that you are linking to a github project (https://docs.github.com/en/issues/planning-and-tracking-with-projects/learning-about-projects/about-projects) - however I believe the intent is to link to a repository.

## Possible Implementat

[2022-10-10 20:30] taras commented on #13959
@andrewthauer I updated my POC to use the [mapper function](https://github.com/thefrontside/backstage/pull/88/files#diff-000c215f8e9c8d930dd4d50659c82df9ca83bb6f4401ca792d4dfe48a899d927R65). I really like how only needed to modify one line in the entity provider - everything else is in the mapper function.

[2022-10-10 20:43] anilazaidi commented on #14026
Thank you so much!!

[2022-10-10 21:04] awanlin commented on #14026
Hi @anilazaidi and @utkarsh867, for this item: "The "Component" label is misleading; a `kind: Resource` entity can also have documentation" should the solution not be to use the Kind name? So in the example should it not say Resource for a Resource or API for an API? I don't think "Entity" is generally used in the UI

[2022-10-10 21:22] marcofaggian commented on #13015
@Znarvl do you wish to provide your code as solution? Happy to go that way!

If not, I can open a PR and let @awanlin try out the solution, if it fits timings and usability (the git lookup is pretty impactful).

[2022-10-10 21:35] pjungermann commented on #13959
At the `BitbucketCloudEntityProvider` I don't create optional Locations but only required ones for existing catalog files which were discovered using code search. This works for monorepos with multiple catalog files at different levels, too.

This approach does not work for all entity providers though and depends on what is possible with the APIs. On the other hand, maybe it is better to check the

[2022-10-10 23:54] mheidal-dataminr opened #14071 "Table is formatted incorrectly in core-components reference documentation"
In the reference documentation for the core components, [accessible here](https://backstage.io/docs/reference/core-components), the table formatting breaks down after the code section.

## Expected Behavior

Page should render a table.

## Actual Behavior

Page renders a single paragraph with pipe characters separating what are meant to be table rows and columns.

## Steps to Reproduce

View webpa

[2022-10-11 08:21] #10603 closed

[2022-10-11 09:48] Nitinvonage commented on #13882
I Checked the nightly build(0.0.0-nightly-20221011025843), its still giving me the below warning
`(node:25725) MaxListenersExceededWarning: Possible EventEmitter memory leak detected. 11 abort listeners added to [EventEmitter]. Use emitter.setMaxListeners() to increase limit`

Also i wanted to know is this a good practice to run Catalog & Techdocs collator with different scheduled task runner like

[2022-10-11 10:29] jhaals commented on #14071
Good find! We should fix that, are you interested in taking a look? 🙏

[2022-10-11 10:30] jhaals commented on #14069
Yes we should change it to "identifies a repository on GitHub", would you be willing to fix this? :)

[2022-10-11 10:31] jhaals commented on #14066
Hi, please verify you console to see if you have any errors. Otherewise you can try `yarn start` and `yarn start-backend` in another terminal to separate them to ease debugging.

[2022-10-11 10:34] jhaals commented on #14059
We should probably lowercase the sidebar in that case, feel free to give it a go :)

[2022-10-11 10:36] jhaals commented on #14055
Hi,

PoC worries us a bit for this given that our maintainer team is really small it's important that this new functionality is somewhat stable and does not require a whole lot of tweaking going forward. Would you like to continue develop this outside before re-opening a PR to add ufizzi to backstage?

[2022-10-11 10:41] jhaals commented on #14033
Have you tried moving over to the `--chown` flag when COPYing the files? Somewhat related #14028 as well

[2022-10-11 10:44] jhaals commented on #14023
Indeed this is perhaps not perfect when you have a local config.
We should add a `--config` option to `backstage-cli repo build`. Anyone interested in fixing this? 🙏

[2022-10-11 10:45] jhaals commented on #14020
@backstage/warpspeed

[2022-10-11 10:48] p-kamath commented on #3734
How do we reduce the catalog refresh limit?

[2022-10-11 10:51] jhaals commented on #13994
Very specific bumps like this is not really why we have the pattern, it's more for bumping a specific namespace or plugins. For this example with just bumping @backstage/core-app-api you must bump the app defaults package as well as it depends on it.

[2022-10-11 10:57] jhaals commented on #12016
Hi @justinjao, you are very welcome to give it a go 👏

[2022-10-11 12:05] dmitry-lobanov commented on #8146
Hi everyone,
I had some time to work on this issue, created a PR #14050
- aligned import references of Link component
- [added a lint rule](https://github.com/backstage/backstage/pull/14050/commits/5b38b1bae7197542fff9a12e237c187b81ef6f4a) (please let me know if there's a better place for it)

[2022-10-11 12:47] taras commented on #13994
@jhaals thank you for discussing this issue with me. My goal was to surface this scenario in case others might find themselves in a similar situation. We've done that now, so we can close this issue :)

[2022-10-11 12:47] #13994 closed

[2022-10-11 13:12] benjdlambert commented on #13999
Hey :wave: is it only this page that fails? do you get 403 errors around the project on other pages? Do you have permissions turned on? Or do you maybe have the `auth-middleware` enabled somewhere? Sorry for the dump of messages, just trying to cover a few bases.

[2022-10-11 13:44] anilazaidi commented on #14026
Hi @awanlin , to be honest, and this is just a personal opinion, I wish the UI used the term "entity" rather than "component". Mainly b/c this is the term used in Backstage docs and it eliminates the confusion with `kind: Component`...

<img width="1281" alt="image" src="https://user-images.githubusercontent.com/52043997/195107582-fd3c8659-541a-45dc-9b00-df8ff0b159e4.png">

But it sounds like you'

[2022-10-11 14:03] freben commented on #10605
@mufaddal7 I hadn't seen that comment before - is this still the case?

[2022-10-11 14:05] awanlin commented on #14026
Hi @anilazaidi, that's fair and I agree with your original comment that having this say "Component" when you are looking at a "Resource" would be confusing, sorry if that wasn't clear. I see Entity as being a generic term for all Kinds, but if we have the information to provide the proper detail then we should. This also gets us a bit of consistency with the Catalog views where it does that alread

[2022-10-11 14:56] kumarnil commented on #13999
All pages are loading correctly except template. None of the template is loading.

We do have auth setting to open this app. However rest other permissions are default settings of backstage.

[2022-10-11 15:01] jinnjwu opened #14080 "workflow on software template， workflow system likes Argo workflow， or airflow"
## Feature Suggestion

## Possible Implementation

## Context

[2022-10-11 15:42] jessebye opened #14081 "plugin-sonarqube-backend uses incompatible winston version"
## Expected Behavior

After installing `plugin-sonarqube-backend` and adding it to the backend plugins as described [here](https://github.com/backstage/backstage/tree/master/plugins/sonarqube-backend#integrating-into-a-backstage-instance), the typescript compile should be successful and the plugin should work.

## Actual Behavior

The typescript compile fails:

[code]

## Steps to Reproduce

1. Fo

[2022-10-11 16:10] sennyeya commented on #14023
Happy to take a stab at it, but I believe I had a discussion with @Rugvip in https://github.com/backstage/backstage/pull/13896 about frontend only configs (which if I'm understanding correctly is what this is). I think this would be solved by https://github.com/backstage/backstage/pull/13927 which could be passed in at build time.

[2022-10-11 16:13] jessebye commented on #14081
I found that updating https://github.com/backstage/backstage/blob/master/plugins/sonarqube-backend/package.json#L32 to use `^3.2.1` resolved the error. If this seems like a reasonable solution, I can create a PR to make it permanent.

[2022-10-11 16:43] anilazaidi commented on #14026
Makes sense!

[2022-10-11 20:15] taras commented on #13994
@jhaals I forgot that you suggested we rephrase this feature request as a bug to remove the extra warnings. Do you still want me to do that?

[2022-10-11 20:40] taras opened #14084 "Make it easier to merge configuration into config at runtime"
## Context

Related #13952

We're experimenting with different ways to satisfy security requirements for one of our clients, where they're not allowed to use environment variables to store secrets. We tried a bunch of different approaches; one of them is to load secrets before reading configs and merging them into configuration. This proved surprisingly difficult.  We tried to modify `main()` in `

[2022-10-11 20:50] sennyeya opened #14085 "Frontend Subroute Fails to Correctly Route in Local Development"
## Expected Behavior

When a user navigates to `http://localhost:3000/{basePath}/`, they should be delivered to `http://localhost:3000/{basePath}/catalog`.

## Actual Behavior

When a user navigates to `http://localhost:3000/{basePath}/`, they are navigated to `http://localhost:3000/catalog` causing the entire webpage to fail to render anything.

## Steps to Reproduce

Testing with this project's

[2022-10-11 21:05] taras commented on #13959
FYI: tomorrow, October 12th, at 10 AM EST, we're hosting a discussion on this RFC.  Feel free to pop into this thread for details https://discord.com/channels/687207715902193673/1029071173893492776

[2022-10-11 22:53] justinjao commented on #12016
Hi @jhaals - thanks for getting back to me! I'll try and give it a shot. Just managed to finish setting it up locally (I think).

Currently trying to read through the documentation regarding `proxy auth providers` above, and how exactly to set this up, so that I can reproduce the issue. I'm also reading through setting it up with [Google IAP](https://backstage.io/docs/auth/google/gcp-iap-auth), an

[2022-10-11 23:55] kumarnil commented on #13999
Looks like 'jose.jwtVerify' method of @backstage - 'plugin-auth-node'  failing and throwing exception.

 const decoded = await jose.jwtVerify(token, this.keyStore, {
      algorithms: this.algorithms,
      audience: "backstage",
      issuer: this.issuer
    });

[2022-10-12 04:25] Xantier commented on #13901
The scheduler has been switched over to use the built-in task runner which supports multiple instances. I believe the docs have staled out on that modification and multi-instance is actually supported.

[2022-10-12 06:59] rpahli commented on #12302
A workarrond could be to name your css file like this:
`main.efefa009.min.css`
then the plugin will grap your file.
The regex is: `/main\.[A-Fa-f0-9]{8}\.min\.css$/`

[2022-10-12 07:12] Znarvl commented on #13015
I kinda got stuck and got unmotivated when a solution got proposed, so go ahead and create a PR!

[2022-10-12 09:31] marcofaggian commented on #13015
Sorry to hear that @Znarvl !

I've actually another idea for this page: It would be great to convert it to something like [Slack's app public directory](https://slack.com/apps) with missing features like:
1. Search
2. Category navigation
3. Single plugin, dedicated onboarding page

A solution could be a Next.js ISR dedicated website, incrementally regenerated on `plugins/<plugin>.yaml` append.

Bu

[2022-10-12 11:16] namco1992 commented on #13901
Cool! Thanks for the confirmation @Xantier. Then I will open a PR to update the doc.

[2022-10-12 12:28] awanlin commented on #13015
@marcofaggian I appreciate the ideas, it's for sure eventually what I'd love to see and I actually have an issue for adding a Category Filter here: https://github.com/backstage/backstage/issues/13014.

I think it's important to note that more than this page lives here, all the documentation for Backstage, as well as autogenerated code docs, and other material are in this site so moving to a differ

[2022-10-12 15:29] waveywaves commented on #14055
Hey @jhaals,
yes the behavior with forking is something we are working through. Thanks for the feedback.
The PoC right now works well and I understand your concern, I want to get you a PoC that will reflect your day to day.
We will thoroughly test it and open a new PR then.

[2022-10-12 17:14] Vikki123 commented on #14071
@jhaals Could you please assign this to me ?

[2022-10-12 18:52] srd90 opened #14112 "passport-saml <= 3.2.1 has signature bypass vulnerability"
See
1. https://github.com/node-saml/passport-saml/security/advisories/GHSA-m974-647v-whv7
2. https://github.com/node-saml/passport-saml/releases/tag/v3.2.2

Workaround (according to security advisory): Disable SAML authentication.

`backstage`'s current `passport-saml` version:
https://github.com/backstage/backstage/blob/2bb7fa54d76b1190274e9430cb49279af469b79f/plugins/auth-backend/package.json#L7

[2022-10-12 21:52] asselin commented on #12031
Bump

[2022-10-13 11:20] awanlin commented on #9090
@Rugvip thanks for the tip, that made this pretty easy. I have a PR with the change ready for review: https://github.com/backstage/changesets-action/pull/3.

[2022-10-13 12:53] awanlin commented on #13952
Just wanted to mention that this has come up often on Discord where people want to be able to pull this from Vault without using Environment Variables

[2022-10-13 13:14] namco1992 commented on #13901
Hi @Rugvip @Xantier, opened PR https://github.com/backstage/backstage/pull/14108, thanks!

[2022-10-13 13:30] marcofaggian commented on #12019
Hi! I'd like to embarque on the journay of migrating the microsite to docusaurus:2.1, how can I help?

Should we take this issue as reference for the whole migration and break it out in smaller one for tracking single small improvements towards?

[2022-10-13 18:55] HChenCBRE opened #14124 "Backstage not able to load on ios 16 chrome version 106.0.5249.92"
## Expected Behavior

Backstage load on chrome and firefox

## Actual Behavior

Backstage not able to load on ios version of chrome.(not sure if this is an existing issue for all iphone and ipad users)

## Your Environment
ios version: 16
chrome version: 106.0.5249.92

[2022-10-13 22:35] jgrumboe commented on #13074
I've worked on this. Hopefully the implementation is fine.

[2022-10-13 23:11] marcofaggian opened #14127 "build:api-docs crashes because LANG is not en_US"
## Expected Behavior

When launching `yarn build:api-docs` it should run `scripts/api-extractor.ts` succesfully till the end.

## Actual Behavior

When launching `yarn build:api-docs`[ it checks if the prompt was "options:"](https://github.com/backstage/backstage/blob/master/scripts/api-extractor.ts#L1091), but the underlying `commander.js` generates automatically an help prompt that's localized t

[2022-10-14 00:07] ShayNehmad-RecoLabs commented on #4817
OMG, just found this issue, it killed my last... 3 hours?

Worth fixing 😢

[2022-10-14 08:20] OrkoHunter commented on #14127
Closed by https://github.com/backstage/backstage/pull/14128

[2022-10-14 08:20] #14127 closed

[2022-10-14 08:23] OrkoHunter commented on #14124
@HChenCBRE Hey! could you also share a screenshot? I am exactly sure what you mean by "unable to load". Could it be a rendering issue, could it be a network issue - there's so many things that can go wrong right. 😅

[2022-10-14 08:27] OrkoHunter commented on #14112
I'm surprised there is no automatic Snyk-vulnerability issue for this, since we have a [workflow](https://github.com/backstage/backstage/blob/master/.github/workflows/sync_snyk-github-issues.yml) for it. I noticed there aren't new Snyk issues since [August](https://github.com/backstage/backstage/issues?q=is%3Aissue+label%3Asnyk-vulnerability+is%3Aclosed). cc @HHogg

[2022-10-14 08:28] OrkoHunter commented on #14112
I believe this will be fixed by a version bump of passport-saml to 3.2.2 right?

[2022-10-14 08:30] erikxiv commented on #14112
Sidenote: The following workaround can be used on local installations
[code]

[2022-10-14 08:30] erikxiv commented on #14112
Yes.

[2022-10-14 08:31] OrkoHunter commented on #14084
I have recently also seen companies frown up secrets in configs via environment variables - they are so peculiar about their own secret managers, and want to use that only. So +1 to updating configs during runtime or #13952. :)

[2022-10-14 08:39] OrkoHunter opened #14131 "Main branch CI build failing, snyk workflow out of memory"
## Expected Behavior

When PRs are merged, all checks pass.

## Actual Behavior

The Snyk sync workflow is failing when a PR is merged. Latest example https://github.com/backstage/backstage/blob/3e2d945826585ac0306e1c00af5bef218e24bc59/.github/workflows/ci.yml#L24

This is due to Javascript heap our of memory.

## Possible fix

Maybe increase memory limit in GitHub actions workflow like [this](htt

[2022-10-14 09:51] andrewthauer commented on #14084
I don't recall, but at what point do the `config.d.ts` files get validated? This approach seems feasible assuming the validation of required secrets values in the config doesn't occur when reading the initial config (prior to the merge).

I suppose if this is a problem then you would just add some dummy values that get replaced (or some special placeholder)? If that's the case, another considerati

[2022-10-14 09:54] PutuPhoton opened #14133 "Found Snyk vulnerability issue that introduces through @backstage/plugin-auth-backend"
## Expected Behavior

it should not leading to taffydb sub dependency package vulnerability specified on Snyk DB. https://security.snyk.io/package/npm/taffydb

## Actual Behavior

@backstage/plugin-auth-backend leading to taffydb sub dependency package vulnerability specified on Snyk DB.

## Steps to Reproduce

Scan the repo with Snyk

[2022-10-14 10:15] #9162 closed

[2022-10-14 10:48] yj-ang opened #14134 "[techdoc-cli] Serve command not working as expected, getting JS error (Not implementation available ...)"
## Expected Behavior

`techdocs-cli serve` command should work as expected which serving the markdown file preview in browser.

## Actual Behavior

<img width="1639" alt="Screenshot 2022-10-14 at 6 35 27 PM" src="https://user-images.githubusercontent.com/22940472/195827867-9f9ae3fc-a2ae-4499-8bcd-fa3175ed2b8a.png">

## Steps to Reproduce

1. Install CLI tool `npm install -g @techdocs/cli`
2. Navig

[2022-10-14 10:58] gavinclarkeuk commented on #12806
We've been hitting this issue as well. I'm not convinced it is an edge case so think we should consider reopening. It seems this will happen if a bad catalog manifest is checked in, then repaired. We're seeing examples where a component name has spaces in, then gets fixed. For these entities the location typically wouldn't get removed, so I don't think the issue will naturally resolve itself.

[2022-10-14 11:08] aarlaud opened #14136 "[MissingAnnotationEmptyState] Specify multiple annotation lines"
## Feature Suggestion

MissingAnnotationEmptyState should be explicitly specifying the missing annotation(s).
In some cases however, it can be more than one annotation required.
Supporting multiple lines would be nice.

## Possible Implementation

[MissingAnnotationEmptyState](https://github.com/backstage/backstage/blob/a8562101fafc5384b82da0b0c79cd6791138ebec/packages/core-components/src/componen

[2022-10-14 11:19] gavinclarkeuk commented on #12806
Having just investigated the `refresh_state` table it looks like this also impacts locations that have been deleted. Seems to me that when the refresh_state table is processed there should be a simple check to see if the `entity_ref` actually still exists in the catalog. If it doesn't then perhaps the `refresh_state` entry could just be deleted?

[2022-10-14 11:20] sqsp-rwatkins commented on #13999
We have encountered this issue also after upgrading to v1.6.0 and adding `plugin-auth-node`.
One of our team members noticed that the server is looking for the cookie `_oauth2_proxy` but the cookies available are `_oauth2_proxy_0` and `_oauth2_proxy_1` because we are using split cookies.
We removed `plugin-auth-node` for now to get around the issue.

[2022-10-14 11:58] #12734 closed

[2022-10-14 12:32] mertcb opened #14137 "EntityTextFilter does not seem working correctly"
Hi, we have an issue about EntityTextFilter that we discovered while trying to filter catalog entities by their name.

## Expected Behavior

https://mybeatifulbackstageinstance.com/catalog?filters%5Buser%5D=all&filters%5Bkind%5D=component&filters%5Btext%5D=expected-service

The link about should list the entities with kind `Component` and name `expected-service`

## Actual Behavior

The above link

[2022-10-14 12:59] taras commented on #14084
Validation happens when a configuration consumer attempts to read the configuration value because they specify whether the value is required or optional.

[2022-10-14 13:01] #11853 closed

[2022-10-14 15:10] #12997 closed

[2022-10-14 15:31] #12972 closed

[2022-10-14 16:17] ydeng-splunk opened #14140 "checksId prop in EntityTechInsightsScorecardCard not working"
## Expected Behavior

When checksId is passed to EntityTechInsightsScorecardCard, should only list the check in the list
 <EntityTechInsightsScorecardCard
            title="Scorecard 1"
            description="This is a sample scorecard no. 1"
            checksId={['titleCheck']}

## Actual Behavior

The component page still lists all checks.

## Steps to Reproduce

1. Step 1
2. Step 2
3. ...

[2022-10-14 16:56] taras commented on #14084
@OrkoHunter we could provide the merge API as a recommended solution when environment variables are not allowed. #13952 might require breaking changes which is going to take a while.

[2022-10-14 17:23] clareliguori commented on #12844
I put up a PR with my proposed library (https://github.com/backstage/backstage/pull/14125), and would love feedback from users and plugin authors on the API + config format.

For users, the behavior and config format is slightly different from what I described in the RFC.  Examples:
[code]

If all accounts have the same role name, the `accounts` section can be entirely omitted and accounts do not

[2022-10-15 01:25] kumarnil commented on #13999
Yes, I removed "plugin-auth-node" form the code and it fixed the issue. I believe this fix will be available in next backstage upgrade.

[2022-10-15 01:25] #13999 closed

[2022-10-15 01:39] MikeSamv opened #14146 "Changing backend port results in failed to load template errors"
## Expected Behavior

When pressing "choose" on a template, you should be taken to the page associated with that template.

## Actual Behavior

A message appears at the top of the page saying "Failed to load template, ResponseError: Request failed with 500 ResponseError"

<img width="1790" alt="image" src="https://user-images.githubusercontent.com/102695183/195963182-60b7e457-5c8f-4df9-884d-ded760

[2022-10-15 02:46] webark commented on #12844
I like this direction!!

Two notes of feedback. `mainAccount` is a little odd. Is there any other backstage configs that has a similar fallback pattern to use shared terminology?

This is more of a question, but should each account be given a key/name? If you wanted two roles for the same account, would you just put two records in? Can there be two records with the same account id?

Great progress

[2022-10-15 04:37] cctechwiz commented on #14059
I'll take this one if @afscrome isn't up for it. 😁

[2022-10-15 13:25] auchynnikau commented on #14071
leave a comments
leave a comments
leave a comments

[2022-10-15 13:41] OrkoHunter commented on #14112
Looks like this was fixed by https://github.com/backstage/backstage/pull/14104. 🤖

[2022-10-15 13:41] #14112 closed

[2022-10-15 14:10] auchynnikau commented on #14071
Hi guys! Just published PR #14148 with fix for this issue. @jhaals please, take a look.

[2022-10-16 15:47] ShayNehmad-RecoLabs opened #14151 "Use an `.nvmrc` file to make it simpler to use a specific NPM version"
## Feature Suggestion

Adding an `.nvmrc` file would make it easy to use a correct version, that's what I did in my fork.

## Possible Implementation

I'm just going to add the file in a PR in a second :)

## Context

[See relevant StackOverflow issue](https://stackoverflow.com/a/57839539/4119906).

[2022-10-16 17:35] auchynnikau commented on #14071
@jhaals fix was merged, so we can close this issue

[2022-10-16 17:45] Parsifal-M commented on #13965
Hey, interesting read, how would you find which tests have leaks? Would they be the ones failing? I guess not necessarily... 🤔

[2022-10-16 18:08] awanlin commented on #14151
@ShayNehmad-RecoLabs I'm wondering if maybe this should just be something that gets added to the documentation? So it would be showing people how to add and `.nvmrc` to their own Backstage instance.

By forcing it to a specific version like this is goes against the Node.js Release guidance documented here: https://backstage.io/docs/overview/versioning-policy#nodejs-releases

What do you think?

[2022-10-16 20:25] gumartinm commented on #690
I guess, what needs to be implemented is a plugin for Atlantis as it was mentioned in a comment 2 years ago.

[2022-10-16 23:33] Rugvip commented on #14151
Yep I'm thinking the same thing. We already have engine requirements to make sure a compatible version is used, but I feel that using a specific node version is upp to each project.

[2022-10-17 06:36] webark commented on #11027
@Rugvip I would like to explore that option of api definitions not sitting directly in the api entity as well.

Some people from our organization who have started to adopt backstage assumed that API definitions were more similarly dealt with as TechDocs rather than a component or resource. I wonder if there could be some benefit of having a base concept that tech docs and api definitions shared, w

[2022-10-17 08:15] freben commented on #14140
@Xantier @Irma12  maybe you could have a look at this?

[2022-10-17 08:21] freben commented on #14134
@backstage/techdocs-core I labeled this one to you.

[2022-10-17 08:22] Rugvip commented on #14146
I'm not able to reproduce this with the provided steps.

I have a feeling you already have a service running on port 8080 that is causing a conflict, is that the case?

[2022-10-17 08:25] freben commented on #14081
Thanks! Yeah, I'd love that.

[2022-10-17 08:26] freben commented on #14071
Thanks! <3

[2022-10-17 08:26] #14071 closed

[2022-10-17 08:27] freben commented on #14059
Assigned! @cctechwiz

[2022-10-17 08:35] #13002 closed

[2022-10-17 09:06] #9090 closed

[2022-10-17 09:33] freben commented on #14137
I see in your dependencies list that you have a LOT of different versions of everything, including critical ones like the core app API which is meant to only ever have a single version present. It's recommended that you use `yarn backstage-cli versions:bump` to perform upgrades that ensure that deduplication happens properly and that everything moves forward in an orderly fashion. Most people's ap

[2022-10-17 09:53] freben commented on #14137
Back to the issue at hand though (probably unrelated to the above):

I think that that filter isn't installed by default. Did you add the `<EntitySearchBar />` to your catalog page?

[2022-10-17 09:56] freben commented on #14136
The ask as such makes sense. If you'd like to contribute that (maybe adding one more prop called `annotations` or so, where only one of that or `annotation` needs to be specified), go ahead.

As a side note, I'm honestly not a great fan of these large empty states. They are just too visually cluttered and should probably be condensed down into a single line of plain text and a link to more info in

[2022-10-17 10:02] freben commented on #14140
I note that [the component](https://github.com/backstage/backstage/blob/de676888bc96e6a45e4b2b36fa6bff479da9c076/plugins/tech-insights/src/components/ScorecardsCard/ScorecardsCard.tsx#L35) doesn't react to changes in the check ids list. Maybe the useAsync should depend on `[api, entity, JSON.stringify(checksId)]` or something, so that it'll properly react to updates there? Not sure if that's what

[2022-10-17 10:08] Rugvip commented on #14085
What does your `<Navigate to=... />` look like? It should be `to="catalog"`, not an absolute path. That's for it to work with both react-router beta and stable anyway. Now that react-router has proper support for basename in the router I think we'll add that too though, meaning `to="/catalog"` would work as well, although that might need some more work.

[2022-10-17 10:09] freben commented on #14140
Made [this one](https://github.com/backstage/backstage/pull/14161) to at least get the reloading behavior in place.

[2022-10-17 10:16] HHogg commented on #14131
Reopening as its still an issue

[2022-10-17 10:23] waveywaves commented on #14055
@freben Sounds good !

[2022-10-17 11:13] shailendra-ahir-cbre commented on #14084
#following this issue for updates

[2022-10-17 11:21] freben commented on #14081
Sorry but I found related version drift in more places, so I made the above linked PR to address it ^

[2022-10-17 11:21] Rugvip commented on #14084
Wanna chime in with that I think a refactor of the mid-level config loading APIs could help quite a lot here. Something like a concept of "config sources" that essentially stream config data into the loader, which takes case of schema filtering etc. Right now the config loader is growing quite large and complex, so feeling that refactor is starting to be necessary to add more features.

The curren

[2022-10-17 11:26] Irma12 commented on #14140
Hey @freben I took a look and I think problem is in TechInsightsClient.ts component. I think the error source is not defining the specific header type when POST request is made. I will create a PR in order to make it work, I think it should resolve the issue.

[2022-10-17 11:28] shailendra-ahir-cbre commented on #13952
Yes. We also want same solution.

[2022-10-17 11:32] Irma12 commented on #14140
I think [this](https://github.com/backstage/backstage/pull/14164/files) should do the trick :)

[2022-10-17 11:36] shailendra-ahir-cbre commented on #13897
We were able to solve it for our project by commenting the flex:1 css property. in file
https://github.com/backstage/backstage/blob/e9ab80907e4bc09d7140e49d6c11b314ee8a845a/plugins/catalog-graph/src/components/EntityRelationsGraph/EntityRelationsGraph.tsx

graph: {
    width: '100%',
    flex: 1,  // comment this line

Please try.

[2022-10-17 11:41] Rugvip commented on #11027
@webark hmm, possibly. There's definitely a bit of overlap, but also some pretty large differences. Could also be that it's more of a common service situation where they're available for reuse by all plugins, for example like UrlReaders. Breaking things into smaller single-purpose atoms that then get composed back together tends to be a bit easier to evolve.

[2022-10-17 11:42] Rugvip commented on #14085
So `to="catalog"` is the immediate fix right now, but I'm also proposing #14165 to fix the broader issue of base paths being a bit wonky still. A reason it's been so hard to get it working well so far has been that React Router v6 didn't have it built-in, but now that they do we should rely on that implementation instead.

[2022-10-17 11:51] emmaindal commented on #11889
I'll close this issue, please re-open if the issue still occurs @SerenaIce

[2022-10-17 11:51] #11889 closed

[2022-10-17 12:03] shailendra-ahir-cbre commented on #13531
Put your catalog-info files in a storage service. (which will not have a smaller request quota). Use webhooks to listen for interesting events (like creation/update/delete) from the source and update the files in the storage service.

[2022-10-17 12:21] shailendra-ahir-cbre commented on #13205
We want this feature :)

[2022-10-17 12:27] emmaindal commented on #13680
Hello @zachlysobey thanks for opening this issue, I agree - we should definitely have better accessibility support in place. Is this something you want to work on? Would be a suuper valuable contribution. I'll add the "help wanted" label on this issue too in case someone else have time to pick it up!

[2022-10-17 12:31] freben commented on #14084
@shailendra-ahir-cbre There's a "Subscribe" button in the right sidebar for that purpose.

[2022-10-17 13:03] mclarke47 commented on #14011
Don't see a reason why not

[2022-10-17 13:11] karlbrown-va commented on #14069
hi, thanks; re: deprecation, maybe it doesn't need to be deprecated, I don't know if just making github-repo as an alias would make sense as an alternative.

[2022-10-17 13:15] jhaals commented on #12019
Hi @marcofaggian, you are very welcome to help out! Some ground work started in `jhaals/microsite2` and it's probably the best base branch to work towards. I tried to capture some of the tasks some which are blocking us to move forward. Anything that takes us closer is welcome 🙏  I'm happy to add more things to this issue as we move forward.

[2022-10-17 13:30] freben commented on #14042
In the mean time, there are some scripts floating around for auto-deleting orphaned entities, contributed by the community, for example this one https://github.com/backstage/backstage/blob/089fffc3e1d94e75bf95bb180cc49f3ce16d8c85/contrib/scripts/orphan-clean-up

[2022-10-17 13:33] freben commented on #14020
This could be one way. Another one is to double down on the Home experience, such that a card could list either all things related to you _and any of the teams you are in_ (as per your Backstage token / identity), or just the ones that have interesting anomalies in them.

I mention this because it's a bit inconvenient to locate your own user's page or your own teams' pages, by name so to speak. Th

[2022-10-17 13:36] freben commented on #13965
We are honestly open to suggestions on strategies to find and not reintroduce leaks like this.

[2022-10-17 13:50] #14081 closed

[2022-10-17 14:00] awesomeinsight opened #14169 "plugin-github-issues: Github-Hostname is hardcoded should be read from config instead"
## Expected Behavior

When using the github-issues plugin the github hostname is hardcoded (e.g. in the IssueCard.tsx file. If someone is using Github Enterprise located at a different URL this link is not correct and will lead to a 404 error.

The hostname/base url should be read from the configuration (integrations ==> github ==> host):
![image](https://user-images.githubusercontent.com/59055341

[2022-10-17 14:05] Parsifal-M commented on #13965
Ah sorry, I missed that bit :sweat_smile:

I will do a bit of digging on this, I have some spare time this week. :+1:

[2022-10-17 14:07] freben commented on #13952
I just want to mention that there's some related discussion in #14084 as linked above. This will probably be best achieved by contributing an update to the intermediate config loading interfaces so that we can get easily pluggable config sources into place.

[2022-10-17 14:12] freben commented on #13882
I believe running them separately should be just fine, yeah.

[2022-10-17 14:34] #13034 closed

[2022-10-17 14:38] Rugvip commented on #13965
Some fixes in #14170

Found by running `DEBUG=knex:* yarn test ...` towards different tests and finding repeated patterns in the knex logs. Then verifying leakage in individual tests by throwing this at the end and checking whether there is still DB activity:

[code]

[2022-10-17 14:44] tb137 opened #14171 "Implement "Branch protection rules" support for "publish:github" action"
## Feature Suggestion
Implement "Branch protection rules" support for "publish:github" action. Right now, it's missing, although it has some features already implemented. Theoretically it should be a quick change.

## Possible Implementation
New type should be created:
[code]
And added almost identical implementation as it was done with introduction to "require_code_owner_reviews" feature.

"requi

[2022-10-17 15:22] MikeSamv commented on #14146
Woops, you're right. I'll close this off, but would be nice if there was some sort of log or exit if the port is already in use!

[2022-10-17 15:22] #14146 closed

[2022-10-17 15:29] Nitinvonage commented on #13882
still getting similar issue, any clue where should i look more into

[2022-10-17 16:08] jvilimek commented on #14020
Thanks for the comment/suggestion. The situation in our company is that one team might own multiple systems and each system might have multiple services. For example "camunda" system has "engine", "sink", "source" and "backoffice" services.
Maybe having an overview of all services "I or my teams" owns like you have described, but with the possibility to eventually drill down based on a team, syste

[2022-10-17 19:25] jamieklassen commented on #13794
I have a fix for this on [this branch](https://github.com/jamieklassen/backstage/commits/handle-k8s-transport-errors) of my work. I'm not happy with it yet, but y'all can assign it to me as I expect to have a professional implementation by the end of the week.

[2022-10-17 20:34] #13119 closed

[2022-10-18 00:46] jpeach opened #14177 "Omit managedFields from Kubernetes resource YAML"
## Feature Suggestion

The Kubernetes plugin lets you see the YAML for Kubernetes resources. It would be great if the extremely verbose `managedFields` field was omitted from the YAML.

https://github.com/kubernetes/kubernetes/issues/90066

## Possible Implementation

Delete the `managedFields` key before rendereing YAML

## Context

Inspect the YAML representation of a Kubernetes resource.

[2022-10-18 06:20] iriswang233 opened #14181 "Track the last time when the entity was changed"
## Feature Suggestion

Track the last time when the entity was changed

## Possible Implementation

Maybe a new db field like ```last_changed_at``` can be added in refresh_state database table. Once an entity has been discovered, maybe based on  whether the ``` result_hash```  in ```refresh_state``` table is changed, the ```last_changed_at``` can be updated accordingly.

## Context
This will help

[2022-10-18 06:47] varadkarpe commented on #14181
Hey @iriswang233
What do you suggest we do with the existing entities which don't have `last-changed-at` attribute?

[2022-10-18 08:25] kvmw opened #14186 "Ability to pass `FetchApi` to `createRouter` in auth-backend plugin"
## Feature Suggestion
I need to replace the default `FetchApi` with a custom one for `CatalogApi` ( `CatalogClient` ). I've done this in all places needed, except one in auth-backend.

`createRouter` in auth-backend plugin instantiates a ` CatalogClient` which is used in `CatalogAuthResolverContext` to fetch the User Entity if exist.  this function (`createRouter`) should provide a mean to supply

[2022-10-18 08:33] Rugvip commented on #14085
Oh we were just about to release that apparently 😅, I was testing with 1.6

Fixed in #14187

[2022-10-18 08:39] kissmikijr commented on #14181
Hm, interesting. I'd assume entities are achieving a final(ish) state? When they are not really changing that much. Why do you think that an entity should change all the time ?

[2022-10-18 10:26] dejoost commented on #3721
am I too optimistic to assume this has already been merged? Can't find it on the repo, nor can I find a PR relayetd to this

[2022-10-18 12:10] #13992 closed

[2022-10-18 15:14] PutuPhoton commented on #14133
Ok, Thanks for the feedback. Have already put it on ignored list.

[2022-10-18 16:45] nadworny commented on #13949
I think this can be closed?

[2022-10-18 16:59] taras commented on #12392
I think this issue should be reopened because users keep bumping into it.

[2022-10-18 17:03] Rugvip commented on #13949
Indeed, thanks!

[2022-10-18 17:03] #13949 closed

[2022-10-18 17:25] andrewthauer commented on #12392
Our team is going to be looking into the GraphQL docs situation internally starting next week. There might be something we can contribute back once we have a closer look at this.

@taras - Do you have any particular ideas/thoughts on this? In my mind there are 2 things here. There is documentation (usually best done with static docs generators) & there is the interactive usage of the schemas (typi

[2022-10-19 07:02] #12260 closed

[2022-10-19 07:21] iriswang233 commented on #14181
Hey @varadkarpe varadkarpe,

Good point!

For existing entities which doesn't have `last_changed_at`, maybe there is a need to add `last_changed_at` with value same with `last_discovery_at` or empty value for all of them.  This can be a batch update.

Or instead of a new attribute as a new column in DB, maybe it's possible to add it as an attribute in one of existing columns maybe `processed_entit

[2022-10-19 07:49] iriswang233 commented on #14181
hi @kissmikijr ,

Yes, I agree with you that ideally entity won't change often and they should be maintained responsively by owner.

However, out problem is many entities were created with insufficient information or became outdated due to various reasons, like owner didn't have enough information when they created the entity and forgot to update later, there is no serious consequence if the entit

[2022-10-19 08:27] freben commented on #13882
Does the error go away if you go the recommended path and instead fetch the entities using a CatalogClient?

[2022-10-19 08:37] freben commented on #13118
If I understand the situation correctly, the discovery processor does have knowledge of what the project ID is, but later down the line when the `UrlReader` wants to read the contents of the generated `Location` entity, this knowledge is lost because it's not encoded in the URLs. Is that a correct assessment?

If so, then yeah, something needs to be added that lets this contextual information be p

[2022-10-19 08:39] freben commented on #13118
For context, I see this comment in the discovery processor: https://github.com/backstage/backstage/blob/45681c215b456a88f7b3a915898a6ee4a02f4cbf/plugins/catalog-backend-module-gitlab/src/GitLabDiscoveryProcessor.ts#L153

[2022-10-19 08:41] Nitinvonage commented on #13882
No, It still persist... What i also observed is after changing the default parallelism limit size, reducing to 5 or less also delays the error to come.
`DefaultTechDocsCollatorFactory.ts`
`this.parallelismLimit = options.parallelismLimit ?? 4;`

any view point on this?

[2022-10-19 08:43] freben commented on #13118
This is how the code then fetches the project ID based on the URL where the file is stored:

https://github.com/backstage/backstage/blob/45681c215b456a88f7b3a915898a6ee4a02f4cbf/packages/integration/src/gitlab/core.ts#L103

This is something that anybody can do at a later time, for example a processor that fills in these IDs in annotations in a pre-processing step. Unfortunately that would lead to

[2022-10-19 08:48] freben commented on #12031
@backstage/techdocs-core Are users far enough along now, that it'd be safe to lowercase these directly in the client code? As in, making the redirect unnecessary because it's all already lowercased?

[2022-10-19 08:59] freben commented on #10431
This is likely a case that's similar to what's being worked on for AWS. https://github.com/backstage/backstage/pull/14125

[2022-10-19 11:24] #13099 closed

[2022-10-19 12:01] aSemy opened #14221 "npx @backstage/create-app causes error: "Could not execute command git config user.name""
## Expected Behavior

The 'Getting Started' guide works https://backstage.io/docs/getting-started/

## Actual Behavior

The 'Getting Started' guide does not work https://backstage.io/docs/getting-started/

## Steps to Reproduce

1. I create a new directory
2. I run `npx @backstage/create-app`
3. I enter a name for the app
4. I get an error `Error: Failed to read git config, Error: Could not execut

[2022-10-19 14:16] oconnormj opened #14228 "Playlist plugin-playlist-backend throws internal error when using DefaultPlaylistPermissionPolicy provided with plugin"
## Expected Behavior

When an authenticated user navigates to the Playlists page via the sidebar link, the Playlists front-end should display correctly.

## Actual Behavior

When an authenticated user navigates to the Playlists page via the sidebar link, the Playlists playlists front-end displays with the following warning message:
Warning: Oops! something went wrong loading playlists
Request fail

[2022-10-19 15:45] ottosichert commented on #13856
Hey there @ericis! Let me try to expand on the reply from @realandersn, as there is quite some context behind this in terms of intentional design decisions, gradual iterations and necessary restrictions that are worth sharing here. Also, this context can be applied to both `extra_css` and `extra_javascript`, as we share the same view on both.

In a nutshell, TechDocs exposes an official interface,

[2022-10-19 15:48] ottosichert commented on #12302
I have shared quite some context around this topic here: https://github.com/backstage/backstage/issues/13856#issuecomment-1284222765, I think both circle around the same questions!

Although there might indeed be different goals between custom CSS and JS, I hope to answer both in that comment. Let me know what you think!

[2022-10-19 17:21] clareliguori commented on #12844
@webark

I think this is the only integration that has a hierarchy of accounts, where the "main" account is used to assume a role into the "child" accounts.  Some other terms I considered: root account, primary account.  Spinnaker uses the term "managing account" for the main account, and "managed account" for the child accounts, which I've always found confusing.  But otherwise, I don't feel stro

[2022-10-19 18:15] matiri132 opened #14234 "gitlab auth provider errors"
## Expected Behavior

Allow to use gitlab as an Auth provider

## Actual Behavior

When i got redirected to the gitlab signin page i get the following response:
`{"error":{"name":"NotFoundError","message":"No configuration available for the 'development' environment of this provider."},"request":{"method":"GET","url":"/api/auth/gitlab/start?scope=read_user&origin=https%3A%2F%2Fbackstage.mgt.moni.c

[2022-10-19 21:24] ericis commented on #13856
This is FANTASTIC context and helps clarify why some MkDocs features are supported out-of-the-box and others are explicitly designed not to be supported. We can update Backstage TechDocs documentation to ensure this is communicated clearly too.

Interestingly, MkDocs supports plugins that extend Markdown and TechDocs seems to implicitly support that plug-in model as long as those MkDocs plugins ar

[2022-10-19 21:25] ericis commented on #13856
Should we close this issue as well as #12302 as "intentionally not planned" ?

[2022-10-19 23:39] andrewthauer commented on #12844
Question - with this design how do you envision something like `fromIni` working for local testing (eg. with SSO)? Meaning locally you use ini but in prod it's using the integration accounts.

[2022-10-20 03:12] clareliguori commented on #12844
@andrewthauer the default chain includes fromIni, so leaving the configuration blank when locally testing will pick up the default profile in `~/.aws/credentials` and `~/.aws/config`.
https://github.com/aws/aws-sdk-js-v3/blob/731cbbf549e354d5dd103109ae679ba38ada4de7/packages/credential-provider-node/src/defaultProvider.ts#L49-L64

[2022-10-20 05:34] LvffY opened #14239 "[Upgrade] [1.7.0] Mounted routable extension must have a path"
## Expected Behavior

My upgrade to backstage 1.7.0 should run fine.

## Actual Behavior

Just by going to `localhost:3000`, I got the following error :

![image](https://user-images.githubusercontent.com/37327656/196863907-342c01a8-2363-4f33-92d7-1572dd561b13.png)

Which is strange is that in this I migrated from backstage `1.7.0.next.2` to `1.7.0`, so the gap between the two versions shouldn't b

[2022-10-20 07:40] prasoon-pxc opened #14241 "Error installing Shortcuts Plugin in Backstage"
### Discussed in https://github.com/backstage/backstage/discussions/14240

<div type='discussions-op-text'>

<sup>Originally posted by **prasoon-pxc** October 20, 2022</sup>
I am trying to install Shortcut Plugin in Backstage and able to install it successfully but when I am trying to overwrite default implementation as mentioned in plugin doc then it is giving below error:

[code]

-- Below is th

[2022-10-20 07:49] #10569 closed

[2022-10-20 10:03] Rugvip commented on #14241
The `import { CustomShortcutsImpl } from '...';` is an example that you need to replace with an import of your own implementation. The `'...'` path is not a valid import path in TypeScript.

Will close this since it's working as expected. Don't hesitate to open up a PR if you want to suggest improvements to the README though!

[2022-10-20 10:03] #14241 closed

[2022-10-20 10:07] #14239 closed

[2022-10-20 10:15] dollopofsunshine opened #14248 "Failed to create app! - Could not execute command git config user.name"
## Expected Behavior
Backstage app should get created in local. The issue is observed only from previous day.

## Actual Behavior

Errors out with npx @backstage/create-app with the below error.

 ~ % npx @backstage/create-app
? Enter a name for the app [required] test

Creating the app...

Error: Failed to read git config, Error: Could not execute command git config user.name

It seems that somet

[2022-10-20 11:26] Rugvip commented on #14234
Not seeing any obvious issue here. Is anything logged when you start up the backend that might shed some light? For example, I see this if I start the backend in dev mode without a full config:

[code]

Do you have `AUTH_GITLAB_CLIENT_ID` etc. set in the environment?

[2022-10-20 11:29] Rugvip commented on #14186
Yep there's np adding a customization point like this, although perhaps we should make it the entire `CatalogApi` rather than the `FetchApi`. This is all going to be a lot neater once we're over to using #11611 too.

Can I ask why you need this though? If you've set it some form of requirement to have particular headers when making requests towards the catalog that's likely going to be an issue in

[2022-10-20 11:51] #13856 closed

[2022-10-20 11:53] marcofaggian commented on #13015
The website shows all plugins as new, my suspect is the build system pulling just the head, not the complete history, rending this method of calculating "file addition date" useless.

I'll dig into it.

[2022-10-20 11:56] cas-- commented on #13015
@marcofaggian The new plugin ribbon looks good but for the live site it's functionally broken as it shows all plugins as new. This is likely due to build process using a shallow git clone depth e.g. `git clone --depth 1` so the author dates for the all files in git will be the date of the last commit.

I doubt the team want to slow the build process by modifying the clone depth. Instead perhaps ad

[2022-10-20 12:00] marcofaggian commented on #13015
Yes that solution would be the alternative. A PR would be appreciated!

[2022-10-20 12:02] Rugvip commented on #14171
Sound sensible! Contributions adding more options to the built-in publish actions are always welcome! 👍

[2022-10-20 12:03] Rugvip commented on #14169
Good catch, it should indeed! Happy if anyone can help contribute a fix for this 🙏

[2022-10-20 12:04] Rugvip commented on #14140
Fine to close this? Seems like it's fixed by #14135

[2022-10-20 12:15] Rugvip commented on #3721
@dejoost yes you are 😅

@kiranpatel11 any update from your end?

[2022-10-20 12:21] matiri132 commented on #14234
I can pass away the error the error associated to "environment: production" updating the app-config.yaml , but i cant figure out why i need to use development for environment, where can i change this value?.

But actually my core problem is related to the 401 response in the gitlab auth provider.

[2022-10-20 12:46] #14013 closed

[2022-10-20 12:54] gocapa opened #14251 "[RFC] EventStream logs of a custom action"
**Status:** Open for comments

## Need

I would need some more information on creating a custom action, I have seen the docs but still cannot understand properly how to implement it in my Backstage instance. The stream logs that this custom action generates how to pass it into the frontend. I gues that the scaffolder backend plugin does it all through the context but I still don't know how to do i

[2022-10-20 12:58] andrewthauer commented on #12844
@clareliguori - Thanks for confirming! I'm still getting used to the v3 API changes. I also realized recently that the SSO flow works better in v3 and not really at all in v2 hence the reason I'm asking.

We currently have a use case for 2 different accounts. One for techdocs and another for a custom internal plugin. A follow up to this would be if it's possible to target a specific profile with t

[2022-10-20 13:33] andrewthauer commented on #14181
I was recently looking for something like this the other day. Been doing some data dumps from various internal systems/sources, one being the catalog. Having this available either in the final_entity as an annotation or a db column would be useful in doing some auditing/control checking.

[2022-10-20 13:42] ubreckner commented on #14248
Can confirm, this is happening for me as well.

[2022-10-20 15:08] matchaxnb commented on #7860
A 2-liner that you can run from the browser console in case you have a backstage behind authentication.

[code]

[2022-10-20 15:37] kvmw commented on #14186
@Rugvip I need the CatalogApi to skip TLS verification for a specific endpoint.  I am able to inject my custom `FetchApi` everywhere else in the app which CatalogApi is used except in the above function (createRouter).
As you probably know after authentication, CatalogApi is used to query `User` entity.  This call (query User Entity) is the only one that is failing because the above issue.

In gen

[2022-10-20 15:42] dollopofsunshine commented on #14221
You can re install backstage-cli again using yarn and get past this error for yarn backstage-cli info. But no luck with the actual error

[2022-10-20 15:42] lalit774 opened #14258 "Filter options doesn't update dynamically"
Filter Options doesn't update dynamically. It is okey, if you have few options. In our case we have 3 filter with 100 options. Now user are getting the problem to recursively filter. when they tried to do so then empty page appear. because there is no data for that particular combination. If they try more than 10 times,  then they might see some filtered data.

## Expected Behavior

Filter Options

[2022-10-20 15:53] awanlin commented on #14221
@aSemy and @dollopofsunshine, I'm just curious what do you get when you run `git config user.name`?

[2022-10-20 15:55] aSemy commented on #14221
There's no output.

I have git installed, but I don't have a global config set for name or email. I set this per-project using [`includeIf`](https://git-scm.com/docs/git-config#_includes) or manually.

[2022-10-20 16:10] rasovskym commented on #14042
Is it also the intention thaht it detects even if the locations are the same and the strings differ only in URL encoding? For example:

Detected conflicting entityRef **location:default/main-index** already referenced by url:
https://dev.azure.com/organization/Project/_git/repo?path=%2Fbackstage.yaml
and now also url:
https://dev.azure.com/organization/Project/_git/repo?path=/backstage.yaml

Can y

[2022-10-20 18:29] clareliguori commented on #12844
@andrewthauer makes sense.  I added profile support to the PR, so you'll be able to do:
[code]

[2022-10-20 19:34] lalit774 commented on #14234
I also passed away the error in github associated to environment: production updating in ap-config.yaml as well as update in callback URL: api/auth/github/handler/frame?env=prod

[2022-10-20 19:44] matiri132 commented on #14234
The callback URL from Gitlab App?

[2022-10-20 19:46] lalit774 commented on #14234
No, it is from github. But i got the same error in github integration

[2022-10-20 19:47] matiri132 commented on #14234
Yes i got it.
I'll close this issue and open a new one with the new error i got.

[2022-10-20 19:47] #14234 closed

[2022-10-20 19:51] awanlin commented on #14221
@aSemy, thanks and totally fair how you have this setup. There should be some sort of check on this to handle cases like this here: https://github.com/backstage/backstage/blob/c2ee8f8cfcbdb0e3a5f4d56d3bdc01cbebf79760/packages/create-app/src/lib/tasks.ts#L270

Can you you try setting those values to see if it will get past this error and create the app?

[2022-10-20 19:53] matiri132 opened #14262 "gitalb auth error -> Missing session cookie"
## Expected Behavior

Allow to use gitlab as an Auth provider

## Actual Behavior

After put GitLab credentials on the pop up from the Backstage sigin page i got the following error:

XHRGEThttps://backstage.mgt.moni.com.ar/api/auth/gitlab/refresh?optional&env=development
[HTTP/1.1 401 Unauthorized 173ms]

1
`{"error":{"name":"AuthenticationError","message":"Refresh failed; caused by InputError: M

[2022-10-20 19:58] aSemy commented on #14221
If I run `git init` then `git config user.name` returns my name, but I still get the same error

[code]

[2022-10-20 20:00] dzkaraka opened #14263 "[RFC] Automated Entity Creation from AWS"
# RFC

**Status**: Open for Comments

## Need

Keeping Backstage entities up to date can be challenging. We attempt to reduce to likelihood of stale or inaccurate catalog data by automating its creation from its source of truth. For "resource" entities, this can be done by leveraging APIs from the cloud hosting provider; AWS in our case. Our organization has standardized tagging, which we can leve

[2022-10-20 20:03] aSemy commented on #14221
It looks like the Backstage CLI creates a temporary directory - so I'm not sure how to work around this.

https://github.com/backstage/backstage/blob/c2ee8f8cfcbdb0e3a5f4d56d3bdc01cbebf79760/packages/create-app/src/lib/tasks.ts#L254

I actually don't feel comfortable that `create-app` is automatically fetching my personal details and initialising a git repo. That's not my normal experience with th

[2022-10-20 20:08] awanlin commented on #14221
@aSemy ok, thanks. And it's totally fair to feel that way about your personal data. The intention was to help simplify things but it looks like for a number of people that's not the case

Worth mentioning that I did a quick `npx @backstage/create-app` run and it works fine for me though I do have both my name and email in my git config

[2022-10-20 20:10] awanlin commented on #14221
@aSemy yeah I think the fix would be to make them optional and fall back to some default value

@leonardomaier @Rugvip could you maybe help us out with this one?

[2022-10-20 20:19] aSemy commented on #14221
Yeah no problem, I see the purpose of it, it would be nicer if Backstage was easier to set up because at the moment it's very confusing. Personally I'd prefer it if Backstage had a proper Docker image (Docker Hub is flooded with undocumented, 3rd party images) and official docker-compose.yml. I've tried following the instructions for the Dockerfile but I get lots of issues. I'm just mentioning thi

[2022-10-20 20:42] Rutam21 opened #14264 "Upgrade Backstage Issue Templates to use Github Issue Forms"
## Introduction

GitHub has already rolled out a [public beta for their issue forms](https://github.blog/changelog/2021-06-23-issues-forms-beta-for-public-repositories/) feature. This allows to create interactive issue templates and validate them.

Backstage currently uses the older [issue template format](https://docs.github.com/en/communities/using-templates-to-encourage-useful-issues-and-pull-r

[2022-10-20 20:45] Rutam21 commented on #14264
@jhaals Please assign this to me. Thanks.

[2022-10-21 04:12] NicolasGras commented on #9087
I am new in Backstage and I have the same error.
Has this issue been solved?
If not, can this issue be reopened?

[2022-10-21 05:15] LvffY opened #14266 "[Plugin][Vault] Be able to have multiple vault instances setup."
## Feature Suggestion

My team is using vault and we'd like to use the [vault plugin](https://github.com/backstage/backstage/tree/master/plugins/vault) and I think it would be great to have a way to have multiple vault instances setup.

## Possible Implementation

I'm not a great web developer, but I think that this use case is very similar to https://github.com/backstage/backstage/issues/10674

#

[2022-10-21 05:25] LvffY commented on #14239
For anyone falling in here : it was indeed an update issue.

Doing the `yarn why react-router` command show me my issue (which was the gitlab plugin version).

Just running `yarn backstage-cli versions:bump --pattern '@{backstage,loblaw}/*'` make the error disapear.

[2022-10-21 08:28] #13015 closed

[2022-10-21 08:28] #14228 closed

[2022-10-21 08:41] Rugvip commented on #14264
Nice! Thank you! 😁 👍

[2022-10-21 08:45] davidkarlsen commented on #8232
/notstale

[2022-10-21 10:20] dehamzah commented on #9178
We have confirmed that after upgrading our Postgres version to 14 the search indexing work seamlessly, now it didn't count the whole indexing process in the transaction as one statement which leads to timeout when using a small statement timeout config.

I think we can close this issue, it was the Postgres engine issue.

[2022-10-21 10:20] #9178 closed

[2022-10-21 11:06] soapraj commented on #14134
Hi! @yj-ang there is no dependency on the search API when you run the techdocs-cli serve command so not sure why the error about missing impl for search is shown.

Can you try running on v1.2.2 with npx @techdocs/cli@1.2.2 serve ?

[2022-10-21 11:11] andrewthauer opened #14273 "CatalogBuilder addLocationAnalyzers & setLocationAnalyzer API confusing + breaking change"
## Expected Behavior

The API surface for the `CatalogBuilder` shouldn't have a confusing API in regards to `LocationAnalyzer` related interfaces

## Actual Behavior

Recently as part of #13800 the `catalog-import` analyze process was pushed back into the backend. On a whole this makes sense. However, it has also introduced a confusing API surface and behaviour change. There was an existing `Catal

[2022-10-21 11:32] soapraj commented on #13813
Hi! @wunderdogneo https://github.com/backstage/backstage/issues/14134 seems be the same issue on v1.2.1

I have added some context in this [comment](https://github.com/backstage/backstage/issues/14134#issuecomment-1286806563) on #14134. Can you try running on v1.2.2 with npx @techdocs/cli@1.2.2 serve?

[2022-10-21 11:53] andrewthauer commented on #14273
Here's my workaround, but which wasn't so bad, but I can't use the new `addLocationAnalyzers` method + I needed to pass the analyzers into into my `CustomRepoLocationAnalyzer` and use part of the default `RepoLocationAnalyzer` code. It works, just a bit confusing and seems a bit ackward.

[code]

[2022-10-21 11:53] freben commented on #14273
Agreed, this can be confusing. It's a bit similar to `setFieldFormatValidators` which actually drives the constructor arguments to `FieldFormatEntityPolicy` internally, which doesn't even come into play at all if you replace the original policies... So you might sometimes be surprised that the thing you added doesn't even have any effect.

Essentially it's a convenience, to be able to configure, s

[2022-10-21 11:55] andrewthauer commented on #14273
Sure that works. I have a workaround now + it's documented. I just wanted to flag this for others and maybe have a discussion on improving it in the future.

[2022-10-21 12:03] andrewthauer commented on #14273
Thinking on this a bit more. What we have here is essentially a composite pattern. However, in this case `ScmLocationAnalyzer` doesn't actually inherit the interface of `LocationAnalyzer`. As you can see my solution is doing exactly that. So in reality we probably don't need 2 catalog builder methods, but a way to create a composite or at least make it more clear in the API surface.

[2022-10-21 12:06] freben commented on #14273
Not even quite that, right - Or, I mean, you actually do it in a composite way. But another adopter might not be interested in consuming the added individual analyzers at all; they may do things entirely differently. So tweaking it to become composite (e.g. in the backend system work) might not be worth it either

[2022-10-21 12:32] Rugvip commented on #14221
@awanlin yep gonna dig into this a bit.

On the personal data aspect I wanna clarify that we're of course not doing anything with that information, it's simply a check to see if we will be able to initialize a git repo, since those values need to be set in configuration for that to be possible. I'll look at refactoring the code to make it a bit more clear that that is the case. Now that check has

[2022-10-21 12:39] andrewthauer commented on #14273
Yes, that's true. It's not exactly a composite, but does use composition accomplish the same thing I guess. The `setLocationAnalyzer` could with the default `RepoLocationAnalyzer` (like my workaround) and make `addLocationAnalyzers` unnecessary. Although, it might be a little more verbose in the case you don't customize the `RepoLocationAnalyzer`.

[2022-10-21 12:44] freben commented on #14273
We could update `setLocationAnalyzer` to accept EITHER an analyzer, or a function that takes an scm analyzer array and returns the final analyzer :) That would be backwards compatible. But the naming confusion remains.

[2022-10-21 12:49] awanlin commented on #14221
Thanks @Rugvip, seems like a number of people have run into this so will be nice to have it fixed

[2022-10-21 12:50] andrewthauer commented on #14273
Very true. So, it sounds like the interfaces should be named more distinctly, then used in single `CatalogBuilder.setLocationAnalyzer` as suggested. I just can't come up with a great name at the moment, but if we have one we could deprecate the old method. But again, no rush from me to do this. The only thing I worry about is when code changes in the default `RepoLocationAnalyzer`, we may need to

[2022-10-21 12:57] graynk opened #14274 "Allow to hide default tabs in UserSettingsPage"
## Feature Suggestion
Currently, `UserSettingsPage` allows to add custom user tabs, but does not allow for removing the default ones.

## Possible Implementation
Someone suggested in Discord that it could be done in the same way as Explore plugin does it.
I assume this means using the construct `useOutlet() || <DefaultSettingsPage />` to allow for easy replacements.

## Context
We would like to se

[2022-10-21 13:00] awanlin commented on #14274
Thanks @graynk that was me on Discord. This is what I was meaning: https://github.com/backstage/backstage/blob/4442bf8aaab4d3d68fc32bfc5f9b2aaf34ee94db/plugins/explore/src/components/ExploreLayout/ExploreLayout.tsx#L51

[2022-10-21 13:51] jjedele commented on #9172
I also landed here after a while of search. Following the "documentation as code" mantra, I also feel like it's preferable to have as much as the documentation as possible inside actual in-code docstrings in the source rather than in some orthogonal markdown file structure. This transcends public APIs as e.g. Sphinx documentation is also nice to document the high-level structure of code and respon

[2022-10-21 13:59] #13831 closed

[2022-10-21 14:02] #13134 closed

[2022-10-21 15:56] jcarres-mdsol commented on #8232
@benjdlambert yes, it is running every 30 min, we could potentially tweak that I imagine

[2022-10-21 16:10] Rugvip commented on #14221
PR up over at #14278

[2022-10-21 16:13] Rugvip commented on #14042
Yes, we've discussed having some form of canonicalization of location URLs, but right now it's up to the providers to make sure they only use a single form of the URL. Of course this might be quite tricky when dealing with the location store, and it could be worth introducing some URL translation there

[2022-10-21 17:42] #14085 closed

[2022-10-21 18:11] caioq commented on #14263
Hi @dzkaraka, I think we have a common interest. Here in our organization we are developing the ingest of AWS Resource entities with Entity Providers.

In our solution we have an Entity Provider for each AWS resource, to fetch the resources we use the aws-sdk client of each resource. For example, we use @aws-sdk/client-rds and the [DescribeDBInstancesCommand](https://docs.aws.amazon.com/AWSJavaScr

[2022-10-21 18:41] clareliguori commented on #14263
Have you considered using Cloud Control API as a way to discover entities of many resource types?  For example, you can do:
[code]

The list of supported resource types for Cloud Control API is here:
https://docs.aws.amazon.com/cloudcontrolapi/latest/userguide/supported-resources.html

[2022-10-21 19:04] Pike opened #14280 "[RFC] Evaluate scaffolder templates through dry-run API for testing"
**Status:** Open for comments

## Need

Template developers want to test their in-development templates against their installation of backstage.

## Proposal

Have a [CLI script](https://github.com/backstage/backstage/pull/13991) that uses the dry-run API of a backstage installation, and serialize the created workdir to local disk for the developer to test.

With some auth trickery, this could als

[2022-10-21 19:06] webark commented on #11178
@freben I think we should reopen this.

the api `scmIntegrationsApiRef` is the culprit.

it's path is

https://github.com/backstage/backstage/blob/f0de00d4eb70a48cee8bd5c7031483a293c91478/packages/integration-react/src/api/ScmIntegrationsApi.ts#L29-L38
https://github.com/backstage/backstage/blob/f0de00d4eb70a48cee8bd5c7031483a293c91478/packages/integration/src/ScmIntegrations.ts#L57-L68
https://gi

[2022-10-22 08:42] #12095 closed

[2022-10-22 08:42] #11686 closed

[2022-10-22 11:55] kumarnil opened #14282 "Template should work"
## Expected Behavior

1. Template create action should be working
2. Able to import any yaml file

## Actual Behavior

Create action fails with:

Backend request failed, 500 {"error":{"name":"Error","message":"Entity reference must not be empty","level":"error","service":"backstage"},"request":{"method":"POST","url":"/api/scaffolder/v2/tasks"},"response":{"statusCode":500}}

## Steps to Reproduce

[2022-10-22 14:02] #12890 closed

[2022-10-22 23:35] cctechwiz commented on #14059
Should we lowercase the sidebar for Components as well so if they appear in the table their case matches too?

[2022-10-23 03:28] cctechwiz commented on #14059
#14284 is ready for review.

[2022-10-23 04:12] cctechwiz commented on #14169
I got this one. 😃

[2022-10-23 13:36] ivanaguilario commented on #13813
@soapraj Same for me using 1.2.2. Not working.

Can confirm 1.2.0 works without problems.

[2022-10-23 19:53] cctechwiz commented on #14169
#14285 is ready for review.

[2022-10-24 01:36] AhsanAtIkea opened #14286 "Tech radar scroll bar area reset to top on entity hover"
## Expected Behavior

When we scroll down and hover over any entity on Tech radar page, it should stay at current position and corresponding entity on radar graph should become active with  information visible.

## Actual Behavior

When we scroll and hover over any entity, scroll bar reset to top immediately.

## Steps to Reproduce

1. Go to tech radar page.
2. scroll down and hover on any entity

[2022-10-24 03:44] sparcs360 commented on #13587
I agree with @goququ.  IMO it would be more useful (and intuitive) if the logic were:

1. Look for `catalog-info.yaml` on the branch specified by `.catalog.providers.gitlab.*.branch`
2. Fallback to project's default branch if (1) is omitted
3. If there's no default branch, then skip the project and log a warning

@ivangonzalezacuna: the main drawback of this workaround is that it impacts team memb

[2022-10-24 07:23] Parsifal-M commented on #14131
Needs even more memory? :sweat_smile:

[2022-10-24 07:41] #14059 closed

[2022-10-24 08:05] freben commented on #14274
Sounds sensible. Is this something you would like to contribute? 🙏

[2022-10-24 08:15] freben commented on #14248
Closing as duplicate, see discussion in #14221

[2022-10-24 08:15] #14248 closed

[2022-10-24 08:20] #13196 closed

[2022-10-24 08:23] freben commented on #14140
Closing as fixed.

[2022-10-24 08:23] #14140 closed

[2022-10-24 08:31] freben commented on #10907
Closing as fixed.

[2022-10-24 08:31] #10907 closed

[2022-10-24 08:40] #12092 closed

[2022-10-24 09:06] jhaals commented on #14131
Are we sure this is a memory issue? It does look like a compilation issue from the stacktrace

[code]

from https://github.com/backstage/backstage/actions/runs/3311019667/jobs/5465950950#step:7:31

[2022-10-24 09:37] pjungermann opened #14294 "catalog-import: warning about this-is-undefined-in-esm in verify logs (EntityListComponent)"
## Expected Behavior

## Actual Behavior

[code]

## Steps to Reproduce

1. `yarn backstage-cli repo build` (seen at the "Node 14.x on windows-2019" GitHub action)

## Context

## Your Environment

- Browser Information:

- Output of `yarn backstage-cli info`:

[code]

[2022-10-24 09:40] freben commented on #14282
Hi!

How are you signing in to Backstage? Could it be that you are running as guest?

Would you mind trying to upgrade to the latest version of Backstage to check if the problems persist?

[2022-10-24 09:49] freben commented on #14294
Oh, good catch. That's no good. Are you issuing a fix too, or shall we look at it?

[2022-10-24 10:08] #13202 closed

[2022-10-24 10:50] FreshlyBrewedCode commented on #10402
I already have a basic implementation to support multiple Azure DevOps Orgs in my fork. Just did not have time for further testing or to draft a PR during the last weeks. I hope I can look back into it in the coming weeks.

[2022-10-24 11:09] kumarnil commented on #14282
Sign in to backstage using backstage using custom oauth-proxy provider. No, app is not set to use for guest user at this point of time.
yes I upgraded to latest version yesterday, but the issue did not fixed.

The following two functionality not working:
1) Can not import any *.yaml file into backstage
2) None of the template is working

Note:- When I run this app as Guest user the above functiona

[2022-10-24 11:44] pjungermann commented on #14294
@freben just found it by accident and I am not working on a fix. Still busy with a few other things

[2022-10-24 11:56] jhaals commented on #14131
I tried raising it to 6gb without issues, probably time to open an issue for the snyk workflow job

[2022-10-24 12:03] jhaals commented on #14131
I'll open a ticket on their site for support 🙏 🤞

[2022-10-24 12:03] freben commented on #14280
Hi,

Just checking, are you aware of the `/create/edit` path that's typically available on your Backstage installation? Also reachable from the top right "kebab menu" in the Create section.

![Screenshot 2022-10-24 at 10 06 51](https://user-images.githubusercontent.com/3097461/197478060-a2cc56f4-460c-4e66-8e13-7377dda7f2d8.png)

Does this correlate with what you need?

[2022-10-24 12:34] kumarnil commented on #14282
**Here is the error log:**
[jwt_session.go:51] Error retrieving session from token in Authorization header: [unable to verify bearer token, oidc: id token issued by a different provider, expected "https://AAAAAAAA.com" got "https://BBBBBB.com/api/auth"]

[2022-10-24 12:46] caioq commented on #14263
@clareliguori Cloud Control API seems to fit perfectly. It would make the listing and get process simpler for all resources.

[2022-10-24 12:46] caioq commented on #14263
@clareliguori Cloud Control API seems to fit perfectly. It would make the listing and get process simpler for all resources.

[2022-10-24 12:54] #14294 closed

[2022-10-24 12:54] #13979 closed

[2022-10-24 13:06] freben commented on #14177
Or at least collapsing them perhaps in the interface so that they don't take up as much space by default. This is for the frontend right?

[2022-10-24 13:10] Jdavid77 commented on #11478
Facing the same issue , any progress on this??

[2022-10-24 13:11] freben commented on #14181
The original ask was for the _incoming_ (raw, unprocessed) entity. Correct me if I misread. The outgoing (stitched) entity could get updated any number of times for unrelated reasons - for example, if some _other_ entity emits a relation that points to an entity, it'll get restitched.

I would argue that that data should not necessarily go in the catalog at all; at least, it should not go into the

[2022-10-24 13:13] freben commented on #14186
Yeah there's no fetch API wrapper in the backend at all. `fetchApiRef` is exclusively a frontend thing. But I agree that it sounds like it's the entire CatalogClient that should be replaced instead, right? Maybe with a shim that only replaces a single method and passes through the other ones to a delegate (the original client).

[2022-10-24 13:15] freben commented on #14258
Yeah, this is a known shortcoming of the filter system. It doesn't update all the candidates for all filter sets, when one changes. I've changed the label to "enhancement", because this works as currently designed, because making rich, intuitive, fast, complete filter systems is Really Damn Hard and we haven't gotten around to making it better than this yet :) Help surely wanted though!

[2022-10-24 13:17] freben commented on #14251
The actions have access to a logger through the context. See the [section on writing actions](https://backstage.io/docs/features/software-templates/writing-custom-actions) in the docs. Those are the logs that get streamed to the frontend when you watch a scaffolding task run.

[2022-10-24 13:25] manuelscurti commented on #10529
Hi! same issue here, could not find a way to authorize static assets requests made by the browser when opening techdocs.
I already set up cookie-based authentication.

tagging some band members for visibility: @freben @vinzscam @jhaals

[2022-10-24 13:34] kvmw commented on #14186
@freben  yeah, agree. I initially thought about the least changes to support above requirement without breaking the current users code. but introducing a new method which accepts a CatalogApi and delegating the old method to the new one would be another option to avoid breaking clients code.

[2022-10-24 14:05] andrewthauer commented on #14181
So this makes sense conceptually. The authority of the data makes sense. However, what about cases where the entity is enriched via `CatalogProcessors` or even placeholders? Only relying on the catalog-info.yaml changes would not factor in data that the catalog file points to right?

[2022-10-24 14:46] #13224 closed

[2022-10-24 16:55] alecjacobs5401 commented on #13336
Bumping this to keep it alive

[2022-10-24 17:28] Houssem-Esprit commented on #13797
any update about this issue ??

[2022-10-24 17:51] #14221 closed

[2022-10-24 18:22] johanneswuerbach commented on #8090
Still relevant 👍

[2022-10-24 19:33] graynk commented on #14274
Sure, no problem, I'll take a stab at it this week

[2022-10-24 19:47] JoostSaanen commented on #11218
@arhill05 I'm stuck on this issue. Can you please provide some more information. I'm currently have the following config:

[code]

I'm still running in the error:

[code]

[2022-10-24 21:19] MikeSamv commented on #11521
@Hanyman8 Hey, I'm having the same issue as you. Can you by any chance give more info about how you changed the connection pool from session to transaction? Thanks

[2022-10-24 21:40] jrwpatterson commented on #13797
Sorry missed this. I'm not sure whats going on there we already set the state to false

However the first thing I would say is Auth0 doesn't sync to the catalogue so you must make sure your users are in the catalogue but https://github.com/jrwpatterson/backstage/blob/master/plugins/auth-backend/src/providers/auth0/provider.ts#L79 should be fixing your state.

I would debug through the call and fin

[2022-10-24 22:29] javoire opened #14308 "formContext is empty in scaffolder v1.7.0 for custom field extension"
## Expected Behavior

`formContext` in a custom field extension contains data (user input) from the other fields in the form

## Actual Behavior

`formContext` is `{}`

## Steps to Reproduce

This should log an empty object

[code]

## Context

## Your Environment

- Browser Information:
Chrome 106.0.5249.119 (Official Build) (arm64)

- Output of `yarn backstage-cli info`:
N/A

cc @benjdlambert

L

[2022-10-25 01:12] #13235 closed, assigned to nobody

[2022-10-25 05:09] cmoulliard commented on #4945
I think that it is time that the community work on this ticket as an alternative project has been developed by [red hat ](https://github.com/redhat-developer/helm-backstage) and that would be great to unify the different efforts

[2022-10-25 06:58] leon-vg commented on #11026
It looks like the edit button is back. The feedback button is not there, but has been replaced with the option for feedback when selecting a portion of text, right?

Closing this issue. Thanks for fixing this!

![image](https://user-images.githubusercontent.com/14820561/197703865-9f6ed509-2e8a-4592-9e53-c79380666da5.png)

[2022-10-25 06:58] #11026 closed

[2022-10-25 09:56] ChrisJBurns commented on #4945
@cmoulliard  I think gathering around the repository that @vinzscam  has is probably best - as this is the one that may be taken forward and merged into the main backstage org.

[2022-10-25 09:58] freben commented on #14181
Yeah that's right. So it will depend on what one is looking for. It may be the case that there are a number of these timestamps with different semantics that could be interesting.

- last time we tried to look at the source data
- last time we observed a change in the source data
- last time the unprocessed entity changed (remember, the source data may be anything, and can contain many entities)
-

[2022-10-25 10:32] Govardhandamam commented on #14037
@shailendra-ahir-cbre can you let me know on which page is this issue?

[2022-10-25 11:47] #8146 closed

[2022-10-25 12:22] dollopofsunshine commented on #14221
has this issue been fixed? I'm still facing the git config.name error.

[2022-10-25 13:06] #14169 closed

[2022-10-25 13:09] #13074 closed

[2022-10-25 13:44] sabre1041 commented on #4945
id be happy to work with @vinzscam and the community on a more canonical Helm chart that could be used by the broader community!

[2022-10-25 14:08] dzkaraka commented on #14263
@caioq Indeed, `Resource Groups Tagging API` is limiting, and I can see that it would limit the number of people who can benefit from it.

@clareliguori  Thanks for chiming in. I just had a brief glance at `Cloud Control API` and seems pretty powerful. Very interesting.
I will try to allocate some time to play with it. I am thinking whether there could be a standard way to provide a mapping from a

[2022-10-25 14:27] matiri132 commented on #14262
The problem was referred to the GitLab secret token that i was using, i did changes to the GitLab application from the admin page , and on these changes the secret token was revocated and i didn't noticed that.

[2022-10-25 14:27] #14262 closed

[2022-10-25 15:03] agentbellnorm commented on #14134
@yj-ang @soapraj, We're working on a fix for this, see https://github.com/backstage/backstage/pull/14323,

In the meantime, you should be able to work around this by downgrading to `@techdocs/cli@1.2.0`

[2022-10-25 15:12] jamieklassen commented on #12231
## Let's just do single-cluster

After long deliberation and a brief discussion with @luchillo17, I'd like to narrow the scope of this RFC even further -- in the first pass, let's make the `/proxy` handler **only target a single cluster at a time**, with the following simplified behaviour:

1. Be instantiated with a singleton [`KubernetesClustersSupplier`](https://github.com/backstage/backstage/bl

[2022-10-25 15:26] TevinBeckwith opened #14325 "Ability to pass validation to TextFields from a Template"
Currently In order to add validation to a TextField you need to define the validation when creating a TextField extension.  This means that every time you want to have a TextField with different validation you need to create an entirely new Custom Feld Extension.  It would be nice to have a Generic TextField that can validate based off regex passed from the template yaml.

## Feature Suggestion
A

[2022-10-25 17:54] clareliguori commented on #14263
The CCAPI outputs are documented in a published schema, so you can start from that to generate entity representations.  For example, Hashicorp uses the published schema to generate Terraform resource types (code is [here](https://github.com/hashicorp/terraform-provider-awscc/blob/b76a47d44694401f4ee7b6e809869fa28f9fef6a/internal/provider/generators/schema/main.go)).

You can either download all th

[2022-10-25 18:20] jpdeburgo commented on #13055
Hi @jhaals, how would we be able to import template freely, but only do so with in our organization?

[2022-10-25 18:33] MatthewJamesBoyle opened #14327 "npx @backstage/create-app errors with TypeError: fs__default.default.rm is not a function"
## Expected Behavior

following the instructions here: https://backstage.io/docs/getting-started/#create-your-backstage-app I expect to be able to create an app.

## Actual Behavior

I receive an error.
[code]
## Steps to Reproduce

Running npx @backstage/create-app using node 14.0.0.

## Context

I fixed it by upgrading to v16.0.0. when I upgraded to v16.0.0, I received a different error:
`Error:

[2022-10-25 18:37] cowboyd commented on #13797
We're also encountering this. We can't actually get the login screen to render to get to the portion where we'd check that our users were in the catalog.

[2022-10-25 20:02] mtlewis opened #14329 "backstage-cli: `repo build` command should accept `--config`"
## Feature Suggestion

When running `backstage-cli repo build`, it should be possible to supply repeated `--config` arguments in order to specify the configuration that should be used.

## Possible Implementation

If I'm reading [this](https://github.com/backstage/backstage/blob/master/packages/cli/src/commands/repo/build.ts#L29) right, we already try to read the options off the top-level command

[2022-10-25 20:02] mtlewis commented on #14329
Presuming I'm not missing some way of doing this that already exists I'm happy to work on it myself, so feel free to assign it to me!

[2022-10-25 20:33] michaelcooke-ithaka commented on #13122
I observe the same issue on Safari 16.0:
![Screen Shot 2022-10-25 at 4 33 33 PM](https://user-images.githubusercontent.com/102622793/197876298-fa688af5-ec84-4f5c-b897-acb4ccc02ff8.png)

[2022-10-25 20:53] michaelcooke-ithaka commented on #13122
@jeevagan1 what browser were you using?

This may be due to lack of support of regex lookbehind in Safari:

https://stackoverflow.com/questions/51568821/works-in-chrome-but-breaks-in-safari-invalid-regular-expression-invalid-group

https://caniuse.com/js-regexp-lookbehind

[2022-10-25 21:34] jrwpatterson commented on #13797
Does anybody have a repo I can use to reproduce this?

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Charles Lowell ***@***.***>
Sent: Wednesday, October 26, 2022 4:37:47 AM
To: backstage/backstage ***@***.***>
Cc: Joe Patterson ***@***.***>; Mention ***@***.***>
Subject: Re: [backstage/backstage] not able to authenticate using auth0 authentication provider (Iss

[2022-10-25 23:44] Mercanuis commented on #10402
Hi there.

My organization is also starting to explore Backstage and I was coming across this conversation via searching for "Backstage multiple repositories"

The context is that my team recently integrated with GH and is using the Discovery Tool to have Backstage scrape the repository for `catalog-info` YAML and host our documents. We would like to extend this to other teams in the same company

[2022-10-26 01:45] jrwpatterson commented on #13797
never mind worked it out!

I  can at some point update the docs unless someone wants to but ultimately its because we need session support for Auth0

https://backstage.io/docs/auth/oidc#the-configuration

so in the app-config.yaml you need to add the session secret

[code]

[2022-10-26 01:46] jrwpatterson commented on #13797
sorry I don't know why I didn't update the doco for this when I updated it

[2022-10-26 06:03] wesley-pattison opened #14341 "'@backstage/plugin-stack-overflow' broken following instructions - "No implementation available for apiRef{plugin.stackoverflow.service}""
## Expected Behavior

Stack Overflow Plugin loads with no error.

## Actual Behavior

Stack Overflow Plugin integrated into HomePage component, throws error:

[code]

## Steps to Reproduce

1. Follow instructions here: https://github.com/backstage/backstage/tree/master/plugins/stack-overflow
2. Follow instructions here: https://github.com/backstage/backstage/tree/master/plugins/stack-overflow-back

[2022-10-26 06:54] webark commented on #14263
@clareliguori can you use cloud control at a organization level like you can with aws config? Or is it a per account feature.

[2022-10-26 07:27] freben commented on #14262
Alright, happy it got sorted out!

[2022-10-26 07:28] freben commented on #14266
This one surprised me a bit. I'm not a vault user myself, but i was under the impression that there's typically one installation and then you fence off different parts of it with ACLs?

[2022-10-26 07:44] iiro commented on #14266
I guess this depends on organisation... A bit irrelevant but maybe also related to this: different namespaces. You bump into this the moment you use Vault Enterprise / the managed Vault from Hashicorp (HCP Vault).

[2022-10-26 07:45] freben commented on #13329
Closing as implemented by #13387

[2022-10-26 07:45] #13329 closed

[2022-10-26 08:14] JSPRH commented on #14136
@aarlaud Could you please have a look at #14326 and check if this fulfills your suggestions?

[2022-10-26 08:38] ottosichert commented on #13813
Closing this issue as duplicate of https://github.com/backstage/backstage/issues/14134 as the discussion, PR and workaround are captured there

[2022-10-26 08:38] #13813 closed

[2022-10-26 08:54] ottosichert commented on #14134
The fix is merged now and will be available in next week's release! Closing this for now, please re-open if you still encounter any issues when using the latest version.

[2022-10-26 08:54] #14134 closed

[2022-10-26 09:24] ottosichert commented on #13995
Hey @iriswang233! Thanks for your issue report.

Looking at the file `plugins/techdocs-react/src/component.tsx` you referred to, it is hinted explicitly that passing a new `sheetsManager` is required:

https://github.com/backstage/backstage/blob/58c3581f8d6b74dc4527e13b5bbc05e5cefd55df/plugins/techdocs-react/src/component.tsx#L251-L255

Thus when removing it, it is expected to break. It is require

[2022-10-26 10:44] arnthor89 opened #14343 "Add optional step to SimpleStepper"
## Feature Suggestion

Add an optional to SImpleStepper similar to what MuiStepper does.

## Possible Implementation

Add `canSkip`, `skipText` and `onSkip` to [StepActions](https://github.com/backstage/backstage/blob/master/packages/core-components/src/components/SimpleStepper/types.ts#L19) and based on the action render the `SKIP` button in [SimpleStepperFooter](https://github.com/backstage/back

[2022-10-26 10:59] ottosichert commented on #12031
Hey @asselin, thanks for reporting. It seems there are two different issues involved in this:

1. `View Techdocs` link in entity About card is not considering the `legacyUseCaseSensitiveTripletPaths` (or the absence of it)
2. `backend.baseUrl` missing when redirecting from `docsRouter`

For the first issue, we're not able to reproduce on the latest master. Visiting `/docs/default/Component/backsta

[2022-10-26 11:28] yj-ang commented on #14134
Noted. Looking forward to next release. Thank you! @agentbellnorm @soapraj @ottosichert

[2022-10-26 13:09] clareliguori commented on #14263
Cloud Control returns data per-account; it does not do any cross-account aggregation like Config.

[2022-10-26 13:13] martinezhermes commented on #14221
This hasn't been fixed yet.

[2022-10-26 13:19] Pike opened #14349 "Allow for default values in configuration substitution"
When writing config yamls, one can do `${FOO}` to fill in values from the environment. It'd be nice to take that bash-ism a step further and allow for `${FOO:-default value}`.

## Feature Suggestion

Add a default/fallback logic to [config substitution](https://github.com/backstage/backstage/blob/master/packages/config-loader/src/lib/transform/substitution.ts), so that one could, for example, do

[2022-10-26 13:29] awanlin commented on #14221
@dollopofsunshine @martinezhermes can you try using this specific version: `npx @backstage/create-app@0.4.33-next.0`, this has the changes from #14278 that should fix the git error

[2022-10-26 13:43] martinezhermes commented on #14221
it is fixed in the specified version npx @backstage/create-app@0.4.33-next.0

[2022-10-26 13:43] wmunyan commented on #14221
I came across this as I was having the same issue.  I tried running `npx @backstage/create-app@0.4.33-next.0`.

I received the following output (after some progress):
[code]

[2022-10-26 14:10] conner-bissell commented on #13797
We have been dealing with issues with the auth0 provider for a while and this just fixed it. Thanks @jrwpatterson

[2022-10-26 14:34] freben commented on #14349
By served, do you mean in the frontend? If so, then bear in mind that you have to supply the same `--config` arguments to the production build command as during runtime! The reason is, the production config gets injected into the static frontend files during build - it's not served from the backend to the frontend. That quirk is something that we've been wanting to address, but haven't had the tim

[2022-10-26 14:35] freben commented on #14349
That being said, I personally think that the feature request isn't bad as such, it could be neat in some circumstances. Maybe it does introduce risk of over-using that pattern instead of proper config file layering, though; that's what you normally should lean against.

[2022-10-26 16:00] riginoommen commented on #4945
https://developers.redhat.com/articles/2022/10/24/red-hat-joins-backstageio-community

[2022-10-26 16:31] Pike commented on #14349
I am seeing the `Injecting env config into module-backstage.8f130c7a.js` from https://github.com/backstage/backstage/blob/b725ae2bc70cf9be3e9630df484daae1fb88e8f5/plugins/app-backend/src/lib/config.ts#L48 in the startup logs in the deployment, after `Loaded config from app-config.yaml, app-config.production.yaml`. So I think this should work, but somehow it doesn't. It does on the same docker imag

[2022-10-26 18:24] Houssem-Esprit commented on #13797
Thanks @jrwpatterson, it worked for us too.

[2022-10-27 01:36] padupe commented on #2521
I believe this has been a community desire for some time. Since using variables through `app-config.yaml` is not so simple.

I myself have already requested support for the use of this strategy and have not been able to get clear examples of effective use.

[2022-10-27 02:42] webark commented on #2521
I ended up just using a small yarn plugin like
[code]
and it worked well for me.

[2022-10-27 03:04] webark commented on #2521
https://github.com/webark/yarn-plugin-dotenv

Pushed it up if anyone wants to use it. (it seems like the general plugin installation path is just a download from GitHub direct 🤷 )

[2022-10-27 06:28] dollopofsunshine commented on #14221
I updated the version in package.json to use 0.4.33-next.0 and I'm able to create the app. Thanks guys.

[2022-10-27 08:08] petejespersqbe commented on #6015
still an issue :)

[2022-10-27 08:30] jhaals commented on #13122
The safari bug has now been fixed in https://github.com/backstage/backstage/pull/13441. Try bumping backstage and see if that resolves the issue

[2022-10-27 09:01] jhaals commented on #14282
Hi, sorry to hear that you're having problems.
From reading the first error message is almost sounds like the token is missing information. Could you share how signin resolver is configured as that might have clues. It might also help to inspect issued token by decoding it in the browser, see https://backstage.io/docs/auth/troubleshooting#inspecting-the-contents-of-a-backstage-token for informatio

[2022-10-27 11:42] jerith opened #14360 "Wrong callback URL in github auth provider docs"
The github auth provider documentation at https://backstage.io/docs/auth/github/provider#create-an-oauth-app-on-github specifies `http://localhost:7007/api/auth/github` as the callback url to use when creating the github oauth app, which has the incorrect path. The correct value (documented at https://backstage.io/docs/getting-started/configuration#setting-up-authentication in the getting started

[2022-10-27 13:11] padupe commented on #2521
@webark Could you present the structure that was your Backstage?

[2022-10-27 13:26] padupe commented on #2521
Congratulations on the initiative to develop something for this purpose @webark!

But I keep getting the variable as undefined when using your library/package.

[2022-10-27 14:16] webark commented on #2521
Are you on the discord server? It might be easier to chat there.

I was using dotenv cli to load up a ".env" and ".env.local" file at the root of the project.

With the plugin, you need to be on yarn 3, and when you run that command you should see it updated in your yarnrc file as well, and the plugin in ".yarn/plugins/@yarnpkg".

You also can't have the "NODE_ENV" set to "production".

Im on the

[2022-10-27 14:32] andrewthauer commented on #2521
For `direnv` (which I highly recommend as a general tool), you can setup it up using the following:

1. Install [direnv](https://direnv.net/docs/installation.html) (e.g. `brew install direnv` on mac)
2. [Hook into your shell](https://direnv.net/docs/hook.html) (e.g. add `eval "$(direnv hook zsh)"
` to your `.zshrc` file)
3. Reload your shell
4. Create an `.envrc` file in the root of your backstage

[2022-10-27 14:38] webark commented on #2521
yea. Some people used that. And even though you can put it in a tools version for people that use asdf, I still wanted something that was a "no configure" strategy. but yea. Every one I know that uses it has good things to say.

[2022-10-27 16:20] ehrnst opened #14364 "Github Actions plugin: support using the app it self instead of user sign-in"
## Feature Suggestion

I would like the github actions plugin to authenticate with github using the app it self, and not end-user only. As of my understanding it needs a backend component to do this.
However, it should be possible to use the entity provider that already scrapes the repos without user credentials.

Additionally, a configuration option for disabling the feature where you can re-run

[2022-10-27 19:13] djetelina opened #14365 "Enable re-use of frontend app through more dynamic configuration"
## Feature Suggestion

As I've been moving my backstage instance from localhost to some kind of hosting, I came across an issue where it seemed like the application just ignores my configuration, namely baseUrl. Auth plugin tried to open a popup with `localhost` address. After many hours of debugging, I was able to figure out the root cause only when I resorted to asking on Discord (side personal

[2022-10-27 19:36] LvffY commented on #14266
@freben I agreed with @iiro it mostly depends on organizations.

In my case, even if we manage policies inside each vaults, we don't want (or can't) have a single vault server (for network or customers policies reasons for example).

Indeed, the "multiple namespaces" use case could be taken into account also.

From my point of vue, this would lead to the same technical answer (but I may be wrong h

[2022-10-27 20:57] juristr commented on #11570
Just stumbled upon this :)

I'm part of the Nx & Lerna core team, and we just [released Lerna v6](https://dev.to/nx/lerna-reborn-whats-new-in-v6-245j), which has caching, task pipelines, and more built-in. Seeing that you already have Lerna in use, it might be interesting for you to upgrade (also because it is non-breaking).

I'm happy to chat/help out if that's desired :)

[2022-10-27 21:03] djetelina commented on #14266
Our setup - multiple installations per environment, each environment using its own installation. Then each team owning multiple secret engines (only one KV though).

[2022-10-27 21:24] Rugvip commented on #11570
@juristr we have actually moved off Lerna. We were only using it for running test and publishing packages previously, but are now running Jest from the root of the repo instead, with multiple projects, which gave us a pretty huge speed increase. Publishing was switched to Yarn 3 `workspaces foreach`. Our development setup is focused heavily around building straight from source, and the production

[2022-10-27 21:31] Rugvip commented on #11570
Also sorry @minkimcello I must've missed your followup, some good thoughts in there. I totally agree that the CLI as it is structured right now has quite a lot of magic. We moved over to that both because of the optimizations we could do, but also to reduce the number of changes we need to roll out to existing apps.

The commands are generally structured in a way were you can replicate a lower lev

[2022-10-28 05:57] OrkoHunter commented on #13969
@GiladFeder I'm closing the issue. Feel free to re-open if the problem is not solved for you.

[2022-10-28 05:57] #13969 closed

[2022-10-28 08:01] TBragi commented on #14365
I have just encountered the exact same challenge.

I have a buildpipeline which uses a `app-config.yaml` with `baseUrl` set to `localhost` since that is what I use for local development and testing, while my deploypipeline injects an environment specific `app-config.yaml` with a new relevant `baseUrl`.

This results in the same behavior described, where the webpage will be served correctly on the

[2022-10-28 09:37] #10270 closed

[2022-10-28 12:25] OrkoHunter opened #14372 "$text substitutions in catalog descriptor files do not support local files"
## Expected Behavior

According to the documentation for `$text`, `$json` and `$yaml`, we should be able to use `$text: <local file path>` to substitute `catalog-info.yaml`. This is especially useful for `spec.definition` in API entities.

Example

[code]

## Actual Behavior

Catalog throws an error when processing API entities where `$test` is either a relative local path or an absolute local pat

[2022-10-28 13:29] awanlin commented on #14372
Hi @OrkoHunter, should it be `$yaml` because you are pointing to a YAML file? I recently helped someone on Discord with this and they reported it worked: https://discord.com/channels/687207715902193673/1035213554065883146

[2022-10-28 15:27] kevinneville opened #14377 "Github actions using deprecated set-output commands"
## Expected Behavior

Workflows should complete without warnings.
See https://github.blog/changelog/2022-10-11-github-actions-deprecating-save-state-and-set-output-commands/.

## Actual Behavior

The workflow shows warnings.

## Steps to Reproduce

Actions using old commands gives a warning like https://github.com/backstage/backstage/actions/runs/3228335759.

[2022-10-28 15:57] rayterrill opened #14378 "plugin-stack-overflow-backend doesn't appear to support the oauth config to support SO Teams"
plugin-stack-overflow-backend doesn't appear to support the oauth config to support SO Teams

## Feature Suggestion

Add support for passing an access token, which is required when access team-specific data.

## Possible Implementation

Amend StackOverflowQuestionsCollatorFactory.ts to support passing in a new parameter accessToken from the Backstage config, then using that in the call to the SO A

[2022-10-28 17:19] OrkoHunter commented on #14372
Oh thank you @awanlin ! I did indeed try $yaml as well. Although looking at the conversation you point at, I am missing a `-` for the definitions, didn't know they are supposed to be a list. I'll try that out!

[2022-10-28 18:26] awanlin opened #14380 "[TechDocs] Event Based Generation"
## Feature Suggestion

Base on the amazing work being done in #13931 we should consider building a subscriber that would generate TechDocs based on the event. This would be the sweet spot between on-demand and having a CI/CD pipeline!

## Possible Implementation

Building off of #13931 we could implement a subscriber that could listen for event that show a repo has changed and then generate the Te

[2022-10-28 18:33] awanlin opened #14381 "[TechDocs] Support Cloud Storage for On-Demand Generation"
## Feature Suggestion

TechDocs should support Cloud storage for On-Demand Generation

## Possible Implementation

I have not looked deeply at the code for this but instead of writing TechDocs to the local file system it would use the configuration in the `app-config.yaml` for Cloud storage and write the TechDocs files there if that configuration is available otherwise it would continue to work th

[2022-10-28 18:45] kuangp commented on #14381
hmm I might be misunderstanding the request here but doesn't TechDocs already support this by setting the [`techdocs.publisher`](https://backstage.io/docs/features/techdocs/configuration) config to your cloud storage? Our current setup has `techdocs.builder: 'local'` for on demand generation and `techdocs.publisher.type: 'awss3'` to store the docs artifacts in the cloud

[2022-10-28 18:58] freben commented on #14381
Isn't it great when issues end up like this!

[2022-10-28 19:07] awanlin opened #14383 "[Catalog] Expanding the "Extending the model" Documentation"
## Suggestion

During one of the recent Catalog SIG meetings we discussed providing more documentation around the concepts found on the existing "[Extending the model](https://backstage.io/docs/features/software-catalog/extending-the-model)" documentation. The intention of this issue is to be able to track the work needed to expand this documentation with examples of how to actually make the chang

[2022-10-28 19:10] #11570 closed

[2022-10-28 19:23] awanlin opened #14384 "Not getting added as reviewer"
## Expected Behavior

As a `CODEOWNER` I would expect to be added as a reviewer

## Actual Behavior

I'm noticing that I don't get tagged as a reviewer for changes to the Azure DevOps plugin which I'm in the `CODEOWNERS` file for.

Here's a recent example: https://github.com/backstage/backstage/pull/14353

Here's the current `CODEOWNERS` file: https://github.com/backstage/backstage/blob/158cd72bcd

[2022-10-28 19:53] kuangp commented on #14384
hm I also recently noticed this too on a [PR](https://github.com/backstage/backstage/pull/13905/files) that modified some files from the playlist plugin that I'm listed as a codeowner.

According to the [docs](https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners):

which is probably not an option for non-maintainers 😕

[2022-10-28 20:05] awanlin commented on #14384
Interesting, thanks for adding on to this. I for sure don't expect write access.

[2022-10-28 21:28] awanlin commented on #9616
I've submitted #14386 to add this ^

[2022-10-28 22:33] pedronastasi commented on #2030
Our team is also trying to accomplis this task, we have some ideas.

[2022-10-29 03:28] imballinst commented on #2857
hi @Fox32, not sure if this is related, but I forked and made a branch containing a somewhat PoC of this: https://github.com/backstage/backstage/compare/master...imballinst:backstage:poc. I am using the `Deployment` core resource as the example [here](https://github.com/backstage/backstage/compare/master...imballinst:backstage:poc). Would you like to lend me some thoughts about the API/design/appr

[2022-10-29 06:17] freben commented on #14383
Assigning to me at least as a reminder!

[2022-10-29 10:11] kumarnil commented on #14282
signIn: {
          resolver: async (signInInfo: any, ctx) => {
            const { roles: role, name: id } = signInInfo.result.fullProfile;
            const sub = `user:${id}`;
            return ctx.issueToken({
              claims: { sub, ent: [`${role}`] },
            });
          },
        },

[2022-10-29 10:22] freben commented on #14282
sub and ent must always contain full entity ref stringsbon standard form, with kind, namespace, and name. I recommend using stringifyEntityRef to form them. And double check that you don't get null/undefined in any of those variables.

[2022-10-29 11:46] #11650 closed

[2022-10-29 21:07] webark commented on #14383
there are also a couple of the "TODO"'s around the KindValidator that could be good to fix before we solidify and prescribe the approach.

https://github.com/backstage/backstage/blob/f777433ab384196f44d454625a3d6c741c2915ef/plugins/scaffolder-common/src/TemplateEntityV1beta3.ts#L83-L88
https://github.com/backstage/backstage/blob/f777433ab384196f44d454625a3d6c741c2915ef/packages/catalog-model/src/k

[2022-10-29 22:37] #14264 closed

[2022-10-29 23:22] kumarnil commented on #14282
**I did the below update in the code, but issue did not fixed.**

import {
  DEFAULT_NAMESPACE,
  stringifyEntityRef,
} from '@backstage/catalog-model';

 resolver: async (signInInfo: any, ctx) => {
            const { name: id } = signInInfo.result.fullProfile;
            if (!id) {
              throw new Error(`Login user profile does not contain a username`);
            }
            const u

[2022-10-30 12:30] Rupsnigdha opened #14390 "🐛 Bug Report: The subscribe button for Newsletter is not aligned with the rest of the buttons making the look somewhat inconsistent."
### 📜 Description

![image](https://user-images.githubusercontent.com/83987752/198878263-217eb793-b0da-4417-8289-cbd86ef60842.png)
The subscribe button for newsletter is not aligned with the rest of the buttons, making the look somewhat inconsistent.

### 👍 Expected behavior

The buttons are not lined up

### 👎 Actual Behavior with Screenshots

The buttons should be lined up.

### 👟 Reproduction s

[2022-10-30 12:31] Rupsnigdha commented on #14390
This is my first time reporting an issue in a public repo; hopefully I get this assigned to me and can work on fixing it! Cheers!!

[2022-10-30 23:39] Rupsnigdha commented on #7633
Could you assign this issue to me? Thank you!

[2022-10-31 01:24] iriswang233 commented on #13995
Hi @ottosichert ,

Sorry for confusion here. I don't mean to remove the sheetsManager. The problem is the two JSS instances (Backstage + Shadow DOM) don't run well on one React instance.

All the JSS belong to Shadow DOM was compiled under Backstage rather than in the Shadow DOM, like what is described in Actual Behavior.

I am wondering why this could happen. Could you help on this?

[2022-10-31 03:44] iriswang233 commented on #14181
The change made by custom processors also matters to us, these 2 should be related to my request.
- last time the processed entity changed
- last time the final entity changed

[2022-10-31 05:18] siddharth159 commented on #13674
Hello @benjdlambert I'm facing same issue can I know when we get resolution for this issue.

[2022-10-31 10:31] Rugvip commented on #14390
@Rupsnigdha of course, thank you! 👍

[2022-10-31 11:42] Rupsnigdha commented on #14390
Are the files for the website in this repo as well? I do apologise as this is my first time contributing to an actual project...

[2022-10-31 11:45] Rugvip commented on #14390
Yes they are! That particular section is over here: https://github.com/backstage/backstage/blob/a8cf285b8f6dd799ca75d10acee64efb06f13201/microsite/pages/en/community.js#L98

You can preview by running `yarn install` + `yarn start` in `microsite/`

[2022-10-31 12:25] awanlin commented on #13014
Still something that would be great to have once #12019 has been completed 👍

[2022-10-31 12:25] awanlin commented on #13447
Still a good idea 👍

[2022-10-31 14:23] Rupsnigdha commented on #14390
I fixed those buttons. Should I also fix the alignment of the community initiatives buttons?
![image](https://user-images.githubusercontent.com/83987752/199030597-6081c39b-4cf4-4160-9977-c8554a901441.png)
(original)
(again, new to open source so I don't know if I am supposed to do more than the issue I reported :P)

[2022-10-31 15:02] Rupsnigdha commented on #14390
Created a pull request; 14394 awaiting review. #14394

[2022-10-31 15:11] Rupsnigdha commented on #14390
Created a PR; awaiting review! #14395 (Closed 14394 because I forgot to sign off)

[2022-10-31 15:11] Rupsnigdha commented on #14390
#14395

[2022-10-31 15:18] byt3h3ad commented on #7151
where exactly do we need markdown? if someone can specify that I can help!

[2022-10-31 17:30] JaapHaitsma commented on #11414
I run into the same issue as @alexweide adding the following to `values.yaml` indeed fixes the issue
[code]

[2022-10-31 18:17] Rugvip commented on #14390
Closed by #14395

[2022-10-31 18:17] #14390 closed

[2022-10-31 22:04] mist3r3 commented on #14329
Hi I'm encountering the same issue actually, I want to use a different file than app-config.yaml (app-config.production.yaml). And when creating my docker traced it back to 'backstage-cli package build' that didn't take the config from 'yarn tsc --config app-config.production.yaml'

What's the alternative?

[2022-10-31 23:44] jpeach commented on #14177
IMHO, best to just omit them altogether.

[2022-11-01 00:00] paylocity-sflanders commented on #12333
We are seeing this issue with bitbucket server.   Essentially the data never processes and you have no direct way of finding the bad entities because they aren't tied to any real location.   We wiped all the data and it was still processing them and reporting the warning.  We only discovered it by searching for the records in the db directly in refresh_state table

[2022-11-01 05:31] regicsolutions commented on #12390
@FilipSwiatczak wondering if you were ever able to get passed this issue?

[2022-11-01 08:37] OrkoHunter commented on #14372
Unfortunately all of the alternatives give the same error to me

[code]

[code]

[code]

[code]

[code]

[2022-11-01 10:23] Rugvip commented on #14372
I think the code you linked to explains it well, we don't support this, but we could, as long as we implement it in a secure way.

Seeing as the source entity file is already stored on disk I don't see any huge issues tbh, since you'd need access to modifying the file to begin with. There might be some processors that could mess with things though, and open up for remote attacks. Limiting with `re

[2022-11-01 10:26] OrkoHunter commented on #14372
Thanks for the response @Rugvip, I was going crazy :P

[2022-11-01 11:55] armandocollazo-tomtom commented on #10776
Hello @shailahir I am facing this same issue since decided to create a Software Template that creates a Pull Request in the chosen Azure DevOps repository.
Have you managed to work around this issue? Did you find a solution for it?

[2022-11-01 16:31] mist3r3 commented on #14023
I actually have the same issue, I was going a bit crazy actually about that until I found that the build doesn't take the config you specify (and you can't add a --config option). So for us using docker (which is for us the production), it means I HAVE to use the app-config.yaml as the production one.

I think it would be useful to be able to create the docker image with different configs.
This is

[2022-11-01 18:25] antoniordz96 opened #14398 "🚀 Feature: Support DisplayName on all Default Catalog Entities"
### 🔖 Feature description

Today the `group` and `user` entities support the field `DisplayName: xxxxx`.  Our `Domains` don't follow the standard naming convention  set forth by Backstage and we would like `Domains` to support this field as well.

Example Domain: `Digital Loyalty, CoBrand, and 3rd Party Partnerships`

### Today
- Domain: `name: "digital-loyalty-cobrand-3rd-part-relationships"`
###

[2022-11-01 19:10] awanlin commented on #14398
Hi @antoniordz96, I can totally understand that it's not very clear but this is what the `metadata.title` can be used for and is found on all Kinds. The documentation on this is here: https://backstage.io/docs/features/software-catalog/descriptor-format#title-optional. Hope that helps?

[2022-11-01 19:14] antoniordz96 commented on #14398
Oh wow I completely missed this field but this solves our use cases. Thanks @awanlin

[2022-11-01 19:14] #14398 closed

[2022-11-01 19:19] awanlin commented on #14398
You're welcome, happy to help :)

[2022-11-01 19:39] #13333 closed

[2022-11-01 23:58] #13358 closed

[2022-11-02 07:42] Nitinvonage opened #14401 "🐛Facing Knex DB migration issue while updating Backstage to 1.7 from 1.5"
### 📜 Description

Upgrading backstage to 1.7 from 1.5 throws below error at the time of server start.

`**The migration directory is corrupt, the following files are missing: 20220129100000_created_by.js**`

### 👍 Expected behavior

It should not throw any error in upgradation to latest backstage version

### 👎 Actual Behavior with Screenshots

Throwing error while running yarn dev command locall

[2022-11-02 08:12] mist3r3 opened #14402 "🐛 Bug Report: Basic search feature is not working consistently"
### 📜 Description

Hi, so I'm succesfully running on production from a docker-compose (one with backstage docker, the one given in the website, and one for postgres).
But I have this issue only with the search plugin. when researching I'm receiving 304 status code (instead of 200 locally with an answer).

Any idea what could cause this issue?
(I'm using multiple plugins like github-pr, teamcity an

[2022-11-02 10:52] Rugvip commented on #14401
That duplicate scaffolder backend version doesn't look good, and is likely the cause of the issue:

[code]

Could you trace where that is coming from with `yarn why @backstage/plugin-scaffolder-backend`? You want to get to the point where you only have the latest version installed.

[2022-11-02 12:57] #14360 closed

[2022-11-02 12:58] gocapa opened #14408 "💬 RFC: BitBucket catalog-import Pull Requests"
### 🔖 Need

Hi, how can I use Pull Requests functionality for BitBucket when a repository doesn't have catalog-info.yaml anda open a PR?

Thanks

### 🎉 Proposal

.

### 〽️ Alternatives

_No response_

### ❌ Risks

_No response_

### 👀 Have you spent some time to check if this RFC has been raised before?

- [X] I checked and didn't find similar issue

### 🏢 Have you read the Code of Conduct?

- [X]

[2022-11-02 13:39] #13356 closed

[2022-11-02 13:55] Nitinvonage commented on #14401
works like a charm, thanks for the quick response....

[2022-11-02 15:04] hemuvemula opened #14411 "🔌 Plugin: opencost.io based Cost Analysis Plugin"
### 🔖 Summary

[open cost ](https://www.cncf.io/projects/opencost/) is a CNCF sandbox project that provides cost insights in a cloud-native way agnostic of the cloud provider  I do understand that a plugin called [cost-insights](https://github.com/backstage/backstage/tree/master/plugins/cost-insights) exist which does the similar thing but having an open cost based plugin would benefit the larger

[2022-11-02 21:26] maxm0rt opened #14415 "[Gitlab] Allow Backstage to refer to Gitlab artifacts"
### 📜 Description

Gitlab's URL resolver fails when trying to handle URLs that point at job artifacts. [There is an API](https://docs.gitlab.com/ee/api/job_artifacts.html#download-a-single-artifact-file-from-specific-tag-or-branch) to refer to those artifacts, so it is a well known format.

If one puts a link to the artifact in a `$text: <url>` placeholder in either the web UI or API friendly form

[2022-11-02 21:57] pjungermann commented on #14408
this doesn't sounds like an RFC but rather like a support question. I suggest to join the [support channel on Discord](https://discord.com/channels/687207715902193673/1006844959170764851) or use the discussion feature here (even though Discord is more active I assume)

[2022-11-02 22:12] taras opened #14416 "🚀 Feature: Allow updating components generated from scaffolder templates"
### 🔖 Feature description

As a DX engineer who maintains a Backstage portal or a platform engineering, I want to ensure that all components scaffolded from a template are updated whenever the template changes. Ideally, the Backstage App would show all of the components that were created from a specific template, allow rolling out changes to each component by creating PRs in repositories for these

[2022-11-02 22:37] taras opened #14417 "🚀 Feature: Add the ability to generate a web-library plugin with backstage-cli"
### 🔖 Feature description

`backstage-cli` can bundle different kinds of Backstage plugins. You can see a complete list of [available package roles](https://github.com/backstage/backstage/blob/master/packages/cli/src/lib/role/packageRoles.ts#L23) in the source code. There are several packages that use this role: [`@backstage/theme`](https://github.com/backstage/backstage/tree/master/packages/theme

[2022-11-02 22:38] taras commented on #14417
This is a "good first contribution".

[2022-11-02 22:47] Pike commented on #14416
Thanks for filing.

I think there are two dimensions we have to tackle here.

One is figuring out which components got generated. And the challenge in the scope of backstage is that the templating engines don't matter for that one. The real-world impact of the scaffolding process happens inside actions, commonly outside of the actual templating action. Most often, the templating will happen in `fe

[2022-11-02 23:21] antoniordz96 commented on #10570
Hey we opened https://github.com/backstage/backstage/issues/14398 where we switched our entities to leverage this `Title` field. This works as mentioned perfectly in each entity page but not in tables such as the default catalog table. Is comment https://github.com/backstage/backstage/issues/10570#issuecomment-1085805937 still the only solution today?

Our team might be interested in contributing

[2022-11-03 00:30] Rugvip commented on #14408
Yep, please post this question on Discord or in the GitHub discussions. This is not what the RFC format is for.

[2022-11-03 00:30] #14408 closed

[2022-11-03 01:23] Sabrina0614 opened #14418 "🐛 Bug Report: FeatureFlag API is not using the StorageAPI"
### 📜 Description

We are excited to see user-settings-backend plugin being added in `v1.6.0` release, which allows backstage to save user specific settings to DB, and we are also thrilled to try it out.

Shortcuts and started entities seems to be working properly. However, it seems that `feature flags` is not being updated to use `StorageAPI` based on the current newest release, as shown in the [

[2022-11-03 04:46] prasoon-pxc opened #14419 "🐛 Bug Report: Playlists fail to load after installing playlist plugin"
### 📜 Description

I am trying to install [playlist plugin](https://github.com/backstage/backstage/tree/master/plugins/playlist-backend) for backstage, installation get successfull but when I am trying to click on playlist icon on the backstage then getting below error:
![image](https://user-images.githubusercontent.com/106815018/199648652-d514b686-d54a-43ae-8fbe-5024f87c2f46.png)
---
When I check

[2022-11-03 06:03] #14401 closed

[2022-11-03 06:09] regicsolutions commented on #14416
Distributing the templates as versioned NPM packages is an option, actions like @Pike mentioned will be tricky maybe appending a version to the action within the template is an option?

[code]

[2022-11-03 06:34] tomas-mota commented on #14416
We could add a field to the component which might look like something like this:

[code]

The problem is that unlike other tools, which assume everything comes from a single template, skaffolding in Backstage allows for fetching different templates and merging them into a final result, which makes it quite hard to track the source.

[2022-11-03 09:16] prasoon-pxc opened #14420 "🐛 Bug Report: Bazaar Plugin giving 404 error after installing"
### 📜 Description

Bazaar Plugin giving 404 error after installing

### 👍 Expected behavior

It should give option to create new project for bazaar

### 👎 Actual Behavior with Screenshots

I tried installing the Bazaar Plugin using it [documentation](https://github.com/backstage/backstage/tree/master/plugins/bazaar), but it is not working after installation and giving below error:
![image](https:/

[2022-11-03 09:22] Rugvip commented on #14420
Bit of a gap in the docs if I'm being honest, but you'll need to follow these instructions too: https://github.com/backstage/backstage/tree/master/plugins/bazaar-backend

[2022-11-03 12:05] prasoon-pxc commented on #14420
Thanks @Rugvip , I think it is major gap in the docs,it is working after installing backend plugin of bazaar

[2022-11-03 12:52] kumarnil commented on #14282
This issue is open for while, I will appreciate if you could assist me to fix this issue?

[2022-11-03 13:36] Rugvip opened #14428 "🐛 Bug Report: Scaffolder documentation recommends insecure approach to mask secrets"
### 📜 Description

The documentation at https://backstage.io/docs/features/software-templates/writing-templates#hide-or-mask-sensitive-data-on-review-step suggests usage of `ui:widget: password` to hide input. This is a pretty big footgun, since these values get stored in the tasks execution without being treated as secrets. They can therefore be viewed by other users.

### 👍 Expected behavior

Ei

[2022-11-03 13:45] Rugvip commented on #14282
@kumarnil What is the issue that you are currently facing? What are you seeing in the logs and what does the relevant parts of your setup look like?

The error message you posted [here](https://github.com/backstage/backstage/issues/14282#issuecomment-1288967394) is a strange one, it doesn't look like it's coming from Backstage.

[2022-11-03 14:48] kuangp commented on #14419
Hi @prasoon-pxc, can you share what your backend playlist config looks like eg. your `packages/backend/src/plugins/playlist.ts` file?

[2022-11-03 16:00] #14136 closed

[2022-11-03 16:38] kumarnil commented on #14282
Here is the error pops up on ui screen:
Backend request failed, 500 {"error":{"name":"Error","message":"Entity reference must not be empty","level":"error","service":"backstage"},"request":{"method":"POST","url":"/api/scaffolder/v2/tasks"},"response":{"statusCode":500}}

![image](https://user-images.githubusercontent.com/108412139/199780107-bcdcd668-359d-4cf0-8400-e4bb2a943f57.png)

Developer tool

[2022-11-03 16:45] Sabrina0614 opened #14436 "🐛 Bug Report: PinSideBar is not using the StorageAPI"
### 📜 Description

We are excited to see user-settings-backend plugin being added in v1.6.0 release, which allows backstage to save user specific settings to DB, and we are also thrilled to try it out.

Shortcuts and started entities seems to be working properly. However, it seems that pinSideBar is not being updated to use StorageAPI based on the current newest release, as shown in the [code](htt

[2022-11-03 16:46] Sabrina0614 commented on #14436
Similar to https://github.com/backstage/backstage/issues/14418 but a different component

[2022-11-03 17:40] clareliguori opened #14439 "🐛 Bug Report: "ReferenceError: $RefreshReg$ is not defined" when starting local backend plugin"
### 📜 Description

I'm upgrading a local plugin + Backstage app to 1.7, and started seeing the following error when I run `yarn workspace backend start`.

[code]

It appears to be related to react-refresh and/or react-refresh-webpack-plugin?  I'm at a bit of a loss on how to debug this - I've been trying re-installing all my node modules, cleaning the workspace, etc, but nothing seems to be workin

[2022-11-03 19:33] webark commented on #12844
Are there any open questions left? And what's the current process for closing a RFC and moving forward to implementation? Would love to see this added in.

[2022-11-03 19:39] Rugvip commented on #12844
I'm working on two pieces, the first is to find some time to dive deeper into this as see where we're at, just short on time 😅. In particular I want to make sure that this is all sane from the plugin authors/consumers point of view, but tbh I think that's the case.

Second thing is some better opt-in processes around large contributions like this one, so that there are fewer open questions about h

[2022-11-03 20:36] AlfadilTabar commented on #12175
hi @dweber019 great to hear that you are working on this feature, can you share the updates on it if you have time.

[2022-11-03 20:36] igor-petrik-invitae commented on #9172
My original thought was an implementation was something along the lines of what @jjedele proposed.

To give perspective that may answer some of your other questions, Sphinx builds static pages from RST files that exist in a docs folder. These contain general documentation that I would say is analogous to the purpose of TechDocs. The convenient thing is, though, that integrates tightly with inline

[2022-11-04 04:23] prasoon-pxc commented on #14419
Hi @kuangp , Please find the files below:

`playlist.ts`
[code]
---
`permissions.ts`

[code]
---
 Part of `index.ts`
[code]

[2022-11-04 05:27] prasoon-pxc commented on #14420
It started working after adding bazaar-backend but join button is still not working  , on clicking join button it is giving below error
---
![image](https://user-images.githubusercontent.com/106815018/199896871-79d3c032-30d6-4a54-aae9-1b41820e3562.png)

---
[code]

[2022-11-04 06:59] prasoon-pxc opened #14452 "🐛 Bug Report: Duplicate knex packages after installing Bazaar plugin"
### 📜 Description

Bazaar Plugin giving below error on building Backstage Docker file after installation of Bazaar Plugin

[code]

### 👍 Expected behavior

It should not give above error and Dockerfile should build successfully.

### 👎 Actual Behavior with Screenshots

On Dockerfile building , `yarn tsc ` giving below error
[code]

### 👟 Reproduction steps

Follow below links to install `Bazaar Ba

[2022-11-04 11:37] #13355 closed

[2022-11-04 11:48] pjungermann opened #14453 "🚀 Feature: [Splunk On-Call] trigger incidents with configured routing key instead of team name"
### 🔖 Feature description

Use a configured routing key as routing key for triggered incidents for a component (instead of the team name).

### 🎤 Context

Currently, a configured routing key is only used to determine a team and when anyone triggers an incident, it is not using the routing key configured at the component but the team name as routing key.

The configured routing key might have speci

[2022-11-04 12:44] kuangp commented on #14419
It looks like you forgot to pass in the `IdentityApi` to the plugin config as noted in the [setup instructions](https://github.com/backstage/backstage/tree/master/plugins/playlist-backend#adding-the-plugin-to-your-packagesbackend):

[code]

Can you try to make the above change and see if this resolves your issue?

[2022-11-04 12:47] #13152 closed

[2022-11-04 13:47] svyotov commented on #13794
We also have a very similar issue, I have a PR coming, where we check if a namespace exists. If the namespace does not exist, then there is no need to bombard the user with exceptions about non existing resources query.

[2022-11-04 15:32] #13280 closed

[2022-11-04 15:44] Rugvip commented on #14452
Looks like you have quite a couple of duplicated packages. Does running this fix the issue?

[code]

[2022-11-04 15:46] Rugvip commented on #14419
Gonna close since @kuangp's suggestion should fix the issue. Please let us know if it doesn't

[2022-11-04 15:46] #14419 closed

[2022-11-04 15:47] Rugvip commented on #14420
You'll want to run `yarn tsc` to make sure everything is wired up correctly. Gonna close this one since the original issue is resolved.

[2022-11-04 15:47] #14420 closed

[2022-11-04 18:29] dagda1 commented on #12378
I have just hit this issue and is there not more too it than just updating `rjsf`.  According to the code below in `createValidator`, there needs to be a `ui:field` present to get the custom validator from the validators object

[code]

[2022-11-04 20:32] #13412 closed

[2022-11-05 00:19] ZatoIchi opened #14456 "🐛 Bug Report: TechDocs documentation generation fails on windows"
### 📜 Description

Running generation of documentation for example Backstage documented component results in error on Windows.

if I remove techdocs-core plugin from mkdocs.yml, the documentation gets built alright.

### 👍 Expected behavior

Documentation gets built.

### 👎 Actual Behavior with Screenshots

[code]

mkdocs build gives:
[code]

### 👟 Reproduction steps

1. Download example documenta

[2022-11-05 00:25] #13236 closed

[2022-11-05 08:49] kumarnil commented on #14282
@Rugvip  please ignore the error message https://github.com/backstage/backstage/issues/14282#issuecomment-1288967394. And look to the above error which is still there.

[2022-11-05 09:33] Rugvip commented on #14282
@kumarnil I'm not able to reproduce this in a newly created app, I'm able to fill in the form and click create without issue. Could you provide some steps for how to reproduce?

[2022-11-05 10:05] kumarnil commented on #14282
@Rugvip  I guess it is very similar to https://github.com/backstage/backstage/issues/11666.

[2022-11-05 11:00] Rugvip commented on #14282
@kumarnil ah alright, does the workaround there work for you for now? It's on the roadmap to have a better solution in place

[2022-11-05 11:35] #13331 closed

[2022-11-05 15:41] kumarnil commented on #14282
I added the following code but did not fixed for me.

**packages/backend/src/index.ts**

apiRouter.use(
    '/scaffolder',
    await scaffolder(scaffolderEnv, config),
    (req, _res, next) => {
      delete req.headers.authorization;
      next();
    },
  );

[2022-11-05 16:09] Rugvip commented on #14282
@kumarnil you need to flip that around so that `await scaffolder(scaffolderEnv, config)` is the last argument

[2022-11-05 17:52] kumarnil commented on #14282
@Rugvip **There is no luck.** Issue did not fixed.

apiRouter.use(
      '/scaffolder',
      (req, _res, next) => {
        delete req.headers.authorization;
        next();
      },
      await scaffolder(scaffolderEnv, config)
    );

[2022-11-05 18:21] Rugvip commented on #14282
@kumarnil alright, please provide some steps for how to reproduce the issue and we can have a look

[2022-11-05 22:47] #13433 closed

[2022-11-05 23:04] kumarnil commented on #14282
@Rugvip If you follow the same steps mention on issue https://github.com/backstage/backstage/issues/11666
I guess you can recreate it. However I tried above temp solution but did not work for me.

[2022-11-06 05:53] #13243 closed

[2022-11-06 10:05] #13445 closed

[2022-11-06 12:22] #8074 closed

[2022-11-06 17:39] #7264 closed

[2022-11-06 18:27] pjungermann commented on #14453
You might even consider this a bug assuming.

[2022-11-06 18:50] pjungermann opened #14462 "🚀 Feature: limit opened graph view when coming via "view graph" at entity pages"
### 🔖 Feature description

Improvement for the "view graph" link at the graph except displayed at entity pages to use the configured `maxDepth` (default: 1) incremented by 1 as limit (default) for the max depth instead of using `Infinite` at the opened full graph view.

Also, other configuration options are "lost" / ignored at the moment.

### 🎤 Context

Currently, the displayed graph at the entit

[2022-11-06 19:16] pjungermann commented on #14462
you could possible argue whether to just keep the configuration as at the original graph (same max depth, same values for all the other options).

[2022-11-07 00:05] pjungermann commented on #14380
Unfortunately, this will not be possible for all. E.g., events by Bitbucket Cloud don't contain enough information. This might be the case for some others, too. However, it should be good enough to just trigger the pipeline on any change (additional filtering of the event might consume too much from the rate limits).

[2022-11-07 02:00] lalit774 commented on #11297
Hey, I am also experience same  issue on UAT and Prod. can you please share solution for same.

[2022-11-07 03:50] mmacdonald86 opened #14476 "From Getting Started guide, create-app looks like it works but running yarn dev gives fatal error"
### 📜 Description

Following steps in Getting Started guide, the npx @backstage/create-app command seems to run successfully to completion.  Here is the last few lines of output.
[code]
  When I follow the instruction to start the server, I get fatal: not a git respository errors; it does say webpack compiled but the web server does not appear to be running:  When I try to load from http://localho

[2022-11-07 03:56] prasoon-pxc commented on #14419
@kuangp , @Rugvip Now , I have added the `IdentityApi` as you have mentioned but getting the same error

`playlist.ts`
---
[code]

[2022-11-07 04:11] prasoon-pxc commented on #14452
Hi @Rugvip , I have tried running above cmd, here is the output,
---
[code]
---
- Then, running `yarn tsc` giving same error,

[code]

[2022-11-07 05:38] prasoon-pxc commented on #14452
I also tried updating the backstage version from `1.3.0` to `1.7.1` and then check the output of `yarn backstage-cli info`

---
[code]

---
- And then again trying to install bazaar backend plugin and  run `yarn tsc` but getting the same error as below:

[code]

[2022-11-07 06:09] omerfarukdogan opened #14479 "🚀 Feature: Prevent reloading the page when theme changes"
### 🔖 Feature description

Changing the theme should only cause the components to re-render without losing their state. Currently, when the theme changes, all the state is lost and the whole page reloads.

### 🎤 Context

I'm developing a quick theme switcher component which is accessible from the sidebar (similar to [SidebarThemeSwitcher](https://github.com/backstage/backstage/blob/a68d86eaa61bcee

[2022-11-07 06:22] prasoon-pxc commented on #14452
I resolved this issue by doing following steps:
---

- Installed lower version of bazaar plugins

`yarn add --cwd packages/backend @backstage/plugin-bazaar-backend@0.1.18`
`yarn add --cwd packages/app @backstage/plugin-bazaar@0.1.24`

- Then after installing , I removed the `identity: env.identity,` this line from `bazaar.ts` file
  - My `bazaar.ts` file now looking like below:
[code]

I do not kn

[2022-11-07 09:19] jhaals commented on #14411
Sounds like a great plugin to have, much wanted! 👏

[2022-11-07 09:29] jhaals commented on #14378
FIY @emmaindal  :)

[2022-11-07 09:46] jhaals commented on #14329
@mtlewis this would be great! Mike are you happy with someone from the community to take this on if you're busy at the moment?

[2022-11-07 09:55] jhaals commented on #13794
Is this fixed by #13966?

[2022-11-07 10:09] asaf-erlich commented on #13794
Maybe, would need to test it. Will that fix be in the next release or one that is already out?

[2022-11-07 11:03] casje896 commented on #13707
Hi again, sorry for the long absence.
I have tried for a while to get testing to work with msw but without much success. My problem is that the client is not receiving the project and I am unsure that it is even calling a url that the server is able to mock, the following is my code (currently located in jenkinsApi.test.js):

[code]

[2022-11-07 11:42] antoniomuso opened #14483 "🐛 Bug Report: Todo plugin does not scan all the project files"
### 📜 Description

When registering an entity where the catalog file is not in the project's root, the Todo plugin doesn't show the `// Todo: ` entries.

### 👍 Expected behavior

The Todo entries should not be influenced by the location of the catalog file in the project.

### 👎 Actual Behavior with Screenshots

The right TODOs aren't shown by the plugin.

### 👟 Reproduction steps

Steps:
1. Creat

[2022-11-07 12:26] freben commented on #13707
The URL does indeed have to be exactly right, for it to match. So yeah you'll have to look through the client code to see what things it's calling and what those URL patterns are, and match them perfectly. Maybe you can insert some console.log statements in the client itself right before it calls `fetch`, to see what the URLs are that it's calling?

[2022-11-07 12:40] #14453 closed

[2022-11-07 12:41] Rugvip commented on #14483
If you want to store your catalog definitions at a different location that your source code then you'll want to set this annotation to point to the code: https://backstage.io/docs/features/software-catalog/well-known-annotations#backstageiosource-location. That goes for all plugins and isn't specific to the Todo plugin.

Gonna close this as it's working as intended and the solution to the issue is

[2022-11-07 12:41] #14483 closed

[2022-11-07 12:58] Rugvip commented on #14415
Totally doable! The place this needs to be implemented is in the `GitlabUrlReader` over [here](https://github.com/backstage/backstage/blob/19b0030ace47a583e93b00f4652c652d7db38dd8/packages/backend-common/src/reading/GitlabUrlReader.ts#L76), which of course also quickly takes you to the `getGitLabFileFetchUrl` that you pointed out.

The only tweak I'd say is the input URL. The one you used there is

[2022-11-07 13:08] jhaals commented on #14479
Hi!

I just did a quick test on the demo site and it does not look like this is a problem at least when changing theme at https://demo.backstage.io/settings/general
I was not able to see anything obvious in the SidebarThemeSwitcher when looking at the code. Have you identified what might cause problems?

[2022-11-07 13:11] antoniomuso commented on #14483
Thanks for the answer.

[2022-11-07 13:18] jhaals commented on #14476
Hi @mmacdonald86, sorry to hear that you're having issues! The bug you explain should be fixed in the latest release, I wonder if there might be something that cache the npx command because I was not able to reproduce this locally.
The quick fix if you want to just carry on is to `git init` inside the directory. You can also try to `npx @backstage/create-app@latest` which should hopefully give you

[2022-11-07 13:19] #14462 closed

[2022-11-07 13:27] jhaals commented on #14439
Hi Clare, sorry to hear that you're having trouble. That indeed looks like react refresh is trying to hook into something that it shouldn't. Could it be that you have a plugin without a role or perhaps importing a frontend plugin in the backend?

Backend plugins should include the following in package.json
[code]

[2022-11-07 13:34] jhaals commented on #14364
Hi @ehrnst! I don't understand fully what you would like to achieve. Could you perhaps provide some additional context to this feature suggestion?

[2022-11-07 13:34] jhaals commented on #14364
Hi @ehrnst! I don't understand fully what you would like to achieve. Could you perhaps provide some additional context to this feature suggestion?

[2022-11-07 13:47] jhaals commented on #14280
Can this be closed with #13991 merged in?

[2022-11-07 13:50] jhaals commented on #13797
Can this be closed or are there updates that should be made to the documentation? If there are docs updated needed feel free to contribute a PR 🙏

[2022-11-07 13:55] ehrnst commented on #14364
Hi. I can at least try!

Today backstage has the ability to crawl github and read `catalog-info` files from the repos. To do this backstage is configured to authenticate using an app and a certificate, or using a personal token.
When one enables the frontend plugin for GitHub actions, you also have to enable the GitHub authentication provider, meaning a user need to use h*s personal credentials an

[2022-11-07 13:56] jhaals commented on #10402
Hi @Mercanuis reading your config example it looks like you have a GitHub App configured and not different tokens per organization. Given that you have one GitHub App you should be able to ingest from multiple GitHub organizations as long as the GitHub App you use for authentication is installed in both.

[2022-11-07 13:57] jhaals commented on #7633
Absolutely, good luck @Rupsnigdha! 👏

[2022-11-07 14:19] arnthor89 commented on #14343
Sure! I'll try to find a time this week to work on it.

[2022-11-07 14:20] benkeil opened #14490 "AsyncApi $ref with local file not possible"
### 📜 Description

When ii use an `$ref` to an local file I get an error

The specification is located at `docs/specifications/asyncapi.yaml`

When I try with an absolute path

[code]

When I try with a relative path

[code]

### 👍 Expected behavior

Should load the schema definition

### 👎 Actual Behavior with Screenshots

[code]

### 👟 Reproduction steps

Upload a async api specification with a

[2022-11-07 14:23] jhaals commented on #14384
Thanks for pointing this out alongside the additional information! You're both awesome 🏅 Back from vacation now so I'll take a look at what we can do :)

[2022-11-07 14:42] Rugvip commented on #11478
Not sure what the current issue is tbh. The way to move this forward right now is if someone from the community that already has this set up is able to dive in a figure out what needs to be done.

[2022-11-07 14:44] Rugvip commented on #13408
This was fixed by #13585, closing

[2022-11-07 14:44] #13408 closed

[2022-11-07 14:52] Rugvip commented on #14023
See #14329 for `--config` for repo build. We're on it :grin:

[2022-11-07 14:57] Rugvip commented on #14365
Sounds like this should be fixed by #13927/#13872, right?

[2022-11-07 15:00] Rugvip commented on #14349
Regarding the lack of `--config` for the top-level build, that was an oversight and is being fixed #14329 😅

[2022-11-07 15:37] kuangp commented on #14419
@prasoon-pxc it looks like you're on version `1.3.0` of Backstage which is pretty outdated now. Can you try [updating](https://backstage.io/docs/getting-started/keeping-backstage-updated) to the latest version and see if that resolves your issue?

[2022-11-07 16:01] lalit774 commented on #11297
The following sol is working for me.
database:
    connection:
          ssl:
               require: true
               rejectUnauthorized: true

[2022-11-07 16:46] dzkaraka commented on #14263
@clareliguori thank you for the pointer to hashi’s repo! 🔥 Unfortunately, I have never worked with Go, so it is a bit challenging to understand what is going on, but what I gathered is that hashicorp generates codes(e.g. [sqs code](https://github.com/hashicorp/terraform-provider-awscc/blob/main/internal/aws/sqs/queue_resource_gen.go)) from the CCAPI schemas (e.g. [SQS schema](https://docs.aws.amaz

[2022-11-07 17:38] djetelina commented on #14365
Looks that way if it gets merged, using relative paths is a great solution 👍

[2022-11-07 18:48] akundrock opened #14501 "[scaffolder-backend] Bitbucket Cloud scaffolder actions"
### 🔖 Need

Using the software templates (scaffolder) it would be helpful to have some of the functionality for Bitbucket Cloud that is already available for Github.
Some examples include:

- github:actions:dispatch
- - Dispatches a GitHub Action workflow for a given branch or tag
- github:webhook
- - Creates webhook for a repository on GitHub.
- github:repo:push
- - Initializes a git repository o

[2022-11-07 18:49] #13489 closed

[2022-11-07 20:13] clareliguori commented on #14439
This is my package.json:
https://github.com/awslabs/aws-proton-plugins-for-backstage/blob/main/plugins/aws-proton-backend/package.json

I confirmed it does have the `backend-plugin` role declared, and it doesn't look like I'm importing any frontend-related packages:
[code]

[2022-11-07 20:16] Pike commented on #14280
This issue is to collect feedback on that document, so no.

[2022-11-07 20:19] asotog opened #14502 "Tech docs React syntax highlighting🚀 Feature:"
### 🔖 Feature description

Able to highlight react code whether it is JSX or TSX extensions (typescript)

### 🎤 Context

Right now React is not highlighted properly even if I use readthedocs theme on the mkdocs.yaml file  https://mkdocs.readthedocs.io/en/latest/getting-started/ :

<img width="263" alt="image" src="https://user-images.githubusercontent.com/813023/200406508-c710a02d-3ed1-4293-ba05-4

[2022-11-07 21:41] Shayon commented on #12333
Can this issue be re-opened? It still seems like this is a problem.

If it helps re-opening, I can offer some simple steps to reproduce.
1. Create a component with the `metadata.name` `example service`
2. See that the `refresh_state` table holds an entry with an error.
3. Update the component to a valid `metadata.name`, e.g. `example-service`
4. After the next processing loop, see that `example-se

[2022-11-07 21:53] Mercanuis commented on #10402
Hi @jhaals and thanks for the input. I could look into this. I wasn't aware I could do this (still fresh to learning how GH apps exactly work and this is code that we're still trying to further understand)

If this is the case, it might be possible already given our current setup for our org. thank you for letting me know

[2022-11-07 22:58] jocko-angi commented on #6015
I'm having this same issue in my local Backstage.   Not sure how to get it to work.  I've tried the three suggestions from @OrkoHunter above:

1. Try previewing the site locally by running npx @techdocs/cli serve using the [techdocs-cli](https://github.com/backstage/techdocs-cli) in the documentation repository.

This brings me to a broken page:
http://localhost:3000/docs/default/component/local

[2022-11-07 23:31] paylocity-sflanders commented on #12333
@Shayon i think that is how we hit it.  We got the initial error, then later the component was renamed and eventually noticed the name was still referencing the old value.  We thought for a while it was processing old commit from the default repo branch.

[2022-11-08 06:14] prasoon-pxc commented on #14419
@kuangp --> yesterday, I had also tried with updating the backstage version, but with no luck.
---
`yarn backstage-cli info`

---
[code]

[2022-11-08 07:58] TBragi commented on #14365
Looks really good!
Since I am not an experienced software developer I would like to ask:

This solution will allow an image build using the domain `my-domain.com` to serve frontend/backend at runtime on `my-domain.com/<Relative Path>` but it wont allow one to change the domain at runtime to e.g. `localhost`, correct?

[2022-11-08 08:55] aspic opened #14505 "🔌 Plugin: Prometheus metrics + analytics plugin"
### 🔖 Summary

Hey, and thanks for this great open source project!

We've been developing two simple plugins in-house:

1. A metrics plugin, exposing Prometheus metrics for Backstage and means for collecting arbitrary metrics
2. An analytics plugin, feeding tracking data (views) to Backstage back-end and exposing this as metrics

[code]

We can then visualize this with the Prometheus visualizer fr

[2022-11-08 09:22] #14308 closed

[2022-11-08 09:29] benjdlambert commented on #7151
This is to support markdown in the description fields that are rendered underneath the component. Looks like we just need to provide a `DescriptionField` template that uses the one from `react-jsonschema-form` but passes through `MarkdownContent` too.

[2022-11-08 09:30] benjdlambert commented on #7151
![Screenshot 2022-11-08 at 10 27 24](https://user-images.githubusercontent.com/3645856/200527785-2c89579b-0f1b-4e16-9779-dca0c59c54e0.png)

[2022-11-08 09:58] Rugvip commented on #14280
Forgot about the relation between things here, got a bit confused by the format I think x) I updated the title to hopefully be a bit more clear about the intent. Perhaps it would be best to update the issue body with references to the code in contrib as well?

[2022-11-08 11:13] anicke commented on #14452
You have to update the "PluginEnvironment" to include the "identity" property. This will probably not work with Backstage 1.3.0 but if you update to 1.7.0 and then do the following:

Update your PluginEnvironment typing. Update your backstage instance accordingly:
https://github.com/backstage/backstage/blob/master/packages/create-app/templates/default-app/packages/backend/src/types.ts#L24

Then up

[2022-11-08 12:33] #14329 closed

[2022-11-08 12:54] ewhite1997 opened #14511 "Microsite: remove BackstageCon banner from microsite"
### 🔖 Feature description

Sorry I couldn't figure out how to do a blank template for an issue request, but this is just a request to take the BackstageCon banner off the .io microsite.

### 🎤 Context

BackstageCon is over

### ✌️ Possible Implementation

_No response_

### 👀 Have you spent some time to check if this feature request has been raised before?

- [X] I checked and didn't find similar

[2022-11-08 13:44] jhaals commented on #14341
Sorry for the slow reply. Indeed looks like something is strange as I believe that used to work in storybook.
The main issue is that HomePageStackOverflowQuestions cannot be inside a functional component.

Perhaps @emmaindal have some context to what might have changed 🙏

[2022-11-08 13:53] tomb50 commented on #13402
We are also currently looking into adopting Backstage and have existing adoc documentation. We are trying to compare Backstage + referncing Antora vs what could be possible with pure Backstage Techdocs.

Serving the HTML would indeed help us, even as an interim

[2022-11-08 14:28] kuangp commented on #14419
do you mind sharing what the rest of your `packages/backend/src/index.ts` looks like? particularly the `makeCreateEnv` function. Does it match up with the [default template](https://github.com/backstage/backstage/blob/master/packages/create-app/templates/default-app/packages/backend/src/index.ts#L35-L72) where the `IdentityApi` should be defined?

[2022-11-08 15:36] martina-if commented on #7109
Bump! I'd love to see this rollup feature as well. It can make the graphs even more useful because you can explore the architecture diagram in "layers" going from high level to deeper details. We have a couple of adopters asking for this 😁

[2022-11-08 16:22] tspreeth commented on #3721
@kiranpatel11  - any update on this PR, would be much appreciated.

[2022-11-08 17:11] holwerda commented on #2566
Any update on this?

[2022-11-08 17:55] #6967 closed

[2022-11-08 19:20] smithclay opened #14518 "💬 RFC: OpenTelemetry-based Discovery"
### 🔖 Need

The [OpenTelemetry Collector](https://opentelemetry.io/docs/collector/) is a vendor-agnostic way to process telemetry data (metrics, logs, and traces). The collector has a [popular and growing ecosystem](https://github.com/open-telemetry/opentelemetry-collector-contrib) of components that allow it to be customized to receive, process, and export data to and from different backends, ven

[2022-11-08 20:22] freben commented on #14418
Hi!

This one's possibly not entirely clear-cut. I see where you're coming from, but some feature flags are pretty testing- or device-specific in such a way that you may or may not be interested in having them have the same value everywhere. Maybe you're developing something that's just functional on desktop for now but breaks badly on mobile, so you want different flag states.

One possibility fo

[2022-11-08 20:24] freben commented on #14436
Similar to my comment on the other ticket - is this always the case? Do you want the same setting on all devices, always, unconditionally? :)

This one isn't too controversial though. I think it could make sense to update this one as you describe. Is it something you might be interested in contributing? 🙏

[2022-11-08 20:33] jpdeburgo opened #14520 "🚀 Feature: Restrict Catalog Import to only allow imports from an organization's internal repositories"
### 🔖 Feature description

This feature would allow catalog owners to restrict catalog imports, so the catalog import plugin only allows imports from an organization's internal repositories.

### 🎤 Context

Currently, any public GitHub repository can be imported into my organization's catalog. This would allow repos to be imported that are not under my organization's umbrella and don't receive the

[2022-11-08 20:41] #14186 closed

[2022-11-08 20:44] snowe2010 commented on #13402
@tomb50 we're in the exact same position. Antora, but others want to move to backstage. Backstage is great, but being dependent on markdown is quite terrible. There are several PRs that have been closed that would have accomplished this, maybe we can take them and add the support ourselves, since it seems like they're in no rush to add it. https://github.com/backstage/backstage/pull/9385

[2022-11-09 05:30] prasoon-pxc commented on #14452
@anicke --> I will try this .

[2022-11-09 06:11] prasoon-pxc commented on #14419
@kuangp --> I checked the my `index.ts` and `types.ts` and did not find it updated with `default template`  ,
   After updating below files, issue got resolved.

---
- Need to add below line in `index.ts`

[code]
- And in `packages/backend/src/types.ts`
[code]
---
Thanks for your time

[2022-11-09 06:13] prasoon-pxc commented on #14452
Thanks @anicke It resolves the issue

[2022-11-09 06:13] #14452 closed

[2022-11-09 07:38] webark commented on #14263
@clareliguori do you know much about the new "resource explorer" feature that just came out? Could this help with this initiative as well? Does that have an organization level, or cross account api?

[2022-11-09 10:08] alper98 opened #14530 "🚀 Feature: Being able to search for entities on title AND name"
### 🔖 Feature description

Able to search for entities on their title (IF EXISTENT) AND their name.

### 🎤 Context

In my org, we have a use case for being able to search for entities based on either metadata.name OR metadata.title.

[code]

Currently, the indexing is NOT taking both into consideration, but uses a nullish coalescing operator to determine only one of them.

### ✌️ Possible Implemen

[2022-11-09 10:11] iriswang233 commented on #14181
hi  @https://github.com/orgs/backstage/teams/catalog-core
any update on this request?

[2022-11-09 10:28] vinzscam commented on #13446
Closing this issue, since prereleases aren't published anymore https://github.com/backstage/backstage/pull/13967

[2022-11-09 10:28] #13446 closed

[2022-11-09 11:51] Pike commented on #13346
I'm still seeing this.

[2022-11-09 13:05] jamieklassen commented on #13794
No, this is not fixed by #13966, but it's fixed by #14451!

[2022-11-09 13:12] thake commented on #14490
This problem seems to have been solved for OpenAPI with an additional plugin that preprocesses the spec: https://github.com/backstage/backstage/tree/master/plugins/catalog-backend-module-openapi

Maybe a similar approach needs to be implemented for AsyncAPI. The official AsyncAPI [bundler](https://github.com/asyncapi/bundler) library seems to be a good starting point.

[2022-11-09 13:24] ottosichert commented on #13995
Hey @iriswang233,

let my try to clarify:

The only possible way right now is to use two JSS instances with the second one having a separate sheets manager. This is due to the current architecture of TechDocs having effectively two HTML documents, one for Backstage, one for the shadow DOM. This is by design, meaning that there is no overlap between styles and behaviour between those boundaries. Al

[2022-11-09 13:24] #13995 closed

[2022-11-09 14:26] pjungermann commented on #14501
FYI:
If you look at `builtin/publish/` you will see that all of them start with `publish:` there (`publish:github`, `publish:azure`, `publish:bitbucketCloud`). Even `publish:github:pull-request` or `publish:gitlab:merge-request`.

And then you see `builtin/github/` with actions all with prefix `github:`. Sort of, it is following the directory name as prefix.

[2022-11-09 14:28] pjungermann commented on #14501
I don't think this is a real risk to be honest. They have a too big backlog and even drop topics considered important to the community.

Also, they follow their own strategy of integrating everything into their own UI and even work on a proprietary solution which has parts in common with Backstage.

[2022-11-09 14:33] pjungermann commented on #14501
PS: I also thought about ways to abstract that more so we could maintain this a bit easier. Need to order my thoughts still and write an RFC about that.

[2022-11-09 14:37] pjungermann commented on #14384
I've recognized this, too.

https://github.com/backstage/backstage/blob/master/.github/CODEOWNERS even says that it contains errors  like
[code]

[2022-11-09 14:40] pjungermann commented on #14263
FYI: https://github.com/RoadieHQ/roadie-backstage-plugins/tree/main/plugins%2Fbackend%2Fcatalog-backend-module-aws

[2022-11-09 16:44] dgiacomo opened #14541 "🐛 Bug Report: Install Docs out of date - npm LTS is now 18"
### 📜 Description

On 2022-10-25 npm version 18 became the new LTS version. Yarn expects either 14 or 16.  https://github.com/nodejs/release#release-schedule

Aspiration of the project seems to be to keep on pace with the latest npm LTS release, but it is slightly behind. `The engine "node" is incompatible with this module. Expected version "14 || 16". Got "18.12.1"`

I couldn't find any other iss

[2022-11-09 17:40] awanlin commented on #14541
For reference here's the PR that started this back in July: https://github.com/backstage/backstage/pull/12558

[2022-11-09 17:40] pjungermann commented on #14501
cool, looking forward to it! Feel free to tag me on the PR to provide a review.

[2022-11-09 17:46] pjungermann commented on #14263
@webark actually, no. So far, we only created a few of these and did it in a curated way as part of the repos of "owning" components. Still under discussion.

I just remembered that there was an EntityProvider by roadie doing something in this direction.

I guess, if you multiple deployments (envs/...) you always have the challenge to reduce this to one representation independent of this.

I guess

[2022-11-09 17:50] awanlin commented on #14505
Good ideas here! Just have a few questions:

For item 1, would this be an actual plugin or just adding more metrics like those that currently exists for the catalog and scaffolder? https://github.com/backstage/backstage/blob/master/contrib/docs/tutorials/prometheus-metrics.md

For item 2, would you use the existing Analytics API that's collecting some of this data already? If we didn't want to vie

[2022-11-09 17:52] webark commented on #14263
Ahh. We are looking to do one where we tag every aws resource with an "EntityRef" tag, and then ingest them as "groups" of things (like s3 bucket, RDS clusters, cloudformation stacks). so a record would be like "backstage-cloudformation-stack", and then from that you could then call out to get every individual instance. The owner would just be the owner of the entity which created them (through a

[2022-11-09 18:00] #14541 closed

[2022-11-09 18:04] maxm0rt commented on #14415
Agreed with respect to avoiding manual conversion. I'll do a bit more research on that front. In the mean time, I will get started on a PR for this!

[2022-11-09 18:07] jamieklassen commented on #12231
To put a finer point on part of the above:

means that if a cluster has a `url:` field with a scheme of `https://` and `skipTLSVerify: true`, then the proxy should _not_ check its certificate before issuing requests.

[2022-11-09 18:47] awanlin commented on #14541
You're welcome. The live version of the Release & Versioning Policy is here: https://backstage.io/docs/overview/versioning-policy

[2022-11-09 19:33] #14511 closed

[2022-11-09 21:01] kumarnil opened #14545 "AuthenticationError: "alg" (Algorithm) Header Parameter not allowed stack"
### 📜 Description

When working on the permissions framework for backstage I’m seeing this error related to authentication.

**Console Error:**
s://github.com/bitinn/node-fetch" type=incominaRequest
[1] 2022-11-08T14:41:12.827Z backstage error Request failed with 401 AuthenticationError type=errorHandler name=ResponseError response=[object Response] body=[object Object] cause=AuthenticationError:

[2022-11-10 09:18] pwkoscp123 commented on #10650
Hello good time
Please post the full exploit or a tutorial video, because whatever I tested, the cloud blocks me or gives an error.
Thank you for providing a comprehensive exploit moment.js 2.29.1

[2022-11-10 09:19] freben commented on #14476
Closing as fixed - please let us know if this was not correct!

[2022-11-10 09:19] #14476 closed

[2022-11-10 09:30] freben commented on #14365
That's correct. What's the use case for doing that?

[2022-11-10 09:32] freben commented on #14364
Right. Yeah that would require a "helper" backend plugin which forwards requests and enriches them with the app token if a personal one wasn't given from the caller.

[2022-11-10 09:41] TBragi commented on #14365
In my situation my deployment environment is not reflected in my build pipeline (I thought it should only be reflected in the `app-config.yaml` file of the deployment). I am developing locally, thus using `baseUrl: localhost`, and my build pipeline uses that same configuration or whatever is last pushed to GIT.

But my deployment environment could be  `baseUrl:` `backstage-staging.company.com` or