[2020-07-02 07:14] freben commented on #1229
@stefanalund Let us know if this still is a problem or if the ticket should be closed.

[2020-07-02 08:06] emmaindal opened #1513 "[docs-like-code] Create TechDocs backend skeleton"

[2020-07-02 13:04] Adamseyer commented on #1401
Even if the concept of multiple tenants is covered, there are a number of companies which have extremely sensitive projects that they would want to be able to protect, even from internal developers.  From my own personal history, when AMD began to support Dell there was a large amount of secrecy, and you had to be vetted to be allowed knowledge that project was occurring.  The way BIOS are develop

[2020-07-02 14:40] freben opened #1519 "RFC: Backstage Observability"
This RFC does not propose solutions, but rather looks for community input.

When deploying Backstage, both frontend and backend parts will benefit from rich observability:

* logging and log collection
* performance monitoring
* ability to do troubleshooting in general, even remotely
* end-to-end tracing
* analytics
* ...and more!

This issue aims to gather input from the community on what solutio

[2020-07-02 14:44] freben commented on #1472
#1516

[2020-07-02 14:51] freben opened #1520 "github-actions: create a basic API that can list builds for the frontend"
Make a frontend API following the current best practices.

There should be method for listing ongoing builds for a certain project for now. If possible, this can be scoped to only work for public repos in the first iteration.

[2020-07-02 14:52] freben opened #1521 "github-actions: Integrate GitHub Actions API into frontend view, remove mocks for list of all builds"
Implement querying of the github-actions-api to list recent builds of the backstage project itself (hardcoded for now), and showing a bare minimum of metadata about an individual build (such as start time etc)

[2020-07-02 14:56] freben opened #1522 "github-actions: show more details about builds"
Extend the API for the github-actions-backend plugin, and extend the github-actions frontend plugin, to be able to show richer details about builds. This ticket is not specifying exactly what details to show; it has not yet been decided how much of GitHub's own GUI that we want to replicate. But individual steps of the build and their runtimes can be of interest, for example - if not the entire lo

[2020-07-02 14:58] freben opened #1523 "github-actions: build at-a-glance widget"
Create a card component, for inclusion into for example an entity overview page, showing the build status at a glance for the project it belongs to. The card could for example show the status of the latest master build, in a small amount of space.

[2020-07-02 15:08] freben opened #1524 "github-actions: decide on how entities reference the build project"
To be able to display the build status of a given component, there needs to be a way to find the GitHub project that builds that entity.

Devise a plan for how to go from a full entity JSON blob, to having enough data to identify builds for that entity.

Entities that happen to be sourced out of a `Location` that happens to have the `type` set to `github`, will already produce entities that have a

[2020-07-02 16:58] #1471 closed

[2020-07-02 17:14] Timunas commented on #1498
Hi @Rugvip I would like to help fixing this issue. Is it ok? Are there any guidelines I should follow?

[2020-07-02 17:57] andrewthauer opened #1525 "[Catalog] Support importing private GitHub repositories"
Currently it is not possible to populate the service catalog with component spec files in private repositories. There are ways around this, but they all require custom code and other tooling.

## Feature Suggestion

Have some official way to import catalog spec files from a private GitHub repo.

## Possible Implementation

The GitHub official API does allow downloading files from private repos wit

[2020-07-02 22:33] Rugvip commented on #1498
@Timunas Thanks, sure! For this one it's prolly enough to make sure you're formatting the code with prettier.

[2020-07-03 14:22] alexishuxley commented on #1485
Chrome 83.0.4103.116? Possibly related to [this](https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=964177).

[2020-07-04 22:43] govindgoel commented on #1498
Can I work on this issue @Timunas

[2020-07-04 23:26] Timunas commented on #1498
Hi @govindgoel  I'm going to open the PR in a few minutes.

[2020-07-05 06:21] stefanalund commented on #1498
Fixed in #1530

[2020-07-05 06:21] #1498 closed

[2020-07-06 08:14] Rugvip opened #1536 "Plugin Widgets and Composability"
## Feature Suggestion

Plugins should be able to provide not only entire pages, but also smaller parts of a page, such as a card on an overview page, or an item in a header. This has always been desirable as it would allow plugins to be composed of components from other plugins, but with the addition of the service catalog and overview pages, the need has become even more clear and urgent.

## Pos

[2020-07-06 08:21] Rugvip opened #1537 "Move @backstage/cli create-app to separate package"
## Feature Suggestion

The `create-app` and similar commands should live in a different packages than the `@backstage/cli`. It would be similar to the split between `create-react-app` and `react-scripts`.

## Possible Implementation

Move the `create-app` command to a separate and much more lightweight `@backstage/create` package. The package probably doesn't have templates baked into it either, j

[2020-07-06 08:53] #1321 closed

[2020-07-06 09:09] Rugvip opened #1538 "github-actions: List all builds with mocked data using CircleCI design patterns"
https://github.com/spotify/backstage/tree/master/plugins/github-actions was reincarnated from a very early version of Backstage. It should be refactored to use common components and styled similar to the Circle CI plugin

# Target: list all builds for the repo
  - [ ] create mocked response according to https://developer.github.com/v3/actions/workflow-runs/#list-workflow-runs-for-a-repository
  -

[2020-07-06 09:39] ayshiff commented on #1537
Can I work on this one @Rugvip ?

[2020-07-06 09:52] #1107 closed

[2020-07-06 10:26] Rugvip commented on #1537
@ayshiff Sure, Thanks!

[2020-07-06 13:00] shmidt-i commented on #1538
![image](https://user-images.githubusercontent.com/5012901/86595659-57abcd80-bf99-11ea-9393-f59f516fa268.png)
![image](https://user-images.githubusercontent.com/5012901/86595674-5aa6be00-bf99-11ea-9da5-684d9e76d7b4.png)

[2020-07-06 13:34] benjdlambert opened #1539 "Investigation into Github App authentication"
## Feature Suggestion
- The regular flow of oauth is going away in November with Github, and moving to the new Github Apps.
- We need to investigate what that means for Backstage, how does it work for us.
- How does this work for private repositories?

## Possible Implementation
_more to follow_

[2020-07-06 17:22] Rugvip commented on #343
Fixed by #1478 and #1500

[2020-07-06 17:22] #343 closed

[2020-07-06 17:33] timurista commented on #343
The problem was the backstageIdentity wasn't propagating from the backend. We fixed it by parsing the id from the email. Check the MR for the fix

[2020-07-06 17:37] j opened #1541 "Google Cloud Run Deployment"
Is GCR supported with Backstage?

PS. Backstage looks awesome.

[2020-07-06 20:35] benjdlambert commented on #1539
# GitHub Authentication

## Github Apps

GitHub Apps are the officially recommended way to integrate with GitHub because they offer much more granular permissions to access data.

- GitHub Apps are first-class actors within GitHub. A GitHub App acts on its own behalf, taking actions via the API directly using its own identity, which means you don't need to maintain a bot or service account as a se

[2020-07-06 21:43] watcher00090 commented on #615
Hi, I'm a little new to backstage and want to contribute, I was wondering, what would the point of the second to last bullet be?

[2020-07-06 21:54] Rugvip commented on #1539
Looked a bit more at the APIs and noticed that it's only the OAuth Authorizations API that disappears in November, https://developer.github.com/v3/oauth_authorizations/. OAuth web flow will stay around for "login with GitHub" type scenarios.

[2020-07-06 22:26] andrewthauer commented on #1536
A few initial thoughts on this topic:

Display Rules - I'm assuming the RFC describes a `registry` of widgets a plugin exposes? This seems appropriate for describing where (location) and how (desired size/orientation) widgets would be displayed. I'm guessing a registry of metadata describing placement rules for each widget that a plugin exposes?

Tabs/Routes - Can widgets be included into tabs wit

[2020-07-06 22:28] ebarriosjr opened #1542 "npx @backstage/cli create-app fails on yarn tsc"
## Expected Behavior
When running `npx @backstage/cli create-app` an vanilla app should be created without errors.

## Current Behavior
`yarn tsc` complains about:
[code]

[code]
[code]

## Possible Solution
Adding a declaration file for module '@testing-library/dom'

## Steps to Reproduce

1. Execute `npx @backstage/cli create-app`

## Your Environment

- NodeJS Version (v12): v12.18.2
- Operatin

[2020-07-07 07:29] #1299 closed

[2020-07-07 09:35] emmaindal opened #1548 "[docs-like-code] Create basic version of TechDocs CLI"

[2020-07-07 12:46] #1542 closed

[2020-07-07 13:37] #1513 closed

[2020-07-07 13:45] katz95 opened #1554 "Update messaging on welcome banner"
### Currently

<img width="1445" alt="Screenshot 2020-07-07 at 3 40 21 PM" src="https://user-images.githubusercontent.com/61153904/86790062-467dc200-c068-11ea-833a-aaef8cf7316b.png">

### Ideally
We'd love if you could change the messaging to:

"🎉 Welcome to Backstage! Take a look around and check out our [getting started](https://github.com/spotify/backstage#getting-started) page."

[2020-07-07 13:49] katz95 opened #1555 "Add Spotify logo next to 'All'"
### Currently

<img width="353" alt="Screenshot 2020-07-07 at 3 45 48 PM" src="https://user-images.githubusercontent.com/61153904/86790692-fb17e380-c068-11ea-8144-32e67f4b0365.png">

### Ideally
<img width="367" alt="Screenshot 2020-07-07 at 3 47 02 PM" src="https://user-images.githubusercontent.com/61153904/86790819-1f73c000-c069-11ea-9cb0-2c5e8cc7f82c.png">

Note - logo should be black in light

[2020-07-07 14:11] stefanalund commented on #1555
Actually, this logo should be configurable to match the company that deploys Backstage. The label “Spotify” can already be replaced this way.

[2020-07-07 15:24] InvokerMaster opened #1557 "mock-data scripts don't work on Windows"
Trying to install following the document but wasn't able to create the mock up data.
First of all, thank you for the great product.

[2020-07-07 15:27] morrme commented on #1554
I'd like to help with this.

[2020-07-07 15:39] Rugvip commented on #1557
Hi, thank you for the report! Could you include the terminal output you're seeing when trying to run `yarn lerna run mock-data`? Will make it easier to troubleshoot.

[2020-07-07 15:40] Rugvip commented on #1554
@morrme, thanks!

[2020-07-07 15:52] InvokerMaster commented on #1557
![image](https://user-images.githubusercontent.com/31196185/86807898-4b327e00-c048-11ea-9a21-85be4777d276.png)
It seems like the script is missing.

[2020-07-07 16:01] Rugvip commented on #1557
Assuming that is Windows? Are you executing from PowerShell/CMD or Git Bash/WSL?

[2020-07-07 16:03] InvokerMaster commented on #1557
I am executing from Powershell. Is this an issue. not very familiar with yarn

[2020-07-07 16:05] Rugvip commented on #1557
Yeah we should update the scripts to make that work. In the meantime, are you able to run the scripts through Git Bash or WSL?

[2020-07-07 16:08] InvokerMaster commented on #1557
Ahh. got it. Thank you.

[2020-07-07 16:19] amccall-eigt commented on #1557
I can confirm that the scripts have the same issue running in Git Bash.

Additionally, running the mock-data script in the @backstage/plugin-scaffolder-backend/scripts folder directly from a git bash context will supply backstage with an unusable file location (pwd command on line 11 resolves to "/c/...filepath.../"). This results in a "NotFoundError: file /c/...filepath.../template.yaml does not

[2020-07-07 17:37] Rugvip commented on #1557
@amccall-eigt ah yeah ofc, that's not gonna work, thanks :grin:

So yeah, left at this issue needing a fix, and the workaround on Windows right now would be to manually POST the mock-data locations to the catalog with the correct paths.

[2020-07-08 06:30] tkrop commented on #627
@Rugvip @mbruggmann what is it you expect to be provided in the `api-url`?

[2020-07-08 07:10] #1554 closed

[2020-07-08 08:30] Rugvip commented on #1499
Internally we have an Elasticsearch cluster that is essentially indexes the contents of the software catalog + tech-docs. I don't think we want to jump on that solution straight away though. Most likely we start off by defining a frontend search API that we back be an in-memory index in the frontend, and/or a simple endpoints in the backend.

[2020-07-08 08:42] Rugvip commented on #1482
We don't really encourage SCSS/SASS as a tool for styling, as it doesn't give access to the MUI theming. JSS, which MUI uses, does support CSS features such as media queries and animations: https://cssinjs.org/jss-syntax?v=v10.3.0. There should be few reasons, if any, to fall back to separate CSS or SCSS.

That said we want to support SCSS in the build just to make it easier to import existing too

[2020-07-08 10:52] larsnaesbye commented on #627
This seems like it would Backstage work as external developer portal too. I fully applaud this and I think a lot of people would like to get on board Backstage if they could see one solution working as both. We at Kortforsyningen would certainly do it.

[2020-07-08 14:36] benjdlambert opened #1565 "RFC: Github Authentication for Backend Plugins"
## Context
Backstage is always going to treat Github as a first class citizen, and have first class support for any interaction between the two. Github's authentication is at the best of times complex with different scopes for access tokens, personal access tokens, Github Apps, and Github O-Auth apps. This RFC's purpose is to decide on a best way to manage this authentication from backend plugins

[2020-07-08 14:39] Rugvip opened #1566 "Better presentation of authentication errors"
## Expected Behavior

Authentication errors should be presented in a way that is clear to both the user and a developer setting up a new deployment.

## Current Behavior

The error is ugly and doesn't provide enough information

![image](https://user-images.githubusercontent.com/4984472/86930921-d3438100-c137-11ea-8f63-72df706ba4bb.png)

## Possible Solution

- Make sure the backend provides enoug

[2020-07-08 14:44] benjdlambert commented on #1565
https://github.com/spotify/backstage/compare/spike/github-app-authentication?expand=1 is the spike work I did to test if it's viable.

[2020-07-08 15:05] garyniemen commented on #1499
Watching this discussion. During Q3, we are planning to work on Search. Our team within Spotify, Pulp Fiction, are down to take over Backstage Search from @Rugvip 's team, Tools. Our scope is Discoverability and there is a large need to solve Search internally. Will share when we know more.

[2020-07-08 15:30] bih opened #1568 "Error: Cannot find module 'lodash/fp'"
## Expected Behavior

With no code changes to the `packages/cli` repository, the CLI workflow in CI/CD should pass.

## Current Behavior

When making a non-code change to `packages/cli`, the CLI workflow (based in `.github/workflows/cli.yml` - also possibly `cli-win.yml`?) fails with the following console output:

[code]

See our [test pull request](https://github.com/spotify/backstage/pull/1567)

[2020-07-08 16:55] Rugvip commented on #1568
Couldn't reproduce with `node packages/cli/e2e-test/cli-e2e-test.js` so tried retriggering of the test PR, and it was fine too. This was probably a bad package version in NPM that someone then fixed.

The CLI e2e tests is essentially an NPM e2e test too, in that it pulls down the latest packages from NPM as if you're running a fresh install. No need to block merging of PRs on that if everything el

[2020-07-08 20:33] ZaradarDFDS commented on #1557
Windows gets confused by the missing file extensions on the mock-data scripts in the various packages. If you add the .sh extension to the various mock-data scripts and update the individual package.json files to look like the below it will work:

"mock-data": "./scripts/mock-data.sh"

![mock-data-on-windows](https://user-images.githubusercontent.com/54835628/86967527-081cfb80-c16b-11ea-80c5-fb5a5

[2020-07-08 20:34] ZaradarDFDS commented on #1557
I realize this would have been better in a pull request but we are literally just getting started on the sprint planning so I have not had time to setup a branch and make a PR. Sorry. :)

[2020-07-08 21:05] Timunas commented on #1208
Hi @freben does this still apply? I was checking the catalog table when no records exist it shows no records to display message and if one clicks create a component he would be redirected to the scaffolder page where we can register an existing component by pointing to a github component yaml file. Would this be enough or do you have something different in mind?

[2020-07-08 22:50] stefanalund commented on #1208
@Timunas we were thinking there would be a “Add example components” button instead of just a message.

Clicking the button would do the equivalent of running the “mock-data” script, i.e. register a list of sample components.

[2020-07-09 06:23] JordiPolo opened #1573 "Allow adding components in Github not in the master branch"
It just happens that we have a pretty unique git workflow.

Could we lift the branch restriction when trying to add a new component?

[2020-07-09 10:44] shmidt-i commented on #1573
I don't see why not, @Rugvip any objections? Basically it's only in `plugins/register-component/src/util/validate.ts` afaik.

[2020-07-09 10:58] andrewthauer commented on #1519
[OpenTelemetry](https://github.com/open-telemetry/opentelemetry-js) seems worth considering on the implementation side.

[2020-07-09 13:07] Rugvip commented on #1573
Yeah agreed, if it's only being blocked by the frontend right now, let's allow it, since we essentially already are.

[2020-07-09 13:10] benjdlambert commented on #1568
Think this should be fixed now @bih? Will close this issue and re-open if it's still causing issues.

[2020-07-09 13:10] #1568 closed

[2020-07-09 13:20] benjdlambert commented on #1573
@JordiPolo, Do you wanna pick up the frontend work for this? :star:

[2020-07-09 13:42] RoyJacobs commented on #627
Regarding the location of the API, for a lot of our current applications the OpenAPI spec file doesn't exist in the Git repository as-is. Instead, it is generated during build time by introspecting annotations on the Java code (using tools like [this](https://github.com/openapi-tools/swagger-maven-plugin)).

So by itself the API spec file is not scrapable(*) from the Git repo but if the `api-url`

[2020-07-09 14:22] fastfrwrd opened #1576 "[scaffolder] TypeScript Web Library as a default scaffold"
## Feature Suggestion

Saw a great demo of the scaffolder today, and realized that it probably wouldn't be too hard to support our nice [TypeScript Library (powered by web-scripts)](https://github.com/spotify/web-scripts-library-template) as a scaffold, as it is already open-source.

## Possible Implementation

It could be interesting to formally support using [GitHub's template repo](https://docs

[2020-07-09 15:02] Rugvip commented on #627
@tkrop We'd likely start by doing OpenAPI schemas e2e, so the url is probably just the location of a schema file. How to support private repositories I think we can expect to come out of work like https://github.com/spotify/backstage/issues/1565

@RoyJacobs yep, could use a URL in the API entity, but I think there could also be an opportunity to have a custom processor in the catalog that is able

[2020-07-09 15:07] katz95 opened #1577 "Item Card Color Change for Accessibility"
Hi! Would love if someone could help us adjust the colors for our item card headers. Currently our item card headers don't pass color contrast standards.

If the gradient could be #187656 to #4BB8A5, that would be amazing! Thank you!

<img width="740" alt="Screenshot 2020-07-09 at 5 05 59 PM" src="https://user-images.githubusercontent.com/61153904/87056847-78c52600-c206-11ea-9c8c-6d400d998b01.png"

[2020-07-09 16:09] Rugvip commented on #1565
Good findings! 👍  The app template approach looks really promising. 😁

I guess the two main options for storing the installation config would be either in app config + secret, or in the database. If we want to explore installation through database we end up having to have to concept of admins though, so probably best to go for something that you paste into app-config.yaml?

Regarding scope of the

[2020-07-09 17:14] JordiPolo commented on #1573
Sadly I do not have any extra cycles any time soon :(

[2020-07-10 06:59] varenaggarwal commented on #1577
@katz95 I would love to help out. I'll look into it!

[2020-07-10 07:20] shmidt-i commented on #1485
I had a similar problem, this comment from https://github.com/webpack/webpack-dev-server/issues/2140  helped me:

Going to close it now, please let us know if the problem persists!

[2020-07-10 07:20] #1485 closed

[2020-07-10 08:53] katz95 opened #1580 "Color change for Link in Banner for A11Y"
### Currently
The link that's currently in the [dismissable banner](http://storybook.backstage.io/?path=/story/dismissablebanner--with-link) component doesn't pass A11Y standards. If we could change it to #000000, that would be great! Also the background color for the default banner should be #2E77D0. The background color for the error banner should be #E22134.

<img width="1072" alt="Screenshot 2

[2020-07-10 09:02] shmidt-i commented on #1565
Really good job!

Regarding each plugin having their own installation:

Maybe not an issue, but good to keep in mind ;)

[2020-07-10 11:50] Rugvip commented on #1577
@varenaggarwal awesome, thanks! 🎉

[2020-07-10 12:14] #1573 closed

[2020-07-11 08:31] Prakash2403 opened #1589 "yarn install doesn't works on Mac"
yarn install fails* with following error. This, in turn is causing `yarn start` inside `packages/backend` to fail.

*: `packages/backend` is created containing relevant files, but the following error shows up in logs

### Logs for `yarn install` at Project Root
[code]

### Logs for `yarn start` inside `packages/build`

[code]
## Expected Behavior

* `yarn install` at top level shouldn't be showing

[2020-07-11 10:04] freben commented on #1589
Some node 13 versions are partially broken it seems, exhibiting these node-gyp errors. Some googling may lead to hints on how to correct it, but the recommended fix for now is to try again with the LTS version of node (12.x) instead.

[2020-07-11 11:35] andrewthauer commented on #1589
I also ran into this a while back. From my investigation it’s specifically a problem with the nodegit package only supporting up to node 12. I’m wondering if it might make sense to lock down the engine versions to node 12. Right now it’s set to >= 12.

[2020-07-11 13:03] jaime-talkdesk commented on #290
Hey @Rugvip

Are you referring to AWS Cognito, the service they provide?

Or to be able to authenticate with your AWS account? AFAIK they do not support OAuth2

[2020-07-11 13:16] freben commented on #1589
I actually have it working on 13.something on my own work Macbook (am on vacation so can't check more specifically at the moment). Made it work somehow :) But yeah, locking it down may lead to fewer surprises.

[2020-07-11 17:50] Rugvip commented on #290
AWS Cognito seems to be what Amazon recommends for API access as well: https://docs.aws.amazon.com/sdk-for-javascript/v2/developer-guide/loading-browser-credentials-cognito.html. Another alternative would be to support Login With Amazon, which looks like a flavor of OAuth, https://developer.amazon.com/docs/login-with-amazon/web-docs.html, https://docs.aws.amazon.com/sdk-for-javascript/v2/developer

[2020-07-11 19:00] #1589 closed

[2020-07-11 21:52] ayshiff commented on #1537
I will need some help @Rugvip 👍 
In fact, I was wondering if you could give me some explanations about the way the cli package is working. I don't want to have misunderstandings on important parts of the code.

[2020-07-13 08:24] tkrop commented on #627
The `api-url` pointing to a well-known endpoint could be one method. However, at Zalando we discarded this some time ago and instead copy API specs into a well-known directory in the container - which also works nicely with generating API specs. The only thing you can't do is merging APIs dynamically on a server and publish it. We can also point to the `container-api-scanner` that acts as a cache

[2020-07-13 09:06] twishasaraiya commented on #1580
Hi @katz95, I would like to help with this.

[2020-07-13 09:12] nikek commented on #1580
@katz95 I think we should collect all colors into the theme and name them semantically so that we always use named colors in components like this one and not the color hex codes directly. I'm thinking that if the regular link colors for various states doesn't work specifically in banners, we'd have to make up a new semantic color to describe colors in the context of banners, like banner.link.defau

[2020-07-13 10:27] Rugvip commented on #1537
@ayshiff Sure! Can start with a brief overview and you can ask about specific bits here or come by discord! :grin:

The CLI lives inside `packages/cli` and the entrypoint, i.e. the root script executed by `node`, is `./bin/backstage-cli`. It's used both when running a packaged version of the CLI and local development, but for local development it registers `ts-node` for transpilation.

The CLI imp

[2020-07-13 11:10] #1520 closed

[2020-07-13 12:00] #1421 closed

[2020-07-13 13:01] #1538 closed

[2020-07-13 13:02] #1440 closed

[2020-07-13 13:08] benjdlambert commented on #1580
@twishasaraiya great I will assign you!

[2020-07-13 13:13] andrewthauer opened #1598 "Knex + Plugins (Multiple vs Single Database)"
The `knex` database connections currenty requires a different database for each plugin (`catalog` & `auth` so far). Is this the intended design or will a single database be supported?

Here are some considerations:

- A single database would make it easier to provide a single `DATABASE_URL` environment variable (e.g.  `postgresql://user:password@host/db_name`) and feed it into the knex `connection

[2020-07-13 13:22] Rugvip commented on #1598
Duplicate of #1034, but happy to continue the discussion here tbh as you're bringing up some good points.

[2020-07-13 13:23] Rugvip commented on #1034
Let's continue this discussion in #1598

[2020-07-13 13:23] #1034 closed

[2020-07-13 13:38] #1548 closed

[2020-07-13 13:41] hooloovooo opened #1599 "Techdocs: CLI not working on Windows"
Rugvip says "https://github.com/spotify/backstage/blob/master/packages/techdocs-cli/bin/build doesn't work on Windows. I think it might just need a .sh extension and possibly a shebang".

Do that and see if it works.

[2020-07-13 13:41] bih commented on #1548
This has been implemented in the following PRs: #1596. #1588, #1586, #1585, #1584, #1581, #1575, and #1564

[2020-07-13 15:18] bih opened #1601 "TechDocs: Getting Started Guide"
We need a guide for anyone interested in TechDocs getting started. Focus particularly on users who might not be so technical (i.e. engineering managers, leads, etc) but who would be curious of having a docs like code solution in their organization.

Template is provided in `docs/features/techdocs/getting-started.md`

[2020-07-13 15:22] hooloovooo opened #1602 "TechDocs, Writing Documentation"
A guide for people writing documentation using TechDocs. Should describe how to get a environment running that allows for editing of documentation in the backstage UI of techdocs.

Template is provided in docs/features/techdocs/writing-documentation.md

[2020-07-13 15:22] bih opened #1603 "TechDocs: Concepts"
In our TechDocs plugin, we introduce some new concepts such as transformers. We should have a single source of truth for all new concepts we've introduced with Spotify's docs-like-code solution.

[2020-07-13 15:24] hooloovooo opened #1604 "TechDocs, Publishing Documentation"
Documentation describing how to publish documentation. Should describe what parts are handled by techdocs plugin and what isn't, as well as describe how to integrate the parts that aren't with techdocs plugin.

Template is provided in docs/features/techdocs/publishing-documentation.md

[2020-07-13 15:24] bih opened #1605 "TechDocs: Reading Documentation"
Create a guide that walks through what reading documentation in TechDocs looks like. Screenshots, some basic explanation of the tech, etc. The consumers of this should be mostly non-technical (i.e. engineering managers, leads, etc) who are considering deploying TechDocs in their own organization.

[2020-07-13 15:26] hooloovooo opened #1606 "TechDocs, Contributing"
Guide on what we expect from contributions to techdocs plugins and packages.

Template is provided in docs/features/techdocs/contributing.md

[2020-07-13 15:28] ellieseastream opened #1607 "TechDocs: Debugging/troubleshooting"
We want a few examples on troubleshooting.
Tip: look through previous plugin documentation for inspiration.

[2020-07-13 15:35] ellieseastream opened #1608 "TechDocs: FAQ about TechDoc."
We want some content on FAQ on TechDocs.

Purpose: for people who want to know if TechDocs is a product that might suit them.

Inspiration on structure: https://reactjs.org/docs/hooks-faq.html

[2020-07-13 19:09] andrewthauer commented on #1598
Sorry didn't notice there was already a ticket for this :(

[2020-07-13 19:21] stefanalund commented on #1525
Can this be closed?

[2020-07-13 19:24] andrewthauer commented on #1525
This was resolved in #1560

[2020-07-13 19:24] andrewthauer commented on #1525
This was resolved in #1560

[2020-07-13 19:24] #1525 closed

[2020-07-14 05:54] stefanalund commented on #1205
@benjdlambert this is fixed, correct?

[2020-07-14 08:11] benjdlambert commented on #1205
Yep I just need to create an ADR for this. Can fix this today and and close the ticket

[2020-07-14 09:14] stefanalund commented on #1541
@j Backstage can make requests towards Google's APIs (see example [in this plugin](https://github.com/spotify/backstage/pull/1612)) -- making it possible to build a plugin for pretty much any Google Cloud Platform product/feature.

This looks like the right place to start: https://cloud.google.com/run/docs/reference/rest

[2020-07-14 11:43] anshika-cs opened #1618 "backstage app is opening but i am not able to sign in through github getting error"
## Expected Behavior

![gitissue](https://user-images.githubusercontent.com/68241261/87421880-48f69380-c5f5-11ea-91d7-7f5f5570fb21.JPG)
NotFoundError: No environment for development found in this provider at EnvironmentHandler.getProviderForEnv (webpack-internal:///../../plugins/auth-backend/src/lib/EnvironmentHandler.ts:34:13) at EnvironmentHandler.start (webpack-internal:///../../plugins/auth-ba

[2020-07-14 12:18] hooloovooo opened #1619 "@backstage/plugin-techdocs does not contain a dist folder"
Techdocs plugin in npm does not work because it doesn't contain the dist folder.

[2020-07-14 13:15] mclarke47 commented on #632
What about something like this:

![kubernetes backstage plugin](https://user-images.githubusercontent.com/6514980/87429872-53586380-c5dc-11ea-8518-5a3b9208e45b.png)

[2020-07-14 14:01] anshika-cs opened #1621 "sign In issue"
after running app  sign page opens but I am not able to sign in .

[2020-07-14 14:28] Anshi19 opened #1622 "In backstage example app templates are not visible and getting problem in signing option also."
![bug1](https://user-images.githubusercontent.com/57665515/87437756-3d4ba280-c5de-11ea-8570-92074675fc0c.JPG)
![bug2](https://user-images.githubusercontent.com/57665515/87437763-3e7ccf80-c5de-11ea-866b-5bc920fd1c85.JPG)

[2020-07-14 15:18] hooloovooo opened #1623 "Techdocs: Settle on one way to call techdocs-cli in docs"
The techdocs-cli shows 3 different ways of invoking the CLI. We should decide on one way to do it and make sure it works properly.
https://github.com/spotify/backstage/tree/master/packages/techdocs-cli

Update CLI to use spotify/techdocs container.

Change bin name of techdocs-cli from techdocs to techdocs-cli

[2020-07-14 15:19] hooloovooo opened #1624 "Techdocs: spotify/techdocs not published correctly to docker hub."
spotify/techdocs container isn't deploying correctly to docker hub.

[2020-07-14 15:38] benjdlambert commented on #1622
For the example templates to load, you'll need to run

[code]

[2020-07-14 15:43] benjdlambert commented on #1621
Hey @anshika-cs!

Going to need a little bit more information here, what do you see?

Any form of screenshots or logs would be helpful to find out what's going on.

[2020-07-14 15:44] benjdlambert commented on #1618
Duplicate of #1622

[2020-07-14 15:44] #1618 closed

[2020-07-14 15:48] benjdlambert commented on #1621
I'm guessing it's going to be part of #1618, if it is the same can you close this ticket in favour of the other one

[2020-07-14 15:52] benjdlambert commented on #1565
Yep the limit scares me a little bit with the approach for having one plugin for each installation. But I think it's probably OK. Don't know how many plugins we have internally @spotify, but would be good to check to see if realistically we would hit that limit with our internal usage when dogfooding.

Not sure, we should check that internally.

[2020-07-14 16:25] Rugvip commented on #1598
My thinking is that we would default to requiring a separate DB for each backend plugin, but for DBs that support multi-db + multi-schema, we could support splitting the plugins by schema instead of DB. I outlined my reasoning for that here: https://github.com/spotify/backstage/pull/1527#discussion_r450374145

Regarding the administration overhead I think a decent standard pattern could be to prov

[2020-07-14 16:40] Rugvip commented on #1619
Because it's removed when the cli is built :grin: https://github.com/spotify/backstage/blob/f6dd091d7f696dad6195f873b2c3e33ecd23aa70/packages/techdocs-cli/bin/build#L31

[2020-07-14 17:08] Rugvip commented on #632
@mclarke47 Looks like a plan :grin:

It's probably good to start off with having #1 be a manual step, as in an [annotation](https://github.com/spotify/backstage/blob/master/docs/architecture-decisions/adr002-default-catalog-file-format.md#annotations) in the entity description. I'm thinking the entire cluster name + deployment namespace + name. Then we could probably go from there and figure out h

[2020-07-14 18:37] hooloovooo commented on #1619
Ohhh that explains it. Thanks!

[2020-07-14 18:58] benjdlambert opened #1627 "Add a service template for the Scaffolder"
## Feature Suggestion
Currently the Scaffolder provides two sample templates:
- React SSR Template
- Spring Boot Template

The spring boot template doesn't work as there is no files.
Let's get setup with some useful templates.

## Possible Implementation
- Implement a Create React App template for Websites
- Implement a Java/Node/Go template that you can use in the scaffolder.

[2020-07-14 18:59] benjdlambert commented on #1627
@shmidt-i I know you mentioned porting over the springboot stuff from internal but I don't know if it's going to be useful if we have a lot of proprietary code in there that isn't going to work outside Spotify. What did you conclude?

[2020-07-14 19:02] benjdlambert opened #1628 "Validate Input Variables with the JSON Schema in the Template Entity"
## Feature Suggestion
- Currently we only use the JSON Form Schema to create the input form
- We should validate the input variables that are posted to `/v1/jobs` with the same schema
- This ensures that the input params are valid from both the frontend and other callers of the scaffolder backend

## Possible Implementation
- Use the Template Entity that is passed to the scaffolder-backend
- Valid

[2020-07-14 19:06] benjdlambert opened #1629 "Tidy up the Scaffolder Frontend to look like designs"
## Feature Suggestion
- We have some updated designs for the Scaffolder flow.

https://www.figma.com/file/0eN6w5empYRCXAWIy7sqgr/BOSS-DLS?node-id=894%3A3101
https://www.figma.com/file/0eN6w5empYRCXAWIy7sqgr/BOSS-DLS?node-id=894%3A2276

![Screenshot 2020-07-15 at 09 26 01](https://user-images.githubusercontent.com/190856/87516187-48a1db00-c67d-11ea-9de8-fbc5cc1d03cc.png)

## Possible Implementation

[2020-07-14 19:18] benjdlambert commented on #1205
Closing in favour of the ADR here: #1630

[2020-07-14 19:18] #1205 closed

[2020-07-15 05:00] anshika-cs commented on #1622
I already run this.

yarn lerna run mock-data

[2020-07-15 06:57] #1174 closed

[2020-07-15 08:14] ZaradarDFDS commented on #1599
I can confirm its the missing .sh extension. :)

[2020-07-15 08:15] anshika-cs commented on #1622
yes i have the same setup as you described above.

[2020-07-15 08:19] ZaradarDFDS commented on #1599
This is a identical to issue https://github.com/spotify/backstage/issues/1557, which make it seem like we lack some clear guidelines on cross-platform development. E.g @ https://github.com/dfds/cag/blob/master/docs/guidelines/engineering/ENGINEERING.md#cross-platform-coding

[2020-07-15 08:46] stefanalund commented on #1576
@fastfrwrd that would be a great addition. Are you up for helping out? 😏  💯

[2020-07-15 08:58] #1619 closed

[2020-07-15 09:19] benjdlambert commented on #1622
Are you passing in your GITHUB_CLIENT_ID and GITHUB_CLIENT_SECRET as env variables?

Also for the templates screen, could you please get me any console logs from the webpage?

[2020-07-15 09:32] benjdlambert opened #1637 "Refresh Locations grow each poll causing a memory leak"
## Expected Behavior
- Each location is updated only once every poll
## Current Behavior
- When there are entities in the catalog, the polling time refresh grows exponentially and polls every entry a lot of times according to the log.

## Possible Solution
- Only poll each location once

## Steps to Reproduce
- Start the frontend and the backend
- Load the mock data `yarn lerna run mock-data`
- Wa

[2020-07-15 10:52] andrewthauer commented on #1598
@Rugvip - This seems like a pragmatic approach. As discussed in #1527, it would be good to work towards defining some standard recommendations and patterns to address some of these considerations. I'm getting close to having a deployable instance up and running internally, so I'll loop back once I have some further feedback.

[2020-07-15 13:28] benjdlambert opened #1645 "Create a more up to date Architecture Diagram"
## Feature Suggestion
Would be good to update our architecture diagram with something that's high level and what we provide by default.
Maybe covering the Service Catalog and the Scaffolder would be a good start.

[2020-07-15 13:56] benjdlambert commented on #1622
Also the console log from `yarn lerna run mock-data` would be useful if it only completes one stage.

[2020-07-16 02:30] benjdlambert commented on #1637
On further investigation, it turns out that the `location` function from the `CommonDatabase.ts` is returning way to many entires.

https://github.com/spotify/backstage/blob/3bff1d6a683ed22330e49869cff295dfa973df21/plugins/catalog-backend/src/database/CommonDatabase.ts#L313-L329

`locations` here resolves to something like this:
[code]

[2020-07-16 02:31] benjdlambert commented on #1637
After just loading the sample templates from the scaffolder and waiting a few mins. Think that the entries here should be de-deuped by ID, or the initial query needs changing. @freben maybe you know whats best?

[2020-07-16 06:12] freben commented on #1637
Can't say for sure without poking at the code, sorry. That is a weird join though and for sure we have to change it to not do a full unlimited join.

The entities list call makes use of a helper view to get the corresponding latest log entry I think, maybe use the same methodology here?

Or go super basic for now - just fetch the locations completely without status, and then make a separate query

[2020-07-16 07:17] stefanalund commented on #1627
@benjdlambert @shmidt-i we are going to use "Spring Boot" in the copy of the revised backstage.io so please use that. I think an open source template makes more sense than lifting out our internal one.

[2020-07-16 07:54] benjdlambert commented on #1627
@stefanalund looking around for springboot cookiecutter templates on the web is pretty scarce. The ones I found are pretty outdated, and springboot push you towards using this instead to get setup: https://start.spring.io. Wouldn't be difficult to turn that into a template and add a custom templater instead of cookiecutter to go download the build zip and extract it into a folder.

[2020-07-16 07:55] stefanalund commented on #1627
@benjdlambert I see. In that case let's lift-n-shift the internal one. It's a demo in any case.

[2020-07-16 12:04] benjdlambert commented on #1627
Fixed by #1666

[2020-07-16 18:50] Rugvip commented on #1012
So the basis for this has been around for a while, but we're still lacking two things (imo). The most clear one would be env-based config, or multiple/layered config files. Things like `app-config.yaml` + `app-config.development.yaml` + `app-config.development.local.yaml` etc. All of that is really in place in the `config-loader` package, and the only thing that's needed is the resolve logic, pref

[2020-07-16 19:33] timurista opened #1670 "yarn docker-build:all gives `ENOENT: no such file or directory, stat 'package.json-prepack`"
When running docker-build:all it completes first build of spotify/backstage:latest

But when it gets to this step:
[code]
you get the following error
[code]

## Expected Behavior

It should have created a docker file successfully

## Current Behavior

It hangs and fails to build
[code]
## Possible Solution

perhaps an issue with npm setup with prepack running?
https://github.com/shelljs/shx/issues

[2020-07-16 19:55] Rugvip commented on #1670
What yarn `--version` are you on? The postpack script in yarn is currently broken and doesn't get called, so we call it manually. May be that you're somehow not picking up the pinned yarn version we have in the repo and end up using a yarn that is working? Could also be due to node version, but afaik all of 12 behaves the same.

[2020-07-16 20:05] timurista commented on #1670
[code]

[2020-07-16 21:07] timurista opened #1673 "app.yaml wrong indentation"
app.yaml wrong indentation causing error when `kubectl apply -f app.yaml`

## Expected Behavior

[code]

## Current Behavior

[code]
## Possible Solution
see fix:

## Steps to Reproduce
[code]
## Context

trying to launch kuberenetes deployment of backstage for testing

## Your Environment

- NodeJS Version (v12)
- kubectl version (v1.18.2)
- Operating System and Version (MacOS Catalina)

[2020-07-17 03:07] braulio-balanza commented on #632
Hey, that is super cool @mclarke47. I have mostly focused on 3, although given the situation I haven't been able to focus as much as I would want on it. How could be the best way to share with you what I have so far?

[2020-07-17 08:14] #1521 closed

[2020-07-17 10:22] mclarke47 commented on #632
@braulio-balanza perhaps a Draft PR?

[2020-07-17 14:46] dtuite opened #1681 "Circle CI Proxy returning 404"
## Expected Behavior

Requests should be proxied to CircleCI

## Current Behavior

![Screenshot 2020-07-17 at 15 47 25](https://user-images.githubusercontent.com/562403/87799174-d4b22f00-c844-11ea-9b9c-772fa286bfa9.png)

## Possible Solution

Not sure yet.

## Steps to Reproduce

Showing the environment:
[code]

Starting stuff:

[code]

Testing Circle CI directly

[code]

Testing the proxy gives a

[2020-07-17 14:49] shmidt-i commented on #1681
Will look into that!

[2020-07-17 15:01] dtuite commented on #1681
I'm playing around with it.

This configuration doesn't seem to ever send the request to Circle CI.

[code]

I can tell because I have a hook defined and it is never triggered.

[code]

If I change it to this:

[code]

Then the proxy is triggered, but it seems to forward to the wrong path:

[code]

[2020-07-17 16:01] javaniecampbell opened #1682 "Upgrade an Existing Backstage App via CLI"
## Feature Suggestion
Hey guys just released something, shouldn't the `cli` support upgrading an existing version of backstage app and/or have a way of upgrading the version so as to get the benefits of the community?

## Possible Implementation
[code]

[code]

[2020-07-17 16:17] javaniecampbell opened #1683 "[Plugin] BACKSTAGE PACKAGE MANAGER PLUGIN AKA UPGRADE PLUGINS & BACKSTAGE VIA UI"
## Summary
Hey guys just released something, it would be great support to have a plugin that handles upgrading an existing version of backstage app and/or components via UI.

Should have a way via a page added after plugin is installed to upgrading the version of a component/plugin or viewing list of installed components/plugins with the currently installed version displayed and a potential select

[2020-07-17 23:48] savyee opened #1686 "[Plugin] gRPC UI"
## Summary

This plugin would be similar to the current GraphiQL plugin, but it would be for gRPC instead.  I am currently working on it for my own usage, but I'd love to share it with the rest of the community as well!  (I don't seem to be able to assign myself to this issue, but I would if I could.)

## Project website (if applicable)

Here is the documentation for gRPC, which this plugin would

[2020-07-18 11:01] andrewthauer commented on #1012
I think it depends on if the plugins should be able to override the global settings. Is so, then I think the key being used in the config api needs to be used the same (e.g. `app.title`). That way it can use the more specific case and fallback to the global if not provided. However, I'm struggling a little bit to come up with a real world use case where I would want to have the plugin override a g

[2020-07-18 11:28] andrewthauer commented on #1012
Another thing that I wanted to point out, is the config file format seems to be going in the direction where both the frontend & backend configurations would be in a single file by convention. While this makes configuration easier to maintain, it could lead to certain backend values (e.g. secrets) accidentally leaking into the frontend bundles.

I've noticed the config API already picks up environ

[2020-07-18 14:42] Rugvip commented on #1012
@andrewthauer Yeah I'm not completely convinced that having a completely common config for frontend and backend is the way to go. For example there could be some explicit separation and then inheritance (yaml anchors?) to reuse bits. The original proposal here does have that separation. That said I think it does make the config a lot simpler, even if the frontend bundle ends up being a bit larger.

[2020-07-18 20:46] soapraj commented on #1686
Welcome to the community! Would be great if you could elaborate or share some ideas about this plugin.

[2020-07-19 07:49] ari-hacks commented on #1566
I'd like to try to tackle this one 👋🏾

[2020-07-19 08:23] Rugvip commented on #1566
@ari-hacks Awesome, thanks! 😁

[2020-07-19 17:21] shmidt-i commented on #1629
Closing this for now, done in #1669 .

[2020-07-19 17:21] #1629 closed

[2020-07-19 21:22] benjdlambert commented on #1439
@daviddyball I'd love to catch up with you soon and get some feedback about what we've built. I've create some docs about the latest API and they live here: https://github.com/spotify/backstage/tree/master/docs/features/software-templates.

Would be good to hear your thoughts and work out what we're missing for different use cases!

[2020-07-19 21:23] benjdlambert commented on #1302
Think that we've pretty much proved that this is possible, but would be good to implement this repo dropdown pretty soon as it will improve the experience in the scaffolder rather than having freetext.

[2020-07-19 21:35] benjdlambert commented on #1302
Looking at the documentation,  I think we need to add another property to the `spec` of `TemplateEntityV1Alpha` which is the `uiSchema` which can set the widget that is rendered to our custom component:
https://react-jsonschema-form.readthedocs.io/en/latest/advanced-customization/custom-widgets-fields/#custom-field-components

[2020-07-20 08:45] #1681 closed

[2020-07-20 08:48] #1601 closed

[2020-07-20 08:49] #1604 closed

[2020-07-20 08:58] soapraj opened #1690 "Define the scope of GraphQL MVP"

[2020-07-20 11:00] daviddyball commented on #1439
Sounds great @benjdlambert I'm just finishing off the backend side of our service scaffolder now (based around Tekton pipelines and exposed by a microservice). I'll be diving into the Backstage portion of the project shortly, so hopefully I'll be caught-up soon 👍

[2020-07-20 11:18] benjdlambert commented on #1690
## Feature Suggestion
- Create a simple GraphQL service which is registered with the example backend
- Implement the Catalog in GraphQL
- Understand how we can register additional things to the schema from plugins

## Possible Implementation
- Simple GraphQL service which is written in `apollo-server`
- Experiment with `apollo-client@3`
- Add in the ability to search and filter catalog entities
-

[2020-07-20 12:54] shmidt-i commented on #1690
Yay `Experiment with apollo-client@3` 🤩

Very nicely put, I'd only add the type definitions generation as a separate step in MVP ;)

[2020-07-20 14:01] soapraj commented on #1683
Hey! @javaniecampbell

Great suggestion :)

Are you planning to work on this? or currently, taking a stab at this? If so do you want me to assign this to you?

We do plan to work on this at a later point in the roadmap. Feel free to add any more ideas you have around this to this issue.

[2020-07-20 14:26] soapraj commented on #1621
@anshika-cs - do you still face this issue? can you provide us more info so we can help?

[2020-07-20 14:26] soapraj commented on #1622
Hi @anshika-cs - do you still face this issue? can you provide us more info so we can help?

[2020-07-20 14:29] benjdlambert commented on #1439
Perfect! sounds awesome!

[2020-07-20 14:50] benjdlambert opened #1693 "Ability to have template definition for templates outside of the Skeleton Source"
## Feature Suggestion
- Currently, the skeleton for the template must live in the same repository as the `template.yaml` definition.
- You can currently only change the `path` which is relative to the `template.yaml` directory in the same repo.
- This means that if something from the existing ecosystem doesn't support backstage, you might have to fork the repo to add the definition there.
- Would

[2020-07-21 07:46] #1608 closed

[2020-07-21 08:17] #1624 closed

[2020-07-21 09:43] hooloovooo opened #1700 "npm @backstage/cli create-app fails"
Hi! Backstage-cli create-app fails with the following error message.

$ backstage-cli plugin:build
info Visit https://yarnpkg.com/en/docs/cli/run for documentation about this command.

lerna ERR! yarn run build stderr:

Error: Cannot find module 'esbuild'
Require stack:
- ~/projects/hello-world/node_modules/rollup-plugin-esbuild/dist/index.js
- ~/projects/hello-world/node_modules/@backstage/cli/di

[2020-07-21 11:27] ebarriosjr opened #1702 "Add githubApp authentication to scaffolder plugin"
Right now the github authentication for the scaffolder plugin depends on a GITHUB_TOKEN env variable.

## Feature Suggestion
It would be nice to pass a token from the frontend scaffolder plugin to the scaffolder-backend plugin to authenticate to github via githubApp.

## Possible Implementation
Add authentication on the scaffolder plugin and add and extra field (token) to be passed to the backend

[2020-07-21 11:51] benjdlambert commented on #1702
This work is planned, theres an RFC here: #1565

If you've got any input would be appreciated there! :)

[2020-07-21 14:23] emmaindal opened #1704 "TechDocs: Uncaught Error: dom is not a recognized type"
Seems like there is an issue with TechDocs transformers kicks in even on TechDocs Not Found.

Run backstage locally and go to for example
http://localhost:3000/docs/backstage/not-found/

Check the console for errors to investigate @hooloovooo @ellieseastream

[2020-07-21 14:32] #1623 closed

[2020-07-22 07:44] #1637 closed

[2020-07-22 08:21] #1603 closed

[2020-07-22 08:28] hooloovooo opened #1710 "Make sure we deploy a new version of techdocs-cli"
We changed the name for the command from techdocs to techdocs-cli. We updated docuentation to use techdocs-cli, but have not published the new version to npm yet. Make sure it gets published soon.

[2020-07-22 08:47] dtuite opened #1711 "[GitOps Plugin] Suggestions for improvement"
I spent a bit of time with the GitOps plugin recently and I thought I would capture some feedback here for anyone who wants to work on this plugin. This is likely not going to be easy to action as a single issue though so feel free to close it or split it up if it makes sense.

The point here is not to criticize the GitOps plugin by the way. It's to collect feedback & work which could be done to i

[2020-07-22 11:09] #1700 closed

[2020-07-22 11:58] #1607 closed

[2020-07-22 11:58] #1606 closed

[2020-07-22 11:58] #1605 closed

[2020-07-22 11:59] #1602 closed

[2020-07-22 11:59] hooloovooo opened #1715 "TechDocs: Extend entity model to contain documentation."
During Backstage Architecture meeting we decided on storing documentation under metadata annotations.

[2020-07-22 12:02] ellieseastream commented on #1606
We chose to drop this file at this stage of TechDocs. Might reinstate in a later version.

[2020-07-22 12:04] ellieseastream commented on #1605
We decided to drop this in this version of TechDocs. Might reinstate it in a later version.

[2020-07-22 12:05] ellieseastream commented on #1602
Is included in the creating-and-publishing.md file.

[2020-07-22 12:07] ellieseastream commented on #1607
We decided to drop this in the current version of TechDocs. Might reinstate later.

[2020-07-22 12:57] javaniecampbell commented on #1683
Hey @soapraj

Thanks, I am currently still wrapping my head around the code base i understand some parts of it but it is a bit over my head currently. I recognize a lot of the patterns used in the core, common and backend but it's a lot to go through currently this one is above my head currently.

But I believe this would be heavily dependent on the cli api or an api endpoint that can list existin

[2020-07-22 13:03] shmidt-i commented on #1700
Verified, works in 0.1.1-alpha.15

[2020-07-22 13:10] #1710 closed

[2020-07-22 13:21] andrewthauer opened #1719 "Backend migrations fail on Postgres for ~v0.1.1-alpha.15"
After upgrading a standalone app around `0.1.1-alpha.15`, I started getting migration failures for a new migration. I tried dropping and re-creating the databases and same problem. Have not tried `sqlite3` and assume it may work fine.

## Expected Behavior

The migrations run correctly.

## Current Behavior

The following error occurs:

[code]

## Possible Solution

?

## Your Environment

- NodeJ

[2020-07-22 13:23] benjdlambert commented on #1719
@shmidt-i I guess this is related to the changes with the service catalog polling?

[2020-07-22 13:59] shmidt-i commented on #1719
Yes, seems so. Will look into that👍

[2020-07-23 09:29] soapraj commented on #1690
The `plugin system` idea for schema extensions sounds interesting to explore.

One more addition to the MVP would be establish Querying patters from the frontend. In the internal version, we make the GraphQL queries upfront as part of the Page component. Since we are working towards plugin composability we should think about how a single component vs entire page could get data from Graphql.

[2020-07-23 10:47] andrewthauer commented on #1719
@shmidt-i - I have not tested this for correctness, but this will run without error on both `pg` & `sqlite3` clients:

[code]

[2020-07-23 12:14] Fox32 commented on #627
Hello everyone, we (@SDA-SE) are interested in making progress for the Service API documentation plugin. There isn't anybody working on it, right? We can provide a little MVP for the plugin. But to make sure we are on the same level, here a short recap what we think we should build:

* As [ADR-005](https://github.com/spotify/backstage/blob/master/docs/architecture-decisions/adr005-catalog-core-ent

[2020-07-23 12:32] #1580 closed

[2020-07-23 12:44] soapraj commented on #1711
Hey @dtuite - Great findings!

I can comment on #4 and the required scopes can be added to the GitHubAuth.getAccessToken() call in the plugin. Currently, it asks for 'user' and 'repo' scopes and I'll make a PR to add 'workflow' to the list of scopes needed.

Hey, @chanwit - here are some suggestions on improving the GitOps plugin experience.

[2020-07-23 12:58] shmidt-i commented on #1719
Yes, that part I figured, however atm I'm looking into bringing the `pg` workflow into our end-to-end test to avoid this kind of situations ;)

[2020-07-23 13:00] benjdlambert commented on #1711
Also a note on `#4` there's a lovely RFC about GithubApps authentication #1565  which I'd love to get some more input on if you have any ideas @dtuite

[2020-07-23 13:21] dtuite commented on #627
Sounds like a good idea to descope search for the moment. There will need to be a backstage-wide effort to address that.

[2020-07-23 13:54] andrewthauer commented on #1719
Yeah, that's a great idea!

[2020-07-23 15:00] jaime-talkdesk commented on #1565
We have a similar use case (not backstage) where each plugin has a manifesto of what permissions and scopes it requires.

[2020-07-23 15:51] dtuite commented on #1711
@benjdlambert

You would say that! 😄

[2020-07-23 21:01] timurista opened #1727 "Create Plugin fails tsc build step"
Running yarn create-plugin causes failure at providers[env] step in EnvironmentHandler.

[code]
## Expected Behavior

It creates plugin and ts-check succeeds

## Current Behavior

It doesn't

## Possible Solution

fix the typing or add a default value to env variable in
`auth-backend/src/lib/EnvironmentHandler.ts`

## Steps to Reproduce

1. Run `yarn create-plugin`
2. give it foobar name

## Conte

[2020-07-23 21:11] shmidt-i commented on #1727
Could you please specify if you are running `yarn create-plugin` inside the backstage project or inside the project created by `yarn create-app`?

[2020-07-23 21:28] timurista commented on #1727
inside backstage project. I did not `yarn create-app` just `yarn create-plugin` at root directory of the project.

[2020-07-24 00:29] fidelcoria opened #1728 "Add rollup/plugin-yaml to CLI so yaml files can be included in build "bundles""
I would like to be able to load yaml files into my React Backstage Plugin via import (not from fs). Since CLI manages the rollup config seems to me I can't override that config from my React Backstage Plugin.

## Feature Suggestion

Allow Backstage Plugin creators to continue using backstage CLI while having static "asset" yaml file imports.

## Possible Implementation

add @rollup/plugin-yaml to

[2020-07-24 08:38] RoyJacobs commented on #627
Great, @Fox32! Once this is in place I think we would be open to contributing the history/versioning part. Probably including an API to query based on NPM or Ivy-style semver strings (e.g. things like `^1.0.4`).

[2020-07-24 08:43] #1719 closed

[2020-07-24 12:54] mikerhyssmith opened #1735 "Dense property not applying to Structured Metadata Table"
Dense property does not change how StructuredMetadataTable is rendered

## Expected Behavior
Should use dense table when dense prop is true

## Current Behavior
Seemingly there is no change when dense is set to true on StructuredMetdataTable

## Possible Solution

I may have missread this but the change for this issue https://github.com/spotify/backstage/issues/1283 Was to apply the dense property

[2020-07-26 00:53] #1690 closed

[2020-07-26 20:21] andrewthauer commented on #1012
@Rugvip - I think what your proposing makes sense. The only `APP_CONFIG_` based environment variable I'm using now is `APP_CONFIG_backend_baseUrl` which would allow for the single build artifact to be used in different environments. Having backend secrets not use the `APP_CONFIG` prefix seems like the ideal pattern to avoid confusion.

[2020-07-27 07:50] #1704 closed

[2020-07-27 07:54] emmaindal opened #1750 "TechDocs: Docs Not Found"
Currenlty, this is what the [TechDocs Not Found](https://github.com/spotify/backstage/blob/master/plugins/techdocs/src/reader/components/TechDocsNotFound.tsx) page looks like.
<img width="1436" alt="Screen Shot 2020-07-27 at 9 34 11 AM" src="https://user-images.githubusercontent.com/25153114/88515718-6f9ccd00-cfec-11ea-8373-93c6f4bc7316.png">

To be consistent throughout Backstage we would like to

[2020-07-27 08:25] Rugvip commented on #1536
An alternative to a registry is just regular exports from the plugin package. Regarding layout I do feel we need some solution for setting constraints for how a plugin can be displayed and probably a method for choosing how to display them within those constraints.

I'm thinking that we strive for an API that is flexible enough to do more than just info boxes, so also tabs and for example header i

[2020-07-27 08:43] #1728 closed

[2020-07-27 09:17] #1219 closed

[2020-07-27 10:25] #1673 closed

[2020-07-27 10:41] #1522 closed

[2020-07-27 10:53] benjdlambert opened #1755 "Add MSW boilerplate to create-plugin"
## Feature Suggestion
- Add MSW boilerplate to `create-plugin` base.
- It should fail tests when any network request is made.
- Update any existing plugins with the new boilerplate

[2020-07-27 12:16] DavidJSykes commented on #1750
I was attempting to solve this issue, and for the life of me, I can't get the Typography element for ErrorPage to accept a newline character.  If anyone know's how to do that I would love to know!

[2020-07-27 13:52] OrkoHunter commented on #1750
Hi @DavidJSykes ! In my understanding -

[code]

This way we can insert newline inside a Material UI Typography element. :)

[2020-07-27 14:27] Nek commented on #1524
The annotation ended up being called ```backstage.io/github-actions-id```. Let's discuss/change it until it's too late 😈.

[2020-07-27 14:42] freben commented on #1524
I'm thinking maybe it's an `org` specifically, not an `id`

[2020-07-27 14:43] Rugvip commented on #1524
I'd vote for `github.io/project-slug: spotify/backstage` (or similar) and in general try to standardize annotations. That along with a catalog processors that derive it from the location if available.

Going for one annotation per plugin (use-case?) I think will end up in insanity, and that we can provide a lot of value by providing a standard set of annotations that plugins can rely on.

[2020-07-27 14:44] emmaindal commented on #1750
@DavidJSykes fantastic, thank you! I'll assign it to you then 😄

[2020-07-27 14:47] freben commented on #1524
Yeah sorry, project, not org - but slug is consistent with gitlab too, sounds sensible

[2020-07-27 14:47] Nek commented on #1524
I like slug. Any ideas on where to put the annotation key itself? Not to have it hardcoded.

[2020-07-27 14:50] freben commented on #1524
Having the generic one is of course limiting too - we can't do "feature detection" as easily this way; we'll then perhaps default to showing ALL github related plugins whether they apply or not. Maybe some caching in the graphql layer can help in that regard.

[2020-07-27 15:03] hooloovooo opened #1758 "TechDocs: Build documentation site for services containing documentation reference."

[2020-07-27 15:06] #1715 closed

[2020-07-27 15:24] #1727 closed

[2020-07-27 19:15] benjdlambert commented on #1524
Surely `github.com/project-slug: spotify/backstage` not `github.io`?

[2020-07-27 19:24] benjdlambert commented on #1524
Another issue I'm thinking of, is how do we identify github enterprise projects with this? Then the domain entirely falls apart.

Maybe we do something like `github.com/project-slug: https://mygithub.mycompany.com/spotify/backstage` in that case?

[2020-07-27 22:50] swiftdiaries commented on #1524
Like @benjdlambert pointed out, this limits the annotation to non-Enterprise projects.
Suggestion:
[code]

[2020-07-28 00:09] diegonvs commented on #1071
I think this can be closed since https://github.com/spotify/backstage/pull/1115 was merged :p

[2020-07-28 06:01] stefanalund commented on #1071
Yep. Thanks

[2020-07-28 06:01] #1071 closed

[2020-07-28 08:00] shmidt-i commented on #1536
## Scope:

This RFC looks into the problem of composing different plugins together in Backstage, allowing them to extend each others functionality.

## Definitions:

**Extension** - piece of functionality that integrates into other plugin. Can be Tab, InfoCard, Route or something else.

**Host plugin** - plugin that hosts other plugins extensions.

**Widget** - prepared component, exported from pl

[2020-07-28 12:36] katz95 opened #1763 "Edit button style for template cards"
Currently, the buttons in the cards for our software templates don't match the buttons that we have elsewhere. It would amazing if someone could fix the styling to match the tertiary button style that you see in TechDocs and Explore.

### Currently

<img width="661" alt="Screenshot 2020-07-28 at 2 33 29 PM" src="https://user-images.githubusercontent.com/61153904/88665784-78220000-d0df-11ea-8f60-29

[2020-07-28 14:54] emmaindal opened #1764 "TechDocs: Documentation Header"
The header for documentation currently use the standard "home" color.
![Screen Shot 2020-07-28 at 4 30 10 PM](https://user-images.githubusercontent.com/25153114/88679384-ad364e80-d0ef-11ea-9d44-4ccb9bd9b3e9.png)

![Screen Shot 2020-07-28 at 4 33 21 PM](https://user-images.githubusercontent.com/25153114/88679777-14ec9980-d0f0-11ea-91aa-47ce9d6adc21.png)

We would like to change this to a specific c

[2020-07-28 15:14] emmaindal commented on #1599
@hooloovooo can this issue be closed? seems to have been solved in https://github.com/spotify/backstage/commit/bb63c4ceba4bce6daf100d0c41fcbf1d524c0fce#diff-021f7c6b357a4171aaca0a9edc8db241 ?

[2020-07-28 15:20] Rugvip opened #1765 "Don't require JSON encoding of config values supplied through env."
## Feature Suggestion

When supplying a config value through an env var it currently needs to be JSON-encoded, e.g.

[code]

Let's remove that requirement by falling back to assuming the value is a string if it fails `JSON.parse`.

## Possible Implementation

It needs to be implemented in all places where env-vars are read, which is currently [here](https://github.com/spotify/backstage/blob/db5e04

[2020-07-28 15:37] twishasaraiya commented on #1764
Hi @emmaindal, I would like to take this up.

[2020-07-28 17:29] EvanHahn opened #1766 "Upgrading Helmet to the next major version"
I'm the maintainer of Helmet. I plan to release the next major version this Sunday, 2020-08-22.

Just wanted to let you know! If you'd like to try out the release candidate now, you can install it with `npm install helmet@next`.

Hope I can be helpful!

[2020-07-28 18:03] emmaindal commented on #1764
Great @twishasaraiya 😄 I'll assign it to you, just let us know if you have any questions! 🎉

[2020-07-28 20:55] benjdlambert opened #1767 "Explore using ProBot to manage auth for Plugins"
## Feature Suggestion
- Following on from the RFC in #1565 it would be good to explore if using https://probot.github.io/ would be a good way of managing the app creation on a per plugin basis.
- Can plugins request to create an app in the users organisation with some predefined manifest
- Can we get webhooks working as predicted and do we have a nice way to store this information
- Can we also ge

[2020-07-28 23:02] #661 closed

[2020-07-29 10:19] Rugvip commented on #1536
@shmidt-i Great write-up and awesome to bring in some good terminology around the concepts, way better than what we have internally 😅

Could of thoughts/questions before we dive deeper:

In **1** you mention that the registry should be reactive, is there something in the design that makes that a requirement? Internally it's all just synchronously wired up before the app renders.

The conditions in

[2020-07-29 12:25] hooloovooo opened #1772 "Create Core API for parsing and working with location references"
Location refs such as `file:/path/to/file` or `github:https://github.com/org/repo` are being used a lot in the entity model.
We're starting to see a need for a common way to parse and work with location references. Currently there's no real standard for what different types are allowed (`file:`, `github:` are being used mostly though), and there's no common library for parsing them. Some plugins a

[2020-07-29 12:36] DavidJSykes commented on #1750
@OrkoHunter thank you for that, I was trying to get the existing ErrorPage to accept it as a parameter, and unfortunately, it just will not play ball.

[2020-07-29 13:30] freben commented on #1536
Not sure if it needs repeating, but as you know I'm
in the JSX camp as well :) +1 to the above.

[2020-07-29 13:38] shmidt-i commented on #1536
So we had a discussion about this and came up with 2 things:
1) List of design constraints:
- Easy to get going with a new app.
- Easy to modify an existing app.
- Design for deletability.
- Easy to get a good overview of the app and page layouts in the app source code.
- PM should be able to modify the app

2) Rough idea on the consuming version of JSX-based api:
[code]

And the next step being l

[2020-07-29 13:39] shmidt-i commented on #1536
Another take is that we don't need a reactive registry from the beginning, it can be just a synchronous registering on the app startup and then passing that down through e.g. React.Context

[2020-07-29 14:15] DavidJSykes commented on #1750
@emmaindal I have been hitting monorepo/no-internal-import or other similar issues trying to use the existing ErrorPage. Other than making the TechDocsNotFound almost a duplicate of the ErrorPage I'm not sure I could fix this.

[2020-07-29 14:42] SlavyanaK opened #1774 "Command yarn install failling when trying to run Backstage app"
Hello,

I'm trying to run Backstage app on Ubuntu Ubuntu 18.04.4 LTS.

I have node js and npm installed:
$ nodejs -v
v12.18.3
$ npm -v
6.14.6
I also installed yarn.

When I'm cloning backstage repository and trying to run "yarn install", I have the following issue:

backstage$ yarn install
yarn install v1.22.1
[1/5] Validating package.json...
[2/5] Resolving packages...
[3/5] Fetching packages...

[2020-07-29 15:10] Rugvip commented on #1774
Looks like trouble with installing the esbuild binary. Does the following work or give you a more informative error message?

[code]

[2020-07-29 15:18] SlavyanaK commented on #1774
Here is the output of the command:

npm install --prefer-offline --no-audit --progress=false esbuild-linux-64@0.6.3
npm WARN deprecated core-js@2.6.11: core-js@<3 is no longer maintained and not recommended for usage due to the number of issues. Please, upgrade your dependencies to the actual version of core-js@3.
npm WARN deprecated urix@0.1.0: Please see https://github.com/lydell/urix#deprecated

[2020-07-29 15:26] Rugvip commented on #1774
Ah shite sorry, forgot to tell you to run that in a separate folder ._.

It seems to have worked fine though, maybe the original issue was just some network/npm flakiness. Does the original `yarn install` work? If you ran the npm install in the root of the repo you should be sure to delete the package-lock file and node_modules first.

[2020-07-29 15:33] SlavyanaK commented on #1774
Ok i found the issue, I ran the command in a separate folder, and in fact it failed because of my npm registry configuration, it was searching inside my company's registry. So i defined the registry to https://registry.npmjs.org/ and now yarn install is working perfectly.
Thanks a lot for your help!

[2020-07-29 15:33] #1774 closed

[2020-07-29 16:30] Rugvip opened #1775 "Use OAuth state to forward the environment to the handler"
## Feature Suggestion

The current [EnvironmentHandler](https://github.com/spotify/backstage/blob/75abb422179b036d2be248ff39a7235a5e0b1efd/plugins/auth-backend/src/lib/EnvironmentHandler.ts#L58) implementation uses the `env` parameter in the callback URL. This can cause a bit of confusion as it needs to be part of the configured callback URL of the OAuth clients. We should be able to simplify the

[2020-07-29 16:42] Rugvip opened #1776 "Refactor SignInPage providers based on BackstageIdentityApi"
## Feature Suggestion

All of the BackstageIdentity-based sign-in providers are very similar, let's refactor them to share implementation.

For example https://github.com/spotify/backstage/blob/master/packages/core/src/layout/SignInPage/googleProvider.tsx, https://github.com/spotify/backstage/blob/master/packages/core/src/layout/SignInPage/gitlabProvider.tsx.

## Possible Implementation

Refactor

[2020-07-30 07:00] twishasaraiya commented on #1764
Hi @emmaindal, can you confirm if I have picked correct shades
[code]

[2020-07-30 07:24] hooloovooo opened #1779 "TechDocs: Generate a techdocs metadata file."

[2020-07-30 08:06] hooloovooo commented on #1750
@DavidJSykes I'm not entirely sure how you're doing it, but i'm guessing you are trying to import ErrorPage using a relative path instead of @backstage/core. Could you try using `import { ErrorPage } from '@backstage/core'`? Feel free to tag me as well if it doesn't work and/or you need any more help. @emmaindal is on vacation this week.

[2020-07-30 08:22] kingasieminiak commented on #1776
Hi @Rugvip! I was following conversations on the support channel, I can take the issue.

[2020-07-30 08:39] #1779 closed

[2020-07-30 08:43] hooloovooo opened #1781 "TechDocs: Publish documentation site for services containing documentation reference."

[2020-07-30 08:56] emmaindal commented on #1764
@twishasaraiya I adjusted them a little bit, will update the sketch. Lets use the following 😄

{
    colors: ['#C8077A', '#FF0F9E'],
    waveColor: '#ea93c3',
    opacity: ['0.8', '0.0'],
},

[2020-07-30 09:17] emmaindal commented on #1750
@DavidJSykes and @hooloovooo I don't think the ErrorPage component is exported from backstage core yet, so you may have to export it from [here](https://github.com/spotify/backstage/blob/master/packages/core/src/layout/index.ts).

[2020-07-30 09:21] twishasaraiya commented on #1764
Thanks for that @emmaindal.  I have made the changes.

[2020-07-30 09:29] DavidJSykes commented on #1750
@emmaindal and @hooloovooo thank you guys I was so close! I had already set up exporting in the right place, but I was importing it incorrectly. I'll give it another go now.

[2020-07-30 10:54] Rugvip commented on #1776
@kingasieminiak Awesome, thanks! 😁 🎉

[2020-07-30 11:28] DavidJSykes commented on #1750
@hooloovooo Is there any chance you could shed a bit of light on this error message the test suite is giving me?
![static config error](https://user-images.githubusercontent.com/20754213/88916654-5c913380-d25e-11ea-837a-e8a6edc5ef6b.png)

[2020-07-30 11:36] hooloovooo commented on #1750
@DavidJSykes Not sure about that one. Looks like something unrelated to what you're working on. Could be a windows specific bug in Backstage. Could you upload a fork somewhere where i can have a look?

[2020-07-30 11:41] DavidJSykes commented on #1750
https://github.com/DavidJSykes/backstage/tree/Fix-TechDocs-missing

[2020-07-30 11:49] hooloovooo commented on #1750
@DavidJSykes Seems like that should work, and it does for me. What version of node are you running?

[2020-07-30 11:50] DavidJSykes commented on #1750
@hooloovooo I'm using 12.18.3 did you run the tests in a Linux environment?

[2020-07-30 11:53] hooloovooo commented on #1750
I did. Trying in windows now.

[2020-07-30 12:47] hooloovooo commented on #1750
@DavidJSykes I'm getting all kinds of issues trying to run the tests on windows. Seems a lot of them aren't compatible. If you're writing tests for your stuff, could you just run those specifically and make sure they work. We'll run all the other tests to make sure there are no regressions in the pull request.

[2020-07-30 12:50] rcoder23 commented on #1763
I can solve it

[2020-07-30 12:57] Rugvip commented on #1763
@rcoder23 Awesome 😎

[2020-07-30 13:03] DavidJSykes commented on #1750
@hooloovooo I set it all up on my macbook and it does now seem to run the tests. Did the code look alright otherwise?

[2020-07-30 13:10] hooloovooo commented on #1750
@DavidJSykes I didn't look too closely, but if you feel happy with what you've got or want a place to discuss specifics feel free to create a PR. :)

[2020-07-30 13:26] GoWind opened #1786 "Remove non-empty scope check from auth-backend"
When doing the OAuth2 authorization, the `start` handler in the OAuthProvider, checks if the scopes are present in the authorization call from the frontend and throws an Exception if there are no scopes.

As per the OAuth2 spec, scopes are an optional parameter. If the Provider client in the frontend does not send a scope parameter, the auth-backend should simply forward the rest of the query para

[2020-07-30 13:33] rcoder23 commented on #1763
Sorry ,sir I am removing my assignment .I am beginner now Thank you

[2020-07-30 13:58] Rugvip commented on #1763
@rcoder23 no problem, and good luck! :grin:

[2020-07-30 14:14] #1599 closed

[2020-07-30 14:21] Rugvip opened #1788 "Tests fail on Windows"
## Expected Behavior

Tests work on Windows

## Current Behavior

Tests fail on Windows

## Possible Solution

Fix broken tests on windows.

Add a nightly workflow that verifies tests on Windows, as it's a bit too slow to run in-line with all CI builds.

## Steps to Reproduce

Run tests on Windows :grin:

## Context

Trouble discussed here: https://github.com/spotify/backstage/issues/1750#issuecom

[2020-07-30 14:23] Rugvip commented on #1750
Tracking the windows issue here: https://github.com/spotify/backstage/issues/1788. Work around it by running only the specific tests you need for now : /

[2020-07-30 14:48] #1764 closed

[2020-07-30 14:50] stefanalund commented on #290
@jaime-talkdesk are you working on this? We are really interested in getting AWS auth support in Backstage and would greatly appreciate any help.

[2020-07-30 15:04] rajatjindal opened #1790 "consider installing "goodfirstissue" bot on 'backstage'"
Hi `backstage` Team

I've developed a github bot [goodfirstissue](https://github.com/rajatjindal/goodfirstissue) which tweets 'good first issues' via twitter handle [@goodfirstissue](https://twitter.com/goodfirstissue).

I wanted to see if the team would find it useful to let the bot tweet `goodfirstissues` from this repo/org.

the targeted audience for twitter account are first time contributors,

[2020-07-30 15:10] jaime-talkdesk commented on #290
I will tackle it after Auth0 PR but for now is free for grab. If no one takes in the meantime, I will tackle it

[2020-07-30 15:17] #1786 closed

[2020-07-30 16:17] Rugvip commented on #1536
Some output from another brainstorming session today. We came up with a couple of ideas/hypothesises that we want to try out in a more concrete implementation:

1. [ ] Different types of Component entities will want to have different cards and tabs shown.
1. [ ] Tab titles as part of JSX in the app improves readability and makes it easier to find location in the code corresponding to the website.

[2020-07-30 17:32] #1750 closed

[2020-07-30 17:41] kowsheek commented on #675
I'd be interested in helping on this. How deep of an integration do we envision the plugin? We could potentially start with it being a link out to the drone server or by embedding it.

[2020-07-30 20:05] stefanalund commented on #1735
@mikerhyssmith these are based on different table implementations currently. Passing dense will not do anything. In fact, the structured table is always showing content in a dense way.

I’m thinking we will probably close this issue as it is expected behavior. What do you think?

[2020-07-30 20:09] mikerhyssmith commented on #1735
Hi @stefanalund  thankyou for the reply !

AHH that's interesting I'm not sure if it's on my side but I recently updated from alpha.5 to the latest and my structured metadata table is no longer dense !

I will try and get a reproduction for you 🙂

[2020-07-30 20:15] stefanalund commented on #1735
You are right! http://storybook.backstage.io/?path=/story/structured-metadata-table--default

Feel free to suggest a PR that makes it dense again, and possibly adding a prop for it (which should be true by default). Thanks!

[2020-07-30 20:21] stefanalund commented on #675
Awesome, thanks! I’d suggest looking at the CircleCI plugin for inspiration https://github.com/spotify/backstage/tree/master/plugins/circleci

[2020-07-30 21:00] andrewthauer commented on #1765
I can take this one

[2020-07-30 21:17] Rugvip commented on #1765
@andrewthauer Thanks! 😁

[2020-07-30 22:05] andrewthauer commented on #1765
So the easy solution would be to just always fallback to a string value. However, this will make the majority of the current tests obsolete since everything is a string in `process.env` by default. It also will not catch situations where the value was intended to be an actual json object but has a syntax error. Are we ok with losing those checks? Other options could be to try to infer the intended

[2020-07-31 04:51] jaygurnani opened #1794 "Running build-image in backend makes yarn postpack run twice for each package"
Running the docker builds commands returns an error

## Expected Behavior
Build should complete successfully

## Current Behavior
$ backstage-cli postpack
$ backstage-cli postpack
success Wrote tarball to "/tmp/dist-workspaceNZqVLn/temp-package-8.tgz".
success Wrote tarball to "/tmp/dist-workspaceNZqVLn/temp-package-7.tgz".
$ backstage-cli postpack
success Wrote tarball to "/tmp/dist-workspaceNZqV

[2020-07-31 07:32] ellieseastream commented on #1763
This issue seems to have already been fixed in this pull request: #1677
😊

[2020-07-31 07:33] #1523 closed

[2020-07-31 07:56] Rugvip commented on #1763
@ellieseastream oh yeh, thanks! :grin:

[2020-07-31 07:56] #1763 closed

[2020-07-31 08:02] Rugvip commented on #1794
The `postpack` is currently invoked manually because of a bug in yarn, but if the bug was fixed it would be invoked twice and you'd get this error. Do you actually get yarn version `1.22.4` when running `yarn --version` inside the repo? We're using policies to pin it to `1.22.1` right now.

WIP fix for the bug in yarn: https://github.com/yarnpkg/yarn/pull/8190

[2020-07-31 11:01] GoWind commented on #1775
@Rugvip I would like to help with this and take a shot at this. Can you assign it to me ?

[2020-07-31 11:06] Rugvip commented on #1775
@GoWind Awesome, thanks! 😁

[2020-07-31 12:55] Rugvip commented on #1794
#1796 fixes the build, but would still produce a warning in this case, which it shouldn't. Renaming and leaving this open until we've figured out why postpack would be run twice.

[2020-07-31 14:05] Rugvip opened #1801 "Allow backend plugins to use any package name"
## Expected Behavior

Backend plugins should be able to freely choose their package name.

## Current Behavior

Backend plugins have to be prefixed with `@backstage/`, or they are considered external: https://github.com/spotify/backstage/blob/cd5755cdfdca1609c6088136707e72c6f1a243b3/packages/cli/src/lib/bundler/config.ts#L155

## Possible Solution

Discover packages in the monorepo using the lerna

[2020-07-31 14:55] timja commented on #673
I've created a PR for this https://github.com/spotify/backstage/pull/1802, would love feedback on it.

Thanks!

[2020-07-31 16:43] #1765 closed

[2020-08-01 16:33] twishasaraiya commented on #1208
Hi @freben, I would like to take this up and give it a try.

[2020-08-01 17:50] freben commented on #1208
Sure, thanks! Assigned you now.

[2020-08-02 18:38] freben commented on #390
@mbruggmann An evemt stream output (perhaps as a pubsub topic) from a service would fit neatly within the API concept, would it not? Or does it even deserve special treatment?

[2020-08-02 20:37] #1537 closed

[2020-08-02 21:29] #1627 closed

[2020-08-03 00:27] jaygurnani commented on #1794
Actually yeah you are right - I ran `yarn --version` in the wrong directory. It actually comes at 1.22.1 when I run it in the `backstage` repo.

[2020-08-03 09:02] benjdlambert opened #1805 "Introduce the Catalog GraphQL API to the Frontend"
## Feature Suggestion
- Evaluate Relay vs Apollo?
- Introduce the selected client to the frontend

[2020-08-03 09:04] benjdlambert opened #1806 "Documentation for GraphQL Extensions"
## Feature Suggestion
- Document how to create GraphQL extensions to the schema
- Document how to share dataloaders
- Document how to call the catalog from your own extension

[2020-08-03 09:52] ainouche opened #1807 "Backstage LDAP Integration"
Hello Team,

Here a new issue, as asked by @stalund, in discord #documentation chanel.

We using backstage for the first time and we are wondering if there is any _concrete example_ (Github repository) to configure LDAP authentication.

FYI, we are using Active Directory authentication for our internal services in our company (Amadeus) .

Thanks in advance,

[2020-08-03 10:22] timja opened #1808 "Github open pull request count widget"
## Feature Suggestion

Show the count of open pull requests for a repository (maybe even a breakdown with open/closed as well)

## Possible Implementation

A new annotation will likely be needed,
something like:

[code]

## Context

Surface more information in backstage, along with healthy repo indicators, i.e. less open PRs is better.

[2020-08-03 12:01] mbruggmann commented on #390
@freben Agreed, it'd be nice to model event streams as APIs. Then Backstage could list all available pub/sub topics with their payload schemas 😍

[2020-08-03 12:22] RoyJacobs commented on #390
There is an effort to standardize these kinds of API through [Async API](https://asyncapi.io/). I'm not sure if this is too detailed for you, but it could be an inspiration for the model maybe?

[2020-08-03 12:58] emmaindal opened #1810 "TechDocs: Figure out when to build documentation for a service. /buildall endpoint won't scale well."

[2020-08-03 12:58] emmaindal opened #1811 "TechDocs: Add links to Documentation from entities that have a documentation reference in service catalog."

[2020-08-03 13:43] Rugvip commented on #1807
Hi!

So there's currently no LDAP integration available yet, and therefore no examples. It's definitely something that we want to add though, and the work to integrate with LDAP depends on a couple of different things. The main one would be to figure out how to represent organizational data inside Backstage, tracked in https://github.com/spotify/backstage/issues/1401. Once that's in place we'd nee

[2020-08-03 13:45] Rugvip commented on #1808
Sounds like a good idea!

Whoever picks this up, please make sure to sync with https://github.com/spotify/backstage/issues/1524 so that we don't end up with multiple annotations for the GitHub slug :grin:

[2020-08-03 14:44] twishasaraiya commented on #1208
Hi @freben, I am thinking of doing the following steps
1. Create a state for `entities`
[code]
2. Add a conditional button(besides `create component` that shows only when `entities` are empty
[code]
3. Define `addMockData` function which does the same a `yarn lerna run mock-data`
     a. Loop through static array
     b. For each, call `catalogApi.addLocation`
     c. Set the `entitiesState`

Let

[2020-08-04 07:55] kingasieminiak commented on #1776
@Rugvip I see that SignInPage and UserSettings components share the same source of providers (configApi). This is great but it still gives a closed list of providers e.g.

[code]

I think would be great for those components to share the same, more flexible, configuration. Although, I see the providers don't share the same "settings components": (OIDCProviderSettings, OAuthProviderSettings)  so the

[2020-08-04 10:07] Rugvip commented on #1776
@kingasieminiak Tbh the providers on the sign-in-page shouldn't be collected from config in the long run, since sign-in and the auth delegation are separate concerns. The set of 3rd party access providers you want to support is likely not going to be the same as the ones you want to use for sign-in.

The sign-in providers should also not really be concerned with OAuth/OIDC at all, will post a comm

[2020-08-04 10:18] nnganesha opened #1821 "Invalid host header error"
I installed this on an Amazon AWS VM (Ubuntu). Following are the changes I made.

Updated app-config.yml to change baseUrl (under app section) to http://0.0.0.0:3000, so that all addresses can bind to it. It is working fine outside as well, as long as I use the url http://ipaddress:3000/. But when I access this via AWS Loadbalancer, where I give a specific DNS name, such as https://backstage.mycom

[2020-08-04 11:04] #1758 closed

[2020-08-04 11:04] #1781 closed

[2020-08-04 11:09] Rugvip commented on #1821
Afaik the following config should allow things to work:

[code]

[2020-08-04 13:45] nnganesha commented on #1821
Do I need to change for Backend section as well? I thought I just need to change app section...

[2020-08-04 14:18] Rugvip commented on #1821
@nnganesha Ah was assuming it was the `backend` section, sorry.

In the app section it should be fine to just use `baseUrl: https://backstage.mycompany.com`. If you're using the nginx docker container it should always be binding to just 80, so you get to map that as you please in the docker port bindings. If you're not using the standard container it'll be up to you to set up serving of the static

[2020-08-04 15:50] nnganesha commented on #1821
sure no problems.. thanks for the reply. but i just did a git clone and did a yarn install & yarn start.. It brings up the portal on 3000 by default. I can access from other machines as well if I access via ip address. But when I access via aws load balancer, this error pops up. Is there a way I can disable host check via any command line switches in the yarn start statement?

[2020-08-04 15:57] Rugvip commented on #1821
`yarn start` is really just for local development. For serving the app even in a demo setup you'll want to build a dist version of the app with `yarn build`. You can then use any simple static http server, like https://www.npmjs.com/package/http-server, to serve the contents of `packages/app/dist`.

Alternatively if you want to hack it together anyway, you could head to your local https://github.c

[2020-08-04 16:25] nnganesha commented on #1821
Sure Patrik, thanks a lot for the suggestion. I will check and update you on this..

[2020-08-04 16:56] pianilsson opened #1824 "Add mock data to create-app command"
## Feature Suggestion

The create-app command renders an empty shell and it would be great if I as a user can click around and get to know the features in Backstage with some mock data. For this purpose you offer the:
yarn lerna run mock-data

However, to make it easier and more self-explanatory for the user creating a Backstage app, I'd like you to consider adding this same mock data to the creat

[2020-08-04 18:22] ainouche commented on #1807
Hi @Rugvip,
First, thanks for your answer.
So, in order to deploy backstage inside our infrastructure, we need it to be integrated with our Enterprise Active Directory (LDAP), by assuming that backstage will map users and groups with backstage RBAC/Permissions model.

As a first integration stage, we need to be able to authenticate through our Active Directory to validate user's passed credentials

[2020-08-04 19:57] freben commented on #1807
Are you intending for the user to enter username and password directly into a Backstage page, rather than deploying Backstage behind an SSO such as Okta or simikar, that handles the actual authentication? Do you employ such a solution for other systems that you use?

[2020-08-05 06:37] nnganesha commented on #1821
Thanks a lot Patrik, it worked very well.. I added below section in WebpackDevServer function, as suggested by you, at line number 42, as an additional parameter..

allowedHosts: [
      'backstage.mycompany.com',
      'mycompany.com',
      'localhost'
    ],

Many thanks for your inputs....

[2020-08-05 08:17] ainouche commented on #1807
Yes, for the time being, we plan to make users enter username and password into a backstage page, but there is a global initiative about Keycloak (https://www.keycloak.org/), which is under study, that will provide in the future an OAuth2 service for our infrastructure. But as I said, this is under study and the assessment of backstage is ongoing.

[2020-08-05 08:48] freben commented on #1766
Welp, seems like dependabot pinged us too :) https://github.com/spotify/backstage/pull/1830

[2020-08-05 09:07] Rugvip commented on #1821
@nnganesha great! Alright with closing the issue?

[2020-08-05 09:10] nnganesha commented on #1821
yes please.. :)

[2020-08-05 09:58] Rugvip opened #1833 "RFC: Support static configuration of catalog location entries"
## Feature Suggestion

Right now all catalog locations need to be added either in code using a static catalog class, or registered by a user or script in the location database. I'm thinking it would be useful to allow locations to be registered via static configuration as well, to support a couple of different use-cases:

- Seeding the catalog for demo and local dev purposes.
- Configuration of in

[2020-08-05 09:59] Rugvip commented on #1824
Created https://github.com/spotify/backstage/issues/1833 as a suggestion for covering this and a couple of other use-cases.

[2020-08-05 10:37] freben commented on #1833
Definitely, thanks for making this!

[2020-08-05 11:40] #1766 closed

[2020-08-05 12:41] harshilparmar commented on #1808
@Rugvip Can I try this?

[2020-08-05 13:26] Rugvip commented on #1808
@harshilparmar Sure, thanks!

[2020-08-05 16:13] dnilasor commented on #631
Hey, is this still active? AirBnb and others on the Spinnaker UX SIGs have been working in some frontend projects for Spinnaker that sound related. Would love to have you/Spotify in on a groupthink about what we can build for OSS as a baseline. Also are you familiar with the Spinnaker plugin framework?

[2020-08-05 17:43] althafh commented on #1833
I might be misunderstanding some terminology but would we also consider doing the same for the catalog entity definitions as well. This would allow teams to have more customization on entity types in the catalog.

[2020-08-05 17:59] freben commented on #1833
For example as json-schema definitions?

You can also add more entity types as part of your backend initialization step (without modifying the catalog-backend plugin source)

[2020-08-05 18:03] althafh commented on #1833
even as code. Oh is there any documentation on how to add entity types during backend initialization. Right now I've been modifying the catalog-backend plugin source to essentially try implementing a mini version of the GroupEntity as per the discussion in #1401
But I realized that there might be items that I would like in the spec which might not necessarily liked by others and that's how this id

[2020-08-05 18:25] harshilparmar commented on #1808
@Rugvip Thanks !! Can you elaborate more on this? I didn't get that clear idea about this.

[2020-08-05 18:39] freben commented on #1833
Not at my computer right now, but if you check the implementations of the constructors etc referenced from [here](https://github.com/spotify/backstage/blob/master/packages/backend/src/plugins/catalog.ts), you'll see that some of them take defaults that can be replaced.

I'll want to make that wiring setup more clear in the future, but for now you'll have to unwind it all a bit and inject your own

[2020-08-05 18:41] freben commented on #1833
For example [here](https://github.com/spotify/backstage/blob/master/plugins/catalog-backend/src/ingestion/LocationReaders.ts#L76) is a point where you can add your own list of processors.

[2020-08-05 18:46] timja commented on #1808
@harshilparmar

My 2 cents on this:

I think it needs a new plugin, either 'github' or 'github-metrics' something like that.

It should use the GitHub API to show the number of open pull requests, possibly depending on the UI it could also show 'closed' and 'merged' PRs too.

To know the GitHub repo you will need a new annotation on the component and probably rename the annotation that the github

[2020-08-05 18:52] harshilparmar commented on #1808
@timja Thanks you so much!! I will let you know 👍

[2020-08-05 20:55] taras opened #1839 "Consider using Changesets for versioning and generating CHANGELOG"
## Context

I came across this project recently while researching developer portals for a large platform project. I've been reading your RFCs and digging into the architecture. We're now planning a spike to see how it'll fit our use case. One of our considerations is whether your roadmap aligns with ours. We would love to be able to leverage your plans and contribute to them.

To that end, it woul

[2020-08-06 06:49] stefanalund commented on #1208
@twishasaraiya go for it!

[2020-08-06 09:25] Rugvip commented on #1839
Thank you for this suggestion! Loving especially the idea of #**3**. We do indeed have #**4** in place already.

As this is a pretty long-term decision we want to have a look at some alternatives as well, but it's definitely something we've been wanting to add and this looks like a good option.

We currently keep the versions of all packages in the repo in sync. I don't think we'll want to do that

[2020-08-06 09:45] Rugvip opened #1842 "Popup window auth broken by CSP policy"
## Expected Behavior

Auth flow should complete successfully

## Current Behavior

The popup window stays open after the approving the sign-in request. The following error is visible in the console:

## Possible Solution

This is likely due to new CSP policies shipped by default in the new version of Helmet: https://github.com/spotify/backstage/pull/1830

We should be able to work around it by all

[2020-08-06 09:53] Rugvip opened #1843 "Include more plugins in the create-app template"
## Feature Suggestion

Right now the app you get when using `@backstage/create-app` is just a barebones example app with some info on how to get started. At this point I think it makes more sense to include some of the core plugins, like `@backstage/catalog`, `@backstage/scaffolder`, `@backstage/techdocs`, etc.

## Possible Implementation

Plugins are installed as dependencies and wired up in the

[2020-08-06 10:34] ayshiff commented on #1843
Can I grab this one @Rugvip ?

[2020-08-06 11:08] Rugvip commented on #1843
@ayshiff sure! Thanks again! :grin:

I think we can start with the catalog and scaffolder plugins and then go from there?

[2020-08-06 11:23] stefanalund commented on #1843
Thanks, this is much needed and appreciated.

[2020-08-06 11:48] ayshiff commented on #1843
Yes, sure ! 👍

[2020-08-06 12:51] benjdlambert opened #1846 "Implement the Union Type for the Spec of each Entity"
## Feature Suggestion
- Right now there is no spec field for the Entities in the catlog

## Possible Implementation
- Implement a `spec` field which will allow querying of the different fields for each different `kind`

[2020-08-06 12:51] freben opened #1847 "RFC: Backend Service Discovery"
# Background

Backend plugins (including the proxy and graphql plugins) that supply different pieces of functionality in the Backstage ecosystem need to communicate amongst each other. When they are deployed separately, they need to be able to locate the API endpoints of other plugins and services, in order to make requests to them.

Examples:

- The payload of a scaffolder request may contain the

[2020-08-06 12:55] benjdlambert commented on #1847
My concern with adding the path into the returned value is something thats not really supported many service discovery methods, it's normally just a hostname. Do we think this might become a problem when trying to integrate with things like k8s or consul?

[2020-08-06 12:56] benjdlambert commented on #1847
It feels to me like the dns part should take care of resolving where the proxy lives, and if we want to put these services behind the proxy that's a different concern? If that makes sense?

[2020-08-06 12:57] benjdlambert commented on #1847
Maybe all this is a non-issue, but just bringing it up as i've not really seen service discovery done with the path appended and taking into account the proxy aspect

[2020-08-06 13:11] #1821 closed

[2020-08-06 13:31] freben commented on #1847
@benjdlambert updated to return `URL[]` instead of `string[]`

[2020-08-06 14:31] taras commented on #1839
They have a mechanism called [Linked Packages](https://github.com/atlassian/changesets/blob/master/docs/linked-packages.md) that allows to declare which packages have to versioned together in the config file. You can do lock step versioning by making all packages linked.

We used similar approach on a few projects but found it lacking with monorepoes. If your PR introduces changes to more than 1 p

[2020-08-06 14:54] Rugvip commented on #1435
This is somewhat dependant on https://github.com/spotify/backstage/issues/1847, as we'll need to be calling out to the auth backend to verify tokens.

[2020-08-06 15:42] Rugvip commented on #1847
Regarding the path concern we likely wouldn't plug existing service discovery mechanisms straight into this API. Just thinking something like

[code]

A separate thing that could be good to work into the low-level contract for service discovery would be observability. I'm in no way sold on that idea though, as there are many other ways to solve that and adds a bit of complexity. It may be that it'

[2020-08-06 15:51] swiftdiaries opened #1850 "[Plugin] Kubeflow Plugins Uber Issue"
## Summary

This is an uber issue to track Kubeflow related plugins. Whether this becomes a part of or replaces the centraldashboard is something we haven't decided on. But there's a lot of value in having Kubeflow specific plugins with Backstage.

## Project website (if applicable)

www.kubeflow.org

## Context

Following up on a brief conversation with @stefanalund in the Kubeflow GitHub
https:/

[2020-08-06 15:52] swiftdiaries commented on #1850
Laundry list of potential plugins (more to be added):

- [ ] Notebooks plugin
- [ ] Tensorboard plugin
- [ ] KFServing scaffolder for serverless ML inference

[2020-08-06 15:58] swiftdiaries opened #1851 "[Plugin] KFServing scaffolder"
## Summary

KFServing scaffolder for serverless ML inference.

## Project website (if applicable)
www.kubeflow.org

## Context

https://github.com/spotify/backstage/issues/1850

[2020-08-06 16:03] Rugvip commented on #1847
Another option is to step this down a level and only consider consider making consumptions inside plugins very simple, and not really leaving any work left to do for plugins themselves. Basically just returning the `baseUrl` for the plugin you're requesting. Something like this:

[code]

Where the returned string is the base HTTP URL to use for communicating with the plugin. It is then up to the
r

[2020-08-06 16:52] Rugvip opened #1853 "Catalog: support mapping of allowed entity kinds per location type"
## Feature Suggestion

Add support for limiting the allowed location types for each kind of entity. A configuration could look something like this:

[code]

We'd also probably want to allow exceptions for some targets, maybe something like

[code]

## Possible Implementation

Most likely implemented as a Processor in the catalog, preferable as a standalone thing that doesn't depend on other proces

[2020-08-06 17:17] jessebye opened #1854 "[Plugin] Buildkite"
## Summary

Show a list of builds in Buildkite and allow users to drill down to get more information.

## Project website (if applicable)

https://buildkite.com/docs/apis/webhooks

## Context

A CI view is one of the essential and most used plugins inside Spotify. As an example, our CI environment adds deep links into Backstage in the Pull Request view(s) in GitHub. From there engineers can drill

[2020-08-07 07:49] Nek commented on #1472
Decide on how entities reference the build project https://github.com/spotify/backstage/issues/1524

[2020-08-07 07:50] Nek opened #1858 "Github Actions: logs visualization"
The Github Actions plugin should be able to show logs for a specific workflow run.

[2020-08-07 07:51] Nek commented on #1472
Visualize logs https://github.com/spotify/backstage/issues/1858

[2020-08-07 08:05] Nek opened #1859 "GitHub Actions: provide a context with an entity to the plugin"
A quote from Discord.

it's requesting this url:
https://api.github.com/repos///actions/runs?per_page=5&page=1
without the action repository
I hacked it with this:
[code]

but not sure how it's supposed to know which entity is in use
maybe a widget needs adding to the entity page
the docs just say to go to the github-actions page
but there's no context there

[2020-08-07 08:05] Nek commented on #1472
GitHub Actions: provide a context with an entity to the plugin #1859

[2020-08-07 09:03] #1252 closed

[2020-08-07 10:13] freben commented on #1807
Hi! Just to loop back real quick,

The current login methods are sort of focused around refreshable tokens. You can definitely make a login method as you propose, but there isn't a lot in place to base it off of. You'll be logging in on each full page refresh, most likely. Keep us in the loop and let us know if and how we can help out.

Another point is that the logged-in identity isn't used for v

[2020-08-07 11:15] freben commented on #1853
If I interpret the above correctly, it would suffice to whitelist only for example Component from any source. Then User and Group would be added only through a config based route, which never has any restrictions on it (because it's added by infra teams so should not need to pass through these same rulesets). Does that make sense? In a default-deny scenario.

[2020-08-07 11:21] freben commented on #1854
Nice! Is this something you would like to contribute?

[2020-08-07 11:36] Rugvip commented on #1853
@freben I figured it makes sense to do default-allow. Since most entities will be completely fine to allow, and there's less overhead for defining new entities. It does come with the risk of people accidentally removing the User and Group restriction though. If we want to protect against that we could make those a bit special and default to them being completely denied.

Regarding implicit allow f

[2020-08-07 11:40] #1842 closed

[2020-08-07 11:49] freben commented on #1853
or as a full allow/deny chain, that gets iterated from top to bottom looking for matches, and comes preinstalled with only one allow-all or deny-all rule :)

[code]

or whatever

[2020-08-07 11:50] andrewthauer commented on #1839
I cannot comment on `changesets`, but it does look pretty comprehensive. However, I have used the [conventional-changelog[(https://github.com/conventional-changelog/conventional-changelog) packages for a couple of monorepos and have been pretty happy with it. There is tooling for linting commit messages, publishing, tagging, and creating GitHub releases. Once the tooling is setup you can mostly re

[2020-08-07 17:26] jessebye commented on #1854
I think @mikeandersen was considering contributing this 😁

[2020-08-07 19:29] stefanalund commented on #1854
I think you could borrow a lot of stuff from the CircleCI plugin: https://github.com/spotify/backstage/tree/master/plugins/circleci

[2020-08-07 20:52] ynambiar opened #1868 "[Plugin] Implement my own backend plugin"
Hi, I would like to hook up my own backend database to Backstage's frontend UI. From what I can see now, the catalog model is tightly coupled with the existing database model, and I'm not sure how creating a plugin for my backend database would work in the existing framework. Is there documentation that explains how to do this?

Thanks!

[2020-08-07 21:10] freben commented on #1868
Hi! What data is it that you want to present?

[2020-08-07 21:13] ynambiar commented on #1868
I'd like to be able to list and display API specs which the existing backend implementation does really well. I'd just like the ability to use my own backend (e.g. CosmosDB) if that's possible.

[2020-08-07 21:38] freben commented on #1868
OK! I'll unfortunately have to get back to you about this next week, I've left for the day. But let's talk more!

[2020-08-07 21:43] ynambiar commented on #1868
Sounds good, thanks!

[2020-08-08 09:46] stefanalund commented on #1851
Do you think this would be possible to realise using our recently announced Software Templates feature?

https://backstage.io/blog/2020/08/05/announcing-backstage-software-templates

[2020-08-08 10:10] swiftdiaries commented on #1851
Yes, I was trying to figure out how to use one and then build a template

Sent from my iPhone

[2020-08-08 11:08] dtuite commented on #1808
We are also working on a GitHub pull requests plugin [over here](https://github.com/RoadieHQ/backstage/pull/7). It's fairly basic so far but improving rapidly.

<img width="1025" alt="Screenshot 2020-08-08 at 12 03 25" src="https://user-images.githubusercontent.com/562403/89708466-60fcd100-d96f-11ea-8311-6896e0c98a2a.png">

We will include a pull requests count widget as a feature. If everything s

[2020-08-08 11:22] timja commented on #1808
PR open / closed / merge

Also not sure how do-able it would be but:

* average length of time a PR is open for
* average size of PR

Basically some of the stats from pullreminders

![image](https://user-images.githubusercontent.com/21194782/89708769-da95be80-d971-11ea-99d6-c5b1f146ee22.png)

[2020-08-08 17:56] angeliski opened #1874 "[plugin-scaffolder-backend] breaks on try generate in a new project"
When a new project is created using the `@backstage/create-app`, the scaffolder functionality isn't working.
## Expected Behavior
The scaffolder should run without errors

## Current Behavior
The process is interrupted by a error in console.
![winstom-error](https://user-images.githubusercontent.com/1574240/89716695-93192d80-d985-11ea-9709-cc2f407effd4.png)

## Possible Solution
A possible solutio

[2020-08-08 18:36] timwheelercom commented on #824
@palmerj3 I've put up a PR for a basic New Relic plugin implementation that will display New Relic APM data: https://github.com/spotify/backstage/pull/1875

[2020-08-09 08:25] #1874 closed

[2020-08-09 08:26] Rugvip commented on #1874
Thank you for the report! Created #1879 to avoid regression.

[2020-08-09 17:49] stefanalund commented on #1843
@Rugvip @ayshiff I've checked the boxes for which plugins I think should be available. Thanks for taking this on 🎯

[2020-08-09 19:31] angeliski opened #1881 "[plugin-scaffolder-backend] Problems on try generate in a new project"
When a new project is created using the `@backstage/create-app`, the scaffolder functionality isn't working.
After fix the #1874 I got some errors on try that flow:
- [P1] If I try use a user account (and not a org) the process break on get info
- [P2] When a setup a new project using a org, the process break on try init the git repo (permission denied)

## Expected Behavior
The scaffolder should

[2020-08-09 19:52] angeliski commented on #1881
The problem [P1] was mapped [here](https://github.com/spotify/backstage/blob/master/plugins/scaffolder/src/api.ts#L55),so I believe could be ignored :smile:

[2020-08-09 23:33] andrewthauer opened #1882 "[RFC] Shared database helpers & config"
The database code in the `backend-example` is currently a bit verbose. I created some code in an example backstage app that could be potentially useful in backstage core.

## Feature Suggestion

- Shared database connection code that could be added to `@backstage/backend-common`
- Support for `postgres` database uri connection strings (e.g. `postgresql://postgres@localhost:5432/dbname`)
- Database

[2020-08-10 08:21] stefanalund commented on #1824
This PR takes a different route but addresses the same problem https://github.com/spotify/backstage/pull/1883.

[2020-08-10 09:02] dtuite opened #1889 "Better tabs implementation for entity page"
We are working on a [GitHub Pull Requests plugin](https://github.com/RoadieHQ/backstage/pull/7) which will have a list of pull requests for each entity, and a "top level stats" widget for each entity ([as suggested here](https://github.com/spotify/backstage/issues/1808)).

The widget can on the [entity overview page](https://backstage-demo.roadie.io/catalog/Component/sample-service/), but the list

[2020-08-10 09:03] dtuite commented on #1889
/cc @tomek-ifm

@stefanalund assign this to me if you'd like.

[2020-08-10 09:12] hooloovooo commented on #1889
Just a heads up. There is a implementation of working tabs on the entity page in this PR. https://github.com/spotify/backstage/pull/1835
It's not ideal, but might be of interest if you're planning on doing a proper implementation.

[2020-08-10 09:13] dtuite commented on #1889
Thanks @hooloovooo . I missed that PR.

What is not ideal about the implementation in that PR? How can we help out?

[2020-08-10 09:22] hooloovooo commented on #1889
@dtuite The main issue is that there's no solution there for checking if a plugin is installed or not. I think this is meant to be handled by the upcoming widgets, but for now it doesn't handle for example a backstage setup where TechDocs is missing very well. It could be possible to make a more robust solution until widgets are in place.

[2020-08-10 09:40] Rugvip commented on #1889
As everything else, blocked by https://github.com/spotify/backstage/issues/1536 :p

[2020-08-10 09:50] stefanalund commented on #941
Is this ticket still relevant?

[2020-08-10 09:54] stefanalund commented on #1776
Can this be closed? Looks like #1816 took care of it.

[2020-08-10 09:54] YToutah993 opened #1891 "Support "SAML" and/or "OpenID Connect" with OKTA Integration"
## Feature Suggestion

While I was trying to onBoard Backstage to our OKTA platform, I was asked to provide the protocol/method .. and I have only 2 options; either `SAML` or `OpenID Connect`. So, it would be nice to consider these options (especially the `SAML` one).

[2020-08-10 09:54] stefanalund commented on #1775
@GoWind @Rugvip is this done?

[2020-08-10 09:55] dtuite commented on #1889
Got it. The work in https://github.com/spotify/backstage/pull/1835 is enough for our needs right now. It will allow us to create some tabs and put content on them.

@stefanalund feel free to close this if large tabs improvements are tracked elsewhere.

@hooloovooo is mob/techdocs-improvements planned to be merged into master any time soon? It would be great if we could make use of those tabs.

[2020-08-10 09:56] stefanalund commented on #1702
@benjdlambert should this be closed?

[2020-08-10 09:57] stefanalund commented on #1670
@timurista is this still an issue?

[2020-08-10 09:57] Rugvip commented on #1012
Current implementation is now documented at https://github.com/spotify/backstage/blob/master/docs/conf/index.md

It implements pretty much all of this and a bit more, except for the scoped configuration. I'm a bit torn whether it's something we want or not. Right now the pattern is to use top-level keys like `catalog` or `auth` instead of `plugins.catalog`, `plugins.auth`. I think the original sug

[2020-08-10 09:57] Rugvip commented on #1776
Yep!

[2020-08-10 09:57] #1776 closed

[2020-08-10 09:58] benjdlambert commented on #1702
@stefanalund good question - not sure if we should close it when it's actually done? The work isn't complete yet. We are creating the tickets for work on this at the next architecture meeting.

[2020-08-10 09:58] Rugvip commented on #1775
Yep! Fixed by #1812

[2020-08-10 09:58] #1775 closed

[2020-08-10 09:58] benjdlambert commented on #1702
maybe we close it after we've made tickets to implement it

[2020-08-10 09:59] stefanalund commented on #1622
Closing for now. @anshika-cs please reopen the issue if you still have problems with this.

[2020-08-10 09:59] #1622 closed

[2020-08-10 10:00] stefanalund commented on #1566
@ari-hacks any update? Thanks

[2020-08-10 10:00] stefanalund commented on #1555
This was fixed in #1562.

[2020-08-10 10:00] #1555 closed

[2020-08-10 10:02] Rugvip commented on #1013
Even though it's a bit different, https://github.com/spotify/backstage/pull/1890 is somewhat related to this

[2020-08-10 10:03] stefanalund commented on #1499
I think this is the way to go for the initial version of search.

[2020-08-10 10:07] stefanalund commented on #1439
@daviddyball we have now announced the first version of Software Templates in Backstage:

https://backstage.io/blog/2020/08/05/announcing-backstage-software-templates

Since this ticket is pretty generic I would appreciate if we either a) closed it or b) repurposed it to describe improvements we would like to see for a Beta release of Software Templates.

[2020-08-10 10:09] stefanalund commented on #1293
I think this would be creating too much confusion.

[2020-08-10 10:09] #1293 closed

[2020-08-10 10:10] stefanalund commented on #1235
Duplicate of #1499

[2020-08-10 10:10] #1235 closed

[2020-08-10 10:11] stefanalund commented on #1232
@katz95 what is the status of this? Has it been fixed?

[2020-08-10 10:12] #1229 closed

[2020-08-10 10:14] stefanalund commented on #1204
@hpbonfim is this something you would be open to helping out with?

[2020-08-10 10:16] #787 closed

[2020-08-10 10:18] stefanalund commented on #726
Done!

[2020-08-10 10:18] #726 closed

[2020-08-10 10:19] stefanalund commented on #687
@garyniemen @emmaindal time to close this one?

[2020-08-10 10:20] stefanalund commented on #674
@dtuite you are working on this, correct?

[2020-08-10 10:20] stefanalund commented on #626
Fixed in #1612

[2020-08-10 10:21] stefanalund commented on #616
Tracked in #418

[2020-08-10 10:21] #616 closed

[2020-08-10 10:22] stefanalund commented on #415
@Rugvip still relevant?

[2020-08-10 10:23] stefanalund commented on #393
@katz95 should this still be open?

[2020-08-10 10:24] dtuite commented on #1882
The only thing I would add, (and this is probably off topic - 😄 ), is that I would love to see SSL verification support.

I've hacked my own like this

[code]

IMO, the config names should be camelCased too.

[2020-08-10 10:24] Rugvip commented on #415
Yes 😅

[2020-08-10 10:28] dtuite commented on #674
Yes. Code is here: https://github.com/RoadieHQ/backstage-plugin-travis-ci It installs into Backstage just like any other plugin.

[Here is a live demo.](https://backstage-demo.roadie.io/travis-ci)

![Screenshot 2020-08-09 at 20 18 43](https://user-images.githubusercontent.com/562403/89773801-866b1580-dafc-11ea-819a-bf138b325f93.png)

[2020-08-10 10:40] dtuite commented on #1012
@Rugvip  Here's how I'm doing config for a Helm driven kubernetes deployment of Backstage. A real world example might help drive decision making.

I have a vanilla `app-config.yaml` except for two properties I added: `backend.lighthouseHostname` and `backend.gitopsHostname`. [source](https://github.com/RoadieHQ/backstage/blob/kubernetes-demo/app-config.yaml)

I have hacked in SSL verification supp

[2020-08-10 10:42] #794 closed

[2020-08-10 10:42] andrewthauer commented on #1013
@Rugvip - I'm good closing this and re-opening if needed. As I was following the progression of the catalog. I think using conventions alone won't allow us to take full advantage of various features. So will most likely go with a `yaml` file approach anyways. There also seems to be a enough hooks in the API to accomplish various approaches as well if needed.

[2020-08-10 10:42] #1013 closed

[2020-08-10 10:43] soapraj commented on #794
We have a generic oauth provider implementation in the auth backend and hence closing this issue.

[2020-08-10 10:59] andrewthauer commented on #1882
It might also be worth considering nesting the database config under an actual `database` key:

[code]

As an added bonus, this should make it easier to re-use settings with yaml anchors if desired.

[2020-08-10 11:11] hooloovooo commented on #1889
@dtuite I hope it'll be merged soon. We have a few issues left to resolve, but i would expect it to be merged in the next few days.

[2020-08-10 11:11] dtuite commented on #674
@stefanalund Corresponding PR: https://github.com/spotify/backstage/pull/1892

[2020-08-10 11:24] andrewthauer commented on #1598
#1882 seems somewhat relevant to this as well.

[2020-08-10 11:36] katz95 commented on #1232
can we use 2-color gradients in the background like this and have one color gradients for the waves? let me know! @Rugvip @benjaminr
![Colors](https://user-images.githubusercontent.com/61153904/89778841-79efb880-db0e-11ea-9996-c491d4bf0876.png)
![Colors](https://user-images.githubusercontent.com/61153904/89778756-54fb4580-db0e-11ea-8f35-c3a463370ad7.png)

[2020-08-10 11:54] stefanalund commented on #1702
@benjdlambert would this be needed to support GitHub Enterprise? If so I think this is highly relevant.

[2020-08-10 12:37] katz95 commented on #1577
@varenaggarwal hi! just checking in on this one - were you able to submit a PR?

[2020-08-10 12:41] freben commented on #1882
I like the idea of a dedicated `database` root key, that a dedicated common function can consume and parse to emit a Knex config.

The one complication that I can see is if we don't cleanly permit varying types on config values. That is, for a one-to-one mapping to Knex, the config key `database.connection` would need to be able to be both a string and a complex object.

[code]

vs

[code]

[2020-08-10 13:25] andrewthauer commented on #1882
@freben - One downside from taking the `connection` config directly is you can't modify things like the actual database. In my [example code](https://github.com/andrewthauer/backstage-example/pull/1/files#diff-281536d0797fddcdb23b7023eb95925dR12), I am parsing the uri and able to swap out the database name for each plugin. I also didn't realize `knex` supported passing the `uri` as a string to `co

[2020-08-10 13:31] benjdlambert commented on #1881
Hey @angeliski!

Thanks for trying out the new Software Templates! 💯

Yep, you're 100% correct, right now, it only supports organisations in github, I think that the issue that you're having right now is because the `GITHUB_ACCESS_TOKEN` environment variable doesn't have the right access to either create repositories in the Organisation, or push commits to it.

We're looking at changing the whole

[2020-08-10 13:36] benjdlambert commented on #1851
@swiftdiaries I'd love to try and get this working with what we've built with software templates. Are you on Discord? If you could reach out to me `@blam` and we can work together to see how we can do it! 👍

[2020-08-10 13:58] angeliski commented on #1881
Hey @benjdlambert

The Software Templates feature is really amazing. I just created an org to test in my local environment.
But the docker issue [P2] is really tricky, I didn't find a way to fix that

Could you see if your team has any idea about that?
I can work to implement the solution if you can provide a path for this

Thank you for the great work

[2020-08-10 14:48] garyniemen commented on #687
Not quite. But soon. Our [v1 milestone](https://github.com/spotify/backstage/milestone/16) is an alpha version of TechDocs that works end-to-end. We have set a due date of 28 August.

[2020-08-10 16:09] timurista commented on #1670
Still fails with this:
```Failed to restore package.json during postpack, Error: ENOENT: no such file or directory, stat 'package.json-prepack'. Your package will be fine but you may have ended up with some garbage in the repo.```
but docker steps build correctly.

Also get this warning:
[code]
but overall seems to work. Think you can close

[2020-08-10 16:20] benjdlambert commented on #1881
@angeliski ah ok, so you mean that it creates files as root user?

What's your use case? Are you trying to modify the files after docker has done it's stuff?

I think there's a maybe simple fix, just need to know what you're trying to do to see if it's going to help.

We should perhaps get the docker container to write files using your `USERID` and `GROUPID` which would make them modifiable. I'm j

[2020-08-10 16:38] angeliski commented on #1881
@benjdlambert When the files are created as the root user, the flow (on git init) breaks.
Something like that ![](https://user-images.githubusercontent.com/1574240/89739780-ce852c00-da59-11ea-8ef4-a023ef958eba.png)

The problem is, after create the template project, the backstage couldn't push to the remote

Make sense?

[2020-08-10 16:44] benjdlambert commented on #1881
@angeliski ah now I see what the issue is, seems like docker on Linux behaves a little different to what we've been running on. Give me 20 mins and i think I can have a fix for you to try locally and we can do a release as quick as possible if it works

[2020-08-10 16:59] benjdlambert commented on #1881
@angeliski are you on discord? Might be better to sync up and work through fixing this. Reach out to me, `@blam`

[2020-08-10 19:24] freben commented on #1882
Right, maybe it can be broken apart into separate helper functions, so you can get out a uri (built from parts if the config actually was an object) or an object (parsed out of a uri if that's what the config was) etc. Or, have a single call but it can accept an overrides object parameter.

I guess then you are at a level where you know your own config and what you want to do with it, rather than

[2020-08-10 20:01] #1881 closed

[2020-08-11 09:07] dtuite commented on #1808
Things are progressing. Pagination, search etc. all works now. The next thing up will be filtering.

Once this PR is merged we will move the widgets to the tabs on the Entity overview page so you can look up pull requests for a specific service in the catalog.

<img width="1616" alt="github pull requests" src="https://user-images.githubusercontent.com/562403/89878917-1cb14100-dbba-11ea-8cf4-e21fbf

[2020-08-11 09:11] timja commented on #1808
merged vs closed, but I'm not sure if it's too valuable

[2020-08-11 09:59] harshilparmar commented on #1808
@timja If  @dtuite working on this issue,I will take another issue.Is it ok?

[2020-08-11 13:41] shmidt-i opened #1909 "Bringing docs to the Backstage.io"
## Plan
- [x] Move microsite to monorepo
- [x] Move structure from docs/README.md into sidebars.json and adjust headers in corresponding `.md` files
[code]
[code]

  - [x] Adjust Github Actions
  - [ ] Adjust DNS records for backstage.io

[2020-08-11 16:23] ynambiar commented on #1868
Hey @freben, any information on how I can do this?

[2020-08-11 17:46] benjdlambert commented on #1439
@stefanalund I'm working with @daviddyball through discord, he's on vacation right now, but we're going to pick it up when he's back. I think we can go ahead and close this ticket, as any new requirements can be added as feature requests rather than having this ticket around.

[2020-08-11 17:55] stefanalund commented on #1439
Makes sense. Thanks both!

[2020-08-11 17:55] #1439 closed

[2020-08-11 19:21] hooloovooo opened #1911 "Browse documentation metadata from backstage"

[2020-08-11 19:22] hooloovooo opened #1912 "Categorize documentation metadata and provide interfaces for generating it"

[2020-08-11 22:36] angeliski commented on #1843
Hey @stefanalund

What do you think about making the create-app ask about which plugins I would like to use?
Something like the [vue-cli](https://cli.vuejs.org/guide/creating-a-project.html#vue-create) does.
![vue-create](https://user-images.githubusercontent.com/1574240/89955384-49d91000-dc09-11ea-9f16-1806bdbd0838.png)

Would be nice remove sentry and add rollbar in runtime

Do you need any help

[2020-08-12 00:05] #1539 closed

[2020-08-12 00:12] benjdlambert opened #1913 "BitBucket Source for Catalog Entities"
## Feature Suggestion
- Need to be able to read things from a bitbucket source like we do with github files in the catalog

## Possible Implementation
https://github.com/spotify/backstage/pull/1560
https://github.com/spotify/backstage/pull/1721

Are references to other readers in the catalog

[2020-08-12 07:29] Rugvip opened #1916 "Add documentation model and/or tooling of tracking API Stability and versioning"
## Feature Suggestion

We're still in alpha, but some APIs and patterns are much more stable than others. I think we should introduce patterns and/or tooling for documenting API stability, so that users of Backstage know where to be a bit more careful and expect breaking changes.

In addition we likely want to introduce tooling for keeping track of our exported TypeScript types, and be informed wh

[2020-08-12 08:24] Rugvip commented on #1843
Let's do this in a couple of iterations, starting with only the catalog and scaffolder plugins, and required dependencies of those. Getting this in well help people using `create-app` a lot, so better to get initial minimal implementation merged and then improve on that.

@angeliski Regarding plugin selection, we're definitely heading towards that, but it's really tricky to implement on top of som

[2020-08-12 09:15] freben commented on #1889
@dtuite Would you like to close this and make new issues for additions needed on top of #1835 after it is merged, or would you prefer leaving this open for a bit longer to track it here? I'm fine with either. I don't think we have another issue yet specifically for the tabs; rather, several concepts are bunched together under #1536, and specifics like the ones you mention can be useful to track on

[2020-08-12 09:21] dtuite commented on #1889
@freben I have no desire to leave this open. Close it if you wish. The only reason I'm not closing it myself is because I noticed @stefanalund added it to a milestone so there may be some reason he wants it around.

[2020-08-12 10:20] angeliski commented on #1843
Make sense to me @Rugvip is leaner and fast for feedback

[2020-08-12 10:36] stefanalund commented on #1889
Removed from the Milestone now.

[2020-08-12 10:36] #1889 closed

[2020-08-12 11:00] andrewthauer commented on #1882
@freben - I have the draft PR #1915 up, which could currently be used in some of the following ways:

[code]

However, I'm wondering if this is more what your after?

[code]

The caveat is the override object is highly dependent on the client type, so passing through directly and overriding could cause issues. I suppose `knex` will hopefully throw an error right away so it's clear to the problem.

[2020-08-12 11:02] freben commented on #1868
Sorry, I have been swamped recently.

You say that the current backend implementation displays API specs, would you mind elaborating on what that means? I am a bit unclear on what you have and where you want to go with it.

However, you also say that you want to back it with CosmosDB. The backend plugins that come out of the box are written using [Knex](http://knexjs.org/). It does not list Cosmos

[2020-08-12 12:24] carlsendk commented on #290
@Rugvip i have seen other Opensource to implement https://github.com/dexidp/dex to handle different providers. What is the use case for this? we are using AWS

[2020-08-12 12:57] #1833 closed

[2020-08-12 13:32] ynambiar commented on #1868
Thanks!

I mentioned CosmosDB as an example of a backend datastore, but I think my real question is around having Backstage call into our backend API instead of calling into the catalog-backend plugin and following the processor/yaml model that's currently defined. And like you mentioned, I think I could definitely create a new plugin to do this - was just curious if there's documentation or list

[2020-08-12 14:10] stefanalund commented on #673
Closed in https://github.com/spotify/backstage/pull/1802 🎉🎉🎉🎉🎉🎉🎉🎉

Thanks @timja and @dtuite 👏

[2020-08-12 14:10] #673 closed

[2020-08-12 14:32] freben commented on #1868
Ah - yes you may replace the entire catalog backend implementation even though it's not a recommended path at this point - you can make the frontend plugin make requests to [a different endpoint]https://github.com/spotify/backstage/blob/master/packages/app/src/apis.ts#L157), including one that you happen to [be proxying](https://github.com/spotify/backstage/blob/master/app-config.yaml#L13) to your

[2020-08-12 14:33] freben commented on #1868
Can you describe your existing catalog a bit? Is it written entirely in-house or is it a product of some sort?

[2020-08-12 15:05] Rugvip commented on #290
@carlsendk Afaik `dex` is for the use-case of being an OIDC provider. We actually have ended up implementing something similar in the auth-backend as a PoC, where we issue out own Backstage Identity Tokens. It's a slightly different use-case though and I'm not sure it's a good idea to handle bridging of other services using that. We did look at `dex` early on but ended up not considering when we a

[2020-08-12 15:11] stefanalund commented on #1868
I may be wrong but they way I understand the question, you don’t really want to replace the catalog but just call out to a backend that exposes and API for your plugin?

If that’s correct then there is not reason to go through the catalog at all.

[2020-08-12 16:15] benjdlambert commented on #1702
I think it would help, would make it easier at least

[2020-08-12 16:15] benjdlambert commented on #1702
I will create some tickets and put them until scaffolder beta

[2020-08-12 20:46] ari-hacks commented on #1566
Hey @stefanalund , I'm not sure how to reproduce this one. I get a missing configuration message. Are there some docs around reproducing this in dev?

[2020-08-13 03:30] andrewthauer opened #1937 "Migration fails on 'add_bootstrap_location' for postgres"
I started seeing the following error when trying to run the backend on the latest code:
[code]

It seems related to #1890, however, I thought postgres migrations were run in CI now, so not sure how this crept through.

[2020-08-13 07:25] Rugvip commented on #1937
Yep, the bug is fixed by #1935, but I'll do a proper fix of the actual issue of tests not being run for that code :grin:

[2020-08-13 07:45] #1937 closed

[2020-08-13 10:08] freben commented on #1882
My thinking goes something like this:

* Overrides are an optional feature, and one that may be used by a smaller number of people (don't have anything to back this statement up, it's frankly mostly gut feel :))
* The default should be sane and simple - basically, a raw passthrough of what's in the config directly to knex should be the "common path"

In the case that overrides ARE present, the poi

[2020-08-13 10:23] freben commented on #1882
@timja may want to pitch in too ^

[2020-08-13 11:02] andrewthauer commented on #1882
@freben - Yes, I'm in complete agreement. #1915 mostly follows this line of thinking now. I've tried to keep these as small building blocks, but I think there is still some room for improvement.

The common cases I see for overriding seem to be:

- swapping the database name for separate plugin databases
- SSL - injecting the contents of a certificate that needs to be read in from a file (since a

[2020-08-13 11:11] Rugvip commented on #1882
@andrewthauer Regarding reading certificate files, I think we should be able to rely on file secrets for that: https://github.com/spotify/backstage/blob/master/docs/conf/writing.md#file-secrets. That leaves it open for other ways of bringing in certificates too

[2020-08-13 11:27] Fox32 commented on #627
Now that #1737 is (nearly) merged, here is what we identified as open topics:
* How dependencies from component to API are modeled (own entity or as part of the component?)
* Modeling consumes relationships
* From the [full model, Systems can expose](https://github.com/spotify/backstage/blob/master/docs/features/software-catalog/system-model.md#concepts) APIs, is this an implicit or an explicit re

[2020-08-13 11:30] andrewthauer commented on #1882
Agreed. This would work nicely out of the box for non connection string based database configs.

[2020-08-13 11:47] freben commented on #1882
And I don't at all mind bringing in the connection string parser lib dependency if that's usable. And that would mean that the only time that it was ever invoked, was if (1) it's a pg connection string, and (2) overrides were specified, correct?

[2020-08-13 11:48] freben commented on #1882
I think it can still be all exposed as a single function, to answer your first point.

[2020-08-13 12:03] freben commented on #627
Regarding ingestion, I wonder if there's a story to be had about referencing into other systems, that are specialised for ingestion and versioning and analysis and field searching etc of APIs. Then the question becomes, does a Component entity reference into that somehow, or does an API entity do that? Does the API entity somehow mirror that actual contract data as well or not?

[2020-08-13 13:35] #674 closed

[2020-08-13 14:08] freben opened #1947 "[RFC] Uniform Entity Refs"
# Background

A [catalog entity](https://github.com/spotify/backstage/blob/master/docs/features/software-catalog/descriptor-format.md) is uniquely identified by the triplet `kind`, `metadata.name` and `metadata.namespace`, where the namespace is optional and implicitly `"default"` when not given.

The need to address a certain entity comes up in several places, without a clear standard on how it's

[2020-08-13 15:22] Rugvip commented on #1947
Haven't thought this through a lot, but another possible delimiter to use is `.`, since it can be used as is in URLs. Not sure how smart it is tho xP

[2020-08-13 15:32] shmidt-i commented on #1909
Fixed by 1908

[2020-08-13 15:32] #1909 closed

[2020-08-13 15:55] dhenneke commented on #1947
In regard of a field such as `implementApis`, do you think that the contents would always be referenced in the full `<kind>:<namespace>:<name>` model although this field only allows kind=API? We are also thinking about the system model and the not yet existing Domains and Systems, and there will often be the case that target relationships are limited to certain kinds.

[2020-08-13 16:31] Rugvip commented on #1947
@dhenneke There's an upcoming RFC where we can discuss that, just haven't gotten around to writing it yet :grin:

Hopefully shows up today or tomorrow.

[2020-08-13 16:48] freben commented on #1947
That's one place where I'm pretty sure it can be just the name. But it's open for discussion! If we ended up having to reference APIs in a different namespace, it wouldn't suffice.

[2020-08-13 16:50] freben commented on #1947
@Rugvip yeah colon is "reserved" although not declared unsafe. One safe char is tilde `~` - a bit odd tho

[2020-08-13 17:05] Rugvip commented on #1947
Just leaving these here to see what they feel like :grin:

# .

[code]

[code]

[code]

# :

[code]

[code]

[code]

An idea for dealing with double delimiters would be to assume that they are supposed to be filled in first in the middle, and then prefixed. So `a:b` would expand to `a::b`, while `:b` and `b` would expand to `::b`.

With that in mind:

# .

[code]

[code]

# :

[code]

[code]

It's

[2020-08-13 17:11] freben commented on #1947
Just also dropping in here that k8s forces you to specify pluralized kinds too, so that they can form urls such as `/users/freben` (which doesn't address the namespace in and of itself). That's something we could conceivably do too, at a bit of a greater effort.

[2020-08-13 17:13] freben commented on #1947
Looking at internal usage, we have for example tons of pipelines and similar that have dots in their names. Probably no colons though.

[2020-08-13 17:21] freben commented on #1947
Looking at them as paths:

`freben` > implicitly same as `./freben` and `/users/default/freben` (which incidentally would be the frontend URL as well)

Even though they are pathlike, they are treated as plain strings if entered like that in yaml

[code]

Hmm.

[2020-08-13 18:19] carlsendk commented on #290
Cognito have some limitations last time we looked at it on how much you get in the header information. So we had to take another route. But we do have some people who have spent a lot time on this. So if you need more information ask next time your are chatting with the team.

we will at some point have something in backstage that do something in AWS, but first we need to get our okta flow working

[2020-08-13 20:58] Rugvip commented on #284
Fixed by #1410

[2020-08-13 20:58] #284 closed

[2020-08-14 03:01] andrewthauer commented on #1882
I believe everything discussed here in regards to the database connection, ssl, etc. is covered in #1915 now.

[2020-08-14 07:11] Rugvip commented on #1947
@freben yeah `.`'s look a bit shite anyway, happy to not move forward with that idea 😁

Yeah paths could be a way to go, bit tricky to make namespace optional then though?

Using the previous examples:

[code]

[code]

[code]

[2020-08-14 07:28] Rugvip commented on #138
Closing this as work done towards #1012 has become the solution for this. If we want to add individual configuration values I think we should open up separate issues where we can discuss those.

[2020-08-14 07:28] #138 closed

[2020-08-14 07:29] Rugvip commented on #753
I think this can be closed right?

[2020-08-14 07:33] Rugvip commented on #1012
@dtuite You've probably already seen it, but #1915 is gonna be your solution for this :grin:

Please don't abuse `APP_CONFIG_` too much though :p. Another option now is to generate config into `app-config.local.yaml`, and remember that JSON is valid yaml! More info on what's supported for writing configuration here: https://backstage.io/docs/conf/writing/

[2020-08-14 07:44] soapraj commented on #1670
thanks for the update @timurista. I'll close this issue for now.

[2020-08-14 07:44] #1670 closed

[2020-08-14 07:45] soapraj commented on #1557
Once this https://github.com/spotify/backstage/pull/1942 is merged you would not need the mock-data script.

[2020-08-14 07:54] soapraj commented on #1566
Hey @ari-hacks

You can follow the docs [here](https://github.com/spotify/backstage/tree/master/plugins/auth-backend) to set environment vars based on what provider you use. We will update our documentation to make it easier to find this information.

Steps (Assuming you use Google as provider)

- Set environment vars mentioned [here](https://github.com/spotify/backstage/tree/master/plugins/auth-b

[2020-08-14 11:38] kingasieminiak commented on #1232
H! @Rugvip @katz95  Did you think of enabling headers' color modification through the theme (for the app created with CLI)? Once someone adjusts the theme color palette to match their branding, the colors of headers (especially the home one) might not fit perfectly. Of course, there is always a way to not use them, but then there might be an inconsistency between the customized app and open-source

[2020-08-14 11:55] Rugvip commented on #1232
@kingasieminiak yeah that's what I've been aiming for here 😅

[2020-08-14 14:59] MarkZither commented on #833
hi, has any progress been made on this? If not I can have a go, based on the circle ci example and https://www.jetbrains.com/help/teamcity/rest-api.html#General+Usage+Principles it should be ok to do.

[2020-08-14 18:34] Rugvip opened #1964 "[RFC] Entity Relations"
# Entity Relations

This RFC suggests a possible implementation of modeling relations between entities in the software catalog.

## Scope

The scope of this RFC is limited to relations between entities in the software catalog. It does not include modelling of relations to things outside of the catalog, for example DNS names or git repo locations. It also aims to encompass all such relations, such

[2020-08-14 19:51] Fox32 commented on #1964
That is also something we run into in our approach... Both naming the entity instances and the entity types 😉

We (@dhenneke) like that the relationships are easily available at both sides of the implementation. That allows to find them quickly from everywhere, nice idea! The processor system is perfect for that.

We are a bit concerned that having the duplicated data might lead to code that is us

[2020-08-14 19:56] ynambiar commented on #1868
Thanks for the responses!

@freben, since the defined catalog model is a moving target like you said, we'd like to be able to either completely sidestep it or replace it with our own model. I think @stefanalund correctly stated that we just want to be able to make calls to a backend that exposes an API for our plugin...but I don't see how to do that without using the catalog model (which requires

[2020-08-14 20:21] freben commented on #1868
Ok!

So, for starters, a frontend plugin will always be at liberty to do essentially anything it wants. At one extreme end of the scale, you could always make a plugin that has absolutely no relation to the catalog or anything else, but instead just issues `fetch` queries to your existing backend and renders the results. We have a lot of plugins internally that do things like that. You may or may

[2020-08-15 09:28] Rugvip commented on #1964
Yep, my worry as well. I think source fields would have to be removed in the processor that reads them, since that'd be the source of truth of the mapping logic. We could either structure the processing in a way where validation of the source yaml happens before the relationship processing, or we could allow the fields to be marked for deletion so they can be removed later.

Yeah I know it will li

[2020-08-15 09:41] freben commented on #1964
I'm less concerned about leaving the original fields in place, for what it's worth. Skipping the complexity (in code and in explaining the reasons for them disappearing) outweighs potential confusion as I see it.

I think confusion is equally likely to happen regarding not being supposed to write these manually. Could these be part of a larger concept of a "computed status" of the entity? Similar

[2020-08-15 10:31] Rugvip commented on #1964
Not sure about that. Given the suggestion in this RFC it would always be an error for a plugin to read the source field, and at that point it might be best to remove them. The idea is to allow in customization in how relationships are generated. For example you could flip around the `owner` field to be defined in terms of a groups `owns` field  instead, a plugin that then tries to read the `spec.o

[2020-08-15 11:31] freben commented on #1964
I see the original data as holy, reflecting exactly what I took the care to write. I want the storage part of the catalog as such to be as "dumb" as possible. Reading from the source data is fine but you have to understand the implications. It's a matter of documentation that if you want resolved/computed/real-world things, the status is where you go.

I feel that this is not exclusive to these re

[2020-08-15 11:56] Rugvip commented on #1964
@freben Yeh, something in the vein of this, given the example input in the RFC?

[code]

[2020-08-15 12:30] freben commented on #1964
Maybe. I was thinking more in terms of keeping the exact structure we had, but essentially adding a new readonly `status` root key to entities. It would, in turn, have several subkeys with defined semantics.

[2020-08-15 19:44] javaniecampbell commented on #598
@stefanalund this can be assigned to me I am currently working on it as we discussed in discord some time ago I forgot to add the plugin feature did the planning and found the tools that would be needed my day job got me little busy but i dedicating the weekends to backstage dev and exploration

[2020-08-16 03:15] arniraghu opened #1966 "Backend fails to startup with error: TypeError: Argument 0 must be a string"
Happy to provide addl details. Appreciate the help.

This is on a Mac Catalina

[2020-08-16 07:06] stefanalund commented on #598
Thanks @javaniecampbell — looking forward to seeing the result 🚀

[2020-08-16 16:43] javaniecampbell opened #1967 "[Auth] Add Microsoft Authentication"
## Summary

In order to use the azure pipeline api it requires a personal access token which is unique to that user with includes the permissions and access needed for a given project.

The basic steps required to use the OAuth 2.0 authorization code grant flow to get an access token from the Microsoft identity platform endpoint are:

### Steps:

1. Register your app with Azure AD.
2. Get authoriz

[2020-08-16 16:50] javaniecampbell commented on #1967
#1966  May be a blocker any suggestions, I was pointed to these to try and configure in master #1950

#1958 #1915

[2020-08-17 05:58] stefanalund commented on #833
I have assigned you @MarkZither -- thanks!

[2020-08-17 06:01] #1913 closed

[2020-08-17 06:26] #753 closed

[2020-08-17 06:29] #754 closed

[2020-08-17 06:29] #751 closed

[2020-08-17 06:29] stefanalund commented on #752
We now have utility methods handling this.

[2020-08-17 06:29] #752 closed

[2020-08-17 06:31] stefanalund commented on #694
@freben questions are popping up about this. Could you please pick up this issue?

[2020-08-17 06:34] stefanalund commented on #1012
Looks like this could be closed, no?

[2020-08-17 07:16] leemills83 opened #1973 "Move “the Spotify story” into a background.md section"
Move “the Spotify story” into a background.md section

[2020-08-17 07:17] leemills83 opened #1974 "Add Roadmap with list of achievements so far"
Add Roadmap with list of achievements so far

[2020-08-17 07:37] leemills83 opened #1975 "Create getting started documentation for deploying Backstage"
Add documentation for deploying Backstage to our new getting started section.

[2020-08-17 07:39] leemills83 opened #1976 "Add a status indication to our documentation"
Add status indication to our documentation. This helps readers understand if it is a work in progress, ready, out of date etc.

[2020-08-17 08:07] freben commented on #941
We already have a lightweight version of this based on the last comment - let's close

[2020-08-17 08:07] #941 closed

[2020-08-17 08:28] leemills83 opened #1980 "Review architectural diagrams in the documentation and update as requried"
Review all architectural diagrams and update as required.

As part of this we decided to work with PlantML.

[2020-08-17 08:57] nikek opened #1982 "API for connecting plugin pages as tabs on entity pages"

[2020-08-17 09:04] #1472 closed

[2020-08-17 09:05] nikek commented on #1472
Missing piece: https://github.com/spotify/backstage/issues/1524

[2020-08-17 09:10] andrewthauer commented on #1882
The only other use cases here not covered by #1915 are related to migrations. It might make sense to cover that in a separate issue since the majority of this thread is relation he the configuration and db connection.

Specifically, I'm thinking about:

- Updating the knexfile's to use the new connection helpers
- Ability to create new plugin databases easily on a newly provisioned db (possibly us

[2020-08-17 09:31] GoWind opened #1984 "Allow applications to register their Authentication Handlers with the `auth-backend`"
To make the `auth-backend` more generic and support more OAuth and or non-OAuth based setups, please consider exposing the Authentication Handler classes to the application, so that applications

## Feature Suggestion

When the `auth-backend` 's router is being created or before, allow applications to register custom `AuthProvider`s .

## Possible Implementation

1. Export the `AuthProviderRouteHa

[2020-08-17 09:37] #1524 closed

[2020-08-17 09:53] #1966 closed

[2020-08-17 11:04] timja opened #1985 "Include dockerfile for frontend with npx @backstage/create-app"
## Feature Suggestion

The backend package includes a Dockerfile but the frontend doesn't have it

## Possible Implementation

## Context

[2020-08-17 13:28] Fox32 commented on #1985
This might not be required if one had  #1986

[2020-08-17 13:34] timja commented on #1985
Sure that would solve it too.

[2020-08-17 13:42] katz95 commented on #1232
@kingasieminiak @Rugvip ahhh gotcha! that's a good point. hmm so from a design perspective, do you just need me to provide base colors then? because in that case, you can just grab the first HEX value from each of the base gradients that i've listed in the image above!

[2020-08-17 14:38] dtuite opened #1988 "[Plugin] AWS Lambda"
We are starting work on this now.

We will start with:

 1. A way to authenticate with AWS.
 2. Request and view a list of lambdas, along with basic information like the function name, run time, last modification, etc.
 3. A way to associate catalog entities with the functions that run them.

Comment here with are other features you would like to see.

@stefanalund please assign to me.

[2020-08-17 14:47] freben commented on #615
@watcher00090 Hi, we were reviewing old issues and realised that we had somehow completely missed responding to your comment - sorry about that. Is this something you would still want to look into?

To answer your question, the second point actually no longer applies since home-page is gone and welcome is published.

[2020-08-17 15:25] nikek commented on #1882
I'll close this ticket, but feel free to open issues for the additional improvements.

[2020-08-17 15:25] #1882 closed

[2020-08-17 15:40] nikek commented on #627
As #1737 is merged, I will close this issue. Please feel free to open new issues for the additional improvements.

[2020-08-17 15:40] #627 closed

[2020-08-17 16:19] nikek commented on #1012
PR #1915 and others are merged to address this so I'm closing this ticker. Please open addition tickets if you want more improvements to config mgnt.

[2020-08-17 16:19] #1012 closed

[2020-08-18 02:01] ContrarianChris commented on #348
So, I've taken a first stab at adding Azure AD as an OIDC auth provider for Sign In.
I've opened #1990 as draft as I have hit some issues and looking for some help resolving them, and feedback on what I've done so far.

[2020-08-18 02:11] NetPenguins commented on #1858
Interested in helping on this one. Are there any specifics you had in mind? I see there being a call to the REST api to get the workflows and then assign them to a list of sorts ..... then when selected make a call with the associated ID to obtain the log for that run. Any concerns with that approach?

[2020-08-18 02:54] arniraghu commented on #1966
Thanks. Works!

[2020-08-18 05:48] stefanalund commented on #1967
Looks like there is already an issue for this https://github.com/spotify/backstage/issues/348 -- and now also a PR to fix it: https://github.com/spotify/backstage/pull/1990 🎉

[2020-08-18 05:48] #1967 closed

[2020-08-18 07:37] nikek opened #1993 "DLS Blog Post"

[2020-08-18 07:45] kingasieminiak commented on #1232
@katz95  Yes, that would do. But please, notice that some of the second background colors (e.g. website and tool gradient) are not exactly the dark version of a first one, but slightly different color. If we pick all colors based on the first one, the result might be not exactly the same that the one specified in Figma.

I can take that ticket if there is no one else working on that, so you will b

[2020-08-18 07:47] shmidt-i opened #1994 "Docs from backstage.io/docs having markdown as description"
E.g. https://backstage.io/docs/features/techdocs/techdocs-overview

The problem being that .md files in /docs folder of the repo doesn't have `description` document header field (https://docusaurus.io/docs/en/doc-markdown#documents).

So the solution is to go through all files and add `description` for each one of them ;)

[2020-08-18 07:52] stefanalund commented on #382
Storybook has been moved to https://backstage.io/storybook and therefore has HTTPS support.

[2020-08-18 07:52] #382 closed

[2020-08-18 07:55] shmidt-i opened #1995 "Backstage.io/docs dark mode styling issues"
E.g. https://backstage.io/docs/features/techdocs/techdocs-overview
![image](https://user-images.githubusercontent.com/5012901/90485859-68269a80-e138-11ea-8d5f-fb7512f7a302.png)

## How to solve
Look into adjusting styles for docusaurus - https://v2.docusaurus.io/docs/styling-layout

[2020-08-18 08:28] Fox32 commented on #1995
I would also add: https://backstage.io/docs/features/software-catalog/system-model

![image](https://user-images.githubusercontent.com/648527/90489367-7925da80-e13d-11ea-93de-4c3620c94abe.png)

Hard to see, but there are arrows with text between the boxes. However making them white, makes it difficult to view the files on GitHub...

[2020-08-18 08:49] nikek commented on #1232
I've restructured the SVGs in Figma a bit so we only need to change the background colors. The actual wave shapes are now white to transparent gradient masks. @katz95 will move them to the public Figma when she has time. I will can implement them meanwhile.

[2020-08-18 08:52] #1974 closed

[2020-08-18 09:10] freben opened #1997 "Tags on Catalog Entities"
## Feature Suggestion

Add the ability to put user defined tags on catalog entities.

These are single-valued strings in essence, to for example classify entities in various ways. This is different to [the labels](https://backstage.io/docs/features/software-catalog/descriptor-format#labels-optional) in `metadata.labels` that are key-value pairs.

## Possible Implementation

We have been discussing

[2020-08-18 09:29] stefanalund commented on #1995
@Fox32 yep, I'm on it!

[2020-08-18 10:31] Rugvip commented on #1964
So pending discussion around how to separate out generated bits from the source definition, should we move ahead with just adding a top-level `relations` for now, and keep the source fields intact?

[2020-08-18 10:34] freben commented on #1964
If we are very clear that the location of that field may change, then I'm fine with that.

[2020-08-18 10:42] Rugvip commented on #1964
@freben yeah that'd be the case. I'd like to validate the other parts of this suggestion without blocking on figuring that piece out.

[2020-08-18 11:37] Fox32 commented on #1997
This is something we are interested in. I could offer to implement it (would be at the end of the week).

I would probably split it up into two parts:
* Extend model and show it in the list
* Support the filters on the left side

Do you have a suggestion how it should look on the entity details page?

[2020-08-18 12:40] freben opened #2001 "[RFC] The Future of Locations"
# The Future of Locations

This RFC suggests some changes to the concepts of "locations" within the service catalog, to enable a clearer model, add some features, and remove some old limitations.

The short version:

- Remove the `locations` table
- Make full use of the `Location` kind entities
- Change the refresh loop such that entities are self-sufficient and update "themselves", and `Location`

[2020-08-18 13:00] Fox32 commented on #1997
In addition, I wonder how to handle the casing of the tags. In the example entity the tags are all lower case, in the mockup the start with a capital letter. For the start I would go with no extra handling, but we could extend that later.

[2020-08-18 13:02] freben commented on #1997
@stefanalund do we have a mockup for the entity details page showing tags?

@Fox32 What you say makes sense. And yeah, a "human readable label" version of the tag, a color, an icon, a description, an owner, a link to documentation about usage - all of those are good candidates to think about for the future. But as you say, we'd probably not process their raw value at all in the initial stage.

[2020-08-18 13:37] Rugvip commented on #2001
👍

Do you envision that that will be the loop-driven update method too? Or that we would have both full location-driven refreshes in addition to being able to refresh individual entities. I'm having a hard time seeing what the use-case and benefit of refreshing individual entities in isolation would be. Unless we of course are talking about individual refreshes of location entities, as that would

[2020-08-18 14:31] freben commented on #2001
See below - it is the same loop as before essentially, it just basically feeds itself from Location entities and entity annotations instead of from the locations table.

I started out with that, but backed off a bit. Should have updated up here too to reflect.

But in summary:

I think that moving will sort itself out based on the proposed structure. Consider entity A at location a, and entity B a

[2020-08-18 14:46] stefanalund commented on #1997
@Fox32 personally I think forcing lower case makes sense.

@katz95 could you help with this question? Pretty sure we don't have a mockup of this. Feels natural to include it in the "Information" card though. @Fox32 to unblock you, I would suggest to start with just adding it to the Service Catalog table, as outlined in the above mockup.

[2020-08-18 14:53] stefanalund commented on #1997
Future feature suggestion: make it possible for users to define tags as part creating new components through our [Software Templates](https://backstage.io/docs/features/software-templates/software-templates-index) -- possibly allowing users to choose from existing/used tags presented like a tag "cloud".

[2020-08-18 15:02] fengypants opened #2008 "Backstage.io: Change mobile nav bar to hamburger menu"
## Feature Suggestion

Change the navigation bar to a hamburger menu on the mobile version of the microsite. Here's an example of how it looks now:
![Image from iOS](https://user-images.githubusercontent.com/46946747/90529508-cefc8180-e141-11ea-9ad4-6fddb4075765.png)

## Possible Implementation

@katz95 previously provided specs and icon assets here:
https://github.com/spotify/backstage-microsite/

[2020-08-18 15:08] stefanalund opened #2009 "Plugin marketplace"
## Feature Suggestion

As the ecosystem of [Backstage plugins](https://github.com/spotify/backstage/tree/master/plugins) continues to grow it is becoming increasingly hard to keep track of what plugins are available. To solve this we imagine a "Plugin marketplace" that can:

* Help discover what plugins are available
* Make it clear who (user or company) that contributed it
* Show title, descripti

[2020-08-18 15:16] stefanalund commented on #2008
Ideally it should also be possible to navigate the documentation structure on mobile as well. But let's consider that a bonus for now 😏

[2020-08-18 15:19] stefanalund commented on #1858
Thanks @NetPenguins -- I've assigned you. @Nek any further clarifications to provide?

[2020-08-18 15:21] stefanalund commented on #1988
I've assigned you @dtuite 👍

[2020-08-18 15:41] Rugvip commented on #2001
Ok, sounds like we agree we want to keep the global refresh loop around as is then? I got the locations now being entities bit, just wondering if we would also have a separate loop that updates individual entities.

Note that just because we're switching to not having a locations table doesn't mean we have to start being able to refresh based on locations stored in the catalog itself. The root of

[2020-08-18 15:48] tomek-ifm commented on #1988
Hello, I work with @dtuite on backstage AWS plugins and we already fetch data from AWS by using google as identity provider (first we use Login with google which is already plugged in to backstage, and then we use google's ID token to perform requests to AWS. This is the most simple/secure way to access AWS resources that we could think of.
In backstage codebase it would look like this:

[code]

O

[2020-08-18 15:55] Fox32 commented on #2001
One thing I prefer about the location entity compared to the other locations is, that you can pass additional metadata in them. Maybe a location needs more than a type to be interpreted correctly. What I'm thinking about:

I have a `openapi.yaml` file in my repository, that is not yet wrapped in an entity. I could create location that tells the processors that the file has to be converted to an en

[2020-08-18 16:04] Fox32 commented on #1997
I will go with the existing `isValidDnsLabel` validation.

[2020-08-18 19:21] freben commented on #2001
@Rugvip I'll set aside the external vs internal refresh process discussion, that was an unnecessary distraction for me to bring up anyway :) More of a philosophy / north star goal far-future thing.

On the standalone refresh question: I think my point wasn't about broken original locations. It's actually sort of like using the set of all registered locations + all managed-by annotations, and using

[2020-08-18 19:23] freben commented on #2001
Also point taken regarding what the actual roots are. One of the sources for the refresh loop may actually be locations specified in config, i.e ones that were never Location entities at all in the first place.

[2020-08-18 19:42] freben commented on #2001
@Fox32 Hmm, interesting thought. We haven't yet considered what the model would look like if there were ways of NOT having to write the actual yaml spec for every entity.

Another way could be if a component entity could say essentially `exposesApis: { MyApi: ./openapi.yaml }` in its metadata (just an example, not actual syntax suggestion), which would lead to an API entity with that name automagi

[2020-08-18 20:20] ynambiar commented on #1868
Got it, thank you for that explanation. At the moment, my team is still in the investigation phase and we don't yet have a concrete design for our entity model. The options you described, however, make a lot of sense and give us a place to start. I will let you know if I have more questions as we move forward. Thank you!

[2020-08-18 20:46] stefanalund commented on #1868
Ok! Closing this for now then.

[2020-08-18 20:46] #1868 closed

[2020-08-18 21:41] nikek commented on #1232
A PR for the interested: https://github.com/spotify/backstage/pull/2015

[2020-08-19 07:06] freben commented on #694
Working on it!

[2020-08-19 07:34] #1232 closed

[2020-08-19 08:30] SlavyanaK opened #2023 "Suggestion for documentation add-auth-provider.md"
Hello,

Since I tried to follow the documentation "add-auth-provider.md" to add a new provider,
I was thinking that maybe it could be great to change/add the link to test the provider, from "curl -i localhost:7000/auth/providerA/start" to "curl -i localhost:7000/auth/providerA/start?env=development" as you kindly suggested me in discord room. What do you think? I wanted to contribute, but i was wo

[2020-08-19 08:52] iain-b commented on #2009
@stefanalund I'd like to pick this up if that's ok? Thanks

[2020-08-19 09:31] #1997 closed

[2020-08-19 09:35] mbruggmann commented on #2001
@freben Overall I think this will be a good improvement, but I'm wondering if you have considered to be stricter about only processing `Location`? As in, could we drop this:

If we only ever refresh from the set of Location entities, that seems more predictable and would more cleanly separate the update loop from the catalog itself. Then we could also be stricter about entities managed by that loc

[2020-08-19 13:25] garyniemen opened #2027 "TechDocs: As a consumer of docs in Backstage, I want to be able to watch a doc site for changes"
This is a feature request from one of our early TechDocs users:
"I would like it to be possible to Watch (as in GHE Watch) a document (repo) directly from TechDocs. This allows me to be notified about changes and issues submitted to the repo using standard GHE mechanisms. I think this is a killer feature, and probably pretty simple to implement."

[2020-08-19 13:35] garyniemen opened #2028 "TechDocs: Improve TechDocs homepage which shows list of current documentation sites"

[2020-08-19 13:37] garyniemen opened #2029 "TechDocs: As a consumer of docs in Backstage, I want to see breadcrumbs of the current documentation page I am looking at"
`TechDocs > MkDocs`

<img width="500" alt="Screen Shot 2020-09-21 at 2 30 18 PM" src="https://user-images.githubusercontent.com/25153114/93766645-fe0d8380-fc16-11ea-97bf-4e96da601385.png">

These breadcrumps are hyperlinks to the page.

# Possible Implementation

Can use this UI component https://material-ui.com/components/breadcrumbs/

On individual TechDocs page, we have access to path. We can u

[2020-08-19 13:41] mbruggmann commented on #1964
+1 for the more granular format to represent relationships in the catalog. At this point I don't worry too much about the shorthand form it in the source yaml files, since I suspect that in the long run we'll gather most of the data from other existing configuration (like `CODEOWNERS`, `Dockerfile`, Terraform/CloudFormation/KCC, BUILD/pom/gradle, etc). That'd be in line with @freben also, in that

[2020-08-19 13:47] garyniemen opened #2030 "[TechDocs] As a producer of doc sites, I want to be able to remove my doc site"
It is often the case that teams create a documentation site and then need to remove it for some reason. This could be, for example, because the original site was a test site or they want to replace the old site with a new one. Removing a doc site should be as easy as creating a site.

Removing a site is done by "Unregistering an entity".

![Screenshot 2020-10-05 at 14 40 07](https://user-images.gi

[2020-08-19 14:11] garyniemen opened #2031 "TechDocs: As a producer of doc sites, I want the Vale Linter to be adopted for doc quality checks"
The Vale Linter (natural language linter) implements spell check and other basic rules: there are also style libraries and extension points.

https://github.com/errata-ai/vale

[2020-08-19 14:22] garyniemen opened #2032 "TechDocs: As a consumer of docs in Backstage, I want to be able to give feedback on the content"
Feedback could be editing the page to submit a PR or highlighting text and raising an issue.

[2020-08-19 16:14] #1824 closed

[2020-08-19 18:30] ari-hacks commented on #1566
@soapraj  - great, thanks for the info!

[2020-08-20 01:28] JGoldman110 commented on #735
@stefanalund I'd like to work on this plugin?

[2020-08-20 02:49] javaniecampbell commented on #2009
Hey @stefanalund I believe #1683 and this feature might be related can you guy looking into both as a pair?

[2020-08-20 06:11] stefanalund commented on #2009
Not sure I agree :) I think these two issues should be tackled independently.

[2020-08-20 08:17] stefanalund commented on #735
All yours @JGoldman110 💯 Looking forward to getting more "data" use-cases into Backstage.

[2020-08-20 08:26] stefanalund commented on #1995
Fixed https://backstage.io/docs/features/techdocs/techdocs-overview

[2020-08-20 08:26] #1995 closed

[2020-08-20 08:36] stefanalund opened #2039 "Improve Information card on Overview pages"
## Feature Suggestion

The information card on the overview page should show the most relevant metadata about the entity. Today it is just a simple, unweighted, list of attributes:

![Screenshot 2020-08-20 at 10 34 12](https://user-images.githubusercontent.com/190856/90746285-c25a6380-e2d0-11ea-8674-c4a2280898de.png)

Prior art (from Spotify's internal dataset information card):

![Screenshot 2020

[2020-08-20 09:19] dtuite commented on #290
@carlsendk We're working on an AWS Lambda plugin and obviously need to authenticate with AWS for that. The best solution we could come up with so far is described in https://github.com/spotify/backstage/issues/1988#issuecomment-675559584 If you get a chance, would you mind taking a look so we know we're on the best path?

[2020-08-20 11:26] Fox32 commented on #2039
Having a more styled and specialized component would allow to display the tags properly 👍

[2020-08-20 11:34] stefanalund commented on #2039
@Fox32 for sure! That will definitely be part of an updated design.

[2020-08-20 12:06] #1810 closed

[2020-08-20 12:06] #1811 closed

[2020-08-20 12:08] freben opened #2043 "PlantUML diagrams do not appear on backstage.io docs"
UML diagrams that appear [on GitHub](https://github.com/spotify/backstage/blob/master/docs/auth/oauth.md) do not appear [in the backstage.io docs](https://backstage.io/docs/auth/oauth#sequence-diagram).

[2020-08-20 12:54] Patil2099 commented on #2043
Hi @freben, I would like to help in fixing this issue. Can I get some instructions for it?

[2020-08-20 13:54] #1808 closed

[2020-08-20 14:47] paul-frybarger opened #2048 "Tabs inside a Page component is broken"
Using the `Tabs` component inside of a `Page` causes the browser to hang.

## Expected Behavior

Tabs appear as shown in the storybook (https://backstage.io/storybook/?path=/story/tabs--default)

## Current Behavior

The browser hangs and throws an out of memory error.

<img width="1675" alt="Screenshot 2020-08-20 at 10 17 03" src="https://user-images.githubusercontent.com/57765564/90786352-5fca8d

[2020-08-20 19:04] mbruggmann commented on #2001
It's nice though if `Location`s are entities just like the other ones, so we don't need to have a dedicated table?

In a mixed setting, entities could have annotations like this:
* `backstage.io/managed-by-location: /locations/namespace/location-name` pointing to the `Location` entity that referenced it during the refresh loop
* `backstage.io/managed-by-hook: /hooks/namespace/hook-name` pointing t

[2020-08-20 19:46] althafh opened #2053 "Service Catalog - Invalid entity updates feedback loop"
Assuming a location has been successfully registered into the service catalog pointing to a valid component entity definition in a YAML file.
Subsequently an invalid modification is made to that entity file that does not conform to the spec and will thus fail validation during the subsequent re-ingestion process during the location refresh loop?

What is the expected feedback loop to inform that t

[2020-08-20 19:53] OrkoHunter opened #2054 "Add Backstage logo to the Open Graph Image metadata of backstage.io"
## Feature Suggestion

When we share https://backstage.io over social media like Twitter, it is good that the card they generate for the link has useful information.

<img width="1080" alt="Screenshot 2020-08-20 at 21 50 05" src="https://user-images.githubusercontent.com/8065913/90818662-26137980-e32f-11ea-9222-9f41dce63d94.png">

Currently Twitter does not get any image to use for backstage.io

#

[2020-08-20 20:02] OrkoHunter commented on #2054
There is already a configuration for it in `microsite/siteConfig.js`

https://github.com/spotify/backstage/blob/95596b812983f892411c32fa67a5ca7de4b22cd3/microsite/siteConfig.js#L99-101

I wonder, why it isn't working 🤔.  [It never has](https://twitter.com/search?q=backstage.io&src=typed_query).

[2020-08-20 20:09] OrkoHunter commented on #2054
Open Graph protocol does not support SVG 😮 😮 😮

https://indieweb.org/The-Open-Graph-protocol#Does_not_support_SVG_images
https://stackoverflow.com/questions/21636503/use-svg-as-ogimage

We'll then have to set a png image to `og:image` and `twitterImage`. 💯

[2020-08-20 20:15] freben commented on #2048
Hi! So I've been looking at this a bit. Firstly yeah, `chunkArray` definitely is buggy and I am making a pull request to address that.

But even fixing that, there's another issue. In your example code, the wrapping div around the tabs has nothing to keep it wide enough, so it collapses and gets narrowed into nothing if you touch the width of the window. That triggers a second bug. That's of cours

[2020-08-20 20:32] freben commented on #2001
Right, but I was thinking about the actual HTTP request mechanics and responsibilities in a push model - if we register a webhook in GHE, where do we point it? How does that lead to entities actually entering the catalog? I was envisioning that mechanic being driven by a small receiver service (possibly as a backend plugin, or hidden entirely within a GitHub app if that's a possibility), that issu

[2020-08-20 20:39] freben commented on #2053
In the internal legacy catalog, which has similar semantics, this happens in a few different ways in different steps of the process:

- There is a validator service that anybody can post YAML data to, and receive feedback on its syntax and semantics without modifying anything.
- There is a Maven plugin that uses that service, to give early feedback during the development phase (essentially linting

[2020-08-20 21:03] freben commented on #2053
And going even farther - It would make sense for the catalog to be able to emit an event stream (e.g. via pubsub) about its inner ongoings that others can latch onto and react to, for example by connecting it to an alerting system.

[2020-08-20 21:24] mbruggmann commented on #2001
Not super familiar with this, but something along those lines?
1. Create a GitHub app with a webhook that points to a known endpoint in a Backstage plugin. Probably only need to do this once per Backstage installation.
2. Every time the GitHub app gets installed into a repository, create a Hook entity in the catalog for that repo. We should get an install event in the plugin that we can trigger th

[2020-08-20 22:18] althafh commented on #2053
That makes a lot of sense and is exactly what I was looking for so that we can build a linter as that makes the most sense.

Looking forward to seeing the design of the state field and the validator service and I'm happy to help contribute/work on the implementation if required.

[2020-08-21 04:41] ContrarianChris commented on #348
I've abandoned #1990 as I was getting nowhere with `passport-azure-ad` (it didn't conform to passport.js anyways).

I switched to using `passport-microsoft` and everything is now all good 👍
#2056 is the working implementation.

[2020-08-21 05:27] stefanalund commented on #2054
@katz95 any suggestion to what png image to use?

[2020-08-21 05:42] freben commented on #2001
So 3. relies on them being two different plugins, that are in-process from each other. OK, that clarifies it, even though I would have appreciated if that could eventually be relaxed into using actual REST calls to the catalog (with a service-to-service auth setup).

We have talked about "scannability" for definition files, for example whether we should have some naming pattern that makes them ver

[2020-08-21 07:21] Fox32 commented on #2009
As an alternative to the microsite: Deploy a backstage instance and use it as a catalog 😄 But I think a website would be better 😉

[2020-08-21 07:21] #694 closed

[2020-08-21 08:28] Nek commented on #1858
@NetPenguins take a look at https://github.com/spotify/backstage/tree/master/plugins/circleci. There is a component for logs visualisation that can be a good fit for these logs too.

[2020-08-21 08:41] Rugvip commented on #2001
Webhook change updates can be modeled just like locations, i.e. type + target, for example `github` + `https://github.com/spotify/backstage/blob/master/packages/catalog-model/examples/hello-world-api.yaml`, and I think that's really what we could add as an API to the catalog. For example

[code]

Given that it's the catalog location processors that know how to fetch new data, refreshing should jus

[2020-08-21 09:20] emmaindal opened #2067 "TechDocs: Adjust the Backstage catalog_info.yml to include techdocs reference"

[2020-08-21 09:22] emmaindal opened #2068 "[TechDocs] Add PlantUML support to the techdocs container"
Suggested extension: https://github.com/mikitex70/plantuml-markdown

But feel free to suggest other extensions that are compatible with MkDocs

[2020-08-21 12:51] Fox32 opened #2071 "Show a README in a component page"
Components already have a `description` field, however this is very limited in size (implicitly, how it is used) and used as a display name (compared to `name`, which is a more technically name). We want to provide some introduction sentences that tell what this component is about, without having the user to dive deep into the documentation (e.g. techdocs).

## Feature Suggestion

We are looking f

[2020-08-22 19:05] andrewthauer opened #2082 "Circular dependencies across packages"
There seems to be some circular references that have emerged across some package dependencies. A common occurance is for catalog with some plugins (e.g. `@backstage/plugin-api-docs`) referencing the `plugins/catalog/src/api/types.ts` from `@backstage/plugin-catalog` which in turn references the original plugin (e.g. `plugin-api-docs`).

## Expected Behavior

There are no circular dependencies acro

[2020-08-23 16:05] alandovskis opened #2089 "Failed to Register Bitbucket Private Repository Without Code Changes"
## Expected Behavior

A new component should appear corresponding to the imported repository.

## Current Behavior

InputError: Failed to read location github https://bitbucket.org/org/android-app/src/develop/catalog-info.yaml, Error: Unable to read github https://bitbucket.org/org/android-app/src/develop/catalog-info.yaml, Error: Incorrect url: https://bitbucket.org/org/android-app/src/develop/ca

[2020-08-23 16:47] alandovskis commented on #2089
This would probably also affect #2081.

[2020-08-23 17:33] #1788 closed

[2020-08-23 19:14] andrewthauer opened #2091 "TechDocs plugin entity page routing inconsistent with other plugins"
The `techdocs` plugin currently does not use the same route syntax for entities as some of the other plugins with use
`EntityCompoundName` & `useEntityCompoundName`. It also defines a new `ParsedEntityId` type which is exactly the same as `EntityCompoundName` except not exported (even though it is part of the plublic `ApiRef)

NOTE: This is somewhat related to #2082

## Expected Behavior

Other pl

[2020-08-23 19:33] andrewthauer commented on #2001
I'm not sure if this is relevant to this conversation, #1964, or potentially a new RFC. However, I've been thinking about how API entity spec definitions can be externally read from a different location then the spec. Here's a couple of examples that hopefully highlight what I'm thinking.

[code]

[code]

Or perhaps it would introduce a location like:

[code]

[2020-08-24 06:33] emmaindal commented on #2091
Hey @andrewthauer thanks for reporting. I'll link to this RFC here for further reading https://github.com/spotify/backstage/issues/1947.

[2020-08-24 12:55] andrewthauer commented on #970
This plugin was originally introduced in #1497 with subsequent follow up PR's. Future work will entail integration with the catalog model, etc.

[2020-08-24 12:55] #970 closed

[2020-08-24 13:00] mbruggmann commented on #2001
@Rugvip Not as nice drawings as yours (gotta teach me how you made those some day), but for completeness, I tried to visualize what I meant with the simplified location model:

![catalog](https://user-images.githubusercontent.com/24575/91043630-3b7cf200-e614-11ea-91bf-98aab0d6b83e.png)

Looking at the catalog as a raw entity store, we'd start with POSTing `Location` entities there (1). A location

[2020-08-24 13:00] andrewthauer commented on #2068
Thanks @emmaindal. The `mdx_truly_sane_lists` plugin is probably the most important for us since it fixes nested bullet spacing issues since `python-markdown` does not follow `commonmark` exactly.

It might be useful to allow the docker image to be customized? I can foresee someone just using the techdocs image as a base and then installing some additional mkdocs plugins and away they go (assuming

[2020-08-24 13:22] freben commented on #2001
@mbruggmann This is pretty much what I had in mind. Thanks for putting it in image and text better than I can.

Just one difference:

I think that these could still be "just one more set of inputs to the refresh loop". In my mind Location entities are just one of many possible sources of entities and there's nothing special about them. The catalog could work perfectly fine with only one single con

[2020-08-24 13:48] paul-frybarger commented on #2048
Yeah, makes sense. I think with your fixes this can be closed now. Thanks again!

[2020-08-24 14:14] #2067 closed

[2020-08-24 14:36] #2048 closed

[2020-08-24 14:45] Rugvip commented on #2001
@mbruggmann @freben I'm not too fussed about whether locations are entities or not. I'm more concerned with the UX and DX os not properly surfacing each location that is traversed, and the complexity brought in by allowing entities to be posted to the catalog, especially from a security and consistency point of view.

What are you thoughts on why we should prefer the flatter and mutable model? Are

[2020-08-24 15:29] iain-b commented on #2009
@stefanalund I’ve had a look into this and I've got some questions.
Given the micro site is static it looks like we'd have to keep the plugin data in files in the microsite repo and use those to generate the plugins page (I'm open to better ideas). That being the case to add a plugin the best I can propose is the user enters the required information and we redirect them to GitHub to create an issu

[2020-08-24 15:48] emmaindal opened #2099 "[TechDocs] optional techdocs-ref annotation."
Right now, you need to define a techdocs-ref annotation pointed to where your documentation lives in your `something-info.yaml` file ([example](https://github.com/spotify/backstage/blob/master/catalog-info.yaml#L10)) to get documentation generated and available in TechDocs.

To avoid this step of configuration, one should be able to use the annotation to connect for example a standalone docs proje

[2020-08-24 15:55] stefanalund commented on #2009
@iain-b thanks for checking in.

I think we can live with people adding plugins themselves by submitting a PR with static information/config for their plugin. If they are sophisticated enough to build a plugin I’m sure that should be fine for now.

When it comes to design, my suggestion is to do a first barebones iteration inspired by Grafana, and then we can ask @katz95 to have a look later on.

[2020-08-24 20:16] emmaindal commented on #2068
@andrewthauer that sounds like an extension we should definitely add. The differences between python flavoured markdown list syntax and github flavoured markdown has been something we have struggled with before. Does the `mdx_truly_sane_lists` cover the "empty line before list starting" problem as well?

I love the idea of having the docker image to be customized and I think we will see more need

[2020-08-25 07:25] freben commented on #2099
I think it's worthwhile to always show a docs tab on the entity at least, unconditionally. When the user visits the tab, we can inspect whether there actually seems to exist docs for the entity (through any means necessary - looking for an annotation, and if none exists, go looking in some default place, etc). If they don't, show an empty state that helpfully explain how to get going.

[2020-08-25 07:26] freben commented on #2099
It could even offer to show the README.md of the project or the docs folder itself, if it's a github location - etc.

[2020-08-25 09:00] timja opened #2103 "Run cookiecutter template without docker"
## Feature Suggestion

It would be good to be able to run cookiecutter without requiring that the app has access to the docker socket.

We're running in Kubernetes and mounting the docker socket is:
1. not recommended
2. doesn't work for alternative container runtimes like containerd.

## Possible Implementation

Check if cookiecutter is installed first and use that instead

or

Use a Kubernetes j

[2020-08-25 10:35] timja opened #2106 "Creating repo from template redirect broken: 'Error: Missing ":selectedTabId" param'"
## Expected Behavior

Redirected to the catalog page

## Current Behavior

White screen instead of redirect, and browser console error:
![image](https://user-images.githubusercontent.com/21194782/91164380-d7ffcc80-e6c6-11ea-8d29-1ea226414b92.png)

[code]

![image](https://user-images.githubusercontent.com/21194782/91164334-ca4a4700-e6c6-11ea-8bcf-ffbe09aa5db3.png)

## Possible Solution

fix the bu

[2020-08-25 10:44] emmaindal commented on #2106
Yay thanks @timja for reporting, we added a note to our project board when we found this as well so I'll switch that out with this issue, much better. A follow-up question, this happens for all templates and not only for the docs template, is that correct?

[2020-08-25 10:44] timja commented on #2106
I expect so, I'm using the springboot template in this case

[2020-08-25 10:46] emmaindal commented on #2106
cool, thanks for fast response. So its around the new tab implementation I think.

[2020-08-25 10:59] andrewthauer commented on #2068
@emmaindal - I believe it does handle empty lines like you are referring to https://github.com/radude/mdx_truly_sane_lists#features. We also had a lot of annoying problems before finding this plugin. For instance running prettier formatting on the markdown causes many issues. Everything seemed to clear up and be more predictable after starting to use it.

I'll create an issue for the custom docker

[2020-08-25 11:26] emmaindal commented on #2068
@andrewthauer please do! Thank you!

[2020-08-25 11:31] andrewthauer opened #2111 "GraphQL SDL API Docs Support"
The recent `api-docs` plugin is a great addition. Having support for viewing GraphQL SDL schemas would be great. I've experimenting with this idea in #2088

## Feature Suggestion

Given the following API entity:

[code]

There would be a viewer similar to `openapi`, & `asyncapi` for rending the GraphQL SDL schema docs. Possibly something like:

<img width="1325" alt="image" src="https://user-image

[2020-08-25 11:57] #2106 closed

[2020-08-25 13:34] freben commented on #2053
Hi again, just checking in:

Would it be OK to close this ticket? We will definitely eventually settle the refresh loop feedback.

[2020-08-25 15:38] #348 closed

[2020-08-25 15:40] ayshiff commented on #1302
Can I work on it @benjdlambert ?
I'll build upon your branch 👍

[2020-08-25 17:56] stefanalund commented on #1302
@ayshiff Ben is out on some vacation, but sure! I'm assigning you. Thanks 🙏

[2020-08-25 18:12] chrisisbeef opened #2119 "Missing apis.ts in applications created with @backstage/create-app"
## Expected Behavior

After creating an application, I wanted to add the service catalog to it. Following the instructions located at https://backstage.io/docs/features/software-catalog/installation you are instructed to add a block of code to the `apis.ts` file located in `packages/app/src`

## Current Behavior

The file is missing from the generated project

## Possible Solution

## Steps to Rep

[2020-08-26 07:46] katz95 opened #2122 "Example Plugin for Storybook"
## 🗒 General

Hi! Would love some help getting the UI for this 'example plugin' built and incorporated into our storybook! This is just a static page example of how a plugin could be structured.

![Plugin 1](https://user-images.githubusercontent.com/61153904/91275039-e2ca6800-e77f-11ea-9433-6b988e121f43.png)

## 💻 Usage

We based this plugin example off of one of the Circle CI plugin we're buildin

[2020-08-26 07:49] katz95 opened #2123 "Another Example Plugin for Storybook"
## 🗒 General

Hi! Would love some help getting the UI for this 'example plugin' built and incorporated into our storybook! This is just a static page example of how a plugin could be structured.
![Plugin 2](https://user-images.githubusercontent.com/61153904/91275984-2a052880-e781-11ea-9e80-f263d94d79d1.png)

## 💻 Usage

This is a generic example that demonstrates how one might structure a plugin w

[2020-08-26 11:51] stefanalund commented on #2122
Related issue: https://github.com/spotify/backstage/issues/2122

[2020-08-26 12:51] katz95 commented on #2039
###Updated About Card

Please check out the specs in our Figma file, which you can access by duplicating from [here](https://www.figma.com/community/file/850673348101741100).

![About Card](https://user-images.githubusercontent.com/61153904/91305446-5afa5300-e7ab-11ea-95f7-a6875c85e4a5.png)

You can click into the card to access the different specs.

<img width="1485" alt="Screenshot 2020-08-26 at

[2020-08-26 14:16] GoWind opened #2128 "Update Refresh token if OAuth2 provider provides one during token refresh"
## Expected Behavior

During a token refresh grant, the OAuth2 server might provide a newer refresh Token. In such a case, backstage should update the refresh token cookie, so that the newer refresh token can be used in subsequent refresh requests.

## Current Behavior

Currently, during the refresh token grant, The oauth2 helper ignores any `refresh_token` that is returned by the server and only

[2020-08-27 07:56] emmaindal opened #2135 "TechDocs CLI broken"
Running the TechDocs CLI to preview docs inside the Backstage UI gives a blank page as well as the following error in the console:
`Error: No implementation available for apiRef{plugin.techdocs.storageservice}`

[2020-08-27 11:27] #1973 closed

[2020-08-27 12:01] #2135 closed

[2020-08-27 12:04] Nek commented on #1858
@NetPenguins I think starting simple is the best way to go.

[2020-08-27 13:32] Fox32 commented on #2071
That approach has some open questions and possible drawbacks:
If we go with direct GitHub integration, we have to decided whether it is a complete client side implementation using the current GitHub user (if I understand the auth system correctly, we can access the GitHub API here) or using a technical access token in the backend. Later has the advantage that users without the GitHub login can vie

[2020-08-27 16:13] dhenneke commented on #1984
It can also happen that the existing OAuth2 implementation does not work because the identity provider doesn't know the default scopes or expect others (e.g. `email` instead of `userinfo.email`). Or that one wants to add a custom mapping of token claims to profile attributes.

[2020-08-27 17:25] johnson-jesse opened #2146 "Yarn install fails with acceptable node version"
Following the [Getting Started > Running Backstage Locally](https://github.com/spotify/backstage/blob/master/docs/getting-started/index.md) instructions fail with error when node version greater than minimum required.

## Expected Behavior
When running `yarn install`, I should see the install process continue past the validation step when my node version meets the minimum required.

## Current Beh

[2020-08-27 18:01] freben commented on #2146
Thanks for reporting. There were actually node 14 issues at some point at least, I think. Definitely with node 13, that much I'm sure of. Version 14 is due to become LTS soon, and we will definitely switch up at least then.

We should adjust the wording as you suggested (maybe you would even like to make a PR? :)) for starters, and later try to evaluate everything on node 14.

[2020-08-27 21:15] ayshiff commented on #1302
@stefanalund Could I have more information regarding this issue knowing that it is more than 2 months old.
Is the scope of the issue always the same?
If it's easier to chat, could we make a point together on the Discord to discuss this ticket?

[2020-08-28 03:56] althafh opened #2148 "[RFC] Rename Service Catalog"
### Background
Currently the Catalog is known everywhere in the documentation as the [Service Catalog](https://backstage.io/docs/features/software-catalog/software-catalog-overview), and in some places it being referred to as a [Software Catalog ](https://github.com/spotify/backstage/tree/master/docs/features/software-catalog)

However with more entity types like the ones described in #1401 the na

[2020-08-28 07:56] dtuite commented on #2148
What about just calling it Catalog?

[2020-08-28 10:09] stefanalund commented on #2148
This is a question that we have debated quite a lot internally 😄 Our reasoning has been going something like this:

Long-term we will use **Backstage Software Catalog** (or maybe simply Backstage Catalog as @dtuite suggests), but short-term we will continue to use Service Catalog. The main reason for this is that "service catalog" is what the industry is already using and what many companies use t

[2020-08-28 13:39] #2103 closed

[2020-08-28 14:19] alileza commented on #714
@jackskj I wonder if you start working on this? I'd be happy to jump in if it'll take a bit more time in the future. I'm looking forward to having this in my set-up

[2020-08-28 14:44] fengypants commented on #2148
Yes, at this early stage in the category, we think it's still better to take the approach of saying "service catalog and more" — start with the term people are familiar with and the most common use case — than to say "X catalog" and have them be a little unsure what the term means when they first read it ("What is an X catalog?").

[2020-08-28 15:57] #2146 closed

[2020-08-28 20:39] johnson-jesse opened #2163 "Plugin isolation command fails"
Following the [Plugins > Create a Backstage Plugin](https://backstage.io/docs/plugins/create-a-plugin) Guide and the directed command to serve plugin in isolation: server responds with 404.

## Expected Behavior
When running `yarn workspace @backstage/plugin-my-plugin start`, I should see the new plugin page loaded within Backstage.

## Current Behavior
Server starts fine but page loads `ERROR 404

[2020-08-29 14:29] NetPenguins commented on #1858
@Nek Do you have a repo that has multiple jobs per run? It would also be helpful to have a job/run that has had a failure in it to test the styling around failures.

[2020-08-30 03:35] iamrajiv commented on #2054
@OrkoHunter @stefanalund Can I work on this issue? I think this may work https://github.com/vercel/og-image

[2020-08-30 03:44] iamrajiv commented on #1994
@shmidt-i Can I work on this issue?

[2020-08-30 06:17] stefanalund commented on #1994
@iamrajiv please do, thanks!

[2020-08-30 06:30] OrkoHunter commented on #2054
Hey @iamrajiv ! Thank you for the interest. :)

IMO the use case for the `og-image` services is when we want "dynamic" open graph images generated for each page.

For Backstage, we can go with a static png image (the logo) for _all_ of our pages.

[2020-08-30 06:34] OrkoHunter commented on #2054
We have `logo.svg` here - https://github.com/spotify/backstage/tree/master/microsite/static/img

Let's wait for @katz95 to create a suitable `logo.png` for this purpose and we can use that.

[2020-08-30 12:12] drsounds opened #2174 "Module Federation for plugins"
I think Backstage would benefit from using Webpack 5 Module federation, it is a new way to make apps extensible at runtime by taking advantage of components from other compiled apps at runtime

## Feature Suggestion

Backstage should be developed so module and plugin architecture will be based on Webpack 5 Module Federation, so Backstage users can add new plugins without having to recompile the wh

[2020-08-30 13:00] stefanalund commented on #2174
I don’t understand what this means in practice. Can you elaborate on the possible benefits for plugin developers and/or users of Backstage?

[2020-08-30 13:14] NetPenguins commented on #1858
@Nek So I realized when I dug in that I had an very outdated version. So after upgrading I also noticed that there is now a Jobs element inside the WorkFlowRunDetails page. The only thing I can think to add that would create a complete log would be the steps per job. Is this what you were after in the initial request? If so I will add the nested steps under their respective jobs using the same for

[2020-08-30 13:34] drsounds commented on #2174
I mean an approach like Single SPA

https://single-spa.js.org/

Den sön 30 aug. 2020 15:01Stefan Ålund <notifications@github.com> skrev:

[2020-08-30 15:04] iamrajiv commented on #2054
@OrkoHunter means all the `.svg` images will be converted to `.png` then we will update the `microsite/siteConfig.js`.

[2020-08-30 17:19] tudi2d commented on #2122
Hey. I would like to add this to storybook 🙂

[2020-08-30 18:05] alandovskis commented on #2089
I just tested again following the merge of #2081. It is now working.

[2020-08-30 18:05] #2089 closed

[2020-08-31 07:32] emmaindal commented on #1565
@spotify/techdocs-core are very interested in this to be implemented since we faced this **extra** steps of the existing implementation when created our new docs template. One thing, you mentioned:

Does it mean the app will only be available to install for github organizations or even for a repository owned by an individual github user? I'm interested if begin an org is required to be able to aut