[2021-07-16 12:55] onematchfox commented on #6308
Just FYI, I think this issue was introduced subsequent to the patch for this advisory (`0.6.5`). The issue seems to have been introduced in `0.6.6` in this commit https://github.com/backstage/backstage/commit/ab5cc376fac968c0643d1b624fb37d3117d399de due to the differences between the original implementation (`path.resolve().startsWith()`) and the new `isChildPath` which uses `path.relative`. `path

[2021-07-16 13:23] rubenLindstrom commented on #5416
Hello everyone! We have now opened up a PRFC (Pull Request For Comments) for this, which you can find [here](https://github.com/backstage/backstage/pull/6486). Looking forward to hearing all your suggestions!

[2021-07-16 14:15] ChristianAvila commented on #6431
Yes, I executed `yarn backstage-cli versions:bump`. and it shows me a bunch of errors for `scaffolder` plugging.

[code]

Then I applied the changes in the code and the tsc command worked like a charm

[2021-07-16 14:16] benjdlambert commented on #6431
Perfect! So we can close?

[2021-07-16 14:20] #5620 closed

[2021-07-16 17:39] nadworny commented on #4359
So what is the decision guys @awanlin @freben ? 😄  We remove stripping functionality?

[2021-07-16 18:06] freben commented on #4359
That's my vote. @benjdlambert ?

[2021-07-16 18:06] freben commented on #4359
Or rather - keep the functionality but set it to false?

[2021-07-16 23:41] kuangp commented on #5310
FYI for others, I'm using the following workaround to override the `catalogApiRef` on my Backstage instance to strip out loading API definitions in the explorer view:
[code]
[code]
This extends the default [catalog client](https://github.com/backstage/backstage/blob/a2fbdfde360d06a6c7c94ded4271f8ecaee907fb/plugins/catalog/src/plugin.ts#L37-L45) to modify the request made by the API explorer page.

[2021-07-17 02:37] #6431 closed

[2021-07-17 05:01] freben commented on #5310
I want to explore a model where columns and filters explicitly ask for the fields that they want. That way the surrounding context can choose to fetch exactly the necessary fields and no more.

[2021-07-17 06:40] chuliang014 opened #6514 "The way for changing CatalogTable column name"
Hi,

Is there any way to changing column name in Catalog page? For example, change the `System` to `Project`.

![image](https://user-images.githubusercontent.com/56138162/126028467-43c37bf8-112b-4133-a967-6ab26ed96788.png)

[2021-07-17 06:44] #6514 closed

[2021-07-17 13:14] Seneli commented on #6175
Hi, I would like to try this one.

[2021-07-17 14:10] #5588 closed

[2021-07-17 18:30] freben opened #6519 "cli: add a `backstage-cli info` command"
## Feature Suggestion

Similarly to [the Tauri CLI](https://tauri.studio/en/docs/usage/development/integration), add an `info` command to `backstage-cli` that lists at least

- [ ] operating system
- [ ] node version
- [ ] npm version
- [ ] yarn version (even if this is expected to be the pinned one in the repo - still useful to look for deviations)
- [ ] the version of the currently running backs

[2021-07-17 18:44] biancoda commented on #6496
So, like we discussed, I recreated the docker image with sql instead of postgres DB and I left it running all night.
The container started around `2021-07-16T20:05:30.154Z` and the last DB refresh was around `2021-07-17T04:55:38.665Z`
There are no errors on the logs, it just stopped refreshing :S and there were no memory/CPU/storage.

[2021-07-18 07:00] #4816 closed

[2021-07-18 07:01] OrkoHunter commented on #4816
We have removed the cra templator now.

[2021-07-18 07:29] #5499 closed

[2021-07-18 12:50] freben commented on #6479
@iamrajiv @OrkoHunter could this be the same command as #6519 ? I think they could be. So essentially what that ticket suggests, but with the addition of running --version etc and being able to print installation instructions if they aren't there

[2021-07-18 12:50] freben commented on #6479
Could also warn about unsupported node versions and how to use eg nvm to change it

[2021-07-18 12:57] benlangfeld commented on #3750
@freben I'm most likely missing something, but I don't see this working. Using the example from https://github.com/backstage/backstage/tree/master/packages/catalog-model/examples, I removed both references to the petstore:

* https://github.com/backstage/backstage/blob/master/packages/catalog-model/examples/all-components.yaml#L9
* https://github.com/backstage/backstage/blob/master/packages/catalo

[2021-07-18 13:16] benlangfeld commented on #3750
So I did actually find the `backstage.io/orphan` annotation set correctly on these resources, and then found `EntityOrphanWarning` in the catalog plugin which is [used in EntityPage](https://github.com/backstage/backstage/blob/47dac4081978cfa66ab6f5035b1191c67b6ebb9c/packages/app/src/components/catalog/EntityPage.tsx#L222) but [not in the version included in the app generator](https://github.com/b

[2021-07-18 14:38] benlangfeld commented on #5869
@freben When the catalog is in read-only mode, can auto-deletion of orphaned entities be considered safe? Would backstage accept an implementation of auto-deletion that is disabled by default?

[2021-07-18 16:30] OrkoHunter commented on #6479
@freben Yeah, I think `info` can cover both of these use-cases - print versions and stuff, but also warn if every requirement isn't installed.

[2021-07-18 16:31] OrkoHunter commented on #6479
Closing in favor of #6519

[2021-07-18 16:31] #6479 closed

[2021-07-19 06:47] missedone opened #6527 "feat request: support updating the scaffolding template"
once the scaffolding template is registered, we're not able to modify on the backstage web UI.

## Feature Suggestion

as the scaffolding template maintainer, after registering it to the backstage, i'd like to modify the template metadata like template name, url (for example, switch from testing branch to release branch), etc.
for now the only way is request the devops has admin access to modify i

[2021-07-19 07:45] kiranpatel11 opened #6528 "[Plugin] Allure Test Report"
## Summary

Allure is a test report framework supporting many test frameworks across programming languages.
Allure reports are html based, can be embeded as iframe to backstage UI under catalog component.

## Project website (if applicable)
https://docs.qameta.io/allure/
https://github.com/fescobar/allure-docker-service

## Context
Allure Framework is a flexible lightweight multi-language test rep

[2021-07-19 08:27] gnarlex opened #6529 "SidebarSearch input smaller than surrounding anchor tag"
The input of the SidebarSearch component of the search plugin (`@backstage/plugin-search`) is smaller than the parent anchor tag, resulting in unexpected behaviour when clicking slightly next to it.

<img height="100" alt="Screenshot 2021-07-19 at 09 33 29" src="https://user-images.githubusercontent.com/24435169/126128039-0209d5b8-6000-4cc3-854e-4ef57496edad.png"> <img height="100" alt="Screenshot

[2021-07-19 09:14] benjdlambert commented on #6527
The demo templates that are shipped with Backstage are designed to be replaced with your own templates. You can of course copy the contents of them from [this](https://github.com/backstage/backstage/tree/master/plugins/scaffolder-backend/sample-templates) folder and push them to your own repo, where you can change the name or whatever in the `template.yaml`

[2021-07-19 10:09] dhenneke opened #6531 "Support request timeouts in the UrlReader"
For some applications, it would be helpful to be able to timeout a `readUrl(...)` request. We sometimes use a circuit breaker in combination with a timeout from [cockatiel](https://www.npmjs.com/package/cockatiel) to wrap calls in our custom plugins. However, when we timeout, the call is still in progress and might also finish after we went ahead with other tasks. We could also handle this by disc

[2021-07-19 10:33] dehamzah opened #6532 "Registering entity with redirect link is success but failed to ingest"
I did try to register the entities using this link:

https://gitlab.com/dehamzah/catalog-model/tree/master/examples/components/artist-lookup-component.yaml

It registered successfully but it failed to ingest. It's an alias URL for https://gitlab.com/dehamzah/catalog-model/-/blob/master/examples/components/artist-lookup-component.yaml

## Expected Behavior

It should reject the registration when ru

[2021-07-19 11:12] stevehipwell commented on #4945
I think this is still a valid issue to have open.

[2021-07-19 12:10] OrkoHunter commented on #6527
@missedone

Not really. If you are loading templates from a remote git location like [this](https://github.com/backstage/backstage/blob/5b9e6a78b56533ebb39cbb3b8b55683b0aa09828/app-config.yaml#L248-L249), you can update the templates in their source control repository and they will automatically be updated in the database. Since most of the template is just code, it's easier to modify them using a

[2021-07-19 12:16] OrkoHunter commented on #6508
@rubenLindstrom can the issue be closed as well?

[2021-07-19 13:48] timbonicus commented on #6532
This is similar in cause to #6301, I think.

[2021-07-19 14:03] #6308 closed

[2021-07-19 14:32] #6508 closed

[2021-07-19 15:26] tom-odb commented on #6245
Opened a PR for GitLab: https://github.com/backstage/backstage/pull/6535

[2021-07-19 15:49] punkle opened #6537 "github-org processor doesnt work with repo limited github app installation"
When using the github app integration setup and the app installation has been limited to a subset of repositories then the github-org processor fails with the following error:

[code]

As you can see this github-org processor is failing for a reason that seems to be related to repositories, however github teams dont operate around the concept of repositories.

The docs for gihub apps is here https

[2021-07-19 15:55] benjdlambert commented on #6175
Assigned to you @Seneli!

[2021-07-19 16:00] benjdlambert commented on #4945
@stevehipwell so I think to be honest we should be closing this ticket in favour of the current helm chart that exists today.

Is a long way off, and Backstage is right now, architected in a way that this isn't possible without configuration of the JSX and the code to customise it to your needs. Maybe one day we will have that in a dynamic way, but either way I don't think that this ticket is the

[2021-07-19 17:04] jrusso1020 commented on #1686
This is something we may be looking at in the nearish future

Right now I'm focusing on getting protobuf/grpc documentation into Backstage, and we actually use [protoc-gen-doc](https://github.com/pseudomuto/protoc-gen-doc) internally to create documentation during CI/CD ( https://github.com/backstage/backstage/issues/1686#issuecomment-730286315).

We are also potentially considering a gRPC Playgro

[2021-07-19 17:10] missedone commented on #6527
ok the template content for sure is reloadable, in case if change the branch, for example, i'd like to change from test branch to the final branch for the template.yaml file

[2021-07-19 17:15] punkle commented on #6537
Ive created a pull request with a possible fix that removes the repo restriction from the credentials provider altogether. I am not sure why the repo restriction was put there in the first place so it maybe a little naive to remove it.

Love to hear feedback.

[2021-07-19 17:31] brethubbard opened #6540 "Api Docs CORS proxy support"
## Feature Suggestion

Add support for a proxy for requests coming from SwaggerUI

## Possible Implementation

I found [this issue](https://github.com/swagger-api/swagger-ui/issues/5731#issuecomment-559768068). We could expose a `requestInterceptor` then pass it into `<SwaggerUI ... />`.

## Context

It would be easier for teams to adopt if each service didn't have to configure CORS for Backstage.

[2021-07-19 18:06] freben commented on #6316
Closing since the linked PR is merged. Feel free to reopen if this is a mistake.

[2021-07-19 18:06] #6316 closed

[2021-07-19 18:27] benjdlambert commented on #4359
Sorry just coming back round to this - yeah, let's set it to false but keep the functionality so that we have the option still.

[2021-07-19 23:30] regicsolutions opened #6542 "Bitbucket Server - Catalog Registration Action not Registering Entities in Catalog"
## Expected Behavior

When a **catalog-info.yaml** file is generated using the `fetch-base` action followed by a `publish` and `register` action, the entity should become available in the catalog.

Sample steps:

[code]

Screenshot showing Success:

![image](https://user-images.githubusercontent.com/6157895/126240281-d4734e2f-1df1-4c4d-a6fc-751c1731293e.png)

## Current Behavior

This did work bef

[2021-07-20 01:41] kiranpatel11 commented on #5416
Question:
Will this be covering the _Welcome Experience_ for users login into platform for the first time ?
Bare Minimal would be the option to have **HomePage Sliders**, which can highlight key features...links to important docs, etc.

[2021-07-20 04:41] mysticmode opened #6546 "Logs are not displaying while publishing the catalog to GitHub"
I'm trying to setup Backstage on Ubuntu 20.04 VPS. My problem is that when I try to "Choose" a template and publish it to GitHub, the logs are not getting displayed. I have tried this in both simply `yarn dev` or setting up a multistage `Dockerfile` and running it.

NOTE: The repository is getting published to GitHub fine. In other words, I can see the template that I want to deploy to GitHub fine

[2021-07-20 05:15] regicsolutions commented on #6532
Yep, I think this one is also connected as well: https://github.com/backstage/backstage/issues/6542#issue-948110138

[2021-07-20 05:32] regicsolutions commented on #6542
Seems to be connected to: https://github.com/backstage/backstage/issues/6301#issue-934798561

[2021-07-20 08:28] OrkoHunter opened #6547 "Why do URL Reader response types return Buffer instead of string?"
The response type of [`readUrl`](https://github.com/backstage/backstage/blob/e47f2a3c095227245e5ac0048daa6fbea989ea8b/packages/backend-common/src/reading/types.ts#L82), [`readTree`](https://github.com/backstage/backstage/blob/e47f2a3c095227245e5ac0048daa6fbea989ea8b/packages/backend-common/src/reading/types.ts#L155), and [`search`](https://github.com/backstage/backstage/blob/e47f2a3c095227245e5ac0

[2021-07-20 11:50] freben commented on #6547
There was no assumption on the API level that users were always going to read _only_ text format things using the `UrlReader` API. It's actually a bit odd that the github implementation is made that way since it kinda limits the usage of the reader.

[2021-07-20 13:18] banshee86vr commented on #5584
Thanks @timbonicus, starting from a newer version of backstage it's working.

[2021-07-20 13:18] #5584 closed

[2021-07-20 14:03] ConnorDY opened #6553 "[TablePagination] Uncaught TypeError: _this.props.onChangePage is not a function"
We're using `@material-ui/core@^4.11.0` and experiencing the following error when clicking the button to go the next page:
[code]

This code previously worked:
[code]

TypeScript complains that `onPageChange` is needed and that `onChangeRowsPerPage` and `onChangePage` are deprecated.

So we changed the code to:
[code]

With this we're still getting the same error as above.

I tried creating a clea

[2021-07-20 17:57] douglasread commented on #6048
Hey @benjdlambert. I'm free to start working on these changes; just wanted to check whether you guys thought these additions were worthwhile beforehand.

[2021-07-21 07:22] rubenLindstrom commented on #5416
Hi @kiranpatel11, thanks for your input! The scope of our current work is to create an easily composable home page. As soon as we're confident in the API, we'll begin looking at what components we can contribute with, and a _Welcome Experience_ component certainly makes sense from my perspective, although we do have some other ideas as well.

We hope to create a system where it will be easy for ev

[2021-07-21 08:57] benjdlambert commented on #6048
Hey sorry @douglasread I missed your previous message. Sure go ahead! There's some folks out on holiday at the minute that built this originally, but I think go for it and we can get you some feedback on it when they're back!

Looks like some great additions! :tada: Will assign you!

[2021-07-21 10:26] adrianke77 commented on #5712
Confirmed to work. Thanks!

[2021-07-21 12:23] benjdlambert commented on #6553
@ConnorDY replied to you in Discord too, but if you wanna build up a PR for moving to the new library over `material-table` i'd be happy to take a look :)

[2021-07-21 12:40] tudi2d opened #6566 "Refactor CopyTextButton to use Clipboard API"
## Feature Suggestion

The `CopyTextButton` in `backstage/core-components` uses the deprecated `document.execCommany('copy');` functionality. The implementation currently requires a workaround creating a non-visible textarea with the visible text, which should be copied:
[code]
and manually triggering a select on the non-visible textarea:
[code]
This leads to issues related to a11y & creates an un

[2021-07-21 13:01] #4568 closed

[2021-07-21 13:32] #6529 closed

[2021-07-21 13:40] johanneswuerbach commented on #4995
Any update here? `pkgcloud` is now adding 10 vulnerabilities (2 low, 1 moderate, 6 high, 1 critical) when installing `@techdocs/cli`

[2021-07-21 14:23] Pike opened #6568 "Scaffolder: Have a way to do integration tests for fetch:template"
The `fetch:template` action in the scaffolder doesn't support an out-of-action integration test path. With the cookiecutter templates, one could just run the CLI.

## Feature Suggestion

Offer the templating logic as an export of the scaffolder module, or even as CLI.

## Context

Authors of templates would like to run intergration tests, or also use their templates outside of the backstage creati

[2021-07-21 14:48] benjdlambert commented on #6568
I can smell a `backstage-cli template --vars` or something here that could be useful.

[2021-07-21 16:10] jh-sh commented on #6553
@benjdlambert I guess this one is the same #6452

[2021-07-21 17:36] benjdlambert commented on #6553
Indeed @jh-sh - That's where I saw the other mention of `material-table`. Couldn't find it when I was looking for it.

[2021-07-22 07:54] axdotl opened #6577 "[GitHubAuth] Restrict org memebership for sign in"
When sign-in with GitHub on `SignInPage` only users which are member of a specific org should be allowed.

## Feature Suggestion

Our primary sign-in method is GitHub (we also use the GitHub org processor), so users have an overview about their owned services, etc.
Currently we're running an [oauth2-proxy](https://oauth2-proxy.github.io/oauth2-proxy/) in front of backstage, which requires a login

[2021-07-22 12:48] jvilimek commented on #5802
I am having the same issue.. and I see in the bworser console following error `[WDS] Disconnected!`
Working on Windows 10, starting the backstage via WSL2.

[2021-07-22 12:50] jvilimek commented on #5802
and it may be connected with this issue: https://github.com/microsoft/WSL/issues/4739
[code]

[2021-07-22 12:58] kissmikijr opened #6582 "[Plugin] Sourcegraph"
## Summary

The basic idea is that if you or your company already uses [sourcegraph](https://about.sourcegraph.com/) this plugin would give the possibility to search a components source code through the sourcegraph API.

It should extend the component entity page with a new tab called sourcegraph.  It should introduce an annotation to be able to enable this for the appropriate components ( the one

[2021-07-22 13:35] timbonicus commented on #6577
This should be possible using `signInProvider` once the GitHub portion of #6245 is available.

[2021-07-22 14:54] kissmikijr commented on #6582
I plan to start working on this, but didn't figure it out how can I assigne it to myself :/

[2021-07-22 15:05] benjdlambert commented on #6582
I can assign you!

[2021-07-22 21:49] cjconrad2 opened #6588 "Issue with parseGitUrl during register step of scaffolder"
I've been setting up a backstage instance for my company and I've run into an issue when trying to use a software template. Specifically, when I get to the register step, I get the following error:

`2021-07-22T21:27:53.000Z TypeError: Cannot read property 'length' of undefined
    at defaultScmResolveUrl (/scratch/backstage2/backstage/node_modules/@backstage/integration/dist/index.cjs.js:60:91)

[2021-07-23 01:10] cjconrad2 commented on #6588
I ended up needing to configure my template a little differently and was able to make it work. Initially I tried using the RepoUrlPicker field type, but instead I switched to separate project and repo fields and then constructed the input url in my publish and register steps. It seems unfortunate that I can't use the RepoUrlPicker, but what I have now works fine.

[2021-07-23 01:10] #6588 closed

[2021-07-23 07:12] blaryjp opened #6591 "Broken links when setting a sub-path in app.baseUrl configuration"
## Expected Behavior

If we set a `app.baseUrl` with a sub-path, all the links must use it and correctly redirect.

## Current Behavior

Backstage works well if we don't put a sub-path in the `app.baseUrl` config; otherwise, many links are broken because they don't have the sub-path.

For example (this is not the only one, many other links are also broken):
If I put `baseUrl: http://localhost:3000

[2021-07-23 09:48] satrox28 commented on #3926
We are working on the Gitlab Plugin, to show the pipeline status, retry pipeline, list contributors, list languages

[2021-07-23 10:30] eperdeme commented on #3926
This is great news. Could I ask for tasks such as retry/etc are you planning to use the users auth token to do this? Otherwise if its a backend shared API key, then any backstage user could gain elevated privileges.

[2021-07-23 11:31] satrox28 commented on #3926
Currently, we are trying to do only read operation so the API scope for the user required is Read API. Retry build is optional feature which we are thinking right now as any one on Backstage can trigger any other services build as Backstage don't offer RBAC.

[2021-07-23 11:46] joaomilho commented on #6365
Adding to @TejasQ , as a short term improvement, I feel we could go further and break the build, as console warns are not obviously noticeable. It is a better DX to get the error before the confusion ensues.

On a higher level note, 2 things:

1. I wonder if conflating backend and frontend config together is the source of the problem here. The design limitations here revolve around avoiding backen

[2021-07-23 13:29] madelson opened #6592 "Relax restrictions on component names"
## Feature Suggestion

Today, I when ingesting catalog info files I see the error `Error: "metadata.name" is not valid; expected a string that is sequences of [a-zA-Z0-9] separated by any of [-_.], at most 63 characters in total but found...`

## Possible Implementation

Hard to say; I'm not sure why component names are restricted in this way (still very new to Backstage!). I see that supporting `

[2021-07-23 13:42] freben commented on #6592
Hi!

You can make your own validation rule overrides by using [makeValidator](https://github.com/backstage/backstage/blob/master/packages/catalog-model/src/validation/makeValidator.ts#L33) and [passing that to the catalog builder](https://github.com/backstage/backstage/blob/master/plugins/catalog-backend/src/next/NextCatalogBuilder.ts#L18) in your [backend setup of the catalog](https://github.com/

[2021-07-23 14:00] madelson commented on #6592
Thanks @freben . Perhaps my enhancement request then is to make the default set of validation rules more flexible so that things like importing package dependencies will work "out of the box". Curious whether that change (and my use-case) seem reasonable to you?

[2021-07-23 14:04] madelson opened #6593 ""Next page link" broken"
When I click the right arrow to advance the table to the next page, it does not work.

![image](https://user-images.githubusercontent.com/1269046/126793070-6a455897-96eb-4732-97ac-a7f959d6bbb6.png)

## Expected Behavior

Advances to the next page of the table.

## Current Behavior

Fails with a JavaScript error:

[code]

## Steps to Reproduce

We created the instance a few weeks ago, and updated t

[2021-07-23 14:33] benjdlambert commented on #6546
Hey @mysticmode how is this deployed? Is it just on a machine or k8s? Also what do you have in front of it? Load balancer or Ingress, nginx? or are you just hitting the machine directly?

[2021-07-23 14:34] freben commented on #6592
Probably not - at-signs maybe, but I'd say not slashes. Besides, the current rules are 1:1 to the actual k8s rules which are kind of familiar and easy to type out and render in URLs etc.

I'd say the best way here is a canonical encoding in the name, eg `company--abc-xyz` or so. And then we could work toward having adding `metadata.title` support for other kinds than just `Template`. That way you

[2021-07-23 14:34] benjdlambert commented on #6542
Think you might want to use the `output` from the `publish` step as the URL right @regicsolutions? and the `catalogInfoPath` should just be `/catalog-info.yaml` if it's in the root? I'm pretty sure that we tested this with a very similar setup to this: https://github.com/backstage/backstage/blob/master/plugins/scaffolder-backend/sample-templates/react-ssr-template/template.yaml#L72 and it worked

[2021-07-23 14:42] petejespersqbe commented on #4665
Hi. I've been setting up TechDocs recently and encountered something similar.

I was running on `release-2021-06-03` and adding the legacy `techdocs.requestUrl` and `techdocs.storageUrl` to app-config.yaml didn't fix it (after finding the cause I now understand why). I upgraded to `release-2021-07-16` and still had the same issue.

For me the issue began with the entity metadata lookup:
`https://m

[2021-07-23 14:44] madelson commented on #6592
I think `--` is actually disallowed currently (at least I was getting errors until I removed it from names).

This would definitely help with the usability issue and seems like a great build if the team intends to keep the current restrictions.

In my opinion, though, it would still be ideal if users of the system didn't have to do the name mangling and could just use the "true" names of their com

[2021-07-23 14:50] freben commented on #6592
That was actually relaxed in a recent pull request! Should be released yesterday, if not even the week before.

Yeah I understand. The trickiest thing here is that we've this established standard of how to encode `kind:namespace/name` triplets _without encoding_, and it gets into unsolvable situations where we don't know if a segment is part of a name or a namespace if there are slashes.

To be ab

[2021-07-23 14:57] Rugvip commented on #6365
I think adding a warning/error when filtered config values are accessed in the frontend is a great idea, I might have a look at if I can get that in. Probably just do it for development mode though, as I wouldn't want to bloat production builds with all of that extra information. Pretty much all of the confusion that we've seen is during development anyway, as in "why doesn't this config value tha

[2021-07-23 15:23] andrewthauer opened #6596 "EntityPage tab height displaying incorrectly in Firefox"
When viewing the EntityPage in Firefox, the tabs under the page header are sometimes cut off.

## Expected Behavior

Tabs should always be rendered at full height like:

<img width="866" alt="image" src="https://user-images.githubusercontent.com/6507159/126803908-6d3c42b9-6804-43b3-9231-0df0f80104ad.png">

## Current Behavior

At some browser screen widths the tabs are rendered like:

<img width="

[2021-07-23 15:40] kuangp opened #6597 "Search page doesn't respond when entering search terms from sidebar"
## Expected Behavior
When you're on the search page, entering new terms from the sidebar search input box should update the search page

## Current Behavior

Updating search terms from sidebar doesn't update query param, search bar, or search results.

## Possible Solution
`SearchContext` and `SearchBar` components needs to respond to changes to initial search term prop

## Steps to Reproduce

1.

[2021-07-23 16:24] mysticmode commented on #6546
Hi @benjdlambert - Thanks for the reply!

I'm doing with multi-stage Docker build and NGINX. This is the Dockerfile in the root directory [taken from Backstage Docs](https://backstage.io/docs/deployment/docker#multi-stage-build) with little modifications where I have added `cookiecutter` and couple other packages via `pip`. On `CMD` - `app-config.local.yaml` is included as well.
[code]
I'm running

[2021-07-23 19:32] timbonicus commented on #6593
Thanks for the report! This is a duplicate of #6452 and #6553, which are linked to the pull request #6581 that should fix this once merged. You can try this [potential workaround](https://github.com/backstage/backstage/issues/6452#issuecomment-880176906) in the meantime, and please report on that ticket if it worked for you.

[2021-07-23 19:32] #6593 closed

[2021-07-23 21:24] regicsolutions commented on #6542
Ya, that worked. Thanks!

[2021-07-23 21:24] #6542 closed

[2021-07-23 21:41] timbonicus commented on #2876
#6586 is not a complete solution, but at least exposes some catalog refresh errors on entity pages.

[2021-07-24 00:35] abgn opened #6603 "Inherit techdocs location in a system/domain"
## Feature Suggestion
If a component or resource is a part of a system or a domain and the techdocs annotation is unspecified it would be nice if the location of documentation is inherited.

## Context
I would like to write documentation on the highest level of abstraction and still have the individual components in a system/domain to link back to it.

[2021-07-24 07:32] #5698 closed

[2021-07-25 04:26] chuliang014 opened #6604 "The way to change Catalog Page title"
Hi,

Is there a way to change Catalog page title?
![image](https://user-images.githubusercontent.com/56138162/126887677-634f4574-1b93-4e8f-a7d9-95546028d424.png)

[2021-07-25 04:33] henry232323 commented on #6591
This is an extension of [this bug](https://github.com/ReactTraining/react-router/issues/7216) in React Router, which is currently pending a [pull request](https://github.com/ReactTraining/react-router/pull/7462). When using `Link`'s, they will resolve normally unless they are absolute paths, i.e. prefixed with `/`

[2021-07-25 05:03] chuliang014 commented on #6604
I am wondering if there is any possibility to make this prop configurable.
![image](https://user-images.githubusercontent.com/56138162/126888306-4ceabd04-2f70-45c3-aca8-755e36ea430d.png)

[2021-07-25 12:12] andrewthauer commented on #6603
@abgn - I'm not 100% following what your suggesting here. Can you clarify? In your scenario where is the documentation located? Is it on the domain/system or component? Are you trying to aggregate component level documentation into the parent system/domain?

Also #5913 might be relevant to this discussion.

[2021-07-25 13:22] #5719 closed

[2021-07-25 21:16] manusant opened #6605 "[Plugin] Github apps discovery plugin"
## Summary

Catalog scanning across a Github enterprise server with multiple organizations is complex to setup specially regarding authentication. This plugin tend to use github apps integration already in place to leverage catalog discovery across repositories under organizations where a specific app is installed and permissions are granted, facilitating on-boarding of existing organizations and

[2021-07-25 21:17] manusant commented on #6605
Can someone assign this directly to me since i already developed the first version of it.
Thanks

[2021-07-25 21:44] manusant commented on #6537
Not related to this issue but i've been working in a new plugin that works for cross-organization scanning with a single github app (needs to be installed). Please have a look: https://github.com/backstage/backstage/issues/6605
Expecting to integrate it as soon as possible.

[2021-07-25 22:47] allentv commented on #6519
Is someone working on this?

[2021-07-26 06:51] benjdlambert commented on #5682
@OrkoHunter for visibility here, wondering if you and @mtlewis wanna pick this up and have a prod around what's taking so long? Could be log writes, or it could be the `git.add`? not sure.

[2021-07-26 06:54] benjdlambert commented on #6546
@mysticmode, so I think this as something to do with nginx config and the location config not really supporting the connection of event sources. Can you try following this and report back?

https://stackoverflow.com/questions/13672743/eventsource-server-sent-events-through-nginx

[2021-07-26 08:23] mysticmode commented on #6546
You are correct, the settings for NGINX is not correct for event sources to work. The stackoverflow link you've shared helped me correct the NGINX script. Now I have checked, the logs are getting displayed correctly.

For future references, I'm sharing the NGINX config script here:
[code]

@benjaminr - Thank you!

[2021-07-26 08:28] benjdlambert commented on #6546
Ok perfect - I'm wondering if we should add this to documentation somewhere too. Do you think you could find a suitable place as to where it could go seen as you've just been through this and probably have a good idea where it should be? :)

[2021-07-26 08:43] benjdlambert commented on #6532
@dehamzah so if you try register this does it work? https://gitlab.com/dehamzah/catalog-model/-/blob/master/examples/components/artist-lookup-component.yaml

The `catalog-import` plugin needs some love unfortunately, the feedback that you get in the UI is that you're getting a location added, but there's no entities being produced from it. I have a feeling that if you use the above URL you should

[2021-07-26 08:51] mysticmode commented on #6546
IMO - it helps definitely! We could refer some other self-hosted applications. The first place I looked for is Deployment when I did this.

[Gitea comes to my mind now](https://docs.gitea.io/en-us/reverse-proxies/).

We could put up a separate section under `Deployment` saying "**Setting up reverse proxies**" and we could add NGINX, Apache, Caddy etc,. with appropriate configurations.

I'm going t

[2021-07-26 08:54] benjdlambert commented on #6546
@mysticmode - so you mean somewhere under here? http://backstage.io/docs/deployment/

[2021-07-26 08:55] mysticmode commented on #6546
That's correct.

[2021-07-26 09:19] OrkoHunter commented on #6519
@allentv Doesn't look like it. Would you like to work on this?

[2021-07-26 09:20] TejasQ opened #6606 "[RFC] Improve Developer Experience of LDAP Plugin"
**Status:** Open for comments

## Need

Currently, the LDAP plugin is quite opaque: when using it to read and ingest users from an LDAP service, we have nearly no output other than one line in the logs:

[code]

When `LOG_LEVEL=debug` is used, we get a little bit more, but not nearly enough to facilitate efficient development. Specifically, we do not know when:
- the plugin boots up,
- the plugin

[2021-07-26 09:35] #6546 closed

[2021-07-26 09:55] blaryjp commented on #6591
Thank you @henry232323 ! I'll take a look

[2021-07-26 10:35] dehamzah commented on #6532
Yes it will work if I use this link: https://gitlab.com/dehamzah/catalog-model/-/blob/master/examples/components/artist-lookup-component.yaml

I also got the same behavior when trying to import a catalog from a branch that has `/` for example: `feat/test1`. This url returning no entity too: https://gitlab.com/dehamzah/catalog-model/-/blob/feat/test1/examples/components/artist-lookup-component.yaml

[2021-07-26 10:55] freben commented on #6606
I vote yes for all of these! Path of least surprise and most visibility.

[2021-07-26 11:52] andrewthauer commented on #5225
Having a search/command palette that is activated via a global keyboard shortcut would be amazing!

[2021-07-26 13:05] stephane-mori opened #6608 "Allow to configure SAML auth acceptedClockSkewMs"
SAML authentication can be configure in app-config.yaml file. Some options are available such as entryPoint, issuer or other.
acceptedClockSkewMs option is not available.

## Feature Suggestion

Allow to configure SAML auth acceptedClockSkewMs

## Possible Implementation

I already tried an implementation.

in plugins/auth-backend/config.d.ts b/plugins/auth-backend/config.d.ts
add `acceptedClockSk

[2021-07-26 13:34] OrkoHunter commented on #6547
Buffer makes sense - sounds good to me!

[2021-07-26 13:34] #6547 closed

[2021-07-26 17:58] Charizard commented on #6519
@OrkoHunter I would like to take a stab at this.

[2021-07-26 18:37] benjdlambert commented on #6532
Sorry, I should clarify, there's no real special handling of gitlab URL's really, so it doesn't know that `/tree/` should be converted to `/blob/` if it's a file etc, which I think there's special handling of in the Github client as it will check if it's a folder etc first.

The slashes in branch names is also something that could be handled better in the catalog import plugin too, but currently i

[2021-07-26 18:42] benjdlambert commented on #5134
This is totally done and shipped - just missed this ticket.

[2021-07-26 18:43] #5134 closed

[2021-07-26 18:43] blaryjp commented on #6591
Hello @henry232323  : I checked the PR, but it seems that it'll not fix this problem.
The problem here is the `generatePath` function, and the code in react-router (in that PR) don't fix it: https://github.com/ReactTraining/react-router/blob/f3ae557471cd0402b4da10fc21a57bef57956dc1/packages/react-router/index.tsx#L755

What do you think?

[2021-07-26 18:53] henry232323 commented on #6591
Hmm, I recall hearing something about the rewritten path generation when researching the issue, not sure where though.
Have you given the PR a try to see if it resolves the issue in any capacity? I'm currently working through seeing if I can test out that PR but am running into some blockers, I'll update here if I am successful.

[2021-07-26 20:29] tragiclifestories commented on #5134
Oh, awesome! Sorry I completely forgot I said I'd do this 😅

[2021-07-26 21:58] henry232323 commented on #6591
I had success building the PR branch locally, then applying it as a patch with [patch-package](https://www.npmjs.com/package/patch-package). After some testing, it appears to fix every link I can find except using the search bar redirects back to root, and the register existing component button gives a blank page that yields no errors. I had to implement a BrowserRouter in App.tsx
[code]
I also ha

[2021-07-26 22:18] #5956 closed

[2021-07-27 07:28] lmasiero commented on #6519
Builds are failing while trying to use documentation. backstage-cli not found.
Perhaps a updated Dockerfile / packages.json could solve this issue?

[code]

[2021-07-27 07:50] benjdlambert commented on #6606
I wonder if it makes sense to also move over to using https://github.com/ldapts/ldapts instead of ldapjs. Maybe a nicer query API and looks to be maintained. Wondering if ldapjs is kind of no longer maintained?

[2021-07-27 09:07] tudi2d opened #6618 "Remove Filtered Table & CheckboxTree from core-components"
At the moment the Filtered Table component is only used in the FOSSA Plugin. In the catalog & the API docs we decided against this component (Context: https://github.com/backstage/backstage/pull/6397#discussion_r670007241)

| Filtered Table | CheckboxTree |
|:---:|:---:|
| <img width="861" alt="Screenshot 2021-07-27 at 11 06 18" src="https://user-images.githubusercontent.com/8904624/127127823-0e43

[2021-07-27 10:21] OrkoHunter commented on #6519
@lmasiero You're running backstage-cli from a different place than the one on docs https://backstage.io/docs/deployment/docker#multi-stage-build

`yarn --cwd packages/cli/bin backstage-cli ...` vs `yarn --cwd packages/backend backstage-cli`

[2021-07-27 14:04] chaliy opened #6619 "Can't resolve 'isomorphic-form-data'"
Going though [Getting Started](https://backstage.io/docs/getting-started/create-an-app) produce application that fail to start with `Can't resolve 'isomorphic-form-data' `

## Expected Behavior

```yarn dev``` starts application

## Current Behavior

```yarn dev``` starts application, but frontend application fails to load with error message:

[code]

## Steps to Reproduce

1. `npx @backstage/crea

[2021-07-27 14:07] benjdlambert commented on #6596
@tudi2d this isn't some regression from the performance work is it?

[2021-07-27 14:18] chaliy commented on #6619
Executing `lerna add isomorphic-form-data  packages/app` after `npx @backstage/create-app` fixes an issue.

[2021-07-27 14:38] tudi2d commented on #6596
will take a look at it

[2021-07-27 17:24] tudi2d commented on #6596
The linked PR would fix this issue. As far as I understand it is a different in how Grid Layouts are implemented. I saw another problem related to this. In Firefox the Tabs are breaking the width of the page leading to a weird scroll. To solve both of this issues the easiest thing would be to remove the Grid Layout from the page.

![firefox_tabs](https://user-images.githubusercontent.com/8904624/1

[2021-07-27 17:32] manusant opened #6625 "Techdocs frontend plugin not reading "techdocs.storageUrl" config"
## Expected Behavior
The _techdocs.storageUrl_ configuration is required if we want to run a standalone Techdocs server.
This feature is already supported by the bluguin as shown [here](https://github.com/backstage/backstage/blob/master/plugins/techdocs/src/client.ts)

Snippet:
[code]
## Current Behavior

Despite the fact that the code already support it, the configuration class doesn't have the p

[2021-07-27 18:48] blaryjp commented on #6591
Hello @henry232323 , thank you very much for your investigation.
I tried what you did: Indeed, it fixes the links inside the catalog table :).
I applied the modifications that you've written, but I still have the errors that you said (search, register existing component,...).
I don't understand.

Also, I've some others errors: the tab "docs" in a service have an error (http://localhost:3000/my/pat

[2021-07-27 19:51] henry232323 commented on #6591
I'm encountering the same 404 refresh issue when I host locally, but not in my deployed environment for some reason. The register component issue seems to be almost the opposite issue, redirecting to `/create/catalog-import` instead of `/catalog-import`. A lot of this seems to stem from overall lacking support for these extended base urls, which may take some proper changes within Backstage itself

[2021-07-27 21:43] benjdlambert commented on #6619
Yep - looks like there was an issue with the most recent release of `swagger-ui` we fixed it locally here #6626 but that won't be released until thursday, so will keep this around for reference for users that might come across this.

[2021-07-27 22:00] benjdlambert commented on #6618
Do you wanna work on this @tudi2d? or shall we add a `help-wanted` label on it?

[2021-07-27 22:01] benjdlambert commented on #6604
You can of course set `organization.name` in `app-config.yaml` to override the `Catalog` prefix, but if you wanted to replace the entire wording then I think you would have to use the components that the `plugin-catalog` exports to create your own `CatalogPage` at the moment.

[2021-07-27 22:13] tudi2d commented on #6618
Thanks for asking - feel free to add a `help-wanted` label :)

[2021-07-28 02:00] regicsolutions commented on #5848
@Fox32 were you ever able to get this working with the background @KatherineZhou provided?

[2021-07-28 07:35] #6596 closed

[2021-07-28 08:53] TejasQ commented on #6606
This is a lovely idea! TypeScript for life!

[2021-07-28 09:53] dhenneke opened #6632 "[RFC] [Scaffolder] Have a global environment context that is accessible by all templates"
**Status:** Open for comments

## Need

Have a common set of arguments that are provided to every template that is executed in a Backstage installation. These arguments are config driven, i.e. the values could differ between different Backstage installations (Company A, Company B, ...) or deployment stages (dev, staging, prod). This enables `Template`s that behave slightly different in each instal

[2021-07-28 10:21] #6608 closed

[2021-07-28 10:31] pashcan commented on #6360
@andrewthauer That sounds super useful! If you have something shareable :crossed_fingers: I am sure many would benefit from this.

[2021-07-28 11:10] egnwd commented on #4665
@iamEAP Hi, sorry again for the delay, I've tested this without this config and it seems to still work for me. Would you like me to close the issue or leave it open given the comment above from @petejespersqbe?

[2021-07-28 11:13] dhenneke commented on #6360
You can also use `backstage.io/techdocs-ref: dir:.` to link to a `mkdocs.yml` that is stored relative to your `catalog-info.yaml` file. This could be a intermediate solution to simplify the configuration, even though you still need to add it to your entity.

[2021-07-28 11:22] pashcan commented on #6360
@dhenneke True dat. And I guess if they are adding mkdocs.yml via CI can also just add annotation at the same time. Also thanks to #6495\, you might even be able to drop `dir:` part.

[2021-07-28 11:25] dhenneke commented on #6360
Unfortunately, this specific feature was removed from the PR. I probably need to update the PR title to better describe the change that was merged.

[2021-07-28 11:38] NishkarshRaj commented on #3724
@benjdlambert @kaparwan Thanks! I was stuck on same issue and this thread worked like a charm :)

[2021-07-28 11:48] kaparwan commented on #3724
That's great to know :-)

On Wed, Jul 28, 2021 at 9:39 PM Nishkarsh Raj ***@***.***>
wrote:

[2021-07-28 12:43] laceyallyn commented on #4781
Hey there, I'm a the Product Manager for Backstage in Zalando, and I'd really like and update on this topic, as it's a topic that's coming up over and over from our users. We already have a global search across documentation and it's just not solving the problems our users need it to, and it's highly impacting adoption at the moment.

Without a solid timeline for this, we are seriously considering

[2021-07-28 13:39] laurieontech opened #6636 "Create-plugin does not respect current app dependencies"
## Expected Behavior

The create-plugin command should respect the versions of backstage packages currently installed in the app.

## Current Behavior

Using the create-plugin command installs a new plugin with backstage dependencies that use caret notation, it then runs a yarn install. This bumps backstage packages in the yarn workspace for the entire project and creates mismatches.

## Possible

[2021-07-28 13:45] Fox32 commented on #4781
@laceyallyn With the techdocs collator (#6375) and the search v1 milestone now it place, this is a frontend only change. You can query the search backend and scope it to a single entity by passing filter queries (`name`, `kind`, `namespace`), filter it by `type` `techdocs` and pass the user supplied `term`. I guess the main issue is finding a way to visualize the results.

The issue is marked as h

[2021-07-28 14:50] #6553 closed

[2021-07-28 14:50] #6452 closed

[2021-07-28 17:47] mtlewis commented on #5682
Hi @mikkeschiren! Looking at the template you linked above, it seems like it no longer has this issue. It seems like perhaps you've switched to letting composer handle adding dependencies after the fact and thereby reduced the number of files in the template, is that right?

In any case, we do still have an issue with publishing being slow for templates with many files. I've done some digging on t

[2021-07-28 18:05] mtlewis commented on #5682
**TL;DR it looks like we can make publish fast by switching from running add one-by-one for each file in the template to running `git.add({ dir, filename: '.' })`. This gets us to a reasonable publish time even for templates with thousands of files. Have opened https://github.com/isomorphic-git/isomorphic-git/issues/1402 to try to confirm this is a safe way of adding all the files in the repo.**

[2021-07-28 18:58] blaryjp commented on #6591
Hey @henry232323 , thank you again for your investigations.
You're right, it'll be easier on Discord.

[2021-07-28 20:42] n2ygk opened #6642 "catalog import YAMLSyntaxError is logged but not report on entity import."
## Expected Behavior

A YAML syntax error should be an error, not a warn-level status and should cause catalog import to fail.

## Current Behavior

Import appears to succeed, reporting a location of the import (for example of a Template), but the imported entity
is partially missing. It's impossible to reimport after fixing the YAMLSyntaxError because the location table entry has been
created and

[2021-07-28 20:42] n2ygk commented on #6642
[template.yaml.txt](https://github.com/backstage/backstage/files/6896349/template.yaml.txt)

[2021-07-28 20:49] n2ygk commented on #6642
PS: after fixing the tab in the sample file I also had to change a tag from `REST` to `rest` due to the policy check requiring lowercase... However the import succeeded once that was done.

[2021-07-29 08:05] benjdlambert commented on #5682
Nice one @mtlewis, great write up and nice find!

[2021-07-29 09:31] samiramkr opened #6648 "[RFC] Auth Redirect"
**Status:** Open for comments

## Need

In the Auth plugin in Backstage, when a request comes for authentication, Backstage detects the redirect URL from the `app-config.yaml` file which can be just an URL. At Spotify, we deploy UIs in a test environment that has a different URL than the production one. We need Backstage to be able to redirect back to a list of valid URLs.

### Current state

Now

[2021-07-29 09:40] freben commented on #6648
Hmm.

Usually you would only need one such param _per deployment_ right? What we usually do is to have config that changes per deployment;  by merging in several config files and/or using env variable substitution in the config. Could you set the base url and/or redirect to be something like `${TESTRUNNER_DEPLOYMENT_URL}/api/...` in an `app-config.testrunner.yaml` that's only used in the test env?

[2021-07-29 09:40] joaomilho commented on #6648
I would add the risk of not implementing the whitelisting correctly, and therefore allowing some malicious plugin to send users to a different place where they would collect data. Given providers also rely on whitelists this scenario is very unlikely, but it's worth doing the proper security due diligence when implementing it.

[2021-07-29 09:43] joaomilho commented on #6648
I would say this _is_ a viable option. On the other hand, we don't have any other reason to keep a testrunner specific config and as a principle we want to keep it's config as close to prod as possible (but again, I don't feel this particular case contradicts that). We already do that in the test environment, ofc.

[2021-07-29 10:41] Pike opened #6649 "[scaffolder] Link to documentation of a template if it exists in TemplateCard"
I've created documentation for a template (just local dev for now), and it'd be nice if that doc would be linked from `http://localhost:3000/create/`

## Feature Suggestion

Add link to documentation for scaffolder templates. This would help in cases where you want to share more context about what a template would be good for. Say you have a few dashboard templates, and you want to explain to a da

[2021-07-29 12:06] freben commented on #6648
Right but, I think this solution might be the right one in this case unless I am missing something - remember that the configs are merged together, so the only thing in the test runner config will probably be "in this env I'm deployed on this dynamic host name given through the env" and everything else is the same. Sounds best to me to have that as a strict single setting with the right value for

[2021-07-30 00:29] kiranpatel11 opened #6657 "Real User Monitoring: Generic support in CLI package for different Monitoring Provider"
We are facing challenges in getting the NewRelic Browser/RUM monitoring working.

We noticed the changes made in `cli` package for GoogleAnalytics and DataDog via this PR : https://github.com/backstage/backstage/pull/5374

## Feature Suggestion

Can it be refactored to support RUM in more generic way without making provider specific changes in core cli module ?

## Context

We tried different appr

[2021-07-30 01:15] abgn commented on #6603
@andrewthauer exactly, the idea is that the "generic" documentation might reside at a domain/system level with breakouts of more specialized documentation at component/resource level. Not everything need to be documented but most likely everything need to have some documentation attached to it.
#5913 would probably solve this though since my main gripe right now is that /docs gets pretty busy when

[2021-07-30 01:57] kiranpatel11 opened #6658 "catalog register action: failing for bitbucket server"
The build-in scaffolder action for catalog register failed with below exception when used with on-prem Bitbucket Server.

## Expected Behavior

The error should not come and scaffolded entity should get registered with backstage catalog.

## Current Behavior

register action is failing with below exception :

[code]

## Your Environment

Snippet of the template.yaml
[code]

- NodeJS Version : v14

[2021-07-30 05:39] kiranpatel11 commented on #6657
Also does the `cli` bundler, replaces the config placeholders (clientKey, AccountId, etc) at build-time or run-time ?

It seems to be build-time to me, if that is the case, its also cumbersome to build image per environment as we have different configuration for non-prod and prod.

[2021-07-30 06:01] kiranpatel11 opened #6661 "Templates: Ability to pin recommended templates"
To make the recommended templates visible when user land on **Templates** page, allow to pin those templates at
the top of the grid.

## Feature Suggestion
Similar to how core plugins are visiable at the top of the marketplace here https://backstage.io/plugins. The recommended templates should appear at the top in the Templates page.

## Context

In a large org, there are quite a few templates add

[2021-07-30 08:05] #6326 closed

[2021-07-30 09:24] benjdlambert commented on #6619
Closing this as it should be fixed with the release that went out yesterday. Please feel free to re-open if it is not.

[2021-07-30 09:24] #6619 closed

[2021-07-30 09:29] OrkoHunter opened #6662 "`npx @backstage/create-app` should accept output path as an option"
## Feature Suggestion

If I run `npx @backstage/create-app .` the new backstage app's files should be created at my current location, rather than inside a new directory with the name of my app.

So instead of
[code]

the tree should be

[code]

If the output path is missing, the current behavior should remain the same.

## Possible Implementation

Accept an optional `[PATH]` as an argument of the

[2021-07-30 11:00] andrewthauer commented on #6360
Definitely considering contributing bits of this. Much of this was hand rolled prior to the full techdocs solution, so we are in the process of migrating over to use more of the full techdocs solution. Once that's done, it should hopefully be a bit easier to contribute the mkdocs.yml not required feature and a couple of other things.

[2021-07-30 11:10] OrkoHunter opened #6666 "`npx @backstage/create-app` should support a `--tiny` or `--bare` flag"
## Feature Suggestion

It should be possible to create a new Backstage app with bare minimum dependencies (plugins) installed.

## Possible Implementation

For the tiny Backstage app, we can probably remove the following from the current [default create-app template](https://github.com/backstage/backstage/tree/master/packages/create-app/templates/default-app)

- api-docs plugin
- tech-radar plugin

[2021-07-30 12:33] joaomilho commented on #6648
Oh, I tripped. We decouple the UI deployments from the backend deployments, and the test UI builds point to the production backend, so the backend is not aware of the URLs, therefore rendering the app-config solution not useful for our use case.

[2021-07-30 13:29] feedmypixel opened #6669 "After upgrading Material UI Core to 4.12.2 Core components gives warning messages in dev console"
After updating our backstage dependencies using `backstage-cli versions:bump` up to [release-2021-07-29](https://github.com/backstage/backstage/releases/tag/release-2021-07-29) I now get the following errors in my dev console:

-----

### theme.mixins.gutters() is deprecated
[code]
Associated with [packages/core-components/src/layout/Content/Content.tsx#L27](https://github.com/backstage/backstage/

[2021-07-30 13:41] zwk5004 opened #6670 "Allow for multiple GitHub authentications to support multiple GitHub integrations"
## Feature Suggestion
In our use case, we have integrations with two orgs.  One is on the public github.com and one is hosted on an internal network.  Because of this, we need to be able to have multiple GitHub authentications to be able to access the data pulled from each of the organizations.  In testing, we are able to work with multiple orgs from the same GitHub instance, however, when multipl

[2021-07-30 13:52] benjdlambert commented on #6669
@feedmypixel would you like to contribute these fixes 🙏

[2021-07-30 14:00] #4619 closed

[2021-07-30 14:09] benjdlambert commented on #6670
So for a little more context here, the issue is that the `github` plugins use the users ouath token when signed in using the `githubApiRef`. The problem we have here is that the `githubApiRef` is only for one signed in account, so the plugin doesn't have any awareness that there could be multiple accounts signed in.

I guess we have a few options here, supporting multiple github logins and then ge

[2021-07-30 14:30] samirparhi-dev opened #6672 "[Plugin] Meshery -A Servicemesh Management plane"
## Summary

What is Meshery ?
Meshery is the open source, service mesh management plane that enables the adoption, operation, and management of any service mesh and their workloads.

## Project website (if applicable)

https://meshery.io/

## Context
This is to enable the Backstage user to get meshery out-of-the box catalog.

[2021-07-30 14:31] samirparhi-dev commented on #6672
Hello Team, Please assign this issue to me (@samirparhi-dev )

[2021-07-30 20:46] regicsolutions commented on #6658
I ran into this error as well in Bitbucket Server 7x and was able to get passed it by just adding `browse `in front of `catalog-info.yaml
`
[code]

[2021-07-30 22:43] #5345 closed

[2021-07-31 18:18] #5751 closed

[2021-07-31 22:18] #5812 closed

[2021-08-01 00:55] #5815 closed

[2021-08-01 22:24] #5670 closed

[2021-08-02 01:00] kiranpatel11 commented on #6658
Thanks...Its working after the suggested change.

[2021-08-02 01:14] kiranpatel11 commented on #6658
Hi @benjdlambert , we are using below versions:

[code]

[2021-08-02 06:37] prasaria opened #6681 "Link group ownership boxes through to filtered catalog page"
## Feature Suggestion

Link group ownership boxes through to filtered catalog page

## Possible Implementation

## Context

In the group page there is Ownerships Card, containing Services , Documentation and other boxes that the particular group owned. I want to implement an active link if one of these boxes (eg: Services) is clicked , the page will moved to a filtered entity catalog page that is

[2021-08-02 09:33] benjdlambert commented on #6658
Not really but that looks like an old version. Can you try the latest version? Do you still need to add that `browse` prefix? You shouldn't need to. Also what's the output of `yarn why git-url-parse`

[2021-08-02 12:39] freben opened #6684 "catalog: avoid unnecessary write + stitch work"
## Feature Suggestion

The catalog repeatedly re-processes all entities in the catalog. It writes the result of doing so to different output tables and then issues a stitch step, both for the entity itself and for all entities that it has references to.

The write + stitch is expensive. We should skip that entire part of the process if the output is identical to the previous processing round, sinc

[2021-08-02 13:15] dhenneke commented on #6632
Some updates: When I wrote the "Risks" section above, I already noticed that I actually don't really like my proposal. So we went with implementing **Alternative 1** instead. We created a new `sdase:getEnvironment` with a proper output schema so all properties are visible in `/create/actions`.

More tricky is the idea of wrapping existing field-extensions since the return value of `createScaffolde

[2021-08-02 13:46] Rugvip opened #6687 "scaffolder: sample templates should validate component name properly"
## Expected Behavior

Components created through our sample templates should always be possible to register in the catalog using the default validation rules.

## Current Behavior

The validation of the entity name in our sample templates is too lax, for example allowing spaces. This will break the catalog registration step when creating the new component.

## Possible Solution

Validate the name

[2021-08-02 13:48] Rugvip commented on #6687
As pointed out by @mtlewis this needs to be fixed in https://github.com/backstage/software-templates/tree/main/scaffolder-templates as well :grin:

[2021-08-02 13:59] mtlewis commented on #6687
Adding the [pattern used to validate entity names](https://github.com/backstage/backstage/blob/82b6d84cf3dfcefe0ce4c49935e4b737d0d223f9/packages/catalog-model/src/validation/KubernetesValidatorFunctions.ts#L51) results in pretty ugly error messages (see screenshot below), and by copying it into the template we also leave ourselves open to the risk that the requirements for entity names change and

[2021-08-02 14:16] n2ygk commented on #3656
@Fox32 Stale but can I reopen? Now getting to the point where I might try to develop this but will need help I think.

[2021-08-02 14:28] maxhuebler opened #6689 "GitLab scaffolder visibility not working, private when set to public"
## Expected Behavior

When creating a component through backstage, during the publish stage I expect the app to be set to public instead of private.

## Current Behavior

The repository that is created is set to private scope instead to public

## Possible Solution

## Steps to Reproduce

1. Set visibility to public in app-config.yaml
2. Create component pointing to a public group
3. Repository is

[2021-08-02 15:07] Patil2099 commented on #6669
I would love to work on it.

[2021-08-02 15:30] #5834 closed

[2021-08-02 16:31] setchy commented on #5507
👍 for LaunchDarkly plugin

[2021-08-02 16:32] freben commented on #6666
Could also be implemented in terms of an entirely separate [template](https://github.com/backstage/backstage/tree/master/packages/create-app/templates) instead. Question is how well this all scales in terms of maintenance.

[2021-08-02 16:33] freben commented on #6666
I mean, in an ideal world, the default template is the completely bare one, and plugin installation is trivial.

[2021-08-02 16:40] setchy opened #6692 "[Plugin] Apollo Studio"
## Summary

Apollo Studio is a central access hub for interacting with and managing GraphQL APIs.

Some of the key capabilities it provides is
* Explorer / Sandbox: web-based GraphQL IDE similar to GraphiQL or GraphQL Playground, but with a swag of nifty features
* Schema: centralized schema registry
* Schema history: changelog / timeline for schema changes as GraphQL SDLs evolve* Trace warehouse:

[2021-08-02 16:52] setchy opened #6693 "[Plugin] LeanIX - Application Portfolio Management"
## Summary
LeanIX is a SaaS-based architecture tool that allows you to model your organizations landscape (people, process, technology) as fact-sheets (ie: `applications`, `it components`, `business capabilities`, `user groups` etc).  Each fact-sheet type has a series of metadata attributes you can capture, such as lifecycle milestones (phase in, phase out, retire), successors, predecessors and re

[2021-08-02 18:10] cal5barton commented on #4065
@regicsolutions what was the fix for this?

[2021-08-03 06:30] vannarath-poeu opened #6695 "[Cost Insights] Currencies"
Is it possible for us to override the defaultCurrencies in config? Also, is it possible to set the defaultCost to USD instead of engineers>

## Feature Suggestion

I am raising this request as there are organisations that spread across regions and the engineering cost is not applicable as they vary between teams.

## Possible Implementation

One possible implementation is to allow override the def

[2021-08-03 07:21] #4409 closed

[2021-08-03 07:28] iamEAP opened #6696 "[TechDocs] repo_url no longer being set on mkdocs.yml"
## Expected Behavior

TechDocs common's generate stage should be automatically decorating `repo_url` on a site's `mkdocs.yml`, enabling page edit links.

## Current Behavior

This behavior has been lost / left behind as TechDocs has migrated away from git/common prepares toward URL and directory-based preparers.  See #6639

## Possible Solution

- It should be possible to use the ScmIntegrations i

[2021-08-03 09:44] #5800 closed

[2021-08-03 10:01] benjdlambert commented on #6689
@maxhuebler I think this has actually been changed now so that it is a parameter you pass through on the action in the `template.yaml` it's not config driven anymore as sometimes you want the user to say if `private` or `public`.

I think under `publish:gitlab` action you can pass an `input` parameter called `repoVisibility: public`.

We should update the docs or remove the config either way.

[2021-08-03 10:05] benjdlambert commented on #6687
Yeah, we could have a `componentName` picker, one thing to consider however, is that people can override their own validation logic in the catalog too https://github.com/backstage/backstage/blob/82b6d84cf3dfcefe0ce4c49935e4b737d0d223f9/packages/catalog-model/src/validation/makeValidator.ts#L24

So we have to support this validation being overridden and it being duplicated, or we expose the validat

[2021-08-03 10:54] OrkoHunter commented on #6666
@freben Hmm, I'm not sure if the _current_ default template is the bare app in its smallest form. If my first instinct after creating a Backstage app is to remove a couple of plugins which I don't need at the beginning (e.g. techradar), I think it can be further simplified. :) The same argument doesn't suit for Catalog since that is something you'd start with.

[2021-08-03 11:14] iammuho opened #6699 "Group tabs with IF condition are not changed with page change, but with browser refresh."
When I go from subgroup to parent group(or vise-versa), tabs are not disappeared or presented, but after browser refresh (simply f5) they change.

I've figured out tabs with IF condition only doesn't change, but rest is okay.

Example:
[code]

## Expected Behavior

Tabs should be adjusted depends on the entity and if conditions.

## Current Behavior

IF-conditioned tabs don't change.

## Possible

[2021-08-03 11:54] freben commented on #6666
No you are right, I meant that ideally the default should be completely bare. And that we should make it so trivial to add plugins, that the value of a non-bare template becomes almost zero

[2021-08-03 13:09] DanArlowski opened #6700 "Gitlab Techdocs endpoints going bad"
When using annotation `backstage.io/techdocs-ref: dir:./relative` the techdocs scaffold for an incorrect path when the

## Expected Behavior

should look in the correct repository path and not its parent's

## Current Behavior

repositroy have another directory:
`https://gitlab.com/org/subfolder/repo`
it looks in:
`https://gitlab.com/org/subfolder`

## Possible Solution
tried to add the repository

[2021-08-03 13:17] kuangp commented on #5905
Commenting to remove stale label, I may take a stab at this later when I have some time if no else picks it up

[2021-08-03 14:06] benjdlambert commented on #6699
Right ok - Managed to replicate this, it's basically when navigating without the catching `EntityLayout.Route` handler changing, it doesn't respond to the entity changing so we never call the `if`'s again with the new entity. Will dig into a fix and try and get something up tonight!

[2021-08-03 14:32] dhenneke commented on #6700
The URL resolution is done by the `@backstage/integrations` library. Currently, the GitLabOntegration uses the default resolver: https://github.com/backstage/backstage/blob/a88073c29afb0f1e9b591f8c5a0f2e1e992075b9/packages/integration/src/gitlab/GitLabIntegration.ts#L54

There aren't any tests for the `resolveUrl` function in GitLab so I wouldn't be surprised if it actually doesn't work yet: https

[2021-08-03 14:49] benjdlambert commented on #5918
@goober going to close this, please re-open if you think it's needed

[2021-08-03 14:49] #5918 closed

[2021-08-03 14:58] DanArlowski commented on #6700
so I was doing a quick search in gitlab, getting some public repos for you to enquire
https://gitlab.com/vicmanbrile_group/personal/guides/node-vanila
as you can see, there is a full path over dir with many subfolders (you can infer to it as small orgs inside bigger orgs :) )

I was just trying to do a POC with backstage,
If im allowed to rant a bit - I think the On boarding is super complex for n

[2021-08-03 15:06] maxhuebler commented on #6689
Okay cool, this solution worked. Thanks for the heads-up!

[2021-08-03 15:06] DanArlowski opened #6703 "on-boarding is quite complicated"
the On boarding is super complex for nothing - for the general purpose user i think allowing so much configuration via source code is blessed - but may complicate the deployment and on-boarding alot

## Feature Suggestion

 quick start on to how to on board my own Components and stuff - i think CLI based may be good:
attaching a repository that holds the configuration
`cli create service`
and an e

[2021-08-03 15:10] benjdlambert commented on #6689
No probs - gonna close this :)

[2021-08-03 15:10] #6689 closed

[2021-08-03 15:10] #6699 closed

[2021-08-03 15:13] #6365 closed

[2021-08-03 17:31] timbonicus commented on #6695
It's not possible in configuration today, but this definitely makes sense. The currencies were intended to be extensible, it just isn't implemented as such yet. The [defaultCurrencies](https://github.com/backstage/backstage/blob/master/plugins/cost-insights/src/utils/currency.ts#L32) show the currency fields (`engineers` is treated a bit special as it's time-based and a bit more complex than simpl

[2021-08-03 17:41] benjdlambert commented on #6681
I think @timbonicus tried to do this recently, but found it a little harder that first thought, maybe he can share some learnings here :)

[2021-08-03 18:18] #6669 closed

[2021-08-03 20:10] feedmypixel commented on #6669
@benjdlambert sorry I've only just seen this. @Patil2099 beat me to it (thank you) - thanks for the fix, I will run updates on our service in the morning 🙌

[2021-08-03 20:43] dhenneke commented on #6700
I tested in an on-premise GitLab (v14.1.x) installation but can't reproduce your error.

Here's what I did:
* I used `yarn dev` at the latest `master` commit of https://github.com/backstage/backstage
* I created two repositories `https://gitlab.<private>.com/a-test-group/repository-1` and `https://gitlab.<private>.com/a-test-group/another-group/another-repository`
* Each repo has a `catalog-info.y

[2021-08-03 20:55] timbonicus commented on #6681
This is made possible by #6367, which added query param support for catalog filters. The URL would end up looking like:

[code]

I think this should handle transitive ownership since it ends up being a catalog relation query. This would be a change in [OwnershipCard](https://github.com/backstage/backstage/blob/master/plugins/org/src/components/Cards/OwnershipCard/OwnershipCard.tsx#L138); could pot

[2021-08-03 22:19] timbonicus commented on #6703
Thanks for the feedback! There have been many discussions about the onboarding flow, such as in #2901 and #4741. The power of Backstage is its flexibility for any company, any infrastructure, any source control system -- but this lies in tension with a simple, plug-and-play experience.

It would be useful feedback to hear more about what you found complex. It sounds like getting a service created

[2021-08-04 06:51] kiranpatel11 commented on #6658
The output of `yarn why git-url-parse` :
[code]

[2021-08-04 07:05] DanArlowski commented on #6700
first of all - thanks for your help and time, it does not go unnoticed!

As Im running on a local postgres instance - so to make sure nothing god "cached", I scratched the psql and recreated it.

My Configuration is as follows

a backstage `Location` kind which sits in a general repository `...com/org/dir/repo`
[code]

the above target have the following configuration:
<details><summary>backstage-

[2021-08-04 07:29] DanArlowski commented on #6703
I do feel like a simpler plug and play will be better for smaller teams (Like my own), as the general "vibe" im getting from backstage is that it requires maintenance on an ongoing basis from the providing team, which may be a huge barrier for non-enterprises, and therefore becoming the de-facto standard for developer portals

I dont know if I really found it complex, or that I encountered some bu

[2021-08-04 07:56] vannarath-poeu commented on #6695
Hi @timbonicus,

Thanks for the prompt response and advice (especially the second one). I would appreciate it if you could have a look to see if my pull request would help this.

The intention is to let users pass in an optional prop to replace the defaultCurrencies in useConfig. Then, in the useCurrency, we will be reading from the config and if engineers exist in the list, it will be the default

[2021-08-04 08:49] FilipSwiatczak commented on #6216
FYI I've pulled changes by @barticus to my local contributor installation of backstage and the auto discovery for BB cloud is working well.
Ps.: does anyone know how to pull specific commit/pr for a particular package update inside lerna monorepo? I've copied the changes manually but using yarn add <url/commit ref> doesn't work. Cheers!

[2021-08-04 08:57] Rugvip commented on #6648
Wanna clarify that it's the `origin` option in the `postMessage` call from the auth popup window that is the thing we want to tweak rather than the redirect, although that doesn't really have any effect on the discussion.

The way we do this atm internally is by passing the extra information through OAuth state, it looks something like this:

1. Frontend initiates auth, it checks its own host and

[2021-08-04 08:59] dhenneke commented on #6700
You don't usually need to set the `backstage.io/source-location` annotation as it is set automatically [during the ingestion](https://github.com/backstage/backstage/blob/a88073c29afb0f1e9b591f8c5a0f2e1e992075b9/plugins/catalog-backend/src/ingestion/processors/AnnotateLocationEntityProcessor.ts#L79) process. It is used by the [techdocs build process](https://github.com/backstage/backstage/blob/b208

[2021-08-04 10:01] punkle opened #6710 "Handle expiring/expired auth tokens from github"
By default github times out github app user to server access tokens after 8 hours. This is not the case for Oauth apps. Backstage does not currently handle github access tokens that timeout and shows an alert "Bad credentials"

## Feature Suggestion
It would be fantastic if the github oauth feature was able to recognise that the token has expired and then renegotiate a new token with github.

## P

[2021-08-04 12:16] Rugvip commented on #6710
Most auth clients handle expiring tokens, and it's done through the [RefreshingAuthSessionManager](https://github.com/backstage/backstage/blob/71ca123f24c5aa74b84906454a6f5464dafc52cf/packages/core-app-api/src/lib/AuthSessionManager/RefreshingAuthSessionManager.ts#L42). The GitHub case is a bit tricky, as you have both this issue and the fact that permissions are handled completely differently wit

[2021-08-04 13:37] Symbianx commented on #6245
Opened a PR for Okta as well https://github.com/backstage/backstage/pull/6713

[2021-08-04 14:32] ryanvazquez commented on #6695
Hey @vannarath-poeu, thanks for the PR! Def reasonable to have currencies be configurable (we had actually planned for this a while back except the expected implementation was via `app.info-yaml` which `ConfigProvider` reads from).

I think this request brushes up against a larger question of how plugin configuration/customization should work moving forward, which I think warrants some discussion.

[2021-08-04 16:48] regicsolutions commented on #6687
The [react-jsonschema-form](https://rjsf-team.github.io/react-jsonschema-form/) library has a [extraErrors](https://react-jsonschema-form.readthedocs.io/en/latest/usage/validation/#custom-error-messages) option that looks like this:

[code]

Which would give us something that looks like this:
![image](https://user-images.githubusercontent.com/6157895/128220987-3b982477-4cbd-4e49-a8b6-928d5bc14354.

[2021-08-04 20:39] alexcurtin commented on #2566
Any news on this front?

[2021-08-04 22:17] ryanvazquez opened #6716 "[RFC] Cost Insights Configuration 2.0"
**Status:** Open for comments

## Need

Cost Insights currently maintains a top-level configuration in `app-config.yaml` for users to provide some required but mostly optional values such as metrics, products, engineerCost, etc. None of these options are deployment-dependent and in most cases are simply a way to customize UI. As such, [they are probably best suited as a TypeScript API and not as s

[2021-08-05 04:41] vannarath-poeu commented on #6695
Hi @ryanvazquez / @timbonicus,

Thank you so much for helping with this. These are really great insights. I have closed my previous pull request for now.

@ryanvazquez Thank you for initiating the RFC. I believe that would take quite some time and it should. Can I suggest a 2-pronged strategy to tackle this?
I have opened another pull request https://github.com/backstage/backstage/pull/6717 to all

[2021-08-05 06:02] msamad commented on #5426
Hi, is there not a way to override or append to this list somehow?
https://github.com/backstage/backstage/blob/master/packages/theme/src/pageTheme.ts#L57

[2021-08-05 06:40] prasaria commented on #6681
Yes, it will be a change in OwnershipCard. Thank you @timbonicus for the valuable information that u shared. Ok, I will try to implement this as soon as I can, and you can assign this issue to me.

[2021-08-05 06:47] ssaraswati opened #6718 "[Plugin] Add authentication token for SonarQube api calls"
## Feature Suggestion

Add authentication token to SonarQube plugin calls to the backend api proxy.

## Possible Implementation

IdentityApi from @backstage/core-plugin-api is used in other plugins like Jenkins and Kubernetes to provide these tokens.

## Context

Attempting to use the SonarQube plugin with the authentication setup detailed in [backstage/contrib/docs/tutorials/authenticate-api-requ

[2021-08-05 08:51] iamEAP opened #6720 ""Launch" Search Beta Release"
## What / Why

Lots of great stuff in #6569 and #6682 has effectively made production-ready search engines available.  These are still a little hidden from adopters, however, because they are not yet easily discoverable.

In order to "launch" the search beta, we need to make these things default / discoverable / clearly documented.

## Scope / UAT Target
- [x] As an App Integrator, my created app'

[2021-08-05 09:39] iamEAP commented on #4447
Closing this out as a result of #6569!  Thanks again Jussi.

[2021-08-05 09:39] #4447 closed

[2021-08-05 09:56] NishkarshRaj opened #6721 "Request to add Timestamps / Date in Changelogs"
Hi,

I have created a backstage application with `npx @backstage/create-app`
To maintain it,  I would love to be in sync with the changes and for the same, I would like it to be standardized to add a date in the [changelog](https://github.com/backstage/backstage/blob/master/packages/create-app/CHANGELOG.md) file.

Although it is possible to track date and time by seeing history and matching the co

[2021-08-05 10:08] Rugvip commented on #6721
One way to look up changes by date is to view the GitHub releases instead, https://github.com/backstage/backstage/releases. They include the changes for all packages in that release.

Otherwise this would really need to be a feature requests towards https://github.com/atlassian/changesets, as that's what we're using for change management.

[2021-08-05 11:16] FilipSwiatczak commented on #6216
Also I've noticed the processor polls for changes very frequently resulting in rate limit being hit for BB cloud users.
A setting for polling interval in ms would be desirable!

[2021-08-05 12:13] mtlewis commented on #6687
@regicsolutions great suggestions, thanks for pointing it out. There's definitely more we can do with respect to support for improved validation errors in general, especially when it comes to fields that are validated via the `pattern` property. I'd love to explore in particular how we can provide a generalized implementation of `transformErrors` that allows providing a custom error message alongs

[2021-08-05 12:17] Fox32 commented on #6720
Beside solving paging I would also throw in possible breaking changes around the collator, decorator and search engine design:

Right now the collator provides a list of all documents that should be indexed, which can be a big amount of memory. I would recommend to switch to a stream based API where the results are streamed from the collator to the decorators and then to the search engine. That wa

[2021-08-05 12:51] Fox32 commented on #6720
I could imaging a change like this: https://github.com/backstage/backstage/compare/master...SDA-SE:feat/experiment-search-redesign

If there are collators that can only return a full result they could still do it, if there are decorators that want to process all results at once they can keep doing it, and if a search engine want's to gather all results before submitting them it's still possible. B

[2021-08-05 13:25] spasumalaithevan opened #6725 "Jenkins pluging ci/cd tab is not displaying build information"
## Expected Behavior

Would like to see all build information in the CI/CD tab.

## Current Behavior

I see the Jenkins summary build (master) in the overview page. However ci/cd tab is not able to display other builds. See below exception in the logs.

backstage error Cannot read property 'building' of null type=errorHandler stack=TypeError: Cannot read property 'building' of null
    at _Jenkins

[2021-08-05 13:34] zwk5004 commented on #6670
From the sound of it, the use of `integrations` does seem easier as we are looking to utilize a separate authentication system for Backstage other than GitHub.

[2021-08-05 13:51] mtlewis opened #6727 "`yarn changeset` should omit packages that aren't versioned in the prompt"
## Feature Suggestion

When running `yarn changeset`, it shouldn't be possible to select packages for which a changeset isn't valid. `example-app` is one such package, but there may be more.

## Possible Implementation

## Context

Omitting the packages that should never appear in a changeset will help people get changesets right with less human feedback needed.

[2021-08-05 14:20] benjdlambert commented on #6725
What version of the Jenkins plugin are you using?

[2021-08-05 14:43] Rugvip commented on #5426
@msamad there is! https://backstage.io/docs/getting-started/app-custom-theme#creating-a-custom-theme

[2021-08-05 15:04] spasumalaithevan commented on #6725
@benjdlambert  Thanks for looking into this.
backstage/plugin-jenkins": "^0.5.0"
backstage/plugin-jenkins-backend": "^0.1.1"

[2021-08-05 15:31] mx-foxtel opened #6732 "API definition text can't be fetched from a non-GitHub location"
I am trying to point the definition.$text location to a URL which is non GitHub but there is an error in fetching the openapi spec file from that link.
## Expected Behavior

Backstage should be able to fetch OpenAPI spec from the specified location.

## Current Behavior

There is an exception thrown
[code]

## Possible Solution

## Steps to Reproduce

1. Step 1
2. Step 2
3. ...

## Context

## You

[2021-08-05 16:12] Rugvip commented on #6296
@grumpyoldman-io Sorry for the delay, vacations 😅 🏝️

There's actually no need to add a provider to the frontend as proxy based authentication is just used for the sign-in. The only thing that's needed is a custom `SignInPage` that can deliver the user profile and Backstage token. The best reference for that is https://github.com/backstage/backstage/blob/master/contrib/docs/tutorials/aws-alb-aad-o

[2021-08-05 16:19] mtlewis commented on #6727
Opened https://github.com/atlassian/changesets/issues/620 to request this feature in `@changesets/cli`!

[2021-08-05 16:44] iamEAP opened #6734 "[Search] Improve memory efficiency of indexing process"
## What / Why

The current `DocumentCollator` and `DocumentDecorator` interfaces expect an entire index's worth of data to live in-memory at index-time.  This makes sense with the out-of-the-box search engine (Lunr) because the index _itself_ lives in memory.  However, in even medium-sized Backstage instances, this can easily exhaust available resources.

We should update the interface so that col

[2021-08-05 16:49] iamEAP commented on #6720
Yeah, that makes a lot of sense, @Fox32!  Created #6734 to track.

What are your thoughts on a straight-up stream-based approach (where perhaps decorators would act like pipes) vs. AsyncGenerators as proposed?  I kind of naturally gravitate to the stream/pipe approach, but I have a weird history implementing data pipelines in node, so I don't actually know how idiomatic streams are.

[2021-08-05 17:18] Rugvip commented on #6732
See #6735 and let me know if the improved error message helps :grin:

[2021-08-05 23:05] msamad commented on #5426
@Rugvip Thanks for that, will give that a try.

[2021-08-05 23:46] mx-foxtel commented on #6732
Much helpful. Thanks.

[2021-08-05 23:46] #6732 closed

[2021-08-05 23:48] mx-foxtel commented on #6732
Issue resolved after setting
[code]

[2021-08-06 02:53] NishkarshRaj commented on #6721
@Rugvip Thanks! Will track the releases going forward 👍

[2021-08-06 02:53] #6721 closed

[2021-08-06 08:33] moltenice opened #6738 "Semaphore CI Plugin"
## Summary

Create a plugin to view Semaphore builds to start with and add other functionality for interfacing with Semaphore directly through Backstage.

## Project website (if applicable)

https://semaphoreci.com/

## Context

We've noticed quite a few CI/CD plugins exist in Backstage so this plugin will help Semaphore users take advantage of a Backstage integration with Semaphore.

[2021-08-06 08:36] moltenice commented on #6738
Apologies, I can't seem to change assignees. Our team at Simply Business would like to create this open source plugin.

Would it be possible for someone with access to add @addersuk and @punitcse as assignees?

[2021-08-06 08:49] moltenice opened #6739 "Airbrake Plugin"
## Summary

Create a plugin for Airbrake to view incidents and perhaps even triage/resolve them all within Backstage.

## Project website (if applicable)

https://airbrake.io/

## Context

This will help ensure that production issues and incidents are visible to people right within Backstage when looking at their component.

[2021-08-06 10:31] Fox32 commented on #6738
Add you, can't add the other ones as they haven't participated on the issue yet.

[2021-08-06 13:53] kuangp commented on #5215
still relevant

[2021-08-06 14:18] arlindhoxhaa opened #6743 "Safari white screen affected from regular expressions of dist/static bundles when npx@backstage/create-app locally"
## Expected Behavior

Would like to see all the content of Backstage when opening it locally on Safari.

## Current Behavior

I see the white screen in Safari, but when actually trying to open the Backstage with another browser for example Google Chrome, then it's running perfectly.

<img width="1437" alt="Screen Shot 2021-08-06 at 4 05 28 PM" src="https://user-images.githubusercontent.com/3904920

[2021-08-06 14:35] snakecharmer commented on #5997
After a version bump, works for us. The only problem is the link from backstage to Gitlab.
But it's missing the project and the branch reference:

URL generated from backstage:

https://gitlab.{instance}.de/{group}/Sources/App/Models/Entities/Asset/Asset.swift#L202

Right URL in Gitlab
https://gitlab.{instance}.de/{group}/{project_name}/-/blob/master/Sources/App/Models/Entities/Asset/Asset.swift#L

[2021-08-06 16:19] mattops opened #6746 "catalog via github-discovery using a github app defaults to raw reading (unauthenticated)"
When using `github-discovery` type, and having a `github app` for credentials -  fetching the `catalog-info.yaml` files from each repo default to fetching via github raw (raw.githubusercontent.com) with no authentication.

This means `internal` or `private` repos do not work.  Similar issue noted here https://github.com/backstage/backstage/issues/1525 and fixed in https://github.com/backstage/back

[2021-08-07 15:59] iamEAP opened #6752 "TechDocs Entity Sync broken by webpack5 upgrade"
![webpack5](https://user-images.githubusercontent.com/3496491/128606303-e1ef007d-bdf8-472e-b186-c673dd8f7a91.gif)

## Steps to Reproduce

1. Pull the latest code from the master branch, `yarn install`, etc
2. Start up the app with all stock `app-config.yaml` values: `yarn dev`
3. Navigate to a TechDocs site

[code]

Error goes away when reverting to SHA `b319a924df7569cc2b667af7944cdaa3ed8d1b7f`,

[2021-08-07 16:00] iamEAP commented on #6752
\cc @benjdlambert

[2021-08-07 17:20] Rugvip commented on #6752
How come `EventSource` is imported? Is this fixed by just using the built-in one?

[2021-08-07 19:48] iamEAP commented on #6752
Yeah, that does it.  Will require a little extra work to get the tests passing again.  Makes me think that was part of why it was imported in the first place.  Will take a look Monday unless someone else gets to it first!

[2021-08-08 01:35] jahredhope opened #6753 "Errors when Github Bot is only installed on some repositories"
## Expected Behavior

When I install my Github Bot on only some of an organisations repositories.
I would like Github Discovery to successfully crawl all repositories that it has access to, without erroring on repositories it doesn't have access to.

I'd likely do this by telling the Github Credentials Manager to not limit by repositories, as I don't (think) I need that behaviour.

## Current Beha

[2021-08-08 09:42] dhenneke commented on #6752
The built-in one lacks some features so I choose to use the library instead (see https://github.com/backstage/backstage/pull/6341#discussion_r666741815). But feel free to change that if it is problematic.

[2021-08-08 10:11] Rugvip commented on #6753
I believe @punkle got you covered :grin: #6539, will prolly be part of the next release

[2021-08-08 10:48] jahredhope commented on #6753
Awesome. Glad it's already in the pipeline. Thanks.

[2021-08-08 11:15] Crevil commented on #6360
Chiming in here. We have that exact processor implemented as @dtuite mentions.

If an `mkdocs.yml` file exists set the annotation. Would be great if it was standard someway.

[2021-08-08 19:31] Rugvip commented on #6752
@dhenneke ah alright, thank you for the context. Perhaps we should try https://github.com/Yaffle/EventSource then? As it's a polyfill with header support that's built around XHR rather than the Node.js modules

[2021-08-08 20:53] andrewthauer commented on #6360
Makes sense. The reason I didn't offer to open source ours is that it looks for published site rather then the mkdocs.yml (since we generate that on the fly).

That said, I've been actually thinking there could be a generic `AppendAnnotationProcessor` that is configured with a predicate (eg URL read for existence) and annotation builder function. The predicate could be a URL read that when it eval

[2021-08-09 09:46] punkle opened #6757 "Pass externalId along with the sts assume role for k8 plugin"
AWS provide the ability to configure an External ID with a cross account role. It adds an extra layer of security for sharing cross account roles. Without the external ID, the role cannot be assumed.

## Feature Suggestion

It would be great if we could add a new optional setting, externalId, to the AWS/EKS authentication options in the kubernetes plugin. If it is set, the externalId is passed to

[2021-08-09 13:00] Rugvip commented on #6449
@iain-b As part of supporting #6648 we'll likely be passing the app origin to the auth backend, and adding it to the OAuth state. Would that be enough to support your use-case?

So frontend includes `origin=https://prod1.roadie.io` in the `/start` request, and the start handler then encodes that into the OAuth state. For the purposes of #6648 we'll then validate that origin and use it when sending

[2021-08-09 13:21] #6537 closed

[2021-08-09 13:29] #6687 closed

[2021-08-09 13:41] Rugvip commented on #6753
Fix from #6539 should be released this Thursday

[2021-08-09 13:41] #6753 closed

[2021-08-09 13:50] Crevil commented on #6360
Yeah that use case is kind of generic. The nature of our custom processors is often `if file exists - add annotation` or `if file exists - emit entity with its contents`. The latter is for things like API definitions like `swagger.yaml` files where we generate `API` entities.

Whether a generic processor would fit both of these, I'm unsure though.

[2021-08-09 13:54] jhaals commented on #6718
Closed by #6719 🥇

[2021-08-09 13:54] #6718 closed

[2021-08-09 14:15] freben commented on #6757
Merged!

[2021-08-09 14:15] #6757 closed

[2021-08-09 14:25] OrkoHunter commented on #6743
Possibly related to https://github.com/backstage/backstage/issues/6039

[2021-08-09 14:31] victormorfin97 opened #6759 "Custom template card"
## Feature Suggestion
In our use case, we have a few ideas that we want to make to the card template, like adding an email icon of the owner of the template, add the rating of the template and add a button to see it in EntityPage, so the users can get the overview of the template. So instead of requesting a feature request for each enhancement,  it think it would be great if we can make a custom t

[2021-08-09 15:41] alzafacon opened #6762 "backstage-cli plugin:diff fails with `Error: No template file handler found for dev\index.tsx`"
## Expected Behavior

running yarn backstage-cli plugin:diff should make it through the entire plugin files.

## Current Behavior

diff fails on dev/index.tsx file and does not continue.

## Steps to Reproduce

1. clone backstage
2. yarn create-plugin
2. cd to the new plugin folder
3. yarn backstage-cli plugin:diff

## Context

I'm working on keeping our instance of backstage up to date with backs

[2021-08-09 16:33] iamEAP opened #6763 "[TechDocs] Bring OpenStack Swift to feature parity with other storage providers"
## Feature Suggestion

We've made strides recently in our core storage providers that we have been unable to port to OpenStack Swift because we as maintainers are unable to test changes against it in an end-to-end environment.  This issue highlights those improvements in hopes that a community member can port the feature-set over!

- **Removing Stale Files at Publish-Time** (see #6488)
- **Allowin

[2021-08-09 16:54] iamEAP commented on #4665
Thanks for the detailed run-down, @petejespersqbe.  This sounds like perhaps an edge-case of how the discovery API works with respect to different SSL termination strategies.  It might deserve an issue of its own, given it would affect any in-process backend-to-backend communication within Backstage.  Would you mind opening a separate issue?

For this issue, thanks for getting back @egnwd!  I'll g

[2021-08-09 16:54] #4665 closed

[2021-08-09 16:57] athal7 commented on #5751
@jamesrenaud curious if you've solved this one, thanks

[2021-08-09 18:39] andreabenfatto commented on #5751
Exactly the same issue here: Github App Integration settings passed as environment variables are making the build fail.

[code]

I see that the target called under the hood (`app:build`), which is triggering the issue, does actually support the `--lax` parameter ([here](https://backstage.io/docs/cli/commands#appbuild)).

Perhaps just replacing in the Dockerfile this line:
[code]
with the subset of

[2021-08-10 00:14] timbonicus commented on #6591
Fixed by #6749.

[2021-08-10 00:14] #6591 closed

[2021-08-10 02:51] josephkurian opened #6766 "ECONNRESET error from the proxy inside EKS kubernetes clusters"
Hi There,

We are developing a backstage.io backed developer portal with a custom backend plugin that invokes Rest API calls to some of our backend services. We have configured the HPM proxy to make the calls to these APIs as advised in the docs : https://backstage.io/docs/plugins/proxying ,
We have deployed the portal in an EKS cluster using the Postgres backend and an nginx ingress based AWS net

[2021-08-10 07:32] nadworny commented on #4359
Just came back from holidays :)

@awanlin shall I try to implement it or have you started something already?

[2021-08-10 08:22] blaryjp commented on #6591
Awesome! Thank you very much @Rugvip / @henry232323 / @timbonicus !

[2021-08-10 08:44] andreabenfatto opened #6770 "Environment variables are not supported by the Github app integration when creating the `backend:bundle`"
Using the multistage Dockerfile + environment variables in the `integrations.github[0].apps[0].` section of the `app-config.yaml` file  fails because `backend:bundle` does not support environment variables for the Github integration.

Everywhere else, environment variables are supported well. Also setting the `integration.github[0].token` as environment variable works well.

## Expected Behavior

[2021-08-10 08:50] andreabenfatto commented on #6770
Linked issue https://github.com/backstage/backstage/issues/5751 which was never solved.

[2021-08-10 09:35] JParisR opened #6771 "[Jenkins-plugin] Add an optional secondary branch to EntityLatestJenkinsRunCard"
## Feature Suggestion
Add the option to have a secondary branch to be displayed in the `EntityLatestJenkinsRunCard` in case the first one doesn't exist. The idea here it's to solve the problem between the "main" and "master" branches.

## Possible Implementation
Two possible implementations:

- **First one:**
Add a second optional branch to the `EntityLatestJenkinsRunCard`: the plugin should be ab

[2021-08-10 09:51] freben commented on #2001
It's time to close this RFC! For the interested reader, here's a summary of what the design ended up looking like.

The core of the catalog processing engine has seen a major rewrite, with the goal of being able to properly distribute work among multiple catalog service instances and opening up for future capabilities. As part of this rewrite, we decided to keep the `locations` table intact. Howev

[2021-08-10 09:51] #2001 closed

[2021-08-10 09:52] freben commented on #4089
Many moons have passed. The design was settled, most of the implementation is in place. I think this RFC is ready to be laid to rest, and if there are any remaining remnants, they can be added as separate follow-up issues.

The main remaining piece for unlocking the power of this, is to [implement sign-in resolver support](https://github.com/backstage/backstage/issues/6245) for more auth providers

[2021-08-10 09:52] #4089 closed

[2021-08-10 10:17] #6752 closed

[2021-08-10 10:43] jacek-jablonski commented on #4945
Correctly designed charts would certainly be very useful in deploying backstage. At first, it would be enough to extend and streamline the current Charts in such a way that you can expand and make the configuration more flexible.

At this point, for example, without using quite ugly hacks, it is not possible to securely put a password to the Postgres database (a reference to an existing Kubernetes

[2021-08-10 11:12] freben commented on #6360
An out-of-the-box available processor that scans for an mkdocs file or properly detects an interesting docs dir sounds like it would be very useful!

@backstage/techdocs-core Could you chime in here? This sounds like a worthwhile contribution, whether by maintainers or by the community.

[2021-08-10 12:09] freben commented on #5426
We had [a brief discussion](https://discord.com/channels/687207715902193673/696709358544879716/874297979765399572) about this on Discord today as well, hinting that maybe we could add this under the `bursts` config.

I'll close this for now, since we have discussed both the option of making a custom page for it, or contributing a theme extension point for it. Feel free to reopen if this was too ea

[2021-08-10 12:09] #5426 closed

[2021-08-10 12:14] vannarath-poeu commented on #6695
Hi @ryanvazquez,
A gentle ping if you could have a look at the pull request and provide any comments for further work or approval? Thank you

[2021-08-10 12:23] andrewthauer commented on #6360
One concern I have for this is rate limiting. Each individual processor that needs to check the existence of a file/dir will contribute to quickly add up and cause possible issues. We already have the the codeowners (which should probably be optimized as there are 3 possible locations). Internally we do a couple additional existence checks against the repo as well. I haven't really looked into thi

[2021-08-10 12:23] freben commented on #4359
This is a pretty high value contribution. If you have the time to work on it @nadworny it'd be great!

[2021-08-10 12:25] Rugvip commented on #6770
As mentioned in #5751 the `--lax` flag exists for the `app:build` command, and in this case you could add it to the `build` script of the app package to work around the issue. It's not optimal though, as there might be environment variables that is required for the frontend config that we actually want to break the build for if they're not set.

Overall this is a tricky issue because the loading i

[2021-08-10 12:26] freben commented on #6695
pinging @timbonicus too :)

[2021-08-10 12:27] freben commented on #4873
Actually removing the stale flag once more - I still want to invent some form of easy bundling that makes it simple to add everything needed for a new kind.

[2021-08-10 12:32] freben commented on #5214
This is still up for grabs.

[2021-08-10 12:33] iamEAP commented on #6360
^ I can see where Andrew's coming from re: needing to read multiple files.  ...We may even need to check multiple files in this one processor (see below).

In any event, seems like we can basically merge this and #2099.  It sounds like there are some edge cases to think through:

- The `mkdocs.yml` file is not adjacent to the `*-info.yaml` file
- TechDocs is configured with an external builder and

[2021-08-10 12:33] awanlin commented on #4359
@nadworny I would love to but I'm in a bit of limbo with my work and contributing to open source projects. This is why I've tried to go above and beyond with the details in my issues and to help where I can on Discord (I go by Ahhhndre there) in my spare time.

[2021-08-10 12:35] nadworny commented on #4359
@awanlin alright I'll try to pick it up next week

[2021-08-10 12:44] Rugvip commented on #4945
What are some advantages of us providing charts over using the built-in k8s resources directly? Is it a deployment environment constraint or something to make it easier to set up? I'm having a hard time seeing the charts actually being easier to use than the plain k8s objects in https://backstage.io/docs/deployment/k8s.

[2021-08-10 13:21] iain-b commented on #6449
@Rugvip Yep I think that would cover us.

We can do without the JWT encoding for the OAuth flow. Particularly as the lambda also handles installation callbacks it gave us confidence the request was initiated via roadie. There's no particular threat it's protecting us from more just caution / over caution.

[2021-08-10 13:22] samiramkr commented on #6648
This PR will close https://github.com/backstage/backstage/pull/6772 this

[2021-08-10 13:23] freben commented on #6725
So it would seem that the `lastBuild` field was `null`.

https://github.com/backstage/backstage/blob/dc05aef9e73d78382cb79ae3da0565c6874eb3d1/plugins/jenkins-backend/src/service/jenkinsApi.ts?plain=1#L156

I don't have a Jenkins server to easily test against, so it would be great if you had the ability to debug this a bit on your end. Maybe you could attempt to make the corresponding API calls man

[2021-08-10 13:26] jacek-jablonski commented on #4945
It's definitely easier to deploy the initial version with just a single helm command. Just to see the results and take an initial trip around the tool. Later you can simply adjust and tune some configurations to make production deployment without reinventing the wheel. Upgrading the whole deployment is also easier when some elements are added to the system or redesigned.

When you just want to loo

[2021-08-10 13:43] Pike commented on #6568
I've toyed around with this a bit, but I wonder how to approach this.

How to set up a code path as close as possible to the actual scaffolder-backend? Does that effectively mean running the backend and talking to urls? It'd seem nice to just use a in-memory database for this, though?

Is there an existing code path I could mimic?

[2021-08-10 13:45] Rugvip commented on #4945
Would it make sense to switch around how configuration is done in the existing chart so that the user of the chart configures an entire app-config YAML instead of each individual value? That seems to me like the biggest thorn in the current charts. Then there could be a few extra switches like whether to include Postgres or not, but overall keep it quite slim

[2021-08-10 14:04] jacek-jablonski commented on #4945
@Rugvip yes, exactly.

Moreover there are two cases not covered by current charts:
- Requiring Postgres CA Secret to existing DB instance (https://github.com/backstage/backstage/blob/master/contrib/chart/backstage/templates/postgresql-ca-config.yaml#L18-L20). Shouldn't `.Values.backend.postgresCertMountEnabled` be taken into account? When using SQL Proxy encryption to postgres is provided with pro

[2021-08-10 14:29] dhenneke opened #6775 "Allow users to refresh already registered locations in the catalog-import plugin"
## Feature Suggestion

We tell our users that they can simply register their location again to trigger a location update outside of the catalog refresh interval. Unfortunately, this isn't supported by the "next" catalog anymore.

![image](https://user-images.githubusercontent.com/720821/128883073-d3c2fcd1-392b-40cc-8ff2-44f3c3fbd2cb.png)

How about recognizing this special situation and provide a

[2021-08-10 15:13] iamEAP opened #6778 "[TechDocs] Finish composability API migration"
## 🧹  What/Why

In #6458, we (optionally) split up `/docs` and `/docs/:namespace/:kind/:name/*` into distinct routes in order to enable composability/customization of the TechDocs Home layout.

This presents a good opportunity to wrap-up the migration to the Composability API.  I think we can call things complete if we...

- [ ] Replace uses of `react-router-dom`'s `generatePath` to link to docs p

[2021-08-10 16:45] andrewthauer commented on #6360
This is essentially how we handle it now. We check if the docs are published rather then the existence of an `mkdocs.y*ml` file. This seems more reliable and also avoids rate limits imposed by SCM. It would be more suited for `external` techdocs published via CI rather then `local`, but perhaps it can also work for both?

[2021-08-10 16:46] #6132 closed

[2021-08-10 17:01] gmambro commented on #6334
+1

[2021-08-10 17:09] Rugvip commented on #6449
👍, it's being implemented in #6772

[2021-08-10 19:19] OrkoHunter commented on #3383
We can call this done now 💯

https://github.com/backstage/software-templates

[2021-08-10 19:19] #3383 closed

[2021-08-10 19:28] OrkoHunter commented on #6437
Looking at the activity on this one, let's close this RFC now. Thanks all for the comments! A task meta issue to follow next. 🙏

[2021-08-10 19:28] #6437 closed

[2021-08-10 23:24] kunickiaj commented on #5194
Can you tell us what line it was? I have the same issue.

[2021-08-10 23:45] regicsolutions commented on #5194
packages/backend/src/index.ts

https://github.com/backstage/backstage/blob/0c58dd73d0e98b7c08b5f770bbb30e3c1923e55f/packages/backend/src/index.ts#L99

[2021-08-11 00:36] chuliang014 opened #6783 "Status field not work"
Hi, I added the `status` field in the entity, but I got an error below.
![image](https://user-images.githubusercontent.com/56138162/128952202-d5c854fe-c8d9-4cc8-bcf7-43abeb99a82a.png)
![image](https://user-images.githubusercontent.com/56138162/128952216-b12d8514-b494-4765-b10a-290b1b2452cc.png)

[2021-08-11 08:12] iamEAP commented on #6062
Adding a link to a recent conversation in discord: https://discord.com/channels/687207715902193673/770283289327566848/864149979047657472

The conclusion of which, I think, was that perhaps we background the pageCursor support in the `SearchQuery` interface (let it be, make it optional, and then `SearchEngine` implementations can optionally support it at an API level), and instead add a `limit` / `

[2021-08-11 08:31] iamEAP commented on #6360
I think it becomes a chicken-and-egg situation.  The index file won't appear until someone tries to load the page and the docs get built for the first time.  But no one knows to do that unless there's an annotation ref to indicate that they exist.  You could maybe wire up the processor to trigger an initial build?  But that might have similarly bad scalability consequences compared with the SCM ra

[2021-08-11 08:41] Fox32 commented on #6062
To make paging work properly we should also return the total count of search results in `SearchResultSet`. Otherwise one couldn't use a pager that  shows the available pages. However, I'm not sure if the total count of search results can easily be determined. So it's easy for lunr, a bit more complicated for Postgres (you need a separate query that does no ranking, otherwise the operation is very

[2021-08-11 08:44] Fox32 commented on #6062
Btw, just a small thing I noticed some days ago that we could probably change when introducing paging:

[code]

Using `location` as a `key` is not a good idea as it wouldn't be unique if different result entries point to the same URL. We have that issue on our side an are just using the array index as a key.

[2021-08-11 08:55] freben commented on #6746
Hm. This one may be a bit complex.

The `GithubUrlReader` is responsible for the actual reading of data. For each URL to read, it [tries to translate that](https://github.com/backstage/backstage/blob/0c58dd73d0e98b7c08b5f770bbb30e3c1923e55f/packages/integration/src/github/core.ts?plain=1#L32) to the actual API or raw URL to use. it does so synchronously based on the config given - at that point it

[2021-08-11 09:36] mattops commented on #6746
is there any work around so we can get it to always go via the API route?

[2021-08-11 09:41] emmaindal opened #6786 "[Search] update documentation with supported engines and plugin integrated"
Make sure the list of all [supported engines](https://backstage.io/docs/features/search/search-overview#search-engines-supported) as well as all [plugins integrated](https://backstage.io/docs/features/search/search-overview#plugins-integrated-with-search) with Search is up to date.

[2021-08-11 09:54] freben commented on #6746
Not really. See https://github.com/backstage/backstage/pull/6787 for a proposed fix!

[2021-08-11 09:55] #3256 closed

[2021-08-11 10:04] sjamidar opened #6788 "Gitlab-Actions"
Trying to create plugin which can perform CICD operations through gitlab. And we can utilize it on backstage portal.
If anyone owns such plugin already. let me know.

[2021-08-11 10:07] freben commented on #6783
Hi!

The status field is not meant to ever be written in a YAML file. It is a generated readonly field, where some errors that can happen inside the processing loops of the catalog are surfaced.

We have been considering a general mechanism for getting errors into entities from "the outside", e.g. via an API or similar but there is no such thing in place yet.

[2021-08-11 10:17] freben commented on #6062
I've been wondering, is it enough of a user interface to just have a "next" button? :) Is it really a common use case to want to know the number of pages, or to click on a page far ahead?

Maybe it's kind of a mental expectation rather than an actual use case. I guess sometimes one can get into a search mode with the intent of asking "how many of this thing are there in total", but I kind of expec

[2021-08-11 10:17] freben commented on #6062
(Let me clarify that this is just me making conversation; not an actual UX design direction or strongly held opinion)

[2021-08-11 11:25] freben commented on #6743
Thank you for reporting; this is indeed related to the other issue and I'll close in favor of that one to keep the discussion in one place.

[2021-08-11 11:25] #6743 closed

[2021-08-11 11:36] freben commented on #6039
Yeah I dug around a bit again on this, and `git-url-parse` has is in a bit of a pickle since they have [upgraded](https://github.com/IonicaBizau/parse-url/commit/e8dbac15371a798bcf2eeff3dcfa6e13f97e7abe) a dependency past a point where the maker of that dependency [says](https://github.com/sindresorhus/normalize-url#install) that browser support has been dropped. So as long as `git-url-parse` does

[2021-08-11 11:38] #6746 closed

[2021-08-11 11:38] lukasgomez opened #6789 "Edit and Issue buttons in Tech-Docs don´t work correctly"
## Expected Behavior

Creating a correct `mkdocs.yml` file using the `edit_uri: edit/main/docs/` annotation should build a correct URI if you use the Edit button and the Issue button in a Tech-Doc template.

## Current Behavior

If you try to fix the annotation in the `mkdocs.yml` only the edit button works and the issue button builds the redirect URI incorrectly. And if you try to fix the  the is

[2021-08-11 13:19] eperdeme commented on #6568
After reading up on the changes to the templater, we would really appreciate a slim CLI tool similar to what cookiecutter provided for this.

Our use case is similar to the above where we need CI on occasion to generate results from templates so we can create disposable infrastructure to run tests against, prior to the branch being merged and then made available as "self service" in backstage for

[2021-08-11 15:06] freben commented on #6568
I guess it depends how far one wants to take this.

The `createFetchTemplateAction` function is exported from the package, but as you have noticed it uses the `UrlReader` and `ScmIntegrations` facilities for starters. Those can indeed be initialised from config if one can get at the config, but if anything related to actual production remotes is referenced by the template, those will need secrets

[2021-08-11 16:09] pschildkamp commented on #6069
Hi,

I ran into exact the same issue as @onematchfox. I'm hosting docs on an Azure storage account, but pages won't load because techdocs index.html files which do not exists.

We made multiple pages in the docs directory containing 3 .md file's. The mkdocs.yml containers the following:
[code]

This results in the 3 .html files containing index.html, glossary.html and currentarchitecture.html. Tec

[2021-08-11 16:29] danludwig-happymoney opened #6792 "[RFC] Github Apps for Backend Authentication Browser Local Storage Risks"
**Status:** Open for comments

## Need

This is more of a question than anything, because I was unable to find any documentation around it.

While testing backstage with the GitHub Apps for Backend Authentication [as documented](https://backstage.io/docs/plugins/github-apps), we discovered that a github access token is created and put into local browser storage. That access token is then used to i

[2021-08-11 18:43] Fox32 commented on #6789
What SCM provider are you using? There is a recent PR that will make some changes here, not sure if that will help you #6773

[2021-08-11 19:26] Pike opened #6794 "Scaffolder: Template action to create partial templates"
## Feature Suggestion

Right now, `fetch` comes with `plain` and `template` actions, and working on a template with GH actions and Django templates, I really felt the urge to have a mix between the two.

## Possible Implementation

My idea (and WIP patch) is to apply templating to files with a dedicated extension (`.njk` is suggested by nunjucks) to trigger content processing, and to do path proce

[2021-08-11 19:36] Pike commented on #6568
I've done a local test of an unrelated templater patch, and here's what I learned:

I can't get local files to work unless I actually link them up in the config. There's a bunch of CORS until I finally hit the URLReader only knowing how to load a tree from SCM integrations.
I tweaked `TaskWorker.ts` to not remove the workspacePath, and ensured I had cookiecutter installed to not end up in a docker

[2021-08-11 19:51] Rugvip commented on #6794
I think templates are they are are heavily coupled between the template contents and the template declaration (yaml file). With that I think it could be reasonable to add ignore/include options for which files end up being templated? I can see that GitHub workflows are a bit of a pain to template.

Another workaround you can do right now is to split it into two separate directories and bring the w

[2021-08-11 19:58] Rugvip commented on #6792
You may notice that the GitHub provider is the only one that does this, and tbh the GitHub OAuth app flow and its lack of refresh is a bit mind blowing. I'm figuring it was built for different purposes than how many OAuth apps are used today. 🤷 It is actually possible to wire up the GithubAuth API in the frontend so that it doesn't store the token in local storage by omitting the `StaticAuthSessio

[2021-08-11 20:08] Pike commented on #6794
It's been easy enough to just hack up an action. I have a patch and tests locally, I'll create a PR tomorrow.

One thing that's nice is that I didn't have to bother about cookiecutter compat, and it's problems around templating file names. Which I think is a cookiecutter bug to some extent, which I filed as https://github.com/cookiecutter/cookiecutter/issues/1588.

[2021-08-11 23:09] seant-splunk opened #6795 "Implement readTree() in AWSUrlReader and Create New Catalog Processor"
## Feature Suggestion

I want to implement the readTree() method and create a new catalog processor for the purposes of ingesting data from an S3 bucket using readTree()

## Context

For the purpose of reading more than one .yaml file from an S3 Bucket to populate the service catalog

[2021-08-12 02:03] tomwwright commented on #5210
My team is invested in this one after hitting this issue https://github.com/backstage/backstage/pull/6345 (and similar) after implementing the guidance on API security. Anything we can do to help?

[2021-08-12 06:18] freben commented on #6795
Nice! Is it something you yourselves will be looking at (and might be assigned) or is it more of a feature ask?

[2021-08-12 06:58] JParisR commented on #6725
I'm having the same problem, it only happens with some of the repositories though, and I can't see the difference between the ones that work well and the ones that don't.

I'm currently using this versions:
	backstage/plugin-jenkins": "^0.5.0
	backstage/plugin-jenkins-backend": "^0.1.2

[2021-08-12 10:22] jahredhope commented on #6753
Confirmed this is working in the latest version. Thanks for the great work @punkle

[2021-08-12 10:29] punkle commented on #6753
You are welcome @jahredhope. Glad to have been able to help.

[2021-08-12 12:47] warmfusion commented on #6429
I'm seeing something similar with 0.3.18

is there some way to debug this further?

Interestingly, i'm also getting a similar error with the Sonar plugin too - perhaps theres something more fundemental going on?

[2021-08-12 13:37] iamEAP commented on #4995
We're combing through issues again and would love to hear what's happening here.  \cc @erdoganoksuz @oguzhaneren

[2021-08-12 13:50] iamEAP commented on #5859
Hey there!  We're doing a little bit of house keeping and stumbled upon this ticket again.  If you upgrade and still experience the issue, don't hesitate to re-open!  But for now, we're going to close this out.

[2021-08-12 14:52] freben commented on #4945
@martina-if Would you like to chip in on this discussion?

[2021-08-12 19:33] danludwig-happymoney commented on #6792
That sounds like it could be an acceptable solution if it means covering it against XSS. How would one accomplish this? Can it be achieved from the app-config.yaml, or would we have to fork the github auth provider package and use a custom variation of it?

We do have the backstage github app set up at the organization level, and are referencing it from a github `integration` in the app-config.yam

[2021-08-12 20:59] freben commented on #6039
Update - i got [a fix](https://github.com/sindresorhus/normalize-url/pull/148) merged and released to remove the safari-breaking regex. Only to discover that they [exclusively dist as ESM](https://gist.github.com/sindresorhus/a39789f98801d908bbc7ff3ecc99d99c) now which our dependency isn't set up to consume, being purely CJS and not having a build/transpile setup.

So uh, that's where we are right

[2021-08-12 21:05] seant-splunk commented on #6795
We would love to add this feature and be assigned to it!

[2021-08-12 21:19] OrkoHunter opened #6811 "Bug: It should be possible to use the SQLite database based on a file"
## Feature Suggestion

The Backstage example app in this repository uses an in-memory SQLite database. This means that if the user changes the state of the database, and restarts the backend, all the changes disappear. This eventually becomes a source of confusion for Backstage contributors.

~~If the default SQLite connection were based on filesystem, instead of in-memory, the data will persist.

[2021-08-12 21:28] Fox32 commented on #6811
Actually I thought I fixed that 🤔

I think the problem is that all plugins are using the same database. It's important to specify a directory so that every plugin gets an own file. But I haven't used it for a long time, could be broken.

[2021-08-12 21:33] Fox32 commented on #6811
On topic: it depends on what you are working on. If I'm trying out catalog ingestion, a fresh start is quite nice. To try out search indexing, a filled catalog is nice...

But in the end it's easy to have a custom default locally.

[2021-08-12 21:36] OrkoHunter commented on #6811
@Fox32 A directory containing all the `.sqlite`s should be good enough. I tried setting the `backend.database.connection.database` as well, which looks like something which was written to address this use-case https://github.com/backstage/backstage/blob/ec62af1da511db555b459d58ef4e1daac4ca1118/packages/backend-common/src/database/connectors/sqlite3.ts#L89-L103

I found out that this omission of `d

[2021-08-12 22:20] freben commented on #6795
Awesome - done

[2021-08-12 23:43] tszngai commented on #3750
Hi team, I'm fairly new to backstage but it seems this issue has been resolved. I'm wondering how do I upgrade my backstage instance to a newer version that has this fix? Thanks!

[2021-08-13 00:51] HongliBu opened #6812 "Type error when using render in Table"
HI I am using <Table> tag in storybook, and when I defined the table columns, I used render like this:
[code]
I used render in the last columns. but I saw a error in my Intellij like:

**TS2339: Property 'priority' does not exist on type '{}'.**

actually my code works and I can see rowData.priority printed out in my console.

I now rowData here is type{} and cannot recognize priority, but any goo

[2021-08-13 07:31] sagacity opened #6814 "More flexible discovery processor configuration"
## Feature Suggestion
The current way of configuring discovery processor targets is not flexible enough and should be extended.

## Context
In our organisation we use a self-hosted GitLab instance. I'd like to write a discovery processor for it, since Backstage currently does not have one.

The existing processors (like the one for GitHub) are configured by specifying a kind of glob target for dis

[2021-08-13 07:36] #6250 closed

[2021-08-13 08:33] #4319 closed

[2021-08-13 09:05] Fox32 commented on #6062
I started some work here: #6815

[2021-08-13 09:09] adrianke77 opened #6816 "[RFC] API for pluggable work queue and distributing work to remote workers"
## Need
Several parts of Backstage involve compute intensive work that would be better handled away from the process handling API requests, such as
 - Entity catalog ingestion
 - Scaffolding
 - Techdocs rendering
It would be good to have such handled by workers placed elsewhere from the API server with a queue implementation, however at this time such a setup is not supported.

## Proposal
Backsta

[2021-08-13 09:33] freben commented on #6788
Alright! Is this something you would like to try contributing yourself?

[2021-08-13 09:42] warmfusion commented on #6429
I stand corrected - I'm not sure why, how or otherwise, but the plugin is now operational. I wish i could tell you what changed, but alas no such luck.
Sorry for the false negative.

[2021-08-13 09:50] freben commented on #6775
Good call! Maybe there's value in being informed about the fact that it actually has been registered already. I'd prefer:

- an info box saying it already is registered
- a button to click to go to the entity (not refresh it)
- a button, always present, on the entity overview page that lets you initiate a refresh at any point in time, not just when registering

Note that the initial design for the

[2021-08-13 09:58] dhenneke commented on #6775
When I refresh a location entity, would that that automatically refresh all downstream entities or do we need a kind of "bulk refresh" mode in the frontend to trigger such?

[2021-08-13 10:12] freben commented on #6775
The refresh function in the backend isn't built yet so it's open to discussion how to best shape that (ie who does what)

[2021-08-13 11:15] freben commented on #6771
Could we make it so that if if no branch is given at all to `EntityLatestJenkinsRunCard`, it is smart enough to try both `master` and `main`? I feel that this would give the best end user experience with little implementation overhead

[2021-08-13 11:17] freben commented on #6759
Yeah I think that sounds OK, to use a prop for it.

On the one hand, it's possible to replace the entire page, but now that it's growing and getting more features, it's getting more and more expensive to make a "private" tweaked version of it. So maybe it's better if we just allow for this fairly low hanging fruit type of customisation.

We'll have to come up with a contract between the page/grid

[2021-08-13 11:34] freben commented on #6429
@bob-bins Are you still having this issue even with recent versions of Backstage?

[2021-08-13 13:20] freben commented on #6766
So from the point of view of the Backstage proxy package, it looks like a request timeout. Only that something intermediate implements that timeout in terms of abruptly killing the connection.

What are the characteristics of the service being called? Can you double check that it does respond promptly (far less than one minute response time at least) from that zone?

If it can be established for s

[2021-08-13 13:30] freben commented on #6814
Locations unfortunately have a fixed shape - a type and a target, both of which are strings. We do not have room for making those complex objects at this point. There's been whispers about considering adding more metadata to locations (essentially more fields next to type and target), but I'm not sure at this point whether that is a realistic thing to hope for.

Your new processor would use a cust

[2021-08-13 13:33] freben commented on #6814
And let me also add - if you deem it reasonable that users should be permitted to enter for example `https://mygitlab/**/blob/-/**/catalog-info.yaml` then you can, and it would be up to you to solve that using their API.

[2021-08-13 13:33] sagacity commented on #6814
My original reasoning was indeed that I'd prefer to keep the structure consistent with the other processors. However, if it's deemed acceptable to have different processor have quite different interpretations of the `target` string then that would be fine for me, too.

I'll try to come up with a proposal that encompasses all the use cases and mashes them into a reasonably easy-to-parse string :)

[2021-08-13 13:43] freben commented on #6814
Yep that's appreciated! I think it'll turn out to be pretty similar actually, with the addition of supporting globs for the left side (org / groups) too.

[2021-08-13 13:47] freben commented on #6814
Maybe I could mention, too, that if i recall correctly the github API actually has builtin transparent support for treating `main` and `master` equally - if you give the wrong one, it'll work anyway. I wonder if gitlab happens to have the same mechanism.

[2021-08-13 13:49] freben commented on #3750
Just responding for future reference, that it is now indeed in the new app template since some time back.

[2021-08-13 13:50] freben commented on #3750
You use [yarn backstage-cli versions:bump](https://backstage.io/docs/cli/commands#versionsbump) for that.

[2021-08-13 13:50] sagacity commented on #6814
Good to know! Although I did some checking earlier and I don't think GitLab supports this, but I suppose having a special character as the 'default branch' placeholder would work fine too.

[2021-08-13 14:02] victormorfin97 commented on #6759
Nice! I'll work on a PR for this enhancement.

[2021-08-13 15:15] prasaria commented on #6681
Hello, I create new PR for this issue : https://github.com/backstage/backstage/pull/6823. Thanks !

[2021-08-13 15:23] tragiclifestories commented on #6816
Some related previous discussion: https://github.com/backstage/backstage/issues/3746

[2021-08-13 15:34] iamEAP commented on #6816
I would add that the Search Collation/Indexing process would be a strong candidate for this.  I'm less familiar with scaffolder/catalog ingestion generally, but Search Indexing is unique in that it needs to phone back home to specific plugin backends to collate documents (e.g. Catalog API to read entities, TechDocs API to read pages, etc), which would likely necessitate a solution to #5210.

With

[2021-08-13 15:35] iamEAP commented on #6222
Closing this out because...  It's fixed!  Thanks again for the contribution.

[2021-08-13 15:35] #6222 closed

[2021-08-13 15:38] iain-b opened #6824 "Unable to run backstage with the snyk plugin using the latest cli (webpack 5)"
I'm getting errors like the following when I try to run backstage with the snyk plugin:

[code]

## Expected Behavior

I can use the snyk plugin ([backstage-plugin-snyk](https://github.com/snyk-tech-services/backstage-plugin-snyk))

## Current Behavior

When I start the app (e.g. `yarn dev`) webpack fails with the error above.

## Possible Solution

I've tested setting resolve.fallback.crypto = fa

[2021-08-13 16:13] freben commented on #6816
Architecturally, both the catalog and the scaffolder are heavily built on using the database as a synchronisation/coordination primitive. At least for those two, an event bus _for the purposes of coordination or distribution of load_ is not of any particular urgency or interest at least short term since that architecture is unlikely to be revamped right now.

However, they are very interested in b

[2021-08-13 16:17] freben commented on #6816
@iamEs me plugin to plugin comms would still be done using clients that use the standard [pluggable resolution mechanism](https://github.com/backstage/backstage/blob/master/packages/backend-common/src/discovery/types.ts#L29).

[2021-08-13 17:05] bob-bins commented on #6429
It has been working for me after I downgraded `plugin-sentry` from 0.3.14 to 0.3.13 and redeployed. Not sure what the real root cause was however

[2021-08-13 18:15] erikvanbrakel commented on #6429
I had a similar issue with another plugin (sonarqube), and running `yarn install` to make sure all dependencies are set up properly did the trick.

[2021-08-13 18:47] alexcurtin opened #6826 "Items falsely marked as isOrphan when using GitHub location discovery and default branch is main"
If users are running backstage and using GitHub location discovery like so in their `app-config.yaml`

**Note**: We have to use `master` to find repositories that use `main` as well, as that is the only way to get this to work for projects that use either `master` or `main` without getting duplicate errors during locations refresh.

[code]
The latest `isOrphan` and `EntityOrphanWarning` logic fire

[2021-08-13 19:11] DavidZemon opened #6828 "Can not use BitBucket Discovery with non-standard TCP port"
## Expected Behavior

I expect to be able to utilize BitBucket discovery with a server listening on something other than port 80 or 443, with a config file like so:

[code]

## Current Behavior

BB discovery throws the following warning at app startup:

[code]

## Possible Solution

Replace `parsed.hostname` with `parsed.host` in `basicIntegrations.byUrl()`

## Steps to Reproduce

Reproducing requ

[2021-08-13 20:58] freben commented on #6828
Makes sense! Is this something you might want to contribute?

For extra points, I guess one might consider being extra thorough by seeing that `https://x` is the same as `https://x:443` etc.

[2021-08-13 20:59] #6684 closed

[2021-08-13 22:06] #5826 closed

[2021-08-14 00:16] brethubbard opened #6830 "Custom templating in index.html"
## Feature Suggestion

Allow for custom templating in the `index.html` that is served by the app plugin.

## Possible Implementation

We could pass the rest of `app` config because extraneous fields are not removed.

## Context

I would like to be able to modify the `index.html` by conditionally adding certain script tags. Unfortunately, because of the limited variables passed to the `HtmlWebpackP

[2021-08-14 08:52] freben commented on #6830
Hi! Is this because you want the file to be different between environments? For example having some features in staging but not in production.

[2021-08-14 08:56] brethubbard commented on #6830
In my case it's different in dev than deployed which is why I proposed the solution I did. It would be better, in my opinion, to make the templating more robust so it's not done at build time but realize that's a bigger ask.

[2021-08-14 14:16] OrkoHunter commented on #4527
I believe this is okay to close.

[2021-08-15 13:20] #5979 closed

[2021-08-15 13:59] NishkarshRaj opened #6832 "[RFC] API Software Catalog: Upgrade Catalog Processors to handle API Specs referenced in multiple files with $ref"
**Status:** Open for comments

## Need

Current support for [Kind: API](https://backstage.io/docs/features/software-catalog/descriptor-format#kind-api) in Software Catalog is limited to a standalone API Specification file either mentioned completely inline the Catalog definition or referenced in URL with `$yaml` / `$json` / `$text`

It's a standard practice to write API specifications in multiple

[2021-08-15 14:01] NishkarshRaj commented on #6832
@freben @Fox32 This RFC is takes shape from our discussion on the [discord channel](https://discord.com/channels/687207715902193673/874989620373368882)

I would like to pick this up and work on it 👍

[2021-08-15 14:40] freben commented on #6832
Alright! Sounds nice. Yeah a new standalone processor like `OpenApiSpecificationProcessor` or something might make sense.

If the original definition was fetched using a placeholder (like `$text`) then the original URL will have been lost. So relative refs might sometimes be tricky. But I bet we can find solutions somehow!

I assigned you for now, then. Let us know if you hit any snags.

[2021-08-16 02:11] lowjoel commented on #6816
Hmm, I think it's a slightly different ask. This isn't quite an event bus - this is just a way to delegate work to a different compute node from the one that's serving API traffic. A NPM package that does this today is https://github.com/actionhero/node-resque -- not saying we need to use this, but resque _could_ be a candidate implementation for such a primitive.

The use of the database is causi

[2021-08-16 06:16] SerenaIce opened #6836 "The branch coverage couldn't reach the 100%."
I found that the branch coverage could not reach 100% in the report. And it shows the IF ELSE reminder at the very first beginning, although there's no other branches in the current tested file. Please refer to the snapshots below.

1. ![Coverage_4](https://user-images.githubusercontent.com/43363062/129519148-2c078451-e841-4c62-8eea-986775e4b98c.PNG)

2. ![Coverage_1](https://user-images.githubuse

[2021-08-16 07:55] goober commented on #6033
Still valid

[2021-08-16 08:09] SerenaIce opened #6837 "Pin Siderbar doesn't work."
After upgrading to **release-2021-7-29**, the Sider bar doesn't work

And after upgrading to the **latest version(release-2021-8-12)**, it still doesn't work. And not sure if it's caused by the Material-UI error:

![ui-error](https://user-images.githubusercontent.com/43363062/129531864-6cf41176-6eca-47ca-924d-04ad4bac03d7.PNG)

[2021-08-16 09:12] punkle opened #6838 "Backstage Backend Fails to start due to database constraint error"
The backend appears to be failing startup due to the following error

[code]

## Expected Behavior
I think we would expect that the application would not cause a database constraint like this and/or continue the startup of the application regardless of the failure.

## Current Behavior
It fails with the error mentioned above.

## Possible Solution
I havent investigated this issue completely. But w

[2021-08-16 09:26] freben commented on #6816
That looks like a great library! I'll just add here that one guiding principle we've had so far is that we have really tried to not introduce any more required moving parts in a deployment, than the database. Adding redis as one more piece definitely has operational overhead, especially for smaller adopters. I'm not saying no to the idea, but rather that we are hesitant to doing something like thi

[2021-08-16 09:50] prasaria commented on #6681
Hello @timbonicus , I create new PR for this issue : https://github.com/backstage/backstage/pull/6823. Could u help to review it ? Thanks!

[2021-08-16 11:04] mertcb commented on #4995
@iamEAP hey, I've just opened a PR that fixes this issue :) check out for #6839

[2021-08-16 11:38] lowjoel commented on #6816
Yeah, and I fully support that goal. Ease of onboarding helps keep the cost of adopting Backstage low. Hence my suggestion to abstract this primitive away, and hide it behind an interface. @adrianke77 didn't really go into detail, but I can imagine as a rough sketch:

[code]

So the existing code that needs this work done can use this interface. We can then push work onto the WorkQueue implementat

[2021-08-16 11:48] Rugvip commented on #6816
@lowjoel A PostgreSQL work queue implemented with `SKIP LOCKED` is quite performant. I think it's best to have some numbers at hand before optimizing that part and focus more on getting worker processes and nodes in as part of the architecture.

[2021-08-16 12:01] Rugvip commented on #6838
What version of the catalog backend plugin are you running? We added some conflict resolution logic some month ago, so you'll want to make sure it's less than a month old

[2021-08-16 12:28] Crevil commented on #6824
Snyk does not expect to remove the dependcy on `crypto` any time soon so it would make sense to support extending the webpack config to allow for adding the `crypto-browserify` polyfill again.

https://github.com/snyk-tech-services/backstage-plugin-snyk/issues/29#issuecomment-899443555

[2021-08-16 13:16] punkle commented on #6838
I believe you are right. We are running a forked version 0.10.4 of the catalog-backend. We are updating shortly. It's very likely that we have not take a fix. Ill close this.

Thanks for your help. :)

[2021-08-16 13:16] #6838 closed

[2021-08-16 14:06] benlangfeld commented on #3750
Thanks @freben . To close the loop, it was https://github.com/backstage/backstage/pull/6586 which resolved that.

[2021-08-16 14:27] BernhardRode opened #6841 "feature: clickable URLs in log viewer"
In Log views, it would be awesome to have clickable URLs.

## Feature Suggestion

If URLs are logged, people can open them without copy/pasting.

## Possible Implementation

Regex in LOG viewer to parse http/https urls.

## Context

[2021-08-16 14:27] awanlin commented on #4357
Just wanted to mention that this is also an issue when using Software Templates with Azure DevOps Server 2020

[2021-08-16 16:15] Rugvip commented on #3935
Linking this to #6512 as well as that's where it's ultimately being implemented

[2021-08-16 17:52] FlxPeters opened #6843 "Gitlab Catalog discovery and scanning"
As a Gitlab user i want to discover my `catalog-info.yaml` files on all repositories accessible by a Backstage like it is possible for Bitbucket and Github. The discovery should work with Gitlab.com and self hosted Girtlab instances.

## Feature Suggestion

The discovery could be limited to a specific group or path by using wildcards like it is possible in the other discovery integration:

[code]

[2021-08-16 20:01] brethubbard commented on #6830
After further consideration, I think the more robust solution is better to allow different scripts to be included per environment. To accommodate this I would like to avoid setting these value at build time. If I opened a PR to allow for a templating engine (e.g. ejs) in the `app-backend` to generate the `index.html` file rather than using `HtmlWebpackPlugin`, would that be considered?

[2021-08-16 23:35] tszngai commented on #3750
Thanks for the great work! I have updated my backstage instance and my resource is marked as orphaned correctly. I understand we could just simply delete the orphaned entity, but can I make it automatic? In other words is there a setting that would automatically delete the orphaned entities for me?
Asking because I would expect having hundreds/thousands of entities for my company and we certainly

[2021-08-17 03:16] SerenaIce commented on #6837
I checked this problem which might not caused by the upgrading to any specific version. And I will keep diving into this issue. If anyone met the similar issue, please leave your comment.

[2021-08-17 04:38] kim5566 commented on #4135
Hi @rmanny , have you got it resolved by following https://github.com/backstage/backstage/tree/master/contrib/docker/frontend-with-nginx?

I'm stuck with it now, as the nginx seems to be not working with readOnlyRootFilesystem=true in kube.

The inject-config.sh still wrote files to root file system. Did you get it sort out? How? Thanks in advance!

[2021-08-17 06:48] Yharooer commented on #6837
I have met this issue when upgrading to version ^0.3.0. @SerenaIce please let me know if you found a way to resolve the issue.

[2021-08-17 08:51] Rugvip commented on #6429
I have a feeling this is due to multiple versions of `@backstage/plugin-catalog-react`. We'll likely bring in cross-version compatibility like we've done for `@backstage/core-plugin-api`, but for now the fix is to deduplicate the installations of that package, with yarn resolutions if needed.

[2021-08-17 09:23] Rugvip commented on #6837
This is most likely due to duplication of the `@backstage/core-components` package. We'll likely get this sorted out in the implementation but for now you can try to make sure you only have a single version installed, using yarn resolutions if needed.

[2021-08-17 10:46] SerenaIce commented on #6837
I've find the root cause: https://backstage.io/docs/tutorials/migrating-away-from-core.
We still imported the @backstage/core, as the document says, we should leverage @backstage/core-app-api, @backstage/core-plugin-api, and @backstage/core-components instead of @backstage/core.

So that this issue can be solved.

@Yharooer , please check your code, if you have the same case.

[2021-08-17 10:46] #6837 closed

[2021-08-17 11:08] KennyLindahl opened #6847 "Webpack 5 in @backstage/cli 0.7.8 causes Backstage to crash"
After running `yarn backstage-cli versions:bump` it updated `@backstage/cli` to `0.7.8` which caused the following error when trying to run Backstage:
[code]

The error is described here as well in the Yaml package repo:
- https://github.com/eemeli/yaml/issues/300

It seems to be an issue with that this particular package is not supported by Webpack 5 since it required `"type": "module"` in `packa

[2021-08-17 11:37] vcapretz commented on #6566
hey @tudi2d, I implemented the suggested solution and created the PR, I tested it using storybook and it works great :D

[2021-08-17 11:50] Rugvip commented on #6814
Should mention here that long term we're leaning towards moving these more complex location processors to be "entity providers" instead, which is a more code-based approach that would allow for a lot more flexibility than configuration purely through yaml.

[2021-08-17 12:00] sagacity commented on #6814
Ah, that makes sense. For now I'll just start work on a PR that does some more elaborate `target` parsing, then.

[2021-08-17 12:00] #6814 closed

[2021-08-17 12:08] JParisR commented on #6771
Sure! that's probably the best approach to solve the problem

[2021-08-17 12:10] vcapretz commented on #5696
hey @saptaswapal, are you still working on this one? If not I will send a PR today for this issue, otherwise please feel free to open a PR and I can help you if needed!

[2021-08-17 12:18] #5997 closed

[2021-08-17 12:38] Rugvip commented on #6762
Created #6850 as a fix. Wanna try it out to see that it's all good? :grin:

[2021-08-17 13:01] alzafacon commented on #6762
looks good! thanks

[2021-08-17 13:53] #6762 closed

[2021-08-17 15:27] danludwig-happymoney commented on #6792
@Rugvip could you please address the followup questions I asked above? This is a pretty big barrier to adoption for us.

[2021-08-17 17:49] Rugvip commented on #6648
Closed by #6772

[2021-08-17 17:49] #6648 closed

[2021-08-17 17:56] Rugvip commented on #6449
Closing this as #6772 is now merged. It'll be included in the Aug 19th release

[2021-08-17 17:56] #6449 closed

[2021-08-17 18:07] trelore opened #6856 "Unclear error when backend.baseUrl has trailing slash"
## Expected Behavior

I expected a clearer error (or perhaps for the trailing slash to be ignored)

## Current Behavior

Currently when a trailing slash is added, the user gets an error saying Unexpected Token `<`.
It looks like it tried to hit https://domain.company.com//api/catalog/entities?filter=kind=component when on the catalog page.
The trailing slash seems to be coupled with a path that ca

[2021-08-17 18:21] regicsolutions commented on #6725
Also running into the same issue as well with the latest versions of both plugins

Noticed this in the browser console:
Refused to execute inline script because it violates the following Content Security Policy directive: "script-src 'self' 'unsafe-eval'". Either the 'unsafe-inline' keyword, a hash ('sha256-XXXXXXXXXXXXXXXXXXXX'), or a nonce ('nonce-...') is required to enable inline execution.

A

[2021-08-17 19:09] rmanny commented on #4135
Yeah I am just using a basic nginx container for my frontend. To completely disable the frontend trying to host the backend, you will need to remove this line in your router, `index.ts` (https://github.com/backstage/backstage/blob/master/packages/backend/src/index.ts#L128) or add a boolean to disable it to your config.

Then make sure to remove `inject-config.sh` from your Dockerfile entrypoint, t

[2021-08-17 19:46] sadavarterohit commented on #6662
I would like to give this a shot and work on this.

[2021-08-17 19:49] #6009 closed

[2021-08-17 20:34] joeporpeglia opened #6860 "[Microsite] Meta descriptions are unrendered markdown"
The `<meta name="description" ... />` and relevant twitter/og tags have unrendered markdown. For example, https://backstage.io/blog/2021/07/26/software-templates-are-now-in-beta has the following meta description (shortened for readability):

[code]

## Expected Behavior

The meta description should strip out markdown syntax.

## Current Behavior

See summary above.

## Possible Solution

Looks li

[2021-08-17 20:56] zjpersc opened #6861 "Postgres Search Plug-in keeping backend from starting"
While implementing release-08-12 in our sandbox environment, we are unable to get the Backstage backend to start. The log provides the following output:

[code]

## Expected Behavior

Backstage backend should start

## Current Behavior

The error message above is displayed in the log and aborts start-up.

## Possible Solution

Not a solution, but a workaround is to comment out the Postgres Search

[2021-08-17 21:10] freben commented on #6861
Oh, @Fox32  may be interested here.

https://github.com/backstage/backstage/blob/master/plugins/search-backend-module-pg/src/database/DatabaseDocumentStore.ts#L62

https://www.postgresql.org/docs/12/ddl-generated-columns.html

Seems to me that it's the version check that needs to be updated to 12, not 11.

@zjperjd you have the ability to run against version 12 or newer?

[2021-08-17 21:20] Fox32 commented on #6861
Oh that is unfortunate. Looks like I messed up the version number there. It's not just the check, we also have to update the docs. Maybe something we should mention at the meetup tomorrow.

[2021-08-17 21:40] Fox32 commented on #6861
I created a PR to fix the version requirement #6863.

[2021-08-17 22:26] zjpersc commented on #6861
I verified that running against Postgres v12 allows the code to be uncommented and the backend to start successfully.

[2021-08-18 01:17] satrox28 commented on #3926
Gitlab Plugin released

https://github.com/backstage/backstage/pull/6857

[2021-08-18 05:49] SerenaIce commented on #6836
Thanks, @fshowalter.

[2021-08-18 06:35] NishkarshRaj commented on #3926
Awesome work @satrox28 👍

[2021-08-18 08:05] younky-yang opened #6868 "Enable customize the display of entityRefTitle"
Need to have the capability to enable the customized display of entityRef.

## Feature Suggestion
Currently the display of entityRef is showed as a link with text composed like kind:name, for example, if you open explore plugin and select domain page, you will see domain user presented as a Link with text user:user_name. But sometimes we need to customize the display of this part, like not display

[2021-08-18 08:46] freben commented on #6868
Most of these use [EntityRefLink](https://github.com/backstage/backstage/blob/6d7126c2a1db0a50393c87a88b05f5dcbcc9212f/plugins/catalog-react/src/components/EntityRefLink/EntityRefLink.tsx?plain=1#L33). It takes arguments that affect whether the kind and namespace are displayed or not. You cannot affect those arguments from outside of the plugins, so each plugin will currently decide themselves in

[2021-08-18 08:52] younky-yang commented on #6868
thanks for the reply, which means for now I have to clone the plugins and modify the one for my requirement.

[2021-08-18 09:19] #6861 closed

[2021-08-18 09:23] Rugvip commented on #6836
Poked around at the coverage of some of our tests, and I believe what's going on here is that sourcemaps for the coverage are working just fine. The stuff we're seeing at the top of the files are most likely helpers added by sucrase, which are just functions for handling things like optional chaining. We'll eventually be able to skip transpiling these, but it might be a while, but tbh I think it's

[2021-08-18 09:55] Rugvip commented on #6792
Leaving the storage out is a bit deeper customization so you'll have to do it through code. You replicate the [creation of the GithubAuth instance](https://github.com/backstage/backstage/blob/37e25f3b30632a1d12ccf56cc6a2050a2e2ed6ce/packages/core-app-api/src/apis/implementations/auth/github/GithubAuth.ts#L53) but leave out the `AuthSessionStore` (not the `StaticAuthSessionManager`, got that wrong

[2021-08-18 09:59] Rugvip commented on #6811
So we (discussed this in sync) want to keep in-memory DBs as the default, as it's really convenient for many development use-cases, and it doesn't pollute the repo. We do ofc want to fix the issues with the file-based approach tho :grin:

[2021-08-18 11:50] OrkoHunter commented on #6811
Makes sense to me @Rugvip - I'll re-purpose the issue!

I think we could save some people by adding just a warning log in backend saying that the database used is in-memory and will be cleaned when the backend starts.

[2021-08-18 12:00] fshowalter commented on #6836
Agree on both fronts. It's the helpers and optional chaining can be an example an issue. BUT, that's hardly apparent from the coverage output vs. ts-jest where it will highlight the optional chaining line and indicate it's partially covered. This is a tough one, and likely needs to be resolved between sucrase and istanbul.

[2021-08-18 12:07] Rugvip commented on #6812
The `TableColumn` takes a type parameter that decides what the `rowData` is, so you'll want something like this:

[code]

Or whatever the type for the row data happens to be

[2021-08-18 12:25] Fox32 commented on #6811
I think #5700 broke how sqlite databases are created. Look like sqlite means `:memory:` right now.

[2021-08-18 12:29] tragiclifestories commented on #2723
Adding a comment/sort-of-upvote for this. Internally we're about to build something that will allow us to track which services have gone through a load-testing exercise, but exactly what the test looks like is going to vary depending on the service so really it will be a matter of 'manually' adding data in.

So really it's going to be defining something similar to the rjsf form schemas in the scaf

[2021-08-18 12:32] tragiclifestories commented on #2723
I notice that this is one of the features Atlassian are leading with on [their entry into the space](https://www.atlassian.com/software/compass) also.

[2021-08-18 13:10] Rugvip commented on #6824
I think reintroducing all of the polyfills that we removed is the way to go here, #6871. Sorry about the trouble it caused

[2021-08-18 14:43] Crevil commented on #6824
Nice, that should work. 🚀

[2021-08-18 15:02] kuangp opened #6873 "[TechDocs] Support MathJax"
## Feature Suggestion

Support using MathJax syntax in TechDocs to render formulas, etc.

## Possible Implementation

According to @emmaindal: "We have mathjax (or https://katex.org/ actually) support internally, but it has been a bit flaky so at one point we may add it in our core package, but not supported now"
## Context

This is currently not possible due to this [restriction](https://github.c

[2021-08-18 15:32] andreabenfatto commented on #6770
Just for the sake of documentation, as suggested by @Rugvip I changed as follows the `packages/app/package.json` and I got my build working:
[code]

It did solve my problem for now, but I would suggest going for this solution mentioned here to have consistenty with all other environment values in `app-config.yaml` file:

[2021-08-18 15:55] chandlj opened #6877 "Github Integrations not refreshing user token"
We are currently using the Github Integration using a Github App setup following this tutorial: <https://backstage.io/docs/plugins/github-apps>. The integration works, but after about a day API requests to the Github API for Github Actions and Pull Requests start throwing a `401` error. The error goes away and the integrations works as expected if you log out of Backstage and log back in.

## Expe

[2021-08-18 16:29] manusant opened #6878 "[plugin-api-docs] OpenAPI definition is broken for latest versions of backstage"
When opening the visual representation of an API component of type opeapi the "**ReferenceError: Buffer is not defined**" error is shown in the console and the swagger UI page isn't shown.

**This is also happening in a fresh project generated by the @backstage/cli": "^0.7.6".**

## Expected Behavior
No error is fired and Swagger UI is shown with the API definition

## Current Behavior
Currently t

[2021-08-18 17:02] Rugvip commented on #6830
A possible way forward here is to power up the `app-backend` plugin a bit and let it template the index file. That's be the most straightforward place and perhaps least hacky as well. It really wouldn't need any file rewrites or anything either, just a custom handler.

Other options if you want to do this in the deployment end are scripts similar to https://github.com/backstage/backstage/blob/557f

[2021-08-18 18:14] #6824 closed

[2021-08-18 22:51] timbonicus commented on #6878
Thanks for reporting! This is fixed in #6810 set to release tomorrow.

[2021-08-18 22:51] #6878 closed

[2021-08-19 00:50] DavidZemon commented on #6828
Uh... Easier said than done. I'm at a client not too thrilled at the idea of contributing to OSS. I figure this issue skating right on the edge 😂

[2021-08-19 00:54] SerenaIce commented on #6836
@Rugvip , we just switch back to js-test to solve this coverage issue atm. But you're right, we should find the way to solve this problem fundamentally.

[2021-08-19 01:34] kiranpatel11 opened #6885 "Catalog : data quality checks and reporting"
Some indication/status on catalog entities to mark the entities with dangling references (missing dependent entities/resources or missing teams for ownership) and missing recommended annotations.

## Feature Suggestion

The `catalog-info.yaml` is maintained by respetice owner of the entities, we see various level of data quality issues depending on the team's maturity.

It would be great if such d

[2021-08-19 07:03] jhaals commented on #6885
Hi @kiranpatel11,

It's probably hard to make some general plugin/feature that fits all organisations when it comes to data quality.
All entities are periodically refreshed and what you could do to improve data quality in your organisation is to create a custom processor that validates the entity against your defined rules, adds annotations and does necessary actions depending on your exact needs

[2021-08-19 09:15] andrewthauer commented on #6830
You could likely use something like https://www.npmjs.com/package/express-mung in the `app-backend` to help do this.

[2021-08-19 13:25] taras commented on #6496
@nattymachado and I are seeing the same issue with our deployment. We'll start looking at this now.

[2021-08-19 14:35] jhaals commented on #6662
Thanks for taking a look at this @sadavarterohit

[2021-08-19 14:46] jhaals commented on #3926
Looks like this is implemented :)
Closing the issue for now, feel free to reopen if more discussions are needed.

[2021-08-19 14:46] #3926 closed

[2021-08-19 19:29] kuangp commented on #6532
I want to also add on here that since catalog import no longer preforms a full dry run, registering an entity with an improperly formed `catalog-info.yaml` succeeds in adding the location but later fails to process (without any feedback to the user).

This is concerning since before the catalog engine refactor, users are given instant feedback if their entity file is invalid. Now when a user attem

[2021-08-19 21:37] djsly commented on #4810
Keep alive

[2021-08-20 01:39] kim5566 commented on #4995
any update on this issue please?

[2021-08-20 06:53] freben commented on #4995
@kim5566 see the comment above yours. The PR is active and we are trying to get it merged.

[2021-08-20 07:11] emmaindal commented on #3122
Really good point @iamEAP, when you say "for us, it's just a matter of ensuring it's possible" do you mean as a app integrator it should be possible for me to choose between having two different paths for docs or one?

I wonder if we should create some new issues out of this one then as action points? Around the things you mentioned, clear documentation on how, what needs to be implemented to supp

[2021-08-20 07:18] jhaals commented on #6841
Hi @BernhardRode,
With 'log viewer' do you mean the scaffolder log output or someplace else in backstage?

[2021-08-20 07:19] jhaals commented on #6843
I believe this will be implemented in #6852

[2021-08-20 07:22] kiranpatel11 commented on #6885
@jhaals

What I am hinting towards the platform capability which can facilitate such checks and visualization.

Some ideas:

- Catalog db schema extension may be require to associate the check status, comments, timestamp against the entity (much like a scorecard).
- OR the scorecard can be a separate plugin with its own backend storage with `EntityRef`, `Check`, `Status`, `Remarks`, `TimeExecuted`

[2021-08-20 07:45] jhaals commented on #6860
v2 of Docusaurus would be nice overall. There has been some honourable attempts from the community to upgrade but I don't think there's anyone actively working on this at the moment.

[2021-08-20 08:14] jhaals commented on #6877
Hi @chandlj,

Just to clarify that this the OAuth login flow for the user in the UI right? There's currently no support for refresh tokens as the traditional OAuth apps never expire so you can't refresh them. However the new Github apps support refresh tokens so we need to implement it in the backend. There's also a caveat that you can't request additional scopes in the user flow and are tied to t

[2021-08-20 08:18] yafanasiev commented on #6877
We have the same issue as well. We use separate OAuth integration for actual login, and have Github App set up for authenticating to the Github Actions plugin. We observe the same behaviour, and to fix the problem we have to log out from github and user profile and login again.

[2021-08-20 10:02] rubenLindstrom opened #6906 "[Home] StarredEntities homepage component"
## Feature Suggestion
A homepage Component that renders a selection of starred entities. Could be ordered by recency of starring, or perhaps user defined.

## Context
For the new homepage as described in #5416 to be of use, there has to exist an ecosystem of components to be used for composing a homepage. This issue suggests the implementation of one such component.

[2021-08-20 10:05] rubenLindstrom opened #6907 "[Home Page] Search Component"
## Feature Suggestion
A Home Page Component that allows search from the home page. Minimum functionality is a field that links away to the search results page on submit, but autocomplete and debounced result fetching to link directly to a result would also be of great use.

## Context
For the new Home Page as described in #5416 to be of use, there has to exist an ecosystem of components to be used

[2021-08-20 11:06] #5278 closed

[2021-08-20 11:16] sagacity opened #6908 "Catalog: Noisy logging of NotFoundErrors for optional entries"
## Expected Behavior

When discovering catalog entries in GitHub or GitLab, many discovered repositories may not actually contain a `catalog-info.yaml` file. This is okay, because these discovered entries are marked as `optional` by the discovery processors.

I would expect these missing `catalog-info.yaml` files to not cause any warnings in the logs, since we expect plenty of repositories to not

[2021-08-20 12:03] jhaals commented on #6856
Hi,

I'm at least in the demo app going to the catalog view not able to reproduce the exact error you're seeing but perhaps we hit different endpoints. Mine says `ResponseError: Request failed with 404 Unknown` Backstage does not support trailing slashes in the baseURL. I'm not sure I would consider it a bug but some warning could certainly help future users.

[2021-08-20 12:22] grantila opened #6910 "Upgrade to React 17"
Currently, all backstage packages depend on React 16. React 17 has been stable for quite a while now, and provides better handling of multiple React versions running concurrently. Eventually using the new jsx factory would be great, but let this issue be only about bumping everything to 17.

Since this is a breaking change, it should be done in a breaking version bump.

I'm not 100% sure of what e

[2021-08-20 13:12] grantila commented on #6910
`@material-ui/lab@4...` should probably be bumped to 5 for React 17 compatibility (on paper anyway)

[2021-08-20 13:18] #6794 closed

[2021-08-20 13:20] kuangp commented on #4817
unfortunately, still relevant :(

[2021-08-20 13:51] kyle-thedelta commented on #6448
Just ran into this issue as well, found this github issue by chance.
Lets please add this to docs on backstage

[2021-08-20 16:01] kcheriyath opened #6913 "Rendering html in readme.md in github-insights plugin"
## Feature Suggestion

_Adding this issue as a feature request as this capability likely was not in scope for the plugin_

Enhance Github insights plugin readme widget to render html markups. Readme containing html styling in github allow-lists are rendered to spec so  `<table>...</table>` will be displayed as a table.

## Current Behaviour

HTML mark-up in readme is rendered as code like below

!

[2021-08-20 17:07] tudi2d commented on #6566
Closing this issue as PR #6869 is merged.

[2021-08-20 17:07] #6566 closed

[2021-08-20 17:09] heatheralee opened #6914 "Splunk On Call Plugin: Update portal link in card to go to team specific page"
## Feature Suggestion

Currently, the Portal link for the Splunk On Call EntitySplunkOnCallCard goes to "https://portal.victorops.com/". We would like to update this to point to a team specific page.

## Possible Implementation

**Implementation 1:**
Update [EntitySplunkOnCallCard](https://github.com/backstage/backstage/blob/master/plugins/splunk-on-call/src/components/EntitySplunkOnCallCard.tsx#L

[2021-08-20 18:40] #5417 closed

[2021-08-20 20:55] defaultbr opened #6916 "Azure DevOps catalog-info import not working"
## Expected Behavior

Loading the catalog-info and registering it from azure devops

## Current Behavior

Azure DevOps url for importing `.yaml` is not working anymore since latest release

the change that made it stopping to work: https://github.com/backstage/backstage/commit/ced85b598e92416ff78d4efc0906f6532f091d34#diff-623b82a44180c2915cf566959ddebee1b33c1ad1d1df683bd94904fa5ab31564R56

For azu

[2021-08-20 23:51] luxaritas opened #6917 "Group names can overflow groups explore nodes"
## Expected Behavior

Group names should not overflow dependency graph nodes

## Current Behavior

![image](https://user-images.githubusercontent.com/18635705/130303305-aa1b173a-da90-48b2-b1c7-d458733f7f79.png)

## Possible Solution

Titles that are too long should likely wrap to the text line

## Steps to Reproduce

Create a "Group" entity with a long displayName, and then open the explore page t

[2021-08-21 09:43] deepak-bhardwaj-ps commented on #6528
I would like to work on this

[2021-08-21 11:18] #6003 closed

[2021-08-21 15:15] GregoireW commented on #6725
In jenkins, it is possible to enable build clean action ( globally or per job ) to remove old build. It is also possible when jenkins scan for branch / tags / PR  to set rule to prevent build on some case. It means some job are created, but there is no last build.

I put at the end of this message [1] an example of json jenkins-backend get from jenkins when calling the `/api/json?tree=jobs[actions

[2021-08-21 17:21] Fox32 commented on #3579
Parts of this are implemented now. We have a UI that's shows build logs and errors. But there is coordination for task in multiple backend replicas or parallel requests.

[2021-08-22 10:16] OrkoHunter commented on #3579
Thanks @Fox32 ! The problem described in the context of this issue seems to be resolved now. I'd like to close this!

[2021-08-22 10:16] #3579 closed

[2021-08-22 14:33] Fox32 commented on #6177
I think this is resolved. I wrote a new translator for Lunr which always does a wildcard search. Same goes for the Postgres default translator.

[2021-08-23 10:54] manusant opened #6920 "[jenkins-backend-plugin] Jobs with no lastBuild cause the entire jobs request to fail"
The Jenkins backend plugin is implemented in a way that if it fails to process information from one job the entire response (including already parsed jobs) will be discarded because no proper exception handling is implemented.

This is happening in function **_augmentProject(job)_** called by **_getProjects(jenkinsInfo: JenkinsInfo, branch?: string)_**.
and special care is needed when evaluating t

[2021-08-23 12:58] #6710 closed

[2021-08-23 12:58] #6792 closed

[2021-08-23 12:58] #6877 closed

[2021-08-23 13:48] deepak-bhardwaj-ps commented on #6528
Can someone, please, assign this to me :)

[2021-08-23 14:26] freben commented on #5221
This is implemented since https://github.com/backstage/backstage/pull/6343

[2021-08-23 14:26] #5221 closed

[2021-08-23 14:34] aravindparappil46 commented on #2723
Adding my upvote to this! Would be an awesome plugin to have!

[2021-08-23 14:35] #5682 closed

[2021-08-23 15:02] jhaals commented on #6920
I believe this will be fixed by #6918

[2021-08-23 15:37] defaultbr commented on #6916
I've sent a PR -> https://github.com/backstage/backstage/pull/6926

[2021-08-23 15:40] Rugvip commented on #6182
Leaving this stale but anyone finding this, do chime in if you want this implemented. We could probably add something to the app configuration that controls it

[2021-08-23 15:59] defaultbr commented on #6917
For my company I did a workaround splitting name/displayName into chunks and adjusting it on the block, since I was waiting for maximum 6 works, i've hard coded the things.

`
  var nameInArray = [props.node.name]
  if (props.node.displayName && props.node.displayName.length > 0) {
    nameInArray = props.node.displayName.match(/\s?(?:\w+\s?){1,2}/g)
  }

  const y = nameInArray.length === 1 ? 34

[2021-08-23 17:13] freben commented on #6828
@DavidZemon Does it look like this might address this hypothetical problem, if some hypothetical user might have run into it? :) https://github.com/backstage/backstage/pull/6927

[2021-08-23 17:23] DavidZemon commented on #6828
It's all so abstract and hard to tell... But hypothetically, it just might! Thanks!

[2021-08-23 17:42] #5837 closed

[2021-08-23 17:48] freben commented on #6101
Hey! I just wanted to acknowledge that I saw this ticket so it doesn't seem to go unnoticed into the aether.

We're sort of careful with adding more kinds to the core offering. However, [adding custom private extensions](https://backstage.io/docs/features/software-catalog/extending-the-model) to the model is quite fine. Especially adding a completely new kind, which would not interfere with existi

[2021-08-23 17:48] #6101 closed

[2021-08-23 18:08] freben commented on #6885
I think this can overlap with tech insights though! https://github.com/backstage/backstage/issues/2723 There's a lot of potentially interesting discussion in that issue.

[2021-08-23 18:38] #6828 closed

[2021-08-23 19:36] punkle opened #6928 "Kubernetes plugin is not correctly reading the external id from the aws config"
The kubernetes plugin is not correctly reading the external id from the aws config

## Expected Behavior

It should read external id and use it to pass to the sts assume role call.

## Current Behavior

Currently it does not read the external id.

## Possible Solution

Pull request #6891 fixes this.

## Steps to Reproduce

Setup a cross account role in AWS with an external id
Configure the Backsta

[2021-08-23 19:36] punkle commented on #6928
https://github.com/backstage/backstage/pull/6891 has the fix for this issue.

[2021-08-23 19:49] punkle opened #6929 "github-discovery processor to support collecting catalog-info.yaml from default branches"
It would be nice If we can configure the github-discovery processor to collect from the default branch rather than an explicitly configured branch. If there are branches being migrated from master -> main it is suggested to set the discovery processor with the master branch.

There are challenges using the discovery processor like this in the following scenario:

- The main branch is set as the de

[2021-08-23 19:56] punkle commented on #6929
Here is a suggested solution for this suggestion https://github.com/backstage/backstage/pull/6930

[2021-08-23 20:59] Andrew-Wichmann commented on #6245
Hi, I am not very versed in the security/authorization realm, but I've been charged with blocking unauthorized access to our Backstage deployment. Can you tell me if this issue resolves [this note](https://backstage.io/docs/auth/using-auth#identity---wip) in the documentation?

[2021-08-23 21:03] naveen-krishnan-tm opened #6932 "populate ui:options dynamically"
I am wondering whether it's possible to have a dropdown that list the github team names the user is part.

**I collect the user details here**:
- title: Enter your Github details
      properties:
        githubUserName:
          title: Github User Name
          type: string
          description: Your Github ID
        githubPAT:
          title: Github Personal Access Token
          type: str

[2021-08-23 22:48] taras commented on #6496
It looks like the issue we were experiencing was unrelated. In our case, we had a faulty processor that had an infinite loop. Backstage processed a few processors, get to the faulty processor and get stuck in it forever. It looked similar but was caused by something else.

[2021-08-24 02:57] Expalex opened #6933 "Scalable Side Navigation Bar Design"
Expedia Group would like to propose side navigation designs that would be more scalable.
The conversation was [initially](https://github.com/backstage/backstage/issues/5826) started a few months ago to explore a design that could be added to the Storybook.
 
Please view the Side [Nav v1.2_Video](https://drive.google.com/file/d/1gciX9w0qw1RARMNNGfwZuEgkWotxrr5P/view?usp=sharing) created using the F

[2021-08-24 03:08] #5955 closed

[2021-08-24 04:29] nwpappas commented on #6933
This is exciting to see, as we've been exploring similar concepts. A few comments/questions I'd enjoy hearing your finding on, from the video:

What does 'Search' actually search and how are the result intended to be displayed?

Did you explore a click-to-open on the secondary menu for Option 1, instead of retaining the mouse over? We've found the click-to-open to be less distracting to users, for

[2021-08-24 04:52] regicsolutions commented on #6657
@kiranpatel11 wondering if you ever got passed this issue? Running into a similar issue

[2021-08-24 06:14] Expalex commented on #6933
Enabling custom add menus and submenus will really heighten the navigation’s usability.
@nwpappas  If kept simple, I expect search to bring up and autofill with menu names. To make it more advanced, menu types can be searched as well, but a lot can be done. What are you picturing?
Yes, as you said I have thought the possibility of click-to-open. That could work too. There are several reasons for t

[2021-08-24 06:16] Expalex commented on #6933
Enabling custom add menus and submenus will really heighten the navigation’s usability.

@nwpappas
If kept simple, I expect search to bring up and autofill with menu names. To make it more advanced, menu types can be searched as well, but a lot can be done. What are you picturing?
Yes, as you said I have thought the possibility of click-to-open. That could work too. There are several reasons for t

[2021-08-24 08:58] Rugvip commented on #6245
@Andrew-Wichmann It does not.

The best way would be to do what the note suggests, as in using something like IAP. In your case probably AWS ALB, [which you can also use for sign-in](https://github.com/backstage/backstage/blob/master/contrib/docs/tutorials/aws-alb-aad-oidc-auth.md). There's also a [tutorial in contrib/](https://github.com/backstage/backstage/blob/master/contrib/docs/tutorials/auth

[2021-08-24 09:13] dhenneke commented on #6932
This could be solved by adding a custom `ui:field`. The [EntityPicker](https://github.com/backstage/backstage/blob/fe1277fc3905897f4cd3e664886055badfb8101a/plugins/scaffolder/src/components/fields/EntityPicker/EntityPicker.tsx#L41-L45) is a good example: It reads entity names from the catalog and provides them as selectable options. There could be a `GitHubTeamPicker` that gets the current user au

[2021-08-24 09:32] Pike opened #6935 "[scaffolder] Expose formData to fields"
Right now, the complete `formData` isn't accessible to field implementations.

## Feature Suggestion

Expose `formData` to fields to allow context dependent behavior. I've been thinking about both defaults and validation, but if #6932 is about scaffolder, it could also be used to populate options dynamically.

## Possible Implementation

Create a React context for `formData` and expose it to field

[2021-08-24 09:45] jhaals commented on #6841
@BernhardRode I take your thumbsup that was spot on :)
Would you be interested in looking into ways of implementing this feature?

[2021-08-24 10:30] Rugvip commented on #6933
I do like option 1 :grin:

@katz95 for visibility as well

From a technical angle the `Sidebar` is intentionally very loosely coupled to the rest of the app. I'm thinking it would make sense to move the sidebar components out of `@backstage/core-components` into something like `@backstage/sidebar`, and with that perhaps build it out a bit to allow for some more customization.

[2021-08-24 10:37] freben commented on #6933
Are we really at a point where the component library would benefit from package splitting? :) I'd spontaneously vote for instead putting this in the same package and naming it for example `NestedSidebar` or similar.

[2021-08-24 10:41] freben commented on #6933
Hmmm. `app-components`, `plugin-components`, `common-components`? :)

[2021-08-24 10:48] Rugvip commented on #6933
@freben yeah essentially that. It's kind of what we actually have but it felt a bit overkill

[2021-08-24 12:55] SerenaIce opened #6936 "Get an error with using ItemCardHeader"
Get an error with using ItemCardHeader when updating the @backstage/core-components to version ^0.3.2 and also update all the related packages to the latest. Please refer to the error below:

![image](https://user-images.githubusercontent.com/43363062/130619547-3edbfb2b-1fd3-4fcb-afc8-92057c38d163.png)

Upgrade to the latest version of Backstage: release-8-20
And
 "@backstage/catalog-model": "^0.9

[2021-08-24 14:41] SerenaIce commented on #6936
The only difference I can tell is in Backstage the '@hot-loader/react-dom' module version shows 16.13.0+4.12.20, but in my source code the module version generated shows 16.14.0+4.13.0. However, it's weird that we both using the backstage/cli@0.7.9 and the '@hot-loader/react-dom' should be handled by backstage/cli.

[2021-08-24 14:54] BernhardRode commented on #6841
Maybe I will be able, but we are not there yet (enterprise and legal...).

First i wanted to know if this feature would be a good idea, at all.

[2021-08-24 15:31] JP-Dhabolt opened #6939 "Changes to support extra App Origins breaks existing implementations"
https://github.com/backstage/backstage/blob/5722fb788287849e0b4b2230c3d1db52b7b3df0a/plugins/auth-backend/src/lib/oauth/OAuthAdapter.ts#L119-L128

Given that the `OAuthState` has an optional `origin`, when it goes through the serialization process, it ends up with the string literal `undefined`.  The string `'undefined'` makes it through the `if(state.origin)` check, but throws an exception on the

[2021-08-24 15:39] #6079 closed

[2021-08-24 15:42] Rugvip commented on #6939
Thank you for reporting! Working on a fix

[2021-08-24 16:00] Expalex commented on #6933
Sounds like option 1 is a possible design to explore further. I’ll improve the prototype and share. Is there anything else the
Expedia Group can provide?

[2021-08-24 16:10] punkle commented on #6928
6891 is merged, so Ill close this one.

[2021-08-24 16:10] #6928 closed

[2021-08-24 16:17] #6597 closed

[2021-08-24 17:17] #6939 closed

[2021-08-24 19:06] joeporpeglia commented on #6936
Looks like your theme doesn't include `palette.bursts.gradient`, which was added in #6780. This might be a result of using a custom theme, but could also happen if an older version of `@backstage/theme` is installed (`< 0.2.10`). `yarn why @backstage/theme` will show all of the versions you have installed.

[2021-08-25 01:52] SerenaIce commented on #6936
Thanks, @joeporpeglia. This issue was solved. It's caused by the gradient. We override the theme,  so after the upgrade, we need to add the
 gradient: {
        linear: 'xxxxxx',
   },
to our customized configuration.

[2021-08-25 01:53] #6936 closed

[2021-08-25 08:06] jhaals commented on #6913
Hi @kcheriyath!

The plugin is actually hosted in a different organisation. Please open your issue against https://github.com/RoadieHQ/roadie-backstage-plugins

[2021-08-25 08:06] #6913 closed

[2021-08-25 09:47] 4integration opened #6945 "OIDC Auth plugin error - "Authentication failed, done is not a function""
## Expected Behavior
Working OIDC integration

## Current Behavior

1. Get "Sign In" button in Backstage
2. Opens a popup with our IdP login form
3. Successful login and popup closes
4. An error is shown in Backstage "**Authentication failed, done is not a function**"

Have I missed anything?

## Context
In `app-config.yaml`
[code]
and corresponding in `App.tsx`
[code]

## Your Environment

- **No

[2021-08-25 11:06] #4367 closed

[2021-08-25 11:06] #6778 closed

[2021-08-25 12:10] Pike commented on #6935
I'd be happy to take a look at this, but I'd like to get some feedback on the proposal first. And possibly an example to follow. I think I found at least two different ways on where to put the code that exposes a context on a plugin api.

[2021-08-25 12:33] nadworny commented on #4359
Hi @freben , I've just created a PR (my first) for it. Do you need to approve it first so that it goes through the ci/cd pipeline?

[2021-08-25 12:39] freben commented on #6383
fixed by https://github.com/backstage/backstage/pull/6822

[2021-08-25 12:39] #6383 closed

[2021-08-25 12:49] freben commented on #5223
I'll just note here, that a typical Backstage installation will be secured and isolated to a given organisation. The potential audience for the integration keys will typically be your own company's employees, alleviating this issue significantly.

This also made me think - maybe there's room to consider field-level access controls in the future RBAC work. It could be that potentially sensitive fie

[2021-08-25 12:56] #6725 closed

[2021-08-25 13:33] jhaals commented on #6916
Fixed by #6926, thank you!

[2021-08-25 13:33] #6916 closed

[2021-08-25 13:52] freben commented on #6933
@Rugvip to get experimentation going on this cool contrib - is this the time to break it out into a separate lib or can we let this start to get added in `core-components` as an alpha and then consider refactoring the structure of all of these things separately? Not sure that `@backstage/sidebar` is the right granularity for example

[2021-08-25 14:22] Jerry4013 opened #6957 "List catelogs owned by my team"
In the home page/catelog page, there is a button called "Owned", which lists all the catalogs that belongs to the current login user. However, in most cases, a repo is owned by a team in a company, instead of a single person.

## Feature Suggestion

We hope that there is a button like owned by my team, which will display all the entities owned by my team. Thanks!

## Possible Implementation

## Co

[2021-08-25 14:42] freben commented on #6957
The meaning of "ownership" is actually configurable by your company. The `auth` backend responds with a token that contains claims about what you are owning stuff through - if that claim contains both your user and your team, then the Owned filter will show entities marked as owned by either of those two.

This is a good place to start for some background: https://github.com/backstage/backstage/is

[2021-08-25 14:42] #6957 closed

[2021-08-26 10:41] jalet-pp opened #6964 "Allow nesting of templates"
## Feature Suggestion

Allow actions to call other actions by allowing a new keyword called `template`(?) in a step definition.

## Possible Implementation

[code]

## Context

When building for a bigger organization with some amount of legacy and a lot of existing repositories/services/libraries it's almost impossible to not have them diverge from a "golden path" or "standard". By allowing templa

[2021-08-26 11:34] manusant opened #6967 "[kubernetes-backend-plugin] Extend kubernetes backend plugin to provide a dynamic way to supply clusters"
## Feature Suggestion
Extend kubernetes backend plugin to provide a dynamic way to supply clusters using kubernetes secrets to import remote service account tokens and watchers to track their lifecycle.  In the end clusters are supplied to Backstage Kubernetes plugin in a dynamic way.

## Possible Implementation
Basically, we can use the a kubernetes client to watch local secrets with specific lab

[2021-08-26 15:37] kuangp opened #8103 "[TechDocs CLI] `migrate` command doesn't support non-URL safe characters in filenames"
The `migrate` command fails to copy files that have non-URL safe characters. I've had some files that had the `+` character in the name and they weren't migrated

[2021-08-26 20:59] kuangp opened #6973 "Provide users feedback when their entities are "disconnected" due to renaming/moving of source entity files"
## Feature Suggestion

Provide some kind of UI feedback on entity pages to alert the user that their entity is "disconnected" from their source entity file.

## Possible Implementation

Detect that the associated `location` entity has been orphaned and apply a similar status to affected entities which we can use to create UI feedback that suggest that the user should unregister the location and re

[2021-08-27 01:51] seizadi opened #6975 "Plugin failed to compile in Backstage App but compiles standalone"
I created a plugin using backstage-cli

## Expected Behavior
I should be able to create a npm module and include it in the backstage app

## Current Behavior
The plugin standalone project compiles
[code]

It fails when I add it to my backstage app and run build:
[code]

## Possible Solution
I added a tsconfig.json to my plugin project but it did not change the behavior.

I am running the plugin as

[2021-08-27 04:00] kim5566 opened #6976 "[GitHub Action Plugin]Support GitHub Apps in addition to GitHub OAuth Apps"
## Feature Suggestion

Github Action Plugin requires to install Github OAuth App.
https://roadie.io/backstage/plugins/github-actions/
This Github Action API is available for GitHub Apps as well.

## Possible Implementation

1. get config from Integrations
2. leverage GithubCredentialsProvider
## Context

It would benefit for people who have no Github OAuth App setup.

[2021-08-27 12:15] nadworny opened #6979 "TechDocs returning "ERROR 404: i: Page not found""
## Expected Behavior

TechDocs should generate docs properly when opening a docs component from the main menu.

## Current Behavior

When opening a Docs site that is configured to use either github or azure devops, you get a 404 error page suggesting that perhaps you are missing an index.md but if you look at the browser console there is a 404 error loading an index.html from an API route. However

[2021-08-27 13:40] PavelPolyakov opened #6980 "docs are not available from UI latest backstage version"
1. I have component definition like
[code]
2. Then backstage parses docs and displays them on the docs index page
3. When I click on the record, it says "dropped the mic!" and I see that it tries to query https://domain.com/api/techdocs/static/docs/default/component/my-service/index.html (returns 404)
4. I see that https://domain.com/api/techdocs/static/docs/default/Component/my-service/index.html

[2021-08-27 19:59] kuangp opened #6987 "[TechDocs] Blockquotes are not styled correctly"
## Expected Behavior

![Screen Shot 2021-08-27 at 3 50 12 PM](https://user-images.githubusercontent.com/6998196/131181515-3075231c-7a28-439a-b752-5202d939558e.png)

## Current Behavior

![Screen Shot 2021-08-27 at 3 52 34 PM](https://user-images.githubusercontent.com/6998196/131181626-939c9364-4d13-445d-9fff-fd3d42d950bf.png)
## Possible Solution

Inject CSS in https://github.com/backstage/backsta

[2021-08-28 01:17] seizadi opened #6989 "KubernetesMigrationAlert is not exported in Cloud Insights ClientAPI"
The Cost Insights ClientAPI implementation of Alerts has three Alerts defined, two of them have exports and can be materialized. The third KubernetesMigrationAlert does not have an export.

I can not complete all the Alerts supported by FrontEnd ClientAPI Example:
https://github.com/backstage/backstage/blob/0667c5c321033a8f2fbc02a440a05ee66ec7822f/plugins/cost-insights/src/example/client.ts#L142

[2021-08-29 04:56] alec-mccook commented on #6980
Hello everyone!  I appear to be having the same issue.  I found this in the logs:

`[2m2021-08-29T04:35:49.997Z[22m [34mtechdocs[39m [32minfo[39m Could not find /app/node_modules/@backstage/plugin-techdocs-backend/static/docs/default/Component/<my_app_name>, creating the directory. [36mtype[39m=plugin`

Something I noticed that I think is also related is when I try to go to the tech docs (

[2021-08-29 05:31] alec-mccook commented on #6980
It appears there was a change made that needed to be fixed on my end!
I referenced this changelog:
https://github.com/backstage/backstage/blob/master/packages/create-app/CHANGELOG.md

There were a few key changes that needed to be made to the following file:
`packages/app/src/App.tsx`
I needed to change my imports here:
[code]
Adjust the bind routes:
[code]
And finally, adjust the page rendered fo

[2021-08-29 11:12] kiranpatel11 commented on #6657
@regicsolutions, yes we managed to make it work with `react-helmet-async`.

In our case, we need to include the NewRelic monitoring script into <head> element, the custom env specific configuration were introduced to app-config.yaml by extending the schema in app/package.json.

Please let me know if you need further details.

[2021-08-29 14:40] KatherineZhou commented on #6933
Hi!! This is so great, thanks for sharing your efforts! Showed these designs to our internal design team, and we love Option 1, as it gets users right to the subnav level and cuts out redundancy. Perhaps we should do some testing with users to see if they find hover annoying or not. A few questions:

1. Is that nested Search in the expandable subnav only for the entities within that subnav? Wonder

[2021-08-29 20:50] #4450 closed

[2021-08-30 01:46] falconbin opened #6991 "[Catalog] - delete catalog from db(postgres) when catalog is deleted from yaml file"
A catalog is being deleted from yaml file, but in logs we find some errors that still read the non-existing yaml files. I guess this record is still in database.

## Expected Behavior
Should not read the non-existing yaml files, delete the record from db.

## Current Behavior
error shows that backstage read the non-exiting files

## Possible Solution
delete the record from db if the file doesn't e

[2021-08-30 06:58] freben commented on #6991
Perhaps surprisingly, this is the expected behavior at this point.

As a general rule, the catalog does not silently mess with the locations and entities that were registered as a consequence of direct user action - it requires user action to unregister or move them as well. This is for safety reasons. There is a myriad of reasons that some registration might unexpectedly become corrupt: you could

[2021-08-30 07:01] freben commented on #6991
I'll close the issue for now, but do get back to us here or on Discord if you have additional questions. If you have feature ideas to improve this, you can also make a feature request issue here on GitHub.

[2021-08-30 07:01] #6991 closed

[2021-08-30 07:32] nadworny commented on #6979
Ok then I don't understand it 😉  I mean migrating something using the above migration cli fixes the issue, so if we don't have to migrate and start from a fresh installation, why would this issue still exist?

[2021-08-30 07:35] PavelPolyakov commented on #6980
I'd like to highlight, that @alec-mccook has another issue, the original issue can not be fixed with changes they have mentioned.

[2021-08-30 07:40] PavelPolyakov commented on #6979
From my perspective the issue exists, because documentation content is generated in the `Component` folder.
While front-end queries it using `components` folder. Depending on the OS, probably, back-end code either can or can not find appropriate folder in the local filesystem. In my case we're using `node:14-buster-slim`, same happens on macOS, because file system is case sensitive.

[2021-08-30 07:51] nadworny commented on #6979
So it means that even if there would be a support for local storage for the migration cli, once we add a new techdocs, the issue will still persist for the new one and one would need to run the migration again?

[2021-08-30 07:57] PavelPolyakov commented on #6979
Yes, from my perspective, that means that the issue shall be fixed in code first.

[2021-08-30 07:59] nadworny commented on #6979
@camilaibs would you agree? Can we maybe get some support/guidance on this one from the devs?

[2021-08-30 08:31] rodiongork-genestack commented on #6980
@PavelPolyakov could you please specify versions of techdocs plugin and backstage itself you are using? I guess it is 0.11.0 for techdocs and 0.9.0 for backstage? (I'm not backstage supporter, rather investigate some other issues we have with plugin)

[2021-08-30 08:38] PavelPolyakov commented on #6980
@rodiongork-genestack

front-end it's
[code]
back-end it's
[code]

What do you mean for `backstage` version? Where can I check that.

[2021-08-30 11:50] NishkarshRaj commented on #6832
@freben @datagitlies Thanks for the feedback and suggestions.

We will incorporate those pointers in the PR we raise soon. 👍

[2021-08-30 11:56] prasaria opened #6995 "Aggregate ownership of entities"
Parent group should aggregate ownership of entities on group page

## Feature Suggestion

I have an idea, if a group has children, the values of entities in the ownership section should recursively aggregate across all of it children and at the current group level. Clicking on the entity type box should take the user to the filtered catalog page and show all of the entities that are included in th

[2021-08-30 11:56] PavelPolyakov commented on #6980
This can be temporary fixed by providing configuration:
[code]

[2021-08-30 11:57] prasaria commented on #6681
I will close the issue, since the PR related to this issue is already merged. Thank You

[2021-08-30 11:57] #6681 closed

[2021-08-30 12:05] emmaindal opened #6996 "[Search] Add SearchType component to storybook search collection"
## 🗒 General

It would be useful if the [SearchType component](https://github.com/backstage/backstage/tree/master/plugins/search/src/components/SearchType) could be added to the Storybook search collection.

Read about how to [create a new Story](https://backstage.io/docs/dls/contributing-to-storybook#creating-a-new-story).

[2021-08-30 12:10] rubenLindstrom opened #6998 "[Home Page] Welcome Experience Component"
## Feature Suggestion
As suggested by @kiranpatel11, a home page component that introduces a welcome experience would certainly be useful for the home page. There are many ways in which such a system could be used, but some key features could include highlighting of key features, links to important docs, etc.

## Possible Implementation
Given the complexity of this, and all the different alternati

[2021-08-30 15:08] freben commented on #6632
I am not sure how I personally could not have seen this before. But just acknowledging it now, so it doesn't seem unattended to :)

[2021-08-30 18:44] freben commented on #6995
Hi!

The easiest way to achieve this, would be to contribute an addition to the group page. It could work as follows:

- Add a dropdown or similar switcher, that lets users pick between "Direct ownership" and "Transitive ownership" view mode.
- If "direct" is shown, everything works as it does today
- If "transitive" is shown, the typescript code in the page actually goes to the catalog to look up

[2021-08-30 18:53] freben commented on #6998
Hi! This one is a bit light on details - not sure what the wizard would entail, and what set of cards one might get started with. Would we be providing cards that look neat but whose title and description and image you have to provide as props, or is the abstraction on another level than that?

I'll just drop a (low-resolution but hopefully clear enough) screencap from the Runway demo that America

[2021-08-30 18:58] freben commented on #6160
Closing, but I'll just note here that the builtin `EntityPicker` does support `allowedKinds` and `defaultKind` - and could conceivably be extended with more options or replaced with a custom picker.

[2021-08-30 18:58] #6160 closed

[2021-08-30 19:38] chuliang014 opened #7004 "Create a new column"
Hi,

Could we create a new column in the catalog page, and do not create a new plugin for it? For example, create a column for showing slack channel.

![image](https://user-images.githubusercontent.com/56138162/131395230-14bb7495-c7bc-4086-a1cb-7c70cc955cc6.png)

[2021-08-30 19:54] freben commented on #6973
See the comment here for some potentially related context. https://github.com/backstage/backstage/issues/6991

I poked around with this to get a feel for the end user experience. So as you note, the entity itself doesn't get marked as no longer being able to update. Instead, the parent generated Location entity is the one that gets the error marker.

<img width="1449" alt="Screenshot 2021-08-30 at

[2021-08-30 19:58] freben commented on #6989
Oh neat! Cool to hear you're working on that.

Would you like to contribute that export yourself? Sounds like it makes sense to do.

[2021-08-30 20:09] kuangp commented on #6973
That makes sense. Is that something I can do now in my custom `EntityPage`? something like fetching the parent `Location` entity and checking for a `backstage.io/orphan` annotation or the the `status` field on its entity definition and enabling warning on the UI of the child entity?

[2021-08-30 20:17] camilaibs commented on #6979
@nadworny the [pull request](https://github.com/backstage/backstage/pull/7003) that fixes this issue is being reviewed to be included in the next Backstage release and a workaround solution has been shared in the discord [here](https://discord.com/channels/687207715902193673/714754240933003266/881824129945329664).

[2021-08-30 20:22] timbonicus commented on #6989
This is intentional -- everything under the `plugins/cost-insights/src/example` directory, including the client and this particular alert, are meant only as examples. The third alert is provided as an example of adding your own custom alerts. The expectation is that companies will want to instrument their own alerts for the specific cost goals they have (as Spotify has done).

I do want to make su

[2021-08-30 20:27] #6989 closed

[2021-08-30 21:00] timbonicus commented on #7004
Yes, you can provide `columns` as a prop in your `packages/app/src/App.tsx`:

[code]

See those [default column definitions](https://github.com/backstage/backstage/blob/master/plugins/catalog/src/components/CatalogTable/columns.tsx) to see what defining a column looks like.

[2021-08-30 21:48] chuliang014 commented on #7004
Greate! But I still need to implement the function for handling the field from my entity yaml file, right? like entity.metadata.slackchannel.

[2021-08-30 23:15] Expalex commented on #6933
@KatherineZhou  Thank you so much for your suggestions.
 1)
Search would only be for within the subnav, which in this example is “Catalog”. It’s scope can be clarified by stating, “Search Catalog” or something like that. Width of the subnav would be customizable, allowing it to expand further.
It’d match the length of the longest menu label. In this example, it’d be “Lorem Ipsum 2”. Search would a

[2021-08-31 02:24] timbonicus commented on #6933
Piling on with some feedback. First off, big kudos for the video to walk through these options and the rationale! That was awesome to see. 🙇  I think the highlight on hover, and pop-out submenu of option 1 are really awesome. I also like having the expand toggle.

I wondered, like Kat did, whether I could click on the header of a sub-menu. For example, how do I get to a list of _all things_ in the