[2022-03-18 10:20] pjungermann commented on #10302
@Rugvip This sounds like a great idea, too, and would reduce the manual comparison effort.

My point was rather that after the versions:bump command was executed, some dependencies were changed, but at upgrade helper it was a different version.

E.g.
`"@backstage/core-components": "^0.9.1"` vs `"@backstage/core-components": "^0.9.2"`

At that point, I had to manually modify these at the package.js

[2022-03-18 10:22] Rugvip commented on #10302
@pjungermann It's not necessary from a technical point of view anyway, you should already have had `0.9.2` or above installed.

[2022-03-18 10:23] mtlewis opened #10304 "cli: versions:check command should flag unsatisfied peerDependencies on @backstage packages"
## Feature Suggestion

For Backstage-related packages outside the `@backstage` scope, it's sometimes useful to create peerDependencies on `@backstage` packages. In particular, this is helpful when a package is intended to _augment_ a plugin by providing things like [Entity Providers](https://backstage.io/docs/reference/plugin-catalog-backend.entityprovider), [Search Engines](https://backstage.io/d

[2022-03-18 10:26] soapraj commented on #8468
Looks like there is some need for configuring search properties like pageSize, sort order that provides a consistent UX across engines - https://github.com/backstage/backstage/issues/9162

[2022-03-18 10:28] pjungermann commented on #10302
What do you mean with

Because of  `^0.9.2`?

[2022-03-18 10:29] pjungermann commented on #10302
Another example from the last release

`"@testing-library/react": "^10.4.1"` vs `"@testing-library/react": "^12.1.3"`

[2022-03-18 10:38] pjungermann commented on #10280
@benader1 This is not your config (app-config.yaml), but the config schema

[2022-03-18 10:57] benader1 commented on #10280
@pjungermann - sure thanks. I am now posting the content of app-config.yaml.

Cat app-config.yaml

app:
  title: Scaffolded Backstage App
  baseUrl: http://<backstage-app-host>:3000

organization:
  name: <My Org Name>

backend:
  # Used for enabling authentication, secret is shared by all backend plugins
  # See backend-to-backend-auth.md in the docs for information on the format
  # auth:
  #

[2022-03-18 11:07] pjungermann commented on #10280
hint: code formatting will helps with reading.

It was also only about the integrations part, not all the config is relevant ;-)

As of (not sure if the formatting is the same/correct as it is impossible to see this from your comment):
[code]
-> Is not properly set up.

[2022-03-18 11:15] pjungermann commented on #10141
Closed by #10227

[2022-03-18 11:15] #10141 closed

[2022-03-18 11:20] dmdeepkp commented on #10280
[commenting on behalf of Raj] . This is current bitbucket config with actual user and token obviously.

integrations:
  bitbucket:
    - host: stash.trusted.visa.com
      username: myuser
      token: hdhdjjdjdjjdjdjdjjdjdhfhdjjdj
      apiBaseUrl: https://stash.trusted.visa.com/rest/api/1.0

[2022-03-18 11:32] Rugvip commented on #10302
Yep, because of the `^` range. When `versions:bump` sees a dependency bump that is within the declared dependency range it only modifies `yarn.lock` and leaves the `package.json` intact. You should see `@backstage/core-components` going from `0.9.1` to `0.9.2` in yarn lock during the bump.

The `@testing-library/react` example is why it would be really valuable to hide the dependency bumps of `@ba

[2022-03-18 11:41] pjungermann commented on #10280
@dmdeepkp I assume the indentation is correct (not visible without code formatting)

The host is missing the port though. Same for the apiBaseUrl. At least judging from the URL used at the original description above.

I think it needs to be

[code]

[2022-03-18 11:45] benader1 commented on #10280
Thanks a lot @pjungermann. Let us check those details. btw. apologies for not sending the info in a useful format and state. we are bounded by some corporate restrictions and not always able to share everything that we would have liked to and in the format (like attachment etc). Appreciate your help so far.

[2022-03-18 11:45] pjungermann commented on #10302
I just tried it again
[code]
I guess this is what you meant, right?

[2022-03-18 11:45] #10302 closed

[2022-03-18 12:04] benader1 commented on #10280
@pjungermann  - As such without even that port number, the BitBucket integration is currently working. The following lines from app-config are able to show up the list of all catalog items in the UI.

catalog:
  rules:
    - allow: [Component, System, API, Group, User, Resource, Location]
  locations:
    - type: url
      target: http://stash.trusted.visa.com/projects/OP/repos/ovn_backstageapp/br

[2022-03-18 12:08] pjungermann commented on #10280
ok. But at the error message you have used an URL *with* port (see your description and screenshots). Maybe that was the mistake and you should have used it *without* port

[2022-03-18 12:43] dmdeepkp commented on #10280
It worked after removing the port number from the URL used to register component. Thanks a lot.

[2022-03-18 13:30] Irma12 commented on #7576
hey @seshank-db, this is released in[ tech insights plugin ](https://github.com/backstage/backstage/tree/master/plugins/tech-insights) :)

[2022-03-18 13:51] #8671 closed

[2022-03-18 14:44] tragiclifestories opened #10312 "Scaffolder nunjucks renderer cannot process include tags"
## Expected Behavior

Given a `file1.txt` with:

[code]

and a `file2.txt` with

[code]

The output should be

[code]

(or something like that, allowing for line endings and so on)

## Actual Behavior

When rendering `file1.txt`, the VM script errors out with

[code]

## Steps to Reproduce

[failing test](https://github.com/tragiclifestories/backstage/commit/118fe232c24357d9f98d1e5b54fb691dfb4c853

[2022-03-18 14:53] jcarres-mdsol commented on #6269
This is still a  major headache.

In our company, depends on the service, we may have 3 or 4 layers in the organization.
For instance, we deploy an opentelemetry-collector for our traces. In the org this is:
[code]
None of these can be skipped.  We have other internal tools, like `deployment` or `testing`.  We have ton of different things in `observability` and we have multiple things within `tele

[2022-03-18 14:59] zhammer opened #10313 "Allow initial entity type filter to be set in DefaultCatalogPage"
## Feature Suggestion

Our org (SeatGeek) is centralizing on the `Kind: System` entity as our "core" entity. We'd like the initial entity type filter to be `Kind: System`. This isn't settable in the `DefaultCatalogPage` currently. Of course it may be the intention to push people towards creating a [custom catalog page](https://backstage.io/docs/features/software-catalog/catalog-customization).. bu

[2022-03-18 15:29] ProticM opened #10314 "[RFC] Can we access current user information in our backend plugins?"
**Status:** Open for comments

## Need

I'm looking for a way to get the user profile info or other parts that are provided via IdentityAPI on the frontend. I could not find anything similar in the sourcecode and thus I'm asking here if there is a built-in way to get the user information in backend plugins?

For example, we have a number of backend plugins, and in one of them, we need to get the e

[2022-03-18 16:50] #8743 closed

[2022-03-18 19:12] awanlin opened #10319 "[CLI] List Depreciated Code"
## Feature Suggestion

It would be really helpful if there was a way to list depreciated code. This would help keep ahead up upcoming changes

## Possible Implementation

We've added this by using [eslint-plugin-deprecation](https://github.com/gund/eslint-plugin-deprecation). Setting this up was pretty easy, just needed to to the following:

1. Add `eslint-plugin-deprecation` to the root `package.

[2022-03-18 19:14] awanlin commented on #10319
@Rugvip you seem to be the one who does a lot of the cli work. Was hoping to get your thoughts on this?

[2022-03-18 19:33] Rugvip commented on #10319
Got this one listed, should happen any day now 😁

[2022-03-18 19:42] awanlin commented on #10319
Yeah? Awesome! Great minds think alike! 😆

[2022-03-19 03:10] jcarres-mdsol opened #10321 "Raised exception and inconsistent state of catalog when changing the type of an entity"
## Expected Behavior

The entity should not be there or at least allow me to update it manually.

## Actual Behavior

Blows up.
Stacktrace
Error: No path for routeRef{type=absolute,id=catalog}
    at useRouteRef (webpack-internal:///../../node_modules/@backstage/core-plugin-api/dist/index.esm.js:434:11)
    at EntityOrphanWarning (webpack-internal:///../../node_modules/@backstage/plugin-catalog/di

[2022-03-19 03:54] jcarres-mdsol commented on #10321
I guess it is clear by the stacktrace but it happens within ` <EntityOrphanWarning />` . I.e. If I remove it from the page, the page will display.
Also I think it still raises even if the entities have different names.

[2022-03-19 07:16] freben commented on #10321
Thanks for reporting! We'll look into why it crashes.

But regarding the kind change: Note that kind, namespace and name all form a unique key triplet. You can't just change the kind of an existing entity - you now have TWO entities; the one with the old kind (orphaned) and the one with the new kind.

Also slightly worried about the use of Group. That one is really strictly meant to be used for or

[2022-03-19 07:27] jcarres-mdsol commented on #10321
best explained here:
https://github.com/backstage/backstage/issues/6269#issuecomment-1072487547

Company named X has many
Departments each has many
Solution Lines each has many
Products each built using one or more
Service

Right now my plan is:
Service -> Component
Product -> System
Solution line (if exists) -> Domain
Department -> Group
Company -> Group

Solution lines sometimes do not exist, a

[2022-03-19 11:10] LvffY opened #10323 "Could not fetch catalog entities on a all new deployment"
Hello,

I'd like to run backstage in my local environment. To do this, I'm following the steps in the [gettings-started guide](https://backstage.io/docs/getting-started/).

Unfortunately, when the app is starting, I have an error :

![image](https://user-images.githubusercontent.com/37327656/159118419-c094d2e3-b75a-4506-87ac-8857d071af5f.png)

While I see no errors in the logs of the backend :

![

[2022-03-19 13:29] freben commented on #10323
I see the backend starting up, and I see techdocs successfully reading entities (but getting zero entities out).

What's in your browser's console and network inspector? Could a corporate policy or browser plugins block you?

[2022-03-19 14:03] LvffY commented on #10323
Hello @freben

I'm a bit confused ... I restarted my server and get the exact same error page as above.

![image](https://user-images.githubusercontent.com/37327656/159123878-58eaa1d0-42e6-4038-aa8a-3fed2c70ac38.png)

When I open my brower console to show you the console, just a refresh of the page made it work.

So I restart my server, again the error page. F5 --> Still the error page. Once again

[2022-03-19 14:06] freben commented on #10323
So is it just a case of your backend starting up slower than your frontend? That would explain it, and we don't really have a check for that honestly.

[2022-03-19 14:07] freben commented on #10323
We have hot reloading of most things - most of the time you don't have to restart as you develop. That may alleviate the problem somewhat.

[2022-03-19 14:20] LvffY commented on #10323
@freben Ok it seems to be what you say.

The problem appears to multiple browsers (tested on Chrome and Firefox).

It appears that the when the logs lines prefixed by `[1]` appears my problem disappear. So the backend seems to be slower to start the backend and my impatience to test backstage seems to be the biggest problem here :)

Thanks !

[2022-03-19 23:45] Bmg00 opened #10327 "https://github.com/web-platform-tests/wpt/blob/active-script-webidl-callbacks/background-fetch/update-ui.https.window.js#L3"
## 🗒 General

## 💻 Usage

## 📐 Specs

## 🔮 Future

[2022-03-20 08:20] #10327 closed

[2022-03-20 20:04] github-actions[bot] opened #10330 "Snyk vulnerability [SNYK-JS-NODEFORGE-2430337]"
## Affecting Packages/Plugins

* [@backstage/backend-common](packages/backend-common/package.json)
* [@backstage/cli](packages/cli/package.json)
* [@backstage/plugin-auth-backend](plugins/auth-backend/package.json)
* [@backstage/plugin-kubernetes-backend](plugins/kubernetes-backend/package.json)
* [@backstage/plugin-techdocs-node](plugins/techdocs-node/package.json)

## Overview
[node-forge](https

[2022-03-20 20:04] github-actions[bot] opened #10331 "Snyk vulnerability [SNYK-JS-NODEFORGE-2430339]"
## Affecting Packages/Plugins

* [@backstage/backend-common](packages/backend-common/package.json)
* [@backstage/cli](packages/cli/package.json)
* [@backstage/plugin-auth-backend](plugins/auth-backend/package.json)
* [@backstage/plugin-kubernetes-backend](plugins/kubernetes-backend/package.json)
* [@backstage/plugin-techdocs-node](plugins/techdocs-node/package.json)

## Overview
[node-forge](https

[2022-03-20 20:04] github-actions[bot] opened #10332 "Snyk vulnerability [SNYK-JS-NODEFORGE-2430341]"
## Affecting Packages/Plugins

* [@backstage/backend-common](packages/backend-common/package.json)
* [@backstage/cli](packages/cli/package.json)
* [@backstage/plugin-auth-backend](plugins/auth-backend/package.json)
* [@backstage/plugin-kubernetes-backend](plugins/kubernetes-backend/package.json)
* [@backstage/plugin-techdocs-node](plugins/techdocs-node/package.json)

## Overview
[node-forge](https

[2022-03-21 04:14] bridgetbarnes opened #10335 "[TechDocs] Output logs from the sync process to stdout"
## Feature Suggestion

The sync-process logs sent to the event stream as implemented in https://github.com/backstage/backstage/pull/6341 are really useful, and we would like to log them as part of running our backend. However, there are two problems with this-
1. The logs go to the event stream and not stdout
2. The logs aren't formatted as logs

## Possible Implementation
Provide an additional lo

[2022-03-21 05:55] bridgetbarnes commented on #10335
Before this change https://github.com/backstage/backstage/commit/800445cca0486c6d0a28aa8cac14a12627bfe890#diff-ddd013876d02c04e8ddaad2ac791a0310e9694046c3f8db9235afd648cd86054L156 was made, it used to log any errors from run commands to stdout/console/logger.
After, only failed builds log to the backend logger, but context for the logs/diagnostic information is also removed because the output for

[2022-03-21 07:01] yarodinD commented on #10176
An upgrade to Jenkins 2.332.1 didn't solve the problem, either.

[2022-03-21 09:26] #10319 closed

[2022-03-21 09:34] js0cha commented on #5564
Is it still possible to use cloudflareaccess for Backstage ?

[2022-03-21 10:33] garyniemen commented on #8106
We in [@backstage/techdocs-core](https://github.com/orgs/backstage/teams/techdocs-core) do not use AWS internally so we are not in the best position to investigate this issue further.

It would be great if anyone from the community who uses Backstage within AWS is able to investigate this and contribute a fix if possible. We can support with PR reviews and getting the fix in.

[2022-03-21 10:34] garyniemen commented on #8102
We in [@backstage/techdocs-core](https://github.com/orgs/backstage/teams/techdocs-core) do not use AWS internally so we are not in the best position to investigate this issue further.

It would be great if anyone from the community who uses Backstage within AWS is able to investigate this and contribute a fix if possible. We can support with PR reviews and getting the fix in.

[2022-03-21 11:00] wissnia commented on #3721
Any updates about this plugin development?

[2022-03-21 11:11] dehamzah commented on #9178
There are a lot of updates in the search module related, from the initial issue I created. Here is my updated dependencies used.

[code]

After looking again on the log timestamps here:

[code]

The collating process for software-catalog is taking 11s, and for techdocs is taking 1m 43s. That's why increasing the statement_timeout in postgres is not sufficient if it was set for 1 minute. I did incr

[2022-03-21 12:05] github-actions[bot] opened #10340 "Snyk vulnerability [snyk:lic:npm:eslint-plugin-deprecation:LGPL-3.0]"
## Affecting Packages/Plugins

* [@backstage/cli](packages/cli/package.json)

LGPL-3.0 license

[2022-03-21 12:18] iamEAP commented on #9178
Hmm...  I'm not well-versed on PG transactions, and especially not how knex handles them.  What I'm not sure about is how PG treats the multiple calls we make via knex (including [temp table creation](https://github.com/backstage/backstage/blob/master/plugins/search-backend-module-pg/src/database/DatabaseDocumentStore.ts#L83-L91), [copying](https://github.com/backstage/backstage/blob/master/plugin

[2022-03-21 12:47] andrewthauer commented on #10232
I believe this issue is fixed by [mdx_truly_sane_lists](https://github.com/backstage/mkdocs-techdocs-core/blob/main/src/core.py#L108). This a quirk in how `python-markdown` implements the markdown spec which isn't 100% compatible with commonmark of github flavoured markdown.

[2022-03-21 13:44] mrspence opened #10342 "After running `npx @backstage/create-app` unable to exec `yarn build` or `yarn dev`"
_(Thank you for your time on this project! 🚀)_

## Expected Behavior

A fresh new installation from `npx @backstage/create-app` should allow `yarn build` (or `yarn dev`) to run successfully.

## Actual Behavior

After running ``npx @backstage/create-app``, `yarn build` fails with the following error:

[code]

## Steps to Reproduce

With the following installed:

- Node v16.14.2
- NPM 8.5.0
- Yarn

[2022-03-21 15:24] #10280 closed

[2022-03-21 15:27] freben commented on #10283
Sound like we can close it! `create` is where the efforts will be spent going forward, and the set of templates will probably grow.

[2022-03-21 15:27] #10283 closed

[2022-03-21 15:50] astein-te commented on #9461
@benjdlambert this is a blocker for us over here at ThousandEyes - we are going to write this feature on our fork to get unblocked.  OK If we claim this issue and contribute the code we write back to this repo?

[2022-03-21 15:57] freben commented on #8850
OK, assigned!

[2022-03-21 16:06] github-actions[bot] opened #10343 "Snyk vulnerability [SNYK-JS-MINIMIST-2429795]"
## Affecting Packages/Plugins

* [example-app](packages/app/package.json)
* [example-backend](packages/backend/package.json)
* [@backstage/backend-common](packages/backend-common/package.json)
* [@backstage/backend-test-utils](packages/backend-test-utils/package.json)
* [@backstage/cli](packages/cli/package.json)
* [@backstage/create-app](packages/create-app/package.json)
* [@backstage/dev-utils](

[2022-03-21 16:28] #8867 closed, assigned to Rugvip

[2022-03-21 17:40] Rugvip commented on #10312
I think at the very least we could make it so that it throws an error explaining that file inclusions are not supported. Happy if anyone wants to take a stab at that, it's a little bit tricky because it's gonna be modification to the shim that we use inside `SecureTemplater.ts`

On top of that we could discuss whether this is something we think can be implemented safely and if it's worth the risk/

[2022-03-21 17:50] joel-vasiliev opened #10346 "External route 'catalogIndex' of the 'org' plugin must be bound to a target route."
## Expected Behavior

## Actual Behavior

after update coreComponent and corePluginAPI I'm facing this issue:
"External route 'catalogIndex' of the 'org' plugin must be bound to a target route."
Backstage loads but the screen loads without content (blank screen)

## Context

## Your Environment

- Browser Information:

- Output of `yarn backstage-cli info`:

[code]

[2022-03-21 18:07] je-saan opened #10347 "Issues with updating entity relationships since upgrade to knex 1.0.2"
Ever since the upgrade to knex 1.0.2, we have seen some inconsistencies with catalog data being kept up to date when the source data files are changed.

We use `@vscode/sqlite3` for local dev, and `postgres` for deployed environments.
We are seeing the issues with both types of DB. I've even deleted the DBs (both types) and restarted everything from scratch.
I've also tested out locally with `bett

[2022-03-21 18:18] #10347 closed

[2022-03-21 18:18] je-saan commented on #10347
Wrong git user :(

[2022-03-21 18:19] saan800 opened #10348 "Issues with updating entity relationships since upgrade to knex 1.0.2 / backstage@v0.70.0"
Ever since the upgrade to knex 1.0.2, we have seen some inconsistencies with catalog data being kept up to date when the source data files are changed.

We use `@vscode/sqlite3` for local dev, and `postgres` for deployed environments.
We are seeing the issues with both types of DB. I've even deleted the DBs (both types) and restarted everything from scratch.
I've also tested out locally with `bett

[2022-03-21 18:25] freben commented on #10342
Hm. Something's odd with that `C:\projects\..\backstage`. What's up with that?

[2022-03-21 18:26] mrspence commented on #10342
@freben That's me hiding a bit of the path 😉

[2022-03-21 18:38] freben opened #10349 "Make webpack app-serve wait for backend startup before serving frontend"
As reported in #10323, in some cases the frontend builds and starts too fast, before the relevant backend is ready for requests.

In this particular case it was the catalog page, and the catalog backend. We should one way or the other support this case - perhaps the frontend could perform retries, perhaps there could be some more explicit readiness endpoint that's polled by the app-backend before

[2022-03-21 18:39] freben commented on #10323
Thanks for confirming.

I'm surprised that we haven't seen this happen in more instances. I have actually not seen reports about this before. I made a slimmer issue focused on a fix for this particular case, and I'll close this one for now to focus the discussion there going forward. We probably won't get around to working on this one in the very near term, but all suggestions and contributions in

[2022-03-21 18:39] #10323 closed

[2022-03-21 18:44] freben commented on #10314
Hi!

The frontend typically passes the user's Backstage token (from the identityApi) in the form of Authorization Bearer token headers in backend requests. If your frontend uses fetch from the fetchApi this happens automatically. However, that token does not contain any profile data or similar; you'll have to take the `sub` (which is a full entity ref string) out of it, and fetch more user details

[2022-03-21 18:48] freben commented on #10304
Makes sense! Added a help wanted label on it.

[2022-03-21 18:58] freben commented on #10224
Hm. And as you add different rendering modes, layout directions etc, it just gets harder and harder.

Is there some argument to be made for putting control in the hands of the user? Making a best effort initial guess and then letting the user resize the area or press a fullscreen button or similar?

[2022-03-21 19:35] tragiclifestories commented on #10312
I understand that obviously a lot of thought has been put into making this safe, but I'm not sure how the risk calculation is different to the many other situations in which this pattern holds. Including template partials is a very common feature of different template languages - how is this more of a vulnerability than just like a Rails template or something?

Could we have an explicit opt-out th

[2022-03-21 19:49] benjdlambert commented on #8542
Closing as duplicate of #8420

[2022-03-21 19:49] #8542 closed

[2022-03-21 19:55] freben commented on #10194
Unfortunately I think you are out of luck in this instance, in that case. Both this package and the vscode one require compilation steps upon install, and they don't come with windows binaries so the build toolchains and a read-write filesystem is necessary while developing and building the project - IF using sqlite. The easiest path forward for you might be to use the postgres driver instead, bot

[2022-03-21 19:55] #10194 closed

[2022-03-21 20:00] freben commented on #10176
Oh wow, that response shape looks terrible, what a mixed bag.

We'd love to get help addressing those null checks - we the maintainers don't have a test bed for jenkins so we'd be running a bit blind in trying to address all places where the problem might crop up. Contributions would be super welcome, and we are happy to review and try to push them through afterwards.

[2022-03-21 20:16] caromeva opened #10351 "[Scaffolder] Templating fails because placeholder $text is not yet available"
## Expected Behavior

Load the component and load the Swagger API in the corresponding tab.

## Actual Behavior

I am trying to make a component of type Component and one of type API. I have created the catalog-info.yaml file with variables whose values ​​are loaded from the template.yaml. I have an error when doing the registration step of the catalog-info.yaml. The error says the following:

Err

[2022-03-21 20:16] seshank-db commented on #7576
@Irma12 tech insights README plugin still shows a simple boolean scorecard. Is this view already present?
![image](https://user-images.githubusercontent.com/64047023/159356334-4522e395-34bd-49df-9233-697c0cead762.png)

[2022-03-21 21:53] #8857 closed

[2022-03-21 22:21] kiranpatel11 commented on #3721
Actually, we have a plugin working in production for our instance of Backstage.

Let me take sometime to do a bit of clean up and raise PR for the backstage github repo

[2022-03-21 22:27] shanthisagar-dhanya-kumar-db commented on #10194
We use postgres and not sqlite in app-config.yaml as below and comment out the sqlite option.
database:
    client: pg
    connection: postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@${POSTGRES_HOST}:${POSTGRES_PORT}/postgres

But, how do we make sure that the entire sqlite engine isn't being used at all while doing "yarn install"?

[2022-03-21 23:11] bridgetbarnes commented on #10335
I'm keen to have a go at this to get it sorted, but keen for some guidance before coming back with a PR that's not what the team is looking for- adding an additional transport here https://github.com/SDA-SE/backstage/blob/master/plugins/techdocs-backend/src/service/DocsSynchronizer.ts#L98 to pass the `DocsSynchronizer`'s logger would be a pretty quick solution, but there's also the option to outpu

[2022-03-22 03:49] testn commented on #2521
To me, there is still a need for dotenv as backstage still recommends to use environment variables and there is no easy way to test those unless you package environment variables in docker variables or kubernetes config map. What do you think? @Rugvip

[2022-03-22 05:36] Niksko opened #10362 "Techdocs CLI `serve` results in a 404 error"
## Expected Behavior

Running `npx @techdocs/cli serve` displays the techdocs

## Actual Behavior

Running `npx @techdocs/cli serve` displays a 404 page

## Steps to Reproduce

1. Set up a local mkdocs repo
2. `npx @techdocs/cli serve`
3. The 404 will appear in the opened browser window

## Context

This seems to be a regression in `1.0.0`. `npx @techdocs/cli@1.0.0 serve` displays the buggy behavi

[2022-03-22 06:13] BenjaminToth commented on #691
Any news about that ? Exists plan to implement ?

[2022-03-22 08:41] Irma12 commented on #7576
@freben Yup, it has been worked on in https://github.com/backstage/backstage/pull/8086. The main idea for this RFC was to get initial thoughts and direction in which we would like to proceed FE wise :) I think we managed to gather the thoughts in tech-insights plugin so I think for other suggestions and continuation we could probably open new RFC.

@seshank-db Yes, currently there is only Boolean

[2022-03-22 08:42] #7576 closed

[2022-03-22 08:48] jhaals commented on #10278
I'm a bit reluctant to add Vault directly into the config reading as there's probably a lot to consider in terms of secret layout in vault plus the ability to configure dynamic secrets. I'm afraid the solution is not going to fit all very well in the end and just add complexity to our already too flexible(in my option) config solution. I'd much rather recommend the integrator rely on some of the m

[2022-03-22 09:00] #10340 closed

[2022-03-22 09:02] Rugvip commented on #10348
Thank you for reporting! Just to check, are you confident that this was not an issue before knex `v1.0.2`?

[2022-03-22 09:22] saan800 commented on #10348
We haven't seen any evidence of it being an issue before the upgrade to knex 1.0.2 (as part of migration to backstage [release 0.70.0](https://github.com/backstage/backstage/releases/tag/v0.70.0) ).
Its likely that someone within the company would have made a change in the source data and let us know if it wasn't propagated to backstage, but I can't say with 100% certainty that it wasn't an issue

[2022-03-22 09:41] ikuegelgen commented on #10314
Hi @freben, thanks for your answer. Another question from our side is: We use SSO providers to login. Is there a way to get the users email adress as claim to the Authorization Bearer token?

[2022-03-22 10:20] ProticM commented on #10314
Hi @freben.

In addition, we have valuable data for our users kind in the database. The issue is that a logged-in user can be someone that is not ingested as a User kind in our catalog. This is something we have currently, maybe it will change.

We use Okta provider, therefore our entity name is actually an email of the user, correct me if I'm wrong? And full entity ref is something like `{kind}:{

[2022-03-22 10:35] yarodinD commented on #10176
@freben as you see in the diff, I added a simple null pointer check. I even created a changeset on my local machine, including tests. However, I can't seem to create a branch on the repository, hence I can't create a pull request.
Can you help me out here?

[2022-03-22 11:09] ProticM commented on #10232
@andrewthauer This is the part of my techdocs config:

[code]

The publisher is configured to `aws3`. In my GitHub action I install the latest `techocs-cli` package. Here is part of the pipeline:

[code]

Basically, my GitHub action looks like an example on the Backstage documentation page, minus platinum action.

[2022-03-22 11:35] #5502 closed

[2022-03-22 13:22] Xantier commented on #10224
Yeah, tricky bit of magic will be needed regardless if this is approached. It could make sense to have more capabilities in the form of zooming/fullscreenifying the thing, kinda like those exist on the catalog graph page. I think that would go a long way already.

Having a fully responsive card size might cause messups on the rest of the layout as well possibly...

[2022-03-22 15:30] #8851 closed

[2022-03-22 15:31] jbadeau commented on #1519
Hello, we at [Six](https://www.six-group.com/en/home.html) are working on an observability plugin that supports any open telemetry (OTEL) compatible platforms. The main features are

- search of any OTEL tracing solution (e.g. jaeger, hypertrace, appdynamic) - DONE
- correlation of any logs enriched with trace/span info - DONE
- correlation pf any metrics with enriched trace/span info - IN PROGRES

[2022-03-22 18:31] #8464 closed

[2022-03-22 18:48] timharris777 commented on #7868
Any news on this? We are needing async validation support. We coded our validation code properly but it seems the code is not working properly through the web interface. @jemejones @MarcFogleman

[2022-03-22 20:06] #10331 closed

[2022-03-22 20:06] #10332 closed

[2022-03-22 20:06] #10330 closed

[2022-03-23 00:19] RichiCoder1 commented on #1519
@jbadeau pardon my confusion, but it sounds like you're talking about a plugin that surfaces OTEL data into the catalog. Not what this RFC is referring to, e.g. instrumenting Backstage itself?

[2022-03-23 00:26] regicsolutions commented on #1519
Looks great @jbadeau

Would be cool to have a graph view like jaeger has, maybe using the same [catalog-graph](https://github.com/backstage/backstage/tree/master/plugins/catalog-graph) plugin 😃

![image](https://user-images.githubusercontent.com/6157895/159597858-70f0c53e-4cd7-4fe3-accc-d87372fb4d00.png)

https://cloud.redhat.com/blog/microservices-and-the-observability-macroheadache

[2022-03-23 00:53] matt-richardson commented on #833
Hey @MarkZither - did you manage to make any progress on this? We'd be keen to use it and/or contribute to the development.

[2022-03-23 03:05] testn commented on #8767
I encountered the similar issue. Is that the recommended approach?

[2022-03-23 03:44] regicsolutions commented on #9735
Here's a sample implementation I came across that calculates the four DevOps Metrics identified in DORA's 2017 State of DevOps Report using public REST endpoints available in Atlassian's software (Jira, Bitbucket Server, Bamboo) and Jenkins.

https://bitbucket.org/atlassianlabs/devops-metrics/src/master/

[2022-03-23 04:22] regicsolutions commented on #8398
@Expalex interested to see what your team has built, any plans on open-sourcing?

[2022-03-23 05:17] kim5566 opened #10387 "route for /catalog?filters broken again particular for Postgres"
Previous issue: https://github.com/backstage/backstage/issues/8929

visit `/catalog/?filters%5Bkind%5D=component&filters%5Buser%5D=owned` directly from url broken

It's not working on with github intergretion enabled.

[code]
## Expected Behavior

Click url http://localhost:3000/catalog?filters%5Bkind%5D=component&filters%5Buser%5D=owned should direct me to my owned entities

## Current Behavior

[2022-03-23 06:07] jbadeau commented on #1519
Currently we have instrumented backstage front end and backend as well as provide an actual UI. As already asked by someone. This plugin is not proposing any extensions, hooks or apis to instrumemnt backstage itself. Therefore, I will move this topic out and find a better place for it. Sorry for the confusion.

On the RFC itself. I have a few suggestions based on having already instrumented backst

[2022-03-23 11:09] freben commented on #1519
@jbadeau Ah, great work! That's awesome. Would you look at implementing a complete package that can show and correlate all types of info, or would it show a summary of the most important pieces of info in Backstage itself and then link out to the third party to get the full picture? That can be a balancing act between how much code to write and the maintenance of that (plugins can start turning in

[2022-03-23 12:06] #10343 closed

[2022-03-23 12:16] brunomiranda-hotmart opened #10395 "Title & Description aren't passed to custom field extensions"
## Expected Behavior

Pass title & description to custom field extensions so that they can be rendered.

## Actual Behavior

Title & description aren't passed to custom field extension.

## Steps to Reproduce

1. Create a field extension.
[code]
2. Add field extension to template.
[code]

And that's what it looks like:
<img width="151" alt="image" src="https://user-images.githubusercontent.com/845

[2022-03-23 13:01] benjdlambert commented on #10395
Could you try destructuring `title` and `description` from the `schema` instead.

[code]

Does it get applied there/

[2022-03-23 13:09] jbadeau commented on #1519
We are building 2 distinct plugins:

1. backstage-otel which will provide support for instrumenting various parts of backstage frontend and backend including plugins. I am not sure if this will be a backstage plugin or an otel js agent extension. will know more in a few days.

2. 1. plugin-observability which will provide a complete UI for observability including Tracing, Logs, and Metrics and Ale

[2022-03-23 13:14] jbadeau commented on #1519
@regicsolutions already on it :P
![map](https://user-images.githubusercontent.com/152763/159707560-a5853788-b450-4bdd-806d-52df5d6903b0.png)

Its still basic but will add icons for types, links and meta info for nodes and edges.

[2022-03-23 13:17] brunomiranda-hotmart commented on #10395
Thanks @benjdlambert , it does get applied there.

[2022-03-23 13:17] #10395 closed

[2022-03-23 13:18] shimmieblum commented on #9086
Hi, I'm simon and i'm looking to find ways to contribute to backstage.

I was looking at this issue, just wondering if your still planning on doing it @devth cos if not, I thought it may be a good first issue for me. I've had a look at some of the github discovery code so i'd be interested to try an help out with this one?

do lmk, Thanks!

[2022-03-23 13:18] jbadeau commented on #1519
@freben in order not to pollute this issue. Where would you recommend to open up a discussion? Should I create a new issue? Would a slack discussion be better?

[2022-03-23 13:43] voodooGQ opened #10396 "Cannot start backend after `versions:bump`"
## Expected Behavior

The backend should start up

## Actual Behavior

Recently tried running a `versions:bump` command which produced the following error on startup:

`Backend failed to start up, TypeError: Cannot read property 'constructor' of undefined`

## Context

Not able to launch instance anymore, backend always fails to start up. No further debug logs have any useful information.

## Your

[2022-03-23 14:57] zeeraw opened #10399 "gitlab-discovery processor looks for projects last changed in the present or future"
## Expected Behavior
I'm expecting gitlab-discovery to fetch all projects in the group I point it at.

## Actual Behavior
When processing a gitlab-discovery location, the timestamp used for `last_activity_after` is pretty much the current time, which means no projects show up when the API is queried. Maybe it's a good idea to give it some leeway? I'm thinking it should probably be set to some valu

[2022-03-23 15:24] jvilimek commented on #9709
@marleypowell Hi there. Long time no activity here. In the mean time I have disabled the azure devops in our instance. Any hope this can be fixed/improved soon?

[2022-03-23 16:02] freben commented on #10313
Oh sorry - this is what you want, right? https://github.com/backstage/backstage/pull/10291

[2022-03-23 16:06] LvffY opened #10402 "Enable multiple integrations of the same provider"
## Feature Suggestion

It would be great to be able to have multiples integrations for the same provider. For exemple to be able to define :

[code]

## Possible Implementation

## Context

My team is working with multiple azure devops organisation and, AFAIK, we can't define multiple times a same integration type (in my case **dev.azure.com**.

It would be great to add this feature to allow organ

[2022-03-23 18:23] hydrosquall commented on #849
Hi @padraigobrien - I came across this post while looking for a hackathon idea - thanks for the great work on backstage!

There is a mechanism for secure sharing of public dashboards via URL via the "magic link" feature: https://www.datadoghq.com/blog/dashboard-sharing/ . Shareable URLs can also be generated programmatically via [API](https://docs.datadoghq.com/api/latest/dashboards/#create-a-shar

[2022-03-23 19:12] jrusso1020 opened #10404 "[RFC] Entity Links Type"
**Status:** Open for comments
This is based off of a short [discussion on discord](https://discord.com/channels/687207715902193673/956205139545456690)

There were a previous RFC related to this https://github.com/backstage/backstage/issues/3787

## Need
There are many different types of links and sometimes you want to validate the existence of a specific type, this is related to software insights/

[2022-03-23 19:35] devth commented on #9086
Hi @shimmieblum, go for it!

[2022-03-23 19:36] zhammer commented on #10313
ah, perfect!

[2022-03-23 20:02] regicsolutions commented on #1519
Awesome, love it!

[2022-03-23 20:05] github-actions[bot] opened #10406 "Snyk vulnerability [SNYK-JS-DSET-2330881]"
## Affecting Packages/Plugins

* [@backstage/plugin-api-docs](plugins/api-docs/package.json)
* [@backstage/plugin-graphiql](plugins/graphiql/package.json)

## Overview
[dset](https://www.npmjs.org/package/dset) is an A tiny (161B) utility for safely writing deep Object values~!

Affected versions of this package are vulnerable to Prototype Pollution via 'dset/merge' mode, as the `dset` function ch

[2022-03-24 07:43] orihomie commented on #6519
@OrkoHunter Hi, could you please give me an advice of the documentation of multi-stage build since it isn't working exactly on the step you've mentioned in your last message here?
I've tried both of that folders you have mentioned and none of them worked.

#11 0.559 yarn run v1.22.1
#11 0.628 $ backstage-cli package build
#11 0.642 /bin/sh: 1: backstage-cli: not found

[2022-03-24 07:50] kareemshahin commented on #7571
Also running into the same problem and didn't see any PRs open to address this yet!

[2022-03-24 08:12] ProticM opened #10418 "Catalog Table not Filtering Items by Metadata Title"
## Expected Behavior

The catalog table should filter properly when the entity metadata title is present in the entity.

When we have the metadata title set in our component, the catalog table shows this value in the name column instead of the actual metadata name. This is OK, but in such a case, the filtering needs to act accordingly and filter the name column by metadata title instead of metadat

[2022-03-24 08:41] andrewthauer commented on #849
Disclaimer, I have only read the blog post and not actually tried this. However, from the looks of it, all this does is allow you to control what dashboard information is available when view from this magic link. It still sounds like the link itself is only secured by obscurity rather using an actual API token or something.

[2022-03-24 09:47] regicsolutions commented on #849
We are starting to forward logs to Datadog using the Datadog log collection [AWS Lambda function ](https://docs.datadoghq.com/integrations/amazon_web_services/?tab=roledelegation#set-up-the-datadog-lambda-function) that can basically forward just about anything, we are in the process of forwarding [AWS Code Deploy](https://docs.datadoghq.com/integrations/amazon_codedeploy/) and EC2 logs now, would

[2022-03-24 14:25] voodooGQ commented on #10396
Seems to be fixed by updating my `search.ts` plugin in the `backend` directory to the most current one on the repo: https://github.com/backstage/backstage/blob/master/packages/backend/src/plugins/search.ts

Is there any way to automatically upgrade the plugins located in the backend? This is the third time I've run into an upgrade problem due to those plugins being out of sync.

[2022-03-24 14:25] #10396 closed

[2022-03-24 14:35] marleypowell commented on #9709
Hi sorry I've been quite busy. I will try and find time to have a look tommorow.

[2022-03-24 15:46] jhaals commented on #9090
Awesome idea, would you like to help out @awanlin? The workflow and generate release script is probably the place to start if you're interested.

[2022-03-24 15:47] jhaals commented on #9086
Best of luck @shimmieblum!

[2022-03-24 15:54] awanlin commented on #9090
Sure, would be nice to learn this area better. Can you point me to the script? Also, I have two other PRs active that I'd like to finish up first, I plan to tackle the suggestion for those on Friday, guess that's tomorrow ;)

[2022-03-24 16:06] benjdlambert commented on #7868
Hey :wave: so I've been looking at implementing this in the `NextScaffolderRouter` which is a re-write of the frontend plugin with tests and making it easier to build features like this moving forward. There's no real timeframe set as yet as to how long it's going to take to get it out though unfortunately, but will keep you posted as I work through the re-write.

[2022-03-24 16:15] benjdlambert opened #10430 "`@backstage/plugin-scaffolder` needs more tests and restructuring"
It's becoming increasingly difficult to add features and have confidence in the existing (or lack thereof) of unit tests for the frontend plugin. Some work has already started on building a `NextScaffolderRouter` which points to a different entrypoint which should be covered by unit tests.

This ticket is here to track ongoing work, as well as small features / bugs that could also be fixed part of

[2022-03-24 17:01] zhammer commented on #10313
will this issue be linked when the change ships? dont think it’s been published yet and am curious if i need to keep checking the changelog or if i’ll get a notification for a comment on this thread!

[2022-03-24 17:23] LvffY opened #10431 "Support multiple Azure organization"
## Feature Suggestion

With my team, we're working with multiple Azure Devops organizations and we'd like to be able to add integration and azure plugins for all of our oranizations in the same backstage app.

Please let me know if you need more infos or if there is anything that is not clear.

[2022-03-24 17:37] freben commented on #10313
No, it won't be seen in here. Once it's in master, it'll be in any following release. The nearest `next` (weekly) release is on Tuesday, if you follow those pre-release rather than the mainline

[2022-03-24 17:39] awanlin commented on #10431
Hi @LvffY, I helped with the Azure DevOps plugin - this shows Builds and Pull Requests as well as has a Pull Request Dashboard. I have some ideas as to how we can support multiple organizations for this but currently I'm pretty busy. If you'd like to contribute this I'd be happy to help review any PRs and do some testing - we use Azure DevOps Server which is on-premise so I can test to make sure t

[2022-03-24 17:45] LvffY commented on #10431
Hi @awanlin

Thanks for your quick answer ! :)

Unfortunately I'm data engineer and not a web app developper, so I could not help on this point :(

No soucy about you being busy, but do you have any idea about the time you could look on this ?

*We're on a POC with backstage with my teammate so not in a hurry*

[2022-03-24 18:04] LvffY opened #10432 "Azure Devops plugin: Unable to import catalog-info.yaml from app-config.yaml"
## Expected Behavior

My `catalog-info.yaml` file stored in my Azure Devops repository should be imported.

When I'm importing my `catalog-info.yaml` directly through the Web UI backstage is able to import it :

![Sans titre](https://user-images.githubusercontent.com/37327656/159981265-69da9ad1-3785-4629-b769-a8b9c6fc7afc.png)

## Actual Behavior

I got a 404 error with the following logs

![Sans

[2022-03-24 18:54] awanlin commented on #10432
Can you check to make sure that Search has been turned on? I saw that recently as an issue for someone. Also, can you post the Scopes used for your PAT, please?

[2022-03-24 19:20] LvffY commented on #10431
@awanlin no problem, don't worry :)

May be you could briefly explain your idea and the point where to look if anyone fall into this issue ? (for the Azure DevOps plugin, of course)

[2022-03-24 19:27] saan800 commented on #10348
Conversation on whats seen in the DB: https://discord.com/channels/687207715902193673/956616026831863889

[2022-03-24 19:28] LvffY commented on #10432
@awanlin I use my own PAT which has full access and I'm the owner of the organization.

I regenerate it for the test, and I have the same issue.

What do you mean by "Search has been turned on" ? Is there any doc on this ? *I'm not aware of such a feature"

[2022-03-24 22:09] hydrosquall commented on #849
@andrewthauer, thanks for taking a look! You're right that this mechanism doesn't use an API token, but it's different than just security by obscurity, since the links expire and are only sent to users from a permitlist of emails or email domains. Would this work for your use case, or are you interested in a different authorization mechanism?

[2022-03-25 01:49] SuganJoe opened #10434 "Customize the Entity context menu in Catalog"
In the Expedia group, we don't use the "unregister entity" or other menu options as we have a different way of deleting entities in our setup. So, for some organizations which don't use the unregister or inspect entity, it must be removable and all other menu items must be customizable for example e.g. badges in the menu item.
<img width="270" alt="Screen Shot 2022-03-24 at 6 44 47 PM" src="https:

[2022-03-25 08:09] ProticM commented on #10418
Hi @kuangp Thanks for the workaround, but this means that you redefined all other columns as well? If I'm not mistaken, in order to add a new column we need to change the list of columns like explained [here](https://github.com/backstage/backstage/issues/7004#issuecomment-908691197) for example?

There is no merging with something like default columns.

[2022-03-25 08:35] jhaals commented on #10399
Yeah this definitely looks like the logic need tweaking. Would you be interested in taking a stab at fixing this @zeeraw?

[2022-03-25 08:45] jhaals commented on #10351
The problem is that it location registration does a dryRun before adding the actual location, there's a slight chicken and egg problem for this specific case. It probably make sense to add a `force` option to the [registration action](https://github.com/backstage/backstage/blob/master/plugins/scaffolder-backend/src/scaffolder/actions/builtin/catalog/register.ts) which just registers and ignores th

[2022-03-25 09:10] jhaals commented on #10346
I believe this was mentioned in the changelog for the org plugin https://github.com/backstage/backstage/blob/master/plugins/org/CHANGELOG.md#minor-changes-1 . It's recommended to look for the `BREAKING` keyword in the changelog for those packages that are indicated to have breaking when running versions:bump or by comparing changes with the upgrade helper https://backstage.github.io/upgrade-helper

[2022-03-25 09:11] jhaals commented on #10342
Strange we have not heard any other issues, could you try running `yarn cache clean` and install again to see if this was just something temporary. Otherwise kindly requesting other windows users to give this a try 🙏

[2022-03-25 09:18] jhaals commented on #10312
It make sense to give this a try but of course with some validation so that we don't access things outside the workspace. The `resolveSafeChildPath` might be useful for this. I suggest we try to implement this in a good way first and add the flag as a last resort. Are you interested in taking a stab at this @tragiclifestories?

[2022-03-25 09:40] jhaals commented on #10278
Don't get me wrong I think vault is a great tool and that having methods for safely getting secrets into the app is important :) I think env or even cmd line is probably sufficiently secure given that runtime privileges are handled correctly.
In any case I'm all for trying out what @rugvip brought up previously in the thread to achieve an "in process" approach that doesn't require us to introduce

[2022-03-25 09:43] jhaals commented on #10176
@yarodinD you need to [fork the repo](https://docs.github.com/en/get-started/quickstart/fork-a-repo) and then create a pull request towards the backstage.

[2022-03-25 10:48] saan800 commented on #10348
Data example:
* User entity changing from `Group1` to `Group2`
* User has `spec.memberOf` relationship to groups in source data
* `Group1` and `Group2` do not have `spec.members`  populated in source data, and relies on backstage catalog processing to generate the required relationships in the DB

Latest theory from conversation:  https://discord.com/channels/687207715902193673/956616026831863889

[2022-03-25 12:09] pjungermann commented on #10183
@Rugvip as an MVP would it be enough if the providers do the same as the discovery processors and create Location entities which then get picked up by the other processors? Or might that still cause orphans?

[2022-03-25 12:12] marcus-crane commented on #10404
Neat! This came up in a discussion I had with a coworker earlier

[2022-03-25 12:15] Rugvip commented on #10183
@pjungermann yeah that should be alright, probably the way we wanna implement it tbh. Eager deletions happen recursively so if a deleted location is the only thing referencing an entity then the entity will be deleted as well

[2022-03-25 14:09] jhaals commented on #10402
Hi! Multiple integrations for the same host is not supported but we have something similar for Github where a single integration can have multiple Github apps and we need to use the correct GitHub app for the corresponding organization. We have abstracted that with a [CredentialsProvider](https://github.com/backstage/backstage/blob/master/packages/integration/src/github/SingleInstanceGithubCredent

[2022-03-25 14:13] jhaals commented on #10387
Sorry to hear that there's problems. Looks like the previous fix for this was worked on in #9538. @vinzscam would you be bale to help out on this? 🤞

[2022-03-25 14:14] vinzscam commented on #10387
looking into it!

[2022-03-25 15:07] vinzscam commented on #10387
Hi @kim5566,
I've looked into it but I couldn't reproduce the issue.
A couple of things that could help you investigating the issue.

- Passing `initiallySelectedFilter="owned"` to `CatalogIndexPage` shouldn't change the result. `owned` is the default.
- If your user has zero owned entities, we switch automatically to `all`.  Before doing this operation, we wait until all the entities have been do

[2022-03-25 16:17] afscrome opened #10452 "Taylor Columns in to entity type"
## Feature Suggestion

The default catalogue table view shows the same columns for all entity types, even though those columns are not available for all entity types.  The default view should only show relevant columns for each tentity type.

## Possible Implementation

Based on https://backstage.io/docs/features/software-catalog/descriptor-format, I believe:

* `System` should only show for `Comp

[2022-03-25 17:16] sabinasiddiqi commented on #6568
Our team would also like this feature ✋

[2022-03-25 17:38] tragiclifestories commented on #10312
If I can get some time to take a look, sure. I'm not sure how possible it will be, mind. This is a feature built into the templating language, so I guess you'd have to create a parse tree of the templates, evaluate all the include paths and verify that they're all safe as a sort of preflight check. Whether this is possible will depend on the implementation details of nunjucks, of course. You'd sti

[2022-03-25 17:57] tragiclifestories commented on #10312
Just messing around with nunjucks in the node console, it seems to throw an error if you try to include a file which is above the original file in the directory tree. I can't find the code that does this, though.

[2022-03-25 19:26] lvenugopal opened #10453 "Configurable catalog page size"
Hello Team,
We would like to request a new feature which can customize catalog page size to higher number (currently its 20 rows).

## Feature Suggestion
Custom or the ability to set the number of default rows for the catalog table

## Possible Implementation
Custom parameter which can set the rows to the given value, else take the default one (currently 20 rows)

[2022-03-25 19:26] jrusso1020 commented on #10404
Thanks for the feedback/questions!

1. I think `type` is more appropriate because in general the intent is to categorize links into well known types. I'm honestly not sure what `rel` is off the bat myself, so I would need someone to explain it to me and I'm sure others might as welll

2. I think we could potentially create a short list of example types like `runbook`, `documentation`, `logs`, `das

[2022-03-25 19:53] LvffY commented on #10402
Hi @jhaals

Thanks for your reply :)

What I understand is that this could be quite long to implement, right ?

I don't know if this could help but I will explain a bit more my context : my team is working with multiple clients. Because we work on our client architecture, we don't decide which git provider to use. So right now, we have 2 gitlab instances and 2 Azure devops organizations.

Another

[2022-03-26 00:43] niallthomson commented on #2256
Apologies I've been out on parental leave for a few weeks. We're working on a public repository!

[2022-03-26 07:43] menehune23 opened #10457 "[Minor] Export `KubernetesClientProvider` from Kubernetes backend plugin"
[`KubernetesClientProvider`](https://github.com/backstage/backstage/blob/master/plugins/kubernetes-backend/src/service/KubernetesClientProvider.ts) would be super useful to expose to importers of the Kubernetes backend plugin, as it provides an easy way to make a cluster-specific client and perform operations which aren't yet provided by the plugin.

[2022-03-26 08:10] LvffY opened #10458 "Azure Graph: Builder is not defined"
## Expected Behavior

My web app should start without errors

## Actual Behavior

My web app did not start with the following error :
![image](https://user-images.githubusercontent.com/37327656/160230812-f21c7ec4-1a3a-444c-9b8f-7371be24aeab.png)

## Steps to Reproduce

1. Follow the steps described in [the readme of **catalog-backend-module-msgraph**](https://github.com/backstage/backstage/blob/ma

[2022-03-26 08:17] LvffY opened #10459 "[DOC] Use the --cwd yarn arguments"
## Feature Suggestion

In most documentations, to install backstage plugins, we found the following lines :

[code]

When installing multiple plugins, it could be confusing to go to a subdirectory --> install plugin --> switch directory --> install another plugin, etc. So I think that one-line commands could be way more pactical for users like :

[code]

## Context

I've already find myself in a s

[2022-03-26 08:57] freben commented on #10314
@ikuegelgen Sure! Since you are yourselves responsible for [issuing the token](https://backstage.io/docs/auth/identity-resolver), you can add custom claims to the Backstage token at will.

[2022-03-26 09:04] freben commented on #10314
@ProticM You are free to design the entity names and catalog structure in any way you see fit. It's both a freedom and a source of potential confusion :) I think you should start with the question, how would you WANT things to be structured and work?

Your ingestion of entities into the catalog can be done in any of a multitude of ways, there's no fixed naming pattern or structure.

Your [sign-in

[2022-03-26 10:29] kim5566 commented on #10387
hi @vinzscam ! thanks for looking into this!

apologies, I have updated my issue description.

It is not working with GitHub Integration enabled.

As following screenshot, in my sample organisation i have a team called red-team.

with
[code]

It auto discovered my team and user(me). ok

![Image from iOS (1)](https://user-images.githubusercontent.com/28945404/160234989-8ba06643-de39-4994-ab66-03d86

[2022-03-26 10:59] freben commented on #10418
@ProticM You have e.g. `CatalogTable.columns.createNameColumn()`. The [default columns](https://github.com/backstage/backstage/blob/2c77266deb25c08fc0c174967f3c3223d92eb474/plugins/catalog/src/components/CatalogTable/CatalogTable.tsx#L67) of the `CatalogTable` are indeed not exported but that wouldn't necessarily be super helpful either ... you often want to rearrange or insert a column etc, and t

[2022-03-26 12:00] andrewthauer commented on #10232
@ProticM - Oh, I see you are not using docker and just installing the dependencies directly. Hard to say, but some additional things you could check / update are:

- `mkdocs-techdocs-core` is now at `1.0.1` so try bumping to that exact version
- Verify the mkdocs.yaml has `mkdocs-techdocs-core` registered correctly
- Explicitly add the `mdx_truly_sane_lists` to the mkdocs.yaml file

[2022-03-26 12:13] andrewthauer commented on #10404
First off, I'm I believe this would be useful. However, based on the proposal I'm not sure how this new field would be used from a code perspective within Backstage. One of the concerns from the original RFC was around when to use a link versus an annotation (or something else). The consensus seemed to be that that links should be purely for display purposes and avoid being used by any conditional

[2022-03-26 12:14] LvffY commented on #10458
Misreading the docs, I put the [code described](https://github.com/backstage/backstage/blob/master/plugins/catalog-backend-module-msgraph/README.md) outside of the function `createPLugin` so it didn't work.

If anyone fall into the same problem, be careful to add the code inside of the `createPlugin` function :

[code]

*As I said, obvious solution, it is well explained in the doc also* :)

[2022-03-26 12:14] #10458 closed

[2022-03-26 12:31] andrewthauer commented on #849
@hydrosquall - I'm not sure this would help at the moment without re-thinking how things work. The typical flow would be a team that manages a `catalog-info-yaml` file would add a link within that file so that other users of Backstage can view the dashboard/widget within Backstage. This URL is essentially hard coded and managing/refreshing the link would require dynamically changing the link at ru

[2022-03-26 16:01] regicsolutions commented on #2857
@mclarke47 came across a cool [helm-ui](https://github.com/gimlet-io/helm-react-ui) react component, what are your thoughts on having something like this as a [custom helm resource] ?(https://github.com/backstage/backstage/tree/master/plugins/kubernetes/src/components/CustomResources)

![image](https://user-images.githubusercontent.com/6157895/160247557-55101cb2-bbae-4e7f-8f9c-813e7a5382f5.png)

[2022-03-26 19:31] #10139 closed

[2022-03-27 15:33] lqlamTMA opened #10463 "Add tokenmanager to tech-insights-backend plugin"
Currently, I have added tech-insights plugin to my source. When tech-insights backend call API of catalog-client to get entities, it will check the policy of permission, if we haven't tokenmanager to tech-insights-backend plugin. For my thinking, tech-insights-backend call to get entities from catalog-backend plugin, the two plugins are in the same backend, they shouldn't check the policy of permi

[2022-03-27 17:07] #9034 closed

[2022-03-27 18:18] blueboxes commented on #10029
Need to be careful fixing this as techdocs is using the lower case version so I wonder if it is changed to mixed case techdocs for the components will need to be rebuilt.

Guess depends if the bug is at the database level or just UI. It does show in mixed case in some places.

Could a quicker fix the search could ignore case?

[2022-03-27 18:31] freben commented on #10029
Ping @timbonicush since you are knowledgeable in the ways of the filterness. Seems it's case dependent somewhere it shouldn't be!

For anybody else: This indeed sounds like a bug in the filter code of the catalog page. It _should_ be case insensitive. The reason you sometimes see lowercase versions of names, is that [entity refs](https://backstage.io/docs/features/software-catalog/references) (of

[2022-03-28 06:53] ProticM commented on #10418
@freben Thanks for your answer.

Yes, I've been adding custom columns in the past, and I know that the only thing that is exported is the methods to create the default columns, and thus I was asking the previous question to see if something has changed.

Ok, I will go with this approach and close this ticket once verified.

[2022-03-28 06:56] yarodinD commented on #10176
PR with fix was merged: https://github.com/backstage/backstage/pull/10455

[2022-03-28 06:56] #10176 closed

[2022-03-28 07:08] ProticM commented on #10314
Hi @freben

Yes, this part is clear :)

This is exactly how we have it, with a slight problem that I now see that we can solve with the custom sign-in resolver which is something we did not reach in our implementation yet.

Basically, we use Okta provider to sign in our users and we take the first part of it as an entity name for our user. We do not have an annotation, but we do have a custom obje

[2022-03-28 08:52] zeeraw commented on #10399
@jhaals I will take a stab at it together with a colleague. We're investigating why `last_activity_after` is set in the request even though the cache is empty.

[2022-03-28 09:06] freben commented on #10314
Ah I see. Let me throw one more suggestion into the mix:

What if your entities' `metadata.name` was instead the full email, and leave them all in the `default` namespace?

Namespaces are fine as such, but having to split apart the email and reconstructing it in an entity ref "shape" just to appease Backstage - and then asking users to type out their ownership info etc in a foreign way when emails

[2022-03-28 09:06] freben commented on #10314
Also, yes - the resolver is async.

[2022-03-28 09:33] bigmirc opened #10475 "Documentation does not load"
## Expected Behavior

Dev portal documentation should load

## Actual Behavior

documentation page gets this error
Building a newer version of this documentation failed. Error: "Failed to generate docs from /var/folders/kk/g0ppfjfj52v62np_l0qc2flr0000gp/T/backstage-uJh8Mh into /private/var/folders/kk/g0ppfjfj52v62np_l0qc2flr0000gp/T/techdocs-tmp-CRObNC with error This operation requires Docker. Do

[2022-03-28 09:58] MrBlaise opened #10476 "Apple Silicon (M1) - backend won't start (dyld: missing symbol called) - After upgrading to 1.0.x"
## Expected Behavior

When running `yarn start-backend` on a backstage app created by `npx @backstage/create-app` it should start up on an Apple Silicon (arm64) machine.

## Actual Behavior

The backend fails to start with the following message:
[code]

## Steps to Reproduce

1. Run `npx @backstage/create-app` (choose sqlite)
2. After the app is ready go to the root and run `yarn start-backend` (o

[2022-03-28 10:16] MrBlaise commented on #10476
Reinstalling nodejs using x86_64 architecture (using this guide for example: https://gist.github.com/adrienjoly/e29a6e73fb7e701eefd80ff9bde9abeb) is currently the workaround.

[2022-03-28 10:42] vinzscam commented on #10387
thank you for the explanation, everything looks more clear!
This looks more a claims issue. Basically, in order to understand that your authenticated user belongs to a certain team, you need to add this information in your JWT token. [Here](https://backstage.io/docs/auth/identity-resolver#resolving-membership-through-the-catalog) is an example on how to do it 😄

[2022-03-28 10:45] ProticM commented on #10314
Thanks @freben

Yes, this is something we discussed before, whether we should leave them in the default namespace and use the full email as the name. And, it is still a valid thing for us that we might end up doing.

The reason why we did not do it, is because we set the namespace for every backstage entity...component, group, resource...etc...The number one reason for it is the uniqueness, and an

[2022-03-28 11:19] shanthisagar-dhanya-kumar-db opened #10477 "Techdocs local build when used with techdocs backend sync api, gives Out Of Memory"
We use techdocs backend plugin's sync api to generate the docs for us locally.
techdocs.builder and techdocs.runIn is set to "local"
We have 16 GB openshift pod where the app is deployed.
Let's saw when we call the techdocs backend sync api for multiple docs generation one after the other, then the pod gives Out Of Memory. Do we need to do any memory setting specifically for this?

[2022-03-28 11:37] freben commented on #7027
We just talked about this among ourselves and I agree that the entity refs being lowercased is really frustrating and ultimately an artifact of database internals that should not leak out to end users. However, addressing it and making them retain the original case will be a delicate, long-running effort that risks causing breakages in various parts of the application. Therefore we want to be real

[2022-03-28 12:23] LvffY opened #10478 "Unable to map users with users connected"
## Expected Behavior

I could add any user connected through any auth provider to backstage groups.

## Actual Behavior

My user connected through my gitlab provider could not be added to any backstage group.

## Steps to Reproduce

1. Create users and groups :

[code]

2. Deploy your app
3. Your connected user shouldn't be in any group while the user `user1` should be in both team.

## Context

I

[2022-03-28 13:38] freben commented on #10314
It's in the structure - `isValidEntityName` checks that particular field, and there are other siblings to that one in the parameter to `makeValidator` that check other aspects of an entity's shape.

Sure, but your namespace structure CAN be different for different kinds if you want. Since the full email is already a perfect uniqueness constraint in and of itself, I thought it might be helpful to k

[2022-03-28 13:57] mattmarchany commented on #10387
Hey there, I have the same problem as @kim5566 - we're also using the GitHub Discovery functionality. For us, we noticed that this stopped working with the upgrade to [v0.71.0](https://github.com/backstage/backstage/releases/tag/v0.71.0) where `@backstage/plugin-catalog-backend@0.24.0` split out GitHub, GitLab, etc. discovery and reader functionality into their own packages. We're currently on [v1

[2022-03-28 14:31] jhaals commented on #10399
Thanks! I'll assign you, best of luck!

[2022-03-28 15:00] zhammer opened #10485 "catalog-graph: color by system"
## Feature Suggestion

Multiple folks from our team have noted that it would be nice if on the catalog graph we could color nodes by `spec.system`.

## Possible Implementation

I haven't looked at the implementation of catalog graph yet! I imagine it is mostly (if not all) on the react side. A selector with "color by" or "group by" and a dropdown with "system", "owner", "domain" could be a good st

[2022-03-28 15:05] #9039 closed

[2022-03-28 16:59] freben commented on #10029
@blueboxes I was looking into this issue but I'm honestly not entirely sure what this is that you're referring to 🤔  Could you take a screenshot or something of what the view is before clicking, and after clicking (and clarifying where you clicked to get there)?

[2022-03-28 17:20] asummers commented on #8890
This is still an issue. Please reopen.

[2022-03-28 17:32] LvffY commented on #10478
My bad, just the wrong API used.

For now, I've come to a code like this (for gitlab and microsoft) :

[code]

The code is probably not the best you've ever seen, but for now it works.

I'll try to update this code if I move to anything else.

[2022-03-28 17:41] LvffY opened #10487 "Use --no-install-recommends in backend Dockerfile"
## Expected Behavior

Do not install `apt-get` recommends packages during docker builds.

## Actual Behavior

All suggested packages are installed during builds.

## Steps to Reproduce

In the docker file produced by default, just add the `--no-install-recommends` argument to `apt-get` command :

[code]

## Context

As a docker best practice, it is always recommended to have the lighter images. Fo

[2022-03-28 21:08] hydrosquall commented on #849
@andrewthauer - thanks for the additional detail. To make sure I'm reading this correctly:

1. Is it the case that not all of these Backstage users are users of Datadog?
2. Is it the case that not all of the Backstage users are on the same company email domain?

It seems to me that you may be able to get the intended behavior using ['share by domain'](https://www.datadoghq.com/blog/dashboard-shari

[2022-03-28 21:24] pjungermann commented on #9923
I think what you refer to at the end of your comment relates to his PR #9095 . Not sure whether this makes a big difference for the concern here as this is more around how the Git URL itself gets parsed.

[2022-03-28 23:04] kim5566 commented on #10387
thanks @vinzscam !

hey @mattmarchany , i ended up to resolve issues with adding a custom github identity resolver.

as linked provided by @vinzscam , and following is the key part to add group memberships.

[code]

[2022-03-28 23:04] #10387 closed

[2022-03-29 03:47] ohmychill opened #10491 "Integrating Gogs self-hosted repository, is it possible?"
**Status:** Open for comments

## Need
Is it possible to integrate Gogs self-hosted repository on  Backstage just like Github or Bitbucket?
From the looks of it, only the mainstream tools have the documentations available on how to integrate it, no other documentations for other repository tools like Gogs.

## Proposal
I want to inquire from the community if there are other users here who have suc

[2022-03-29 05:23] guillermomanzo commented on #10434
@benjdlambert @emmaindal any thoughts on this issue? :)

[2022-03-29 05:41] guillermomanzo commented on #8398
Is there a current update on this issue @mufaddal7? :)

[2022-03-29 05:53] mufaddal7 commented on #8398
@guillermomanzo  on a tight schedule , didn't get the time to compose a plugin.

 If anyone opens up a PR , will be happy to contribute the bits and pieces, I developed .

[2022-03-29 06:47] emmaindal commented on #10434
Thanks for opening this issue @SuganJoe I think the capability to compose the context menu makes totally sense to me. I see the `UNSTABLE_extraContextMenuItems` is prefixed with `UNSTABLE` so not sure if the plan is to deprecate that. In general for how to compose it, I'll leave it up to @backstage/maintainers, as I can imagine there is some patterns (you mentioned one of them) that one can follow

[2022-03-29 06:49] proffalken opened #10498 "[Documentation] Instructions on how to write templates could be more expansive"
## Expected Behavior

I wanted to write a simple template that took an input from some drop-down lists and text fields in the first step, and then automatically constructed a repoURL based on the values given.

## Actual Behavior

The documents show how to create a repo by filling in the repoURL component, but apart from `allowedHosts` there is very little on how to customise the repoURL component

[2022-03-29 06:57] ottosichert commented on #10475
Hey @bigmirc! Can you verify you have Docker installed and running? One option would be to run `docker ps` in your terminal and ensure it is not showing an error.

[2022-03-29 07:04] bigmirc commented on #10475
Hello,
This issue is also present in production.
    On Tuesday, March 29, 2022, 09:58:02 AM GMT+3, Otto Sichert ***@***.***> wrote:

Hey @bigmirc! Can you verify you have Docker installed and running? One option would be to run docker ps in your terminal and ensure it is not showing an error.

This operation requires Docker. Docker does not appear to be available

—
Reply to this email directly,

[2022-03-29 07:54] jhaals commented on #10459
Hi @LvffY ! Yes we discussed this yesterday and we're all for using `--cwd` instead of having to paste an additional command to change the working directory. Are you interested in sending some PRs to make life easier for users?

[2022-03-29 07:56] jhaals commented on #10457
Deferring this suggestion to @mclarke47 :)

[2022-03-29 07:56] freben commented on #10348
probably related problem: https://discord.com/channels/687207715902193673/923144214580191282/958144637028167730

[2022-03-29 07:57] proffalken commented on #10498
I should probably say at this point that I'm more than happy to help with writing the documentation once I know where to start!

[2022-03-29 07:57] jhaals commented on #10453
Hi @lvenugopal, this sounds like a good idea. Would you be willing to help out and send a PR for this?

[2022-03-29 08:03] jhaals commented on #10434
Hi! There's is an option for disabling the unregister button :)
See https://github.com/backstage/backstage/blob/master/plugins/catalog/src/components/EntityLayout/EntityLayout.tsx#L146 which can be passed into as props to `EntityLayout`.

[2022-03-29 08:06] ottosichert commented on #10475
Docker also needs to be installed and running in production. What is the output of following commands?

[code]

[2022-03-29 08:10] blueboxes commented on #10029
@freben I have added screenshots and yaml to the description at the top. Let me know if you need anything else.

[2022-03-29 08:26] jhaals commented on #10463
Hi, there's still a network call involved and we don't have a clear way of telling whenever you run a split deployment or not.
The tech-insights-backend should obtain a token from the `tokenManager` and forward it when communicating with the catalog. Are you interested in addressing this?

[2022-03-29 08:27] jhaals commented on #10463
Also a notice to @Xantier as you worked a lot on this plugin :)

[2022-03-29 08:38] jhaals commented on #9090
Sorry for the delay Andrew, I hope you've been busy with other things.

The text that goes into the GitHub release is picked up from the last commit in the git tag, all of that including publishing the Github release is part of the [create-github-release](https://github.com/backstage/backstage/blob/master/scripts/create-github-release.js#L201) script.

It's executed here for some additional contex

[2022-03-29 09:19] mehmetmalli opened #10502 "cli frontend plugin creation misleading log message bug"
## Expected Behavior

When creating a frontend plugin, the cli should print "Creating frontend plugin" log message.

## Actual Behavior

When creating a frontend plugin, the cli prints "Creating backend plugin" log message.

![issue](https://user-images.githubusercontent.com/19557260/160578150-46bd9691-7bc6-4af6-9779-fe9d51c872ff.png)

## Steps to Reproduce

1. Run `backstage-cli create` in termin

[2022-03-29 09:20] mehmetmalli commented on #10502
Fixed in this PR: https://github.com/backstage/backstage/pull/10501

[2022-03-29 09:48] goenning commented on #10476
Same here, is it a new package that backstage is using which is incompatible with M1?

[2022-03-29 10:23] ProticM commented on #10418
The issue is verified, closing it

[2022-03-29 10:23] #10418 closed

[2022-03-29 11:28] jhaals commented on #10312
We would have to provide our own shim/proxy via the sandboxed VM as we don't want to allow access to the `fs` module directly.

[2022-03-29 11:46] #10502 closed

[2022-03-29 12:06] iain-b opened #10508 "Adding the gcalendar plugin leads to errors running tsc:full"
Firstly, I really, really like the gcalendar home page card! I had a minor issue integrating it though.

TL;DR I needed to install some type packages.

## Expected Behavior

The installation docs cover installing any required type packages (or I do not get type errors when I install the plugin).

## Actual Behavior

[code]

## Steps to Reproduce

1. Install the plugin (https://github.com/backstage

[2022-03-29 12:34] ProticM commented on #10314
Thanks @freben Yes, it is helpful for sure. If nothing else, a good confirmation that this is a valid thing to be considered as a metadata name for the users.

Especially the field validator. I was not aware of that possibility.

[2022-03-29 12:42] bigmirc commented on #10475
Hello,
Seems like no container is up, but I have Docker installed.
Thanks, Alex

    On Tuesday, March 29, 2022, 11:06:34 AM GMT+3, Otto Sichert ***@***.***> wrote:

Docker also needs to be installed and running in production. What is the output of following commands?
$ docker ps
$ echo $?

—
Reply to this email directly, view it on GitHub, or unsubscribe.
You are receiving this because you were m

[2022-03-29 13:21] pjungermann commented on #10277
the cause seems to be at https://github.com/backstage/mkdocs-techdocs-core/blob/main/src/core.py#L38

[2022-03-29 13:39] #10232 closed, assigned to nobody

[2022-03-29 13:55] tragiclifestories commented on #10312
And the `path` module, presumably.

[2022-03-29 14:14] jhaals commented on #10491
Hi @ohmychill

There is currently no support for Gogs in Backstage but it's fully possible(and welcome) to contribute an integration for it 😁

[2022-03-29 14:43] freben commented on #10314
No. That particular feature is the overall sanity check - org-wide rules for "lowest common denominator" type things. Also, the intent of the metadata block is that it should be the same for all kinds, in theory at least. That being said, you COULD easily make a processor that runs in the post step, just adding some additional check to the name and throwing an exception if it's not fulfilling some

[2022-03-29 14:56] benjdlambert commented on #10476
Hmm so this is pretty weird. I got a new M1 yesterday, and it works fine using 14.x, but 16.x throws this. Can you both confirm that it works fine on 14.x? And maybe help out trying to work out what library it is that doesn't like 16?

[2022-03-29 15:38] dschwank commented on #10121
Sorry for the late feedback - yeah, we sync all starred entities to our DB as well.
If there is interest in the community, we could check if we can make it generic and contribute it to the community.

[2022-03-29 18:00] jrusso1020 commented on #10404
Agree with this, we have been using annotations ourselves for important links based on this guidance. But the annotation approach causes issues when you want multiple values for a single annotation (list). Links with types seem better suited to allow you to have multiple let's say observability dashboards attached to an entity, documents, runbooks etc

[2022-03-29 19:32] LvffY commented on #10459
Hi @jhaals

I could give it a try :)

[2022-03-29 19:53] shanthisagar-dhanya-kumar-db opened #10511 "react and react-dom mismatch after upgrading to v1.0.0 (React 17)"
https://github.com/backstage/backstage/pull/9037
https://github.com/backstage/backstage/issues/6910

We have upgraded our code base to v1.0.0 and following is the react version under packages/app/package.json
"react": "^17.0.2",
"react-dom": "^17.0.2",

We have extended some of the backstages' plugin such as api-docs/ catalog / tech-radar to give custom features for our project and following is wh

[2022-03-29 20:03] LvffY commented on #10459
@jhaals Made a first draft of the PR, don't hesitate to review it :)

I just found the pattern in the **docs** repository (and I found it logic) so don't search for too long, but may be I miss something.

[2022-03-29 20:23] Rugvip commented on #10511
What does `yarn why react` and `yarn why react-dom` say? They should both just list a single version. It's possible to get a duplicate install with those version ranges since `^17.0.0` isn't exactly the same as `^17.0.2`, and ofc v16 satisfies the full range as well. Double check the `react` and `react-dom` entries in `yarn.lock`, most likely you should actually just be able to just remove them fr

[2022-03-29 20:42] shanthisagar-dhanya-kumar-db commented on #10511
yarn why react
[4/4] Calculating file sizes...
=> Found "react@17.0.2"

yarn why react-dom
[4/4] Calculating file sizes...
=> Found "react-dom@17.0.2"

There appears to be only one version of both react and react-dom.

Clearing the yarn.lock did yarn install

Using the below versions everywhere in the project
"@types/react": "^17.0.2"
"react": "^17.0.2",
"react-dom": "^17.0.2",

Contents of yarn.l

[2022-03-29 20:50] Rugvip commented on #10511
Hmm, looks alright. You could double-check `@hot-loader/react` too, that there's only one of each of the specific 16 and 17 installed via ©backstage/cli.

I think it's time to move on to investigating point 2, is it possible that you have an invalid hook call somewhere? what does the stack trace look like?

[2022-03-29 21:05] shanthisagar-dhanya-kumar-db commented on #10511
"@hot-loader/react-dom-v16@npm:@hot-loader/react-dom@^16.0.2":
  version "16.14.0"

"@hot-loader/react-dom-v17@npm:@hot-loader/react-dom@^17.0.2":
  version "17.0.2"

The internal plugin, where we see that error hasn't changed anything. All we are doing at the moment is to upgrade to v1.0.0.
And surprisingly, there is not console stack trace !!!

[2022-03-29 21:06] mstergianis opened #10513 "[Kubernetes Plugin] CRDs are configurable per cluster"
## Feature Suggestion

Currently adopters are required to specify the set of CRDs they want to observe for all clusters. However in practice not all k8s clusters are homogeneous. This can lead to error messages that are confusing for end users of backstage and wasted network requests. This proposal is to allow the set of CRDs queried by `kubernetes-backend` to be configurable on a per-cluster basi

[2022-03-29 21:09] farhan-triplelift opened #10514 "Have the scaffolder take input values to select certain files or directories that will not be templated/created in the resulting repository"
I'm wanting a way to conditionally template files. i.e. given some input values, certain files would be created and be templated, or perhaps not be created at all. This is for the fetch:template action

It seems like there was a method for achieving this with [cookiecutter](https://cookiecutter.readthedocs.io/en/latest/advanced/hooks.html#example-conditional-files-directories), but there is no way

[2022-03-29 23:30] Niksko commented on #10362
Hey @realandersn, thanks for looking at this.

Steps to reproduce:

[code]

Expected: The created page is displayed

Actual: The 404 'mic drop' page is displayed

Running `npx @techdocs/cli@0.8.17 serve` works as expected.

[2022-03-30 01:32] shailahir commented on #10453
I am working on it. will raise a PR in few hours possibly.

[2022-03-30 01:57] shailahir commented on #10453
Raised a PR #10516 , Please review

[2022-03-30 02:38] shailahir commented on #10121
We would be very grateful if you can contribute it.

[2022-03-30 05:47] regicsolutions commented on #3269
@shailahir Wasn't sure if you were aware of this [js-sona-types](https://github.com/sonatype-nexus-community/js-sona-types) library, just came across it and wanted to share as it seems to provide some common communication code to retrieve vulnerabilities 😁

[2022-03-30 06:20] weid-h opened #10524 "Limit "View graph" depth in the Catalog Graph Card"
We have a large graph of entities which takes a long time to load and is an undecipherable mess when it is loaded with an unlimited depth. We want to add a parameter to the CatalogGraphCard which will allow us to limit the depth of the graph when "View graph" is clicked from an entity page.

## Feature Suggestion
Add a parameter to the CatalogGraphCard which will allow us to limit the depth of the

[2022-03-30 06:42] jhaals commented on #10402
But in your first example with Gitlab the two instances have different hostnames, Backstage should be able to handle that without any additional features. Or is something not working as expected with just this configuration?

[code]

For the azure config example there is currently no support for having different tokens for authentication to the same host. It feels like this is something that needs

[2022-03-30 06:53] pjungermann commented on #10183
I will look at replacing/converting the BitbucketDiscoveryProcessor next. Hereby, I plan to consider #9923 and create separate providers for Bitbucket Cloud and Bitbucket Server (fka. Stash).

[2022-03-30 07:04] LvffY commented on #10402
@jhaals Thanks for the clarification :)

To be honest, I wasn't able to try it for now (because one of my gitlab is in a private network and we didn't call the network team), so I don't know if it's working right now. *But you're right, because it's two separate hostnames, it should work*.

But actually, I also have the same request for gitlab : be able to connect to the same gitlab host with mult

[2022-03-30 07:13] #10459 closed

[2022-03-30 08:48] shanthisagar-dhanya-kumar-db commented on #10511
And now when I perform the following.

// Add this in node_modules/react-dom/index.js
window.React1 = require('react');

// Add this in your component file
require('react-dom');
window.React2 = require('react');
console.log(window.React1 === window.React2);

it prints false

[2022-03-30 09:12] shanthisagar-dhanya-kumar-db commented on #10511
and also we get the following warning while performing yarn install

warning "workspace-aggregator-2de7c4d2-d288-4b92-8bae-15d51521a951 > app > @backstage/cli > @hot-loader/react-dom-v16@16.14.0" has incorrect peer dependency "react@^16.14.0".
warning "workspace-aggregator-2de7c4d2-d288-4b92-8bae-15d51521a951 > @backstage-extended/plugin-catalog > react-helmet > react-side-effect@2.1.0" has incorr

[2022-03-30 12:51] xente commented on #10432
Hi, In the https://backstage.io/docs/integrations/azure/discovery you can read
Note: the path parameter follows the same rules as the search on Azure DevOps web interface. For more details visit the [official search documentation](https://docs.microsoft.com/en-us/azure/devops/project/search/get-started-search?view=azure-devops)

You need to install https://marketplace.visualstudio.com/items?itemNa

[2022-03-30 12:55] mertcb commented on #10511
We have the same issue, everything is same with @shanthisagar-dhanya-kumar-db and also we have the error at Catalog, TechDocs and Scaffolder pages

[2022-03-30 13:03] awanlin commented on #10432
@xente thanks for this ^

@LvffY could you also try this:

[code]

This would be a static location but would tell if it's just that `azure-discovery` isn't working or something more

[2022-03-30 13:15] LvffY commented on #10432
@awanlin For now I manually import locations from one catalog file.

I mean I have something like that

[code]

and it's working.

@xente I'll give it a try. *But clearly, it it works, I didn't understand that we need some additional plugin to make it work ^^'*

[2022-03-30 13:20] pjungermann commented on #631
just found [mertsaygi/backstage-plugin-spinnaker](https://github.com/mertsaygi/backstage-plugin-spinnaker) by @mertsaygi (also not sure if there was awareness about this issue while creating it)

[2022-03-30 13:30] ProticM commented on #10314
Ok, thanks for the information. Yes, the idea behind the metadata is clear. We have the metadata name check within our custom processor that ingest the users data and does exactly that, it throws an error if the extracted name does not meet the requirements.

But IMHO some particular things might be more useful if they are different per kind, but depending on the common metadata.

For example, all

[2022-03-30 13:30] #10314 closed

[2022-03-30 13:34] lqlamTMA commented on #9132
Thanks @mtlewis. I will close this issue

[2022-03-30 13:34] #9132 closed

[2022-03-30 13:35] MrBlaise commented on #10476
When I install node 14.x using nvm it actually installs the x86 version. You can check that by running `node -p process.arch` when using the 14.x. That would explain why it works.

[2022-03-30 13:51] #8850 closed

[2022-03-30 14:02] lqlamTMA opened #10529 "[Techdocs] Couldn't load the document because css 404 (Not Found)"
After I bumped up version of backstage to 1.0.0 . My backstage couldn't load document for using Techdocs plugin and I had got error 404 NOT Found css file as picture below:
![image](https://user-images.githubusercontent.com/29789620/160852111-5a721c0c-5c9d-4b22-a533-02cf6b2c52dd.png)

 After that I had investigated plugin-techdocs-backend code lines and seen that new version of plugin-techdocs-bac

[2022-03-30 14:08] awanlin commented on #10432
@LvffY ok, that's good to know. When you say "But clearly, it it works, I didn't understand that we need some additional plugin to make it work" is that because you install the Code Search extension or were you referring to the manual static location? It seems you can use azure-discovery now and I'm just trying to figure out what the solution was

[2022-03-30 14:10] LvffY commented on #10432
@awanlin No I could figure out about the static location, I was talking about the Code Search extension :)

[2022-03-30 15:15] benjdlambert commented on #10476
Nice catch, so this is where it gets interesting. A new `create-app` throws this error, but the main repo works fine in `arm64`. Guessing `yarn.lock` installs later versions of some binary dependency, but not sure which one it is. Need to find all the packages that have bindings and add logs before and after requiring them to see where it bombs out and lock down the dependency somewhere to one tha

[2022-03-30 15:55] alexrybch commented on #10508
Thanks for reporting! Should be fixed with #10531 PR

[2022-03-30 17:16] webark opened #10533 "Can't access "/catalog-import" path with custom "CatalogIndexPage""
## Expected Behavior

when setting up a custom catalog index page navigating to the `catalog-import` path loads up the "catalog index" content

## Actual Behavior

Should load the "catalog-import" content

## Steps to Reproduce

1. Create a custom index page and configure the route as persribed like
[code]
2. Navigate to the `/catalog-import` path.

## Context

followed instructions here https://b

[2022-03-30 17:19] webark commented on #10533
discord thread for reference https://discord.com/channels/687207715902193673/956952078385815602

key points to note from @joeporpeglia

[2022-03-30 17:26] joeporpeglia commented on #10533
Related to https://github.com/backstage/backstage/pull/10507

[2022-03-30 17:43] webark commented on #10533
one workaround is to pick a different path for the catalog-import such as `path="/catalog-import"`

[2022-03-30 19:06] Rugvip opened #10534 "create-app: remove sqlite/postgres decision"
## Feature Suggestion

I'm suggesting that we remove the SQLite vs PostgreSQL decision that the user has to make as part of `npx @backstage/create-app`. In most setups, you will want to use both, SQLite for local development, and PostgreSQL for production. There are exceptions to this, but I'm thinking this is by far the most common use-case.

## Possible Implementation

The configuration for Post

[2022-03-30 21:41] afscrome opened #10535 "Prompt developers if they forget to Sign-Off a commit."
## Feature Suggestion

When contributing back to this repo, I keep forgetting to sign off commits. I'm sure as maintainers you're a bit sick of reminding people to sign off their commits.

I notice that when committing there is some pre commit validation which got me thinking if something similar could be done to validate that commits are signed before being pushed?

![image](https://user-images.g

[2022-03-30 22:36] shanthisagar-dhanya-kumar-db commented on #10534
If the plan is to use sqlite and not better-sqlite , we are up for this. better-sqlite has a ton of dependencies which our org doesn't support by default as part of the base OS image.

[2022-03-30 22:42] shanthisagar-dhanya-kumar-db commented on #10529
You will need to enable permissions in app config and also set the auth secret. Also check whether you have set correct CSP

permission:
  enabled: true
backend:
  # Used for enabling authentication, secret is shared by all backend plugins
  # See backend-to-backend-auth.md in the docs for information on the format
  auth:
    keys:
     - secret: ${BACKSTAGE_BACKEND_AUTH_SECRET}
  baseUrl: ${BACK

[2022-03-30 22:43] shanthisagar-dhanya-kumar-db commented on #10511
Finally, it appears that we had the scenario 2 which is hooks inside the function which we detected and finally resolved it.
@Rugvip : Thanks for helping to understand the other views.

[2022-03-30 22:43] #10511 closed

[2022-03-30 22:44] shanthisagar-dhanya-kumar-db commented on #7638
Yes, I saw those changes in the new versions for example, v.1.0.0. Thanks. I will close this ticket now.

[2022-03-30 22:44] #7638 closed

[2022-03-30 22:46] shanthisagar-dhanya-kumar-db commented on #10270
May be we should consider the option where in, when user clicks on any image on the docs page, it should appear like a huge pop up and allow users' to zoom???

[2022-03-31 06:43] shanthisagar-dhanya-kumar-db opened #10543 "Techdocs "recommended approach" implementation ideas"
Currently in our organisation, the technical docs are all scattered across, as it resides in the entity owners' git repos which we don't have control over. But, we in the backstage team maintain some of the backstage yaml file referencing those techdocs.

If we were to use CI/CD to build the techdocs, we will need to download (clone) all the docs content of docs to CI/CD server and then further ex

[2022-03-31 07:29] marleypowell commented on #9709
@jvilimek I've done a fix to solve the initial load problem but I am still looking into chunking requests to solve this problem:

[2022-03-31 07:32] freben commented on #10348
Alright, devising a fix that hopefully addresses this https://github.com/backstage/backstage/pull/10544

[2022-03-31 08:04] bigmirc commented on #10475
it's returning 0.

[2022-03-31 08:04] Rugvip commented on #10534
Bit of a separate discussion which exact implementation of SQLite we'd use to be honest. It's currently `better-sqlite3` by default, with the other option being `@vscode/sqlite3`. We switched over to `better-sqlite3` because of the lack of prebuilt binaries for `@vscode/sqlite3`, which in turn adds additional install dependencies.

[2022-03-31 08:15] Rugvip commented on #10533
This seems to be due `react-router` rating `/catalog` with a child path of `/*` higher than `/catalog-import`, even though we make sure that `/catalog-import` receives higher priority due to being listed earlier. I believe this is fixed by moving to the stable version of `react-router`, although I haven't verified that. It's the change in [`beta.6`](https://github.com/remix-run/react-router/releas

[2022-03-31 08:19] #8678 closed

[2022-03-31 08:30] kwent commented on #9250
Trying to make it work on heroku as well and hitting a similar issue. I opened a ticket on here https://github.com/backstage/demo/issues/50 so we can fix it AND add a functional heroku configuration file with a persistent database so people doesn't struggle with this anymore.

[2022-03-31 08:33] LvffY opened #10545 "Azure DevOps Plugin: Unable to import builds"
## Expected Behavior

I want to have the summary of my builds in backstage.

## Actual Behavior

Unable to my builds reports :

![image](https://user-images.githubusercontent.com/37327656/161012799-2970bef0-4028-44ec-8c7c-90f24acfdfce.png)

## Steps to Reproduce

1. Follow steps on the [plugin page](https://github.com/backstage/backstage/tree/master/plugins/azure-devops)

[code]

3. Configure a co

[2022-03-31 09:11] benjdlambert commented on #10478
Ok - let us know how you get on! Going to close this for now!

[2022-03-31 09:11] #10478 closed

[2022-03-31 09:12] benjdlambert commented on #10432
Can we close this now?

[2022-03-31 09:36] benjdlambert commented on #10029
Could you try using the next release of create app and see if the problem is fixed there?

[2022-03-31 09:49] pedroparraortega commented on #10351
I'm facing the same situation trying to add an existing component pointing to the definition.
[code]

[2022-03-31 09:55] debo commented on #10476
Hello there, I just faced this very same problem, so for now the solution is to run node 14.x? Asking so I can unlock myself and move forward. Please let me know, thanks a lot for your time and help.

[2022-03-31 10:42] benjdlambert commented on #10402
Yep, I think we're going to want to take a little step back here and think about adding `CredentialProviders` for other integration types, so that we can do some additional logic when acting with the integrations depending on the URL's. @Rugvip or @freben do you have any other ideas on how we could support this>?

[2022-03-31 10:44] benjdlambert commented on #10514
I think that what we want to do here, is check what https://github.com/backstage/backstage/blob/ccc649a4087c338b2b8d618dc8022026d0dea231/plugins/scaffolder-backend/src/scaffolder/actions/builtin/fetch/template.ts#L199 returns, and if it's a falsy value then `continue;` in the for loop.

[2022-03-31 10:48] benjdlambert commented on #10545
@awanlin do you have any steps to troubleshoot and debug this?

[2022-03-31 10:52] benjdlambert commented on #10487
@LvffY if you remove the entire `apt-get` line does the container still build successfully for you?

[2022-03-31 10:55] benjdlambert commented on #10498
@proffalken please feel free to go ahead and use this ticket to make some improvement to the docs which you think would help out other users. We can sometimes get a little foggy and what should be important to new users being in and around the project from the beginning! :pray: Thanks!

[2022-03-31 10:56] proffalken commented on #10498
@benjdlambert - more than happy to do that, although the main thing I'm struggling with right now is working out how to actually do stuff!

I'm already on the slack and discord, is there anywhere else I should be looking to get help on how to do stuff so I can turn it into documentation?

[2022-03-31 10:57] benjdlambert commented on #10513
@mclarke47 would be good to get your input here too! :pray:

[2022-03-31 11:00] benjdlambert commented on #10434
Wondering if we can make https://github.com/backstage/backstage/blob/master/plugins/catalog/src/components/EntityLayout/EntityLayout.tsx#L147 `boolean | VisibleType ` and then deprecate the `boolean` in favour of `type VisibleType = 'visible' | 'hidden' | 'disabled'` instead? The name of that is probably not great, so feel free to pick something better :)

[2022-03-31 11:03] MrBlaise commented on #10476
You can install the intel version of node 16.x, that works too, guide here: https://gist.github.com/adrienjoly/e29a6e73fb7e701eefd80ff9bde9abeb

[2022-03-31 11:11] benjdlambert commented on #9250
@kwent re: https://github.com/backstage/demo/issues/50 what do you think we need to do to get it working with heroku?

[2022-03-31 11:23] awanlin commented on #10545
@LvffY looks like we have two things going on here:

1. Your annotations are not correct. This should help you out:

   - If you want to use the `dev.azure.com/project-repo` annotation to view builds for a specific Repo it requires two parts the Project name and the Repo name as per the [plugin README](https://github.com/backstage/backstage/tree/master/plugins/azure-devops#entity-annotation), like

[2022-03-31 11:24] benjdlambert commented on #10498
Ah ok, sorry, I misunderstood that there was more questions in the original issue.

So as far as customising the RepoPicker, you can't currently provide any additional validation to the RepoUrlPicker to ensure that it starts with `terraform-` or whatever.

I'd recommend building your own RepoPicker, that's maybe two inputs, which would be `Owner` and `RepositoryName` and then you can create your o

[2022-03-31 11:53] LvffY commented on #10545
@awanlin Thanks for the answer.

I'll double check the README to be sure everything was clear to me.

On my side, the *project-repo* annotations was correct I just removed too much things before posting my issue, I edited my post.

Now I'm seeing my PR/Builds on the overview page but not in my CI/CD page. Thanks :)

For your last question : to be honest, I didn't think about that either, I just mi

[2022-03-31 11:57] ottosichert commented on #10475
How does your setup look like to build, distribute and run containers? As you mentioned, no containers are running hence why the documentation does not load.

On this page we outline the building part for Docker containers: https://backstage.io/docs/deployment/docker

The setup usually is very different for each adopter of Backstage, so it's hard to give you a definite answer that applies to your

[2022-03-31 11:59] LvffY commented on #10545
@awanlin After reading again the README, it's clear, just me that misread it.

[2022-03-31 12:04] awanlin commented on #10545
@LvffY awesome! No worries about anything your wrote, if something is not clear to me I just tend to ask, never hurts :)

If everything is working can we close this issue? If you would like the "project view" then I would log a feature request issue for that

[2022-03-31 12:11] #10545 closed

[2022-03-31 12:26] proffalken commented on #10498
Yup, definitely, thanks.

This was just one example of where the docs could be improved, so I'll take a look at the other challenges I've faced and see if I can add more content there as well.

[2022-03-31 12:53] benjdlambert commented on #10498
Ok perfect! :)

[2022-03-31 12:59] mclarke47 commented on #10513
This makes sense, some clusters are adminy clusters, some are infrastructure as code clusters and some are workload clusters. I think this is something we've been discussing internally too.

[2022-03-31 13:16] freben commented on #10402
yeah, we probably want to shield this all behind credential providers, and the tricky part of course being that it's all host based in the config now rather than baseUrl based - so we'll have to come up with some transition plan there

[2022-03-31 13:37] #10348 closed

[2022-03-31 15:55] kwent commented on #9250
@benjdlambert Because some of us are running their business on heroku i believe

[2022-03-31 16:19] #10453 closed

[2022-03-31 16:21] benjdlambert commented on #9250
I think it's a perfectly reasonable to get working, it's just we don't have the time to look at getting that setup now, so just so we can get some information on what is missing and hopefully get someone to contribute a fix for it. 👍

[2022-03-31 16:31] benjdlambert commented on #10535
So basically what I mean is provide the prepare message, and if it's not in the final one, exit out with some info.

[2022-03-31 16:35] LvffY commented on #10487
@benjdlambert As is, it doesn't.

Because the line `yarn config set python /usr/bin/python3` expects to python to be installed and it is not present in the root image `node:16-bullseye-slim`

[2022-03-31 16:45] kwent commented on #9250
I think the documentation is lacking. It works fine for sqlite based but as you might know, dyno's run on an ephemeral filesystem and so redeploying will wipe your data. So

- Improve the documentation to handle a persistent database (postgres is fine)
- Have a `app-config.production.yaml` ready to be copy pasted for heroku.

[2022-03-31 16:57] afscrome commented on #10535
Option 2 with a non zero exit code is option 1.  Returning a non zero exit code rejects the commit, but it also causes you to completely loose the commit message.  (i.e. if you correct with `git commit -s` you'll start all over again with an empty message.)

[2022-03-31 17:45] benjdlambert commented on #10535
Hahah sorry - totally missed that part 😅  Have gone through a lot of issues today and my mind isn't what it was.

Ok - hmm, to be honest then, I think 1 and three will be great. it's a little bit of teaching by enforcement, so if you type out a long message and forget it, or don't setup your `.husky/prepare-commit-msg` hooks that automatically add it (thats what we all use as maintainers), then if

[2022-03-31 18:46] suuus opened #10557 "Improve microsite menu experience on mobile"
The microsite currently has an (ever growing) menu. When visiting this website on a mobile browser, the menu takes up a lot of space. Also it overlaps text on the page you visit.
![image](https://user-images.githubusercontent.com/40822355/161127394-ef108e05-3b2a-4895-a911-764f11531341.png)

## Feature Suggestion

If a visitor opens the website on a mobile browser, the menu should not take up a lot

[2022-04-01 06:38] LvffY opened #10569 "Catalog-graph plugin: Be able to customize nodes of the graph"
## Feature Suggestion

To increase readability on catalog graphs, I'd like to be able to customize the color of the node of my graph, for example depending on their types (e.g team, component, service, resource, etc.) and after that, may be remove labels on the nodes and add the legend of my colors.

I didn't see anything about that in the page [Customize the look-and-feel of your app](https://bac

[2022-04-01 06:47] lqlamTMA commented on #10529
As you known, the css path is usually public so that you can see in techdocs page. It have a link tag to get the css script as picture below.
![image](https://user-images.githubusercontent.com/29789620/161209263-77b99752-8e6a-4fa3-bf69-1485544243ae.png)

But techdocs-backend plugin have added authorization as mentioned in document
![image](https://user-images.githubusercontent.com/29789620/1612098

[2022-04-01 06:57] NishkarshRaj commented on #8462
@Rugvip @freben we are still facing issues similar to what @shvmbisht had raised.

Given the fact that #6245 is completed, can we please re-open this?

We are happy to help contribute to this effort.

[2022-04-01 08:20] soapraj commented on #10277
@martinohmann - does https://github.com/backstage/mkdocs-techdocs-core/pull/58 solve the issue? can this ticket be closed?

[2022-04-01 08:55] #10432 closed

[2022-04-01 10:02] LvffY opened #10570 "Use title everywhere outside the entity page"
## Feature Suggestion

When available, I'd like to see the title of each section instead of its name. For example, on my component page I have the following table :

![image](https://user-images.githubusercontent.com/37327656/161241443-5e4dfd72-6899-4848-bfe1-265080e5aadc.png)

My **backstage** system is titled **Backstage** and my **owner** is titled **CdC Big Data TRVS team**.

So in my columns,

[2022-04-01 10:09] shailahir commented on #10569
I had a similar requirement to this for EntityRelationsGraph.

Pushed two props renderNode and renderLabel in EntityRelationsGraph. Please see this file if it can be helpful to solve your use case.

https://github.com/backstage/backstage/commits/121211bb81c5b1b49419a868a2ec1af01a6d2c61/plugins/catalog-graph/src/components/EntityRelationsGraph/EntityRelationsGraph.tsx

https://github.com/backstage/

[2022-04-01 10:37] ankitjain1510 commented on #9411
Even after enabling `https://` for `baseUrl`, `backend baseUrl` and `cors origin`, what I am not getting is how to configure that backstage URL presents the certificate to the client/browser when connected?

[2022-04-01 10:41] pjungermann commented on #10277
@soapraj the change is not yet released there and afterwards, it might make sense to update at least some docs as well as the docker image version used for the "docker" build option of techdocs

[2022-04-01 11:11] LvffY commented on #10569
@shailahir Thanks, I think this could solve my problem.

Do you have any example of usage for this two attributes ?

If it works, it only lacks of documentation on this IMHO.

[2022-04-01 11:29] LvffY opened #10571 "Add some equivalent feature at API to library component"
## Feature Suggestion

We'd like to see more objects like [APIs](https://backstage.io/docs/features/software-catalog/descriptor-format#kind-api), because it doesn't fit to every engineering teams.

Some examples I have thought of :
- **CLI**s for libraries that provides CLI
- **Tool**s as a generic way to define anything you want
- (May be) **Package**s for just some kind of JavaDoc

I'm probably

[2022-04-01 11:50] #7686 closed

[2022-04-01 11:54] freben commented on #10570
Yep this is definitely desirable. The problem is, it's inside the entity body and not available in the initial response from the server, so one would have to perform a lot of additional round trips to the catalog just to grab the titles - which gets costly and slows down the user experience. We've been intending to make this part of the graphql solution when that transpires some time in the future

[2022-04-01 12:10] freben commented on #10571
Hi! The "core" model is unlikely to grow appreciably in the near term, but it's [easy to extend](https://backstage.io/docs/features/software-catalog/extending-the-model) for your own needs!

On your specific examples:

- I'd say a cli could be kind `Component`, type `cli`
- I'd say generic tools depend on what they are, some might be `Component` + `website` for example; not sure they'd warrant bei

[2022-04-01 13:38] ldmonkey opened #10574 "Backstage container crash reboots when clicked on techdocs"
## Expected Behavior

Published techdocs are displayed.

## Actual Behavior

The backstage container (not the pod) crash restarts.

## Steps to Reproduce

1. Click on Docs from the menu on the left.
2. Click on a component whose documentation you'd like to see.

## Context

- Techdocs are generated and published to S3 compatible object storage by a CI/CD pipeline.
- The documentation shows up corr

[2022-04-01 14:48] mhaley37 commented on #7124
Hi,
We ran some accessibility scanning and testing and found some additional areas for improvement, including:

* The `SUPPORT` button in upper right hand corner of the Software Catalog -- when clicked -- launches a popover with some `moderate` accessibility concerns:
<img width="1746" alt="image" src="https://user-images.githubusercontent.com/2686352/161285620-b888918f-df8a-4ca9-99d6-d691c1a45fb2

[2022-04-01 16:03] shailahir commented on #10569
I have full example but cannot show it as is because of the org policies.

[2022-04-01 16:36] shailahir commented on #10349
Will it be applicable for separate deployment use case ?
https://backstage.io/docs/deployment/docker#separate-frontend

[2022-04-01 16:37] kkat018 opened #10579 "Sidebar highlight + new back button"
## Feature Suggestion
If we navigate to an entity in backstage, you can notice that the sidebar catalog button is not highlighted implying that we are in the catalog page.
<img width="439" alt="Screenshot 2022-04-01 at 17 19 25" src="https://user-images.githubusercontent.com/55915733/161303791-72ea7886-f4fa-4632-8a39-a7292cec002d.png">

Another feature that could be added is a back button on each

[2022-04-01 16:44] shailahir commented on #3269
- [ ] One being an overview card that can associate entity components to packages in nexus
- [ ] The other being a top level explore/search page.
- [ ] see container/artifact details about a component sorted in different tabs by repository type
- [ ] developers can get insights into there containers such as previous and latest tag name with a direct link to the container or package in nexus. - mea

[2022-04-01 17:46] #9087 closed

[2022-04-01 19:09] awanlin commented on #10579
Hi @kkat018, the back button sounds like a great idea!!!

I'm not sure I understand the first item, though. When I go to an entity I do see the sidebar highlighted. For example from the demo site: https://demo.backstage.io/catalog/default/component/playback-order

![image](https://user-images.githubusercontent.com/67169551/161326284-dc108b0d-8c94-4be1-97d1-efbedea3aa87.png)

Are you saying that li

[2022-04-01 21:36] SuganJoe commented on #10434
@benjdlambert tried locally and this works perfectly for all scenarios.

Do you mean to initially keep  [disableUnregister](https://github.com/backstage/backstage/blob/master/plugins/catalog/src/components/EntityLayout/EntityLayout.tsx#L147)  as `boolean | VisibleType` both and at a later time, deprecate the boolean and just use `VisibleType`. Is it because the adapters of the code need a change i

[2022-04-02 04:36] SelfhostedPro commented on #10035
I'm also running into this issue if anyone has any ideas.

[2022-04-02 06:33] SelfhostedPro commented on #10035
Found a possible solution. Found out that I could resolve this by removing the label that tells backstage a pod is part of a component, I couldn't tell how many pods were running or their status if I did that though. I added `skipMetricsLookup: true` to my cluster config and it's working correctly now, minus seeing performance metrics.

*as a note, I do have resource limits enabled so I don't thin

[2022-04-02 08:21] LvffY opened #10582 "Add the backstage.io/source-location annotation automatically"
## Feature Suggestion

I'd like the Azure DevOps integrations to automatically add the `backstage.io/source-location`  to be available for others plugins.

## Context

I just setup the [TODO Plugin](https://github.com/backstage/backstage/tree/master/plugins/todo). Because the todo plugin waits for the  `backstage.io/source-location` to searches TODOs, I was forced to manually add the `backstage.io

[2022-04-02 08:38] freben commented on #10582
Hm i think the idea is that that annotation is only used if the source location is NOT the same as the location of the entity yaml itself.

https://backstage.io/docs/features/software-catalog/well-known-annotations#backstageiomanaged-by-location

So code should probably be ready to use either of those annotations, with the source-location taking precedence.

There's a helper function in the catalo

[2022-04-02 09:53] LvffY commented on #10582
@freben I'm not sure I understand your point.

To be explicit : In my case, if I remove the explicit annotation, the plugin didn't find the source code.

Based on that and your answer, do you mean that the fix should be done on the todo plugin itself ?

[2022-04-02 11:14] freben commented on #10582
Correct, it sounded to me like the plugin should be using that function if it doesn't already. And the benefit with that annotation is that ALL entities already have it, no matter what.

[2022-04-02 13:35] LvffY commented on #10582
@freben Not an expert, but it seems that the plugin does not use this helper method.

I found a custom method [getEntitySourceUrl in the TodoReaderService](https://github.com/backstage/backstage/blob/master/plugins/todo-backend/src/service/TodoReaderService.ts#L129) that exactly search for the **ANNOTATION_SOURCE_LOCATION** variable.

I think that replacing [the call for this function](https://git

[2022-04-02 13:48] freben commented on #10582
Hm but unfortunately it does seem to try both annotations, doesn't it. So I'm not sure that it'll be functionally different to use the other function, but surely it's a nice removal of duplication in the code.

That does make me surprised though - why doesn't the old code work? Hmm

[2022-04-03 02:32] #7599 closed

[2022-04-03 18:49] LvffY commented on #10582
@freben Yes this seems odd to me also that I didn't work (but I'm not a web app developer, so I may miss something ...)

To avoid merging something not necessary, is there anything I can do to test it on my own backstage instance first ?

[2022-04-04 05:52] artemiyokulov opened #10602 "backstage v1 frontend use dependency of Yaffle/EventSource package, that has malware"
After upgrage backstage to v1, I had popup when homepage opening.

It's affected users from russians ip, but it's give me and other russians develper difficults for using backstage.

<img width="445" alt="image" src="https://user-images.githubusercontent.com/1818927/161481666-28b00235-73d9-444e-adc6-eaabc8f081c9.png">

This popup message included in new version of dependency package https://github

[2022-04-04 06:49] ProticM opened #10603 "Entity registration not working when providing GitHub repo Url to the catalog import wizard"
## Expected Behavior

The catalog plugin should find all `catalog-info.yaml` files within the GitHub repository and register them properly.

## Actual Behavior

The catalog plugin fails to find `catalog-info.yaml` files and throws the following error:

`Couldn't search repository for metadata file., received http response status code 422: Validation Failed: {"message":"The listed users and reposit

[2022-04-04 06:52] Niksko opened #10604 "[TechDocs] Support mkdocs strict mode in CLI generate command"
## Feature Suggestion

At the moment, running `techdocs-cli generate` will not produce any warnings if e.g. the `mkdocs.yaml` file contains references to pages that don't exist.

It would be great to be able to use the `--strict` flag that exists on `mkdocs build` to enable failure of the mkdocs build on warnings.

## Possible Implementation

A new flag on `techdocs-cli generate`, effectively a pa

[2022-04-04 07:43] mufaddal7 opened #10605 "Breadcrumbs in Entity Catalog page"
Breadcrumbs is a very user-friendly way to navigate. Adding Breadcrumbs to Entity Page can be a good UI/UX addition to backstage.

## Feature Suggestion

- Add Breadcrumbs to [Entity Page](https://demo.backstage.io/catalog/default/component/searcher)
- All Entities aren't mapped to a system/domain, write conditions accordingly.
- Display breadcrumbs only when applicable

## Breadcrumb Example

- G

[2022-04-04 09:31] pedroparraortega opened #10606 "allow msgraph catalog plugin to work with extensions"
Microsoft Graph allow you to expand objects with extensions system.
https://docs.microsoft.com/en-us/graph/api/resources/schemaextension?view=graph-rest-1.0
https://docs.microsoft.com/en-us/graph/api/resources/opentypeextension?view=graph-rest-1.0

Which are GA for users and groups.

## Feature Suggestion
Allow the processors to work with schemaExtensions so the information is fetched while readin

[2022-04-04 09:36] benjdlambert commented on #10605
I think that we probably want to have breadcrumbs everywhere, and maybe it would be good if they were context aware to know that you're on an entity page and want to navigate through the catalog model not just the navigation in the app. Gonna loop in @katz95 here for some input! 👍

[2022-04-04 09:45] freben commented on #10606
Is this something that you might be interested in contributing?

[2022-04-04 09:47] pedroparraortega commented on #10606
sure, i will try to to create a PR for this.

[2022-04-04 10:26] kkat018 commented on #10579
Thanks for your feedback @awanlin :)
As you can see in the above screenshot, the sidebar in Expedia Backstage comes from OSS. I have verified all plugins and they are up to date. But the highlight seems to be missing/incorrect when navigating to an entity.
Although, the screenshot you have shared is also highlighting home option whereas if we are navigating through the API menu, and are viewing an

[2022-04-04 11:21] benjdlambert commented on #10557
Wondering if our plan to bump to docusaurus 2 is going to help with this, or at least change the work that's required. Maybe it makes sense to wait for those changes first, but still open to someone writing some quick CSS changes if it's not that much work.

[2022-04-04 11:22] benjdlambert commented on #10603
Hmm this is pretty interesting. Did this have anything to do with version bumps or anything? Do you have an existing PAT registered as well as a Github App? And the App is installed into the organisation etc that you expect to be indexing?

Sorry for the basic questions, but not sure what this could be without some more information 👍

[2022-04-04 11:25] benjdlambert commented on #10487
Do we need the other dependencies in there? Is it enough just to install python would be my next question :)

[2022-04-04 11:27] benjdlambert commented on #10434
We should support both and do the checking inside the component to see if it's a boolean then use the existing behaviour, but if it's of a string type then check what the string is set to and do the new behaviour. Maybe you could also `console.warn` if boolean is provided with a deprecation messaetg.

[2022-04-04 11:33] benjdlambert commented on #10351
So there could be two things going on here, either the URL is not available when doing the `dryRun` or you'll need to allow the URL using the `backend.reading.allow` config option in `app-config.yaml`.

@pedroparraortega I think for your case, you might have to add the host to the allow list to be able to register existing things.

[2022-04-04 11:37] pedroparraortega commented on #10351
[code]

my config looks like this. I did a dump of this part of the config and got
[code]

if I query the URL i get the json with the api definition. So not sure what i'm missing here but not working.

I'm just testing from my local, so backstage should be able to read that url too.

[2022-04-04 12:38] awanlin commented on #10579
@kkat018 I guess I'm wondering if your custom theme might be missing the `indicator` value: https://github.com/backstage/backstage/blob/268f7faeeaecb8a211265af67494a06ca2160779/packages/theme/src/themes.ts#L76

You are correct, when you are on an API in the catalog it will highlight the Home option and not the API option in the sidebar, that feels like a bug. I'm not sure what the correct fix woul

[2022-04-04 12:53] ProticM commented on #10603
Hi @benjdlambert

No worries 👍

I would say it is not related to the version bump because it was happening sporadically before as reported. But on the other hand, it might be related to version bump because now it is happening every time.

We do not have PAT registered as an integration. For GitHub, the only auth integration we have is the GitHub application. And yes, the app is installed where re

[2022-04-04 13:14] awanlin commented on #9090
No worries @jhaals I have been busy with other things 😉   I'll probably take a closer look at this on Friday, thanks for pointing me in the right direction 👍

[2022-04-04 13:22] awanlin commented on #9737
@grantila I've noticed that all your PRs are now closed? I would love to help with them but I think some of them are just beyond my current skill level. I'm happy to help coordinate or do any testing or other support as needed though.

@freben what do you think? These PRs really seem like great functionality and very much fit with the idea of what this RFC is for. But I understand that the maintai

[2022-04-04 13:26] benjdlambert commented on #10579
Looks like #10605 could be somewhat related here too. @katz95 also maybe something you might be interested in :)

[2022-04-04 13:28] benjdlambert commented on #7124
@mhaley37 I think this work has gone stale, so maybe you would like to contribute some of these issues? :pray:

[2022-04-04 14:03] ProticM commented on #10314
Hi @freben A quick question about customizing the claims. Let's take an email as an example.

I see that we are limited to setting `sub` and `ent` claims only. Now, I still feel that the `sub` should have the user entity ref as a value, but the `ent` field seems as not suitable for storing an email. Do you think the same?

Another idea is to place the email as a `sub` and then the stringified user

[2022-04-04 14:26] dominik-bln commented on #4945
Since we just deployed a test installation with the current Helm chart, I'd really like to see this reopened. The experience was pretty painful to say the least, as we ran into the following problems:

- Ingress resources have hard-coded `nginx.ingress.kubernetes.io/configuration-snippet` which is disabled in our cluster because of https://github.com/kubernetes/ingress-nginx/issues/7837 and honest

[2022-04-04 16:18] #9063 closed

[2022-04-04 17:25] dominik-bln commented on #4945
This was just a test install, but the plan for us would be to get something production ready deployed if the test goes well. For kubernetes deploys we mainly do them from CI pipelines and then often have a staging environment to test updates. In my experience Helm charts are usually the most convenient way to get multiple production ready instances with minimal configuration differences maintained

[2022-04-05 02:51] lqlamTMA commented on #10529
Hi @freben ,

Do you have any idea about this case?

Thanks,
Lam Ly

[2022-04-05 09:03] TungLeoJS opened #10640 "MicrosoftGraphOrgEntityProvider TaskScheduler not working."
## Expected Behavior
We are facing an error with catalog processor. We have an table called "backstage_plugin_onboard" contains relations of user entity like this.
![image](https://user-images.githubusercontent.com/65989390/161713631-dbde9c45-1705-4083-a123-1c56ae358972.png)
And we have a role processor to get the relations and post with postProcessEntity method to create relations in User Entity.

[2022-04-05 10:12] mertcb opened #10641 "Backend plugin requires "react"?"
## Expected Behavior

When I link a backend plugin, it should work without "react"

## Actual Behavior

When I link a backend plugin for development, it says `Error: Cannot find module 'react'`

## Steps to Reproduce

1. Assume you have a internal backend plugin which has going development
2. Try to link this plugin by adding it's relative path to lerna.json and package.json
3. You'll see the erro

[2022-04-05 10:19] kkat018 opened #10642 "Feedback Icon/component in the Header"
Developers at EG are looking to add a feedback component in the Header on most pages on Backstage.

## Feature Suggestion
As this icon would be placed in the Header, we would like to suggest changes in the component to have an end icon as part of the Header.
<img width="1463" alt="Screenshot 2022-04-04 at 17 16 46" src="https://user-images.githubusercontent.com/55915733/161733247-52c61f26-c3a5-4b4

[2022-04-05 12:02] mustafazeya commented on #10323
I am also facing the same issue. There is no issue while running the application on local machine. But the docker image build using the documentation https://backstage.io/docs/deployment/docker is giving same error.

![image](https://user-images.githubusercontent.com/31076711/161749496-cfcd36c9-396c-48ac-a7d9-69bbc35c0360.png)

[2022-04-05 12:23] gioufop commented on #10396
@voodooGQ
Did you manage to solve it?
I find myself with the same problem.

Thanks.

[2022-04-05 13:14] #9805 closed

[2022-04-05 14:46] awanlin commented on #10396
Running `yarn tsc` may point you to what it's not happy about with more useful information.

I'd also recommend looking at both the Upgrade Helper which can show you a diff between versions and the Releases which has all the release notes.

Upgrade Helper: https://backstage.github.io/upgrade-helper/
Releases: https://github.com/backstage/backstage/releases

[2022-04-05 15:00] gioufop commented on #10396
Sorry @voodooGQ, I didn't express myself well, I was referring to this point:

Thanks!

[2022-04-05 15:57] helaoutar opened #10649 "Highlight the search term in search results"
As I was using the Search page, I noticed that it's a bit hard to find the search query in the search results, especially when searching in Docs.

## Feature Suggestion

I would like to suggest highlighting the search term in the search results, as I believe it will improve the search experience:

<img width="1175" alt="Screen Shot 2022-04-05 at 15 49 44" src="https://user-images.githubusercontent

[2022-04-05 16:11] github-actions[bot] opened #10650 "Snyk vulnerability [SNYK-JS-MOMENT-2440688]"
## Affecting Packages/Plugins

* [example-app](packages/app/package.json)
* [@backstage/backend-tasks](packages/backend-tasks/package.json)

## Overview
[moment](https://www.npmjs.com/package/moment) is a lightweight JavaScript date library for parsing, validating, manipulating, and formatting dates.

Affected versions of this package are vulnerable to Directory Traversal when a user provides a lo

[2022-04-05 16:40] Rugvip commented on #10476
Ran into this in a separate setup, even though I used a compatible `node-gyp`, so disregard the previous comment.

I narrowed it down to a problem with `dockerode`, it seems to happen when trying to instantiate a `new Docker()` client. I'd expect the actual issue to be in one of the lower level transitive dependencies, so probably https://github.com/mscdex/ssh2/issues/1146 and https://github.com/m

[2022-04-05 21:02] timbonicus opened #10652 "[RFC] Backstage notification API (frontend)"
**Status:** Open for comments

## Need

The need for a notification API is described and discussed at length in #639, so I won’t cover it here except to say that there are many types of notifications that could be useful in Backstage:

- System-wide announcements or alerts
- Notifications for component owners (e.g. build failure, successful deployment, new vulnerabilities)
- Notifications for indi

[2022-04-05 21:22] helaoutar commented on #10649
@kuangp Indeed! shall I close this one?

[2022-04-05 21:25] Matth-Ng opened #10653 "User-settings Page ToggleButtonGroup Overlapping Text"
## Expected Behavior

The ToggleButtonGroup on the Settings page should not overlap with the text and should either wrap underneath or some other alternative style should be implemented when the screen width is reduced.

## Actual Behavior

The ToggleButtonGroup overlaps with the text at certain smaller screen sizes. There is an overlap in all but the smallest screen breakpoint styling.

## Steps

[2022-04-05 22:34] pallavipervaje commented on #10434
I would like to disable "Unregister entity" option. @benjdlambert Can you please provide an example to achieve this? I am not sure how to pass the properties. (new to Backstage IO and React)

[2022-04-06 01:08] #10649 closed

[2022-04-06 01:13] helaoutar commented on #10653
I suggest to have a responsive layout that looks something like this:

https://user-images.githubusercontent.com/12495892/161875814-ccf7e048-7a08-4ed2-ae37-dffd658ffec6.mov

[2022-04-06 04:50] mishrasmarajit opened #10660 "Sonarqube fails with SELF_SIGNED_CERT_IN_CHAIN"
## Expected Behavior

SonarQube plugin does not fetch data from sonar server and fails with SELF_SIGNED_CERT_IN_CHAIN

## Actual Behavior

The backstage app sits behind a proxy for me. When the sonarqube plugin tries to access the Sonarqube link it always fails with the below message
[1] 2022-03-31T15:12:14.714Z proxy error [HPM] Error occurred while proxying request [SELF_SIGNED_CERT_IN_CHAIN] (h

[2022-04-06 07:02] shmaram opened #10661 "Custom page for "entity not found""
## Feature Suggestion

Currently, when entering a page where the entity is not found there is a page provided by backstage (see image).
I would like to have the ability to create my own page for this scenario.

![image](https://user-images.githubusercontent.com/12017112/161914932-ed9f63af-1e32-4067-975a-8f5a644abb2f.png)

[2022-04-06 08:04] #10047 closed

[2022-04-06 08:38] #9293 closed

[2022-04-06 11:59] hill-giant commented on #5041
Hi there. Is there any chance that the backstage team might consider switching to the polyfill in scaffolder in the future? My team and I have managed to implement token authorization without having to set cookies as [mentioned in the contrib section](https://github.com/backstage/backstage/blob/master/contrib/docs/tutorials/authenticate-api-requests.md). In our deployment, the eventstream seems to

[2022-04-06 13:23] hill-giant commented on #5041
@benjdlambert awesome! Will do. Yeah, we are using long polling, but it was mentioned in review that it is worth creating an issue or contributing a fix for it upstream.

[2022-04-06 13:31] shanthisagar-dhanya-kumar-db opened #10670 "Techdocs : Different plugin support"
Do we have plans to support the following mkdocs plugins for techdocs

  - schema_reader
  - pdf-export
  - monorepo
  - mdpo:
      languages:
        - en     # first language is the original
        - de
  - section-index
  - git-revision-date
  - git-authors
  - macros
  - mkdocstrings
  - charts
  - print-site

[2022-04-06 13:51] jhaals opened #10672 "plugin-search and plugin-home depend on plugin-search"
Just noticed that both `@backstage/plugin-techdocs` and `@backstage/plugin-home` directly depend on `@backstage/plugin-search` which causes the `versions:bump` command to complain in certain situation as it's not intended to directly depend on other plugin packages. Would it be possible to migrate over to a search-common package or similar instead?

[2022-04-06 13:53] mhaley37 commented on #7124
HI @benjdlambert, sure!  I discussed this with our team and we'd be happy to contribute to making a more accessible platform.  You can assign to me and I should have some bandwidth soon and can contribute some work.  Thanks

[2022-04-06 14:05] benjdlambert commented on #7124
Done!

[2022-04-06 15:06] ScottGuymer opened #10673 "GitHub App Authentication - Multiple Redirect Urls in GH config"
## Expected Behavior

I am configuring authentication via a GitHub App when I configure this with a single correct redirect URL in the GH config it works correctly and I can login to backstage via GitHub.

![image](https://user-images.githubusercontent.com/956825/162005475-77cd5c4d-e837-4ffd-b7cc-c59c3cfd7b79.png)

I should be able to configure an additional redirect URL in GitHub (one for dev one

[2022-04-06 15:15] LvffY opened #10674 "Sonarqube Plugin: Be able to have mutliple sonarqube instances"
## Feature Suggestion

I would like to have multiple sonarqube instances plug to my backstage.

## Possible implementation

For example, we'd like to be able to have a config like the following :

[code]

For example in my projects, I think we would need to specify wihch instance is used :

[code]

## Context

In my context, we have mutliple instances of Sonarqube because we have multiple clients.

[2022-04-06 18:37] kallusakar commented on #10093
Hi, just starting to get grasp on Backstage and when I wanted to create a docker image from it, I got the same error. I'm on version 1.0.0 (created by npx @backstage/create-app) and despite me trying very hard was unable to solve it.

could someone please point me in right direction? My guess is that during build, frontend(app) isn't properly bundled with backend when using @backstage/plugin-app-b

[2022-04-06 21:50] cnmcavoy commented on #6568
As a new user of backstage, I'm quite confused at the state of `fetch:template`, given there seems to be supported way to test rendering templates locally with any sort of input, the `nunjucks-cli` referenced earlier is now a dead link, and I haven't found any issues that explains why `cookiecutter` was abandoned as the engine, given the project seems alive. The docs do not explain any of this.

C

[2022-04-06 22:14] arslan-raza-143 commented on #10183
[https://github.com/bitcoin/bitcoin/issues/24783#issue-1194493518](https://github.com/bitcoin/bitcoin/issues/24783#issue-1194493518) @pjungermann

[2022-04-07 07:48] ugho49 commented on #10476
A newer version of `better-sqlite3` is available (`7.5.1`).
If you bump to this newer version, the problem should be fixed !

[2022-04-07 08:24] freben commented on #10476
We believe this is fixed now - please reopen if the problem persists after the mentioned upgrades.

[2022-04-07 08:24] #10476 closed

[2022-04-07 09:25] skgandikota commented on #9889
yes !

[2022-04-07 10:30] OrkoHunter opened #10691 "Add Template kind by default in the allow list of locations in a newly created Backstage's app config"
## Feature Suggestion

Add Template kind by default in the allow list of locations in a newly created Backstage's app config

## Possible Implementation

Add `Template` in the list https://github.com/backstage/backstage/blob/c596db3757059ae729bdd5ad188954d009413392/packages/create-app/templates/default-app/app-config.yaml.hbs#L88

## Context

This is just one of those "good first experience" for n

[2022-04-07 10:40] ProticM commented on #10603
Hi @benjdlambert Did you manage to get some time to try to reproduce this?

[2022-04-07 10:55] kkat018 commented on #10579
@awanlin The custom theme does use that indicator.
I looked around and it looks like the links might be the reason. Everything with `/catalog` results in the Home item being highlighted.

If the back button sounds promising, can I be assigned the task of adding that? :)

[2022-04-07 11:34] freben commented on #10579
I think we're holding off a bit on design input on that one.

[2022-04-07 11:37] freben commented on #10691
We decided against that explicitly (at the time) - templates are a thing that an org probably wants to manage and curate very explicitly, and that you may not want random users registering a large number of, cluttering the scaffolder page. It feels like registering templates by url, rather than config, may be best to leave blocked?

[2022-04-07 11:38] freben commented on #10661
No, it's fixed right now. The code is [here](https://github.com/backstage/backstage/blob/5ac9a0c2d4670f97b65207414443978f8d2cba19/plugins/catalog/src/components/EntityLayout/EntityLayout.tsx#L267) within the entity layout. Is there something in particular that you would like to change within it?

[2022-04-07 11:59] OrkoHunter commented on #10691
Yeah, that totally makes sense from a "security" point of view. There is definitely a tradeoff here. :)

My gut feeling here says we should optimize for easier onboarding with least number of surprises and blockers. There is not a huge risk even if this is done. We can ofcourse leave a comment in app-config.yaml saying `Template` should not be globally allowed as random users can clutter the scaff

[2022-04-07 12:01] #9228 closed

[2022-04-07 12:01] #10641 closed

[2022-04-07 12:04] katz95 commented on #10605
This is a great suggestion, @mufaddal7 , and I like that you situated them underneath the Header! Thank you!

[2022-04-07 12:14] katz95 commented on #10579
Great suggestions! There should be an indicator on the menu item where the user started (before clicking a link into the next page). So if a user started in the API page and clicked on an API, there should be an indicator next to API in the menu. Currently, it moves back to 'Home' in the demo, which is a bit jarring. I like your proposal @kkat018.

Regarding the 'back' button, I wonder if the solu

[2022-04-07 12:18] viktorbahr opened #10695 "[TechDocs] `!ENV` tag is considered invalid during mkdocs config validation"
## Expected Behavior

The `!ENV` tag, supported by `mkdocs` since version 1.2 ([PR](https://github.com/mkdocs/mkdocs/pull/2267)), allows reading configuration parameters from environmental variables in the mkdocs config.

As this is supported by mkdocs, it should be considered valid in the scope the config file validation.

## Actual Behavior

In `plugin-techdocs-node`s `validateMkdocsYaml` functi

[2022-04-07 12:31] shmaram commented on #10661
The best solution would be to allow creating a custom page, we specifically will need to add instructions to our users on how to register their service (entity) to the catalog.

[2022-04-07 14:25] cnmcavoy commented on #6568
Those reasons make sense to me, I was surprised I could not find them written down or [mentioned in the docs](https://backstage.io/docs/features/software-templates/migrating-from-v1beta2-to-v1beta3). It's good to hear that cookiecutter is still supported, and still planned on being supported, as a plugin - the only examples I have been able to find well documented are for cookiecutter. Thanks for

[2022-04-07 14:37] mhaley37 opened #10698 "FeatureFlagged component not working as expected when used in Sidebar"
## Expected Behavior
The `FeatureFlagged` component (added in #5480) is a great feature for making components conditional based on app-level flags.  We've been able to use this to conditionally show components in the content area of pages, as well as use it to hide routes.

We would expect to be able to also use this to conditionally show `SidebarItem` components within the `Sidebar` using the fol

[2022-04-07 16:05] github-actions[bot] opened #10699 "Snyk vulnerability [SNYK-JS-ASYNC-2441827]"
## Affecting Packages/Plugins

* [@backstage/cli](packages/cli/package.json)

## Overview

Affected versions of this package are vulnerable to Prototype Pollution via the `mapValues()` method.

## PoC

[code]

## Details

Prototype Pollution is a vulnerability affecting JavaScript. Prototype Pollution refers to the ability to inject properties into existing JavaScript language construct prototypes

[2022-04-07 19:59] frankbolero opened #10701 "npx @backstage/create-app fails on yarn tsc"
## Expected Behavior

Running npx @backstage/create-app should create a new app after exiting withou any issues.

## Actual Behavior

When arriving at `yarn tsc` in the "Building the app"-stage it fails with the following error:

[code]

## Steps to Reproduce

1. install nvm
2. run `nvm install 16` or `nvm install 14` (the results are the same)
3. run `npm install --global yarn`
4. run `npx @backs

[2022-04-07 22:23] timbonicus commented on #10701
I can reproduce this with the latest `@backstage/create-app`. It appears that the wildcard for @types/react-dom in the default app template is now pulling in the hot-off-the-presses React 18 types:

[code]

If I add a `peerDependency` block to the root package.json this fixes it:

[code]

This was set to `*` in [this commit](https://github.com/backstage/backstage/commit/d74032edadccb4cef3f75d67cdb

[2022-04-07 22:44] victorhnogueira commented on #10701
Same here.
Node: v14.17.5
npm: 6.14.14

output:

[code]

[2022-04-08 05:10] shailahir commented on #10579
We also faced similar issue. we wanted to have a correct breadcrumbs. team solved it using multiple fixed routes in the App.tsx file

/api/:namespace/:kind/:name
/catalog/:namespace/:kind/:name
/custom/:namespace/:kind/:name

Then updated the links to use this pattern

[2022-04-08 08:03] szubster commented on #10652
It's fascinating that we had internal discussion at Box about similar system, with very similar goals (targeting notifications to users, entities, etc.). Did not start any work yet, we planned it for future quarters.
Super exciting.

[2022-04-08 08:15] #7784 closed

[2022-04-08 08:38] moltenice commented on #8268
Oh completely forgot updating here, but the Airbrake plugin is live! 🎉

https://github.com/backstage/backstage/tree/master/plugins/airbrake

It's very early stages so won't provide the most value up front (just shows the last few Airbrakes on a tab for each project), but we hope to start adding more features to it over time, and of course contributions from anyone else welcome!

[2022-04-08 08:55] Rugvip commented on #10701
Lookling into this atm. Removal of the implicit child prop seems to be the breaking change that breaks new apps, but judging by issues we're seeing in the main repo when unlocking the `@types/react` and `@types/react-dom` dependencies there are many more. Just by unlocking those two in the main repo you end up without about 600 type errors.

It seems like the cause of this is that usage of `"@type

[2022-04-08 09:13] Rugvip commented on #10701
Being fixed by #10711 and #10712

[2022-04-08 09:47] frankbolero commented on #10701
Big ups for acting so fast!

I managed to fix this temporarily by adding the changes from #10712 to my packages.json-file and running
[code]

[2022-04-08 09:52] freben commented on #10660
Hi! I think this is the same thing as this one: https://github.com/backstage/backstage/discussions/6377

I'll close as a duplicate for now, but let us know whether this worked out for you or not.

[2022-04-08 09:52] #10660 closed

[2022-04-08 10:40] Rugvip commented on #10701
@jaymal Once https://github.com/backstage/backstage/actions/runs/2114591364 is done :grin:

[2022-04-08 10:51] jaymal commented on #10701
@Rugvip [😀](https://emojipedia.org/grinning-face/) patiently waiting!. Thanks :)

[2022-04-08 11:07] freben commented on #10642
Hi!

Initial reaction is - we don't have a super solid story for the composability of pages yet. It's currently a bit heavyweight and iffy to get stuff into the headers, in a general and nice way.

Would it make sense to consider using one of the feedback libraries / designs where there's a _floating_ feedback button instead, that's overlaying other things so that you don't have to place it specif

[2022-04-08 11:45] frankbolero commented on #10701
I can confirm that the new version does work as Expected! Thank you @Rugvip !

[2022-04-08 11:45] #10701 closed

[2022-04-08 12:08] freben commented on #10640
I think there's some confusion going on here. If I understand your code right, you have a _PROCESSOR_ that is throwing an error, but you are delaying a _PROVIDER_ at startup. These are two entirely different classes and also different mechanisms. There's no way of delaying a processor; those all run all the time and beyond your immediate control.

[2022-04-08 13:38] freben commented on #10674
Hi!

This sounds like it starts to warrant a dedicated backend plugin. One could take inspiration from the [jenkins backend plugin](https://github.com/backstage/backstage/tree/master/plugins/jenkins-backend) which does something similar, where users get to define the various targets and naming them, and then entities can reference those names.

[2022-04-08 13:47] benjdlambert commented on #9724
@ismailelbadawy personal request, can you either delete your fork of backstage and refork or pull latest changes from upstream? We had a little bit of a bug that the workflows run in the fork, so I get emails every 5 minutes of a failed workflow when it hits the rate limit :joy:

[2022-04-08 13:47] #9724 closed

[2022-04-08 13:48] benjdlambert commented on #9724
Also - closing this as it was fixed in #10558

[2022-04-08 14:34] mhaley37 opened #10723 "Address bar location still shows authenticated route after user signs out"
## Expected Behavior
As a user, when I sign out of a backstage created app, I expect to be brought back to the Sign in page and have the address bar of the browser reflect this.

## Actual Behavior
While I am brought back to the Sign in page, the address bar of the browser does not reflect this.  It still shows the location of `/settings` which was the last route I visited prior to signing out:

<

[2022-04-08 16:52] #7343 closed

[2022-04-08 20:11] alfiya1993 opened #10728 "[RFC] <name>"
**Status:** Open for comments

## Need

## Proposal

## Alternatives

## Risks

[2022-04-08 20:56] pallavipervaje commented on #9947
@freben @kuangp @benjdlambert How can I increase each column width?

[2022-04-09 08:53] #9147 closed

[2022-04-09 09:28] #9138 closed

[2022-04-09 12:40] #10728 closed

[2022-04-09 12:46] angeliski commented on #631
Hey thanks for the tip @pjungermann, I will take a look in the plugin to get some inspiration. I tried in the past but got some issues to make the authentication Spinnaker  works for me so I dropped, maybe now I can get this working :)

[2022-04-09 12:48] freben commented on #9947
Column definitions have a `width` field that's a string (so you can set it to any regular CSS value such as "10%" or "5em" etc)

[2022-04-09 13:12] emmaindal commented on #10672
Thanks for opening the issue @jhaals, we plan to move the reusable components that currently lives in @backstage/plugin-search (which the techdocs + home plugin uses) to something like a *-react package. Will that solve it do you think?

[2022-04-09 14:20] alfiya1993 opened #10732 "Код"
https://github.com/backstage/backstage/commit/a5f64ae1aa1081d4912fd2ffb21a2ced605b3a6b

[2022-04-09 14:33] #10732 closed

[2022-04-09 16:56] mertsaygi commented on #631
Guys,

I've started to do that. After the compilation, I would announce it from here but I've some issues about authenticate with oauth to our Spinnaker instance. Maybe someone from here can help me and I can continue to next steps about it.

[2022-04-09 17:09] emmaindal commented on #10672
Assigning this to myself to start look into during my Goalie week starting on Monday!

[2022-04-09 21:29] awanlin commented on #10672
Hi @emmaindal, just wanted to mention that this is currently blocking us from upgrading from 1.1.0-next.1 to 1.1.0-next.2

The Discord thread for this is here if you want the background: https://discord.com/channels/687207715902193673/961249157790728262

I'll tag you in there as well

[2022-04-10 01:19] angeliski commented on #631
Yes @mertsaygi , I just can't make the oauth works. I tried to find docs or something to help me (like read the code in the spin cli) but I can't find anything working

[2022-04-10 10:32] muhamadto opened #10735 "Reload frontend upon changing configuration"
Currently the frontend is build and served with the values in `app-config.yaml`. Upon changing the configuration the back end gets refreshed but not the frontend.

## Feature Suggestion
Refresh the frontend to reflect the configuration changed or added, for instance:
* If a new plugin is added and configured in the `app-config.yaml`, that plugin should show up in the frontend when the configuratio

[2022-04-10 17:24] mufaddal7 commented on #10605
@katz95 Let me know how we can proceed, maybe we can decide on the UI and then develop the component. Up to you.

[2022-04-11 06:19] #10606 closed

[2022-04-11 07:35] emmaindal commented on #10672
Thanks @awanlin I'm starting to look into this now!

[2022-04-11 07:54] egnwd commented on #7876
This seems like something that might play nicely with the tech-insights plugin?

[2022-04-11 08:30] marcus-crane commented on #10652
Exciting :)

[2022-04-11 08:55] #9313 closed

[2022-04-11 08:56] freben commented on #8268
Ah, so let's close then! 🥳

[2022-04-11 08:56] #8268 closed

[2022-04-11 08:58] #3747 closed

[2022-04-11 09:34] kkat018 commented on #10642
Hi @freben ! Thanks for your feedback.
We do have this option in consideration as a floating button. Maybe this could be added?

<img width="1456" alt="Design 2" src="https://user-images.githubusercontent.com/55915733/162710580-e646baf9-225c-49e5-97ac-d81d03ca0e03.png">

[2022-04-11 09:52] shailahir opened #10753 "Enable Https on localhost"
I am trying to use an azure devops application with backstage but it requries a callbck URL with https enabled.

## Feature Suggestion
Is it a good idea to enable https on localhost for local development. so that we can test out integrations with the external services demanding for https on our local machine itself.

## Possible Implementation

## Context
![image](https://user-images.githubusercon

[2022-04-11 10:11] freben commented on #10735
Hi! This is a neat idea. It'll take some work and requires some form of event bus between the backend and frontend. That's an idea that we've had in the back of our minds before, but no solid plans to work on it in the near term.

[2022-04-11 10:13] freben commented on #10723
Agreed, logout behaviour could be made better. Is this something that you might be interested in contributing a fix for?

[2022-04-11 11:47] freben commented on #10698
Hi Yeah unfortunately the feature flags aren't always respected "live". Internally the interface actually encourages a reload after toggling any feature flag.

[2022-04-11 11:51] freben commented on #10691
We talked about this this morning. I think we should discourage a location based approach to adding templates, in the first place. We do have a location example in config where the additional kind is allowlisted, and we should have docs highlighting that workflow too (maybe there's something we could do better there).

If an org wants to allow random people to add templates using locations at all,

[2022-04-11 12:10] freben commented on #10661
HI! Yeah this might be reasonable to add as a feature. Sounds like we should add a component as an optional prop on [the props](https://github.com/backstage/backstage/blob/f7154d786b217567920711e8eb444350f6f6375c/plugins/catalog/src/components/EntityLayout/EntityLayout.tsx#L151) of [EntityLayout](https://github.com/backstage/backstage/blob/f7154d786b217567920711e8eb444350f6f6375c/plugins/catalog/s

[2022-04-11 12:13] #10582 closed

[2022-04-11 12:45] freben commented on #9889
Might I suggest injecting and using the `fetchApi` instead (through `fetchApiRef`)? Example: https://github.com/backstage/backstage/blob/2c6eab72b74d196a9db46539bfc3f3db2585345b/packages/catalog-client/src/CatalogClient.ts#L213

It allows users to add global behaviors such as tracking / metrics, auth etc - and adding the user's Backstage token is one of those out-of-the-box behaviors.

[2022-04-11 12:45] freben commented on #9889
(feel free to make a pull request - easier to discuss on one of those)

[2022-04-11 12:55] freben commented on #10753
Yeah you can do that - either by modifying your backend directly, or by adding a TLS terminating proxy in front of your local dev server.

Testing out https things locally is always a bit awkward :)

[2022-04-11 14:08] freben commented on #631
@angeliski Let us know if there's something specific on the auth side of it. We do have a generic oauth implementation that you may be able to leverage making your own `spinnakerAuthApiRef` or whatnot, if you need to get authz tokens on the user's behalf.

[2022-04-11 14:12] skgandikota commented on #9889
@freben   Thanks for replying - I have raised the pull request : https://github.com/backstage/backstage/pull/10754 will soon update the fetchApi to fetchApiRef in the same pull request

[2022-04-11 15:28] jamieklassen commented on #10513
This problem is similar in spirit to #6109, which is also about "missing" resource types on certain clusters.

[2022-04-11 21:17] angeliski commented on #631
Hey @freben I will try using that, do you have any example?

Just to be fair, my first atempt wasn't using the frontend, but what I was trying is create an action to create a new pipeline when a app is created using Software Templates, so I am looking for a backend auth in this case.

[2022-04-11 23:19] pallavipervaje commented on #6175
@Seneli @freben Can we customize EntityAboutCard fields now?

[2022-04-12 00:00] muhamadto commented on #10735
Hey @freben Would you be able to provide us with idea about what needs to be done. And we can get one of our JS dev to try their hands at it? May be we can arrange a virtual meet?

[2022-04-12 02:36] mclarke47 commented on #9740
If this is still happening it might be fixed by upgrading the JS K8S lib https://github.com/kubernetes-client/javascript/pull/757

[2022-04-12 08:24] Rugvip opened #10772 "create-app: simplify or include app-config.production.yaml addition in Dockerfile"
## Feature Suggestion

Right now when you create a new app, the `packages/backend/Dockerfile` only copies in the `app-config.yaml`, not the `app-config.production.yaml`. The template does include an `app-config.production.yaml` in the root though, which I think could be expected to be part of the build docker image by default.

## Possible Implementation

Either simply add `app-config.production.y

[2022-04-12 09:08] #10672 closed

[2022-04-12 09:23] #10753 closed

[2022-04-12 09:23] shailahir commented on #10753
Thanks let me try.

[2022-04-12 10:28] jvilimek commented on #2566
Since the Backstage is GA...is this something that can be improved now? O:-)

[2022-04-12 10:30] jvilimek commented on #9709
Thanks a lot, I will try to give it a try soon

[2022-04-12 10:37] shailahir opened #10776 "Add authentication provider for visualstudio.com apps"
Create a new auth provider for visualstudio.com apps

## Feature Suggestion

Currently we have an auth provider for azure. but I am unable to use it with the credentials from visualstudio.com app. Requesting community to help on creating a new auth provider for visualstudio.com host.

## Possible Implementation

## Context

Currently we have an auth provider for azure. but I am unable to use it wi

[2022-04-12 10:56] OrkoHunter commented on #10691
Aha, I wasn't mindful about this. It's all good then!

[2022-04-12 10:56] #10691 closed

[2022-04-12 11:27] SofianeDev94 opened #10778 ""Y.getEntityByRef is not a function" in Entity Page"
## Expected Behavior

The Catalog Graph plugin should show the relation for the actual entity

## Actual Behavior

The EntityCatalogGraphCard in Entity page does not appear and an error is displayed as notification:

`Y.getEntityByRef is not a function`

## Steps to Reproduce

Opening an Entity Page of any kind (API, Componenet, Resources...)

## Context

Backstage was working without this error,

[2022-04-12 12:42] freben commented on #10605
Can always discuss details in a PR as well. Sometimes you need to get your hands dirty before getting a feeling for where things fit best :)

I wonder how this will work for people who do NOT use the full domain / system / component pattern, or perhaps invent their own kinds entirely.

[2022-04-12 12:50] vbyjsue opened #10781 "Sonarqube plugin has hardcoded baseUrl"
## Expected Behavior

Using the sonarqube plugin, the reported items have a link which should lead to my hosted sonarqube defined in app.config.yaml
[code]

## Actual Behavior
All links have https://sonarcloud.io as baseUrl
## Steps to Reproduce

Add any baseUrl to sonarQube config in app.config.yaml

## Context
Make use of value in config instead of setting hard value in https://github.com/backst

[2022-04-12 13:38] zoidbergwill commented on #4810
A new annotation sounds like a good solution. My initial ideas are all O(n) though for all namespaces we might wanna support for an entity, but maybe that's acceptable.

[2022-04-12 15:05] freben commented on #10642
At that point you wouldn't have to make any core additions at all, right? As in, you wouldn't have to make a pull request to the main repo here to make it work.

Having a nice functional feedback button as a common core-component for others to use could still be a nice addition!

[2022-04-12 15:55] emmaindal opened #10784 "Provide "YellowStar" as a reusable component."
## 🗒 General

I noticed `YellowStar` is a component that is created many times across the code base and thought that it makes sense to either export it from `catalog-react` alternative keep the color in the theme? I see the change of the color is changed in multiple places already and it would be nice to keep it consistent.

https://github.com/backstage/backstage/blob/b6af1b73fcd5774d5f4b29860c384

[2022-04-12 16:05] github-actions[bot] opened #10785 "Snyk vulnerability [SNYK-JS-EVENTSOURCEPOLYFILL-2429580]"
## Affecting Packages/Plugins

* [@backstage/plugin-techdocs](plugins/techdocs/package.json)

## Overview
[event-source-polyfill](https://www.npmjs.org/package/event-source-polyfill) is an A polyfill for http://www.w3.org/TR/eventsource/

Affected versions of this package are vulnerable to Undesired Behavior. This package geo-locates users based on their IP address and if the user is Russia-based

[2022-04-12 18:59] michael-o commented on #10785
The overview is wrong. No IP-based addressing happens in the package. The diff is stupid simple. READ IT.

[2022-04-12 21:03] lucasteligioridis commented on #10035
I have also run into this issue, figured there was some permission issue that wasn't presenting itself or badly handled... 🤷🏼

[2022-04-12 23:10] griffinz123 commented on #10652
It will be a great add on to backstage. We are thinking to implement some of the devops processes in backstage utilizing the software catalog and notifications would be really helpful.

[2022-04-12 23:16] angeliski opened #10790 "[Plugin][Rollbar Backend] Add new assingn feature"
## Summary
Hey team! We are looking internaly to developer a plugin to [assign](https://explorer.docs.rollbar.com/#operation/update-an-item) ocorrences to a user in rollbar, based in some rules (like the component owner and other things in the catalog)

We did a simple PoC and works nice, but I want to know if we should develop this inside the [rollbar backend plugin](https://github.com/backstage/

[2022-04-13 04:24] chuliang014 opened #10800 "error Entity reference must not be empty"
## Expected Behavior

Hi, I just updated some packages, but I got an error when using template.  It seemed cannot create pull request

## Actual Behavior

<img width="1306" alt="image" src="https://user-images.githubusercontent.com/56138162/163099265-1ee52256-fe9b-402f-a00f-291ea740ba34.png">

## Steps to Reproduce

## Context

Also, I created this app in June last year, so some packages might hav

[2022-04-13 08:57] Rugvip commented on #2566
@jvilimek We're currently doing some work that might touch on this, but not entirely sure where we'll end up or if we'll cover it. I'd say we're looking for ways were it can be more than just a decoupled schema only living in git.

[2022-04-13 09:01] Rugvip commented on #631
@angeliski There are some pointers for setting it up here: https://backstage.io/docs/api/deprecations#generic-auth-api-refs. Otherwise it's all over here: https://github.com/backstage/backstage/issues/10303 (sorry 😅)

[2022-04-13 09:17] Rugvip commented on #10800
Hi, thank you for reporting! Could you upgrade to a more recent release before we investigate this any further? Just to make sure this isn't something that has already been fixed. You can find more information about the upgrade process over [here](https://backstage.io/docs/getting-started/keeping-backstage-updated).

[2022-04-13 09:48] emmaindal opened #10803 "[TechDocs] clicking on an anchor of TechDocs page result in full page reload"
## Expected Behavior

Scroll to the section and not do a full page reload (not needed as the page is not changing)

## Actual Behavior

Clicking on an anchor result in a full page reload

## Steps to Reproduce

1. Go to https://demo.backstage.io/docs/default/component/backstage/getting-started
2. Click on for example "Create your Backstage App" in the table of contents.
3. See the full page reload

[2022-04-13 10:43] freben commented on #10735
I think in this instance, I'd recommend holding off a bit. Since we want to get some backing design for this settled first, and we might be looking at that some time in the near-to-mid-term, and the only end user impact is that you have to reload the browser on config changes ... probably best to not do anything for this specific thing right now.

[2022-04-13 11:03] Rugvip commented on #10698
Will close this as it is the intended behavior and we don't have any plants to change it currently. The main reason we require a reload is so that feature flags can be used to determine how the app is wired together, in ways that you can't change while the app is running. There are cases were we could let the feature flags live update, but we're worried that would leave users very confused as ther

[2022-04-13 11:03] #10698 closed

[2022-04-13 11:34] Rugvip commented on #10778
Hi, thank you for reporting! Could you upgrade to a more recent release before we investigate this any further? Just to make sure this isn't something that has already been fixed. You can find more information about the upgrade process over [here](https://backstage.io/docs/getting-started/keeping-backstage-updated).

[2022-04-13 12:23] drenusha79 opened #10806 "Information Disclosure in error messages"
We are using Backstage and we need to avoid Information Disclosure in error messages

For example there are verbose error messages which contain SQL statements which triggered the error, also from some other error messages can be verified which files exist on the application server and which do not!

We want to have generic error pages or messages when getting errors.

[2022-04-13 12:27] Vegim opened #10807 "Token is not removed from cookie after logout"
## Expected Behavior
The token cookie should be deleted after the user logs out.

## Actual Behavior

The cookie token still resides on the browser which is making possible to make API requests towards protected endpoints.

## Steps to Reproduce

1. Logout from backstage
2. Inspect the cookies with developer tools

## Your Environment

- Browser Information:
Google Chrome

[2022-04-13 13:23] ProticM commented on #10603
Thanks @benjdlambert for looking into this.

It is possible for me to check it out, but I cannot promise the time when it will be prioritized. I have quite an amount of work internally.

Could you pin point the import plugin code block where this is happening? Is it somewhere along these [lines](https://github.com/backstage/backstage/blob/a807a2099585f0122e5459c7aa01a8be12a54c96/plugins/catalog-im

[2022-04-13 14:01] shailahir opened #10809 "Allow publish azure action to use AD access token also"
Hi,

I am trying to create a software template that publishes to the azure repo. And I have an authorized access token each time when I submit the template for backend processing. I am setting the token in the template secret. But this access token is giving error that TF400813: The user '' is not authorized to access this resource.

When I checked the publish azure action is working with personal

[2022-04-13 14:13] iammnils opened #10810 "Possibility to display API definition in the API tab of service entity"
## Feature Suggestion

Providing a possibility to display the API definition directly through the table of provided / consumed APIs within the API tab of the service entity.

## Possible Implementation

We have provided a quick demo video below on how it could be implemented.
Please feel free to provide us with any feedback!
(Implementation inspired by the awesome entity inspector).

https://user-

[2022-04-13 14:45] vschettino-asimov commented on #6746
Is it possible we had a regression on this one? GitHub App Auth is working fine here (e.g. creating PRs for new projects) but fails to load an existing `catalog-info.yaml`:

[code]

I doubled checked the URL and the credentials as well.

[2022-04-13 20:06] #4810 closed

[2022-04-13 21:04] chuliang014 commented on #10800
Hi @Rugvip, I fixed it when I upgrade all the packages. I got one more question when I do a migration to v1beta3 templates. I got an error.
<img width="601" alt="image" src="https://user-images.githubusercontent.com/56138162/163269930-5ed106f8-74b7-4f02-9707-6fc99f4ed617.png">

I think the problem is here.
<img width="499" alt="image" src="https://user-images.githubusercontent.com/56138162/1632700

[2022-04-13 21:47] padupe opened #10821 "yarn create-plugin command with ERROR"
## Expected Behavior

When running the yarn create-plugin command, the process should complete successfully.

## Actual Behavior

Error in yarn install and yarn tsc steps

## Steps to Reproduce

1. `cd src`
2. `yarn create-plugin`

## Context

Our Project has the following structure, different from the initial one:
[code]
## Your Environment

Ubuntu 20.04
Node v14.18.3
Yarn v1.22.17

[code]

[2022-04-14 02:21] mhaley37 commented on #10698
Thank you @freben & @Rugvip -- that background gives some good context as to why this works like this.  This isn't a big deal for us, and the feature flags we are using need not be toggled often.  However, I'm wondering -- is there any easy for us to force a refresh _in response_ to a user toggling a feature flag?  If that is possible it would be a fine workaround for us.  If not, I may open up a

[2022-04-14 02:22] mhaley37 commented on #10723
Sure @freben I would take a look to see if this could be improved a bit.

[2022-04-14 03:55] lqlamTMA opened #10822 "[Catalog] Error: Malformed envelope, /relations/0 should have required property 'target'"
When add a entity which have kind is group. In the entity, I had added relations with Entity  ormat as below:
![image](https://user-images.githubusercontent.com/29789620/163309927-f0671597-df95-4280-83bd-039546d5884e.png)

And then use applyMutation function to add the entities
![image](https://user-images.githubusercontent.com/29789620/163310258-6d865da3-3483-430f-a47e-f9365eaf562d.png)

Finally,

[2022-04-14 04:03] miqui opened #10823 "[Plugin] SwaggerHub"
## Summary

When you maintain an (already existing) platform like SwaggeHub where you collaborate on designs, it seems native
to be able to import (also sync?) Swagger 2.x and OAS 3.x designs onto Backstage

## Project website (if applicable)

TBD

## Context

[2022-04-14 04:08] chuliang014 opened #10824 "Error: Cannot find module 'fs-extra'"
## Expected Behavior

Hi, I just built the image and deployed it on our k8s, but I got the error said cannot find module 'fs-extra'.

## Actual Behavior
<img width="923" alt="image" src="https://user-images.githubusercontent.com/56138162/163311462-484d1de3-5d58-415c-affe-d86f7f27fcf1.png">

## Steps to Reproduce

1. yarn backstage-cli versions:bump

## Context

I tried to fix it through changing t

[2022-04-14 05:24] SandhyaBV commented on #8074
hi @tarkil , can you please elaborate on your workaround?  How did you set the permissions? Can you please provide me with the details? I am running into the same issue!

[2022-04-14 05:40] shmaram commented on #10661
Sure, I think that could be nice, can you point me to some docs on how to do that?

[2022-04-14 07:41] freben commented on #10822
Essentially relations are always machine generated by processors (it's one of the things that a processor can emit). You can't provide them directly in the input entity; even if the validation would have passed, your input would promptly be overwritten by the stitcher process. I agree the error is confusing though!

[2022-04-14 07:47] freben commented on #10824
I think the v16 node base images do not have this problem. In the mean time, does it get resolved if you add fs-extra ^10 to your packages/backend dependencies?

[2022-04-14 07:49] freben commented on #10661
Hm not exactly docs as such - the links in the previous comment show where and how to make the change, and besides that it's regular react programming.

[2022-04-14 08:23] shmaram commented on #10661
I meant docs on how to contribute to backstage , code structure , how to submit MR , etc...

[2022-04-14 08:27] jwnmulder opened #10835 "Entity has a broken parent reference chain when using GitLab discovery"
## Expected Behavior

When using the GitLab discovery plugin, the refresh button on the component overview page should work and the generated Locations should not have the orphan annotation

## Actual Behavior

We are using GitLab discovery to discover all our repositories. Entities are discovered and added to the catalog nicely. We noticed however that after a few minutes, the refresh button on a

[2022-04-14 08:29] Rugvip commented on #8219
Closed #10115 for us to focus elsewhere, but it remains my suggested way forward for a simple but reliable change notification stream if we want to add that.

[2022-04-14 10:01] Kris-B opened #10837 "npx @backstage/create-app - [Errno 2] No such file or directory: 'install'"
## Expected Behavior

Install backstage

## Actual Behavior

```npx  @backstage/create-app``` breaks after selection of the database.

[code]

## Steps to Reproduce

execute ```npx @backstage/create-app```

## Context

trying to install Backstage

## Your Environment

Ubuntu on WSL2 Windows 11

[2022-04-14 10:47] Rugvip commented on #10781
As far as I can tell the plugin already uses the `baseUrl` in config by default: https://github.com/backstage/backstage/blob/33506401471986c44b4a347639a7417f77d60191/plugins/sonarqube/src/plugin.ts#L40

Perhaps double check that config is being set correctly? Or if you have added an override for the `SonarQubeApi` you may need to tweak the factory.

[2022-04-14 10:59] Rugvip commented on #10784
Linking #https://github.com/backstage/backstage/issues/9948 here. We duplicated this ahead of catalog 1.0 since we didn't really like the existing API. As far as I can tell the most popular way forward right now is the `FavoriteEntity.Icon` option

[2022-04-14 11:06] djamaile commented on #10784
@Rugvip  @emmaindal  should I close my MR to prevent further duplication? Not sure how to proceed there.

[2022-04-14 11:25] Rugvip commented on #10800
@chuliang014 looks like an issue with the YAML format, it's probably an extra `,` somewhere. There's quite a lot of JSON syntax mixed in there, which is usually unnecessary in YAML. I'd try removing some of that (the `{}` and `,`)

Gonna close this since the initial issue is resolved

[2022-04-14 11:25] #10800 closed

[2022-04-14 11:43] Rugvip commented on #10790
Totally think this or worth exploring/shipping, and actually falls line pretty well with some explorations we're doing at the moment for how optional features in backend plugins can be packaged up more neatly. Nothing to share there yet, but if this is something you end up contributing (please do :grin:), then strive to keep it neatly separated from the rest of the plugin.

API-wise there are some

[2022-04-14 12:00] Rugvip commented on #10776
For clarity, what is the difference between visualstudio.com app auth and the existing Microsoft/Azure provider? Do you perhaps have a link to the setup docs for that?

What issues do you encounter when trying to use credentials from the visualstudio.com app with the azure provider?

[2022-04-14 12:00] erikxiv commented on #8479
I think this can be considered fixed with #9493

[2022-04-14 12:00] angeliski commented on #10790
Nice @Rugvip I will try to draft a PR so we can discuss more about those topics

[2022-04-14 12:37] jaymal commented on #10323
@mustafazeya Hi were you able to resolve this?

[2022-04-14 12:38] Kris-B commented on #10837
Finally, I could install after changing app's name from ```backstage-app``` to ```my-backstage-app```

[2022-04-14 12:41] mustafazeya commented on #10323
Yes, it was configuration issue in `app-config.yaml` file.

[2022-04-14 13:09] karlhaworth commented on #10514
We ran into something similar where cookiecutter helped us but now that betav2 templates are deprecated its no longer possible.

We're currently using the below. I didn't like using conditionals in file names with cookiecutter but it worked. The below method works, but not sure it's 100% ideal.

These are samples and do not reflect the all steps involved.

[code]

[code]

[2022-04-14 13:11] mustafazeya commented on #10323
We weren't getting issue locally ( if you used npx to create initial version,you shouldn't get into any issue).

When we were deploying docker image with a custom url,we were getting this issue.

We had some cache problem in browser and we changed frontend and backend url to same and then everything worked perfectly fine.

I hope this helps!

[2022-04-14 14:20] shailahir commented on #10776
https://docs.microsoft.com/en-us/azure/devops/integrate/get-started/authentication/oauth?view=azure-devops

https://app.vsaex.visualstudio.com/app/register for registration.

[2022-04-14 15:01] lalit774 commented on #10351
I am also getting the same issue. I am unable to access any third party URL for swagger file.

Folder Structure:
backstage/
    my-app
    api/petstore-json-url-api.yaml

App  config:
backend:
  reading:
    allow:
      - host: 'petstore.swagger.io'
        paths: ['/v2/']

  locations:
    # Backstage example components
    - type: file
      target: ../../../apis/petstore-json-url-api.yaml

Swa

[2022-04-14 15:53] jrusso1020 commented on #10404
pinging to keep this alive since it's been a couple of weeks of inactivity, if there's no objections I can open up a PR for further discussion/debate!

[2022-04-14 16:16] farhan-triplelift commented on #10514
So does file deletion work with the most recent version of the scaffolder api? Or does this method not work anymore?

[2022-04-14 18:01] farhan-triplelift commented on #10514
@karlhaworth Do you know if you're able to delete placeholder value directories through the fs:delete action? When I try doing it I get a `Relative path is not allowed to refer to a directory outside its parent` error

[2022-04-14 19:47] chuliang014 commented on #10824
@freben yes, it's resolved after add fs-extra dependency

[2022-04-14 19:55] isand3r opened #10851 "[Plugin] Dynatrace Plugin"
## Summary

A plugin that will show information from [Dynatrace](https://www.dynatrace.com) in the catalog view for a component - such as recent problems, error traces, and synthetics results.

## Context

Many organizations use Dynatrace as their observability platform - surfacing some of the information mentioned above would be a helpful feature.

Some requirements for this plugin will include:

[2022-04-14 20:50] karlhaworth commented on #10514
In our case we are. We're using the v3 beta version.

[2022-04-14 21:00] farhan-triplelift commented on #10514
@karlhaworth we're also using scaffolder.backstage.io/v1beta3 version. Can you send me an example of how you're accomplishing this?

This is how i'm formatting my fs:delete step

[code]

The scaffolder tells me that the directory was deleted, but when i see the resulting repo the directory is still there?

[2022-04-14 21:34] farhan-triplelift commented on #10514
Actually looks like it was a syntax error on my part, i was able to get the directory to delete

[2022-04-15 02:23] ankitnmalhotra opened #10854 "Backstage upgrade from v0.4.19 to v1.0"
We are upgrading current instance of Backstage i.e. v0.4.19 to v1.0. We merged the code and executed build pipeline which failed with the following exception

execution failed at Yarn install step.

**Resolving packages...
error Couldn't find any versions for "@microsoft/api-extractor-model" that matches "workspace:*"
info Visit https://yarnpkg.com/en/docs/cli/install for documentation about this

[2022-04-15 08:11] freben commented on #10661
Oh - see the CONTRIBUTING.md in the root of the repo. But it's not very formal; make the changes, make sure to DCO sign your commits, submit a pull request here in github

[2022-04-15 10:41] skgandikota commented on #9889
New PR :  https://github.com/backstage/backstage/pull/10859

[2022-04-15 11:39] tskorupka commented on #3721
Cant wait for it 🤞

[2022-04-15 21:37] #6063 closed

[2022-04-16 11:35] #9374 closed

[2022-04-16 15:22] NishkarshRaj opened #10862 "[Catalog] Importing conflicting entities should result in an error"
## Expected Behavior

Our teams register catalogs in Backstage via tagged sources for version controlling the documentation.

A catalog was initially registered from a certain tag (say v1.0.0). This version offers certain code and its associated TechDocs.

A new version from another is now registered (without unregistering the previous version).

Ideally, Backstage should show warning/errors durin

[2022-04-16 18:30] freben commented on #9527
I believe this was fixed by #9771

[2022-04-16 18:30] #9527 closed

[2022-04-16 23:27] peimanja commented on #5441
still relevant

[2022-04-17 12:37] #9345 closed

[2022-04-17 16:50] #9365 closed

[2022-04-18 07:48] shailahir opened #10865 "Getting scope errors while publishing to azure"
## Expected Behavior
When using software templates with option to publish to azure repos with host "dev.azure.com". It should allow to publish to azure repo.

## Actual Behavior

But instead I am getting following errors. Authentication failed , application 'app name' asked for scope vso.build does not exist on the resource 'resource id'

## Steps to Reproduce

1. Step 1
2. Step 2
3. ...

## Conte

[2022-04-18 07:56] shailahir commented on #10865
![image](https://user-images.githubusercontent.com/31934874/163776353-76b5ecbf-5e01-4793-adfd-938abd12467f.png)

[2022-04-18 11:57] shailahir commented on #10776
If we use the publish:azure in the template. the scmauth requests for vso.build and other vso.* scopes and uses microsoft auth provider. but we get error that such scopes does not exist on the microsoft Active directory app. Please give me some hint to solve this issue. I am stuck on this for more than one week.

[2022-04-18 12:48] tiagoceluppi opened #10866 "Catalog query rate limit problem in bitbucket"
I'm having a problem with the services catalog here, I use bitbucket and when I go to access the services registered in the backstage it's giving an error 429 Unknown Status Code, which is bursting the bitbucket access rate limit, does anyone know a way to get around this, no I'm not even using discovery here.

[2022-04-18 21:59] benjdlambert opened #10868 "backend-common: DB Connections should perform heartbeats for keepalive"
When clients that are created from knex go stale and have not received traffic, there's a real possibility that these connections will be closed and terminated by the database and the cloud provider. These connections will then produce unpredictable results throughout backstage, and these instances will never refresh the connection.

Connection pools are a way to fix this, as connection pools will

[2022-04-19 07:26] shadab16 commented on #10866
I'm in the same boat. We're hitting BitBucket Cloud rate limits quite frequently. From what I understand, rate limits are applied on a per-account basis and not per-workspace in Bitbucket. So we're provisioning a dedicated BitBucket "user" to be used in our Backstage instance.

Reference: https://support.atlassian.com/bitbucket-cloud/docs/api-request-limits/

[2022-04-19 08:24] iamEAP commented on #10529
Hey there!  In order to use TechDocs successfully with the permissions framework, you will need to include some extra code in your backend that sets the auth token on a cookie.  I believe the folks working on the permissions framework will have better documentation for this in place soon!  But for now, you can reference these docs to help you out: https://github.com/backstage/backstage/blob/master

[2022-04-19 09:04] Rugvip commented on #5441
A different approach that we discussed briefly could be to move this to the backend instead. Thinking a custom action that uses either the Backstage token or other secrets to fetch user information, which can then be used in subsequent steps. Thinking something like `catalog:user-info`, `github:user-info`, or that kinda thing. Is someone that is looking at or already using the frontend workaround

[2022-04-19 09:09] #9634 closed

[2022-04-19 09:19] vbyjsue commented on #10781
Sorry, I jumped to conclusions. Working as expected.

[2022-04-19 09:19] #10781 closed

[2022-04-19 09:56] KariemSoudy commented on #10431
@awanlin , this might sound odd, but i can't find any guide to integrate azure devops into backstage, i need to be able to import catalog yaml files from azure devops repos, and also show the PRs and builds in the entity page when i import an entity, and also use templates to create a repo in azure devops,

any help from you would be really appreciated :)

[2022-04-19 11:28] shmaram commented on #10661
Hi
I made the change but I'm unable to push my new branch, I get 403, is there any access I need to request?

[2022-04-19 11:57] Rugvip commented on #10351
Renamed this issue to keep it focused on the original problem, which is that the scaffolder registration dry-run fails because the content is not yet available. Let's keep the discussion here focused around that, with a good suggestion for a way forward in https://github.com/backstage/backstage/issues/10351#issuecomment-1078788492.

For other issues, see the suggestions in https://github.com/backs

[2022-04-19 12:03] Rugvip commented on #10404
Any thoughts on how this might impact `EntityLinksCard` and whether you already have some plans or have switched it out for something custom already?

Overall we're happy to proceed with this though, ofc a bit carefully. Current thinking is that we go forward with what you suggest, `type?: string`. We'd also have no "well known" types or anything like that either, it's left as a field completely o

[2022-04-19 12:19] awanlin commented on #10431
@KariemSoudy, that is odd, all this information is on the Backstage.io website:

I recommend starting with this: https://backstage.io/docs/getting-started/

Here's details on Azure DevOps integration which helps with registering `catalog-info.yaml` files, this can be done using locations: https://backstage.io/docs/integrations/azure/locations or using discovery: https://backstage.io/docs/integrati

[2022-04-19 12:41] Rugvip commented on #10514
Looks like following up with `fs:delete` or `fs:rename` actions is very similar to the recommended cookiecutter solution and solves the issue. Will also add that you should be able to use a templated file path as well, for example something like a file in the template directory called `{% if values.name == "expected" %}extra.yaml{% endif %}`.

Will close the issue either way, since it appears solv

[2022-04-19 12:42] #10514 closed

[2022-04-19 12:44] qjcg commented on #10362
I'm getting the same 404 behavior `techdocs-cli serve` v1.0.0.

However, all is working fine when I run `techdocs-cli serve:mkdocs`.

[2022-04-19 12:48] iamEAP commented on #10270
Hey @shanthisagar-dhanya-kumar-db could you provide repro steps for this?  I'm having trouble picturing this.

[2022-04-19 13:21] shanthisagar-dhanya-kumar-db commented on #10270
Simple example, how do you zoom the images here https://demo.backstage.io/docs/default/component/backstage/overview/what-is-backstage/

[2022-04-19 13:24] #8358 closed

[2022-04-19 13:52] OrkoHunter opened #10890 ""Your Backstage instance is too old" nudges in logs"
## Feature Suggestion

Backstage maintainers should actively keep their core packages up-to-date. If upgrades are left ignored for months, the updates can be really painful with all the changelogs in several packages.

## Possible Implementation

Whenever Backstage frontend or backend starts, the system should check the backstage version (perhaps from the `backstage.json` file, if it exists) with

[2022-04-19 14:40] Rugvip commented on #10735
Realized there's a bit of context lacking here, would this be for local development or production apps? As freben mentions we're not really comfortable with the complexity that this would add to a production deployment, but for local development we could totally get this going.

[2022-04-19 14:45] Rugvip commented on #10784
@djamaile we're happy to move forward with adding `FavoriteEntity.Icon` if that's something you'd like to implement! Otherwise I think it's best that we merge your PR tbh

[2022-04-19 14:53] Rugvip commented on #10806
Where are you seeing SQL errors being forwarded to the frontend? Would like to fix those 😁

Apart from that the best way forward here is for you to register a custom error handling middleware. The backend service builder has a `setErrorHandler` which you can use to that end.

[2022-04-19 14:54] Rugvip commented on #10807
What auth provider and what cookie would that be? Providers should be removing the cookie over [here](https://github.com/backstage/backstage/blob/c88845531361f9b75cd81a48d6d656e26e3fb381/plugins/auth-backend/src/lib/oauth/OAuthAdapter.ts#L203)

[2022-04-19 15:08] Rugvip commented on #10824
Great! Will close this as it sounds like the issue is resolved

[2022-04-19 15:08] #10824 closed

[2022-04-19 15:09] Rugvip commented on #10822
I believe we want to tweak the validation here so that it forbids any form of `relations` in the input.

[2022-04-19 15:11] Rugvip commented on #10821
This seems like an issue when running `yarn install`, unrelate to the Backstage CLI.

Most likely you'll want to follow the trail of this error message:

[code]

Will close this, but let us know if you find anything that could be an issue in Backstage and we'll reopen!

[2022-04-19 15:11] #10821 closed

[2022-04-19 15:12] Rugvip commented on #10810
Nice, love it! 🎉 :grin:

Is this something you'd like to contribute?

[2022-04-19 15:16] Rugvip commented on #10809
Probably, what's the different between an access token and a personal access token? 😅

Also want to check whether there's actually something wrong with the token. You say the error is `The user '' is not authorized to access this resource.`, are you sure the issue isn't that the token doesn't grant access to create repos in azure?

[2022-04-19 15:17] pjungermann commented on #10866
I also assume you refer to Bitbucket Cloud and not Bitbucket Server, right?

Do you use the discovery processor? Do you have many repos with catalog-info.yaml file present?

[2022-04-19 16:23] Rugvip commented on #10837
Dafuq, was it reliably failing with the apps name set to `backstage-app`, or does it seem like it was just flaky? I'd expect this to be some bug in the shell escaping when calling subprocesses under WSL or something like that 🤔

[2022-04-19 16:33] Rugvip commented on #10854
Hmm, those `workspace:` entries are very unexpected afaik. Was it perhaps just something like a bad publish that's been fixed now, or are you still experiencing the issue? Do you have any references to `@microsoft/api-extractor-model` in your project?

[2022-04-19 16:39] #9808 closed

[2022-04-19 16:45] ankitnmalhotra commented on #10854
Thanks for your reply!

Do you have any suggestion on the upgrade path? We are doing any upgrade from 0.4.19 to 1.0 using version bump. Is it supported for such difference? Quick help is appriciated.

[2022-04-19 17:01] Rugvip commented on #10854
By `0.4.19`, do you mean the create-app version or the release version from more than a year ago? If it's the latter it might actually be quickest to create a new app and copy things over, because there's been a big number of changes since then

[2022-04-19 17:27] pjungermann opened #10903 "Update Identity resolver docs"
## Expected Behavior

https://backstage.io/docs/auth/identity-resolver describes the currently expected way of how set up signIn resolvers
considering the latest changes from release 1.1.0 https://github.com/backstage/backstage/blob/master/docs/releases/v1.1.0-changelog.md#backstageplugin-auth-backend0130

## Actual Behavior

https://backstage.io/docs/auth/identity-resolver still uses deprecated f

[2022-04-19 17:29] Rugvip commented on #10735
Implementing the reload without significant user impact is pretty tricky and adds a lot new complexity into the mix. Local development is simpler because it's just a matter of releasing the page, can't really do that in production tho.

That's unless we're missing something, do you have a high level idea of how it could be implemented with little user impact and not much additional complexity?

[2022-04-19 17:30] Rugvip commented on #10903
Very much on our radar but didn't have time to finish this for the release today 😅

[2022-04-19 17:32] pjungermann commented on #10903
Great! Thought about making a PR, too, but probably too late for me today so I just opened this issue. And you can explain it better anyways I think 😁

[2022-04-19 19:52] zhammer opened #10907 "scaffolder-plugin - publish:gitlab: project id output"
https://github.com/backstage/backstage/blob/8cc75993a627299ebfcf782c3cc2b5bee9d82008/plugins/scaffolder-backend/src/scaffolder/actions/builtin/publish/gitlab.ts#L159-L163

any objections to returning the id for the gitlab project we created as an output for `publish:gitlab`? we are trying out software templates and would like to be able to use the id of the created gitlab project in steps that fol

[2022-04-19 19:53] zhammer commented on #10907
changes would be:
- make sure `client.Projects.create` can return the project id
- `const { http_url_to_repo, id } = await ...`
- update outputs on the `publish:gitlab` json schema (not breaking)
- set the output in the action handler

[2022-04-19 21:36] timbonicus commented on #10652
Thanks for the comments @Rugvip! ❤️

1. The `NotificationContext` is a band-aid for not having a `notification-backend` and I expect it to be removed once the backend is place. The `acknowledge` / receipts method on the context should be a backend call eventually, probably just added to the `NotificationApi` as you say.

   This _could_ be on the API now, if the API implementation stored it locall

[2022-04-19 22:07] razumovich commented on #10890
I see that there's some logging about outdated packages implemented for frontend (startFrontend.ts). I think there should be similar implementation for backend.

[2022-04-19 22:50] Rugvip commented on #10652
np!

1. Even with a `notification-backend` in the picture you'd anyway most likely want to abstract the read receipts behind some API right? Figuring that if we're gonna do read receipts from the beginning we might as well strive to form an API that supports an eventual future `notification-backend` without or with minimal change. I don't thing formulating it as a slightly more verbose API should

[2022-04-19 23:01] pjungermann opened #10911 "Broken ref to filtered catalog list when using aggregated relations"
## Expected Behavior

When clicking on a component type box at a parent group with enabled "aggregated relations" enabled
the filtered catalog list view should open correctly with the related components displayed (the ones which
got included into the count).

## Actual Behavior

React error message with stacktrace is is displayed.

## Steps to Reproduce

1. Go to a group with owned components
2. G

[2022-04-20 01:27] ankitnmalhotra commented on #10854
Yes we noticed a difference of 25K commits between version 0.4.19 and 1.0. However, we are primarily looking into app an backend functionality only.

Should we proceed or do you suggest to do intermediate update and then final update to v1.0

[2022-04-20 07:19] NishkarshRaj commented on #10862
@Rugvip thanks for the follow-up 👍

Okay, I believe the first line of the issue I raised seems a little ambiguous 😛
Some of our portal's adopters tend to register their repositories (kind: Component) via tagged source rather than branched source and they share that the latest documentation for the services/applications (tech docs) is up to date to a certain tag.

This is the exact issue I want to

[2022-04-20 07:36] #10487 closed

[2022-04-20 07:36] Vegim commented on #10807
I'm using the oauth2 authentication provider. Yeah I saw that part of the code that you send me but only the refresh token is being deleted and that way the user is able to do API calls backstage for about an hour after the access token expires

[2022-04-20 08:02] djamaile commented on #10784
@Rugvip feel free to merge for now, currently on vacation. Will be back in the week of 2nd of May, will put this issue on my list 👍

[2022-04-20 08:20] iammnils commented on #10810
Glad you like it! We are happy to work on the implementation! 🥳

[2022-04-20 09:02] bendu89 commented on #10810
Yes, we will make sure that its ends up in one of the upcoming sprints :-)

[2022-04-20 09:50] #10230 closed

[2022-04-20 11:32] shailahir commented on #10776
I just want to use the RepoUrlPicker with allowedhosts dev.azure.com and requestCredentials enabled. it is failing with error. vso.build scope not there. It maybe a bug in the azure side of the Repo picker for software template. I am desparate to solve this and only way to find a solution it seems to use the visualstudio app. Please suggest.

[2022-04-20 11:33] shailahir commented on #10776
https://github.com/backstage/backstage/blob/45153b3b082d552936075f2fab9f1bd2a07aa327/packages/integration-react/src/api/ScmAuth.ts

Please See forAzure method.

[2022-04-20 11:34] shailahir commented on #10776
https://github.com/backstage/backstage/issues/10865  #10865

[2022-04-20 11:35] shailahir commented on #10809
Sorry I mean bearer token :)

[2022-04-20 11:36] shailahir commented on #10809
Related https://github.com/backstage/backstage/issues/10865

[2022-04-20 13:42] oodamien opened #10951 "Change variant attribute on some custom cards is not possible"
Some custom cards allow only to apply `gridItem` or empty value to the variant attribute.

Example:

https://github.com/backstage/backstage/blob/7a7be7823467ddb377bb9c481c078481ac55c946/plugins/catalog/src/components/HasSubcomponentsCard/HasSubcomponentsCard.tsx#L27

It's not possible to set `fullHeight` or `flex` as a value.

## Possible Implementation

Use `InfoCardVariants` as type for the vari

[2022-04-20 14:47] dweber019 opened #10955 "Backstage cli - proxy not respected"
## Expected Behavior
Proxy should be respected or configurable for the Backstage cli.

## Actual Behavior
Proxy related error. e.g.
[code]

## Steps to Reproduce
Execute `yarn backstage-cli versions:bump` behind a proxy.

## Context
Maybe this article could be a starting point https://github.com/backstage/backstage/blob/2cfd5fe4444f9e4efaf68bc375be775ed583a939/contrib/docs/tutorials/help-im-behind

[2022-04-20 14:50] dweber019 commented on #10955
I would be happy to provide a PR.
My suggestion is to use `global-agent` from https://github.com/backstage/backstage/blob/2cfd5fe4444f9e4efaf68bc375be775ed583a939/contrib/docs/tutorials/help-im-behind-a-corporate-proxy.md in https://github.com/backstage/backstage/blob/master/packages/release-manifests/src/manifest.ts#L17.

[2022-04-20 15:10] Rugvip commented on #10955
Hmm, bit tricky tbh, since the `release-manifests` package is intended to be supported both in browsers and in node. Do suggest something in a PR if you have a solution to that though! 👍

[2022-04-20 15:40] zerodayyy commented on #9512
Hey @stibi, I'd be happy to see and contribute to your PR, unfortunately I've shifted focus to a custom Backstage chart for now

[2022-04-20 16:28] shanthisagar-dhanya-kumar-db opened #10961 "Scaffolder : Skipping the steps based on input parameter value"
Let's say we have the scaffolder template file with the spec section as follows

spec:
  owner: backstage@list.db.com
  type: service
  parameters:
    - title: Kind
      required:
        - kind
      properties:
        kind:
          title: Kind
          type: string
          description: API / Component
          enum: ["API", "Component"]
    - title: ComponentType
      required:

[2022-04-20 16:42] lalit774 commented on #10866
I am in the same boat too for github. It should be event driven. Even i don't have many updates. I still get rate limit issue.

[2022-04-20 16:45] KariemSoudy opened #10962 "Can't create a repository in Azure DevOps"
I can't create a new repository for a tech-docs template,

here are the steps and the error:
![1](https://user-images.githubusercontent.com/15885984/164281377-10f83eba-72ae-42e1-9add-4f5356415576.PNG)
![2](https://user-images.githubusercontent.com/15885984/164281382-ab72a3d4-7480-4260-984e-22d031a4577e.PNG)
![3](https://user-images.githubusercontent.com/15885984/164281384-0d437d06-2ae2-4f20-af7d-f