[2022-08-01 11:55] benjdlambert commented on #12895
@prasoon-pxc, the private key can be multiple lines just make sure that the indentation is correct. And I don't think you need to worry about the `webhookUrl`.

[2022-08-01 11:57] prasoon-pxc commented on #12895
so,in that case my config is correct but not working

[2022-08-01 12:18] IanTurtle commented on #12562
Thanks @benjdlambert - as an FYI we have created [issue 2978](https://github.com/rjsf-team/react-jsonschema-form/issues/2978) on their github project

[2022-08-01 12:54] benjdlambert commented on #12895
Are you able to load locations from private repositories? By using `type: url` instead of the org discovery?

[2022-08-01 12:55] benjdlambert commented on #12895
Once you change the permissions of the application you need to approve them for every installation, so maybe if the permissions are wrong then it might not work?

[2022-08-01 13:01] benjdlambert commented on #12019
It's now GA. https://docusaurus.io/blog/2022/08/01/announcing-docusaurus-2.0

[2022-08-01 15:10] ranjeet-programmer commented on #8036
I am also facing the same issue.

[2022-08-01 15:24] niallthomson commented on #2256
Hi folks, we published a first pass at a AWS CodeSuite plugin that includes some support for CodePipeline. You can find it here:

https://github.com/awslabs/aws-codepipeline-plugins-for-backstage

We are still working on publishing NPM packages and getting it added to the Backstage plugin marketplace.

[2022-08-01 17:01] ericis commented on #11557
I will retest this, but I believe it is still broken

[2022-08-01 18:24] luchillo17 commented on #10457
Is the purpose to expose the provider so devs can override it with custom implementations? if so I believe that it involves a change in how the class is instantiated, if it was handled by DI (Dependency Injection) you could very easily tell the DI library to replace the class with your custom one, but with how it's currently being instantiated, I don't think you can easily swap provider implementa

[2022-08-01 18:58] menehune23 commented on #10457
@luchillo17 The purpose is simply so that it can be imported in custom plugins, not necessarily to override the implementation. Just looking for it to be `export`ed is all.

[2022-08-01 19:04] webark commented on #10533
this is still an issue, but will be resolved once the related ticket upgrading out of react router beta 6 is done.

[2022-08-01 19:20] cmpadden commented on #12812
Hi @stichiboi , sorry for the delay in responding.

I think this is a great idea, and I totally agree with you that there's some difficulty in getting all of the information we need in the limited space we have. Because of that, I think our best bet would be to have a separate page or modal window with logs or DAG runs about the selected DAG.

I also think there's a balance to how much information

[2022-08-01 20:04] #12919 closed

[2022-08-01 20:04] benjdlambert commented on #8036
Can you help debug by adding some logging to the file in question? And running backstage from the repo with your `app-config.yaml` to try and work out what is going on?

[2022-08-02 04:54] sharadpattanshetti commented on #9659
Hi @shailendra-ahir-cbre did above expression work for you?

[2022-08-02 05:00] prasoon-pxc commented on #12895
@benjdlambert --> I have tested this with setup with browser supported to generate file and after that copy that file to specified location and then it works.

[2022-08-02 05:46] iriswang233 commented on #12890
Hi,

Thanks for this information. The change to allow customise search icon in Table is helpful for our use case. Looking forward to it.

[2022-08-02 06:02] iriswang233 commented on #12829
Hi @vinzscam,

Yes. It would be good to revisit the facets endpoint. For us, it takes long time and sometimes fails to load the Type filter, but user can refresh the page to get it show.
<img width="554" alt="Screenshot 2022-08-02 at 1 59 11 PM" src="https://user-images.githubusercontent.com/49713904/182302713-13cfeddf-a3cb-4387-a881-52484e94d1a1.png">
<img width="279" alt="Screenshot 2022-08-02 a

[2022-08-02 06:24] cinlysobin commented on #8074
Hi all,
I am facing the same issue with Alpine image. Do we have a fix for this?

[2022-08-02 06:36] Ahampa07 commented on #12917
@benjdlambert could you please elaborate more, give some references around it?

[2022-08-02 08:32] theparthshukla commented on #9415
Don't know if this has already been addressed, but happy to take this up in case it hasn't!

[2022-08-02 08:33] #12456 closed

[2022-08-02 08:39] proffalken commented on #10498
Still an issue, needs to be expanded, finding time to do it is the biggest problem! :dagger:

[2022-08-02 08:44] NishkarshRaj commented on #12917
@benjdlambert we are using Ping Identity.

Here's the snippet we use in App Config

[code]

[2022-08-02 08:51] benjdlambert commented on #12917
Hmm when you refresh the page, and open the network inspector, I think there should be a failing request to `/api/auth-backend` can you what that request is saying and see if you have any error there?

[2022-08-02 08:51] benjdlambert commented on #12917
And see if there's any requests to `/api/auth-backend/*` that are failing and see what they say

[2022-08-02 09:03] NishkarshRaj commented on #12917
Ah! On Refresh or opening a page in a new tab - sometimes it works fine and sometimes we are thrown to the Login page.

The request that fails is `api/auth/oidc/refresh?optional&env=production`

Here is the preview:

[code]

and response:

[code]

To be fair, we are facing this issue since last December and have raised multiple Issues to possibly get a fix to it:

#8462

#11160

#12757

We don't s

[2022-08-02 09:08] benjdlambert commented on #12917
Hmm , if you can reproduce this on your local host, this to me says that it's nothing to do with the in memory session store. I was going to suggest that if you just use one container does it work consistently? But if not then it looks like it's something else?

[2022-08-02 09:13] NishkarshRaj commented on #12917
Agreed! I also think an in-memory session store is the root cause but having a persistent session store will allow for scaling out (alongside polling catalogs consistently in external memory instead of per-pod) but that's something we can look at later together.

We've been looking for an answer to this for months now - don't know what are we missing 😞

[2022-08-02 09:16] benjdlambert commented on #12917
This is already taken care of by the DB, the catalog's don't use anything in memory if it's deployed using Postgres. Each catalog will poll for the work off a queue in the DB and will split the work up equally amongst replicas.

But yeah I'm not really sure, one for us @backstage/maintainers to have a chat about I think when they're back from vacation next week.

[2022-08-02 09:17] benjdlambert commented on #12917
Just added some labels to this for us to have a chat about next week

[2022-08-02 09:19] Ahampa07 commented on #12917
@benjdlambert On the local host, if we refresh the page rigorously(trigger refresh real quick multiple times) then we get this error else it works fine, and it seems to be the case of a parallel refresh request,  where both the requests are going to trigger an auth refresh, and if the second one is opened before the first one has had time to do a refresh, it will use the same refresh token and the

[2022-08-02 09:22] NishkarshRaj commented on #12917
@benjdlambert thanks - let's chat more next week - I've also blocked 11th August at 15:30 UK for this discussion via Calendly and am aligned to  F. Corti - it would be great if someone from @backstage-maintainers could also join so that we can have a focused discussion.

[2022-08-02 09:25] shailendra-ahir-cbre commented on #9659
${{ steps.azure.output.remoteUrl if (parameters.repoUrl | parseRepoUrl).host === 'dev.azure.com' else steps.github.output.remoteUrl }}

The above expression worked.
And to read repo name : ${{ (parameters.repoUrl | parseRepoUrl).repo }}

[2022-08-02 09:30] benjdlambert commented on #12917
Yeah OK - sounds like it could be something with the in-memory store if it only fails under those circumstances. Seems like there's some comments from @rugvip on implementing the shared session store, I think it makes sense to whip up a PR with something and we can continue the discussion in the PR at this point. But yeah, let's catch up next week!

[2022-08-02 09:42] benjdlambert commented on #12917
Is that something that you'd be interested in? Trying to throw a PR together of how we can implement?

[2022-08-02 09:45] Ahampa07 commented on #12917
@benjdlambert yeah sure, would be happy to pick this up and contribute :)

[2022-08-02 11:28] #11411 closed

[2022-08-02 11:39] LvffY commented on #10674
should have been closed by #11925, will be open again if not.

[2022-08-02 11:39] #10674 closed

[2022-08-02 12:29] stichiboi commented on #12812
In your experience, what's the information you look at most often?
I usually look for:
- Logs
- which task are running, and the history of the tasks
- Metrics (every DAG is exporting `statsd` metrics which are converted to prometheus. These should also be available in Backstage...)

The idea is that we have 1 Backstage Entity -> Multiple DAGs assigned. DAGs then have Runs, and Runs have tasks (and

[2022-08-02 14:08] #12565 closed

[2022-08-02 14:26] cmpadden commented on #12812
Typically, the first thing I look for on the landing page of Airflow is if there are any red indicators of failed DAG runs, and then similar to you, I will dig into the logs. So I think having the most recent DAG runs would make a lot of sense.

That's a clever thought on the `statsd` metrics! At my current employer we are using AWS MWAA, which sends those metrics to AWS CloudWatch. But I could to

[2022-08-02 14:46] OscarDHdz commented on #7370
Hi there, wanted to revive this issue and see if we could work on it? 😃

[2022-08-02 15:27] RemiVR opened #12939 "[Scarffolder] Creation from template breaks after updating from 1.1.1 to 1.2.0 (cloud hosted)"
## Expected Behavior

The template steps should be executed.

## Actual Behavior

After updating to version 1.2.0 from 1.1.1, when all the input fields have been filled in the template and click to create a new service from a template returns the following error:
`Backend request failed, 500 Internal Server Error {"error":{"name":"Error","message":"Entity reference \"7508ac48-5c49-4137-85db-3174ff

[2022-08-02 18:30] benjdlambert commented on #7370
Sure - I can assign you if you would like?

[2022-08-02 19:32] OscarDHdz commented on #7370
Yaaay, please!

[2022-08-02 21:33] nvpnathan commented on #5355
Hello Marcus, this is fantastic! Would love to help contribute/collaborate on this with you!
-nathan

[2022-08-03 03:14] SathishKumar140 commented on #12893
@benjdlambert
Path is correct and it's part of the package the import is used. We installed a similar package is installed in another project in our organization working without any issue.
If we use the same package on backstage dependency not working and build failed with errors. I think the reason for not working is an extensions is not accepting from the Webpack file resolve **.json**, if we ha

[2022-08-03 04:00] dnguyenzd commented on #12004
I have the same issue in latest version of backstage (1.4.0), but I can't replicate it in https://rjsf-team.github.io/react-jsonschema-form/

look like this is specific issue to backstage?

[2022-08-03 08:08] tritri251214 opened #12948 "[Scaffolder] Review and create didn't hide when change options"
https://user-images.githubusercontent.com/32475934/182557014-035c5d01-0290-4948-99f0-d245ef47a4b7.mp4

[code]

**Custom Field Extension file:**

![image](https://user-images.githubusercontent.com/32475934/182557419-a0d8bc65-5b2f-4bde-a405-740e81d3e7c9.png)

## Expected Behavior

Hide **Custom Field** in _**Review and create**_

## Actual Behavior

**Custom Field** displayed in **_Review and create

[2022-08-03 08:17] benjdlambert commented on #12893
Does it work if in your other package you don't rely on it resolving to `.json` automatically, and actually change the import to `loading.json` instead?

[2022-08-03 08:36] stichiboi commented on #12812
Ok so what if, in the overwiew, there is just a table with the DAGs assigned to that entity. Basically just the current Table (maybe with some status dots about the last ~5 runs, nothing else. To keep it simple: done, error, running)

Then we can create a new exportable component, the Runs table, which shows the Runs **for a single DAG**.
Very simple component, just asks for a `Dag ID` -> You can

[2022-08-03 08:53] stichiboi commented on #12812
Just to start working on this, I will implement in the existing DAGs table, the column for the `latest runs` status with the various colors
I will display the possible values that are referenced in the Airflow API `"queued" "running" "success" "failed"`.
- queued -> blue
- running -> yellow
- success -> green
- failed -> red

[2022-08-03 09:12] benjdlambert commented on #12948
I think this is because of how the state is set. It's just spread into the existing state, rather than replacing the existing state for each step. So if it's set once it's never reset. Do you want to have a go at fixing this bug? I think what we want to do is to keep an array for each step of the state then merge them together at the end rather than keeping a running state.

[2022-08-03 09:51] pavshu commented on #10303
I've been attempting to grok OIDC setup for a bit now to make it work with Keycloak but to no avail.
Unfortunately, [PR#12136](https://github.com/backstage/backstage/pull/12136) didn't make it in and there's been [a deprecation of some APIs that are auth-related](https://backstage.io/docs/api/deprecations#generic-auth-api-refs).

[2022-08-03 11:12] benjdlambert commented on #12939
Hey :wave: This could be down to the fact that the token that is in the `Authorization` header is not a valid Backstage Token. Granted if this happens, it shouldn't throw unless permissions are restricted to users but I believe this is what is happening.

[2022-08-03 13:03] stichiboi commented on #12767
Ping pong! Any news?

[2022-08-03 13:07] RemiVR commented on #12939
This is a duplicate of #11666.

[2022-08-03 13:07] #12939 closed

[2022-08-03 15:22] gabrielucido opened #12956 "Catalog: 403 When using non SSL connection with Postgres DB"
## Expected Behavior
The catalog should keep working when I use Postgres as my DB provider without SSL.

## Actual Behavior

In running a backstage 1.4.0 instance on @Via (early adopters since 2020) and since the update to 1.3.1 I noticed that my catalog has some errors which I didn't know the cause.

![image](https://user-images.githubusercontent.com/36337762/182641130-a04a77e4-6959-4e5c-904e-d1c

[2022-08-03 17:34] paveldedik commented on #9941
Hi @iamEAP I have basically the same issue with the same setup as @shyamajp and I still get this error.

Basically the only difference is that the working URL in my case is:

http://localhost:7007/docs/default/component/flake8-jungle

While the one linked on the component page is pointing to (big letter C):

http://localhost:7007/docs/default/Component/flake8-jungle

I have `@backstage/plugin-tech

[2022-08-03 17:43] paveldedik commented on #9941
I can see 301 redirect in logs with the following header:

[code]

But for some reason chrome is requesting the following URL:

[code]

So I'm being redirected to HTTPS instead of HTTP, so I guess that is the problem here?

[2022-08-03 18:30] awanlin commented on #9941
@paveldedik this issue looks to be the same as your HTTPS problem: https://github.com/backstage/backstage/issues/11650

And I think the casing issue may have been fixed in: https://github.com/backstage/backstage/pull/12632

[2022-08-03 21:54] marcus-crane commented on #5355
I'll try to wrap up the base of what I've got for review shortly and then it'll be easier to collaborate with something already upstreamed to work from 🙂

[2022-08-03 21:56] voodooGQ opened #12963 "Backend failed to start up, TypeError: Cannot read properties of undefined (reading 'getOptionalConfig')"
## Expected Behavior

Backend should start up

## Actual Behavior

Receive the following error: Backend failed to start up, TypeError: Cannot read properties of undefined (reading 'getOptionalConfig')*

## Steps to Reproduce

Upgrade from 1.3.0 to 1.4.0

## Context

Ran the upgrade procedures, including migrations from 1.3.0 to 1.4.0. Backend gets past Proxy configuration and then won't start up.

[2022-08-03 22:51] evankanderson commented on #11815
/close

(It looks like this was fixed in #11938)

[2022-08-04 00:16] liamrathke commented on #12231
Another RFC update - I have removed the "fallback" option for making proxy requests without credentials, after discussing internally with the VMWare Backstage team. Allowing requests without credentials could potentially pose a security issue, allowing anyone with knowledge of the Backstage IP to perform arbitrary requests against the Kubernetes cluster without authenticating first.

[2022-08-04 01:46] voodooGQ commented on #12963
Narrowed it down to an instantiation issue with `PGSearchEngine` in the `search.ts` file of the `backend/plugins`. Previously the call was to `PGSearchEngine.from` had to switch to `PGSearchEngine.fromConfig` and add the `env.config` as an argument.

This didn't get presented in the backstage upgrade page.

[2022-08-04 01:46] #12963 closed

[2022-08-04 06:49] nicorikken commented on #12561
This would be helpful. I tried the editor and it broke my git repo.

[2022-08-04 07:05] tritri251214 commented on #12948
@benjdlambert , I created PR for this issue.

PR: [#12966](https://github.com/backstage/backstage/pull/12966)

Could you help me review it?

Thanks.

[2022-08-04 07:36] sharadpattanshetti commented on #9659
Thanks @shailendra-ahir-cbre , this works.

[2022-08-04 08:25] benjdlambert commented on #9415
Feel free to pick this up @theparthshukla, will assign you!

[2022-08-04 08:28] benjdlambert commented on #10533
@webark I've just added the `will-fix` label which will stop this thing going stale. :joy:

[2022-08-04 08:36] benjdlambert commented on #12004
@dnguyenzd looks like it is a problem with the upstream library actually. It appears it's theme specific. It works with the default theme but it looks like that the `mui` theme for `react-jsonschema-form` doesn't render a description.

Think maybe it makes sense to raise an issue or a PR on their repo with a suggested change.

![Screenshot 2022-08-04 at 10 35 12](https://user-images.githubusercont

[2022-08-04 08:40] benjdlambert commented on #12956
Hmm this is pretty interesting as to why it's throwing that error and you think that it's still something to do with SSL. Is the configuration exactly the same between your local and production and the only variable is Postgres with SSL? Are you using the exact same credentials on your local machine as what is run in production?

You could spin up a version of your production one just switching ov

[2022-08-04 08:43] benjdlambert commented on #12909
Hmm I wonder if we can do something like `CustomFieldExtensions` and have this a component that you can provide?

`ui:layout` or something, and having `CustomLayoutRenderers` or something. Naming is TBD. haha

[2022-08-04 09:00] Crevil commented on #9616
@katz95 we just had a discussion internally on that idea actually. By default many developers at Lunar expect to see everything by default and the be able to trim it down. Currently the dropdown doesn't support an "all" option.

[2022-08-04 09:12] benjdlambert commented on #9616
@Crevil do you want to try and contribute something and open a PR for this?

[2022-08-04 10:14] thaicomcs1 commented on #4328
@emoreth hi are you still working on the issue?

[2022-08-04 10:28] stichiboi commented on #12812
First iteration of the `LatestDagRunsStatus`

It's a new component that takes `dagId` and `limit`, and displays the latest (sorted by `start_date`) runs.

![image](https://user-images.githubusercontent.com/38842504/182824714-a02f4316-4647-4c7d-ba67-e42098712103.png)

Only issue is that every row makes 1 request per each `viewable` row, so it might trigger a bunch of requests while searching a long

[2022-08-04 11:00] taras commented on #12909
A combination of these things, if you're open to a PR, I can get one of our devs to create it.

[2022-08-04 11:56] benjdlambert commented on #12909
Yeah draft up a PR, and let's continue the discussion there!

[2022-08-04 12:52] HorcruxAshu opened #12972 "Not able to fetch Shell script file containing ${#} | Reads as end of comment expected got end of file."
## Expected Behavior

My contents directory contains a shell script file that has a line to calculate the length of the array as ${#Array[@]}.
My template directory tries to fetch it. It should be able to able to fetch this.
## Actual Behavior
When it tries to fetch the content directory. It throws an error while trying to fetch the Shell Script from the content directory says, "Expected end of co

[2022-08-04 13:26] benjdlambert commented on #12767
So i'm thinking for now we can treat them as separate features, probably want to rethink about the naming and the API for the entity manifest a little more with some more of the @backstage/maintainers when they come back from holiday next week if thats OK? Gonna add some labels in here for us so that we pick it up next week,.

[2022-08-04 14:43] Crevil commented on #9616
Sure thing 👍 I'll give it a go @benjdlambert

[2022-08-04 14:50] Crevil commented on #9616
I wonder if the `EntityKindPicker` is actually just what needs an implementation ? It was added without an implementation in #5643. WDYT @timbonicus ? Anything I'm missing?

[2022-08-04 15:16] awanlin commented on #9616
As we were running into this as well our solution was to just add this to the `Root.tsx`:

![image](https://user-images.githubusercontent.com/67169551/182883233-67aae9ef-db10-43b7-a12c-10dd313cf6f0.png)

We used the existing `SidebarSubmenu` with a `SidebarSubmenuItem` for each Kind, we left out Locations as they weren't something we felt needed to exposed here. The other benefit is being able to

[2022-08-04 15:29] Crevil commented on #9616
That is actually pretty nice @awanlin . Thanks for sharing.

I have something working now with a multiple choice Kind picker but it has some unforseen consequences. Currently it modifies the `EntityKindFilter` but expanding it to support multiple values. This however breaks any column logic that makes decision on the "current kind", eg. show "this" column if kind is "that" as we do here: https://g

[2022-08-04 15:30] Crevil commented on #9616
@katz95 do you have an opinion here for the Sidebar variant? It defeats the possibility of showing multiple kinds at once, but might just prove to be the better solution after all?

[2022-08-04 15:36] Crevil commented on #9616
You can see a draft of the kind picker here: https://github.com/backstage/backstage/pull/12974

[2022-08-04 15:40] awanlin commented on #9616
@Crevil to be honest doing both would be awesome! Keep going with what you are doing as I think the features you are trying to add - all, multi-select - are worth having

[2022-08-04 15:58] clareliguori commented on #12844
@fabbazon, thinking through the CodePipeline / CodeSuite plugin case:

I don't think it's scalable to have the pipeline ARN -> profile mapping in the static Backstage config, as you have here:
[code]
The scaffolder could create a bunch of new pipelines, and then some admin person would need to go and map each of those new pipelines to a profile in the Backstage config.

So you would need to specif

[2022-08-04 16:45] cmpadden commented on #12812
@stichiboi that's awesome progress -- nice work!

The multiple requests is less than ideal, and may warrant the need to create a plugin backend for handling the requests, but that can be a future endeavor. The current list of rendered DAGs should be pretty small, right?

[2022-08-05 06:00] stichiboi commented on #12812
In my case, yes, since I'm going to pass to the `DagTableComponent` just a couple of DAG IDs (the previous feature we implemented).

But for someone new adding this plugin, he might have a bigger list, and might not care about having the latest status.

We can pretty easily implement a `prop` in the `DagTableComponent` to turn on-off some columns, and set this one off by default

[2022-08-05 08:25] benjdlambert commented on #12893
I'm just trying to understand if it is as simple as adding the `resolveExtensions` or not. The node resolution should automatically work this stuff out as `.json` is a valid extension. Maybe come up with a PR and adding the extension and try it out to see if it works, and if it does raise a PR? :pray:

[2022-08-05 08:46] #11677 closed

[2022-08-05 08:49] namco1992 commented on #12734
I think it's intended that the "Edit Template Form" action only allows "Preview and edit template form", as the description indicated. However it seems no particular reason to restrain it when I asked last time https://github.com/backstage/backstage/issues/12304#issuecomment-1181420856.

[2022-08-05 09:25] benjdlambert commented on #12750
Believe that this is a duplicate of https://github.com/backstage/backstage/issues/11666

[2022-08-05 10:38] Abhay-soni-developer opened #12985 "[RFC] Re-Scaffolding (providing a way to consume the latest template upgrades in easy manner)"
**Status:** Open for comments

We want the consumer to be able to consume the new updated template version which he used to scaffold the current repo.

## Need

currently, once the user creates a repo using any template and later down the line if the particular template is updated. he is not able to consume this template automatically and he has to do manual changes to sync with the latest updates

[2022-08-05 10:41] Abhay-soni-developer commented on #12985
@NishkarshRaj  @Ahampa07

[2022-08-05 10:46] NishkarshRaj commented on #12985
@benjdlambert @freben @Rugvip - it is a custom action we are creating for our team.

We are happy to contribute this after hearing your thoughts to make it abstract and valuable for everyone 💯

[2022-08-05 13:12] tunkl opened #12990 "Scaffolding EntityPicker with default namespace in values"
## Feature Suggestion

We would like to have option which would modify behaviour of EntityPicker which would not skip default namespace, and wrote it into result every time.

## Possible Implementation

I am proposing two changes how to achieve this:
1) Modify plugins/catalog-react/src/components/EntityRefLink/humanize.ts to accept optional parameter which would disable skip of default namespace.

[2022-08-05 13:44] awanlin opened #12992 "GitHub Entity Provider - catalogPath does not support wildcards"
## Expected Behavior

The GitHub Entity Provider should support all the same features as the GitHub Discovery Processor (before the Processor is removed as deprecated). In this case specifically supporting wildcard in the `catalogPath`

## Actual Behavior

While attempting to move from the GitHub Discovery Processor to the new GitHub Entity Provider we ran into a regression where the `catalogPath`

[2022-08-05 13:51] awanlin commented on #12992
@brentg-telus I was wondering if you might have some insight as to how I can add support for this? I'm more than happy to submit a PR just not super sure right now I know where to look.

[2022-08-05 14:31] Fs00 commented on #9571
My colleague @fabuloso and I are working on it, we'll open a PR next week.

[2022-08-05 15:31] Pike opened #12995 "npx @techdocs/cli serve creates error message when using custom theme"
## Expected Behavior

`npx @techdocs/cli serve` should serve docs w/out errors when using a non-standard theme

## Actual Behavior

<img width="1478" alt="Screenshot 2022-08-05 at 17 28 30" src="https://user-images.githubusercontent.com/43494/183110358-1ec91ea8-f150-4fcb-add7-322e50fdda9b.png">

## Steps to Reproduce

1. run `npx @techdocs/cli serve` on a backstage site that has a theme not named

[2022-08-05 15:34] JosefBocan commented on #12730
can be closed issue solved

[2022-08-05 15:34] #12730 closed

[2022-08-05 15:56] JosefBocan opened #12996 "Backstage - check sub-folders"
## Feature Suggestion
I didnt find a solution if we are storing more catalog-info.yml files in one repo and we want to have them all scaned by backstage.

Is there a way or not I found a topic there that it should work on github but we have a gitlab. Can you help me or implement it :*
https://roadie.io/changelog/non-standard-metadata-support/

Please help me with that :)

## Context
the reason is

[2022-08-05 17:52] kevinbutto commented on #4945
hi! any updates on the progress for this? thanks :)

[2022-08-05 20:24] ricardojlrufino opened #12997 "Gitlab (self-managed) catalog-import Error"
## Expected Behavior

Allow import catalog from gitlab self-managed

Using: https://gitlab-dev.xxxx.com.br/engenharia/backstage-catalog-example/blob/master/all.yaml

From : http://localhost:3000/catalog-import

And adding in: app-config.local.yaml
[code]

## Actual Behavior

Error:

[code]

## Steps to Reproduce

I tried 3 variants of URL in 'http://localhost:3000/catalog-import'

https://gitlab-d

[2022-08-05 20:47] ellisio commented on #12698
@cmoulliard That chart does not have a security context defined. Add these to the deployment, and you will see that the Backstage pod fails to boot without `CHMOD 755 /app`.

[code]

To see this fail quicker, you can do this by adding a docker entrypoint to your image and running this image locally with `--user 1000`.

[code]

Add this to `packages/backend/Dockerfile`:

[code]

Then build and run

[2022-08-05 21:02] ellisio commented on #12698
@wanisfahmyDE The way we fixed this is we switched to `node:16-alpine` out of internal preference, and then set `USER ode` before `WORKDIR /app`. This creates all the files under UID 1000.

[code]

Then you can see ownership by running the image locally:

[code]

Then running it starts booting:

[code]

[2022-08-05 21:53] ricardojlrufino commented on #12997
I downloaded and installed master version and it works ...

How can I force the newest version of the plugin?
tried this way but it didn't work
![image](https://user-images.githubusercontent.com/515675/183215674-c596bd44-4ea6-4cb4-9194-5b03d6988f99.png)

[2022-08-06 00:50] backjo commented on #12844
Excited for this RFC - this is long overdue :)

One additional use case to consider here (as @fabbazon touches upon) is dynamically-created accounts in the Catalog. In our Backstage implementation, we use the AWS Organizations APIs (using a role in the master AWS account) to source catalog entries for all other AWS accounts we own. For this type of usage (which IMO will be more prevalent in enterp

[2022-08-06 19:11] darthaud opened #12999 "Auth plugin backend - skip migrations on Database Provider"
## Expected Behavior

Allow skip migrations when Auth plugin provider is Database

using DatabaseOptions to skip migrations

`const databaseManager = DatabaseManager.fromConfig(config, { migrations: { skip: true } });`

The expected is the AuthPlugin with the Database provider doesn't run the migrations.

## Actual Behavior

The Auth plugin doesn't look to the skip migrations option and always run

[2022-08-06 19:16] anicke commented on #12996
Check out https://roadie.io/blog/backstage-monorepo-guide/

[2022-08-06 20:35] darthaud commented on #12999
I am trying to push a branch with a fix suggestion, but I am receiving a 403 error. Could you help me with this, please?

[2022-08-06 22:34] lenichols commented on #11651
Having the same issue.... anyone get around it?

[2022-08-06 22:44] clareliguori commented on #12844
@backjo Can you describe more about this?

If I'm understanding correctly, you have catalog entities that represent the AWS accounts themselves.  And you would want the "AWS Account" entity in the catalog to have accessKey and secretKey annotations, such that other plugins could look up the "AWS Account" catalog entity for a given account ID and retrieve the credentials to make their API calls?

[2022-08-07 04:54] marcus-crane opened #13001 "Scaffolder does not properly support broken symlinks end to end"
A continuation of the discussion in #12377, working through getting the scaffolder to support broken symlinks.

In particular, symlinks that will resolve in their destination repo but are not technically valid in the source template folder or when in scaffolder memory

## Expected Behavior

When a symlink is part of a template, it should be properly committed and pushed to a destination repository

[2022-08-07 04:55] marcus-crane commented on #13001
cc @pvandervelde

[2022-08-07 05:47] markdavidmc0 commented on #11651
Sorry, still no luck.
I gave up on the project until there is better direction on this.

[2022-08-07 06:25] marcus-crane commented on #13001
I've got a minimum viable fix for this that I'll submit as a draft

[2022-08-07 09:22] pieterv-icloud-com commented on #12750
Thx for sending the issue.

[2022-08-07 09:45] mohammadsrahman opened #13002 "Gitlab Scaffolder Meaningful Error Description"
## Feature Suggestion

When using the publish:gitlab scaffolder and the owner (Namespace in gitlab) does not exist then we receive a

[code]

@gitbeaker/node [Documentation](https://github.com/jdalrymple/gitbeaker#debugging) suggests using e.description

## Possible Implementation

[code]

## Context

Better Error Description from the gitlab API as this is already provided in the module. It just n

[2022-08-07 14:17] #11718 closed

[2022-08-07 16:34] #10557 closed

[2022-08-08 05:44] #11738 closed

[2022-08-08 06:36] JosefBocan commented on #12996
You best thats the manual what I was looking for. Its a pitty that you dont have it in docu. May I create the contribution commit to add it to your manual? If I will be able to do it :D

[2022-08-08 06:36] #12996 closed

[2022-08-08 08:29] ivangonzalezacuna opened #13007 "Backstage Link not routing properly"
## Expected Behavior

Using the internal `Link` from the core-components package links to another location within backstage using an object for the `to` prop. Defining the `pathname` and `search` should redirect you to another part of the backstage instance.

## Actual Behavior

Since the `core-components` update to the version 0.10.0, this seems to be broken and not work anymore. Instead of redir

[2022-08-08 09:36] Rugvip commented on #10862
I think the way forward here is to add a check at [this](https://github.com/backstage/backstage/blob/5b830da1b13a6318626763f7632096d37d08da16/plugins/catalog-backend/src/service/DefaultLocationService.ts#L130) point to see if any of the resulting entities already exists in the catalog. We'd probably want to check whether they existing in conflicting or non-conflicting ways too, i.e. whether the co

[2022-08-08 11:49] Rugvip commented on #11853
Dunno about re-upload, seems a bit tricker for a lot of reasons. Download should be pretty straight forward I think. All the data is there already, so just need to package it up with something like https://gildas-lormeau.github.io/zip.js/ in the frontend.

[2022-08-08 11:52] Rugvip commented on #12734
The form preview and template editor are quite different, I think you're using the form preview in this case right? which doesn't have the dry-run capability. With form preview you can load forms from the catalog, because it only needs the template yaml itself. For the template editor you need all of the surrounding file contents, which is why you can currently only load templates that are availab

[2022-08-08 11:57] ArtemChekunov commented on #11650
Hi @emmaindal

try to modify `app-config.yaml`
[code]

[2022-08-08 12:26] benjdlambert commented on #12985
Hey :wave: So this request has popped up a few times in some other places, and I think right now we're thinking that this is possibly not something that is a responsibility of the scaffolder. Internally at Spotify, we treat these things differently, as you maybe don't want to upgrade the entire base template up at the same time as that's pretty risky depending on what has changed, you might want t

[2022-08-08 12:27] #10513 closed

[2022-08-08 12:44] awanlin commented on #12992
Alright, I've narrowed this down to how we are setting the `catalogFile` in the `createLocationUrl` function:

https://github.com/backstage/backstage/blob/f3ed3fd2b7fe9c4bbd48498d4edd81dc36b1c8dc/plugins/catalog-backend-module-github/src/providers/GitHubEntityProvider.ts#L198L200

If I change this to remove the substring like this:

[code]

Then it works fine and both my patterns - `/users/*.yaml`

[2022-08-08 12:47] awanlin commented on #12992
@benjdlambert @pjungermann @brentg-telus could use your help with the right direction for a fix. Removing the substring as mentioned above fixes my issue but I'm not sure if it breaks something else like this bit in the docs about absolute paths.

[2022-08-08 12:54] erikahansen commented on #11853
I'm not sure if it is possible but I was hoping we'd see something like this without having to run backstage. It's only inputs to a template, right?

[2022-08-08 13:03] awanlin commented on #12999
@darthaud just checking but are you doing this from a fork? If not that could be why you are having issues.

[2022-08-08 13:05] freben commented on #13007
Hi! I'll be honest and admit that I personally had no idea that an object was even a valid value for `to`... so we never designed for that to work. You have to form a single string instead. I see that the basis for those props' type is `MaterialLinkProps & RouterLinkProps`, and that's WAY too liberal since the two of them aren't at feature parity. It should have always been a string-only prop. We'

[2022-08-08 13:09] awanlin commented on #11651
@lenichols The fix is to move `better-sqlite3": "^7.5.0` from the `devDependencies` section to the `dependencies` section in the `\packages\backend\packages.json` file.

@markdavidmc0 sorry to hear this has been an issue for you, the above fix does not resolve the problem for you? Could you provide more details then and I can try and help you out?

[2022-08-08 13:19] awanlin opened #13014 "[microsite] Plugin Marketplace - Category Filter"
## Feature Suggestion

It would be great now that there are many items in the Plugin Marketplace that we add a filter by category so that way you can find plugins a little more easily

## Possible Implementation

This could simply be a drop down with all the available categories or as complex as a multi-select and then the cards would filter based on the selection

## Context

Now that there are l

[2022-08-08 13:22] awanlin opened #13015 "[microsite] Plugin Marketplace - New Plugin Sign"
## Feature Suggestion

It would be pretty cool if we had a little tag/sign on plugins that are new making it easier to spot them

## Possible Implementation

This could be as simple as adding a tag/sign to the plugin card is they are less that `n` days old. The age could just be pulled from when the YAML was added to the `microsite`

## Context

This would just give some extra love to newer plugin

[2022-08-08 13:56] ChrisJBurns commented on #4945
@kevinbutto  Yep, we have a Helm Chart for Backstage that currently works (I am using it). https://github.com/vinzscam/backstage-chart. It's a basic version of it, but should work.

[2022-08-08 13:57] ivangonzalezacuna commented on #13007
Hm, good to know. We were using it in the previous releases without issues, until we upgraded to 1.4.0. Now all the cases have been migrated to normal strings, as you recommended, and those weird issues with the url are gone.

But yes, it would be nice to restrict the `to` prop for the core-components, so other people don't suffer the same issues.

By the way, I noticed it's not only happening to

[2022-08-08 14:00] awanlin commented on #12992
I've created a PR to fix this here: https://github.com/backstage/backstage/pull/13016

[2022-08-08 14:03] freben commented on #13007
Yeah, good point! There may be more places indeed.

[2022-08-08 14:13] freben commented on #13007
Alright, I made a pull request (linked above), let's see what the reviewers think about it.

[2022-08-08 14:14] Rugvip commented on #11651
@awanlin thank you for chiming in with a fix!

For anyone having trouble, I'm curious what path you took to deploy Backstage, just to make sure we can add improvements where needed. Did you go through https://backstage.io/docs/getting-started/, https://backstage.spotify.com/learn/standing-up-backstage/, or something else?

[2022-08-08 14:16] ivangonzalezacuna commented on #13007
Cool, thanks!. I have also found the way to force the type to be string. But you were faster :)

Let's see what other people think about it.

[2022-08-08 14:39] twanbeeren commented on #11651
This fix indeed works. Thank you for commenting. My app couldn't find the module, and then tried to install it with npm install, but only the yarn cli works for backstage.

[2022-08-08 14:41] freben commented on #12883
Hey, thanks for the detailed report! In particular, the duplicate rows in the `refresh_state_references` table was a superb thing to spot, because that could hint at some concurrent updates trampling over each other.

We'll have to look closer at this. In the mean time, could I ask how you are scheduling your entity provider in your backend code? Are you using `env.scheduler.scheduleTask()` to mak

[2022-08-08 14:52] jhaals commented on #12019
@awanlin thanks for asking! I believe the majority of the roadblocks are those described in the issue description that all need to be tackled. You're more than welcome to help out with anyone of them that you feel comfortable with. This was mainly skunk work that I did before the summer and I'm not sure when we plan to pick it up again since the existing page if working but the experience could of

[2022-08-08 15:07] Rugvip commented on #12997
`@backstage/integration` is generally depended on directly by plugins, so you'll need to use [yarn resolutions](https://classic.yarnpkg.com/lang/en/docs/selective-version-resolutions/) to force a different version. Or it should work to bump the version of the catalog plugin itself.

This will also be released in the `next` release tomorrow, which is a bit more stable than the nightly builds.

[2022-08-08 15:08] Rugvip commented on #13002
Yep! Would be good if we could clarify that error, is it something you'd like to contribute?

[2022-08-08 15:10] #13007 closed

[2022-08-08 15:10] mohammadsrahman commented on #13002
I could have a go if you want, but I'm not a javascript developer by trade.

[2022-08-08 15:11] #9571 closed

[2022-08-08 15:13] Rugvip commented on #12992
Fixed by #13016 🎉

[2022-08-08 15:13] #12992 closed

[2022-08-08 15:17] Rugvip commented on #12972
Are you using the most recent version of the scaffolder and templating action? The templating syntax uses `${{ ... }}` now to avoid this somewhat common collision.

It should also be possible to escape the substitution, use `fetch:plain` to avoid templating altogether, or use the `copyWithoutTemplating` option to avoid templating certain files.

[2022-08-08 15:21] GoFightNguyen commented on #12883
The `LdapOrgEntityProvider` (and our custom provider which ingests a different type of entity) are scheduled using `env.scheduler.createScheduledTaskRunner()`

[code]

[2022-08-08 15:31] awanlin commented on #11651
@Rugvip you're welcome, happy to help. I've created PR #13021 to add a note about this in the deployment/docker documentation. What do you think?

![image](https://user-images.githubusercontent.com/67169551/183455431-c9468fd3-631e-4aca-8eef-7ce1b21d4320.png)

[2022-08-08 15:52] Rugvip commented on #12893
Ended up with #13022, since we're not aligned with the default webpack config atm

[2022-08-08 17:14] sabinasiddiqi commented on #12561
I am trying to see if I can submit a PR to fix that.

I tried to trace the error and I am see it triggered at these lines: https://github.com/backstage/backstage/blob/master/packages/core-app-api/src/apis/implementations/FetchApi/IdentityAuthInjectorFetchMiddleware.ts#L67
https://github.com/backstage/backstage/blob/master/packages/core-app-api/src/apis/implementations/FetchApi/PluginProtocolResolv

[2022-08-08 17:52] awanlin commented on #12999
Yes, it's not super clear but the first line under the "Cloning the Repository" heading mentions it: https://backstage.io/docs/getting-started/contributors

[2022-08-08 17:52] benjdlambert commented on #12561
@sabinasiddiqi are you submitting large files or is it also the fact that your `.git` repo is being included? You should be able to see from the POST body in the browser dev console client side, the request will never make it to the backend which is why the body is empty as the router won't allow it for parsing. I'd really like to avoid changing the limits, as they are there for a reason, and remo

[2022-08-08 17:53] darthaud commented on #12999
When I read it, I didn't understand that it was required.

[2022-08-08 17:55] sabinasiddiqi commented on #12561
@benjdlambert I tried a really small folder with no .git and the error was still showing. On my local I switched to using the body-parser in the express router and that has seemed to fix the issue.

[2022-08-08 17:55] awanlin commented on #12999
That's fair, I'd also read through this as well if you haven't yet

[2022-08-08 17:56] awanlin commented on #12999
https://github.com/backstage/backstage/blob/master/CONTRIBUTING.md

[2022-08-08 18:00] sabinasiddiqi commented on #12561
Just to be clear - the fix isn't to change the limits. It is to use the body parser package with the same limits. I was thinking of exporting the const for MAX_CONTENT_SIZE [here](https://github.com/backstage/backstage/pull/12176/files#diff-6928ff0c740df09193a465f32c76049fc80e5002629c4f95b0d39bdf78db5e7dL33) and importing it where the router is used so the same limit is used when setting it.

[2022-08-08 18:25] sergeyshevch commented on #10303
@pavshu I have a similar setup with the dex. If you want I can share some of it with you. You can contact with me by email

[2022-08-08 21:18] egnwd opened #13034 "[Github Pull Requests Board] Ownership doesn't match all owned entities"
## Expected Behavior

When visiting teamX's pull request page I should see PRs related to all entities owned by teamX.

## Actual Behavior

I see all PRs of entities with the `spec.owner`: `teamX` (but if a component has owner `Group:teamX` then these are not included)

## Steps to Reproduce

1. Create a component and set the owner to `Group:teamX`
2. Ensure the component has the `github.com/proje

[2022-08-08 21:21] sabinasiddiqi commented on #12561
Okay so now that I have been digging into this it looks like there are multiple issues that can lead to this warning:
1) Using the wrong package i.e. for express >-4.0 we should be using the bodyParser in the express router - this one is what my local fix fixes - and before doing that no matter the size of my files, I was getting the same `PayloadTooLargeError: request entity too large` error.

I

[2022-08-09 05:56] jinnjwu opened #13042 "backstage triggers ansible playbook"
## Feature Suggestion

## Possible Implementation

## Context

[2022-08-09 06:27] Ahampa07 commented on #12917
@Rugvip Could you please share your input or approach?

[2022-08-09 08:20] pavshu commented on #10303
Thank you for the offer @sergeyshevch :bow:! I got it working yesterday by following [the advice from Discord user `semogr`](https://discord.com/channels/687207715902193673/1005141701750435971/1006180553554415707).
I love the Backstage community! :heart_eyes:

[2022-08-09 10:06] Ahampa07 commented on #12917
@Abhay-soni-developer

[2022-08-09 10:59] benjdlambert commented on #12917
@Ahampa07 I think theres some unanswered questions here that probably need answering. https://github.com/backstage/backstage/issues/11160#issuecomment-1123321493

[2022-08-09 11:21] yj12 commented on #9411
can I configure - disable CORS ?

[2022-08-09 11:26] Apaachai commented on #7664
@benjdlambert Yes please, I would like to provide a solution (create a pull request) for this issue.

[2022-08-09 12:06] benjdlambert commented on #7664
You're assigned! Sorry I missed your previous message!~

[2022-08-09 12:11] benjdlambert commented on #9411
@ankitjain1510 You would normally have a reverse proxy in front of backstage to do the termination of SSL. Wouldn't recommend running webpack in production, but you can also provide `https` settings to the `app-config.yaml` to do the SSL termination in `nodejs`.

https://github.com/backstage/backstage/blob/master/packages/backend-common/config.d.ts#L55-L68

Something like this in `app-config.yaml`

[2022-08-09 12:48] benjdlambert commented on #13042
Need some more information here. Please re-open the ticket and fill out all the fields.

[2022-08-09 12:48] #13042 closed

[2022-08-09 13:02] tragiclifestories opened #13049 "Allow explicitly setting project ID in techdocs GCS publisher"
## Feature Suggestion

Add a `projectId` field to the `googleGcs` publisher config object, and use that to initialise the storage client if present.

## Possible Implementation

[code]

Then, when initialising the storage client, you would set the `projectId` from the config.

## Context

Currently the publisher grabs the project ID willy-nilly from the credentials blob it uses. CF
https://github.

[2022-08-09 14:12] blueboxes commented on #12891
I am seeing the same thing, this may help identify the issue.

![image](https://user-images.githubusercontent.com/985852/183671250-4b5ac063-3dae-411a-848f-95a5b5b17f48.png)

[2022-08-09 14:36] awanlin commented on #12891
Could this be related to this change: https://github.com/backstage/backstage/commit/b2dd93f207c4812632aaaa731ad96fd715cb664f ?

@emmaindal can you give us some insight on this, please?

[2022-08-09 15:00] Smorenoz opened #13051 "DaemonSet as part of Kubernetes core resources"
## Feature Suggestion

Going through the `KubernetesFanOutHandler` service, I noticed that the `DEFAULT_OBJECTS` array is missing an entry for `daemonsets` which makes not possible for the actual fetching of these resources.

## Context

I am currently working on trying to display helpful information about `DaemonSets` existing on a cluster.

[2022-08-09 18:04] digogid opened #13055 "Restrict catalog-import visibility to GitHub App Owner only"
## Feature Suggestion

Backstage should have an option to restrict sources of templates to a specific organization (rather be GitHub App owner). So Backstage will avoid when someone tries to import a new template from outisde that organization.

## Possible Implementation

Looking at Backstage's source code, we found this as a possible ways to do so:

At plugins/catalog-import the CatalogImportApi

[2022-08-09 20:39] jamieklassen commented on #12455
(co-authored with @chinigo)

At VMware we had 3 different teams building plugins for visualizing CRDs related to their domains of expertise, and ended up building a similar kind of client library. We found those teams had some common needs that this library supported:

* Querying for all objects of a given type (potentially constrained to a label selector or namespace) -- this has since been at le

[2022-08-10 05:59] ankitjain1510 commented on #9411
@benjdlambert Thanks for the response. Let me give it a try.

[2022-08-10 06:07] pieterv-icloud-com commented on #12750
Deployed to AWS and not having the issue anymore.

[2022-08-10 06:07] #12750 closed

[2022-08-10 07:37] acierto commented on #6039
Great workaround, the only problem with that, that parse-url has critical vulnerability on this version :(

https://nvd.nist.gov/vuln/detail/CVE-2022-2216

[2022-08-10 10:22] Blackbaud-LeoWanderer commented on #12254
hi @taras, out of curiosity, is the plugin you're developing planned to be merged to this repo as a contribution or will it be an external plugin? if it will be a contribution to this repo, is there a channel/thread/discussion to talk and contribute to it? and do you have a tentative date for getting it merged?

I looked at the code and run some experiments with some graphql queries, and your impl

[2022-08-10 11:58] Rugvip commented on #12893
Closing as #13022 is merged

[2022-08-10 11:58] #12893 closed

[2022-08-10 12:14] Rugvip opened #13074 "Generated backend HTTPS certificate age check should check expiration"
## Feature Suggestion

The following logic is currently used to check the whether we need to generate a new HTTPS certificate for development: https://github.com/backstage/backstage/blob/5330e3758888b46da7833cdd2ae8efd39797044e/packages/backend-common/src/service/lib/hostFactory.ts#L100-L101

It would be preferable to check the actual certificate expiration instead, since the file could be recreat

[2022-08-10 12:17] SathishKumar140 commented on #12893
Thanks @Rugvip it will work

[2022-08-10 13:37] #11651 closed

[2022-08-10 13:41] awanlin commented on #11651
The note above has been replaced by a better solution via #13079

[2022-08-10 14:02] Rugvip opened #13081 "[Backend System] Overview"
[RFC](https://github.com/backstage/backstage/issues/11611), [Milestone](https://github.com/backstage/backstage/milestone/36)

The following is a list of issue task collections that are in scope for the initial Backend System release. All of the below issues will evolve over time as more requirements are discovered.

- #13082 - the Core API surface
- #13083 - building out service (API) definitions

[2022-08-10 14:02] Rugvip opened #13082 "[Backend System] Core API"
## Backend System Info

- [RFC](https://github.com/backstage/backstage/issues/11611)
- [Overview Issue](https://github.com/backstage/backstage/issues/13081)
- [Milestone](https://github.com/backstage/backstage/milestone/36)

## Core API Tasks

Tasks related to the Core API surface

- [x] @backstage/backend-defaults, #13085, #13078
- [x] Merge custom services with default services to be able to rep

[2022-08-10 14:02] Rugvip opened #13083 "[Backend System] Build out Services"
## Backend System Info

- [RFC](https://github.com/backstage/backstage/issues/11611)
- [Overview Issue](https://github.com/backstage/backstage/issues/13081)
- [Milestone](https://github.com/backstage/backstage/milestone/36)

## Service Tasks

Tasks related to building out service definitions and implementations.

- [x] Service corresponding to app-backend is missing, may need new capabilities adde

[2022-08-10 14:02] Rugvip opened #13084 "[Backend System] Migrate Plugins"
## Backend System Info

- [RFC](https://github.com/backstage/backstage/issues/11611)
- [Overview Issue](#TODO)
- [Milestone](https://github.com/backstage/backstage/milestone/36)

## Plugin Tasks

Tasks related to migrating existing plugins to be part of the new Backend System.

- [ ] Catalog
    - [x] Initial
    - [ ] Options
        - [ ] Port all existing options, split out if needed
    - [ ]

[2022-08-10 14:02] Rugvip opened #13085 "[Backend System] Add @backstage/backend-defaults"
## Feature Suggestion

Add @backstage/backend-defaults, move all default implementations and `createBackend` there. Leave `createSpecializedBackend` in `@backstage/backend-app-api` without any service implementations at all.

It may be the case that `backend-defaults` is implemented as a common environment in the future, as described by #XXX. For the initial implementation of `backend-defaults` we

[2022-08-10 14:02] Rugvip opened #13086 "[Backend System] Add alpha utils to @backstage/backend-test-utils"
## Feature Suggestion

Add test utilities that provides an easy way of mocking service implementations and anything else you'd need for testing packages based on the new backend system.

Since `@backstage/backend-test-utils` already exists as a stable package, we need to add these new utilities as `/alpha` exports. If that is not possible for some reason we likely want to consider adding these uti

[2022-08-10 14:02] Rugvip opened #13087 "[Backend System] Pattern for common overridable utilities outside of core"
## Discussion

How do we handle things like CatalogClient and GitHubCredentialsProvider? Are they services? Do they perhaps live in a separate package and is a service that’s depended on more directly but that can be overridden globally in the backend? The default implementation would perhaps be registered automatically as part of depending on the service, but the backend app can override it if ne

[2022-08-10 14:03] Rugvip opened #13088 "[Backend System] Shared Environment Definitions"
## Discussion

We likely want the ability to define some form of common backend environments in the form of an internal package used to configure a common baseline for all Backstage services deployed within an organization. This could carry things like service implementations and default options. i.e. @internal/backend-common

## Context

#13082

[2022-08-10 14:06] Rugvip commented on #13085
Fixed by #13078

[2022-08-10 14:06] #13085 closed

[2022-08-10 14:14] Rugvip commented on #11611
Implementation is underway, tracked through a meta issue at https://github.com/backstage/backstage/issues/13081

[2022-08-10 14:24] taras commented on #12254
@freben @vinzscam, @cowboyd reminded me that we did try using `catalogApi.getEntities` for DataLoader. It was slower than making an HTTP request for each entity using `getEntityByName`. This is the reason why we didn't end up using it. It was almost a year ago so I forgot.

@Blackbaud-LeoWanderer your timing is impeccable. We finally released the GraphQL Plugin for Backstage earlier this week. The

[2022-08-10 14:28] freben commented on #12254
I bet there's a breaking point where the batch fetch is faster than individual items. It'll surely depend on the available concurrency etc too

[2022-08-10 15:18] awanlin commented on #12891
So adding back the reduction in size fixes this issue. I've create PR #13090 with the fix

[2022-08-10 15:40] AtebMT commented on #833
We'd also been keen to use a teamcity plugin.

[2022-08-10 16:16] skgandikota opened #13091 "Losing Sign-in on every refresh"
We are using two sign in providers - Microsoft & Github ; Microsoft is our primary where we validate users and github  sign for working with templates where  we have git based scaffolder actions .  On every refresh - we are loosing github sign in - here is my auth.ts.   All preloaded groups  are populated with the microsoft sign in name, so we decided add github name as new entity to the user

[co

[2022-08-10 16:24] Aj-vrod commented on #6039
FYI: the issue https://github.com/IonicaBizau/parse-url/issues/32  was closed and a new `parse-url` version was released ([8.0.0](https://github.com/IonicaBizau/parse-url/pull/55)) with a [bump](https://github.com/IonicaBizau/parse-url/pull/35) `"normalize-url": "^7.0.3"` and a [fix](https://github.com/IonicaBizau/parse-url/pull/54) for the esm errors.
The regex fix is on the way https://github.co

[2022-08-10 20:05] bittrance opened #13099 "ghcr.io/backstage/backstage fails to build techdocs"
## Expected Behavior

I'm trying out Backstage by running the container image built by the [deploy Docker image pipeline](https://github.com/backstage/backstage/blob/master/.github/workflows/deploy_docker-image.yml). Since the techdocs plugin is included and visible in the UI (via the "View Techdocs" icon), I had assumed that a registered API repository would get its included techdocs built and pr

[2022-08-10 20:43] Apaachai commented on #7664
No worries :) I have now created a PR for this issue now, please take a look whenever your time allows it.

[2022-08-10 22:05] sabinasiddiqi commented on #8870
How to we register feature flags that can be used in the scaffolder templates? And how do we assign them to specific users?

[2022-08-11 00:23] #11856 closed

[2022-08-11 05:28] MadhumithaMarane commented on #13091
Same issue need help

[2022-08-11 05:29] Divyenth-K commented on #13091
Facing the same issue as well, would be great if someone could help on this.

[2022-08-11 06:40] SEETechWolf commented on #12853
Thanks for this Informations. @benjdlambert `pluginDivisionMode` made the trick I needed 👍

Can this be added to the official Documentation?

[2022-08-11 06:53] mufaddal7 commented on #12760
@benjdlambert @Rugvip Please take a look

[2022-08-11 08:24] jhaals commented on #7664
Closing this! Please reopen if needed :)

[2022-08-11 08:24] #7664 closed

[2022-08-11 08:26] jhaals commented on #6039
Sounds like this ready to go! Does anyone want to pick this up? 🙏

[2022-08-11 08:47] jhaals commented on #13051
I believe you fixed this with #13053 closing this issue, please reopen if needed.

[2022-08-11 08:47] #13051 closed

[2022-08-11 09:04] benjdlambert commented on #8870
You can use `useApi(featureFlagsApiRef)` to register flags, and then they will be in the `Feature Flag` menu under user settings. Or you can register them when creating a plugin yourself `createPlugin({ featureFlags: [] })` I believe.

[2022-08-11 09:09] benjdlambert commented on #6039
@jhaals upon further inspection it looks like we're still waiting for https://github.com/privatenumber/parse-url/pull/1 to make it to upstream. And then it should be ready I believe?

[2022-08-11 09:09] jhaals commented on #13055
Hi @digogid! You're right that there's a risk of evil minded users doing bad things if they can edit the template source.
That's why it's recommended to not allow importing of custom templates using catalog import. This is already the default if you create a new backstage app and is controlled by the `rules` section in the configuration file.

Most users lock down their templates repositories with

[2022-08-11 09:11] benjdlambert commented on #12760
@mufaddal7 @NishkarshRaj I wonder if this has crossover with #5848? Do either of you want to try and raise a PR moving us in a better direction? Otherwise I can maybe look at it part of #10430 big meta issue>?

[2022-08-11 09:29] NishkarshRaj commented on #12760
@benjdlambert yes we are interested in contributing this 💯

[2022-08-11 09:37] benjdlambert commented on #12853
I raised this: https://github.com/backstage/backstage/pull/13104

[2022-08-11 11:14] jhaals commented on #13014
Yes that sounds like a great idea. Would it be worth doing this as a followup after Docusaurus 2?

[2022-08-11 11:16] freben commented on #12897
And human writableness! As in, it should be intuitive and easy for people _in other parts of the org_ (without your intimate deep knowledge of your things and elevated access etc) to type out relations by hand to your thing.

Indeed. Some naming patterns and taxonomies (proper use of kinds, types, labels etc) always need to be established when designing your org specific entity system, and then do

[2022-08-11 13:15] digogid commented on #13055
Thanks for the response, @jhaals.
In this scenario I need to place a yaml file inside backstage repo containing all my template URLs?
I didn't get what I need to put in target property neither its content.

[2022-08-11 13:16] digogid commented on #13055
Thanks for the response, @jhaals.
In this scenario I need to place a yaml file inside backstage repo containing all my template URLs?
I didn't get what I need to put in target property neither its content.

[2022-08-11 14:02] taras commented on #12909
@benjdlambert, @dagda1 submitted a PR with our first pass at this functionality. Please, let us know what we missed. Once the implementation is mergable, we'll update the docs to explain the new API.

[2022-08-11 14:03] #12853 closed

[2022-08-11 14:05] jhaals commented on #13034
Gentle nudge to @gregorytalita that created this plugin :)
Group is the default when it's not prefixed but both should probably be supported in the end.

[2022-08-11 14:56] asheerrizvi commented on #12609
@benjdlambert I am not able to find the time to work on this. I am un assigning myself from this, maybe someone else will be able to take this up. :|

[2022-08-11 16:51] #7870 closed

[2022-08-11 17:30] sabinasiddiqi commented on #8870
Thank you! Is there a way for an admin user to assign flags instead of the user turning it on and off themselves?

Also there seems to be a UI bug in the user settings feature flags tab - I added a feature flag for the scaffolder plugin in Root.tsx like so:
[code]

And the first time I looked at feature flags in the user settings, it shows up once but when I click elsewhere and come back to user s

[2022-08-11 17:56] tonedef commented on #12252
Thanks Taras! Actually interested in this. We have some internal tools that leverage React 18 that we need to integrate with Backstage.

[2022-08-11 20:15] chaughawout opened #13118 "Gitlab Discovery Processor should automatically add the project-id if not present in catalog-info.yaml / backstage.yaml"
## Feature Suggestion

The `@loblaw-sre/backstage-plugin-gitlab` depends on the gitlab project-id to be added to the entity in a specific location. It would be great if the discovery processor could automatically populate that id into that location so that users don't have to specify it in their yaml files. If the user does specify a project-id in the yaml file, the plugin could skip the attempt t

[2022-08-11 20:19] snackie742 opened #13119 "SidebarPage not getting resized when drawerOpenWidth is overriden"
## Expected Behavior

SidebarPage should resize to account for the overridden value of drawerWidthOpen

## Actual Behavior

SidebarPage does not resize and the Sidebar overlaps the SidebarPage content

## Steps to Reproduce
Add the following to Root.tsx
`
 <SidebarPage>
    <Sidebar sidebarOptions={{drawerWidthOpen: 250}}>
      <SidebarLogo />
...
`

![Screen Shot 2022-08-11 at 3 13 56 PM](https:

[2022-08-11 20:36] jeremyguarini commented on #11856
I'm actually seeing this as well after upgrading our fork to the 1.4.0 release/tag. I've tested setting the BACKSTAGE_CLI_BUILD_PARALLEL and it does seem to prevent/stop the package.json files from being updated.

Not sure what additional information would be helpful here, but let me know.

[2022-08-11 21:19] arul-opsverse commented on #7876
+1 for this plugin. This will be very useful.

[2022-08-11 22:44] cthtrifork commented on #692
I keep getting `No implementation available for apiRef{plugin.vault.service}` in the frontend. Any ideas? running backstage 1.4

[2022-08-12 02:52] craig-grab commented on #11686
Hi @katz95 could we get your input on this proposed update?

[2022-08-12 06:58] jeevagan1 opened #13122 "Web UI not showing"
I Installed it backstage on my local machine but the web UI not working

## Actual Behavior
backstage installing and it runs without showing any error when i try to open the web portal in the port 3000
it shows " This site can't be reached "

## Steps to Reproduce

1. Step 1
2. Step 2
3. ...

## Context

## Your Environment
I'm using Ubuntu 22 server edition

- Browser Information:

- Output of `y

[2022-08-12 08:07] jhaals commented on #13122
Hi, sorry to hear that. I'm not able to reproduce this myself, would you be able to supply the commands used for starting the backend?

I can `yarn start` and then once it's fully started reach the website. Please supply the log output.
Also note that `yarn start-backend` is needed to display some useful data but you should at least see backstage with some errors if you only run yarn start.

[2022-08-12 09:16] danielpsf commented on #10289
It seems [BESTSELLER/backstage-plugin-kubecost](https://github.com/BESTSELLER/backstage-plugin-kubecost) is archived. 🤔

I wonder if it isn't worth forking it and putting it at https://github.com/backstage/backstage... 🧐

[2022-08-12 10:38] jeevagan1 commented on #13122
yarn start :
'''
:~/backstage$ yarn start
yarn run v1.22.19
$ yarn workspace app start
$ backstage-cli package start
Loaded config from app-config.yaml
fatal: not a git repository (or any of the parent directories): .git
WARNING: Failed to read git commit, ExitCodeError: Command 'git rev-parse HEAD' exited with code 128
fatal: not a git repository (or any of the parent directories): .git
WARNING:

[2022-08-12 10:47] jeevagan1 commented on #13122
yarn start :
[code]

yarn start-backend:
[code]

[2022-08-12 11:44] #13086 closed

[2022-08-12 12:48] #11531 closed

[2022-08-12 13:11] jhaals commented on #13122
Hmm, I have the same output which as you.
What does `curl http://localhost:3000` give you?

[2022-08-12 13:38] indukuriv commented on #10674
when I run the above index.ts, sonaqube.ts file after modifying based on the suggestion above. I'm getting an error TS2741: Property 'rejections' is missing in type import("../node_modules/winston/index").Logger but required in type 'import("../@backstage/plugin-sonarqube-backend/node_modules/winston/index").Logger'.       logger: env.logger

index.d.ts: rejections: RejectionHandler;
"rejections"

[2022-08-12 14:24] timharris777 opened #13126 "Github Discovery not filtering properly and eating our Github App API rate limit"
Followed the docs here https://backstage.io/docs/integrations/github/discovery for setting up Github Discovery. I found it strange that I had to run `yarn add --cwd packages/backend @backstage/plugin-catalog-backend-module-github@next` instead of `yarn add --cwd packages/backend @backstage/plugin-catalog-backend-module-github` because the stable package didn't have `GitHubEntityProvider` in `@back

[2022-08-12 14:26] timharris777 commented on #13126
@jemejones, adding you for tracking purposes, and in case you want to add anything.

[2022-08-12 14:29] awanlin commented on #13126
The GitHub Entity Provider isn't in a full release yet just the weekly `next` release. The next full release will happen with 1.5.0 on Tuesday August 16th

[2022-08-12 14:35] awanlin commented on #13126
As for this issue, I recently worked with the new GitHub Entity Provider and I'm pretty sure it works the same way so looks at all repos then finds a match, then does it's work of creating locations.

[2022-08-12 16:13] timharris777 commented on #13126
I found the bug in the code here: https://github.com/backstage/backstage/blob/5e3761d2e7c0873604dd251460488be926156105/plugins/catalog-backend-module-github/src/providers/GitHubEntityProvider.ts#L188.

It is returning all archived repos in addition to the one we want. I'll create a PR, but this
[code]
needs to be changed to this
[code]

[2022-08-12 16:29] timharris777 commented on #13126
PR is ready to go

[2022-08-12 16:34] #12999 closed

[2022-08-12 20:39] seshank-db commented on #7876
+1 for this

[2022-08-13 06:49] LvffY commented on #12260
@iamEAP do you have any examples on how to generate markdown from Javadoc, PythonDoc and so on ?

I've never heard (or TBH search) for such features, but this could be quite a good temporary workaround :)

@soapraj did you get time to review this issue ?

[2022-08-13 06:54] LvffY commented on #10431
Up for stale

[2022-08-13 11:12] yj12 commented on #13099
I have same issue. looking for the solution

[2022-08-13 13:45] #11632 closed

[2022-08-13 13:45] #11465 closed

[2022-08-13 20:50] asselin commented on #12031
bump

[2022-08-13 21:57] shanthisagar-dhanya-kumar-db opened #13134 "Analytics events not getting generated when using oauth"
Below is some of our configuration.

packages/app/src/api.ts
[code]
[Note :  DBAnaltytics is our custom analytics module responsible to capture the events and store it in our database for the time being ]

Our App.tsx has the below content for signin page
[code]
So we use guest as well as providers, which in this case we just oauth provider configured in the identityProviders.ts as below
[code]
No

[2022-08-14 07:25] LvffY commented on #10569
@Neemys we need to try the solutions provided here

[2022-08-14 08:52] LvffY commented on #10402
@Rugvip do we have any update on this issue ?

[2022-08-14 21:06] #11662 closed

[2022-08-15 02:59] danangarbansa opened #13142 "Add HTTP2 Server Support"
## Feature Suggestion

To add option in the `app.config.yaml` config to enable HTTP2 server, something like

[code]

This config should enable the HTTP2 server in the backstage backend.

## Possible Implementation

Seems like this is achievable by modifying the [hostFactory.ts](https://github.com/backstage/backstage/blob/8a534e0db9938350c8d55bccbb62dd10dff2eab9/packages/backend-common/src/service/

[2022-08-15 06:56] #10529 closed

[2022-08-15 07:12] omerfarukdogan commented on #12037
Any comments?

[2022-08-15 08:11] Rugvip commented on #10402
@LvffY nothing except that figuring out a pattern for `GithubCredentialsProvider`-like things in general is in scope for #13082

[2022-08-15 08:11] jhaals commented on #11988
Fixed! Closing :)

[2022-08-15 08:11] #11988 closed

[2022-08-15 08:34] #11884 closed

[2022-08-15 09:23] punkle commented on #12897
Thanks @freben

[2022-08-15 09:33] benjdlambert commented on #11666
Going to try and get a fix in for this to restore previous behaviour for now, until we can sort out the Backend System work. Will hopefully ship this part of the 1.5 release tomorrow so users are not blocked on upgrading because of this.

[2022-08-15 09:36] jhaals commented on #13142
Hi @danangarbansa,

I think it make sense to update this to only `http2.createServer({ allowHTTP1: true }, app);` as it would be compatible with both to my understanding. What do you think?

[2022-08-15 09:36] jhaals commented on #13134
@iamEAP do you have any pointers to give for this issue?

[2022-08-15 09:40] jhaals commented on #13055
You can host your template yaml's In a separate repository as long as you trust the authors/contributors or a file on disk, it's what fits your deployment/organisation best.

The documentation explains both how you create your own templates and how to load. See https://backstage.io/docs/features/software-templates/adding-templates for more information.

[2022-08-15 09:42] jhaals commented on #10289
We'd prefer if it would be forked by an organisation or individual that would be willing to update and develop the plugin. It can then be added by the plugin marketplace by placing a file in this directory https://github.com/backstage/backstage/tree/master/microsite/data/plugins

[2022-08-15 09:58] punkle commented on #11666
I was attempting to address this issue with this proposed patch https://github.com/backstage/backstage/pull/12542

[2022-08-15 10:14] FreshlyBrewedCode commented on #10402
Hi! We are currently running a Backstage PoC in our team and not having the ability to import from multiple Azure DevOps organizations is a major deal breaker for us. I am currently looking through the code and evaluating if it would be possible for me to come up with a basic implementation.

I would consider contributing but it looks like you are already considering a more general approach (simil

[2022-08-15 11:03] benjdlambert commented on #11666
Yep - We've not got around to reviewing that just yet @punkle. Thinking that the smaller change for now will at least get things back running again for now, and we can take a look at the `identityApi` as soon as possible! :prayt:

[2022-08-15 11:29] iamEAP commented on #13134
Hey, @shanthisagar-dhanya-kumar-db.

Unfortunately, this kind of issue can be hard to debug, but I think you're right to be honing in on the `identityApi` part of it.

First things to check:

- Is `props.onSignInSuccess()` being called with the identityApi in both cases?  I ask because any call to `identityApi. getBackstageIdentity()` in your custom analytics API implementation will hang indefinit

[2022-08-15 11:34] #11666 closed

[2022-08-15 13:18] digogid commented on #13055
Thanks a lot, @jhaals.
Gonna try it and return here to tell the response.

[2022-08-15 13:48] anisjonischkeit opened #13151 "TypeScript: Return type of window.fetch incompatible with ResponseError.fromResponse"
## Expected Behavior

The following should have matching types:
[code]

## Actual Behavior

The above snipet results in the following error:

[code]

## Steps to Reproduce

See example above

## Context

This seems to be a missmatch with the type of `ResponseError.fromResponse`:
[code]

and
[code]

## Your Environment

Google Chrome 104.0.5112.79

- Output of `yarn backstage-cli info`:

[code]

[2022-08-15 13:53] shanthisagar-dhanya-kumar-db commented on #13134
I think I found the root cause on analytics event capture.

Basically what we are doing is
For analytics events to be captured and sent to backend to persist, we are checking whether both the username and user email are present as part of the identity object.
For Guest login, it is by default set to "Guest" and "guest@example.com"
For EiDP login, what we capture and store in the identity object is

[2022-08-15 14:00] planeiii-te opened #13152 "[create-app] The template installs config for `lint-staged` although the package is not installed"
Currently the config for `lint-staged` is installed even though the package itself is not a part of the project. I believe `husky` and `lint-staged` should be added to the `create-app`. Alternatively the unreferenced config can be removed.

## Expected Behavior

One of two things should happen. Either the related tools (`husky` and `lint-staged`) should be installed or the irrelevant config should

[2022-08-15 15:14] Rugvip commented on #13087
Moved this forward today. Outcome was that we'll implement "default factories" for service refs, looking something like this:

[code]

They will be used to construct instances of the services if no explicit factory is registered, which avoids the situation where a bunch of service factories need to be registered in the backend when installing a plugin or module. The default factory is async in ord

[2022-08-15 16:53] GoFightNguyen commented on #12883
@freben Any advice on what to do regarding the "Actual Behavior" section from the original post?
For 1, should we manually delete/unregister them?
For 2, I'm not sure how to identify what should be orphaned without manually querying the source to see if the entity still exists

[2022-08-15 18:43] cloudoutloud opened #13161 "Update ALB/Azure Authentication documentation"
## Possible Implementation

Update alb tutorial documentation.
https://github.com/backstage/backstage/blob/master/contrib/docs/tutorials/aws-alb-aad-oidc-auth.md

## Context

I think this documentation needs updating the code snippets, especially since the backend has a lot of deprecated resources listed.

`ctx.catalogIdentityClient`
`ctx.logger`
`ctx.tokenIssuer`
All deprecated ?

error

[code]

[2022-08-15 20:30] #9983 closed

[2022-08-16 00:24] sylus commented on #10289
Just mentioning here in case the kubecost folks themselves had any opinions on this.

@AjayTripathy

I'd be happy to help in supporting it as well, as this integration will be important for my team :)

[2022-08-16 01:24] danangarbansa commented on #13142
@jhaals yeah good point, I'll submit a PR for that

[2022-08-16 02:46] danangarbansa commented on #13142
@jhaals seems like the `allowHTTP1` option is only available in the `createSecureServer` method and looks like this won't be implemented soon. Reference: https://github.com/nodejs/node/issues/26795.

Based on this, looks like enable it by option would be the best for the non-https server.

What do you think?

[2022-08-16 08:07] #13126 closed

[2022-08-16 08:22] #12891 closed

[2022-08-16 08:41] benjdlambert commented on #11686
Hey :wave: So a little update is that Kat has moved on to do other things and is no longer working on the Backstage project 😢 We're in the process of spinning up a team that's going to be solely focused on design and ux, but in the meantime, I think we should just use our best judgement for now. Let's whip up a PR and discuss more in there I think 👍

[2022-08-16 10:19] Abhay-soni-developer commented on #12917
are we storing the token from auth provider in database or in cache, if yes than how should we get them.

[2022-08-16 10:38] shailendra-ahir-cbre commented on #10121
Is it available in stable release ?

[2022-08-16 13:44] jhaals commented on #692
@cthtrifork sorry to hear that you're having issues, would you be able to open a dedicated issue for this problem with this information alongside how the plugin is installed.
I'm going to close this issue as the Vault plugin is live 🚀

[2022-08-16 13:44] #692 closed

[2022-08-16 13:50] freben commented on #12890
I'd argue the opposite (which also led to this change initially) - "search" is a word that's reserved for the actuals search functionality of the overall Backstage, while "filter" means "cut down this set to a smaller one by filtering it".

I'm not sure that this is right, in a linguistic or logical sense 🤔

[2022-08-16 16:53] taras commented on #12254
👋 I mentioned during today's Catalog Sig meeting, we created a Batch Loader plugin for Backstage. It doesn't currently have a REST API, it talks directly to the catalog. It only tested on Postgres https://github.com/thefrontside/backstage/tree/main/plugins/batch-loader. In our performance tests, we found that fetching 1000 nodes with GraphQL went from 4200ms to 160ms.

[2022-08-16 17:07] digogid commented on #13055
@jhaals I tried to use a wild card, something like `https://github.com/myorg/myrepo/blob/main/*/template.yaml` or `https://github.com/myorg/myrepo/blob/main/templates/*.yaml` to be able to group and import all my trusted templates at once.
But it seems like it is not possible. Is there a way to do so?

[2022-08-16 17:29] digogid commented on #13055
It worked like a charm.
Thanks again for helping us, @jhaals.

[2022-08-16 17:29] #13055 closed

[2022-08-16 20:02] zgriesinger opened #13179 "Apache Airflow Plugin does not send Auth Cookies to Proxy"
## Expected Behavior

When using the airflow plugin with
https://github.com/backstage/backstage/tree/master/plugins/apache-airflow
_and_ configuring the proxy plugin like this
[code]
I expect to require Backstage Auth to view airflow resources.

## Actual Behavior

All calls return Unauthed. (or if you remove the auth middleware on the proxy registration it works)

## Steps to Reproduce

1. Config

[2022-08-16 20:52] edusouza commented on #10866
Did someone get this fixed?

[2022-08-16 20:59] asarenkansah commented on #11119
@HieuMinh67 can you give a more detailed explanation of what worked for you? What does it mean that you "insert auth inside backend: in app-config.yaml"

[2022-08-16 21:06] kunickiaj opened #13180 ".dockerignore src exclusion breaks multi-stage builds"
## Expected Behavior
Docker multi stage build from docs completes successfully.

## Actual Behavior
Fails with the following error:

[code]

## Steps to Reproduce

1. Use the Dockerfile at https://backstage.io/docs/deployment/docker#multi-stage-build
2. `docker build -t backstage .`

## Context

I noticed that the issue was introduced by the following commit https://github.com/backstage/backstage/

[2022-08-17 08:18] ghelyar opened #13186 "techdocs-cli generate fails with manifest for spotify/techdocs:v1.1.0 not found"
## Expected Behavior

docs generated

## Actual Behavior

[code]

## Steps to Reproduce

[code]

## Context

This seems to happen on any version of the `@techdocs/cli` package, including 1.1.3 and 1.2.0

It seems to be trying to download the `v1.1.0` tag of the docker image, but [that doesn't exist](https://hub.docker.com/r/spotify/techdocs/tags) - at the time of writing, the latest is `spotify/te

[2022-08-17 08:56] ghelyar commented on #13186
From what I can tell by digging through the code, this seems to be caused by `defaultDockerImage` being set to `spotify/techdocs:v1.1.0`, which does not exist, rather than `v1.0.4`, which does exist.
https://github.com/backstage/backstage/commit/23abde02b63e9dda7197c6f1c70f9ac4e1e09939
https://github.com/backstage/backstage/commit/e7d8ef03d37419ec7036fc5588fe6d2267519d59

but I would have thought

[2022-08-17 08:59] iamEAP commented on #13186
It looks like there was a problem in the build step associated with the `v1.1.0` release tag that caused it to [publish an old manifest instead](https://github.com/backstage/techdocs-container/runs/7609912296?check_suite_focus=true#step:6:634).

I'm trying to get `v1.1.0` published now.

As for why it would affect older and newer versions of the CLI: I think it's the nature of npm dependencies.  O

[2022-08-17 09:05] Pike commented on #6039
I think you pointed to a fork? I dug in a little bit and came across https://github.com/IonicaBizau/git-up/pull/34

[2022-08-17 09:15] Rugvip commented on #13151
It looks like you're missing the merged in `Headers` interface extensions from `lib.dom.iterable.d.ts`. What TypeScript version are you on, and are you using the standard [tsconfig.json](https://github.com/backstage/backstage/blob/master/packages/cli/config/tsconfig.json) from `@backstage/cli/config/tsconfig.json` or something more custom?

[2022-08-17 09:32] iamEAP commented on #13186
Alright.  `v1.1.0` is now published (and is a duplicate of `v1.0.4`).  Does the `generate` command work for you now, @ghelyar?

[2022-08-17 09:36] ghelyar commented on #13186
Yes, this seems to be working now, thank you.

For what it's worth, the v1.1.0 release seems to be appearing under [the v1.0.4 branch filter](https://github.com/backstage/techdocs-container/actions?query=branch%3Av1.0.4) even though it's supposedly built from the v1.1.0 release tag. I can't tell where it's getting this v1.0.4 from though, as I can't see any ref of any kind called v1.0.4.

[2022-08-17 09:57] iamEAP commented on #13186
🤔 Yeah, it's all odd to me.  In any event, I created a follow-up (link above) to see if we can make the tag release workflow a little more deterministic (or at least a little more clear).

Thanks for the report!  Will close this out for now.

[2022-08-17 09:57] #13186 closed

[2022-08-17 09:58] freben commented on #12254
@taras Oh you really shouldn't have the `entity_to_ref` there. You should start from `processing_state` which does have the ref already, and join that with `final_entities`.

[2022-08-17 12:22] taras commented on #12254
@freben when you say `start from processing_state`, are do you mean `refresh_state`? We'll try this approach and report back.

[2022-08-17 12:31] freben commented on #12254
Yeah sorry - wrong table name!

[2022-08-17 12:41] anicke opened #13190 "Bazaar plugin: The member link should target the backstage user catalog entity"
## Expected Behavior

The backstage user entity ref should be stored for each member and the member link should open the backstage user entity catalog page (i.e. "/catalog/default/user/username").

## Actual Behavior

The member database contains only the "display" name of an user and the member link goes to "https://github.com/${entity.displayName}"

## Steps to Reproduce

* Go to a Bazaar projec

[2022-08-17 12:44] HieuMinh67 commented on #11119
<img width="755" alt="Screen Shot 2022-08-17 at 19 39 19" src="https://user-images.githubusercontent.com/43398131/185130298-cccab18f-c41a-407b-9ddf-23960a9c7143.png">

Because there are 2 auth so I make a mistake

[2022-08-17 13:44] asaf-erlich opened #13191 "Catalog entity filter returning 0 results for k8s plugin catalog cluster locator"
I'm trying to use the new EKS Cluster Processor and Kubernetes Catalog Collector created in the PR https://github.com/backstage/backstage/pull/11789 . I was able to get the cluster processor to ingest clusters into the catalog, but the cluster locator fails to find any of the clusters.

I'm stuck trying to debug why the catalog/entity?filter query is not returning values for one of the specific ke

[2022-08-17 13:47] asaf-erlich commented on #13191
cc original author of the PR @backjo in case you have any insight or suggestions for how to fix this

[2022-08-17 13:51] pulberg commented on #3327
@haagenson any update on the apigee plugin?

[2022-08-17 14:18] mefuller opened #13194 "Default initial build fails to fetch catalog"
## Expected Behavior

Following, https://backstage.io/docs/getting-started/, it is expected that the template/example catalog will display at

## Actual Behavior

Catalog doe snot display, instead `Error: Could not fetch catalog entries.`

## Steps to Reproduce

1. Create initial backstage application per https://backstage.io/docs/getting-started/ (npx @backstage/create-app; cd <name> && yarn dev)

[2022-08-17 14:27] jhaals commented on #13142
Yeah I realise that H2 is only available with TLS so I think it make sense to run `http2.createServer({ allowHTTP1: true }, app);` when certificates are provided.

[2022-08-17 14:38] awanlin commented on #13194
@mefuller, I've just tried to reproduce this but it works for me - fresh run of `npx @backstage/create-app` using the name `demo-app`, then `cd demo-app`, and finally `yarn dev`.

Can you post any errors/messages in your browser console? Maybe there might be something helpful in there

[2022-08-17 15:44] lalit774 opened #13196 "backstage configure with helios pipeline"
## Feature Suggestion
We want to integrate backstage with helios pipeline. I have tried from past 2 weeks. I did not get, how it should work. There are 2 major configuration file.
helios-config.yml
     build_commands:
        - npm install --global yarn
        - yarn config list --verbose
        - yarn install
        - yarn tsc
        - yarn build
DockerFile
just standard docker file

I am no

[2022-08-17 16:25] AjayTripathy commented on #10289
Thanks so much for tagging me into this @sylus . We're fully supportive of community plugins! If you all want to take the fork  you can reach out for help with our normal support channels (support@) and/or tag us into GH issues. If the kubecost org in github needs to take the fork that's an option as well, just would want to run it by our eng team.

[2022-08-17 18:39] taras opened #13201 "[scaffolder] Allow liveValidate of fields in scaffolder step forms"
## Context

One of our clients has scaffolder forms that have many fields. The current form validation is awkward for large forms because it requires clicking Next button to trigger form re-validation. They would like to provide quicker feedback to their users by re-validating the field whenever the user updates a field.

We can implement a solution if a PR for this will be welcomed.

## Feature S

[2022-08-17 19:06] taras opened #13202 "[scaffolder] Hide steps based on a response of an API requests"
## Context

One of our clients has templates with custom fields that show field options based on an API request. In some cases, it would be preferable to remove steps based on a response from an API request. I couldn't find a way to do with the scaffolder.

If we find a possible implementation that would be accepted, we'll be happy to submit a PR.

## Feature Suggestion

Provide some API that woul

[2022-08-17 19:35] benjdlambert commented on #13201
I actually turned on this and html5 validation in the `next` version and was playing around with it. What's the benefit to making this driven by config and not on all times?

[2022-08-17 19:37] taras commented on #13201
@benjdlambert having it on by default maybe even better. I'm not sure if there are people who would want to keep the existing validation behaviour.

[2022-08-17 19:43] awanlin opened #13205 "Dismiss Notifications After Optional Timeout Period"
## Feature Suggestion

It would be nice if the notifications supported the ability to provide an optional timeout so they would close on their own.

![image](https://user-images.githubusercontent.com/67169551/185227907-59ee2b3e-c458-44b0-9688-37fb9b0fb11f.png)

## Possible Implementation

I'm open to suggestions but one thought was to have an optional `timeout` on the `AlertMessage` and then that

[2022-08-17 19:44] awanlin commented on #13205
I'd very much like to work on this but need some pointers as the best way to move forward and also if this is something that would be wanted

[2022-08-17 20:20] indukuriv opened #13206 "SonarQube api key if empty or space its accepting it"
## Expected Behavior

## Actual Behavior

## Steps to Reproduce

1. Step 1
2. Step 2
3. ...

## Your Environment

- Browser Information:

- Output of `yarn backstage-cli info`:

[code]

[2022-08-18 00:07] github-actions[bot] opened #13211 "Snyk vulnerability [SNYK-JS-UNSETVALUE-2400660]"
## Affecting Packages/Plugins

* [@backstage/codemods](packages/codemods/package.json)

## Overview

Affected versions of this package are vulnerable to Prototype Pollution via the `unset` function in `index.js`, because it allows access to object prototype properties.

## Details

Prototype Pollution is a vulnerability affecting JavaScript. Prototype Pollution refers to the ability to inject prop

[2022-08-18 00:24] anisjonischkeit commented on #13151
Spot on @Rugvip. We were extending `@backstage/cli/config/tsconfig.json` and setting the lib field (thinking we were extending it rather than replacing it). Appended the libs from `@backstage/cli/config/tsconfig.json` to the end of ours has done the trick

[2022-08-18 00:24] #13151 closed

[2022-08-18 06:06] mefuller commented on #13194
@awanlin I'm not using/don't have a browser console. I posted all output messages from my terminal in the original report.
For additional context, I'm developing on a remote machine and port-forwarding in VS Code to view the site locally, but I don't know that this is necessarily the issue as I am experiencing the same problem when I make a minimal k8s deployment as well.

I'll try some other appr

[2022-08-18 06:51] runes83 opened #13213 "Issues using Automatic discovery of Google credentials for catalog location"
## Expected Behavior

When using the GCS location for the Catalog you should be able to use the Google crendentials from the environment variable as described here: [Automatic discovery of Google credentials](https://backstage.io/docs/integrations/google-cloud-storage/locations#automatic-discovery-of-google-credentials).

## Actual Behavior

Instead it fails and gives this error:
`catalog warn YAM

[2022-08-18 08:08] benjdlambert commented on #13206
Closing this issue as there's not enough information. Please re-open and fill in all the fields so we can triage successfully! :pray:

[2022-08-18 08:08] #13206 closed

[2022-08-18 08:11] benjdlambert commented on #13196
What's the problem that you're seeing here? And what helios are you referring to? Need a little bit more information to help here :pray:

[2022-08-18 08:12] benjdlambert commented on #13205
Seems like a good idea, maybe implementing something in the component that render's the alert api to call the callback after a period? The `AlertDisplay` needs some love, it was a quick component to get running with 👍

[2022-08-18 08:14] benjdlambert commented on #13201
Maybe opt out then, probably not on a per template basis though. Some prop or something might be better. Maybe we just leave this for the `next` scaffolder work to drop and then if someone wants to revert the behaviour we add the prop? Some question about async validation here and how we're going to deal with that as that happens on form submit still, but maybe that's fine.

[2022-08-18 08:17] benjdlambert commented on #13194
This looks like is some CORS error or something if you're port forwarding to a remote host. Make sure that the `app-config.yaml` `app.baseUrl` and `backend.baseUrl` are set to the URL that you would type in the address bar in your browser. Probably something like the port forwarded domain or whatnot.

[2022-08-18 08:19] benjdlambert commented on #13180
In the docs that you linked there's a change that you have to make to the `.dockerignore` for `multi-stage` builds.

Something like:
[code]

In the docker ignore should work.

[2022-08-18 08:21] benjdlambert commented on #13179
`authMiddleware` is probably overriding the `Authorization` header in the request to upstream. In the meantime I'd suggest that you copy the `authMiddleware` function, and do some selective stuff based on if the `request.url` has the `airflow` path and not do anything special there.

[2022-08-18 08:22] benjdlambert commented on #13161
OK - yep looks like this documentation is out of date. Would be good to bring this inline with current implementations. Will take a look at getting this fixed!

[2022-08-18 08:24] benjdlambert commented on #13152
I think `npx @backstage/create-app --skip-install` is going to not install any of the `npm` packages which is where those packages come from. If you're wanting to commit without installing you can do `git commit --no-verify` to workaround this issue.

[2022-08-18 08:25] benjdlambert commented on #13074
Assigned @gibsonliketheguitar 🎸 !

[2022-08-18 08:29] benjdlambert commented on #12092
Sorry this one slipped through the net, feeling that we can just add an option to the `publish:github` action to require signed commits like everything else is right now. Would be good to take a look at this long list of options later to work out if we can  break them up into sections, but that's for later.

[2022-08-18 08:29] benjdlambert commented on #12037
I will take a look and see what is going on here!

[2022-08-18 08:30] benjdlambert commented on #12026
I think that this has been done and shipped. Closing. Feel free to re-open or comment if there's something missing!

[2022-08-18 08:30] #12026 closed

[2022-08-18 08:33] benjdlambert commented on #10402
I think that we're going to head down the credential provider router either way, so I think go ahead and try to implement. Let's try to make it as similar as possible to the `GithubCredentialsProvider` something small like `getCredentials({ url: string })` or whatever and see where we get to. :pray:

[2022-08-18 08:34] benjdlambert commented on #11642
@VladMasarik I think that @vinzscam got back to you in the other ticket and is awaiting your reply :pray:

[2022-08-18 08:38] benjdlambert commented on #6039
@Pike, yeah his fork is awaiting feedback from the original author and then he was gonna raise a PR to the upstream library. Not sure if that's a dependency on this ticket though or if your linked PR is enough :pray:

[2022-08-18 08:39] saan800 commented on #11158
My company would also be very interested in this

[2022-08-18 09:07] Pike commented on #6039
The regex is in a PR upstream, https://github.com/IonicaBizau/parse-url/pull/59.

[2022-08-18 09:08] Rugvip commented on #12917
The refresh token is stored in a cookie, while access tokens are not stored anywhere at all other than in-memory on the frontend. Coming back to this I wonder whether we could apply a much simpler fix to this issue by just calling the refresh endpoint again from the frontend if we're sure that it will solve the issue.

Let's say we have two browser tabs refreshing the session at the same time, sta

[2022-08-18 09:30] benjdlambert commented on #7633
So a little update is that @katz95 is no longer working on Backstage, https://github.com/backstage/backstage/issues/11686#issuecomment-1216323947, so if someone wants to own this and whip up a PR with what they think is right we can discuss it further in the PR until our new team comes along 🤞

[2022-08-18 09:33] benjdlambert commented on #13190
@lykkeaxlin thoughts on this?

[2022-08-18 09:38] benjdlambert commented on #13202
Hmm not sure about the best way to implement something like this to be honest. You could have a `customFieldExtension` which renders the `JSONSchema` returned, but it's a little tricky as I think that you might lose some of the type safety without defining it in the parameters.

Another though I have had though, is that an action could require more input from the user. So the action could have som

[2022-08-18 09:47] freben commented on #13205
Another suggestion: should the alert message instead have a flag `transient: true` or similar, and then it's up to the alert display layer to have a configurable time for how long transient things hang around?

I think each plugin (that generates alerts) shouldn't necessarily have fine grained control about exact timings. The timeout could even conceivably be a per-user setting in the future.

[2022-08-18 10:14] lykkeaxlin commented on #13190
A very welcomed improvement! :)

[2022-08-18 10:17] Ahampa07 commented on #12917
@Rugvip thanks for your insights and approach :), the first approach seems a bit trickier, we have to have surety that the refresh token was invalidated mid-flight, or else we could end up triggering refresh requests in the loop. As I have to dig deep and research how can we have different error codes for missing and invalid refresh tokens, though this approach is promising.

I just wanted to have

[2022-08-18 10:35] Abhay-soni-developer commented on #12917
@Rugvip
actually, after the 2nd flow, Idp will recognise your request as a malicious request and hence for security, will invalidate the current family of your tokens. hence all your sessions will end and you need to log in again.

so 3rd and 4th will never happen.

[2022-08-18 10:41] Ahampa07 commented on #12917
@Abhay-soni-developer ya agree with you, I missed this point, when using Refresh Token Rotation, if a previously invalidated token is used, the entire set of refresh tokens issued since that invalidated token was issued will immediately be revoked, requiring the end-user to re-authenticate.

[2022-08-18 10:48] Abhay-soni-developer commented on #12917
@Rugvip  @Ahampa07 @mufaddal7

why do we need to ask for a new refresh token and access token at each refresh?

  I believe this is just adding more overhead to the system without providing any benefit (such as security).

and I would like to know why are we saving the GitLab refresh token and access token in the front end. do we really need it to be there for any specific reason? what if we move

[2022-08-18 11:07] Rugvip commented on #12917
Moving to using a backend session store is what #11160 is about. I was looking for middle ground that doesn't require us to go quite that far. If it is the case that the IdP will invalidate the session on failed refresh attempts then I don't see that we have many other options than to move to session storage with some locking around session refreshes.

The reason I'm not too fond of a solution whe

[2022-08-18 12:06] Abhay-soni-developer commented on #12917
@Rugvip @Ahampa07  @mufaddal7

that is why I would suggest that we should move this to the backend. so the backend can handle the access token expiration and refresh token flow.

[2022-08-18 12:08] mfrinnstrom commented on #12687
@parnita-saha A new `$openapi` resolver was added in the [last release](https://github.com/backstage/backstage/blob/master/docs/releases/v1.5.0-changelog.md#backstageplugin-catalog-backend-module-openapi011). Maybe you can have a look at that and see if that solves your issues. It should support the use-case where the `catalog-info.yaml` and `openapi.yaml` files aren't in the same folder.

[2022-08-18 12:31] wKich commented on #12254
@freben It works, thank you

[2022-08-18 12:46] Abhay-soni-developer commented on #12917
point taken. if the token expires and someone opens two tabs fast enough this will happen. going in with a lock mechanism can help but will think about it more.

[2022-08-18 12:48] taras commented on #12254
It takes about 190ms to fetch 1000 nodes instead of 160ms but 20% difference is a good compromise for the simplicity it provides.

[2022-08-18 13:24] taras commented on #13201
Opt-out on per prop basis sounds good.

👍

[2022-08-18 13:57] taras opened #13223 "[scaffolder] Include entity metadata in `ctx.templateInfo`"
## Context

We have a client who has many templates that use template's tags in the scaffolding process. They are currently using `catalogClient.getEntityByName(ctx.templateInfo.entityRef)` to retrieve the template's metadata. This has the potential of introducing race conditions and it requires catalog client to be passed into steps as discussed in https://discord.com/channels/687207715902193673/

[2022-08-18 13:59] taras commented on #13223
Frontside will work on implementing this feature.

[2022-08-18 14:18] mrjerzy opened #13224 ".vale.ini points to wrong StylesPath location"
## Expected Behavior

Running `vale .` in the Backstage root directory executes vale checks

## Actual Behavior

Running `vale .` reports back that the defined stylepath cannot be found
[code]

## Steps to Reproduce

Run `vale .` in the root directory

## Fix

Point the StylesPath parameter in `.vale.ini` to `.github/vale`

[code]

## Your Environment

- git repository with commit `d851b95dab19dcb

[2022-08-18 14:22] Rugvip commented on #13224
Thank you for reporting! I believe the root `.vale.ini` might actually be unused, but would need to verify that. Doc checks are executed with `yarn lint:docs` rather than vale directly.

[2022-08-18 14:52] sole0bserver opened #13226 "[Scaffolder] RepoUrlPicker for bitbucketCloud fails validation with 'workspace not provided' error"
## Expected Behavior

RepoUrlPicker for BitBucket Cloud should correctly pass validation when single value in allowedOwners is provided in a Template.

## Actual Behavior

Single value of allowedOwners (which is workspace) of template is correctly displayed in "Allowed Workspaces" section (grayed out).
Pop-up with OAuth request to grab user's token is displayed.
"Incomplete repository location pro

[2022-08-18 15:00] gabriel-dantas98 opened #13227 "[Plugin] Toolbox Plugin (Tools Catalog)"
## Summary

A page that lists the tools used in engineering so that all engineers can access them.

## Project website (if applicable)

We developed this plugin in QuintoAndar and received a lot of feedback that would be useful for other companies.

![img](https://miro.medium.com/max/1400/1*_nKZ1RQ-2FcfSytVAY0YoA.gif)

## Context

Basically, it's a frontend plugin that reads a data structure with

[2022-08-18 15:02] gabriel-dantas98 commented on #13227
I would also like to know what would be the best way to bring this to the backstage repository.

[2022-08-18 15:09] asarenkansah commented on #690
Is anyone still working on this?

[2022-08-18 15:16] kuangp commented on #13227
This seems similar to the tools tab of the [Explore plugin](https://demo.backstage.io/explore/tools) and somewhat related to the homepage [toolbox card](https://backstage.io/storybook/?path=/story/plugins-home-components-toolkit--default)

[2022-08-18 18:14] jcarres-mdsol commented on #8232
This has stated to happen to us when upgrading to backstage 1.5 and to github provider rather than processor
In our case we are running a job that retrieves all the catalog files, add extra info and puts them in one directory in a repository, our config looks like this

[code]

there are like 300 files on that generated directory.

Our previous configuraiton using the processor did not hit the lim

[2022-08-18 20:16] sabinasiddiqi opened #13233 "The same feature flags renders 10 times in user settings feature flag tab"
## Expected Behavior
Each feature flag should be displayed once in the user settings feature flag tab

## Actual Behavior
Each feature flag is displayed ten times in the user settings feature flag tab

<img width="1473" alt="featureflagbug" src="https://user-images.githubusercontent.com/2702642/185485812-ac4380ba-60d2-4bab-9c68-9d14b8c8ba52.png">

## Steps to Reproduce

1. Step 1: Add a feature fl

[2022-08-18 23:55] sabinasiddiqi commented on #13233
Looks like it was user error! I used the `getRegisteredFlag` method to check if the flag is already registered and now only register it if it is not registered - that fixes it.

[2022-08-18 23:55] #13233 closed

[2022-08-19 01:05] david-christ opened #13235 "Allow parent component access to Table's TableState"
Currently, `Table` has a parameter called `initialState`. However, as the name suggests, this can only be used to initialize the `TableState`, and there is not possibility to change the table's state afterwards.

## Feature Suggestion

A parent component could be able to pass in it's own state, e.g.:

[code]

## Possible Implementation

To maintain the current API, i.e. `initialState`, the state c

[2022-08-19 01:20] david-christ opened #13236 "Add custom sort functionality to Table's TableFilter"
Currently, the content of a `TableFilter` is sorted alphabetically. It might be valuable to allow programmers to pass in a custom sort function.

## Feature Suggestion

Extend the `TableFilter` interface with a new optional parameter that takes a custom sort function.

[code]

## Possible Implementation

JavaScript's `sort()` function allows for custom sort functions to be passed in. So it might b

[2022-08-19 05:58] Abhay-soni-developer commented on #12917
@Rugvip
what do we do with the access token that is saved at the frontend? ( because I can't see it being sent to any request).
I do understand it is required to take action on behalf of any user but I was under the assumption that it would be sent for some particular request. like when creating a new repo.

I am thinking about using a service worker to intercept the refresh request.

Step 1
A  ma

[2022-08-19 06:52] Abhay-soni-developer commented on #12917
what do we do with the access token that is saved at the frontend? ( because I can't see it being sent to any request).
I do understand it is required to take action on behalf of any user but I was under the assumption that it would be sent for some particular request. like when creating a new repo.

[2022-08-19 08:20] Rugvip commented on #12917
@Abhay-soni-developer we can do something similar without service workers by relying on web messaging between tabs and possibly a bit of LocalStorage to synchronize things. It's a bit trickier due to the distributed nature, but services workers themselves add an huge amount of complexity to the deployment so I would like to avoid them if possible.

I'm not super keen on sending access tokens throu

[2022-08-19 08:38] jhaals commented on #13213
Hi @runes83!

I have updated the documentation in #13239 to be a bit clearer that you still need to have an integrations section even if you run with automatic discovery. I tried this locally and it works, thanks for pointing this out 👍

Make sure that your configuration file is updated accordingly and I'm sure it should work better for you as well

[code]

[2022-08-19 08:56] #7868 closed

[2022-08-19 08:56] #8420 closed

[2022-08-19 09:10] simonstamm commented on #12453
We're also interested in those metrics mentioned above, especially:

* usage of each template (success and error count)
* duration of the scaffolder

[2022-08-19 09:19] NishkarshRaj opened #13243 "Card Re-design for Template Marketplace"
The existing card design for the Template Marketplace/ Scaffodler Page/Create Page is text-rich and not intuitive.

<img width="455" alt="Screenshot 2022-08-19 at 2 37 46 PM" src="https://user-images.githubusercontent.com/35298207/185585869-06b3bf85-33f2-4484-a471-899f8e3d69bc.png">

## Feature Suggestions

It would be great if we enhance the Card design with the following improvements:

- [ ] Add

[2022-08-19 09:24] cinlysobin commented on #11563
@ottosichert ,
Still i am getting the same issue.
Any change I have to do to get the corrected version?

[2022-08-19 09:28] #12786 closed

[2022-08-19 11:00] abtris commented on #11158
This will be a great feature. I want to use the Backstage catalog to generate Datadog service catalog entries.

[2022-08-19 11:16] runes83 commented on #13213
Thanks, I will test and report back on this :-)

[2022-08-19 11:29] #8642 closed

[2022-08-19 12:04] garyniemen commented on #11889
@SerenaIce Did this get resolved?

[2022-08-19 12:46] #11671 closed

[2022-08-19 13:54] #12995 closed

[2022-08-19 15:19] #11888 closed

[2022-08-19 15:23] jrusso1020 opened #13255 "[Plugin] Segment Analytics Module"
## Summary
Similar to the [google analytics module](https://github.com/backstage/backstage/tree/master/plugins/analytics-module-ga) there should exist an implementation of the `AnalyticsApi` interface for [Segment](https://segment.com/) which can be used for client side metric tracking and forwarding events to multiple downstream connections (like Google Analytics).

The plugin should implement an

[2022-08-19 15:49] knksmith57 commented on #13255
Hey all! 👋 Twilio Segment eng here to give this a big ➕ and offer to address any comments/questions/concerns y'all might have.

We've already cleared this with our internal Analytics.js team and are excited and available to assist however we can. ✅

Huge thank you to James and everyone at Brex for their work on this and gracious offer to open source the plugin. 🙏

[2022-08-19 16:33] freben commented on #13191
Just noted that your example had an extra slash in it, `?filter/=`. Was that a typo?

Adding here that after discussions on discord, it is theorized that this could be due to the annotation value being too large. Whenever the key or the value is longer than 200 characters, it's not put in the search table at all since database engines do not like to index massive columns.

If this proves to be the

[2022-08-19 16:49] #13213 closed

[2022-08-19 16:51] asaf-erlich commented on #13191
I suspect that is a typo or copy paste error. I will edit and remove them.

[2022-08-19 16:52] asaf-erlich commented on #13191
Done.

[2022-08-19 16:58] asaf-erlich commented on #13191
That is one option since the query is just checking for the key existing. Alternatively the query could simply avoid searching with that key. There are other values that are aws cluster specific, namely all the ones below:
[code]

The query specifically asks for the last 3 and it might be smart to do that because it needs those values returned, but maybe the query could ask for the key existing fo

[2022-08-19 17:13] freben commented on #12883
Yes, manual deletion is always an option if you are sure it should indeed be gone, for both cases. Regarding 2, yeah a small cleanup script of sorts might help, but that does sound frustrating. If you have access to the raw database, I guess deleting everything that has zero incoming references (that are never mentioned as a `target_entity_ref` anywhere) should be possible to treat as junk. 🤔

[2022-08-19 17:17] dschwank commented on #10121
The chances were high, but not high enough - like always in software dev there were other topics rushing in. So as you already noticed, it didn't work out.
But good news, we started this week with the transformation. In case there are no interruptions, the PR should be opened within the next week.

Thanks for waiting @shailendra-ahir-cbre . Have a nice weekend 👋

[2022-08-19 21:25] jcarres-mdsol opened #13260 "Catalog Graph overwhelmed"
We have imported a number of services with their APIs and consumption, and provision information.
It makes for a very complex graph, some services have lots of consumers (~30s) , others consume a lot of services, etc.

When selecting the explore graph to render just the consumption and provide relationships, components and APIs, infinite depth we have a graph that makes sense but it is missing rel

[2022-08-20 09:48] #11880 closed

[2022-08-21 07:10] mefuller commented on #13194
Closing - I went through a default setup in a VM and there was no issue, so whatever the problem is, it hasn't been described in a relevant way here
Thanks for the input @benjdlambert and @awanlin

[2022-08-21 07:10] #13194 closed

[2022-08-21 11:17] parnita-saha commented on #12687
@mfrinnstrom Apologies for the delayed response. I have upgraded our backstage to the latest release with your changes of $openapi . It has solved the reported issues 🥇
1.  catalog-info.yaml and openapi.yaml files aren't in the same folder.
2. Having file names with "-xx.yaml".

Thanks a lot for helping with the issue.

[2022-08-21 11:17] #12687 closed

[2022-08-21 19:44] runes83 commented on #13213
Can confirm that did the trick. Thanks @jhaals

[2022-08-22 04:02] #12029 closed

[2022-08-22 08:16] benjdlambert commented on #13223
Maybe we just provide the metadata from the `template` instead of the entire entity like the `spec` stuff. We don't want to encourage the parsing of the spec from this field if possible. What are your thoughts @taras?

[2022-08-22 08:27] benjdlambert commented on #10270
@iamEAP can we close this now? Is the PR mentioned done?

[2022-08-22 08:28] benjdlambert commented on #8232
@jcarres-mdsol what is the schedule that you are running the Provider on? The Provider will not run on the same loop as before with the processor so it could be that it's running too often? By default I think it runs every 30mins, but that should be enough?

[2022-08-22 08:31] benjdlambert commented on #690
I don't think that this has been picked up by anyone yet. Would be good if we could get some of the hashicorp devs or someone with a lot of experience with terrarform to implement something that can visualize state etc in a plugin :pray:

[2022-08-22 08:42] Remyapraveen commented on #12287
Hi, I am setting this element to false before deploying the app because previously my app wasn't displaying any contents from the HTML page once after deploying, I was giving me a blank page. Now after following the above method its working fine.  But just a doubt, could anyone please help shed some light if it is safe in the long run and/or What are the  other alternatives. ?

[2022-08-22 08:46] benjdlambert commented on #10907
Looks like we have the `projectId` already in the action. We just need to add the output to the `jsonschema` at the top of the action and then use https://github.com/backstage/backstage/blob/27d130b232623d5577bed13b4d2e06872592f84e/plugins/scaffolder-backend/src/scaffolder/actions/builtin/publish/gitlab.ts#L168 to call `ctx.output` :pray:

[2022-08-22 08:46] benjdlambert commented on #11563
@cinlysobin what version of backstage are you using?

[2022-08-22 08:48] benjdlambert commented on #13236
Is this for just the `Catalog` page or is this for all instances of `Table`? We're looking at server side sorting for the Catalog at the minute, so if it's for that it might be worth waiting for this stuff to settle first. #12246.

Noticed the other issue too #13235 are these meant to be used hand-in-hand?

[2022-08-22 08:52] benjdlambert commented on #13243
Hey :wave: Thanks for this, Kat is unfortunately no longer working on Backstage, but we're in the process of spinning up a team to deal with some of this ux and design work. In the meantime I think we can use our best judgement and discuss more in the PR's. It might be worth bringing to your attention that I did some redesigning of the template cards in the `/create/next` version of the scaffolder

[2022-08-22 09:09] iamEAP commented on #10270
Still a good idea, and as-yet unimplemented.  I've updated the title and description to make this a little easier for someone to come in and contribute it!

[2022-08-22 09:47] NishkarshRaj commented on #13243
Incredible, I've seen a few PRs by you around Scaffolder next but although we're on the latest Backstage version I see a white page on `create/next` - can you please link docs/link to PR I can use to play around.

Cheers,

[2022-08-22 10:00] dehamzah commented on #9178
We still blocked with this, we are trying to upgrade our Postgres version to 14 that might be solve our problem here, we will share our results here after the testing is done.

[2022-08-22 10:53] benjdlambert commented on #13243
Yeah you'll need to include the new route in your app manually for now, although I'm probably going to change that when it's actually fully working so that you can enable it using a feature flag. It's still all under heavy development, But the form part, and review step is done, just got to do the ongoing tasks part for now, and then some other bits to tidy up.

If you check out the `packages/app/

[2022-08-22 11:08] Abhay-soni-developer commented on #12917
@Rugvip  today I implemented the solution, where I was stopping the parallel requesting going together.
but then I found out that even though it throws us on the login page, our session still exists and refreshing the page one more time lets us in.

[2022-08-22 11:12] cinlysobin commented on #11563
"version": "1.3.0"

[2022-08-22 11:19] debojitkakoti opened #13280 "Missing support for LDAP searchReference results"
## Expected Behavior

Return groups.
Same search filter works on ldapsearch.

## Actual Behavior

 ``catalog warn Received unsupported search referral type=plugin target=ldaps://ld.abc.net:636``

## Steps to Reproduce

ldap config I used
[code]

## Context

## Your Environment

- Browser Information:

- Output of `yarn backstage-cli info`:

[code]

[2022-08-22 11:36] #13087 closed

[2022-08-22 11:49] benjdlambert commented on #11563
So you probably want to run `yarn backstage-cli versions:bump` to grab the latest release, version `1.5.0` which is where this fixed was released in.

[2022-08-22 11:59] afscrome opened #13282 "Github integration silently ignores credentials when app is not installed into org"
If you try and configure github integration with an a private app that has been created, but not installed into your org, backstage silently ignores the error and continues trying to access your org without credentials (which then fails)

## Expected Behaviour

Some kind of error indicating that credentials were valid, but couldn't be used for the given location

## Actual Behaviour

A misleading

[2022-08-22 13:17] taras commented on #13223
@benjdlambert that makes sense.

[2022-08-22 13:29] #11852 closed

[2022-08-22 13:32] taras commented on #13223
@dagda1 is going to work on it this week.

[2022-08-22 14:22] taras opened #13288 "[Scaffolder] Baseline template or template inheritance"
## Context

One of our clients has a lot of templates that have similar steps and configurations. They would like some way of specifying a baseline template or a way to import steps from another template.

We can implement whatever solution we agree on.

## Feature Suggestion

Provide some way to define reusable steps for a template - template template if you will.

## Possible Implementation

One

[2022-08-22 14:34] #12066 closed

[2022-08-22 14:38] gabriel-dantas98 commented on #13227
Does it make sense, is there any relationship between the two plugins? Or are they independent?

Maybe they could be different views of the same plugin?

Does our plugin have a classification for each tool, and can each of them have more than one environment link?

<img width="309" alt="image" src="https://user-images.githubusercontent.com/20074620/185948131-ca89e155-6f8e-409d-997f-0017e10b2a48.pn

[2022-08-22 15:53] jakecrews74 opened #13290 "[Github Pull Requests Board] Show more than 10 PRs on dashboard"
The dashboard is setup to [only display 10 PRs on the dashboard at one time](https://github.com/backstage/backstage/blob/9d02b5e887b58a65cbc4101f82a797194738f5c3/plugins/github-pull-requests-board/src/api/useGetPullRequestsFromRepository.ts#L33). For the teams at our company, there are significantly more than 10 PRs open at a time for each group.

## Feature Suggestion

Remove the `first` option a

[2022-08-22 20:05] dhhuynh2 commented on #2815
Also ran into this recently while utilizing the [validation endpoint](https://github.com/backstage/backstage/blob/23d032e987e8b65c2b17a6837199f7a69d217c8c/plugins/catalog-backend/src/service/createRouter.ts#L241). Feeding branches with forward slashes broke the validator.

[2022-08-22 20:36] taras commented on #9555
Frontside would love to see this happen, and we might be able to find some bandwidth to help.

The DX of Zod is 👨‍🍳👌

[2022-08-23 00:32] #12093 closed

[2022-08-23 02:25] dhhuynh2 commented on #11026
I think this should be fixed on plugin-techdocs 1.3.0.

[2022-08-23 04:04] david-christ commented on #13236
Hi @benjdlambert , our use-case is for the plain `Table`. E.g.:

[code]

Regarding the other ticket, we are indeed intending to use both features in the same component for a particular use-case, but could also use them independently in other use-cases. For the table state use-case, we just like to add e.g. shortcut buttons above the table, like you could imagine a "Show my PRs" button on a GitHub

[2022-08-23 06:13] swenhan commented on #12628
PR for this issue raised in: https://github.com/backstage/backstage/pull/13297

[2022-08-23 07:37] #12101 closed

[2022-08-23 08:13] benjdlambert commented on #13288
Out of interest does the any of the `$placeholder` processing work with the scaffolder templates? Maybe we would have to think a little bit in an RFC about how this sort of stuff would work in practice to be honest a little more. :)

[2022-08-23 08:18] gtestault opened #13298 "ms-graph plugin: expand not working on MicrosoftGraphOrgEntityProvider"
## Expected Behavior

Documented configuration features userExpand and groupExpand should expand the requested properties

[code]

## Actual Behavior

Does not work. New MicrosoftGraphOrgEntityProvider doesn't pass configuration in main ingestion loop:
[code]

## Steps to Reproduce

1. Set userExpand configuration to "memberOf"
2. Use new ingestor MicrosoftGraphOrgEntityProvider
3. New ingestor do

[2022-08-23 08:19] #12037 closed

[2022-08-23 08:39] taras commented on #13288
Sounds good. What is the $placeholder work? I'm not familiar with it.

[2022-08-23 09:13] benjdlambert commented on #13288
Sorry it's just the `PlaceholderProcessor` in the Catalog. It does the replacing of things like `$text`. etc, Wondered if that approach would work or not.

[2022-08-23 09:23] #13223 closed

[2022-08-23 10:52] benjdlambert commented on #12253
Closing as completed with #10394

[2022-08-23 10:52] #12253 closed

[2022-08-23 10:54] benjdlambert commented on #12252
The `hot` loader dependency has been removed. Probably some other bits still need to be done in order to get this to work fully. Mainly any breaking changes with the API, and adding React 18 to the `peerDependencies` for all packages. There could be other things too.

[2022-08-23 11:34] starkmatt commented on #11650
Thanks heaps !
This had did the trick for me within my Docker container

[2022-08-23 11:54] Parsifal-M commented on #13122
Hi @jeevagan1,

Do you just get a blank page? What error do you get in the dev-tools in your browser?

Was facing something similar and then added this to the app-config.yaml and it worked:

[code]

[2022-08-23 12:40] taras commented on #13288
We’ll need to try a POC to see if it’ll work. I’ll keep you posted

[2022-08-23 13:11] Depado opened #13307 "[Plugin] Vault - No implementation available for apiRef{plugin.vault.service}"
## Expected Behavior

Seeing the vault secrets list on my component when the proper annotation is set.

## Actual Behavior

Instead of seeing the secret list, there's an error card with the following message:

`No implementation available for apiRef{plugin.vault.service}`

## Steps to Reproduce

Create a component on a fresh install of backstage with the proper annotation

[code]

Install and conf

[2022-08-23 14:53] #11518 closed

[2022-08-23 15:04] Parsifal-M commented on #10907
Hey, could I pick this up?

Seems like a good one to get my hands dirty.

Thanks!

[2022-08-24 02:15] regicsolutions commented on #13288
Looks like the react-jsonschema-form library has a templates option, haven't had a chance to dig into but may be worth exploring

https://react-jsonschema-form.readthedocs.io/en/latest/advanced-customization/custom-templates/

https://github.com/rjsf-team/react-jsonschema-form/pull/2981

[2022-08-24 06:48] david-christ opened #13320 "Allow for externally defined links in the AboutCard"
The `CardHeader` of the `AboutCard` currently can only display links to GitHub and TechDocs. It would be great if we could provide additional links to show.

## Feature Suggestion

Currently, the API for the `AboutCard` only takes `variant` as a parameter: `<EntityAboutCard variant="gridItem" />`

Internally though, the `CardHeader` can take a variable amount of links already, see here, where a pr

[2022-08-24 08:36] #13298 closed

[2022-08-24 08:41] benjdlambert commented on #10907
Sure! Go ahead @Parsifal-M! :pray:

[2022-08-24 08:59] Parsifal-M commented on #10907
Apologies, bit new to front-end.

Does the `jsonschema` start here? https://github.com/backstage/backstage/blob/8cc75993a627299ebfcf782c3cc2b5bee9d82008/plugins/scaffolder-backend/src/scaffolder/actions/builtin/publish/gitlab.ts#L50

So we'd add basically projectId/repoId somewhere there? as an `output` and not an `input`?

Thanks!

[2022-08-24 09:17] Rugvip opened #13322 "Document server tokens and existing tricks to harden deployments"
The role of the `TokenManager` and `ServerTokenManager` is currently undocumented. Let's add a section to docs where we describe their usage and how plugins are supposed to use them. We should also include existing tricks that can be used to harden deployments, namely that you can avoid having just one set of shared signing keys, but instead have multiple pairs of keys in order to limit access.

[2022-08-24 09:22] mehmetmalli commented on #12302
It doesn't register extra_javascript either

[2022-08-24 09:27] benjdlambert commented on #10907
Indeed, you would want to add it to here: https://github.com/backstage/backstage/blob/8cc75993a627299ebfcf782c3cc2b5bee9d82008/plugins/scaffolder-backend/src/scaffolder/actions/builtin/publish/gitlab.ts#L97-L109

[2022-08-24 09:32] sole0bserver commented on #13179
@benjdlambert I actually observe similar behaviour while proxying requests from Scaffolder to BitBucket with "Authenticate API requests" enabled. Unauthorized 401, as basically it's the same header I'm trying to send, but with BitBucket access token. I appreciate the workaround you have provided, do you think it's applicable to my issue as well?

[2022-08-24 09:44] benjdlambert commented on #13179
When do you see this 401 with the scaffolder? The scaffolder shouldn't use the `proxy` endpoint, it should just call out to the provider directly with the token that you've configured in your `integrations` config. @pjungermann + others have done some great work recently with bitbucket, so maybe update to the latest versions and give it a go?

[2022-08-24 09:50] sole0bserver commented on #13179
Thing is, I use http:request action to create branch/PR in BitBucket (as bitbucketCloud:publish is only suitable for new repos it seems, in contrast to vast GitHub support). Docs for http:request action recommend to send requests through proxy...

[2022-08-24 10:07] sole0bserver commented on #13226
A small update (sort of workaround): If the list of workspaces is longer than 1, it is possible to pass validation by changing to the other workspace (a dummy one) and then back to the legit one. After this validation is passed.

[2022-08-24 10:07] benjdlambert commented on #13179
In that case I would suggest that it is something like that if you're going through the proxy, It's possible that the request is invalid with the users auth token or it's doing something. I wonder if it would make sense to contribute an action that can use the built in `integrations` to get auth from both the `integrations` config and be overriden by a provided token like the github ones  that can

[2022-08-24 10:43] MvRemmerden commented on #7633
@benjdlambert Do you happen to know if there is any designer in the team that I could collaborate with on this?

[2022-08-24 11:39] stephanschielke commented on #6746
I ran into the same error and it took me a while to understand what I'm doing wrong, so I want to share that the `integration.github.token` configuration is used instead of the `auth.providers.github` configuration.

The catalog importer will use the `integration` config:
[code]
It will _not_ use the `auth.providers` configuration:
[code]

[2022-08-24 12:21] NishkarshRaj opened #13328 "Scaffolder Search incorrectly outputs Templates with no tags for all search"
## Expected Behavior

Scaffolder search results in list of templates matching the keyword(s) passed in the search.

## Actual Behavior

The search works as expected except in the cases when one or more onboarded template has no tags (`metadata.tag` in `kind: Template` descriptor) associated with it.

When this is the case:

- If you search for a keyword which related to no templates - all template

[2022-08-24 12:24] sole0bserver commented on #13179
It would look nicer with custom action for BitBucket indeed, I'm just lacking time/dev experience to code it (more devops/systems background).
I understood the issue as following:
- using http:backstage:request and access token (which is surely valid) I'm trying to send request via /proxy to BitBucket API;
- Access token for BitBucket is apparently in 'Authorization' header;
- As soon as the reque

[2022-08-24 12:30] benjdlambert commented on #13179
Yeah or you will need to do the same as mentioned before to create your own proxy middleware that ignores validating the token on `/bitbucket` or `/airflow` or whatever

[2022-08-24 12:33] sole0bserver commented on #13179
Thanks a lot @benjdlambert! This was a fruitful conversation for me :)

[2022-08-24 13:05] pjungermann commented on #13179
seems like the discussion went a bit out of the original scope.

Re Bitbucket Cloud and `bitbucketCloud:publish`:
It is true that this action only supports new repositories at the moment.
I will need something for adding branches and PRs later for us, too.

For GitHub, there is a separate action for PRs. Something like this will be needed for Bitbucket Cloud as well.

This would render the while h

[2022-08-24 13:12] pjungermann commented on #13179
`bitbucketCloud:publish` could be modified to support existing repositories and only fail if the specified branch already exists.

[2022-08-24 13:13] awanlin commented on #10402
@FreshlyBrewedCode if you do move forward with this please tag me in the PR as I'll gladly test this with Azure DevOps Server 2020, the on-prem version. Most of the time it's fine but never hurts to double check. I'll also help out with review 👍

[2022-08-24 13:21] awanlin commented on #13227
I agree with @kuangp, this seems like what's already in the Explore plugin's Tool tab: https://demo.backstage.io/explore/tools

But it would be pretty awesome if you added the additional features of your plugin to it!!! What do you think @gabriel-dantas98?

[2022-08-24 13:38] timja opened #13329 "GitHub topic filter for GitHub Entity Provider"
## Feature Suggestion

The GitHub entity provider currently only supports repository regex for filtering repositories.
https://backstage.io/docs/integrations/github/discovery

It would be good if we could filter that by a GitHub topic as well.

regexes are not flexible enough.

We have a GitHub org with about 2000 repositories but only 300-400 of them are likely going to be in backstage.

Clicking

[2022-08-24 13:45] Parsifal-M commented on #10907
Hey I have made the PR above is this more or less what is expected? Can you confirm if I need to make a `changeset` for this? I read the docs but was not 100% sure if its needed, please let me know and I can do one.

Thanks!

[2022-08-24 14:19] dschwank commented on #10121
Thanks for being so patient @shailendra-ahir-cbre

We finally had the time and opened the PR to persist the starred entities. Please have a look and feel free to give feedback!
https://github.com/backstage/backstage/pull/13327

[2022-08-24 14:31] afscrome opened #13331 "Unifi Azure Devops Configuration"
Currently there are two separate configuration sections for Azure Devops.  It be nice if these were consolidated into one.

[code]

## Feature Suggestion

These two bits of configuration have a lot of overlap so it would simplify things if the config could be unified.

## Possible Implementation

Sharing hte configuration is fairly easy with the exception that `integration.azure` supports multiple

[2022-08-24 14:49] hillmandj opened #13333 "[Sentry Plugin] Add Ability to Make Requests to Multiple Instances"
Currently the [Sentry Plugin](https://github.com/backstage/backstage/tree/master/plugins/sentry#getting-started) makes use of the `proxy` configuration in `app-config.yaml` to set a target and Authorization header when making requests to Sentry. This is convenient when an organization only has one instance of Sentry, but larger orgs may have different instances of sentry that they need to make req

[2022-08-24 14:56] awanlin commented on #13331
Yes, agree. The challenge is in the how. There are two issues open that cover this:

#10403 - Enable multiple integrations of the same provider - Ideally this would be done first and there looks to be someone who would like to do it for Azure DevOps
#10431 -Support multiple Azure organization - This would then get worked on to use the above and probably be the place where the config would be unifi

[2022-08-24 15:05] awanlin commented on #13331
The part that like some suggestions on is how does the Entity know which Organization (Team Collection) it should use? All I could think of is adding that as an annotation, can you think of any other options/ideas?

[2022-08-24 15:30] afscrome commented on #13331
Thanks @awanlin, that makes sense (assuming you meant to link to #10402 rather than #10403)

You could perhaps reverse engineer the org from `backstage.io/source-location` or `backstage.io/view-url` but that seems flaky.  You could also fudge it into `dev.azure.com/project-repo` (i.e. rather than the value being `{project}/{repo}` use `{org}/{project}/{repo}`).

Personally though, I'd be inclined

[2022-08-24 15:47] awanlin commented on #13331
Yes, good catch on that typo.

So I don't like to use the `backstage.io/source-location` as that would not allow you to use the `isAvailable` feature to show or hide the tab which we use and I know a few others do as well.

Trying to add it to `dev.azure.com/project-repo` would cause a lot of confusion as it's pretty clear it's two parts.

I think you are right simply adding a new annotation is th

[2022-08-24 16:55] andrealmar commented on #13194
@benjdlambert I have my `app-config.yaml` set to:

[code]

then in my `app-config.production.yaml` I have:

[code]

But I'm still seeing CORS errors and the `Error: Could not fetch catalog entries` message.

Any ideas?

Thank you

[2022-08-24 17:46] gabriel-brotas commented on #6015
same error

[2022-08-24 19:11] gioufop commented on #13227
I found very interesting!
Simple and practical. :)

[2022-08-24 19:31] alecjacobs5401 opened #13336 "[Github Pull Requests Board] Board fails to load when PR Author has been deleted"
## Expected Behavior

When the user of an open Pull Request is deleted and replaced by https://github.com/ghost, the Pull Request Board should properly show that the user no longer exists for that Pull Request and continue to display all open/active Pull Requests for the owning group entity.

## Actual Behavior
The Pull Request board completely fails to load with a `TypeError` since the `author` v

[2022-08-24 21:21] #11815 closed

[2022-08-24 22:02] planeiii-te commented on #13152
Running with `--skip-install` will not fix the problem. The problem is that the config for them exists, but the packages to use the config do not. Here's a [code search](https://cs.github.com/backstage/backstage?q=path%3Apackages%2Fcreate-app%2Ftemplates%2Fdefault-app+lint-staged) of this repo that shows that the only instance of `lint-staged` appears in the `create-app` template and it's in the `

[2022-08-24 23:59] marcus-crane commented on #12806
@benjdlambert @freben Heya, I'll reply here for context rather than a full thread. One thing I've wrangled with using Backstage over the last 6 months is that the `refresh_state` table can often cause things to get "stuck".

One example is that we had some entities being read from an S3 bucket. Let's say I have an entity that was reading correctly at some point but then an issue was introduced so

[2022-08-25 03:45] tylerd-canva commented on #13320
Not sure if this is worth being a separate feature request, but it would be nice to be able to disable the TechDocs link in the AboutCard if TechDocs isn't "setup" yet or docs don't exist for a given component. It's the only link to TechDocs that can't be removed without a patch file.

[2022-08-25 04:50] Jake-Mok-Nelson commented on #1541
Is there a reason why this **wouldn't** work on Cloud Run?

[2022-08-25 07:16] sole0bserver commented on #13179
@pjungermann Having this specific action would be the best, I can't unfortunately contribute to it directly (lack of Dev experience with this stack).

[2022-08-25 07:25] bendu89 commented on #13227
Hey - I know that @iammnils has built something similar for one of our clients. He ist currently on vacation, but back next week. I will slack him that he should add some when he is back!

[2022-08-25 07:42] danangarbansa commented on #13142
After further investigation, this appears to be a larger issue than I initially thought.

Express does not support http2 at the moment. It won't work with the native node `http2` module.

As a workaround, we can use [spdy](https://www.npmjs.com/package/spdy) instead of the native `http2`. It works with express. However, there are reports that `spdy` won't work with node version >15, so this is def

[2022-08-25 08:28] freben commented on #13142
Alright. Shall we close this one for now then? Do you have an option of terminating http2 in a fronting proxy?

[2022-08-25 08:34] freben commented on #11040
Closing as duplicate of #13288

[2022-08-25 08:34] #11040 closed

[2022-08-25 09:16] johanhammar opened #13346 "[TechDocs] Techdocs page header sometimes disappear completely"
I noticed this behaviour when upgrading Backstage from 1.2.2 to 1.5.0.

## Expected Behavior

When the user views TechDocs documentation the page header should be visible and not disappear

![expected](https://user-images.githubusercontent.com/69011/186625765-cf163719-2e3f-4bfa-ac10-a111a2530a45.png)

## Actual Behavior

The page header sometimes disappear, see the screenshot below. However it doe

[2022-08-25 09:17] freben commented on #13336
@gregorytalita is this something you might be able to look at? Or @alecjacobs5401 maybe you'd be able to issue a pull request to address that particular part of the code since you may have a way of easily reproducing?

[2022-08-25 09:17] benjdlambert commented on #13152
Ah - ok, now I understand. Maybe we should just add this dependency to the `package.json.hbs` then? Must have been something that was missed when creating those templates.

[2022-08-25 09:19] freben commented on #13333
Or perhaps adding the instance name as an optional prefix part of the slug if possible. One annotation may be more convenient than two; this is something that I've seen other plugins do.

Would love it if you got around to contributing this!

[2022-08-25 09:22] freben commented on #13329
Could this be done in the form of just another parameter to the entity provider? Sounds like a sensible possible contribution 🙌

[2022-08-25 09:43] danangarbansa commented on #13142
Yeah I think we can close this one for now.

Our use case is to forward http2 connection to the upstream gRPC server using the backend proxy.

We are thinking of using [envoy's grpc bridge](https://www.envoyproxy.io/docs/envoy/latest/configuration/http/http_filters/grpc_http1_bridge_filter) in front of the gRPC upstream server, so we can keep the HTTP1.1 connection to the backstage.

Also, to answ

[2022-08-25 09:43] #13142 closed

[2022-08-25 09:45] timja commented on #13329
yes there's a filters block which current optionally takes either a `repository` or a `branch` it could also take a `topic` or `topics` filter

[2022-08-25 09:46] timja commented on #13329
FYI @brentg-telus

[2022-08-25 10:55] benjdlambert commented on #7633
I reached out internally to try and get some eyes on this and get a reply 🤞

[2022-08-25 11:36] freben commented on #13328
Ah! That was a small silly logic error in the free text matcher. Thanks for reporting. Made a PR to address it. https://github.com/backstage/backstage/pull/13349

[2022-08-25 11:36] benjdlambert commented on #13236
Hmm OK, do you want to whip up a PR and we can discuss more in there? :pray:

[2022-08-25 11:39] benjdlambert commented on #13236
I know we already have some filtering in the `CatalogTable` that is done client side, maybe some inspiration for you if you were to take a look there too and how all that fits together.

[2022-08-25 11:49] floriank commented on #8090
So,

Hey  - since it'd be rather important to me (and the company) to get some movement on the OAS 3.1 front going, I've spent some time looking into this. The news is a bit bleak though:

1. Backstage depends on `swagger-ui-react` (see [here](https://github.com/backstage/backstage/blob/a5684d0d53d535360e14ca07e34d8a8423db7348/plugins/api-docs/package.json#L53-L53)
2. `swagger-ui-react` currently

[2022-08-25 11:52] floriank commented on #8090
(I also should've realized that @johanneswuerbach mentioned most of this in the original issue description, mea culpa :facepalm:)

[2022-08-25 12:08] freben commented on #13320
Yeah the about card is a bit of a sore spot currently. I think the mindset for that component might be that it's a useful example and fairly useful in a lot of circumstances, but that we haven't had the time to give it a lot of care so we expect that many orgs will replace it with their own, better looking / behaving components. It's not particularly large or complex. So you may want to consider r

[2022-08-25 12:13] freben commented on #13307
So the plugin isn't completely properly installed. If your `packages/app` does render the `<EntityVaultCard>` in the static JSX root, then that should be happening automatically.

Could it be that you are breaking up your entity page with functional components? That's a typical gotcha. Like [here](https://github.com/backstage/backstage/blob/a6d551fad97f79c3b58a4cf89a81620b5fcab652/packages/app/src

[2022-08-25 12:28] #13328 closed

[2022-08-25 12:29] gabriel-dantas98 commented on #13227
Seems like the best approach, I'll explore the plugin better and propose improvements! :D

I also believe that we can create documentation on how to configure and implement this use case from built-in tools

[2022-08-25 12:29] p-kamath commented on #3975
@regicsolutions If you could please update the readme or share an example how you did that, it would help

[2022-08-25 12:31] Depado commented on #13307
Hello @freben, thanks a lot for your help. It was indeed what happened, I had made the following function :

[code]

Removing it and using the `<EntityVaultCard>` directly worked. If I may ask, is there a way to disable the `MissingAnnotationEmptyState` display when the annotation is missing? This is what I was trying to achieve. If there's no way to achieve that it's absolutely ok, I'm just curio

[2022-08-25 12:31] #13307 closed

[2022-08-25 12:32] afscrome commented on #13336
Was this fixed by #12803

[2022-08-25 12:38] Depado commented on #13307
Answering my own question :

[code]

Sorry about the noise! And thanks again!

[2022-08-25 12:41] freben commented on #13191
Alright, added an update that does index these large-value keys as well, but with a null for the value.

https://github.com/backstage/backstage/pull/13350

[2022-08-25 12:43] asaf-erlich commented on #13191
Thank you! 🙏

[2022-08-25 12:51] #13179 closed

[2022-08-25 12:57] benjdlambert commented on #13226
Fixed in the PR, we set the default state as the `owner` not `workspace` so this sets the `workspace` property for use with `bitbucketCloud` publishing.

[2022-08-25 13:22] taras commented on #12897
We're encountered this as well with importing people. We went through a few iterations and eventually settled on using employee numbers from LDAP. They were the only thing that was truly unique and not changeable.

The ability to build relationships without needing to look them up in the catalog is very important. I think this should be a recommended best practice.

[2022-08-25 13:28] #13191 closed

[2022-08-25 14:32] afscrome opened #13355 "No error shown on github-pull-requests-board when github app doesn't have permission"
If using the `github-pull-requests-board` plugin, but the github app doesn't have permission to view pull requests, the pull request dashboard silently fails without any errors.

## Expected Behaviour

Some kind of error should show in the UI or JS console .

## Actual Behaviour

The pull request dashboard shows with no errors, nor any errors in the JS console
![image](https://user-images.githubus

[2022-08-25 14:50] iocanel opened #13356 "Simplify the steps needed to install plugins"
Currently, installing plugins is procedure that is performed manually by editing the actual source files.
The process can be quite error prone and can lead to hard to reproduce issues.

## Feature Suggestion
It would be great if there was a tool that could handle those code changes automatically.

## Possible Implementation
Given, that most changes are things like:
- add an import to file X
- add

[2022-08-25 14:58] alecjacobs5401 commented on #13336
Ah, thanks for pointing that out @afscrome!

Do you know what version of the plugin that is using? We recently just did an upgrade to Backstage v1.5.0 _immediately after_ I opened this Issue and as part of that looks like we bumped to
[code]
which looks to be the latest release, but I am still able to reproduce on this version of the plugin. Do you know if the fix will be in the next release?

[2022-08-25 15:00] alecjacobs5401 commented on #13336
Ah, I just did another look at the PR you linked @afscrome and it looks like its a different error with the same root cause, so that might not have been the total fix.

@freben I can try to put together something, but might not be able to get to it until next week. I'll coordinate with my teammates

[2022-08-25 15:01] freben commented on #13336
The linked PR is definitely already released.

[2022-08-25 16:10] #13226 closed

[2022-08-25 17:00] akibabu commented on #13227
We have also built this internally, environments and the external yaml is the key points that was not available in any of the existing plugins.
To have the UI be instant we poll the yaml from github using a scheduler from `@backstage/backend-tasks`

For this plugin I think both a full explore type page (with expanded descriptions) and a more compact home screen widget is useful.

[2022-08-25 17:04] jcarres-mdsol opened #13358 "The description column in tables should more eagerly expand when there is space for it"
## Expected Behavior

Description text spans to take the extra space

## Actual Behavior

Description is eagerly trying to not take the space

## Steps to Reproduce

Have long descriptions in entities, the problem is more obvious when there are less columns

## Context

I would like to see more of the description in the tables, even when removing multiple columns so description has plenty of space

[2022-08-25 17:08] gavlyukovskiy opened #13359 "Provide sourcePath for publish:gitlab:merge-request action"
## Feature Suggestion

Similar to `publish:github:pull-request` it would be nice to support ability to make MR to Gitlab from subfolder (`sourcePath`) of rendered template.

## Possible Implementation

Add parameter `sourcePath` for `gitlabMergeRequest.ts`, if not specified fallback to `targetPath` (currently works as both `sourcePath` and `targetPath`), change `serializeDirectoryContents` to use

[2022-08-25 17:11] awanlin commented on #13358
You should be able to adjust that. This is a rough example I spotted on Discord: https://discord.com/channels/687207715902193673/962123996017606707/963736688394395720

[code]

[2022-08-25 18:09] floriank commented on #8090
In an effort to provide a tiny bit more substance, here is a branch where I [switched out `swagger-ui-react` with `openapi-explorer`](https://github.com/floriank/backstage/tree/feat/openapi-explorer).

The result needs styling, obviously, but works rather nice, even with OAS 3.1:

![image](https://user-images.githubusercontent.com/498241/186738167-5f8f4e84-063c-4789-96d0-3d50383d1ed2.png)

[2022-08-25 18:47] #10810 closed

[2022-08-26 06:35] david-christ commented on #13320
I see. In that case, we'll build our own with then. Thanks for your response.

[2022-08-26 06:35] #13320 closed

[2022-08-26 06:54] marcus-crane commented on #13329
Ah yeah, this is something I've been after as well. I thought a topic called `backstage-excluded` might take sense?

[2022-08-26 07:38] namco1992 commented on #13333
Hi @hillmandj @freben,

We've been following this topic for a while too, thanks for taking the initiative!

Besides the Jenkins example mentioned in the issue, there are a few discussions out there, to name a few:
https://github.com/RoadieHQ/roadie-backstage-plugins/issues/235
https://github.com/RoadieHQ/roadie-backstage-plugins/tree/main/plugins/frontend/backstage-plugin-argo-cd#support-for-multi

[2022-08-26 07:57] timja commented on #13329
For inclusion you can use the search API to find all repositories matching the topic rather than listing all.

It may also be possible for exclusion but I'm not sure.

[2022-08-26 08:29] namco1992 commented on #12880
Hi @pjungermann,

We recently encountered the same issue, do you have a plan in mind about how to implement this?

Another thing that bothers me is that the entities from providers are not restrained by the `catalog.rules` neither. the rules only apply to `referredEntities` emitted by processors, and the entities ingested by providers don't fall in that category.

Maybe one can argue that those ru

[2022-08-26 08:56] #10784 closed

[2022-08-26 09:07] #9541 closed

[2022-08-26 09:49] marcus-crane commented on #13329
It doesn't appear possible to exclude topics, only explicitly include them which works but seems like a bit of a step backwards as far as developers who might expect they just need a merge in a catalog file and nothing else

[2022-08-26 09:52] marcus-crane commented on #13329
That said, I assume the actual paging of the repositories is only a small portion of the rate limit being eaten since it's iterating 100 at a time so 2000 repos is only say 20 calls with the bulk being the actual fetching of the catalog files themselves, one by one.

In that case, it should be doable to just include the topics and then filter out anything matching an exclusion topic so that only t

[2022-08-26 10:03] timja commented on #13329
easy enough to bulk-add topics and add them to new repositories though.

if the rate limit could be handled in another way then that would be better too

[2022-08-26 11:12] benjdlambert opened #13373 "`GithubEntityProvider` will not work with Github Enterprise"
It looks like the same integration config is used for all providers, and there must always be a `github` config.

https://github.com/backstage/backstage/blob/master/plugins/catalog-backend-module-github/src/providers/GitHubEntityProvider.ts#L65-L83

Feeling that we should either add a `host` prop to the provider config, or we support `organizationUrl` like the `OrgEntityProvider` does and select t

[2022-08-26 11:20] cmoulliard commented on #13356
How such an utility could be used ? Do we have to install another tool on the machine of the developer ? @iocanel

[2022-08-26 11:47] benjdlambert commented on #13373
Another option I thought about is to support a url in the `organization` field, and just default to github.com if it's not provided.

[2022-08-26 12:48] Parsifal-M commented on #7876
Hey! definitely +1, have you done any work on this? Would also like to maybe take a shot at it, let me know!

[2022-08-26 14:36] jamieklassen commented on #12455
#12950 adds a CRD UI plugin to the marketplace, with its own backend plugin with a bespoke [CRD-fetching function](https://github.com/jquad-group/backstage-jquad/blob/a3d5bb3bead5e06905578d0a61308fc4a87a4ac4/plugins/tekton-pipelines-backend/src/service/pipelinerun.ts#L26). I wonder if @rannox considered using the existing kubernetes-backend plugin to perform these queries? If so, why did they choo

[2022-08-26 19:25] hillmandj commented on #13333
@namco1992 that's my understanding. I don't have a very strong opinion, but based on what you put here I think the pattern for Jenkins plugin is a bit cleaner. I do agree that it would be good to standardize this approach, but I'm not sure how that would be enforced. @freben any thoughts?

[2022-08-26 19:54] #10807 closed

[2022-08-26 19:54] #10806 closed

[2022-08-26 19:54] #10351 closed

[2022-08-26 20:35] iocanel commented on #13356
Not necesserialy. This tool could be part of `backstage-cli`. Or it could be a totally independant tool.

[2022-08-26 23:29] jcarres-mdsol commented on #13358
Tried it, strange enough as soon as I add any kind of `width` even if it is 50% or 300% it will render it as a very small column
[code]

Result

<img width="887" alt="Screen Shot 2022-08-26 at 4 27 42 PM" src="https://user-images.githubusercontent.com/1803073/187002581-97d70346-1a0a-496d-ba85-8138161836cb.png">

[2022-08-26 23:48] jcarres-mdsol commented on #13358
Ok, somehow the two last columns of the table will ignore the width setting and be always as small as they can get, moving columns around will always make the two on the right as small as possible.
The other columns will share equally the space unless overriding the width to share less. They can never take more than a share of the space left

[2022-08-27 02:10] marcus-crane commented on #13329
Ah yeah, it's not "hard" by any means, I guess it just changes the existing mental model from "Backstage will automatically discover your stuff, just add a catalog file" to "just add a catalog file and a repo topic"

It's also "easy" (as in not technically difficult) to backfill but I can imagine that a bunch of new repos will get created that don't have the tag and then that translates into inter

[2022-08-27 10:46] #12028 closed

[2022-08-27 13:12] manuelscurti commented on #13356
I think there is an on-going RFC for this #11611

[2022-08-27 14:34] #12032 closed

[2022-08-29 07:55] mufaddal7 opened #13394 "[Plugin] Glossary Plugin"
## Summary

Software catalogs contain various information about a project. Teams often maintain a glossary which is an essential part of the catalog.

Can we build a Glossary plugin that can be used by backstage Entities

## Plan

The glossary plugin will be an additional tab on the Entity Catalog page, which will be visible for the KINDs selected by the user. Terms and Definitions will be visible

[2022-08-29 08:19] #12221 closed

[2022-08-29 08:58] #9512 closed, assigned to nobody

[2022-08-29 09:13] Parsifal-M commented on #167
Hey Team!

Is anything pending on this? I am sorting the `good first issue` backlog on age to see if I can help cleanup :smile:

Its not 100% clear to me whats still pending on this... Please let me know if I can help out?

Thanks!

[2022-08-29 11:27] jhaals commented on #13355
Yeah that definitely could be better. Sounds like this error could be surfaced by checking the status and then using the `ErrorApi`. Would you like to give this a try @afscrome?

[2022-08-29 12:04] jhaals commented on #13359
Hi @gavlyukovskiy and thanks for the detailed issue 👍
It makes sense to update to update the gitlab action to have equal capabilities as the github counterpart.
Please submit a pull request! :)

[2022-08-29 12:06] timbuchwaldt opened #13401 "Support ae-dir LDAP Vendor"
Our LDAP vendor (https://ae-dir.com/) returns the DN property under the `dn` attribute, unlike the default 'entryDN'. The UUID is in `entryUUID`  though.

## Feature Suggestion

It would be great if either dn/uuid settings were overridable by the user or the ae-dir LDAP implementation could be added. One way to find out if ae-dir is used is querying the root-DSE and checking if it contains the `ae

[2022-08-29 12:09] jhaals commented on #13152
@planeiii-te would you be willing to fix this in the template? 🙏

[2022-08-29 12:23] #13373 closed

[2022-08-29 12:25] #11987 closed

[2022-08-29 12:30] Hanyman8 opened #13402 "Asciidoc Techdocs support"
Hello,

we have our complete domunentation of microservices in adoc format. Would it be possible to add adoc format instead of just markdown using mkdocs.

One of the solution for us would be using our generated html from adoc (we are able to do it in our CI/CD)

## Feature Suggestion

Asciidoc support

## Possible Implementation

## Context

We would like to serve our html generated from our asci

[2022-08-29 12:30] freben commented on #13401
Cool - yeah, we'd love to get even better support for more vendors.

[This is where](https://github.com/backstage/backstage/blob/c657dbeaa73ccf037a5182cdcb6392e546d07687/plugins/catalog-backend-module-ldap/src/ldap/client.ts#L219) the client tries to deduce what the vendor is, and [this is where](https://github.com/backstage/backstage/blob/c657dbeaa73ccf037a5182cdcb6392e546d07687/plugins/catalog-b

[2022-08-29 12:49] awanlin opened #13403 "Bitbucket Server Entity Provider - projectKey is case sensitive"
## Expected Behavior

The `projectKey` filter should be case insensitive or it should be documented that case matters

## Actual Behavior

After setting up the Bitbucket Server Entity Provider as per the docs nothing was getting picked up. After some investigation we determined that we needed to use the proper case for the `projectKey`.

## Possible Solution(s)

We could simply add some documentat

[2022-08-29 12:50] awanlin commented on #13403
@pjungermann could this also be an issue with the Cloud implementation? Do you have any thoughts on this?

[2022-08-29 13:15] cloudoutloud commented on #13161
@benjdlambert is there any timeframe for when this will be updated?

[2022-08-29 14:00] #7124 closed

[2022-08-29 14:00] benjdlambert commented on #13161
I haven't had chance to pick this up yet, is it something you want to contribute and help out with?

[2022-08-29 15:09] debojitkakoti commented on #13280
@freben I have prepared a PR https://github.com/backstage/backstage/pull/13407 . I am not a NodeJs developer, any suggestion is welcome here. I have tested it with Google Gsuite LDAP and it's working.

[2022-08-29 15:20] planeiii-te opened #13408 "[create-app] the `master` nomenclature branch naming is outdated and hardcoded"
## Expected Behavior

Either the name of the default branch (typically `main`) should be read from the environment or requested from the user.

I think reading from the environment offers the best user experience.

## Actual Behavior

The antiquated name is used and required to be changed after template generation.

https://github.com/backstage/backstage/blob/cdc6515e8f055ebe74198cdda4107f35d51259

[2022-08-29 18:21] saada commented on #10207
Experiencing this error using techdocs `1.3.1`. Is anyone working on a fix?

[2022-08-29 19:25] aarontsharp commented on #10207
I think I've tracked this down and will try to put together a fix. Here's the issue:

[This line](https://github.com/backstage/backstage/blob/0037c3941d13753c90d881b2c81a63dad6515d80/plugins/techdocs-node/src/stages/publish/awsS3.ts#L378) in `AwsS3Publish` creates a relative path as follows:

`const decodedUriNoRoot = path.relative(this.bucketRootPath, decodedUri);`

If `bucketRootPath` is configu

[2022-08-29 20:10] github-actions[bot] opened #13412 "Snyk vulnerability [SNYK-JS-TAFFYDB-2992450]"
## Affecting Packages/Plugins

* [@backstage/plugin-kubernetes-backend](plugins/kubernetes-backend/package.json)

## Overview
[taffydb](https://www.npmjs.com/package/taffydb) is an open source JavaScript library that provides in-memory database capabilities

Affected versions of this package are vulnerable to Internal Property Tampering. `taffy` sets an internal index for each data item in its DB.

[2022-08-29 21:05] begrossi opened #13415 "Knex+Backstage: Add support for 1 database/schema due to production restriction."
## Feature Suggestion

Here we are starting to use Backstage as our developer portal, and we have some database role restrictions in production. It's working in UAT as a one-database/multi-schema solution (with the `pluginDivisionMode=schema` option) with postgres, but now we want to put it in production and discovered that production database user roles do not permit to create schemas with the ap

[2022-08-29 23:53] david-christ commented on #13236
Hey @benjdlambert ,

Thanks for letting us know that a PR for this would be welcome. Always good to ensure that upfront ;-)
We have put this on our team's board and will implement it when the time comes.

Best wishes
David

[2022-08-29 23:59] lfialho commented on #11296
I have the same problem, I believe itts happening because our repositories implement group based access. I had to setup token authentication using the token from a user that is in a specific github group and this group have access to the repositories that we are trying to discover. Setting the github integration using app authentication is not working for us

[2022-08-30 00:04] ViniciusSouza opened #13419 "Do not block template creation, when a task is still being executed (blocking parallel execution)"
Today, when a template with a long running action is being executed it blocks new templates creation.

![image](https://user-images.githubusercontent.com/1587176/187318292-b496dd78-08ef-40ab-8962-29d428d773b6.png)

![image](https://user-images.githubusercontent.com/1587176/187318307-79aa62cd-49de-4e51-886b-9922f56d9d99.png)

We have developed an integration with Argo Workflow and some workflows ta

[2022-08-30 02:34] Niksko commented on #12628
Fixed in #13297

[2022-08-30 02:34] #12628 closed

[2022-08-30 09:12] freben commented on #13415
We also have the ability to [_not_ try to create](https://github.com/backstage/backstage/blob/master/packages/backend-common/config.d.ts#L81) databases/schemas automatically. If you enable this, you are expected to have created the required databases/schemas beforehand, for example in some management console or by asking your DBA team for it.

Would that have worked for you? The naming patterns ar

[2022-08-30 11:00] #10868 closed

[2022-08-30 11:20] freben commented on #13331
Hm. Is this the point when it starts to make a `BitbucketCredentialsProvider`, similar to [GithubCredentialsProvider](https://github.com/backstage/backstage/blob/56d585486a5472bced1e9b02d98b1b98bdd47db4/packages/integration/src/github/types.ts#L41) perhaps? It would hide the underlying ways of getting the right token for a given URL, and that's where we could hide per-organization tokens and simil

[2022-08-30 11:47] lfialho commented on #6746
Still getting same error after PR  6787 was merged

[2022-08-30 13:15] awanlin commented on #13014
Yes, I gave this a try myself while I was on vacation and had the urge to code a little. I could get the drop down populated with the categories but trying to get it to filter just wasn't going to work

[2022-08-30 14:41] VladMasarik commented on #13091
@jhaals I have been looking at the issue for the last two days, and I would like to be the the "community" :D However, can you help me better understand it?

1. Is my understanding correct that authentication works fine, it is just this settings page, which incorrectly represents the sign in status?

2. > The page only checks the session which isn't a good way to verify that the user is actually l

[2022-08-30 14:44] #11072 closed

[2022-08-30 15:47] #11055 closed

[2022-08-30 20:27] voodooGQ opened #13431 "ECONNREFUSED error when using CatalogClient in backend plugin"
## Expected Behavior

According to the docs, CatalogClient is capable of being used on the frontend or backend.

## Actual Behavior

When making a call to retrieve entities in the backend Im getting a ECONNREFUSED error

## Steps to Reproduce
- Add CatalogClient to a backend service
- Run the site

## Context
![image](https://user-images.githubusercontent.com/1512028/187536503-855e0e60-538f-4cc5-b

[2022-08-30 20:52] AjkayAlan commented on #6039
It looks like the fix in the upstream was merged, and added to `parse-url@8.1.0` which was cut this morning per https://github.com/IonicaBizau/parse-url/pull/65.

Could this by chance make it to `backstage@v1.6.0`?

[2022-08-30 22:39] padupe opened #13433 "[TECHDOCS] Failure at step "Generate docs site""
## Expected Behavior

Documentation should be generated through the Github CI process.

## Actual Behavior

Error occurs in step "Generate docs site"

## Steps to Reproduce

[Video](https://user-images.githubusercontent.com/72894267/187554280-34f5c86a-e14b-4dcf-9586-c935c7cac1bd.webm)

1. Generate `techdocs.yaml` at `.github/workflows`
2. Change applied at `/docs` directory or `mkdocs.yaml`
3. Wor

[2022-08-31 05:35] NishkarshRaj commented on #13243
@benjdlambert: another thought on this - alongside adding images and linking TechDocs.

Would it also make sense to hide the tags from the front?

<img width="421" alt="Screenshot 2022-08-31 at 11 01 34 AM" src="https://user-images.githubusercontent.com/35298207/187599663-cc95a61f-c7f9-4334-800c-f4b7cdd5fc8f.png">

We can still use tags for filtering and searching but not showcase them on the card

[2022-08-31 07:42] bendu89 commented on #13260
Hey - I know that @ZubairRafiq has solved this problem already for one of our clients - I will send him the issue and I'm sure he can help here.

[2022-08-31 07:57] #10776 closed

[2022-08-31 08:16] Pike commented on #13346
I tripped over this again. My perceived STR are that the header disappears when I reload a refreshed doc page. I didn't investigate a lot.

[2022-08-31 08:44] benjdlambert commented on #6039
I've raised the above PR to bump all plugins in this repo, but any other plugins will also need bumping if they depend on it directly, or depend on some of our packages with an outdated version too :pray:

[2022-08-31 09:29] afscrome opened #13443 "Backstage Upgrade Helper diff doesn't match `backstage-cli versions:bump`"
When  running `yarn backstage-cli versions:bump`, packages that only recieve a patch upgrade are typically not updated in `packages.json`.  However when you view the diff with in the backstage upgrade helper, it shows changes to those packages.

I get why these packages don't need to be updated in packages.json (e.g. 1.3.4 still satisfies the constraint `^1.3.2` so doesn't need to be upgraded), bu

[2022-08-31 09:29] #6039 closed

[2022-08-31 09:48] tragiclifestories opened #13445 "Images with relative links are broken in techdocs within HTML markup"
This a quirk that's tripped up people quite a lot - not sure exactly how it would be fixed but raising anyway.

## Expected Behavior

Given a file, `docs/my-doc.md`, that is within a techdocs site, and an image, `docs/images/my-image.png`:

[code]

Both images resolve correctly.

## Actual Behavior

The first image will end up with a correct `src` attribute after docs compilation (ie, `images/my-i

[2022-08-31 09:52] afscrome opened #13446 "Supress pre-release changes from backstage upgrade helper when not relevant"
## Feature Suggestion

When comparing non pre-release versions in the backstage upgrade helper, it shows the change logs for intermediate pre-release versions.  In the following example, the change log for `1.5.0` includes all the changes for `1.5.0-next.*`, so it should be sufficient to only show the 1.5.0 and 1.5.1 change logs.

## Possible Implementation

![image](https://user-images.githubuser

[2022-08-31 09:53] afscrome opened #13447 "Add link to "Keeping Backstage Updated" to Upgrade Helper"
## Feature Suggestion
It would be helpful if the backstage upgrade helper had a link back to https://backstage.io/docs/getting-started/keeping-backstage-updated

I'd be happy to have a go at adding this myself, but couldn't find the source for the upgrade helper.

[2022-08-31 10:31] vinzscam commented on #11642
Closed by https://github.com/backstage/upgrade-helper/pull/8

[2022-08-31 10:31] #11642 closed

[2022-08-31 10:48] #13001 closed

[2022-08-31 11:42] awanlin commented on #13447
@afscrome great idea! I think this is what you are looking for: https://github.com/backstage/upgrade-helper

[2022-08-31 12:01] 7Hazard commented on #8074
I was unable to get it to work with alpine but got it to work by
- using `node:16-buster-slim` docker image
- `apt install -y python3 python3-pip`
- `pip3 install mkdocs mkdocs-techdocs-core==1.1.4`

[2022-08-31 12:17] #13290 closed

[2022-08-31 14:30] aparnakcvs opened #13453 "[Plugin] Rally Integration"
## Summary

## Project website (if applicable)

## Context

[2022-08-31 15:10] cowboyd commented on #11611
Have we given any thought to having teardown in addition to setup be a core part of the API. I think this is critical to be able to do things that most mature plugin/addon systems have that allow you to programmatically add/remove or restart it. To use se the example from the readme, this could look like:

[code]

[2022-08-31 15:52] theute opened #13456 "Entity Relations Schema/Typescript issue"
Same issue as: https://github.com/backstage/backstage/issues/11565
There was a fix: https://github.com/backstage/backstage/pull/11568

But it never made it to a release of @backstage/catalog-model and the problem still exists.

Thanks !

[2022-08-31 15:57] theute commented on #13456
Well I guess it duplicates https://github.com/backstage/backstage/issues/11753 sorry for the noise

[2022-08-31 16:19] theute commented on #13456
Reopening as I thinks it's still an issue since using "spec: dependsOn" doesn't allow for custom relationships.

[2022-08-31 16:28] Rugvip commented on #11611
@cowboyd other than for local development we didn't (seriously) consider any kind of system for hot-swappable plugins or anything like that. I don't agree that most mature plugin systems have the ability to add/remove plugins at runtime. Are there any particular use-cases you have in mind?

We did consider startup/teardown hooks though, but are currently thinking that we can expose those as servic

[2022-08-31 16:30] Rugvip commented on #13456
@theute could you elaborate a bit on what the exact issue is?

[2022-08-31 17:36] N426ER commented on #7264
We're having this issue as well. Commenting to keep stalebot at bay.

[2022-08-31 19:46] ananthulasrikar commented on #13180
@kunickiaj I am having same issue :(

[2022-08-31 20:21] Rugvip commented on #13180
Will close this as it's an intended manual change that needs to be made and it is highlighted in docs. We can't support both docker build strategies either in an optimal way, and we strongly encourage use of the default host build setup.

[2022-08-31 20:21] #13180 closed

[2022-08-31 20:33] #10207 closed

[2022-08-31 21:53] jpeach commented on #12897
FWIW, I used the email domain name as the namespace, so brian@example.com becomes`example-com/brian`

[2022-09-01 04:27] jpeach opened #13472 "Add well-known annotation for a issue tracker link to display on entity AboutCard"
## Feature Suggestion

There's a high probability that organizations have issue trackers that are tracking issues for components. Today, you can add a generic link metadata to an entity and link to the component issues from the EntityLinksCard, but it would be nice to highlight this on the same level as the source and documentation (IMHO the issues are closely related at the same level).

## Possi

[2022-09-01 08:24] #13401 closed

[2022-09-01 08:39] #12261 closed

[2022-09-01 08:47] Rugvip commented on #6175
Closing this until we have a better idea of how it could be done

[2022-09-01 08:47] #6175 closed

[2022-09-01 08:59] freben commented on #13472
Could there be a use case for `metadata.links` in here, instead of annotations? https://backstage.io/docs/features/software-catalog/descriptor-format#links-optional

[2022-09-01 09:01] Rugvip commented on #13456
To be clear as well, emitting entities with the `relations` field set from a processor is not possible, you'll need to emit the relations themselves separately.

[2022-09-01 09:01] Rugvip commented on #13453
Please provide more information

[2022-09-01 09:01] #13453 closed

[2022-09-01 09:03] Rugvip commented on #13446
Oh yes totally, is this something you'd like to contribute? Opening this up for contributions either way though, over in the https://github.com/backstage/upgrade-helper repo

[2022-09-01 09:08] theute commented on #13456
I thought the issue was clear in https://github.com/backstage/backstage/issues/11565 :)

And I was also trying to emit entities with the "relations" field like the original author:
`apiVersion: backstage.io/v1beta1
kind: Component
metadata:
  name: xxx
  description: ''
  annotations:
    github.com/project-slug: https://github.com/xx/xx
spec:
  lifecycle: production
  owner: xxx
  type: service
r

[2022-09-01 09:17] Rugvip commented on #13408
Agreed. I think while at it we should really have `create-app` initialize a new git repo too and commit the resulting app in an initial commit, or maybe two, before and after `yarn install`. Alongside that it should be simple to read out a couple of config values too that we can make available during templating, I'd very much like to avoid more user input.

Is this something you'd like to work on

[2022-09-01 09:23] jpeach commented on #13472
Yeh that's what we are doing right now. I would like to get the additional UI on the about card header though. After all, the same argument about the links card could be used with tech docs and source links :)

[2022-09-01 09:23] Rugvip commented on #13403
Is the project key concept on the Bitbucket side case-insensitive? In that case I feel it would be safe to make it case insensitive on our side too. Otherwise, documentation update? 🤷

[2022-09-01 09:33] Rugvip commented on #13091
Yep!

Kind of, it's the fact that that code only subscribes to the current session state, but there's nothing that actively checks whether the session exists. Important part of this is that initially the session only exists as a cookie in your browser, it's not until you try to perform an action and actually use that cookie that the frontend realizes that a session already exists.

Yep! 👍 And it d

[2022-09-01 10:21] benjdlambert commented on #13419
Yep, looks like we could probably increase the amount by default to 3 or so. We've also discussed being able to schedule these tasks on with Kubernetes Jobs, but nothing has been planned yet. This could give us a little more freedom to maybe remove some of these `TaskWorker` limits, and just have the scheduler push jobs to K8s or some other scheduling interface. But nothing solid yet. @ViniciusSou

[2022-09-01 10:47] Rugvip commented on #13014
Tbh it might be a good idea to put this one on ice until #12019 is through. Client-side scripting is a bit of a pain on the microsite currently.

[2022-09-01 10:51] Rugvip commented on #12897
Another approach for namespaces that I wanted to get out there is to treat namespaces similar to K8S namespaces, ofc skipping infra related ones like `kube-system`. This is of course going to vary a lot across different orgs, but if your org already has an established pattern for K8S namespaces, then it might make sense to re-use them in the catalog.

[2022-09-01 10:59] Rugvip commented on #12880
Yep this is a bit of a gap. I think perhaps the most straightforward short-term fix for this would be to make it possible to include locations in `catalog.rules`? But then again, wouldn't you just add that location to `catalog.locations` at that point instead? I would actually be curious to hear what use-cases you have in mind for more granular rules of entities discovered by providers.

The fact

[2022-09-01 11:03] Rugvip commented on #167
@Parsifal-M thank you for doing that! 😁

To be honest this one doesn't seem vary actionable at this point, so going to close it. Glad if you want to have a look at a different one though!

[2022-09-01 11:03] #167 closed

[2022-09-01 11:39] Rugvip commented on #13443
Yep we've had this brought up a few times, fixed in #13480

[2022-09-01 11:53] afscrome opened #13481 "Caching missing around Github Access Tokens"
After looking at telemetry for backend calls from backstage, I noticed a large number of calls are going to `https://api.github.com/app/installations` and `https://api.github.com/app/installations/{APP ID}/access_tokens`.  I'm roughly seeing one call to each of these urls for every call to another github endpoint, so it seems as if every call to github is requesting a new access token.

## Expecte

[2022-09-01 13:50] freben commented on #12673
Hm so the catalog client should probably be supplying that one unconditionally.

[2022-09-01 15:26] camerontscott commented on #12920
Looks like this bug was fixed in a recent patch of @backstage/plugin-techdocs. v.1.3.2-next.0 which is included in backstage v1.6.0-next.0 release.

[2022-09-01 15:48] #13443 closed

[2022-09-01 15:52] williamscs opened #13489 "Backstage CLI test doesn't respect `coverageReporters` config value in root"
## Expected Behavior

When I run the test command with coverage from the root of the repository, it should use the `coverageReporters` field in the root package.json file.

## Actual Behavior

A coverage directory is created, but it doesn't use the reporters that I've configured.

## Steps to Reproduce

Add the following config to the root `package.json`

[code]

The `test-all` comand should conta

[2022-09-01 15:55] williamscs commented on #13489
Full root `package.json`, if helpful.

[code]

[2022-09-01 16:00] Rugvip commented on #13489
Being able to run the tests from the root with coverage isn't quite there yet. I was looking into it back in #10019 but haven't picked that back up. Iirc it's a limitation (bug) in Jest, and perhaps might even be fixed at this point.

I believe the exact issue that you're facing is that our base Jest config is only set up to track coverage in the packages and not from the root, so when you execute

[2022-09-01 16:43] pjungermann commented on #12880
@namco for me this is only about providers which ingest Location entities.

For other kind of providers, they should provide you with filter
capabilities if this makes sense. E.g., at the msgraph provider, you can
filter which Users, Groups, etc. will be added. The kinds are fixed though.

With Locations, this is different. You could include any kind of entity
there.

Usually, you have a dedicated

[2022-09-01 16:44] Rugvip commented on #11611
Yep we'll have a look at local development more properly before settling things and happy to bounce ideas in that area too. We did some early experiments where we concluded that the HMR that we have right now may be a bit overkill, and restarting the entire server on every change might be alright. The backend has to be and generally is stateless, with all state stored in the DB. An exception to th

[2022-09-01 17:24] kumar385 opened #13491 "OKTA Integration failure"
Hi,
I am trying to integrate OKTA - backstage i was getting error **"The Backstage Login provider is not configured to support sign-in"**.
This was not error before were getting before i update the packages by running **_yarn backstage-cli versions:check --fix_**

Okta received the request the authentication is success.
![image](https://user-images.githubusercontent.com/3529693/187974671-39fdec73-

[2022-09-01 17:30] Rugvip commented on #13491
It is now a requirement to explicitly configure providers for sign-in, see https://backstage.io/docs/auth/identity-resolver for more details

[2022-09-01 18:06] masonhuemmer opened #13492 "Backstage-cli finds test, but does not include coverage"
When I run the following script at the root directory:

**command-line**
```yarn run backstage-cli test --coverage --coverageReporters cobertura```

I return all 10 tests which I have created.

But when I look at the report, it doesn't include the test.

However, when I run ```lerna run test -- --coverage```, the tool will individually run against the same test and include coverage in the report a

[2022-09-01 18:08] afscrome commented on #13481
After debugging locally, I can see there is some caching, but 3 distinct issues are combining to significantly reduce / totally negate the effectiveness of the cache.

## 1. No caching around Installation Data

There is no caching around the loading of installation data from github.  This information is required for auto discovery to work out which apps apply to which org & repo

https://github.co

[2022-09-01 18:11] cowboyd commented on #11611
I should qualify what I mean by state. I'm talking about things like database connections, bound server ports, open file descriptors, and active http connections, and from that perspective, the backend is extremely stateful.

[2022-09-01 18:11] williamscs commented on #13489
Thanks for the quick response @Rugvip. My co-worker was digging into it a bit and got the coverage configuration to work with a cli flag, but the coverage is missing. Assuming it's due to the same issue of support just not being there, yet?

https://github.com/backstage/backstage/issues/13492

[2022-09-01 18:39] Rugvip commented on #13489
Yep, same issue as I ran into. It kinda seems to work, but when you inspect the coverage much of it is wrong or missing.

[2022-09-01 18:40] Rugvip commented on #13492
Alright to close this as a duplicate of #13489? since the discussion is a bit further there and I think it's the same root cause.

[2022-09-01 18:41] #13492 closed

[2022-09-01 23:24] tonyhsuclrous commented on #12920
Thanks for the info.

[2022-09-01 23:24] #12920 closed

[2022-09-02 08:34] #11143 closed

[2022-09-02 09:36] #11142 closed

[2022-09-02 10:12] no1melman opened #13500 "Azure DevOps Token issues"
## Expected Behavior

Assign `AZURE_TOKEN` environment variable that is used in the `app-config.yaml` and the provider/processor will happily go about it's business of getting stuff...

## Actual Behavior

I get this

[code]

## Steps to Reproduce

app-config.local.yaml:

[code]

Dockerfile used to deploy on local.

[code]

Part of the powershell script which deploys image:

[code]

## Context

**

[2022-09-02 10:28] UsainBloot opened #13502 "Jest SWC transpiling issues when mixing TSX and JSX in v1.6.0-next.1"
## Expected Behaviour

Jest using SWC should be able to transpile a JSX file that is imported into a TSX file

## Actual Behaviour

SWC throws and error with "Syntax error" when it attempts to transpile JSX from within a TSX file

<details>
  <summary>Example test error output</summary>

[code]
</details>

## Steps to Reproduce

See recreation https://github.com/UsainBloot/backstage-example/pull/3

[2022-09-02 11:06] Rugvip commented on #13502
Created #13503 as a failing test for this as well, but also as a permanent change so that we catch `.jsx` issues.

[2022-09-02 12:07] phaakmat opened #13507 "`publish:github:pull-request` very slow / performance regression"
## Expected Behavior

`publish:github:pull-request` takes <1 minute to complete.

## Actual Behavior

`publish:github:pull-request` takes >5 minutes to complete.

## Context

After upgrading from Backstage v1.0.0 to v1.5.1 we noticed a severe performance regression on `publish:github:pull-request`.
With v1.0.0, the action takes ~10 seconds. With v1.5.1 it takes ~5 minutes.

The cause seems to be t

[2022-09-02 12:31] #10735 closed

[2022-09-02 13:07] #12242 closed

[2022-09-02 16:39] awanlin commented on #13205
Alright, made some good progress on this today:

https://user-images.githubusercontent.com/67169551/188199502-07191ca2-7541-4051-b930-b097699110b6.mov

[2022-09-02 18:56] arielpacciaroni opened #13514 "TechDocs: Cannot publish to S3 bucket"
## Expected Behavior

TechDocs should be able to use the S3 bucket

## Actual Behavior

I get the following error:

[code]

## Your Environment

**ENV variables**:

[code]

*app-config.yaml*:
[code]

In AWS, `techDocsRoleArn` has the following statement so the pod can assume `techDocsRoleArn`:

[code]

and has attached this policy:

[code]

[2022-09-02 19:04] #13514 closed

[2022-09-02 19:35] awanlin commented on #9090
Alright, took a swing at this. Seems 99% of what I need is there BUT the value of the previous release. I thought I could use the `octokit` here - https://github.com/backstage/changesets-action/blob/254e41bb3aa2e9a00e32313596986533aca30175/src/run.ts#L195 - to get the latest release but that's giving me errors. @Rugvip does this seem like a reasonable direction to be going? Also is there any way t

[2022-09-03 13:31] leonardomaier commented on #12609
@benjdlambert just started working on this, could you please assign me?

[2022-09-03 13:40] freben commented on #12609
Assigned.

[2022-09-03 13:46] freben commented on #11406
Hm, I'm not entirely sure I fully understand what you mean with merging and deleting, or how you meant with "when the user logs in". 🤔

Sounds to me like you would be best served by writing an entirely custom entity provider from scratch that does exactly what you need. Hopefully the existing catalog modules export enough lower level building blocks to help you get started.

Unless your case is st

[2022-09-03 14:58] leonardomaier commented on #12609
@freben @benjdlambert done in https://github.com/backstage/backstage/pull/13517

[2022-09-03 15:08] benjdlambert commented on #12378
Actually fixed by https://github.com/backstage/backstage/pull/13017 but currently blocked bumping to latest version of rjsf.

[2022-09-03 22:43] leonardomaier commented on #13408
I spent a few hours trying some approaches.

First I added the `defaultBranch` context variable on `package.json.hbs`:

[code]

On `createApp.ts` I've added some additional steps regarding the git repository initialization like @Rugvip mentioned.

[code]
I'm using the temporary directory to initialize the git repo since we need everything ready before the `templatingTask` function call which is th

[2022-09-05 09:28] unixunion commented on #7109
Is there any progress on this rollup / visibility of internal / external system API's? As we have complex systems and would like to catalog our API's both public and internal to systems.

[2022-09-05 09:33] freben commented on #7109
Not that I've heard. I still think the concept makes sense.

[2022-09-05 09:37] freben commented on #7109
You can still make a custom extension to the model for this to be clear, whether it's in the core one or not. For example, you could add a custom field `spec.scope: system` or something along those lines, and then a custom processor that translates that to providesApi/apiProvidedBy relation pairs with the system that it's part of.

[2022-09-05 09:55] Rugvip commented on #12880
Tbh it feels a little bit risky to combine discovery providers and rule overrides that apply to all locations it emits.

Wanna come back to whether this is a problem you've faced in practice or not? I'm feeling that static `catalog.locations` with rules should be filling this gap in practice, and that any solution based on entity providers is likely to have some security pitfalls.

[2022-09-05 10:10] NishkarshRaj opened #13531 "[RFC] Rate Limiting || Backstage <<>> Providers"
**Status:** Open for comments

## Need

Backstage is built in an abstract manner that allows us to integrate with different providers like GitHub, GitLab, etc. that act as the source of truth for catalog descriptors.

The different providers have different API requests quota which we might exceed as our adoption of the Portal grows with time.

Thus, we get erratic behavior due to `429: Too many re

[2022-09-05 10:35] no1melman commented on #13500
It appears that the code doesn't want an encoded token - just a raw token... I think it maybe work updating the backstage docs - the place I got confused is that on the link provided by backstage on the matter of AzDo PATs, part way down is this[ information on how to use](https://docs.microsoft.com/en-us/azure/devops/organizations/accounts/use-personal-access-tokens-to-authenticate?view=azure-dev

[2022-09-05 10:40] Rugvip commented on #9913
Done in #10450 🎉

[2022-09-05 10:40] #9913 closed

[2022-09-05 11:53] marcus-crane commented on #5355
I haven't looked at this plugin in a bit but I picked it up again last night and wired it up to the backend, where the previous video was just local development.

Codebase wise, it's quite a mess but my intention here anyway was to get something working that I can deploy internally and then basically take what worked (from the Kubernetes plugin that I largely hacked up) and what didn't in order to

[2022-09-05 11:58] marcus-crane commented on #5355
I'm also keeping an eye on https://github.com/backstage/backstage/issues/12844 as far as ARN naming and credential loading. The above is just pulling credentials from my local environment and presumably it'll pick up on credentials from an ECS instance (circumventing the Backstage config) in the meantime but of course, it should consult the AWS integration in the Backstage config as everything els

[2022-09-05 12:14] marcus-crane commented on #10183
@Rugvip I think this issue is complete now? 🤔

[2022-09-05 12:16] Rugvip commented on #10183
Indeed, thanks! 😁

And thank you everyone that helped out with this! 🙏

[2022-09-05 13:08] unixunion opened #13535 "Kind:API cant use apiProvidedBy to attach to components"
## Expected Behavior

The component should render in the graph view with a link to the API, via "providesApi/apiProvidedBy", when the API definition uses spec.apiProvidedBy to "back-ref" the component. ( without the component listing the API in spec.providesApi )

catalog view of the component / API also do not who it as being linked.

## Actual Behavior

API are not linked by relationship in the

[2022-09-05 13:16] unixunion commented on #13535
When only using the spec. apiProvidedBy from the API Kind, the render looks like this.
![image](https://user-images.githubusercontent.com/1773544/188458383-9ab5a96f-6375-4120-bd35-1babbf3d4be3.png)

But when you reference from the component to the API via spec.providesApis:
![image](https://user-images.githubusercontent.com/1773544/188458548-a1f8f29f-98f6-4100-ae3a-d9055040b0f5.png)

[2022-09-05 14:27] unixunion commented on #7109
@freben the rollups would be very interesting as a feature, as Software Architects, we often need to view several domains or systems, but this gets very noisy when doing so with backstage because of all the domains, systems, components, api and resources all competing for render space on the graph.

If you turn off specific kinds, and relationships,  you lose the full picture. It would be awesome

[2022-09-05 22:54] pjungermann commented on #12880
@Rugvip we have such a use case with Groups provided via the S3 provider, but general repos via the VCS-related provider shouldn't be allowed to add Groups. And at the moment, we have such global rules.

And statically defining all the files instead of using the provider is not an option.

I don't see much difference to catalog.locations having their own overrides, too.

[2022-09-05 23:03] pjungermann commented on #9796
remove stale

[2022-09-05 23:23] pjungermann commented on #13403
@awanlin I'm not aware that Bitbucket Cloud is case-insensitive. I only know uppercase keys. And I provided filters as such, too.

As the filter is a RegExp, you could make the RegExp case-insensitive, too, btw.

[2022-09-06 03:55] marcus-crane commented on #13531
Heya, there is a pinned RFC about webhook handling that you can read more about here: https://github.com/backstage/backstage/issues/11082

[2022-09-06 04:29] #11684 closed

[2022-09-06 05:02] NishkarshRaj commented on #13531
Thanks, will take a look into that but it seems mostly for GitHub.

[2022-09-06 09:39] #11187 closed

[2022-09-06 09:52] #13502 closed

[2022-09-06 11:11] #13049 closed

[2022-09-06 12:22] Rugvip commented on #13456
#11568 is released, but that is the schema for the format of output entities, the ones that you read from the catalog. The schema for what you're allowed to have as input into the catalog is a bit different, and it's unfortunately not something we have a schema for atm. In particular you're not allowed to have any `relations` at the top level, those must all be expressed or discovered in other way

[2022-09-06 12:29] Rugvip commented on #13472
We're thinking this is a bit too specific to add as a general feature for all about cards tbh. For now we'd recommend that you copy and create your own `AboutCard`. We very much want to find ways to make it more customizable and extensible though, but our focus is in other areas right now.

[2022-09-06 12:30] Rugvip commented on #13491
Will close this, let us know if we missed anything!

[2022-09-06 12:30] #13491 closed

[2022-09-06 13:10] phaakmat commented on #13507
Fixed by https://github.com/backstage/backstage/pull/13506

[2022-09-06 13:10] #13507 closed

[2022-09-06 13:19] theute commented on #13456
Ok, thanks !

[2022-09-06 13:19] #13456 closed

[2022-09-06 15:55] #11182 closed

[2022-09-06 18:11] DavidZemon opened #13560 "BitBucket Server integration no longer works for non-default branches"
## Expected Behavior

I should be able to register a software template from a non-default branch and then use that template.

## Actual Behavior

Upon trying to use the template, I encounter this error

[code]

## Steps to Reproduce

1. Create a software template with two branch
2. Create a new repo in bitbucket
3. Push software template to bitbucket
4. Register the non-default branch of the new t

[2022-09-06 19:23] awanlin commented on #13560
@DavidZemon the fix for #12827 was PR #12748 which simply added back handling cases where no branch was provided: https://github.com/backstage/backstage/blob/f1e43bd5df2cb8362878c26cc7e3761d7e7493ef/packages/backend-common/src/reading/BitbucketServerUrlReader.ts#L213-L221

This is done after new logic that was added as part of PR #12485. Can you help me understand where this would be causing you i

[2022-09-06 19:41] awanlin commented on #13560
Looking at this code I'm confused as to how this works: https://github.com/backstage/backstage/blob/f1e43bd5df2cb8362878c26cc7e3761d7e7493ef/packages/backend-common/src/reading/BitbucketServerUrlReader.ts#L191-L192

If you read the doc in the included link - https://docs.atlassian.com/bitbucket-server/rest/7.9.0/bitbucket-rest.html#idp224 - where we have `${branch}` at the end should be a `commitI

[2022-09-06 19:45] DavidZemon commented on #13560
I don't think it's been fully functional since v1.3, before this series of changes started.

For my project, the annotation `backstage.io/managed-by-location` is set to `https://our.internal.bitbucket.server.com/projects/APIE/repos/template-ts-aws-cdk-v2/browse/app-template.yaml?at=feature%2Fstart-template`.

This results in a call to `https://our.internal.bitbucket.server.com/rest/api/1.0/project

[2022-09-06 21:04] nvpnathan commented on #5355
Hi Marcus, this is great progress! Would it be possible to make your contributions public?

[2022-09-07 01:31] marcus-crane opened #13564 "Dockerfile uses yarn config set python which is no longer support in Yarn 3"
I'm going to circumvent the actual template this time since it's more just something that probably needs a tidy up but hasn't caused me an actual issue (yet?)

Within various Dockerfile, `yarn config set python` is used. As far as I understand, this is to ensure [node-gyp uses the proper Python executable](https://www.npmjs.com/package/node-gyp#user-content-configuring-python-dependency) to avoid

[2022-09-07 07:26] marcelovcpereira commented on #8398
This is something we also would like to have and will soon start considering the development of our own plugin.
Do we have any news on such a metric plugin?

[2022-09-07 08:01] #13419 closed

[2022-09-07 11:28] Rugvip commented on #13408
@leonardomaier yep something like that! You can use `--allow-empty` to avoid the need for the dummy readme. I'd say that's good to go for a PR if you want to open one up, and we can iron out the details there