[2020-10-29 19:45] andrewthauer commented on #3063
@dhenneke - Amazing, works great with SonarQube as well!

[2020-10-29 20:42] Rugvip commented on #3163
Only able to reproduce this by setting "Block all cookies (not recommended)" in chrome://settings/cookies

Do you have that option selected and in that case, does selecting a different one solve the issue?

[2020-10-29 21:56] Rugvip commented on #3164
Thank you for reporting! Went straight for a fix with #3165

[2020-10-29 22:29] #3164 closed

[2020-10-30 03:43] adamdmharvey opened #3167 "Doco suggests plugins need to hardcode builder.add() calls for catalog: still accurate?"
The following statements are available on this page:
https://backstage.io/docs/features/software-catalog/installation

Specifically, is this paragraph about adding custom `builder.add()` call for plugins accurate any longer?

https://github.com/spotify/backstage/blob/238715aac2e3cf326b0c82282497d3b1c8e5c8bc/docs/features/software-catalog/installation.md#L55-L59

I noticed they link to an old commi

[2020-10-30 04:32] kiranpatel11 commented on #2917
For my usecase, since the PR for bitbucket server is now merged, I dont need to make a change in `packages/backstage-common` .

However, I have a similar change in `plugins/scaffolder-backend`, and there I don't see this issue. It pick up my changes without any compile-time or runtime issues. For now I am good, not blocked due to this.

[2020-10-30 05:04] Marvin9 opened #3169 "feature(scaffolder-ui): Full screen logs."
Ability to view these logs in full screen.

![Screenshot from 2020-10-30 10-14-48](https://user-images.githubusercontent.com/17699717/97660984-1e8fef80-1a99-11eb-974f-44ac83baab92.png)

## Possible Implementation

Adding additional component [here](https://github.com/spotify/backstage/tree/master/plugins/scaffolder/src/components/JobStage) which may be another ```Dialogue``` but full screen.

## C

[2020-10-30 08:50] #3073 closed

[2020-10-30 08:52] #3063 closed

[2020-10-30 09:16] hendrikmaus opened #3175 "Question: Use of JSON Forms Rule feature in Scaffolder"
_I couldn't find any existing issue on the topic, so here goes a question._

The [documentation](https://backstage.io/docs/features/software-catalog/descriptor-format#kind-template) of `backstage.io/v1alpha1`'s `Template` resource states:

Is there support to use the [rule](https://jsonforms.io/examples/rule) feature of JSON Forms Schema in order to control the enablement of fields?

[2020-10-30 09:38] OrkoHunter commented on #2030
Aah, good question @ron-debajyoti ! I don't know the definite answer to it. @hooloovooo What are your thoughts on this ?

[2020-10-30 09:58] abhishekjakhar opened #3176 "Cleanup: GridBlockWithButton from microsite"
## Cleanup

The GridBlockWithButton component is defined in microsite but it is not getting used anywhere, should we remove it?

### Screenshot

<img width="640" alt="grid-block-with-button" src="https://user-images.githubusercontent.com/19193724/97691503-74c65800-1ac4-11eb-9084-350e39bb7192.png">

## Context

I am working on the migration of microsite from Docusaurus V1 to Docusaurus V2, while do

[2020-10-30 10:14] OrkoHunter commented on #3176
Sure! It doesn't look being used anywhere currently to me too.

[2020-10-30 10:15] abhishekjakhar commented on #3176
Should I go ahead and remove it?

[2020-10-30 10:17] Fox32 opened #3177 "Update ts-jest to 26.3.0"
Right now you get a lot of warnings while running tests, e.g. in `plugin/catalog-backend`:

[code]

This could be resolved by updating ts-jest to 26.3.0. But I noticed that this will cause other test failures related to the SVGs:

[code]

[2020-10-30 10:19] OrkoHunter commented on #3176
Yes. :)

[2020-10-30 10:27] andrewthauer commented on #2917
@kiranpatel11 - Good to hear.

I do think the original ask of having a mechanism to test packages from outside the monorepo is still very relevant though. For the times I've needed to do this, it's always a bit of a struggle and requires some very hack solutions.

[2020-10-30 12:01] Fox32 commented on #3177
I created #3178 to reproduce and show the issue. Feel free to close the PR.

[2020-10-30 13:53] zeevolution opened #3182 "Sentry plugin hard codes project slug id"
## Feature Suggestion

Load `sentryProjectId` value from config vars on [sentry plugin page](https://github.com/spotify/backstage/blob/master/plugins/sentry/src/components/SentryPluginPage/SentryPluginPage.tsx#L32).

## Possible Implementation

#3181: Load sentry project id from config vars (Draft)

## Context

The [sentry plugin](https://github.com/spotify/backstage/tree/master/plugins/sentry) se

[2020-10-30 14:24] #3176 closed

[2020-10-30 15:05] ron-debajyoti commented on #2030
@hooloovooo ! Would appreciate your views in this !

[2020-10-30 15:58] timbonicus opened #3185 "Mismatched Backstage versions cause missing API context"
The `@backstage/core-api` package creates a React Context for the `ApiHolder` used to retrieve registered APIs.

If a Backstage installation uses mismatched plugin versions - e.g. `0.1.1-alpha.24` in the app package, and `0.1.1-alpha.25` in an internal plugin - calling `useApi` throws an error:

[code]

I suspect this is due to how mismatched dependencies are handled by yarn workspaces in a monore

[2020-10-30 19:14] adamdmharvey opened #3186 "Database section in Docs needs updating"
## Feature Suggestion

The docs section on databases states Lighthouse supports PostgreSQL, but that the catalog is only SqlLite based.  I believe that's no longer accurate? There are two issues referenced, both of which are now closed, and looks like a ton of great work to enhance the database connectivity. My understanding is the system as a whole now supports BOTH PostgreSQL and Sqlite3 for the

[2020-10-30 19:17] #3134 closed

[2020-10-31 11:43] #3177 closed

[2020-10-31 19:05] n2ygk opened #3189 "scripts/check-docs-quality causes vale to segfault"
`yarn run lint:docs` is causing a vale segfault on macOS

## Expected Behavior

[code]
## Current Behavior

[code]

## Possible Solution

The segfault is caused by an empty filename being passed to vale due to an array resulting from the split of `git ls-files` ending with an empty element at https://github.com/spotify/backstage/blob/master/scripts/check-docs-quality.js#L43-L48

(PR coming shortly

[2020-10-31 19:46] #3189 closed

[2020-11-01 09:43] stefanalund commented on #3169
@Marvin9 good idea! Do you wanna work on this yourself? 💯

[2020-11-01 17:08] gabhangra commented on #3163
ahh totally didn't notice that on my browser. Working now! Thank you

[2020-11-01 17:08] #3163 closed

[2020-11-01 19:22] gabhangra opened #3193 "Unable to create react template cause of docker error"
## Expected Behavior

A react template should be created and pushed to my github via a PAT

## Current Behavior

I get the following error
![image](https://user-images.githubusercontent.com/72286673/97812172-838c4680-1c4d-11eb-8498-ab25b10fe4d6.png)

## Possible Solution

Maybe I am missing some config info?

## Steps to Reproduce

Run the app locally and attempt to create a react app

## Context

[2020-11-01 19:42] geototti21 opened #3194 "Add support to deploy Backstage as Immutable Web App"
## Feature Suggestion

👋 hey, this is a feature request for Backstage, to deploy it as an[ Immutable Web App](https://immutablewebapps.org/). At the moment if you want to do this I don't believe is possible with the existing `Config` API as we want to read on runtime config from the `window` object as it is described in the Immutable Web App example. It will great if we can somehow add an option t

[2020-11-01 20:10] Rugvip commented on #3194
Thanks for bringing this up, it's a good idea! :grin: It's actually already being worked on as followup to #2889, with https://github.com/spotify/backstage/issues/2889#issuecomment-708398400 providing some more info. The idea is to make the [default config loader](https://github.com/spotify/backstage/blob/019278935a91b32a4c9089292bfea924d4f353f6/packages/core/src/api-wrappers/createApp.tsx#L45) al

[2020-11-01 20:21] geototti21 commented on #3194
Thanks @Rugvip, really glad that this is already planned 🎉 . I saw the `APP_ENV_<config-key>=<config-value>` but as we deploy backstage to S3(as webserver) we don't have the option to do that.

[2020-11-02 00:29] gabhangra commented on #3193
This was an erroneous issue.

[2020-11-02 00:29] #3193 closed

[2020-11-02 01:59] jd-carroll opened #3195 "Flexible Deployment Model with NextJS"
## Feature Suggestion
We are looking to build a site similar to Backstage with almost identical use cases.  (Nice podcast btw @stefanalund!)  One of our use cases is rendering dynamic content, stored as markdown, which is updated multiple times per day.  Think real-time documentation.  It would be unrealistic to trigger a full build process each time there is a content update.

It would be great i

[2020-11-02 03:55] Marvin9 commented on #3169
Yes  🕶

[2020-11-02 07:10] stefanalund commented on #3169
@Marvin9 awesome, I've assigned you

[2020-11-02 07:27] martina-if commented on #3194
@Rugvip yes, please, assign it to me for now and we will see who in the Roadie team works on it :)

[2020-11-02 07:31] stefanalund commented on #3155
@freben will the link generation anyway need to be dynamic? In that case I think it is worth the extra steps of showing the correct provider icon.

[2020-11-02 08:03] stefanalund commented on #3111
@OrkoHunter you, @emmaindal, @soapraj and @hooloovooo have now been invited. Please let me know if it looks good!

[2020-11-02 08:24] #3059 closed

[2020-11-02 08:43] OrkoHunter commented on #3195
Live rendering of Markdown content, seems like an amazing flavour of [TechDocs in Backstage](https://backstage.io/docs/features/techdocs/techdocs-overview) 😄

[2020-11-02 08:44] Rugvip commented on #3194
@iain-b, need a comment on this issue to be able to assign it 😅

[2020-11-02 09:00] Rugvip commented on #3195
@jd-carroll As @OrkoHunter pointed out one of the core features of Backstage is TechDocs. It enables you to take markdown content in Git and render it in the frontend. It sounds like that it is either pretty much exactly what you need, or that it could be adapted for what you need.

Was there any particular part of the Next.js tooling that you where interested in though, like MDX and file-system b

[2020-11-02 09:47] iain-b commented on #3194
I'm happy to take that 😄

[2020-11-02 10:10] geototti21 commented on #3194
Thank you all 🙌

[2020-11-02 12:34] freben commented on #3155
Sure. I just am not sure the iconography helps, why the "edit" action isn't branded for example, even though it is provider specific. Could just as well have been a file icon (paper with corner folded) or an eye or so, in my mind. But I don't have a strong opinion - just a small number of cents.

[2020-11-02 14:41] benjdlambert commented on #3175
Hey @hendrikmaus,

so It looks like the react library we use to implement json schema forms doesn't support the rule syntax after trying their playground with the json schema form example.

Maybe you could use some alternative they have in their examples though?

https://rjsf-team.github.io.

Maybe you could also raise an issue on their repo too to track this feature, as I couldn't find it in clos

[2020-11-02 15:10] Rugvip commented on #3155
Was thinking a middle ground would be to use the Git logo, https://git-scm.com/downloads/logos?

Would have to include some proper CC attribution somewhere though, bit unsure where that would go

[2020-11-02 15:14] hooloovooo commented on #2030
Sorry about the slow response!
I don't think there are any hooks in the catalog we can use to figure out when to delete the content right now, but a solution like that sounds like a good idea to me. Maybe @freben knows more of how we can interact with catalog to find out when a entity is deleted.

[2020-11-02 16:38] abhishekjakhar opened #3201 "hidden content in docs/tutorials/journey"
The **Revenge of the Sam** title is hidden by default on https://backstage.io/docs/tutorials/journey page. It is very hard to find it.

## Expected Behavior

<img width="960" alt="show-point" src="https://user-images.githubusercontent.com/19193724/97893654-94c17a00-1d57-11eb-86ed-7cb1684a5e07.png">

## Current Behavior

<img width="960" alt="hidden-point" src="https://user-images.githubusercontent

[2020-11-02 16:45] #3017 closed

[2020-11-03 03:02] jd-carroll commented on #3195
The most appealing feature of Next.js is the capability to compile/render markdown files on the fly.  Unless I'm missing something, I'm pretty sure the current process publishing markdown content in Backstage is something along the lines of:
* Edit markdown file
* Commit changes into repo
* **Build whole Backstage project**
* Publish newly built web assets to web server

Whereas with Next.js the p

[2020-11-03 07:33] hendrikmaus commented on #3175
Thanks for getting back to me, I will have a go at it.

Unfortunately your link yields a 404, I reckon you meant https://github.com/rjsf-team/react-jsonschema-form

[2020-11-03 08:45] freben commented on #2801
@dtuite I believe this should be closed now that #3008 and the follow-up PRs are merged, correct?

[2020-11-03 09:02] adrianke77 commented on #3122
My two cents, it would be good to have `/catalog/<entity>/docs` going by the approach that everything is a catalog entity, and any global index page for documentation at `/docs` or other links from elsewhere would have individual hotlinks going to the docs under different entities. So that the urls support the concept of everything being an entity.

[2020-11-03 10:38] dzolotusky commented on #3074
I'm not sure that I understand the question correctly. I read "how to map catalog entities to their corresponding cloud resources" to mean how we map a VM like "vm-1" to the actual VM in the cloud like "AWS EC2 i-12345678". Though, when you added the concept of role from Spotify, it seemed to me like you were getting into something a bit different.

[2020-11-03 10:42] freben commented on #3074
@dzolotusky Not quite - I mean that, given some frontend view, it will have knowledge of the entity yaml data essentially. Given that data, how will it form queries to another system, such that the system knows what VMs to show in the list? That is, what is the linkage from an entity, to a VM?

[2020-11-03 10:49] dzolotusky commented on #3074
OK, I understand what you're saying now and the connection to role makes sense to me. Though, I don't have an answer at the moment.

[2020-11-03 11:07] Rugvip commented on #3195
The `edit -> commit` flow is exactly what TechDocs enables, but it's geared towards technical documentation and tied to the Catalog. There's definitely a possibility to reuse much of that infra for more general purpose pages if that's what you're looking for though.

My main question would be whether you're looking for MDX features and being able to write Markdown with access to a component librar

[2020-11-03 12:06] benjdlambert commented on #3175
@hendrikmaus yep, apologies that's the link!

[2020-11-03 12:10] andrewthauer opened #3217 "[RFC] Plugins should support custom EmptyState components / instructions"
**Status:** Open for comments

## Need

The new `EmptyState` and `MissingAnnotationEmptyState` components are very helpful. However, the current default ones don't necessarily convey intuitive (or complete) instructions for an individual organization. There might be some additional steps before adding any catalog file annotations would be applicable (e.g. CI/CD configuration). It would be nice to

[2020-11-03 12:44] freben opened #3218 "catalog: limit entity read access to certain users/groups"
## Feature Suggestion

Internally at Spotify we have had a very open mindset, where everybody can see pretty much all information available in Backstage, at least for reading - while management/write operations are limited to those that have the appropriate rights.

This is not good enough in some environments. There are many possible reasons for wanting to limit the access to information to certa

[2020-11-03 12:53] neilbeukes commented on #1807
@ainouche did you guys have to change any scope mappings ? We are using Keycloak 11.2 (latest) to solve this exact issue and we just aren't getting the right fields. `params` and `RawProfile` is undefined. This is using the OAuth2 adapter.

[2020-11-03 13:54] freben opened #3221 "catalog: publish events about catalog changes"
## Feature Suggestion

There should be a way for catalog API consumers to react to changes in the catalog, without having to resort to polling. There may be reasons to start laying the basic foundations for event driven systems around the catalog.

As entities are added, changed and removed, surrounding systems (or even the service nodes of the catalog itself!) may want to refresh caches or otherw

[2020-11-03 13:54] freben commented on #2030
Correct, there are no such hooks. Ideally, there would be an event bus from the catalog that pushes additions/updates/deletions, but there is no such thing at the moment. I added an issue for that now to track it.

https://github.com/backstage/backstage/issues/3221

[2020-11-03 15:31] andrewhertog commented on #2842
I'm seeing the same thing. I'm running in kubernetes, and it doesn't seem like this is designed to properly use kubernetes pods and volume mounts. Reading through the code it runs docker directly on the host, so the file paths don't match with what is in the pod trying to spin up the docker container.

[2020-11-03 15:33] Rugvip opened #3223 "auth: Inform the user that the app origin is incorrect"
## Expected Behavior

The error dialog in some way informs the user that the `app.baseUrl` is incorrect

## Current Behavior

The error dialog says that auth failed be cause the "popup was closed".

## Possible Solution

Detect incorrect origins in the script returned from `/api/auth/<provider>/handler/frame`, and pass on a more descriptive error from the popup with `postMessage`

## Steps to Repr

[2020-11-03 16:11] OrkoHunter commented on #2030
Thank you @freben ! I think it makes sense to mark this issue as blocked for now.

[2020-11-03 16:22] jd-carroll commented on #3195
MDX is a really cool feature and is something that I am considering, but it is definitely not a day 1 feature and would be happy to wait for enabling capability within Backstage.

I think the ability of re-using the TechDocs infra is exactly what I am looking to do.  Could you point me to some documentation / code where I could start to understand how that would work?

Also, the `edit -> commit` c

[2020-11-03 16:46] benjdlambert commented on #2842
@andrewhertog yep - for the simple iteration of the scaffolder we didn't really consider k8s, but we've been making some great steps on the next version and what it could look like here: #2577

We will be taking more consideration to k8s in this version to help enable running these jobs in `pods` and `jobs` in k8s.

Feel free to add some usecases to that list if you feel theres something missing.

[2020-11-03 16:50] andrewhertog commented on #2842
@benjdlambert So I switched to running cookiecutter in the same pod as the backend service. It seems to be working better now, as i'm blocked further down the pipeline with a different error now.

[2020-11-03 23:01] Rugvip opened #3227 "cli: create-plugin should handle build and type checking failures more gracefully"
## Expected Behavior

When using the `backstage-cli create-plugin` some build step tasks like `yarn tsc` might fail. These aren't required to be run and we could handle failures in a more graceful way, simply warning the user that the build task failed.

## Current Behavior

If for example `yarn tsc` fails, the following error is logged:

[code]

The new plugin is removed as well.

## Possible Sol

[2020-11-03 23:25] raosumanth commented on #3227
Thanks @Rugvip .

[2020-11-04 04:17] adamdmharvey opened #3229 "Recent GitHub actions nightly workflow steps trigger on forks"
## Expected Behavior

Certain GitHub Actions workflow steps may not need to be running on forks of the repo.

## Current Behavior

Received an e-mail from GitHub actions recently when I updated my fork that some steps failed:

![image](https://user-images.githubusercontent.com/33203301/98068518-3d400e80-1e2a-11eb-99b3-32c357f217e6.png)

![image](https://user-images.githubusercontent.com/33203301/9

[2020-11-04 06:20] ron-debajyoti commented on #2030
Should this issue be still assigned then ?

[2020-11-04 08:30] tudi2d commented on #3227
Hey. I would like to give it a try and fix this bug!

[2020-11-04 09:22] Rugvip commented on #3227
Thanks @tudi2d, assigned you! :grin:

[2020-11-04 09:48] lewtakm commented on #1854
Hello,
plugin is almost finished now, we are preparing now to publish it to NPM and then open a PR to Backstage sample app 👍
Preview: https://www.loom.com/share/4fa2756a6f5f47428305233ab9ce17e9

Since there are more and more plugins following similar pattern to show CI/CD stuff, maybe it will be a good idea to create a Backstage component for it?

[2020-11-04 10:01] OrkoHunter commented on #2030
@ron-debajyoti Thanks! Un-assigned this for now. Apologies that this task turned out to be blocked. 🙇

[2020-11-04 10:03] ron-debajyoti commented on #2030
Hey no problem! @OrkoHunter

[2020-11-04 10:46] OrkoHunter commented on #2579
We now have the packages in separate repositories. They will render the correct README. :)

[2020-11-04 10:47] #2579 closed

[2020-11-04 10:57] geototti21 opened #3234 "OpenAPI definitions for the backend plugins"
## Feature Suggestion
👋 Hey, could we please provide the API specification for the `backend` components in an openapi(or similar) format like we do for the [auth-backend](https://github.com/backstage/backstage/blob/master/docs/openapi/definitions/auth.yaml) already?

## Context
Context behind this is that we are building the backend of the backstage in a different language (Go) and at the moment w

[2020-11-04 11:42] Rugvip opened #3235 "Flaky e2e tests"
## Expected Behavior

E2E tests in CI should not fail for other reasons than bad changes.

## Current Behavior

E2E tests are flaky and need to be retriggered often. For example https://github.com/backstage/backstage/runs/1352271046?check_suite_focus=true

## Possible Solution

There are a couple of common reasons for failures. I'll list some known ones with possible solutions:

* `yarn install` f

[2020-11-04 11:50] andrewthauer commented on #1854
I also see a need to display multiple CI providers at once, which is something that's not currently possible with the example setup. Using GitHub actions for a small portion of things via app integrations and an 3rd party provider for the rest is coming up occasionally.

[2020-11-04 11:58] Rugvip commented on #3234
Thank you for reporting, is it alright to close this as a duplicate of #2566?

[2020-11-04 12:02] geototti21 commented on #3234
yeah defo, I should have search better the existing issues 😬

thanks

[2020-11-04 12:09] #3234 closed

[2020-11-04 12:26] OrkoHunter commented on #3235
Loved how you accurately described the Steps to Reproduce.

[2020-11-04 13:54] andrewthauer commented on #3122
There is a related discussion going on in #2791, however, you can skip to https://github.com/backstage/backstage/pull/2791#issuecomment-719974174 for the more relevant bits.

[2020-11-04 17:47] ainouche commented on #1807
Hi @neilbeukes, thanks for your feedback.
Yes, we did the same with Keycloak and OAuth2 on our side ;-)
The remaining thing to fix is the propagation of Backstage's 'logout' action to Keycloak service.
We are interested in a fix if you have/did one :-)

[2020-11-04 19:55] mvarrieur commented on #3027
@freben @stefanalund  any chance of adding a `hacktoberfest-accepted` label to this issue?

It looks like the topic got dropped from the main repo so it stopped counting for credit (might want to just add it back to the main repo for a couple weeks so people still get credit and then remove it after that instead)

[2020-11-04 23:29] tudi2d commented on #3227
I decided for a straightforward solution by replacing the `throw new Error(...)` with `Task.error('Warning: ...)` and it would look something like this:

![image](https://user-images.githubusercontent.com/8904624/98178616-5239a200-1efd-11eb-8650-4181f0c37e51.png)

This fixes the bug and should give the user enough information. Nevertheless it might be more elegant and longer lasting to add a `Task

[2020-11-05 01:15] Rugvip commented on #3027
@mvarrieur Afaik it's opt-in per repo and that should've been moved over, not sure though. But in general issues don't count towards hacktoberfest, do they?

Will ofc try to fix if something's actually up with the hacktoberfest credit here!

[2020-11-05 01:29] mvarrieur commented on #3027
@Rugvip Yeah this repo had hacktoberfest topic on it when PR got merged but then I assume it got removed because October was over. More of an issue on their end than yours but it was kind of a rush job for them to add it this year I think

[2020-11-05 01:31] mvarrieur commented on #3027
@Rugvip You can give credit for a single issue by adding that `hacktoberfest-accepted` label or just having the hacktoberfest topic on the whole repo. I'm thinking it probably won't count now but figured it was worth a shot to ask as unfortunately I ended up not getting credit because the 14 days period hadn't finished counting down yet

[2020-11-05 01:39] mvarrieur commented on #3027
I might be wrong and the label might need to be on the PR instead of the issue

[2020-11-05 03:38] adamdmharvey opened #3243 "[tech-radar] Footer legend doesn't respect Backstage theme"
In the footer of the Tech Radar plugin, the legend that indicates the triangles of moving up or down don't seem to reflect the Backstage theme, making the text sometimes hard to read depending on your theme choice:

## Expected Behavior

The legend that is displayed in the footer on tech-radar plugin should respect the chosen theme so the text is properly visible.
* Light Theme
  * Main text on th

[2020-11-05 07:56] Fox32 commented on #3243
I would use the theme palette to set the text color via CSS classes. I create #3245 for that.

[2020-11-05 08:36] #2801 closed

[2020-11-05 10:17] #2601 closed

[2020-11-05 12:04] #3201 closed

[2020-11-05 12:05] #3243 closed

[2020-11-05 14:05] #3227 closed

[2020-11-05 14:22] adamdmharvey commented on #3243
Thanks @Fox32 !

[2020-11-05 14:44] OrkoHunter commented on #3111
This is 100% complete.💥 🎉

[2020-11-05 14:44] #3111 closed

[2020-11-05 14:44] hooloovooo commented on #3195
@jd-carroll I'm not sure i understand exactly how you see that as working. The main issue we have now is that we always need to run it through a static site generator before viewing the docs. The thing that forces that flow right now is that the reader is built around MkDocs and reading remote HTML pages. (We try to explain the current setup in the docs here. https://backstage.io/docs/features/tec

[2020-11-05 15:05] #3194 closed

[2020-11-05 15:22] freben commented on #3217
Maybe this could fit in the app-components concept, as with the `SignInPage`. https://github.com/backstage/backstage/blob/master/packages/app/src/App.tsx#L45

This doesn't let you customise on a per-page basis, but may work well enough for the default behaviour. What do you think?

[2020-11-05 15:31] andrewthauer commented on #3217
@freben - I'm not sure how useful that would be. I'm noticing that each plugin integration that requires manual a configuration action requires a different series of steps. For the ones that don't, the current default empty page components are unusually sufficient.

[2020-11-05 15:46] freben commented on #3186
Thanks for reporting! Made https://github.com/backstage/backstage/pull/3250 with updated wording.

[2020-11-05 15:48] freben commented on #3217
Heh, "unusually sufficient" was an amusing typo. :)

Yeah you are right, mostly the EmptyState is a fit for this and does provide less value.

[2020-11-05 16:04] freben commented on #2842
@andrewhertog Hi again! Shall we close this issue for now? You are more than welcome to ask followups on Discord or open separate issues for later errors, of course.

[2020-11-05 16:26] andrewhertog commented on #2842
@freben I'm not the original poster, I'd ask @kaparwan if you can close it. I've resolved the issue on my part, but I'm not sure if the solution would be a fix for @kaparwan My sugestion to them would be to use the backend docker image with kustomize installed in it to avoid the headache of running docker in docker or trying to manage other containers.

[2020-11-05 17:21] nirga opened #3253 "View API for Component doesn't work"
## Expected Behavior

When opening an API definition for a service in the UI, we expect to see a screen with that API definition.

## Current Behavior

A blank page is shown

## Possible Solution

## Steps to Reproduce

1. Create an app using `npx @backstage/create-app`
2. Run the frontend and the backend locally.
3. Open up http://localhost:3000/catalog/default/component/petstore
4. Click on *Vie

[2020-11-05 17:50] adamdmharvey commented on #2622
Additional possible feature:

a project info widget that shows:
* the Jira icon selected for this project, if this is possible (it is customizable)
* Project Name linked to open the project in Jira
* Project Lead
* Current active sprint(s)
* List of roles and number of people per role (this may be a stretch

One interesting discussion we've been having is aligning squad sizing. We've had some peop

[2020-11-05 18:21] dtuite commented on #2622
We have started working on this by the way. I will drop a progress update and some screenshots soon. Keep the ideas coming please!

[2020-11-05 18:22] adamdmharvey commented on #2622
I would be HAPPY to be your beta tester, @dtuite and happy to contribute.

[2020-11-05 20:27] Rugvip commented on #3217
This takes me back to our ideas in https://github.com/backstage/backstage/issues/1536#issuecomment-665669837 (which are yet to be finalized 😅).

Possibly enabling something like this to override the default empty state component:

[code]

[2020-11-05 21:41] #3186 closed

[2020-11-05 22:08] dtuite opened #3256 "Prettier should automatically fix and commit markdown files"
**Status:** Open for comments

## Need

This might be controversial so I added the RFC tag 😄

The Backstage docs have this "Edit" button, which is (I guess) supposed to make it easy to update the docs using the GitHub UI. I ❤️  this idea and I like to use it. Unfortunately, 2/3 times so far that I have tried to submit changes to docs, prettier fails for me and I have to go and clone the branch loc

[2020-11-05 22:20] Rugvip commented on #3253
@nirga Thank you for reporting! Fix in #3257 which you for now can apply manually to the app

[2020-11-05 23:33] #3253 closed

[2020-11-06 08:41] freben commented on #3155
I suggest that we use a generic "view this thing" icon, and one that we do not have to worry about licensing for. Best I can come up with is MUI's own `OpenInBrowser` which should hopefully be both neutral, understandable, and possibly even very familiar for those that have interacted with other MUI sites.

`import OpenInBrowserIcon from '@material-ui/icons/OpenInBrowser';`

![Screenshot 2020-11-0

[2020-11-06 11:04] Rugvip commented on #3256
I think we should convince GitHub to add a "Format" button in the editor instead :trollface:

Afaik the best way to implement this is to skip the prettier check of `docs/` in PR builds, and instead add a format + commit step to the master build. That's because there are many cases where we won't be able to modify PRs from forks.

[2020-11-06 11:07] Rugvip commented on #3195
@jd-carroll, pop by [Discord](https://discord.gg/EBHEGzX) and we can set something up!

[2020-11-06 14:30] dtuite commented on #3256
Indeed, that implementation makes sense. This might be the shortest RFC process in history.

Want me to create a new issue or can you just take the labels off this one?

[2020-11-06 15:42] giulianovarriale commented on #3073
@freben @benjdlambert I was checking the status of my contributions on hacktoberfest and it says the repository is ineligible. That's really weird since I found your repository by looking for the hacktoberfest label. Do you know why that's happening?

**Ineligible Repository**
Your PR was submitted to a repository that is not participating in Hacktoberfest. Maintainers of the repository can add th

[2020-11-06 15:50] abhishekjakhar commented on #3073
@giulianovarriale there was transition from Spotify/backstage to backstage/backstage, maybe that's why you are facing some issue, because I was able to complete the Hacktoberfest challenge.

[2020-11-06 15:52] Rugvip commented on #3256
RFC
<img alt="Approved" src="https://user-images.githubusercontent.com/4984472/98385983-f29fdb80-204f-11eb-986e-e3d69f74badb.png" height="80">

Repurposed this issue :grin:

[2020-11-06 16:09] giulianovarriale commented on #3073
@abhishekjakhar It was being taken into account before. Suddenly, it is not anymore. Is there something the code owners could do? Maybe adding a hacktoberfest-accepted label on my PR?

[2020-11-06 16:16] abhishekjakhar commented on #3073
No label was added on my PR, the label is already there on backstage repo. I wonder why it is showing error for you.

[2020-11-07 06:47] #3229 closed

[2020-11-07 09:11] goober commented on #3155
I understand your point of view and it will probably make the action list a little less complex. But regardless of the icon there are still differences in how links will be composed among the providers. So some kind of encapsulation would be preferable.

However, there are several other places where the Github icon is used around Backstage that also needs a replacement for other source code provid

[2020-11-07 11:52] andrewthauer commented on #3256
It's possible this might actually be a thing soon - https://github.com/features/codespaces 😀

[2020-11-08 10:30] erictnilsson commented on #3223
I'd like to take a look at this, could you assign me @Rugvip ?🙂

[2020-11-08 10:31] Rugvip commented on #3223
@erictnilsson sure, thanks! :grin:

[2020-11-09 06:30] freben opened #3263 "Automatically bootstrap https[s] proxy in the backend"
## Feature Suggestion

The default backend (in the repo, and as scaffolded by create-app) do not honor the `HTTP_PROXY` and `HTTPS_PROXY` environment variables. This naturally surprises surprised users.

The backend is using cross-fetch, which in turn uses node-fetch, which ultimately uses the built-in http modules - none of which automatically pick up the standard env vars.

## Possible Implement

[2020-11-09 09:13] freben commented on #3263
We had a discussion and decided that it's probably best to not implement this as code + extra dependency, and instead make sure that we have clear documentation for how to add this manually in your own project. The contact surface for this is so small, and it's most commonly only useful in local dev and something you may not want in a typical prod setting.

[2020-11-09 09:13] #3263 closed

[2020-11-09 09:48] freben commented on #3263
https://github.com/backstage/backstage/blob/master/contrib/docs/tutorials/help-im-behind-a-corporate-proxy.md

[2020-11-09 11:32] andrewthauer commented on #3217
@Rugvip - I agree the child pattern is nicer from a readability perspective, but doesn't it put more work on each component that needs to implement it? Unless there is a plan to make some generalized utilities for this pattern maybe.

[2020-11-09 12:53] kingasieminiak commented on #415
@Rugvip Not sure if this is related, but seeing the issues described in [#backstage/pull/730](https://github.com/backstage/backstage/pull/730), you could think of solving [husky/yarn workspace issue](https://github.com/typicode/husky/issues/677).

[2020-11-09 13:57] Rugvip commented on #3217
@andrewthauer There are potential plans for making some generalized utilities for this pattern maybe :p

[2020-11-09 13:58] freben commented on #3217
Haha, that wasn't vague :D

[2020-11-09 14:12] Rugvip commented on #415
@kingasieminiak Haven't had many reports about issues around this lately actually. Gonna close this one tho, as it was fixed in #2295

[2020-11-09 14:12] #415 closed

[2020-11-09 14:58] adamdmharvey commented on #3217
Related, but something we've considered, is if I have say 20 people using Backstage, and one person onboards a component, obviously that component is now visible to all 20 people.  That means if 20 of them search for or find that component, and say click on one of the tabbed features or sees a widget, the instructions are regarding the missing annotation. But theoretically, 19 of those 20 users do

[2020-11-09 15:00] freben commented on #1854
@andrewthauer Hm. Yeah so, even though you could implement your own page that renders two tables (one for each plugin), it for sure isn't very convenient, and we'd have to make sure to establish patterns for what plugins export to make that work in general. Also the build details page routes will be colliding.

@Rugvip as per our discussions today - this would be one of those places in what I talk

[2020-11-09 17:36] adamdmharvey opened #3267 "Storybook: all cards with deep links are broken"
There seems to be a bug on the site that displays all of the Backstage Storybook examples where anything with a deep link displays:

## Expected Behavior

Card examples that use links ("deepLink") display properly in the Backstage Storybook examples.

## Current Behavior

It seems multiple card types that include links all are broken in the Storybook display:

https://backstage.io/storybook/?path=

[2020-11-09 18:47] JacobValdemar commented on #3098
+1 for load times for tech docs in general

[2020-11-10 02:06] regicsolutions opened #3269 "Nexus Repository Manager Plugin"
Plugin to track artifact versions from a Nexus Repository v3

## Context

As a developer I would like to get insights into my containers/helm charts having a Nexus Dashboard that provides me with an instant view into previous and latest tags with a direct link to the container or chart/package in nexus and be able to support other repository formats like npm, maven in a further iteration using a [

[2020-11-10 02:56] andrewthauer commented on #3269
@regicsolutions - Are you planning on working on this?

[2020-11-10 09:23] Fox32 commented on #3267
Is it possible that it is broken since #3258?

[2020-11-10 09:26] freben commented on #3267
Yep probably.

[2020-11-10 09:28] Fox32 commented on #3267
<summary>
[code]
</summary

[2020-11-10 11:41] freben commented on #3267
Pull request is up!

[2020-11-10 15:18] freben commented on #3263
@Rugvip @benjdlambert  ok one final question - would this proposal still be helpful to add ONLY in the example backend in the repo? For the getting-started-easily factor.

[2020-11-10 15:48] Rugvip commented on #3263
@freben and that would make sense, makes it easier to do local development when behind a proxy

[2020-11-10 18:30] Fox32 opened #3274 "Use table filters in the catalog"
## Feature Suggestion

Right now the table and filter in the catalog is written manually without the new table filters. The [new filter table](https://backstage.io/storybook/?path=/story/data-display-table--filter-table) can reduce the amount of code a lot and provides a consistent user experience between the plugins. We already started to use the component in the API Explorer:

![image](https://u

[2020-11-11 04:31] Niraj-Fonseka commented on #2622
@dtuite awesome ! I will assign this to you instead.

[2020-11-11 07:24] O5ten opened #3275 "Character encoding seems off in welcoming banner"
The welcome banner at the top does not seem to display ÅÄÖ in usernames correctly. In this case the username comes from a GitHub Enterprise installation through the OAuth2 auth plugin.

![image](https://user-images.githubusercontent.com/3242379/98781905-66970680-23f7-11eb-98ad-a4ff036b21c9.png)

It should show those letters with the correct encoding even if the underlying.

## Current Behavior

Cu

[2020-11-11 12:15] freben commented on #3155
Hey, sorry for delaying.

I still would prefer the icon to be the generic one suggested above. There's a bigger topic to be had, I think, for the general use of iconography to express variations - over-using it risks the interface becoming confusing and hard to read - but the main reason I want to kind of find closure, is that I ultimately want to make this into a three-dots kebab menu on the row

[2020-11-11 13:42] #3267 closed

[2020-11-11 13:58] Fox32 commented on #3275
Our colleague Jörg also observed this issue 😆 We also noticed that the issue was only in the welcome banner, but not on other parts of the UI. However, we never debugged it and switched to a different auth provider since then and it is gone now.

[2020-11-11 14:52] O5ten commented on #3275
@Fox32 yeah, we had a laugh about it within the team that the application generally supports lots of different charsets really well in the greeting but in the end failed in the name.

Oh the toxins of user-provided input. :)

[2020-11-11 15:34] freben commented on #3275
Yup, can totally reproduce! Good thing I also have non-7bit chars in my name!

[2020-11-11 15:40] freben commented on #3275
Noting that the frontend receives wrongly encoded data from the backend.

![Screenshot 2020-11-11 at 16 40 07](https://user-images.githubusercontent.com/3097461/98831982-91577e00-243c-11eb-97da-c9bca609fce2.png)

[2020-11-11 15:58] freben commented on #3275
in `plugins/auth-backend/src/lib/flow/authFlowHelpers.ts`, the `atob('${base64Data}')` results in the broken chars. We need to either encode this differently on the sending side, or utf decode on the receiving side.

[2020-11-11 17:15] goober commented on #3155
Thanks for the response. Then I'll wait until the new api is available to complete this task

[2020-11-11 19:49] Fox32 commented on #3275
Just read a little bit about this. The problem here seems bigger than I first thought. Decoding utf on the receiving side feels difficult as it seems to require 3rd party libraries. Right now the HTML is quite simple and doesn't require any external depenencies. I wonder what the reason is to encode the JSON data at all? Otherwise we could just directly embed the JSON into the javascript?

[2020-11-11 20:03] Rugvip commented on #3275
@Fox32 Security. It's for eliminating the possibility of any form of script injection, don't wanna mess with any kinda escaping or so for that :p

https://developer.mozilla.org/en-US/docs/Web/API/TextEncoder and https://developer.mozilla.org/en-US/docs/Web/API/TextDecoder should be able to help out here

[2020-11-11 20:13] freben commented on #3275
Yep TextEncoder is what I looked at as well. It is [NOT in legacy IE](https://caniuse.com/textencoder), but that doesn't worry me - we can just try/catch wrap that (and have the broken names in IE) or perhaps polyfill if possible

[2020-11-12 02:38] taras opened #3279 "Techdocs can't query catalog metadata when using app-backend"
<img width="1638" alt="image" src="https://user-images.githubusercontent.com/74687/98888201-86651380-2465-11eb-860f-bd37f17575c6.png">

When using app-backend where frontend and backend are running off the same URL, Techdocs is not able to retrieve metadata and fails.

## Expected Behavior

Should be able to use Techdocs in app-backend.

## Current Behavior

For some reason, fetch to `${catalogUrl

[2020-11-12 06:58] freben commented on #3275
PR is up

[2020-11-12 07:34] Fox32 commented on #3274
As @freben is doing some bigger rework there, I would refrain from touching it for now: https://github.com/backstage/backstage/tree/freben/catalog-filters

[2020-11-12 09:08] hooloovooo commented on #3279
Have you tried this in another browser like Firefox? We've had some issues that are because of chrome caching some stuff really aggressively and just want to make sure we can exclude that.

[2020-11-12 09:16] Rugvip commented on #3279
@taras Do you have the backend routes set up like the example backend? https://github.com/backstage/backstage/blob/d5a2bf9296c6a299d59df4f05023a8313143a375/packages/backend/src/index.ts#L101

It's important to have the separate `/api` router, including the `notFoundHandler()` as the last middleware of the `apiRouter`.

[2020-11-12 10:48] freben commented on #3221
There's a potential overlap between this and #2876 - the loop events can drive status updates that get persisted in the catalog as well.

[2020-11-12 10:48] #3275 closed

[2020-11-12 10:51] O5ten commented on #3275
kudoes for the quick turnaround @freben!

[2020-11-12 12:12] freben opened #3282 "catalog: reject attempts to overwrite entities through competing locations"
## Feature Suggestion

The catalog does not permit any two entities to have the same kind + namespace + name combination - that triplet forms a uniqueness constraint that is properly enforced. But the catalog does not yet handle the case where the same kind + namespace + name entity is read from several registered locations. What currently happens is that one and the same entity ini the database g

[2020-11-12 12:17] taras commented on #3279
@Rugvip I'm testing this inside of Backstage repository on v0.2.0 tag. Here is what Router setup looks like,

[code]

I just ran `yarn clean`, `yarn tsc` & `yarn build` and checked Safari, Chrome & Firefox.

[2020-11-12 22:22] bleathem commented on #1984
We are hitting this same issue.  The response form the authorization endpoint has a token, and we use that token against a subsequent endpoint to request user information.

I can develop a custom auth provider implementing this flow, but as I understand it, I won't be able to use that auth provider unless it is shipped with the `auth-backend` plugin.  Is that understanding correct?

[2020-11-13 10:16] #3282 closed

[2020-11-13 13:10] taras opened #3290 "TechDocs doesn't serve static folder when using app-backend"
When using TechDocs with app-backend, TechDocs writes generated output to `node_modules/@backstage/plugin-techdocs-backend/static/docs` directory instead of `packages/app/dist/static` which app-backend serves static content from.

## Expected Behavior

TechDocs should use a directory that is being served or should serve the directory that it generates static content into.

## Current Behavior

whe

[2020-11-13 13:59] taras opened #3292 "TechDocs has a hardcoded remoteUrl in LocalPublish"
I'm not sure what problems this will cause, but I suspect nothing good can come out of hard coding the backend URL in https://github.com/backstage/backstage/blob/master/plugins/techdocs-backend/src/techdocs/stages/publish/local.ts#L67

## Expected Behavior

TechDocs should use `backend.baseUrl` instead of a hardcoded host.

## Current Behavior

It's hardcoded and I suspect would break when using a

[2020-11-13 14:01] freben commented on #3292
Yeah it's specifically the _local_ publish - but should still be resolved using the right facility.

[2020-11-13 14:05] taras commented on #3292
@freben yeah, it's the new internalUrl that should be used.

[2020-11-13 21:09] jennisays commented on #3279
The router is missing an entry which could be why it's serving index.html. So... isn't an easy/obvious fix to add a route that matches instead of the fallback to index.html?

[2020-11-14 04:18] regicsolutions commented on #3155
![vc-git_icon-icons com_50729](https://user-images.githubusercontent.com/6157895/99139305-7d12ad00-2605-11eb-8974-399718d9a277.png)

Agree with @Rugvip think the git icon makes sense. @goober are you able to share what you built so far? Looking to kickoff a PoC with Bitbucket Server

[2020-11-16 05:03] davegallant opened #3300 "plugin/jenkins: improve loading speed of build list"
As noted in the [limitations](https://github.com/backstage/backstage/tree/ad364bdf575a891ee43a0b49ff8cc1046f0f0bee/plugins/jenkins#limitations) in the jenkins plugin, it is very slow loading a project with a large build history.

## Expected Behavior

The first page of builds should load faster and not make so many http requests to Jenkins.

## Current Behavior

It currently makes a new request fo

[2020-11-16 10:17] #785 closed

[2020-11-16 10:19] #1302 closed

[2020-11-16 12:45] taras commented on #3279
@jennisays I looked into this a bit deeper and turns out that there is a route for static content https://github.com/backstage/backstage/blob/master/plugins/techdocs-backend/src/service/router.ts#L143-L145

The really weird bit is that for some reason, Backstage is trying to load techdocs from `https://` when it's not available. This really messes with debugging because without having `https` on l

[2020-11-16 12:49] taras commented on #3290
This turned out to be a problem with the documentation site. I didn't have `docs/index.md` and as result I didn't get a `docs/index.html` which prevented docs from loading the index page. The logs told me that it couldn't load `index.html` but it didn't occur to me to check if it exists. It might be a good idea to provide better feedback to help developers in this situation.

[2020-11-16 12:49] #3290 closed

[2020-11-16 13:02] taras opened #3303 "TechDocs: tell users when source of docs is missing index.md/html"
This is a follow up to #3290 to help users better understand why their docs are not loading when an `index.md` file is missing from the source code.

## Feature Suggestion

There are many static generators that automatically generate index.html files. This could lead creators of docs to assume that they do not need to create index files. `mkdocs` uses `index.md` file to generate `index.html` which

[2020-11-16 14:20] JacobValdemar opened #3304 "Backstage-cli can't build backend"
When running `yarn workspace backend build`, it prints the following

[code]
...and then waits indefinitely

## Expected Behavior

Backstage-cli at least quits - possibly with some error, but optimally after expected files has been generated.

## Current Behavior

Written at the top

## Possible Solution

`backstage-cli backend:build` works fine on 0.1.1-alpha.25 and the problem starts in 0.1.1-al

[2020-11-16 14:34] erictnilsson commented on #3223
Hey! I've unassigned myself from this issue @Rugvip, I'm swamped with school work, can't really find time to work on this :/

[2020-11-16 16:44] Rugvip commented on #3223
@erictnilsson alright, no problem, thank you for the update!

[2020-11-16 17:40] JdataNich commented on #2735
Is there a template with an example of the Integration for the custom bitbucket urls?

[2020-11-16 20:15] jennisays commented on #3279
It would appear `https` must be hard coded somewhere, and it doesn't look like it's in the router code.

[2020-11-17 03:25] adamdmharvey opened #3310 "Favoriting a component resets interface to your owned components"
When you favorite/star a component, the table view actually refreshes to show you only those components you "own" regardless of what you did or did not star or what filter section you were in. Your updated starred count in left nav updates. However, neither the filtered list (all , starred, or owned) highlight in the left nav changes, nor does the header of the page itself.

## Expected Behavior

[2020-11-17 08:04] O5ten opened #3312 "Readme link broken"
When i click the readme-link that directs me to our resident GitHub Enterprise repo readme i end up at a malformed URL without the colon **(:)** of the protocol https//ghe.some.company.com.

If you click here:
![image](https://user-images.githubusercontent.com/3242379/99361904-16b2b680-28b3-11eb-8fd3-8e29932db195.png)

Link showing in the bottom of the browser before click:
![image](https://user-i

[2020-11-17 08:33] Fox32 commented on #3312
The widget you are refering to is from an external plugin managed here: https://github.com/RoadieHQ/backstage-plugin-github-insights I guess they will see it here to, otherwise you have to create an issue there.

[2020-11-17 08:51] O5ten commented on #3312
Ah, yes, of course. I'll create the issue there and close this one.

[2020-11-17 08:51] #3312 closed

[2020-11-17 09:36] StefanoVuerich commented on #2788
Any news on this. Seems impossibile to create a new component using Windows environment.

[2020-11-17 11:03] martina-if opened #3314 "Github token leaked to the frontend in error message"
## Current Behavior

I had a bug in the backend configuration where the Github token had an extra `/n` character at the end. This created an error in the backend that got propagated to the frontend and leaked the token itself:

![backstage_token_leak](https://user-images.githubusercontent.com/736631/99378100-4ff52180-28c7-11eb-86b3-ee2eec1db6c3.png)

Counter-intuitively, in the backend, I saw less

[2020-11-17 12:28] benjdlambert commented on #2842
Gonna close this - @kaparwan if this isn't fixed please re-open :)

[2020-11-17 12:28] #2842 closed

[2020-11-17 12:30] benjdlambert commented on #2788
@StefanoVuerich do you wanna pick this up? I think it's just a case of removing the `process.getuid` calls on windows?

[2020-11-17 12:58] StefanoVuerich commented on #2788
Yes, sure

[2020-11-17 22:07] dtuite commented on #2752
@JacobValdemar are you still working on this? We would like to pick it up if you don't have time. We will develop the plugin inside Backstage so happy to collab if you'd like? /cc @freben

[2020-11-18 07:14] lowjoel commented on #1435
@GoWind have you managed to make any headway with this? We're running into this and wondering if we should be building something or waiting for your implementation.

[2020-11-18 07:37] StefanoVuerich commented on #2788
@benjdlambert I'm ready with the fix, could you give me permission to push new branch?

[2020-11-18 07:43] JacobValdemar commented on #2752
Hi @dtuite, as I don't have much time for developing the plugin in the coming weeks, I'd happily welcome you to pick it up 🙂 We (@lunarway) would also be happy to come with some input on plugin here and there - just hit me up on discord 🙂

[2020-11-18 08:42] benjdlambert commented on #2788
I think if you fork the project and push to your fork you should be able to open a pull request that way instead.

[2020-11-18 09:05] StefanoVuerich commented on #2788
@benjaminr https://github.com/backstage/backstage/pull/3325

[2020-11-18 09:14] hooloovooo commented on #2707
Any news on this?

[2020-11-18 09:26] GoWind commented on #1435
@lowjoel  , Yes I am working on this at the moment as I couldn't find time before.
I am targeting a PR end of this week.

[2020-11-18 09:27] lowjoel opened #3326 "Missing SAML IdP validation in SAML Authentication Backend"
## Expected Behavior

When using the SAML authentication provider, responses from the IdP should be validated for its signature, otherwise anyone can submit a SAML response without a proper signature, and Backstage will assume it to be correct.

## Current Behavior

The current implementation of the SAML authentication provider does not provide a means to specify the certificates which are trusted

[2020-11-18 09:28] freben commented on #2752
@dtuite i assigned you then :)

[2020-11-18 09:51] O5ten opened #3327 "[Plugin] Apigee Plugin"
## Summary

Apigee is a popular API Gateway where services configure or define inbound and outbound proxies. A proxy often has a 1-to-1 relation to its service. What i would like to see in a plugin would be that it provides a tab in a component say **proxies** or use the preexisting **API**  that displays the proxies a service targets and uses for inbound traffic.

Being an API Gateway also holds

[2020-11-18 10:48] Rugvip commented on #1984
@bleathem Yep, but being able to supply custom providers to the `auth-backend` plugin from the backend package is what this issue is about. It's something we want to add

[2020-11-18 11:06] Fox32 commented on #3327
This would probably a good widget that could be part of a dedicated API entity page. I already made some steps about making the API entity page customizable: #2987

[2020-11-18 11:35] Rugvip commented on #1536
Core team has been focusing on this along with a complete implementation of routing and `RouteRef`s of some form.

Going at it through a bunch of different experiments, all collected in this branch around here: https://github.com/backstage/backstage/blob/2488367b58740602e813de2ef28e3552ca91644f/plugins/explore/src/components/Experiment11.tsx#L214

Experiment 11 is a particular one where we started

[2020-11-18 14:41] benjdlambert commented on #2707
We discussed this today - kind of waiting for the Plugin API and routing to be stabllised which we are currently working on fixing up. So hopefully we can start on this soon!

[2020-11-18 15:03] punkle commented on #1435
Hi @GoWind, I have been looking at how access_tokens, already authenticated (by an API gateway) and sent to backstage can be used to allow backstage to retrieve the identity of the logged in user.

I would be interested in chatting about what you are working on and / or seeing how I can help at all.

[2020-11-18 16:18] GoWind commented on #1984
Please correct me if I am wrong on any of this.

@Rugvip  : I see that in the PRs mentioned above the `OAuthAdapter` class has been created to provide that can serve as a `AuthProviderRouterHandler` and is exported . This goes a long way to solve the issue.

However, the `createRouter` in the `service/router.ts` uses the `createAuthProvider` from `src/providers/factories.ts` (which is also the onl

[2020-11-18 16:26] Rugvip commented on #1984
@GoWind Yup, that summarizes it. Most likely we'll want the `createRouter` function to accept an array of providers or provider factories, whatever makes the most sense. Then we'd export the equivalent function that is able to construct all the default auth providers from config, which would also serve as the default list of providers if no specific ones are passed it.

I *think* the bit left to e

[2020-11-18 16:57] adamdmharvey opened #3330 "Broken image for API Docs on plugin list"
The API Docs plugin has a broken image here:

https://backstage.io/plugins
![image](https://user-images.githubusercontent.com/33203301/99561625-2a364e00-2995-11eb-84d4-7c6ed6e151e1.png)

It's referenced here:

https://github.com/backstage/backstage/blob/master/microsite/data/plugins/api-docs.yaml#L8

And that image is now driving an HTTP 404 from the other site:

https://thecoders.io/wp-content/up

[2020-11-18 17:13] Rugvip commented on #3217
@andrewthauer Much less vague ideas here: https://github.com/backstage/backstage/issues/1536#issuecomment-729621634 :p

[2020-11-18 18:18] #2854 closed

[2020-11-18 19:54] OrkoHunter opened #3333 "TechDocs: Support configurable working directory as temp dir"
## Feature Suggestion

There is a `backend.workingDirectory` config option available in `app-config.yaml`. If enabled or set, it tells Scaffolder what path in file system to use for storing files that it needs to do its job. This was implemented by @mfrinnstrom in #3062.

When users are using `techdocs-backend` plugin to prepare and generate their docs, it is currently done using a temporary direc

[2020-11-18 19:57] OrkoHunter commented on #2998
Hey @mfrinnstrom, I have created an issue for adding the working directory support for TechDocs https://github.com/backstage/backstage/issues/3333. Your comments are welcome. :) 🙏

[2020-11-18 20:19] #3292 closed

[2020-11-18 21:20] jot-hub commented on #3223
Hi @Rugvip , I had a look at this. I am looking at https://github.com/backstage/backstage/blob/master/plugins/auth-backend/src/lib/flow/authFlowHelpers.ts#L41-L46 but need a bit of help on the following:
1. under what conditions would "app.baseUrl" actually differ here? I see that it is taken from https://github.com/backstage/backstage/blob/master/app-config.yaml#L3 or any such env specific config

[2020-11-18 23:25] janwillies commented on #1435
That's a usecase we are very interested in as well.

[2020-11-18 23:51] paolomainardi commented on #3044
@rishibarad are you still working on this ? I would like to give an hand on this.

[2020-11-18 23:56] paolomainardi commented on #1541
I would like to contribute on this, can I claim this issue ?

[2020-11-18 23:58] rishibarad commented on #3044
Hi @paolomainardi, I'm making progress on this. Would you want to collaborate?

[2020-11-18 23:58] benjdlambert commented on #1541
@paolomainardi assigned you!

[2020-11-19 03:24] adamdmharvey commented on #3300
I looked at this briefly. Since this plugin actually wraps an existing Node.js Package, it's currently limited by that package. (this plugin doesn't call the raw API)

You're correct, in that the passing of the JSON tree XPATH filter should do it, something along the lines of `=tree[name]{0,10}` which would collect the first 0 through 10 entries.  Would then need to tie in the pageSize/numPage to

[2020-11-19 07:19] mfrinnstrom commented on #3333
Thanks for creating this @OrkoHunter. This is something that would benefit us.

I happened to stumble upon the following PRs last week: #2925 & #3283. When switching to the new `url` format for TechDocs the `ReadTreeResponseFactory` handles the working directory. @Rugvip has added support for GitHub and I'm trying to implement it for Azure DevOps in #3307

I'm not sure if this needs to be adapted

[2020-11-19 08:42] emmaindal opened #3340 "[Search] Improve search match"
The new frontend search plugin makes it possible to search across names and descriptions of entities. The name of an entity sometimes includes an hyphen, if I do search for that plugin I might search for "documented component" instead, without the hyphen. This will not give me a match as it is now, only if I search for "documented-component" with the hyphen included.

We would like to match a resu

[2020-11-19 08:42] dhenneke commented on #1435
@punkle @janwillies We are in a similar position, since we use an oauth2-proxy and wanted to reuse the identity of the outer login in Backstage. This doesn't align 100% with this issue, but I think it might be interesting to share. But I must admit that this is only integrated into the frontend so there is currently no real backend-session (though I'm not sure that actually exists yet). I wanted t

[2020-11-19 08:53] emmaindal opened #3341 "[Search] Search input in side bar -> Search Page flow"
We do have a search input field in the side bar which currently are rendered without no other functionality. With that said, the search page is currently only accessible if you navigate to the /search route manually.

Ideally we would like a user to be able to input a search query in the input field that exist in the side bar and get redirected to the search page while they are typing.

[2020-11-19 08:59] emmaindal opened #3342 "[Search] Display empty state if no search results can be displayed"
We currently are using the catalogAPI to get all entities to search across, If no results are returned from the request we are currently just returning `null`. We would like to return a EmptyState component here instead.

[Storybook]( https://backstage.io/storybook/?path=/story/feedback-emptystate--data)

[2020-11-19 09:02] emmaindal opened #3343 "[Search] Second iteration of search result component"
"The table is nice and clean, but it sort of makes us do some gymnastics to make the search results conform to the columns.

I like the idea of coming in with an opinionated view of a "search result" model (e.g. title, summary, link, type, owner, etc.), and mapping entities (maybe other things in the future) to match that model."

Would love to collect your ideas and suggestions here so please com

[2020-11-19 09:23] magneticz commented on #3342
Hi, I would like to work on this. Not sure what is the process, do i need to ask to assign it to me, so others are not working on it as well?

[2020-11-19 09:32] emmaindal commented on #3342
Awesome! I'll assign it to you @magneticz

[2020-11-19 09:45] emmaindal opened #3344 "[Search] Dynamically load filter options"
On the search page we do have two filter types at the moment. A selection of Kinds and checkboxes of lifecycles. The data for this is currently just hard coded in the [Filters component.](https://github.com/backstage/backstage/blob/master/plugins/search/src/components/Filters/Filters.tsx#L68)

The different kinds and lifecycles can look different depending on what entities that exist, therefore it

[2020-11-19 09:53] emmaindal opened #3345 "[Search] Links to entity page for each search result"
The search results gets listed in a Table view, this table view gives you component id, description, owner, kind and lifecycle. Currently you are not able to navigate to the result you find, therefore we would like to wrap the component id in a [Link component.](https://backstage.io/storybook/?path=/story/navigation-link--default) Clicking on the Link should take you to the entity page for that sp

[2020-11-19 10:42] kaspernissen commented on #1686
Any progress on this one? I found this tool (https://github.com/pseudomuto/protoc-gen-doc) to, among other things, generate static html documentation for protocol buffers. It would be a great first step to be able to generate and structure protocol buffer docs within backstage similar to this.

[2020-11-19 10:44] #3330 closed

[2020-11-19 10:53] Fox32 commented on #3343
Maybe different kind of entities will also have different ways of visualizing the results in the future? Maybe tech-docs will display the snippet that contains the search result, api docs might show parts of the api definition where the search term is found, users might have a photo and a generic entity display for everything else?

[2020-11-19 10:59] magneticz commented on #3342
@emmaindal I have few questions regarding the issue. I located the check is happening ([here](https://github.com/backstage/backstage/blob/49554d43e37084979c6e3f56f7a3e3f2b9c0c995/plugins/search/src/components/SearchResult/SearchResult.tsx#L163)).
My question is what do you mean by no results, when `results.length == 0` or when `results == undefined`?. Since api call always returns an array (at lea

[2020-11-19 11:12] emmaindal commented on #3342
@magneticz good questions, let's do this.
1. When loading=true, return the [progress spinner](https://backstage.io/storybook/?path=/story/feedback-progress--progress)
2. When there is an error, return the [Alert component](https://material-ui.com/components/alert/#alert) from material ui with the message "Error encountered while fetching search results. {error.toString()}"
3. When rresults are an

[2020-11-19 11:29] Rugvip opened #3347 "Add a backend:bundle command to the CLI"
## Feature Suggestion

Right now the only simply way to deploy a production version of the backend is by using the `backend:build-image` command. It creates a temporary folder outside of the repo and copies over the distribution versions of each backend package in the monorepo and then runs the Docker build within that package. This ensures that the resulting backend image only contains backend de

[2020-11-19 11:30] Crevil opened #3348 "[ServiceCatalog] Read only mode"
We have created a GitHub scraping service that creates a `Location` resource based on all GitHub repositories in an organisation (closed source for now).
The scraper will detect if a repository contains documentation, API specifications etc. and set annotations on the generated `Component` resources accordingly while also generating eg `API` resources.

With this approach we don't need the write f

[2020-11-19 12:00] freben commented on #3049
Update:

Initial relations support has been implemented.

We are considering removing the `ancestors` and `descendants` fields.

There is some interesting discussion around relations and usage around users and groups for those who may be interested here: https://github.com/backstage/backstage/pull/3293

[2020-11-19 12:15] magneticz commented on #3342
@emmaindal I created PR. One thing to note, is that when user types in a query, filtered result can be 0 as well, in that case, page will show empty table, which is current behaviour. So basically, if the api call result = 0 => show EmptyState, if filteredResult = 0 => show empty table

<img width="1440" alt="Screenshot 2020-11-19 at 13 13 42" src="https://user-images.githubusercontent.com/968005/

[2020-11-19 12:19] emmaindal commented on #3342
@magneticz I see, I think that is ok for now, the most important part here is that it is clear to the user what is happening! Thank you so much 🎉

[2020-11-19 12:39] #3342 closed

[2020-11-19 12:46] emmaindal commented on #3343
@Fox32 This is really good feedback, I think this issue can be responsible for collecting ideas for now and I'll work together with our designer and get some suggestions out.

If we were about to visualizing the different entities in different ways, do you think it make sense to separate the different entity types into different sections in the search result? Like groups?

[2020-11-19 14:22] #2788 closed

[2020-11-19 15:06] Fox32 commented on #3343
Not sure, I would probably expect them to be sorted by relevance and not grouped by kind. But a kind filter would be something I expect (which is already there if I have seen it correctly)

[2020-11-19 16:03] Fox32 commented on #3341
If we pass the search query to the search route as a query parameter, we could also use the query parameter to return to the current state of the search page. That would be useful if I click on a search result and then navigate back with the browser history to the search.

[2020-11-19 16:39] GoWind commented on #1435
@punkle  : I think your query is perhaps unrelated to this issue, but during the OAuth2 login process, If you are using a standardized `auth` provider such as Okta or google , you will receive an ID token that will contain the information of the user.

Right now, backstage populates the session with only the `id` of the user in the`id` token.
I am not sure of the frontend, but IIRC, there seems to

[2020-11-19 19:26] jot-hub commented on #3314
Hi @Rugvip, should be related to https://github.com/node-fetch/node-fetch/pull/843 - but its `v3.0.0-beta.9`- **_finally_**(long overdue) only the header name is spitted out in the error and not the value. This should help but not sure if we want to bump-up that far.

[2020-11-19 20:36] punkle commented on #1435
@GoWind @dhenneke thanks for the help. I believe @dhenneke your solution is going to work for our solution. We have implemented something similar. 🙇

[2020-11-19 20:45] adamdmharvey commented on #2794
I'm a fan of #2807 👍 I hadn't realized the modal could close so easily by just clicking anywhere else on the site during a scaffold. Ended up running it a second time, for it to fail saying repository already exists. But it existed BECAUSE I had mistakenly closed the previous modal and didn't even know it was still running in the background; it had finished to completion the first run, so my secon

[2020-11-19 22:09] adamdmharvey commented on #3067
Not having this issue anymore, and I've updated numerous times so assuming maybe this was a temporary issue or environmental. Closing for clean up.

[2020-11-19 22:09] #3067 closed

[2020-11-19 22:54] timbonicus opened #3357 "[RFC] Shared service breakdowns in Cost Insights"
**Status:** Closed

## Need

At Spotify, we have shared infrastructure services that are layered on top of cloud services. For example, a build system that reads Pub/Sub messages, executes builds on a VM, and saves the results in BigQuery. The costs for this infrastructure can be allocated to teams using it based on labels, but it would be confusing to present costs in terms of the underlying clou

[2020-11-20 05:58] regicsolutions commented on #3138
Would be great to also have this feature for Bitbucket Server!

[2020-11-20 07:00] mfrinnstrom commented on #3138
@regicsolutions There doesn't seem to be any support for Bitbucket Server at all in Backstage right now. I'm trying to make that easier to add through #3313 &  #3351. If there had been initial support I could probably have added this functionality for that as well. I don't know Bitbucket Server well enough to add all of it though.

[2020-11-20 08:53] #3076 closed

[2020-11-20 09:53] magneticz commented on #3344
Hi @emmaindal

I was looking at this issue and have a question/idea. Right now it seems that search page is acting like a filter page (where all entities are loaded first, and then search is done on whatever is received). If that's the case, we can identify filters (kind, lifecycle) based on the data available in the entities. Or, is it going to be different in the future?

If getting filters from

[2020-11-20 10:16] freben commented on #3195
Should we update this issue after the meeting?

[2020-11-20 10:28] Fox32 commented on #3341
I can take this over

[2020-11-20 11:10] #2961 closed

[2020-11-20 11:28] BA1RY commented on #3340
Hi @emmaindal, I would like to work on this.

[2020-11-20 11:42] #2917 closed

[2020-11-20 12:23] emmaindal commented on #3340
Great, I'll assign you @BA1RY 🎉

[2020-11-20 12:43] emmaindal commented on #3344
Hi @magneticz yes that is correct, it will change as soon as we start work on a backend search plugin powered by elastic search or something else. I was thinking a little bit about this and that it maybe could be something the catalog api could provide an endpoint for so that we could get it from there. But also the solution you are mentioning above. I think for now, let's do what you are saying.

[2020-11-20 12:48] Crevil commented on #3348
I become aware that removing entries from a `Location` file does not unregister the components. This should be addressed in a possible read-only mode as well, as there is no other way to remove components.

[2020-11-20 12:51] benjdlambert commented on #3348
Would you like to have a bash at implementing this @Crevil? We've kind of got a hack for something similar internally, but I think standardising this an an option makes sense.

Could just add some checking of the config in the routes or something, as you'll still need to write new changes to the database when the catalog refresh loop kicks in.

[2020-11-20 12:53] mfrinnstrom commented on #3138
@benjdlambert do you want to keep this issue around or should new ones be created for the things I didn't include in the mentioned PRs?

[2020-11-20 12:56] benjdlambert commented on #3138
Think we can close this and create issues for new stuff as and when it's needed.

[2020-11-20 12:58] mfrinnstrom commented on #3138
Closing this then. @regicsolutions you might want to open a new issue for Bitbucket Server instead.

[2020-11-20 12:58] #3138 closed

[2020-11-20 12:59] benjdlambert commented on #3067
Sweet - good to know!

[2020-11-20 13:21] Rugvip opened #3364 "Fill out missing or incomplete configuration schema"
## Feature Suggestion

#3264 added support for configuration schema along with mostly complete schemas for `@backstage/cli`, `@backstage/core`, and `@backstage/backend-common`. In addition the minimal required schema was also added for all frontend plugins to receive their required config.

We should fill the schema with descriptions and examples for the rest of all possible config values. The fol

[2020-11-20 13:24] BA1RY commented on #3340
Hi @emmaindal, I've made a PR. Please let me know if there are changes to be made. Thanks :smile:

[2020-11-20 13:35] Rugvip opened #3366 "Provide autocompletion and schema checks when editing configuration files"
## Feature Suggestion

#3264 added support for configuration schema, but does not make the entire fully stitched schema available for editor integration. Having this schema available in editors would make it much nicer to edit `app-config.yaml` files and the like, as it would provide autocompletion and documentation popups.

## Possible Implementation

We could provide a command from the cli that

[2020-11-20 14:01] Rugvip opened #3367 "Configuration documentation generation"
## Feature Suggestion

#3264 added support for configuration schema, but there is not yet a way to view the schema in a nice documentation format. We should add that! :grin:

## Possible Implementation

Since schemas are stitched together based on the dependencies of each app, it's tricky to provide one documentation that fits everyone. I'm thinking that [godoc](https://godoc.org/golang.org/x/tool

[2020-11-20 14:14] #3341 closed

[2020-11-20 14:15] Rugvip commented on #3195
@jd-carroll Gonna close for now, let us know if you want to re-open

[2020-11-20 14:15] #3195 closed

[2020-11-20 14:28] emmaindal commented on #3340
closed by #3365

[2020-11-20 14:28] #3340 closed

[2020-11-20 14:34] benjdlambert commented on #3348
I'm also thinking you could maybe just do this by removing the `register-component` plugin if you don't want people to register their own, unless they use the scaffolder.

Right now the scaffolder frontend makes the call to the locations API, so that would need to re-working if you were to disable the locations API

[2020-11-20 15:59] Fox32 opened #3377 "Search Results Dark Mode Issue"
I'm a dark mode user. There is one place in the search results that isn't supporting it right now:

## Current Behavior

![image](https://user-images.githubusercontent.com/648527/99820579-4383f980-2b51-11eb-9495-4f8f0ff013e2.png)

Looks file in light mode:

![image](https://user-images.githubusercontent.com/648527/99820843-96f64780-2b51-11eb-9bf7-db61f7f0104e.png)

## Possible Solution

The color

[2020-11-20 17:06] Rugvip commented on #3223
@jot-hub Thanks!

The things that can differ are the origin in `app.baseUrl` and the actual `origin` of the app. It's an error that will only happen when configuration is incorrect, but that'll happen sometimes and we want it to be as easy to detect as possible :grin:

I'm thinking the simplest way to handle this might be to post two messages from the auth frame. First the auth response message th

[2020-11-20 17:19] emmaindal commented on #3377
Thanks for reporting @Fox32 I opened a fix using the palette colors! :)

[2020-11-20 18:48] ryanvazquez commented on #3357
Some initial thoughts on this:

The concept of a shared service seems distinct enough from "product" from a business standpoint that it should be called out separately in the UI. Since the cost of these services is attributable to multiple owners, it would be somewhat confusing to display them beside products whose costs are attributable only to the user.

That said, users may not necessarily use

[2020-11-20 19:43] timbonicus commented on #3357
Hmm, what do you mean? The cost of a product is attributable to multiple owners too, we just filter the panel by a given group to only show the entities _you_ own. Shared services seem to match that conceptual model.

[2020-11-20 19:47] #3377 closed

[2020-11-20 20:12] ryanvazquez opened #3382 "[RFC] Stack Rank Cost Insights Product Panels"
**Status:** Open for comments

## Need
An often requested feature from Spotify engineers is for products to be stacked according to greatest cost.

## Proposal

Stack rank and label products according to greatest cost over a given period.

## Alternatives

There are multiple possible implementations of the stack rank feature

### Stack Rank Product Panels
Stack rank product panels over a default p

[2020-11-20 20:38] ryanvazquez commented on #3357
Hm, right. We'd be filtering a service (whose cost are attributed to multiple owners), by entities _you own_ , and then from those entities, breaking them into products. It does match the conceptual model, so calling this out separately wouldn't really make sense unless there some other business related reasoning I'm not aware of. My understanding of a shared service was a bit off.

[2020-11-20 21:39] regicsolutions opened #3383 "Software Template Marketplace"
Similar to the Plugin Marketplace, it would be great to have a **Template** Marketplace as well so the community can share Software Templates!

## Possible Implementation

## Context

[2020-11-20 21:49] regicsolutions commented on #2857
+ 1 for Istio, ability to look at a service map that show's all the different versions of your services similar to [Kiali](https://kiali.io/)  where you can visualize the traffic and re-route where it makes sense. Example is you have 3 versions of a microservice and you want to re-route the traffic from v2 to v3

[2020-11-21 16:41] Crevil commented on #3348
We can definitely give it a go, but I'm sure we need some guidance into the details.

Can you share some notes about your internal implementation @benjdlambert ?

By removing the `register-component` plugin we can disable the main registration view in the frontend along with removing the APIs in the backend, but links for registering new components will still surface in different plugins, e.g. cat

[2020-11-21 18:34] dtuite opened #3384 "Catalog importer should add a configurable description when opening pull requests"
## Feature Suggestion

The new Catalog Importer (https://github.com/backstage/backstage/pull/3121) opens a pull request to add a `catalog-info.yaml` file to the repo if none exists already.

![Screenshot 2020-11-21 at 18 29 59](https://user-images.githubusercontent.com/562403/99884619-9a5c0280-2c27-11eb-9454-02516aa79c61.png)

Currently, there is no description in the pull request which is opened

[2020-11-21 18:38] dtuite opened #3385 "Catalog importer should support monorepos"
## Feature Suggestion

The [Catalog importer](https://github.com/backstage/backstage/pull/3121) can currently only add `catalog-info.yaml` files into the root of the repos that are being added. Monorepos may need multiple `catalog-info.yaml` files at different paths.

## Possible Implementation

Allow the user to choose (via dropdown) or enter (via basic text input) the path at which they would li

[2020-11-21 18:46] Rugvip commented on #3348
@Crevil Implementation is here, although it's not at all how we want this to actually be implemented :grin:

https://github.com/backstage/demo/blob/1c439252e774959ab5bd05e1aca2d5799d6369bc/packages/backend/src/plugins/catalog.ts#L32

Regarding all of the assumptions in plugins, we really don't want those to be in place either way, and allow for organizations to customize the way they want each plu

[2020-11-22 00:42] andrewthauer commented on #3385
Speaking of which, the `CodeOwnersProcessor` should also be updated to support monorepos as well.

[2020-11-22 03:11] regicsolutions commented on #2901
@dtuite Just wanted to check in to see if there has been any further development with this feature? Prototype looks awesome!

[2020-11-22 07:27] Marvin9 commented on #2969
I don't know when I will have time to complete this. Unassigning for now.

[2020-11-22 08:17] freben commented on #3385
For codeowners, we've been talking about a central facility for analyzing locations - essentially a Backstage specific analog to git-url-parse that is aware of our config and knows about private hostnames and auth decoration of requests etc. Such a facility would be useful to be able to go from catalog info url to repo root url and many other things. I recently got started on the [integration](htt

[2020-11-22 08:20] freben commented on #3385
For placement - would not the user just point to the right subfolder to begin with? As in, in the first step, if i pasted the url `https://github.com/backstage/backstage/tree/master/packages/app` it would know to place the file directly where I pointed?

[2020-11-22 08:23] freben commented on #3385
If you meant more like a batch thing that detects all the multiple roots, then hm. I think the main choices there are to make one file at the root with all the yamls in it, or one in each detected root separately. Not sure if the user needs to be presented with an exact choice, right?

[2020-11-22 09:31] dtuite commented on #2901
@regicsolutions some of the work is close to being merged in https://github.com/backstage/backstage/pull/3121

We are working on a clicky-checkbox importer which we will open source on the RoadieHQ organization. I guess we need to have a discussion with the core team about whether or not that gets pulled into the monorepo.

[2020-11-22 09:33] dtuite commented on #2901
By the way, we are looking for people to provide feedback on early versions of this. It helps to get feedback on real usage as there a few different GitHub permission edge cases which can come up.

Email me at david@roadie.io if you would like to take part.

[2020-11-22 11:56] dtuite commented on #3385
This is a pretty good workaround and would be a great start. I can't help but feel like it's not what I would naturally do if I was using Backstage for the first time.

An alternative is what ArgoCD does - dynamically displaying a list of directories in the repo.

https://www.loom.com/share/ff2221268f714edf82e9467a6aaa779a

I'm not sure that this is better than simply pasting in the direct link to

[2020-11-22 12:03] dtuite commented on #1854
We have developed and open sourced [a Buildkite plugin](https://roadie.io/backstage/plugins/buildkite). The code is [here](https://github.com/RoadieHQ/backstage-plugin-buildkite).

It follows the same patterns as all the other CI plugins but here's a screenshot anyway.

![buildkite-plugin](https://user-images.githubusercontent.com/562403/99903173-a9d85b80-2cba-11eb-929b-2e96942bb138.png)

[2020-11-22 12:08] andrewthauer commented on #3385
Most of the monorepos we have are for shared libraries. For that, we've realized we can probably automate the entire batch process by using our private package registry. We are going to try and create a custom catalog processor the points to the registry (target), then scans our private packages, parses the library package file (e.g. `package.json`, `gemspec`, `pom.XML` and emits new entity specs

[2020-11-22 12:29] freben commented on #3385
@dtuite For sure, a browse-to-target thing is definitely desirable in the end. With some platform similar to what I mentioned, it could perhaps be something along the lines of:

- First, use a core api to list the available integrations, and ask the user which one they want. If there's only one, maybe skip this step.
- Ask the user for the relevant auth for that particular provider. If we already

[2020-11-22 12:30] freben commented on #3385
@andrewthauer Sounds cool and open sourceable though. It may want to be stateful (be backed by a database) to not have to re-analyze packages that haven't been changed.

[2020-11-22 12:36] freben commented on #3385
@andrewthauer It's not how we envisioned it of course - I need to think about it for a while. I mean, it does preclude you from putting more fields in the yaml file than can be auto-generated, which you mention too.

[2020-11-22 12:45] andrewthauer commented on #3385
&freben - I'd like to dive into this concept a bit more, but also don't want to hijake this issue. I'll create another GH issue specific to automation.

[2020-11-22 12:49] freben commented on #3385
Go for it!

[2020-11-23 09:48] Crevil commented on #3304
I hit this yesterday as well. I'm unsure as to what was going on, but adding an import statement for `logform` triggerede the behaviour.
I could get around it by using the reexported symbols from `winston` instead of the issue disappeared.

Also this was with the latest release of the CLI, so I think we can close this off @JacobValdemar ?

[2020-11-23 10:44] emmaindal commented on #2462
@mahmoodhosseini I think the theme we are using (mkdocs material) should come with a collapsible "hamburger" menu. The fact that we are using a shadow dom to render the generated static html files could cause this issue. I think we might need to re-think the theme we are using which is kind of blocking this issue right now. @OrkoHunter @hooloovooo or do you have any insights here?

[2020-11-23 11:07] JacobValdemar commented on #3304
Alright 👍

[2020-11-23 11:07] #3304 closed

[2020-11-23 11:45] stefanalund commented on #3348
I just want to reiterate how excited we are about potentially getting this upstreamed. I think it will help a lot of organizations to quickly see the potential of Backstage 🙌

[2020-11-23 12:29] dhenneke opened #3398 "Don't remove the bootstrap location on removal of a child-entity"
When you use the `Unregister Entity` button on one of the entities that are registered via the `app-config.yaml`:

https://github.com/backstage/backstage/blob/6a6744c014f37b7602d57a4a8f66ca4a895ea8ba/app-config.yaml#L157-L175

the `bootstrap` location is removed. In installations with a persistent database, this breaks the as-code registration for the future.

## Expected Behavior

* The `bootstra

[2020-11-23 14:05] benjdlambert commented on #1854
Can we close this issue now give the plugin is ready?

[2020-11-23 14:47] michaelsonnleitner opened #3399 "Global SSL rejectUnauthorized=false for all requests to software catalog"
## Expected Behavior

I have self signed certificates on my bitbuckt onpremis repo.

## Current Behavior

I get the following error message if I want to connect to a bitbucket instance with self signed certificates like:
[code]
## Possible Solution

I want to disable the checks for ssl communication.

[2020-11-23 14:55] hooloovooo opened #3400 "Move techdocs build process out of techdocs-backend"
Move techdocs build process out of techdocs-backend and into techdocs-cli or a techdocs-common which can be used by techdocs-backend and techdocs-cli.

[2020-11-23 15:11] benjdlambert commented on #2794
Hey @adamdmharvey, so we merged #2807 but that comined with another PR really broke the create flow. So I completed and merged this #3388 which takes care of some other of the usability. Gonna close this issue now, and the new changes will be published in the next release this week

[2020-11-23 15:11] #2794 closed

[2020-11-23 15:15] #2924 closed

[2020-11-23 15:23] #3185 closed

[2020-11-23 16:07] #3345 closed

[2020-11-23 16:15] andrewthauer opened #3401 "[RFC] Standardized Date & Time library"
**Status:** Open for comments

Continuation from https://github.com/backstage/backstage/pull/3387/files#r528254139

## Need

The usage of [momentjs](https://momentjs.com/) should be sunset for a more modern alternative based on the [projects own status and suggestions](https://momentjs.com/docs/#/-project-status/). There should ideally be one standard library that is used in the core packages and

[2020-11-23 16:18] Rugvip commented on #3399
Does adding `NODE_TLS_REJECT_UNAUTHORIZED=0` to the environment solve the issue?

[2020-11-23 16:38] adamdmharvey opened #3403 "Unexpected token from plugin-kubernetes-backend"
I believe since #2977 I'm having issues starting up my local backstage backend with failures in the `plugin-kubernetes-backend` stating:

[code]

and

[code]

Is anyone else seeing that?  I did a `yarn cache clean`, a re: `yarn install`, `yarn tsc`, `yarn build`, and all good, but the startup fails.  I wonder if it requires a YAML config in alignment or something?

Note this is with the raw mem-ba

[2020-11-23 16:39] adamdmharvey commented on #3403
It seems to suggest the error is on line 105 here I believe?

https://github.com/backstage/backstage/blob/eeda19c7cefb9ab9650c1c0546cdc69a0c313f1f/plugins/kubernetes-backend/src/service/getKubernetesObjectsForServiceHandler.ts#L97-L105

[2020-11-23 16:44] adamdmharvey commented on #3403
My `app-config.yaml` matching whats in the repo is as so:

Local code:
[code]
https://github.com/backstage/backstage/blob/eeda19c7cefb9ab9650c1c0546cdc69a0c313f1f/app-config.yaml#L75-L79

So perhaps that needs the `selector` key added?

[2020-11-23 17:22] adamdmharvey commented on #3403
For me at least, jumping between the git commit for the K8S PR does seem to introduce the error for me, at least locally w/ my env. (clearly the CI/CD ran well for that PR to go in, so must be environmental elsewhere?)

works -> eba3841a2b5c27307bce94040afeb70d235b25db
fails -> d98fab545130de9d7fd1ff35ada29b31fabb6266

[code]

[2020-11-23 17:40] benjdlambert commented on #3403
@adamdmharvey in a meeting right now but will look at this directly after

[2020-11-23 18:23] GoWind commented on #3401
If I may chime in, Immutable date objects is a Huge win and I love the FP style of `date-fns` (Clojure FTW :)).
Also building on top of standard Date objects is a good added benefit for interop. :+1:  on `date-fns`.

[2020-11-23 19:05] OrkoHunter commented on #2462
If there is an easy fix to see the nav menu without re-doing the theme, then that would be awesome!

[2020-11-23 19:53] OrkoHunter commented on #3403
I removed the type assertion `<ObjectFetchParams>` from https://github.com/backstage/backstage/blob/eeda19c7cefb9ab9650c1c0546cdc69a0c313f1f/plugins/kubernetes-backend/src/service/getKubernetesObjectsForServiceHandler.ts#L97-L105 and the backend was up and running!

[2020-11-23 19:55] adamdmharvey commented on #3403
@OrkoHunter  Confirmed that worked for me too for backend to start successfully. 🚀

[2020-11-23 19:58] OrkoHunter commented on #3403
Thanks @adamdmharvey for confirming! Will create a PR shortly.

[2020-11-23 20:19] johnsaigle opened #3407 "Broken "Getting Started" link (http://localhost:3000/welcome)"
## Expected Behavior

The link should bring the user to documentation.

## Current Behavior

I got a 404 error page with a link to this repo.

## Possible Solution

## Steps to Reproduce

1. Install a new projec.t Launch with `yarn start`
2. On the first page a a banner appears with "Welcome to Backstage! Take a look around and check out our getting started page."
3. Click the link for "getting st

[2020-11-23 20:21] #3407 closed

[2020-11-23 20:25] Crevil commented on #3279
I've hit this as well. It seems to be a browser thing. When querying the URLs with `curl` the redirect location to the static contents are with HTTP.

[code]

If I follow the redirect, again with curl, it goes through as expected.

[code]

As noticed in this issue, in the browser (Brave for me) the redirect is upgraded to HTTPs.

This is the initial request that returns `302` with an HTTP `Locatio

[2020-11-23 21:22] Crevil commented on #3279
Soo, I think I'm on to something.

`helmet` the webserver we use is configured by default to upgrade insecure connections through the CSP headers.

https://github.com/backstage/backstage/blob/master/packages/backend-common/src/service/lib/ServiceBuilderImpl.ts#L59

By removing this property I'm able to avoid the HTTPS redirect in the browser 🎉

I can't find a way to remove this default value throu

[2020-11-23 21:32] timbonicus commented on #3382
To expand on this, Cost Insights currently presents products in order of _configuration declaration_. This can be  nonsensical, since a given team may not have costs for a given product. Teams expect that their highest-cost products will be shown first, rather than a product with potentially little or zero cost.

However, sorting by cost has its own caveats since costs can change given different t

[2020-11-23 23:39] taras commented on #3279
@Crevil that's some good sleuthing right there. Very nicely done.

This option can't secure the connection if there is no https, it can only upgrade if https connection is available. Would it make it less secure or just less broken?

[2020-11-24 00:08] savyee commented on #1686
Hello!  I'm sorry I haven't been keeping up with this project and it'd be great if it could be taken over by someone else!

[2020-11-24 06:38] Crevil commented on #3279
That's true. But if we omit it, and both options exist (http and https), we won't upgrade.

I guess this os just the trigger really. The root cause sjouæd answer: why does the browser think it can upgrade on the redirect?

[2020-11-24 07:05] freben commented on #1686
OK - unassigned for now then, welcome back at another time!

[2020-11-24 07:16] mfrinnstrom commented on #2771
First, @stefanalund I'm sorry for missing this. I will see if I can extract at least the CloudFormation template that we have for testing right now (it won't be production ready) and some short description on how to use that.

@benjdlambert & @Rugvip I guess you are discussing this internally but we had some discussions around this on our end yesterday and I thought I should at least try and docum

[2020-11-24 10:00] stefanalund commented on #3383
Yep, fully agree. One thing we have been discussing is to create a dedicated repo and move existing templates there: `backstage/software-templates`.

I think that is a good starting point and will improve discoverability and contributability (yeah, it’s a word 🙃). What do you think @regicsolutions?

[2020-11-24 10:13] #3403 closed

[2020-11-24 10:23] benjdlambert commented on #3401
Just gonna drop in our two cents here. On my previous squad inside Spotify we evaluated `luxon` and `date-fns` but found that `date-fns` doesn't support Timezones yet https://github.com/date-fns/date-fns/issues/180

[2020-11-24 10:29] andrewthauer commented on #3401
@benjdlambert - Not natively in v2, but https://github.com/marnusw/date-fns-tz seems to be the go to solution for time zones. Not sure if there are plans to roll this into the official package or not.

[2020-11-24 10:34] sisidra commented on #3382
Another consideration is to consider returning regular users vs new exploring users. While stack-ranking is very useful for exploring users, any changing order might be very distracting for regularly returning users.

I would love to see also exploration into other directions how exploring users can discover most important panel quickly as well as returning users don't get confuser when they point

[2020-11-24 10:49] Fox32 opened #3412 "Backend failed to start up [Error: ENOENT: no such file or directory, scandir '/Users/name/dev/external/backstage/packages/app/dist/static'"
## Expected Behavior

I can start the `packages/backend` of this repository when I make a clean checkout of this repository or after running `yarn clean`.

## Current Behavior

While working on Backstage (this repository, not my own instance!) I often run into the following error when doing `yarn dev` or `yarn start-backend`:

[code]

The problem is, that I haven't compiled the frontend (and I don

[2020-11-24 10:56] andrewthauer commented on #3412
I've run into then as well. We use the `app-backend` for our internal deployments but I rarely use the port 7000 version when working locally. I'm thinking this has nothing to do with cleaning specifically so maybe naturally is part of `yarn dev`.

Another option could be for the  the `app-backend` to read a config setting that is only set in the `app-config.local.yaml`.

[2020-11-24 11:23] Crevil commented on #3279
I just noticed this also fixes the endless spinners in the bread crumbs 🎉

[2020-11-24 12:15] freben commented on #3279
Does the following in the `app-config.yaml` fix things?

[code]

You may want to place this in an `app-config.local.yaml` that gets picked up automatically during local dev.

[2020-11-24 12:35] dhenneke opened #3413 "Only consider the configuration schema of a single package"
The implementation of the configuration schema in #3264 uses a simple and effective discovery approach for schemas: "For all packages in the monorepo that have at least one `@backstage/*` dependency, use the schemas from the `configSchema` property and merge them." This works in the default monorepo installations with a single app and a single backend, but can break in more complex setups.

Consid

[2020-11-24 13:46] Rugvip opened #3414 "[Composability] Meta Issue to track composability work"
We're starting the actual implementation of the ideas mentioned in https://github.com/backstage/backstage/issues/1536#issuecomment-729621634. We've divided it all up into a number of issues, listed below:

- [x] #3415 Internal node data
- [x] #3416 create*Extension
- [x] #3417 route path discovery
- [x] #3418 RouteRef mount points and global route ref association table
- [x] #3461 Plugin instance

[2020-11-24 13:47] Rugvip opened #3415 "[Composability] Add plumbing for internal node data"
## Feature Suggestion

Continued work on https://github.com/backstage/backstage/issues/1536#issuecomment-729621634. We've identified adding internal data tied to the react component type itself as a way forward for composability and route discovery.

## Possible Implementation

Something similar to

[code]

## Context

#3414

[2020-11-24 13:51] Rugvip opened #3416 "[Composability] Add extension concept to the plugin API"
## Feature Suggestion

Instead of exporting components directly, we plan to wrap plugin components in additional contexts and possibly functionality. There's also a possibility that this will be used as an API for plugins to share ways of extending each other as well.

## Possible Implementation

Wrap exported components in something like this:

[code]

## Context

#3414

[2020-11-24 13:57] Rugvip opened #3417 "[Composability] Discover RouteRef paths in app using internal node data"
## Feature Suggestion

Using the facilities added in #3415 and #3416, we want to discover all assigned paths of each route ref in the app, so that we're able to provide complete concrete routes to plugins upfront.

## Possible Implementation

Recursively iterate through the react nodes of the app in order to discover all `RouteRef`s and paths.

## Context

#3414

[2020-11-24 14:28] Rugvip opened #3418 "[Composability] Implement RouteRef mount points and global route association table"
## Feature Suggestion

In order to implemented `RouteRef` based routing, we need to know the full hierarchy of all route refs in the app.

## Possible Implementation

Something similar to this:

Builds plugin:

[code]

Catalog plugin:

[code]

App.tsx:

[code]

This would create a parent-child association between the `buildsRouteRef` in the builds plugin and the `entityRouteRef` in the catalog plu

[2020-11-24 14:31] Rugvip opened #3419 "[Composability] Add useRouteRef hook that enables routing to route refs within a plugin"
## Feature Suggestion

Add a hook that plugins can use to do actual routing using string-based paths.

## Possible Implementation

Something similar to this:

[code]

Subtasks:

- [x] Base functionality without route parameters
- [x] Parameters in target route
- [x] Inheritance of parent route parameters
- [x] Proper TypeScript types for RouteRef parameters

## Context

#3414

[2020-11-24 14:35] Rugvip opened #3420 "[Composability] Add support for SubRouteRefs or similar for use within plugins"
## Feature Suggestion

We want to allow for sub routes of the exported route refs to be used within plugins themselves. This will enable routing within a plugin that is not visible to the app.

## Possible Implementation

For example:

[code]

Or we can down the route of

[code]

## Context

#3414

[2020-11-24 14:41] Rugvip opened #3421 "[Composability] Add support for plugin egress routing through RouteRef associations"
## Feature Suggestion

In order to avoid the need for cross-plugin imports of route refs, we add support for route refs that indirectly refer to route refs outside of the plugin that defines them. The association between these route refs is then handled in the app, either implicitly through IDs, or explicitly through an app API.

## Possible Implementation

Enable something like this in plugins:

[2020-11-24 14:42] Rugvip opened #3422 "[Composability] Add support for lazy loading of plugin extension components"
## Feature Suggestion

Plugin components that use the extension API in #3416 should be lazy loaded.

## Possible Implementation

Wrap components with the necessary APIs within the `create*Extension` functions.

## Context

#3414

[2020-11-24 14:44] Rugvip opened #3423 "[Composability] Update dev-utils to work with plugin extensions"
## Feature Suggestion

Fix #2707, using the new plugin extensions API to discover exported components.

## Context

#3414

[2020-11-24 14:48] Rugvip opened #3424 "[Composability] Port existing plugins to new plugin extensions API"
## Feature Suggestion

Migrate plugins to use the new plugin extensions API from #3416, starting with some of the standalone plugins that don't have any advanced composition patterns.

List of plugins to be migrated:

- [x] `plugin-api-docs` #4341
- [x] `plugin-catalog` #4356
- [x] `plugin-catalog-import` #4361
- [x] `plugin-circleci` #4365
- [x] `plugin-cloudbuild` #4365
- [x] `plugin-cost-insigh

[2020-11-24 14:56] Rugvip opened #3425 "[Composability] Add necessary components to do filtering based on entity kind, type, etc."
## Feature Suggestion

The new composition patterns added in #3416 introduces a limitation that the entire app needs to be rendered as a single react node tree. This forbids the filtering logic for entities to be done within the render function of the component as it is currently done in the example app.

## Possible Implementation

[code]

## Context

#3414

[2020-11-24 17:33] michaelsonnleitner opened #3428 "npx @backstage/create-app not working / sqlite3 NOT found"
## Expected Behavior
I am new to npm / node but I think backstage is a thing we need in our company....
I am trying to create an app....
[code]

## Current Behavior

following error is printed:
[code]

## Context

initial setup was ok
start of backend and frontend also works. I can browse localhost:3000 and it looks nice.

## Your Environment

C:\ent\backstage>node -v
v14.15.1
C:\ent\backstage>yar

[2020-11-24 17:50] OrkoHunter commented on #1536
The architecture proposed here is very exciting and looks great from TechDocs point of view (from me and @hooloovooo).

Examples of some widgets that TechDocs will most certainly use/create in coming future -

- Display number of open GitHub issues
    - If a user is looking at a docs site, it will show how many GitHub issues are currently open in the repository associated with it.
    - The widge

[2020-11-24 17:57] Rugvip commented on #3413
@dhenneke Yep, agree that this needs a fix!

The config schema is initially loaded in two places atm, both within the CLI. One is the app bundle/server, and the other is the `config:*` commands. The logic for determining the packages is currently in one place, here: https://github.com/backstage/backstage/blob/a7974a676967ab6b0a69be8d6d1111702f1c9a2f/packages/cli/src/lib/config.ts#L28

For the bund

[2020-11-24 18:58] brendasukh commented on #3401
Heads up that `luxon` does support relative time as of [`1.9.0` ](https://github.com/moment/luxon/blob/master/CHANGELOG.md#190). Haven't used `date-fns` so I can't say much, but definitely prefer `luxon` over `dayjs`, just for the duration math alone.
[code]

[2020-11-24 19:05] freben commented on #3401
Oh `dayjs` tries to normalize durations upfront? Nooo

[2020-11-24 22:48] OrkoHunter commented on #2903
Hi @emmaindal cc @hooloovooo !

I wonder if `repo_url` is something worth adding to TechDocs Metadata - especially if we only need it for the Edit button.

I am assuming that the URL where this Edit icon will take the user to, will not be different from where this entity is hosted. This information (i.e. entity's location URL) is available in Entity metadata. And we already use it here to show the

[2020-11-24 23:27] jot-hub commented on #3223
@Rugvip cool, took a dig at this ⬆️  - one thing to note is the order of the messages is different - please take a look.

[2020-11-25 06:45] michaelsonnleitner commented on #3399
thats right thank you!

[2020-11-25 06:45] #3399 closed

[2020-11-25 08:21] stefanalund opened #3436 "Add Kubernetes plugin to Marketplace"
@mclarke47 ping 🙂

https://backstage.io/docs/plugins/add-to-marketplace

[2020-11-25 08:52] #3303 closed

[2020-11-25 09:58] benjdlambert opened #3440 "Remove usage of React.FC from the entire codebase"
## Feature Suggestion
We have some tech debt based on the ADR for Removing React.FC from the codebase.

https://github.com/backstage/backstage/blob/master/docs/architecture-decisions/adr006-avoid-react-fc.md

Let's do that!

## Possible Implementation
Use the method in the ADR, or `PropsWithChildren` instead.

[2020-11-25 10:06] #3344 closed

[2020-11-25 10:10] benjdlambert opened #3441 "Create Auth ENV config prop"
## Feature Suggestion
We want to be able to change the authentication environment for passing onto `AuthProviders` like the Okta Provider https://github.com/backstage/backstage/blob/master/packages/core-api/src/apis/implementations/auth/okta/OktaAuth.ts#L43
## Possible Implementation
Have a top level `auth.environment` key in the config which gets sent to the frontend for use by `AuthProviders`

[2020-11-25 10:16] magneticz commented on #3440
I could take this task, good chance to get familiar with the code base, but probably over the course of the week

[2020-11-25 10:25] benjdlambert commented on #3440
@magneticz no probs! I've assigned you!

[2020-11-25 10:38] emmaindal commented on #2903
Hey @OrkoHunter

The difference is, the edit button will be the page your are looking at and if repo_url is added, mkdocs gives us the correct edit link for free for that particular page, as in for example I'm reading the first page of techdocs documentation for the backstage docs, the edit button will be `https://github.com/backstage/backstage/edit/master/docs/README.md` if repo_url is set to whe

[2020-11-25 10:44] benjdlambert commented on #3428
Could you try with node version 12 instead?

[2020-11-25 11:11] Fox32 commented on #2876
I hijacked the issue a bit with the dry run 😉 Let's get back to original topic. Showing the current status of ingestion. I looked a bit around what already is in place:

* Right now `/api/catalog/locations` already contains `{"currentStatus":{"message":null,"status":"success","timestamp":"2020-11-25 10:12:27"}` in its response. For now it isn't working correctly. I couldn't make it display failure

[2020-11-25 12:38] benjdlambert opened #3442 "Setup Preview Deployments for Backstage PR's"
## Feature Suggestion
- We'd love to be able to see the code changes that we're deploying
- We have an example-app in the repo already with some plugins automatically included
- We want to deploy these example app and backend somewhere part of a PR so we can see the changes introduced by the PR if possible

## Possible Implementation
- Using something like https://tugboat.qa deploy the changes
- P

[2020-11-25 12:38] benjdlambert commented on #3442
@backstage/techdocs-core for visibility

[2020-11-25 12:40] OrkoHunter commented on #2903
Aha! @emmaindal I totally forgot about the "for free from MkDocs" bit, i.e. MkDocs has the config [`repo_url`](https://www.mkdocs.org/user-guide/configuration/#repo_url) which we can set and it will render the edit icon for us.

Thanks so much for your response! I think now I understand the issue clearly. :)

[2020-11-25 12:41] StefanoVuerich opened #3443 ""export 'Select' was not found in '@backstage/core'"
I'm facing this problem in my plugin ExampleComponent

![image](https://user-images.githubusercontent.com/7600331/100228820-8e23be00-2f23-11eb-90a0-cbb7d0e2719e.png)

Module '"../../../../../node_modules/@backstage/core/dist"' has no exported member 'Select'.ts(2305)

WARNING in ./src/components/ExampleComponent/ExampleComponent.tsx 44:34-40
"export 'Select' was not found in '@backstage/core'

- N

[2020-11-25 12:49] Fox32 commented on #3412
Changing `yarn dev` to `mkdir -p packages/app/dist/static && concurrently \"yarn start\" \"yarn start-backend\"` would probably not work on Windows. If I recall correctly, `-p` isn't supported.

[2020-11-25 12:49] OrkoHunter commented on #3442
Referring to this old, relevant issue about previews
https://github.com/backstage/backstage/issues/535

[2020-11-25 12:50] stefanalund opened #3444 "yarn install fails on Apple M1 requiring latest node"
I've got a brand spanking new M1 MacBook Air that requires latest node to be installed. This means I can't run Backstage locally. Any suggestions for how to proceed? 🙌

[code]

[2020-11-25 12:57] stefanalund commented on #3443
Pretty sure Select should be imported from Material directly:

[code]

[2020-11-25 13:00] benjdlambert commented on #3444
I think you can try `yarn install --ignore-engines`

[2020-11-25 13:03] StefanoVuerich commented on #3443
Yes, this works but in [ this page](https://backstage.io/storybook/?path=/story/inputs-select--default) their using a backstage version of the select...

[2020-11-25 13:16] stefanalund commented on #3444
@benjaminr thanks, that did the trick! But...now I have new errors:

[code]

Some more discussions here https://github.com/nodejs/TSC/issues/886

[2020-11-25 13:37] freben commented on #3444
I think you need to do `brew install pkgconfig` first.

[2020-11-25 13:43] stefanalund commented on #3444
@freben nope, doesn't help 🤕

[2020-11-25 13:47] Rugvip commented on #3444
Bleeding edge 😅

Got XCode commandline tools installed? Could be that you get the essentials needed with that.

If all else fails I think you can always fall back to running it all through rosetta 2, https://news.ycombinator.com/item?id=25132217

[2020-11-25 14:07] Rugvip opened #3447 "Add sanity check to the release flow to make sure all changed packages have a changeset"
## Feature Suggestion

To avoid forgetting to add changesets to certain packages before a release it's best if we can have a GitHub workflow or bot that warns us that a packages is missing changesets. Not all changes to a package would need a changeset, for example a spelling fix in a line comment would not. Because of that it's likely best to make it a hint rather than a hard failure.

## Possibl

[2020-11-25 14:52] andrewthauer commented on #3412
Yeah, maybe it would be better to actually build a `backstage-cli dev:start` command or something? @Rugvip - Thoughts?

[2020-11-25 14:55] Rugvip commented on #3412
I'm thinking that the app-backend should just fail to start along with a warning, like some of the other backend plugins. But the backend should still start up and run all working plugins.

Definitely interesting to look at bringing it all together into a single dev server, but that's likely a lot more work :grin:

[2020-11-25 14:57] taras commented on #3279
@freben with the configure you provided, I get the following error `Backend failed to start up, TypeError: Invalid type in config for key 'backend.csp.upgrade-insecure-requests' in 'app-config.local.yaml', got boolean, wanted string-array`

[2020-11-25 15:34] stefanalund commented on #3444
@Rugvip I gave up on trying to get latest version of node to work and eventually ran through [Rosetta instead](https://osxdaily.com/2020/11/18/how-run-homebrew-x86-terminal-apple-silicon-mac/). Now it works 😄

Thanks all!

[2020-11-25 15:34] #3444 closed

[2020-11-25 15:54] Fox32 commented on #3412
I made a PR that changes this to be a warning: #3450

[2020-11-25 16:44] #3412 closed

[2020-11-25 16:44] stefanalund commented on #1499
@emmaindal what do you think about closing this "umbrella" issue for search? The basic functionality is now implemented.

[2020-11-25 17:05] freben commented on #3279
@taras i actually merged support for that just today :) https://github.com/backstage/backstage/pull/3437

[2020-11-25 17:06] freben commented on #3279
@Crevil maybe you could try with the most recent backstage and using that configuration option.

[2020-11-25 17:09] Crevil commented on #3279
Sure thing. This is great 👍 Will see if we can get time in for an upgrade tomorrow and I will test. Thank you 🙌

[2020-11-25 17:27] freben commented on #3443
I think the core Select component should be removed. So do use the material-ui one until then.

[2020-11-25 17:38] StefanoVuerich commented on #3443
Ok, thanks for the clarification!

[2020-11-25 17:38] #3443 closed

[2020-11-25 18:33] errolpais commented on #2771
### New Feature Request: Update Scaffolder-backend-plugin to support multiple instances of Backstage Backend

Observed Issue: When we have two instances of the backend, frontend requests to check the status of a running scaffolder job (via the GET /v1/jobs/<job-id> endpoint) may get directed to a backend that is not aware of the created job resulting in a 404. This causes  the status modal for the

[2020-11-25 18:51] Rugvip commented on #2771
@errolpais Yep, definitely needs a fix and is in scope!

[2020-11-25 19:56] freben commented on #2771
@mfrinnstrom Interesting, thanks for writing it up so thoroughly. I wonder if template "functions" could be catalogued too, registered as a TemplateStep kind with an according `schema` for its inputs and outputs as you mention.

[2020-11-25 20:48] freben commented on #2771
One drawback with the explicit parameter passing approach, combined with detaching template "workflows" from cookiecutter template repos, is that there will be a ton of mechanical parameter passing. If the cookiecutter template needs 20 parameters, you'll have to declare and pass them all in every workflow that uses it.

I also wonder how this will affect development and versioning. If you want to

[2020-11-26 00:33] ArchanaSwamy opened #3453 "Github PR plugin does not seem to work for private repo"
Added the RoadieHQ/backstage-plugin-github-pull-requests version 0.6.2 via npm manager.

## Expected Behavior
After the Github SSO login, I expect the PR details to be displayed  from my private repo. The GITHUB_TOKEN that is set here to be accepted by  the plugin
`integrations:
  github:
    - host: github.com
      apiBaseUrl: https://api.github.com
      token:
        $env: GITHUB_TOKEN`

## C

[2020-11-26 06:19] amitkhurana92 commented on #2735
Hi @goober, can you share an example where should I write the credentials?

[2020-11-26 07:41] mfrinnstrom commented on #2771
@freben Interesting idea with the `TemplateStep`. I guess there will be some sort of source code connected to some of them that needs to be executed. Maybe you only mean to have them registered for the schema though?

I see your point about the parameters and I agree that it could be lots of parameter passing. I can see the beauty in having the schema for a step defined with the cookiecutter templ

[2020-11-26 09:17] benjdlambert commented on #3453
Can I close this in favour of the issue on the plugin repo instead? https://github.com/RoadieHQ/backstage-plugin-github-pull-requests/issues/32

[2020-11-26 09:18] dtuite commented on #3453
@benjdlambert we will triage this and open something here if needed.

[2020-11-26 09:20] #3223 closed

[2020-11-26 09:21] #3453 closed

[2020-11-26 09:21] benjdlambert commented on #3453
Feel free to re-open if necessary

[2020-11-26 09:53] freben commented on #2771
No you are right, I was thinking that the `TemplateStep` could define (relevant parts of / references to) the actual implementation of the step in addition to the schema, and can be of several types. If you look at how GitHub actions [are defined](https://docs.github.com/en/free-pro-team@latest/actions/creating-actions/about-actions), they have three main types of action: docker, javascript and co

[2020-11-26 14:07] freben commented on #3447
We are now trying out the changeset bot as well.

[2020-11-26 14:25] #1854 closed

[2020-11-26 14:38] #1499 closed

[2020-11-26 14:42] emmaindal commented on #1499
@stefanalund yes, I was planning to write up an RFC for a potential backend search plugin but it will hopefully be more of a priority during Q1 for us so lets close this for now and I'll come back to this!

[2020-11-26 14:50] freben commented on #3428
Hi! What I see in the logs is

[code]

This looks like python 3 trying to run python 2 code - print is expected to have parentheses and work like a function in python 3. I am not an expert on gyp but it seems it wants python 2. Is there any way that you could use a py2 virtualenv or similar while working with backstage?

[2020-11-26 15:12] Rugvip opened #3461 "[Composability] Add plugin discovery through extension component data"
## Feature Suggestion

Remove the need for the `plugins.ts` registration in Apps by discovering all plugin instances through the app element tree rather than manual registration.

## Possible Implementation

Re-use the element traversal facilities used to discover routing data to also collect all plugin instances.

## Context

#3414

[2020-11-26 21:11] freben commented on #2876
@Fox32 Great input!

I've been thinking about adding a dedicated status table in the catalog. Gonna brain dump a bit before bed and see if you think it aligns with what you observed.

Rough sketch:

[code]

There could be an `events` table as well.

[code]

As processes run within the various backends, they would emit events (probably using https://github.com/backstage/backstage/issues/3221) that

[2020-11-27 00:13] #3413 closed

[2020-11-27 02:12] ArchanaSwamy commented on #3453
Issue reolved - https://github.com/RoadieHQ/backstage-plugin-github-pull-requests/issues/32

[2020-11-27 08:52] djamaile commented on #714
How is this coming along?

[2020-11-27 09:55] kaos commented on #3399
Is there a way to add our own CA certificates to the trust store, so we can keep verifications on?

[2020-11-27 12:13] JacobValdemar opened #3474 "[Auth] GitHub provider: only request access to org repos"
## Feature Suggestion

Some developers are using their GitHub account in both private and work-related contexts. To protect their privacy it should be possible to configure the GitHub provider to only request access to the GitHub organizations repositories, and not the developers' individual private and public repositories.

## Possible Implementation

It seems like it's not possible to limit the

[2020-11-27 12:19] Rugvip opened #3476 "Bump esbuild and rollup-plugin-esbuild in the CLI"
## Expected Behavior

We should use a recent version of esbuild.

## Current Behavior

The current version in the CLI is quite old, we want to bump the dependency and fix any issues that arise.

## Possible Solution

Bump the dependencies in the CLI and fix any breakages

## Context

#3475

[2020-11-27 12:42] #2903 closed

[2020-11-27 14:12] keshann93 commented on #3441
Interesting project to explore! I am fairly new to the code, but I am sure I can take up this task to get a hang of code base.

[2020-11-27 18:40] Fox32 commented on #2827
Here are some thoughts by @freben https://github.com/backstage/backstage/pull/3479#issuecomment-734920731

[2020-11-28 02:29] regicsolutions commented on #2901
@dtuite would love to provide feedback, but we are using Bitbucket, any plans to adding Bitbucket support?

[2020-11-28 09:32] dtuite commented on #2901
@regicsolutions Our team at roadie.io have no immediate plans to add Bitbucket support.

The code is open source and Bitbucket support may be contributed by someone else in the community.

[2020-11-28 16:14] Rugvip commented on #323
Had this for a long time, closing :>

[2020-11-28 16:14] #323 closed

[2020-11-28 16:27] andrewthauer commented on #3401
Did some digging into `date-fns` support for the scenario @brendasukh pointed out for ISO duration.

- `date-fns` has a `formatISODuration`, the inverse `parseISODuration` is being worked on in https://github.com/date-fns/date-fns/pull/1947 (discussion here  https://github.com/date-fns/date-fns/issues/1858)
- There is an open [addition and scalar multiplication for durations](https://github.com/da

[2020-11-29 00:47] fidelcoria-aa commented on #3347
I've started looking at speeding up our glacial docker builds in GitHub Actions. Starting with yarn cache.

How can I save and restore the cache you mention? I can't find where the `docker build caching of yarn install` is set up.

Is this moot once you're figured out how to get the backend:bundle to work?

[2020-11-29 08:12] freben commented on #3347
@fidelcoria-aa see our repo for inspiration on  how we do the caching - it's a bit involved to get it as efficient as possible. https://github.com/backstage/backstage/blob/master/.github/workflows/ci.yml#L32

[2020-11-29 10:10] JacobValdemar commented on #714
@djamaile I don't think anyone is working on it

[2020-11-29 11:14] stefanalund commented on #714
I stumbled upon this recently and thought it could be used for inspiration: https://github.com/prometheus/prometheus/tree/master/web

[2020-11-29 12:30] Rugvip commented on #1916
Fixed in #3076 and #3289, although tooling to ensure stability is still something we want to look at.

[2020-11-29 12:30] #1916 closed

[2020-11-29 23:07] goober commented on #2735
Hi @regicsolutions.
Sorry for the late reply. It looks like you are trying to access a bitbucket server that has a self-signed certificate.
We have the same situation and has solved it by telling node to trust our self-signed cert using `NODE_EXTRA_CA_CERTS` environment variable. See https://docs.axway.com/bundle/API_Builder_4x_allOS_en/page/enable_additional_ca_certificates.html for some guidance

[2020-11-29 23:11] goober commented on #2735
@amitkhurana92 if you are using Bitbucket Server the following setup should work for you:
[code]

[2020-11-30 00:34] andrewthauer commented on #2878
So just confirming that removing the backend has not affect on this behaviour. The front end still attempts to update the docs site when viewing.

[2020-11-30 07:16] BA1RY commented on #2646
Hi @brendasukh I would like to work on this. How do you want me to implement it?

[2020-11-30 10:29] #3476 closed

[2020-11-30 14:12] benjdlambert commented on #1565
This work is still on our radar, but not prioritised yet.

[2020-11-30 14:15] freben commented on #3441
OK, assigned!

[2020-11-30 14:29] #1755 closed

[2020-11-30 14:29] freben commented on #1755
has been done!

[2020-11-30 14:49] katz95 opened #3497 "Dialog component"
## 🗒 General

Would love if someone could help us create a dialog component, modeled after Material's [dialog component](https://material.io/components/dialogs#usage). We're leveraging our primary + secondary buttons in this dialog component.

![dialog](https://user-images.githubusercontent.com/61153904/100623665-be53ce00-3322-11eb-8c09-0784ed55237e.gif)

## 💻 Usage

This component is used for whe

[2020-11-30 14:51] freben commented on #3474
Hi! To the best of my knowledge, this unfortunately can't be solved well at all with the current setup. That's one of the reasons that we are so keen on getting the [GitHub Apps](https://github.com/backstage/backstage/issues/1565) based auth in place. There, we'll be able to scope it strictly to those orgs that install it.

We'll close this for now, if that's OK with you, since we are not aware of

[2020-11-30 14:51] #3474 closed

[2020-11-30 14:52] freben commented on #3044
@rishibarad How are things going? Need any help?

[2020-11-30 14:54] katz95 opened #3498 "Inline Errors + Nondismissable Banners"
## 🗒 General

Would love help with two components: inline errors and nondismissable banners. Nondismissable banners are quite similar to our [dismissable ones](https://backstage.io/storybook/?path=/story/feedback-dismissablebanner--error).

![inline-error](https://user-images.githubusercontent.com/61153904/100624538-ded05800-3323-11eb-9146-03c528ed7239.gif)
![dialog-box](https://user-images.github

[2020-11-30 15:01] freben commented on #2581
@therealadum Any progress on this?

The config is now here
https://github.com/backstage/backstage/blob/master/packages/integration/src/gitlab/config.ts

And the URL builders are being moved into the same place by this
https://github.com/backstage/backstage/pull/3489

[2020-11-30 15:05] freben commented on #3401
@andrewthauer Thanks for that. Main concern is if the library is incomplete and we supply helpers out of the core library, then we are "owning" those helpers and their API stability, meaning gradual deprecation as the upstream merges happen etc. If something else has it all out of the box, then that would be compelling. I personally don't have a great sense of how big of a mismatch there is betwee

[2020-11-30 15:17] freben commented on #2878
I didn't know that it was an intended feature to support non-techdocs-built sites as well. Interesting.

For that use case, will the techdocs backend still be used for "routing" (helping with the fetching of site data)? Or will the frontend be expected to be able to fetch the site data directly from elsewhere? And if so, how is that "elsewhere" pointed out?

Sorry for the noob questions, I am hopi

[2020-11-30 15:18] fidelcoria-aa commented on #3347
@freben, that isn't doing docker build. We already do yarn caching like you have there.
The problem is the docker build does not use the yarn cache.

I also already set up:

      - uses: docker/setup-buildx-action@v1
      - uses: actions/cache@v2
        env:
          cache-base:  v1-${{ runner.os }}-cache-docker
        with:
          path: /tmp/.buildx-cache
          key: ${{ env.cache-base

[2020-11-30 15:23] andrewthauer commented on #2878
@freben - Yes, the `techdocs` frontend package & reader component currently works without the backend. It will do the fetching of the site, etc. based on the `techdocs.requestUrl` config setting. In our case we also override the `TechDocsStorage` API to control how URL's are constructed by the frontend. Everything works well, except we spiny loaders when viewing a docs site, even thought the site

[2020-11-30 16:02] qzheng2 opened #3499 "Side Panel Component"
## 🗒 General

Would love some help building out this side panel component for Storybook! The side panel component can be triggered by a clickable component or a row of table to display additional information, with or without a lightbox in the background.

![Side Panel](https://user-images.githubusercontent.com/74984488/100632024-58ebe700-32fa-11eb-9b66-5f07cf4ad0c7.gif)

## 💻 Usage

### Side Panel

[2020-11-30 16:09] freben commented on #3497
Is this component meant to have any differences to the [builtin dialog](https://material-ui.com/components/dialogs/)?

This sounds like it should be added only in the form of a storybook entry, where we explain the conventions of how to use the builtin one properly (what to wrap in Typography, what variant to use for buttons, general JSX structure, etc), rather than making an actual wrapper compon

[2020-11-30 16:44] Rugvip commented on #3347
@fidelcoria-aa Is this for building the backend only? and are you calling `backstage-cli backend:build-image` along with a `Dockerfile` that includes an `ADD` for `skeleton.tar` such as the on in this repo? https://github.com/backstage/backstage/blob/master/packages/backend/Dockerfile

The `skeleton.tar` contains all the necessary files to do a cached `yarn install` at the docker cache level. When

[2020-11-30 17:41] katz95 commented on #3497
ooh good point @freben - you are exactly right! if we could just add it to the storybook with the conventions explained above and in Figma, that would be great!

[2020-11-30 17:42] freben commented on #3497
Yep the need is definitely there to have it explained and laid out clearly to the user in storybook!

[2020-11-30 17:44] ayshiff commented on #3499
Can I work on this ?

[2020-11-30 17:49] katz95 commented on #3499
Yes!! @ayshiff thank you!!

[2020-11-30 17:51] freben commented on #3499
I think this is also a case of using just the builtin drawer.

https://material-ui.com/components/drawers/

So the task may be to add a storybook that documents how to use it in a way that matches the designs, or to collaborate to tweak the designs slightly if the builtins have a corresponding similar-enough concept/component.

@ayshiff would you be up for that?

[2020-11-30 17:53] ayshiff commented on #3499
Yes, sure ! 👍

[2020-11-30 19:43] OrkoHunter commented on #2878
Thanks @andrewthauer for your response and thanks @freben for asking! Moving forward, it makes sense to have `techdocs` use `techdocs-backend` as much as possible (maybe just as a proxy). This will help 1. Limit access to certain groups/orgs. Doing this in the backend will be easier/optimal. 2. For improving security, only allow `techdocs-backend` to access the external storage (GCS, S3, etc.) eit

[2020-11-30 20:25] freben commented on #3498
Just to clarify: inline errors are part of MUI. https://material-ui.com/components/text-fields/

The nonstandard vertical extra line is tricky though. I would really prefer that it be added, if at all, using MUI/aria facilities. Maybe we can latch onto their CSS classnames, or make use of something like `input[aria-invalid=true]:before` globally. We should avoid wrapping these components at all co

[2020-11-30 20:30] freben commented on #3498
For banners, we've been leaning towards https://material-ui.com/components/alert/ , even though it's still in the MUI lab phase. Making use of one of those, without a dismiss button, should work.

[2020-11-30 20:32] freben commented on #3347
@Rugvip is working on this very thing - is there something you would like to share here?

[2020-11-30 22:12] andrewthauer commented on #2878
@OrkoHunter - This seems sounds like a reasonable approach. Having the docs request route through a future backstage backend would be fine for us. The 2 requirements for us in this scenario would be:

- The backend doesn't need to manage building the docs site. I believe the idea of having the `techdocs-cli` able to do this in CI would mean that is the case
- The ability to control how site pages

[2020-11-30 23:27] fidelcoria-aa commented on #3347
Sorry to pollute this PR, this could've been a discord or a new issue.

yes and yes. We have the latest version of backstage-cli as well. But the yarn install during docker build is way too slow to be using a cache. (When a docker build is repeated in the same GH Action Job there is caching and faster build).

Yeah I thought about mounting host directories but was looking for a more compact option

[2020-12-01 00:08] andrewthauer commented on #1519
Curious if any thoughts have been given to this? We are starting to look into emitting some metrics from the backend. Current use cases would be an increment metric to track usage and also write alerts against it. We could integrate directly with our metrics provider, but might be nice to use a generalized API that abstracts this.

[2020-12-01 01:59] regicsolutions commented on #2735
Thanks @goober ill give that a try. Have you had any luck integrating Bitbucket Server with the scaffolder backend for software templates?

[2020-12-01 02:41] regicsolutions commented on #3383
@stefanalund Agreed, that would be a great starting point!

[2020-12-01 02:46] regicsolutions commented on #3155
@goober @freben just checking in to see if there's any update on the API?

[2020-12-01 02:49] regicsolutions commented on #2256
@YashishDua just checking in to see if you made any progress with this plugin?

[2020-12-01 02:51] regicsolutions commented on #849
@javigomez did you make any progress with this plugin?

[2020-12-01 04:55] adamdmharvey commented on #3436
Mind if I help with this one?

[2020-12-01 05:03] adamdmharvey commented on #2622
Thinking this issue is good to close seeing as it's developed in early stages, published into the Marketplace, and I'm using it as a starting point for more work happily. :) well done roadie.io team!

[2020-12-01 06:49] Fox32 commented on #1519
Right now prometheus meeting are available and it's easy to extend them with custom metrics.
We just through about adding an entity count metric. Not sure if that is something we should provide for everyone.

[2020-12-01 08:27] #2622 closed

[2020-12-01 08:28] stefanalund commented on #3436
Go for it @adamdmharvey 👍

[2020-12-01 08:56] dtuite commented on #2622
Clad we could help @adamdmharvey

[2020-12-01 08:56] OrkoHunter commented on #3383
@stefanalund It will be awesome to have `backstage/software-templates` repository. TechDocs can also make good use of it for its documentation templates. :) cc @emmaindal I remember you talking about it on Discord.

[2020-12-01 11:30] andrewthauer commented on #3401
@freben - That's a fair point. The work around for supporting this particular use case seems recent so hopefully it is officially added soon. As far as other use cases I suspect all 3 are mostly in parity across the board but their approaches to solving differ. The ideal case would be native JS support for these cases through the `Temporal` tc39 proposal. But it's only stage 2 at the moment (no pu

[2020-12-01 13:54] freben commented on #3401
If they do the temporals right - then aw yiss that will be an awesome addition

[2020-12-01 13:59] freben commented on #3155
This is the beginnings of it. https://github.com/backstage/backstage/pull/3485

[2020-12-01 14:01] hooloovooo commented on #2878
@andrewthauer Both of your scenarios are things we plan to support. The second scenario won't be very accessible and will still require a custom api implementation since it's not something we recommend for most people. As @OrkoHunter said we want the techdocs-backend to be a middleware even when you have your own build flow set up somewhere else since it allows things such as using Backstages acce

[2020-12-01 15:19] freben commented on #1519
@Fox32 In what way do you mean that they are available?

@andrewthauer Yeah I'm not sure how to best abstract this. We could either inject a bunch of actual metrics code in the backend at strategic points, maybe using some form of shim that you have to attach a real telemetry lib on top of. But that seems like a lot of work, and inventing that shim may be a thankless job and a new API surface to m

[2020-12-01 15:35] freben opened #3514 "Update React to version 17+"
## Feature Suggestion

React is evolving, and we want to be able to evolve with it. Version 17 has been released since a while back, and dependabot has started poking for bumping things.

Even if specifically React 17 started making it more feasible to run different versions of React in parallel, we want to avoid that happening. That goes not only for the core project, but for users that may be us

[2020-12-01 16:29] Fox32 commented on #1519
There are basic metrics available in the backend at `/metrics`: Things like: NodeJs specific stuff like memory usage, gc, http requests, ...

It is also possible to extend it with custom once, like in #3512
I don't think that this is a full telemetry setup, but a nice start.

About open telemetry: I think that is a good way to go and the prometheus format is more or less the base for metrics there

[2020-12-01 16:46] andrewthauer commented on #1519
We are using `datadog`. I know they've talked about supporting `opentelemetry` but I"m not sure on the status or scope of that.

[2020-12-01 16:58] Fox32 commented on #1519
Prometheus metrics should work with datadog, but I have never done that. I think distributed tracing will become more relevant once the Backstage backend consist of more than one process - so it's definitely something we should have.

For the observability of the frontend @dhenneke invested some time this week into integrating Sentry. That work is only done in our app, but we noticed some things t

[2020-12-01 17:00] andrewthauer commented on #1519
@Fox32 - Yeah, I do see it's possible to integrate with `Prometheus`, but at first glance it seems like it's more then just a client adapter. I think having tracing is useful even with a single process backend. For instance, I would like to trace calls to other internal services.

[2020-12-01 17:04] Fox32 commented on #1519
I didn't had that in view. Most of the services we talk to via Backstage are out of control, but if you have internal services, it's a good fit.

[2020-12-01 17:31] #3382 closed

[2020-12-01 18:50] timbonicus opened #3515 "[RFC] Support for different breakdown dimensions in Cost Insights"
**Status:** Closed for comments

## Need

Cost Insights supports a breakdown of entity costs by SKU as of #3268. We have a need internally at Spotify to show cost breakdowns by other dimensions - for example, by deployment (GCE vs GKE) or data pipeline trigger type (automatic, manual, backfill).

## Proposal

The modal dialog for SKU breakdowns should have tabs in cases where different dimensions

[2020-12-01 22:15] brendasukh commented on #3515
I think tabs works fine here, given that we might get a design overhaul in the near-ish future anyway.

It feels weird to have to fetch a list of supported breakdowns and then have to fetch the breakdown data separately, all the while not knowing if we'll display that data at all (in cases like having a single deployment environment). I prefer updating the `entities` field, although that may have

[2020-12-01 22:41] timbonicus commented on #3515
To clarify, I was proposing tabs in either case. They just might look better in a Drawer than a Dialog. 😄

I was assuming a list of supported breakdowns would probably be a static list per product (e.g. certain breakdowns for services vs data pipeline entity types). So we're not really _fetching_ per se. Maybe that implies this approach should be configuration-driven? We toyed with the `product` c

[2020-12-02 00:26] regicsolutions opened #3519 "SonarQube Plugin has same map keys as Jenkins Plugin"
@dhenneke  i am getting an error when trying to add the SonarQube plugin along with the Jenkins plugin:

`$ yarn build`
`yarn run v1.22.1`
`$ backstage-cli app:build`
`Error: Failed to read static configuration file: Map keys must be unique; "target" is repeated`
`error Command failed with exit code 1.`

**app-config.yaml:**

[code]

[2020-12-02 06:44] keshann93 commented on #3441
Hi @freben Thank you for assigning the issue. I have raised a [PR](https://github.com/backstage/backstage/pull/3523).

I will try to explain my understanding to give more context on the changes I have made in the PR;

**Intention**
Should be able to override the hard-coded value provided for `environment` attr when calling `static create func` for any auth provider.

**Solution**
- Added `auth.env

[2020-12-02 07:06] dhenneke commented on #3519
The indentation of the file looks odd.

Can you try the following?

[code]

[2020-12-02 08:14] flyhard opened #3525 "Bitbucket support for TechDocs"
## Feature Suggestion

I am looking for a way to generate the techdocs from bitbucket repos. As far as I can see, this is not possible today.

[2020-12-02 08:22] goober opened #3526 "Add scaffolding support for Bitbucket and Bitbucket Server"
## Feature Suggestion

Backstage has support for fetching catalog entities from Bitbucket and Bitbucket server. However, the scaffolding feature lacks support for these systems.
This feature request suggests that support is added to improve the experience for organisations using Bitbucket as their source versioning system.

## Possible Implementation

Take inspiration from other implementations at

[2020-12-02 09:10] flyhard commented on #3526
Would this one include generating the TechDocs from bitbucket? I just opened a Feature request (#3525) for that.

[2020-12-02 09:22] goober commented on #3526
@flyhard I think they are separate feature requests since they are located in different plugins.

[2020-12-02 09:24] goober commented on #3525
Maybe I am way out in deep water here, but since backstage already have support for reading files from Bitbucket maybe it is as easy as adding `bitbucket/api` to the following list?

https://github.com/backstage/backstage/blob/master/plugins/techdocs-backend/src/techdocs/stages/prepare/types.ts#L33-L39

[2020-12-02 09:34] flyhard commented on #3525
No, I don't think so. That addition is only part of it, I believe.

[2020-12-02 10:07] keshann93 commented on #3364
Hi @Rugvip I would like to take up this issue to complete the missing configuration schema

[2020-12-02 10:17] magneticz commented on #3440
Hi all,

Sorry, it's taking more time than i promised. Got sick and wasn't able to work for a week. Will continue working on this at a slower pace

[2020-12-02 10:32] dhenneke opened #3528 "Support string interpolation in config files"
_This is based on a recent discussion in Discord: https://discord.com/channels/687207715902193673/687207715902193679/771756713337946162_

We often use the proxy backend with authorization headers:

[code]

Plugins often add additional documentation to tell the users what the variables must include (ex: https://github.com/backstage/backstage/tree/master/plugins/sonarqube#getting-started).

It would

[2020-12-02 10:46] freben commented on #3528
Yes for sure!

There's minutiae like whether to use `{{ }}` or `${ }`, whether it's `env.PATH` (like in github workflows) or just `PATH` or `env:PATH`, etc - but the feature as such is definitely desired.

Maybe there is something to say about synchronising this with other places in the solution where substitution is used. The scaffolder uses cookicutter syntax a lot, even though it's not the only

[2020-12-02 10:55] #3415 closed

[2020-12-02 10:55] #3416 closed

[2020-12-02 10:55] #3417 closed

[2020-12-02 10:55] #3418 closed

[2020-12-02 10:55] #3461 closed

[2020-12-02 10:55] arunpramodh opened #3529 "Provision to change the greeting message in the catalog page."
Need to customize the Greetings text with type user on /catalog page.
## Feature Suggestion
Currently the greetings message is generated in @backstage/plugin-catalog with Guest/User name concatenated is being displayed on the /catalog page.
I didn't find a way to replace that greetings message with my custom code.

## Possible Implementation

Need to overwrite the greetings message within the pack

[2020-12-02 11:55] Rugvip opened #3530 "[Composability] Wire up new routing internals in createApp and createPlugin"
## Feature Suggestion

The work in #3415, #3416, #3417, #3418, #3419, #3461 adds all the internal plumbing necessary to implement RouteRef-based routing along with not having to manually most routes in the app. Using all of those utilities we now need to implement the actual additions to `createPlugin` and `createApp`.

## Possible Implementation

If it's possible to do in a backwards compatible w

[2020-12-02 11:57] Rugvip opened #3531 "Automatically create GitHub releases with summary of all bumped packages"
## Feature Suggestion

After moving over to changeset and individual package releases, we stopped creating releases in GitHub. GitHub releases is something that many rely on to know when there's been a new release, and it would be best if we could keep using them.

## Possible Implementation

Either fully automatically or assisted by some scripts we could make each merge of the "Version Packages"

[2020-12-02 12:11] OrkoHunter commented on #3531
This would be awesome! I imagine the following -

* A GitHub action workflow that runs when Pull Requests are merged.
* See if the PR was created by @backstage-service and has the title `Version Packages`.
* Use the newer version in the PR's root `package.json` file. Use this as the new tag, the PR's summary as release description, and create a release using GitHub API (and @backstage-service's to

[2020-12-02 12:57] JacobValdemar commented on #2771
When will the work on this be started, or should we have another RFC about this where we collect the findings from this RFC in one (or multiple) proposed solutions? 🙂

[2020-12-02 14:40] hooloovooo commented on #2091
Closing this now, the spec has changed and we should be following the new specification decided upon here https://backstage.io/docs/architecture-decisions/adrs-adr009
If I'm wrong we can create a new issue that explains what differs from the spec.

[2020-12-02 14:40] #2091 closed

[2020-12-02 15:17] OrkoHunter opened #3533 "TechDocs: Write instructions on how to use the URL preparer (and dir preparer)"
## Feature Suggestion

Write a tutorial page with instructions on how one can use the URL preparer for TechDocs. The default preparer is `git` which uses `git clone` to download the files and generate docs from. The URL preparer (thanks to @hooloovooo) is much faster and uses the Source Code Hosting Provider (e.g. GitHub)'s API to download files.

Also, there is a `dir` preparer that can be used t

[2020-12-02 15:26] freben commented on #3531
Sure :)

[2020-12-02 15:33] adamdmharvey commented on #2662
## Tying into Squads/Org plugin

Tying this together, I wonder if gamification scoring could be extendable in a sense that it could apply to Components (as requested here in) but also to Squads (reference https://github.com/backstage/backstage/issues/2752).

The videos/screengrabs we've seen of Spotify's internal Backstage seem to lean in this direction, and in our never ending approach to try to

[2020-12-02 16:27] martina-if commented on #683
We started working on an [ArgoCD plugin](https://github.com/roadiehq/backstage-plugin-argo-cd) at Roadie!

We now have a working widget with information about the health and status of a service, check it out:

![argo3](https://user-images.githubusercontent.com/736631/100900318-03af0180-34c3-11eb-9cec-cd104f0b0ff3.png)

Feedback is very welcome!

[2020-12-02 17:27] OrkoHunter commented on #3533
See the discussion https://discord.com/channels/687207715902193673/714754240933003266/783710216000372737

Give an `app-config.local.yaml` example for `dir:` preparer.

[2020-12-02 18:03] brendasukh commented on #3515
@timbonicus ah, static list makes sense. If we add it as part of the config, it might be get a little wordy if we have to specify SKU breakdown for each product ? I think I still somewhat prefer just updating `entities` unless there are major concerns with that.

[2020-12-02 18:45] SuganJoe opened #3534 "Catalog-backend- need for optimizing the ingestion loop"
In service catalog backend, there is auto-refresh of locations happens every 1.6 min . Even using postgre DB for Production data(around 13K entities) from an organization, It takes around  ~16 min to complete refresh.

Background - Service catalog backend is integrated with our organization 's internal metadata API (Fetching around 13K entities)-following external-integrations approach (https://ba

[2020-12-02 19:34] backjo opened #3535 "Identity information inconsistent between Microsoft authentication and Microsoft Graph user data in catalog"
I'm running a Backstage application with authentication provided by the Microsoft provider, and data ingested into the catalog via the microsoftGraph processor. For an email like backjo@foo.com, the following various data points look something like this:

Backstage User record:
[code]
Backstage Identity:
[code]

Because of this inconsistency, filters like 'Owned' do not work correctly.
## Expected

[2020-12-02 20:10] #3357 closed

[2020-12-02 20:50] freben commented on #3534
Thank you!

I tried with a fairly large input dataset (Spotify LDAP) on latest master.

First with sqlite in memory:

[code]

Not too shabby. Then with a local postgres 12.3 running in docker:

[code]

... I stopped waiting 15 minutes later while the Docker daemon was under very high CPU usage.

This is a regression; when I did the same test with the same source a few months ago the times were com

[2020-12-02 20:56] freben commented on #3534
If you run the backend with `LOG_LEVEL=debug`, you will see it process individual batches as they are being written. You'll notice that the batches get very quickly slower and slower the more data that's stored.

[code]

The logs are there in this form because I've seen this behaviour before and fixed it. I'll look into again why it has resurfaced.

[2020-12-02 21:20] SuganJoe commented on #3534
@freben Thanks for checking on the issue.

Was it consistent for subsequent refreshes?
Because the first time it just has to add all the entities, so it is faster for me as well refresh completed below 1 min. But, in the following refreshes it took around 15  min, as entities are compared with old version of entities and then updated.

[2020-12-02 21:28] SuganJoe commented on #3534
About using sqlite in-memory for Production - In our organization there is an existing DB  for storing all entity information and an API to fetch entities from. So, Catalog backend DB merely acts as a cache layer in this case.

Do you see any potential reason for not using sqlite for production in this case?

[2020-12-02 21:43] freben commented on #3534
I didn't follow through since even the first run (starting from an empty database) just took too long. I expect the next run would have been almost equally slow!

Current theory is that it's actually reads that are slowing it down. Removing this step (replacing it with an empty array) makes it run to completion pretty quickly.

https://github.com/backstage/backstage/blob/master/plugins/catalog-bac

[2020-12-02 22:41] Fox32 commented on #3535
This is indeed a problem we didn't noticed when we wrote the user & group ingestion. We are not using the build in microsoft login but build our own that is implemented using a reverse proxy infront of the backend (oauth2-proxy). I guess it would make sense to change the microsoft login to generate similar user names. We choose the longer names for the user import as we otherwise would have duplic

[2020-12-03 01:02] backjo commented on #3535
Even with the long names, we have duplicates :(

I wonder if it makes sense to have some sort of middleware for both, so that plugin users can pass in custom functions to extract a name.

[2020-12-03 03:32] adamdmharvey opened #3541 "Catalog import open PR doesn't support GitHub Enterprise yet"
## Expected Behavior

When submitting the URL of a GitHub Enterprise repo to the register component screen, the pull request is opened on the GHE instance.

## Current Behavior

GitHub.com is hardcoded and so won't open PRs on GHE. User always receives HTTP 401 unauthorized.

Octokit library defaults to GitHub.com when not otherwise specified:

https://github.com/backstage/backstage/blob/257619c1e

[2020-12-03 09:26] hooloovooo opened #3546 "Implement readTree on BitBucketUrlReader"
We should implement support for the readTree method on BitBucketUrlReader. The implementation can hopefully be more or less copied from one of the UrlReaders that implements the method already.
https://github.com/backstage/backstage/blob/master/packages/backend-common/src/reading/GithubUrlReader.ts

[2020-12-03 09:26] dhenneke commented on #3535
The ownership-feature in the catalog table is currently assuming that the userid matches the user entity: https://github.com/backstage/backstage/blob/05f3ca491e1fb07814f936f7539baa92312e5938/plugins/catalog/src/components/useOwnUser.ts#L30-L32

But it would be better to get the full entity from the identity api. But I think there are not yet concrete plans on how this would look like.

[2020-12-03 09:27] hooloovooo opened #3547 "Implement readTree on GitlabUrlReader"
We should implement support for the readTree method on GitlabUrlReader. The implementation can hopefully be more or less copied from one of the UrlReaders that implements the method already.
https://github.com/backstage/backstage/blob/master/packages/backend-common/src/reading/GithubUrlReader.ts

[2020-12-03 09:30] hooloovooo commented on #3526
I'm not sure what the status is on the scaffolder to use the UrlReader for fetching files, but if that is on the roadmap this should probably be implemented as a UrlReader. That way there's no need to implement BItbucket support for each plugin that requires it. Ping @benjdlambert

[2020-12-03 09:33] hooloovooo commented on #3525
This can probably be quite easily added as a git preparer. I would recommend adding this to the UrlReader though since that's the common way to manage downloading files from external sources. TechDocs currently support the UrlReader, but it's not advertised since cache invalidation is missing and it's not that well tested. We will transition to using that by default fairly soon though, and may eve

[2020-12-03 09:41] hooloovooo opened #3548 "Cache docs pages built with UrlReader"
Currently we cannot detect updates to source files when techdocs are built using the UrlReader. This means we can't do caching of built docs and have to reload on every pageload. We need to find some way of checking the last updated date of files in a repository or subtree of a repository.

This will probably require a solution for each supported VCS. For example in Github we can probably use the

[2020-12-03 10:13] Rugvip commented on #3548
@hooloovooo I'm thinking it might make sense to use a plain git client for this to fetch the `HEAD` sha. @benjdlambert is looking into switching over to using https://github.com/isomorphic-git/isomorphic-git, and we'll likely tie that up to be easily usable with the integrations config to talk to different type of providers. The piece that would then be missing is a way to know what the `sha` is w

[2020-12-03 10:20] hooloovooo commented on #3548
@Rugvip Yea that could work assuming it's fast enough. This is something that would have to run on every page load.

[2020-12-03 11:50] tragiclifestories commented on #3407
@johnsaigle Why did you close this out of interest? Just ran into the same thing.

[2020-12-03 13:26] ebarriosjr opened #3550 "TechDocs: Nav arrows in bottom of a page trigger full page reload"
The Nav arrows at the bottom of a component documentation trigger a full page reload when clicked.

## Expected Behavior
The behavior should be the same as the nav bar on the left of the docs. Trigger a reload of only the internal component and not the entire page.

## Current Behavior
Each click triggers an full reload of the page.

## Steps to Reproduce

1. Create a component (with documentation

[2020-12-03 14:30] johnsaigle commented on #3407
I went back to the instructions and saw that there are two process to run to make the app work. I can't remember the syntax off the top of my head but basically you need to start both a front-end client app as well as a server back-end. If you only do the former, this error appears.

[2020-12-03 14:38] djamaile commented on #714
Thanks, will try something out @ my company

[2020-12-03 14:43] Rugvip commented on #3519
@regicsolutions looks like the above should solve the issues, alright to close?

[2020-12-03 16:58] mateiidavid commented on #3547
Hi, this seems like a straightforward issue. Bit of a JS noob but would love to get more familiar with the language and the project.

I would be looking at getting this done within a week or so. @hooloovooo @Rugvip

[2020-12-03 17:15] Rugvip commented on #3547
@mateiidavid Awesome, thank you! Let us know if you need any pointers, or pop by Discord

[2020-12-03 18:30] regicsolutions commented on #3526
This would be a great feature! @benjdlambert is the Urlreader something in the near term roadmap for the scaffolder?

[2020-12-03 18:33] SuganJoe commented on #3534
Created PR - https://github.com/backstage/backstage/pull/3540
Why?
During location refresh in catalog backend, there is a comparison between old entities and new entities in entityHasChanges() function. In that method, relations in the existing entity from DB (e1) is not removed causing lodash.IsEqual() to always returns false and entities always end up in toUpdate list instead of ideally going to

[2020-12-03 19:08] regicsolutions commented on #1519
+ 1 for datadog there's a [Winston Datadog Logger](https://github.com/kioannou/winston-datadog-logger) out there that may be a good start

[2020-12-03 20:00] brendasukh commented on #2646
Hey @BA1RY, thanks for the interest in working on this! Unfortunately, we might have pre-maturely opened this issue up as we are still figuring out the implementation on our side 😅Going to close this up for now until we have more details but until then, you can check out the other first issue[ ideas](https://github.com/backstage/backstage/labels/good%20first%20issue) in backstage

[2020-12-03 20:00] #2646 closed

[2020-12-03 20:42] freben commented on #3526
The UrlReader does not yet have readTree support for Bitbucket ... so that would have to be contributed separately first if you were to use UrlReader to implement this.

Barring that, you could contribute bitbucket support in the scaffolder by amending the `prepare` and `publish` folders accordingly. It may be the case that it's pretty much a matter of some copy-paste and light editing for the pre

[2020-12-03 20:45] freben commented on #3364
@keshann93 Assigned!

[2020-12-03 20:52] adamdmharvey opened #3556 "Collapsed sidebar shows scroll bar when window not full size"
With the sidebar collapsed (appearance pin sidebar is off), at full screen it looks fine. However, anything other than full screen shows me a scroll bar.

## Not full screen

![image](https://user-images.githubusercontent.com/33203301/101087041-af1d8c00-357f-11eb-8cfa-f1425bb8b001.png)

## Full Screen

![image](https://user-images.githubusercontent.com/33203301/101087008-a462f700-357f-11eb-8dc9-65

[2020-12-03 21:33] rlangfordBV opened #3557 "Public Container Images"
Is there a plan to release container images to docker hub for public consumption?

## Context

I want to get backstage up and running quickly in Kubernetes.  I don't want to build container images for it, I want to download a helm chart.  I've played with the example helm chart, but I'd really like a clean install.

[2020-12-03 21:53] andrewthauer opened #3558 "Techdocs Reader does rendering issues with mkdocs-material >= 5.5.0"
This is related to a discussion started on [discord](https://discord.com/channels/687207715902193673/714754240933003266/783644315099987969) about techdocs rendering issues with `mkdocs-material`. Seems to start occurring in version `5.5.5` and beyond.

## Expected Behavior

Pages rendered in backstage with the techdocs component display correctly for new versions of `mkdocs-material`

## Current B

[2020-12-04 00:35] regicsolutions commented on #3519
Yep, issue solved. Please close.

Thanks @dhenneke !

[2020-12-04 00:41] backjo commented on #683
@martina-if the Argo plugin looks awesome - would love to see it on NPM to make it more accessible!

A few thoughts:
- It'd be nice to have support for multiple ArgoCD instances. I know that some large organizations out there swimlane their ArgoCD instances by organization or environment - it'd be nice to be able to collect data from more than a single instance.
- It'd be nice to be able to associ

[2020-12-04 00:42] #3519 closed

[2020-12-04 01:49] backjo opened #3559 "Code source links should be decoupled from the Location of the Component"
When using a custom location, entities emitted from the custom location have the "View Source" link pointing to the target of the location, which is not the actual source code.
## Expected Behavior
The Location of the entity and the link to the source code should not be coupled. I'd expect that some well-known annotation would be able to provide this information, and that the relevant processors (

[2020-12-04 01:56] tradcliffe-expediagroup opened #3560 "Catalog: Make Catalog Table Headers Customizable"
Catalog table column headers are hard coded currently in the [open source Backstage](https://github.com/backstage/backstage/blob/master/plugins/catalog/src/components/CatalogTable/CatalogTable.tsx#L35-L66). If we want to make changes to these to align better with our companies metadata, we have to make changes in our copy of the open source catalog, which we want to avoid. So our request is to do

[2020-12-04 02:51] lykims commented on #3546
Hi! 👋
I'd like to work on this. This is also my first time contributing to `backstage`.

[2020-12-04 07:49] stefanalund commented on #3546
@lykims welcome to Backstage! I’ve have assigned you.

[2020-12-04 07:49] freben commented on #3546
Heh, I happened to poke at this a bit last night but it's not finished. I'd be happy for you to continue with it since I'll be busy elsewhere.

Here's my branch that you can keep working on https://github.com/backstage/backstage/tree/bitbucket-read-tree

[2020-12-04 07:52] freben commented on #3526
https://github.com/backstage/backstage/issues/3546 aims to add the readTree support

[2020-12-04 08:03] stefanalund commented on #3560
+1

Would you like me to assign you?

[2020-12-04 08:11] goober commented on #3526
A quick update. I have a working example running locally now. Currently there are some rough edges and I have not tested it with Bitbucket Cloud yet.

[2020-12-04 08:47] Fox32 commented on #1329
We are also interested into having multiple owners. Here is an inspiration from one of the Demo videos:

![image](https://user-images.githubusercontent.com/648527/101139048-3ff07800-3611-11eb-934d-fd628f8edf7f.png)

Now that the relationships and basic ownership is in place, we should have a look at this again. I wonder how such a feature can be implemented, some ideas:

### Having multiple distin

[2020-12-04 09:49] benjdlambert commented on #3526
Sorry just catching up with all this, as @freben mentioned #3546 is for the `BitBucket` support, but there's a lot of work coming up with the scaffolder over the next quarter or so which would include the refactor to start using the `readTree` functionality, which it currently does not.

There's an ongoing RFC here #2771 which collects a lot of thoughts for the new direction of the scaffolder.

[2020-12-04 09:52] benjdlambert commented on #3548
I might get some time on this today, I've currently got the scaffolder to work with github with cloning and pushing a scaffolded repository. Seems pretty easy to use and a little easier and cleaner than node-git.

[2020-12-04 10:43] Fox32 commented on #3300
I did some minor changes here: #3553 On top of the many requests, the plugin was executing them twice.

About the filtering: the used Jenkins NPM package support passing the `tree` parameter. I played a bit around with it. While it is possible to load all jobs & build in a single request (instead of doing a separate request each time) this solution has the disadvantage of loading a huge amount of

[2020-12-04 11:02] andrewthauer commented on #1519
The nice thing is adding new transports is already easily accomplished in a custom backend app by using `getRootLogger()` and adding it to as usual with `Winston`.

[2020-12-04 12:40] Rugvip commented on #3528
Yep!

Some options:

Classic bash, only for env vars:

[code]

Cookiecutter variable access

[code]

Cookiecutter function call

[code]

Would say that these are ordered in both increasing power and complexity.

A possibility with the function call style would be to deprecate and replace the existing `$env`, `$file`, `$data` keys in favor of

[code]

The place to implement all of this would likely

[2020-12-04 12:44] freben commented on #3528
I'd still give a bump for the `env:PORT` and `text:./ca.pem` format (within `{{}}` or `${}`, doesn't matter) as a middle ground that doesn't go full functions but leaves room both for env and urls and paths as the "parameter".

[2020-12-04 13:03] freben commented on #3548
Maybe "At most every 30 seconds", or similar, if some delay is ok for the sake of speed and less checking.

The internal techdocs has a caching proxy that is exercised regularly for all known sites right? Is such a scheme something that's on the radar for the future? Or even a reactive, event/webhoook driven rebuild process that only runs on merges and then the read pipe does no freshness check?

[2020-12-04 13:12] freben commented on #1329
For what it's worth, internally we have a variant of the second solution above. Groups have a number of extra attributes (in the actual backing systems - not just Backstage) - who's the `productManager`, `designOwner`, and `techOwner`. These map to a user, and are completely detached from the concept of being a member or not of the group. This is the data that we display in the screenshot.

[2020-12-04 13:12] Rugvip commented on #3528
@freben Yep, +1. The downside is that we don't get a clean way to pass parameters, but in case we really want to be able to mix in multiple pieces of data we can do that in the passed in string itself. Similar to how data works for catalog yamls with `my-file.yaml#myKey1.myKey2`.

Tbh I think `${}` is probably better, I suspect cookiecutter uses `{{}}` because that will generally lead to less esca

[2020-12-04 13:14] freben commented on #1329
I think that the input model does not necessarily have to map 1:1 to the output model, by the way. Even if we used our source data, we could still emit a `hasTechOwner` relation on each Component that is owned by the group with that `techOwner` attribute, if that was what the end result model turned out to be.

[2020-12-04 13:16] Rugvip commented on #3528
Silly observation: If we go with `{$env: MY_ENV}` we would be supporting our existing syntax as well 😅

[code]

[2020-12-04 13:18] Fox32 commented on #1329
Yeah, you are right. The models don't to match, we can rewrite that in a processor. So it's kind of a question about the internal model:
* Having separate relations `techOwnerOf`, `productOwnerOf` or
* Adding a responsibility to the metadata of the existing `ownerOf` relationship.

[2020-12-04 13:19] dhenneke commented on #3528
If we drop the old syntax, what happens if someone uses [$yaml or $json](https://backstage.io/docs/features/software-catalog/descriptor-format#substitutions-in-the-descriptor-format) in
[code]

[2020-12-04 13:19] Rugvip commented on #3528
Or not, realizing many yaml parses might not support plain `Token {$env: ASD}` or `Token ${env: ASD}` without wrapping in a string

[2020-12-04 13:20] Rugvip commented on #3528
@dhenneke `"bla [Object object]"` :grin:

[2020-12-04 13:22] Rugvip commented on #3528
@dhenneke But a valid concern for the less weird syntax as well, perhaps best to simply remove support for `$data` or to only allow it to resolve to strings

[2020-12-04 13:40] freben commented on #3535
Ultimately, I think we will have to make it possible for an org to choose how they do this mapping. As in, to inject actual code in the `backend` package that maps from the input data to an output identifier (or even to an entire entity out of the catalog, perhaps, if that can't be done uniformly by the framework).

[2020-12-04 14:21] freben commented on #3528
Yeah, I think that `${}` has a huge benefit in terms of not being in need of explicit quoting.

[code]

this works out of the box and is interpreted as the string "${something}". Any combinations of just `{}` at the start of the string immediately throws the parser off and starts trying to look at the contents as a sub-object instead.

[2020-12-04 14:47] freben commented on #3557
This is not planned at least in the near term.

What would you like to use this installation for? Mainly to get a feel for the interface?

The value and power of Backstage comes from its customisability and how things integrate. Building fixed frontend or backend images for it would provide very little value without the organisation in question adding their own data sources and configuration (whic

[2020-12-04 14:50] freben commented on #3547
If it helps at all, here is the beginnings of the bitbucket implementation - not finished, but maybe it can be helpful to look at the diff to get started

[2020-12-04 14:56] freben commented on #3559
Yep, this makes a lot of sense. Now that custom locations and processors are becoming more of a thing, this has reared its head.

It would probably be a new well-known annotation as you mention, next to the existing one.

[code]

and then these two would be the same, if it was sourced off of the latter one in the first place.

I may need to think about this some more, what the implications are. Wh

[2020-12-04 15:14] Rugvip commented on #3528
@freben `test: ${something}` is fine, but `test: ${some: thing}` is not, so would need to work around that if we want to support unquoted values.

[2020-12-04 15:15] freben commented on #3528
Oh wow, I didn't realise. That's annoying.

[2020-12-04 15:27] rlangfordBV commented on #3557
I want to use it the way that it sounds like Spotify uses it.  Setting up app scaffolding and service catalog-y things that our developers are asking for.  I want to run it in Kubernetes, and add config to it via `values.yaml` that gets sucked in the appropriate places(like a configmap) and passed to the container(s) when starting.

I want to use and administer it for multiple application teams wi

[2020-12-04 15:44] lykims commented on #3546
@freben Thank you for sharing! I'll take a look, and compare with what I have.

[2020-12-04 15:51] freben commented on #3557
Right. Yeah we use it by having a monorepo into which the entire org contributes various plugins and enhancements. This repo gets built and deployed by our CI/CD system just like any website/service is, so it's highly automated and driven by pull requests. The config is part of the code, so config changes get built and shipped as well. The "use case" and deployment of Backstage is owned and manage

[2020-12-04 15:51] nikek opened #3574 "`SidebarItem` with `onClick` renders an unaccessible `div`"
## Expected Behavior

I expect a `SidebarItem` that has an `onClick` on it, rather than a `to` prop, to be reachable with the keyboard.

## Current Behavior

Right now a `SidebarItem` is not reachable/focusable by tabbing on the keyboard.

## Possible Solution

Possibly change the `div` to a `button`.

## Steps to Reproduce

1. Spin up an instance of Backstage
2. To the Sidebar, add a `SidebarItem

[2020-12-04 15:57] freben commented on #3535
To be clear, I realise that that response wasn't particularly helpful to get this sorted out in the near term. I hope to gather some feedback and ideas and then see how we best address this question of how to form names for externally sourced entities. If you move ahead with some tweak or fix, do keep us in the loop.

[2020-12-04 15:58] freben commented on #3535
I'd like to understand this part. Do you have multiple users with the same email for example? Or how does this collision happen?

[2020-12-04 16:29] tradcliffe-expediagroup commented on #3560
Yes please Stefan!

[2020-12-04 16:30] Rugvip commented on #1519
Bunch of discussion on the metrics topic in #3512 that we shouldn't lose track of

[2020-12-04 17:53] rlangfordBV commented on #3557
Ok, maybe I just need to ask questions in Discord.  I think i'll make another request to provide a frontend `Dockerfile`.  I found the one for the backend, but a frontend file is not included when you pull the thing in via `npx` as described in [here](https://backstage.io/docs/getting-started/)

[2020-12-04 18:00] Rugvip commented on #3557
@rlangfordBV The frontend Dockerfile was actually removed, as we moved over to the frontend being served by the backend by default. The Dockerfile in this repo is still an example of how to Dockerize the frontend using a standalone image

[2020-12-04 18:10] backjo commented on #3559
It might also be worth considering the use case of  >1 source locations as well - for folks using GitOps, they often have second (or third) repositories to manage the deployment source.

[2020-12-04 18:12] rlangfordBV commented on #3557
@Rugvip,

Is there some updated documentation somewhere?  The example helm chart in the repo has separate containers, so I'm at a loss for what to do here.  I want to evaluate this tool because my co-workers are asking for it, but I'm struggling to get docker image(s).

[2020-12-04 18:17] OrkoHunter commented on #3548
@freben Yes! We don't recommend the TechDocs plugin to care about building docs, it can do no checks and will depend on the storage to read docs from.

In https://github.com/backstage/backstage/pull/3432/files#diff-4f66343e18ab461dbd20cff06f40423029316cfbb01b559d60b1dfda3a3281c6R38-R45, I am working on adding a config where users will depend on the repository's CI/CD pipeline to build docs and pub

[2020-12-04 18:22] freben commented on #3548
Makes sense!

[2020-12-04 18:36] freben commented on #3559
Hm. There is likely to be a primary resource to point to though, I hope. For a backend service we wouldn't want to point to individual source files either :)

Joking aside, what I mean is that we'll have to think about what the purpose is of this annotation. The primary driver so far sounded like being able to render links/buttons in the frontend. I wonder how much related info we would want to en

[2020-12-04 18:38] freben commented on #3557
There's the docs at https://backstage.io/docs/getting-started/ to begin with. We're happy to help out on Discord if there are gaps in there.

[2020-12-04 18:40] backjo commented on #3559
Hehe

Yeah, that makes sense. Probably worthy of it's own issue for discussion, separate from this one :)

[2020-12-04 18:42] Rugvip commented on #3557
@rlangfordBV also https://github.com/backstage/backstage/blob/master/packages/create-app/CHANGELOG.md#patch-changes-1 for the recent changes

[2020-12-04 18:44] rlangfordBV commented on #3557
@freben yes, that's what I've been using.  I can get the app going locally.  I need it in k8s to properly kick the tires, however.

[2020-12-04 18:58] backjo commented on #3535
We ended up doing this, through:
- A location-specific post-processor that changes the name.
- A custom auth provider that resolves the name (we needed the custom one anyway for our oidc proxy).

I think i misspoke about the duplicates - we had duplicates with the long name strategy, but on Groups, not Users. We had User duplicates on the shorter name strategy due to having multiple domains manage

[2020-12-04 19:11] Rugvip commented on #3548
Maybe a separate discussion but I've been wondering why TechDocs doesn't refresh docs upfront rather tha in the user request path? Periodically grabbing all entities with the annotation and checking if then need a refresh

[2020-12-04 19:13] freben commented on #3535
Cool that you found a way forward! Thanks for reporting the details of it. The system is pretty flexible. But we could make it easier and clearer for users because it's going to happen to others.

Would it make sense to you, if you used namespaces for the different domains? Then your components could be owned by `org1/group1` or `org2/group1`.

[2020-12-04 19:16] freben commented on #3548
That's essentially what the internal proxy does right? There's a little thing that just on a timer asks for all of the docs sites' landing pages and throws away the response. Or is that just for getting the (already generated) files out of the slower backing store?

[2020-12-04 19:43] rlangfordBV commented on #3304
So if you're facing this issue, what is the resolution?

[2020-12-04 19:57] rlangfordBV opened #3578 "Can't build backend docker container"
Can't build backend docker container

## Expected Behavior

A docker container is built

## Current Behavior

When running `yarn workspace backend build`, it prints the following

[code]

## Steps to Reproduce

[code]

## Your Environment

- NodeJS Version (v12): v14.15.1
- Operating System and Version (e.g. Ubuntu 14.04): macOS, Mojave (10.14.6)

I see this is also mentioned in issue [#3304], but

[2020-12-04 20:17] OrkoHunter opened #3579 "TechDocs: Show status of build process similar to scaffolder"
## Feature Suggestion

If TechDocs is configured to build docs, tell the user about the progress. Something like this

[code]

[code]

[code]

_and then docs will appear._

## Possible Implementation

Scaffolder creates a new job for each scaffolding process and then fetches the job status every second. Implement the feature here in a similar way.

Or perhaps, use web sockets?

## Context

As of n

[2020-12-04 21:09] adamdmharvey opened #3581 "Multiple entities incorrectly show to be registered from a sample catalog info YAML"
When launching Backstage using all of the out-of-the-box unmodified `Locations:` in the `app-config.yaml` which gives me sample entities, if I try to manually register a sample component which has the component name `backstage`, which is actually the same as one of the sample `websites` buried in the Location's YAML tree, the validation on the catalog import page somehow walks the tree of examples

[2020-12-04 21:40] freben commented on #3579
We'll probably end up doing significant work to build a little task coordination system for the new scaffolder. Looks like that may happen during Q1. This will be required to make it scale to multiple hosts.

This task is a great idea. Maybe our t goals overlap. Let's coordinate!

[2020-12-04 22:14] OrkoHunter commented on #3579
@freben Awesome to hear about the step towards a better approach. I'll be happy to help and/or follow closely.

[2020-12-05 09:42] Fox32 commented on #3581
I think we had something similar before. The reason why you get "all" entities is that they are all part of the bootstrap location.

[2020-12-05 09:50] freben commented on #3581
Oh, this is a bug in that feature. The outcome if you followed through should be that it rejects the registration because it would lead to a duplicate. If it doesn't, then that's another separate bug too :)

In my opinion, what your interface should have told you, is that you can't do that because there's already an entity with that kind+namespace+name and you need to either rename the new entity

[2020-12-05 09:51] freben commented on #3581
(Side note - we actually should reject unregistration of the bootstrap location as well, since it's part of the static config)

[2020-12-05 10:02] Fox32 commented on #3581
See #3398

[2020-12-06 06:15] omerlh opened #3586 "GitHub plugins should have the option of using a PAT stored in the backend"
## Feature Suggestion

Today, many GitHub plugins (like `RoadieHQ/backstage-plugin-github-pull-requests`) requires the user to login with GitHub for them to operate properly. This is while Backstage has support for GitHub integration with PAT.

I would like to use other authentication methods while keep using GitHub plugins - so I would like plugins to be able to use either the existing PAT or eve

[2020-12-06 08:10] OrkoHunter commented on #3586
Perhaps [@backstage/integration](https://github.com/backstage/backstage/tree/master/packages/integration) package can be used for this. [`integrations`](https://github.com/backstage/backstage/blob/b6aa734b2338837dce951cc449af3641d31e7e2f/app-config.yaml#L87-L91) in `app-config.yaml` looks to be the single source of truth for GitHub Personal Access Token.

[2020-12-06 08:15] omerlh opened #3587 "Failed to build docker images"
## Expected Behavior

Deploying a production instance of backstage should be simple

## Current Behavior

Not enough docs, after digging around I find that I probably should do something like:

[code]

From the root folder of the project.

This works fine on my local machine, but fail with a very unclear error in the CI:

[code]

Probably related to backstage/backstage#2994

## Possible Solution

[2020-12-06 12:32] dtuite commented on #3586
The GitHub Actions plugin in the main Backstage monorepo is probably an even better example. It would be great if a pattern could be established for other plugins to follow.

This potentially overlaps with plans to move to GitHub Apps in future?

[2020-12-06 13:19] dtuite opened #3590 "Kubernetes plugin is reading clusters config on the frontend"
The [KubernetesContent.tsx](https://github.com/backstage/backstage/blob/master/plugins/kubernetes/src/components/KubernetesContent/KubernetesContent.tsx#L112) file, which is part of the frontend of the Kuberentes plugin, reads cluster config directly from the `app-config.yaml` file.

[code]

This has at least two negative effects:

 1. It turns kubernetes config into a build time config. You have

[2020-12-06 13:23] dtuite opened #3591 "Registering existing component should link to the component"
When I add a new `catalog-info.yaml` file to Backstage, I find myself wanting to view the component. However, there is no button or link to the component in the catalog.

## Expected behaviour

The importer should link to the created component in the last step of the process.

## Current behaviour

![Screenshot 2020-12-06 at 11 54 22](https://user-images.githubusercontent.com/562403/101281287-1200

[2020-12-06 13:24] dtuite commented on #3591
This should have the Good First Issue label.

[2020-12-06 13:43] Rugvip commented on #3586
The PAT or tokens derived from GitHub App keys can't be accessed by the users directly, as they have a much broader scope than what the user is supposed to have access to in most scenarios. For this use-case we'd really need a backend that can properly filter requests based on what the user should have access to in GitHub. There may be some use-cases were we don't really need to filter things, lik

[2020-12-06 13:51] Rugvip commented on #3578
The `Generated an empty chunk: "index.d"` are warnings, afaik because the backend package doesn't export any types. I think we'll be able to get rid of them as part of #3153

The backend docker containers are for the time being build with `yarn backstage-cli backend:build-image`, which is usually run as a yarn script of the backend package with an additional `--build` flag.

Help screen for that c

[2020-12-06 14:24] andrewthauer commented on #3586
From my current understanding, using the existing `backstage/integrations` token will result in rate limiting (e.g. 5000 requests per hour) for the user that created the token (not GH logged in user). This would include all catalog refresh calls along with anything via a backend proxy accessed by the frontend. I think this would also potentially apply to GH apps, but I'm not sure on the details. W

[2020-12-06 14:40] andrewthauer commented on #3559
This could also apply even if the location is unique per entity as well. For instance, if you stored the catalog files somewhere from the source code or had an existing registry endpoint that was a unique per entity (rather then a bulk import).

I also ran into a similar case where defining the Component & API entities in a single catalog file means they are now coupled.  Unregistering one or the

[2020-12-06 14:50] Rugvip commented on #3586
@andrewthauer the `backstage/integrations` will move over to using GitHub Apps as well, PAT should only be for experimental setups long-term

[2020-12-06 14:57] andrewthauer commented on #3586
Curious, what will the backend would use for catalog refreshes, etc. in the case of GH apps? Afaik this scenario could also be affected by rate limiting for the user that owns the GH app.

[2020-12-06 15:07] Rugvip commented on #3586
@andrewthauer With GitHub apps the rate-limiting should hopefully be much less if an issue, since catalog refreshes will primarily be done in reaction to webhooks. I also think we have some opportunities to be a bit smarter about how catalog refreshes of individual entities are done, e.g. using data that already exists in the catalog to not do unnecessary work, instead of doing a full refresh and

[2020-12-06 17:19] andrewthauer commented on #3586
@Rugvip - For sure. Webhooks could definitely help, but could also make it worse depending on how frequent code is changing, etc. Caching and using existing data will likely be key.

[2020-12-06 17:43] omerlh opened #3593 "Kubernetes plugin should support in-cluster authentication"
## Feature Suggestion

Currently, the backend support 2 authentication method - by passing a service account or by using GCP auth.

Ideally, the backend should also support authentication method called "in-cluster" - read the service account token from the file system, as specified in the docs.

This is related to #3590

[2020-12-07 08:40] #3049 closed

[2020-12-07 09:05] hooloovooo commented on #3548
That could make sense. Don't know how it would scale to potentially thousands of entities though, but i guess even that is up to how often you check if a particular doc site it up to date.

[2020-12-07 09:18] Fox32 commented on #3586
We only refresh our catalog entries from GitHub once an hour as we would otherwise hit the rate limiting of PAT very quickly. While I think GitHub apps make this a bit better, there are still quotas and they aren't so much higher (12,500, factor 2.5). The key is really the event driven approach.

Beside that I think we should do as much as possible in the context of the current user to avoid using

[2020-12-07 09:30] Fox32 commented on #3591
Would also like if the "Next" button on the 2 step would be called "Register" or something like that. Because that's the critical point were something is changed.

[2020-12-07 10:49] hooloovooo opened #3598 "TechDocs dir preparer to use UrlReader if managed-by-location is url type"
A recent fix makes the TechDocs `dir` preparer use the git flow to download a repository if `managed-by-location` is set to `url`. This should be changed to use the `UrlReader` instead.

[2020-12-07 11:50] OrkoHunter commented on #3598
Possible reference https://github.com/backstage/backstage/pull/3589 ?

[2020-12-07 14:04] Fox32 commented on #3591
Nevermind, looks like it is already imported at that stage 😉 . Maybe we first perform a dry run instead? The old dialog supports that: https://github.com/backstage/backstage/blob/master/plugins/register-component/src/components/RegisterComponentPage/RegisterComponentPage.tsx#L90
We could show a preview and then offer the user to "Register" the location.

[2020-12-07 14:24] #3499 closed

[2020-12-07 15:49] #3550 closed

[2020-12-07 16:16] martina-if commented on #683
Thanks @backjo ! I opened some issues for those ideas :+1: [#1](https://github.com/RoadieHQ/backstage-plugin-argo-cd/issues/1) [#2](https://github.com/RoadieHQ/backstage-plugin-argo-cd/issues/2)

[2020-12-07 16:38] GoWind opened #3602 "custom log levels in HigherOrderOperation's `refreshAllLocations` method."
`refreshAllLocations` by default logs at `info`  and `warn` levels which is too noisy for our usecase. I believe that there is a case to allow customization of this behavior.

The  [CatalogBuilder](https://github.com/backstage/backstage/blob/master/plugins/catalog-backend/src/service/CatalogBuilder.ts), provides the logger used by the `DatabaseEntitiesCatalog` and the `HigherOrderOperations` insta

[2020-12-07 16:39] GoWind commented on #3602
If you think this issue has merit, I would like to take a shot at this task  and  submit a Pull Request to address this.

[2020-12-07 16:43] Rugvip commented on #3602
What do you think about adding a meta field to the logger used by `refreshAllLocations`? Then [this](https://github.com/winstonjs/winston#filtering-info-objects) can be used to filter them out or in general applying custom logic to those messages.

[2020-12-07 16:49] #3515 closed

[2020-12-07 17:04] GoWind commented on #3602
When you say a `meta` field to the logger, do you mean some sort of encapsulation of the `Logger` or an implementation of the interface that can use the field for conditional logging ?

I can use the `format` to filter out messages from the method, but I think it might be a little hacky as there is no guarantee that the message will not change. If I were to go this route, I would atleast suggest /

[2020-12-07 17:14] Rugvip commented on #3602
Something like this inside the catalog backend:

[code]

Which can then be filtered using a custom formatter for the root logger

[2020-12-07 17:47] GoWind commented on #3602
sounds like a good implementation idea. I will raise a PR with a `child` logger that can then be filtered out.

[2020-12-07 19:38] adamdmharvey opened #3607 "Connect repo with lgtm.com/Semmle for static code scanning (SAST)"
## Feature Suggestion

GitHub purchased https://lgtm.com/ / Semmle a while back, and offers it free to open source projects.  Recommend tying into that service.

I ran it manually and it found one error, three warnings, and two recommendations, including things like code paths that are unreachable, and other good stuff:

![image](https://user-images.githubusercontent.com/33203301/101396766-d1721b0

[2020-12-07 20:41] regicsolutions commented on #3557
Would be cool to have a Backstage package on [Artifact HUB](https://artifacthub.io/packages/search)

[2020-12-08 00:52] regicsolutions commented on #3428
@michaelsonnleitner were you able to get passed this error? I am running into the same error, using Node.JS 12.16.1 on Windows 10

[2020-12-08 01:41] regicsolutions commented on #3526
@goober that's great news! looking forward to this feature.

[2020-12-08 06:49] freben commented on #3428
The exact same with `print "%s.%s.%s"`?

Would you be able to try with python 2 instead of 3, eg using virtualenv?

[2020-12-08 09:29] freben commented on #3559
@andrewthauer Right, so the right action would have been to remove the line from the Location entity in that case, instead of unregistering. Maybe that's something we could clarify in messaging in the frontend because it is obviously not entirely clear for those that are starting out with Backstage.

[2020-12-08 09:31] freben commented on #1329
Yep. We're more and more starting to think in terms of the relations first. And then, the `spec` just "follows along" and is one of many ways for people to express things that ultimately end up being relations.

[2020-12-08 11:20] #3419 closed

[2020-12-08 11:20] #3421 closed

[2020-12-08 11:51] JacobValdemar commented on #3560
+1
Also something we could use :)

[2020-12-08 12:01] JacobValdemar commented on #3560
I think you should try to make sure it will be compatible with https://github.com/backstage/backstage/issues/3274, so you can also filter based on the headers :-)

[2020-12-08 12:28] Fox32 opened #3616 "Extend group entity with additional profile details"
## Feature Suggestion

Right now the group entity only has a basic `name` (technical) and a `description`, while the user also has a `profile` section containing `displayName`, `picture`, and `email`. These details can be displayed on the group entity page to provide some more details and contact options for a group. The picture and display name might also be used elsewhere to reference the group.

[2020-12-08 12:32] freben commented on #3616
Absolutely! This makes a lot of sense and has been asked for several times.

[2020-12-08 13:30] stefanalund commented on #2959
Looks like this is done.

[2020-12-08 13:30] #2959 closed

[2020-12-08 14:33] stefanalund opened #3618 "Search missing from newly created Apps"
## Feature Suggestion

Global search is a feature that's definitely interesting for anyone adopting Backstage, but it is missing from the default set of plugins when you create a new Backstage app.

## Possible Implementation

Should be similar to how "API docs" was added:

https://github.com/backstage/backstage/pull/3460/files

Ping @emmaindal

[2020-12-08 15:24] #3182 closed

[2020-12-08 18:09] andrewthauer commented on #3559
@freben - Yep, the behaviour makes sense, it's just not intuitive unless you understand the catalog model under the covers and how locations and entities are tied together.

[2020-12-08 20:26] Rugvip commented on #3587
Seems like it's a memory issue, as it's throwing `ENOMEM`. You could reduce the work that the CLI is attempting to do in parallel by setting `PARALLEL_ENV_VAR=1` in the env.

@andrewthauer, is this the issue or a similar one to what you were facing?

[2020-12-08 20:32] andrewthauer commented on #3587
Yep, seems like it. CircleCI boxes incorrectly report the number of CPU's so tasks like `terser` may fail on their default `medium` machines.

You could try setting this first in the CI environment:

[code]

If that doesn't help then try setting which will limit `terser` to 2 parallel build tasks. This has been working for us consistently for the past 2-3 months now.

[code]

[2020-12-08 20:35] Rugvip commented on #3560
@tradcliffe-expediagroup heads up that https://github.com/backstage/backstage/issues/3414 may affect this work. It may make it more straight-forward to implement but could also add some additional requirements. If unsure you could sync and discuss ideas in this issue or in a draft PR.

[2020-12-09 02:29] andrewthauer commented on #1519
For datadog metrics this well - https://github.com/DataDog/node-connect-datadog. I plugged this in by creating a `packages/backend/src/plugins/metrics.ts` file:

[code]

And then registered it with `addRouter` in `packages/backend/src/index.ts`.

[2020-12-09 04:23] adamdmharvey opened #3642 "Add edit button to Missing Annotation Page"
## Feature Suggestion

When a plugin isn't enabled, the Missing Annotation page is shown.  At the bottom of the example, a Read More button is available to go to the docs to show how to add the annotation. It would be great if this page also included an Edit button to go straight to the meta data to update it as well.

![image](https://user-images.githubusercontent.com/33203301/101584463-bb547f80-

[2020-12-09 05:32] adamdmharvey opened #3645 "Better error handling when TechDocs can't find Docker"
## Expected Behavior

A friendly error message is presented to the user if/when Docker isn't available to generate the docs tab on components.

## Current Behavior

When I have Docker running, the sample "documented-component" correctly displays:

![image](https://user-images.githubusercontent.com/33203301/101588824-38382700-39b5-11eb-8109-3e3f071bc46d.png)

However, when I shut down Docker, I jus

[2020-12-09 06:23] omerlh commented on #3587
Yep, it took my some time (the config file error was really confusing) but I figured this was it and fixed it.
Non the less, it might be good to have an example build / release pipeline

[2020-12-09 08:44] michaelsonnleitner commented on #3428
**i did following:**

see [https://spin.atomicobject.com/2019/03/27/node-gyp-windows/](https://spin.atomicobject.com/2019/03/27/node-gyp-windows/) (Punkt 2)

[code]

[2020-12-09 08:44] #3428 closed

[2020-12-09 09:09] Fox32 commented on #3642
Nice idea. We should take that we don't add too much to the empty state as it's already hard to use for smaller widgets. See #2827. But freben made some suggestion here that could resolve that issue: https://github.com/backstage/backstage/pull/3479#issuecomment-734920731

[2020-12-09 11:23] IliaGe commented on #3557
I'm joining the not so good experience over here...
All I want is to run 'helm install backstage' and have this software running .. but it's not possible :0
1 Chart in the repo configured with spotify dockerhub - which presents downloads.
1 Chart in the repo configured with someone private hub account :\

[2020-12-09 11:44] O5ten opened #3648 "Static location for processing a github-enterprise github-org not processed"
When using githubOrg-processor to process github-org type locations from the static `catalog.locations[]` the type github-org is not being processed properly.

## app-config.yaml
[code]

Also make sure you have the fix from https://github.com/backstage/backstage/pull/3647 to be able to target the for ingestion GHE at all.

It works when ingested as a Location component however with YAML such as th

[2020-12-09 11:54] andrewthauer commented on #2827
This seems to relate to #3217 as well. I've experimented with not using the default widget cards directly on the overview page. When it detects the plugin isn't applicable it displays a custom message instead which has a link to the full tab which has the full empty state component. This works around the scaling issue. But ideally, there was some built in support for both handling different views

[2020-12-09 12:03] andrewthauer commented on #3642
I like the good idea for a stock setup. However, I think #3217 is what is really needed to customize this in general for an organization. I'm finding many plugins require additional setup before adding an annotation will have any effect. So purely having a link to the `catalog-info.yaml` file may not always be intuitive regarding logical steps.

[2020-12-09 12:10] andrewthauer commented on #3587
@omerlh - Was the config error misleading in this context? I ended up contributing the `BACKSTAGE_CLI_BUILD_PARALLEL` fix a while back, but it was decided to keep it undocumented while it was being tried out. For us it's been working well, so maybe it's time to document it. @Rugvip - Where would be the best place to document this? Can we output environment variables in the CLI --help? I suspect it