[2020-08-31 08:20] althafh commented on #2148
Fair enough, thank you for the comments.

[2020-08-31 08:20] #2148 closed

[2020-08-31 08:30] lowjoel opened #2178 "Platform: Allow proper segregation of testing responsibilities for contributors and integrators"
## Context

(I'm bringing this to the top because of the terminology)

I am using the definition of Contributor and Integrator in the [Product FAQ](docs/FAQ.md).

In a set up as described, the Contributors do need to be able to assert that the version of the plugin they are releasing works well (in isolation, via unit tests), but also that the integrator has properly set up the infrastructure/skel

[2020-08-31 09:09] marcuseide opened #2179 "Create an EmptyState component for InfoCard and Tab"
Present an empty state component if a tab or an overview does not match any annotations for an entity.

Help app-developers/integrators to develop guidelines, instructions on how to get started with whatever is missing. A user is presented with some information referring to why the specific plugin/view is not displayed.

[2020-08-31 09:11] marcuseide opened #2180 "Document how to add plugins to the catalog"
This will probably be part of a longer story about the how to develop a plugin. For now, be distinct about how to connect a plugin to an entity.

[2020-08-31 09:27] marcuseide opened #2181 "Make sure that example software templates match the example-app"
Components that are created should include the correct annotations. Templates should include default annotations suitable for the templates purpose.
The default annotations in the template should match whatever logic is in the create-app.

When creating a new app with create-app, templates and app logic is the same.

[2020-08-31 09:28] Rugvip opened #2182 "Use automatic dependency injection for plugin-provided Utility APIs"
## Feature Suggestion

The [list of APIs in the app](https://github.com/spotify/backstage/blob/6d752757c2e2d6f9e6a2892cb5344e1b614a595d/packages/app/src/apis.ts#L86) is becoming pretty large, somewhat defeating the purpose of the clear wiring of the APIs. We initially choose a manual wiring of the APIs to avoid magic and making it more transparent how plugins are added to the app. We also knew tha

[2020-08-31 11:00] Rugvip commented on #2178
+1 for this. I think it makes sense to spawn a couple of issues from this, and keep this as the meta-issue of improving confidence in published plugins and deployments.

Some initial thoughts:

- https://github.com/spotify/backstage/issues/2182 should help out a bunch when it comes to avoiding broken plugins due to missing APIs, since the plugins will be providing the APIs themselves. In addition

[2020-08-31 12:30] #2009 closed

[2020-08-31 12:55] soapraj commented on #2119
@chrisisbeef Hi! I tried the create-app on the latest version and I do see the `packages/src/app/apis.ts` file created. Do you still see this issue?

[2020-08-31 13:11] #1853 closed

[2020-08-31 13:33] stefanalund commented on #2174
Thanks for the suggestions. We have discussed it in the team and decided that we are not going down this route. Closing the issue.

[2020-08-31 13:33] #2174 closed

[2020-08-31 13:51] Nek commented on #1858
@NetPenguins Actually, this sounds great! Please go forward with the changes.

[2020-08-31 14:23] FrailWords commented on #1846
I'd like to help with this if thats alright.  This would be my first time contributing to an open source project.

[2020-08-31 14:34] Rugvip opened #2191 "Documentation updates break master build but not PR build"
## Expected Behavior

When making a bad change to the documentation that breaks the master build, it should break PR builds as well

## Current Behavior

PR builds to not catch the breaking changes.

## Possible Solution

Make sure that the changes break the CI or Build Microsite build.

## Steps to Reproduce

Make a change to [mkdocs.yml](mkdocs.yml)

## Context

Green PR build: https://github.co

[2020-08-31 14:41] stefanalund commented on #260
This is now live (thanks @iain-b) https://backstage.io/plugins

More plugins are being added: https://github.com/spotify/backstage/pull/2192

[2020-08-31 14:41] #260 closed

[2020-08-31 15:04] Rugvip commented on #1565
@emmaindal You can install apps on user repos as well, so I'm expecting that we'll be able to support that. We should actually be able to better support user repos, since atm you can only scaffold projects to organizations, but this should change that.

This is high prio but I don't think we'll start working on it this sprint

[2020-08-31 21:51] shmidt-i opened #2200 "Refactor plugins to use the new routing API"
- [x] @backstage/plugin-circleci @shmidt-i
- [x] @backstage/plugin-explore @shmidt-i
- [x] @backstage/plugin-lighthouse @marcuseide
- [x] @backstage/plugin-sentry @muffix
- [x] @backstage/plugin-tech-radar @Rugvip
- [x] @backstage/plugin-graphiql @Rugvip
- [x] @backstage/plugin-techdocs @emmaindal
- [ ] ... other plugins

[2020-09-01 01:49] lowjoel commented on #2178
One thing I posted in the original [Discord thread](https://discord.com/channels/687207715902193673/687207715902193679/749803622719553665) which I don't think I carried over here is our intent to use [GitLab Review apps](https://docs.gitlab.com/ee/ci/review_apps/). That which allows us to set up ephemeral test environments, which gives us the ability to preview changes before it goes live.

In my

[2020-09-01 03:20] #2053 closed

[2020-09-01 07:04] marcuseide commented on #714
Hey, seems you can go ahead and work on this @alileza.

[2020-09-01 08:00] #2191 closed

[2020-09-01 09:15] #2039 closed

[2020-09-01 09:26] #2163 closed

[2020-09-01 10:08] stefanalund commented on #849
@javigomez when [this PR](https://github.com/spotify/backstage/pull/2076) lands it will be straight forward to add tools like Datadog to the Service Catalog.

Also noting that this is currently the top 👍 voted plugin in the community 😄

[2020-09-01 10:53] emmaindal commented on #1565
@Rugvip sounds good. Thanks for response!

[2020-09-01 13:20] nikek commented on #1964
Just an idea after reading this through. An alternative of having to manually write a relationship in the yaml in one "human friendly format" and query for it in a different could be an "entity yaml editor" in Backstage(and/or an IDE extension) that helps you with directly putting the trickier syntax into the yaml. An editor would help with autocompleting from existing entities and spit out the co

[2020-09-01 14:22] Rugvip commented on #1947
Gonna suggest that we settle on the following:

[code]

Parsing would look like this (not tested :grin:):

[code]

Or described with words:

The reason for skipping the `<kind>::<name>` format is that we're not 100% certain we'll actually want to keep namespaces long-term. It also removes a bit of clutter from the most commonly used relative references, which I'm assuming to be `<name>` and `<kind

[2020-09-01 14:57] Rugvip commented on #1947
aaaaaand revised version after some discussion with @freben:

[code]

Parsing would look like this (not tested :grin:):

[code]

Difference is that we use `/` as a delimited to make it more URL-like, which is actually what kubectl does too, e.g. `pod/proxy-7c5958c8fb-2ttdt`.

We also flip the namespace around to be first, which simplifies the parsing logic and makes the relative forms a bit more i

[2020-09-01 15:18] hooloovooo commented on #1947
Is it really desirable to make it URL like? IMHO it makes it harder to see what part in a URL refers to the component and what's just part of the URL structure. It would also make it harder to abbreviate it if using default namespace.

[2020-09-01 15:27] Rugvip commented on #1947
@hooloovooo  I was thinking we'd be comparing `namespace%3Akind%3Aname` and `namespace%2Fkind%2Fname` in that case, both of which are a bit shite. Found https://stackoverflow.com/questions/2053132/is-a-colon-safe-for-friendly-url-use#answer-14269897 though, which suggests that `:` is probably completely fine to use in URLs, even though they're intended to be encoded.

With that in mind I'd be very

[2020-09-01 15:30] Rugvip commented on #1947
Ah, https://stackoverflow.com/questions/1737575/are-colons-allowed-in-urls#answer-43283492 describes it well, so a relative link from `/catalog` to `component:backstage-frontend` would be broken, but it's fixed easily by using `./component:backstage-frontend`. That might actually be worth the hassle?

[2020-09-01 15:33] hooloovooo commented on #1947
If that's the only downside it seems like a nice solution. It would probably be quite easy to get a lint rule in place to check it as well.

[2020-09-01 15:46] ilyamkin opened #2217 "Primary color in theme is not in sync with Figma"
The primary color in the theme is not in sync with Figma.

## Expected Behavior

The color used for buttons, inputs, and other basic elements in Figma is #2E77D0 (UI / Blue).

## Current Behavior

The primary color defined in theme:
[code]

## Possible Solution

[code]

[2020-09-01 16:00] katz95 opened #2218 "Filter Component"
## 🗒 General

Would love some help building out this filter component for Storybook! Includes several different input options, including single select dropdown, multiselect dropdown, and nested subcategories. This filter is meant to be used with a full page [Table ](https://backstage.io/storybook/?path=/story/table--default-table)component.

![Filters hidden](https://user-images.githubusercontent.

[2020-09-01 16:04] katz95 opened #2219 "Chips"
## 🗒 General
Would love if someone could help us add chips to our Storybook. We've got two versions that differ by size. Functionality follows [Material-UI's chips](https://material-ui.com/components/chips/).

<img width="707" alt="Screenshot 2020-09-01 at 6 02 55 PM" src="https://user-images.githubusercontent.com/61153904/91876762-6357ff80-ec7d-11ea-8e27-a3de3ed385a3.png">

## 💻 Usage
These are m

[2020-09-01 16:08] freben commented on #1947
Possible caveat that one doesn't always control the url encoding. If you pass the raw identifier to any kind of URL builder, you can be sure that it will uriencode it and that will encode the colons whether you want it or not :)

[2020-09-01 16:14] ayshiff commented on #2219
Can I work on it ? 👍

[2020-09-01 16:34] freben commented on #1947
I just don't want to end up in a situation where it's unclear if we risk ending up with double encoding or double decoding.

[2020-09-01 16:38] Rugvip commented on #1947
With the current character set I don't think we're really gonna get in that situation right? Since we're not allowing `%` we can essentially decode until it's a noop. Or in a more sane way, always decode, and if it wasn't encoded that's no biggie.

[2020-09-01 17:07] freben commented on #1947
Believe me, that way lies madness :)

@hooloovooo for context, I am more and more leaning towards the idea that forming URLs, and forming identifiers to be typed by humans, are two fundamentally different problem spaces and should not be conflated at all.

I believe that we have two choices.

Either we pick a nice hand written format and use that verbatim in URLs too, and accept that this WILL mea

[2020-09-01 17:32] freben commented on #1947
For example:

https://kubernetes.io/docs/reference/generated/kubernetes-api/v1.19/#list-statefulset-v1-apps

Here's an example of how resource definitions work

https://docs.okd.io/3.10/admin_guide/custom_resource_definitions.html

[2020-09-01 19:25] stefanalund commented on #2219
Thanks @ayshiff

[2020-09-01 21:22] tudi2d commented on #2123
Hey. I would like to add this to storybook as a follow up to #2122 :)

[2020-09-01 22:48] Rugvip opened #2227 "Rename ProgressBar components to *Gauge"
https://github.com/spotify/backstage/blob/1812fd05e6cc27cb1c845020b422d6e82b330183/packages/core/src/components/ProgressBars/CircleProgress.tsx#L80 to `Gauge`

https://github.com/spotify/backstage/blob/1812fd05e6cc27cb1c845020b422d6e82b330183/packages/core/src/components/ProgressBars/HorizontalProgress.tsx#L31 to `LinearGauge`

https://github.com/spotify/backstage/blob/1812fd05e6cc27cb1c845020b422

[2020-09-01 22:54] Rugvip commented on #1947
I know, that's why I also proposed a sane way :p

[2020-09-02 05:52] #2122 closed

[2020-09-02 06:27] freben commented on #2227
Sure!

[2020-09-02 06:40] stefanalund opened #2233 "Upgrade Storybook to version 6"
We are currently on 5.x.: https://github.com/spotify/backstage/tree/master/packages/storybook

https://medium.com/storybookjs/storybook-6-migration-guide-200346241bb5

[2020-09-02 07:30] stefanalund commented on #2217
@katz95 could you help here?

[2020-09-02 07:45] stefanalund commented on #2179
Adding some prior art from Spotify's internal version. Something that we may want to reuse is the pattern of placing empty-state information directly on the page background vs all other information being wrapped in an `<InfoCard>`. This creates a clear distinction for empty-states:

![Screenshot 2020-09-02 at 09 10 12](https://user-images.githubusercontent.com/190856/91950435-ac9d6300-ed00-11ea-8e

[2020-09-02 07:49] stefanalund commented on #2227
I'm +1 for renaming this component but -1 on *Gauge. It's not a word that is familiar to me.

Suggestion: *Loading or *LoadingIndicator

[2020-09-02 07:51] freben commented on #2227
But it's not loading things in general right? It's more like "you are 20% done with this task" or "you are 70% cost efficient" - things that you gauge. The word itself I think is well fitting (and commonly used in this kind of scenario).

[2020-09-02 07:52] Rugvip commented on #2227
But it's never used as a loading indicator 😅 ?

Fwiw MUI want to add a Gauge component too: https://material-ui.com/discover-more/roadmap/#new-components

[2020-09-02 08:21] stefanalund commented on #2227
Ooooo I misread this. I (for some unclear reason) thought you wanted to rename the `Progress` component.

I'm 👍 on this 😃

[2020-09-02 08:23] stefanalund commented on #2123
Thank you @tudi2d -- I've assigned you 🙏

[2020-09-02 08:29] Rugvip commented on #2227
@stefanalund That confusion is exactly why I want to rename 😁

[2020-09-02 08:42] stefanalund commented on #2227
![](https://images.rapgenius.com/90b4eccea26efa04418bf71a75604e4e.450x254x18.gif)

[2020-09-02 09:16] #1801 closed

[2020-09-02 09:18] #1843 closed

[2020-09-02 12:01] NetPenguins opened #2238 "Change ExpansionPanel to Accordion"
Material-UI has changed their naming of `ExpansionPanel` to `Accordion`. This change was made to keep in consistent with what Devs are most used to seeing. The translation is 1:1 just a simple name change.

https://material-ui.com/api/expansion-panel/

[2020-09-02 12:57] stefanalund opened #2243 "[RFC] Golden Path to plugin development"
# Need

While our [documentation](https://backstage.io/docs) is slowly getting better, there is a need for a more step-by-step tutorial that guides a new plugin developer through the full process of building a shipping a plugin. Inside Spotify we call these tutorials Golden Paths:

https://engineering.atspotify.com/2020/08/17/how-we-use-golden-paths-to-solve-fragmentation-in-our-software-ecosystem

[2020-09-02 13:32] OrkoHunter opened #2244 "Add a lint rule to avoid using __dirname"
## Feature Suggestion

It is recommended to use the `resolvePackagePath` in `@backstage/backend-common` package instead of doing a custom path resolution using `__dirname`. See https://github.com/spotify/backstage/pull/2237 for example.

## Possible Implementation

Add an ESLint rule which disallows using `__dirname`. (Maybe give a warning with the message about `resolvePackagePath`?)

## Context

[2020-09-02 13:47] katz95 opened #2245 "Fix banner component"
## 🗒 General

Hi! Would love if someone could help us update our DismissableBanners component. Currently, the banner appears at the top, and the colors don't pass accessibility standards. We'd love for the banner to show at the bottom (20px above the bottom).
![Banners](https://user-images.githubusercontent.com/61153904/91991348-15053800-ed33-11ea-96ab-bd95874b674c.png)

![Example 1](https://user-

[2020-09-02 14:05] Rugvip commented on #2245
@katz95 You're thinking a `fixed` position to always show at the bottom of the page?

Right now it's up to the dev to position the banner, it shows up wherever it's added to the UI. Would it make sense to keep that option but allow for a `fixed` property or something like that?

[2020-09-02 14:12] katz95 commented on #2245
Yes, that makes sense! @Rugvip

[2020-09-02 16:00] mclarke47 commented on #632
I'm going to try to lay the foundations for this in the next week or so, in line with https://github.com/spotify/backstage/issues/632#issuecomment-658172675

[2020-09-03 05:23] mfrinnstrom opened #2254 "Unable to ingest from Azure git repos"
I tried ingesting a template from a private Azure git repo but got an error. After some investigation it seems that the generated URL doesn't correspond with what is in the Azure docs.

## Expected Behavior
As per [this](https://docs.microsoft.com/en-us/rest/api/azure/devops/git/items/get?view=azure-devops-rest-6.0) documentation the URL should be in the following format:

`GET https://dev.azure.c

[2020-09-03 06:42] stefanalund commented on #2238
@NetPenguins do you want to submit a PR for these changes?

[2020-09-03 06:55] stefanalund opened #2256 "[Plugin] AWS CodePipeline"
## Summary

This plugin would visualise builds and other CI/CD information from your AWS CodePipeline project.

## Project website (if applicable)

https://aws.amazon.com/codepipeline/

## Context

The existing CircleCI plugin can be used for inspiration:

https://github.com/spotify/backstage/tree/master/plugins/circleci

![](https://github.com/spotify/backstage/raw/master/plugins/circleci/src/ass

[2020-09-03 07:23] muffix opened #2257 "[Service catalogue] Sentry integration showing no issues or only mock data"
## Expected Behavior

When using the Sentry plugin, I expect to see the issues related to the selected component in the service catalogue.
In the case that we don't know the Sentry project key for the component, I expect the Sentry widget to not show.

## Current Behavior

Currently, with the Sentry plugin installed, we always show the widget. If the plugin isn't configured, it shows mock data for

[2020-09-03 07:27] freben commented on #2254
Hi, and thanks for reporting.

I am not familiar with the Azure APIs and offerings myself, but [commented on the original PR](https://github.com/spotify/backstage/pull/2081#discussion_r476437869) for this that it looked like it implemented one of several providers. And indeed, the [tfvc API docs](https://docs.microsoft.com/en-us/rest/api/azure/devops/tfvc/items/get?view=azure-devops-rest-6.0) do l

[2020-09-03 07:56] mfrinnstrom commented on #2254
Hello,

The link for a file when browsing a git repo in the browser is the following:

`https://dev.azure.com/{organization}/{project}/_git/{reponame}?path={path}`

So it seems to be the same which will make it a bit more work I guess.

[2020-09-03 07:56] kingasieminiak opened #2259 "Enable usage of OAuth2 provider in frontend"
There are two limitations in the current implementation of [OAuth2](https://github.com/spotify/backstage/blob/master/packages/core-api/src/apis/implementations/auth/oauth2/OAuth2.ts) provider used by the client:
- incompatible type of `oauth2ApiRef` (missing `BackstageIdentityApi` in type definition) causes type check error;
- an array of `defaultScopes` is set for `RefreshingAuthSessionManager` w

[2020-09-03 08:05] Rugvip commented on #1839
Hi @taras! After a lot of deliberation we've arrived at wanting to move forward with Changesets. :grin:

I know it was a long time since you opened the issue, but if you're still happy to help setting it up that would be awesome!

We're also planning to move away from our `.alpha` prereleases, and start properly using semver instead, although we still want to keep versions between all packages in

[2020-09-03 08:11] #2068 closed

[2020-09-03 08:12] freben commented on #2254
OK, thanks for checking.

It would be interesting to see if one of them happens to have a fallback to the other :) Like if @o-farooq used the _git version of the API and it still worked for the TFS repo. It does look like kind of a generic form.

[2020-09-03 08:13] Rugvip commented on #2259
What are the use-cases for using the generic OAuth2 provider as a provider? Is it only sign-in or also usage inside the app?

Another change I could imagine is to remove the `oauth2ApiRef` and just export the generic `OAuth2` class. That way apps can create their own internal `ApiRef`s for whatever auth provider they're actually using, and use the `OAuth2` class as the implementation. Reasoning be

[2020-09-03 08:47] mfrinnstrom commented on #2254
I just tried creating a TFS repo and got the following URL in the browser:

`https://dev.azure.com/{organization}/{project}/_versionControl?path=%24%2F{reponame}%2F{path}`

I get the URLs from the address bar in the browser so they might be different if you are copying from Visual Studio or something like that. I have never really used TFS either so I can't say if I'm doing something wrong when it

[2020-09-03 08:52] emmaindal opened #2262 "Extend the already existing template(s) (start with react ssr template) to include Documentation."

[2020-09-03 09:16] freben commented on #2254
Oh OK, interesting - so that's indeed different to the format that @o-farooq made support for.

Would you be able to change the existing plugin (frontend and backend) to support these effectively THREE url formats, and then pick the API to use based on those URLs and possibly some extra API call? I would like to keep the momentum and getting it improved, but since we aren't azure users ourselves i

[2020-09-03 09:17] freben commented on #2254
I added two more labels to the issue in the mean time.

[2020-09-03 09:20] #2262 closed

[2020-09-03 10:37] taras commented on #1839
@Rugvip cool :) I'll be happy get this setup for you. I'll get my mind back into it later this week.

[2020-09-03 11:06] mfrinnstrom commented on #2254
I will try and make some time to update it tomorrow.

[2020-09-03 12:00] o-farooq commented on #2254
I was using the _git version for the git repo. did not try it with TFS.
used this API to get the file contents [Azure API](https://docs.microsoft.com/en-us/rest/api/azure/devops/build/source%20providers/get%20file%20contents?view=azure-devops-rest-6.0). this supports external repositories supported by Azure Devops as well llike Github, Bitbucket etc which are defined in Azure devops. but my primar

[2020-09-03 12:06] #1982 closed

[2020-09-03 12:17] o-farooq commented on #2254
@mfrinnstrom the input url from browser is same in your case except the branch name . interesting when first time you access the default master branch there is no branch name i-e no version in url

`https://dev.azure.com/{organization}/{project}/_git/{reponame}?path={path}` .

change the branch and come back to master again it will have version `https://dev.azure.com/{organization}/{project}/_git/

[2020-09-03 12:22] mfrinnstrom commented on #2254
Hey @o-farooq.

Thanks for looking into this again. I now see that I get a 401 response with the current URL. If I update the code to the one that I suggested it works though.
I'm new to Azure Devops to I might have missed something in my PAT. I have only selected Code (Read) for now.

[2020-09-03 12:30] freben commented on #2254
Thanks both of you. Let me know if I can be of assistance, but it would be great if we could make all of those possible URLs work "out of the box" so users can just paste whatever they have in their browser while looking at the file contents.

A perhaps useful analogy is when looking at a file on github, then both the regular browse view

`https://github.com/spotify/backstage/blob/master/catalog-i

[2020-09-03 12:34] shmidt-i opened #2266 "[catalog] 404 page when entity is not found"
Current implementation in plugins/catalog/src/hooks/useEntity is to redirect to catalog root if the entity is not found. This is not the pattern we want to have moving forward, instead we want to show a 404 page.

[2020-09-03 12:56] iain-b commented on #1988
Just relaying a screencast with some of the progress on this by @tomek-ifm. We're also planning to facilitate integration to the service catalog by allowing users specify which functions map to a particular service as an optional annotation.

https://www.loom.com/share/1f14f7c353354b51be5f5c8c9c6d87ec

[2020-09-03 13:04] mfrinnstrom commented on #2254
@o-farooq I see now that you use the Build API for getting the files. I don't have a build pipeline configured for my repo so that might be the reason that I can't download the files the current way.

[2020-09-03 13:08] o-farooq commented on #2254
awesome @mfrinnstrom . yes the API you suggested looks more Azure devops git native if it works then it is better than the source provider one i used which is more geared towards external repos. it is not build api though , it is just more generic version that support all providers in Azure . regarding 401 i faced the similar issue you need to give following two permissions to PAT Code (Read); Tok

[2020-09-03 13:15] stefanalund opened #2267 "About card edit improvements"
![Screenshot 2020-09-03 at 15 07 38](https://user-images.githubusercontent.com/190856/92119154-bc4ba300-edf7-11ea-8ac1-815aeed12783.png)

## Feature Suggestion

Clicking the Edit button today sends you to:

https://github.com/spotify/backstage/blob/master/packages/catalog-model/examples/petstore-api.yaml

Should be a "edit" URL so that you get to GitHub's edit UI directly:

https://github.com/spot

[2020-09-03 13:19] o-farooq commented on #2254
just tested, with source provider API the branch is a required parameter . whereas the API you suggested it is optional.
to support the default branch browser url which does not have branch in it the API you suggested is the way to go.
are you good to do the PR or I am happy to do it ?

[2020-09-03 13:20] shmidt-i commented on #2267
+ in the dev mode after running `mock-data` script you get the `file:` type of locations instead of `github:` and they are being handled incorrectly

[2020-09-03 13:21] mfrinnstrom commented on #2254
I tried adding the Tokens (Read & Manage) now then I got the following error.

`InputError: Failed to read location azure/api https://dev.azure.com/{organization}/{project}/_git/{repo}?path=%2Ftemplate.yaml, Error: https://dev.azure.com/{organization}/{project}/_git/{repo}?path=%2Ftemplate.yaml could not be read as https://dev.azure.com/{organization}/{project}/_apis/sourceProviders/TfsGit/filecon

[2020-09-03 13:23] o-farooq commented on #2254
the issue here is that the commitorbranch is undefined `https://dev.azure.com/{organization}/{project}/_apis/sourceProviders/TfsGit/filecontents?repository={repo}&commitOrBranch=undefined&path=/template.yaml&api-version=6.0-preview.1`

just append `&version=GBmaster` to your input url and it would work . this would prove the issue is missing branch and then we have to use the API you suggested

[2020-09-03 13:24] mfrinnstrom commented on #2254
Yes, I just tested and with the branch and the permission it works.

[2020-09-03 13:35] stefanalund opened #2269 "Always use lower case URLs"
Is it just me or does CamelCase URLs also hurt your eyes? 😬

![Screenshot 2020-09-03 at 15 31 08](https://user-images.githubusercontent.com/190856/92121616-c4f1a880-edfa-11ea-9c84-7688045cbef5.png)

## Solution

Change catalog URLs like:

http://localhost:3000/catalog/Component/searcher

to

http://localhost:3000/catalog/component/searcher

[2020-09-03 14:05] freben commented on #2119
Hey, this seems to be OK in master, so closing for now. Let us know if it still persists for you.

[2020-09-03 14:05] #2119 closed

[2020-09-03 14:13] o-farooq commented on #2254
thanks @mfrinnstrom for raising this, i have created the PR in which it should work without specifying the branch name, used the API you suggested

[2020-09-03 14:29] freben commented on #2269
This currently needs a tweak to the catalog backend to work out, since its API is case sensitive.

[2020-09-03 14:32] freben commented on #2269
This is related to #1947 , that wants to uniformly make kinds case insensitive in general.

[2020-09-03 14:35] freben commented on #2254
That's great - we do expect to be on a main/default branch since these types of files are expected to be continuously "integrated".

[2020-09-04 01:44] NetPenguins commented on #2238
Yea I'll have these open for #2172 alright to include in there?

[2020-09-04 04:43] mfrinnstrom commented on #2254
@o-farooq I just tested your branch and it works great! I could also reduce the permissions for the PAT to only Code (Read) again. Thank you for fixing this!

[2020-09-04 06:50] stefanalund commented on #2238
Sounds good! Thanks

[2020-09-04 07:38] dhenneke commented on #2200
I can help with the @backstage/plugin-api-docs. Let me know if I should prepare a PR.

The only thing that is unclear is how to best distinguish the two routers (root and catalog) since the plugin both can be integrated in the root app and in the service catalog, similar to the techdocs plugin.

[2020-09-04 07:44] shmidt-i commented on #2200
@dhenneke that would be super helpful! So from the perspective of plugin in your case it seems like you need to export 2 routers - one for standalone functionality, another one to be a part of catalog's entity page.

[2020-09-04 07:46] dhenneke commented on #2200
So the `plugin.ts` will setup the router for the plugin and the `Router.tsx` will setup the router for the catalog integration? I hope that will not lead to confusions in the future. But I will start with that.

[2020-09-04 07:52] shmidt-i commented on #2200
@dhenneke it's a bit confusing atm, you are correct here, we are in the middle of propagating the changes everywhere. But the idea is that we go away from registering routes inside `plugin.ts` and do it directly inside `App.tsx`, so from that perspective mounting the Router under catalog or on top level of the App makes a very little difference ;)

[2020-09-04 07:56] dhenneke commented on #2200
Okay. Unless you want different routes for different use cases :-). But that's open for future improvements.

[2020-09-04 07:58] shmidt-i commented on #2200
Agree, that's what I meant by exporting 2 different routers, one per use case 😀

[2020-09-04 09:38] #2254 closed

[2020-09-04 12:12] #2257 closed

[2020-09-04 12:17] #2123 closed

[2020-09-04 13:09] #626 closed

[2020-09-04 14:45] jibone commented on #1891
Hey, I'm trying to implement SAML login for backstage as our organization's identity provider supports SAML. I've submited a PR (still WIP) #2284 :)

[2020-09-04 16:17] timbonicus opened #2286 "Fake issue please ignore"
Nothing to see here.

[2020-09-04 16:17] #2286 closed

[2020-09-04 16:21] shmidt-i opened #2287 "backend: Mount all backend plugin routers under a common `/api` router"
Since #1986 was merged one can simply start full backstage instance by just starting the backend, which is imo very sweet 😃
But, some backend plugins that are missing 404 handler of their own are now showing 404 of the frontend, which is not desirable behavior in the most of the cases.
As a starting point - `plugin-proxy-backend` should really just give 404 of its own if something isn't there on `

[2020-09-04 18:04] freben commented on #2286
🤫

[2020-09-05 10:19] stefanalund opened #2292 "[RFC] Status API"
**Status:** Open for comments

## Need

The Backstage Software Catalog can be extended by building plugins. These additional plugins help manage and visualise different parts of software development process. Examples include CI plugins that show the ongoing builds, a security plugin that shows security vulnerabilities detected in a component, a monitoring plugin showing the health of a service, et

[2020-09-05 10:39] Rugvip commented on #2292
Initial thought of standardized interfaces for this would be that we put it at two levels: catalog schema, and frontend API.

The catalog schema would basically just be extensions in the form of either annotations, or perhaps a separate `status` field that we can allow plugins to feed information to, e.g.

[code]

Obviously ^ would not be written by hand put populated through catalog processors :g

[2020-09-06 18:00] #2233 closed

[2020-09-06 21:45] andrewthauer commented on #2200
I've updated the rollbar plugin in #2301

[2020-09-07 07:36] mfrinnstrom opened #2306 "Unable to add Azure example locations to app-config.yaml"
It seems adding Azure repos as example locations to the app-config.yaml is not working. It appears to be blocked by the CONFIG_KEY_PART_PATTERN. Since this is because of the slash (/) character I guess BitBucket examples will have the same problem.

## Expected Behavior
Being able to add config like the following:
[code]

## Current Behavior

I get the following error:
[code]

## Possible Solution

[2020-09-07 07:45] #2219 closed

[2020-09-07 07:50] Rugvip commented on #2200
Gonna look at migrating the tech-radar.

[2020-09-07 08:19] ayshiff commented on #2218
Can I grab this one ? 👍

[2020-09-07 08:23] freben commented on #2218
Sure! Assigned you.

[2020-09-07 09:05] freben commented on #2306
Hi!

Hm, that's unfortunate. @Rugvip would it be OK to add slashes to the allowed pattern? We use dots as level separators in compound keys, don't we?

Another solution would be if I changed the format of that section instead, so it's

[code]

or

[code]

the latter would actually be more in line with the similar `catalog.locations` config as well...

[2020-09-07 09:26] ebarriosjr opened #2309 "TO CATALOG button after creating new component does not work"
After the change to the new routing model the button on the pop up after creating a new component does not redirect anywhere.
## Expected Behavior
On clic it should take you to the new component catalog page

## Current Behavior
TO CATALOG link does nothing.

## Possible Solution
Update routing to point to backstage/catalog/Component/<ComponentName>

## Steps to Reproduce
Try clicking on the TO CA

[2020-09-07 11:21] timja opened #2311 "Scaffolder: Automatically add access to scaffolded repos"
## Feature Suggestion

Currently scaffolder doesn't explicitly add access to anyone when it creates a repository.
Only org owners / the owner of the PAT token (in the case of GitHub) will have access to it.

This doesn't scale very well.

Bring your own PAT isn't a good solution either as in many cases users won't have access to create repositories directly.

From our perspective it would be ideal

[2020-09-07 12:46] marcuseide commented on #2200
I'm taking a look at `lighthouse`

[2020-09-07 13:37] Rugvip commented on #2311
This is what the ownership selection looks like in our internal version of Backstage currently:

![create](https://user-images.githubusercontent.com/4984472/92393225-d7802080-f11f-11ea-8d99-9575eb88dfd0.png)

Agreed that this is very much needed, and likely ties into GitHub App integration as well

[2020-09-07 13:38] Rugvip commented on #2306
I'd say we should switch it to the `{ type, target }` format, same as `catalog.locations`, as you suggested.

Also ofc we should consider whether it's actually needed at all, given that you can provide static locations through `catalog.locations` now.

[2020-09-07 13:41] Rugvip commented on #2287
Repurposing this as the ticket to switch to using `/api` route, as that'll be a solution to the original issue.

Regarding the `/proxy` endpoint, I think we should mount it at `/api/proxy` like all other routes, that way the service discovery is much more straightforward, and we don't need separate handling of the proxy.

[2020-09-07 13:49] timja commented on #2200
Taking a look at Jenkins

[2020-09-07 21:34] shmidt-i commented on #2309
Thanks for reporting @ebarriosjr, I'm going to take a look 😉

[2020-09-08 06:05] mfrinnstrom commented on #2306
I have missed that you can use `catalog.locations`. I switched to that and it works even better for me. I wanted to have something to easily import some test repos during development.

I'm fine with closing this issue.

[2020-09-08 06:41] mijailr opened #2322 "Techdocs: Unclickable links"
## Expected Behavior

When serving the docs inside backstage, I want to click on links like edit and navigation links.

## Current Behavior

Some internal links doesn't work as expected. The href exists but it's not clickable.

<img width="1496" alt="Screen Shot 2020-09-08 at 01 45 00" src="https://user-images.githubusercontent.com/1911813/92442398-6ec39300-f175-11ea-9930-22f9a8150abe.png">

## Po

[2020-09-08 07:08] timja opened #2323 "TechDocs triggers vulnerable tags warnings in browser console"
## Expected Behavior

No browser warnings

## Current Behavior

Browser console when viewing techdocs shows:

vulnerable to XSS attacks. Please remove it from `allowedTags`.
Or, to disable this warning, add the `allowVulnerableTags` option
and ensure you are accounting for this risk.

<details>
<summary>Stacktrace</summary>

    at Reader (webpack-internal:///../../plugins/techdocs/src/reader/comp

[2020-09-08 07:08] timja commented on #2323
cc @emmaindal

[2020-09-08 07:17] mfrinnstrom commented on #2311
Hello,

I will just add some things that we have discussed when talking about implementing Backstage. Hopefully some of it will be relevant at least.

Our plan is to have each person connected to one team in the identity model. Then when creating a new component the owner will be that team. If a person should be able to belong to multiple teams I assume we will have something similar to what you s

[2020-09-08 07:59] emmaindal commented on #2323
@timja Thanks for reporting! 💯   My guess is that this warning is because we sanitize the html but allow the style tag to be able to use the generated styles from mkdocs. We will discuss this further!

[2020-09-08 08:00] shmidt-i opened #2324 "Precommit lint doesn't ignore create-app template"
There is currently an ignore rule for the template inside create-app package:
https://github.com/spotify/backstage/blob/2cd0904e3594fb73cef5dacdd382a9af26923615/packages/create-app/.eslintrc.js#L3

But it doesn't get picked up by precommit lint script, which causes errors due to `package.json` being a template (package.json.hbs)

## Expected Behavior
No lint checks inside create-app's template fol

[2020-09-08 08:07] Rugvip commented on #2324
Dammit, I was hoping for the "Possible Solution" section to be filled in! :grin:

Yeah it's annoying, I work around it using `--no-verify` atm. Afaik a proper fix would be to use `.eslintignore`, but last time I tried that they weren't being picked up properly.

[2020-09-08 10:09] shmidt-i commented on #1042
Solved by #2076

[2020-09-08 10:09] #1042 closed

[2020-09-08 13:47] mfrinnstrom commented on #2306
Closing this since it works with `catalog.locations`.

[2020-09-08 13:47] #2306 closed

[2020-09-08 13:59] katz95 commented on #2179
Attaching designs for empty states in various use cases.

You can access specs here: https://www.figma.com/community/file/850673348101741100

![Guide](https://user-images.githubusercontent.com/61153904/92486096-02d04180-f1ec-11ea-9dfd-fb93fcc13383.png)
![Empty Page](https://user-images.githubusercontent.com/61153904/92486108-05cb3200-f1ec-11ea-9992-6d39abc3fb37.png)
![Empty Table](https://user-ima

[2020-09-08 15:00] stefanalund commented on #2179
Thanks @katz95 --looks awesome. I'm removed you from being Assigned and thus open up the issue for someone that wants to help out 👍 (cc @ayshiff since you usually like these kinds of challenges 🙃 )

[2020-09-08 15:16] ayshiff commented on #2179
@stefanalund Yes of course ! If no one takes it before I finish #2218, I will take it 👍

[2020-09-08 15:16] emmaindal opened #2330 "TechDocs: Automatically rebuild documentation on updates"

[2020-09-08 16:51] #2182 closed

[2020-09-09 07:12] enricomeneghel commented on #598
Hi @javaniecampbell — any outcome to share since now? could I help?

[2020-09-09 08:49] #2217 closed

[2020-09-09 08:54] timja commented on #2200
Jenkins WIP: https://github.com/spotify/backstage/pull/2352

[2020-09-09 09:58] #2238 closed

[2020-09-09 09:59] freben commented on #2238
@NetPenguins We got this change in as part of us doing a run through our documentation and fixing up the experience. I hope that's OK with you, and you can just rebase on master to get all the Accordion goodness.

[2020-09-09 10:58] timja opened #2362 "Add release notes for each version"
## Feature Suggestion

## Possible Implementation

https://github.com/release-drafter/release-drafter is a great hands off way to do this, just add a github action, some config and label PRs as they are merged (or after), and then publish the release notes after tagging

Examples: https://github.com/jenkinsci/plugin-installation-manager-tool/releases/tag/plugin-management-parent-pom-2.0.0 https://

[2020-09-09 11:01] Rugvip commented on #2362
Duplicate of #1839 😅 , alright with closing this?

[2020-09-09 11:04] timja commented on #2362
ah yup

[2020-09-09 11:04] #2362 closed

[2020-09-09 11:21] timja opened #2364 "Scaffolding broken"
## Expected Behavior

It works

## Current Behavior

White screen

I've tried both docs and spring boot templates, same issue

<details>
<summary>Logs</summary>

react_devtools_backend.js:2273 Warning: React.createElement: type is invalid -- expected a string (for built-in components) or a class/function (for composite components) but got: undefined. You likely forgot to export your component from

[2020-09-09 12:37] OrkoHunter opened #2367 "Design: Low visibility/contrast in sidebar on backstage.io/docs"
## Expected Behavior

The sidebar on the Backstage docs page should have a clear visibility of the sections and subsections (contrast and font size).

## Current Behavior

It is currently hard to read the sidebar on the docs page. See screenshot.

![low_visibility](https://user-images.githubusercontent.com/8065913/92597793-2b1d7600-f2a8-11ea-98ef-8421a9035f73.png)

## Possible Solution

We can tak

[2020-09-09 12:52] Rugvip opened #2369 "e2e-test: convert into a more usable standalone tool with granular selection of steps"
## Feature Suggestion

Convert the e2e-test package into a CLI with options to run various tasks. The initial split would be to allow the test repo setup to be run separately from the test suite, allowing it to be used as a utility for manual tests as well. With that split in place we can then also look into adding more comprehensive test suites, to run for example as part of nightly tests.

## Po

[2020-09-09 12:58] #2309 closed

[2020-09-09 13:27] dtuite commented on #2292
The screenshot looks awesome. IMO some amazing Backstage power could be unlocked by this.

The main thought I have is that I would like to be able to create my own view into the catalog, with multiple columns each representing a status from a different plugin. For example, imagine I am on the security team, I might want to create a catalog table which shows the service name, the owner, the date it

[2020-09-09 14:05] #2330 closed

[2020-09-09 14:08] muffix opened #2372 "[scaffolder, scaffolder-backend] GitLab support"
## Feature Suggestion

The Scaffolder plugin currently supports only GitHub as the output platform. I'd like to see support for GitLab.

## Possible Implementation

We'd need to add a preparer and a publisher for GitLab (see [the documentation](https://backstage.io/docs/features/software-templates/extending/extending-index)).

## Context

I'm happy to put in a PR for a GitLab preparer and publishe

[2020-09-09 14:46] taras opened #2376 "80,000 records created in location_update_log table in few days"
![](https://i.imgflip.com/4ectc3.jpg)

I deployed alpha20 and later upgraded to alpha21 to Heroku. I created a separate PostgreSQL database for each plugin.
1 day later I got a notification from Heroku saying that I'm exceeding Hobby limits of 10,000 records.

![image](https://user-images.githubusercontent.com/74687/92613210-b424b500-f288-11ea-8448-aefcd69f2b37.png)

## Expected Behavior

To be ab

[2020-09-09 14:53] freben commented on #2364
Attempting to reproduce.

Starting on latest master of the main repo.

- Start the frontend and backend.
- Press the plus button on the catalog table, to add some example templates
- Select the Spring Boot gRPC Template
- Fill in bogus values, press Next, fill in bogus values, press Next, press Create
- See network requests being made to the backend, see progress dialog pop up with the log progres

[2020-09-09 14:56] timja commented on #2364
I didn't get that far, I clicked review and create and it failed for me

[2020-09-09 15:00] freben commented on #2364
Odd. And is this in the main repo, on latest master, having run yarn install?

What browser and OS are you on? No particular output on the console or the network tab that seems related?

[2020-09-09 15:03] timja commented on #2364
yes main repo, latest master when I reported it.

browser chrome, os mac

Logs are in the issue under 'logs'

[2020-09-09 15:49] stefanalund commented on #2372
@muffix thanks -- adding this to the "Production" milestone.

[2020-09-09 15:52] freben commented on #2376
It kind of is, in the current state of the code, but maybe we should have a default limit on that table... The refreshes happen in a fairly frequent loop now. I'll have to look into it tomorrow because the day has ended over here. Maybe you would like to contribute a cleanup task that cuts off the log table per-entity to like the last ten entries or something?

[2020-09-09 15:54] Rugvip commented on #2376
Could we skip adding entries for successful updates that don't change anything? :> Assuming that's the case atm given the size

[2020-09-09 15:57] taras commented on #2376
@Rugvip yes, it's writing more information than is useful.

[2020-09-09 15:59] Rugvip commented on #2376
Tbh I'd be all for just keeping just the current state of locations at this point.

[2020-09-09 16:11] taras commented on #1839
@Rugvip I'm finishing my initial deployment of Backstage today. Once I do, I'll work on this. Probably later this week.

[2020-09-09 16:19] taras commented on #1839
https://github.com/release-drafter/release-drafter is interesting because it creates a GitHub release. We might want to create a release when we actually publish versions of the package. I'll look into this as a follow-up.

[2020-09-09 17:58] BROGVOIDOVO commented on #2311
When do we get paid

[2020-09-09 18:07] taras commented on #413
@Rugvip is there an example repo that's using Auth0 provider?

[2020-09-09 18:13] Rugvip commented on #413
@taras not that I'm aware of. Best bet would be to ask on Discord and perhaps see if any of the authors of the provider are around

[2020-09-09 18:24] taras opened #2384 "Scaffolder plugin should read GitHub PAT from config"
## Motivation

I deployed an instance using auth21, figured out how to get cookiecutter installed but I got "Requires authentication" error which is rather cryptic. Then I peeked into the generated Scaffold plugin and found that it was using an environment variable [here](https://github.com/spotify/backstage/blob/2a4407ccc1158afffc934ebe8d6cc1f030eb9097/packages/create-app/templates/default-app/pa

[2020-09-09 18:46] Rugvip commented on #2384
Fwiw the proper docs for setting up the scaffolder are at https://backstage.io/docs/features/software-templates/installation
They do mention the env var, but it should definitely be switched out to be read from config.

We will be consolidating the different repo reading strategies in the future, but for now it's probably best to stick to `scaffolder.github.token`.

[2020-09-09 18:55] taras commented on #2384
@Rugvip do you want me to create a PR that changes docs and code to use `scaffolder.github.token`?

[2020-09-09 19:29] timja commented on #2364
Works now after pulling latest master

[2020-09-09 19:29] #2364 closed

[2020-09-09 19:59] taras opened #2386 "Scaffolder's GitHub client requires an admin user"
I'm trying to setup Backstage for one of the organizations that I work with. It's a big company and very few users have admin permissions. I wanted to do some internal demos of the scaffolder plugin. Followed instructions on the [official installation page](https://backstage.io/docs/features/software-templates/installation#runtime-dependencies) to create a PAT with `repo` permissions. I configured

[2020-09-09 21:04] Rugvip commented on #2386
#1565 is really the way forward here. For now a workaround is to create a separate demo org.

A bit confused about why `repo` scope isn't enough though, I'd imagine that's a org-wide setting that limits the creation of repos? Or maybe repo is enough, but your user needs admin access.

[2020-09-09 21:08] timja commented on #2386
I expect it’s the user can create repositories option which will be disabled on your org

[2020-09-09 23:04] mijailr commented on #1557
Any update to this?

[2020-09-10 05:23] freben commented on #1557
@mijailr The app-config can now contain:

- `catalog.locations` for fixed static locations that shall always be populated. This can be used in production, e.g. for master locations that centrally control the list of software templates available in the org, but it can also be added to an `app-config.development.yaml` so that you get a set of test files registered as part of your dev flow.
- `catalo

[2020-09-10 06:31] stefanalund opened #2389 "[bug] Handle TechDocs missing more gracefully"
## Expected Behavior

If TechDocs is missing for a component I expect to get a more helpful error/warning message.

Also, this URL looks really weird to me: `http://localhost:3000/docs/Component::searcher`. Should there really be `::` in the path?

## Current Behavior

Clicking a TechDocs link when About card "crashes" rendering...

![Screenshot 2020-09-10 at 08 26 19](https://user-images.githubus

[2020-09-10 06:31] stefanalund commented on #2389
@emmaindal @OrkoHunter

[2020-09-10 06:53] mcalus3 commented on #2200
Can these plugins be ran independently now (`yarn start` from the plugin folder)? When I try it, I see the '404' page and I can't navigate to the plugin. Will local development of plugins that way still be possible? I'm also asking, because I don't understand how `entity` object could be read if it's not passed as a prop from the catalog router. Or maybe the only way for the local development is t

[2020-09-10 06:56] muffix commented on #2372
So for the first step, I'd then follow the

[2020-09-10 07:05] muffix commented on #2372
Thanks @stefanalund 🙌
So for the first step, I'd then follow what the GitHub implementation does and assume that the token supplied has permissions to create repo anywhere specified by the user. We'd need to look at access control in a later PR.

[2020-09-10 07:07] stefanalund commented on #2372
@benjdlambert please comment on the suggestion above.

@muffix should I assign you to this issue? Otherwise I'll add a [help-wanted] label to it.

[2020-09-10 07:09] muffix commented on #2372
Yeah, happy to take it. 👍

[2020-09-10 07:41] Rugvip commented on #2200
@mcalus3 Yep, looks broken right now. We do still want to support isolated plugin development, gonna look for a fix!

Regarding entities the way forward for local development will most likely be to have to mock the entities. It's possible we could provide some base entities to extend as a part of `dev-utils` though, but nothing decided there yet.

[2020-09-10 07:53] stefanalund opened #2391 "Remove alpha label from catalog version API"
The current [entity descriptor](https://backstage.io/docs/features/software-catalog/descriptor-format) `apiVersion` is set to `backstage.io/v1alpha1`.

While the API is in alpha, adopters of Backstage are cautious with starting the process of adding these YAML files into repos across their organisations.

This issue is meant to track the progress towards stabilising the API and remove the alpha la

[2020-09-10 09:57] tkrop opened #2397 "Support client secret rotation for oauth providers, proxies, and gateways"
Currently, backstage has the convention to configure client secrets, e.g. for auth-providers, via the `app-config.yaml`, which is loaded only once at application startup. Since Zalando supports for security reasons automated rotation of (service) client secrets, we need to find a way to reconfigure auth-providers, regularly with new client secrets.

## Feature Suggestion
Support rotation of client

[2020-09-10 10:05] #2322 closed

[2020-09-10 10:55] timja opened #2399 "TechDocs: Links just look like text"
## Expected Behavior

Links are obvious

## Current Behavior

Links just look like text
![image](https://user-images.githubusercontent.com/21194782/92720356-64172280-f35c-11ea-9fd3-6287835329ad.png)

cc @emmaindal

## Possible Solution

Style it

## Steps to Reproduce

Add a link inside your static site.

1. Step 1
2. Step 2
3. ...

## Context

## Your Environment

- NodeJS Version (v12):
- Operat

[2020-09-10 11:30] taras commented on #2386
me too

the weird thing is that i can create repos via UI.

do you have any timeline for #1565?

[2020-09-10 12:12] taras commented on #2397
@tkrop have you considered allowing Kubernetes to take care of restarting pods when secrets change? There are several approaches for doing this,

1. https://github.com/pusher/wave - watches deployments & redeploys when secrets change
2. use readiness checks - check the validity of each secret in readiness checks, Kubernetes will check these every 10 seconds to figure out whether it needs to restar

[2020-09-10 12:28] OrkoHunter commented on #2054
#2395 was merged and so this issue is unblocked!

IMO [this image](https://github.com/spotify/backstage/blob/master/microsite/static/logo_assets/png/Backstage%20Identity_Assets_Artwork_RGB_04%20Icon_Teal.png) can be used as the logo. @iamrajiv you can go for it now!

[2020-09-10 12:33] #2389 closed

[2020-09-10 12:34] taras commented on #2386
This looks related https://github.com/octokit/octokit.net/issues/1812

[2020-09-10 12:39] muffix commented on #2372
For the token, I'll keep a close eye on #1565.

[2020-09-10 12:58] taras opened #2402 "Move "Getting Started" section from repo readme to backstage.io/docs/getting-started"
A new user reached out to me yesterday via Discord asking for help getting started with Backstage. I suggested that they read the docs. They said they did. I asked them what they were reading and they gave me a link to [Getting Started](https://backstage.io/docs/getting-started/index). I can see why they were confused.

## Expected Behavior

New users should start with the shortest path to underst

[2020-09-10 13:13] iamrajiv commented on #2054
@OrkoHunter There are spaces in filename of images in `logo_assets` folder. I would prefer spaces should be removed since in URL of images we have to replace all the spaces with its hex value i.e. `%20`.

[2020-09-10 13:15] OrkoHunter commented on #2054
It shouldn't be any problem I guess? We can try using `https://raw.githubusercontent.com/spotify/backstage/master/microsite/static/logo_assets/png/Backstage%20Identity_Assets_Artwork_RGB_04%20Icon_Teal.png` to link to the image.

[2020-09-10 13:19] iamrajiv commented on #2054
@OrkoHunter Yeah I have done the same in #2401.

[2020-09-10 13:41] johnson-jesse commented on #2402
I agree. I went down this same path only to discover the easier `npx @backstage/create-app` Though I have yet to get GitHub auth to work with this second approach.

[2020-09-10 13:44] Rugvip commented on #2402
The proper getting started entrypoint is here: https://github.com/spotify/backstage#getting-started
With the move to backstage.io/docs from GitHub, that wasn't carried along.

Repurposing this as an issue to move that section of the docs to the docs site :grin:

[2020-09-10 13:59] mcalus3 opened #2405 "Unreadable error message when trying to create a component from invalid backstage.yaml config file"
If in the default catalog file (backstage.yaml) exist any annotation that has value other than string, error occures during component creation. It's due to the architecture decision described here https://github.com/spotify/backstage/blob/master/docs/architecture-decisions/adr002-default-catalog-file-format.md.

![repro](https://user-images.githubusercontent.com/24685983/92741046-8b7ee700-f37e-11e

[2020-09-10 14:00] mcalus3 commented on #2405
If you decide that it's worth it, I can try to fix it and submit a PR :)

[2020-09-10 15:30] timja opened #2407 "Scaffolder isn't stateless - multiple replicas cause the UI to go funny"
## Expected Behavior

You can run multiple replicas of backstage backend and it won't matter which run traffic gets routed to

## Current Behavior

Backstage as a whole works, but the scaffolder component UI flickers as it's running.
If you look in the network tab of dev tools you see a mix between 404 and 200

## Possible Solution

Allow running the scaffolder as a job in k8s and store some data

[2020-09-10 15:56] tkrop commented on #2397
We have considered this carefully, however, we think, this is a very drastic and disruptive solution, that adds complexity by relying on orchestration of multiple services creating the risk of hard to predict failures during restarts. We think that such measurements should only be used as last resort. Besides, we are not aware of a single service in Zalando that requires restarts to rotate client

[2020-09-10 16:29] lelvisl opened #2410 "Can't pull spotify/backstage:latest"
Can't pull spotify/backstage:latest

## Expected Behavior

Container pulling

## Current Behavior

Error response from daemon: pull access denied for spotify/backstage, repository does not exist or may require 'docker login': denied: requested access to the resource is denied
## Possible Solution

Allow to pull image

## Steps to Reproduce

1. docker pull spotify/backstage:latest
2. Step 2
3. ...

[2020-09-10 16:29] lelvisl opened #2411 "Can't pull spotify/backstage:latest"
Can't pull spotify/backstage:latest

## Expected Behavior

Container pulling

## Current Behavior

Error response from daemon: pull access denied for spotify/backstage, repository does not exist or may require 'docker login': denied: requested access to the resource is denied
## Possible Solution

Allow to pull image

## Steps to Reproduce

1. docker pull spotify/backstage:latest

## Context

cant

[2020-09-10 16:30] #2410 closed

[2020-09-10 16:38] OrkoHunter commented on #2410
Duplicate of https://github.com/spotify/backstage/issues/2411

[2020-09-10 16:43] OrkoHunter commented on #2411
I don't think there is any `spotify/backstage` docker image to pull. Did you get this instruction from our documentation?

[2020-09-10 16:46] lelvisl commented on #2411
I look at https://github.com/spotify/backstage/blob/226c5488045d5bd6feed704bbf732af52fa0ea2b/install/kubernetes/app.yaml#L22

[2020-09-10 17:00] OrkoHunter commented on #2411
@Rugvip will know more about it. Looks like a Work in Progress. Probably, it's not published yet. 😅

[2020-09-10 17:30] freben commented on #2411
Hi! These are not publicly available images. Backstage does not have a one-size-fits-all build artifact. You are expected to make your own backstage project, customize config and write actual glue code to wire things up and fit your particular needs, then build your own images that you push to your own registry and finallu deploy using your own deployment routines.

We have gotten this question a

[2020-09-10 17:30] #2411 closed

[2020-09-10 17:32] freben commented on #2411
So to clarify, the instructions would have been correct if you had your systems pointing to `dockerregistry.yourcompanyname.com` and those images had been built and pushed there using your CI/CD pipelines, based off a code base in your own version control system.

[2020-09-10 18:24] taras commented on #2397
How do your services handle secret rotation now?

[2020-09-10 18:46] #2054 closed

[2020-09-10 18:55] taras commented on #2386
@Rugvip I think the problem is that the org allows creating Internal or Private projects - but current implementation to creating a public project. (I think)

[2020-09-10 19:00] Rugvip commented on #2386
Oh that sounds reasonable, either way it's likely that private/public repo is something you want to both be able to select and configure org-wide rules for. Again something GitHub apps can likely help out with 😅

[2020-09-10 19:02] timja commented on #2386
Agree that's most likely, I've set our org up with a non owner user and it works fine.

[2020-09-10 19:06] taras commented on #2386
I will create a PR that will fix this and read visibility from config.

🕺

[2020-09-10 21:17] iamrajiv commented on #2367
@OrkoHunter Can you give colour combination which suits best? The current t sidebar has three colour combination the main sidebar section has `#9e9e9e`, subsection have `#393939` and subsubsection have `#616161`. I think subsection and subsubsection should be updated to the same colour as that of section i.e. `#9e9e9e`. After updating, the sidebar will look like this
<img width="289" alt="Screensh

[2020-09-10 21:28] OrkoHunter commented on #2367
@iamrajiv Thanks for looking into it! Your suggestion looks like an improvement to me. I will defer to what @katz95 and @stefanalund have to say on this one. :)

IMO more can be done to differentiate "subsections" from "subsubsections". Perhaps increasing indentation padding or change in font size or both.

[2020-09-10 21:42] iamrajiv commented on #2367
@OrkoHunter Yeah, changing fonts and padding sounds good. Also, we can get some colour combination from https://www.spotify.com/ so that everything looks consistent. This section of https://www.spotify.com/ have a good colour combination
<img width="812" alt="Screenshot 2020-09-11 at 3 10 18 AM" src="https://user-images.githubusercontent.com/42106787/92811720-5608e680-f3dc-11ea-90b7-f164100651c6.p

[2020-09-10 23:03] gabemeola commented on #1378
May be related, but Typescript v4 may improve editing experience: https://devblogs.microsoft.com/typescript/announcing-typescript-4-0/#partial-editing-mode

[2020-09-10 23:13] OrkoHunter opened #2415 "Docs request: Getting started pages should setup one (easy) Auth method"
## Feature Suggestion

As of now, the [getting started flow in the documentation](https://backstage.io/docs/getting-started/) does not mention any way to set up Authentication. And so, when the users do `yarn start` and try choosing any Authentication method, they will get an obvious error (even with backend running). And the "out-of-the" box magic of backstage is affected by these errors.

## Pos

[2020-09-10 23:14] OrkoHunter commented on #2415
@soapraj What do you suggest? I can add a page on using GitHub as an example auth provider. Or if we already have some docs in the pipeline (e.g. Installation page says coming soon), then this can wait a few days. 😄

[2020-09-10 23:19] OrkoHunter commented on #2402
@johnson-jesse If you follow the steps [here](https://github.com/spotify/backstage/tree/master/plugins/auth-backend#github), you should be able to set up GitHub auth smoothly. 🥳
Created #2415 based to make this experience better.

[2020-09-10 23:28] OrkoHunter commented on #2389
I am curious about this as well.
@emmaindal @hooloovooo Can we easily change this URL to `/docs/Component/<component>`? Or is it somehow related to [this RFC - Uniform Entity Refs](https://github.com/spotify/backstage/issues/1947)? 🙇

[2020-09-10 23:53] OrkoHunter opened #2416 "Show a message if TechDocs page takes long time to load (first time visit)"
## Feature Suggestion

We now have TechDocs setup in out of the box Backstage! When we visit one of the component's docs for the first time, it could take up to 10 or more seconds to load the docs. This happens for the first time page visit only. Also the out-of-box setup is not optimised for speed yet.

10 seconds is a long time to wait and users might start wondering if the page is broken. So, i

[2020-09-11 05:20] harshilparmar commented on #2416
Can I take this issue ?

[2020-09-11 06:05] emmaindal commented on #2416
@harshilparmar Yess please do! I'll assign it to you. Thanks! 💯

[2020-09-11 06:33] tkrop commented on #2397
All services implement a compensating pattern. Usually the service either reads the secret directly from a memory mapped file on each request, or it reacts on authorization failures by re-reading the secret from the file and retrying the request.

[2020-09-11 06:54] freben commented on #2389
That RFC will be related, yes. We'll settle on something first, and then change all places as necessary after to make it consistent.

[2020-09-11 06:55] freben commented on #2389
And input is of course welcome!

[2020-09-11 07:30] OrkoHunter commented on #2389
Thanks for the clarification, @freben !

[2020-09-11 07:36] stefanalund commented on #2367
@iamrajiv not sure I think we should change the font. I would suggest using `#e4e4e4` for the main sections and then, as you say, `#9e9e9e` for the subsections and sub subsections.

[2020-09-11 07:48] #2402 closed

[2020-09-11 07:50] harshilparmar commented on #2416
@emmaindal  Thanks..Can you help me to setup.
I have done my installation as per [https://github.com/spotify/backstage/blob/master/CONTRIBUTING.md](url),but still it gives me blank page on this http://localhost:3000/docs using guest login.

Steps I had followed
1) yarn install
2) yarn start
3) cd packages/backend
4) yarn lerna run mock-data

Please correct me If I have done something wrong.

[2020-09-11 08:14] emmaindal commented on #2416
Did you run`yarn lerna run mock-data` in the root of the project?

1. yarn install
2. cd packages/backend
3. yarn start
5. open new terminal tab
4. cd root of project
5. yarn lerna run mock-data
6. yarn start

[2020-09-11 08:24] emmaindal commented on #2416
Hmm just realized you could run it from /packages/backend as well so the step you took should be correct. Do you get any errors or so in your terminal window or can you see that mock-data has been generated? @harshilparmar

[2020-09-11 08:31] harshilparmar commented on #2416
![Capture](https://user-images.githubusercontent.com/45915468/92893012-ebd15f80-f436-11ea-84bd-31cb38032d71.PNG)
Can't sign-in via other method also.

[2020-09-11 08:42] emmaindal commented on #2416
@harshilparmar you shouldn't have to sign in more than a guest to access docs. Can you look in your terminal (where you started the backend), can you see any logs there from when you were running the "yarn lerna run mock-data" command?

[2020-09-11 08:55] stefanalund opened #2422 "[templates] Add waves patterns to cards"
The header in the Software Template cards currently lack the visual patterns:

![Screenshot 2020-09-11 at 10 51 34](https://user-images.githubusercontent.com/190856/92896578-c8012000-f41c-11ea-9b65-53b6ff7eef0f.png)

* Cards should be updated to include the "waves".
* Reuse pattern based on type (service, websites, ...) of the template.

Cards should look similar to our Headers:

![Screenshot 2020

[2020-09-11 09:48] OrkoHunter commented on #2008
The Documentation navigation menu seems to be hidden by the website nav bar. Adding a margin to `.docMainWrapper.wrapper` class should make the docs nav bar appear again. See here

![Screenshot 2020-09-11 at 11 48 03](https://user-images.githubusercontent.com/8065913/92906311-a9068c00-f424-11ea-9ccf-8ec218001f8c.png)

[2020-09-11 09:51] harshilparmar commented on #2416
![error](https://user-images.githubusercontent.com/45915468/92906790-60f66200-f442-11ea-9519-c5f8db377c61.PNG)

[2020-09-11 09:58] OrkoHunter commented on #2416
@harshilparmar When you run `yarn lerna run mock-data` (from the root of the package - `C:\hp\backstage`) it sends lots of requests to the backend that you have running. That would mean that the mock data was added. So, you should see the logs of those requests on the terminal where you have the backend running (instead of where you run the mock data command).

[2020-09-11 10:08] harshilparmar commented on #2416
@OrkoHunter
![error](https://user-images.githubusercontent.com/45915468/92909101-710f4100-f444-11ea-83d2-7905ca4568e9.PNG)

[2020-09-11 10:24] freben commented on #2416
Related? https://github.com/spotify/backstage/issues/1557

[2020-09-11 13:59] mclarke47 commented on #632
Just confirming with my team how we will do this and we're hoping to get started ~21st

[2020-09-11 14:07] JoelLau commented on #2422
Hi @stefanalund, if no one already has, I would like to take this up!

[2020-09-11 14:15] stefanalund commented on #2422
Great! Assigned you.

[2020-09-11 16:24] OrkoHunter commented on #2008
@stefanalund Here you go! 😄
https://github.com/spotify/backstage/pull/2431

[2020-09-11 18:55] cgthayer commented on #1686
How would this work?
I think it would be really cool to have a tool to explore gRPC services, perhaps even integrating things like "bloomrpc" to send test queries.  Perhaps the simplest first step would be something to take proto files and have a nice way to display them.

I'm not aware of code that actually exists, but a quick search shows this example:
https://chromium.googlesource.com/external/

[2020-09-12 05:02] #2367 closed

[2020-09-12 07:16] #2422 closed

[2020-09-12 11:22] BA1RY commented on #2266
@shmidt-i I would like to work on this issue.
How do you want me to implement it?

[2020-09-12 12:20] OrkoHunter opened #2440 "TechDocs: Auto assign new issues/PRs to project board"
## Feature Suggestion

When new issues or PRs are created for TechDocs, they should automatically be added to the Project's Kanban board.

TechDocs project board: https://github.com/spotify/backstage/projects/5

## Possible Implementation

Use this GitHub action https://github.com/marketplace/actions/assign-to-one-project.
Condition: If the issue/PR has "TechDocs" or "docs-like-code" in their titl

[2020-09-12 18:57] OrkoHunter commented on #1557
I believe this can be closed because the mock-data scripts are now removed. https://github.com/spotify/backstage/pull/2439

[2020-09-12 19:00] OrkoHunter commented on #2416
Hey @harshilparmar, sorry that you have been blocked. You can now fetch the latest branch and start again. With https://github.com/spotify/backstage/pull/2439 merged, you will not need to run mock-data command. :)

Start by doing `yarn start` in the root of the repository and `packages/backend` separately, and you will see a docs component which you can use to work on this issue. Let us know if yo

[2020-09-12 19:06] harshilparmar commented on #2416
@OrkoHunter Thank you so much🙇

[2020-09-12 19:17] Rugvip commented on #1557
@OrkoHunter indeed, closing this

[2020-09-12 19:17] #1557 closed

[2020-09-12 19:24] OrkoHunter commented on #687
With TechDocs v1 launched and progress being tracked by Backstage documentation, I think it is okay to close this issue. cc @spotify/techdocs-core @stefanalund @leemills83

[2020-09-12 19:24] OrkoHunter commented on #687
Please re-open if you feel so. 🙇

[2020-09-12 19:24] #687 closed

[2020-09-12 19:30] OrkoHunter commented on #2028
I think this has been shipped with TechDocs V1 i.e. we can browse the list of documentation websites.
@spotify/techdocs-core I'm closing this, but we can re-open if this means something else.

[2020-09-12 20:32] timja commented on #2311
MVP PR: https://github.com/spotify/backstage/pull/2442

[2020-09-13 02:46] NetPenguins commented on #2267
What about a [Menu](https://material-ui.com/components/menus/#customized-menus) that houses Icon buttons for GitHub, GitLab and Bitbucket each opening the desired URL?

[2020-09-13 04:02] harshilparmar commented on #2416
@OrkoHunter now facing different error
![error](https://user-images.githubusercontent.com/45915468/93009910-ef362980-f5a3-11ea-9fb6-5335e4f567e6.PNG)

[2020-09-13 06:54] freben commented on #2267
@NetPenguins the entity has [an annotation](https://github.com/spotify/backstage/blob/master/docs/features/software-catalog/well-known-annotations.md#backstageiomanaged-by-location) that should be sufficient to learn which option is the right one.

[2020-09-13 08:04] OrkoHunter commented on #2416
@harshilparmar Can you please create a [bug ticket](https://github.com/spotify/backstage/issues/new?labels=bug&template=bug_template.md)?
Mention that this is an issue with using TechDocs on Windows OS. Please write the steps to reproduce. Please attach the logs of the backend when this error occurs. We will take a look. 🙇

[2020-09-13 10:58] stefanalund commented on #2008
Thanks for fixing this @OrkoHunter! I know it is not identical to the UX solution suggested in this ticket, but at least it works now.

[2020-09-13 10:58] #2008 closed

[2020-09-13 12:05] emmaindal commented on #2028
@OrkoHunter Can we leave this issue open but just rename it a little? I think we can definitely work more on the TechDocs Homepage which is what I think you refer to as the list of current sites. That page doesn't deliver a good UX for more than 10 sites I would say.

[2020-09-13 12:11] #2440 closed

[2020-09-13 12:57] #2415 closed

[2020-09-13 12:58] OrkoHunter commented on #2028
@emmaindal Sure, absolutely!

[2020-09-13 14:16] emmaindal opened #2447 "[RFC] Extending the scaffolder"
## Background

Reading the [software-templates documentation](https://backstage.io/docs/features/software-templates/extending/extending-index), the scaffolder backend is built up by three different stages. `Prepare`, `Templater` and `Publish`. If you want to use your own template you can create a new `Templater`. And if you want to use an already existing one, for example `cookiecutter`, you confi

[2020-09-13 14:47] iamrajiv commented on #1994
@shmidt-i What should I give in `description:` should I give same as of `title:` in very `.md` file

[2020-09-13 17:55] harshilparmar opened #2448 "Documentation Not loading"
As mentioned in #2416.
Facing issue while setting initial development environment.

## Current Behavior
Documentation component not loading as expected!!
![error](https://user-images.githubusercontent.com/45915468/93024857-11b55a80-f617-11ea-9c60-cf1124a093b1.PNG)
Backend log.
![log](https://user-images.githubusercontent.com/45915468/93024862-167a0e80-f617-11ea-831c-34dd97929341.PNG)

## Steps to

[2020-09-13 22:39] iamrajiv commented on #1994
@stefanalund What should I give in `description:` should I give same as of `title:` in very `.md` file.

[2020-09-14 01:02] andrewthauer commented on #2267
I'm wondering if it might be useful to separate the concepts of `managed-by-location` and editing. For instance, if a new annotation called `backstage.io/edit-location` was present the edit button would use that. Otherwise it would fall back to the `managed-by-location`. This would make it possible to have the entity generated / updated from say a REST endpoint of a custom catalog processor, but e

[2020-09-14 01:28] andrewthauer commented on #2292
I agree with @dtuite. Having a status API which allows for a component to have any number of statuses (0..*) would be very useful. For instance a service might be `deployed` and `healthy`, but failing some custom verification check. It may also have a monitor alerts triggered (e.g. high latency).

[2020-09-14 04:06] lowjoel opened #2453 "Deployments: Provide standardised ways of deploying Backstage"
## Feature Suggestion

There's scant documentation on how to get Backstage deployed today. This was an issue which was influenced by my submission of https://github.com/spotify/backstage/pull/2452.

We can share more details of our setup (including the our Terraform definitions, or how we deployed it on GitLab) -- let us know what else you'd like us to do.

## Possible Implementation

We (@grab) h

[2020-09-14 08:38] tkrop commented on #2397
@taras @Rugvip @freben have you had time to think about about our suggestions? We would like to move on being able to contribute?

[2020-09-14 09:22] lowjoel commented on #1598
@Rugvip I've got some time this week to work on this -- is your statement

still accurate today? Should I put in effort to implement the code for this? (I don't know how much effort it would be to massage the existing database code though.)

Are we still going in the direction of multiple schemas (for databases like Postgres)? It would make using Sqlite or MySQL more difficult.

[2020-09-14 10:04] stefanalund commented on #1645
This might be interesting https://github.com/mingrammer/diagrams (via @JimHaughwout)

[2020-09-14 10:51] OrkoHunter opened #2458 "Improve UX of creating new component using Software Template"
## Feature Suggestion

When a new component is created using the templates available in `/create`, the UI should convey properly that the component has been created.

## Possible Implementation

Use words like "Done" or "Successfully created" or a Green check. And remove "Creating component..." when it's done.

## Context

**Current behaviour**

![create-new-component](https://user-images.githubus

[2020-09-14 11:05] freben opened #2459 "[RFC] A Place for Contributions"
**Status:** Open for comments

## Need

There is lots of great work being done in the community in terms of getting builds and deployments and similar working in their specific environments. There are fairly frequent questions on Discord and in issues pertaining to for example getting ingress setup working in kubernetes, or getting builds to work inside Docker instead of on the host, or setting up

[2020-09-14 11:12] freben opened #2460 "Run integration tests on all major databases"
## Feature Suggestion

The Backstage repo should come with a suite of database integration tests, which ensure that we stay compatible with the major databases that we want to support. The tests would ideally run all the migrations, fire up a backend, perform some basic operations, and clean up.

## Possible Implementation

These tests would probably fire up transient dockerized databases, for at

[2020-09-14 11:18] braino15 commented on #2448
Facing exact same issue, with latest code (rebased 30 mins before). Key addition to above is, extra error for window's path being too long for   failed to stat 'C:/Users/XXXXXXX/AppData/Local/Temp/backstage-repo/github.com/spotify/backstage/master/plugins/scaffolder-backend/sample-templates/spr
ingboot-grpc-template/{{cookiecutter.component_id}}/src/main/java/com/example/{{cookiecutter.java_packag

[2020-09-14 11:43] mclarke47 opened #2461 "[RFC] Kubernetes plugin foundations"
# Need:

Some background can be found in https://github.com/spotify/backstage/issues/632.

Kubernetes is quickly becoming a de facto standard for deployment and users would like to see details of their
services on Kubernetes in backstage.

# Problem

While Kubernetes gives a consistent API and user experience to developers,
Kubernetes developer experience (DX) depends on the organisation that sets

[2020-09-14 12:59] taras commented on #2397
@tkrop thank you for entertaining my question.

It sounds like storing secrets on the file system and re-reading them as necessary will do the trick. Special considerations may be necessary to ensure that plugins can participate. For example, if a plugin's request determines that a secret is invalid, how does it invalidate the secret and cause it to be re-fetched?

I'll leave it to the core team t

[2020-09-14 13:05] emmaindal opened #2462 "TechDocs navigation on smaller devices collapses so it's not possible to navigate between pages."
![Screen Shot 2020-09-14 at 3 04 35 PM](https://user-images.githubusercontent.com/25153114/93089563-c5602e00-f69b-11ea-8615-3e32c41f8c9f.png)
![Screen Shot 2020-09-14 at 3 04 48 PM](https://user-images.githubusercontent.com/25153114/93089572-c8f3b500-f69b-11ea-9eb4-6790365d852b.png)

[2020-09-14 13:06] emmaindal opened #2463 "TechDocs to use the Backstage theme for fonts"

[2020-09-14 13:26] andrewthauer commented on #1598
@lowjoel - Part of this is already implemented in regards to creating the plugin db connections, postgres connection string handling, etc.. The `backend-common` package's `database` module has some utilities that make it relatively straightforward to swap out the database assuming the user has create db permissions.

I think it might make sense to figure out what is still required and then create

[2020-09-14 13:42] shmidt-i commented on #2266
Hey @BA1RY, good question 😄
We will come back with suggestion during the week!

[2020-09-14 13:47] shmidt-i commented on #1994
Can be first paragraph of the text, just cleared from image tags or any markdown.
E.g.
https://backstage.io/docs/overview/what-is-backstage
<img width="577" alt="Screenshot 2020-09-14 at 15 45 42" src="https://user-images.githubusercontent.com/5012901/93093759-5ab1f100-f6a1-11ea-9f31-ade8cd5bd3b2.png">

Imagine string `![service-catalog]...` being replaced by
[code]

[2020-09-14 14:48] alileza opened #2464 "Unable to find @backstage/plugin-newrelic"
## Expected Behavior

Unable to find @backstage/plugin-newrelic while doing yarn install, it seems doesn't exist here https://www.npmjs.com/package/@backstage/plugin-newrelic

## Current Behavior

[code]

[2020-09-14 15:08] Rugvip commented on #2464
@alileza indeed, it's still private, and I believe it's supposed to be marked as public.

#2316 is about to make plugins public by default

[2020-09-14 15:34] #2464 closed

[2020-09-14 15:47] Fox32 commented on #2459
Before reading the full post I thought: Isn't this GitHub Discussions stuff available? it's something like StackOverflow and could be an option too. That could be useful for a QA style and might be easier to discover then Discord.
But it wouldn't be useful if one want to share bigger things like you suggested.

[2020-09-14 15:52] Adamseyer opened #2466 "Arrow pointed incorrect direction in System Model"
The System Model diagram in:
https://github.com/spotify/backstage/blob/master/docs/assets/architecture-decisions/catalog-core-entities.png

Has both arrows pointing from Component to API, which is not what was in the original RFC: https://github.com/spotify/backstage/issues/390

Consumes should have an arrow from API to Component
Implements should have an arrow from Component to API

Correct the a

[2020-09-14 15:55] Rugvip commented on #2466
Well both are technically correct, since the relationship is inversed, "implements" vs "implemented by". Still agree it might be nicer if we flip the "implements" relationship though

[2020-09-14 17:28] Rugvip commented on #2461
@mclarke47 Think we can have this as the boundary towards presentation? :>

[code]

That'd be a client-side API for which we provide some implementation, which in turn would needs things like `KubernetesClusterDiscoverer`, `KubernetesApiClientFactory` or whatever other fun things would pop up as a requirement to keep things generic ^_>. Auth would likely be pluggable in the backend though, given t

[2020-09-14 17:46] Fox32 commented on #2466
I would interpret the arrow as which entity is referencing which entity. So right now the component entity has an `implementsApi` field that references the API.

[2020-09-14 18:04] freben commented on #2459
I was thinking that the official documentation on backstage.io would link into the contrib repo, per tech/topic essentially. So as a docs reader I'd find a nice list of helm, istio etc that would link out to the respective dir in contrib. The readme in that dir would hopefully be well structured and informative as well.

[2020-09-14 20:05] stefanalund commented on #2405
@mcalus3 we would love to get a contribution fixing this.

[2020-09-14 21:47] Rugvip commented on #2447
@spotify/techdocs-core

Yeah I think this is something that we want, regardless of if this specific feature is needed now or not. As in it's likely a sane and good architecture of the scaffolder.

I do really like the idea of layer templates, where there's possibility for the community to create templates for parts of templates, like your example of different documentation structures. I thinking i

[2020-09-15 10:36] #2111 closed

[2020-09-15 11:57] iain-b commented on #1628
Can I take this one?

[2020-09-15 12:20] tkrop commented on #2397
As I tried to describe as one solution above:

We usually have a `secret-provider` or `storage` that is injected into all locations, i.e. authorization providers, gateways, and proxies, that need access to a secrets. The contract may change a bit from implementation to implementation, but the general understanding is, that it provides a secret based on a `secret-id/name`. The name usually refer to

[2020-09-15 12:59] stefanalund commented on #1628
@iain-b thanks, Assigned you!

[2020-09-15 13:00] mclarke47 commented on #2461
I'm not sure it's necessary. I can see the auth decisions users make boiling down to either storing tokens in a cookie (OAuth tokens) or configuring backstage to add a token (service account tokens) on the plugin backend.

I think it would make sense to support both types eventually.

How users get those tokens is an bit of an open question because it's such a large area and it depends on the orga

[2020-09-15 14:50] freben commented on #1947
Attempting to nail down the two remaining options, as I understand them.

In both options, we retain the notion that strings are case insensitive from a consumer's point of view; for example, you may specify "component" instead of "Component".

# Option 1 - Separate URL logic, use slashes

Frontend and backend service URLs that want to reference an entity by name will ALWAYS contain a triplet of n

[2020-09-15 16:46] Rugvip commented on #1947
Just because this popped into my mind I'm throwing in

# Option 3 - Explicit delimiters

Use different separators for kind and namespace, making it possible to emit either in a clear way, as required by different contexts.

For frontend and backend service URLs, the encoding is similar to option 1 and 2. Example:

[code]

YAML files that want to reference an entity by name will use the same schema

[2020-09-15 16:55] freben commented on #1947
For option 3 my brain really wanted it to be `api:default/external-customer-api` because the delimiters match how I model them in my brain :) even though it may seem a bit more odd in a URL - but again, I argue that it's worthwhile to separate out how URLs are formed from how hand written refs are written, since they have conflicting goals.

[2020-09-15 17:35] freben commented on #1947
For the YAML ref field type, I could even picture it being effectively

[code]

[2020-09-15 17:53] Rugvip commented on #1947
Just to have this here then:

[code]

Meh, it is pretty verbose for something that might have to actually be typed out and read quite a bit. Ofc way more explicit though. Possibly a starting point where we can wrap things up in an API that is able to read that type, just so we kinda get that plumbing in place? Then in the future we might end up adding some short form if we feel it's needed.

Regar

[2020-09-15 18:23] #2227 closed

[2020-09-15 18:33] emmaindal opened #2477 "TechDocs: required description field for docs-template"
## Expected Behavior

The fields that are required should be validated before it's possible to create a component.

## Current Behavior

You are able to go through the steps to create a new component but in the generating step it hangs and throws this error.

DEBUG cookiecutter.generate: Check component-info.yaml to see if it's a binary
Unable to create file 'component-info.yaml'
Error message: 'c

[2020-09-15 18:35] emmaindal opened #2478 "[Scaffolder] Stage failed with error: Not Found"
## Expected Behavior

Be able to create a component when all required information is filled in or get a more user friendly error message so that I can investigate in what did go wrong.

## Current Behavior

info: Will now store the template {"id":"278635e0-bf3c-4bcc-b28c-d96c7c55022a","stage":"Publish template","timestamp":"2020-09-15T18:01:12.301Z"}
error: Stage failed with error: Not Found {"id"

[2020-09-15 18:37] tjperry07 commented on #2478
To add, I experienced this issue when trying to create a React Template and a Docs Template.

[2020-09-15 18:45] dtuite commented on #2477
@emmaindal I believe I have fixed this in https://github.com/spotify/backstage/pull/2470/commits/ae081ebd354fc904222b9c420956deabc6d85e29

It's awaiting review.

[2020-09-15 18:50] emmaindal commented on #2477
@dtuite fantastic, thank you! 💯

[2020-09-15 18:51] dtuite commented on #2478
Semi-unrelated but we are working on validating template values [here](https://github.com/RoadieHQ/backstage/pull/18). The. first part is in review in our fork but will be pull requested upstream to spotify/backstage soon.

[2020-09-15 19:21] benjdlambert commented on #1628
@iain-b if you need any help give me a shout.

I think basically you need to add the validation in the `.post('/v1/jobs')` route in `createRouter` of the scaffolder.

You should have everything there in terms of the schema and the input variables to make a decision on if it's valid or not.

[2020-09-15 19:53] freben commented on #1947
But I meant that the string form would be the compound option 1 or 3 :)

So I would actually start with the short form, but yes, implementing that function in catalog-model which eats a Json value and spits out a namespace, kind, name triplet object is step uno.

[2020-09-16 08:16] iain-b commented on #1628
@benjdlambert Thanks, yeah the schema is there is just a matter of applying the schema to the values. The main decision is the choice of validation library which I've described in the PR (json-schema implementation seems to be buggy).

[2020-09-16 09:58] Nek commented on #2001
Just have to say it. Looking at the proposed architecture and especially global update loop, it looks like we are pretty close to implementing Entity–component–system pattern, except we don't have a generalization typical ECS implementation has (yet). To avoid confusion with our terminology, ECS entities map to our entities, ECS components map to the data our system's entities have, ECS systems ar

[2020-09-16 10:02] freben commented on #1598
One of the reasons we have databases separated in the first place is that as far as I know, knex doesn't support multiple separate migration "families" within a single database. As in, if the migration tracking table just had an extra column with a key that the plugin could define, then it could keep track of several parallel migrations (that hopefully don't trample on each other's toes...) and ke

[2020-09-16 12:16] benjdlambert commented on #2478
So I believe the error message of `not found` comes from github when trying to create a repo in an organisation that doesn't exist. We up until recently only supported organisations to create repositories in, but however, since https://github.com/spotify/backstage/pull/2433 this is no longer required. The issue comes now however, is that we haven't released this code yet for the `create-app` usage

[2020-09-16 12:24] marcuseide commented on #2179
Thought I'd share a recent discussion amongst the team related to this issue. We think these `EmptyState` components would primarily be used inside plugins to relay information back to the user that something is lacking or missing or needs to happen. As to how the design portraits it.
For an `App` on the other hand, it should rely on the routing, and present a `404` (Mic Drop) page if the route wa

[2020-09-16 12:48] javaniecampbell commented on #598
@enricomeneghel sorry for the late response currently on vacation will be on returning end of this week to continue development on the plugin will get in touch when I return with the current progress I have made so far and we can collaborate then..

[2020-09-16 12:56] taras commented on #2376
BTW, we're at 800,000 records now :)

[2020-09-16 12:59] benjdlambert commented on #1503
Some work has been done here on this, but really need to look at this too. #2426

[2020-09-16 13:00] benjdlambert commented on #1503
@muffix do you think you could pick up this too seen as you've done half of the hard part ;)

[2020-09-16 13:09] freben commented on #2376
@Rugvip mmmmaybe we could squeeze in a fix for this as well before releasing :D

[2020-09-16 13:33] #1628 closed

[2020-09-16 14:18] timurista commented on #2461
At face value, it would seem this plugin is very similar to https://github.com/lensapp/lens which offers multi-cluster visualization and management (lens ide). They scrape the user's kubeconfig to regsiter existing clusters and you install a version of their helm chart to see metrics for the cluster. One of the drawback is that it is only for an individual, so it'd be great to leverage the users e

[2020-09-16 14:29] #2324 closed

[2020-09-16 14:52] #2386 closed

[2020-09-16 15:17] mijailr opened #2488 "Customize pageTheme for pages and cards"
## Feature Suggestion

The current implementation of the [Header Component](https://backstage.io/storybook/?path=/story/header--home) have fixed colors and it can't be modified using the theme customization, so it's a lock for changing the look and feel.

https://github.com/spotify/backstage/blob/35abda0fa0d7402a0024ee4f53971d93ad0b0b8d/packages/core/src/layout/Page/PageThemeProvider.ts#L52-L61

<

[2020-09-16 18:10] Rugvip commented on #2292
@andrewthauer So I think we're aligned in supporting multiple different statuses. The discussions afaik is more about the presentation, and whether you aim to display all statuses at once, or just the one with the highest severity.

Personally I think it could be a stack of max some number of dots if you have multiple failing statues, with the highest severity one being showed in text. Then click

[2020-09-16 18:13] Rugvip commented on #2459
Me feeling regarding in/out of repo is that it's better to keep it in `/contrib` inside this repo, at least to begin with. We'd exclude it from workflows and linting, and I wouldn't be expecting (or accepting) any large binary blobs, mostly just markdown and yaml :grin:

Ofc the benefit of keeping inside this repo is that you at least increase the change that they'll be updated when changes are ma

[2020-09-16 18:19] Rugvip commented on #2460
Yep, think we should add this as a part of #2369, and also get some nightly builds going

[2020-09-16 18:32] Rugvip commented on #1598
**Support Multi Schema Database** - Agree with the above points, I'd say wait and see if there's a demand. If there is, maybe add it if it's really simple, like just switching out a knex create method.

@freben I like the idea of stepping down to a user with less access in the case where we're creating the databases. Not something required in the initial implementation though, but nice to have.

@

[2020-09-16 19:53] #2043 closed

[2020-09-16 20:29] #1994 closed

[2020-09-16 21:24] freben commented on #2459
The more I think about it, the more I lean toward internal `/contrib` too.

[2020-09-16 23:13] Rugvip opened #2491 "[RFC] Switch @backstage/create-app to @backstage/create for all creation needs"
**Status:** Open for comments

## Need

The app creation process was split out from the `@backstage/cli` package in order to reduce the install size of the package. Previously when calling `npx @backstage/cli create-app` you'd have to download all dependencies of the CLI twice, once for `npx`, and once after scaffolding the app. When moving out `create-app`, the `create-plugin` still stayed in `@b

[2020-09-17 06:28] tkrop commented on #2397
@Rugvip @freben any opinion?

[2020-09-17 07:16] stefanalund commented on #2292
I also imagine clicking into a specific component and going to its Overview page will show another card/widget (do we have a name for these?) with each status category listed individually. This would be a standard UI component similar to the current About card.

@dtuite yes, I think the Status API should not add customisation options to the main Catalog table. Could definitely see a different view

[2020-09-17 07:32] #2200 closed

[2020-09-17 07:33] #2311 closed

[2020-09-17 07:37] emmaindal commented on #2448
Hey @harshilparmar and @braino15 this might have been fixed in #2457
Can you update us on if you still see this issue? Thanks!

[2020-09-17 07:57] JacobValdemar commented on #714
@alileza How are you progressing with this?

[2020-09-17 08:00] alileza commented on #714
@JacobValdemar hey, I got pulled on something else, I only done very early stage with prometheus query console UI, might take a bit sometime for graph UI

[2020-09-17 08:16] stefanalund opened #2493 "Backend fails to start"
Get the following error when starting the `packages/backend`:

[code]

[2020-09-17 08:18] freben commented on #2493
You merged a fix for that a couple hours ago right? :) https://github.com/spotify/backstage/pull/2492

[2020-09-17 08:19] freben commented on #2493
Oh - does it require that the env variable really is set as well? Ok.

[2020-09-17 08:20] stefanalund commented on #2493
Is this only when running an App? My problem is when running the example app.

[2020-09-17 08:22] freben commented on #2493
Ping @timja and @benjdlambert

This one should probably not be required. The backend should at least start up without it

[2020-09-17 08:26] timja commented on #2493
checking

[2020-09-17 08:27] timja commented on #2493
It starts for me fine with the API token present

@stefanalund  can you try this please?

[code]

[code]

[2020-09-17 08:32] timja opened #2494 "scaffolder: Enable branch protection for GitHub"
## Feature Suggestion

Hi 👋

It would be good if scaffolder added branch protection for the default branch.

## Possible Implementation

Either add by default or add some configuration that allows you to set it up.

In our case our default setup is:

Protect default branch
require review 1
include administrators

but this may be org specific

## Context

Require review on code changes

[2020-09-17 08:35] stefanalund commented on #2493
Running `yarn start-backend` did the trick. I had missed this new way to start the backend. Thanks!

[2020-09-17 08:41] timja commented on #2493
@stefanalund I would leave the ticket open, it shouldn't error without the env variable

[2020-09-17 08:54] benjdlambert commented on #2493
@timja could you take a look at this?

I guess it should be `getOptionalConfig` instead somewhere in the stuff we merged last few days?

[2020-09-17 08:56] Rugvip commented on #2493
The convention is to wrap the config reading in a `try - catch` and only re-throw if we're in `NODE_ENV === 'production'`.

Tbh I think we may wanna move that to the `backend` and `@backstage/backend-common` service builder or smth. Bit tedious to have to implement for every plugin. Having it as a default also reduces the blast radius of these small issues by a lot

[2020-09-17 08:59] benjdlambert commented on #2493
@timja - follow @Rugvip's suggestion then. 👍

[2020-09-17 09:20] timja commented on #2493
I've had a look, seems easier to fix after: https://github.com/spotify/backstage/pull/2426

Pattern is here:
https://github.com/spotify/backstage/blob/f1ca8daee826eae3fcd6dfefa8fd2f495710a9c1/plugins/auth-backend/src/service/router.ts#L74

Code that is causing the issue:
https://github.com/spotify/backstage/blob/f1ca8daee826eae3fcd6dfefa8fd2f495710a9c1/packages/backend/src/plugins/scaffolder.ts#L4

[2020-09-17 10:14] mclarke47 commented on #2461
@timurista I think that's a really interesting suggestion! I have to agree about the drawback, I think we would want to offer more auth configurations than uploading an kubeconfig file.

I think from a UI perspective the real difference is lens is more focused at showing the state of Kubernetes from the operators perspective, while with a service catalog integration it would be more focused on the

[2020-09-17 10:43] Fox32 opened #2498 "Improve ADRs in the navigation of the documentation"
The navigation around ADRs in the backstage.io microsite is not nice, as only the ADR number is in the navigation, not the title of the ADR.

![image](https://user-images.githubusercontent.com/648527/93460326-5412bc00-f8e3-11ea-8ff5-9f09eacb9faa.png)

## Possible Solution

I guess we can set a title as metadata, but I don't know the documentation tooling.

[2020-09-17 10:58] Fox32 commented on #2498
Ok, that is a pretty easy fix 😆 Just change `sidebar_label` in the metadata. I guess the problem here is, that the titles might be quite long

[2020-09-17 10:59] Fox32 commented on #2498
Or just remove `sidebar_label`, I guess `title` is the default for the sidebar.

@stefanalund If that fix would be fine, I can send a PR

[2020-09-17 11:54] #2372 closed

[2020-09-17 12:36] marcuseide commented on #2245
Me and @samiramkr will look into this.

[2020-09-17 12:44] timja commented on #2493
Lol now we have:

[code]

Fixing it...

[2020-09-17 12:52] timja commented on #2493
PR: https://github.com/spotify/backstage/pull/2500

[2020-09-17 13:03] harshilparmar commented on #2448
Now I am getting different error
![error](https://user-images.githubusercontent.com/45915468/93473923-3c9ff700-f914-11ea-8853-b5df60ea3733.PNG)

[2020-09-17 13:13] OrkoHunter commented on #2448
@harshilparmar Glad that "Documentation not loading" is fixed for you! :) (I will close this issue now)

Regarding your issue with `scaffolder.github.token`, the scaffolder in Backstage (a service which requires helps you to choose a Software Template and create a new project) needs a `GITHUB_ACCESS_TOKEN` to work. [Reference doc](https://backstage.io/docs/features/software-templates/installation#

[2020-09-17 13:13] #2448 closed

[2020-09-17 13:15] #2498 closed

[2020-09-17 13:17] #2477 closed

[2020-09-17 14:36] timurista commented on #2461
Glad it was helpful suggestion @mclarke47 !
I'm intrigued by the `k8s auth translator.`

That would be a great service in and of itself to translate between Active Directroy, IAM and GKE roles, permissions for k8s.
But the authorization mechanism might vary a lot by company.

Some companies might use active directory LDAP as the source of truth and then iam and gke roles would basically mirror the

[2020-09-17 14:54] #2493 closed

[2020-09-17 17:06] therealadum opened #2504 "Add ability to manually specify SCM when adding a component"
When adding a component, the existing functionality will scan the URL and base the SCM type off of that. This works for most use-cases but particularly when managing a self-hosted instance the URL may not comply with the standard formats implemented here: https://github.com/spotify/backstage/blob/master/plugins/register-component/src/components/RegisterComponentPage/RegisterComponentPage.tsx#L94

[2020-09-17 20:25] taras opened #2506 "Register existing component fails when adding an internal repository via GitHub API"
![Screen Shot 2020-09-17 at 2 06 29 PM](https://user-images.githubusercontent.com/74687/93510570-6561c580-f8ef-11ea-802d-34cdb3fdaa2f.png)

## Expected Behavior

I would like to be able to add a project that's internal to an enterprise organization to Backstage via "Register existing component"

## Current Behavior

I get the following error attempting to register the component.

[code]

## Possib

[2020-09-17 20:50] Rugvip commented on #2506
Thanks! And alright alright, yet another reason for https://github.com/spotify/backstage/pull/2501 to exist, it should be fixed by that :grin:

[2020-09-18 08:50] freben commented on #2459
We have made a decision that the more lightweight option of putting things in a `/contrib` directory in the main repository is better in the near term. If things grow too large or need breaking out for other reasons, we can revisit this decision in the future.

[2020-09-18 08:50] #2459 closed

[2020-09-18 11:04] saranyavignesh2123 opened #2518 "Techdoc plugin not loading the docs"
## Download the master branch code from backstage portal and today i was not abe to load the docs using techdocs plugin

## Current Behavior

![image](https://user-images.githubusercontent.com/70377631/93590996-20ac5c00-f9cd-11ea-8a41-29d3ebe8f85f.png)

## Steps to reproduce

sync local branch with remote repo
git fetch upstream
git merge upstream/master
yarn start in root folder
cd .\packages\bac

[2020-09-18 11:19] hooloovooo commented on #2518
Could you please provide the server logs for this as well? That should contain some useful information. Also make sure you have set the new required requestUrl config url in your app-config.yaml.

[2020-09-18 11:30] saranyavignesh2123 commented on #2518
HI,

Below is the information got from backend run

![image](https://user-images.githubusercontent.com/70377631/93592722-51da5b80-f9d0-11ea-88b4-abaaf1bd6584.png)

My request URL in app-config.yml is requestUrl: http://localhost:7000/techdocs/docs

[2020-09-18 11:31] benjdlambert commented on #1565
Closing this RFC now, will create some tickets later to divide this up into work so we can look at prioritising this work next week!

[2020-09-18 11:31] #1565 closed

[2020-09-18 11:33] saranyavignesh2123 commented on #2518
Getting this error intermitently. Why this behaviour.
![image](https://user-images.githubusercontent.com/70377631/93592987-d927cf00-f9d0-11ea-866d-2bbd987bf498.png)

[2020-09-18 11:40] hooloovooo commented on #2518
Not sure what that error is, but it looks like it's trying to request techdocs from localhost:3000/docs/<componentId>. This looks a bit strange. How does your techdocs section look in your app-config?

[2020-09-18 12:17] saranyavignesh2123 commented on #2518
Error in browser console and my request Url is:
  storageUrl: http://localhost:7000/techdocs/static/docs
  requestUrl: http://localhost:7000/techdocs/docs

![image](https://user-images.githubusercontent.com/70377631/93596441-f364ab80-f9d6-11ea-97f5-89822b1f9ad5.png)

[2020-09-18 12:17] #2376 closed

[2020-09-18 12:35] hooloovooo commented on #2518
Not sure what's going on. I think i will have to try and recreate this on windows this weekend and get back to you. :)

[2020-09-18 13:06] #2506 closed

[2020-09-18 13:38] taras commented on #2384
Completed by #2429

[2020-09-18 13:38] #2384 closed

[2020-09-18 13:58] taras opened #2521 "Support for dotenv"
I was going to ask this in Discord but decided to do it here in case others have the same question.

[dotenv](https://www.npmjs.com/package/dotenv) is a popular mechanism of specifying project-specific environment variables without accidentally adding secrets to git history. It relies on git ignored `.env` file with environment variables.

Backstage has it's own configuration reading API. In theor

[2020-09-18 14:13] nikek commented on #393
This doesn't apply anymore as we changed the shapes to be gradients from white to transparent. Effectively removing the colors out of the shapes so that only the background needs a color/color-gradient. Simplifies the implementation and lets you mix and match any background color with any shape.

[2020-09-18 14:13] #393 closed

[2020-09-18 14:28] harshilparmar commented on #2448
@OrkoHunter  Sorry but I still getting errors

![docError](https://user-images.githubusercontent.com/45915468/93609181-26179f80-f9e9-11ea-89fe-bcc06a433a88.PNG)
![error](https://user-images.githubusercontent.com/45915468/93609190-27e16300-f9e9-11ea-81ba-cb08c3da0343.PNG)

[2020-09-18 14:46] timchepeleff commented on #692
I'm happy to claim this one.

[2020-09-18 14:48] FabianHippmann commented on #2518
So - I had the same problem -

Problem was -> that in `techdocs-backend/src/helpers.ts` the github repo from the schema/annotation tries to get loaded & theres a Github user hardcoded trough `GITHUB_PRIVATE_TOKEN_USER`

If you did not pass the `GITHUB_PRIVATE_TOKEN_USER` as an env - variable - the plugin creates the directory - tries to do a git clone & fails.

[code]

If you refresh the page tech

[2020-09-18 14:53] soapraj commented on #692
@timchepeleff assigned to you!

[2020-09-18 14:55] timja commented on #2461
FYI this is what's used on AKS for non interactive log in:
https://github.com/Azure/kubelogin

It's a credential exec plugin that handles the Azure specific bit, you can use service principal or user account with Azure RBAC for access built in.

I assume you'd write a plugin that handles these details but hopefully the information is helpful.

[2020-09-18 14:55] hrishikeshnikam2000 commented on #2458
@OrkoHunter  I would like to work on this issue.
How do you want me to implement it?

[2020-09-18 14:58] mclarke47 commented on #2461
Thanks! I think that is definitely going to be useful for those who use Azure RBAC!

[2020-09-18 15:15] taras commented on #2376
@freben as a result of #2519, number of records went from 1m+ to 182 :)

[2020-09-18 15:28] Rugvip commented on #2521
You can use `app-config.local.yaml` and `app-config.development.local.yaml`! They are ignored by default, and you can put secrets straight up as values.

For example, I use the following in `app-config.local.yaml` to have a separate file with some custom entity definitions for development, as well as Google auth setup:

[code]

Perhaps a "local development configuration" section in the docs would

[2020-09-18 15:31] taras commented on #2521
This is exactly what I was hoping to find out.

I'll add the docs - if you assign the issue to me.

[2020-09-18 15:34] freben commented on #2376
Woo! :)

[2020-09-18 15:40] Rugvip commented on #2521
Sorry forgot to point to the existing point for the feature: https://backstage.io/docs/conf/writing#file-resolution

Thinking the local development setup could be more clearly explained there, but maybe also that we should mention it in the getting started bit

[2020-09-18 15:50] andrewthauer commented on #2521
I've been using https://direnv.net to handle this use case. I've found this easier then creating a custom `app-config.local.yaml`, which requires duplicating a bunch of sections from the `app-config.yaml`. Having `dotenv` support would essentially be the same result, but something build in. My 2 cents anyways 😄

[2020-09-18 15:54] Rugvip commented on #2521
@andrewthauer do you have an example of something that requires duplication? From my experience values are either easy to override with a single value, or tricky to configure through environment variables anyway.

Not saying we can't add support for loading in env files, but trying to stay away from too many solutions for the same issue if it doesn't provide additional value.

[2020-09-18 16:52] andrewthauer commented on #2521
@Rugvip - I'm mostly using environment variables for just supplying a value for an existing `$secret` in the main config file.

So, instead of having to replicate the full config path like this:

[code]

I can just do:

[code]

However, I use `direnv` for all kinds of things so this is natural and works without having to add `dotenv` support :)

[2020-09-18 19:30] OrkoHunter commented on #2458
Hey @hrishikeshnikam2000. Sure, go ahead!

I don't have a design mockup. But to begin with, I will use the component's state and update the header text. Also, see the inspiration from the images above. :)

[2020-09-18 19:32] OrkoHunter commented on #2448
@harshilparmar No worries! 😄 Please keep create a new bug ticket here - it looks different than this issue.

[2020-09-18 20:30] FabianHippmann commented on #2448
@harshilparmar - also had this issue & was able to solve it in this issue -> https://github.com/spotify/backstage/issues/2518#issuecomment-694913148

[2020-09-18 20:40] OrkoHunter commented on #2518
Oh thank you @FabianHippmann! We'll make sure to update our docs or throw a better error.

[2020-09-18 21:04] FabianHippmann opened #2525 "Persists catalogue tags filter in URL"
Persist the catalogue tags in the URL - so that pages can link to the catalogue with tags.

## Feature Suggestion

Because we can filter pretty much everything with tags - for our case I recommend using tags in the schema for defining what languages/frameworks etc. were used in a service/component/website.

In the Techradar we could then automatically deeplink a certain language to a filter with t

[2020-09-18 21:57] freben commented on #2525
And what page you are on, if paging is used on the table :)

[2020-09-19 08:55] Rugvip commented on #2521
@andrewthauer well the first option lets you type less characters if you're typing them out :grin:

I think it's a pretty minor difference anyway, and would rather help make the existing alternatives more visible. Especially since there's plenty of stuff in config that would be pretty tedious to configure through env, like the custom component location I have in my example

[2020-09-19 10:34] andrewthauer commented on #2521
Agee 💯. Was just sharing an alternative view 😀.

[2020-09-19 10:49] andrewthauer commented on #2525
Also, some sort of page/offset for the entity table (when added) should also be reflected in the URL.

[2020-09-19 13:04] harshilparmar commented on #2448
@FabianHippmann Thanks for suggestion brother,I have added username in `plugins\techdocs-backend\src\helpers.ts` ,but that's not works for me 😕

[2020-09-19 13:22] harshilparmar opened #2527 "Bug (Scaffolder): The filename or extension is too long."
After #2448 fix, getting different error.

![docError](https://user-images.githubusercontent.com/45915468/93668250-e1533d80-faa8-11ea-8464-a2118e6ff2e5.PNG)
![error](https://user-images.githubusercontent.com/45915468/93668257-e87a4b80-faa8-11ea-9b81-7ce838118ac3.PNG)
![error2](https://user-images.githubusercontent.com/45915468/93668264-ed3eff80-faa8-11ea-959b-459e4b0a59d2.PNG)

## Context
Please r

[2020-09-20 20:57] #1846 closed

[2020-09-20 21:08] benjdlambert commented on #633
Parallel issue also opened on https://github.com/linkerd/linkerd2/issues/4955,

If anyone is interested to help make this happen part of hacktoberfest would be super cool!

[2020-09-21 08:11] saranyavignesh2123 commented on #2518
After hardcoded the user name i am still getting same error. Either 404 not found or server is too busy.(Error: EBUSY: resource busy or locked, )

[2020-09-21 08:48] shmidt-i commented on #2266
So we discussed it and settled on a following solution:
If a route in the App doesn't have a corresponding match as in react-router route match, then we should show standard mic drop 404 page.
Have said that, everything under `/catalog/*` becomes delegated to the catalog plugin and App is not responsible for 404s there. Which leads us to the notion of "Empty state" for the catalog, particularly wh

[2020-09-21 10:50] BA1RY commented on #2266
@shmidt-i Understood. So we'll need to create a separate 404 page for /catalog. I'll be happy to work on this.

[2020-09-21 11:43] benjdlambert opened #2533 "scaffolder: Tests are failing for ssr template"
## Expected Behavior
- Tests and CI should pass for the scaffolded template

## Current Behavior
- Test fail due to `--if-present` not being a valid option when using `next build`

## Possible Solution
- Update to latest `SSR` in the docker template?

## Steps to Reproduce
- Scaffold a `SSR` project into `Github`
- Watch the failing build on `Github Actions`

[2020-09-21 11:44] freben commented on #1947
https://github.com/spotify/backstage/pull/2532

[2020-09-21 11:57] benjdlambert opened #2534 "ci/cd view: Build status is always completed and green even when it build fails"
## Expected Behavior
- Status indicator on the each build step is correct colour and status text

## Current Behavior
- When the build fails each build step is listed as `Completed` with a green status mark

## Possible Solution
- Update the status text and colour to reflect a more realistic status

## Steps to Reproduce
- Have a component with builds enabled like the CRA template
- Create a faili

[2020-09-21 12:31] emmaindal commented on #2029
@katz95 do we have any design ready for this that we can attach to this issue?

[2020-09-21 12:39] rajatdiptabiswas commented on #2534
Hi @benjdlambert

I'd like to work on this issue.
Kindly let me what exactly needs to be done and I'll try my best to get it fixed.

[2020-09-21 13:09] timja commented on #2534
@benjdlambert which plugin? there's at least 3 CI/CD ones hooked up as far as I know, circle, github actions and Jenkins, I think there might be a travis one too

[2020-09-21 13:16] OrkoHunter commented on #2518
Just wanted to add a FYI here that `GITHUB_PRIVATE_TOKEN_USER` environment variable is not required for a public repository to work in TechDocs.

[2020-09-21 13:52] soapraj commented on #2458
@katz95 would be great to get some design inputs here

[2020-09-21 14:01] saranyavignesh2123 opened #2537 "Unable to create a plugin"
## Expected Behavior
I have tried to create a plugin for my backstage portal but unable to create it. Below error occurred.

![image](https://user-images.githubusercontent.com/70377631/93776084-ce737100-fc40-11ea-919e-ce7964f90415.png)

## Steps to Reproduce

Take latest from main branch and try to execute below command in parent folder.
yarn create-plugin

## Your Environment

- NodeJS Version (v

[2020-09-21 15:14] benjdlambert commented on #2534
sorry, this was a quick ticket that I should have fleshed out a little more. it's the github actions on AFAIK.

[2020-09-21 16:23] martina-if opened #2540 "[RFC] Easy deployment on any Kubernetes cluster"
**Status:** Open for comments

## Need

Today there are instructions on how to deploy Backstage locally but deploying it to a Kubernetes cluster requires building Docker images and Kubernetes manifests.

## Scope

Managing cloud specific resources (like managed databases) is out of scope for this proposal.

## Proposal

It would be nice to have a way to deploy it to any Kubernetes cluster regardle

[2020-09-22 05:57] hrishikeshnikam2000 commented on #2458
thank you @OrkoHunter . will start working on it .

[2020-09-22 06:42] rajatdiptabiswas commented on #2534
Hello @benjdlambert

I have set up the development environment and got the Backstage Example App running on my system.
I am getting overwhelmed by the size of the project. Being new to these is not helping either.

Would you kindly let me know which files I should look into, to make the required fix?
Any other pointers or suggestions would be highly appreciated.

I have not set up Docker as of yet

[2020-09-22 06:48] dtuite commented on #2540
Looks like there is related conversation in https://github.com/spotify/backstage/issues/2540.

[2020-09-22 07:00] Pothulapati commented on #633
I'm one of the Maintainers of the Linkerd project. :wave: The team is more than happy to support this effort in making this happen as part of the Hacktoberfest.

If someone is interested to take this up, Feel free to join the `contributors` channel in the [Linkerd Slack](https://slack.linkerd.io/) and ask any questions. Also, this Issue and https://github.com/linkerd/linkerd2/issues/4955 are great

[2020-09-22 07:46] dtuite commented on #2540
We (Roadie) and more specifically, Martina, are prepared to contribute this work. We already have a prototype working which creates the PG instance in kubernetes and configures Backstage to talk to it over automatically generated certs.

There are some things we will need from Spotify in order to achieve the interface presented above.

1. A place to store Docker images. e.g. A Spotify controlled D

[2020-09-22 07:52] OrkoHunter opened #2548 "TechDocs: Implement semantic versioning for techdocs-container image"
We publish our [techdocs-container](https://github.com/spotify/backstage/tree/master/packages/techdocs-container) on [DockerHub: spotify/techdocs](https://hub.docker.com/r/spotify/techdocs)

Currently, we do not have tags/versions on this image. So, we are unable to lock to a version of the container image and the `latest` is always pulled. This could potentially break on new builds.

To do: Publi

[2020-09-22 08:10] stefanalund commented on #2540
Another related issue: https://github.com/spotify/backstage/issues/373

[2020-09-22 08:22] Rugvip commented on #2540
@dtuite @martina-if what's your thinking around what would be part of the docker images you want to store?

Regarding helm charts, we could also rely on `raw` GitHub URLs for now right? Same question here though, what would the helm charts actually include?

[2020-09-22 08:44] mclarke47 opened #2549 "Kubernetes plugin: Add initial plugin boilerplate for kubernetes service catalog integration"
- [x] Add initial ui plugin boilerplate
- [x] Add initial backend plugin boilerplate
- [x] Set up ui plugin in service catalog
- [x] Off and not included by default

Part of https://github.com/spotify/backstage/issues/2461

[2020-09-22 08:46] mclarke47 opened #2550 "Kubernetes plugin: Add support for finding the cluster a service is on"
This should include:
- [x] A list of clusters in a config file
~- [ ] The ability to use a HTTP GET request to get the cluster by service-name~
- [x] An extendable interface to add more implementations in the future
- [x] Any necessary tests

Part of https://github.com/spotify/backstage/issues/2461

[2020-09-22 08:49] mclarke47 opened #2551 "Kubernetes Plugin: Add kubernetes client"
- [x] Add a kubernetes client to call the cluster returned from https://github.com/spotify/backstage/issues/2550
- [x] Any necessary tests

Part of https://github.com/spotify/backstage/issues/2461

[2020-09-22 08:51] mclarke47 opened #2552 "Kubernetes plugin: Add cluster authentication"
- [x] Add ability to translate g cloud auth to K8S credentials
- [x] Add ability to configure service accounts to be used for a cluster in a configuration file
- [x] Add an interface so that more implementations can be added
- [x] Add any necessary tests

Part of https://github.com/spotify/backstage/issues/2461

[2020-09-22 08:53] mclarke47 opened #2553 "Kubernetes plugin: Add initial UI components"
Create the following react components:
- [x] Cluster
- [x] Pod
- [x] replica set
- [x] deployment
- [x] HPA
- [x] service
- [x] ingress
- [x] configmap
~- [] secret~
- [x] Add any necessary tests

Part of https://github.com/spotify/backstage/issues/2461

[2020-09-22 08:59] dtuite commented on #2540
@Rugvip

You mean like this?

[code]

I expect that would work. I haven't tested it yet.

[2020-09-22 09:09] Rugvip commented on #2540
@dtuite yeah that, to get started anyway

[2020-09-22 09:15] stefanalund commented on #2540
@dtuite please consider that Backstage is being donated to the CNCF and that we would want to move away from Spotify dependencies.

[2020-09-22 09:29] martina-if commented on #2540
Probably an image for each piece: backend, frontend and lighthouse plugin to start with.

- deployment, service, configmaps, etc. for Backstage backend
- deployment, service, configMap, etc for Backstage frontend
- deployment, service, etc. for lighthouse backend plugin
- ingress and optional auto generated certificate
- optional postgresql dependency. The alternative would be to configure the con

[2020-09-22 09:38] tkrop commented on #2397
Since we got no feedback on how to proceed for the community, we implement an internal solution for now.

[2020-09-22 09:41] martina-if commented on #2540
Hosting the charts with [Github pages](https://helm.sh/docs/topics/chart_repository/#github-pages-example) should be quite simple. Do you think this could be a good option here?

[2020-09-22 09:51] Rugvip commented on #2397
@tkrop alright, probably best way forward for now for you to get unblocked. A proper implementation in the config system is a bit more work.

The way forward imo is to start by making the `ConfigReader` be backed by a mutable state that is shared or otherwise connected with the output of `@backstage/config-loader`. After that we could look at options around watching/polling/observing config.

[2020-09-22 10:05] Rugvip commented on #2540
@martina-if What is the purpose of the backend and frontend images? is to provide an up-to-date demo deployment of the example app in this repo? If the goal is for actual deployment and use by organizations, is the plan to wrap them up in additional layers to make it possible to select which plugins to include?

[2020-09-22 10:35] tkrop commented on #2397
@Rugvip sound a great way to proceed. But I'm also a bit scared. We have realized that most components extract and store there configuration internally during setup. To have this changed consistently is a lot of work.

Please feel free to close this issue.

[2020-09-22 10:38] Rugvip commented on #2397
@tkrop yep, and it's likely not reasonable to require all configuration to be watchable. I think enabling the possibility would be the first step, but then we'd have to do more targeted changes to support on-the-fly changes of specific config values.

It does add a bunch of friction to the implementation of features if you have to support config updates, so tbh I think it's good to not require it

[2020-09-22 10:49] martina-if commented on #2540
@Rugvip I think, initially at least, yeah, they would provide a demo deployment of the example app. I guess then each company can use these charts as a starting point for their own charts for their own backstage app.

I haven't looked into customizing which plugins to include. What do you think we should do here? Perhaps limit the scope to a demo deployment?

[2020-09-22 11:15] martina-if commented on #2540
Regarding hosting the charts. Given what stefan mentioned about Backstage being donated to CNCF, it's probably better that the charts live inside the backstage repo under `charts/backstage`, for example. As an example, [flux](https://github.com/fluxcd/flux/tree/master/chart) and [ArgoCD](https://github.com/argoproj/argo-helm/tree/master/charts) do it the same way.

[2020-09-22 11:36] freben commented on #2540
possibly `contrib/helm`?

[2020-09-22 12:14] emmaindal opened #2558 "Low color contrast between text and background on Template Cards"
Would be awesome if we can increase the color contrast between text and background on these cards to improve readability.

![Screen_Shot_2020-09-15_at_8 17 29_PM](https://user-images.githubusercontent.com/25153114/93880240-70e13200-fcdd-11ea-98fc-2c4a4a9ba56d.png)

[2020-09-22 12:15] emmaindal commented on #2558
cc @katz95 @nikek feel free to add more information to this issue

[2020-09-22 12:22] #2323 closed

[2020-09-22 13:46] Rugvip commented on #1984
@GoWind A lot of work towards this has been merged into master now, for example https://github.com/spotify/backstage/pull/2268, https://github.com/spotify/backstage/pull/2293 and https://github.com/spotify/backstage/pull/2393. Remaining work involves coming up with a decent way to expose things to the backend properly

[2020-09-22 13:55] mijailr commented on #2558
If we can relate this to #2488 should be great, since this part is lacking on the customization of the look and feel.

[2020-09-22 14:47] #2549 closed

[2020-09-22 15:17] emmaindal opened #2564 "TechDocs: Create a new inject css transformer"

[2020-09-22 15:30] OrkoHunter commented on #2564
Will this issue be closed by #2560 ? We can update the description of #2560 if yes.

[2020-09-22 19:14] sterlingwes commented on #659
@miixell would love to help with this. Curious how you're getting release status from Google Play? Their documented API is quite limited to the release workflow ("edits") and not so much for querying status unless you retain those identifiers

[2020-09-22 20:41] taras opened #2566 "OpenAPI spec for the REST API"
## Context

An organization that I'm working with is considering adopting Backstage as their developer portal. One of the hard(ish) requirements that they have is that all services that we consume provide an API specification. This requirement exists because the infrastructure team needs to automate communication with services. If a specification is available, then they can use code generators to

[2020-09-22 21:47] andrewthauer commented on #2566
I ran across this project the other day that could be of some use when using a code first approach: https://github.com/bee-travels/openapi-comment-parser.

However, I agree that using annotations or a middleware would be more preferable.

[2020-09-23 06:48] mfrinnstrom commented on #2494
Azure DevOps supports this as well and it would be nice to have this support there as well.

Just adding this comment here so that we hopefully can build something generic.

[2020-09-23 07:51] emmaindal commented on #2564
yes please do! @OrkoHunter

[2020-09-23 10:50] taras commented on #1806
Not sure how far along this is but for what it's worth, Apollo Federation could be a very good solution for Backstage. Happy to talk about it if you're interested.

[2020-09-23 11:26] taras opened #2572 "Ability to dynamically fetch API spec definition from a URL or a built file"
Our organization uses GraphQL federation. We have a bunch of services that are federated into a single gateway.
We would like to show schema from these services in the catalog. We use [Nexus](https://nexus.js.org) to express schema as TypeScript and compile the TypeScript to GraphQL SDL.

## Feature Suggestion

We need a way to get the schema from the result of a build. In our case, the schema for

[2020-09-23 11:34] mfrinnstrom opened #2573 "cli: backend build-image doesn't add the app to the image"
## Expected Behavior

I was expecting the app to be packages into the container image that is built for the backend when running `yarn build-image`. I'm trying to build an image that serves the frontend from the backend. That parts works when running it locally.

## Current Behavior

I get the following error message:
[code]

## Possible Solution

Not really sure how everything is done but one pos

[2020-09-23 12:29] dtuite opened #2574 "[RFC] Plans for the support buttons"
We're building a few Backstage plugins and following the patterns we find in the Circle CI plugin and other existing plugins that the community has developed.

Each plugin seems to come with a Support Button in the top right corner.

![screenshot of the support button from the lighthouse plugin](https://user-images.githubusercontent.com/562403/94011896-f88f7500-fd9f-11ea-9778-a779dad5fd7f.png)

Cu

[2020-09-23 12:57] miixell commented on #659
@sterlingwes Hi! We've already implemented the plugin(just fine tuning it now). Like it said in the description, we're retrieving the status through their API by using a backend service. Thanks for offering to help! 🙏

[2020-09-23 13:04] Rugvip commented on #2573
@mfrinnstrom Did you add the app as a `dependency` is `packages/backend/package.json` as well?

[2020-09-23 13:13] benjdlambert commented on #1503
Probably want to look at enabling extra publishers to be in from the source template to though annotations.

[2020-09-23 13:14] benjdlambert commented on #1503
Or maybe adding the concept of hooks to be defined in the source template which are executed around the stages.

[2020-09-23 13:22] Fox32 commented on #2572
Yeah allowing to load the definition from a url is something we would like to implement too. But I would prefer to reuse the location processors for this: It would be useful to load the definition from locations like GitHub repositories, files, or other locations too.

I hope this is something we can completely implement in the processors, so that we load the definition into the entity.

[2020-09-23 13:56] benjdlambert commented on #2478
Can we close this now? Think it should be fixed part of the release we made recently.

[2020-09-23 13:58] freben commented on #2572
Yeah my initial rough idea was that you could define that API as something along the lines of

[code]

Note the annotation. And then a processor would inject the actual definition based on what was introspected from that endpoint.

For schemas that are next to the `catalog-info.yaml` file, one could have an annotation `backstage.io/file-source: ./openapi.json` or something like that. We could make

[2020-09-23 14:02] Fox32 commented on #2572
I guess a processor based approach would do that automatically, as the entities are reevalutated on every update loop?

[2020-09-23 14:06] taras commented on #2572
@freben your suggestion above sounds like it could work well.

Is this something that we could implement now or are there blockers?

[2020-09-23 14:06] garyniemen commented on #2447
What I think would be nice is that when users create a docs only repository they get a choice of which doc template to use and this template is then neatly configured in the repository. For example, they might choose a tutorial template or an architecture design template. I can imagine new templates getting added over time.

[2020-09-23 14:12] freben commented on #2572
That can be implemented today. What isn't there is

- A more helpful code structure for injecting custom processors (you can, just a couple unwieldy lines of code)
- Standard annotation names that are well known and useable for multiple purposes (you'll have to invent some annotation, possibly the one i suggest above is decent)

[2020-09-23 14:17] Fox32 commented on #2572
I think that's the biggest issue right now.

[2020-09-23 14:18] Fox32 commented on #2572
That was not the "cancel" button 😆

[2020-09-23 14:21] freben commented on #2572
Does it require auth or so? I was hoping that it was directly reachable (from the deployed catalog backend's point of view) so you could just call it directly from the processor :)

[2020-09-23 14:24] taras commented on #2572
In our particular situation, introspection doesn't require authentication.

[2020-09-23 14:28] freben commented on #2572
Cool. Otherwise, as I mentioned I wouldn't be averse to adding a new `context` parameter that essentially has a `read` method [in here](https://github.com/spotify/backstage/blob/master/plugins/catalog-backend/src/ingestion/LocationReaders.ts#L221) down the line so the readers get that new ability.

[2020-09-23 14:29] freben commented on #2572
(but maybe that doesn't help specifically the graphql introspection thing, that's a more complex request chain isn't it)

[2020-09-23 14:30] taras commented on #2572
Where is this?

`backstage.io/graphql-schema-source` sounds good

[2020-09-23 14:36] Fox32 commented on #2572
I guess in this graphql case it's planned to load the spec directly from the running service. But in our case we would like to load them from GitHub, so having the same flexibility as for normal entity loading would be nice here.

But if one don't need it, a custom processor should be possible already and easy to inplement.

You can pass them here:

https://github.com/spotify/backstage/blob/master

[2020-09-23 14:40] #2399 closed

[2020-09-23 14:40] #2463 closed

[2020-09-23 14:40] #2564 closed

[2020-09-23 14:45] freben commented on #2572
they are given to LocationProcessors https://github.com/spotify/backstage/blob/master/plugins/catalog-backend/src/ingestion/LocationReaders.ts#L97 (order is important, you want yours to be after reading but before validation)

[2020-09-23 14:45] freben commented on #2572
too slow!

[2020-09-23 14:58] therealadum commented on #2504
Closing after PR merge

[2020-09-23 14:58] #2504 closed

[2020-09-23 15:38] emmaindal opened #2579 "The techdocs-container on DockerHub uses the readme from the root of the Backstage repo instead of the package readme's. The techdocs-core plugin published to pypi uses no readme."
We should be more specific here and point to the readme for the actual package instead of the general backstage readme.

- [x] techdocs-core to publish [this README](https://github.com/spotify/backstage/blob/master/packages/techdocs-container/techdocs-core/README.md) to pypi. #2578

- [ ] techdocs-container to publish [this README](https://github.com/spotify/backstage/blob/master/packages/techdocs

[2020-09-23 15:43] hooloovooo commented on #2579
The techdocs-cli looks correct here. https://www.npmjs.com/package/@techdocs/cli
It it a bit misleading though that issues and PRs points to all issues and PRs in backstage though, but that might be hard to get around.

[2020-09-23 15:44] emmaindal commented on #2579
@hooloovooo oh that's correct, for that one it was links etc, will update the issue

[2020-09-23 16:36] mfrinnstrom commented on #2573
@Rugvip I really thought I had tried that, it seemed like the logical thing to check. I must have messed up or something else was off. It works now though. Thank you for your help.

[2020-09-23 16:36] #2573 closed

[2020-09-23 17:23] therealadum opened #2581 "GitLab Processor: support provider options (similar to GithubReaderProcessor.ts)"
## Add Provider Configuration for GitLab Processor
Currently, the `GitlabReaderProcessor.ts` does not support additional parameters such as target or apiBaseUrl.

## Possible Implementation
Copy the providerconfig and implementation from GithubReaderProcessor in a way that makes sense for GitlabReaderProcessor.

## Context
Access a self-hosted gitlab instance with a custom url that doesn't match t

[2020-09-23 17:44] freben commented on #2581
Yep! Thanks. Do you want to get assigned to it as well?

[2020-09-23 18:32] therealadum commented on #2581
Works for me! PR incoming

[2020-09-24 04:01] RochesterinNYC commented on #2552
Continuing discussions/brainstorming on the auth piece in this public issue here.

Although there are a lot of Kubernetes and related docs/blog posts and etc. on auth-ing to the Kubernetes API via Certificates, Certificate Requests, and the like, it seems that the Kubernetes API on a GKE cluster is able to accept Google auth tokens as the auth token used in the `Bearer` header.

Here's an illustra

[2020-09-24 04:07] RochesterinNYC commented on #2552
With that in mind, it seems like we can simply use the Google auth token that Backstage authentication with GCP/Google will return. A specific token is only valid for about 30 minutes, but I'm guessing that the Google authentication piece of Backstage will have or already has logic for refreshing the token based off of the refresh token that gets returned by Google on initial auth/this isn't reall

[2020-09-24 08:18] katz95 commented on #2266
Great work so far! Thanks for your work so far. Attaching an image of a design for this particular error state. You can access it the specs here https://www.figma.com/community/file/850673348101741100

![Entity not Found](https://user-images.githubusercontent.com/61153904/94119226-e91b3500-fe4e-11ea-9c94-d0a6f3073b92.png)

[2020-09-24 08:18] mclarke47 commented on #2552
That's great news! Sounds like we'll just need to get the ui plugin to send it to the backend plugin and add a way to configure the backend to expect the auth to come from the ui

[2020-09-24 09:35] freben commented on #2391
I would like to settle at least #1964, #1947, #1401, and possibly (not sure if needed) #2001 before declaring v1. In particular I think that #1964 may greatly affect the way we look at the entity declaration files and what data needs to go into them - Groups and Users may change entirely in what amount of data they have to put in, for example.

[2020-09-24 09:56] Rugvip commented on #2552
@RochesterinNYC Yep, tokens are very much refreshed, just gotta be sure to ask for a new one for every request and not store it in a class field e.g.

Sounds like a good starting point though! It kinda forces out the most granular design where there's separate auth for every request

[2020-09-24 12:18] #963 closed

[2020-09-24 13:43] benjdlambert commented on #2537
hey @saranyavignesh2123 is there any way to get some more logs from this? thanks!

[2020-09-24 13:46] mclarke47 commented on #2553
What about something like:

![Untitled drawing](https://user-images.githubusercontent.com/6514980/94153475-bb48e700-fe74-11ea-90cb-2fbd1ea4b7ac.png)

[2020-09-24 13:47] martina-if commented on #2540
@stefanalund @Rugvip A couple more details regarding the potential dependencies of a demo installation:

- ingress would be done through [ingress-nginx](https://github.com/kubernetes/ingress-nginx/tree/master/charts/ingress-nginx). This means that for the demo setup to work we would require this controller to exist in the cluster.

- DNS: I think there should be a way to deploy the demo backstage

[2020-09-24 13:48] mclarke47 commented on #2553
In terms of k8syaml above, it would probably be more like the fields beside their documentation. Not so much a form where you can edit it etc...

[2020-09-24 14:09] Rugvip commented on #2540
@martina-if Those things aren't very Backstage specific, so it may be worth finding an external guide to base the entire thing on and mainly reference that. It's really just a single (or two) containers with external access right?

Nginx ingress + ExternalDNS + and cert-manager all seem like sane choices, although an option could be to use Traefik for ingress as it has native support for Let's Enc

[2020-09-24 14:35] hooloovooo opened #2594 "Troubleshooting in docs."
Issues so far:
 * Local git configs affect backstage. Write documentation!

[2020-09-24 15:01] dtuite commented on #2540
That sounds like approval to me! 😄

[2020-09-24 15:11] Rugvip commented on #2540
Well yes xP

[2020-09-24 15:22] hooloovooo opened #2596 "Use DiscoveryApi to find the catalog API route in techdocs-backend router."

[2020-09-24 15:26] Rugvip commented on #2596
Would be https://github.com/spotify/backstage/issues/1847 right? 😅

[2020-09-24 16:21] mclarke47 commented on #2551
Closed by https://github.com/spotify/backstage/pull/2571

[2020-09-24 16:22] #2551 closed

[2020-09-24 16:22] mclarke47 commented on #2550
Mostly done in https://github.com/spotify/backstage/pull/2571

Will do the HTTP implementation in another PR

[2020-09-24 19:38] themousepotato commented on #2416
@OrkoHunter I've made a custom progress bar component for techdocs in PR #2598. Let me know if that works :sweat_smile:

[2020-09-24 20:57] kernelgonnapanic commented on #949
Hi! I am new to the repo, but I would like to work on this issue (adding tests to the CircleCi plugin). I plan to inspire myself by a test setup from some other plugin to keep consistency.

[2020-09-24 21:07] Rugvip commented on #949
@kernelgonnapanic Thanks, and welcome! :grin:

[2020-09-24 21:45] #2594 closed

[2020-09-24 22:03] Rugvip commented on #2287
Fixed by https://github.com/spotify/backstage/pull/2562

[2020-09-24 22:04] #2287 closed

[2020-09-25 06:05] stefanalund commented on #2566
Does it have to be automated from the beginning, or could we start with a manually edited file?

[2020-09-25 06:50] freben commented on #1947
Closed by #2532

[2020-09-25 06:50] #1947 closed

[2020-09-25 06:51] freben commented on #1401
Closed by #1838, #2587; further iterations on that basis will be handled in separate PRs/RFCs

[2020-09-25 06:51] #1401 closed

[2020-09-25 07:43] OrkoHunter commented on #2518
@saranyavignesh2123 I wonder if you are still facing the problem with TechDocs on Windows. I'll close this issue right now because it is unclear what the exact problem is. But feel free to jump over on our Discord (#docs-like-code channel) or create another issue.

[2020-09-25 07:43] #2518 closed

[2020-09-25 08:08] benjdlambert commented on #2447
Hey @emmaindal, we spoke about this ticket at standup today, it's related to a lot of peoples usage about it, I'm thinking of booking a meeting next week to flesh out some ideas about how we can make this API open to people for use everywhere. Will invite you to the meeting.

[2020-09-25 08:12] benjdlambert commented on #2478
@emmaindal @OrkoHunter @tjperry07?

[2020-09-25 08:13] benjdlambert commented on #2574
Hey @katz95 have you had any thoughts about what this looks like in Backstage? Would lifting over the behaviour from the internal ones work?

[2020-09-25 08:14] benjdlambert commented on #1806
Hey @taras, we'd ideally like to avoid federation, and have opted for an approach like https://github.com/Urigo/graphql-modules. Currently this library is implemented, but it might not stick around. We end up creating a thinner version ourselves, and the DI might be a little overkill.

[2020-09-25 08:15] benjdlambert commented on #2494
Hey, could you add you usecases and maybe some possible solutions to this RFC that we've currently got ongoing?

https://github.com/spotify/backstage/issues/2447

[2020-09-25 08:17] benjdlambert commented on #2534
@shmidt-i could you maybe take a look at @rajatdiptabiswas question? Where does this code come from?

[2020-09-25 08:17] hooloovooo commented on #2596
Ohhh it's not implemented yet. Leaving in the backlog column for now. :)

[2020-09-25 08:25] timja commented on #2447
Just extending the scope as Ben asked for more usecases in extending the scaffolder:

1. Branch protection for the default branch

Either add by default or add some configuration that allows you to set it up.

In our case our default setup is:

* Protect default branch
* require review 1
* include administrators

2. Post create hook

We have org specific functionality that we would like to do for

[2020-09-25 08:50] marcuseide commented on #2179
@ayshiff Hey, me and @samiramkr are going to pick this up, hopefully you haven't started yet (if so, give us a shout and we can coordinate).

[2020-09-25 08:52] shmidt-i commented on #2534
Of course!

So we are talking about the @backstage/plugin-github-actions package which is located in `plugins/github-actions`. I think mainly there are 2 points of interest - `plugins/github-actions/src/components/WorkflowRunStatus/WorkflowRunStatus.tsx` - there is no failed case atm, but that doesn't give explanation about why they all are just green, cause the default case supposed to be `Status

[2020-09-25 08:57] BA1RY commented on #2266
@katz95 Thank you. It looks great.
@shmidt-i Do you want a page specifically for 404 Entity not found or a general Error page which can be used to show all errors related to catalog?

[2020-09-25 09:05] #1735 closed

[2020-09-25 09:08] ayshiff commented on #2179
@marcuseide Yes, no problem ! I haven't started working on it

[2020-09-25 09:09] benjdlambert opened #2601 "Scaffolder: Call the Catalog API instead of getting passed the template"
## Feature Suggestion
Right now, the Scaffolder gets called with the catalog entity which is to be templated. This should be replaced with a call to the catalog API to get the most recent and up to date version of the Template entity.

## Possible Implementation
Using the tooling available when https://github.com/spotify/backstage/issues/2600 is merged, use call the the catalog API, and update the

[2020-09-25 09:19] #2572 closed

[2020-09-25 09:26] adusumillipraveen commented on #2447
Not sure if these belong here as they are to do with UI. But, it would be good to consider these minor UX improvements:

-  Have owner pre-populated with the user creating the repo.
-  Have Jenkins org pre-populated while creating the repo.

[2020-09-25 10:27] hooloovooo commented on #2447
How about allowing the scaffolder to run on existing repositories (probably according to some rules defined in the templates)? This would also provide a easy way to add functionality such as logging, docs etc to existing services.

[2020-09-25 10:31] Rugvip opened #2604 "[RFC] Remove `type` from Catalog Locations"
**Status:** Open for comments

## Need

Catalog locations are quite awkward to work with, as they are heavily tied to the processing in the catalog, even in places where you wouldn't expect the user to have to care about such things. For example, when registering a new component in the catalog, you have to know what type of location to select. There's an "Auto-detect" option, but that's backed by

[2020-09-25 10:46] andrewthauer commented on #1806
Hey @benjdlambert - I'm curious to understand the pros & cons of apollo federation vs graphql-modules myself. Would this discussion happen to be in another issue or elsewhere?

[2020-09-25 10:46] iain-b opened #2605 "Lighthouse plugin widgets/cards & entity integration"
I'd like to add some features to the Lighthouse plugin and was hoping to get some input before I get too far into implementation.

## Feature Suggestion

1. Add a Last Audit widget/card (not too sure what the preferred naming is for these) which could be displayed on the overview page for website components.
2. Add a Lighthouse tab to website components where detailed audit information is displaye

[2020-09-25 10:55] benjdlambert commented on #2447
@hooloovooo yep, similar to the codemod usage that we have internally. It’s something we also discussed with the guys over at Trviago too. The source would be an existing repo, and the publishing step would be a PR to that repo. More to come with that I think

[2020-09-25 10:57] freben commented on #2604
My mental model is that processors would just be matching on string prefix, and that's that. :) What prefixes you match may be part of your config, or not - the github processor may be configured to match on both `https://github.com` and `https://git.example.com`, but the ldap one maybe only ever matches on `ldap:` and has a forced hostname as part of its "contract" for the string syntax. If you d

[2020-09-25 10:58] stefanalund commented on #2605
@javoire @fastfrwrd may have opinions about this.

[2020-09-25 10:59] hooloovooo commented on #2447
@benjdlambert If we extend that to allowing several templates to be run at once when we first create the new component and be included in the initial commit it would be more or less the same as extending a template.

[2020-09-25 11:00] benjdlambert commented on #1806
@andrewthauer its something we’ve been contemplating internally so I don’t think the docs are on public GitHub. Let me see if I can get back to you with some reasoning. Happy to discuss again if something has changed too

[2020-09-25 11:01] Rugvip commented on #1806
@andrewthauer Discussion happened on Discord, but in voice, so bleh :<

Apollo federation we think works well for stitching of large schemas where things are tied in through IDs. In this case I think we're looking more at stitching together much smaller pieces, usually individual resolvers, especially things like lookups based on annotations in entities etc.

One of the main reasons would be to sh

[2020-09-25 11:06] Rugvip commented on #2604
@freben Yeah plain prefix hopefully works just fine too. Bit wary of not fully matching the hostname in case of `example.com.bad.site.com` kinda things, but as long as we can handle it properly it'll simplify the implementation and configuration quite a bit.

[2020-09-25 11:32] #1847 closed

[2020-09-25 11:33] Rugvip commented on #2596
Fixed in #2600

[2020-09-25 11:33] #2596 closed

[2020-09-25 12:22] stefanalund opened #2608 "[bug] starting the backend fails after creating a new App"
I'm on https://backstage.io/docs/getting-started/create-an-app trying to create a new App. The frontend starts, but not the backend:

[code]

[2020-09-25 12:24] benjdlambert commented on #2521
@taras did you manage to update the docs for this?

[2020-09-25 12:27] shmidt-i commented on #2266
@BA1RY let's start with 404 Entity not found and then can add a general error page for the catalog as a next step ;)

[2020-09-25 12:29] benjdlambert commented on #2608
What would be the better solution here @stefanalund? Document that that a Github Access Token is required to start the backend, or not enable github support for the scaffolder without the token?

If it's the latter, then I think some of this work makes this easier https://github.com/spotify/backstage/issues/1503.

It comes from the initialisation of the publishers I think.

[2020-09-25 12:31] benjdlambert commented on #2608
And how we by default have the github publisher enabled by default. I can probably remove that check for now and not add it as a publisher if no token is provided.

[2020-09-25 12:32] stefanalund commented on #2608
Not sure. I feel like the backend should at least not fail to start.

[2020-09-25 12:37] shmidt-i commented on #2608
We have it already in the example-backend, but I think long term better to show something in the frontend, like `Oops, you didn't provide a valid configuration, here is docs reference` kind of a thing

[2020-09-25 12:55] hooloovooo commented on #2604
If we're going this route, wouldn't it make sense to remove the prefix entirely and let the annotation name specify what it is?

[2020-09-25 13:03] #2245 closed

[2020-09-25 13:04] freben commented on #2604
Bear in mind that these are the locations that you add into the catalog, to tell it where to get entities. So it's the URL that you as a user paste into the Backstage interface to register a new entity. The suggestion is to just send that plain to the backend, without trying to infer some higher level type of location before doing so, and the backend processors should just know how to deal with th

[2020-09-25 13:09] #2608 closed

[2020-09-25 13:41] andrewthauer commented on #1806
All good. More curious than anything else at this point.

[2020-09-25 14:10] fastfrwrd commented on #2605
@iain-b these both are wonderful ideas.

Storing the website url on the catalog is actually what we do internally with our legacy catalog system, so this is a very welcome feature. A note: you potentially want to consider making the url/lighthouse "target" an array, because there's no reason why a single website may not want many lighthouse reports. There are also other features attached to our li

[2020-09-25 14:15] andrewthauer commented on #2604
Seems cleaner to me if it is handled on the backend. If a user is manually registering a URL from the UI would they also specify the location protocol? Or would that be omitted and inferred though the scheme and/or host?

[2020-09-25 14:24] freben commented on #2604
The latter. The idea here is to remove that complexity that you speak of and let the backend be smarter in knowing how to handle things.äs

[2020-09-25 18:33] Niraj-Fonseka opened #2622 "[Plugin] Jira plugin"
## Summary

A plugin to visualize Jira data such as tickets open, closed , blocked , sprint progress etc

## Project website

https://www.atlassian.com/software/jira

## Context

Giving teams the visibility into how they are performing when it comes to feature delivery and tying that in with any service data can be pretty valuable.

[2020-09-25 18:34] Niraj-Fonseka commented on #2622
I'm happy to work on this and happy to work with anyone else if they are interested

[2020-09-25 18:52] BA1RY commented on #2266
@shmidt-i Got it.
@shmidt-i @katz95 I just made a PR. Please have a look at it and let me know if there are any corrections to be made. Thanks a lot.
Also, is the favorite icon necessary as the entity itself is not present?

[2020-09-25 19:00] stefanalund commented on #2605
@fastfrwrd would you mind opening a new issue for that conversation?

[2020-09-25 20:42] #615 closed

[2020-09-25 20:54] stefanalund commented on #2622
Nice! I’ve assigned you. Looking forward to seeing this!

[2020-09-26 05:46] rajatdiptabiswas commented on #2534
Hi @shmidt-i

Thanks for the response.
I'll look into the files and try getting it fixed.

Thanks.

[2020-09-26 06:08] mfrinnstrom commented on #2447
I'm liking all of the ideas in this thread. I will just add my thoughts even though most of them have been mentioned before.

* I really like the thoughts around layers and being able to pull in parts from other repos to construct your template.
  * We want to have a separate template for docs and then other ones for infrastructure and pipelines
  * I'm not sure how parameters should be handled th

[2020-09-26 07:06] freben commented on #2447
It could be inspiring to look at how [Github actions](https://docs.github.com/en/free-pro-team@latest/actions/creating-actions) are constructed.

I would love to be able to express on a more general form:

- check out repo X
- run cookiecutter
- run doc generator based on Y
- run custom org specific post action
- create repo with results

And then some other workflows may have "create PR" as the l

[2020-09-26 11:11] themousepotato commented on #2458
@OrkoHunter Created a minimal fix in #2624.

[2020-09-26 13:50] rajatdiptabiswas commented on #2534
Hi @shmidt-i

I took a look at the files that were related to the screenshots you posted.
Would you kindly tell me the steps necessary to recreate the bug as shown in your screenshot?

I can't seem to understand how to create the failing build with the CRA template.
Would a guest account on the backstage example app be enough to debug this?
It's showing a `Failed to fetch` error on most pages.

I'

[2020-09-26 16:09] benjdlambert commented on #2447
I think the real issue with a lot of the flexibility right now comes from the fact that the source has to live with the template definition. Which means if you want to create different steps, you have to duplicate the source.

It would be really useful to define these seperately, so you could define the template flow and have the template skeleton somewhere else to be reused.

You could define the

[2020-09-26 16:10] benjdlambert commented on #2447
These are all super useful use cases and comments, and is going to help us come a long way in improving the scaffolder! 👍

[2020-09-26 16:13] #2458 closed

[2020-09-26 16:16] benjdlambert commented on #2534
@rajatdiptabiswas you'll also need to run `yarn start-backend` too to get the backend up and running.

I'd recommend checking out this documentation to get everything running
https://backstage.io/docs/getting-started/running-backstage-locally

And also work through this documentation to get something running
https://backstage.io/docs/features/software-templates/software-templates-index

Then the s

[2020-09-26 17:30] #2416 closed

[2020-09-26 18:08] AnshuTrivedi commented on #2244
I want to work on this issue.
Please assign to me.

[2020-09-26 18:12] Rugvip commented on #2244
@AnshuTrivedi Thanks! 🎉

[2020-09-27 09:00] Marvin9 commented on #2031
I want to work on it.

[2020-09-27 12:46] BA1RY commented on #2525
Hi @Fox32 @freben , I would like to work on this. How would you want me to implement this?

[2020-09-27 13:03] rajatdiptabiswas commented on #2534
Hi @benjdlambert

Thanks a lot for the links and `yarn start-backend` command.
The software templates doc has been invaluable.

Please bear with me while I try my best to get this fixed!

[2020-09-27 19:16] LukvonStrom commented on #1988
@stefanalund @dtuite is there any possibility to help here as part of my Hacktoberfest participations?

And @iain-b If you integrate the service catalog with lambda functions, a reverse mapping from the lambda-native applications would be cool, which already indicate the relationships for some lambdas

[2020-09-28 05:51] saranyavignesh2123 commented on #2537
hey @benjdlambert The above log got generated whenever i tried to create a plugin using below command
yarn create-plugin
Second it will ask us to provide the plugin name- provided
Third it starts to install the plugin - Succeeded.
Fourth it starts  executing yarn lint --fix and then i got error as mentioned in above screen shot
Let me know if you need more details

[2020-09-28 09:55] iain-b opened #2634 "The CI/CD card on the example app component overview page should default to an empty state InfoCard"
Currently CI/CD widgets are not rendered on the EntityPage if a required annotation is not present.

## Feature Suggestion

Where there are no CI/CD annotations, display a card which makes the situation clear to the user and points them to documentation which explains how to correct the issue.

## Possible Implementation

The RecentCICDRunsSwitcher on the EntityPage should default to using an Empt

[2020-09-28 10:00] emmaindal commented on #2447
One thing on this part is that I definitely think the scaffolder should always be able to create a new repo if it doesn't exist. So that you not always have to have an existing repo.

[2020-09-28 10:20] katz95 commented on #2574
Good questions, @dtuite! And yes, @benjdlambert, I think we could just lift the behavior from our internal version, providing users with a couple of options that are customizable by the plugin owners.

<img width="388" alt="Screenshot 2020-09-28 at 12 18 27 PM" src="https://user-images.githubusercontent.com/61153904/94420756-e721e080-0184-11eb-924e-c2944c971864.png">

[2020-09-28 10:30] mclarke47 commented on #2550
I'm going to drop the http get for the initial milestone and we can add it in later. As no one will use it yet and I'm not a fan of having unused code in there.

[2020-09-28 10:30] #2550 closed

[2020-09-28 10:33] mclarke47 opened #2636 "Kubernetes plugin productionising"
Error handling:
- [x] Failed kubernetes cluster calls (500s)
- [x] Failed backend calls
- [x] Handling incorrect authentication config

Documentation:
- [x] Plugin documentation
- [ ] Add to plugin marketplace
- [ ] Documenting code and interfaces

...

[2020-09-28 11:53] Fox32 commented on #2179
Beside empty state, e.g. because of missing configuration, is there a UI suggestion how to display errors in widgets? E.g. transitive errors, or errors in the widget code itself?

[2020-09-28 11:55] katz95 commented on #2179
@Fox32 we're working on designing error states currently! :) will be creating an issue for that soon!

[2020-09-28 12:17] iain-b commented on #2605
@fastfrwrd Thanks for the feedback! I can certainly certainly support an array of targets (array of url strings). I know this isn't as sophisticated as your internal version but it gets us closer for now. The annotation would be something like:
[code]
I think something more complex could be achieved with a backend plugin but I'm aware I don't have much context as to what's required.

I'm questioni

[2020-09-28 12:22] GoWind commented on #1984
@Rugvip : Thanks! Just got back from a long vacation. I will take a look at the changes and maybe see if I can suggest some changes.

[2020-09-28 13:05] dtuite commented on #2574
The screenshot is great @katz95. Thanks.

For our plugins, I think we should do this:

 1. Create an email address where we can offer support to people, perhaps `feedback@roadie.io`.
 2. Link to any docs which are available, likely on GitHub or the roadie.io website.
 3. Link to the Backstage discord support channel since we don't have our own one.

StackOverflow is internal to Spotify I presume?

[2020-09-28 13:08] andrewthauer commented on #2605
@iain-b - I'm pretty sure that annotation values can only be strings. This is how it works in k8 and I the backstage docs seem to also indicate this. Maybe this could tie into the idea around #2628 ?

[2020-09-28 13:12] #2478 closed

[2020-09-28 13:13] dtuite commented on #1988
@LukvonStrom Hi! The open source repo for the plugin [is here](https://github.com/RoadieHQ/backstage-plugin-aws-lambda). We are more than happy to accept contributions so please do get involved, and I agree that a reverse mapping would be fantastic.

There is a relatively big change being worked on for the plugin right now https://github.com/RoadieHQ/backstage-plugin-aws-lambda/pull/2. We initiall

[2020-09-28 13:18] freben commented on #2605
yeah that was one of those fancy multiline strings that yaml supports :)

[2020-09-28 13:21] dtuite commented on #2605
In the interests of getting something useful out into the open quickly, we should probably just support one lighthouse report per website for the moment and build on that going forward. Does that sound ok @fastfrwrd?

[2020-09-28 13:21] mclarke47 commented on #2553
Decided to go for something very simple and then probably have a design session for the end goal UI.

[2020-09-28 13:23] mclarke47 commented on #2553
Also descoped secrets until we have proper authorization in place

[2020-09-28 13:44] freben commented on #2525
Hi,

This one may be a bit involved... What I can say to get going is that you want to look into the [EntityFilterGroupsProvider](https://github.com/spotify/backstage/blob/master/plugins/catalog/src/filter/EntityFilterGroupsProvider.tsx). It stores all of the currently selected filters. Among them you will see for example `selectedFilterKeys` and `selectedTags` that hold the state of what's select

[2020-09-28 13:54] fastfrwrd commented on #2605
I think it sounds fine to start with one. It's worth keeping all this in
mind to help make decisions that avoid boxing us in going forward.

On Mon, Sep 28, 2020, 9:21 AM David Tuite <notifications@github.com> wrote:

[2020-09-28 14:05] Rugvip commented on #2604
TL;DR: Let's keep `type`, but consolidate most of out different readers into a `url` type.

Discussed this a bit more on Discord. We're thinking that a good middle ground would be to keep the `type` in the `Location` entity `spec`, and instead add a separate concept for generic data fetching from URLs, basically something that implements `(url: string) => Promise<Buffer>`. That facility would then

[2020-09-28 14:19] freben commented on #2604
`backstage.io/definition-at-location` may also be supplanted by #2628, which in turn will use the mentioned URL reader

[2020-09-28 14:32] Rugvip commented on #2574
Most likely "IT department", or more like "owner of the plugin inside the org". I don't think we should expect plugin authors to provide first-line support for their plugins. The support requests won't come from Backstage developers or maintainers much, and more likely from any employee at a company.

Would be lovely to bake feedback into it though, and that could have a more direct connection to

[2020-09-28 14:34] Rugvip commented on #2574
Yep, makes sense, could probably label it feedback too.

This may not be very helpful for end users, unless you also have end user docs ofc.

We may want to create a separate user-support channel or similar for this.

Yup

[2020-09-28 15:40] dtuite commented on #2574
Cool. Feels like that's enough ideas for the moment. Let's close this for now.

[2020-09-28 15:40] #2574 closed

[2020-09-28 18:33] #2553 closed

[2020-09-28 19:37] rajatdiptabiswas commented on #2534
Hi @benjdlambert

Fixed the `Failed to fetch` errors, thanks to your `yarn start-backend` tip.

Tried creating components several times using `Create... > Create React App Template` on the website. They took a long time and would eventually fail.

Installed Docker. Tried running `yarn run docker-build:app`, `yarn run docker-build`, `docker run --rm -it -p 7000:7000 -e NODE_ENV=development example-

[2020-09-28 19:46] #688 closed

[2020-09-28 20:24] brendasukh opened #2644 "[cost-insights] Data-driven verbiage to support other/multiple cloud providers"
## Feature Suggestion
The language on the Cost Insights page should reflect the cloud provider(s) that generated cost. Since cost data may come from different cloud providers (e.g. Google Cloud, AWS, Azure) or a combination of providers, the language should accurately reflect terminology used by the cloud provider.

It’s preferable to use the term `label` for Google Cloud and `tag` for AWS, for ex

[2020-09-28 20:25] brendasukh opened #2645 "[catalog] Add cloud billing entity (e.g. GCP project) support to the catalog plugin"
## Feature Suggestion
Update catalog plugin to support cloud billing entities to track ownership of cloud resources.

## Context
The catalog plugin tracks software ownership and metadata for an organization. There is an additional need to track ownership of cloud resources. At Spotify, this ownership is tracked at the level of cloud billing entities, such as GCP projects.

Adding support for billi

[2020-09-28 20:26] taras commented on #2572
👋 you guys are amazing

![](https://media.giphy.com/media/3ohhwr4hfOHIRvMki4/giphy.gif)

[2020-09-28 20:29] taras commented on #2566
It doesn't have to be automated. Having an OpenAPI spec for services included out of the box could be a good start.

[2020-09-28 20:29] brendasukh opened #2646 "[cost-insights] Associate/replace Cost Insights entities with entities from the catalog plugin"
## Feature Suggestion
Cloud costs should be tied to the software catalog entities that incurred the cost.

## Possible Implementation
Update `Entity` in cost-insights to use `Entity` from the catalog plugin.

## Context
Cost Insights currently has its own Entity definition; this should instead reference catalog entities where possible. This will enable cloud costs to be shown on pages for catalog

[2020-09-28 20:29] taras commented on #1839
Closed by #2437

[2020-09-28 20:29] #1839 closed

[2020-09-28 20:41] freben commented on #2572
@taras however, see https://github.com/spotify/backstage/pull/2628 too which came after :)

[2020-09-28 21:15] benjdlambert commented on #2534
So it looks to me that you're trying to develop on backstage by using a copy of backstage that you made by using `npx @backstage/create-app`? Is that correct?

I think you were on the right track, but we've updated that template that you create by running that command a lot recently with different releases, if you wanting to develop on backstage we recommend you follow this guide https://backstage

[2020-09-28 21:57] taras commented on #2521
@Rugvip Currently, *local configuration* is mentioned in passing in "Configuration" -> "Writing Backend Configuration" -> "File Resolution".

I looked at a few places where *local configuration* could be mentioned.

For example, some options are,
1. In "Getting Started" -> "Running Backstage Locally" -> after "Clone and Build"
2. In "Getting Started" -> "Development Environment"
3. In "Getting Sta

[2020-09-28 22:15] muratkars opened #2648 "[Plugin] OpenEBS"
## Summary

- Be able to see the OpenEBS clusters and CRDs that are currently configured and available
- Display real time reports of available/consumed/total storage capacity under management
- Display and manage underlying storage devices & backend
- Be able to map those to components in Backstage
- Optional*: Topology view of your storage components
- Optional*: Display compliance issues and/or

[2020-09-29 06:50] JacobValdemar commented on #1401
I'll continue the conversation I had with @Rugvip in https://github.com/spotify/backstage/pull/2616 here 🙂 So basically my concern was that it to me seems a little bit weird to couple the identity to the Software Catalog. I think it makes sense to have identity in the Software Catalog if the plan is to have the Software Catalog as a starting point for just about every entity no matter what type it

[2020-09-29 07:02] freben commented on #1401
@stefanalund may elaborate on the wording of that product perhaps, but don't put too much emphasis on the "software" word. I just refer to it as "the catalog" in my mind :) From a philosophy standpoint, the catalog indeed matches what you say - it is the starting point for almost everything in Backstage; it is a pretty heavily entity focused solution, as opposed to tool focused. Most operations th

[2020-09-29 07:10] althafh commented on #1401
The discussion on the naming of the catalog can be seen in #2148 specifically the comment by stefanalund.

[2020-09-29 07:18] JacobValdemar commented on #1401
Thank you @freben and @althafh I now understand the reasoning behind this 🙂

[2020-09-29 07:40] benjdlambert commented on #2521
@alund, do you have a preference? 📓 👑

[2020-09-29 08:12] OrkoHunter opened #2652 "discuss: Inconsistency in GitHub/GitLab environment variable names"
In our `app-config.yml`, we seem to have variants of GitLab/GitHub environment variables  -

1. https://github.com/spotify/backstage/blob/f9fa53153e822042b76f34fb894541cf713e9cc9/app-config.yaml#L79
2. https://github.com/spotify/backstage/blob/f9fa53153e822042b76f34fb894541cf713e9cc9/app-config.yaml#L133
3. https://github.com/spotify/backstage/blob/f9fa53153e822042b76f34fb894541cf713e9cc9/app-conf

[2020-09-29 08:30] kiranpatel11 opened #2655 "node-git and node-gyp errors in `yarn install`"
node-git and node-gyp errors in `yarn install`

## Expected Behavior
Build should be successful after following the correct setup instructions as per the documentation.
e.g. Node v12, YARN as pre-requisites.

## Current Behavior
`yarn install` does not exit with success:

[code]

Potentially due to that, when backend is started using `yarn start`, it throws MODULE_NOT_FOUND error for node-gyp.

[c

[2020-09-29 08:39] Rugvip commented on #2655
Looks like an issue with python not being installed or unavailable.

Haven't seen any other reports of this. Do you have any particular setup that would cause python not to be available, or is it something that you in general have to make sure to also install?

[2020-09-29 08:58] rajatdiptabiswas commented on #2534
Hi again @benjdlambert

I deleted all my previous `git clone` files and started afresh.
I followed the steps given in https://backstage.io/docs/getting-started/running-backstage-locally.

Once the Example App was running, I logged in as `Guest` and created a new template using `Create... > Create React App` from the website.

`RUN THE TEMPLATER` completed successfully with the following message.
[

[2020-09-29 10:28] lowjoel commented on #1598
@andrewthauer @freben @Rugvip I'm planning on adding logic in backend-common/database for both Postgres and Sqlite to create a database if it doesn't exist.

For Postgres I can do this using knex without a default database (or the postgres database), and create a database per plugin, with the username and password to be that of the plugin. In other words, we will have the `backstage_plugin_catalog

[2020-09-29 11:44] benjdlambert commented on #2534
Yeah you'll net to get setup with a Personal Access token to be able to create the repositories in Github.

Take a look at these docs to get the scaffolder set up correctly.
https://backstage.io/docs/features/software-templates/installation

[2020-09-29 12:20] BA1RY commented on #2525
@freben  According to my understranding, entities in catalog should be filtered by using tags in URL. When filters are selected in catalog page, they should persist even after navigating to another page and backwards. Other filters like owned or starred, page in table should also be stored in the state. Please correct me if I'm wrong.

[2020-09-29 12:20] Fox32 opened #2662 "[Plugin] Component Scoring Plugin"
## Summary

While the features of Backstage itself might be a good way to make teams to register their components to Backstage, it might no be sufficient. One idea would be a linting / scoring / gamification plugin that has specific rules and give a score to a component. To make it more visible, an aggregated team score would be useful.

Inspiration could be the ["Pub Points" from the package mana

[2020-09-29 12:39] #2179 closed

[2020-09-29 18:52] rajatdiptabiswas commented on #2534
Tried a few of the steps in the documentation. Still no luck.
Will get back to this, first thing tomorrow morning with a clear head.

I shall let you know as soon as I manage to get it running.

[2020-09-29 20:49] andrewthauer commented on #1598
@lowjoel - I'm thinking it might be worth looking at this from the perspective of what privileges the user has. For instance, one user could just have permissions to create databases while the other cannot create/drop databases, but can read/write to all the tables. One question we might want to consider, is should standard migrations also be run under a different user? If so, then the user runnin

[2020-09-30 01:49] kiranpatel11 commented on #2655
Hi @Rugvip

I did understood that error for PYTHON installation, but I thought there are other errors prior to that.
Also python is not mentioned as prerequisites in the installation/getting started guide.
Can the docs be updated for PYTHON prerequisite and small reason why and where it is used ?

[2020-09-30 01:58] lowjoel commented on #1598
@andrewthauer We agree significantly 😄.

In practice however, I've not (yet, in my limited experience) seen a true distinction between maintainer/user permissions in Postgres. Most installations I've seen at best would have a "root" user creating databases then delegating permissions to another user to maintain that database (which would typically be the owner of that database). This should be fai

[2020-09-30 03:58] Marvin9 commented on #2244
@AnshuTrivedi Please let me know if you are not working on this issue.

[2020-09-30 04:07] Marvin9 commented on #1566
I want to work on this issue.

[2020-09-30 04:14] Marvin9 commented on #2533
Can I reproduce it on starting up environment with ```yarn dev```?

[2020-09-30 05:24] Marvin9 commented on #1566
I succeeded to reach at reproducing step. However I got different popup mentioned in description but the content are same.

![Screenshot from 2020-09-30 10-50-06](https://user-images.githubusercontent.com/17699717/94646060-0a769800-030b-11eb-925f-a65c71880960.png)

[2020-09-30 07:43] benjdlambert commented on #2534
Ok it's mainly the part that looks like this in the documentation:
[code]

[2020-09-30 07:44] benjdlambert commented on #2533
These docs should help you get started adding the scaffolder functonality: https://backstage.io/docs/features/software-templates/installation

But you'll need to start the backend and the frontend to get this runnning.

[2020-09-30 07:49] AnshuTrivedi commented on #2244
@Marvin9 i'm working on it , if you wish you we can collaborate.

[2020-09-30 08:19] rajatdiptabiswas commented on #2534
Hi @benjdlambert

There's another problem that I ran into. Decided to start afresh again and follow each step diligently.

Followed the steps in `Running Backstage Locally`. Also set the environment variables for `AUTH_GITHUB_CLIENT_ID` and `AUTH_GITHUB_CLIENT_SECRET`.

Then moved onto trying to install the Scaffolder plugin as you mentioned earlier. The documentation stated that `The Scaffolder p

[2020-09-30 09:45] benjdlambert commented on #2534
If you clone the main repo this stuff should already be setup in the example backend package that we ship the development. You should be able to just add a github access token to config and create components? Are you not seeing that?

[2020-09-30 10:12] lowjoel commented on #1598
@andrewthauer @Rugvip @freben I've just submitted #2674, and I see that #2670 has also some of the same intentions. I haven't really tested my PR apart from just booting the backend up and doing some simple sanity tests, but let me know what you think.

It currently uses the provided Postgres credentials to bootstrap the databases and the corresponding credentials.

[2020-09-30 11:14] rajatdiptabiswas commented on #2534
I just noticed that `@backstage/plugin-catalog`, `@backstage/plugin-catalog-backend`, `@backstage/plugin-scaffolder`, and `@backstage/plugin-scaffolder-backend` were already present in their respective `package.json`.
I'm sorry for not noticing those earlier.

Setting up the `GITHUB_ACCESS_TOKEN` environment variable fixed the following warning when running `yarn start` from `backstage/packages/ba

[2020-09-30 12:33] stefanalund commented on #2566
@taras wanna take a stab at it?

[2020-09-30 12:41] taras commented on #2566
I wouldn't mind but we need a way to ensure that they say current. Any ideas?

[2020-09-30 12:42] rajatdiptabiswas commented on #2534
Hi @benjdlambert

I finally got a repo made. The component is showing up under `Home > Websites`. However the `CI/CD` tab shows the following.
[code]

This was a long time coming, but at least I just got the setup done!

[2020-09-30 12:52] benjdlambert commented on #2525
@BA1RY seems right to me, will assign it to you!

[2020-09-30 12:53] benjdlambert commented on #2266
Think we can close this now as the PR has been merged

[2020-09-30 12:53] #2266 closed

[2020-09-30 12:57] benjdlambert commented on #2534
Ok perfect! Let me check this and get back to you, I think if you're using a fork of the repo the annotations should be up to date, @shmidt-i or was this work not merged yet, could we get that work merged if possible and leave the other changes in a seperate PR/

[2020-09-30 13:03] rajatdiptabiswas commented on #2534
@benjdlambert I did not fork the repo.
I used `git clone git@github.com:spotify/backstage.git` to clone the repository onto my system.
Followed the documentation steps as is.

[2020-09-30 13:53] benjdlambert commented on #2534
ok I think the annotations are not merged yet, so you might not get the github for free with CRA, can you try the SSR template and see if that works?

[2020-09-30 14:53] Rugvip commented on #1598
@andrewthauer Right now in-memory sqlite should be just fine, but that's somewhat because we don't really need to persist any data for local dev. If we end up with that need somehow we'd prolly have to revisit, but for now I think file-based sqlite has little value.

[2020-09-30 18:10] themousepotato commented on #2244
Hey @AnshuTrivedi  and @Marvin9, I have created #2684. Apologies if you already had something. Please take a look and feel free to suggest anything

[2020-09-30 18:48] stefanalund commented on #2648
Love some cross-pollination between CNCF projects 😍

[2020-09-30 19:18] mehuled commented on #2601
Hey, @benjdlambert would like to pick this up! Would appreciate any leads. I am looking into it meanwhile.

[2020-09-30 23:33] kaparwan opened #2688 "[yarn run docker-build]"
## Expected Behavior

[4/5] Linking dependencies...
warning " > @spotify/eslint-config-oss@1.0.2" has unmet peer dependency "eslint@>=6".
warning "@spotify/eslint-config-oss > eslint-plugin-notice@0.9.10" has unmet peer dependency "eslint@>=3.0.0".
warning "workspace-aggregator-084646b6-3ce3-47d9-80a3-eca493f7c125 > @backstage/plugin-catalog-graphql > @graphql-modules/core > @graphql-modules/di@0.

[2020-10-01 05:12] lowjoel commented on #1598
Continuing from #2674, where database creation is managed by the backend (entry point), we'd need to significantly redesign the database/plugin API interface to support:
 - configurations where credentials per plugin is different
 - creating the database for a plugin that requires it
 - preventing plugins from accessing other plugins' data

Going back to the main moving parts in this design, this

[2020-10-01 05:36] stefanalund commented on #2521
@benjdlambert If you mean me, then no 😎

[2020-10-01 06:41] lowjoel commented on #1598
Something like this would preserve the current behaviour:

[code]

Implementing the case of managing databases with the different credentials would then mean overriding `DatabaseConfiguration.getAdminConfig`, and overriding `PluginDatabaseManager.getDatabase` to create the role and create the database if it does not exist.

[2020-10-01 07:39] #2533 closed

[2020-10-01 07:52] rajatdiptabiswas commented on #2534
@benjdlambert Managed to get it running using the React SSR template.

The build is showing as failed on my `Actions` tab on GitHub, but showing completed and green in the Backstage Example App.
I got similar error logs to the screenshots posted by @shmidt-i.

I'll try to figure out what might be causing them.

[2020-10-01 07:57] benjdlambert commented on #2534
@rajatdiptabiswas perfect! apologies it's been a ride to try get to this point but now we have something!

[2020-10-01 07:58] benjdlambert commented on #2521
Ok in that case maybe #2 @taras?

[2020-10-01 08:07] benjdlambert commented on #2688
@kaparwan not sure if this is something to do with your network setting? This seems to work for me. Do you use `https://registry.npmjs.org/

[2020-10-01 08:08] benjdlambert commented on #2655
I think we should add a windows specific version for getting setup here as this seems to be only required on windows as I think that python ships out of the box with mac and linux.

[2020-10-01 08:12] #1911 closed

[2020-10-01 08:18] marcuseide opened #2694 "Make use of EmptyState throughout the Plugins"
The new [`<EmptyState />`](https://backstage.io/storybook/?path=/story/emptystate--missing-annotation) should be used when a plugin wants to guide a user to an action related to something missing or wants to display more information on why something is missing.

We should look through our existing plugins and update them to use `<EmptyState />`.

[2020-10-01 08:48] benjdlambert commented on #2601
Hey @mehuled I added you to the issue.

Currently there is an example of backend plugins using the `discoveryApi` it's in the `auth-backend` plugin.
Theres a CatalogIdentityClient(
https://github.com/spotify/backstage/blob/56215d02f09510f163156a976c0a09604eab65ea/plugins/auth-backend/src/lib/catalog/CatalogIdentityClient.ts) which i'd recommend we duplicate to the `scaffolder-backend` but change t

[2020-10-01 09:22] OrkoHunter commented on #2548
We now have two automated build rules to build the techdocs-container docker image on Docker Hub.

![Screenshot 2020-10-01 at 11 18 37](https://user-images.githubusercontent.com/8065913/94791407-dcab5500-03d7-11eb-81da-de5a77b5d73b.png)

- [ ] Waiting on new release so that a Tag is created in the Backstage GH repository. And a new tag should be there on [DockerHub](https://hub.docker.com/r/spotif

[2020-10-01 09:37] mehuled commented on #2601
sure, this really helps! On it.

[2020-10-01 09:56] BA1RY commented on #2525
@benjaminr Will work on it :smile:

[2020-10-01 11:59] palmerj3 commented on #2662
We have pretty much this exact tooling on our internal Spotify backstage!

Would there be interest in us open sourcing this and making it a part of backstage?

[2020-10-01 12:08] Fox32 commented on #2662
From my point: sure!

[2020-10-01 12:21] OrkoHunter commented on #2652
@spotify/backstage-core Do you have any comments around this? 🙇‍♂️

[2020-10-01 13:14] #2655 closed

[2020-10-01 13:39] taras commented on #2521
@benjdlambert 👍

[2020-10-01 14:19] Marvin9 commented on #2652
I would like work on it.

[2020-10-01 15:02] Marvin9 commented on #2652
@OrkoHunter I think only documentation and some tests updates will be required if we make them consistent.

[2020-10-01 15:09] garyniemen commented on #1912
I changed the milestones. Does this issue still belong here? @hooloovooo

[2020-10-01 16:45] schosterbarak opened #2706 "Infrastructure as code static analysis plugin (checkov)"
## Summary

A plugin that can scan IaC manifests such as k8.yaml, serverless, terraform, cloudformation and azure arm templates before provisioning using checkov. would you see it as a good fit?

## Project website (if applicable)
 https://github.com/bridgecrewio/checkov/

[2020-10-01 16:58] exp-dev-dj opened #2707 "Not able to run plugins individually (techdocs, lighthouse, etc.)"
Previously, a user can cd to **plugins/techdocs** directory and run **yarn start** to start Techdocs plugin individually for development and testing. But when you try to do the same now, you will get "ERROR 404: PAGE NOT FOUND.  Looks like someone dropped the mic!"

## Expected Behavior

A user can cd to **plugins/techdocs** directory and run **yarn start** to start Techdocs plugin individually fo

[2020-10-01 17:09] iain-b commented on #2605
Just going to leave a loom of what I've been working on https://www.loom.com/share/6c7e056c83a94043bd5091bd1fd34cdf. Any comments welcome. I'm just working through testing.

[2020-10-01 17:56] nishpa214 commented on #2447
+1 to post hooks. Not sure what form that takes technically but it could be as simple as being able to inject custom stages on the job.

In our case, once the repo is published, we need to create secrets based on user input with user's identify, invoke a REST api call to trigger a build on CI, etc.

[2020-10-01 19:09] erictnilsson commented on #2534
Hi!
I'm not sure if this is some sort of faux pas in the open source community (i'm new to this) since the issue is already assigned to @rajatdiptabiswas , but I took a look at the issue and seem to have found the root cause. Please, let me know if that's the case; I don't want to step on any toes :)

From what I've gathered, the Github check-run api returns among other things both a `status` and

[2020-10-01 20:02] rajatdiptabiswas commented on #2534
Hi @erictnilsson

It's amazing that you found the root cause of the issue this quick.
Your comment is very comprehensive as well.

I'm even newer to all this (as evident by the amount of time I took to just recreate the bug).
You're definitely more qualified to fix this! I think it's best you take it from here.

Good luck!

[2020-10-01 21:50] Octateam commented on #2558
I would love to work on this

[2020-10-02 05:20] #2031 closed

[2020-10-02 06:10] RochesterinNYC commented on #2461
Posting this here instead of as a comment on https://github.com/spotify/backstage/pull/2691 for a bit more visibility/potential feedback:

In starting implementation for using google auth for authenticating to K8s for the Kubernetes plugin, a lot of good feedback was given regarding what potential contracts there could be between the backend and frontend in this domain and what interfaces might we

[2020-10-02 06:10] RochesterinNYC commented on #2552
Posting this here instead of as a comment on https://github.com/spotify/backstage/pull/2691 for a bit more visibility/potential feedback:

In starting implementation for using google auth for authenticating to K8s for the Kubernetes plugin, a lot of good feedback was given regarding what potential contracts there could be between the backend and frontend in this domain and what interfaces might we

[2020-10-02 07:06] stefanalund commented on #2558
@Octateam thanks! I've assigned you.

[2020-10-02 07:10] stefanalund commented on #2605
Left a comment in the PR. TL;DR I prefer a "rings" UI 😄

[2020-10-02 08:49] nikek commented on #2652
Whatever surprises the user the least, right? I haven't looked into how these tokens are used or what the respective documentation say, but if there is already a name for these thing within the github/gitlab docs I'd prefer that. If it's something we came up with, a short `*_TOKEN` might be fine.

[2020-10-02 09:32] freben commented on #2552
First question that comes to mind is, does there have to be collaboration between frontend and backend? Are the auth methods different from cluster to cluster, or can the Backstage integrator just hard code one (or more?) decorator(s) on the client side and same on the server side - so the user always gets asked for oauth / always gets their username sent - whether it's needed at that particular p

[2020-10-02 09:39] nikek commented on #2645
I wouldn't say this is a good first issue, it might be quite tricky to get a new entity into the catalog right now. And the way the catalog handles relationships is not really settled either AFAIU. But it's being worked on.

[2020-10-02 09:45] mclarke47 commented on #2552
I think it looks good so far! I'm for the backend returning the auth providers required, as I think down the line it might make sense to have a way to configure your kubernetes clusters other than putting them in a config file.

For example you might want to have them stored in zookeeper (or other config management system), or possibly another service could dynamically return the clusters, in orde

[2020-10-02 10:03] nikek commented on #2558
There are a couple of ways to solve this, but I would like the shapes to still be a background image as it is semantically decorative. Try changing the backgroundPosition to `center` on the `TemplateCard` and if needed add a backgroundSize.

[2020-10-02 10:09] Rugvip commented on #2552
Initial though is that I think we limit the frontend/backend contract to be only around decorating the request with additional headers, passing it through the body is less secure and also becomes a bit less flexible as you have to know the shape of the body and can't use body-less methods.

For the frontend interface something like this might make sense:

[code]

With that I'm also implying that a

[2020-10-02 10:22] freben commented on #2552
Spinning along with @Rugvip's idea,

The config read by the frontend plugin could contain something like

[code]

etc

[2020-10-02 10:23] mclarke47 commented on #2552
I think we might be getting mixed up.

I think we're all on the same page with that.

The problem is the frontend doesn't (and can't) know what cluster the service is actually on and therefore doesn't know what auth types to send to the backend. Therefore the when you look at the kubernetes tab we need to:

1. (frontend) pass the entity to the backend
2. (backend) figure out where the service is r

[2020-10-02 10:25] freben commented on #2552
@mclarke47 the question is, is it possible to always send the union of all possible auth (as configured), bypassing the need for a query round-trip to ask for which one to send?

[2020-10-02 10:25] Rugvip commented on #2552
This is what I meant we shouldn't care about in the frontend, and just send the union of all auth types.

[2020-10-02 10:30] mclarke47 commented on #2552
I think it is for now, as we only have config driven cluster info.

In the future though we might want to consider cluster info coming in from a another source:
* Hit the gcloud api looking for clusters that have a specific label (this would vastly simplify the configuration process)
* Same for AWS/Azure etc...
* A microservice or other in house tool

[2020-10-02 10:34] freben commented on #2552
Isn't there a (very) small set of possible auth types per org? I'm probably missing a detail somewhere.

[2020-10-02 10:34] Rugvip commented on #2552
Yeah that kinda thing could be useful in the future for a more turnkey solution, basically just give a list of a couple of providers and it's all spun up and working. Tbh you'll pretty much always have to configure auth individually for every provider though, unless you wanna hand over all the admin keys to backstage. Either way it should totally be possible to implement the discover cluster -> se

[2020-10-02 10:36] Rugvip commented on #2552
@freben not if you consider all the different providers the entire community could be using, and supporting them all with minimal config, but tbh I think we should keep that waaaaaay out of scope for now

[2020-10-02 10:37] mclarke47 commented on #2552
@freben not if someone is using a multi cloud model for deploying their applications.

They could in theory use AKS/GKE/EKS etc... or an combination of them.

[2020-10-02 10:38] mclarke47 commented on #2552
It probably is out of scope for now, perhaps we should just ensure the frontend/backend config is on the same page. WDYT @RochesterinNYC

[2020-10-02 10:38] freben commented on #2552
Ok, understood, thanks for your patience :)

[2020-10-02 10:50] Octateam commented on #2558
Ok great, but just to be sure, I am only doing a design not actually
writing code right ?

On Fri, Oct 2, 2020 at 11:03 AM Niklas Ek <notifications@github.com> wrote:

[2020-10-02 10:54] OrkoHunter opened #2721 "Prompt about enabling auth providers when creating new app"
## Feature Suggestion

When a new standalone backstage app is created using `npx @backstage/create-app`, it should prompt to relevant docs about enabling Auth providers like GitHub/Google/etc.

## Possible Implementation

* Update `@backstage/create-app` so that it prompts relevant docs links about how the user can enable new authentication providers. https://backstage.io/docs/tutorials/quickstart

[2020-10-02 11:03] themousepotato commented on #2721
Sounds interesting! I'm working on this.

[2020-10-02 11:03] Rugvip commented on #2721
I think the most straightforward way to solve this is to just add some comments in the created `app-config.yaml` explaining how to populate the auth providers

[2020-10-02 11:11] OrkoHunter commented on #2721
Adding comments to `app-config.yaml` and prompting relevant auth docs during create-app sounds straightforward and important things at the very least.

Having the ability to choose a few from Google/GitHub/GitLab/Okta/etc. in the create app process might be a fantastic experience IMO. 🤩

[2020-10-02 11:15] Rugvip commented on #2721
@OrkoHunter you have to go and set up OAuth apps to get client_id + client_secret etc. I feel that would interrupt the flow of the create-app process too much

[2020-10-02 11:22] OrkoHunter commented on #2721
Hmm. I think you're right. It wouldn't be that helpful to have the Auth environment variables in app-config without them actually being set.

Let me re-purpose my issue. Thanks so much!

[2020-10-02 11:43] nikek commented on #2558
I would say this is a code change in order to make the background shape position and scale itself so that the shape's more transparent center parts are shown rather than the top left of the shape, which is a bit too white.
I think we'll have more designy tasks coming up though, so I'm happy your interested in helping out with that part :)

[2020-10-02 12:19] masterthefly opened #2723 "[Plugin] Tech Insights"
Cloned latest code but dont see Tech Insights plugin ....how to get this one?

[2020-10-02 12:25] Fox32 commented on #2723
The Tech Insights plugin isn't Open Source. I'm not sure if there are plans to change that as it might be quite specific for the internal usage at Spotify.

[2020-10-02 13:21] erictnilsson commented on #2534
Thank you @rajatdiptabiswas!
Do you guys have any preferred solution in mind @benjdlambert or should I brainstorm a few of my ideas? :)

[2020-10-02 13:33] masterthefly commented on #2723
oh...thanks for the update. There are videos which are very interesting on TechInsights and I am sure most of the other companies will benefit if this is opensourced. Please consider. Thanks again.

[2020-10-02 13:42] kaparwan commented on #2688
@benjdlambert . thank you so much.
it worked for me  once I  cloned the repo again  and re ran the build steps.

[2020-10-02 14:12] Octateam commented on #2558
Okay then, I’ll be waiting on the design tasks. Please let me know when they are ready so I can jump on them 😊

[2020-10-02 15:41] RochesterinNYC commented on #2552
Thinking about it more, I think having the frontend query the backend for all the authProviders it should be considering/potentially doing oauth for is something that could be done later. For the time being, simply fetching this information from the config (and maybe doing some more config validation on startup) should suffice.

[2020-10-02 15:44] RochesterinNYC commented on #2552
@Rugvip I'm not quite sure what this syntax/part of the interface means: `userProvider: (reqHeaders: {[name: string]: string}) => Promise<User>; // k8s client user as passed to loadFromOptions`

@Rugvip the point about it being a bit easier to fetch tokens from headers rather than the body makes sense. I didn't know that the headers are more secure than the body though, since my understanding was

[2020-10-02 16:31] freben commented on #2552
It means that the single parameter reqHeaders is any string-key, string-value object, and the return value is a promise of a User object.

[2020-10-02 17:17] Rugvip commented on #2552
@RochesterinNYC What freben said, it could be called like this:

[code]

Regarding token in body vs headers, the main reason is the convenience of not having to interact with the body for auth, and have a solution that works for any kind of requests without having to take the request body into account. WRT security it's idd encrypted just the same, but imo request bodies are more likely to be logg

[2020-10-02 17:29] RochesterinNYC commented on #2552
Okay, not understanding how the `user` part of this potential method comes into play though? `userProvider: (reqHeaders: {[name: string]: string}) => Promise<User>; // k8s client user as passed to loadFromOptions`

Confused as it would be part of the `clusterDetails` and I'm not what the relation is between the user and cluster details/why a user needs to be returned by that method.

In this examp

[2020-10-02 17:34] RochesterinNYC commented on #2552
The bit about tradeoffs for headers vs. body makes sense to me.

Playing with the idea that we'd pass auth strategy enums around, and put the tokens in the body, I was thinking something a bit more like this:

[code]

[2020-10-02 18:09] Marvin9 commented on #2488
I would like to work on it.

[2020-10-02 18:51] stefanalund commented on #2488
Nice, assigned you @Marvin9

[2020-10-02 19:42] BA1RY commented on #2525
@freben I'm made a PR. Please check it out and let me know about the changes/optimizatons to be made. Thanks :smile:
I'm not sure about the naming conventions or types declared by me. I've tried to implement this feature similar to the one being implemented in cost-insights plugin.