[2022-02-09 00:26] devth opened #9418 "Allow backend to startup even if kubernetes config is mising"
## Feature Suggestion

Currently if the kubernetes integration is installed, it will prevent the backend from starting up if the config is missing, with a log message like:

[code]

If the config is missing, could the plugin fail gracefully and allow the rest of the backend to start up?

## Possible Implementation

I'm  not sure, but I'd be willing to investigate how to do this and contribute, if

[2022-02-09 00:54] devth commented on #9086
Hi, I'm looking at this issue. Couple questions.

1. Is there a typo in here?

Shouldn't the 2nd url be different than the first, e.g:

```https://github.com/myorg/service-foo/blob/main/catalog-info.yaml```

2. It looks like having `-` in the url prevents `parseGitUrl` from fully parsing the file (`ref`, `filepath` and `filepathtype` are all empty `''`). Example:

[code]

[2022-02-09 01:20] devth commented on #8198
Was this fixed by https://github.com/backstage/backstage/pull/8220 ?

[2022-02-09 03:19] adamdmharvey commented on #8198
Good call, @devth . Confirmed on a newly scaffold app that selecting the "Users" filter does swap straight to all and hide the Owner selector.

<img width="521" alt="image" src="https://user-images.githubusercontent.com/33203301/153115476-3669f2a5-61d5-448b-aa05-1353414fb932.png">

[2022-02-09 03:19] #8198 closed

[2022-02-09 05:17] bw-bmbarga opened #9424 "npx @techdocs/cli serve does not work for techdocs/cli@0.8.12"
I used to run `npx @techdocs/cli serve` to preview techdocs locally, and since I updated to the version `0.8.12` it only shows a blank page with some errors on the console.

## Expected Behavior

When running `npx @techdocs/cli serve` a preview of the techdocs should show up on my browser

## Current Behavior

When running `npx @techdocs/cli serve` the browser only displays a blank screen with som

[2022-02-09 08:46] igor-radulovic opened #9428 "CricleCI Plugin - Feature: See all jobs + include approving deployments"
## Feature Suggestion

The CircleCI plugin is a great tool to visualize recent builds and provides the option to re-run builds. What I and my team feel is missing is visualization of jobs that haven't started yet and the option to handle manual approvement steps. To better explain this feature/improvment: In our Circle config, we have certain jobs that are dependent on other jobs, lets say a deplo

[2022-02-09 09:03] Rugvip commented on #9424
This should be fixed by #9370. It'll be available in the release tomorrow, but you could already try it out with `@techdocs/cli@0.8.13-next.0`

[2022-02-09 09:15] benjdlambert commented on #9361
Assigned!

[2022-02-09 09:46] benjdlambert commented on #9416
Good catch! I've made the change in the above PR! Thanks!

[2022-02-09 09:47] benjdlambert commented on #9411
Need some more information here, what's the errors you see in the console? How are you running HTTPS? is this in production only in production?

[2022-02-09 09:57] sjamidar commented on #9411
@benjdlambert ,
On console i see attached error
![image](https://user-images.githubusercontent.com/85929731/153172557-2b5b90af-03a6-4a65-9544-24341eba4da4.png)
And on signin window is see
Origin 'https://developer.devint.webmdhelios.com' is not allowed error.
I am running this site in development environment for now.

[2022-02-09 10:03] benjdlambert commented on #9411
In your `app-config.yaml` do you have `https://` at the beginning or `http`? They will need to be set as `https://`

[2022-02-09 10:07] sjamidar commented on #9411
its https only at the beginning.

[2022-02-09 10:17] benjdlambert commented on #9411
For both `backend.baseUrl` and `app.baseUrl`?

[2022-02-09 10:21] benjdlambert commented on #9411
It looks like one of them is set to `https`?

[2022-02-09 10:35] #9416 closed

[2022-02-09 10:37] sjamidar commented on #9411
backend.baseurl set to http.
I tried to make it https in local but it was throwing error there in refresh api call.
Invalid x-requested-with header. So made it http.

[2022-02-09 12:20] benjdlambert commented on #9411
Yes but when you deploy this to production it will need to be set as `https://` you should ensure that when you're deploying to production to maybe use another config that overrides this to the path that it deployed at, exactly what you would type in the browser address bar.

[2022-02-09 12:21] benjdlambert commented on #9411
Maybe you'll need to ammend the google signin also to enable your production https domain to call signin.

[2022-02-09 12:24] sjamidar commented on #9411
when i have converted it to https. getting below error in console log.
Failed to load resource: net::ERR_SSL_PROTOCOL_ERROR
https://developer.k8s.devint.webmd.com:80/api/auth/google/refresh?optional&env=development

[2022-02-09 12:25] daydy16 commented on #8358
Thanks @jhaals. Look's like that's exactly what is missing here.
Should we copy the finding of this [pull request ](https://github.com/backstage/backstage/pull/9177) into another one for gitlab?

[2022-02-09 12:29] sjamidar commented on #9411
when i am using https getting attached error
![image](https://user-images.githubusercontent.com/85929731/153201274-476a00e1-badb-43a0-a5f4-cdd63916cff7.png)

[2022-02-09 12:30] mtlewis commented on #9226
Hey @benjdlambert sorry for the slow reply on this! I gave this suggestion a try, but I actually don't think it's possible. Seems like these templates are parsed as yaml on load, so you can't wrap up individual object keys in nunjucks conditional blocks.

How about explicitly defaulting the description parameter to `''` in templates?

[code]

[2022-02-09 12:35] PavelPolyakov commented on #9345
Ok, new input. When I add resolution like this:
[code]

Then it seems to work. In the `yarn.lock` I then get:
[code]

[2022-02-09 12:39] benjdlambert commented on #9411
Do you have SSL termination enabled on your production host? Don't think there should be a port there. Remove the `:80`

[2022-02-09 12:40] mtlewis commented on #9226
Gave this a spin, seems to work as expected! https://github.com/backstage/software-templates/pull/13

[2022-02-09 12:45] benjdlambert commented on #9226
Sorry to clarify @mtlewis amending the `catalog-info.yaml` that is called with `fetch:template` to wrap it up in that `yaml` bit file not the `template.yaml` file

[2022-02-09 12:48] benjdlambert commented on #9226
I think updating those files is a cleaner fix 🙏

[2022-02-09 12:52] sjamidar commented on #9411
No i do not have any such configs enabled.
Let me try removing :80 and check.

[2022-02-09 13:08] sjamidar commented on #9411
Now getting attached error
![image](https://user-images.githubusercontent.com/85929731/153207476-49445a16-5b9c-4957-8b58-713dd242edba.png)

[2022-02-09 13:10] benjdlambert commented on #9411
What do you have as `backend.cors.origin` set as in `app-config.yaml`?

[2022-02-09 13:15] mtlewis commented on #9368
Did a bit more digging into this. I suspect the problem is an inconsistency between the registry loading behavior inside `yarn install`, and the way configuration is propagated into the environment for scripts started through `yarn run`, as described [here](https://github.com/yarnpkg/yarn/issues/2091#issuecomment-288890717). When running `yarn install` directly, yarn correctly uses any local .npmr

[2022-02-09 13:17] sjamidar commented on #9411
@benjdlambert , I have https://developer.devint.webmd.com as the backend.cors.origin value

[2022-02-09 13:28] camilaibs commented on #8104
Hi @nomeelnoj, just pinging you, looking forward to hearing good news 🙂

[2022-02-09 13:34] benjdlambert commented on #9411
So that origin should be the same as `app.baseUrl` and you should be using `app.baseUrl` in the browser to access to I would expect it to be `https://developer.devint.webmdhelios.com` or whatever.

[2022-02-09 13:35] benjdlambert commented on #9411
Change the `app.baseUrl` and the `cors` header to `https://developer.devint.webmd.com` if you expect to hit backstage from that URL in the browser too.

[2022-02-09 14:01] djamaile commented on #9276
to piggy back of this issue. I also needed to show the role of a user (which comes from LDAP), one extra requirement was that these combination of users were not a group from LDAP. So, I needed to make a temporary group + update the user with the role.

[code]

was wondering if there would be a better solution to this? Currently I also have these helper functions (makeUser, makeGroup, makeRelation

[2022-02-09 14:19] sjamidar commented on #9411
It worked @benjdlambert .
Thanks for the help. Closing the ticket.

[2022-02-09 14:19] #9411 closed

[2022-02-09 14:22] ArveSystad commented on #2071
I might be too late here, but I tried to add the Roadie-made plugin, and it seems like it'll end up prompting users to log into GitHub. We've set up Azure AD as our auth for Backstage (and don't want to log in again with Github), so it seems a bit cumbersome. Since the Backstage backend already has access to the repos through the Backstage App, some sort of support for using that instead would be

[2022-02-09 14:34] ProticM commented on #8463
@benjdlambert Hi, I have a quick question just to have the info about this. Can we integrate multiple GitHub apps to be used by different GitHub organizations? Is backstage capable of understanding which GitHub app is responsible for which GitHub org from the integrations config?

[2022-02-09 14:37] benjdlambert commented on #8463
I believe there is some logic to do this yes, you can provide an array of github apps for a host, and I think it will look up which app has the right perms for that path? I can't remember fully, but would be a good feature if it's not already supported.

[2022-02-09 14:42] ProticM commented on #8463
Yes, it would be beneficial to have that, I agree. I'm not sure, I did not analyze fully that part.

For example, we have one app that we share across our orgs and the problem we are facing is having a different set of permissions per org.

[2022-02-09 15:24] PavelPolyakov opened #9436 "current version of @techdocs/cli does not work"
## Expected Behavior

run `npx @techdocs/cli serve` and documentation is present in the browser

## Actual Behavior

<img width="707" alt="image" src="https://user-images.githubusercontent.com/839290/153232187-4b8daadb-5a7f-42dd-bce3-55cf9af02330.png">

## Steps to Reproduce

Run `npx @techdocs/cli serve` in the folder with documentation.

## Context

When I run `npx @techdocs/cli@0.8.11 serve` it

[2022-02-09 15:27] Rugvip commented on #9436
Thank you for reporting! Will close this as a duplicate of #9424 though. This should be fixed by #9370 which is being released tomorrow

[2022-02-09 15:27] #9436 closed

[2022-02-09 16:26] camilaibs commented on #9365
Hi @tiago-celuppi could you share how the `backstage.io/techdocs-ref` looks like for this repo?

[2022-02-09 18:33] mtlewis commented on #9226
Done, and backstage/software-templates#13 updated!

[2022-02-09 18:33] #9226 closed

[2022-02-09 20:04] github-actions[bot] opened #9441 "Snyk vulnerability [SNYK-JS-FOLLOWREDIRECTS-2396346]"
## Affecting Packages/Plugins

* [@backstage/cli](packages/cli/package.json)
* [@techdocs/cli](packages/techdocs-cli/package.json)
* [@backstage/techdocs-common](packages/techdocs-common/package.json)
* [@backstage/plugin-catalog-backend-module-msgraph](plugins/catalog-backend-module-msgraph/package.json)
* [@backstage/plugin-circleci](plugins/circleci/package.json)
* [@backstage/plugin-proxy-back

[2022-02-09 20:04] github-actions[bot] opened #9442 "Snyk vulnerability [SNYK-JS-VM2-2309905]"
## Affecting Packages/Plugins

* [@backstage/plugin-scaffolder-backend](plugins/scaffolder-backend/package.json)

## Overview
[vm2](https://github.com/patriksimek/vm2#readme) is a sandbox that can run untrusted code with whitelisted Node's built-in modules.

Affected versions of this package are vulnerable to Sandbox Bypass via a Prototype Pollution attack vector, which can lead to execution of ar

[2022-02-09 20:39] msamad commented on #8054
I've tried a quick hack of version bump for yarn 3 lock file and that worked but then hit issues with bundler when using pnp. That pnp is what I was most interested in as it would have improved developer experience with zero-installs and improved the reliability of builds. Looks like there is a need to look deep into the bundler and possibly other parts as well to get it all going with yarn 3 pnp,

[2022-02-09 21:28] iniinikoski commented on #5355
Has anyone started to work on this / planning this yet...? Just thinking out loud of some joint effort...

[2022-02-09 21:36] soapraj commented on #4932
Closing this issue for now. Please re-open if needed.

[2022-02-09 21:36] #4932 closed

[2022-02-09 22:17] #9360 closed

[2022-02-10 00:26] adamdmharvey commented on #4932
Yep, this looks good now!  👍🏻

<img width="918" alt="image" src="https://user-images.githubusercontent.com/33203301/153313448-a9d2f078-e0fc-4644-ad83-f7e6dfa2a3c5.png">

[2022-02-10 06:34] snehaljos commented on #9418
Hi @devth am interested in this issue can I?

[2022-02-10 09:16] soapraj commented on #8104
Hi! @nomeelnoj - Closing this issue for now. Please re-open if needed.

[2022-02-10 09:16] #8104 closed

[2022-02-10 09:20] mscam opened #9446 "Catalog API: Could not read location from Gitlab repo ($text placeholder)"
## Expected Behaviour

In my org we have OpenAPI definitions (`swagger.yaml`), hosted in a private GitLab repository, accessible only by authenticated users.

API definitions are using raw GitLab URLs, with `$text` placeholder:

[code]

GitLab discovery is enabled and correctly working for `catalog-info.yaml` files ingestion.

I would then expect also `swagger.yaml` files to be correctly read from

[2022-02-10 11:23] Irma12 commented on #9395
I would be interested in trying to make a progress here, so please assign it to me 😃

[2022-02-10 12:07] #9441 closed

[2022-02-10 12:07] #9442 closed

[2022-02-10 12:07] #8792 closed

[2022-02-10 12:07] #8702 closed

[2022-02-10 17:50] martina-if commented on #9248
Hey, I think I supported running just one image at some point but perhaps that's not working anymore. I won't have much time to look at this in the coming weeks though 😞

[2022-02-10 18:31] mtlewis commented on #9368
I like the idea of deleting the variable to let `yarn install` work out what it should be again! What's the motivation for stripping all of the npm_ variables though? Seems like a more targeted deletion would be less likely to have unintended side effects.

[2022-02-10 18:40] Rugvip commented on #9368
@mtlewis I chose it because it most closely mimics a plain `yarn install`, where you typically don't have any config set at all. Was worried that other configuration options might have similar issues that we just haven't discovered yet. I'm also a bit scared that removing a subset of vars would lead to even more confusion, as right it's more of a "we ignore all npm_ env vars", rather than "we igno

[2022-02-10 22:24] benjdlambert opened #9461 "Provide some default values + secrets for the Scaffolder context"
Following on from the closed #6632, it would be great if we could define some default values that can be used in the template manifest (`template.yaml`) and also in `fetch:template`.

## Feature Suggestion

The aforementioned issue was closed because the solution of having an action that could use `ctx.output('config', configApi.get('scaffolder.environment'));` was enough to satisfy the request.

[2022-02-10 22:27] benjdlambert commented on #9461
As an aside here also, and maybe this changes the design a little bit, what if we were able to set default values that you could also use as default values in the `parameters` block. Maybe we don't want to store the default values on the `parameters` namespace then, as it's gonna get super confusing for people as to what values they can and can't use in the template schema, only being allowed to u

[2022-02-11 00:00] Niksko opened #9463 "Support an annotation that skips building techdocs"
## Feature Suggestion

We'd like it to be possible to define the following `catalog-info.yaml`

[code]

Adding the annotation `my-org.com/skip-techdocs-build` (potentially customizable in config) with the value `true` would cause the techdocs backend to not attempt to build techdocs for this component. However techdocs would still be fetched from whatever datastore is in use, and the docs for this

[2022-02-11 00:28] jithenshriyan commented on #9361
@benjdlambert The current CircleCI SDK we're using is still on the v1 API which will be deprecated within the next year. In order to trigger a pipeline, we need to use the v2 API which the sdk doesn't support.

The workaround until we migrate the entire service to the v2 API is to trigger a new build job which is available in the current SDK. The only challenge with this is that pipelines/workflow

[2022-02-11 00:36] devth commented on #2857
What's the next step for this? Should we break the RFC into small tasks to be done? I'd love to contribute!

[2022-02-11 00:38] devth commented on #9418
Hi @snehaljos, I only suggested it. I'm not sure if Backstage core devs would accept a PR for it - maybe check with them first?

[2022-02-11 02:55] benjdlambert commented on #8124
So this ticket came up again pretty recently, if anyone would like to take this on and make it production worthy i've got a branch with pretty much the implementation it just needs rewriting with tests and cleaning up a little bit. You can find the branch here: https://github.com/backstage/backstage/compare/blam/store-created-by, and it looks a little bit like below:

https://user-images.githubuse

[2022-02-11 02:56] benjdlambert commented on #8124
Of course happy to help anyone that wants to pick this up before we get to it too!

[2022-02-11 06:18] brethubbard commented on #9245
@GoFightNguyen I created a PR for a validate-entity endpoint. A couple interesting notes that I learned doing it.

The name conflict detection happens when attempting to insert into the database so this still will not check for that use case.

It will check other use cases like the `$text` placeholders and even if the catalog is able to download from the location referenced.

It will ensure relati

[2022-02-11 08:34] camilaibs commented on #6289
Hi everyone, we will have a look at this sprint, so we hope to have some good news soon!

[2022-02-11 10:11] R-cen commented on #8933
Hi @Rugvip, I am facing similar issues to this but with the Okta Auth provider. I can confirm that the okta-refresh-token cookie is set on the backend API domain (which is different to our frontend domain) after logging in. This doesn't seem to be sent when the browser is refreshed which is resulting in the user being redirected to the signin page and popup. Upon sign in popup, the login then proc

[2022-02-11 11:30] alanhughes commented on #7523
Since backstage 0.4.19, and swapping out `sqlite3` for `@vscode/sqlite3`, this error now causes the build to fail, presumably because `@vscode/sqlite3` is a required (rather than optional) dependency. Installing python, cmake and g++ resolves the issue - I believe this should be documented now that the build fails if these packages are not installed

[2022-02-11 12:05] #8293 closed

[2022-02-11 12:51] Rugvip commented on #5355
@iniinikoski Not that we know of, still up for grabs 😁

[2022-02-11 12:56] Rugvip commented on #8054
I actually think it would be quite interesting and beneficial to move to Yarn 3 even if we have to use the `node_modules` linker. There's plenty of other potential benefits like bugfixes, `workspace:` dependencies, etc.

Happy to go down the pnp support rabbit hole too though :grin: wouldn't mind adding Yarn FS support anywhere we don't have it for example.

[2022-02-11 13:04] Rugvip commented on #8358
@daydy16 Yep, although the GitLab config already has a `baseUrl` that can be set. It's likely more about making sure we're using it were needed. There's likely some significant overlap with #9095 too though, as that's aiming for a general solution to SCM URL parsing, which we definitely wanna move forward :grin:

[2022-02-11 13:18] Rugvip commented on #9060
Alright, now completely removed, thank you both!

[2022-02-11 13:18] #9060 closed

[2022-02-11 13:21] Rugvip commented on #9086
@devth good catch, thanks, updated :grin:

And alright thank you for the heads up! Being able to properly parse the URL would be part of implementing this as well then. Can say that we're aiming to move away from `git-url-parse` though (#9095)

[2022-02-11 13:22] awanlin commented on #7633
Can we reopen? Would still love to see this myself. @MvRemmerden are you still working on this?

[2022-02-11 13:25] devth commented on #9086
Sounds good! I'll look into the `git-url-parse` issue later. I could wait till that's resolved, or let me know if there's help wanted on that too.

[2022-02-11 13:27] #9368 closed

[2022-02-11 13:36] Rugvip commented on #9276
Will close this since we've essentially arrived at no action, as we're keeping the provided org model very slim for now. Let's create separate issues if there are particular patterns we want to document, or open up a [discussion](https://github.com/backstage/backstage/discussions) if we're want to just explore possible patterns together. Can also ofc continue the discussion here too, we just want

[2022-02-11 13:36] #9276 closed

[2022-02-11 13:45] Rugvip commented on #9343
@ScheerMT Gonna close as It seems #6568 is a duplicate of the end goal of this, and there's more discussion there. Lets us know if you'd like to re-open

[2022-02-11 13:45] #9343 closed

[2022-02-11 13:47] Rugvip commented on #9418
Yep makes sense 👍 but let's only allow it in development though. There's some prior art over here to use as inspiration: https://github.com/backstage/backstage/blob/da6e8838f3fefd3c88f6f4d826484b69e5da0bf4/plugins/rollbar-backend/src/service/router.ts#L98-L105

[2022-02-11 13:59] Rugvip commented on #9446
We don't actually support the `raw` URL format as you show it, but it should hopefully work alright if you switch it out for `blob`: `https://gitlab.host.tld/org/group-name/subgroup-name/service-name/blob/master/swagger.yaml`.

I guess it can be argued that we should support the raw format too, but there's always hidden complexities in supporting more things :grin: If you feel that's something tha

[2022-02-11 14:11] Rugvip commented on #9428
Sounds like a great idea! :grin: Is this something that you plan to work on @igor-radulovic?

[2022-02-11 14:19] Rugvip commented on #9424
Gonna close this as the fix has now been released. Let us know if you still see the issue when using `0.8.13` or above

[2022-02-11 14:19] #9424 closed

[2022-02-11 14:49] Rugvip opened #9481 "auth: throw error when scopes are requested that are not granted for GitHub Apps"
## Feature Suggestion

When using OAuth via a GitHub App, the scopes requested by the frontend via [getAccessToken](https://backstage.io/docs/reference/core-app-api.oauth2.getaccesstoken) are completely ignored. This is quite error prone, and whoever installs the GitHub App simply needs be be aware of what permissions are needed. There's not much feedback beyond that, except for requests failing w

[2022-02-11 14:51] Rugvip commented on #9380
Opened #9481 and figured we could continue discussions on ways forward there. Gonna close this, let us know if we missed something

[2022-02-11 14:51] #9380 closed

[2022-02-11 15:09] Rugvip commented on #9415
This should be fixable by changing the [GitHubUrlReader](https://github.com/backstage/backstage/blob/d3292ab1ba163f538a311658c02806d6755e41c7/packages/backend-common/src/reading/GithubUrlReader.ts#L107) to fall back to a GitHub API that supports reading files larger than 1MB. As far as I know that means using the [blobs API](https://docs.github.com/en/rest/reference/git#get-a-blob), which also mea

[2022-02-11 15:11] MvRemmerden commented on #7633
@awanlin Not currently working on this, too many other things going on. If you want to give it a try, feel free to take over, I could provide the first set of colors based on @katz95 recommendations and do the design review to make sure we fix the smaller pieces together 🙂

[2022-02-11 16:04] #7957 closed

[2022-02-11 16:08] #9280 closed

[2022-02-11 16:19] #8638 closed

[2022-02-11 16:24] garyniemen commented on #9172
It's tricky with APIs I always think. Overview information about the API fits fine in a tool like TechDocs. But the actual reference information for the API - I feel - belongs close to the API commands. But you are asking about a separate plugin. Perhaps I am missing something, but I can see the sense of that in this case. To make everything homogenous, you would want to surface the documentation

[2022-02-11 17:41] kuangp commented on #9463
related: https://github.com/backstage/backstage/issues/5905

[2022-02-12 13:59] Rugvip commented on #9340
Ended up fixing this in #9490

[2022-02-13 09:18] mscam commented on #9446
Hello @Rugvip unfortunately last time I tried with "blob" GitLab URLs it didn't work, but I will retry tomorrow 🤞

[2022-02-13 13:45] satrox28 commented on #9446
Hi @mscam @Rugvip

I tested in my instance with Gitlab and its working fine :).
  definition:
    $text: https://gitlab.host.tld/group-name/sub-groupname/project-name/-/blob/main/openapi.yaml

[2022-02-13 14:00] mscam commented on #9446
@satrox28 @Rugvip  I took some time to try it now. Unfortunately it doesn't work for me:

<img width="783" alt="Screenshot 2022-02-13 at 14 53 53" src="https://user-images.githubusercontent.com/349166/153756527-a3d7d3b7-81e1-4eae-8d81-e80f654eb3ae.png">

Are `swagger.yaml` files supported?

[2022-02-13 17:47] lqlamTMA opened #9498 "You must configure at least one key in backend.auth.keys if permissions are enabled"
I had bump version of the plugins by command 'yarn backstage-cli versions:bump'
And then I tried to run the command 'yarn backstage-cli versions:bump' to start the backend. However, I have got error messaige: You must configure at least one key in backend.auth.keys if permissions are enabled

![image](https://user-images.githubusercontent.com/29789620/153767664-3fa4d936-77f1-4d85-adb8-499a1982804f

[2022-02-13 19:39] iverberk commented on #7523
I'm running into this as well, out of the box installation results in a failed docker build:

#10 73.96 error /app/node_modules/@vscode/sqlite3: Command failed.

and then a lot of node-gyp output trying to find Python.

[2022-02-13 20:03] github-actions[bot] opened #9499 "Snyk vulnerability [SNYK-JS-UNSETVALUE-2400660]"
## Affecting Packages/Plugins

* [@backstage/cli](packages/cli/package.json)
* [@backstage/codemods](packages/codemods/package.json)

## Overview

Affected versions of this package are vulnerable to Prototype Pollution via the `unset` function in `index.js`, because it allows access to object prototype properties.

## Details

Prototype Pollution is a vulnerability affecting JavaScript. Prototype

[2022-02-14 00:43] msamad commented on #8054
didn't look into other yarn 3 features to be honest so I'll just trust you on this. 😄

hmmm, this is quite tempting, I do like going down the rabbit holes sometimes to have some fun. But, don't think I've got that much time at this point. May be, if we split it into two parts.
- 1st to just upgrade to yarn 3 with `node_modules` linker
- 2nd to use `pnp` linker

[2022-02-14 06:38] #9204 closed

[2022-02-14 06:38] Niksko commented on #9463
I've started work on this and hope to have a PR ready shortly

[2022-02-14 09:46] mtlewis commented on #9498
Hi @iqlamTMA! This error usually appears because the permissions framework has been enabled (by setting `permission.enabled` to true in config), but backend-to-backend authentication (which is a prerequisite for using permissions) has not been set up. Does this match your local setup?

[2022-02-14 11:25] zerodayyy opened #9512 "Parametrize hard-coded Ingress preferences in the Helm chart"
## Feature Suggestion

At the moment, Backstage has a dependency on Nginx Ingress Controller, forcing the use of a specific platform (also the ingress class annotation in Ingress resource is hard-coded to `nginx`). In case one would like to use an alternative Ingress Controller, they would need to fork and customize the chart.

Another part of the issue is the inclusion of Issuer resource, which,

[2022-02-14 14:28] mscam commented on #9446
I found out the issue, it looks URLs such as `https://gitlab.host.tld/group-name/sub-groupname/project-name/-/blob/main/openapi.yaml` are actually not supported:

Taken from https://github.com/backstage/backstage/blob/de1f77b71cf1a62f210a465a73516317fd618c3e/packages/integration/src/gitlab/core.ts#L71

[code]

Console Output:

[code]

As you can see, `blobKeyboard` is not correctly parsed

[2022-02-14 14:36] mscam commented on #9446
@satrox28 unless you used a different URL (not including a sub-group), this cannot work with URLs such as `https://gitlab.host.tld/group-name/sub-groupname/project-name/-/blob/main/openapi.yaml`.  `Wrong GitLab URL` should have been raised.

@Rugvip I would be happy to contribute if needed 🙏

[2022-02-14 14:51] Rugvip commented on #9446
@mscam bit confused tbh. We should really be hitting this https://github.com/backstage/backstage/blob/de1f77b71cf1a62f210a465a73516317fd618c3e/packages/integration/src/gitlab/core.ts#L44

Could you double check that the `-` in your URL is actually a `-` and not some other unicode impostor? :grin:

[2022-02-14 14:57] 7shivam opened #9518 "Backstage installation : error in yarn packages and CORS error for backend"
How to configure backstage so it can be used other than "localhost".
Modified origin in app.config.yaml for both frontend and backend but facing the CORS issue.
Please help.

[2022-02-14 16:00] GoFightNguyen commented on #9245
Thanks @brethubbard

The `/validate-entity` endpoint might be useful regardless of this frontend plugin. I would rely on the maintainers of backstage to determine that.

I think much of the endpoint explanation you provided should be explicitly stated in the endpoint PR (as it was not evident to me while reviewing the code) and possibly documented with the endpoint if it gets merged.

Thanks for c

[2022-02-14 16:11] Rugvip commented on #9446
Alright, glad it got resolved!

[2022-02-14 16:11] #9446 closed

[2022-02-14 16:31] victormorfin97 opened #9520 "Sticky header on UserSettingsFeatureFlags"
## Feature Suggestion

We would like to add a prop to stick the header on Feature Flag list :
**Header is showing at the start of the list.**
<img width="1592" alt="Screen Shot 2022-02-14 at 9 06 46" src="https://user-images.githubusercontent.com/40499017/153904242-b573016b-944f-4a36-b650-f334d0026ee8.png">
**On scrolling the header disappear**
<img width="1593" alt="Screen Shot 2022-02-14 at 9 06

[2022-02-14 19:21] freben commented on #7784
@kuangp is this something you would be up for trying to implement? :)

[2022-02-14 19:26] kuangp commented on #7784
yes, I may have some time to look into it this week

[2022-02-14 20:38] simon-ouyang-rb opened #9524 "Need help on using MicrosoftGraphClient (Get 401 Error)"
### Discussed in https://github.com/backstage/backstage/discussions/9523

<div type='discussions-op-text'>

<sup>Originally posted by **simon-ouyang-rb** February 14, 2022</sup>
Hi, team,

happy Monday! Could someone helping me with using MicrosoftGraphClient?

** It seems that the code keep getting 401 error but API works in Postman with the same clientId, tenantId and clientCredential**
Detail i

[2022-02-14 22:03] simon-ouyang-rb commented on #9524
The issue works now.  The root cause is that I need to grant api permission to Application permission rather than Delegated permission since backstage is created through the app registration. I got it right after contacting the Azure Support Team.

![image](https://user-images.githubusercontent.com/79714880/153953977-7cb8f77a-ee36-455a-8c66-0edc8df18753.png)

[2022-02-14 22:03] #9524 closed

[2022-02-14 22:04] brethubbard commented on #9245
Good call @GoFightNguyen, I have added those comments to the PR as well.

[2022-02-14 22:19] devth commented on #9418
I started a draft on this - just need a little guidance please! 🙏🏻
https://github.com/backstage/backstage/pull/9525

[2022-02-15 00:28] jen13501 opened #9527 "LDAP import hangs if pagePause = true"
## Expected Behavior

[Documentation](https://backstage.io/docs/integrations/ldap/org#users) says paging (both pageSize and pagePause) is supported. PageSize should query the LDAP server in specified batches. If pagePause=true, the plugin should process each batch of entries before requesting the next batch.

## Actual Behavior

pageSize works as expected. pagePause=true causes the processor to ge

[2022-02-15 00:44] jrusso1020 commented on #5441
would it be worthwhile contributing the scaffolder field extension to the open source version? @kuangp we are also thinking about building this ourselves to get the current logged in user

[2022-02-15 07:59] skfarhat commented on #9527
Seconding this issue. I discovered the same behaviour in our LDAP plugin yesterday.

[2022-02-15 08:43] benjdlambert commented on #5441
@jrusso1020 if you take a look at the `Get open scaffolder tasks` the user info doesn't require a new component :)

[2022-02-15 09:28] freben commented on #9527
Ah, thanks for reporting this so thoroughly! Nice.

Since we do streaming ingestion and process each item one by one (per default), the `pagePause` option probably makes little sense to use in practice from Backstage's point of view - is my understanding correct there? Or is there some other reason that one might want to use that option, e.g. for the benefit of the LDAP server or so?

In any case

[2022-02-15 10:50] awanlin commented on #8432
I'm still having the issue described here. I have confirmed that I'm using version 0.6.14 of @backstage/plugin-catalog-react which has the suggested fix in it. Can we re-open this?

[2022-02-15 11:05] igor-radulovic commented on #9428
@Rugvip I'll have to leave this on hold for now, unfortunately. We have some decisions to make, and if we end up on Circle I can take a look at it :)

Also since this requires using API V2, the task becomes a bit larger [https://github.com/backstage/backstage/issues/9361](https://github.com/backstage/backstage/issues/9361)

[2022-02-15 12:08] punkle opened #9541 "Port from react-use as it appears to be less supported"
## Feature Suggestion

Investigate and/or integrate react-hookz and remove the react-use dependency from backstage.

## Possible Implementation

## Context

The react-use library is not as well supported as it used to be. One of the maintainers has started a new project called react-hookz to replace it. See here https://github.com/streamich/react-use/issues/1974 and https://github.com/react-hookz/

[2022-02-15 12:18] #6069 closed

[2022-02-15 12:58] punkle commented on #9541
Having a go at this for one plugin here https://github.com/backstage/backstage/pull/9543

[2022-02-15 14:36] #8929 closed

[2022-02-15 15:14] Rugvip opened #9555 "Replace type + JSONSchema with TS-first schema declarations"
## Suggestion

This is a high level idea that I didn't want to get lost in the aether.

We currently have a couple of instances of TypeScript type + JSONSchema, where the two are supposed to match up, but there's no particular validation that that is the case. This comes around from the need for validation at compile time, along with a **portable** runtime schema. We do use [zod](https://www.npmjs

[2022-02-15 16:04] github-actions[bot] opened #9558 "Snyk vulnerability [SNYK-JS-URLPARSE-2401205]"
## Affecting Packages/Plugins

* [@backstage/plugin-api-docs](plugins/api-docs/package.json)

## Overview
[url-parse](https://www.npmjs.com/package/url-parse) is a Small footprint URL parser that works seamlessly across Node.js and browser environments.

Affected versions of this package are vulnerable to Access Restriction Bypass due to improper parsing process, that may lead to incorrect handlin

[2022-02-15 17:11] jen13501 commented on #9527
I'm happy to add the dummy `page` listener to un-break pagePause=true.

It's not really streaming from the LDAP server. It's storing all of the entries in an array before calling `emit` for each (it looks like that's when the catalog is actually told to ingest the data?). I ran with about 29k users this morning and didn't have any issues, but I assume for larger organizations an OOM is likely. I t

[2022-02-15 17:55] freben commented on #9527
You are right, in the sense that it holds on to all of the output Entity objects. Crucially though, it doesn't hold on to all of the _raw LDAP entries_ during the ingestion cycle; that did indeed lead to memory pressure problems, which was what led to https://github.com/backstage/backstage/pull/7180 . The entities are rather small and simple in comparison. I'll also note here, that the [`LdapOrgEn

[2022-02-15 20:42] Rugvip commented on #9518
Hi, could you share some more information about what your environment and configuration is like? Please also share the actual error you are seeing and information about the request that is failing, as it's often the case that CORS is not actually the root cause of the issue.

[2022-02-15 20:45] Rugvip commented on #9512
The helm charts are maintained by the community, so not something we'll focus our efforts on. We'd be happy to review PRs that add this capability though!

@martina-if do you have any comments on the request itself and whether it's something that's feasible/desirable?

[2022-02-16 00:42] Rugvip commented on #9463
I wanna bring up the option of adding a bit of indirection in the TechDocs backend rather than adding a new standardized annotation for this use-case. I think the annotation route is a bit scary because it can quickly become messy as these kind of customizations are needed by more orgs.

Gonna need @backstage/techdocs-core to chime in with details, but what I'm suggesting is some form of `EntityTe

[2022-02-16 00:43] Rugvip commented on #9395
Fixed by #9476 🎉, thank you!

[2022-02-16 00:43] #9395 closed

[2022-02-16 00:52] Rugvip commented on #8933
@R-cen alright, let's dig into the refresh request in that case, since that seems to be the trouble. Does the refresh request fail and in that case in what way?

The request looks something like this, although ofc `okta` instead of `github`:

<img width="588" alt="image" src="https://user-images.githubusercontent.com/4984472/154174928-454a5327-003d-4861-9417-8f2607074c78.png">

You should be able

[2022-02-16 00:57] R-cen commented on #8933
thanks @Rugvip, for now we have updated both the backend and frontend to be served on the same domain instead which resolves the issue we were seeing

[2022-02-16 05:55] Niksko commented on #9463
Hey @Rugvip, I had a go at implementing a 'strategy' interface for this, see this draft PR: https://github.com/backstage/backstage/pull/9567. Is this more along the lines of what you were thinking? Note: that draft is still early, needs lots of doc updates and some renaming.

[2022-02-16 07:01] punkle commented on #9541
Removing it from core-plugin-api which does not appear to use react-use https://github.com/backstage/backstage/pull/9568

[2022-02-16 07:25] dschwank commented on #8054
Thanks for bringing this up! ❤️

@Rugvip For us it is the `yarn install` procedure which is pretty slow. For sure, one doesn't have to install it quite often, but from time to time we have to and that always takes quite a while.

I gave it a try this morning in our main repo and it looked quite promising - I used the `node-modules` linker to make first the small step and it was pretty amazing. In

[2022-02-16 07:36] msamad commented on #8054
@dschwank that's great! I haven't done anything about that yet so all yours if you want to do a PR.

[2022-02-16 08:29] Rugvip commented on #9463
@Niksko yep looks good! 👍

I also don't have enough context do will wait for @backstage/techdocs-core to chime in x)

[2022-02-16 08:36] emalihin commented on #9512
I've noticed that `kubernetes.io/ingress.class` annotation is duplicated in the Chart - it's present both in values, and in the template itself. While this works fine with Helm, it doesn't work with Flux which doesn't render duplicate yaml keys.

Since it is present in values file, my PR removes the hard-coded value: https://github.com/backstage/backstage/pull/9545

[2022-02-16 08:57] punkle commented on #9541
I started to try out reack-hookz. What I found is that much of it is API compatible and some of it is almost API compatible. Some of the react-use functions have not been implemented in react-hookz yet, but probably could be implement upstream quite easily if necessary.

[2022-02-16 09:11] Fs00 opened #9571 "[Feature request] Allow adding PR reviewers via `publish:github:pull-request` action"
We'd like to be able to add reviewers to PRs created by Backstage via the `publish:github:pull-request` action by setting them as parameters of the action.

## Feature Suggestion

We'd like to have two extra parameters on the `publish:github:pull-request` action, `reviewers` and `teamReviewers`, which would allow us to add reviewers much more easily to Backstage-created PRs just by adding them to

[2022-02-16 10:59] MrBlaise opened #9574 "Allow setting the base branch when creating PRs using github:pull-request template action"
## Feature Suggestion

Allow setting the base branch for publish:github:pull-request action.

## Possible Implementation

Expose the base parameter (https://github.com/gr2m/octokit-plugin-create-pull-request/blob/6ccbf00a9092fbaaf666cd0185764faa3e8738ae/src/compose-create-pull-request.ts#L14) and pass it here: https://github.com/backstage/backstage/blob/master/plugins/scaffolder-backend/src/scaffo

[2022-02-16 12:04] #9499 closed

[2022-02-16 13:08] punkle commented on #9541
I created a pull request to add a hook that is needed for one of the hooks that is not yet implemented by react-hookz to see what the process looks like https://github.com/react-hookz/web/pull/654. `useSetState` is not used directly by backstage but is needed by another hook that is used by backstage.

[2022-02-16 15:14] grantila opened #9579 "[catalog] Deactivated users and possibly groups"
We ingest users and groups to the catalog from LDAP, and when doing so we also get "deactivated" users (people who've left the company). It does make sense to have them in the catalog, if there are references to them (e.g. components owned by them), but at the same time, they should probably be filtered out of the catalog index and not show up as being users of a group.

Potentially, the concept o

[2022-02-16 16:08] ItzEdgar opened #9581 "Error when registering a component from a selfhosted gitlab instance with a custom port"
## Expected Behavior

Component successfully imported.

## Actual Behavior

500 error from Backstage's UrlReader
![image](https://user-images.githubusercontent.com/23180135/154306736-0d0acfdc-f00c-44cc-8d38-93538ace4dd8.png)

## Steps to Reproduce

1. Create a local instance of gitlab using a custom port (i.e. anything other than 80 or 8080 so that you need to append the port to the host in order

[2022-02-16 17:47] hsparmar1 opened #9582 "Enabling modal dialog box opening in the same page"
The request is to add functionality for the Backstage Login process that makes unnecessary pop-up window. Our understanding is that the OAuth implementation uses a popup-based flow, where auth requests are handled in a new popup window that is opened by the app. One of the well promoting effects of this approach is that it makes it possible to request authentication at any point in the app, withou

[2022-02-16 18:40] ItzEdgar commented on #9581
I've since talked with @Rugvip over at the discord server, who helped me figure what was the cause of the error. It can be temporarily fixed locally by editing the code files in the module `node_modules/@backstage/integration/dist` (every .js and .js.map file).

A temporary fix for this problem consists of removing any check for `.includes(':')` OR `.includes(":")` (some files use ", others use ')

[2022-02-17 08:15] dschwank commented on #9157
@benjdlambert & @snehaljos Thanks for fixing this! We just recently noticed that issue on our side and were about to fix 🙈

As #9391 is merged, this can be closed - right?

[2022-02-17 08:18] bgutschke commented on #7523
Having the same problem. But installing python, cmake and g++ in the production image is not really an option, right? It fixes the issue of the dependencies, but then you have compilers in the image which could pose a security risk.

Any chance that `@vscode/sqlite3` will be defined as an optional dependency again?

[2022-02-17 08:51] emmaindal commented on #7784
That would be awesome @kuangp, do you want me to assign you to this issue?

[2022-02-17 08:55] benjdlambert commented on #9157
Yes, sorry just something I forgot to clean up!

[2022-02-17 08:55] #9157 closed

[2022-02-17 09:47] tritri251214 commented on #8074
I have same issue, but not found solution

[2022-02-17 10:07] wittwerch opened #9603 "catalog-graph plugin requires a rootEntityRefs"
## Expected Behavior

I'd like to navigate to the Catalog Graph from the sidebar to browse it. When linking to /catalog-graph from the sidebar, the loading fails the the screen remains empty:

<img width="1629" alt="Screenshot 2022-02-17 at 11 02 52" src="https://user-images.githubusercontent.com/1575445/154452561-a483e4b1-f333-495b-a088-11dc914ce6ee.png">

Navigating from a component card to it w

[2022-02-17 11:03] awanlin opened #9606 "[Catalog] Orphan Management View"
## Feature Suggestion

It would be really helpful to have a view that would allow you to see all the orphans in your catalog. This view would the option to view the orphan in detail - the normal entity view - and would also have an option to delete each orphan (as well as all)

**Note:** We have built this and would like to contribute it but would like some guidance as to where it should go. Also

[2022-02-17 12:04] #7965 closed

[2022-02-17 12:34] freben commented on #9606
For orphaning _specifically_, it might make sense to actually just make it one more filter in the regular catalog home page - mightn't it? That lets you do things like looking for only orphaned things that are owned by you, or are of a specific kind, etc.

[2022-02-17 13:20] awanlin commented on #9606
That's actually a great idea, not something I had considered! It also seems very much more user friendly as I have no idea how my suggested idea would be accessed other than by people that just know the route. I'll take this away and see what I can build. Should be pretty easy, it's nearly like this example: https://backstage.io/docs/features/software-catalog/catalog-customization#docsNav

[2022-02-17 13:25] freben commented on #9606
Maybe a single Advanced dropdown with checkboxes perhaps, modeled after the "tags" one? "Is orphaned", "Has errors" (based on `(entity as AlphaEntity).status?.items?.length > 0`) etc https://github.com/backstage/backstage/blob/master/packages/catalog-model/src/entity/Entity.ts#L74

[2022-02-17 13:28] awanlin commented on #9606
Oh, that sounds even better. For sure, will head that direction.

[2022-02-17 14:16] andrewthauer opened #9616 "CatalogKindHeader drop down is not discoverable"
## Expected Behavior

I've talked to a few users of our Backstage instance and almost all did not realize you can interact with the catalog kind header to see more then just components. Perhaps some additional visual queues beyond the drop down adornment could be used to help indicate this.

![image](https://user-images.githubusercontent.com/6507159/154498207-52617155-bd50-4868-bf7a-d51e383e60d6.p

[2022-02-17 14:38] dschwank commented on #8054
I created #9619, it is still work in progress - I tested the main functionality, but not sure if _everything_ is working and if we might have to do further adjustments.

https://github.com/backstage/backstage/pull/9619

[2022-02-17 15:28] benjdlambert commented on #8933
Going to close this, but if anyone else runs into this please let us know and we can keep debugging!

[2022-02-17 15:28] #8933 closed

[2022-02-17 15:54] maxknee opened #9622 "Error using template Dockerfile (missing python)"
## Expected Behavior

building the backstage backend dockerfile *should* work

## Actual Behavior

failed -

## Steps to Reproduce

1. run create-backstage-app
2. run `docker image build . -f packages/backend/Dockerfile --tag backstage`

## Context

[code]

Swapping for `node:14-buster-slim` to `node:14-buster` it builds succesfully.

## Your Environment

osx 12.1
Docker version 20.10.7, build f0d

[2022-02-17 16:39] benjdlambert commented on #9616
Yep - this is a good point, @katz95 do you have any input here? :pray:

[2022-02-17 16:52] benjdlambert commented on #9520
This seems like a nice feature, is this something you want to contribute?

[2022-02-17 18:18] nikmel2803 commented on #4726
I'm facing with the same issue now.
It resolved after I deleted all the `node_modules`, `yarn.lock` and then reinstall all dependencies.

But now I'm facing with another problems...

[2022-02-17 19:09] chainalert-bot opened #9631 "ChainAlert: npm package release (0.5.1) has no matching tag in this repo"
Dear [@backstage/plugin-permission-common](https://npmjs.com/package/@backstage/plugin-permission-common) maintainers,
Thank you for your contribution to the open-source community.

This issue was automatically created to inform you a **new version (0.5.1) of [@backstage/plugin-permission-common](https://npmjs.com/package/@backstage/plugin-permission-common) was published without a matching tag in

[2022-02-17 21:10] victormorfin97 commented on #9520
Sure, I would like it. I will start working on this! 😃

[2022-02-17 21:24] Rugvip commented on #9631
Release is intended. We do not use git tags for individual packages so this is expected

[2022-02-17 21:24] #9631 closed

[2022-02-17 21:25] mdb opened #9634 "[Plugin] Enable Splunk OnCall plugin "read only mode" configuration option"
## Feature Suggestion

Summary: In current implementation, the Splunk OnCall plugin exposes links and buttons for performing actions, such as creating and/or acknowledging/resolving incidents. However, in service of those organizations who prefer the Backstage Splunk OnCall plugin serve exclusively as a "read only" mechanism for browsing Splunk OnCall data -- and not for _modifying_ it -- it would

[2022-02-17 21:46] dweber019 commented on #8074
Maybe this will help https://github.com/backstage/backstage/pull/8639

[2022-02-17 22:39] regicsolutions commented on #4726
Good with closing this one

[2022-02-17 23:39] kim5566 commented on #7902
hi, @github-actions bot, I believe this issue should still be opened as PR not merged yet.

We also look for ability to custom K8s frontend table,  this would be very helpful.

[2022-02-18 00:23] ismailelbadawy commented on #9227
Is it okay if I start working on this?

[2022-02-18 01:20] ottosichert opened #9636 "[RFC] TechDocs Addons Framework"
**Status:** Open for comments

## Need

TechDocs is a centralized platform for publishing, viewing, and discovering technical documentation across an entire organization. It’s widely adopted in and outside of Spotify and already solves the core author/view/explore use-cases well.

Having had TechDocs in place for quite some time at Spotify, TechDocs has evolved significantly in order to tackle hig

[2022-02-18 04:13] agates4 commented on #6039
My fix is to add
[code]
To the top level `package.json`

[2022-02-18 08:51] MouadhDos commented on #5913
still relevant

[2022-02-18 08:56] MouadhDos commented on #6603
still relevant

[2022-02-18 08:59] emmaindal commented on #9636
Really nice to see this RFC published. Some initial questions/thoughts comes to mind to open up for discussions:

1. When registering addons in mkdocs.yaml, there is an example of the addon being registered under `plugins` -> `techdocs-addons`. Are you thinking of developing a mkdocs plugin responsible for registering addons when being site scoped. And if so, can you elaborate a bit more on that?

[2022-02-18 10:09] Rugvip commented on #9582
Yep, spot on with the reasoning and the idea makes sense. It's something we did have in mind in the design of the auth backend, being why we have `/handler/frame` as the callback, in case we need a separate `/handler/redirect` or such. We'd most likely carry that in OAuth state at this point though tbh.

I think there are two types of UX optimizations we can apply to the auth flow, first one being

[2022-02-18 10:22] benjdlambert commented on #9520
Perfect! Will assign you! @victormorfin97

[2022-02-18 10:35] #9581 closed

[2022-02-18 10:59] MrBlaise commented on #9574
Update: We are having trouble setting up the development environment to link our version of the scaffolder-backend with our backstage app.

Can anyone guide us how to develop the scaffolder-backend plugin and test it with an existing backstage app?

[2022-02-18 11:38] roylisto commented on #9245
is this Idea the same as the Gitlab CI Editor? https://docs.gitlab.com/ee/ci/pipeline_editor/

[2022-02-18 12:04] #9558 closed

[2022-02-18 12:28] sharadpattanshetti opened #9659 "How to read repo name from RepoUrlPicker field?"
I am using the RepoUrlPicker as below and need to get the repo name out of it. I tried ${{ parameters.repoUrl.repoName }} and ${{ parameters.repoUrl.repoName | parseRepoUrl }} but none of them work.

`- title: Choose a SCM Location
      required:
        - repoUrl
      properties:
        repoUrl:
          title: Repository Location
          type: string
          ui:field: RepoUrlPicker

[2022-02-18 13:14] #9139 closed

[2022-02-18 14:36] #8459 closed

[2022-02-18 15:56] #7601 closed, assigned to nobody

[2022-02-18 16:26] sblausten opened #9668 "Improve error handling when trying to use RAW github urls in annotations"
Improve error messaging for invalid Github annotation urls to allow users to fix problems with annotations themselves.

Currently there is not much handling around common scenarios of invalid annotation urls that would allow a user to know what the problem is and fix it. They just get a generic `NotAllowedError(Reading from xxx is not allowed)`

## Feature Suggestion

When a user tries to link to

[2022-02-18 18:18] #8435 closed

[2022-02-18 19:33] egnwd opened #9672 "[TechDocs Frontend] Rendering the latest Material for MkDocs pages has visual bugs"
## Expected Behavior

When using the latest [mkdocs-techdocs-core](https://github.com/backstage/mkdocs-techdocs-core)/[techdocs-container](https://github.com/backstage/techdocs-container) the generated docs should look good in Backstage.

## Actual Behavior

- The icons in the nav render as solid blocks
- The copy to clipboard icon renders with a block below it (perhaps something similar is happen

[2022-02-18 20:13] loganwedwards commented on #9603
Thanks for providing the example. I experienced the same behavior and noticed that the `rootEntityRefs` prop expects `string | string[]`, but looking into the underlying component, it checks against `EntityName`, so the structure to form via string form was not obvious out of the box.

[2022-02-19 08:09] Rugvip commented on #8251
Yep this is just for local development, for production it's fine if they're the same

[2022-02-19 09:19] #6734 closed

[2022-02-19 10:59] djamaile commented on #8251
@Rugvip seems like putting comments down at two in the night impacted my reading abilities! Sorry, for the comment 😃

[2022-02-19 16:06] karlhaworth commented on #8542
Still a valid issue I believe

[2022-02-20 13:03] skfarhat commented on #7686
👋 Spent about a good hour debugging why the migration to `v1beta3` was not working, turns out it was the hyphens in my step's `id`. Good thing I landed on this issue 🙂

This is still not documented on the migration page https://backstage.io/docs/features/software-templates/migrating-from-v1beta2-to-v1beta3.

Would you like me to do a PR for this? If so, do you think the below near the end of the p

[2022-02-20 13:31] hari2192 commented on #9187
@ashishverma1108 - What was final fix for this issue, if you please share ?

[2022-02-20 13:35] hari2192 commented on #9622
Using `node:14-buster` instead of `node:14-buster-slim` solved issue for me.

[2022-02-20 20:04] github-actions[bot] opened #9678 "Snyk vulnerability [SNYK-JS-PRISMJS-2404333]"
## Affecting Packages/Plugins

* [example-app](packages/app/package.json)
* [@backstage/core-components](packages/core-components/package.json)
* [@backstage/plugin-api-docs](plugins/api-docs/package.json)

## Overview
[prismjs](http://prismjs.com/) is a lightweight, robust, elegant syntax highlighting library.

Affected versions of this package are vulnerable to Cross-site Scripting (XSS) via the

[2022-02-20 20:47] bassco commented on #9622
@hari2192 and @maxknee

What does your Dockerfile look like?

Does it have the python3 reference like this?

https://github.com/backstage/backstage/blob/master/packages/backend/Dockerfile#L26

[2022-02-21 09:12] benjdlambert commented on #7686
Ah that's pretty annoying, yeah maybe we should either suggest using the array notation version or using underscores for the step ids. Please go ahead an open a PR updating the docs! 🙏

[2022-02-21 09:28] sakkshm26 opened #9691 "Grammatical errors in docs"
Small grammatical errors are present in some of the files of the documentation.

[2022-02-21 10:38] #6289 closed

[2022-02-21 14:00] #8229 closed

[2022-02-21 14:38] jhaals opened #9699 "[RFC] Shifting release day from Thursday to Tuesday"
**Status:** Open for comments

This is a lightweight proposal suggesting a change of release day from Thursday to Tuesday.

The maintainer team has found the Thursday release day to be problematic from a few standpoints:

- Thursday often collides with our monthly hackdays leading to less hacking and potentially less features and skunk work on Backstage.
- In the event of issues with the release t

[2022-02-21 14:45] benjdlambert commented on #9579
I think maybe try and extend the model yourself internally first, and let's leave this ticket around to see if it's something that is wanted by others to add to the open source model. Does that work?

[2022-02-21 14:54] #8105 closed

[2022-02-21 15:25] freben commented on #9659
Could you try something like `${{ (parameters.repoUrl | parseRepoUrl).repo }}`?

[2022-02-21 15:47] djamaile commented on #9699
I like it! Was there any specific reason why Monday was not chosen?

[2022-02-21 15:54] jhaals commented on #9699
Glad to hear that :)
Monday is a bit like learning to use a computer again until you've caught up with issues and PRs. 😁
Jokes aside we are having a sync on Monday afternoons going through all new activity since last sync so it's good to do that before the release.

[2022-02-21 15:56] maxknee commented on #9622
ah looks like #9583 was merged and solves it!

[2022-02-21 15:56] #9622 closed

[2022-02-21 15:57] djamaile commented on #9699
@jhaals makes sense, thanks for the answer 😄

[2022-02-21 16:58] marlonmg09 opened #9703 "Customize placeholder for search input in Table Component"
## Feature Suggestion

Customize the placeholder in the Search Input for the Table Component.

## Possible Implementation

## Context

[2022-02-21 16:59] #9703 closed

[2022-02-21 17:32] delanni commented on #9498
I'm also spinning around this issue. After a `verions:bump` call, I was presented with errors like:
[code]

And I don't find a way to disable permissions, or any documentation that would straight point me to configuring permissions.
I found this: https://backstage.io/docs/auth/auth-backend but this is empty.

Can you recommend some documentation on how to adhere to the changed auth defaults after

[2022-02-21 17:38] marlonmg09 opened #9704 "Customize placeholder for Search Input in Table Component"
## Feature Suggestion

Allow to customize the placeholder in the Search Input for the Table Component.
<img width="1688" alt="Screen Shot 2022-02-21 at 12 07 14" src="https://user-images.githubusercontent.com/24708046/155007689-e6cc2335-c638-448d-9079-bd4cd31928f0.png">

## Possible Implementation

Add the `placeholderText` attribute in the options prop and add the functionality in the Table Compo

[2022-02-21 17:45] freben commented on #9668
Maybe there's an argument to be had that we should be flexible and supporting raw urls too ... but that may be a bit of a bigger endeavor.

Is this type of checking something you might like to even contribute? One potential challenge is, should it be a fatal error that stops processing, or just some form of warning? We don't really have a nice mechanism for surfacing warnings unfortunately; loggin

[2022-02-21 18:22] mtlewis commented on #9498
Hi @delanni! The error message you're seeing is not related to permissions, but to [backend-to-backend authentication](https://backstage.io/docs/tutorials/backend-to-backend-auth). It looks like you may have some errant extra config hiding in your yaml file - do you by chance have the property `backend.auth` set? Today, this property should only be set if it contains a `keys` property with backend

[2022-02-21 18:32] jithenshriyan commented on #9428
I released an SDK for the CircleCI V2 API this week covering workflows, jobs, pipelines, and context endpoints. We could use my SDK to migrate the service to the V2 API. Everything has Typescript declarations as well so we can plug it in.

Here's the repo: https://github.com/jithenshriyan/circleci-v2-sdk

[2022-02-21 18:54] freben opened #9706 "upgrade to recharts 2.x"
## Feature Suggestion

Upgrade to `recharts` version 2.x for the entire project.

There are no migration guides for `recharts` 1->2 as far as we know, and there may be some work to make sure that the upgrade goes through properly. We would appreciate help from the community with making that happen!

## Context

We get reminded occasionally by dependabot that this upgrade should happen (see e.g. ht

[2022-02-21 18:58] devth commented on #9428
Why not generate a client from the [CircleCI v2 OpenAPI spec](https://circleci.com/docs/api/v2/)?

[2022-02-21 19:16] jithenshriyan commented on #9428
@devth I see your point. I've heard though there are some consistency issues with the OpenAPI generator, plus I've included test coverage and reusable types as well.

I'd like to keep it as a dedicated package for the V2 API, and if you suggest, I can generate the code using OpenAPI and automate releasing whenever the spec changes. What do you think?

[2022-02-21 19:17] devth commented on #9428
@jithenshriyan sure, up to you. Just seems like a lot of work for something that can be automated 😅

[2022-02-21 20:04] github-actions[bot] opened #9707 "Snyk vulnerability [SNYK-JS-URLPARSE-2407759]"
## Affecting Packages/Plugins

* [@backstage/plugin-api-docs](plugins/api-docs/package.json)

## Overview
[url-parse](https://www.npmjs.com/package/url-parse) is a Small footprint URL parser that works seamlessly across Node.js and browser environments.

Affected versions of this package are vulnerable to Authorization Bypass via the `hostname` field of a parsed URL, because "url-parse" is unable

[2022-02-21 20:04] github-actions[bot] opened #9708 "Snyk vulnerability [SNYK-JS-URLPARSE-2407770]"
## Affecting Packages/Plugins

* [@backstage/plugin-api-docs](plugins/api-docs/package.json)

## Overview
[url-parse](https://www.npmjs.com/package/url-parse) is a Small footprint URL parser that works seamlessly across Node.js and browser environments.

Affected versions of this package are vulnerable to Authorization Bypass due to improper fix of [CVE-2020-8124](https://security.snyk.io/vuln/SNY

[2022-02-21 20:09] freben commented on #9603
Hm - then again, how would such a root page even work? What would it show? The graph would need to be "rooted" in something; it wouldn't be possible to show the entire vast catalog, and even cutting it down to starting from "the top" and showing all domains will likely be way too much data for a decent sized org. It's just not made to be a root page. Could it make sense to make an entirely differe

[2022-02-21 20:12] freben commented on #9245
@roylisto Not really, the validation endpoint will have a quite different purpose and way of working. The only thing the location endpoint can do is to register a URL to an already complete, existing file in source code management. The validation endpoint will serve use cases such as IDE integration and validation, early checks from anywhere. Additionally, it'll likely have to be able to do so wit

[2022-02-21 20:19] freben commented on #8591
So it would essentially round up the relations of underlying components/apis/resources, and show the union of them as a single edge basically? Sure, that might be a good fit as one more component in the catalog-graph plugin. Sounds like there might be some interesting possibilities in how to visualize the edges based on how much or in what ways they are connected to each other etc. Is this somethi

[2022-02-21 20:22] freben commented on #8542
For what it's worth, the suggested fix sounds like it makes sense!

[2022-02-21 20:38] jvilimek opened #9709 "Azure DevOps Plugin - Pull Request Dashboard PullRequestsDashboardProvider loading teams at startup"
## Expected Behavior

Azure DevOps plugin will start in ~1s

## Actual Behavior

The whole backend service waits till the `PullRequestsDashboardProvider` loads all teams&projects from Azure DevOps which
1) creates unnecessary depenency: consider Azure DevOps service returns http 503 (as it often throws) or is not available for a long time..it will "screw" backstage environment on startup... am I r

[2022-02-21 20:49] freben commented on #9616
An off-the-cuff suggestion - what if that control (`CatalogKindHeader`) had an optional `variant` prop that could be `"header"` (default, current style) or `"filter"` (looks and behaves like sidebar things). Then you just place it where it makes sense in your catalog page. Would that work?

[2022-02-21 20:51] freben commented on #9616
I would even personally be up for changing the default page (`DefaultCatalogPage`) to render it that way because I really agree about the confusion. Or heck, even to have it in _both_ places. But maybe let's await design input on that bit.

[2022-02-21 22:21] jithenshriyan commented on #9428
Yeah but I've got most of the major endpoints covered and I'll roll out newer ones if there is a need. It was mostly a project for learning purposes. It still has its advantages with reusable types.

As for the CircleCI tasks within Backstage, I was thinking we could start rolling out changes for the v2 API and I could work on migration with my SDK. Are you also working on tasks for the CircleCI i

[2022-02-22 03:44] #8330 closed

[2022-02-22 07:44] #8501 closed

[2022-02-22 08:34] MrBlaise commented on #9574
FYI: We couldn't make this work properly so we decided to just copy the action and fix it there and register it as our own.

[2022-02-22 10:43] benjdlambert opened #9724 "bump `@types/node` to `16.x`"
We support LTS versions 14 and 16 right now, but we currently use `@types/node@14`. Let's bump the project and all references to `@types/node` to `^16.11.7`.

There might be some small changes that we have to make in the project too, with regards to extra type safety. `child.pid` can be undefined in `16` so we probably want to add some additional checking around it.

Some packages that we depend o

[2022-02-22 11:11] MrBlaise opened #9725 "Output is always null if the step id contains a hyphen (-) in a scaffolder template"
## Expected Behavior

When creating a step in a Template with an id that contains a hyphen (`-`) for example `publish-code`, I should be able to reference its output
in the outputs session like `steps.publish-code.output.remoteUrl`

## Actual Behavior
When a step id contains a hyphen the output cannot be referenced it will always be null. (assuming the handlebar worker fails in this case)

## Step

[2022-02-22 11:18] soapraj commented on #9636
Looks great! and thanks for such a detailed proposal @ottosichert 👌

Do you mean adding additional endpoints to the techdocs backend? Can you elaborate a bit more with an example Addon use case with backend API?

Would the Addons and the backend APIs need to store any data or will the backend APIs always generate this data in run time?

If they need to store data will they need have their own data

[2022-02-22 11:19] ismailelbadawy commented on #9724
I can work on this

[2022-02-22 11:25] benjdlambert commented on #9724
Thanks! 🙏

[2022-02-22 11:26] benjdlambert commented on #9725
i think this could be related to `beta3` templates, a similar comment was referenced from https://github.com/backstage/backstage/issues/7686#issuecomment-1046233235

[2022-02-22 11:27] benjdlambert commented on #9725
I think you could try `${{ steps['publish-something'].output.remoteUrl }}`

[2022-02-22 11:38] Rugvip commented on #9724
I think it's best if we stick to v14 of @types/node as long as long as we support Node.js v14 tbh. That way we make sure we're not using any APIs that are only supported in v16

[2022-02-22 11:43] benjdlambert commented on #9724
I guess there's also the flip side that we could be using stuff in 14 that doesn't exist in 16 either, and also with 16 being the active version shouldn't we be looking more to using that?

 This is needed to fix the `openid-client` type issues as they're not compatible - but happy to explore other options in getting that library in if this is not what we should be doing.

[2022-02-22 11:50] delanni commented on #9498
I had to generate a new backstage project, to understand what's the desired configuration state / example, and copied parts to our existing application.
Again, I was a bit lost for the lack of explicit configuration guidance in the documentation, but ultimately something small like this did the trick:
[code]

[2022-02-22 11:57] MrBlaise commented on #9725
@benjdlambert Hey, thanks that works! :)

We wrote our custom github pull request step (due to this: https://github.com/backstage/backstage/issues/9574) and we have spent a considerable amount of time trying to figure out what went wrong and why the output is always null, so this caused a little bit of a headache 😅

[2022-02-22 11:59] benjdlambert commented on #9725
Yeah the output of that other thread is to update the docs in the right places so that it's made clear if you're migrating from the beta2 syntax or just creating new templates that `-` are gonna cause a headache

[2022-02-22 12:19] sharadpattanshetti commented on #9659
sure @freben, let me try that.

[2022-02-22 12:39] #9691 closed

[2022-02-22 12:44] freben commented on #9724
Yeah @Rugvip see the linked openid-client PR above - the maker of that library has very intentionally taken the opposite stance of ours, if you look at their issues. They use the upper bound types of the engines they support rather than the lower bound. Performing the openid update turns out to be hairy because types travel poorly from our end over to their end. Maybe we'll get the opposite proble

[2022-02-22 12:57] freben commented on #9704
May I ask what text you'd like to put there? Maybe there's a case to be made for changing the default text - I am not fond of it being "search", which kind of is a reserved word for the app-level search - and it's actually more of a filter than a search.

[2022-02-22 12:58] freben commented on #9704
And honestly - I'm more and more feeling that it's time to start looking into an i18n library, that would let users seamlessly change stuff like this in a central place instead of having to supply props all over...

[2022-02-22 13:07] #9672 closed

[2022-02-22 13:30] iamEAP commented on #8816
There may be a promising solution in here: https://github.com/backstage/backstage/pull/8541, if someone in this thread would be willing to resurrect and address some of the suggestions in the feedback?

[2022-02-22 13:33] awanlin commented on #9709
@jvilimek thanks for the creating this issue, I don't have the same scale as you so have not noticed this.

@marleypowell do you have any ideas what we could do to improve this?

[2022-02-22 13:43] marleypowell commented on #9709
I think we could use `new PullRequestsDashboardProvider` instead of `PullRequestsDashboardProvider.create` so that teams are only loaded when they are first required.

https://github.com/backstage/backstage/blob/master/plugins/azure-devops-backend/src/service/router.ts#:~:text=const%20pullRequestsDashboardProvider%20%3D,create(logger%2C%20azureDevOpsApi)%3B

[2022-02-22 13:52] niallmccullagh commented on #8591
Hey @freben, it was on my radar to do over the holidays but I have had a chance to get back to it. I'm still keen but struggling to set some time aside for it at the moment.

[2022-02-22 13:53] freben commented on #8591
No worries!

[2022-02-22 14:26] Rugvip commented on #9724
Alright, didn't realize it was to unbreak openid, let's go ahead then. It seems like a bit of a weird stance to use the highest version, but w/e, we're running tests towards 14 at least. Tbh it's not too long until we should drop support for 14 either

[2022-02-22 14:47] freben commented on #9724
I actually don't really have a strong opinion, I was merely curiously wondering which solution was the least risky / bad :) But yeah it sounds reasonable to bump I think

[2022-02-22 14:58] andrewthauer commented on #9616
A variation on this could be to add `CatalogKindPicker` which is like entity type, etc. and then just make the header a header. Possibly having the header update it's label based on the selected kind.

[2022-02-22 15:03] freben commented on #9428
Putting a proper sdk in place sounds like it might be a plan. To be fully honest, and with all due respect, I suppose it would add some risk to use the linked one - it being an entirely new and not widely used library. As security issues pop up and similar, we of course are eager to have things updated.

Then again - maybe that's an argument for making sure that the circleci functionality stays in

[2022-02-22 16:00] awanlin opened #9733 "[Plugin] Linguist (Languages)"
## Summary

Linguist is the tooling used by GitHub to determine the languages in a repo. Now GitHub and a few other SCM have APIs to pull this data out but others don't. It would be great if we had a plugin to use Linguist directly.

**Note:** we have built this using Linguist-JS and would like to contribute it. Here is a sample of what this would look like:

![image](https://user-images.githubuse

[2022-02-22 16:19] LoveraSantiago opened #9734 "Error building new application - npx @backstage/create-app 2"
I have followed the steps in [create-an-app](https://backstage.io/docs/getting-started/create-an-app) when I have tried the command npx @backstage/create-app the process has stopped with erro while executing yarn install

## Expected Behavior

The command finished correctly

## Actual Behavior

`gyp info spawn args   '--no-parallel',
gyp info spawn args   '--generator-output',
gyp info spawn args

[2022-02-22 16:20] awanlin opened #9735 "[Plugin] Git Stats"
## Summary

Git holds a treasure trove of valuable information. It would be awesome if we had a plugin that would be able to surface this information.

The work to create a bare clone of a git repo has already been done. This lets you get just the `.git` folder where all the stats are. From here we can use isomorphic-git to pull the logs though this is pretty limited and we may wish to look at usi

[2022-02-22 16:32] NishkarshRaj opened #9736 "[RFC] Improvements to the Scaffolder Publish Action for Setting Author and Commit Message"
**Status:** Open for comments

## Need

Currently, we have the following default author and commit message for Scaffolder:

<img width="997" alt="Screenshot 2022-02-22 at 9 47 34 PM" src="https://user-images.githubusercontent.com/35298207/155174428-1788ccf3-c0f4-4c4b-99fb-35385751caa9.png">

[code]

We must be able to override these, there is an approach which is mentioned below under the `Alterna

[2022-02-22 16:45] awanlin opened #9737 "[RFC] Debug Plugin"
**Status:** Open for comments

_Sound Check: a test of sound equipment before a musical performance or recording to check that the desired sound is being produced._

## Need

Currently there is no "home" for various debugging features - viewing logs, config, health, etc. This makes it hard once Backstage has been deployed to debug or troubleshoot issues. This is especially true for locked down pro

[2022-02-22 16:46] awanlin commented on #9737
This is my first RFC so my apologies if it's not as detailed as others

[2022-02-22 16:47] awanlin commented on #9737
@freben @benjdlambert we've talked about this on Discord here and there so I've put pen to paper to try and get something rolling for this. Would love your feedback!

[2022-02-22 16:52] awanlin commented on #9737
Oh, worth mentioning that we have some work done to show the current config with secrets filtered out. We also have an extensible health check that you can add URLs to fetch or Targets to ping which can be helpful for validating that you can reach other systems from your Backstage instance to rule out things like DNS or firewall issues

[2022-02-22 17:46] jselleck-sans commented on #6039
We ran into this issue with the most recent version:bump.   @agates4 top level package.json (above) fixed for now.

[2022-02-22 18:52] jvilimek commented on #9709
Thanks a lot guys! How can I help? Shall I test the change once ready?

There might still be issues with the timeouts when loading projects/teams from DevOps even when it is loaded for the first time ("on demand") even outside of the startup. Maybe some per-project/partial load would help as well.. How can I isolate the [readTeams](https://github.com/backstage/backstage/blob/6881237b21ce13dab49ad3

[2022-02-22 21:35] hsparmar1 opened #9740 "Kubernetes: Issue: Errors: Request failed with 500 , {"error":"Unknown suffix: u"}"
## Expected Behavior

The user should be able to click on the the Kubernetes tab in the Component Page and have the `Your Cluster` display the Kubernetes information about the Component: Deployment, Ingress, and Service, without seeing the following error:

## Actual Behavior

The Kubernetes tab in the Component Page intermittently displays the following error:

This error sometimes occurs right a

[2022-02-22 22:26] marlonmg09 commented on #9704
Or to intention is to display for example "Search by name" to let the user know for which field we're doing the search/filter for each table.

But if we use the i18n library we need to specify the value in a variable and then link it into the default placeholder, or how is the approach that you suggest?

[2022-02-22 22:37] clareliguori opened #9741 "[Plugin] AWS Proton"
Hello! I'm from the [AWS Proton](https://aws.amazon.com/proton/) service team, and we're exploring use cases for a Proton plugin in Backstage and what that could look like.  At a high-level, this is what I'm thinking right now -- I would love feedback:  With Proton + Backstage, you can use Proton to standardize infrastructure and pipeline configuration, so that your developers don't have to keep t

[2022-02-23 02:23] niallthomson commented on #2256
We're taking a look at this integration and have a working prototype. You can assign this to me for tracking if it helps.

[2022-02-23 08:14] emmaindal commented on #8390
Since the above PR is merged, I'll go on and close this issue, please re-open if the issue still occurs.

[2022-02-23 08:14] #8390 closed

[2022-02-23 08:46] grantila commented on #9579
Sure, we'll go about this internally

[2022-02-23 11:24] grantila opened #9755 "PluginTaskScheduler shouldn't store _next_ run timestamp, but _last_"
## Expected Behavior

When using the `PluginTaskScheduler` from `@backstage/backend-tasks` and scheduling tasks using `scheduleTask()`, I'd expect to be able to a) intentionally bump the `frequency` far away in the future, and b) make mistakes in the `frequency` setting and be able to revert that later. E.g. if I set it to 15 days instead of 15 minutes (maybe by mistake or intentionally to simply

[2022-02-23 12:04] angeliski commented on #4454
Hey @freben, any news about that? I could help to make that happening

[2022-02-23 12:17] nodify-at opened #9756 "eslint fails caused by the rule import/no-extraneous-dependencies"
## Expected Behavior

ESLint should ignore the setupTests files and the files inside the `dev` folder.

## Actual Behavior

ESLint throws 146+ errors caused by the rule import/no-extraneous-dependencies.
See: https://github.com/backstage/backstage/pull/9389/files

## Steps to Reproduce

[code]

## Context
<img width="327" alt="Screenshot 2022-02-23 at 13 04 26" src="https://user-images.githubuserc

[2022-02-23 12:49] freben commented on #9616
Sure - that naming makes better sense!

[2022-02-23 12:55] pjungermann opened #9759 "[scaffolder] [Bitbucket Cloud] publish:bitbucket action ignores defaultBranch in output repoContentsUrl"
## Expected Behavior

When using a defaultBranch != master (e.g., main), the repoContentsUrl should point to the actual main branch, not master.

## Actual Behavior

While creating the repository, no default branch is defined. This defaults to "master" at Bitbucket Cloud.
The default branch is used as target for the initial commit though. This will also change the default branch of the repo implic

[2022-02-23 12:57] freben commented on #7638
Of note: We are moving away from compound references and instead returning the string-form (always-lowercase) refs instead. https://github.com/backstage/backstage/pull/9671

[2022-02-23 13:25] katz95 commented on #9616
This looks great @andrewthauer - thanks for the suggestion! Can we use the same caret icon that we use from Material (as opposed to the triangle)?

[2022-02-23 13:34] #9756 closed

[2022-02-23 13:36] benjdlambert commented on #9616
@katz95 so I think the general consensus is that we're feeling that it's not as discoverable as we would like, and maybe want to ditch the caret all together as that menu is a little hidden. Do you have maybe some ideas as to what we could do? Sorry if that was unclear 😄

[2022-02-23 13:38] katz95 commented on #9616
Got it, another alternative is to replace that header with tabs, as seen in this component: https://backstage.io/storybook/?path=/story/navigation-tabs--default

[2022-02-23 13:39] katz95 commented on #9616
The explore page in the demo also has a tabbed variation: https://demo.backstage.io/explore

[2022-02-23 13:55] pjungermann commented on #9759
The Bitbucket Server implementation seems to return the URL with the apiBaseUrl instead of host. Couldn't test it though. I guess it could cause issues with the processing as Location as the integration selection is based on the host name.

[2022-02-23 14:33] alileza opened #9762 "Processing user for `github-org` unable to handle user with `-` postfix"
## Expected Behavior

Able to process user with `-` postfix

## Actual Behavior

[code]

## Steps to Reproduce

1. Have a user in your orgs with username like `username-` or `whatever-`
2. Set catalog configuration to

[code]

3. You'd receive those warning unable to process user while doing `[1] 2022-02-23T14:28:53.733Z catalog debug Processing user:default/username- type=plugin`

[2022-02-23 14:38] pjungermann opened #9764 "[integration] [Bitbucket] wrong line number references"
## Expected Behavior

Line number references use the format

- Bitbucket Cloud: `#lines-{start}[:{end}][,...]` (e.g., `#lines-188`, `#lines-188:208`, `#lines-7,21:42`)
- Bitbucket Server: `#{start}[-{end}][,...]` (e.g., `#188`, `#188-208`, `#7,21-42`)

## Actual Behavior

Line number format `#example.txt-42` is applied.

## Steps to Reproduce

## Context

I discovered this while looking into the b

[2022-02-23 14:57] pjungermann opened #9765 "[integration] [discovery] [Bitbucket Cloud] higher efficiency and multiple catalog files support by using code search"
## Feature Suggestion

Create Location entities only for catalog files which exist. Current behavior adds Location entities with optional presence for each repository.

Additionally, we could support multiple catalog files (e.g., monorepo) using different path filter patterns.

Possible values for the `catalogPath` parameter:

- `/catalog-info.yaml` (absolute path)
- `catalog-info.yaml` (any dir;

[2022-02-23 16:55] dhruvaldarji commented on #9764
Bitbucket Server uses the below pattern to reference lines.
The pattern starts with a `#` symbol and is followed by a comma-separated range of numbers. Each range can be represented by either just the `start` line number or the `start` and `end` (inclusive) line numbers separated by a `-`.
[code]
For example, the above range defines line references in a file as line 1, line 5, an inclusive range f

[2022-02-23 18:50] queueburt commented on #8671
I want to +1 this, it's a bit of a sharp edge.  I realize it's an anti-pattern to not allocate memory limits to deployments, but anti-patterns shouldn't break developer interfaces when they're otherwise functionally usable in the cluster.  Consider as well that most test or demo environments aren't necessarily going to enforce resource limits while teams work through optimizing their apps' resourc

[2022-02-23 21:07] sbellam1187 opened #9769 "Techdocs search is broken when navigating from other techdocs"
## Expected Behavior
We should see search results of current techdocs we are in

## Actual Behavior
You should be observe search results still referring to documented-component page instead of techdocs-e2e-fixture

## Steps to Reproduce

1. Add link `[Link for e2e-fixture ](http://localhost:3000/docs/default/component/techdocs-e2e-fixture)` in plugins\techdocs-backend\examples\documented-component

[2022-02-23 21:15] sbellam1187 commented on #9769
I believe, filter context is not updated navigating through the links. that's why we do see old search results. But I don't know how to resolve the issue.

[code]

[2022-02-23 22:26] Irma12 commented on #9636
This sounds awesome @ottosichert. I have been working a bit with customising look, specifically width of the content pane in cases when TOC is not present, and I stumbled across some limitations when using MkDocs design so being able to use separate add ons for specific locations would be much more classy :) By implementing this solution I assume ToC would be considered a separate plugin.

Since w

[2022-02-24 08:36] pjungermann commented on #9764
@dhruvaldarji thank you for the input! I guess then the current implementation is wrong for both.

As of references to API docs in the code, it seem it was implemented against 7.9.0. But not sure about referencing lines.

[2022-02-24 08:58] martina-if commented on #9512
Hi @zerodayyy , your comments regarding the ingress make a lot of sense.

Regarding the issuer, I'm happy to have this being optional. The initial goal with this was to have a full backstage set up for demo, so we didn't want to have to put extra work to get it up and running so the issuer was helping with that case.

I won't have time to work on these changes but I'd be happy to review a PR if yo

[2022-02-24 10:40] julioz commented on #9119
Tried again, and bumping versions to the latest fixed it. Unfortunately I could not pinpoint the exact reason, but I do assume it could have been one of our third-party plugin dependencies still relying on React 16 vs the Backstage frontend app depending on React 17.

For others' reference, here is the current output of `backstage-cli info`:
[code]

[2022-02-24 10:40] #9119 closed

[2022-02-24 10:48] gomain commented on #8242
What happening to this issue? Is it in the works? Is there a plugin that does just this: preserves dynamic `import`.

[2022-02-24 10:52] freben commented on #8242
No active work at this point, our focus is elsewhere. The problem is fairly complex but still very relevant

[2022-02-24 10:57] pjungermann commented on #9759
@dhruvaldarji as a Bitbucket Server user, maybe you can provide some input on how it works there?

[2022-02-24 11:05] Fs00 opened #9781 "[Plugin] Phoenix framework module for scaffolder"
We've developed a module for the scaffolder that includes a template action to generate a new [Phoenix framework](https://www.phoenixframework.org/) (Elixir) project by running the `mix phx_new` command in a Docker container, very similarly to what the [Rails module for the scaffolder](https://github.com/backstage/backstage/tree/master/plugins/scaffolder-backend-module-rails) does (we actually too

[2022-02-24 11:06] freben commented on #4454
No news yet. I can say though, that there's one more angle to this that makes i18n interesting: I'm getting more and more interest from people that want to replace individual little text snippets inside their Backstage instance, not for translation purposes, but for personalization / branding purposes. Sometimes we've added a prop or similar to make them customizable, but an i18n framework properl

[2022-02-24 11:09] freben commented on #9755
I'd prefer to keep the current structure, but writing a `MIN(old, new)` here instead https://github.com/backstage/backstage/blob/8cf64c4ec7552b20d64056aec15022590d991222/packages/backend-tasks/src/tasks/TaskWorker.ts#L142 .

[2022-02-24 11:16] stibi commented on #9512
Hello, I'm happy to see that this topic is addressed now. I had to fork the chart when I was playing around with Backstage ~ half year ago, because of Traefik as the ingress controller.

Now I'm again trying to deploy Backstage, for real this time, and I'm facing this problem again :)

So, if needed, I'd be happy to propose an enhancement PR. What do you think, are you on it already @zerodayyy ?

[2022-02-24 11:38] andrewthauer commented on #9616
Hi @katz95. This page used to have tabs, but was changed to accommodate a drop down since the list of kinds & types of entities is determined by what is in the catalog and not a finite list. The contents of each uses the same components as well. So I think a drop down like component is likely the best option for entity kind. Especially considering the list of kinds is unlikely to be more then 10-2

[2022-02-24 11:42] freben commented on #9616
As a larger scale discussion, I'd even like to revamp the filtering to be more like a list of active filter "pills" at the top and you remove filters with a cross in the pill and add more with a plus sign where you pick the filter type you want etc ... But then again, this view is supposed to kind of take a step back eventually and be replaced with more purposeful Explore / Manage views that are p

[2022-02-24 11:44] freben commented on #9616
And agreed - not sure the kind warrants being an entirely stand-out, special-treatment filter design thing at this point? 🤔

[2022-02-24 11:51] freben commented on #8671
Hi! Are you able to try to contribute a fix for this bug?

[2022-02-24 13:34] SteffanVerlaan commented on #9734
I had a similar problem. Haven't been able to fix it though.
Curiously this only happened with the SQLite option, Postgres works fine.

[2022-02-24 13:37] gluefactory commented on #9636
As a non-Spotify person who would like to use TechDocs, this all sounds great. The feedback loop that these kinds of add-on enable are the killer feature for me, so I'm looking forward. I'm just slightly disappointed I can't use them yet :-)

[2022-02-24 14:11] dtuite commented on #6832
I would love to see some progress on this also. At Roadie, we have customers looking to move their API specs into Backstage but they are stuck on this.

@NishkarshRaj or @lorsatti are either of you working on this or should we consider it free to pick up?

[2022-02-24 14:26] grantila commented on #9755
Why?

[2022-02-24 15:14] freben commented on #9734
I see `Error: not found: make`.

You may need to install build-essentials.

[2022-02-24 15:24] freben commented on #9498
@mtlewis This should be fixed now, right? Can we close this now that the release is out?

[2022-02-24 15:49] freben commented on #9704
@marlonmg09 It would depend on the i18n library that we pick in the end. But most likely, it would be something like a file in your `packages/app` that has something like

[code]

along with all of the other overrides.

[2022-02-24 16:01] freben commented on #9709
Yeah it might even warrant being broken apart into smaller request bites, it sounds like (depending on what the client request patterns look like). Either way, caching old results and presenting stale data while revalidating in the background might also be worth it? We have a couple such data providers actually in our internal instance. They periodically go fetch data from heavy / slow sources and

[2022-02-24 16:11] NishkarshRaj commented on #6832
@satrox28 @dtuite @lorsatti Please re-assign this RFC to someone else. We do require this feature but our team is focusing on other things. I apologize for leaving this hanging.

[2022-02-24 16:32] katz95 commented on #9616
Gotcha! I agree that it makes sense to have the kind picker be a standard drop-down, like the one shown for "Type" (as shown below). I also wonder if it's worth allowing users to choose more than one type of 'kind' - what if I want to see Locations _and_ Groups? Having a checkbox in the dropdown might help with that, if that's a relevant user scenario.

<img width="243" alt="Screenshot 2022-02-24

[2022-02-24 17:08] ismailelbadawy commented on #9724
There is a type issue in ``@grpc/grpc-js`` this issue was resolved in version ``1.4.5``

When i tried upgrading the ``@types/node`` package to ``16.11.7`` an issue occurred in ``@grpc/grpc-js`` which is depended on in ``backstage/plugin-kubernetes-backend`` because this depends on ``@google-cloud/container`` which depends on ``google-gax``

The issue is that the latest version of ``@google-cloud/c

[2022-02-24 18:40] mtlewis commented on #9498
The fix mentioned [here](https://github.com/backstage/backstage/issues/9498#issuecomment-1047135866) doesn't relate to the original issue really. @lqlamTMA were you able to resolve your original issue here?

[2022-02-24 18:54] iamEAP commented on #9769
Thanks for reporting @sbellam1187.  Perhaps something like #9791 could help?

[2022-02-24 22:28] peimanja commented on #9734
Had the same issue. In my case I was missing `cmake`

[2022-02-24 23:31] pjungermann opened #9795 "catalog-backend-module-msgraph: support advanced query capabilities"
## Feature Suggestion

The Microsoft Graph API supports "advanced query/filter capabilities" which need to enabled.
https://docs.microsoft.com/en-us/graph/aad-advanced-queries

Some of the filter options are limited to the advanced filters.

## Possible Implementation

As described at https://docs.microsoft.com/en-us/graph/aad-advanced-queries
this feature requires to send the header `ConsistencyL

[2022-02-24 23:37] pjungermann opened #9796 "catalog-backend-module-msgraph: support $select to control returned data for User and Group"
## Feature Suggestion

The Microsoft Graph API supports "advanced query/filter capabilities" which need to enabled.
https://docs.microsoft.com/en-us/graph/aad-advanced-queries

By default, only a subset of the information about the entities will be returned.
This can be changed using the `$select` parameter.

We could make this configurable so that users of msgraph can control which data is return

[2022-02-25 08:39] freben commented on #9755
Well OK let me rephrase that - I just want to preserve some properties. If they can be had with a refactor, then sure.

I wanted to be able to evolve and express the task timing info, in any way I see fit. You'll notice that it's versioned and verified. I want to be able to express complex schedules in ts code, but I also want to use the database server as the timing authority (the only clock sour

[2022-02-25 09:28] yousifalraheem opened #9805 "Customize the Settings page with additional tabs"
I would like to have the ability to customize the settings page to cater for as many tabs as needed.

## Feature Suggestion

In the `user-settings-plugin` there are 3 pre-configured and hard-coded tabs. However, in our implementation at Zalando, we require more settings to be implemented in there. There isn't a way to do that at the moment, but this can be achieved by allowing us to add more tabs.

[2022-02-25 09:28] #9764 closed

[2022-02-25 09:35] #9769 closed

[2022-02-25 09:48] freben commented on #9795
Sounds great!

In general boolean parameters can be a bit opaque and hard to evolve. Maybe rather use something like `queryMode: 'basic' | 'advanced'`?

[2022-02-25 09:50] freben commented on #9795
On the other hand, no config is always best - is there some way of just plain detecting which query mode to use?

[2022-02-25 10:07] freben commented on #9733
Super nice! Is it looking up that info in realitime for frontend purposes? Sounds like something that might also be useful to have as a driver in the backend, such as a processor that slaps a "java" label in your metadata if linguist clearly shows a java-majority distribution of language use on that particular component's repo.

[2022-02-25 10:12] freben commented on #9735
Hm! Sure - but a bare clone still includes the history and file blobs, does it not? Even though it doesn't put the current HEAD into the working directory. Did a quick googling and it sounds like it's actually tricky to get _only_ metadata-like things (such as commit markers) without the associated file data - but I'm extremely open to being wrong here :D

A lot of the providers probably have cust

[2022-02-25 10:15] freben commented on #9737
Inventive naming! Could we just call it plain "debug" or "inspect" or similar though? Wanna be super clear that it's not meant as a primary use case but more for debugging.

Any ideas on how to best reach it? Will it have like a master view that you reach from the sidebar or via a secret keypress if you're an admin? Or will it mostly be composed of several small pieces, so maybe it has a catalog d

[2022-02-25 10:16] freben commented on #9737
Also to be clear, yesss we'd love to get help getting this ball rolling!

[2022-02-25 10:34] benjdlambert commented on #9741
This looks really neat. Think it looks pretty good so far, and pretty reasonable. The annotation of the entities is going to be pretty simple I think, but you probably want to amend the `catalog-info.yaml` that is going to be created after the `aws:proton:create` action or something as that would output the `arn`'s that are needed. So maybe the push comes after?

As for what to show in the Backsta

[2022-02-25 10:34] freben commented on #9741
Hi,

Awesome that you're looking into this! I bet a lot of users will be thrilled to work with this tooling.

Is there any chicken-and-egg problem to iron out with the `aws-proton:create` action vs. the catalog-info.yaml creation and CI/CD triggering etc? As in, I'm just double checking - is there some need to perform actions in a certain order? The reason I'm asking is, indeed it would be super v

[2022-02-25 10:41] freben opened #9808 "Bump `jose` to the latest version"
## Feature Suggestion

Make Backstage libraries use the latest version of the `jose` library.

## Context

Dependabot [reminds us](https://github.com/backstage/backstage/pull/9745) that it's past due to bump our `jose` dependency, but their interface has changed pretty significantly. We'd appreciate the help to get that bump done, maybe by a contributor who's familiar with the interface, so that w

[2022-02-25 10:44] #9759 closed

[2022-02-25 13:46] freben commented on #9805
Alright.

This would probably fit as one of these "composability" things where the plugin exposes a wrapper component plus the ability for users to make extension components that end up being rendered as tabs. @Rugvip for visibility

[2022-02-25 13:50] cablunar opened #9817 "Add support for ignoring TTY so docker run isn't hardcoded for -it"
When running @techdocs/cli in a terminal that isn't interactive, the docker container cannot startup.
For wrapped runners or tests, you typically do not have an interactive terminal.

## Feature Suggestion
Add the possibility to support a flag that, allows for non TTY.

## Possible Implementation
Add a flag to the serve:mkdocs for using `docker run -t` instead of `docker run -it`
Could be done lik

[2022-02-25 14:02] freben commented on #9781
Hi! Oh cool, thanks for the contribution. I think it looks good where you have it - if you are happy in your current situation, no need to move over. Maybe you'd be interested in featuring it in the plugin marketplace though? https://backstage.io/plugins

[2022-02-25 14:26] Crevil commented on #7671
I just looked breifly into this. From the most part the fork supports the same API but the testMode is different.

`react-ga` has a possiblity to inspect the calls and `react-ga4` doesn't. We use this in the tests of the analytics package so a clean switch is not that esay.

There also isn't another way to get a hold of the calls in `react-ga4` it seems.

As this in practice would be a breaking ch

[2022-02-25 14:41] pjungermann opened #9819 "catalog-backend-module-msgraph: undocumented config options"
## Expected Behavior

Documentation for the config options

- userExpand
- userGroupMemberSearch
- groupSearch

exist at the documentation/README.md of the catalog-backend-module-msgraph plugin.

## Actual Behavior

All the mentioned config options are not part of the documentation, yet.

## Context

## Your Environment

- Browser Information:

- Output of `yarn backstage-cli info`:

[code]

[2022-02-25 14:52] pjungermann commented on #9819
- seems like `$search` (`userGroupMemberSearch`, `groupSearch`) required advanced query capabilities (not yet available, feature request at #9795)
- `$expand` (config option `userExpand`) is not available at advanced query mode
- there is no search option for user (`userSearch`)

see https://docs.microsoft.com/en-us/graph/aad-advanced-queries?tabs=http

[2022-02-25 14:53] freben commented on #9819
Alright - will you be looking into adding these as appropriate?

[2022-02-25 15:15] pjungermann commented on #9819
seems like these config options were introduced recently as part of PR #9721

[2022-02-25 15:31] pjungermann commented on #9819
advanced query capabilities don't support `$expand` -- but instead of validating it while calling the API, we could just let it fail with the APIs error. Might be more sensible and forward compatible in case they add support in the future.

What do you think @freben ?

[2022-02-25 15:32] pjungermann commented on #9819
Yes. Likely I will take care of it as part of #9795 -- or a separate PR depending on what makes sense.

[2022-02-25 15:41] wittwerch commented on #9603
Yes I see your point, somehow a root node has to be selected. Maybe updating the doc would be enough, just that other users don't have to spend that much time on finding the correct settings :)

If you give me a pointer to the doc I'm happy to contribute a section about that

[2022-02-25 15:59] pjungermann commented on #9795
It seems like the use of `$search` requires `$count`, too, besides the header, but the docs are not consistent about it.

as of https://docs.microsoft.com/en-us/graph/api/user-list?view=graph-rest-1.0&tabs=http#request-headers

as well as https://docs.microsoft.com/en-us/graph/api/resources/group?view=graph-rest-1.0#properties

it seems like it is needed.

However at https://docs.microsoft.com/en-

[2022-02-25 16:13] freben commented on #9765
An initial thought: be careful about supporting too many syntaxes :) Especially the relative ones stand out. If the underlying platform changes or so, it may turn out to be almost impossible to keep supporting them. Maybe `*/filename` and `/filename` are the only ones we actually need in order to satisfy the vast majority of people.

But yeah, pruning the result set to only things that actually ha

[2022-02-25 16:15] freben commented on #9765
BTW this touches on an even more extreme possible future extension of this idea ... What if you had an entity provider that performed this search, _and fetched_ those resulting entities and emitted them directly. No intermediate locations at all. If the search result contains a head hash or etag or so, the provider could be smart enough to only fetch things that it knows has changed.

[2022-02-25 16:15] pjungermann commented on #9819
I will support additional parameters at a separate PR and only take care of the docs.

[2022-02-25 17:46] pjungermann commented on #9765
I will need myself `parentDir/filename` (relative) which could be the same as `*/parentDir/filename`.

I guess we could fall back to post-filtering as it is used now for project and repo at both, Bitbucket Cloud and Bitbucket Server.

At the end though, we could just refer to what is available for the `path` filter at Bitbucket Cloud by linking to their docs instead of limiting it in any specific

[2022-02-25 17:51] pjungermann commented on #9765
Yeah.. I thought about it. I like providers more than processors as they "own" their produced entities and take care of orphaned ones.

That is a great idea. I guess we cannot really get an etag (e.g., doing a HEAD request would still be a request counted), but we can use the commit hash as reference (basically, some sort of identifier/version - to abstract it a bit more).

With this, we should be

[2022-02-25 19:24] iamEAP commented on #7671
Thanks for looking into the diff b/w the existing plugin and the fork, @Crevil!  The lack of observability in the tests is unfortunate.

Reading through [Google's comparison guide](https://support.google.com/analytics/answer/9964640?hl=en#zippy=%2Cin-this-article), I'm wondering if it's actually worth writing an entirely different integration with its own config schema, and perhaps backed by an en

[2022-02-25 19:31] kuangp opened #9825 "Redis cache connection URL should require protocol prefix"
## Feature Suggestion

The protocol prefix for Redis connection URLs should be allowed to be specified by the Backstage integrator.

## Possible Implementation

Remove hardcoded `redis://` prefix from https://github.com/backstage/backstage/blob/3b7a11e9c8058bc2ad758ccc867279234c6bc409/packages/backend-common/src/cache/CacheManager.ts#L136
## Context

It is standard for connection URLs for differen

[2022-02-25 19:32] kuangp commented on #9825
cc: @magnusp (original author) and maintainers on your thoughts before I open PR with the requested change

[2022-02-25 20:08] tejaswivinodg commented on #6302
👋 @benjdlambert I am seeing the similar issue. I'd like to clarify one more question - if I delete an entity with location, I should be able to re-register the same entity? I see the `register` action says `entity exists` and when I try to refresh the entity it `refresh` endpoint throws 404.

[2022-02-25 20:55] mermadly opened #9827 "Entity Generic Picker for ScaffolderPage"
## Feature Suggestion

In Backstage's Scaffolder Page, there's currently the EntityTagPicker which allows us to Filter templates according to tags.
We want to add an EntityGenericPicker, to be able to Filter the templates according to other metadata (for eg: status like "active" or "inactive").

## Possible Implementation

[code]

## Context

[2022-02-25 21:15] emoreth commented on #4328
Hello!

I'm trying to make this work for the last few hours and decided to ask some clarifying questions here before I move forward so I don't potentially loose my time.

I was able to work it out with Jenkins API so I can call both (maybe all) types types of jobs in a single query. My main problem now relies on this plugin heavily relying on `lastBuild` object. While this is fine for WorkflowMult

[2022-02-25 21:33] lalit774 opened #9828 "Disable/enable the github refresh rate"
We are getting the issue due to refresh rate. We have 1800 records. On refresh it send the calls to Github. so we want to disable the refresh rate and we use the user api end point to add/remove and update the apis.

or

If we have any other method expect from polling.

## Expected Behavior
Just need ability to enable and disable the refresh rate

## Actual Behavior
Refresh rate is enable by defau

[2022-02-25 21:38] lalit774 opened #9829 "Table view performance issue. It should be pull data as lazy load."
I have 1800 records. Table view make super slow loading. because it pull all data at once. It should be pull data by lazy loading or batches.

## Expected Behavior
It should pull data by lazy loading.

## Actual Behavior
Table view pull all data even in api catalog download all swagger files.

[2022-02-26 12:06] #9707 closed

[2022-02-26 12:06] #9708 closed

[2022-02-26 13:35] freben commented on #9765
The drawback of using a provider though is that you would invent a whole lot of supporting machinery to mimic the internal processing loops, in terms of distributing load. Processors even out the work across catalog nodes, doing one location at a time. A provider - in its basic form - would be solely responsible for the mass import of maybe thousands of things at once, on a single worker. Especial

[2022-02-26 15:12] magnusp commented on #9825
Yeah I had conflicting thoughts about the protocol bit. I decided on keeping it as host+port since that is how the memcache client is configured. By adding the protocol we could remove the 'type' property all together, specifying memcache as memcache://host:port.

[2022-02-26 16:46] regicsolutions opened #9836 "Minified React error when upgrading to 0.69.2"
I am getting the follow error after upgrading to the latest version (0.69.2) -

[code]

![image](https://user-images.githubusercontent.com/6157895/155851495-b29a408c-7a36-4d84-b993-851cbc1f334c.png)

[2022-02-26 17:40] lukzerom opened #9837 "Add icons to Storybook"
We use several icons , i wanted to document them in storybook so i can later use this reference in core component documentation.

## Feature Suggestion

Add icons to storybook

## Possible Implementation

## Context

[2022-02-26 23:05] #8569 closed

[2022-02-28 02:33] lqlamTMA commented on #9498
Thanks @mtlewis .

[2022-02-28 02:34] #9498 closed

[2022-02-28 08:00] lukzerom commented on #9837
Can i take it ? 😅

[2022-02-28 08:34] Xantier commented on #8655
Thanks @goenning,

Yeah, I agree this is not ideal. It's is circumventable by naming the facts uniquely (essentially, namespacing them manually) but that is not really ideal. I also don't think option 2 is good since I feel there is a big need to use whatever facts are available, regardless of their retriever association.

So option number 1 is the likely way we want to go forward. Since the rules

[2022-02-28 09:17] #8572 closed

[2022-02-28 10:05] Fs00 commented on #9781
Thanks for the answer @freben!
Actually, the current GitHub repository was meant as a temporary location for the plugin. We weren't aware of the Plugin Marketplace, but I think we won't go that route because we'd rather not maintain a public NPM package (and the corresponding release pipeline) by ourselves.
I'm wondering what are the criteria for the inclusion of the plugin in the official reposit

[2022-02-28 10:17] garyniemen commented on #9636
Nice work @ottosichert and good to see a bunch of questions on the proposal. One thing that I have been hearing recently is that there is a need for non-GitHub-using readers of documentation in TechDocs to be able to give feedback, that is, without raising an Issue or submitting a PR. Do you think the Addon framework will support such an Addon. I could imagine a pop-up window where the user adds t

[2022-02-28 10:28] Fs00 opened #9850 "DockerContainerRunner.runContainer does not remove container when execution ends"
## Expected Behavior

There should be no leftover containers after `runContainer` terminates its execution.

## Actual Behavior

Stopped containers aren't removed and remain there until someone removes them manually.

## Steps to Reproduce

1. Create a component with a template that uses an action that runs a Docker container (such as [`fetch:rails`](https://github.com/backstage/backstage/blob/mas

[2022-02-28 11:24] sharadpattanshetti commented on #9659
It worked, Thank you @freben

[2022-02-28 12:05] magnusp commented on #9825
By keeping that field we do end up in a situation where the user could specifiy memcache as store but mistakenly uses an Redis connection URL. Which field has priority in deciding what is correct? I guess it is a validation error?

[2022-02-28 12:45] freben commented on #9825
Yep, validation error sounds right.

[2022-02-28 14:59] Charge71 opened #9854 "EntityOwnerPicker and OwnershipCard url filter issue with more than 21 owners"
## Expected Behavior

When I click on the link generated by `OwnershipCard` with more than 21 owners it should open a catalog page where the `EntityOwnerPicker` has all the owners selected and the entities filtered.

## Actual Behavior

[code]

## Steps to Reproduce

1. Open a catalog page with an `EntityOwnerPicker` filter.
2. Select 22 owners, the page url will update accordingly.
3. Use the gen

[2022-02-28 20:38] JP-Dhabolt commented on #9836
I am also running into the same issue.  I managed to get the unminified frontend (which is more difficult than it should be when serving the frontend directly from the backend).

[code]

It seems that the version bump of `@hot-loader/react-dom` from `@backstage/cli` to `17.0.2` is the cause of this.  I was able to workaround by adding a resolution to the root `package.json` to force it to use the

[2022-02-28 21:12] shvmbisht commented on #9736
https://github.com/backstage/backstage/pull/9859 @benjdlambert @freben @NishkarshRaj

[2022-02-28 21:55] cb-narayanan-krishnamurthy commented on #9377
@chchrist Can provide more details on what you changed in CSP configuration to handle this? Or did you install certs to enable HTTPS?

[2022-02-28 22:08] jselleck-sans commented on #9606
This would sure be useful for user entities!!!

[2022-03-01 03:04] regicsolutions commented on #9836
Thanks @JP-Dhabolt for the tip, I'll give that a try!

[2022-03-01 09:18] #9659 closed

[2022-03-01 09:27] tmalinakis-vng opened #9869 "GitHub Sign-in not working in 0.69.2 on Safari"
## Expected Behavior

Users can sign in using GitHub on Safari browser. This used to work until v0.69.x. It still works as expected on other browsers.

## Actual Behavior

After going through the sign in process and the GitHub pop-up closes, we get an error in Backstage stating "Login failed; caused by Error: Auth response is missing cookie nonce". The user is not signed in and no GitHub cookies a

[2022-03-01 10:15] Rugvip commented on #9836
Looking into this. I believe that anyone that is on React 16 and upgrades to the most recent release will run into this issue. Trying to figure out whether we just want to roll back `@hot-loader/react-dom` in the CLI, or whether there's some other fix.

I would like to avoid having this warning show up when using React 17 as well:

<img width="393" alt="image" src="https://user-images.githubuserco

[2022-03-01 10:55] emmaindal opened #9874 "[Home] add homepage banner component"
A Banner component that can be used on the homepage.

## Feature Suggestion
<img width="1376" alt="Screenshot 2022-03-01 at 11 48 26" src="https://user-images.githubusercontent.com/25153114/156155471-3ba3c72d-570e-40aa-9ebf-384b29505675.png">

## Possible Implementation

The Banner should be able to accept the following props:

* startTime
* endTime
* info
* action (e.g. close button can be passed

[2022-03-01 13:20] Rugvip commented on #9836
Ended up with #9879 as the fix. If anyone is able to try that out in an app that is currently having issues that'd help us make sure this issue is actually fixed 🙏

[2022-03-01 13:21] emmaindal commented on #9837
Hi @lukzerom awesome to see this issue. Just to clarify - when you say `several icons`, are you referring to icons used from material-ui, or custom icons? Can you give me an example?

[2022-03-01 13:55] Rugvip commented on #9829
Thank you for reporting! This is indeed something we want to fix. Gonna close this one as a duplicate of #5921 as I think the discussion over there is where we should move this forward.

[2022-03-01 13:55] #9829 closed

[2022-03-01 14:01] #9828 closed

[2022-03-01 14:25] Rugvip commented on #9837
@lukzerom totally :grin:

+1 to what Emma is asking, this is about the system icons received from the app theme right? as in these: https://github.com/backstage/backstage/blob/5d342c71694ad9ee64f3fab7d8ebcfd52a408e27/packages/core-components/src/icons/icons.tsx#L36-L78

[2022-03-01 14:29] Rugvip commented on #9850
Yep, great suggestion, let's have this :grin:

Would appreciate and gladly accept help with this one in case anyone wants to pick it up 🙏

[2022-03-01 14:56] #4002 closed

[2022-03-01 14:57] regicsolutions commented on #4002
Closing this https://github.com/backstage/backstage/pull/7308

[2022-03-01 18:12] JP-Dhabolt commented on #9836
@Rugvip I was able to install this locally and verify that it resolved the issue with `init is not a function`.  Thanks for the quick turnaround on this!

On a side note, is there an easy way you would recommend to testing an unpublished package from this repo locally?  The only way I could get this to work was by cloning your branch, and then copying over the `packages/cli` directory to my Backst

[2022-03-01 18:30] #9704 closed

[2022-03-01 18:32] awanlin commented on #8432
Still and issue for us, can we re-open, please? @timbonicus

[2022-03-01 18:47] freben commented on #8432
Let's revisit! Is there any chance you might be able to help look into the underlying cause?

[2022-03-01 22:37] clareliguori commented on #9741
Yeah there is a bit of a potential chicken-and-egg problem *if* the resources that are provisioned by the Proton service have auto-generated, non-predictable names.  For example, the service could deploy a CloudFormation stack or Terraform config that generates the names CodePipeline pipeline `MyServicePipeline<random ID>` and ECS service `my-http-service-<random ID>`.  Those generated names would

[2022-03-02 03:44] skgandikota opened #9889 "Incl. Authorization Token to New Relic Dashboard Plugin"
[Plugin] New Relic Dashboards #7849  idea is fantastic, I have implemented in our lower environment and loved the feature but plugin is not sending any authorization token from the front end to backend.

## Feature Suggestion

Include User Authorization token to New Relic Dashboards Plugin

## Possible Implementation

Append myHeaders const with Authorization Token [at line 44 ](https://github.com

[2022-03-02 08:06] #9836 closed

[2022-03-02 08:20] #9825 closed

[2022-03-02 09:39] anicke opened #9896 "Contribute support for Gerrit"
## Feature Suggestion

Gerrit is an open source code collaboration tool (typically self hosted). We want to contribute code to add support for reading entities from Gerrit.

## Possible Implementation

Initally we would contribute the following:

- [x] A Gerrit Integration #10038
- [x]  "GerritUrlReader" that implements "readUrl" #10263
- [x] Implement "readTree".
- [x] A Gerrit EntityProvider tha

[2022-03-02 09:49] Rugvip commented on #7671
Just wanna add in that I think that adding `analytics-module-ga4` or something like that would be a solid option if they end up being different enough.

[2022-03-02 12:53] DanielTibbing opened #9903 "Catalog refetches data on filters being shown/hidden"
When resizing the window past the breakpoint of showing and hiding the filters a re-render is triggered, which leads to the catalog refetching data. This leads to users who have navigated to a different page in the catalog table to be moved back to the first page

Attaching a screen capture which showcases this:

https://user-images.githubusercontent.com/1080442/156364685-90a5c537-d21b-4c05-bcf1-9

[2022-03-02 12:57] #9903 closed

[2022-03-02 13:05] DanielTibbing opened #9904 "Catalog refetches data on filters being shown/hidden"
## Expected Behavior

Data should persist on screen size change

## Actual Behavior

When resizing the window past the breakpoint of showing and hiding the filters a re-render is triggered, which leads to the catalog refetching data.

## Steps to Reproduce

1. Go to catalog
2. Resize window past the breakpoint where the filters are being shown/hidden
3. Look in the network tab and see that the dat

[2022-03-02 13:35] nodify-at opened #9905 "Pagination for catalog entities"
Backstage catalog api provides an endpoint to read all entities using some filters and additional parameters to restrict the response using limit and offset.

But we can not use as it is now, because we don't know how many elements can we get, after applying the filters. Using an offset and limit without this information is not possible.

## Feature Suggestion

It fill the basic requirement of a p

[2022-03-02 14:21] Charge71 opened #9907 "Search: pagination does not reset for first and last character in search bar"
## Expected Behavior

Search results should restart from page 0 whenever the search string changes in the search bar.

## Actual Behavior

If I change page with an empty search string and then type a character the pagination does not reset. Same if I type two or three characters quickly from the empty string.
If I type a search string and change page, if then I select and cancel the string paginat

[2022-03-02 14:47] kissmikijr commented on #9874
Good idea! One thing is could we make somehow that the content of the banner could be configureable without deploying a new version of the application? Maybe as a next step also.

My thought process is there is a platform team who manages the internal backstage, but probably there could be nice announcements that are not coming from the platform teams.

One solution could be that this banner plugi

[2022-03-02 14:48] #8312 closed

[2022-03-02 15:12] Rugvip commented on #9827
Makes sense, and this should now be able to build on top of the recent additions of the catalog facets API #9491/#9139

Will add that this is the catalog filter components right? So for anyone looking at helping out here it's within the `catalog-react` package

[2022-03-02 16:10] Rugvip commented on #9905
The entities endpoint is in a bit of a weird state in that it supports pagination, but returns it in a bit of an awkward way. We really want to move it over to the response body, but want to be a little bit careful in doing so to make sure we don't cause trouble when permissions are enabled. The CatalogClient ofc also needs to be forwarding this information in the response.

I think it's best that

[2022-03-02 16:10] #9905 closed

[2022-03-02 16:10] Rugvip commented on #5921
Couple of ideas on how the pagination can be tweaked over in #9905

[2022-03-02 16:12] Rugvip commented on #9854
Thank you for reporting! The proposed solution sounds sensible, is it something you'd like to contribute?

[2022-03-02 16:16] Charge71 commented on #9854
Sure, I will file a PR for this.

[2022-03-02 16:41] Rugvip commented on #9740
Hi! I wanna check if this is something that is still happening if you upgrade to the most recent release?

[2022-03-02 16:55] Rugvip opened #9912 "Investigate sqlite driver switch to better-sqlite3"
## Feature Suggestion

Let's investigate whether `better-sqlite3` is a better option than `@vscode/sqlite3`, which has been causing a lot of issues lately due to not providing binaries (#9734, #9622, #9583). Thanks to @benjdlambert's [earlier work](https://github.com/knex/knex/pull/4871) this is an option 🎉

## Possible Implementation

Try out `better-sqlite3`, if it works out of the box or with s

[2022-03-02 17:11] Rugvip opened #9913 "Migrate to react-router v6 stable"
## Feature Suggestion

Migrate to [react-router v6](https://reactrouter.com/) stable. We're currently on `6.0.0-beta.0` and should migrate to the stable release.

## Possible Implementation

TBD, created this issue to track progress

[2022-03-02 17:46] #8831 closed

[2022-03-02 17:58] #9819 closed

[2022-03-02 18:19] lalit774 commented on #9828
@Rugvip I have 1800 catalog apis. If I use Github App integration and slow down refresh rate suppose 3600 seconds.
will it do polling(check all data one by one) for all 1800 records or it will refresh only updated API catalog in Github?

I understand, I will get more api calls for Github App Integration.
- In my case, out of 1800 API catalog, There is max cap(as per historic log from our data) onl

[2022-03-02 18:22] pjungermann commented on #9765
I didn't really look much into the provider setup, yet. In general, it sounds like something all providers would be interested in though (re spreading the load).

Overall, an even-based setup as primary ingestion solutions sounds like the best fit.
Initial ingestions or healings could be solved differently without any processing loop.

[2022-03-02 18:24] Rugvip commented on #9828
@lalit774 it will poll for each of the records, although some if not all of those requests may be cached in a way where unchanged entities do not count towards the GitHub rate limit.

I wouldn't worry too much about polling unchanged entities to be honest, as long as we're able to keep within the rate limits. We are exploring event driven options though, so that is the way forward for a much more

[2022-03-02 20:49] mermadly commented on #9827
I would like this issue assigned to me, since I'm already working on it.

[2022-03-02 21:03] pjungermann opened #9923 "[RFC] split bitbucket support into separate support for Bitbucket Cloud and Bitbucket Server"
**Status:** Open for comments

## Need

Bitbucket Cloud and Bitbucket Server are different yet similar products which -- unfortunately -- just have similar names. The names suggest that one is on-premise and the other one the cloud/managed solution of the same product -- but that is not the case. Actually, there is Bitbucket Data Center as a hosted version of Bitbucket Server to make it more confu

[2022-03-02 22:26] pjungermann commented on #9765
@freben I realized that the current wildcard filters for projects or repos are way more mighty (undocumented), but not sure if you would like to have this documented. What happens under the hood is that the `*` wildcard will be replaced by the RegExp version `.*` and all converted to a RegExp instance. Means, those fields have full support (just need to remove this minor transformation). The funct

[2022-03-02 22:40] pjungermann commented on #9765
another caveat:
So far I planned to reuse the existing `catalogPath` parameter. The only challenge might be that this parameter accepts a relative path which the gets converted into an absolute path considering the root of the project  (e.g., `catalogPath=my/path/catalog-info.yaml` -> used catalogPath `/my/path/catalog-info.yaml`).

With code search and using its `path:xyz` filter, people could st

[2022-03-02 23:14] pjungermann commented on #9765
Actually, passing `/*/catalog-info.yaml` at code search works exactly like `catalog-info.yaml`

So, instead of

the options might might be sufficient as explanation:

`/catalog-info.yaml`
`/*/catalog-info.yaml`
`/nested/path/catalog-info.yaml`
`/nested/*/catalog-info.yaml` _(maybe not needed, too)_

[2022-03-02 23:26] ananthulasrikar commented on #2636
I am having similar 500 errors with EKS and trying to fix since 20 days, did not find a solution yet.
For sure as soon as deployments have 2 labels it throws. Not sure how to fix this.
`Errors: Request failed with 500 Internal Server Error, {"error":"HTTP request failed"}`

[2022-03-03 08:12] hassankhosseini opened #9932 "[Plugin] Infracost - Cloud cost estimates for Terraform changes"
## Summary

Infracost posts cloud cost estimates for Terraform in pull requests. It looks at what Terraform changes have been made, and leaves a comment like ‘This change will increase your AWS bill by 25%’ with details of the changed resources and their cost impact. It’s an open source CLI that covers over 230 Terraform resources across AWS, Azure and Google. It also works with [many CI/CD system

[2022-03-03 11:16] shyamajp opened #9941 "API's `View Techdocs` urls (/API) do not match the case of the url (/api) to generated docs"
## Expected Behavior

- Clicking on View Techdocs in AboutCard should navigate to the generated techdocs

## Actual Behavior

- 404 error
```ERROR 404: TypeError: Failed to fetch Looks like someone dropped the mic!```

## Steps to Reproduce

1. Go to APIs
2. Click on `foo`
3. Click on `View Techdocs`
4. Not Found Error

Mysterious behavior - I have multiple API docs guiding to the same techdoc (it

[2022-03-03 11:58] asaini11 opened #9942 "Kubernetes Plugin 500 errors"
## Expected Behavior

K8 plugin shouldn’t show 500 errors in logs and UI as our config is correct. Or the error message should go away in the UI once we receive a 200 or not show in the UI at all. We know our config is correct as we can see the pod information in the UI.

## Actual Behavior

In the UI we can see the K8 plugin load successfully. After approx 3 mins we start seeing 500 timeout error

[2022-03-03 12:01] asaini11 commented on #9942
@mclarke47 As mentioned, I have raised this as a github issue. Thank you

[2022-03-03 12:02] Fs00 opened #9943 "`publish:github` action cannot add users as repository collaborators"
We've discovered that the `collaborators` parameter of the `publish:github` action - which allows adding collaborators when creating a GH repo - works only for  teams and **not for users**.
This is caused by a problem in the current implementation of the action. The given collaborator usernames are always treated as team slugs, as you can see here:

https://github.com/backstage/backstage/blob/7331

[2022-03-03 13:28] #9850 closed

[2022-03-03 13:30] oparaskos opened #9947 "[RFC] Usage of (Stacked or Grid of) Cards instead of a table for the Catalog page."
**Status:** Open for comments

## Need

At present the catalog table looks something like this
![image](https://user-images.githubusercontent.com/8076088/156571302-b51f7321-d2df-4d60-920e-b9952a1d1c1e.png)

The issue I have with this design is mainly that the description field is cut off after only one or two words, which renders it pretty useless. In addition at smaller screen sizes the other col

[2022-03-03 13:32] Rugvip opened #9948 "Starred entity icons should be available via some API"
## Feature Suggestion

#9909 removed the existing `favoriteEntityIcon` as we through it was the wrong kind of abstraction. It inlined the existing usage, which is suboptimal as it will lead to duplication. We should provide some way to render the desired icons.

## Possible Implementation

One suggestion was to add `FavoriteEntity.Icon`, another way forward could be to add these icons as system ic

[2022-03-03 13:33] freben commented on #9947
I'd also like to suggest that maybe description should not be among the default columns, at all. It is more of a nuisance than a help, in my opinion :)

You can also remove that column yourself, by passing the `columns` prop to the catalog components, as touched upon in the examples here https://backstage.io/docs/features/software-catalog/catalog-customization

[2022-03-03 14:20] kuangp commented on #9947
I would also throw in that for us, we customized our table by specifying a smaller subset of columns using the method freben mentioned above and also adjusted the width of each column to allow the description column to take up more real estate

[2022-03-03 14:37] cmoulliard commented on #3645
Is there a workaround when backstage runs as a pod on kubernetes and cannot also access docker ? @adamdmharvey

[2022-03-03 14:44] adamdmharvey commented on #3645
@cmoulliard This particular ticket was about trapping the error itself for when Docker isn't available; so that one was fixed.

Are you noting that if you run Backstage in pods, you still get the raw error (just text within the nav frame) and not the friendly one? or is it more of a question on how do you setup Backstage and TechDocs with k8s?

If the former, i might suggest a new ticket spun out

[2022-03-03 15:55] cmoulliard commented on #3645
Here is the error generated when uusing backstage with TAP-GUI - https://docs.vmware.com/en/Tanzu-Application-Platform/1.0/tap/GUID-tap-gui-about.html

![Screenshot 2022-03-03 at 16 53 44](https://user-images.githubusercontent.com/463790/156601447-ed8aac27-e3cf-45a0-b190-c7c71458bfba.png)

[2022-03-03 16:27] adamdmharvey commented on #3645
Got it. I think that might be worthy of a new issue, as the error is being elevated to the UI, but in your example and screen shot, it's not possible to read and so that could/should be improved! it may be that the CSS for that heading doesn't expect a very long string and so it's writing over itself, but definitely looks like a bug.

I think what I would suggest is pull any queries out of this no

[2022-03-03 17:25] zhammer opened #9956 "Unexpected url format in config can break techdocs"
Creating an issue from a thread in the backstage discord from a few weeks ago: https://discord.com/channels/687207715902193673/940328079535009802/940631419380703334. The tl;dr is that we accidentally started our base url with three leading slashes (`http:///`) rather than two (`http://`) which caused an obscure bug in techdocs css rendering that took a very long time to debug. Hopefully future dev

[2022-03-03 17:25] aelbozie opened #9957 "Load pre-rendered docs from gh-pages branch"
We use `mkdocs gh-deploy`  in our CI pipeline.
This deploys the redered `site/` to the `gh-pages` branch where GitHub serves it.

The issue is we have **rendered html files alongside the markdown files** in `docs/` dir.

so our `mkdocs.yaml` has this:
[code]
This works well on GitHub Pages. But the rendered html page gives a 404 on Backstage.

Is there a way to allow TechDocs to serve from the ren

[2022-03-03 17:34] Rugvip commented on #9827
Alright, thanks! :grin:

[2022-03-03 17:45] jrusso1020 opened #9959 "Wrong dist used for universal-github-app-jwt with Github App configuration"
## Expected Behavior

Would expect the [universal-github-app-jwt](https://github.com/gr2m/universal-github-app-jwt) module to use the node distribution in the backend instead of the web distribution

## Actual Behavior

When swapping from Github PAT to the Github APP for programmatic access we encountered an error in production
[code]

So following it's guidance we ensured to use the PKCS#8 format

[2022-03-03 17:49] Rugvip commented on #9869
I'm unable to reproduce this at the most recent release. GitHub auth is working as expected in Safari 15.2. It could be an issue with 15.3 so will revisit once I restarted for the update, which I don't wanna do just yet x)

In the meantime I'm wondering whether you're seeing trouble in any other browsers, and if you have any specific privacy settings enabled that might be causing trouble. Also cur

[2022-03-03 17:53] simon-ouyang-demo opened #9960 "We CANNOT import both Azure and BitBucket Repos in backstage using azure-discovery and bitbucket-discovery."
## Expected Behavior
We should be able to import both Azure and BitBucket Repos in backstage using azure-discovery and bitbucket-discovery

## Actual Behavior
We CANNOT import both Azure and BitBucket Repos in backstage using azure-discovery and bitbucket-discovery. We have to choose either azure-discovery and bitbucket-discovery to auto-discover either azure and bitbucket repos.

## Steps to Repr

[2022-03-03 18:11] jrusso1020 commented on #9959
I wonder if this issue https://github.com/backstage/backstage/issues/6288 is also related?

[2022-03-03 18:12] jrusso1020 commented on #6288
I think I got around this issue by installing the `uuid` package directly into the backend application

[2022-03-03 18:29] tmalinakis-vng commented on #9869
Hi, we don't have issues with any other browser. I don't have any non-standard privacy settings on Safari. I literally use it only for testing Backstage :D The whole Backstage setup we are using is very close to what you get from the create-app. We haven't done any major modifications yet.

[2022-03-03 18:30] timbonicus commented on #9904
This is not re-fetching the data shown in the table, but refetching the list of component types available in the `Type` filter dropdown since that component is recreated and its state is not stored outside the component (e.g. in context). This is made more apparent and significantly improved by #9491 which switches this call to a facets query instead.

Given that facet improvement, and that introd

[2022-03-03 18:41] jrusso1020 commented on #6288
I was able to get past this by adding the `uuid` package directly to the backend package.json

[2022-03-03 18:42] jrusso1020 commented on #9959
I may have been able to get past this by adding [universal-github-app-jwt](https://github.com/gr2m/universal-github-app-jwt) directly to the backend package.json

[2022-03-03 19:24] Rugvip commented on #9959
Thank you for reporting! I think our config is just straight up wrong, so proposing #9965 :grin:

[2022-03-03 21:27] pjungermann commented on #9960
@simon-ouyang-rb
The config snippet at (4.) is faulty, but I assume this is just an error here.

What does this mean exactly? Can you describe it a bit more?

How much repos do you have each?

As of my knowledge of the bitbucket-discovery, there is no link between the two at the discovery stage.

[2022-03-04 02:03] simon-ouyang-rb commented on #9960
@pjungermann Thank you for the response.

In step 4,  I added an extra dash, sorry for the typo.  Correct config snippet is below

[bitbucket-discovery ](https://backstage.io/docs/integrations/bitbucket/discovery)is used for "auto" discover all the repos in an organization in the bitbucket.

[azure-discovery](https://backstage.io/docs/integrations/azure/discovery) is used for "auto" discover all t

[2022-03-04 03:41] #9854 closed

[2022-03-04 03:43] timbonicus commented on #8432
Strange, I tested that PR using the snippets from this issue 🤔  happy to chip in here too if needed @awanlin.

[2022-03-04 05:06] adrianke77 opened #9971 "Failures in TechDocs builds showing in ui but show up successfully if the user comes back to the page later"
## Expected Behavior

When the TechDocs build takes longer than the allowed timeout for the HTTP request, A notification in ui along the lines of 'Build is taking longer than expected, please come back later' should be shown instead of displaying an error in build.

## Actual Behavior

When the Techdocs build takes longer than the allowed timeout for the HTTP request, it displays an error in the U

[2022-03-04 10:38] shyamajp commented on #9941
Followup:
I delivered this change to production and it worked regardless the case. (`/api` vs `/API`) I am not sure why this issue only persists in local container though using the same configuration.

[2022-03-04 10:44] #8597 closed

[2022-03-04 10:44] #8462 closed

[2022-03-04 10:47] pjungermann commented on #9960
@simon-ouyang-rb the auto discovery of both of them are not directly connected with each other. My first thought is that it is not really about using both or not. But so far it is not possible to assess your problem.

As I wrote above, can you share some more details?

What did you check so far?
What makes you believe it does not work together?
What do you expect in detail? What is the outcome wit

[2022-03-04 10:51] Rugvip commented on #6288
I believe this is due to packages not being externalized because they're not added as a dependency of the package. Our rollup build is intended to only touch code in the package itself, and not traverse into dependencies. It's why we have the this lint rule in our standard lint config: https://github.com/import-js/eslint-plugin-import/blob/main/docs/rules/no-extraneous-dependencies.md

This issue

[2022-03-04 11:06] cmoulliard commented on #3645
Ok. will then create a new issue from my comment

[2022-03-04 11:07] cmoulliard opened #9983 "[TechDocs] Docker build fails on k8s"
## Issue

Here is the error reported by backstage using TAP-GUI - https://docs.vmware.com/en/Tanzu-Application-Platform/1.0/tap/GUID-tap-gui-about.html

[code]

The user will see using the UI the following error message

![Screenshot 2022-03-03 at 16 53 44](https://user-images.githubusercontent.com/463790/156601447-ed8aac27-e3cf-45a0-b190-c7c71458bfba.png)

[2022-03-04 13:11] lukzerom commented on #9837
@emmaindal ,  @Rugvip  yes, exactly, icons that we wrap and document 🙂
<img width="1091" alt="Zrzut ekranu 2022-03-4 o 14 09 49" src="https://user-images.githubusercontent.com/55348672/156769350-ec248dc4-6bea-4e01-ba7f-78b2dc0e5279.png">

[2022-03-04 16:03] #6288 closed

[2022-03-04 16:25] #6720 closed

[2022-03-04 17:01] #8522 closed

[2022-03-04 21:22] kuangp commented on #7041
still interested

[2022-03-04 22:21] zhammer opened #10008 "incorrect type for TaskDefinition.frequency?"
https://github.com/backstage/backstage/blob/1d3bbbc5a1b337cdcd7da4d58ed470a4d60fef43/packages/backend-tasks/src/tasks/types.ts#L77-L80

hi! the docs for `TaskDefinition.frequency` say "If no value is given for this field then the task will only be invoked once (on any worker) and then unscheduled automatically." the type on this field is a non-nullable `Duration`. the same goes for `TaskDefinition

[2022-03-04 22:38] zhammer commented on #10008
actually when i left this field empty i got the following error:
`[1] Backend failed to start up, TypeError: Cannot read property 'toISO' of null`

[2022-03-05 06:54] freben commented on #10008
Ah, no that's a remnant, single-run isn't supported so it's the description that's wrong. Maybe contribute a fix? 🙌

[2022-03-05 11:57] zhammer commented on #10008
@freben sure thing :)

why was this removed as a feature btw? just want to ask before i set our ldap processor to a frequency of 100 years to fake a single-run

[2022-03-05 12:32] freben commented on #10008
It was never built - the initial PR that added the package first attempted to support single runs which explains the comment, but we cut that out before merge to simplify due to no immediate need for the feature. Just forgot to update the comment then

[2022-03-05 12:37] satrox28 commented on #9836
@Rugvip I am still facing this issue on 0.70.1 release. Any thoughts?.

[2022-03-05 12:39] Rugvip commented on #9836
@satrox28 are you upgraded to the most recent release (0.70.1)? If so, could you post the error you're seeing?

[2022-03-05 12:43] satrox28 commented on #9836
Hi @Rugvip

Yes am on latest release, please find the error below. I can see few of the plugins, which has this error like Jira, Grafana, Gitlab and Prometheus
[code]

[2022-03-05 13:33] satrox28 commented on #9836
I deleted yarn.lock and reinstall the packages, its working fine now, please ignore. @Rugvip

[2022-03-05 13:44] awanlin commented on #8432
I am doing something a little different - I'm only filtering on Kind - but it should still work. Here's the code I'm using for this:

[code]

[2022-03-05 19:55] zhammer commented on #10008
Ah got it

Sent from my iPhone

[2022-03-05 20:17] #7764 closed

[2022-03-05 21:47] timbonicus commented on #8432
Ahh, that makes sense. I didn't make the same functional update to `CatalogKindHeader` in that PR, so that's still needed. I'll take a look at this next week if no one else gets to it.

[2022-03-05 21:51] awanlin commented on #8432
Thanks @timbonicus, I've been poking around but I'm still at React 101, this feel a lot more advanced then I can tackle right now. No rush, we have this behind a feature flag for now so easy for me to test when a fix does show up 😄

[2022-03-05 22:26] adamo57 opened #10021 "Unable to Create Backstage App"
## Expected Behavior

When I run `npx @backstage/create-app` I expect an app to be generated for me.

## Actual Behavior

[code]

## Steps to Reproduce

1. Run `npx @backstage/create-app`

## Context

I am trying to set up the backstage app for the first time on this machine.

## Your Environment

`Linux  5.13.19-2-MANJARO #1 SMP PREEMPT Sun Sep 19 21:31:53 UTC 2021 x86_64 GNU/Linux`

- Browser In

[2022-03-05 23:38] dhruvaldarji commented on #9923
As a Bitbucket user and as someone who has had to raise changes to the Bitbucket integration to support my company's implementation of the Bitbucket Server, I completely agree with the proposal here.

There is a certain level of duplication that exists in each of the Bitbucket related files. It almost doesn't make sense to have it together when there is a fairly clear delineation between the two s

[2022-03-06 03:37] dipakparmar commented on #10021
@adamo57 could you please provide more info about your environment so someone can help assist.

Your node.js version, npm version. Any special setup you might have

Also, you can try running the command in an isolated environment like a docker container to see if that also gives an error.

I have tested on my end with npm `6.14.15` and node `v14.18.2` it works fine.

[2022-03-06 07:06] snehaljos commented on #9956
Hi, @zhammer am interested in this issue can I give it a try?

[2022-03-06 07:07] snehaljos commented on #9913
Hi @Rugvip can I give it a try?

[2022-03-06 14:24] zhammer commented on #9956
@snehaljos i would maybe wait to see what the maintainers think since it’s a pretty edge case issue. maybe start by confirming you can reproduce the behavior?

[2022-03-06 16:10] awanlin commented on #8678
I've submitted a PR with the sidebar component I mentioned. Feel free to take a look #10026

[2022-03-06 16:32] awanlin commented on #9733
We built this with a backend that uses the backend-tasks to schedule the processing. It will generate the data for all the entities that has the needed annotation and save it to the database. The backend has an API for the frontend to call to display the data. There is also a POST endpoint that can be used to generate the data, this was handy for testing but also could be used for a possible manua

[2022-03-06 16:42] awanlin commented on #9735
Yes, this is true, bare clone is a tricky thing. Using `noCheckout` and `depth: 0` (all history) gets us just the `.git` folder without all the other files that we don't use for this, it's not perfect but for this purpose works well.

I agree, many other SCM tools have APIs for contributors but in our case both Azure DevOps and Bitbucket Server do not. And I have a feeling this has been built in t

[2022-03-06 16:44] adamo57 commented on #10021
@dipakparmar Thank you for responding. I can totally give the docker container a shot. Thats a great idea.

[code]

[2022-03-06 16:50] awanlin commented on #9737
Yes, the name, though nice, matters much less than the utility and being easy for people to find and use. We can use it as the code name for this project ;)

Personally I lean towards "debug" but I think that may come with it's own assumptions so I think "inspect" works better. Really most of the items that have been suggested for this are around inspecting various data.

I think being able to rea

[2022-03-06 16:51] awanlin commented on #9606
This has turned out to be a little harder than I expected. Still working on it just slowly ;)

[2022-03-06 16:51] adamo57 commented on #10021
@dipakparmar Please disregard. This was an issue with my node version being incorrect.

[2022-03-06 16:51] #10021 closed

[2022-03-06 17:00] adamo57 commented on #9983
Do you have Docker running on your machine? Is this happening in a Docker container? If you are running Backstage in a docker container, you can set the `techdocs.runIn` in your `app-config.yaml` to `local` and see if that helps.

[2022-03-06 20:04] github-actions[bot] opened #10028 "Snyk vulnerability [SNYK-JS-ANSIREGEX-1583908]"
## Affecting Packages/Plugins

* [example-backend](packages/backend/package.json)
* [@backstage/backend-test-utils](packages/backend-test-utils/package.json)
* [@backstage/cli](packages/cli/package.json)

## Overview

Affected versions of this package are vulnerable to Regular Expression Denial of Service (ReDoS) due to the sub-patterns` [[\\]()#;?]*` and `(?:;[-a-zA-Z\\d\\/#&.:=?%@~_]*)*`.

### P

[2022-03-06 20:08] blueboxes opened #10029 "Component Filtering returns no results due to Component grid forcing lower case"
## Expected Behavior

Viewing the Catalog Component grid should allow filter on owner values in the case entered in the yaml file.

## Actual Behavior

It renders in lowercase which may not sound like an issue but adds bugs in filtering.

If you click on the system you are taken to the system screen. If you then click on the link to show all components with that system it filters the component gri

[2022-03-06 23:29] moatazeldebsy commented on #4180
Hello @petergrau I'm trying to add Bitrise Plugin to Backstage but I got an error with the API because there is no proxy endpoint as mentioned in the plugin Readme file, I added the Auth Token, and the plugin displayed as a tab in the project but can you please clarify to me how to integrate Bitrise. Thank you!

[2022-03-07 05:54] hari2192 commented on #9411
@sjamidar - I am also trying to configure Google SSO for backstage application hosted in k8s.

Could you please share your changes you made under `app-config.yaml`, `packages/app/src/App.tsx` to make it work ?

[2022-03-07 07:57] cmoulliard commented on #9983
Yes

[2022-03-07 07:57] cmoulliard commented on #9983
No as the container is launched using kubernetes's pod

[2022-03-07 12:05] jhaals commented on #9699
Release day will shift in a couple weeks! Thanks for feedback in form of thumbs up 😁

[2022-03-07 12:05] #9699 closed

[2022-03-07 13:17] ccodreanu opened #10035 "Backstage running in EKS returns HTTP 500 on the Kubernetes tab while using IRSA"
## Expected Behavior

Get app information running in Kubernetes (clusters, pods)

## Actual Behavior

An error is returned, HTTP 500

[code]

## Steps to Reproduce

1. Have a Kubernetes app in Backstage
2. Navigate to the Kubernetes tab
3. Observe error described above

## Context

[code]

## Your Environment

- Env:

1. Have a Backstage deployment in EKS using IRSA
2. Have this Kubernetes configu

[2022-03-07 14:17] awanlin commented on #8432
Had some time to look at it closer, between your previous PR and pointing out the `CatalogKindHeader` I've been able to put in a fix for this. When you have time, I know it's hack week, can you take a look at PR #10036, please?

[2022-03-07 16:46] #8432 closed

[2022-03-07 19:09] charud opened #10045 "Redirect URI mistmatch in "Getting started" guide"
## Expected Behavior

Following [Setting up authentication](https://backstage.io/docs/getting-started/configuration#setting-up-authentication) in the  Getting started guide should work without any issues.

## Actual Behavior

The guide instructs the reader to fill in the following `Authorization callback URL`:

[code]

Once the reader adds adds the `<SignInPage />` and tries to login, the popup wi

[2022-03-07 19:20] freben commented on #10045
Alright, thanks for reporting! Would you be up for issuing a fix? 🙌

[2022-03-07 19:20] freben commented on #10045
Oh I'm blind - ok reviewing!

[2022-03-07 20:05] github-actions[bot] opened #10047 "Snyk vulnerability [SNYK-JS-BRAINTREESANITIZEURL-2339882]"
## Affecting Packages/Plugins

* [@backstage/plugin-api-docs](plugins/api-docs/package.json)

## Overview
[@braintree/sanitize-url](https://www.npmjs.org/package/@braintree/sanitize-url) is an A url sanitizer

Affected versions of this package are vulnerable to Cross-site Scripting (XSS) due to improper sanitization in `sanitizeUrl` function.

## PoC:

[code]
## Details

A cross-site scripting att

[2022-03-07 20:46] nukepuppy commented on #9248
Since we consider the helm chart as a starting point.  Would a more realistic way to install it be to isolate the components and go about it with IAC / terraform for example... and just deploy things individually? without helm  / chart usage

ie: create kube configs from terraform and populate

[2022-03-07 20:47] #8558 closed

[2022-03-08 00:59] satrox28 commented on #9579
Hi @grantila, when you make ldap query, you can skip the deactivated users.

[2022-03-08 01:39] shinji62 commented on #3327
@haagenson That will be fantastic if you an open it and people can start contributing to it, instead of reinventing the wheel :)

[2022-03-08 02:48] satrox28 commented on #8398
Any update on this issue @mufaddal7. @Expalex will you be sharing the code?.

[2022-03-08 08:18] #9765 closed

[2022-03-08 09:09] josesimon commented on #6281
I´m also expecting to have mysql support, i would appreciatte if you could make it

[2022-03-08 10:17] petergrau commented on #4180
@backstage/sda-se-reviewers  can you look at it?

@moatazeldebsy can you add the errors in the log or actually even create a separate issue for it?

[2022-03-08 10:51] ankitapandey1106 opened #10054 "Not able to use hooks (useApi) inside customTechRadar component which results in inability to externalise the backend url and 3rd party credentials"
I have created a customeTechRadar which extends TechRadarApi, calls stash to fetch the data to be fed in the tech radar response.
I had to use proxy to call the stash url but now to externalise the backend url and stash creds, I am trying to use useApi to read configs from app-config.yaml but it gives me error for incorrect use of hook, which makes sense as I am using it inside a class rather than

[2022-03-08 11:21] freben commented on #10054
When you create an API override, you have the ability to declare what dependencies (to other APIs) that you need. Then you just pass those into your class. See this file for a ton of examples: https://github.com/backstage/backstage/blob/1bd8972efa165d0aa72bb5d94bc74c22258d708e/packages/app-defaults/src/defaults/apis.ts#L152

[2022-03-08 13:58] ankitapandey1106 commented on #10054
Thanks a lot! this works

[2022-03-08 13:58] #10054 closed

[2022-03-08 16:31] charud opened #10072 "package.json and documentation lists the `remove-plugin` CLI command, which has been removed"
## Expected Behavior

The scripts section in `package.json` and the documentation should not list CLI commands that have been removed.

## Actual Behavior

Calling `yarn remove-plugin <plugin-name>` results in `Invalid command: remove-plugin` because `remove-plugin` was deprecated and later removed in this commit  https://github.com/backstage/backstage/commit/c52347c51f869939f0248e1afad465006a9a0d

[2022-03-08 20:49] larkintuckerllc commented on #1435
So, it is not clear if there is a solution in this discussion.  Thought to share a working example of securing a backend Plugin API endpoint using the JWT token supplied by Backstage.  Wrote this up as an article [1] as it was a bit complicated.
[1] https://john-tucker.medium.com/backstage-plugins-by-example-part-3-fd8b7d302b5b

[2022-03-09 09:41] #8729 closed

[2022-03-09 10:14] benjdlambert commented on #9361
Yeah it seems we're a little stuck until there's any progress on this https://github.com/worldturtlemedia/circleci-api/issues/228 by the looks of things. If you could get the v2 stuff underway and maybe help push that issue along then we can migrate to that API instead. I think just do the best you can right now, and let's see where we get. It's a little tricky always with these dependencies, so m

[2022-03-09 11:05] freben commented on #9947
Looping back on this - I'd love to see this personally, but it should probably be an option to toggle at the top, like

<img width="423" alt="Screen Shot 2022-03-09 at 12 04 09" src="https://user-images.githubusercontent.com/3097461/157429279-9825c431-25e0-49ec-ad14-2138b9268003.png">

that kind of group but with icons, so you can pick between the classic table and the larger view

[2022-03-09 11:27] ankitapandey1106 opened #10087 "async load() Function of customTechRadarApi not called on selection"
I have extended TechRadar plugin to create a customTechRadarApi which supports multiple tech radars depending on a drop down that I have provided on UI, so depending on user selection from the drop down, that id is passed rom RadraPage to RadarComponent to the load method of customTechRadarApi  corresponding tech radar is loaded on runtime by fetching the data from respective API.

The issue I am

[2022-03-09 12:24] julioz opened #10088 "TechDocs upload to Google Cloud Storage does not retry/backoff"
## Expected Behavior

When uploading TechDocs to a Google Cloud Storage (GCS) bucket in bulk, the CLI should retry failed requests, implemented exponential backoff strategies and output more information about the possible request failures.

Namely, a single operation in a bulk upload should not cause the entire bulk upload to fail.

## Actual Behavior

The TechDocs CLI holds one connection per upl

[2022-03-09 13:48] Rugvip commented on #9913
@snehaljos sure! Bit of a heads up that here be dragons, since we need to make sure that migration of existing projects is smooth. That said it would be valuable to just get the work of having this repo migrated done, it would take us a long way.

[2022-03-09 13:59] jhaals commented on #9603
Isn't the already regular search good enough? Search the entity and when you open it you see the graph in a tab or widget.

[2022-03-09 14:37] jcarres-mdsol commented on #7941
In our use-case, we have many services (200+) and we are focusing on creating a tight service catalog experience for now. There's a lot to clean up in here so will take a while. Techdocs will not come this year for sure.
So we have removed it but "View Techdocs" is hardcoded in the AboutCard, so that's the only thing that stays and sounds wrong that it can not be removed as everything else.

Addin

[2022-03-09 17:40] j021006 opened #10093 "Backend failed to start up Error: Cannot find module 'app/package.json'"
## Expected Behavior

Able to run container

## Actual Behavior

I am getting the following error when i upgraded to the latest release when trying to run my container but unable to replicate the error locally...

[code]

## Steps to Reproduce

1. Step 1
2. Step 2
3. ...

## Context

## Your Environment

- Browser Information:
- Chrome

- Output of `yarn backstage-cli info`:

[code]

[2022-03-09 17:51] charud commented on #10045
Closing, since this has been fixed.

[2022-03-09 17:51] #10045 closed

[2022-03-09 17:55] charud commented on #10072
This was fixed in https://github.com/backstage/backstage/commit/567b14a27b2a52ebf59a357de95a9a5b1d4be5c0

[2022-03-09 17:55] #10072 closed

[2022-03-09 22:20] ankitapandey1106 commented on #10087
This was resolved by passing in the load function call trigger

[2022-03-09 22:20] #10087 closed

[2022-03-10 07:34] seshank-db commented on #7576
@Irma12 any update on stage 2?

[2022-03-10 10:24] #9678 closed

[2022-03-10 12:07] github-actions[bot] opened #10106 "Snyk vulnerability [SNYK-JS-PRISMJS-2404333]"
## Affecting Packages/Plugins

* [example-app](packages/app/package.json)
* [@backstage/core-components](packages/core-components/package.json)
* [@backstage/plugin-api-docs](plugins/api-docs/package.json)

## Overview
[prismjs](http://prismjs.com/) is a lightweight, robust, elegant syntax highlighting library.

Affected versions of this package are vulnerable to Cross-site Scripting (XSS) via the

[2022-03-10 14:12] debuggerpk opened #10107 "Onelogin Authentication Fails with message "Refresh failed; caused by InputError: Missing session cookie""
Have been following the [docs](https://backstage.io/docs/auth/onelogin/provider) for Onelogin, My App.tsx looks like this

[code]

and my app-config.yaml looks like this.

[code]

## Expected Behavior
We should be able to signin normally at this point, but we aren't.

## Actual Behavior

Instead, we get an error message ..

## Steps to Reproduce

As explained above.

## Context

The error that I g

[2022-03-10 14:37] debuggerpk commented on #10107
After investigating furthur, The response to url `http://localhost:7007/api/auth/onelogin/refresh?optional&env=development`
gives 401 even before the oauth dialog is done processing. Shouldn't this wait for oauth login process to finish.

[2022-03-10 15:02] #10008 closed

[2022-03-10 15:37] debuggerpk commented on #10107
The error appears to come from this line https://github.com/backstage/backstage/blob/dd77b5eb1285f77a2511d128811eaae12b94d922/plugins/auth-backend/src/lib/oauth/OAuthAdapter.ts#L140

Looking at `this.handler`, there is no key by the name "handler" .. so the flow does not continue from here. Investigating further.

[code]

[2022-03-10 16:39] shailahir commented on #3269
I m interested to contribute. Please share more info about the requirements

[2022-03-10 16:45] debuggerpk commented on #10107
closing, false alarm.

[2022-03-10 16:45] #10107 closed

[2022-03-11 00:35] regicsolutions commented on #3269
Great!

I was thinking it would be great to see artifact details about a component
such as nexus repository name and type (maven/npm), latest version of the
components artifact and it’s mapped dependencies.

Maybe setting annotations of:

sonatype.com/repository: npm
sonatype.com/component-tag: org/repo-name

Believe would allow us to fetch the data needed?

On Thu, Mar 10, 2022 at 11:39 AM Shaile

[2022-03-11 00:37] regicsolutions commented on #3269
Great @shailahir !

I was thinking it would be great to see artifact details about a component such as nexus repository type (maven/npm), latest version of the components artifact and it’s mapped dependencies.

Maybe setting annotations of:

sonatype.com/repository-type: npm
sonatype.com/component-tag: org/repo-name

Believe would allow us to fetch the data needed?

[2022-03-11 03:55] shailahir opened #10121 "Persist starred entities in database"
Currently starred entities are getting stored in local storage of the browser. So if a user star an entity in one browser and opens the backstage in another browser, the starred entities does not show. It is in that browser only.

## Feature Suggestion

If we can store the starred entities in the database. So that the starred entities would be available all the time regardless of the browser.

##

[2022-03-11 04:45] testn commented on #9913
I tried to do that in https://github.com/backstage/backstage/pull/10126

[2022-03-11 07:17] bryce-od opened #10127 "AwsS3UrlReader does not allow dots (.) in the bucket name"
## Expected Behavior

## Actual Behavior

`AwsS3UrlReader` should be able to parse an s3 bucket with `.` as part of the bucket name, for example:
`https://my.bucket.name.s3.ap-southeast-2.amazonaws.com/pathname`

as per aws bucket naming rules:

https://docs.aws.amazon.com/AmazonS3/latest/userguide/bucketnamingrules.html

## What is happening?
It throws the Error `"invalid AWS S3 URL, cannot parse

[2022-03-11 07:28] freben commented on #10127
Oh, that's silly. Thanks for the nicely detailed report. Are you up for trying to submit a fix? 🙌

[2022-03-11 09:15] Rugvip commented on #9889
Yep, makes sense! Is this something you would like to contribute?

[2022-03-11 09:37] yarodinD opened #10129 "[JenkinsPlugin] Bug with null action from Jenkins"
Jenkins might return null values instead of empty Objects {} in the actions array.
This causes the jenkins backend plugin to crash so that no jobs are shown.

In node_modules/@backstage/plugin-jenkins-backend/dist/index.cjs.js, line 229 (version 0.1.18), the code iterates through all actions from the returned jobs.

Current code:
`const scmInfo = project.actions.filter((action) => action._class ==

[2022-03-11 12:04] shailahir commented on #3269
Please assign it to me. I will implement it.

[2022-03-11 12:07] shailahir commented on #10121
@freben

[2022-03-11 12:19] freben commented on #10127
I made a fix instead ^

[2022-03-11 12:38] #10127 closed

[2022-03-11 14:23] askreet opened #10133 "TechDocs documentation out of date with 0.13.0 requirement of `cache` key."
## Expected Behavior

Using the [documentation](https://backstage.io/docs/features/techdocs/getting-started) to run TechDocs component results in code that can `yarn tsc` successfully. This seems to have been added in [0.13.0](https://github.com/backstage/backstage/blob/master/plugins/techdocs-backend/CHANGELOG.md#0130).

## Actual Behavior

The call to createRouter is missing a `cache` key of typ

[2022-03-11 14:28] askreet commented on #10133
It seems like the correct way to handle this is something like:

[code]

If someone can just give me a :+1:, I'll put a PR together to update the docs.

[2022-03-11 15:39] yarodinD commented on #10129
I pointed to the issue in the generated .js file.

In the source, the issue exists in https://github.com/backstage/backstage/blob/master/plugins/jenkins-backend/src/service/jenkinsApi.ts#L213
Also in L255, L274 and L298.

There, the action should be defined as `any | undefined` and the filter expression would be
`filter((action: any | undefined) => action?.class === "")`

[2022-03-11 16:27] danielgonzalez3 commented on #8074
We are currently running into this as well with our Alpine image:

Had success with centOS+debian(node:16-bulleye-slim)

In regards to Alpine (Using techdocs.generator.runIn: 'local' ):

We encountered this [output ](https://github.com/backstage/backstage/blob/master/plugins/techdocs-backend/src/DocsBuilder/builder.ts#L211-L215) and confirmed the contents in the generated tmp/ folder

Though I exp

[2022-03-11 17:51] tmalinakis-vng commented on #9869
This appears to no longer be a problem without any actions on our side 🤷

[2022-03-11 17:51] #9869 closed

[2022-03-11 18:33] afscrome opened #10139 "Entity Inspector help link for labels goes to 404"
## Expected Behaviour

The help icon next to the `Labels` heading in the entity inspector should take you to a page in the documentation.

![image](https://user-images.githubusercontent.com/289860/157930136-80f392a1-ac2e-42de-bd9f-2ddd0b094e8d.png)

## Actual Behaviour

It takes you to a 404 - https://backstage.io/docs/features/software-catalog/well-known-labels
## Steps to Reproduce

1. Inspect E

[2022-03-11 18:37] freben commented on #10139
Oh pff that's me just blindly copy pasting, rewriting and not double checking. There's no such article. The help marker should just be removed.

[2022-03-11 18:38] freben commented on #10139
(If you're up for helping make a PR for that we'd appreciate it!)

[2022-03-11 19:50] pjungermann opened #10141 "catalog-backend-module-msgraph still recommends removed runPeriodically"
## Expected Behavior

Documentation for catalog-backend-module-msgraph allows users to initially configure the provider or processor by following it.

## Actual Behavior

at the README.md, the plugin recommends to use

[code]

## Context

## Your Environment

- runPeriodically was deprecated in release 0.69.0
- runPeriodically was removed in release 0.71.0

[2022-03-11 21:13] peimanja commented on #8263
I hit this twice today after upgrading to Backstage 0.71.1. confirmed
[code]

[2022-03-11 21:25] freben commented on #10141
Good catch, the providers should all be given this treatment https://github.com/backstage/backstage/pull/10018

[2022-03-11 22:01] pjungermann commented on #10141
yes, makes sense and thanks for the example PR. After looking into backend-tasks a bit as a mentioned replacement for the removed method I thought about the same, adding this capability to the processor/provider.

[2022-03-11 22:03] pjungermann commented on #10141
as a workaround, I took the "copy runPeriodically implementation" option for now with a TODO to revisit later when this was resolved. I will have another look at another day.

[2022-03-11 22:07] peimanja commented on #8263
more specific error message would also help :)

[2022-03-11 22:51] jamieklassen opened #10142 "[kubernetes-backend-plugin] per-user authentication for AWS auth provider when using federated identities"
## Feature Suggestion

The current `aws` auth provider for the kubernetes-backend plugin allows Backstage to surface k8s objects from clusters using [aws-iam-authenticator](https://github.com/kubernetes-sigs/aws-iam-authenticator), which is neat! However, it does so by using a static/fixed IAM role/account to authenticate every call to k8s. Effectively the same role will be used to fetch data from

[2022-03-11 23:41] regicsolutions commented on #3269
@freben i don't have access to assign, can you please assign @shailahir

[2022-03-12 06:12] freben commented on #3269
Sure.

[2022-03-12 08:05] #8735 closed

[2022-03-12 14:27] #6873 closed

[2022-03-13 23:35] peimanja opened #10152 "(Feat): Support adding labels to Github PRs in publish:github:pull-request action"
## Feature Suggestion

I would like to be able to add labels to pull requests created by `publish:github:pull-request` action.

## Possible Implementation

- Allow passing option array of `labels` as inputs in `publish:github:pull-request` action. I had a quick look and looks like we are using `octokit-plugin-create-pull-request` package which might makes things ugly a little (not sure what was th

[2022-03-14 01:13] peimanja commented on #8263
Ignore me. This was due to wrong team passed to `access` 🤦‍♂️
However I still like to see better logging to understand better what is failing

[2022-03-14 05:06] shailahir commented on #3269
Thanks for assignment :)

I have started development. Please see the current view screenshots and provide feedback.

![nexus details page](https://user-images.githubusercontent.com/31934874/158108252-f87177b0-6fa2-42de-8177-8b09bb8c866f.png)
![nexus-main page](https://user-images.githubusercontent.com/31934874/158108255-c8ed943a-2d26-4ee4-aaf7-a1b403cfbd6b.png)

[2022-03-14 05:33] Crevil commented on #8263
I guess that is covered by #9208? 🙏

[2022-03-14 08:05] #10106 closed

[2022-03-14 08:10] #8263 closed

[2022-03-14 08:11] timja commented on #8263
Not sure if it is covered by that that's a git error message rather than an API error message

[2022-03-14 08:12] timja opened #10160 "HttpError: Not Found when scaffolding with GitHub team that doesn't exist"
1. Scaffold repo with GitHub provider
2. Inside of template have a parameter for a GitHub team to assign access to
3. Provide a GitHub team that doesn't exist

The repository gets created but publish fails
[code]

_Originally posted by @peimanja in https://github.com/backstage/backstage/issues/8263#issuecomment-1065532112_

[2022-03-14 08:13] timja commented on #8263
Created https://github.com/backstage/backstage/issues/10160 as a follow up

[2022-03-14 08:18] timja commented on #10160
A UI component that lists and validates teams would be best.

Apart from that yes could do some validation on the server side and do better logging.

[2022-03-14 09:07] benjdlambert commented on #8870
I believe that this is closed by #9665, however, @djamaile is there relevant documentation for the feature?

[2022-03-14 09:07] benjdlambert commented on #8842
This is still up for grabs if anyone wants to pick this up?

[2022-03-14 09:11] djamaile commented on #8870
@benjdlambert ah completely forgot about the docs, I’ll do it this week!

[2022-03-14 09:56] benjdlambert commented on #8870
In the PR - just make sure to close this ticket in it, and then I think we can close this :)

[2022-03-14 10:22] afscrome commented on #10139
I'll give it a go.

[2022-03-14 12:21] awanlin commented on #7678
@marleypowell will you be continuing on with this or should we close it and work on new features as time permit or there is requests for changes?

[2022-03-14 12:41] #10133 closed

[2022-03-14 13:02] #9795 closed

[2022-03-14 14:01] peimanja commented on #10160
Thanks @timja. I agree, worst thing is creating an empty repository with no access and it increase support requests to internal team who owns the Github.

Best option would be to have a GithubTeamPicker UI field that validates or auto-complete github team fields.

[2022-03-14 15:18] benjdlambert commented on #10093
Going to close this as it should be fixed with `v0.71.1`. Re-open if needed!

[2022-03-14 15:21] yarodinD opened #10176 "[jenkins-backend] If Jenkins returns 'null' for an action, backend stops working"
## Expected Behavior
When retrieving Jenkins job, the property "actions" might contain null values. These should be handled gracefully by the plugin, not affecting the functionality.

## Actual Behavior
When a jenkins job returns a 'null' value for an action, an error is shown in the server log.

The frontend then just shows the loading animation endlessly.

## Steps to Reproduce

My Jenkins (Vers

[2022-03-14 15:21] #10129 closed

[2022-03-14 15:21] yarodinD commented on #10129
Duplicate of https://github.com/backstage/backstage/issues/10176

[2022-03-14 15:23] yarodinD commented on #10176
Jenkins backend iterates over the actions array in several places and there's no null check in place, causing the error and disrupting the backend so that no jobs are shown, even if there are other jobs in the same jenkins folder which are not affected.

[2022-03-14 17:08] Rugvip opened #10183 "Convert discovery processors into entity providers"
## Feature Suggestion

The following discovery processors would benefit from being converter to using the `EntityProvider` interface instead, as among other things that will enable immediate deletions rather than orphaned entities, as well as more granular control of the update interval. More details about entity providers can be found in the [catalog customization docs](https://backstage.io/docs/

[2022-03-14 21:31] benjdlambert commented on #10152
Thinking that the first option is probably the best short term, is this something you want to contribute @peimanja? 🙏

The reason from what I recall that `octokit-plugin-create-pull-request` plugin is used, is that it's actually pretty hard to build all the things that's required to raise a pull request against a repo using the plain `octokit` library. So it actually does quite a bit of heavy lift

[2022-03-14 22:00] bryce-od commented on #10127
Thanks @freben!

[2022-03-15 03:42] dehamzah commented on #9178
Thank you for merging this PR! https://github.com/backstage/backstage/pull/7239

I think it still not solving my problem here. I found interesting logs:

[code]

Sometimes it works, sometimes it's not. I think this is what causes the entities is not indexed properly.

I do check my postgres setting parameter `statement_timeout`, previously I had setting in 15s, and increased it to 60s, but no luck

[2022-03-15 04:39] regicsolutions commented on #3269
Looking great @shailahir! 🎉

Few comments:

1. Heading nitpick: (Capital N) Sonatype Nexus 😀 Is this using Nexus v2 or v3x API?

2. It would be great to be able to support multiple repository formats in a tabbed view where you can view maven2 and docker where applicable. Setting an annotation for each repo format seems like a bit much. @freben any recommendations on the best way to solve this one

[2022-03-15 07:36] marleypowell commented on #7678
I do plan on continuing with this but haven't really had much time to at the moment.

[2022-03-15 07:41] shanthisagar-dhanya-kumar-db opened #10194 "yarn install during local development fails due to @vscode\sqlite3"
Upgraded to the tag v0.70.1 and after which performed "yarn install" on the local development environment but fails with the below error
[5/5] Building fresh packages...
error C:\Users\XXXXXX\GIT_REPOSITORY_GA\backstage-app\node_modules\@vscode\sqlite3: Command failed.
Exit code: 1
Command: node-gyp rebuild
Arguments:
Directory: C:\Users\XXXXXX\GIT_REPOSITORY_GA\backstage-app\node_modules\@vscode\

[2022-03-15 08:36] #8870 closed

[2022-03-15 08:37] shailahir commented on #3269
@regicsolutions  Thank you for feedback. Let me explore about the suggested implementations and update the code. It may take a little time. will do it on this weekend.

[2022-03-15 08:39] freben commented on #10194
Yeah you'll need build tooling present (visual studio in your case) to be able to use `@vscode/sqlite3` as the sqlite driver.

You'll see that the main repo switched over to using `better-sqlite3` instead because of these exact problems with the vscode version of the driver not having prebuilt bridges. https://github.com/backstage/backstage/pull/10132

Check out what we did in that PR. Your repo s

[2022-03-15 08:39] shailahir commented on #8850
I would like to contribute. Please assign it to me.

[2022-03-15 09:12] benjdlambert commented on #10142
@mclarke47 for visibility.

[2022-03-15 09:22] shanthisagar-dhanya-kumar-db commented on #10194
Now I see the below error.

[5/5] Building fresh packages...
error C:\Users\XXXXXX\GIT_REPOSITORY_GA\backstage-app\node_modules\better-sqlite3: Command failed.
Exit code: 1
Command: prebuild-install || npm run build-release
Arguments:
Directory: C:\Users\XXXXXX\GIT_REPOSITORY_GA\backstage-app\node_modules\better-sqlite3
Output:
prebuild-install WARN install tunneling socket could not be establishe

[2022-03-15 09:23] benjdlambert commented on #9947
@oparaskos would you be up for maybe tidying up the implementation a little bit and have the toggle so that we can get this in an iterate on it? Looks like a great start so far!

[2022-03-15 09:41] shanthisagar-dhanya-kumar-db commented on #10194
I switched to nodejs 16.14.0

[5/5] Building fresh packages...
error C:\Users\XXXXXX\GIT_REPOSITORY_GA\backstage-app\node_modules\better-sqlite3: Command failed.
Exit code: 1
Command: prebuild-install || npm run build-release
Arguments:
Directory: C:\Users\XXXXXX\GIT_REPOSITORY_GA\backstage-app\node_modules\better-sqlite3
Output:
prebuild-install WARN install tunneling socket could not be establis

[2022-03-15 10:33] jhaals commented on #8294
Closing this issue now. Help and review support is still welcome of course ❤️

[2022-03-15 10:33] #8294 closed

[2022-03-15 11:03] freben commented on #10194
Did you follow the instructions in there?

[2022-03-15 11:50] shanthisagar-dhanya-kumar-db commented on #10194
Looking at the commit https://github.com/backstage/backstage/commit/efc73db10cd75b6d1746e85fcba0ac39598074b3,

did all the changes mentioned there, but still no luck

[2022-03-15 12:28] freben commented on #10194
No I meant, did you follow the instructions in the error message you pasted?

[2022-03-15 13:50] freben commented on #10194
In linux, it may ask for a different set of dependencies; usually `build-essentials` will do.

[2022-03-15 13:57] freben commented on #10194
I found this guide too. https://github.com/JoshuaWise/better-sqlite3/blob/master/docs/troubleshooting.md

[2022-03-15 15:05] shanthisagar-dhanya-kumar-db commented on #10194
None of the solutions seem to be working either for windows or linux for us. Have raised issue here https://github.com/JoshuaWise/better-sqlite3/issues/777

[2022-03-15 15:18] arathunku opened #10207 "[techdocs-node] S3 key is missing bucketRootPath when reading files from S3"
## Expected Behavior

Correct S3 key is generated when `bucketRootPath` is used

## Actual Behavior
I've added console.log at https://github.com/backstage/backstage/blob/master/plugins/techdocs-node/src/stages/publish/awsS3.ts#L390

Logs when accessing `/docs/default/Component/backstage` page. That's a component named backstage with its own configuration and docs.

[code]

I'm not exactly sure wha

[2022-03-15 15:45] freben commented on #10194
Oh I see on the last one that the actual error was operation not permitted (EPERM) on the project file it tried to build. Are you using some form of odd mounted directories, readonly file systems, or antivirus software that interferes with stuff like this?

[2022-03-15 15:50] shanthisagar-dhanya-kumar-db commented on #10194
In our organization when we install softwares like MS studio, it goes under program files, and that is readonly. Else the other option is for us to put the MS studio where it has read-write on mount and use

npm config set msvs_version YYY
npm config set msbuild_path "XXX"

By doing this it may work in windows. But for linux it appears we need GCC compiler, which isn't in our OS build and not sure

[2022-03-15 16:17] freben commented on #10194
But this is within your own repo.

[code]

added some newlines for readability

[2022-03-15 16:45] iamEAP commented on #4123
Hey everyone following along!  Quick update on this based on some contributions from the community recently as well as some forthcoming contributions:

- At this time, the `@backstage/techdocs-core` team doesn't plan to add native mermaid support as a core feature of TechDocs.
- If you're interested in build-time support for mermaid-based diagrams, a community member contributed [this "How to Add

[2022-03-15 17:13] aarontsharp opened #10210 "Include major/breaking plugin changes in upgrade-helper/create-app changelog"
## Feature Suggestion
The upgrade-helper and create-app changelog (listed [here](https://github.com/backstage/backstage/blob/master/packages/create-app/CHANGELOG.md)) should include changelogs for default Backstage plugins, or at least major/breaking changes to those plugins.

## Possible Implementation
I would suggest including plugin changelogs in the create-app changelog/upgrade-helper, possibl

[2022-03-15 17:41] johanhammar commented on #7027
This is still an issue. Are there any workarounds or advice how a solution could be implemented?

[2022-03-15 17:53] #8812 closed

[2022-03-15 18:25] freben commented on #10194
Alright. Is this in WSL or not? Might be worth using that

[2022-03-15 18:31] shanthisagar-dhanya-kumar-db commented on #10194
We are using gitbash. In our org using custom tools like WSL is not allowed.

[2022-03-15 18:48] awanlin commented on #10210
We've been using the release view in GitHub as our starting place when a new release is published, this includes ALL of the changes. Maybe that would help for you? https://github.com/backstage/backstage/releases

Looking at the release 0.71.0 seems to have the item you noted (@backstage/plugin-catalog-backend@0.24.0) as well as all the changes for that release: https://github.com/backstage/backsta

[2022-03-15 19:18] awanlin opened #10212 "[Catalog] Blank 404 Page"
## Expected Behavior

When you try to open an entity in the Catalog you should get a helpful message telling you that the entity was not found, like this:

![blank-404-expected-path](https://user-images.githubusercontent.com/67169551/158452270-9d5619df-2f59-473a-8cdf-2301f2ee39d6.png)

## Actual Behavior

Currently, as of v0.71.0 but possibly a version or two back, when you open an entity that can

[2022-03-15 23:01] kissmikijr commented on #9874
@emmaindal can you assign this to me please?

[2022-03-15 23:30] #8344 closed

[2022-03-16 06:19] emmaindal commented on #9874
@kissmikijr absolutley, thanks for picking this issue up!

[2022-03-16 08:10] pedroparraortega opened #10223 "[HELM] Allow helm chart to use existing secret"
Right now the secret template is tight to a fixed number of variables making it not possible to add more variables in case you want to use more plugins etc.

## Feature Suggestion

Provide the capability to the chart to use an existing secret so it doesn't create the secret

## Possible Implementation

Add a condition to the template to not create the secret if the existingSecret value is defined.

[2022-03-16 08:24] Xantier opened #10224 "Responsive Catalog Graph card"
## Enhancement Suggestion

Currently catalog graph card has a `height` prop that can be passed into it, which defines the height of the card itself. This becomes a bit problematic for cases where one component within the catalog has a graphs of 2 nodes and another one has tens of hundreds of nodes. Choosing the correct values for these is not trivial.

Ideally the card should have responsive heigh

[2022-03-16 08:40] #10212 closed

[2022-03-16 10:15] #10152 closed

[2022-03-16 10:27] regicsolutions commented on #8861
@freben can close this for now, the s3 action was a screenshot from a previous issue but it does look like roadie open-sourced a s3 action 😀

https://github.com/RoadieHQ/roadie-backstage-plugins/tree/main/plugins/scaffolder-actions/scaffolder-backend-module-aws/src/actions/s3

[2022-03-16 10:27] #8861 closed

[2022-03-16 12:05] benjdlambert opened #10230 "Bump `commander` dependency in `@backstage/cli`"
Would be good to upgrade the `commander` dependency in `@backstage/cli`.

Dependabot tried, but it looks like there's some breaking API changes.

https://github.com/backstage/backstage/pull/10192

Opening up to the community to do as a good first issue! 👍

[2022-03-16 12:56] ProticM opened #10232 "TechDocs nested lists rendering indent problem"
I have documentation files that are formatted via prettier. Prettier config extends the one from Spotify and it sets the `tabWidth` to 2, which is the default value and the one being used by the Spotify config.

However, after publishing, nested lists are not rendered properly. I realize that in the background we have mkdocs to manage this, and by default, if I"m not mistaken, in order for the nes

[2022-03-16 15:21] DanielTibbing commented on #9904
Interesting, this seems to be fixed then.. It is definitely reloading data in our instance of backstage, but we haven't updated everything to the latest version yet.. I'll close this issue :)

[2022-03-16 15:21] #9904 closed

[2022-03-16 17:17] aarontsharp commented on #10210
This is very helpful thanks. It may be worth including these more comprehensive changelogs in the documentation for upgrading Backstage [here](https://backstage.io/docs/getting-started/keeping-backstage-updated#updating-backstage-versions-with-backstage-cli)

Since IMO, this line:

implies that the changelog for the `create-app` would surface all of these breaking changes, where in my situation it

[2022-03-16 17:19] vinzscam commented on #7213
Closed by #9608

[2022-03-16 17:19] #7213 closed

[2022-03-16 23:09] soapraj commented on #9463
@Niksko With #9567 merged can this issue be closed?

[2022-03-16 23:15] soapraj commented on #8559
We in @backstage/techdocs-core don't use Azure Infra so we are not in the best position to investigate this issue further at the moment.

We would love if anyone from the community who uses Backstage in Azure Infra to investigate this and contribute a fix if possible and we can support with PR reviews and getting the fix in

Is this something that you would be able to spend some time to look into

[2022-03-16 23:17] Niksko commented on #9463
@soapraj yep, closing!

[2022-03-16 23:17] #9463 closed

[2022-03-16 23:18] Niksko commented on #5905
Hey @kuangp, #9567 made it in, hopefully that suits your needs as well!

[2022-03-17 00:36] Expalex commented on #8398
We have some created and are creating that'd be useful. Our team need to go through the list to see which ones would be best to contribute first and in order. I'll update here once I find out. I do not have an ETA at this time.

[2022-03-17 07:29] yarodinD commented on #10176
Here is the diff with the proposed solution:
[code]

[2022-03-17 08:54] tragiclifestories commented on #9636
Just want to offer another upvote for this. We have customised our mkdocs stack somewhat but it always feels kind of hacky; I'm never sure what techdocs 'assumes' about the output of the mkdocs build and if I'm breaking it or something. In that resepect - despite how much work it would likely be - I'm _somewhat_ sympathetic to the 'rewrite the whole thing in TS' approach, which would also have the

[2022-03-17 10:50] ArveSystad commented on #8559
@soapraj I'll see if I can set aside an hour or two at some point, indeed. Likely not gonna happen before the end of the month though.

[2022-03-17 12:20] #8818 closed

[2022-03-17 12:26] dmdeepkp opened #10265 "Techdocs : Building a new version of this documentation failed : Error"
## Expected Behavior

Document should appear in Backstage UI for target repo under components

## Actual Behavior

 UI always displaying following error:
"Building a new version of this documentation failed : Error" and nothing appears in build logs, it just says "waiting"

## Steps to Reproduce

1. Step 1 : This is content of app-config.yaml
techdocs:
  requestUrl: http://localhost:7000/api/techd

[2022-03-17 12:43] camilaibs commented on #9874
Another demand that I saw internally is the need to control the visibility of the banner in the user's settings in case he closes the banner and doesn't want to see the message again and track user actions such as CTA's clicks in analytics.

[2022-03-17 13:02] shanthisagar-dhanya-kumar-db opened #10270 "[TechDocs] Create a "click-to-zoom" Addon"
## What / Why

Sometimes, images referenced in documentation are too small to read within the chrome of a TechDocs site.  It would be great if clicking on an image would enlarge the image, perhaps in a modal-like experience.

## Scope / UAT Target
- [ ] As a TechDocs user, I should be able to view an enlarged version of an image when I click on it.
- [ ] As a Backstage Integrator, I should be able

[2022-03-17 15:11] martinohmann opened #10277 "TechDocs: multiline YAML in `mkdocs.yml` leads to corrupted `techdocs_metadata.json`"
## Expected Behavior

TechDocs are generated even if `mkdocs.yml` contains multiline YAML strings.

## Actual Behavior

The generator exits with an error due to a corrupted `techdocs_metadata.json`
(see log below).

## Steps to Reproduce

The following content of `mkdocs.yml` produces an error during TechDocs
generation:

[code]

With the following `mkdocs.yml` snippet TechDocs are generated corre

[2022-03-17 15:36] blaryjp opened #10278 "Add extra config in loadBackendConfig"
## Feature Suggestion

Hello,

I'ld like to load configuration from a remote tool (hashicorp vault), and not use env variables or files.

The backend configuration is loaded using `loadBackendConfig` function. We can add a extra option "config", like:

[code]

What do you think? If it's ok, I'll implement it of course.

Thank you!

[2022-03-17 16:09] benader1 opened #10280 "Error when registering a component from a self-hosted BitBucket instance"
## Expected Behavior

Component successfully imported.

## Actual Behavior

As in screen shot (Screenshot 2022-03-17 at 14.35.28)

{"error":{"name":"Error","message":"Error: Unable to read url, NotAllowedError: Reading from 'https://stash.trusted/.<organisation-name>.com:7990/projects/OP/repos/ovn_lineage/browse/catalog-info.yaml' is not allowed","level":"error","service":"backstage"},"request":{"

[2022-03-17 16:22] freben commented on #10278
@Rugvip Is this use case supported using the `remote` functionality?

[2022-03-17 16:40] pjungermann opened #10283 "[cli] [create-plugin] support backstage.role"
## Feature Suggestion

Currently, `backstage-cli create-plugin` creates a frontend plugin by default
or a backend plugin if `--backend` was added to the command.

Since backstage.role was introduced, it would be great to support plugins for all roles.

## Possible Implementation

## Context

Create common-library plugins.

[2022-03-17 16:44] pjungermann commented on #10183
I'm interested in awsS3, bitbucket, and github. I didn't start working on any of these yet, but I'm open to contributing. If anyone starts to work on these, would be great to share it here (to prevent double work).

[2022-03-17 16:48] Rugvip commented on #10278
Worth checking out whether the `remote` option works in this case indeed.

If not, I think a sensible way to implement this might be to extend the `ConfigTarget` type in the loader. Potentially something like this?

[code]

By making it a config that you pass in rather appending to the returned `AppConfig`s we run the transforms on the provided config as well, allowing you use use env var substitu

[2022-03-17 16:56] Rugvip commented on #10283
Note that `create-plugin` is being replaced by just `create`, but the request still stands :grin:

Common library plugins happens to be supported though: `yarn backstage-cli create --select plugin-common`

[2022-03-17 16:59] jamieklassen opened #10284 "[kubernetes/kubernetes-backend plugins] generic OIDC auth provider"
## Feature Suggestion

Let's generalize the `google` auth provider to work with any OIDC server!

## Possible Implementation

### Values-file structure

What I can imagine is an app-config a bit like

[code]

here I'd like the `clusters` entry could be smart enough to allow any of the existing OIDC-compatible providers (like `auth0`, `gitlab`, etc) to be specified.

#### Overlap with `google` (i.e

[2022-03-17 18:15] benader1 commented on #10280
we are using Atlassian Bitbucket v7.15.3

Error log from the server where Backstage is hosted:

[1] 2022-03-17T17:31:48.203Z catalog warn Processor BuiltinKindsEntityProcessor threw an error while validating the entity; caused by TypeError: /spec/definition should NOT have fewer than 1 characters - limit: 1 type=plugin entity=api:default/tests-api

[1] 2022-03-17T17:32:10.186Z catalog warn Process

[2022-03-17 19:08] pjungermann commented on #10280
As of
[code]
you seem to receive a 401 from the API.

Unfortunately, there is not more information in the logs

It fails at https://github.com/Bonial-International-GmbH/backstage/blob/31436ffcadc7d319cccd31d6c895594ac506f239/packages/backend-common/src/reading/BitbucketUrlReader.ts
https://github.com/backstage/backstage/blob/31436ffcadc7d319cccd31d6c895594ac506f239/packages/backend-common/src/read

[2022-03-17 19:11] pjungermann commented on #9896
FYI: #10183 - maybe you want to consider this right from the start for the discovery here.

[2022-03-17 19:14] pjungermann commented on #10283
Thanks @Rugvip . Somehow was not aware of create vs create-plugin. Just overlooked it. Is there any gap still then or should this issue be closed?

[2022-03-17 20:03] manuelstein commented on #8671
Such a well documented bug, thank you, @esphen! Also, I was facing the same issue, so I took my chances and just proposed a PR with a fix, @freben

[2022-03-17 20:09] ananthulasrikar opened #10289 "[Plugin] Kubecost"
## Summary

Kubecost has lot of cost analysis across namespaces, labels etc. It would be great if kubecost cost plugin is developed its easy to install independent of the cloud platforms

## Project website (if applicable)

https://www.kubecost.com/
https://github.com/kubecost/cost-model - Open Source

## Context

[2022-03-17 20:11] blaryjp commented on #10278
Yes, it can have any implementation. In my case, it should be something like: connect to Vault, get secrets, create an object matching the app-config shema with secrets, and return it.

A possible implementation can be (regarding [this article](https://codersociety.com/blog/articles/hashicorp-vault-node):

[code]

Btw, I like your solution @Rugvip !

[2022-03-17 22:57] tarkil commented on #8074
I have the same problem. However, I found a "workaround". I set  _backend.workingDirectory_ in _app-config.yaml_ to another directory with the right permissions.

[2022-03-17 23:42] regicsolutions commented on #10289
Looks like there is already a plugin out there for kubecost:

https://github.com/BESTSELLER/backstage-plugin-kubecost

[2022-03-18 03:51] testn opened #10295 "@codemirror/basic-setup conflict when upgrading from 0.71.1 to 1.0.0"
## Expected Behavior
Upgrading 0.71.1 -> 1.0.0 should be smooth and error free

## Actual Behavior
[code]

## Steps to Reproduce

Upgrade from 0.71.1 to 1.0.0 using

`yarn backstage-cli versions:bump`

## Context

## Your Environment

- Browser Information:

- Output of `yarn backstage-cli info`:

[code]

[2022-03-18 06:32] anicke commented on #9896
Thanks! You saved me some effort. I have already written a gerrit discovery (of the old "built in" type) and just started porting it to a "discovery plugin". I'll create a EntityProvider instead.

[2022-03-18 06:55] testn commented on #10295
@freben it looks like there is something weird with registry.npmjs.org where the latest version is a bit off in some cache for @backstage/plugin-techdocs. Is it possible for you to re-publish?

[code]

[2022-03-18 08:09] Rugvip commented on #10295
The `@codemirror` conflict is because of duplicate versions of those packages being incompatible. The duplication shows up in the first place because it was added as a dependency of the scaffolder plugin in the most recent release. Tbh there's not a lot we can do from our side except try to downgrade our dependencies to fit some of the existing usage.

To solve the problem you need to deduplicate

[2022-03-18 08:11] Rugvip commented on #10295
Regarding [`@backstage/plugin-techdocs`](https://www.npmjs.com/package/@backstage/plugin-techdocs), that looks alright on NPM. Perhaps it's an intentional delay of package versions on your end?

[2022-03-18 08:13] Crevil commented on #10295
Thanks @Rugvip . Just removing the locked version fixed it here 🙏

[2022-03-18 08:14] testn commented on #10295
re: @backstage/plugin-techdocs, It looks good now.
re: plugin, I just removed all codemirror and it works now.

[2022-03-18 08:14] #10295 closed

[2022-03-18 08:18] testn commented on #10295
BTW, some of the upgrades did change all the dependency, should I update that manually?>

<img width="1411" alt="image" src="https://user-images.githubusercontent.com/445123/158962812-e1befe6a-a62f-4701-a26a-4eafc06f053a.png">

[2022-03-18 08:23] Rugvip commented on #10295
@testn Nope any version bumps of `@backstage` packages you don't need to do manually, as they're handled by `yarn backstage-cli versions:bump`

[2022-03-18 08:24] testn commented on #10295
I did that already but it did not have the exact same version as when I did npx @backstage/create-app

[2022-03-18 08:28] testn commented on #10295
Oops sorry @Rugvip  .... I pasted in the wrong screenshots. It should be

Frontend
<img width="1341" alt="image" src="https://user-images.githubusercontent.com/445123/158964138-107b66af-85eb-4c0b-8f80-0771e2afb410.png">

Backend

<img width="1297" alt="image" src="https://user-images.githubusercontent.com/445123/158964289-0a841129-0cd7-4074-bae5-af699d215d80.png">

[2022-03-18 08:34] Rugvip commented on #10295
Ah `versions:bump` skips bumping in `package.json` if its not necessary, and instead just modifies `yarn.lock`. So it wouldn't for example write a patch bump to `package.json` as that's already within range. That's just to reduce noise and merge conflicts a bit.

[2022-03-18 08:36] testn commented on #10295
Ah thanks. That kinda explains it... It was a bit confusing indeed. I noticed that `yarn.lock` is not exactly the same so I thought it was caused by `package.json`

[2022-03-18 09:55] pjungermann opened #10302 "[versions:bump] patch level diff with upgrade helper"
## Expected Behavior

When using `backstage-cli versions:bump`
and then checking all changes at https://backstage.github.io/upgrade-helper/
all dependency versions used are the same.

## Actual Behavior

When using `backstage-cli versions:bump`
and then checking all changes at https://backstage.github.io/upgrade-helper/
so far I always had differences for some dependencies, usually at patch level.

[2022-03-18 10:01] Rugvip opened #10303 "Missing documentation for generic auth providers"
## Expected Behavior

The [auth docs section](https://backstage.io/docs/auth/) should contain documentation for how to set up the OAuth2 and OIDC providers.

## Actual Behavior

The documentation does not exist

## Context

The generic providers are different from the other ones in that they don't have a dedicated `ApiRef` in the frontend, and you likely want to set them up with a custom provider

[2022-03-18 10:04] Rugvip commented on #10302
The `backstage-cli versions:bump` command avoids modifying `package.json` if it doesn't need to. Idea is to avoid noise and merge conflicts. It would be pretty simple to change it to always bump `package.json` entries too, but not sure that's the correct fix.

A feature we have in mind for the upgrade helper is to filter out all of the dependency changes that would anyway be handled by `versions:b